{
  "swagger": "2.0",
  "info": {
    "title": "FactSet",
    "description": "Automate your workflows using the FactSet Connector to stay on top of relevant news and events for companies of interest, highlight important topics to drive your discussions, prepare for meetings, and more.",
    "contact": {
      "name": "FactSet Workflow Automation Support",
      "url": "https://www.factset.com/",
      "email": "WorkflowAutomation@factset.com"
    },
    "version": "1.1"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.factset.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.factset.com/legal"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Data"
    }
  ],
  "host": "api.factset.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/signals/v2/events/headlines": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "requestId": {
                        "type": "string",
                        "description": "Request ID"
                      },
                      "signalId": {
                        "type": "string",
                        "description": "Signal ID"
                      },
                      "signalName": {
                        "type": "string",
                        "description": "Signal Name"
                      },
                      "theme": {
                        "type": "string",
                        "description": "Signal Theme"
                      },
                      "source": {
                        "type": "string",
                        "description": "Signal Source"
                      },
                      "eventId": {
                        "type": "string",
                        "description": "Signal Event ID"
                      },
                      "eventDate": {
                        "type": "string",
                        "description": "Signal Event Date"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Signal Summary"
                      },
                      "userRelevanceScore": {
                        "type": "number",
                        "format": "float",
                        "description": "User Relevance Score"
                      },
                      "created": {
                        "type": "string",
                        "description": "Created Date"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "signalRequestId": {
                      "type": "string",
                      "description": "Signal Request ID"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Sort"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total Signals"
                        },
                        "isEstimatedTotal": {
                          "type": "boolean",
                          "description": "Estimated Total"
                        }
                      },
                      "description": "Pagination"
                    },
                    "idResolutions": {
                      "type": "object",
                      "properties": {
                        "tickerRegion": {
                          "type": "object",
                          "properties": {
                            "additionalProp1": {
                              "type": "string",
                              "description": "Additional Properties 1"
                            },
                            "additionalProp2": {
                              "type": "string",
                              "description": "Additional Properties 2"
                            },
                            "additionalProp3": {
                              "type": "string",
                              "description": "Additional Properties 3"
                            }
                          },
                          "description": "Ticker Region"
                        },
                        "regionalPermId": {
                          "type": "object",
                          "properties": {
                            "additionalProp1": {
                              "type": "string",
                              "description": "Additional Properties 1"
                            },
                            "additionalProp2": {
                              "type": "string",
                              "description": "Additional Properties 2"
                            },
                            "additionalProp3": {
                              "type": "string",
                              "description": "Additional Properties 3"
                            }
                          },
                          "description": "Regional Perm Id"
                        }
                      },
                      "description": "Signal ID Resolutions"
                    },
                    "dateRange": {
                      "type": "object",
                      "properties": {
                        "created": {
                          "type": "object",
                          "properties": {
                            "gt": {
                              "type": "string",
                              "description": "Greater Than"
                            }
                          },
                          "description": "Created Date"
                        },
                        "updated": {
                          "type": "object",
                          "properties": {
                            "gt": {
                              "type": "string",
                              "description": "Greater Than"
                            }
                          },
                          "description": "Updated Date"
                        }
                      },
                      "description": "Date Range"
                    }
                  },
                  "description": "meta"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Error ID"
                      },
                      "code": {
                        "type": "string",
                        "description": "Error Code"
                      },
                      "title": {
                        "type": "string",
                        "description": "Error Title"
                      },
                      "detail": {
                        "type": "string",
                        "description": "Error Detail"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "parameter"
                          }
                        },
                        "description": "source"
                      }
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        },
        "summary": "Signals - Headlines",
        "operationId": "GetHeadlines",
        "parameters": [
          {
            "name": "created[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Lower bound for filtering by created date. Example, 2021-01-01T00:00:00.000Z",
            "format": "date-time",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Created Date Greater Than"
          },
          {
            "name": "created[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upper bound for filtering by created date. Example, 2021-01-01T00:00:00.000Z",
            "format": "date-time",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Created Date Less Than"
          },
          {
            "name": "signalIds",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of signals",
            "x-ms-summary": "Signal IDs"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Comma delimited string of identifiers. An identifier can be a ticker, FactSet entity id, CUSIP or ISIN",
            "x-ms-summary": "IDs"
          },
          {
            "name": "userRelevanceScore[gt]",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Lower bound for filtering by userRelevanceScore",
            "format": "float",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User Relevance Score Greater Than"
          },
          {
            "name": "userRelevanceScore[lt]",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Upper bound for filtering by userRelevanceScore",
            "format": "float",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User Relevance Score Less Than"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "-userRelevanceScore,-eventDate",
            "description": "Comma delimited string of sortable attributes",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Sort"
          },
          {
            "name": "userRelevanceScore[gte]",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Greater than or equal to userRelevanceScore",
            "format": "float",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "User Relevance Score Greater Than Or Equal To"
          },
          {
            "name": "userRelevanceScore[lte]",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Less than or equal to userRelevanceScore",
            "x-ms-visibility": "advanced",
            "format": "float",
            "x-ms-summary": "User Relevance Score Less Than Or Equal To"
          },
          {
            "name": "updated[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Lower bound for filtering by update date. Example, 2021-01-01T00:00:00.000Z",
            "format": "date-time",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Update Date Greater Than"
          },
          {
            "name": "updated[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upper bound for filtering by update date. Example, 2021-01-01T00:00:00.000Z",
            "format": "date-time",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Update Date Less Than"
          },
          {
            "name": "created[gte]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Greater than or equal to create date. Example, 2021-01-01T00:00:00.000Z",
            "format": "date-time",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Created Date Greater Than or Equal To"
          },
          {
            "name": "updated[gte]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Greater than or equal to update date. Example, 2021-01-01T00:00:00.000Z",
            "format": "date-time",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Update Date Greater Than or Equal To"
          },
          {
            "name": "created[lte]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Less than or equal to create date. Example, 2021-01-01T00:00:00.000Z",
            "x-ms-visibility": "advanced",
            "format": "date-time",
            "x-ms-summary": "Create Date Less Than or Equal To"
          },
          {
            "name": "updated[lte]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Less than or equal to update date. Example, 2021-01-01T00:00:00.000Z",
            "format": "date-time",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Update Date Less Than or Equal To"
          },
          {
            "name": "portfolios",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Name of a portfolio file stored by FactSet",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Portfolios"
          },
          {
            "name": "themes",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of theme ids",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Themes"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of categories",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Categories"
          }
        ],
        "description": "Fetch Signals event headlines based on the filtering criteria"
      }
    },
    "/signals/v2/events/details": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "requestId": {
                        "type": "string",
                        "description": "Request ID"
                      },
                      "signalId": {
                        "type": "string",
                        "description": "Signal ID"
                      },
                      "signalName": {
                        "type": "string",
                        "description": "Signal Name"
                      },
                      "theme": {
                        "type": "string",
                        "description": "Signal Theme"
                      },
                      "source": {
                        "type": "string",
                        "description": "Signal Source"
                      },
                      "eventId": {
                        "type": "string",
                        "description": "Signal Event ID"
                      },
                      "eventDate": {
                        "type": "string",
                        "description": "Signal Event Date"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Signal Summary"
                      },
                      "userRelevanceScore": {
                        "type": "number",
                        "format": "float",
                        "description": "User Relevance Score"
                      },
                      "created": {
                        "type": "string",
                        "description": "Created Date"
                      },
                      "updated": {
                        "type": "string",
                        "description": "Updated Date"
                      },
                      "details": {
                        "type": "object",
                        "properties": {
                          "additionalProp1": {
                            "type": "object",
                            "properties": {},
                            "description": "Additional Properties 1"
                          }
                        },
                        "description": "Signal Details"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "signalRequestId": {
                      "type": "string",
                      "description": "Signal Request ID"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Sort"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total Signals"
                        },
                        "isEstimatedTotal": {
                          "type": "boolean",
                          "description": "Estimated Total"
                        }
                      },
                      "description": "pagination"
                    },
                    "idResolutions": {
                      "type": "object",
                      "properties": {
                        "tickerRegion": {
                          "type": "object",
                          "properties": {
                            "additionalProp1": {
                              "type": "string",
                              "description": "Additional Properties 1"
                            },
                            "additionalProp2": {
                              "type": "string",
                              "description": "Additional Properties 2"
                            },
                            "additionalProp3": {
                              "type": "string",
                              "description": "Additional Properties 3"
                            }
                          },
                          "description": "Ticker Region"
                        },
                        "regionalPermId": {
                          "type": "object",
                          "properties": {
                            "additionalProp1": {
                              "type": "string",
                              "description": "Additional Properties 1"
                            },
                            "additionalProp2": {
                              "type": "string",
                              "description": "Additional Properties 2"
                            },
                            "additionalProp3": {
                              "type": "string",
                              "description": "Additional Properties 3"
                            }
                          },
                          "description": "Regional Perm Id"
                        }
                      },
                      "description": "Signal ID Resolutions"
                    },
                    "dateRange": {
                      "type": "object",
                      "properties": {
                        "created": {
                          "type": "object",
                          "properties": {
                            "gt": {
                              "type": "string",
                              "description": "Greater Than"
                            }
                          },
                          "description": "Created Date"
                        },
                        "updated": {
                          "type": "object",
                          "properties": {
                            "gt": {
                              "type": "string",
                              "description": "Greater Than"
                            }
                          },
                          "description": "Updated Date"
                        }
                      },
                      "description": "Date Range"
                    }
                  },
                  "description": "meta"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Error ID"
                      },
                      "code": {
                        "type": "string",
                        "description": "Error Code"
                      },
                      "title": {
                        "type": "string",
                        "description": "Error Title"
                      },
                      "detail": {
                        "type": "string",
                        "description": "Error Detail"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "parameter"
                          }
                        },
                        "description": "Error Source"
                      }
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        },
        "summary": "Signals - Details",
        "operationId": "GetDetails",
        "parameters": [
          {
            "name": "signalIds",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Signal IDs",
            "description": "Comma delimited list of signals"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited string of identifiers. An identifier can be a ticker, FactSet entity id, CUSIP or ISIN.",
            "x-ms-summary": "IDs",
            "x-ms-visibility": "important"
          },
          {
            "name": "userRelevanceScore[gt]",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-summary": "User Relevance Score Greater Than",
            "description": "Lower bound for filtering by userRelevanceScore. Example, 2021-01-01T00:00:00.000Z",
            "x-ms-visibility": "advanced",
            "format": "float"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "-userRelevanceScore,-eventDate",
            "description": "Comma delimited string of sortable attributes.",
            "x-ms-summary": "Sort",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "userRelevanceScore[lt]",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Upper bound for filtering by userRelevanceScore",
            "x-ms-summary": "User Relevance Score Less Than",
            "x-ms-visibility": "advanced",
            "format": "float"
          },
          {
            "name": "userRelevanceScore[lte]",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Less Than or Equal User Relevance Score",
            "x-ms-summary": "User Relevance Score Less Than or Equal",
            "x-ms-visibility": "advanced",
            "format": "float"
          },
          {
            "name": "userRelevanceScore[gte]",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "Greater Than or Equal User Relevance Score",
            "x-ms-summary": "User Relevance Score Greater Than Or Equal To",
            "format": "float",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "updated[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Update Date Greater Than",
            "description": "Lower bound for filtering by Update Date. Example, 2021-01-01T00:00:00.000Z",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upper bound for filtering by Update Date. Example, 2021-01-01T00:00:00.000Z",
            "x-ms-summary": "Update Date Less Than",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "created[gte]",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "format": "date-time",
            "description": "Greater Than or Equal to Create Date. Example, 2021-01-01T00:00:00.000Z",
            "x-ms-summary": "Created Date Greater Than or Equal To"
          },
          {
            "name": "updated[gte]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Update Date Greater Than or Equal To",
            "description": "Greater Than or Equal to Update Date. Example, 2021-01-01T00:00:00.000Z"
          },
          {
            "name": "created[lte]",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "format": "date-time",
            "description": "Less Than or Equal to Created Date. Example, 2021-01-01T00:00:00.000Z",
            "x-ms-summary": "Created Date Less Than or Equal to"
          },
          {
            "name": "updated[lte]",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Update Date Less Than or Equal To",
            "description": "Less than or equal to Update Date. Example, 2021-01-01T00:00:00.000Z",
            "format": "date-time",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "portfolios",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Name of a portfolio file stored by FactSet.",
            "x-ms-summary": "Portfolios"
          },
          {
            "name": "themes",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "Comma delimited string of theme ids.",
            "x-ms-summary": "Themes"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited string of category ids.",
            "x-ms-summary": "Categories",
            "x-ms-visibility": "advanced"
          }
        ],
        "description": "Fetch Signals event headlines plus all additional event details based on the filtering criteria"
      }
    },
    "/signals/v2/events/adaptive-cards": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "requestId": {
                        "type": "string",
                        "description": "Request ID"
                      },
                      "signalId": {
                        "type": "string",
                        "description": "Signal ID"
                      },
                      "adaptiveCard": {
                        "type": "object",
                        "properties": {
                          "additionalProp1": {
                            "type": "object",
                            "properties": {},
                            "description": "Additional Properties 1"
                          }
                        },
                        "description": "Signals Adaptive Card"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "signalRequestId": {
                      "type": "string",
                      "description": "Signal Request ID"
                    },
                    "sort": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Sort"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total Signals"
                        },
                        "isEstimatedTotal": {
                          "type": "boolean",
                          "description": "Estimated Total"
                        }
                      },
                      "description": "pagination"
                    },
                    "idResolutions": {
                      "type": "object",
                      "properties": {
                        "tickerRegion": {
                          "type": "object",
                          "properties": {
                            "additionalProp1": {
                              "type": "string",
                              "description": "Additional Properties 1"
                            },
                            "additionalProp2": {
                              "type": "string",
                              "description": "Additional Properties 2"
                            },
                            "additionalProp3": {
                              "type": "string",
                              "description": "Additional Properties 3"
                            }
                          },
                          "description": "Ticker Region"
                        },
                        "regionalPermId": {
                          "type": "object",
                          "properties": {
                            "additionalProp1": {
                              "type": "string",
                              "description": "Additional Properties 1"
                            },
                            "additionalProp2": {
                              "type": "string",
                              "description": "Additional Properties 2"
                            },
                            "additionalProp3": {
                              "type": "string",
                              "description": "Additional Properties 3"
                            }
                          },
                          "description": "Regional Perm ID"
                        }
                      },
                      "description": "Signal ID Resolutions"
                    },
                    "dateRange": {
                      "type": "object",
                      "properties": {
                        "created": {
                          "type": "object",
                          "properties": {
                            "gt": {
                              "type": "string",
                              "description": "Greater Than"
                            }
                          },
                          "description": "Created Date"
                        },
                        "updated": {
                          "type": "object",
                          "properties": {
                            "gt": {
                              "type": "string",
                              "description": "Greater Than"
                            }
                          },
                          "description": "Updated Date"
                        }
                      },
                      "description": "Date Range"
                    }
                  },
                  "description": "meta"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Error ID"
                      },
                      "code": {
                        "type": "string",
                        "description": "Error Code"
                      },
                      "title": {
                        "type": "string",
                        "description": "Error Title"
                      },
                      "detail": {
                        "type": "string",
                        "description": "Error Detail"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "parameter": {
                            "type": "string",
                            "description": "parameter"
                          }
                        },
                        "description": "Error Source"
                      }
                    }
                  },
                  "description": "Errors"
                }
              }
            }
          }
        },
        "summary": "Signals - Adaptive Card",
        "operationId": "GetAdaptiveCard",
        "parameters": [
          {
            "name": "signalIds",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of signals",
            "x-ms-summary": "Signal IDs"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "IDs",
            "description": "Comma delimited string of identifiers.",
            "x-ms-visibility": "important"
          },
          {
            "name": "userRelevanceScore[gt]",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-summary": "User Relevance Score Greater Than",
            "description": "Lower bound for filtering by userRelevanceScore",
            "x-ms-visibility": "advanced",
            "format": "float"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "-userRelevanceScore,-eventDate",
            "x-ms-summary": "Sort",
            "description": "Comma delimited string of sortable attributes.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "userRelevanceScore[lt]",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-summary": "User Relevance Score Less Than",
            "description": "Upper bound for filtering by userRelevanceScore",
            "x-ms-visibility": "advanced",
            "format": "float"
          },
          {
            "name": "userRelevanceScore[lte]",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-summary": "User Relevance Score Less Than Or Equal To",
            "description": "Less than or equal to userRelevanceScore",
            "x-ms-visibility": "advanced",
            "format": "float"
          },
          {
            "name": "userRelevanceScore[gte]",
            "in": "query",
            "required": false,
            "type": "number",
            "x-ms-visibility": "advanced",
            "format": "float",
            "x-ms-summary": "Greater than or equal to userRelevanceScore",
            "description": "User Relevance Score Greater Than Or Equal To"
          },
          {
            "name": "updated[gt]",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Update Date Greater Than",
            "description": "Lower bound for filtering by Update Date. Example, 2021-01-01T00:00:00.000Z"
          },
          {
            "name": "updated[lt]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upper bound for filtering by Update Date. Example, 2021-01-01T00:00:00.000Z",
            "x-ms-summary": "Update Date Less Than",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "created[gte]",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Created Date Greater Than or Equal To",
            "description": "Greater than or equal to create date. Example, 2021-01-01T00:00:00.000Z",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated[gte]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Greater than or equal to update date. Example, 2021-01-01T00:00:00.000Z",
            "x-ms-summary": "Update Date Greater Than or Equal To",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "created[lte]",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Create Date Less Than or Equal To",
            "description": "Less than or equal to create date. Example, 2021-01-01T00:00:00.000Z",
            "x-ms-visibility": "advanced",
            "format": "date-time"
          },
          {
            "name": "updated[lte]",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "format": "date-time",
            "x-ms-summary": "Update Date Less Than or Equal To",
            "description": "Less than or equal to update date. Example, 2021-01-01T00:00:00.000Z"
          },
          {
            "name": "portfolios",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Portfolios",
            "description": "Name of a portfolio file stored by FactSet",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "themes",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited string of theme ids.",
            "x-ms-summary": "Themes",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "categories",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited string of category ids.",
            "x-ms-summary": "Categories",
            "x-ms-visibility": "advanced"
          }
        ],
        "description": "Fetch Microsoft's Adaptive Cards, which includes headlines and event details data plus hyperlinks to FactSet reports, based on the filtering criteria"
      }
    },
    "/cognitive/nlp/v1/ner/entities": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "entities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Entity Type"
                      },
                      "text": {
                        "type": "string",
                        "description": "Entity Text"
                      },
                      "startChar": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Start Char"
                      },
                      "endChar": {
                        "type": "integer",
                        "format": "int32",
                        "description": "End Char"
                      },
                      "lookupText": {
                        "type": "string",
                        "description": "Lookup Text"
                      },
                      "entityId": {
                        "type": "string",
                        "description": "Entity ID"
                      },
                      "lookupUrl": {
                        "type": "string",
                        "description": "Lookup URL"
                      },
                      "associatedOrgs": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Entity Name"
                            },
                            "entityId": {
                              "type": "string",
                              "description": "Entity ID"
                            },
                            "lookupUrl": {
                              "type": "string",
                              "description": "Lookup URL"
                            }
                          }
                        },
                        "description": "Associated Orgs"
                      }
                    }
                  },
                  "description": "Entities"
                }
              }
            }
          }
        },
        "summary": "NER - Entities",
        "operationId": "NEREntities",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "English plain-text from which entities should be retrieved. Maximum of 10,000 characters",
                      "x-ms-summary": "Text"
                    },
                    "enableIdLookup": {
                      "type": "boolean",
                      "description": "Retrieve Entity IDs using FactSet concordance systems.",
                      "x-ms-summary": "Enable Entity ID Lookup"
                    },
                    "filterEntities": {
                      "description": "Drop potentially spurious entities based on filtering rules.",
                      "type": "boolean",
                      "x-ms-summary": "Filter Entities"
                    }
                  }
                }
              }
            }
          }
        ],
        "description": "Extract named entities from document text."
      }
    },
    "/book-builder-api/v1/book-list": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "bookID": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Book ID"
                  },
                  "book_name": {
                    "type": "string",
                    "description": "Book Name"
                  },
                  "created_on": {
                    "type": "string",
                    "description": "Created Date"
                  }
                }
              }
            }
          }
        },
        "summary": "BookBuilder - Get Book List",
        "description": "Retrieves the list of books that were previously created and are available in the client's book library",
        "operationId": "GetBookList",
        "parameters": []
      }
    },
    "/book-builder-api/v1/template-list": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "description": "Template ID"
                  },
                  "template_name": {
                    "type": "string",
                    "description": "Template Name"
                  },
                  "created_on": {
                    "type": "string",
                    "description": "Created Date"
                  },
                  "template_source": {
                    "type": "string",
                    "description": "Template Source"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "BookBuilder - Get Template List",
        "operationId": "GetTemplateList",
        "parameters": [],
        "description": "A template is a predefined list of content to be compiled in a PDF. This end point works without any parameters and retrieves the list of templates available for the user. Templates need to defined/created in FactSet workstation."
      }
    },
    "/book-builder-api/v1/create-book-from-template": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Download Status"
                },
                "bookName": {
                  "type": "string",
                  "description": "Book Name"
                },
                "bookID": {
                  "type": "string",
                  "description": "Book ID"
                }
              }
            }
          }
        },
        "summary": "BookBuilder - Create Book from Template",
        "description": "This endpoint retrieves book status, book name, and book ID for ticker requested in JSON format. This end-point accepts ticker and template_id as inputs. If the template_id input is not used, a book will be created with FactSet's default template.",
        "operationId": "CreateBookFromTemplate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ticker": {
                  "type": "string",
                  "description": "Ticker"
                },
                "template_id": {
                  "type": "string",
                  "description": "Template ID"
                }
              }
            },
            "x-ms-summary": "Body",
            "description": "."
          }
        ]
      }
    },
    "/book-builder-api/v1/download-api-book/{book_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "BookBuilder - Get PDF",
        "description": "This endpoint will return the PDF output given a book_id.",
        "operationId": "GetPDF",
        "parameters": [
          {
            "name": "book_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Book ID",
            "description": "ID of the book to download"
          }
        ]
      }
    },
    "/content/symbology/v3/identifier-resolution": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "requestId": {
                        "type": "string",
                        "description": "Identifier inputted in the request."
                      },
                      "inputSymbolType": {
                        "type": "string",
                        "description": "The type of identifier inputted in the request"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the requested identifier"
                      },
                      "frefListingExchange": {
                        "type": "string",
                        "description": "The 3 digit fref exchange code for the primary exchange of the security"
                      },
                      "< * >": {
                        "type": "string",
                        "description": "The Key in the Key-Value pair is the name of the requested outputSymbolType. The Value in the Key-Value is the requestId translated to the outputSymbolType."
                      }
                    }
                  },
                  "description": "Response object for Identifier Resolution endpoint."
                }
              }
            }
          }
        },
        "summary": "Symbology API",
        "description": "Translate Entity ID and market security symbols into FactSet Permanent Security Identifiers.",
        "operationId": "GetSymbology",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Requested security or entity identifiers. All requested identifiers must be of the same type.",
            "x-ms-summary": "IDs"
          },
          {
            "name": "inputSymbolType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The type of symbol being inputted. Only one type of symbol is accepted with each request.",
            "x-ms-summary": "Input Symbol Type"
          },
          {
            "name": "outputSymbolTypes",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The type of symbols being outputted. Multiple types of symbols can be outputted with each request. The user must be authorized for the requested identifier type.",
            "x-ms-summary": "Output Symbol Types"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.factset.com/as/authorization.oauth2",
      "tokenUrl": "https://auth.factset.com/as/token.oauth2",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}