{
  "swagger": "2.0",
  "info": {
    "title": "The Color",
    "description": "The Color service allows you to pass in any valid color and get conversions into any other format, the name of the color, placeholder images and a multitude of schemes.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.thecolorapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/id": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "hex": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "clean": {
                      "type": "string",
                      "description": "The value with no special character.",
                      "title": "Clean"
                    }
                  },
                  "title": "Hex"
                },
                "rgb": {
                  "type": "object",
                  "properties": {
                    "fraction": {
                      "type": "object",
                      "properties": {
                        "r": {
                          "type": "number",
                          "format": "float",
                          "description": "The R value.",
                          "title": "R"
                        },
                        "g": {
                          "type": "number",
                          "format": "float",
                          "description": "The G value.",
                          "title": "G"
                        },
                        "b": {
                          "type": "number",
                          "format": "float",
                          "description": "The B value.",
                          "title": "B"
                        }
                      },
                      "title": "Fraction"
                    },
                    "r": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The R value.",
                      "title": "R"
                    },
                    "g": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The G value.",
                      "title": "G"
                    },
                    "b": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The B value.",
                      "title": "B"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    }
                  },
                  "title": "RGB"
                },
                "hsl": {
                  "type": "object",
                  "properties": {
                    "fraction": {
                      "type": "object",
                      "properties": {
                        "h": {
                          "type": "number",
                          "format": "float",
                          "description": "The H value.",
                          "title": "H"
                        },
                        "s": {
                          "type": "number",
                          "format": "float",
                          "description": "The S value.",
                          "title": "S"
                        },
                        "l": {
                          "type": "number",
                          "format": "float",
                          "description": "The L value.",
                          "title": "L"
                        }
                      },
                      "title": "Fraction"
                    },
                    "h": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The H value.",
                      "title": "H"
                    },
                    "s": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The S value.",
                      "title": "S"
                    },
                    "l": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The L value.",
                      "title": "L"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    }
                  },
                  "title": "HSL"
                },
                "hsv": {
                  "type": "object",
                  "properties": {
                    "fraction": {
                      "type": "object",
                      "properties": {
                        "h": {
                          "type": "number",
                          "format": "float",
                          "description": "The H value.",
                          "title": "H"
                        },
                        "s": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The S value.",
                          "title": "S"
                        },
                        "v": {
                          "type": "number",
                          "format": "float",
                          "description": "The V value.",
                          "title": "V"
                        }
                      },
                      "title": "Fraction"
                    },
                    "h": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The H value.",
                      "title": "H"
                    },
                    "s": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The S value.",
                      "title": "S"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "v": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The V value.",
                      "title": "V"
                    }
                  },
                  "title": "HSV"
                },
                "name": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "closest_named_hex": {
                      "type": "string",
                      "description": "The closest named hex color.",
                      "title": "Closest Named Hex"
                    },
                    "exact_match_name": {
                      "type": "boolean",
                      "description": "Whether the exact match is named.",
                      "title": "Exact Match Name"
                    },
                    "distance": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The distance.",
                      "title": "Distance"
                    }
                  },
                  "title": "Name"
                },
                "cmyk": {
                  "type": "object",
                  "properties": {
                    "fraction": {
                      "type": "object",
                      "properties": {
                        "c": {
                          "type": "number",
                          "format": "float",
                          "description": "The C value.",
                          "title": "C"
                        },
                        "m": {
                          "type": "number",
                          "format": "float",
                          "description": "The M value.",
                          "title": "M"
                        },
                        "y": {
                          "type": "number",
                          "format": "float",
                          "description": "The Y value.",
                          "title": "Y"
                        },
                        "k": {
                          "type": "number",
                          "format": "float",
                          "description": "The K value.",
                          "title": "K"
                        }
                      },
                      "title": "Fraction"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "c": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The C value.",
                      "title": "C"
                    },
                    "m": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The M value.",
                      "title": "M"
                    },
                    "y": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The Y value.",
                      "title": "Y"
                    },
                    "k": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The K value.",
                      "title": "K"
                    }
                  },
                  "title": "CMYK"
                },
                "XYZ": {
                  "type": "object",
                  "properties": {
                    "fraction": {
                      "type": "object",
                      "properties": {
                        "X": {
                          "type": "number",
                          "format": "float",
                          "description": "The X value.",
                          "title": "X"
                        },
                        "Y": {
                          "type": "number",
                          "format": "float",
                          "description": "The Y value.",
                          "title": "Y"
                        },
                        "Z": {
                          "type": "number",
                          "format": "float",
                          "description": "The Z value.",
                          "title": "Z"
                        }
                      },
                      "title": "Fraction"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    },
                    "X": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The X value.",
                      "title": "X"
                    },
                    "Y": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The Y value.",
                      "title": "Y"
                    },
                    "Z": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The Z value.",
                      "title": "Z"
                    }
                  },
                  "title": "XYZ"
                },
                "image": {
                  "type": "object",
                  "properties": {
                    "bare": {
                      "type": "string",
                      "description": "The bare value.",
                      "title": "Bare"
                    },
                    "named": {
                      "type": "string",
                      "description": "The named value.",
                      "title": "Named"
                    }
                  },
                  "title": "Image"
                },
                "contrast": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    }
                  },
                  "title": "Contrast"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The href.",
                          "title": "Href"
                        }
                      },
                      "title": "Self"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Get color",
        "description": "Return available identifying information on the given color.",
        "operationId": "ColorGet",
        "parameters": [
          {
            "name": "hex",
            "in": "query",
            "x-ms-summary": "Hex",
            "description": "The hex value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rgb",
            "in": "query",
            "x-ms-summary": "RGB",
            "description": "The RGB value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hsl",
            "in": "query",
            "x-ms-summary": "HSL",
            "description": "The HSL value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cmyk",
            "in": "query",
            "x-ms-summary": "CMYK",
            "description": "The CMYK value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "description": "The format.",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/scheme": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "mode": {
                  "type": "string",
                  "description": "The mode.",
                  "title": "Mode"
                },
                "count": {
                  "type": "string",
                  "description": "The count.",
                  "title": "Count"
                },
                "colors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "hex": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "clean": {
                            "type": "string",
                            "description": "The value without special character.",
                            "title": "Clean"
                          }
                        },
                        "title": "Hex"
                      },
                      "rgb": {
                        "type": "object",
                        "properties": {
                          "fraction": {
                            "type": "object",
                            "properties": {
                              "r": {
                                "type": "number",
                                "format": "float",
                                "description": "The R value.",
                                "title": "R"
                              },
                              "g": {
                                "type": "number",
                                "format": "float",
                                "description": "The G value.",
                                "title": "G"
                              },
                              "b": {
                                "type": "number",
                                "format": "float",
                                "description": "The B value.",
                                "title": "B"
                              }
                            },
                            "title": "Fraction"
                          },
                          "r": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The R value.",
                            "title": "R"
                          },
                          "g": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The G value.",
                            "title": "G"
                          },
                          "b": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The B value.",
                            "title": "B"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        },
                        "title": "RGB"
                      },
                      "hsl": {
                        "type": "object",
                        "properties": {
                          "fraction": {
                            "type": "object",
                            "properties": {
                              "h": {
                                "type": "number",
                                "format": "float",
                                "description": "The H value.",
                                "title": "H"
                              },
                              "s": {
                                "type": "number",
                                "format": "float",
                                "description": "The S value.",
                                "title": "S"
                              },
                              "l": {
                                "type": "number",
                                "format": "float",
                                "description": "The L value.",
                                "title": "L"
                              }
                            },
                            "title": "Fraction"
                          },
                          "h": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The H value.",
                            "title": "H"
                          },
                          "s": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The S value.",
                            "title": "S"
                          },
                          "l": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The L value.",
                            "title": "L"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        },
                        "title": "HSL"
                      },
                      "hsv": {
                        "type": "object",
                        "properties": {
                          "fraction": {
                            "type": "object",
                            "properties": {
                              "h": {
                                "type": "number",
                                "format": "float",
                                "description": "The H value.",
                                "title": "H"
                              },
                              "s": {
                                "type": "number",
                                "format": "float",
                                "description": "The S value.",
                                "title": "S"
                              },
                              "v": {
                                "type": "number",
                                "format": "float",
                                "description": "The V value.",
                                "title": "V"
                              }
                            },
                            "title": "Fraction"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "h": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The H value.",
                            "title": "H"
                          },
                          "s": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The S value.",
                            "title": "S"
                          },
                          "v": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The V value.",
                            "title": "V"
                          }
                        },
                        "title": "HSV"
                      },
                      "name": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "closest_named_hex": {
                            "type": "string",
                            "description": "The closest name hex value.",
                            "title": "Closest Named Hex"
                          },
                          "exact_match_name": {
                            "type": "boolean",
                            "description": "Whether the exact match is named.",
                            "title": "Exact Match Name"
                          },
                          "distance": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The distance.",
                            "title": "Distance"
                          }
                        },
                        "title": "Name"
                      },
                      "cmyk": {
                        "type": "object",
                        "properties": {
                          "fraction": {
                            "type": "object",
                            "properties": {
                              "c": {
                                "type": "number",
                                "format": "float",
                                "description": "The C value.",
                                "title": "C"
                              },
                              "m": {
                                "type": "number",
                                "format": "float",
                                "description": "The M value.",
                                "title": "M"
                              },
                              "y": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The Y value.",
                                "title": "Y"
                              },
                              "k": {
                                "type": "number",
                                "format": "float",
                                "description": "The K value.",
                                "title": "K"
                              }
                            },
                            "title": "Fraction"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "c": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The C value.",
                            "title": "C"
                          },
                          "m": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The M value.",
                            "title": "M"
                          },
                          "y": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The Y value.",
                            "title": "Y"
                          },
                          "k": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The K value.",
                            "title": "K"
                          }
                        },
                        "title": "CMYK"
                      },
                      "XYZ": {
                        "type": "object",
                        "properties": {
                          "fraction": {
                            "type": "object",
                            "properties": {
                              "X": {
                                "type": "number",
                                "format": "float",
                                "description": "The X value.",
                                "title": "X"
                              },
                              "Y": {
                                "type": "number",
                                "format": "float",
                                "description": "The Y value.",
                                "title": "Y"
                              },
                              "Z": {
                                "type": "number",
                                "format": "float",
                                "description": "The Z value.",
                                "title": "Z"
                              }
                            },
                            "title": "Fraction"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "X": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The X value.",
                            "title": "X"
                          },
                          "Y": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The Y value.",
                            "title": "Y"
                          },
                          "Z": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The Z value.",
                            "title": "Z"
                          }
                        },
                        "title": "XYZ"
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "bare": {
                            "type": "string",
                            "description": "The bare image.",
                            "title": "Bare"
                          },
                          "named": {
                            "type": "string",
                            "description": "The named image.",
                            "title": "Named"
                          }
                        },
                        "title": "Image"
                      },
                      "contrast": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        },
                        "title": "Contrast"
                      },
                      "_links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "The href.",
                                "title": "Href"
                              }
                            },
                            "title": "Self"
                          }
                        },
                        "title": "Links"
                      }
                    }
                  },
                  "title": "Colors"
                },
                "seed": {
                  "type": "object",
                  "properties": {
                    "hex": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "The value.",
                          "title": "Value"
                        },
                        "clean": {
                          "type": "string",
                          "description": "The value without special character.",
                          "title": "Clean"
                        }
                      },
                      "title": "Hex"
                    },
                    "rgb": {
                      "type": "object",
                      "properties": {
                        "fraction": {
                          "type": "object",
                          "properties": {
                            "r": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The R value.",
                              "title": "R"
                            },
                            "g": {
                              "type": "number",
                              "format": "float",
                              "description": "The G value.",
                              "title": "G"
                            },
                            "b": {
                              "type": "number",
                              "format": "float",
                              "description": "The B value.",
                              "title": "B"
                            }
                          },
                          "title": "Fraction"
                        },
                        "r": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The R value.",
                          "title": "R"
                        },
                        "g": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The G value.",
                          "title": "G"
                        },
                        "b": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The B value.",
                          "title": "B"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value.",
                          "title": "Value"
                        }
                      },
                      "title": "RGB"
                    },
                    "hsl": {
                      "type": "object",
                      "properties": {
                        "fraction": {
                          "type": "object",
                          "properties": {
                            "h": {
                              "type": "number",
                              "format": "float",
                              "description": "The H value.",
                              "title": "H"
                            },
                            "s": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The S value.",
                              "title": "S"
                            },
                            "l": {
                              "type": "number",
                              "format": "float",
                              "description": "The L value.",
                              "title": "L"
                            }
                          },
                          "title": "Fraction"
                        },
                        "h": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The H value.",
                          "title": "H"
                        },
                        "s": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The S value.",
                          "title": "S"
                        },
                        "l": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The L value.",
                          "title": "L"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value.",
                          "title": "Value"
                        }
                      },
                      "title": "HSL"
                    },
                    "hsv": {
                      "type": "object",
                      "properties": {
                        "fraction": {
                          "type": "object",
                          "properties": {
                            "h": {
                              "type": "number",
                              "format": "float",
                              "description": "The H value.",
                              "title": "H"
                            },
                            "s": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The S value.",
                              "title": "S"
                            },
                            "v": {
                              "type": "number",
                              "format": "float",
                              "description": "The V value.",
                              "title": "V"
                            }
                          },
                          "title": "Fraction"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value.",
                          "title": "Value"
                        },
                        "h": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The H value.",
                          "title": "H"
                        },
                        "s": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The S value.",
                          "title": "S"
                        },
                        "v": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The V value.",
                          "title": "V"
                        }
                      },
                      "title": "HSV"
                    },
                    "name": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "The value.",
                          "title": "Value"
                        },
                        "closest_named_hex": {
                          "type": "string",
                          "description": "The closest named hex value.",
                          "title": "Closest Named Hex"
                        },
                        "exact_match_name": {
                          "type": "boolean",
                          "description": "Whether the exact match is named.",
                          "title": "Exact Match Name"
                        },
                        "distance": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The distance.",
                          "title": "Distance"
                        }
                      },
                      "title": "Name"
                    },
                    "cmyk": {
                      "type": "object",
                      "properties": {
                        "fraction": {
                          "type": "object",
                          "properties": {
                            "c": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The C value.",
                              "title": "C"
                            },
                            "m": {
                              "type": "number",
                              "format": "float",
                              "description": "The M value.",
                              "title": "M"
                            },
                            "y": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The Y value.",
                              "title": "Y"
                            },
                            "k": {
                              "type": "number",
                              "format": "float",
                              "description": "The K value.",
                              "title": "K"
                            }
                          },
                          "title": "Fraction"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value.",
                          "title": "Value"
                        },
                        "c": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The C value.",
                          "title": "C"
                        },
                        "m": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The M value.",
                          "title": "M"
                        },
                        "y": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The Y value.",
                          "title": "Y"
                        },
                        "k": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The K value.",
                          "title": "K"
                        }
                      },
                      "title": "CMYK"
                    },
                    "XYZ": {
                      "type": "object",
                      "properties": {
                        "fraction": {
                          "type": "object",
                          "properties": {
                            "X": {
                              "type": "number",
                              "format": "float",
                              "description": "The X value.",
                              "title": "X"
                            },
                            "Y": {
                              "type": "number",
                              "format": "float",
                              "description": "The Y value.",
                              "title": "Y"
                            },
                            "Z": {
                              "type": "number",
                              "format": "float",
                              "description": "The Z value.",
                              "title": "Z"
                            }
                          },
                          "title": "Fraction"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value.",
                          "title": "Value"
                        },
                        "X": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The X value.",
                          "title": "X"
                        },
                        "Y": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The Y value.",
                          "title": "Y"
                        },
                        "Z": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The Z value.",
                          "title": "Z"
                        }
                      },
                      "title": "XYZ"
                    },
                    "image": {
                      "type": "object",
                      "properties": {
                        "bare": {
                          "type": "string",
                          "description": "The bare image.",
                          "title": "Bare"
                        },
                        "named": {
                          "type": "string",
                          "description": "The named image.",
                          "title": "Named"
                        }
                      },
                      "title": "Image"
                    },
                    "contrast": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "The value.",
                          "title": "Value"
                        }
                      },
                      "title": "Contrast"
                    },
                    "_links": {
                      "type": "object",
                      "properties": {
                        "self": {
                          "type": "object",
                          "properties": {
                            "href": {
                              "type": "string",
                              "description": "The href.",
                              "title": "Href"
                            }
                          },
                          "title": "Self"
                        }
                      },
                      "title": "Links"
                    }
                  },
                  "title": "Seed"
                },
                "_links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "The self link.",
                      "title": "Self"
                    },
                    "schemes": {
                      "type": "object",
                      "properties": {
                        "monochrome": {
                          "type": "string",
                          "description": "The monochrome link.",
                          "title": "Monochrome"
                        },
                        "monochrome-dark": {
                          "type": "string",
                          "description": "The monochrome-dark link.",
                          "title": "Monochrome-Dark"
                        },
                        "monochrome-light": {
                          "type": "string",
                          "description": "The monochrome-light link.",
                          "title": "Monochrome-Light"
                        },
                        "analogic": {
                          "type": "string",
                          "description": "The analogic link.",
                          "title": "Analogic"
                        },
                        "complement": {
                          "type": "string",
                          "description": "The complement link.",
                          "title": "Complement"
                        },
                        "analogic-complement": {
                          "type": "string",
                          "description": "The analogic-complement link.",
                          "title": "Analogic-Complement"
                        },
                        "triad": {
                          "type": "string",
                          "description": "The triad link.",
                          "title": "Triad"
                        },
                        "quad": {
                          "type": "string",
                          "description": "The quad link.",
                          "title": "Quad"
                        }
                      },
                      "title": "Schemes"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Generate scheme",
        "description": "Return a generated scheme for the provided seed color and optional mode.",
        "operationId": "SchemeGet",
        "parameters": [
          {
            "name": "hex",
            "in": "query",
            "x-ms-summary": "Hex",
            "description": "The hex value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rgb",
            "in": "query",
            "x-ms-summary": "RGB",
            "description": "The RGB value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "hsl",
            "in": "query",
            "x-ms-summary": "HSL",
            "description": "The HSL value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cmyk",
            "in": "query",
            "x-ms-summary": "CMYK",
            "description": "The CMYK value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "description": "The format.",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "mode",
            "in": "query",
            "x-ms-summary": "Mode",
            "description": "The mode.",
            "required": false,
            "type": "string",
            "default": "monochrome",
            "enum": [
              "monochrome",
              "monochrome-dark",
              "monochrome-light",
              "analogic",
              "complement",
              "analogic-complement",
              "triad",
              "quad"
            ]
          },
          {
            "name": "count",
            "in": "query",
            "x-ms-summary": "Count",
            "description": "The count.",
            "required": false,
            "type": "integer",
            "default": 5
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.thecolorapi.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.thecolorapi.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}