{
  "swagger": "2.0",
  "info": {
    "title": "Airmeet",
    "description": "Airmeet is the fastest growing platform for hosting a rich variety of virtual events. From Hackathons to ice-breakers, panel discussions to workshops, Airmeet's intuitive experience delivers on organisers expectations for a wide range of events and not just conferences.",
    "version": "2.0",
    "contact": {
      "name": "Airmeet",
      "url": "https://www.airmeet.com",
      "email": "platform@airmeet.com"
    }
  },
  "host": "api-gateway.airmeet.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/prod/platform-integration/v1/webhook-register": {
      "x-ms-notification-content": {
        "description": "Success",
        "schema": {
          "type": "object",
          "properties": {
            "airmeetName": {
              "type": "string",
              "description": "Airmeet name"
            },
            "firstName": {
              "type": "string",
              "description": "First Name"
            },
            "lastName": {
              "type": "string",
              "description": "Last Name"
            },
            "name": {
              "type": "string",
              "description": "name"
            },
            "email": {
              "type": "string",
              "description": "email"
            },
            "city": {
              "type": "string",
              "description": "city"
            },
            "country": {
              "type": "string",
              "description": "country"
            },
            "designation": {
              "type": "string",
              "description": "Designation"
            },
            "organization": {
              "type": "string",
              "description": "organization"
            },
            "registrationTime": {
              "type": "string",
              "description": "Registration Time"
            },
            "entryLink": {
              "type": "string",
              "description": "Entry Link"
            },
            "user_id": {
              "type": "string",
              "description": "user id"
            },
            "recordings": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "link": {
                    "type": "string",
                    "description": "link"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "session Id"
                  }
                }
              }
            },
            "polls": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "question": {
                    "type": "string",
                    "description": "question"
                  },
                  "answer": {
                    "type": "string",
                    "description": "answer"
                  }
                }
              }
            },
            "status": {
              "type": "string",
              "description": "status"
            },
            "tags": {
              "type": "array",
              "items": {},
              "description": "tags"
            },
            "host": {
              "type": "string",
              "description": "host"
            },
            "tables": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "tags": {
                    "type": "string",
                    "description": "tags"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "users": {
                    "type": "string",
                    "description": "users"
                  }
                }
              },
              "description": "tables"
            },
            "users": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "designation": {
                    "type": "string",
                    "description": "designation"
                  },
                  "company": {
                    "type": "string",
                    "description": "company"
                  },
                  "tags": {
                    "type": "array",
                    "items": {},
                    "description": "tags"
                  },
                  "city": {
                    "type": "string",
                    "description": "city"
                  },
                  "country": {
                    "type": "string",
                    "description": "country"
                  },
                  "bio": {
                    "type": "string",
                    "description": "bio"
                  },
                  "profile_img": {
                    "type": "string",
                    "description": "Profile image"
                  }
                }
              },
              "description": "users"
            },
            "sessions": {
              "type": "array",
              "items": {},
              "description": "sessions"
            },
            "speakers": {
              "type": "array",
              "items": {},
              "description": "speakers"
            },
            "theme": {
              "type": "string",
              "description": "theme"
            },
            "hostUser": {
              "type": "object",
              "properties": {
                "uid": {
                  "type": "string",
                  "description": "uid"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "organisation": {
                  "type": "string",
                  "description": "organisation"
                },
                "designation": {
                  "type": "string",
                  "description": "designation"
                },
                "bio": {
                  "type": "string",
                  "description": "bio"
                },
                "city": {
                  "type": "string",
                  "description": "city"
                },
                "country": {
                  "type": "string",
                  "description": "country"
                },
                "imageUrl": {
                  "type": "string",
                  "description": "image Url"
                }
              },
              "description": "host User"
            },
            "tableCount": {
              "type": "string",
              "description": "table Count"
            },
            "airmeet_id": {
              "type": "string",
              "description": "airmeet Id"
            },
            "start_time": {
              "type": "string",
              "description": "start time"
            },
            "end_time": {
              "type": "string",
              "description": "end time"
            },
            "short_desc": {
              "type": "string",
              "description": "short description"
            },
            "long_desc": {
              "type": "string",
              "description": "long description"
            },
            "remaining_time": {
              "type": "integer",
              "format": "int32",
              "description": "remaining time"
            },
            "organiser_name": {
              "type": "string",
              "description": "organiser name"
            },
            "organiser_email": {
              "type": "string",
              "description": "organiser email"
            },
            "organiser_url": {
              "type": "string",
              "description": "organiser url"
            },
            "organiser_intro": {
              "type": "string",
              "description": "organiser introduction"
            },
            "is_private": {
              "type": "boolean",
              "description": "is private"
            },
            "networking_enabled": {
              "type": "boolean",
              "description": "networking enabled"
            },
            "session_enabled": {
              "type": "boolean",
              "description": "session enabled"
            },
            "master_img_url": {
              "type": "string",
              "description": "master image url"
            },
            "noauth_enabled": {
              "type": "boolean",
              "description": "no auth enabled"
            },
            "community_id": {
              "type": "string",
              "description": "community id"
            },
            "community_name": {
              "type": "string",
              "description": "community name"
            },
            "timezone": {
              "type": "string",
              "description": "timezone"
            },
            "current_time": {
              "type": "string",
              "description": "current time"
            },
            "attendee_list_enabled": {
              "type": "boolean",
              "description": "attendee list enabled"
            },
            "is_branding_enabled": {
              "type": "boolean",
              "description": "is branding enabled"
            },
            "branding_info": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "sponsor_logo": {
                  "type": "string",
                  "description": "sponsor logo"
                },
                "branding_logo": {
                  "type": "string",
                  "description": "branding logo"
                },
                "sponsor_headline": {
                  "type": "string",
                  "description": "sponsor headline"
                }
              },
              "description": "branding information"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Trigger Label"
                },
                "description": {
                  "type": "string",
                  "description": "Trigger Description"
                },
                "triggerMetaInfoId": {
                  "type": "string",
                  "description": "Trigger Id"
                },
                "url": {
                  "type": "string",
                  "description": "Webhook Url"
                }
              }
            }
          }
        },
        "summary": "Register an Airmeet Trigger",
        "description": "Select a trigger from the available options. Setup reminders and alerts based on event registration, attendance, polls, event start and end time",
        "operationId": "AirmeetTriggers",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "airmeetId",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Airmeet ID",
            "description": "Airmeet Event ID",
            "x-ms-dynamic-values": {
              "operationId": "GetAirmeets",
              "value-path": "uid",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "allAirmeets": true,
                "crmName": "MICROSOFT_DYNAMICS"
              }
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Session ID",
            "description": "Airmeet Session ID",
            "x-ms-dynamic-values": {
              "operationId": "AirmeetSessions",
              "value-path": "sessionid",
              "value-collection": "sessions",
              "value-title": "name",
              "parameters": {
                "airmeetId": {
                  "parameter": "airmeetId"
                }
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Name",
                  "x-ms-visibility": "internal"
                },
                "description": {
                  "type": "string",
                  "description": "description",
                  "title": "description",
                  "x-ms-visibility": "internal"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "URL",
                  "default": "url",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "triggerMetaInfoId": {
                  "type": "string",
                  "description": "Trigger Id",
                  "title": "triggerMetaInfoId",
                  "enum": [
                    "trigger.airmeet.created",
                    "trigger.airmeet.attendee.added",
                    "trigger.airmeet.started",
                    "trigger.airmeet.finished",
                    "trigger.airmeet.reminder",
                    "trigger.airmeet.recording.available",
                    "trigger.airmeet.registrant.added",
                    "trigger.airmeet.attendee.joined",
                    "trigger.session.attendee.joined",
                    "trigger.airmeet.polls"
                  ],
                  "default": "trigger.airmeet.registrant.added",
                  "x-ms-visibility": "important"
                }
              },
              "required": ["url", "triggerMetaInfoId"]
            }
          }
        ]
      }
    },
    "/api/v1/airmeets": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "Airmeet Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Event Name"
                      },
                      "status": {
                        "type": "string",
                        "description": "Event Status"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Event Timezone"
                      },
                      "description": {
                        "type": "string",
                        "description": "Event Description"
                      },
                      "startTime": {
                        "type": "string",
                        "description": "Event Start Time"
                      },
                      "endTime": {
                        "type": "string",
                        "description": "Event End Time"
                      }
                    }
                  },
                  "description": "data"
                },
                "cursors": {
                  "type": "object",
                  "properties": {
                    "after": {
                      "type": "integer",
                      "format": "int32",
                      "description": "After"
                    },
                    "before": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Before"
                    },
                    "pageCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Page Count"
                    }
                  },
                  "description": "cursors"
                }
              }
            }
          }
        },
        "summary": "Get Airmeets",
        "description": "Get Airmeets",
        "operationId": "GetAirmeets",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "allAirmeets",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "description": "Get All Airmeet",
            "x-ms-summary": "Get All Airmeet",
            "x-ms-visibility": "internal"
          },
          {
            "name": "crmName",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "MICROSOFT_DYNAMICS",
            "description": "CRM Name",
            "x-ms-summary": "CRM Name",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v1/public/airmeet": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "Airmeet Id for the event"
                },
                "status": {
                  "type": "string",
                  "description": "Response message"
                }
              }
            }
          }
        },
        "summary": "Create an Airmeet",
        "description": "Create an Airmeet in your community",
        "operationId": "CreateAirmeet",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "hostEmail": {
                  "type": "string",
                  "description": "Email of the host",
                  "title": "Host Email"
                },
                "eventName": {
                  "type": "string",
                  "description": "Name of the event",
                  "title": "Event Name"
                },
                "shortDesc": {
                  "type": "string",
                  "description": "Short description of the event",
                  "title": "Short Description"
                },
                "eventImage": {
                  "type": "string",
                  "description": "Url of the event image"
                },
                "longDesc": {
                  "type": "string",
                  "description": "Long description of the event",
                  "title": "Long Description",
                  "x-ms-visibility": "advanced"
                },
                "access": {
                  "type": "string",
                  "description": "Access type for the event",
                  "title": "Access Type",
                  "enum": [
                    "INVITED_ONLY",
                    "WITH_VERIFIED_EMAIL",
                    "WITHOUT_VERIFIED_EMAIL"
                  ],
                  "default": "INVITED_ONLY",
                  "x-ms-visibility": "advanced"
                },
                "eventType": {
                  "type": "string",
                  "description": "Airmeet event type",
                  "title": "Event Type",
                  "default": "MEETUP",
                  "x-ms-visibility": "internal"
                },
                "timing": {
                  "type": "object",
                  "properties": {
                    "startTime": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Start time for the event (unix time in miliseconds)",
                      "title": "Start Time"
                    },
                    "endTime": {
                      "type": "integer",
                      "format": "int64",
                      "description": "End time for the event (unix time in miliseconds)",
                      "title": "End Time"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "Timezone for the event (Canonical TZ name)",
                      "title": "Timezone",
                      "x-ms-visibility": "advanced",
                      "default": "Asia/Kolkata"
                    }
                  },
                  "description": "Event timing",
                  "required": ["endTime", "timezone", "startTime"]
                },
                "config": {
                  "type": "object",
                  "properties": {
                    "networking": {
                      "type": "boolean",
                      "description": "Enable social lounge for the event",
                      "title": "Networking",
                      "enum": [true, false],
                      "default": true
                    },
                    "tableCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of tables in the social lounge",
                      "title": "Table Count",
                      "default": 12
                    }
                  },
                  "description": "Additional Configurations"
                }
              },
              "required": [
                "shortDesc",
                "timing",
                "hostEmail",
                "eventType",
                "eventName"
              ]
            }
          }
        ]
      }
    },
    "/api/v1/public/airmeet/{airmeetid}/speaker": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "speakerEmail": {
                  "type": "string",
                  "description": "Email id of the Speaker"
                },
                "status": {
                  "type": "string",
                  "description": "Response message"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "airmeetid",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Airmeet ID",
            "description": "Airmeet Event ID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAirmeets",
              "value-path": "uid",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "allAirmeets": true,
                "crmName": "MICROSOFT_DYNAMICS"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the Speaker",
                  "title": "Speaker Name"
                },
                "email": {
                  "type": "string",
                  "description": "Email of the Speaker",
                  "title": "Speaker Email"
                },
                "organisation": {
                  "type": "string",
                  "description": "Organisation of the Speaker",
                  "title": "Organisation"
                },
                "designation": {
                  "type": "string",
                  "description": "Designation of the Speaker",
                  "title": "Designation"
                },
                "imageUrl": {
                  "type": "string",
                  "description": "Image Url for the Speaker Profile",
                  "title": "Speaker Image"
                },
                "bio": {
                  "type": "string",
                  "description": "Bio of the Speaker",
                  "title": "Bio"
                },
                "city": {
                  "type": "string",
                  "description": "City",
                  "title": "City"
                },
                "country": {
                  "type": "string",
                  "description": "Country",
                  "title": "Country"
                }
              },
              "required": ["email", "name"]
            }
          }
        ],
        "summary": "Add a speaker",
        "description": "Add a speaker to your Airmeet event",
        "operationId": "CreateSpeaker"
      }
    },
    "/api/v1/public/airmeet/{airmeetId}/session": {
      "post": {
        "responses": {
          "200": {
            "description": "Session added to your Airmeet",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "Session ID"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "airmeetId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Airmeet ID",
            "description": "Airmeet Event ID",
            "x-ms-url-encoding": "single",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAirmeets",
              "value-path": "uid",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "allAirmeets": true,
                "crmName": "MICROSOFT_DYNAMICS"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "sessionTitle": {
                  "type": "string",
                  "description": "Title for the Session",
                  "title": "Session Title"
                },
                "sessionStartTime": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Start time for the session, unix timestamp rounded to minutes",
                  "title": "Session Start Time"
                },
                "sessionDuration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Duration of the event in seconds",
                  "title": "Session Duration"
                },
                "sessionSummary": {
                  "type": "string",
                  "description": "Summary for the session",
                  "title": "Session Summary"
                },
                "hostEmail": {
                  "type": "string",
                  "description": "Email of the Airmeet event host",
                  "title": "Host Email"
                },
                "speakerEmails": {
                  "type": "array",
                  "x-ms-visibility": "advanced",
                  "items": {
                    "type": "string"
                  },
                  "description": "Emails of all the speakers. Speakers should be added to the Airmeet before creating the session"
                },
                "cohostEmails": {
                  "type": "array",
                  "x-ms-visibility": "advanced",
                  "items": {
                    "type": "string"
                  },
                  "description": "Emails of all the co hosts. Team members should be added to the community before creating the session"
                },
                "type": {
                  "type": "string",
                  "description": "type",
                  "title": "Type",
                  "default": "HOSTING",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "hostEmail",
                "sessionTitle",
                "sessionStartTime",
                "type"
              ]
            }
          }
        ],
        "summary": "Add a Session to your Airmeet",
        "description": "Create Session",
        "operationId": "CreateSession"
      }
    },
    "/api/v1/airmeet/{airmeetId}/attendee": {
      "post": {
        "responses": {
          "200": {
            "description": "Registrant added to an Airmeet",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email of the Invitee"
                },
                "entryLink": {
                  "type": "string",
                  "description": "Event entry link"
                }
              }
            }
          }
        },
        "summary": "Add Authorized Attendee",
        "description": "Add Authorized Attendee to an Airmeet",
        "operationId": "AddRegistrant",
        "parameters": [
          {
            "name": "airmeetId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Airmeet ID",
            "description": "Airmeet Event ID",
            "x-ms-url-encoding": "single",
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetAirmeets",
              "value-path": "uid",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "allAirmeets": true,
                "crmName": "MICROSOFT_DYNAMICS"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the Invitee",
                  "title": "Name"
                },
                "email": {
                  "type": "string",
                  "description": "Email of the Invitee",
                  "title": "Email"
                },
                "organisation": {
                  "type": "string",
                  "description": "Organisation of the Invitee",
                  "title": "Organisation"
                },
                "designation": {
                  "type": "string",
                  "description": "Designation of the Invitee",
                  "title": "Designation"
                },
                "city": {
                  "type": "string",
                  "description": "City of the Invitee",
                  "title": "City"
                },
                "country": {
                  "type": "string",
                  "description": "Country of the Invitee",
                  "title": "Country"
                },
                "crm_platform": {
                  "type": "string",
                  "description": "Registration Source",
                  "title": "Registration Source",
                  "x-ms-visibility": "internal",
                  "default": "MICROSOFT_DYNAMICS"
                },
                "customFieldMapping": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  },
                  "description": "Custom Registration Fields"
                }
              },
              "required": ["email", "name", "crm_platform"]
            }
          }
        ]
      }
    },
    "/api/v1/airmeet/{airmeetId}/info": {
      "get": {
        "responses": {
          "200": {
            "description": "Session details for your Airmeet",
            "schema": {
              "type": "object",
              "properties": {
                "sessions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sessionid": {
                        "type": "string",
                        "description": "Session ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the Session"
                      },
                      "start_time": {
                        "type": "string",
                        "description": "Start Time of the Session"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status of the Session"
                      },
                      "duration": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Duration of the Session"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Summary of the Session"
                      },
                      "host_id": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Host ID for the Session"
                      },
                      "cohost_ids": {
                        "type": "array",
                        "items": {},
                        "description": "Cohost List for the Session"
                      },
                      "speaker_id": {
                        "type": "array",
                        "items": {},
                        "description": "Speaker ID for the Session"
                      },
                      "speakerList": {
                        "type": "array",
                        "items": {},
                        "description": "Speaker List for the Session"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of the Session"
                      }
                    }
                  },
                  "description": "List of Sessions"
                }
              }
            }
          }
        },
        "summary": "Fetch Airmeet Sessions",
        "description": "Fetch details for Sessions in an Airmeet",
        "operationId": "AirmeetSessions",
        "parameters": [
          {
            "name": "airmeetId",
            "in": "path",
            "x-ms-url-encoding": "double",
            "required": true,
            "type": "string",
            "description": "Airmeet Event ID",
            "x-ms-summary": "Airmeet ID",
            "x-ms-dynamic-values": {
              "operationId": "GetAirmeets",
              "value-path": "uid",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "allAirmeets": true,
                "crmName": "MICROSOFT_DYNAMICS"
              }
            }
          }
        ]
      }
    },
    "/api/v1/public/airmeet/{airmeetId}/status": {
      "post": {
        "responses": {
          "200": {
            "description": "Response",
            "schema": {
              "type": "object",
              "properties": {
                "statusUpdated": {
                  "type": "boolean",
                  "description": "Status is Updated"
                }
              }
            }
          }
        },
        "summary": "Start or Finish an Airmeet",
        "description": "Update the Airmeet Status to Ongoing or Finished",
        "operationId": "StartAndEndAirmeet",
        "parameters": [
          {
            "name": "airmeetId",
            "in": "path",
            "x-ms-url-encoding": "double",
            "required": true,
            "type": "string",
            "description": "Airmeet Event ID",
            "x-ms-summary": "Airmeet ID",
            "x-ms-dynamic-values": {
              "operationId": "GetAirmeets",
              "value-path": "uid",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "allAirmeets": true,
                "crmName": "MICROSOFT_DYNAMICS"
              }
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Airmeet Status",
                  "title": "status",
                  "default": "ONGOING",
                  "enum": ["ONGOING", "FINISHED"]
                }
              },
              "required": ["status"]
            }
          }
        ]
      }
    },
    "/api/v1/airmeet/{airmeetId}/registrations": {
      "get": {
        "responses": {
          "200": {
            "description": "List of authenticated registrations",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "Email of the user"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the user"
                      },
                      "city": {
                        "type": "string",
                        "description": "City of the user"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country of the user"
                      },
                      "organisation": {
                        "type": "string",
                        "description": "Organisation of the user"
                      },
                      "Designation": {
                        "type": "string",
                        "description": "Designation of the user"
                      },
                      "registrationDate": {
                        "type": "string",
                        "description": "Date of registration"
                      }
                    }
                  },
                  "description": "List of authenticated registrations"
                },
                "cursors": {
                  "type": "object",
                  "properties": {
                    "before": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Before cursor for next result page"
                    },
                    "after": {
                      "type": "integer",
                      "format": "int32",
                      "description": "After cursor for next result page"
                    },
                    "pageCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of result pages"
                    }
                  },
                  "description": "Cursors for next result page"
                }
              }
            }
          }
        },
        "summary": "Fetch Airmeet registrations",
        "description": "Fetch all authenticated registrations for your Airmeet",
        "operationId": "AirmeetRegistrations",
        "parameters": [
          {
            "name": "airmeetId",
            "in": "path",
            "x-ms-url-encoding": "double",
            "required": true,
            "type": "string",
            "description": "Airmeet Event ID",
            "x-ms-summary": "Airmeet ID",
            "x-ms-dynamic-values": {
              "operationId": "GetAirmeets",
              "value-path": "uid",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "allAirmeets": true,
                "crmName": "MICROSOFT_DYNAMICS"
              }
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "After cursor for next result page",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "After",
            "format": "int64"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Before",
            "description": "Before cursor for next result page",
            "x-ms-visibility": "advanced",
            "format": "int64"
          },
          {
            "name": "size",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 100,
            "x-ms-visibility": "important",
            "description": "Response Page Size",
            "x-ms-summary": "Size",
            "format": "int64"
          }
        ]
      }
    },
    "/api/v1/airmeet/{airmeetId}/participants": {
      "get": {
        "responses": {
          "200": {
            "description": "List of authorized participants",
            "schema": {
              "type": "object",
              "properties": {
                "paticipants": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "Email of the participant"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the participant"
                      },
                      "city": {
                        "type": "string",
                        "description": "City of the participant"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country of the participant"
                      },
                      "organisation": {
                        "type": "string",
                        "description": "Organisation of the participant"
                      },
                      "Designation": {
                        "type": "string",
                        "description": "Designation of the participant"
                      },
                      "registrationDate": {
                        "type": "string",
                        "description": "Date of registration for the participant"
                      },
                      "profile_url": {
                        "type": "string",
                        "description": "Profile URL for the participant"
                      },
                      "user_type": {
                        "type": "string",
                        "description": "User Type for the participant"
                      },
                      "token": {
                        "type": "string",
                        "description": "Unique joining link for the participant"
                      },
                      "invite_sent": {
                        "type": "boolean",
                        "description": "Invite Sent to the participant"
                      },
                      "user_profile": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Custom registration field value for the participant"
                            },
                            "fieldId": {
                              "type": "string",
                              "description": "Custom registration fieldid for the event"
                            }
                          }
                        },
                        "description": "Custom registration field details for the participant"
                      }
                    }
                  },
                  "description": "Details about the paticipants"
                },
                "userCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of results in this response page"
                },
                "totalUserCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total count of participants"
                }
              }
            }
          }
        },
        "summary": "Fetch Airmeet participants",
        "description": "Fetch participants authorised to enter your Airmeet",
        "operationId": "AirmeetParticipants",
        "parameters": [
          {
            "name": "airmeetId",
            "in": "path",
            "x-ms-url-encoding": "double",
            "required": true,
            "type": "string",
            "description": "Airmeet event ID",
            "x-ms-summary": "Airmeet ID",
            "x-ms-dynamic-values": {
              "operationId": "GetAirmeets",
              "value-path": "uid",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "allAirmeets": true,
                "crmName": "MICROSOFT_DYNAMICS"
              }
            }
          },
          {
            "name": "resultSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Result Size",
            "format": "int64",
            "description": "Number of responses to fetch",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page Number",
            "format": "int32",
            "description": "Page Number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sortingKey",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "registrationDate",
            "description": "Sorting Key",
            "x-ms-summary": "Sorting Key",
            "enum": ["name", "email", "registrationDate"],
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sortingDirection",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Sorting Direction",
            "x-ms-summary": "Sorting Direction",
            "enum": ["ASC", "DESC"],
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/api/v1/airmeet/{airmeetId}/custom-fields": {
      "get": {
        "responses": {
          "200": {
            "description": "List of custom fields",
            "schema": {
              "type": "object",
              "properties": {
                "customFields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "Label of the custom field"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the custom field"
                      },
                      "fieldId": {
                        "type": "string",
                        "description": "Field ID of the custom field"
                      },
                      "options": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "description": "Code for the custom field option"
                            },
                            "displayValue": {
                              "type": "string",
                              "description": "Display Value for the custom field option"
                            }
                          }
                        },
                        "description": "List of options for the custom field"
                      },
                      "isRequired": {
                        "type": "boolean",
                        "description": "Is this a mandatory field?"
                      },
                      "type": {
                        "type": "object",
                        "properties": {
                          "fieldType": {
                            "type": "string",
                            "description": "Field Type"
                          },
                          "inputType": {
                            "type": "string",
                            "description": "Input Type for the custom field option"
                          },
                          "mappedFrom": {
                            "type": "string",
                            "description": "Mapping for the custom field option"
                          }
                        },
                        "description": "Type of the custom field"
                      }
                    }
                  },
                  "description": "List of custom fields for the event"
                }
              }
            }
          }
        },
        "summary": "Fetch Custom Registration Fields",
        "description": "Fetch details of custom registration fields for the Airmeet",
        "operationId": "CustomRegistrationFields",
        "parameters": [
          {
            "name": "airmeetId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "double",
            "type": "string",
            "description": "Airmeet event ID",
            "x-ms-summary": "Airmeet ID",
            "x-ms-dynamic-values": {
              "operationId": "GetAirmeets",
              "value-path": "uid",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "allAirmeets": true,
                "crmName": "MICROSOFT_DYNAMICS"
              }
            }
          }
        ]
      }
    },
    "/api/v1/airmeet/{airmeetId}/attendee/{url_encoded_attendee_email}": {
      "delete": {
        "responses": {
          "200": {
            "description": "Response message",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Was the operation successful"
                },
                "message": {
                  "type": "string",
                  "description": "Success message"
                }
              }
            }
          }
        },
        "summary": "Remove Authorised Attendee",
        "description": "Remove an authorised participant from the Airmeet",
        "operationId": "RemoveAttendee",
        "parameters": [
          {
            "name": "airmeetId",
            "in": "path",
            "x-ms-url-encoding": "double",
            "required": true,
            "type": "string",
            "description": "Airmeet event ID",
            "x-ms-summary": "Airmeet ID",
            "x-ms-dynamic-values": {
              "operationId": "GetAirmeets",
              "value-path": "uid",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "allAirmeets": true,
                "crmName": "MICROSOFT_DYNAMICS"
              }
            }
          },
          {
            "name": "url_encoded_attendee_email",
            "in": "path",
            "x-ms-url-encoding": "double",
            "required": true,
            "x-ms-summary": "URL Encoded Email ID of the attendee to be remooved",
            "type": "string",
            "description": "URL Encoded Email ID of the attendee to be remooved"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.airmeet.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.airmeet.com/hub/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing"
    }
  ]
}
