{
  "swagger": "2.0",
  "info": {
    "title": "DocumentsCorePack",
    "description": "DocumentsCorePack is a fast & simple document generation based on Dynamics 365 data. Based on MS Word - templates, DocumentsCorePack provides you with a set of tools to create and process documents effectively. From a document generation wizard that guides users through the process to full document automation - DocumentsCorePack will make your business documents look professional and help you to process them efficiently!",
    "termsOfService": "https://www.mscrm-addons.com/Support/Terms-Conditions",
    "contact": {
      "name": "mscrm-addons.com",
      "url": "https://support.mscrm-addons.com",
      "email": "support@mscrm-addons.com"
    },
    "license": {
      "name": "All rights reserved, copyright by PTM EDV Systeme GmbH @2023",
      "url": "https://www.mscrm-addons.com"
    },
    "version": "5.2",
    "x-ms-keywords": [
      "DocumentsCorePack",
      "Document Core Pack",
      "Documents Core Pack",
      "Documents CorePack",
      "Document CorePack",
      "DCP",
      "Document",
      "Documents",
      "Doc",
      "Docs",
      "Template",
      "Templates",
      "Word Template",
      "Word Templates",
      "Generate Document",
      "Generate Documents",
      "Create Document",
      "Create Documents",
      "Document Generation",
      "Document Automation",
      "Document Processing",
      "Send Documents",
      "Send Document",
      "Automate Document",
      "Automate Documents",
      "PDF",
      "Word",
      "DOCX",
      "Report",
      "Reports",
      "Contract",
      "Contracts",
      "Invoice",
      "Invoices",
      "Quote",
      "Quotes",
      "Agreement",
      "Agreements",
      "Letter",
      "Letters",
      "Merge",
      "Mail Merge",
      "Print",
      "Email",
      "Email Attachment",
      "Attachment",
      "Attachments",
      "SharePoint",
      "Sign document",
      "Signature",
      "Signatures",
      "Esignature",
      "E-signature",
      "Electronic Signature",
      "E-sign",
      "Approval",
      "Approvals"
    ]
  },
  "host": "documentapi.mscrm-addons.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/DCP/AttachDocumentJobToEmail": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Attach DocumentJob to email",
        "description": "Attach the file generated by a DocumentJob as attachment to a Dynamics 365 email",
        "operationId": "AttachDocumentJobToEmail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "DocumentJob and Email Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachDocumentJobToEmail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachDocumentJobToEmail",
          "revision": 1
        }
      }
    },
    "/v2/api/DCP/AttachDocumentJobToEmail": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Attach DocumentJob to email (V2)",
        "description": "Attach the Document Content generated by a DocumentJob as attachment to a Dynamics 365 email",
        "operationId": "AttachDocumentJobToEmailV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "DocumentJob and Email Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachDocumentJobToEmailV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachDocumentJobToEmail",
          "revision": 2
        }
      }
    },
    "/v3/api/DCP/AttachDocumentJobToEmail": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Attach DocumentJob to email (V3)",
        "description": "Attach the document content generated by a DocumentJob as attachment to a Dynamics 365 email.",
        "operationId": "AttachDocumentJobToEmailV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "DocumentJob and Email Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachDocumentJobToEmailV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachDocumentJobToEmail",
          "revision": 3
        }
      }
    },
    "/v4/api/DCP/AttachDocumentJobToEmail": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Attach DocumentJob to email (V4)",
        "description": "Attach the document content generated by a DocumentJob as attachment to a Dynamics 365 email.",
        "operationId": "AttachDocumentJobToEmailV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "DocumentJob and Email Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachDocumentJobToEmailV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachDocumentJobToEmail",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/AttachDocumentJobToEmail": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Attach DocumentJob to email",
        "description": "Attach the document content generated by a DocumentJob as attachment to a Dynamics 365 email.",
        "operationId": "AttachDocumentJobToEmailV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "DocumentJob and Email Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachDocumentJobToEmailV5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachDocumentJobToEmail",
          "revision": 5
        }
      }
    },
    "/api/DCP/AttachDocumentJobToNote": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Attach DocumentJob as note",
        "description": "Attach the file generated by a DocumentJob as a note to a Dynamics 365 entity. Attention! The documentjob must already be finished",
        "operationId": "AttachDocumentJobToNote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Note information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachDocumentJobToNote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AnnotationId",
            "schema": {
              "$ref": "#/definitions/JSONCreateNoteResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachDocumentJobToNote",
          "revision": 1
        }
      }
    },
    "/v2/api/DCP/AttachDocumentJobToNote": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Attach DocumentJob as note (V2)",
        "description": "Attach the Document Content generated by a DocumentJob as a note to a Dynamics 365 entity. Attention! The documentjob must already be finished",
        "operationId": "AttachDocumentJobToNoteV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Note information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachDocumentJobToNoteV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AnnotationId",
            "schema": {
              "$ref": "#/definitions/JSONCreateNoteResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachDocumentJobToNote",
          "revision": 2
        }
      }
    },
    "/v3/api/DCP/AttachDocumentJobToNote": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Attach DocumentJob as note (V3)",
        "description": "Attach document generated by a DocumentJob as a note to a Dynamics 365 record.",
        "operationId": "AttachDocumentJobToNoteV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Note information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachDocumentJobToNoteV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AnnotationId",
            "schema": {
              "$ref": "#/definitions/JSONCreateNoteResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachDocumentJobToNote",
          "revision": 3
        }
      }
    },
    "/v4/api/DCP/AttachDocumentJobToNote": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Attach DocumentJob as note (V4)",
        "description": "Attach document generated by a DocumentJob as a note to a Dynamics 365 record.",
        "operationId": "AttachDocumentJobToNoteV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Note information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachDocumentJobToNoteV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AnnotationId",
            "schema": {
              "$ref": "#/definitions/JSONCreateNoteResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachDocumentJobToNote",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/AttachDocumentJobToNote": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Attach DocumentJob as note",
        "description": "Attach document generated by a DocumentJob as a note to a Dynamics 365 record.",
        "operationId": "AttachDocumentJobToNoteV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Note information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachDocumentJobToNoteV5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AnnotationId",
            "schema": {
              "$ref": "#/definitions/JSONCreateNoteResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachDocumentJobToNote",
          "revision": 5
        }
      }
    },
    "/api/DCP/AttachFileToEmail": {
      "post": {
        "tags": [
          "FileFunctions"
        ],
        "summary": "Attach file to email",
        "description": "Attach the base64 encoded file as attachment to a Dynamics 365 email",
        "operationId": "AttachFileToEmail",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Email Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachFileToEmail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachFileToEmail",
          "revision": 1
        }
      }
    },
    "/v2/api/DCP/AttachFileToEmail": {
      "post": {
        "tags": [
          "FileFunctions"
        ],
        "summary": "Attach file to email (V2)",
        "description": "Attach the Document Content or base64 encoded file as attachment to a Dynamics 365 email",
        "operationId": "AttachFileToEmailV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Email Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachFileToEmailV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachFileToEmail",
          "revision": 2
        }
      }
    },
    "/v3/api/DCP/AttachFileToEmail": {
      "post": {
        "tags": [
          "FileFunctions"
        ],
        "summary": "Attach file to email (V3)",
        "description": "Attach a document content or base64 encoded file as attachment to a Dynamics 365 email.",
        "operationId": "AttachFileToEmailV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Email Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachFileToEmailV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachFileToEmail",
          "revision": 3
        }
      }
    },
    "/v4/api/DCP/AttachFileToEmail": {
      "post": {
        "tags": [
          "FileFunctions"
        ],
        "summary": "Attach file to email (V4)",
        "description": "Attach a document content or base64 encoded file as attachment to a Dynamics 365 email.",
        "operationId": "AttachFileToEmailV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Email Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachFileToEmailV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachFileToEmail",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/AttachFileToEmail": {
      "post": {
        "tags": [
          "FileFunctions"
        ],
        "summary": "Attach file to email",
        "description": "Attach a document content or base64 encoded file as attachment to a Dynamics 365 email.",
        "operationId": "AttachFileToEmailV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Email Information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachFileToEmailV5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachFileToEmail",
          "revision": 5
        }
      }
    },
    "/api/DCP/AttachFileToNote": {
      "post": {
        "tags": [
          "FileFunctions"
        ],
        "summary": "Attach file as note",
        "description": "Attach the file supplied as base64 string as a note to a Dynamics 365 entity. Attention! The documentjob must already be finished",
        "operationId": "AttachFileToNote",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Note information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachFileToNote"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AnnotationId",
            "schema": {
              "$ref": "#/definitions/JSONCreateNoteResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachFileToNote",
          "revision": 1
        }
      }
    },
    "/v2/api/DCP/AttachFileToNote": {
      "post": {
        "tags": [
          "FileFunctions"
        ],
        "summary": "Attach file as note (V2)",
        "description": "Attach the Document Content or base64 encoded file as a note to a Dynamics 365 entity. Attention! The documentjob must already be finished",
        "operationId": "AttachFileToNoteV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Note information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachFileToNoteV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AnnotationId",
            "schema": {
              "$ref": "#/definitions/JSONCreateNoteResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachFileToNote",
          "revision": 2
        }
      }
    },
    "/v3/api/DCP/AttachFileToNote": {
      "post": {
        "tags": [
          "FileFunctions"
        ],
        "summary": "Attach file as note (V3)",
        "description": "Attach a document content or base64 encoded file as a note to a Dynamics 365 record.",
        "operationId": "AttachFileToNoteV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Note information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachFileToNoteV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AnnotationId",
            "schema": {
              "$ref": "#/definitions/JSONCreateNoteResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachFileToNote",
          "revision": 3
        }
      }
    },
    "/v4/api/DCP/AttachFileToNote": {
      "post": {
        "tags": [
          "FileFunctions"
        ],
        "summary": "Attach file as note (V4)",
        "description": "Attach a document content or base64 encoded file as a note to a Dynamics 365 record.",
        "operationId": "AttachFileToNoteV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Note information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachFileToNoteV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AnnotationId",
            "schema": {
              "$ref": "#/definitions/JSONCreateNoteResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachFileToNote",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/AttachFileToNote": {
      "post": {
        "tags": [
          "FileFunctions"
        ],
        "summary": "Attach file as note",
        "description": "Attach a document content or base64 encoded file as a note to a Dynamics 365 record.",
        "operationId": "AttachFileToNoteV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "File and Note information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONAttachFileToNoteV5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AnnotationId",
            "schema": {
              "$ref": "#/definitions/JSONCreateNoteResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "AttachFileToNote",
          "revision": 5
        }
      }
    },
    "/api/DCP/ConcatenateDocumentJobs": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Concatenate two DocumentJobs",
        "description": "Concatenate two files (pdf,docx) generated by two DocumentJobs",
        "operationId": "ConcatenateDocumentJobs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the two DocumentJobs to combine",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONConcatDocumentJob"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ConcatenateDocumentJobs",
          "revision": 1
        }
      }
    },
    "/v2/api/DCP/ConcatenateDocumentJobs": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Concatenate two DocumentJobs (V2)",
        "description": "Concatenate two Document Contents (pdf,docx) generated by two DocumentJobs",
        "operationId": "ConcatenateDocumentJobsV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the two DocumentJobs to combine",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONConcatDocumentJobV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ConcatenateDocumentJobs",
          "revision": 2
        }
      }
    },
    "/v3/api/DCP/ConcatenateDocumentJobs": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Concatenate two DocumentJobs (V3)",
        "description": "Concatenate two DocumentJobs. Supported filetypes: pdf, docx.",
        "operationId": "ConcatenateDocumentJobsV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the two DocumentJobs to combine",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONConcatDocumentJobV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ConcatenateDocumentJobs",
          "revision": 3
        }
      }
    },
    "/v4/api/DCP/ConcatenateDocumentJobs": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Concatenate two DocumentJobs (V4)",
        "description": "Concatenate two DocumentJobs. Supported filetypes: pdf, docx.",
        "operationId": "ConcatenateDocumentJobsV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the two DocumentJobs to combine",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONConcatDocumentJobV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ConcatenateDocumentJobs",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/ConcatenateDocumentJobs": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Concatenate two DocumentJobs",
        "description": "Concatenate two DocumentJobs. Supported filetypes: pdf, docx.",
        "operationId": "ConcatenateDocumentJobsV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the two DocumentJobs to combine",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONConcatDocumentJobV5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ConcatenateDocumentJobs",
          "revision": 5
        }
      }
    },
    "/api/DCP/ConcatenateFiles": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Concatenate two Files (pdf,docx)",
        "description": "Concatenates two supplied files (pdf,docx)",
        "operationId": "ConcatenateFiles",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the two files to combine",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONConcatFiles"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ConcatenateFiles",
          "revision": 1
        }
      }
    },
    "/v2/api/DCP/ConcatenateFiles": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Concatenate two Document Contents or base64 encoded files (pdf,docx) (V2)",
        "description": "Concatenates two Document Contents or base64 encoded files (pdf,docx)",
        "operationId": "ConcatenateFilesV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the two files to combine",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONConcatFilesV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ConcatenateFiles",
          "revision": 2
        }
      }
    },
    "/v3/api/DCP/ConcatenateFiles": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Concatenate two documents. Supported filetypes: pdf, docx",
        "description": "Concatenates two document contents or base64 encoded files. Supported filetypes: pdf,docx.",
        "operationId": "ConcatenateFilesV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the two files to combine",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONConcatFilesV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ConcatenateFiles",
          "revision": 3
        }
      }
    },
    "/v4/api/DCP/ConcatenateFiles": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Concatenate two documents. Supported filetypes: pdf, docx",
        "description": "Concatenates two document contents or base64 encoded files. Supported filetypes: pdf,docx.",
        "operationId": "ConcatenateFilesV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the two files to combine",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONConcatFilesV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ConcatenateFiles",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/ConcatenateFiles": {
      "post": {
        "tags": [
          "DocumentFunctions"
        ],
        "summary": "Concatenate two documents. Supported filetypes: pdf, docx",
        "description": "Concatenates two document contents or base64 encoded files. Supported filetypes: pdf,docx.",
        "operationId": "ConcatenateFilesV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Information about the two files to combine",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONConcatFilesV5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "ConcatenateFiles",
          "revision": 5
        }
      }
    },
    "/api/DCP/CreateDocumentJob": {
      "post": {
        "tags": [
          "DocumentGeneration"
        ],
        "summary": "Create document (sync)",
        "description": "This function creates a new DocumentJob and waits for the result for up to [TimeOut] seconds",
        "operationId": "CreateDocumentJob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "TemplateId",
            "description": "Select the template for this DocumentJob",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "value-path": "ptm_mscrmaddons_dcptemplatesid",
              "value-title": "ptm_name",
              "operationId": "GetAllTemplates"
            },
            "x-ms-summary": "TemplateId"
          },
          {
            "in": "query",
            "name": "EntityId",
            "description": "Dynamics 365 source record id",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "EntityId"
          },
          {
            "in": "query",
            "name": "FileType",
            "description": "Select a filetype for the document result",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "value",
              "value-title": "key",
              "operationId": "GetFileTypes"
            },
            "x-ms-summary": "FileType"
          },
          {
            "in": "query",
            "name": "TimeOut",
            "description": "Max. time to wait for document",
            "type": "integer",
            "format": "int32",
            "default": 120,
            "x-ms-summary": "TimeOut"
          },
          {
            "in": "query",
            "name": "UserId",
            "description": "Optional, supply Dynamics 365 users domain name or id",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "systemuserid",
              "value-title": "fullname",
              "operationId": "GetUsers"
            },
            "x-ms-summary": "UserId"
          },
          {
            "in": "query",
            "name": "SaveToSharepoint",
            "description": "Optional, save document to sharepoint",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "SaveToSharepoint"
          },
          {
            "in": "query",
            "name": "DCPPrinterName",
            "description": "Optional, Select the DCP printer for a PrintDocument operation",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "DCPPrinterName",
              "value-title": "DCPPrinterName",
              "operationId": "GetPrinters"
            },
            "x-ms-summary": "DCPPrinterName"
          },
          {
            "in": "query",
            "name": "DeactivateOnTimeout",
            "description": "Deactivates the working item on a timeout, preventing the document generation",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "DeactivateOnTimeout"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJob",
          "revision": 1
        }
      }
    },
    "/api/DCP/CreateDocumentJobAsync": {
      "post": {
        "tags": [
          "DocumentGeneration"
        ],
        "summary": "Create DocumentJob (async)",
        "description": "This function creates a new DocumentJob.. Attention! The function does NOT wait for a result",
        "operationId": "CreateDocumentJobAsync",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "TemplateId",
            "description": "Select the template for this DocumentJob",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "value-path": "ptm_mscrmaddons_dcptemplatesid",
              "value-title": "ptm_name",
              "operationId": "GetAllTemplates"
            },
            "x-ms-summary": "TemplateId"
          },
          {
            "in": "query",
            "name": "EntityId",
            "description": "Dynamics 365 source record id",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "EntityId"
          },
          {
            "in": "query",
            "name": "FileType",
            "description": "Select a filetype for the document result",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "value",
              "value-title": "key",
              "operationId": "GetFileTypes"
            },
            "x-ms-summary": "FileType"
          },
          {
            "in": "query",
            "name": "UserId",
            "description": "Optional, the user to run this operation",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "systemuserid",
              "value-title": "fullname",
              "operationId": "GetUsers"
            },
            "x-ms-summary": "UserId"
          },
          {
            "in": "query",
            "name": "SaveToSharepoint",
            "description": "Optional, save document to sharepoint",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "SaveToSharepoint"
          },
          {
            "in": "query",
            "name": "DCPPrinterName",
            "description": "Optional, Select the printer for a PrintDocument operation",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "DCPPrinterName",
              "value-title": "DCPPrinterName",
              "operationId": "GetPrinters"
            },
            "x-ms-summary": "DCPPrinterName"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobAsync",
          "revision": 1
        }
      }
    },
    "/v2/api/DCP/CreateDocumentJobAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V2"
        ],
        "summary": "Create DocumentJob (async) (V2)",
        "description": "This function creates a new DocumentJob.. Attention! The function does NOT wait for a result",
        "operationId": "CreateDocumentJobAsyncV2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Environment",
            "description": "Specifies the connection to use for a perUser APIKey",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "value-path": "EnvironmentId",
              "value-title": "EnvironmentName",
              "operationId": "GetApiKeyProfiles"
            },
            "x-ms-summary": "Environment"
          },
          {
            "in": "query",
            "name": "Template",
            "description": "Select the template for this DocumentJob",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "value-path": "ptm_mscrmaddons_dcptemplatesid",
              "value-title": "ptm_name",
              "operationId": "GetAllTemplatesV2",
              "parameters": {
                "envId": {
                  "parameter": "Environment"
                }
              }
            },
            "x-ms-summary": "Template"
          },
          {
            "in": "query",
            "name": "EntityId",
            "description": "Dynamics 365 source record id",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "EntityId"
          },
          {
            "in": "query",
            "name": "FileType",
            "description": "Select a filetype for the document result",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "value",
              "value-title": "key",
              "operationId": "GetFileTypes"
            },
            "x-ms-summary": "FileType"
          },
          {
            "in": "query",
            "name": "User",
            "description": "Optional, the user to run this operation",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "systemuserid",
              "value-title": "fullname",
              "operationId": "GetUsersV2",
              "parameters": {
                "envId": {
                  "parameter": "Environment"
                }
              }
            },
            "x-ms-summary": "User",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "SaveToSharepoint",
            "description": "Optional, save document to sharepoint",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "SaveToSharepoint",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "DCPPrinterName",
            "description": "Optional, Select the printer for a PrintDocument operation",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "DCPPrinterName",
              "value-title": "DCPPrinterName",
              "operationId": "GetPrintersV2",
              "parameters": {
                "envId": {
                  "parameter": "Environment"
                }
              }
            },
            "x-ms-summary": "DCPPrinterName",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "AttachToEmailId",
            "description": "Specifies the email to attach the Job to",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "AttachToEmail",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "AttachToEntityId",
            "description": "Specifies the entityId to attach the Job to",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "AttachToEntity",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "AttachToEntitySchemaName",
            "description": "Specifies the entity schema name to attach the DocumentJob to",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "LogicalName",
              "value-title": "DisplayName",
              "operationId": "GetEntityNamesV2",
              "parameters": {
                "envId": {
                  "parameter": "Environment"
                }
              }
            },
            "x-ms-summary": "AttachToEntity - SchemaName",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobAsync",
          "revision": 2
        }
      }
    },
    "/v3/api/DCP/CreateDocumentJobAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V3"
        ],
        "summary": "Create DocumentJob (async) (V3)",
        "description": "Creates a new document. The action does NOT wait for a result. For more information https://short.mscrm-addons.com/createdocumentjobasync",
        "operationId": "CreateDocumentJobAsyncV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentBodyV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobAsync",
          "revision": 3
        }
      }
    },
    "/v4/api/DCP/CreateDocumentJobAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V4"
        ],
        "summary": "Create DocumentJob (async) (V4)",
        "description": "Creates a new document. The action does NOT wait for a result. For more information https://short.mscrm-addons.com/createdocumentjobasync",
        "operationId": "CreateDocumentJobAsyncV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentBodyV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobAsync",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/CreateDocumentJobAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V5"
        ],
        "summary": "Create DocumentJob (async)",
        "description": "Creates a new document. The action does NOT wait for a result. For more information https://short.mscrm-addons.com/createdocumentjobasync",
        "operationId": "CreateDocumentJobAsyncV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentBodyV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobAsync",
          "revision": 5
        }
      }
    },
    "/v4/api/DCP/CreateDocumentJobMarketingAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V4"
        ],
        "summary": "Process batch in customer journey (async) (V4)",
        "description": "Creates a new document. For more information https://short.mscrm-addons.com/createdocumentjob",
        "operationId": "CreateDocumentJobMarketingAsyncV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentMarketingBodyV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobMarketingAsync",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/CreateDocumentJobMarketingAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V5"
        ],
        "summary": "Process batch in customer journey (async)",
        "description": "Create and process documents in batch for records within a customer journey. The action does NOT wait for a result. For more information https://short.mscrm-addons.com/customerjourneybatches",
        "operationId": "CreateDocumentJobMarketingAsyncV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentMarketingBodyV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobMarketingAsync",
          "revision": 5
        }
      }
    },
    "/v4/api/DCP/CreateDocumentJobMarketing": {
      "post": {
        "tags": [
          "DocumentGeneration V4"
        ],
        "summary": "Process batch in customer journey (sync) (V4)",
        "description": "Creates a new document. For more information https://short.mscrm-addons.com/createdocumentjob",
        "operationId": "CreateDocumentJobMarketingV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentMarketingBodyV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobMarketing",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/CreateDocumentJobMarketing": {
      "post": {
        "tags": [
          "DocumentGeneration V5"
        ],
        "summary": "Process batch in customer journey",
        "description": "Create and process documents in batch for records within a customer journey. For more information https://short.mscrm-addons.com/customerjourneybatches",
        "operationId": "CreateDocumentJobMarketingV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentMarketingBodyV5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobMarketing",
          "revision": 5
        }
      }
    },
    "/v2/api/DCP/CreateDocumentJob": {
      "post": {
        "tags": [
          "DocumentGeneration V2"
        ],
        "summary": "Create document (sync) (V2)",
        "description": "This function creates a new DocumentJob and waits for the result",
        "operationId": "CreateDocumentJobV2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Environment",
            "description": "Specifies the connection to use for a perUser APIKey",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "value-path": "EnvironmentId",
              "value-title": "EnvironmentName",
              "operationId": "GetApiKeyProfiles"
            },
            "x-ms-summary": "Environment"
          },
          {
            "in": "query",
            "name": "Template",
            "description": "Select the template for this DocumentJob",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-dynamic-values": {
              "value-path": "ptm_mscrmaddons_dcptemplatesid",
              "value-title": "ptm_name",
              "operationId": "GetAllTemplatesV2",
              "parameters": {
                "envId": {
                  "parameter": "Environment"
                }
              }
            },
            "x-ms-summary": "Template"
          },
          {
            "in": "query",
            "name": "EntityId",
            "description": "Dynamics 365 source record id",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "EntityId"
          },
          {
            "in": "query",
            "name": "FileType",
            "description": "Select a filetype for the document result",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "value",
              "value-title": "key",
              "operationId": "GetFileTypes"
            },
            "x-ms-summary": "FileType"
          },
          {
            "in": "query",
            "name": "User",
            "description": "Optional, supply Dynamics 365 users domain name or id",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "systemuserid",
              "value-title": "fullname",
              "operationId": "GetUsersV2",
              "parameters": {
                "envId": {
                  "parameter": "Environment"
                }
              }
            },
            "x-ms-summary": "User",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "SaveToSharepoint",
            "description": "Optional, save document to sharepoint",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "SaveToSharepoint",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "DCPPrinterName",
            "description": "Optional, Select the DCP printer for a PrintDocument operation",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "DCPPrinterName",
              "value-title": "DCPPrinterName",
              "operationId": "GetPrintersV2",
              "parameters": {
                "envId": {
                  "parameter": "Environment"
                }
              }
            },
            "x-ms-summary": "DCPPrinterName",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "AttachToEmailId",
            "description": "Specifies the email to attach the Job to",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "AttachToEmail",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "AttachToEntityId",
            "description": "Specifies the entityId to attach the Job to",
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "AttachToEntity",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "AttachToEntitySchemaName",
            "description": "Specifies the entity schema name to attach the DocumentJob to",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "LogicalName",
              "value-title": "DisplayName",
              "operationId": "GetEntityNamesV2",
              "parameters": {
                "envId": {
                  "parameter": "Environment"
                }
              }
            },
            "x-ms-summary": "AttachToEntity - SchemaName",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJob",
          "revision": 2
        }
      }
    },
    "/v3/api/DCP/CreateDocumentJob": {
      "post": {
        "tags": [
          "DocumentGeneration V3"
        ],
        "summary": "Create document (sync) (V3)",
        "description": "Creates a new document. For more information https://short.mscrm-addons.com/createdocumentjob",
        "operationId": "CreateDocumentJobV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentBodyV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJob",
          "revision": 3
        }
      }
    },
    "/v4/api/DCP/CreateDocumentJob": {
      "post": {
        "tags": [
          "DocumentGeneration V4"
        ],
        "summary": "Create document (sync) (V4)",
        "description": "Creates a new document. For more information https://short.mscrm-addons.com/createdocumentjob",
        "operationId": "CreateDocumentJobV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentBodyV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJob",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/CreateDocumentJob": {
      "post": {
        "tags": [
          "DocumentGeneration V5"
        ],
        "summary": "Create document",
        "description": "Creates a new document. For more information https://short.mscrm-addons.com/createdocumentjob",
        "operationId": "CreateDocumentJobV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentBodyV5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJob",
          "revision": 5
        }
      }
    },
    "/api/DCP/CreateDocumentJobXmlBased": {
      "post": {
        "tags": [
          "DocumentGeneration"
        ],
        "summary": "Create DocumentJob based on an XML (sync)",
        "description": "This function creates a new DocumentJob and waits for the result for up to [TimeOut] seconds",
        "operationId": "CreateDocumentJobXmlBased",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Optional, Multipart XML document for the DocumentJob",
            "schema": {
              "$ref": "#/definitions/JSONMultiPartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobXmlBased",
          "revision": 1
        }
      }
    },
    "/api/DCP/CreateDocumentJobXmlBasedAsync": {
      "post": {
        "tags": [
          "DocumentGeneration"
        ],
        "summary": "Create DocumentJob based on an XML (async)",
        "description": "This function creates a new DocumentJob. Attention! The function does NOT wait for a result",
        "operationId": "CreateDocumentJobXmlBasedAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Optional, Multipart XML document for the DocumentJob",
            "schema": {
              "$ref": "#/definitions/JSONMultiPartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobXmlBasedAsync",
          "revision": 1
        }
      }
    },
    "/v2/api/DCP/CreateDocumentJobXmlBasedAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V2"
        ],
        "summary": "Create DocumentJob based on an XML (async) (V2)",
        "description": "This function creates a new DocumentJob. Attention! The function does NOT wait for a result",
        "operationId": "CreateDocumentJobXmlBasedAsyncV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Optional, Multipart XML document for the DocumentJob",
            "schema": {
              "$ref": "#/definitions/JSONMultiPartRequestV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobXmlBasedAsync",
          "revision": 2
        }
      }
    },
    "/v3/api/DCP/CreateDocumentJobXmlBasedAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V3"
        ],
        "summary": "Create Multipart document (async) (V3)",
        "description": "Create a document consisting of multiple components. The action does NOT wait for a result. For more information https://short.mscrm-addons.com/multipart",
        "operationId": "CreateDocumentJobXmlBasedAsyncV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Optional, Multipart XML document for the DocumentJob",
            "schema": {
              "$ref": "#/definitions/JSONMultiPartRequestV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobXmlBasedAsync",
          "revision": 3
        }
      }
    },
    "/v4/api/DCP/CreateDocumentJobXmlBasedAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V4"
        ],
        "summary": "Create Multipart document (async) (V4)",
        "description": "Create a document consisting of multiple components. The action does NOT wait for a result. For more information https://short.mscrm-addons.com/multipart",
        "operationId": "CreateDocumentJobXmlBasedAsyncV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Optional, Multipart XML document for the DocumentJob",
            "schema": {
              "$ref": "#/definitions/JSONMultiPartRequestV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobXmlBasedAsync",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/CreateDocumentJobXmlBasedAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V5"
        ],
        "summary": "Create Multipart DocumentJob (async)",
        "description": "Create a document consisting of multiple components. The action does NOT wait for a result. For more information https://short.mscrm-addons.com/multipart",
        "operationId": "CreateDocumentJobXmlBasedAsyncV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Multipart XML document for the DocumentJob",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONMultiPartRequestV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobXmlBasedAsync",
          "revision": 5
        }
      }
    },
    "/v2/api/DCP/CreateDocumentJobXmlBased": {
      "post": {
        "tags": [
          "DocumentGenerationV2"
        ],
        "summary": "Create document based on an XML (sync) (V2)",
        "description": "This function creates a new DocumentJob and waits for the result",
        "operationId": "CreateDocumentJobXmlBasedV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Optional, Multipart XML document for the DocumentJob",
            "schema": {
              "$ref": "#/definitions/JSONMultiPartRequestV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobXmlBased",
          "revision": 2
        }
      }
    },
    "/v3/api/DCP/CreateDocumentJobXmlBased": {
      "post": {
        "tags": [
          "DocumentGeneration V3"
        ],
        "summary": "Create Multipart document (sync) (V3)",
        "description": "Create a document consisting of multiple components. For more information https://short.mscrm-addons.com/multipart",
        "operationId": "CreateDocumentJobXmlBasedV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Optional, Multipart XML document for the DocumentJob",
            "schema": {
              "$ref": "#/definitions/JSONMultiPartRequestV3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobXmlBased",
          "revision": 3
        }
      }
    },
    "/v4/api/DCP/CreateDocumentJobXmlBased": {
      "post": {
        "tags": [
          "DocumentGeneration V4"
        ],
        "summary": "Create Multipart document (sync) (V4)",
        "description": "Create a document consisting of multiple components. For more information https://short.mscrm-addons.com/multipart",
        "operationId": "CreateDocumentJobXmlBasedV4",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Optional, Multipart XML document for the DocumentJob",
            "schema": {
              "$ref": "#/definitions/JSONMultiPartRequestV4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobXmlBased",
          "revision": 4
        }
      }
    },
    "/v5/api/DCP/CreateDocumentJobXmlBased": {
      "post": {
        "tags": [
          "DocumentGeneration V5"
        ],
        "summary": "Create Multipart document",
        "description": "Create a document consisting of multiple components. For more information https://short.mscrm-addons.com/multipart",
        "operationId": "CreateDocumentJobXmlBasedV5",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Multipart XML document for the DocumentJob",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONMultiPartRequestV5"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateDocumentJobXmlBased",
          "revision": 5
        }
      }
    },
    "/v2/api/DCP/CreateSharepointFolder": {
      "post": {
        "tags": [
          "DocumentGeneration V2"
        ],
        "summary": "CreateSharepointFolder (V2)",
        "description": "This function creates sharepoint folders",
        "operationId": "CreateSharepointFolderV2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateSharepointFolders"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid API Key",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "deprecated": true,
        "x-ms-api-annotation": {
          "status": "Production",
          "family": "CreateSharepointFolder",
          "revision": 1
        }
      }
    },
    "/v3/api/DCP/CreateSharepointFolder": {
      "post": {
        "tags": [
          "DocumentGeneration V3"
        ],
        "summary": "Create SharePoint folder (V3)",
        "description": "Creates folders on SharePoint in the document location of a Dynamics 365 record.",
        "operationId": "CreateSharepointFolderV3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
[...]
