{
  "swagger": "2.0",
  "info": {
    "title": "Tavily MCP Server (Independent Publisher)",
    "description": "The Tavily MCP Server connector enables AI agents to access Tavily's powerful web research capabilities through the Model Context Protocol (MCP). It provides real-time web search, content extraction, site mapping, and crawling tools designed specifically for Large Language Models and AI agents.",
    "version": "1.0.0",
    "contact": {
      "name": "Evan Rimer",
      "url": "https://www.tavily.com/",
      "email": "evan.rimer@tavily.com"
    }
  },
  "host": "mcp.tavily.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/mcp": {
      "post": {
        "operationId": "InvokeServer",
        "summary": "Invoke Tavily MCP Server",
        "description": "Invokes the Tavily MCP endpoint to access web search, extract, map, and crawl tools for AI agents.",
        "parameters": [
          {
            "name": "tavilyApiKey",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Your Tavily API key for authentication.",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Server error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-agentic-protocol": "mcp-streamable-1.0"
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Error message."
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "tavilyApiKey"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.tavily.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://tavily.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ]
}
