{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "nunify Support",
      "email": "support@nunify.com"
    },
    "title": "nunify",
    "description": "An event tech platform to run any type of event - virtual events, hybrid events, webinars, in-person events & meetings. This platform provides all tools  for registrations, onsite check-in, networking, audience engagement, gamification, live stream, event apps, sponsorships.",
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.nunify.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nunify.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Marketing"
    }
  ],
  "host": "app.aidaio.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/platforms/{Platform Id}/domains/{Domain Id}/organisations/{App Id}/tickets.json": {
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Id"
                },
                "code": {
                  "type": "string",
                  "description": "Code"
                },
                "first_name": {
                  "type": "string",
                  "description": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "Last Name"
                },
                "designation": {
                  "type": "string",
                  "description": "Designation"
                },
                "company": {
                  "type": "string",
                  "description": "Company"
                },
                "email": {
                  "type": "string",
                  "description": "Email"
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Add Registrant",
        "operationId": "ADD_REGISTRANT",
        "description": "Registers an attendee to your event in nunify and issues a ticket for them.",
        "parameters": [
          {
            "name": "Platform Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Platform Id",
            "description": "This value can be copied from the API Keys page in your nunify event."
          },
          {
            "name": "Domain Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Domain Id",
            "description": "This value can be copied from the API Keys page in your nunify event."
          },
          {
            "name": "App Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "App Id",
            "description": "This value can be copied from the API Keys page in your nunify event."
          },
          {
            "name": "map_by_labels",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Map by Labels",
            "description": "This is an internal parameter that is required to be set to true by the API."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Content Type header set to application/json to support JSON request/response exchange."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Accept header set to application/json to support JSON request/response exchange."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "Email",
                  "title": "Email"
                },
                "first_name": {
                  "type": "string",
                  "description": "First Name",
                  "title": "First Name"
                },
                "last_name": {
                  "type": "string",
                  "description": "Last Name",
                  "title": "Last Name"
                },
                "designation": {
                  "type": "string",
                  "description": "Designation",
                  "title": "Designation"
                },
                "company": {
                  "type": "string",
                  "description": "Company",
                  "title": "Company"
                },
                "ticket_type_id": {
                  "type": "string",
                  "description": "Ticket",
                  "title": "Ticket",
                  "default": "Default"
                }
              }
            }
          }
        ]
      }
    },
    "/platforms/{Platform Id}/domains/{Domain Id}/organisations/{App Id}/hooks/ticket_create.json": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "Id"
            },
            "Ticket": {
              "type": "string",
              "description": "Ticket"
            },
            "First Name": {
              "type": "string",
              "description": "First Name"
            },
            "Last Name": {
              "type": "string",
              "description": "Last Name"
            },
            "Email": {
              "type": "string",
              "description": "Email"
            },
            "Designation": {
              "type": "string",
              "description": "Designation"
            },
            "Company": {
              "type": "string",
              "description": "Company"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        },
        "description": "default"
      },
      "put": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "operationId": "NEW_REGISTRATION",
        "summary": "New Registration",
        "description": "Triggers when an attendee registers for a nunify event.",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Platform Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Platform Id",
            "description": "This value can be copied from the API Keys page in your nunify event."
          },
          {
            "name": "Domain Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Domain Id",
            "description": "This value can be copied from the API Keys page in your nunify event."
          },
          {
            "name": "App Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "App Id",
            "description": "This value can be copied from the API Keys page in your nunify event."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Content Type header set to application/json to support JSON request/response exchange."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Accept header set to application/json to support JSON request/response exchange."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "hook_url",
                  "x-ms-notification-url": true
                },
                "kind": {
                  "type": "string",
                  "description": "kind",
                  "title": "",
                  "default": "ticket_create",
                  "x-ms-visibility": "internal"
                }
              },
              "required": ["kind", "url"]
            }
          }
        ]
      }
    },
    "/platforms/{Platform Id}/domains/{Domain Id}/organisations/{App Id}/hooks/checkin.json": {
      "x-ms-notification-content": {
        "description": "default",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "id"
            },
            "Ticket": {
              "type": "string",
              "description": "Ticket"
            },
            "First Name": {
              "type": "string",
              "description": "First Name"
            },
            "Last Name": {
              "type": "string",
              "description": "Last Name"
            },
            "Email": {
              "type": "string",
              "description": "Email"
            },
            "Designation": {
              "type": "string",
              "description": "Designation"
            },
            "Company": {
              "type": "string",
              "description": "Company"
            },
            "Location": {
              "type": "string",
              "description": "Location"
            },
            "Time": {
              "type": "string",
              "description": "Time"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "Content-Type",
            "type": "string"
          }
        }
      },
      "put": {
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Attendee Check-In",
        "description": "Triggers when an attendee has checked in to a location or nunify event.",
        "operationId": "NEW_CHECKIN",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Platform Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Platform Id",
            "description": "This value can be copied from the API Keys page in your nunify event."
          },
          {
            "name": "Domain Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Domain Id",
            "description": "This value can be copied from the API Keys page in your nunify event."
          },
          {
            "name": "App Id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "App Id",
            "description": "This value can be copied from the API Keys page in your nunify event."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Content Type",
            "description": "Content Type header set to application/json to support JSON request/response exchange."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept",
            "description": "Accept header set to application/json to support JSON request/response exchange."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "hook_url",
                  "x-ms-notification-url": true
                },
                "kind": {
                  "type": "string",
                  "description": "kind",
                  "title": "",
                  "default": "checkin",
                  "x-ms-visibility": "internal"
                }
              },
              "required": ["kind", "url"]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "externalDocs": {
    "description": "Find out more about nunify",
    "url": "https://www.nunify.com"
  }
}
