{
  "swagger": "2.0",
  "info": {
    "title": "Nationalize_io",
    "description": "Nationalize.io predicts the nationality of a person given their name. Use the API for analytics, ad segmenting, demographic statistics etc. The API is free for up to 1000 names/day.",
    "version": "1.0",
    "contact": {
      "name": "Tomasz Poszytek",
      "url": "https://aka.ms/poszytek",
      "email": "tomasz@poszytek.eu"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://nationalize.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://nationalize.io/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Data"
    }
  ],
  "host": "api.genderize.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Checked name.",
                    "title": "Name",
                    "x-ms-visibility": "important"
                  },
                  "country": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "country_id": {
                          "type": "string",
                          "description": "Country ISO code.",
                          "title": "Name"
                        },
                        "probability": {
                          "type": "number",
                          "format": "float",
                          "description": "The certainty of the assigned nationality.",
                          "title": "Probability"
                        }
                      }
                    },
                    "description": "List of checked countries.",
                    "title": "Countries"
                  }
                }
              }
            },
            "headers": {
              "X-Rate-Limit-Limit": {
                "description": "The amount of names available in the current time window",
                "type": "integer",
                "x-ms-visibility": "advanced"
              },
              "X-Rate-Reset": {
                "description": "The number of names left in the current time window ",
                "type": "integer",
                "x-ms-visibility": "advanced"
              },
              "X-Rate-Limit-Remaining": {
                "description": "Seconds remaining until a new time window opens",
                "type": "integer",
                "x-ms-visibility": "advanced"
              }
            }
          }
        },
        "summary": "Check name(s) nationality",
        "description": "Check nationality of a single name or multiple names. For multiple names - separate them with comma.",
        "operationId": "CheckNamesNationality",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Name(s) to check the nationality. For multiple, separate with comma. Up to 10 names at a time.",
            "x-ms-summary": "Name(s)",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/m/": {}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "apikey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}