{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Blackbaud FENXT Payable",
    "description": "Blackbaud Financial Edge NXT is a comprehensive cloud-based accounting software solution built specifically for nonprofits. Use the Payables connector to manage invoices, vendors, purchase orders and related entities found within The Financial Edge NXT.",
    "contact": {
      "name": "Blackbaud Support",
      "url": "https://www.blackbaud.com/support",
      "email": "skyapi@blackbaud.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.blackbaud.com/products/blackbaud-financial-edge-nxt"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.blackbaud.com/privacy-shield"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "api.sky.blackbaud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "skyApiOAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth2.sky.blackbaud.com/authorization",
      "tokenUrl": "https://oauth2.sky.blackbaud.com/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "skyApiOAuth": []
    }
  ],
  "paths": {
    "/accountspayable/v1/boxnumbers": {
      "get": {
        "operationId": "ListBoxNumbers",
        "summary": "List box numbers",
        "description": "Lists the box numbers.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.BoxNumberCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view box numbers."
          }
        }
      }
    },
    "/accountspayable/v1/buyers": {
      "get": {
        "operationId": "ListBuyers",
        "summary": "List buyers",
        "description": "Lists the buyers.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.BuyerCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view buyers."
          }
        }
      }
    },
    "/accountspayable/v1/creditmemos/{credit_memo_id}": {
      "delete": {
        "operationId": "DeleteCreditMemo",
        "summary": "Delete a credit memo",
        "description": "Deletes a credit memo.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "credit_memo_id",
            "in": "path",
            "description": "The system record ID of the credit memo.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Credit memo ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the credit memo."
          },
          "400": {
            "description": "Returned when the specified credit memo ID values is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the credit memo."
          }
        }
      }
    },
    "/accountspayable/v1/departments": {
      "get": {
        "operationId": "ListDepartments",
        "summary": "List departments",
        "description": "Lists the departments.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.DepartmentCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view departments."
          }
        }
      }
    },
    "/accountspayable/v1/fobs": {
      "get": {
        "operationId": "ListFreightOnBoardOptions",
        "summary": "List freight on board options",
        "description": "Lists the freight on board options.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.FobOptionCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view freight on board options."
          }
        }
      }
    },
    "/accountspayable/v1/interfundsets": {
      "get": {
        "operationId": "ListInterfundSets",
        "summary": "List interfund sets",
        "description": "Lists the interfund sets.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.InterfundSetCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view interfund sets."
          }
        }
      }
    },
    "/accountspayable/v1/invoices": {
      "get": {
        "operationId": "ListInvoices",
        "summary": "List invoices",
        "description": "Lists the available invoices.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "from_date",
            "in": "query",
            "description": "Filter the results to invoices dated on or after the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "From date"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Filter the results to invoices dated on or before the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "To date"
          },
          {
            "name": "vendor_name",
            "in": "query",
            "description": "Search text to match for vendor name.",
            "type": "string",
            "x-ms-summary": "Vendor name"
          },
          {
            "name": "invoice_status",
            "in": "query",
            "description": "The invoice status.",
            "type": "string",
            "x-ms-summary": "Status",
            "enum": [
              "Pending",
              "Approved",
              "Paid",
              "PartiallyPaid",
              "Deleted"
            ],
            "x-ms-enum-values": [
              {
                "value": "Pending",
                "displayName": "Pending"
              },
              {
                "value": "Approved",
                "displayName": "Approved"
              },
              {
                "value": "Paid",
                "displayName": "Paid"
              },
              {
                "value": "PartiallyPaid",
                "displayName": "Partially paid"
              },
              {
                "value": "Deleted",
                "displayName": "Deleted"
              }
            ]
          },
          {
            "name": "post_status",
            "in": "query",
            "description": "The invoice post status.",
            "type": "string",
            "x-ms-summary": "Post status",
            "enum": [
              "Posted",
              "NotYetPosted",
              "DoNotPost"
            ],
            "x-ms-enum-values": [
              {
                "value": "Posted",
                "displayName": "Posted"
              },
              {
                "value": "NotYetPosted",
                "displayName": "Not yet posted"
              },
              {
                "value": "DoNotPost",
                "displayName": "Do not post"
              }
            ]
          },
          {
            "name": "payment_method",
            "in": "query",
            "description": "The invoice payment method.",
            "type": "string",
            "x-ms-summary": "Payment method",
            "enum": [
              "Check",
              "EFT",
              "BankDraft",
              "CreditCard"
            ],
            "x-ms-enum-values": [
              {
                "value": "Check",
                "displayName": "Check"
              },
              {
                "value": "EFT",
                "displayName": "Electronic funds transfer"
              },
              {
                "value": "BankDraft",
                "displayName": "Bank draft"
              },
              {
                "value": "CreditCard",
                "displayName": "Credit card"
              }
            ]
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "Search text to match for vendor name, invoice number, description or purchase order number.",
            "type": "string",
            "x-ms-summary": "Search text", 
            "x-ms-visibility": "advanced"
          }, 
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 100. The maximum is 500.",
            "type": "integer",
            "format": "int32",
            "maximum": 500,
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "date_added",
            "in": "query",
            "description": "Filter the results to invoices added on or after the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Added on or after",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "added_by",
            "in": "query",
            "description": "Filter the results to invoices added by the specified user.",
            "type": "string",
            "x-ms-summary": "Added by",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "last_modified",
            "in": "query",
            "description": "Filter the results to invoices modified on or after the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Modified on or after",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "last_modified_by",
            "in": "query",
            "description": "Filter the results to invoices last modified by the specified user.",
            "type": "string",
            "x-ms-summary": "Modified by",
            "x-ms-visibility": "advanced"
          }          
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/APApi.InvoiceSummaryCollection"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view invoices."
          }
        }
      },
      "post": {
        "operationId": "CreateInvoice",
        "summary": "Create an invoice",
        "description": "Creates a new invoice using the default distributions from the specified vendor.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewInvoice"
            },
            "description": "The invoice to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful. The response body contains the ID of the new invoice.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedInvoice"
            }
          },
          "400": {
            "description": "Returned when the request is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create invoices."
          }
        }
      }
    },
    "/accountspayable/v1/invoices/{invoice_id}": {
      "get": {
        "operationId": "GetInvoice",
        "summary": "Get an invoice",
        "description": "Returns information about an invoice.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The system record ID of the invoice.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Invoice ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/APApi.InvoiceDetail"
            }
          },
          "400": {
            "description": "Returned when the specified invoice ID is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view invoices."
          },
          "404": {
            "description": "Returned when the specified invoice could not be found."
          }
        }
      },
      "patch": {
        "operationId": "EditInvoice",
        "summary": "Update an invoice",
        "description": "Updates an invoice.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The system record ID of the invoice to update.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Invoice ID"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.EditInvoice"
            },
            "description": "An object that represents the properties of the invoice to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the invoice.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedInvoice"
            }
          },
          "400": {
            "description": "Returned when the specified parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the invoice."
          },
          "404": {
            "description": "Returned when the specified invoice is not found."
          }
        }
      }
    },
    "/accountspayable/v1/invoices/{invoice_id}/1099amount": {
      "get": {
        "operationId": "GetInvoice1099Amount",
        "summary": "Get invoice 1099 info",
        "description": "Returns the 1099 information for an invoice.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The system record ID of the invoice.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Invoice ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.Form1099"
            }
          },
          "400": {
            "description": "Returned when the specified invoice ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view invoice details."
          },
          "404": {
            "description": "Returned when the specified invoice is not found."
          }
        }
      }
    },
    "/accountspayable/v1/invoices/{invoice_id}/1099boxnumber": {
      "get": {
        "operationId": "ListInvoice1099BoxNumbers",
        "summary": "List invoice 1099 box numbers",
        "description": "Lists the 1099 box numbers for an invoice.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The system record ID of the invoice.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Invoice ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.Invoice1099BoxNumberCollection"
            }
          },
          "400": {
            "description": "Returned when the specified invoice ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the invoice box numbers."
          },
          "404": {
            "description": "Returned when the specified invoice is not found."
          }
        }
      }  
    },
    "/accountspayable/v1/invoices/{invoice_id}/adjustments": {
      "get": {
        "operationId": "ListInvoiceAdjustments",
        "summary": "List invoice adjustments",
        "description": "Lists the adjustments for an invoice.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The system record ID of the invoice.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Invoice ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.InvoiceAdjustmentSummaryCollection"
            }
          },
          "400": {
            "description": "Returned when the specified invoice ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view invoice adjustments."
          },
          "404": {
            "description": "Returned when the specified invoice is not found."
          }
        }
      }
    },
    "/accountspayable/v1/invoices/{invoice_id}/adjustments/{adjustment_id}": {
      "delete": {
        "operationId": "DeleteInvoiceAdjustment",
        "summary": "Delete an invoice adjustment",
        "description": "Deletes an invoice adjustment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The system record ID of the invoice.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Invoice ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "adjustment_id",
            "in": "path",
            "description": "The system record ID of the invoice adjustment to delete.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Adjustment ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the invoice adjustment."
          },
          "400": {
            "description": "Returned when the specified invoice ID or adjustment ID values are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the invoice adjustment."
          },
          "404": {
            "description": "Returned when the specified invoice could not be found."
          }
        }
      },
      "get": {
        "operationId": "GetInvoiceAdjustment",
        "summary": "Get an invoice adjustment",
        "description": "Returns information about an invoice adjustment.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The system record ID of the invoice.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Invoice ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "adjustment_id",
            "in": "path",
            "description": "The system record ID of the invoice adjustment.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Adjustment ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/APApi.InvoiceAdjustmentDetail"
            }
          },
          "400": {
            "description": "Returned when the specified invoice ID is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view invoices."
          },
          "404": {
            "description": "Returned when the specified invoice could not be found."
          }
        }
      }
    },
    "/accountspayable/v1/invoices/attachments": {
      "post": {
        "operationId": "CreateInvoiceAttachment",
        "summary": "Create an invoice attachment",
        "description": "Creates a new invoice attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewInvoiceAttachment"
            },
            "description": "An object that represents the attachment to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an attachment. The response body contains the ID of the new attachment.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedInvoiceAttachment"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the attachment."
          },
          "404": {
            "description": "Returned when the specified invoice is not found."
          }
        }
      }  
    },
    "/accountspayable/v1/mediatypes": {
      "get": {
        "operationId": "ListMediaTypes",
        "summary": "List media types",
        "description": "Lists the media types.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.MediaTypeCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view media types."
          }
        }
      }
    },
    "/accountspayable/v1/orgaddresses": {
      "get": {
        "operationId": "ListOrganizationAddresses",
        "summary": "List organization addresses",
        "description": "Lists the organization addresses.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.OrgAddressCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view organization addresses."
          }
        }
      }
    },
    "/accountspayable/v1/paymentterms": {
      "get": {
        "operationId": "ListPaymentTerms",
        "summary": "List payment terms",
        "description": "Lists the payment terms.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.PaymentTermCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view payment terms."
          }
        }
      }
    },
    "/accountspayable/v1/products": {
      "get": {
        "operationId": "ListProducts",
        "summary": "List products",
        "description": "Lists the products.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.ProductCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view products."
          }
        }
      }
    },
    "/accountspayable/v1/purchaseorders": {
      "get": {
        "operationId": "ListPurchaseOrders",
        "summary": "List purchase orders",
        "description": "Lists the available purchase orders.",
        "produces": [
          "application/json"
        ],
        "parameters": [         
          {
            "name": "from_date",
            "in": "query",
            "description": "Filter the results to purchase orders dated on or after the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "From date"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Filter the results to purchase orders dated on or before the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "To date"
          },
          {
            "name": "type",
            "in": "query",
            "description": "The purchase order type.",
            "type": "string",
            "x-ms-summary": "Type",
            "enum": [
              "Template",
              "Blanket",
              "Regular"
            ]
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "Search text to match for vendor name or purchase order number.",
            "type": "string",
            "x-ms-summary": "Search text"
          },          
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 100. The maximum is 500.",
            "type": "integer",
            "format": "int32",
            "maximum": 500,
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/APApi.PurchaseOrderSummaryCollection"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view purchase orders."
          }
        }
      },
      "post": {
        "operationId": "CreatePurchaseOrder",
        "summary": "Create a purchase order",
        "description": "Creates a new purchase order.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewPurchaseOrder"
            },
            "description": "The purchase order to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful. The response body contains the ID of the new purchase order.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedPurchaseOrder"
            }
          },
          "400": {
            "description": "Returned when the request is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create purchase orders."
          }
        }
      }
    },
    "/accountspayable/v1/purchaseorders/{purchase_order_id}": {
      "get": {
        "operationId": "GetPurchaseOrder",
        "summary": "Get a purchase order",
        "description": "Returns information about a purchase order.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "purchase_order_id",
            "in": "path",
            "description": "The system record ID of the purchase order.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/APApi.PurchaseOrderDetail"
            }
          },
          "400": {
            "description": "Returned when the specified purchase order ID is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view purchase orders."
          },
          "404": {
            "description": "Returned when the specified purchase order could not be found."
          }
        }
      }
    },
    "/accountspayable/v1/purchaseorders/{purchase_order_id}/lineitems": {
      "get": {
        "operationId": "ListPurchaseOrderLineItems",
        "summary": "List purchase order line items",
        "description": "Lists the line items for a purchase order.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "purchase_order_id",
            "in": "path",
            "description": "The system record ID of the purchase order.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Purchase order ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 100. The maximum is 500.",
            "type": "integer",
            "format": "int32",
            "maximum": 500,
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.LineItemSummaryCollection"
            }
          },
          "400": {
            "description": "Returned when the specified purchase order ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view purchase order line items."
          },
          "404": {
            "description": "Returned when the specified purchase order is not found."
          }
        }
      },
      "post": {
        "operationId": "CreatePurchaseOrderLineItem",
        "summary": "Create a purchase order line item",
        "description": "Creates a new purchase order line item.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "purchase_order_id",
            "in": "path",
            "description": "The system record ID of the purchase order.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Purchase order ID",
            "x-ms-url-encoding": "single"
          },          
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewLineItem"
            },
            "description": "The line item to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful."
          },
          "400": {
            "description": "Returned when the request is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create purchase order line items."
          }
        }
      }
    },
    "/accountspayable/v1/purchaseorders/{purchase_order_id}/lineitems/{line_item_id}": {
      "get": {
        "operationId": "GetPurchaseOrderLineItem",
        "summary": "Get a purchase order line item",
        "description": "Returns information about a purchase order line item.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "purchase_order_id",
            "in": "path",
            "description": "The system record ID of the purchase order.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Purchase order ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "line_item_id",
            "in": "path",
            "description": "The system record ID of the line item.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Line item ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/APApi.LineItemDetail"
            }
          },
          "400": {
            "description": "Returned when the specified invoice or line item ID is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view purchase order line items."
          },
          "404": {
            "description": "Returned when the specified invoice or line item could not be found."
          }
        }
      }
    },
    "/accountspayable/v1/receipts": {
      "get": {
        "operationId": "ListReceipts",
        "summary": "List receipts",
        "description": "Lists the available receipts.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "purchase_order_id",
            "in": "query",
            "description": "Filter the results to receipts associated with the specified purchase order.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Purchase order ID"
          },
          {
            "name": "received_by",
            "in": "query",
            "description": "Filter the results to receipts received by the specified user.",
            "type": "string",
            "x-ms-summary": "Received by"
          },          
          {
            "name": "from_date",
            "in": "query",
            "description": "Filter the results to receipts dated on or after the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "From date"
          },
          {
            "name": "to_date",
            "in": "query",
            "description": "Filter the results to receipts dated on or before the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "To date"
          },
          {
            "name": "vendor_name",
            "in": "query",
            "description": "Search text to match for vendor name.",
            "type": "string",
            "x-ms-summary": "Vendor name"
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "Search text to match for receipt description, receipt number, receipt date, purchase order number, or invoice number.",
            "type": "string",
            "x-ms-summary": "Search text", 
            "x-ms-visibility": "advanced"
          },          
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 100. The maximum is 500.",
            "type": "integer",
            "format": "int32",
            "maximum": 500,
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/APApi.ReceiptSummaryCollection"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view receipts."
          }
        }
      }      
    },
    "/accountspayable/v1/receipts/{receipt_id}": {
      "get": {
        "operationId": "GetReceipt",
        "summary": "Get a receipt",
        "description": "Returns information about a receipt.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "receipt_id",
            "in": "path",
            "description": "The system record ID of the receipt.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Receipt ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/APApi.ReceiptDetail"
            }
          },
          "400": {
            "description": "Returned when the specified receipt ID is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view receipts."
          },
          "404": {
            "description": "Returned when the specified receipt could not be found."
          }
        }
      }
    },
    "/accountspayable/v1/shipvia": {
      "get": {
        "operationId": "ListShipViaCodes",
        "summary": "List ship via codes",
        "description": "Lists the ship via codes.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.ShipViaCodeCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view ship via codes."
          }
        }
      }
    },
    "/accountspayable/v1/staff": {
      "get": {
        "operationId": "ListStaffMembers",
        "summary": "List staff members",
        "description": "Lists the staff members.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.StaffMemberCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view staff members."
          }
        }
      }
    },
    "/accountspayable/v1/states1099": {
      "get": {
        "operationId": "List1099States",
        "summary": "List 1099 states",
        "description": "Lists the states for 1099.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.State1099Collection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view 1099 states."
          }
        }
      }
    },
    "/accountspayable/v1/transactioncodes": {
      "get": {
        "operationId": "ListTransactionCodes",
        "summary": "List transaction codes",
        "description": "Lists the transaction codes.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.TransactionCodeArray"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view transaction codes."
          }
        }
      }
    },
    "/accountspayable/v1/transactioncodes/{transaction_code_id}/values": {
      "get": {
        "operationId": "ListTransactionCodeValues",
        "summary": "List transaction code values",
        "description": "Lists the transaction code values.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "transaction_code_id",
            "in": "path",
            "description": "The transaction code.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Transaction code",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListTransactionCodes",
              "value-path": "transaction_code_id",
              "value-title": "name"
            },
            "x-ms-dynamic-list": {
              "operationId": "ListTransactionCodes",
              "itemValuePath": "transaction_code_id",
              "itemTitlePath": "name"
            }  
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.TransactionCodeValueArray"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view transaction code values."
          }
        }
      }
    },
    "/accountspayable/v1/unitsofmeasure": {
      "get": {
        "operationId": "ListUnitsOfMeasure",
        "summary": "List units of measure",
        "description": "Lists the units of measure.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.UnitOfMeasureCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view units of measure."
          }
        }
      }
    },
    "/accountspayable/v1/vendors": {
      "get": {
        "operationId": "ListVendors",
        "summary": "List vendors",
        "description": "Lists the available vendors.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "The vendor status.",
            "type": "string",
            "x-ms-summary": "Status",
            "enum": [
              "Active",
              "Inactive",
              "OnHold"
            ],
            "x-ms-enum-values": [
              {
                "value": "Active",
                "displayName": "Active"
              },
              {
                "value": "Inactive",
                "displayName": "Inactive"
              },
              {
                "value": "OnHold",
                "displayName": "On hold"
              }
            ]
          },
          {
            "name": "vendor_name",
            "in": "query",
            "description": "Search text to match for vendor name.",
            "type": "string",
            "x-ms-summary": "Vendor name"
          },
          {
            "name": "ui_vendor_id",
            "in": "query",
            "description": "The user-visible identifier for the vendor.",
            "type": "string",
            "x-ms-summary": "Vendor ID"
          },
          {
            "name": "customer_number",
            "in": "query",
            "description": "The customer number for the vendor.",
            "type": "string",
            "x-ms-summary": "Customer number"
          },          
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 100. The maximum is 500.",
            "type": "integer",
            "format": "int32",
            "maximum": 500,
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "date_added",
            "in": "query",
            "description": "Filter the results to vendors added on or after the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Added on or after",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "added_by",
            "in": "query",
            "description": "Filter the results to vendors added by the specified user.",
            "type": "string",
            "x-ms-summary": "Added by",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "last_modified",
            "in": "query",
            "description": "Filter the results to vendors modified on or after the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Modified on or after",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "last_modified_by",
            "in": "query",
            "description": "Filter the results to vendors last modified by the specified user.",
            "type": "string",
            "x-ms-summary": "Modified by",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/APApi.VendorSummaryCollection"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view vendors."
          }
        }
      },
      "post": {
        "operationId": "CreateVendor",
        "summary": "Create a vendor",
        "description": "Creates a new vendor.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewVendor"
            },
            "description": "The vendor to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful. The response body contains the ID of the new vendor.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedVendor"
            }
          },
          "400": {
            "description": "Returned when the request is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create vendors."
          }
        }
      }
    },
    "/accountspayable/v1/vendors/{vendor_id}": {
      "get": {
        "operationId": "GetVendor",
        "summary": "Get a vendor",
        "description": "Returns information about a vendor.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/APApi.VendorDetail"
            }
          },
          "400": {
            "description": "Returned when the specified vendor ID is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view vendors."
          },
          "404": {
            "description": "Returned when the specified vendor could not be found."
          }
        }
      },      
      "patch": {
        "operationId": "EditVendor",
        "summary": "Update a vendor",
        "description": "Updates a vendor.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor to update.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.EditVendor"
            },
            "description": "An object that represents the properties of the vendor to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the vendor.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedVendor"
            }
          },
          "400": {
            "description": "Returned when the specified parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the vendor."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      }
    },
    "/accountspayable/v1/vendors/{vendor_id}/1099info": {
      "get": {
        "operationId": "GetVendor1099Info",
        "summary": "Get vendor 1099 information",
        "description": "Get the 1099 information for a vendor.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.Vendor1099Information"
            }
          },
          "400": {
            "description": "Returned when the specified vendor ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the 1099 information."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      }
    },
    "/accountspayable/v1/vendors/{vendor_id}/addresses": {
      "get": {
        "operationId": "ListVendorAddresses",
        "summary": "List vendor addresses",
        "description": "Lists the addresses for a vendor.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.VendorAddressCollection"
            }
          },
          "400": {
            "description": "Returned when the specified vendor ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view addresses."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      },
      "post": {
        "operationId": "CreateVendorAddress",
        "summary": "Create a vendor address",
        "description": "Creates a new vendor address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewVendorAddress"
            },
            "description": "An object that represents the address to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates the address. The response body contains the ID of the new address.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedVendorAddress"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the address."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      }
    },
    "/accountspayable/v1/vendors/{vendor_id}/addresses/{address_id}": {
      "delete": {
        "operationId": "DeleteVendorAddress",
        "summary": "Delete a vendor address",
        "description": "Deletes a vendor address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "address_id",
            "in": "path",
            "description": "The system record ID of the vendor address to delete.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Address ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the address."
          },
          "400": {
            "description": "Returned when the specified vendor ID or address ID values are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the address."
          },
          "404": {
            "description": "Returned when the specified vendor could not be found."
          }
        }
      },
      "patch": {
        "operationId": "EditVendorAddress",
        "summary": "Update a vendor address",
        "description": "Updates a vendor address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID"
          },
          {
            "name": "address_id",
            "in": "path",
            "description": "The system record ID of the vendor address to update.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Address ID",
            "x-ms-url-encoding": "single"
          },          
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.EditVendorAddress"
            },
            "description": "An object that represents the properties of the vendor address to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the vendor address.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedVendorAddress"
            }
          },
          "400": {
            "description": "Returned when the specified parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the vendor address."
          },
          "404": {
            "description": "Returned when the specified vendor address is not found."
          }
        }
      }      
    },
    "/accountspayable/v1/vendors/{vendor_id}/addresses/{address_id}/contactmethods": {
      "get": {
        "operationId": "ListVendorAddressContactMethods",
        "summary": "List vendor address contact methods",
        "description": "Lists the contact methods for a vendor address.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "address_id",
            "in": "path",
            "description": "The system record ID of the vendor address.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Address ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.VendorAddressContactMethodCollection"
            }
          },
          "400": {
            "description": "Returned when the specified vendor ID or address ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view vendor address contact methods."
          },
          "404": {
            "description": "Returned when the specified vendor or address is not found."
          }
        }
      },
      "post": {
        "operationId": "CreateVendorAddressContactMethod",
        "summary": "Create a vendor address contact method",
        "description": "Creates a new contact method for a vendor address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "address_id",
            "in": "path",
            "description": "The system record ID of the vendor address.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Address ID",
            "x-ms-url-encoding": "single"
          },          
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewVendorAddressContactMethod"
            },
            "description": "The vendor address contact method to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful. The response body contains the ID of the new contact method.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedVendorAddressContactMethod"
            }
          },
          "400": {
            "description": "Returned when the request is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create vendor address contact methods."
          },
          "404": {
            "description": "Returned when the specified vendor or address is not found."
          }
        }
      }
    },
    "/accountspayable/v1/vendors/{vendor_id}/attachments": {
      "get": {
        "operationId": "ListVendorAttachments",
        "summary": "List vendor attachments",
        "description": "Lists the attachments for a vendor.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.AttachmentSummaryCollection"
            }
          },
          "400": {
            "description": "Returned when the specified vendor ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the attachments."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      }
    },
    "/accountspayable/v1/vendors/{vendor_id}/attachments/{attachment_id}": {
      "delete": {
        "operationId": "DeleteVendorAttachment",
        "summary": "Delete a vendor attachment",
        "description": "Deletes a vendor attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "attachment_id",
            "in": "path",
            "description": "The system record ID of the vendor attachment to delete.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Attachment ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the attachment."
          },
          "400": {
            "description": "Returned when the specified vendor ID or attachment ID values are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the attachment."
          },
          "404": {
            "description": "Returned when the specified vendor could not be found."
          }
        }
      }
    },
    "/accountspayable/v1/vendors/{vendor_id}/contacts": {
      "get": {
        "operationId": "ListVendorContacts",
        "summary": "List vendor contacts",
        "description": "Lists the contacts for a vendor.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.VendorContactCollection"
            }
          },
          "400": {
            "description": "Returned when the specified vendor ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the contacts."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      }
    },
    "/accountspayable/v1/vendors/{vendor_id}/defaultdistributions": {
      "get": {
        "operationId": "ListVendorDefaultDistributions",
        "summary": "List vendor default distributions",
        "description": "Lists the default distributions for a vendor.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 100. The maximum is 500.",
            "type": "integer",
            "format": "int32",
            "maximum": 500,
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.DefaultDistributionCollection"
            }
          },
          "400": {
            "description": "Returned when the specified vendor ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the vendor default distributions."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      }
    },
    "/accountspayable/v1/vendors/{vendor_id}/notes": {
      "get": {
        "operationId": "ListVendorNotesActions",
        "summary": "List vendor notes and actions",
        "description": "Lists the notes and actions for a vendor.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.VendorNoteActionCollection"
            }
          },
          "400": {
            "description": "Returned when the specified vendor ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the notes and actions."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      },
      "post": {
        "operationId": "CreateVendorNote",
        "summary": "Create a vendor note",
        "description": "Creates a new vendor note.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID"
          },            
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewVendorNote"
            },
            "description": "An object that represents the note to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a note. The response body contains the ID of the new note.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedVendorNote"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the note."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      }  
    },
    "/accountspayable/v1/vendors/attachments": {
      "post": {
        "operationId": "CreateVendorAttachment",
        "summary": "Create a vendor attachment",
        "description": "Creates a new vendor attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewVendorAttachment"
            },
            "description": "An object that represents the attachment to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an attachment. The response body contains the ID of the new attachment.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedVendorAttachment"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the attachment."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      }  
    },
    "/accountspayable/v1/virtual/vendors/{vendor_id}/actions": {
      "post": {
        "operationId": "CreateVendorAction",
        "summary": "Create a vendor action",
        "description": "Creates a new vendor action.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "vendor_id",
            "in": "path",
            "description": "The system record ID of the vendor.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Vendor ID"
          },            
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewVendorAction"
            },
            "description": "An object that represents the action to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an action. The response body contains the ID of the new action.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedVendorAction"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the action."
          },
          "404": {
            "description": "Returned when the specified vendor is not found."
          }
        }
      }  
    },

    "/accountspayable/v1/virtual/invoices": {
      "post": {
        "operationId": "CreateSingleDistributionInvoice",
        "summary": "Create an invoice (single distribution)",
        "description": "Creates a new invoice with a single distribution.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/APApi.NewSingleDistributionInvoice"
            },
            "description": "The invoice to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful. The response body contains the ID of the new invoice.",
            "schema": {
              "$ref": "#/definitions/APApi.CreatedInvoice"
            }
          },
          "400": {
            "description": "Returned when the request is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create invoices."
          }
        }
      }      
    },
    "/accountspayable/v1/virtual/invoices/{invoice_id}/vendoraddresses": {
      "get": {
        "operationId": "ListInvoiceVendorAddresses",
        "summary": "List invoice vendor addresses",
        "description": "Lists the addresses for the vendor on an invoice.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoice_id",
            "in": "path",
            "description": "The system record ID of the invoice.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Invoice ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.VendorAddressCollection"
            }
          },
          "400": {
            "description": "Returned when the specified invoice ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view invoices or vendors."
          },
          "404": {
            "description": "Returned when the specified invoice or vendor is not found."
          }
        }
      }
    },
    "/accountspayable/v1/virtual/singledistributioninvoice/schema": {
      "get": {
        "operationId": "GetSingleDistributionInvoiceSchema",
        "summary": "Get single distribution invoice schema",
        "description": "Get the OpenAPI schema for an invoice with a single distribution.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/APApi.Virtual.DynamicSchema"
            }
          }
        }
      }
    },

    "/generalledger/v1/classes": {
      "get": {
        "operationId": "ListClasses",
        "summary": "List classes",
        "description": "Lists the account classes.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/GLApi.ClassArray"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view classes."
          }
        }
      }
    }
  },
  "definitions": {
    "APApi.AddressContactMethod": {
      "type": "object",
      "description": "Address contact method",
      "properties": {
        "contact_method_id": {
          "type": "integer",
          "format": "int32",
          "description": "The system record ID of the address contact method.",
          "x-ms-summary": "ID"
        },
        "contact_type": {
          "type": "string",
          "description": "The contact method type.",
          "x-ms-summary": "type"
        },
        "contact_info": {
          "type": "string",
          "description": "The contact method information.",
          "x-ms-summary": "information"
        }        
      }
    },
    "APApi.AttachmentSummary": {
      "type": "object",
      "description": "Attachment",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The system record ID of the attachment.",
          "x-ms-summary": "ID"
        },        
        "type": {
          "type": "string",
          "description": "The attachment type.",
          "x-ms-summary": "Type",
          "enum": [
            "Link",
            "Physical"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the attachment.",
          "x-ms-summary": "Name"
        },
        "url": {
          "type": "string",
          "description": "The URL for the attachment. Only applicable for link attachments.",
          "x-ms-summary": "URL"
        },
        "media_type": {
          "type": "string",
          "description": "User-defined category of this attachment.",
          "x-ms-summary": "Attachment type"
        },
        "date_attached": {
          "type": "string",
          "format": "date-time",
          "description": "The date the attachment was added."
        }
      }
    },
    "APApi.AttachmentSummaryCollection": {
      "type": "object",
      "description": "Fetching data all at once quickly becomes unmanageable. The collection entity helps by returning paginated chunks of large data sets. This entity includes helpful metadata and properties to paginate and iterate through the data.",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/APApi.AttachmentSummary"
          }
        }
      }
    },
    "APApi.BoxNumberCollection": {
      "type": "object",
      "description": "Box numbers",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "APApi.Buyer": {
      "type": "object",
      "description": "Buyer",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The buyer identifier.",
          "x-ms-summary": "ID"
        },
        "description": {
          "type": "string",
          "description": "The buyer description.",
          "x-ms-summary": "Description"
        },
        "value": {
          "type": "string",
          "description": "The buyer value.",
          "x-ms-summary": "Value"
        },
        "inactive": {
          "type": "boolean",
          "description": "Is the buyer inactive?",
          "x-ms-summary": "Inactive?"
        }
      }
    },
    "APApi.BuyerCollection": {
      "type": "object",
      "description": "Buyers",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/APApi.Buyer"
          }
        }
      }
    },
    "APApi.CreatedInvoice": {
      "type": "object",
      "description": "Created invoice",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created invoice.",
          "x-ms-summary": "ID"
        }
      }
    },
    "APApi.CreatedInvoiceAttachment": {
      "type": "object",
      "description": "Created invoice attachment",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created attachment.",
          "x-ms-summary": "ID"
        }
      }      
    },
    "APApi.CreatedPurchaseOrder": {
      "type": "object",
      "description": "Created purchase order",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created purchase order.",
          "x-ms-summary": "ID"
        }
      }
    },
    "APApi.CreatedVendor": {
      "type": "object",
      "description": "Created vendor",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created vendor.",
          "x-ms-summary": "ID"
        }
      }
    },
    "APApi.CreatedVendorAction": {
      "type": "object",
      "description": "Created vendor action",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created vendor action.",
          "x-ms-summary": "ID"
        }
      }
    },
    "APApi.CreatedVendorAddress": {
      "type": "object",
      "description": "Created vendor address",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created vendor address.",
          "x-ms-summary": "ID"
        }
      }
    },
    "APApi.CreatedVendorAddressContactMethod": {
      "type": "object",
      "description": "Created vendor address contact method",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created vendor address contact method.",
          "x-ms-summary": "ID"
        }
      }
    },
    "APApi.CreatedVendorAttachment": {
      "type": "object",
      "description": "Created vendor attachment",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created attachment.",
          "x-ms-summary": "ID"
        }
      }      
    },
    "APApi.CreatedVendorNote": {
      "type": "object",
      "description": "Created vendor note",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created vendor note.",
          "x-ms-summary": "ID"
        }
      }
    },
    "APApi.CustomField": {
      "type": "object",
      "description": "An object containing the custom field details.",
      "properties": {
        "field_name": {
          "type": "string",
          "description": "The name of the custom field.",
          "x-ms-summary": "name"
        },
        "type": {
          "type": "string",
          "description": "The type of data that the custom field represents.",
          "x-ms-summary": "type",
          "enum": [
            "Text",
            "Number",
            "DateTime",
            "Currency",
            "Boolean",
            "Table",
            "FuzzyDate"
          ]
        },
        "value": {
          "type": "string",
          "description": "The value of the custom field.",
          "x-ms-summary": "value"
        },
        "is_required": {
          "type": "boolean",
          "description": "Is the custom field required?",
          "x-ms-summary": "is required?"
        },        
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "The date on the custom field.",
          "x-ms-summary": "date"
        },
        "comments": {
          "type": "string",
          "description": "The comment on the custom field.",
          "x-ms-summary": "comment"
        }
      }
    },
    "APApi.DefaultDistribution": {
      "type": "object",
      "description": "Distribution",
      "properties": {
        "distribution_id": {
          "type": "integer",
          "format": "int32",
          "description": "The distribution identifier.",
          "x-ms-summary": "ID"
        },
        "type_code": {
          "type": "string",
          "description": "The journal entry transaction type for the distribution.",
          "x-ms-summary": "Type",
          "enum": [
            "Debit",
            "Credit"
          ]
        },
        "account_number": {
          "type": "string",
          "description": "The account number for the distribution.",
          "x-ms-summary": "Account number"
        },
        "percent": {
          "type": "number",
          "format": "decimal",
          "description": "The distribution journal entry amount percentage.",
          "x-ms-summary": "Percent"
        },
        "default_distribution_splits": {
          "type": "array",
          "description": "The list of splits for the default distribution.",
          "x-ms-summary": "Split",
          "items": {
              "$ref": "#/definitions/APApi.DefaultDistributionSplit"
          }
        },        
        "custom_fields": {
          "type": "array",
          "description": "The list of custom fields for the distribution.",
          "x-ms-summary": "Custom field",
          "items": {
            "$ref": "#/definitions/APApi.CustomField"
          }
        }
      }
    },
    "APApi.DefaultDistributionCollection": {
      "type": "object",
      "description": "Distributions",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/APApi.DefaultDistribution"
          }
        }
      }
    },
    "APApi.DefaultDistributionSplit": {
      "type": "object",
      "description": "Split",
      "properties": {
        "distribution_split_id": {
          "type": "integer",
          "format": "int32",
          "description": "The distribution split identifier.",
          "x-ms-summary": "ID"
        },
        "percent": {
          "type": "number",
          "format": "decimal",
          "description": "The distribution journal entry amount percentage.",
          "x-ms-summary": "percent"
        },
        "ui_project_id": {
          "type": "string",
          "description": "The user-visible identifier of the project for the distribution split.",
          "x-ms-summary": "project"
        },
        "account_class": {
          "type": "string",
          "description": "The account class for the distribution split.",
          "x-ms-summary": "Class"
        },
        "transaction_code_values": {
          "type": "array",
          "description": "The distribution transaction code values.",
          "items": {
            "$ref": "#/definitions/APApi.TransactionCodeValue"
          }
        }
      }
    },
    "APApi.Department": {
      "type": "object",
      "description": "Department",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The department code identifier.",
          "x-ms-summary": "ID"
        },
        "description": {
          "type": "string",
          "description": "The department code description.",
          "x-ms-summary": "Description"
        },
        "value": {
          "type": "string",
          "description": "The department code value.",
          "x-ms-summary": "Value"
        },
        "inactive": {
          "type": "boolean",
          "description": "Is the department code inactive?",
          "x-ms-summary": "Inactive?"
        }
      }
    },
    "APApi.DepartmentCollection": {
      "type": "object",
      "description": "Departments",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/APApi.Department"
          }
        }
      }
    },
    "APApi.Distribution": {
      "type": "object",
      "description": "An object containing the distribution details.",
      "properties": {
        "distribution_id": {
          "type": "integer",
          "format": "int32",
          "description": "The distribution identifier.",
          "x-ms-summary": "ID"
        },
        "type_code": {
          "type": "string",
          "description": "The journal entry transaction type for the distribution.",
          "x-ms-summary": "type",
          "enum": [
            "Debit",
            "Credit"
          ]
        },
        "account_number": {
          "type": "string",
          "description": "The account number for the distribution.",
          "x-ms-summary": "account number"
        },
        "amount": {
          "type": "number",
          "format": "decimal",
          "description": "The distribution journal entry amount.",
          "x-ms-summary": "amount"
        },
        "description": {
          "type": "string",
          "description": "The description for the distribution.",
          "x-ms-summary": "description"
        },        
        "distribution_splits": {
          "type": "array",
          "description": "The list of splits for the distribution.",
          "x-ms-summary": "split",
          "items": {
            "$ref": "#/definitions/APApi.DistributionSplit"
          }
        },        
        "custom_fields": {
          "type": "array",
          "description": "The list of custom fields for the distribution.",
          "x-ms-summary": "custom field",
          "items": {
            "$ref": "#/definitions/APApi.CustomField"
          }
        }
      }
    },
    "APApi.DistributionSplit": {
      "type": "object",
      "description": "split",
      "properties": {
        "distribution_split_id": {
          "type": "integer",
          "format": "int32",
          "description": "The distribution split identifier.",
          "x-ms-summary": "ID"
        },
        "amount": {
          "type": "number",
          "format": "decimal",
          "description": "The distribution journal entry amount.",
          "x-ms-summary": "amount"
        },
        "ui_project_id": {
          "type": "string",
          "description": "The user-visible identifier of the project for the distribution split.",
          "x-ms-summary": "project"
        },
        "account_class": {
          "type": "string",
          "description": "The account class for the distribution split.",
          "x-ms-summary": "class"
        },
        "transaction_code_values": {
          "type": "array",
          "description": "The distribution transaction code values.",
          "items": {
            "$ref": "#/definitions/APApi.TransactionCodeValue"
          }
        }
      }
    },
    "APApi.EditInvoice": {
[...]
