{
  "swagger":"2.0",
  "info":{
    "title":"Recorded Future Identity",
    "description":"The Recorded Future Identity Intelligence Connector enables security and IT teams to detect identity compromises, for both employees and customers. To do this, Recorded Future automates the collection, analysis, and production of identity intelligence from a vast range of sources. Through this connector, organizations can incorporate identity intelligence into automated workflows (e.g., password resets) with applications such as Azure Active Directory and Microsoft Sentinel.",
    "contact":{
      "name":"Recorded Future Support",
      "url":"https://support.recordedfuture.com",
      "email":"support@recordedfuture.com"
    },
    "version":"1.0"
  },
  "host":"api.recordedfuture.com",
  "basePath":"/gw/azure-identity",
  "schemes":[
    "https"
  ],
  "paths":{
    "/credentials/lookup":{
      "post":{
        "responses":{
          "200":{
            "description":"Default",
            "schema":{
              "type":"object",
              "properties":{
                "exposed_credentials":{
                  "title":"Exposed credentials",
                  "description":"List of exposed credentials",
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "signature":{
                        "type":"string",
                        "description":"Requested signature",
                        "title":"signature",
                        "x-ms-visibility":"important"
                      },
                      "exposed_secret_format":{
                        "type":"string",
                        "description":"Format of the exposed secret. Either the hash algorithm or clear for cleartext.",
                        "x-ms-visibility":"important"
                      },
                      "first_seen":{
                        "type":"string",
                        "description":"Date when the signature was first seen exposed",
                        "x-ms-visibility":"important"
                      },
                      "last_seen":{
                        "type":"string",
                        "description":"Date when the signature was last seen exposed",
                        "title":"last_seen",
                        "x-ms-visibility":"important"
                      },
                      "clear_text_hint":{
                        "type":"string",
                        "description":"First two letters of the exposed secret. Only available for secrets exposed in clear text",
                        "x-ms-visibility":"important"
                      },
                      "secret_properties":{
                        "type":"string",
                        "description":"Properties of the clear text",
                        "x-ms-visibility":"important"
                      },
                      "secret_rank":{
                        "type":"string",
                        "description":"Any common password collections the password is part of",
                        "x-ms-visibility":"important"
                      },
                      "secret_hashes":{
                        "type":"array",
                        "items":{
                          "type":"object",
                          "description":"List of known hashes of the exposed secret. Calculated by Recorded Future if the secret was exposed in clear text.",
                          "properties":{
                            "algorithm":{
                              "type":"string",
                              "description":"Hash algorithm used",
                              "title":"algorithm",
                              "x-ms-visibility":"important"
                            },
                            "hash":{
                              "type":"string",
                              "description":"Hash value",
                              "title":"hash",
                              "x-ms-visibility":"important"
                            }
                          }
                        }
                      },
                      "malware_family":{
                        "type":"string",
                        "title":"Malware family",
                        "description":"Family of malware used to extract the credentials",
                        "x-ms-visibility":"important"
                      },
                      "dumps":{
                        "type":"array",
                        "description":"List of data dumps in which the signature has been involved.",
                        "items":{
                          "type":"object",
                          "properties":{
                            "name":{
                              "type":"string",
                              "description":"Name of the dump",
                              "x-ms-visibility":"important"
                            },
                            "description":{
                              "type":"string",
                              "description":"Description of the dump",
                              "x-ms-visibility":"important"
                            },
                            "downloaded":{
                              "type":"string",
                              "description":"Date when the dump was downloaded",
                              "x-ms-visibility":"important"
                            },
                            "type":{
                              "type":"string",
                              "description":"Type of the dump",
                              "title":"type",
                              "x-ms-visibility":"important"
                            },
                            "breaches":{
                              "type":"array",
                              "description":"List of data breaches related to the dump",
                              "items":{
                                "type":"object",
                                "properties":{
                                  "name":{
                                    "type":"string",
                                    "x-ms-visibility":"important"
                                  },
                                  "domain":{
                                    "type":"string",
                                    "x-ms-visibility":"important"
                                  },
                                  "type":{
                                    "type":"string",
                                    "x-ms-visibility":"important"
                                  },
                                  "breached":{
                                    "type":"string",
                                    "x-ms-visibility":"important"
                                  },
                                  "start":{
                                    "type":"string",
                                    "x-ms-visibility":"important"
                                  },
                                  "stop":{
                                    "type":"string",
                                    "x-ms-visibility":"important"
                                  },
                                  "precision":{
                                    "type":"string",
                                    "x-ms-visibility":"important"
                                  },
                                  "description":{
                                    "type":"string",
                                    "x-ms-visibility":"important"
                                  },
                                  "site_description":{
                                    "type":"string",
                                    "x-ms-visibility":"important"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary":"Credential Lookup - Look up credential data for one or more users",
        "description":"Look up exposed credential data for a specific set of subjects",
        "operationId":"Credential_Lookup",
        "x-ms-visibility":"important",
        "consumes":[
          "application/json"
        ],
        "parameters":[
          {
            "name":"body",
            "in":"body",
            "required":true,
            "schema":{
              "type":"object",
              "properties":{
                "subjects":{
                  "x-ms-visibility":"important",
                  "type":"array",
                  "title":"Emails",
                  "items":{
                    "type":"string",
                    "title":"Email",
                    "description":"An email-address with exposed credentials",
                    "x-ms-visibility":"important"
                  },
                  "description":"List of email addresses to look up"
                },
                "subjects_sha1":{
                  "x-ms-visibility":"advanced",
                  "type":"array",
                  "title":"Hashed emails",
                  "items":{
                    "type":"string",
                    "title":"Hash of email",
                    "description":"The SHA1 hash of an email-address with exposed credentials",
                    "x-ms-visibility":"important"
                  },
                  "description":"List of hashed email addresses to look up"
                },
                "subjects_login":{
                  "x-ms-visibility":"important",
                  "type":"array",
                  "title":"Credential with auth domain :",
                  "items":{
                    "type":"object",
                    "properties":{
                      "login":{
                        "type":"string",
                        "title":"Username",
                        "description":"Either input username or hash of username",
                        "x-ms-visibility":"important"
                      },
                      "login_sha1":{
                        "type":"string",
                        "title":"Hash of username",
                        "description":"Either input username or hash of username",
                        "x-ms-visibility":"important"
                      },
                      "domain":{
                        "type":"string",
                        "title":"Domain",
                        "description":"domain.com",
                        "x-ms-visibility":"important"
                      }
                    }
                  },
                  "description":"List of breached domain users to look up"
                },
                "filter":{
                  "type":"object",
                  "properties":{
                    "first_downloaded_gte":{
                      "title":"From",
                      "description":"YYYY-MM-DD (until today)",
                      "type":"string",
                      "x-ms-visibility":"important"
                    },
                    "properties":{
                      "$ref":"#/definitions/CredentialProperties"
                    },
                    "breach_properties":{
                      "$ref":"#/definitions/BreachProperties"
                    },
                    "dump_properties":{
                      "$ref":"#/definitions/DumpProperties"
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/credentials/search":{
      "post":{
        "responses":{
          "200":{
            "description":"Default",
            "schema":{
              "type":"object",
              "properties":{
                "credential_dumps":{
                  "title":"Credential dumps",
                  "type":"array",
                  "description":"List of credentials exposed in data dumps",
                  "items":{
                    "type":"string",
                    "x-ms-visibility":"important"
                  }
                },
                "malware_logs":{
                  "title":"Malware logs",
                  "type":"array",
                  "description":"List of credentials exposed through malware logs",
                  "items":{
                    "type":"object",
                    "properties":{
                      "login":{
                        "title":"Login",
                        "type":"string",
                        "description":"Login username",
                        "x-ms-visibility":"important"
                      },
                      "domain":{
                        "title":"Domain",
                        "type":"string",
                        "description":"Login domain",
                        "x-ms-visibility":"important"
                      }
                    }
                  }
                },
                "count":{
                  "title":"Count",
                  "type":"number",
                  "description":"Number of returned credentials",
                  "x-ms-visibility":"important"
                },
                "next_offset":{
                  "title":"Next offset",
                  "type":"string",
                  "description":"Offset used to request succeeding records",
                  "x-ms-visibility":"important"
                }
              }
            }
          }
        },
        "summary":"Credential Search - Search credential data for one or more domains",
        "description":"Search credential data exposed in data dumps and through malware logs",
        "operationId":"Credential_Search",
        "x-ms-visibility":"important",
        "consumes":[
          "application/json"
        ],
        "parameters":[
          {
            "name":"body",
            "in":"body",
            "required":true,
            "schema":{
              "type":"object",
              "properties":{
                "domains":{
                  "x-ms-visibility":"important",
                  "type":"array",
                  "title":"Domains",
                  "description":"List of domains to search",
                  "items":{
                    "title":"Domain",
                    "description":"A domain owned by your organization",
                    "type":"string",
                    "x-ms-visibility":"important"
                  }
                },
                "domain_type":{
                  "title":"Credential type",
                  "type":"string",
                  "description":"Select credential type",
                  "enum":[
                    "My Organization (workforce use case)",
                    "Customer (external use case)"
                  ],
                  "default":"My Organization (workforce use case)",
                  "x-ms-visibility":"important"
                },
                "filter":{
                  "type":"object",
                  "properties":{
                    "latest_downloaded_gte":{
                      "title":"From",
                      "description":"YYYY-MM-DD (until today)",
                      "type":"string",
                      "x-ms-visibility":"important"
                    },
                    "properties":{
                      "$ref":"#/definitions/CredentialProperties"
                    },
                    "breach_properties":{
                      "$ref":"#/definitions/BreachProperties"
                    },
                    "dump_properties":{
                      "$ref":"#/definitions/DumpProperties"
                    }
                  }
                },
                "offset":{
                  "title":"Offset",
                  "type":"string",
                  "description":"Records from offset",
                  "x-ms-visibility":"advanced"
                },
                "limit":{
                  "title":"Results",
                  "type":"number",
                  "description":"Maxiumum number of results",
                  "x-ms-visibility":"advanced",
                  "default":500
                }
              }
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata":[
    {
      "propertyName":"Website",
      "propertyValue":"https://www.recordedfuture.com"
    },
    {
      "propertyName":"Privacy Policy",
      "propertyValue":"https://www.recordedfuture.com/privacy-policy/"
    },
    {
      "propertyName":"Categories",
      "propertyValue":"AI;Data"
    }
  ],
  "definitions":{
    "CredentialProperties":{
      "type":"array",
      "x-ms-visibility":"advanced",
      "title":"Credential properties",
      "description":"Filter on credential properties",
      "items":{
        "type":"string",
        "title":"Credential property",
        "description":"Credentials must include",
        "enum":[
          "Letter",
          "Number",
          "Symbol",
          "UpperCase",
          "LowerCase",
          "MixedCase",
          "AtLeast8Characters",
          "AtLeast12Characters",
          "AtLeast16Characters",
          "AtLeast24Characters"
        ]
      }
    },
    "BreachProperties":{
      "type":"object",
      "x-ms-visibility":"advanced",
      "properties":{
        "name":{
          "title":"Breach name",
          "type":"string",
          "description":"E.g. Cit0day"
        },
        "date":{
          "title":"Breaches from",
          "type":"string",
          "description":"YYYY-MM-DD (until today)"
        }
      }
    },
    "DumpProperties":{
      "x-ms-visibility":"advanced",
      "type":"object",
      "properties":{
        "name":{
          "title":"Dump name",
          "type":"string",
          "description":"E.g. XSS.is Dump 2021"
        },
        "date":{
          "title":"Dumps from",
          "type":"string",
          "description":"YYYY-MM-DD (until today)"
        }
      }
    }
  },
  "securityDefinitions":{
    "API Key":{
      "type":"apiKey",
      "in":"header",
      "name":"X-RFToken"
    }
  },
  "security":[
    {
      "API Key":[
        
      ]
    }
  ]
}
