{
  "swagger": "2.0",
  "info": {
    "title": "Mintlify",
    "description": "Hate writing code documentation? Save time and improve your codebase by letting Mintlify generate documentation for you.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.mintlify.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/v1/document": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "documentation": {
                  "type": "string",
                  "description": "The documentation.",
                  "title": "Documentation"
                }
              }
            }
          }
        },
        "summary": "Generate documentation",
        "description": "Returns a documentation string based on the code submitted.",
        "operationId": "DocGen",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "commented": {
                  "type": "boolean",
                  "description": "Whether or not to comment the documentation output.",
                  "title": "Commented",
                  "default": true,
                  "enum": [
                    true,
                    false
                  ]
                },
                "language": {
                  "type": "string",
                  "description": "The programming language of the code.",
                  "title": "Language",
                  "default": "javascript",
                  "enum": [
                    "javascript",
                    "typescript",
                    "javascriptreact",
                    "typescriptreact",
                    "python",
                    "php"
                  ]
                },
                "code": {
                  "type": "string",
                  "description": "The code to generate documentation for.",
                  "title": "Code"
                },
                "format": {
                  "type": "string",
                  "description": "The format of the documentation. Only works if commented is true.",
                  "title": "Format",
                  "enum": [
                    "",
                    "JSDoc",
                    "reST",
                    "DocBlock",
                    "Google"
                  ]
                },
                "context": {
                  "type": "string",
                  "description": "Only use if code needs more context (e.g. method in a class)",
                  "title": "Context"
                }
              },
              "required": [
                "code",
                "language"
              ]
            }
          }
        ]
      }
    },
    "/v1/list/languages": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "languages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The list of languages.",
                  "title": "Languages"
                }
              }
            }
          }
        },
        "summary": "List languages",
        "description": "Retrieve a list of languages supported.",
        "operationId": "LanguageList",
        "parameters": []
      }
    },
    "/v1/list/formats": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "formats": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "defaultLanguages": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The list of default languages.",
                        "title": "Default Languages"
                      }
                    }
                  },
                  "title": "Formats"
                }
              }
            }
          }
        },
        "summary": "List documentation formats",
        "parameters": [],
        "description": "Retrieve a list of documentation formats supported.",
        "operationId": "DocList"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "API-KEY"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mintlify.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mintlify.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;AI"
    }
  ]
}