{
  "swagger": "2.0",
  "info": {
    "title": "LINE WORKS Incoming Webhook",
    "description": "This is a custom connector for LINE WORKS Incoming Webhook",
    "version": "1.0"
  },
  "host": "webhook.worksmobile.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/message/{webhookId}": {
      "post": {
        "summary": "LINE WORKS Incoming Webhook",
        "operationId": "LWwebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter the ID found at the end of the Webhook URL."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Optional. If not specified, the webhook name will be used as the title."
                },
                "body": {
                  "type": "object",
                  "required": [
                    "text"
                  ],
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "Required. Message text."
                    }
                  }
                },
                "button": {
                  "type": "object",
                  "required": [
                    "label",
                    "url"
                  ],
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "To use the button, both 'label' and 'url' must be specified. If either is missing, the button will not be displayed."
                    },
                    "url": {
                      "type": "string",
                      "description": "URL to navigate to when the button is clicked."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        }
      }
    }
  }
}