{
  "swagger": "2.0",
  "info": {
    "title": "Hunter",
    "description": "Hunter lets you find professional email addresses in seconds and connect with the people that matter for your business. At Hunter, we consider data to be most valuable when sourced and processed using transparent methods. Every single email address we collect and distribute in the Domain Search has public sources we indicate along with the discovery dates.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hunter.io",
  "basePath": "/v2/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/domain-search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "The domain.",
                      "title": "Domain"
                    },
                    "disposable": {
                      "type": "boolean",
                      "description": "Whether disposable.",
                      "title": "Disposable"
                    },
                    "webmail": {
                      "type": "boolean",
                      "description": "Whether webmail.",
                      "title": "Webmail"
                    },
                    "accept_all": {
                      "type": "boolean",
                      "description": "Whether accept all.",
                      "title": "Accept All"
                    },
                    "pattern": {
                      "type": "string",
                      "description": "The pattern.",
                      "title": "Pattern"
                    },
                    "organization": {
                      "type": "string",
                      "description": "The organization.",
                      "title": "Organization"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "confidence": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The confidence.",
                            "title": "Confidence"
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "domain": {
                                  "type": "string",
                                  "description": "The domain.",
                                  "title": "Domain"
                                },
                                "uri": {
                                  "type": "string",
                                  "description": "The Uri.",
                                  "title": "Uri"
                                },
                                "extracted_on": {
                                  "type": "string",
                                  "description": "When extracted on.",
                                  "title": "Extracted On"
                                },
                                "last_seen_on": {
                                  "type": "string",
                                  "description": "When last seen on.",
                                  "title": "Last Seen On"
                                },
                                "still_on_page": {
                                  "type": "boolean",
                                  "description": "Whether still on page.",
                                  "title": "Still On Page"
                                }
                              }
                            },
                            "title": "Sources"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "position": {
                            "type": "string",
                            "description": "The position.",
                            "title": "Position"
                          },
                          "seniority": {
                            "type": "string",
                            "description": "The seniority.",
                            "title": "Seniority"
                          },
                          "department": {
                            "type": "string",
                            "description": "The department.",
                            "title": "Department"
                          },
                          "linkedin": {
                            "type": "string",
                            "description": "The LinkedIn account.",
                            "title": "LinkedIn"
                          },
                          "twitter": {
                            "type": "string",
                            "description": "The Twitter account.",
                            "title": "Twitter"
                          },
                          "phone_number": {
                            "type": "string",
                            "description": "The phone number.",
                            "title": "Phone Number"
                          },
                          "verification": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "string",
                                "description": "The date.",
                                "title": "Date"
                              },
                              "status": {
                                "type": "string",
                                "description": "The status.",
                                "title": "Status"
                              }
                            },
                            "title": "Verification"
                          }
                        }
                      },
                      "title": "Emails"
                    },
                    "linked_domains": {
                      "type": "array",
                      "items": {},
                      "description": "The linked domains.",
                      "title": "Linked Domains"
                    }
                  },
                  "title": "Data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The results.",
                      "title": "Results"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The limit.",
                      "title": "Limit"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The offset.",
                      "title": "Offset"
                    },
                    "params": {
                      "type": "object",
                      "properties": {
                        "domain": {
                          "type": "string",
                          "description": "The domain.",
                          "title": "Domain"
                        },
                        "company": {
                          "type": "string",
                          "description": "The company.",
                          "title": "Company"
                        },
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        },
                        "seniority": {
                          "type": "string",
                          "description": "The seniority.",
                          "title": "Seniority"
                        },
                        "department": {
                          "type": "string",
                          "description": "The deparment.",
                          "title": "Department"
                        }
                      },
                      "title": "Parameters"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Search domain",
        "description": "Retrieves all the email addresses corresponding to one website. Each response will return up to 100 emails. The number of sources is limited to 20 for each email address. You must send at least the domain name or the company name, or both.",
        "operationId": "Domain",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "x-ms-summary": "Domain",
            "description": "The domain address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "x-ms-summary": "Company",
            "description": "The company.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Specifies the max number to return. The default is 10.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "Specifies the number to skip. The default is 0.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "type",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The type. Can be either personal or generic.",
            "required": false,
            "type": "string",
            "enum": [
              "personal",
              "generic"
            ]
          },
          {
            "name": "seniority",
            "in": "query",
            "x-ms-summary": "Seniority",
            "description": "Get only email addresses for people with the selected seniority level. The possible values are junior, senior or executive. Several seniority levels can be selected (delimited by a comma).",
            "required": false,
            "type": "string"
          },
          {
            "name": "department",
            "in": "query",
            "x-ms-summary": "Department",
            "description": "Get only email addresses for people working in the selected department(s). The possible values are executive, it, finance, management, sales, legal, support, hr, marketing or communication. Several departments can be selected (comma-delimited).",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/email-finder": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "first_name": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "The last name.",
                      "title": "Last Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The score.",
                      "title": "Score"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain.",
                      "title": "Domain"
                    },
                    "accept_all": {
                      "type": "boolean",
                      "description": "Whether accept all.",
                      "title": "Accept All"
                    },
                    "position": {
                      "type": "string",
                      "description": "The position.",
                      "title": "Position"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "The Twitter account.",
                      "title": "Twitter"
                    },
                    "linkedin_url": {
                      "type": "string",
                      "description": "The LinkedIn URL address.",
                      "title": "LinkedIn URL"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone Number"
                    },
                    "company": {
                      "type": "string",
                      "description": "The company.",
                      "title": "Company"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "The domain.",
                            "title": "Domain"
                          },
                          "uri": {
                            "type": "string",
                            "description": "The Uri address.",
                            "title": "Uri"
                          },
                          "extracted_on": {
                            "type": "string",
                            "description": "When extracted on.",
                            "title": "Extracted On"
                          },
                          "last_seen_on": {
                            "type": "string",
                            "description": "When last seen on.",
                            "title": "Last Seen On"
                          },
                          "still_on_page": {
                            "type": "boolean",
                            "description": "Whether still on page.",
                            "title": "Still On Page"
                          }
                        }
                      },
                      "title": "Sources"
                    },
                    "verification": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "The date.",
                          "title": "Date"
                        },
                        "status": {
                          "type": "string",
                          "description": "The status.",
                          "title": "Status"
                        }
                      },
                      "title": "Verification"
                    }
                  },
                  "title": "Data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "params": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "description": "The first name.",
                          "title": "First Name"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The last name.",
                          "title": "Last Name"
                        },
                        "full_name": {
                          "type": "string",
                          "description": "The full name.",
                          "title": "Full Name"
                        },
                        "domain": {
                          "type": "string",
                          "description": "The domain.",
                          "title": "Domain"
                        },
                        "company": {
                          "type": "string",
                          "description": "The company.",
                          "title": "Company"
                        },
                        "max_duration": {
                          "type": "string",
                          "description": "The max duration.",
                          "title": "Max Duration"
                        }
                      },
                      "title": "Parameters"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "x-ms-summary": "Domain",
            "description": "The domain address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "x-ms-summary": "Company",
            "description": "The company.",
            "required": false,
            "type": "string"
          },
          {
            "name": "first_name",
            "in": "query",
            "x-ms-summary": "First Name",
            "description": "The first name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "last_name",
            "in": "query",
            "x-ms-summary": "Last Name",
            "description": "The last name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "full_name",
            "in": "query",
            "x-ms-summary": "Full name",
            "description": "The full name.",
            "required": false,
            "type": "string"
          },
          {
            "name": "max_duration",
            "in": "query",
            "x-ms-summary": "Maximum Duration",
            "description": "The maximum duration of the request in seconds. Setting a longer duration allows us to refine the results and provide more accurate data. It must range between 3 and 20. The default is 5.",
            "required": false,
            "type": "integer"
          }
        ],
        "summary": "Search for email address",
        "description": "Retrieves the most likely email address from a domain name and name. You must send at least the domain name or the company name, or both.",
        "operationId": "Email"
      }
    },
    "/author-finder": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "first_name": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "The last name.",
                      "title": "Last Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The score.",
                      "title": "Score"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The domain.",
                      "title": "Domain"
                    },
                    "accept_all": {
                      "type": "boolean",
                      "description": "Whether accept all.",
                      "title": "Accept All"
                    },
                    "position": {
                      "type": "string",
                      "description": "The position.",
                      "title": "Position"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "The Twitter account.",
                      "title": "Twitter"
                    },
                    "linkedin_url": {
                      "type": "string",
                      "description": "The LinkedIn URL address.",
                      "title": "LinkedIn URL"
                    },
                    "phone_number": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone Number"
                    },
                    "company": {
                      "type": "string",
                      "description": "The company.",
                      "title": "Company"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "The domain.",
                            "title": "Domain"
                          },
                          "uri": {
                            "type": "string",
                            "description": "The Uri address.",
                            "title": "Uri"
                          },
                          "extracted_on": {
                            "type": "string",
                            "description": "When extracted on.",
                            "title": "Extracted On"
                          },
                          "last_seen_on": {
                            "type": "string",
                            "description": "When last seen on.",
                            "title": "Last Seen On"
                          },
                          "still_on_page": {
                            "type": "boolean",
                            "description": "Whether still on page.",
                            "title": "Still On Page"
                          }
                        }
                      },
                      "title": "Sources"
                    },
                    "verification": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "The date.",
                          "title": "Date"
                        },
                        "status": {
                          "type": "string",
                          "description": "The status.",
                          "title": "Status"
                        }
                      },
                      "title": "Verification"
                    }
                  },
                  "title": "Data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "params": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "The URL address.",
                          "title": "URL"
                        },
                        "max_duration": {
                          "type": "string",
                          "description": "The max duration.",
                          "title": "Max Duration"
                        }
                      },
                      "title": "Parameters"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Search for author",
        "description": "Retrieves an author from an article URL, and their most likely email address on the given domain name.",
        "operationId": "Author",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "x-ms-summary": "URL",
            "description": "The URL address.",
            "required": true,
            "type": "string"
          },
          {
            "name": "max_duration",
            "in": "query",
            "x-ms-summary": "Maximum Duration",
            "description": "The maximum duration of the request in seconds. Setting a longer duration allows us to refine the results and provide more accurate data. It must range between 3 and 20. The default is 5.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/email-verifier": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "result": {
                      "type": "string",
                      "description": "The result.",
                      "title": "Result"
                    },
                    "_deprecation_notice": {
                      "type": "string",
                      "description": "The deprecation notice.",
                      "title": "Deprecation Notice"
                    },
                    "score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The score.",
                      "title": "Score"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "regexp": {
                      "type": "boolean",
                      "description": "Whether regexp",
                      "title": "Regexp"
                    },
                    "gibberish": {
                      "type": "boolean",
                      "description": "Whether gibberish.",
                      "title": "Gibberish"
                    },
                    "disposable": {
                      "type": "boolean",
                      "description": "Whether disposable.",
                      "title": "Disposable"
                    },
                    "webmail": {
                      "type": "boolean",
                      "description": "Whether webmail.",
                      "title": "Webmail"
                    },
                    "mx_records": {
                      "type": "boolean",
                      "description": "Whether MX records.",
                      "title": "MX Records"
                    },
                    "smtp_server": {
                      "type": "boolean",
                      "description": "Whether SMTP server.",
                      "title": "SMTP Server"
                    },
                    "smtp_check": {
                      "type": "boolean",
                      "description": "Whether SMTP check.",
                      "title": "SMTP Check"
                    },
                    "accept_all": {
                      "type": "boolean",
                      "description": "Whether accept all.",
                      "title": "Accept All"
                    },
                    "block": {
                      "type": "boolean",
                      "description": "Whether blocked.",
                      "title": "Blocked"
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "The domain.",
                            "title": "Domain"
                          },
                          "uri": {
                            "type": "string",
                            "description": "The Uri address.",
                            "title": "Uri"
                          },
                          "extracted_on": {
                            "type": "string",
                            "description": "When extracted on.",
                            "title": "Extracted On"
                          },
                          "last_seen_on": {
                            "type": "string",
                            "description": "When last seen on.",
                            "title": "Last Seen On"
                          },
                          "still_on_page": {
                            "type": "boolean",
                            "description": "Whether still on page.",
                            "title": "Still On Page"
                          }
                        }
                      },
                      "title": "Sources"
                    }
                  },
                  "title": "Data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "params": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "description": "The email address.",
                          "title": "Email"
                        }
                      },
                      "title": "Parameters"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Verify email address",
        "description": "Retrieves the deliverability of an email address. Hunter focuses on B2B, therefore, webmails are not verified.",
        "operationId": "EmailVerify",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "x-ms-summary": "Email",
            "description": "The email address.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/email-count": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "personal_emails": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of personal.",
                      "title": "Personal Emails"
                    },
                    "generic_emails": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of generic.",
                      "title": "Generic Emails"
                    },
                    "department": {
                      "type": "object",
                      "properties": {
                        "executive": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of executive.",
                          "title": "Executive"
                        },
                        "it": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of IT.",
                          "title": "IT"
                        },
                        "finance": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of finance.",
                          "title": "Finance"
                        },
                        "management": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of management.",
                          "title": "Management"
                        },
                        "sales": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of sales.",
                          "title": "Sales"
                        },
                        "legal": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of legal.",
                          "title": "Legal"
                        },
                        "support": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of support.",
                          "title": "Support"
                        },
                        "hr": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of HR.",
                          "title": "HR"
                        },
                        "marketing": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of marketing.",
                          "title": "Marketing"
                        },
                        "communication": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of communication.",
                          "title": "Communication"
                        }
                      },
                      "title": "Department"
                    },
                    "seniority": {
                      "type": "object",
                      "properties": {
                        "junior": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of junior.",
                          "title": "Junior"
                        },
                        "senior": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of senior.",
                          "title": "Senior"
                        },
                        "executive": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The number of executive.",
                          "title": "Executive"
                        }
                      },
                      "title": "Seniority"
                    }
                  },
                  "title": "Data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "params": {
                      "type": "object",
                      "properties": {
                        "domain": {
                          "type": "string",
                          "description": "The domain.",
                          "title": "Domain"
                        },
                        "company": {
                          "type": "string",
                          "description": "The company.",
                          "title": "Company"
                        },
                        "type": {
                          "type": "string",
                          "description": "The type.",
                          "title": "Type"
                        }
                      },
                      "title": "Parameters"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get email count",
        "description": "Retrieves how many email addresses we have for one domain or for one company.",
        "operationId": "EmailCount",
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "x-ms-summary": "Domain",
            "description": "The domain address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "x-ms-summary": "Company",
            "description": "The company.",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "x-ms-summary": "Type",
            "description": "The type. Can be either personal or generic.",
            "required": false,
            "type": "string",
            "enum": [
              "personal",
              "generic"
            ]
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://hunter.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://hunter.io/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website;Data"
    }
  ]
}