{
  "swagger": "2.0",
  "info": {
    "title": "BillsPLS",
    "description": "BillsPLS process the receipts/bills to extract only the useful details like vendor name, total, date, etc., categorize the bill into different categories like food, travel, etc. based on the line items in the receipts and detects the currency from the bill. Process millions of receipts submitted by your employees to the accounts payable department for reimbursement in matter of seconds and helps in generating reports and analyse the expenditure patterns at various levels.",
    "version": "1.0",
    "contact": {
      "name": "IN-D Support",
      "url": "https://one.in-d.ai/developer/",
      "email": "explore@in-d.ai"
    }
  },
  "host": "billspls.in-d.ai",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/extraction": {
      "post": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "BillNo": {
                  "type": "string",
                  "description": "BillNo"
                },
                "CurrencyCode": {
                  "type": "string",
                  "description": "CurrencyCode"
                },
                "Date": {
                  "type": "string",
                  "description": "Date"
                },
                "Total": {
                  "type": "string",
                  "description": "Total"
                },
                "VendorName": {
                  "type": "string",
                  "description": "VendorName"
                },
                "image_id": {
                  "type": "string",
                  "description": "image_id"
                },
                "receipt_type": {
                  "type": "string",
                  "description": "receipt_type"
                },
                "user_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "user_id"
                }
              }
            }
          },
          "401": {
            "description": "api key missing",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          },
          "403": {
            "description": "invalid api key",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          },
          "500": {
            "description": "internal error",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          }
        },
        "summary": "Receipts Process",
        "description": "Process the receipts/bills to extract only the useful details like vendor name, total, date, etc., categorize the bill into different categories like food, travel, etc. based on the line items in the receipts and detects the currency from the bill.",
        "operationId": "ReceiptsProcess",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type of POST Request",
            "x-ms-summary": "Content type of request"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "imageNAME": {
                  "type": "string",
                  "description": "imageNAME",
                  "title": "File name"
                },
                "imageBASE64": {
                  "type": "string",
                  "description": "imageBASE64",
                  "title": "Base64 content of file",
                  "format": "byte"
                }
              },
              "required": [
                "imageBASE64",
                "imageNAME"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "www.in-d.ai"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "www.in-d.ai/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;IT Operations"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
