{
  "swagger": "2.0",
  "info": {
    "title": "Abstract Exchange Rates",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_abstrrates@gmail.com"
    },
    "description": "Abstract's Exchange Rates is a fast, lightweight, modern service for looking up the latest exchange rates for 80+ currencies, getting historical exchange rates, and converting an arbitrary amount from one currency to another.",
    "version": "1.0"
  },
  "host": "exchange-rates.abstractapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/live/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "base": {
                  "type": "string",
                  "description": "The base currency used to get the exchange rates.",
                  "title": "Base"
                },
                "last_updated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Unix timestamp of when the returned data was last updated.",
                  "title": "Last updated"
                },
                "exchange_rates": {
                  "type": "object",
                  "properties": {},
                  "description": "A JSON Object containing each of the target currency as the key and its exchange rate versus the base currency as that key\u2019s value.",
                  "title": "Exchange rates"
                }
              }
            }
          }
        },
        "summary": "Live rate(s)",
        "description": "Returns the most recent exchange rate(s) for a given set of currencies.",
        "operationId": "LiveRates",
        "parameters": [
          {
            "name": "base",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The base currency used to get the latest exchange rate(s) for. Uses the ISO 4217 currency standard (e.g., USD for United States Dollars).",
            "x-ms-summary": "Base currency"
          },
          {
            "name": "target",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Target",
            "description": "The target currency or currencies (ISO 4217) to get the exchange rate of versus the base currency. If multiple currencies are passed in the target, they should be separated by commas (e.g., &target=EUR,CAD,AUD)."
          }
        ]
      }
    },
    "/v1/convert/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "base": {
                  "type": "string",
                  "description": "The base currency used to get the exchange rates.",
                  "title": "Base"
                },
                "target": {
                  "type": "string",
                  "description": "The target currency that the base_amount was converted into.",
                  "title": "Target"
                },
                "base_amount": {
                  "type": "number",
                  "format": "float",
                  "description": "The amount of the base currency from the request.",
                  "title": "Base amount"
                },
                "converted_amount": {
                  "type": "number",
                  "format": "float",
                  "description": "The amount of the target currency that the base_amount has been converted into.",
                  "title": "Converted amount"
                },
                "exchange_rate": {
                  "type": "number",
                  "format": "float",
                  "description": "The exchange rate used to convert the base_amount from the base currency to the target currency.",
                  "title": "Exchange rate"
                },
                "last_updated": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The date the currencies were pulled from, per the successful request.",
                  "title": "Last updated"
                }
              }
            }
          }
        },
        "summary": "Convert",
        "operationId": "Convert",
        "description": "Convert an arbitrary amount of currency to another.",
        "parameters": [
          {
            "name": "base",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Base currency",
            "description": "The base currency used to get the latest exchange rate(s) for. Uses the ISO 4217 currency standard (e.g., USD for United States Dollars)."
          },
          {
            "name": "target",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Target",
            "description": "The target currency (ISO 4217) to get the exchange rate of versus the base currency."
          },
          {
            "name": "date",
            "in": "query",
            "type": "string",
            "x-ms-summary": "Date",
            "description": "The historical date you\u2019d like to get rates from, in the format of YYYY-MM-DD. If you leave this blank, it will use the latest available rate(s)."
          },
          {
            "name": "base_amount",
            "in": "query",
            "type": "number",
            "format": "float",
            "x-ms-summary": "Base amount",
            "description": "The amount of the base currency you would like to convert to the target currency."
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.abstractapi.com/exchange-rates"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.abstractapi.com/legal/dpa"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Business Intelligence"
    }
  ]
}