{
  "definitions": {
    "VirusFound": {
      "description": "Virus positively identified",
      "properties": {
        "FileName": {
          "description": "Name of the file containing the virus",
          "type": "string"
        },
        "VirusName": {
          "description": "Name of the virus that was found",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VirusScanResult": {
      "description": "Result of running a virus scan",
      "properties": {
        "CleanResult": {
          "description": "True if the scan contained no viruses, false otherwise",
          "type": "boolean"
        },
        "FoundViruses": {
          "description": "Array of viruses found, if any",
          "items": {
            "$ref": "#/definitions/VirusFound"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "WebsiteScanRequest": {
      "description": "Request to scan a website for malicious content",
      "properties": {
        "Url": {
          "description": "URL of the website to scan; should begin with http:// or https://",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WebsiteScanResult": {
      "description": "Result of running a website scan",
      "properties": {
        "CleanResult": {
          "description": "True if the scan contained no threats, false otherwise",
          "type": "boolean"
        },
        "WebsiteThreatType": {
          "description": "Type of threat returned; can be None, Malware, ForcedDownload or Phishing",
          "enum": [
            "None",
            "Malware",
            "Phishing",
            "ForcedDownload",
            "UnableToConnect"
          ],
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "api.cloudmersive.com",
  "info": {
    "description": "The Cloudmersive Virus Scan API lets you scan files and content for viruses and identify security issues with content.",
    "title": "Cloudmersive Virus Scan",
    "version": "v1",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "paths": {
    "/virus/scan/file": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Scan files and content for viruses. Leverage continuously updated signatures for millions of threats, and advanced high-performance scanning capabilities.  Over 5 million virus and malware signatures.  Continuous cloud-based updates.  Wide file format support including Office, PDF, HTML, Flash.  Zip support including .Zip, .Rar, .DMG, .Tar, and other archive formats.  Multi-threat scanning across viruses, malware, trojans, ransomware, and spyware.  High-speed in-memory scanning delivers subsecond typical response time.",
        "operationId": "Scan_File",
        "parameters": [
          {
            "description": "Input file to perform the operation on.",
            "format": "binary",
            "in": "formData",
            "name": "inputFile",
            "required": true,
            "type": "string",
            "x-ms-summary": "Input File"
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirusScanResult"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ],
        "summary": "Scan a file for viruses",
        "tags": [
          "Scan"
        ]
      }
    },
    "/virus/scan/website": {
      "post": {
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "description": "Operation includes scanning the content of the URL for various types of malicious content and threats, including viruses and threats (including Phishing).",
        "operationId": "Scan_Website",
        "parameters": [
          {
            "in": "body",
            "name": "input",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WebsiteScanRequest"
            }
          }
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WebsiteScanResult"
            }
          }
        },
        "security": [
          {
            "Apikey": []
          }
        ],
        "summary": "Scan a website for malicious content and threats",
        "tags": [
          "Scan"
        ]
      }
    }
  },
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "Apikey": {
      "description": "API Key Authentication",
      "in": "header",
      "name": "Apikey",
      "type": "apiKey"
    }
  },
  "swagger": "2.0"
}