{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Narvar",
    "description": "Narvar provides connection with Narvar portal. Alows create and update of orders on narvar portal as well as viewing already created orders.",
    "contact": {
      "name": "Microsoft Dynamics",
      "url": "https://aka.ms/iomsupport",
      "email": "iomdri@microsoft.com"
    }
  },
  "host": "ws-st01.narvar.qa",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/orders": {
      "post": {
        "summary": "Create or Update Orders",
        "description": "This will create a new order or send new information about an existing order",
        "operationId": "PostCreateUpdateOrders",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Request body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "order_info": {
                  "type": "object",
                  "properties": {
                    "order_number": {
                      "type": "string",
                      "description": "Order number.Primary identifier",
                      "title": "order_number"
                    },
                    "order_date": {
                      "type": "string",
                      "description": "Order placement date",
                      "title": "order_date"
                    },
                    "order_items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "item_id": {
                            "type": "string",
                            "description": "More granular item identifier then SKU",
                            "title": "item_id"
                          },
                          "item_image": {
                            "type": "string",
                            "description": "Url to a public image",
                            "title": "item_image"
                          },
                          "sku": {
                            "type": "string",
                            "description": "ID for the item object.Primary Key for OrderItem",
                            "title": "sku"
                          },
                          "name": {
                            "type": "string",
                            "description": "Item name",
                            "title": "name"
                          },
                          "quantity": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Item quantity",
                            "title": "quantity"
                          },
                          "item_promise_date": {
                            "type": "string",
                            "description": "Shipment promise date",
                            "title": "item_promise_date"
                          }
                        }
                      },
                      "description": "order_items"
                    },
                    "shipments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items_info": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quantity": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "quantity"
                                },
                                "sku": {
                                  "type": "string",
                                  "description": "sku"
                                },
                                "item_id": {
                                  "type": "string",
                                  "description": "item_id"
                                }
                              }
                            },
                            "description": "items_info"
                          },
                          "carrier": {
                            "type": "string",
                            "description": "Normalized carrier moniker",
                            "title": "carrier",
                            "enum": [
                              "ups",
                              "fedex",
                              "usps",
                              "lasership",
                              "ontrac"
                            ]
                          },
                          "shipped_to": {
                            "type": "object",
                            "properties": {
                              "first_name": {
                                "type": "string",
                                "description": "First Name of user receiving shipment",
                                "title": "first_name"
                              },
                              "last_name": {
                                "type": "string",
                                "description": "Last Name of user receiving shipment",
                                "title": "last_name"
                              },
                              "phone": {
                                "type": "string",
                                "description": "Phone number of user receiving shipment",
                                "title": "phone"
                              },
                              "email": {
                                "type": "string",
                                "description": "Email address of user receiving shipment",
                                "title": "email"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "street_1": {
                                    "type": "string",
                                    "description": "street 1",
                                    "title": "street_1"
                                  },
                                  "street_2": {
                                    "type": "string",
                                    "description": "street 2",
                                    "title": "street_2"
                                  },
                                  "city": {
                                    "type": "string",
                                    "description": "city",
                                    "title": "city"
                                  },
                                  "state": {
                                    "type": "string",
                                    "description": "state",
                                    "title": "state"
                                  },
                                  "zip": {
                                    "type": "string",
                                    "description": "zip",
                                    "title": "zip"
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "country",
                                    "title": "country"
                                  }
                                },
                                "description": "address"
                              }
                            },
                            "description": "shipped to"
                          },
                          "ship_date": {
                            "type": "string",
                            "description": "Initial shipment date.",
                            "title": "ship_date"
                          },
                          "tracking_number": {
                            "type": "string",
                            "description": "Tracking number for the shipment",
                            "title": "tracking_number"
                          }
                        }
                      },
                      "description": "shipments"
                    },
                    "billing": {
                      "type": "object",
                      "properties": {
                        "billed_to": {
                          "type": "object",
                          "properties": {
                            "first_name": {
                              "type": "string",
                              "description": "First Name of billing user",
                              "title": "first_name"
                            },
                            "last_name": {
                              "type": "string",
                              "description": "Last Name of billing user",
                              "title": "last_name"
                            },
                            "phone": {
                              "type": "string",
                              "description": "Phone number of billing user",
                              "title": "phone"
                            },
                            "phone_extension": {
                              "type": "string",
                              "description": "phone extension of billing user",
                              "title": "phone_extension"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email address of billing user",
                              "title": "email"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "city": {
                                  "type": "string",
                                  "description": "city",
                                  "title": "city"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "state",
                                  "title": "state"
                                },
                                "zip": {
                                  "type": "string",
                                  "description": "zip",
                                  "title": "zip"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "country",
                                  "title": "country"
                                }
                              },
                              "description": "address"
                            }
                          },
                          "description": "billed_to"
                        },
                        "amount": {
                          "type": "number",
                          "format": "float",
                          "description": "Total Billing Amount",
                          "title": "amount"
                        },
                        "tax_amount": {
                          "type": "number",
                          "format": "float",
                          "description": "Order Tax Amount",
                          "title": "tax_amount"
                        }
                      },
                      "description": "billing"
                    }
                  },
                  "description": "order_info"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "messages"
                }
              }
            }
          },
          "304": {
            "description": "304",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "level": {
                        "type": "string",
                        "description": "level"
                      },
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "messages"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          },
          "405": {
            "description": "405",
            "schema": {
              "type": "string"
            }
          },
          "409": {
            "description": "409",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          },
          "503": {
            "description": "503",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/orders/{$OrderNumber}": {
      "get": {
        "summary": "Retrieve Order",
        "description": "This operation is used to retrieve order details",
        "operationId": "GetRetrieveOrder",
        "parameters": [
          {
            "name": "$OrderNumber",
            "in": "path",
            "x-ms-summary": "Order Number",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The order number"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "order_info": {
                  "type": "object",
                  "properties": {
                    "order_number": {
                      "type": "string",
                      "description": "order_number"
                    },
                    "order_date": {
                      "type": "string",
                      "description": "order_date"
                    },
                    "order_items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "fulfillment_status": {
                            "type": "string",
                            "description": "fulfillment_status"
                          },
                          "item_image": {
                            "type": "string",
                            "description": "item_image"
                          },
                          "item_url": {
                            "type": "string",
                            "description": "item_url"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "quantity": {
                            "type": "integer",
                            "format": "int32",
                            "description": "quantity"
                          },
                          "sku": {
                            "type": "string",
                            "description": "sku"
                          },
                          "unit_price": {
                            "type": "integer",
                            "format": "int32",
                            "description": "unit_price"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "categories"
                          },
                          "is_backordered": {
                            "type": "boolean",
                            "description": "is_backordered"
                          },
                          "vendors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "phone": {
                                  "type": "string",
                                  "description": "phone"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "name"
                                },
                                "address": {
                                  "type": "object",
                                  "properties": {
                                    "street_1": {
                                      "type": "string",
                                      "description": "street_1"
                                    },
                                    "city": {
                                      "type": "string",
                                      "description": "city"
                                    },
                                    "state": {
                                      "type": "string",
                                      "description": "state"
                                    },
                                    "zip": {
                                      "type": "string",
                                      "description": "zip"
                                    },
                                    "country": {
                                      "type": "string",
                                      "description": "country"
                                    },
                                    "street_2": {
                                      "type": "string",
                                      "description": "street_2"
                                    }
                                  },
                                  "description": "address"
                                },
                                "email": {
                                  "type": "string",
                                  "description": "email"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                }
                              }
                            },
                            "description": "vendors"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          },
                          "discount_amount": {
                            "type": "number",
                            "format": "float",
                            "description": "discount_amount"
                          },
                          "discount_percent": {
                            "type": "number",
                            "format": "float",
                            "description": "discount_percent"
                          },
                          "final_sale_date": {
                            "type": "string",
                            "description": "final_sale_date"
                          },
                          "is_final_sale": {
                            "type": "boolean",
                            "description": "is_final_sale"
                          },
                          "is_gift": {
                            "type": "boolean",
                            "description": "is_gift"
                          },
                          "item_id": {
                            "type": "string",
                            "description": "item_id"
                          },
                          "item_promise_date": {
                            "type": "string",
                            "description": "item_promise_date"
                          },
                          "line_number": {
                            "type": "integer",
                            "format": "int32",
                            "description": "line_number"
                          },
                          "fulfillment_type": {
                            "type": "string",
                            "description": "fulfillment_type"
                          },
                          "dimensions": {
                            "type": "object",
                            "properties": {
                              "uom": {
                                "type": "string",
                                "description": "uom"
                              },
                              "length": {
                                "type": "number",
                                "format": "float",
                                "description": "length"
                              },
                              "width": {
                                "type": "number",
                                "format": "float",
                                "description": "width"
                              },
                              "height": {
                                "type": "number",
                                "format": "float",
                                "description": "height"
                              },
                              "weight": {
                                "type": "number",
                                "format": "float",
                                "description": "weight"
                              },
                              "weight_uom": {
                                "type": "string",
                                "description": "weight_uom"
                              }
                            },
                            "description": "dimensions"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "ad9": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "ad9"
                              },
                              "pariaturfb": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "pariaturfb"
                              },
                              "adipisicing_1c": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "adipisicing_1c"
                              },
                              "tempor639": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "tempor639"
                              },
                              "dolor_e": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "dolor_e"
                              },
                              "consectetur_b": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "consectetur_b"
                              },
                              "cupidatat8": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "cupidatat8"
                              },
                              "consequatbc": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "consequatbc"
                              }
                            },
                            "description": "attributes"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "event": {
                                  "type": "string",
                                  "description": "event"
                                },
                                "quantity": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "quantity"
                                },
                                "sequence": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "sequence"
                                },
                                "date": {
                                  "type": "string",
                                  "description": "date"
                                }
                              }
                            },
                            "description": "events"
                          },
                          "anticipated_ship_date": {
                            "type": "string",
                            "description": "anticipated_ship_date"
                          },
                          "original_unit_price": {
                            "type": "integer",
                            "format": "int32",
                            "description": "original_unit_price"
                          },
                          "original_line_price": {
                            "type": "integer",
                            "format": "int32",
                            "description": "original_line_price"
                          },
                          "line_price": {
                            "type": "integer",
                            "format": "int32",
                            "description": "line_price"
                          }
                        }
                      },
                      "description": "order_items"
                    },
                    "shipments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items_info": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "item_id": {
                                  "type": "string",
                                  "description": "item_id"
                                },
                                "sku": {
                                  "type": "string",
                                  "description": "sku"
                                },
                                "quantity": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "quantity"
                                }
                              }
                            },
                            "description": "items_info"
                          },
                          "carrier": {
                            "type": "string",
                            "description": "carrier"
                          },
                          "ship_date": {
                            "type": "string",
                            "description": "ship_date"
                          },
                          "tracking_number": {
                            "type": "string",
                            "description": "tracking_number"
                          },
                          "shipped_to": {
                            "type": "object",
                            "properties": {
                              "first_name": {
                                "type": "string",
                                "description": "first_name"
                              },
                              "last_name": {
                                "type": "string",
                                "description": "last_name"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "street_1": {
                                    "type": "string",
                                    "description": "street_1"
                                  },
                                  "city": {
                                    "type": "string",
                                    "description": "city"
                                  },
                                  "state": {
                                    "type": "string",
                                    "description": "state"
                                  },
                                  "zip": {
                                    "type": "string",
                                    "description": "zip"
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "country"
                                  },
                                  "street_2": {
                                    "type": "string",
                                    "description": "street_2"
                                  }
                                },
                                "description": "address"
                              },
                              "email": {
                                "type": "string",
                                "description": "email"
                              },
                              "phone": {
                                "type": "string",
                                "description": "phone"
                              },
                              "location_id": {
                                "type": "string",
                                "description": "location_id"
                              }
                            },
                            "description": "shipped_to"
                          },
                          "ship_method": {
                            "type": "string",
                            "description": "ship_method"
                          },
                          "carrier_service": {
                            "type": "string",
                            "description": "carrier_service"
                          },
                          "ship_source": {
                            "type": "string",
                            "description": "ship_source"
                          },
                          "ship_discount": {
                            "type": "number",
                            "format": "float",
                            "description": "ship_discount"
                          },
                          "ship_tax": {
                            "type": "number",
                            "format": "float",
                            "description": "ship_tax"
                          },
                          "ship_total": {
                            "type": "number",
                            "format": "float",
                            "description": "ship_total"
                          },
                          "shipped_from": {
                            "type": "object",
                            "properties": {
                              "company_name": {
                                "type": "string",
                                "description": "company_name"
                              },
                              "email": {
                                "type": "string",
                                "description": "email"
                              },
                              "first_name": {
                                "type": "string",
                                "description": "first_name"
                              },
                              "last_name": {
                                "type": "string",
                                "description": "last_name"
                              },
                              "phone": {
                                "type": "string",
                                "description": "phone"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "street_1": {
                                    "type": "string",
                                    "description": "street_1"
                                  },
                                  "city": {
                                    "type": "string",
                                    "description": "city"
                                  },
                                  "state": {
                                    "type": "string",
                                    "description": "state"
                                  },
                                  "zip": {
                                    "type": "string",
                                    "description": "zip"
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "country"
                                  },
                                  "street_2": {
                                    "type": "string",
                                    "description": "street_2"
                                  }
                                },
                                "description": "address"
                              },
                              "location_id": {
                                "type": "string",
                                "description": "location_id"
                              }
                            },
                            "description": "shipped_from"
                          },
                          "attribute": {
                            "type": "object",
                            "properties": {
                              "anim_a36": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "anim_a36"
                              },
                              "sunt_9": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "sunt_9"
                              },
                              "eu1bd": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "eu1bd"
                              }
                            },
                            "description": "attribute"
                          }
                        }
                      },
                      "description": "shipments"
                    },
                    "billing": {
                      "type": "object",
                      "properties": {
                        "billed_to": {
                          "type": "object",
                          "properties": {
                            "first_name": {
                              "type": "string",
                              "description": "first_name"
                            },
                            "last_name": {
                              "type": "string",
                              "description": "last_name"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "street_1": {
                                  "type": "string",
                                  "description": "street_1"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "city"
                                },
                                "state": {
                                  "type": "string",
                                  "description": "state"
                                },
                                "zip": {
                                  "type": "string",
                                  "description": "zip"
                                },
                                "country": {
                                  "type": "string",
                                  "description": "country"
                                },
                                "street_2": {
                                  "type": "string",
                                  "description": "street_2"
                                }
                              },
                              "description": "address"
                            },
                            "email": {
                              "type": "string",
                              "description": "email"
                            },
                            "phone": {
                              "type": "string",
                              "description": "phone"
                            },
                            "location_id": {
                              "type": "string",
                              "description": "location_id"
                            }
                          },
                          "description": "billed_to"
                        },
                        "amount": {
                          "type": "number",
                          "format": "float",
                          "description": "amount"
                        },
                        "payments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "is_gift_card": {
                                "type": "string",
                                "description": "is_gift_card"
                              },
                              "merchant": {
                                "type": "string",
                                "description": "merchant"
                              },
                              "method": {
                                "type": "string",
                                "description": "method"
                              },
                              "expiration_date": {
                                "type": "string",
                                "description": "expiration_date"
                              }
                            }
                          },
                          "description": "payments"
                        },
                        "tax_amount": {
                          "type": "number",
                          "format": "float",
                          "description": "tax_amount"
                        },
                        "tax_rate": {
                          "type": "number",
                          "format": "float",
                          "description": "tax_rate"
                        },
                        "shipping_handling": {
                          "type": "number",
                          "format": "float",
                          "description": "shipping_handling"
                        }
                      },
                      "description": "billing"
                    },
                    "pickups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "items_info": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "sku": {
                                  "type": "string",
                                  "description": "sku"
                                },
                                "quantity": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "quantity"
                                },
                                "item_id": {
                                  "type": "string",
                                  "description": "item_id"
                                }
                              }
                            },
                            "description": "items_info"
                          },
                          "status": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "code"
                              },
                              "date": {
                                "type": "string",
                                "description": "date"
                              },
                              "message": {
                                "type": "string",
                                "description": "message"
                              }
                            },
                            "description": "status"
                          },
                          "store": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "object",
                                "properties": {
                                  "street_1": {
                                    "type": "string",
                                    "description": "street_1"
                                  },
                                  "city": {
                                    "type": "string",
                                    "description": "city"
                                  },
                                  "state": {
                                    "type": "string",
                                    "description": "state"
                                  },
                                  "zip": {
                                    "type": "string",
                                    "description": "zip"
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "country"
                                  },
                                  "street_2": {
                                    "type": "string",
                                    "description": "street_2"
                                  }
                                },
                                "description": "address"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "store_area": {
                                "type": "string",
                                "description": "store_area"
                              },
                              "url": {
                                "type": "string",
                                "description": "url"
                              },
                              "phone_number": {
                                "type": "string",
                                "description": "phone_number"
                              },
                              "hours": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "open": {
                                      "type": "string",
                                      "description": "open"
                                    },
                                    "close": {
                                      "type": "string",
                                      "description": "close"
                                    }
                                  }
                                },
                                "description": "hours"
                              }
                            },
                            "description": "store"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "eta": {
                            "type": "string",
                            "description": "eta"
                          },
                          "pickup_by_date": {
                            "type": "string",
                            "description": "pickup_by_date"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "ex_8": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "ex_8"
                              },
                              "tempor302": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "tempor302"
                              },
                              "minim_e": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "minim_e"
                              },
                              "do0a": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "do0a"
                              },
                              "voluptate_e": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "voluptate_e"
                              },
                              "aute29f": {
                                "type": "object",
                                "properties": {
                                  "promotion": {
                                    "type": "string",
                                    "description": "promotion"
                                  }
                                },
                                "description": "aute29f"
                              }
                            },
                            "description": "attributes"
                          },
                          "carrier": {
                            "type": "string",
                            "description": "carrier"
                          },
                          "tracking_number": {
                            "type": "string",
                            "description": "tracking_number"
                          },
                          "ship_date": {
                            "type": "string",
                            "description": "ship_date"
                          },
                          "collection_token": {
                            "type": "string",
                            "description": "collection_token"
                          }
                        }
                      },
                      "description": "pickups"
                    },
                    "customer": {
                      "type": "object",
                      "properties": {
                        "customer_id": {
                          "type": "string",
                          "description": "customer_id"
                        },
                        "address": {
                          "type": "object",
                          "properties": {
                            "street_1": {
                              "type": "string",
                              "description": "street_1"
                            },
                            "city": {
                              "type": "string",
                              "description": "city"
                            },
                            "state": {
                              "type": "string",
                              "description": "state"
                            },
                            "zip": {
                              "type": "string",
                              "description": "zip"
                            },
                            "country": {
                              "type": "string",
                              "description": "country"
                            },
                            "street_2": {
                              "type": "string",
                              "description": "street_2"
                            }
                          },
                          "description": "address"
                        },
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "first_name"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "last_name"
                        },
                        "phone": {
                          "type": "string",
                          "description": "phone"
                        },
                        "customer_type": {
                          "type": "string",
                          "description": "customer_type"
                        },
                        "customer_tier": {
                          "type": "string",
                          "description": "customer_tier"
                        },
                        "notification_preferences": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "notification_preferences"
                        }
                      },
                      "description": "customer"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "consequatf3": {
                          "type": "object",
                          "properties": {
                            "promotion": {
                              "type": "string",
                              "description": "promotion"
                            }
                          },
                          "description": "consequatf3"
                        },
                        "eu0": {
                          "type": "object",
                          "properties": {
                            "promotion": {
                              "type": "string",
                              "description": "promotion"
                            }
                          },
                          "description": "eu0"
                        }
                      },
                      "description": "attributes"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "event": {
                            "type": "string",
                            "description": "event"
                          },
                          "date": {
                            "type": "string",
                            "description": "date"
                          }
                        }
                      },
                      "description": "events"
                    },
                    "currency_code": {
                      "type": "string",
                      "description": "currency_code"
                    },
                    "order_promise_date": {
                      "type": "string",
                      "description": "order_promise_date"
                    },
                    "selected_ship_method": {
                      "type": "string",
                      "description": "selected_ship_method"
                    }
                  },
                  "description": "order_info"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "code"
                      }
                    }
                  },
                  "description": "messages"
                }
              }
            }
          },
          "201": {
            "description": "201",
            "schema": {
              "type": "string"
            }
          },
          "304": {
            "description": "304",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          },
          "405": {
            "description": "405",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          },
          "503": {
            "description": "503",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/orders/{$OrderNumber}/shipments": {
      "put": {
        "summary": "Create or Update Shipments",
        "description": "This will update an order with a shipment record or change",
        "operationId": "PutCreateUpdateShipments",
        "parameters": [
          {
            "name": "$OrderNumber",
            "in": "path",
            "x-ms-summary": "Request body",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The order number"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "order_info": {
                  "type": "object",
                  "properties": {
                    "shipments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "items_info": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "quantity": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "quantity"
                                },
                                "sku": {
                                  "type": "string",
                                  "description": "sku"
                                },
                                "item_id": {
                                  "type": "string",
                                  "description": "item id"
                                }
                              }
                            },
                            "description": "items_info"
                          },
                          "carrier": {
                            "type": "string",
                            "description": "Normalized carrier moniker",
                            "title": "carrier",
                            "enum": [
                              "ups",
                              "fedex",
                              "usps",
                              "lasership",
                              "ontrac"
                            ]
                          },
                          "shipped_to": {
                            "type": "object",
                            "properties": {
                              "first_name": {
                                "type": "string",
                                "description": "First Name of user receiving shipment",
                                "title": "first_name"
                              },
                              "last_name": {
                                "type": "string",
                                "description": "Last Name of user receiving shipment",
                                "title": "last_name"
                              },
                              "phone": {
                                "type": "string",
                                "description": "Phone number of user receiving shipment",
                                "title": "phone"
                              },
                              "email": {
                                "type": "string",
                                "description": "Email address of user receiving shipment",
                                "title": "email"
                              },
                              "address": {
                                "type": "object",
                                "properties": {
                                  "street_1": {
                                    "type": "string",
                                    "description": "street 1",
                                    "title": "street_1"
                                  },
                                  "street_2": {
                                    "type": "string",
                                    "description": "street 2",
                                    "title": "street_2"
                                  },
                                  "city": {
                                    "type": "string",
                                    "description": "city",
                                    "title": "city"
                                  },
                                  "state": {
                                    "type": "string",
                                    "description": "state",
                                    "title": "state"
                                  },
                                  "zip": {
                                    "type": "string",
                                    "description": "zip",
                                    "title": "zip"
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "country",
                                    "title": "country"
                                  }
                                },
                                "description": "address"
                              }
                            },
                            "description": "shipped_to"
                          },
                          "ship_date": {
                            "type": "string",
                            "description": "Initial shipment date.",
                            "title": "ship_date"
                          },
                          "tracking_number": {
                            "type": "string",
                            "description": "Tracking number for the shipment",
                            "title": "tracking_number"
                          }
                        }
                      },
                      "description": "shipments"
                    }
                  },
                  "description": "order_info"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "messages"
                }
              }
            }
          },
          "304": {
            "description": "304",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "level": {
                        "type": "string",
                        "description": "level"
                      },
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      }
                    }
                  },
                  "description": "messages"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "403",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "string"
            }
          },
          "405": {
            "description": "405",
            "schema": {
              "type": "string"
            }
          },
          "409": {
            "description": "409",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "string"
            }
          },
          "503": {
            "description": "503",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.narvar.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://corp.narvar.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Productivity"
    }
  ]
}