{
  "swagger": "2.0",
  "info": {
    "description": "Unlock the value of your data by using this connector to enable low-code developers to build solutions that will unleash new data insights and capabilities across your organization. Work with the thousands of mainframe developers at Kyndryl to innovate and provide better end user experiences against your mainframe data whilst securing it through Kyndryl Bridge.",
    "version": "1.0.0",
    "title": "Kyndryl mainframe",
    "contact": {
      "name": "Kyndryl",
      "url": "https://www.kyndryl.com/us/en/about-us/contact-us",
      "email": "Power.Platform@kyndryl.com"
    }
  },
  "host": "kyndryl-apigateway.azure-api.net",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/cb12-policy/getpolicy": {
      "get": {
        "tags": [
          "cb12-policy"
        ],
        "operationId": "GetPolicy",
        "parameters": [
          {
            "name": "CUSTOMERNUMBER",
            "in": "query",
            "required": true,
            "type": "string", 
            "description": "Please enter your customer number.",
            "x-ms-summary": "Customer Number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getPolicy_response_200"
            }
          }
        },
        "summary": "Get policy",
        "description": "This action retrieves a customers policy."
      }
    },
    "/customernumber/Custdetailadd": {
      "post": {
        "tags": [
          "customernumber"
        ],
        "operationId": "PostCustomerDetailsupd",
        "parameters": [
          {
            "in": "body",
            "name": "postCustomerdetailsupd_request",
            "description": "Customer Details",
            "x-ms-summary": "Customer Details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postCustomerdetailsupd_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/postCustomerdetailsupd_response_200"
            }
          }
        },
        "summary": "Post customer details", 
        "description": "This action updates customer details."
      }
    },
    "/customernumber/Custdetailupd/{num}/{firstname}": {
      "put": {
        "tags": [
          "customernumber"
        ],
        "operationId": "PutCustomerDetail",
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Customer Number",
            "x-ms-summary": "Customer Number"
          },
          {
            "name": "firstname",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Customer First Name",
            "x-ms-summary": "Customer First Name"
          },
          {
            "name": "body",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/putCustomerdetail_request"
            },
            "description": "Customer Details",
            "x-ms-summary": "Customer Details"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/putCustomerdetail_response_200"
            },
            "examples": {
              "application/json": {
                "LGCMAREA": {
                  "CA_REQUEST_ID": "string",
                  "CA_RETURN_CODE": 0,
                  "CA_CUSTOMER_NUM": 0,
                  "CA_REQUEST_SPECIFIC": "string",
                  "CA_CUSTOMER_REQUEST": {
                    "CA_FIRST_NAME": "string",
                    "CA_LAST_NAME": "string",
                    "CA_DOB": "string",
                    "CA_HOUSE_NAME": "string",
                    "CA_HOUSE_NUM": "string",
                    "CA_POSTCODE": "string",
                    "CA_NUM_POLICIES": 0,
                    "CA_PHONE_MOBILE": "string",
                    "CA_PHONE_HOME": "string",
                    "CA_EMAIL_ADDRESS": "string",
                    "CA_POLICY_DATA": "string"
                  }
                }
              }
            }
          }
        },
        "summary": "Put customer details", 
        "description": "This action creates a new customer."
      }
    },
    "/customernumber/custnum/{num}": {
      "get": {
        "tags": [
          "customernumber"
        ],
        "operationId": "GetCustomerDetail",
        "parameters": [
          {
            "name": "num",
            "in": "path",
            "required": true,
            "type": "string", 
            "description": "Customer Number",
            "x-ms-summary": "Customer Number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "LGCMAREA": {
                  "type": "object",
                  "properties": {
                    "CA_CUSTSECR_REQUEST": {
                      "type": "object",
                      "properties": {
                        "CA_CUSTSECR_DATA": {
                          "type": "string",
                          "description": "CA_CUSTSECR_DATA"
                        },
                        "CA_CUSTSECR_STATE": {
                          "type": "string",
                          "description": "CA_CUSTSECR_STATE"
                        },
                        "CA_CUSTSECR_COUNT": {
                          "type": "string",
                          "description": "CA_CUSTSECR_COUNT"
                        },
                        "CA_CUSTSECR_PASS": {
                          "type": "string",
                          "description": "CA_CUSTSECR_PASS"
                        }
                      },
                      "description": "CA_CUSTSECR_REQUEST"
                    },
                    "CA_REQUEST_SPECIFIC": {
                      "type": "string",
                      "description": "CA_REQUEST_SPECIFIC"
                    },
                    "CA_REQUEST_ID": {
                      "type": "string",
                      "description": "CA_REQUEST_ID"
                    },
                    "CA_CUSTOMER_REQUEST": {
                      "type": "object",
                      "properties": {
                        "CA_PHONE_MOBILE": {
                          "type": "string",
                          "description": "CA_PHONE_MOBILE"
                        },
                        "CA_DOB": {
                          "type": "string",
                          "description": "CA_DOB"
                        },
                        "CA_FIRST_NAME": {
                          "type": "string",
                          "description": "CA_FIRST_NAME"
                        },
                        "CA_PHONE_HOME": {
                          "type": "string",
                          "description": "CA_PHONE_HOME"
                        },
                        "CA_EMAIL_ADDRESS": {
                          "type": "string",
                          "description": "CA_EMAIL_ADDRESS"
                        },
                        "CA_POLICY_DATA": {
                          "type": "string",
                          "description": "CA_POLICY_DATA"
                        },
                        "CA_LAST_NAME": {
                          "type": "string",
                          "description": "CA_LAST_NAME"
                        },
                        "CA_HOUSE_NAME": {
                          "type": "string",
                          "description": "CA_HOUSE_NAME"
                        },
                        "CA_NUM_POLICIES": {
                          "type": "integer",
                          "format": "int32",
                          "description": "CA_NUM_POLICIES"
                        },
                        "CA_HOUSE_NUM": {
                          "type": "string",
                          "description": "CA_HOUSE_NUM"
                        },
                        "CA_POSTCODE": {
                          "type": "string",
                          "description": "CA_POSTCODE"
                        }
                      },
                      "description": "CA_CUSTOMER_REQUEST"
                    },
                    "CA_POLICY_REQUEST": {
                      "type": "object",
                      "properties": {
                        "CA_POLICY_SPECIFIC": {
                          "type": "string",
                          "description": "CA_POLICY_SPECIFIC"
                        },
                        "CA_POLICY_NUM": {
                          "type": "integer",
                          "format": "int32",
                          "description": "CA_POLICY_NUM"
                        },
                        "CA_POLICY_COMMON": {
                          "type": "object",
                          "properties": {
                            "CA_ISSUE_DATE": {
                              "type": "string",
                              "description": "CA_ISSUE_DATE"
                            },
                            "CA_PAYMENT": {
                              "type": "integer",
                              "format": "int32",
                              "description": "CA_PAYMENT"
                            },
                            "CA_BROKERID": {
                              "type": "integer",
                              "format": "int32",
                              "description": "CA_BROKERID"
                            },
                            "CA_EXPIRY_DATE": {
                              "type": "string",
                              "description": "CA_EXPIRY_DATE"
                            },
                            "CA_LASTCHANGED": {
                              "type": "string",
                              "description": "CA_LASTCHANGED"
                            },
                            "CA_BROKERSREF": {
                              "type": "string",
                              "description": "CA_BROKERSREF"
                            }
                          },
                          "description": "CA_POLICY_COMMON"
                        }
                      },
                      "description": "CA_POLICY_REQUEST"
                    },
                    "CA_RETURN_CODE": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CA_RETURN_CODE"
                    },
                    "CA_CUSTOMER_NUM": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CA_CUSTOMER_NUM"
                    }
                  },
                  "description": "LGCMAREA"
                }
              }
            }
          }
        },
        "summary": "Get customer details",
        "description": "This retrieves customer details."
      }
    }
  },
  "definitions": {
    "getPolicy_response_200": {
      "type": "object",
      "required": [
        "Affected",
        "NumFields",
        "NumRecs",
        "Records",
        "Result",
        "Skipped",
        "TotRecs"
      ],
      "properties": {
        "Affected": {
          "type": "integer"
        },
        "TotRecs": {
          "type": "integer"
        },
        "Skipped": {
          "type": "integer"
        },
        "NumRecs": {
          "type": "integer"
        },
        "NumFields": {
          "type": "integer"
        },
        "Records": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "COMMISSION": {
                "type": "number",
                "description": "{name: COMMISSION, dataFormat: SMALLINT, type: SMALLINT}"
              },
              "PAYMENT": {
                "type": "string",
                "description": "{name: PAYMENT, dataFormat: INTEGER, type: INTEGER}"
              },
              "ISSUEDATE": {
                "type": "string",
                "description": "{name: ISSUEDATE, dataFormat: CHARACTER, type: DATE}"
              },
              "POLICYNUMBER": {
                "type": "string",
                "description": "{name: POLICYNUMBER, dataFormat: INTEGER, type: INTEGER}"
              },
              "POLICYTYPE": {
                "type": "string",
                "description": "{name: POLICYTYPE, dataFormat: CHARACTER, type: CHAR}"
              },
              "BROKERID": {
                "type": "string",
                "description": "{name: BROKERID, dataFormat: INTEGER, type: INTEGER}"
              },
              "LASTCHANGED": {
                "type": "string",
                "description": "{name: LASTCHANGED, dataFormat: CHARACTER, type: TIMESTAMP}"
              },
              "EXPIRYDATE": {
                "type": "string",
                "description": "{name: EXPIRYDATE, dataFormat: CHARACTER, type: DATE}"
              },
              "CUSTOMERNUMBER": {
                "type": "string",
                "description": "{name: CUSTOMERNUMBER, dataFormat: INTEGER, type: INTEGER}"
              },
              "BROKERSREFERENCE": {
                "type": "string",
                "description": "{name: BROKERSREFERENCE, dataFormat: CHARACTER, type: CHAR}"
              }
            }
          }
        },
        "Result": {
          "type": "integer"
        }
      }
    },
    "postCustomerdetailsupd_request": {
      "type": "object",
      "properties": {
        "LGCMAREA": {
          "type": "object",
          "properties": {
            "CA_RETURN_CODE": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99,
              "title": "",
              "format": "int32"
            },
            "CA_CUSTOMER_NUM": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9999999999,
              "title": "",
              "format": "int32"
            },
            "CA_CUSTOMER_REQUEST": {
              "type": "object",
              "properties": {
                "CA_FIRST_NAME": {
                  "type": "string",
                  "maxLength": 10
                },
                "CA_LAST_NAME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_DOB": {
                  "type": "string",
                  "maxLength": 10
                },
                "CA_HOUSE_NAME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_HOUSE_NUM": {
                  "type": "string",
                  "maxLength": 4
                },
                "CA_POSTCODE": {
                  "type": "string",
                  "maxLength": 8
                },
                "CA_NUM_POLICIES": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 999,
                  "title": "",
                  "format": "int32"
                },
                "CA_PHONE_MOBILE": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_PHONE_HOME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_EMAIL_ADDRESS": {
                  "type": "string",
                  "maxLength": 100
                },
                "CA_POLICY_DATA": {
                  "type": "string",
                  "maxLength": 32267
                }
              }
            }
          }
        }
      }
    },
    "postCustomerdetailsupd_response_200": {
      "type": "object",
      "properties": {
        "LGCMAREA": {
          "type": "object",
          "properties": {
            "CA_RETURN_CODE": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99
            },
            "CA_CUSTOMER_NUM": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9999999999
            },
            "CA_CUSTOMER_REQUEST": {
              "type": "object",
              "properties": {
                "CA_FIRST_NAME": {
                  "type": "string",
                  "maxLength": 10
                },
                "CA_LAST_NAME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_DOB": {
                  "type": "string",
                  "maxLength": 10
                },
                "CA_HOUSE_NAME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_HOUSE_NUM": {
                  "type": "string",
                  "maxLength": 4
                },
                "CA_POSTCODE": {
                  "type": "string",
                  "maxLength": 8
                },
                "CA_NUM_POLICIES": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 999
                },
                "CA_PHONE_MOBILE": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_PHONE_HOME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_EMAIL_ADDRESS": {
                  "type": "string",
                  "maxLength": 100
                },
                "CA_POLICY_DATA": {
                  "type": "string",
                  "maxLength": 32267
                }
              }
            }
          }
        }
      }
    },
    "putCustomerdetail_request": {
      "type": "object",
      "properties": {
        "LGCMAREA": {
          "type": "object",
          "properties": {
            "CA_RETURN_CODE": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99
            },
            "CA_CUSTOMER_REQUEST": {
              "type": "object",
              "properties": {
                "CA_LAST_NAME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_DOB": {
                  "type": "string",
                  "maxLength": 10
                },
                "CA_HOUSE_NAME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_HOUSE_NUM": {
                  "type": "string",
                  "maxLength": 4
                },
                "CA_POSTCODE": {
                  "type": "string",
                  "maxLength": 8
                },
                "CA_NUM_POLICIES": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 999
                },
                "CA_PHONE_MOBILE": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_PHONE_HOME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_EMAIL_ADDRESS": {
                  "type": "string",
                  "maxLength": 100
                },
                "CA_POLICY_DATA": {
                  "type": "string",
                  "maxLength": 32267
                }
              }
            }
          }
        }
      },
      "example": {
        "LGCMAREA": {
          "CA_RETURN_CODE": 0,
          "CA_CUSTOMER_REQUEST": {
            "CA_LAST_NAME": "string",
            "CA_DOB": "string",
            "CA_HOUSE_NAME": "string",
            "CA_HOUSE_NUM": "string",
            "CA_POSTCODE": "string",
            "CA_NUM_POLICIES": 0,
            "CA_PHONE_MOBILE": "string",
            "CA_PHONE_HOME": "string",
            "CA_EMAIL_ADDRESS": "string",
            "CA_POLICY_DATA": "string"
          }
        }
      }
    },
    "putCustomerdetail_response_200": {
      "type": "object",
      "properties": {
        "LGCMAREA": {
          "type": "object",
          "properties": {
            "CA_REQUEST_ID": {
              "type": "string",
              "maxLength": 6
            },
            "CA_RETURN_CODE": {
              "type": "integer",
              "minimum": 0,
              "maximum": 99
            },
            "CA_CUSTOMER_NUM": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9999999999
            },
            "CA_REQUEST_SPECIFIC": {
              "type": "string",
              "maxLength": 32482
            },
            "CA_CUSTOMER_REQUEST": {
              "type": "object",
              "properties": {
                "CA_FIRST_NAME": {
                  "type": "string",
                  "maxLength": 10
                },
                "CA_LAST_NAME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_DOB": {
                  "type": "string",
                  "maxLength": 10
                },
                "CA_HOUSE_NAME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_HOUSE_NUM": {
                  "type": "string",
                  "maxLength": 4
                },
                "CA_POSTCODE": {
                  "type": "string",
                  "maxLength": 8
                },
                "CA_NUM_POLICIES": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 999
                },
                "CA_PHONE_MOBILE": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_PHONE_HOME": {
                  "type": "string",
                  "maxLength": 20
                },
                "CA_EMAIL_ADDRESS": {
                  "type": "string",
                  "maxLength": 100
                },
                "CA_POLICY_DATA": {
                  "type": "string",
                  "maxLength": 32267
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [], 
"x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.kyndryl.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.kyndryl.com/us/en/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Communication"
    }
  ]
}
