{
  "swagger": "2.0",
  "info": {
    "description": "A simple API to get the current time based on a request with a timezone.",
    "title": "WorldTime",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_worldt@gmail.com"
    }
  },
  "host": "worldtimeapi.org",
  "basePath": "/api/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/ip/{ipv4}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ipv4",
            "required": true,
            "type": "string",
            "x-ms-summary": "IPv4 Address",
            "x-ms-url-encoding": "single",
            "description": "A valid IPv4 address, such as 8.8.8.8"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DateTimeJsonResponse"
            }
          }
        },
        "summary": "Get current time based on IP",
        "description": "Request the current time based on an IP. This is a \"best guess\" obtained from open-source data.",
        "operationId": "GetCurrentTimeBasedOnIp"
      }
    },
    "/timezone": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListJsonResponse"
            }
          }
        },
        "summary": "Get all timezones",
        "description": "Request a list of valid timezones.",
        "operationId": "GetTimezones"
      }
    },
    "/timezone/{area}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "area",
            "required": true,
            "type": "string",
            "x-ms-summary": "Area",
            "x-ms-url-encoding": "single",
            "description": "An available area"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListJsonResponse"
            }
          }
        },
        "summary": "Get timezones of area",
        "description": "Request a list of valid timezones for an area.",
        "operationId": "GetAreaTimezones"
      }
    },
    "/timezone/{area}/{location}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "area",
            "required": true,
            "type": "string",
            "x-ms-summary": "Area",
            "x-ms-url-encoding": "single",
            "description": "An available area"
          },
          {
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-summary": "Location",
            "x-ms-url-encoding": "single",
            "description": "Loction within area"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DateTimeJsonResponse"
            }
          }
        },
        "summary": "Get timezone of location",
        "description": "Request details of timezone for a location.",
        "operationId": "GetLocationTimezone"
      }
    },
    "/timezone/{area}/{location}/{region}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "area",
            "required": true,
            "type": "string",
            "x-ms-summary": "Area",
            "x-ms-url-encoding": "single",
            "description": "An available area"
          },
          {
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-summary": "Location",
            "x-ms-url-encoding": "single",
            "description": "Loction within area"
          },
          {
            "in": "path",
            "name": "region",
            "required": true,
            "type": "string",
            "x-ms-summary": "Region",
            "x-ms-url-encoding": "single",
            "description": "Region within location"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DateTimeJsonResponse"
            }
          }
        },
        "summary": "Get timezone of region",
        "description": "Request details of timezone for a region.",
        "operationId": "GetRegionTimezone"
      }
    }
  },
  "definitions": {
    "DateTimeJsonResponse": {
      "type": "object",
      "properties": {
        "abbreviation": {
          "description": "The abbreviated name of the timezone.",
          "type": "string",
          "title": "Abbreviation"
        },
        "datetime": {
          "description": "An ISO8601-valid string representing the current local date/time.",
          "type": "string",
          "title": "Current DateTime"
        },
        "day_of_week": {
          "description": "Current day number of the week, where sunday is 0.",
          "type": "integer",
          "title": "Day of Week"
        },
        "day_of_year": {
          "description": "Ordinal date of the current year.",
          "type": "integer",
          "title": "Day of Year"
        },
        "dst": {
          "description": "Flag indicating whether the local time is in daylight savings.",
          "type": "boolean",
          "title": "Is DST"
        },
        "dst_from": {
          "description": "An ISO8601-valid string representing the datetime when daylight savings started for this timezone.",
          "type": "string",
          "title": "DST started"
        },
        "dst_offset": {
          "description": "The difference in seconds between the current local time and daylight saving time for the location.",
          "type": "integer",
          "title": "DST offset (seconds)"
        },
        "dst_until": {
          "description": "An ISO8601-valid string representing the datetime when daylight savings will end for this timezone.",
          "type": "string",
          "title": "DST ends"
        },
        "raw_offset": {
          "description": "The difference in seconds between the current local time and the time in UTC, excluding any daylight saving difference (see dst_offset).",
          "type": "integer",
          "title": "Raw offset (seconds)"
        },
        "timezone": {
          "description": "Timezone in `Area/Location` or `Area/Location/Region` format.",
          "type": "string",
          "title": "TimeZone"
        },
        "unixtime": {
          "description": "Number of seconds since the Epoch.",
          "type": "integer",
          "title": "UnixTime"
        },
        "utc_datetime": {
          "description": "An ISO8601-valid string representing the current date/time in UTC.",
          "type": "string",
          "title": "Current DateTime (UTC)"
        },
        "utc_offset": {
          "description": "An ISO8601-valid string representing the offset from UTC.",
          "type": "string",
          "title": "UTC offset"
        },
        "week_number": {
          "description": "The current week number.",
          "type": "integer",
          "title": "Week of Year"
        }
      },
      "required": [
        "abbreviation",
        "datetime",
        "day_of_week",
        "day_of_year",
        "dst",
        "dst_offset",
        "timezone",
        "unixtime",
        "utc_datetime",
        "utc_offset",
        "week_number"
      ]
    },
    "ListJsonResponse": {
      "description": "a list of available timezones",
      "items": {
        "type": "string"
      },
      "type": "array",
      "title": "Available TimeZones"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "http://worldtimeapi.org/pages/examples"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "http://worldtimeapi.org/pages/privacypolicy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}