{
  "swagger": "2.0",
  "info": {
    "title": "ApyHub",
    "description": "ApyHub is the a service utility belt that helps developers save time and boost efficiency. Included are actions for archiving and unarchive files.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.apyhub.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/generate/archive/file-urls/archive-file": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                }
              }
            },
            "headers": {
              "content-disposition": {
                "type": "string",
                "description": "The content disposition.",
                "x-ms-summary": "Content Disposition"
              }
            }
          }
        },
        "summary": "Create archive file",
        "description": "Archive multiple URL files to a ZIP file.",
        "operationId": "ArchiveFilePost",
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "x-ms-summary": "Output",
            "description": "The output.",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The URL addresses.",
                  "title": "URLs"
                }
              },
              "required": [
                "urls"
              ]
            }
          }
        ]
      }
    },
    "/generate/archive/file-urls/archive-url": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "string",
                  "description": "The data.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Create archive URL",
        "description": "Archive multiple URL files to a ZIP file at a URL address.",
        "operationId": "ArchiveURLPost",
        "parameters": [
          {
            "name": "output",
            "in": "query",
            "x-ms-summary": "Output",
            "description": "The output.",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The URL addresses.",
                  "title": "URLs"
                }
              },
              "required": [
                "urls"
              ]
            }
          }
        ]
      }
    },
    "/extract/archive/url/file-urls": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The data.",
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Unarchive URL file",
        "description": "Extract multiple files from a file at a URL address.",
        "operationId": "UnarchiveURLPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "apy-token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apyhub.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://apyhub.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}