{
  "swagger": "2.0",
  "info": {
    "title": "CDC Content Services",
    "description": "Content syndication allows CDC to offer web content to other sites and applications. Media, topics, and organizations data is available.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "tools.cdc.gov",
  "basePath": "/api/v2/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/resources/media": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meta": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The response status.",
                      "title": "Status"
                    },
                    "message": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The response message or messages.",
                      "title": "Message(s)"
                    },
                    "resultSet": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The unique identifier.",
                          "title": "ID"
                        }
                      },
                      "title": "Result Set"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total number.",
                          "title": "Total"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The count number.",
                          "title": "Count"
                        },
                        "max": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum.",
                          "title": "Max"
                        },
                        "offset": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The offset.",
                          "title": "Offset"
                        },
                        "pageNum": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page number.",
                          "title": "Page Num"
                        },
                        "totalPages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total number of pages.",
                          "title": "Total Pages"
                        },
                        "sort": {
                          "type": "string",
                          "description": "The sort type.",
                          "title": "Sort"
                        },
                        "previousUrl": {
                          "type": "string",
                          "description": "The URL address to the previous page.",
                          "title": "Previous URL"
                        },
                        "currentUrl": {
                          "type": "string",
                          "description": "The URL address of the current page.",
                          "title": "Current URL"
                        },
                        "nextUrl": {
                          "type": "string",
                          "description": "The URL address to the next page.",
                          "title": "Next URL"
                        }
                      },
                      "title": "Pagination"
                    }
                  },
                  "title": "Meta"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "mediaType": {
                        "type": "string",
                        "description": "The type of media.",
                        "title": "Media Type"
                      },
                      "language": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "isoCode": {
                            "type": "string",
                            "description": "The ISO code.",
                            "title": "ISO Code"
                          }
                        },
                        "title": "Language"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "language": {
                              "type": "string",
                              "description": "The language.",
                              "title": "Language"
                            },
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            }
                          }
                        },
                        "title": "Tags"
                      },
                      "geoTags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "countryCode": {
                              "type": "string",
                              "description": "The country code.",
                              "title": "Country Code"
                            },
                            "geoNameId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unique identifier of the geo name.",
                              "title": "Geo Name ID"
                            },
                            "parentId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unique identifier of the parent.",
                              "title": "Parent ID"
                            },
                            "latitude": {
                              "type": "number",
                              "format": "float",
                              "description": "The latitude.",
                              "title": "Latitude"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "float",
                              "description": "The longitude.",
                              "title": "Longitude"
                            },
                            "timezone": {
                              "type": "string",
                              "description": "The timezone.",
                              "title": "Timezone"
                            },
                            "admin1Code": {
                              "type": "string",
                              "description": "The admin code.",
                              "title": "Admin 1 Code"
                            }
                          }
                        },
                        "title": "Geo Tags"
                      },
                      "campaigns": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The campaigns.",
                        "title": "Campaigns"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "acronym": {
                            "type": "string",
                            "description": "The acronym.",
                            "title": "Acronym"
                          },
                          "websiteUrl": {
                            "type": "string",
                            "description": "The URL address of the website.",
                            "title": "Website URL"
                          },
                          "largeLogoUrl": {
                            "type": "string",
                            "description": "The URL address of the large logo.",
                            "title": "Large Logo URL"
                          },
                          "smallLogoUrl": {
                            "type": "string",
                            "description": "The URL address of the small logo.",
                            "title": "Small Logo URL"
                          }
                        },
                        "title": "Source"
                      },
                      "attribution": {
                        "type": "string",
                        "description": "The attribution.",
                        "title": "Attribution"
                      },
                      "domainName": {
                        "type": "string",
                        "description": "The name of the domain.",
                        "title": "Domain Name"
                      },
                      "owningOrgName": {
                        "type": "string",
                        "description": "The name of the owning organization.",
                        "title": "Owning Org Name"
                      },
                      "owningOrgId": {
                        "type": "string",
                        "description": "The unique identifier of the owning organization.",
                        "title": "Owning Org ID"
                      },
                      "maintainingOrgName": {
                        "type": "string",
                        "description": "The name of the maintaining organization.",
                        "title": "Maintaining Org Name"
                      },
                      "maintainingOrgId": {
                        "type": "string",
                        "description": "The unique identifier of the maintaining organization.",
                        "title": "Maintaining Org ID"
                      },
                      "sourceUrl": {
                        "type": "string",
                        "description": "The URL address of the source.",
                        "title": "Source URL"
                      },
                      "targetUrl": {
                        "type": "string",
                        "description": "The URL address of the target.",
                        "title": "Target URL"
                      },
                      "persistentUrl": {
                        "type": "string",
                        "description": "The persistent URL address.",
                        "title": "Persistent URL"
                      },
                      "thumbnailUrl": {
                        "type": "string",
                        "description": "The URL address of the thumbnail.",
                        "title": "Thumbnail URL"
                      },
                      "alternateImages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "width": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The width.",
                              "title": "Width"
                            },
                            "height": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The height.",
                              "title": "Height"
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            }
                          }
                        },
                        "title": "Alternate Images"
                      },
                      "alternateText": {
                        "type": "string",
                        "description": "The alternate text.",
                        "title": "Alternate Text"
                      },
                      "noScriptText": {
                        "type": "string",
                        "description": "The no script text.",
                        "title": "No Script Text"
                      },
                      "featuredText": {
                        "type": "string",
                        "description": "The featured text.",
                        "title": "Featured Text"
                      },
                      "embedCode": {
                        "type": "string",
                        "description": "The embed code.",
                        "title": "Embed Code"
                      },
                      "author": {
                        "type": "string",
                        "description": "The author.",
                        "title": "Author"
                      },
                      "length": {
                        "type": "string",
                        "description": "The length.",
                        "title": "Length"
                      },
                      "size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The size.",
                        "title": "Size"
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The height.",
                        "title": "Height"
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The width.",
                        "title": "Width"
                      },
                      "childCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The child count.",
                        "title": "Child Count"
                      },
                      "children": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The children.",
                        "title": "Children"
                      },
                      "parentCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The parent count.",
                        "title": "Parent Count"
                      },
                      "parents": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The parents.",
                        "title": "Parents"
                      },
                      "rating": {
                        "type": "string",
                        "description": "The rating.",
                        "title": "Rating"
                      },
                      "ratingCount": {
                        "type": "string",
                        "description": "The rating count.",
                        "title": "Rating Count"
                      },
                      "ratingCommentCount": {
                        "type": "string",
                        "description": "The rating comment count.",
                        "title": "Rating Comment Count"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "datePublished": {
                        "type": "string",
                        "description": "The date published.",
                        "title": "Date Published"
                      },
                      "dateModified": {
                        "type": "string",
                        "description": "The date modified.",
                        "title": "Date Modified"
                      },
                      "dateContentAuthored": {
                        "type": "string",
                        "description": "The date content authored.",
                        "title": "Date Content Authored"
                      },
                      "dateContentUpdated": {
                        "type": "string",
                        "description": "The date content updated.",
                        "title": "Date Content Updated"
                      },
                      "dateContentPublished": {
                        "type": "string",
                        "description": "The date content published.",
                        "title": "Date Content Published"
                      },
                      "dateContentReviewed": {
                        "type": "string",
                        "description": "The date content reviewed.",
                        "title": "Date Content Reviewed"
                      },
                      "dateSyndicationCaptured": {
                        "type": "string",
                        "description": "The date syndication captured.",
                        "title": "Date Syndication Captured"
                      },
                      "dateSyndicationUpdated": {
                        "type": "string",
                        "description": "The date syndication updated.",
                        "title": "Date Syndication Updated"
                      },
                      "dateSyndicationVisible": {
                        "type": "string",
                        "description": "The date syndication visible.",
                        "title": "Date Syndication Visible"
                      },
                      "extendedAttributes": {
                        "type": "object",
                        "properties": {
                          "categoryNav": {
                            "type": "string",
                            "description": "The category nav.",
                            "title": "Category Nav"
                          },
                          "topicContextTitle": {
                            "type": "string",
                            "description": "The topic context title.",
                            "title": "Topic Context Title"
                          }
                        },
                        "title": "Extended Attributes"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get a list of media",
        "description": "Retrieve media available in the Content Services system.",
        "operationId": "MediaSearch",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The search query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mediatypes",
            "in": "query",
            "x-ms-summary": "Media Types",
            "description": "The media types to retrieve.",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "x-ms-summary": "Name",
            "description": "The name to retrieve.",
            "required": false,
            "type": "string"
          },
          {
            "name": "topic",
            "in": "query",
            "x-ms-summary": "Topic",
            "description": "The topic to retrieve.",
            "required": false,
            "type": "string"
          },
          {
            "name": "topicids",
            "in": "query",
            "x-ms-summary": "Topic IDs",
            "description": "The topic unique identifiers.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "audience",
            "in": "query",
            "x-ms-summary": "Audience",
            "description": "The intended audience.",
            "required": false,
            "type": "string"
          },
          {
            "name": "languagename",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language name to retrieve.",
            "required": false,
            "type": "string"
          },
          {
            "name": "languageisocode",
            "in": "query",
            "x-ms-summary": "Language ISO",
            "description": "The ISO code of the language to retrieve.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sourcename",
            "in": "query",
            "x-ms-summary": "Source",
            "description": "The name of the source.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sourceacronym",
            "in": "query",
            "x-ms-summary": "Source Acronym",
            "description": "The acronym of the source.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "description": "The sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order by.",
            "required": false,
            "type": "string",
            "enum": [
              "ASC",
              "DESC"
            ]
          },
          {
            "name": "max",
            "in": "query",
            "x-ms-summary": "Max",
            "description": "The maximum to retrieve.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagenum",
            "in": "query",
            "x-ms-summary": "Page Number",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/resources/media/{media_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "mediaType": {
                  "type": "string",
                  "description": "The media type.",
                  "title": "Media Type"
                },
                "language": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "isoCode": {
                      "type": "string",
                      "description": "The ISO code.",
                      "title": "ISO Code"
                    }
                  },
                  "title": "Language"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Tags"
                },
                "geoTags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "The country code.",
                        "title": "Country Code"
                      },
                      "geoNameId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier of the geo name.",
                        "title": "Geo Name ID"
                      },
                      "parentId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The parent unique identifier.",
                        "title": "Parent ID"
                      },
                      "latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "The latitude.",
                        "title": "Latitude"
                      },
                      "longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "The longitude.",
                        "title": "Longitude"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "The timezone.",
                        "title": "Timezone"
                      },
                      "admin1Code": {
                        "type": "string",
                        "description": "The admin code.",
                        "title": "Admin Code"
                      }
                    }
                  },
                  "title": "Geo Tags"
                },
                "campaigns": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The campaigns.",
                  "title": "Campaigns"
                },
                "source": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "acronym": {
                      "type": "string",
                      "description": "The acronym.",
                      "title": "Acronym"
                    },
                    "websiteUrl": {
                      "type": "string",
                      "description": "The URL address of the website.",
                      "title": "Website URL"
                    },
                    "largeLogoUrl": {
                      "type": "string",
                      "description": "The URL address of the large logo.",
                      "title": "Large Logo URL"
                    },
                    "smallLogoUrl": {
                      "type": "string",
                      "description": "The URL address of the small logo.",
                      "title": "Small Logo URL"
                    }
                  },
                  "title": "Source"
                },
                "attribution": {
                  "type": "string",
                  "description": "The attribution.",
                  "title": "Attribution"
                },
                "domainName": {
                  "type": "string",
                  "description": "The domain name.",
                  "title": "Domain Name"
                },
                "owningOrgName": {
                  "type": "string",
                  "description": "The name of the owning organization.",
                  "title": "Owning Org Name"
                },
                "owningOrgId": {
                  "type": "string",
                  "description": "The unique identifier of the owning organization.",
                  "title": "Owning Org ID"
                },
                "maintainingOrgName": {
                  "type": "string",
                  "description": "The name of the maintaining organization.",
                  "title": "Maintaining Org Name"
                },
                "maintainingOrgId": {
                  "type": "string",
                  "description": "The unique identifier of the maintaining organization.",
                  "title": "Maintaining Org ID"
                },
                "sourceUrl": {
                  "type": "string",
                  "description": "The URL address of the source.",
                  "title": "Source URL"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "The URL address of the target.",
                  "title": "Target URL"
                },
                "persistentUrl": {
                  "type": "string",
                  "description": "The persistent URL address.",
                  "title": "Persistent URL"
                },
                "thumbnailUrl": {
                  "type": "string",
                  "description": "The URL address of the thumbnail.",
                  "title": "Thumbnail URL"
                },
                "alternateImages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The width.",
                        "title": "Width"
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The height.",
                        "title": "Height"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      }
                    }
                  },
                  "title": "Alternate Images"
                },
                "alternateText": {
                  "type": "string",
                  "description": "The alternate text.",
                  "title": "Alternate Text"
                },
                "noScriptText": {
                  "type": "string",
                  "description": "The no script text.",
                  "title": "No Script Text"
                },
                "featuredText": {
                  "type": "string",
                  "description": "The featured text.",
                  "title": "Featured Text"
                },
                "embedCode": {
                  "type": "string",
                  "description": "The embed code.",
                  "title": "Embed Code"
                },
                "author": {
                  "type": "string",
                  "description": "The author.",
                  "title": "Author"
                },
                "length": {
                  "type": "string",
                  "description": "The author.",
                  "title": "Length"
                },
                "size": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The size.",
                  "title": "Size"
                },
                "height": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The height.",
                  "title": "Height"
                },
                "width": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The width.",
                  "title": "Width"
                },
                "childCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The child count.",
                  "title": "Child Count"
                },
                "children": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The children.",
                  "title": "Children"
                },
                "parentCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The parent count.",
                  "title": "Parent Count"
                },
                "parents": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The parents.",
                  "title": "Parents"
                },
                "rating": {
                  "type": "string",
                  "description": "The rating.",
                  "title": "Rating"
                },
                "ratingCount": {
                  "type": "string",
                  "description": "The rating count.",
                  "title": "Rating Count"
                },
                "ratingCommentCount": {
                  "type": "string",
                  "description": "The rating comment count.",
                  "title": "Rating Comment Count"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "datePublished": {
                  "type": "string",
                  "description": "The date published.",
                  "title": "Date Published"
                },
                "dateModified": {
                  "type": "string",
                  "description": "The date modified.",
                  "title": "Date Modified"
                },
                "dateContentAuthored": {
                  "type": "string",
                  "description": "The date content authored.",
                  "title": "Date Content Authored"
                },
                "dateContentUpdated": {
                  "type": "string",
                  "description": "The date content updated.",
                  "title": "Date Content Updated"
                },
                "dateContentPublished": {
                  "type": "string",
                  "description": "The date content published.",
                  "title": "Date Content Published"
                },
                "dateContentReviewed": {
                  "type": "string",
                  "description": "The date content reviewed.",
                  "title": "Date Content Reviewed"
                },
                "dateSyndicationCaptured": {
                  "type": "string",
                  "description": "The date syndication captured.",
                  "title": "Date Syndication Captured"
                },
                "dateSyndicationUpdated": {
                  "type": "string",
                  "description": "The date syndication updated.",
                  "title": "Date Syndication Updated"
                },
                "dateSyndicationVisible": {
                  "type": "string",
                  "description": "The date syndication visible.",
                  "title": "Date Syndication Visible"
                },
                "extendedAttributes": {
                  "type": "object",
                  "properties": {
                    "categoryNav": {
                      "type": "string",
                      "description": "The category nav.",
                      "title": "Category Nav"
                    },
                    "topicContextTitle": {
                      "type": "string",
                      "description": "The topic context title.",
                      "title": "Topic Context Title"
                    }
                  },
                  "title": "Extended Attributes"
                }
              }
            }
          }
        },
        "summary": "Get media by ID",
        "description": "Retrieves the details of a media that can be syndicated.",
        "operationId": "MediaGet",
        "parameters": [
          {
            "name": "media_id",
            "in": "path",
            "x-ms-summary": "Media ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the media.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "description": "The sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "x-ms-summary": "Order",
            "description": "The order by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "max",
            "in": "query",
            "x-ms-summary": "Max",
            "description": "The maximum returned.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "pagenum",
            "in": "query",
            "x-ms-summary": "Page Number",
            "description": "The page number.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/resources/mediatypes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "displayOrdinal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The display ordinal.",
                        "title": "Display Ordinal"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get media types",
        "description": "Retrieves a list of the available media types.",
        "operationId": "MediaTypes",
        "parameters": []
      }
    },
    "/resources/topics": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "mediaUsageCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The media usage count.",
                        "title": "Media Usage Count"
                      },
                      "displayOrdinal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The display ordinal.",
                        "title": "Display Ordinal"
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "description": {
                              "type": "string",
                              "description": "The description.",
                              "title": "Description"
                            },
                            "language": {
                              "type": "string",
                              "description": "The language.",
                              "title": "Language"
                            },
                            "mediaUsageCount": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The media usage count.",
                              "title": "Media Usage Count"
                            },
                            "displayOrdinal": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The display ordinal.",
                              "title": "Display Ordinal"
                            }
                          }
                        },
                        "title": "Items"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get topics",
        "description": "Retrieves a list of the available topics.",
        "operationId": "Topics",
        "parameters": []
      }
    },
    "/resources/audiences": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "mediaUsageCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The media usage count.",
                        "title": "Media Usage Count"
                      },
                      "displayOrdinal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The display ordinal.",
                        "title": "Display Ordinal"
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "results": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The unique identifier.",
                                    "title": "ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The name.",
                                    "title": "Name"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "The description.",
                                    "title": "Description"
                                  },
                                  "language": {
                                    "type": "string",
                                    "description": "The language.",
                                    "title": "Language"
                                  },
                                  "mediaUsageCount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The media usage count.",
                                    "title": "Media Usage Count"
                                  },
                                  "displayOrdinal": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The display ordinal.",
                                    "title": "Display Ordinal"
                                  }
                                }
                              },
                              "title": "Results"
                            }
                          }
                        },
                        "title": "Items"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get audiences",
        "description": "Retrieves a list of the available audiences.",
        "operationId": "Audiences",
        "parameters": []
      }
    },
    "/resources/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get tags",
        "description": "Retrieves a list of available tags.",
        "operationId": "Tags",
        "parameters": []
      }
    },
    "/resources/tags/{TAG_ID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Retrieve tag by ID",
        "description": "Retrieves a tag object using its ID.",
        "operationId": "TagGet",
        "parameters": [
          {
            "name": "TAG_ID",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the tag.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/resources/tags/{TAG_ID}/media": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "mediaType": {
                        "type": "string",
                        "description": "The type of media.",
                        "title": "Media Type"
                      },
                      "language": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "isoCode": {
                            "type": "string",
                            "description": "The ISO code.",
                            "title": "ISO Code"
                          }
                        },
                        "title": "Language"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "language": {
                              "type": "string",
                              "description": "The language.",
                              "title": "Language"
                            },
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            }
                          }
                        },
                        "title": "Tags"
                      },
                      "geoTags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "countryCode": {
                              "type": "string",
                              "description": "The country code.",
                              "title": "Country Code"
                            },
                            "geoNameId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unique identifier of the geo name.",
                              "title": "Geo Name ID"
                            },
                            "parentId": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unique identifier of the parent.",
                              "title": "Parent ID"
                            },
                            "latitude": {
                              "type": "number",
                              "format": "float",
                              "description": "The latitude.",
                              "title": "Latitude"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "float",
                              "description": "The longitude.",
                              "title": "Longitude"
                            },
                            "timezone": {
                              "type": "string",
                              "description": "The timezone.",
                              "title": "Timezone"
                            },
                            "admin1Code": {
                              "type": "string",
                              "description": "The admin code.",
                              "title": "Admin 1 Code"
                            }
                          }
                        },
                        "title": "Geo Tags"
                      },
                      "campaigns": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The campaigns.",
                        "title": "Campaigns"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "acronym": {
                            "type": "string",
                            "description": "The acronym.",
                            "title": "Acronym"
                          },
                          "websiteUrl": {
                            "type": "string",
                            "description": "The URL address of the website.",
                            "title": "Website URL"
                          },
                          "largeLogoUrl": {
                            "type": "string",
                            "description": "The URL address of the large logo.",
                            "title": "Large Logo URL"
                          },
                          "smallLogoUrl": {
                            "type": "string",
                            "description": "The URL address of the small logo.",
                            "title": "Small Logo URL"
                          }
                        },
                        "title": "Source"
                      },
                      "attribution": {
                        "type": "string",
                        "description": "The attribution.",
                        "title": "Attribution"
                      },
                      "domainName": {
                        "type": "string",
                        "description": "The name of the domain.",
                        "title": "Domain Name"
                      },
                      "owningOrgName": {
                        "type": "string",
                        "description": "The name of the owning organization.",
                        "title": "Owning Org Name"
                      },
                      "owningOrgId": {
                        "type": "string",
                        "description": "The unique identifier of the owning organization.",
                        "title": "Owning Org ID"
                      },
                      "maintainingOrgName": {
                        "type": "string",
                        "description": "The name of the maintaining organization.",
                        "title": "Maintaining Org Name"
                      },
                      "maintainingOrgId": {
                        "type": "string",
                        "description": "The unique identifier of the maintaining organization.",
                        "title": "Maintaining Org ID"
                      },
                      "sourceUrl": {
                        "type": "string",
                        "description": "The URL address of the source.",
                        "title": "Source URL"
                      },
                      "targetUrl": {
                        "type": "string",
                        "description": "The URL address of the target.",
                        "title": "Target URL"
                      },
                      "persistentUrl": {
                        "type": "string",
                        "description": "The persistent URL address.",
                        "title": "Persistent URL"
                      },
                      "thumbnailUrl": {
                        "type": "string",
                        "description": "The URL address of the thumbnail.",
                        "title": "Thumbnail URL"
                      },
                      "alternateImages": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unique identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "width": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The width.",
                              "title": "Width"
                            },
                            "height": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The height.",
                              "title": "Height"
                            },
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            }
                          }
                        },
                        "title": "Alternate Images"
                      },
                      "alternateText": {
                        "type": "string",
                        "description": "The alternate text.",
                        "title": "Alternate Text"
                      },
                      "noScriptText": {
                        "type": "string",
                        "description": "The no script text.",
                        "title": "No Script Text"
                      },
                      "featuredText": {
                        "type": "string",
                        "description": "The featured text.",
                        "title": "Featured Text"
                      },
                      "embedCode": {
                        "type": "string",
                        "description": "The embed code.",
                        "title": "Embed Code"
                      },
                      "author": {
                        "type": "string",
                        "description": "The author.",
                        "title": "Author"
                      },
                      "length": {
                        "type": "string",
                        "description": "The length.",
                        "title": "Length"
                      },
                      "size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The size.",
                        "title": "Size"
                      },
                      "height": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The height.",
                        "title": "Height"
                      },
                      "width": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The width.",
                        "title": "Width"
                      },
                      "childCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The child count.",
                        "title": "Child Count"
                      },
                      "children": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The children.",
                        "title": "Children"
                      },
                      "parentCount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The parent count.",
                        "title": "Parent Count"
                      },
                      "parents": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The parents.",
                        "title": "Parents"
                      },
                      "rating": {
                        "type": "string",
                        "description": "The rating.",
                        "title": "Rating"
                      },
                      "ratingCount": {
                        "type": "string",
                        "description": "The rating count.",
                        "title": "Rating Count"
                      },
                      "ratingCommentCount": {
                        "type": "string",
                        "description": "The rating comment count.",
                        "title": "Rating Comment Count"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "datePublished": {
                        "type": "string",
                        "description": "The date published.",
                        "title": "Date Published"
                      },
                      "dateModified": {
                        "type": "string",
                        "description": "The date modified.",
                        "title": "Date Modified"
                      },
                      "dateContentAuthored": {
                        "type": "string",
                        "description": "The date content authored.",
                        "title": "Date Content Authored"
                      },
                      "dateContentUpdated": {
                        "type": "string",
                        "description": "The date content updated.",
                        "title": "Date Content Updated"
                      },
                      "dateContentPublished": {
                        "type": "string",
                        "description": "The date content published.",
                        "title": "Date Content Published"
                      },
                      "dateContentReviewed": {
                        "type": "string",
                        "description": "The date content reviewed.",
                        "title": "Date Content Reviewed"
                      },
                      "dateSyndicationCaptured": {
                        "type": "string",
                        "description": "The date syndication captured.",
                        "title": "Date Syndication Captured"
                      },
                      "dateSyndicationUpdated": {
                        "type": "string",
                        "description": "The date syndication updated.",
                        "title": "Date Syndication Updated"
                      },
                      "dateSyndicationVisible": {
                        "type": "string",
                        "description": "The date syndication visible.",
                        "title": "Date Syndication Visible"
                      },
                      "extendedAttributes": {
                        "type": "object",
                        "properties": {
                          "categoryNav": {
                            "type": "string",
                            "description": "The category nav.",
                            "title": "Category Nav"
                          },
                          "topicContextTitle": {
                            "type": "string",
                            "description": "The topic context title.",
                            "title": "Topic Context Title"
                          }
                        },
                        "title": "Extended Attributes"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get media by tag ID",
        "description": "Retrieves media objects using a tag ID.",
        "operationId": "MediaTag",
        "parameters": [
          {
            "name": "TAG_ID",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the tag.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/resources/tags/{TAG_ID}/related": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get related tags",
        "description": "Retrieves tag objects related to another tag.",
        "operationId": "TagRelated",
        "parameters": [
          {
            "name": "TAG_ID",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the tag.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/resources/tagtypes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get tag types",
        "description": "Returns a list of the available tag types.",
        "operationId": "TagTypes",
        "parameters": []
      }
    },
    "/resources/languages": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "isoCode": {
                        "type": "string",
                        "description": "The ISO code.",
                        "title": "ISO Code"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get languages",
        "description": "Returns a list of the available languages.",
        "operationId": "Language",
        "parameters": []
      }
    },
    "/resources/organizations": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "website": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "The URL address.",
                              "title": "URL"
                            },
                            "isDefault": {
                              "type": "boolean",
                              "description": "Whether is default.",
                              "title": "Is Default"
                            }
                          }
                        },
                        "title": "Website"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "typeOther": {
                        "type": "string",
                        "description": "The other type.",
                        "title": "Type Other"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "address": {
                        "type": "string",
                        "description": "The address.",
                        "title": "Address"
                      },
                      "addressContinued": {
                        "type": "string",
                        "description": "The address continued.",
                        "title": "Address Continued"
                      },
                      "city": {
                        "type": "string",
                        "description": "The city.",
                        "title": "City"
                      },
                      "stateProvince": {
                        "type": "string",
                        "description": "The state or province.",
                        "title": "State/Province"
                      },
                      "postalCode": {
                        "type": "string",
                        "description": "The postal code.",
                        "title": "Postal Code"
                      },
                      "county": {
                        "type": "string",
                        "description": "The county.",
                        "title": "County"
                      },
                      "country": {
                        "type": "string",
                        "description": "The country.",
                        "title": "Country"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get organizations",
        "description": "Returns a list of the available organizations.",
        "operationId": "Organization",
        "parameters": []
      }
    },
    "/resources/organizationtypes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "displayOrdinal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The display ordinal.",
                        "title": "Display Ordinal"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get organization types",
        "description": "Returns a list of the available organization types.",
        "operationId": "OrganizationType",
        "parameters": []
      }
    },
    "/resources/sources": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "acronym": {
                        "type": "string",
                        "description": "The acronym.",
                        "title": "Acronym"
                      },
                      "websiteUrl": {
                        "type": "string",
                        "description": "The URL address of the website.",
                        "title": "Website URL"
                      },
                      "largeLogoUrl": {
                        "type": "string",
                        "description": "The URL address of the large logo.",
                        "title": "Large Logo URL"
                      },
                      "smallLogoUrl": {
                        "type": "string",
                        "description": "The URL address of the small logo.",
                        "title": "Small Logo URL"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Get sources",
        "description": "Returns a list of the available sources.",
        "operationId": "Source",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://tools.cdc.gov/medialibrary/index.aspx"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cdc.gov/other/privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}