{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Blackbaud Raisers Edge NXT Con",
    "description": "Blackbaud Raiser's Edge NXT is a comprehensive cloud-based fundraising and donor management software solution built specifically for nonprofits and the entire social good community. Use the Constituents connector to manage constituent biographical details, contact information, and relationships.",
    "contact": {
      "name": "Blackbaud Support",
      "url": "https://www.blackbaud.com/support",
      "email": "skyapi@blackbaud.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.blackbaud.com/products/blackbaud-raisers-edge-nxt"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.blackbaud.com/privacy-shield"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "api.sky.blackbaud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "skyApiOAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth2.sky.blackbaud.com/authorization",
      "tokenUrl": "https://oauth2.sky.blackbaud.com/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "skyApiOAuth": []
    }
  ],
  "paths": {
    "/commpref/v1/consent/categories": {
      "get": {
        "operationId": "ListConsentCategories",
        "summary": "List consent categories",
        "description": "Lists the available consent categories.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive categories?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.ConsentCategoryCollection"
            }
          }
        }
      }
    },
    "/commpref/v1/consent/channels": {
      "get": {
        "operationId": "ListConsentChannels",
        "summary": "List consent channels",
        "description": "Lists the available consent channels.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.ConsentChannelCollection"
            }
          }
        }
      }
    },
    "/commpref/v1/consent/consents": {
      "post": {
        "operationId": "CreateConstituentConsent",
        "summary": "Create a constituent consent record",
        "description": "Creates a new constituent consent record.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.ConstituentConsentAdd"
            },
            "description": "An object that represents the consent record to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds. The response body contains the ID of the new consent record.",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.CreatedConstituentConsent"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create a consent record."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/commpref/v1/consent/sources": {
      "get": {
        "operationId": "ListConsentSources",
        "summary": "List consent sources",
        "description": "Lists the available consent sources.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive sources?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.ConsentSourceCollection"
            }
          }
        }
      }
    },
    "/commpref/v1/constituents/{constituent_id}/consents": {
      "get": {
        "operationId": "ListConstituentConsents",
        "summary": "List constituent consent records",
        "description": "Lists the consent records for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "most_recent_only",
            "in": "query",
            "description": "Include only the most recent consent records for each channel category combination in the response?",
            "type": "boolean",
            "x-ms-summary": "Most recent only?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.ConstituentConsentReadCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/commpref/v1/constituents/{constituent_id}/constituentsolicitcodes": {
      "get": {
        "operationId": "ListConstituentSolicitCodes",
        "summary": "List constituent solicit codes",
        "description": "Lists the solicit codes for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.ConstituentSolicitCodeReadCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent or solicit codes."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/commpref/v1/constituentsolicitcodes": {
      "post": {
        "operationId": "CreateConstituentSolicitCode",
        "summary": "Create a constituent solicit code",
        "description": "Creates a new constituent solicit code.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.ConstituentSolicitCodeAdd"
            },
            "description": "An object that represents the solicit code to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a phone. The response body contains the ID of the new phone.",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.CreatedConstituentSolicitCode"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the phone."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/commpref/v1/constituentsolicitcodes/{constituent_solicit_code_id}": {
      "patch": {
        "operationId": "EditConstituentSolicitCode",
        "summary": "Update a constituent solicit code",
        "description": "Updates a constituent solicit code.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_solicit_code_id",
            "in": "path",
            "description": "The system record ID of the solicit code to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Solicit code ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.ConstituentSolicitCodeEdit"
            },
            "description": "An object that represents the properties of the solicit code to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the solicit code."
          },
          "400": {
            "description": "Returned when the specified solicit code ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the solicit code."
          },
          "404": {
            "description": "Returned when the specified solicit code is not found."
          }
        }
      }
    },
    "/commpref/v1/solicitcodes": {
      "get": {
        "operationId": "ListSolicitCodes",
        "summary": "List solicit codes",
        "description": "Lists the available solicit codes.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/CommPrefApi.SolicitCodeCollection"
            }
          }
        }
      }
    },
    "/constituent/v1/addresses": {
      "post": {
        "operationId": "CreateConstituentAddress",
        "summary": "Create a constituent address",
        "description": "Creates a new constituent address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.AddressAdd"
            },
            "description": "An object that represents the address to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an address. The response body contains the ID of the new address.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedConstituentAddress"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the address."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/addresses/{address_id}": {
      "patch": {
        "operationId": "EditConstituentAddress",
        "summary": "Update a constituent address",
        "description": "Updates a constituent address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "address_id",
            "in": "path",
            "description": "The system record ID of the address to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Address ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.AddressEdit"
            },
            "description": "An object that represents the properties of the address to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the address."
          },
          "400": {
            "description": "Returned when the specified address ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the address."
          },
          "404": {
            "description": "Returned when the specified address is not found."
          }
        }
      }
    },
    "/constituent/v1/aliases": {
      "post": {
        "operationId": "CreateConstituentAlias",
        "summary": "Create a constituent alias",
        "description": "Creates a new constituent alias.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.AliasAdd"
            },
            "description": "An object that represents the alias to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an alias. The response body contains the ID of the new alias.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedConstituentAlias"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the alias."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/aliases/{alias_id}": {
      "patch": {
        "operationId": "EditConstituentAlias",
        "summary": "Update a constituent alias",
        "description": "Updates an constituent alias.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "alias_id",
            "in": "path",
            "description": "The system record ID of the alias to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Alias ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.AliasEdit"
            },
            "description": "An object that represents the properties of the alias to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the alias."
          },
          "400": {
            "description": "Returned when the specified alias ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "404": {
            "description": "Returned when the specified alias is not found."
          }
        }
      }
    },
    "/constituent/v1/constituentcodes": {
      "post": {
        "operationId": "CreateConstituentCode",
        "summary": "Create a constituent code",
        "description": "Creates a new constituent code.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ConstituentCodeAdd"
            },
            "description": "An object that represents the constituent code to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a constituent code. The response body contains the ID of the new constituent code.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedConstituentCode"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the constituent code."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituentcodes/{constituent_code_id}": {
      "delete": {
        "operationId": "DeleteConstituentCode",
        "summary": "Delete a constituent code",
        "description": "Deletes a constituent code.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_code_id",
            "in": "path",
            "description": "The system record ID of the constituent code to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent code ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the constituent code."
          },
          "400": {
            "description": "Returned when the specified constituent code ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the constituent code."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentCode",
        "summary": "Update a constituent code",
        "description": "Updates a constituent code.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_code_id",
            "in": "path",
            "description": "The system record ID of the constituent code to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent code ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ConstituentCodeEdit"
            },
            "description": "An object that represents the properties of the constituent code to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent code."
          },
          "400": {
            "description": "Returned when the specified constituent code ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent code."
          },
          "404": {
            "description": "Returned when the specified constituent code is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents": {
      "get": {
        "operationId": "ListConstituents",
        "summary": "List constituents",
        "description": "Returns a list of constituents.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "list_id",
            "in": "query",
            "description": "Defines a list identifier used to filter the set of constituents to those included in the specified list. If this value is set, other specified filters will be ignored.",
            "type": "string",
            "x-ms-summary": "List",
            "x-ms-dynamic-values": {
              "operationId": "ListLists",
              "value-collection": "value",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "list_type": "Constituent"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "ListLists",
              "itemsPath": "value",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "list_type": {
                  "value": "Constituent"
                }
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 500. The maximum is 5000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset"
          },
          {
            "name": "constituent_code",
            "in": "query",
            "description": "Represents a constituent code to filter the list. For example, \"Board Member\" returns only constituents with a Board Member constituent code.",
            "type": "string",
            "x-ms-summary": "Constituent code",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "constituent_id",
            "in": "query",
            "description": "Represents a comma-separated list of constituent system record IDs to filter the results. For example, \"280,1232\" returns only constituent 280 or constituent 1232.",
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "custom_field_category",
            "in": "query",
            "description": "Represents a custom field category to filter the results. For example, \"Anniversary\" returns only constituents with an active Anniversary custom field.",
            "type": "string",
            "x-ms-summary": "Custom field category",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fundraiser_status",
            "in": "query",
            "description": "Represents a comma-separated list of fundraiser statuses to filter the results. For example, \"Active,None\" returns only constituents whose fundraiser status is Active or None. Valid values for this filter are Active, Inactive, and None.",
            "type": "string",
            "x-ms-summary": "Fundraiser status",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include_deceased",
            "in": "query",
            "description": "Include deceased constituents in the response?",
            "type": "boolean",
            "x-ms-summary": "Include deceased?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive constituents in the response?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "postal_code",
            "in": "query",
            "description": "Represents a comma-separated list of postal codes to filter the results. For example, \"29466,29492\" returns only constituents whose preferred address has a postal code that starts with 29466 or 29492, such as 29466, 29492, or 29492-0727.",
            "type": "string",
            "x-ms-summary": "Postal code",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "date_added",
            "in": "query",
            "description": "Filter the results to constituents created on or after the specified date (ex: '2020-09-18T04:13:56Z').",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Added on or after",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "last_modified",
            "in": "query",
            "description": "Filter the results to constituents modified on or after the specified date (ex: '2020-09-18T04:13:56Z').",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Modified on or after",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Represents a list of fields to sort the results by.  Results are in ascending order by default, and a '-' sign denotes descending order.  For example, \"date_added,-last\" sorts constituents by the \"date_added\" field in ascending order and then by the \"last\" field in descending order.",
            "type": "string",
            "x-ms-summary": "Sorted by",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfConstituentRead"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituents."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}": {
      "get": {
        "operationId": "GetConstituent",
        "summary": "Get a constituent",
        "description": "Returns information about a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent to get.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ConstituentRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituent",
        "summary": "Update a constituent",
        "description": "Updates a constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ConstituentEdit"
            },
            "description": "An object that represents the properties of the constituent to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent."
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/addresses": {
      "get": {
        "operationId": "ListConstituentAddresses",
        "summary": "List constituent addresses",
        "description": "Lists the addresses for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive addresses?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfAddressRead"
            }
          },
          "400": {
            "description": "Returned when the specified ID is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the addresses."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/aliases": {
      "get": {
        "operationId": "ListConstituentAliases",
        "summary": "List constituent aliases",
        "description": "Lists the aliases for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfAliasRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the aliases."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/attachments": {
      "get": {
        "operationId": "ListConstituentAttachments",
        "summary": "List constituent attachments",
        "description": "Lists the attachments for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfConstituentAttachmentRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the attachments."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/constituentcodes": {
      "get": {
        "operationId": "ListConstituentCodes",
        "summary": "List constituent codes",
        "description": "Lists the constituent codes for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfConstituentCodeRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent codes."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/customfields": {
      "get": {
        "operationId": "ListConstituentCustomFields",
        "summary": "List constituent custom fields",
        "description": "Lists the custom fields for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfConstituentCustomFieldRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the custom fields."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/educations": {
      "get": {
        "operationId": "ListConstituentEducations",
        "summary": "List constituent educations",
        "description": "Lists the education records for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfEducationRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the education records."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/emailaddresses": {
      "get": {
        "operationId": "ListConstituentEmailAddresses",
        "summary": "List constituent email addresses",
        "description": "Lists the email addresses for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive email addresses?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfEmailAddressRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the email addresses."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/fundraiserassignments": {
      "get": {
        "operationId": "ListConstituentFundraiserAssignments",
        "summary": "List constituent fundraisers",
        "description": "Lists the fundraiser assignments for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive fundraiser assignments?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfFundraiserAssignmentRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the fundraiser assignments."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/memberships": {
      "get": {
        "operationId": "ListConstituentMemberships",
        "summary": "List constituent memberships",
        "description": "Lists the memberships for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfMembershipRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the memberships."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/nameformats/summary": {
      "get": {
        "operationId": "GetConstituentNameFormatSummary",
        "summary": "Get constituent name format summary",
        "description": "Returns the name format summary for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.NameFormatSummaryRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the name format summary."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/notes": {
      "get": {
        "operationId": "ListConstituentNotes",
        "summary": "List constituent notes",
        "description": "Lists the notes for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfNoteRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the notes."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/onlinepresences": {
      "get": {
        "operationId": "ListConstituentOnlinePresences",
        "summary": "List constituent online presences",
        "description": "Lists the online presences for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive online presences?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfOnlinePresenceRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the online presences."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/phones": {
      "get": {
        "operationId": "ListConstituentPhones",
        "summary": "List constituent phones",
        "description": "Lists the phones for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive phones?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfPhoneRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the phones."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/profilepicture": {
      "get": {
        "operationId": "GetConstituentProfilePicture",
        "summary": "Get a constituent profile picture",
        "description": "Returns the current profile picture for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent for whom the profile picture is to be retrieved.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ProfilePictureRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the profile picture."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      },
      "patch": {
        "operationId": "EditConstituentProfilePicture",
        "summary": "Update a constituent profile picture",
        "description": "Updates the current profile picture for a constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent whose profile picture is to be updated.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ProfilePictureEdit"
            },
            "description": "An object that represents the properties for the constituent profile picture to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the profile picture."
          },
          "400": {
            "description": "Returned when the specified profile picture ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the profile picture."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/{constituent_id}/relationships": {
      "get": {
        "operationId": "ListConstituentRelationships",
        "summary": "List constituent relationships",
        "description": "Lists the relationships for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 500. There is no maximum.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfRelationshipRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the relationships."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/convert/{non_constituent_id}": {
      "post": {
        "operationId": "ConvertToConstituent",
        "summary": "Convert to constituent",
        "description": "Converts a non-constituent to a constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "non_constituent_id",
            "in": "path",
            "description": "The system record ID of the non-constituent record to convert.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Non-constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.NonConstituentConversion"
            },
            "description": "An object with fields for the conversion of the non-constituent.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully converts a non-constituent to a constituent. The response body contains the ID of the constituent.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ConvertedConstituent"
            }
          },
          "400": {
            "description": "Returned when the specified request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to convert the non-constituent to a constituent."
          },
          "404": {
            "description": "Returned when the specified non-constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/attachments": {
      "post": {
        "operationId": "CreateConstituentAttachment",
        "summary": "Create a constituent attachment",
        "description": "Creates a new constituent attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ConstituentAttachmentAdd"
            },
            "description": "An object that represents the attachment to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an attachment. The response body contains the ID of the new attachment.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedConstituentAttachment"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the attachment."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/attachments/{attachment_id}": {
      "patch": {
        "operationId": "EditConstituentAttachment",
        "summary": "Update a constituent attachment",
        "description": "Updates a constituent attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachment_id",
            "in": "path",
            "description": "The system record ID of the attachment to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Attachment ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ConstituentAttachmentEdit"
            },
            "description": "An object that represents the properties of the attachment to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the attachment."
          },
          "400": {
            "description": "Returned when the specified attachment ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the attachment."
          },
          "404": {
            "description": "Returned when the specified attachment is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/customfields": {
      "post": {
        "operationId": "CreateConstituentCustomField",
        "summary": "Create a constituent custom field",
        "description": "Creates a new constituent custom field.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ConstituentCustomFieldAdd"
            },
            "description": "An object that represents the custom field to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a custom field. The response body contains the ID of the new custom field.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedConstituentCustomField"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the custom field."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/customfields/{custom_field_id}": {
      "patch": {
        "operationId": "EditConstituentCustomField",
        "summary": "Update a constituent custom field",
        "description": "Updates a constituent custom field.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "description": "The system record ID of the custom field to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Custom field ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ConstituentCustomFieldEdit"
            },
            "description": "An object that represents the properties of the custom field to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the custom field."
          },
          "400": {
            "description": "Returned when the specified custom field ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the custom field."
          },
          "404": {
            "description": "Returned when the specified custom field is not found."
          }
        }
      }
    },
    "/constituent/v1/constituents/customfields/categories/details": {
      "get": {
        "operationId": "ListConstituentCustomFieldCategoryDetails",
        "summary": "List custom field categories",
        "description": "Lists the constituent custom field category details.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfCustomFieldCategoryRead"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view custom field categories."
          }
        }
      }
    },
    "/constituent/v1/constituents/duplicatesearch": {
      "get": {
        "operationId": "GetDuplicateSearchResults",
        "summary": "Search for duplicate constituents",
        "description": "Searches individual, organization, and related contact records and ranks potential duplicates based on the specified search filters. Records that match multiple filters rank higher as potential duplicates.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "last_org_name",
            "in": "query",
            "description": "A filter for records that match the specified last name or organization name.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Last/org name"
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "A filter for individual records that match the specified first name.",
            "type": "string",
            "x-ms-summary": "First name"
          },
          {
            "name": "middle_name",
            "in": "query",
            "description": "A filter for individual records that match the specified middle name.",
            "type": "string",
            "x-ms-summary": "Middle name"
          },
          {
            "name": "suffix",
            "in": "query",
            "description": "A filter for individual records that match the specified suffix.",
            "type": "string",
            "x-ms-summary": "Suffix",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicValues",
              "value-collection": "value",
              "value-path": "item",
              "value-title": "item",
              "parameters": {
                "api": "constituent",
                "route": "suffixes"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetDynamicValues",
              "itemsPath": "value",
              "itemValuePath": "item",
              "itemTitlePath": "item",
              "parameters": {
                "api": {
                  "value": "constituent"
                },
                "route": {
                  "value": "suffixes"
                }
              }
            }
          },
          {
            "name": "address_block",
            "in": "query",
            "description": "A filter for records that match the specified address block.",
            "type": "string",
            "x-ms-summary": "Address block"
          },
          {
            "name": "city",
            "in": "query",
            "description": "A filter for records that match the specified city.",
            "type": "string",
            "x-ms-summary": "City"
          },
          {
            "name": "state",
            "in": "query",
            "description": "A filter for records that match the specified state.",
            "type": "string",
            "x-ms-summary": "State"
          },
          {
            "name": "post_code",
            "in": "query",
            "description": "A filter for records that match the specified postal code.",
            "type": "string",
            "x-ms-summary": "Postal code"
          },
          {
            "name": "email",
            "in": "query",
            "description": "A filter for records that match the specified email addresses.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-ms-summary": "Email"
          },
          {
            "name": "phone",
            "in": "query",
            "description": "A filter for records that match the specified phone numbers.",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "x-ms-summary": "Phone"
          },
          {
            "name": "search_individuals",
            "in": "query",
            "description": "Search for duplicate individual records?",
            "required": false,
            "default": true,
            "type": "boolean",
            "x-ms-summary": "Search individuals?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "search_aliases",
            "in": "query",
            "description": "Search by the alias, as specified by the Last/org name parameter?",
            "required": false,
            "default": false,
            "type": "boolean",
            "x-ms-summary": "Search aliases?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "search_contacts",
            "in": "query",
            "description": "Search relationship contact records?",
            "required": false,
            "default": false,
            "type": "boolean",
            "x-ms-summary": "Search contacts?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to return when paging results (Default = 3).",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of records to skip when paging results.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.DuplicateSearchResultCollection"
            }
          },
          "400": {
            "description": "Returned when the specified request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view constituents."
          }
        }
      }
    },
    "/constituent/v1/constituents/search": {
      "get": {
        "operationId": "SearchConstituent",
        "summary": "Search for a constituent",
        "description": "Performs a constituent search based on the provided search text. Supports first name, last name, preferred name, former name, alias, email address, phone number, address, or lookup ID. Name combinations such as first name and last name or preferred name and last name are valid, but otherwise search only supports one parameter at a time. By default, searches include results that sound similar to your criteria. For example, searches for \"Smith\" include matches for \"Smyth\" and other alternative spellings. This search does not support wildcard characters such as * or ?. Search results are limited to 500 records.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "search_text",
            "in": "query",
            "description": "The search text. Supports first name, last name, preferred name, former name, alias, email address, phone number, address, or lookup ID. Name combinations such as first name and last name or preferred name and last name are valid, but otherwise search only supports one parameter at a time. By default, searches include results that sound similar to your criteria. For example, searches for \"Smith\" include matches for \"Smyth\" and other alternative spellings. This search does not support wildcard characters such as * or ?. Search results are limited to 500 records.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Search text"
          },
          {
            "name": "fundraiser_status",
            "in": "query",
            "description": "Represents a comma-separated list of fundraiser statuses to filter the results. For example, \"Active,None\" returns only constituents whose fundraiser status is Active or None. Valid values for this filter are Active, Inactive, and None.",
            "type": "string",
            "x-ms-summary": "Fundraiser statuses",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive constituents in the response?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "search_field",
            "in": "query",
            "description": "Represents a field to search on. Currently, it only supports lookup_id. If it is provided with search_text, a constituent with lookup_id that matches the search_text will be returned.",
            "type": "string",
            "enum": [
              "lookup_id",
              "email_address"
            ],
            "x-ms-summary": "Search field",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "strict_search",
            "in": "query",
            "description": "Exclude constituents whose names sound like the search text but are spelled differently?",
            "type": "boolean",
            "x-ms-summary": "Use strict search?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 500. The maximum is 5000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfSearchResultRead"
            }
          }
        }
      }
    },
    "/constituent/v1/countries": {
      "get": {
        "operationId": "ListCountries",
        "summary": "List country definitions",
        "description": "Lists the country definitions.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfCountryRead"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view countries."
          }
        }
      }
    },
    "/constituent/v1/educations": {
      "post": {
        "operationId": "CreateConstituentEducation",
        "summary": "Create a constituent education",
        "description": "Creates a new constituent education.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.EducationAdd"
            },
            "description": "An object that represents the education to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an education. The response body contains the ID of the new education.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedConstituentEducation"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the education."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/educations/{education_id}": {
      "patch": {
        "operationId": "EditConstituentEducation",
        "summary": "Update a constituent education",
        "description": "Updates a constituent education.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "education_id",
            "in": "path",
            "description": "The system record ID of the education record to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Education ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.EducationEdit"
            },
            "description": "An object that represent properties of the education record to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the education."
          },
          "400": {
            "description": "Returned when the specified education ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the education."
          },
          "404": {
            "description": "Returned when the specified education is not found."
          }
        }
      }
    },
    "/constituent/v1/emailaddresses": {
      "post": {
        "operationId": "CreateConstituentEmailAddress",
        "summary": "Create a constituent email address",
        "description": "Creates a new constituent email address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.EmailAddressAdd"
            },
            "description": "An object that represents the email address to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an email address. The response body contains the ID of the new email address.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedConstituentEmailAddress"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the email address."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/emailaddresses/{email_address_id}": {
      "patch": {
        "operationId": "EditConstituentEmailAddress",
        "summary": "Update a constituent email address",
        "description": "Updates a constituent email address.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email_address_id",
            "in": "path",
            "description": "The system record ID of the email address to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Email address ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.EmailAddressEdit"
            },
            "description": "An object that represents the properties of the email address to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the email address."
          },
          "400": {
            "description": "Returned when the specified email address ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the email address."
          },
          "404": {
            "description": "Returned when the specified email address is not found."
          }
        }
      }
    },
    "/constituent/v1/nameformatconfigurations": {
      "get": {
        "operationId": "ListNameFormatConfigurations",
        "summary": "List name format configurations",
        "description": "List the name format configurations.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfNameFormatConfigurationRead"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view the name format configurations."
          }
        }
      }
    },
    "/constituent/v1/nameformats": {
      "post": {
        "operationId": "CreateConstituentNameFormat",
        "summary": "Create a constituent name format",
        "description": "Creates a new constituent name format.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.NameFormatAdd"
            },
            "description": "An object that represents the name format to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an name format. The response body contains the ID of the new name format.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedNameFormat"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the name format."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/nameformats/{name_format_id}": {
      "patch": {
        "operationId": "EditConstituentNameFormat",
        "summary": "Update a constituent name format",
        "description": "Updates a constituent name format.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name_format_id",
            "in": "path",
            "description": "The system record ID of the name format to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name format ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.NameFormatEdit"
            },
            "description": "An object that represents the properties of the name format to edit.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the name format."
          },
          "400": {
            "description": "Returned when the specified name format ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the name format."
          },
          "404": {
            "description": "Returned when the specified name format is not found."
          }
        }
      }
    },
    "/constituent/v1/notes": {
      "post": {
        "operationId": "CreateConstituentNote",
        "summary": "Create a constituent note",
        "description": "Creates a new constituent note.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.NoteAdd"
            },
            "description": "An object that represents the note to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a note. The response body contains the ID of the new note.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedConstituentNote"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the note."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/notes/{note_id}": {
      "patch": {
        "operationId": "EditConstituentNote",
        "summary": "Update a constituent note",
        "description": "Updates a constituent note.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "note_id",
            "in": "path",
            "description": "The system record ID of the note to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Note ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.NoteEdit"
            },
            "description": "An object that represent properties of the note to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the note."
          },
          "400": {
            "description": "Returned when the specified note ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the note."
          },
          "404": {
            "description": "Returned when the specified note is not found."
          }
        }
      }
    },
    "/constituent/v1/onlinepresences": {
      "post": {
        "operationId": "CreateConstituentOnlinePresence",
        "summary": "Create a constituent online presence",
        "description": "Creates a new constituent online presence.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.OnlinePresenceAdd"
            },
            "description": "An object that represents the online presence to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an online presence. The response body contains the ID of the new online presence.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedConstituentOnlinePresence"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the online presence."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/onlinepresences/{online_presence_id}": {
      "patch": {
        "operationId": "EditConstituentOnlinePresence",
        "summary": "Update a constituent online presence",
        "description": "Updates a constituent online presence.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "online_presence_id",
            "in": "path",
            "description": "The  system record ID of the online presence to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Online presence ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.OnlinePresenceEdit"
            },
            "description": "An object that represents the properties of the online presence to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the online presence."
          },
          "400": {
            "description": "Returned when the specified online presence ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the online presence."
          },
          "404": {
            "description": "Returned when the specified online presence is not found."
          }
        }
      }
    },
    "/constituent/v1/phones": {
      "post": {
        "operationId": "CreateConstituentPhone",
        "summary": "Create a constituent phone",
        "description": "Creates a new constituent phone.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.PhoneAdd"
            },
            "description": "An object that represents the phone to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a phone. The response body contains the ID of the new phone.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedConstituentPhone"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the phone."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/phones/{phone_id}": {
      "patch": {
        "operationId": "EditConstituentPhone",
        "summary": "Update a constituent phone",
        "description": "Updates a constituent phone.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "phone_id",
            "in": "path",
            "description": "The system record ID of the phone to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Phone ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.PhoneEdit"
            },
            "description": "An object that represents the properties of the phone to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the phone."
          },
          "400": {
            "description": "Returned when the specified phone ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the phone."
          },
          "404": {
            "description": "Returned when the specified phone is not found."
          }
        }
      }
    },
    "/constituent/v1/primarynameformats": {
      "post": {
        "operationId": "CreateConstituentPrimaryNameFormat",
        "summary": "Create a constituent primary name format",
        "description": "Creates a primary name format for a constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.PrimaryNameFormatAdd"
            },
            "description": "An object that represents the primary name format to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an primary name format. The response body contains the ID of the new primary name format.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedNameFormat"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the primary name format."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/constituent/v1/primarynameformats/{primary_name_format_id}": {
      "patch": {
        "operationId": "EditConstituentPrimaryNameFormat",
        "summary": "Update a constituent primary name format",
        "description": "Updates the primary name format for a constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "primary_name_format_id",
            "in": "path",
            "description": "The system record ID of the primary name format to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name format ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.PrimaryNameFormatEdit"
            },
            "description": "An object that represents the properties of the primary name format to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the primary name format."
          },
          "400": {
            "description": "Returned when the specified primary name format ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the primary name format."
          },
          "404": {
            "description": "Returned when the specified primary name format is not found."
          }
        }
      }
    },
    "/constituent/v1/relationships/{relationship_id}": {
      "patch": {
        "operationId": "EditConstituentRelationship",
        "summary": "Update a constituent relationship",
        "description": "Updates a relationship for a constituent. If a reciprocal relationship exists, it is also modified to reflect the changes. This does not include changes to the \"comments\" property, which is specific to each record and can be modified independently on each record.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "relationship_id",
            "in": "path",
            "description": "The system record ID of the relationship to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Relationship ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.RelationshipEdit"
            },
            "description": "An object that represents the properties of the relationship to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the relationship."
          },
          "400": {
            "description": "Returned when the specified relationship ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the relationship."
          },
          "404": {
            "description": "Returned when the specified relationship is not found."
          }
        }
      }
    },
    "/constituent/v1/virtual/individuals": {
      "post": {
        "operationId": "CreateIndividualConstituent",
        "summary": "Create an individual constituent",
        "description": "Creates a new individual constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.Virtual.IndividualAdd"
            },
            "description": "An object that represents the constituent to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a constituent. The response body contains the ID of the new constituent.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.CreatedIndividualConstituent"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
[...]
