{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Flotiq headless CMS",
    "description": "Flotiq is an API-first, headless Content Management System which allows users to easily publish content through APIs that are dynamically built to support the current content model. We provide a variety of simple, low-code (or no-code) solutions to integrate systems with Flotiq in order to efficiently work with data. This connector allows you to easily integrate your Microsoft services with Flotiq and exchange data between systems with very little effort.",
    "contact": {
      "name": "Flotiq support",
      "url": "https://flotiq.com",
      "email": "hello@flotiq.com"
    }
  },
  "host": "api.flotiq.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/internal/contenttype/{contentTypeId}": {
      "get": {
        "summary": "Get Content Type schema",
        "operationId": "GetContentTypeSchema",
        "description": "Get Content Type schema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "contentTypeId",
            "in": "path",
            "type": "string",
            "description": "Select Content Type Definition id you want fields from",
            "required": true,
            "x-ms-summary": "Select Content Type",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "resolveRef",
            "in": "query",
            "type": "string"
          },
          {
            "name": "strictSchema",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/content/{contentTypeId}": {
      "post": {
        "summary": "Create Content Object",
        "description": "Create Content Object",
        "operationId": "CreateContentObject",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "contentTypeId",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Select the CTD",
            "x-ms-summary": "Select",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetCTD",
              "value-collection": "data",
              "value-path": "name",
              "value-title": "label"
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Dynamic schema of objects in selected CTD",
            "schema": {
              "type": "object",
              "x-ms-dynamic-properties": {
                "operationId": "GetContentTypeSchema",
                "itemValuePath": "schema",
                "parameters": {
                  "contentTypeId": {
                    "parameterReference": "contentTypeId"
                  },
                  "resolveRef": {
                    "value": "true"
                  },
                  "strictSchema": {
                    "value": "true"
                  }
                }
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetContentTypeSchema",
                "value-path": "schema",
                "parameters": {
                  "contentTypeId": {
                    "parameter": "contentTypeId"
                  },
                  "resolveRef": "true",
                  "strictSchema": "true"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/v1/internal/contenttype": {
      "get": {
        "summary": "Get Content Types",
        "description": "Get list of defined Content Type Definitions",
        "operationId": "GetCTD",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of items",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/v1/content/{contentTypeId}/{id}": {
      "get": {
        "summary": "Get Content Object",
        "description": "Get Content Object",
        "operationId": "GetContentObject",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "contentTypeId",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Select the CTD",
            "x-ms-summary": "Select",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "ID of the content object",
            "x-ms-summary": "ID of the content object",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://flotiq.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://flotiq.com/flotiq-privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Website"
    }
  ],
  "definitions": {
    "CTD": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetContentTypeSchema",
        "parameters": {
          "contentTypeId": {
            "parameter": "contentTypeId"
          }
        }
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetContentTypeSchema",
        "parameters": {
          "contentTypeId": {
            "parameterReference": "contentTypeId"
          },
          "resolveRef": {
            "value": "true"
          },
          "strictSchema": {
            "value": "true"
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-AUTH-TOKEN"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
