{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Flotiq headless CMS",
    "description": "Flotiq headless content management system",
    "contact":{
      "name": "Flotiq support",
      "url": "https://flotiq.com",
      "email": "hello@flotiq.com"
    }
  },
  "host": "api.flotiq.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/internal/contenttype/{contentTypeId}": {
      "get": {
        "summary": "Get Content Type schema",
        "operationId": "GetContentTypeSchema",
        "description": "Get Content Type schema",
        "parameters": [
          {
            "name": "contentTypeId",
            "in": "path",
            "type": "string",
            "description": "Select Content Type Definition id you want fields from",
            "required": true,
            "x-ms-summary": "Select Content Type",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CTD"
            }
          }
        }
      },
      "post": {
        "summary": "Create Content Object",
        "description": "Create Content Object",
        "operationId": "CreateContentObject",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "contentTypeId",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Select the CTD",
            "x-ms-summary": "Select",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetCTD",
              "value-collection": "data",
              "value-path": "name",
              "value-title": "label"
            }
          },
          {
            "name": "body",
            "in": "body",
            "description": "Dynamic schema of objects in selected CTD",
            "schema": {
              "type":"object"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/v1/internal/contenttype": {
      "get": {
        "summary": "Get Content Types",
        "description": "Get list of defined Content Type Definitions",
        "operationId": "GetCTD",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of items",
            "schema": {
                "type":"object"
              }
            }
          }
      }
    },
    "/api/v1/content/{contentTypeLabel}/{id}": {
      "get": {
        "summary": "Get Content Object",
        "description": "Get Content Object",
        "operationId": "GetContentObject",
        "parameters": [
          {
            "name": "contentTypeLabel",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Select the CTD",
            "x-ms-summary": "Select",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetCTD",
              "value-collection": "data",
              "value-path": "name",
              "value-title": "label"
            }
          },
          {
            "name": "id",
            "default": "",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "ID of the content object",
            "x-ms-summary": "ID of the content object",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://flotiq.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://flotiq.com/flotiq-privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Website"
    }
  ],
  "definitions": {
    "CTD": {
      "type": "object",
      "x-ms-dynamic-schema": {
          "operationId": "GetContentTypeSchema",
          "parameters": {
            "contentTypeId": {
              "parameter": "contentTypeId"
            }
          },
          "value-path": "schemaDefinition/allOf/1/properties"
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetContentTypeSchema",
        "itemValuePath": "schemaDefinition/allOf/1",
        "parameters": {
          "contentTypeId":{
            "parameterReference": "contentTypeId"
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-AUTH-TOKEN"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}