swagger: '2.0'
info: {version: 1.0.0, title: Flotiq abstract API, description: Flotiq abstract API}
host: api.flotiq.com
basePath: /
schemes: [https]
consumes: []
produces: [application/json]
paths:
  /api/v1/internal/contenttype/{contentTypeId}:
    get:
      summary: Get Content Type schema
      operationId: GetContentTypeSchema
      parameters:
      - {name: contentTypeId, in: path, type: string, description: Select Content
          Type Definition id you want fields from, required: true, x-ms-summary: Select
          Content Type}
      responses:
        '200':
          description: OK
          schema: {type: object}
  /api/v1/internal/contenttype:
    get:
      summary: Get Content Types
      operationId: GetCTD
      parameters: []
      responses:
        '200': {description: OK}
  /api/v1/content/{contentTypeLabel}:
    get:
      summary: List Content Objects
      description: List Content Objects
      operationId: ListContentObjects
      parameters:
      - name: contentTypeLabel
        default: ''
        in: path
        type: string
        required: true
        description: Select the CTD
        x-ms-summary: Select
        x-ms-dynamic-values: {operationId: GetCTD, value-collection: data, value-path: name,
          value-title: label}
      - {name: page, default: '1', in: query, type: string, required: true}
      - {name: limit, default: '20', in: query, type: string, required: true}
      - {name: order_by, default: internal.createdAt, in: query, type: string, required: true}
      - {name: order_direction, default: asc, in: query, type: string, required: true}
      - {name: hydrate, default: '0', in: query, type: string, required: true}
      - {name: filters, default: '{}', in: query, type: string, required: true}
      responses:
        default:
          description: default
          schema: {}
    post:
      summary: Create Content Object
      description: Create Content Object
      operationId: CreateContentObject
      parameters:
      - name: contentTypeLabel
        default: ''
        in: path
        type: string
        required: true
        description: Select the CTD
        x-ms-summary: Select
        x-ms-dynamic-values: {operationId: GetCTD, value-collection: data, value-path: name,
          value-title: label}
      - name: body
        in: body
        description: Dynamic schema of objects in selected CTD
        schema:
          type: object
          x-ms-dynamic-schema:
            operationId: GetContentTypeSchema
            parameters:
              contentTypeId: {parameter: contentTypeLabel}
            value-path: schemaDefinition/allOf/1/properties
        required: true
      responses:
        default:
          description: default
          schema: {}
  /api/v1/content/{contentTypeLabel}/{id}:
    get:
      summary: Get Content Object
      description: Get Content Object
      operationId: GetContentObject
      parameters:
      - name: contentTypeLabel
        default: ''
        in: path
        type: string
        required: true
        description: Select the CTD
        x-ms-summary: Select
        x-ms-dynamic-values: {operationId: GetCTD, value-collection: data, value-path: name,
          value-title: label}
      - {name: hydrate, default: '0', in: query, type: string, required: true}
      - {name: id, default: '', in: path, type: string, required: true}
      responses:
        default:
          description: default
          schema: {}
definitions:
  GetCTD: {type: object}
parameters: {}
responses: {}
securityDefinitions:
  API Key: {type: apiKey, in: header, name: X-AUTH-TOKEN}
security:
- API Key: []
tags: []
