{
  "swagger": "2.0",
  "info": {
    "title": "Abortion Policy",
    "description": "The Abortion Policy API is an up-to-date tool that categorizes state laws on abortion access for accurate representation. This tool centralizes all data about abortion policy in the United States.",
    "version": "1.0",
    "contact": {
      "name": "Vivek Bavishi",
      "url": "https://thatapiguy.tech",
      "email": "vivekbavishi@thatapiguy.tech"
    }
  },
  "host": "api.abortionpolicyapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/gestational_limits/states/{state}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "State": {
                  "type": "object",
                  "properties": {
                    "banned_after_weeks_since_LMP": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Weeks since Last Menstrual Period (LMP): 1. Bans in the third trimester are coded as 28. 2. Bans after viability are coded as 99. 3. For \"post-fertilization\", add 2 weeks to get LMP (20 weeks post-fertilization = 22 weeks LMP). 4. For \"post-implantation\", add 3 weeks to get LMP (24 weeks post-implantation = 27 weeks LMP).",
                      "title": "banned_after_weeks_since_LMP"
                    },
                    "exception_life": {
                      "type": "boolean",
                      "description": "If true, abortion is not banned if necessary to save the pregnant person's life.",
                      "title": "exception_life",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "exception_health": {
                      "type": "string",
                      "description": "\"Physical\", \"Any\" or \"Major Bodily Function\". If non-null, abortion is not banned if necessary to preserve the pregnant person's health. 1. \"Physical\": physical health (excluding mental health). 2. \"Major Bodily Function\": exceptions which permit abortion in the case where a person would suffer \"substantial and irreversible impairment of a major bodily function\" (which may include mental health). 3. \"Any\": unspecified health (which may include mental health)",
                      "title": "exception_health"
                    },
                    "exception_fetal": {
                      "type": "string",
                      "description": "\"Serious fetal anomaly\" or \"Lethal fetal anomaly\". In some states, exceptions may be granted based on the health or status of the fetus. The language of these exceptions varies- here we distinguish between anomalies that are known to be lethal for the fetus and any others.",
                      "title": "exception_fetal"
                    },
                    "exception_rape_or_incest": {
                      "type": "boolean",
                      "description": "If true, exceptions may be granted in cases of rape or incest.",
                      "title": "exception_rape_or_incest",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "Last Updated": {
                      "type": "string",
                      "description": "Last updated date for the policy",
                      "title": "Last Updated"
                    }
                  },
                  "description": "State"
                }
              }
            }
          }
        },
        "operationId": "GetGestationalLimitsbyState",
        "summary": "Get Gestational Limits by State",
        "description": "Returns the restrictions on abortion access related to gestational limits, i.e. bans on abortion after a certain week in pregnancy by state.",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "enum": [
              "Alabama",
              "Alaska",
              "Arizona",
              "Arkansas",
              "California",
              "Colorado",
              "Connecticut",
              "Delaware",
              "Florida",
              "Georgia",
              "Hawaii",
              "Idaho",
              "Illinois",
              "Indiana",
              "Iowa",
              "Kansas",
              "Kentucky",
              "Louisiana",
              "Maine",
              "Maryland",
              "Massachusetts",
              "Michigan",
              "Minnesota",
              "Mississippi",
              "Missouri",
              "Montana",
              "Nebraska",
              "Nevada",
              "New Hampshire",
              "New Jersey",
              "New Mexico",
              "New York",
              "North Carolina",
              "North Dakota",
              "Ohio",
              "Oklahoma",
              "Oregon",
              "Pennsylvania",
              "Rhode Island",
              "South Carolina",
              "South Dakota",
              "Tennessee",
              "Texas",
              "Utah",
              "Vermont",
              "Virginia",
              "Washington",
              "West Virginia",
              "Wisconsin",
              "Wyoming"
            ],
            "description": "Select the state you want to view the policy for.",
            "x-ms-summary": "State Name"
          }
        ]
      }
    },
    "/v1/gestational_limits/zips/{zip code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "State": {
                  "type": "object",
                  "properties": {
                    "banned_after_weeks_since_LMP": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Weeks since Last Menstrual Period (LMP): 1. Bans in the third trimester are coded as 28. 2. Bans after viability are coded as 99. 3. For \"post-fertilization\", add 2 weeks to get LMP (20 weeks post-fertilization = 22 weeks LMP). 4. For \"post-implantation\", add 3 weeks to get LMP (24 weeks post-implantation = 27 weeks LMP).",
                      "title": "banned_after_weeks_since_LMP"
                    },
                    "exception_life": {
                      "type": "boolean",
                      "description": "If true, abortion is not banned if necessary to save the pregnant person's life.",
                      "title": "exception_life",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "exception_health": {
                      "type": "string",
                      "description": "\"Physical\", \"Any\" or \"Major Bodily Function\". If non-null, abortion is not banned if necessary to preserve the pregnant person's health. 1. \"Physical\": physical health (excluding mental health). 2. \"Major Bodily Function\": exceptions which permit abortion in the case where a person would suffer \"substantial and irreversible impairment of a major bodily function\" (which may include mental health). 3. \"Any\": unspecified health (which may include mental health)",
                      "title": "exception_health"
                    },
                    "exception_fetal": {
                      "type": "string",
                      "description": "\"Serious fetal anomaly\" or \"Lethal fetal anomaly\". In some states, exceptions may be granted based on the health or status of the fetus. The language of these exceptions varies- here we distinguish between anomalies that are known to be lethal for the fetus and any others.",
                      "title": "exception_fetal"
                    },
                    "exception_rape_or_incest": {
                      "type": "boolean",
                      "description": "If true, exceptions may be granted in cases of rape or incest.",
                      "title": "exception_rape_or_incest",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "Last Updated": {
                      "type": "string",
                      "description": "Last updated date for the policy",
                      "title": "Last Updated"
                    }
                  },
                  "description": "State"
                }
              }
            }
          }
        },
        "summary": "Get Gestational Limits by Zip",
        "description": "Returns the restrictions on abortion access related to gestational limits, i.e. bans on abortion after a certain week in pregnancy by zip code.",
        "operationId": "GetGestationalLimitsbyStatebyZip",
        "parameters": [
          {
            "name": "zip code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the 6 digit zip code you want to view the policy for.",
            "x-ms-summary": "Zip Code"
          }
        ]
      }
    },
    "/v1/insurance_coverage/states/{state}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "State": {
                  "type": "object",
                  "properties": {
                    "requires coverage": {
                      "type": "boolean",
                      "description": "If true, the state requires that require private health plans regulated by the state cover abortion. These requirements do not apply to self-insured plans (in which the employer takes on all the risk, instead of contracting with a health insurer) as self-insured plans are regulated at the federal, not state, level."
                    },
                    "private_coverage_no_restrictions": {
                      "type": "boolean",
                      "description": "Few states require that private insurance cover abortion. If true private insurance may do so, but is not necessarily required to. Private insurance here refers to non-self-insured plans. In self-insured plans, the employer takes on all the risk, instead of contracting with a health insurer; self-insured plans are regulated at the federal, not state, level."
                    },
                    "private_exception_life": {
                      "type": "boolean",
                      "description": "If true then despite other restrictions the state allows private insurance coverage for cases where abortion is necessary to save the pregnant person's life. Private insurance here refers to non-self-insured plans. In self-insured plans, the employer takes on all the risk, instead of contracting with a health insurer; self-insured plans are regulated at the federal, not state, level."
                    },
                    "private_exception_fetal": {
                      "type": "string",
                      "description": "If checked then despite other restrictions the state allows private insurance coverage for cases when the fetus has a lethal fetal anomaly. Private insurance here refers to non-self-insured plans. In self-insured plans, the employer takes on all the risk, instead of contracting with a health insurer; self-insured plans are regulated at the federal, not state, level."
                    },
                    "private_exception_rape_or_incest": {
                      "type": "boolean",
                      "description": "If checked then despite other restrictions, the state allows private insurance coverage for cases of rape or incest. Private insurance here refers to non-self-insured plans. In self-insured plans, the employer takes on all the risk, instead of contracting with a health insurer; self-insured plans are regulated at the federal, not state, level."
                    },
                    "private_exception_health": {
                      "type": "string",
                      "description": "If checked then despite other restrictions, the state allows private insurance coverage for cases when the pregnant person's faces a \"substantial and irreversible impairment of a major bodily function.\" In other words, a very serious health condition. Private insurance here refers to non-self-insured plans. In self-insured plans, the employer takes on all the risk, instead of contracting with a health insurer; self-insured plans are regulated at the federal, not state, level."
                    },
                    "exchange_exception_life": {
                      "type": "boolean",
                      "description": "If true then despite other restrictions, the state allows exchange insurance coverage for cases where abortion is necessary to save the pregnant person's life. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions."
                    },
                    "exchange_exception_health": {
                      "type": "string",
                      "description": "If checked then despite other restrictions, the state allows exchange insurance coverage for cases when the pregnant person's faces a \"substantial and irreversible impairment of a major bodily function\" or other serious impacts on \"physical\" health. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions."
                    },
                    "exchange_coverage_no_restrictions": {
                      "type": "boolean",
                      "description": "If true the state has not restricted abortion coverage in ACA plans. Except in a few states that have required abortion coverage, a lack of restrictions does not mean that every plan offered in the Exchange will include abortion coverage. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions.",
                      "title": "exchange_coverage_no_restrictions",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "exchange_exception_fetal": {
                      "type": "string",
                      "description": "If true then, despite other restrictions, the state allows exchange insurance coverage for cases when the fetus has a lethal fetal anomaly. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions."
                    },
                    "exchange_exception_rape_or_incest": {
                      "type": "boolean",
                      "description": "If true then, despite other restrictions, the state allows exchange insurance coverage for cases of rape or incest. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions."
                    },
                    "exchange_forbids_coverage": {
                      "type": "boolean",
                      "description": "If true, then the state prohibits any and all exchange insurance coverage for abortion. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions."
                    },
                    "medicaid_coverage_provider_patient_decision": {
                      "type": "boolean",
                      "description": "If true, the state has a policy in place to use Medicaid funds to pay for abortion, most of these states require coverage for \"medically necessary\" abortion. This is a vaguely-defined criterion usually based on a decision between a pregnant person and their medical provider and can include circumstances beyond physical health, such as mental or emotional health or familial situations. Medicaid is a federal-state insurance program. Based on the Hyde amendment, states are required to use Medicaid funds to pay for abortion in cases of rape, of incest, or when the pregnant person's life is endangered; these are also the only circumstances in which federal Medicaid funds may be used to pay for abortion. Most states limit abortion coverage just to the Hyde amendment, though some states offer additional coverage (for example, when the pregnant person's health is at risk)."
                    },
                    "medicaid_exception_life": {
                      "type": "boolean",
                      "description": "If true, then the state allows Medicaid insurance coverage for cases where abortion is necessary to save the pregnant person's life (this is required by the Hyde amendment)."
                    },
                    "medicaid_exception_health": {
                      "type": "string",
                      "description": "If true, then the state allows Medicaid insurance coverage for cases when the pregnant person's physical health is endangered."
                    },
                    "medicaid_exception_fetal": {
                      "type": "string",
                      "description": "If true, then the state allows Medicaid insurance coverage for cases when the fetus has a serious or lethal fetal anomaly"
                    },
                    "medicaid_exception_rape_or_incest": {
                      "type": "boolean",
                      "description": "If true, then the state allows Medicaid insurance coverage for cases of rape or incest (this is required by the Hyde amendment)"
                    },
                    "Last Updated": {
                      "type": "string",
                      "description": "Last Updated"
                    }
                  },
                  "description": "State"
                }
              }
            }
          }
        },
        "summary": "Get Insurance Coverage by State",
        "description": "This table covers abortion restrictions that specifically restrict what type of insurance coverage can be used to cover abortion (both Medicaid and private insurance).",
        "operationId": "GetInsuranceCoveragebyState",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "enum": [
              "Alabama",
              "Alaska",
              "Arizona",
              "Arkansas",
              "California",
              "Colorado",
              "Connecticut",
              "Delaware",
              "Florida",
              "Georgia",
              "Hawaii",
              "Idaho",
              "Illinois",
              "Indiana",
              "Iowa",
              "Kansas",
              "Kentucky",
              "Louisiana",
              "Maine",
              "Maryland",
              "Massachusetts",
              "Michigan",
              "Minnesota",
              "Mississippi",
              "Missouri",
              "Montana",
              "Nebraska",
              "Nevada",
              "New Hampshire",
              "New Jersey",
              "New Mexico",
              "New York",
              "North Carolina",
              "North Dakota",
              "Ohio",
              "Oklahoma",
              "Oregon",
              "Pennsylvania",
              "Rhode Island",
              "South Carolina",
              "South Dakota",
              "Tennessee",
              "Texas",
              "Utah",
              "Vermont",
              "Virginia",
              "Washington",
              "West Virginia",
              "Wisconsin",
              "Wyoming"
            ],
            "description": "Select the state you want to view the insurance coverage for.",
            "x-ms-summary": "State Name"
          }
        ]
      }
    },
    "/v1/insurance_coverage/zips/{zip code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "State": {
                  "type": "object",
                  "properties": {
                    "requires coverage": {
                      "type": "boolean",
                      "description": "If true, the state requires that require private health plans regulated by the state cover abortion. These requirements do not apply to self-insured plans (in which the employer takes on all the risk, instead of contracting with a health insurer) as self-insured plans are regulated at the federal, not state, level."
                    },
                    "private_coverage_no_restrictions": {
                      "type": "boolean",
                      "description": "Few states require that private insurance cover abortion. If true private insurance may do so, but is not necessarily required to. Private insurance here refers to non-self-insured plans. In self-insured plans, the employer takes on all the risk, instead of contracting with a health insurer; self-insured plans are regulated at the federal, not state, level."
                    },
                    "private_exception_life": {
                      "type": "boolean",
                      "description": "If true then despite other restrictions the state allows private insurance coverage for cases where abortion is necessary to save the pregnant person's life. Private insurance here refers to non-self-insured plans. In self-insured plans, the employer takes on all the risk, instead of contracting with a health insurer; self-insured plans are regulated at the federal, not state, level."
                    },
                    "private_exception_fetal": {
                      "type": "string",
                      "description": "If checked then despite other restrictions the state allows private insurance coverage for cases when the fetus has a lethal fetal anomaly. Private insurance here refers to non-self-insured plans. In self-insured plans, the employer takes on all the risk, instead of contracting with a health insurer; self-insured plans are regulated at the federal, not state, level."
                    },
                    "private_exception_rape_or_incest": {
                      "type": "boolean",
                      "description": "If checked then despite other restrictions, the state allows private insurance coverage for cases of rape or incest. Private insurance here refers to non-self-insured plans. In self-insured plans, the employer takes on all the risk, instead of contracting with a health insurer; self-insured plans are regulated at the federal, not state, level."
                    },
                    "private_exception_health": {
                      "type": "string",
                      "description": "If checked then despite other restrictions, the state allows private insurance coverage for cases when the pregnant person's faces a \"substantial and irreversible impairment of a major bodily function.\" In other words, a very serious health condition. Private insurance here refers to non-self-insured plans. In self-insured plans, the employer takes on all the risk, instead of contracting with a health insurer; self-insured plans are regulated at the federal, not state, level."
                    },
                    "exchange_exception_life": {
                      "type": "boolean",
                      "description": "If true then despite other restrictions, the state allows exchange insurance coverage for cases where abortion is necessary to save the pregnant person's life. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions."
                    },
                    "exchange_exception_health": {
                      "type": "string",
                      "description": "If checked then despite other restrictions, the state allows exchange insurance coverage for cases when the pregnant person's faces a \"substantial and irreversible impairment of a major bodily function\" or other serious impacts on \"physical\" health. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions."
                    },
                    "exchange_coverage_no_restrictions": {
                      "type": "boolean",
                      "description": "If true the state has not restricted abortion coverage in ACA plans. Except in a few states that have required abortion coverage, a lack of restrictions does not mean that every plan offered in the Exchange will include abortion coverage. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions.",
                      "title": "exchange_coverage_no_restrictions",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "exchange_exception_fetal": {
                      "type": "string",
                      "description": "If true then, despite other restrictions, the state allows exchange insurance coverage for cases when the fetus has a lethal fetal anomaly. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions."
                    },
                    "exchange_exception_rape_or_incest": {
                      "type": "boolean",
                      "description": "If true then, despite other restrictions, the state allows exchange insurance coverage for cases of rape or incest. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions."
                    },
                    "exchange_forbids_coverage": {
                      "type": "boolean",
                      "description": "If true, then the state prohibits any and all exchange insurance coverage for abortion. Exchange plans refer to health plans offered in the state's Health Care Exchange that was established under the federal Affordable Care Act. The federal ACA law included a provision that encouraged states to adopt abortion coverage restrictions."
                    },
                    "medicaid_coverage_provider_patient_decision": {
                      "type": "boolean",
                      "description": "If true, the state has a policy in place to use Medicaid funds to pay for abortion, most of these states require coverage for \"medically necessary\" abortion. This is a vaguely-defined criterion usually based on a decision between a pregnant person and their medical provider and can include circumstances beyond physical health, such as mental or emotional health or familial situations. Medicaid is a federal-state insurance program. Based on the Hyde amendment, states are required to use Medicaid funds to pay for abortion in cases of rape, of incest, or when the pregnant person's life is endangered; these are also the only circumstances in which federal Medicaid funds may be used to pay for abortion. Most states limit abortion coverage just to the Hyde amendment, though some states offer additional coverage (for example, when the pregnant person's health is at risk)."
                    },
                    "medicaid_exception_life": {
                      "type": "boolean",
                      "description": "If true, then the state allows Medicaid insurance coverage for cases where abortion is necessary to save the pregnant person's life (this is required by the Hyde amendment)."
                    },
                    "medicaid_exception_health": {
                      "type": "string",
                      "description": "If true, then the state allows Medicaid insurance coverage for cases when the pregnant person's physical health is endangered."
                    },
                    "medicaid_exception_fetal": {
                      "type": "string",
                      "description": "If true, then the state allows Medicaid insurance coverage for cases when the fetus has a serious or lethal fetal anomaly"
                    },
                    "medicaid_exception_rape_or_incest": {
                      "type": "boolean",
                      "description": "If true, then the state allows Medicaid insurance coverage for cases of rape or incest (this is required by the Hyde amendment)"
                    },
                    "Last Updated": {
                      "type": "string",
                      "description": "Last Updated"
                    }
                  },
                  "description": "State"
                }
              }
            }
          }
        },
        "summary": "Get Insurance Coverage by Zip",
        "description": "This table covers abortion restrictions that specifically restrict what type of insurance coverage can be used to cover abortion (both Medicaid and private insurance).",
        "operationId": "GetInsuranceCoveragebyZip",
        "parameters": [
          {
            "name": "zip code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the 6 digit zip code you want to view the insurance coverage for.",
            "x-ms-summary": "Zip Code"
          }
        ]
      }
    },
    "/v1/minors/states/{state}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "State": {
                  "type": "object",
                  "properties": {
                    "parents_required": {
                      "type": "integer",
                      "format": "int32",
                      "description": "If 1, one parent must be notified. If 2, both parents must be notified. If null, there are no restrictions on minors' abortions currently being enforced. Many, but not all, states have extended the definition of \"parent\" to include other adult guardians. If parents meeting the state's definition cannot be located, a minor would often need to secure a judicial bypass.",
                      "title": "parents_required"
                    },
                    "below_age": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The age below which restrictions apply. For the most part, these restrictions apply to minors under the age of 18. There are a few exceptions, however. If this field is null, there are no restrictions on minors' abortions currently being enforced.",
                      "title": "below_age"
                    },
                    "parental_consent_required": {
                      "type": "boolean",
                      "description": "Parental consent means that a parent or parents must give permission for the minor to have an abortion. Some states require both consent and notification through separate laws.",
                      "title": "parental_consent_required",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "parental_notification_required": {
                      "type": "boolean",
                      "description": "Parental notification means that a parent or parents must be told beforehand of the minor's decision to have an abortion. Some states require notification 48 hours before, some require notification 24 hours before, and some just require \"before\".",
                      "title": "parental_notification_required",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "judicial_bypass_available": {
                      "type": "boolean",
                      "description": "This indicates whether a judge can excuse a minor from the required parental consent and/or notification. This is available in most states with restrictions, and in some you can be excused by a doctor.",
                      "title": "judicial_bypass_available",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "allows_minor_to_consent": {
                      "type": "boolean",
                      "description": "This tell whether a state explicitly grants a minor the ability to consent to an abortion (through the law) or implicitly allows a minor to consent (because no law expressly requires parental involvement or because a parental involvement law was struck down in the courts).This tells whether the state",
                      "title": "allows_minor_to_consent",
                      "enum":  [
                        true,
                        false
                      ]
                    }
                  },
                  "description": "State"
                }
              }
            }
          }
        },
        "summary": "Get Minors Info by State",
        "description": "Retrieves the abortion restrictions that specifically target minors.",
        "operationId": "GetMinorsInfobyState",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "enum": [
              "Alabama",
              "Alaska",
              "Arizona",
              "Arkansas",
              "California",
              "Colorado",
              "Connecticut",
              "Delaware",
              "Florida",
              "Georgia",
              "Hawaii",
              "Idaho",
              "Illinois",
              "Indiana",
              "Iowa",
              "Kansas",
              "Kentucky",
              "Louisiana",
              "Maine",
              "Maryland",
              "Massachusetts",
              "Michigan",
              "Minnesota",
              "Mississippi",
              "Missouri",
              "Montana",
              "Nebraska",
              "Nevada",
              "New Hampshire",
              "New Jersey",
              "New Mexico",
              "New York",
              "North Carolina",
              "North Dakota",
              "Ohio",
              "Oklahoma",
              "Oregon",
              "Pennsylvania",
              "Rhode Island",
              "South Carolina",
              "South Dakota",
              "Tennessee",
              "Texas",
              "Utah",
              "Vermont",
              "Virginia",
              "Washington",
              "West Virginia",
              "Wisconsin",
              "Wyoming"
            ],
            "description": "Select the state you want to view the minors info for.",
            "x-ms-summary": "State Name"
          }
        ]
      }
    },
    "/v1/minors/zips/{zip code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "State": {
                  "type": "object",
                  "properties": {
                    "parents_required": {
                      "type": "integer",
                      "format": "int32",
                      "description": "If 1, one parent must be notified. If 2, both parents must be notified. If null, there are no restrictions on minors' abortions currently being enforced. Many, but not all, states have extended the definition of \"parent\" to include other adult guardians. If parents meeting the state's definition cannot be located, a minor would often need to secure a judicial bypass.",
                      "title": "parents_required"
                    },
                    "below_age": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The age below which restrictions apply. For the most part, these restrictions apply to minors under the age of 18. There are a few exceptions, however. If this field is null, there are no restrictions on minors' abortions currently being enforced.",
                      "title": "below_age"
                    },
                    "parental_consent_required": {
                      "type": "boolean",
                      "description": "Parental consent means that a parent or parents must give permission for the minor to have an abortion. Some states require both consent and notification through separate laws.",
                      "title": "parental_consent_required",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "parental_notification_required": {
                      "type": "boolean",
                      "description": "Parental notification means that a parent or parents must be told beforehand of the minor's decision to have an abortion. Some states require notification 48 hours before, some require notification 24 hours before, and some just require \"before\".",
                      "title": "parental_notification_required",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "judicial_bypass_available": {
                      "type": "boolean",
                      "description": "This indicates whether a judge can excuse a minor from the required parental consent and/or notification. This is available in most states with restrictions, and in some you can be excused by a doctor.",
                      "title": "judicial_bypass_available",
                      "enum":  [
                        true,
                        false
                      ]
                    },
                    "allows_minor_to_consent": {
                      "type": "boolean",
                      "description": "This tell whether a state explicitly grants a minor the ability to consent to an abortion (through the law) or implicitly allows a minor to consent (because no law expressly requires parental involvement or because a parental involvement law was struck down in the courts).This tells whether the state",
                      "title": "allows_minor_to_consent",
                      "enum":  [
                        true,
                        false
                      ]
                    }
                  },
                  "description": "State"
                }
              }
            }
          }
        },
        "summary": "Get Minors Info by Zip",
        "description": "Retrieves the abortion restrictions that specifically target minors.",
        "operationId": "GetMinorsInfobyZip",
        "parameters": [
          {
            "name": "zip code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the 6 digit zip code you want to view the minors info for.",
            "x-ms-summary": "Zip Code"
          }
        ]
      }
    },
    "/v1/waiting_periods/states/{state}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "State": {
                  "type": "object",
                  "properties": {
                    "waiting_period_hours": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of hours someone must wait between receiving state mandated abortion counseling and obtaining an abortion. If null, no waiting period is in effect.Note that all states waive mandatory waiting period requirements in a medical emergency or when the woman's life or health is threatened.",
                      "title": "waiting_period_hours"
                    },
                    "counseling_visits": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Two separate conditions: 1 = Counseling required by the state 2 = Abortion counseling or ultrasound must be obtained at the facility before the waiting period begins, requiring two trips to the clinic",
                      "title": "counseling_visits"
                    },
                    "exception_health": {
                      "type": "string",
                      "description": "If non-null, counseling requirement can be waived under certain conditions, described by the text field.",
                      "title": "exception_health"
                    },
                    "waiting_period_notes": {
                      "type": "string",
                      "description": "There are some sufficiently weird policies around waiting periods that it seemed useful to just add in notes about them.",
                      "title": "waiting_period_notes"
                    },
                    "counseling_waived_condition": {
                      "type": "string",
                      "description": "Conditions on which counseling can be waived.",
                      "title": "counseling_waived_condition"
                    },
                    "Last Updated": {
                      "type": "string",
                      "description": "Last Updated"
                    }
                  },
                  "description": "State"
                }
              }
            }
          }
        },
        "summary": "Get Waiting Periods Info by State",
        "operationId": "GetWaitingPeriodsInfobyState",
        "description": "Retrieves the abortion restrictions related to time periods that people must wait between receiving abortion counseling and getting abortion care.",
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "enum": [
              "Alabama",
              "Alaska",
              "Arizona",
              "Arkansas",
              "California",
              "Colorado",
              "Connecticut",
              "Delaware",
              "Florida",
              "Georgia",
              "Hawaii",
              "Idaho",
              "Illinois",
              "Indiana",
              "Iowa",
              "Kansas",
              "Kentucky",
              "Louisiana",
              "Maine",
              "Maryland",
              "Massachusetts",
              "Michigan",
              "Minnesota",
              "Mississippi",
              "Missouri",
              "Montana",
              "Nebraska",
              "Nevada",
              "New Hampshire",
              "New Jersey",
              "New Mexico",
              "New York",
              "North Carolina",
              "North Dakota",
              "Ohio",
              "Oklahoma",
              "Oregon",
              "Pennsylvania",
              "Rhode Island",
              "South Carolina",
              "South Dakota",
              "Tennessee",
              "Texas",
              "Utah",
              "Vermont",
              "Virginia",
              "Washington",
              "West Virginia",
              "Wisconsin",
              "Wyoming"
            ],
            "description": "Select the state you want to view the waiting periods for.",
            "x-ms-summary": "State Name"
          }
        ]
      }
    },
    "/v1/waiting_periods/zips/{zip code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "State": {
                  "type": "object",
                  "properties": {
                    "waiting_period_hours": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of hours someone must wait between receiving state mandated abortion counseling and obtaining an abortion. If null, no waiting period is in effect.Note that all states waive mandatory waiting period requirements in a medical emergency or when the woman's life or health is threatened.",
                      "title": "waiting_period_hours"
                    },
                    "counseling_visits": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Two separate conditions: 1 = Counseling required by the state 2 = Abortion counseling or ultrasound must be obtained at the facility before the waiting period begins, requiring two trips to the clinic",
                      "title": "counseling_visits"
                    },
                    "exception_health": {
                      "type": "string",
                      "description": "If non-null, counseling requirement can be waived under certain conditions, described by the text field.",
                      "title": "exception_health"
                    },
                    "waiting_period_notes": {
                      "type": "string",
                      "description": "There are some sufficiently weird policies around waiting periods that it seemed useful to just add in notes about them.",
                      "title": "waiting_period_notes"
                    },
                    "counseling_waived_condition": {
                      "type": "string",
                      "description": "Conditions on which counseling can be waived.",
                      "title": "counseling_waived_condition"
                    },
                    "Last Updated": {
                      "type": "string",
                      "description": "Last Updated"
                    }
                  },
                  "description": "State"
                }
              }
            }
          }
        },
        "summary": "Get Waiting Periods Info by Zip",
        "operationId": "GetWaitingPeriodsInfobyZip",
        "description": "Retrieves the abortion restrictions related to time periods that people must wait between receiving abortion counseling and getting abortion care.",
        "parameters": [
          {
            "name": "zip code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "description": "Enter the 6 digit zip code you want to view the waiting period for.",
            "x-ms-summary": "Zip Code"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.abortionpolicyapi.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.abortionpolicyapi.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources"
    }
  ]
}