{
  "swagger": "2.0",
  "info": {
    "title": "Zoho Mail",
    "description": "Secure business email for your organization",
    "version": "1.0",
    "contact": {
      "name": "Zoho Mail",
      "email": "zmintegration@zohomail.com",
      "url": "https://www.zoho.com/mail/contact.html?src=mpd-menu"
    }
  },
  "host": "mail.zoho.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/accounts": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountId": {
                        "type": "string",
                        "description": "The unique identifier of the account",
                        "title": "Account ID"
                      },
                      "accountDisplayName": {
                        "type": "string",
                        "description": "The display name of the account.",
                        "title": "Account display name"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "summary": "Get account details",
        "description": "Get account details of the currently authenticated user such as their Account ID and Account display name.",
        "operationId": "Get_Mail_Account",
        "parameters": [],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get_Mail_Account",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/accounts/{account_id}/messages": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "askReceipt": {
                      "type": "string",
                      "description": "Refers to the email read receipt",
                      "title": "Ask receipt"
                    },
                    "subject": {
                      "type": "string",
                      "description": "the email subject",
                      "title": "Subject"
                    },
                    "messageId": {
                      "type": "string",
                      "description": "The unique identifier of the email",
                      "title": "Message ID"
                    },
                    "fromAddress": {
                      "type": "string",
                      "title": "From",
                      "description": "the sender email address"
                    },
                    "bccAddress": {
                      "type": "string",
                      "title": "BCC",
                      "description": "comma-separated bcc email addresses"
                    },
                    "mailFormat": {
                      "type": "string",
                      "title": "Mail format",
                      "description": "the email format"
                    },
                    "toAddress": {
                      "type": "string",
                      "title": "To",
                      "description": "comma-separated email addresses"
                    },
                    "content": {
                      "type": "string",
                      "title": "Email content",
                      "description": "the email content"
                    },
                    "ccAddress": {
                      "type": "string",
                      "title": "CC",
                      "description": "comma-separated cc email addresses"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "summary": "Send an email",
        "description": "Send a new email from a specified email address",
        "operationId": "Send_Mail",
        "parameters": [
          {
            "name": "account_id",
            "description": "Choose the user account or specify the account ID",
            "x-ms-summary": "Account",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-list": {
              "operationId": "Get_Mail_Account",
              "itemValuePath": "accountId",
              "itemsPath": "data",
              "itemTitlePath": "accountDisplayName"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "fromAddress": {
                  "type": "string",
                  "description": "Specify the sender email address",
                  "x-ms-dynamic-list": {
                    "operationId": "Get_Sender_Details",
                    "itemValuePath": "fromAddress",
                    "itemsPath": "sendMailDetails",
                    "itemTitlePath": "fromAddress",
                    "parameters": {
                      "account_id": {
                        "parameterReference": "account_id"
                      }
                    }
                  },
                  "title": "From"
                },
                "toAddress": {
                  "type": "string",
                  "description": "Specify comma-separated recipient email addresses",
                  "title": "To"
                },
                "ccAddress": {
                  "type": "string",
                  "description": "Specify comma-separated cc email addresses",
                  "title": "CC",
                  "x-ms-visibility": "advanced"
                },
                "bccAddress": {
                  "type": "string",
                  "description": "Specify comma-separated bcc email addresses",
                  "title": "BCC",
                  "x-ms-visibility": "advanced"
                },
                "subject": {
                  "type": "string",
                  "description": "Specify the email subject",
                  "title": "Subject",
                  "x-ms-visibility": "important"
                },
                "content": {
                  "type": "string",
                  "description": "Specify the email content",
                  "title": "Email content",
                  "format": "html"
                },
                "askReceipt": {
                  "type": "string",
                  "description": "Refers to the email read receipt",
                  "title": "Ask receipt",
                  "enum": [
                    "No",
                    "Yes"
                  ],
                  "x-ms-visibility": "advanced"
                },
                "mailFormat": {
                  "type": "string",
                  "description": "Specify the email format",
                  "title": "Mail format",
                  "enum": [
                    "html",
                    "plaintext"
                  ],
                  "x-ms-enum-values": [
                    {
                      "displayName": "Rich text",
                      "value": "html"
                    },
                    {
                      "displayName": "Plain text",
                      "value": "plaintext"
                    }
                  ],
                  "x-ms-visibility": "advanced"
                },
                "attachmentDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "attachmentContent": {
                        "type": "string",
                        "description": "Content of file",
                        "title": "content",
                        "format": "byte"
                      },
                      "attachmentName": {
                        "type": "string",
                        "description": "Enter the Attachment Name",
                        "title": "name"
                      }
                    }
                  },
                  "description": "attachments",
                  "x-ms-summary": "Attachment"
                }
              },
              "required": [
                "toAddress",
                "fromAddress"
              ]
            }
          }
        ]
      }
    },
    "/api/accounts/{account_id}/messages/draft": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "subject": {
                      "type": "string",
                      "description": "the email subject",
                      "title": "Subject"
                    },
                    "messageId": {
                      "type": "string",
                      "description": "The unique identifier of the email",
                      "title": "Message ID"
                    },
                    "fromAddress": {
                      "type": "string",
                      "description": "the sender email address",
                      "title": "From"
                    },
                    "bccAddress": {
                      "type": "string",
                      "description": "comma-separated bcc email addresses",
                      "title": "Bcc"
                    },
                    "mailFormat": {
                      "type": "string",
                      "description": "format of email",
                      "title": "Mail format"
                    },
                    "toAddress": {
                      "type": "string",
                      "description": "comma-separated email addresses",
                      "title": "To"
                    },
                    "content": {
                      "type": "string",
                      "description": "the email content",
                      "title": "Mail body"
                    },
                    "ccAddress": {
                      "type": "string",
                      "description": "comma-separated cc email addresses",
                      "title": "CC"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "summary": "Save Draft or Template",
        "description": "Save the email content either as a draft or as a template",
        "operationId": "Save_Draft",
        "parameters": [
          {
            "name": "account_id",
            "description": "Choose the user account or specify the account ID",
            "x-ms-summary": "Account",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-list": {
              "operationId": "Get_Mail_Account",
              "itemValuePath": "accountId",
              "itemsPath": "data",
              "itemTitlePath": "accountDisplayName"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mode": {
                  "type": "string",
                  "description": "choose type to save either draft or template",
                  "title": "Save as",
                  "default": "draft",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "draft",
                    "template"
                  ],
                  "x-enum-values": [
                    {
                      "displayName": "Draft",
                      "value": "draft"
                    },
                    {
                      "displayName": "Template",
                      "value": "template"
                    }
                  ]
                },
                "fromAddress": {
                  "type": "string",
                  "description": "Specify the sender email address",
                  "x-ms-dynamic-list": {
                    "operationId": "Get_Sender_Details",
                    "itemValuePath": "fromAddress",
                    "itemsPath": "sendMailDetails",
                    "itemTitlePath": "fromAddress",
                    "parameters": {
                      "account_id": {
                        "parameterReference": "account_id"
                      }
                    }
                  },
                  "title": "From"
                },
                "toAddress": {
                  "type": "string",
                  "description": "Specify comma-separated recipient email addresses",
                  "title": "To"
                },
                "ccAddress": {
                  "type": "string",
                  "description": "Specify comma-separated cc email addresses",
                  "title": "CC",
                  "x-ms-visibility": "advanced"
                },
                "bccAddress": {
                  "type": "string",
                  "description": "Specify comma-separated bcc email addresses",
                  "title": "BCC",
                  "x-ms-visibility": "advanced"
                },
                "subject": {
                  "type": "string",
                  "title": "Subject",
                  "description": "Specify the email subject"
                },
                "content": {
                  "type": "string",
                  "title": "Email content",
                  "format": "html",
                  "description": "Specify the email content"
                },
                "askReceipt": {
                  "type": "string",
                  "description": "Refers to the email read receipt",
                  "title": "Ask receipt",
                  "enum": [
                    "No",
                    "Yes"
                  ],
                  "x-ms-visibility": "advanced"
                },
                "mailFormat": {
                  "type": "string",
                  "description": "Specify the email format",
                  "title": "Mail format",
                  "enum": [
                    "html",
                    "plaintext"
                  ],
                  "x-ms-enum-values": [
                    {
                      "displayName": "Rich text",
                      "value": "html"
                    },
                    {
                      "displayName": "Plain text",
                      "value": "plaintext"
                    }
                  ],
                  "x-ms-visibility": "advanced"
                },
                "attachmentDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "attachmentContent": {
                        "type": "string",
                        "description": "Specify the email content",
                        "title": "content",
                        "format": "byte"
                      },
                      "attachmentName": {
                        "type": "string",
                        "description": "Specify the name of your attachment",
                        "title": "name"
                      }
                    }
                  },
                  "description": "attachments",
                  "x-ms-summary": "Attachment"
                }
              },
              "required": [
                "mode",
                "fromAddress",
                "toAddress"
              ]
            }
          }
        ]
      }
    },
    "/integPlatform/api/outgoingWebhooks/newcriteriamail": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "summary": {
              "type": "string",
              "x-ms-summary": "Summary",
              "description": "Displays email summary in email listing"
            },
            "sentDateInGMT": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Sent on",
              "description": "The email's sent time in GMT"
            },
            "subject": {
              "type": "string",
              "x-ms-summary": "Subject",
              "description": "the email subject"
            },
            "messageId": {
              "type": "integer",
              "format": "int64",
              "x-ms-summary": "Message ID",
              "description": "The unique identifier of the email"
            },
            "toAddress": {
              "type": "string",
              "x-ms-summary": "To",
              "description": "comma-separated recipient email addresses"
            },
            "ccAddress": {
              "type": "string",
              "x-ms-summary": "CC",
              "description": "comma-separated cc email addresses"
            },
            "size": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Size",
              "description": "the email size"
            },
            "sender": {
              "type": "string",
              "x-ms-summary": "Sender",
              "description": "The name of the email sender"
            },
            "receivedTime": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Received time",
              "description": "The email's received time"
            },
            "fromAddress": {
              "type": "string",
              "x-ms-summary": "From",
              "description": "the sender email address"
            },
            "html": {
              "type": "string",
              "x-ms-summary": "Body",
              "description": "the email content"
            }
          }
        },
        "description": "response of new mail"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "functionid": {
                          "type": "string",
                          "description": "functionid"
                        },
                        "FILTER_DATA": {
                          "type": "object",
                          "properties": {
                            "filterId": {
                              "type": "string",
                              "description": "Filter ID of webhook"
                            },
                            "matchingCondition": {
                              "type": "string",
                              "description": "Matching condition of webhook"
                            },
                            "fromDate": {
                              "type": "string",
                              "description": "From date"
                            },
                            "sequence": {
                              "type": "integer",
                              "format": "int32",
                              "description": "sequence"
                            },
                            "mailsCount": {
                              "type": "string",
                              "description": "Mail count"
                            },
                            "enable": {
                              "type": "boolean",
                              "description": "enable"
                            },
                            "criterias": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "criteriaId": {
                                    "type": "string",
                                    "description": "criteriaId"
                                  },
                                  "lhs": {
                                    "type": "string",
                                    "description": "lhs"
                                  },
                                  "rhs": {
                                    "type": "string",
                                    "description": "rhs"
                                  },
                                  "operator": {
                                    "type": "string",
                                    "description": "operator"
                                  }
                                }
                              },
                              "description": "criterias"
                            },
                            "name": {
                              "type": "string",
                              "description": "Webhook name"
                            },
                            "canDelete": {
                              "type": "boolean",
                              "description": "Can delete"
                            },
                            "filterType": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Filter type"
                            },
                            "actions": {
                              "type": "object",
                              "properties": {
                                "outgoingWebhooks": {
                                  "type": "object",
                                  "properties": {
                                    "integId": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "integId"
                                    },
                                    "zuid": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "zuid"
                                    }
                                  },
                                  "description": "outgoingWebhooks"
                                },
                                "stopEvaluation": {
                                  "type": "string",
                                  "description": "stopEvaluation"
                                }
                              },
                              "description": "actions"
                            },
                            "forImport": {
                              "type": "boolean",
                              "description": "forImport"
                            }
                          },
                          "description": "FILTER_DATA"
                        },
                        "X-Hook-Secret": {
                          "type": "string",
                          "description": "X-Hook-Secret"
                        },
                        "functionName": {
                          "type": "string",
                          "description": "Function name"
                        },
                        "metaOnly": {
                          "type": "boolean",
                          "description": "Is meta"
                        },
                        "integId": {
                          "type": "string",
                          "description": "Integration ID"
                        },
                        "webhookName": {
                          "type": "string",
                          "description": "Webhook name"
                        },
                        "category": {
                          "type": "integer",
                          "format": "int32",
                          "description": "category"
                        },
                        "webhookURL": {
                          "type": "string",
                          "description": "Webhook URL"
                        },
                        "status": {
                          "type": "integer",
                          "format": "int32",
                          "description": "status"
                        }
                      },
                      "description": "data"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "summary": "New Mail Notification",
        "x-ms-trigger": "single",
        "operationId": "New_Mail_Trigger",
        "parameters": [
          {
            "name": "accId",
            "x-ms-summary": "Account",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "Get_Mail_Account",
              "value-path": "accountId",
              "value-collection": "data",
              "value-title": "accountDisplayName"
            },
            "description": "The configured user account"
          },
          {
            "name": "category",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 3,
            "x-ms-visibility": "internal",
            "x-ms-summary": "Category",
            "description": "category of the notification"
          },
          {
            "name": "action",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "CREATE_OWH",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Action",
            "description": "Create action for the notification."
          },
          {
            "name": "metaOnly",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Meta only",
            "x-ms-visibility": "internal",
            "description": "Select meta only"
          },
          {
            "name": "matchingCondition",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "and",
            "x-ms-summary": "Matching Condition",
            "x-ms-visibility": "internal",
            "description": "condition of mail notification"
          },
          {
            "name": "criterias",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "sender",
            "description": "Specify the sender email address"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "",
            "schema": {
              "type": "object",
              "properties": {
                "webhookURL": {
                  "type": "string",
                  "description": "webhookURL",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "webhookURL"
              ]
            }
          }
        ],
        "description": "When new mail arrives from sender"
      }
    },
    "/integPlatform/api/outgoingWebhooks": {
      "delete": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Response code",
                      "description": "Response codes for successful and failure API requests."
                    }
                  },
                  "description": "Status"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "status"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "summary": "Delete Webhook",
        "operationId": "Delete_Webhook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "integId",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "accId",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "filterId",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "description": "Deletes a webhook"
      }
    },
    "/api/accounts/{account_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "sendMailDetails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sendMailId": {
                        "type": "string",
                        "description": "sendMailId"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "displayName"
                      },
                      "validated": {
                        "type": "boolean",
                        "description": "validated"
                      },
                      "fromAddress": {
                        "type": "string",
                        "description": "fromAddress"
                      },
                      "status": {
                        "type": "boolean",
                        "description": "status"
                      }
                    }
                  },
                  "description": "sendMailDetails"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "summary": "Get sender list",
        "description": "Get the list of all email senders",
        "operationId": "Get_Sender_Details",
        "parameters": [
          {
            "name": "account_id",
            "description": "Choose the user account or specify the account ID",
            "x-ms-summary": "Account",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/accounts/{account_id}/messages/search": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "title": "Response code",
                      "description": "Response codes for successful and failure API requests."
                    }
                  },
                  "description": "Status"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "summary": {
                        "type": "string",
                        "description": "Displays email summary in email listing",
                        "title": "Summary"
                      },
                      "sentDateInGMT": {
                        "type": "string",
                        "description": "The email's sent time in GMT",
                        "title": "Sent on"
                      },
                      "subject": {
                        "type": "string",
                        "description": "the email subject",
                        "title": "Subject"
                      },
                      "messageId": {
                        "type": "string",
                        "description": "The unique identifier of the email",
                        "title": "Message ID"
                      },
                      "hasInline": {
                        "type": "string",
                        "description": "the email has inline",
                        "title": "Has inline"
                      },
                      "toAddress": {
                        "type": "string",
                        "description": "comma-separated recipient  email addresses",
                        "title": "To"
                      },
                      "folderId": {
                        "type": "string",
                        "description": "The unique identifier of a folder",
                        "title": "Folder ID"
                      },
                      "ccAddress": {
                        "type": "string",
                        "description": "comma-separated CC email addresses",
                        "title": "CC"
                      },
                      "hasAttachment": {
                        "type": "string",
                        "description": "email has attachment",
                        "title": "Has Attachment"
                      },
                      "size": {
                        "type": "string",
                        "description": "The total email size",
                        "title": "Size"
                      },
                      "sender": {
                        "type": "string",
                        "description": "Name of the sender.",
                        "title": "Sender name"
                      },
                      "receivedTime": {
                        "type": "string",
                        "description": "The email's received time",
                        "title": "Received time"
                      },
                      "fromAddress": {
                        "type": "string",
                        "description": "the sender email address",
                        "title": "From"
                      },
                      "status": {
                        "type": "string",
                        "description": "The read or unread state of the email",
                        "title": "Read status"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "summary": "Search emails",
        "description": "List emails based on search parameters that displays information like the Message ID, Summary, Sent on, Sender name, and From.",
        "operationId": "Search_Mail",
        "parameters": [
          {
            "name": "account_id",
            "description": "Choose the user account or specify the account ID",
            "x-ms-summary": "Account",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-list": {
              "operationId": "Get_Mail_Account",
              "itemValuePath": "accountId",
              "itemsPath": "data",
              "itemTitlePath": "accountDisplayName"
            }
          },
          {
            "name": "start",
            "in": "query",
            "type": "integer",
            "default": 1,
            "x-ms-visibility": "advanced",
            "required": true,
            "x-ms-summary": "Start search",
            "description": "mail search start from"
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "default": 10,
            "required": true,
            "x-ms-visibility": "advanced",
            "description": "limit of mail to fetch",
            "x-ms-summary": "Search limit"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "entire": {
                  "type": "string",
                  "title": "Entire email",
                  "description": "Specify a search term in any part of the email"
                },
                "content": {
                  "type": "string",
                  "title": "Email content",
                  "description": "Specify a search term in the core email content"
                },
                "sender": {
                  "type": "string",
                  "title": "From",
                  "description": "Specify a search term or an email address"
                },
                "to": {
                  "type": "string",
                  "title": "To",
                  "description": "Specify a search term or an email address"
                },
                "cc": {
                  "type": "string",
                  "title": "CC",
                  "description": "Specify a search term or an email address",
                  "x-ms-visibility": "advanced"
                },
                "subject": {
                  "type": "string",
                  "title": "Subject",
                  "description": "Specify a search term in the email subject"
                },
                "fileName": {
                  "type": "string",
                  "title": "Attachment name",
                  "description": "Specify a search term in the attachment name",
                  "x-ms-visibility": "advanced"
                },
                "fileContent": {
                  "type": "string",
                  "title": "Attachment content",
                  "description": "Specify a search term in the attachment content",
                  "x-ms-visibility": "advanced"
                },
                "fromDate": {
                  "type": "string",
                  "title": "From date",
                  "description": "Search for emails from the specified date",
                  "format": "date"
                },
                "toDate": {
                  "type": "string",
                  "title": "To date",
                  "description": "Search for emails until the specified date",
                  "format": "date"
                },
                "groupResult": {
                  "type": "boolean",
                  "description": "Specify if emails of the same conversation should be grouped.",
                  "x-ms-visibility": "advanced",
                  "title": "Group result",
                  "enum": [
                    true,
                    false
                  ]
                },
                "in": {
                  "type": "string",
                  "description": "Choose the folder or specify the folder ID to search for emails.",
                  "x-ms-dynamic-list": {
                    "operationId": "Get_All_Folder",
                    "itemValuePath": "folderName",
                    "itemsPath": "data",
                    "itemTitlePath": "folderName",
                    "parameters": {
                      "account_id": {
                        "parameterReference": "account_id"
                      }
                    }
                  },
                  "title": "Folder"
                },
                "label": {
                  "type": "string",
                  "description": "Choose the label or specify the label ID to search for emails.",
                  "x-ms-dynamic-list": {
                    "operationId": "Get_All_Label",
                    "itemValuePath": "displayName",
                    "itemsPath": "data",
                    "itemTitlePath": "displayName",
                    "parameters": {
                      "account_id": {
                        "parameterReference": "account_id"
                      }
                    }
                  },
                  "title": "Label"
                }
              }
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Search_Mail",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/api/accounts/{account_id}/folders": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "folderName": {
                        "type": "string",
                        "description": "The name of the folder",
                        "title": "Folder name"
                      },
                      "folderId": {
                        "type": "string",
                        "description": "The unique identifier of a folder",
                        "title": "Folder ID"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "summary": "Get folders",
        "description": "Get details of all folders for the specified user account such as Folder ID and Folder name.",
        "operationId": "Get_All_Folder",
        "parameters": [
          {
            "name": "account_id",
            "description": "Choose the user account or specify the account ID",
            "x-ms-summary": "Account",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-list": {
              "operationId": "Get_Mail_Account",
              "itemValuePath": "accountId",
              "itemsPath": "data",
              "itemTitlePath": "accountDisplayName"
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get_All_Folder",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/accounts/{account_id}/labels": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "labelId": {
                        "type": "string",
                        "description": "The unique identifier of a Label",
                        "title": "Label ID"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "The name of the label.",
                        "title": "Label name"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "summary": "Get labels",
        "description": "Get details of all labels for the specified user account such as Label ID and Label name.",
        "operationId": "Get_All_Label",
        "parameters": [
          {
            "name": "account_id",
            "description": "Choose the user account or specify the account ID",
            "x-ms-summary": "Account",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-list": {
              "operationId": "Get_Mail_Account",
              "itemValuePath": "accountId",
              "itemsPath": "data",
              "itemTitlePath": "accountDisplayName"
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get_All_Label",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/api/accounts/{account_id}/folders/1/messages/{message_id}/content": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "string",
                      "description": "Displays email summary in email listing",
                      "title": "Summary"
                    },
                    "sentDateInGMT": {
                      "type": "string",
                      "description": "The email's sent time in GMT",
                      "title": "Sent on"
                    },
                    "subject": {
                      "type": "string",
                      "description": "the email subject",
                      "title": "Subject"
                    },
                    "messageId": {
                      "type": "string",
                      "description": "The unique identifier of the email",
                      "title": "Message ID"
                    },
                    "priority": {
                      "type": "string",
                      "description": "The priority set for the email",
                      "title": "Priority"
                    },
                    "hasInline": {
                      "type": "string",
                      "description": "the email has inline",
                      "title": "Has inline"
                    },
                    "toAddress": {
                      "type": "string",
                      "description": "comma-separated recipient email addresses",
                      "title": "To"
                    },
                    "folderId": {
                      "type": "string",
                      "description": "The unique identifier of a folder",
                      "title": "Folder ID"
                    },
                    "ccAddress": {
                      "type": "string",
                      "description": "comma-separated CC email addresses",
                      "title": "CC"
                    },
                    "hasAttachment": {
                      "type": "string",
                      "description": "email has attachment",
                      "title": "Has Attachment"
                    },
                    "size": {
                      "type": "string",
                      "description": "The total email size",
                      "title": "Size"
                    },
                    "sender": {
                      "type": "string",
                      "description": "sender",
                      "title": "Sender name"
                    },
                    "receivedTime": {
                      "type": "string",
                      "description": "The email's received time",
                      "title": "Received time"
                    },
                    "fromAddress": {
                      "type": "string",
                      "description": "the sender email address",
                      "title": "From"
                    },
                    "status": {
                      "type": "string",
                      "description": "The read or unread state of the email",
                      "title": "Read status"
                    },
                    "content": {
                      "type": "string",
                      "description": "the email content",
                      "title": "Email content"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Input"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Error"
          }
        },
        "summary": "Get email details",
        "operationId": "Get_Email_Content",
        "description": "Get the email details based on message ID such as Message ID, Summary, Sent on, Sender name, and From.",
        "parameters": [
          {
            "name": "account_id",
            "description": "Choose the user account or specify the account ID",
            "x-ms-summary": "Account",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-list": {
              "operationId": "Get_Mail_Account",
              "itemValuePath": "accountId",
              "itemsPath": "data",
              "itemTitlePath": "accountDisplayName"
            }
          },
          {
            "name": "message_id",
            "x-ms-summary": "Message ID",
            "type": "string",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the email",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "includeBlockContent",
            "in": "query",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "internal"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get_Email_Content",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth",
      "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
      "scopes": {
        "VirtualOffice.accounts.READ": "VirtualOffice.accounts.READ",
        "VirtualOffice.messages.ALL": "VirtualOffice.messages.ALL",
        "VirtualOffice.folders.ALL": "VirtualOffice.folders.ALL",
        "VirtualOffice.tags.ALL": "VirtualOffice.tags.ALL",
        "VirtualOffice.filters.ALL": "VirtualOffice.filters.ALL",
        "VirtualOffice.ogwebhooks.ALL": "VirtualOffice.ogwebhooks.ALL"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "VirtualOffice.accounts.READ",
        "VirtualOffice.messages.ALL",
        "VirtualOffice.folders.ALL",
        "VirtualOffice.tags.ALL",
        "VirtualOffice.filters.ALL",
        "VirtualOffice.ogwebhooks.ALL"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.zoho.com/zohomail/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.zoho.com/privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "x-ms-openai-manifest": {
    "modelDescription": "This is the Zoho Mail plugin that lets you search emails, and fetch emails, folders, labels, and accounts from Zoho Mail.",
    "humanName": "Zoho Mail",
    "contactEmail": "support@zohomail.com",
    "legalUrl": "https://www.zoho.com/terms.html"
  }
}