{
  "swagger": "2.0",
  "info": {
    "version": "2.0.0",
    "title": "My Acclaro",
    "description": "My Acclaro allows you to seamlessly connect to the Acclaro client portal to submit your translation projects directly.",
    "contact": {
      "name": "My Acclaro Support",
      "url": "https://www.acclaro.com/support/",
      "email": "support@acclaro.com"
    }
  },
  "host": "my.acclaro.com",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/info/version": {
      "get": {
        "summary": "Get system information",
        "tags": [
          "info"
        ],
        "description": "Returns a variety of helpful system information including version of API source code in use, service endpoint and last date of database synchronization.",
        "operationId": "GetSystemInformation",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string",
                      "description": "version"
                    },
                    "endpoint": {
                      "type": "string",
                      "description": "endpoint"
                    },
                    "sitedescription": {
                      "type": "string",
                      "description": "site description"
                    },
                    "backend": {
                      "type": "string",
                      "description": "backend"
                    },
                    "maxdocsize": {
                      "type": "string",
                      "description": "Maximum document size"
                    },
                    "lastsync": {
                      "type": "string",
                      "description": "Last time syncronized"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          }
        }
      }
    },
    "/info/languages": {
      "get": {
        "summary": "Get supported languages",
        "tags": [
          "info"
        ],
        "description": "Returns a list of supported languages.",
        "operationId": "GetSupportedLanguages",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "ISO 639-1 language code"
                      },
                      "code3": {
                        "type": "string",
                        "description": "ISO 639-2 language code"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "visible": {
                        "type": "integer",
                        "format": "int32",
                        "description": "visible"
                      },
                      "last_updated": {
                        "type": "string",
                        "description": "Last time updated"
                      },
                      "updated_by": {
                        "type": "string",
                        "description": "User that made the update"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "error_description": {
                  "type": "string",
                  "description": "Error description"
                }
              }
            }
          }
        }
      }
    },
    "/info/language-pairs": {
      "get": {
        "summary": "Get language pairs",
        "tags": [
          "info"
        ],
        "description": "Returns a list of source/target pairs that may be used for translations.",
        "operationId": "GetLanguagePairs",
        "parameters": [
          {
            "name": "sourcelang",
            "default": "en-us",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "sourcelang",
            "description": "to filter for language pairs, input the source language in ISO format, e.g. \"en-us\"."
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "source": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "ISO 639-1 language code"
                          },
                          "code3": {
                            "type": "string",
                            "description": "ISO 639-2 language code"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description"
                          }
                        },
                        "description": "source"
                      },
                      "target": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "ISO 639-1 language code"
                          },
                          "code3": {
                            "type": "string",
                            "description": "ISO 639-2 language code"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description"
                          }
                        },
                        "description": "target"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "error_description": {
                  "type": "string",
                  "description": "Error description"
                }
              }
            }
          }
        }
      }
    },
    "/info/account": {
      "get": {
        "summary": "Get account information",
        "tags": [
          "info"
        ],
        "description": "Returns profile information about the API user account in use.",
        "operationId": "GetAccountInformation",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "plunetid": {
                      "type": "string",
                      "description": "The ID of the item at Plunet"
                    },
                    "type": {
                      "type": "string",
                      "description": "Order type"
                    },
                    "company": {
                      "type": "string",
                      "description": "Company"
                    },
                    "firstname": {
                      "type": "string",
                      "description": "First name"
                    },
                    "lastname": {
                      "type": "string",
                      "description": "Last name"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email address"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Phone number"
                    },
                    "url": {
                      "type": "string",
                      "description": "URL"
                    },
                    "created": {
                      "type": "string",
                      "description": "Date created"
                    },
                    "modified": {
                      "type": "string",
                      "description": "Date modified"
                    },
                    "lastactivity": {
                      "type": "string",
                      "description": "Date for last activity"
                    },
                    "team": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "firstname": {
                            "type": "string",
                            "description": "First name"
                          },
                          "lastname": {
                            "type": "string",
                            "description": "Last name"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone number"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address"
                          }
                        }
                      },
                      "description": "team"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "error_description": {
                  "type": "string",
                  "description": "Error description"
                }
              }
            }
          }
        }
      }
    },
    "/info/order-types": {
      "get": {
        "summary": "Get all supported order types",
        "tags": [
          "info"
        ],
        "description": "Returns all order types available for the account as an array of Order Types, each order type consisting of a name and a flag “default” which will be zero or one, indicating which order type will be set when none is specified.",
        "operationId": "GetAllSupportedOrderTypes",
        "parameters": [],
        "responses": {
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}": {
      "get": {
        "summary": "Get a file",
        "tags": [
          "file"
        ],
        "description": "Returns the contents of a previously sent file. This is one of the few operations that does not  return JSON data, instead directly returning the file contents.  If an error occurs while processing the  request, then the response will be JSON data, so the type of the response should always be checked.",
        "operationId": "GetAFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "fileid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID.",
            "x-ms-summary": "fileid"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "file"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a file from the order",
        "tags": [
          "file"
        ],
        "description": "Deletes the given file from the order, prior to an order being submitted. If a source file ever needs to be cancelled after it’s been submitted as part of an order, ‘CANCELL FILE’ can be submitted as a comment in /orders/{orderid}/files/{fileid}/comment. We also request that you separately contact your Acclaro project manager with the source file cancellation request.",
        "operationId": "DeleteAFileFromTheOrder",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "fileid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID.",
            "x-ms-summary": "fileid"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/status": {
      "get": {
        "summary": "Get file information",
        "tags": [
          "file"
        ],
        "description": "Retrieves information about the given file.",
        "operationId": "GetFileInformation",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "fileid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID.",
            "x-ms-summary": "fileid"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The file ID in My Acclaro"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The ID of the Order in My Acclaro"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "Type of file"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "The original filename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "The original filename "
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "The filename in Plunet"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "Encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "Mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "Client Reference"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "The Review URL"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "Review"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "The translated file"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "The translated file ready for preview"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "Date when the item was uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Source language"
                    },
                    "targetlang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Target language"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "Callback URLs"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "Notification emails"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/rate": {
      "post": {
        "summary": "Rate a file",
        "tags": [
          "file"
        ],
        "description": "Submits rating information about files. Rating scale is 1-5 with 1 being poor quality and 5 being perfect quality. Review text strings are optional and can be included to explain the reasoning for the rating such as identified errors or areas of translation improvement classifications. ",
        "operationId": "RateAFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "fileid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID.",
            "x-ms-summary": "fileid"
          },
          {
            "name": "rating",
            "in": "formData",
            "type": "string",
            "required": true,
            "x-ms-summary": "rating",
            "description": "rating scale is 1-5 with 1 being poor quality and 5 being perfect quality."
          },
          {
            "name": "review",
            "in": "formData",
            "type": "string",
            "required": false,
            "x-ms-summary": "review",
            "description": "any other comment ragarind the score provided."
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The file ID in My Acclaro"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The ID of the Order in My Acclaro"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "Type of file"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "The original filename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "The original filename "
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "The filename in Plunet"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "Encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "Mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "Client Reference"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "The Review URL"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "Review"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "The translated file"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "The translated file ready for preview"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "Date when the item was uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Source language"
                    },
                    "targetlang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Target language"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "Callback URLs"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "Notification emails"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    },
                    "rating": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Rating"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/reference-file": {
      "post": {
        "summary": "Send a reference file",
        "tags": [
          "order"
        ],
        "description": "Adds a reference file to an order. Reference files are glossaries, style guides, or other supporting materials for the translator. The sourcelang is optional, and if supplied should be one of the language codes obtained from /info/languages. Targetlang is also optional, and if supplied should be one of the language codes obtained from /info/languages. Encoding is optional, and defaults to “UTF-8” if not specified. The filename and mime-type are taken from the file metadata. If a filename is supplied that duplicates the name of another file in this order, the system will make it unique by adding additional characters (i.e. “documentation.docx” may become “documentation2 .docx”). Returned file metadata includes both the originally supplied filename and the possibly-modified name that Acclaro will use. Individual file size is limited to 100MB maximum. In-progress orders may have new additional files added to them as long as the source and target languages match the original order’s files.",
        "operationId": "SendAReferenceFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "required": true,
            "x-ms-summary": "file",
            "description": "The binary payload."
          },
          {
            "name": "sourcelang",
            "in": "formData",
            "type": "string",
            "required": false,
            "x-ms-summary": "sourcelang",
            "description": "The language the file is in, in ISO format, e.g. \"en-us\"."
          },
          {
            "name": "targetlang",
            "in": "formData",
            "type": "string",
            "required": false,
            "x-ms-summary": "targetlang",
            "description": "The translation language the file refers to, in ISO format, e.g. \"de-de\"."
          },
          {
            "name": "encoding",
            "in": "formData",
            "type": "string",
            "required": false,
            "x-ms-summary": "encoding",
            "description": "Encoding of the reference file."
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The file ID in My Acclaro"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The ID of the Order in My Acclaro"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "Type of file"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "The original filename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "The original filename "
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "The filename in Plunet"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "Encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "Mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "Client Reference"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "The Review URL"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "Review"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "The translated file"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "The translated file ready for preview"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "Date when the item was uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Source language"
                    },
                    "targetlang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Target language"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "Callback URLs"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "Notification emails"
                    }
                  },
                  "description": "data"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    },
                    "file": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "file"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files": {
      "post": {
        "summary": "Send a source file",
        "tags": [
          "file"
        ],
        "description": "Adds a file to an order, taking the filename and mime-type from the file metadata. If no orderid is provided, a new order is automatically created. The sourcelang should be one of the language codes obtained from /info/languages. Targetlangs can be a single language code or several language codes in a comma-separated list. Encoding is optional, and defaults to “UTF-8” if not specified. ClientRef is an optional value meaningful to the API user typically used for Purchase Order numbers but can be used for any relevant information; if supplied when the file is loaded, it will be returned in all future calls about this file. If a filename is supplied that duplicates the name of another file in this order, the system will make it unique by adding additional characters (i.e. “documentation.docx” may become “documentation-2.docx”). Returned file metadata includes both the originally supplied filename and the possibly modified name that Acclaro will use. Individual file size is limited to 100MB maximum . The API is file agnostic, as there are no file type limitations. XLIFF files are a common translation industry standard and are fully supported. In-progress orders may have new additional files added to them as long as the source and target languages match the original order’s files.\n For continuous programmatic orders, it is recommended that the /orders/{orderid}/files be used to build orders up with source files before submission via the SubmitOrder call, as this is the most efficient path for Acclaro translation services to receive orders with multiple files and then return subsequent translation files.\n If clients wish to maintain specific folder and file structures for their source files, they can upload zip files which will be returned with translations in desired folder and file structures within target delivery zip files.",
        "operationId": "SendASourceFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "sourcelang",
            "in": "formData",
            "type": "string",
            "default": "en-us",
            "required": true,
            "x-ms-summary": "sourcelang",
            "description": "The source language for the file, in iso format e.g. \"en-us\"."
          },
          {
            "name": "targetlang",
            "in": "formData",
            "type": "string",
            "required": true,
            "x-ms-summary": "targetlang",
            "description": "The desired language or languages that the file should be translated into, e.g. \"de-de\" or \"de-de,fr-fr\"."
          },
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "required": true,
            "x-ms-summary": "file",
            "description": "The binary payload."
          },
          {
            "name": "enconding",
            "in": "formData",
            "default": "utf-8",
            "type": "string",
            "required": false,
            "x-ms-summary": "enconding",
            "description": "The encoding of the file, defaults to \"utf-8\"."
          },
          {
            "name": "clientref",
            "in": "formData",
            "type": "string",
            "required": false,
            "x-ms-summary": "clientref",
            "description": "A referece ID to be used by the client if needed."
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The file ID in My Acclaro"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The ID of the Order in My Acclaro"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "Type of file"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "The original filename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "The original filename "
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "The filename in Plunet"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "Encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "Mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "Client Reference"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "The Review URL"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "Review"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "The translated file"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "The translated file ready for preview"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "Date when the item was uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Source language"
                    },
                    "targetlang": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "ISO 639-1 language code"
                          },
                          "code3": {
                            "type": "string",
                            "description": "ISO 639-2 language code"
                          },
                          "description": {
                            "type": "string",
                            "description": "Description"
                          }
                        }
                      },
                      "description": "Target language"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "Callback URLs"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "Notification emails"
                    }
                  },
                  "description": "data"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/callback": {
      "delete": {
        "summary": "Delete a callback added to the file",
        "tags": [
          "callback"
        ],
        "description": "Request that Acclaro no longer invokes the supplied URL when the file changes in any way. ",
        "operationId": "DeleteACallbackAddedToTheFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "fileid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID.",
            "x-ms-summary": "fileid"
          },
          {
            "name": "url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The URL to be removed from the callback system.",
            "x-ms-summary": "url"
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a callback for file updates",
        "tags": [
          "callback"
        ],
        "description": "Request that Acclaro invoke the supplied URL when the file changes in any way.",
        "operationId": "AddACallbackForFileUpdates",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "fileid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID.",
            "x-ms-summary": "fileid"
          },
          {
            "name": "url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The URL to be added to the callback system.",
            "x-ms-summary": "url"
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/email": {
      "delete": {
        "summary": "Delete a callback added to the file",
        "tags": [
          "email"
        ],
        "description": "Request that Acclaro no longer email the supplied address when the file changes in any way.",
        "operationId": "DeleteACallbackAddedToTheFile7",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "fileid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID.",
            "x-ms-summary": "fileid"
          },
          {
            "name": "email",
            "in": "formData",
            "type": "string",
            "required": true,
            "description": "The email to be deleted to the callback system.",
            "x-ms-summary": "email"
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Request an email on file changes",
        "tags": [
          "email"
        ],
        "description": "Request that Acclaro send an email message to the provided address when the file changes in any  way.  For customer-friendly email messages, see the delivery options in the My Acclaro portal.  This  email is a simple message geared towards developers.",
        "operationId": "RequestAnEmailOnFileChanges",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "fileid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID.",
            "x-ms-summary": "fileid"
          },
          {
            "name": "email",
            "in": "formData",
            "type": "string",
            "required": true,
            "description": "The email to be added to the callback system.",
            "x-ms-summary": "email"
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/comment": {
      "post": {
        "summary": "Add a comment for a file",
        "tags": [
          "file"
        ],
        "description": "Adds a comment to file. New comments are appended. ",
        "operationId": "AddACommentForAFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "fileid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID.",
            "x-ms-summary": "fileid"
          },
          {
            "name": "comment",
            "in": "formData",
            "type": "string",
            "required": true,
            "x-ms-summary": "comment",
            "description": "input your comment here."
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The file ID in My Acclaro"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The ID of the Order in My Acclaro"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "Type of file"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "The original filename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "The original filename "
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "The filename in Plunet"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "Encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "Mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "Client Reference"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "The Review URL"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "Review"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "The translated file"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "The translated file ready for preview"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "Date when the item was uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Source language"
                    },
                    "targetlang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Target language"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "Callback URLs"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "Notification emails"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/review-url": {
      "post": {
        "summary": "Add a review URL for a file",
        "tags": [
          "file"
        ],
        "description": "Adds a URL to a file so it may be referenced for in context review on the web. This assumes the  URL is publically available or the translator has private access credentials to view the content. For  source files this URL may assist translators in understanding the initial context and layout  restrictions of the content. For target files, this URL may assist translators, editors and testers with  verification workflows to ensure translated content appears as expected on the destination web pages.",
        "operationId": "AddAReviewUrlForAFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID.",
            "x-ms-summary": "orderid"
          },
          {
            "name": "fileid",
            "in": "path",
            "x-ms-url-encoding": "single",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID.",
            "x-ms-summary": "fileid"
          },
          {
            "name": "url",
            "in": "formData",
            "type": "string",
            "required": true,
            "x-ms-summary": "url",
            "description": "the URL that should be used to run the review of the file."
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The file ID in My Acclaro"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The ID of the Order in My Acclaro"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "Type of file"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "The original filename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "The original filename "
                    },
                    "filename": {
                      "type": "string",
                      "description": "The filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "The filename in Plunet"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "Encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "Mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "Client Reference"
                    },
                    "comments": {
                      "type": "string",
                      "description": "Comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "The Review URL"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "Review"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "The translated file"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "The translated file ready for preview"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "Date when the item was uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Source language"
                    },
                    "targetlang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "ISO 639-1 language code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "ISO 639-2 language code"
                        },
                        "description": {
                          "type": "string",
                          "description": "Description"
                        }
                      },
                      "description": "Target language"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "Callback URLs"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "Notification emails"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Error Code"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "Error Message"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Error list"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "summary": "Get all orders",
        "tags": [
          "order"
        ],
        "description": "Returns all orders assigned to the current user, as an array of Order records. Note that older completed orders may be archived and removed from the active system . Can be filtered using status.",
        "operationId": "GetAllOrders",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter the Orders by status.",
            "x-ms-summary": "status"
          },
          {
            "name": "page",
            "default": "1",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Defines the page you want to see results from.",
            "x-ms-summary": "page"
          },
          {
            "name": "perPage",
            "default": "50",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Defines how many records you want to see per page.",
            "x-ms-summary": "perPage"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "orderid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the Order in My Acclaro"
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "plunetid": {
                            "type": "string",
                            "description": "The ID of the item at Plunet"
                          },
                          "firstname": {
                            "type": "string",
                            "description": "First name"
                          },
                          "lastname": {
                            "type": "string",
                            "description": "Last name"
                          },
                          "company": {
                            "type": "string",
                            "description": "Company"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone number"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address"
                          },
                          "created": {
                            "type": "string",
                            "description": "Date created"
                          },
                          "modified": {
                            "type": "string",
                            "description": "Date modified"
                          }
                        },
                        "description": "user"
                      },
                      "usergroup": {
                        "type": "integer",
                        "format": "int32",
                        "description": "User group"
                      },
                      "plunet-orderid": {
                        "type": "string",
                        "description": "The ID of the Order at Plunet"
                      },
                      "plunet-requestid": {
                        "type": "string",
                        "description": "The ID of the request at Plunet"
                      },
                      "plunet-quoteid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the Quote at Plunet"
                      },
                      "plunet-quotenum": {
                        "type": "string",
                        "description": "The number of the Quote at Plunet"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "process_type": {
                        "type": "string",
                        "description": "Defines if Order will be processed using strings or files"
                      },
                      "ordertype": {
                        "type": "string",
                        "description": "Type of Order"
                      },
                      "sourcefilecount": {
                        "type": "object",
                        "properties": {},
                        "description": "Count of source files"
                      },
                      "referencefilecount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Count of reference files"
                      },
                      "targetfilecount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Count of translated files"
                      },
                      "requested_due_date": {
                        "type": "string",
                        "description": "Due date requested by client"
                      },
                      "duedate": {
                        "type": "string",
                        "description": "Due date"
                      },
                      "clientref": {
                        "type": "string",
                        "description": "Client Reference"
                      },
                      "delivery": {
                        "type": "string",
                        "description": "Delivery"
                      },
                      "rating": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Rating"
                      },
                      "review": {
                        "type": "string",
                        "description": "Review"
                      },
                      "created": {
                        "type": "string",
                        "description": "Date created"
                      },
                      "modified": {
                        "type": "string",
                        "description": "Date modified"
                      },
                      "sourcelang": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Source language"
                      },
                      "targetlang": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Target language"
                      },
                      "ordertypecode": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Order type code"
                      },
                      "emailaddress": {
                        "type": "string",
                        "description": "Email address  "
                      },
                      "emailquote": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Email Quote to"
                      },
                      "emailfile": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Email file to"
                      },
                      "emaildone": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Email Done to"
                      },
                      "emailsubmit": {
[...]
