{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Blackbaud CRM Prospect",
    "description": "Blackbaud CRM is a comprehensive enterprise-grade fundraising and donor management software solution built specifically for nonprofits and the entire social good community. Use the Prospect connector to manage prospects, plans, and opportunities.",
    "contact": {
      "name": "Blackbaud Support",
      "url": "https://www.blackbaud.com/support",
      "email": "skyapi@blackbaud.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.blackbaud.com/products/blackbaud-crm"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.blackbaud.com/privacy-shield"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "api.sky.blackbaud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "skyApiOAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth2.sky.blackbaud.com/authorization",
      "tokenUrl": "https://oauth2.sky.blackbaud.com/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "skyApiOAuth": []
    }
  ],
  "paths": {
    "/crm-adnmg/codetables/{code_table_name}/entries": {
      "get": {
        "operationId": "ListCodeTableEntries",
        "summary": "List table entries",
        "description": "Returns table entries for the specified code table.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code_table_name",
            "in": "path",
            "description": "The code table name.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Code table name",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Adnmg.CodeTableEntryCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view the table entries."
          },
          "404": {
            "description": "Returned when the specified code table was not found."
          }
        }
      }
    },
    "/crm-adnmg/simplelists/{simple_list_id}": {
      "get": {
        "operationId": "SimpleListLoad",
        "summary": "List simple list results",
        "description": "Returns result rows from the specified simple list.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "simple_list_id",
            "in": "path",
            "description": "The simple list identifier.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Simple list ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramKey1",
            "in": "query",
            "description": "For parameterized simple lists, this represents the first parameter key.",
            "type": "string",
            "x-ms-summary": "Parameter key 1",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramValue1",
            "in": "query",
            "description": "For parameterized simple lists, this represents the first parameter value.",
            "type": "string",
            "x-ms-summary": "Parameter value 1",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramSourceType1",
            "in": "query",
            "description": "For parameterized simple lists, this represents the source type for translating paramValue1.",
            "type": "string",
            "x-ms-summary": "Parameter translation source 1",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramSource1",
            "in": "query",
            "description": "For parameterized simple lists, this represents the source for translating paramValue1.",
            "type": "string",
            "x-ms-summary": "Parameter translation source 1",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramKey2",
            "in": "query",
            "description": "For parameterized simple lists, this represents the second parameter key.",
            "type": "string",
            "x-ms-summary": "Parameter key 2",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramValue2",
            "in": "query",
            "description": "For parameterized simple lists, this represents the second parameter value.",
            "type": "string",
            "x-ms-summary": "Parameter value 2",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramSourceType2",
            "in": "query",
            "description": "For parameterized simple lists, this represents the source type for translating paramValue2.",
            "type": "string",
            "x-ms-summary": "Parameter translation source 2",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "paramSource2",
            "in": "query",
            "description": "For parameterized simple lists, this represents the source for translating paramValue2.",
            "type": "string",
            "x-ms-summary": "Parameter translation source 2",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Adnmg.SimpleListResult"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view the simple list results."
          },
          "404": {
            "description": "Returned when the specified simple list was not found."
          }
        }
      }
    },

    "/crm-prsmg/prospectcontactreports": {
      "post": {
        "operationId": "CreateUnplannedContactReport",
        "summary": "Create an unplanned contact report",
        "description": "Creates a new unplanned contact report for a plan.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Prsmg.NewUnplannedContactReport"
            },
            "description": "An object that represents the unplanned contact report to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an unplanned contact report. The response body contains the ID of the new unplanned contact report.",
            "schema": {
              "$ref": "#/definitions/Prsmg.CreatedUnplannedContactReport"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create an unplanned contact report."
          },
          "404": {
            "description": "Returned when the specified plan was not found."
          }
        }
      }
    },
    "/crm-prsmg/prospectcontactreports/{contact_report_id}": {
      "patch": { 
        "operationId": "EditProspectContactReport", 
        "summary": "Update a contact report", 
        "description": "Updates a contact report.", 
        "consumes": [ 
          "application/json" 
        ], 
        "produces": [ 
          "application/json" 
        ], 
        "parameters": [ 
          {
            "name": "contact_report_id",
            "in": "path",
            "description": "The system record ID of the contact report to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Report ID",
            "x-ms-url-encoding": "single"
          }, 
          { 
            "name": "body", 
            "in": "body", 
            "schema": { 
              "$ref": "#/definitions/Prsmg.UpdateProspectContactReport" 
            }, 
            "description": "An object that represent properties of the contact report to update.", 
            "required": true 
          } 
        ], 
        "responses": { 
          "200": { 
            "description": "Returned when the operation successfully updates the contact report." 
          }, 
          "400": { 
            "description": "Returned when the specified contact report ID in the request URL or the specified request parameters are not in the appropriate format." 
          }, 
          "403": { 
            "description": "Returned when the user does not have permission to update the contact report." 
          }, 
          "404": { 
            "description": "Returned when the specified contact report is not found." 
          } 
        } 
      }
    },
    "/crm-prsmg/prospectopportunities": {
      "post": {
        "operationId": "CreateProspectOpportunity",
        "summary": "Create an opportunity",
        "description": "Creates a new prospect plan opportunity.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Prsmg.NewProspectOpportunity"
            },
            "description": "An object that represents the opportunity to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an opportunity. The response body contains the ID of the new opportunity.",
            "schema": {
              "$ref": "#/definitions/Prsmg.CreatedProspectOpportunity"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create an opportunity."
          },
          "404": {
            "description": "Returned when the specified prospect plan is not found."
          }
        }
      }
    },
    "/crm-prsmg/prospectopportunities/search": {
      "get": {
        "operationId": "SearchProspectOpportunities",
        "summary": "Search for prospect opportunities",
        "description": "Searches for prospect opportunity records using the given filter criteria.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "keyname",
            "in": "query",
            "description": "The constituent key name (last name for individuals, organization name for organizations).",
            "type": "string",
            "x-ms-summary": "Key name"
          },
          {
            "name": "firstname",
            "in": "query",
            "description": "The constituent first name.",
            "type": "string",
            "x-ms-summary": "First name"
          },
          {
            "name": "lookup_id",
            "in": "query",
            "description": "The constituent lookup ID.",
            "type": "string",
            "x-ms-summary": "Lookup ID"
          },
          {
            "name": "exactmatchonly",
            "in": "query",
            "description": "Match all criteria exactly?",
            "type": "boolean",
            "x-ms-summary": "Match exactly?"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter the results to the specified opportunity status.",
            "type": "string",
            "enum": [
              "Unqualified",
              "Qualified",
              "Response pending",
              "Accepted",
              "Rejected",
              "Canceled"
            ],
            "x-ms-summary": "Status"
          },          
          {
            "name": "ask_date",
            "in": "query",
            "description": "Filter the results based on the opportunity ask date.",
            "type": "string",
            "format": "date",
            "x-ms-summary": "Ask date"
          },
          {
            "name": "ask_amount",
            "in": "query",
            "description": "Filter the results based on the opportunity ask amount.",
            "type": "number",
            "format": "double",
            "x-ms-summary": "Ask amount"
          },
          {
            "name": "designationuserid",
            "in": "query",
            "description": "Filter the results to the specified designation user system record ID",
            "type": "string",
            "x-ms-summary": "Designation user ID",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "only_prospects",
            "in": "query",
            "description": "Include only prospect constituents?",
            "type": "boolean",
            "x-ms-summary": "Only prospects?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "only_fundraisers",
            "in": "query",
            "description": "Include only fundraiser constituents?",
            "type": "boolean",
            "x-ms-summary": "Only fundraisers?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "only_staff",
            "in": "query",
            "description": "Include only staff constituents?",
            "type": "boolean",
            "x-ms-summary": "Only staff?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "only_volunteers",
            "in": "query",
            "description": "Include only volunteers?",
            "type": "boolean",
            "x-ms-summary": "Only volunteers?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "only_primary_address",
            "in": "query",
            "description": "Only search primary addresses?",
            "type": "boolean",
            "x-ms-summary": "Only primary?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includedeceased",
            "in": "query",
            "description": "Include deceased constituents?",
            "type": "boolean",
            "x-ms-summary": "Include deceased?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "includeinactive",
            "in": "query",
            "description": "Include inactive constituents?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "checknickname",
            "in": "query",
            "description": "Check nickname when searching?",
            "type": "boolean",
            "x-ms-summary": "Check nickname?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "checkaliases",
            "in": "query",
            "description": "Check aliases when searching?",
            "type": "boolean",
            "x-ms-summary": "Check aliases?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "checkalternatelookupids",
            "in": "query",
            "description": "Check alternate lookup IDs when searching?",
            "type": "boolean",
            "x-ms-summary": "Check alt lookup IDs?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          }          
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Prsmg.ProspectOpportunitySearchResultCollection"
            }
          }
        }
      }
    },
    "/crm-prsmg/prospectopportunities/{opportunity_id}": {
      "get": {
        "operationId": "GetProspectOpportunity",
        "summary": "Get an opportunity",
        "description": "Returns information for a prospect plan opportunity.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "opportunity_id",
            "in": "path",
            "description": "The system record ID of the opportunity to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Opportunity ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Prsmg.ProspectOpportunity"
            }
          },
          "400": {
            "description": "Returned when the specified opportunity ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the opportunity."
          },
          "404": {
            "description": "Returned when the specified opportunity is not found."
          }
        }
      },      
      "patch": { 
        "operationId": "EditProspectOpportunity", 
        "summary": "Update an opportunity", 
        "description": "Updates a prospect plan opportunity.", 
        "consumes": [ 
          "application/json" 
        ], 
        "produces": [ 
          "application/json" 
        ], 
        "parameters": [ 
          {
            "name": "opportunity_id",
            "in": "path",
            "description": "The system record ID of the opportunity to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Opportunity ID",
            "x-ms-url-encoding": "single"
          },
          { 
            "name": "body", 
            "in": "body", 
            "schema": { 
              "$ref": "#/definitions/Prsmg.UpdateProspectOpportunity" 
            }, 
            "description": "An object that represent properties of the opportunity to update.", 
            "required": true 
          } 
        ], 
        "responses": { 
          "200": { 
            "description": "Returned when the operation successfully updates the opportunity." 
          }, 
          "400": { 
            "description": "Returned when the specified opportunity ID in the request URL or the specified request parameters are not in the appropriate format." 
          }, 
          "403": { 
            "description": "Returned when the user does not have permission to update the opportunity." 
          }, 
          "404": { 
            "description": "Returned when the specified opportunity is not found." 
          } 
        } 
      }
    },
    "/crm-prsmg/prospectopportunities/{plan_id}/list": {
      "get": {
        "operationId": "ListPlanOpportunities",
        "summary": "List plan opportunities",
        "description": "Lists the opportunities for a prospect plan.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "description": "The system record ID of the prospect plan.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Plan ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter the results to opportunities with the specified status.",
            "type": "string",
            "enum": [
              "Unqualified",
              "Qualified",
              "Response pending",
              "Accepted",
              "Rejected",
              "Canceled"
            ],
            "x-ms-summary": "Status",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Prsmg.PlanOpportunityCollection"
            }
          },
          "400": {
            "description": "Returned when the specified plan ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the plan opportunities."
          },
          "404": {
            "description": "Returned when the specified plan is not found."
          }
        }
      }
    },
    "/crm-prsmg/prospectplans": {
      "post": {
        "operationId": "CreateMajorGivingPlan",
        "summary": "Create a major giving plan",
        "description": "Creates a new major giving plan for a prospect.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Prsmg.NewMajorGivingPlan"
            },
            "description": "An object that represents the major giving plan to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a major giving plan. The response body contains the ID of the new plan.",
            "schema": {
              "$ref": "#/definitions/Prsmg.CreatedMajorGivingPlan"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create a major giving plan."
          },
          "404": {
            "description": "Returned when the specified prospect is not found."
          }
        }
      }
    },
    "/crm-prsmg/prospectplans/{plan_id}": {
      "delete": {
        "operationId": "DeleteMajorGivingPlan",
        "summary": "Delete a major giving plan",
        "description": "Deletes a major giving plan.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "description": "The system record ID of the major giving plan to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Plan ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the plan."
          },
          "400": {
            "description": "Returned when the specified plan ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the plan."
          }
        }
      },
      "get": {
        "operationId": "GetMajorGivingPlan",
        "summary": "Get a major giving plan",
        "description": "Returns information for a major giving plan.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "description": "The system record ID of the major giving plan.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Plan ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Prsmg.MajorGivingPlan"
            }
          },
          "400": {
            "description": "Returned when the specified major giving plan ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the major giving plan."
          },
          "404": {
            "description": "Returned when the specified major giving plan is not found."
          }
        }
      }
    },
    "/crm-prsmg/prospects/search": {
      "get": {
        "operationId": "SearchProspects",
        "summary": "Search for prospects",
        "description": "Searches for prospect records using the given filter criteria.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "key_name",
            "in": "query",
            "description": "The constituent key name (last name for individuals, organization name for organizations).",
            "type": "string",
            "x-ms-summary": "Key name"
          },
          {
            "name": "first_name",
            "in": "query",
            "description": "The constituent first name.",
            "type": "string",
            "x-ms-summary": "First name"
          },
          {
            "name": "lookup_id",
            "in": "query",
            "description": "The constituent lookup ID.",
            "type": "string",
            "x-ms-summary": "Lookup ID"
          },
          {
            "name": "phone_number",
            "in": "query",
            "description": "The constituent phone number.",
            "type": "string",
            "x-ms-summary": "Phone number"
          },
          {
            "name": "country",
            "in": "query",
            "description": "A filter for the constituent address country.",
            "type": "string",
            "x-ms-summary": "Country",
            "x-ms-dynamic-values": {
              "operationId": "SimpleListLoad",
              "value-collection": "rows",
              "value-path": "label",
              "value-title": "label",
              "parameters": {
                "simple_list_id": "c9649672-353d-42e8-8c25-4d34bbabfbba"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "SimpleListLoad",
              "itemsPath": "rows",
              "itemValuePath": "label",
              "itemTitlePath": "label",
              "parameters": {
                "simple_list_id": {
                  "value": "c9649672-353d-42e8-8c25-4d34bbabfbba"
                }
              }
            }
          },
          {
            "name": "address_block",
            "in": "query",
            "description": "A filter for the constituent address block.",
            "type": "string",
            "x-ms-summary": "Address"
          },
          {
            "name": "city",
            "in": "query",
            "description": "A filter for the constituent address city.",
            "type": "string",
            "x-ms-summary": "City"
          },
          {
            "name": "state",
            "in": "query",
            "description": "A filter for the constituent address state.",
            "type": "string",
            "x-ms-summary": "State",
            "x-ms-dynamic-values": {
              "operationId": "SimpleListLoad",
              "value-collection": "rows",
              "value-path": "label",
              "value-title": "description",
              "parameters": {
                "simple_list_id": "7fa91401-596c-4f7c-936d-6e41683121d7"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "SimpleListLoad",
              "itemsPath": "rows",
              "itemValuePath": "label",
              "itemTitlePath": "description",
              "parameters": {
                "simple_list_id": {
                  "value": "7fa91401-596c-4f7c-936d-6e41683121d7"
                }
              }
            }
          },
          {
            "name": "post_code",
            "in": "query",
            "description": "A filter for the constituent address postal code.",
            "type": "string",
            "x-ms-summary": "Postal code"
          },
          {
            "name": "exact_match_only",
            "in": "query",
            "description": "Match all criteria exactly?",
            "type": "boolean",
            "x-ms-summary": "Match exactly?"
          },
          {
            "name": "constituency",
            "in": "query",
            "description": "A filter for the constituency of the constituent.",
            "type": "string",
            "x-ms-summary": "Constituency",
            "x-ms-visibility": "advanced",
            "x-ms-dynamic-values": {
              "operationId": "SimpleListLoad",
              "value-collection": "rows",
              "value-path": "label",
              "value-title": "label",
              "parameters": {
                "simple_list_id": "7821c1ab-3001-485b-aec7-f55749f959e6"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "SimpleListLoad",
              "itemsPath": "rows",
              "itemValuePath": "label",
              "itemTitlePath": "label",
              "parameters": {
                "simple_list_id": {
                  "value": "7821c1ab-3001-485b-aec7-f55749f959e6"
                }
              }
            }
          },
          {
            "name": "only_prospects",
            "in": "query",
            "description": "Include only prospect constituents?",
            "type": "boolean",
            "x-ms-summary": "Only prospects?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "only_fundraisers",
            "in": "query",
            "description": "Include only fundraiser constituents?",
            "type": "boolean",
            "x-ms-summary": "Only fundraisers?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "only_staff",
            "in": "query",
            "description": "Include only staff constituents?",
            "type": "boolean",
            "x-ms-summary": "Only staff?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "only_volunteers",
            "in": "query",
            "description": "Include only volunteers?",
            "type": "boolean",
            "x-ms-summary": "Only volunteers?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "only_primary_address",
            "in": "query",
            "description": "Only search primary addresses?",
            "type": "boolean",
            "x-ms-summary": "Only primary?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include_deceased",
            "in": "query",
            "description": "Include deceased constituents?",
            "type": "boolean",
            "x-ms-summary": "Include deceased?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive constituents?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "fuzzy_search_on_name",
            "in": "query",
            "description": "Use fuzzy search on name?",
            "type": "boolean",
            "x-ms-summary": "Use fuzzy search?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          }          
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Prsmg.ProspectSearchResultCollection"
            }
          }
        }
      }
    },
    "/crm-prsmg/prospects/{constituent_id}": {
      "patch": { 
        "operationId": "EditProspect", 
        "summary": "Update a prospect", 
        "description": "Updates a prospect.", 
        "consumes": [ 
          "application/json" 
        ], 
        "produces": [ 
          "application/json" 
        ], 
        "parameters": [ 
          { 
            "name": "constituent_id", 
            "in": "path", 
            "description": "The system record ID of the prospect constituent to update.", 
            "required": true, 
            "type": "string", 
            "x-ms-summary": "Constituent ID", 
            "x-ms-url-encoding": "single" 
          }, 
          { 
            "name": "body", 
            "in": "body", 
            "schema": { 
              "$ref": "#/definitions/Prsmg.UpdateProspect" 
            }, 
            "description": "An object that represent properties of the prospect to update.", 
            "required": true 
          } 
        ], 
        "responses": { 
          "200": { 
            "description": "Returned when the operation successfully updates the prospect." 
          }, 
          "400": { 
            "description": "Returned when the specified prospect ID in the request URL or the specified request parameters are not in the appropriate format." 
          }, 
          "403": { 
            "description": "Returned when the user does not have permission to update the prospect." 
          }, 
          "404": { 
            "description": "Returned when the specified prospect is not found." 
          } 
        } 
      }
    },
    "/crm-prsmg/prospects/{opportunity_id}/prospectopportunities": {
      "delete": {
        "operationId": "DeleteProspectOpportunity",
        "summary": "Delete an opportunity",
        "description": "Deletes a prospect plan opportunity.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "opportunity_id",
            "in": "path",
            "description": "The system record ID of the opportunity to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Opportunity ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the opportunity."
          },
          "400": {
            "description": "Returned when the specified opportunity ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the opportunity."
          }
        }
      }
    },
    "/crm-prsmg/prospects/{constituent_id}/prospectplans": {
      "get": {
        "operationId": "ListProspectPlans",
        "summary": "List prospect plans",
        "description": "Lists the plans for a prospect.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the prospect constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "include_inactive_plans",
            "in": "query",
            "description": "Include inactive plans?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Prsmg.ProspectPlanCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL or the specified request parameter is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the prospect plans."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/crm-prsmg/prospects/{constituent_id}/prospectstatus": {
      "get": {
        "operationId": "GetProspectSummary",
        "summary": "Get a prospect summary",
        "description": "Returns prospect information for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Prsmg.ProspectSummary"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the prospect summary."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/crm-prsmg/prospectsconstituency": {
      "post": {
        "operationId": "CreateProspectConstituency",
        "summary": "Create a prospect constituency",
        "description": "Creates a new prospect constituency for a constituent.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Prsmg.NewProspectConstituency"
            },
            "description": "An object that represents the prospect constituency to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a prospect constituency. The response body contains the ID of the new prospect constituency.",
            "schema": {
              "$ref": "#/definitions/Prsmg.CreatedProspectConstituency"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the prospect constituency."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/crm-prsmg/prospectsteps": {
      "post": {
        "operationId": "CreateMajorGivingPlanStep",
        "summary": "Create a major giving plan step",
        "description": "Creates a new major giving plan step.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Prsmg.NewMajorGivingPlanStep"
            },
            "description": "An object that represents the plan step to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a major giving plan step. The response body contains the ID of the new step.",
            "schema": {
              "$ref": "#/definitions/Prsmg.CreatedMajorGivingPlanStep"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create a major giving plan step."
          },
          "404": {
            "description": "Returned when the specified major giving plan was not found."
          }
        }
      }
    },
    "/crm-prsmg/prospectsteps/{step_id}": {
      "delete": {
        "operationId": "DeleteMajorGivingPlanStep",
        "summary": "Delete a major giving plan step",
        "description": "Deletes a major giving plan step.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "step_id",
            "in": "path",
            "description": "The system record ID of the major giving plan step to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Step ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the plan step."
          },
          "400": {
            "description": "Returned when the specified step ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the plan step."
          }
        }
      },
      "patch": { 
        "operationId": "EditMajorGivingPlanStep", 
        "summary": "Update a major giving plan step", 
        "description": "Updates a major giving plan step.", 
        "consumes": [ 
          "application/json" 
        ], 
        "produces": [ 
          "application/json" 
        ], 
        "parameters": [
          {
            "name": "v_prospect_plan_id",
            "in": "query",
            "description": "The system record ID of the major giving plan.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Plan ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "step_id",
            "in": "path",
            "description": "The system record ID of the major giving plan step to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Step ID",
            "x-ms-url-encoding": "single"
          },
          { 
            "name": "body", 
            "in": "body", 
            "schema": { 
              "$ref": "#/definitions/Prsmg.UpdateMajorGivingPlanStep" 
            }, 
            "description": "An object that represent properties of the major giving plan step to update.", 
            "required": true 
          } 
        ], 
        "responses": { 
          "200": { 
            "description": "Returned when the operation successfully updates the major giving plan step." 
          }, 
          "400": { 
            "description": "Returned when the specified plan step ID in the request URL or the specified request parameters are not in the appropriate format." 
          }, 
          "403": { 
            "description": "Returned when the user does not have permission to update the major giving plan step." 
          }, 
          "404": { 
            "description": "Returned when the specified major giving plan step is not found." 
          } 
        } 
      }
    },
    "/crm-prsmg/stewardshipplans": {
      "post": {
        "operationId": "CreateStewardshipPlan",
        "summary": "Create a stewardship plan",
        "description": "Creates a new stewardship plan for a prospect.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Prsmg.NewStewardshipPlan"
            },
            "description": "An object that represents the stewardship plan to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a stewardship plan. The response body contains the ID of the new plan.",
            "schema": {
              "$ref": "#/definitions/Prsmg.CreatedStewardshipPlan"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create a stewardship plan."
          },
          "404": {
            "description": "Returned when the specified prospect is not found."
          }
        }
      }
    },
    "/crm-prsmg/stewardshipplans/{plan_id}": {
      "delete": {
        "operationId": "DeleteStewardshipPlan",
        "summary": "Delete a stewardship plan",
        "description": "Deletes a stewardship plan.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "description": "The system record ID of the stewardship plan to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Plan ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the plan."
          },
          "400": {
            "description": "Returned when the specified plan ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the plan."
          }
        }
      }
    },
    "/crm-prsmg/stewardshipplansteps": {
      "post": {
        "operationId": "CreateStewardshipPlanStep",
        "summary": "Create a stewardship plan step",
        "description": "Creates a new stewardship plan step.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Prsmg.NewStewardshipPlanStep"
            },
            "description": "An object that represents the plan step to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a stewardship plan step. The response body contains the ID of the new step.",
            "schema": {
              "$ref": "#/definitions/Prsmg.CreatedStewardshipPlanStep"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create a stewardship plan step."
          },
          "404": {
            "description": "Returned when the specified stewardship plan was not found."
          }
        }
      }
    },
    "/crm-prsmg/stewardshipplansteps/{step_id}": {
      "delete": {
        "operationId": "DeleteStewardshipPlanStep",
        "summary": "Delete a stewardship plan step",
        "description": "Deletes a stewardship plan step.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "step_id",
            "in": "path",
            "description": "The system record ID of the stewardship plan step to delete.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Step ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the plan step."
          },
          "400": {
            "description": "Returned when the specified step ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the plan step."
          }
        }
      },
      "patch": { 
        "operationId": "EditStewardshipPlanStep", 
        "summary": "Update a stewardship plan step", 
        "description": "Updates a stewardship plan step.", 
        "consumes": [ 
          "application/json" 
        ], 
        "produces": [ 
          "application/json" 
        ], 
        "parameters": [
          {
            "name": "step_id",
            "in": "path",
            "description": "The system record ID of the stewardship plan step to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Step ID",
            "x-ms-url-encoding": "single"
          },
          { 
            "name": "body", 
            "in": "body", 
            "schema": { 
              "$ref": "#/definitions/Prsmg.UpdateStewardshipPlanStep" 
            }, 
            "description": "An object that represent properties of the stewardship plan step to update.", 
            "required": true 
          } 
        ], 
        "responses": { 
          "200": { 
            "description": "Returned when the operation successfully updates the stewardship plan step." 
          }, 
          "400": { 
            "description": "Returned when the specified plan step ID in the request URL or the specified request parameters are not in the appropriate format." 
          }, 
          "403": { 
            "description": "Returned when the user does not have permission to update the stewardship plan step." 
          }, 
          "404": { 
            "description": "Returned when the specified stewardship plan step is not found." 
          } 
        } 
      }
    },

    "/crm-adnmg/v_prospectplans/{plan_id}/locations": {
      "get": {
        "operationId": "ListMajorGivingPlanLocations",
        "summary": "List major giving plan locations",
        "description": "Returns the locations for the specified major giving plan (by resolving the constituent ID from the plan).",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "plan_id",
            "in": "path",
            "description": "The major giving plan identifier.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Plan ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/Adnmg.SimpleListResult"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view the plan locations."
          },
          "404": {
            "description": "Returned when the specified major giving plan was not found."
          }
        }
      }
    }
  },
  "definitions": {
    "Adnmg.CodeTableEntry": {
      "type": "object",
      "description": "Table entry",
      "properties": {
        "id": {
          "type": "string",
          "description": "The table entry ID.",
          "x-ms-summary": "ID"
        },
        "description": {
          "type": "string",
          "description": "The table entry description.",
          "x-ms-summary": "Description"
        }
      }
    },
    "Adnmg.CodeTableEntryCollection": {
      "type": "object",
      "description": "A collection of table entries.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The set of table entries in the response.",
          "items": {
            "$ref": "#/definitions/Adnmg.CodeTableEntry"
          }
        }
      }
    },
    "Adnmg.SimpleListResult": {
      "type": "object",
      "description": "Results",
      "properties": {
        "rows": {
          "type": "array",
          "description": "The set of simple list result rows in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/Adnmg.SimpleListResultRow"
          }
        }
      }
    },
    "Adnmg.SimpleListResultRow": {
      "type": "object",
      "description": "Row",
      "properties": {
        "value": {
          "type": "string",
          "description": "The row identifier ID.",
          "x-ms-summary": "Value"
        },
        "label": {
          "type": "string",
          "description": "The row label.",
          "x-ms-summary": "Label"
        },
        "description": {
          "type": "string",
          "description": "The row description.",
          "x-ms-summary": "Label"
        }
      }
    },

    "Prsmg.CreatedMajorGivingPlan": {
      "type": "object",
      "description": "Created major giving plan",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the newly created major giving plan.",
          "x-ms-summary": "ID"
        }
      }
    },
    "Prsmg.CreatedMajorGivingPlanStep": {
      "type": "object",
      "description": "Created major giving plan step",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the newly created major giving plan step.",
          "x-ms-summary": "ID"
        }
      }
    },
    "Prsmg.CreatedProspect": {
      "type": "object",
      "description": "Created prospect",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the newly created prospect.",
          "x-ms-summary": "ID"
        }
      }
    },
    "Prsmg.CreatedProspectConstituency": {
      "type": "object",
      "description": "Created prospect constituency",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the newly created prospect constituency.",
          "x-ms-summary": "ID"
        }
      }
    },
    "Prsmg.CreatedProspectOpportunity": {
      "type": "object",
      "description": "Created prospect opportunity",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the newly created prospect opportunity.",
          "x-ms-summary": "ID"
        }
      }
    },
    "Prsmg.CreatedStewardshipPlan": {
      "type": "object",
      "description": "Created stewardship plan",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the newly created stewardship plan.",
          "x-ms-summary": "ID"
        }
      }
    },
    "Prsmg.CreatedStewardshipPlanStep": {
      "type": "object",
      "description": "Created stewardship plan step",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the newly created stewardship plan step.",
          "x-ms-summary": "ID"
        }
      }
    },
    "Prsmg.CreatedUnplannedContactReport": {
      "type": "object",
      "description": "Created unplanned contact report",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the newly created unplanned contact report.",
          "x-ms-summary": "ID"
        }
      }
    },

    "Prsmg.MajorGivingPlan": {
      "type": "object",
      "description": "Major giving plan",
      "properties": {
        "prospect_id": {
          "type": "string",
          "description": "The system record ID of the prospect.",
          "x-ms-summary": "Prospect ID"
        },
        "prospect": {
          "type": "string",
          "description": "The prospect name.",
          "x-ms-summary": "Prospect name"
        },
        "prospect_plan_name": {
          "type": "string",
          "description": "The major giving plan name.",
          "x-ms-summary": "Name"
        },        
        "prospect_plan_type": {
          "type": "string",
          "description": "The prospect plan type.",
          "x-ms-summary": "Type"
        },
        "fiscal_year_start_date": {
          "type": "string",
          "format": "date-time",
          "description": "The fiscal year start date.",
          "x-ms-summary": "Fiscal year start date"
        },
        "fiscal_year_end_date": {
          "type": "string",
          "format": "date-time",
          "description": "The fiscal year end date.",
          "x-ms-summary": "Fiscal year end date"
        },
        "steps": {
          "type": "array",
          "description": "The plan steps.",
          "x-ms-summary": "Steps",
          "items": {
              "$ref": "#/definitions/Prsmg.MajorGivingPlanStep"
          }
        }
      }
    },
    "Prsmg.MajorGivingPlanStep": {
      "type": "object",
      "description": "Major giving plan step",
      "properties": {
        "id": {
          "type": "string",
          "description": "The system record ID of the major giving plan step.",
          "x-ms-summary": "ID"
        },
        "plan_outline_step_id": {
          "type": "string",
          "description": "The system record ID of the plan outline step.",
          "x-ms-summary": "Plan outline step ID"
        },
        "objective": {
          "type": "string",
          "description": "The step objective.",
          "x-ms-summary": "Objective"
        },
        "prospect_plan_status": {
          "type": "string",
          "description": "The stage for the plan step.",
          "x-ms-summary": "Type"
        },
        "status": {
          "type": "string",
          "description": "The status of the plan step.",
          "x-ms-summary": "Status"
        },
        "expected_date": {
          "type": "string",
          "format": "date",
          "description": "The step expected date.",
          "x-ms-summary": "Expected date"
        },
        "fundraiser_id": {
          "type": "string",
          "description": "The system record ID of the step owner fundraiser constituent.",
          "x-ms-summary": "Owner"
        },
        "all_day_event": {
          "type": "boolean",
          "description": "Is the interaction an all-day event?",
          "x-ms-summary": "All-day event?"
        },
        "expected_start_time": {
          "type": "object",
          "description": "The expected start time for the step.",
          "x-ms-summary": "Expected start",
          "properties": {
            "hour": {
              "type": "integer",
              "format": "int32",
              "description": "The hour.",
              "x-ms-summary": "hour"
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "description": "The minute.",
              "x-ms-summary": "minute"
            }
          }
        },
        "expected_end_time": {
          "type": "object",
          "description": "The expected end time for the step.",
          "x-ms-summary": "Expected end",
          "properties": {
            "hour": {
              "type": "integer",
              "format": "int32",
              "description": "The hour.",
              "x-ms-summary": "hour"
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "description": "The minute.",
              "x-ms-summary": "minute"
            }
          }
        },
        "time_zone_entry": {
          "type": "string",
          "description": "The time zone for the step.",
          "x-ms-summary": "Time zone"
        },
        "actual_date": {
          "type": "string",
          "format": "date",
          "description": "The step actual date (ex: '2005-09-18').",
          "x-ms-summary": "Actual date"
        },
        "actual_start_time": {
          "type": "object",
          "description": "The actual start time for the step.",
          "x-ms-summary": "Actual start",
          "properties": {
            "hour": {
              "type": "integer",
              "format": "int32",
              "description": "The hour.",
              "x-ms-summary": "hour"
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "description": "The minute.",
              "x-ms-summary": "minute"
            }
          }
        },
        "actual_end_time": {
          "type": "object",
          "description": "The actual end time for the step.",
          "x-ms-summary": "Actual end",
          "properties": {
            "hour": {
              "type": "integer",
              "format": "int32",
              "description": "The hour.",
              "x-ms-summary": "hour"
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "description": "The minute.",
              "x-ms-summary": "minute"
            }
          }
        },
        "comment": {
          "type": "string",
          "description": "The step comment.",
          "x-ms-summary": "Comment"
        },
        "interaction_type": {
          "type": "string",
          "description": "The interaction contact method for the step.",
          "x-ms-summary": "Contact method"
        },
        "interaction_category": {
          "type": "string",
          "description": "The step interaction category.",
          "x-ms-summary": "Category"
        },
        "interaction_subcategory": {
          "type": "string",
          "description": "The step interaction subcategory.",
          "x-ms-summary": "Subcategory"
        },
        "location": {
          "type": "string",
          "description": "The step interaction location.",
          "x-ms-summary": "Location"
        },
        "other_location": {
          "type": "string",
          "description": "The other location for the step interaction.",
          "x-ms-summary": "Other location"
        },
        "additional_fundraisers": {
          "type": "array",
          "description": "The step interaction additional fundraisers.",
          "x-ms-summary": "Additional fundraisers",
          "items": {
              "$ref": "#/definitions/Prsmg.MajorGivingPlanStepAdditionalFundraiser"
          }
        },        
        "participants": {
          "type": "array",
          "description": "The step interaction participants.",
          "x-ms-summary": "Participants",
          "items": {
              "$ref": "#/definitions/Prsmg.MajorGivingPlanStepParticipant"
          }
        }
      }
    },
    "Prsmg.MajorGivingPlanStepAdditionalFundraiser": {
      "type": "object",
      "description": "Major giving plan step additional fundraiser",
      "properties": {
        "id": {
          "type": "string",
          "description": "The system record ID of the major giving plan step fundraiser.",
          "x-ms-summary": "ID"
        },
        "fundraiser_id": {
          "type": "string",
          "description": "The system record ID of the major giving plan step fundraiser constituent.",
          "x-ms-summary": "Fundraiser ID"
        }
      }
    },
    "Prsmg.MajorGivingPlanStepParticipant": {
      "type": "object",
      "description": "Major giving plan step participant",
      "properties": {
        "id": {
          "type": "string",
          "description": "The system record ID of the major giving plan step participant.",
          "x-ms-summary": "ID"
        },
        "constituent_id": {
          "type": "string",
          "description": "The system record ID of the major giving plan step participant constituent.",
          "x-ms-summary": "Participant ID"
        }
      }
    },

    "Prsmg.NewMajorGivingPlan": {
      "type": "object",
      "description": "An object representing a new major giving plan.",
      "required": [
        "prospect_id",
        "prospect_plan_name",
        "prospect_plan_type"
      ],
      "properties": {
        "prospect_id": {
          "type": "string",
          "description": "The system record ID of the prospect constituent.",
          "x-ms-summary": "Prospect ID"
        },
        "prospect_plan_name": {
          "type": "string",
          "maxLength": 100,
          "minLength": 0,
          "description": "The plan name. Character limit: 100.",
          "x-ms-summary": "Name"
        },
        "prospect_plan_type": {
          "type": "string",
          "description": "The plan type.",
          "x-ms-summary": "Type",
          "x-ms-dynamic-values": {
            "operationId": "ListCodeTableEntries",
            "value-collection": "value",
            "value-path": "description",
            "value-title": "description",
            "parameters": {
              "code_table_name": "PROSPECTPLANTYPECODE"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListCodeTableEntries",
            "itemsPath": "value",
            "itemValuePath": "description",
            "itemTitlePath": "description",
            "parameters": {
              "code_table_name": {
                "value": "PROSPECTPLANTYPECODE"
              }
            }
          }
        },
        "start_date": {
          "type": "string",
          "format": "date",
          "description": "The plan start date (ex: '2005-09-18').",
          "x-ms-summary": "Start date"
        },
        "narrative": {
          "type": "string",
          "maxLength": 1000,
          "minLength": 0,
          "description": "The plan narrative. Character limit: 1000.",
          "x-ms-summary": "Narrative"
        },
        "primary_manager_fundraiser_id": {
          "type": "string",
          "description": "The system record ID of the primary prospect manager fundraiser.",
          "x-ms-summary": "Primary manager ID"
        },
        "primary_manager_date_from": {
          "type": "string",
          "format": "date",
          "description": "The primary manager start date (ex: '2005-09-18').",
          "x-ms-summary": "Primary start date"
        },
        "secondary_manager_fundraiser_id": {
          "type": "string",
          "description": "The system record ID of the secondary prospect manager fundraiser.",
          "x-ms-summary": "Secondary manager ID"
        },
        "secondary_manager_date_from": {
          "type": "string",
          "format": "date",
          "description": "The secondary manager start date (ex: '2005-09-18').",
          "x-ms-summary": "Secondary start date"
        },
        "prospect_plan_participants": {
          "type": "array",
          "description": "The plan participants.",
          "x-ms-summary": "Participants",
          "x-ms-visibility": "advanced",
          "items": {
              "$ref": "#/definitions/Prsmg.NewMajorGivingPlanParticipant"
          }
        },
        "secondary_fundraisers": {
          "type": "array",
          "description": "The plan secondary fundraisers.",
          "x-ms-summary": "Fundraisers",
          "x-ms-visibility": "advanced",
          "items": {
              "$ref": "#/definitions/Prsmg.NewMajorGivingPlanSecondaryFundraiser"
          }
        }
      }
    },
    "Prsmg.NewMajorGivingPlanParticipant": {
      "type": "object",
      "description": "An object representing a major giving plan participant.",
      "required": [
        "constituent_id"
      ],
      "properties": {
        "constituent_id": {
          "type": "string",
          "description": "The system record ID of the constituent participant.",
          "x-ms-summary": "ID"
        },
        "plan_participant_role": {
          "type": "string",
          "description": "The participant role.",
          "x-ms-summary": "role",
          "x-ms-dynamic-values": {
            "operationId": "ListCodeTableEntries",
            "value-collection": "value",
            "value-path": "description",
            "value-title": "description",
            "parameters": {
              "code_table_name": "PLANPARTICIPANTROLECODE"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListCodeTableEntries",
            "itemsPath": "value",
            "itemValuePath": "description",
            "itemTitlePath": "description",
            "parameters": {
              "code_table_name": {
                "value": "PLANPARTICIPANTROLECODE"
              }
            }
          }
        }
      }
    },
    "Prsmg.NewMajorGivingPlanSecondaryFundraiser": {
      "type": "object",
      "description": "An object representing a major giving plan secondary fundraiser.",
      "required": [
        "fundraiser_id"
      ],
      "properties": {
        "fundraiser_id": {
          "type": "string",
          "description": "The system record ID of the secondary fundraiser constituent.",
          "x-ms-summary": "ID"
        },
        "solicitor_role": {
          "type": "string",
          "description": "The fundraiser role.",
          "x-ms-summary": "role",
          "x-ms-dynamic-values": {
            "operationId": "ListCodeTableEntries",
            "value-collection": "value",
            "value-path": "description",
            "value-title": "description",
            "parameters": {
              "code_table_name": "SOLICITORROLECODE"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListCodeTableEntries",
            "itemsPath": "value",
            "itemValuePath": "description",
            "itemTitlePath": "description",
            "parameters": {
              "code_table_name": {
                "value": "SOLICITORROLECODE"
              }
            }
          }
        },
        "date_from": {
          "type": "string",
          "format": "date",
          "description": "The secondary fundraiser start date (ex: '2005-09-18').",
          "x-ms-summary": "start"
        }
      }
    },
    "Prsmg.NewMajorGivingPlanStep": {
      "type": "object",
      "description": "An object representing a new major giving plan step.",
      "required": [
        "prospect_plan_id",
        "objective",
        "prospect_plan_status",
        "status",
        "expected_date"
      ],
      "properties": {
        "prospect_plan_id": {
          "type": "string",
          "description": "The system record ID of the major giving plan.",
          "x-ms-summary": "Plan ID"
        },
        "objective": {
          "type": "string",
          "maxLength": 100,
          "minLength": 0,
          "description": "The step objective. Character limit: 100.",
          "x-ms-summary": "Objective"
        },
        "prospect_plan_status": {
          "type": "string",
          "description": "The stage for the plan step.",
          "x-ms-summary": "Type",
          "x-ms-dynamic-values": {
            "operationId": "ListCodeTableEntries",
            "value-collection": "value",
            "value-path": "description",
            "value-title": "description",
            "parameters": {
              "code_table_name": "PROSPECTPLANSTATUSCODE"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListCodeTableEntries",
            "itemsPath": "value",
            "itemValuePath": "description",
            "itemTitlePath": "description",
            "parameters": {
              "code_table_name": {
                "value": "PROSPECTPLANSTATUSCODE"
              }
            }
          }
        },
        "status": {
          "type": "string",
          "description": "The status of the plan step.",
          "x-ms-summary": "Status",
          "enum": [
            "Planned",
            "Pending",
            "Completed",
            "Cancelled",
            "Declined"  
          ]
        },
        "expected_date": {
          "type": "string",
          "format": "date",
          "description": "The step expected date (ex: '2005-09-18').",
          "x-ms-summary": "Expected date"
        },
        "owner_id": {
          "type": "string",
          "description": "The system record ID of the step owner fundraiser constituent.",
          "x-ms-summary": "Owner",
          "x-ms-dynamic-values": {
            "operationId": "SimpleListLoad",
            "value-collection": "rows",
            "value-path": "label",
            "value-title": "label",
            "parameters": {
              "simple_list_id": "0354fc77-f2d9-4dc4-aa33-9d4c5d84dc84",
              "paramKey1": "prospectplanid",
              "paramValue1": {
                "parameter": "prospect_plan_id"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "SimpleListLoad",
            "itemsPath": "rows",
            "itemValuePath": "label",
            "itemTitlePath": "label",
            "parameters": {
              "simple_list_id": {
                "value": "0354fc77-f2d9-4dc4-aa33-9d4c5d84dc84"
              },
              "paramKey1": {
                "value": "prospectplanid"
              },
              "paramValue1": {
                "parameterReference": "body/prospect_plan_id"
              }
            }
          }
        },
        "comment": {
          "type": "string",
          "description": "The step comment.",
          "x-ms-summary": "Comment"
        },
        "interaction_type": {
          "type": "string",
          "description": "The interaction contact method for the step.",
          "x-ms-summary": "Contact method",
          "x-ms-dynamic-values": {
            "operationId": "ListCodeTableEntries",
            "value-collection": "value",
            "value-path": "description",
            "value-title": "description",
            "parameters": {
              "code_table_name": "INTERACTIONTYPECODE"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListCodeTableEntries",
            "itemsPath": "value",
            "itemValuePath": "description",
            "itemTitlePath": "description",
            "parameters": {
              "code_table_name": {
                "value": "INTERACTIONTYPECODE"
              }
            }
          }
        },
        "interaction_category": {
          "type": "string",
          "description": "The step interaction category.",
          "x-ms-summary": "Category",
          "x-ms-dynamic-values": {
            "operationId": "SimpleListLoad",
            "value-collection": "rows",
            "value-path": "label",
            "value-title": "label",
            "parameters": {
              "simple_list_id": "cbba7545-b66f-44ac-aa24-d9c2f8cbc4ec"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "SimpleListLoad",
            "itemsPath": "rows",
            "itemValuePath": "label",
            "itemTitlePath": "label",
            "parameters": {
              "simple_list_id": {
                "value": "cbba7545-b66f-44ac-aa24-d9c2f8cbc4ec"
              }
            }
          }
        },
        "interaction_subcategory": {
          "type": "string",
          "description": "The step interaction subcategory.",
          "x-ms-summary": "Subcategory",
          "x-ms-dynamic-values": {
            "operationId": "SimpleListLoad",
            "value-collection": "rows",
            "value-path": "label",
            "value-title": "label",
            "parameters": {
              "simple_list_id": "0eacc39b-07d1-4641-8774-e319559535a7",
              "paramKey1": "interactioncategoryid",
              "paramValue1": {
                "parameter": "interaction_category"
              },
              "paramSourceType1": "SimpleDataList",
              "paramSource1": "cbba7545-b66f-44ac-aa24-d9c2f8cbc4ec"

            }
          },
          "x-ms-dynamic-list": {
            "operationId": "SimpleListLoad",
            "itemsPath": "rows",
            "itemValuePath": "label",
            "itemTitlePath": "label",
            "parameters": {
              "simple_list_id": {
                "value": "0eacc39b-07d1-4641-8774-e319559535a7"
              },
              "paramKey1": {
                "value": "interactioncategoryid"
              },
              "paramValue1": {
                "parameterReference": "body/interaction_category"
              },
              "paramSourceType1": {
                "value": "SimpleDataList"
              },
              "paramSource1": {
                "value": "cbba7545-b66f-44ac-aa24-d9c2f8cbc4ec"
              }
            }
          }
        },
        "is_all_day_event": {
          "type": "boolean",
          "description": "Is the interaction an all-day event?",
          "x-ms-summary": "All-day event?"
        },
        "expected_start_time": {
          "type": "object",
          "description": "The expected start time for the step.",
          "x-ms-summary": "Expected start",
          "properties": {
            "hour": {
              "type": "integer",
              "format": "int32",
              "description": "The hour.",
              "x-ms-summary": "hour"
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "description": "The minute.",
              "x-ms-summary": "minute"
            }
          }
        },
        "expected_end_time": {
          "type": "object",
          "description": "The expected end time for the step.",
          "x-ms-summary": "Expected end",
          "properties": {
            "hour": {
              "type": "integer",
              "format": "int32",
              "description": "The hour.",
              "x-ms-summary": "hour"
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "description": "The minute.",
              "x-ms-summary": "minute"
            }
          }
        },
        "time_zone_entry": {
          "type": "string",
          "description": "The time zone for the step.",
          "x-ms-summary": "Time zone",
          "x-ms-dynamic-values": {
            "operationId": "SimpleListLoad",
            "value-collection": "rows",
            "value-path": "label",
            "value-title": "label",
            "parameters": {
              "simple_list_id": "7fba76fa-b1ea-4c01-b841-edb18f03fe8c"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "SimpleListLoad",
            "itemsPath": "rows",
            "itemValuePath": "label",
            "itemTitlePath": "label",
            "parameters": {
              "simple_list_id": {
                "value": "7fba76fa-b1ea-4c01-b841-edb18f03fe8c"
              }
            }
          }
        },
        "actual_date": {
          "type": "string",
          "format": "date",
          "description": "The step actual date (ex: '2005-09-18').",
          "x-ms-summary": "Actual date"
        },
        "actual_start_time": {
          "type": "object",
          "description": "The actual start time for the step.",
          "x-ms-summary": "Actual start",
          "properties": {
            "hour": {
              "type": "integer",
              "format": "int32",
              "description": "The hour.",
              "x-ms-summary": "hour"
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "description": "The minute.",
              "x-ms-summary": "minute"
            }
          }
        },
        "actual_end_time": {
          "type": "object",
          "description": "The actual end time for the step.",
          "x-ms-summary": "Actual end",
          "properties": {
            "hour": {
              "type": "integer",
              "format": "int32",
              "description": "The hour.",
              "x-ms-summary": "hour"
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "description": "The minute.",
              "x-ms-summary": "minute"
            }
          }
        },
        "location": {
          "type": "string",
          "description": "The step location.",
          "x-ms-summary": "Location",
          "x-ms-dynamic-values": {
            "operationId": "ListMajorGivingPlanLocations",
            "value-collection": "rows",
            "value-path": "label",
            "value-title": "label",
            "parameters": {
              "plan_id": {
                "parameter": "prospect_plan_id"
              }
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListMajorGivingPlanLocations",
            "itemsPath": "rows",
            "itemValuePath": "label",
            "itemTitlePath": "label",
            "parameters": {
              "plan_id": {
                "parameterReference": "body/prospect_plan_id"
              }
            }
          }
        },
        "other_location": {
          "type": "string",
          "maxLength": 300,
          "minLength": 0,
          "description": "The other location for the step interaction. Character limit: 300.",
          "x-ms-summary": "Other location"
        },
        "additional_fundraisers": {
          "type": "array",
          "description": "The additional fundraisers for the step.",
          "x-ms-summary": "Fundraisers",
          "x-ms-visibility": "advanced",
          "items": {
              "$ref": "#/definitions/Prsmg.NewMajorGivingPlanStepFundraiser"
          }
        },
        "participants": {
          "type": "array",
          "description": "The step interaction participants.",
          "x-ms-summary": "Participants",
          "x-ms-visibility": "advanced",
          "items": {
              "$ref": "#/definitions/Prsmg.NewMajorGivingPlanStepParticipant"
          }
        }
      }
    },
    "Prsmg.NewMajorGivingPlanStepFundraiser": {
      "type": "object",
      "description": "An object representing a major giving plan step fundraiser.",
      "required": [
        "fundraiser_id"
      ],
      "properties": {
        "fundraiser_id": {
          "type": "string",
          "description": "The system record ID of the fundraiser constituent.",
          "x-ms-summary": "ID"
        }
      }
    },
    "Prsmg.NewMajorGivingPlanStepParticipant": {
      "type": "object",
      "description": "An object representing a major giving plan step interaction participant.",
      "required": [
        "constituent_id"
      ],
      "properties": {
        "constituent_id": {
          "type": "string",
          "description": "The system record ID of the participant constituent.",
          "x-ms-summary": "ID"
        }
      }
    },
    "Prsmg.NewProspectConstituency": {
      "type": "object",
      "description": "An object that defines a new prospect constituency for a constituent.",
      "required": [
        "constituent_id"
      ],
      "properties": {
        "constituent_id": {
          "type": "string",
          "description": "The system record ID of the constituent.",
          "x-ms-summary": "Constituent ID"
        },
        "date_from": {
          "type": "string",
          "format": "date",
          "description": "The starting date for the constituency (ex: '2005-09-18').",
          "x-ms-summary": "Date from"
        },
        "date_to": {
          "type": "string",
          "format": "date",
          "description": "The ending date for the constituency (ex: '2005-09-18').",
          "x-ms-summary": "Date to"
        }
      }
    },
    "Prsmg.NewProspectOpportunity": {
      "type": "object",
      "description": "An object representing a new prospect opportunity.",
      "required": [
        "prospect_plan_id",
        "status"
      ],
      "properties": {
        "prospect_plan_id": {
          "type": "string",
          "description": "The system record ID of the prospect plan.",
          "x-ms-summary": "Plan ID"
        },
        "status": {
          "type": "string",
          "description": "The status of the opportunity.",
          "x-ms-summary": "Status",
          "enum": [
            "Unqualified",
            "Qualified",
            "Response pending",
            "Accepted",
            "Rejected",
            "Canceled"
          ]
        },
        "opportunity_type": {
          "type": "string",
          "description": "The opportunity type.",
          "x-ms-summary": "Type",
          "x-ms-dynamic-values": {
            "operationId": "ListCodeTableEntries",
            "value-collection": "value",
            "value-path": "description",
            "value-title": "description",
            "parameters": {
              "code_table_name": "OPPORTUNITYTYPECODE"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListCodeTableEntries",
            "itemsPath": "value",
            "itemValuePath": "description",
            "itemTitlePath": "description",
            "parameters": {
              "code_table_name": {
                "value": "OPPORTUNITYTYPECODE"
              }
            }
          }
        },
        "expected_ask_amount": {
          "type": "number",
          "format": "double",
          "description": "The expected ask amount.",
          "x-ms-summary": "Expected ask amount"
        },
        "expected_ask_date": {
          "type": "string",
          "format": "date",
          "description": "The expected ask date (ex: '2005-09-18').",
          "x-ms-summary": "Expected ask date"
        },
        "likelihood_type_code": {
          "type": "string",
          "description": "The opportunity likelihood.",
          "x-ms-summary": "Likelihood",
          "x-ms-dynamic-values": {
            "operationId": "SimpleListLoad",
            "value-collection": "rows",
            "value-path": "label",
            "value-title": "label",
            "parameters": {
              "simple_list_id": "5022c5b9-dc82-4748-9084-2e73d6d5c3ac"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "SimpleListLoad",
            "itemsPath": "rows",
            "itemValuePath": "label",
            "itemTitlePath": "label",
            "parameters": {
              "simple_list_id": {
                "value": "5022c5b9-dc82-4748-9084-2e73d6d5c3ac"
              }
            }
          }
        },
        "ask_amount": {
          "type": "number",
          "format": "double",
          "description": "The ask amount.",
          "x-ms-summary": "Ask amount"
        },
        "ask_date": {
          "type": "string",
          "format": "date",
          "description": "The ask date (ex: '2005-09-18').",
          "x-ms-summary": "Ask date"
        },
        "accepted_amount": {
          "type": "number",
          "format": "double",
          "description": "The accepted ask amount.",
          "x-ms-summary": "Accepted amount"
        },
        "response_date": {
          "type": "string",
          "format": "date",
          "description": "The response date (ex: '2005-09-18').",
          "x-ms-summary": "Response date"
        },
        "comment": {
          "type": "string",
          "description": "The opportunity comment.",
          "x-ms-summary": "Comment"
        },
        "transaction_currency": {
          "type": "string",
          "description": "The transaction currency.",
          "x-ms-summary": "Transaction currency",
          "x-ms-visibility": "advanced",
          "x-ms-dynamic-values": {
            "operationId": "SimpleListLoad",
            "value-collection": "rows",
            "value-path": "label",
            "value-title": "label",
            "parameters": {
              "simple_list_id": "8a664965-e688-48d0-8f83-a95ba6708eae"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "SimpleListLoad",
            "itemsPath": "rows",
            "itemValuePath": "label",
            "itemTitlePath": "label",
            "parameters": {
              "simple_list_id": {
                "value": "8a664965-e688-48d0-8f83-a95ba6708eae"
              }
            }
          }
        }
      }
    },
    "Prsmg.NewStewardshipPlan": {
      "type": "object",
      "description": "An object representing a new stewardship plan.",
      "required": [
        "constituent_id",
        "name"
      ],
      "properties": {
        "constituent_id": {
          "type": "string",
          "description": "The system record ID of the prospect constituent.",
          "x-ms-summary": "Prospect ID"
        },
        "name": {
          "type": "string",
          "maxLength": 100,
          "minLength": 0,
          "description": "The plan name. Character limit: 100.",
          "x-ms-summary": "Name"
        },
        "plan_type_id": {
          "type": "string",
          "description": "The plan type.",
          "x-ms-summary": "Type",
          "x-ms-dynamic-values": {
            "operationId": "ListCodeTableEntries",
            "value-collection": "value",
            "value-path": "description",
            "value-title": "description",
            "parameters": {
              "code_table_name": "STEWARDSHIPPLANTYPECODE"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListCodeTableEntries",
            "itemsPath": "value",
            "itemValuePath": "description",
            "itemTitlePath": "description",
            "parameters": {
              "code_table_name": {
                "value": "STEWARDSHIPPLANTYPECODE"
              }
            }
          }
        },
        "plan_sub_type_id": {
          "type": "string",
          "description": "The plan subtype.",
          "x-ms-summary": "Subtype",
          "x-ms-dynamic-values": {
            "operationId": "ListCodeTableEntries",
            "value-collection": "value",
            "value-path": "description",
            "value-title": "description",
            "parameters": {
              "code_table_name": "STEWARDSHIPPLANSUBTYPECODE"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListCodeTableEntries",
            "itemsPath": "value",
            "itemValuePath": "description",
            "itemTitlePath": "description",
            "parameters": {
              "code_table_name": {
                "value": "STEWARDSHIPPLANSUBTYPECODE"
              }
            }
          }
        },
        "start_date": {
          "type": "string",
          "format": "date",
          "description": "The plan start date (ex: '2005-09-18').",
          "x-ms-summary": "Start date"
        },
        "manager_id": {
          "type": "string",
          "description": "The system record ID of the prospect manager fundraiser.",
          "x-ms-summary": "Manager ID"
        },
        "manager_start_date": {
          "type": "string",
          "format": "date",
          "description": "The manager start date (ex: '2005-09-18').",
          "x-ms-summary": "Manager start date"
        },
        "stewards": {
          "type": "array",
          "description": "The plan stewards.",
          "x-ms-summary": "Stewards",
          "x-ms-visibility": "advanced",
          "items": {
              "$ref": "#/definitions/Prsmg.NewStewardshipPlanSteward"
          }
        }
      }
    },
    "Prsmg.NewStewardshipPlanStep": {
      "type": "object",
      "description": "An object representing a new stewardship plan step.",
      "required": [
        "stewardship_plan_id",
        "objective",
        "target_date",
        "recurs"
      ],
      "properties": {
        "stewardship_plan_id": {
          "type": "string",
          "description": "The system record ID of the stewardship plan.",
          "x-ms-summary": "Plan ID"
        },
        "objective": {
          "type": "string",
          "maxLength": 100,
          "minLength": 0,
          "description": "The step objective. Character limit: 100.",
          "x-ms-summary": "Objective"
        },
        "target_date": {
          "type": "string",
          "format": "date",
          "description": "The step target date (ex: '2005-09-18').",
          "x-ms-summary": "Target date"
        },
        "date_locked": {
          "type": "boolean",
          "description": "Is the target date locked?",
          "x-ms-summary": "Locked?"
        },
        "all_day_event": {
          "type": "boolean",
          "description": "Is the interaction an all-day event?",
          "x-ms-summary": "All-day event?"
        },
        "target_start_time": {
          "type": "object",
          "description": "The target start time for the step.",
          "x-ms-summary": "Target start",
          "properties": {
            "hour": {
              "type": "integer",
              "format": "int32",
              "description": "The hour.",
              "x-ms-summary": "hour"
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "description": "The minute.",
              "x-ms-summary": "minute"
            }
          }
        },
        "target_end_time": {
          "type": "object",
          "description": "The target end time for the step.",
          "x-ms-summary": "Target end",
          "properties": {
            "hour": {
              "type": "integer",
              "format": "int32",
              "description": "The hour.",
              "x-ms-summary": "hour"
            },
            "minute": {
              "type": "integer",
              "format": "int32",
              "description": "The minute.",
              "x-ms-summary": "minute"
            }
          }
        },
        "time_zone_entry": {
          "type": "string",
          "description": "The time zone for the step.",
          "x-ms-summary": "Time zone",
          "x-ms-dynamic-values": {
            "operationId": "SimpleListLoad",
            "value-collection": "rows",
            "value-path": "label",
            "value-title": "label",
            "parameters": {
              "simple_list_id": "7fba76fa-b1ea-4c01-b841-edb18f03fe8c"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "SimpleListLoad",
            "itemsPath": "rows",
            "itemValuePath": "label",
            "itemTitlePath": "label",
            "parameters": {
              "simple_list_id": {
                "value": "7fba76fa-b1ea-4c01-b841-edb18f03fe8c"
              }
            }
          }
        },
        "status_code": {
          "type": "string",
          "description": "The status of the plan step.",
          "x-ms-summary": "Status",
          "enum": [
            "Pending",
            "Completed",
            "Cancelled",
            "Declined"  
          ]
        },
        "category": {
          "type": "string",
          "description": "The plan step category.",
          "x-ms-summary": "Category",
          "x-ms-dynamic-values": {
            "operationId": "ListCodeTableEntries",
            "value-collection": "value",
            "value-path": "description",
            "value-title": "description",
            "parameters": {
              "code_table_name": "STEWARDSHIPSTEPCATEGORYCODE"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListCodeTableEntries",
            "itemsPath": "value",
            "itemValuePath": "description",
            "itemTitlePath": "description",
            "parameters": {
              "code_table_name": {
                "value": "STEWARDSHIPSTEPCATEGORYCODE"
              }
            }
          }
        },
        "constituent_id": {
          "type": "string",
          "description": "The system record ID of the step owner fundraiser constituent.",
          "x-ms-summary": "Assigned to"
        },
        "contact_method": {
          "type": "string",
          "description": "The interaction contact method for the step.",
          "x-ms-summary": "Contact method",
          "x-ms-dynamic-values": {
            "operationId": "ListCodeTableEntries",
            "value-collection": "value",
            "value-path": "description",
            "value-title": "description",
            "parameters": {
              "code_table_name": "INTERACTIONTYPECODE"
            }
          },
          "x-ms-dynamic-list": {
            "operationId": "ListCodeTableEntries",
            "itemsPath": "value",
            "itemValuePath": "description",
            "itemTitlePath": "description",
            "parameters": {
              "code_table_name": {
                "value": "INTERACTIONTYPECODE"
              }
            }
          }
        },
        "recurs": {
          "type": "string",
          "description": "The step frequency.",
          "x-ms-summary": "Frequency",
          "enum": [
            "Single Occurrence",
            "Annually",
            "Semi-Annually",
            "Quarterly",
            "Bi-Monthly",
            "Monthly",
            "Semi-Monthly",
            "Bi-Weekly",
            "Weekly"
          ]
        },
        "start_date": {
          "type": "string",
          "format": "date",
          "description": "The step actual date (ex: '2005-09-18').",
          "x-ms-summary": "Start date"
        },
        "end_date": {
          "type": "string",
          "format": "date",
          "description": "The step actual date (ex: '2005-09-18').",
          "x-ms-summary": "End date"
        },
        "next_target_date": {
          "type": "string",
          "format": "date",
          "description": "The step next target date (ex: '2005-09-18').",
          "x-ms-summary": "Next target date"
        },
        "link_type_code": {
          "type": "string",
          "description": "The type of record connected to the step.",
          "x-ms-summary": "Connect to",
          "enum": [
            "Benefit",
            "Event",
            "Mailing"
          ]
        },
[...]
