{
  "swagger": "2.0",
  "info": {
    "title": "EONET by NASA",
    "description": "The Earth Observatory Natural Event Tracker (EONET) is a prototype web service from NASA with the goal of providing a curated source of continuously updated natural event metadata and providing a service that links those natural events to thematically-related web service-enabled image sources (e.g., via WMS, WMTS, etc.).",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "eonet.sci.gsfc.nasa.gov",
  "basePath": "/api/v3/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/events": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The title of the API endpoint.",
                  "title": "Title"
                },
                "description": {
                  "type": "string",
                  "description": "The description of the response.",
                  "title": "Response Description"
                },
                "link": {
                  "type": "string",
                  "description": "The full link to the API endpoint.",
                  "title": "Endpoint Link"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique ID for this event.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of the event.",
                        "title": "Event Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Optional longer description of the event.",
                        "title": "Description"
                      },
                      "link": {
                        "type": "string",
                        "description": "The full link to this specific event.",
                        "title": "Event Link"
                      },
                      "closed": {
                        "type": "string",
                        "description": "An event is deemed closed when it has ended. The closed field will include a date/time when the event has ended. Depending upon the nature of the event, the closed value may or may not accurately represent the absolute ending of the event. If the event is open, this will show null.",
                        "title": "Closed"
                      },
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Unique ID for this category.",
                              "title": "Category ID"
                            },
                            "title": {
                              "type": "string",
                              "description": "Unique ID for this category.",
                              "title": "Category Title"
                            }
                          }
                        },
                        "description": "One or more categories assigned to the event.",
                        "title": "Categories"
                      },
                      "sources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The source ID.",
                              "title": "Source ID"
                            },
                            "url": {
                              "type": "string",
                              "description": "The source URL.",
                              "title": "Source URL"
                            }
                          }
                        },
                        "description": "One or more categories assigned to the event.",
                        "title": "Sources"
                      },
                      "geometry": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "magnitudeValue": {
                              "type": "number",
                              "format": "float",
                              "description": "The magnitude value.",
                              "title": "Magnitude Value"
                            },
                            "magnitudeUnit": {
                              "type": "string",
                              "description": "The magnitude unit.",
                              "title": "Magnitude Unit"
                            },
                            "date": {
                              "type": "string",
                              "description": "The date.",
                              "title": "date"
                            },
                            "type": {
                              "type": "string",
                              "description": "The geometry type.",
                              "title": "type"
                            },
                            "coordinates": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "float",
                                "description": "The geometry coordinates.",
                                "title": "Coordinate value"
                              },
                              "description": "The geometry coordinates.",
                              "title": "Coordinates"
                            }
                          }
                        },
                        "description": "One or more event geometries are the pairing of a specific date/time with a location. The date/time will most likely be 00:00Z unless the source provided a particular time. The geometry will be a GeoJSON object of either type point or polygon.",
                        "title": "Geometry"
                      }
                    }
                  },
                  "description": "The event object returned from the Events API."
                }
              }
            }
          }
        },
        "summary": "Get events",
        "description": "Retrieves event imagery.",
        "operationId": "Events",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Source",
            "description": "Filter the returned events by the Source. Multiple sources can be included in the parameter: comma separated, operates as a boolean OR."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the returned events by the Category. Multiple sources can be included in the parameter: comma separated, operates as a boolean OR.",
            "x-ms-summary": "Category"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "open",
            "description": "Events that have ended are assigned a closed date and the existence of that date will allow you to filter for only-open or only-closed events. Omitting the status parameter will return only the currently open events (default). Using call will list open and closed values.",
            "x-ms-summary": "Status",
            "enum": [
              "open",
              "closed",
              "all"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limits the number of events returned",
            "x-ms-summary": "Limit"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limit the number of prior days (including today) from which events will be returned.",
            "x-ms-summary": "Days"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The start date for the events in a YYYY-MM-DD format.",
            "x-ms-summary": "Start"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end date for the events in a YYYY-MM-DD format.",
            "x-ms-summary": "End"
          },
          {
            "name": "magID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The Magnitude ID for the events.",
            "x-ms-summary": "MagID"
          },
          {
            "name": "magMin",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The Magnitude Minimum for the events.",
            "x-ms-summary": "MagMin"
          },
          {
            "name": "magMax",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The Magnitude Max for the events.",
            "x-ms-summary": "MagMax"
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Query using a bounding box for all events with datapoints that fall within. This uses two pairs of coordinates: the upper left hand corner (lon,lat) followed by the lower right hand corner (lon,lat).",
            "x-ms-summary": "BBox"
          }
        ]
      }
    },
    "/events/geojson": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "The response type.",
                  "title": "Response Type"
                },
                "features": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of data object.",
                        "title": "Feature Type"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique ID for this event.",
                            "title": "ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the event.",
                            "title": "Title"
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional longer description of the event.",
                            "title": "Event Description"
                          },
                          "link": {
                            "type": "string",
                            "description": "The full link to the API endpoint for this specific event.",
                            "title": "Link"
                          },
                          "closed": {
                            "type": "string",
                            "description": "An event is deemed closed when it has ended. The closed field will include a date/time when the event has ended. Depending upon the nature of the event the closed value may or may not accurately represent the absolute ending of the event. If the event is open this will show null.",
                            "title": "Closed"
                          },
                          "date": {
                            "type": "string",
                            "description": "The date of the event.",
                            "title": "date"
                          },
                          "magnitudeValue": {
                            "type": "number",
                            "format": "float",
                            "description": "Information regarding the event magnitude value.",
                            "title": "Magnitude Value"
                          },
                          "magnitudeUnit": {
                            "type": "string",
                            "description": "Information regarding the event magnitude unit.",
                            "title": "Magnitude Unit"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The category ID.",
                                  "title": "Category ID"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The category title.",
                                  "title": "Category Title"
                                }
                              }
                            },
                            "description": "categories"
                          },
                          "sources": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The source ID.",
                                  "title": "Source ID"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The source URL.",
                                  "title": "Source URL"
                                }
                              }
                            },
                            "description": "sources"
                          }
                        },
                        "description": "properties"
                      },
                      "geometry": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The geometry type.",
                            "title": "Geometry Type"
                          },
                          "coordinates": {
                            "type": "array",
                            "items": {
                              "type": "number",
                              "format": "float",
                              "description": "A number of geometry coordinates.",
                              "title": "Coordinate"
                            },
                            "description": "coordinates"
                          }
                        },
                        "description": "geometry"
                      }
                    }
                  },
                  "description": "features"
                }
              }
            }
          }
        },
        "summary": "Get events in GeoJSON format",
        "description": "Retrieves event imagery in the GeoJSON format.",
        "operationId": "EventsGeoJSON",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Source",
            "description": "Filter the returned events by the Source. Multiple sources can be included in the parameter: comma separated, operates as a boolean OR."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter the returned events by the Category. Multiple sources can be included in the parameter: comma separated, operates as a boolean OR.",
            "x-ms-summary": "Category"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "open",
            "description": "Events that have ended are assigned a closed date and the existence of that date will allow you to filter for only-open or only-closed events. Omitting the status parameter will return only the currently open events (default). Using call will list open and closed values.",
            "x-ms-summary": "Status",
            "enum": [
              "open",
              "closed",
              "all"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limits the number of events returned",
            "x-ms-summary": "Limit"
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limit the number of prior days (including today) from which events will be returned.",
            "x-ms-summary": "Days"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The start date for the events in a YYYY-MM-DD format.",
            "x-ms-summary": "Start"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end date for the events in a YYYY-MM-DD format.",
            "x-ms-summary": "End"
          },
          {
            "name": "magID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The Magnitude ID for the events.",
            "x-ms-summary": "MagID"
          },
          {
            "name": "magMin",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The Magnitude Minimum for the events.",
            "x-ms-summary": "MagMin"
          },
          {
            "name": "magMax",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The Magnitude Max for the events.",
            "x-ms-summary": "MagMax"
          },
          {
            "name": "bbox",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Query using a bounding box for all events with datapoints that fall within. This uses two pairs of coordinates: the upper left hand corner (lon,lat) followed by the lower right hand corner (lon,lat).",
            "x-ms-summary": "BBox"
          }
        ]
      }
    },
    "/categories/{category}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The reponse title.",
                  "title": "Response title"
                },
                "description": {
                  "type": "string",
                  "description": "The response description.",
                  "title": "Response description"
                },
                "link": {
                  "type": "string",
                  "description": "The response link.",
                  "title": "Response link"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique id for this type.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of the category.",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "Longer description of the category addressing the scope.",
                        "title": "Description"
                      },
                      "link": {
                        "type": "string",
                        "description": "The full link to the API endpoint for this specific category which is the same as the Categories API endpoint filtered to return only events from this category.",
                        "title": "Link"
                      },
                      "closed": {
                        "type": "string",
                        "description": "An event is deemed closed when it has ended. The closed field will include a date/time when the event has ended. Depending upon the nature of the event the closed value may or may not accurately represent the absolute ending of the event. If the event is open this will show null.",
                        "title": "Closed"
                      },
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The category ID.",
                              "title": "Category ID"
                            },
                            "title": {
                              "type": "string",
                              "description": "The category title.",
                              "title": "Category Title"
                            }
                          }
                        },
                        "description": "categories"
                      },
                      "sources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The source ID.",
                              "title": "Source ID"
                            },
                            "url": {
                              "type": "string",
                              "description": "The source URL.",
                              "title": "Source URL"
                            }
                          }
                        },
                        "description": "sources"
                      },
                      "geometry": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "magnitudeValue": {
                              "type": "number",
                              "format": "float",
                              "description": "The geometry magnitude value.",
                              "title": "Geometry Magnitude Value"
                            },
                            "magnitudeUnit": {
                              "type": "string",
                              "description": "The geometry magnitude unit.",
                              "title": "Geometry Magnitude Unit"
                            },
                            "date": {
                              "type": "string",
                              "description": "The geometry date.",
                              "title": "Geometry Date"
                            },
                            "type": {
                              "type": "string",
                              "description": "The geometry type.",
                              "title": "Geometry Type"
                            },
                            "coordinates": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "float",
                                "description": "The geometry coordinate items.",
                                "title": "Geometry Coordinates"
                              },
                              "description": "coordinates"
                            }
                          }
                        },
                        "description": "geometry"
                      }
                    }
                  },
                  "description": "events"
                }
              }
            }
          }
        },
        "summary": "Get events by categories",
        "description": "Retrieves a list of categories filtered by event.",
        "operationId": "EventCategories",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Category",
            "description": "Filter the events by the category.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Source",
            "description": "Filter the topically-constrained events by the Source. Multiple sources can be included in the parameter; comma separated operates as a boolean OR."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Status",
            "description": "Events that have ended are assigned a closed date and the existence of that date will allow you to filter for only-open or only-closed events. Omitting the status parameter will return only the currently open events.",
            "enum": [
              "open",
              "closed"
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit",
            "description": "Limits the number of events returned."
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Days",
            "description": "Limit the number of prior days (including today) from which events will be returned."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Start",
            "description": "Select start date in a YYYY-MM-DD format."
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "End",
            "description": "Select end date in a YYYY-MM-DD format."
          }
        ]
      }
    },
    "/categories": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "headers": {
              "Content-Type": {
                "description": "application/rss+xml",
                "type": "string"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The reponse title.",
                  "title": "Response title"
                },
                "description": {
                  "type": "string",
                  "description": "The response description.",
                  "title": "Response description"
                },
                "link": {
                  "type": "string",
                  "description": "The response link.",
                  "title": "Response link"
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique ID for this category.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of the category.",
                        "title": "Title"
                      },
                      "link": {
                        "type": "string",
                        "description": "The full link to the API endpoint for this specific category which is the same as the Categories API endpoint filtered to return only events from this category.",
                        "title": "Link"
                      },
                      "description": {
                        "type": "string",
                        "description": "Longer description of the category addressing the scope. Most likely only a sentence or two.",
                        "title": "Description"
                      },
                      "layers": {
                        "type": "string",
                        "description": "A service endpoint that points to the Layers API endpoint filtered to return only layers from this category.",
                        "title": "Layers"
                      }
                    }
                  },
                  "description": "categories"
                }
              }
            }
          }
        },
        "summary": "Get categories",
        "description": "Retrieves a list of categories.",
        "operationId": "Categories",
        "parameters": []
      }
    },
    "/layers/{category}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The response title.",
                  "title": "Response Title"
                },
                "description": {
                  "type": "string",
                  "description": "The response description.",
                  "title": "Response Description"
                },
                "link": {
                  "type": "string",
                  "description": "The response link.",
                  "title": "Response Link"
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "layers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "The name of the layer as specified by the source web service found at service URL.",
                              "title": "Name"
                            },
                            "serviceUrl": {
                              "type": "string",
                              "description": "The base URL of the web service.",
                              "title": "Service URL"
                            },
                            "serviceTypeId": {
                              "type": "string",
                              "description": "A string to indicate the type and version of the web service found at service URL.",
                              "title": "Service Type ID"
                            },
                            "parameters": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "TILEMATRIXSET": {
                                    "type": "string",
                                    "description": "The parameter tile matrix set.",
                                    "title": "Tile Matrix Set"
                                  },
                                  "FORMAT": {
                                    "type": "string",
                                    "description": "The parameter format.",
                                    "title": "Format"
                                  }
                                }
                              },
                              "description": "parameters"
                            }
                          }
                        },
                        "description": "layers"
                      }
                    }
                  },
                  "description": "categories"
                }
              }
            }
          }
        },
        "summary": "Get layers",
        "description": "Retrieves a list of layers.",
        "operationId": "Layers",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Category",
            "description": "Filter the layers by the category.",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/sources": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "headers": {
              "Content-Type": {
                "description": "application/rss+xml",
                "type": "string"
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "The reponse title.",
                  "title": "Response title"
                },
                "description": {
                  "type": "string",
                  "description": "The response description.",
                  "title": "Response description"
                },
                "link": {
                  "type": "string",
                  "description": "The response link.",
                  "title": "Response link"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique id for this type.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of this source.",
                        "title": "Title"
                      },
                      "source": {
                        "type": "string",
                        "description": "The homepage URL for the source.",
                        "title": "Source"
                      },
                      "link": {
                        "type": "string",
                        "description": "The full link to the API endpoint for this specific source which is the same as the Events API endpoint only filtered to return only events from this source.",
                        "title": "Link"
                      }
                    }
                  },
                  "description": "sources"
                }
              }
            }
          }
        },
        "summary": "Get sources",
        "description": "Retrieves a list of sources.",
        "operationId": "Sources",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://eonet.sci.gsfc.nasa.gov/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nasa.gov/about/highlights/HP_Privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}
