{
  "swagger": "2.0",
  "info": {
    "title": "Hash Generator",
    "description": "This hash generator allows you to generate hashes from your input string. You can choose between SHA1, SHA256, SHA512 and MD5.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "powerautomate.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "hash": {
                  "type": "string",
                  "description": "The hash.",
                  "title": "Hash"
                },
                "valueToHash": {
                  "type": "string",
                  "description": "The value hashed.",
                  "title": "Value To Hash"
                }
              }
            }
          }
        },
        "summary": "Generate Hash",
        "description": "Generate a hash from the given string.",
        "operationId": "Hash",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "string": {
                  "type": "string",
                  "description": "The string to be hashed.",
                  "title": "String"
                },
                "type": {
                  "type": "string",
                  "description": "The hash type.",
                  "title": "Hash Type",
                  "enum": [
                    "sha1",
                    "sha256",
                    "sha512",
                    "md5"
                  ],
                  "x-ms-enum-values": [
                    {
                      "displayName": "SHA1",
                      "value": "sha1"
                    },
                    {
                      "displayName": "SHA256",
                      "value": "sha256"
                    },
                    {
                      "displayName": "SHA512",
                      "value": "sha512"
                    },
                    {
                      "displayName": "MD5",
                      "value": "md5"
                    }
                  ],
                  "default": "sha1"
                }
              },
              "required": [
                "string"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.troystaylor.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.troystaylor.com/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security"
    }
  ]
}
