{
    "swagger": "2.0",
    "info": {
        "title": "USB4SAP",
        "version": "1.0",
        "description": "Universal Synch Bridge for SAP: One access point for all SAP integration, analytics and UI needs. Simplify modern analytics, apps and automations. Provision SAP data, insights and automation On-demand.",
        "contact": {
            "name": "Ecoservity",
            "url": "https://www.ecoservity.com/#contact",
            "email": "hello@ecoservity.com"
        }
    },
    "host": "ecs-apim1.azure-api.net",
    "basepath": "/usb4sap_live_cache-v2",
    "schemes": [
        "https"
    ],
    "paths": {
        "/sap/opu/odata/ECOS/OBJ2CLOUD_V2_SRV/ET_DatasetSet": {
            "get": {
                "summary": "GET call to extract metadata and data from SAP data objects",
                "operationId": "GetCallExtractMetadata",
                "description": "The GET call extracts data along with its metadata from SAP, based on the selection criteria by user or background scheduled job.",
                "parameters": [
                    {
                        "name": "$filter",
                        "x-ms-summary": "Filter criteria specified by user",
                        "description": "Filter criteria is used by code to extract data from SAP.",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "x-example": "ObjectName eq 'T001W' and ObjectType eq 'T' and Delimiter eq '|' and ImportGeneric eq 'ALVV-MG' and DataDest eq '0:0|' "
                    },
                    {
                        "name": "$format",
                        "x-ms-summary": "Format of data to be returned from SAP",
                        "description": "Data format in response.",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "x-example": "json"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Application Error"
                    },
                    "default": {
                        "description": "Swagger generated by Ecoservity"
                    }
                }
            }
        }
    },
    "definitions": {},
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://www.ecoservity.com"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.ecoservity.com"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Business Intelligence"
        }
    ]
}
