{
  "swagger": "2.0",
  "info": {
    "version": "3.0",
    "title": "DQ on Demand",
    "contact": {
      "name": "Support",
      "url": "https://dqglobal.com/support",
      "email": "support@dqglobal.com"
    },
    "description": "DQ on Demand is a Data Quality as a Service (DQaaS) Data Quality Improvement Platform that is designed to make the task of data management simpler.\n\n DQ on Demand is for those who are not prepared to accept the high cost of low-quality data, are frustrated with differing levels of quality, conflicting rules and levels of and data governance.\n\nBilling is transactional, i.e. each request will consume credits, which can be spent on any of the available services."
  },
  "host": "api-v3.dqondemand.co.uk",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dqglobal.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.dqglobal.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ],
  "definitions": {
    "CasingOptions": {
      "type": "string",
      "enum": [
        "ProperCase_FamilyName",
        "ProperCase_Address",
        "UpperCase",
        "LowerCase",
        "TitleCase"
      ]
    },
    "ValidateActions": {
      "type": "string",
      "enum": [
        "Email",
        "Telephone",
        "PostCode",
        "UrlAddress"
      ]
    },
    "MetaverseCategories": {
      "type": "string",
      "enum": [
        "Addresses",
        "Numbers",
        "GivenNames",
        "Businesses",
        "BusinessJobTitles",
        "Dates",
        "Miscellaneous",
        "WeightsAndMeasures",
        "Qualifications",
        "Salutations",
        "Countries",
        "FamilyNames",
        "Salacious"
      ]
    },
    "TransformActions": {
      "type": "string",
      "enum": [
        "Elaborate",
        "Abbreviate",
        "Normalize",
        "Exclude",
        "Transliterate"
      ]
    },
    "MetaverseLanguage": {
      "type": "string",
      "enum": [
        "English",
        "Spanish",
        "French",
        "Italian",
        "German"
      ]
    },
    "FormatActions": {
      "type": "string",
      "enum": [
        "Email",
        "PostCode",
        "TelephoneE164",
        "TelephoneInternational",
        "TelephoneNational",
        "TelephoneRFC3966",
        "UrlAddress"
      ]
    },
    "DeriveActions": {
      "type": "string",
      "enum": [
        "Job",
        "Gender",
        "EmailType",
        "FromPostalCode",
        "CountryFromCity"
      ]
    },
    "PhoneticAlgorithms": {
      "type": "string",
      "enum": [
        "DQFonetix",
        "DQMetaphone",
        "DQSoundex",
        "Soundex",
        "Metaphone",
        "DoubleMetaphone",
        "Caverphone",
        "Caverphone2",
        "Nysiis"
      ]
    },
    "GenerateDoNotTokenize": {
      "type": "string",
      "enum": [
        "WhiteSpace",
        "Numbers",
        "Punctuation",
        "Symbol",
        "NonPrinting",
        "Letters"
      ]
    },
    "GenerateLetterSettingEnum": {
      "type": "string",
      "enum": [
        "Vowels",
        "Consonants"
      ]
    },
    "GenerateNumberOptionEnum": {
      "type": "string",
      "enum": [
        "Odd",
        "Even"
      ]
    },
    "ClassifyCategories": {
      "type": "string",
      "enum": [
        "All",
        "Addresses",
        "Numbers",
        "GivenNames",
        "Businesses",
        "BusinessJobTitles",
        "Dates",
        "Miscellaneous",
        "WeightsAndMeasures",
        "Qualifications",
        "Salutations",
        "Countries",
        "FamilyNames",
        "Salacious"
      ]
    },
    "ComparisonAlgorithms": {
      "type": "string",
      "enum": [
        "JaroWinkler",
        "Jaro",
        "LevenshteinPercentage",
        "LevenshteinChangeCount",
        "MongeElkan",
        "NeedlemanWunsch",
        "Sift3",
        "SmithWatermanGotoh",
        "HammingPercentage",
        "HammingChangeCount"
      ]
    },
    "ScoringComparisonAlgorithms": {
      "type": "string",
      "enum": [
        "Jaro",
        "JaroWinkler",
        "Levenshtein",
        "MongeElkan",
        "NeedlemanWunsch",
        "Sift3",
        "SmithWatermanGotoh"
      ]
    },
    "CongruenceActionEnum": {
      "type": "string",
      "enum": [
        "CountryToEmail",
        "CountryToPhone",
        "CountryToURL"
      ]
    },
    "AlphaSequenceParameter": {
      "type": "string",
      "enum": [
        "AscFields",
        "DescFields",
        "AscFieldsByWords",
        "DescFieldsByWords",
        "AscFieldsByCharacters",
        "DescFieldsByCharacters",
        "AscCharacters",
        "DescCharacters",
        "AscWords",
        "DescWords",
        "None"
      ]
    },
    "DateFormatEnum": {
      "type": "string",
      "enum": [
        "MMDDYYYY",
        "DDMMYYYY"
      ]
    },
    "ScoringMethodEnum": {
      "type": "string",
      "enum": [
        "InterScore",
        "IntraScore"
      ]
    },
    "AvailableScoreMethodsEnum": {
      "type": "string",
      "enum": [
        "AutoDetect",
        "DateDifferenceWithValidRangeForComparison",
        "EditDistanceScore",
        "EmailScore",
        "EmailScoreAsPerDomain",
        "EmailScoreAsPerUserName",
        "ExactMatch",
        "NumberDifferenceWithValidRangeForComparison"
      ]
    },
    "InterScoreMethodType": {
      "type": "string",
      "enum": [
        "AnyMatch",
        "AllMatch",
        "CountOfMatch",
        "ThresholdCount"
      ]
    },
    "ScoringResultEnum": {
      "type": "string",
      "enum": [
        "Simplified",
        "Full"
      ]
    },
    "ParseOptions": {
      "type": "string",
      "enum": [
        "PhoneNumber",
        "Email",
        "URL"
      ]
    },
    "SearchAddressProvider": {
      "type": "string",
      "enum": [
        "Loqate",
        "Fetchify",
        "GetAddressIO",
        "AFD"
      ]
    },
    "SuppressProvider": {
      "type": "string",
      "enum": [
        "REaDGroup"
      ]
    },
    "AuthenticateEmailProvider": {
      "type": "string",
      "enum": [
        "Betterfy",
        "TextMagic",
        "Loqate",
        "Fetchify",
        "Gamalogic",
        "AFD"
      ]
    },
    "AuthenticatePhoneProvider": {
      "type": "string",
      "enum": [
        "TextMagic",
        "Loqate",
        "Fetchify",
        "AFD"
      ]
    },
    "GetUsage": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "data": {
          "type": "object",
          "description": "The Response object.",
          "properties": {
            "FilterCriteria": {
              "type": "object",
              "description": "The supplied filter criteria.",
              "properties": {
                "startDate": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "format": "date-time",
                  "pattern": "yyyy-MM-dd hh:mm:ss.fff",
                  "description": "The StartDate entered."
                },
                "endDate": {
                  "type": "string",
                  "x-ms-visibility": "advanced",
                  "format": "date-time",
                  "pattern": "yyyy-MM-dd hh:mm:ss.fff",
                  "description": "The EndDate entered."
                }
              }
            },
            "Results": {
              "type": "array",
              "description": "A List of your usage details.",
              "items": {
                "type": "object",
                "properties": {
                  "providerName": {
                    "type": "string",
                    "description": "The name of the provider.",
                    "x-ms-visibility": "important"
                  },
                  "usage": {
                    "description": "An array containing all functions for the provider and your usage for each.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "functionName": {
                          "type": "string",
                          "description": "The name of the function.",
                          "x-ms-visibility": "important"
                        },
                        "creditsUsed": {
                          "type": "integer",
                          "format": "int64",
                          "description": "The number of credits you have spent on this function.",
                          "x-ms-visibility": "important"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "example": {
        "status": 200,
        "message": "Success",
        "data": {
          "filterCriteria": {
            "startDate": "2019-12-24 23:59:59:666",
            "endDate": "2019-12-25 00:00:00:666"
          },
          "results": [
            {
              "providerName": "DQ Global",
              "usage": [
                {
                  "functionName": "Classify",
                  "creditsUsed": 123
                },
                {
                  "functionName": "Derive",
                  "creditsUsed": 123
                }
              ]
            }
          ]
        }
      }
    },
    "GetPricesOutput": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "description": "The HTTP Status code of the response."
        },
        "message": {
          "type": "string",
          "description": "A message describing the request status."
        },
        "data": {
          "type": "array",
          "description": "The Response.",
          "items": {
            "type": "object",
            "properties": {
              "providerName": {
                "type": "string",
                "description": "The name of the provider."
              },
              "functions": {
                "type": "array",
                "description": "List of Functions offered by the provider.",
                "items": {
                  "type": "object",
                  "properties": {
                    "functionName": {
                      "type": "string",
                      "description": "The name of the function offered."
                    },
                    "creditCost": {
                      "type": "integer",
                      "x-nullable": true,
                      "description": "The cost of the function."
                    },
                    "functionDescription": {
                      "type": "string",
                      "description": "A brief description about the function."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "example": {
        "status": 200,
        "message": "Success",
        "data": [
          {
            "providerName": "DQ Global",
            "functions": [
              {
                "functionName": "Classify",
                "creditCost": 123456789,
                "functionDescription": "An example description"
              },
              {
                "functionName": "Derive",
                "creditCost": 123456789,
                "functionDescription": "An example description"
              },
              {
                "functionName": "Transform",
                "creditCost": 123456789,
                "functionDescription": "An example description"
              }
            ]
          }
        ]
      }
    },
    "ValidateInputJson": {
      "type": "array",
      "minItems": 0,
      "maxItems": 1000,
      "items": {
        "type": "object",
        "required": [
          "Input",
          "EntityType"
        ],
        "properties": {
          "Input": {
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The data to validate."
          },
          "EntityType": {
            "type": "string",
            "x-ms-visibility": "important",
            "enum": [
              "Email",
              "Telephone",
              "PostCode",
              "UrlAddress"
            ],
            "description": "The Type of Validation to perform."
          },
          "CountryIdentifier": {
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The country identifier (`GB`, `GBR`, `United Kingdom`, etc) to validate against."
          },
          "UID": {
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "The record identifier which will be echoed back to you."
          }
        }
      },
      "example": [
        {
          "Input": "info@@dqglobal.com",
          "EntityType": "Email",
          "UID": "<Record ID>"
        },
        {
          "Input": "www.dqglobal.coom",
          "EntityType": "UrlAddress",
          "UID": "<Record ID>"
        },
        {
          "Input": "PO13 9FU",
          "EntityType": "PostCode",
          "CountryIdentifier": "GB",
          "UID": "<Record ID>"
        }
      ]
    },
    "ValidateEmailInput": {
      "type": "array",
      "minItems": 0,
      "maxItems": 1000,
      "items": {
        "type": "object",
        "required": [
          "Input"
        ],
        "properties": {
          "Input": {
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The Email Address to validate."
          },
          "UID": {
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "The record identifier which will be echoed back to you."
          }
        }
      },
      "example": [
        {
          "Input": "info@@dqglobal.com",
          "UID": "<Record ID>"
        },
        {
          "Input": "info@dqglobal.com",
          "UID": "<Record ID>"
        }
      ]
    },
    "ValidatePostCodeInput": {
      "type": "array",
      "minItems": 0,
      "maxItems": 1000,
      "items": {
        "type": "object",
        "required": [
          "Input",
          "CountryIdentifier"
        ],
        "properties": {
          "Input": {
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The Postcode to validate."
          },
          "CountryIdentifier": {
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The country identifier (`GB`, `GBR`, `United Kingdom`, etc) to validate against."
          },
          "UID": {
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "The record identifier which will be echoed back to you."
          }
        }
      },
      "example": [
        {
          "Input": "PO13 9FU",
          "CountryIdentifier": "GB",
          "UID": "<Record ID>"
        },
        {
          "Input": "PO13 9FU",
          "CountryIdentifier": "USA",
          "UID": "<Record ID>"
        }
      ]
    },
    "ValidateTelephoneInput": {
      "type": "array",
      "minItems": 0,
      "maxItems": 1000,
      "items": {
        "type": "object",
        "required": [
          "Input",
          "CountryIdentifier"
        ],
        "properties": {
          "Input": {
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The Phone number to validate."
          },
          "CountryIdentifier": {
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The country identifier (`GB`, `GBR`, `United Kingdom`, etc) to validate against."
          },
          "UID": {
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "The record identifier which will be echoed back to you."
          }
        }
      },
      "example": [
        {
          "Input": "+442392988303",
          "CountryIdentifier": "GB",
          "UID": "<Record ID>"
        },
        {
          "Input": "+12392988303",
          "CountryIdentifier": "GB",
          "UID": "<Record ID>"
        }
      ]
    },
    "ValidateUrlAddressInput": {
      "type": "array",
      "minItems": 0,
      "maxItems": 1000,
      "items": {
        "type": "object",
        "required": [
          "Input"
        ],
        "properties": {
          "Input": {
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The URL to validate."
          },
          "UID": {
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "The record identifier which will be echoed back to you."
          }
        }
      },
      "example": [
        {
          "Input": "https://www.google.co.in/",
          "UID": "<Record ID>"
        },
        {
          "Input": "www.google.com",
          "UID": "<Record ID>"
        }
      ]
    },
    "ClassifyResponse": {
      "description": "The response.",
      "type": "object",
      "properties": {
        "addresses": {
          "type": "array",
          "description": "List of values that matched against the Address category.",
          "items": {
            "type": "string"
          }
        },
        "numbers": {
          "type": "array",
          "description": "List of values that matched against the Number category.",
          "items": {
            "type": "string"
          }
        },
        "givenNames": {
          "type": "array",
          "description": "List of values that matched against the Given Name category.",
          "items": {
            "type": "string"
          }
        },
        "businesses": {
          "type": "array",
          "description": "List of values that matched against the Business category.",
          "items": {
            "type": "string"
          }
        },
        "businessJobTitles": {
          "type": "array",
          "description": "List of values that matched against the Job Title category.",
          "items": {
            "type": "string"
          }
        },
        "dates": {
          "type": "array",
          "description": "List of values that matched against the Dates category.",
          "items": {
            "type": "string"
          }
        },
        "miscellaneous": {
          "type": "array",
          "description": "List of values that matched against the Miscellaneous category.",
          "items": {
            "type": "string"
          }
        },
        "weightsAndMeasures": {
          "type": "array",
          "description": "List of values that matched against the Weights and Measurements category.",
          "items": {
            "type": "string"
          }
        },
        "qualifications": {
          "type": "array",
          "description": "List of values that matched against the Qualifications category.",
          "items": {
            "type": "string"
          }
        },
        "salutations": {
          "type": "array",
          "description": "List of values that matched against the Salutations category.",
          "items": {
            "type": "string"
          }
        },
        "countries": {
          "type": "array",
          "description": "List of values that matched against the Countries category.",
          "items": {
            "type": "string"
          }
        },
        "familyNames": {
          "type": "array",
          "description": "List of values that matched against the Family Name category.",
          "items": {
            "type": "string"
          }
        },
        "salacious": {
          "type": "array",
          "description": "List of values that matched against the Salacious category.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GenerateInputJson": {
      "type": "array",
      "minItems": 0,
      "maxItems": 1000,
      "items": {
        "type": "object",
        "required": [
          "Input",
          "PatternSetting"
        ],
        "properties": {
          "Input": {
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The value to tokenize."
          },
          "PatternSetting": {
            "$ref": "#/definitions/GenerateSettings"
          },
          "UID": {
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "The record identifier which will be echoed back to you."
          }
        }
      },
      "example": [
        {
          "Input": "This 123 Is $$a Test",
          "PatternSetting": {
            "DoNotTokenize": [
              "WhiteSpace"
            ],
            "LetterSettings": {
              "CaseSensitive": true,
              "LetterCategories": false,
              "Exclude": [
                "Consonants"
              ],
              "Collapse": [
                "Vowels"
              ]
            },
            "NumberSettings": {
              "NumberCategories": false,
              "Collapse": [
                "Even"
              ],
              "Exclude": []
            },
            "SymbolSettings": {
              "Collapse": false,
              "Exclude": false
            },
            "WhiteSpaceSettings": {
              "Collapse": false,
              "Exclude": false
            },
            "NonPrintingSettings": {
              "Collapse": false,
              "Exclude": false
            }
          },
          "UID": "<Record ID>"
        }
      ]
    },
    "GenerateSettings": {
      "description": "The settings for how to tokenize your data.",
      "x-ms-summary": "Pattern Settings",
      "x-ms-visibility": "important",
      "type": "object",
      "required": [
        "DoNotTokenize",
        "LetterSettings",
        "NumberSettings",
        "SymbolSettings",
        "WhiteSpaceSettings",
        "NonPrintingSettings"
      ],
      "properties": {
        "DoNotTokenize": {
          "type": "array",
          "x-ms-summary": "Exclude from Token",
          "items": {
            "type": "string",
            "enum": [
              "WhiteSpace",
              "Numbers",
              "Punctuation",
              "Symbol",
              "NonPrinting",
              "Letters"
            ]
          },
          "description": "List the character types not to tokenize."
        },
        "LetterSettings": {
          "$ref": "#/definitions/GenerateLetterSettings"
        },
        "NumberSettings": {
          "$ref": "#/definitions/GenerateNumberSettings"
        },
        "SymbolSettings": {
          "$ref": "#/definitions/GenerateSymbolSettings"
        },
        "WhiteSpaceSettings": {
          "$ref": "#/definitions/GenerateWhiteSpaceSettings"
        },
        "NonPrintingSettings": {
          "$ref": "#/definitions/GenerateNonPrintingSettings"
        }
      }
    },
    "GenerateLetterSettings": {
      "x-ms-summary": "Letter Settings",
      "type": "object",
      "required": [
        "Exclude",
        "Collapse",
        "LetterCategories",
        "CaseSensitive"
      ],
      "properties": {
        "CaseSensitive": {
          "type": "boolean",
          "x-ms-visibility": "important",
          "description": "Return Upper and lower letter tokens?",
          "default": true
        },
        "LetterCategories": {
          "type": "boolean",
          "x-ms-visibility": "important",
          "description": "Categories letters by type? (Categories: UpperCaseVowel = V, LowerCaseVowel = v, UpperCaseConsonant = C, LowerCaseConsonant = c)",
          "default": false
        },
        "Exclude": {
          "type": "array",
          "x-ms-visibility": "important",
          "items": {
            "type": "string",
            "enum": [
              "Vowels",
              "Consonants"
            ]
          },
          "description": "Exclude the following types of letters from the pattern?"
        },
        "Collapse": {
          "type": "array",
          "x-ms-visibility": "important",
          "items": {
            "type": "string",
            "enum": [
              "Vowels",
              "Consonants"
            ]
          },
          "description": "Collapse the following types of letters in the pattern?"
        }
      }
    },
    "GenerateNumberSettings": {
      "x-ms-summary": "Number Settings",
      "type": "object",
      "required": [
        "Exclude",
        "Collapse",
        "NumberCategories"
      ],
      "properties": {
        "NumberCategories": {
          "type": "boolean",
          "description": "Categories numbers by type? (Categories: OddNumber = 1, EvenNumber = 2)",
          "default": true,
          "x-ms-visibility": "important"
        },
        "Exclude": {
          "type": "array",
          "x-ms-visibility": "important",
          "items": {
            "type": "string",
            "enum": [
              "Odd",
              "Even"
            ]
          },
          "description": "Exclude the following types of numbers from the pattern?"
        },
        "Collapse": {
          "type": "array",
          "x-ms-visibility": "important",
          "items": {
            "type": "string",
            "enum": [
              "Odd",
              "Even"
            ]
          },
          "description": "Collapse the following types of numbers in the pattern?"
        }
      }
    },
    "GenerateSymbolSettings": {
      "x-ms-summary": "Symbol Settings",
      "type": "object",
      "required": [
        "Exclude",
        "Collapse"
      ],
      "properties": {
        "Exclude": {
          "type": "boolean",
          "description": "Exclude symbols from the pattern?",
          "default": false,
          "x-ms-visibility": "important"
        },
        "Collapse": {
          "type": "boolean",
          "description": "Collapse repeated symbols into a single symbol? I.E.@@ -> @",
          "default": false,
          "x-ms-visibility": "important"
        }
      }
    },
    "GenerateWhiteSpaceSettings": {
      "x-ms-summary": "Whitespace Settings",
      "type": "object",
      "required": [
        "Exclude",
        "Collapse"
      ],
      "properties": {
        "Exclude": {
          "type": "boolean",
          "description": "Exclude whitespace from the pattern?",
          "default": false,
          "x-ms-visibility": "important"
        },
        "Collapse": {
          "type": "boolean",
          "description": "Collapse multiple whitespace characters into a single character?",
          "default": false,
          "x-ms-visibility": "important"
        }
      }
    },
    "GenerateNonPrintingSettings": {
      "x-ms-summary": "Non-Printing Settings",
      "type": "object",
      "required": [
        "Exclude",
        "Collapse"
      ],
      "properties": {
        "Exclude": {
          "type": "boolean",
          "description": "Exclude Non Printing characters from the pattern?",
          "default": false,
          "x-ms-visibility": "important"
        },
        "Collapse": {
          "type": "boolean",
          "description": "Collapse multiple Non Printing characters into a single character?",
          "default": false,
          "x-ms-visibility": "important"
        }
      }
    },
    "CongruenceResultSingle": {
      "type": "object",
      "description": "The Response.",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "data": {
          "type": "object",
          "description": "The response.",
          "properties": {
            "congruenceString": {
              "type": "string",
              "description": "Description about what type of congruence was found.",
              "x-ms-visibility": "important"
            },
            "code": {
              "type": "string",
              "description": "Code for what type of congruence was found.",
              "x-ms-visibility": "important"
            }
          }
        }
      }
    },
    "DQGlobal": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "data": {
          "description": "The response.",
          "type": "string",
          "x-ms-visibility": "important"
        }
      }
    },
    "DQGlobalInt": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "data": {
          "description": "The response.",
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important"
        }
      }
    },
    "DQGlobalFloat": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "data": {
          "description": "The response.",
          "type": "number",
          "format": "float",
          "x-ms-visibility": "important"
        }
      }
    },
    "DQGlobalBool": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        },
        "data": {
          "description": "The response.",
          "type": "boolean",
          "x-ms-visibility": "important"
        }
      }
    },
    "Unauthorized": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      },
      "example": {
        "status": 401,
        "message": "Authorization has been denied for this request."
      }
    },
    "BadRequest": {
      "title": "Bad Request Response",
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      },
      "example": {
        "status": 400,
        "message": "<A description about why the request is wrong>"
      }
    },
    "Exception": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      },
      "example": {
        "status": 500,
        "message": "Oops! Something went wrong.  Please contact our support team"
      }
    },
    "FailedDependency": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      },
      "example": {
        "status": 424,
        "message": "The Third Party returned a 503 Service Unavailable. Please try again later or contact support@dqglobal.com"
      }
    },
    "RequestTimeout": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The HTTP Status code of the response.",
          "type": "integer",
          "x-ms-visibility": "advanced"
        },
        "message": {
          "description": "A message describing the request status.",
          "type": "string",
          "x-ms-visibility": "advanced"
        }
      },
      "example": {
        "status": 408,
        "message": "Your Request took too long to process. Please try again later or contact support@dqglobal.com"
      }
    }
  },
  "paths": {
    "/Account/Usage": {
      "x-summary": "Get Usage",
      "get": {
        "operationId": "UsageGet",
        "summary": "Retrieve your usage",
        "description": "Retrieve your usage statistics for each vendor function within the given time frame.\nNote: Usage statistics update every 24 hours at Midnight UTC Time.",
        "parameters": [
          {
            "in": "query",
            "name": "StartDate",
            "x-example": "2019-12-24 23:59:59:666",
            "type": "string",
            "format": "date-time",
            "pattern": "yyyy-MM-dd hh:mm:ss.fff",
            "required": true,
            "description": "Usage period start.",
            "x-ms-summary": "Start Time (yyyy-MM-dd HH:mm:ss.fff)",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "EndDate",
            "x-example": "2019-12-25 00:00:00:666",
            "type": "string",
            "format": "date-time",
            "pattern": "yyyy-MM-dd hh:mm:ss.fff",
            "required": true,
            "description": "Usage period end.",
            "x-ms-summary": "End Time (yyyy-MM-dd HH:mm:ss.fff)",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/GetUsage"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "Success",
                "data": {
                  "filterCriteria": {
                    "startDate": "2019-12-24 23:59:59:666",
                    "endDate": "2019-12-25 00:00:00:666"
                  },
                  "results": [
                    {
                      "providerName": "DQ Global",
                      "usage": [
                        {
                          "functionName": "Classify",
                          "creditsUsed": 123
                        },
                        {
                          "functionName": "Derive",
                          "creditsUsed": 123
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/Account/Prices": {
      "x-summary": "Get Prices",
      "get": {
        "operationId": "PricingGet",
        "summary": "Retrieve Function Pricing",
        "description": "Retrieve the current price list.",
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/GetPricesOutput"
            }
          }
        }
      }
    },
    "/Account/Balance": {
      "x-summary": "Get Balance",
      "get": {
        "operationId": "BalanceGet",
        "summary": "Retrieve current balance",
 
        "description": "Retrieve your current balance.",
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobalInt"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": 123456789
              }
            }
          }
        }
      }
    },
    "/Case": {
      "x-summary": "Case",
      "get": {
        "operationId": "CaseSingular",
        "summary": "Case",

        "description": "Alter the casing of your data.",
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "case example",
            "required": true,
            "type": "string",
            "description": "The value to submit for casing.",
            "x-ms-summary": "Input",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "CaseType",
            "x-example": "TitleCase",
            "required": true,
            "type": "string",
            "enum": [
              "ProperCase_FamilyName",
              "ProperCase_Address",
              "UpperCase",
              "LowerCase",
              "TitleCase"
            ],
            "description": "The type of casing to perform.",
            "x-ms-summary": "Casing Type",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "Language",
            "x-example": "English",
            "enum": [
              "English",
              "Spanish",
              "French",
              "Italian",
              "German"
            ],
            "required": true,
            "type": "string",
            "description": "The language your data is in.",
            "x-ms-summary": "Language",
            "default": "English",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobal"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": "Case Example"
              }
            }
          }
        }
      }
    },
    "/Classify": {
      "x-summary": "Classify",
      "get": {
        "operationId": "ClassifyGet",
        "summary": "Classify",
        "description": "Identify extra information about a piece of data. E.g. Brian or Sven is a person name. Road, Strasse, Rue are address elements. Ltd, LLC are Company legal suffixes.",
    
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "Robert",
            "required": true,
            "type": "string",
            "description": "The value to classify.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Input"
          },
          {
            "in": "query",
            "name": "Categories",
            "x-example": "Salutations,GivenNames",
            "required": true,
            "enum": [
              "All",
              "Addresses",
              "Numbers",
              "GivenNames",
              "Businesses",
              "BusinessJobTitles",
              "Dates",
              "Miscellaneous",
              "WeightsAndMeasures",
              "Qualifications",
              "Salutations",
              "Countries",
              "FamilyNames",
              "Salacious"
            ],
            "type": "string",
            "format": "csv",
            "default": "All",
            "description": "A comma separated list of the categories that to test against.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Categories"
          },
          {
            "in": "query",
            "name": "Language",
            "x-example": "English",
            "type": "string",
            "enum": [
              "English",
              "Spanish",
              "French",
              "Italian",
              "German"
            ],
            "required": false,
            "description": "The language your data is in.",
            "default": "English",
            "x-ms-visibility": "important",
            "x-ms-summary": "Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "The HTTP Status code of the response.",
                  "type": "integer"
                },
                "message": {
                  "description": "A message describing the request status.",
                  "type": "string"
                },
                "data": {
                  "$ref": "#/definitions/ClassifyResponse"
                }
              }
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": {
                  "addresses": [],
                  "numbers": [],
                  "givenNames": [
                    "robert"
                  ],
                  "businesses": [],
                  "businessJobTitles": [],
                  "dates": [],
                  "miscellaneous": [],
                  "weightsAndMeasures": [],
                  "qualifications": [],
                  "salutations": [],
                  "countries": [],
                  "familyNames": [
                    "robert"
                  ],
                  "salacious": []
                }
              }
            }
          }
        }
      }
    },
    "/Compare": {
      "x-summary": "Compare",
      "get": {
        "operationId": "CompareGet",
        "summary": "Compare",
      
        "description": "Score the similarity between two values using one of the available algorithms, including: Levenshtein, Jaro, JaroWinkler and more...",
        "parameters": [
          {
            "in": "query",
            "name": "Input1",
            "x-example": "InputValue123",
            "required": true,
            "type": "string",
            "description": "The first value to compare.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Input 1"
          },
          {
            "in": "query",
            "name": "Input2",
            "x-example": "InputValue",
            "required": true,
            "type": "string",
            "description": "The second value to compare.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Input 2"
          },
          {
            "in": "query",
            "name": "ComparisonAlgorithm",
            "x-example": "JaroWinkler",
            "enum": [
              "JaroWinkler",
              "Jaro",
              "LevenshteinPercentage",
              "LevenshteinChangeCount",
              "MongeElkan",
              "NeedlemanWunsch",
              "Sift3",
              "SmithWatermanGotoh",
              "HammingPercentage",
              "HammingChangeCount"
            ],
            "required": true,
            "type": "string",
            "description": "The name of the algorithm to use for comparison.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Comparison Algorithm",
            "default": "JaroWinkler"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobalFloat"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": 95.38461
              }
            }
          }
        }
      }
    },
    "/Congruence/Email": {
      "x-summary": "Email",
      "get": {
        "operationId": "EmailCongruenceGet",
        "summary": "Congruence Email",
       
        "description": "Check if an Email address matches the Contact details.",
        "parameters": [
          {
            "in": "query",
            "name": "Email",
            "x-example": "Robert.Smith@example.com",
            "required": true,
            "type": "string",
            "description": "The Email to check.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Email"
          },
          {
            "in": "query",
            "name": "FirstName",
            "x-example": "Robert",
            "required": true,
            "type": "string",
            "description": "The First Name to look for.",
            "x-ms-visibility": "important",
            "x-ms-summary": "First Name"
          },
          {
            "in": "query",
            "name": "LastName",
            "x-example": "Smith",
            "required": true,
            "type": "string",
            "description": "The Last Name to look for.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Last Name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/CongruenceResultSingle"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": {
                  "code": "14",
                  "congruenceString": "Given Name and Family Name both found in email"
                }
              }
            }
          }
        }
      }
    },
    "/Congruence/Country": {
      "x-summary": "Country",
      "get": {
        "operationId": "CountryCongruenceGet",
        "summary": "Congruence Country",
       
        "description": "Check if a value is from the country you expect.",
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "Robert.Smith@Example.co.uk",
            "required": true,
            "type": "string",
            "description": "The value to check.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Input"
          },
          {
            "in": "query",
            "name": "Country",
            "x-example": "United Kingdom",
            "required": true,
            "type": "string",
            "description": "A Country Identifier. I.E. `GB`, `GBR`, `United Kingdom` etc.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Country Identifier"
          },
          {
            "in": "query",
            "name": "ActionType",
            "x-example": "CountryToEmail",
            "required": true,
            "type": "string",
            "enum": [
              "CountryToEmail",
              "CountryToPhone",
              "CountryToURL"
            ],
            "description": "The type of congruence to perform.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Action"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/CongruenceResultSingle"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": {
                  "code": "1",
                  "congruenceString": "True"
                }
              }
            }
          }
        }
      }
    },
    "/Congruence/Salutation": {
      "x-summary": "Salutation",
      "get": {
        "operationId": "SalutationCongruenceGet",
        "summary": "Congruence Salutation",
        
        "description": "Check if the Salutation is of the same gender as the name.",
        "parameters": [
          {
            "in": "query",
            "name": "Salutation",
            "x-example": "Mr",
            "required": true,
            "type": "string",
            "description": "The salutation to check.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Salutation"
          },
          {
            "in": "query",
            "name": "FirstName",
            "x-example": "Robert",
            "required": true,
            "type": "string",
            "description": "The First Name to check.",
            "x-ms-visibility": "important",
            "x-ms-summary": "First Name"
          },
          {
            "in": "query",
            "name": "Language",
            "x-example": "English",
            "required": true,
            "type": "string",
            "enum": [
              "English",
              "Spanish",
              "French",
              "Italian",
              "German"
            ],
            "description": "The language your data is in.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Language",
            "default": "English"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/CongruenceResultSingle"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": {
                  "code": "1",
                  "congruenceString": "True"
                }
              }
            }
          }
        }
      }
    },
    "/Derive/Gender": {
      "x-summary": "Gender",
      "x-description": "Derive Gender will return the Gender as both a string and an integer. (0 = Female, 1 = Male, 2 = Either, 3 = Unknown)",
      "get": {
        "operationId": "DeriveGenderGet",
        "summary": "Derive Gender",
        
        "description": "Derive the Gender of a person using their first name.",
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "Robert",
            "required": true,
            "type": "string",
            "description": "The first name to try and Derive a gender from.",
            "x-ms-visibility": "important",
            "x-ms-summary": "First Name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "The HTTP Status code of the response.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "description": "A message describing the request status.",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "object",
                  "description": "The Response.",
                  "properties": {
                    "gender": {
                      "type": "string",
                      "description": "The Gender. (Female, Male, Either, Unknown)",
                      "x-ms-visibility": "important"
                    },
                    "resultCode": {
                      "type": "integer",
                      "description": "A Numeric equivalent of the Gender. (0 Female, 1 Male, 2 Either, 3 Unknown)",
                      "x-ms-visibility": "important"
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": {
                  "gender": "Male",
                  "resultCode": 1
                }
              }
            }
          }
        }
      }
    },
    "/Derive/CountryFromCity": {
      "x-summary": "CountryFromCity",
      "get": {
        "operationId": "DeriveCityGet",
        "summary": "Derive CountryFromCity",
       
        "description": "Retrieve a list of Countries that have the placename supplied.",
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "London",
            "required": true,
            "type": "string",
            "description": "The City for which you would like to find the country.",
            "x-ms-visibility": "important",
            "x-ms-summary": "City"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "The HTTP Status code of the response.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "description": "A message describing the request status.",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "array",
                  "description": "The Response.",
                  "items": {
                    "type": "object",
                    "description": "A list of matching countries.",
                    "properties": {
                      "countryName": {
                        "type": "string",
                        "description": "Name of the derived Country.",
                        "x-ms-visibility": "important"
                      },
                      "iSO2": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 code of the derived country.",
                        "x-ms-visibility": "important"
                      },
                      "iSO3": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-3 code of the derived country.",
                        "x-ms-visibility": "important"
                      },
                      "iDD": {
                        "type": "string",
                        "description": "International Dialing Code of the derived country.",
                        "x-ms-visibility": "important"
                      }
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": [
                  {
                    "countryName": "United Kingdom",
                    "iSO2": "GB",
                    "iSO3": "GBR",
                    "iDD": "+44"
                  },
                  {
                    "countryName": "United States Of America",
                    "iSO2": "US",
                    "iSO3": "USA",
                    "iDD": "+1"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/Derive/FromPostalCode": {
      "x-summary": "FromPostalCode",
      "get": {
        "operationId": "DerivePostCodeGet",
        "summary": "Derive FromPostalCode",
        
        "description": "Return Information pertaining to the supplied PostCode, Such as: Latitude & Longitude.",
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "P7C",
            "required": true,
            "type": "string",
            "description": "The postal code to check.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Postal Code"
          },
          {
            "in": "query",
            "name": "CountryIdentifier",
            "x-example": "CA",
            "required": true,
            "type": "string",
            "description": "The country identifier (`GB`, `GBR`, `United Kingdom`, etc) of the PostalCode supplied.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Country Identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "The HTTP Status code of the response.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "description": "A message describing the request status.",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "object",
                  "description": "The Response.",
                  "properties": {
                    "county": {
                      "type": "string",
                      "description": "The County the Postcode is located within.",
                      "x-ms-visibility": "important"
                    },
                    "latitude": {
                      "type": "string",
                      "description": "The Latitude of the postCode area.",
                      "x-ms-visibility": "important"
                    },
                    "longitude": {
                      "type": "string",
                      "description": "The Longitude of the postCode area.",
                      "x-ms-visibility": "important"
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": {
                  "county": "Ontario",
                  "latitude": "48.352",
                  "longitude": "-89.4649"
                }
              }
            }
          }
        }
      }
    },
    "/Derive/EmailType": {
      "x-summary": "EmailType",
      "get": {
        "operationId": "DeriveEmailGet",
        "summary": "Derive EmailType",
        
        "description": "Derive the Domain and Mailbox type. I.E.is it a business email? or a personal email?",
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "support@dqglobal.com",
            "required": true,
            "type": "string",
            "description": "The email to use for derivation.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "The HTTP Status code of the response.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "description": "A message describing the request status.",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "object",
                  "description": "The Response.",
                  "properties": {
                    "domainType": {
                      "type": "string",
                      "description": "The Type of Domain. (Business, FreeProvider)",
                      "x-ms-visibility": "important"
                    },
                    "mailBoxType": {
                      "type": "string",
                      "description": "The Type of Mailbox. (Personal, Generic)",
                      "x-ms-visibility": "important"
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": {
                  "domainType": "Business",
                  "mailBoxType": "Generic"
                }
              }
            }
          }
        }
      }
    },
    "/DeriveISO": {
      "x-summary": "DeriveISO",
      "get": {
        "operationId": "DeriveISOGet",
        "summary": "Derive Country",
        
        "description": "Derive a country from your supplied data.",
        "parameters": [
          {
            "in": "query",
            "name": "Email",
            "x-example": "test@example.co.uk",
            "required": false,
            "type": "string",
            "description": "The email to use for derivation.",
            "x-ms-summary": "Email",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "Url",
            "x-example": "example.co.uk",
            "required": false,
            "type": "string",
            "description": "The URL to use for derivation.",
            "x-ms-summary": "Website",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "Phone",
            "x-example": "00442392988303",
            "required": false,
            "type": "string",
            "description": "The Phone to use for derivation.",
            "x-ms-summary": "Phone",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "Country",
            "x-example": "USA",
            "required": false,
            "type": "string",
            "description": "The country identifier (`GB`, `GBR`, `United Kingdom`, etc) for derivation.",
            "x-ms-summary": "Country Identifier",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "City",
            "x-example": "Portsmouth",
            "required": false,
            "type": "string",
            "description": "The City to use for derivation.",
            "x-ms-summary": "City",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "Threshold",
            "x-example": 40,
            "required": false,
            "type": "integer",
            "default": 70,
            "description": "The match percentage for when a possible value should be returned.",
            "x-ms-summary": "Threshold",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "OnlyReturnBest",
            "x-example": false,
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Return only the highest scoring result?",
            "x-ms-summary": "Return Highest Match?",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "DefaultToCountry",
            "x-example": false,
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "If the Response will be `Unknown` then Derive using only the Country.",
            "x-ms-summary": "Default To Country?",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "The HTTP Status code of the response.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "description": "A message describing the request status.",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "array",
                  "description": "A list of possible countries.",
                  "items": {
                    "type": "object",
                    "description": "One of the possible countries.",
                    "properties": {
                      "countryName": {
                        "type": "string",
                        "description": "Name of the derived Country.",
                        "x-ms-visibility": "important"
                      },
                      "congruentToGivenCountry": {
                        "type": "boolean",
                        "description": "Does derived country match supplied country?",
                        "x-ms-visibility": "important"
                      },
                      "matchCertainty": {
                        "type": "integer",
                        "description": "Certainty Score. (0-100)",
                        "x-ms-visibility": "important"
                      },
                      "isO2": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-2 code of the derived country.",
                        "x-ms-visibility": "important"
                      },
                      "isO3": {
                        "type": "string",
                        "description": "ISO 3166-1 alpha-3 code of the derived country.",
                        "x-ms-visibility": "important"
                      },
                      "diallingCode": {
                        "type": "string",
                        "description": "International Dialing Code of the derived country.",
                        "x-ms-visibility": "important"
                      }
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": [
                  {
                    "countryName": "United Kingdom",
                    "congruentToGivenCountry": false,
                    "matchCertainty": 80,
                    "isO2": "GB",
                    "isO3": "GBR",
                    "diallingCode": "+44"
                  },
                  {
                    "countryName": "United States Of America",
                    "congruentToGivenCountry": true,
                    "matchCertainty": 40,
                    "isO2": "US",
                    "isO3": "USA",
                    "diallingCode": "+1"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/Format/Email": {
      "x-summary": "Email",
      "get": {
        "operationId": "FormatEmailGet",
        "summary": "Format Email",
        "description": "Format your email address. A common example is when an email is coped from Outlook it will return `Example <example@example.com>` and we will convert that to `example@example.com`.",
        
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "info@@dqglobal.com",
            "required": true,
            "type": "string",
            "description": "The Email Address to Format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobal"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": "info@dqglobal.com"
              }
            }
          }
        }
      }
    },
    "/Format/PostCode": {
      "x-summary": "PostCode",
      "get": {
        "operationId": "FormatPostCodeGet",
        "summary": "Format PostCode",
        "description": "Format your Postcode so its syntactically valid for the country. I.E. `SW1A1AA` to `SW1A 1AA`",
        
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "828@306",
            "required": true,
            "type": "string",
            "description": "The Postal Code to Format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Postal Code"
          },
          {
            "in": "query",
            "name": "CountryIdentifier",
            "x-example": "US",
            "required": true,
            "type": "string",
            "description": "The country identifier (`GB`, `GBR`, `United Kingdom`, etc) to format against.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Country Identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobal"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": "828306"
              }
            }
          }
        }
      }
    },
    "/Format/TelephoneE164": {
      "x-summary": "TelephoneE164",
      "get": {
        "operationId": "FormatE164Get",
        "summary": "Format PhoneE164",
        "description": "Format your phone number in the E.164 syntax. E.G. `+448457909090`",
        
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "20-30532700",
            "required": true,
            "type": "string",
            "description": "The phone number to format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Phone"
          },
          {
            "in": "query",
            "name": "CountryIdentifier",
            "x-example": "GB",
            "type": "string",
            "required": true,
            "description": "The country identifier (`GB`, `GBR`, `United Kingdom`, etc) to format against.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Country Identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobal"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": "+442030532700"
              }
            }
          }
        }
      }
    },
    "/Format/TelephoneInternational": {
      "x-summary": "TelephoneInternational",
      "get": {
        "operationId": "FormatInternationalGet",
        "summary": "Format Phone International",
        "description": "Format your phone number in International syntax. E.G. `+44 845 790 9090`",
       
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "23 9298 8303",
            "required": true,
            "type": "string",
            "description": "The phone number to format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Phone"
          },
          {
            "in": "query",
            "name": "CountryIdentifier",
            "x-example": "GB",
            "type": "string",
            "required": true,
            "description": "The country identifier (`GB`, `GBR`, `United Kingdom`, etc) to format against.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Country Identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobal"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": "+44 20 3053 2700"
              }
            }
          }
        }
      }
    },
    "/Format/TelephoneNational": {
      "x-summary": "TelephoneNational",
      "get": {
        "operationId": "FormatNationalGet",
        "summary": "Format Phone National",
        "description": "Format your phone number in National syntax. E.G. `0845 790 9090`",
        
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "20-30532700",
            "required": true,
            "type": "string",
            "description": "The phone number to format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Phone"
          },
          {
            "in": "query",
            "name": "CountryIdentifier",
            "x-example": "GB",
            "type": "string",
            "required": true,
            "description": "The country identifier (`GB`, `GBR`, `United Kingdom`, etc) to format against.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Country Identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobal"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": "020 3053 2700"
              }
            }
          }
        }
      }
    },
    "/Format/TelephoneRFC3966": {
      "x-summary": "TelephoneRFC3966",
      "get": {
        "operationId": "FormatRFC3966Get",
        "summary": "Format PhoneRFC3966",
        "description": "Format your phone number in RFC3966 syntax. E.G. `tel:+44-845-790-9090`",
       
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "23 9298 8303",
            "required": true,
            "type": "string",
            "description": "The phone number to format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Phone"
          },
          {
            "in": "query",
            "name": "CountryIdentifier",
            "x-example": "GB",
            "type": "string",
            "required": true,
            "description": "The country identifier (`GB`, `GBR`, `United Kingdom`, etc) to format against.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Country Identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobal"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": "tel:+44-20-3053-2700"
              }
            }
          }
        }
      }
    },
    "/Format/UrlAddress": {
      "x-summary": "UrlAddress",
      "get": {
        "operationId": "FormatURLGet",
        "summary": "Format URL",
        "description": "Ensure all of your URLs are in using the same Protocols and correct common mistakes.",
       
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "www..google.co.in",
            "required": true,
            "type": "string",
            "description": "The URL to Format.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Website"
          },
          {
            "in": "query",
            "name": "URLPrefix",
            "x-example": "https://www.",
            "required": true,
            "type": "string",
            "description": "The Prefix you would like to prepend to the URL.",
            "x-ms-visibility": "important",
            "x-ms-summary": "URL Prefix"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobal"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": "https://www.google.co.in"
              }
            }
          }
        }
      }
    },
    "/Generate": {
      "x-summary": "Generate",
      "post": {
        "operationId": "GeneratePattern",
        "summary": "Generate Pattern",
        
        "description": "Generate a Pattern representation of your data. I.E. `Example123` -> `Aaaaaaa999`",
        "parameters": [
          {
            "in": "body",
            "name": "Input",
            "x-ms-visibility": "important",
            "schema": {
              "$ref": "#/definitions/GenerateInputJson"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "The HTTP Status code of the response.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "description": "A message describing the request status.",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "input": {
                        "description": "The original value.",
                        "type": "string",
                        "x-ms-visibility": "advanced"
                      },
                      "output": {
                        "description": "The response.",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "uid": {
                        "description": "The unique identifier provided.",
                        "type": "string",
                        "x-ms-visibility": "advanced"
                      },
                      "status": {
                        "description": "HTTP Status code of this item.",
                        "type": "integer",
                        "x-ms-visibility": "advanced"
                      },
                      "message": {
                        "description": "A message describing the request status.",
                        "type": "string",
                        "x-ms-visibility": "advanced"
                      }
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": [
                  {
                    "input": "This 123 Is $$a Test",
                    "output": "a 999 A SSa a",
                    "uid": "<Record ID>",
                    "status": 200,
                    "message": "Success"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/GenerateToken": {
      "x-summary": "GenerateToken",
      "get": {
        "operationId": "GenerateTokenGet",
        "summary": "Generate Token",
      
        "description": "Generate a phonetic token of your data. Example (Using DQFonetix) Xerox = YQA, Xeroks = YQA",
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "InputValue",
            "required": true,
            "type": "string",
            "description": "The value you with to tokenize.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Input"
          },
          {
            "in": "query",
            "name": "generateAlgorithmType",
            "x-example": "DQFonetix",
            "enum": [
              "DQFonetix",
              "DQMetaphone",
              "DQSoundex",
              "Soundex",
              "Metaphone",
              "DoubleMetaphone",
              "Caverphone",
              "Caverphone2",
              "Nysiis"
            ],
            "required": true,
            "type": "string",
            "description": "Which Algorithm should be used?",
            "x-ms-visibility": "important",
            "x-ms-summary": "Algorithm",
            "default": "DQFonetix"
          },
          {
            "in": "query",
            "name": "Language",
            "x-example": "English",
            "type": "string",
            "enum": [
              "English",
              "Spanish",
              "French",
              "Italian",
              "German"
            ],
            "required": false,
            "description": "The language of your data (required when using DQFonetix, DQMetaphone, DQSoundex).",
            "x-ms-summary": "Language",
            "default": "English"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "$ref": "#/definitions/DQGlobal"
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": "QSJOMV"
              }
            }
          }
        }
      }
    },
    "/Parse/PhoneNumber": {
      "x-summary": "PhoneNumber",
      "get": {
        "operationId": "ParsePhoneGet",
        "summary": "Parse Phone",
        "description": "Split a Phonenumber into its component parts: Country, Number, Prefix, Type.",
       
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "02392988303",
            "required": true,
            "type": "string",
            "description": "The Phone number to split.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Phone"
          },
          {
            "in": "query",
            "name": "CountryIdentifier",
            "x-example": "GB",
            "required": true,
            "type": "string",
            "description": "A Country Identifier. I.E. `GB`, `GBR`, `United Kingdom` etc.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Country Identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "The HTTP Status code of the response.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "description": "A message describing the request status.",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "object",
                  "description": "The Response.",
                  "properties": {
                    "countryCode": {
                      "type": "string",
                      "description": "The Country Dialing Code.",
                      "x-ms-visibility": "important"
                    },
                    "extension": {
                      "type": "string",
                      "description": "The Extension number. (If Applicable)",
                      "x-ms-visibility": "important"
                    },
                    "nationalNumber": {
                      "type": "string",
                      "description": "PhoneNumber supplied, formatted in National Syntax.",
                      "x-ms-visibility": "important"
                    },
                    "numberType": {
                      "type": "string",
                      "enum": [
                        "FIXED_LINE",
                        "MOBILE",
                        "FIXED_LINE_OR_MOBILE",
                        "TOLL_FREE",
                        "PREMIUM_RATE",
                        "SHARED_COST",
                        "VOIP",
                        "PERSONAL_NUMBER",
                        "PAGER",
                        "UAN",
                        "VOICEMAIL",
                        "UNKNOWN"
                      ],
                      "description": "Type of Number. I.E. Mobile, Fixed_Line, etc.",
                      "x-ms-visibility": "important"
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": {
                  "countryCode": "44",
                  "extension": "",
                  "nationalNumber": "2392988303",
                  "numberType": "FIXED_LINE"
                }
              }
            }
          }
        }
      }
    },
    "/Parse/Email": {
      "x-summary": "Email",
      "get": {
        "operationId": "ParseEmailGet",
        "summary": "Parse Email",
        "description": "Split an Email into its component parts: MailBox, Domain, TLD/",
      
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "support@example.com",
            "required": true,
            "type": "string",
            "description": "The Email to split.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "The HTTP Status code of the response.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "description": "A message describing the request status.",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "object",
                  "description": "The Response.",
                  "properties": {
                    "mailbox": {
                      "type": "string",
                      "description": "The Input Email.",
                      "x-ms-visibility": "important"
                    },
                    "localPart": {
                      "type": "string",
                      "description": "The Email local part. I.E.`support`",
                      "x-ms-visibility": "important"
                    },
                    "domain": {
                      "type": "string",
                      "description": "The Email Domain. I.E. `gmail.com`",
                      "x-ms-visibility": "important"
                    },
                    "tld": {
                      "type": "string",
                      "description": "The Top Level Domain. I.E. `.co.uk`",
                      "x-ms-visibility": "important"
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": {
                  "mailbox": "support@example.com",
                  "localPart": "support",
                  "domain": "example.com",
                  "tld": "com"
                }
              }
            }
          }
        }
      }
    },
    "/Parse/URL": {
      "x-summary": "URL",
      "get": {
        "operationId": "ParseURLGet",
        "summary": "Parse URL",
        "description": "Split a URL into its component parts: Host, Scheme, Port, Path.",
       
        "parameters": [
          {
            "in": "query",
            "name": "Input",
            "x-example": "http://www.dqglobal.com",
            "required": true,
            "type": "string",
            "description": "The Website to split.",
            "x-ms-visibility": "important",
            "x-ms-summary": "Website"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Request.",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "description": "The HTTP Status code of the response.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "message": {
                  "description": "A message describing the request status.",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "data": {
                  "type": "object",
                  "description": "The Response.",
                  "properties": {
                    "host": {
                      "type": "string",
                      "description": "The Domain name. I.E. `www.example.com`",
                      "x-ms-visibility": "important"
                    },
                    "scheme": {
                      "type": "string",
                      "description": "The Protocol used in the URL. I.E. HTTP, HTTPS, etc.",
                      "x-ms-visibility": "important"
                    },
                    "hostNameType": {
                      "type": "string",
                      "enum": [
                        "Unknown",
                        "Basic",
                        "Dns",
                        "IPv4",
                        "IPv6"
                      ],
                      "description": "The type of the host name specified in the URL.",
                      "x-ms-visibility": "important"
                    },
                    "pathAndQuery": {
                      "type": "string",
                      "description": "The Path and Query parameters used. I.E. `http://www.example.com/Path` would return `/Path`",
                      "x-ms-visibility": "important"
                    },
                    "port": {
                      "type": "string",
                      "description": "The Port used.",
                      "x-ms-visibility": "important"
                    }
                  }
                }
              }
            },
            "examples": {
              "application/json": {
                "status": 200,
                "message": "success",
                "data": {
                  "host": "www.dqglobal.com",
                  "scheme": "http",
                  "hostNameType": "Dns",
                  "pathAndQuery": "/",
                  "port": "80"
                }
              }
            }
          }
        }
      }
    },
    "/Scoring": {
      "x-summary": "Scoring",
      "post": {
        "operationId": "Scoring",
        "summary": "Scoring",
        
        "description": "Score records by choosing from a large set of record scoring options; customize your group weightings, score misaligned data and select from various data specific scoring rules.",
        "parameters": [
          {
            "in": "body",
            "name": "Input",
            "x-ms-visibility": "important",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "required": [
                  "IsDatum",
                  "UniqueId",
                  "RecordSource",
                  "GroupFields"
                ],
                "properties": {
                  "IsDatum": {
                    "type": "boolean",
                    "description": "Is this record the Datum / Master record. I.E. the record you will compare others against.",
                    "x-ms-visibility": "important",
                    "x-ms-summary": "Is Datum?"
                  },
                  "UniqueId": {
                    "type": "string",
                    "description": "The RecordId so you can identify it in the output list.",
                    "x-ms-visibility": "important",
                    "x-ms-summary": "Record Id"
                  },
                  "RecordSource": {
                    "type": "string",
                    "description": "Name of the source this record came from so you can identify it in the output list.",
                    "x-ms-visibility": "important",
                    "x-ms-summary": "Record Source"
                  },
                  "GroupFields": {
                    "type": "array",
                    "description": "List of Groups to be scored (Groups will be scored against other groups with the same Name). Note: Every Record must have the same number of Entries in the GroupFields Array.",
                    "x-ms-visibility": "important",
                    "items": {
                      "type": "object",
                      "required": [
                        "GroupFieldId",
                        "Settings",
                        "Values"
                      ],
                      "properties": {
                        "GroupFieldId": {
                          "type": "string",
                          "description": "The Group Name.",
                          "x-ms-visibility": "important",
                          "x-ms-summary": "Group Name"
                        },
                        "Settings": {
                          "type": "object",
                          "description": "Scoring settings to be applied to the group.",
                          "x-ms-visibility": "important",
                          "required": [
                            "ScoringType",
                            "ScoreMethod",
                            "ComparisonAlgorithm",
                            "IsCaseSensitiveScore",
                            "AlphaSequenceParameter",
                            "IsReplaceDoubleSpaceWithSingle",
                            "IsRemoveAllWhiteSpaces",
                            "IsTrimString",
                            "IsIncludePunctuation",
                            "IsIncludeSymbols",
                            "IsIncludeNonPrinting",
                            "IsIncludeNumbers",
                            "IsIncludeAlphaChars",
                            "IsWeightingFactorUsed",
                            "IsIncludeOriginalDataForScoring",
                            "IncludeTokenForScoring",
                            "IncludeTransformedDataForScoring",
                            "AutoPopulateEmptyTransformed",
                            "AutoPopulateEmptyToken"
                          ],
                          "properties": {
                            "ScoringType": {
                              "type": "string",
                              "description": "`IntraScore`: Used for groups containing data from a single field. `InterScore`: Used for groups containing data from multiple fields. I.E.Email1 vs Email2 vs Email3.",
                              "x-ms-visibility": "important",
                              "enum": [
                                "InterScore",
                                "IntraScore"
                              ]
                            },
                            "ScoreMethod": {
                              "type": "string",
                              "description": "What type of scoring should be performed?",
                              "x-ms-visibility": "important",
                              "x-ms-summary": "Scoring Method",
                              "enum": [
                                "EditDistanceScore",
                                "ExactMatch",
                                "EmailScore",
                                "EmailScoreAsPerDomain",
                                "EmailScoreAsPerUserName",
                                "PostalCodeWholeInput",
                                "PostalCodeLeftN",
                                "PostalCodeRightN",
                                "PostalCodeAsZip",
                                "PostalCodeAsZip4",
                                "AddressLine1PremiseBinary",
                                "AddressLine1PremiseProportional",
                                "AddressLine1Street",
                                "AddressLine1WholeInput",
                                "DateBinary",
                                "DateProportional"
                              ]
                            },
                            "ComparisonAlgorithm": {
                              "type": "string",
                              "description": "Which algorithm would you like to use? Note: Our preferred algorithm is `JaroWinkler`",
                              "x-ms-visibility": "important",
                              "x-ms-summary": "Comparison Algorithm",
                              "enum": [
                                "JaroWinkler",
                                "Jaro",
                                "LevenshteinPercentage",
                                "LevenshteinChangeCount",
                                "MongeElkan",
                                "NeedlemanWunsch",
                                "Sift3",
                                "SmithWatermanGotoh",
                                "HammingPercentage",
                                "HammingChangeCount"
                              ]
                            },
                            "IsNullToNullScored": {
                              "type": "boolean",
                              "description": "When performing the comparison should an empty value vs another empty value be considered a match or not?",
                              "x-ms-visibility": "important",
                              "x-ms-summary": "Null vs Null Match?",
                              "default": false
[...]
