{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Alpha Vantage",
    "description": "Access 200+ financial market data functions through Model Context Protocol (MCP). Provides real-time and historical data for stocks, forex, cryptocurrencies, technical indicators, fundamental analysis, and economic indicators.",
    "contact": {
      "name": "Alpha Vantage Support",
      "email": "support@alphavantage.co",
      "url": "https://www.alphavantage.co/support"
    },
    "termsOfService": "https://www.alphavantage.co/terms_of_service/"
  },
  "host": "mcp.alphavantage.co",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/mcp": {
      "post": {
        "summary": "Execute MCP Request",
        "description": "Execute JSON-RPC requests to Alpha Vantage MCP server. Supports tools/list to discover available functions, tools/call to execute financial data queries, and resources/list for data resources.",
        "operationId": "ExecuteMCPRequest",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": ["jsonrpc", "method", "id"],
              "properties": {
                "jsonrpc": {
                  "type": "string",
                  "default": "2.0",
                  "description": "JSON-RPC protocol version",
                  "x-ms-summary": "JSON-RPC Version"
                },
                "method": {
                  "type": "string",
                  "description": "MCP method: tools/list, tools/call, resources/list, resources/read",
                  "x-ms-summary": "Method",
                  "enum": ["tools/list", "tools/call", "resources/list", "resources/read"]
                },
                "params": {
                  "type": "object",
                  "description": "Method parameters (varies by method)",
                  "x-ms-summary": "Parameters",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Tool or resource name",
                      "x-ms-summary": "Name"
                    },
                    "arguments": {
                      "type": "object",
                      "description": "Tool arguments",
                      "x-ms-summary": "Arguments"
                    }
                  }
                },
                "id": {
                  "type": "integer",
                  "default": 1,
                  "description": "Request identifier",
                  "x-ms-summary": "Request ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object",
              "properties": {
                "jsonrpc": {
                  "type": "string",
                  "description": "JSON-RPC version"
                },
                "result": {
                  "type": "object",
                  "description": "Response data"
                },
                "id": {
                  "type": "integer",
                  "description": "Request identifier"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Invalid parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "429": {
            "description": "Rate limit exceeded"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "apikey",
      "description": "Alpha Vantage API Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.alphavantage.co"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.alphavantage.co/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Data"
    }
  ]
}
