{
  "swagger": "2.0",
  "info": {
    "title": "Talkdesk",
    "description": "Talkdesk provides a better way for organizations to intelligently unlock the promise and potential of great customer experience with end-to-end cloud solutions. Connect to other external systems already supported by Microsoft to be able to execute actions in Talkdesk like create an agent, create a callback, get a user by email, etc. or trigger your own flows when a contact is created/updated, note is created, inbound call starts, etc. in Talkdesk.",
    "version": "1.0",
	"contact": {
      "name": "Talkdesk Support",
      "url": "https://support.talkdesk.com/",
      "email": "support@talkdesk.com"
    }
  },
  "host": "api.talkdeskstg.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/webhooks/schema/{listID}": {
      "get": {
        "description": "Schema for selected item in action.",
        "summary": "Item schema",
        "operationId": "GetListSchema",
        "parameters": [
          {
            "name": "listID",
            "type": "string",
            "in": "path",
            "description": "Item id.",
            "required": true,
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Item id."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/contacts/{contact_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Data response for this action.",
            "schema": {
              "type": "object",
              "properties": {
                "contact": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Contact ID.",
                      "title": "Id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Contact name.",
                      "title": "Name"
                    },
                    "company": {
                      "type": "string",
                      "description": "Contact company.",
                      "title": "Company"
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "label": {
                            "type": "string",
                            "description": "Phone number label.",
                            "title": "Label"
                          },
                          "number": {
                            "type": "string",
                            "description": "Phone number in E.164 format.",
                            "title": "Number"
                          }
                        }
                      },
                      "description": "The list of the contact's phones.",
                      "title": "Phones"
                    }
                  },
                  "description": "The contact data.",
                  "title": "Contact"
                }
              }
            }
          },
		  "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get contact by Id",
        "description": "Get contact by Id from Talkdesk.",
        "operationId": "GetContactByID",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "This is the id of the Talkdesk contact.",
			"x-ms-url-encoding": "single",
            "x-ms-summary": "Contact Id"
          }
        ]
      }
    },
    "/webhooks/triggers/contactCreated": {
      "x-ms-notification-content": {
        "description": "Contact created in Talkdesk.",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "This is the name of the Talkdesk event.",
              "title": "Event name"
            },
            "contact_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk contact.",
              "title": "Contact id"
            },
            "account_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk account.",
              "title": "Account id"
            },
            "contact_first_name": {
              "type": "string",
              "description": "This is the first name of the Talkdesk contact.",
              "title": "Contact first name"
            },
            "contact_last_name": {
              "type": "string",
              "description": "This is the last name of the Talkdesk contact.",
              "title": "Contact last name"
            },
            "contact_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk contact.",
              "title": "Contact name"
            },
            "contact_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk contact.",
              "title": "Contact email"
            },
            "contact_phone": {
              "type": "string",
              "description": "This is the phone of the Talkdesk contact.",
              "title": "Contact phone"
            },
            "contact_company": {
              "type": "string",
              "description": "This is the company of the Talkdesk contact.",
              "title": "Contact company"
            },
            "contact_title": {
              "type": "string",
              "description": "This is the title of the Talkdesk contact.",
              "title": "Contact title"
            },
            "contact_address": {
              "type": "string",
              "description": "This is the address of the Talkdesk contact.",
              "title": "Contact address"
            },
            "contact_website": {
              "type": "string",
              "description": "This is the website of the Talkdesk contact.",
              "title": "Contact website"
            },
            "account_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk account.",
              "title": "Account email"
            },
            "account_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk account.",
              "title": "Account name"
            }
          }
        }
      },
      "post": {
        "responses": {
			"200" : {
				"description" : "Completed successfully"
			}
		},
        "summary": "When a contact is created",
        "description": "When a contact is created.",
        "operationId": "ContactCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackURL": {
                  "type": "string",
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "default": "https://talkdesk.com",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "title": {
                  "type": "string",
                  "description": "The webhook's title.",
                  "title": "Title",
                  "default": "When a contact is created",
                  "x-ms-visibility": "internal"
                },
                "message": {
                  "type": "string",
                  "description": "The json schema for the Talkdesk action.",
                  "title": "Message",
                  "default": "{\"$schema\":\"http://json-schema.org/draft-07/schema#\",\"title\":\"Root\",\"type\":\"object\",\"required\":[\"contact_name\",\"contact_email\"],\"properties\":{\"event\":{\"title\":\"Event\",\"type\":\"string\",\"default\":\"{{event}}\"},\"contact_id\":{\"title\":\"Contact ID\",\"type\":\"string\",\"default\":\"{{contact_id}}\"},\"account_id\":{\"title\":\"Account ID\",\"type\":\"string\",\"default\":\"{{account_id}}\"},\"contact_first_name\":{\"title\":\"Contact first name\",\"type\":\"string\",\"default\":\"{{contact.first_name}}\"},\"contact_last_name\":{\"title\":\"Contact last name\",\"type\":\"string\",\"default\":\"{{contact.last_name}}\"},\"contact_name\":{\"title\":\"Contact name\",\"type\":\"string\",\"default\":\"{{contact.name}}\"},\"contact_email\":{\"title\":\"Contact email\",\"type\":\"string\",\"default\":\"{{contact.email}}\"},\"contact_phone\":{\"title\":\"Contact phone\",\"type\":\"string\",\"default\":\"{{contact.phone}}\"},\"contact_address\":{\"title\":\"Contact address\",\"type\":\"string\",\"default\":\"{{contact.address}}\"},\"contact_company\":{\"title\":\"Contact company\",\"type\":\"string\",\"default\":\"{{contact.company}}\"},\"contact_website\":{\"title\":\"Contact website\",\"type\":\"string\",\"default\":\"{{contact.website}}\"},\"contact_title\":{\"title\":\"Contact title\",\"type\":\"string\",\"default\":\"{{contact.title}}\"},\"account_email\":{\"title\":\"Account email\",\"type\":\"string\",\"default\":\"{{account.email}}\"},\"account_name\":{\"title\":\"Account name\",\"type\":\"string\",\"default\":\"{{account.name}}\"}},\"additionalProperties\":false}",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackURL",
                "message",
                "title"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/agents/bulk": {
      "post": {
        "responses": {
          "200": {
            "description": "Data response for this action.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The id of the successfully created agent.",
                        "title": "Id"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email of the successfully created agent.",
                        "title": "Email"
                      }
                    }
                  },
                  "description": "An array of successful agent creations.",
                  "title": "Success"
                },
                "failure": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "The email of the unsuccessfully created agent.",
                        "title": "Email"
                      },
                      "message": {
                        "type": "string",
                        "description": "The error message resulted from the unsuccessful agent creation.",
                        "title": "Message"
                      }
                    }
                  },
                  "description": "An array of unsuccessful agent creations.",
                  "title": "Failure"
                }
              }
            }
          },
		  "default": {
            "description": "default",
            "schema": {}
          }
		},
        "summary": "Create a new agent",
        "description": "Create a new agent in Talkdesk.",
        "operationId": "CreateAgent",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "agents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "active": {
                        "type": "boolean",
                        "description": "A boolean whether the agent is active or not.",
                        "title": "Active",
                        "enum": [
                          true,
                          false
                        ],
                        "x-ms-visibility": "advanced",
                        "default": false
                      },
                      "after_call_behavior": {
                        "type": "object",
                        "properties": {
                          "after_call_work": {
                            "type": "object",
                            "properties": {
                              "active": {
                                "type": "boolean",
                                "description": "A boolean whether after call work is enabled or not for the agent.",
                                "title": "Active",
                                "x-ms-visibility": "advanced",
                                "enum": [
                                  true,
                                  false
                                ],
                                "default": false
                              },
                              "timeout": {
                                "type": "string",
                                "description": "A timeout in seconds.",
                                "title": "Timeout",
                                "x-ms-visibility": "advanced"
                              }
                            },
                            "description": "Agent's after call work settings.",
                            "title": "After call work"
                          },
                          "inbound_disposition_codes": {
                            "type": "object",
                            "properties": {
                              "show": {
                                "type": "boolean",
                                "description": "A boolean whether the inbound dispositions codes are to be shown or not.",
                                "title": "Show",
                                "x-ms-visibility": "advanced",
                                "enum": [
                                  true,
                                  false
                                ],
                                "default": true
                              }
                            },
                            "description": "Agent's inbound disposition codes settings.",
                            "title": "Inbound disposition codes"
                          },
                          "outbound_disposition_codes": {
                            "type": "object",
                            "properties": {
                              "show": {
                                "type": "boolean",
                                "description": "A boolean whether the outbound dispositions codes are to be shown or not.",
                                "title": "Show",
                                "x-ms-visibility": "advanced",
                                "enum": [
                                  true,
                                  false
                                ],
                                "default": true
                              }
                            },
                            "description": "Agent's outbound disposition codes settings.",
                            "title": "Outbound disposition codes"
                          }
                        },
                        "description": "Agent's after call work behavior.",
                        "title": "After call behavior"
                      },
                      "agent_ivr_enabled": {
                        "type": "boolean",
                        "description": "A boolean whether agent's ivr is enabled or not.",
                        "title": "Agent ivr enabled",
                        "x-ms-visibility": "advanced",
                        "enum": [
                          true,
                          false
                        ],
                        "default": false
                      },
                      "email": {
                        "type": "string",
                        "description": "Agent's email.",
                        "title": "Email",
                        "x-ms-visibility": "important"
                      },
                      "extension_number": {
                        "type": "string",
                        "description": "Agent's extension number following the /\\A\\d+\\z/ regex format.",
                        "title": "Extension number",
                        "x-ms-visibility": "advanced"
                      },
                      "full_name": {
                        "type": "string",
                        "description": "Agent's full name.",
                        "title": "Full name",
                        "x-ms-visibility": "important"
                      },
                      "mood_settings": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "boolean",
                            "description": "A boolean whether the mood settings are enabled or not.",
                            "title": "Enabled",
                            "x-ms-visibility": "advanced",
                            "enum": [
                              true,
                              false
                            ],
                            "default": false
                          }
                        },
                        "description": "Mood settings for the given agent.",
                        "title": "Mood settings"
                      },
                      "outbound_caller_id": {
                        "type": "string",
                        "description": "Outbound caller id for the agent. (>= 5 characters,<= 40 characters)",
                        "title": "outbound_caller_id",
                        "x-ms-visibility": "advanced"
                      },
                      "outbound_caller_id_selection_enabled": {
                        "type": "boolean",
                        "description": "A boolean whether the outbound caller id selection is enabled or not.",
                        "title": "Outbound caller id selection enabled",
                        "x-ms-visibility": "advanced",
                        "enum": [
                          true,
                          false
                        ],
                        "default": false
                      },
                      "phone_number": {
                        "type": "string",
                        "description": "The phone number associated to the agent. (>= 5 characters,<= 40 characters)",
                        "title": "Phone number",
                        "x-ms-visibility": "advanced"
                      },
                      "role_name": {
                        "type": "string",
                        "description": "Agent's role.",
                        "title": "Role name",
                        "x-ms-visibility": "important",
                        "enum": [
                          "Administrator",
                          "Agent",
                          "Supervisor"
                        ]
                      }
                    },
                    "required": [
                      "email",
                      "full_name",
                      "role_name"
                    ]
                  },
                  "description": "An array of agent data to be used to create the agents.",
                  "title": "Agents"
                }
              },
              "required": [
                "agents"
              ]
            }
          }
        ],
        "x-ms-visibility": "advanced"
      }
    },
    "/calls/callback": {
      "post": {
        "responses": {
          "default": {
            "description": "Default response for this action.",
            "schema": {}
          }
        },
        "summary": "Create a callback",
        "description": "Create a new callback in Talkdesk.",
        "operationId": "CreateCallback",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "talkdesk_phone_number": {
                  "type": "string",
                  "description": "The E.164 compliant phone number that will receive the call.",
                  "title": "Talkdesk phone number",
                  "x-ms-visibility": "important"
                },
                "contact_phone_number": {
                  "type": "string",
                  "description": "The E.164 compliant phone number of the contact requesting the callback.",
                  "title": "Contact phone number",
                  "x-ms-visibility": "important"
                },
                "context": {
                  "type": "object",
                  "properties": {
                    "fields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Identifier for the field, in the scope of the entire context.",
                            "title": "Name",
                            "x-ms-visibility": "advanced"
                          },
                          "display_name": {
                            "type": "string",
                            "description": "The field name as it is shown to the user",
                            "title": "Display name",
                            "x-ms-visibility": "advanced"
                          },
                          "tooltip_text": {
                            "type": "string",
                            "description": "A tooltip regarding the field, shown to the user",
                            "title": "Tooltip text",
                            "x-ms-visibility": "advanced"
                          },
                          "data_type": {
                            "type": "string",
                            "description": "Data_type of an enumeration of possible values (these enums can imply validation of the 'value' field and detailed error responses will be provided for the fields we discard).",
                            "title": "Data type",
                            "x-ms-visibility": "advanced",
                            "enum": [
                              "phone",
                              "text",
                              "url"
                            ]
                          },
                          "value": {
                            "type": "string",
                            "description": "Field value",
                            "title": "Value",
                            "x-ms-visibility": "advanced"
                          }
                        }
                      },
                      "description": "Context fields.",
                      "title": "Fields"
                    }
                  },
                  "description": "The context settings.",
                  "title": "Context"
                }
              },
              "required": [
                "contact_phone_number",
                "talkdesk_phone_number"
              ]
            }
          }
        ]
      }
    },
    "/notifications": {
      "post": {
        "responses": {
          "200": {
            "description": "Dynamic response for notifications.",
            "schema": {
              "$ref": "#/definitions/DynamicResponseGetListSchema"
            }
          },
		  "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a workspace notification",
        "description": "Create a new workspace notification in Talkdesk.",
        "operationId": "CreateWorkspaceNotification",
        "parameters": [
          {
            "name": "eventID",
            "type": "string",
            "in": "header",
            "description": "Select the type of notification to trigger.",
			"x-ms-summary": "Event id",
            "required": true,
            "enum": [
              "email",
              "push"
            ]
          },
          {
            "name": "dynamicListSchema",
            "in": "body",
            "description": "Details for the selected item.",
			"x-ms-summary": "Dynamic list schema",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetListSchema",
                "parameters": {
                  "listID": {
                    "parameter": "eventID"
                  }
                },
                "value-path": "items"
              }
            }
          }
        ]
      }
    },
    "/users": {
      "get": {
        "responses": {
          "200": {
            "description": "Data response for this action.",
            "schema": {
              "type": "object",
              "properties": {
                "_embedded": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The Id of the user.",
                            "title": "Id"
                          },
                          "email": {
                            "type": "string",
                            "description": "The e-mail of the user.",
                            "title": "Email"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the user.",
                            "title": "Name"
                          },
                          "active": {
                            "type": "boolean",
                            "description": "Ahe activation state of the user.",
                            "title": "Active",
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "gender": {
                            "type": "string",
                            "description": "The gender of the user.",
                            "title": "Gender"
                          },
                          "extension": {
                            "type": "string",
                            "description": "The phone extension for the user.",
                            "title": "Extension"
                          },
                          "external_phone_number": {
                            "type": "string",
                            "description": "The external phone number for the user.",
                            "title": "External phone number"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "The date for the creation of the user.",
                            "title": "Created at"
                          }
                        }
                      },
                      "description": "The user data.",
                      "title": "Users"
                    }
                  },
                  "description": "The user data object.",
                  "title": "Embedded"
                }
              }
            }
          },
		  "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get user by email",
        "description": "Get user by email from Talkdesk.",
        "operationId": "GetUserByEmail",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "User email for the query.",
            "x-ms-summary": "User email",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/account/custom-status": {
      "get": {
        "responses": {
          "200": {
            "description": "Data response for this action.",
            "schema": {
              "type": "object",
              "properties": {
                "custom_status": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The id of the custom status.",
                        "title": "Id"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "The presentation name of the custom status.",
                        "title": "Display name"
                      }
                    }
                  },
                  "description": "The list of the custom statuses.",
                  "title": "Custom status"
                }
              }
            }
          },
		  "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get account configured custom status used by agents",
        "description": "Get account configured custom status used by agents in Talkdesk.",
        "operationId": "GetAccountStatusList",
        "parameters": []
      }
    },
    "/users/{id}/presence": {
      "get": {
        "responses": {
          "200": {
            "description": "Data response for this action.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "A unique id for the event.",
                  "title": "Id"
                },
                "account_id": {
                  "type": "string",
                  "description": "The id of the account.",
                  "title": "Account id"
                },
                "user_id": {
                  "type": "string",
                  "description": "The ID of the user.",
                  "title": "User id"
                },
                "status": {
                  "type": "string",
                  "description": "The user current status.",
                  "title": "Status"
                },
                "custom_status": {
                  "type": "string",
                  "description": "The user current custom status.",
                  "title": "Custom status"
                },
                "custom_status_id": {
                  "type": "string",
                  "description": "The user current custom status id.",
                  "title": "Custom status id"
                },
                "occupancy": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The user occupancy level.",
                  "title": "Occupancy"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the channel.",
                        "title": "Name"
                      },
                      "occupancy": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The channel occupancy level.",
                        "title": "Occupancy"
                      },
                      "devices": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The list of devices available.",
                        "title": "Devices"
                      }
                    }
                  },
                  "description": "The list of channels available.",
                  "title": "Channels"
                },
                "devices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The id of the device.",
                        "title": "Id"
                      }
                    }
                  },
                  "description": "The list of devices available.",
                  "title": "Devices"
                },
                "interactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The id of the interaction.",
                        "title": "Id"
                      },
                      "device_id": {
                        "type": "string",
                        "description": "The id of the device.",
                        "title": "Device id"
                      },
                      "channel_name": {
                        "type": "string",
                        "description": "The name of the channel.",
                        "title": "Channel name"
                      },
                      "cost": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The cost of the interaction.",
                        "title": "Cost"
                      }
                    }
                  },
                  "description": "The list of ongoing interactions.",
                  "title": "Interactions"
                },
                "updated_by": {
                  "type": "string",
                  "description": "The resource that made the last update.",
                  "title": "Updated by"
                },
                "updated_at": {
                  "type": "string",
                  "description": "The time the last status was updated.",
                  "title": "Updated at"
                }
              }
            }
          },
		  		  "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get user presence",
        "description": "Get user presence in Talkdesk.",
        "operationId": "GetUserPresence",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The user id.",
			"x-ms-url-encoding": "single",
            "x-ms-summary": "User id",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/ccaas/users/{id}/status": {
      "put": {
        "responses": {
          "default": {
            "description": "Default response for this action.",
            "schema": {}
          }
        },
        "summary": "Update user status",
        "description": "Update user status in Talkdesk. This action has to be used after the SubscribePresenceForAllUsers action.",
        "operationId": "UpdateUserStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The user id.",
			"x-ms-url-encoding": "single",
            "x-ms-summary": "User id",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "current_status": {
                  "type": "string",
                  "description": "The (assumed) current user status. (only Available or Custom Busy)",
                  "title": "Current status"
                },
                "new_status": {
                  "type": "string",
                  "description": "The desired new user status. (only Available or Custom Busy)",
                  "title": "New status"
                }
              }
            }
          }
        ]
      }
    },
    "/webhooks/triggers/contactUpdated": {
      "x-ms-notification-content": {
        "description": "Contact updated in Talkdesk.",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "This is the name of the Talkdesk event.",
              "title": "Event name"
            },
            "contact_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk contact.",
              "title": "Contact id"
            },
            "account_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk account.",
              "title": "Account id"
            },
            "contact_first_name": {
              "type": "string",
              "description": "This is the first name of the Talkdesk contact.",
              "title": "Contact first name"
            },
            "contact_last_name": {
              "type": "string",
              "description": "This is the last name of the Talkdesk contact.",
              "title": "Contact last name"
            },
            "contact_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk contact.",
              "title": "Contact name"
            },
            "contact_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk contact.",
              "title": "Contact email"
            },
            "contact_phone": {
              "type": "string",
              "description": "This is the phone of the Talkdesk contact.",
              "title": "Contact phone"
            },
            "contact_company": {
              "type": "string",
              "description": "This is the company of the Talkdesk contact.",
              "title": "Contact company"
            },
            "contact_title": {
              "type": "string",
              "description": "This is the title of the Talkdesk contact.",
              "title": "Contact title"
            },
            "contact_address": {
              "type": "string",
              "description": "This is the address of the Talkdesk contact.",
              "title": "Contact address"
            },
            "contact_website": {
              "type": "string",
              "description": "This is the website of the Talkdesk contact.",
              "title": "Contact website"
            },
            "account_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk account.",
              "title": "Account email"
            },
            "account_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk account.",
              "title": "Account name"
            }
          }
        }
      },
      "post": {
        "responses": {
			"200" : {
				"description" : "Completed successfully"
			}
		},
        "summary": "When a contact is updated",
        "description": "When a contact is updated.",
        "operationId": "ContactUpdated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackurl": {
                  "type": "string",
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "x-ms-visibility": "internal",
                  "default": "https://talkdesk.com",
                  "x-ms-notification-url": true
                },
                "message": {
                  "type": "string",
                  "description": "The json schema for the Talkdesk action.",
                  "title": "Message",
                  "x-ms-visibility": "internal",
                  "default": "{\"$schema\":\"http://json-schema.org/draft-07/schema#\",\"title\":\"Root\",\"type\":\"object\",\"required\":[\"contact_name\",\"contact_email\"],\"properties\":{\"event\":{\"title\":\"Event\",\"type\":\"string\",\"default\":\"{{event}}\"},\"contact_id\":{\"title\":\"Contact ID\",\"type\":\"string\",\"default\":\"{{contact_id}}\"},\"account_id\":{\"title\":\"Account ID\",\"type\":\"string\",\"default\":\"{{account_id}}\"},\"contact_first_name\":{\"title\":\"Contact first name\",\"type\":\"string\",\"default\":\"{{contact.first_name}}\"},\"contact_last_name\":{\"title\":\"Contact last name\",\"type\":\"string\",\"default\":\"{{contact.last_name}}\"},\"contact_name\":{\"title\":\"Contact name\",\"type\":\"string\",\"default\":\"{{contact.name}}\"},\"contact_email\":{\"title\":\"Contact email\",\"type\":\"string\",\"default\":\"{{contact.email}}\"},\"contact_phone\":{\"title\":\"Contact phone\",\"type\":\"string\",\"default\":\"{{contact.phone}}\"},\"contact_address\":{\"title\":\"Contact address\",\"type\":\"string\",\"default\":\"{{contact.address}}\"},\"contact_company\":{\"title\":\"Contact company\",\"type\":\"string\",\"default\":\"{{contact.company}}\"},\"contact_website\":{\"title\":\"Contact website\",\"type\":\"string\",\"default\":\"{{contact.website}}\"},\"contact_title\":{\"title\":\"Contact title\",\"type\":\"string\",\"default\":\"{{contact.title}}\"},\"account_email\":{\"title\":\"Account email\",\"type\":\"string\",\"default\":\"{{account.email}}\"},\"account_name\":{\"title\":\"Account name\",\"type\":\"string\",\"default\":\"{{account.name}}\"}},\"additionalProperties\":false}"
                },
                "title": {
                  "type": "string",
                  "description": "The webhook's title.",
                  "title": "Title",
                  "default": "When a contact is updated",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackurl",
                "message",
                "title"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/webhooks/triggers/noteCreated": {
      "x-ms-notification-content": {
        "description": "Note createdin Talkdesk.",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "This is the name of the Talkdesk event.",
              "title": "Event name"
            },
            "title": {
              "type": "string",
              "description": "This is the title of the Talkdesk note.",
              "title": "Note's title"
            },
            "content": {
              "type": "string",
              "description": "This is the content of the Talkdesk note.",
              "title": "Note's content"
            },
            "contact_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk contact.",
              "title": "Contact id"
            },
            "account_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk account.",
              "title": "Account id"
            },
            "contact_first_name": {
              "type": "string",
              "description": "This is the first name of the Talkdesk contact.",
              "title": "Contact first name"
            },
            "contact_last_name": {
              "type": "string",
              "description": "This is the last name of the Talkdesk contact.",
              "title": "Contact last name"
            },
            "contact_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk contact.",
              "title": "Contact name"
            },
            "contact_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk contact.",
              "title": "Contact email"
            },
            "contact_phone": {
              "type": "string",
              "description": "This is the phone of the Talkdesk contact.",
              "title": "Contact phone"
            },
            "contact_company": {
              "type": "string",
              "description": "This is the company of the Talkdesk contact.",
              "title": "Contact company"
            },
            "contact_title": {
              "type": "string",
              "description": "This is the title of the Talkdesk contact.",
              "title": "Contact title"
            },
            "contact_address": {
              "type": "string",
              "description": "This is the address of the Talkdesk contact.",
              "title": "Contact address"
            },
            "contact_website": {
              "type": "string",
              "description": "This is the website of the Talkdesk contact.",
              "title": "Contact website"
            },
            "account_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk account.",
              "title": "Account email"
            },
            "account_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk account.",
              "title": "Account name"
            }
          }
        }
      },
      "post": {
        "responses": {
			"200" : {
				"description" : "Completed successfully"
			}
		},
        "summary": "When a note is created",
        "description": "When a note is created.",
        "operationId": "NoteCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackurl": {
                  "type": "string",
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "x-ms-visibility": "internal",
                  "default": "https://talkdesk.com",
                  "x-ms-notification-url": true
                },
                "message": {
                  "type": "string",
                  "description": "The json schema for the Talkdesk action.",
                  "title": "Message",
                  "default": "{\"$schema\":\"http://json-schema.org/draft-07/schema#\",\"title\":\"Root\",\"type\":\"object\",\"required\":[\"contact_name\",\"contact_email\"],\"properties\":{\"event\":{\"title\":\"Event\",\"type\":\"string\",\"default\":\"{{event}}\"},\"contact_id\":{\"title\":\"Contact ID\",\"type\":\"string\",\"default\":\"{{contact_id}}\"},\"account_id\":{\"title\":\"Account ID\",\"type\":\"string\",\"default\":\"{{account_id}}\"},\"contact_first_name\":{\"title\":\"Contact first name\",\"type\":\"string\",\"default\":\"{{contact.first_name}}\"},\"contact_last_name\":{\"title\":\"Contact last name\",\"type\":\"string\",\"default\":\"{{contact.last_name}}\"},\"contact_name\":{\"title\":\"Contact name\",\"type\":\"string\",\"default\":\"{{contact.name}}\"},\"contact_email\":{\"title\":\"Contact email\",\"type\":\"string\",\"default\":\"{{contact.email}}\"},\"contact_phone\":{\"title\":\"Contact phone\",\"type\":\"string\",\"default\":\"{{contact.phone}}\"},\"contact_address\":{\"title\":\"Contact address\",\"type\":\"string\",\"default\":\"{{contact.address}}\"},\"contact_company\":{\"title\":\"Contact company\",\"type\":\"string\",\"default\":\"{{contact.company}}\"},\"contact_website\":{\"title\":\"Contact website\",\"type\":\"string\",\"default\":\"{{contact.website}}\"},\"contact_title\":{\"title\":\"Contact title\",\"type\":\"string\",\"default\":\"{{contact.title}}\"},\"title\":{\"title\":\"Note title\",\"type\":\"string\",\"default\":\"{{title}}\"},\"content\":{\"title\":\"Note content\",\"type\":\"string\",\"default\":\"{{content}}\"},\"account_email\":{\"title\":\"Account email\",\"type\":\"string\",\"default\":\"{{account.email}}\"},\"account_name\":{\"title\":\"Account name\",\"type\":\"string\",\"default\":\"{{account.name}}\"}},\"additionalProperties\":false}",
                  "x-ms-visibility": "internal"
                },
                "title": {
                  "type": "string",
                  "description": "The webhook's title",
                  "title": "Title",
                  "default": "When a note is created",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackurl",
                "message",
                "title"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/webhooks/triggers/agentLogIn": {
      "x-ms-notification-content": {
        "description": "Agent logs in.",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "This is the name of the Talkdesk event.",
              "title": "Event name"
            },
            "agent_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk agent.",
              "title": "Agent id"
            },
            "agent_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk agent.",
              "title": "Agent name"
            },
            "agent_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk agent.",
              "title": "Agent email"
            },
            "agent_tags": {
              "type": "string",
              "description": "This is are the ringing groups of the Talkdesk agent.",
              "title": "Agent ringing groups"
            }
          }
        }
      },
      "post": {
        "responses": {
			"200" : {
				"description" : "Completed successfully"
			}
		},
        "summary": "When agent logs in",
        "description": "When agent logs in.",
        "operationId": "AgentLogIn",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackurl": {
                  "type": "string",
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "default": "https://talkdesk.com",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "message": {
                  "type": "string",
                  "description": "The json schema for the Talkdesk action.",
                  "title": "Message",
                  "default": "{\"$schema\":\"http://json-schema.org/draft-07/schema#\",\"title\":\"Root\",\"type\":\"object\",\"required\":[\"agent_id\"],\"properties\":{\"event\":{\"title\":\"Event\",\"type\":\"string\",\"default\":\"{{event}}\"},\"agent_email\":{\"title\":\"Agent email\",\"type\":\"string\",\"default\":\"{{agent.email}}\"},\"agent_id\":{\"title\":\"Agent ID\",\"type\":\"string\",\"default\":\"{{agent_id}}\"},\"agent_name\":{\"title\":\"Agent name\",\"type\":\"string\",\"default\":\"{{agent.name}}\"},\"agent_tags\":{\"title\":\"Agent ringing groups\",\"type\":\"string\",\"default\":\"{{agent.tags_list}}\"}},\"additionalProperties\":false}",
                  "x-ms-visibility": "internal"
                },
                "title": {
                  "type": "string",
                  "description": "The webhook's title.",
                  "title": "Title",
                  "default": "When agent logs in",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackurl",
                "message",
                "title"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/webhooks/triggers/agentLogOut": {
      "x-ms-notification-content": {
        "description": "Agent logs out.",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "This is the name of the Talkdesk event.",
              "title": "Event name"
            },
            "agent_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk agent.",
              "title": "Agent id"
            },
            "agent_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk agent.",
              "title": "Agent name"
            },
            "agent_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk agent.",
              "title": "Agent email"
            },
            "agent_tags": {
              "type": "string",
              "description": "This is are the ringing groups of the Talkdesk agent.",
              "title": "Agent ringing groups"
            }
          }
        }
      },
      "post": {
        "responses": {
			"200" : {
				"description" : "Completed successfully"
			}
		},
        "summary": "When agent logs out",
        "description": "When agent logs out.",
        "operationId": "AgentLogOut",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackurl": {
                  "type": "string",
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "default": "https://talkdesk.com",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "message": {
                  "type": "string",
                  "description": "The json schema for the Talkdesk action.",
                  "title": "Message",
                  "default": "{\"$schema\":\"http://json-schema.org/draft-07/schema#\",\"title\":\"Root\",\"type\":\"object\",\"required\":[\"agent_id\"],\"properties\":{\"event\":{\"title\":\"Event\",\"type\":\"string\",\"default\":\"{{event}}\"},\"agent_email\":{\"title\":\"Agent email\",\"type\":\"string\",\"default\":\"{{agent.email}}\"},\"agent_id\":{\"title\":\"Agent ID\",\"type\":\"string\",\"default\":\"{{agent_id}}\"},\"agent_name\":{\"title\":\"Agent name\",\"type\":\"string\",\"default\":\"{{agent.name}}\"},\"agent_tags\":{\"title\":\"Agent ringing groups\",\"type\":\"string\",\"default\":\"{{agent.tags_list}}\"}},\"additionalProperties\":false}",
                  "x-ms-visibility": "internal"
                },
                "title": {
                  "type": "string",
                  "description": "The webhook's title.",
                  "title": "Title",
                  "default": "When agent logs out",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackurl",
                "message",
                "title"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/webhooks/triggers/outboundCallEnds": {
      "x-ms-notification-content": {
        "description": "Outbound call ends in Talkdesk.",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "This is the name of the Talkdesk event.",
              "title": "Event name"
            },
            "call_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk call.",
              "title": "Call id"
            },
            "interaction_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk interaction.",
              "title": "Interaction id"
            },
            "contact_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk contact.",
              "title": "Contact id"
            },
            "account_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk account.",
              "title": "Account id"
            },
            "agent_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk agent.",
              "title": "Agent id"
            },
            "total_duration": {
              "type": "string",
              "description": "This is the total duration of the Talkdesk call.",
              "title": "Total duration"
            },
            "duration": {
              "type": "string",
              "description": "This is the duration of the Talkdesk call.",
              "title": "Call duration"
            },
            "waiting_time": {
              "type": "string",
              "description": "This is the waiting time of the Talkdesk call.",
              "title": "Waiting time"
            },
            "hold_time": {
              "type": "string",
              "description": "This is the holding time of the Talkdesk call.",
              "title": "Holding time"
            },
            "hangup": {
              "type": "string",
              "description": "This is the hang up reason of the Talkdesk call.",
              "title": "Hang up reason"
            },
            "proactive_outbound": {
              "type": "string",
              "description": "This is the launched by outbound dialer of the Talkdesk call.",
              "title": "Launched by outbound dialer"
            },
            "tags": {
              "type": "string",
              "description": "This are the call ringing groups of the Talkdesk call.",
              "title": "Call ringing groups"
            },
            "talkdesk_phone_number": {
              "type": "string",
              "description": "This is the contact center number of the Talkdesk call.",
              "title": "Contact center number"
            },
            "contact_phone_number": {
              "type": "string",
              "description": "This is the called number of the Talkdesk call.",
              "title": "Called number"
            },
            "agent_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk agent.",
              "title": "Agent name"
            },
            "agent_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk agent.",
              "title": "Agent email"
            },
            "agent_tags": {
              "type": "string",
              "description": "This is are the ringing groups of the Talkdesk agent.",
              "title": "Agent ringing groups"
            },
            "contact_first_name": {
              "type": "string",
              "description": "This is the first name of the Talkdesk contact.",
              "title": "Contact first name"
            },
            "contact_last_name": {
              "type": "string",
              "description": "This is the last name of the Talkdesk contact.",
              "title": "Contact last name"
            },
            "contact_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk contact.",
              "title": "Contact name"
            },
            "contact_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk contact.",
              "title": "Contact email"
            },
            "contact_phone": {
              "type": "string",
              "description": "This is the phone of the Talkdesk contact.",
              "title": "Contact phone"
            },
            "contact_company": {
              "type": "string",
              "description": "This is the company of the Talkdesk contact.",
              "title": "Contact company"
            },
            "contact_title": {
              "type": "string",
              "description": "This is the title of the Talkdesk contact.",
              "title": "Contact title"
            },
            "contact_address": {
              "type": "string",
              "description": "This is the address of the Talkdesk contact.",
              "title": "Contact address"
            },
            "contact_website": {
              "type": "string",
              "description": "This is the website of the Talkdesk contact.",
              "title": "Contact website"
            },
            "phone_vip": {
              "type": "string",
              "description": "This is the VIP phone number of the Talkdesk call.",
              "title": "VIP phone number"
            },
            "phone_ivr": {
              "type": "string",
              "description": "This is the using IVR of the Talkdesk call.",
              "title": "Using IVR"
            },
            "interaction_type": {
              "type": "string",
              "description": "This is the interaction type of the Talkdesk call.",
              "title": "Interaction type"
            },
            "account_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk account.",
              "title": "Account email"
            },
            "account_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk account.",
              "title": "Account name"
            }
          }
        }
      },
      "post": {
        "responses": {
			"200" : {
				"description" : "Completed successfully"
			}
		},
        "summary": "When outbound call ends",
        "description": "When outbound call ends.",
        "operationId": "OutboundCallEnds",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackurl": {
                  "type": "string",
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "default": "https://talkdesk.com",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "message": {
                  "type": "string",
                  "description": "The json schema for the Takdesk action",
                  "title": "Message",
                  "default": "{\"$schema\":\"http://json-schema.org/draft-07/schema#\",\"title\":\"Root\",\"type\":\"object\",\"required\":[\"account_id\"],\"properties\":{\"event\":{\"title\":\"Event\",\"type\":\"string\",\"default\":\"{{event}}\"},\"call_id\":{\"title\":\"Callid\",\"type\":\"string\",\"default\":\"{{call_id}}\"},\"interaction_id\":{\"title\":\"Interaction id\",\"type\":\"string\",\"default\":\"{{interaction_id}}\"},\"contact_id\":{\"title\":\"Contact id\",\"type\":\"string\",\"default\":\"{{contact.id}}\"},\"account_id\":{\"title\":\"Account id\",\"type\":\"string\",\"default\":\"{{account_id}}\"},\"agent_id\":{\"title\":\"Agent id\",\"type\":\"string\",\"default\":\"{{agent_id}}\"},\"total_duration\":{\"title\":\"Total duration\",\"type\":\"string\",\"default\":\"{{total_duration}}\"},\"duration\":{\"title\":\"Call duration\",\"type\":\"string\",\"default\":\"{{duration}}\"},\"waiting_time\":{\"title\":\"Waiting time\",\"type\":\"string\",\"default\":\"{{waiting_time}}\"},\"hold_time\":{\"title\":\"Hold time\",\"type\":\"string\",\"default\":\"{{hold_time}}\"},\"hangup\":{\"title\":\"Hangup reason\",\"type\":\"string\",\"default\":\"{{hangup}}\"},\"proactive_outbound\":{\"title\":\"Launched by Outbound Dialer\",\"type\":\"string\",\"default\":\"{{proactive_outbound}}\"},\"tags\":{\"title\":\"Call ringing groups\",\"type\":\"string\",\"default\":\"{{tags}}\"},\"talkdesk_phone_number\":{\"title\":\"Contact Center number\",\"type\":\"string\",\"default\":\"{{talkdesk_phone_number}}\"},\"contact_phone_number\":{\"title\":\"Called number\",\"type\":\"string\",\"default\":\"{{contact_phone_number}}\"},\"agent_name\":{\"title\":\"Agent name\",\"type\":\"string\",\"default\":\"{{agent.name}}\"},\"agent_email\":{\"title\":\"Agent email\",\"type\":\"string\",\"default\":\"{{agent.email}}\"},\"agent_tags\":{\"title\":\"Agent ringing groups\",\"type\":\"string\",\"default\":\"{{agent.tags_list}}\"},\"contact_first_name\":{\"title\":\"Contact first name\",\"type\":\"string\",\"default\":\"{{contact.first_name}}\"},\"contact_last_name\":{\"title\":\"Contact last name\",\"type\":\"string\",\"default\":\"{{contact.last_name}}\"},\"contact_name\":{\"title\":\"Contact name\",\"type\":\"string\",\"default\":\"{{contact.name}}\"},\"contact_email\":{\"title\":\"Contact email\",\"type\":\"string\",\"default\":\"{{contact.email}}\"},\"contact_phone\":{\"title\":\"Contact phone\",\"type\":\"string\",\"default\":\"{{contact.phone}}\"},\"contact_company\":{\"title\":\"Contact company\",\"type\":\"string\",\"default\":\"{{contact.company}}\"},\"contact_title\":{\"title\":\"Contact title\",\"type\":\"string\",\"default\":\"{{contact.title}}\"},\"contact_address\":{\"title\":\"Contact address\",\"type\":\"string\",\"default\":\"{{contact.address}}\"},\"contact_website\":{\"title\":\"Contact website\",\"type\":\"string\",\"default\":\"{{contact.website}}\"},\"phone_vip\":{\"title\":\"VIP phone number\",\"type\":\"string\",\"default\":\"{{phone.vip}}\"},\"phone_ivr\":{\"title\":\"Using IVR\",\"type\":\"string\",\"default\":\"{{phone.ivr}}\"},\"interaction_type\":{\"title\":\"Interaction type\",\"type\":\"string\",\"default\":\"{{interaction.type}}\"},\"account_email\":{\"title\":\"Account email\",\"type\":\"string\",\"default\":\"{{account.email}}\"},\"account_name\":{\"title\":\"Account name\",\"type\":\"string\",\"default\":\"{{account.name}}\"}},\"additionalProperties\":false}",
                  "x-ms-visibility": "internal"
                },
                "title": {
                  "type": "string",
                  "description": "The webhook's title.",
                  "title": "Title",
                  "default": "When outbound call ends",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackurl",
                "message",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/triggers/inboundCallReachesContactCenter": {
      "x-ms-notification-content": {
        "description": "Inbound call reaches contact center in Talkdesk.",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "This is the name of the Talkdesk event.",
              "title": "Event name"
            },
            "call_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk call.",
              "title": "Call id"
            },
            "interaction_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk interaction.",
              "title": "Interaction id"
            },
            "contact_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk contact.",
              "title": "Contact id"
            },
            "account_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk account.",
              "title": "Account id"
            },
            "interaction_context_id": {
              "type": "string",
              "description": "This is the interaction context id of the Talkdesk call.",
              "title": "Interaction context id"
            },
            "talkdesk_phone_number": {
              "type": "string",
              "description": "This is the contact center number of the Talkdesk call.",
              "title": "Contact center number"
            },
            "contact_phone_number": {
              "type": "string",
              "description": "This is the called number of the Talkdesk call.",
              "title": "Called number"
            },
            "contact_first_name": {
              "type": "string",
              "description": "This is the first name of the Talkdesk contact.",
              "title": "Contact first name"
            },
            "contact_last_name": {
              "type": "string",
              "description": "This is the last name of the Talkdesk contact.",
              "title": "Contact last name"
            },
            "contact_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk contact.",
              "title": "Contact name"
            },
            "contact_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk contact.",
              "title": "Contact email"
            },
            "contact_phone": {
              "type": "string",
              "description": "This is the phone of the Talkdesk contact.",
              "title": "Contact phone"
            },
            "contact_company": {
              "type": "string",
              "description": "This is the company of the Talkdesk contact.",
              "title": "Contact company"
            },
            "contact_title": {
              "type": "string",
              "description": "This is the title of the Talkdesk contact.",
              "title": "Contact title"
            },
            "contact_address": {
              "type": "string",
              "description": "This is the address of the Talkdesk contact.",
              "title": "Contact address"
            },
            "contact_website": {
              "type": "string",
              "description": "This is the website of the Talkdesk contact.",
              "title": "Contact website"
            },
            "phone_vip": {
              "type": "string",
              "description": "This is the VIP phone number of the Talkdesk call.",
              "title": "VIP phone number"
            },
            "phone_ivr": {
              "type": "string",
              "description": "This is the using IVR of the Talkdesk call.",
              "title": "Using IVR"
            },
            "interaction_type": {
              "type": "string",
              "description": "This is the interaction type of the Talkdesk call.",
              "title": "Interaction type"
            },
            "account_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk account.",
              "title": "Account email"
            },
            "account_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk account.",
              "title": "Account name"
            }
          }
        }
      },
      "post": {
        "responses": {
			"200" : {
				"description" : "Completed successfully"
			}
		},
        "summary": "When inbound call reaches contact center",
        "description": "When inbound call reaches contact center.",
        "operationId": "InboundCallReachesContactCenter",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackurl": {
                  "type": "string",
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "default": "https://talkdesk.com",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "message": {
                  "type": "string",
                  "description": "The json schema for the Talkdesk action",
                  "title": "Message",
                  "default": "{\"$schema\":\"http://json-schema.org/draft-07/schema#\",\"title\":\"Root\",\"type\":\"object\",\"required\":[\"account_id\"],\"properties\":{\"event\":{\"title\":\"Event\",\"type\":\"string\",\"default\":\"{{event}}\"},\"call_id\":{\"title\":\"Callid\",\"type\":\"string\",\"default\":\"{{call_id}}\"},\"interaction_id\":{\"title\":\"Interaction id\",\"type\":\"string\",\"default\":\"{{interaction_id}}\"},\"contact_id\":{\"title\":\"Contact id\",\"type\":\"string\",\"default\":\"{{contact.id}}\"},\"account_id\":{\"title\":\"Account id\",\"type\":\"string\",\"default\":\"{{account_id}}\"},\"contact_phone_number\":{\"title\":\"Caller's number\",\"type\":\"string\",\"default\":\"{{contact_phone_number}}\"},\"interaction_context_id\":{\"title\":\"Interaction context ID\",\"type\":\"string\",\"default\":\"{{interaction_context_id}}\"},\"talkdesk_phone_number\":{\"title\":\"Contact Center number\",\"type\":\"string\",\"default\":\"{{talkdesk_phone_number}}\"},\"contact_first_name\":{\"title\":\"Contact first name\",\"type\":\"string\",\"default\":\"{{contact.first_name}}\"},\"contact_last_name\":{\"title\":\"Contact last name\",\"type\":\"string\",\"default\":\"{{contact.last_name}}\"},\"contact_name\":{\"title\":\"Contact name\",\"type\":\"string\",\"default\":\"{{contact.name}}\"},\"contact_email\":{\"title\":\"Contact email\",\"type\":\"string\",\"default\":\"{{contact.email}}\"},\"contact_phone\":{\"title\":\"Contact phone\",\"type\":\"string\",\"default\":\"{{contact.phone}}\"},\"contact_company\":{\"title\":\"Contact company\",\"type\":\"string\",\"default\":\"{{contact.company}}\"},\"contact_title\":{\"title\":\"Contact title\",\"type\":\"string\",\"default\":\"{{contact.title}}\"},\"contact_address\":{\"title\":\"Contact address\",\"type\":\"string\",\"default\":\"{{contact.address}}\"},\"contact_website\":{\"title\":\"Contact website\",\"type\":\"string\",\"default\":\"{{contact.website}}\"},\"phone_vip\":{\"title\":\"VIP phone number\",\"type\":\"string\",\"default\":\"{{phone.vip}}\"},\"phone_ivr\":{\"title\":\"Using IVR\",\"type\":\"string\",\"default\":\"{{phone.ivr}}\"},\"interaction_type\":{\"title\":\"Interaction type\",\"type\":\"string\",\"default\":\"{{interaction.type}}\"},\"account_email\":{\"title\":\"Account email\",\"type\":\"string\",\"default\":\"{{account.email}}\"},\"account_name\":{\"title\":\"Account name\",\"type\":\"string\",\"default\":\"{{account.name}}\"}},\"additionalProperties\":false}",
                  "x-ms-visibility": "internal"
                },
                "title": {
                  "type": "string",
                  "description": "The webhook's title.",
                  "title": "Title",
                  "default": "When inbound call reaches contact center",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackurl",
                "message",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/triggers/inboundCallEnds": {
      "x-ms-notification-content": {
        "description": "Inbound call ends in Talkdesk.",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "This is the name of the Talkdesk event.",
              "title": "Event name"
            },
            "call_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk call.",
              "title": "Call id"
            },
            "interaction_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk interaction.",
              "title": "Interaction id"
            },
            "contact_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk contact.",
              "title": "Contact id"
            },
            "account_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk account.",
              "title": "Account id"
            },
            "interaction_context_id": {
              "type": "string",
              "description": "This is the interaction context id of the Talkdesk call.",
              "title": "Interaction context id"
            },
            "talkdesk_phone_number": {
              "type": "string",
              "description": "This is the contact center number of the Talkdesk call.",
              "title": "Contact center number"
            },
            "contact_phone_number": {
              "type": "string",
              "description": "This is the called number of the Talkdesk call.",
              "title": "Called number"
            },
            "contact_first_name": {
              "type": "string",
              "description": "This is the first name of the Talkdesk contact.",
              "title": "Contact first name"
            },
            "contact_last_name": {
              "type": "string",
              "description": "This is the last name of the Talkdesk contact.",
              "title": "Contact last name"
            },
            "contact_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk contact.",
              "title": "Contact name"
            },
            "contact_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk contact.",
              "title": "Contact email"
            },
            "contact_phone": {
              "type": "string",
              "description": "This is the phone of the Talkdesk contact.",
              "title": "Contact phone"
            },
            "contact_company": {
              "type": "string",
              "description": "This is the company of the Talkdesk contact.",
              "title": "Contact company"
            },
            "contact_title": {
              "type": "string",
              "description": "This is the title of the Talkdesk contact.",
              "title": "Contact title"
            },
            "contact_address": {
              "type": "string",
              "description": "This is the address of the Talkdesk contact.",
              "title": "Contact address"
            },
            "contact_website": {
              "type": "string",
              "description": "This is the website of the Talkdesk contact.",
              "title": "Contact website"
            },
            "phone_vip": {
              "type": "string",
              "description": "This is the VIP phone number of the Talkdesk call.",
              "title": "VIP phone number"
            },
            "phone_ivr": {
              "type": "string",
              "description": "This is the using IVR of the Talkdesk call.",
              "title": "Using IVR"
            },
            "interaction_type": {
              "type": "string",
              "description": "This is the interaction type of the Talkdesk call.",
              "title": "Interaction type"
            },
            "account_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk account.",
              "title": "Account email"
            },
            "account_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk account.",
              "title": "Account name"
            },
            "agent_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk agent.",
              "title": "Agent id"
            },
            "total_duration": {
              "type": "string",
              "description": "This is the total duration of the Talkdesk call.",
              "title": "Total duration"
            },
            "duration": {
              "type": "string",
              "description": "This is the duration of the Talkdesk call.",
              "title": "Call duration"
            },
            "waiting_time": {
              "type": "string",
              "description": "This is the waiting time of the Talkdesk call.",
              "title": "Waiting time"
            },
            "hold_time": {
              "type": "string",
              "description": "This is the holding time of the Talkdesk call.",
              "title": "Holding time"
            },
            "in_business_hours": {
              "type": "string",
              "description": "This is the in business hours of the Talkdesk call.",
              "title": "In business hours?"
            },
            "recording_url": {
              "type": "string",
              "description": "This is the recording URL of the Talkdesk call.",
              "title": "Recording URL"
            },
            "hangup": {
              "type": "string",
              "description": "This is the hang up reason of the Talkdesk call.",
              "title": "Hang up reason"
            },
            "start_time": {
              "type": "string",
              "description": "This is the call start time of the Talkdesk call.",
              "title": "Call start time"
            },
            "timestamp": {
              "type": "string",
              "description": "This is the call end time of the Talkdesk call.",
              "title": "Call end time"
            },
            "proactive_outbound": {
              "type": "string",
              "description": "This is the launched by outbound dialer of the Talkdesk call.",
              "title": "Launched by outbound dialer"
            },
            "tags": {
              "type": "string",
              "description": "This are the call ringing groups of the Talkdesk call.",
              "title": "Call ringing groups"
            },
            "agent_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk agent.",
              "title": "Agent name"
            },
            "agent_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk agent.",
              "title": "Agent email"
            },
            "agent_tags": {
              "type": "string",
              "description": "This is are the ringing groups of the Talkdesk agent.",
              "title": "Agent ringing groups"
            }
          }
        }
      },
      "post": {
        "responses": {
			"200" : {
				"description" : "Completed successfully"
			}
		},
        "summary": "When inbound call ends",
        "description": "When inbound call ends.",
        "operationId": "InboundCallEnds",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackurl": {
                  "type": "string",
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "default": "https://talkdesk.com",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "message": {
                  "type": "string",
                  "description": "The json schema for the Talkdesk action",
                  "title": "Message",
                  "default": "{\"$schema\":\"http://json-schema.org/draft-07/schema#\",\"title\":\"Root\",\"type\":\"object\",\"required\":[\"account_id\"],\"properties\":{\"event\":{\"title\":\"Event\",\"type\":\"string\",\"default\":\"{{event}}\"},\"call_id\":{\"title\":\"Callid\",\"type\":\"string\",\"default\":\"{{call_id}}\"},\"interaction_id\":{\"title\":\"Interaction id\",\"type\":\"string\",\"default\":\"{{interaction_id}}\"},\"contact_id\":{\"title\":\"Contact id\",\"type\":\"string\",\"default\":\"{{contact.id}}\"},\"account_id\":{\"title\":\"Account id\",\"type\":\"string\",\"default\":\"{{account_id}}\"},\"agent_id\":{\"title\":\"Agent id\",\"type\":\"string\",\"default\":\"{{agent_id}}\"},\"contact_phone_number\":{\"title\":\"Called number\",\"type\":\"string\",\"default\":\"{{contact_phone_number}}\"},\"total_duration\":{\"title\":\"Total duration\",\"type\":\"string\",\"default\":\"{{total_duration}}\"},\"duration\":{\"title\":\"Call duration\",\"type\":\"string\",\"default\":\"{{duration}}\"},\"waiting_time\":{\"title\":\"Waiting time\",\"type\":\"string\",\"default\":\"{{waiting_time}}\"},\"hold_time\":{\"title\":\"Hold time\",\"type\":\"string\",\"default\":\"{{hold_time}}\"},\"in_business_hours\":{\"title\":\"In business hours\",\"type\":\"string\",\"default\":\"{{in_business_hours}}\"},\"recording_url\":{\"title\":\"Recording URL\",\"type\":\"string\",\"default\":\"{{recording_url}}\"},\"hangup\":{\"title\":\"Hangup reason\",\"type\":\"string\",\"default\":\"{{hangup}}\"},\"start_time\":{\"title\":\"Call start time\",\"type\":\"string\",\"default\":\"{{start_time}}\"},\"timestamp\":{\"title\":\"Call end time\",\"type\":\"string\",\"default\":\"{{timestamp}}\"},\"interaction_context_id\":{\"title\":\"Interaction context ID\",\"type\":\"string\",\"default\":\"{{interaction_context_id}}\"},\"proactive_outbound\":{\"title\":\"Launched by Outbound Dialer\",\"type\":\"string\",\"default\":\"{{proactive_outbound}}\"},\"tags\":{\"title\":\"Call ringing groups\",\"type\":\"string\",\"default\":\"{{tags}}\"},\"talkdesk_phone_number\":{\"title\":\"Contact Center number\",\"type\":\"string\",\"default\":\"{{talkdesk_phone_number}}\"},\"agent_name\":{\"title\":\"Agent name\",\"type\":\"string\",\"default\":\"{{agent.name}}\"},\"agent_email\":{\"title\":\"Agent email\",\"type\":\"string\",\"default\":\"{{agent.email}}\"},\"agent_tags\":{\"title\":\"Agent ringing groups\",\"type\":\"string\",\"default\":\"{{agent.tags_list}}\"},\"contact_first_name\":{\"title\":\"Contact first name\",\"type\":\"string\",\"default\":\"{{contact.first_name}}\"},\"contact_last_name\":{\"title\":\"Contact last name\",\"type\":\"string\",\"default\":\"{{contact.last_name}}\"},\"contact_name\":{\"title\":\"Contact name\",\"type\":\"string\",\"default\":\"{{contact.name}}\"},\"contact_email\":{\"title\":\"Contact email\",\"type\":\"string\",\"default\":\"{{contact.email}}\"},\"contact_phone\":{\"title\":\"Contact phone\",\"type\":\"string\",\"default\":\"{{contact.phone}}\"},\"contact_company\":{\"title\":\"Contact company\",\"type\":\"string\",\"default\":\"{{contact.company}}\"},\"contact_title\":{\"title\":\"Contact title\",\"type\":\"string\",\"default\":\"{{contact.title}}\"},\"contact_address\":{\"title\":\"Contact address\",\"type\":\"string\",\"default\":\"{{contact.address}}\"},\"contact_website\":{\"title\":\"Contact website\",\"type\":\"string\",\"default\":\"{{contact.website}}\"},\"phone_vip\":{\"title\":\"VIP phone number\",\"type\":\"string\",\"default\":\"{{phone.vip}}\"},\"phone_ivr\":{\"title\":\"Using IVR\",\"type\":\"string\",\"default\":\"{{phone.ivr}}\"},\"interaction_type\":{\"title\":\"Interaction type\",\"type\":\"string\",\"default\":\"{{interaction.type}}\"},\"account_email\":{\"title\":\"Account email\",\"type\":\"string\",\"default\":\"{{account.email}}\"},\"account_name\":{\"title\":\"Account name\",\"type\":\"string\",\"default\":\"{{account.name}}\"}},\"additionalProperties\":false}",
                  "x-ms-visibility": "internal"
                },
                "title": {
                  "type": "string",
                  "description": "The webhook's title.",
                  "title": "Title",
                  "default": "When inbound call ends",
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callbackurl",
                "message",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/triggers/inboundCallStarts": {
      "x-ms-notification-content": {
        "description": "Inbound call starts in Talkdesk.",
        "schema": {
          "type": "object",
          "properties": {
            "event": {
              "type": "string",
              "description": "This is the name of the Talkdesk event.",
              "title": "Event name"
            },
            "call_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk call.",
              "title": "Call id"
            },
            "interaction_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk interaction.",
              "title": "Interaction id"
            },
            "contact_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk contact.",
              "title": "Contact id"
            },
            "account_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk account.",
              "title": "Account id"
            },
            "agent_id": {
              "type": "string",
              "description": "This is the id of the Talkdesk agent.",
              "title": "Agent id"
            },
            "contact_phone_number": {
              "type": "string",
              "description": "This is the called number of the Talkdesk call.",
              "title": "Called number"
            },
            "waiting_time": {
              "type": "string",
              "description": "This is the waiting time of the Talkdesk call.",
              "title": "Waiting time"
            },
            "interaction_context_id": {
              "type": "string",
              "description": "This is the interaction context id of the Talkdesk call.",
              "title": "Interaction context id"
            },
            "proactive_outbound": {
              "type": "string",
              "description": "This is the launched by outbound dialer of the Talkdesk call.",
              "title": "Launched by outbound dialer"
            },
            "tags": {
              "type": "string",
              "description": "This are the call ringing groups of the Talkdesk call.",
              "title": "Call ringing groups"
            },
            "talkdesk_phone_number": {
              "type": "string",
              "description": "This is the contact center number of the Talkdesk call.",
              "title": "Contact center number"
            },
            "is_transfer": {
              "type": "string",
              "description": "This is the is transfer of the Talkdesk call.",
              "title": "Is transfer?"
            },
            "agent_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk agent.",
              "title": "Agent name"
            },
            "agent_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk agent.",
              "title": "Agent email"
            },
            "agent_tags": {
              "type": "string",
              "description": "This is are the ringing groups of the Talkdesk agent.",
              "title": "Agent ringing groups"
            },
            "contact_first_name": {
              "type": "string",
              "description": "This is the first name of the Talkdesk contact.",
              "title": "Contact first name"
            },
            "contact_last_name": {
              "type": "string",
              "description": "This is the last name of the Talkdesk contact.",
              "title": "Contact last name"
            },
            "contact_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk contact.",
              "title": "Contact name"
            },
            "contact_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk contact.",
              "title": "Contact email"
            },
            "contact_phone": {
              "type": "string",
              "description": "This is the phone of the Talkdesk contact.",
              "title": "Contact phone"
            },
            "contact_company": {
              "type": "string",
              "description": "This is the company of the Talkdesk contact.",
              "title": "Contact company"
            },
            "contact_title": {
              "type": "string",
              "description": "This is the title of the Talkdesk contact.",
              "title": "Contact title"
            },
            "contact_address": {
              "type": "string",
              "description": "This is the address of the Talkdesk contact.",
              "title": "Contact address"
            },
            "contact_website": {
              "type": "string",
              "description": "This is the website of the Talkdesk contact.",
              "title": "Contact website"
            },
            "phone_vip": {
              "type": "string",
              "description": "This is the VIP phone number of the Talkdesk call.",
              "title": "VIP phone number"
            },
            "phone_ivr": {
              "type": "string",
              "description": "This is the using IVR of the Talkdesk call.",
              "title": "Using IVR"
            },
            "interaction_type": {
              "type": "string",
              "description": "This is the interaction type of the Talkdesk call.",
              "title": "Interaction type"
            },
            "account_email": {
              "type": "string",
              "description": "This is the email of the Talkdesk account.",
              "title": "Account email"
            },
            "account_name": {
              "type": "string",
              "description": "This is the name of the Talkdesk account.",
              "title": "Account name"
            }
          }
        }
      },
      "post": {
        "responses": {
			"200" : {
				"description" : "Completed successfully"
			}
		},
        "summary": "When inbound call starts",
        "description": "When inbound call starts.",
        "operationId": "InboundCallStarts",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackurl": {
                  "type": "string",
                  "description": "Callback URL",
                  "title": "Callback URL",
                  "default": "https://talkdesk.com",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "message": {
                  "type": "string",
                  "description": "The json schema for the action",
                  "title": "Message",
[...]
