{
  "swagger": "2.0",
  "info": {
    "title": "Tallyfy",
    "description": "Tallyfy is beautiful workflow software that helps you create, track and scale any repeatable process. It helps you eliminate the use of flowcharts, forms and emails by digitizing manual business processes and approval workflows.",
    "contact": {
      "name": "Tallyfy",
      "url": "https://tallyfy.com",
      "email": "support@tallyfy.com"
    },
    "version": "2.0.0"
  },
  "host": "go.tallyfy.com",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/organizations/{org}/users": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Get all users belonging to an organization",
        "operationId": "Get_Organization_Users",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            },
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id",
                        "title": "id"
                      },
                      "email": {
                        "type": "string",
                        "description": "email",
                        "title": "email"
                      },
                      "username": {
                        "type": "string",
                        "description": "username",
                        "title": "username"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "first_name",
                        "title": "first_name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "last_name",
                        "title": "last_name"
                      },
                      "full_name": {
                        "type": "string",
                        "description": "full_name",
                        "title": "full_name"
                      },
                      "profile_pic": {
                        "type": "string",
                        "description": "profile_pic",
                        "title": "profile_pic"
                      },
                      "locale": {
                        "type": "string",
                        "description": "locale",
                        "title": "locale"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "active",
                        "title": "active",
                        "enum": [
                          true,
                          false
                        ],
                        "x-ms-visibility": "internal"
                      },
                      "complete": {
                        "type": "boolean",
                        "description": "complete",
                        "title": "complete",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "is_suspended": {
                        "type": "boolean",
                        "description": "is_suspended",
                        "title": "is_suspended",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at",
                        "title": "created_at"
                      },
                      "last_updated": {
                        "type": "string",
                        "description": "last_updated",
                        "title": "last_updated"
                      },
                      "last_login_at": {
                        "type": "string",
                        "description": "last_login_at",
                        "title": "last_login_at"
                      },
                      "support_user": {
                        "type": "boolean",
                        "description": "support_user",
                        "title": "support_user",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "phone": {
                        "type": "string",
                        "description": "phone",
                        "title": "phone"
                      },
                      "job_title": {
                        "type": "string",
                        "description": "job_title",
                        "title": "job_title"
                      },
                      "job_description": {
                        "type": "string",
                        "description": "job_description",
                        "title": "job_description"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "timezone",
                        "title": "timezone"
                      },
                      "UTC_offset": {
                        "type": "string",
                        "description": "UTC_offset",
                        "title": "UTC_offset"
                      },
                      "last_accessed_at": {
                        "type": "string",
                        "description": "last_accessed_at",
                        "title": "last_accessed_at"
                      },
                      "approved_at": {
                        "type": "string",
                        "description": "approved_at",
                        "title": "approved_at"
                      },
                      "disabled_at": {
                        "type": "string",
                        "description": "disabled_at",
                        "title": "disabled_at"
                      },
                      "status": {
                        "type": "string",
                        "description": "status",
                        "title": "status"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get organization's users",
        "x-ms-visibility": "internal"
      }
    },
    "/organizations/{org}/guests": {
      "get": {
        "tags": [
          "Account",
          "Guest"
        ],
        "description": "Get guests in an organization",
        "operationId": "Get_Guests",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-summary": "Organization"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Get guests in an organization",
        "x-ms-visibility": "internal"
      }
    },
    "/me/organizations": {
      "get": {
        "tags": [
          "Account"
        ],
        "description": "Get user's organizations",
        "operationId": "Get_User_Organizations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id",
                        "title": "id",
                        "x-ms-visibility": "internal"
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "title": "name",
                        "x-ms-visibility": "internal"
                      },
                      "description": {
                        "type": "string",
                        "description": "description",
                        "title": "description",
                        "x-ms-visibility": "internal"
                      },
                      "address1": {
                        "type": "string",
                        "description": "address1",
                        "title": "address1",
                        "x-ms-visibility": "internal"
                      },
                      "address2": {
                        "type": "string",
                        "description": "address2",
                        "title": "address2",
                        "x-ms-visibility": "internal"
                      },
                      "slug": {
                        "type": "string",
                        "description": "slug",
                        "title": "slug",
                        "x-ms-visibility": "internal"
                      },
                      "industry": {
                        "type": "string",
                        "description": "industry",
                        "title": "industry",
                        "x-ms-visibility": "internal"
                      },
                      "welcome_title": {
                        "type": "string",
                        "description": "welcome_title",
                        "title": "welcome_title",
                        "x-ms-visibility": "internal"
                      },
                      "welcome_description": {
                        "type": "string",
                        "description": "welcome_description",
                        "title": "welcome_description",
                        "x-ms-visibility": "internal"
                      },
                      "created_on": {
                        "type": "string",
                        "description": "created_on",
                        "title": "created_on",
                        "x-ms-visibility": "internal"
                      },
                      "last_updated": {
                        "type": "string",
                        "description": "last_updated",
                        "title": "last_updated",
                        "x-ms-visibility": "internal"
                      },
                      "live_support_enabled": {
                        "type": "integer",
                        "format": "int32",
                        "description": "live_support_enabled",
                        "title": "live_support_enabled",
                        "x-ms-visibility": "internal"
                      },
                      "org_logo": {
                        "type": "string",
                        "description": "org_logo",
                        "title": "org_logo",
                        "x-ms-visibility": "internal"
                      },
                      "settings": {
                        "type": "string",
                        "description": "settings",
                        "title": "settings",
                        "x-ms-visibility": "internal"
                      },
                      "country": {
                        "type": "string",
                        "description": "country",
                        "title": "country",
                        "x-ms-visibility": "internal"
                      },
                      "state": {
                        "type": "string",
                        "description": "state",
                        "title": "state",
                        "x-ms-visibility": "internal"
                      },
                      "city": {
                        "type": "string",
                        "description": "city",
                        "title": "city",
                        "x-ms-visibility": "internal"
                      },
                      "zipcode": {
                        "type": "string",
                        "description": "zipcode",
                        "title": "zipcode",
                        "x-ms-visibility": "internal"
                      },
                      "users_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "users_count",
                        "title": "users_count",
                        "x-ms-visibility": "internal"
                      },
                      "payment_state": {
                        "type": "string",
                        "description": "payment_state",
                        "title": "payment_state",
                        "x-ms-visibility": "internal"
                      },
                      "team_size": {
                        "type": "string",
                        "description": "team_size",
                        "title": "team_size",
                        "x-ms-visibility": "internal"
                      },
                      "signup_survey": {
                        "type": "string",
                        "description": "signup_survey",
                        "title": "signup_survey",
                        "x-ms-visibility": "internal"
                      },
                      "user_status": {
                        "type": "string",
                        "description": "user_status",
                        "title": "user_status",
                        "x-ms-visibility": "internal"
                      },
                      "joined_on": {
                        "type": "string",
                        "description": "joined_on",
                        "title": "joined_on",
                        "x-ms-visibility": "internal"
                      },
                      "disabled_on": {
                        "type": "string",
                        "description": "disabled_on",
                        "title": "disabled_on",
                        "x-ms-visibility": "internal"
                      },
                      "last_accessed": {
                        "type": "string",
                        "description": "last_accessed",
                        "title": "last_accessed",
                        "x-ms-visibility": "internal"
                      },
                      "user_role": {
                        "type": "string",
                        "description": "user_role",
                        "title": "user_role",
                        "x-ms-visibility": "internal"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "total",
                          "title": "total",
                          "x-ms-visibility": "internal"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "count",
                          "title": "count",
                          "x-ms-visibility": "internal"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "per_page",
                          "title": "per_page",
                          "x-ms-visibility": "internal"
                        },
                        "current_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "current_page",
                          "title": "current_page",
                          "x-ms-visibility": "internal"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "total_pages",
                          "title": "total_pages",
                          "x-ms-visibility": "internal"
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "description": "Pagination links",
                            "title": "links",
                            "type": "string",
                            "x-ms-visibility": "internal"
                          },
                          "description": "links"
                        }
                      },
                      "description": "pagination"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "Get user's organizations",
        "x-ms-visibility": "internal"
      }
    },
    "/organizations/{org}/users/{user_id}/tasks": {
      "get": {
        "tags": [
          "Task"
        ],
        "description": "Get all tasks that belong to a specific member",
        "operationId": "Get_User_Tasks",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-summary": "Organization",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            },
            "x-ms-visibility": "important"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Member Id",
            "x-ms-summary": "Member",
            "x-ms-dynamic-values": {
              "operationId": "Get_Organization_Users",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "full_name",
              "parameters": {
                "org": {
                  "parameter": "org"
                }
              }
            },
            "x-ms-visibility": "important"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search Tasks by their Process name",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Search by Process name"
          },
          {
            "name": "status",
            "in": "query",
            "description": "You can search all Tasks by status",
            "required": false,
            "type": "string",
            "enum": [
              "hasproblem",
              "overdue",
              "due_soon",
              "active",
              "incomplete",
              "inprogress"
            ],
            "x-ms-summary": "Task status",
            "x-ms-visibility": "important"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Add minus sign (-) before sort value if you want to sort records in descending order. Ex: sort=-improvements",
            "required": false,
            "type": "string",
            "enum": [
              "deadline",
              "newest",
              "problems"
            ],
            "x-ms-summary": "Sort by",
            "x-ms-visibility": "important"
          },
          {
            "name": "with",
            "in": "query",
            "description": "Retrieve additional data from Tasks. Separate multiple options with a comma",
            "required": false,
            "type": "string",
            "enum": [
              "run",
              "run.checklist",
              "step",
              "threads",
              "comments",
              "assets",
              "run,run.checklist,step,threads,comments,assets"
            ],
            "x-ms-visibility": "internal",
            "x-ms-summary": "With"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Search Tasks by Tag name",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Task tag"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Which results page to retrieve. Default is 1",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "How many Tasks per page. Default is 10",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Tasks per page",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Unique identified for the Task",
                        "title": "Task ID",
                        "x-ms-visibility": "important"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title of the Task",
                        "title": "Task Name",
                        "x-ms-visibility": "important"
                      },
                      "run_id": {
                        "type": "string",
                        "description": "Unique identifier for the Task's Process (only for Process Tasks)",
                        "title": "Process ID",
                        "x-ms-visibility": "advanced"
                      },
                      "step_id": {
                        "type": "string",
                        "description": "step_id",
                        "title": "Step ID",
                        "x-ms-visibility": "internal"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Unique alias for the Task (only for Process Tasks)",
                        "title": "Task Alias",
                        "x-ms-visibility": "advanced"
                      },
                      "owners": {
                        "type": "object",
                        "properties": {
                          "users": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "format": "int32"
                            },
                            "description": "users"
                          },
                          "guests": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "guests"
                          }
                        },
                        "description": "owners"
                      },
                      "status": {
                        "type": "string",
                        "description": "Current status of the Task",
                        "title": "Task Status",
                        "x-ms-visibility": "important"
                      },
                      "deadline": {
                        "type": "string",
                        "description": "Deadline of the Task",
                        "title": "Deadline",
                        "x-ms-visibility": "important"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "Date the Task was created",
                        "title": "Created Date",
                        "x-ms-visibility": "advanced"
                      },
                      "last_updated": {
                        "type": "string",
                        "description": "last_updated",
                        "title": "Last Updated",
                        "x-ms-visibility": "internal"
                      },
                      "archived_at": {
                        "type": "string",
                        "description": "Date the Task was archived at",
                        "title": "Archived At",
                        "x-ms-visibility": "internal"
                      },
                      "completed_at": {
                        "type": "string",
                        "description": "Date the Task was completed",
                        "title": "Completed Date",
                        "x-ms-visibility": "advanced"
                      },
                      "starter_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "starter_id",
                        "title": "Starter ID",
                        "x-ms-visibility": "internal"
                      },
                      "completer_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "ID of the the member who completed the Task",
                        "title": "Completer ID",
                        "x-ms-visibility": "internal"
                      },
                      "run_status": {
                        "type": "string",
                        "description": "run_status",
                        "title": "Process Status",
                        "x-ms-visibility": "internal"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "overdue_tasks": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of overdue Tasks on the current page",
                      "title": "Overdue Tasks",
                      "x-ms-visibility": "internal"
                    },
                    "tasks_due_soon": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of Tasks on the current page that are due soon",
                      "title": "Tasks Due Soon",
                      "x-ms-visibility": "internal"
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of Tasks across all pages",
                          "title": "Total Tasks",
                          "x-ms-visibility": "advanced"
                        },
                        "count": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Number of Tasks on the current page",
                          "title": "Page Count",
                          "x-ms-visibility": "advanced"
                        },
                        "per_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "per_page",
                          "title": "Tasks Per Page",
                          "x-ms-visibility": "internal"
                        },
                        "current_page": {
                          "type": "integer",
                          "format": "int32",
                          "description": "current_page",
                          "title": "Current Page",
                          "x-ms-visibility": "internal"
                        },
                        "total_pages": {
                          "type": "integer",
                          "format": "int32",
                          "description": "total_pages",
                          "title": "Total Pages",
                          "x-ms-visibility": "internal"
                        }
                      },
                      "description": "pagination"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "Get a member's tasks",
        "x-ms-visibility": "important"
      }
    },
    "/organizations/{org}/users/invite": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Member's unique ID",
                      "title": "Member ID",
                      "x-ms-visibility": "important"
                    },
                    "email": {
                      "type": "string",
                      "description": "Member's email",
                      "title": "Member's email",
                      "x-ms-visibility": "advanced"
                    },
                    "username": {
                      "type": "string",
                      "description": "Member's username",
                      "title": "Username",
                      "x-ms-visibility": "important"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "Member's first name",
                      "title": "First name",
                      "x-ms-visibility": "advanced"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "Member's last name",
                      "title": "Last name",
                      "x-ms-visibility": "advanced"
                    },
                    "full_name": {
                      "type": "string",
                      "description": "Member's first and last name",
                      "title": "Full name",
                      "x-ms-visibility": "advanced"
                    },
                    "profile_pic": {
                      "type": "string",
                      "description": "profile_pic",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "locale": {
                      "type": "string",
                      "description": "locale",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "active": {
                      "type": "boolean",
                      "description": "active",
                      "title": "",
                      "x-ms-visibility": "internal",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "complete": {
                      "type": "boolean",
                      "description": "complete",
                      "title": "",
                      "x-ms-visibility": "internal",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "is_suspended": {
                      "type": "boolean",
                      "description": "is_suspended",
                      "title": "",
                      "x-ms-visibility": "internal",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "description": "created_at",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "last_updated": {
                      "type": "string",
                      "description": "last_updated",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "last_login_at": {
                      "type": "string",
                      "description": "last_login_at",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "support_user": {
                      "type": "boolean",
                      "description": "support_user",
                      "title": "",
                      "x-ms-visibility": "internal",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "country": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Country id",
                          "title": "Country id",
                          "x-ms-visibility": "internal"
                        },
                        "name": {
                          "type": "string",
                          "description": "name",
                          "title": "",
                          "x-ms-visibility": "internal"
                        },
                        "phone_code": {
                          "type": "string",
                          "description": "phone_code",
                          "title": "",
                          "x-ms-visibility": "internal"
                        },
                        "iso2": {
                          "type": "string",
                          "description": "iso2",
                          "title": "",
                          "x-ms-visibility": "internal"
                        }
                      },
                      "description": "country"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "job_title": {
                      "type": "string",
                      "description": "job_title",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "job_description": {
                      "type": "string",
                      "description": "job_description",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "timezone",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "UTC_offset": {
                      "type": "string",
                      "description": "UTC_offset",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "last_accessed_at": {
                      "type": "string",
                      "description": "last_accessed_at",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "approved_at": {
                      "type": "string",
                      "description": "approved_at",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "disabled_at": {
                      "type": "string",
                      "description": "disabled_at",
                      "title": "",
                      "x-ms-visibility": "internal"
                    },
                    "status": {
                      "type": "string",
                      "description": "status",
                      "title": "",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Invite a new member to your organization",
        "description": "Invite a new member to your organization",
        "operationId": "Invite_User_To_Organization",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "Invitee's first name",
                  "title": "First name",
                  "x-ms-visibility": "important"
                },
                "last_name": {
                  "type": "string",
                  "description": "invitee's last name",
                  "title": "Last name",
                  "x-ms-visibility": "important"
                },
                "email": {
                  "type": "string",
                  "description": "invitee's work email address",
                  "title": "Email",
                  "x-ms-visibility": "important"
                },
                "message": {
                  "type": "string",
                  "description": "Message to add",
                  "title": "Message",
                  "x-ms-visibility": "important"
                },
                "role": {
                  "type": "string",
                  "description": "Role",
                  "title": "Role",
                  "enum": [
                    "standard",
                    "admin"
                  ],
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "email",
                "first_name",
                "last_name",
                "message",
                "role"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/organizations/{org}/checklists": {
      "get": {
        "tags": [
          "Template"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Get Blueprints",
        "operationId": "Get_Checklists",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "description": "Organization Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specify which Blueprint version to retrieve. (Works only in case of single Blueprint endpoint)"
          },
          {
            "name": "with",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "get relational data, separated by comma",
            "enum": [
              "runs",
              "runs.collaborators",
              "steps",
              "statistics",
              "runs,statistics,steps,runs.collaborators"
            ],
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "summary": {
                        "type": "string",
                        "description": "summary"
                      },
                      "starred": {
                        "type": "boolean",
                        "description": "starred"
                      },
                      "settings": {
                        "type": "object",
                        "properties": {
                          "webhook": {
                            "type": "string",
                            "description": "webhook"
                          },
                          "guidance": {
                            "type": "string",
                            "description": "guidance"
                          },
                          "guidance_html": {
                            "type": "string",
                            "description": "guidance_html"
                          },
                          "record_rating": {
                            "type": "string",
                            "description": "record_rating"
                          },
                          "allow_steps_editing": {
                            "type": "string",
                            "description": "allow_steps_editing"
                          },
                          "allow_guests_to_track": {
                            "type": "string",
                            "description": "allow_guests_to_track"
                          }
                        },
                        "description": "settings"
                      },
                      "alias": {
                        "type": "string",
                        "description": "alias"
                      },
                      "prerun": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "checklist_id": {
                              "type": "string",
                              "description": "checklist_id"
                            },
                            "alias": {
                              "type": "string",
                              "description": "alias"
                            },
                            "field_type": {
                              "type": "string",
                              "description": "field_type"
                            },
                            "guidance": {
                              "type": "string",
                              "description": "guidance"
                            },
                            "position": {
                              "type": "integer",
                              "format": "int32",
                              "description": "position"
                            },
                            "required": {
                              "type": "boolean",
                              "description": "required"
                            },
                            "options": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {}
                              },
                              "description": "options"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "created_at"
                            },
                            "last_updated": {
                              "type": "string",
                              "description": "last_updated"
                            }
                          }
                        },
                        "description": "prerun"
                      },
                      "created_by": {
                        "type": "integer",
                        "format": "int32",
                        "description": "created_by"
                      },
                      "owner_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "owner_id"
                      },
                      "started_processes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "started_processes"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at"
                      },
                      "last_updated": {
                        "type": "string",
                        "description": "last_updated"
                      },
                      "archived_at": {
                        "type": "string",
                        "description": "archived_at"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Blueprints",
        "x-ms-visibility": "internal"
      }
    },
    "/organizations/{org}/runs": {
      "post": {
        "tags": [
          "Process"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Launch a process using a blueprint",
        "operationId": "Create_Run",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name to give the new Process",
                  "title": "Name of Process",
                  "x-ms-visibility": "important"
                },
                "checklist_id": {
                  "type": "string",
                  "description": "ID of the Blueprint to start the process",
                  "title": "Blueprint ID",
                  "x-ms-visibility": "important"
                },
                "summary": {
                  "type": "string",
                  "description": "Summary notes to include with the Process",
                  "title": "Summary of Process",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "checklist_id",
                "name"
              ]
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique ID of created Process",
                      "title": "Process ID",
                      "x-ms-visibility": "important"
                    },
                    "checklist_id": {
                      "type": "string",
                      "description": "ID of Blueprint the Process originated from",
                      "title": "Blueprint ID",
                      "x-ms-visibility": "important"
                    },
                    "name": {
                      "type": "string",
                      "description": "Process name",
                      "title": "Process Name",
                      "x-ms-visibility": "important"
                    },
                    "summary": {
                      "type": "string",
                      "description": "Process summary notes",
                      "title": "Process Summary",
                      "x-ms-visibility": "important"
                    },
                    "status": {
                      "type": "string",
                      "description": "Process status",
                      "title": "process status",
                      "x-ms-visibility": "internal"
                    },
                    "progress": {
                      "type": "object",
                      "properties": {
                        "complete": {
                          "type": "integer",
                          "format": "int32",
                          "description": "How many tasks in the Process have been completed",
                          "title": "tasks completed",
                          "x-ms-visibility": "internal"
                        },
                        "total": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Total Tasks in the Process",
                          "title": "Total Tasks",
                          "x-ms-visibility": "advanced"
                        },
                        "percent": {
                          "type": "integer",
                          "format": "int32",
                          "description": "percentage completion of Process",
                          "title": "completion percent",
                          "x-ms-visibility": "internal"
                        }
                      },
                      "description": "progress"
                    },
                    "started_by": {
                      "type": "integer",
                      "format": "int32",
                      "description": "User id of Process starter",
                      "title": "started by",
                      "x-ms-visibility": "internal"
                    },
                    "owner_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Process owner ID",
                      "title": "Owner ID",
                      "x-ms-visibility": "internal"
                    },
                    "prerun": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Kick Off id (if KO exists)",
                            "title": "kick off id",
                            "x-ms-visibility": "internal"
                          },
                          "alias": {
                            "type": "string",
                            "description": "Kick Off alias (if KO exists)",
                            "title": "kick off alias",
                            "x-ms-visibility": "internal"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "Date Kick Off field was created (if KO exists)",
                            "title": "kick off created date",
                            "x-ms-visibility": "internal"
                          },
                          "field_type": {
                            "type": "string",
                            "description": "Kick Off field type (if KO exists)",
                            "title": "kick off field type",
                            "x-ms-visibility": "internal"
                          },
                          "label": {
                            "type": "string",
                            "description": "Kick Off field label (if KO exists)",
                            "title": "kick off field label",
                            "x-ms-visibility": "internal"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "Date Kick Off field was last updated (if KO exists)",
                            "title": "kick off field updated at",
                            "format": "date-time",
                            "x-ms-visibility": "internal"
                          },
                          "options": {
                            "type": "string",
                            "description": "Kick Off options (if KO exists)",
                            "title": "kick off options",
                            "x-ms-visibility": "internal"
                          },
                          "position": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Kick Off position relative to other Kick Off fields (if KO exists)",
                            "title": "kick off position",
                            "x-ms-visibility": "internal"
                          },
                          "required": {
                            "type": "boolean",
                            "description": "Whether the Kick Off is required (if KO exists)",
                            "title": "Kick Off requirement",
                            "x-ms-visibility": "internal",
                            "enum": [
                              true,
                              false
                            ]
                          },
                          "value": {
                            "type": "string",
                            "description": "Value submitted to Kick Off field (if KO exists)",
                            "title": "kick off field value",
                            "x-ms-visibility": "internal"
                          }
                        }
                      },
                      "description": "prerun"
                    },
                    "starred": {
                      "type": "boolean",
                      "description": "Whether the Process is starred",
                      "title": "starred",
                      "x-ms-visibility": "internal",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "description": "Date the process was created at",
                      "title": "created at",
                      "format": "date-time",
                      "x-ms-visibility": "internal"
                    },
                    "started_at": {
                      "type": "string",
                      "description": "Date the Process was started at",
                      "title": "started at",
                      "format": "date-time",
                      "x-ms-visibility": "internal"
                    },
                    "last_updated": {
                      "type": "string",
                      "description": "Date the Process was last updated",
                      "title": "last updated",
                      "format": "date-time",
                      "x-ms-visibility": "internal"
                    },
                    "completed_at": {
                      "type": "string",
                      "description": "Date process was completed at (if applicable)",
                      "title": "completed at",
                      "format": "date-time",
                      "x-ms-visibility": "internal"
                    },
                    "archived_at": {
                      "type": "string",
                      "description": "Date Process was archived at (if applicable)",
                      "title": "archived at",
                      "format": "date-time",
                      "x-ms-visibility": "internal"
                    },
                    "due_date_passed": {
                      "type": "boolean",
                      "description": "Whether the Process due date has passed",
                      "title": "due date passed",
                      "x-ms-visibility": "internal",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "collaborators": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Process collaborators",
                        "title": "Collaborators",
                        "x-ms-visibility": "advanced"
                      },
                      "description": "collaborators"
                    },
                    "due_soon": {
                      "type": "boolean",
                      "description": "Whether the process is due soon",
                      "title": "due soon",
                      "x-ms-visibility": "internal",
                      "enum": [
                        true,
                        false
                      ]
                    },
                    "max_task_deadline": {
                      "type": "string",
                      "description": "The latest Task deadline",
                      "title": "Max Task Deadline",
                      "format": "date-time",
                      "x-ms-visibility": "advanced"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Launch a Process",
        "x-ms-visibility": "important"
      }
    },
    "/organizations/{org}/completed-tasks": {
      "post": {
        "tags": [
          "Task",
          "One off task",
          "Complete task"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Complete one off task",
        "operationId": "Completed_One_Off_Task",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "task_id": {
                  "title": "Task ID",
                  "type": "string",
                  "description": "Task ID",
                  "x-ms-visibility": "important"
                },
                "is_approved": {
                  "title": "Is Approved",
                  "type": "boolean",
                  "description": "starred",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "task_id"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Complete One Off Task",
        "x-ms-visibility": "important"
      }
    },
    "/organizations/{org}/completed-tasks/{task}": {
      "delete": {
        "tags": [
          "Task",
          "One off task",
          "Reopen task"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Reopen one off task",
        "operationId": "Reopen_One_Off_Task",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            }
          },
          {
            "name": "task",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Task Id",
            "x-ms-summary": "Task Id",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Reopen One Off Task",
        "x-ms-visibility": "important"
      }
    },
    "/organizations/{org}/runs/{run}/completed-tasks": {
      "post": {
        "tags": [
          "Process Task",
          "Complete task"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Complete process task",
        "operationId": "Completed_Process_Task",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important"
          },
          {
            "name": "run",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Run Id",
            "x-ms-summary": "Run Id",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "task_id": {
                  "title": "Task ID",
                  "type": "string",
                  "description": "Task ID"
                },
                "is_approved": {
                  "title": "Is Approved",
                  "type": "boolean",
                  "description": "starred"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "task_id"
              ]
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Complete process task",
        "x-ms-visibility": "important"
      }
    },
    "/organizations/{org}/runs/{run}/completed-tasks/{task}": {
      "post": {
        "tags": [
          "Process Task",
          "Reopen task"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Reopen process task",
        "operationId": "Reopen_Process_Task",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important"
          },
          {
            "name": "run",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Run Id",
            "x-ms-summary": "Run Id",
            "x-ms-visibility": "important"
          },
          {
            "name": "task",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Task Id",
            "x-ms-summary": "Task",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Reopen process Task",
        "x-ms-visibility": "important"
      }
    },
    "/organizations/{org}/tasks/{task}/comment": {
      "post": {
        "tags": [],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "task deadline, in date-time format",
        "operationId": "Comment_Task",
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            },
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important"
          },
          {
            "name": "task",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Task Id",
            "x-ms-summary": "Task",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "title": "Content",
                  "type": "string",
                  "description": "Comment content",
                  "x-ms-visibility": "important"
                },
                "label": {
                  "title": "Comment Label",
                  "type": "string",
                  "description": "Comment label",
                  "x-ms-visibility": "important",
                  "default": "comment",
                  "enum": [
                    "comment",
                    "problem",
                    "resolve"
                  ]
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "content",
                "label"
              ]
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Add comment, report issue, resolve issue on a task",
        "x-ms-visibility": "important"
      }
    },
    "/processes/micro-functions/organizations/{org}/tasks": {
      "post": {
        "tags": [
          "Task"
        ],
        "description": "Create Task",
        "operationId": "Create_Task",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            },
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "owners": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Users to assign the task to",
                        "title": "Users",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                          "operationId": "Get_Organization_Users",
                          "value-path": "id",
                          "value-collection": "data",
                          "value-title": "full_name",
                          "parameters": {
                            "org": {
                              "parameter": "org"
                            }
                          }
                        }
                      },
                      "description": "users"
                    },
                    "guests": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "title": "Guests",
                        "x-ms-visibility": "important",
                        "description": "guest emails to assign the task to (separate emails by comma)"
                      },
                      "description": "guests"
                    }
                  },
                  "description": "owners"
                },
                "task_type": {
                  "type": "string",
                  "description": "Task type",
                  "title": "Task type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "task",
                    "approval",
                    "email",
                    "expiring"
                  ],
                  "default": "task"
                },
                "deadline": {
                  "type": "string",
                  "description": "task deadline, in date-time format",
                  "title": "Task deadline",
                  "format": "date-time",
                  "x-ms-visibility": "important",
                  "default": "addDays(utcNow(), 1, 'yyyy-MM-dd HH:mm:ss')"
                },
                "description": {
                  "type": "string",
                  "description": "Task's description",
                  "title": "Task description",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "task name",
                  "title": "Task name",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "task_type",
                "deadline",
                "name"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the created Task",
                      "title": "Task ID",
                      "x-ms-visibility": "important"
                    },
                    "title": {
                      "type": "string",
                      "description": "Title of the created Task",
                      "title": "Task Title",
                      "x-ms-visibility": "important"
                    },
                    "alias": {
                      "type": "string",
                      "description": "unique alias of the created Task",
                      "title": "Task alias",
                      "x-ms-visibility": "internal"
                    },
                    "deadline": {
                      "type": "string",
                      "description": "Deadline of the created Task in date-time format",
                      "title": "Task Deadline",
                      "x-ms-visibility": "important"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the created Task",
                      "title": "Task Description",
                      "x-ms-visibility": "important"
                    },
                    "owner_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Unique identifier for the creator of the Task",
                      "title": "Creator ID",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Create a task",
        "x-ms-visibility": "important"
      }
    },
    "/processes/micro-functions/organizations/{org}/tasks/{task}/edit-deadline": {
      "put": {
        "tags": [
          "Task",
          "Edit",
          "Deadline"
        ],
        "description": "Edit deadline of a task",
        "operationId": "Edit_Task_Deadline",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            },
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important"
          },
          {
            "name": "task",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Task id",
            "x-ms-summary": "Task Id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Deadline": {
                  "title": "New Task Deadline",
                  "type": "string",
                  "description": "New task deadline",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Edit task deadline",
        "x-ms-visibility": "important"
      }
    },
    "/processes/micro-functions/organizations/{org}/tasks/{task}/remove-guest/{guest}": {
      "put": {
        "tags": [
          "Task",
          "Edit",
          "Guest"
        ],
        "description": "Remove guest of a task",
        "operationId": "Remove_Guest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            },
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important"
          },
          {
            "name": "task",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Task id",
            "x-ms-summary": "Task id"
          },
          {
            "name": "guest",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Guest email",
            "x-ms-summary": "Guest Email"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Remove guest assigned",
        "x-ms-visibility": "important"
      }
    },
    "/processes/micro-functions/organizations/{org}/tasks/{task}/remove-assignee/{member}": {
      "put": {
        "tags": [
          "Task",
          "Edit",
          "Assignee"
        ],
        "description": "Remove assignee of a task",
        "operationId": "Remove_Assignee",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/text"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            },
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important"
          },
          {
            "name": "task",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Task id",
            "x-ms-summary": "Task Id"
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Member id",
            "x-ms-summary": "Member Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Remove assignee",
        "x-ms-visibility": "important"
      }
    },
    "/processes/micro-functions/organizations/{org}/blueprints/{blueprint}/steps/{step}/edit-step-type": {
      "put": {
        "tags": [
          "Blueprint",
          "Step",
          "Edit",
          "Step Type"
        ],
        "description": "Edit step type",
        "operationId": "Edit_Step_Type",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/text"
        ],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-dynamic-values": {
              "operationId": "Get_User_Organizations",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name"
            },
            "x-ms-summary": "Organization",
            "x-ms-visibility": "important"
          },
          {
            "name": "blueprint",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Blueprint id",
            "x-ms-summary": "Blueprint Id",
            "x-ms-visibility": "important"
          },
          {
            "name": "step",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Step id",
            "x-ms-summary": "Step Id",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "stepType": {
                  "title": "New step type",
                  "type": "string",
                  "enum": [
                    "all",
                    "any"
                  ],
                  "description": "New step type",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "schema": {
              "type": "object"
            }
          }
        },
        "summary": "Edit step type",
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "error": {
      "description": "error message",
      "required": [
        "message"
      ],
      "properties": {
        "error": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Date": {
      "type": "string",
      "example": "YYYY-mm-ddTHH:ii:ssZ"
    },
    "RequestDate": {
      "type": "string",
      "example": "YYYY-mm-dd HH:ii:ss"
    },
    "Address": {
      "properties": {
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "zip": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        }
      }
    },
    "loginInput": {
      "required": [
        "email",
        "password"
      ],
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "File": {
      "properties": {
        "name": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "extension": {
          "type": "string"
        },
        "size": {
          "type": "integer"
        },
        "last_modified": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "registerInput": {
      "required": [
        "first_name",
        "last_name",
        "email",
        "password",
        "company_name",
        "plan_code"
      ],
      "properties": {
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "company_name": {
          "type": "string"
        },
        "timezone": {
          "type": "string"
        },
        "plan_code": {
          "type": "string"
        },
        "coupon_code": {
          "type": "string"
        }
      }
    },
    "resetPasswordInput": {
      "properties": {
        "password": {
          "type": "string"
        },
        "password_confirmation": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "organizationInput": {
      "properties": {
        "name": {
          "type": "string",
          "example": "Tallyfy 1"
        },
        "address1": {
          "type": "string"
        },
        "address2": {
          "type": "string"
        },
        "address3": {
          "type": "string"
        },
        "slug": {
          "type": "string"
        },
        "welcome_title": {
          "type": "string"
        },
        "welcome_description": {
          "type": "string"
        },
        "industry": {
          "type": "string",
          "example": "Software & IT"
        },
        "country": {
          "type": "string",
          "example": "USA"
        },
        "state": {
          "type": "string",
          "example": "California"
        },
        "city": {
          "type": "string",
          "example": "Los Angeles"
        },
        "zipcode": {
          "type": "string",
          "example": "1234567"
        },
        "settings": {
          "$ref": "#/definitions/organizationSettings"
        }
      }
    },
    "organizationSettings": {
      "properties": {
        "determine_deadline": {
          "example": {
            "workdays": 0,
            "holidays": 1
          },
          "$ref": "#/definitions/GenericObject"
        },
        "workdays": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "Monday"
          }
        },
        "holidays": {
          "type": "array",
          "items": {
            "type": "string",
            "example": "01-01"
          }
        }
      }
    },
    "billInput": {
      "required": [
        "token_id"
      ],
      "properties": {
        "token_id": {
          "type": "string"
        }
      }
    },
    "subcriptionInput": {
      "properties": {
        "plan_code": {
          "type": "string"
        },
        "coupon_code": {
          "type": "string"
        }
      }
    },
    "accountInput": {
      "properties": {
        "email": {
          "type": "string"
        },
        "cc_emails": {
          "type": "string"
        },
        "address": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "RunView": {
      "properties": {
        "name": {
          "type": "string",
          "example": "my process"
        },
        "is_active": {
          "type": "integer",
          "example": "1"
        },
        "filter_type": {
          "type": "string",
          "example": "any"
        },
        "criteria": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "runViewInput": {
      "properties": {
        "name": {
          "type": "string",
          "example": "my view"
        },
        "filter_type": {
          "type": "string",
          "enum": [
            "all",
            "any"
          ]
        },
        "is_active": {
          "type": "integer",
          "example": "1"
        },
        "criteria": {
          "type": "array",
          "items": {
            "type": "object",
            "example": {
              "field": "status",
              "value": "completed"
            }
          }
        }
      }
    },
    "preferenceInput": {
      "properties": {
        "slug": {
          "type": "string",
          "example": "home_count"
        },
        "value": {
          "type": "string",
          "example": "8"
        },
        "metadata": {
          "example": {
            "extra": "here"
          },
          "$ref": "#/definitions/GenericObject"
        }
      }
    },
    "accountsInput": {
      "properties": {
        "email": {
          "type": "string"
        },
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "job_title": {
          "type": "string"
        },
        "job_description": {
          "type": "string"
        },
        "timezone": {
          "type": "string"
        },
        "country_id": {
          "type": "integer"
        }
      }
    },
    "inviteInput": {
      "properties": {
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        }
      }
    },
    "passwordreset": {
      "properties": {
        "new_password": {
          "type": "string"
        }
      }
    },
    "passwordreseterro": {
      "properties": {
        "error": {
          "type": "boolean"
        },
        "message": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "checkUrlInput": {
      "required": [
        "url"
      ],
      "properties": {
        "url": {
          "type": "string"
        }
      }
    },
    "AssetSubject": {
      "properties": {
        "id": {
          "type": "integer"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Asset": {
      "properties": {
        "id": {
          "type": "string"
        },
        "filename": {
          "type": "string"
        },
        "version": {
          "type": "integer"
        },
        "step_id": {
          "type": "string"
        },
        "uploaded_from": {
          "type": "string"
        },
        "subject": {
          "$ref": "#/definitions/AssetSubject"
        }
      }
    },
    "CaptureInput": {
      "properties": {
        "alias": {
          "type": "string"
        },
        "field_type": {
          "type": "string"
        },
        "guidance": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "position": {
          "type": "integer"
        },
        "required": {
          "type": "boolean"
        },
        "options": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GenericObject"
          },
          "example": [
            "111",
            "222",
            "333"
          ]
        }
      }
    },
    "Capture": {
      "properties": {
        "id": {
          "type": "integer"
        },
        "step_id": {
          "type": "integer"
        },
        "alias": {
          "type": "string"
        },
        "field_type": {
          "type": "string"
        },
        "guidance": {
          "type": "string"
        },
        "label": {
          "type": "string"
        },
        "position": {
          "type": "integer"
        },
        "required": {
          "type": "boolean"
        },
        "options": {
          "type": "string"
        },
        "created_at": {
          "$ref": "#/definitions/RequestDate"
        },
        "last_updated": {
          "$ref": "#/definitions/RequestDate"
        },
        "archived_at": {
          "$ref": "#/definitions/RequestDate"
        }
      }
    },
    "brandingInput": {
      "properties": {
        "bg_color": {
          "type": "string",
          "example": "#ffffff"
        },
        "text_color": {
          "type": "string",
          "example": "#ffffff"
        },
        "alternate_color": {
          "type": "string",
          "example": "#ffffff"
        },
        "bright_shade": {
          "type": "string",
          "example": "#ffffff"
        },
        "dark_shade": {
          "type": "string",
          "example": "#ffffff"
        }
      }
    },
    "Branding": {
      "properties": {
        "bg_color": {
          "type": "string"
        },
        "text_color": {
          "type": "string"
        },
        "alternate_color": {
          "type": "string"
        },
        "bright_shade": {
          "type": "string"
        },
        "dark_shade": {
          "type": "string"
        },
        "updated_at": {
          "$ref": "#/definitions/Date"
        }
      }
    },
    "checklistInput": {
      "properties": {
        "checklist": {
          "$ref": "#/definitions/Checklist"
        }
      }
    },
    "powerbuilderInput": {
      "properties": {
        "id": {
          "type": "string",
          "example": "753a22a30330418d6e26d37b63406d4b"
        },
        "steps": {
          "type": "string",
          "example": "step1 \\n step2"
        }
      }
    },
    "createChecklistInput": {
      "properties": {
        "title": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "privacy": {
          "type": "string",
          "enum": [
            "private",
            "organization",
            "public"
          ]
        },
        "settings": {
          "$ref": "#/definitions/GenericObject"
        },
        "contributors": {
          "description": "The list of users who can update the checklist.",
          "type": "array",
          "items": {
            "type": "integer",
            "example": 1
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "start_run_permissions": {
          "description": "The list of groups and users who can access the run.",
          "example": {
            "groups": [
              "1",
              "2"
            ],
            "users": [
              "1",
              "2"
            ]
          },
          "$ref": "#/definitions/GenericObject"
        },
        "prerun": {
          "example": {
            "<prerun_id>": {
              "name": "<Kick Off Field name>",
              "alias": "<Kick Off Field alias>",
              "value": "<Kick Off Field value>"
            }
          },
          "$ref": "#/definitions/GenericObject"
        },
        "user_id": {
          "description": "Template creator ID",
          "type": "integer"
        },
        "owner_id": {
          "description": "Template Owner ID",
          "type": "integer"
        }
      }
    },
    "Checklist": {
      "properties": {
        "id": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "privacy": {
          "type": "string"
        },
        "starred": {
          "type": "integer"
        },
        "settings": {
          "$ref": "#/definitions/GenericObject"
        },
        "contributors": {
          "description": "The list of users who can update the Blueprint.",
          "type": "array",
          "items": {
            "type": "integer",
            "example": 1
          }
        },
        "statistics": {
          "$ref": "#/definitions/GenericObject"
        },
        "created_by": {
          "type": "integer"
        },
        "owner_id": {
          "description": "Template Owner ID",
          "type": "integer"
        },
        "created_at": {
          "$ref": "#/definitions/Date"
        },
        "last_updated": {
          "$ref": "#/definitions/Date"
        },
        "archived_at": {
          "$ref": "#/definitions/Date"
        },
        "created_ago": {
          "type": "string"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Step"
          }
        }
      }
    },
    "comment_on": {
      "properties": {
        "id": {
          "type": "integer",
          "example": "bcb411a85ea879b3515bce9f4db9b333"
        },
        "type": {
          "type": "string",
          "example": "Run Id"
        }
      }
    },
    "createCommentInput": {
      "properties": {
        "comment_on": {
          "$ref": "#/definitions/comment_on"
        },
        "content": {
          "type": "string"
        }
      }
    },
    "Comment": {
      "properties": {
        "id": {
          "type": "integer"
        },
        "comment_on": {
          "$ref": "#/definitions/comment_on"
        },
        "content": {
          "type": "string"
        },
        "replies_count": {
          "type": "integer"
        },
        "author_id": {
          "type": "integer"
        },
        "metadata": {
          "type": "string"
        },
        "archived_at": {
          "type": "string"
        }
      }
    },
    "createGroupInput": {
      "properties": {
        "name": {
          "type": "string"
        },
        "users": {
          "type": "array",
          "items": {
            "type": "integer",
            "example": "1"
          }
        }
      }
    },
    "Group": {
      "properties": {
        "id": {
          "type": "integer"
[...]
