{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Waaila",
    "description": "Waaila is a comprehensive application for automatic data quality monitoring, supported by global community of hundreds of analysts. It helps to prevent disastrous scenarios caused by poor data quality and measurement.",
    "contact": {
      "name": "Waaila Support",
      "url": "https://waaila.com/en/about",
      "email": "support@waaila.com"
    }
  },
  "host": "api.waaila.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/depots": {
      "get": {
        "summary": "Get list of Depots",
        "description": "Returns list of all Waaila Depots for the user.",
        "operationId": "GetDepots",
        "parameters": [
          {
            "name": "Wauth",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Access token. The value has to start with 'Bearer '.",
            "x-ms-summary": "Access token",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "description": {
                    "type": "string",
                    "description": "description"
                  },
                  "testsuites": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "customName": {
                          "type": "string",
                          "description": "customName"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "maxScore": {
                                "type": "integer",
                                "format": "int32",
                                "description": "maxScore"
                              },
                              "score": {
                                "type": "integer",
                                "format": "int32",
                                "description": "score"
                              },
                              "testedAt": {
                                "type": "string",
                                "description": "testedAt"
                              },
                              "testsError": {
                                "type": "integer",
                                "format": "int32",
                                "description": "testsError"
                              },
                              "testsFailed": {
                                "type": "integer",
                                "format": "int32",
                                "description": "testsFailed"
                              },
                              "testsPassed": {
                                "type": "integer",
                                "format": "int32",
                                "description": "testsPassed"
                              },
                              "testsInfo": {
                                "type": "integer",
                                "format": "int32",
                                "description": "testsInfo"
                              },
                              "testsTotal": {
                                "type": "integer",
                                "format": "int32",
                                "description": "testsTotal"
                              },
                              "testsUnresolved": {
                                "type": "integer",
                                "format": "int32",
                                "description": "testsUnresolved"
                              },
                              "testsWarning": {
                                "type": "integer",
                                "format": "int32",
                                "description": "testsWarning"
                              },
                              "execType": {
                                "type": "string",
                                "description": "execType"
                              },
                              "execBatch": {
                                "type": "string",
                                "description": "execBatch"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "description": "createdAt"
                              },
                              "guid": {
                                "type": "string",
                                "description": "guid"
                              }
                            }
                          },
                          "description": "results"
                        },
                        "datasource": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "description": "code"
                            },
                            "key": {
                              "type": "string",
                              "description": "key"
                            },
                            "providerCode": {
                              "type": "string",
                              "description": "providerCode"
                            },
                            "identifier": {
                              "type": "string",
                              "description": "identifier"
                            },
                            "account": {
                              "type": "object",
                              "properties": {
                                "authentication": {
                                  "type": "object",
                                  "properties": {
                                    "googleId": {
                                      "type": "string",
                                      "description": "googleId"
                                    },
                                    "accessToken": {
                                      "type": "string",
                                      "description": "accessToken"
                                    },
                                    "accessTokenExpirationDate": {
                                      "type": "string",
                                      "description": "accessTokenExpirationDate"
                                    },
                                    "headers": {
                                      "type": "object",
                                      "properties": {
                                        "Authorization": {
                                          "type": "string",
                                          "description": "Authorization"
                                        },
                                        "x-api-key": {
                                          "type": "string",
                                          "description": "x-api-key"
                                        }
                                      },
                                      "description": "headers"
                                    },
                                    "accountName": {
                                      "type": "string",
                                      "description": "accountName"
                                    },
                                    "authenticationType": {
                                      "type": "string",
                                      "description": "authenticationType"
                                    },
                                    "scopes": {
                                      "type": "array",
                                      "items": {},
                                      "description": "scopes"
                                    },
                                    "secret": {
                                      "type": "string",
                                      "description": "secret"
                                    }
                                  },
                                  "description": "authentication"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "name"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "status"
                                },
                                "authorizedAt": {
                                  "type": "string",
                                  "description": "authorizedAt"
                                },
                                "etag": {
                                  "type": "string",
                                  "description": "etag"
                                },
                                "modifiedAt": {
                                  "type": "string",
                                  "description": "modifiedAt"
                                },
                                "createdAt": {
                                  "type": "string",
                                  "description": "createdAt"
                                },
                                "guid": {
                                  "type": "string",
                                  "description": "guid"
                                }
                              },
                              "description": "account"
                            },
                            "accountId": {
                              "type": "string",
                              "description": "accountId"
                            },
                            "etag": {
                              "type": "string",
                              "description": "etag"
                            },
                            "modifiedAt": {
                              "type": "string",
                              "description": "modifiedAt"
                            },
                            "createdAt": {
                              "type": "string",
                              "description": "createdAt"
                            },
                            "guid": {
                              "type": "string",
                              "description": "guid"
                            }
                          },
                          "description": "datasource"
                        },
                        "datasourceId": {
                          "type": "string",
                          "description": "datasourceId"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        },
                        "tests": {
                          "type": "string",
                          "description": "tests"
                        },
                        "providerCode": {
                          "type": "string",
                          "description": "providerCode"
                        },
                        "testsCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "testsCount"
                        },
                        "version": {
                          "type": "string",
                          "description": "version"
                        },
                        "taglist": {
                          "type": "array",
                          "items": {},
                          "description": "taglist"
                        },
                        "etag": {
                          "type": "string",
                          "description": "etag"
                        },
                        "modifiedAt": {
                          "type": "string",
                          "description": "modifiedAt"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "createdAt"
                        },
                        "guid": {
                          "type": "string",
                          "description": "guid"
                        }
                      }
                    },
                    "description": "testsuites"
                  },
                  "etag": {
                    "type": "string",
                    "description": "etag"
                  },
                  "modifiedAt": {
                    "type": "string",
                    "description": "modifiedAt"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "createdAt"
                  },
                  "guid": {
                    "type": "string",
                    "description": "guid"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/depot/{depot}/testsuite/{testsuite}": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "customName": {
                  "type": "string",
                  "description": "customName"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "maxScore": {
                        "type": "integer",
                        "format": "int32",
                        "description": "maxScore"
                      },
                      "score": {
                        "type": "integer",
                        "format": "int32",
                        "description": "score"
                      },
                      "testedAt": {
                        "type": "string",
                        "description": "testedAt"
                      },
                      "testsError": {
                        "type": "integer",
                        "format": "int32",
                        "description": "testsError"
                      },
                      "testsFailed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "testsFailed"
                      },
                      "testsPassed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "testsPassed"
                      },
                      "testsInfo": {
                        "type": "integer",
                        "format": "int32",
                        "description": "testsInfo"
                      },
                      "testsTotal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "testsTotal"
                      },
                      "testsUnresolved": {
                        "type": "integer",
                        "format": "int32",
                        "description": "testsUnresolved"
                      },
                      "testsWarning": {
                        "type": "integer",
                        "format": "int32",
                        "description": "testsWarning"
                      },
                      "execType": {
                        "type": "string",
                        "description": "execType"
                      },
                      "execBatch": {
                        "type": "string",
                        "description": "execBatch"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "createdAt"
                      },
                      "guid": {
                        "type": "string",
                        "description": "guid"
                      }
                    }
                  },
                  "description": "results"
                },
                "datasource": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "code"
                    },
                    "key": {
                      "type": "string",
                      "description": "key"
                    },
                    "providerCode": {
                      "type": "string",
                      "description": "providerCode"
                    },
                    "identifier": {
                      "type": "string",
                      "description": "identifier"
                    },
                    "account": {
                      "type": "object",
                      "properties": {
                        "authentication": {
                          "type": "object",
                          "properties": {
                            "googleId": {
                              "type": "string",
                              "description": "googleId"
                            },
                            "accessToken": {
                              "type": "string",
                              "description": "accessToken"
                            },
                            "accessTokenExpirationDate": {
                              "type": "string",
                              "description": "accessTokenExpirationDate"
                            },
                            "headers": {
                              "type": "object",
                              "properties": {
                                "Authorization": {
                                  "type": "string",
                                  "description": "Authorization"
                                }
                              },
                              "description": "headers"
                            },
                            "accountName": {
                              "type": "string",
                              "description": "accountName"
                            },
                            "authenticationType": {
                              "type": "string",
                              "description": "authenticationType"
                            },
                            "scopes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "scopes"
                            }
                          },
                          "description": "authentication"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "status": {
                          "type": "string",
                          "description": "status"
                        },
                        "authorizedAt": {
                          "type": "string",
                          "description": "authorizedAt"
                        },
                        "etag": {
                          "type": "string",
                          "description": "etag"
                        },
                        "modifiedAt": {
                          "type": "string",
                          "description": "modifiedAt"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "createdAt"
                        },
                        "guid": {
                          "type": "string",
                          "description": "guid"
                        }
                      },
                      "description": "account"
                    },
                    "accountId": {
                      "type": "string",
                      "description": "accountId"
                    },
                    "etag": {
                      "type": "string",
                      "description": "etag"
                    },
                    "modifiedAt": {
                      "type": "string",
                      "description": "modifiedAt"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "createdAt"
                    },
                    "guid": {
                      "type": "string",
                      "description": "guid"
                    }
                  },
                  "description": "datasource"
                },
                "datasourceId": {
                  "type": "string",
                  "description": "datasourceId"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "description": {
                  "type": "string",
                  "description": "description"
                },
                "tests": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "maxScore": {
                        "type": "integer",
                        "format": "int32",
                        "description": "maxScore"
                      },
                      "testedAt": {
                        "type": "string",
                        "description": "testedAt"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "queryLogic": {
                        "type": "string",
                        "description": "queryLogic"
                      },
                      "testType": {
                        "type": "string",
                        "description": "testType"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "version"
                      },
                      "testLogic": {
                        "type": "string",
                        "description": "testLogic"
                      },
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "lang": {
                        "type": "string",
                        "description": "lang"
                      },
                      "sourceTestsetId": {
                        "type": "string",
                        "description": "sourceTestsetId"
                      },
                      "sourceTestId": {
                        "type": "string",
                        "description": "sourceTestId"
                      },
                      "\ud83c\uddf8ourceLibraryId": {
                        "type": "string",
                        "description": "sourceLibraryId",
                        "title": ""
                      },
                      "sourceVersion": {
                        "type": "integer",
                        "description": "sourceVersion",
                        "title": "",
                        "format": "int32"
                      },
                      "sourceUpdated": {
                        "type": "boolean",
                        "description": "sourceUpdated"
                      },
                      "etag": {
                        "type": "string",
                        "description": "etag"
                      },
                      "modifiedAt": {
                        "type": "string",
                        "description": "modifiedAt"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "createdAt"
                      },
                      "guid": {
                        "type": "string",
                        "description": "guid"
                      }
                    }
                  },
                  "description": "tests"
                },
                "providerCode": {
                  "type": "string",
                  "description": "providerCode"
                },
                "testsCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "testsCount"
                },
                "version": {
                  "type": "string",
                  "description": "version"
                },
                "taglist": {
                  "type": "array",
                  "items": {},
                  "description": "taglist"
                },
                "etag": {
                  "type": "string",
                  "description": "etag"
                },
                "modifiedAt": {
                  "type": "string",
                  "description": "modifiedAt"
                },
                "createdAt": {
                  "type": "string",
                  "description": "createdAt"
                },
                "guid": {
                  "type": "string",
                  "description": "guid"
                }
              }
            }
          }
        },
        "summary": "Get Testsuite details",
        "description": "Returns Testsuite details within a specified Depot.",
        "operationId": "GetTestsuite",
        "parameters": [
          {
            "name": "depot",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Depot ID",
            "description": "Specify the Depot ID",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "testsuite",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Specify the Testsuite ID",
            "x-ms-summary": "Testsuite ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Wauth",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Access token. The value has to start with 'Bearer '.",
            "x-ms-summary": "Access token",
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/v1/auth/exchange-api-code": {
      "post": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "code"
                }
              }
            }
          }
        },
        "summary": "Get Access Token",
        "description": "Returns an access token to authorize other connector actions. Use this token as the 'Wauth' value.",
        "operationId": "GetToken",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "User API code generated in the Waaila web application.",
                  "title": "code"
                },
                "email": {
                  "type": "string",
                  "description": "Email used to access the Waaila web application",
                  "title": "email"
                }
              },
              "required": [
                "code",
                "email"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://waaila.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://waaila.com/en/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Marketing"
    }
  ]
}
