{
  "swagger": "2.0",
  "info": {
    "title": "Plumsail Actions",
    "description": "Plumsail Actions provides enhanced actions to manage SharePoint, including advanced cross-site operations. It covers all possible permissions, allows you to manage documents, list items and folders, create SharePoint sites, lists or libraries, and manipulate their properties. More information at https://plumsail.com/actions/.",
    "contact": {
      "name": "Support",
      "url": "https://plumsail.com",
      "email": "support@plumsail.com"
    },
    "version": "v1"
  },
  "host": "api.plumsail.com",
  "basePath":"/",
  "schemes":[
      "https"
  ],
  "consumes":[
      "application/json"
  ],
  "produces":[
      "application/json"
  ],
  "paths": {
    "/flow/v1/SharePointFlow/jobs/{jobName}/{jobId}": {
      "get": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsByJobNameByJobIdGet",
        "parameters": [
          {
            "in": "path",
            "name": "jobId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "jobName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "GetSharePointResult",
        "description": "System"
      }
    },
    "/flow/v1/SharePointFlow/Schema/ChangePermissions": {
      "post": {
        "tags": [
          "SharePointFlowSchemaConroller"
        ],
        "operationId": "FlowV1SharePointFlowSchemaChangePermissionsPost",
        "parameters": [
          {
            "in": "query",
            "name": "actionType",
            "required": true,
            "type": "string",
            "enum": [
              "Grant",
              "Remove",
              "RemoveAll",
              "RestoreInheritance"
            ],
            "x-ms-summary": "Action type",
            "description": "The type of the operation"
          },
          {
            "in": "query",
            "name": "target",
            "required": true,
            "type": "string",
            "enum": [
              "Site",
              "List",
              "Item",
              "Folder",
              "Document"
            ],
            "x-ms-summary": "Target",
            "description": "The target of the operation"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "ChangePermissionsSchema",
        "description": "System"
      }
    },
    "/flow/v1/SharePointFlow/Schema/GetRoleTypes": {
      "post": {
        "tags": [
          "SharePointFlowSchemaConroller"
        ],
        "operationId": "FlowV1SharePointFlowSchemaGetRoleTypesPost",
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "GetRoleTypesSchema",
        "description": "System"
      }
    },
    "/flow/v1/SharePointFlow/Schema/CreateModernSite": {
      "post": {
        "tags": [
          "SharePointFlowSchemaConroller"
        ],
        "operationId": "FlowV1SharePointFlowSchemaCreateModernSitePost",
        "parameters": [
          {
            "in": "query",
            "name": "siteType",
            "required": true,
            "type": "string",
            "enum": [
              "TeamSite",
              "CommunicationSite",
              "TeamSiteWithoutGroup"
            ],
            "x-ms-summary": "Site Type",
            "description": "The type of the site for create"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "CreateModernSiteSchema",
        "description": "System"
      }
    },
    "/flow/v1/SharePointFlow/Schema/GetItemsByCAMLQuery": {
      "post": {
        "tags": [
          "SharePointFlowSchemaConroller"
        ],
        "operationId": "FlowV1SharePointFlowSchemaGetItemsByCAMLQueryPost",
        "parameters": [
          {
            "in": "query",
            "name": "camlQuery",
            "required": true,
            "type": "string",
            "x-ms-summary": "CAML Query",
            "description": "CAML query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "GetItemsByCAMLQueryResponseSchema",
        "description": "System"
      }
    },
    "/flow/v1/SharePointFlow/Schema/InviteExternalUser": {
      "post": {
        "tags": [
          "SharePointFlowSchemaConroller"
        ],
        "operationId": "FlowV1SharePointFlowSchemaInviteExternalUserPost",
        "parameters": [
          {
            "in": "query",
            "name": "target",
            "required": true,
            "type": "string",
            "enum": [
              "Site",
              "Item",
              "Group"
            ],
            "x-ms-summary": "Target",
            "description": "The target of the operation"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "InviteExternalUserSchema",
        "description": "System"
      }
    },
    "/flow/v1/SharePointFlow/Schema/GetModernSiteDesigns": {
      "post": {
        "tags": [
          "SharePointFlowSchemaConroller"
        ],
        "operationId": "FlowV1SharePointFlowSchemaGetModernSiteDesignsPost",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "GetModernSiteDesignsSchema",
        "description": "System"
      }
    },
    "/flow/v1/SharePointFlow/Schema/RegExpMatch": {
      "post": {
        "tags": [
          "SharePointFlowSchemaConroller"
        ],
        "operationId": "FlowV1SharePointFlowSchemaRegExpMatchPost",
        "parameters": [
          {
            "in": "query",
            "name": "pattern",
            "required": true,
            "type": "string",
            "x-ms-summary": "Pattern",
            "description": "pattern"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "RegexMatchSchema",
        "description": "System"
      }
    },
    "/flow/v1/SharePointFlow/Schema/ParseCsv": {
      "post": {
        "tags": [
          "SharePointFlowSchemaConroller"
        ],
        "operationId": "FlowV1SharePointFlowSchemaParseCsvPost",
        "parameters": [
          {
            "in": "query",
            "name": "headers",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "ParseCsv",
        "description": "System"
      }
    },
    "/flow/v1/SharePointFlow/Schema/ParseCsvBody": {
      "post": {
        "tags": [
          "SharePointFlowSchemaConroller"
        ],
        "operationId": "FlowV1SharePointFlowSchemaParseCsvBodyPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "headers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "x-ms-visibility": "internal",
        "summary": "ParseCsvBody",
        "description": "System"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CreateSiteFromTemplate": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCreateSiteFromTemplatePost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSiteFromTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WebUrlResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Create SharePoint Subsite from Template",
        "description": "Create a new SharePoint site based on specific template"
      }
    },
    "/flow/v1/SharePointFlow/jobs/ChangePermissions": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsChangePermissionsPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "actionType",
            "required": true,
            "type": "string",
            "enum": [
              "Grant",
              "Remove",
              "RemoveAll",
              "RestoreInheritance"
            ],
            "x-ms-summary": "Action type",
            "description": "The type of the operation"
          },
          {
            "in": "query",
            "name": "target",
            "required": true,
            "type": "string",
            "enum": [
              "Site",
              "List",
              "Item",
              "Folder",
              "Document"
            ],
            "x-ms-summary": "Target",
            "description": "The target of the operation"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "FlowV1SharePointFlowSchemaChangePermissionsPost",
                "value-path": "items",
                "parameters": {
                  "actionType": {
                    "parameter": "actionType"
                  },
                  "target": {
                    "parameter": "target"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Change SharePoint permissions",
        "description": "Grant, remove and restore permissions for the site, the list, and the item"
      }
    },
    "/flow/v1/SharePointFlow/jobs/ActivateFeature": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsActivateFeaturePost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FeatureActivationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Activate SharePoint Feature",
        "description": "Activate a feature with specific ID"
      }
    },
    "/flow/v1/SharePointFlow/jobs/DeactivateFeature": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsDeactivateFeaturePost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FeatureActivationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Deactivate SharePoint Feature",
        "description": "Deactivate a feature with specific ID"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CreateListOrLibrary": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCreateListOrLibraryPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateListOrLibraryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Create SharePoint List or Library",
        "description": "Create list or library by template"
      }
    },
    "/flow/v1/SharePointFlow/jobs/SetDefaultSiteGroup": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsSetDefaultSiteGroupPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetDefaultSiteGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Set Default SharePoint Site Group",
        "description": "Configure default groups for a site with the help of Microsoft Flow. It is alternative of the <site URL>/_layouts/15/permsetup.aspx page in SharePoint UI."
      }
    },
    "/flow/v1/SharePointFlow/jobs/CopyDocumentFromLibrary": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCopyDocumentFromLibraryPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Copy SharePoint Document from Library",
        "description": "Copies the document from the document library to the specified URL. You can copy the document to another document library cross-site or to another folder"
      }
    },
    "/flow/v1/SharePointFlow/jobs/MoveDocumentFromLibrary": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsMoveDocumentFromLibraryPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MoveDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Move SharePoint Document from Library",
        "description": "Moves the document from the document library to the specified URL. You can copy the document to another document library cross-site or to another folder"
      }
    },
    "/flow/v1/SharePointFlow/jobs/RemoveDocumentByUrl": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsRemoveDocumentByUrlPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Remove SharePoint Document by URL",
        "description": "Remove the document by a specific URL"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CreateDocumentSet": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCreateDocumentSetPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateDocumentSetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentSetInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Create SharePoint Document Set",
        "description": "Creates a new document set in the document library by the specified URL"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CopyDocumentSet": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCopyDocumentSetPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyDocumentSetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentSetInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Copy SharePoint Document Set",
        "description": "Copies the document set from the document library to the specified URL. You can copy the document sets to another document library cross-site or to another folder"
      }
    },
    "/flow/v1/SharePointFlow/jobs/MoveDocumentSet": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsMoveDocumentSetPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MoveDocumentSetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentSetInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Move SharePoint Document Set",
        "description": "Moves the document set from the document library to the specified URL. You can copy the document sets to another document library cross-site or to another folder"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CreateFolderByUrl": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCreateFolderByUrlPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFolderByUrlRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FolderInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Create SharePoint Folder by URL",
        "description": "Creates a new folder in the document library by the specified URL"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CreateFolderInList": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCreateFolderInListPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateFolderInListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FolderInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Create SharePoint Folder in List",
        "description": "Creates a new folder in the document library or list using the specified path"
      }
    },
    "/flow/v1/SharePointFlow/jobs/RemoveFolderByUrl": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsRemoveFolderByUrlPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveFolderByUrlRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Remove SharePoint Folder by URL",
        "description": "Removes the folder from the document library or list by the specified URL"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CopyFolderFromLibrary": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCopyFolderFromLibraryPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyFolderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FolderInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Copy SharePoint Folder from Library",
        "description": "Copies the folder from the document library to the specified URL. You can copy the folder to another document library cross-site or to another folder"
      }
    },
    "/flow/v1/SharePointFlow/jobs/MoveFolderFromLibrary": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsMoveFolderFromLibraryPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MoveFolderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FolderInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Move SharePoint Folder from Library",
        "description": "Moves the folder from the document library to the specified URL. You can move the folder to another document library cross-site or to another folder"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CheckInDocument": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCheckInDocumentPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckInDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Check In SharePoint Document",
        "description": "Check-in the document at the specified URL with the specified comment"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CheckOutDocument": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCheckOutDocumentPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckOutDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DocumentInfoResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Check Out SharePoint Document",
        "description": "Check-out the document at the specified URL"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CreateModernSite": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCreateModernSitePost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "siteType",
            "required": true,
            "type": "string",
            "enum": [
              "TeamSite",
              "CommunicationSite",
              "TeamSiteWithoutGroup"
            ],
            "x-ms-summary": "Site Type",
            "description": "The type of the site for create"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "FlowV1SharePointFlowSchemaCreateModernSitePost",
                "value-path": "items",
                "parameters": {
                  "siteType": {
                    "parameter": "siteType"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WebUrlResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Create Modern SharePoint Site",
        "description": "Creates a modern SharePoint Team or Communication site"
      }
    },
    "/flow/v1/SharePointFlow/jobs/ApplySiteDesign": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsApplySiteDesignPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplySiteDesignRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WebUrlResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Apply SharePoint Site Design",
        "description": "Applies design to target SharePoint site"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CreateSharePointGroup": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCreateSharePointGroupPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateSPGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Create SharePoint Group",
        "description": "Creates the SharePoint group with a specified name"
      }
    },
    "/flow/v1/SharePointFlow/jobs/RemoveSharePointGroup": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsRemoveSharePointGroupPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveSPGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Remove SharePoint Group",
        "description": "Removes the SharePoint group by a specified name"
      }
    },
    "/flow/v1/SharePointFlow/jobs/UpdateSharePointGroupProperties": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsUpdateSharePointGroupPropertiesPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSPGroupPropertiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Update SharePoint Group Properties",
        "description": "Updates SharePoint group properties like AutoAcceptRequestToJoinLeave, AllowMembersEditMembership or other options described in MSDN"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CheckSharePointGroupExists": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCheckSharePointGroupExistsPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupExistRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GroupExistResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Check if SharePoint Group exists",
        "description": "Checks whether a specific SharePoint group exists"
      }
    },
    "/flow/v1/SharePointFlow/jobs/AddUserToSharePointGroup": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsAddUserToSharePointGroupPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddUserToSPGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Add User to SharePoint Group",
        "description": "Adds a user to a specific SharePoint group"
      }
    },
    "/flow/v1/SharePointFlow/jobs/RemoveUserFromSharePointGroup": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsRemoveUserFromSharePointGroupPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveUserFromSPGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Remove User from SharePoint Group",
        "description": "Removes a user from a specific SharePoint group"
      }
    },
    "/flow/v1/SharePointFlow/jobs/GetSharePointGroupMembers": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsGetSharePointGroupMembersPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetUsersFromGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSPGroupMembersResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Get Members of SharePoint Group",
        "description": "Gets members of a specific SharePoint group"
      }
    },
    "/flow/v1/SharePointFlow/jobs/UserExistInSharePointGroup": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsUserExistInSharePointGroupPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserExistsInGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UserExistsResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Is User Member of SharePoint Group",
        "description": "Checks if a user is a member of a specifed SharePoint group"
      }
    },
    "/flow/v1/SharePointFlow/jobs/UpdateSharePointSiteProperties": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsUpdateSharePointSitePropertiesPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSitePropertiesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Update SharePoint Site Properties",
        "description": "Updates web properties like Title, Description or other string options described in at MSDN"
      }
    },
    "/flow/v1/SharePointFlow/jobs/DeleteSharePointSite": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsDeleteSharePointSitePost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BaseSPRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Delete SharePoint Site",
        "description": "Deletes the SharePoint site by a specific URL"
      }
    },
    "/flow/v1/SharePointFlow/jobs/GetSharePointSiteOptionValueAsString": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsGetSharePointSiteOptionValueAsStringPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSiteOptionValueRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SPSiteOptionValueResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Get SharePoint Site Option Value",
        "description": "Reads a value from SharePoint Site Options (Property Bag)"
      }
    },
    "/flow/v1/SharePointFlow/jobs/InviteExternalUserToSharePoint": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsInviteExternalUserToSharePointPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "target",
            "required": true,
            "type": "string",
            "enum": [
              "Site",
              "Item",
              "Group"
            ],
            "x-ms-summary": "Target",
            "description": "The target of the operation"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              },
              "x-ms-dynamic-schema": {
                "operationId": "FlowV1SharePointFlowSchemaInviteExternalUserPost",
                "value-path": "items",
                "parameters": {
                  "target": {
                    "parameter": "target"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Invite External User to SharePoint",
        "description": "Invites external users with specific permission to an SharePoint site, an specific SharePoint group or an item in a SharePoint list"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CopyAttachmentsToUrl": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCopyAttachmentsToUrlPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyAttachmentsToUrlRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListFileUrlsResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Copy SharePoint Item Attachments to URL",
        "description": "Copies attachments from the SharePoint list item to the library using the specified folder URL"
      }
    },
    "/flow/v1/SharePointFlow/jobs/MoveAttachmentsToUrl": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsMoveAttachmentsToUrlPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MoveAttachmentsToUrlRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListFileUrlsResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Move SharePoint Item Attachments to URL",
        "description": "Moves attachments from the SharePoint list item to the library using the specified folder URL"
      }
    },
    "/flow/v1/SharePointFlow/jobs/AddContentTypeToSharePointList": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsAddContentTypeToSharePointListPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddContentTypeToListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Add Content Type to SharePoint List",
        "description": "Adds the specified content type to a SharePoint list"
      }
    },
    "/flow/v1/SharePointFlow/jobs/CopyListItemToSharePointList": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsCopyListItemToSharePointListPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CopyListItemToListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListItemIdResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Copy List Item to SharePoint List",
        "description": "Copies the specified list item to another SharePoint list"
      }
    },
    "/flow/v1/SharePointFlow/jobs/MoveListItemToSharePointList": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsMoveListItemToSharePointListPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MoveListItemToListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ListItemIdResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Move List Item to SharePoint List",
        "description": "Moves the specified list item to another SharePoint list"
      }
    },
    "/flow/v1/SharePointFlow/jobs/StartListWorkflow": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsStartListWorkflowPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartListWorkflowRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkflowGuidResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Start SharePoint List Workflow (2013)",
        "description": "Starts a SharePoint list level workflow and pass input parameters, if they were specified. The action can run only 2013 workflows"
      }
    },
    "/flow/v1/SharePointFlow/jobs/StartSiteWorkflow": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsStartSiteWorkflowPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartSiteWorkflowRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkflowGuidResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Start SharePoint Site Workflow (2013)",
        "description": "Starts a SharePoint site level workflow and pass input parameters, if they were specified. The action can run only 2013 workflows"
      }
    },
    "/flow/v1/SharePointFlow/jobs/GetItemsByCamlQuery": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsGetItemsByCamlQueryPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetItemsByCAMLQueryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetItemsByCAMLQuerySchemaResponseClass"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Get SharePoint Items By CAML Query",
        "description": "Executes a CAML query on a list or on a document library and returns the collection of elements"
      }
    },
    "/flow/v1/SharePointFlow/jobs/GetVersionsHistory": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsGetVersionsHistoryPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetListItemVersionsHistoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VersionsHistoryResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Get SharePoint Item Versions History",
        "description": "Returns the changes history for the specific field from the SharePoint list item"
      }
    },
    "/flow/v1/SharePointFlow/jobs/ProvisionPnPTemplate": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsProvisionPnPTemplatePost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProvisionPnPTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Provision PnP Template to SharePoint",
        "description": "Applies a PnP template to a SharePoint site"
      }
    },
    "/flow/v1/SharePointFlow/jobs/ProvisionPnPTenantTemplate": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsProvisionPnPTenantTemplatePost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProvisionPnPTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Provision PnP Tenant Template to SharePoint",
        "description": "Applies a PnP tenant template to SharePoint"
      }
    },
    "/flow/v1/SharePointFlow/jobs/AddSiteNavigation": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsAddSiteNavigationPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddSiteNavigationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Add SharePoint Site Navigation Node",
        "description": "Adds a menu item to either the quicklaunch or top navigation"
      }
    },
    "/flow/v1/SharePointFlow/jobs/RemoveSiteNavigation": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsRemoveSiteNavigationPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveSiteNavigationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Remove SharePoint Site Navigation Node",
        "description": "Removes a menu item from either the quicklaunch or top navigation"
      }
    },
    "/flow/v1/SharePointFlow/jobs/UpdateListItem": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsUpdateListItemPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateListItemRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Update SharePoint Item",
        "description": "Updates an item in a SharePoint list or library"
      }
    },
    "/flow/v1/SharePointFlow/jobs/DeclareDocumentAsRecord": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsDeclareDocumentAsRecordPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeclareDocumentAsRecordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Declare SharePoint Document as Record",
        "description": "Declares Document in SharePoint Library As Record"
      }
    },
    "/flow/v1/SharePointFlow/jobs/UndeclareDocumentAsRecord": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsUndeclareDocumentAsRecordPost",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UndeclareDocumentAsRecordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Undeclare SharePoint Document as Record",
        "description": "Undeclares Document in SharePoint Library As Record"
      }
    },
    "/flow/v1/SharePointFlow/jobs/ParseCsv": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsParseCsvPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ParseCsvFlowRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ParseCsvFlowSchemaResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Parse CSV",
        "description": "It works like Parse JSON but for CSV file"
      }
    },
    "/flow/v1/SharePointFlow/jobs/RegExpMatch": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsRegExpMatchPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegExpMatchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegExpMatchFlowSchemaResponseClass"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Regular Expression Match",
        "description": "Searches an input string for all occurrences of a regular expression and returns all the matches. We would recommend you to use Regex Hero to test your expressions. It supports the same syntax as actions"
      }
    },
    "/flow/v1/SharePointFlow/jobs/RegExpReplace": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsRegExpReplacePost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegExpReplaceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StringResultResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Regular Expression Replace",
        "description": "In a specified input string, replaces all strings that match a regular expression pattern with a specified replacement string. We would recommend you to use Regex Hero to test your expressions. It supports the same syntax as actions"
      }
    },
    "/flow/v1/SharePointFlow/jobs/RegExpTest": {
      "post": {
        "tags": [
          "SharePointFlow"
        ],
        "operationId": "FlowV1SharePointFlowJobsRegExpTestPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegExpTestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BooleanResultResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "Contains URL where the result of job execution will be available",
                "type": "string"
              }
            }
          },
          "403": {
            "description": "The request did not have the correct authorization"
          },
          "404": {
            "description": "Response not found error, please write an email to support@plumsail.com"
          },
          "500": {
            "description": "Internal server error, please write an email to support@plumsail.com"
          }
        },
        "summary": "Regular Expression Test",
        "description": "Indicates whether the regular expression specified in the Regex constructor finds a match in a specified input string. We would recommend you to use Regex Hero to test your expressions. It supports the same syntax as actions"
      }
    }
  },
  "definitions": {
    "AddContentTypeToListRequest": {
      "required": [
        "contentTypeName",
        "listUrl",
        "spUrl"
      ],
      "type": "object",
      "properties": {
        "spUrl": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "SharePoint Site URL",
          "description": "The action will be executed on the specified SharePoint site"
        },
        "listUrl": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "List URL",
          "description": "List name, URL or Guid"
        },
        "contentTypeName": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Content Type Name",
          "description": "Name of the content type"
        },
        "makeItDefault": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Make It Default",
          "description": "Make the content type default for the list"
        }
      }
    },
    "AddSiteNavigationRequest": {
      "required": [
        "location",
        "spUrl",
        "title"
      ],
      "type": "object",
      "properties": {
        "spUrl": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "SharePoint Site URL",
          "description": "The action will be executed on the specified SharePoint site"
        },
        "location": {
          "enum": [
            "Top",
            "QuickLaunch"
          ],
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Location",
          "description": "The location of the node to add"
        },
        "title": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Title",
          "description": "Title of navigation node"
        },
        "parent": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Parent",
          "description": "It is the title of a parent navigation item. If there are multiple top-level items with the same title, we will pick only the first."
        },
        "url": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Url",
          "description": "Target URL. If the URL is empty, then the top-level navigation item will be created"
        },
        "prepend": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Prepend",
          "description": "Yes or No. The default value is No"
        }
      }
    },
    "AddUserToSPGroupRequest": {
      "required": [
        "groupName",
        "spUrl",
        "userLogin"
      ],
      "type": "object",
      "properties": {
        "spUrl": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "SharePoint Site URL",
[...]
