{
  "swagger": "2.0",
  "info": {
    "title": "Azure AD Identity and Access",
    "description": "A connector for Azure AD Identity and Access. This connector will contain multiple actions to manage Azure AD Identity and Access. An example of this is for instance inviting guest users. In the future, more actions will be added.",
    "version": "1.0",
    "contact": {
      "name": "Daniel Laskewitz",
      "url": "https://youtube.com/daniellaskewitz",
      "email": "connectorsupport@laskewitz.io"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.microsoft.com/en-us/graph/api/resources/invitation?view=graph-rest-1.0"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ],
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/v1.0/invitations": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "inviteRedeemUrl": {
                  "type": "string",
                  "description": "The URL the user can use to redeem their invitation."
                },
                "invitedUserDisplayName": {
                  "type": "string",
                  "description": "The display name of the user being invited."
                },
                "invitedUserEmailAddress": {
                  "type": "string",
                  "description": "The email address of the user being invited."
                },
                "sendInvitationMessage": {
                  "type": "boolean",
                  "description": "Indicates whether an email should be sent to the user being invited or not."
                },
                "invitedUserMessageInfo": {
                  "type": "object",
                  "properties": {
                    "messageLanguage": {
                      "type": "string",
                      "description": "The language you want to send the default message in. If the customizedMessageBody is specified, this property is ignored, and the message is sent using the customizedMessageBody. The language format should be in ISO 639. The default is en-US."
                    },
                    "ccRecipients": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "emailAddress": {
                            "$ref": "#/definitions/emailAddress"
                          }
                        }
                      },
                      "description": "Additional recipients the invitation message should be sent to. Currently only 1 additional recipient is supported."
                    },
                    "customizedMessageBody": {
                      "type": "string",
                      "description": "Customized message body you want to send if you don't want the default message."
                    }
                  },
                  "description": "Additional configuration for the message being sent to the invited user."
                },
                "inviteRedirectUrl": {
                  "type": "string",
                  "description": "The URL the user should be redirected to once the invitation is redeemed."
                },
                "status": {
                  "type": "string",
                  "description": "The status of the invitation."
                },
                "invitedUser": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The id of the invited user."
                    }
                  },
                  "description": "The user created as part of the invitation creation."
                }
              }
            }
          }
        },
        "summary": "Create invitation",
        "operationId": "CreateInvitation",
        "description": "Create an invitation for an external user.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "SendInvitationMessage": {
                  "type": "boolean",
                  "description": "Indicates whether an email should be sent to the user being invited or not.",
                  "default": false
                },
                "invitedUserEmailAddress": {
                  "type": "string",
                  "description": "The email address of the user being invited."
                },
                "inviteRedirectUrl": {
                  "type": "string",
                  "description": "The URL the user should be redirected to once the invitation is redeemed."
                },
                "invitedUserMessageInfo": {
                  "type": "object",
                  "description": "The invitedUserMessageInfo object allows you to configure the invitation message.",
                  "properties": {
                    "ccRecipients": {
                      "$ref": "#/definitions/recipient"
                    },
                    "customizedMessageBody": {
                      "type": "string",
                      "description": "Customized message body you want to send if you don't want the default message."
                    },
                    "messageLanguage": {
                      "type": "string",
                      "description": "The language you want to send the default message in. If the customizedMessageBody is specified, this property is ignored, and the message is sent using the customizedMessageBody. The language format should be in ISO 639. The default is en-US."
                    }
                  }
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "emailAddress": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "description": "The email address of the person or entity."
        },
        "name": {
          "type": "string",
          "description": "The display name of the person or entity."
        }
      }
    },
    "recipient": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "$ref": "#/definitions/emailAddress"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "User.Invite.All": "User.Invite.All"
      }
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}
