{
  "swagger": "2.0",
  "info": {
    "title": "Azure AD Identity and Access",
    "description": "A connector for Azure AD Identity and Access. This connector will contain multiple actions to manage Azure AD Identity and Access. An example of this is for instance inviting guest users. In the future, more actions will be added.",
    "version": "1.0",
    "contact": {
      "name": "Daniel Laskewitz",
      "url": "https://youtube.com/daniellaskewitz",
      "email": "connectorsupport@laskewitz.io"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.microsoft.com/en-us/graph/api/resources/invitation?view=graph-rest-1.0"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ],
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1.0/invitations": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "inviteRedeemUrl": {
                  "$ref": "#/definitions/inviteRedeemUrl"
                },
                "invitedUserDisplayName": {
                  "$ref": "#/definitions/invitedUserDisplayName"
                },
                "invitedUserEmailAddress": {
                  "$ref": "#/definitions/invitedUserEmailAddress"
                },
                "sendInvitationMessage": {
                  "$ref": "#/definitions/sendInvitationMessage"
                },
                "invitedUserMessageInfo": {
                  "$ref": "#/definitions/invitedUserMessageInfo"
                },
                "inviteRedirectUrl": {
                  "$ref": "#/definitions/inviteRedirectUrl"
                },
                "status": {
                  "$ref": "#/definitions/status"
                },
                "invitedUser": {
                  "$ref": "#/definitions/invitedUser"
                }
              }
            }
          }
        },
        "summary": "Create invitation",
        "operationId": "CreateInvitation",
        "description": "Create an invitation for an external user.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "invitedUserDisplayName": {
                  "$ref": "#/definitions/invitedUserDisplayName"
                },
                "invitedUserEmailAddress": {
                  "$ref": "#/definitions/invitedUserEmailAddress"
                },
                "invitedUserMessageInfo": {
                  "$ref": "#/definitions/invitedUserMessageInfo"
                },
                "invitedUserType": {
                  "$ref": "#/definitions/invitedUserType"
                },
                "inviteRedirectUrl": {
                  "$ref": "#/definitions/inviteRedirectUrl"
                },
                "resetRedemption": {
                  "$ref": "#/definitions/resetRedemption"
                },
                "sendInvitationMessage": {
                  "$ref": "#/definitions/sendInvitationMessage"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "ccRecipients": {
      "type": "array",
      "title": "CC Recipients",
      "description": "Additional recipients the invitation message should be sent to. Currently only 1 additional recipient is supported.",
      "items": {
        "type": "object",
        "properties": {
          "emailAddress": {
            "$ref": "#/definitions/emailAddress"
          }
        }
      }
    },
    "emailAddress": {
      "type": "object",
      "description": "The email address object (both display name and email address) of the person or entity.",
      "properties": {
        "address": {
          "type": "string",
          "title": "Email",
          "description": "The email address of the person or entity."
        },
        "name": {
          "type": "string",
          "title": "Name",
          "description": "The display name of the person or entity."
        }
      }
    },
    "invitedUser": {
      "type": "object",
      "title": "Invited User",
      "description": "The user created as part of the invitation creation.",
      "properties": {
        "id": {
          "type": "string",
          "title": "ID",
          "description": "The id of the invited user."
        }
      }
    },
    "invitedUserDisplayName": {
      "type": "string",
      "title": "Invited User Display Name",
      "description": "The display name of the user being invited."
    },
    "invitedUserEmailAddress": {
      "type": "string",
      "title": "Invited User Email Address",
      "description": "The email address of the user being invited."
    },
    "invitedUserMessageInfo": {
      "type": "object",
      "description": "Additional configuration for the message being sent to the invited user, including customizing message text, language and cc recipient list.",
      "properties": {
        "ccRecipients": {
          "$ref": "#/definitions/ccRecipients"
        },
        "customizedMessageBody": {
          "type": "string",
          "title": "Customized Message",
          "description": "Customized message body you want to send if you don't want the default message."
        },
        "messageLanguage": {
          "type": "string",
          "title": "Message Language",
          "description": "The language you want to send the default message in. If the customized message body is specified, this property is ignored, and the message is sent using the customized message body. The language format should be in ISO 639. The default is en-US."
        }
      }
    },
    "invitedUserType": {
      "type": "string",
      "title": "Invited User Type",
      "description": "The user type of the user being invited. You can invite as Member if you are a company administrator."
    },
    "inviteRedeemUrl": {
      "type": "string",
      "title": "Invite Redeem URL",
      "description": "The URL the user can use to redeem their invitation."
    },
    "inviteRedirectUrl": {
      "type": "string",
      "title": "Invite Redirect URL",
      "description": "inviteRedirectUrl"
    },
    "recipient": {
      "type": "object",
      "properties": {
        "emailAddress": {
          "$ref": "#/definitions/emailAddress"
        }
      }
    },
    "resetRedemption": {
      "type": "boolean",
      "title": "Reset Redemption",
      "description": "Reset the user's redemption status and reinvite a user while retaining their user identifier, group memberships, and app assignments. This property allows you to enable a user to sign-in using a different email address from the one in the previous invitation."
    },
    "sendInvitationMessage": {
      "type": "boolean",
      "title": "Send Invitation Message",
      "description": "Indicates whether an email should be sent to the user being invited."
    },
    "status": {
      "type": "string",
      "description": "The status of the invitation."
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
      "scopes": {
        "https://graph.microsoft.com/.default": "https://graph.microsoft.com/.default"
      }
    }
  },
  "security": [
    {
      "undefined": [
        "User.Invite.All"
      ]
    }
  ],
  "tags": []
}