{
  "swagger": "2.0",
  "info": {
    "title": "Nitro",
    "description": "Get your documents signed smarter, faster and more securely with Nitro Sign - without the need for paper or pen.",
    "version": "1.0",
    "contact": {
      "name": "Nitro Support",
      "url": "https://www.gonitro.com/support",
      "email": "feedback@gonitro.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.gonitro.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.gonitro.com/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "host": "api.gonitro.com",
  "basePath": "/v1/integration/power-automate",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/templates/summaries": {
      "get": {
        "tags": [
          "Template"
        ],
        "x-ms-visibility": "internal",
        "summary": "List the template summaries",
        "description": "List the current user and team template summaries.",
        "operationId": "TemplateSummaries",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "items"
              ],
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "name"
                    ],
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/templates/{id}/signature-requests/schema": {
      "get": {
        "tags": [
          "Template"
        ],
        "x-ms-visibility": "internal",
        "summary": "Get the dynamic schema for a template",
        "description": "Get the dynamic schema to perform a signature request for a template.",
        "operationId": "TemplateSignatureRequestSchema",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "x-ms-url-encoding": "single",
            "required": true,
            "x-ms-summary": "Template ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "required": [
                "items"
              ],
              "properties": {
                "items": {
                  "type": "object",
                  "required": [
                    "type",
                    "required",
                    "properties"
                  ],
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "required": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "properties": {
                      "type": "object",
                      "required": [
                        "subject",
                        "message"
                      ],
                      "properties": {
                        "subject": {
                          "type": "object",
                          "required": [
                            "type",
                            "description"
                          ],
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        },
                        "message": {
                          "type": "object",
                          "required": [
                            "type",
                            "description"
                          ],
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/templates/{id}/signature-requests": {
      "post": {
        "tags": [
          "Template"
        ],
        "description": "Send a signature request using an existing template.",
        "summary": "Send a signature request using a template",
        "operationId": "TemplateSignatureRequest",
        "parameters": [
          {
            "name": "id",
            "type": "string",
            "in": "path",
            "required": true,
            "x-ms-summary": "Template",
            "description": "Use this option to select the template to be used for the signature request.",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "TemplateSummaries",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "items"
            }
          },
          {
            "name": "dynamicSchema",
            "in": "body",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "TemplateSignatureRequestSchema",
                "parameters": {
                  "id": {
                    "parameter": "id"
                  }
                },
                "value-path": "items"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "required": [
            "document"
          ],
          "properties": {
            "document": {
              "type": "string",
              "format": "byte",
              "title": "Signed document"
            }
          }
        }
      },
      "post": {
        "deprecated": true,
        "x-ms-api-annotation": {
          "revision": 1
        },
        "description": "Creates a webhook to notify signed document events",
        "summary": "Triggers when a document is signed",
        "operationId": "webhookDocumentSignedTriggetr",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "endpoint",
                "event"
              ],
              "properties": {
                "endpoint": {
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "esign.request.completed"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Operation Failed."
          }
        }
      }
    },
    "/v2/webhooks": {
      "x-ms-notification-content": {
        "x-ms-api-annotation": {
          "revision": 2
        },
        "schema": {
          "type": "object",
          "required": [
            "signedAt",
            "document",
            "recipients"
          ],
          "properties": {
            "signedAt": {
              "type": "string",
              "format": "date-time",
              "description": "The date and time when the document was signed",
              "x-ms-summary": "Signed At"
            },
            "document": {
              "type": "object",
              "description": "Signed Document attributes",
              "x-ms-summary": "Signed Document",
              "required": [
                "name",
                "bytes"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Signed document name",
                  "x-ms-summary": "Name"
                },
                "bytes": {
                  "type": "string",
                  "format": "byte",
                  "description": "Signed document PDF",
                  "x-ms-summary": "Bytes"
                }
              }
            },
            "recipients": {
              "type": "array",
              "description": "Recipients that signed the document",
              "x-ms-summary": "Recipients",
              "items": {
                "type": "object",
                "required": [
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Recipient name",
                    "x-ms-summary": "Name"
                  },
                  "email": {
                    "type": "string",
                    "description": "Recipient email",
                    "x-ms-summary": "Email"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Triggers when a signature request is completed by all parties",
        "summary": "When a signature request is completed",
        "operationId": "webhookDocumentSignedTriggerV2",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "endpoint",
                "event"
              ],
              "properties": {
                "endpoint": {
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "esign.request.completed"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "error": {
      "type": "object",
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}