{
  "swagger": "2.0",
  "info": {
    "title": "VIES",
    "description": "VIES (VAT Information Exchange System) is an electronic mean of validating VAT-identification numbers of economic operators registered in the European Union. You can verify the validity of a VAT number issued by any Member State / Northern Ireland by selecting that Member State / Northern Ireland from the drop-down menu provided, and entering the number to be validated.",
    "version": "2.1",
    "contact": {
      "name": "Tomasz Poszytek",
      "url": "https://aka.ms/poszytek",
      "email": "tomasz@poszytek.eu"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://ec.europa.eu/taxation_customs/vies"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://ec.europa.eu/taxation_customs/vies/disclaimer.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Commerce"
    }
  ],
  "host": "ec.europa.eu",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/taxation_customs/vies/services/checkVatService": {
      "post": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "countryCode": {
                  "type": "string",
                  "description": "Country code in ISO format.",
                  "title": "Country code"
                },
                "vatNumber": {
                  "type": "string",
                  "description": "Validated VAT number.",
                  "title": "VAT number"
                },
                "requestDate": {
                  "type": "string",
                  "description": "Timestamp when the request was placed.",
                  "title": "Request date"
                },
                "valid": {
                  "type": "string",
                  "description": "If the VAT is valid or not.",
                  "title": "Valid"
                },
                "name": {
                  "type": "string",
                  "title": "Company name"
                },
                "address": {
                  "type": "string",
                  "description": "Company address.",
                  "title": "Address"
                }
              }
            }
          }
        },
        "summary": "Check VAT validity",
        "description": "Provide country ISO code and VAT number to check its validity.",
        "operationId": "CheckVATValidity",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "countryCode": {
                  "type": "string",
                  "description": "Country code in ISO format",
                  "title": "Country Code",
                  "enum": [
                    "AT",
                    "BE",
                    "BG",
                    "CY",
                    "CZ",
                    "DE",
                    "DK",
                    "EE",
                    "EL",
                    "ES",
                    "FI",
                    "FR",
                    "HR",
                    "HU",
                    "IE",
                    "IT",
                    "LT",
                    "LU",
                    "LV",
                    "MT",
                    "NL",
                    "PL",
                    "PT",
                    "RO",
                    "SE",
                    "SI",
                    "SK",
                    "XI"
                  ]
                },
                "vatNumber": {
                  "type": "string",
                  "description": "Vat number to be checked (without preceding country code and special characters).",
                  "title": "Vat number"
                }
              },
              "required": [
                "countryCode",
                "vatNumber"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
