{
  "swagger": "2.0",
  "info": {
    "title": "MiniPDF (Independent Publisher)",
    "version": "1.1.0",
    "description": "MiniPDF automates common PDF tasks, including merging, splitting, watermarking, page manipulation, text extraction, rendering, metadata management, and form processing.",
    "contact": {
      "name": "MiniPDF Support",
      "url": "https://minipdf.org/support"
    }
  },
  "host": "minipdf.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/pdf/add-text-watermark": {
      "post": {
        "operationId": "pdfAddTextWatermark",
        "tags": [
          "PDF - Core"
        ],
        "summary": "Add text watermark",
        "description": "Adds a text watermark to every page of a PDF.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "description": "Use the raw base64 string from Get file content -> $content.",
            "schema": {
              "type": "object",
              "properties": {
                "fileName": {
                  "type": "string",
                  "title": "File Name",
                  "x-ms-summary": "File Name",
                  "description": "The name of the input or output file, including the PDF extension.",
                  "x-ms-visibility": "important"
                },
                "fileContentBase64": {
                  "type": "string",
                  "format": "byte",
                  "title": "PDF Base64 Content",
                  "x-ms-summary": "PDF Base64 Content",
                  "description": "The Base64-encoded content of the input PDF file.",
                  "x-ms-visibility": "important"
                },
                "text": {
                  "type": "string",
                  "title": "Watermark Text",
                  "x-ms-summary": "Watermark Text",
                  "description": "The text to place as a watermark on the PDF.",
                  "x-ms-visibility": "important"
                },
                "orientation": {
                  "type": "string",
                  "title": "Orientation",
                  "x-ms-summary": "Orientation",
                  "enum": [
                    "diagonal",
                    "horizontal"
                  ],
                  "x-ms-enum": {
                    "name": "WatermarkOrientation",
                    "modelAsString": true
                  },
                  "description": "The orientation used to place the watermark text.",
                  "x-ms-visibility": "important"
                },
                "textColour": {
                  "type": "string",
                  "title": "Text Colour",
                  "x-ms-summary": "Text Colour",
                  "description": "The watermark text colour as a hexadecimal colour value.",
                  "x-ms-visibility": "important"
                },
                "textSize": {
                  "type": "number",
                  "title": "Text Size",
                  "x-ms-summary": "Text Size",
                  "description": "The watermark text size in points.",
                  "x-ms-visibility": "important"
                },
                "opacity": {
                  "type": "number",
                  "title": "Opacity",
                  "x-ms-summary": "Opacity",
                  "description": "The watermark opacity from 0 for transparent to 1 for opaque.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "fileName",
                "fileContentBase64",
                "text",
                "orientation",
                "textColour",
                "textSize",
                "opacity"
              ],
              "additionalProperties": false,
              "title": "Request",
              "x-ms-summary": "Request",
              "description": "The values required to perform the operation."
            },
            "x-ms-summary": "Watermark Input",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "fileName": {
                  "type": "string",
                  "title": "File Name",
                  "x-ms-summary": "File Name",
                  "description": "The name of the input or output file, including the PDF extension.",
                  "x-ms-visibility": "important"
                },
                "contentType": {
                  "type": "string",
                  "title": "Output Content Type",
                  "x-ms-summary": "Output Content Type",
                  "description": "The media type of the generated output.",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "number",
                  "title": "Page Count",
                  "x-ms-summary": "Page Count",
                  "description": "The number of pages in the PDF.",
                  "x-ms-visibility": "important"
                },
                "fileContentBase64": {
                  "type": "string",
                  "format": "byte",
                  "title": "Output File Content",
                  "x-ms-summary": "Output File Content",
                  "description": "The Base64-encoded content of the generated file.",
                  "x-ms-visibility": "important"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Warnings",
                  "x-ms-summary": "Warnings",
                  "description": "Nonfatal warnings returned by the service.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "fileName",
                "contentType",
                "pageCount",
                "fileContentBase64",
                "warnings"
              ],
              "additionalProperties": false,
              "title": "Response",
              "x-ms-summary": "Response",
              "description": "The values returned after the operation completes successfully."
            },
            "examples": {
              "application/json": {
                "success": true,
                "fileName": "sample.watermarked.pdf",
                "contentType": "application/pdf",
                "pageCount": 4,
                "fileContentBase64": "<base64_pdf>",
                "warnings": []
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "429": {
            "description": "Rate limited",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/pdf/merge": {
      "post": {
        "operationId": "pdfMerge",
        "tags": [
          "PDF - Core"
        ],
        "summary": "Merge PDFs",
        "description": "Merges multiple PDF files into a single PDF in the specified order.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "description": "Use the raw base64 string from Get file content -> $content.",
            "schema": {
              "type": "object",
              "properties": {
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "title": "File Name",
                        "x-ms-summary": "File Name",
                        "description": "The name of the input or output file, including the PDF extension.",
                        "x-ms-visibility": "important"
                      },
                      "fileContentBase64": {
                        "type": "string",
                        "format": "byte",
                        "title": "PDF Base64 Content",
                        "x-ms-summary": "PDF Base64 Content",
                        "description": "The Base64-encoded content of the input PDF file.",
                        "x-ms-visibility": "important"
                      }
                    },
                    "required": [
                      "fileName",
                      "fileContentBase64"
                    ],
                    "additionalProperties": false
                  },
                  "title": "Files",
                  "x-ms-summary": "Files",
                  "description": "The PDF files to merge in the specified order.",
                  "x-ms-visibility": "important"
                },
                "outputFileName": {
                  "type": "string",
                  "title": "Output File Name",
                  "x-ms-summary": "Output File Name",
                  "description": "The file name to use for the generated PDF.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "files",
                "outputFileName"
              ],
              "additionalProperties": false,
              "title": "Request",
              "x-ms-summary": "Request",
              "description": "The values required to perform the operation."
            },
            "x-ms-summary": "Merge Input",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "fileName": {
                  "type": "string",
                  "title": "File Name",
                  "x-ms-summary": "File Name",
                  "description": "The name of the input or output file, including the PDF extension.",
                  "x-ms-visibility": "important"
                },
                "contentType": {
                  "type": "string",
                  "title": "Output Content Type",
                  "x-ms-summary": "Output Content Type",
                  "description": "The media type of the generated output.",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "number",
                  "title": "Page Count",
                  "x-ms-summary": "Page Count",
                  "description": "The number of pages in the PDF.",
                  "x-ms-visibility": "important"
                },
                "fileContentBase64": {
                  "type": "string",
                  "format": "byte",
                  "title": "Output File Content",
                  "x-ms-summary": "Output File Content",
                  "description": "The Base64-encoded content of the generated file.",
                  "x-ms-visibility": "important"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Warnings",
                  "x-ms-summary": "Warnings",
                  "description": "Nonfatal warnings returned by the service.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "fileName",
                "contentType",
                "pageCount",
                "fileContentBase64",
                "warnings"
              ],
              "additionalProperties": false,
              "title": "Response",
              "x-ms-summary": "Response",
              "description": "The values returned after the operation completes successfully."
            },
            "examples": {
              "application/json": {
                "success": true,
                "fileName": "merged.pdf",
                "contentType": "application/pdf",
                "pageCount": 8,
                "fileContentBase64": "<base64_pdf>",
                "warnings": []
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "429": {
            "description": "Rate limited",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/pdf/split": {
      "post": {
        "operationId": "pdfSplit",
        "tags": [
          "PDF - Core"
        ],
        "summary": "Split PDF",
        "description": "Splits a PDF by individual pages, selected pages, or page ranges.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "description": "Use the raw base64 string from Get file content -> $content.",
            "schema": {
              "type": "object",
              "properties": {
                "fileName": {
                  "type": "string",
                  "title": "File Name",
                  "x-ms-summary": "File Name",
                  "description": "The name of the input or output file, including the PDF extension.",
                  "x-ms-visibility": "important"
                },
                "fileContentBase64": {
                  "type": "string",
                  "format": "byte",
                  "title": "PDF Base64 Content",
                  "x-ms-summary": "PDF Base64 Content",
                  "description": "The Base64-encoded content of the input PDF file.",
                  "x-ms-visibility": "important"
                },
                "mode": {
                  "type": "string",
                  "title": "Mode",
                  "x-ms-summary": "Mode",
                  "description": "The mode used to process or return the PDF content.",
                  "x-ms-visibility": "important"
                },
                "outputFormat": {
                  "type": "string",
                  "title": "Output Format",
                  "x-ms-summary": "Output Format",
                  "description": "The image format to use for rendered PDF pages.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "fileName",
                "fileContentBase64",
                "mode",
                "outputFormat"
              ],
              "additionalProperties": false,
              "title": "Request",
              "x-ms-summary": "Request",
              "description": "The values required to perform the operation."
            },
            "x-ms-summary": "Split Input",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "originalFileName": {
                  "type": "string",
                  "title": "Original File Name",
                  "x-ms-summary": "Original File Name",
                  "description": "The original name of the input PDF file.",
                  "x-ms-visibility": "important"
                },
                "mode": {
                  "type": "string",
                  "title": "Mode",
                  "x-ms-summary": "Mode",
                  "description": "The mode used to process or return the PDF content.",
                  "x-ms-visibility": "important"
                },
                "outputFormat": {
                  "type": "string",
                  "title": "Output Format",
                  "x-ms-summary": "Output Format",
                  "description": "The image format to use for rendered PDF pages.",
                  "x-ms-visibility": "important"
                },
                "totalPages": {
                  "type": "number",
                  "title": "Total Pages",
                  "x-ms-summary": "Total Pages",
                  "description": "The total number of pages in the PDF.",
                  "x-ms-visibility": "important"
                },
                "outputCount": {
                  "type": "number",
                  "title": "Output Count",
                  "x-ms-summary": "Output Count",
                  "description": "The number of files generated by the operation.",
                  "x-ms-visibility": "important"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "title": "File Name",
                        "x-ms-summary": "File Name",
                        "description": "The name of the input or output file, including the PDF extension.",
                        "x-ms-visibility": "important"
                      },
                      "contentType": {
                        "type": "string",
                        "title": "Output Content Type",
                        "x-ms-summary": "Output Content Type",
                        "description": "The media type of the generated output.",
                        "x-ms-visibility": "important"
                      },
                      "pageStart": {
                        "type": "number",
                        "title": "Page Start",
                        "x-ms-summary": "Page Start",
                        "description": "The one-based first page in the page range.",
                        "x-ms-visibility": "important"
                      },
                      "pageEnd": {
                        "type": "number",
                        "title": "Page End",
                        "x-ms-summary": "Page End",
                        "description": "The one-based last page in the page range.",
                        "x-ms-visibility": "important"
                      },
                      "pageCount": {
                        "type": "number",
                        "title": "Page Count",
                        "x-ms-summary": "Page Count",
                        "description": "The number of pages in the PDF.",
                        "x-ms-visibility": "important"
                      },
                      "fileContentBase64": {
                        "type": "string",
                        "format": "byte",
                        "title": "Output File Content",
                        "x-ms-summary": "Output File Content",
                        "description": "The Base64-encoded content of the generated file.",
                        "x-ms-visibility": "important"
                      }
                    },
                    "required": [
                      "fileName",
                      "contentType",
                      "pageStart",
                      "pageEnd",
                      "pageCount",
                      "fileContentBase64"
                    ],
                    "additionalProperties": false
                  },
                  "title": "Files",
                  "x-ms-summary": "Files",
                  "description": "The PDF files to merge in the specified order.",
                  "x-ms-visibility": "important"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Warnings",
                  "x-ms-summary": "Warnings",
                  "description": "Nonfatal warnings returned by the service.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "originalFileName",
                "mode",
                "outputFormat",
                "totalPages",
                "outputCount",
                "files",
                "warnings"
              ],
              "additionalProperties": false,
              "title": "Response",
              "x-ms-summary": "Response",
              "description": "The values returned after the operation completes successfully."
            },
            "examples": {
              "application/json": {
                "success": true,
                "originalFileName": "sample.pdf",
                "mode": "every_page",
                "outputFormat": "files",
                "totalPages": 3,
                "outputCount": 3,
                "files": [
                  {
                    "fileName": "sample.page-1.pdf",
                    "contentType": "application/pdf",
                    "pageStart": 1,
                    "pageEnd": 1,
                    "pageCount": 1,
                    "fileContentBase64": "<base64_pdf>"
                  }
                ],
                "warnings": []
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "429": {
            "description": "Rate limited",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/pdf/extract-text": {
      "post": {
        "operationId": "pdfExtractText",
        "tags": [
          "PDF - Extract & Render"
        ],
        "summary": "Extract text",
        "description": "Extracts text from a PDF as joined text or as text grouped by page.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "description": "Use the raw base64 string from Get file content -> $content.",
            "schema": {
              "type": "object",
              "properties": {
                "fileName": {
                  "type": "string",
                  "title": "File Name",
                  "x-ms-summary": "File Name",
                  "description": "The name of the input or output file, including the PDF extension.",
                  "x-ms-visibility": "important"
                },
                "fileContentBase64": {
                  "type": "string",
                  "format": "byte",
                  "title": "PDF Base64 Content",
                  "x-ms-summary": "PDF Base64 Content",
                  "description": "The Base64-encoded content of the input PDF file.",
                  "x-ms-visibility": "important"
                },
                "pageMode": {
                  "type": "string",
                  "title": "Page Mode",
                  "x-ms-summary": "Page Mode",
                  "description": "The rule used to select pages for numbering.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "fileName",
                "fileContentBase64",
                "pageMode"
              ],
              "additionalProperties": false,
              "title": "Request",
              "x-ms-summary": "Request",
              "description": "The values required to perform the operation."
            },
            "x-ms-summary": "Extract Text Input",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "originalFileName": {
                  "type": "string",
                  "title": "Original File Name",
                  "x-ms-summary": "Original File Name",
                  "description": "The original name of the input PDF file.",
                  "x-ms-visibility": "important"
                },
                "pageMode": {
                  "type": "string",
                  "title": "Page Mode",
                  "x-ms-summary": "Page Mode",
                  "description": "The rule used to select pages for numbering.",
                  "x-ms-visibility": "important"
                },
                "totalPages": {
                  "type": "number",
                  "title": "Total Pages",
                  "x-ms-summary": "Total Pages",
                  "description": "The total number of pages in the PDF.",
                  "x-ms-visibility": "important"
                },
                "text": {
                  "type": "string",
                  "title": "Text",
                  "x-ms-summary": "Text",
                  "description": "The text extracted from the PDF.",
                  "x-ms-visibility": "important"
                },
                "pages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "page": {
                        "type": "number",
                        "title": "Page",
                        "x-ms-summary": "Page",
                        "description": "The one-based PDF page number.",
                        "x-ms-visibility": "important"
                      },
                      "text": {
                        "type": "string",
                        "title": "Text",
                        "x-ms-summary": "Text",
                        "description": "The text extracted from the PDF.",
                        "x-ms-visibility": "important"
                      }
                    },
                    "required": [
                      "page",
                      "text"
                    ],
                    "additionalProperties": false
                  },
                  "title": "Pages",
                  "x-ms-summary": "Pages",
                  "description": "The one-based PDF page numbers or ranges to process.",
                  "x-ms-visibility": "important"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Warnings",
                  "x-ms-summary": "Warnings",
                  "description": "Nonfatal warnings returned by the service.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "originalFileName",
                "pageMode",
                "totalPages",
                "text",
                "pages",
                "warnings"
              ],
              "additionalProperties": false,
              "title": "Response",
              "x-ms-summary": "Response",
              "description": "The values returned after the operation completes successfully."
            },
            "examples": {
              "application/json": {
                "success": true,
                "originalFileName": "sample.pdf",
                "pageMode": "joined",
                "totalPages": 2,
                "text": "Invoice #1001\nTotal: 120 USD",
                "pages": [
                  {
                    "page": 1,
                    "text": "Invoice #1001\nTotal: 120 USD"
                  }
                ],
                "warnings": []
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "429": {
            "description": "Rate limited",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/pdf/to-images": {
      "post": {
        "operationId": "pdfToImages",
        "tags": [
          "PDF - Extract & Render"
        ],
        "summary": "Render PDF to images",
        "description": "Renders selected PDF pages as images in the requested format.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "description": "Use the raw base64 string from Get file content -> $content.",
            "schema": {
              "type": "object",
              "properties": {
                "fileName": {
                  "type": "string",
                  "title": "File Name",
                  "x-ms-summary": "File Name",
                  "description": "The name of the input or output file, including the PDF extension.",
                  "x-ms-visibility": "important"
                },
                "fileContentBase64": {
                  "type": "string",
                  "format": "byte",
                  "title": "PDF Base64 Content",
                  "x-ms-summary": "PDF Base64 Content",
                  "description": "The Base64-encoded content of the input PDF file.",
                  "x-ms-visibility": "important"
                },
                "format": {
                  "type": "string",
                  "title": "Format",
                  "x-ms-summary": "Format",
                  "description": "The image format used for the rendered page.",
                  "x-ms-visibility": "important"
                },
                "dpi": {
                  "type": "number",
                  "title": "Dpi",
                  "x-ms-summary": "Dpi",
                  "description": "The rendering resolution in dots per inch.",
                  "x-ms-visibility": "important"
                },
                "pages": {
                  "type": "string",
                  "title": "Pages",
                  "x-ms-summary": "Pages",
                  "description": "The one-based PDF page numbers or ranges to process.",
                  "x-ms-visibility": "important"
                },
                "outputFormat": {
                  "type": "string",
                  "title": "Output Format",
                  "x-ms-summary": "Output Format",
                  "description": "The image format to use for rendered PDF pages.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "fileName",
                "fileContentBase64",
                "format",
                "dpi",
                "pages",
                "outputFormat"
              ],
              "additionalProperties": false,
              "title": "Request",
              "x-ms-summary": "Request",
              "description": "The values required to perform the operation."
            },
            "x-ms-summary": "Render Input",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "originalFileName": {
                  "type": "string",
                  "title": "Original File Name",
                  "x-ms-summary": "Original File Name",
                  "description": "The original name of the input PDF file.",
                  "x-ms-visibility": "important"
                },
                "format": {
                  "type": "string",
                  "title": "Format",
                  "x-ms-summary": "Format",
                  "description": "The image format used for the rendered page.",
                  "x-ms-visibility": "important"
                },
                "dpi": {
                  "type": "number",
                  "title": "Dpi",
                  "x-ms-summary": "Dpi",
                  "description": "The rendering resolution in dots per inch.",
                  "x-ms-visibility": "important"
                },
                "outputFormat": {
                  "type": "string",
                  "title": "Output Format",
                  "x-ms-summary": "Output Format",
                  "description": "The image format to use for rendered PDF pages.",
                  "x-ms-visibility": "important"
                },
                "totalPages": {
                  "type": "number",
                  "title": "Total Pages",
                  "x-ms-summary": "Total Pages",
                  "description": "The total number of pages in the PDF.",
                  "x-ms-visibility": "important"
                },
                "outputCount": {
                  "type": "number",
                  "title": "Output Count",
                  "x-ms-summary": "Output Count",
                  "description": "The number of files generated by the operation.",
                  "x-ms-visibility": "important"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fileName": {
                        "type": "string",
                        "title": "File Name",
                        "x-ms-summary": "File Name",
                        "description": "The name of the input or output file, including the PDF extension.",
                        "x-ms-visibility": "important"
                      },
                      "contentType": {
                        "type": "string",
                        "title": "Output Content Type",
                        "x-ms-summary": "Output Content Type",
                        "description": "The media type of the generated output.",
                        "x-ms-visibility": "important"
                      },
                      "page": {
                        "type": "number",
                        "title": "Page",
                        "x-ms-summary": "Page",
                        "description": "The one-based PDF page number.",
                        "x-ms-visibility": "important"
                      },
                      "width": {
                        "type": "number",
                        "title": "Width",
                        "x-ms-summary": "Width",
                        "description": "The rendered image width in pixels.",
                        "x-ms-visibility": "important"
                      },
                      "height": {
                        "type": "number",
                        "title": "Height",
                        "x-ms-summary": "Height",
                        "description": "The rendered image height in pixels.",
                        "x-ms-visibility": "important"
                      },
                      "fileContentBase64": {
                        "type": "string",
                        "format": "byte",
                        "title": "Output File Content",
                        "x-ms-summary": "Output File Content",
                        "description": "The Base64-encoded content of the generated file.",
                        "x-ms-visibility": "important"
                      }
                    },
                    "required": [
                      "fileName",
                      "contentType",
                      "page",
                      "width",
                      "height",
                      "fileContentBase64"
                    ],
                    "additionalProperties": false
                  },
                  "title": "Images",
                  "x-ms-summary": "Images",
                  "description": "The images rendered from the selected PDF pages.",
                  "x-ms-visibility": "important"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Warnings",
                  "x-ms-summary": "Warnings",
                  "description": "Nonfatal warnings returned by the service.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "originalFileName",
                "format",
                "dpi",
                "outputFormat",
                "totalPages",
                "outputCount",
                "images",
                "warnings"
              ],
              "additionalProperties": false,
              "title": "Response",
              "x-ms-summary": "Response",
              "description": "The values returned after the operation completes successfully."
            },
            "examples": {
              "application/json": {
                "success": true,
                "originalFileName": "sample.pdf",
                "format": "png",
                "dpi": 144,
                "outputFormat": "files",
                "totalPages": 3,
                "outputCount": 2,
                "images": [
                  {
                    "fileName": "sample.page-1.png",
                    "contentType": "image/png",
                    "page": 1,
                    "width": 1240,
                    "height": 1754,
                    "fileContentBase64": "<base64_png>"
                  }
                ],
                "warnings": []
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "429": {
            "description": "Rate limited",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/pdf/page-numbers": {
      "post": {
        "operationId": "pdfPageNumbers",
        "tags": [
          "PDF - Page Tools"
        ],
        "summary": "Add page numbers",
        "description": "Adds page numbers to selected pages of a PDF.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "description": "Use the raw base64 string from Get file content -> $content.",
            "schema": {
              "type": "object",
              "properties": {
                "fileName": {
                  "type": "string",
                  "title": "File Name",
                  "x-ms-summary": "File Name",
                  "description": "The name of the input or output file, including the PDF extension.",
                  "x-ms-visibility": "important"
                },
                "fileContentBase64": {
                  "type": "string",
                  "format": "byte",
                  "title": "PDF Base64 Content",
                  "x-ms-summary": "PDF Base64 Content",
                  "description": "The Base64-encoded content of the input PDF file.",
                  "x-ms-visibility": "important"
                },
                "startNumber": {
                  "type": "number",
                  "title": "Start Number",
                  "x-ms-summary": "Start Number",
                  "description": "The first number used when adding page numbers.",
                  "x-ms-visibility": "important"
                },
                "position": {
                  "type": "string",
                  "title": "Position",
                  "x-ms-summary": "Position",
                  "description": "The position where page numbers are placed.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "fileName",
                "fileContentBase64",
                "startNumber",
                "position"
              ],
              "additionalProperties": false,
              "title": "Request",
              "x-ms-summary": "Request",
              "description": "The values required to perform the operation."
            },
            "x-ms-summary": "Add page numbers Input",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "fileName": {
                  "type": "string",
                  "title": "File Name",
                  "x-ms-summary": "File Name",
                  "description": "The name of the input or output file, including the PDF extension.",
                  "x-ms-visibility": "important"
                },
                "contentType": {
                  "type": "string",
                  "title": "Output Content Type",
                  "x-ms-summary": "Output Content Type",
                  "description": "The media type of the generated output.",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "number",
                  "title": "Page Count",
                  "x-ms-summary": "Page Count",
                  "description": "The number of pages in the PDF.",
                  "x-ms-visibility": "important"
                },
                "startNumber": {
                  "type": "number",
                  "title": "Start Number",
                  "x-ms-summary": "Start Number",
                  "description": "The first number used when adding page numbers.",
                  "x-ms-visibility": "important"
                },
                "position": {
                  "type": "string",
                  "title": "Position",
                  "x-ms-summary": "Position",
                  "description": "The position where page numbers are placed.",
                  "x-ms-visibility": "important"
                },
                "fileContentBase64": {
                  "type": "string",
                  "format": "byte",
                  "title": "Output File Content",
                  "x-ms-summary": "Output File Content",
                  "description": "The Base64-encoded content of the generated file.",
                  "x-ms-visibility": "important"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Warnings",
                  "x-ms-summary": "Warnings",
                  "description": "Nonfatal warnings returned by the service.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "fileName",
                "contentType",
                "pageCount",
                "startNumber",
                "position",
                "fileContentBase64",
                "warnings"
              ],
              "additionalProperties": false,
              "title": "Response",
              "x-ms-summary": "Response",
              "description": "The values returned after the operation completes successfully."
            },
            "examples": {
              "application/json": {
                "success": true,
                "fileName": "sample.numbered.pdf",
                "contentType": "application/pdf",
                "pageCount": 4,
                "startNumber": 1,
                "position": "bottom-right",
                "fileContentBase64": "<base64_pdf>",
                "warnings": []
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "429": {
            "description": "Rate limited",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/v1/pdf/extract-metadata": {
      "post": {
        "operationId": "pdfExtractMetadata",
        "tags": [
          "PDF - Metadata"
        ],
        "summary": "Extract metadata",
        "description": "Reads standard metadata values from a PDF.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "description": "Use the raw base64 string from Get file content -> $content.",
            "schema": {
              "type": "object",
              "properties": {
                "fileName": {
                  "type": "string",
                  "title": "File Name",
                  "x-ms-summary": "File Name",
                  "description": "The name of the input or output file, including the PDF extension.",
                  "x-ms-visibility": "important"
                },
                "fileContentBase64": {
                  "type": "string",
                  "format": "byte",
                  "title": "PDF Base64 Content",
                  "x-ms-summary": "PDF Base64 Content",
                  "description": "The Base64-encoded content of the input PDF file.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "fileName",
                "fileContentBase64"
              ],
              "additionalProperties": false,
              "title": "Request",
              "x-ms-summary": "Request",
              "description": "The values required to perform the operation."
            },
            "x-ms-summary": "Extract metadata Input",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "originalFileName": {
                  "type": "string",
                  "title": "Original File Name",
                  "x-ms-summary": "Original File Name",
                  "description": "The original name of the input PDF file.",
                  "x-ms-visibility": "important"
                },
                "pageCount": {
                  "type": "number",
                  "title": "Page Count",
                  "x-ms-summary": "Page Count",
                  "description": "The number of pages in the PDF.",
                  "x-ms-visibility": "important"
                },
                "metadata": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "type": "string",
                      "title": "Title",
                      "x-ms-summary": "Title",
                      "description": "The document title stored in the PDF metadata.",
                      "x-ms-visibility": "important"
                    },
                    "author": {
                      "type": "string",
                      "title": "Author",
                      "x-ms-summary": "Author",
                      "description": "The document author stored in the PDF metadata.",
                      "x-ms-visibility": "important"
                    },
                    "subject": {
                      "type": "string",
                      "title": "Subject",
                      "x-ms-summary": "Subject",
                      "description": "The document subject stored in the PDF metadata.",
                      "x-ms-visibility": "important"
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Keywords",
                      "x-ms-summary": "Keywords",
                      "description": "The keywords stored in the PDF metadata.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "title",
                    "author",
                    "subject",
                    "keywords"
                  ],
                  "additionalProperties": false,
                  "title": "Metadata",
                  "x-ms-summary": "Metadata",
                  "description": "The PDF metadata values to read or update.",
                  "x-ms-visibility": "important"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Warnings",
                  "x-ms-summary": "Warnings",
                  "description": "Nonfatal warnings returned by the service.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "originalFileName",
                "pageCount",
                "metadata",
                "warnings"
              ],
              "additionalProperties": false,
              "title": "Response",
              "x-ms-summary": "Response",
              "description": "The values returned after the operation completes successfully."
            },
            "examples": {
              "application/json": {
                "success": true,
                "originalFileName": "sample.pdf",
                "pageCount": 4,
                "metadata": {
                  "title": "Demo Title",
                  "author": "MiniPDF",
                  "subject": "Sample",
                  "keywords": [
                    "demo",
                    "pdf"
                  ]
                },
                "warnings": []
              }
            }
          },
          "400": {
            "description": "Validation error",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "title": "Details",
                      "x-ms-summary": "Details",
                      "description": "Additional details about the service error.",
                      "x-ms-visibility": "important"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "details"
                  ],
                  "additionalProperties": false,
                  "title": "Error",
                  "x-ms-summary": "Error",
                  "description": "Information about the service error.",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "success",
                "error"
              ],
              "additionalProperties": false,
              "title": "Error",
              "x-ms-summary": "Error",
              "description": "Information about the service error."
            }
          },
          "429": {
            "description": "Rate limited",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "title": "Success",
                  "x-ms-summary": "Success",
                  "description": "Indicates whether the operation completed successfully.",
                  "x-ms-visibility": "important"
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "title": "Code",
                      "x-ms-summary": "Code",
                      "description": "The service error code.",
                      "x-ms-visibility": "important"
                    },
                    "message": {
                      "type": "string",
                      "title": "Message",
                      "x-ms-summary": "Message",
                      "description": "A human-readable description of the service error.",
                      "x-ms-visibility": "important"
                    },
                    "details": {
[...]
