{
  "swagger": "2.0",
  "info": {
    "title": "wttr.in",
    "description": "wttr.in is a console-oriented weather forecast service that supports various information representation methods like terminal-oriented ANSI-sequences for console HTTP clients.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "wttr.in",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "text/plain"
  ],
  "paths": {
    "/{location}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Get weather",
        "description": "Retrieve the weather information for the desired parameters.",
        "operationId": "WeatherGet",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Location",
            "description": "The location to retrieve the weather for. This can be a city name, point of interest, airport 3-letter code, domain name (with the @), area code, or GPS coordinates."
          },
          {
            "name": "view",
            "in": "query",
            "x-ms-summary": "View",
            "description": "The view format to return.",
            "required": false,
            "type": "string",
            "enum": [
              "1",
              "2",
              "A",
              "d",
              "n",
              "q",
              "Q",
              "T"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Current weather and today's forecast",
                "value": "1"
              },
              {
                "displayName": "Current weather and today and tomorrow's forecast",
                "value": "2"
              },
              {
                "displayName": "Ignore User-Agent and force ANSI output format",
                "value": "A"
              },
              {
                "displayName": "Restrict output to standard console font glyphs",
                "value": "d"
              },
              {
                "displayName": "Narrow version (only day and night)",
                "value": "n"
              },
              {
                "displayName": "Quiet version (no \"Weather report\" text)",
                "value": "q"
              },
              {
                "displayName": "Superquiet version (no \"Weather report\", no city name)",
                "value": "Q"
              },
              {
                "displayName": "Switch terminal sequences off (no colors)",
                "value": "T"
              }
            ]
          },
          {
            "name": "lang",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language format for any text.",
            "required": false,
            "type": "string",
            "default": "en",
            "enum": [
              "en",
              "am",
              "ar",
              "af",
              "be",
              "bn",
              "ca",
              "da",
              "de",
              "el",
              "et",
              "fr",
              "fa",
              "gl",
              "hi",
              "hu",
              "ia",
              "id",
              "it",
              "lt",
              "mg",
              "nb",
              "nl",
              "oc",
              "pl",
              "pt-br",
              "ro",
              "ru",
              "ta",
              "tr",
              "th",
              "uk",
              "vi",
              "zh-cn",
              "zh-tw"
            ]
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://github.com/chubin/wttr.in"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://github.com/chubin/wttr.in"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Lifestyle and Entertainment"
    }
  ]
}