{
  "swagger": "2.0",
  "info": {
    "title": "ReliefWeb",
    "description": "ReliefWeb is a humanitarian information service provided by the United Nations Office for the Coordination of Humanitarian Affairs (OCHA). Our editors select, classify, curate and deliver the content that is most relevant to global humanitarian workers and decision-makers on a 24/7 basis, enabling them to make informed decisions and to plan effective response.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.reliefweb.int",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Reports",
      "description": "Gateway to updates and analysis from more than 4,000 global information sources."
    },
    {
      "name": "Jobs",
      "description": "Humanitarian job listings."
    },
    {
      "name": "Training",
      "description": "Humanitarian training opportunities and courses."
    },
    {
      "name": "Countries",
      "description": "Countries covered by ReliefWeb."
    },
    {
      "name": "Disasters",
      "description": "Disasters covered by ReliefWeb."
    },
    {
      "name": "Sources",
      "description": "Organizations providing content to ReliefWeb."
    }
  ],
  "paths": {
    "/reports": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "List or search updates, headlines or maps",
        "description": "Retrieve a list of reports. Reports are updates and analysis curated from more than 4,000 sources and tagged by our team of editors working around the clock.",
        "operationId": "GetReports",
        "parameters": [
          {
            "$ref": "#/parameters/query-value"
          },
          {
            "$ref": "#/parameters/query-operator"
          },
          {
            "$ref": "#/parameters/query-fields"
          },
          {
            "$ref": "#/parameters/filter-field"
          },
          {
            "$ref": "#/parameters/filter-value"
          },
          {
            "$ref": "#/parameters/filter-operator"
          },
          {
            "$ref": "#/parameters/filter-negate"
          },
          {
            "$ref": "#/parameters/filter-conditions"
          },
          {
            "$ref": "#/parameters/facets-field"
          },
          {
            "$ref": "#/parameters/facets-name"
          },
          {
            "$ref": "#/parameters/facets-limit"
          },
          {
            "$ref": "#/parameters/facets-sort"
          },
          {
            "$ref": "#/parameters/facets-filter"
          },
          {
            "$ref": "#/parameters/facets-interval"
          },
          {
            "$ref": "#/parameters/fields-include"
          },
          {
            "$ref": "#/parameters/fields-exclude"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/profile"
          },
          {
            "$ref": "#/parameters/preset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "href": {
                  "type": "string",
                  "description": "The HREF.",
                  "title": "HREF"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Next"
                    },
                    "prev": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Prev"
                    }
                  },
                  "title": "Links"
                },
                "took": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The took.",
                  "title": "Took"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "score": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          }
                        },
                        "title": "Fields"
                      },
                      "href": {
                        "type": "string",
                        "description": "The HREF.",
                        "title": "HREF"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/reports/{reportId}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get a report",
        "description": "Retrieve an individual report.",
        "operationId": "GetReportById",
        "parameters": [
          {
            "description": "The identifier of the report.",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "name": "reportId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/profile"
          },
          {
            "$ref": "#/parameters/fields-include"
          },
          {
            "$ref": "#/parameters/fields-exclude"
          }
        ],
        "responses": {
          "200": {
            "description": "Report fields",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "href": {
                  "type": "string",
                  "description": "The HREF.",
                  "title": "HREF"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "collection": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Collection"
                    }
                  },
                  "title": "Links"
                },
                "took": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The took.",
                  "title": "Took"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "object",
                            "properties": {
                              "changed": {
                                "type": "string",
                                "description": "The changed.",
                                "title": "Changed"
                              },
                              "created": {
                                "type": "string",
                                "description": "The created.",
                                "title": "Created"
                              },
                              "original": {
                                "type": "string",
                                "description": "The original.",
                                "title": "Original"
                              }
                            },
                            "title": "Date"
                          },
                          "country": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "The HREF.",
                                  "title": "HREF"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "location": {
                                  "type": "object",
                                  "properties": {
                                    "lon": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "The longitude.",
                                      "title": "Longitude"
                                    },
                                    "lat": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "The latitude.",
                                      "title": "Latitude"
                                    }
                                  },
                                  "title": "Location"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "shortname": {
                                  "type": "string",
                                  "description": "The short name.",
                                  "title": "Short Name"
                                },
                                "iso3": {
                                  "type": "string",
                                  "description": "The country code.",
                                  "title": "ISO3"
                                },
                                "primary": {
                                  "type": "boolean",
                                  "description": "Whether primary.",
                                  "title": "Primary"
                                }
                              }
                            },
                            "title": "Country"
                          },
                          "origin": {
                            "type": "string",
                            "description": "The origin.",
                            "title": "Origin"
                          },
                          "primary_country": {
                            "type": "object",
                            "properties": {
                              "href": {
                                "type": "string",
                                "description": "The HREF.",
                                "title": "HREF"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "location": {
                                "type": "object",
                                "properties": {
                                  "lon": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The longitude.",
                                    "title": "Longitude"
                                  },
                                  "lat": {
                                    "type": "number",
                                    "format": "float",
                                    "description": "The latitude.",
                                    "title": "Latitude"
                                  }
                                },
                                "title": "Location"
                              },
                              "id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The identifier.",
                                "title": "ID"
                              },
                              "shortname": {
                                "type": "string",
                                "description": "The short name.",
                                "title": "Short Name"
                              },
                              "iso3": {
                                "type": "string",
                                "description": "The country code.",
                                "title": "ISO3"
                              }
                            },
                            "title": "primary_country"
                          },
                          "format": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Format"
                          },
                          "language": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "The code.",
                                  "title": "Code"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Language"
                          },
                          "source": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "The HREF.",
                                  "title": "HREF"
                                },
                                "longname": {
                                  "type": "string",
                                  "description": "The long name.",
                                  "title": "Long Name"
                                },
                                "spanish_name": {
                                  "type": "string",
                                  "description": "The Spanish name.",
                                  "title": "Spanish Name"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "type": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    },
                                    "id": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  },
                                  "title": "Type"
                                },
                                "shortname": {
                                  "type": "string",
                                  "description": "The short name.",
                                  "title": "Short Name"
                                },
                                "homepage": {
                                  "type": "string",
                                  "description": "The homepage.",
                                  "title": "Homepage"
                                }
                              }
                            },
                            "title": "Source"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "body": {
                            "type": "string",
                            "description": "The body.",
                            "title": "Body"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "file": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "preview": {
                                  "type": "object",
                                  "properties": {
                                    "url-thumb": {
                                      "type": "string",
                                      "description": "The URL thumbnail.",
                                      "title": "URL Thumbnail"
                                    },
                                    "url-small": {
                                      "type": "string",
                                      "description": "The URL small.",
                                      "title": "URL Small"
                                    },
                                    "url-large": {
                                      "type": "string",
                                      "description": "The URL large.",
                                      "title": "URL Large"
                                    },
                                    "version": {
                                      "type": "string",
                                      "description": "The version.",
                                      "title": "Version"
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "The URL address.",
                                      "title": "URL"
                                    }
                                  },
                                  "title": "Preview"
                                },
                                "filename": {
                                  "type": "string",
                                  "description": "The filename.",
                                  "title": "Filename"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The description.",
                                  "title": "Description"
                                },
                                "mimetype": {
                                  "type": "string",
                                  "description": "The MIME type.",
                                  "title": "MIME Type"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "filesize": {
                                  "type": "string",
                                  "description": "The file size.",
                                  "title": "File Size"
                                },
                                "url": {
                                  "type": "string",
                                  "description": "The URL address.",
                                  "title": "URL"
                                }
                              }
                            },
                            "title": "File"
                          },
                          "url_alias": {
                            "type": "string",
                            "description": "The URL address alias.",
                            "title": "URL Alias"
                          },
                          "theme": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Theme"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "body-html": {
                            "type": "string",
                            "description": "The body HTML.",
                            "title": "Body HTML"
                          }
                        },
                        "title": "Fields"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "List or search humanitarian job offers",
        "description": "Retrieve a list of job offers.",
        "operationId": "GetJobs",
        "parameters": [
          {
            "$ref": "#/parameters/query-value"
          },
          {
            "$ref": "#/parameters/query-operator"
          },
          {
            "$ref": "#/parameters/query-fields"
          },
          {
            "$ref": "#/parameters/filter-field"
          },
          {
            "$ref": "#/parameters/filter-value"
          },
          {
            "$ref": "#/parameters/filter-operator"
          },
          {
            "$ref": "#/parameters/filter-negate"
          },
          {
            "$ref": "#/parameters/filter-conditions"
          },
          {
            "$ref": "#/parameters/facets-field"
          },
          {
            "$ref": "#/parameters/facets-name"
          },
          {
            "$ref": "#/parameters/facets-limit"
          },
          {
            "$ref": "#/parameters/facets-sort"
          },
          {
            "$ref": "#/parameters/facets-filter"
          },
          {
            "$ref": "#/parameters/facets-interval"
          },
          {
            "$ref": "#/parameters/fields-include"
          },
          {
            "$ref": "#/parameters/fields-exclude"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/profile"
          },
          {
            "$ref": "#/parameters/preset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "href": {
                  "type": "string",
                  "description": "The HREF.",
                  "title": "HREF"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Next"
                    },
                    "prev": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Prev"
                    }
                  },
                  "title": "Links"
                },
                "took": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The took.",
                  "title": "Took"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "score": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          }
                        },
                        "title": "Fields"
                      },
                      "href": {
                        "type": "string",
                        "description": "The HREF.",
                        "title": "HREF"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "summary": "Get a job",
        "description": "Retrieve an individual job.",
        "operationId": "GetJobById",
        "parameters": [
          {
            "description": "The identifier of the job.",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "name": "jobId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/profile"
          },
          {
            "$ref": "#/parameters/fields-include"
          },
          {
            "$ref": "#/parameters/fields-exclude"
          }
        ],
        "responses": {
          "200": {
            "description": "Job fields",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "href": {
                  "type": "string",
                  "description": "The HREF.",
                  "title": "HREF"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "collection": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Collection"
                    }
                  },
                  "title": "Links"
                },
                "took": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The took.",
                  "title": "Took"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "object",
                            "properties": {
                              "changed": {
                                "type": "string",
                                "description": "The changed.",
                                "title": "Changed"
                              },
                              "created": {
                                "type": "string",
                                "description": "The created.",
                                "title": "Created"
                              },
                              "closing": {
                                "type": "string",
                                "description": "The closing.",
                                "title": "Closing"
                              }
                            },
                            "title": "Date"
                          },
                          "country": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "The HREF.",
                                  "title": "HREF"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "location": {
                                  "type": "object",
                                  "properties": {
                                    "lon": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "The longitude.",
                                      "title": "Longitude"
                                    },
                                    "lat": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "The latitude.",
                                      "title": "Latitude"
                                    }
                                  },
                                  "title": "Location"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "shortname": {
                                  "type": "string",
                                  "description": "The short name.",
                                  "title": "Short Name"
                                },
                                "iso3": {
                                  "type": "string",
                                  "description": "The country code.",
                                  "title": "ISO3"
                                }
                              }
                            },
                            "title": "Country"
                          },
                          "career_categories": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "career_categories"
                          },
                          "source": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "The HREF.",
                                  "title": "HREF"
                                },
                                "longname": {
                                  "type": "string",
                                  "description": "The long name.",
                                  "title": "Long Name"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "type": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    },
                                    "id": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  },
                                  "title": "Type"
                                },
                                "shortname": {
                                  "type": "string",
                                  "description": "The short name.",
                                  "title": "Short Name"
                                },
                                "homepage": {
                                  "type": "string",
                                  "description": "The homepage.",
                                  "title": "Homepage"
                                }
                              }
                            },
                            "title": "Source"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "body": {
                            "type": "string",
                            "description": "The body.",
                            "title": "Body"
                          },
                          "type": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Type"
                          },
                          "experience": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Experience"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "url_alias": {
                            "type": "string",
                            "description": "The URL address alias.",
                            "title": "URL Alias"
                          },
                          "how_to_apply": {
                            "type": "string",
                            "description": "The how to apply.",
                            "title": "How To Apply"
                          },
                          "theme": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Theme"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "body-html": {
                            "type": "string",
                            "description": "The body HTML.",
                            "title": "Body HTML"
                          },
                          "how_to_apply-html": {
                            "type": "string",
                            "description": "The how to apply HTML.",
                            "title": "How To Apply HTML"
                          }
                        },
                        "title": "Fields"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/training": {
      "get": {
        "tags": [
          "Training"
        ],
        "summary": "List or search trainings",
        "description": "Retrieve a list of humanitarian learning opportunities. Training opportunities and courses for useful and necessary humanitarian skills.",
        "operationId": "GetTraining",
        "parameters": [
          {
            "$ref": "#/parameters/query-value"
          },
          {
            "$ref": "#/parameters/query-operator"
          },
          {
            "$ref": "#/parameters/query-fields"
          },
          {
            "$ref": "#/parameters/filter-field"
          },
          {
            "$ref": "#/parameters/filter-value"
          },
          {
            "$ref": "#/parameters/filter-operator"
          },
          {
            "$ref": "#/parameters/filter-negate"
          },
          {
            "$ref": "#/parameters/filter-conditions"
          },
          {
            "$ref": "#/parameters/facets-field"
          },
          {
            "$ref": "#/parameters/facets-name"
          },
          {
            "$ref": "#/parameters/facets-limit"
          },
          {
            "$ref": "#/parameters/facets-sort"
          },
          {
            "$ref": "#/parameters/facets-filter"
          },
          {
            "$ref": "#/parameters/facets-interval"
          },
          {
            "$ref": "#/parameters/fields-include"
          },
          {
            "$ref": "#/parameters/fields-exclude"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/profile"
          },
          {
            "$ref": "#/parameters/preset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "href": {
                  "type": "string",
                  "description": "The HREF.",
                  "title": "HREF"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Next"
                    },
                    "prev": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Prev"
                    }
                  },
                  "title": "Links"
                },
                "took": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The took.",
                  "title": "Took"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "score": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          }
                        },
                        "title": "Fields"
                      },
                      "href": {
                        "type": "string",
                        "description": "The HREF.",
                        "title": "HREF"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/training/{trainingId}": {
      "get": {
        "tags": [
          "Training"
        ],
        "summary": "Get a training",
        "description": "Retrieve an individual training opportunity.",
        "operationId": "GetTrainingById",
        "parameters": [
          {
            "description": "The identifier of the training opportunity.",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "name": "trainingId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/profile"
          },
          {
            "$ref": "#/parameters/fields-include"
          },
          {
            "$ref": "#/parameters/fields-exclude"
          }
        ],
        "responses": {
          "200": {
            "description": "Training fields",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "href": {
                  "type": "string",
                  "description": "The HREF.",
                  "title": "HREF"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "collection": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Collection"
                    }
                  },
                  "title": "Links"
                },
                "took": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The took.",
                  "title": "Took"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "object",
                            "properties": {
                              "changed": {
                                "type": "string",
                                "description": "The changed.",
                                "title": "Changed"
                              },
                              "end": {
                                "type": "string",
                                "description": "The end.",
                                "title": "End"
                              },
                              "start": {
                                "type": "string",
                                "description": "The start.",
                                "title": "Start"
                              },
                              "created": {
                                "type": "string",
                                "description": "The created.",
                                "title": "Created"
                              }
                            },
                            "title": "Date"
                          },
                          "cost": {
                            "type": "string",
                            "description": "The cost.",
                            "title": "Cost"
                          },
                          "how_to_register": {
                            "type": "string",
                            "description": "The how to register.",
                            "title": "How To Register"
                          },
                          "how_to_register-html": {
                            "type": "string",
                            "description": "The how to register HTML.",
                            "title": "How To Register HTML"
                          },
                          "training_language": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "The code.",
                                  "title": "Code"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "training_language"
                          },
                          "format": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Format"
                          },
                          "language": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "The code.",
                                  "title": "Code"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Language"
                          },
                          "source": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "The HREF.",
                                  "title": "HREF"
                                },
                                "longname": {
                                  "type": "string",
                                  "description": "The long name.",
                                  "title": "Long Name"
                                },
                                "spanish_name": {
                                  "type": "string",
                                  "description": "The Spanish name.",
                                  "title": "Spanish Name"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "type": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    },
                                    "id": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    }
                                  },
                                  "title": "Type"
                                },
                                "shortname": {
                                  "type": "string",
                                  "description": "The short name.",
                                  "title": "Short Name"
                                },
                                "homepage": {
                                  "type": "string",
                                  "description": "The homepage.",
                                  "title": "Homepage"
                                }
                              }
                            },
                            "title": "Source"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          },
                          "body": {
                            "type": "string",
                            "description": "The body.",
                            "title": "Body"
                          },
                          "type": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              }
                            },
                            "title": "Type"
                          },
                          "event_url": {
                            "type": "string",
                            "description": "The event URL address.",
                            "title": "Event URL"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "fee_information": {
                            "type": "string",
                            "description": "The fee information.",
                            "title": "Fee Information"
                          },
                          "url_alias": {
                            "type": "string",
                            "description": "The URL address alias.",
                            "title": "URL Alias"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "body-html": {
                            "type": "string",
                            "description": "The body HTML.",
                            "title": "Body HTML"
                          }
                        },
                        "title": "Fields"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "List or search countries",
        "description": "Retrieves a list of countries.",
        "operationId": "GetCountries",
        "parameters": [
          {
            "$ref": "#/parameters/query-value"
          },
          {
            "$ref": "#/parameters/query-operator"
          },
          {
            "$ref": "#/parameters/query-fields"
          },
          {
            "$ref": "#/parameters/filter-field"
          },
          {
            "$ref": "#/parameters/filter-value"
          },
          {
            "$ref": "#/parameters/filter-operator"
          },
          {
            "$ref": "#/parameters/filter-negate"
          },
          {
            "$ref": "#/parameters/filter-conditions"
          },
          {
            "$ref": "#/parameters/facets-field"
          },
          {
            "$ref": "#/parameters/facets-name"
          },
          {
            "$ref": "#/parameters/facets-limit"
          },
          {
            "$ref": "#/parameters/facets-sort"
          },
          {
            "$ref": "#/parameters/facets-filter"
          },
          {
            "$ref": "#/parameters/facets-interval"
          },
          {
            "$ref": "#/parameters/fields-include"
          },
          {
            "$ref": "#/parameters/fields-exclude"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/profile"
          },
          {
            "$ref": "#/parameters/preset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "href": {
                  "type": "string",
                  "description": "The HREF.",
                  "title": "HREF"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Next"
                    },
                    "prev": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Prev"
                    }
                  },
                  "title": "Links"
                },
                "took": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The took.",
                  "title": "Took"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "score": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          }
                        },
                        "title": "Fields"
                      },
                      "href": {
                        "type": "string",
                        "description": "The HREF.",
                        "title": "HREF"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/countries/{countryId}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get a country",
        "description": "Retrieve an individual country.",
        "operationId": "GetCountryById",
        "parameters": [
          {
            "description": "The identifier of the country",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "name": "countryId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/profile"
          },
          {
            "$ref": "#/parameters/fields-include"
          },
          {
            "$ref": "#/parameters/fields-exclude"
          }
        ],
        "responses": {
          "200": {
            "description": "Country fields",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "href": {
                  "type": "string",
                  "description": "The HREF.",
                  "title": "HREF"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "collection": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Collection"
                    }
                  },
                  "title": "Links"
                },
                "took": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The took.",
                  "title": "Took"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "object",
                            "properties": {
                              "changed": {
                                "type": "string",
                                "description": "The changed.",
                                "title": "Changed"
                              },
                              "created": {
                                "type": "string",
                                "description": "The created.",
                                "title": "Created"
                              }
                            },
                            "title": "Date"
                          },
                          "url_alias": {
                            "type": "string",
                            "description": "The URL address alias.",
                            "title": "URL Alias"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "lon": {
                                "type": "number",
                                "format": "float",
                                "description": "The longitude.",
                                "title": "Longitude"
                              },
                              "lat": {
                                "type": "number",
                                "format": "float",
                                "description": "The latitude.",
                                "title": "Latitude"
                              }
                            },
                            "title": "Location"
                          },
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "shortname": {
                            "type": "string",
                            "description": "The short name.",
                            "title": "Short Name"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL address.",
                            "title": "URL"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "iso3": {
                            "type": "string",
                            "description": "The country code.",
                            "title": "ISO3"
                          }
                        },
                        "title": "Fields"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/disasters": {
      "get": {
        "tags": [
          "Disasters"
        ],
        "summary": "List or search disasters",
        "description": "Retrieve a list of disasters.",
        "operationId": "GetDisasters",
        "parameters": [
          {
            "$ref": "#/parameters/query-value"
          },
          {
            "$ref": "#/parameters/query-operator"
          },
          {
            "$ref": "#/parameters/query-fields"
          },
          {
            "$ref": "#/parameters/filter-field"
          },
          {
            "$ref": "#/parameters/filter-value"
          },
          {
            "$ref": "#/parameters/filter-operator"
          },
          {
            "$ref": "#/parameters/filter-negate"
          },
          {
            "$ref": "#/parameters/filter-conditions"
          },
          {
            "$ref": "#/parameters/facets-field"
          },
          {
            "$ref": "#/parameters/facets-name"
          },
          {
            "$ref": "#/parameters/facets-limit"
          },
          {
            "$ref": "#/parameters/facets-sort"
          },
          {
            "$ref": "#/parameters/facets-filter"
          },
          {
            "$ref": "#/parameters/facets-interval"
          },
          {
            "$ref": "#/parameters/fields-include"
          },
          {
            "$ref": "#/parameters/fields-exclude"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/sort"
          },
          {
            "$ref": "#/parameters/profile"
          },
          {
            "$ref": "#/parameters/preset"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "href": {
                  "type": "string",
                  "description": "The HREF.",
                  "title": "HREF"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "next": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Next"
                    },
                    "prev": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Prev"
                    }
                  },
                  "title": "Links"
                },
                "took": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The took.",
                  "title": "Took"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "score": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          }
                        },
                        "title": "Fields"
                      },
                      "href": {
                        "type": "string",
                        "description": "The HREF.",
                        "title": "HREF"
                      }
                    }
                  },
                  "title": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected value",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/disasters/{disasterId}": {
      "get": {
        "tags": [
          "Disasters"
        ],
        "summary": "Get a disaster",
        "description": "Retrieve an individual disaster.",
        "operationId": "GetDisasterById",
        "parameters": [
          {
            "description": "The identifier of the disaster",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "name": "disasterId",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/profile"
          },
          {
            "$ref": "#/parameters/fields-include"
          },
          {
            "$ref": "#/parameters/fields-exclude"
          }
        ],
        "responses": {
          "200": {
            "description": "Disaster fields",
            "schema": {
              "type": "object",
              "properties": {
                "time": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The time.",
                  "title": "Time"
                },
                "href": {
                  "type": "string",
                  "description": "The HREF.",
                  "title": "HREF"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Self"
                    },
                    "collection": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "The HREF.",
                          "title": "HREF"
                        }
                      },
                      "title": "Collection"
                    }
                  },
                  "title": "Links"
                },
                "took": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The took.",
                  "title": "Took"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count.",
                  "title": "Total Count"
                },
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The count.",
                  "title": "Count"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "object",
                            "properties": {
                              "changed": {
                                "type": "string",
                                "description": "The changed.",
                                "title": "Changed"
                              },
                              "event": {
                                "type": "string",
                                "description": "The event.",
                                "title": "Event"
                              },
                              "created": {
                                "type": "string",
                                "description": "The created.",
                                "title": "Created"
                              }
                            },
                            "title": "Date"
                          },
                          "primary_type": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "The code.",
                                "title": "Code"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The identifier.",
                                "title": "ID"
                              }
                            },
                            "title": "primary_type"
                          },
                          "country": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "href": {
                                  "type": "string",
                                  "description": "The HREF.",
                                  "title": "HREF"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "location": {
                                  "type": "object",
                                  "properties": {
                                    "lon": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "The longitude.",
                                      "title": "Longitude"
                                    },
                                    "lat": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "The latitude.",
                                      "title": "Latitude"
                                    }
                                  },
                                  "title": "Location"
                                },
                                "id": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "shortname": {
                                  "type": "string",
                                  "description": "The short name.",
                                  "title": "Short Name"
                                },
                                "iso3": {
                                  "type": "string",
                                  "description": "The country code.",
                                  "title": "ISO3"
                                },
                                "primary": {
                                  "type": "boolean",
                                  "description": "Whether primary.",
                                  "title": "Primary"
                                }
                              }
                            },
                            "title": "Country"
                          },
[...]
