{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Hashify",
    "description": "Hashify is a basic web application and public-accessible hashing API to generate hash digests of plain-text input or small file input to various output encodings such as hex, base32, and base64.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hashify.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/hash/md4/hex": {
      "get": {
        "description": "Request a MD4 digest.",
        "summary": "Get MD4",
        "tags": [
          "MD4"
        ],
        "operationId": "MD4-GET",
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "The input value to be hashed.",
            "x-ms-summary": "Value"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a MD4 digest.",
        "summary": "Post MD4",
        "tags": [
          "MD4"
        ],
        "operationId": "MD4-POST",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "The input value to be hashed.",
            "x-ms-summary": "Value"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The request body.",
            "schema": {
              "example": "helloWorld",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/md4/base64": {
      "post": {
        "description": "Create a MD4 digest from an array.",
        "summary": "Post an array for MD4",
        "tags": [
          "MD4"
        ],
        "operationId": "MD4-POST-File",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "The input value to be hashed.",
            "x-ms-summary": "Value"
          },
          {
            "name": "File",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "A base64-encoded array.",
            "x-ms-summary": "File"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/md5/hex": {
      "get": {
        "description": "Request a MD5 digest.",
        "summary": "Get MD5",
        "tags": [
          "MD5"
        ],
        "operationId": "MD5-GET",
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "The input value to be hashed.",
            "x-ms-summary": "Value"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a MD5 digest.",
        "summary": "Post MD5",
        "tags": [
          "MD5"
        ],
        "operationId": "MD5-POST",
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "The input value to be hashed.",
            "x-ms-summary": "Value"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The request body.",
            "schema": {
              "example": "helloWorld",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/md5/base64": {
      "post": {
        "description": "Create a MD5 digest from an array.",
        "summary": "Post an array for MD5",
        "tags": [
          "MD5"
        ],
        "operationId": "MD5-POST-File",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The input value to be hashed.",
            "x-ms-summary": "Value"
          },
          {
            "name": "File",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "A base64-encoded array.",
            "x-ms-summary": "File"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/highway/base64url": {
      "post": {
        "description": "Create a Highway256 digest.",
        "summary": "Post Highway256",
        "tags": [
          "HighwayHash"
        ],
        "operationId": "Highway256-POST",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "text/plain; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "x-ms-summary": "Key",
            "required": true,
            "type": "string",
            "description": "The key value."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "required": true,
            "type": "string",
            "description": "The header content type"
          },
          {
            "name": "X-Hashify-Key",
            "in": "header",
            "x-ms-summary": "Hashify Key",
            "required": true,
            "type": "string",
            "description": "The input value"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The request body.",
            "schema": {
              "example": "helloWorld",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/highway/base32": {
      "post": {
        "description": "Create a Highway256 digest from a random key.",
        "summary": "Post Highway256 from random",
        "tags": [
          "HighwayHash"
        ],
        "operationId": "Highway256Random-POST",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "text/plain; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "x-ms-summary": "Key",
            "required": true,
            "type": "string",
            "description": "Key must be either \"random\" or a 32-byte value in Hex format."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "required": true,
            "type": "string",
            "description": "The header content type"
          },
          {
            "name": "X-Hashify-Key",
            "in": "header",
            "x-ms-summary": "Hashify Key",
            "required": true,
            "type": "string",
            "description": "The input value"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The request body.",
            "schema": {
              "example": "{\n  \"type\": \"string\",\n  \"default\": \"hello\"\n}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/highway-64/base32": {
      "post": {
        "description": "Create a Highway64 digest from a random key.",
        "summary": "Post Highway64 from random",
        "tags": [
          "HighwayHash"
        ],
        "operationId": "Highway64Random-POST",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "text/plain; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "x-ms-summary": "Key",
            "required": true,
            "type": "string",
            "description": "The key value."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "required": true,
            "type": "string",
            "description": "The header content type"
          },
          {
            "name": "X-Hashify-Key",
            "in": "header",
            "x-ms-summary": "Hashify Key",
            "required": true,
            "type": "string",
            "description": "The input value"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The request body.",
            "schema": {
              "example": "{\n  \"type\": \"string\",\n  \"default\": \"hello\"\n}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/highway-128/hex": {
      "get": {
        "description": "Request a Highway128 digest.",
        "summary": "Get Highway128",
        "tags": [
          "HighwayHash"
        ],
        "operationId": "Highway128-GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "The input value to be hashed.",
            "x-ms-summary": "Value"
          },
          {
            "name": "key",
            "in": "query",
            "x-ms-summary": "Key",
            "required": true,
            "type": "string",
            "description": "The key value."
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a Highway128 digest from a random key.",
        "summary": "Post Highway128 from random",
        "tags": [
          "HighwayHash"
        ],
        "operationId": "Highway128Random-POST",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "text/plain; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "x-ms-summary": "Key",
            "required": true,
            "type": "string",
            "description": "The key value."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "required": true,
            "type": "string",
            "description": "The header content type"
          },
          {
            "name": "X-Hashify-Key",
            "in": "header",
            "x-ms-summary": "Hashify Key",
            "required": true,
            "type": "string",
            "description": "Hash Key value must be supplied for keyed hashes or use random"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The request body.",
            "schema": {
              "example": "{\n  \"type\": \"string\",\n  \"default\": \"hello\"\n}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/highway128": {
      "get": {
        "description": "Request a Highway128 digest from a random key.",
        "summary": "Get Highway128 from random",
        "tags": [
          "HighwayHash"
        ],
        "operationId": "Highway128Random-GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "The input value to be hashed.",
            "x-ms-summary": "Value"
          },
          {
            "name": "key",
            "in": "query",
            "x-ms-summary": "Key",
            "required": true,
            "type": "string",
            "description": "The key value."
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/highway64": {
      "get": {
        "description": "Request a Highway64 digest from a random key.",
        "summary": "Get Highway64 from random",
        "tags": [
          "HighwayHash"
        ],
        "operationId": "Highway64Random-GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "The input value to be hashed.",
            "x-ms-summary": "Value"
          },
          {
            "name": "key",
            "in": "query",
            "x-ms-summary": "Key",
            "required": true,
            "type": "string",
            "description": "The key value."
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a Highway64 digest.",
        "summary": "Post Highway64",
        "tags": [
          "HighwayHash"
        ],
        "operationId": "Highway64-POST",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "text/plain; charset=utf-8"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "x-ms-summary": "Key",
            "required": true,
            "type": "string",
            "description": "The key value."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "x-ms-summary": "Content Type",
            "required": true,
            "type": "string",
            "description": "The header content type"
          },
          {
            "name": "X-Hashify-Key",
            "in": "header",
            "x-ms-summary": "Hashify Key",
            "required": true,
            "type": "string",
            "description": "For POST request method, hash key must be supplied as Header value."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The request body.",
            "schema": {
              "example": "helloWorld",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/highway": {
      "get": {
        "description": "Request a Highway256 digest from a random key.",
        "summary": "Get Highway256 from random",
        "tags": [
          "HighwayHash"
        ],
        "operationId": "Highway256Random-GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "The input value to be hashed.",
            "x-ms-summary": "Value"
          },
          {
            "name": "key",
            "in": "query",
            "x-ms-summary": "Key",
            "required": true,
            "type": "string",
            "description": "The key value."
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/hash/sha1/{digestFormat}": {
      "get": {
        "description": "Request a SHA1 digest.",
        "summary": "Get SHA1",
        "tags": [
          "SHA1"
        ],
        "operationId": "SHA1GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "String to be returned as SHA1 hex hash"
          },
          {
            "name": "digestFormat",
            "in": "path",
            "x-ms-summary": "Digest Format",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The output format."
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a SHA1 digest from an array.",
        "summary": "Post SHA1 from an array",
        "tags": [
          "SHA1"
        ],
        "operationId": "SHA1-POST-Form",
        "produces": [
          "application/json; charset=UTF-8"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "X-Hashify-Process",
            "in": "header",
            "x-ms-summary": "Hashify Process",
            "required": true,
            "type": "string",
            "description": "Overrides default processing method."
          },
          {
            "name": "digestFormat",
            "in": "path",
            "x-ms-summary": "Digest Format",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The output format."
          },
          {
            "name": "File",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "A base64-encoded array.",
            "x-ms-summary": "File"
          }
        ],
        "responses": {
          "200": {
            "description": "SHA1 - POST (Form) - Successful Response",
            "schema": {
              "$ref": "#/definitions/m200"
            },
            "headers": {}
          }
        }
      }
    },
    "/hash/sha256/{digestFormat}": {
      "get": {
        "description": "Request a SHA256 digest.",
        "summary": "Get SHA256",
        "tags": [
          "SHA2"
        ],
        "operationId": "SHA256GET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "String to be returned as SHA1 hex hash"
          },
          {
            "name": "digestFormat",
            "in": "path",
            "x-ms-summary": "Digest Format",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The output format."
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a SHA256 digest from a body query parameter.",
        "summary": "Post SHA256 from body",
        "tags": [
          "SHA2"
        ],
        "operationId": "SHA256Body-POST",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "text/plain"
        ],
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "required": true,
            "type": "string",
            "description": "String to be returned as SHA256 hex hash"
          },
          {
            "name": "digestFormat",
            "in": "path",
            "x-ms-summary": "Digest Format",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The output format."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Get SHA256 from query parameter",
            "schema": {
              "example": "helloWorld",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "Digest": {
                  "type": "string",
                  "description": "The hash value as an output string.",
                  "title": "Digest"
                },
                "DigestEnc": {
                  "type": "string",
                  "description": "The digest encoding.",
                  "title": "Digest Encoding"
                },
                "Type": {
                  "type": "string",
                  "description": "The hash function used.",
                  "title": "Type"
                },
                "Key": {
                  "type": "string",
                  "description": "The input value.",
                  "title": "Key"
                }
              }
            }
          }
        }
      }
    },
    "/status": {
      "get": {
        "description": "Get current API status.",
        "summary": "Check API status",
        "operationId": "StatusCheck",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "200 response.",
            "schema": {
              "type": "object",
              "properties": {
                "hashesGenerated": {
                  "type": "integer",
                  "description": "The total number of hashes generated.",
                  "title": "Hashes Generated"
                },
                "hostname": {
                  "type": "string",
                  "description": "The API hostname.",
                  "title": "Hostname"
                },
                "keysGenerated": {
                  "type": "integer",
                  "description": "The total number of keys generated.",
                  "title": "Keys Generated"
                },
                "status": {
                  "type": "string",
                  "description": "The current status.",
                  "title": "Status"
                },
                "uptime": {
                  "type": "string",
                  "description": "The time the service has operational.",
                  "title": "Uptime"
                }
              }
            }
          }
        }
      }
    },
    "/methods": {
      "get": {
        "description": "Retrieve list of hash options contains names, endpoints, and if key needed.",
        "summary": "Get methods",
        "tags": [
          "Blake2s"
        ],
        "operationId": "Methods",
        "produces": [
          "application/json; charset=UTF-8"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Methods",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/m200"
              }
            },
            "examples": {
              "application/json; charset=UTF-8": [
                {
                  "Name": "Blake2b-256",
                  "Endpoint": "/hash/BLAKE2B-256",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "Blake2b-384",
                  "Endpoint": "/hash/BLAKE2B-384",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "Blake2b-512",
                  "Endpoint": "/hash/BLAKE2B-512",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "Blake2s-128",
                  "Endpoint": "/hash/BLAKE2s-128",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "Blake2s-256",
                  "Endpoint": "/hash/BLAKE2s-256",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "HighwayHash-256",
                  "Endpoint": "/hash/HIGHWAY",
                  "MinKeyLength": 32,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "HighwayHash-64",
                  "Endpoint": "/hash/HIGHWAY-64",
                  "MinKeyLength": 32,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "HighwayHash-128",
                  "Endpoint": "/hash/HIGHWAY-128",
                  "MinKeyLength": 32,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "MD4",
                  "Endpoint": "/hash/MD4",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "MD5",
                  "Endpoint": "/hash/MD5",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "SHA1",
                  "Endpoint": "/hash/SHA1",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "SHA256",
                  "Endpoint": "/hash/SHA256",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "SHA384",
                  "Endpoint": "/hash/SHA384",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "SHA512",
                  "Endpoint": "/hash/SHA512",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "SHA512-256",
                  "Endpoint": "/hash/SHA512-256",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "SHA3-256",
                  "Endpoint": "/hash/SHA3-256",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "SHA3-384",
                  "Endpoint": "/hash/SHA3-384",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                },
                {
                  "Name": "SHA3-512",
                  "Endpoint": "/hash/SHA3-512",
                  "MinKeyLength": 0,
                  "MaxKeyLength": 0
                }
              ]
            },
            "headers": {}
          }
        }
      }
    },
    "/keygen/{keyLength}": {
      "get": {
        "description": "Generate key of arbitrary length up to 256 bytes",
        "summary": "Get key",
        "tags": [
          "Blake2s"
        ],
        "operationId": "Keygen",
        "produces": [
          "application/json; charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "keyLength",
            "in": "path",
            "x-ms-summary": "Key Length",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The key length."
          }
        ],
        "responses": {
          "200": {
            "description": "Keygen",
            "schema": {
              "$ref": "#/definitions/m200"
            },
            "examples": {
              "application/json; charset=UTF-8": {
                "KeyHex": "6c7de554286cad9bd18fb09eab68423a9f1ab2b5928b60e82e3279c85e12ef8e",
                "Length": 32
              }
            },
            "headers": {}
          }
        }
      }
    }
  },
  "definitions": {
    "m200": {
      "title": "m200",
      "type": "object",
      "properties": {
        "Digest": {
          "example": "ccf220260c40c95c4e4d3793d27bcbfc7c9cd89d",
          "type": "string",
          "default": "ccf220260c40c95c4e4d3793d27bcbfc7c9cd89d"
        },
        "DigestEnc": {
          "example": "hex",
          "type": "string",
          "default": "hex"
        },
        "Type": {
          "example": "SHA1",
          "type": "string",
          "default": "SHA1"
        },
        "Key": {
          "type": "object"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "MD4",
      "description": "The MD4 Message-Digest Algorithm is a cryptographic hash function. The digest length is 128 bits. The security of MD4 has been severely compromised. The first full collision attack against MD4 was published in 1995 and several newer attacks have been published since then. As of 2007, an attack can generate collisions in less than 2 MD4 hash operations."
    },
    {
      "name": "MD5",
      "description": "The MD5 message-digest algorithm is a cryptographically broken but still widely used hash function producing a 128-bit hash value.  It can still be used as a checksum to verify data integrity, but only against unintentional corruption."
    },
    {
      "name": "HighwayHash",
      "description": "The HighwayHash is a faster version of SipHash, a cryptographically strong pseudo-random function."
    },
    {
      "name": "SHA1",
      "description": "The SHA-1 (Secure Hash Algorithm 1) is a cryptographic hash function which takes an input and produces a 160-bit (20-byte) hash value known as a message digest \u2013 typically rendered as a hexadecimal number, 40 digits long."
    },
    {
      "name": "SHA2",
      "description": "The SHA-2 (Secure Hash Algorithm 2) is a set of cryptographic hash functions. The SHA-2 family consists of six hash functions with digests (hash values) that are 224, 256, 384 or 512 bits: SHA-224, SHA-256, SHA-384, SHA-512, SHA-512/224, SHA-512/256. SHA-256 and SHA-512 are novel hash functions computed with eight 32-bit and 64-bit words, respectively. They use different shift amounts and additive constants, but their structures are otherwise virtually identical, differing only in the number of rounds."
    },
    {
      "name": "Blake2s",
      "description": "The BLAKE2s is a cryptographic hash function. It removes addition of constants to message words from BLAKE round function, changes two rotation constants, simplifies padding, adds parameter block that is XORed with initialization vectors, and reduces the number of rounds from 14 to 10."
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://hashify.net/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://hashify.net/about"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations"
    }
  ]
}