{
  "swagger": "2.0",
  "info": {
    "title": "TheMealDB",
    "description": "Its an open online database of food meal recipes. \nRecipe books are old school, there must be a better way!\n- High quality transparent PNG ingredients\n- Meal image uploads\n- Browse meals in sequence\n- Area and Categories",
    "version": "1.0"
  },
  "host": "themealdb.com",
  "basePath": "/api/json/v1/1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/search.php": {
      "get": {
        "responses": {
          "default": {
            "description": "The APIs get various meals, ingredients, countries. The meals have Ids",
	    "x-ms-visibility": "important",
            "schema": {}
          }
        },
        "description": "Search meal by name. You can also search by the first single letter.",
        "operationId": "SearchMeal",
        "summary": "Search Meal",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "required": false,
            "type": "string",
	    "description": "The APIs get various meals, ingredients, countries. The meals have Ids",
	    "x-ms-visibility": "important",
          }
        ]
      }
    },
    "/lookup.php": {
      "get": {
        "responses": {
          "default": {
            "description": "This is response for look up by id",
	    "x-ms-visibility": "important",
            "schema": {}
          }
        },
        "description": "Lookup full meal details by id",
        "summary": "Look for a Meal with id",
        "operationId": "SearchMealByID",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "required": false,
            "type": "string",
	    "description": "This is response for look up by id",
	    "x-ms-visibility": "important",
          }
        ]
      }
    },
    "/random.php": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "description": "Lookup a random meal",
        "summary": "Get a random meal",
        "operationId": "GetARandomMeal",
        "x-ms-visibility": "important",
        "parameters": []
      }
    },
    "/latest.php": {},
    "/list.php": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "description": "List all Areas where meals are mostly taken",
        "summary": "List all Areas",
        "operationId": "ListAreas",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "a",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/filter.php": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "description": "Filter by main ingredient",
        "summary": "Filter meals by ingredient",
        "operationId": "FilterByMainIngredient",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/categories.php": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "description": "List all meal categories",
        "summary": "List all meals categories",
        "operationId": "ListAllMealsCategories",
        "x-ms-visibility": "important",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}