{
  "swagger": "2.0",
  "info": {
    "title": "TheMealDB",
    "description": "Its an open online database of food meal recipes. Recipe books are old school, there must be a better way! Provides high quality transparent PNG ingredients, meal image uploads, browse meals in sequence and area and categories",
    "version": "1.0"
  },
  "host": "themealdb.com",
  "basePath": "/api/json/v1/1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/search.php": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meals": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "idMeal": {
                        "type": "string",
                        "description": "idMeal"
                      },
                      "strMeal": {
                        "type": "string",
                        "description": "strMeal"
                      },
                      "strDrinkAlternate": {
                        "type": "string",
                        "description": "strDrinkAlternate"
                      },
                      "strCategory": {
                        "type": "string",
                        "description": "strCategory"
                      },
                      "strArea": {
                        "type": "string",
                        "description": "strArea"
                      },
                      "strInstructions": {
                        "type": "string",
                        "description": "strInstructions"
                      },
                      "strMealThumb": {
                        "type": "string",
                        "description": "strMealThumb"
                      },
                      "strTags": {
                        "type": "string",
                        "description": "strTags"
                      },
                      "strYoutube": {
                        "type": "string",
                        "description": "strYoutube"
                      },
                      "strIngredient1": {
                        "type": "string",
                        "description": "strIngredient1"
                      },
                      "strIngredient2": {
                        "type": "string",
                        "description": "strIngredient2"
                      },
                      "strIngredient3": {
                        "type": "string",
                        "description": "strIngredient3"
                      },
                      "strIngredient4": {
                        "type": "string",
                        "description": "strIngredient4"
                      },
                      "strIngredient5": {
                        "type": "string",
                        "description": "strIngredient5"
                      },
                      "strIngredient6": {
                        "type": "string",
                        "description": "strIngredient6"
                      },
                      "strIngredient7": {
                        "type": "string",
                        "description": "strIngredient7"
                      },
                      "strIngredient8": {
                        "type": "string",
                        "description": "strIngredient8"
                      },
                      "strIngredient9": {
                        "type": "string",
                        "description": "strIngredient9"
                      },
                      "strIngredient10": {
                        "type": "string",
                        "description": "strIngredient10"
                      },
                      "strIngredient11": {
                        "type": "string",
                        "description": "strIngredient11"
                      },
                      "strIngredient12": {
                        "type": "string",
                        "description": "strIngredient12"
                      },
                      "strIngredient13": {
                        "type": "string",
                        "description": "strIngredient13"
                      },
                      "strIngredient14": {
                        "type": "string",
                        "description": "strIngredient14"
                      },
                      "strIngredient15": {
                        "type": "string",
                        "description": "strIngredient15"
                      },
                      "strIngredient16": {
                        "type": "string",
                        "description": "strIngredient16"
                      },
                      "strIngredient17": {
                        "type": "string",
                        "description": "strIngredient17"
                      },
                      "strIngredient18": {
                        "type": "string",
                        "description": "strIngredient18"
                      },
                      "strIngredient19": {
                        "type": "string",
                        "description": "strIngredient19"
                      },
                      "strIngredient20": {
                        "type": "string",
                        "description": "strIngredient20"
                      },
                      "strMeasure1": {
                        "type": "string",
                        "description": "strMeasure1"
                      },
                      "strMeasure2": {
                        "type": "string",
                        "description": "strMeasure2"
                      },
                      "strMeasure3": {
                        "type": "string",
                        "description": "strMeasure3"
                      },
                      "strMeasure4": {
                        "type": "string",
                        "description": "strMeasure4"
                      },
                      "strMeasure5": {
                        "type": "string",
                        "description": "strMeasure5"
                      },
                      "strMeasure6": {
                        "type": "string",
                        "description": "strMeasure6"
                      },
                      "strMeasure7": {
                        "type": "string",
                        "description": "strMeasure7"
                      },
                      "strMeasure8": {
                        "type": "string",
                        "description": "strMeasure8"
                      },
                      "strMeasure9": {
                        "type": "string",
                        "description": "strMeasure9"
                      },
                      "strMeasure10": {
                        "type": "string",
                        "description": "strMeasure10"
                      },
                      "strMeasure11": {
                        "type": "string",
                        "description": "strMeasure11"
                      },
                      "strMeasure12": {
                        "type": "string",
                        "description": "strMeasure12"
                      },
                      "strMeasure13": {
                        "type": "string",
                        "description": "strMeasure13"
                      },
                      "strMeasure14": {
                        "type": "string",
                        "description": "strMeasure14"
                      },
                      "strMeasure15": {
                        "type": "string",
                        "description": "strMeasure15"
                      },
                      "strMeasure16": {
                        "type": "string",
                        "description": "strMeasure16"
                      },
                      "strMeasure17": {
                        "type": "string",
                        "description": "strMeasure17"
                      },
                      "strMeasure18": {
                        "type": "string",
                        "description": "strMeasure18"
                      },
                      "strMeasure19": {
                        "type": "string",
                        "description": "strMeasure19"
                      },
                      "strMeasure20": {
                        "type": "string",
                        "description": "strMeasure20"
                      },
                      "strSource": {
                        "type": "string",
                        "description": "strSource"
                      },
                      "strImageSource": {
                        "type": "string",
                        "description": "strImageSource"
                      },
                      "strCreativeCommonsConfirmed": {
                        "type": "string",
                        "description": "strCreativeCommonsConfirmed"
                      },
                      "dateModified": {
                        "type": "string",
                        "description": "dateModified"
                      }
                    }
                  },
                  "description": "meals"
                }
              }
            },
            "headers": {
              "alt-svc": {
                "description": "alt-svc",
                "type": "string"
              },
              "cf-cache-status": {
                "description": "cf-cache-status",
                "type": "string"
              },
              "cf-ray": {
                "description": "cf-ray",
                "type": "string"
              },
              "content-encoding": {
                "description": "content-encoding",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              },
              "date": {
                "description": "date",
                "type": "string"
              },
              "nel": {
                "description": "nel",
                "type": "string"
              },
              "report-to": {
                "description": "report-to",
                "type": "string"
              },
              "x-ms-apihub-cached-response": {
                "description": "x-ms-apihub-cached-response",
                "type": "string"
              },
              "x-ms-apihub-obo": {
                "description": "x-ms-apihub-obo",
                "type": "string"
              },
              "x-powered-by": {
                "description": "x-powered-by",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            },
            "headers": {
              "content-length": {
                "description": "content-length",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Search Meal",
        "description": "Search meal by name. You can also search by the first single letter.",
        "operationId": "SearchMeal",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Pizza",
            "description": "The name of the meal",
            "x-ms-summary": "The name of the meal",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/lookup.php": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meals": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "idMeal": {
                        "type": "string",
                        "description": "idMeal"
                      },
                      "strMeal": {
                        "type": "string",
                        "description": "strMeal"
                      },
                      "strDrinkAlternate": {
                        "type": "string",
                        "description": "strDrinkAlternate"
                      },
                      "strCategory": {
                        "type": "string",
                        "description": "strCategory"
                      },
                      "strArea": {
                        "type": "string",
                        "description": "strArea"
                      },
                      "strInstructions": {
                        "type": "string",
                        "description": "strInstructions"
                      },
                      "strMealThumb": {
                        "type": "string",
                        "description": "strMealThumb"
                      },
                      "strTags": {
                        "type": "string",
                        "description": "strTags"
                      },
                      "strYoutube": {
                        "type": "string",
                        "description": "strYoutube"
                      },
                      "strIngredient1": {
                        "type": "string",
                        "description": "strIngredient1"
                      },
                      "strIngredient2": {
                        "type": "string",
                        "description": "strIngredient2"
                      },
                      "strIngredient3": {
                        "type": "string",
                        "description": "strIngredient3"
                      },
                      "strIngredient4": {
                        "type": "string",
                        "description": "strIngredient4"
                      },
                      "strIngredient5": {
                        "type": "string",
                        "description": "strIngredient5"
                      },
                      "strIngredient6": {
                        "type": "string",
                        "description": "strIngredient6"
                      },
                      "strIngredient7": {
                        "type": "string",
                        "description": "strIngredient7"
                      },
                      "strIngredient8": {
                        "type": "string",
                        "description": "strIngredient8"
                      },
                      "strIngredient9": {
                        "type": "string",
                        "description": "strIngredient9"
                      },
                      "strIngredient10": {
                        "type": "string",
                        "description": "strIngredient10"
                      },
                      "strIngredient11": {
                        "type": "string",
                        "description": "strIngredient11"
                      },
                      "strIngredient12": {
                        "type": "string",
                        "description": "strIngredient12"
                      },
                      "strIngredient13": {
                        "type": "string",
                        "description": "strIngredient13"
                      },
                      "strIngredient14": {
                        "type": "string",
                        "description": "strIngredient14"
                      },
                      "strIngredient15": {
                        "type": "string",
                        "description": "strIngredient15"
                      },
                      "strIngredient16": {
                        "type": "string",
                        "description": "strIngredient16"
                      },
                      "strIngredient17": {
                        "type": "string",
                        "description": "strIngredient17"
                      },
                      "strIngredient18": {
                        "type": "string",
                        "description": "strIngredient18"
                      },
                      "strIngredient19": {
                        "type": "string",
                        "description": "strIngredient19"
                      },
                      "strIngredient20": {
                        "type": "string",
                        "description": "strIngredient20"
                      },
                      "strMeasure1": {
                        "type": "string",
                        "description": "strMeasure1"
                      },
                      "strMeasure2": {
                        "type": "string",
                        "description": "strMeasure2"
                      },
                      "strMeasure3": {
                        "type": "string",
                        "description": "strMeasure3"
                      },
                      "strMeasure4": {
                        "type": "string",
                        "description": "strMeasure4"
                      },
                      "strMeasure5": {
                        "type": "string",
                        "description": "strMeasure5"
                      },
                      "strMeasure6": {
                        "type": "string",
                        "description": "strMeasure6"
                      },
                      "strMeasure7": {
                        "type": "string",
                        "description": "strMeasure7"
                      },
                      "strMeasure8": {
                        "type": "string",
                        "description": "strMeasure8"
                      },
                      "strMeasure9": {
                        "type": "string",
                        "description": "strMeasure9"
                      },
                      "strMeasure10": {
                        "type": "string",
                        "description": "strMeasure10"
                      },
                      "strMeasure11": {
                        "type": "string",
                        "description": "strMeasure11"
                      },
                      "strMeasure12": {
                        "type": "string",
                        "description": "strMeasure12"
                      },
                      "strMeasure13": {
                        "type": "string",
                        "description": "strMeasure13"
                      },
                      "strMeasure14": {
                        "type": "string",
                        "description": "strMeasure14"
                      },
                      "strMeasure15": {
                        "type": "string",
                        "description": "strMeasure15"
                      },
                      "strMeasure16": {
                        "type": "string",
                        "description": "strMeasure16"
                      },
                      "strMeasure17": {
                        "type": "string",
                        "description": "strMeasure17"
                      },
                      "strMeasure18": {
                        "type": "string",
                        "description": "strMeasure18"
                      },
                      "strMeasure19": {
                        "type": "string",
                        "description": "strMeasure19"
                      },
                      "strMeasure20": {
                        "type": "string",
                        "description": "strMeasure20"
                      },
                      "strSource": {
                        "type": "string",
                        "description": "strSource"
                      },
                      "strImageSource": {
                        "type": "string",
                        "description": "strImageSource"
                      },
                      "strCreativeCommonsConfirmed": {
                        "type": "string",
                        "description": "strCreativeCommonsConfirmed"
                      },
                      "dateModified": {
                        "type": "string",
                        "description": "dateModified"
                      }
                    }
                  },
                  "description": "meals"
                }
              }
            },
            "headers": {
              "alt-svc": {
                "description": "alt-svc",
                "type": "string"
              },
              "cf-cache-status": {
                "description": "cf-cache-status",
                "type": "string"
              },
              "cf-ray": {
                "description": "cf-ray",
                "type": "string"
              },
              "content-encoding": {
                "description": "content-encoding",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              },
              "date": {
                "description": "date",
                "type": "string"
              },
              "nel": {
                "description": "nel",
                "type": "string"
              },
              "report-to": {
                "description": "report-to",
                "type": "string"
              },
              "x-ms-apihub-cached-response": {
                "description": "x-ms-apihub-cached-response",
                "type": "string"
              },
              "x-ms-apihub-obo": {
                "description": "x-ms-apihub-obo",
                "type": "string"
              },
              "x-powered-by": {
                "description": "x-powered-by",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            },
            "headers": {
              "content-length": {
                "description": "content-length",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Look for a Meal with id",
        "description": "Lookup full meal details by id.",
        "operationId": "SearchMealByID",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 52772,
            "description": "The id of the meal",
            "x-ms-summary": "The Id of the meal",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/random.php": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meals": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "idMeal": {
                        "type": "string",
                        "description": "idMeal"
                      },
                      "strMeal": {
                        "type": "string",
                        "description": "strMeal"
                      },
                      "strDrinkAlternate": {
                        "type": "string",
                        "description": "strDrinkAlternate"
                      },
                      "strCategory": {
                        "type": "string",
                        "description": "strCategory"
                      },
                      "strArea": {
                        "type": "string",
                        "description": "strArea"
                      },
                      "strInstructions": {
                        "type": "string",
                        "description": "strInstructions"
                      },
                      "strMealThumb": {
                        "type": "string",
                        "description": "strMealThumb"
                      },
                      "strTags": {
                        "type": "string",
                        "description": "strTags"
                      },
                      "strYoutube": {
                        "type": "string",
                        "description": "strYoutube"
                      },
                      "strIngredient1": {
                        "type": "string",
                        "description": "strIngredient1"
                      },
                      "strIngredient2": {
                        "type": "string",
                        "description": "strIngredient2"
                      },
                      "strIngredient3": {
                        "type": "string",
                        "description": "strIngredient3"
                      },
                      "strIngredient4": {
                        "type": "string",
                        "description": "strIngredient4"
                      },
                      "strIngredient5": {
                        "type": "string",
                        "description": "strIngredient5"
                      },
                      "strIngredient6": {
                        "type": "string",
                        "description": "strIngredient6"
                      },
                      "strIngredient7": {
                        "type": "string",
                        "description": "strIngredient7"
                      },
                      "strIngredient8": {
                        "type": "string",
                        "description": "strIngredient8"
                      },
                      "strIngredient9": {
                        "type": "string",
                        "description": "strIngredient9"
                      },
                      "strIngredient10": {
                        "type": "string",
                        "description": "strIngredient10"
                      },
                      "strIngredient11": {
                        "type": "string",
                        "description": "strIngredient11"
                      },
                      "strIngredient12": {
                        "type": "string",
                        "description": "strIngredient12"
                      },
                      "strIngredient13": {
                        "type": "string",
                        "description": "strIngredient13"
                      },
                      "strIngredient14": {
                        "type": "string",
                        "description": "strIngredient14"
                      },
                      "strIngredient15": {
                        "type": "string",
                        "description": "strIngredient15"
                      },
                      "strIngredient16": {
                        "type": "string",
                        "description": "strIngredient16"
                      },
                      "strIngredient17": {
                        "type": "string",
                        "description": "strIngredient17"
                      },
                      "strIngredient18": {
                        "type": "string",
                        "description": "strIngredient18"
                      },
                      "strIngredient19": {
                        "type": "string",
                        "description": "strIngredient19"
                      },
                      "strIngredient20": {
                        "type": "string",
                        "description": "strIngredient20"
                      },
                      "strMeasure1": {
                        "type": "string",
                        "description": "strMeasure1"
                      },
                      "strMeasure2": {
                        "type": "string",
                        "description": "strMeasure2"
                      },
                      "strMeasure3": {
                        "type": "string",
                        "description": "strMeasure3"
                      },
                      "strMeasure4": {
                        "type": "string",
                        "description": "strMeasure4"
                      },
                      "strMeasure5": {
                        "type": "string",
                        "description": "strMeasure5"
                      },
                      "strMeasure6": {
                        "type": "string",
                        "description": "strMeasure6"
                      },
                      "strMeasure7": {
                        "type": "string",
                        "description": "strMeasure7"
                      },
                      "strMeasure8": {
                        "type": "string",
                        "description": "strMeasure8"
                      },
                      "strMeasure9": {
                        "type": "string",
                        "description": "strMeasure9"
                      },
                      "strMeasure10": {
                        "type": "string",
                        "description": "strMeasure10"
                      },
                      "strMeasure11": {
                        "type": "string",
                        "description": "strMeasure11"
                      },
                      "strMeasure12": {
                        "type": "string",
                        "description": "strMeasure12"
                      },
                      "strMeasure13": {
                        "type": "string",
                        "description": "strMeasure13"
                      },
                      "strMeasure14": {
                        "type": "string",
                        "description": "strMeasure14"
                      },
                      "strMeasure15": {
                        "type": "string",
                        "description": "strMeasure15"
                      },
                      "strMeasure16": {
                        "type": "string",
                        "description": "strMeasure16"
                      },
                      "strMeasure17": {
                        "type": "string",
                        "description": "strMeasure17"
                      },
                      "strMeasure18": {
                        "type": "string",
                        "description": "strMeasure18"
                      },
                      "strMeasure19": {
                        "type": "string",
                        "description": "strMeasure19"
                      },
                      "strMeasure20": {
                        "type": "string",
                        "description": "strMeasure20"
                      },
                      "strSource": {
                        "type": "string",
                        "description": "strSource"
                      },
                      "strImageSource": {
                        "type": "string",
                        "description": "strImageSource"
                      },
                      "strCreativeCommonsConfirmed": {
                        "type": "string",
                        "description": "strCreativeCommonsConfirmed"
                      },
                      "dateModified": {
                        "type": "string",
                        "description": "dateModified"
                      }
                    }
                  },
                  "description": "meals"
                }
              }
            },
            "headers": {
              "alt-svc": {
                "description": "alt-svc",
                "type": "string"
              },
              "cf-cache-status": {
                "description": "cf-cache-status",
                "type": "string"
              },
              "cf-ray": {
                "description": "cf-ray",
                "type": "string"
              },
              "content-encoding": {
                "description": "content-encoding",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              },
              "date": {
                "description": "date",
                "type": "string"
              },
              "nel": {
                "description": "nel",
                "type": "string"
              },
              "report-to": {
                "description": "report-to",
                "type": "string"
              },
              "x-ms-apihub-cached-response": {
                "description": "x-ms-apihub-cached-response",
                "type": "string"
              },
              "x-ms-apihub-obo": {
                "description": "x-ms-apihub-obo",
                "type": "string"
              },
              "x-powered-by": {
                "description": "x-powered-by",
                "type": "string"
              }
            }
          }
        },
        "summary": "Get a random meal",
        "description": "Lookup a random meal.",
        "operationId": "GetARandomMeal",
        "x-ms-visibility": "important",
        "parameters": []
      }
    },
    "/list.php": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meals": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "strArea": {
                        "type": "string",
                        "description": "strArea"
                      }
                    }
                  },
                  "description": "meals"
                }
              }
            },
            "headers": {
              "alt-svc": {
                "description": "alt-svc",
                "type": "string"
              },
              "cf-cache-status": {
                "description": "cf-cache-status",
                "type": "string"
              },
              "cf-ray": {
                "description": "cf-ray",
                "type": "string"
              },
              "content-encoding": {
                "description": "content-encoding",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              },
              "date": {
                "description": "date",
                "type": "string"
              },
              "nel": {
                "description": "nel",
                "type": "string"
              },
              "report-to": {
                "description": "report-to",
                "type": "string"
              },
              "x-ms-apihub-cached-response": {
                "description": "x-ms-apihub-cached-response",
                "type": "string"
              },
              "x-ms-apihub-obo": {
                "description": "x-ms-apihub-obo",
                "type": "string"
              },
              "x-powered-by": {
                "description": "x-powered-by",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            },
            "headers": {
              "content-length": {
                "description": "content-length",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              }
            }
          }
        },
        "summary": "List all Areas",
        "description": "List all Areas where meals are mostly taken.",
        "operationId": "ListAreas",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "a",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "list",
            "description": "The name of the areas",
            "x-ms-summary": "The list of the areas",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/filter.php": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "meals": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "strMeal": {
                        "type": "string",
                        "description": "strMeal"
                      },
                      "strMealThumb": {
                        "type": "string",
                        "description": "strMealThumb"
                      },
                      "idMeal": {
                        "type": "string",
                        "description": "idMeal"
                      }
                    }
                  },
                  "description": "meals"
                }
              }
            },
            "headers": {
              "alt-svc": {
                "description": "alt-svc",
                "type": "string"
              },
              "cf-cache-status": {
                "description": "cf-cache-status",
                "type": "string"
              },
              "cf-ray": {
                "description": "cf-ray",
                "type": "string"
              },
              "content-encoding": {
                "description": "content-encoding",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              },
              "date": {
                "description": "date",
                "type": "string"
              },
              "nel": {
                "description": "nel",
                "type": "string"
              },
              "report-to": {
                "description": "report-to",
                "type": "string"
              },
              "x-ms-apihub-cached-response": {
                "description": "x-ms-apihub-cached-response",
                "type": "string"
              },
              "x-ms-apihub-obo": {
                "description": "x-ms-apihub-obo",
                "type": "string"
              },
              "x-powered-by": {
                "description": "x-powered-by",
                "type": "string"
              }
            }
          },
          "404": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "statusCode"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            },
            "headers": {
              "content-length": {
                "description": "content-length",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              }
            }
          }
        },
        "summary": "Filter meals by ingredient",
        "description": "Filter by main ingredient.",
        "operationId": "FilterByMainIngredient",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Pork",
            "description": "The ingredient you want to filter with",
            "x-ms-summary": "The ingredient that you want to find the available meals",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/categories.php": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "idCategory": {
                        "type": "string",
                        "description": "idCategory"
                      },
                      "strCategory": {
                        "type": "string",
                        "description": "strCategory"
                      },
                      "strCategoryThumb": {
                        "type": "string",
                        "description": "strCategoryThumb"
                      },
                      "strCategoryDescription": {
                        "type": "string",
                        "description": "strCategoryDescription"
                      }
                    }
                  },
                  "description": "categories"
                }
              }
            },
            "headers": {
              "alt-svc": {
                "description": "alt-svc",
                "type": "string"
              },
              "cf-cache-status": {
                "description": "cf-cache-status",
                "type": "string"
              },
              "cf-ray": {
                "description": "cf-ray",
                "type": "string"
              },
              "content-encoding": {
                "description": "content-encoding",
                "type": "string"
              },
              "content-type": {
                "description": "content-type",
                "type": "string"
              },
              "date": {
                "description": "date",
                "type": "string"
              },
              "nel": {
                "description": "nel",
                "type": "string"
              },
              "report-to": {
                "description": "report-to",
                "type": "string"
              },
              "x-ms-apihub-cached-response": {
                "description": "x-ms-apihub-cached-response",
                "type": "string"
              },
              "x-ms-apihub-obo": {
                "description": "x-ms-apihub-obo",
                "type": "string"
              },
              "x-powered-by": {
                "description": "x-powered-by",
                "type": "string"
              }
            }
          }
        },
        "summary": "List all meals categories",
        "description": "List all meal categories.",
        "operationId": "ListAllMealsCategories",
        "x-ms-visibility": "important",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}