{
  "swagger": "2.0",
  "info": {
    "title": "Diffchecker",
    "description": "Diffchecker will compare your inputs to find the difference between two text files, images, PDFs and many other.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_diffcheck@gmail.com"
    }
  },
  "host": "api.diffchecker.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/public/text": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "end": {
                        "type": "boolean",
                        "description": "Is it the end?",
                        "title": "End"
                      },
                      "left": {
                        "type": "object",
                        "properties": {
                          "chunks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "description": "Value of difference.",
                                  "title": "Value"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type of difference, for example 'equal' or 'remove'.",
                                  "title": "Type"
                                }
                              }
                            },
                            "description": "Array of chunks.",
                            "title": "Chunks"
                          },
                          "line": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Line number, containing the difference.",
                            "title": "Line"
                          }
                        },
                        "description": "Left text.",
                        "title": "Left"
                      },
                      "right": {
                        "type": "object",
                        "properties": {
                          "chunks": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "description": "Value of the difference.",
                                  "title": "Value"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type of the difference, for example 'equal' or 'remove'.",
                                  "title": "Type"
                                }
                              }
                            },
                            "description": "Array of chunks.",
                            "title": "Chunks"
                          },
                          "line": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Line number containing the difference.",
                            "title": "Line"
                          }
                        },
                        "description": "Right text.",
                        "title": "Right"
                      },
                      "insideChanged": {
                        "type": "boolean",
                        "description": "Is inside changed?",
                        "title": "Inside changed"
                      },
                      "start": {
                        "type": "boolean",
                        "description": "Is it the start?",
                        "title": "Start"
                      }
                    }
                  },
                  "description": "Array of differences identified.",
                  "title": "Rows"
                },
                "added": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Added number of differences.",
                  "title": "Added"
                },
                "removed": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Removed number of differences.",
                  "title": "Removed"
                }
              }
            }
          }
        },
        "summary": "Check text",
        "description": "Diffchecker will compare text to find the difference between two text files.",
        "operationId": "CheckText",
        "parameters": [
          {
            "name": "output_type",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-summary": "Output type",
            "description": "Specifies the type of output you receive in the response body.",
            "x-ms-visibility": "internal",
            "enum": [
              "json",
              "html",
              "html_json"
            ]
          },
          {
            "name": "diff_level",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "word",
            "x-ms-summary": "Diff level",
            "description": "Specifies whether you want to diff by word or by character.",
            "enum": [
              "character",
              "word"
            ]
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "left": {
                  "type": "string",
                  "description": "Left text you want to diff.",
                  "title": "Left"
                },
                "right": {
                  "type": "string",
                  "description": "Right text you want to diff.",
                  "title": "Right"
                }
              },
              "required": [
                "left",
                "right"
              ]
            }
          }
        ]
      }
    },
    "/public/image": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "dataUrl": {
                  "type": "string",
                  "description": "URL prefixed with the data: scheme, containing the result of the comparison.",
                  "title": "Data URL"
                }
              }
            }
          }
        },
        "summary": "Check image",
        "description": "Find the difference between pictures or other images!",
        "operationId": "CheckImage",
        "parameters": [
          {
            "name": "input_type",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "description": "Specifies the request content-type. Value must be one of 'json' or 'form'.",
            "x-ms-summary": "Input type",
            "x-ms-visibility": "internal",
            "enum": [
              "json",
              "form"
            ]
          },
          {
            "name": "output_type",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-summary": "Output type",
            "description": "Specifies the type of output you receive in the response body.",
            "x-ms-visibility": "internal",
            "enum": [
              "json",
              "png"
            ]
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-summary": "Content type",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "left_image": {
                  "type": "string",
                  "description": "String containing data url (prefixed data:) of left image you want to diff (link).",
                  "title": "Left image"
                },
                "right_image": {
                  "type": "string",
                  "description": "String containing data url (prefixed data:) of right image you want to diff (link).",
                  "title": "Right image"
                }
              },
              "required": [
                "left_image",
                "right_image"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.diffchecker.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.diffchecker.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}