{
  "swagger": "2.0",
  "info": {
    "title": "SpyCloud Enterprise Protection",
    "description": "The SpyCloud Enterprise Protection connector allows access to SpyCloud’s Enterprise Protection API. The connector is organized around the SpyCloud Enterprise Protection API endpoints. JSON is returned by all API responses, including those with errors.",
    "contact": {
      "name": "SpyCloud Integrations",
      "url": "https://portal/spycloud.com/",
      "email": "integrations@spycloud.com"
    },
    "version": "1.0"
  },
  "host": "api.spycloud.io",
  "basePath": "/enterprise-v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/breach/catalog": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Breach_Catalog_Schema"
            }
          }
        },
        "summary": "List or Query the Breach Catalog",
        "description": "List or Query the Breach Catalog.",
        "operationId": "Breach_Catalog",
        "parameters": [
          {
            "$ref": "#/parameters/Query"
          },
          {
            "$ref": "#/parameters/Cursor"
          },
          {
            "$ref": "#/parameters/Since"
          },
          {
            "$ref": "#/parameters/Until"
          }
        ]
      }
    },
    "/breach/catalog/{id}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Breach_Catalog_Schema"
            }
          }
        },
        "summary": "Get Catalog",
        "description": "Get/Retrieve Breach Catalog Information by ID.",
        "operationId": "Breach_Catalog_ID",
        "parameters": [
          {
            "$ref": "#/parameters/ID"
          }
        ]
      }
    },
    "/breach/data/domains/{domain}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Breach_Data_By_Domain_Schema"
            }
          }
        },
        "summary": "Get Breach Data by Domain Search",
        "description": "Get Breach Data by Domain Search.",
        "operationId": "Breach_Catalog_Domain",
        "parameters": [
          {
            "$ref": "#/parameters/Domain"
          },
          {
            "$ref": "#/parameters/Type"
          },
          {
            "$ref": "#/parameters/Cursor"
          },
          {
            "$ref": "#/parameters/Since"
          },
          {
            "$ref": "#/parameters/Until"
          },
          {
            "$ref": "#/parameters/Since_Modification_Date"
          },
          {
            "$ref": "#/parameters/Until_Modification_Date"
          },
          {
            "$ref": "#/parameters/Severity"
          },
          {
            "$ref": "#/parameters/Source_Id"
          },
          {
            "$ref": "#/parameters/Salt"
          }
        ]
      }
    },
    "/breach/data/emails/{email}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Breach_Data_By_Email_Schema"
            }
          }
        },
        "summary": "Get Breach Data by Email Search",
        "description": "Get Breach Data by Email Search.",
        "operationId": "Breach_Data_Email",
        "parameters": [
          {
            "$ref": "#/parameters/Email"
          },
          {
            "$ref": "#/parameters/Cursor"
          },
          {
            "$ref": "#/parameters/Since"
          },
          {
            "$ref": "#/parameters/Until"
          },
          {
            "$ref": "#/parameters/Since_Modification_Date"
          },
          {
            "$ref": "#/parameters/Until_Modification_Date"
          },
          {
            "$ref": "#/parameters/Severity"
          },
          {
            "$ref": "#/parameters/Source_Id"
          },
          {
            "$ref": "#/parameters/Salt"
          }
        ]
      }
    },
    "/breach/data/ips/{ip}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Breach_Data_By_IP_Schema"
            }
          }
        },
        "summary": "Get Breach Data by IP Address",
        "description": "Get Breach Data by IP Address.",
        "operationId": "Breach_Data_IP_Address",
        "parameters": [
          {
            "$ref": "#/parameters/IP"
          },
          {
            "$ref": "#/parameters/Cursor"
          },
          {
            "$ref": "#/parameters/Since"
          },
          {
            "$ref": "#/parameters/Until"
          },
          {
            "$ref": "#/parameters/Since_Modification_Date"
          },
          {
            "$ref": "#/parameters/Until_Modification_Date"
          },
          {
            "$ref": "#/parameters/Severity"
          },
          {
            "$ref": "#/parameters/Source_Id"
          },
          {
            "$ref": "#/parameters/Salt"
          }
        ]
      }
    },
    "/breach/data/passwords/{password}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Breach_Data_By_Password_Schema"
            }
          }
        },
        "summary": "Get Breach Data by Password Search",
        "description": "Get Breach Data by Password Search.",
        "operationId": "Breach_Data_Password",
        "parameters": [
          {
            "$ref": "#/parameters/Password"
          },
          {
            "$ref": "#/parameters/Cursor"
          },
          {
            "$ref": "#/parameters/Since"
          },
          {
            "$ref": "#/parameters/Until"
          },
          {
            "$ref": "#/parameters/Since_Modification_Date"
          },
          {
            "$ref": "#/parameters/Until_Modification_Date"
          },
          {
            "$ref": "#/parameters/Severity"
          },
          {
            "$ref": "#/parameters/Source_Id"
          },
          {
            "$ref": "#/parameters/Salt"
          }
        ]
      }
    },
    "/breach/data/usernames/{username}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Breach_Data_By_Username_Schema"
            }
          }
        },
        "summary": "Get Breach Data by Username Search",
        "description": "Get Breach Data by Username Search.",
        "operationId": "Breach_Data_Username",
        "parameters": [
          {
            "$ref": "#/parameters/Username"
          },
          {
            "$ref": "#/parameters/Cursor"
          },
          {
            "$ref": "#/parameters/Since"
          },
          {
            "$ref": "#/parameters/Until"
          },
          {
            "$ref": "#/parameters/Since_Modification_Date"
          },
          {
            "$ref": "#/parameters/Until_Modification_Date"
          },
          {
            "$ref": "#/parameters/Severity"
          },
          {
            "$ref": "#/parameters/Source_Id"
          },
          {
            "$ref": "#/parameters/Salt"
          }
        ]
      }
    },
    "/breach/data/watchlist": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Breach_Data_By_Watchlist_Schema"
            }
          }
        },
        "summary": "Get Breach Data for Entire Watchlist",
        "description": "Get Breach Data for Entire Watchlist.",
        "operationId": "Breach_Data_Watchlist",
        "parameters": [
          {
            "$ref": "#/parameters/Type"
          },
          {
            "$ref": "#/parameters/Watchlist_Type"
          },
          {
            "$ref": "#/parameters/Cursor"
          },
          {
            "$ref": "#/parameters/Since"
          },
          {
            "$ref": "#/parameters/Until"
          },
          {
            "$ref": "#/parameters/Since_Modification_Date"
          },
          {
            "$ref": "#/parameters/Until_Modification_Date"
          },
          {
            "$ref": "#/parameters/Severity"
          },
          {
            "$ref": "#/parameters/Source_Id"
          },
          {
            "$ref": "#/parameters/Salt"
          }
        ]
      }
    },
    "/compass/devices": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Compass_Devices_List_Schema"
            }
          }
        },
        "summary": "Get Compass Devices List",
        "description": "Get Compass Devices List.",
        "operationId": "Compass_Devices_List",
        "parameters": [
          {
            "$ref": "#/parameters/Source_Id"
          },
          {
            "$ref": "#/parameters/Since"
          },
          {
            "$ref": "#/parameters/Until"
          },
          {
            "$ref": "#/parameters/Since_Infected"
          },
          {
            "$ref": "#/parameters/Until_Infected"
          }
        ]
      }
    },
    "/compass/data/devices/{infected_machine_id}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Compass_Devices_Data_Schema"
            }
          }
        },
        "summary": "Get Compass Devices Data",
        "description": "Get Compass Devices Data.",
        "operationId": "Compass_Devices_Data",
        "parameters": [
          {
            "$ref": "#/parameters/Infected_Machine_Id"
          },
          {
            "$ref": "#/parameters/Cursor"
          },
          {
            "$ref": "#/parameters/Salt"
          }
        ]
      }
    },
    "/compass/data/applications/{target_application}": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Compass_Applications_Data_Schema"
            }
          }
        },
        "summary": "Get Compass Applications Data",
        "description": "Get Compass Applications Data.",
        "operationId": "Compass_Applications_Data",
        "parameters": [
          {
            "$ref": "#/parameters/Target_Application"
          },
          {
            "$ref": "#/parameters/Source_Id"
          },
          {
            "$ref": "#/parameters/Since"
          },
          {
            "$ref": "#/parameters/Until"
          },
          {
            "$ref": "#/parameters/Salt"
          }
        ]
      }
    },
    "/compass/data": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "$ref": "#/definitions/Compass_Applications_Data_Schema"
            }
          }
        },
        "summary": "Get Compass Data",
        "description": "Get Compass Data.",
        "operationId": "Compass_Data",
        "parameters": [
          {
            "$ref": "#/parameters/Source_Id"
          },
          {
            "$ref": "#/parameters/Since"
          },
          {
            "$ref": "#/parameters/Until"
          },
          {
            "$ref": "#/parameters/Since_Infected"
          },
          {
            "$ref": "#/parameters/Until_Infected"
          },
          {
            "$ref": "#/parameters/Compass_Type"
          },
          {
            "$ref": "#/parameters/Cursor"
          },
          {
            "$ref": "#/parameters/Salt"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "http://www.spycloud.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.spycloud.com/company/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;Website"
    }
  ],
  "definitions": {
    "Breach_Catalog_Schema": {
      "type": "object",
      "properties": {
        "cursor": {
          "type": "string",
          "description": "cursor",
          "title": "Cursor"
        },
        "hits": {
          "type": "number",
          "description": "hits",
          "title": "Hits"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "Breach title. For each ingested breach our security research team documents a breach title. This is only available when we can disclose the breach details, otherwise it will have a generic title.",
                "title": "Title"
              },
              "spycloud_publish_date": {
                "type": "string",
                "description": "The date on which we ingested the breached data into our systems. This is the same date on which the data becomes publicly available to our customers.",
                "title": "Spycloud Publish Date"
              },
              "description": {
                "type": "string",
                "description": "Breach description. For each ingested breach our security research team documents a breach description. This is only available when we can disclose the breach details, otherwise it will have a generic description.",
                "title": "Description"
              },
              "site_description": {
                "type": "string",
                "description": "Description of the breached organization, when available.",
                "title": "Site Description"
              },
              "site": {
                "type": "string",
                "description": "Website of breached organization, when available.",
                "title": "Site"
              },
              "confidence": {
                "type": "number",
                "description": "Numerical score representing the confidence in the source of the breach.",
                "title": "Confidence"
              },
              "id": {
                "type": "number",
                "description": "Numerical breach ID. This number correlates to source_id data point found in breach records.",
                "title": "Id"
              },
              "premium_flag": {
                "type": "string",
                "description": "premium flag.",
                "title": "Premium Flag"
              },
              "acquisition_date": {
                "type": "string",
                "description": "The date on which our security research team first acquired the breached data.",
                "title": "Acquisition Date"
              },
              "uuid": {
                "type": "string",
                "description": "UUID v4 encoded version of breach ID. This is relevant for users of Firehose, where each deliverable (records file) is named using the breach UUID.",
                "title": "UUID"
              },
              "type": {
                "type": "string",
                "description": "Denotes if a breach is considered public or private. A public breach is one that is easily found on the internet, while a private breach is often exclusive to SpyCloud.",
                "title": "Type"
              },
              "num_records": {
                "type": "number",
                "description": "Number of records we parsed and ingested from this particular breach. This is after parsing, normalization and deduplication take place.",
                "title": "Number of Records"
              },
              "assets": {
                "type": "object",
                "properties": {
                  "target_url": {
                    "type": "string",
                    "description": "URL extracted from Botnet data. This is the URL that is captured from a key logger installed on an infected user's system.",
                    "title": "Target Url"
                  },
                  "av_softwares": {
                    "type": "number",
                    "description": "List of AV software found installed on the infected user's system.",
                    "title": "AV Softwares"
                  },
                  "infected_time": {
                    "type": "number",
                    "description": "The time at which the user's system was infected with malicious software.",
                    "title": "Infected Time"
                  },
                  "infected_machine_id": {
                    "type": "number",
                    "description": "The unique id of the infected user's system.",
                    "title": "Infected Machine Id"
                  },
                  "country_code": {
                    "type": "number",
                    "description": "Country code; derived from country.",
                    "title": "Country Code"
                  },
                  "ip_addresses": {
                    "type": "string",
                    "description": "List of one or more IP addresses in alphanumeric format. Both IPV4 and IPv6 addresses are supported.",
                    "title": "IP Addresses"
                  },
                  "user_browser": {
                    "type": "string",
                    "description": "Browser name.",
                    "title": "User Browser"
                  },
                  "user_sys_registered_owner": {
                    "type": "string",
                    "description": "System registered owner name. This usually comes from Botnet data.",
                    "title": "User System Registered Owner"
                  },
                  "keyboard_languages": {
                    "type": "string",
                    "description": "The keyboard language found in the OS. This usually comes from Botnet data.",
                    "title": "Keyboard Languages"
                  },
                  "user_hostname": {
                    "type": "string",
                    "description": "System hostname. This usually comes from Botnet data.",
                    "title": "User Hostname"
                  },
                  "password": {
                    "type": "string",
                    "description": "Account password.",
                    "title": "Password"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address.",
                    "title": "Password"
                  },
                  "user_os": {
                    "type": "string",
                    "description": "System OS name. This usually comes from Botnet data.",
                    "title": "User OS"
                  },
                  "country": {
                    "type": "string",
                    "description": "Country name.",
                    "title": "Country"
                  },
                  "username": {
                    "type": "string",
                    "description": "Username.",
                    "title": "Username"
                  },
                  "infected_path": {
                    "type": "string",
                    "description": "The local path to the malicious software installed on the infected user's system.",
                    "title": "Infected Path"
                  }
                }
              }
            },
            "description": "Catalog Breach Results Object"
          }
        }
      },
      "description": "Catalog Breach Data Response"
    },
    "Breach_Data_By_Domain_Schema": {
      "type": "object",
      "properties": {
        "cursor": {
          "type": "string",
          "description": "cursor",
          "title": "Cursor"
        },
        "hits": {
          "type": "number",
          "description": "hits",
          "title": "Hits"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "source_id": {
                "type": "number",
                "description": "Numerical breach ID. This correlates directly with the id field in Breach Catalog objects.",
                "title": "Source ID"
              },
              "email": {
                "type": "string",
                "description": "Email address.",
                "title": "Email Address."
              },
              "full_name": {
                "type": "string",
                "description": "Full name.",
                "title": "Full Name"
              },
              "spycloud_publish_date": {
                "type": "string",
                "description": "The date on which we ingested the breached data into our systems. This is the same date on which the data becomes publicly available to our customers.",
                "title": "Spycloud Publish Date"
              },
              "email_domain": {
                "type": "string",
                "description": "Domain extracted from 'email_address' field. This is not a SLD, but everything after the '@' symbol.",
                "title": "Email Domain"
              },
              "email_username": {
                "type": "string",
                "description": "Username extracted from 'email' field. This is everything before the '@' symbol.",
                "title": "Email Username"
              },
              "severity": {
                "type": "number",
                "description": "Severity is a numeric code representing severity of a breach record. This can be used in API requests to ensure only Breach Records with plaintext password are returned.",
                "title": "Severity"
              },
              "document_id": {
                "type": "string",
                "description": "UUID v4 string which uniquely identifies this breach record in our data set.",
                "title": "Document ID"
              }
            }
          },
          "description": "Domain Breach Results Object"
        }
      },
      "description": "Domain Breach Data Response"
    },
    "Breach_Data_By_Email_Schema": {
      "type": "object",
      "properties": {
        "cursor": {
          "type": "string",
          "description": "cursor",
          "title": "Cursor"
        },
        "hits": {
          "type": "number",
          "description": "hits",
          "title": "Hits"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "Email address.",
                "title": "Email Address."
              },
              "username": {
                "type": "string",
                "description": "User name.",
                "title": "Username"
              },
              "password": {
                "type": "string",
                "description": "Account password.",
                "title": "Password"
              },
              "password_plaintext": {
                "type": "string",
                "description": "The cracked, plaintext version of the password (where the password is crackable).",
                "title": "Password Plaintext"
              },
              "password_type": {
                "type": "string",
                "description": "Password type for original password as found in the data breach. This will either be plaintext or one of the many password hash/encryption types (SHA1, MD5, 3DES, etc).",
                "title": "Password Type"
              },
              "target_url": {
                "type": "string",
                "description": "URL extracted from Botnet data. This is the URL that is captured from a key logger installed on an infected user's system.",
                "title": "Target URL"
              },
              "user_browser": {
                "type": "string",
                "description": "Browser name.",
                "title": "User Browser"
              },
              "ip_addresses": {
                "type": "string",
                "description": "List of one or more IP addresses in alphanumeric format. Both IPV4 and IPv6 addresses are supported.",
                "title": "IP Addressess"
              },
              "infected_machine_id": {
                "type": "string",
                "description": "The unique id of the infected user's system.",
                "title": "Infected Machine Id"
              },
              "infected_path": {
                "type": "string",
                "description": "The local path to the malicious software installed on the infected user's system.",
                "title": "Infected Path"
              },
              "infected_time": {
                "type": "string",
                "description": "The time at which the user's system was infected with malicious software.",
                "title": "Infected Time"
              },
              "user_sys_domain": {
                "type": "string",
                "description": "System domain. This usually comes from Botnet data.",
                "title": "User System Domain"
              },
              "user_hostname": {
                "type": "string",
                "description": "System hostname. This usually comes from Botnet data.",
                "title": "User Hostname"
              },
              "user_os": {
                "type": "string",
                "description": "System OS name. This usually comes from Botnet data.",
                "title": "User OS Name"
              },
              "user_sys_registered_owner": {
                "type": "string",
                "description": "System registered owner name. This usually comes from Botnet data.",
                "title": "System Registered Owner Name"
              },
              "source_id": {
                "type": "number",
                "description": "Numerical breach ID. This correlates directly with the id field in Breach Catalog objects.",
                "title": "Source ID"
              },
              "spycloud_publish_date": {
                "type": "string",
                "description": "The date on which we ingested the breached data into our systems. This is the same date on which the data becomes publicly available to our customers.",
                "title": "Spycloud Publish Date"
              },
              "email_domain": {
                "type": "string",
                "description": "Domain extracted from 'email_address' field. This is not a SLD, but everything after the '@' symbol.",
                "title": "Email Domain"
              },
              "email_username": {
                "type": "string",
                "description": "Username extracted from 'email' field. This is everything before the '@' symbol.",
                "title": "Email Username"
              },
              "domain": {
                "type": "string",
                "description": "Domain name.",
                "title": "Domain"
              },
              "target_domain": {
                "type": "string",
                "description": "SLD extracted from 'target_url' field.",
                "title": "Target Domain"
              },
              "target_subdomain": {
                "type": "string",
                "description": "Subdomain and SLD extracted from 'target_url' field.",
                "title": "Target Sub Domain"
              },
              "severity": {
                "type": "number",
                "description": "Severity is a numeric code representing severity of a breach record. This can be used in API requests to ensure only Breach Records with plaintext password are returned.",
                "title": "Severity"
              },
              "document_id": {
                "type": "string",
                "description": "UUID v4 string which uniquely identifies this breach record in our data set.",
                "title": "Document ID"
              }
            }
          },
          "description": "Email Breach Results Object"
        }
      },
      "description": "Email Breach Data Response"
    },
    "Breach_Data_By_IP_Schema": {
      "type": "object",
      "properties": {
        "cursor": {
          "type": "string",
          "description": "cursor",
          "title": "Cursor"
        },
        "hits": {
          "type": "number",
          "description": "hits",
          "title": "Hits"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "Email address.",
                "title": "Email Address."
              },
              "username": {
                "type": "string",
                "description": "User name.",
                "title": "Username"
              },
              "password": {
                "type": "string",
                "description": "Account password.",
                "title": "Password"
              },
              "password_plaintext": {
                "type": "string",
                "description": "The cracked, plaintext version of the password (where the password is crackable).",
                "title": "Password Plaintext"
              },
              "password_type": {
                "type": "string",
                "description": "Password type for original password as found in the data breach. This will either be plaintext or one of the many password hash/encryption types (SHA1, MD5, 3DES, etc).",
                "title": "Password Type"
              },
              "target_url": {
                "type": "string",
                "description": "URL extracted from Botnet data. This is the URL that is captured from a key logger installed on an infected user's system.",
                "title": "Target URL"
              },
              "user_browser": {
                "type": "string",
                "description": "Browser name.",
                "title": "User Browser"
              },
              "ip_addresses": {
                "type": "string",
                "description": "List of one or more IP addresses in alphanumeric format. Both IPV4 and IPv6 addresses are supported.",
                "title": "IP Addressess"
              },
              "infected_machine_id": {
                "type": "string",
                "description": "The unique id of the infected user's system.",
                "title": "Infected Machine Id"
              },
              "infected_path": {
                "type": "string",
                "description": "The local path to the malicious software installed on the infected user's system.",
                "title": "Infected Path"
              },
              "infected_time": {
                "type": "string",
                "description": "The time at which the user's system was infected with malicious software.",
                "title": "Infected Time"
              },
              "user_sys_domain": {
                "type": "string",
                "description": "System domain. This usually comes from Botnet data.",
                "title": "User System Domain"
              },
              "user_hostname": {
                "type": "string",
                "description": "System hostname. This usually comes from Botnet data.",
                "title": "User Hostname"
              },
              "user_os": {
                "type": "string",
                "description": "System OS name. This usually comes from Botnet data.",
                "title": "User OS Name"
              },
              "user_sys_registered_owner": {
                "type": "string",
                "description": "System registered owner name. This usually comes from Botnet data.",
                "title": "System Registered Owner Name"
              },
              "source_id": {
                "type": "number",
                "description": "Numerical breach ID. This correlates directly with the id field in Breach Catalog objects.",
                "title": "Source ID"
              },
              "spycloud_publish_date": {
                "type": "string",
                "description": "The date on which we ingested the breached data into our systems. This is the same date on which the data becomes publicly available to our customers.",
                "title": "Spycloud Publish Date"
              },
              "email_domain": {
                "type": "string",
                "description": "Domain extracted from 'email_address' field. This is not a SLD, but everything after the '@' symbol.",
                "title": "Email Domain"
              },
              "email_username": {
                "type": "string",
                "description": "Username extracted from 'email' field. This is everything before the '@' symbol.",
                "title": "Email Username"
              },
              "domain": {
                "type": "string",
                "description": "Domain name.",
                "title": "Domain"
              },
              "target_domain": {
                "type": "string",
                "description": "SLD extracted from 'target_url' field.",
                "title": "Target Domain"
              },
              "target_subdomain": {
                "type": "string",
                "description": "Subdomain and SLD extracted from 'target_url' field.",
                "title": "Target Sub Domain"
              },
              "severity": {
                "type": "number",
                "description": "Severity is a numeric code representing severity of a breach record. This can be used in API requests to ensure only Breach Records with plaintext password are returned.",
                "title": "Severity"
              },
              "document_id": {
                "type": "string",
                "description": "UUID v4 string which uniquely identifies this breach record in our data set.",
                "title": "Document ID"
              }
            }
          },
          "description": "IP Address Breach Results Object"
        }
      },
      "description": "IP Address Breach Data Response"
    },
    "Breach_Data_By_Password_Schema": {
      "type": "object",
      "properties": {
        "cursor": {
          "type": "string",
          "description": "cursor",
          "title": "Cursor"
        },
        "hits": {
          "type": "number",
          "description": "hits",
          "title": "Hits"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "source_id": {
                "type": "number",
                "description": "Numerical breach ID. This correlates directly with the id field in Breach Catalog objects.",
                "title": "Source ID"
              },
              "email": {
                "type": "string",
                "description": "Email address.",
                "title": "Email Address."
              },
              "password": {
                "type": "string",
                "description": "Account password.",
                "title": "Password"
              },
              "password_type": {
                "type": "string",
                "description": "Password type for original password as found in the data breach. This will either be plaintext or one of the many password hash/encryption types (SHA1, MD5, 3DES, etc).",
                "title": "Password Type"
              },
              "full_name": {
                "type": "string",
                "description": "Full name.",
                "title": "Full Name"
              },
              "spycloud_publish_date": {
                "type": "string",
                "description": "The date on which we ingested the breached data into our systems. This is the same date on which the data becomes publicly available to our customers.",
                "title": "Spycloud Publish Date"
              },
              "email_domain": {
                "type": "string",
                "description": "Domain extracted from 'email_address' field. This is not a SLD, but everything after the '@' symbol.",
                "title": "Email Domain"
              },
              "email_username": {
                "type": "string",
                "description": "Username extracted from 'email' field. This is everything before the '@' symbol.",
                "title": "Email Username"
              },
              "domain": {
                "type": "string",
                "description": "Domain name.",
                "title": "Domain"
              },
              "password_plaintext": {
                "type": "string",
                "description": "The cracked, plaintext version of the password (where the password is crackable).",
                "title": "Password Plain Text"
              },
              "severity": {
                "type": "number",
                "description": "Severity is a numeric code representing severity of a breach record. This can be used in API requests to ensure only Breach Records with plaintext password are returned.",
                "title": "Severity"
              },
              "document_id": {
                "type": "string",
                "description": "UUID v4 string which uniquely identifies this breach record in our data set.",
                "title": "Document ID"
              }
            }
          },
          "description": "Password Breach Results Object"
        }
      },
      "description": "Password Breach Data Response"
    },
    "Breach_Data_By_Username_Schema": {
      "type": "object",
      "properties": {
        "cursor": {
          "type": "string",
          "description": "cursor",
          "title": "Cursor"
        },
        "hits": {
          "type": "number",
          "description": "hits",
          "title": "Hits"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "description": "Email address.",
                "title": "Email Address."
              },
              "username": {
                "type": "string",
                "description": "User name.",
                "title": "Username"
              },
              "password": {
                "type": "string",
                "description": "Account password.",
                "title": "Password"
              },
              "password_plaintext": {
                "type": "string",
                "description": "The cracked, plaintext version of the password (where the password is crackable).",
                "title": "Password Plaintext"
              },
              "password_type": {
                "type": "string",
                "description": "Password type for original password as found in the data breach. This will either be plaintext or one of the many password hash/encryption types (SHA1, MD5, 3DES, etc).",
                "title": "Password Type"
              },
              "target_url": {
                "type": "string",
                "description": "URL extracted from Botnet data. This is the URL that is captured from a key logger installed on an infected user's system.",
                "title": "Target URL"
              },
              "user_browser": {
                "type": "string",
                "description": "Browser name.",
                "title": "User Browser"
              },
              "ip_addresses": {
                "type": "string",
                "description": "List of one or more IP addresses in alphanumeric format. Both IPV4 and IPv6 addresses are supported.",
                "title": "IP Addressess"
              },
              "infected_machine_id": {
                "type": "string",
                "description": "The unique id of the infected user's system.",
                "title": "Infected Machine Id"
              },
              "infected_path": {
                "type": "string",
                "description": "The local path to the malicious software installed on the infected user's system.",
                "title": "Infected Path"
              },
              "infected_time": {
                "type": "string",
                "description": "The time at which the user's system was infected with malicious software.",
                "title": "Infected Time"
              },
              "user_sys_domain": {
                "type": "string",
                "description": "System domain. This usually comes from Botnet data.",
                "title": "User System Domain"
              },
              "user_hostname": {
                "type": "string",
                "description": "System hostname. This usually comes from Botnet data.",
                "title": "User Hostname"
              },
              "user_os": {
                "type": "string",
                "description": "System OS name. This usually comes from Botnet data.",
                "title": "User OS Name"
              },
              "user_sys_registered_owner": {
                "type": "string",
                "description": "System registered owner name. This usually comes from Botnet data.",
                "title": "System Registered Owner Name"
              },
              "source_id": {
                "type": "number",
                "description": "Numerical breach ID. This correlates directly with the id field in Breach Catalog objects.",
                "title": "Source ID"
              },
              "spycloud_publish_date": {
                "type": "string",
                "description": "The date on which we ingested the breached data into our systems. This is the same date on which the data becomes publicly available to our customers.",
                "title": "Spycloud Publish Date"
              },
              "email_domain": {
                "type": "string",
                "description": "Domain extracted from 'email_address' field. This is not a SLD, but everything after the '@' symbol.",
                "title": "Email Domain"
              },
              "email_username": {
                "type": "string",
                "description": "Username extracted from 'email' field. This is everything before the '@' symbol.",
                "title": "Email Username"
              },
              "domain": {
                "type": "string",
                "description": "Domain name.",
                "title": "Domain"
              },
              "target_domain": {
                "type": "string",
                "description": "SLD extracted from 'target_url' field.",
                "title": "Target Domain"
              },
              "target_subdomain": {
                "type": "string",
                "description": "Subdomain and SLD extracted from 'target_url' field.",
                "title": "Target Sub Domain"
              },
              "severity": {
                "type": "number",
                "description": "Severity is a numeric code representing severity of a breach record. This can be used in API requests to ensure only Breach Records with plaintext password are returned.",
                "title": "Severity"
              },
              "document_id": {
                "type": "string",
                "description": "UUID v4 string which uniquely identifies this breach record in our data set.",
                "title": "Document ID"
              }
            }
          },
          "description": "Username Breach Results Object"
        }
      },
      "description": "Username Breach Data Response"
    },
    "Breach_Data_By_Watchlist_Schema": {
      "type": "object",
      "properties": {
        "cursor": {
          "type": "string",
          "description": "cursor",
          "title": "Cursor"
        },
        "hits": {
          "type": "number",
          "description": "hits",
          "title": "Hits"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "username": {
                "type": "string",
                "description": "User name.",
                "title": "Username"
              },
              "password": {
                "type": "string",
                "description": "Account password.",
                "title": "Password"
              },
              "password_plaintext": {
                "type": "string",
                "description": "The cracked, plaintext version of the password (where the password is crackable).",
                "title": "Password Plaintext"
              },
              "password_type": {
                "type": "string",
                "description": "Password type for original password as found in the data breach. This will either be plaintext or one of the many password hash/encryption types (SHA1, MD5, 3DES, etc).",
                "title": "Password Type"
              },
              "target_url": {
                "type": "string",
                "description": "URL extracted from Botnet data. This is the URL that is captured from a key logger installed on an infected user's system.",
                "title": "Target URL"
              },
              "user_browser": {
                "type": "string",
                "description": "Browser name.",
                "title": "User Browser"
              },
              "ip_addresses": {
                "type": "string",
                "description": "List of one or more IP addresses in alphanumeric format. Both IPV4 and IPv6 addresses are supported.",
                "title": "IP Addressess"
              },
              "infected_machine_id": {
                "type": "string",
                "description": "The unique id of the infected user's system.",
                "title": "Infected Machine Id"
              },
              "infected_path": {
                "type": "string",
                "description": "The local path to the malicious software installed on the infected user's system.",
                "title": "Infected Path"
              },
              "infected_time": {
                "type": "string",
                "description": "The time at which the user's system was infected with malicious software.",
                "title": "Infected Time"
              },
              "user_sys_domain": {
                "type": "string",
                "description": "System domain. This usually comes from Botnet data.",
                "title": "User System Domain"
              },
              "user_hostname": {
                "type": "string",
                "description": "System hostname. This usually comes from Botnet data.",
                "title": "User Hostname"
              },
              "user_os": {
                "type": "string",
                "description": "System OS name. This usually comes from Botnet data.",
                "title": "User OS Name"
              },
              "user_sys_registered_owner": {
                "type": "string",
                "description": "System registered owner name. This usually comes from Botnet data.",
                "title": "System Registered Owner Name"
              },
              "source_id": {
                "type": "number",
                "description": "Numerical breach ID. This correlates directly with the id field in Breach Catalog objects.",
                "title": "Source ID"
              },
              "spycloud_publish_date": {
                "type": "string",
                "description": "The date on which we ingested the breached data into our systems. This is the same date on which the data becomes publicly available to our customers.",
                "title": "Spycloud Publish Date"
              },
              "target_domain": {
                "type": "string",
                "description": "SLD extracted from 'target_url' field.",
                "title": "Target Domain"
              },
              "target_subdomain": {
                "type": "string",
                "description": "Subdomain and SLD extracted from 'target_url' field.",
                "title": "Target Sub Domain"
              },
              "severity": {
                "type": "number",
                "description": "Severity is a numeric code representing severity of a breach record. This can be used in API requests to ensure only Breach Records with plaintext password are returned.",
                "title": "Severity"
              },
              "document_id": {
                "type": "string",
                "description": "UUID v4 string which uniquely identifies this breach record in our data set.",
                "title": "Document ID"
              }
            }
          },
          "description": "Watchlist Breach Results Object"
        }
      },
      "description": "Watchlist Breach Data Response"
    },
    "Compass_Devices_List_Schema": {
      "type": "object",
      "properties": {
        "hits": {
          "type": "number",
          "description": "hits",
          "title": "Hits"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "infected_device_id": {
                "type": "string",
                "description": "Infected Device Id.",
                "title": "Infected Device Id"
              },
              "user_hostname": {
                "type": "string",
                "description": "System hostname. This usually comes from Botnet data.",
                "title": "User Hostname"
              },
              "user_os": {
                "type": "string",
                "description": "System OS name. This usually comes from Botnet data.",
                "title": "User OS"
              },
              "ip_addresses": {
                "type": "string",
                "description": "List of one or more IP addresses in alphanumeric format. Both IPV4 and IPv6 addresses are supported.",
                "title": "IP Addresses"
              },
              "source_id": {
                "type": "number",
                "description": "Numerical breach ID. This correlates directly with the id field in Breach Catalog objects.",
                "title": "Source ID"
              },
              "spycloud_publish_date": {
                "type": "string",
                "description": "The date on which we ingested the breached data into our systems. This is the same date on which the data becomes publicly available to our customers.",
                "title": "Spycloud Publish Date"
              },
              "infected_time": {
                "type": "string",
                "description": "The time at which the user's system was infected with malicious software.",
                "title": "Infected Time"
              },
              "application_count": {
                "type": "string",
                "description": "Application Count.",
                "title": "Application Count"
              }
            }
          },
          "description": "Compass Devices List Results Object"
        }
      },
      "description": "Compass Devices List Data Response"
    },
    "Compass_Devices_Data_Schema": {
      "type": "object",
      "properties": {
        "hits": {
          "type": "number",
          "description": "hits",
          "title": "Hits"
        },
        "cursor": {
          "type": "string",
          "description": "Token used for iterating through multiple pages of results.",
          "title": "Cursor"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "user_browser": {
                "type": "string",
                "description": "Browser Name.",
                "title": "User Browser"
              },
              "password": {
                "type": "string",
                "description": "Account password.",
                "title": "Password"
              },
              "document_id": {
                "type": "string",
                "description": "UUID v4 string which uniquely identifies this breach record in our data set.",
                "title": "Document Id"
              },
              "source_id": {
                "type": "string",
                "description": "Numerical breach ID. This correlates directly with the id field in Breach Catalog objects.",
                "title": "Source Id"
              },
              "email": {
                "type": "string",
                "description": "Email address.",
                "title": "Email"
              },
              "ip_addresses": {
                "type": "string",
                "description": "List of one or more IP addresses in alphanumeric format. Both IPV4 and IPv6 addresses are supported.",
                "title": "IP Addresses"
              },
              "country": {
                "type": "string",
                "description": "Country name.",
                "title": "Country"
              },
              "infected_machine_id": {
                "type": "string",
                "description": "The unique id of the infected user's system.",
                "title": "Infected Machine Id"
              },
              "infected_path": {
                "type": "string",
                "description": "The local path to the malicious software installed on the infected user's system.",
                "title": "Infected Path"
              },
              "user_os": {
                "type": "string",
                "description": "System OS name. This usually comes from Botnet data.",
                "title": "USer OS"
              },
              "user_hostname": {
                "type": "string",
                "description": "System hostname. This usually comes from Botnet data.",
                "title": "User Hostname"
              },
              "user_sys_registered_owner": {
                "type": "string",
                "description": "System registered owner name. This usually comes from Botnet data.",
                "title": "User System Registered Owner"
              },
              "keyboard_languages": {
                "type": "string",
                "description": "The keyboard language found in the OS. This usually comes from Botnet data.",
                "title": "Keyboard Languages"
              },
              "target_url": {
                "type": "string",
                "description": "URL extracted from Botnet data. This is the URL that is captured from a key logger installed on an infected user's system.",
                "title": "Target URL"
              },
              "infected_time": {
                "type": "string",
                "description": "The time at which the user's system was infected with malicious software.",
                "title": "Infected Time"
              },
              "spycloud_publish_date": {
                "type": "string",
                "description": "The date on which this record was ingested into our systems. In ISO 8601 datetime format. This correlates with spycloud_publish_date field in Breach Catalog objects.",
                "title": "Spycloud Publish Date"
              },
              "email_domain": {
                "type": "string",
                "description": "Domain extracted from 'email_address' field. This is not a SLD, but everything after the '@' symbol.",
                "title": "Email Domain"
              },
              "email_username": {
                "type": "string",
                "description": "Username extracted from 'email' field. This is everything before the '@' symbol.",
                "title": "Email Username"
              },
              "domain": {
                "type": "string",
                "description": "Domain name.",
                "title": "Domain"
              },
              "target_domain": {
                "type": "string",
                "description": "SLD extracted from 'target_url' field.",
                "title": "Target Domain"
              },
              "target_subdomain": {
                "type": "string",
                "description": "Subdomain and SLD extracted from 'target_url' field.",
                "title": "Target Subdomain"
              },
              "password_type": {
                "type": "string",
                "description": "Password type for original password as found in the data breach. This will either be plaintext or one of the many password hash/encryption types (SHA1, MD5, 3DES, etc).",
                "title": "PAssword Type"
              },
              "password_plaintext": {
                "type": "string",
                "description": "The cracked, plaintext version of the password (where the password is crackable).",
                "title": "Password Plaintext"
              },
              "country_code": {
                "type": "string",
                "description": "Country code; derived from country.",
                "title": "Country Code"
              },
              "severity": {
                "type": "string",
                "description": "Severity is a numeric code representing severity of a breach record. This can be used in API requests to ensure only Breach Records with plaintext password are returned.",
                "title": "Severity"
              }
            }
          },
          "description": "Compass Devices Data Results Object"
        }
      },
      "description": "Compass Devices Data Response"
    },
    "Compass_Applications_Data_Schema": {
      "type": "object",
      "properties": {
        "hits": {
          "type": "number",
          "description": "hits",
          "title": "Hits"
        },
        "cursor": {
          "type": "string",
          "description": "Token used for iterating through multiple pages of results.",
          "title": "Cursor"
        },
        "results": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "user_browser": {
                "type": "string",
                "description": "Browser Name.",
                "title": "User Browser"
              },
              "password": {
                "type": "string",
                "description": "Account password.",
                "title": "Password"
              },
              "document_id": {
                "type": "string",
                "description": "UUID v4 string which uniquely identifies this breach record in our data set.",
                "title": "Document Id"
              },
              "source_id": {
                "type": "string",
                "description": "Numerical breach ID. This correlates directly with the id field in Breach Catalog objects.",
                "title": "Source Id"
              },
              "email": {
                "type": "string",
                "description": "Email address.",
                "title": "Email"
              },
              "ip_addresses": {
                "type": "string",
                "description": "List of one or more IP addresses in alphanumeric format. Both IPV4 and IPv6 addresses are supported.",
                "title": "IP Addresses"
              },
              "country": {
                "type": "string",
                "description": "Country name.",
                "title": "Country"
              },
              "infected_machine_id": {
                "type": "string",
                "description": "The unique id of the infected user's system.",
                "title": "Infected Machine Id"
              },
              "infected_path": {
                "type": "string",
                "description": "The local path to the malicious software installed on the infected user's system.",
                "title": "Infected Path"
              },
              "user_os": {
                "type": "string",
                "description": "System OS name. This usually comes from Botnet data.",
                "title": "USer OS"
              },
              "user_hostname": {
                "type": "string",
                "description": "System hostname. This usually comes from Botnet data.",
                "title": "User Hostname"
              },
              "user_sys_registered_owner": {
                "type": "string",
                "description": "System registered owner name. This usually comes from Botnet data.",
                "title": "User System Registered Owner"
              },
              "keyboard_languages": {
                "type": "string",
                "description": "The keyboard language found in the OS. This usually comes from Botnet data.",
                "title": "Keyboard Languages"
              },
              "target_url": {
                "type": "string",
                "description": "URL extracted from Botnet data. This is the URL that is captured from a key logger installed on an infected user's system.",
                "title": "Target URL"
              },
              "infected_time": {
                "type": "string",
                "description": "The time at which the user's system was infected with malicious software.",
                "title": "Infected Time"
              },
              "spycloud_publish_date": {
                "type": "string",
                "description": "The date on which this record was ingested into our systems. In ISO 8601 datetime format. This correlates with spycloud_publish_date field in Breach Catalog objects.",
                "title": "Spycloud Publish Date"
              },
              "email_domain": {
                "type": "string",
                "description": "Domain extracted from 'email_address' field. This is not a SLD, but everything after the '@' symbol.",
                "title": "Email Domain"
              },
              "email_username": {
                "type": "string",
                "description": "Username extracted from 'email' field. This is everything before the '@' symbol.",
                "title": "Email Username"
              },
              "domain": {
                "type": "string",
                "description": "Domain name.",
                "title": "Domain"
              },
              "target_domain": {
                "type": "string",
                "description": "SLD extracted from 'target_url' field.",
                "title": "Target Domain"
              },
              "target_subdomain": {
                "type": "string",
                "description": "Subdomain and SLD extracted from 'target_url' field.",
                "title": "Target Subdomain"
              },
              "password_type": {
                "type": "string",
                "description": "Password type for original password as found in the data breach. This will either be plaintext or one of the many password hash/encryption types (SHA1, MD5, 3DES, etc).",
                "title": "PAssword Type"
              },
              "password_plaintext": {
                "type": "string",
                "description": "The cracked, plaintext version of the password (where the password is crackable).",
                "title": "Password Plaintext"
              },
              "country_code": {
                "type": "string",
                "description": "Country code; derived from country.",
                "title": "Country Code"
              },
              "severity": {
                "type": "string",
                "description": "Severity is a numeric code representing severity of a breach record. This can be used in API requests to ensure only Breach Records with plaintext password are returned.",
                "title": "Severity"
              }
            }
          },
          "description": "Compass Application Data Results Object"
        }
      },
      "description": "Compass Application Data Response"
    }
  },
  "parameters": {
    "Infected_Machine_Id": {
      "name": "infected_machine_id",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "One or more comma delimited Infected Machine ID to search for compass breach records.",
      "x-ms-summary": "Infected Machine Id"
    },
    "Target_Application": {
      "name": "target_application",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "One or more comma delimited Compass target application (subdomain or domain) to search for.",
      "x-ms-summary": "Target Application"
    },
    "ID": {
      "name": "id",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Numerical ID of the breach. Both integer and UUIDv4 ID formats are supported. You may also use a comma delimiter to request more than one breach at a time.",
      "x-ms-summary": "ID"
    },
    "Domain": {
      "name": "domain",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Domain or Subdomain name to search for.",
      "x-ms-summary": "Domain"
    },
    "Email": {
      "name": "email",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Email address to search for.",
      "x-ms-summary": "Email Address"
    },
    "IP": {
      "name": "ip",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "IP address or network CIDR notation to search for. For CIDR notation, use an underscore instead of a slash.",
      "x-ms-summary": "IP Address"
    },
    "Password": {
      "name": "password",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Password you wish to search for.",
      "x-ms-summary": "Password"
    },
    "Username": {
      "name": "username",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Username you wish to search for.",
      "x-ms-summary": "Username"
    },
    "Query": {
      "name": "query",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Query value to search the breach catalog for.",
      "x-ms-summary": "Query"
    },
    "Type": {
      "name": "type",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "This parameter lets you filter results by several types. The allowed values are 'corporate' for corporate records, and 'infected' for infected user records, email_domain to just match against email domains, and target_domain to just match against target domains or subdomains. If no value has been provided the API function will, by default, return all record types.",
      "x-ms-summary": "Type",
      "enum": [
        "corporate",
        "infected",
        "email_domain",
        "target_domain"
      ]
    },
    "Compass_Type": {
      "name": "type",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "This parameter will return records that are verified or unverified, meaning those that matched the watchlist or not. By default if type is not used, both types will be returned.",
      "x-ms-summary": "Type",
      "enum": [
        "verified",
        "unverified"
      ]
    },
    "Watchlist_Type": {
      "name": "watchlist_type",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "This parameters lets you filter results for only emails or only domains on your watchlist. The allowed values are: ['email', 'domain', 'subdomain', 'ip']. If no value has been provided, the API will return all watchlist types.",
      "x-ms-summary": "Watchlist Type",
      "enum": [
        "email",
        "domain",
        "subdomain",
        "ip"
      ]
    },
    "Cursor": {
      "name": "cursor",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Token used for iterating through multiple pages of results.",
      "x-ms-summary": "Cursor"
    },
    "Since": {
      "name": "since",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "This parameter allows you to define the starting point for a date range query on the spycloud_publish_date field.",
      "x-ms-summary": "Since(YYYY-MM-DD)"
    },
    "Until": {
      "name": "until",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "This parameter allows you to define the ending point for a date range query on the spycloud_publish_date field.",
      "x-ms-summary": "Until(YYYY-MM-DD)"
    },
    "Since_Modification_Date": {
      "name": "since_modification_date",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "This parameter allows you to define the starting point for a date range query on the when an already published record was modified (record_modification_date).",
      "x-ms-summary": "Since Modification Date(YYYY-MM-DD)"
    },
    "Until_Modification_Date": {
      "name": "until_modification_date",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "This parameter allows you to define the ending point for a date range query on the when an already published record was modified (record_modification_date).",
      "x-ms-summary": "Until Modification Date(YYYY-MM-DD)"
    },
    "Severity": {
      "name": "severity",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "This parameter allows you to filter based on the numeric severity code.",
      "x-ms-summary": "Severity"
    },
    "Source_Id": {
      "name": "source_id",
      "in": "query",
      "required": false,
      "type": "number",
      "description": "This parameter allows you to filter based on a particular breach source.",
      "x-ms-summary": "Source Id"
    },
    "Salt": {
      "name": "salt",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "If hashing is enabled for your API key, you have the option to provide a 10 to 24 character, high entropy salt otherwise the pre-configured salt will be used.",
      "x-ms-summary": "Salt"
    },
    "Since_Infected": {
      "name": "since_infected",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "This parameter allows you to define the starting point for a date range query on the infected_time..",
      "x-ms-summary": "Since Infected(YYYY-MM-DD)"
    },
    "Until_Infected": {
      "name": "until_infected",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "This parameter allows you to define the ending point for a date range query on the infected_time field.",
      "x-ms-summary": "Until Infected(YYYY-MM-DD)"
    }
  },
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}