{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Jordan Open Data",
    "description": "Jordan Open Data is the national open government data portal of the Hashemite Kingdom of Jordan. This connector searches the dataset catalogue, reads dataset and resource metadata, browses publishing agencies, groups, tags and licences, and queries the tabular rows held in the portal DataStore.",
    "contact": {
      "name": "Dan Romano",
      "url": "https://github.com/krautrocker"
    }
  },
  "host": "opendata.gov.jo",
  "basePath": "/api/3/action",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/package_search": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Search datasets",
        "description": "Searches the Jordan Open Data catalogue and returns the matching datasets with their full metadata, resources and tags. Use the Search Query option for free text and the Filter Query option to restrict results to a publishing agency, a file format or another indexed field.",
        "operationId": "SearchDatasets",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Search Options",
            "description": "The search options sent to the portal.",
            "schema": {
              "$ref": "#/definitions/SearchDatasetsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The matching datasets were returned.",
            "schema": {
              "$ref": "#/definitions/SearchDatasetsResponse"
            }
          },
          "400": {
            "description": "The request was malformed, or the Filter Query option used an invalid field name."
          },
          "409": {
            "description": "The search query could not be parsed by the portal search engine."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/package_show": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get dataset",
        "description": "Retrieves a single dataset from the Jordan Open Data catalogue by its name or identifier, including its bilingual title and description, publishing agency, licence, tags, groups and the full list of downloadable resources.",
        "operationId": "GetDataset",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Dataset Options",
            "description": "The dataset to retrieve.",
            "schema": {
              "$ref": "#/definitions/GetDatasetRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset was returned.",
            "schema": {
              "$ref": "#/definitions/DatasetResponse"
            }
          },
          "404": {
            "description": "No dataset exists with the supplied name or identifier."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/package_list": {
      "post": {
        "tags": [
          "Datasets"
        ],
        "summary": "List dataset names",
        "description": "Returns the names of the datasets published on the portal as a plain list of identifiers. Use this operation to enumerate the catalogue cheaply, then call Get dataset for the metadata of an individual dataset.",
        "operationId": "ListDatasetNames",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Paging Options",
            "description": "The paging options applied to the list of dataset names.",
            "schema": {
              "$ref": "#/definitions/ListDatasetNamesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The dataset names were returned.",
            "schema": {
              "$ref": "#/definitions/NameListResponse"
            }
          },
          "400": {
            "description": "The request was malformed."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/organization_list": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "List organizations",
        "description": "Returns the government agencies and other organizations that publish datasets on the Jordan Open Data portal, with the title, description, logo and published dataset count of each.",
        "operationId": "ListOrganizations",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Paging Options",
            "description": "The paging options applied to the list of organizations.",
            "schema": {
              "$ref": "#/definitions/ListOrganizationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The organizations were returned.",
            "schema": {
              "$ref": "#/definitions/OrganizationListResponse"
            }
          },
          "400": {
            "description": "The request was malformed."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/organization_show": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "summary": "Get organization",
        "description": "Retrieves a single publishing organization by its name or identifier, including its title, description, logo and the number of datasets it has published.",
        "operationId": "GetOrganization",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Organization Options",
            "description": "The organization to retrieve.",
            "schema": {
              "$ref": "#/definitions/GetOrganizationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The organization was returned.",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "404": {
            "description": "No organization exists with the supplied name or identifier."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/group_list": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "List groups",
        "description": "Returns the thematic groups used to categorise datasets on the portal, such as agriculture, health and education, with the title, description and dataset count of each.",
        "operationId": "ListGroups",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Group Options",
            "description": "The options applied to the list of groups.",
            "schema": {
              "$ref": "#/definitions/ListGroupsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The groups were returned.",
            "schema": {
              "$ref": "#/definitions/GroupListResponse"
            }
          },
          "400": {
            "description": "The request was malformed."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/group_show": {
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Get group",
        "description": "Retrieves a single thematic group by its name or identifier, including its title, description and the number of datasets assigned to it.",
        "operationId": "GetGroup",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Group Options",
            "description": "The group to retrieve.",
            "schema": {
              "$ref": "#/definitions/GetGroupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The group was returned.",
            "schema": {
              "$ref": "#/definitions/GroupResponse"
            }
          },
          "404": {
            "description": "No group exists with the supplied name or identifier."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/resource_show": {
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Get resource",
        "description": "Retrieves the metadata of a single resource, which is one downloadable file or link attached to a dataset, including its download URL, file format, size and whether its contents are queryable through the DataStore.",
        "operationId": "GetResource",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Resource Options",
            "description": "The resource to retrieve.",
            "schema": {
              "$ref": "#/definitions/GetResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resource was returned.",
            "schema": {
              "$ref": "#/definitions/ResourceResponse"
            }
          },
          "404": {
            "description": "No resource exists with the supplied identifier."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/resource_search": {
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Search resources",
        "description": "Searches the downloadable resources published on the portal using a field and value expression, for example format:CSV. The search term must always name the field being searched, because a bare word is rejected by the portal.",
        "operationId": "SearchResources",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Search Options",
            "description": "The resource search options sent to the portal.",
            "schema": {
              "$ref": "#/definitions/SearchResourcesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The matching resources were returned.",
            "schema": {
              "$ref": "#/definitions/SearchResourcesResponse"
            }
          },
          "409": {
            "description": "The Search Query option was not written as a field and value expression, such as format:CSV."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/datastore_search": {
      "post": {
        "tags": [
          "Resources"
        ],
        "summary": "Search DataStore records",
        "description": "Returns the tabular rows held in the DataStore for a resource, together with the name and data type of every column. This is the operation that reads the actual contents of a dataset rather than its metadata, and it works only for resources whose DataStore Active property is true.",
        "operationId": "SearchDatastoreRecords",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "DataStore Options",
            "description": "The DataStore query options sent to the portal.",
            "schema": {
              "$ref": "#/definitions/SearchDatastoreRecordsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The DataStore rows were returned.",
            "schema": {
              "$ref": "#/definitions/DatastoreSearchResponse"
            }
          },
          "404": {
            "description": "The resource has no DataStore table, or the identifier does not exist."
          },
          "409": {
            "description": "A query option was invalid, such as a sort expression naming an unknown column."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/tag_list": {
      "post": {
        "tags": [
          "Reference"
        ],
        "summary": "List tags",
        "description": "Returns the keyword tags applied to datasets across the portal. Supply the Search Query option to return only the tags whose names contain a given word.",
        "operationId": "ListTags",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-summary": "Tag Options",
            "description": "The options applied to the list of tags.",
            "schema": {
              "$ref": "#/definitions/ListTagsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The tags were returned.",
            "schema": {
              "$ref": "#/definitions/NameListResponse"
            }
          },
          "400": {
            "description": "The request was malformed."
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    },
    "/license_list": {
      "post": {
        "tags": [
          "Reference"
        ],
        "summary": "List licences",
        "description": "Returns the licences that datasets on the portal can be published under, including the Open Jordanian Licence, with the title, reference URL and openness conformance of each.",
        "operationId": "ListLicenses",
        "x-ms-visibility": "advanced",
        "parameters": [],
        "responses": {
          "200": {
            "description": "The licences were returned.",
            "schema": {
              "$ref": "#/definitions/LicenseListResponse"
            }
          },
          "500": {
            "description": "The portal encountered an internal error."
          }
        }
      }
    }
  },
  "definitions": {
    "SearchDatasetsRequest": {
      "type": "object",
      "properties": {
        "q": {
          "type": "string",
          "x-ms-summary": "Search Query",
          "description": "The free text to search for across dataset titles, descriptions and tags. Leave empty to match every dataset. Example: health.",
          "x-ms-visibility": "important"
        },
        "fq": {
          "type": "string",
          "x-ms-summary": "Filter Query",
          "description": "A filter that restricts results to an indexed field value, written as field:value. Examples: organization:heacgov-migrated_2132 for one publishing agency, or res_format:CSV for datasets that offer a CSV file.",
          "x-ms-visibility": "important"
        },
        "rows": {
          "type": "integer",
          "format": "int32",
          "default": 10,
          "x-ms-summary": "Rows",
          "description": "The number of datasets to return in one call. Use together with Start to page through the results.",
          "x-ms-visibility": "important"
        },
        "start": {
          "type": "integer",
          "format": "int32",
          "default": 0,
          "x-ms-summary": "Start",
          "description": "The index of the first dataset to return, counting from 0. Use together with Rows to page through the results.",
          "x-ms-visibility": "advanced"
        },
        "sort": {
          "type": "string",
          "x-ms-summary": "Sort",
          "description": "The sort order, written as a field name followed by asc or desc. Examples: metadata_modified desc for the most recently updated datasets, or title_string asc for alphabetical order.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetDatasetRequest": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Dataset Name Or ID",
          "description": "The name or unique identifier of the dataset to retrieve. The name appears at the end of the dataset page URL on the portal, and is returned as the Name property of Search datasets.",
          "x-ms-visibility": "important"
        }
      }
    },
    "ListDatasetNamesRequest": {
      "type": "object",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "default": 100,
          "x-ms-summary": "Limit",
          "description": "The number of dataset names to return in one call.",
          "x-ms-visibility": "important"
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "default": 0,
          "x-ms-summary": "Offset",
          "description": "The index of the first dataset name to return, counting from 0.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListOrganizationsRequest": {
      "type": "object",
      "required": [
        "all_fields"
      ],
      "properties": {
        "all_fields": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "All Fields",
          "description": "Always sent as true so that the portal returns the full organization records described by this connector.",
          "x-ms-visibility": "internal"
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "default": 50,
          "x-ms-summary": "Limit",
          "description": "The number of organizations to return in one call.",
          "x-ms-visibility": "important"
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "default": 0,
          "x-ms-summary": "Offset",
          "description": "The index of the first organization to return, counting from 0.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GetOrganizationRequest": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Organization Name Or ID",
          "description": "The name or unique identifier of the organization to retrieve, as returned by the Name property of List organizations.",
          "x-ms-visibility": "important"
        }
      }
    },
    "ListGroupsRequest": {
      "type": "object",
      "required": [
        "all_fields"
      ],
      "properties": {
        "all_fields": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "All Fields",
          "description": "Always sent as true so that the portal returns the full group records described by this connector.",
          "x-ms-visibility": "internal"
        }
      }
    },
    "GetGroupRequest": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Group Name Or ID",
          "description": "The name or unique identifier of the group to retrieve, as returned by the Name property of List groups.",
          "x-ms-visibility": "important"
        }
      }
    },
    "GetResourceRequest": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Resource ID",
          "description": "The unique identifier of the resource to retrieve, as returned by the Resources property of Get dataset or Search datasets.",
          "x-ms-visibility": "important"
        }
      }
    },
    "SearchResourcesRequest": {
      "type": "object",
      "required": [
        "query"
      ],
      "properties": {
        "query": {
          "type": "string",
          "x-ms-summary": "Search Query",
          "description": "The resource search expression, written as field:value. A bare search word is rejected by the portal. Examples: format:CSV, or name:budget.",
          "x-ms-visibility": "important"
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "default": 20,
          "x-ms-summary": "Limit",
          "description": "The number of resources to return in one call.",
          "x-ms-visibility": "important"
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "default": 0,
          "x-ms-summary": "Offset",
          "description": "The index of the first resource to return, counting from 0.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "SearchDatastoreRecordsRequest": {
      "type": "object",
      "required": [
        "resource_id"
      ],
      "properties": {
        "resource_id": {
          "type": "string",
          "x-ms-summary": "Resource ID",
          "description": "The unique identifier of the resource whose rows are to be returned. Use Get resource first and confirm that its DataStore Active property is true.",
          "x-ms-visibility": "important"
        },
        "q": {
          "type": "string",
          "x-ms-summary": "Search Query",
          "description": "The free text to search for across every column of the table. Leave empty to return all rows.",
          "x-ms-visibility": "important"
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "default": 100,
          "x-ms-summary": "Limit",
          "description": "The number of rows to return in one call. Use together with Offset to page through a large table.",
          "x-ms-visibility": "important"
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "default": 0,
          "x-ms-summary": "Offset",
          "description": "The index of the first row to return, counting from 0.",
          "x-ms-visibility": "advanced"
        },
        "sort": {
          "type": "string",
          "x-ms-summary": "Sort",
          "description": "The sort order, written as a column name followed by asc or desc. The column must exist in the table. Example: _id desc.",
          "x-ms-visibility": "advanced"
        },
        "fields": {
          "type": "string",
          "x-ms-summary": "Fields",
          "description": "A comma-separated list of the column names to return. Leave empty to return every column.",
          "x-ms-visibility": "advanced"
        },
        "distinct": {
          "type": "boolean",
          "default": false,
          "x-ms-summary": "Distinct Rows Only",
          "description": "Set to true to remove duplicate rows from the result. This is most useful when the Fields option limits the result to a small number of columns.",
          "x-ms-visibility": "advanced"
        },
        "include_total": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Include Total",
          "description": "Set to false to omit the total row count from the response, which makes the query faster on very large tables.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "ListTagsRequest": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string",
          "x-ms-summary": "Search Query",
          "description": "A word that the returned tag names must contain. Leave empty to return every tag on the portal.",
          "x-ms-visibility": "important"
        }
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Tag ID",
          "description": "The unique identifier of the tag."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The name of the tag."
        },
        "display_name": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "description": "The name of the tag as shown on the portal."
        },
        "state": {
          "type": "string",
          "x-ms-summary": "State",
          "description": "The lifecycle state of the tag, such as active."
        },
        "vocabulary_id": {
          "type": "string",
          "x-ms-summary": "Vocabulary ID",
          "description": "The identifier of the controlled vocabulary the tag belongs to, if any."
        }
      }
    },
    "Resource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Resource ID",
          "description": "The unique identifier of the resource. Pass this value to Get resource or Search DataStore records."
        },
        "package_id": {
          "type": "string",
          "x-ms-summary": "Dataset ID",
          "description": "The unique identifier of the dataset that the resource belongs to."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The English name of the resource."
        },
        "name_arabic": {
          "type": "string",
          "x-ms-summary": "Name (Arabic)",
          "description": "The Arabic name of the resource."
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "description": "The English description of the resource."
        },
        "description_arabic": {
          "type": "string",
          "x-ms-summary": "Description (Arabic)",
          "description": "The Arabic description of the resource."
        },
        "url": {
          "type": "string",
          "x-ms-summary": "URL",
          "description": "The download URL of the resource file."
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Format",
          "description": "The file format of the resource, such as CSV, XLSX or PDF."
        },
        "mimetype": {
          "type": "string",
          "x-ms-summary": "Media Type",
          "description": "The internet media type of the resource file."
        },
        "size": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Size",
          "description": "The size of the resource file in bytes. Declared as int32 to match every value observed live; omitting the format outright still failed Power Platform's response validation (it read as \"undefined\" and was flagged against the actual int32 values). If a resource file ever exceeds ~2.1 GB this will need revisiting."
        },
        "hash": {
          "type": "string",
          "x-ms-summary": "Hash",
          "description": "The checksum of the resource file, when the portal has calculated one."
        },
        "state": {
          "type": "string",
          "x-ms-summary": "State",
          "description": "The lifecycle state of the resource, such as active."
        },
        "position": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Position",
          "description": "The position of the resource in the ordered list of resources on the dataset."
        },
        "resource_type": {
          "type": "string",
          "x-ms-summary": "Resource Type",
          "description": "The type of the resource, such as file or documentation."
        },
        "url_type": {
          "type": "string",
          "x-ms-summary": "URL Type",
          "description": "How the resource is hosted. The value upload means the file is stored on the portal."
        },
        "datastore_active": {
          "type": "boolean",
          "x-ms-summary": "DataStore Active",
          "description": "Whether the contents of the resource have been loaded into the DataStore and can be queried with Search DataStore records."
        },
        "datastore_contains_all_records_of_source_file": {
          "type": "boolean",
          "x-ms-summary": "DataStore Complete",
          "description": "Whether the DataStore table holds every row of the source file."
        },
        "download_count": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Download Count",
          "description": "The number of times the resource has been downloaded from the portal."
        },
        "created": {
          "type": "string",
          "x-ms-summary": "Created",
          "description": "The date and time at which the resource was created."
        },
        "last_modified": {
          "type": "string",
          "x-ms-summary": "Last Modified",
          "description": "The date and time at which the resource file was last modified."
        },
        "metadata_modified": {
          "type": "string",
          "x-ms-summary": "Metadata Modified",
          "description": "The date and time at which the resource metadata was last modified."
        },
        "upload_file_name": {
          "type": "string",
          "x-ms-summary": "Uploaded File Name",
          "description": "The original file name of the uploaded resource."
        }
      }
    },
    "DatasetOrganization": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Organization ID",
          "description": "The unique identifier of the publishing organization."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The name of the publishing organization, used in the Filter Query option of Search datasets."
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description": "The display title of the publishing organization."
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "description": "The description of the publishing organization."
        },
        "image_url": {
          "type": "string",
          "x-ms-summary": "Logo URL",
          "description": "The URL of the logo of the publishing organization."
        },
        "created": {
          "type": "string",
          "x-ms-summary": "Created",
          "description": "The date and time at which the organization was created on the portal."
        },
        "state": {
          "type": "string",
          "x-ms-summary": "State",
          "description": "The lifecycle state of the organization, such as active."
        },
        "approval_status": {
          "type": "string",
          "x-ms-summary": "Approval Status",
          "description": "Whether the organization has been approved on the portal."
        }
      }
    },
    "DatasetGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Group ID",
          "description": "The unique identifier of the group."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The name of the group."
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description": "The display title of the group."
        },
        "display_name": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "description": "The name of the group as shown on the portal."
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "description": "The description of the group."
        },
        "image_display_url": {
          "type": "string",
          "x-ms-summary": "Image URL",
          "description": "The URL of the image shown for the group on the portal."
        }
      }
    },
    "DatasetExtra": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "x-ms-summary": "Key",
          "description": "The name of the additional metadata field, such as total_views or rating."
        },
        "value": {
          "type": "string",
          "x-ms-summary": "Value",
          "description": "The value of the additional metadata field, returned as text."
        }
      }
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Dataset ID",
          "description": "The unique identifier of the dataset."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The URL name of the dataset. Pass this value to Get dataset."
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description": "The English title of the dataset."
        },
        "title_ar": {
          "type": "string",
          "x-ms-summary": "Title (Arabic)",
          "description": "The Arabic title of the dataset."
        },
        "notes": {
          "type": "string",
          "x-ms-summary": "Description",
          "description": "The English description of the dataset."
        },
        "description_ar": {
          "type": "string",
          "x-ms-summary": "Description (Arabic)",
          "description": "The Arabic description of the dataset."
        },
        "license_id": {
          "type": "string",
          "x-ms-summary": "Licence ID",
          "description": "The identifier of the licence the dataset is published under."
        },
        "license_title": {
          "type": "string",
          "x-ms-summary": "Licence Title",
          "description": "The title of the licence the dataset is published under."
        },
        "isopen": {
          "type": "boolean",
          "x-ms-summary": "Is Open",
          "description": "Whether the licence of the dataset qualifies as an open licence."
        },
        "author": {
          "type": "string",
          "x-ms-summary": "Author",
          "description": "The author of the dataset, as recorded by the publishing agency."
        },
        "maintainer": {
          "type": "string",
          "x-ms-summary": "Maintainer",
          "description": "The maintainer of the dataset, as recorded by the publishing agency."
        },
        "url": {
          "type": "string",
          "x-ms-summary": "Source URL",
          "description": "The source URL recorded for the dataset."
        },
        "version": {
          "type": "string",
          "x-ms-summary": "Version",
          "description": "The version label of the dataset."
        },
        "state": {
          "type": "string",
          "x-ms-summary": "State",
          "description": "The lifecycle state of the dataset, such as active."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The content type of the record, which is dataset for catalogue entries."
        },
        "private": {
          "type": "boolean",
          "x-ms-summary": "Is Private",
          "description": "Whether the dataset is private. Datasets returned by this connector are public."
        },
        "owner_org": {
          "type": "string",
          "x-ms-summary": "Owner Organization ID",
          "description": "The unique identifier of the organization that owns the dataset."
        },
        "publishing_status": {
          "type": "string",
          "x-ms-summary": "Publishing Status",
          "description": "The publishing workflow status of the dataset on the portal."
        },
        "update_periodicity": {
          "type": "string",
          "x-ms-summary": "Update Frequency",
          "description": "How often the dataset is updated, such as daily, monthly or annually."
        },
        "geographic_coverage": {
          "type": "string",
          "x-ms-summary": "Geographic Coverage",
          "description": "The geographic area the dataset covers, such as National."
        },
        "ds_year": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Dataset Year",
          "description": "The reference year of the dataset."
        },
        "num_resources": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Resource Count",
          "description": "The number of downloadable resources attached to the dataset."
        },
        "num_tags": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Tag Count",
          "description": "The number of tags applied to the dataset."
        },
        "total_downloads": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Total Downloads",
          "description": "The total number of times the resources of the dataset have been downloaded."
        },
        "metadata_created": {
          "type": "string",
          "x-ms-summary": "Created",
          "description": "The date and time at which the dataset was created on the portal."
        },
        "metadata_modified": {
          "type": "string",
          "x-ms-summary": "Modified",
          "description": "The date and time at which the dataset metadata was last modified."
        },
        "organization": {
          "$ref": "#/definitions/DatasetOrganization"
        },
        "resources": {
          "type": "array",
          "x-ms-summary": "Resources",
          "description": "The downloadable files and links attached to the dataset.",
          "items": {
            "$ref": "#/definitions/Resource"
          }
        },
        "tags": {
          "type": "array",
          "x-ms-summary": "Tags",
          "description": "The English keyword tags applied to the dataset.",
          "items": {
            "$ref": "#/definitions/Tag"
          }
        },
        "tags_arabic": {
          "type": "array",
          "x-ms-summary": "Tags (Arabic)",
          "description": "The Arabic keyword tags applied to the dataset.",
          "items": {
            "type": "string"
          }
        },
        "groups": {
          "type": "array",
          "x-ms-summary": "Groups",
          "description": "The thematic groups the dataset is assigned to.",
          "items": {
            "$ref": "#/definitions/DatasetGroup"
          }
        },
        "extras": {
          "type": "array",
          "x-ms-summary": "Additional Metadata",
          "description": "Additional metadata fields recorded for the dataset as key and value pairs.",
          "items": {
            "$ref": "#/definitions/DatasetExtra"
          }
        }
      }
    },
    "Organization": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Organization ID",
          "description": "The unique identifier of the organization."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The URL name of the organization. Pass this value to Get organization, or use it in the Filter Query option of Search datasets."
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description": "The display title of the organization."
        },
        "display_name": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "description": "The name of the organization as shown on the portal."
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "description": "The description of the organization."
        },
        "display_description": {
          "type": "string",
          "x-ms-summary": "Display Description",
          "description": "The description of the organization as shown on the portal."
        },
        "image_url": {
          "type": "string",
          "x-ms-summary": "Logo URL",
          "description": "The URL of the logo of the organization."
        },
        "image_display_url": {
          "type": "string",
          "x-ms-summary": "Logo Display URL",
          "description": "The fully qualified URL of the logo of the organization."
        },
        "package_count": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Dataset Count",
          "description": "The number of datasets published by the organization."
        },
        "num_followers": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Follower Count",
          "description": "The number of portal users following the organization."
        },
        "is_organization": {
          "type": "boolean",
          "x-ms-summary": "Is Organization",
          "description": "Whether the record is an organization rather than a group."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The record type, which is organization."
        },
        "state": {
          "type": "string",
          "x-ms-summary": "State",
          "description": "The lifecycle state of the organization, such as active."
        },
        "approval_status": {
          "type": "string",
          "x-ms-summary": "Approval Status",
          "description": "Whether the organization has been approved on the portal."
        },
        "created": {
          "type": "string",
          "x-ms-summary": "Created",
          "description": "The date and time at which the organization was created on the portal."
        }
      }
    },
    "Group": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Group ID",
          "description": "The unique identifier of the group."
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "The URL name of the group. Pass this value to Get group."
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description": "The display title of the group."
        },
        "display_name": {
          "type": "string",
          "x-ms-summary": "Display Name",
          "description": "The name of the group as shown on the portal."
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "description": "The description of the group."
        },
        "display_description": {
          "type": "string",
          "x-ms-summary": "Display Description",
          "description": "The description of the group as shown on the portal."
        },
        "image_url": {
          "type": "string",
          "x-ms-summary": "Image URL",
          "description": "The URL of the image of the group."
        },
        "image_display_url": {
          "type": "string",
          "x-ms-summary": "Image Display URL",
          "description": "The fully qualified URL of the image of the group."
        },
        "package_count": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Dataset Count",
          "description": "The number of datasets assigned to the group."
        },
        "num_followers": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Follower Count",
          "description": "The number of portal users following the group."
        },
        "is_organization": {
          "type": "boolean",
          "x-ms-summary": "Is Organization",
          "description": "Whether the record is an organization rather than a group. This is false for groups."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Type",
          "description": "The record type, which is group."
        },
        "state": {
          "type": "string",
          "x-ms-summary": "State",
          "description": "The lifecycle state of the group, such as active."
        },
        "approval_status": {
          "type": "string",
          "x-ms-summary": "Approval Status",
          "description": "Whether the group has been approved on the portal."
        },
        "created": {
          "type": "string",
          "x-ms-summary": "Created",
          "description": "The date and time at which the group was created on the portal."
        }
      }
    },
    "License": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Licence ID",
          "description": "The identifier of the licence, as used by the Licence ID property of a dataset."
        },
        "title": {
          "type": "string",
          "x-ms-summary": "Title",
          "description": "The English title of the licence."
        },
        "name_ar": {
          "type": "string",
          "x-ms-summary": "Title (Arabic)",
          "description": "The Arabic title of the licence."
        },
        "description": {
          "type": "string",
          "x-ms-summary": "Description",
          "description": "The English description of the licence."
        },
        "description_ar": {
          "type": "string",
          "x-ms-summary": "Description (Arabic)",
          "description": "The Arabic description of the licence."
        },
        "url": {
          "type": "string",
          "x-ms-summary": "URL",
          "description": "The URL of the full licence text."
        },
        "family": {
          "type": "string",
          "x-ms-summary": "Family",
          "description": "The licence family the licence belongs to."
        },
        "maintainer": {
          "type": "string",
          "x-ms-summary": "Maintainer",
          "description": "The organization that maintains the licence."
        },
        "status": {
          "type": "string",
          "x-ms-summary": "Status",
          "description": "Whether the licence is active on the portal."
        },
        "od_conformance": {
          "type": "string",
          "x-ms-summary": "Open Definition Conformance",
          "description": "Whether the licence conforms to the Open Definition."
        },
        "osd_conformance": {
          "type": "string",
          "x-ms-summary": "Open Source Definition Conformance",
          "description": "Whether the licence conforms to the Open Source Definition."
        },
        "domain_content": {
          "x-ms-summary": "Covers Content",
          "description": "Whether the licence is intended for content. Returned as the text True/False for most licences and as a true boolean for the portal's own Jordanian licence, so no fixed type is declared here."
        },
        "domain_data": {
          "x-ms-summary": "Covers Data",
          "description": "Whether the licence is intended for data. Returned as the text True/False for most licences and as a true boolean for the portal's own Jordanian licence, so no fixed type is declared here."
        },
        "domain_software": {
          "x-ms-summary": "Covers Software",
          "description": "Whether the licence is intended for software. Returned as the text True/False for most licences and as a true boolean for the portal's own Jordanian licence, so no fixed type is declared here."
        }
      }
    },
    "DatastoreField": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Column Name",
          "description": "The name of the column in the DataStore table."
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Column Type",
          "description": "The data type of the column, such as text, int, numeric or timestamp."
        }
      }
    },
    "DatastoreRecord": {
      "type": "object",
      "description": "One row of a DataStore table. The columns differ for every resource, so the properties are not fixed.",
      "additionalProperties": true
    },
    "SearchDatasetsResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "type": "object",
          "x-ms-summary": "Result",
          "description": "The search result.",
          "properties": {
            "count": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Total Count",
              "description": "The total number of datasets matching the search, which may be larger than the number returned."
            },
            "results": {
              "type": "array",
              "x-ms-summary": "Datasets",
              "description": "The datasets matching the search.",
              "items": {
                "$ref": "#/definitions/Dataset"
              }
            }
          }
        }
      }
    },
    "DatasetResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "$ref": "#/definitions/Dataset"
        }
      }
    },
    "NameListResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "type": "array",
          "x-ms-summary": "Names",
          "description": "The names returned by the portal.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OrganizationListResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "type": "array",
          "x-ms-summary": "Organizations",
          "description": "The organizations published on the portal.",
          "items": {
            "$ref": "#/definitions/Organization"
          }
        }
      }
    },
    "OrganizationResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "$ref": "#/definitions/Organization"
        }
      }
    },
    "GroupListResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "type": "array",
          "x-ms-summary": "Groups",
          "description": "The thematic groups published on the portal.",
          "items": {
            "$ref": "#/definitions/Group"
          }
        }
      }
    },
    "GroupResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "$ref": "#/definitions/Group"
        }
      }
    },
    "ResourceResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "$ref": "#/definitions/Resource"
        }
      }
    },
    "SearchResourcesResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "type": "object",
          "x-ms-summary": "Result",
          "description": "The resource search result.",
          "properties": {
            "count": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Total Count",
              "description": "The total number of resources matching the search."
            },
            "results": {
              "type": "array",
              "x-ms-summary": "Resources",
              "description": "The resources matching the search.",
              "items": {
                "$ref": "#/definitions/Resource"
              }
            }
          }
        }
      }
    },
    "LicenseListResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "type": "array",
          "x-ms-summary": "Licences",
          "description": "The licences available on the portal.",
          "items": {
            "$ref": "#/definitions/License"
          }
        }
      }
    },
    "DatastoreSearchResponse": {
      "type": "object",
      "properties": {
        "help": {
          "type": "string",
          "x-ms-summary": "Help URL",
          "description": "The URL of the portal documentation for this action."
        },
        "success": {
          "type": "boolean",
          "x-ms-summary": "Success",
          "description": "Whether the portal processed the request successfully."
        },
        "result": {
          "type": "object",
          "x-ms-summary": "Result",
          "description": "The DataStore query result.",
          "properties": {
            "resource_id": {
              "type": "string",
              "x-ms-summary": "Resource ID",
              "description": "The identifier of the resource that was queried."
            },
            "total": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Total Rows",
              "description": "The total number of rows matching the query, which may be larger than the number returned."
            },
            "limit": {
              "type": "integer",
              "format": "int32",
              "x-ms-summary": "Limit",
              "description": "The maximum number of rows that were requested."
            },
            "fields": {
              "type": "array",
              "x-ms-summary": "Columns",
              "description": "The name and data type of every column in the table.",
              "items": {
                "$ref": "#/definitions/DatastoreField"
              }
            },
            "records": {
              "type": "array",
              "x-ms-summary": "Rows",
              "description": "The rows returned by the query. The columns differ for every resource, so add a Parse JSON action to work with them as typed values.",
              "items": {
                "$ref": "#/definitions/DatastoreRecord"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "Datasets",
      "description": "Operations that search and read the dataset catalogue."
    },
    {
      "name": "Organizations",
      "description": "Operations that read the government agencies publishing on the portal."
    },
    {
      "name": "Groups",
      "description": "Operations that read the thematic groups used to categorise datasets."
    },
    {
      "name": "Resources",
      "description": "Operations that read resource metadata and the tabular rows held in the DataStore."
    },
    {
      "name": "Reference",
      "description": "Operations that read the tags and licences used across the portal."
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://opendata.gov.jo"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://opendata.gov.jo/en/pages/terms-and-conditions"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Business Intelligence"
    }
  ]
}
