{
  "swagger": "2.0",
  "info": {
    "title": "Placedog",
    "description": "Request dogs from placedog.net. Hand-picked, stunning photographs of our favorite pets: dogs! Free to use with your websites/projects! Featured in the #ThePawryParty Chrome Extension!",
    "version": "1.0",
     "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
     }
  },
  "host": "placedog.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{width}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a doggo - set width",
        "description": "Request a doggo with a set width between 1 and 1000. Height will be automatically set.",
        "operationId": "GetWidth",
        "parameters": [
          {
            "name": "width",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "default": 500,
            "x-ms-summary": "Width",
            "format": "int32",
            "description": "A number between 1 and 1000."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "ID",
            "format": "int32",
            "description": "The image ID to return."
          }
        ]
      }
    },
    "/{width}/{height}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a pupper - set width and height",
        "description": "Request a pupper with a set width and height, both between 1 and 1000.",
        "operationId": "GetWidthHeight",
        "parameters": [
          {
            "name": "width",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "default": 500,
            "x-ms-summary": "Width",
            "format": "int32",
            "description": "A number between 1 and 1000."
          },
          {
            "name": "height",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "default": 500,
            "x-ms-summary": "Height",
            "format": "int32",
            "description": "A number between 1 and 1000."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "ID",
            "format": "int32",
            "description": "The image ID to return."
          }
        ]
      }
    },
    "/{width}/{height}/{filter}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a woofer - set width and height with filter",
        "description": "Request a woofer with a filter and set width and height, both between 1 and 1000.",
        "operationId": "GetWidthHeightFilter",
        "parameters": [
          {
            "name": "width",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "default": 500,
            "x-ms-summary": "Width",
            "format": "int32",
            "description": "A number between 1 and 1000."
          },
          {
            "name": "height",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "integer",
            "default": 500,
            "x-ms-summary": "Height",
            "format": "int32",
            "description": "A number between 1 and 1000."
          },
          {
            "name": "filter",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "A filter added to the woofer.",
            "x-ms-summary": "Filter",
            "enum": [
              "greyscale",
              "pixelate",
              "blur",
              "invert",
              "sepia",
              "brightness",
              "contrast"
            ]
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "ID",
            "format": "int32",
            "description": "The image ID to return."
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://placedog.net/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://placedog.net/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}
