{
  "swagger": "2.0",
  "info": {
    "title": "PDF4me Excel",
    "description": "Comprehensive Excel document processing API providing advanced automation capabilities including data manipulation, formatting, security, watermarking, and conversion. Perfect for enterprise workflow automation and document processing pipelines.",
    "version": "1.00",
    "contact": {
      "name": "PDF4me Support",
      "email": "support@pdf4me.com",
      "url": "https://dev.pdf4me.com"
    },
    "license": {
      "name": "Requires a 'PDF4me' subscription",
      "url": "https://dev.pdf4me.com/"
    },
    "termsOfService": "https://dev.pdf4me.com/terms-and-conditions/"
  },
  "host": "api.pdf4me.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://dev.pdf4me.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://dev.pdf4me.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity;Business Management"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/office/FlowExcel/ExcelAddTextHeaderFooter": {
      "post": {
        "tags": [
          "Excel Header & Footer"
        ],
        "summary": "Excel - Add Text Header Footer",
        "description": "Add customizable text headers and footers to Excel worksheets with full formatting control - https://docs.pdf4me.com/integrations/power-automate/excel/add-text-header-footer",
        "operationId": "AddTextHeaderFooter",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for adding text headers and footers",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddTextHeaderFooterReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddTextHeaderFooterRes"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/AddTextHeaderFooterRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/AddTextHeaderFooterRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelAddImageHeaderFooter": {
      "post": {
        "tags": [
          "Excel Header & Footer"
        ],
        "summary": "Excel - Add Image Header Footer",
        "description": "Add image-based headers and footers to Excel worksheets with precise positioning and margin control - https://docs.pdf4me.com/integrations/power-automate/excel/add-image-header-footer",
        "operationId": "AddImageHeaderFooter",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for adding image headers and footers",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddImageHeaderFooterReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddImageHeaderFooterRes"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/AddImageHeaderFooterRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/AddImageHeaderFooterRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/AddImageHeaderFooterRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelRemoveHeaderFooter": {
      "post": {
        "tags": [
          "Excel Header & Footer"
        ],
        "summary": "Excel - Remove Header Footer",
        "description": "Remove specific header and footer elements from Excel worksheets - https://docs.pdf4me.com/integrations/power-automate/excel/remove-header-footer",
        "operationId": "RemoveHeaderFooter",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for removing headers and footers",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveHeaderFooterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RemoveHeaderFooterResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/RemoveHeaderFooterResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/RemoveHeaderFooterResponse"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelAddRows": {
      "post": {
        "tags": [
          "Excel Data Manipulation"
        ],
        "summary": "Excel - Add Rows",
        "description": "Insert new rows into Excel worksheets using JSON data with automatic data type conversion and formatting - https://docs.pdf4me.com/integrations/power-automate/excel/excel/add-rows",
        "operationId": "AddRows",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for adding rows to Excel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddRowsReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddRowsRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/AddRowsRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/AddRowsRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelUpdateRows": {
      "post": {
        "tags": [
          "Excel Data Manipulation"
        ],
        "summary": "Excel - Update Rows",
        "description": "Update existing rows in Excel worksheets with JSON data and precise cell targeting - https://docs.pdf4me.com/integrations/power-automate/excel/update-rows",
        "operationId": "UpdateRows",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for updating rows in Excel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRowsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateRowsResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/UpdateRowsResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/UpdateRowsResponse"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelDeleteRows": {
      "post": {
        "tags": [
          "Excel Data Manipulation"
        ],
        "summary": "Excel - Delete Rows",
        "description": "Delete specific rows from Excel worksheets using row ranges - https://docs.pdf4me.com/integrations/power-automate/excel/delete-rows",
        "operationId": "DeleteRows",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for deleting rows from Excel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteRowsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteRowsResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DeleteRowsResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/DeleteRowsResponse"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelExtractRows": {
      "post": {
        "tags": [
          "Excel Data Extraction"
        ],
        "summary": "Excel - Extract Rows",
        "description": "Extract specific rows from Excel worksheets and convert to JSON format with advanced filtering options - https://docs.pdf4me.com/integrations/power-automate/excel/extract-rows",
        "operationId": "ExtractRows",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for extracting rows from Excel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtractRowsReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtractRowsRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ExtractRowsRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ExtractRowsRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelExtractWorksheet": {
      "post": {
        "tags": [
          "Excel Worksheet Management"
        ],
        "summary": "Excel - Extract Worksheets",
        "description": "Extract specific worksheets from Excel workbooks and return as JSON data - https://docs.pdf4me.com/integrations/power-automate/excel/extract-worksheets",
        "operationId": "ExtractWorksheet",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for extracting worksheets",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtractWorksheetReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtractWorksheetRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ExtractWorksheetRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ExtractWorksheetRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelDeleteWorksheet": {
      "post": {
        "tags": [
          "Excel Worksheet Management"
        ],
        "summary": "Excel - Delete Worksheets",
        "description": "Delete specific worksheets from Excel workbooks - https://docs.pdf4me.com/integrations/power-automate/excel/delete-worksheets",
        "operationId": "DeleteWorksheet",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for deleting worksheets",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteWorksheetReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteWorksheetRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DeleteWorksheetRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ExtractWorksheetRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelMergeFiles": {
      "post": {
        "tags": [
          "Excel File Operations"
        ],
        "summary": "Excel - Merge Files",
        "description": "Merge multiple Excel files into a single workbook with support for various output formats - https://docs.pdf4me.com/integrations/power-automate/excel/merge-files",
        "operationId": "MergeFiles",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for merging Excel files",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergeFilesReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MergeFilesRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/MergeFilesRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/MergeFilesRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelMergeRows": {
      "post": {
        "tags": [
          "Excel Data Manipulation"
        ],
        "summary": "Excel - Merge Rows",
        "description": "Merge rows across multiple worksheets using key columns for data consolidation - https://docs.pdf4me.com/integrations/power-automate/excel/merge-rows",
        "operationId": "MergeRows",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for merging rows",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MergeRowsReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MergeRowsRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/MergeRowsRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ExtractWorksheetRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelAddWatermark": {
      "post": {
        "tags": [
          "Excel Watermarking"
        ],
        "summary": "Excel - Add Text Watermark",
        "description": "Add customizable text watermarks to Excel worksheets with advanced positioning and styling options - https://docs.pdf4me.com/integrations/power-automate/excel/add-watermark",
        "operationId": "AddWatermark",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for adding watermarks",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddWatermarkReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AddWatermarkRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/AddWatermarkRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/AddWatermarkRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelDeleteWatermark": {
      "post": {
        "tags": [
          "Excel Watermarking"
        ],
        "summary": "Excel - Remove Watermark",
        "description": "Remove watermarks from Excel worksheets by ID or from all worksheets - https://docs.pdf4me.com/integrations/power-automate/excel/remove-watermark",
        "operationId": "DeleteWatermark",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for removing watermarks",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteWatermarkRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteWatermarkRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/DeleteWatermarkRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PDF4meException"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelFindAndReplaceTextInExcel": {
      "post": {
        "tags": [
          "Excel Text Processing"
        ],
        "summary": "Excel - Replace Text",
        "description": "Find and replace text in Excel worksheets with advanced pattern matching and formatting options - https://docs.pdf4me.com/integrations/power-automate/excel/replace-text",
        "operationId": "ReplaceText",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for replacing text",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplaceTextReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ReplaceTextResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ReplaceTextResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ReplaceTextResponse"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelSecure": {
      "post": {
        "tags": [
          "Excel Security"
        ],
        "summary": "Excel - Secure File",
        "description": "Add password protection and security restrictions to Excel files - https://docs.pdf4me.com/integrations/power-automate/excel/secure-excel",
        "operationId": "SecureExcel",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for securing Excel files",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecureExcelReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SecureExcelRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/SecureExcelRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/SecureExcelRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelUnlock": {
      "post": {
        "tags": [
          "Excel Security"
        ],
        "summary": "Excel - Unlock File",
        "description": "Remove password protection and security restrictions from Excel files - https://docs.pdf4me.com/integrations/power-automate/excel/unlock-excel",
        "operationId": "UnlockExcel",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for unlocking Excel files",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnlockExcelReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UnlockExcelRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/UnlockExcelRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/UnlockExcelRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/ExcelParseCsv": {
      "post": {
        "tags": [
          "Excel Conversion"
        ],
        "summary": "CSV - Parse to JSON",
        "description": "Parse CSV files and convert to Excel format with customizable delimiters and formatting - https://docs.pdf4me.com/integrations/power-automate/excel/excel/parse-csv",
        "operationId": "ParseCsv",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "body",
            "name": "operation",
            "description": "Request object for parsing CSV files",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CsvParseReq"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CsvParseRes"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/CsvParseRes"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/CsvParseRes"
            }
          }
        }
      }
    },
    "/office/FlowExcel/GetActionStatus": {
      "get": {
        "responses": {
          "200": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output File Content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          },
          "202": {
            "description": "Completed successfully!",
            "headers": {
              "FileName": {
                "description": "File Name",
                "type": "string"
              },
              "PageCount": {
                "description": "Page Count",
                "type": "string"
              }
            },
            "schema": {
              "description": "Output File Content from the PDF4me Connect",
              "format": "binary",
              "title": "File Content",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "summary": "getActionStatus_v1",
        "description": "getActionStatus_v1",
        "operationId": "GetActionStatus_v1",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {
    "AddTextHeaderFooterReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "AddTextHeaderFooterToExcelAction": {
          "type": "object",
          "properties": {
            "HeaderLeft": {
              "type": "string",
              "default": "",
              "description": "Text content for the left section of the header",
              "x-ms-visibility": "important",
              "x-ms-summary": "Header Left Text"
            },
            "HeaderCenter": {
              "type": "string",
              "default": "",
              "description": "Text content for the center section of the header",
              "x-ms-visibility": "important",
              "x-ms-summary": "Header Center Text"
            },
            "HeaderRight": {
              "type": "string",
              "default": "",
              "description": "Text content for the right section of the header",
              "x-ms-visibility": "important",
              "x-ms-summary": "Header Right Text"
            },
            "FooterLeft": {
              "type": "string",
              "default": "",
              "description": "Text content for the left section of the footer",
              "x-ms-visibility": "important",
              "x-ms-summary": "Footer Left Text"
            },
            "FooterCenter": {
              "type": "string",
              "default": "",
              "description": "Text content for the center section of the footer",
              "x-ms-visibility": "important",
              "x-ms-summary": "Footer Center Text"
            },
            "FooterRight": {
              "type": "string",
              "default": "",
              "description": "Text content for the right section of the footer",
              "x-ms-visibility": "important",
              "x-ms-summary": "Footer Right Text"
            },
            "HeaderLeftColor": {
              "type": "string",
              "default": "Black",
              "description": "Color for the left header text (hex code or color name)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Header Left - Color"
            },
            "HeaderLeftFontSize": {
              "type": "integer",
              "default": 11,
              "description": "Font size for the left header text",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Header Left - Font Size"
            },
            "HeaderCenterColor": {
              "type": "string",
              "default": "Black",
              "description": "Color for the center header text (hex code or color name)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Header Center - Color"
            },
            "HeaderCenterFontSize": {
              "type": "integer",
              "default": 11,
              "description": "Font size for the center header text",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Header Center - Font Size"
            },
            "HeaderRightColor": {
              "type": "string",
              "default": "Black",
              "description": "Color for the right header text (hex code or color name)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Header Right - Color"
            },
            "HeaderRightFontSize": {
              "type": "integer",
              "default": 11,
              "description": "Font size for the right header text",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Header Right - Font Size"
            },
            "FooterLeftColor": {
              "type": "string",
              "default": "Black",
              "description": "Color for the left footer text (hex code or color name)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Footer Left - Color"
            },
            "FooterLeftFontSize": {
              "type": "integer",
              "default": 11,
              "description": "Font size for the left footer text",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Footer Left - Font Size"
            },
            "FooterCenterColor": {
              "type": "string",
              "default": "Black",
              "description": "Color for the center footer text (hex code or color name)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Footer Center - Color"
            },
            "FooterCenterFontSize": {
              "type": "integer",
              "default": 11,
              "description": "Font size for the center footer text",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Footer Center - Font Size"
            },
            "FooterRightColor": {
              "type": "string",
              "default": "Black",
              "description": "Color for the right footer text (hex code or color name)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Footer Right - Color"
            },
            "FooterRightFontSize": {
              "type": "integer",
              "default": 11,
              "description": "Font size for the right footer text",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Footer Right - Font Size"
            },
            "WorksheetNames": {
              "type": "string",
              "description": "Comma-separated list of worksheet names to apply headers/footers to (leave empty for all)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Target Worksheets - By Name"
            },
            "WorksheetIndexes": {
              "type": "string",
              "description": "Comma-separated list of worksheet indexes (1-based) to apply headers/footers to (leave empty for all)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Target Worksheets - By Index"
            },
            "CultureName": {
              "type": "string",
              "description": "Culture name for formatting (e.g., en-US, fr-FR, de-DE)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Culture & Language Settings"
            }
          }
        }
      }
    },
    "AddImageHeaderFooterReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "imageContent": {
          "type": "string",
          "format": "byte",
          "description": "The image file content as base64-encoded string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Image Content"
        },
        "addImageHeaderFooterToExcelAction": {
          "type": "object",
          "properties": {
            "Position": {
              "type": "string",
              "description": "Position of the image in the header footer",
              "default": "Center",
              "enum": [
                "Left",
                "Center",
                "Right"
              ],
              "x-ms-visibility": "important",
              "x-ms-summary": "Image Position"
            },
            "IsHeader": {
              "type": "boolean",
              "default": true,
              "description": "Whether to add to header (true) or footer (false)",
              "x-ms-visibility": "important",
              "x-ms-summary": "IsHeader"
            },
            "WorksheetNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of worksheet names to apply the image to (leave empty for all)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Target Worksheets - By Name"
            },
            "WorksheetIndexes": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "description": "List of worksheet indexes (1-based) to apply the image to (leave empty for all)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Target Worksheets - By Index"
            },
            "TopMargin": {
              "type": "number",
              "format": "double",
              "default": 1.9,
              "description": "Top margin value in centimeters",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Top Margin (cm)"
            },
            "BottomMargin": {
              "type": "number",
              "format": "double",
              "default": 1.9,
              "description": "Bottom margin value in centimeters",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Bottom Margin (cm)"
            },
            "LeftMargin": {
              "type": "number",
              "format": "double",
              "default": 1.9,
              "description": "Left margin value in centimeters",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Left Margin (cm)"
            },
            "RightMargin": {
              "type": "number",
              "format": "double",
              "default": 1.9,
              "description": "Right margin value in centimeters",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Right Margin (cm)"
            },
            "CultureName": {
              "type": "string",
              "default": "en-US",
              "description": "Culture name for formatting (e.g., en-US, fr-FR, de-DE)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Culture & Language Settings"
            }
          }
        }
      }
    },
    "AddRowsReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "addRowsToExcelAction": {
          "type": "object",
          "properties": {
            "JsonInput": {
              "type": "string",
              "description": "Base64-encoded JSON data containing the rows to add to the Excel file. The JSON should be an array of objects where each object represents a row. Example JSON before Base64 encoding: [\n  {\"Column1\": \"Value1\", \"Column2\": \"Value2\"},\n  {\"Column1\": \"Value3\", \"Column2\": \"Value4\"}\n]",
              "x-ms-visibility": "important",
              "x-ms-summary": "JSON Row Data"
            },
            "WorksheetName": {
              "type": "string",
              "default": "Sheet1",
              "description": "Name of the worksheet to add rows to",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Name"
            },
            "InsertFromRow": {
              "type": "integer",
              "description": "Row number where to start inserting data (1-based)",
              "x-ms-visibility": "important",
              "x-ms-summary": "Insert From Row"
            },
            "InsertFromColumn": {
              "type": "integer",
              "description": "Column number where to start inserting data (1-based)",
              "x-ms-visibility": "important",
              "x-ms-summary": "Insert From Column"
            },
            "TableName": {
              "type": "string",
              "description": "Name of Excel table to add rows to (if applicable)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Target Excel Table"
            },
            "ExcelRowNumber": {
              "type": "integer",
              "description": "Integer containing Excel Row Number If Table Name Is Given.",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Excel Row Number"
            },
            "ConvertNumericAndDate": {
              "type": "boolean",
              "default": true,
              "description": "Automatically convert numeric and date values to proper Excel data types",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Convert Numeric And Date"
            },
            "DateFormat": {
              "type": "string",
              "default": "yyyy-MM-dd",
              "description": "Format pattern for date values (e.g., yyyy-MM-dd, dd/MM/yyyy)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Date Format Pattern"
            },
            "NumericFormat": {
              "type": "string",
              "default": "N2",
              "description": "Format pattern for numeric values (e.g., N2, C, P)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Numeric Format Pattern"
            },
            "IgnoreAttributeTitles": {
              "type": "boolean",
              "default": false,
              "description": "Skip JSON property names when inserting data",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "️ Skip JSON Property Names"
            },
            "IgnoreNullValues": {
              "type": "boolean",
              "default": false,
              "description": "Skip null values from JSON data",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Skip Null Values"
            },
            "CultureName": {
              "type": "string",
              "default": "en-US",
              "description": "Culture name for data formatting (e.g., en-US, fr-FR, de-DE)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Culture & Language Settings"
            }
          }
        }
      }
    },
    "UpdateRowsRequest": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "UpdateRowsToExcelAction": {
          "type": "object",
          "properties": {
            "WorksheetName": {
              "type": "string",
              "description": "Name of the worksheet to update",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Name"
            },
            "JsonData": {
              "type": "string",
              "description": "JSON data containing the updated row values",
              "x-ms-visibility": "important",
              "x-ms-summary": "JSON Update Data"
            },
            "StartRow": {
              "type": "integer",
              "default": 1,
              "description": "Starting row number for updates (1-based)",
              "x-ms-visibility": "important",
              "x-ms-summary": "Start Row"
            },
            "StartColumn": {
              "type": "integer",
              "default": 1,
              "description": "Starting column number for updates (1-based)",
              "x-ms-visibility": "important",
              "x-ms-summary": "Start Column"
            },
            "ConvertNumericAndDate": {
              "type": "boolean",
              "default": true,
              "description": "Automatically convert numeric and date values",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Convert Numeric And Date"
            },
            "DateFormat": {
              "type": "string",
              "default": "yyyy-MM-dd",
              "description": "Format pattern for date values",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Date Format"
            },
            "NumericFormat": {
              "type": "string",
              "default": "N2",
              "description": "Format pattern for numeric values",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Numeric Format"
            },
            "IgnoreNullValues": {
              "type": "boolean",
              "default": false,
              "description": "Skip null values when updating",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Ignore Null Values"
            },
            "IgnoreAttributeTitles": {
              "type": "boolean",
              "default": false,
              "description": "Skip JSON property names when updating",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Ignore Attribute Titles"
            },
            "CultureName": {
              "type": "string",
              "default": "",
              "description": "Culture name for data formatting",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Culture Name"
            }
          }
        }
      }
    },
    "DeleteRowsRequest": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "DeleteRowsToExcelAction": {
          "type": "object",
          "properties": {
            "WorksheetName": {
              "type": "string",
              "default": "",
              "description": "Name of the worksheet to delete rows from (empty for all worksheets)",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Name"
            },
            "RowRanges": {
              "type": "string",
              "description": "Comma-separated row ranges to delete (e.g., \"1-5,10,15-20\")",
              "x-ms-visibility": "important",
              "x-ms-summary": "Row Ranges"
            }
          }
        }
      }
    },
    "ExtractRowsReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "ExtractRowsToExcelAction": {
          "type": "object",
          "properties": {
            "WorksheetName": {
              "type": "string",
              "default": "",
              "description": "Name of the worksheet to extract from (leave empty for first worksheet)",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Name"
            },
            "HasHeaderRow": {
              "type": "boolean",
              "default": true,
              "description": "Whether the first row contains column headers",
              "x-ms-visibility": "important",
              "x-ms-summary": "Has Header Row"
            },
            "FirstRow": {
              "type": "integer",
              "default": 0,
              "description": "Starting row for extraction (0-based, 0 = first row)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "First Row (Start)"
            },
            "LastRow": {
              "type": "integer",
              "default": -1,
              "description": "Ending row for extraction (-1 for last row with data)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Last Row (End)"
            },
            "FirstColumn": {
              "type": "integer",
              "default": 0,
              "description": "Starting column for extraction (0-based, 0 = first column)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "First Column (Start)"
            },
            "LastColumn": {
              "type": "integer",
              "default": -1,
              "description": "Ending column for extraction (-1 for last column with data)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Last Column (End)"
            },
            "ExcludeEmptyRows": {
              "type": "boolean",
              "default": true,
              "description": "Skip rows that are completely empty",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Exclude Empty Rows"
            },
            "ExcludeHiddenRows": {
              "type": "boolean",
              "default": true,
              "description": "Skip hidden rows in extraction",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "️ Exclude Hidden Rows"
            },
            "ExcludeHiddenColumns": {
              "type": "boolean",
              "default": true,
              "description": "Skip hidden columns in extraction",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "️ Exclude Hidden Columns"
            },
            "ExportValuesAsText": {
              "type": "boolean",
              "default": false,
              "description": "Export all cell values as text strings",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Export Values As Text"
            },
            "ExportEmptyCells": {
              "type": "boolean",
              "default": false,
              "description": "Include empty cells in the output",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Export Empty Cells"
            },
            "ExportAsObject": {
              "type": "boolean",
              "default": false,
              "description": "Export data as structured object instead of array",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "️ Export as Object Structure"
            },
            "HyperlinkFormat": {
              "type": "string",
              "default": "Text",
              "enum": [
                "Text",
                "Url",
                "Both"
              ],
              "description": "How to handle hyperlinks in cells",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Hyperlink Format"
            },
            "Culture": {
              "type": "string",
              "default": "en-US",
              "description": "Culture name for data formatting (e.g., en-US, fr-FR, de-DE)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Culture & Language Settings"
            }
          }
        }
      }
    },
    "ExtractWorksheetReq": {
      "type": "object",
      "required": [
        "docContent",
        "document"
      ],
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important"
            }
          }
        },
        "ExtractWorksheetToExcelAction": {
          "type": "object",
          "properties": {
            "WorksheetNames": {
              "type": "string",
              "description": "List of worksheet names to extract",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Names"
            },
            "WorksheetIndexes": {
              "type": "integer",
              "description": "List of worksheet indexes (1-based) to extract",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Indexes"
            }
          }
        }
      }
    },
    "DeleteWorksheetReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "DeleteWorksheetToExcelAction": {
          "type": "object",
          "properties": {
            "WorksheetNames": {
              "type": "string",
              "default": "",
              "description": "Comma-separated list of worksheet names to delete",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Names"
            },
            "WorksheetIndexes": {
              "type": "string",
              "default": "",
              "description": "Comma-separated list of worksheet indexes (1-based) to delete",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Indexes"
            }
          }
        }
      }
    },
    "MergeFilesReq": {
      "type": "object",
      "properties": {
        "MergeFilesToExcelAction": {
          "type": "object",
          "properties": {
            "OutputFileName": {
              "type": "string",
              "default": "",
              "description": "Name for the merged output file (without extension)",
              "x-ms-visibility": "important",
              "x-ms-summary": "Output File Name"
            },
            "OutputFormat": {
              "type": "string",
              "default": "XLSX",
              "enum": [
                "XLSX",
                "XLS",
                "PDF",
                "CSV"
              ],
              "description": "Format for the merged output file",
              "x-ms-visibility": "important",
              "x-ms-summary": "Output Format"
            },
            "Documents": {
              "type": "array",
              "description": "Array of documents to merge",
              "x-ms-visibility": "important",
              "x-ms-summary": "Documents to Merge",
              "items": {
                "type": "object",
                "required": [
                  "Filename",
                  "FileContent",
                  "SortPosition"
                ],
                "properties": {
                  "Filename": {
                    "type": "string",
                    "description": "Original filename with extension",
                    "x-ms-summary": "Filename"
                  },
                  "FileContent": {
                    "type": "string",
                    "format": "byte",
                    "description": "Base64-encoded file content",
                    "x-ms-summary": "File Content"
                  },
                  "SortPosition": {
                    "type": "integer",
                    "description": "Position in merge order (lowest first)",
                    "x-ms-summary": "Sort Position"
                  },
                  "WorksheetsToMerge": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Specific worksheets to merge from this file",
                    "x-ms-summary": "Worksheets to Merge"
                  }
                }
              }
            }
          }
        }
      }
    },
    "MergeRowsReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "MergeRowsToExcelAction": {
          "type": "object",
          "properties": {
            "WorksheetNumbers": {
              "type": "string",
              "default": "",
              "description": "Comma-separated worksheet numbers (1-based) to merge",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Numbers"
            },
            "MergeKeyColumns": {
              "type": "string",
              "default": "",
              "description": "Comma-separated column numbers (1-based) to use as merge keys",
              "x-ms-visibility": "important",
              "x-ms-summary": "Merge Key Columns"
            },
            "OutputFormat": {
              "type": "string",
              "default": "XLSX",
              "enum": [
                "XLSX",
                "XLSB",
                "XLS",
                "CSV"
              ],
              "description": "Format for the merged output",
              "x-ms-visibility": "important",
              "x-ms-summary": "Output Format"
            }
          }
        }
      }
    },
    "AddWatermarkReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "AddWatermarkToExcelAction": {
          "type": "object",
          "properties": {
            "WatermarkText": {
              "type": "string",
              "description": "Text content for the watermark",
              "x-ms-visibility": "important",
              "x-ms-summary": "Watermark Text"
            },
            "FontFamily": {
              "type": "string",
              "default": "Arial",
              "description": "Font family for the watermark text",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Font Family"
            },
            "TextSize": {
              "type": "integer",
              "default": 2,
              "enum": [
                1,
                2,
                3,
                4
              ],
              "description": "Text size (1=Small, 2=Medium, 3=Large, 4=Extra Large)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Text Size"
            },
            "IsBold": {
              "type": "boolean",
              "default": true,
              "description": "Make watermark text bold",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Bold Text"
            },
            "IsItalic": {
              "type": "boolean",
              "default": false,
              "description": "Make watermark text italic",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Italic Text"
            },
            "TextColor": {
              "type": "string",
              "default": "#808080",
              "description": "Color for watermark text (hex code or color name)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Text Color"
            },
            "Transparency": {
              "type": "integer",
              "default": 50,
              "minimum": 0,
              "maximum": 100,
              "description": "Transparency level (0-100, where 0 is fully transparent)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Transparency Level"
            },
            "RotationAngle": {
              "type": "integer",
              "default": -45,
              "description": "Rotation angle in degrees (-180 to 180)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Rotation Angle"
            },
            "SelectedWorksheetNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Names of specific worksheets (when Apply To = By Name)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Worksheet Names List"
            },
            "SelectedWorksheetIndexes": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "description": "Indexes of specific worksheets (when Apply To = By Index)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Worksheet Index List"
            }
          }
        }
      }
    },
    "DeleteWatermarkRequest": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "DeleteWatermarkToExcelAction": {
          "type": "object",
          "properties": {
            "WatermarkId": {
              "type": "string",
              "default": "",
              "description": "Specific watermark ID to remove (empty to remove all)",
              "x-ms-visibility": "important",
              "x-ms-summary": "Watermark ID"
            },
            "CultureName": {
              "type": "string",
              "default": "",
              "description": "Culture name for processing",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Culture Name"
            },
            "WorksheetNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Names of worksheets to remove watermarks from",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Worksheet Names"
            },
            "WorksheetIndexes": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "description": "Indexes of worksheets to remove watermarks from",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Worksheet Indexes"
            }
          }
        }
      }
    },
    "ReplaceTextReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "ReplaceTextToExcelAction": {
          "type": "object",
          "properties": {
            "Phrases": {
              "type": "array",
              "description": "Array of search and replace operations",
              "x-ms-visibility": "important",
              "x-ms-summary": "Replace Operations",
              "items": {
                "type": "object",
                "required": [
                  "SearchText",
                  "ReplacementText"
                ],
                "properties": {
                  "SearchText": {
                    "type": "string",
                    "description": "Text to search for",
                    "x-ms-summary": "Search Text"
                  },
                  "ReplacementText": {
                    "type": "string",
                    "description": "Replacement text",
                    "x-ms-summary": "Replacement Text"
                  },
                  "IsExpression": {
                    "type": "boolean",
                    "default": false,
                    "description": "Use regular expressions for search",
                    "x-ms-summary": "Use Regular Expression"
                  },
                  "MatchEntireCell": {
                    "type": "boolean",
                    "default": false,
                    "description": "Match entire cell content only",
                    "x-ms-summary": "Match Entire Cell"
                  },
                  "CaseSensitive": {
                    "type": "boolean",
                    "default": false,
                    "description": "Perform case-sensitive search",
                    "x-ms-summary": "Case Sensitive"
                  },
                  "Formatting": {
                    "type": "object",
                    "description": "Formatting to apply to replacement text",
                    "x-ms-summary": "Text Formatting",
                    "properties": {
                      "FontName": {
                        "type": "string",
                        "description": "Font name for replacement text",
                        "x-ms-summary": "Font Name"
                      },
                      "FontColor": {
                        "type": "string",
                        "description": "Font color (hex code or color name)",
                        "x-ms-summary": "Font Color"
                      },
                      "FontSize": {
                        "type": "number",
                        "description": "Font size for replacement text",
                        "x-ms-summary": "Font Size"
                      },
                      "Bold": {
                        "type": "string",
                        "default": "Inherit",
                        "enum": [
                          "Apply",
                          "Remove",
                          "Inherit"
                        ],
                        "description": "Make replacement text bold",
                        "x-ms-summary": "Bold"
                      },
                      "Italic": {
                        "type": "string",
                        "default": "Inherit",
                        "enum": [
                          "Apply",
                          "Remove",
                          "Inherit"
                        ],
                        "description": "Make replacement text italic",
                        "x-ms-summary": "Italic"
                      },
                      "StrikethroughType": {
                        "type": "string",
                        "default": "None",
                        "enum": [
                          "Single",
                          "Double",
                          "None",
                          "Inherit"
                        ],
                        "description": "Make replacement text strikethrough type",
                        "x-ms-summary": "StrikethroughType"
                      },
                      "UnderlineType": {
                        "type": "string",
                        "default": "None",
                        "enum": [
                          "Single",
                          "Double",
                          "Dash",
                          "Dotted",
                          "None",
                          "Inherit"
                        ],
                        "description": "Make replacement text underline type",
                        "x-ms-summary": "UnderlineType"
                      },
                      "ScriptType": {
                        "type": "string",
                        "default": "None",
                        "enum": [
                          "Subscript",
                          "Superscript",
                          "None",
                          "Inherit"
                        ],
                        "description": "Make replacement text script type",
                        "x-ms-summary": "ScriptType"
                      },
                      "FontSchemeType": {
                        "type": "string",
                        "default": "Inherit",
                        "enum": [
                          "Major",
                          "Minor",
                          "None",
                          "Inherit"
                        ],
                        "description": "Set the Font Scheme type to apply to the text",
                        "x-ms-summary": "Font Scheme Type"
                      },
                      "ThemeColour": {
                        "type": "string",
                        "default": "Inherit",
                        "enum": [
                          "Accent1",
                          "Accent2",
                          "Accent3",
                          "Accent4",
                          "Accent5",
                          "Accent6",
                          "Dark1",
                          "Dark2",
                          "Light1",
                          "Light2",
                          "None",
                          "Inherit"
                        ],
                        "description": "Set the colour for the 'Replacement Text' according to the theme within the Excel file.",
                        "x-ms-summary": "Theme Colour"
                      }
                    }
                  }
                }
              }
            },
            "CultureName": {
              "type": "string",
              "description": "Culture name for text processing",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Culture Name"
            }
          }
        }
      }
    },
    "SecureExcelReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "SecureExcelAction": {
          "type": "object",
          "properties": {
            "Password": {
              "type": "string",
              "description": "Password to protect the Excel file",
              "x-ms-visibility": "important",
              "x-ms-summary": "Protection Password"
            },
            "ProtectWorkbook": {
              "type": "boolean",
              "default": true,
              "description": "Enable workbook structure protection",
              "x-ms-visibility": "important",
              "x-ms-summary": "Protect Workbook"
            },
            "ProtectWorkbookPassword": {
              "type": "string",
              "description": "Separate password for worksbook protection",
              "x-ms-visibility": "important",
              "x-ms-summary": "Workbook Password"
            },
            "ProtectWorksheets": {
              "type": "boolean",
              "default": true,
              "description": "Enable worksheet content protection",
              "x-ms-visibility": "important",
              "x-ms-summary": "Protect Worksheets"
            },
            "WorksheetProtectionPassword": {
              "type": "string",
              "description": "Separate password for worksheet protection",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Password"
            },
            "WorksheetProtectionType": {
              "type": "string",
              "default": "All",
              "enum": [
                "Contents",
                "Objects",
                "Scenarios",
                "All"
              ],
              "description": "Type of worksheet protection to apply",
              "x-ms-visibility": "important",
              "x-ms-summary": "Protection Type"
            },
            "WorksheetNames": {
              "type": "string",
              "description": "Comma-separated worksheet names to protect",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Worksheet Names"
            },
            "WorksheetIndexes": {
              "type": "string",
              "description": "Comma-separated worksheet indexes (1-based) to protect",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Worksheet Indexes"
            }
          }
        }
      }
    },
    "UnlockExcelReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "UnlockExcelAction": {
          "type": "object",
          "properties": {
            "SecureOnOpenPassword": {
              "type": "string",
              "description": "Password for file encryption removal",
              "x-ms-visibility": "important",
              "x-ms-summary": "File Password"
            },
            "WorkbookProtectionPassword": {
              "type": "string",
              "description": "Password for workbook protection removal",
              "x-ms-visibility": "important",
              "x-ms-summary": "Workbook Password"
            },
            "WorksheetProtectionPassword": {
              "type": "string",
              "description": "Password for worksheet protection removal",
              "x-ms-visibility": "important",
              "x-ms-summary": "Worksheet Password"
            },
            "WorksheetNames": {
              "type": "string",
              "description": "Comma-separated worksheet names to unlock",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Worksheet Names"
            },
            "WorksheetIndexes": {
              "type": "string",
              "description": "Comma-separated worksheet indexes (1-based) to unlock",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Worksheet Indexes"
            },
            "CultureName": {
              "type": "string",
              "description": "Culture name for processing",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Culture Name"
            }
          }
        }
      }
    },
    "CsvParseReq": {
      "type": "object",
      "properties": {
        "docContent": {
          "description": "Input file content from the source",
          "format": "byte",
          "title": "File Content",
          "type": "string",
          "x-ms-visibility": "important"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "CsvParseToExcelAction": {
          "type": "object",
          "properties": {
            "Delimiter": {
              "type": "string",
              "default": ",",
              "description": "Character used to separate values in the CSV",
              "x-ms-visibility": "important",
              "x-ms-summary": "CSV Delimiter"
            },
            "ColumnHeaders": {
              "type": "string",
              "description": "Custom column headers (comma-separated)",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Column Headers"
            },
            "SkipFirstLine": {
              "type": "boolean",
              "description": "Skip the first line when parsing",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Skip First Line"
            },
            "CultureName": {
              "type": "string",
              "description": "Culture name for data parsing",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Culture Name"
            }
          }
        }
      }
    },
    "RemoveHeaderFooterRequest": {
      "type": "object",
      "required": [
        "docContent"
      ],
      "properties": {
        "docContent": {
          "type": "string",
          "format": "byte",
          "description": "The Excel file content as base64-encoded string",
          "x-ms-visibility": "important",
          "x-ms-summary": "File Content"
        },
        "document": {
          "description": "document",
          "type": "object",
          "properties": {
            "name": {
              "description": "Input file name from the source",
              "title": "File Name",
              "type": "string",
              "x-ms-visibility": "important",
              "required": [
                "name"
              ]
            }
          }
        },
        "RemoveHeaderFooterToExcelAction": {
          "type": "object",
          "properties": {
            "RemoveHeaderLeft": {
              "type": "boolean",
              "default": false,
              "description": "Remove left section of header",
              "x-ms-visibility": "important",
              "x-ms-summary": "Remove Header Left"
            },
            "RemoveHeaderCenter": {
              "type": "boolean",
              "default": false,
              "description": "Remove center section of header",
              "x-ms-visibility": "important",
              "x-ms-summary": "Remove Header Center"
            },
            "RemoveHeaderRight": {
              "type": "boolean",
              "default": false,
              "description": "Remove right section of header",
              "x-ms-visibility": "important",
              "x-ms-summary": "Remove Header Right"
            },
            "RemoveFooterLeft": {
              "type": "boolean",
              "default": false,
              "description": "Remove left section of footer",
              "x-ms-visibility": "important",
              "x-ms-summary": "Remove Footer Left"
            },
            "RemoveFooterCenter": {
              "type": "boolean",
              "default": false,
              "description": "Remove center section of footer",
              "x-ms-visibility": "important",
              "x-ms-summary": "Remove Footer Center"
            },
            "RemoveFooterRight": {
              "type": "boolean",
              "default": false,
              "description": "Remove right section of footer",
              "x-ms-visibility": "important",
              "x-ms-summary": "Remove Footer Right"
            },
            "WorksheetNames": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Names of worksheets to remove headers/footers from",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Worksheet Names"
            },
            "WorksheetIndexes": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "description": "Indexes of worksheets to remove headers/footers from",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Worksheet Indexes"
            },
            "CultureName": {
              "type": "string",
              "default": "",
              "description": "Culture name for processing",
              "x-ms-visibility": "advanced",
              "x-ms-summary": "Culture Name"
            }
          }
        }
      }
    },
    "AddTextHeaderFooterRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Excel file content as base64-encoded string",
          "x-ms-summary": "Output File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "AddImageHeaderFooterRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Excel file content as base64-encoded string",
          "x-ms-summary": "Output File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "AddRowsRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Excel file content as base64-encoded string",
          "x-ms-summary": "Output File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "UpdateRowsResponse": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Excel file content as base64-encoded string",
          "x-ms-summary": "Output File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "DeleteRowsResponse": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Excel file content as base64-encoded string",
          "x-ms-summary": "Output File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "ExtractRowsRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The extracted rows data as JSON content in a text string",
          "x-ms-summary": "Extracted Data (JSON)"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "ExtractWorksheetRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The extracted worksheet data as JSON content in a text file",
          "x-ms-summary": "Extracted Data (JSON)"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "MergeFilesRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The merged file content in the specified output format",
          "x-ms-summary": "Merged File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "MergeRowsRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The merged rows as Excel file content",
          "x-ms-summary": "Merged Rows Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "AddWatermarkRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The watermarked Excel file content as base64-encoded string",
          "x-ms-summary": "Watermarked File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "ReplaceTextResponse": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Excel file with replaced text",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "SecureExcelRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The secured Excel file content as base64-encoded string",
          "x-ms-summary": "Secured File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "UnlockExcelRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The unlocked Excel file content as base64-encoded string",
          "x-ms-summary": "Unlocked File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "CsvParseRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The parsed CSV data as JSON or Excel file content",
          "x-ms-summary": "Parsed Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "RemoveHeaderFooterResponse": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Excel file with removed headers/footers",
          "x-ms-summary": "Processed File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "DeleteWorksheetRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Excel file content as base64-encoded string"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages"
        }
      }
    },
    "DeleteWatermarkRes": {
      "type": "object",
      "properties": {
        "document": {
          "type": "string",
          "format": "byte",
          "description": "The processed Excel file content as base64-encoded string",
          "x-ms-summary": "Output File Content"
        },
        "Success": {
          "type": "boolean",
          "description": "Whether the operation completed successfully",
          "x-ms-summary": "Success"
        },
        "ErrorMessage": {
          "type": "string",
          "description": "Error message if operation failed",
          "x-ms-summary": "Error Message"
        },
        "Errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detailed error messages",
          "x-ms-summary": "Error Details"
        }
      }
    },
    "PDF4meException": {
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "The error message",
          "x-ms-summary": "The error message"
        },
        "traceId": {
          "type": "string",
          "description": "trace id for support ticket",
          "x-ms-summary": "Success"
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}