{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "SolarEdge",
    "description": "The SolarEdge connector gives you the oppurtunity to display system data in other applications",
    "contact": {
      "name": "Richard Wierenga",
      "url": "https://knowledge-center.solaredge.com/",
      "email": "rwconnectors@gmail.com"
    }
  },
  "host": "monitoringapi.solaredge.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/sites/list": {
      "get": {
        "summary": "Sites List",
        "description": "Returns a list of sites related to the given token, which is the account api_key. This API accepts parameters for convenient search, sort and pagination.",
        "operationId": "SitesList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "sites": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The amount of sites that are returned."
                    },
                    "site": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The site ID.",
                            "title": "SiteID",
                            "x-ms-visibility": "advanced"
                          },
                          "name": {
                            "type": "string",
                            "description": "The site name"
                          },
                          "accountId": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The account this site belongs to"
                          },
                          "status": {
                            "type": "string",
                            "description": "The site status"
                          },
                          "peakPower": {
                            "type": "number",
                            "format": "float",
                            "description": "Site peak power"
                          },
                          "lastUpdateTime": {
                            "type": "string",
                            "description": "Site last update datetime, format yyyy-mm-dd hh:mm:ss"
                          },
                          "installationDate": {
                            "type": "string",
                            "description": "Site installation datetime, format yyyy-mm-dd hh:mm:ss"
                          },
                          "ptoDate": {
                            "type": "string",
                            "description": "Permission to operate date"
                          },
                          "notes": {
                            "type": "string",
                            "description": "Notes"
                          },
                          "type": {
                            "type": "string",
                            "description": "Site type"
                          },
                          "location": {
                            "type": "object",
                            "properties": {
                              "country": {
                                "type": "string",
                                "description": "The sites country"
                              },
                              "city": {
                                "type": "string",
                                "description": "The sites city"
                              },
                              "address": {
                                "type": "string",
                                "description": "The sites address"
                              },
                              "address2": {
                                "type": "string",
                                "description": "The sites address2"
                              },
                              "zip": {
                                "type": "string",
                                "description": "The sites zip"
                              },
                              "timeZone": {
                                "type": "string",
                                "description": "The sites timeZone"
                              },
                              "countryCode": {
                                "type": "string",
                                "description": "The sites country Code"
                              }
                            },
                            "description": "Site location includes country, state, city, address, secondary address, time zone and zip"
                          },
                          "primaryModule": {
                            "type": "object",
                            "properties": {
                              "manufacturerName": {
                                "type": "string",
                                "description": "Primary model manufacturerName"
                              },
                              "modelName": {
                                "type": "string",
                                "description": "Primary model modelName"
                              },
                              "maximumPower": {
                                "type": "number",
                                "format": "float",
                                "description": "Primary model maximumPower",
                                "title": "maximumPower"
                              },
                              "temperatureCoef": {
                                "type": "number",
                                "format": "float",
                                "description": "Primary model temperatureCoef"
                              }
                            },
                            "description": "primaryModule information"
                          }
                        }
                      },
                      "description": "site"
                    }
                  },
                  "description": "sites"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/details": {
      "get": {
        "summary": "Site Details",
        "description": "Displays the site details, such as name, location, status, etc.",
        "operationId": "SiteDetails",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "details": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The site ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The site name"
                    },
                    "accountId": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The account this site belongs to"
                    },
                    "status": {
                      "type": "string",
                      "description": "The sites status"
                    },
                    "peakPower": {
                      "type": "number",
                      "format": "float",
                      "description": "The sites peakPower"
                    },
                    "currency": {
                      "type": "string",
                      "description": "The sites currency"
                    },
                    "installationDate": {
                      "type": "string",
                      "description": "Site installation datetime, format yyyy-mm-dd hh:mm:ss"
                    },
                    "ptoDate": {
                      "type": "string",
                      "description": "Permission to operate date"
                    },
                    "notes": {
                      "type": "string",
                      "description": "Notes"
                    },
                    "type": {
                      "type": "string",
                      "description": "Site type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "country": {
                          "type": "string",
                          "description": "The sites country"
                        },
                        "city": {
                          "type": "string",
                          "description": "The sites city"
                        },
                        "address": {
                          "type": "string",
                          "description": "The sites address"
                        },
                        "address2": {
                          "type": "string",
                          "description": "The sites address2"
                        },
                        "zip": {
                          "type": "string",
                          "description": "The sites zip"
                        },
                        "timeZone": {
                          "type": "string",
                          "description": "The sites timeZone"
                        },
                        "countryCode": {
                          "type": "string",
                          "description": "The sites country Code"
                        }
                      },
                      "description": "Site location includes country, state, city, address, secondary address, time zone and zip"
                    },
                    "alertQuantity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of open alerts in this site"
                    },
                    "alertSeverity": {
                      "type": "string",
                      "description": "The highest alert severity in this site"
                    },
                    "uris": {
                      "type": "object",
                      "properties": {
                        "IMAGE_URI": {
                          "type": "string",
                          "description": "The sites image uri"
                        }
                      },
                      "description": "Site related uris"
                    }
                  },
                  "description": "details"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/overview": {
      "get": {
        "summary": "Site Overview",
        "description": "The response includes the site current power, daily energy, monthly energy, yearly energy and life time energy.",
        "operationId": "SiteOverview",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "overview": {
                  "type": "object",
                  "properties": {
                    "lastUpdateTime": {
                      "type": "string",
                      "description": "lastUpdateTime"
                    },
                    "lifeTimeData": {
                      "type": "object",
                      "properties": {
                        "energy": {
                          "type": "number",
                          "format": "float",
                          "description": "Lifetime energy number"
                        }
                      },
                      "description": "Lifetime energy"
                    },
                    "lastYearData": {
                      "type": "object",
                      "properties": {
                        "energy": {
                          "type": "number",
                          "format": "float",
                          "description": "Last year energy number"
                        }
                      },
                      "description": "Last year energy data"
                    },
                    "lastMonthData": {
                      "type": "object",
                      "properties": {
                        "energy": {
                          "type": "number",
                          "format": "float",
                          "description": "Energy number"
                        }
                      },
                      "description": "Last month energy data"
                    },
                    "lastDayData": {
                      "type": "object",
                      "properties": {
                        "energy": {
                          "type": "number",
                          "format": "float",
                          "description": "Last day energy number"
                        }
                      },
                      "description": "last day data"
                    },
                    "currentPower": {
                      "type": "object",
                      "properties": {
                        "power": {
                          "type": "number",
                          "format": "float",
                          "description": "Current power number"
                        }
                      },
                      "description": "Current Power"
                    },
                    "measuredBy": {
                      "type": "string",
                      "description": "Measured by"
                    }
                  },
                  "description": "Overview"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/envBenefits": {
      "get": {
        "summary": "Site Environmental Benefits",
        "description": "Returns all environmental benefits based on site energy production: CO2 emissions saved, equivalent trees planted, and light bulbs powered for a day.",
        "operationId": "SiteEnvironmentalBenefits",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "envBenefits": {
                  "type": "object",
                  "properties": {
                    "gasEmissionSaved": {
                      "type": "object",
                      "properties": {
                        "units": {
                          "type": "string",
                          "description": "units for the rest of the results"
                        },
                        "co2": {
                          "type": "number",
                          "format": "float",
                          "description": "Co2 in Kg or Lb"
                        },
                        "so2": {
                          "type": "number",
                          "format": "float",
                          "description": "So2 in Kg or Lb"
                        },
                        "nox": {
                          "type": "number",
                          "format": "float",
                          "description": "NOX in Kg or Lb"
                        }
                      },
                      "description": "Quantity of CO2 emissions that would have been generated by an equivalent fossil fuel system"
                    },
                    "treesPlanted": {
                      "type": "number",
                      "format": "float",
                      "description": "Equivalent planting of new trees for reducing CO2 levels"
                    },
                    "lightBulbs": {
                      "type": "number",
                      "format": "float",
                      "description": "number of light bulbs that could have been powered by the site for a day"
                    }
                  },
                  "description": "Environmental benefits for the site"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/inventory": {
      "get": {
        "summary": "Site Inventory",
        "description": "Return the inventory of SolarEdge equipment in the site, including inverters/SMIs, batteries, meters, gateways and sensors.",
        "operationId": "SiteInventory",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "Inventory": {
                  "type": "object",
                  "properties": {
                    "meters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Meter name"
                          },
                          "manufacturer": {
                            "type": "string",
                            "description": "Meter manufacturer"
                          },
                          "model": {
                            "type": "string",
                            "description": "Meter model"
                          },
                          "firmwareVersion": {
                            "type": "string",
                            "description": "Meter firmwareVersion"
                          },
                          "connectedSolaredgeDeviceSN": {
                            "type": "string",
                            "description": "\u2013 Name of SolarEdge device the meter is connected to"
                          },
                          "type": {
                            "type": "string",
                            "description": "Meter type e.g. \u201cProduction\u201d"
                          },
                          "form": {
                            "type": "string",
                            "description": "physical for a HW meter or virtual if calculated by arithmetic between other meters"
                          }
                        }
                      },
                      "description": "List of meters for specified site"
                    },
                    "sensors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "connectedSolaredgeDeviceSN": {
                            "type": "string",
                            "description": "\u2013 Name of SolarEdge device the sensor is connected to"
                          },
                          "id": {
                            "type": "string",
                            "description": "Sensor id"
                          },
                          "connectedTo": {
                            "type": "string",
                            "description": "name of the device it is connected to e.g. \"Gateway 1\""
                          },
                          "category": {
                            "type": "string",
                            "description": "Sensor category e.g. IRRADIANCE"
                          },
                          "type": {
                            "type": "string",
                            "description": "Sensor type e.g. \u201cPlane of array irradiance\u201d"
                          }
                        }
                      },
                      "description": "List of sensors for specified site"
                    },
                    "gateways": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The inverter name e.g. Inverter 1"
                          },
                          "firmwareVersion": {
                            "type": "string",
                            "description": "The equipment firmwareversion"
                          },
                          "SN": {
                            "type": "string",
                            "description": "The equipment serial number e.g. 7F123456-00"
                          }
                        }
                      },
                      "description": "List of gateways for specified site"
                    },
                    "batteries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The battery name"
                          },
                          "manufacturer": {
                            "type": "string",
                            "description": "The battery manufacturer"
                          },
                          "model": {
                            "type": "string",
                            "description": "The battery model"
                          },
                          "firmwareVersion": {
                            "type": "string",
                            "description": "The battery firmwareVersion"
                          },
                          "connectedInverterSn": {
                            "type": "string",
                            "description": "\u2013 serial number of the inverter / gateway the battery is connected to"
                          },
                          "nameplateCapacity": {
                            "type": "integer",
                            "format": "int32",
                            "description": "the nameplate capacity of the battery as provided by the manufacturer"
                          },
                          "SN": {
                            "type": "string",
                            "description": "Serial number of the battery"
                          }
                        }
                      },
                      "description": "List of batteries for specified site"
                    },
                    "inverters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The inverter name"
                          },
                          "manufacturer": {
                            "type": "string",
                            "description": "The inverter manufacturer"
                          },
                          "model": {
                            "type": "string",
                            "description": "The inverter model"
                          },
                          "firmwareVersion": {
                            "type": "string",
                            "description": "The inverter firmwareVersion"
                          },
                          "SN": {
                            "type": "string",
                            "description": "The inverter serialnumber"
                          },
                          "connectedOptimizers": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of optimizers connected to the inverter"
                          }
                        }
                      },
                      "description": "List of inverters for specified site"
                    }
                  },
                  "description": "Inventory"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/power": {
      "get": {
        "summary": "Site power",
        "description": "Return the site power measurements in 15 minutes resolution",
        "operationId": "SitePower",
        "parameters": [
          {
            "name": "startTime",
            "default": "2023-04-01 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start date and time (yyyy-mm-dd hh:mm:ss) to get power measurements",
            "x-ms-summary": "The start date and time",
            "x-ms-visibility": "important"
          },
          {
            "name": "endTime",
            "default": "2023-04-08 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start date and time (yyyy-mm-dd hh:mm:ss) to get power measurements",
            "x-ms-summary": "The start date and time",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "power": {
                  "type": "object",
                  "properties": {
                    "timeUnit": {
                      "type": "string",
                      "description": "Time unit (i.e. QUARTER_OF_AN_HOUR)"
                    },
                    "unit": {
                      "type": "string",
                      "description": "Measurement unit (i.e. Watt)"
                    },
                    "measuredBy": {
                      "type": "string",
                      "description": "Source of measurements"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Datetime"
                          },
                          "value": {
                            "type": "number",
                            "format": "float",
                            "description": "Measured power(i.e. Watt) at specified datetime"
                          }
                        }
                      },
                      "description": "Measurements"
                    }
                  },
                  "description": "Power measurements"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/energy": {
      "get": {
        "summary": "Site energy",
        "description": "Return the site energy measurements",
        "operationId": "SiteEnergy",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "timeUnit",
            "default": "DAY",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Aggregation granularity, allowed values are QUARTER_OF_AN_HOUR, HOUR, DAY, WEEK, MONTH, YEAR",
            "x-ms-summary": "Aggregation granularity"
          },
          {
            "name": "startDate",
            "default": "2022-05-10",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start date to return energy measurement",
            "x-ms-summary": "The start date to return energy measurement",
            "x-ms-visibility": "important"
          },
          {
            "name": "endDate",
            "default": "2022-05-11",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The end date return energy measurement",
            "x-ms-summary": "The end date return energy measurement",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "energy": {
                  "type": "object",
                  "properties": {
                    "timeUnit": {
                      "type": "string",
                      "description": "Requested time unit"
                    },
                    "unit": {
                      "type": "string",
                      "description": "The units of measurement"
                    },
                    "measuredBy": {
                      "type": "string",
                      "description": "Source of measurements"
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Datetime"
                          },
                          "value": {
                            "type": "number",
                            "format": "float",
                            "description": "Measured power(i.e. Watt) at specified datetime"
                          }
                        }
                      },
                      "description": "Measurements"
                    }
                  },
                  "description": "Energy measurements"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/energyDetails": {
      "get": {
        "summary": "Site Energy - Detailed",
        "description": "Detailed site energy measurements from meters such as consumption, export (feed-in), import (purchase), etc.",
        "operationId": "SiteEnergyDetailed",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "timeUnit",
            "default": "DAY",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Aggregation granularity, allowed values are QUARTER_OF_AN_HOUR, HOUR, DAY, WEEK, MONTH, YEAR",
            "x-ms-summary": "Aggregation granularity"
          },
          {
            "name": "startTime",
            "default": "2023-04-01 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The energy measured start time in yyyy-MM-DD hh:mm:ss format",
            "x-ms-summary": "The energy measured start time in yyyy-MM-DD hh:mm:ss format",
            "x-ms-visibility": "important"
          },
          {
            "name": "endTime",
            "default": "2023-04-08 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The energy measured end time in yyyy-MM-DD hh:mm:ss format",
            "x-ms-summary": "The energy measured end time in yyyy-MM-DD hh:mm:ss format",
            "x-ms-visibility": "important"
          },
          {
            "name": "Meters",
            "default": null,
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Select specific meters only, if blank everything is returned. Allowed values are PRODUCTION, CONSUMPTION, SelfConsumption, FeedIn, Purchased",
            "x-ms-summary": "Select specific meters only"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "energyDetails": {
                  "type": "object",
                  "properties": {
                    "timeUnit": {
                      "type": "string",
                      "description": "Requested time unit"
                    },
                    "unit": {
                      "type": "string",
                      "description": "The units of measurement"
                    },
                    "meters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "string",
                                  "description": "Datetime"
                                },
                                "value": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "Measured power(i.e. Watt) at specified datetime"
                                }
                              }
                            },
                            "description": "values"
                          }
                        }
                      },
                      "description": "meters"
                    }
                  },
                  "description": "energyDetails"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/powerDetails": {
      "get": {
        "summary": "Site Power - Detailed",
        "description": "Detailed site power measurements from meters such as consumption, export (feed-in), import (purchase), etc.",
        "operationId": "SitePowerDetailed",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "startTime",
            "default": "2023-04-01 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The energy measured start time in yyyy-MM-DD hh:mm:ss format",
            "x-ms-summary": "The energy measured start time",
            "x-ms-visibility": "important"
          },
          {
            "name": "endTime",
            "default": "2023-04-08 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The energy measured end time in yyyy-MM-DD hh:mm:ss format",
            "x-ms-summary": "The energy measured end time",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "powerDetails": {
                  "type": "object",
                  "properties": {
                    "timeUnit": {
                      "type": "string",
                      "description": "Requested time unit"
                    },
                    "unit": {
                      "type": "string",
                      "description": "The units of measurements"
                    },
                    "meters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The meter type (Production/Consumption/SelfConsumption/FeedIn (export)/Purchased(import))"
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "string",
                                  "description": "Datetime"
                                },
                                "value": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "Power for specified datetime"
                                }
                              }
                            },
                            "description": "Pairs of date and power for every date"
                          }
                        }
                      },
                      "description": "Meters"
                    }
                  },
                  "description": "powerDetails"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/currentPowerFlow": {
      "get": {
        "summary": "Site Power Flow",
        "description": "Retrieves the current power flow between all elements of the site including PV array, storage (battery), loads (consumption) and grid.",
        "operationId": "SitePowerFlow",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "siteCurrentPowerFlow": {
                  "type": "object",
                  "properties": {
                    "unit": {
                      "type": "string",
                      "description": "The measurement units (e.g. Watt)"
                    },
                    "connections": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "description": "The element providing power"
                          },
                          "to": {
                            "type": "string",
                            "description": "The element consuming power"
                          }
                        }
                      },
                      "description": "A table including all the relationships between the elements, and the power flow directions (producing element and consuming element)"
                    },
                    "GRID": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Grid status (Active / Idle/ Disabled)"
                        },
                        "currentPower": {
                          "type": "number",
                          "format": "float",
                          "description": "current grid Power"
                        }
                      },
                      "description": "GRID information for site"
                    },
                    "LOAD": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Load status (Active / Idle/ Disabled)"
                        },
                        "currentPower": {
                          "type": "number",
                          "format": "float",
                          "description": "current load Power"
                        }
                      },
                      "description": "LOAD information for site"
                    },
                    "PV": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "PV status (Active / Idle/ Disabled)"
                        },
                        "currentPower": {
                          "type": "number",
                          "format": "float",
                          "description": "current PV Power"
                        }
                      },
                      "description": "PV information for site"
                    },
                    "STORAGE": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "Storage status (Active / Idle/ Disabled)"
                        },
                        "currentPower": {
                          "type": "number",
                          "format": "float",
                          "description": "current storage Power"
                        },
                        "chargeLevel": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Storage chargeLevel"
                        },
                        "critical": {
                          "type": "boolean",
                          "description": "Storage critical?"
                        },
                        "timeLeft": {
                          "type": "integer",
                          "format": "int32",
                          "description": "In backup mode, specified time before storage runs out"
                        }
                      },
                      "description": "STORAGE information for site"
                    }
                  },
                  "description": "The response returns power flow for each of the elements in the system and their state"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/timeFrameEnergy": {
      "get": {
        "summary": "Site Energy \u2013 Time Period",
        "description": "Return the site total energy produced for a given period.",
        "operationId": "SiteEnergyTimePeriod",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "startDate",
            "default": "2023-04-01",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start date to return energy measurement",
            "x-ms-summary": "The start date to return energy measurement",
            "x-ms-visibility": "important"
          },
          {
            "name": "endDate",
            "default": "2023-04-08",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The end date return energy measurement",
            "x-ms-summary": "The end date return energy measurement",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "timeFrameEnergy": {
                  "type": "object",
                  "properties": {
                    "energy": {
                      "type": "number",
                      "format": "float",
                      "description": "Energy summary"
                    },
                    "unit": {
                      "type": "string",
                      "description": "Energy unit (Wh)"
                    },
                    "measuredBy": {
                      "type": "string",
                      "description": "The source of the measurements"
                    },
                    "startLifetimeEnergy": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "Supplied start date information"
                        },
                        "energy": {
                          "type": "number",
                          "format": "float",
                          "description": "Start date energy"
                        },
                        "unit": {
                          "type": "string",
                          "description": "Start date unit (Wh)"
                        }
                      },
                      "description": "Start Lifetime Energy information"
                    },
                    "endLifetimeEnergy": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "description": "Supplied end date information"
                        },
                        "energy": {
                          "type": "number",
                          "format": "float",
                          "description": "End date energy"
                        },
                        "unit": {
                          "type": "string",
                          "description": "End date unit (Wh)"
                        }
                      },
                      "description": "End Lifetime Energy informatino"
                    }
                  },
                  "description": "TimeFrameEnergy information"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/meters": {
      "get": {
        "summary": "Get Meters Data",
        "description": "Returns for each meter on site its lifetime energy reading, metadata and the device to which it\u2019s connected to.",
        "operationId": "GetMetersData",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "timeUnit",
            "default": "QUARTER_OF_AN_HOUR",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Aggregation granularity, allowed values are QUARTER_OF_AN_HOUR, HOUR, DAY, WEEK, MONTH, YEAR",
            "x-ms-summary": "Aggregation granularity"
          },
          {
            "name": "startTime",
            "default": "2023-04-01 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The energy measured start time in yyyy-MM-DD hh:mm:ss format",
            "x-ms-summary": "The energy measured start time in yyyy-MM-DD hh:mm:ss format",
            "x-ms-visibility": "important"
          },
          {
            "name": "endTime",
            "default": "2023-04-08 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The energy measured end time in yyyy-MM-DD hh:mm:ss format",
            "x-ms-summary": "The energy measured end time in yyyy-MM-DD hh:mm:ss format",
            "x-ms-visibility": "important"
          },
          {
            "name": "meters",
            "default": null,
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Select specific meters only. If this value is omitted, all meter readings are returned. Allowed values are Production, Consumption, FeedIn, Purchased",
            "x-ms-summary": "Select specific meters only"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "meterEnergyDetails": {
                  "type": "object",
                  "properties": {
                    "timeUnit": {
                      "type": "string",
                      "description": "Aggregation granularity"
                    },
                    "unit": {
                      "type": "string",
                      "description": "Returned meters unit (Wh)"
                    },
                    "meters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "meterSerialNumber": {
                            "type": "string",
                            "description": "meterSerialNumber"
                          },
                          "connectedSolaredgeDeviceSN": {
                            "type": "string",
                            "description": "Inverter to which the meter is connected to"
                          },
                          "model": {
                            "type": "string",
                            "description": "Meter model"
                          },
                          "meterType": {
                            "type": "string",
                            "description": "Meter type Production, Consumption, FeedIn or Purchased"
                          },
                          "values": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "string",
                                  "description": "Measurement timestamp"
                                },
                                "value": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "Lifetime energy reading"
                                }
                              }
                            },
                            "description": "Values per meter per date"
                          }
                        }
                      },
                      "description": "Values per meter"
                    }
                  },
                  "description": "Overall meter energy details"
                }
              }
            }
          }
        }
      }
    },
    "/site/{site_id}/storageData": {
      "get": {
        "summary": "Storage Information",
        "description": "Get detailed storage information from batteries: the state of energy, power and lifetime energy.",
        "operationId": "StorageInformation",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "startTime",
            "default": "2023-04-01 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "endTime",
            "default": "2023-04-08 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "serials",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Return data only for specific battery serial numbers, the list is comma separated. If omitted, the response includes all the batteries in the site",
            "x-ms-summary": "Return data only for specific battery serial numbers"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "storageData": {
                  "type": "object",
                  "properties": {
                    "batteryCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of batteries includes in the response"
                    },
                    "batteries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nameplate": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The nameplate (nominal) capacity of the battery"
                          },
                          "serialNumber": {
                            "type": "string",
                            "description": "The battery serial number"
                          },
                          "modelNumber": {
                            "type": "string",
                            "description": "Battery model number"
                          },
                          "telemetryCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The number of telemetries for this battery in the response"
                          },
                          "telemetries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "timeStamp": {
                                  "type": "string",
                                  "description": "Telemetry timestamp in the format of YYYY-MM-DD HH:MM:SS"
                                },
                                "power": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Positive power indicates the battery is charging, negative is discharging"
                                },
                                "batteryState": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Can be one of the following 0 (Invalid), 1 (Standby), 2 (Thermal Mgmt.), 3 (Enabled), 4 (Fault)"
                                },
                                "lifeTimeEnergyCharged": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The energy Charged from the battery in Wh, during battery lifetime"
                                },
                                "lifeTimeEnergyDischarged": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "The energy discharged from the battery in Wh, during battery lifetime"
                                },
                                "fullPackEnergyAvailable": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The maximum energy (Wh) that can currently be stored in the battery"
                                },
                                "internalTemp": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Battery internal temperature in Celsius"
                                },
                                "ACGridCharging": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Amount of AC energy used to charge the battery from grid within a specified date range in Wh"
                                },
                                "stateOfCharge": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "the battery state of charge as percentage of the available capacity. Values are in the range of 0 to 100"
                                }
                              }
                            },
                            "description": "A list of storage data telemetries"
                          }
                        }
                      },
                      "description": "A list of battery objects"
                    }
                  },
                  "description": "storageData"
                }
              }
            }
          }
        }
      }
    },
    "/equipment/{site_id}/list": {
      "get": {
        "summary": "Components List",
        "description": "Return a list of inverters/SMIs in the specific site",
        "operationId": "ComponentsList",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "reporters": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The sites component count"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "componentname": {
                            "type": "string",
                            "description": "The component name"
                          },
                          "manufacturer": {
                            "type": "string",
                            "description": "The component manufacturer"
                          },
                          "Model": {
                            "type": "string",
                            "description": "The component model"
                          },
                          "SerialNumber": {
                            "type": "string",
                            "description": "The component serialNumber"
                          }
                        }
                      },
                      "description": "list"
                    }
                  },
                  "description": "reporters"
                }
              }
            }
          }
        }
      }
    },
    "/equipment/{site_id}/sensors": {
      "get": {
        "summary": "Get Sensor List",
        "description": "Returns a list of all the sensors in the site, and the device to which they are connected",
        "operationId": "GetSensorList",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "SiteSensors": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The sites sensor count"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "connectedTo": {
                            "type": "string",
                            "description": "Name of the gateway the sensor is connected to"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The gateways sensor count"
                          },
                          "sensors": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Sensor name"
                                },
                                "measurement": {
                                  "type": "string",
                                  "description": "What the sensor measures, e.g. SensorGlobalHorizontalIrradiance, SensorDiffusedIrradiance, SensorAmbientTemperature"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "what the sensor measures, e.g. SensorGlobalHorizontalIrradiance, SensorDiffusedIrradiance, SensorAmbientTemperature"
                                }
                              }
                            },
                            "description": "sensors"
                          }
                        }
                      },
                      "description": "List per gateway"
                    }
                  },
                  "description": "Site sensors"
                }
              }
            }
          }
        }
      }
    },
    "/equipment/{site_id}/{equipment_id}/data": {
      "get": {
        "summary": "Inverter Technical Data",
        "description": "Return specific inverter data for a given timeframe.",
        "operationId": "InverterTechnicalData",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-url-encoding": "single",
            "name": "equipment_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The serial number of the equipment",
            "x-ms-summary": "The serial number of the equipment",
            "x-ms-visibility": "important"
          },
          {
            "name": "startTime",
            "default": "2023-04-01 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The start (date + time) to get inverter data",
            "x-ms-summary": "The start (date + time) to get inverter data",
            "x-ms-visibility": "important"
          },
          {
            "name": "endTime",
            "default": "2023-04-08 11:00:00",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The end (date + time) to get inverter data",
            "x-ms-summary": "The end (date + time) to get inverter data",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Count of responses"
                    },
                    "telemetries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "threePhaseInverterTelemetry": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "date": {
                                  "type": "string",
                                  "description": "date"
                                },
                                "totalActivePower": {
                                  "type": "string",
                                  "description": "totalActivePower"
                                },
                                "dcVoltage": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "dcVoltage"
                                },
                                "groundFaultResistance": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "groundFaultResistance"
                                },
                                "powerLimit": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "powerLimit"
                                },
                                "totalEnergy": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "totalEnergy"
                                },
                                "temperature": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "Temperature in Celsius"
                                },
                                "inverterMode": {
                                  "type": "string",
                                  "description": "State of the inverter i.e. OFF, STARTING, MPPT etc."
                                },
                                "operationMode": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Operation mode integer 0 On-grid, 1 Operating in off-grid mode with PV or Battery, 2 operating in off-grid mode with generator"
                                },
                                "L1Data": {
                                  "type": "object",
                                  "properties": {
                                    "acCurrent": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "acCurrent"
                                    },
                                    "acVoltage": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "acVoltage"
                                    },
                                    "acFrequency": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "acFrequency"
                                    },
                                    "apparentPower": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "apparentPower"
                                    },
                                    "activePower": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "activePower"
                                    },
                                    "reactivePower": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "reactivePower"
                                    },
                                    "cosPhi": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "cosPhi"
                                    }
                                  },
                                  "description": "L1Data - 1 phase data"
                                },
                                "vL1To2": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "vL1To2"
                                },
                                "vL2To3": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "vL2To3"
                                },
                                "vL3To1": {
                                  "type": "number",
                                  "format": "float",
                                  "description": "vL3To1"
                                },
                                "L2Data": {
                                  "type": "object",
                                  "properties": {
                                    "acCurrent": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "acCurrent"
                                    },
                                    "acVoltage": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "acVoltage"
                                    },
                                    "acFrequency": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "acFrequency"
                                    },
                                    "apparentPower": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "apparentPower"
                                    },
                                    "activePower": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "activePower"
                                    },
                                    "reactivePower": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "reactivePower"
                                    },
                                    "cosPhi": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "cosPhi"
                                    }
                                  },
                                  "description": "L2Data - 2 phase data"
                                },
                                "L3Data": {
                                  "type": "object",
                                  "properties": {
                                    "acCurrent": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "acCurrent"
                                    },
                                    "acVoltage": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "acVoltage"
                                    },
                                    "acFrequency": {
                                      "type": "number",
                                      "format": "float",
                                      "description": "acFrequency"
                                    },
                                    "apparentPower": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "apparentPower"
                                    },
                                    "activePower": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "activePower"
                                    },
                                    "reactivePower": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "reactivePower"
                                    },
                                    "cosPhi": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "cosPhi"
                                    }
                                  },
                                  "description": "L3Data - 3 phase data"
                                }
                              }
                            },
                            "description": "threePhaseInverterTelemetry"
                          }
                        }
                      },
                      "description": "telemetries"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        }
      }
    },
    "/equipment/{site_id}/{equipment_id}/changeLog": {
      "get": {
        "summary": "Equipment Change Log",
        "description": "Returns a list of equipment component replacements ordered by date. This method is applicable to inverters, optimizers, batteries and gateways.",
        "operationId": "EquipmentChangeLog",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "site_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The site identifier",
            "x-ms-summary": "The site identifier",
            "x-ms-visibility": "important"
          },
          {
            "name": "equipment_id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The serial number of the equipment",
            "x-ms-summary": "The serial number of the equipment",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "ChangeLog": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count"
                    },
                    "list": {
                      "type": "object",
                      "properties": {
                        "serialNumber": {
                          "type": "string",
                          "description": "Equipment short serial number"
                        },
                        "partNumber": {
                          "type": "string",
                          "description": "inverter/battery/optimizer/gateway model"
                        },
                        "date": {
                          "type": "string",
                          "description": "Date of replacement of that equipment component"
                        }
                      },
                      "description": "list of equipment"
                    }
                  },
                  "description": "ChangeLog"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.solaredge.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://monitoring.solaredge.com/solaredge-web/p/license"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Internet of Things;Data"
    }
  ],
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}