{
  "swagger": "2.0",
  "info": {
    "title": "LINE WORKS Bot",
    "description": "This connector allows you to send messages to LINE WORKS users and chat rooms using the LINE WORKS Bot API. It supports OAuth 2.0 authentication and provides secure enterprise-grade messaging capabilities.",
    "version": "1.0",
    "contact": {
      "name": "iwaohig",
      "email": "iwaohig@gmail.com"
    }
  },
  "host": "www.worksapis.com",
  "basePath": "/v1.0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/bots/{botId}/users/{userId}/messages": {
      "post": {
        "summary": "Send message to user",
        "description": "Send a text message to a specific LINE WORKS user",
        "operationId": "SendMessageToUser",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Bot ID",
            "x-ms-summary": "Bot ID"
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "User ID (userId) or login ID (email)",
            "x-ms-summary": "User ID or Email"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Message type",
                      "default": "text",
                      "x-ms-visibility": "internal"
                    },
                    "text": {
                      "type": "string",
                      "description": "The message content to send",
                      "title": "Message"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                }
              },
              "required": [
                "content"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "The ID of the sent message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "User not found"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/bots/{botId}/channels/{channelId}/messages": {
      "post": {
        "summary": "Send message to channel",
        "description": "Send a text message to a LINE WORKS channel (chat room)",
        "operationId": "SendMessageToChannel",
        "parameters": [
          {
            "name": "botId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Bot ID",
            "x-ms-summary": "Bot ID"
          },
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The channel ID of the chat room",
            "x-ms-summary": "Channel ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "content": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Message type",
                      "default": "text",
                      "x-ms-visibility": "internal"
                    },
                    "text": {
                      "type": "string",
                      "description": "The message content to send",
                      "title": "Message"
                    }
                  },
                  "required": [
                    "type",
                    "text"
                  ]
                }
              },
              "required": [
                "content"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Message sent successfully",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "The ID of the sent message"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Channel not found"
          },
          "429": {
            "description": "Too many requests"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.worksmobile.com/oauth2/v2.0/authorize",
      "tokenUrl": "https://auth.worksmobile.com/oauth2/v2.0/token",
      "refreshUrl": "https://auth.worksmobile.com/oauth2/v2.0/token",
      "scopes": {
        "bot": "Bot API access"
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "bot"
      ]
    }
  ],
  "tags": []
}