{
  "swagger": "2.0",
  "info": {
    "title": "Documenatron Templating",
    "description": "A fast, simple, and capable service to automate the creation of Office documents based on text, images, documents and tables. More Information: https://www.documenatron.com",
    "contact": {
      "name": "Support",
      "url": "https://www.documenatron.com",
      "email": "support@documenatron.com"
    },
    "version": "v1"
  },
  "host": "api.documenatron.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/Documents/v1/Template": {
      "post": {
        "tags": [
          "Documents",
          "Template",
          "Collaboration"
        ],
        "operationId": "V1DocumentTemplatePost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Office Template (Binary) File",
            "schema": {
              "format": "binary",
              "title": "Template File",
              "type": "string"
            }
          },
          "403": {
            "description": "The request is not authorized to make the template request"
          },
          "404": {
            "description": "Service has not been found, please contact support@documentatron.com"
          },
          "500": {
            "description": "Something has gone wrong, please contact support@documenatron.com"
          }
        },
        "summary": "Create New Document From Template",
        "description": "Create a new Office document by merging an office template with text, images, documents and tables."
      }
    }
  },
  "definitions": {
    "DocumentTemplateRequest": {
      "required": [
        "template"
      ],
      "type": "object",
      "properties": {
        "template": {
          "type": "object",
          "properties": {
            "file": {
              "format": "binary",
              "type": "string",
              "x-ms-visibility": "important",
              "x-ms-summary": "Template File",
              "description": "File Contents of the Office Document template."
            }
          }
        },
        "images": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "file",
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "x-ms-summary": "Token",
                "description": "Document replacement token representing the image."
              },
              "file": {
                "type": "string",
                "x-ms-summary": "File Content",
                "description": "The file contents of an image.",
                "format": "binary"
              }
            }
          },
          "x-ms-summary": "Image",
          "x-ms-visibility": "advanced"
        },
        "text": {
          "x-ms-visibility": "important",
          "x-ms-summary": "Text",
          "type": "object",
          "description": "Collection of document replacement tokens and the replacement text."
        },
        "substituteDocuments": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "file",
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "x-ms-summary": "Token",
                "description": "Document replacement token representing the document."
              },
              "file": {
                "type": "string",
                "format": "binary",
                "x-ms-summary": "File Content",
                "description": "The file content of an document."
              }
            }
          },
          "x-ms-summary": "Document",
          "x-ms-visibility": "advanced"
        },
        "tables": {
          "type": "array",
          "items": {
            "type": "object",
            "required": [
              "rows",
              "token"
            ],
            "properties": {
              "token": {
                "type": "string",
                "x-ms-summary": "Token",
                "description": "Document replacement token representing the table."
              },
              "rows": {
                "type": "object",
                "x-ms-summary": "Rows",
                "description": "An array representing the rows in the table."
              }
            }
          },
          "x-ms-summary": "Table",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.documenatron.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.documenatron.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Content and Files"
    }
  ]
}