{
  "swagger": "2.0",
  "info": {
    "title": "Threads",
    "description": "Threads is a Slack replacement designed for makers. Threads provide a simple, focused canvas for sharing your work and getting rich feedback in return.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "threads.com",
  "basePath": "/api/public/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "multipart/form-data",
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/postThread": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "Whether okay.",
                  "title": "OK"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "threadID": {
                      "type": "string",
                      "description": "The thread identifier.",
                      "title": "Thread ID"
                    },
                    "threadURL": {
                      "type": "string",
                      "description": "The thread URL address.",
                      "title": "Thread URL"
                    }
                  },
                  "title": "Result"
                }
              }
            }
          }
        },
        "summary": "Post thread",
        "description": "Post a thread to a channel.",
        "operationId": "ThreadPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "channel": {
                  "type": "string",
                  "description": "The channel.",
                  "title": "Channel"
                },
                "channelID": {
                  "type": "string",
                  "description": "The channel identifier.",
                  "title": "Channel ID"
                },
                "blocks": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The blocks.",
                  "title": "Blocks"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/deleteThread": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "Whether okay.",
                  "title": "OK"
                }
              }
            }
          }
        },
        "summary": "Delete thread",
        "description": "Delete a thread from a channel that was posted by this bot.",
        "operationId": "ThreadDelete",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "threadID": {
                  "type": "string",
                  "description": "The thread identifier.",
                  "title": "Thread ID"
                }
              },
              "required": [
                "threadID"
              ]
            }
          }
        ]
      }
    },
    "/channels": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "Whether okay.",
                  "title": "OK"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "channelID": {
                        "type": "string",
                        "description": "The channel identifier.",
                        "title": "Channel ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Result"
                }
              }
            }
          }
        },
        "summary": "List channels",
        "description": "Retrieve a list of all channels visible to your bot.",
        "operationId": "ChannelsPost",
        "parameters": [],
        "x-ms-visibility": "advanced"
      }
    },
    "/postChatMessage": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "Whether okay.",
                  "title": "OK"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "chatMessageID": {
                      "type": "string",
                      "description": "The chat message identifier.",
                      "title": "Chat Message ID"
                    },
                    "chatMessageURL": {
                      "type": "string",
                      "description": "The chat message URL address.",
                      "title": "Chat Message URL"
                    }
                  },
                  "title": "Result"
                }
              }
            }
          }
        },
        "summary": "Post chat message",
        "description": "Post a message to a chat.",
        "operationId": "ChatPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "chat": {
                  "type": "string",
                  "description": "The chat.",
                  "title": "Chat"
                },
                "chatID": {
                  "type": "string",
                  "description": "The chat identifier.",
                  "title": "Chat ID"
                },
                "body": {
                  "type": "string",
                  "description": "The body.",
                  "title": "Body"
                }
              }
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/deleteChatMessage": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "Whether okay.",
                  "title": "OK"
                }
              }
            }
          }
        },
        "summary": "Delete chat message",
        "description": "Deletes a message from a chat.",
        "operationId": "ChatDelete",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "messageID": {
                  "type": "string",
                  "description": "The message identifier.",
                  "title": "Message ID"
                }
              }
            }
          }
        ]
      }
    },
    "/uploadFile": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "Whether okay.",
                  "title": "OK"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "fileID": {
                      "type": "string",
                      "description": "The file identifier.",
                      "title": "File ID"
                    }
                  },
                  "title": "Result"
                }
              }
            }
          }
        },
        "summary": "Upload file",
        "description": "Uploads a file which can be used in a subsequent post thread or post chat message requests.",
        "operationId": "FilePost",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "formData",
            "description": "The file content.",
            "x-ms-summary": "File Content",
            "required": false,
            "type": "file"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://threads.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://terms.threads.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Collaboration"
    }
  ]
}