{
  "swagger": "2.0",
  "info": {
    "title": "Cloverly",
    "description": "Cloverly's powerful API calculates the impact of common carbon-intensive activities in real time and uses verified, quality carbon offset projects to neutralize them. Businesses and consumers count on Cloverly to offset their carbon footprint and create positive environmental change based on real-time business activities.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api-prod-no-cert.cloverly.com",
  "basePath": "/2021-10",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/{transaction}/carbon": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "The unique identifier for the purchase. This value is unique across all accounts.",
                  "title": "Transaction ID"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "The state of the purchase.",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "The environment the purchase was made in",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "Total carbon dioxide equivalent calculated or requested for the purchase.",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "The number of micro units estimated or purchased. 1 micro unit is equivalent to one gram of carbon.",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In USD Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "Currency requested in request body. Defaults to USD if none passed.",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identification number.",
                      "title": "ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "The serial number range of the purchased tranche block.",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "The link to the global registry the tranche block was purchased on.",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "Link to public project page with more information.",
                      "title": "Project URL"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "The link to the public facing receipt of the purchase.",
                  "title": "Receipt URL"
                }
              }
            }
          }
        },
        "summary": "Direct purchase by carbon amount",
        "description": "Allows either the calculation or purchase of an offset to neutralize the impact.",
        "operationId": "DirectCarbon",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "Transaction",
            "description": "Pass estimates to get a calculation. Use purchases to also purchase an offset to neutralize the impact.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "estimates",
              "purchases"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "weight": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The amount.",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "Carbon unit (kg or lbs).",
                      "title": "Units",
                      "enum": [
                        "kg",
                        "lbs",
                        "grams",
                        "ounces",
                        "tons"
                      ]
                    }
                  },
                  "title": "Weight",
                  "required": [
                    "units",
                    "value"
                  ]
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "location": {
                      "type": "object",
                      "properties": {
                        "latlng": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "title": "Latlng"
                        }
                      },
                      "title": "Location"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "Add a note to be displayed in the receipt URL.",
                  "title": "Note"
                }
              },
              "required": [
                "weight"
              ]
            }
          }
        ]
      }
    },
    "/{transaction}/currency": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "The unique identifier for the purchase. This value is unique across all accounts.",
                  "title": "Transaction ID"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "The state of the purchase.",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "The environment the purchase was made in",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "Total carbon dioxide equivalent calculated or requested for the purchase.",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "The number of micro units estimated or purchased. 1 micro unit is equivalent to one gram of carbon.",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In USD Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "Currency requested in request body. Defaults to USD if none passed.",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identification number.",
                      "title": "ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "The serial number range of the purchased tranche block.",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "The link to the global registry the tranche block was purchased on.",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "Link to public project page with more information.",
                      "title": "Project URL"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "The link to the public facing receipt of the purchase.",
                  "title": "Receipt URL"
                }
              }
            }
          }
        },
        "summary": "Direct purchase by transaction amount",
        "description": "Allows either the calculation or purchase of an offset to neutralize the impact.",
        "operationId": "DirectTransaction",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "Transaction",
            "description": "Pass estimates to get a calculation. Use purchases to also purchase an offset to neutralize the impact.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "estimates",
              "purchases"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "currency": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The amount.",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "Carbon unit (kg or lbs).",
                      "title": "Units"
                    }
                  },
                  "title": "Currency",
                  "required": [
                    "value",
                    "units"
                  ]
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "Add a note to be displayed in the receipt URL.",
                  "title": "Note"
                },
                "unit_cost_usd_cents": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Unit cost in USD cents.",
                  "title": "Unit Cost USD Cents"
                }
              },
              "required": [
                "currency"
              ]
            }
          }
        ]
      }
    },
    "/{transaction}/shipping": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "The unique identifier for the purchase. This value is unique across all accounts.",
                  "title": "Transaction ID"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "The state of the purchase.",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "The environment the purchase was made in",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "Total carbon dioxide equivalent calculated or requested for the purchase.",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "The number of micro units estimated or purchased. 1 micro unit is equivalent to one gram of carbon.",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In USD Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "Currency requested in request body. Defaults to USD if none passed.",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identification number.",
                      "title": "ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "The serial number range of the purchased tranche block.",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "The link to the global registry the tranche block was purchased on.",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "Link to public project page with more information.",
                      "title": "Project URL"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "The link to the public facing receipt of the purchase.",
                  "title": "Receipt URL"
                }
              }
            }
          }
        },
        "summary": "Calculate emissions from package shipping",
        "description": "Calculate the carbon emissions from package shipping and offset the impact.",
        "operationId": "CalculatePackage",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "Transaction",
            "description": "Pass estimates to get a calculation. Use purchases to also purchase an offset to neutralize the impact.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "weight": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The amount.",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "Carbon unit (kg or lbs).",
                      "title": "Units"
                    }
                  },
                  "title": "Weight"
                },
                "mode": {
                  "type": "string",
                  "description": "Mode of transportation.",
                  "title": "Mode"
                },
                "distance": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The amount.",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "Carbon unit (kg or lbs).",
                      "title": "Units"
                    }
                  },
                  "title": "Distance"
                },
                "from": {
                  "type": "object",
                  "properties": {
                    "postal_code": {
                      "type": "string",
                      "description": "The postal code.",
                      "title": "Postal Code"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    }
                  },
                  "title": "From"
                },
                "to": {
                  "type": "object",
                  "properties": {
                    "postal_code": {
                      "type": "string",
                      "description": "The postal code.",
                      "title": "Postal Code"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    }
                  },
                  "title": "To"
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "Add a note to be displayed in the receipt URL.",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "Add a note to be displayed in the receipt URL.",
                  "title": "Note"
                }
              }
            }
          }
        ]
      }
    },
    "/{transaction}/mcc": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "The unique identifier for the purchase. This value is unique across all accounts.",
                  "title": "Transaction ID"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "The state of the purchase.",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "The environment the purchase was made in",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "Total carbon dioxide equivalent calculated or requested for the purchase.",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "The number of micro units estimated or purchased. 1 micro unit is equivalent to one gram of carbon.",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In USD Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "Currency requested in request body. Defaults to USD if none passed.",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identification number.",
                      "title": "ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "The serial number range of the purchased tranche block.",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "The link to the global registry the tranche block was purchased on.",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "Link to public project page with more information.",
                      "title": "Project URL"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "The link to the public facing receipt of the purchase.",
                  "title": "Receipt URL"
                }
              }
            }
          }
        },
        "summary": "Calculate emissions from merchant category code (MCC)",
        "description": "Calculate the carbon emissions from merchant category code (MCC) and offset the impact.",
        "operationId": "CalculateMCC",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "Transaction",
            "description": "Pass estimates to get a calculation. Use purchases to also purchase an offset to neutralize the impact.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "mcc_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Merchant category code: a four-digit number used by credit card companies to classify businesses.",
                  "title": "MCC Code"
                },
                "currency": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The amount.",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "Carbon unit (kg or lbs).",
                      "title": "Units"
                    }
                  },
                  "title": "Currency"
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "Add a note to be displayed in the receipt URL.",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "Add a note to be displayed in the receipt URL.",
                  "title": "Note"
                }
              }
            }
          }
        ]
      }
    },
    "/{transaction}/freight": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "The unique identifier for the purchase. This value is unique across all accounts.",
                  "title": "Transaction ID"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "The state of the purchase.",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "The environment the purchase was made in",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "Total carbon dioxide equivalent calculated or requested for the purchase.",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "The number of micro units estimated or purchased. 1 micro unit is equivalent to one gram of carbon.",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In USD Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "Currency requested in request body. Defaults to USD if none passed.",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identification number.",
                      "title": "ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "The serial number range of the purchased tranche block.",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "The link to the global registry the tranche block was purchased on.",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "Link to public project page with more information.",
                      "title": "Project URL"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "The link to the public facing receipt of the purchase.",
                  "title": "Receipt URL"
                }
              }
            }
          }
        },
        "description": "Calculate the carbon emissions from freight shipments and offset the impact.",
        "summary": "Calculate the emissions from freight shipments",
        "operationId": "CalculateFreight",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "Transaction",
            "description": "Pass estimates to get a calculation. Use purchases to also purchase an offset to neutralize the impact.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "weight": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The amount.",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "Carbon unit (kg or lbs).",
                      "title": "Units"
                    }
                  },
                  "title": "Weight",
                  "required": [
                    "value",
                    "units"
                  ]
                },
                "mode": {
                  "type": "string",
                  "description": "Mode of transportation.",
                  "title": "Mode"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "distance": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "The amount.",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "Carbon unit (kg or lbs).",
                      "title": "Units"
                    }
                  },
                  "title": "Distance"
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "Add a note to be displayed in the receipt URL.",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "Add a note to be displayed in the receipt URL.",
                  "title": "Note"
                }
              }
            }
          }
        ]
      }
    },
    "/{transaction}/flight": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "The unique identifier for the purchase. This value is unique across all accounts.",
                  "title": "Transaction ID"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "The state of the purchase.",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "The environment the purchase was made in.",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "format": "float",
                  "description": "Total carbon dioxide equivalent calculated or requested for the purchase.",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of micro units estimated or purchased. 1 micro unit is equivalent to one gram of carbon.",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total cost.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The transaction cost.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The carbon cost.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In USD Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "Currency requested in request body. Defaults to USD if none passed.",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "format": "float",
                          "description": "The total cost.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "format": "float",
                          "description": "The transaction cost.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "format": "float",
                          "description": "The carbon cost.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Project identification number.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the project.",
                      "title": "Name"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of project, ex. Solar.",
                      "title": "Type"
                    },
                    "city": {
                      "type": "string",
                      "description": "City the project is located in.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "State the project is located in.",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "Country the project is located in.",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "The serial number range of the purchased tranche block.",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "The link to the global registry the tranche block was purchased on.",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "Link to public project page with more information.",
                      "title": "Project URL"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "The link to the public facing receipt of the purchase.",
                  "title": "Receipt URL"
                }
              }
            }
          }
        },
        "summary": "Calculate the emissions from flight",
        "description": "Calculate the carbon emissions and offset the impact from a flight.",
        "operationId": "CalculateFlight",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "Transaction",
            "description": "Pass estimates to get a calculation. Use purchases to also purchase an offset to neutralize the impact.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "estimates",
              "purchases"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "airports": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "Items"
                  },
                  "title": "Airports"
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "Add a note to be displayed in the receipt URL.",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "Add a note to be displayed in the receipt URL.",
                  "title": "Note"
                }
              },
              "required": [
                "airports"
              ]
            }
          }
        ]
      }
    },
    "/{transaction}/vehicle": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "The unique identifier for the purchase. This value is unique across all accounts.",
                  "title": "Transaction ID"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "The state of the purchase.",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "The environment the purchase was made in",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "Total carbon dioxide equivalent calculated or requested for the purchase.",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "The number of micro units estimated or purchased. 1 micro unit is equivalent to one gram of carbon.",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In USD Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "Currency requested in request body. Defaults to USD if none passed.",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identification number.",
                      "title": "ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "The serial number range of the purchased tranche block.",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "The link to the global registry the tranche block was purchased on.",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "Link to public project page with more information.",
                      "title": "Project URL"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "The link to the public facing receipt of the purchase.",
                  "title": "Receipt URL"
                }
              }
            }
          }
        },
        "summary": "Calculate the emissions from vehicle",
        "description": "Calculate the carbon emissions and offset the impact from a vehicle.",
        "operationId": "CalculateVehicle",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "Transaction",
            "description": "Pass estimates to get a calculation. Use purchases to also purchase an offset to neutralize the impact.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "estimates",
              "purchases"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "distance": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The amount.",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "Carbon unit (kg or lbs).",
                      "title": "Units"
                    }
                  },
                  "title": "Distance",
                  "required": [
                    "units",
                    "value"
                  ]
                },
                "fuel_efficiency": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The amount.",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "Carbon unit (kg or lbs).",
                      "title": "Units"
                    },
                    "of": {
                      "type": "string",
                      "description": "Of",
                      "title": "Of"
                    }
                  },
                  "title": "Fuel Efficiency",
                  "required": [
                    "of",
                    "units",
                    "value"
                  ]
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "Add a note to be displayed in the receipt URL.",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "Add a note to be displayed in the receipt URL.",
                  "title": "Note"
                }
              },
              "required": [
                "distance",
                "fuel_efficiency"
              ]
            }
          }
        ]
      }
    },
    "/{transaction}/electricity": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "The unique identifier for the purchase. This value is unique across all accounts.",
                  "title": "Transaction ID"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "The state of the purchase.",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "The environment the purchase was made in",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "Total carbon dioxide equivalent calculated or requested for the purchase.",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "The number of micro units estimated or purchased. 1 micro unit is equivalent to one gram of carbon.",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In USD Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "Currency requested in request body. Defaults to USD if none passed.",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identification number.",
                      "title": "ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "The serial number range of the purchased tranche block.",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "The link to the global registry the tranche block was purchased on.",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "Link to public project page with more information.",
                      "title": "Project URL"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "The link to the public facing receipt of the purchase.",
                  "title": "Receipt URL"
                }
              }
            }
          }
        },
        "description": "Calculate the carbon emissions and offset the impact from electricity.",
        "summary": "Calculate the emissions from electricity",
        "operationId": "CalculateElectricity",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "Transaction",
            "description": "Pass estimates to get a calculation. Use purchases to also purchase an offset to neutralize the impact.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "estimates",
              "purchases"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "energy": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "The amount.",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "Carbon unit (kg or lbs).",
                      "title": "Units",
                      "enum": [
                        "Wh",
                        "kWh",
                        "mWh"
                      ]
                    }
                  },
                  "title": "Energy",
                  "required": [
                    "units",
                    "value"
                  ]
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "The postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The country.",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "Add a note to be displayed in the receipt URL.",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "Add a note to be displayed in the receipt URL.",
                  "title": "Note"
                }
              },
              "required": [
                "energy"
              ]
            }
          }
        ]
      }
    },
    "/project/{project_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identification number.",
                      "title": "ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "The serial number range of the purchased tranche block.",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "The link to the global registry the tranche block was purchased on.",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "Link to public project page with more information.",
                      "title": "Project URL"
                    },
                    "cost_per_kg_carbon_in_usd_cents": {
                      "type": "string",
                      "description": "The cost per kilogram of carbon.",
                      "title": "Cost Per Kg Carbon In USD Cents"
                    },
                    "available_carbon_in_kg": {
                      "type": "string",
                      "description": "The available carbon in kilograms.",
                      "title": "Available Carbon In Kg"
                    }
                  },
                  "title": "Project"
                }
              }
            }
          }
        },
        "summary": "View project details",
        "description": "Get details about an offset source with the given project ID.",
        "operationId": "ProjectDetails",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "Project ID",
            "description": "The ID of the project.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/portfolio/{portfolio_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the project.",
                  "title": "Name"
                },
                "slug": {
                  "type": "string",
                  "description": "The slug of the project.",
                  "title": "Slug"
                },
                "blended_unit_cost_usd_cents": {
                  "type": "number",
                  "format": "float",
                  "description": "The cost per kg of carbon for the portfolio.",
                  "title": "Blended Unit Cost USD Cents"
                },
                "total_remaining_units": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total remaining microunits.",
                  "title": "Total Remaining Units"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "offset_sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "name"
                      },
                      "slug": {
                        "type": "string",
                        "description": "The slug.",
                        "title":"slug"
                      },
                      "available_carbon_in_kg": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Available carbon in kilograms.",
                        "title":"Available Carbon in Kg"
                      }
                    }
                  },
                  "title": "Offset Sources"
                }
              }
            }
          }
        },
        "summary": "View custom portfolio details",
        "description": "Get information around a given portfolio ID. Includes a back reference to offset sources.",
        "operationId": "PortfolioDetails",
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "x-ms-summary": "Portfolio ID",
            "description": "The ID of the portfolio.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/project-types": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "type_id": {
                    "type": "string",
                    "description": "type_id"
                  },
                  "title": {
                    "type": "string",
                    "description": "description"
                  }
                }
              }
            }
          }
        },
        "summary": "List project types",
        "description": "Returns a list of project types.",
        "operationId": "ProjectTypes",
        "parameters": []
      }
    },
    "/account": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "balance_in_usd_cents": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Balance in USD cents.",
                  "title": "Balance In USD Cents"
                },
                "production_enabled?": {
                  "type": "boolean",
                  "description": "Whether production is enabled.",
                  "title": "Production Enabled?"
                }
              }
            }
          }
        },
        "summary": "Get account information",
        "description": "Returns details about your account.",
        "operationId": "Account",
        "parameters": []
      }
    },
    "/purchases": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "The unique identifier for the purchase. This value is unique across all accounts.",
                  "title": "Transaction ID"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "The state of the purchase.",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "The environment the purchase was made in",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "Total carbon dioxide equivalent calculated or requested for the purchase.",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "The number of micro units estimated or purchased. 1 micro unit is equivalent to one gram of carbon.",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In USD Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "Currency requested in request body. Defaults to USD if none passed.",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "The total cost of the purchase.",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "The transaction cost of the purchase.",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "The cost of the credits purchased to offset.",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identification number.",
                      "title": "ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "The country.",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "The serial number range of the purchased tranche block.",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "The link to the global registry the tranche block was purchased on.",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "Link to public project page with more information.",
                      "title": "Project URL"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "The link to the public facing receipt of the purchase.",
                  "title": "Receipt URL"
                }
              }
            }
          }
        },
        "summary": "Convert estimate to purchase",
        "description": "Converts a carbon offset estimate to a purchase",
        "operationId": "ConvertEstimate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "transaction_ID": {
                  "type": "string",
                  "description": "The unique identifier for the purchase. This value is unique across all accounts.",
                  "title": "Transaction ID"
                }
              },
              "required": [
                "transaction_ID"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cloverly.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cloverly.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce"
    }
  ]
}
