{
  "swagger": "2.0",
  "info": {
    "title": "Cloverly",
    "description": "Cloverly's powerful API calculates the impact of common carbon-intensive activities in real time and uses verified, quality carbon offset projects to neutralize them. Businesses and consumers count on Cloverly to offset their carbon footprint and create positive environmental change based on real-time business activities.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api-prod-no-cert.cloverly.com",
  "basePath": "/2021-10",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{transaction}/carbon": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction Id"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Usd Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "title": "Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "",
                      "title": "Project Url"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "",
                  "title": "Receipt Url"
                }
              }
            }
          }
        },
        "summary": "Direct purchase by carbon amount",
        "description": "Allows either the calculation or purchase of an offset to neutralize the impact.",
        "operationId": "DirectCarbon",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "",
            "description": "",
            "x-ms-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "estimates",
              "purchases"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "weight": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "",
                      "title": "Units",
                      "enum": [
                        "kg",
                        "lbs",
                        "grams",
                        "ounces",
                        "tons"
                      ]
                    }
                  },
                  "title": "Weight",
                  "required": [
                    "units",
                    "value"
                  ]
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "location": {
                      "type": "object",
                      "properties": {
                        "latlng": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "title": "Latlng"
                        }
                      },
                      "title": "Location"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "",
                  "title": "Note"
                }
              },
              "required": [
                "weight"
              ]
            }
          }
        ]
      }
    },
    "/{transaction}/currency": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction Id"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Usd Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "title": "Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "",
                      "title": "Project Url"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "",
                  "title": "Receipt Url"
                }
              }
            }
          }
        },
        "summary": "Direct purchase by transaction amount",
        "description": "Allows either the calculation or purchase of an offset to neutralize the impact.",
        "operationId": "DirectTransaction",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "",
            "description": "",
            "x-ms-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "estimates",
              "purchases"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "currency": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "",
                      "title": "Units"
                    }
                  },
                  "title": "Currency",
                  "required": [
                    "value",
                    "units"
                  ]
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "",
                  "title": "Note"
                },
                "unit_cost_usd_cents": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "Unit Cost Usd Cents"
                }
              },
              "required": [
                "currency"
              ]
            }
          }
        ]
      }
    },
    "/{transaction}/shipping": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction Id"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Usd Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "title": "Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "",
                      "title": "Project Url"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "",
                  "title": "Receipt Url"
                }
              }
            }
          }
        },
        "summary": "Calculate emissions from package shipping",
        "description": "Calculate the carbon emissions from package shipping and offset the impact.",
        "operationId": "CalculatePackage",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "",
            "description": "",
            "x-ms-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "weight": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "",
                      "title": "Units"
                    }
                  },
                  "title": "Weight"
                },
                "mode": {
                  "type": "string",
                  "description": "",
                  "title": "Mode"
                },
                "distance": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "",
                      "title": "Units"
                    }
                  },
                  "title": "Distance"
                },
                "from": {
                  "type": "object",
                  "properties": {
                    "postal_code": {
                      "type": "string",
                      "description": "",
                      "title": "Postal Code"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    }
                  },
                  "title": "From"
                },
                "to": {
                  "type": "object",
                  "properties": {
                    "postal_code": {
                      "type": "string",
                      "description": "",
                      "title": "Postal Code"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    }
                  },
                  "title": "To"
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "",
                  "title": "Note"
                }
              }
            }
          }
        ]
      }
    },
    "/{transaction}/mcc": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction Id"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Usd Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "title": "Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "",
                      "title": "Project Url"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "",
                  "title": "Receipt Url"
                }
              }
            }
          }
        },
        "summary": "Calculate emissions from merchant category code (MCC)",
        "description": "Calculate the carbon emissions from merchant category code (MCC) and offset the impact.",
        "operationId": "CalculateMCC",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "",
            "description": "",
            "x-ms-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "mcc_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "Mcc Code"
                },
                "currency": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "",
                      "title": "Units"
                    }
                  },
                  "title": "Currency"
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "",
                  "title": "Note"
                }
              }
            }
          }
        ]
      }
    },
    "/{transaction}/freight": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction Id"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Usd Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "title": "Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "",
                      "title": "Project Url"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "",
                  "title": "Receipt Url"
                }
              }
            }
          }
        },
        "description": "Calculate the carbon emissions from freight shipments and offset the impact.",
        "summary": "Calculate the emissions from freight shipments",
        "operationId": "CalculateFreight",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "",
            "description": "",
            "x-ms-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "weight": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "",
                      "title": "Units"
                    }
                  },
                  "title": "Weight",
                  "required": [
                    "value",
                    "units"
                  ]
                },
                "mode": {
                  "type": "string",
                  "description": "",
                  "title": "Mode"
                },
                "type": {
                  "type": "string",
                  "description": "",
                  "title": "Type"
                },
                "distance": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "",
                      "title": "Units"
                    }
                  },
                  "title": "Distance"
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "",
                  "title": "Note"
                }
              }
            }
          }
        ]
      }
    },
    "/{transaction}/flight": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Calculate the emissions from flight",
        "description": "Calculate the carbon emissions and offset the impact from a flight.",
        "operationId": "CalculateFlight",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "",
            "description": "",
            "x-ms-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "estimates",
              "purchases"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "airports": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": ""
                  },
                  "title": "Airports"
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "",
                  "title": "Note"
                }
              },
              "required": [
                "airports"
              ]
            }
          }
        ]
      }
    },
    "/{transaction}/vehicle": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction Id"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Usd Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "title": "Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "",
                      "title": "Project Url"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "",
                  "title": "Receipt Url"
                }
              }
            }
          }
        },
        "summary": "Calculate the emissions from vehicle",
        "description": "Calculate the carbon emissions and offset the impact from a vehicle.",
        "operationId": "CalculateVehicle",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "",
            "description": "",
            "x-ms-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "estimates",
              "purchases"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "distance": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "",
                      "title": "Units"
                    }
                  },
                  "title": "Distance",
                  "required": [
                    "units",
                    "value"
                  ]
                },
                "fuel_efficiency": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "",
                      "title": "Units"
                    },
                    "of": {
                      "type": "string",
                      "description": "",
                      "title": "Of"
                    }
                  },
                  "title": "Fuel Efficiency",
                  "required": [
                    "of",
                    "units",
                    "value"
                  ]
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "",
                  "title": "Note"
                }
              },
              "required": [
                "distance",
                "fuel_efficiency"
              ]
            }
          }
        ]
      }
    },
    "/{transaction}/electricity": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction Id"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Usd Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "title": "Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "",
                      "title": "Project Url"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "",
                  "title": "Receipt Url"
                }
              }
            }
          }
        },
        "description": "Calculate the carbon emissions and offset the impact from electricity.",
        "summary": "Calculate the emissions from electricity",
        "operationId": "CalculateElectricity",
        "parameters": [
          {
            "name": "transaction",
            "in": "path",
            "x-ms-summary": "",
            "description": "",
            "x-ms-encoding": "single",
            "required": true,
            "type": "string",
            "enum": [
              "estimates",
              "purchases"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "energy": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "number",
                      "description": "",
                      "title": "Value"
                    },
                    "units": {
                      "type": "string",
                      "description": "",
                      "title": "Units",
                      "enum": [
                        "Wh",
                        "kWh",
                        "mWh"
                      ]
                    }
                  },
                  "title": "Energy",
                  "required": [
                    "units",
                    "value"
                  ]
                },
                "project_match": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "location": {
                      "type": "object",
                      "properties": {
                        "postal_code": {
                          "type": "string",
                          "description": "",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "",
                          "title": "Country"
                        }
                      },
                      "title": "Location"
                    },
                    "note": {
                      "type": "string",
                      "description": "",
                      "title": "Note"
                    }
                  },
                  "title": "Project Match"
                },
                "note": {
                  "type": "string",
                  "description": "",
                  "title": "Note"
                }
              },
              "required": [
                "energy"
              ]
            }
          }
        ]
      }
    },
    "/project/{project_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "title": "Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "",
                      "title": "Project Url"
                    },
                    "cost_per_kg_carbon_in_usd_cents": {
                      "type": "string",
                      "description": "",
                      "title": "cost_per_kg_carbon_in_usd_cents"
                    },
                    "available_carbon_in_kg": {
                      "type": "string",
                      "description": "",
                      "title": "Available Carbon In Kg"
                    }
                  },
                  "title": "Project"
                }
              }
            }
          }
        },
        "summary": "View project details",
        "description": "Get details about an offset source with the given project ID.",
        "operationId": "ProjectDetails",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "x-ms-summary": "",
            "description": "",
            "x-ms-encoding": "single",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/portfolio/{portfolio_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "",
                  "title": "Name"
                },
                "slug": {
                  "type": "string",
                  "description": "",
                  "title": "Slug"
                },
                "blended_unit_cost_usd_cents": {
                  "type": "number",
                  "format": "float",
                  "description": "",
                  "title": "blended_unit_cost_usd_cents"
                },
                "total_remaining_units": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "Total Remaining Units"
                },
                "created_at": {
                  "type": "string",
                  "description": "",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "",
                  "title": "Updated At"
                },
                "offset_sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "slug": {
                        "type": "string",
                        "description": "slug"
                      },
                      "available_carbon_in_kg": {
                        "type": "integer",
                        "format": "int32",
                        "description": "available_carbon_in_kg"
                      }
                    }
                  },
                  "title": "Offset Sources"
                }
              }
            }
          }
        },
        "summary": "View custom portfolio details",
        "description": "Get information around a given portfolio ID. Includes a back reference to offset sources.",
        "operationId": "PortfolioDetails",
        "parameters": [
          {
            "name": "portfolio_id",
            "in": "path",
            "x-ms-summary": "",
            "description": "",
            "x-ms-encoding": "single",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/project-types": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "type_id": {
                    "type": "string",
                    "description": "type_id"
                  },
                  "title": {
                    "type": "string",
                    "description": "description"
                  }
                }
              }
            }
          }
        },
        "summary": "List project types",
        "description": "Returns a list of project types.",
        "operationId": "ProjectTypes",
        "parameters": []
      }
    },
    "/account": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "",
                  "title": "Name"
                },
                "balance_in_usd_cents": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "Balance In Usd Cents"
                },
                "production_enabled?": {
                  "type": "boolean",
                  "description": "",
                  "title": "production_enabled?"
                }
              }
            }
          }
        },
        "summary": "Get account information",
        "description": "Returns details about your account.",
        "operationId": "Account",
        "parameters": []
      }
    },
    "/purchases": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_id": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction Id"
                },
                "transaction_state": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction State"
                },
                "environment": {
                  "type": "string",
                  "description": "",
                  "title": "Environment"
                },
                "total_co2e_in_kg": {
                  "type": "number",
                  "description": "",
                  "title": "Total CO2e in Kg"
                },
                "total_micro_units": {
                  "type": "number",
                  "description": "",
                  "title": "Total Micro Units"
                },
                "cost": {
                  "type": "object",
                  "properties": {
                    "in_usd_cents": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "integer",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Usd Cents"
                    },
                    "requested_currency": {
                      "type": "string",
                      "description": "",
                      "title": "Requested Currency"
                    },
                    "in_requested_currency": {
                      "type": "object",
                      "properties": {
                        "total_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Total Cost"
                        },
                        "transaction_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Transaction Cost"
                        },
                        "carbon_cost": {
                          "type": "number",
                          "description": "",
                          "title": "Carbon Cost"
                        }
                      },
                      "title": "In Requested Currency"
                    }
                  },
                  "title": "Cost"
                },
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "",
                      "title": "Id"
                    },
                    "type": {
                      "type": "string",
                      "description": "",
                      "title": "Type"
                    },
                    "name": {
                      "type": "string",
                      "description": "",
                      "title": "Name"
                    },
                    "city": {
                      "type": "string",
                      "description": "",
                      "title": "City"
                    },
                    "state": {
                      "type": "string",
                      "description": "",
                      "title": "State"
                    },
                    "country": {
                      "type": "string",
                      "description": "",
                      "title": "Country"
                    },
                    "registry_serial_number_range": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Serial Number Range"
                    },
                    "registry_link": {
                      "type": "string",
                      "description": "",
                      "title": "Registry Link"
                    },
                    "project_url": {
                      "type": "string",
                      "description": "",
                      "title": "Project Url"
                    }
                  },
                  "title": "Project"
                },
                "receipt_url": {
                  "type": "string",
                  "description": "",
                  "title": "Receipt Url"
                }
              }
            }
          }
        },
        "summary": "Convert estimate to purchase",
        "description": "Converts a carbon offset estimate to a purchase",
        "operationId": "ConvertEstimate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "transaction_ID": {
                  "type": "string",
                  "description": "",
                  "title": "Transaction Id"
                }
              },
              "required": [
                "transaction_ID"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cloverly.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cloverly.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce"
    }
  ]
}