{
  "swagger": "2.0",
  "info": {
    "title": "Checkly",
    "version": "1.0",
    "description": "Checkly is the monitoring platform for the modern stack: programmable, flexible and loving JavaScript. Monitor and validate your crucial site transactions. Automatically collect error traces, screenshots and performance metrics with every check you run.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.checklyhq.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/alert-channels": {
      "get": {
        "summary": "List all alert channels",
        "operationId": "GetV1Alertchannels",
        "description": "Lists all configured alert channels and their subscribed checks.",
        "parameters": [
          {
            "type": "integer",
            "description": "Limit the number of results.",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit"
          },
          {
            "type": "number",
            "description": "The page number.",
            "default": 1,
            "name": "page",
            "in": "query",
            "x-ms-summary": "Number"
          }
        ],
        "tags": [
          "Alert channels"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AlertChannelList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "summary": "Create an alert channel",
        "operationId": "PostV1Alertchannels",
        "description": "Creates a new alert channel.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AlertChannelCreate"
            }
          }
        ],
        "tags": [
          "Alert channels"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/AlertChannel"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "402": {
            "schema": {
              "$ref": "#/definitions/PaymentRequiredError"
            },
            "description": "Payment Required."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/alert-channels/{id}": {
      "get": {
        "summary": "Retrieve an alert channel",
        "operationId": "GetV1AlertchannelsId",
        "description": "Show details of a specific alert channel.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Alert channels"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AlertChannel"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "summary": "Delete an alert channel",
        "operationId": "DeleteV1AlertchannelsId",
        "description": "Permanently removes an alert channel.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Alert channels"
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "put": {
        "summary": "Update an alert channel",
        "operationId": "PutV1AlertchannelsId",
        "description": "Update an alert channel.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AlertChannelCreate"
            }
          }
        ],
        "tags": [
          "Alert channels"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AlertChannel"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "402": {
            "schema": {
              "$ref": "#/definitions/PaymentRequiredError"
            },
            "description": "Payment Required."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/alert-channels/{id}/subscriptions": {
      "put": {
        "summary": "Update the subscriptions of an alert channel",
        "operationId": "PutV1AlertchannelsIdSubscriptions",
        "description": "Update the subscriptions of an alert channel. Use this to add a check to an alert channel so failure and recovery alerts are send out for that check. Note: when passing the subscription object, you can only specify a checkId or a groupId, not both.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AlertChannelSubscriptionCreate"
            }
          }
        ],
        "tags": [
          "Alert channels"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AlertChanelSubscription"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/badges/checks/{checkId}": {
      "get": {
        "operationId": "GetV1BadgesChecksCheckid",
        "description": "Get check status badge.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "checkId",
            "in": "path",
            "x-ms-summary": "Check ID",
            "x-ms-url-encoding": "single",
            "description": "The check identifier.",
            "required": true
          },
          {
            "type": "string",
            "default": "flat",
            "enum": [
              "flat",
              "plastic",
              "flat-square",
              "for-the-badge",
              "social"
            ],
            "name": "style",
            "in": "query",
            "description": "The style.",
            "x-ms-summary": "Style"
          },
          {
            "type": "string",
            "default": "default",
            "enum": [
              "light",
              "dark",
              "default"
            ],
            "name": "theme",
            "in": "query",
            "description": "The theme.",
            "x-ms-summary": "Theme"
          },
          {
            "type": "boolean",
            "default": false,
            "name": "responseTime",
            "in": "query",
            "description": "The response time.",
            "x-ms-summary": "Response Time"
          }
        ],
        "tags": [
          "Badges"
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "string",
              "pattern": "(<svg)([^<]*|[^>]*)"
            },
            "description": "Successful."
          }
        },
        "summary": "Get check status badge"
      }
    },
    "/v1/badges/groups/{groupId}": {
      "get": {
        "operationId": "GetV1BadgesGroupsGroupid",
        "description": "Get group status badge.",
        "parameters": [
          {
            "type": "integer",
            "name": "groupId",
            "in": "path",
            "x-ms-summary": "Group ID",
            "x-ms-url-encoding": "single",
            "description": "The group identifier.",
            "required": true
          },
          {
            "type": "string",
            "default": "flat",
            "enum": [
              "flat",
              "plastic",
              "flat-square",
              "for-the-badge",
              "social"
            ],
            "name": "style",
            "in": "query",
            "description": "The style.",
            "x-ms-summary": "Style"
          },
          {
            "type": "string",
            "default": "default",
            "enum": [
              "light",
              "dark",
              "default"
            ],
            "name": "theme",
            "in": "query",
            "description": "The theme.",
            "x-ms-summary": "Theme"
          },
          {
            "type": "boolean",
            "default": false,
            "name": "responseTime",
            "in": "query",
            "description": "The response time.",
            "x-ms-summary": "Response Time"
          }
        ],
        "tags": [
          "Badges"
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "string",
              "pattern": "(<svg)([^<]*|[^>]*)"
            },
            "description": "Successful."
          }
        },
        "summary": "Get group status badge"
      }
    },
    "/v1/check-alerts": {
      "get": {
        "summary": "List all alerts for your account",
        "operationId": "GetV1Checkalerts",
        "description": "Lists all alerts for your account.",
        "parameters": [
          {
            "type": "integer",
            "description": "Limit the number of results.",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit"
          },
          {
            "type": "number",
            "description": "The page number.",
            "default": 1,
            "name": "page",
            "in": "query",
            "x-ms-summary": "Number"
          },
          {
            "type": "string",
            "format": "date",
            "description": "Select documents up from this UNIX timestamp (>= date). Defaults to now - 6 hours.",
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "required": false
          },
          {
            "type": "string",
            "format": "date",
            "description": "Select alerts up to this UNIX timestamp (< date). Defaults to 6 hours after from.",
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "required": false
          }
        ],
        "tags": [
          "Check alerts"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckAlertList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/check-alerts/{checkId}": {
      "get": {
        "summary": "List alerts for a specific check",
        "operationId": "GetV1CheckalertsCheckid",
        "description": "Lists all the alerts for a specific check.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "checkId",
            "in": "path",
            "x-ms-summary": "Check ID",
            "x-ms-url-encoding": "single",
            "description": "The check identifier.",
            "required": true
          },
          {
            "type": "integer",
            "description": "Limit the number of results.",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit"
          },
          {
            "type": "number",
            "description": "The page number.",
            "default": 1,
            "name": "page",
            "in": "query",
            "x-ms-summary": "Number"
          },
          {
            "type": "string",
            "format": "date",
            "description": "Select documents up from this UNIX timestamp (>= date). Defaults to now - 6 hours.",
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "required": false
          },
          {
            "type": "string",
            "format": "date",
            "description": "Select alerts up to this UNIX timestamp (< date). Defaults to 6 hours after from.",
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "required": false
          }
        ],
        "tags": [
          "Check alerts"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckAlertList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/check-groups": {
      "get": {
        "summary": "List all check groups",
        "operationId": "GetV1Checkgroups",
        "description": "Lists all current check groups in your account. The checks property is an array of check UUID's for convenient referencing. It is read only and you cannot use it to add checks to a group.",
        "parameters": [
          {
            "type": "integer",
            "description": "Limit the number of results.",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit"
          },
          {
            "type": "number",
            "description": "The page number.",
            "default": 1,
            "name": "page",
            "in": "query",
            "x-ms-summary": "Number"
          }
        ],
        "tags": [
          "Check groups"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckGroupList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "summary": "Create a check group",
        "operationId": "PostV1Checkgroups",
        "description": "Creates a new check group. You can add checks to the group by setting the groupId property of individual checks.",
        "parameters": [
          {
            "type": "boolean",
            "description": "Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.",
            "default": true,
            "name": "autoAssignAlerts",
            "in": "query",
            "x-ms-summary": "Auto-assign Alerts"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CheckGroupCreate"
            }
          }
        ],
        "tags": [
          "Check groups"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/CheckGroup"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "402": {
            "schema": {
              "$ref": "#/definitions/PaymentRequiredError"
            },
            "description": "Payment Required."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/check-groups/{groupId}/checks/{checkId}": {
      "get": {
        "summary": "Retrieve one check in a specific group with group settings applied",
        "operationId": "GetV1CheckgroupsGroupidChecksCheckid",
        "description": "Show details of one check in a specific check group with the group settings applied.",
        "parameters": [
          {
            "type": "integer",
            "name": "groupId",
            "in": "path",
            "x-ms-summary": "Group ID",
            "x-ms-url-encoding": "single",
            "description": "The group identifier.",
            "required": true
          },
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "checkId",
            "in": "path",
            "x-ms-summary": "Check ID",
            "x-ms-url-encoding": "single",
            "description": "The check identifier.",
            "required": true
          }
        ],
        "tags": [
          "Check groups"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckGroupCheck"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/check-groups/{id}": {
      "get": {
        "summary": "Retrieve a check group",
        "operationId": "GetV1CheckgroupsId",
        "description": "Show details of a specific check group.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Check groups"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckGroup"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "summary": "Delete a check group",
        "operationId": "DeleteV1CheckgroupsId",
        "description": "Permanently removes a check group. You cannot delete a check group if it still contains checks.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Check groups"
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "409": {
            "schema": {
              "$ref": "#/definitions/ConflictError"
            },
            "description": "Conflict."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "put": {
        "summary": "Update a check group",
        "operationId": "PutV1CheckgroupsId",
        "description": "Updates a check group.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "type": "boolean",
            "description": "Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.",
            "default": true,
            "name": "autoAssignAlerts",
            "in": "query",
            "x-ms-summary": "Auto-assign Alerts"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CheckGroupUpdate"
            }
          }
        ],
        "tags": [
          "Check groups"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckGroup"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/check-groups/{id}/checks": {
      "get": {
        "summary": "Retrieve all checks in a specific group with group settings applied",
        "operationId": "GetV1CheckgroupsIdChecks",
        "description": "Lists all checks in a specific check group with the group settings applied.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "type": "integer",
            "description": "Limit the number of results.",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit"
          },
          {
            "type": "number",
            "description": "The page number.",
            "default": 1,
            "name": "page",
            "in": "query",
            "x-ms-summary": "Number"
          }
        ],
        "tags": [
          "Check groups"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Model8"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/check-results/{checkId}": {
      "get": {
        "summary": "Lists all check results",
        "operationId": "GetV1CheckresultsCheckid",
        "description": "Lists the full, raw check results for a specific check. We keep raw results for 30 days. After 30 days they are erased. However we keep the rolled up results for an indefinite period. You can filter by check type and result type to narrow down the list. Use the `to` and `from` parameters to specify a date range (UNIX timestamp in seconds). Depending on the check type, some fields might be null. This endpoint will return data within a six-hours timeframe. If from and to params are set, they must be at most six hours apart.If none are set, we will consider the to param to be now and from param to be six hours earlier. If only the to param is set we will set from to be six hours earlier. On the contrary, if only the from param is set we will consider the to param to be six hours later. Rate-limiting is applied to this endpoint, you can send 5 requests / 10 seconds at most.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "checkId",
            "in": "path",
            "x-ms-summary": "Check ID",
            "x-ms-url-encoding": "single",
            "description": "The check identifier.",
            "required": true
          },
          {
            "type": "integer",
            "description": "Limit the number of results.",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit"
          },
          {
            "type": "number",
            "description": "The page number.",
            "default": 1,
            "name": "page",
            "in": "query",
            "x-ms-summary": "Number"
          },
          {
            "type": "string",
            "format": "date",
            "description": "Select documents up from this UNIX timestamp (>= date). Defaults to now - 6 hours.",
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "required": false
          },
          {
            "type": "string",
            "format": "date",
            "description": "Select alerts up to this UNIX timestamp (< date). Defaults to 6 hours after from.",
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "required": false
          },
          {
            "type": "string",
            "description": "Provide a data center location, e.g. eu-west-1 to filter by location",
            "enum": [
              "us-east-1",
              "us-east-2",
              "us-west-1",
              "us-west-2",
              "ca-central-1",
              "sa-east-1",
              "eu-west-1",
              "eu-central-1",
              "eu-west-2",
              "eu-west-3",
              "eu-north-1",
              "eu-south-1",
              "me-south-1",
              "ap-southeast-1",
              "ap-northeast-1",
              "ap-east-1",
              "ap-southeast-2",
              "ap-southeast-3",
              "ap-northeast-2",
              "ap-northeast-3",
              "ap-south-1",
              "af-south-1"
            ],
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "required": false
          },
          {
            "type": "string",
            "description": "The type of the check.",
            "enum": [
              "BROWSER",
              "API"
            ],
            "name": "checkType",
            "in": "query",
            "x-ms-summary": "Check Type"
          },
          {
            "type": "boolean",
            "description": "Check result has one or more failures.",
            "name": "hasFailures",
            "in": "query",
            "x-ms-summary": "Has Failures"
          }
        ],
        "tags": [
          "Check results"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckResultList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "402": {
            "schema": {
              "$ref": "#/definitions/PaymentRequiredError"
            },
            "description": "Payment Required."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/check-results/{checkId}/{checkResultId}": {
      "get": {
        "summary": "Retrieve a check result",
        "operationId": "GetV1CheckresultsCheckidCheckresultid",
        "description": "Show details of a specific check result.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "checkId",
            "in": "path",
            "x-ms-summary": "Check ID",
            "x-ms-url-encoding": "single",
            "description": "The check identifier.",
            "required": true
          },
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "checkResultId",
            "in": "path",
            "x-ms-summary": "Check Result ID",
            "x-ms-url-encoding": "single",
            "description": "The check result identifier.",
            "required": true
          }
        ],
        "tags": [
          "Check results"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckResult"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/check-statuses": {
      "get": {
        "summary": "List all check statuses",
        "operationId": "GetV1Checkstatuses",
        "description": "Shows the current status information for all checks in your account. The check status records are continuously updated as new check results come in.",
        "parameters": [],
        "tags": [
          "Check status"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckStatusList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/check-statuses/{checkId}": {
      "get": {
        "summary": "Retrieve check status details",
        "operationId": "GetV1CheckstatusesCheckid",
        "description": "Show the current status information for a specific check.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "checkId",
            "in": "path",
            "x-ms-summary": "Check ID",
            "x-ms-url-encoding": "single",
            "description": "The check identifier.",
            "required": true
          }
        ],
        "tags": [
          "Check status"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckStatus"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/checks": {
      "get": {
        "summary": "List all checks",
        "operationId": "GetV1Checks",
        "description": "Lists all current checks in your account.",
        "parameters": [
          {
            "type": "integer",
            "description": "Limit the number of results.",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit"
          },
          {
            "type": "number",
            "description": "The page number.",
            "default": 1,
            "name": "page",
            "in": "query",
            "x-ms-summary": "Number"
          },
          {
            "type": "string",
            "description": "Filters the results by a string contained in the URL of an API check, for instance a domain like www.myapp.com. Only returns API checks.",
            "minLength": 1,
            "name": "apiCheckUrlFilterPattern",
            "in": "query",
            "x-ms-summary": "API Check URL Filter",
            "required": false
          }
        ],
        "tags": [
          "Checks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "summary": "Create a check",
        "operationId": "PostV1Checks",
        "description": "<strong>[DEPRECATED] This endpoint will be removed on Monday 4 July 2022. Instead use <code>POST /checks/api</code> or  <code>POST /checks/browser</code>.</strong> Creates a new API or browser check. Will return a `402` when you are over the limit of your plan.    When using the `globalAlertSettings`, the `alertSettings` can be `null`",
        "parameters": [
          {
            "type": "boolean",
            "description": "Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.",
            "default": true,
            "name": "autoAssignAlerts",
            "in": "query",
            "x-ms-summary": "Auto-assign Alerts"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CheckCreate"
            }
          }
        ],
        "tags": [
          "Checks"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/Check"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "402": {
            "schema": {
              "$ref": "#/definitions/PaymentRequiredError"
            },
            "description": "Payment Required."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        },
        "deprecated": true
      }
    },
    "/v1/checks/api": {
      "post": {
        "summary": "Create an API check",
        "operationId": "PostV1ChecksApi",
        "description": "Creates a new API check. Will return a `402` when you are over the limit of your plan.    When using the `globalAlertSetting`, the `alertSetting` can be `null`",
        "parameters": [
          {
            "type": "boolean",
            "description": "Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.",
            "default": true,
            "name": "autoAssignAlerts",
            "in": "query",
            "x-ms-summary": "Auto-assign Alerts"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CheckAPICreate"
            }
          }
        ],
        "tags": [
          "Checks"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/CheckAPI"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "402": {
            "schema": {
              "$ref": "#/definitions/PaymentRequiredError"
            },
            "description": "Payment Required."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/checks/api/{id}": {
      "put": {
        "summary": "Update an API check",
        "operationId": "PutV1ChecksApiId",
        "description": "Updates an API check.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "type": "boolean",
            "description": "Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.",
            "default": true,
            "name": "autoAssignAlerts",
            "in": "query",
            "x-ms-summary": "Auto-assign Alerts"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CheckAPIUpdate"
            }
          }
        ],
        "tags": [
          "Checks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckAPI"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/checks/browser": {
      "post": {
        "summary": "Create a browser check",
        "operationId": "PostV1ChecksBrowser",
        "description": "Creates a new browser check. Will return a `402` when you are over the limit of your plan.    When using the `globalAlertSetting`, the `alertSetting` can be `null`",
        "parameters": [
          {
            "type": "boolean",
            "description": "Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.",
            "default": true,
            "name": "autoAssignAlerts",
            "in": "query",
            "x-ms-summary": "Auto-assign Alerts"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CheckBrowserCreate"
            }
          }
        ],
        "tags": [
          "Checks"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/CheckBrowser"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "402": {
            "schema": {
              "$ref": "#/definitions/PaymentRequiredError"
            },
            "description": "Payment Required."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/checks/browser/{id}": {
      "put": {
        "summary": "Update a browser check",
        "operationId": "PutV1ChecksBrowserId",
        "description": "Updates a browser check.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "type": "boolean",
            "description": "Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.",
            "default": true,
            "name": "autoAssignAlerts",
            "in": "query",
            "x-ms-summary": "Auto-assign Alerts"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CheckBrowserUpdate"
            }
          }
        ],
        "tags": [
          "Checks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckBrowser"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/checks/{id}": {
      "get": {
        "summary": "Retrieve a check",
        "operationId": "GetV1ChecksId",
        "description": "Show details of a specific API or browser check.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Checks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Check"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "summary": "Delete a check",
        "operationId": "DeleteV1ChecksId",
        "description": "Permanently removes a API or browser check and all its related status and results data.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Checks"
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "put": {
        "summary": "Update a check",
        "operationId": "PutV1ChecksId",
        "description": "<strong>[DEPRECATED] This endpoint will be removed on Monday 4 July 2022. Instead use <code>PUT /checks/api/{id}</code> or  <code>PUT /checks/browser/{id}</code>.</strong> Updates a new API or browser check.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "type": "boolean",
            "description": "Determines whether a new check will automatically be added as a subscriber to all existing alert channels when it gets created.",
            "default": true,
            "name": "autoAssignAlerts",
            "in": "query",
            "x-ms-summary": "Auto-assign Alerts"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CheckUpdate"
            }
          }
        ],
        "tags": [
          "Checks"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Check"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        },
        "deprecated": true
      }
    },
    "/v1/dashboards": {
      "get": {
        "summary": "List all dashboards",
        "operationId": "GetV1Dashboards",
        "description": "Lists all current dashboards in your account.",
        "parameters": [
          {
            "type": "integer",
            "description": "Limit the number of results.",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit"
          },
          {
            "type": "number",
            "description": "The page number.",
            "default": 1,
            "name": "page",
            "in": "query",
            "x-ms-summary": "Number"
          }
        ],
        "tags": [
          "Dashboards"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/DashboardsList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "summary": "Create a dashboard",
        "operationId": "PostV1Dashboards",
        "description": "Creates a new dashboard. Will return a 409 when attempting to create a dashboard with a custom URL or custom domain that is already taken.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DashboardCreate"
            }
          }
        ],
        "tags": [
          "Dashboards"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/Dashboard"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "409": {
            "schema": {
              "$ref": "#/definitions/ConflictError"
            },
            "description": "Conflict."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/dashboards/{dashboardId}": {
      "delete": {
        "summary": "Delete a dashboard",
        "operationId": "DeleteV1DashboardsDashboardid",
        "description": "Permanently removes a dashboard.",
        "parameters": [
          {
            "type": "string",
            "name": "dashboardId",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The dashboard identifier.",
            "required": true
          }
        ],
        "tags": [
          "Dashboards"
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "put": {
        "summary": "Update a dashboard",
        "operationId": "PutV1DashboardsDashboardid",
        "description": "Updates a dashboard. Will return a 409 when attempting to create a dashboard with a custom URL or custom domain that is already taken.",
        "parameters": [
          {
            "type": "string",
            "name": "dashboardId",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The dashboard identifier.",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/DashboardCreate"
            }
          }
        ],
        "tags": [
          "Dashboards"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Dashboard"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "409": {
            "schema": {
              "$ref": "#/definitions/ConflictError"
            },
            "description": "Conflict."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/locations": {
      "get": {
        "summary": "Lists all supported locations",
        "operationId": "GetV1Locations",
        "description": "Lists all supported locations.",
        "parameters": [],
        "tags": [
          "Location"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/LocationList"
            },
            "description": "Successful."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/maintenance-windows": {
      "get": {
        "summary": "List all maintenance windows",
        "operationId": "GetV1Maintenancewindows",
        "description": "Lists all maintenance windows in your account.",
        "parameters": [
          {
            "type": "integer",
            "description": "Limit the number of results.",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit"
          },
          {
            "type": "number",
            "description": "The page number.",
            "default": 1,
            "name": "page",
            "in": "query",
            "x-ms-summary": "Number"
          }
        ],
        "tags": [
          "Maintenance windows"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/MaintenanceWindowList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "summary": "Create a maintenance window",
        "operationId": "PostV1Maintenancewindows",
        "description": "Creates a new maintenance window.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MaintenanceWindowCreate"
            }
          }
        ],
        "tags": [
          "Maintenance windows"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/MaintenanceWindow"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/maintenance-windows/{id}": {
      "get": {
        "summary": "Retrieve a maintenance window",
        "operationId": "GetV1MaintenancewindowsId",
        "description": "Show details of a specific maintenance window.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Maintenance windows"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/MaintenanceWindow"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "summary": "Delete a maintenance window",
        "operationId": "DeleteV1MaintenancewindowsId",
        "description": "Permanently removes a maintenance window.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Maintenance windows"
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "put": {
        "summary": "Update a maintenance window",
        "operationId": "PutV1MaintenancewindowsId",
        "description": "Updates a maintenance window.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/MaintenanceWindowCreate"
            }
          }
        ],
        "tags": [
          "Maintenance windows"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/MaintenanceWindow"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/private-locations": {
      "get": {
        "summary": "List all private locations",
        "operationId": "GetV1Privatelocations",
        "description": "Lists all private locations in your account.",
        "parameters": [],
        "tags": [
          "Private locations"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/privateLocationsListSchema"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "summary": "Create a private location",
        "operationId": "PostV1Privatelocations",
        "description": "Creates a new private location.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/privateLocationCreate"
            }
          }
        ],
        "tags": [
          "Private locations"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/commonPrivateLocationSchemaResponse"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "402": {
            "schema": {
              "$ref": "#/definitions/PaymentRequiredError"
            },
            "description": "Payment Required."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/private-locations/{id}": {
      "get": {
        "summary": "Retrieve a private location",
        "operationId": "GetV1PrivatelocationsId",
        "description": "Show details of a specific private location.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Private locations"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/privatelocationschema"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "summary": "Remove a private location",
        "operationId": "DeleteV1PrivatelocationsId",
        "description": "Permanently removes a private location.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Private locations"
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "put": {
        "summary": "Update a private location",
        "operationId": "PutV1PrivatelocationsId",
        "description": "Updates a private location.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/privateLocationUpdate"
            }
          }
        ],
        "tags": [
          "Private locations"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/commonPrivateLocationSchemaResponse"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/private-locations/{id}/keys": {
      "post": {
        "summary": "Generate a new API Key for a private location",
        "operationId": "PostV1PrivatelocationsIdKeys",
        "description": "Creates an api key on the private location.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Private locations"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/privateLocationKeys"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "402": {
            "schema": {
              "$ref": "#/definitions/PaymentRequiredError"
            },
            "description": "Payment Required."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/private-locations/{id}/keys/{keyId}": {
      "delete": {
        "summary": "Remove an existing API key for a private location",
        "operationId": "DeleteV1PrivatelocationsIdKeysKeyid",
        "description": "Permanently removes an api key from a private location.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "keyId",
            "in": "path",
            "x-ms-summary": "Key ID",
            "x-ms-url-encoding": "single",
            "description": "The key identifier.",
            "required": true
          }
        ],
        "tags": [
          "Private locations"
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/private-locations/{id}/metrics": {
      "get": {
        "summary": "Get private location health metrics from a window of time",
        "operationId": "GetV1PrivatelocationsIdMetrics",
        "description": "Get private location health metrics from a window of time.",
        "parameters": [
          {
            "type": "string",
            "x-format": {
              "guid": true
            },
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "type": "string",
            "format": "date",
            "description": "Select metrics beginning with this UNIX timestamp. Must be less than 15 days ago.",
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "required": true
          },
          {
            "type": "string",
            "format": "date",
            "description": "Select metrics up to this UNIX timestamp.",
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "required": true
          }
        ],
        "tags": [
          "Private locations"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/privateLocationsMetricsHistoryResponseSchema"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/reporting": {
      "get": {
        "summary": "Generates a report with aggregate statistics for checks and check groups",
        "operationId": "GetV1Reporting",
        "description": "Generates a report with aggregated statistics for all checks or a filtered set of checks over a specified time window.",
        "parameters": [
          {
            "type": "string",
            "format": "date",
            "description": "Custom start time of reporting window in unix timestamp format. Setting a custom from timestamp overrides the use of any presetWindow.",
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "required": false
          },
          {
            "type": "string",
            "format": "date",
            "description": "Custom end time of reporting window in unix timestamp format. Setting a custom to timestamp overrides the use of any presetWindow.",
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "required": false
          },
          {
            "type": "string",
            "description": "Preset reporting windows are used for quickly generating report on commonly used windows. Can be overridden by using a custom to and from timestamp.",
            "default": "last24Hrs",
            "enum": [
              "last24Hrs",
              "last7Days",
              "last30Days",
              "thisWeek",
              "thisMonth",
              "lastWeek",
              "lastMonth"
            ],
            "name": "presetWindow",
            "in": "query",
            "x-ms-summary": "Preset Window",
            "required": false
          },
          {
            "type": "array",
            "description": "Use tags to filter the checks you want to see in your report.",
            "default": [],
            "x-constraint": {
              "single": true
            },
            "items": {
              "type": "string"
            },
            "name": "filterByTags",
            "in": "query",
            "x-ms-summary": "Filter by Tags"
          },
          {
            "type": "boolean",
            "description": "Filter checks by activated status.",
            "default": false,
            "name": "deactivated",
            "in": "query",
            "x-ms-summary": "Deactivated",
            "required": false
          }
        ],
        "tags": [
          "Reporting"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ReportingList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/runtimes": {
      "get": {
        "summary": "Lists all supported runtimes",
        "operationId": "GetV1Runtimes",
        "description": "Lists all supported runtimes and the included NPM packages for Browser checks and setup & teardown scripts for API checks.",
        "parameters": [],
        "tags": [
          "Runtimes"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/RuntimeList"
            },
            "description": "Successful."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/runtimes/{id}": {
      "get": {
        "summary": "Shows details for one specific runtime",
        "operationId": "GetV1RuntimesId",
        "description": "Shows the details of all included NPM packages and their version for one specific runtime.",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Runtimes"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Runtime"
            },
            "description": "Successful."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/snippets": {
      "get": {
        "summary": "List all snippets",
        "operationId": "GetV1Snippets",
        "description": "Lists all current snippets in your account.",
        "parameters": [
          {
            "type": "integer",
            "description": "Limit the number of results.",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit"
          },
          {
            "type": "number",
            "description": "The page number.",
            "default": 1,
            "name": "page",
            "in": "query",
            "x-ms-summary": "Number"
          }
        ],
        "tags": [
          "Snippets"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/SnippetList"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "summary": "Create a snippet",
        "operationId": "PostV1Snippets",
        "description": "Creates a new snippet.",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SnippetCreate"
            }
          }
        ],
        "tags": [
          "Snippets"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/Snippet"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/snippets/{id}": {
      "get": {
        "summary": "Retrieve a snippet",
        "operationId": "GetV1SnippetsId",
        "description": "Show details of a specific snippet.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Snippets"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Snippet"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "summary": "Delete a snippet",
        "operationId": "DeleteV1SnippetsId",
        "description": "Permanently removes a snippet.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          }
        ],
        "tags": [
          "Snippets"
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "put": {
        "summary": "Update a snippet",
        "operationId": "PutV1SnippetsId",
        "description": "Updates a snippet.",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/SnippetCreate"
            }
          }
        ],
        "tags": [
          "Snippets"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Snippet"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "404": {
            "schema": {
              "$ref": "#/definitions/NotFoundError"
            },
            "description": "Not Found."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      }
    },
    "/v1/triggers/check-groups/{groupId}": {
      "get": {
        "summary": "Get the check group trigger",
        "operationId": "GetV1TriggersCheckgroupsGroupid",
        "description": "Finds the check group trigger.",
        "parameters": [
          {
            "type": "integer",
            "name": "groupId",
            "in": "path",
            "x-ms-summary": "Group ID",
            "x-ms-url-encoding": "single",
            "description": "The group identifier.",
            "required": true
          }
        ],
        "tags": [
          "Triggers"
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/CheckGroupTrigger"
            },
            "description": "Successful."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "delete": {
        "summary": "Delete the check group trigger",
        "operationId": "DeleteV1TriggersCheckgroupsGroupid",
        "description": "Deletes the check groups trigger.",
        "parameters": [
          {
            "type": "integer",
            "name": "groupId",
            "in": "path",
            "x-ms-summary": "Group ID",
            "x-ms-url-encoding": "single",
            "description": "The group identifier.",
            "required": true
          }
        ],
        "tags": [
          "Triggers"
        ],
        "responses": {
          "204": {
            "description": "No Content."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ForbiddenError"
            },
            "description": "Forbidden."
          },
          "429": {
            "schema": {
              "$ref": "#/definitions/TooManyRequestsError"
            },
            "description": "Too Many Requests."
          }
        }
      },
      "post": {
        "summary": "Create the check group trigger",
        "operationId": "PostV1TriggersCheckgroupsGroupid",
        "description": "Creates the check group trigger.",
        "parameters": [
          {
            "type": "integer",
            "name": "groupId",
            "in": "path",
            "x-ms-summary": "Group ID",
            "x-ms-url-encoding": "single",
            "description": "The group identifier.",
            "required": true
          }
        ],
        "tags": [
          "Triggers"
        ],
        "responses": {
          "201": {
            "schema": {
              "$ref": "#/definitions/CheckGroupTrigger"
            },
            "description": "Created."
          },
          "401": {
            "schema": {
              "$ref": "#/definitions/UnauthorizedError"
            },
            "description": "Unauthorized."
          },
[...]
