{
  "swagger": "2.0",
  "info": {
    "title": "Qiita",
    "description": "Qiita is a service for recording and sharing engineering knowledge. You can easily record and publish your programming tips, know-how, and notes.",
    "version": "1.0",
    "contact": {
      "name": "Miyake Hideo",
      "email": "h.miyake@hotmail.com"
    }
  },
  "host": "qiita.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v2/items": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rendered_body": {
                    "type": "string",
                    "description": "Body text in HTML format",
                    "title": "Rendered body"
                  },
                  "body": {
                    "type": "string",
                    "description": "Body text in Markdown format",
                    "title": "Body"
                  },
                  "coediting": {
                    "type": "boolean",
                    "description": "Whether this article is in joint update status.",
                    "title": "Coediting",
                    "enum": [
                      "",
                      "true",
                      "false"
                    ]
                  },
                  "comments_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of comments on this article",
                    "title": "Comments Count"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "Date and time the data was created",
                    "title": "Created at"
                  },
                  "group": {
                    "type": "string",
                    "description": "Represents a Qiita Team group.",
                    "title": "Group"
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique ID of the article",
                    "title": "Id"
                  },
                  "likes_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of \"Likes\" for this article",
                    "title": "Likes count"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Flag indicating limited sharing status or not",
                    "title": "Private",
                    "enum": [
                      "",
                      "true",
                      "false"
                    ]
                  },
                  "reactions_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of emoji reactions",
                    "title": "Reactions count"
                  },
                  "stocks_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of times this article has been stocked",
                    "title": "Stocks count"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Tag names",
                          "title": "Tag name"
                        },
                        "versions": {
                          "type": "array",
                          "items": {},
                          "description": "Tag Versions",
                          "title": "Tag Versions"
                        }
                      }
                    },
                    "description": "List of tags attached to the article",
                    "title": "Tags"
                  },
                  "title": {
                    "type": "string",
                    "description": "Article Title",
                    "title": "Title"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "Date and time the data was last updated",
                    "title": "Updated at"
                  },
                  "url": {
                    "type": "string",
                    "description": "Article URL",
                    "title": "URL"
                  },
                  "user": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "self-introductory statement",
                        "title": "User description"
                      },
                      "facebook_id": {
                        "type": "string",
                        "description": "User's Facebook ID",
                        "title": "User Facebook Id"
                      },
                      "followees_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of users this user is following",
                        "title": "User followees count"
                      },
                      "followers_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of users following this user",
                        "title": "User followers count"
                      },
                      "github_login_name": {
                        "type": "string",
                        "description": "User GitHub ID",
                        "title": "User Github login name"
                      },
                      "id": {
                        "type": "string",
                        "description": "user ID",
                        "title": "User ID"
                      },
                      "items_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of articles this user has published on qiita.com",
                        "title": "User items count"
                      },
                      "linkedin_id": {
                        "type": "string",
                        "description": "User Linkedin id",
                        "title": "User Linkedin id"
                      },
                      "location": {
                        "type": "string",
                        "description": "User's Residence",
                        "title": "User location"
                      },
                      "name": {
                        "type": "string",
                        "description": "User Name",
                        "title": "User name"
                      },
                      "organization": {
                        "type": "string",
                        "description": "The organization to which the user belongs",
                        "title": "User organization"
                      },
                      "permanent_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Integer ID assigned to each user",
                        "title": "User permanent id"
                      },
                      "profile_image_url": {
                        "type": "string",
                        "description": "URL of the profile image you have set up",
                        "title": "User profile image url"
                      },
                      "team_only": {
                        "type": "boolean",
                        "description": "Whether it is set to Qiita Team exclusive mode",
                        "title": "User team only"
                      },
                      "twitter_screen_name": {
                        "type": "string",
                        "description": "User's Twitter screen name",
                        "title": "User Twitter screen name"
                      },
                      "website_url": {
                        "type": "string",
                        "description": "URL of the website that the user has set up",
                        "title": "User Website URL"
                      }
                    },
                    "description": "Represents a user on Qiita",
                    "title": "User"
                  },
                  "page_views_count": {
                    "type": "string",
                    "description": "number of pages viewed",
                    "title": "Page views count"
                  },
                  "team_membership": {
                    "type": "string",
                    "description": "Represents Qiita Team team member information.",
                    "title": "Team membership"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Items",
        "description": "Returns a list of posts in descending order of creation date.",
        "operationId": "GetItems",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specify page number (from 1 to 100)",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of elements per page (from 1 to 100)",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Searching for articles by query",
            "x-ms-summary": "Search Query"
          }
        ]
      }
    },
    "/api/v2/items/{Post_Id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "rendered_body": {
                  "type": "string",
                  "description": "Body text in HTML format",
                  "title": "Rendered body"
                },
                "body": {
                  "type": "string",
                  "description": "Body text in Markdown format",
                  "title": "Body"
                },
                "coediting": {
                  "type": "boolean",
                  "description": "Whether this article is in joint update status.",
                  "title": "Coediting",
                  "enum": [
                    "",
                    "true",
                    "false"
                  ]
                },
                "comments_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of comments on this article",
                  "title": "Comments Count"
                },
                "created_at": {
                  "type": "string",
                  "description": "Date and time the data was created",
                  "title": "Created at"
                },
                "group": {
                  "type": "string",
                  "description": "Represents a Qiita Team group.",
                  "title": "Group"
                },
                "id": {
                  "type": "string",
                  "description": "Unique ID of the article",
                  "title": "Id"
                },
                "likes_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of \"Likes\" for this article",
                  "title": "Likes count"
                },
                "private": {
                  "type": "boolean",
                  "description": "Flag indicating limited sharing status or not",
                  "title": "Private",
                  "enum": [
                    "",
                    "true",
                    "false"
                  ]
                },
                "reactions_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of emoji reactions",
                  "title": "Reactions count"
                },
                "stocks_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "stocks_count"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Tag names",
                        "title": "Tag name"
                      },
                      "versions": {
                        "type": "array",
                        "items": {},
                        "description": "Tag Versions",
                        "title": "Tag Versions"
                      }
                    }
                  },
                  "description": "List of tags attached to the article",
                  "title": "Tags"
                },
                "title": {
                  "type": "string",
                  "description": "Article Title",
                  "title": "Title"
                },
                "updated_at": {
                  "type": "string",
                  "description": "Date and time the data was last updated",
                  "title": "Updated at"
                },
                "url": {
                  "type": "string",
                  "description": "Article URL",
                  "title": "URL"
                },
                "user": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "self-introductory statement",
                      "title": "User description"
                    },
                    "facebook_id": {
                      "type": "string",
                      "description": "User's Facebook ID",
                      "title": "User Facebook Id"
                    },
                    "followees_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of users this user is following",
                      "title": "User followees count"
                    },
                    "followers_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of users following this user",
                      "title": "User followers count"
                    },
                    "github_login_name": {
                      "type": "string",
                      "description": "User GitHub ID",
                      "title": "User Github login name"
                    },
                    "id": {
                      "type": "string",
                      "description": "user ID",
                      "title": "User ID"
                    },
                    "items_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of articles this user has published on qiita.com",
                      "title": "User items count"
                    },
                    "linkedin_id": {
                      "type": "string",
                      "description": "User Linkedin id",
                      "title": "User Linkedin id"
                    },
                    "location": {
                      "type": "string",
                      "description": "User's Residence",
                      "title": "User location"
                    },
                    "name": {
                      "type": "string",
                      "description": "User Name",
                      "title": "User name"
                    },
                    "organization": {
                      "type": "string",
                      "description": "The organization to which the user belongs",
                      "title": "User organization"
                    },
                    "permanent_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Integer ID assigned to each user",
                      "title": "User permanent id"
                    },
                    "profile_image_url": {
                      "type": "string",
                      "description": "URL of the profile image you have set up",
                      "title": "User profile image url"
                    },
                    "team_only": {
                      "type": "boolean",
                      "description": "Whether it is set to Qiita Team exclusive mode",
                      "title": "User team only"
                    },
                    "twitter_screen_name": {
                      "type": "string",
                      "description": "User's Twitter screen name",
                      "title": "User Twitter screen name"
                    },
                    "website_url": {
                      "type": "string",
                      "description": "URL of the website that the user has set up",
                      "title": "User Website URL"
                    }
                  },
                  "description": "Represents a user on Qiita",
                  "title": "User"
                },
                "page_views_count": {
                  "type": "string",
                  "description": "number of pages viewed",
                  "title": "Page views count"
                },
                "team_membership": {
                  "type": "string",
                  "description": "Represents Qiita Team team member information.",
                  "title": "Team membership"
                }
              }
            }
          }
        },
        "summary": "Get Items by ID",
        "operationId": "GetItemByID",
        "parameters": [
          {
            "name": "Post_Id",
            "in": "path",
            "description": "Specify the ID of the article.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Post Id"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specify page number (from 1 to 100)",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of elements per page (from 1 to 100)",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ],
        "description": "Specify the ID and retrieve the postings."
      }
    },
    "/api/v2/tags/{Tag}/items": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rendered_body": {
                    "type": "string",
                    "description": "Body text in HTML format",
                    "title": "Rendered body"
                  },
                  "body": {
                    "type": "string",
                    "description": "Body text in Markdown format",
                    "title": "Body"
                  },
                  "coediting": {
                    "type": "boolean",
                    "description": "Whether this article is in joint update status.",
                    "title": "Coediting",
                    "enum": [
                      "",
                      "true",
                      "false"
                    ]
                  },
                  "comments_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of comments on this article",
                    "title": "Comments Count"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "Date and time the data was created",
                    "title": "Created at"
                  },
                  "group": {
                    "type": "string",
                    "description": "Represents a Qiita Team group.",
                    "title": "Group"
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique ID of the article",
                    "title": "Id"
                  },
                  "likes_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of \"Likes\" for this article",
                    "title": "Likes count"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Flag indicating limited sharing status or not",
                    "title": "Private",
                    "enum": [
                      "",
                      "true",
                      "false"
                    ]
                  },
                  "reactions_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of emoji reactions",
                    "title": "Reactions count"
                  },
                  "stocks_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of times this article has been stocked",
                    "title": "Stocks count"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Tag names",
                          "title": "Tag name"
                        },
                        "versions": {
                          "type": "array",
                          "items": {},
                          "description": "Tag Versions",
                          "title": "Tag Versions"
                        }
                      }
                    },
                    "description": "List of tags attached to the article",
                    "title": "Tags"
                  },
                  "title": {
                    "type": "string",
                    "description": "Article Title",
                    "title": "Title"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "Date and time the data was last updated",
                    "title": "Updated at"
                  },
                  "url": {
                    "type": "string",
                    "description": "Article URL",
                    "title": "URL"
                  },
                  "user": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "self-introductory statement",
                        "title": "User description"
                      },
                      "facebook_id": {
                        "type": "string",
                        "description": "User's Facebook ID",
                        "title": "User Facebook Id"
                      },
                      "followees_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of users this user is following",
                        "title": "User followees count"
                      },
                      "followers_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of users following this user",
                        "title": "User followers count"
                      },
                      "github_login_name": {
                        "type": "string",
                        "description": "User GitHub ID",
                        "title": "User Github login name"
                      },
                      "id": {
                        "type": "string",
                        "description": "user ID",
                        "title": "User ID"
                      },
                      "items_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of articles this user has published on qiita.com",
                        "title": "User items count"
                      },
                      "linkedin_id": {
                        "type": "string",
                        "description": "User Linkedin id",
                        "title": "User Linkedin id"
                      },
                      "location": {
                        "type": "string",
                        "description": "User's Residence",
                        "title": "User location"
                      },
                      "name": {
                        "type": "string",
                        "description": "User Name",
                        "title": "User name"
                      },
                      "organization": {
                        "type": "string",
                        "description": "The organization to which the user belongs",
                        "title": "User organization"
                      },
                      "permanent_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Integer ID assigned to each user",
                        "title": "User permanent id"
                      },
                      "profile_image_url": {
                        "type": "string",
                        "description": "URL of the profile image you have set up",
                        "title": "User profile image url"
                      },
                      "team_only": {
                        "type": "boolean",
                        "description": "Whether it is set to Qiita Team exclusive mode",
                        "title": "User team only"
                      },
                      "twitter_screen_name": {
                        "type": "string",
                        "description": "User's Twitter screen name",
                        "title": "User Twitter screen name"
                      },
                      "website_url": {
                        "type": "string",
                        "description": "URL of the website that the user has set up",
                        "title": "User Website URL"
                      }
                    },
                    "description": "Represents a user on Qiita",
                    "title": "User"
                  },
                  "page_views_count": {
                    "type": "string",
                    "description": "number of pages viewed",
                    "title": "Page views count"
                  },
                  "team_membership": {
                    "type": "string",
                    "description": "Represents Qiita Team team member information.",
                    "title": "Team membership"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Items by Tag",
        "operationId": "GetItemsByTag",
        "description": "Returns a list of articles with the specified tag in descending order of the date and time the tag was added.",
        "parameters": [
          {
            "name": "Tag",
            "in": "path",
            "description": "Specify the tag of the article.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Tag"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specify page number (from 1 to 100)",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of elements per page (from 1 to 100)",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/api/v2/users/{User_Id}/items": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rendered_body": {
                    "type": "string",
                    "description": "Body text in HTML format",
                    "title": "Rendered body"
                  },
                  "body": {
                    "type": "string",
                    "description": "Body text in Markdown format",
                    "title": "Body"
                  },
                  "coediting": {
                    "type": "boolean",
                    "description": "Whether this article is in joint update status.",
                    "title": "Coediting",
                    "enum": [
                      "",
                      "true",
                      "false"
                    ]
                  },
                  "comments_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of comments on this article",
                    "title": "Comments Count"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "Date and time the data was created",
                    "title": "Created at"
                  },
                  "group": {
                    "type": "string",
                    "description": "Represents a Qiita Team group.",
                    "title": "Group"
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique ID of the article",
                    "title": "Id"
                  },
                  "likes_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of \"Likes\" for this article",
                    "title": "Likes count"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Flag indicating limited sharing status or not",
                    "title": "Private",
                    "enum": [
                      "",
                      "true",
                      "false"
                    ]
                  },
                  "reactions_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of emoji reactions",
                    "title": "Reactions count"
                  },
                  "stocks_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of times this article has been stocked",
                    "title": "Stocks count"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Tag names",
                          "title": "Tag name"
                        },
                        "versions": {
                          "type": "array",
                          "items": {},
                          "description": "Tag Versions",
                          "title": "Tag Versions"
                        }
                      }
                    },
                    "description": "List of tags attached to the article",
                    "title": "Tags"
                  },
                  "title": {
                    "type": "string",
                    "description": "Article Title",
                    "title": "Title"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "Date and time the data was last updated",
                    "title": "Updated at"
                  },
                  "url": {
                    "type": "string",
                    "description": "Article URL",
                    "title": "URL"
                  },
                  "user": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "self-introductory statement",
                        "title": "User description"
                      },
                      "facebook_id": {
                        "type": "string",
                        "description": "User's Facebook ID",
                        "title": "User Facebook Id"
                      },
                      "followees_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of users this user is following",
                        "title": "User followees count"
                      },
                      "followers_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of users following this user",
                        "title": "User followers count"
                      },
                      "github_login_name": {
                        "type": "string",
                        "description": "User GitHub ID",
                        "title": "User Github login name"
                      },
                      "id": {
                        "type": "string",
                        "description": "user ID",
                        "title": "User ID"
                      },
                      "items_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of articles this user has published on qiita.com",
                        "title": "User items count"
                      },
                      "linkedin_id": {
                        "type": "string",
                        "description": "User Linkedin id",
                        "title": "User Linkedin id"
                      },
                      "location": {
                        "type": "string",
                        "description": "User's Residence",
                        "title": "User location"
                      },
                      "name": {
                        "type": "string",
                        "description": "User Name",
                        "title": "User name"
                      },
                      "organization": {
                        "type": "string",
                        "description": "The organization to which the user belongs",
                        "title": "User organization"
                      },
                      "permanent_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Integer ID assigned to each user",
                        "title": "User permanent id"
                      },
                      "profile_image_url": {
                        "type": "string",
                        "description": "URL of the profile image you have set up",
                        "title": "User profile image url"
                      },
                      "team_only": {
                        "type": "boolean",
                        "description": "Whether it is set to Qiita Team exclusive mode",
                        "title": "User team only"
                      },
                      "twitter_screen_name": {
                        "type": "string",
                        "description": "User's Twitter screen name",
                        "title": "User Twitter screen name"
                      },
                      "website_url": {
                        "type": "string",
                        "description": "URL of the website that the user has set up",
                        "title": "User Website URL"
                      }
                    },
                    "description": "Represents a user on Qiita",
                    "title": "User"
                  },
                  "page_views_count": {
                    "type": "string",
                    "description": "number of pages viewed",
                    "title": "Page views count"
                  },
                  "team_membership": {
                    "type": "string",
                    "description": "Represents Qiita Team team member information.",
                    "title": "Team membership"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Items by UserID",
        "operationId": "GetItemsByUserID",
        "description": "Returns a list of articles for the specified user in descending order of creation date.",
        "parameters": [
          {
            "name": "User_Id",
            "in": "path",
            "description": "Specify the contributor of the article.",
            "required": true,
            "type": "string",
            "x-ms-summary": "User Id"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specify page number (from 1 to 100)",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of elements per page (from 1 to 100)",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    },
    "/api/v2/users/{User_Id}/stocks": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rendered_body": {
                    "type": "string",
                    "description": "Body text in HTML format",
                    "title": "Rendered body"
                  },
                  "body": {
                    "type": "string",
                    "description": "Body text in Markdown format",
                    "title": "Body"
                  },
                  "coediting": {
                    "type": "boolean",
                    "description": "Whether this article is in joint update status.",
                    "title": "Coediting",
                    "enum": [
                      "",
                      "true",
                      "false"
                    ]
                  },
                  "comments_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of comments on this article",
                    "title": "Comments Count"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "Date and time the data was created",
                    "title": "Created at"
                  },
                  "group": {
                    "type": "string",
                    "description": "Represents a Qiita Team group.",
                    "title": "Group"
                  },
                  "id": {
                    "type": "string",
                    "description": "Unique ID of the article",
                    "title": "Id"
                  },
                  "likes_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of \"Likes\" for this article",
                    "title": "Likes count"
                  },
                  "private": {
                    "type": "boolean",
                    "description": "Flag indicating limited sharing status or not",
                    "title": "Private",
                    "enum": [
                      "",
                      "true",
                      "false"
                    ]
                  },
                  "reactions_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of emoji reactions",
                    "title": "Reactions count"
                  },
                  "stocks_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of times this article has been stocked",
                    "title": "Stocks count"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Tag names",
                          "title": "Tag name"
                        },
                        "versions": {
                          "type": "array",
                          "items": {},
                          "description": "Tag Versions",
                          "title": "Tag Versions"
                        }
                      }
                    },
                    "description": "List of tags attached to the article",
                    "title": "Tags"
                  },
                  "title": {
                    "type": "string",
                    "description": "Article Title",
                    "title": "Title"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "Date and time the data was last updated",
                    "title": "Updated at"
                  },
                  "url": {
                    "type": "string",
                    "description": "Article URL",
                    "title": "URL"
                  },
                  "user": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string",
                        "description": "self-introductory statement",
                        "title": "User description"
                      },
                      "facebook_id": {
                        "type": "string",
                        "description": "User's Facebook ID",
                        "title": "User Facebook Id"
                      },
                      "followees_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of users this user is following",
                        "title": "User followees count"
                      },
                      "followers_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of users following this user",
                        "title": "User followers count"
                      },
                      "github_login_name": {
                        "type": "string",
                        "description": "User GitHub ID",
                        "title": "User Github login name"
                      },
                      "id": {
                        "type": "string",
                        "description": "user ID",
                        "title": "User ID"
                      },
                      "items_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of articles this user has published on qiita.com",
                        "title": "User items count"
                      },
                      "linkedin_id": {
                        "type": "string",
                        "description": "User Linkedin id",
                        "title": "User Linkedin id"
                      },
                      "location": {
                        "type": "string",
                        "description": "User's Residence",
                        "title": "User location"
                      },
                      "name": {
                        "type": "string",
                        "description": "User Name",
                        "title": "User name"
                      },
                      "organization": {
                        "type": "string",
                        "description": "The organization to which the user belongs",
                        "title": "User organization"
                      },
                      "permanent_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Integer ID assigned to each user",
                        "title": "User permanent id"
                      },
                      "profile_image_url": {
                        "type": "string",
                        "description": "URL of the profile image you have set up",
                        "title": "User profile image url"
                      },
                      "team_only": {
                        "type": "boolean",
                        "description": "Whether it is set to Qiita Team exclusive mode",
                        "title": "User team only"
                      },
                      "twitter_screen_name": {
                        "type": "string",
                        "description": "User's Twitter screen name",
                        "title": "User Twitter screen name"
                      },
                      "website_url": {
                        "type": "string",
                        "description": "URL of the website that the user has set up",
                        "title": "User Website URL"
                      }
                    },
                    "description": "Represents a user on Qiita",
                    "title": "User"
                  },
                  "page_views_count": {
                    "type": "string",
                    "description": "number of pages viewed",
                    "title": "Page views count"
                  },
                  "team_membership": {
                    "type": "string",
                    "description": "Represents Qiita Team team member information.",
                    "title": "Team membership"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Stocks by UserID",
        "operationId": "GetStocksByUserID",
        "description": "Returns a list of articles stocked by the specified user in descending order of stocked date and time.",
        "parameters": [
          {
            "name": "User_Id",
            "in": "path",
            "description": "Specify the user who stocked the article.",
            "required": true,
            "type": "string",
            "x-ms-summary": "User Id"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Specify page number (from 1 to 100)",
            "x-ms-summary": "Page",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Number of elements per page (from 1 to 100)",
            "x-ms-summary": "Per Page",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://qiita.com/api/v2/docs"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://qiita.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}