{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "1.0.0",
    "version": "1.0",
    "title": "GMO Sign",
    "description": "GMO Sign Connector helps organizations connect and automate how they prepare, sign, act on, and manage agreements.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "GMO Global Sign",
      "url": "https://www.gmosign.com/"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://secure.gmosign.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.gmogshd.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "host": "api.gmo-exapi.net",
  "basePath": "/gmosign",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/customer/connect": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookEnvelopeResponse"
        }
      },
      "post": {
        "summary": "When an envelope status changes (Connect)",
        "description": "Triggers a new flow when an envelope status changes.",
        "operationId": "CreateHookEnvelope",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name",
                "urlToPublishTo",
                "envelopeEvents"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "Connection title",
                  "x-ms-visibility": "important"
                },
                "urlToPublishTo": {
                  "type": "string",
                  "x-ms-summary": "Webhook URL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "envelopeEvents": {
                  "type": "string",
                  "x-ms-summary": "Envelope status",
                  "x-ms-visibility": "internal",
                  "default": "Completed"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "cus_id": {
                  "type": "string",
                  "x-ms-summary": "Customer ID"
                },
                "connect_id": {
                  "type": "string",
                  "x-ms-summary": "Connection ID"
                },
                "envelopeEvents": {
                  "type": "string",
                  "x-ms-summary": "Envelope status"
                },
                "urlToPublishTo": {
                  "type": "string",
                  "x-ms-summary": "Webhook URL"
                },
                "created_at": {
                  "type": "string",
                  "x-ms-summary": "Created date"
                },
                "updated_at": {
                  "type": "string",
                  "x-ms-summary": "Last update"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, send an envelope.",
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true
      }
    },
    "/customer/connect/{connectId}": {
      "delete": {
        "summary": "Delete hook",
        "description": "Delete a hook.",
        "operationId": "DeleteHook",
        "parameters": [
          {
            "name": "connectId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connection ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "cus_id": {
                  "type": "string",
                  "x-ms-summary": "Customer ID"
                },
                "connect_id": {
                  "type": "string",
                  "x-ms-summary": "Connection ID"
                },
                "connectionName": {
                  "type": "string",
                  "x-ms-summary": "Connection title"
                },
                "envelopeEvents": {
                  "type": "string",
                  "x-ms-summary": "Envelope status"
                },
                "urlToPublishTo": {
                  "type": "string",
                  "x-ms-summary": "Webhook URL"
                },
                "created_at": {
                  "type": "string",
                  "x-ms-summary": "Created date"
                },
                "updated_at": {
                  "type": "string",
                  "x-ms-summary": "Last update"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    },
    "/customer/documents/{documentId}": {
      "get": {
        "summary": "Get envelope documents",
        "description": "Get envelope documents.",
        "operationId": "GetDocuments",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document id",
            "x-ms-summary": "Document ID",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "download_type",
            "in": "query",
            "required": true,
            "x-ms-summary": "Document download format",
            "x-ms-visibility": "internal",
            "default": 2,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "x-ms-summary": "Operation",
            "x-ms-visibility": "internal",
            "default": 1,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetDocumentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/customer/envelopes/templates/{templateId}/transaction": {
      "post": {
        "tags": [
          "GMOGlobalSign"
        ],
        "summary": "Send a new envelope using a specified template",
        "description": "Send a new envelope using a specified template.",
        "operationId": "SendEnvelope",
        "x-ms-no-generic-test": true,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "Template id",
            "required": true,
            "x-ms-summary": "Template ID",
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TemplateSignRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SendEnvelopeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "EnvelopeTemplatesResponse": {
      "type": "object",
      "properties": {
        "envelopeTemplates": {
          "description": "envelope templates",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvelopeTemplate"
          },
          "x-ms-summary": "Envelope template list",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EnvelopeTemplate": {
      "required": [
        "envelope_template_id"
      ],
      "type": "object",
      "properties": {
        "envelope_template_id": {
          "x-ms-summary": "Template ID",
          "type": "string"
        }
      }
    },
    "WebhookRequest": {
      "type": "object",
      "required": [
        "name",
        "urlToPublishTo",
        "envelopeEvents"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Connection title",
          "x-ms-visibility": "important"
        },
        "urlToPublishTo": {
          "type": "string",
          "x-ms-summary": "Webhook URL",
          "x-ms-visibility": "internal",
          "x-ms-notification-url": true
        },
        "envelopeEvents": {
          "type": "string",
          "x-ms-summary": "Envelope status",
          "x-ms-visibility": "internal",
          "default": "Completed"
        }
      }
    },
    "WebhookEnvelopeResponse": {
      "type": "object",
      "properties": {
        "document_list": {
          "type": "array",
          "x-ms-summary": "Document list",
          "items": {
            "type": "object",
            "properties": {
              "documentId": {
                "type": "string",
                "x-ms-summary": "Document ID"
              },
              "document_name": {
                "type": "string",
                "x-ms-summary": "Document name"
              }
            }
          }
        },
        "envelope_name": {
          "type": "string",
          "x-ms-summary": "Envelope name"
        },
        "envelope_xid": {
          "type": "string",
          "x-ms-summary": "Envelope transaction ID"
        }
      }
    },
    "GetDocumentsResponse": {
      "type": "object",
      "properties": {
        "downloadedDocument": {
          "type": "string",
          "format": "byte",
          "x-ms-summary": "Downloaded document",
          "x-ms-visibility": "important"
        }
      }
    },
    "TemplateSignRequest": {
      "type": "object",
      "required": [
        "envelope_name",
        "signer_list",
        "is_web_hook"
      ],
      "properties": {
        "envelope_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Envelope name"
        },
        "sender_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Sender name"
        },
        "sender_post_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Sender's department name"
        },
        "is_compliation_mail": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signature completion notification",
          "default": 2,
          "description": "send a completion notification email to the sender",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_web_hook": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Trigger",
          "description": "Fire a PowerAutomate trigger on signature completion",
          "default": 1,
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "bounced_note_mail": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email sending error notification destination"
        },
        "approver_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/approver"
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Approver"
        },
        "work_flow_comment": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "approval comment"
        },
        "signer_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/reqSigner"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "Signer"
        },
        "not_signer_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/not_signer"
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Recipient"
        },
        "inset_item_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inset_item"
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Merge field"
        }
      }
    },
    "approver": {
      "type": "object",
      "properties": {
        "order_no": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "order of approval"
        },
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Approver"
        },
        "post_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Affiliation of approver"
        },
        "email": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email"
        }
      }
    },
    "reqSigner": {
      "required": [
        "signer_type",
        "sign_type"
      ],
      "type": "object",
      "properties": {
        "signer_type": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "signer type",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "in-house",
              "value": 1
            },
            {
              "displayName": "Counterparty",
              "value": 2
            }
          ]
        },
        "use_template": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Template usage",
          "description": "Whether to use the signer registered in the template",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "order_no": {
          "type": "string",
          "x-ms-summary": "Order of signers"
        },
        "sign_type": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signature type",
          "enum": [
            0,
            1
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Digital Signature",
              "value": 0
            },
            {
              "displayName": "E-Signature",
              "value": 1
            }
          ]
        },
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signer name"
        },
        "organize_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Affiliation of signer"
        },
        "email": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email"
        },
        "comment": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Comments"
        },
        "access_code": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Access code"
        },
        "is_signer_change": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "change authority",
          "default": 2,
          "description": "Allow Recipient to Change Signer?",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_attached_file": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Attached image",
          "description": "Allow signer to attach a sign image?",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_send_mail": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Send email",
          "description": "Send a signature request email to the signer",
          "default": 2,
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "language": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email language",
          "enum": [
            "ja",
            "en"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Japanese",
              "value": "ja"
            },
            {
              "displayName": "English",
              "value": "en"
            }
          ]
        },
        "payment_type": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Payment type",
          "default": 0,
          "description": "Select a payment type",
          "enum": [
            0,
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "None",
              "value": 0
            },
            {
              "displayName": "Once time",
              "value": 1
            },
            {
              "displayName": "Every month",
              "value": 2
            }
          ]
        },
        "amount": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Fee(JPN Yen)"
        },
        "description": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Description"
        },
        "subscription_start_year": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Start year of payment"
        },
        "subscription_start_month": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Start month of payment"
        },
        "subscription_start_date": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Start day of payment"
        }
      }
    },
    "not_signer": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Receiver"
        },
        "organize_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Affiliation of receiver"
        },
        "email": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email"
        },
        "comment": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Comennts"
        },
        "language": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email language",
          "enum": [
            "ja",
            "en"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Japanese",
              "value": "ja"
            },
            {
              "displayName": "English",
              "value": "en"
            }
          ]
        }
      }
    },
    "inset_item": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Merge item name"
        },
        "value": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Merge item value"
        }
      }
    },
    "SendEnvelopeResponse": {
      "type": "object",
      "properties": {
        "envelope_xid": {
          "description": "Envelope transaction ID",
          "type": "string",
          "x-ms-summary": "Envelope transaction ID",
          "x-ms-visibility": "important"
        },
        "envelope_status": {
          "description": "The status of the envelope.",
          "type": "string",
          "x-ms-summary": "Envelope status",
          "x-ms-visibility": "important"
        },
        "document_list": {
          "type": "array",
          "x-ms-summary": "Document list",
          "items": {
            "$ref": "#/definitions/document"
          },
          "x-ms-visibility": "important"
        },
        "signer_list": {
          "type": "array",
          "x-ms-summary": "Signer list",
          "items": {
            "$ref": "#/definitions/resSigner"
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "document": {
      "type": "object",
      "properties": {
        "document_name": {
          "type": "string",
          "x-ms-summary": "Document name",
          "x-ms-visibility": "important"
        },
        "control_number": {
          "type": "string",
          "x-ms-summary": "Document ID",
          "x-ms-visibility": "important"
        }
      }
    },
    "resSigner": {
      "type": "object",
      "properties": {
        "order_no": {
          "type": "string",
          "x-ms-summary": "Order of signer",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Signer name",
          "x-ms-visibility": "important"
        },
        "organize_name": {
          "type": "string",
          "x-ms-summary": "Affiliation of signer",
          "x-ms-visibility": "important"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "phone_number": {
          "type": "string",
          "x-ms-summary": "Tel.",
          "x-ms-visibility": "important"
        },
        "envelope_signer_id": {
          "type": "string",
          "x-ms-summary": "Envelope signer ID",
          "x-ms-visibility": "important"
        },
        "envelope_sign_token": {
          "type": "string",
          "x-ms-summary": "Envelope signer token",
          "x-ms-visibility": "important"
        },
        "sign_status": {
          "type": "string",
          "x-ms-summary": "Sign status",
          "x-ms-visibility": "important"
        }
      }
    }
  }
}
