{
  "swagger": "2.0",
  "info": {
    "x-ms-deployment-version": "2.0.0",
    "version": "3.0",
    "title": "GMO Sign",
    "description": "GMO Sign Connector helps organizations connect and automate how they prepare, sign, act on, and manage agreements.",
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "contact": {
      "name": "GMO Global Sign",
      "url": "https://www.gmosign.com/"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://secure.gmosign.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.gmogshd.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "host": "api.gmo-exapi.net",
  "basePath": "/gmosign",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/customer/connect": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookEnvelopeResponse"
        }
      },
      "post": {
        "summary": "When an envelope status changes (Connect)",
        "description": "Triggers a new flow when an envelope status changes.",
        "operationId": "CreateHookEnvelope",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name",
                "urlToPublishTo",
                "envelopeEvents"
              ],
              "properties": {
                "name": {
                  "type": "string",
                  "x-ms-summary": "Connection title",
                  "x-ms-visibility": "important"
                },
                "urlToPublishTo": {
                  "type": "string",
                  "x-ms-summary": "Webhook URL",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "envelopeEvents": {
                  "type": "string",
                  "x-ms-summary": "Envelope status",
                  "x-ms-visibility": "internal",
                  "default": "Completed"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "cus_id": {
                  "type": "string",
                  "x-ms-summary": "Customer ID"
                },
                "connect_id": {
                  "type": "string",
                  "x-ms-summary": "Connection ID"
                },
                "envelopeEvents": {
                  "type": "string",
                  "x-ms-summary": "Envelope status"
                },
                "urlToPublishTo": {
                  "type": "string",
                  "x-ms-summary": "Webhook URL"
                },
                "created_at": {
                  "type": "string",
                  "x-ms-summary": "Created date"
                },
                "updated_at": {
                  "type": "string",
                  "x-ms-summary": "Last update"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "To see it work now, send an envelope.",
        "x-ms-visibility": "important",
        "x-ms-no-generic-test": true
      }
    },
    "/customer/connect/{connectId}": {
      "delete": {
        "summary": "Delete hook",
        "description": "Delete a hook.",
        "operationId": "DeleteHook",
        "parameters": [
          {
            "name": "connectId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Connection ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "cus_id": {
                  "type": "string",
                  "x-ms-summary": "Customer ID"
                },
                "connect_id": {
                  "type": "string",
                  "x-ms-summary": "Connection ID"
                },
                "connectionName": {
                  "type": "string",
                  "x-ms-summary": "Connection title"
                },
                "envelopeEvents": {
                  "type": "string",
                  "x-ms-summary": "Envelope status"
                },
                "urlToPublishTo": {
                  "type": "string",
                  "x-ms-summary": "Webhook URL"
                },
                "created_at": {
                  "type": "string",
                  "x-ms-summary": "Created date"
                },
                "updated_at": {
                  "type": "string",
                  "x-ms-summary": "Last update"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal",
        "x-ms-no-generic-test": true
      }
    },
    "/customer/documents/{documentId}": {
      "get": {
        "summary": "Get envelope documents",
        "description": "Get envelope documents.",
        "operationId": "GetDocuments",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "description": "Document id",
            "x-ms-summary": "Document ID",
            "x-ms-visibility": "important",
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "download_type",
            "in": "query",
            "required": true,
            "x-ms-summary": "Document download format",
            "x-ms-visibility": "internal",
            "default": 2,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "operation",
            "in": "query",
            "required": true,
            "x-ms-summary": "Operation",
            "x-ms-visibility": "internal",
            "default": 1,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetDocumentsResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "advanced"
      }
    },
    "/customer/envelopes/documents": {
      "post": {
        "tags": [
          "GMOGlobalSign"
        ],
        "summary": "Register an envelope document",
        "description": "Register a new envelope document.",
        "operationId": "RegisterEnvelopeDocument",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegisterDocumentResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important"
      }
    },
    "/customer/envelopes/documents/for-huge-size": {
      "post": {
        "tags": [
          "GMOGlobalSign"
        ],
        "summary": "Register an envelope document for huge size",
        "description": "Register a new envelope document.",
        "operationId": "RegisterEnvelopeDocumentForHugeSize",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterDocumentForHugeSizeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegisterDocumentForHugeSizeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important"
      }
    },
    "/customer/envelopes/signatures/request": {
      "post": {
        "tags": [
          "GMOGlobalSign"
        ],
        "summary": "Request an envelope signature",
        "description": "Request an envelope signature.",
        "operationId": "RequestEnvelopeSignature",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestSignatureRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RequestSignatureResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important"
      }
    },
    "/customer/envelopes/templates/{templateId}/transaction": {
      "post": {
        "tags": [
          "GMOGlobalSign"
        ],
        "summary": "Send a new envelope using a specified template",
        "description": "Send a new envelope using a specified template.",
        "operationId": "SendEnvelope",
        "x-ms-no-generic-test": true,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "Template id",
            "required": true,
            "x-ms-summary": "Template ID",
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TemplateSignRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SendEnvelopeResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "EnvelopeTemplatesResponse": {
      "type": "object",
      "properties": {
        "envelopeTemplates": {
          "description": "envelope templates",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvelopeTemplate"
          },
          "x-ms-summary": "Envelope template list",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "EnvelopeTemplate": {
      "required": [
        "envelope_template_id"
      ],
      "type": "object",
      "properties": {
        "envelope_template_id": {
          "x-ms-summary": "Template ID",
          "type": "string"
        }
      }
    },
    "WebhookRequest": {
      "type": "object",
      "required": [
        "name",
        "urlToPublishTo",
        "envelopeEvents"
      ],
      "properties": {
        "name": {
          "type": "string",
          "x-ms-summary": "Connection title",
          "x-ms-visibility": "important"
        },
        "urlToPublishTo": {
          "type": "string",
          "x-ms-summary": "Webhook URL",
          "x-ms-visibility": "internal",
          "x-ms-notification-url": true
        },
        "envelopeEvents": {
          "type": "string",
          "x-ms-summary": "Envelope status",
          "x-ms-visibility": "internal",
          "default": "Completed"
        }
      }
    },
    "WebhookEnvelopeResponse": {
      "type": "object",
      "properties": {
        "document_list": {
          "type": "array",
          "x-ms-summary": "Document list",
          "items": {
            "type": "object",
            "properties": {
              "documentId": {
                "type": "string",
                "x-ms-summary": "Document ID"
              },
              "document_name": {
                "type": "string",
                "x-ms-summary": "Document name"
              }
            }
          }
        },
        "envelope_name": {
          "type": "string",
          "x-ms-summary": "Envelope name"
        },
        "envelope_xid": {
          "type": "string",
          "x-ms-summary": "Envelope transaction ID"
        }
      }
    },
    "GetDocumentsResponse": {
      "type": "object",
      "properties": {
        "downloadedDocument": {
          "type": "string",
          "format": "byte",
          "x-ms-summary": "Downloaded document",
          "x-ms-visibility": "important"
        }
      }
    },
    "RegisterDocumentRequest": {
      "required": [
        "document"
      ],
      "type": "object",
      "properties": {
        "document": {
          "description": "Files got from SharePoint or OneDrive.",
          "type": "string",
          "format": "binary",
          "x-ms-summary": "Document",
          "x-ms-visibility": "important"
        },
        "document_code": {
          "type": "string",
          "x-ms-summary": "Document code",
          "x-ms-visibility": "important"
        },
        "reuse_flag": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Reuse flag",
          "x-ms-visibility": "important",
          "enum": [
            1
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Reuse",
              "value": 1
            }
          ]
        },
        "remarks": {
          "type": "string",
          "x-ms-summary": "Remarks",
          "x-ms-visibility": "important"
        }
      }
    },
    "RegisterDocumentResponse": {
      "type": "object",
      "properties": {
        "status": {
          "description": "response status",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "result": {
          "description": "response result",
          "type": "string",
          "x-ms-summary": "Result",
          "x-ms-visibility": "important"
        },
        "message": {
          "description": "response message",
          "type": "string",
          "x-ms-summary": "Message",
          "x-ms-visibility": "important"
        },
        "document_code": {
          "description": "document code",
          "type": "string",
          "x-ms-summary": "DocumentCode",
          "x-ms-visibility": "important"
        }
      }
    },
    "RegisterDocumentForHugeSizeRequest": {
      "required": [
        "file_path"
      ],
      "type": "object",
      "properties": {
        "file_path": {
          "description": "File path after \"/input/\" of the file name on the SFTP server. In AWS S3, the configuration is \"s3://(bucket name)/(user name)/input/(file name)\".",
          "type": "string",
          "x-ms-summary": "File path",
          "x-ms-visibility": "important"
        },
        "document_code": {
          "type": "string",
          "x-ms-summary": "Document code",
          "x-ms-visibility": "important"
        },
        "reuse_flag": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Reuse flag",
          "x-ms-visibility": "important",
          "enum": [
            1
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Reuse",
              "value": 1
            }
          ]
        },
        "remarks": {
          "type": "string",
          "x-ms-summary": "Remarks",
          "x-ms-visibility": "important"
        }
      }
    },
    "RegisterDocumentForHugeSizeResponse": {
      "type": "object",
      "properties": {
        "status": {
          "description": "response status",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "result": {
          "description": "response result",
          "type": "string",
          "x-ms-summary": "Result",
          "x-ms-visibility": "important"
        },
        "message": {
          "description": "response message",
          "type": "string",
          "x-ms-summary": "Message",
          "x-ms-visibility": "important"
        },
        "document_code": {
          "description": "document code",
          "type": "string",
          "x-ms-summary": "DocumentCode",
          "x-ms-visibility": "important"
        }
      }
    },
    "RequestSignatureRequest": {
      "required": [
        "envelope_name",
        "document_list",
        "is_detailed_response"
      ],
      "type": "object",
      "properties": {
        "envelope_name": {
          "type": "string",
          "x-ms-summary": "Envelope name",
          "x-ms-visibility": "important"
        },
        "sender_name": {
          "type": "string",
          "x-ms-summary": "Sender name",
          "x-ms-visibility": "advanced"
        },
        "sender_post_name": {
          "type": "string",
          "x-ms-summary": "Sender post name",
          "x-ms-visibility": "advanced"
        },
        "is_compilation_mail": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Send compilation mail",
          "x-ms-visibility": "advanced",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_web_hook": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Send web hook",
          "x-ms-visibility": "important",
          "default": 2,
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "bounced_note_mail": {
          "type": "string",
          "x-ms-summary": "Bounced note mail",
          "x-ms-visibility": "important"
        },
        "document_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentList"
          },
          "x-ms-summary": "Document list",
          "x-ms-visibility": "important"
        },
        "our_signer_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InHouseSignerList"
          },
          "x-ms-summary": "In house signer list",
          "x-ms-visibility": "important",
          "description": "Either one of the following must be filled in \"In house signer list\", \"Partner signer list\"."
        },
        "in_house_signer_envelope_documents_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InHouseSignerListDocuments"
          },
          "description": "If you enter In house signer list, it is required.",
          "x-ms-summary": "In house signer envelope documents list",
          "x-ms-visibility": "important"
        },
        "partner_signer_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartnerSignerList"
          },
          "x-ms-summary": "Partner signer list",
          "x-ms-visibility": "important",
          "description": "Either one of the following must be filled in \"In house signer list\", \"Partner signer list\"."
        },
        "partner_signer_document_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PartnerSignerListDocuments"
          },
          "description": "If you enter Partner signer document list, it is required.",
          "x-ms-summary": "Partner signer document list",
          "x-ms-visibility": "important"
        },
        "folder_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FolderList"
          },
          "x-ms-summary": "Folder list",
          "x-ms-visibility": "advanced"
        },
        "approver_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApproverList"
          },
          "x-ms-summary": "Approver list",
          "x-ms-visibility": "advanced"
        },
        "workflow_comment": {
          "type": "string",
          "x-ms-summary": "Workflow comment",
          "x-ms-visibility": "advanced"
        },
        "not_signer_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotSignerList"
          },
          "x-ms-summary": "Not signer list",
          "x-ms-visibility": "advanced"
        },
        "is_detailed_response": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Get detailed response",
          "x-ms-visibility": "internal",
          "default": 1
        }
      }
    },
    "DocumentList": {
      "required": [
        "document_code",
        "document_name"
      ],
      "type": "object",
      "properties": {
        "document_code": {
          "type": "string",
          "x-ms-summary": "Document code",
          "x-ms-visibility": "important"
        },
        "document_name": {
          "type": "string",
          "x-ms-summary": "Document name",
          "x-ms-visibility": "important"
        },
        "fill_text_point": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FillTextPointForDocumentList"
          },
          "x-ms-summary": "Fill text point",
          "x-ms-visibility": "advanced"
        },
        "date_text_point": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DateTextPointForDocumentList"
          },
          "x-ms-summary": "Date text point",
          "x-ms-visibility": "advanced"
        },
        "check_box_point": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CheckBoxPointForDocumentList"
          },
          "x-ms-summary": "Check box point",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "InHouseSignerList": {
      "type": "object",
      "properties": {
        "order_no": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Order no",
          "description": "If you enter In house signer list, it is required."
        },
        "is_or_sign": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Or sign",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Only",
              "value": 1
            },
            {
              "displayName": "All",
              "value": 2
            }
          ]
        },
        "sign_type": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter In house signer list, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Sign type",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Personal seal type",
              "value": 1
            },
            {
              "displayName": "Contract seal type",
              "value": 2
            }
          ]
        },
        "email": {
          "type": "string",
          "description": "If you enter In house signer list, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email"
        },
        "comment": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Comment"
        },
        "access_code": {
          "type": "string",
          "description": "If you set sign_type \"Contract seal type\", it is optional.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Access code"
        },
        "is_signer_change": {
          "type": "integer",
          "format": "int32",
          "description": "If you set sign_type \"Contract seal type\", it is optional.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signer change",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_attached_file": {
          "type": "integer",
          "format": "int32",
          "description": "It is available only when you have signed up for the \"Image attachment option\" and it is optional.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Attached file",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Attach",
              "value": 1
            },
            {
              "displayName": "Not attach",
              "value": 2
            }
          ]
        },
        "is_drivers_license_format_check_use": {
          "type": "integer",
          "format": "int32",
          "description": "It is available and optional only when you have signed up for the \"Image attachment option\" and set for Sign type \"Contract seal type\". It cannot be specified per document. It  cannot be combined use with Signer change and if you set for Request type \"Document check, Not send\".",
          "x-ms-visibility": "important",
          "x-ms-summary": "Drivers license format check use",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_send_mail": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Send mail",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_compilation_mail": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Send compilation mail",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "language": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Language",
          "description": "If you do not enter this, apply the language set for the source account.",
          "enum": [
            "ja",
            "en"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Japanese",
              "value": "ja"
            },
            {
              "displayName": "English",
              "value": "en"
            }
          ]
        }
      }
    },
    "PartnerSignerList": {
      "type": "object",
      "properties": {
        "order_no": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Order no"
        },
        "is_or_sign": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Or sign",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Only",
              "value": 1
            },
            {
              "displayName": "All",
              "value": 2
            }
          ]
        },
        "sign_type": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Partner signer list, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Sign type",
          "enum": [
            0,
            1,
            3
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Digital sign",
              "value": 0
            },
            {
              "displayName": "e-sign",
              "value": 1
            },
            {
              "displayName": "In-Person sign",
              "value": 3
            }
          ]
        },
        "name": {
          "type": "string",
          "description": "If you enter Partner signer list, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signer name"
        },
        "organize_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Organize name"
        },
        "email": {
          "type": "string",
          "description": "Either your Email address or Phone number (it is possible if you use the SMS sending option) is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email"
        },
        "phone_number": {
          "type": "string",
          "description": "Either your Email address or Phone number (it is possible if you use the SMS sending option) is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Phone number"
        },
        "phone_permit_date": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Phone permit date"
        },
        "attendant_email": {
          "type": "string",
          "description": "If you set Sign type \"Signature in person\", it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "attendant_email"
        },
        "comment": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Comment"
        },
        "access_code": {
          "type": "string",
          "description": "If you set Sign type \" Signature in person, Contract seal type\", it is designatable.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Access code"
        },
        "is_signer_change": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signer change",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_attached_file": {
          "type": "integer",
          "format": "int32",
          "description": "It is available only when you have signed up for the \"Image attachment option\". If there is a specification in document units, it takes precedence. (If you set Sign type \" Signature in person\" and Request type \"Document check\", it is regarded \"1\".)",
          "x-ms-visibility": "important",
          "x-ms-summary": "Attached file",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_drivers_license_format_check_use": {
          "type": "integer",
          "format": "int32",
          "description": "It is available and optional only when you have signed up for the \"Image attachment option\" and set for Sign type \"Contract seal type\". It cannot be specified per document. It  cannot be combined use with Signer change and if you set for Request type \"Document check, Not send\".",
          "x-ms-visibility": "important",
          "x-ms-summary": "Drivers license format check use",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_send_mail": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Send mail",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_compilation_mail": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Send compilation mail",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "language": {
          "type": "string",
          "description": "If you do not enter this, apply the language set for the source account.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Language",
          "enum": [
            "ja",
            "en"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Japanese",
              "value": "ja"
            },
            {
              "displayName": "English",
              "value": "en"
            }
          ]
        },
        "payment_type": {
          "type": "integer",
          "format": "int32",
          "description": "It is available only when you have signed up for the \"payment option\" and it is optional.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Payment type",
          "enum": [
            1,
            2,
            3
          ],
          "x-ms-enum-values": [
            {
              "displayName": "None",
              "value": 1
            },
            {
              "displayName": "Each time",
              "value": 2
            },
            {
              "displayName": "Regularly",
              "value": 3
            }
          ]
        },
        "amount": {
          "type": "string",
          "description": "If you set Payment type \" Each time, Regularly\", it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Fee(JPN Yen)"
        },
        "description": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Description"
        },
        "subscription_start_year": {
          "type": "string",
          "description": "If you set Payment type \"Regularly\", it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Start year of payment"
        },
        "subscription_start_month": {
          "type": "string",
          "description": "If you set Payment type \"Regularly\", it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Start month of payment",
          "enum": [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "10",
            "11",
            "12"
          ]
        },
        "subscription_sale_date": {
          "type": "string",
          "description": "If you set Payment type \"Regularly\", it is required.",
          "enum": [
            "1",
            "10",
            "20"
          ],
          "x-ms-visibility": "important",
          "x-ms-summary": "Start day of payment"
        }
      }
    },
    "FolderList": {
      "type": "object",
      "properties": {
        "folder_id": {
          "type": "integer",
          "format": "int64",
          "x-ms-visibility": "important",
          "x-ms-summary": "Folder id"
        }
      }
    },
    "ApproverList": {
      "type": "object",
      "properties": {
        "order_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you designate an approver, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Order no"
        },
        "name": {
          "type": "string",
          "description": "If you designate an approver, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Name"
        },
        "post_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Post name"
        },
        "email": {
          "type": "string",
          "description": "If you designate an approver, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email"
        }
      }
    },
    "NotSignerList": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "If you designate an recipient, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Name"
        },
        "organize_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Organize name"
        },
        "email": {
          "type": "string",
          "description": "If you designate an recipient, either your email address or SMS phone number (it is possible if you use the SMS sending option) is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email"
        },
        "phone_number": {
          "type": "string",
          "description": "If you designate an recipient, either your email address or SMS phone number (it is possible if you use the SMS sending option) is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Phone number"
        },
        "phone_permit_date": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Phone permit date"
        },
        "comment": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Comment"
        },
        "language": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Language",
          "description": "If you do not enter this, apply the language set for the source account.",
          "enum": [
            "ja",
            "en"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Japanese",
              "value": "ja"
            },
            {
              "displayName": "English",
              "value": "en"
            }
          ]
        }
      }
    },
    "FillTextPointForDocumentList": {
      "type": "object",
      "properties": {
        "fill_text_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Fill text, it is required and only integers from 0-100 are allowed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start x"
        },
        "fill_text_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Fill text, it is required and only integers from 0-100 are allowed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start y"
        },
        "fill_text_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Fill text, it is required and only integers from 0-100 are allowed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end x"
        },
        "fill_text_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Fill text, it is required and only integers from 0-100 are allowed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Fill text, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        },
        "font_size": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Font size",
          "enum": [
            "7.5",
            "8",
            "9",
            "10",
            "10.5",
            "11",
            "12",
            "14",
            "16",
            "18",
            "20",
            "22",
            "24",
            "26",
            "28",
            "32",
            "36",
            "48",
            "72"
          ]
        },
        "fill_text": {
          "type": "string",
          "description": "If you enter Fill text, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Fill text"
        }
      }
    },
    "DateTextPointForDocumentList": {
      "type": "object",
      "properties": {
        "date_text_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text, it is required and only integers from 0-100 are allowed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start x"
        },
        "date_text_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text, it is required and only integers from 0-100 are allowed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start y"
        },
        "date_text_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text, it is required and only integers from 0-100 are allowed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end x"
        },
        "date_text_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text, it is required and only integers from 0-100 are allowed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        },
        "font_size": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Font size",
          "enum": [
            "7.5",
            "8",
            "9",
            "10",
            "10.5",
            "11",
            "12",
            "14",
            "16",
            "18",
            "20",
            "22",
            "24",
            "26",
            "28",
            "32",
            "36",
            "48",
            "72"
          ]
        },
        "date_text": {
          "type": "string",
          "description": "If you enter Date text, it is required. It is needed to enter in \"YYYYmmdd\" format.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Date text"
        }
      }
    },
    "CheckBoxPointForDocumentList": {
      "type": "object",
      "properties": {
        "check_box_type": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "No initial check (Optional)",
              "value": "1"
            },
            {
              "displayName": "No initial check (Required)",
              "value": "2"
            },
            {
              "displayName": "Initial check (Optional)",
              "value": "3"
            }
          ],
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box type"
        },
        "check_box_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box, it is required and only integers from 0-100 are allowed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point start x"
        },
        "check_box_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box, it is required and only integers from 0-100 are allowed.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point start y"
        },
        "check_box_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point end x"
        },
        "check_box_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        }
      }
    },
    "InHouseSignerListDocuments": {
      "type": "object",
      "properties": {
        "signer_no": {
          "type": "string",
          "description": "If you enter In house signer envelope documents list, it is required and enter the same text that Email of this and the corresponding In house signer.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signer no"
        },
        "document_code": {
          "type": "string",
          "description": "If you enter In house signer envelope documents list, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Document code"
        },
        "request_type": {
          "type": "string",
          "description": "If you enter In house signer envelope documents list, it is required.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Request type",
          "enum": [
            "1",
            "2",
            "3"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Sign",
              "value": "1"
            },
            {
              "displayName": "Check document",
              "value": "2"
            },
            {
              "displayName": "Not send",
              "value": "3"
            }
          ]
        },
        "is_document_attached_file": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Document attached file",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Attach",
              "value": 1
            },
            {
              "displayName": "Not attach",
              "value": 2
            }
          ]
        },
        "signing_points": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SigningPointsForInHouseSignerListDocuments"
          },
          "x-ms-summary": "Signing points",
          "x-ms-visibility": "advanced"
        },
        "free_text_point": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FreeTextPointForInHouseSignerListDocuments"
          },
          "x-ms-summary": "Free text point",
          "x-ms-visibility": "advanced"
        },
        "date_text_point": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DateTextPointForInHouseSignerListDocuments"
          },
          "x-ms-summary": "Date text point",
          "x-ms-visibility": "advanced"
        },
        "check_box_point": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CheckBoxPointForInHouseSignerListDocuments"
          },
          "x-ms-summary": "Check box point",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "PartnerSignerListDocuments": {
      "type": "object",
      "properties": {
        "signer_no": {
          "type": "string",
          "description": "If you enter Partner signer document list, it is required and enter the same text that Email or Phone number of this and the corresponding Partner signer.",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signer no"
        },
        "document_code": {
          "type": "string",
          "description": "If you enter Partner signer document list, it is required",
          "x-ms-visibility": "important",
          "x-ms-summary": "Document code"
        },
        "request_type": {
          "type": "string",
          "description": "If you enter Partner signer document list, it is required",
          "x-ms-visibility": "important",
          "x-ms-summary": "Request type",
          "enum": [
            "1",
            "2",
            "3"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Sign",
              "value": "1"
            },
            {
              "displayName": "Check document",
              "value": "2"
            },
            {
              "displayName": "Not send",
              "value": "3"
            }
          ]
        },
        "is_document_attached_file": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Document attached file",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Attach",
              "value": 1
            },
            {
              "displayName": "Not attach",
              "value": 2
            }
          ]
        },
        "signing_points": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SigningPointsForPartnerSignerListDocuments"
          },
          "x-ms-summary": "Signing points",
          "x-ms-visibility": "important"
        },
        "free_text_point": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FreeTextPointForPartnerSignerListDocuments"
          },
          "x-ms-summary": "Free text point",
          "x-ms-visibility": "important"
        },
        "date_text_point": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DateTextPointForPartnerSignerListDocuments"
          },
          "x-ms-summary": "Date text point",
          "x-ms-visibility": "important"
        },
        "check_box_point": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CheckBoxPointForPartnerSignerListDocuments"
          },
          "x-ms-summary": "Check box point",
          "x-ms-visibility": "important"
        }
      }
    },
    "SigningPointsForInHouseSignerListDocuments": {
      "type": "object",
      "properties": {
        "signing_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Signing points, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signing point start x"
        },
        "signing_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Signing points, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signing point start y"
        },
        "signing_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Signing points, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signing point end x"
        },
        "signing_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Signing points, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signing point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Signing points, it is required",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        }
      }
    },
    "FreeTextPointForInHouseSignerListDocuments": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Tag"
        },
        "is_required": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Required",
          "enum": [
            "1",
            "2"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Required",
              "value": "1"
            },
            {
              "displayName": "Select",
              "value": "2"
            }
          ]
        },
        "free_text_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Free text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start x"
        },
        "free_text_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Free text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start y"
        },
        "free_text_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Free text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end x"
        },
        "free_text_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Free text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Free text point, it is required",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        },
        "font_size": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Font size",
          "enum": [
            "7.5",
            "8",
            "9",
            "10",
            "10.5",
            "11",
            "12",
            "14",
            "16",
            "18",
            "20",
            "22",
            "24",
            "26",
            "28",
            "32",
            "36",
            "48",
            "72"
          ]
        },
        "placeholder_text": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Placeholder text"
        }
      }
    },
    "DateTextPointForInHouseSignerListDocuments": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Tag"
        },
        "is_required": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Required",
          "enum": [
            "1",
            "2"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Required",
              "value": "1"
            },
            {
              "displayName": "Select",
              "value": "2"
            }
          ]
        },
        "date_text_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start x"
        },
        "date_text_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start y"
        },
        "date_text_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end x"
        },
        "date_text_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text point, it is required",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        },
        "font_size": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Font size",
          "enum": [
            "7.5",
            "8",
            "9",
            "10",
            "10.5",
            "11",
            "12",
            "14",
            "16",
            "18",
            "20",
            "22",
            "24",
            "26",
            "28",
            "32",
            "36",
            "48",
            "72"
          ]
        },
        "placeholder_text": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Placeholder text"
        }
      }
    },
    "CheckBoxPointForInHouseSignerListDocuments": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Tag"
        },
        "check_box_type": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "No initial check (Optional)",
              "value": "1"
            },
            {
              "displayName": "No initial check (Required)",
              "value": "2"
            },
            {
              "displayName": "Initial check (Optional)",
              "value": "3"
            }
          ],
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box type",
          "description": "If you enter Check box point, it is required"
        },
        "check_box_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point start x"
        },
        "check_box_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point start y"
        },
        "check_box_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "Only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point end x"
        },
        "check_box_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        }
      }
    },
    "SigningPointsForPartnerSignerListDocuments": {
      "type": "object",
      "properties": {
        "signing_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Signing points, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signing point start x"
        },
        "signing_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Signing points, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signing point start y"
        },
        "signing_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Signing points, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signing point end x"
        },
        "signing_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Signing points, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signing point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Signing points, it is required",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        }
      }
    },
    "FreeTextPointForPartnerSignerListDocuments": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Tag"
        },
        "is_required": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Required",
          "enum": [
            "1",
            "2"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Required",
              "value": "1"
            },
            {
              "displayName": "Select",
              "value": "2"
            }
          ]
        },
        "free_text_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Free text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start x"
        },
        "free_text_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Free text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start y"
        },
        "free_text_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Free text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end x"
        },
        "free_text_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Free text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Free text point, it is required",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        },
        "font_size": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Font size",
          "enum": [
            "7.5",
            "8",
            "9",
            "10",
            "10.5",
            "11",
            "12",
            "14",
            "16",
            "18",
            "20",
            "22",
            "24",
            "26",
            "28",
            "32",
            "36",
            "48",
            "72"
          ]
        },
        "placeholder_text": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Placeholder text"
        }
      }
    },
    "DateTextPointForPartnerSignerListDocuments": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Tag"
        },
        "is_required": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Required",
          "enum": [
            "1",
            "2"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Required",
              "value": "1"
            },
            {
              "displayName": "Select",
              "value": "2"
            }
          ],
          "description": "If you enter Date text point, it is required"
        },
        "date_text_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start x"
        },
        "date_text_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point start y"
        },
        "date_text_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end x"
        },
        "date_text_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Text point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Date text point, it is required",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        },
        "font_size": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Font size",
          "enum": [
            "7.5",
            "8",
            "9",
            "10",
            "10.5",
            "11",
            "12",
            "14",
            "16",
            "18",
            "20",
            "22",
            "24",
            "26",
            "28",
            "32",
            "36",
            "48",
            "72"
          ]
        },
        "placeholder_text": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Placeholder text"
        }
      }
    },
    "CheckBoxPointForPartnerSignerListDocuments": {
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Tag"
        },
        "check_box_type": {
          "type": "string",
          "enum": [
            "1",
            "2",
            "3"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "No initial check (Optional)",
              "value": "1"
            },
            {
              "displayName": "No initial check (Required)",
              "value": "2"
            },
            {
              "displayName": "Initial check (Optional)",
              "value": "3"
            }
          ],
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box type",
          "description": "If you enter Check box point, it is required"
        },
        "check_box_point_start_x": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point start x"
        },
        "check_box_point_start_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point start y"
        },
        "check_box_point_end_x": {
          "type": "integer",
          "format": "int32",
          "description": "Only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point end x"
        },
        "check_box_point_end_y": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box point, it is required and only integers from 0-100 are allowed",
          "x-ms-visibility": "important",
          "x-ms-summary": "Check box point end y"
        },
        "page_no": {
          "type": "integer",
          "format": "int32",
          "description": "If you enter Check box point, it is required",
          "x-ms-visibility": "important",
          "x-ms-summary": "Page no"
        }
      }
    },
    "RequestSignatureResponse": {
      "type": "object",
      "properties": {
        "status": {
          "description": "response status",
          "type": "string",
          "x-ms-summary": "Status",
          "x-ms-visibility": "important"
        },
        "result": {
          "description": "response result",
          "type": "string",
          "x-ms-summary": "Result",
          "x-ms-visibility": "important"
        },
        "message": {
          "description": "response message",
          "type": "string",
          "x-ms-summary": "Message",
          "x-ms-visibility": "important"
        },
        "envelope_xid": {
          "description": "envelope_xid",
          "type": "string",
          "x-ms-summary": "Envelope TransactionID",
          "x-ms-visibility": "important"
        },
        "document_list": {
          "type": "array",
          "x-ms-summary": "Document list",
          "items": {
            "$ref": "#/definitions/document"
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "TemplateSignRequest": {
      "type": "object",
      "required": [
        "envelope_name",
        "signer_list",
        "is_web_hook"
      ],
      "properties": {
        "envelope_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Envelope name"
        },
        "sender_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Sender name"
        },
        "sender_post_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Sender's department name"
        },
        "is_compliation_mail": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signature completion notification",
          "default": 2,
          "description": "send a completion notification email to the sender",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_web_hook": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Trigger",
          "description": "Fire a PowerAutomate trigger on signature completion",
          "default": 1,
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "bounced_note_mail": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email sending error notification destination"
        },
        "approver_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/approver"
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Approver"
        },
        "work_flow_comment": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "approval comment"
        },
        "signer_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/reqSigner"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "Signer"
        },
        "not_signer_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/not_signer"
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Recipient"
        },
        "inset_item_list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/inset_item"
          },
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Merge field"
        }
      }
    },
    "approver": {
      "type": "object",
      "properties": {
        "order_no": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "order of approval"
        },
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Approver"
        },
        "post_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Affiliation of approver"
        },
        "email": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email"
        }
      }
    },
    "reqSigner": {
      "required": [
        "signer_type",
        "sign_type"
      ],
      "type": "object",
      "properties": {
        "signer_type": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "signer type",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "in-house",
              "value": 1
            },
            {
              "displayName": "Counterparty",
              "value": 2
            }
          ]
        },
        "use_template": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Template usage",
          "description": "Whether to use the signer registered in the template",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "order_no": {
          "type": "string",
          "x-ms-summary": "Order of signers"
        },
        "sign_type": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signature type",
          "enum": [
            0,
            1
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Digital Signature",
              "value": 0
            },
            {
              "displayName": "E-Signature",
              "value": 1
            }
          ]
        },
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Signer name"
        },
        "organize_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Affiliation of signer"
        },
        "email": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email"
        },
        "comment": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Comments"
        },
        "access_code": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Access code"
        },
        "is_signer_change": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "change authority",
          "default": 2,
          "description": "Allow Recipient to Change Signer?",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_attached_file": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Attached image",
          "description": "Allow signer to attach a sign image?",
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "is_send_mail": {
          "type": "integer",
          "format": "int32",
          "x-ms-visibility": "important",
          "x-ms-summary": "Send email",
          "description": "Send a signature request email to the signer",
          "default": 2,
          "enum": [
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Yes",
              "value": 1
            },
            {
              "displayName": "No",
              "value": 2
            }
          ]
        },
        "language": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email language",
          "enum": [
            "ja",
            "en"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Japanese",
              "value": "ja"
            },
            {
              "displayName": "English",
              "value": "en"
            }
          ]
        },
        "payment_type": {
          "type": "integer",
          "format": "int32",
          "x-ms-summary": "Payment type",
          "default": 0,
          "description": "Select a payment type",
          "enum": [
            0,
            1,
            2
          ],
          "x-ms-enum-values": [
            {
              "displayName": "None",
              "value": 0
            },
            {
              "displayName": "Once time",
              "value": 1
            },
            {
              "displayName": "Every month",
              "value": 2
            }
          ]
        },
        "amount": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Fee(JPN Yen)"
        },
        "description": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Description"
        },
        "subscription_start_year": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Start year of payment"
        },
        "subscription_start_month": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Start month of payment"
        },
        "subscription_start_date": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Start day of payment"
        }
      }
    },
    "not_signer": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Receiver"
        },
        "organize_name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Affiliation of receiver"
        },
        "email": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email"
        },
        "comment": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Comennts"
        },
        "language": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Email language",
          "enum": [
            "ja",
            "en"
          ],
          "x-ms-enum-values": [
            {
              "displayName": "Japanese",
              "value": "ja"
            },
            {
              "displayName": "English",
              "value": "en"
            }
          ]
        }
      }
    },
    "inset_item": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Merge item name"
        },
        "value": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Merge item value"
        }
      }
    },
    "SendEnvelopeResponse": {
      "type": "object",
      "properties": {
        "envelope_xid": {
          "description": "Envelope transaction ID",
          "type": "string",
          "x-ms-summary": "Envelope transaction ID",
          "x-ms-visibility": "important"
        },
        "envelope_status": {
          "description": "The status of the envelope.",
          "type": "string",
          "x-ms-summary": "Envelope status",
          "x-ms-visibility": "important"
        },
        "document_list": {
          "type": "array",
          "x-ms-summary": "Document list",
          "items": {
            "$ref": "#/definitions/document"
          },
          "x-ms-visibility": "important"
        },
        "signer_list": {
          "type": "array",
          "x-ms-summary": "Signer list",
          "items": {
            "$ref": "#/definitions/resSigner"
          },
          "x-ms-visibility": "important"
        }
      }
    },
    "document": {
      "type": "object",
      "properties": {
        "document_name": {
          "type": "string",
          "x-ms-summary": "Document name",
          "x-ms-visibility": "important"
        },
        "control_number": {
          "type": "string",
          "x-ms-summary": "Document ID",
          "x-ms-visibility": "important"
        }
      }
    },
    "resSigner": {
      "type": "object",
      "properties": {
        "order_no": {
          "type": "string",
          "x-ms-summary": "Order of signer",
          "x-ms-visibility": "important"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Signer name",
          "x-ms-visibility": "important"
        },
        "organize_name": {
          "type": "string",
          "x-ms-summary": "Affiliation of signer",
          "x-ms-visibility": "important"
        },
        "email": {
          "type": "string",
          "x-ms-summary": "Email",
          "x-ms-visibility": "important"
        },
        "phone_number": {
          "type": "string",
          "x-ms-summary": "Tel.",
          "x-ms-visibility": "important"
        },
        "envelope_signer_id": {
          "type": "string",
          "x-ms-summary": "Envelope signer ID",
          "x-ms-visibility": "important"
        },
        "envelope_sign_token": {
          "type": "string",
          "x-ms-summary": "Envelope signer token",
          "x-ms-visibility": "important"
        },
        "sign_status": {
          "type": "string",
          "x-ms-summary": "Sign status",
          "x-ms-visibility": "important"
        }
      }
    }
  }
}
