{
  "swagger": "2.0",
  "info": {
    "title": "Zippopotamus",
    "description": "Zippopotamus is an open source project that is focused on converting zip codes into valid geographical locations. API allows to obtain location details for a given postal code or state and city. It provides data for over 60 countries.",
    "version": "1.0",
    "contact": {
      "name": "Tomasz Poszytek",
      "url": "https://aka.ms/poszytek",
      "email": "tomasz@poszytek.eu"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://api.zippopotam.us/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://api.zippopotam.us/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Commerce;Marketing"
    }
  ],
  "host": "api.zippopotam.us",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/{country}/{postal-code}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "post code": {
                  "type": "string",
                  "description": "Post code",
                  "title": "Post code"
                },
                "country": {
                  "type": "string",
                  "description": "Country",
                  "title": "Country"
                },
                "country abbreviation": {
                  "type": "string",
                  "description": "Country abbreviation",
                  "title": "Country abbreviation"
                },
                "places": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "place name": {
                        "type": "string",
                        "description": "Place name",
                        "title": "Place name"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "Place's longitude",
                        "title": "Longitude"
                      },
                      "state": {
                        "type": "string",
                        "description": "State",
                        "title": "State"
                      },
                      "state abbreviation": {
                        "type": "string",
                        "description": "State abbreviation",
                        "title": "State abbreviation"
                      },
                      "latitude": {
                        "type": "string",
                        "description": "Place's latitude",
                        "title": "Latitude"
                      }
                    }
                  },
                  "description": "places"
                }
              }
            }
          }
        },
        "summary": "Get location details for postal code",
        "description": "Action lets to obtain lat, lon and other location details for a given postal code.",
        "operationId": "GetDetailsByPostalCode",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ISO code of the country, eg. US",
            "x-ms-summary": "Country",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "enum": [
              "AD",
              "AR",
              "AS",
              "AT",
              "AU",
              "BD",
              "BE",
              "BG",
              "BR",
              "CA",
              "CH",
              "CZ",
              "DE",
              "DK",
              "DO",
              "ES",
              "FI",
              "FO",
              "FR",
              "GB",
              "GF",
              "GG",
              "GL",
              "GP",
              "GT",
              "GU",
              "GY",
              "HR",
              "HU",
              "IM",
              "IN",
              "IS",
              "IT",
              "JE",
              "JP",
              "LI",
              "LK",
              "LT",
              "LU",
              "MC",
              "MD",
              "MH",
              "MK",
              "MP",
              "MQ",
              "MX",
              "MY",
              "NL",
              "NO",
              "NZ",
              "PH",
              "PK",
              "PL",
              "PM",
              "PR",
              "PT",
              "RE",
              "RU",
              "SE",
              "SI",
              "SJ",
              "SK",
              "SM",
              "TH",
              "TR",
              "US",
              "VA",
              "VI",
              "YT",
              "ZA"
            ]
          },
          {
            "name": "postal-code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Postal code",
            "x-ms-summary": "Postal code",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/{country}/{state}/{city}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "country abbreviation": {
                  "type": "string",
                  "description": "Country abbreviation",
                  "title": "Country abbreviation"
                },
                "places": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "place name": {
                        "type": "string",
                        "description": "Place name",
                        "title": "Place name"
                      },
                      "longitude": {
                        "type": "string",
                        "description": "Place's longitude",
                        "title": "Longitude"
                      },
                      "post code": {
                        "type": "string",
                        "description": "Post code",
                        "title": "Post code"
                      },
                      "latitude": {
                        "type": "string",
                        "description": "Place's latitude",
                        "title": "Latitude"
                      }
                    }
                  },
                  "description": "places"
                },
                "country": {
                  "type": "string",
                  "description": "Country",
                  "title": "Country"
                },
                "place name": {
                  "type": "string",
                  "description": "Place name",
                  "title": "Place name"
                },
                "state": {
                  "type": "string",
                  "description": "State",
                  "title": "State"
                },
                "state abbreviation": {
                  "type": "string",
                  "description": "State abbreviation",
                  "title": "State abbreviation"
                }
              }
            }
          }
        },
        "operationId": "GetDetailsByStateCity",
        "summary": "Get location details for state and city",
        "description": "Action lets to obtain lat, lon and other location details for a given state and city.",
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ISO code of the country, eg. US",
            "x-ms-summary": "Country",
            "x-ms-url-encoding": "single",
            "enum": [
              "AD",
              "AR",
              "AS",
              "AT",
              "AU",
              "BD",
              "BE",
              "BG",
              "BR",
              "CA",
              "CH",
              "CZ",
              "DE",
              "DK",
              "DO",
              "ES",
              "FI",
              "FO",
              "FR",
              "GB",
              "GF",
              "GG",
              "GL",
              "GP",
              "GT",
              "GU",
              "GY",
              "HR",
              "HU",
              "IM",
              "IN",
              "IS",
              "IT",
              "JE",
              "JP",
              "LI",
              "LK",
              "LT",
              "LU",
              "MC",
              "MD",
              "MH",
              "MK",
              "MP",
              "MQ",
              "MX",
              "MY",
              "NL",
              "NO",
              "NZ",
              "PH",
              "PK",
              "PL",
              "PM",
              "PR",
              "PT",
              "RE",
              "RU",
              "SE",
              "SI",
              "SJ",
              "SK",
              "SM",
              "TH",
              "TR",
              "US",
              "VA",
              "VI",
              "YT",
              "ZA"
            ],
            "x-ms-visibility": "important"
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "State abbreviation, eg. CA (for California)",
            "x-ms-summary": "State",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "city",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "City",
            "x-ms-summary": "City",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}