{
  "swagger": "2.0",
  "info": {
    "title": "Formstack Forms",
    "description": "Formstack is one of the easiest ways to build custom forms that let you collect data your way.",
    "contact": {
      "name": "Formstack Support",
      "url": "https://help.formstack.com/hc/en-us",
      "email": "support@formstack.com"
    },
    "version": "1.0"
  },
  "host": "www.formstack.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v2/form/{form_id}/webhook/": {
      "x-ms-notification-content": {
        "description": "Webhook call details (what we get from the webhook)",
        "schema": {
          "x-ms-dynamic-schema": {
            "operationId": "GetFormSchema",
            "parameters": {
              "form_id": {
                "parameter": "form_id"
              }
            }
          }
        }
      },
      "post": {
        "operationId": "FormstackFormSubmitted",
        "summary": "Triggers when a form is submitted",
        "description": "Triggers when a form is submitted",
        "x-ms-trigger": "single",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "form_id",
            "x-ms-summary": "Form",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Your Formstack Form",
            "x-ms-dynamic-values": {
              "operationId": "GetAvailableForms",
              "value-path": "id",
              "value-collection": "forms",
              "value-title": "name"
            }
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "title": "webhook url",
                  "x-ms-visibility": "internal"
                },
                "content_type": {
                  "type": "string",
                  "description": "content type",
                  "title": "content type",
                  "default": "json",
                  "x-ms-visibility": "internal"
                },
                "file_transfer_type": {
                  "type": "string",
                  "description": "file transfer type",
                  "title": "File Transfer Type",
                  "default": "base64encode",
                  "x-ms-visibility": "internal"
                },
                "standardize_field_values": {
                  "type": "boolean",
                  "description": "standardize field values",
                  "title": "standardize field values",
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "url",
                "content_type",
                "file_transfer_type",
                "standardize_field_values"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/webhook/{hook_id}": {
      "delete": {
        "description": "Deletes a Formstack Webhook",
        "operationId": "DeleteWebhook",
        "summary": "Delete Webhook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "hook_id",
            "in": "path",
            "description": "ID of the Webhook to remove",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/api/v2/form/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "forms": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id",
                        "title": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "forms"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                }
              }
            }
          }
        },
        "summary": "Get Available Forms",
        "description": "Returns all available forms",
        "operationId": "GetAvailableForms",
        "parameters": []
      }
    },
    "/api/v2/form/{form_id}/webhookopenapi/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Returns Form Schema from Webhook API",
        "description": "Used for the x-ms-dynamic-schema",
        "operationId": "GetFormSchema",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "file_transfer_type",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "base64encode", 
            "x-ms-visibility": "internal", 
            "format": ""
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.formstack.com/products/online-forms"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.formstack.com/legal/website-privacy-policy"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Productivity;Sales and CRM"
      }
    ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://www.formstack.com/api/v2/oauth2/authorize",
      "tokenUrl": "https://www.formstack.com/api/v2/oauth2/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}