{
  "swagger": "2.0",
  "info": {
    "title": "De Lijn Zoek Open Data Services (v1)",
    "description": "Get locations of public bus stations and extra info from the Flemish bus company 'De Lijn'",
    "version": "v1"
  },
  "host": "api.delijn.be",
  "basePath": "/DLZoekOpenData/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/zoek/haltes/{zoekArgument}": {
      "get": {
        "summary": "zoekHaltes",
        "description": "Search stops by description. Eg Veemarkt or station.",
        "operationId": "ZoekHaltes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoekArgument",
            "description": "het zoekargument",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "huidigePositie",
            "description": "de latitude en longitude coordinaat waarden gescheiden door komma bv, 51.056064,3.797336 van de lokatie waarvoor haltes in de buurt gezocht wordt",
            "type": "string"
          },
          {
            "in": "query",
            "name": "startIndex",
            "description": "Format - int32. de start positie in de lijst van gevonden haltes",
            "type": "integer",
            "default": 0
          },
          {
            "in": "query",
            "name": "maxAantalHits",
            "description": "Format - int32. het maximaal aantal haltes aangeleverd door deze service ",
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/HaltesHits"
            },
            "examples": {
              "application/json": {
                "aantalHits": 320,
                "haltes": [
                  {
                    "entiteitnummer": "3",
                    "haltenummer": "303980",
                    "omschrijving": "Gilsonplein",
                    "gemeentenummer": 57,
                    "omschrijvingGemeente": "Leuven",
                    "geoCoordinaat": "50.98145261213046,4.823559183763914",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar"
          }
        }
      }
    },
    "/zoek/lijnrichtingen/{zoekArgument}": {
      "get": {
        "summary": "zoekLijnrichtingen",
        "description": "Search lines by number or description. Eg search line 48 or Hamont",
        "operationId": "ZoekLijnrichtingen",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoekArgument",
            "description": "het zoekargument",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "huidigePositie",
            "description": "de latitude en longitude coordinaat waarden gescheiden door komma bv, 51.056064,3.797336 van de lokatie waarvoor lijnen in de buurt gezocht wordt",
            "type": "string"
          },
          {
            "in": "query",
            "name": "startIndex",
            "description": "Format - int32. de start positie in de lijst van gevonden lijnen",
            "type": "integer",
            "default": 0
          },
          {
            "in": "query",
            "name": "maxAantalHits",
            "description": "Format - int32. het maximaal aantal lijnen aangeleverd door deze service ",
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LijnRichtingHits"
            },
            "examples": {
              "application/json": {
                "aantalHits": 6,
                "lijnrichtingen": [
                  {
                    "lijnNummerPubliek": "335",
                    "entiteitnummer": "3",
                    "lijnnummer": "335",
                    "richting": "HEEN",
                    "omschrijving": "Leuven - Aarschot",
                    "bestemming": "LEUVEN GASTHUISB.",
                    "kleurVoorGrond": "#FFFFFF",
                    "kleurAchterGrond": "#991199",
                    "kleurAchterGrondRand": "#991199",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar"
          }
        }
      }
    },
    "/zoek/locaties/{zoekArgument}": {
      "get": {
        "summary": "zoekLocaties",
        "description": "Search locations (x,y) by user adress input. Typical for input on a routeplanner (eg kerkstraat 14 Hasselt or Achter De Kazerne ) . Limitied Geocoding service that retuns stops, adresses or POIs and its XY coordinates",
        "operationId": "ZoekLocaties",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoekArgument",
            "description": "het zoekargument",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "huidigePositie",
            "description": "momenteel niet ondersteund voor lokaties",
            "type": "string"
          },
          {
            "in": "query",
            "name": "startIndex",
            "description": "Format - int32. de start positie in de lijst van gevonden lokaties",
            "type": "integer",
            "default": 0
          },
          {
            "in": "query",
            "name": "maxAantalHits",
            "description": "Format - int32. het maximaal aantal lokaties aangeleverd door deze service ",
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LocatiesHits"
            },
            "examples": {
              "application/json;charset=UTF-8": {
                "aantalHits": 51,
                "locaties": [
                  {
                    "type": "adres",
                    "subtype": "hoofdgemeente",
                    "deelgemeentes": "Putkapel,Leuven",
                    "hoofdgemeente": "Leuven",
                    "straat": "Bondgenotenlaan",
                    "haltenummer": "303205",
                    "huisnummer": "112",
                    "geoCoordinaat": "50.98145261213046,4.823559183763914"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar"
          }
        }
      }
    }
  },
  "definitions": {
    "GeoCoordinaat": {
      "type": "object",
      "properties": {
        "latitude": {
          "format": "double",
          "description": "bevat de latitude van een geografische locatie",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "description": "bevat de longitude van een geografische locatie",
          "type": "number"
        }
      }
    },
    "Halte": {
      "required": [
        "entiteitnummer",
        "haltenummer",
        "omschrijving"
      ],
      "type": "object",
      "properties": {
        "entiteitnummer": {
          "description": "nummer entiteit (key waarde)",
          "type": "string",
          "example": "3"
        },
        "haltenummer": {
          "description": "halte nummer (key waarde)",
          "type": "string",
          "example": "303980"
        },
        "omschrijving": {
          "description": "Omschrijving van de halte",
          "type": "string",
          "example": "Gilsonplein"
        },
        "gemeentenummer": {
          "format": "int32",
          "description": "nummer gemeente (key waarde)",
          "type": "integer",
          "example": 57
        },
        "omschrijvingGemeente": {
          "description": "Naam van de gemeente waar de halte zich bevindt",
          "type": "string",
          "example": "Leuven"
        },
        "geoCoordinaat": {
          "$ref": "#/definitions/GeoCoordinaat"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "HaltesHits": {
      "required": [
        "aantalHits",
        "haltes"
      ],
      "type": "object",
      "properties": {
        "aantalHits": {
          "format": "int32",
          "description": "het aantal gevonden haltes die beantwoorden aan het zoekargument",
          "type": "integer",
          "example": 320
        },
        "haltes": {
          "description": "de gevonden haltes die beantwoorden aan het zoekargument",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Halte"
          }
        }
      }
    },
    "LijnRichtingHits": {
      "required": [
        "aantalHits",
        "lijnrichtingen"
      ],
      "type": "object",
      "properties": {
        "aantalHits": {
          "format": "int32",
          "description": "het aantal gevonden lijnrichtingen die beantwoorden aan het zoekargument",
          "type": "integer",
          "example": 6
        },
        "lijnrichtingen": {
          "description": "de gevonden lijnrichtingen die beantwoorden aan het zoekargument",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Lijnrichting"
          }
        }
      }
    },
    "Lijnrichting": {
      "required": [
        "entiteitnummer",
        "lijnnummer",
        "omschrijving",
        "richting"
      ],
      "type": "object",
      "properties": {
        "lijnNummerPubliek": {
          "description": "publiek lijnnummer",
          "type": "string",
          "example": "335"
        },
        "entiteitnummer": {
          "description": "entiteit nummer",
          "type": "string",
          "example": "3"
        },
        "lijnnummer": {
          "description": "lijn nummer",
          "type": "string",
          "example": "335"
        },
        "richting": {
          "description": "richting van de lijn",
          "enum": [
            "HEEN",
            "TERUG"
          ],
          "type": "string",
          "example": "HEEN"
        },
        "omschrijving": {
          "description": "omschrijving van de lijnrichting",
          "type": "string",
          "example": "Leuven - Aarschot"
        },
        "bestemming": {
          "description": "eindhalte van de lijnrichting",
          "type": "string",
          "example": "LEUVEN GASTHUISB."
        },
        "kleurVoorGrond": {
          "description": "kleur van het lijnnummer op het vignet",
          "type": "string",
          "example": "#FFFFFF"
        },
        "kleurAchterGrond": {
          "description": "achtergrond kleur van het lijn vignet",
          "type": "string",
          "example": "#991199"
        },
        "kleurAchterGrondRand": {
          "description": "kleur van de rand van het lijn vignet",
          "type": "string",
          "example": "#991199"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "rel": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Locatie": {
      "required": [
        "subtype",
        "type"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "geeft het type weer aan van de locatie",
          "enum": [
            "adres",
            "halte",
            "herkenningspunt",
            "station"
          ],
          "type": "string",
          "example": "adres"
        },
        "subtype": {
          "description": "geeft het subttype weer aan van de locatie binnen een bepaald type",
          "enum": [
            "hoofdgemeente",
            "deelgemeente",
            "straat",
            "adres",
            "halte",
            "herkenningspunt",
            "station"
          ],
          "type": "string",
          "example": "hoofdgemeente"
        },
        "deelgemeentes": {
          "description": "geeft een lijst van namen van deelgemeente voor deze locatie",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": "Putkapel,Leuven"
        },
        "hoofdgemeente": {
          "description": "geeft de naam van de hoofdgemeente voor deze locatie",
          "type": "string",
          "example": "Leuven"
        },
        "straat": {
          "description": "geeft de straat voor deze straat locatie",
          "type": "string",
          "example": "Bondgenotenlaan"
        },
        "haltenummer": {
          "description": "geeft haltenummer voor deze halte locatie",
          "type": "string",
          "example": "303205"
        },
        "huisnummer": {
          "description": "geeft huisnummer voor deze adres locatie",
          "type": "string",
          "example": "112"
        },
        "geoCoordinaat": {
          "$ref": "#/definitions/GeoCoordinaat"
        }
      }
    },
    "LocatiesHits": {
      "required": [
        "aantalHits",
        "locaties"
      ],
      "type": "object",
      "properties": {
        "aantalHits": {
          "format": "int32",
          "description": "het aantal gevonden locaties die beantwoorden aan het zoekargument",
          "type": "integer",
          "example": 51
        },
        "locaties": {
          "description": "de gevonden locaties die beantwoorden aan het zoekargument",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Locatie"
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
