{
  "swagger": "2.0",
  "info": {
    "title": "De Lijn",
    "description": "Get locations of public bus stations and extra info from the Flemish bus company 'De Lijn'",
    "version": "1.0",
    "contact": {
      "name": "Lenard Schockaert",
      "url": "https://data.delijn.be",
      "email": "lenard.schockaert@gmail.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://data.delijn.be"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.delijn.be/en/content/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ],
  "host": "api.delijn.be",
  "basePath": "/DLZoekOpenData/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/zoek/haltes/{searchTerm}": {
      "get": {
        "summary": "Search stops",
        "description": "Search stops by description. Eg Veemarkt or station.",
        "operationId": "SearchStops",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "searchTerm",
            "description": "the search term",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "huidigePositie",
            "description": "Latidue and longitude coordinates seperated by a comma ex, 51.056064,3.797336 for the locations where stops are searched",
            "type": "string"
          },
          {
            "in": "query",
            "name": "startIndex",
            "description": "Format - int32. starting position for the list of found stops",
            "type": "integer",
            "default": 0
          },
          {
            "in": "query",
            "name": "maxAantalHits",
            "description": "Format - int32. max amount of returned values by this service",
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/HaltesHits"
            },
            "examples": {
              "application/json": {
                "aantalHits": 320,
                "haltes": [
                  {
                    "entiteitnummer": "3",
                    "haltenummer": "303980",
                    "omschrijving": "Gilsonplein",
                    "gemeentenummer": 57,
                    "omschrijvingGemeente": "Leuven",
                    "geoCoordinaat": "50.98145261213046,4.823559183763914",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar"
          }
        }
      }
    },
    "/zoek/lijnrichtingen/{searchTerm}": {
      "get": {
        "summary": "Search lines",
        "description": "Search lines by number or description. Eg search line 48 or Hamont",
        "operationId": "SearchLines",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "searchTerm",
            "description": "the search term",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "huidigePositie",
            "description": "Latidue and longitude coordinates seperated by a comma ex, 51.056064,3.797336 for the locations where stops are searched",
            "type": "string"
          },
          {
            "in": "query",
            "name": "startIndex",
            "description": "Format - int32. starting position for the list of found lines",
            "type": "integer",
            "default": 0
          },
          {
            "in": "query",
            "name": "maxAantalHits",
            "description": "Format - int32. max amount of returned values by this service",
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LijnRichtingHits"
            },
            "examples": {
              "application/json": {
                "aantalHits": 6,
                "lijnrichtingen": [
                  {
                    "lijnNummerPubliek": "335",
                    "entiteitnummer": "3",
                    "lijnnummer": "335",
                    "richting": "HEEN",
                    "omschrijving": "Leuven - Aarschot",
                    "bestemming": "LEUVEN GASTHUISB.",
                    "kleurVoorGrond": "#FFFFFF",
                    "kleurAchterGrond": "#991199",
                    "kleurAchterGrondRand": "#991199",
                    "links": [
                      {
                        "rel": "string",
                        "url": "string"
                      }
                    ]
                  }
                ]
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar"
          }
        }
      }
    },
    "/zoek/locaties/{searchTerm}": {
      "get": {
        "summary": "Search locations",
        "description": "Search locations (x,y) by user address input. Typical for input on a routeplanner (eg kerkstraat 14 Hasselt or Achter De Kazerne ). Limited Geocoding service that returns stops, addresses or POIs and its XY coordinates",
        "operationId": "SearchLocations",
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "searchTerm",
            "description": "the search term",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "huidigePositie",
            "description": "Currently not supported for this operation",
            "type": "string"
          },
          {
            "in": "query",
            "name": "startIndex",
            "description": "Format - int32. starting position for the list of found lines",
            "type": "integer",
            "default": 0
          },
          {
            "in": "query",
            "name": "maxAantalHits",
            "description": "Format - int32. max amount of returned values by this service",
            "type": "integer",
            "default": 10
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LocatiesHits"
            },
            "examples": {
              "application/json;charset=UTF-8": {
                "aantalHits": 51,
                "locaties": [
                  {
                    "type": "address",
                    "subtype": "hoofdgemeente",
                    "deelgemeentes": "Putkapel,Leuven",
                    "hoofdgemeente": "Leuven",
                    "straat": "Bondgenotenlaan",
                    "haltenummer": "303205",
                    "huisnummer": "112",
                    "geoCoordinaat": "50.98145261213046,4.823559183763914"
                  }
                ]
              }
            }
          },
          "500": {
            "description": "service of achterliggende systemen niet beschikbaar"
          }
        }
      }
    }
  },
  "definitions": {
    "GeoCoordinaat": {
      "type": "object",
      "properties": {
        "latitude": {
          "format": "double",
          "description": "contains the latitude of a location",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "description": "contains the longitude of a location",
          "type": "number"
        }
      }
    },
    "Halte": {
      "required": [
        "entiteitnummer",
        "haltenummer",
        "omschrijving"
      ],
      "type": "object",
      "properties": {
        "entiteitnummer": {
          "description": "number entity (key value)",
          "type": "string",
          "example": "3"
        },
        "haltenummer": {
          "description": "stop number (key value)",
          "type": "string",
          "example": "303980"
        },
        "omschrijving": {
          "description": "description of the stop",
          "type": "string",
          "example": "Gilsonplein"
        },
        "gemeentenummer": {
          "format": "int32",
          "description": "city number (key value)",
          "type": "integer",
          "example": 57
        },
        "omschrijvingGemeente": {
          "description": "name of the city where the stop is located",
          "type": "string",
          "example": "Leuven"
        },
        "geoCoordinaat": {
          "$ref": "#/definitions/GeoCoordinaat"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "HaltesHits": {
      "required": [
        "aantalHits",
        "haltes"
      ],
      "type": "object",
      "properties": {
        "aantalHits": {
          "format": "int32",
          "description": "the amount of stops that match the search term",
          "type": "integer",
          "example": 320
        },
        "haltes": {
          "description": "the stops that match the search term",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Halte"
          }
        }
      }
    },
    "LijnRichtingHits": {
      "required": [
        "aantalHits",
        "lijnrichtingen"
      ],
      "type": "object",
      "properties": {
        "aantalHits": {
          "format": "int32",
          "description": "the amount of lines that match the search term",
          "type": "integer",
          "example": 6
        },
        "lijnrichtingen": {
          "description": "the lines that match the search term",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Lijnrichting"
          }
        }
      }
    },
    "Lijnrichting": {
      "required": [
        "entiteitnummer",
        "lijnnummer",
        "omschrijving",
        "richting"
      ],
      "type": "object",
      "properties": {
        "lijnNummerPubliek": {
          "description": "public linenumber",
          "type": "string",
          "example": "335"
        },
        "entiteitnummer": {
          "description": "number entity",
          "type": "string",
          "example": "3"
        },
        "lijnnummer": {
          "description": "number line",
          "type": "string",
          "example": "335"
        },
        "richting": {
          "description": "direction of the line",
          "enum": [
            "HEEN",
            "TERUG"
          ],
          "type": "string",
          "example": "HEEN"
        },
        "omschrijving": {
          "description": "description of the line",
          "type": "string",
          "example": "Leuven - Aarschot"
        },
        "bestemming": {
          "description": "final stop of the line",
          "type": "string",
          "example": "LEUVEN GASTHUISB."
        },
        "kleurVoorGrond": {
          "description": "color of the line on the vignet",
          "type": "string",
          "example": "#FFFFFF"
        },
        "kleurAchterGrond": {
          "description": "background color of the line on the vignet",
          "type": "string",
          "example": "#991199"
        },
        "kleurAchterGrondRand": {
          "description": "border color of the line on the vignet",
          "type": "string",
          "example": "#991199"
        },
        "links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "rel": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "Locatie": {
      "required": [
        "subtype",
        "type"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "returns the type of location",
          "enum": [
            "adres",
            "halte",
            "herkenningspunt",
            "station"
          ],
          "type": "string",
          "example": "adres"
        },
        "subtype": {
          "description": "returns the subtype of location",
          "enum": [
            "hoofdgemeente",
            "deelgemeente",
            "straat",
            "adres",
            "halte",
            "herkenningspunt",
            "station"
          ],
          "type": "string",
          "example": "hoofdgemeente"
        },
        "deelgemeentes": {
          "description": "returns a list of municipal districts names for this location",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": "Putkapel,Leuven"
        },
        "hoofdgemeente": {
          "description": "returns the main municipality name for this location",
          "type": "string",
          "example": "Leuven"
        },
        "straat": {
          "description": "returns the street for this location",
          "type": "string",
          "example": "Bondgenotenlaan"
        },
        "haltenummer": {
          "description": "returns the stopnumber for this location",
          "type": "string",
          "example": "303205"
        },
        "huisnummer": {
          "description": "returns the housenumber for this location",
          "type": "string",
          "example": "112"
        },
        "geoCoordinaat": {
          "$ref": "#/definitions/GeoCoordinaat"
        }
      }
    },
    "LocatiesHits": {
      "required": [
        "aantalHits",
        "locaties"
      ],
      "type": "object",
      "properties": {
        "aantalHits": {
          "format": "int32",
          "description": "the amount of locations that match the search term",
          "type": "integer",
          "example": 51
        },
        "locaties": {
          "description": "the locations that match the search term",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Locatie"
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
