{
  "swagger": "2.0",
  "info": {
    "title": "HYAS Insight",
    "description": "HYAS Insight provides On-Demand Enrichment of Passive DNS, Dynamic DNS, Passive Hash, SSL Certificate, Device Geo (Mobile Geolocation), Sinkhole, and Whois endpoints using the HYAS Insight enrichment API source.",
    "version": "1.0"
  },
  "host": "insight.hyas.com",
  "basePath": "/api/ext/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/sinkhole": {
      "post": {
        "responses": {
          "default": {
            "description": "Sinkhole information",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The sinkhole count"
                  },
                  "country_name": {
                    "type": "string",
                    "description": "The country of the ip"
                  },
                  "data_port": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The data port"
                  },
                  "datetime": {
                    "type": "string",
                    "description": "The first seen date of the sinkhole"
                  },
                  "ipv4": {
                    "type": "string",
                    "description": "The ipv4 of the sinkhole"
                  },
                  "last_seen": {
                    "type": "string",
                    "description": "The last seen date of the sinkhole"
                  },
                  "organization_name": {
                    "type": "string",
                    "description": "The isp organization for the ip"
                  },
                  "sink_source": {
                    "type": "string",
                    "description": "The ipv4 of the sink source"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Sinkhole Information for IP Address",
        "description": "Retrieve on demand Sinkhole enrichment data for IP Address",
        "operationId": "SINKHOLE",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ipv4": {
                      "type": "string",
                      "description": "IPv4 Address you want to enrich",
                      "title": "IPv4 Address"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "ipv4"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/device_geo": {
      "post": {
        "responses": {
          "default": {
            "description": "A list of mobile geolocation information",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "datetime": {
                    "type": "string",
                    "description": "a date-time string in RFC 3339 format"
                  },
                  "device_geo_id": {
                    "type": "string",
                    "description": "Internal record ID"
                  },
                  "device_user_agent": {
                    "type": "string",
                    "description": "The user agent string for the device"
                  },
                  "geo_country_alpha_2": {
                    "type": "string",
                    "description": "The ISO 3316 alpha-2 code for the country associated with the lat/long reported"
                  },
                  "geo_horizontal_accuracy": {
                    "type": "number",
                    "format": "float",
                    "description": "The GPS horizontal accuracy",
                    "title": ""
                  },
                  "ipv4": {
                    "type": "string",
                    "description": "The ipv4 address assigned to the device. A device may have either or ipv4 and ipv6"
                  },
                  "ipv6": {
                    "type": "string",
                    "description": "The ipv6 address assigned to the device. A device may have either or ipv4 and ipv6"
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float",
                    "description": "Units are degrees on the WGS 84 spheroid"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float",
                    "description": "Units are degrees on the WGS 84 spheroid"
                  },
                  "wifi_bssid": {
                    "type": "string",
                    "description": "The BSSID (MAC address) of the wifi router that the device communicated through"
                  },
                  "wifi_ssid": {
                    "type": "string",
                    "description": "The SSID (name) of the wifi network that the device communicated through"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Device Geo Information for IPv4 Address",
        "description": "Retrieve on demand Device Geo enrichment data for IPv4 Address",
        "operationId": "IPV4_DEVICE_GEO",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ipv4": {
                      "type": "string",
                      "description": "IPv4 Address you want to enrich",
                      "title": "IPv4 Address"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "ipv4"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/passivedns": {
      "post": {
        "responses": {
          "default": {
            "description": "Passive DNS information",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "cert_name": {
                    "type": "string",
                    "description": "The certificate provider name"
                  },
                  "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The passive dns count"
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain of the passive dns information requested"
                  },
                  "first_seen": {
                    "type": "string",
                    "description": "The first time this domain was seen"
                  },
                  "ip": {
                    "type": "object",
                    "properties": {
                      "geo": {
                        "type": "object",
                        "properties": {
                          "city_name": {
                            "type": "string",
                            "description": "City of the ip organization"
                          },
                          "country_iso_code": {
                            "type": "string",
                            "description": "Country ISO code of the ip organization"
                          },
                          "country_name": {
                            "type": "string",
                            "description": "Country name of the ip organization"
                          },
                          "location_latitude": {
                            "type": "string",
                            "description": "The latitude of the ip organization"
                          },
                          "location_longitude": {
                            "type": "string",
                            "description": "The longitude of the ip organization"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postalcode of the ip organization"
                          }
                        },
                        "description": "geo"
                      },
                      "ip": {
                        "type": "string",
                        "description": "IP of the organization"
                      },
                      "isp": {
                        "type": "object",
                        "properties": {
                          "autonomous_system_number": {
                            "type": "string",
                            "description": "The ASN of the ip"
                          },
                          "autonomous_system_organization": {
                            "type": "string",
                            "description": "The ASO of the ip"
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "The IP"
                          },
                          "isp": {
                            "type": "string",
                            "description": "The Internet Service Provider"
                          },
                          "organization": {
                            "type": "string",
                            "description": "The ISP organization"
                          }
                        },
                        "description": "isp"
                      }
                    },
                    "description": "ip"
                  },
                  "ipv4": {
                    "type": "string",
                    "description": "The ipv4 address of the passive dns record"
                  },
                  "ipv6": {
                    "type": "string",
                    "description": "The ipv6 address of the passive dns record"
                  },
                  "last_seen": {
                    "type": "string",
                    "description": "The last time this domain was seen"
                  },
                  "sha1": {
                    "type": "string",
                    "description": "The sha1"
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of pDNS providers which the data came from"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Passive DNS Information for Domain",
        "description": "Retrieve on demand Passive DNS enrichment data for Domain",
        "operationId": "DOMAIN_PASSIVE_DNS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "Domain you want to enrich",
                      "title": "Domain"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "domain"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/dynamicdns": {
      "post": {
        "responses": {
          "default": {
            "description": "Dynamic DNS information",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "a_record": {
                    "type": "string",
                    "description": "The A record for the domain"
                  },
                  "account": {
                    "type": "string",
                    "description": "The account holder name"
                  },
                  "created": {
                    "type": "string",
                    "description": "The date which the domain was created"
                  },
                  "created_ip": {
                    "type": "string",
                    "description": "The ip address of the account holder"
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain associated with the dynamic dns information"
                  },
                  "domain_creator_ip": {
                    "type": "string",
                    "description": "The ip address of the domain creator"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address connected to the domain"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Dynamic DNS Information for IP Address",
        "description": "Retrieve on demand Dynamic DNS enrichment data for IP Address",
        "operationId": "IP_DYNAMIC_DNS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "IPv4 Address you want to enrich",
                      "title": "IPv4 Address"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "ip"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/passivehash": {
      "post": {
        "responses": {
          "default": {
            "description": "passive hash information",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The domain of the passive hash information requested"
                  },
                  "md5_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The passive dns count"
                  }
                }
              }
            }
          }
        },
        "description": "Retrieve on demand Passive Hash enrichment data for IP Address",
        "summary": "Retrieve Passive Hash Information for IP Address",
        "operationId": "PASSIVE_HASH",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ipv4": {
                      "type": "string",
                      "description": "IPv4 Address you want to enrich",
                      "title": "IPv4 Address"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "ipv4"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/ssl_certificate": {
      "post": {
        "responses": {
          "default": {
            "description": "SSL certificate information",
            "schema": {
              "type": "object",
              "properties": {
                "related_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of ip addresses connected to this certificate"
                },
                "ssl_certs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ip": {
                        "type": "string",
                        "description": "The ip address associated with certificate"
                      },
                      "ssl_cert": {
                        "type": "object",
                        "properties": {
                          "cert_key": {
                            "type": "string",
                            "description": "The certificate key (sha1)"
                          },
                          "expire_date": {
                            "type": "string",
                            "description": "The expiry date of the certificate"
                          },
                          "issue_date": {
                            "type": "string",
                            "description": "The issue date of the certificate"
                          },
                          "issuer_commonName": {
                            "type": "string",
                            "description": "The common name that the certificate was issued from"
                          },
                          "issuer_countryName": {
                            "type": "string",
                            "description": "The country ISO the certificate was issued from"
                          },
                          "issuer_localityName": {
                            "type": "string",
                            "description": "The city where the issuer company is legally located"
                          },
                          "issuer_organizationName": {
                            "type": "string",
                            "description": "The organization name that issued the certificate"
                          },
                          "issuer_organizationalUnitName": {
                            "type": "string",
                            "description": "The organization unit name that issued the certificate"
                          },
                          "issuer_stateOrProvinceName": {
                            "type": "string",
                            "description": "The issuer state or province"
                          },
                          "md5": {
                            "type": "string",
                            "description": "The certificate MD5"
                          },
                          "serial_number": {
                            "type": "number",
                            "format": "float",
                            "description": "The certificate serial number"
                          },
                          "sha1": {
                            "type": "string",
                            "description": "The certificate sha1"
                          },
                          "sha_256": {
                            "type": "string",
                            "description": "The certificate sha256"
                          },
                          "sig_algo": {
                            "type": "string",
                            "description": "The certificate signature algorithm"
                          },
                          "signature": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Signature split into multiple lines"
                          },
                          "ssl_version": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The SSL version"
                          },
                          "subject_commonName": {
                            "type": "string",
                            "description": "The subject name that the certificate was issued to"
                          },
                          "subject_countryName": {
                            "type": "string",
                            "description": "The country the certificate was issued to"
                          },
                          "subject_localityName": {
                            "type": "string",
                            "description": "The city where the subject company is legally located"
                          },
                          "subject_organizationName": {
                            "type": "string",
                            "description": "The organization name that recieved the certificate"
                          },
                          "subject_organizationalUnitName": {
                            "type": "string",
                            "description": "The organization unit name that recieved the certificate"
                          },
                          "subject_stateOrProvinceName": {
                            "type": "string",
                            "description": "The state or province name where the subject company is located"
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "The certificate date and time"
                          }
                        },
                        "description": "ssl_cert"
                      }
                    }
                  },
                  "description": "ssl_certs"
                }
              }
            }
          }
        },
        "summary": "Retrieve SSL Certificate Information for IP Address",
        "description": "Retrieve on demand SSL Certificate enrichment data for IP Address",
        "operationId": "SSL_CERTIFICATE",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "IPv4 Address you want to enrich",
                      "title": "IPv4 Address"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "ip"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/whois/search": {},
    "/whois": {
      "post": {
        "responses": {
          "default": {
            "description": "whois information",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "abuse_emails": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The abuse emails information"
                      },
                      "address": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The address information"
                      },
                      "city": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The city of the registrant"
                      },
                      "country": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The country of the registrant"
                      },
                      "data": {
                        "type": "string",
                        "description": "The data information"
                      },
                      "datetime": {
                        "type": "string",
                        "description": "The datetime information"
                      },
                      "domain": {
                        "type": "string",
                        "description": "The domain of the registrant"
                      },
                      "domain_2tld": {
                        "type": "string",
                        "description": "The second-level domain of the registrant"
                      },
                      "domain_created_datetime": {
                        "type": "string",
                        "description": "The date and time when the Whois record was created"
                      },
                      "domain_expires_datetime": {
                        "type": "string",
                        "description": "The date and time when the Whois record expires"
                      },
                      "domain_updated_datetime": {
                        "type": "string",
                        "description": "The date and time when the Whois record was last updated"
                      },
                      "email": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The email information"
                      },
                      "idn_name": {
                        "type": "string",
                        "description": "The international domain name information"
                      },
                      "meta_data": {
                        "type": "string",
                        "description": "The metadata information"
                      },
                      "name": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The contact name (registrant contact, administrative contact, technical contact, or abuse contact)"
                      },
                      "nameserver": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The nameserver domain"
                      },
                      "organization": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The organization information"
                      },
                      "phone": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The phone number of the registrant in e164 format"
                      },
                      "registrar": {
                        "type": "string",
                        "description": "The domain registrar"
                      },
                      "state": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The state where domain was registered"
                      },
                      "whois_hash": {
                        "type": "string",
                        "description": "The hash information"
                      },
                      "whois_id": {
                        "type": "string",
                        "description": "The whois id information"
                      },
                      "whois_nameserver": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string",
                              "description": "The nameserver\u2019s domain information"
                            },
                            "domain_2tld": {
                              "type": "string",
                              "description": "The nameserver\u2019s domain_2tld information"
                            },
                            "whois_related_nameserver_id": {
                              "type": "string",
                              "description": "The nameserver\u2019s Id Information"
                            }
                          }
                        },
                        "description": "whois_nameserver"
                      },
                      "whois_pii": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "description": "The personal identity address information"
                            },
                            "city": {
                              "type": "string",
                              "description": "The personal identity city information"
                            },
                            "data": {
                              "type": "string",
                              "description": "The personal identity data information"
                            },
                            "email": {
                              "type": "string",
                              "description": "The personal identity email information"
                            },
                            "geo_country_alpha_2": {
                              "type": "string",
                              "description": "The personal identity country information"
                            },
                            "name": {
                              "type": "string",
                              "description": "The personal identity name information"
                            },
                            "organization": {
                              "type": "string",
                              "description": "The personal identity organization information"
                            },
                            "phone_e164": {
                              "type": "string",
                              "description": "The personal identity Phone_e164 information"
                            },
                            "state": {
                              "type": "string",
                              "description": "The personal identity state information"
                            },
                            "whois_related_pii_id": {
                              "type": "string",
                              "description": "The personal identity Id information"
                            },
                            "whois_related_type": {
                              "type": "string",
                              "description": "The personal identity related information"
                            }
                          }
                        },
                        "description": "whois_pii"
                      }
                    }
                  },
                  "description": "items"
                },
                "source": {
                  "type": "string",
                  "description": "The source information"
                },
                "total_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count information"
                }
              }
            }
          }
        },
        "summary": "Retrieve Whois Current Information for Domain",
        "description": "Retrieve on demand Whois Current enrichment data for Domain",
        "operationId": "WHOIS_CURRENT",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "Domain you want to enrich",
                      "title": "Domain"
                    },
                    "current": {
                      "type": "boolean",
                      "description": "current",
                      "title": "",
                      "x-ms-visibility": "internal",
                      "default": true
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "domain",
                    "current"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/device_geo/ipv6": {
      "post": {
        "responses": {
          "default": {
            "description": "A list of mobile geolocation information",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "datetime": {
                    "type": "string",
                    "description": "a date-time string in RFC 3339 format"
                  },
                  "device_geo_id": {
                    "type": "string",
                    "description": "Internal record ID"
                  },
                  "device_user_agent": {
                    "type": "string",
                    "description": "The user agent string for the device"
                  },
                  "geo_country_alpha_2": {
                    "type": "string",
                    "description": "The ISO 3316 alpha-2 code for the country associated with the lat/long reported"
                  },
                  "geo_horizontal_accuracy": {
                    "type": "number",
                    "format": "float",
                    "description": "The GPS horizontal accuracy",
                    "title": ""
                  },
                  "ipv4": {
                    "type": "string",
                    "description": "The ipv4 address assigned to the device. A device may have either or ipv4 and ipv6"
                  },
                  "ipv6": {
                    "type": "string",
                    "description": "The ipv6 address assigned to the device. A device may have either or ipv4 and ipv6"
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float",
                    "description": "Units are degrees on the WGS 84 spheroid"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float",
                    "description": "Units are degrees on the WGS 84 spheroid"
                  },
                  "wifi_bssid": {
                    "type": "string",
                    "description": "The BSSID (MAC address) of the wifi router that the device communicated through"
                  },
                  "wifi_ssid": {
                    "type": "string",
                    "description": "The SSID (name) of the wifi network that the device communicated through"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Device Geo Information for IPv6 Address",
        "description": "Retrieve on demand Device Geo enrichment data for IPv6 Address",
        "operationId": "IPV6_DEVICE_GEO",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ipv6": {
                      "type": "string",
                      "description": "IPv6 Address you want to enrich",
                      "title": "IPv6 Address"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "ipv6"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/passivedns/ip": {
      "post": {
        "responses": {
          "default": {
            "description": "Passive DNS information",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "cert_name": {
                    "type": "string",
                    "description": "The certificate provider name"
                  },
                  "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The passive dns count"
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain of the passive dns information requested"
                  },
                  "first_seen": {
                    "type": "string",
                    "description": "The first time this domain was seen"
                  },
                  "ip": {
                    "type": "object",
                    "properties": {
                      "geo": {
                        "type": "object",
                        "properties": {
                          "city_name": {
                            "type": "string",
                            "description": "City of the ip organization"
                          },
                          "country_iso_code": {
                            "type": "string",
                            "description": "Country ISO code of the ip organization"
                          },
                          "country_name": {
                            "type": "string",
                            "description": "Country name of the ip organization"
                          },
                          "location_latitude": {
                            "type": "string",
                            "description": "The latitude of the ip organization"
                          },
                          "location_longitude": {
                            "type": "string",
                            "description": "The longitude of the ip organization"
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postalcode of the ip organization"
                          }
                        },
                        "description": "geo"
                      },
                      "ip": {
                        "type": "string",
                        "description": "IP of the organization"
                      },
                      "isp": {
                        "type": "object",
                        "properties": {
                          "autonomous_system_number": {
                            "type": "string",
                            "description": "The ASN of the ip"
                          },
                          "autonomous_system_organization": {
                            "type": "string",
                            "description": "The ASO of the ip"
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "The IP"
                          },
                          "isp": {
                            "type": "string",
                            "description": "The Internet Service Provider"
                          },
                          "organization": {
                            "type": "string",
                            "description": "The ISP organization"
                          }
                        },
                        "description": "isp"
                      }
                    },
                    "description": "ip"
                  },
                  "ipv4": {
                    "type": "string",
                    "description": "The ipv4 address of the passive dns record"
                  },
                  "ipv6": {
                    "type": "string",
                    "description": "The ipv6 address of the passive dns record"
                  },
                  "last_seen": {
                    "type": "string",
                    "description": "The last time this domain was seen"
                  },
                  "sha1": {
                    "type": "string",
                    "description": "The sha1"
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of pDNS providers which the data came from"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Passive DNS Information for IP Address",
        "description": "Retrieve on demand Passive DNS enrichment data for IP Address",
        "operationId": "IP_PASSIVE_DNS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ipv4": {
                      "type": "string",
                      "description": "IPv4 Address you want to enrich",
                      "title": "IPv4 Address"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "ipv4"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/dynamicdns/email": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "a_record": {
                    "type": "string",
                    "description": "The A record for the domain"
                  },
                  "account": {
                    "type": "string",
                    "description": "The account holder name"
                  },
                  "created": {
                    "type": "string",
                    "description": "The date which the domain was created"
                  },
                  "created_ip": {
                    "type": "string",
                    "description": "The ip address of the account holder"
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain associated with the dynamic dns information"
                  },
                  "domain_creator_ip": {
                    "type": "string",
                    "description": "The ip address of the domain creator"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address connected to the domain"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Dynamic DNS Information for Email Address",
        "description": "Retrieve on demand Dynamic DNS enrichment data for Email Address",
        "operationId": "EMAIL_DYNAMIC_DNS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Email Address you want to enrich",
                      "title": "Email Address"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "email"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/whois/domain": {
      "post": {
        "responses": {
          "default": {
            "description": "The whois historic information",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The address information"
                  },
                  "city": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The city information"
                  },
                  "country": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The country information"
                  },
                  "data": {
                    "type": "string",
                    "description": "The data information"
                  },
                  "datetime": {
                    "type": "string",
                    "description": "The datetime information"
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain of the registrant"
                  },
                  "domain_2tld": {
                    "type": "string",
                    "description": "The second-level domain of the registrant"
                  },
                  "domain_created_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was created"
                  },
                  "domain_expires_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record expires"
                  },
                  "domain_updated_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was last updated"
                  },
                  "email": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The email information"
                  },
                  "idn_name": {
                    "type": "string",
                    "description": "The international domain name"
                  },
                  "meta_data": {
                    "type": "string",
                    "description": "The metadata information"
                  },
                  "name": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "name"
                  },
                  "nameserver": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "nameserver"
                  },
                  "phone": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string",
                          "description": "The phone number registrant contact in e164 format"
                        },
                        "phone_info": {
                          "type": "object",
                          "properties": {
                            "carrier": {
                              "type": "string",
                              "description": "Phone number carrier"
                            },
                            "country": {
                              "type": "string",
                              "description": "Phone number country"
                            },
                            "geo": {
                              "type": "string",
                              "description": "Phone number geo Can be city or province or region or country"
                            }
                          },
                          "description": "phone_info"
                        }
                      }
                    },
                    "description": "phone"
                  },
                  "privacy_punch": {
                    "type": "boolean",
                    "description": "True if this record has additional information bypassing privacy protect"
                  },
                  "registrar": {
                    "type": "string",
                    "description": "The domain registrar"
                  },
                  "whois_hash": {
                    "type": "string",
                    "description": "whois_hash"
                  },
                  "whois_id": {
                    "type": "string",
                    "description": "whois_id"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Whois Historic Information for Domain",
        "description": "Retrieve on demand Whois Historic enrichment data for Domain",
        "operationId": "DOMAIN_WHOIS_HISTORIC",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "Domain you want to enrich",
                      "title": "Domain"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "domain"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/whois/email": {
      "post": {
        "responses": {
          "default": {
            "description": "The whois historic information",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The address information"
                  },
                  "city": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The city information"
                  },
                  "country": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The country information"
                  },
                  "data": {
                    "type": "string",
                    "description": "The data information"
                  },
                  "datetime": {
                    "type": "string",
                    "description": "The datetime information"
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain of the registrant"
                  },
                  "domain_2tld": {
                    "type": "string",
                    "description": "The second-level domain of the registrant"
                  },
                  "domain_created_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was created"
                  },
                  "domain_expires_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record expires"
                  },
                  "domain_updated_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was last updated"
                  },
                  "email": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The email information"
                  },
                  "idn_name": {
                    "type": "string",
                    "description": "The international domain name"
                  },
                  "meta_data": {
                    "type": "string",
                    "description": "The metadata information"
                  },
                  "name": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "name"
                  },
                  "nameserver": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "nameserver"
                  },
                  "phone": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string",
                          "description": "The phone number registrant contact in e164 format"
                        },
                        "phone_info": {
                          "type": "object",
                          "properties": {
                            "carrier": {
                              "type": "string",
                              "description": "Phone number carrier"
                            },
                            "country": {
                              "type": "string",
                              "description": "Phone number country"
                            },
                            "geo": {
                              "type": "string",
                              "description": "Phone number geo Can be city or province or region or country"
                            }
                          },
                          "description": "phone_info"
                        }
                      }
                    },
                    "description": "phone"
                  },
                  "privacy_punch": {
                    "type": "boolean",
                    "description": "True if this record has additional information bypassing privacy protect"
                  },
                  "registrar": {
                    "type": "string",
                    "description": "The domain registrar"
                  },
                  "whois_hash": {
                    "type": "string",
                    "description": "whois_hash"
                  },
                  "whois_id": {
                    "type": "string",
                    "description": "whois_id"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Whois Historic Information for Email Address",
        "description": "Retrieve on demand Whois Historic enrichment data for Email Address",
        "operationId": "EMAIL_WHOIS_HISTORIC",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Email Address you want to enrich",
                      "title": "Email Address"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "email"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/whois/phone": {
      "post": {
        "responses": {
          "default": {
            "description": "The whois historic information",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The address information"
                  },
                  "city": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The city information"
                  },
                  "country": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The country information"
                  },
                  "data": {
                    "type": "string",
                    "description": "The data information"
                  },
                  "datetime": {
                    "type": "string",
                    "description": "The datetime information"
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain of the registrant"
                  },
                  "domain_2tld": {
                    "type": "string",
                    "description": "The second-level domain of the registrant"
                  },
                  "domain_created_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was created"
                  },
                  "domain_expires_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record expires"
                  },
                  "domain_updated_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was last updated"
                  },
                  "email": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The email information"
                  },
                  "idn_name": {
                    "type": "string",
                    "description": "The international domain name"
                  },
                  "meta_data": {
                    "type": "string",
                    "description": "The metadata information"
                  },
                  "name": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "name"
                  },
                  "nameserver": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "nameserver"
                  },
                  "phone": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string",
                          "description": "The phone number registrant contact in e164 format"
                        },
                        "phone_info": {
                          "type": "object",
                          "properties": {
                            "carrier": {
                              "type": "string",
                              "description": "Phone number carrier"
                            },
                            "country": {
                              "type": "string",
                              "description": "Phone number country"
                            },
                            "geo": {
                              "type": "string",
                              "description": "Phone number geo Can be city or province or region or country"
                            }
                          },
                          "description": "phone_info"
                        }
                      }
                    },
                    "description": "phone"
                  },
                  "privacy_punch": {
                    "type": "boolean",
                    "description": "True if this record has additional information bypassing privacy protect"
                  },
                  "registrar": {
                    "type": "string",
                    "description": "The domain registrar"
                  },
                  "whois_hash": {
                    "type": "string",
                    "description": "whois_hash"
                  },
                  "whois_id": {
                    "type": "string",
                    "description": "whois_id"
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Whois Historic Information for Phone Number",
        "description": "Retrieve on demand Whois Historic enrichment data for Phone Number",
        "operationId": "PHONE_WHOIS_HISTORIC",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "phone": {
                      "type": "string",
                      "description": "Phone Number you want to enrich ( e164 format. Eg: ( +41585855634 ) )",
                      "title": "Phone Number"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "phone"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}