{
   "swagger":"2.0",
   "info":{
      "title":"HYAS Insight",
      "description":"HYAS Insight integration to Microsoft Azure Sentinel provides direct, high volume access to HYAS Insight data. It enables investigators and analysts to understand and defend against cyber adversaries and their infrastructure.",
      "contact":{
         "name":"HYAS Infosec",
         "url":"https://www.hyas.com/contact",
         "email":"support@hyas.com"
      },
      "version":"2.0"
   },
   "host":"insight.hyas.com",
   "basePath":"/api/ext/",
   "schemes":[
      "https"
   ],
   "consumes":[
      
   ],
   "produces":[
      
   ],
   "paths":{
      "/device_geo":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Mobile Geolocation Information.",
                  "schema":{
                     "$ref":"#/definitions/device_geo"
                  }
               }
            },
            "summary":"Get Mobile Geolocation Information",
            "description":"Returns a list of mobile geolocation information.",
            "operationId":"MobileGeolocation",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "ipv4",
                     "ipv6"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query device_geo endpoint, supported values are ipv4 and ipv6."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid ipv4 or ipv6 value."
               }
            ]
         }
      },
      "/sinkhole":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Sinkhole Information.",
                  "schema":{
                     "$ref":"#/definitions/sinkhole"
                  }
               }
            },
            "summary":"Get Sinkhole Information",
            "description":"Returns Sinkhole Information.",
            "operationId":"Sinkhole",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "ipv4"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query sinkhole endpoint, supported values are ipv4."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid ipv4 value."
               }
            ]
         }
      },
      "/passivedns":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Passive DNS Information.",
                  "schema":{
                     "$ref":"#/definitions/passivedns"
                  }
               }
            },
            "summary":"Get Passive DNS Information",
            "description":"Returns Passive DNS Information.",
            "operationId":"PassiveDNS",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "ipv4",
                     "domain"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query passivedns endpoint, supported values are ipv4, domain."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid ipv4 or domain value."
               }
            ]
         }
      },
      "/dynamicdns":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Dynamic DNS Information.",
                  "schema":{
                     "$ref":"#/definitions/dynamicdns"
                  }
               }
            },
            "summary":"Get Dynamic DNS Information",
            "description":"Returns Dynamic DNS Information.",
            "operationId":"DynamicDNS",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "ip",
                     "domain",
                     "email"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query dynamicdns endpoint, supported values are ip, domain and email."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid ip or domain or email value."
               }
            ]
         }
      },
      "/passivehash":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Passive Hash Information.",
                  "schema":{
                     "$ref":"#/definitions/passivehash"
                  }
               }
            },
            "summary":"Get Passive Hash Information",
            "description":"Returns Passive Hash Information.",
            "operationId":"PassiveHash",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "ipv4",
                     "domain"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query passivehash endpoint, supported values are ipv4 and domain."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid ipv4 or domain value."
               }
            ]
         }
      },
      "/ssl_certificate":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"SSL Certificate Information.",
                  "schema":{
                     "$ref":"#/definitions/sslcertificate"
                  }
               }
            },
            "summary":"Get SSL Certificate Information",
            "description":"Returns SSL Certificate Information.",
            "operationId":"SSLCertificate",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "hash",
                     "ip",
                     "domain"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query ssl_certificate endpoint, supported values are sha1 hash, ip and domain."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid sha1 hash or ip or domain value."
               }
            ]
         }
      },
      "/whois":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Whois Information.",
                  "schema":{
                     "$ref":"#/definitions/whois"
                  }
               }
            },
            "summary":"Get Whois Information",
            "description":"Returns Whois Information.",
            "operationId":"Whois",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "domain",
                     "email",
                     "phone"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query whois endpoint, supported values are domain, email and phone."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid domain or email or phone value."
               }
            ]
         }
      },
      "/c2attribution":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"C2 Attribution Information.",
                  "schema":{
                     "$ref":"#/definitions/c2attribution"
                  }
               }
            },
            "summary":"Get C2 Attribution Information",
            "description":"Returns C2 Attribution Information.",
            "operationId":"C2Attribution",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "domain",
                     "ip",
                     "email",
                     "sha256"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query c2attribution endpoint, supported values are domain, ip, email and sha256."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid domain or ip or email or sha256 value."
               }
            ]
         }
      },
      "/sample/information":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Malware Sample Information.",
                  "schema":{
                     "$ref":"#/definitions/sample_information"
                  }
               }
            },
            "summary":"Get Malware Sample Information",
            "description":"Returns Malware Information.",
            "operationId":"SampleInformation",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "hash"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query sample/infromation endpoint, supported values are hash."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid hash value."
               }
            ]
         }
      },
      "/sample":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Malware Sample Records.",
                  "schema":{
                     "$ref":"#/definitions/sample"
                  }
               }
            },
            "summary":"Get Malware Sample Record Information",
            "description":"Returns Malware Sample Records.",
            "operationId":"Sample",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "md5",
                     "domain",
                     "ipv4"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query sample endpoint, supported values are md5, domain and ipv4."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid md5 or domain or ipv4 value."
               }
            ]
         }
      },
      "/os_indicators":{
         "get":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Open Source Information.",
                  "schema":{
                     "$ref":"#/definitions/os_indicators"
                  }
               }
            },
            "summary":"Get Open Source Indicators Information",
            "description":"Returns a list of threat or intel indicators from open sources.",
            "operationId":"OpenSourceIndicators",
            "parameters":[
               {
                  "in":"query",
                  "name":"indicator_type",
                  "type":"string",
                  "required":true,
                  "enum":[
                     "ipv4",
                     "ipv6",
                     "domain",
                     "sha1",
                     "sha256",
                     "md5"
                  ],
                  "x-ms-summary":"Indicator Type",
                  "description":"Filter used to query os_indicators endpoint, supported values are ipv4, ipv6, domain, sha1, sha256 and md5."
               },
               {
                  "in":"query",
                  "name":"indicator_value",
                  "type":"string",
                  "required":true,
                  "x-ms-summary":"Indicator Value",
                  "description":"Please provide a valid ipv4 or ipv6 or domain or sha1 or sha256 or md5 value."
               }
            ]
         }
      },
      "/whois/v1":{
         "post":{
            "consumes":[
               "application/json"
            ],
            "responses":{
               "200":{
                  "description":"Current Whois Information.",
                  "schema":{
                     "$ref":"#/definitions/whois_current"
                  }
               }
            },
            "summary":"Get Current Whois Information",
            "description":"Returns Current Whois Information for domain.",
            "operationId":"CurrentWhois",
            "parameters":[
               {
                  "name":"body",
                  "in":"body",
                  "required":true,
                  "schema":{
                     "type":"object",
                     "properties":{
                        "applied_filters":{
                           "type":"object",
                           "properties":{
                              "domain":{
                                 "type":"string",
                                 "description":"Please provide a valid domain.",
                                 "title":"Domain"
                              },
                              "current":{
                                 "type":"boolean",
                                 "x-ms-visibility":"internal",
                                 "default":true,
                                 "title":"Current"
                              }
                           },
                           "description":"applied_filters",
                           "required":[
                              "current",
                              "domain"
                           ]
                        }
                     },
                     "required":[
                        "applied_filters"
                     ]
                  }
               }
            ]
         }
      }
   },
   "x-ms-connector-metadata":[
      {
         "propertyName":"Website",
         "propertyValue":"https://www.hyas.com"
      },
      {
         "propertyName":"Privacy policy",
         "propertyValue":"https://www.hyas.com/privacy-statement/"
      },
      {
         "propertyName":"Categories",
         "propertyValue":"Security;Website"
      }
   ],
   "definitions":{
      "device_geo":{
         "type":"array",
         "items":{
            "type":"object",
            "properties":{
               "datetime":{
                  "type":"string",
                  "description":"A date-time string in RFC 3339 format."
               },
               "device_user_agent":{
                  "type":"string",
                  "description":"The user agent string for the device."
               },
               "geo_country_alpha_2":{
                  "type":"string",
                  "description":"The ISO 3316 alpha-2 code for the country associated with the lat/long reported."
               },
               "geo_horizontal_accuracy":{
                  "type":"number",
                  "format":"float",
                  "description":"The GPS horizontal accuracy."
               },
               "ipv4":{
                  "type":"string",
                  "description":"The ipv4 address assigned to the device. A device may have either or ipv4 and ipv6."
               },
               "ipv6":{
                  "type":"string",
                  "description":"The ipv6 address assigned to the device. A device may have either or ipv4 and ipv6."
               },
               "latitude":{
                  "type":"number",
                  "format":"float",
                  "description":"Units are degrees on the WGS 84 spheroid."
               },
               "longitude":{
                  "type":"number",
                  "format":"float",
                  "description":"Units are degrees on the WGS 84 spheroid."
               },
               "wifi_bssid":{
                  "type":"string",
                  "description":"The BSSID (MAC address) of the wifi router that the device communicated through."
               }
            }
         }
      },
      "sinkhole":{
         "type":"array",
         "items":{
            "type":"object",
            "properties":{
               "count":{
                  "type":"number",
                  "description":"The sinkhole count."
               },
               "country_name":{
                  "type":"string",
                  "description":"The country of the ip."
               },
               "data_port":{
                  "type":"number",
                  "description":"The data port."
               },
               "datetime":{
                  "type":"string",
                  "description":"The first seen date of the sinkhole."
               },
               "ipv4":{
                  "type":"string",
                  "description":"The ipv4 of the sinkhole."
               },
               "last_seen":{
                  "type":"string",
                  "description":"The last seen date of the sinkhole."
               },
               "organization_name":{
                  "type":"string",
                  "description":"The isp organization for the ip."
               },
               "sink_source":{
                  "type":"string",
                  "description":"The ipv4 of the sink source."
               }
            }
         }
      },
      "passivedns":{
         "type":"array",
         "items":{
            "type":"object",
            "properties":{
               "cert_name":{
                  "type":"string",
                  "description":"The certificate provider name."
               },
               "count":{
                  "type":"number",
                  "description":"The passive dns count."
               },
               "domain":{
                  "type":"string",
                  "description":"The domain of the passive dns information requested."
               },
               "first_seen":{
                  "type":"string",
                  "description":"The first time this domain was seen."
               },
               "ip":{
                  "type":"object",
                  "properties":{
                     "geo":{
                        "type":"object",
                        "properties":{
                           "city_name":{
                              "type":"string",
                              "description":"The City of the ip organization."
                           },
                           "country_iso_code":{
                              "type":"string",
                              "description":"The Country ISO code of the ip organization."
                           },
                           "country_name":{
                              "type":"string",
                              "description":"The Country name of the ip organization."
                           },
                           "location_latitude":{
                              "type":"string",
                              "description":"The latitude of the ip organization."
                           },
                           "location_longitude":{
                              "type":"string",
                              "description":"The longitude of the ip organization."
                           },
                           "postal_code":{
                              "type":"string",
                              "description":"The postalcode of the ip organization."
                           }
                        },
                        "description":"The geo object."
                     },
                     "ip":{
                        "type":"string",
                        "description":"IP of the organization."
                     },
                     "isp":{
                        "type":"object",
                        "properties":{
                           "autonomous_system_number":{
                              "type":"string",
                              "description":"The ASN of the ip."
                           },
                           "autonomous_system_organization":{
                              "type":"string",
                              "description":"The ASO of the ip."
                           },
                           "ip_address":{
                              "type":"string",
                              "description":"The IP."
                           },
                           "isp":{
                              "type":"string",
                              "description":"The Internet Service Provider."
                           },
                           "organization":{
                              "type":"string",
                              "description":"The ISP organization."
                           }
                        },
                        "description":"The isp object."
                     }
                  },
                  "description":"The ip object."
               },
               "ipv4":{
                  "type":"string",
                  "description":"The ipv4 address of the passive dns record."
               },
               "ipv6":{
                  "type":"string",
                  "description":"The ipv6 address of the passive dns record."
               },
               "last_seen":{
                  "type":"string",
                  "description":"The last time this domain was seen."
               },
               "sources":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "description":"A list of pDNS providers which the data came from."
               }
            }
         }
      },
      "dynamicdns":{
         "type":"array",
         "items":{
            "type":"object",
            "properties":{
               "a_record":{
                  "type":"string",
                  "description":"The A record for the domain."
               },
               "account":{
                  "type":"string",
                  "description":"The account holder name."
               },
               "created":{
                  "type":"string",
                  "description":"The date which the domain was created."
               },
               "created_ip":{
                  "type":"string",
                  "description":"The ip address of the account holder."
               },
               "domain":{
                  "type":"string",
                  "description":"The domain associated with the dynamic dns information."
               },
               "domain_creator_ip":{
                  "type":"string",
                  "description":"The ip address of the domain creator."
               },
               "email":{
                  "type":"string",
                  "description":"The email address connected to the domain."
               }
            }
         }
      },
      "passivehash":{
         "type":"array",
         "items":{
            "type":"object",
            "properties":{
               "domain":{
                  "type":"string",
                  "description":"The domain of the passive hash information requested."
               },
               "md5_count":{
                  "type":"number",
                  "description":"The passive dns count."
               }
            }
         }
      },
      "sslcertificate":{
         "type":"object",
         "properties":{
            "related_count":{
               "type":"number",
               "description":"The number of ip addresses connected to this certificate."
            },
            "ssl_certs":{
               "type":"array",
               "items":{
                  "type":"object",
                  "properties":{
                     "ip":{
                        "type":"string",
                        "description":"The ip address associated with certificate."
                     },
                     "ssl_cert":{
                        "type":"object",
                        "properties":{
                           "cert_key":{
                              "type":"string",
                              "description":"The certificate key (sha1)."
                           },
                           "expire_date":{
                              "type":"string",
                              "description":"The expiry date of the certificate."
                           },
                           "issue_date":{
                              "type":"string",
                              "description":"The issue date of the certificate."
                           },
                           "issuer_commonName":{
                              "type":"string",
                              "description":"The common name that the certificate was issued from."
                           },
                           "issuer_countryName":{
                              "type":"string",
                              "description":"The country ISO the certificate was issued from."
                           },
                           "issuer_localityName":{
                              "type":"string",
                              "description":"The city where the issuer company is legally located."
                           },
                           "issuer_organizationName":{
                              "type":"string",
                              "description":"The organization name that issued the certificate."
                           },
                           "issuer_organizationalUnitName":{
                              "type":"string",
                              "description":"The organization unit name that issued the certificate."
                           },
                           "issuer_stateOrProvinceName":{
                              "type":"string",
                              "description":"The issuer state or province."
                           },
                           "md5":{
                              "type":"string",
                              "description":"The certificate MD5."
                           },
                           "serial_number":{
                              "type":"string",
                              "description":"The certificate serial number."
                           },
                           "sha1":{
                              "type":"string",
                              "description":"The certificate sha1."
                           },
                           "sha_256":{
                              "type":"string",
                              "description":"The certificate sha256."
                           },
                           "sig_algo":{
                              "type":"string",
                              "description":"The certificate signature algorithm."
                           },
                           "signature":{
                              "type":"string",
                              "description":"Signature split into multiple lines."
                           },
                           "ssl_version":{
                              "additionalProperties":{
                                 
                              },
                              "description":"The SSL version."
                           },
                           "subject_commonName":{
                              "type":"string",
                              "description":"The subject name that the certificate was issued to."
                           },
                           "subject_countryName":{
                              "type":"string",
                              "description":"The country the certificate was issued to."
                           },
                           "subject_localityName":{
                              "type":"string",
                              "description":"The city where the subject company is legally located."
                           },
                           "subject_organizationName":{
                              "type":"string",
                              "description":"The organization name that recieved the certificate."
                           },
                           "subject_organizationalUnitName":{
                              "type":"string",
                              "description":"The organization unit name that recieved the certificate."
                           },
                           "subject_stateOrProvinceName":{
                              "type":"string",
                              "description":"The state or province name where the subject company is located."
                           },
                           "timestamp":{
                              "type":"string",
                              "description":"The certificate date and time."
                           }
                        },
                        "description":"The ssl_cert object."
                     }
                  }
               },
               "description":"The ssl_certs object."
            }
         }
      },
      "whois":{
         "type":"array",
         "items":{
            "type":"object",
            "properties":{
               "address":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "description":"The address information."
               },
               "city":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "description":"The city information."
               },
               "country":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "description":"The country information."
               },
               "domain":{
                  "type":"string",
                  "description":"The domain of the registrant."
               },
               "domain_2tld":{
                  "type":"string",
                  "description":"The second-level domain of the registrant."
               },
               "domain_created_datetime":{
                  "type":"string",
                  "description":"The date and time when the whois record was created."
               },
               "domain_expires_datetime":{
                  "type":"string",
                  "description":"The date and time when the whois record expires."
               },
               "domain_updated_datetime":{
                  "type":"string",
                  "description":"The date and time when the whois record was last updated."
               },
               "email":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "description":"The email information."
               },
               "idn_name":{
                  "type":"string",
                  "description":"The international domain name."
               },
               "nameserver":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  },
                  "description":"The nameserver information."
               },
               "phone":{
                  "type":"array",
                  "items":{
                     "type":"object",
                     "properties":{
                        "phone":{
                           "type":"string",
                           "description":"The phone number registrant contact in e164 format."
                        },
                        "phone_info":{
                           "type":"object",
                           "properties":{
                              "carrier":{
                                 "type":"string",
                                 "description":"Phone number carrier."
                              },
                              "country":{
                                 "type":"string",
                                 "description":"Phone number country."
                              },
                              "geo":{
                                 "type":"string",
                                 "description":"Phone number geo Can be city or province or region or country."
                              }
                           },
                           "description":"The phone_info object."
                        }
                     }
                  },
                  "description":"Array of object, The phone number registrant contact in e164 format along with geo info."
               },
               "privacy_punch":{
                  "type":"boolean",
                  "description":"True if this record has additional information bypassing privacy protect."
               },
               "registrar":{
                  "type":"string",
                  "description":"The domain registrar."
               },
               "whois_hash":{
                  "type":"string",
                  "description":"The hash information."
               },
               "whois_id":{
                  "type":"string",
                  "description":"The whois id information."
               }
            }
         }
      },
      "c2attribution":{
         "type":"array",
         "items":{
            "type":"object",
            "properties":{
               "actor_ipv4":{
                  "type":"string",
                  "description":"The actor ipv4."
               },
               "c2_domain":{
                  "type":"string",
                  "description":"The c2 domain."
               },
               "c2_ip":{
                  "type":"string",
                  "description":"The c2 ipv4."
               },
               "c2_url":{
                  "type":"string",
                  "description":"The C2 panel url."
               },
               "datetime":{
                  "type":"string",
                  "description":"C2 Attribution datetime."
               },
               "email":{
                  "type":"string",
                  "description":"The actor email."
               },
               "email_domain":{
                  "type":"string",
                  "description":"The email domain."
               },
               "referrer_domain":{
                  "type":"string",
                  "description":"The referrer domain."
               },
               "referrer_ipv4":{
                  "type":"string",
                  "description":"The referrer ipv4."
               },
               "referrer_url":{
                  "type":"string",
                  "description":"The referrer url."
               },
               "sha256":{
                  "type":"string",
                  "description":"The sha256 malware hash."
               }
            }
         }
      },
      "sample_information":{
         "type":"object",
         "properties":{
            "avscan_score":{
               "type":"string",
               "description":"AV scan score."
            },
            "md5":{
               "type":"string",
               "description":"MD5 Hash."
            },
            "scan_results":{
               "type":"array",
               "items":{
                  "type":"object",
                  "properties":{
                     "av_name":{
                        "type":"string",
                        "description":"The AV Name."
                     },
                     "def_time":{
                        "type":"string",
                        "description":"The AV datetime."
                     },
                     "threat_found":{
                        "type":"string",
                        "description":"The source."
                     }
                  }
               }
            },
            "scan_time":{
               "type":"string",
               "description":"The datetime of the scan."
            },
            "sha1":{
               "type":"string",
               "description":"The sha1 hash."
            },
            "sha256":{
               "type":"string",
               "description":"The sha256 hash."
            },
            "sha512":{
               "type":"string",
               "description":"The sha512 hash."
            }
         }
      },
      "sample":{
         "type":"array",
         "items":{
            "type":"object",
            "properties":{
               "datetime":{
                  "type":"string",
                  "description":"The date which the sample was processed."
               },
               "domain":{
                  "type":"string",
                  "description":"The domain of the sample."
               },
               "ipv4":{
                  "type":"string",
                  "description":"The ipv4 of the sample."
               },
               "ipv6":{
                  "type":"string",
                  "description":"The ipv6 of the sample."
               },
               "md5":{
                  "type":"string",
                  "description":"The md5 of the sample."
               },
               "sha1":{
                  "type":"string",
                  "description":"The sha1 of the sample."
               },
               "sha256":{
                  "type":"string",
                  "description":"The sha256 of the sample."
               }
            }
         }
      },
      "os_indicators":{
         "type":"array",
         "items":{
            "type":"object",
            "properties":{
               "context":{
                  "type":"string",
                  "description":"Additional information about source."
               },
               "data":{
                  "type":"object",
                  "description":"The json blob with raw data."
               },
               "datetime":{
                  "type":"string",
                  "description":"The date-time string in RFC 3339 format."
               },
               "domain":{
                  "type":"string",
                  "description":"The domain."
               },
               "domain_2tld":{
                  "type":"string",
                  "description":"The domain_2tld."
               },
               "first_seen":{
                  "type":"string",
                  "description":"The date-time string in RFC 3339 format."
               },
               "ipv4":{
                  "type":"string",
                  "description":"The ipv4 address. Can be a cidr."
               },
               "ipv6":{
                  "type":"string",
                  "description":"The ipv6 address. Can be a cidr."
               },
               "last_seen":{
                  "type":"string",
                  "description":"The date-time string in RFC 3339 format."
               },
               "md5":{
                  "type":"string",
                  "description":"The md5 value."
               },
               "sha1":{
                  "type":"string",
                  "description":"The sha1 value."
               },
               "sha256":{
                  "type":"string",
                  "description":"The sha256 value."
               },
               "source_name":{
                  "type":"string",
                  "description":"The source_name."
               },
               "source_url":{
                  "type":"string",
                  "description":"The source_url."
               },
               "uri":{
                  "type":"string",
                  "description":"The source uri value."
               }
            }
         }
      },
      "whois_current":{
         "type":"object",
         "properties":{
            "items":{
               "type":"array",
               "items":{
                  "type":"object",
                  "properties":{
                     "abuse_emails":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        },
                        "description":"The abuse emails information."
                     },
                     "address":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        },
                        "description":"The address information."
                     },
                     "city":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        },
                        "description":"The city of the registrant."
                     },
                     "country":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        },
                        "description":"The country of the registrant."
                     },
                     "data":{
                        "type":"string",
                        "description":"The data information."
                     },
                     "datetime":{
                        "type":"string",
                        "description":"The datetime information."
                     },
                     "domain":{
                        "type":"string",
                        "description":"The domain of the registrant."
                     },
                     "domain_2tld":{
                        "type":"string",
                        "description":"The second-level domain of the registrant."
                     },
                     "domain_created_datetime":{
                        "type":"string",
                        "description":"The date and time when the Whois record was created."
                     },
                     "domain_expires_datetime":{
                        "type":"string",
                        "description":"The date and time when the Whois record expires."
                     },
                     "domain_updated_datetime":{
                        "type":"string",
                        "description":"The date and time when the Whois record was last updated."
                     },
                     "email":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        },
                        "description":"The email information."
                     },
                     "idn_name":{
                        "type":"string",
                        "description":"The international domain name information."
                     },
                     "meta_data":{
                        "type":"string",
                        "description":"The metadata information."
                     },
                     "name":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        },
                        "description":"The contact name (registrant contact, administrative contact, technical contact, or abuse contact.)"
                     },
                     "nameserver":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        },
                        "description":"The nameserver domain."
                     },
                     "organization":{
                        "type":"array",
                        "items":{
                           "type":"string"
                        },
                        "description":"The organization information."
                     },
                     "phone":{
                        "type":"array",
                        "items":{
                           "additionalProperties":{
                              
                           }
                        },
                        "description":"The phone number of the registrant in e164 format."
                     },
                     "registrar":{
                        "type":"string",
                        "description":"The domain registrar."
                     },
                     "state":{
                        "type":"array",
                        "items":{
                           "additionalProperties":{
                              
                           }
                        },
                        "description":"The state where domain was registered."
                     },
                     "whois_hash":{
                        "type":"string",
                        "description":"The hash information."
                     },
                     "whois_id":{
                        "type":"string",
                        "description":"The whois id information."
                     },
                     "whois_nameserver":{
                        "type":"array",
                        "items":{
                           "type":"object",
                           "properties":{
                              "domain":{
                                 "type":"string",
                                 "description":"The nameserver's domain information."
                              },
                              "domain_2tld":{
                                 "type":"string",
                                 "description":"The nameserver's domain_2tld information."
                              },
                              "whois_related_nameserver_id":{
                                 "type":"string",
                                 "description":"The nameserver's Id Information."
                              }
                           }
                        },
                        "description":"The whois_nameserver object."
                     },
                     "whois_pii":{
                        "type":"array",
                        "items":{
                           "type":"object",
                           "properties":{
                              "address":{
                                 "type":"string",
                                 "description":"The personal identity address information."
                              },
                              "city":{
                                 "type":"string",
                                 "description":"The personal identity city information."
                              },
                              "data":{
                                 "type":"string",
                                 "description":"The personal identity data information."
                              },
                              "email":{
                                 "type":"string",
                                 "description":"The personal identity email information."
                              },
                              "geo_country_alpha_2":{
                                 "type":"string",
                                 "description":"The personal identity country information."
                              },
                              "name":{
                                 "type":"string",
                                 "description":"The personal identity name information."
                              },
                              "organization":{
                                 "type":"string",
                                 "description":"The personal identity organization information."
                              },
                              "phone_e164":{
                                 "type":"string",
                                 "description":"The personal identity Phone_e164 information."
                              },
                              "state":{
                                 "type":"string",
                                 "description":"The personal identity state information."
                              },
                              "whois_related_pii_id":{
                                 "type":"string",
                                 "description":"The personal identity Id information."
                              },
                              "whois_related_type":{
                                 "type":"string",
                                 "description":"The personal identity related information."
                              }
                           }
                        },
                        "description":"The whois_pii object."
                     }
                  }
               },
               "description":"The items object."
            },
            "source":{
               "type":"string",
               "description":"The source information."
            },
            "total_count":{
               "type":"number",
               "description":"The total count information."
            }
         }
      }
   },
   "parameters":{
      
   },
   "responses":{
      
   },
   "securityDefinitions":{
      "API Key":{
         "type":"apiKey",
         "in":"header",
         "name":"X-API-Key"
      }
   },
   "security":[
      {
         "API Key":[
            
         ]
      }
   ],
   "tags":[
      
   ]
}
