{
  "swagger": "2.0",
  "info": {
    "title": "HYAS Insight",
    "description": "HYAS Insight integration to Microsoft Azure Sentinel provides direct, high volume access to HYAS Insight data. It enables investigators and analysts to understand and defend against cyber adversaries and their infrastructure.",
    "contact": {
      "name": "HYAS Infosec",
      "url": "https://www.hyas.com/contact",
      "email": "support@hyas.com"
    },
    "version": "1.0"
  },
  "host": "insight.hyas.com",
  "basePath": "/api/ext/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/sinkhole": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Sinkhole information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The sinkhole count."
                  },
                  "country_name": {
                    "type": "string",
                    "description": "The country of the ip."
                  },
                  "data_port": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The data port."
                  },
                  "datetime": {
                    "type": "string",
                    "description": "The first seen date of the sinkhole."
                  },
                  "ipv4": {
                    "type": "string",
                    "description": "The ipv4 of the sinkhole."
                  },
                  "last_seen": {
                    "type": "string",
                    "description": "The last seen date of the sinkhole."
                  },
                  "organization_name": {
                    "type": "string",
                    "description": "The isp organization for the ip."
                  },
                  "sink_source": {
                    "type": "string",
                    "description": "The ipv4 of the sink source."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Sinkhole information for IP address",
        "description": "Retrieve Sinkhole enrichment data for IP address.",
        "operationId": "SINKHOLE",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ipv4": {
                      "type": "string",
                      "description": "IPv4 address you want to enrich.",
                      "title": "IPv4 address"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "ipv4"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/device_geo": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of mobile geolocation information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "datetime": {
                    "type": "string",
                    "description": "A date-time string in RFC 3339 format."
                  },
                  "device_geo_id": {
                    "type": "string",
                    "description": "Internal record ID."
                  },
                  "device_user_agent": {
                    "type": "string",
                    "description": "The user agent string for the device."
                  },
                  "geo_country_alpha_2": {
                    "type": "string",
                    "description": "The ISO 3316 alpha-2 code for the country associated with the lat/long reported."
                  },
                  "geo_horizontal_accuracy": {
                    "type": "number",
                    "format": "float",
                    "description": "The GPS horizontal accuracy."
                  },
                  "ipv4": {
                    "type": "string",
                    "description": "The ipv4 address assigned to the device. A device may have either or ipv4 and ipv6."
                  },
                  "ipv6": {
                    "type": "string",
                    "description": "The ipv6 address assigned to the device. A device may have either or ipv4 and ipv6."
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float",
                    "description": "Units are degrees on the WGS 84 spheroid."
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float",
                    "description": "Units are degrees on the WGS 84 spheroid."
                  },
                  "wifi_bssid": {
                    "type": "string",
                    "description": "The BSSID (MAC address) of the wifi router that the device communicated through."
                  },
                  "wifi_ssid": {
                    "type": "string",
                    "description": "The SSID (name) of the wifi network that the device communicated through."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Device Geo information for IPv4 address",
        "description": "Retrieve Device Geo enrichment data for IPv4 address.",
        "operationId": "IPV4_DEVICE_GEO",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ipv4": {
                      "type": "string",
                      "description": "IPv4 address you want to enrich.",
                      "title": "IPv4 address"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "ipv4"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/passivedns": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Passive DNS information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "cert_name": {
                    "type": "string",
                    "description": "The certificate provider name."
                  },
                  "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The passive dns count."
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain of the passive dns information requested."
                  },
                  "first_seen": {
                    "type": "string",
                    "description": "The first time this domain was seen."
                  },
                  "ip": {
                    "type": "object",
                    "properties": {
                      "geo": {
                        "type": "object",
                        "properties": {
                          "city_name": {
                            "type": "string",
                            "description": "City of the ip organization."
                          },
                          "country_iso_code": {
                            "type": "string",
                            "description": "Country ISO code of the ip organization."
                          },
                          "country_name": {
                            "type": "string",
                            "description": "Country name of the ip organization."
                          },
                          "location_latitude": {
                            "type": "string",
                            "description": "The latitude of the ip organization."
                          },
                          "location_longitude": {
                            "type": "string",
                            "description": "The longitude of the ip organization."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postalcode of the ip organization."
                          }
                        },
                        "description": "The geo object."
                      },
                      "ip": {
                        "type": "string",
                        "description": "IP of the organization."
                      },
                      "isp": {
                        "type": "object",
                        "properties": {
                          "autonomous_system_number": {
                            "type": "string",
                            "description": "The ASN of the ip."
                          },
                          "autonomous_system_organization": {
                            "type": "string",
                            "description": "The ASO of the ip."
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "The IP."
                          },
                          "isp": {
                            "type": "string",
                            "description": "The Internet Service Provider."
                          },
                          "organization": {
                            "type": "string",
                            "description": "The ISP organization."
                          }
                        },
                        "description": "The isp object."
                      }
                    },
                    "description": "The ip object."
                  },
                  "ipv4": {
                    "type": "string",
                    "description": "The ipv4 address of the passive dns record."
                  },
                  "ipv6": {
                    "type": "string",
                    "description": "The ipv6 address of the passive dns record."
                  },
                  "last_seen": {
                    "type": "string",
                    "description": "The last time this domain was seen."
                  },
                  "sha1": {
                    "type": "string",
                    "description": "The sha1."
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of pDNS providers which the data came from."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Passive DNS information for domain",
        "description": "Retrieve Passive DNS enrichment data for domain.",
        "operationId": "DOMAIN_PASSIVE_DNS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "Domain you want to enrich.",
                      "title": "Domain"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "domain"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/dynamicdns": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Dynamic DNS information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "a_record": {
                    "type": "string",
                    "description": "The A record for the domain."
                  },
                  "account": {
                    "type": "string",
                    "description": "The account holder name."
                  },
                  "created": {
                    "type": "string",
                    "description": "The date which the domain was created."
                  },
                  "created_ip": {
                    "type": "string",
                    "description": "The ip address of the account holder."
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain associated with the dynamic dns information."
                  },
                  "domain_creator_ip": {
                    "type": "string",
                    "description": "The ip address of the domain creator."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address connected to the domain."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Dynamic DNS information for IP address",
        "description": "Retrieve Dynamic DNS enrichment data for IP address.",
        "operationId": "IP_DYNAMIC_DNS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "IPv4 address you want to enrich.",
                      "title": "IPv4 address"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "ip"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/passivehash": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Passive hash information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The domain of the passive hash information requested."
                  },
                  "md5_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The passive dns count."
                  }
                }
              }
            }
          }
        },
        "description": "Retrieve Passive Hash enrichment data for IP address.",
        "summary": "Retrieve Passive Hash information for IP address",
        "operationId": "PASSIVE_HASH",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ipv4": {
                      "type": "string",
                      "description": "IPv4 address you want to enrich.",
                      "title": "IPv4 address"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "ipv4"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/ssl_certificate": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "SSL certificate information.",
            "schema": {
              "type": "object",
              "properties": {
                "related_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of ip addresses connected to this certificate."
                },
                "ssl_certs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ip": {
                        "type": "string",
                        "description": "The ip address associated with certificate."
                      },
                      "ssl_cert": {
                        "type": "object",
                        "properties": {
                          "cert_key": {
                            "type": "string",
                            "description": "The certificate key (sha1)."
                          },
                          "expire_date": {
                            "type": "string",
                            "description": "The expiry date of the certificate."
                          },
                          "issue_date": {
                            "type": "string",
                            "description": "The issue date of the certificate."
                          },
                          "issuer_commonName": {
                            "type": "string",
                            "description": "The common name that the certificate was issued from."
                          },
                          "issuer_countryName": {
                            "type": "string",
                            "description": "The country ISO the certificate was issued from."
                          },
                          "issuer_localityName": {
                            "type": "string",
                            "description": "The city where the issuer company is legally located."
                          },
                          "issuer_organizationName": {
                            "type": "string",
                            "description": "The organization name that issued the certificate."
                          },
                          "issuer_organizationalUnitName": {
                            "type": "string",
                            "description": "The organization unit name that issued the certificate."
                          },
                          "issuer_stateOrProvinceName": {
                            "type": "string",
                            "description": "The issuer state or province."
                          },
                          "md5": {
                            "type": "string",
                            "description": "The certificate MD5."
                          },
                          "serial_number": {
                            "type": "number",
                            "format": "float",
                            "description": "The certificate serial number."
                          },
                          "sha1": {
                            "type": "string",
                            "description": "The certificate sha1."
                          },
                          "sha_256": {
                            "type": "string",
                            "description": "The certificate sha256."
                          },
                          "sig_algo": {
                            "type": "string",
                            "description": "The certificate signature algorithm."
                          },
                          "signature": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Signature split into multiple lines."
                          },
                          "ssl_version": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The SSL version."
                          },
                          "subject_commonName": {
                            "type": "string",
                            "description": "The subject name that the certificate was issued to."
                          },
                          "subject_countryName": {
                            "type": "string",
                            "description": "The country the certificate was issued to."
                          },
                          "subject_localityName": {
                            "type": "string",
                            "description": "The city where the subject company is legally located."
                          },
                          "subject_organizationName": {
                            "type": "string",
                            "description": "The organization name that recieved the certificate."
                          },
                          "subject_organizationalUnitName": {
                            "type": "string",
                            "description": "The organization unit name that recieved the certificate."
                          },
                          "subject_stateOrProvinceName": {
                            "type": "string",
                            "description": "The state or province name where the subject company is located."
                          },
                          "timestamp": {
                            "type": "string",
                            "description": "The certificate date and time."
                          }
                        },
                        "description": "The ssl_cert object."
                      }
                    }
                  },
                  "description": "The ssl_certs object."
                }
              }
            }
          }
        },
        "summary": "Retrieve SSL certificate information for IP address",
        "description": "Retrieve SSL certificate enrichment data for IP address.",
        "operationId": "SSL_CERTIFICATE",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "IPv4 address you want to enrich.",
                      "title": "IPv4 address"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "ip"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/device_geo/ipv6": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "A list of mobile geolocation information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "datetime": {
                    "type": "string",
                    "description": "A date-time string in RFC 3339 format."
                  },
                  "device_geo_id": {
                    "type": "string",
                    "description": "Internal record ID."
                  },
                  "device_user_agent": {
                    "type": "string",
                    "description": "The user agent string for the device."
                  },
                  "geo_country_alpha_2": {
                    "type": "string",
                    "description": "The ISO 3316 alpha-2 code for the country associated with the lat/long reported."
                  },
                  "geo_horizontal_accuracy": {
                    "type": "number",
                    "format": "float",
                    "description": "The GPS horizontal accuracy."
                  },
                  "ipv4": {
                    "type": "string",
                    "description": "The ipv4 address assigned to the device. A device may have either or ipv4 and ipv6."
                  },
                  "ipv6": {
                    "type": "string",
                    "description": "The ipv6 address assigned to the device. A device may have either or ipv4 and ipv6."
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float",
                    "description": "Units are degrees on the WGS 84 spheroid."
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float",
                    "description": "Units are degrees on the WGS 84 spheroid."
                  },
                  "wifi_bssid": {
                    "type": "string",
                    "description": "The BSSID (MAC address) of the wifi router that the device communicated through."
                  },
                  "wifi_ssid": {
                    "type": "string",
                    "description": "The SSID (name) of the wifi network that the device communicated through."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Device Geo information for IPv6 address",
        "description": "Retrieve Device Geo enrichment data for IPv6 address.",
        "operationId": "IPV6_DEVICE_GEO",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ipv6": {
                      "type": "string",
                      "description": "IPv6 address you want to enrich.",
                      "title": "IPv6 address"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "ipv6"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/passivedns/ip": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Passive DNS information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "cert_name": {
                    "type": "string",
                    "description": "The certificate provider name."
                  },
                  "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The passive dns count."
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain of the passive dns information requested."
                  },
                  "first_seen": {
                    "type": "string",
                    "description": "The first time this domain was seen."
                  },
                  "ip": {
                    "type": "object",
                    "properties": {
                      "geo": {
                        "type": "object",
                        "properties": {
                          "city_name": {
                            "type": "string",
                            "description": "City of the ip organization."
                          },
                          "country_iso_code": {
                            "type": "string",
                            "description": "Country ISO code of the ip organization."
                          },
                          "country_name": {
                            "type": "string",
                            "description": "Country name of the ip organization."
                          },
                          "location_latitude": {
                            "type": "string",
                            "description": "The latitude of the ip organization."
                          },
                          "location_longitude": {
                            "type": "string",
                            "description": "The longitude of the ip organization."
                          },
                          "postal_code": {
                            "type": "string",
                            "description": "The postalcode of the ip organization."
                          }
                        },
                        "description": "The geo object."
                      },
                      "ip": {
                        "type": "string",
                        "description": "IP of the organization."
                      },
                      "isp": {
                        "type": "object",
                        "properties": {
                          "autonomous_system_number": {
                            "type": "string",
                            "description": "The ASN of the ip."
                          },
                          "autonomous_system_organization": {
                            "type": "string",
                            "description": "The ASO of the ip."
                          },
                          "ip_address": {
                            "type": "string",
                            "description": "The IP."
                          },
                          "isp": {
                            "type": "string",
                            "description": "The Internet Service Provider."
                          },
                          "organization": {
                            "type": "string",
                            "description": "The ISP organization."
                          }
                        },
                        "description": "The isp object."
                      }
                    },
                    "description": "The ip object."
                  },
                  "ipv4": {
                    "type": "string",
                    "description": "The ipv4 address of the passive dns record."
                  },
                  "ipv6": {
                    "type": "string",
                    "description": "The ipv6 address of the passive dns record."
                  },
                  "last_seen": {
                    "type": "string",
                    "description": "The last time this domain was seen."
                  },
                  "sha1": {
                    "type": "string",
                    "description": "The sha1."
                  },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A list of pDNS providers which the data came from."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Passive DNS information for IP address",
        "description": "Retrieve Passive DNS enrichment data for IP address.",
        "operationId": "IP_PASSIVE_DNS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ipv4": {
                      "type": "string",
                      "description": "IPv4 address you want to enrich.",
                      "title": "IPv4 address"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "ipv4"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/dynamicdns/email": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Dynamic DNS information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "a_record": {
                    "type": "string",
                    "description": "The A record for the domain."
                  },
                  "account": {
                    "type": "string",
                    "description": "The account holder name."
                  },
                  "created": {
                    "type": "string",
                    "description": "The date which the domain was created."
                  },
                  "created_ip": {
                    "type": "string",
                    "description": "The ip address of the account holder."
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain associated with the dynamic dns information."
                  },
                  "domain_creator_ip": {
                    "type": "string",
                    "description": "The ip address of the domain creator."
                  },
                  "email": {
                    "type": "string",
                    "description": "The email address connected to the domain."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Dynamic DNS information for email address",
        "description": "Retrieve Dynamic DNS enrichment data for email address.",
        "operationId": "EMAIL_DYNAMIC_DNS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Email address you want to enrich.",
                      "title": "Email address"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "email"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/whois/domain": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The whois historic information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The address information."
                  },
                  "city": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The city information."
                  },
                  "country": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The country information."
                  },
                  "data": {
                    "type": "string",
                    "description": "The data information."
                  },
                  "datetime": {
                    "type": "string",
                    "description": "The datetime information."
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain of the registrant."
                  },
                  "domain_2tld": {
                    "type": "string",
                    "description": "The second-level domain of the registrant."
                  },
                  "domain_created_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was created."
                  },
                  "domain_expires_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record expires."
                  },
                  "domain_updated_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was last updated."
                  },
                  "email": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The email information."
                  },
                  "idn_name": {
                    "type": "string",
                    "description": "The international domain name."
                  },
                  "meta_data": {
                    "type": "string",
                    "description": "The metadata information."
                  },
                  "name": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The name information."
                  },
                  "nameserver": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The nameserver information."
                  },
                  "phone": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string",
                          "description": "The phone number registrant contact in e164 format."
                        },
                        "phone_info": {
                          "type": "object",
                          "properties": {
                            "carrier": {
                              "type": "string",
                              "description": "Phone number carrier."
                            },
                            "country": {
                              "type": "string",
                              "description": "Phone number country."
                            },
                            "geo": {
                              "type": "string",
                              "description": "Phone number geo Can be city or province or region or country."
                            }
                          },
                          "description": "The phone_info  object."
                        }
                      }
                    },
                    "description": "Array of object, The phone number registrant contact in e164 format  along with geo info."
                  },
                  "privacy_punch": {
                    "type": "boolean",
                    "description": "True if this record has additional information bypassing privacy protect."
                  },
                  "registrar": {
                    "type": "string",
                    "description": "The domain registrar."
                  },
                  "whois_hash": {
                    "type": "string",
                    "description": "The hash information."
                  },
                  "whois_id": {
                    "type": "string",
                    "description": "The whois id information."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Historic WHOIS information for domain",
        "description": "Retrieve Historic WHOIS enrichment data for domain.",
        "operationId": "DOMAIN_WHOIS_HISTORIC",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "Domain you want to enrich.",
                      "title": "Domain"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "domain"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/whois/email": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The whois historic information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The address information."
                  },
                  "city": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The city information."
                  },
                  "country": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The country information."
                  },
                  "data": {
                    "type": "string",
                    "description": "The data information."
                  },
                  "datetime": {
                    "type": "string",
                    "description": "The datetime information."
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain of the registrant."
                  },
                  "domain_2tld": {
                    "type": "string",
                    "description": "The second-level domain of the registrant."
                  },
                  "domain_created_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was created."
                  },
                  "domain_expires_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record expires."
                  },
                  "domain_updated_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was last updated."
                  },
                  "email": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The email information."
                  },
                  "idn_name": {
                    "type": "string",
                    "description": "The international domain name."
                  },
                  "meta_data": {
                    "type": "string",
                    "description": "The metadata information."
                  },
                  "name": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The name information."
                  },
                  "nameserver": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The nameserver information."
                  },
                  "phone": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string",
                          "description": "The phone number registrant contact in e164 format."
                        },
                        "phone_info": {
                          "type": "object",
                          "properties": {
                            "carrier": {
                              "type": "string",
                              "description": "Phone number carrier."
                            },
                            "country": {
                              "type": "string",
                              "description": "Phone number country."
                            },
                            "geo": {
                              "type": "string",
                              "description": "Phone number geo Can be city or province or region or country."
                            }
                          },
                          "description": "The phone_info object."
                        }
                      }
                    },
                    "description": "Array of object, The phone number registrant contact in e164 format  along with geo info."
                  },
                  "privacy_punch": {
                    "type": "boolean",
                    "description": "True if this record has additional information bypassing privacy protect."
                  },
                  "registrar": {
                    "type": "string",
                    "description": "The domain registrar."
                  },
                  "whois_hash": {
                    "type": "string",
                    "description": "The hash information."
                  },
                  "whois_id": {
                    "type": "string",
                    "description": "The whois id information."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Historic WHOIS information for email address",
        "description": "Retrieve Historic WHOIS enrichment data for email address.",
        "operationId": "EMAIL_WHOIS_HISTORIC",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Email address you want to enrich.",
                      "title": "Email address"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "email"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/whois/phone": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The whois historic information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The address information."
                  },
                  "city": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The city information."
                  },
                  "country": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The country information."
                  },
                  "data": {
                    "type": "string",
                    "description": "The data information."
                  },
                  "datetime": {
                    "type": "string",
                    "description": "The datetime information."
                  },
                  "domain": {
                    "type": "string",
                    "description": "The domain of the registrant."
                  },
                  "domain_2tld": {
                    "type": "string",
                    "description": "The second-level domain of the registrant."
                  },
                  "domain_created_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was created."
                  },
                  "domain_expires_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record expires."
                  },
                  "domain_updated_datetime": {
                    "type": "string",
                    "description": "The date and time when the whois record was last updated."
                  },
                  "email": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The email information"
                  },
                  "idn_name": {
                    "type": "string",
                    "description": "The international domain name."
                  },
                  "meta_data": {
                    "type": "string",
                    "description": "The metadata information."
                  },
                  "name": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The name information."
                  },
                  "nameserver": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The nameserver information."
                  },
                  "phone": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "phone": {
                          "type": "string",
                          "description": "The phone number registrant contact in e164 format."
                        },
                        "phone_info": {
                          "type": "object",
                          "properties": {
                            "carrier": {
                              "type": "string",
                              "description": "Phone number carrier."
                            },
                            "country": {
                              "type": "string",
                              "description": "Phone number country."
                            },
                            "geo": {
                              "type": "string",
                              "description": "Phone number geo Can be city or province or region or country."
                            }
                          },
                          "description": "The phone_info object."
                        }
                      }
                    },
                    "description": "Array of object, The phone number registrant contact in e164 format along with geo info."
                  },
                  "privacy_punch": {
                    "type": "boolean",
                    "description": "True if this record has additional information bypassing privacy protect."
                  },
                  "registrar": {
                    "type": "string",
                    "description": "The domain registrar."
                  },
                  "whois_hash": {
                    "type": "string",
                    "description": "The hash information."
                  },
                  "whois_id": {
                    "type": "string",
                    "description": "The whois id information."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve Historic WHOIS information for phone number",
        "description": "Retrieve Historic WHOIS enrichment data for phone number.",
        "operationId": "PHONE_WHOIS_HISTORIC",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "phone": {
                      "type": "string",
                      "description": "Phone number you want to enrich. ( e164 format. Eg: ( +41585855634 ) )",
                      "title": "Phone number"
                    }
                  },
                  "description": "Request body (application/json).",
                  "required": [
                    "phone"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/c2attribution/domain": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "C2 Attribution Domain information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actor_ipv4": {
                    "type": "string",
                    "description": "The actor ipv4."
                  },
                  "c2_domain": {
                    "type": "string",
                    "description": "The c2 domain."
                  },
                  "c2_ip": {
                    "type": "string",
                    "description": "The c2 ipv4."
                  },
                  "c2_url": {
                    "type": "string",
                    "description": "The C2 panel url."
                  },
                  "datetime": {
                    "type": "string",
                    "description": "C2 Attribution datetime."
                  },
                  "email": {
                    "type": "string",
                    "description": "The actor email."
                  },
                  "email_domain": {
                    "type": "string",
                    "description": "The email domain."
                  },
                  "referrer_domain": {
                    "type": "string",
                    "description": "The referrer domain."
                  },
                  "referrer_ipv4": {
                    "type": "string",
                    "description": "The referrer ipv4."
                  },
                  "referrer_url": {
                    "type": "string",
                    "description": "The referrer url."
                  },
                  "sha256": {
                    "type": "string",
                    "description": "The sha256 malware hash."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve C2 Attribution information for Domain",
        "description": "Retrieve C2 Attribution enrichment data for Domain.",
        "operationId": "DOMAIN_C2_ATTRIBUTION",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "Domain that you want to enrich",
                      "title": "Domain"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "domain"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/c2attribution/ip": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "C2 Attribution IP information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actor_ipv4": {
                    "type": "string",
                    "description": "The actor ipv4."
                  },
                  "c2_domain": {
                    "type": "string",
                    "description": "The c2 domain."
                  },
                  "c2_ip": {
                    "type": "string",
                    "description": "The c2 ipv4."
                  },
                  "c2_url": {
                    "type": "string",
                    "description": "The C2 panel url."
                  },
                  "datetime": {
                    "type": "string",
                    "description": "C2 Attribution datetime."
                  },
                  "email": {
                    "type": "string",
                    "description": "The actor email."
                  },
                  "email_domain": {
                    "type": "string",
                    "description": "The email domain."
                  },
                  "referrer_domain": {
                    "type": "string",
                    "description": "The referrer domain."
                  },
                  "referrer_ipv4": {
                    "type": "string",
                    "description": "The referrer ipv4."
                  },
                  "referrer_url": {
                    "type": "string",
                    "description": "The referrer url."
                  },
                  "sha256": {
                    "type": "string",
                    "description": "The sha256 malware hash."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve C2 Attribution information for IP address",
        "description": "Retrieve C2 Attribution enrichment data for IP address.",
        "operationId": "IP_C2_ATTRIBUTION",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "ip": {
                      "type": "string",
                      "description": "IP address that you want to enrich.",
                      "title": "IP"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "ip"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/c2attribution/sha256": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "C2 Attribution SHA256 information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actor_ipv4": {
                    "type": "string",
                    "description": "The actor ipv4."
                  },
                  "c2_domain": {
                    "type": "string",
                    "description": "The c2 domain."
                  },
                  "c2_ip": {
                    "type": "string",
                    "description": "The c2 ipv4."
                  },
                  "c2_url": {
                    "type": "string",
                    "description": "The C2 panel url."
                  },
                  "datetime": {
                    "type": "string",
                    "description": "C2 Attribution datetime."
                  },
                  "email": {
                    "type": "string",
                    "description": "The actor email."
                  },
                  "email_domain": {
                    "type": "string",
                    "description": "The email domain."
                  },
                  "referrer_domain": {
                    "type": "string",
                    "description": "The referrer domain."
                  },
                  "referrer_ipv4": {
                    "type": "string",
                    "description": "The referrer ipv4."
                  },
                  "referrer_url": {
                    "type": "string",
                    "description": "The referrer url."
                  },
                  "sha256": {
                    "type": "string",
                    "description": "The sha256 malware hash."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve C2 Attribution information for SHA256",
        "description": "Retrieve C2 Attribution enrichment data for SHA256.",
        "operationId": "SHA256_C2_ATTRIBUTION",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "sha256": {
                      "type": "string",
                      "description": "SHA256 that you want to enrich.",
                      "title": "SHA256"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "sha256"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/c2attribution/email": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "C2 Attribution Email information.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "actor_ipv4": {
                    "type": "string",
                    "description": "The actor ipv4."
                  },
                  "c2_domain": {
                    "type": "string",
                    "description": "The c2 domain."
                  },
                  "c2_ip": {
                    "type": "string",
                    "description": "The c2 ipv4."
                  },
                  "c2_url": {
                    "type": "string",
                    "description": "The C2 panel url."
                  },
                  "datetime": {
                    "type": "string",
                    "description": "C2 Attribution datetime."
                  },
                  "email": {
                    "type": "string",
                    "description": "The actor email."
                  },
                  "email_domain": {
                    "type": "string",
                    "description": "The email domain."
                  },
                  "referrer_domain": {
                    "type": "string",
                    "description": "The referrer domain."
                  },
                  "referrer_ipv4": {
                    "type": "string",
                    "description": "The referrer ipv4."
                  },
                  "referrer_url": {
                    "type": "string",
                    "description": "The referrer url."
                  },
                  "sha256": {
                    "type": "string",
                    "description": "The sha256 malware hash."
                  }
                }
              }
            }
          }
        },
        "summary": "Retrieve C2 Attribution information for Email address",
        "description": "Retrieve C2 Attribution enrichment data for Email address.",
        "operationId": "EMAIL_C2_ATTRIBUTION",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "Email address that you to enrich.",
                      "title": "Email"
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "email"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    },
    "/whois/v1": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Whois information.",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "abuse_emails": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The abuse emails information."
                      },
                      "address": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The address information."
                      },
                      "city": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The city of the registrant."
                      },
                      "country": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The country of the registrant."
                      },
                      "data": {
                        "type": "string",
                        "description": "The data information."
                      },
                      "datetime": {
                        "type": "string",
                        "description": "The datetime information."
                      },
                      "domain": {
                        "type": "string",
                        "description": "The domain of the registrant."
                      },
                      "domain_2tld": {
                        "type": "string",
                        "description": "The second-level domain of the registrant."
                      },
                      "domain_created_datetime": {
                        "type": "string",
                        "description": "The date and time when the Whois record was created."
                      },
                      "domain_expires_datetime": {
                        "type": "string",
                        "description": "The date and time when the Whois record expires."
                      },
                      "domain_updated_datetime": {
                        "type": "string",
                        "description": "The date and time when the Whois record was last updated."
                      },
                      "email": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The email information."
                      },
                      "idn_name": {
                        "type": "string",
                        "description": "The international domain name information."
                      },
                      "meta_data": {
                        "type": "string",
                        "description": "The metadata information."
                      },
                      "name": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The contact name (registrant contact, administrative contact, technical contact, or abuse contact.)"
                      },
                      "nameserver": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The nameserver domain."
                      },
                      "organization": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The organization information."
                      },
                      "phone": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The phone number of the registrant in e164 format."
                      },
                      "registrar": {
                        "type": "string",
                        "description": "The domain registrar."
                      },
                      "state": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The state where domain was registered."
                      },
                      "whois_hash": {
                        "type": "string",
                        "description": "The hash information."
                      },
                      "whois_id": {
                        "type": "string",
                        "description": "The whois id information."
                      },
                      "whois_nameserver": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "domain": {
                              "type": "string",
                              "description": "The nameserver\u2019s domain information."
                            },
                            "domain_2tld": {
                              "type": "string",
                              "description": "The nameserver\u2019s domain_2tld information."
                            },
                            "whois_related_nameserver_id": {
                              "type": "string",
                              "description": "The nameserver\u2019s Id Information."
                            }
                          }
                        },
                        "description": "The whois_nameserver object."
                      },
                      "whois_pii": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "description": "The personal identity address information."
                            },
                            "city": {
                              "type": "string",
                              "description": "The personal identity city information."
                            },
                            "data": {
                              "type": "string",
                              "description": "The personal identity data information."
                            },
                            "email": {
                              "type": "string",
                              "description": "The personal identity email information."
                            },
                            "geo_country_alpha_2": {
                              "type": "string",
                              "description": "The personal identity country information."
                            },
                            "name": {
                              "type": "string",
                              "description": "The personal identity name information."
                            },
                            "organization": {
                              "type": "string",
                              "description": "The personal identity organization information."
                            },
                            "phone_e164": {
                              "type": "string",
                              "description": "The personal identity Phone_e164 information."
                            },
                            "state": {
                              "type": "string",
                              "description": "The personal identity state information."
                            },
                            "whois_related_pii_id": {
                              "type": "string",
                              "description": "The personal identity Id information."
                            },
                            "whois_related_type": {
                              "type": "string",
                              "description": "The personal identity related information."
                            }
                          }
                        },
                        "description": "The whois_pii object."
                      }
                    }
                  },
                  "description": "The items object."
                },
                "source": {
                  "type": "string",
                  "description": "The source information."
                },
                "total_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total count information."
                }
              }
            }
          }
        },
        "summary": "Retrieve Current WHOIS information for domain",
        "description": "Retrieve Current WHOIS enrichment data for domain.",
        "operationId": "DOMAIN_WHOIS_CURRENT",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "applied_filters": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "description": "Domain that you want to enrich",
                      "title": "Domain"
                    },
                    "current": {
                      "type": "boolean",
                      "description": "current",
                      "enum": [
                        true,
                        false
                      ],
                      "default": true
                    }
                  },
                  "description": "applied_filters",
                  "required": [
                    "current",
                    "domain"
                  ]
                }
              },
              "required": [
                "applied_filters"
              ]
            }
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.hyas.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.hyas.com/privacy-statement/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
