{
  "swagger": "2.0",
  "info": {
    "title": "Telegram Bot",
    "description": "Telegram Bot",
    "version": "1.0"
  },
  "host": "api.telegram.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/bot{token}/getupdates": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "ok"
                },
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "update_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "update_id"
                      },
                      "message": {
                        "type": "object",
                        "properties": {
                          "message_id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "message_id"
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "format": "int32",
                                "description": "id"
                              },
                              "is_bot": {
                                "type": "boolean",
                                "description": "is_bot"
                              },
                              "first_name": {
                                "type": "string",
                                "description": "first_name"
                              },
                              "last_name": {
                                "type": "string",
                                "description": "last_name"
                              },
                              "username": {
                                "type": "string",
                                "description": "username"
                              },
                              "language_code": {
                                "type": "string",
                                "description": "language_code"
                              }
                            },
                            "description": "from"
                          },
                          "chat": {
                            "$ref": "#/definitions/chat"
                          },
                          "date": {
                            "type": "integer",
                            "format": "int32",
                            "description": "date"
                          },
                          "text": {
                            "type": "string",
                            "description": "text"
                          }
                        },
                        "description": "message"
                      }
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        },
        "summary": "getUpdates",
        "description": "getUpdates",
        "operationId": "getUpdates",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "password"
          }
        ]
      }
    },
    "/bot{token}/getMe": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "ok": {
                  "type": "boolean",
                  "description": "ok"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "is_bot": {
                      "type": "boolean",
                      "description": "is_bot"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "first_name"
                    },
                    "username": {
                      "type": "string",
                      "description": "username"
                    },
                    "can_join_groups": {
                      "type": "boolean",
                      "description": "can_join_groups"
                    },
                    "can_read_all_group_messages": {
                      "type": "boolean",
                      "description": "can_read_all_group_messages"
                    },
                    "supports_inline_queries": {
                      "type": "boolean",
                      "description": "supports_inline_queries"
                    }
                  },
                  "description": "result"
                }
              }
            }
          }
        },
        "summary": "getMe",
        "description": "getMe",
        "operationId": "getMe",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "password"
          }
        ]
      }
    },
    "/bot{token}/sendMessage": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/message"
            }
          }
        },
        "summary": "sendMessage",
        "description": "sendMessage",
        "operationId": "sendMessage",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "chat_id": {
                  "type": "string",
                  "description": "chat_id"
                },
                "text": {
                  "type": "string",
                  "description": "text"
                }
              }
            }
          }
        ]
      }
    },
    "/bot{token}/sendPhoto": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/message"
            }
          }
        },
        "summary": "sendPhoto",
        "description": "sendPhoto",
        "operationId": "sendPhoto",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "chat_id": {
                  "type": "string",
                  "description": "chat_id"
                },
                "photo": {
                  "type": "string",
                  "description": "text"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "chat": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "id"
        },
        "first_name": {
          "type": "string",
          "description": "first_name"
        },
        "last_name": {
          "type": "string",
          "description": "last_name"
        },
        "username": {
          "type": "string",
          "description": "username"
        },
        "type": {
          "type": "string",
          "description": "type"
        }
      },
      "description": "chat"
    },
    "message": {
      "type": "object",
      "properties": {
        "ok": {
          "type": "boolean",
          "description": "ok"
        },
        "result": {
          "type": "object",
          "properties": {
            "message_id": {
              "type": "integer",
              "format": "int32",
              "description": "message_id"
            },
            "from": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "is_bot": {
                  "type": "boolean",
                  "description": "is_bot"
                },
                "first_name": {
                  "type": "string",
                  "description": "first_name"
                },
                "username": {
                  "type": "string",
                  "description": "username"
                }
              },
              "description": "from"
            },
            "chat": {
              "$ref": "#/definitions/chat"
            },
            "date": {
              "type": "integer",
              "format": "int32",
              "description": "date"
            },
            "text": {
              "type": "string",
              "description": "text"
            }
          },
          "description": "result"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}