{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "QuickBooks Online Accounting",
    "description": "QuickBooks is an Online Accounting software for small businesses.\n\nDocs Ref - https://developer.intuit.com/docs/api/accounting",
    "contact": {
      "name": "Vivek Bavishi",
      "url": "https://thatapiguy.tech",
      "email": "vivekbavishi@thatapiguy.tech"
    }
  },
  "host": "quickbooks.api.intuit.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/plain"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v3/company/{company-id}/account": {
      "post": {
        "summary": "Account-Create",
        "description": "Create a new Account",
        "operationId": "Account-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "AccountType": {
                  "type": "string",
                  "description": "AccountType",
                  "x-ms-summary": "Account Type"
                },
                "Name": {
                  "type": "string",
                  "description": "Name",
                  "x-ms-summary": "Name"
                }
              },
              "default": {
                "AccountType": "Accounts Receivable",
                "Name": "AR4"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/account/{account-id}": {
      "get": {
        "summary": "Account-ReadById",
        "description": "Get the Account using the accountId",
        "operationId": "Account-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "account-id",
            "x-ms-summary": "Account ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the account"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/query": {
      "post": {
        "summary": "Account-ReadAll",
        "description": "Get all customer records using generic 'Query' endpoint.",
        "operationId": "Account-ReadAll",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/text",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/attachable": {
      "post": {
        "summary": "Attachable-Create",
        "description": "Create an attachable object\nConent-Type:application/json\nMethod - POST",
        "operationId": "Attachable-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "AttachableRef": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "EntityRef": {
                        "type": "object",
                        "properties": {
                          "value": {
                            "type": "string",
                            "description": "value"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "EntityRef"
                      },
                      "IncludeOnSend": {
                        "type": "string",
                        "description": "IncludeOnSend"
                      }
                    }
                  },
                  "description": "AttachableRef"
                },
                "Note": {
                  "type": "string",
                  "description": "Note"
                }
              },
              "default": {
                "AttachableRef": [
                  {
                    "EntityRef": {
                      "value": "130",
                      "type": "Invoice"
                    },
                    "IncludeOnSend": "false"
                  }
                ],
                "Note": "This is an attached note."
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/attachable/{attachable-object-id}": {
      "get": {
        "summary": "Attachable-ReadById",
        "description": "Retrieve an attachable object by Id\nAccept:application/json\nMethod - GET",
        "operationId": "Attachable-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "attachable-object-id",
            "x-ms-summary": "Attachable Object ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the attachable object"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/upload": {
      "post": {
        "summary": "Upload-Attachments",
        "description": "Uploading and linking new attachments\n\nhttps://developer.intuit.com/docs/0100_quickbooks_online/0200_dev_guides/accounting/attachments#Uploading_and_linking_new_attachments\n\nIf the attachment is not in the Attachment list already, it's possible to upload it and link it to the object in one multipart operation.\n\nOperation:      POST https://quickbooks.api.intuit.com/v3/company/companyID/upload\nContent type: multipart/form-data\n\nRequest body\n\nThe following sample code shows the multipart request body for uploading a file and its supporting Attachable metatdata object, with the result of it being both added to the Attachment list and added to the object.\n\nThe Attachable object accompanying this request supplies metadata and object information to which the attachment is linked. \nEach part of the multipart request is separated by a boundary.  In the sample below, the string  --YOjcLaTlykb6OxfYJx4O07j1MweeMFem is used.  You can use any random and unique string.\nThe file to be uploaded and its Attachable object are paired together via the name parameter in the part header for each one.\nThe name parameter for the file part is of the form file_content_nn, where nn is a unique index number among the set of files being uploaded.\nThe name parameter for the Attachable object is of the form file_metadata_nn, where nn corresponds to the file index number used with the content .\nThe file or files are stored in the Attachment list with the name specified by the filename parameter.\nIf the data supplied with the Attachable object cannot be validated, an error is returned and the file is not uploaded.",
        "operationId": "Upload-Attachments",
        "parameters": [
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "multipart/form-data;boundary=37a1965f87babd849241a530ad71e169",
            "description": "Content-Type"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/batch": {
      "post": {
        "summary": "Batch",
        "description": "Multiple operations using batch query\nContent-Type:application/json\nMethod - POST",
        "operationId": "Batch",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "BatchItemRequest": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bId": {
                        "type": "string",
                        "description": "bId"
                      },
                      "operation": {
                        "type": "string",
                        "description": "operation"
                      },
                      "Vendor": {
                        "type": "object",
                        "properties": {
                          "DisplayName": {
                            "type": "string",
                            "description": "DisplayName"
                          }
                        },
                        "description": "Vendor"
                      },
                      "Invoice": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "SyncToken": {
                            "type": "string",
                            "description": "SyncToken"
                          }
                        },
                        "description": "Invoice"
                      },
                      "SalesReceipt": {
                        "type": "object",
                        "properties": {
                          "domain": {
                            "type": "string",
                            "description": "domain"
                          },
                          "sparse": {
                            "type": "boolean",
                            "description": "sparse"
                          },
                          "Id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "SyncToken": {
                            "type": "string",
                            "description": "SyncToken"
                          },
                          "PrivateNote": {
                            "type": "string",
                            "description": "PrivateNote"
                          }
                        },
                        "description": "SalesReceipt"
                      },
                      "Query": {
                        "type": "string",
                        "description": "Query"
                      }
                    }
                  },
                  "description": "BatchItemRequest"
                }
              },
              "default": {
                "BatchItemRequest": [
                  {
                    "bId": "bid4",
                    "operation": "update",
                    "Vendor": {
                      "DisplayName": "Smith Family Store"
                    },
                    "Invoice": {
                      "Id": "129",
                      "SyncToken": "0"
                    },
                    "SalesReceipt": {
                      "domain": "QBO",
                      "sparse": true,
                      "Id": "11",
                      "SyncToken": "0",
                      "PrivateNote": "A private note."
                    },
                    "Query": "select * from SalesReceipt"
                  },
                  {
                    "bId": "bid2",
                    "operation": "delete",
                    "Invoice": {
                      "Id": "129",
                      "SyncToken": "0"
                    }
                  },
                  {
                    "bId": "bid3",
                    "operation": "update",
                    "SalesReceipt": {
                      "domain": "QBO",
                      "sparse": true,
                      "Id": "11",
                      "SyncToken": "0",
                      "PrivateNote": "A private note."
                    }
                  },
                  {
                    "bId": "bid4",
                    "Query": "select * from SalesReceipt"
                  }
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/bill": {
      "post": {
        "summary": "Bill-Create",
        "description": "Create a bill\nContent-Type:application/json\nMethod - POST",
        "operationId": "Bill-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Line": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Amount"
                      },
                      "DetailType": {
                        "type": "string",
                        "description": "DetailType"
                      },
                      "AccountBasedExpenseLineDetail": {
                        "type": "object",
                        "properties": {
                          "AccountRef": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "value"
                              }
                            },
                            "description": "AccountRef"
                          }
                        },
                        "description": "AccountBasedExpenseLineDetail"
                      }
                    }
                  },
                  "description": "Line"
                },
                "VendorRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "VendorRef"
                }
              },
              "default": {
                "Line": [
                  {
                    "Id": "1",
                    "Amount": 200,
                    "DetailType": "AccountBasedExpenseLineDetail",
                    "AccountBasedExpenseLineDetail": {
                      "AccountRef": {
                        "value": "7"
                      }
                    }
                  }
                ],
                "VendorRef": {
                  "value": "56"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/bill/1": {
      "get": {
        "summary": "Bill-GetById",
        "description": "Retrieve a bill by Id\nAccept:application/json\nMethod - GET",
        "operationId": "Bill-GetById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/billpayment": {
      "post": {
        "summary": "BillPayment-Create",
        "description": "Create a BillPayment against a pre-created bill\nContent-Type:application/json\nMethod - POST",
        "operationId": "BillPayment-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "VendorRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "VendorRef"
                },
                "PayType": {
                  "type": "string",
                  "description": "PayType"
                },
                "CheckPayment": {
                  "type": "object",
                  "properties": {
                    "BankAccountRef": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "value"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        }
                      },
                      "description": "BankAccountRef"
                    }
                  },
                  "description": "CheckPayment"
                },
                "TotalAmt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalAmt"
                },
                "PrivateNote": {
                  "type": "string",
                  "description": "PrivateNote"
                },
                "Line": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Amount"
                      },
                      "LinkedTxn": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "TxnId": {
                              "type": "string",
                              "description": "TxnId"
                            },
                            "TxnType": {
                              "type": "string",
                              "description": "TxnType"
                            }
                          }
                        },
                        "description": "LinkedTxn"
                      }
                    }
                  },
                  "description": "Line"
                }
              },
              "default": {
                "VendorRef": {
                  "value": "62",
                  "name": "Test"
                },
                "PayType": "Check",
                "CheckPayment": {
                  "BankAccountRef": {
                    "value": "35",
                    "name": "Checking"
                  }
                },
                "TotalAmt": 100,
                "PrivateNote": "Acct. 1JK90",
                "Line": [
                  {
                    "Amount": 100,
                    "LinkedTxn": [
                      {
                        "TxnId": "153",
                        "TxnType": "Bill"
                      }
                    ]
                  }
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/billpayment/{billPayment-id}": {
      "get": {
        "summary": "BillPayment-ReadById",
        "description": "Retrieve BillPayment by Id\nMethod - GET",
        "operationId": "BillPayment-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "billPayment-id",
            "x-ms-summary": "Bill Payment ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the BillPayment"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/cdc": {
      "get": {
        "summary": "CDC-Read",
        "description": "Retrive changed Bill and invoice objects since a specific date.",
        "operationId": "CDC-Read",
        "parameters": [
          {
            "name": "entities",
            "default": "bill,invoice",
            "x-ms-summary": "Entities",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The entities that you would like to retrieve data for. Possible values are 'bill', 'invoice' or 'bill,invoice'."
          },
          {
            "name": "changedSince",
            "default": "YYYY-MM-DD",
            "x-ms-summary": "Starting Date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Date since the changed bill and invoice objects."
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/text",
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/class": {
      "post": {
        "summary": "Class-Create",
        "description": "Create a Class object\nMethod - POST",
        "operationId": "Class-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Name"
                }
              },
              "default": {
                "Name": "France"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/class/{class-object-id}": {
      "get": {
        "summary": "Class-ReadById",
        "description": "Read a Class object by Id\nMethod - GET",
        "operationId": "Class-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "class-object-id",
            "x-ms-summary": "Class Object ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the class object"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/companyinfo/{companyinfo-id}": {
      "get": {
        "summary": "CompanyInfo-ReadById",
        "description": "Retrieve company info by Id",
        "operationId": "CompanyInfo-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "companyinfo-id",
            "x-ms-summary": "Company ID For Info",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/creditmemo": {
      "post": {
        "summary": "CreditMemo-Create",
        "description": "Create a credit memo\nMethod : POST",
        "operationId": "CreditMemo-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Line": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Amount"
                      },
                      "DetailType": {
                        "type": "string",
                        "description": "DetailType"
                      },
                      "SalesItemLineDetail": {
                        "type": "object",
                        "properties": {
                          "ItemRef": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "value"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              }
                            },
                            "description": "ItemRef"
                          }
                        },
                        "description": "SalesItemLineDetail"
                      }
                    }
                  },
                  "description": "Line"
                },
                "CustomerRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "CustomerRef"
                }
              },
              "default": {
                "Line": [
                  {
                    "Amount": 50,
                    "DetailType": "SalesItemLineDetail",
                    "SalesItemLineDetail": {
                      "ItemRef": {
                        "value": "3",
                        "name": "Concrete"
                      }
                    }
                  }
                ],
                "CustomerRef": {
                  "value": "3",
                  "name": "CoolCars"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/creditmemo/{credit-memo-id}": {
      "get": {
        "summary": "CreditMemo-ReadById",
        "description": "Read a credit memo by Id\nMethod : GET",
        "operationId": "CreditMemo-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "credit-memo-id",
            "x-ms-summary": "Credit Memo ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the credit memo"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/customer": {
      "post": {
        "summary": "Customer-Create",
        "description": "Create a customer\nMethod : POST",
        "operationId": "Customer-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "BillAddr": {
                  "type": "object",
                  "properties": {
                    "Line1": {
                      "type": "string",
                      "description": "Line1"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Country"
                    },
                    "CountrySubDivisionCode": {
                      "type": "string",
                      "description": "CountrySubDivisionCode"
                    },
                    "PostalCode": {
                      "type": "string",
                      "description": "PostalCode"
                    }
                  },
                  "description": "BillAddr"
                },
                "Notes": {
                  "type": "string",
                  "description": "Notes"
                },
                "DisplayName": {
                  "type": "string",
                  "description": "DisplayName"
                },
                "PrimaryPhone": {
                  "type": "object",
                  "properties": {
                    "FreeFormNumber": {
                      "type": "string",
                      "description": "FreeFormNumber"
                    }
                  },
                  "description": "PrimaryPhone"
                },
                "PrimaryEmailAddr": {
                  "type": "object",
                  "properties": {
                    "Address": {
                      "type": "string",
                      "description": "Address"
                    }
                  },
                  "description": "PrimaryEmailAddr"
                }
              },
              "default": {
                "BillAddr": {
                  "Line1": "123 Main Street",
                  "City": "Mountain View",
                  "Country": "USA",
                  "CountrySubDivisionCode": "CA",
                  "PostalCode": "94042"
                },
                "Notes": "Here are other details.",
                "DisplayName": "King's Groceries1",
                "PrimaryPhone": {
                  "FreeFormNumber": "(555) 555-5555"
                },
                "PrimaryEmailAddr": {
                  "Address": "jdrew@myemail.com"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/customer/{customer-id}": {
      "get": {
        "summary": "Customer-ReadById",
        "description": "Read a customer entry by Id\nMethod : GET",
        "operationId": "Customer-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "customer-id",
            "x-ms-summary": "Customer ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the customer entry"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/department": {
      "post": {
        "summary": "Department-Create",
        "description": "Create a department object\nMethod : POST",
        "operationId": "Department-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Name"
                }
              },
              "default": {
                "Name": "Marketing Department"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/department/{department-id}": {
      "get": {
        "summary": "Department-ReadById",
        "description": "Read a department object\nMethod : GET",
        "operationId": "Department-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "department-id",
            "x-ms-summary": "Department ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the department"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/deposit": {
      "post": {
        "summary": "Deposit-Create",
        "description": "Create a deposit object\nMethod : POST",
        "operationId": "Deposit-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "DepositToAccountRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "DepositToAccountRef"
                },
                "Line": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Amount"
                      },
                      "DetailType": {
                        "type": "string",
                        "description": "DetailType"
                      },
                      "DepositLineDetail": {
                        "type": "object",
                        "properties": {
                          "AccountRef": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "value"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              }
                            },
                            "description": "AccountRef"
                          }
                        },
                        "description": "DepositLineDetail"
                      }
                    }
                  },
                  "description": "Line"
                }
              },
              "default": {
                "DepositToAccountRef": {
                  "value": "35",
                  "name": "Checking"
                },
                "Line": [
                  {
                    "Amount": 20,
                    "DetailType": "DepositLineDetail",
                    "DepositLineDetail": {
                      "AccountRef": {
                        "value": "87",
                        "name": "Unapplied Cash Payment Income"
                      }
                    }
                  }
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/deposit/{deposit-id}": {
      "get": {
        "summary": "Deposit-ReadById",
        "description": "Read a deposit object by Id\nMethod : POST",
        "operationId": "Deposit-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "deposit-id",
            "x-ms-summary": "Deposit ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the deposit"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/employee": {
      "post": {
        "summary": "Employee-Create",
        "description": "Create an employee object\nMethod : POST\n\n",
        "operationId": "Employee-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "SSN": {
                  "type": "string",
                  "description": "SSN"
                },
                "PrimaryAddr": {
                  "type": "object",
                  "properties": {
                    "Id": {
                      "type": "string",
                      "description": "Id"
                    },
                    "Line1": {
                      "type": "string",
                      "description": "Line1"
                    },
                    "City": {
                      "type": "string",
                      "description": "City"
                    },
                    "CountrySubDivisionCode": {
                      "type": "string",
                      "description": "CountrySubDivisionCode"
                    },
                    "PostalCode": {
                      "type": "string",
                      "description": "PostalCode"
                    }
                  },
                  "description": "PrimaryAddr"
                },
                "GivenName": {
                  "type": "string",
                  "description": "GivenName"
                },
                "FamilyName": {
                  "type": "string",
                  "description": "FamilyName"
                },
                "PrimaryPhone": {
                  "type": "object",
                  "properties": {
                    "FreeFormNumber": {
                      "type": "string",
                      "description": "FreeFormNumber"
                    }
                  },
                  "description": "PrimaryPhone"
                }
              },
              "default": {
                "SSN": "444-55-6666",
                "PrimaryAddr": {
                  "Id": "50",
                  "Line1": "45 N. Elm Street",
                  "City": "Middlefield",
                  "CountrySubDivisionCode": "CA",
                  "PostalCode": "93242"
                },
                "GivenName": "John",
                "FamilyName": "Meuller",
                "PrimaryPhone": {
                  "FreeFormNumber": "408-525-1234"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/employee/{employee-id}": {
      "get": {
        "summary": "Employee-ReadById",
        "description": "Retrive an employee object by ID\nMethod : GET\n\n",
        "operationId": "Employee-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "employee-id",
            "x-ms-summary": "Employee ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the employee"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/estimate": {
      "post": {
        "summary": "Estimate-Create",
        "description": "Create an Estimate object\nMethod : POST\n",
        "operationId": "Estimate-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Line": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "LineNum": {
                        "type": "integer",
                        "format": "int32",
                        "description": "LineNum"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "Amount": {
                        "type": "number",
                        "format": "float",
                        "description": "Amount"
                      },
                      "DetailType": {
                        "type": "string",
                        "description": "DetailType"
                      },
                      "SalesItemLineDetail": {
                        "type": "object",
                        "properties": {
                          "ItemRef": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "value"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              }
                            },
                            "description": "ItemRef"
                          },
                          "UnitPrice": {
                            "type": "integer",
                            "format": "int32",
                            "description": "UnitPrice"
                          },
                          "Qty": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Qty"
                          },
                          "TaxCodeRef": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "value"
                              }
                            },
                            "description": "TaxCodeRef"
                          }
                        },
                        "description": "SalesItemLineDetail"
                      },
                      "SubTotalLineDetail": {
                        "type": "object",
                        "properties": {},
                        "description": "SubTotalLineDetail"
                      },
                      "DiscountLineDetail": {
                        "type": "object",
                        "properties": {
                          "PercentBased": {
                            "type": "boolean",
                            "description": "PercentBased"
                          },
                          "DiscountPercent": {
                            "type": "integer",
                            "format": "int32",
                            "description": "DiscountPercent"
                          },
                          "DiscountAccountRef": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "value"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              }
                            },
                            "description": "DiscountAccountRef"
                          }
                        },
                        "description": "DiscountLineDetail"
                      }
                    }
                  },
                  "description": "Line"
                },
                "TxnTaxDetail": {
                  "type": "object",
                  "properties": {
                    "TotalTax": {
                      "type": "integer",
                      "format": "int32",
                      "description": "TotalTax"
                    }
                  },
                  "description": "TxnTaxDetail"
                },
                "CustomerRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "CustomerRef"
                },
                "CustomerMemo": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "CustomerMemo"
                },
                "TotalAmt": {
                  "type": "number",
                  "format": "float",
                  "description": "TotalAmt"
                },
                "ApplyTaxAfterDiscount": {
                  "type": "boolean",
                  "description": "ApplyTaxAfterDiscount"
                },
                "PrintStatus": {
                  "type": "string",
                  "description": "PrintStatus"
                },
                "EmailStatus": {
                  "type": "string",
                  "description": "EmailStatus"
                },
                "BillEmail": {
                  "type": "object",
                  "properties": {
                    "Address": {
                      "type": "string",
                      "description": "Address"
                    }
                  },
                  "description": "BillEmail"
                }
              },
              "default": {
                "Line": [
                  {
                    "Id": "1",
                    "LineNum": 1,
                    "Description": "Pest Control Services",
                    "Amount": 3.5,
                    "DetailType": "DiscountLineDetail",
                    "SalesItemLineDetail": {
                      "ItemRef": {
                        "value": "10",
                        "name": "Pest Control"
                      },
                      "UnitPrice": 35,
                      "Qty": 1,
                      "TaxCodeRef": {
                        "value": "NON"
                      }
                    },
                    "SubTotalLineDetail": {},
                    "DiscountLineDetail": {
                      "PercentBased": true,
                      "DiscountPercent": 10,
                      "DiscountAccountRef": {
                        "value": "86",
                        "name": "Discounts given"
                      }
                    }
                  },
                  {
                    "Amount": 35,
                    "DetailType": "SubTotalLineDetail",
                    "SubTotalLineDetail": {}
                  },
                  {
                    "Amount": 3.5,
                    "DetailType": "DiscountLineDetail",
                    "DiscountLineDetail": {
                      "PercentBased": true,
                      "DiscountPercent": 10,
                      "DiscountAccountRef": {
                        "value": "86",
                        "name": "Discounts given"
                      }
                    }
                  }
                ],
                "TxnTaxDetail": {
                  "TotalTax": 0
                },
                "CustomerRef": {
                  "value": "3",
                  "name": "Cool Cars"
                },
                "CustomerMemo": {
                  "value": "Thank you for your business and have a great day!"
                },
                "TotalAmt": 31.5,
                "ApplyTaxAfterDiscount": false,
                "PrintStatus": "NeedToPrint",
                "EmailStatus": "NotSet",
                "BillEmail": {
                  "Address": "Cool_Cars@intuit.com"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/estimate/{estimate-id}": {
      "get": {
        "summary": "Estimate-ReadById",
        "description": "Read an Estimate object by Id\nMethod : POST\n",
        "operationId": "Estimate-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "estimate-id",
            "x-ms-summary": "Estimate ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the estimate"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/exchangerate": {
      "get": {
        "summary": "ExchangeRate - GetDetails",
        "description": "Get Exchange Rate",
        "operationId": "Exchangerate-Getdetails",
        "parameters": [
          {
            "name": "sourcecurrencycode",
            "default": "USD",
            "x-ms-summary": "Source Currency Code",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Currency Code. For e.g, USD, CAD, YEN, INR. "
          },
          {
            "name": "asofdate",
            "default": "2017-04-25",
            "x-ms-summary": "As of Date",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The date for which you want the exchange rate for."
          },
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/invoice": {
      "post": {
        "summary": "Invoice-Create",
        "description": "Create an invoice object\nMethod : POST\n",
        "operationId": "Invoice-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Line": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Amount"
                      },
                      "DetailType": {
                        "type": "string",
                        "description": "DetailType"
                      },
                      "SalesItemLineDetail": {
                        "type": "object",
                        "properties": {
                          "ItemRef": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "value"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              }
                            },
                            "description": "ItemRef"
                          }
                        },
                        "description": "SalesItemLineDetail"
                      }
                    }
                  },
                  "description": "Line"
                },
                "CustomerRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    }
                  },
                  "description": "CustomerRef"
                }
              },
              "default": {
                "Line": [
                  {
                    "Amount": 100,
                    "DetailType": "SalesItemLineDetail",
                    "SalesItemLineDetail": {
                      "ItemRef": {
                        "value": "1",
                        "name": "Services"
                      }
                    }
                  }
                ],
                "CustomerRef": {
                  "value": "1"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/invoice/{invoice-id}": {
      "get": {
        "summary": "Invoice-ReadById",
        "description": "Read an invoice object by Id\nMethod : POST\n",
        "operationId": "Invoice-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "invoice-id",
            "x-ms-summary": "Invoice ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the invoice"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/item": {
      "post": {
        "summary": "Item-Create",
        "description": "Create an item object\nMethod : POST\n",
        "operationId": "Item-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "IncomeAccountRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "IncomeAccountRef"
                },
                "ExpenseAccountRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "ExpenseAccountRef"
                },
                "AssetAccountRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "AssetAccountRef"
                },
                "Type": {
                  "type": "string",
                  "description": "Type"
                },
                "TrackQtyOnHand": {
                  "type": "boolean",
                  "description": "TrackQtyOnHand"
                },
                "QtyOnHand": {
                  "type": "integer",
                  "format": "int32",
                  "description": "QtyOnHand"
                },
                "InvStartDate": {
                  "type": "string",
                  "description": "InvStartDate"
                }
              },
              "default": {
                "Name": "Garden Supplies1",
                "IncomeAccountRef": {
                  "value": "79",
                  "name": "Sales of Product Income"
                },
                "ExpenseAccountRef": {
                  "value": "80",
                  "name": "Cost of Goods Sold"
                },
                "AssetAccountRef": {
                  "value": "81",
                  "name": "Inventory Asset"
                },
                "Type": "Inventory",
                "TrackQtyOnHand": true,
                "QtyOnHand": 10,
                "InvStartDate": "2015-01-01"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/item/{item-id}": {
      "get": {
        "summary": "Item-ReadById",
        "description": "Read an Item by Id\nMethod : GET\n",
        "operationId": "Item-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "item-id",
            "x-ms-summary": "Item ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the item"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/journalentry": {
      "post": {
        "summary": "JournalEntry-Create",
        "description": "Create an journalentry object\nMethod : POST\n",
        "operationId": "JournalEntry-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "Line": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "Description": {
                        "type": "string",
                        "description": "Description"
                      },
                      "Amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Amount"
                      },
                      "DetailType": {
                        "type": "string",
                        "description": "DetailType"
                      },
                      "JournalEntryLineDetail": {
                        "type": "object",
                        "properties": {
                          "PostingType": {
                            "type": "string",
                            "description": "PostingType"
                          },
                          "AccountRef": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "value"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              }
                            },
                            "description": "AccountRef"
                          }
                        },
                        "description": "JournalEntryLineDetail"
                      }
                    }
                  },
                  "description": "Line"
                }
              },
              "default": {
                "Line": [
                  {
                    "Id": "0",
                    "Description": "nov portion of rider insurance",
                    "Amount": 100,
                    "DetailType": "JournalEntryLineDetail",
                    "JournalEntryLineDetail": {
                      "PostingType": "Credit",
                      "AccountRef": {
                        "value": "44",
                        "name": "Notes Payable"
                      }
                    }
                  },
                  {
                    "Description": "nov portion of rider insurance",
                    "Amount": 100,
                    "DetailType": "JournalEntryLineDetail",
                    "JournalEntryLineDetail": {
                      "PostingType": "Credit",
                      "AccountRef": {
                        "value": "44",
                        "name": "Notes Payable"
                      }
                    }
                  }
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/journalentry/{journal-entry-id}": {
      "get": {
        "summary": "JournalEntry-ReadById",
        "description": "Read an journalentry object by Id\nMethod : POST\n",
        "operationId": "JournalEntry-ReadById",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "journal-entry-id",
            "x-ms-summary": "Journal Entry ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the journal entry"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/v3/company/{company-id}/payment": {
      "post": {
        "summary": "Payment-Create",
        "description": "Create an payment object\nMethod : POST\n",
        "operationId": "Payment-Create",
        "parameters": [
          {
            "name": "minorversion",
            "x-ms-summary": "Minor Version",
            "default": "63",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "The minor version for your app"
          },
          {
            "name": "company-id",
            "x-ms-summary": "Company ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the company"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept"
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "CustomerRef": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "value"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    }
                  },
                  "description": "CustomerRef"
                },
                "TotalAmt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalAmt"
                },
                "Line": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Amount"
                      },
                      "LinkedTxn": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "TxnId": {
                              "type": "string",
                              "description": "TxnId"
                            },
                            "TxnType": {
                              "type": "string",
                              "description": "TxnType"
                            }
                          }
                        },
                        "description": "LinkedTxn"
                      }
                    }
                  },
                  "description": "Line"
[...]
