{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "OpenFEC (Independent Publisher)",
    "description": "Explore the US federal candidates and committees fund their campaigns and operations",
    "contact": {
      "name": "Dan Romano",
      "url": "https://developments.substack.com",
      "email": "dan.romano@swolcat.com"
    }
  },
  "host": "api.open.fec.gov",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://api.open.fec.gov/developers/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://github.com/fecgov/FEC/blob/master/ACCEPTABLE-USE-POLICY.md"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ],
  "paths": {
    "/calendar-dates/": {
      "get": {
        "summary": "Get FEC calendar events",
        "x-ms-summary": "Get Calendar Event Data",
        "description": "Combines election and reporting dates with Commission meetings, conferences, outreach, Advisory Opinions, rules, litigation dates, and other events into one unified calendar feed",
        "operationId": "Dates_GetCalendarDates",
        "parameters": [
          {
            "name": "summary",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "Election",
            "x-ms-summary": "Event summary filter",
            "description": "Filters results based on event summary text"
          },
          {
            "name": "max_start_date",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "2024-12-31",
            "x-ms-summary": "Max start date",
            "description": "Latest allowable event start date YYYY-MM-DD"
          },
          {
            "name": "min_start_date",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "2024-01-01",
            "x-ms-summary": "Min start date",
            "description": "Earliest allowable event start date YYYY-MM-DD"
          },
          {
            "name": "max_end_date",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "2024-12-31",
            "x-ms-summary": "Max end date",
            "description": "Latest allowable event end date YYYY-MM-DD"
          },
          {
            "name": "min_end_date",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "2024-01-01",
            "x-ms-summary": "Min end date",
            "description": "Earliest allowable event end date YYYY-MM-DD"
          },
          {
            "name": "calendar_category_id",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "42",
            "x-ms-summary": "Category ID",
            "description": "Numeric category ID e.g., 42 = Commission Meeting"
          },
          {
            "name": "description",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "Filing deadline",
            "x-ms-summary": "Description filter",
            "description": "Filter events by text in the description field"
          },
          {
            "name": "event_id",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "100000",
            "x-ms-summary": "Event ID",
            "description": "FEC event ID"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "-start_date",
            "x-ms-summary": "Sort field",
            "description": "Field to sort by (use '-' prefix for descending"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "1",
            "x-ms-summary": "Page number",
            "description": "Page of results to retrieve starting at 1"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "20",
            "x-ms-summary": "Results per page",
            "description": "Number of results per page max 100"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar dates retrieved successfully",
            "schema": {
              "$ref": "#/definitions/CalendarDatesResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/calendar-dates/export/": {
      "get": {
        "summary": "Download FEC Calendar Dates (CSV or ICS",
        "x-ms-summary": "Export calendar dates in CSV or ICS format",
        "description": "Returns CSV or ICS data for use with calendar applications like Google Calendar, Outlook, and others. Combines elections, reports, AOs, litigation, and events. Presidential pre-primary reports are generally excluded on even years. All reporting deadlines are also available via the /reporting-dates/ endpoint. [Source SQL migration](https://github.com/fecgov/openFEC/blob/develop/data/migrations/V40_omnibus_dates.sql) ",
        "operationId": "Dates_ExportCalendarDates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "summary",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "Election",
            "x-ms-summary": "Event summary filter",
            "description": "Filters events by summary text e.g., Election, Filing deadline"
          },
          {
            "name": "max_start_date",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "2024-12-31",
            "x-ms-summary": "Max start date",
            "description": "Maximum event start date"
          },
          {
            "name": "min_start_date",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "2024-01-01",
            "x-ms-summary": "Min start date",
            "description": "Minimum event start date"
          },
          {
            "name": "max_end_date",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "2024-12-31",
            "x-ms-summary": "Max end date",
            "description": "Maximum event end date"
          },
          {
            "name": "min_end_date",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "2024-01-01",
            "x-ms-summary": "Min end date",
            "description": "Minimum event end date"
          },
          {
            "name": "calendar_category_id",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "42",
            "x-ms-summary": "Category ID",
            "description": "Event category ID e.g., 42 = Commission Meeting"
          },
          {
            "name": "description",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "Filing deadline",
            "x-ms-summary": "Description filter",
            "description": "Filter by event description content"
          },
          {
            "name": "event_id",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "100000",
            "x-ms-summary": "Event ID",
            "description": "Unique identifier for the event"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "-start_date",
            "x-ms-summary": "Sort field",
            "description": "Field to sort by (use '-' for descending"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "1",
            "x-ms-summary": "Page number",
            "description": "Page of results to retrieve"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "20",
            "x-ms-summary": "Results per page",
            "description": "Number of results per page max 100"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "renderer",
            "in": "query",
            "type": "string",
            "required": true,
            "default": "ics",
            "x-ms-summary": "Format type",
            "description": "Output format — use 'csv' or 'ics'"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar export generated",
            "schema": {
              "$ref": "#/definitions/CalendarDatesResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/candidate/{candidate_id}/committees/history/": {
      "get": {
        "summary": "Committee History by Candidate",
        "x-ms-summary": "Get a candidate's committee affiliations over time",
        "description": "Explore how a candidate's committees have evolved over time, including changes in treasurers, designations, and types",
        "operationId": "Candidates_GetCandidateCommitteeHistory",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "H8NY15148",
            "x-ms-summary": "Candidate ID",
            "description": "FEC-assigned ID for the candidate e.g., H8NY15148"
          },
          {
            "name": "designation",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "P",
            "x-ms-summary": "Committee designation",
            "description": "Filter by committee designation e.g., P = Principal"
          },
          {
            "name": "election_full",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "true",
            "x-ms-summary": "Include full election period",
            "description": "If true, includes full two-year cycle"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "-cycle",
            "x-ms-summary": "Sort field",
            "description": "Sort by a specific field e.g., '-cycle' for descending cycle"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "1",
            "x-ms-summary": "Page number",
            "description": "Page of results to retrieve"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "20",
            "x-ms-summary": "Results per page",
            "description": "Number of results to return per page"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CandidateCommitteeHistoryResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/candidate/{candidate_id}/committees/history/{cycle}/": {
      "get": {
        "summary": "Committee History for a Specific Cycle",
        "x-ms-summary": "Get a candidate's committee affiliations for a specific cycle",
        "description": "Explore how a candidate's affiliated committees appeared and evolved in a specific election cycle. This includes information on designation, treasurers, and committee types",
        "operationId": "Candidates_GetCandidateCommitteeHistoryByCycle",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "H8NY15148",
            "x-ms-summary": "Candidate ID",
            "description": "FEC-assigned candidate ID e.g., H8NY15148"
          },
          {
            "name": "cycle",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Election cycle",
            "description": "Two-year election cycle e.g., 2024"
          },
          {
            "name": "designation",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "P",
            "x-ms-summary": "Committee designation",
            "description": "Filter by committee designation e.g., P = Principal"
          },
          {
            "name": "election_full",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "true",
            "x-ms-summary": "Include full election period",
            "description": "If true, includes the full two-year cycle"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "-cycle",
            "x-ms-summary": "Sort field",
            "description": "Sort by a specific field e.g., '-cycle'"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "1",
            "x-ms-summary": "Page number",
            "description": "Page of results to return"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "20",
            "x-ms-summary": "Results per page",
            "description": "Number of results per page (default is 20"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CandidateCommitteeHistoryResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/candidate/{candidate_id}/committees/": {
      "get": {
        "summary": "Get Committees for a Candidate",
        "x-ms-summary": "Get all committees affiliated with a candidate",
        "description": "This endpoint returns information about the committees associated with a candidate. Use this data to find current and past committee details such as treasurer, designation, filing frequency, and organization type",
        "operationId": "Candidates_GetCandidateCommittees",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "H8NY15148",
            "x-ms-summary": "Candidate ID",
            "description": "FEC-assigned candidate ID e.g., H8NY15148"
          },
          {
            "name": "committee_type",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "H",
            "x-ms-summary": "Committee type",
            "description": "Filter by committee type e.g., H = House"
          },
          {
            "name": "filing_frequency",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Q",
            "x-ms-summary": "Filing frequency",
            "description": "Committee filing frequency e.g., Q = quarterly"
          },
          {
            "name": "cycle",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Election cycle",
            "description": "Two-year election cycle e.g., 2024"
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2023",
            "x-ms-summary": "Year",
            "description": "Filter committees by year"
          },
          {
            "name": "organization_type",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "C",
            "x-ms-summary": "Organization type",
            "description": "Type of organization e.g., C = Corporation"
          },
          {
            "name": "designation",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "P",
            "x-ms-summary": "Designation",
            "description": "Committee designation e.g., P = Principal"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "name",
            "x-ms-summary": "Sort field",
            "description": "Field to sort by e.g., name"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "1",
            "x-ms-summary": "Page number",
            "description": "Results page number (default is 1"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "20",
            "x-ms-summary": "Results per page",
            "description": "Number of results per page (default is 20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CandidateCommitteeResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/candidate/{candidate_id}/history/": {
      "get": {
        "summary": "Get Candidate Details (History",
        "description": "Find out a candidate's characteristics over time. This is particularly useful if the candidate runs for the same office in different districts or you want to know more about a candidate's previous races. Note: This information is organized by 'candidate_id', so it won't help you find a candidate who ran for different offices over time. Candidates get a new ID for each office",
        "operationId": "Candidate_CandidateIdHistory",
        "parameters": [
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "default": "1",
            "required": true,
            "x-ms-summary": "Page",
            "description": "Page number of results to fetch"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "default": "",
            "required": false,
            "x-ms-summary": "Sort Field",
            "description": "Field to sort by. Use '' for descending cycle order"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "string",
            "default": "20",
            "required": true,
            "x-ms-summary": "Results Per Page",
            "description": "Number of results to return per page"
          },
          {
            "name": "election_full",
            "in": "query",
            "type": "string",
            "default": "true",
            "required": true,
            "x-ms-summary": "Full Election Period",
            "description": "Include full two-year election period"
          },
          {
            "name": "candidate_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Candidate ID",
            "description": "Unique ID for the candidate e.g., H0CA12345"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CandidateHistoryResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        }
      }
    },
    "/candidate/{candidate_id}/history/{cycle}/": {
      "get": {
        "summary": "Get Candidate Details per Election Cycle",
        "description": "Find out a candidate's characteristics during a specific election cycle. This is particularly useful if the candidate ran in different districts or offices. Note that candidates are assigned new IDs if they run for a different office",
        "operationId": "Candidate_CandidateIdHistoryCycle",
        "parameters": [
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "default": "1",
            "required": true,
            "x-ms-summary": "Page",
            "description": "Page number to retrieve"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "default": "",
            "required": false,
            "x-ms-summary": "Sort Field",
            "description": "Field to sort by. Use '' for descending cycle order"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "string",
            "default": "20",
            "required": true,
            "x-ms-summary": "Results Per Page",
            "description": "Number of results to return per page (up to 100"
          },
          {
            "name": "election_full",
            "in": "query",
            "type": "string",
            "default": "true",
            "required": true,
            "x-ms-summary": "Full Election Period",
            "description": "If true, includes full two-year election cycle"
          },
          {
            "name": "cycle",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Election Cycle",
            "description": "Two-year election cycle e.g., 2024"
          },
          {
            "name": "candidate_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Candidate ID",
            "description": "Unique FEC ID of the candidate e.g., H0NY12345"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CandidateHistoryResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        }
      }
    },
    "/candidate/{candidate_id}/": {
      "get": {
        "summary": "Get Candidate Details (Current",
        "description": "Retrieve detailed information about a specific candidate using their FEC candidate ID. Includes current and historical attributes such as party affiliation, district, and status",
        "operationId": "Candidate_CandidateId",
        "parameters": [
          {
            "name": "party",
            "in": "query",
            "type": "string",
            "default": "DEM",
            "required": true,
            "x-ms-summary": "Party",
            "description": "Candidate party code e.g., DEM, REP, GRN"
          },
          {
            "name": "district",
            "in": "query",
            "type": "string",
            "default": "01",
            "required": true,
            "x-ms-summary": "District",
            "description": "Congressional district (House only"
          },
          {
            "name": "candidate_status",
            "in": "query",
            "type": "string",
            "default": "C",
            "required": true,
            "x-ms-summary": "Candidate Status",
            "description": "Candidate status code e.g., C=Candidate, F=Future, P=Prior"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "default": "name",
            "required": false,
            "x-ms-summary": "Sort Field",
            "description": "Field to sort results by e.g., name, candidate_id"
          },
          {
            "name": "cycle",
            "in": "query",
            "type": "string",
            "default": "2024",
            "required": true,
            "x-ms-summary": "Election Cycle",
            "description": "Two-year election cycle e.g., 2024"
          },
          {
            "name": "election_year",
            "in": "query",
            "type": "string",
            "default": "2024",
            "required": true,
            "x-ms-summary": "Election Year",
            "description": "Year of the election in which the candidate is running"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "string",
            "default": "20",
            "required": true,
            "x-ms-summary": "Results Per Page",
            "description": "Number of results to return per page max 100"
          },
          {
            "name": "incumbent_challenge",
            "in": "query",
            "type": "string",
            "default": "I",
            "required": true,
            "x-ms-summary": "Incumbent Challenge",
            "description": "Challenge status (I=Incumbent, C=Challenger, O=Open seat"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "state",
            "in": "query",
            "type": "string",
            "default": "NY",
            "required": true,
            "x-ms-summary": "State",
            "description": "Two-letter U.S. state abbreviation"
          },
          {
            "name": "name",
            "in": "query",
            "type": "string",
            "default": "Smith",
            "required": true,
            "x-ms-summary": "Candidate Name",
            "description": "Full or partial candidate name"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "office",
            "in": "query",
            "type": "string",
            "default": "H",
            "required": true,
            "x-ms-summary": "Office",
            "description": "Office sought (H = House, S = Senate, P = President"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "default": "1",
            "required": true,
            "x-ms-summary": "Page",
            "description": "Page number to retrieve"
          },
          {
            "name": "year",
            "in": "query",
            "type": "string",
            "default": "2024",
            "required": true,
            "x-ms-summary": "Year",
            "description": "Election year context for filtering"
          },
          {
            "name": "has_raised_funds",
            "in": "query",
            "type": "string",
            "default": "true",
            "required": true,
            "x-ms-summary": "Has Raised Funds",
            "description": "Filter for candidates who have reported financial activity"
          },
          {
            "name": "federal_funds_flag",
            "in": "query",
            "type": "string",
            "default": "false",
            "required": true,
            "x-ms-summary": "Federal Funds Flag",
            "description": "Filter for candidates who accepted federal funding"
          },
          {
            "name": "candidate_id",
            "in": "path",
            "type": "string",
            "required": true,
            "x-ms-summary": "Candidate ID",
            "description": "Unique identifier for the candidate e.g., H0NY12345"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CandidateProfileResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        }
      }
    },
    "/candidate/{candidate_id}/filings/": {
      "get": {
        "summary": "Get Candidate Filings",
        "description": "Retrieve all official records and reports filed by or delivered to the FEC for a given candidate. Because filings data can include many records, result counts are approximate. You should page through results until no more records are returned",
        "operationId": "Candidate_CandidateIdFilings",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Candidate ID",
            "description": "FEC-assigned candidate ID e.g., H0CA12183",
            "default": "H0CA12183"
          },
          {
            "name": "party",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Party",
            "description": "Political party affiliation"
          },
          {
            "name": "form_type",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Form Type",
            "description": "FEC form type e.g., F3, F3P, F3X"
          },
          {
            "name": "most_recent",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Most Recent",
            "description": "Return only the most recent filing",
            "default": "false"
          },
          {
            "name": "district",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "District",
            "description": "Congressional district"
          },
          {
            "name": "committee_type",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Committee Type",
            "description": "Type of committee that filed the report"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sort Order",
            "description": "Sort order of results, prefix with - for descending",
            "default": "-receipt_date"
          },
          {
            "name": "cycle",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Cycle",
            "description": "Two-year cycle in which the candidate is running"
          },
          {
            "name": "report_year",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Report Year",
            "description": "Year the report was filed"
          },
          {
            "name": "max_receipt_date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Max Receipt Date",
            "description": "Upper bound for receipt date YYYY-MM-DD"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Results per Page",
            "description": "Number of results per page",
            "default": "20"
          },
          {
            "name": "report_type",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Report Type",
            "description": "Report type code e.g., Q1, M2, YE"
          },
          {
            "name": "form_category",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Form Category",
            "description": "Category of the form filed"
          },
          {
            "name": "min_receipt_date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date",
            "x-ms-summary": "Min Receipt Date",
            "description": "Lower bound for receipt date YYYY-MM-DD"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "State",
            "description": "U.S. state abbreviation e.g., TX"
          },
          {
            "name": "request_type",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Request Type",
            "description": "Type of filing request"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Page Number",
            "description": "Results page number",
            "default": "1"
          },
          {
            "name": "office",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Office",
            "description": "Office the candidate is running for e.g., H, S, P"
          },
          {
            "name": "amendment_indicator",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Amendment Indicator",
            "description": "Indicates if the report is an amendment"
          },
          {
            "name": "filer_type",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filer Type",
            "description": "Type of filer e.g., candidate, committee"
          },
          {
            "name": "primary_general_indicator",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Primary/General Indicator",
            "description": "Indicates if the filing is for a primary or general election"
          },
          {
            "name": "is_amended",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Is Amended",
            "description": "Whether the report is amended"
          },
          {
            "name": "document_type",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Document Type",
            "description": "Document type code"
          },
          {
            "name": "beginning_image_number",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Beginning Image Number",
            "description": "First image ID in the scanned document"
          },
          {
            "name": "file_number",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "File Number",
            "description": "FEC file number"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "schema": {
              "$ref": "#/definitions/CandidateFilingsResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        }
      }
    },
    "/candidate/{candidate_id}/totals/": {
      "get": {
        "summary": "Get Candidate Totals by Cycle",
        "description": "Retrieve financial totals from Form 3, 3X, or 3P filings for a candidate's authorized or principal committees,  aggregated by two-year election cycle. Use 'cycle' to filter by reporting period. Use 'election_full=true' to include the full election period for a candidate",
        "operationId": "Candidate_CandidateIdTotals",
        "parameters": [
          {
            "name": "candidate_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Candidate ID",
            "description": "FEC-assigned candidate ID e.g., H0CA12183"
          },
          {
            "name": "cycle",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Election cycle",
            "description": "Two-year period that includes an election year e.g., 2020 includes 2019 and 2020"
          },
          {
            "name": "election_full",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Full election period",
            "description": "If true, include the full cycle for the candidate's election",
            "default": "false"
          },
          {
            "name": "full_election",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "DEPRECATED - Full election",
            "description": "Deprecated. Use 'election_full' instead",
            "default": "false"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sort field",
            "description": "Field to sort by (use '-cycle' for descending",
            "default": "-cycle"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Page number",
            "description": "Page of results to return",
            "default": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Results per page",
            "description": "Number of results per page",
            "default": "20"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CandidateTotalsResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        }
      }
    },
    "/candidates/totals/by_office": {
      "get": {
        "summary": "Get Agg Receipts and Disbursements by Office and Cycle",
        "description": "Aggregated candidate receipts and disbursements grouped by office  for a given election year and filtered by activity status",
        "operationId": "Candidates_TotalsByOffice",
        "parameters": [
          {
            "name": "office",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Office",
            "description": "Office sought by candidate. House H, Senate S, or President P",
            "default": "H"
          },
          {
            "name": "election_year",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Election Year",
            "description": "Year of the election to aggregate totals by office",
            "default": "2024"
          },
          {
            "name": "is_active_candidate",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Active Candidate Filter",
            "description": "Filter totals by candidates actively campaigning during the given cycle",
            "default": "true"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sort field",
            "description": "Field to sort results by, optional",
            "default": ""
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Page",
            "description": "Page number of results to fetch",
            "default": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Results Per Page",
            "description": "Number of results to return per page",
            "default": "20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CandidatesTotalsByOfficeResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        }
      }
    },
    "/candidates/totals/by_office/by_party/": {
      "get": {
        "summary": "Get Agg Receipts or Disbursements by Office and Party per Election Cycle",
        "description": "Aggregated candidate receipts and disbursements grouped by office and party for a given cycle. Includes options to filter by election year and active candidacy",
        "operationId": "Candidates_TotalsByOfficeByParty",
        "parameters": [
          {
            "name": "office",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Office",
            "description": "Office sought by candidate. House H, Senate S, or President P",
            "default": "H"
          },
          {
            "name": "election_year",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Election Year",
            "description": "Year of the election to aggregate totals by office and party",
            "default": "2024"
          },
          {
            "name": "is_active_candidate",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Active Candidate Filter",
            "description": "Filter by candidates actively running during the cycle",
            "default": "true"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Sort field",
            "description": "Field to sort results by, optional",
            "default": ""
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Page",
            "description": "Page number of results to return",
            "default": "1"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Results Per Page",
            "description": "Number of results to return per page",
            "default": "20"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CandidatesTotalsByOfficeByPartyResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/candidates/totals/": {
      "get": {
        "summary": "Get Agg Receipts and Disbursements by Cycle",
        "description": "Aggregated candidate receipts and disbursements grouped by cycle",
        "operationId": "Candidates_Totals",
        "parameters": [
          {
            "name": "party",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Party",
            "description": "Filter by party affiliation e.g., DEM, REP"
          },
          {
            "name": "max_disbursements",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Max Disbursements",
            "description": "Maximum amount of disbursements"
          },
          {
            "name": "district",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "District",
            "description": "Filter by congressional district"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Sort Field",
            "description": "Field to sort results by"
          },
          {
            "name": "cycle",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Cycle",
            "description": "Two-year election cycle to aggregate by"
          },
          {
            "name": "election_year",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Election Year",
            "description": "Year of the election"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Results Per Page",
            "description": "Number of records to return per page",
            "default": "20"
          },
          {
            "name": "election_full",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Election Full",
            "description": "If true, filters for full elections (not special",
            "default": "true"
          },
          {
            "name": "min_debts_owed_by_committee",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Min Debts Owed",
            "description": "Minimum debt owed by the committee"
          },
          {
            "name": "is_active_candidate",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Active Candidate",
            "description": "If true, limits to active candidates"
          },
          {
            "name": "max_cash_on_hand_end_period",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Max Cash on Hand",
            "description": "Maximum cash on hand at end of period"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "state",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "State",
            "description": "Filter by state e.g., NY, CA"
          },
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Name or ID Search",
            "description": "Search candidates by name or ID"
          },
          {
            "name": "min_cash_on_hand_end_period",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Min Cash on Hand",
            "description": "Minimum cash on hand at end of period"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Page Number",
            "description": "Page number to retrieve",
            "default": "1"
          },
          {
            "name": "office",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Office",
            "description": "Filter by office (House, Senate, President"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "min_receipts",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Min Receipts",
            "description": "Minimum receipts reported"
          },
          {
            "name": "candidate_id",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Candidate ID",
            "description": "Filter by candidate ID e.g., H0XX00000"
          },
          {
            "name": "max_debts_owed_by_committee",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Max Debts Owed",
            "description": "Maximum debt owed by the committee"
          },
          {
            "name": "max_receipts",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Max Receipts",
            "description": "Maximum receipts reported"
          },
          {
            "name": "has_raised_funds",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Has Raised Funds",
            "description": "Filter by candidates who have raised funds"
          },
          {
            "name": "min_disbursements",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Min Disbursements",
            "description": "Minimum disbursements reported"
          },
          {
            "name": "federal_funds_flag",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Federal Funds Flag",
            "description": "Filter for candidates receiving federal funds"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CandidatesTotalsResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        }
      }
    },
    "/candidates/": {
      "get": {
        "summary": "Get Candidates Basic Info",
        "description": "Fetch basic information about candidates, and use parameters to filter results to the candidates you're looking for. Each result reflects a unique FEC candidate ID, which remains the same for a candidate seeking the same office across elections",
        "operationId": "Candidates",
        "parameters": [
          {
            "name": "party",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Party",
            "description": "Filter by party e.g., DEM, REP"
          },
          {
            "name": "district",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "District",
            "description": "Filter by congressional district"
          },
          {
            "name": "candidate_status",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Candidate Status",
            "description": "Filter by candidate status e.g., C, F, N"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "name",
            "x-ms-summary": "Sort Field",
            "description": "Field to sort results by"
          },
          {
            "name": "cycle",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Election Cycle",
            "description": "Two-year election cycle"
          },
          {
            "name": "election_year",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Election Year",
            "description": "Year of election"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "20",
            "x-ms-summary": "Results Per Page",
            "description": "Number of results per page"
          },
          {
            "name": "incumbent_challenge",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Incumbent Challenge",
            "description": "Filter by incumbent challenge status (I, C, O"
          },
          {
            "name": "is_active_candidate",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Active Candidate",
            "description": "If true, return only active candidates"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "state",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "State",
            "description": "Two-letter state code e.g., NY, CA"
          },
          {
            "name": "name",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Name Search",
            "description": "Candidate name to filter by"
          },
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Search Term",
            "description": "Search by candidate name or ID"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "1",
            "x-ms-summary": "Page Number",
            "description": "Page number of results"
          },
          {
            "name": "office",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Office",
            "description": "Office sought (H, S, P"
          },
          {
            "name": "min_first_file_date",
            "in": "query",
            "type": "string",
            "format": "date",
            "required": false,
            "x-ms-summary": "Min First File Date",
            "description": "Minimum first filing date"
          },
          {
            "name": "max_first_file_date",
            "in": "query",
            "type": "string",
            "format": "date",
            "required": false,
            "x-ms-summary": "Max First File Date",
            "description": "Maximum first filing date"
          },
          {
            "name": "year",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Year",
            "description": "Year to filter by"
          },
          {
            "name": "candidate_id",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Candidate ID",
            "description": "FEC-assigned candidate ID e.g., H0XX00000"
          },
          {
            "name": "has_raised_funds",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Has Raised Funds",
            "description": "Filter by candidates who have raised funds"
          },
          {
            "name": "federal_funds_flag",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Federal Funds Flag",
            "description": "Filter for candidates who accepted federal funds"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/CandidatesResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        }
      }
    },
    "/candidates/search/": {
      "get": {
        "summary": "Search Candidates",
        "description": "Fetch basic information about candidates and their principal committees. Each result reflects a unique FEC candidate ID tied to a specific office. If a candidate runs for the same office again, they retain the same ID. If they run for a different office e.g., House → Senate), they get a new ID",
        "operationId": "Candidates_Search",
        "parameters": [
          {
            "name": "party",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Party",
            "description": "Filter by party e.g., DEM, REP"
          },
          {
            "name": "district",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "District",
            "description": "Filter by congressional district"
          },
          {
            "name": "candidate_status",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Candidate Status",
            "description": "Candidate status e.g., C for candidate, F for future, N for not running"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "name",
            "x-ms-summary": "Sort Field",
            "description": "Field to sort results by"
          },
          {
            "name": "cycle",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Election Cycle",
            "description": "Two-year election cycle"
          },
          {
            "name": "election_year",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Election Year",
            "description": "Year of election"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "20",
            "x-ms-summary": "Results Per Page",
            "description": "Number of results per page"
          },
          {
            "name": "incumbent_challenge",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Incumbent Challenge",
            "description": "Filter by incumbent challenge status (I, C, O"
          },
          {
            "name": "is_active_candidate",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Active Candidate",
            "description": "If true, return only active candidates"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "state",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "State",
            "description": "Two-letter state code e.g., NY, CA"
          },
          {
            "name": "name",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Name Search",
            "description": "Candidate name to filter by"
          },
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Search Term",
            "description": "Search by candidate name or ID"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "1",
            "x-ms-summary": "Page Number",
            "description": "Page number of results"
          },
          {
            "name": "office",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Office",
            "description": "Office sought (H, S, P"
          },
          {
            "name": "min_first_file_date",
            "in": "query",
            "type": "string",
            "format": "date",
            "required": false,
            "x-ms-summary": "Min First File Date",
            "description": "Minimum first filing date"
          },
          {
            "name": "max_first_file_date",
            "in": "query",
            "type": "string",
            "format": "date",
            "required": false,
            "x-ms-summary": "Max First File Date",
            "description": "Maximum first filing date"
          },
          {
            "name": "year",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Year",
            "description": "Year to filter by"
          },
          {
            "name": "candidate_id",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Candidate ID",
            "description": "FEC-assigned candidate ID e.g., H0XX00000"
          },
          {
            "name": "has_raised_funds",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Has Raised Funds",
            "description": "Filter by candidates who have raised funds"
          },
          {
            "name": "federal_funds_flag",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Federal Funds Flag",
            "description": "Filter for candidates who accepted federal funds"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/CandidatesResponse"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "402": {
            "description": "Payment required",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "405": {
            "description": "Method not allowed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error occurred"
          }
        }
      }
    },
    "/committee/{committee_id}/candidates/history/": {
      "get": {
        "summary": "Get Candidate History by Committee",
        "description": "Find out a candidate's characteristics over time for a given committee. Useful for reviewing different election cycles, districts, or races. Organized by candidate_id. A new ID is assigned if the same person runs for a different office",
        "operationId": "Committee_CommitteeIdCandidatesHistory",
        "parameters": [
          {
            "name": "committee_id",
            "in": "path",
            "type": "string",
            "required": true,
            "default": "C00431445",
            "x-ms-summary": "Committee ID",
            "description": "FEC Committee ID e.g., C00100005"
          },
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "1",
            "x-ms-summary": "Page",
            "description": "Page number of results"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "",
            "x-ms-summary": "Sort Field",
            "description": "Field used to sort results"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "20",
            "x-ms-summary": "Results Per Page",
            "description": "Number of results to return per page"
          },
          {
            "name": "election_full",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "true",
            "x-ms-summary": "Election Full",
            "description": "If true, filters records to those covering full election cycles"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/CommitteeCandidateHistoryResponse"
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/committee/{committee_id}/candidates/history/{cycle}/": {
      "get": {
        "summary": "Get Candidate History by Election Cycle",
        "description": "Find out a candidate's characteristics over time. This is particularly useful if the candidate runs for the same office in different districts or you want to know more about a candidate's previous races. This information is organized by 'candidate_id', so it won't help you find a candidate who ran for different offices over time; candidates get a new ID for each office",
        "operationId": "Committee_CommitteeIdCandidatesHistoryCycle",
        "parameters": [
          {
            "name": "sort_hide_null",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Hide null sort values",
            "description": "Whether to exclude results where the sort field is null"
          },
          {
            "name": "page",
            "in": "query",
            "type": "string",
            "default": "1",
            "required": true,
            "x-ms-summary": "Page number",
            "description": "Page number of results to fetch"
          },
          {
            "name": "sort_nulls_last",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Nulls last",
            "description": "Whether to move nulls to the bottom of sorted results"
          },
          {
            "name": "sort",
            "in": "query",
            "type": "string",
            "default": "first_file_date",
            "required": false,
            "x-ms-summary": "Sort order",
            "description": "Sort results using a field, use '-' for descending"
          },
          {
            "name": "sort_null_only",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "false",
            "x-ms-summary": "Only null sort values",
            "description": "Return only records where the sort field is null"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "string",
            "default": "20",
            "required": true,
[...]
