{
  "swagger": "2.0",
  "info": {
    "title": "Writesonic",
    "description": "Writesonic is the world's only AI writer that helps you write SEO-optimized, long-form (up to 1500 words) blog posts & articles in 15 seconds. With Writesonic, you can write anything and publish it anywhere.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.writesonic.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/business/photosonic/generate-image": {
      "post": {
        "description": "Generate images that will make your content stand out from the crowd.",
        "summary": "Generate image",
        "tags": [
          "PhotoSonic Business"
        ],
        "operationId": "Generate_image_business_photosonic_generate_image_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputBusinessGenerateImages"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "$ref": "#/definitions/OutputPhotosonicBusinessCopy"
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/google-ads": {
      "post": {
        "description": "Quality ads that rank in the search results and drive more traffic.",
        "summary": "Create Google ads post",
        "tags": [
          "Business API"
        ],
        "operationId": "Google_ads_business_content_google_ads_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputGoogleAd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputGoogleAd"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/google-ad-titles": {
      "post": {
        "description": "Unique and appealing ad titles that make people click on your ad and buy from your site.",
        "summary": "Create Google ad titles",
        "tags": [
          "Business API"
        ],
        "operationId": "Google_ad_titles_business_content_google_ad_titles_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputGoogleAdTitle"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputGoogleAdTitle"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/google-ad-descriptions": {
      "post": {
        "description": "Top-performing Google ad copy that converts visitors into customers.",
        "summary": "Create Google ad descriptions",
        "tags": [
          "Business API"
        ],
        "operationId": "Google_ad_descriptions_business_content_google_ad_descriptions_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputGoogleAdDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputGoogleAdDescription"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/facebook-ads": {
      "post": {
        "description": "Facebook ad copies that make your ads truly stand out.",
        "summary": "Create Facebook ads post",
        "tags": [
          "Business API"
        ],
        "operationId": "Facebook_ads_business_content_facebook_ads_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputFacebookAd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputFacebookAd"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/linkedin-ad-headlines": {
      "post": {
        "description": "Attention-grabbing, click-inducing, and high-converting ad headlines for Linkedin.",
        "summary": "Create LinkedIn ad headlines",
        "tags": [
          "Business API"
        ],
        "operationId": "Linkedin_ad_headlines_business_content_linkedin_ad_headlines_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputLinkedinAdHeadline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputLinkedinAdHeadline"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/linkedin-ad-descriptions": {
      "post": {
        "description": "Professional and eye-catching ad descriptions that will make your product shine.",
        "summary": "Create LinkedIn ad descriptions",
        "tags": [
          "Business API"
        ],
        "operationId": "linkedin_ad_descriptions_business_content_linkedin_ad_descriptions_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputLinkedinAdHeadline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputLinkedinAdDescription"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/linkedin-ads": {
      "post": {
        "description": "Eye-catching ads that will not only attract the right audience but also drive them to your lead magnet.",
        "summary": "Create LinkedIn ads post",
        "tags": [
          "Business API"
        ],
        "operationId": "Linkedin_ads_business_content_linkedin_ads_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputLinkedinAdHeadline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputLinkedinAd"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/linkedin-posts": {
      "post": {
        "description": "LinkedIn posts that can be used as status updates or promoted to get more engagement.",
        "summary": "Create LinkedIn posts",
        "tags": [
          "Business API"
        ],
        "operationId": "Linkedin_posts_business_content_linkedin_posts_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputLinkedinPost"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputLinkedinPost"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/landing-page-headlines": {
      "post": {
        "description": "Unique and catchy headlines that are perfect for your product or service.",
        "summary": "Create landing page headlines",
        "tags": [
          "Business API"
        ],
        "operationId": "Landing_page_headlines_business_content_landing_page_headlines_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputLandingPageHeadline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputLandingPageHeadline"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/landing-pages": {
      "post": {
        "description": "Tailored high-converting landing page copies that drive more leads, sales, and signups.",
        "summary": "Create landing pages post",
        "tags": [
          "Business API"
        ],
        "operationId": "Landing_pages_business_content_landing_pages_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputLandingPage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputLandingPage"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/product-descriptions": {
      "post": {
        "description": "Authentic product descriptions that will compel, inspire, and influence.",
        "summary": "Create product descriptions",
        "tags": [
          "Business API"
        ],
        "operationId": "Product_descriptions_business_content_product_descriptions_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputProductDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputProductDescription"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/amazon-product-descriptions": {
      "post": {
        "description": "Descriptions for Amazon products that rank on the first page of the search results.",
        "summary": "Create Amazon product descriptions",
        "tags": [
          "Business API"
        ],
        "operationId": "amazon_product_descriptions_business_content_amazon_product_descriptions_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputAmazonProductDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputAmazonProductDescription"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/amazon-product-titles": {
      "post": {
        "description": "Product titles that will make your product stand out in a sea of competition.",
        "summary": "Create Amazon product titles",
        "tags": [
          "Business API"
        ],
        "operationId": "Amazon_product_titles_business_content_amazon_product_titles_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputAmazonProductTitle"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputAmazonProductTitle"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/amazon-product-features": {
      "post": {
        "description": "Advantages and features of your products that will make them irresistible to shoppers.",
        "summary": "Create Amazon product features",
        "tags": [
          "Business API"
        ],
        "operationId": "Amazon_product_features_business_content_amazon_product_features_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputAmazonProductFeature"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputAmazonProductFeature"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/amazon-ad-headlines": {
      "post": {
        "description": "Awesome Amazon ad headlines that will increase your conversion rate.",
        "summary": "Create Amazon ad headlines",
        "tags": [
          "Business API"
        ],
        "operationId": "Amazon_ad_headlines_business_content_amazon_ad_headlines_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputAmazonAdHeadline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputAmazonAdHeadline"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/blog-ideas": {
      "post": {
        "description": "Article/blog ideas that you can use to generate more traffic, leads, and sales for your business.",
        "summary": "Create blog ideas",
        "tags": [
          "Business API"
        ],
        "operationId": "Blog_ideas_business_content_blog_ideas_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputBlogIdea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputBlogIdea"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/blog-intros": {
      "post": {
        "description": "Enticing article/blog introductions that capture the attention of the audience.",
        "summary": "Create blog intros",
        "tags": [
          "Business API"
        ],
        "operationId": "Blog_intros_business_content_blog_intros_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputBlogIntro"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputBlogIntro"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/blog-outlines": {
      "post": {
        "description": "Detailed article outlines that help you write better content on a consistent basis.",
        "summary": "Create blog outlines",
        "tags": [
          "Business API"
        ],
        "operationId": "Blog_outlines_business_content_blog_outlines_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputBlogOutline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputBlogOutline"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/feature-to-benefits": {
      "post": {
        "description": "Unique content that focuses on features to emphasize benefits of your product or service.",
        "summary": "Create feature to benefits",
        "tags": [
          "Business API"
        ],
        "operationId": "Feature_to_benefits_business_content_feature_to_benefits_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputFeatureToBenefit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputFeatureToBenefit"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/content-rephrase": {
      "post": {
        "description": "Rephrase your content in a different voice and style to appeal to different readers.",
        "summary": "Create content rephrase",
        "tags": [
          "Business API"
        ],
        "operationId": "Content_rephrase_business_content_content_rephrase_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputContentRephrase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputContentRephrase"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/sentence-expand": {
      "post": {
        "description": "Expand short sentences into more descriptive and interesting ones.",
        "summary": "Create sentence expand",
        "tags": [
          "Business API"
        ],
        "operationId": "Sentence_expand_business_content_sentence_expand_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputSentenceExpand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputSentenceExpand"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/content-shorten": {
      "post": {
        "description": "Short your content in a different voice and style to appeal to different readers.",
        "summary": "Create content shorten",
        "tags": [
          "Business API"
        ],
        "operationId": "Content_shorten_business_content_content_shorten_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputContentShorten"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputContentShorten"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/listicle-ideas": {
      "post": {
        "description": "Creative listicle ideas that are easy to write and perform well on social media.",
        "summary": "Create listicle ideas",
        "tags": [
          "Business API"
        ],
        "operationId": "Listicle_ideas_business_content_listicle_ideas_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputListicleIdea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputListicleIdea"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/emails": {
      "post": {
        "description": "Professional-looking emails that help you engage leads and customers.",
        "summary": "Create email",
        "tags": [
          "Business API"
        ],
        "operationId": "Emails_business_content_emails_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputEmail"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputEmail"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/emails-v2": {
      "post": {
        "description": "Professional-looking emails that help you engage leads and customers.",
        "summary": "Create emails",
        "tags": [
          "Business API"
        ],
        "operationId": "Emails_business_content_emails_post_v2",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputEmailV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputEmailV2"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/growth-ideas": {
      "post": {
        "description": "High-impact growth tactics to help your business grow.",
        "summary": "Create growth ideas",
        "tags": [
          "Business API"
        ],
        "operationId": "Growth_ideas_business_content_growth_ideas_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputGrowthIdea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputGrowthIdea"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/startup-ideas": {
      "post": {
        "description": "Great startup ideas that you can get started on right away.",
        "summary": "Create startup ideas",
        "tags": [
          "Business API"
        ],
        "operationId": "Startup_ideas_business_content_startup_ideas_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputStartupIdea"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/pas": {
      "post": {
        "description": "The main formula for writing high-converting sales copy.",
        "summary": "Create PAS",
        "tags": [
          "Business API"
        ],
        "operationId": "Pas_business_content_pas_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputPas"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputPas"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/aida": {
      "post": {
        "description": "Tried and tested formula of Attention, Interest, Desire, Action that is proven to convert.",
        "summary": "Create AIDA",
        "tags": [
          "Business API"
        ],
        "operationId": "Aida_business_content_aida_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputAida"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputAida"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/meta-home": {
      "post": {
        "description": "A set of optimized meta title and meta description tags that will boost your search rankings for your home page.",
        "summary": "Create home SEO meta tags",
        "tags": [
          "Business API"
        ],
        "operationId": "Seo_meta_tags_home_business_content_meta_home_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputMetaHome"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputMetaHome"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/meta-blog": {
      "post": {
        "description": "A set of optimized meta title and meta description tags that will boost your search rankings for your blog.",
        "summary": "Create blog SEO meta tags",
        "tags": [
          "Business API"
        ],
        "operationId": "Seo_meta_tags_blog_business_content_meta_blog_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputMetaBlog"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputMetaBlog"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/meta-prod": {
      "post": {
        "description": "A set of optimized meta title and meta description tags that will boost your search rankings for your product page.",
        "summary": "Create product SEO meta tags",
        "tags": [
          "Business API"
        ],
        "operationId": "Seo_meta_tags_product_business_content_meta_prod_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputMetaProd"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputMetaProd"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/youtube-titles": {
      "post": {
        "description": "Catchy titles that attract more views and increase the number of shares.",
        "summary": "Create YouTube titles",
        "tags": [
          "Business API"
        ],
        "operationId": "Youtube_titles_business_content_youtube_titles_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputYoutubeTitle"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputYoutubeTitle"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/youtube-ideas": {
      "post": {
        "description": "Ready-made product video campaign ideas for you to use on YouTube.",
        "summary": "Create YouTube ideas",
        "tags": [
          "Business API"
        ],
        "operationId": "Youtube_ideas_business_content_youtube_ideas_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputYoutubeIdea"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputYoutubeIdea"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/youtube-outlines": {
      "post": {
        "description": "Video outlines that are a breeze to create and uber-engaging.",
        "summary": "Create YouTube outlines",
        "tags": [
          "Business API"
        ],
        "operationId": "Youtube_outlines_business_content_youtube_outlines_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputYoutubeOutline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputYoutubeOutline"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/youtube-descriptions": {
      "post": {
        "description": "Catchy and persuasive YouTube descriptions that help your videos rank higher.",
        "summary": "Create YouTube descriptions",
        "tags": [
          "Business API"
        ],
        "operationId": "Youtube_descriptions_business_content_youtube_descriptions_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputYoutubeDescription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputYoutubeDescription"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/youtube-intros": {
      "post": {
        "description": "Catchy intros that will get viewers hooked before they even start watching.",
        "summary": "Create YouTube intros",
        "tags": [
          "Business API"
        ],
        "operationId": "Youtube_intros_business_content_youtube_intros_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
              "ru",
              "ja",
              "zh",
              "bg",
              "cs",
              "da",
              "el",
              "hu",
              "lt",
              "lv",
              "ro",
              "sk",
              "sl",
              "sv",
              "fi",
              "et"
            ],
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InputYoutubeIntro"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/OutputYoutubeIntro"
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "schema": {
              "$ref": "#/definitions/HTTPValidationError"
            }
          }
        }
      }
    },
    "/v1/business/content/keyword-extract": {
      "post": {
        "description": "Keywords extracted from content that you can use for your optimization, SEO, or content creation purposes.",
        "summary": "Create keyword extract",
        "tags": [
          "Business API"
        ],
        "operationId": "Keyword_extract_business_content_keyword_extract_post",
        "deprecated": false,
        "parameters": [
          {
            "name": "end_user_id",
            "in": "query",
            "x-ms-summary": "End User ID",
            "description": "A unique (or random) identifier for the end user..",
            "required": false,
            "type": "string"
          },
          {
            "name": "engine",
            "in": "query",
            "x-ms-summary": "Engine",
            "description": "The AI engine to be used for this request.",
            "required": true,
            "enum": [
              "economy",
              "business"
            ],
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language for the response.",
            "required": true,
            "enum": [
              "en",
              "nl",
              "fr",
              "de",
              "it",
              "pl",
              "es",
              "pt-pt",
              "pt-br",
[...]
