{
  "swagger": "2.0",
  "info": {
    "title": "AIForged",
    "description": "AIForged is an Intelligent Document Processing solution to complex problems. AIForged can automate the processing and extraction of structured data from unstructured images. The connector provides integration and automation of intelligent document extraction with AIForged",
    "contact": {
      "name": "AIForged",
      "url": "https://www.aiforged.com",
      "email": "support@aiforged.com"
    },
    "version": "1.0"
  },
  "host": "portal.aiforged.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/Account/GetCurrentUser": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get the current logged in user",
        "description": "This operation gets info for the current logged in user",
        "operationId": "Account_GetCurrentUser",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The user information",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.UserViewModel"
            }
          }
        }
      }
    },
    "/api/Account/Logout": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Log out the current user",
        "description": "This operation logs the current user out",
        "operationId": "Account_Logout",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of documents is returned",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/api/Account/GetAPIKey": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get the API key for a user",
        "description": "This operation gets the API key for a user",
        "operationId": "Account_GetApiKey",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "The user API key",
            "x-nullable": true,
            "x-ms-summary": "The user API key",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "API key is returned",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Classes/Get": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get category information",
        "description": "This operation gets the class/category information for a class ID",
        "operationId": "Classes_Get",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "Id",
            "in": "query",
            "description": "The ID of the classification",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The ID of the classification",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The class is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ClassesViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The class or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Classes/GetByProject": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get all categories by project",
        "description": "This operation gets all classes defined in a project",
        "operationId": "Classes_GetByProject",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The class is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.ClassesViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Classes/FindByName": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get categories by project and name",
        "description": "This operation searches for a class by name in a project",
        "operationId": "Classes_FindByName",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "name",
            "in": "query",
            "description": "The class name",
            "x-nullable": true,
            "x-ms-summary": "The class name",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "lookupMethod",
            "in": "query",
            "description": "The name lookup method. Optional",
            "x-schema": {
              "$ref": "#/definitions/LarcAI.DictionaryLookupMethod"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5
            ],
            "x-ms-summary": "The name lookup method. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "number",
            "name": "minConfidence",
            "in": "query",
            "description": "The lookup match confidence of the name. Default is 0.8",
            "format": "float",
            "default": 0.8,
            "x-nullable": false,
            "x-ms-summary": "The lookup match confidence of the name. Default is 0.8",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The class is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ClassesViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Classes/GetByUser": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get categories by user and project",
        "description": "This operation gets classes by user and project",
        "operationId": "Classes_GetByUser",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "The user ID",
            "x-nullable": true,
            "x-ms-summary": "The user ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of classes is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.ClassesViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/Get": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get a document by ID",
        "description": "This operation gets document info for a document ID",
        "operationId": "Document_GetDocument",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The document could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetRoot": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get a topmost root document by ID",
        "description": "This operation gets document info for a document ID",
        "operationId": "Document_GetRoot",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The document could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetHierarchy": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get a document and its related documents",
        "description": "This operation gets the document hierarchy for a document",
        "operationId": "Document_GetHierarchy",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The document could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/Delete": {
      "delete": {
        "tags": [
          "Document"
        ],
        "summary": "Delete a document by ID",
        "description": "This operation marks a document for deletion",
        "operationId": "Document_Delete",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The ID of the document to delete",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The ID of the document to delete",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document was deleted",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The document could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/UnDelete": {
      "delete": {
        "tags": [
          "Document"
        ],
        "summary": "Undelete a document by id",
        "description": "This operation removes the deleted state from a document",
        "operationId": "Document_UnDelete",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The ID of the document to undelete",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The ID of the document to undelete",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "newstatus",
            "in": "query",
            "description": "The new status after undelete",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.DocumentStatus"
            },
            "x-nullable": false,
            "enum": [
              0,
              3,
              4,
              5,
              8,
              9,
              10,
              11,
              12,
              13,
              81,
              90,
              98,
              99,
              103,
              108,
              109,
              110,
              120,
              121,
              122,
              190
            ],
            "x-ms-summary": "The new status after undelete",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "usagefilter",
            "in": "query",
            "description": "Only update documents for a specific usage",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.UsageType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              10,
              90,
              98,
              99
            ],
            "x-ms-summary": "Only update documents for a specific usage",
            "x-ms-visibility": "important"
          },
          {
            "type": "boolean",
            "name": "recursive",
            "in": "query",
            "description": "Recursively undelete",
            "x-nullable": false,
            "x-ms-summary": "Recursively undelete",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document was undeleted",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetPreviews": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get preview documents and images for a service",
        "description": "This operation gets the preview images of documents in a service",
        "operationId": "Document_GetPreviews",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "The user ID of the owner of the service",
            "x-nullable": true,
            "x-ms-summary": "The user ID of the owner of the service",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The service ID. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of documents is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or doc could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetExtended": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Find documents by using search criteria. The results can be paged",
        "description": "This operation gets all the documents that match the search crieria",
        "operationId": "Document_GetExtendedV10",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "Owner of the document",
            "x-nullable": true,
            "x-ms-summary": "Owner of the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "usage",
            "in": "query",
            "description": "The folder or usage. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.UsageType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              10,
              90,
              98,
              99
            ],
            "x-ms-summary": "The folder or usage. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "status",
            "in": "query",
            "description": "The status. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.DocumentStatus"
            },
            "x-nullable": true,
            "enum": [
              0,
              3,
              4,
              5,
              8,
              9,
              10,
              11,
              12,
              13,
              81,
              90,
              98,
              99,
              103,
              108,
              109,
              110,
              120,
              121,
              122,
              190
            ],
            "x-ms-summary": "The status. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "classname",
            "in": "query",
            "description": "A class name filter. Optional",
            "x-nullable": true,
            "x-ms-summary": "A class name filter. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "filename",
            "in": "query",
            "description": "Filename filter. Optional",
            "x-nullable": true,
            "x-ms-summary": "Filename filter. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "filetype",
            "in": "query",
            "description": "File type filter. Optional",
            "x-nullable": true,
            "x-ms-summary": "File type filter. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "start",
            "in": "query",
            "description": "Start date range for documents. Optional",
            "format": "date-time",
            "x-nullable": true,
            "x-ms-summary": "Start date range for documents. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "end",
            "in": "query",
            "description": "End date range for documents. Optional",
            "format": "date-time",
            "x-nullable": true,
            "x-ms-summary": "End date range for documents. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "masterid",
            "in": "query",
            "description": "Master or parent of the document. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "Master or parent of the document. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "pageNo",
            "in": "query",
            "description": "Page number. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "Page number. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "Size of a page. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "Size of a page. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "sortField",
            "in": "query",
            "description": "Sort by field. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.SortField"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5
            ],
            "x-ms-summary": "Sort by field. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction based on the sortfield. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.SortDirection"
            },
            "x-nullable": true,
            "enum": [
              0,
              1
            ],
            "x-ms-summary": "Sort direction based on the sortfield. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "comment",
            "in": "query",
            "description": "Filter for comments. Optional",
            "x-nullable": true,
            "x-ms-summary": "Filter for comments. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "result",
            "in": "query",
            "description": "Filter for results. Optional",
            "x-nullable": true,
            "x-ms-summary": "Filter for results. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "resultId",
            "in": "query",
            "description": "Filter for a result ID. Optional",
            "x-nullable": true,
            "x-ms-summary": "Filter for a result ID. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "resultIndex",
            "in": "query",
            "description": "Filter for result index. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "Filter for result index. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "externalId",
            "in": "query",
            "description": "Filter for external IDs. Optional",
            "x-nullable": true,
            "x-ms-summary": "Filter for external IDs. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "docGuid",
            "in": "query",
            "description": "Filter for doc guids. Optional",
            "x-nullable": true,
            "x-ms-summary": "Filter for doc guids. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "classId",
            "in": "query",
            "description": "Filter for class ID. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "Filter for class ID. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "Filter for document ID. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "Filter for document ID. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of documents is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetData": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get document images",
        "description": "This operation gets the document page images",
        "operationId": "Document_GetDataV10",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "Document id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "Document id",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "type",
            "in": "query",
            "description": "Image type",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.DocumentDataType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              10,
              11
            ],
            "x-ms-summary": "Image type",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "contentType",
            "in": "query",
            "description": "Image content type",
            "x-nullable": true,
            "x-ms-summary": "Image content type",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "text",
            "in": "query",
            "description": "A test filter",
            "x-nullable": true,
            "x-ms-summary": "A test filter",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "blobid",
            "in": "query",
            "description": "The related blob id. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The related blob id. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "pageindex",
            "in": "query",
            "description": "The page index. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The page index. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "imagesCount",
            "in": "query",
            "description": "Number of images to return. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "Number of images to return. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of documents is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.DocumentDataViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "The user is not authorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or doc could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetBlob": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get the data blob for a document id by image type",
        "description": "This operation gets the blob storage where the document data is stored",
        "operationId": "Document_GetBlobV10",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "User id that owns the document",
            "x-nullable": true,
            "x-ms-summary": "User id that owns the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "Blob id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "Blob id",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "type",
            "in": "query",
            "description": "The blob type. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.DocumentDataType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              10,
              11
            ],
            "x-ms-summary": "The blob type. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The blob is returned"
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetBlobById": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get blob by blob ID",
        "description": "This operation gets the blob storage associated with the ID",
        "operationId": "Document_GetBlobById",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The blob ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The blob ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The blob is returned"
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc, project, service or blob could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/DeleteBlob": {
      "delete": {
        "tags": [
          "Document"
        ],
        "summary": "Delete a document blob",
        "description": "This operation deletes a document blob",
        "operationId": "Document_DeleteBlob",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The blob ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The blob ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The blob was deleted"
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc, project, service or blob could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/UploadFile": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Upload a document",
        "description": "This operation uploads a document to the AIForged server",
        "operationId": "Document_UploadFile",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "The user ID",
            "x-nullable": true,
            "x-ms-summary": "The user ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "classId",
            "in": "query",
            "description": "The cass ID",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The cass ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "status",
            "in": "query",
            "description": "The status of document to upload",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.DocumentStatus"
            },
            "x-nullable": false,
            "enum": [
              0,
              3,
              4,
              5,
              8,
              9,
              10,
              11,
              12,
              13,
              81,
              90,
              98,
              99,
              103,
              108,
              109,
              110,
              120,
              121,
              122,
              190
            ],
            "x-ms-summary": "The status of document to upload",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "usage",
            "in": "query",
            "description": "The usage of the document to upload",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.UsageType"
            },
            "x-nullable": false,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              10,
              90,
              98,
              99
            ],
            "x-ms-summary": "The usage of the document to upload",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "masterid",
            "in": "query",
            "description": "The parent document ID. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The parent document ID. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "comment",
            "in": "query",
            "description": "Comments to be added to the document",
            "x-nullable": true,
            "x-ms-summary": "Comments to be added to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "externalId",
            "in": "query",
            "description": "The external ID of the document",
            "x-nullable": true,
            "x-ms-summary": "The external ID of the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "result",
            "in": "query",
            "description": "Result data to be added to the document",
            "x-nullable": true,
            "x-ms-summary": "Result data to be added to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "resultId",
            "in": "query",
            "description": "The result ID",
            "x-nullable": true,
            "x-ms-summary": "The result ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "resultIndex",
            "in": "query",
            "description": "The result index",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The result index",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "guid",
            "in": "query",
            "description": "A guid ID",
            "format": "guid",
            "x-nullable": false,
            "x-ms-summary": "A guid ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "file",
            "name": "file",
            "in": "formData",
            "description": "File data",
            "x-nullable": true,
            "x-ms-summary": "File data",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of files uploaded is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/Classify": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Upload and classify a document",
        "description": "This operation uploads and classifies a document",
        "operationId": "Document_Classify",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "masterId",
            "in": "query",
            "description": "The parent document ID",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The parent document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "comment",
            "in": "query",
            "description": "Comment to add to the document",
            "x-nullable": true,
            "x-ms-summary": "Comment to add to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "externalId",
            "in": "query",
            "description": "Related or external document ID",
            "x-nullable": true,
            "x-ms-summary": "Related or external document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "result",
            "in": "query",
            "description": "Result data to add to the document",
            "x-nullable": true,
            "x-ms-summary": "Result data to add to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "resultId",
            "in": "query",
            "description": "The result ID",
            "x-nullable": true,
            "x-ms-summary": "The result ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "resultIndex",
            "in": "query",
            "description": "The result index. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The result index. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "guid",
            "in": "query",
            "description": "A Guid ID",
            "format": "guid",
            "x-nullable": false,
            "x-ms-summary": "A Guid ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "file",
            "name": "file",
            "in": "formData",
            "description": "The file data",
            "x-nullable": true,
            "x-ms-summary": "The file data",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The classified document is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/ExtractAndVerify": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Upload and extract information for verification",
        "description": "This operation uploads a document and extracts",
        "operationId": "Document_ExtractAndVerify",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "masterId",
            "in": "query",
            "description": "The parent document ID",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The parent document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "comment",
            "in": "query",
            "description": "Comments to add to the document",
            "x-nullable": true,
            "x-ms-summary": "Comments to add to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "externalId",
            "in": "query",
            "description": "Related or external document ID",
            "x-nullable": true,
            "x-ms-summary": "Related or external document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "result",
            "in": "query",
            "description": "Result data to add to the document",
            "x-nullable": true,
            "x-ms-summary": "Result data to add to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "resultId",
            "in": "query",
            "description": "The result ID",
            "x-nullable": true,
            "x-ms-summary": "The result ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "resultIndex",
            "in": "query",
            "description": "The result index. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The result index. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "guid",
            "in": "query",
            "description": "A Guid ID",
            "format": "guid",
            "x-nullable": false,
            "x-ms-summary": "A Guid ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "file",
            "name": "file",
            "in": "formData",
            "description": "The file data",
            "x-nullable": true,
            "x-ms-summary": "The file data",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The extracted document with parameters is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetClassification": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get a document classification",
        "description": "This operation gets the document classification/category",
        "operationId": "Document_GetClassification",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "docId",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document class is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ClassesViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc, project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/Get": {
      "get": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Get parameter definition by ID",
        "description": "This operation gets the parameter definition associated with the ID",
        "operationId": "ParamDef_Get",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The parameter definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The parameter definition ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The parameter definition is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "The user is not authorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The parameter definition or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/GetParentService": {
      "get": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Get parent service for a parameter definition by Id",
        "description": "This operation gets the parent service of a parameter definition",
        "operationId": "ParamDef_GetParentService",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The parameter definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The parameter definition ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The parameter definition service is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The parameter definition or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/GetHierachy": {
      "get": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Get parameter definition hierarchy for a service",
        "description": "This operation gets the hierarchy of fields defined in a service",
        "operationId": "ParamDef_GetHierachyV10",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project id",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service id",
            "x-ms-visibility": "important"
          },
          {
            "type": "boolean",
            "name": "includeCount",
            "in": "query",
            "description": "Include count stats. Optional",
            "default": false,
            "x-nullable": false,
            "x-ms-summary": "Include count stats. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "boolean",
            "name": "includeSettings",
            "in": "query",
            "description": "Include settings. Optional",
            "default": true,
            "x-nullable": false,
            "x-ms-summary": "Include settings. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "boolean",
            "name": "includeChildren",
            "in": "query",
            "description": "Include child definiitions. Optional",
            "default": false,
            "x-nullable": false,
            "x-ms-summary": "Include child definiitions. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "category",
            "in": "query",
            "description": "Definition category. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.ParameterDefinitionCategory"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              20,
              21,
              22,
              40
            ],
            "x-ms-summary": "Definition category. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "grouping",
            "in": "query",
            "description": "Definition grouping. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.GroupingType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              99
            ],
            "x-ms-summary": "Definition grouping. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "vt",
            "in": "query",
            "description": "Definition value type. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.ValueType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15,
              17,
              18,
              19,
              20,
              21,
              90,
              91,
              98,
              99
            ],
            "x-ms-summary": "Definition value type. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The parameter definition hierarchy is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/Create": {
      "post": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Create a new parameter definition",
        "description": "This operation creates a new parameter definition",
        "operationId": "ParamDef_Create",
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "name": "paramdef",
            "in": "body",
            "required": true,
            "description": "The definition model to create",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            },
            "x-nullable": false,
            "x-ms-summary": "The definition model to create",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The created parameter definition is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The definition could not be created",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/Update": {
      "put": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Update a parameter definition",
        "description": "This operation gets the hierarchy of fields defined in a service",
        "operationId": "ParamDef_Update",
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "name": "paramdef",
            "in": "body",
            "required": true,
            "description": "The definition model to update",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            },
            "x-nullable": false,
            "x-ms-summary": "The definition model to update",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The updated parameter definition is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/Delete": {
      "delete": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Delete a parameter definition",
        "description": "This operation soft deletes a parameter definition",
        "operationId": "ParamDef_Delete",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "paramdefid",
            "in": "query",
            "description": "The parameter definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The parameter definition ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The parameter definition hierarchy is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/GetSetting": {
      "get": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Get settings for a parameter definition by ID",
        "description": "This operation gets a setting for a parameter definition by ID",
        "operationId": "ParamDef_GetSetting",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The parameter definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The parameter definition ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The setting is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.DAL.Models.ParameterDefSettingViewModel"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "The user is unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/GetLastSetting": {
      "get": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Get the latest setting for a parameter definition",
        "description": "This operation gets the latest setting for a parameter definition ID",
        "operationId": "ParamDef_GetLastSetting",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "pdId",
            "in": "query",
            "description": "The parameter definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The parameter definition ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "type",
            "in": "query",
            "description": "The setting type. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.SettingType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              9,
              10
            ],
            "x-ms-summary": "The setting type. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The setting is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.DAL.Models.ParameterDefSettingViewModel"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "The user is unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/GetSettings": {
      "get": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Get all settings for a parameter definition",
        "description": "This operation gets al setting for a parameter definition ID",
        "operationId": "ParamDef_GetSettings",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "pdId",
            "in": "query",
            "description": "The parameter definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The parameter definition ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "type",
            "in": "query",
            "description": "The definition setting type. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.SettingType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              9,
              10
            ],
            "x-ms-summary": "The definition setting type. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The setting list is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.DAL.Models.ParameterDefSettingViewModel"
              }
            }
          },
          "401": {
            "x-nullable": false,
            "description": "The user is unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/SaveSetting": {
      "post": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Save a setting for a parameter definition",
        "description": "This operation saves a setting for a parameter definition ID",
        "operationId": "ParamDef_SaveSetting",
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "The user id",
            "x-nullable": true,
            "x-ms-summary": "The user id",
            "x-ms-visibility": "important"
          },
          {
            "name": "setting",
            "in": "body",
            "required": true,
            "description": "The definition setting model",
            "schema": {
              "$ref": "#/definitions/AIForged.DAL.Models.ParameterDefSettingViewModel"
            },
            "x-nullable": false,
            "x-ms-summary": "The definition setting model",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The setting is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.DAL.Models.ParameterDefSettingViewModel"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "The user is unauthorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Parameters/Get": {
      "get": {
        "tags": [
          "Parameters"
        ],
        "summary": "Get parameter value",
        "description": "This operation gets the value of a parameter in a document",
        "operationId": "Parameters_Get",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "docId",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "category",
            "in": "query",
            "description": "The parameter category. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.ParameterDefinitionCategory"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              20,
              21,
              22,
              40
            ],
            "x-ms-summary": "The parameter category. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "grouping",
            "in": "query",
            "description": "The parameter grouping type. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.GroupingType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              99
            ],
            "x-ms-summary": "The parameter grouping type. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "boolean",
            "name": "includeverification",
            "in": "query",
            "description": "Include verification data. Optional",
            "default": true,
            "x-nullable": false,
            "x-ms-summary": "Include verification data. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "required": true,
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of parameters is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.DocumentParameterViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Parameters/GetUsage": {
      "get": {
        "tags": [
          "Parameters"
        ],
        "summary": "Get parameter definition usage",
        "description": "This operation gets all parameters associated with the parameter definition",
[...]
