{
  "swagger": "2.0",
  "info": {
    "title": "AIForged",
    "description": "AIForged is an Intelligent Document Processing solution to complex problems. AIForged can automate the processing and extraction of structured data from unstructured images. The connector provides integration and automation of intellegent document extraction with AIForged",
    "contact": {
      "name": "AIForged",
      "url": "https://www.aiforged.com",
      "email": "support@aiforged.com"
    },
    "license": {
      "name": "Proprietary license"
    },
    "version": "v1.1"
  },
  "host": "portal.aiforged.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/Account/GetCurrentUser": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get the current logged in user",
        "description": "This operation gets info for the current logged in user",
        "operationId": "Account_GetCurrentUser",
        "parameters": [
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The user",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.UserViewModel"
            }
          }
        }
      }
    },
    "/api/Account/GetAPIKey": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get the API key for a user",
        "description": "This operation gets the API key for a user",
        "operationId": "Account_GetApiKey",
        "parameters": [
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "The user ID",
            "x-nullable": true,
            "x-ms-summary": "The user ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "API key is returned",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Classes/Get": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get classification information",
        "description": "This operation gets the class/category information for a class ID",
        "operationId": "Classes_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "Id",
            "in": "query",
            "description": "The ID of the classification",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The ID of the classification",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The class is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ClassesViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The class or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Classes/GetByProject": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get all categories by project",
        "description": "This operation gets all classes defined in a project",
        "operationId": "Classes_GetByProject",
        "parameters": [
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The class is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.ClassesViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Classes/FindByName": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get category by project or name",
        "description": "This operation searches for a class by name in a project",
        "operationId": "Classes_FindByName",
        "parameters": [
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "name",
            "in": "query",
            "description": "The class name",
            "x-nullable": true,
            "x-ms-summary": "The class name",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "lookupMethod",
            "in": "query",
            "description": "The name lookup method. Optional",
            "x-schema": {
              "$ref": "#/definitions/LarcAI.DictionaryLookupMethod"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4
            ],
            "x-ms-summary": "The name lookup method. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "number",
            "name": "minConfidence",
            "in": "query",
            "description": "The lookup match confidence of the name. Default is 0.8",
            "format": "float",
            "default": 0.8,
            "x-nullable": false,
            "x-ms-summary": "The lookup match confidence of the name. Default is 0.8",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The class is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ClassesViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Classes/GetByUser": {
      "get": {
        "tags": [
          "Classes"
        ],
        "summary": "Get classes by user and project",
        "description": "This operation gets classes by user and project",
        "operationId": "Classes_GetByUser",
        "parameters": [
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "The user ID",
            "x-nullable": true,
            "x-ms-summary": "The user ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of classes is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.ClassesViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/Get": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "Get custom dataset and data",
        "description": "Get custom dataset and data",
        "operationId": "DataSet_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "docId",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "defId",
            "in": "query",
            "description": "The parameter definition ID of the dataset",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The parameter definition ID of the dataset",
            "x-ms-visibility": "important"
          },
          {
            "type": "boolean",
            "name": "includeData",
            "in": "query",
            "description": "Should dataset data also be returned",
            "x-nullable": false,
            "x-ms-summary": "Should dataset data also be returned",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "pageNo",
            "in": "query",
            "description": "The page number of the dataset data. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The page number of the dataset data. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "The page size of the data. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The page size of the data. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "sortFieldDefId",
            "in": "query",
            "description": "The definition ID of the field being sorted",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The definition ID of the field being sorted",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "sortDirection",
            "in": "query",
            "description": "Ascending or descending order",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.SortDirection"
            },
            "x-nullable": true,
            "enum": [
              0,
              1
            ],
            "x-ms-summary": "Ascending or descending order",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "searchField",
            "in": "query",
            "description": "The field of the dataset to be searched. Optional",
            "x-nullable": true,
            "x-ms-summary": "The field of the dataset to be searched. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "searchFilter",
            "in": "query",
            "description": "The filter to be applied on the search field",
            "x-nullable": true,
            "x-ms-summary": "The filter to be applied on the search field",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The newly created custom dataset record is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.CustomDataSet"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/GetByName": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "Get dataset by name",
        "description": "Get dataset by name",
        "operationId": "DataSet_GetByName",
        "parameters": [
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "dataSetName",
            "in": "query",
            "description": "The dataset name",
            "x-nullable": true,
            "x-ms-summary": "The dataset name",
            "x-ms-visibility": "important"
          },
          {
            "type": "boolean",
            "name": "includeData",
            "in": "query",
            "description": "Should dataset data also be returned",
            "x-nullable": false,
            "x-ms-summary": "Should dataset data also be returned",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "pageNo",
            "in": "query",
            "description": "The page number of the dataset entries. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The page number of the dataset entries. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "The page size of the data. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The page size of the data. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "sortFieldDefId",
            "in": "query",
            "description": "The definition ID of the field being sorted",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The definition ID of the field being sorted",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "sortDirection",
            "in": "query",
            "description": "Ascending or descending order",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.SortDirection"
            },
            "x-nullable": true,
            "enum": [
              0,
              1
            ],
            "x-ms-summary": "Ascending or descending order",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "searchField",
            "in": "query",
            "description": "The field of the dataset to be searched. Optional",
            "x-nullable": true,
            "x-ms-summary": "The field of the dataset to be searched. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "searchFilter",
            "in": "query",
            "description": "The filter to be applied on the search field",
            "x-nullable": true,
            "x-ms-summary": "The filter to be applied on the search field",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The newly created custom dataset record is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.CustomDataSet"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/GetById": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "Get custom dataset by ID",
        "description": "This operation gets a custom dataset by ID",
        "operationId": "DataSet_GetById",
        "parameters": [
          {
            "type": "integer",
            "name": "dataSetId",
            "in": "query",
            "description": "The dataset ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The dataset ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "boolean",
            "name": "includeData",
            "in": "query",
            "description": "Should dataset date be included",
            "x-nullable": false,
            "x-ms-summary": "Should dataset date be included",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "pageNo",
            "in": "query",
            "description": "Dataset data page number. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "Dataset data page number. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "Dataset data page size. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "Dataset data page size. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "sortFieldDefId",
            "in": "query",
            "description": "Field definition of dataset the sort direction will be applied. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "Field definition of dataset the sort direction will be applied. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "sortDirection",
            "in": "query",
            "description": "Ascending or descending. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.SortDirection"
            },
            "x-nullable": true,
            "enum": [
              0,
              1
            ],
            "x-ms-summary": "Ascending or descending. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "searchField",
            "in": "query",
            "description": "The dataset field that should be searched. Optional",
            "x-nullable": true,
            "x-ms-summary": "The dataset field that should be searched. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "searchFilter",
            "in": "query",
            "description": "The search filter on the specified field. Optional",
            "x-nullable": true,
            "x-ms-summary": "The search filter on the specified field. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The custom dataset is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.CustomDataSet"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The dataset, service or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/GetAll": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "Get all datasets for a service",
        "description": "This operation gets all custom datasets created in a service",
        "operationId": "DataSet_GetAll",
        "parameters": [
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project id",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "Service id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "Service id",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of custom dataset record is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.CustomDataSet"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The service or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/Create": {
      "post": {
        "tags": [
          "DataSet"
        ],
        "summary": "Create a new empty custom dataset",
        "description": "This operation creates a new empty custom dataset",
        "operationId": "DataSet_Create",
        "parameters": [
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "dataSetName",
            "in": "query",
            "description": "The name of the new dataset",
            "x-nullable": true,
            "x-ms-summary": "The name of the new dataset",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The newly created custom dataset is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.CustomDataSet"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The service or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/Delete": {
      "delete": {
        "tags": [
          "DataSet"
        ],
        "summary": "Delete a custom dataset",
        "description": "This operation deletes custom dataset data and optionally field definitions",
        "operationId": "DataSet_Delete",
        "parameters": [
          {
            "type": "integer",
            "name": "docid",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "defId",
            "in": "query",
            "description": "The definition ID of the custom dataset",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The definition ID of the custom dataset",
            "x-ms-visibility": "important"
          },
          {
            "type": "boolean",
            "name": "definition",
            "in": "query",
            "description": "Should the dataset fields also be deleted",
            "x-nullable": false,
            "x-ms-summary": "Should the dataset fields also be deleted",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The custom dataset was deleted successfuly",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/GetRecord": {
      "get": {
        "tags": [
          "DataSet"
        ],
        "summary": "Get a custom dataset record",
        "description": "Get a custom dataset record",
        "operationId": "DataSet_GetRecord",
        "parameters": [
          {
            "type": "integer",
            "name": "docId",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "defId",
            "in": "query",
            "description": "The dataset definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The dataset definition ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "keyId",
            "in": "query",
            "description": "The record ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The record ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "boolean",
            "name": "includeVerifications",
            "in": "query",
            "description": "Should verifications also be returned",
            "x-nullable": false,
            "x-ms-summary": "Should verifications also be returned",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The custom dataset was deleted successfuly",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.CustomDataSetRecord"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/CreateRecord": {
      "post": {
        "tags": [
          "DataSet"
        ],
        "summary": "Create a custom dataset record",
        "description": "This operation creates custom dataset record or row in an existing custom dataset",
        "operationId": "DataSet_CreateRecord",
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "docId",
            "in": "query",
            "description": "The document id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document id",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "defId",
            "in": "query",
            "description": "The custom dataset definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The custom dataset definition ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "record",
            "in": "body",
            "required": true,
            "description": "The record object to add to the custom dataset",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.CustomDataSetRecord"
            },
            "x-nullable": false,
            "x-ms-summary": "The record object to add to the custom dataset",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The newly created custom dataset record is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.CustomDataSetRecord"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/UpdateRecord": {
      "put": {
        "tags": [
          "DataSet"
        ],
        "summary": "Update a custom dataset record",
        "description": "Update a custom dataset record",
        "operationId": "DataSet_UpdateRecord",
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "docId",
            "in": "query",
            "description": "The document id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document id",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "defId",
            "in": "query",
            "description": "The definition ID of the dataset",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The definition ID of the dataset",
            "x-ms-visibility": "important"
          },
          {
            "name": "record",
            "in": "body",
            "required": true,
            "description": "The data used to update the record",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.CustomDataSetRecord"
            },
            "x-nullable": false,
            "x-ms-summary": "The data used to update the record",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The custom dataset was deleted successfuly",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.CustomDataSetRecord"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/DeleteRecord": {
      "delete": {
        "tags": [
          "DataSet"
        ],
        "summary": "Delete a custom dataset record by key id",
        "description": "Delete a custom dataset record by key id",
        "operationId": "DataSet_DeleteRecord",
        "parameters": [
          {
            "type": "integer",
            "name": "docId",
            "in": "query",
            "description": "The document id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document id",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "defId",
            "in": "query",
            "description": "The parameter definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The parameter definition ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "keyId",
            "in": "query",
            "description": "The record ID to delete",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The record ID to delete",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The newly created custom dataset record is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.CustomDataSetRecord"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/DeleteRecords": {
      "delete": {
        "tags": [
          "DataSet"
        ],
        "summary": "Delete multiple custom dataset records by key ids",
        "description": "Delete multiple custom dataset records by key ids",
        "operationId": "DataSet_DeleteRecords",
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "docId",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "defId",
            "in": "query",
            "description": "The dataset definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The dataset definition ID",
            "x-ms-visibility": "important"
          },
          {
            "name": "keyIds",
            "in": "body",
            "required": true,
            "description": "The record ID to delete",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-nullable": false,
            "x-ms-summary": "The record ID to delete",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The custom dataset was deleted successfuly",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.CustomDataSetRecord"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/DataSet/Save": {
      "post": {
        "tags": [
          "DataSet"
        ],
        "summary": "Save a custom dataset",
        "description": "Save a custom dataset",
        "operationId": "DataSet_Save",
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "type": "boolean",
            "name": "mergeData",
            "in": "query",
            "description": "Should dataset data be merged",
            "x-nullable": false,
            "x-ms-summary": "Should dataset data be merged",
            "x-ms-visibility": "important"
          },
          {
            "name": "dataset",
            "in": "body",
            "required": true,
            "description": "The dataset to save",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.CustomDataSet"
            },
            "x-nullable": false,
            "x-ms-summary": "The dataset to save",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The custom dataset was saved successfuly",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/Get": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get a document by ID",
        "description": "This operation gets document info for a document ID",
        "operationId": "Document_GetDocument",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The document could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetHierarchy": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get a document and its related documents",
        "description": "This operation gets the document hierarchy for a document",
        "operationId": "Document_GetHierarchy",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The document could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/Delete": {
      "delete": {
        "tags": [
          "Document"
        ],
        "summary": "Delete a document by ID",
        "description": "This operation marks a document for deletion",
        "operationId": "Document_Delete",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The ID of the document to delete",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The ID of the document to delete",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document was deleted",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The document could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/UnDelete": {
      "delete": {
        "tags": [
          "Document"
        ],
        "summary": "Undelete a document by id",
        "description": "This operation removes the deleted state from a document",
        "operationId": "Document_UnDelete",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The ID of the document to undelete",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The ID of the document to undelete",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "newstatus",
            "in": "query",
            "description": "The new status after undelete",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.DocumentStatus"
            },
            "x-nullable": false,
            "enum": [
              0,
              3,
              4,
              5,
              8,
              9,
              10,
              11,
              12,
              13,
              81,
              90,
              98,
              99,
              103,
              108,
              109,
              110,
              120,
              121,
              122,
              190
            ],
            "x-ms-summary": "The new status after undelete",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "usagefilter",
            "in": "query",
            "description": "Only update documents for a specific usage",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.UsageType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              10,
              90,
              98,
              99
            ],
            "x-ms-summary": "Only update documents for a specific usage",
            "x-ms-visibility": "important"
          },
          {
            "type": "boolean",
            "name": "recursive",
            "in": "query",
            "description": "Recursively undelete",
            "x-nullable": false,
            "x-ms-summary": "Recursively undelete",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document was undeleted",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetPreviews": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get preview documents and images for a service",
        "description": "This operation gets the preview images of documents in a service",
        "operationId": "Document_GetPreviews",
        "parameters": [
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "The user ID of the owner of the service",
            "x-nullable": true,
            "x-ms-summary": "The user ID of the owner of the service",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The service ID. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of document is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or doc could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetImages": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get document images",
        "description": "This operation gets the document page images",
        "operationId": "Document_GetImages",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The document id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document id",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "Service id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "Service id",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of document images is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.DocumentDataViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project, service or doc could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetBlobById": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get blob by blob key",
        "description": "This operation gets the blob storage associated with the ID",
        "operationId": "Document_GetBlobById",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The blob ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The blob ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The blob is returned"
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc, project, service or blob could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/DeleteBlob": {
      "delete": {
        "tags": [
          "Document"
        ],
        "summary": "Delete a document blob",
        "description": "This operation deletes a document blob",
        "operationId": "Document_DeleteBlob",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The blob ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The blob ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "The blob was deleted"
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc, project, service or blob could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/UploadFile": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Upload a document",
        "description": "This operation uploads a document to the AIForged server",
        "operationId": "Document_UploadFile",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "userId",
            "in": "query",
            "description": "The user ID",
            "x-nullable": true,
            "x-ms-summary": "The user ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "classId",
            "in": "query",
            "description": "The cass ID",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The cass ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "status",
            "in": "query",
            "description": "The status of document to upload",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.DocumentStatus"
            },
            "x-nullable": false,
            "enum": [
              0,
              3,
              4,
              5,
              8,
              9,
              10,
              11,
              12,
              13,
              81,
              90,
              98,
              99,
              103,
              108,
              109,
              110,
              120,
              121,
              122,
              190
            ],
            "x-ms-summary": "The status of document to upload",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "usage",
            "in": "query",
            "description": "The usage of the document to upload",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.UsageType"
            },
            "x-nullable": false,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              10,
              90,
              98,
              99
            ],
            "x-ms-summary": "The usage of the document to upload",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "masterid",
            "in": "query",
            "description": "The parent document ID. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The parent document ID. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "comment",
            "in": "query",
            "description": "Comments to be added to the document",
            "x-nullable": true,
            "x-ms-summary": "Comments to be added to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "externalId",
            "in": "query",
            "description": "The external ID of the document",
            "x-nullable": true,
            "x-ms-summary": "The external ID of the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "result",
            "in": "query",
            "description": "Result data to be added to the document",
            "x-nullable": true,
            "x-ms-summary": "Result data to be added to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "resultId",
            "in": "query",
            "description": "The result ID",
            "x-nullable": true,
            "x-ms-summary": "The result ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "resultIndex",
            "in": "query",
            "description": "The result index",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The result index",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "guid",
            "in": "query",
            "description": "A guid ID",
            "format": "guid",
            "x-nullable": false,
            "x-ms-summary": "A guid ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "file",
            "name": "file",
            "in": "formData",
            "description": "File data",
            "x-nullable": true,
            "x-ms-summary": "File data",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of files uploaded is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/Classify": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Upload and classify a document",
        "description": "This operation uploads and classifies a document",
        "operationId": "Document_Classify",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "masterId",
            "in": "query",
            "description": "The parent document ID",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The parent document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "comment",
            "in": "query",
            "description": "Comment to add to the document",
            "x-nullable": true,
            "x-ms-summary": "Comment to add to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "externalId",
            "in": "query",
            "description": "Related or external document ID",
            "x-nullable": true,
            "x-ms-summary": "Related or external document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "result",
            "in": "query",
            "description": "Result data to add to the document",
            "x-nullable": true,
            "x-ms-summary": "Result data to add to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "resultId",
            "in": "query",
            "description": "The result ID",
            "x-nullable": true,
            "x-ms-summary": "The result ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "resultIndex",
            "in": "query",
            "description": "The result index. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The result index. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "guid",
            "in": "query",
            "description": "A Guid ID",
            "format": "guid",
            "x-nullable": false,
            "x-ms-summary": "A Guid ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "file",
            "name": "file",
            "in": "formData",
            "description": "The file data",
            "x-nullable": true,
            "x-ms-summary": "The file data",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The classified document is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/ExtractAndVerify": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "Upload and extract information for verification",
        "description": "This operation uploads a document and extracts",
        "operationId": "Document_ExtractAndVerify",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "masterId",
            "in": "query",
            "description": "The parent document ID",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The parent document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "comment",
            "in": "query",
            "description": "Comments to add to the document",
            "x-nullable": true,
            "x-ms-summary": "Comments to add to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "externalId",
            "in": "query",
            "description": "Related or external document ID",
            "x-nullable": true,
            "x-ms-summary": "Related or external document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "result",
            "in": "query",
            "description": "Result data to add to the document",
            "x-nullable": true,
            "x-ms-summary": "Result data to add to the document",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "resultId",
            "in": "query",
            "description": "The result ID",
            "x-nullable": true,
            "x-ms-summary": "The result ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "resultIndex",
            "in": "query",
            "description": "The result index. Optional",
            "format": "int32",
            "x-nullable": true,
            "x-ms-summary": "The result index. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "guid",
            "in": "query",
            "description": "A Guid ID",
            "format": "guid",
            "x-nullable": false,
            "x-ms-summary": "A Guid ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "file",
            "name": "file",
            "in": "formData",
            "description": "The file data",
            "x-nullable": true,
            "x-ms-summary": "The file data",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The extracted document with parameters is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.DocumentViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Document/GetClassification": {
      "get": {
        "tags": [
          "Document"
        ],
        "summary": "Get a document classification",
        "description": "This operation gets the document classification/category",
        "operationId": "Document_GetClassification",
        "parameters": [
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "docId",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document class is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ClassesViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc, project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/Get": {
      "get": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Get definition by ID",
        "description": "This operation gets the parameter definition associated with the ID",
        "operationId": "ParamDef_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The parameter definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The parameter definition ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The parameter definition is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "The user is not authorized",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The parameter definition or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/GetParentService": {
      "get": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Get parent service for a parameter def by Id",
        "description": "This operation gets the parent service of a parameter definition",
        "operationId": "ParamDef_GetParentService",
        "parameters": [
          {
            "type": "integer",
            "name": "id",
            "in": "query",
            "description": "The parameter definition ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The parameter definition ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The parameter definition service is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The parameter definition or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/ParamDef/GetHierachy": {
      "get": {
        "tags": [
          "ParamDef"
        ],
        "summary": "Get hierarchy of fields for a service",
        "description": "This operation gets the hierarchy of fields defined in a service",
        "operationId": "ParamDef_GetHierachy",
        "parameters": [
          {
            "type": "integer",
            "name": "projectId",
            "in": "query",
            "description": "The project id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The project id",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service id",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service id",
            "x-ms-visibility": "important"
          },
          {
            "type": "boolean",
            "name": "includeCount",
            "in": "query",
            "description": "Include count stats. Optional",
            "default": false,
            "x-nullable": false,
            "x-ms-summary": "Include count stats. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "boolean",
            "name": "includeSettings",
            "in": "query",
            "description": "Include settings. Optional",
            "default": true,
            "x-nullable": false,
            "x-ms-summary": "Include settings. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "boolean",
            "name": "includeChildren",
            "in": "query",
            "description": "Include child definiitions. Optional",
            "default": false,
            "x-nullable": false,
            "x-ms-summary": "Include child definiitions. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The parameter definition hierarchy is returned",
            "schema": {
              "$ref": "#/definitions/AIForged.ViewModels.ParameterDefViewModel"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The project or service could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Parameters/Get": {
      "get": {
        "tags": [
          "Parameters"
        ],
        "summary": "Get parameter value",
        "description": "This operation gets the value of a parameter in a document",
        "operationId": "Parameters_Get",
        "parameters": [
          {
            "type": "integer",
            "name": "docId",
            "in": "query",
            "description": "The document ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The document ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "stpdId",
            "in": "query",
            "description": "The service ID",
            "format": "int32",
            "x-nullable": false,
            "x-ms-summary": "The service ID",
            "x-ms-visibility": "important"
          },
          {
            "type": "integer",
            "name": "category",
            "in": "query",
            "description": "The parameter category. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.ParameterDefinitionCategory"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              20,
              21,
              22,
              40
            ],
            "x-ms-summary": "The parameter category. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "integer",
            "name": "grouping",
            "in": "query",
            "description": "The parameter grouping type. Optional",
            "x-schema": {
              "$ref": "#/definitions/AIForged.DAL.GroupingType"
            },
            "x-nullable": true,
            "enum": [
              0,
              1,
              2,
              3,
              4,
              5,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              99
            ],
            "x-ms-summary": "The parameter grouping type. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "boolean",
            "name": "includeverification",
            "in": "query",
            "description": "Include verification data. Optional",
            "default": true,
            "x-nullable": false,
            "x-ms-summary": "Include verification data. Optional",
            "x-ms-visibility": "advanced"
          },
          {
            "type": "string",
            "name": "X-Api-Version",
            "in": "header",
            "description": "API version header",
            "x-nullable": true,
            "x-ms-summary": "API version header",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of parameters is returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AIForged.ViewModels.DocumentParameterViewModel"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "An error occurred or malformed request",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "The user does not have permission",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "The doc or project could not be found",
            "schema": {
              "$ref": "#/definitions/Microsoft.AspNetCore.Mvc.ProblemDetails"
            }
          }
        }
      }
    },
    "/api/Parameters/GetUsage": {
      "get": {
        "tags": [
          "Parameters"
        ],
        "summary": "Get parameter definition usage",
        "description": "This operation gets all parameters associated with the parameter definition",
        "operationId": "Parameters_GetUsage",
        "consumes": [
          "application/json",
          "text/plain"
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "pdId",
            "in": "query",
[...]
