{
  "swagger": "2.0",
  "info": {
    "title": "Every",
    "description": "Use Every.org's free fundraising services to create innovative nonprofit experiences. The Nonprofit Search allows you to incorporate search of over 1 million 501(c)(3) organizations into your data, get metadata about each nonprofit, and create a donate link for others to quickly donate.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "partners.every.org",
  "basePath": "/v0.2",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/browse/{cause}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "nonprofits": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "profileUrl": {
                        "type": "string",
                        "description": "The profile URL address.",
                        "title": "Profile URL"
                      },
                      "description": {
                        "type": "string",
                        "description": "The .",
                        "title": "Description"
                      },
                      "ein": {
                        "type": "string",
                        "description": "The EIN.",
                        "title": "EIN"
                      },
                      "logoCloudinaryId": {
                        "type": "string",
                        "description": "The logo Cloudinary identifier.",
                        "title": "Logo Cloudinary ID"
                      },
                      "logoUrl": {
                        "type": "string",
                        "description": "The logo URL address.",
                        "title": "Logo URL"
                      },
                      "matchedTerms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The matched terms.",
                        "title": "Matched Terms"
                      }
                    }
                  },
                  "title": "Nonprofits"
                }
              }
            }
          }
        },
        "summary": "Browse nonprofits",
        "description": "Retrieve a list of nonprofits by cause.",
        "operationId": "Browse",
        "parameters": [
          {
            "name": "cause",
            "in": "path",
            "x-ms-summary": "Cause",
            "x-ms-url-encoding": "single",
            "description": "The cause.",
            "required": true,
            "type": "string"
          },
          {
            "name": "take",
            "in": "query",
            "x-ms-summary": "Per Page",
            "description": "The number per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/search/{term}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "nonprofits": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "profileUrl": {
                        "type": "string",
                        "description": "The profile URL address.",
                        "title": "Profile URL"
                      },
                      "description": {
                        "type": "string",
                        "description": "The .",
                        "title": "Description"
                      },
                      "ein": {
                        "type": "string",
                        "description": "The EIN.",
                        "title": "EIN"
                      },
                      "logoCloudinaryId": {
                        "type": "string",
                        "description": "The logo Cloudinary identifier.",
                        "title": "Logo Cloudinary ID"
                      },
                      "logoUrl": {
                        "type": "string",
                        "description": "The logo URL address.",
                        "title": "Logo URL"
                      },
                      "matchedTerms": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The matched terms.",
                        "title": "Matched Terms"
                      }
                    }
                  },
                  "title": "Nonprofits"
                }
              }
            }
          }
        },
        "summary": "Search nonprofits",
        "description": "Retrieves a list of nonprofits matching search term.",
        "operationId": "Search",
        "parameters": [
          {
            "name": "term",
            "in": "path",
            "x-ms-summary": "Term",
            "x-ms-url-encoding": "single",
            "description": "The term.",
            "required": true,
            "type": "string"
          },
          {
            "name": "take",
            "in": "query",
            "x-ms-summary": "Per Page",
            "description": "The number per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "cause",
            "in": "query",
            "x-ms-summary": "Cause",
            "description": "The cause.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/nonprofit/{identifier}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "profileUrl": {
                  "type": "string",
                  "description": "The profile URL address.",
                  "title": "Profile URL"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "ein": {
                  "type": "string",
                  "description": "The EIN.",
                  "title": "EIN"
                },
                "logoCloudinaryId": {
                  "type": "string",
                  "description": "The logo Cloudinary identifier.",
                  "title": "Logo Cloudinary ID"
                },
                "logoUrl": {
                  "type": "string",
                  "description": "The logo URL address.",
                  "title": "Logo URL"
                },
                "matchedTerms": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Matched Terms"
                }
              }
            }
          }
        },
        "summary": "Get nonprofit",
        "description": "Retrieve the details of a nonprofit.",
        "operationId": "Details",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "x-ms-summary": "Identifier",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/{identifier}": {}
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "apiKey"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.every.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.every.org/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}