{
  "swagger": "2.0",
  "info": {
    "title": "Pixela",
    "description": "Pixela is the pixelation service. With this service, you can get a GitHub-like graph that expresses the degree of your various activities on a basis with a vivid gradation.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "pixe.la",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1/users/": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Delete user",
        "description": "Deletes the specified registered user.",
        "operationId": "UserDelete",
        "parameters": [],
        "x-ms-visibility": "advanced"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Create user",
        "description": "Creates a new Pixela user.",
        "operationId": "UserPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "The token (password).",
                  "title": "Token"
                },
                "username": {
                  "type": "string",
                  "description": "The username.",
                  "title": "Username"
                },
                "agreeTermsOfService": {
                  "type": "string",
                  "description": "Agrees with terms of service.",
                  "title": "Agree Terms Of Service",
                  "default": "yes",
                  "enum": [
                    "yes",
                    "no"
                  ]
                },
                "notMinor": {
                  "type": "string",
                  "description": "Not a minor.",
                  "title": "Not Minor",
                  "default": "yes",
                  "enum": [
                    "yes",
                    "no"
                  ]
                },
                "thanksCode": {
                  "type": "string",
                  "description": "The thanks code, if a Patreon supporter.",
                  "title": "Thanks Code"
                }
              }
            }
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Update user token",
        "description": "Updates the authentication token for the specified user.",
        "operationId": "TokenPut",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "newToken": {
                  "type": "string",
                  "description": "The new token.",
                  "title": "New Token"
                },
                "thanksCode": {
                  "type": "string",
                  "description": "The thanks code, if a Patreon supporter.",
                  "title": "Thanks Code"
                }
              },
              "required": [
                "newToken"
              ]
            }
          }
        ],
        "x-ms-visibility": "advanced"
      }
    },
    "/@": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Update user profile",
        "description": "Updates the profile information for the user.",
        "operationId": "ProfilePut",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string",
                  "description": "The display name.",
                  "title": "Display Name"
                },
                "gravatarIconEmail": {
                  "type": "string",
                  "description": "The Gravatar icon email.",
                  "title": "Gravatar Icon Email"
                },
                "title": {
                  "type": "string",
                  "description": "The time.",
                  "title": "Title"
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                },
                "aboutURL": {
                  "type": "string",
                  "description": "The About URL address.",
                  "title": "About URL"
                },
                "contributeURLs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The contribute URL addresses.",
                  "title": "Contribute URLs"
                },
                "pinnedGraphID": {
                  "type": "string",
                  "description": "The pinned graph identifier.",
                  "title": "Pinned Graph ID"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/users/graphs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "graphs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "unit": {
                        "type": "string",
                        "description": "The unit.",
                        "title": "Unit"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "color": {
                        "type": "string",
                        "description": "The color.",
                        "title": "Color"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "The timezone.",
                        "title": "Timezone"
                      },
                      "purgeCacheURLs": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The prurge cache URLs",
                        "title": "Purge Cache URLs"
                      },
                      "selfSufficient": {
                        "type": "string",
                        "description": "The self sufficient.",
                        "title": "Self Sufficient"
                      },
                      "isSecret": {
                        "type": "boolean",
                        "description": "Whether is secret.",
                        "title": "Is Secret"
                      },
                      "publishOptionalData": {
                        "type": "boolean",
                        "description": "Whether to publish optional data.",
                        "title": "Publish Optional Data"
                      }
                    }
                  },
                  "title": "Graphs"
                }
              }
            }
          }
        },
        "summary": "Get graph definitions",
        "description": "Get all predefined pixelation graph definitions.",
        "operationId": "GraphsGet",
        "parameters": []
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Delete graph",
        "description": "Deletes a predefined pixelation graph definition.",
        "operationId": "GraphDelete",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Create graph",
        "description": "Creates a new pixelation graph definition.",
        "operationId": "GraphPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "unit": {
                  "type": "string",
                  "description": "The unit.",
                  "title": "Unit",
                  "default": "commit"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type",
                  "default": "int",
                  "enum": [
                    "int",
                    "float"
                  ]
                },
                "color": {
                  "type": "string",
                  "description": "The color.",
                  "title": "Color",
                  "default": "shibafu",
                  "enum": [
                    "shibafu",
                    "momiji",
                    "sora",
                    "ichou",
                    "ajisai",
                    "kuro"
                  ]
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                },
                "selfSufficient": {
                  "type": "string",
                  "description": "The self suficient.",
                  "title": "Self Sufficient"
                },
                "isSecret": {
                  "type": "boolean",
                  "description": "Whether is secret.",
                  "title": "Is Secret"
                },
                "publishOptionalData": {
                  "type": "boolean",
                  "description": "Whether to publish optional data.",
                  "title": "Publish Optional Data"
                }
              },
              "required": [
                "id",
                "color",
                "name",
                "type",
                "unit"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Update graph",
        "description": "Updates a predefined pixelation graph definition.",
        "operationId": "GraphPut",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "unit": {
                  "type": "string",
                  "description": "The unit.",
                  "title": "Unit",
                  "default": "commit"
                },
                "color": {
                  "type": "string",
                  "description": "The color.",
                  "title": "Color",
                  "default": "shibafu",
                  "enum": [
                    "shibafu",
                    "momiji",
                    "sora",
                    "ichou",
                    "ajisai",
                    "kuro"
                  ]
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                },
                "selfSufficient": {
                  "type": "string",
                  "description": "The self suficient.",
                  "title": "Self Sufficient"
                },
                "isSecret": {
                  "type": "boolean",
                  "description": "Whether is secret.",
                  "title": "Is Secret"
                },
                "publishOptionalData": {
                  "type": "boolean",
                  "description": "Whether to publish optional data.",
                  "title": "Publish Optional Data"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/users/graphs/graph-def": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "unit": {
                  "type": "string",
                  "description": "The unit.",
                  "title": "Unit"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "color": {
                  "type": "string",
                  "description": "The color.",
                  "title": "Color"
                },
                "timezone": {
                  "type": "string",
                  "description": "The timezone.",
                  "title": "Timezone"
                },
                "purgeCacheURLs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The purge cache URL addresses.",
                  "title": "Purge Cache URLs"
                },
                "selfSufficient": {
                  "type": "string",
                  "description": "The self suficient.",
                  "title": "Self Sufficient"
                },
                "isSecret": {
                  "type": "boolean",
                  "description": "Whether is secret.",
                  "title": "Is Secret"
                },
                "publishOptionalData": {
                  "type": "boolean",
                  "description": "Whether to publish optional data.",
                  "title": "Publish Optional Data"
                }
              }
            }
          }
        },
        "summary": "Get a graph definition",
        "description": "Retrieve a predefined pixelation graph definition.",
        "operationId": "GraphGet",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v1/users/graphs/graphSVG": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Get graph SVG",
        "description": "Retrieve the graph as an SVG file.",
        "operationId": "GraphSVGGet",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "query",
            "x-ms-summary": "Date",
            "description": "The date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mode",
            "in": "query",
            "x-ms-summary": "Mode",
            "description": "The mode.",
            "required": false,
            "type": "string",
            "enum": [
              "short",
              "badge",
              "line"
            ]
          },
          {
            "name": "appearance",
            "in": "query",
            "x-ms-summary": "Appearance",
            "description": "The appearance.",
            "required": false,
            "type": "string",
            "enum": [
              "dark"
            ]
          }
        ]
      }
    },
    "/v1/users/graphs/pixels": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "pixels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "The date.",
                        "title": "Date"
                      },
                      "quantity": {
                        "type": "string",
                        "description": "The quantity.",
                        "title": "Quantity"
                      },
                      "optionalData": {
                        "type": "object",
                        "properties": {},
                        "description": "The optional data.",
                        "title": "Optional Data"
                      }
                    }
                  },
                  "title": "Pixels"
                }
              }
            }
          }
        },
        "summary": "Get pixels",
        "description": "Retrieve a list of pixels registered in a graph.",
        "operationId": "PixelsGet",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "description": "The from date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "description": "The to date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "withBody",
            "in": "query",
            "x-ms-summary": "With Body",
            "description": "Whether with body.",
            "required": false,
            "type": "boolean"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/v1/users/graphs/stats": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "totalPixelsCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total pixels count.",
                  "title": "Total Pixels Count"
                },
                "maxQuantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The max quantity.",
                  "title": "Max Quantity"
                },
                "minQuantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The min quantity.",
                  "title": "Min Quantity"
                },
                "totalQuantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total quantity.",
                  "title": "Total Quantity"
                },
                "avgQuantity": {
                  "type": "number",
                  "format": "float",
                  "description": "The average quantity.",
                  "title": "Avg Quantity"
                },
                "todaysQuantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The today's quantity.",
                  "title": "Today's Quantity"
                }
              }
            }
          }
        },
        "summary": "Get graph stats",
        "description": "Retrieve the statistics for a graph.",
        "operationId": "StatsGet",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v1/users/graphs/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Create pixel",
        "description": "Creates a number of pixels for a given day.",
        "operationId": "PixelPost",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "description": "The date.",
                  "title": "Date"
                },
                "quantity": {
                  "type": "string",
                  "description": "The quantity.",
                  "title": "Quantity"
                },
                "optionalData": {
                  "type": "object",
                  "properties": {},
                  "description": "The optional data.",
                  "title": "Optional Data"
                }
              },
              "required": [
                "date",
                "quantity"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/v1/users/graphs/pixel": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "quantity": {
                  "type": "string",
                  "description": "The quantity.",
                  "title": "Quantity"
                }
              }
            }
          }
        },
        "summary": "Get pixel",
        "description": "Retrieves the quantity for a pixel.",
        "operationId": "PixelGet",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "yyyyMMdd",
            "in": "query",
            "x-ms-summary": "Date",
            "description": "The date in the format yyyyMMdd.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Delete pixel",
        "description": "Deletes a pixel.",
        "operationId": "PixelDelete",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "yyyyMMdd",
            "in": "query",
            "x-ms-summary": "Date",
            "description": "The date in the format yyyyMMdd.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Update pixel",
        "description": "Updates the quantity for a pixel.",
        "operationId": "PixelPut",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "yyyyMMdd",
            "in": "query",
            "x-ms-summary": "Date",
            "description": "The date in the format yyyyMMdd.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v1/users/graphs/pixel/retina": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Get retina pixel image",
        "description": "Retrieves a higher resolution SVG file for the pixel.",
        "operationId": "PixelRetinaGet",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "yyyyMMdd",
            "in": "query",
            "x-ms-summary": "Date",
            "description": "The date in the format yyyyMMdd.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v1/users/graphs/increment": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Increment pixel",
        "description": "Increments the quantity for the pixel.",
        "operationId": "PixelIncrementPut",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Length",
            "in": "header",
            "x-ms-summary": "Content Length",
            "description": "The content length.",
            "required": true,
            "type": "integer",
            "default": 0,
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/v1/users/graphs/decrement": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Decrement pixel",
        "description": "Decrements the quantity for the pixel.",
        "operationId": "PixelDecrementPut",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Length",
            "in": "header",
            "x-ms-summary": "Content Length",
            "description": "The content length.",
            "required": true,
            "type": "integer",
            "default": 0,
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/v1/users/graphs/add": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Add to pixel",
        "description": "Adds a quantity to the pixel.",
        "operationId": "PixelAddPut",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "quantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The quantity.",
                  "title": "Quantity"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/users/graphs/subtract": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "isSuccess": {
                  "type": "boolean",
                  "description": "Whether is successful.",
                  "title": "Is Success"
                }
              }
            }
          }
        },
        "summary": "Subtract from pixel",
        "description": "Subtracts a quantity from the pixel.",
        "operationId": "PixelSubtractPut",
        "parameters": [
          {
            "name": "graphID",
            "in": "query",
            "x-ms-summary": "Graph ID",
            "description": "The graph identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "quantity": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The quantity.",
                  "title": "Quantity"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-USER-TOKEN"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://pixe.la/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://pixe.la/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Productivity"
    }
  ]
}