{
    "swagger": "2.0",
    "info": {
        "title": "OpenLegacy IBM I (AS400)",
        "description": "OpenLegacy IBM i (AS400) connector provides bidirectional connectivity to your system’s data and business logic through APIs deployed on OpenLegacy’s cloud or any other target deployment. You can now build Business Flows with information from your legacy environment using the OpenLegacy connector. This will enable you to utilize your legacy assets as digital components, providing you a legacy integration and modernization solution from Day 1.",
        "version": "1.0.0",
        "contact": {
            "name": "OpenLegacy Support",
            "url": "https://www.openlegacy.com/company/support",
            "email": "support@openlegacy.com"
        }
    },
    "host": "api.ol-hub.com",
    "basePath": "/backend",
    "schemes": [
        "https"
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://www.openlegacy.com"
          },
          {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.openlegacy.com/privacy-policy"
          },
          {
            "propertyName": "Categories",
            "propertyValue": "Business Management; Data"
          }
        ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/api/v1/projects": {
            "get": {
                "summary": "Get All Projects",
                "operationId": "GetAllProjects",
                "x-ms-visibility": "internal",
                "parameters": [
                    {
                        "name": "with_contracts",
                        "type": "boolean",
                        "in": "query",
                        "default": true,
                        "x-ms-visibility": "internal",
                        "x-ms-summary": "Determines that Contract ID must be included in the response.",
                        "description": "Determines that Contract ID must be included in the response.",
                        "required": true
                    }
                ],
                "description": "Returns a list of user's projects",
                "responses": {
                    "200": {
                        "description": "default",
                        "schema": {
                            "$ref": "#/definitions/GetAllProjectsResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/methods": {
            "get": {
                "summary": "Get Methods for Contract",
                "operationId": "GetMethodsForContract",
                "description": "Get a list of methods by Contract ID",
                "parameters": [
                    {
                        "name": "contractId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "The Contract ID selected by user.",
                        "description": "The Contract ID selected by user."
                    },
                    {
                        "name": "enrichmentType",
                        "in": "query",
                        "default": "HTTP",
                        "type": "string",
                        "x-ms-visibility": "internal",
                        "x-ms-summary": "Determines the type of enrichment metadata to be included in the response.",
                        "description": "Determines the type of enrichment metadata to be included in the response.",
                        "required": true
                    }
                ],
                "x-ms-visibility": "internal",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetMethodsForContractResponse"
                        }
                    }
                }
            }
        },
        "/api/v1/partners/method-swagger-by-id/{methodId}": {
            "get": {
                "summary": "Get Method Open Api Spec",
                "operationId": "GetMethodOpenApiSpec",
                "description": "Get a method OpenApi specification",
                "parameters": [
                    {
                        "name": "methodId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "x-ms-summary": "Method ID for which an OpenApi specification must be returned.",
                        "description": "Method ID for which an OpenApi specification must be returned."
                    }
                ],
                "x-ms-visibility": "internal",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "flow-input": {
                                    "type": "object"
                                },
                                "flow-output": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dummy": {
            "post": {
                "summary": "Perform Request",
                "operationId": "PerformRequest",
                "description": "Perform HTTP request to User's API",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Project",
                        "x-ms-summary": "Select Project",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAllProjects",
                            "value-collection": "elements",
                            "value-path": "additionalInfo/contractId",
                            "value-title": "name"
                        }
                    },
                    {
                        "name": "method",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Method",
                        "x-ms-summary": "Select Method",
                        "x-ms-dynamic-values": {
                            "operationId": "GetMethodsForContract",
                            "value-collection": "elements",
                            "value-path": "id",
                            "value-title": "combinedRoute",
                            "parameters": {
                                "contractId": {
                                    "parameter": "project"
                                }
                            }
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetMethodOpenApiSpec",
                                "parameters": {
                                    "methodId": {
                                        "parameter": "method"
                                    }
                                },
                                "value-path": "flow-input"
                            }
                        },
                        "x-ms-summary": "Dynamic Schema",
                        "description": "Dynamic Schema"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DynamicSchemaResponse"
                        }
                    }
                },
                "x-ms-visibility": "important"
            }
        }
    },
    "definitions": {
        "DynamicSchemaResponse": {
            "type": "object",
            "x-ms-dynamic-schema": {
                "operationId": "GetMethodOpenApiSpec",
                "parameters": {
                    "methodId": {
                        "parameter": "method"
                    }
                },
                "value-path": "flow-output"
            }
        },
        "GetAllProjectsResponse": {
            "type": "object",
            "properties": {
                "elements": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "additionalInfo": {
                                "type": "object",
                                "x-ms-visibility": "internal",
                                "properties": {
                                    "contractId": {
                                        "type": "string",
                                        "description": "contract id",
                                        "title": "contractId",
                                        "x-ms-visibility": "internal"
                                    }
                                },
                                "required": [
                                    "contractId"
                                ]
                            },
                            "name": {
                                "type": "string",
                                "description": "project name",
                                "title": "name",
                                "x-ms-visibility": "internal"
                            }
                        },
                        "required": [
                            "additionalInfo",
                            "name"
                        ]
                    },
                    "description": "elements"
                }
            }
        },
        "GetMethodsForContractResponse": {
            "type": "object",
            "properties": {
                "elements": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "method id",
                                "title": "id",
                                "x-ms-visibility": "internal"
                            },
                            "enrichment": {
                                "type": "object",
                                "x-ms-visibility": "internal",
                                "properties": {
                                    "routingKey": {
                                        "type": "string",
                                        "description": "method name",
                                        "title": "routingKey",
                                        "x-ms-visibility": "internal"
                                    }
                                },
                                "required": [
                                    "routingKey"
                                ]
                            },
                            "combinedRoute": {
                                "type": "string",
                                "description": "created by policy",
                                "title": "combinedRoute",
                                "x-ms-visibility": "internal"
                            }
                        },
                        "required": [
                            "id",
                            "enrichment"
                        ]
                    },
                    "description": "elements"
                }
            }
        }
    },
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "in": "header",
            "name": "x-api-key"
        }
    },
    "security": [],
    "tags": []
}