{
  "swagger": "2.0",
  "info": {
    "title": "FlowForma V2",
    "description": "FlowForma Business Process Management (BPM) tools for Office 365, enable users to build forms & workflow, automating processes without code.",
    "contact": {
      "name": "FlowForma Limited",
      "email": "support@flowforma.com"
    },
    "version": "v1"
  },
  "host": "logic-apps.flowforma.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/getFlows": {
      "get": {
        "tags": [
          "FormActions"
        ],
        "operationId": "GetFlows",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Get flows",
        "x-ms-visibility": "internal"
      }
    },
    "/v1/getSteps": {
      "get": {
        "tags": [
          "FormActions"
        ],
        "operationId": "GetSteps",
        "parameters": [
          {
            "in": "query",
            "name": "flowId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "summary": "Get steps of selected flow",
        "x-ms-visibility": "internal"
      }
    },
    "/v1/getQuestions": {
      "get": {
        "tags": [
          "FormActions"
        ],
        "operationId": "GetQuestions",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "flowId",
            "type": "string"
          },
          {
            "in": "query",
            "name": "stepCode",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Get questions of selected flow",
        "x-ms-visibility": "internal"
      }
    },
    "/v1/createForm": {
      "post": {
        "tags": [
          "FormActions"
        ],
        "operationId": "CreateForm",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "flowId",
            "type": "string",
            "description": "Enter the flow id",
            "x-ms-summary": "Flows",
            "x-ms-dynamic-values": {
              "operationId": "GetFlows",
              "value-collection": "Flows",
              "value-path": "FlowId",
              "value-title": "Title"
            }
          },
          {
            "in": "query",
            "name": "stepCode",
            "type": "string",
            "description": "Enter the step code",
            "x-ms-summary": "Steps",
            "x-ms-dynamic-values": {
              "operationId": "GetSteps",
              "value-collection": "Steps",
              "value-path": "StepCode",
              "value-title": "Title",
              "parameters": {
                "flowId": {
                  "parameter": "flowId"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "assignTo",
            "type": "string",
            "x-ms-summary": "Assign to",
            "description": "Leave empty to assign to default"
          },
          {
            "in": "body",
            "name": "questionValues",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetQuestions",
                "parameters": {
                  "flowId": {
                    "parameter": "flowId"
                  },
                  "stepCode": {
                    "parameter": "stepCode"
                  }
                },
                "value-path": "schema"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CreatedOrUpdatedForm"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Create a new form",
        "x-ms-visibility": "advanced",
        "description": "Create a new form"
      }
    },
    "/v1/updateForm": {
      "post": {
        "tags": [
          "FormActions"
        ],
        "operationId": "UpdateForm",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "flowId",
            "type": "string",
            "description": "Enter the flow id",
            "x-ms-summary": "Flows",
            "x-ms-dynamic-values": {
              "operationId": "GetFlows",
              "value-collection": "Flows",
              "value-path": "FlowId",
              "value-title": "Title"
            }
          },
          {
            "in": "query",
            "name": "stepCode",
            "type": "string",
            "description": "Enter the step code",
            "x-ms-summary": "Steps",
            "x-ms-dynamic-values": {
              "operationId": "GetSteps",
              "value-collection": "Steps",
              "value-path": "StepCode",
              "value-title": "Title",
              "parameters": {
                "flowId": {
                  "parameter": "flowId"
                }
              }
            }
          },
          {
            "in": "query",
            "name": "formId",
            "type": "string",
            "x-ms-summary": "Form id",
            "description": "Enter the form id"
          },
          {
            "in": "query",
            "name": "assignTo",
            "type": "string",
            "x-ms-summary": "Assign to",
            "description": "Leave empty to assign to default"
          },
          {
            "in": "body",
            "name": "questionValues",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "GetQuestions",
                "parameters": {
                  "flowId": {
                    "parameter": "flowId"
                  },
                  "stepCode": {
                    "parameter": "stepCode"
                  }
                },
                "value-path": "schema"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/CreatedOrUpdatedForm"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "summary": "Update a form",
        "x-ms-visibility": "advanced",
        "description": "Update a form"
      }
    }
  },
  "definitions": {
    "CreatedOrUpdatedForm": {
      "required": [
        "formId",
        "formTitle"
      ],
      "type": "object",
      "properties": {
        "formId": {
          "format": "int32",
          "type": "integer"
        },
        "formTitle": {
          "type": "string"
        }
      }
    },
    "Error": {
      "required": [
        "code",
        "message"
      ],
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "apiKey": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    },
    {
      "propertyName": "Website",
      "propertyValue": "https://www.flowforma.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.flowforma.com/"
    }
  ]
}