{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "HVI Vehicle Inspection",
    "description": "Get all the Inspection data for vehicle between two specific dates that has been added in the HVI app.",
    "contact": {
      "name": "HVI Support",
      "url": "https://heavyvehicleinspection.com/contact.html",
      "email": "contact@heavyvehicleinspection.com"
    }
  },
  "host": "prod-93.westeurope.logic.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/workflows/9bf21378f9924c97b16d3fed67e69200/triggers/manual/paths/invoke": {
      "post": {
        "summary": "Particular Vehicle Inspection Data",
        "description": "This connector is used to get inspection data of a particular vehicle within a specific time frame. Use Date Format Like 2021-10-30(YYYY-MM-DD)",
        "operationId": "InspectionPerVehicle",
        "parameters": [
          {
            "name": "api-version",
            "default": "2016-06-01",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal",
            "description": "This is api-version of the postman which is not visible to the customer who is using the custom connector.",
            "x-ms-summary": "This is api-version of the postman."
          },
          {
            "name": "sp",
            "default": "/triggers/manual/run",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal",
            "description": "This is a Internal parameter which are for internal use.",
            "x-ms-summary": "This is a Internal parameter which are for internal use."
          },
          {
            "name": "sv",
            "default": "1.0",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "This is a Internal parameter which are for internal use.",
            "x-ms-summary": "This is a Internal parameter which are for internal use."
          },
          {
            "name": "sig",
            "default": "byht1JYW63X3X6hvP1B3cRjYvZExaWoV9BsLb_Mm_vI",
            "in": "query",
            "type": "string",
            "required": true,
            "x-ms-visibility": "internal",
            "description": "This is a Internal parameter which are for internal use.",
            "x-ms-summary": "This is a Internal parameter which are for internal use."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "This is a Internal parameter which are for internal use.",
            "x-ms-visibility": "internal",
            "x-ms-summary": "This is a Internal parameter which are for internal use."
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "master_email": {
                  "type": "string",
                  "description": "Email ID",
                  "title": "Email ID",
                  "x-ms-visibility": "important"
                },
                "password": {
                  "type": "string",
                  "description": "API KEY",
                  "title": "API KEY",
                  "x-ms-visibility": "important"
                },
                "vehicle_number": {
                  "type": "string",
                  "description": "Vehicle Number",
                  "title": "Vehicle Number",
                  "x-ms-visibility": "important"
                },
                "start_date": {
                  "type": "string",
                  "description": "Example: 2021-10-30",
                  "title": "Start Date",
                  "x-ms-visibility": "important"
                },
                "end_date": {
                  "type": "string",
                  "description": "Example: 2021-10-30",
                  "title": "End Date",
                  "x-ms-visibility": "important"
                }
              },
              "default": {
                "master_email": "centhilsudar.v@ecoprotection.in",
                "password": "Nirmcent@1",
                "vehicle_number": "TN18A0267",
                "start_date": "2021-08-01",
                "end_date": "2021-10-27"
              },
              "required": [
                "master_email",
                "password",
                "vehicle_number",
                "start_date",
                "end_date"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "id"
                  },
                  "__createdAt": {
                    "type": "string",
                    "description": "__createdAt"
                  },
                  "__updatedAt": {
                    "type": "string",
                    "description": "__updatedAt"
                  },
                  "user_name": {
                    "type": "string",
                    "description": "user_name"
                  },
                  "report_no": {
                    "type": "string",
                    "description": "report_no"
                  },
                  "location": {
                    "type": "string",
                    "description": "location"
                  },
                  "inspection_date": {
                    "type": "string",
                    "description": "inspection_date"
                  },
                  "inspector": {
                    "type": "string",
                    "description": "inspector"
                  },
                  "repair": {
                    "type": "string",
                    "description": "repair"
                  },
                  "replace": {
                    "type": "string",
                    "description": "replace"
                  },
                  "remark": {
                    "type": "string",
                    "description": "remark"
                  },
                  "vehicle_name": {
                    "type": "string",
                    "description": "vehicle_name"
                  },
                  "vehicle_serial": {
                    "type": "string",
                    "description": "vehicle_serial"
                  },
                  "vehicle_vin": {
                    "type": "string",
                    "description": "vehicle_vin"
                  },
                  "vehicle_model": {
                    "type": "string",
                    "description": "vehicle_model"
                  },
                  "pdf_file_path": {
                    "type": "string",
                    "description": "pdf_file_path"
                  },
                  "custom1": {
                    "type": "string",
                    "description": "custom1"
                  },
                  "custom2": {
                    "type": "string",
                    "description": "custom2"
                  },
                  "vehicle_status": {
                    "type": "string",
                    "description": "vehicle_status"
                  },
                  "maintenance_required": {
                    "type": "string",
                    "description": "maintenance_required"
                  },
                  "maintenance_priority": {
                    "type": "string",
                    "description": "maintenance_priority"
                  },
                  "overall_condition": {
                    "type": "string",
                    "description": "overall_condition"
                  },
                  "safe_to_use": {
                    "type": "string",
                    "description": "safe_to_use"
                  },
                  "user_email": {
                    "type": "string",
                    "description": "user_email"
                  },
                  "good": {
                    "type": "string",
                    "description": "good"
                  },
                  "na": {
                    "type": "string",
                    "description": "na"
                  },
                  "field1": {
                    "type": "string",
                    "description": "field1"
                  },
                  "field2": {
                    "type": "string",
                    "description": "field2"
                  },
                  "field3": {
                    "type": "string",
                    "description": "field3"
                  },
                  "field4": {
                    "type": "string",
                    "description": "field4"
                  },
                  "field5": {
                    "type": "string",
                    "description": "field5"
                  },
                  "meter_reading": {
                    "type": "string",
                    "description": "meter_reading"
                  },
                  "uploaded": {
                    "type": "string",
                    "description": "uploaded"
                  },
                  "workorder": {
                    "type": "string",
                    "description": "workorder"
                  },
                  "vehicle_category": {
                    "type": "string",
                    "description": "vehicle_category"
                  },
                  "checklistGroup": {
                    "type": "string",
                    "description": "checklistGroup"
                  },
                  "checklistName": {
                    "type": "string",
                    "description": "checklistName"
                  },
                  "checklistStatus": {
                    "type": "string",
                    "description": "checklistStatus"
                  },
                  "group_name": {
                    "type": "string",
                    "description": "group_name"
                  },
                  "operator_name": {
                    "type": "string",
                    "description": "operator_name"
                  },
                  "ios_offline_flag": {
                    "type": "string",
                    "description": "ios_offline_flag"
                  },
                  "corrective_item": {
                    "type": "string",
                    "description": "corrective_item"
                  },
                  "corrective_item_status": {
                    "type": "string",
                    "description": "corrective_item_status"
                  },
                  "corrective_note": {
                    "type": "string",
                    "description": "corrective_note"
                  },
                  "corrective_date": {
                    "type": "string",
                    "description": "corrective_date"
                  },
                  "mechanic_name": {
                    "type": "string",
                    "description": "mechanic_name"
                  },
                  "dvir_type": {
                    "type": "string",
                    "description": "dvir_type"
                  },
                  "dvir_flag": {
                    "type": "string",
                    "description": "dvir_flag"
                  },
                  "corrective_action": {
                    "type": "string",
                    "description": "corrective_action"
                  },
                  "corrective_vehicle_condition": {
                    "type": "string",
                    "description": "corrective_vehicle_condition"
                  },
                  "app_version": {
                    "type": "string",
                    "description": "app_version"
                  },
                  "lat_long": {
                    "type": "string",
                    "description": "lat_long"
                  },
                  "full_location": {
                    "type": "string",
                    "description": "full_location"
                  },
                  "action_source": {
                    "type": "string",
                    "description": "action_source"
                  },
                  "archive": {
                    "type": "string",
                    "description": "archive"
                  },
                  "breakdown": {
                    "type": "string",
                    "description": "breakdown"
                  },
                  "sample_data_key": {
                    "type": "string",
                    "description": "sample_data_key"
                  },
                  "index_number": {
                    "type": "integer",
                    "format": "int32",
                    "description": "index_number"
                  },
                  "version": {
                    "type": "string",
                    "description": "version"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "createdAt"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "updatedAt"
                  },
                  "deleted": {
                    "type": "boolean",
                    "description": "deleted"
                  },
                  "inspector_id": {
                    "type": "string",
                    "description": "inspector_id"
                  },
                  "location_id": {
                    "type": "string",
                    "description": "location_id"
                  },
                  "form_id": {
                    "type": "string",
                    "description": "form_id"
                  },
                  "inspection_time": {
                    "type": "string",
                    "description": "inspection_time"
                  },
                  "root_cause": {
                    "type": "string",
                    "description": "root_cause"
                  },
                  "rca_by": {
                    "type": "string",
                    "description": "rca_by"
                  },
                  "responsible": {
                    "type": "string",
                    "description": "responsible"
                  },
                  "note": {
                    "type": "string",
                    "description": "note"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Application/JSON",
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://heavyvehicleinspection.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://heavyvehicleinspection.com/legal/privacy-policy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
