{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "AlisQI",
    "description": "Integrate your QMS with your ERP, MES, PLM, instruments, sensors or website using AlisQI's connectivity tools.",
    "contact": {
      "name": "AlisQI Support",
      "url": "https://help.alisqi.com/",
      "email": "support@alisqi.com"
    }
  },
  "host": "alisqi.com",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/getResults": {
      "get": {
        "summary": "Get results or master data",
        "description": "Get (quality) results from analysis sets or master data from selection lists.",
        "operationId": "GetResultsOrMasterData",
        "parameters": [
          
          {
            "name": "setId",
            "default": 16,
            "in": "query",
            "type": "integer",
            "required": true,
            "description": "Enter the unique ID of the analysis set you're interested in (historically known as maskid in URLs).",
            "x-ms-summary": "Set ID"
          },
          {
            "name": "limit",
            "default": 100,
            "in": "query",
            "type": "integer",
            "description": "Specify the maximum number of records you want to receive, up to a cap of 10,000.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "default": 0,
            "in": "query",
            "type": "integer",
            "description": "Choose a starting position for the results, useful for paging through data (defaults to 0).",
            "x-ms-summary": "Offset"
          },
          {
            "name": "sort",
            "default": "date:desc",
            "in": "query",
            "type": "string",
            "description": "Determine the order of your data by a field and direction, like date:desc for the most recent first.",
            "x-ms-summary": "Sort"
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string",
            "description": "Use a JSON-formatted string to narrow down the data you're requesting, based on specific conditions.",
            "x-ms-summary": "Filter"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string",
            "description": "Comma separated list with the specific data points you want to be returned.",
            "x-ms-summary": "Fields"
          },
          {
            "name": "includeAttachments",
            "default": false,
            "in": "query",
            "type": "boolean",
            "description": "Mark true if you want to include any file attachments with your data, otherwise leave as false.",
            "x-ms-summary": "Include Attachments"
          },
          {
            "name": "includeId",
            "default": false,
            "in": "query",
            "type": "boolean",
            "description": "Set to true if you want to get the system's unique record numbers for your data, making it easier to manage or reference.",
            "x-ms-summary": "Include ID"
          },
          {
            "name": "includeLastModificationDate",
            "default": false,
            "in": "query",
            "type": "boolean",
            "description": "Turn on to get the last change date for each piece of data, which is great for tracking the most recent updates.",
            "x-ms-summary": "Include Last Modification Date"
          },
          {
            "name": "Accept",
            "in": "header",
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal",
            "required": true,
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "example": {
                "error": "Invalid parameter: sort field 'batchnr'. No such field in set."
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "example": {
                "error": "No read permission for this set"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "500": {
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/getAllSets": {
      "get": {
        "summary": "Get all analysis sets or selection lists",
        "description": "Get a list of (all)  analysis sets or selection lists.",
        "operationId": "GetAllAnalysisSetsOrSelectionLists",
        "parameters": [
          
          {
            "name": "groups",
            "default": "1,2",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Enter group IDs or names to find specific groups, use 'Selection lists' to get all.",
            "x-ms-summary": "Groups"
          },
          {
            "name": "names",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Input the names of analysis sets or selection lists you want to retrieve.",
            "default": "AnalysisSet1",
            "x-ms-summary": "Names"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "groupId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "groupId"
                  },
                  "groupName": {
                    "type": "string",
                    "description": "groupName"
                  },
                  "topLevelMenu": {
                    "type": "string",
                    "description": "topLevelMenu"
                  }
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "X-RateLimit-Retry-After",
                "type": "integer"
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "example": {
                "error": "Invalid parameter: sort field 'batchnr'. No such field in set."
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "example": {
                "error": "No read permission for this set"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "500": {
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/storeResults": {
      "post": {
        "summary": "Create or update results or master data",
        "description": "Create or update quality results in analysis sets or master data in selection lists.",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "operationId": "CreateOrUpdateResultsOrMasterData",
        "parameters": [
          
          {
            "in": "formData",
            "name": "setId",
            "type": "string",
            "required": true,
            "description": "Enter the unique ID of the analysis set you're interested in (historically known as maskid in URLs).",
            "x-ms-summary": "Set ID"
          },
          {
            "in": "formData",
            "name": "results",
            "type": "string",
            "required": true,
            "description": "JSON object as a string.",
            "x-ms-summary": "Results"
          },
          {
            "in": "formData",
            "name": "keyField",
            "type": "string",
            "description": "Find and modify existing results based on this field's value.",
            "x-ms-summary": "Key Field"
          },
          {
            "in": "formData",
            "name": "editOnly",
            "type": "string",
            "description": "Use (only) in conjunction with keyField.",
            "x-ms-summary": "Edit Only"
          },
          {
            "in": "formData",
            "name": "addListOptions",
            "type": "string",
            "description": "Flag to add new options to lists.",
            "x-ms-summary": "Add List Options"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "X-RateLimit-Retry-After",
                "type": "integer"
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "example": {
                "error": "Invalid parameter: sort field 'batchnr'. No such field in set."
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "example": {
                "error": "No read permission for this set"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "500": {
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/getStatistics": {
      "get": {
        "summary": "Get descriptive statistics for analysis set fields",
        "description": "Get descriptive statistics for numeric analysis set fields of your choice.",
        "operationId": "GetDescriptiveStatisticsForAnalysisSetFields",
        "parameters": [
          
          {
            "name": "setId",
            "default": 16,
            "in": "query",
            "type": "integer",
            "required": true,
            "description": "Enter the unique ID of the analysis set you're interested in (historically known as maskid in URLs).",
            "x-ms-summary": "Set ID"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Comma separated list with the specific data points you want to be returned.",
            "x-ms-summary": "Fields"
          },
          {
            "name": "limit",
            "default": 500,
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The maximum number of results to consider.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Use a JSON-formatted string to narrow down the data you're requesting, based on specific conditions.",
            "x-ms-summary": "Filter"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "example": {
                "error": "Invalid parameter: sort field 'batchnr'. No such field in set."
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "example": {
                "error": "No read permission for this set"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "500": {
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/getSpecificationEvaluation": {
      "get": {
        "summary": "Get capability statistics for analysis set fields",
        "description": "Get in-depth statistics of specification evaluation and product and process capability for an analysis set's numeric fields.",
        "operationId": "GetCapabilityStatisticsForAnalysisSetFields",
        "parameters": [
          
          {
            "name": "setId",
            "default": 16,
            "in": "query",
            "type": "integer",
            "required": true,
            "description": "Enter the unique ID of the analysis set you're interested in (historically known as maskid in URLs).",
            "x-ms-summary": "Set ID"
          },
          {
            "name": "fields",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Comma separated list with the specific data points you want to be returned.",
            "x-ms-summary": "Fields"
          },
          {
            "name": "limit",
            "default": 10000,
            "in": "query",
            "type": "integer",
            "required": false,
            "description": "The maximum number of results to consider.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "filter",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Use a JSON-formatted string to narrow down the data you're requesting, based on specific conditions.",
            "x-ms-summary": "Filter"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "example": {
                "error": "Invalid parameter: sort field 'batchnr'. No such field in set."
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "example": {
                "error": "No read permission for this set"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "500": {
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/getSpecificationVersion": {
      "get": {
        "summary": "Get specification versions",
        "description": "Get (a) specification version(s) for an analysis set.",
        "operationId": "GetSpecificationVersions",
        "parameters": [
          
          {
            "name": "setId",
            "default": 16,
            "in": "query",
            "type": "integer",
            "required": true,
            "description": "Enter the unique ID of the analysis set you're interested in (historically known as maskid in URLs).",
            "x-ms-summary": "Set ID"
          },
          {
            "name": "indexValue",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Get the current specification version for this index value.",
            "x-ms-summary": "Index Value"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-visibility": "internal",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "example": {
                "error": "Invalid parameter: sort field 'batchnr'. No such field in set."
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "example": {
                "error": "No read permission for this set"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "500": {
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/storeSpecificationVersion": {
      "post": {
        "summary": "Create a new specification version",
        "description": "Create (a) new specification version(s) for an analysis sets.",
        "operationId": "CreateANewSpecificationVersion",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "text/plain"
        ],
        "parameters": [
          
          {
            "in": "formData",
            "name": "setId",
            "type": "string",
            "required": true,
            "description": "Enter the unique ID of the analysis set you're interested in (historically known as maskid in URLs).",
            "x-ms-summary": "Set ID"
          },
          {
            "in": "formData",
            "name": "specs",
            "type": "string",
            "required": true,
            "description": "JSON object as a string.",
            "x-ms-summary": "Specs"
          },
          {
            "in": "formData",
            "name": "indexValue",
            "type": "string",
            "required": false,
            "description": "The index field value.",
            "x-ms-summary": "Index Value"
          },
          {
            "in": "formData",
            "name": "startDateTime",
            "type": "string",
            "required": false,
            "description": "Formatted as yyyy-mm-dd hh:mm:ss or unix stimestamp.",
            "x-ms-summary": "Start Date Time"
          },
          {
            "in": "formData",
            "name": "reason",
            "type": "string",
            "required": false,
            "description": "The reason for changing the spec.",
            "x-ms-summary": "Reason"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "X-RateLimit-Limit",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "X-RateLimit-Remaining",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "X-RateLimit-Retry-After",
                "type": "integer"
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "example": {
                "error": "Invalid parameter: sort field 'batchnr'. No such field in set."
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "example": {
                "error": "No read permission for this set"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "500": {
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    },
    "/getSetDefinition": {
      "get": {
        "summary": "Get the structure of an analysis sets or selection list",
        "description": "Get the structural definition of an analysis sets or selection lists.",
        "operationId": "GetTheStructureOfAnAnalysisSetsOrSelectionList",
        "parameters": [
          
          {
            "name": "setId",
            "default": 16,
            "in": "query",
            "type": "integer",
            "required": true,
            "description": "Enter the unique ID of the analysis set you're interested in (historically known as maskid in URLs).",
            "x-ms-summary": "Set ID"
          },
          {
            "name": "onlyActiveFields",
            "default": true,
            "in": "query",
            "type": "boolean",
            "required": false,
            "description": "Whether to only show currently active fields.",
            "x-ms-summary": "Only Active Fields"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Accept",
            "x-ms-summary": "Accept"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "304": {
            "description": "Not Modified",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "example": {
                "error": "Invalid parameter: sort field 'batchnr'. No such field in set."
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "example": {
                "error": "No read permission for this set"
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-RateLimit-Limit": {
                "description": "The maximum number of requests that the consumer is permitted to make per minute.",
                "type": "integer"
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests remaining in the current rate limit window.",
                "type": "integer"
              },
              "X-RateLimit-Retry-After": {
                "description": "The time in seconds that the consumer should wait before making another request.",
                "type": "integer"
              }
            }
          },
          "500": {
            "$ref": "#/responses/InternalServerError"
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.alisqi.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.alisqi.com/en/privacy-statement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {
    "InternalServerError": {
      "description": "Internal Server Error",
      "schema": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "A description of the error that occurred."
          }
        }
      },
      "headers": {
        "X-RateLimit-Limit": {
          "description": "The maximum number of requests that the consumer is permitted to make per minute.",
          "type": "integer"
        },
        "X-RateLimit-Remaining": {
          "description": "The number of requests remaining in the current rate limit window.",
          "type": "integer"
        },
        "X-RateLimit-Retry-After": {
          "description": "The time in seconds that the consumer should wait before making another request.",
          "type": "integer"
        }
      }
    }
  },
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}