{
  "swagger": "2.0",
  "info": {
    "title": "Metaphor",
    "description": "Metaphor is a search engine designed from scratch using AI. Our goal is to find what your smartest friend could find you in a week, but instantaneously. By discovering new ways to search the internet, we'll rediscover the internet.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.metaphor.systems",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/search": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "publishedDate": {
                        "type": "string",
                        "description": "The published date.",
                        "title": "Published Date"
                      },
                      "author": {
                        "type": "string",
                        "description": "The author.",
                        "title": "Author"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Search",
        "description": "Perform a search with a Metaphor prompt-engineered query and retrieve a list of relevant results.",
        "operationId": "SearchPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "The search query.",
                  "title": "Query"
                },
                "numResults": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results.",
                  "title": "Results"
                },
                "includeDomains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The domains to include.",
                  "title": "Include Domains"
                },
                "excludeDomains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The domains to exclude.",
                  "title": "Exclude Domains"
                },
                "startCrawlDate": {
                  "type": "string",
                  "description": "The crawl start date.",
                  "title": "Start Crawl Date"
                },
                "endCrawlDate": {
                  "type": "string",
                  "description": "The crawl end date.",
                  "title": "End Crawl Date"
                },
                "startPublishedDate": {
                  "type": "string",
                  "description": "The published start date.",
                  "title": "Start Published Date"
                },
                "endPublishedDate": {
                  "type": "string",
                  "description": "The published end date.",
                  "title": "End Published Date"
                },
                "useAutoprompt": {
                  "type": "boolean",
                  "description": "Whether to use autoprompt.",
                  "title": "Use Autoprompt"
                },
                "type": {
                  "type": "string",
                  "description": "The search type.",
                  "title": "Type",
                  "default": "neural",
                  "enum": [
                    "neural",
                    "keyword"
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/contents": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "extract": {
                        "type": "string",
                        "description": "The extract.",
                        "title": "Extract"
                      }
                    }
                  },
                  "title": "Contents"
                }
              }
            }
          }
        },
        "summary": "Get contents",
        "description": "Retrieve contents of documents based on a list of document IDs.",
        "operationId": "ContentsGet",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "x-ms-summary": "IDs",
            "description": "The identifiers.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/findSimilar": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "publishedDate": {
                        "type": "string",
                        "description": "The published date.",
                        "title": "Published Date"
                      },
                      "author": {
                        "type": "string",
                        "description": "The author.",
                        "title": "Author"
                      },
                      "score": {
                        "type": "number",
                        "format": "float",
                        "description": "The score.",
                        "title": "Score"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Find similar links",
        "description": "Find similar links to the link provided.",
        "operationId": "LinksPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "numResults": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of results.",
                  "title": "Results"
                },
                "includeDomains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The domains to include.",
                  "title": "Include Domains"
                },
                "startCrawlDate": {
                  "type": "string",
                  "description": "The crawl start date.",
                  "title": "Start Crawl Date"
                },
                "endCrawlDate": {
                  "type": "string",
                  "description": "The crawl end date.",
                  "title": "End Crawl Date"
                },
                "startPublishedDate": {
                  "type": "string",
                  "description": "The published start date.",
                  "title": "Start Published Date"
                },
                "endPublishedDate": {
                  "type": "string",
                  "description": "The published end date.",
                  "title": "End Published Date"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "x-api-key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://metaphor.systems/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://metaphor.systems/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Website"
    }
  ]
}
