{
  "swagger": "2.0",
  "info": {
    "title": "GoQR",
    "description": "Generate QRCode in a easy way. The connector will return the QR Code image.",
    "version": "1.0",
    "contact": {
      "name": "Rui Santos",
      "email": "rsantos.mails@gmail.com"
    }
  },
  "host": "api.qrserver.com",
  "basePath": "/v1/create-qr-code/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "title": "Image of qrcode",
              "type": "string",
              "format": "binary"
            }            
          }
        },
        "summary": "Create QRCode with a specific size",
        "operationId": "Create",
        "description":"Get the QR Code with specific size",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "150x150",
            "description": "The size represent width and height of the QR code, expects a string. Example 150x150",
            "x-ms-summary":"The size represent width and height "
          },
          {
            "name": "data",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "https://www.linkedin.com/in/ruisantosnor/",
            "description": "The data field represent the content of the QR code when is read. It can be text or urls.",
            "x-ms-summary":"Content of the QR code"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://goqr.me/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://goqr.me/de/rechtliches/datenschutz-goqrme.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ]
}
