{
  "swagger": "2.0",
  "info": {
    "title": "GoQR",
    "description": "Generate QRCode in a easy way. The connector will return the QR Code image. QR codes are the way to go to create a link between the real world products (tagged with the QR code) and the Internet. Mobile, anywhere, anytime.",
    "version": "1.0",
    "contact": {
      "name": "Rui Santos",
      "email": "rsantos.mails@gmail.com"
    }
  },
  "host": "api.qrserver.com",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/create-qr-code/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "title": "Image of qrcode",
              "type": "string",
              "format": "binary"
            }            
          }
        },
        "summary": "Create QR Code",
        "operationId": "Create",
        "description": "Creates an QR code",
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The text to store within the QR code",
            "x-ms-summary": "Data",
            "x-ms-visibility": "important"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "200x200",
            "description": "Specifies the size of the QR code image you want to generate (in px for raster graphic formats like png, gif or jpeg); as logical unit for vector graphics (svg, eps).",
            "x-ms-summary": "Size",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "charset-source",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "UTF-8",
            "description": "Specifies the charset the text submitted via data parameter is encoded in. Note: you don't have to care about converting your data if charset-source and charset-target got different values, the API does all the needed work automatically.",
            "x-ms-summary": "Source Charset",
            "x-ms-visibility": "advanced",
            "enum": [
              "ISO-8859-1",
              "UTF-8"
            ]
          },
          {
            "name": "charset-target",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "UTF-8",
            "description": "Specifies the charset to encode the text submitted via data parameter with, before storing it within the QR code. Note: you don't have to care about converting your data if charset-source and charset-target got different values, the API does all the needed work automatically.",
            "x-ms-summary": "Target Charset",
            "x-ms-visibility": "advanced",
            "enum": [
              "ISO-8859-1",
              "UTF-8"
            ]
          },
          {
            "name": "ecc",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "L",
            "description": "Defines the error correction code (ECC) which determines the degree of data redundancy. The more data redundancy exists, the more data can be restored if a QR code is damaged (i.e. scratches on a QR code sticker or something like that).",
            "x-ms-summary": "ECC",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "0-0-0",
            "description": "Color of the data modules as RGB value.",
            "x-ms-summary": "Color",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "bgcolor",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "255-255-255",
            "description": "Color of the background as RGB value.",
            "x-ms-summary": "Background Color",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "margin",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Thickness of a margin in pixels. The margin will always have the same color as the background (you can configure this via bgcolor). It will not be added to the width of the image set by size, therefore it has to be smaller than at least one third of the size value. The margin will be drawn in addition to an eventually set qzone value. The margin parameter will be ignored if svg or eps is used as QR code format (=if the QR code output is a vector graphic).",
            "x-ms-summary": "Margin",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "qzone",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "Thickness of a margin (=\u201cquiet zone\u201d, an area without disturbing elements to help readers locating the QR code), in modules as measuring unit. This means a value of 1 leads to a drawn margin around the QR code which is as thick as a data pixel/module of the QR code. The quiet zone will always have the same color as the background (you can configure this via bgcolor). The quiet zone will be drawn in addition to an eventually set margin value.",
            "x-ms-summary": "Quiet Zone",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "png",
            "description": "It is possible to create the QR code picture using different file formats, available are PNG, GIF, JPEG and the vector graphic formats SVG and EPS (=you can create QR code vector graphics / QR code EPS / QR code SVG as needed for professional printing).",
            "x-ms-summary": "File Format",
            "x-ms-visibility": "advanced",
            "enum": [
              "png",
              "gif",
              "jpeg",
              "jpg",
              "svg",
              "eps"
            ]
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://goqr.me/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://goqr.me/de/rechtliches/datenschutz-goqrme.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Data"
    }
  ]
}
