{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "WenDocs Linker",
    "description": "Connect to WenDocs Publish API Service. Empowers registered users to call service to assemble WenDocs template(made by our Word add-in: Wendocs Template Designer) and json data, then publish to Word, PDF, HTML formats. By integrating with other connecters, it is easy to produce documents driven by data automatically, like a welcome letter, resume, business report...",
    "contact": {
      "name": "WenDocs Support",
      "url": "https://www.wendocs.com/#/support",
      "email": "support@wendocs.com"
    }
  },
  "host": "api.wendocs.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.wendocs.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.wendocs.com/public/PrivacyPolicy_en.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ],
  "paths": {
    "/api/dynamicdoc/docx": {
      "post": {
        "summary": "Publish a Docx file",
        "description": "Publish a docx file with template and json data",
        "operationId": "PublishDocx",
        "parameters": [
          {
            "name": "request body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "docName": {
                  "type": "string",
                  "description": "name of document"
                },
                "documentTemplateData": {
                  "type": "string",
                  "description": "a base64 string represents binary data of template file"
                },
                "jsonData": {
                  "type": "string",
                  "description": "customer data in json format"
                },
                "logLevel": {
                  "type": "string",
                  "description": "level of publish log: DEBUG, ERROR, WARNING, INFO"
                },
                "language": {
                  "type": "string",
                  "description": "supported language code of error message: en, zh"
                },
                "country": {
                  "type": "string",
                  "description": "supported country code of error message: US, CN"
                },
                "clientType": {
                  "type": "string",
                  "description": "For API service users, please use 'API Service'"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "response body",
            "schema": {
              "type": "object",
              "properties": {
                "documentName": {
                  "type": "string",
                  "description": "documentName"
                },
                "document": {
                  "type": "string",
                  "description": "document"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errorCode": {
                  "type": "string",
                  "description": "errorCode"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "level": {
                        "type": "string",
                        "description": "level"
                      },
                      "source": {
                        "type": "string",
                        "description": "source"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      },
                      "parameters": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "parameters"
                      },
                      "exception": {
                        "type": "string",
                        "description": "exception stack"
                      }
                    }
                  },
                  "description": "messages of exception stack"
                }
              }
            }
          }
        }
      }
    },
    "/api/dynamicdoc/pdf": {
      "post": {
        "summary": "Publish a PDF file",
        "description": "Publish a PDF file with template and json data",
        "operationId": "PublishPDF",
        "parameters": [
          {
            "name": "request body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "docName": {
                  "type": "string",
                  "description": "name of document"
                },
                "documentTemplateData": {
                  "type": "string",
                  "description": "a base64 string represents binary data of template file"
                },
                "jsonData": {
                  "type": "string",
                  "description": "customer data in json format"
                },
                "logLevel": {
                  "type": "string",
                  "description": "level of publish log: DEBUG, ERROR, WARNING, INFO"
                },
                "language": {
                  "type": "string",
                  "description": "supported language code of error message: en, zh"
                },
                "country": {
                  "type": "string",
                  "description": "supported country code of error message: US, CN"
                },
                "clientType": {
                  "type": "string",
                  "description": "For API service users, please use 'API Service'"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response body",
            "schema": {
              "type": "object",
              "properties": {
                "documentName": {
                  "type": "string",
                  "description": "documentName"
                },
                "document": {
                  "type": "string",
                  "description": "document"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errorCode": {
                  "type": "string",
                  "description": "errorCode"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "level": {
                        "type": "string",
                        "description": "level"
                      },
                      "source": {
                        "type": "string",
                        "description": "source"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      },
                      "parameters": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "parameters"
                      },
                      "exception": {
                        "type": "string",
                        "description": "exception stack"
                      }
                    }
                  },
                  "description": "messages of exception stack"
                }
              }
            }
          }
        }
      }
    },
    "/api/dynamicdoc/html": {
      "post": {
        "summary": "Publish a Html file",
        "description": "Publish a Html file with template and json data",
        "operationId": "PublishHtml",
        "parameters": [
          {
            "name": "request body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "docName": {
                  "type": "string",
                  "description": "name of document"
                },
                "documentTemplateData": {
                  "type": "string",
                  "description": "a base64 string represents binary data of template file"
                },
                "jsonData": {
                  "type": "string",
                  "description": "customer data in json format"
                },
                "logLevel": {
                  "type": "string",
                  "description": "level of publish log: DEBUG, ERROR, WARNING, INFO"
                },
                "language": {
                  "type": "string",
                  "description": "supported language code of error message: en, zh"
                },
                "country": {
                  "type": "string",
                  "description": "supported country code of error message: US, CN"
                },
                "clientType": {
                  "type": "string",
                  "description": "For API service users, please use 'API Service'"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "response body",
            "schema": {
              "type": "object",
              "properties": {
                "documentName": {
                  "type": "string",
                  "description": "documentName"
                },
                "document": {
                  "type": "string",
                  "description": "document"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errorCode": {
                  "type": "string",
                  "description": "errorCode"
                },
                "messages": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "level": {
                        "type": "string",
                        "description": "level"
                      },
                      "source": {
                        "type": "string",
                        "description": "source"
                      },
                      "message": {
                        "type": "string",
                        "description": "message"
                      },
                      "parameters": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "parameters"
                      },
                      "exception": {
                        "type": "string",
                        "description": "exception stack"
                      }
                    }
                  },
                  "description": "messages of exception stack"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": []
}
