{
  "swagger": "2.0",
  "info": {
    "title": "Moosend",
    "description": "The ultimate email marketing software and marketing automation platform that will not break your bank. With hundreds of up-to-date templates to choose from, your email marketing campaigns will be dressed for success.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.moosend.com",
  "basePath": "/v3/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/lists/{Page}/{PageSize}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "object",
                  "properties": {
                    "Paging": {
                      "type": "object",
                      "properties": {
                        "PageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page size.",
                          "title": "Page Size"
                        },
                        "CurrentPage": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The current page.",
                          "title": "Current Page"
                        },
                        "TotalResults": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total results.",
                          "title": "Total Results"
                        },
                        "TotalPageCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total page count.",
                          "title": "Total Page Count"
                        },
                        "SortExpression": {
                          "type": "string",
                          "description": "The sort expression.",
                          "title": "Sort Expression"
                        },
                        "SortIsAscending": {
                          "type": "boolean",
                          "description": "Whether the sort is ascending.",
                          "title": "Sort Is Ascending"
                        }
                      },
                      "title": "Paging"
                    },
                    "MailingLists": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "ActiveMemberCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The active member count.",
                            "title": "Active Member Count"
                          },
                          "BouncedMemberCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The bounced member count.",
                            "title": "Bounced Member Count"
                          },
                          "RemovedMemberCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The removed member count.",
                            "title": "Removed Member Count"
                          },
                          "UnsubscribedMemberCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unsubscribed member count.",
                            "title": "Unsubscribed Member Count"
                          },
                          "Status": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "CustomFieldsDefinition": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ID": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "Name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "Context": {
                                  "type": "string",
                                  "description": "The context.",
                                  "title": "Context"
                                },
                                "IsRequired": {
                                  "type": "boolean",
                                  "description": "Whether is required.",
                                  "title": "Is Required"
                                },
                                "Type": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The type.",
                                  "title": "Type"
                                }
                              }
                            },
                            "title": "Custom Fields Definition"
                          },
                          "CreatedBy": {
                            "type": "string",
                            "description": "The created by.",
                            "title": "Created By"
                          },
                          "CreatedOn": {
                            "type": "string",
                            "description": "When created on.",
                            "title": "Created On"
                          },
                          "UpdatedBy": {
                            "type": "string",
                            "description": "The updated by.",
                            "title": "Updated By"
                          },
                          "UpdatedOn": {
                            "type": "string",
                            "description": "The updated on.",
                            "title": "Updated On"
                          },
                          "ImportOperation": {
                            "type": "object",
                            "properties": {
                              "ID": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The identifier.",
                                "title": "ID"
                              },
                              "DataHash": {
                                "type": "string",
                                "description": "The data hash.",
                                "title": "Data Hash"
                              },
                              "Mappings": {
                                "type": "string",
                                "description": "The mappings.",
                                "title": "Mappings"
                              },
                              "EmailNotify": {
                                "type": "string",
                                "description": "The notify email.",
                                "title": "Email Notify"
                              },
                              "CreatedOn": {
                                "type": "string",
                                "description": "When created on.",
                                "title": "Created On"
                              },
                              "StartedOn": {
                                "type": "string",
                                "description": "When started on.",
                                "title": "Started On"
                              },
                              "CompletedOn": {
                                "type": "string",
                                "description": "When completed on.",
                                "title": "Completed On"
                              },
                              "TotalInserted": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The total inserted.",
                                "title": "Total Inserted"
                              },
                              "TotalUpdated": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The total updated.",
                                "title": "Total Updated"
                              },
                              "TotalUnsubscribed": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The total unsubscribed.",
                                "title": "Total Unsubscribed"
                              },
                              "TotalInvalid": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The total invalid.",
                                "title": "Total Invalid"
                              },
                              "TotalDuplicate": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The total duplicate.",
                                "title": "Total Duplicate"
                              },
                              "TotalMembers": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The total members.",
                                "title": "Total Members"
                              },
                              "Message": {
                                "type": "string",
                                "description": "The message.",
                                "title": "Message"
                              },
                              "Success": {
                                "type": "boolean",
                                "description": "Whether successful.",
                                "title": "Success"
                              }
                            },
                            "title": "Import Operation"
                          }
                        }
                      },
                      "title": "Mailing Lists"
                    }
                  },
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Get all active mailing lists",
        "description": "Retrieves a list of your active mailing lists in your account.",
        "operationId": "ListActive",
        "parameters": [
          {
            "name": "Page",
            "in": "path",
            "x-ms-summary": "Page",
            "x-ms-url-encoding": "single",
            "description": "The page.",
            "required": true,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "PageSize",
            "in": "path",
            "x-ms-summary": "Page Size",
            "x-ms-url-encoding": "single",
            "description": "The page size.",
            "required": true,
            "type": "integer",
            "default": 20
          },
          {
            "name": "SortBy",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "The sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "SortMethod",
            "in": "query",
            "x-ms-summary": "Sort Method",
            "description": "The sort method.",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/lists/{MailingListId}/details.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "Name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "ActiveMemberCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The active member count.",
                      "title": "Active Member Count"
                    },
                    "BouncedMemberCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The bounced member count.",
                      "title": "Bounced Member Count"
                    },
                    "RemovedMemberCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The removed member count.",
                      "title": "Removed Member Count"
                    },
                    "UnsubscribedMemberCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unsubscribed member count.",
                      "title": "Unsubscribed Member Count"
                    },
                    "Status": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "CustomFieldsDefinition": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "Context": {
                            "type": "string",
                            "description": "The context.",
                            "title": "Context"
                          },
                          "IsRequired": {
                            "type": "boolean",
                            "description": "Whether is required.",
                            "title": "Is Required"
                          },
                          "Type": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The type.",
                            "title": "Type"
                          }
                        }
                      },
                      "title": "Custom Fields Definition"
                    },
                    "CreatedBy": {
                      "type": "string",
                      "description": "The created by.",
                      "title": "Created By"
                    },
                    "CreatedOn": {
                      "type": "string",
                      "description": "When created on.",
                      "title": "Created On"
                    },
                    "UpdatedBy": {
                      "type": "string",
                      "description": "The updated by.",
                      "title": "Updated By"
                    },
                    "UpdatedOn": {
                      "type": "string",
                      "description": "When updated on.",
                      "title": "Updated On"
                    },
                    "ImportOperation": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "DataHash": {
                          "type": "string",
                          "description": "The data hash.",
                          "title": "Data Hash"
                        },
                        "Mappings": {
                          "type": "string",
                          "description": "The mappings.",
                          "title": "Mappings"
                        },
                        "EmailNotify": {
                          "type": "string",
                          "description": "The email notify.",
                          "title": "Email Notify"
                        },
                        "CreatedOn": {
                          "type": "string",
                          "description": "When created on.",
                          "title": "Created On"
                        },
                        "StartedOn": {
                          "type": "string",
                          "description": "When started on.",
                          "title": "Started On"
                        },
                        "CompletedOn": {
                          "type": "string",
                          "description": "When completed on.",
                          "title": "Completed On"
                        },
                        "TotalInserted": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total inserted.",
                          "title": "Total Inserted"
                        },
                        "TotalUpdated": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total updated.",
                          "title": "Total Updated"
                        },
                        "TotalUnsubscribed": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total unsubscribed.",
                          "title": "Total Unsubscribed"
                        },
                        "TotalInvalid": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total invalid.",
                          "title": "Total Invalid"
                        },
                        "TotalIgnored": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total ignored.",
                          "title": "Total Ignored"
                        },
                        "TotalDuplicate": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total duplicate.",
                          "title": "Total Duplicate"
                        },
                        "TotalMembers": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total members.",
                          "title": "Total Members"
                        },
                        "Message": {
                          "type": "string",
                          "description": "The message.",
                          "title": "Message"
                        },
                        "Success": {
                          "type": "boolean",
                          "description": "Whether successful.",
                          "title": "Success"
                        },
                        "SkipNewMembers": {
                          "type": "boolean",
                          "description": "Whether to skip new members.",
                          "title": "Skip New Members"
                        }
                      },
                      "title": "Import Operation"
                    }
                  },
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Get mailing list details",
        "description": "Retrieve details for a given mailing list.",
        "operationId": "ListDetails",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "WithStatistics",
            "in": "query",
            "x-ms-summary": "With Statistics",
            "description": "Whether with statistics.",
            "required": false,
            "type": "boolean"
          }
        ]
      }
    },
    "/lists/create.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "string",
                  "description": "The context.",
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Create a mailing list",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "ConfirmationPage": {
                  "type": "string",
                  "description": "The confirmation page.",
                  "title": "Confirmation Page"
                },
                "RedirectAfterUnsubscribePage": {
                  "type": "string",
                  "description": "The redirect after unsubscribe page.",
                  "title": "Redirect After Unsubscribe Page"
                }
              }
            }
          }
        ],
        "description": "Creates a new empty mailing list in your account.",
        "operationId": "ListCreate"
      }
    },
    "/lists/{MailingListId}/update.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "string",
                  "description": "The context.",
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Update a mailing list",
        "description": "Updates the properties of an existing mailing list.",
        "operationId": "ListUpdate",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "ConfirmationPage": {
                  "type": "string",
                  "description": "The confirmation page.",
                  "title": "Confirmation Page"
                },
                "RedirectAfterUnsubscribePage": {
                  "type": "string",
                  "description": "The redirect after unsubscribe page.",
                  "title": "Redirect After Unsubscribe Page"
                }
              }
            }
          }
        ]
      }
    },
    "/lists/{MailingListId}/delete.json": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "string",
                  "description": "The context.",
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Delete a mailing list",
        "description": "Deletes a mailing list from your account.",
        "operationId": "ListDelete",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/lists/{MailingListId}/customfields/create.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "string",
                  "description": "The context.",
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Create a custom field",
        "description": "Creates a new custom field in the specified mailing list.",
        "operationId": "FieldCreate",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "CustomFieldType": {
                  "type": "string",
                  "description": "The custom field type.",
                  "title": "Custom Field Type"
                },
                "Options": {
                  "type": "string",
                  "description": "The options.",
                  "title": "Options"
                }
              }
            }
          }
        ]
      }
    },
    "/lists/{MailingListId}/customfields/{CustomFieldId}/update.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "string",
                  "description": "The context.",
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Update a custom field",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "CustomFieldId",
            "in": "path",
            "x-ms-summary": "Custom Field ID",
            "x-ms-url-encoding": "single",
            "description": "The custom field identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "CustomFieldType": {
                  "type": "string",
                  "description": "The custom field type.",
                  "title": "Custom Field Type"
                },
                "Options": {
                  "type": "string",
                  "description": "The options.",
                  "title": "Options"
                }
              }
            }
          }
        ],
        "description": "Updates the properties of an existing custom field in the specified mailing list.",
        "operationId": "FieldUpdate"
      }
    },
    "/lists/{MailingListId}/customfields/{CustomFieldId}/delete.json": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "string",
                  "description": "The context.",
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Remove a custom field",
        "description": "Removes a custom field definition from the specified mailing list.",
        "operationId": "FieldDelete",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "CustomFieldId",
            "in": "path",
            "x-ms-summary": "Custom Field ID",
            "x-ms-url-encoding": "single",
            "description": "The custom field identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/lists/{MailingListId}/subscribers/Subscribed.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "object",
                  "properties": {
                    "Paging": {
                      "type": "object",
                      "properties": {
                        "PageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page size.",
                          "title": "Page Size"
                        },
                        "CurrentPage": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The current page.",
                          "title": "Current Page"
                        },
                        "TotalResults": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total results.",
                          "title": "Total Results"
                        },
                        "TotalPageCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total page count.",
                          "title": "Total Page Count"
                        },
                        "SortExpression": {
                          "type": "string",
                          "description": "The sort expression.",
                          "title": "Sort Expression"
                        },
                        "SortIsAscending": {
                          "type": "boolean",
                          "description": "Whether the sort is ascending.",
                          "title": "Sort Is Ascending"
                        }
                      },
                      "title": "Paging"
                    },
                    "Subscribers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "Email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "CreatedOn": {
                            "type": "string",
                            "description": "When created on.",
                            "title": "Created On"
                          },
                          "UpdatedOn": {
                            "type": "string",
                            "description": "The updated on.",
                            "title": "Updated On"
                          },
                          "UnsubscribedOn": {
                            "type": "string",
                            "description": "When unsubscribed on.",
                            "title": "Unsubscribed On"
                          },
                          "UnsubscribedFromID": {
                            "type": "string",
                            "description": "The unsubscribed from identifier.",
                            "title": "Unsubscribed From ID"
                          },
                          "SubscribeType": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The subscribe type.",
                            "title": "Subscribe Type"
                          },
                          "SubscribeMethod": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The subscribe method.",
                            "title": "Subscribe Method"
                          },
                          "CustomFields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "CustomFieldID": {
                                  "type": "string",
                                  "description": "The custom field identifier.",
                                  "title": "Custom Field ID"
                                },
                                "Name": {
                                  "type": "string",
                                  "description": "The name.",
                                  "title": "Name"
                                },
                                "Value": {
                                  "type": "string",
                                  "description": "The value.",
                                  "title": "Value"
                                }
                              }
                            },
                            "title": "Custom Fields"
                          },
                          "RemovedOn": {
                            "type": "string",
                            "description": "When removed on.",
                            "title": "Removed On"
                          }
                        }
                      },
                      "title": "Subscribers"
                    }
                  },
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Get subscribers",
        "description": "Retrieves a list of all subscribers in a given mailing list.",
        "operationId": "SubscriberList",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "PageSize",
            "in": "query",
            "x-ms-summary": "Page Size",
            "description": "The page size.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/subscribers/{MailingListId}/view.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "Name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "Email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "CreatedOn": {
                      "type": "string",
                      "description": "When created on.",
                      "title": "Created On"
                    },
                    "UpdatedOn": {
                      "type": "string",
                      "description": "When updated on.",
                      "title": "Updated On"
                    },
                    "UnsubscribedOn": {
                      "type": "string",
                      "description": "When unsubscribed on.",
                      "title": "Unsubscribed On"
                    },
                    "UnsubscribedFromID": {
                      "type": "string",
                      "description": "The unsubscribed from identifier.",
                      "title": "Unsubscribed From ID"
                    },
                    "SubscribeType": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribe type.",
                      "title": "Subscribe Type"
                    },
                    "SubscribeMethod": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribe method.",
                      "title": "Subscribe Method"
                    },
                    "CustomFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CustomFieldID": {
                            "type": "string",
                            "description": "The custom field identifier.",
                            "title": "Custom Field ID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "Value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        }
                      },
                      "title": "Custom Fields"
                    },
                    "RemovedOn": {
                      "type": "string",
                      "description": "When removed on.",
                      "title": "Removed On"
                    }
                  },
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Get subscriber by email address",
        "description": "Searches for a subscriber with the specified email address in the specified mailing list.",
        "operationId": "SubscriberGetEmail",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Email",
            "in": "query",
            "x-ms-summary": "Email",
            "description": "The email address.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/subscribers/{MailingListId}/find/{SubscriberId}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "Name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "Email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "CreatedOn": {
                      "type": "string",
                      "description": "When created on.",
                      "title": "Created On"
                    },
                    "UpdatedOn": {
                      "type": "string",
                      "description": "When updated on.",
                      "title": "Updated On"
                    },
                    "UnsubscribedOn": {
                      "type": "string",
                      "description": "When unsubscribed on.",
                      "title": "Unsubscribed On"
                    },
                    "UnsubscribedFromID": {
                      "type": "string",
                      "description": "The unsubscribed from identifier.",
                      "title": "Unsubscribed From ID"
                    },
                    "SubscribeType": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribe type.",
                      "title": "Subscribe Type"
                    },
                    "SubscribeMethod": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribe method.",
                      "title": "Subscribe Method"
                    },
                    "CustomFields": {
                      "type": "array",
                      "items": {},
                      "description": "The custom fields.",
                      "title": "Custom Fields"
                    },
                    "RemovedOn": {
                      "type": "string",
                      "description": "When removed on.",
                      "title": "Removed On"
                    }
                  },
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Get subscriber by ID",
        "description": "Searches for a subscriber with the specified unique identifier in the specified mailing list.",
        "operationId": "SubscriberGetID",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "SubscriberId",
            "in": "path",
            "x-ms-summary": "Subscriber ID",
            "x-ms-url-encoding": "single",
            "description": "The subscriber identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/subscribers/{MailingListId}/subscribe.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "Name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "Email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "CreatedOn": {
                      "type": "string",
                      "description": "When created on.",
                      "title": "Created On"
                    },
                    "UpdatedOn": {
                      "type": "string",
                      "description": "When updated on.",
                      "title": "Updated On"
                    },
                    "UnsubscribedOn": {
                      "type": "string",
                      "description": "When unsubscribed on.",
                      "title": "Unsubscribed On"
                    },
                    "UnsubscribedFromID": {
                      "type": "string",
                      "description": "The unsubscribed from identifier.",
                      "title": "Unsubscribed From ID"
                    },
                    "SubscribeType": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribe type.",
                      "title": "Subscribe Type"
                    },
                    "SubscribeMethod": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribe method.",
                      "title": "Subscribe Method"
                    },
                    "CustomFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CustomFieldID": {
                            "type": "string",
                            "description": "The custom field identifier.",
                            "title": "Custom Field ID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "Value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        }
                      },
                      "title": "Custom Fields"
                    },
                    "RemovedOn": {
                      "type": "string",
                      "description": "When removed on.",
                      "title": "Removed On"
                    }
                  },
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Add subscriber",
        "description": "Adds a new subscriber to the specified mailing list.",
        "operationId": "SubscriberAdd",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "Email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "HasExternalDoubleOptIn": {
                  "type": "boolean",
                  "description": "Whether has external double opt in.",
                  "title": "Has External Double Opt In"
                },
                "CustomFields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The custom fields.",
                  "title": "Custom Fields"
                }
              }
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListId}/subscribe_many.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ID": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "Name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "Email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "CreatedOn": {
                        "type": "string",
                        "description": "When created on.",
                        "title": "Created On"
                      },
                      "UpdatedOn": {
                        "type": "string",
                        "description": "When updated on.",
                        "title": "Updated On"
                      },
                      "UnsubscribedOn": {
                        "type": "string",
                        "description": "When unsubscribed on.",
                        "title": "Unsubscribed On"
                      },
                      "UnsubscribedFromID": {
                        "type": "string",
                        "description": "The unsubscribed from identifier.",
                        "title": "Unsubscribed From ID"
                      },
                      "SubscribeType": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The subscribe type.",
                        "title": "Subscribe Type"
                      },
                      "SubscribeMethod": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The subscribe method.",
                        "title": "Subscribe Method"
                      },
                      "CustomFields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "CustomFieldID": {
                              "type": "string",
                              "description": "The custom field identifier.",
                              "title": "Custom Field ID"
                            },
                            "Name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "Value": {
                              "type": "string",
                              "description": "The value.",
                              "title": "Value"
                            }
                          }
                        },
                        "title": "Custom Fields"
                      },
                      "RemovedOn": {
                        "type": "string",
                        "description": "The removed on.",
                        "title": "Removed On"
                      }
                    }
                  },
                  "title": "Context"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "HasExternalDoubleOptIn": {
                  "type": "boolean",
                  "description": "Whether has external double opt in.",
                  "title": "Has External Double Opt In"
                },
                "Subscribers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "Email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "CustomFields": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The custom fields.",
                        "title": "Custom Fields"
                      }
                    }
                  },
                  "title": "Subscribers"
                }
              }
            }
          }
        ],
        "summary": "Add multiple subscribers",
        "description": "Adds multiple subscribers in a mailing list with a single call.",
        "operationId": "SubscriberAddBulk"
      }
    },
    "/subscribers/{MailingListId}/update/{SubscriberId}.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "Name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "Email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "CreatedOn": {
                      "type": "string",
                      "description": "When created on.",
                      "title": "Created On"
                    },
                    "UpdatedOn": {
                      "type": "string",
                      "description": "When updated on.",
                      "title": "Updated On"
                    },
                    "UnsubscribedOn": {
                      "type": "string",
                      "description": "When unsubscribed on.",
                      "title": "Unsubscribed On"
                    },
                    "UnsubscribedFromID": {
                      "type": "string",
                      "description": "The unsubscribed from identifier.",
                      "title": "Unsubscribed From ID"
                    },
                    "SubscribeType": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribe type.",
                      "title": "Subscribe Type"
                    },
                    "SubscribeMethod": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribe method.",
                      "title": "Subscribe Method"
                    },
                    "CustomFields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CustomFieldID": {
                            "type": "string",
                            "description": "The custom field identifier.",
                            "title": "Custom Field ID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "Value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        }
                      },
                      "title": "Custom Fields"
                    },
                    "RemovedOn": {
                      "type": "string",
                      "description": "When removed on.",
                      "title": "Removed On"
                    }
                  },
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Update a subscriber",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "SubscriberId",
            "in": "path",
            "x-ms-summary": "Subscriber ID",
            "x-ms-url-encoding": "single",
            "description": "The subscriber identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "HasExternalDoubleOptIn": {
                  "type": "boolean",
                  "description": "Whether has external double opt in.",
                  "title": "Has External Double Opt In"
                },
                "Email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "CustomFields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Custom Fields"
                }
              }
            }
          }
        ],
        "description": "Updates a subscriber in the specified mailing list.",
        "operationId": "SubscriberUpdate"
      }
    },
    "/subscribers/unsubscribe.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "string",
                  "description": "The context.",
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Unsubscribe subscriber from account",
        "description": "Unsubscribes a subscriber from the account.",
        "operationId": "UnsubscribeAccount",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                }
              },
              "required": [
                "Email"
              ]
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListId}/unsubscribe.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "string",
                  "description": "The context.",
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Unsubscribe subscriber from mailing list",
        "description": "Unsubscribes a subscriber from the specified mailing list.",
        "operationId": "UnsubscribeList",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                }
              },
              "required": [
                "Email"
              ]
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListId}/remove.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "string",
                  "description": "The context.",
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Remove a subscriber",
        "description": "Removes a subscriber from the specified mailing list permanently.",
        "operationId": "UnsubscribeRemove",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                }
              },
              "required": [
                "Email"
              ]
            }
          }
        ]
      }
    },
    "/subscribers/{MailingListId}/remove_many.json": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "object",
                  "properties": {
                    "EmailsIgnored": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The emails ignored.",
                      "title": "Emails Ignored"
                    },
                    "EmailsProcessed": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The emails processed.",
                      "title": "Emails Processed"
                    }
                  },
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Remove multiple subscribers",
        "parameters": [
          {
            "name": "MailingListId",
            "in": "path",
            "x-ms-summary": "Mailing List ID",
            "x-ms-url-encoding": "single",
            "description": "The mailing list identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Emails": {
                  "type": "string",
                  "description": "The emails.",
                  "title": "Emails"
                }
              },
              "required": [
                "Emails"
              ]
            }
          }
        ],
        "description": "Removes a list of subscribers from the specified mailing list permanently.",
        "operationId": "UnsubscribeRemoveBulk"
      }
    },
    "/campaigns/{Page}/{PageSize}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "object",
                  "properties": {
                    "Paging": {
                      "type": "object",
                      "properties": {
                        "PageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The page size.",
                          "title": "Page Size"
                        },
                        "CurrentPage": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The current page.",
                          "title": "Current Page"
                        },
                        "TotalResults": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total results.",
                          "title": "Total Results"
                        },
                        "TotalPageCount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The total page count.",
                          "title": "Total Page Count"
                        },
                        "SortExpression": {
                          "type": "string",
                          "description": "The sort expression.",
                          "title": "Sort Expression"
                        },
                        "SortIsAscending": {
                          "type": "boolean",
                          "description": "Whether the sort is ascending.",
                          "title": "Sort Is Ascending"
                        }
                      },
                      "title": "Paging"
                    },
                    "Campaigns": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ID": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "Name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "Subject": {
                            "type": "string",
                            "description": "The subject.",
                            "title": "Subject"
                          },
                          "SiteName": {
                            "type": "string",
                            "description": "The site name.",
                            "title": "Site Name"
                          },
                          "ConfirmationTo": {
                            "type": "string",
                            "description": "The confirmation to.",
                            "title": "Confirmation To"
                          },
                          "CreatedOn": {
                            "type": "string",
                            "description": "When created on.",
                            "title": "Created On"
                          },
                          "ABHoursToTest": {
                            "type": "string",
                            "description": "The AB hours to test.",
                            "title": "AB Hours To Test"
                          },
                          "ABCampaignType": {
                            "type": "string",
                            "description": "The AB campaign type.",
                            "title": "AB Campaign Type"
                          },
                          "ABWinner": {
                            "type": "string",
                            "description": "The AB winner.",
                            "title": "A/ B Winner"
                          },
                          "ABWinnerSelectionType": {
                            "type": "string",
                            "description": "The AB winner selection type.",
                            "title": "AB Winner Selection Type"
                          },
                          "Status": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "DeliveredOn": {
                            "type": "string",
                            "description": "When delivered on.",
                            "title": "Delivered On"
                          },
                          "ScheduledFor": {
                            "type": "string",
                            "description": "When scheduled for.",
                            "title": "Scheduled For"
                          },
                          "ScheduledForTimezone": {
                            "type": "string",
                            "description": "The scheduled for timezone.",
                            "title": "Scheduled For Timezone"
                          },
                          "MailingLists": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "Campaign": {
                                  "type": "string",
                                  "description": "The campaign.",
                                  "title": "Campaign"
                                },
                                "MailingList": {
                                  "type": "object",
                                  "properties": {
                                    "ID": {
                                      "type": "string",
                                      "description": "The identifier.",
                                      "title": "ID"
                                    },
                                    "Name": {
                                      "type": "string",
                                      "description": "The name.",
                                      "title": "Name"
                                    },
                                    "ActiveMemberCount": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The active member count.",
                                      "title": "Active Member Count"
                                    },
                                    "BouncedMemberCount": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The bounced member count.",
                                      "title": "Bounced Member Count"
                                    },
                                    "RemovedMemberCount": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The removed member count.",
                                      "title": "Removed Member Count"
                                    },
                                    "UnsubscribedMemberCount": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The unsubscribed member count.",
                                      "title": "Unsubscribed Member Count"
                                    },
                                    "Status": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The status.",
                                      "title": "Status"
                                    },
                                    "CustomFieldsDefinition": {
                                      "type": "array",
                                      "items": {},
                                      "description": "The custom fields definition.",
                                      "title": "Custom Fields Definition"
                                    },
                                    "CreatedBy": {
                                      "type": "string",
                                      "description": "The created by.",
                                      "title": "Created By"
                                    },
                                    "CreatedOn": {
                                      "type": "string",
                                      "description": "When created on.",
                                      "title": "Created On"
                                    },
                                    "UpdatedBy": {
                                      "type": "string",
                                      "description": "The updated by.",
                                      "title": "Updated By"
                                    },
                                    "UpdatedOn": {
                                      "type": "string",
                                      "description": "When updated on.",
                                      "title": "Updated On"
                                    },
                                    "ImportOperation": {
                                      "type": "string",
                                      "description": "The import operation.",
                                      "title": "Import Operation"
                                    }
                                  },
                                  "title": "Mailing List"
                                },
                                "Segment": {
                                  "type": "string",
                                  "description": "The segment.",
                                  "title": "Segment"
                                }
                              }
                            },
                            "title": "Mailing Lists"
                          },
                          "TotalSent": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total sent.",
                            "title": "Total Sent"
                          },
                          "TotalOpens": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total opens.",
                            "title": "Total Opens"
                          },
                          "UniqueOpens": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique opens.",
                            "title": "Unique Opens"
                          },
                          "TotalBounces": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total bounces.",
                            "title": "Total Bounces"
                          },
                          "TotalForwards": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total forwards.",
                            "title": "Total Forwards"
                          },
                          "UniqueForwards": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique forwards.",
                            "title": "Unique Forwards"
                          },
                          "TotalLinkClicks": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total link clicks.",
                            "title": "Total Link Clicks"
                          },
                          "UniqueLinkClicks": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique link clicks.",
                            "title": "Unique Link Clicks"
                          },
                          "RecipientsCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The recipients count.",
                            "title": "Recipients Count"
                          },
                          "IsTransactional": {
                            "type": "boolean",
                            "description": "Whether is transactional.",
                            "title": "Is Transactional"
                          },
                          "TotalComplaints": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total complaints.",
                            "title": "Total Complaints"
                          },
                          "TotalUnsubscribes": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total unsubscribes.",
                            "title": "Total Unsubscribes"
                          }
                        }
                      },
                      "title": "Campaigns"
                    }
                  },
                  "title": "Context"
                }
              }
            }
          }
        },
        "summary": "Get campaigns",
        "parameters": [
          {
            "name": "Page",
            "in": "path",
            "x-ms-summary": "Page",
            "x-ms-url-encoding": "single",
            "description": "The page.",
            "required": true,
            "type": "string"
          },
          {
            "name": "PageSize",
            "in": "path",
            "x-ms-summary": "Page Size",
            "x-ms-url-encoding": "single",
            "description": "The page size.",
            "required": true,
            "type": "string"
          },
          {
            "name": "SortBy",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "The sort by.",
            "required": false,
            "type": "string"
          },
          {
            "name": "SortMethod",
            "in": "query",
            "x-ms-summary": "Sort Method",
            "description": "The sort method.",
            "required": false,
            "type": "string"
          }
        ],
        "description": "Returns a list of all campaigns in your account with detailed information.",
        "operationId": "CampaignGet"
      }
    },
    "/campaigns/{CampaignId}/view.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The code.",
                  "title": "Code"
                },
                "Error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                },
                "Context": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "Name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "Subject": {
                      "type": "string",
                      "description": "The subject.",
                      "title": "Subject"
                    },
                    "WebLocation": {
                      "type": "string",
                      "description": "The web location.",
                      "title": "Web Location"
                    },
                    "HTMLContent": {
                      "type": "string",
                      "description": "The HTML content.",
                      "title": "HTML Content"
                    },
                    "PlainContent": {
                      "type": "string",
                      "description": "The plain content.",
                      "title": "Plain Content"
                    },
                    "Sender": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "Email": {
                          "type": "string",
                          "description": "The email address.",
                          "title": "Email"
                        },
                        "CreatedOn": {
                          "type": "string",
                          "description": "When created on.",
                          "title": "Created On"
                        },
                        "IsEnabled": {
                          "type": "boolean",
                          "description": "Whether is enabled.",
                          "title": "Is Enabled"
                        },
                        "SpfVerified": {
                          "type": "boolean",
                          "description": "Whether SPF verified.",
                          "title": "SPF Verified"
                        },
                        "DkimVerified": {
                          "type": "boolean",
                          "description": "Whether DKIM verified.",
                          "title": "DKIM Verified"
                        },
                        "DkimPublic": {
                          "type": "string",
                          "description": "The public DKIM.",
                          "title": "DKIM Public"
                        }
                      },
                      "title": "Sender"
                    },
                    "DeliveredOn": {
                      "type": "string",
                      "description": "When delivered on.",
                      "title": "Delivered On"
                    },
                    "ReplyToEmail": {
                      "type": "object",
                      "properties": {
                        "ID": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "Name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "Email": {
                          "type": "string",
                          "description": "The email address.",
                          "title": "Email"
                        },
                        "CreatedOn": {
                          "type": "string",
                          "description": "When created on.",
                          "title": "Created On"
                        },
                        "IsEnabled": {
                          "type": "boolean",
                          "description": "Whether is enabled.",
                          "title": "Is Enabled"
                        },
                        "SpfVerified": {
                          "type": "boolean",
[...]
