{
  "swagger": "2.0",
  "info": {
    "title": "Star Wars",
    "description": "The Star Wars API, is the world's first quantified and programmatically-accessible data source for all the data from the Star Wars canon universe! We've taken all the rich contextual stuff from the universe and formatted into something easier to consume with software.",
    "version": "1.0",
    "contact": {
      "name": "Paul Culmsee",
      "url": "https://www.sevensigma.com.au",
      "email": "paul.culmsee@sevensigma.com.au"
    }
  },
  "host": "swapi.dev",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/species": {
      "get": {
        "operationId": "GetSpecies",
        "description": "A Species resource is a type of person or character within the Star Wars Universe",
        "responses": {
          "200": {
            "description": "An array of species.",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of Species",
                  "title": "Species Count"
                },
                "next": {
                  "type": "string",
                  "description": "URL to next set of records",
                  "title": "next"
                },
                "previous": {
                  "type": "string",
                  "description": "URL to previous set of records",
                  "title": "previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/species"
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "parameters": [{
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Search string",
            "description": "Search species by name"
          }, {
            "$ref": "#/parameters/Page"
          }
        ],
        "summary": "Get All Species"
      }
    },
    "/starships": {
      "get": {
        "operationId": "GetStarships",
        "description": "A Starship resource is a single transport craft that has hyperdrive capability.",
        "responses": {
          "200": {
            "description": "An array of starships.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/starship"
              }
            }
          }
        },
        "parameters": [{
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Search string",
            "description": "Search sharships by name"
          }, {
            "$ref": "#/parameters/Page"
          }
        ],
        "summary": "Get all starships"
      }
    },
    "/films": {
      "get": {
        "operationId": "GetFilms",
        "description": "A Film resource is a single film",
        "responses": {
          "200": {
            "description": "An array of films.",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of records",
                  "title": "Count"
                },
                "next": {
                  "type": "string",
                  "description": "URL to next set of records",
                  "title": ""
                },
                "previous": {
                  "type": "string",
                  "description": "URL to previous set of records",
                  "title": ""
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/film"
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "parameters": [{
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Search string",
            "description": "Search films by name"
          }, {
            "$ref": "#/parameters/Page"
          }
        ],
        "summary": "Get all films"
      }
    },
    "/films/{id}": {
      "get": {
        "operationId": "GetFilmById",
        "parameters": [{
            "name": "id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "description": "Id of the film.",
            "required": true,
            "x-ms-summary": "Film Id",
            "type": "string"
          }
        ],
        "description": "Get a specific film by id.",
        "responses": {
          "200": {
            "description": "A film.",
            "schema": {
              "$ref": "#/definitions/film"
            }
          }
        },
        "summary": "Get Film by ID"
      }
    },
    "/planets": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "next": {
                  "type": "string",
                  "description": "next"
                },
                "previous": {
                  "type": "string",
                  "description": "previous"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/planet"
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "Get Planets",
        "description": "A Planet resource is a large mass, planet or planetoid in the Star Wars Universe, at the time of 0 ABY.",
        "operationId": "GetPlanets",
        "parameters": [{
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Search string",
            "description": "Search planets by name"
          }, {
            "$ref": "#/parameters/Page"
          }
        ]
      }
    },
    "/people": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/person"
            }
          }
        },
        "parameters": [{
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Search string",
            "description": "Search people by name"
          }, {
            "$ref": "#/parameters/Page"
          }
        ],
        "summary": "Get People",
        "operationId": "GetPeople",
        "description": "A People resource is an individual person or character within the Star Wars universe"
      }
    },
    "/people/{id}": {
      "get": {
        "operationId": "GetPersonById",
        "parameters": [{
            "name": "id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "description": "Id of the person.",
            "required": true,
            "x-ms-summary": "Person Id",
            "type": "string"
          }
        ],
        "description": "A People resource is an individual person or character within the Star Wars universe",
        "responses": {
          "200": {
            "description": "A person.",
            "schema": {
              "$ref": "#/definitions/person"
            }
          }
        },
        "summary": "Get Person By Id"
      }
    },
    "/planets/{id}": {
      "get": {
        "operationId": "GetPlanetById",
        "parameters": [{
            "name": "id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Planet Id",
            "description": "Id of the planet."
          }
        ],
        "description": "A Planet resource is a large mass, planet or planetoid in the Star Wars Universe, at the time of 0 ABY.",
        "responses": {
          "200": {
            "description": "A planet.",
            "schema": {
              "$ref": "#/definitions/planet"
            }
          }
        },
        "summary": "Get Planet By Id"
      }
    },
    "/species/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/species"
            }
          }
        },
        "summary": "Get Species By Id",
        "description": "A Species resource is a type of person or character within the Star Wars Universe",
        "operationId": "GetSpeciesById",
        "parameters": [{
            "name": "id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-summary": "Species Id",
            "description": "Id of Species",
            "type": "string"
          }
        ]
      }
    },
    "/starships/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/starship"
            }
          }
        },
        "summary": "Get StarShip By Id",
        "operationId": "GetStarShipById",
        "description": "A Starship resource is a single transport craft that has hyperdrive capability",
        "parameters": [{
            "name": "id",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "x-ms-summary": "Starship Id",
            "description": "Id of Starship",
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {
    "starship": {
      "type": "object",
      "properties": {
        "MGLT": {
          "type": "string",
          "description": "The Maximum number of Megalights this starship can travel in a standard hour. A \"Megalight\" is a standard unit of distance and has never been defined before within the Star Wars universe. This figure is only really useful for measuring the difference in speed of starships. We can assume it is similar to AU, the distance between our Sun (Sol) and Earth",
          "title": "Max Megalights per hour"
        },
        "cargo_capacity": {
          "type": "string",
          "description": "The maximum number of kilograms that this starship can transport",
          "title": "Cargo Capacity"
        },
        "consumables": {
          "type": "string",
          "description": "The maximum length of time that this starship can provide consumables for its entire crew without having to resupply",
          "title": "Max Consumables"
        },
        "cost_in_credits": {
          "type": "string",
          "description": "The cost of this starship new, in galactic credits",
          "title": "Cost in Credits"
        },
        "created": {
          "type": "string",
          "description": "the ISO 8601 date format of the time that this resource was created",
          "title": "Created Date"
        },
        "crew": {
          "type": "string",
          "description": "The number of personnel needed to run or pilot this starship",
          "title": "Crew"
        },
        "edited": {
          "type": "string",
          "description": "the ISO 8601 date format of the time that this resource was edited",
          "title": "Edited Date"
        },
        "hyperdrive_rating": {
          "type": "string",
          "description": "The class of this starships hyperdrive",
          "title": "Hyperdrive Rating"
        },
        "length": {
          "type": "string",
          "description": "The length of this starship in meters",
          "title": "Length"
        },
        "manufacturer": {
          "type": "string",
          "description": "The manufacturer of this starship. Comma separated if more than one",
          "title": "Manufacturer"
        },
        "max_atmosphering_speed": {
          "type": "string",
          "description": "The maximum speed of this starship in the atmosphere. \"N/A\" if this starship is incapable of atmospheric flight",
          "title": "Max Atmosphering Speed"
        },
        "model": {
          "type": "string",
          "description": "The model or official name of this starship. Such as \"T-65 X-wing\" or \"DS-1 Orbital Battle Station\"",
          "title": "Model"
        },
        "name": {
          "type": "string",
          "description": "The name of this starship. The common name, such as \"Death Star\".",
          "title": "Name"
        },
        "passengers": {
          "type": "string",
          "description": "The number of non-essential people this starship can transport",
          "title": "Number of Passengers"
        },
        "films": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "An array of Film URL Resources that this starship has appeared in",
            "title": "Films Appeared"
          },
          "description": "films"
        },
        "pilots": {
          "type": "array",
          "items": {
            "description": "An array of People URL Resources that this starship has been piloted by",
            "title": "Pilots",
            "type": "string"
          },
          "description": "pilots"
        },
        "starship_class": {
          "type": "string",
          "description": "The class of this starship, such as \"Starfighter\" or \"Deep Space Mobile Battlestation\"",
          "title": "Starship Class"
        },
        "url": {
          "type": "string",
          "description": "The hypermedia URL of this resource",
          "title": "Url"
        }
      }
    },
    "film": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of this film",
          "title": "Title"
        },
        "episode_id": {
          "type": "integer",
          "format": "int32",
          "description": "The episode number of this film",
          "title": "Episode Id"
        },
        "opening_crawl": {
          "type": "string",
          "description": "The opening paragraphs at the beginning of this film",
          "title": "Opening Crawl"
        },
        "director": {
          "type": "string",
          "description": "The name of the director of this film",
          "title": "Director"
        },
        "producer": {
          "type": "string",
          "description": "The name(s) of the producer(s) of this film. Comma separated",
          "title": "Producer"
        },
        "release_date": {
          "type": "string",
          "description": "The ISO 8601 date format of film release at original creator country.",
          "title": "Release Date"
        },
        "characters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Characters",
          "description": "An array of people resource URLs that are in this film"
        },
        "planets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Planets",
          "description": "An array of planet resource URLs that are in this film"
        },
        "starships": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Starships",
          "description": "An array of starship resource URLs that are in this film"
        },
        "vehicles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Vehicles",
          "description": "An array of vehicle resource URLs that are in this film"
        },
        "species": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Species",
          "description": "An array of species resource URLs that are in this film"
        },
        "created": {
          "type": "string",
          "description": "the ISO 8601 date format of the time that this resource was created",
          "title": "Created Date"
        },
        "edited": {
          "type": "string",
          "description": "the ISO 8601 date format of the time that this resource was edited",
          "title": "Edited Date"
        },
        "url": {
          "type": "string",
          "description": "the hypermedia URL of this resource",
          "title": "Url"
        }
      }
    },
    "species": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this species",
          "title": "Name"
        },
        "classification": {
          "type": "string",
          "description": "The classification of this species, such as \"mammal\" or \"reptile\"",
          "title": "Classificiation"
        },
        "designation": {
          "type": "string",
          "description": "The designation of this species, such as \"sentient\"",
          "title": "Designation"
        },
        "average_height": {
          "type": "string",
          "description": "The average height of this species in centimeters",
          "title": "Average Height"
        },
        "skin_colors": {
          "type": "string",
          "description": "A comma-separated string of common skin colors for this species, \"none\" if this species does not typically have skin",
          "title": "Skin Colors"
        },
        "hair_colors": {
          "type": "string",
          "description": "hair_colors",
          "title": "Hair Colors"
        },
        "eye_colors": {
          "type": "string",
          "description": "A comma-separated string of common eye colors for this species, \"none\" if this species does not typically have eyes",
          "title": "Eye Colors"
        },
        "average_lifespan": {
          "type": "string",
          "description": "The average lifespan of this species in years",
          "title": "Average Lifespan"
        },
        "homeworld": {
          "type": "string",
          "description": "The URL of a planet resource, a planet that this species originates from.",
          "title": "Home World"
        },
        "language": {
          "type": "string",
          "description": "The language commonly spoken by this species",
          "title": "Language"
        },
        "people": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "people"
        },
        "films": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "films"
        },
        "created": {
          "type": "string",
          "description": "the ISO 8601 date format of the time that this resource was created",
          "title": "Created Date"
        },
        "edited": {
          "type": "string",
          "description": "the ISO 8601 date format of the time that this resource was edited",
          "title": "Edited Date"
        },
        "url": {
          "type": "string",
          "description": "the hypermedia URL of this resource",
          "title": "Url"
        }
      }
    },
    "planet": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this planet",
          "title": "Name"
        },
        "rotation_period": {
          "type": "string",
          "description": "The number of standard hours it takes for this planet to complete a single rotation on its axis",
          "title": "Rotation Period"
        },
        "orbital_period": {
          "type": "string",
          "description": "orbital_period"
        },
        "diameter": {
          "type": "string",
          "description": "The diameter of this planet in kilometers",
          "title": "Diameter"
        },
        "climate": {
          "type": "string",
          "description": "The climate of this planet. Comma separated if diverse",
          "title": "Climate"
        },
        "gravity": {
          "type": "string",
          "description": "A number denoting the gravity of this planet, where \"1\" is normal or 1 standard G. \"2\" is twice or 2 standard Gs. \"0.5\" is half or 0.5 standard Gs",
          "title": "Gravity"
        },
        "terrain": {
          "type": "string",
          "description": "The terrain of this planet. Comma separated if diverse",
          "title": "Terrain"
        },
        "surface_water": {
          "type": "string",
          "description": "The percentage of the planet surface that is naturally occurring water or bodies of water",
          "title": "Surface Water"
        },
        "population": {
          "type": "string",
          "description": "The average population of sentient beings inhabiting this planet",
          "title": "Population"
        },
        "residents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Residents",
          "description": "An array of People URL Resources that live on this planet."
        },
        "films": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Films",
          "description": "An array of Film URL Resources that this planet has appeared in"
        },
        "created": {
          "type": "string",
          "description": "The ISO 8601 date format of the time that this resource was created",
          "title": "Created Date"
        },
        "edited": {
          "type": "string",
          "description": "The ISO 8601 date format of the time that this resource was edited",
          "title": "Edited Date"
        },
        "url": {
          "type": "string",
          "description": "The hypermedia URL of this resource",
          "title": "Url"
        }
      }
    },
    "person": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this person",
          "title": "Name"
        },
        "height": {
          "type": "string",
          "description": "The height of the person in centimeters",
          "title": "Height"
        },
        "mass": {
          "type": "string",
          "description": "The mass of the person in kilograms",
          "title": "Mass"
        },
        "hair_color": {
          "type": "string",
          "description": "The hair color of this person. Will be \"unknown\" if not known or \"n/a\" if the person does not have hair",
          "title": "Hair Color"
        },
        "skin_color": {
          "type": "string",
          "description": "The skin color of this person.",
          "title": "Skin Color"
        },
        "eye_color": {
          "type": "string",
          "description": "The eye color of this person. Will be \"unknown\" if not known or \"n/a\" if the person does not have an eye.",
          "title": "Eye Color"
        },
        "birth_year": {
          "type": "string",
          "description": "The birth year of the person, using the in-universe standard of BBY or ABY - Before the Battle of Yavin or After the Battle of Yavin. The Battle of Yavin is a battle that occurs at the end of Star Wars episode IV: A New Hope",
          "title": "Birth Year"
        },
        "gender": {
          "type": "string",
          "description": "The gender of this person. Either \"Male\", \"Female\" or \"unknown\", \"n/a\" if the person does not have a gender.",
          "title": "Gender"
        },
        "homeworld": {
          "type": "string",
          "description": "The URL of a planet resource, a planet that this person was born on or inhabits.",
          "title": "Home World"
        },
        "films": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Films",
          "description": "An array of film resource URLs that this person has been in"
        },
        "species": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Species",
          "description": "An array of species resource URLs that this person belongs to"
        },
        "vehicles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Vehicles",
          "description": "An array of vehicle resource URLs that this person has piloted"
        },
        "starships": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Starships",
          "description": "An array of starship resource URLs that this person has piloted"
        },
        "created": {
          "type": "string",
          "description": "The ISO 8601 date format of the time that this resource was created",
          "title": "Created Date"
        },
        "edited": {
          "type": "string",
          "description": "The ISO 8601 date format of the time that this resource was edited",
          "title": "Edited Date"
        },
        "url": {
          "type": "string",
          "description": "The hypermedia URL of this resource",
          "title": "Url"
        }
      }
    }
  },
  "x-ms-connector-metadata": [{
      "propertyName": "Website",
      "propertyValue": "https://swapi.dev/"
    }, {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://swapi.dev/about"
    }, {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ],
  "parameters": {
    "Page": {
      "name": "page",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "description": "Page number",
      "x-ms-summary": "Page number"
    }
  },
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
