{
  "swagger": "2.0",
  "info": {
    "title": "Fiscal Data Service",
    "description": "A collection of endpoints to retrieve machine-readable datasets from the US Treasury's Fiscal Data Service",
    "version": "1.0",
    "contact": {
      "name": "Dan Romano",
      "url": "https://developments.substack.com",
      "email": "dan.romano@swolcat.com"
    }
  },
  "host": "api.fiscaldata.treasury.gov",
  "basePath": "/services/api/fiscal_service",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "Use 'Bearer {token}' to authenticate."
    }
  },
  "paths": {
    "/vorgang": {
      "get": {
        "summary": "Retrieve all parliamentary processes",
        "description": "Returns a list of all parliamentary processes in the Bundestag.",
        "operationId": "getVorgangList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "description": "Maximum number of records to return.",
            "x-ms-summary": "Limit the number of returned records."
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor used for paginated requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of processes.",
            "schema": {
              "$ref": "#/definitions/VorgangListResponse"
            }
          },
          "400": {
            "$ref": "#/definitions/ErrorResponse"
          },
          "401": {
            "$ref": "#/definitions/ErrorResponse"
          },
          "500": {
            "$ref": "#/definitions/ErrorResponse"
          }
        }
      }
    },
    "/vorgang/{id}": {
      "get": {
        "summary": "Retrieve a specific parliamentary process",
        "description": "Returns metadata for a specific parliamentary process in the Bundestag.",
        "operationId": "getVorgangById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the parliamentary process.",
            "x-ms-summary": "Retrieve a parliamentary process by its ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing process details.",
            "schema": {
              "$ref": "#/definitions/Vorgang"
            }
          },
          "400": {
            "$ref": "#/definitions/ErrorResponse"
          },
          "401": {
            "$ref": "#/definitions/ErrorResponse"
          },
          "404": {
            "$ref": "#/definitions/ErrorResponse"
          },
          "500": {
            "$ref": "#/definitions/ErrorResponse"
          }
        }
      }
    }
  },
  "/vorgangsposition/{id}": {
    "get": {
      "summary": "Retrieve a specific process step",
      "description": "Returns metadata for a specific process step in the Bundestag.",
      "operationId": "getVorgangspositionById",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The unique identifier of the process step.",
          "x-ms-summary": "Retrieve a process step by its ID."
        }
      ],
      "responses": {
        "200": {
          "description": "Successful response containing process step details.",
          "schema": {
            "$ref": "#/definitions/Vorgangsposition"
          }
        },
        "400": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "401": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "404": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "500": {
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    }
  },
  "/drucksache": {
    "get": {
      "summary": "Retrieve all parliamentary documents",
      "description": "Returns a list of all parliamentary documents (Drucksachen) in the Bundestag.",
      "operationId": "getDrucksacheList",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "name": "limit",
          "in": "query",
          "type": "integer",
          "format": "int32",
          "required": false,
          "description": "Maximum number of records to return.",
          "x-ms-summary": "Limit the number of returned records."
        },
        {
          "name": "cursor",
          "in": "query",
          "type": "string",
          "required": false,
          "description": "Cursor for pagination.",
          "x-ms-summary": "Cursor used for paginated requests."
        }
      ],
      "responses": {
        "200": {
          "description": "Successful response containing a list of parliamentary documents.",
          "schema": {
            "$ref": "#/definitions/DrucksacheListResponse"
          }
        },
        "400": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "401": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "500": {
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    }
  },
  "/drucksache/{id}": {
    "get": {
      "summary": "Retrieve a specific parliamentary document",
      "description": "Returns metadata for a specific parliamentary document in the Bundestag.",
      "operationId": "getDrucksacheById",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The unique identifier of the parliamentary document.",
          "x-ms-summary": "Retrieve a parliamentary document by its ID."
        }
      ],
      "responses": {
        "200": {
          "description": "Successful response containing document details.",
          "schema": {
            "$ref": "#/definitions/Drucksache"
          }
        },
        "400": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "401": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "404": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "500": {
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    }
  },
  "/plenarprotokoll": {
    "get": {
      "summary": "Retrieve all plenary protocols",
      "description": "Returns a list of all plenary protocols (Plenarprotokolle) in the Bundestag.",
      "operationId": "getPlenarprotokollList",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "name": "limit",
          "in": "query",
          "type": "integer",
          "format": "int32",
          "required": false,
          "description": "Maximum number of records to return.",
          "x-ms-summary": "Limit the number of returned records."
        },
        {
          "name": "cursor",
          "in": "query",
          "type": "string",
          "required": false,
          "description": "Cursor for pagination.",
          "x-ms-summary": "Cursor used for paginated requests."
        }
      ],
      "responses": {
        "200": {
          "description": "Successful response containing a list of plenary protocols.",
          "schema": {
            "$ref": "#/definitions/PlenarprotokollListResponse"
          }
        },
        "400": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "401": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "500": {
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    }
  },
  "/plenarprotokoll/{id}": {
    "get": {
      "summary": "Retrieve a specific plenary protocol",
      "description": "Returns metadata for a specific plenary protocol in the Bundestag.",
      "operationId": "getPlenarprotokollById",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The unique identifier of the plenary protocol.",
          "x-ms-summary": "Retrieve a plenary protocol by its ID."
        }
      ],
      "responses": {
        "200": {
          "description": "Successful response containing plenary protocol details.",
          "schema": {
            "$ref": "#/definitions/Plenarprotokoll"
          }
        },
        "400": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "401": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "404": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "500": {
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    }
  },
  "/aktivitaet": {
    "get": {
      "summary": "Retrieve all parliamentary activities",
      "description": "Returns a list of all recorded parliamentary activities (Aktivitäten) in the Bundestag.",
      "operationId": "getAktivitaetList",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "name": "limit",
          "in": "query",
          "type": "integer",
          "format": "int32",
          "required": false,
          "description": "Maximum number of records to return.",
          "x-ms-summary": "Limit the number of returned records."
        },
        {
          "name": "cursor",
          "in": "query",
          "type": "string",
          "required": false,
          "description": "Cursor for pagination.",
          "x-ms-summary": "Cursor used for paginated requests."
        }
      ],
      "responses": {
        "200": {
          "description": "Successful response containing a list of parliamentary activities.",
          "schema": {
            "$ref": "#/definitions/AktivitaetListResponse"
          }
        },
        "400": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "401": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "500": {
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    }
  },
  "/aktivitaet/{id}": {
    "get": {
      "summary": "Retrieve a specific parliamentary activity",
      "description": "Returns metadata for a specific parliamentary activity in the Bundestag.",
      "operationId": "getAktivitaetById",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The unique identifier of the parliamentary activity.",
          "x-ms-summary": "Retrieve a parliamentary activity by its ID."
        }
      ],
      "responses": {
        "200": {
          "description": "Successful response containing activity details.",
          "schema": {
            "$ref": "#/definitions/Aktivitaet"
          }
        },
        "400": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "401": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "404": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "500": {
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    }
  },
  "/person": {
    "get": {
      "summary": "Retrieve all persons in the Bundestag",
      "description": "Returns a list of all persons in the Bundestag, including politicians, officials, and other relevant individuals.",
      "operationId": "getPersonList",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "name": "limit",
          "in": "query",
          "type": "integer",
          "format": "int32",
          "required": false,
          "description": "Maximum number of records to return.",
          "x-ms-summary": "Limit the number of returned records."
        },
        {
          "name": "cursor",
          "in": "query",
          "type": "string",
          "required": false,
          "description": "Cursor for pagination.",
          "x-ms-summary": "Cursor used for paginated requests."
        }
      ],
      "responses": {
        "200": {
          "description": "Successful response containing a list of persons.",
          "schema": {
            "$ref": "#/definitions/PersonListResponse"
          }
        },
        "400": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "401": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "500": {
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    }
  },
  "/person/{id}": {
    "get": {
      "summary": "Retrieve a specific person",
      "description": "Returns metadata for a specific person in the Bundestag.",
      "operationId": "getPersonById",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The unique identifier of the person.",
          "x-ms-summary": "Retrieve a person by their ID."
        }
      ],
      "responses": {
        "200": {
          "description": "Successful response containing person details.",
          "schema": {
            "$ref": "#/definitions/Person"
          }
        },
        "400": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "401": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "404": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "500": {
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    }
  },
  "definitions": {
    "VorgangListResponse": {
      "type": "object",
      "description": "Response containing a list of parliamentary processes.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of processes found.",
          "example": 176
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "AoJwgNjC_PYCMURydWNrc2FjaGUtMjQ5MjYw"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vorgang"
          }
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Vorgang": {
      "type": "object",
      "description": "Metadata for a specific parliamentary process.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "84433",
          "description": "Unique identifier for the process."
        },
        "type": {
          "type": "string",
          "example": "Vorgang",
          "description": "Type of process."
        },
        "wahlperiode": {
          "type": "integer",
          "format": "int32",
          "example": 19,
          "description": "Legislative period."
        },
        "title": {
          "type": "string",
          "example": "Weitergeltung von Geschäftsordnungsrecht",
          "description": "Title of the process."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "example": "2019-03-27",
          "description": "Date the process was created."
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2022-08-01T15:30:16+02:00",
          "description": "Last update timestamp."
        }
      },
      "required": [
        "id",
        "type",
        "wahlperiode",
        "title",
        "datum",
        "aktualisiert"
      ]
    },
    "VorgangspositionListResponse": {
      "type": "object",
      "description": "Response containing a list of parliamentary process steps.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of process steps found.",
          "example": 200
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "NjC_PYCMURydWNrc2FjaGUtMjQ5MjYw"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vorgangsposition"
          }
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Vorgangsposition": {
      "type": "object",
      "description": "Metadata for a specific parliamentary process step.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "173376",
          "description": "Unique identifier for the process step."
        },
        "type": {
          "type": "string",
          "example": "Antrag zur Weitergeltung der Geschäftsordnung",
          "description": "Type of process step."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "example": "2022-08-01",
          "description": "Date of the process step."
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2022-08-01T15:30:16+02:00",
          "description": "Last update timestamp."
        },
        "gang": {
          "type": "boolean",
          "example": true,
          "description": "Indicates whether the process step is crucial for legislative progress."
        },
        "fundstelle": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fundstelle"
          },
          "description": "References to related legislative documents."
        }
      },
      "required": [
        "id",
        "type",
        "datum",
        "aktualisiert"
      ]
    },
    "Fundstelle": {
      "type": "object",
      "description": "Reference to a document related to the process step.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID of the reference."
        },
        "dokumentart": {
          "type": "string",
          "description": "Type of referenced document."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "description": "Date of the referenced document."
        },
        "pdf_url": {
          "type": "string",
          "description": "URL to the document PDF."
        }
      },
      "required": [
        "id",
        "dokumentart",
        "datum"
      ]
    },
    "DrucksacheListResponse": {
      "type": "object",
      "description": "Response containing a list of parliamentary documents.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of documents found.",
          "example": 300
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "MjQ5MjYwNjC_PYCMURydWNrc2FjaGU"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Drucksache"
          }
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Drucksache": {
      "type": "object",
      "description": "Metadata for a specific parliamentary document.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "68852",
          "description": "Unique identifier for the document."
        },
        "type": {
          "type": "string",
          "example": "Drucksache",
          "description": "Type of document."
        },
        "dokumentart": {
          "type": "string",
          "example": "Antrag",
          "description": "Document category."
        },
        "dokumentnummer": {
          "type": "string",
          "example": "19/1",
          "description": "Document number."
        },
        "wahlperiode": {
          "type": "integer",
          "format": "int32",
          "example": 19,
          "description": "Legislative period."
        },
        "herausgeber": {
          "type": "string",
          "example": "BT",
          "description": "Issuer of the document."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "example": "2017-10-24",
          "description": "Date the document was issued."
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2022-08-01T15:30:16+02:00",
          "description": "Last update timestamp."
        },
        "title": {
          "type": "string",
          "example": "Weitergeltung von Geschäftsordnungsrecht",
          "description": "Title of the document."
        },
        "pdf_hash": {
          "type": "string",
          "example": "a33af31e7c4524db8db172ef8f90f6d",
          "description": "MD5 checksum of the document's PDF."
        },
        "fundstelle": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fundstelle"
          },
          "description": "References to related legislative documents."
        }
      },
      "required": [
        "id",
        "type",
        "dokumentart",
        "dokumentnummer",
        "wahlperiode",
        "datum",
        "aktualisiert"
      ]
    },
    "PlenarprotokollListResponse": {
      "type": "object",
      "description": "Response containing a list of plenary protocols.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of protocols found.",
          "example": 120
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "PYCMURydWNrc2FjaGUtMjQ5MjYwNjC"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Plenarprotokoll"
          }
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Plenarprotokoll": {
      "type": "object",
      "description": "Metadata for a specific plenary protocol.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "908",
          "description": "Unique identifier for the plenary protocol."
        },
        "type": {
          "type": "string",
          "example": "Plenarprotokoll",
          "description": "Type of document."
        },
        "dokumentart": {
          "type": "string",
          "example": "Plenarprotokoll",
          "description": "Document category."
        },
        "dokumentnummer": {
          "type": "string",
          "example": "19/1",
          "description": "Document number."
        },
        "wahlperiode": {
          "type": "integer",
          "format": "int32",
          "example": 19,
          "description": "Legislative period."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "example": "2017-10-24",
          "description": "Date the protocol was recorded."
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2022-08-01T15:30:16+02:00",
          "description": "Last update timestamp."
        },
        "title": {
          "type": "string",
          "example": "Protokoll der 1. Sitzung des 19. Deutschen Bundestages",
          "description": "Title of the plenary protocol."
        },
        "pdf_hash": {
          "type": "string",
          "example": "a33af31e7c4524db8db172ef8f90f6d",
          "description": "MD5 checksum of the document's PDF."
        },
        "fundstelle": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fundstelle"
          },
          "description": "References to related legislative documents."
        }
      },
      "required": [
        "id",
        "type",
        "dokumentart",
        "dokumentnummer",
        "wahlperiode",
        "datum",
        "aktualisiert"
      ]
    },
    "AktivitaetListResponse": {
      "type": "object",
      "description": "Response containing a list of parliamentary activities.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of activities found.",
          "example": 500
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "MDUwLTIwMjQtMTAtMjg="
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Aktivitaet"
          }
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Aktivitaet": {
      "type": "object",
      "description": "Metadata for a specific parliamentary activity.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "10294",
          "description": "Unique identifier for the parliamentary activity."
        },
        "type": {
          "type": "string",
          "example": "Debatte",
          "description": "Type of activity, e.g., debate, vote, session."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "example": "2023-09-15",
          "description": "Date when the activity occurred."
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2023-09-20T14:00:00+02:00",
          "description": "Timestamp of the last update."
        },
        "title": {
          "type": "string",
          "example": "Gesetzesdebatte über Steuerreform",
          "description": "Title or brief description of the activity."
        },
        "vorgangsbezug": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vorgangsbezug"
          },
          "description": "References to related legislative processes."
        }
      },
      "required": [
        "id",
        "type",
        "datum",
        "aktualisiert",
        "title"
      ]
    },
    "Vorgangsbezug": {
      "type": "object",
      "description": "Reference to a legislative process linked to the activity.",
      "properties": {
        "vorgangId": {
          "type": "string",
          "description": "The ID of the related legislative process."
        },
        "titel": {
          "type": "string",
          "description": "Title of the referenced legislative process."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "description": "Date of the referenced legislative process."
        }
      },
      "required": [
        "vorgangId",
        "titel",
        "datum"
      ]
    },
    "PersonListResponse": {
      "type": "object",
      "description": "Response containing a list of persons in the Bundestag.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of persons found.",
          "example": 700
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "NzAwLTIwMjQtMTEtMDQ="
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Person"
          }
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Person": {
      "type": "object",
      "description": "Metadata for a specific person in the Bundestag.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "32145",
          "description": "Unique identifier for the person."
        },
        "vorname": {
          "type": "string",
          "example": "Angela",
          "description": "First name of the person."
        },
        "nachname": {
          "type": "string",
          "example": "Merkel",
          "description": "Last name of the person."
        },
        "geburtsdatum": {
          "type": "string",
          "format": "date",
          "example": "1954-07-17",
          "description": "Date of birth of the person."
        },
        "partei": {
          "type": "string",
          "example": "CDU",
          "description": "Political party affiliation."
        },
        "rolle": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PersonRole"
          },
          "description": "List of roles held by the person in the Bundestag."
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2023-10-01T12:00:00+02:00",
          "description": "Timestamp of the last update."
        }
      },
      "required": [
        "id",
        "vorname",
        "nachname",
        "partei",
        "aktualisiert"
      ]
    },
    "PersonRole": {
      "type": "object",
      "description": "A role held by a person in the Bundestag.",
      "properties": {
        "rolle": {
          "type": "string",
          "example": "Bundeskanzler",
          "description": "Title or role held by the person."
        },
        "von": {
          "type": "string",
          "format": "date",
          "example": "2005-11-22",
          "description": "Start date of the role."
        },
        "bis": {
          "type": "string",
          "format": "date",
          "example": "2021-12-08",
          "description": "End date of the role."
        }
      },
      "required": [
        "rolle",
        "von"
      ]
    },
    "DokumentTextBase": {
      "type": "object",
      "description": "Base structure for document text entities.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the document text."
        },
        "text": {
          "type": "string",
          "description": "The full text content of the document."
        },
        "dokumentart": {
          "type": "string",
          "description": "Type of document."
        }
      },
      "required": [
        "id",
        "text",
        "dokumentart"
      ]
    },
    "DrucksacheText": {
      "allOf": [
        {
          "$ref": "#/definitions/DokumentTextBase"
        }
      ],
      "description": "Document text for Drucksachen."
    },
    "PlenarprotokollText": {
      "allOf": [
        {
          "$ref": "#/definitions/DokumentTextBase"
        }
      ],
      "description": "Document text for plenary protocols."
    },
    "AktivitaetAnzeige": {
      "type": "object",
      "description": "Activity display metadata.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the activity display."
        },
        "status": {
          "type": "string",
          "description": "Status of the activity."
        }
      },
      "required": [
        "id",
        "status"
      ]
    },
    "Beschlussfassung": {
      "type": "object",
      "description": "Decision-making process metadata.",
      "properties": {
        "beschluss": {
          "type": "string",
          "description": "Type of decision."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "description": "Date of the decision."
        }
      },
      "required": [
        "beschluss",
        "datum"
      ]
    },
    "Deskriptor": {
      "type": "object",
      "description": "Descriptor for legislative topics.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique descriptor identifier."
        },
        "name": {
          "type": "string",
          "description": "Name of the descriptor."
        }
      },
      "required": [
        "id",
        "name"
      ]
    },
    "Inkrafttreten": {
      "type": "object",
      "description": "Metadata about the enactment of legislation.",
      "properties": {
        "datum": {
          "type": "string",
          "format": "date",
          "description": "Date when the law comes into effect."
        }
      },
      "required": [
        "datum"
      ]
    },
    "Ressort": {
      "type": "object",
      "description": "Government ministry or department responsible for an issue.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the ministry."
        }
      },
      "required": [
        "name"
      ]
    },
    "Ueberweisung": {
      "type": "object",
      "description": "Transfer of legislative responsibility.",
      "properties": {
        "ausschuss": {
          "type": "string",
          "description": "Committee responsible for the issue."
        }
      },
      "required": [
        "ausschuss"
      ]
    },
    "Urheber": {
      "type": "object",
      "description": "Creator or author of a legislative document.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the author."
        }
      },
      "required": [
        "name"
      ]
    },
    "Verkuendung": {
      "type": "object",
      "description": "Official proclamation of a law.",
      "properties": {
        "datum": {
          "type": "string",
          "format": "date",
          "description": "Date when the law was proclaimed."
        }
      },
      "required": [
        "datum"
      ]
    },
    "VorgangDeskriptor": {
      "type": "object",
      "description": "Legislative process descriptor.",
      "properties": {
        "beschreibung": {
          "type": "string",
          "description": "Description of the legislative process."
        }
      },
      "required": [
        "beschreibung"
      ]
    },
    "Vorgangspositionbezug": {
      "type": "object",
      "description": "Reference to a specific step within a legislative process.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of the step."
        }
      },
      "required": [
        "id"
      ]
    },
    "VorgangVerlinkung": {
      "type": "object",
      "description": "Cross-referencing for legislative processes.",
      "properties": {
        "link": {
          "type": "string",
          "description": "URL link to the related process."
        }
      },
      "required": [
        "link"
      ]
    },
    "Bundesland": {
      "type": "object",
      "description": "State within Germany.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the federal state."
        }
      },
      "required": [
        "name"
      ]
    },
    "Datum": {
      "type": "object",
      "description": "Date metadata.",
      "properties": {
        "wert": {
          "type": "string",
          "format": "date",
          "description": "The date value."
        }
      },
      "required": [
        "wert"
      ]
    },
    "Quadrant": {
      "type": "object",
      "description": "Quadrant classification for documents.",
      "properties": {
        "kategorie": {
          "type": "string",
          "description": "Quadrant category."
        }
      },
      "required": [
        "kategorie"
      ]
    },
    "Zuordnung": {
      "type": "object",
      "description": "Assignment of responsibilities.",
      "properties": {
        "bereich": {
          "type": "string",
          "description": "The field or department responsible."
        }
      },
      "required": [
        "bereich"
      ]
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Standard error response.",
      "properties": {
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "HTTP status code.",
          "example": 400
        },
        "message": {
          "type": "string",
          "description": "Error message describing the issue.",
          "example": "Invalid request parameters."
        }
      },
      "required": [
        "status",
        "message"
      ]
    }
  },
  "parameters": {},
  "responses": {},
  "security": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://fiscaldata.treasury.gov/api-documentation/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://fiscaldata.treasury.gov/api-documentation/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance"
    }
  ]
}
