{
  "swagger": "2.0",
  "info": {
    "title": "German Federal Parliament (Independent Publisher)",
    "description": "Access German Parliament legislative data, documents, and activities.",
    "version": "1.0",
    "contact": {
      "name": "Dan Romano",
      "url": "https://developments.substack.com",
      "email": "dan.romano@swolcat.com"
    }
  },
  "host": "search.dip.bundestag.de",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "apikey"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/vorgang": {
      "get": {
        "summary": "Retrieve all parliamentary processes",
        "description": "Returns a list of all parliamentary processes in the Bundestag.",
        "operationId": "GetVorgangList",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "description": "Maximum number of records to return.",
            "x-ms-summary": "Limit the number of returned records.",
            "default": 10
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor used for paginated requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of processes.",
            "schema": {
              "$ref": "#/definitions/VorgangListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/vorgang/{id}": {
      "get": {
        "summary": "Retrieve a specific parliamentary process",
        "description": "Returns metadata for a specific parliamentary process in the Bundestag.",
        "operationId": "GetVorgangById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the parliamentary process.",
            "x-ms-summary": "Retrieve a parliamentary process by its ID.",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing process details.",
            "schema": {
              "$ref": "#/definitions/Vorgang"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Resource not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/vorgangsposition": {
      "get": {
        "summary": "Retrieve all process positions",
        "description": "Returns a list of all positions within legislative processes in the Bundestag.",
        "operationId": "GetVorgangsPositionList",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "description": "Maximum number of records to return.",
            "x-ms-summary": "Limit the number of returned records.",
            "default": 10
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor used for paginated requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of process positions.",
            "schema": {
              "$ref": "#/definitions/VorgangspositionListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/vorgangsposition/{id}": {
      "get": {
        "summary": "Retrieve a specific process step",
        "description": "Returns metadata for a specific process step in the Bundestag.",
        "operationId": "GetVorgangsPositionById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the process step.",
            "x-ms-summary": "Retrieve a process step by its ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing process step details.",
            "schema": {
              "$ref": "#/definitions/Vorgangsposition"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Resource not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/drucksache": {
      "get": {
        "summary": "Retrieve all parliamentary documents",
        "description": "Returns a list of all parliamentary documents (Drucksachen) in the Bundestag.",
        "operationId": "GetDrucksacheList",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "description": "Maximum number of records to return.",
            "x-ms-summary": "Limit the number of returned records.",
            "default": 10
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor used for paginated requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of parliamentary documents.",
            "schema": {
              "$ref": "#/definitions/DrucksacheListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/drucksache/{id}": {
      "get": {
        "summary": "Retrieve a specific parliamentary document",
        "description": "Returns metadata for a specific parliamentary document in the Bundestag.",
        "operationId": "GetDrucksacheById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the parliamentary document.",
            "x-ms-summary": "Retrieve a parliamentary document by its ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing document details.",
            "schema": {
              "$ref": "#/definitions/Drucksache"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Resource not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/drucksache-text": {
      "get": {
        "summary": "Retrieve all parliamentary document texts",
        "description": "Returns a list of all parliamentary document texts (Drucksache Text) in the Bundestag.",
        "operationId": "GetDrucksacheTextList",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "description": "Maximum number of records to return.",
            "x-ms-summary": "Limit the number of returned records.",
            "default": 10
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor used for paginated requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of document texts.",
            "schema": {
              "$ref": "#/definitions/DrucksacheTextListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/drucksache-text/{id}": {
      "get": {
        "summary": "Retrieve a specific parliamentary document text",
        "description": "Returns metadata and content for a specific parliamentary document text (Drucksache Text) in the Bundestag.",
        "operationId": "GetDrucksacheTextById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the parliamentary document text.",
            "x-ms-summary": "Retrieve a document text by its ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing document text details.",
            "schema": {
              "$ref": "#/definitions/DrucksacheText"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Resource not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/plenarprotokoll": {
      "get": {
        "summary": "Retrieve all plenary protocols",
        "description": "Returns a list of all plenary protocols (Plenarprotokolle) in the Bundestag.",
        "operationId": "GetPlenarProtokollList",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "description": "Maximum number of records to return.",
            "x-ms-summary": "Limit the number of returned records.",
            "default": 10
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor used for paginated requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of plenary protocols.",
            "schema": {
              "$ref": "#/definitions/PlenarprotokollListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/plenarprotokoll/{id}": {
      "get": {
        "summary": "Retrieve a specific plenary protocol",
        "description": "Returns metadata for a specific plenary protocol in the Bundestag.",
        "operationId": "GetPlenarProtokollById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the plenary protocol.",
            "x-ms-summary": "Retrieve a plenary protocol by its ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing plenary protocol details.",
            "schema": {
              "$ref": "#/definitions/Plenarprotokoll"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Resource not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/plenarprotokoll-text": {
      "get": {
        "summary": "Retrieve all plenary protocol texts",
        "description": "Returns a list of all plenary protocol texts in the Bundestag.",
        "operationId": "GetPlenarProtokollTextList",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "description": "Maximum number of records to return.",
            "x-ms-summary": "Limit the number of returned records.",
            "default": 10
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor used for paginated requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of plenary protocol texts.",
            "schema": {
              "$ref": "#/definitions/PlenarprotokollTextListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/plenarprotokoll-text/{id}": {
      "get": {
        "summary": "Retrieve a specific plenary protocol text",
        "description": "Returns metadata and content for a specific plenary protocol text in the Bundestag.",
        "operationId": "GetPlenarProtokollTextById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the plenary protocol text.",
            "x-ms-summary": "Retrieve a plenary protocol text by its ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing plenary protocol text details.",
            "schema": {
              "$ref": "#/definitions/PlenarprotokollText"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Resource not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/aktivitaet": {
      "get": {
        "summary": "Retrieve all parliamentary activities",
        "description": "Returns a list of all recorded parliamentary activities (Aktivitaeten) in the Bundestag.",
        "operationId": "GetAktivitaetList",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "description": "Maximum number of records to return.",
            "x-ms-summary": "Limit the number of returned records.",
            "default": 10
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor used for paginated requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of parliamentary activities.",
            "schema": {
              "$ref": "#/definitions/AktivitaetListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/aktivitaet/{id}": {
      "get": {
        "summary": "Retrieve a specific parliamentary activity",
        "description": "Returns metadata for a specific parliamentary activity in the Bundestag.",
        "operationId": "GetAktivitaetById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the parliamentary activity.",
            "x-ms-summary": "Retrieve a parliamentary activity by its ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing activity details.",
            "schema": {
              "$ref": "#/definitions/Aktivitaet"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Resource not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/person": {
      "get": {
        "summary": "Retrieve all persons in the Bundestag",
        "description": "Returns a list of all persons in the Bundestag, including politicians, officials, and other relevant individuals.",
        "operationId": "GetPersonList",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "description": "Maximum number of records to return.",
            "x-ms-summary": "Limit the number of returned records.",
            "default": 10
          },
          {
            "name": "cursor",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Cursor for pagination.",
            "x-ms-summary": "Cursor used for paginated requests."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing a list of persons.",
            "schema": {
              "$ref": "#/definitions/PersonListResponse"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/person/{id}": {
      "get": {
        "summary": "Retrieve a specific person",
        "description": "Returns metadata for a specific person in the Bundestag.",
        "operationId": "GetPersonById",
        "produces": [ "application/json" ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the person.",
            "x-ms-summary": "Retrieve a person by their ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response containing person details.",
            "schema": {
              "$ref": "#/definitions/Person"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - Resource not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - Unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "VorgangListResponse": {
      "type": "object",
      "title": "Parliamentary Process List Response",
      "description": "Response containing a list of parliamentary processes.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of processes found.",
          "example": 176
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "AoJwgNjC_PYCMURydWNrc2FjaGUtMjQ5MjYw",
          "x-nullable": true
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vorgang"
          },
          "description": "List of parliamentary processes.",
          "x-nullable": true
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Vorgang": {
      "type": "object",
      "title": "Parliamentary Process Metadata",
      "description": "Metadata for a specific parliamentary process.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "84433",
          "description": "Unique identifier for the process."
        },
        "type": {
          "type": "string",
          "example": "Vorgang",
          "description": "Type of process."
        },
        "wahlperiode": {
          "type": "integer",
          "format": "int32",
          "example": 19,
          "description": "Legislative period."
        },
        "title": {
          "type": "string",
          "example": "Weitergeltung von Geschäftsordnungsrecht",
          "description": "Title of the process."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "example": "2019-03-27",
          "description": "Date the process was created.",
          "x-nullable": true
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2022-08-01T15:30:16+02:00",
          "description": "Last update timestamp.",
          "x-nullable": true
        }
      },
      "required": [
        "id",
        "type",
        "wahlperiode",
        "title"
      ]
    },

    "VorgangspositionListResponse": {
      "type": "object",
      "title": "Parliamentary Process Steps Response",
      "description": "Response containing a list of parliamentary process steps.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of process steps found.",
          "example": 200
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "NjC_PYCMURydWNrc2FjaGUtMjQ5MjYw",
          "x-nullable": true
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vorgangsposition"
          },
          "description": "List of process steps.",
          "x-nullable": true
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Vorgangsposition": {
      "type": "object",
      "title": "Parliamentary Process Step",
      "description": "Metadata for a specific parliamentary process step.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "173376",
          "description": "Unique identifier for the process step."
        },
        "type": {
          "type": "string",
          "example": "Antrag zur Weitergeltung der Geschäftsordnung",
          "description": "Type of process step."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "example": "2022-08-01",
          "description": "Date of the process step.",
          "x-nullable": true
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2022-08-01T15:30:16+02:00",
          "description": "Last update timestamp.",
          "x-nullable": true
        },
        "gang": {
          "type": "boolean",
          "example": true,
          "description": "Indicates whether the process step is crucial for legislative progress."
        },
        "fundstelle": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fundstelle"
          },
          "description": "References to related legislative documents.",
          "x-nullable": true
        }
      },
      "required": [
        "id",
        "type"
      ]
    },
    "Fundstelle": {
      "type": "object",
      "description": "Reference to a document related to the process step.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID of the reference."
        },
        "dokumentart": {
          "type": "string",
          "description": "Type of referenced document."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "description": "Date of the referenced document."
        },
        "pdf_url": {
          "type": "string",
          "description": "URL to the document PDF."
        }
      },
      "required": [
        "id",
        "dokumentart",
        "datum"
      ]
    },
    "DrucksacheListResponse": {
      "type": "object",
      "title": "Parliamentary Documents List Response",
      "description": "Response containing a list of parliamentary documents.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of documents found.",
          "example": 300
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "MjQ5MjYwNjC_PYCMURydWNrc2FjaGU",
          "x-nullable": true
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Drucksache"
          },
          "description": "List of parliamentary documents.",
          "x-nullable": true
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Drucksache": {
      "type": "object",
      "title": "Parliamentary Document Metadata",
      "description": "Metadata for a specific parliamentary document.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "249260",
          "description": "Unique identifier for the document."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "example": "2023-05-10",
          "description": "Date the document was created.",
          "x-nullable": true
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2023-06-01T12:15:30+02:00",
          "description": "Last update timestamp.",
          "x-nullable": true
        },
        "fundstelle": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fundstelle"
          },
          "description": "References to related legislative documents.",
          "x-nullable": true
        }
      },
      "required": [
        "id"
      ]
    },
    "PlenarprotokollListResponse": {
      "type": "object",
      "title": "Plenary Protocol List Response",
      "description": "Response containing a list of plenary protocols.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of protocols found.",
          "example": 120
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "PYCMURydWNrc2FjaGUtMjQ5MjYwNjC",
          "x-nullable": true
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Plenarprotokoll"
          },
          "description": "List of plenary protocols.",
          "x-nullable": true
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Plenarprotokoll": {
      "type": "object",
      "title": "Plenary Protocol Metadata",
      "description": "Metadata for a specific plenary protocol.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "37621",
          "description": "Unique identifier for the plenary protocol."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "example": "2023-03-15",
          "description": "Date the plenary protocol was created.",
          "x-nullable": true
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2023-04-01T09:20:30+02:00",
          "description": "Last update timestamp.",
          "x-nullable": true
        },
        "fundstelle": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fundstelle"
          },
          "description": "References to related legislative documents.",
          "x-nullable": true
        }
      },
      "required": [
        "id"
      ]
    },
    "AktivitaetListResponse": {
      "type": "object",
      "title": "Parliamentary Activities List Response",
      "description": "Response containing a list of parliamentary activities.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of activities found.",
          "example": 500
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "MDUwLTIwMjQtMTAtMjg=",
          "x-nullable": true
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Aktivitaet"
          },
          "description": "List of parliamentary activities.",
          "x-nullable": true
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Aktivitaet": {
      "type": "object",
      "title": "Parliamentary Activity Metadata",
      "description": "Metadata for a specific parliamentary activity.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "10294",
          "description": "Unique identifier for the parliamentary activity."
        },
        "type": {
          "type": "string",
          "example": "Debatte",
          "description": "Type of activity, e.g., debate, vote, session."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "example": "2023-09-15",
          "description": "Date when the activity occurred.",
          "x-nullable": true
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2023-09-20T14:00:00+02:00",
          "description": "Timestamp of the last update.",
          "x-nullable": true
        },
        "title": {
          "type": "string",
          "example": "Gesetzesdebatte über Steuerreform",
          "description": "Title or brief description of the activity."
        },
        "vorgangId": {
          "type": "string",
          "example": "200394",
          "description": "ID of the related legislative process."
        },
        "vorgangsbezug": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Vorgangsbezug"
          },
          "description": "References to related legislative processes.",
          "x-nullable": true
        }
      },
      "required": [
        "id",
        "type",
        "datum",
        "aktualisiert",
        "title",
        "vorgangId"
      ]
    },
    "Vorgangsbezug": {
      "type": "object",
      "description": "Reference to a legislative process linked to the activity.",
      "properties": {
        "vorgangId": {
          "type": "string",
          "description": "The ID of the related legislative process."
        },
        "titel": {
          "type": "string",
          "description": "Title of the referenced legislative process."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "description": "Date of the referenced legislative process."
        }
      },
      "required": [
        "vorgangId",
        "titel",
        "datum"
      ]
    },
    "PersonListResponse": {
      "type": "object",
      "title": "Bundestag Persons List Response",
      "description": "Response containing a list of persons in the Bundestag.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of persons found.",
          "example": 700
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "NzAwLTIwMjQtMTEtMDQ=",
          "x-nullable": true
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Person"
          },
          "description": "List of persons in the Bundestag.",
          "x-nullable": true
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Person": {
      "type": "object",
      "title": "Bundestag Person Metadata",
      "description": "Metadata for a specific person in the Bundestag.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "32145",
          "description": "Unique identifier for the person."
        },
        "vorname": {
          "type": "string",
          "example": "Angela",
          "description": "First name of the person."
        },
        "nachname": {
          "type": "string",
          "example": "Merkel",
          "description": "Last name of the person."
        },
        "geburtsdatum": {
          "type": "string",
          "format": "date",
          "example": "1954-07-17",
          "description": "Date of birth of the person."
        },
        "partei": {
          "type": "string",
          "example": "CDU",
          "description": "Political party affiliation.",
          "x-nullable": true
        },
        "rolle": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PersonRole"
          },
          "description": "List of roles held by the person in the Bundestag.",
          "x-nullable": true
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2023-10-01T12:00:00+02:00",
          "description": "Timestamp of the last update.",
          "x-nullable": true
        }
      },
      "required": [
        "id",
        "vorname",
        "nachname"
      ]
    },
    "PersonRole": {
      "type": "object",
      "title": "Person Role Metadata",
      "description": "A role held by a person in the Bundestag.",
      "properties": {
        "rolle": {
          "type": "string",
          "example": "Bundeskanzler",
          "description": "Title or role held by the person."
        },
        "von": {
          "type": "string",
          "format": "date",
          "example": "2005-11-22",
          "description": "Start date of the role."
        },
        "bis": {
          "type": "string",
          "format": "date",
          "example": "2021-12-08",
          "description": "End date of the role.",
          "x-nullable": true
        }
      },
      "required": [
        "rolle",
        "von"
      ]
    },
    "DokumentTextBase": {
      "type": "object",
      "description": "Base structure for document text entities.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the document text."
        },
        "text": {
          "type": "string",
          "description": "The full text content of the document."
        },
        "dokumentart": {
          "type": "string",
          "description": "Type of document."
        }
      },
      "required": [
        "id",
        "text",
        "dokumentart"
      ]
    },
    "DrucksacheText": {
      "type": "object",
      "title": "Parliamentary Document Text Metadata",
      "description": "Metadata for a specific document text.",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^[0-9]+$",
          "example": "249260",
          "description": "Unique identifier for the document text."
        },
        "datum": {
          "type": "string",
          "format": "date-time",
          "example": "2023-05-10",
          "description": "Date the document text was created.",
          "x-nullable": true
        },
        "aktualisiert": {
          "type": "string",
          "format": "date-time",
          "example": "2023-06-01T12:15:30+02:00",
          "description": "Last update timestamp.",
          "x-nullable": true
        },
        "fundstelle": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Fundstelle"
          },
          "description": "References to related legislative documents.",
          "x-nullable": true
        }
      },
      "required": [
        "id"
      ]
    },
    "DrucksacheTextListResponse": {
      "type": "object",
      "title": "Parliamentary Document Text List Response",
      "description": "Response containing a list of document texts.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of document texts found.",
          "example": 176
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "AoJwgNjC_PYCMURydWNrc2FjaGUtMjQ5MjYw",
          "x-nullable": true
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DrucksacheText"
          },
          "description": "List of document texts.",
          "x-nullable": true
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "PlenarprotokollText": {
      "type": "object",
      "description": "Document text for plenary protocols.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the document text."
        },
        "text": {
          "type": "string",
          "description": "The full text content of the document."
        },
        "dokumentart": {
          "type": "string",
          "description": "Type of document."
        }
      },
      "required": [
        "id",
        "text",
        "dokumentart"
      ]
    },
    "AktivitaetAnzeige": {
      "type": "object",
      "description": "Activity display metadata.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the activity display."
        },
        "status": {
          "type": "string",
          "description": "Status of the activity."
        }
      },
      "required": [
        "id",
        "status"
      ]
    },
    "PlenarprotokollTextListResponse": {
      "type": "object",
      "description": "Response containing a list of plenary protocol texts.",
      "properties": {
        "numFound": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of plenary protocol texts found.",
          "example": 176
        },
        "cursor": {
          "type": "string",
          "description": "Pagination cursor for retrieving more results.",
          "example": "AoJwgNjC_PYCMURydWNrc2FjaGUtMjQ5MjYw"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlenarprotokollText"
          }
        }
      },
      "required": [
        "numFound",
        "documents"
      ]
    },
    "Beschlussfassung": {
      "type": "object",
      "description": "Decision-making process metadata.",
      "properties": {
        "beschluss": {
          "type": "string",
          "description": "Type of decision."
        },
        "datum": {
          "type": "string",
          "format": "date",
          "description": "Date of the decision."
        }
      },
      "required": [
        "beschluss",
        "datum"
      ]
    },
    "Deskriptor": {
      "type": "object",
      "description": "Descriptor for legislative topics.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique descriptor identifier."
        },
        "name": {
          "type": "string",
          "description": "Name of the descriptor."
        }
      },
      "required": [
        "id",
        "name"
      ]
    },
    "Inkrafttreten": {
      "type": "object",
      "description": "Metadata about the enactment of legislation.",
      "properties": {
        "datum": {
          "type": "string",
          "format": "date",
          "description": "Date when the law comes into effect."
        }
      },
      "required": [
        "datum"
      ]
    },
    "Ressort": {
      "type": "object",
      "description": "Government ministry or department responsible for an issue.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the ministry."
        }
      },
      "required": [
        "name"
      ]
    },
    "Ueberweisung": {
      "type": "object",
      "description": "Transfer of legislative responsibility.",
      "properties": {
        "ausschuss": {
          "type": "string",
          "description": "Committee responsible for the issue."
        }
      },
      "required": [
        "ausschuss"
      ]
    },
    "Urheber": {
      "type": "object",
      "description": "Creator or author of a legislative document.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the author."
        }
      },
      "required": [
        "name"
      ]
    },
    "Verkuendung": {
      "type": "object",
      "description": "Official proclamation of a law.",
      "properties": {
        "datum": {
          "type": "string",
          "format": "date",
          "description": "Date when the law was proclaimed."
        }
      },
      "required": [
        "datum"
      ]
    },
    "VorgangDeskriptor": {
      "type": "object",
      "description": "Legislative process descriptor.",
      "properties": {
        "beschreibung": {
          "type": "string",
          "description": "Description of the legislative process."
        }
      },
      "required": [
        "beschreibung"
      ]
    },
    "Vorgangspositionbezug": {
      "type": "object",
      "description": "Reference to a specific step within a legislative process.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier of the step."
        }
      },
      "required": [
        "id"
      ]
    },
    "VorgangVerlinkung": {
      "type": "object",
      "description": "Cross-referencing for legislative processes.",
      "properties": {
        "link": {
          "type": "string",
          "description": "URL link to the related process."
        }
      },
      "required": [
        "link"
      ]
    },
    "Bundesland": {
      "type": "object",
      "description": "State within Germany.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the federal state."
        }
      },
      "required": [
        "name"
      ]
    },
    "Datum": {
      "type": "object",
      "description": "Date metadata.",
      "properties": {
        "wert": {
          "type": "string",
          "format": "date",
          "description": "The date value."
        }
      },
      "required": [
        "wert"
      ]
    },
    "Quadrant": {
      "type": "object",
      "description": "Quadrant classification for documents.",
      "properties": {
        "kategorie": {
          "type": "string",
          "description": "Quadrant category."
        }
      },
      "required": [
        "kategorie"
      ]
    },
    "Zuordnung": {
      "type": "object",
      "description": "Assignment of responsibilities.",
      "properties": {
        "bereich": {
          "type": "string",
          "description": "The field or department responsible."
        }
      },
      "required": [
        "bereich"
      ]
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Standard error response.",
      "properties": {
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "HTTP status code.",
          "example": 400
        },
        "message": {
          "type": "string",
          "description": "Error message describing the issue.",
          "example": "Invalid request parameters."
        }
      },
      "required": [
        "status",
        "message"
      ]
    }
  },
  "parameters": {},
  "responses": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://dip.bundestag.de/%C3%BCber-dip/hilfe/api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://dip.bundestag.de/%C3%BCber-dip/nutzungsbedingungen"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}