{
  "swagger": "2.0",
  "info": {
    "title": "SMSLink",
    "description": "SMSLink is a SMS provider that provides integrated services such as SMS Marketing, SMS Gateway and Mail to SMS.",
    "version": "1.0",
    "contact": {
      "email": "contact@smslink.ro",
      "name": "SMSLink.ro Support"
    }
  },
  "host": "smslink.ro",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/sms/gateway/integration/powerautomate.php": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "response_type": {
                  "type": "string",
                  "description": "response_type"
                },
                "response_id": {
                  "type": "string",
                  "description": "response_id"
                },
                "response_message": {
                  "type": "string",
                  "description": "response_message"
                }
              }
            }
          }
        },
        "summary": "SMSLink Send SMS",
        "description": "SMSLink Send SMS",
        "operationId": "SMSLinkSendSMS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "to": {
                  "type": "string",
                  "description": "to",
                  "title": "SMS Recipient"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "title": "SMS Message Text"
                }
              },
              "required": [
                "message",
                "to"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "connection_id"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
