{
  "swagger": "2.0",
  "info": {
    "title": "Hashtag API",
    "description": "The Hashtag Generator service allows you to generate relevant hashtags for your content based on a given keyword or image.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "hashtag5.p.rapidapi.com",
  "basePath": "/api/v2.1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/tag/predict": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Get similar hashtags",
        "description": "Retrieve a list of all similar hashtags.",
        "operationId": "HashtagsSimilarGet",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "x-ms-summary": "Hashtag",
            "description": "The hashtag.",
            "required": true,
            "type": "string"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/tag/trending": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Get trending hashtags",
        "description": "Retrieve a list of trending hashtags.",
        "operationId": "HashtagsTrendingGet",
        "parameters": [],
        "x-ms-visibility": "important"
      }
    },
    "/tag/top": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Get top hashtags",
        "description": "Retrieve a list of top hashtags.",
        "operationId": "HashtagsTopGet",
        "parameters": []
      }
    },
    "/tag/count": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The cotton.",
                  "title": "Count"
                }
              }
            }
          }
        },
        "summary": "Get post count",
        "description": "Retrieve the count of how many posts are present on Instagram. Please note this is not realtime.",
        "operationId": "PostCountGet",
        "parameters": [
          {
            "name": "tag",
            "in": "query",
            "x-ms-summary": "Tag",
            "description": "The tag.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/tag/generate": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Generate image hashtags",
        "description": "Retrieve a list of hashtags for an image.",
        "operationId": "ImageHashtagsPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "image": {
                  "type": "string",
                  "description": "The image as a base64 string.",
                  "title": "Image"
                }
              },
              "required": [
                "image"
              ]
            }
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/categories": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Categories"
                }
              }
            }
          }
        },
        "summary": "Get categories",
        "description": "Retrieve a list of categories.",
        "operationId": "CategoriesGet",
        "parameters": []
      }
    },
    "/categories/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    }
                  },
                  "title": "Category"
                }
              }
            }
          }
        },
        "summary": "Get a category",
        "description": "Retrieve a specific category.",
        "operationId": "CategoryGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "CategoriesGet",
              "value-path": "id",
              "value-collection": "categories",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/categories/{id}/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Get category tags",
        "description": "Retrieve a list of tags from a specific category.",
        "operationId": "CategoryTagsGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The identifier.",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "CategoriesGet",
              "value-path": "id",
              "value-collection": "categories",
              "value-title": "name"
            }
          }
        ]
      }
    },
    "/trending/countries": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "countries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The countries.",
                  "title": "Countries"
                }
              }
            }
          }
        },
        "summary": "Get countries",
        "description": "Retrieve a list of countries currently supported.",
        "operationId": "CountriesGet",
        "parameters": []
      }
    },
    "/trending/{countryName}/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "Get trending tags in a country",
        "description": "Retrieve a list of trending tags in a country.",
        "operationId": "CountryTagsGet",
        "parameters": [
          {
            "name": "countryName",
            "in": "path",
            "x-ms-summary": "Country Name",
            "x-ms-url-encoding": "single",
            "description": "The country name.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-RapidAPI-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://mukeshsolanki.gitbook.io/hashtag-api/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://rapidapi.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}