{
  "swagger": "2.0",
  "info": {
    "title": "MCP Server",
    "description": "This MCP Server will work with SSE and is meant to work with Microsoft Copilot Studio",
    "version": "1.0.0"
  },
  "host": "dummyurl.contoso.com",
  "basePath": "/sse",
  "schemes": [
    "https"
  ],
  "definitions": {
    "QueryResponse": {
      "type": "object",
      "properties": {
        "jsonrpc": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "method": {
          "type": "string"
        },
        "params": {
          "type": "object"
        },
        "result": {
          "type": "object"
        },
        "error": {
          "type": "object"
        }
      }
    }
  },
  "paths": {
    "/": {
      "get": {
        "summary": "MCP Server Actions",
        "parameters": [
          {
            "in": "query",
            "name": "sessionId",
            "type": "string",
            "required": false
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Immediate Response",
            "schema": {
              "$ref": "#/definitions/QueryResponse"
            }
          },
          "201": {
            "description": "Created and will follow callback"
          }
        },
        "operationId": "InvokeMCP",
        "tags": [
          "Agentic",
          "McpSse"
        ]
      }
    }
  },
  "securityDefinitions": { },
  "security": [ ]
}