{
  "swagger": "2.0",
  "info": {
    "title": "Fantasy Premier League",
    "description": "Fantasy Premier League stats, events and league information",
    "version": "1.0",
    "contact": {
      "name": "Joe Unwin",
      "url": "https://www.flowjoe.io"
    }
  },
  "host": "fantasy.premierleague.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/entry/{manager_id}/history/": {
      "get": {
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "schema": {
              "type": "object",
              "properties": {
                "current": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "event": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The event number"
                      },
                      "points": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The points"
                      },
                      "total_points": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total points"
                      },
                      "rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The rank"
                      },
                      "rank_sort": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The rank sort"
                      },
                      "overall_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The overall rank"
                      },
                      "bank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Funds in the bank"
                      },
                      "value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Team value"
                      },
                      "event_transfers": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The event transfers"
                      },
                      "event_transfers_cost": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The cost of event transfers"
                      },
                      "points_on_bench": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The points on bench"
                      }
                    }
                  },
                  "description": "current"
                },
                "past": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "season_name": {
                        "type": "string",
                        "description": "The season name"
                      },
                      "total_points": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total points"
                      },
                      "rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The rank"
                      }
                    }
                  },
                  "description": "The past information"
                },
                "chips": {
                  "type": "array",
                  "items": {},
                  "description": "The chips"
                }
              }
            }
          }
        },
        "summary": "Managers History",
        "description": "This endpoint returns a managers (users) data from previous game weeks (current), previous seasons (past), and chips that already used during this season. You need to provide the Manager ID.",
        "operationId": "ManagerUsersHistory",
        "parameters": [
          {
            "name": "manager_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Manager ID",
            "description": "Provide the Manager ID for the manager of who you wish to gather history",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/entry/{manager_id}/": {
      "get": {
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Users id"
                },
                "joined_time": {
                  "type": "string",
                  "description": "Users joined time"
                },
                "started_event": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Users started event"
                },
                "favourite_team": {
                  "type": "integer",
                  "description": "Users favourite_team"
                },
                "player_first_name": {
                  "type": "string",
                  "description": "Users first name"
                },
                "player_last_name": {
                  "type": "string",
                  "description": "Users last name"
                },
                "player_region_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Users region id"
                },
                "player_region_name": {
                  "type": "string",
                  "description": "Users region name"
                },
                "player_region_iso_code_short": {
                  "type": "string",
                  "description": "Users short region iso code"
                },
                "player_region_iso_code_long": {
                  "type": "string",
                  "description": "Users long region iso code"
                },
                "summary_overall_points": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Users overall points"
                },
                "summary_overall_rank": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Users overall rank"
                },
                "summary_event_points": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Users event points"
                },
                "summary_event_rank": {
                  "type": "string",
                  "description": "Users event rank"
                },
                "current_event": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Users current event"
                },
                "leagues": {
                  "type": "object",
                  "properties": {
                    "classic": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "League id"
                          },
                          "name": {
                            "type": "string",
                            "description": "Leaguename"
                          },
                          "short_name": {
                            "type": "string",
                            "description": "League short name"
                          },
                          "created": {
                            "type": "string",
                            "description": "League created"
                          },
                          "closed": {
                            "type": "boolean",
                            "description": "League closed"
                          },
                          "rank": {
                            "type": "string",
                            "description": "League rank"
                          },
                          "max_entries": {
                            "type": "string",
                            "description": "League max entries"
                          },
                          "league_type": {
                            "type": "string",
                            "description": "League type"
                          },
                          "scoring": {
                            "type": "string",
                            "description": "League scoring"
                          },
                          "admin_entry": {
                            "description": "League admin entry"
                          },
                          "start_event": {
                            "type": "integer",
                            "format": "int32",
                            "description": "League start event"
                          },
                          "entry_can_leave": {
                            "type": "boolean",
                            "description": "League entry can leave"
                          },
                          "entry_can_admin": {
                            "type": "boolean",
                            "description": "League entry can admin"
                          },
                          "entry_can_invite": {
                            "type": "boolean",
                            "description": "League entry can invite"
                          },
                          "has_cup": {
                            "type": "boolean",
                            "description": "League has a cup"
                          },
                          "cup_league": {
                            "type": "string",
                            "description": "Cup league"
                          },
                          "cup_qualified": {
                            "type": "string",
                            "description": "Cup qualified"
                          },
                          "entry_rank": {
                            "type": "integer",
                            "format": "int32",
                            "description": "League entry rank"
                          },
                          "entry_last_rank": {
                            "type": "integer",
                            "format": "int32",
                            "description": "League entry last rank"
                          }
                        }
                      },
                      "description": "Classic league"
                    },
                    "h2h": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Head to head id"
                          },
                          "name": {
                            "type": "string",
                            "description": "Head to head name"
                          },
                          "short_name": {
                            "type": "string",
                            "description": "Head to head short name"
                          },
                          "created": {
                            "type": "string",
                            "description": "Head to head created"
                          },
                          "closed": {
                            "type": "boolean",
                            "description": "Head to head closed"
                          },
                          "rank": {
                            "type": "string",
                            "description": "Head to head rank"
                          },
                          "max_entries": {
                            "type": "string",
                            "description": "Head to head max entries"
                          },
                          "league_type": {
                            "type": "string",
                            "description": "Head to head league type"
                          },
                          "scoring": {
                            "type": "string",
                            "description": "Head to head scoring"
                          },
                          "admin_entry": {
                            "description": "Head to head admin entry"
                          },
                          "start_event": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Head to head start event"
                          },
                          "entry_can_leave": {
                            "type": "boolean",
                            "description": "Head to head entry can leave"
                          },
                          "entry_can_admin": {
                            "type": "boolean",
                            "description": "Head to head entry can admin"
                          },
                          "entry_can_invite": {
                            "type": "boolean",
                            "description": "Head to head entry can invite"
                          },
                          "has_cup": {
                            "type": "boolean",
                            "description": "Head to head has a cup"
                          },
                          "cup_league": {
                            "type": "string",
                            "description": "Head to head cup league"
                          },
                          "cup_qualified": {
                            "type": "string",
                            "description": "Head to head cup qualified"
                          },
                          "entry_rank": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Head to head entry rank"
                          },
                          "entry_last_rank": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Head to head entry last rank"
                          }
                        }
                      },
                      "description": "Head to head league"
                    },
                    "cup": {
                      "type": "object",
                      "properties": {
                        "matches": {
                          "type": "array",
                          "items": {},
                          "description": "Cup matches"
                        },
                        "status": {
                          "type": "object",
                          "properties": {
                            "qualification_event": {
                              "type": "string",
                              "description": "Cup qualification event"
                            },
                            "qualification_numbers": {
                              "type": "string",
                              "description": "Cup qualification numbers"
                            },
                            "qualification_rank": {
                              "type": "string",
                              "description": "Cup qualification rank"
                            },
                            "qualification_state": {
                              "type": "string",
                              "description": "Cup qualification state"
                            }
                          },
                          "description": "Cup status"
                        },
                        "cup_league": {
                          "type": "string",
                          "description": "Cup league"
                        }
                      },
                      "description": "Cup league"
                    },
                    "cup_matches": {
                      "type": "array",
                      "items": {},
                      "description": "Cup matches"
                    }
                  },
                  "description": "Leagues"
                },
                "name": {
                  "type": "string",
                  "description": "Name"
                },
                "name_change_blocked": {
                  "type": "boolean",
                  "description": "Name change is blocked"
                },
                "kit": {
                  "type": "string",
                  "description": "Football kit"
                },
                "last_deadline_bank": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Last deadline bank"
                },
                "last_deadline_value": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Last deadline value"
                },
                "last_deadline_total_transfers": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Last deadline total transfers"
                }
              }
            }
          }
        },
        "summary": "Managers Basic Information",
        "description": "This returns the managers basic information such as leagues joined, favorite team, first and last names",
        "operationId": "ManagerUsersBasicInformation",
        "parameters": [
          {
            "name": "manager_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Manager ID",
            "description": "Provide the Manager ID for the manager of who you wish to gather basic information",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/event/{event_id}/live/": {
      "get": {
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "schema": {
              "type": "object",
              "properties": {
                "elements": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Event id"
                      },
                      "stats": {
                        "type": "object",
                        "properties": {
                          "minutes": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Minutes"
                          },
                          "goals_scored": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Goals scored"
                          },
                          "assists": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Assists"
                          },
                          "clean_sheets": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Clean sheets"
                          },
                          "goals_conceded": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Goals conceded"
                          },
                          "own_goals": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Own goals"
                          },
                          "penalties_saved": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Penalties saved"
                          },
                          "penalties_missed": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Penalties missed"
                          },
                          "yellow_cards": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Yellow cards"
                          },
                          "red_cards": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Red cards"
                          },
                          "saves": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Saves"
                          },
                          "bonus": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Bonus"
                          },
                          "bps": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Bonus Points"
                          },
                          "influence": {
                            "type": "string",
                            "description": "Influence"
                          },
                          "creativity": {
                            "type": "string",
                            "description": "Creativity"
                          },
                          "threat": {
                            "type": "string",
                            "description": "Threat"
                          },
                          "ict_index": {
                            "type": "string",
                            "description": "ICT index"
                          },
                          "total_points": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total points"
                          },
                          "in_dreamteam": {
                            "type": "boolean",
                            "description": "Player is in dreamteam"
                          }
                        },
                        "description": "Stats"
                      },
                      "explain": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "fixture": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Fixture"
                            },
                            "stats": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "identifier": {
                                    "type": "string",
                                    "description": "Stats Identifier"
                                  },
                                  "points": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Points"
                                  },
                                  "value": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Value"
                                  }
                                }
                              },
                              "description": "Stats"
                            }
                          }
                        },
                        "description": "Explain information"
                      }
                    }
                  },
                  "description": "Elements information"
                }
              }
            }
          }
        },
        "summary": "Game Week Live Data",
        "description": "This endpoint returns a list of players information in that specific Gameweek.",
        "operationId": "GameWeekLiveData",
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Event ID",
            "description": "Provide the game week number as the event ID to get that weeks live data",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/element-summary/{element_id}/": {
      "get": {
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "schema": {
              "type": "object",
              "properties": {
                "fixtures": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week id"
                      },
                      "code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week code"
                      },
                      "team_h": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week home team"
                      },
                      "team_h_score": {
                        "description": "Game week home team score"
                      },
                      "team_a": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week away team"
                      },
                      "team_a_score": {
                        "description": "Game week away team score"
                      },
                      "event": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week event"
                      },
                      "finished": {
                        "type": "boolean",
                        "description": "Game week finished"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week minutes"
                      },
                      "provisional_start_time": {
                        "type": "boolean",
                        "description": "Game week provisional start time"
                      },
                      "kickoff_time": {
                        "type": "string",
                        "description": "Game week kickoff time"
                      },
                      "event_name": {
                        "type": "string",
                        "description": "Game week event name"
                      },
                      "is_home": {
                        "type": "boolean",
                        "description": "Game week is home match"
                      },
                      "difficulty": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week difficulty"
                      }
                    }
                  },
                  "description": "Game week fixtures"
                },
                "history": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "element": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history element"
                      },
                      "fixture": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history fixture"
                      },
                      "opponent_team": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history opponent team"
                      },
                      "total_points": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history total points"
                      },
                      "was_home": {
                        "type": "boolean",
                        "description": "Game week history was home"
                      },
                      "kickoff_time": {
                        "type": "string",
                        "description": "Game week history kickoff time"
                      },
                      "team_h_score": {
                        "description": "Game week history home team score"
                      },
                      "team_a_score": {
                        "description": "Game week history away team score"
                      },
                      "round": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history round"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history minutes"
                      },
                      "goals_scored": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history goals scored"
                      },
                      "assists": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history assists"
                      },
                      "clean_sheets": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history clean sheets"
                      },
                      "goals_conceded": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history goals conceded"
                      },
                      "own_goals": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history own goals"
                      },
                      "penalties_saved": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history penalties saved"
                      },
                      "penalties_missed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history penalties missed"
                      },
                      "yellow_cards": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history yellow cards"
                      },
                      "red_cards": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history red cards"
                      },
                      "saves": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history saves"
                      },
                      "bonus": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history bonus"
                      },
                      "bps": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history bonus points"
                      },
                      "influence": {
                        "type": "string",
                        "description": "Game week history influence"
                      },
                      "creativity": {
                        "type": "string",
                        "description": "Game week history creativity"
                      },
                      "threat": {
                        "type": "string",
                        "description": "Game week history threat"
                      },
                      "ict_index": {
                        "type": "string",
                        "description": "Game week history ICT index"
                      },
                      "value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history value"
                      },
                      "transfers_balance": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history transfers balance"
                      },
                      "selected": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history selected"
                      },
                      "transfers_in": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history transfers in"
                      },
                      "transfers_out": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history transfers out"
                      }
                    }
                  },
                  "description": "Game week history"
                },
                "history_past": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "season_name": {
                        "type": "string",
                        "description": "Game week history past season name"
                      },
                      "element_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season element code"
                      },
                      "start_cost": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season start cost"
                      },
                      "end_cost": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season end cost"
                      },
                      "total_points": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season total points"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season minutes"
                      },
                      "goals_scored": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season goals scored"
                      },
                      "assists": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season assists"
                      },
                      "clean_sheets": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season clean sheets"
                      },
                      "goals_conceded": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season goals conceded"
                      },
                      "own_goals": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season own goals"
                      },
                      "penalties_saved": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season penalties saved"
                      },
                      "penalties_missed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season penalties missed"
                      },
                      "yellow_cards": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season yellow cards"
                      },
                      "red_cards": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season red cards"
                      },
                      "saves": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season saves"
                      },
                      "bonus": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season bonus"
                      },
                      "bps": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Game week history past season bonus points"
                      },
                      "influence": {
                        "type": "string",
                        "description": "Game week history past season influence"
                      },
                      "creativity": {
                        "type": "string",
                        "description": "Game week history past season creativity"
                      },
                      "threat": {
                        "type": "string",
                        "description": "Game week history past season threat"
                      },
                      "ict_index": {
                        "type": "string",
                        "description": "Game week history past season ICT index"
                      }
                    }
                  },
                  "description": "Game week history past season"
                }
              }
            }
          }
        },
        "summary": "Players Detailed Data",
        "description": "This endpoint returns a players detailed information divided into 3 sections; fixtures, current league history and previous years history",
        "operationId": "PlayersDetailedData",
        "parameters": [
          {
            "name": "element_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Element ID",
            "description": "Provide the Element ID (player number) for the player who you wish to gather information on",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/fixtures/": {
      "get": {
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Fixtures code"
                  },
                  "event": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Fixtures event"
                  },
                  "finished": {
                    "type": "boolean",
                    "description": "Fixtures finished"
                  },
                  "finished_provisional": {
                    "type": "boolean",
                    "description": "Fixtures are provisional finished"
                  },
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Fixtures id"
                  },
                  "kickoff_time": {
                    "type": "string",
                    "description": "Fixtures kickoff time"
                  },
                  "minutes": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Fixtures minutes"
                  },
                  "provisional_start_time": {
                    "type": "boolean",
                    "description": "Fixtures provisional start time"
                  },
                  "started": {
                    "type": "boolean",
                    "description": "Fixtures started"
                  },
                  "team_a": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Fixtures team a"
                  },
                  "team_a_score": {
                    "description": "Fixtures team a score"
                  },
                  "team_h": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Fixtures team h"
                  },
                  "team_h_score": {
                    "description": "Fixtures team h score"
                  },
                  "stats": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "description": "Fixtures stats identifier"
                        },
                        "a": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Fixtures stats away value"
                              },
                              "element": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Fixtures stats away element"
                              }
                            }
                          },
                          "description": "Fixtures stats away"
                        },
                        "h": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Fixtures stats home value"
                              },
                              "element": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Fixtures stats home element"
                              }
                            }
                          },
                          "description": "Fixtures stats home"
                        }
                      }
                    },
                    "description": "Fixtures stats"
                  },
                  "team_h_difficulty": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Fixtures stats home team difficulty"
                  },
                  "team_a_difficulty": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Fixtures stats away team difficulty"
                  },
                  "pulse_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Fixtures stats pulse id"
                  }
                }
              }
            }
          }
        },
        "summary": "Fixtures",
        "description": "This endpoint returns a JSON array which contains every fixture of the season.",
        "operationId": "CurrentYearFixtures",
        "parameters": []
      }
    },
    "/api/bootstrap-static/": {
      "get": {
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "schema": {
              "type": "object",
              "properties": {
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information events id"
                      },
                      "name": {
                        "type": "string",
                        "description": "General information events name"
                      },
                      "deadline_time": {
                        "type": "string",
                        "description": "General information events deadline time"
                      },
                      "average_entry_score": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information events average entry score"
                      },
                      "finished": {
                        "type": "boolean",
                        "description": "General information events finished"
                      },
                      "data_checked": {
                        "type": "boolean",
                        "description": "General information events data checked"
                      },
                      "highest_scoring_entry": {
                        "description": "General information events highest scoring entry"
                      },
                      "deadline_time_epoch": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information events deadline time epoch"
                      },
                      "deadline_time_game_offset": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information events deadline time game offset"
                      },
                      "highest_score": {
                        "description": "General information events highest  score"
                      },
                      "is_previous": {
                        "type": "boolean",
                        "description": "General information events is previous game week"
                      },
                      "is_current": {
                        "type": "boolean",
                        "description": "General information events is current game week"
                      },
                      "is_next": {
                        "type": "boolean",
                        "description": "General information events is next game week"
                      },
                      "cup_leagues_created": {
                        "type": "boolean",
                        "description": "General information events cup leagues created"
                      },
                      "h2h_ko_matches_created": {
                        "type": "boolean",
                        "description": "General information events head to head matches created"
                      },
                      "chip_plays": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "chip_name": {
                              "type": "string",
                              "description": "General information events chip name"
                            },
                            "num_played": {
                              "type": "integer",
                              "format": "int32",
                              "description": "General information events number played"
                            }
                          }
                        },
                        "description": "General information events chip plays"
                      },
                      "most_selected": {
                        "type": "string",
                        "description": "General information events most selected"
                      },
                      "most_transferred_in": {
                        "type": "string",
                        "description": "General information events most transferred in"
                      },
                      "top_element": {
                        "type": "string",
                        "description": "General information events top element"
                      },
                      "top_element_info": {
                        "type": "string",
                        "description": "General information events top element info"
                      },
                      "transfers_made": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information events transfers made"
                      },
                      "most_captained": {
                        "type": "string",
                        "description": "General information events most captained"
                      },
                      "most_vice_captained": {
                        "type": "string",
                        "description": "General information events most vice captained"
                      }
                    }
                  },
                  "description": "General information events"
                },
                "game_settings": {
                  "type": "object",
                  "properties": {
                    "league_join_private_max": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings league join private max"
                    },
                    "league_join_public_max": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings league join public max"
                    },
                    "league_max_size_public_classic": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings league max size public classic"
                    },
                    "league_max_size_public_h2h": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings league max size public head to head"
                    },
                    "league_max_size_private_h2h": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings league max size private head to head"
                    },
                    "league_max_ko_rounds_private_h2h": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings league max knock out rounds private head to head"
                    },
                    "league_prefix_public": {
                      "type": "string",
                      "description": "General information game settings league prefix public"
                    },
                    "league_points_h2h_win": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings league points for a head to head win"
                    },
                    "league_points_h2h_lose": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings league points for a head to head loss"
                    },
                    "league_points_h2h_draw": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings league points for a head to head draw"
                    },
                    "league_ko_first_instead_of_random": {
                      "type": "boolean",
                      "description": "General information game settings league knock out first and not random"
                    },
                    "cup_start_event_id": {
                      "type": "string",
                      "description": "General information game settings cup start event id"
                    },
                    "cup_stop_event_id": {
                      "type": "string",
                      "description": "General information game settings cup stop event id"
                    },
                    "cup_qualifying_method": {
                      "type": "string",
                      "description": "General information game settings cup qualifying method"
                    },
                    "cup_type": {
                      "type": "string",
                      "description": "General information game settings cup type"
                    },
                    "squad_squadplay": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings squad squadplay"
                    },
                    "squad_squadsize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings squad squadsize"
                    },
                    "squad_team_limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings squad team limit"
                    },
                    "squad_total_spend": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings squad total spend"
                    },
                    "ui_currency_multiplier": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings ui currency multiplier"
                    },
                    "ui_use_special_shirts": {
                      "type": "boolean",
                      "description": "General information game settings ui use special shirts"
                    },
                    "ui_special_shirt_exclusions": {
                      "type": "array",
                      "items": {},
                      "description": "General information game settings ui special shirt exclusions"
                    },
                    "stats_form_days": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings stats form days"
                    },
                    "sys_vice_captain_enabled": {
                      "type": "boolean",
                      "description": "General information game settings system vice captain enabled"
                    },
                    "transfers_cap": {
                      "type": "integer",
                      "format": "int32",
                      "description": "General information game settings transfers cap"
                    },
                    "transfers_sell_on_fee": {
                      "type": "number",
                      "format": "float",
                      "description": "General information game settings transfers sell on fee"
                    },
                    "league_h2h_tiebreak_stats": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "General information game settings league head to head tiebreak stats"
                    },
                    "timezone": {
                      "type": "string",
                      "description": "timezone"
                    }
                  },
                  "description": "General information game settings"
                },
                "phases": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information phases id"
                      },
                      "name": {
                        "type": "string",
                        "description": "General information phases name"
                      },
                      "start_event": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information phases start event"
                      },
                      "stop_event": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information phases stop event"
                      }
                    }
                  },
                  "description": "General information phases"
                },
                "teams": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams code"
                      },
                      "draw": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams draw"
                      },
                      "form": {
                        "type": "string",
                        "description": "General information teams form"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams id"
                      },
                      "loss": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams loss"
                      },
                      "name": {
                        "type": "string",
                        "description": "General information teams name"
                      },
                      "played": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams played"
                      },
                      "points": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams points"
                      },
                      "position": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams position"
                      },
                      "short_name": {
                        "type": "string",
                        "description": "General information teams short name"
                      },
                      "strength": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams strength"
                      },
                      "team_division": {
                        "type": "string",
                        "description": "General information teams team division"
                      },
                      "unavailable": {
                        "type": "boolean",
                        "description": "General information teams unavailable"
                      },
                      "win": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams win"
                      },
                      "strength_overall_home": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams strength overall home"
                      },
                      "strength_overall_away": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams strength overall away"
                      },
                      "strength_attack_home": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams strength attack home"
                      },
                      "strength_attack_away": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams strength attack away"
                      },
                      "strength_defence_home": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams strength_defence_home"
                      },
                      "strength_defence_away": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams strength defence away"
                      },
                      "pulse_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information teams pulse id"
                      }
                    }
                  },
                  "description": "General information teams"
                },
                "total_players": {
                  "type": "integer",
                  "format": "int32",
                  "description": "General information total players"
                },
                "elements": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "chance_of_playing_next_round": {
                        "type": "string",
                        "description": "General information elements chance of playing next round"
                      },
                      "chance_of_playing_this_round": {
                        "type": "string",
                        "description": "General information elements chance of playing this round"
                      },
                      "code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements code"
                      },
                      "cost_change_event": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements cost change event"
                      },
                      "cost_change_event_fall": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements cost change event fall"
                      },
                      "cost_change_start": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements cost change start"
                      },
                      "cost_change_start_fall": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements cost change start fall"
                      },
                      "dreamteam_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements dreamteam count"
                      },
                      "element_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements element type"
                      },
                      "ep_next": {
                        "type": "string",
                        "description": "General information elements event points next week"
                      },
                      "ep_this": {
                        "type": "string",
                        "description": "General information elements event points this week"
                      },
                      "event_points": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements event points"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "General information elements first name"
                      },
                      "form": {
                        "type": "string",
                        "description": "General information elements form"
                      },
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements id"
                      },
                      "in_dreamteam": {
                        "type": "boolean",
                        "description": "General information elements is in dreamteam"
                      },
                      "news": {
                        "type": "string",
                        "description": "General information elements news"
                      },
                      "news_added": {
                        "type": "string",
                        "description": "General information elements news added"
                      },
                      "now_cost": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements now cost"
                      },
                      "photo": {
                        "type": "string",
                        "description": "General information elements photo"
                      },
                      "points_per_game": {
                        "type": "string",
                        "description": "General information elements points per game"
                      },
                      "second_name": {
                        "type": "string",
                        "description": "General information elements second name"
                      },
                      "selected_by_percent": {
                        "type": "string",
                        "description": "General information elements selected by percent"
                      },
                      "special": {
                        "type": "boolean",
                        "description": "General information elements special"
                      },
                      "squad_number": {
                        "type": "string",
                        "description": "General information elements squad number"
                      },
                      "status": {
                        "type": "string",
                        "description": "General information elements status"
                      },
                      "team": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements team"
                      },
                      "team_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements team code"
                      },
                      "total_points": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements total points"
                      },
                      "transfers_in": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements transfers in"
                      },
                      "transfers_in_event": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements transfers in event"
                      },
                      "transfers_out": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements transfers out"
                      },
                      "transfers_out_event": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements transfers out event"
                      },
                      "value_form": {
                        "type": "string",
                        "description": "General information elements value form"
                      },
                      "value_season": {
                        "type": "string",
                        "description": "General information elements value season"
                      },
                      "web_name": {
                        "type": "string",
                        "description": "General information elements web name"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements minutes"
                      },
                      "goals_scored": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements goals scored"
                      },
                      "assists": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements assists"
                      },
                      "clean_sheets": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements clean sheets"
                      },
                      "goals_conceded": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements goals conceded"
                      },
                      "own_goals": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements own goals"
                      },
                      "penalties_saved": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements penalties saved"
                      },
                      "penalties_missed": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements penalties missed"
                      },
                      "yellow_cards": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements yellow cards"
                      },
                      "red_cards": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements red cards"
                      },
                      "saves": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements saves"
                      },
                      "bonus": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements bonus"
                      },
                      "bps": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements bonus points"
                      },
                      "influence": {
                        "type": "string",
                        "description": "General information elements influence"
                      },
                      "creativity": {
                        "type": "string",
                        "description": "General information elements creativity"
                      },
                      "threat": {
                        "type": "string",
                        "description": "General information elements threat"
                      },
                      "ict_index": {
                        "type": "string",
                        "description": "General information elements ict index"
                      },
                      "influence_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements influence rank"
                      },
                      "influence_rank_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements influence rank type"
                      },
                      "creativity_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements creativity rank"
                      },
                      "creativity_rank_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements creativity rank type"
                      },
                      "threat_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements threat rank"
                      },
                      "threat_rank_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements threat rank type"
                      },
                      "ict_index_rank": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements ict index rank"
                      },
                      "ict_index_rank_type": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information elements ict index rank type"
                      },
                      "corners_and_indirect_freekicks_order": {
                        "type": "integer",
                        "description": "General information elements corners and indirect freekicks order",
                        "format": "int32"
                      },
                      "corners_and_indirect_freekicks_text": {
                        "type": "string",
                        "description": "General information elements corners and indirect freekicks text"
                      },
                      "direct_freekicks_order": {
                        "type": "string",
                        "description": "General information elements direct freekicks order"
                      },
                      "direct_freekicks_text": {
                        "type": "string",
                        "description": "General information elements direct freekicks text"
                      },
                      "penalties_order": {
                        "type": "string",
                        "description": "General information elements penalties order"
                      },
                      "penalties_text": {
                        "type": "string",
                        "description": "General information elements penalties text"
                      }
                    }
                  },
                  "description": "General information elements"
                },
                "element_stats": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "General information element stats label"
                      },
                      "name": {
                        "type": "string",
                        "description": "General information element stats name"
                      }
                    }
                  },
                  "description": "element_stats"
                },
                "element_types": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information element types id"
                      },
                      "plural_name": {
                        "type": "string",
                        "description": "General information element types plural name"
                      },
                      "plural_name_short": {
                        "type": "string",
                        "description": "General information element types plural name short"
                      },
                      "singular_name": {
                        "type": "string",
                        "description": "General information element types singular name"
                      },
                      "singular_name_short": {
                        "type": "string",
                        "description": "General information element types singular name short"
                      },
                      "squad_select": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information element types squad select"
                      },
                      "squad_min_play": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information element types squad min play"
                      },
                      "squad_max_play": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information element types squad max play"
                      },
                      "ui_shirt_specific": {
                        "type": "boolean",
                        "description": "General information element types ui shirt specific"
                      },
                      "sub_positions_locked": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "General information element types sub positions locked"
                      },
                      "element_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "General information element types element count"
                      }
                    }
                  },
                  "description": "General information element types"
                }
              }
            }
          }
        },
        "summary": "General Information",
        "description": "This endpoint returns general information about the Fantasy Premier League",
        "operationId": "GeneralInformation",
        "parameters": []
      }
    },
    "/api/leagues-classic/{league_id}/standings/": {
      "get": {
        "responses": {
          "200": {
            "description": "Returned if the request is successful.",
            "schema": {
              "type": "object",
              "properties": {
                "new_entries": {
                  "type": "object",
                  "properties": {
                    "has_next": {
                      "type": "boolean",
                      "description": "Classic league has next"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Classic league page"
                    },
                    "results": {
                      "type": "array",
                      "items": {},
                      "description": "Classic league results"
                    }
                  },
                  "description": "new_entries"
                },
                "last_updated_data": {
                  "type": "string",
                  "description": "Classic league last updated data"
                },
                "league": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Classic league id"
                    },
                    "name": {
                      "type": "string",
                      "description": "Classic league name"
                    },
                    "created": {
                      "type": "string",
                      "description": "Classic league created"
                    },
                    "closed": {
                      "type": "boolean",
                      "description": "Classic league closed"
                    },
                    "max_entries": {
                      "type": "string",
                      "description": "Classic league max entries"
                    },
                    "league_type": {
                      "type": "string",
                      "description": "Classic league league type"
                    },
                    "scoring": {
                      "type": "string",
                      "description": "Classic league scoring"
                    },
                    "admin_entry": {
                      "description": "Classic league admin entry"
                    },
                    "start_event": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Classic league start event"
                    },
                    "code_privacy": {
                      "type": "string",
                      "description": "Classic league code privacy"
                    },
                    "has_cup": {
                      "type": "boolean",
                      "description": "Classic league has cup"
                    },
                    "cup_league": {
                      "type": "string",
                      "description": "Classic league cup league"
                    },
                    "rank": {
                      "type": "string",
                      "description": "Classic league rank"
                    }
                  },
                  "description": "Classic league"
                },
                "standings": {
                  "type": "object",
                  "properties": {
                    "has_next": {
                      "type": "boolean",
                      "description": "Classic league standings has next"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Classic league standings page"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Classic league standings results id"
                          },
                          "event_total": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Classic league standings results event total"
                          },
                          "player_name": {
                            "type": "string",
                            "description": "Classic league standings results player name"
                          },
                          "rank": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Classic league standings results rank"
                          },
                          "last_rank": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Classic league standings results last rank"
                          },
                          "rank_sort": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Classic league standings results rank sort"
                          },
                          "total": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Classic league standings results total"
                          },
                          "entry": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Classic league standings results entry"
                          },
                          "entry_name": {
                            "type": "string",
                            "description": "Classic league standings results entry name"
                          }
                        }
                      },
                      "description": "Classic league standings results"
                    }
                  },
                  "description": "Classic league standings"
                }
              }
            }
          }
        },
        "summary": "Classic League Standings",
        "operationId": "ClassicLeagueStandings",
        "description": "This action allows you to return information on a Classic League in Fantasy Premier League with a league ID",
        "parameters": [
          {
            "name": "league_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "League ID",
            "description": "Provide the League ID for the league you want to retireve information on",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://fantasy.premierleague.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.premierleague.com/premier-league-policies"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment;Website"
    }
  ]
}
