{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Blackbaud Raisers Edge NXT Fun",
    "description": "Blackbaud Raiser's Edge NXT is a comprehensive cloud-based fundraising and donor management software solution built specifically for nonprofits and the entire social good community. Use the Fundraising connector to manage campaigns, funds, appeals, and packages.",
    "contact": {
      "name": "Blackbaud Support",
      "url": "https://www.blackbaud.com/support",
      "email": "skyapi@blackbaud.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.blackbaud.com/products/blackbaud-raisers-edge-nxt"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.blackbaud.com/privacy-shield"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "api.sky.blackbaud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "skyApiOAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth2.sky.blackbaud.com/authorization",
      "tokenUrl": "https://oauth2.sky.blackbaud.com/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "skyApiOAuth": []
    }
  ],
  "paths": {
    "/constituent/v1/constituents/{constituent_id}/appeals": {
      "get": {
        "operationId": "ListConstituentAppeals",
        "summary": "List constituent appeals",
        "description": "Lists the appeals for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituent_id",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/ConstituentApi.ApiCollectionOfConstituentAppealRead"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent appeals."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/fundraising/v1/appeals": {
      "get": {
        "operationId": "ListAppeals",
        "summary": "List appeals",
        "description": "Returns a list of appeals.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 500. The maximum is 5000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive appeals?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "date_added",
            "in": "query",
            "description": "Filter the results to appeals created on or after the specified date (ex: '2020-09-18T04:13:56Z').",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Added on or after",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "last_modified",
            "in": "query",
            "description": "Filter the results to appeals modified on or after the specified date (ex: '2020-09-18T04:13:56Z').",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Modified on or after",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfAppealRead"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the appeals."
          }
        }
      }
    },
    "/fundraising/v1/appeals/{appeal_id}": {
      "get": {
        "operationId": "GetAppeal",
        "summary": "Get an appeal",
        "description": "Returns information about an appeal.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appeal_id",
            "in": "path",
            "description": "The system record ID of the appeal to get.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Appeal ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.AppealRead"
            }
          },
          "400": {
            "description": "Returned when the specified appeal ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the appeal."
          },
          "404": {
            "description": "Returned when the specified appeal is not found."
          }
        }
      }
    },
    "/fundraising/v1/appeals/{appeal_id}/attachments": {
      "get": {
        "operationId": "ListAppealAttachments",
        "summary": "List appeal attachments",
        "description": "Lists the attachments for an appeal.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appeal_id",
            "in": "path",
            "description": "The system record ID of the appeal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Appeal ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfAppealAttachmentRead"
            }
          },
          "400": {
            "description": "Returned when the specified appeal ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the attachments."
          },
          "404": {
            "description": "Returned when the specified appeal is not found."
          }
        }
      }
    },
    "/fundraising/v1/appeals/{appeal_id}/customfields": {
      "get": {
        "operationId": "ListAppealCustomFields",
        "summary": "List appeal custom fields",
        "description": "Lists the custom fields for an appeal.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appeal_id",
            "in": "path",
            "description": "The system record ID of the appeal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Appeal ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfAppealCustomFieldRead"
            }
          },
          "400": {
            "description": "Returned when the specified appeal ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the custom fields."
          },
          "404": {
            "description": "Returned when the specified appeal is not found."
          }
        }
      }
    },
    "/fundraising/v1/appeals/attachments": {
      "post": {
        "operationId": "CreateAppealAttachment",
        "summary": "Create an appeal attachment",
        "description": "Creates a new appeal attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.AppealAttachmentAdd"
            },
            "description": "An object that represents the attachment to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an attachment. The response body contains the ID of the new attachment.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CreatedAppealAttachment"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the attachment."
          },
          "404": {
            "description": "Returned when the specified appeal is not found."
          }
        }
      }
    },
    "/fundraising/v1/appeals/attachments/{attachment_id}": {
      "patch": {
        "operationId": "EditAppealAttachment",
        "summary": "Update an appeal attachment",
        "description": "Updates an appeal attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachment_id",
            "in": "path",
            "description": "The system record ID of the attachment to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Attachment ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.AppealAttachmentEdit"
            },
            "description": "An object that represents the properties of the attachment to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the attachment."
          },
          "400": {
            "description": "Returned when the specified attachment ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the attachment."
          },
          "404": {
            "description": "Returned when the specified attachment is not found."
          }
        }
      }
    },
    "/fundraising/v1/appeals/customfields": {
      "post": {
        "operationId": "CreateAppealCustomField",
        "summary": "Create an appeal custom field",
        "description": "Creates a new appeal custom field.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.AppealCustomFieldAdd"
            },
            "description": "An object that represents the custom field to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a custom field. The response body contains the ID of the new custom field.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CreatedAppealCustomField"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the custom field."
          },
          "404": {
            "description": "Returned when the specified appeal is not found."
          }
        }
      }
    },
    "/fundraising/v1/appeals/customfields/{custom_field_id}": {
      "patch": {
        "operationId": "EditAppealCustomField",
        "summary": "Update an appeal custom field",
        "description": "Updates an appeal custom field.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "description": "The system record ID of the custom field to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Custom field ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.AppealCustomFieldEdit"
            },
            "description": "An object that represents the properties of the custom field to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the custom field."
          },
          "400": {
            "description": "Returned when the specified custom field ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the custom field."
          },
          "404": {
            "description": "Returned when the specified custom field is not found."
          }
        }
      }
    },
    "/fundraising/v1/appeals/customfields/categories": {
      "get": {
        "operationId": "ListAppealCustomFieldCategories",
        "summary": "List appeal custom field categories",
        "description": "Lists the appeal custom field categories.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfCustomFieldCategoryRead"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view custom field categories."
          }
        }
      }
    },
    "/fundraising/v1/campaigns": {
      "get": {
        "operationId": "ListCampaigns",
        "summary": "List campaigns",
        "description": "Returns a list of campaigns.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 500. The maximum is 5000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive campaigns?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "date_added",
            "in": "query",
            "description": "Filter the results to campaigns created on or after the specified date (ex: '2020-09-18T04:13:56Z').",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Added on or after",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "last_modified",
            "in": "query",
            "description": "Filter the results to campaigns modified on or after the specified date (ex: '2020-09-18T04:13:56Z').",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Modified on or after",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfCampaignRead"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the campaigns."
          }
        }
      }
    },
    "/fundraising/v1/campaigns/{campaign_id}": {
      "get": {
        "operationId": "GetCampaign",
        "summary": "Get a campaign",
        "description": "Returns information about a campaign.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "The system record ID of the campaign to get.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CampaignRead"
            }
          },
          "400": {
            "description": "Returned when the specified campaign ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the campaign."
          },
          "404": {
            "description": "Returned when the specified campaign is not found."
          }
        }
      }
    },
    "/fundraising/v1/campaigns/{campaign_id}/attachments": {
      "get": {
        "operationId": "ListCampaignAttachments",
        "summary": "List campaign attachments",
        "description": "Lists the attachments for an campaign.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "The system record ID of the campaign.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfCampaignAttachmentRead"
            }
          },
          "400": {
            "description": "Returned when the specified campaign ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the attachments."
          },
          "404": {
            "description": "Returned when the specified campaign is not found."
          }
        }
      }
    },
    "/fundraising/v1/campaigns/{campaign_id}/customfields": {
      "get": {
        "operationId": "ListCampaignCustomFields",
        "summary": "List campaign custom fields",
        "description": "Lists the custom fields for a campaign.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "The system record ID of the campaign.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfCampaignCustomFieldRead"
            }
          },
          "400": {
            "description": "Returned when the specified campaign ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the custom fields."
          },
          "404": {
            "description": "Returned when the specified campaign is not found."
          }
        }
      }
    },
    "/fundraising/v1/campaigns/attachments": {
      "post": {
        "operationId": "CreateCampaignAttachment",
        "summary": "Create a campaign attachment",
        "description": "Creates a new campaign attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CampaignAttachmentAdd"
            },
            "description": "An object that represents the attachment to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an attachment. The response body contains the ID of the new attachment.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CreatedCampaignAttachment"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the attachment."
          },
          "404": {
            "description": "Returned when the specified campaign is not found."
          }
        }
      }
    },
    "/fundraising/v1/campaigns/attachments/{attachment_id}": {
      "patch": {
        "operationId": "EditCampaignAttachment",
        "summary": "Update a campaign attachment",
        "description": "Updates a campaign attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachment_id",
            "in": "path",
            "description": "The system record ID of the attachment to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Attachment ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CampaignAttachmentEdit"
            },
            "description": "An object that represents the properties of the attachment to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the attachment."
          },
          "400": {
            "description": "Returned when the specified attachment ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the attachment."
          },
          "404": {
            "description": "Returned when the specified attachment is not found."
          }
        }
      }
    },
    "/fundraising/v1/campaigns/customfields": {
      "post": {
        "operationId": "CreateCampaignCustomField",
        "summary": "Create a campaign custom field",
        "description": "Creates a new campaign custom field.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CampaignCustomFieldAdd"
            },
            "description": "An object that represents the custom field to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a custom field. The response body contains the ID of the new custom field.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CreatedCampaignCustomField"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the custom field."
          },
          "404": {
            "description": "Returned when the specified campaign is not found."
          }
        }
      }
    },
    "/fundraising/v1/campaigns/customfields/{custom_field_id}": {
      "patch": {
        "operationId": "EditCampaignCustomField",
        "summary": "Update a campaign custom field",
        "description": "Updates a campaign custom field.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "description": "The system record ID of the custom field to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Custom field ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CampaignCustomFieldEdit"
            },
            "description": "An object that represents the properties of the custom field to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the custom field."
          },
          "400": {
            "description": "Returned when the specified custom field ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the custom field."
          },
          "404": {
            "description": "Returned when the specified custom field is not found."
          }
        }
      }
    },
    "/fundraising/v1/campaigns/customfields/categories": {
      "get": {
        "operationId": "ListCampaignCustomFieldCategories",
        "summary": "List campaign custom field categories",
        "description": "Lists the campaign custom field categories.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfCustomFieldCategoryRead"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view custom field categories."
          }
        }
      }
    },
    "/fundraising/v1/funds": {
      "get": {
        "operationId": "ListFunds",
        "summary": "List funds",
        "description": "Returns a list of funds.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 500. The maximum is 5000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive funds?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "date_added",
            "in": "query",
            "description": "Filter the results to funds created on or after the specified date (ex: '2020-09-18T04:13:56Z').",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Added on or after",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "last_modified",
            "in": "query",
            "description": "Filter the results to funds modified on or after the specified date (ex: '2020-09-18T04:13:56Z').",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Modified on or after",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfFundRead"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the funds."
          }
        }
      }
    },
    "/fundraising/v1/funds/{fund_id}": {
      "get": {
        "operationId": "GetFund",
        "summary": "Get a fund",
        "description": "Returns information about a fund.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fund_id",
            "in": "path",
            "description": "The system record ID of the fund to get.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Fund ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.FundRead"
            }
          },
          "400": {
            "description": "Returned when the specified fund ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the fund."
          },
          "404": {
            "description": "Returned when the specified fund is not found."
          }
        }
      }
    },
    "/fundraising/v1/funds/{fund_id}/attachments": {
      "get": {
        "operationId": "ListFundAttachments",
        "summary": "List fund attachments",
        "description": "Lists the attachments for a fund.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fund_id",
            "in": "path",
            "description": "The system record ID of the fund.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Fund ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfFundAttachmentRead"
            }
          },
          "400": {
            "description": "Returned when the specified fund ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the attachments."
          },
          "404": {
            "description": "Returned when the specified fund is not found."
          }
        }
      }
    },
    "/fundraising/v1/funds/{fund_id}/customfields": {
      "get": {
        "operationId": "ListFundCustomFields",
        "summary": "List fund custom fields",
        "description": "Lists the custom fields for a fund.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fund_id",
            "in": "path",
            "description": "The system record ID of the fund.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Fund ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfFundCustomFieldRead"
            }
          },
          "400": {
            "description": "Returned when the specified fund ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the custom fields."
          },
          "404": {
            "description": "Returned when the specified fund is not found."
          }
        }
      }
    },
    "/fundraising/v1/funds/attachments": {
      "post": {
        "operationId": "CreateFundAttachment",
        "summary": "Create a fund attachment",
        "description": "Creates a new fund attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.FundAttachmentAdd"
            },
            "description": "An object that represents the attachment to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an attachment. The response body contains the ID of the new attachment.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CreatedFundAttachment"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the attachment."
          },
          "404": {
            "description": "Returned when the specified fund is not found."
          }
        }
      }
    },
    "/fundraising/v1/funds/attachments/{attachment_id}": {
      "patch": {
        "operationId": "EditFundAttachment",
        "summary": "Update a fund attachment",
        "description": "Updates a fund attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachment_id",
            "in": "path",
            "description": "The system record ID of the attachment to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Attachment ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.FundAttachmentEdit"
            },
            "description": "An object that represents the properties of the attachment to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the attachment."
          },
          "400": {
            "description": "Returned when the specified attachment ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the attachment."
          },
          "404": {
            "description": "Returned when the specified attachment is not found."
          }
        }
      }
    },
    "/fundraising/v1/funds/customfields": {
      "post": {
        "operationId": "CreateFundCustomField",
        "summary": "Create a fund custom field",
        "description": "Creates a new fund custom field.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.FundCustomFieldAdd"
            },
            "description": "An object that represents the custom field to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates a custom field. The response body contains the ID of the new custom field.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.CreatedFundCustomField"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the custom field."
          },
          "404": {
            "description": "Returned when the specified fund is not found."
          }
        }
      }
    },
    "/fundraising/v1/funds/customfields/{custom_field_id}": {
      "patch": {
        "operationId": "EditFundCustomField",
        "summary": "Update a fund custom field",
        "description": "Updates a fund custom field.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "description": "The system record ID of the custom field to update.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Custom field ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.FundCustomFieldEdit"
            },
            "description": "An object that represents the properties of the custom field to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the custom field."
          },
          "400": {
            "description": "Returned when the specified custom field ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the custom field."
          },
          "404": {
            "description": "Returned when the specified custom field is not found."
          }
        }
      }
    },
    "/fundraising/v1/funds/customfields/categories": {
      "get": {
        "operationId": "ListFundCustomFieldCategories",
        "summary": "List fund custom field categories",
        "description": "Lists the fund custom field categories.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfCustomFieldCategoryRead"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view custom field categories."
          }
        }
      }
    },
    "/fundraising/v1/packages": {
      "get": {
        "operationId": "ListPackages",
        "summary": "List packages",
        "description": "Returns a list of packages.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "appeal_id",
            "in": "query",
            "description": "Represents a comma-separated list of appeal system record IDs to filter the results. For example, \"506,918\" returns only packages for appeal 506 or appeal 918.",
            "type": "string",
            "x-ms-summary": "Appeal ID"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 500. The maximum is 5000.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive packages?",
            "type": "boolean",
            "x-ms-summary": "Include inactive?",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "date_added",
            "in": "query",
            "description": "Filter the results to packages created on or after the specified date (ex: '2020-09-18T04:13:56Z').",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Added on or after",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "last_modified",
            "in": "query",
            "description": "Filter the results to packages modified on or after the specified date (ex: '2020-09-18T04:13:56Z').",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Modified on or after",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.ApiCollectionOfPackageRead"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the packages."
          }
        }
      }
    },
    "/fundraising/v1/packages/{package_id}": {
      "get": {
        "operationId": "GetPackage",
        "summary": "Get a package",
        "description": "Returns information about a package.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "package_id",
            "in": "path",
            "description": "The system record ID of the package to get.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Package ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/FundraisingApi.PackageRead"
            }
          },
          "400": {
            "description": "Returned when the specified package ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the package."
          },
          "404": {
            "description": "Returned when the specified package is not found."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/appeals": {
      "post": {
        "operationId": "CreateAppeal",
        "summary": "Create an appeal",
        "description": "Creates a new appeal.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.AppealCreate"
            },
            "description": "An object that represents the appeal to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds. The response body contains the new appeal ID.",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.CreatedAppeal"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the appeal."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/appeals/{id}": {
      "patch": {
        "operationId": "EditAppeal",
        "summary": "Update an appeal",
        "description": "Updates an appeal.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The system record ID of the appeal to update.",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Appeal ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.AppealEdit"
            },
            "description": "An object that represents the properties of the appeal to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the appeal."
          },
          "400": {
            "description": "Returned when the specified appeal ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the appeal."
          },
          "404": {
            "description": "Returned when the specified appeal is not found."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/campaigns": {
      "post": {
        "operationId": "CreateCampaign",
        "summary": "Create a campaign",
        "description": "Creates a new campaign.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.CampaignCreate"
            },
            "description": "An object that represents the campaign to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds. The response body contains the new campaign ID.",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.CreatedCampaign"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the campaign."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/campaigns/{id}": {
      "patch": {
        "operationId": "EditCampaign",
        "summary": "Update a campaign",
        "description": "Updates a campaign.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The system record ID of the campaign to update.",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Campaign ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.CampaignEdit"
            },
            "description": "An object that represents the properties of the campaign to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the campaign."
          },
          "400": {
            "description": "Returned when the specified campaign ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the campaign."
          },
          "404": {
            "description": "Returned when the specified campaign is not found."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/codetables/{code_table_id}/tableentries": {
      "get": {
        "operationId": "ListTableEntries",
        "summary": "List table entries",
        "description": "Lists the table entries for a code table.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code_table_id",
            "in": "path",
            "description": "The code table ID.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Code table ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "include_inactive",
            "in": "query",
            "type": "boolean",
            "description": "Including inactive table entries?",
            "x-ms-summary": "Include inactive?"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.TableEntryCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view table entries."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/constitappeals": {
      "post": {
        "operationId": "CreateConstituentAppeal",
        "summary": "Create a constituent appeal",
        "description": "Creates a new constituent appeal.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.ConstituentAppealCreate"
            },
            "description": "An object that represents the constituent appeal to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds. The response body contains the new constituent appeal ID.",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.CreatedConstituentAppeal"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the constituent appeal."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/constitappeals/{id}": {
      "patch": {
        "operationId": "EditConstituentAppeal",
        "summary": "Update a constituent appeal",
        "description": "Updates a constituent appeal.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The system record ID of the constituent appeal to update.",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Constitutent appeal ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.ConstituentAppealEdit"
            },
            "description": "An object that represents the properties of the constitutent appeal to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the constituent appeal."
          },
          "400": {
            "description": "Returned when the specified constituent appeal ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the constituent appeal."
          },
          "404": {
            "description": "Returned when the specified constituent appeal is not found."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/funds": {
      "post": {
        "operationId": "CreateFund",
        "summary": "Create a fund",
        "description": "Creates a new fund.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.FundCreate"
            },
            "description": "An object that represents the fund to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds. The response body contains the new fund ID.",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.CreatedFund"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the fund."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/funds/{id}": {
      "patch": {
        "operationId": "EditFund",
        "summary": "Update a fund",
        "description": "Updates a fund.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The system record ID of the fund to update.",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Fund ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.FundEdit"
            },
            "description": "An object that represents the properties of the fund to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the fund."
          },
          "400": {
            "description": "Returned when the specified fund ID in the request URL or the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the fund."
          },
          "404": {
            "description": "Returned when the specified fund is not found."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/relationships/constituents/fund/{fundId}": {
      "get": {
        "operationId": "ListFundConstituentRelationships",
        "summary": "List fund constituent relationships",
        "description": "Lists the constituent relationships for a fund.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fundId",
            "in": "path",
            "description": "The system record ID of the fund.",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Fund ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.ConstituentRelationshipCollection"
            }
          },
          "400": {
            "description": "Returned when the specified fund ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the fund constituent relationships."
          },
          "404": {
            "description": "Returned when the specified fund is not found."
          }
        }
      }
    },
    "/nxt-data-integration/v1/re/relationships/funds/constituent/{constituentId}": {
      "get": {
        "operationId": "ListConstituentFundRelationships",
        "summary": "List constituent fund relationships",
        "description": "Lists the fund relationships for a constituent.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "constituentId",
            "in": "path",
            "description": "The system record ID of the constituent.",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Constituent ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/NXTDataIntegrationApi.FundRelationshipCollection"
            }
          },
          "400": {
            "description": "Returned when the specified constituent ID in the request URL is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view the constituent fund relationships."
          },
          "404": {
            "description": "Returned when the specified constituent is not found."
          }
        }
      }
    },
    "/powerautomateui/v1/dynamicvalues": {
      "get": {
        "operationId": "GetDynamicValues",
        "summary": "Get dynamic values",
        "description": "List dynamic values.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "api",
            "in": "query",
            "description": "The underlying SKY API containing the route that will be used to populate the dynamic values list.",
            "required": true,
            "type": "string",
            "enum": [
              "constituent",
              "gift",
              "fundraising",
              "opportunity"
            ]
          },
          {
            "name": "route",
            "in": "query",
            "description": "The route within the specified SKY API to call to produce the values for the dynamic list.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/PowerAutomateUIApi.DynamicValuesCollection"
            }
          }
        }
      }
    },
    "/powerautomateui/v1/dynamicvalues/customfields": {
      "get": {
        "operationId": "GetCustomFieldCodeTableDynamicValues",
        "summary": "Get custom field code table dynamic values",
        "description": "List custom field code table dynamic values.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "api",
            "in": "query",
            "description": "The underlying SKY API containing the route that will be used to populate the dynamic values list.",
            "required": true,
            "type": "string",
            "enum": [
              "constituent",
              "gift",
              "fundraising",
              "opportunity"
            ]
          },
          {
            "name": "custom_field_type",
            "in": "query",
            "description": "The type of entity that owns the custom field.",
            "required": true,
            "type": "string",
            "enum": [
              "actions",
              "constituents",
              "appeals",
              "campaigns",
              "funds",
              "gifts",
              "opportunities"
            ]
          },
          {
            "name": "category_name",
            "in": "query",
            "description": "The custom field category.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/PowerAutomateUIApi.DynamicValuesCollection"
            }
          }
        }
      }
    },
    "/powerautomateui/v1/dynamicproperties/customfields": {
      "get": {
        "operationId": "GetCustomFieldDynamicProperties",
        "summary": "Get custom field dynamic properties",
        "description": "List custom field dynamic properties.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "api",
            "in": "query",
            "description": "The underlying SKY API containing the endpoint that will be used to fetch the custom field category definition.",
            "required": true,
            "type": "string",
            "enum": [
              "constituent",
              "gift",
              "fundraising",
              "opportunity"
            ]
          },
          {
            "name": "custom_field_type",
            "in": "query",
            "description": "The type of entity that owns the custom field.",
            "required": true,
            "type": "string",
            "enum": [
              "actions",
              "constituents",
              "appeals",
              "campaigns",
              "funds",
              "gifts",
              "opportunities"
            ]
          },
          {
            "name": "category",
            "in": "query",
            "description": "The custom field category.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/PowerAutomateUIApi.DynamicProperties"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ConstituentApi.ApiCollectionOfConstituentAppealRead": {
      "type": "object",
      "description": "Constituent appeals",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/ConstituentApi.ConstituentAppealRead"
          }
        }
      }
    },
    "ConstituentApi.ConstituentAppealRead": {
      "type": "object",
      "description": "Constituent appeal",
      "properties": {
        "id": {
          "type": "string",
          "description": "The system record ID of the constituent appeal.",
          "x-ms-summary": "ID"
        },
        "appeal": {
          "type": "object",
          "description": "Appeal",
          "x-ms-summary": "Appeal",
          "properties": {
            "id": {
              "type": "string",
              "description": "The system record ID of the appeal.",
              "x-ms-summary": "ID"
            },
            "description": {
              "type": "string",
              "description": "The appeal description.",
              "x-ms-summary": "description"
            }
          }
        },
        "package": {
          "type": "object",
          "description": "Package",
          "x-ms-summary": "Package",
          "properties": {
            "id": {
              "type": "string",
              "description": "The system record ID of the package.",
              "x-ms-summary": "ID"
            },
            "description": {
              "type": "string",
              "description": "The package description.",
              "x-ms-summary": "description"
            }
          }
        },
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "The constituent appeal date.",
          "x-ms-summary": "Date"
        },
        "response": {
          "type": "string",
          "description": "The response for the constituent appeal.",
          "x-ms-summary": "Response"
        },
        "marketing_segment": {
          "type": "string",
          "description": "The marketing segment for the constituent appeal.",
          "x-ms-summary": "Marketing segment"
        },
        "marketing_source_code": {
          "type": "string",
          "description": "The marketing source code for the constituent appeal.",
          "x-ms-summary": "Marketing source code"
        },
        "mailing_id": {
          "type": "string",
          "description": "The user-defined mailing identifier for the constituent appeal.",
          "x-ms-summary": "Mailing ID"
        },
        "finder_number": {
          "type": "string",
          "description": "The marketing finder number for the constituent appeal.",
          "x-ms-summary": "Finder number"
        },
        "comments": {
          "type": "string",
          "description": "User comments for the constituent appeal.",
          "x-ms-summary": "Comments"
        }
      }
    },
    "FundraisingApi.ApiCollectionOfAppealAttachmentRead": {
      "type": "object",
      "description": "Attachments",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.AppealAttachmentRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfAppealCustomFieldRead": {
      "type": "object",
      "description": "Custom fields",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.AppealCustomFieldRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfAppealRead": {
      "type": "object",
      "description": "Appeals",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.AppealRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfCampaignAttachmentRead": {
      "type": "object",
      "description": "Attachments",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.CampaignAttachmentRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfCampaignCustomFieldRead": {
      "type": "object",
      "description": "Custom fields",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.CampaignCustomFieldRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfCampaignRead": {
      "type": "object",
      "description": "Campaigns",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.CampaignRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfCustomFieldCategoryRead": {
      "type": "object",
      "description": "Custom field categories",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.CustomFieldCategoryRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfFundAttachmentRead": {
      "type": "object",
      "description": "Attachments",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.FundAttachmentRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfFundCustomFieldRead": {
      "type": "object",
      "description": "Custom fields",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.FundCustomFieldRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfFundRead": {
      "type": "object",
      "description": "Funds",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.FundRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfFundraiserAssignmentRead": {
      "type": "object",
      "description": "Assignments",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.FundraiserAssignmentRead"
          }
        }
      }
    },
    "FundraisingApi.ApiCollectionOfPackageRead": {
      "type": "object",
      "description": "Packages",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters. The limit and offset parameters do not affect the count, but to facilitate paging, they may affect the number of items in the value result set.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/FundraisingApi.PackageRead"
          }
        }
      }
    },
    "FundraisingApi.AppealAttachmentAdd": {
      "type": "object",
      "description": "Many cultivation activities collect related collateral, such as correspondence and prospect research. Attachments can save this data on the appropriate record to maintain a complete view of those activities.",
      "required": [
        "parent_id",
        "type"
      ],
      "properties": {
        "parent_id": {
          "type": "string",
          "description": "The system record ID of the appeal associated with the attachment.",
          "x-ms-summary": "Appeal ID"
        },
        "type": {
          "type": "string",
          "description": "The attachment type. Physical attachments are uploaded files such as images, PDFs, or Word documents that are saved locally or on the network. They are stored and managed in the system. Link attachments are links to files such as images, blog posts, or YouTube videos that are online or in a cloud storage account. They are stored and managed externally.",
          "x-ms-summary": "Type",
          "enum": [
            "Link",
            "Physical"
          ]
        },
        "name": {
          "type": "string",
          "maxLength": 150,
          "minLength": 0,
          "description": "The name of the attachment. Character limit: 150.",
          "x-ms-summary": "Name"
        },
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "The date of the attachment (ex: '2020-09-18T04:13:56Z'). This field defaults to the current date and time if not supplied.",
          "x-ms-summary": "Date"
        },
        "url": {
          "type": "string",
          "description": "The URL for the attachment. This is required for link attachments and not applicable for physical attachments.",
          "x-ms-summary": "URL"
        },
        "file_name": {
          "type": "string",
          "maxLength": 36,
          "minLength": 0,
          "description": "The name of the file. Character limit: 36. For physical attachments only.",
          "x-ms-summary": "File name"
        },
        "file_id": {
          "type": "string",
          "maxLength": 36,
          "minLength": 0,
          "description": "The identifier of the file. Character limit: 36. For physical attachments only.",
          "x-ms-summary": "File ID"
        },
        "thumbnail_id": {
          "type": "string",
          "maxLength": 36,
          "minLength": 0,
          "description": "The identifier of the thumbnail. Character limit: 36. For physical attachments only.",
          "x-ms-summary": "Thumbnail ID"
        },
        "tags": {
          "type": "array",
          "description": "The tags associated with the attachment.",
          "x-ms-summary": "Tags",
          "x-ms-visibility": "advanced",
          "items": {
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicValues",
              "value-collection": "value",
              "value-path": "item",
              "value-title": "item",
              "parameters": {
                "api": "fundraising",
                "route": "attachmenttags"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetDynamicValues",
              "itemsPath": "value",
              "itemValuePath": "item",
              "itemTitlePath": "item",
              "parameters": {
                "api": {
                  "value": "fundraising"
                },
                "route": {
                  "value": "attachmenttags"
                }
              }
            }
          }
        }
      }
    },
    "FundraisingApi.AppealAttachmentEdit": {
      "type": "object",
      "description": "Many cultivation activities collect related collateral, such as correspondence and prospect research. Attachments can save this data on the appropriate record to maintain a complete view of those activities.",
      "properties": {
        "name": {
          "type": "string",
          "maxLength": 150,
          "minLength": 0,
          "description": "The name of the attachment. Character limit: 150.",
          "x-ms-summary": "Name"
        },
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "The date of the attachment (ex: '2020-09-18T04:13:56Z').",
          "x-ms-summary": "Date"
        },
        "url": {
          "type": "string",
          "description": "The URL for the attachment. This is required for link attachments and not applicable for physical attachments.",
          "x-ms-summary": "URL"
        },
        "tags": {
          "type": "array",
          "description": "The tags associated with the attachment.",
          "x-ms-summary": "Tags",
          "x-ms-visibility": "advanced",
          "items": {
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "GetDynamicValues",
              "value-collection": "value",
              "value-path": "item",
              "value-title": "item",
              "parameters": {
                "api": "fundraising",
                "route": "attachmenttags"
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetDynamicValues",
              "itemsPath": "value",
              "itemValuePath": "item",
              "itemTitlePath": "item",
              "parameters": {
                "api": {
                  "value": "fundraising"
                },
                "route": {
                  "value": "attachmenttags"
                }
              }
            }
          }
        }
      }
    },
    "FundraisingApi.AppealAttachmentRead": {
      "type": "object",
      "description": "Attachment",
      "properties": {
        "id": {
          "type": "string",
          "description": "The system record ID of the attachment.",
          "x-ms-summary": "ID"
        },
        "parent_id": {
          "type": "string",
          "description": "The system record ID of the appeal associated with the attachment.",
          "x-ms-summary": "Appeal ID"
        },
        "type": {
          "type": "string",
          "description": "The attachment type. Physical attachments are uploaded files such as images, PDFs, or Word documents that are saved locally or on the network. They are stored and managed in the system. Link attachments are links to files such as images, blog posts, or YouTube videos that are online or in a cloud storage account. They are stored and managed externally.",
          "x-ms-summary": "Type",
          "enum": [
            "Link",
            "Physical"
          ]
        },
        "name": {
          "type": "string",
          "maxLength": 150,
          "minLength": 0,
          "description": "The name of the attachment. Character limit: 150.",
          "x-ms-summary": "Name"
        },
        "date": {
          "type": "string",
          "format": "date-time",
          "description": "The date of the attachment.",
          "x-ms-summary": "Date"
        },
        "url": {
          "type": "string",
          "description": "The URL for the attachment. This is required for link attachments and not applicable for physical attachments.",
          "x-ms-summary": "URL"
        },
        "file_name": {
          "type": "string",
          "description": "The name of the file. Character limit: 36. For physical attachments only.",
          "x-ms-summary": "File name"
        },
        "file_id": {
          "type": "string",
          "description": "The identifier of the file. Character limit: 36. For physical attachments only.",
          "x-ms-summary": "File ID"
        },
        "thumbnail_id": {
          "type": "string",
          "maxLength": 36,
          "minLength": 0,
          "description": "The identifier of the thumbnail. Character limit: 36. For physical attachments only.",
          "x-ms-summary": "Thumbnail ID"
        },
        "thumbnail_url": {
          "type": "string",
          "description": "The URL for a thumbnail. For physical attachments that are images only. Contains a time-bound signature that limits access to 60 minutes.",
          "x-ms-summary": "Thumbnail URL"
        },
        "content_type": {
          "type": "string",
          "description": "The content type. For physical attachments only.",
          "x-ms-summary": "Content type"
        },
        "file_size": {
          "type": "integer",
          "format": "int64",
          "description": "The file size in bytes. For physical attachments only.",
          "x-ms-summary": "File size"
        },
        "tags": {
          "type": "array",
          "description": "The tags associated with the attachment.",
          "x-ms-summary": "Tags",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "FundraisingApi.AppealCustomFieldAdd": {
      "type": "object",
      "description": "While records provide many fields to track information, organizations often require additional details. To track this specialized information, use custom fields.",
      "required": [
        "parent_id",
        "category"
      ],
      "properties": {
        "parent_id": {
          "type": "string",
          "description": "The system record ID of the appeal associated with the custom field.",
          "x-ms-summary": "Appeal ID"
        },
        "category": {
          "type": "string",
          "description": "The custom field category.",
          "x-ms-summary": "Category",
          "x-ms-dynamic-values": {
            "operationId": "ListAppealCustomFieldCategories",
            "value-collection": "value",
            "value-path": "name",
            "value-title": "name"
          },
          "x-ms-dynamic-list": {
            "operationId": "ListAppealCustomFieldCategories",
            "itemsPath": "value",
            "itemValuePath": "name",
            "itemTitlePath": "name"
          }
        },
        "value": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetCustomFieldDynamicProperties",
            "parameters": {
              "api": "fundraising",
              "custom_field_type": "appeals",
              "category": {
                "parameter": "category"
              }
            },
            "value-path": "items"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetCustomFieldDynamicProperties",
            "parameters": {
              "api": {
                "value": "fundraising"
              },
              "custom_field_type": {
                "value": "appeals"
              },
              "category": {
                "parameterReference": "body/category"
              }
            },
            "itemValuePath": "items"
          }
        },
        "date": {
          "type": "string",
          "format": "date",
          "description": "The date on the custom field (ex: '2005-09-18').",
          "x-ms-summary": "Date"
        },
        "comment": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0,
          "description": "The comment on the custom field. Character limit: 50.",
          "x-ms-summary": "Comment"
        }
      }
    },
    "FundraisingApi.AppealCustomFieldEdit": {
      "type": "object",
      "description": "While records provide many fields to track information, organizations often require additional details. To track this specialized information, use custom fields.",
      "properties": {
        "category": {
          "type": "string",
          "description": "The custom field category (required if updating the custom field value).",
          "x-ms-summary": "Category",
          "x-ms-dynamic-values": {
            "operationId": "ListAppealCustomFieldCategories",
            "value-collection": "value",
            "value-path": "name",
            "value-title": "name"
          },
          "x-ms-dynamic-list": {
            "operationId": "ListAppealCustomFieldCategories",
            "itemsPath": "value",
            "itemValuePath": "name",
            "itemTitlePath": "name"
          }
        },
        "value": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetCustomFieldDynamicProperties",
            "parameters": {
              "api": "fundraising",
              "custom_field_type": "appeals",
              "category": {
                "parameter": "category"
              }
            },
            "value-path": "items"
          },
          "x-ms-dynamic-properties": {
            "operationId": "GetCustomFieldDynamicProperties",
            "parameters": {
              "api": {
                "value": "fundraising"
              },
              "custom_field_type": {
                "value": "appeals"
              },
              "category": {
                "parameterReference": "body/category"
              }
            },
            "itemValuePath": "items"
          }
        },
        "date": {
          "type": "string",
          "format": "date",
          "description": "The date on the custom field (ex: '2005-09-18').",
          "x-ms-summary": "Date"
        },
        "comment": {
          "type": "string",
          "maxLength": 50,
          "minLength": 0,
          "description": "The comment on the custom field. Character limit: 50.",
          "x-ms-summary": "Comment"
        }
      }
    },
    "FundraisingApi.AppealCustomFieldRead": {
      "type": "object",
      "description": "Custom field",
      "properties": {
        "id": {
          "type": "string",
          "description": "The system record ID of the custom field.",
          "x-ms-summary": "ID"
        },
        "parent_id": {
          "type": "string",
          "description": "The system record ID of the appeal associated with the custom field.",
          "x-ms-summary": "Appeal ID"
        },
        "category": {
          "type": "string",
          "description": "The custom field category.",
          "x-ms-summary": "Category"
        },
        "type": {
          "type": "string",
          "description": "The type of data that the custom field represents.",
          "x-ms-summary": "Type",
          "enum": [
            "Text",
            "Number",
            "Date",
            "Currency",
            "Boolean",
            "CodeTableEntry",
            "ConstituentId",
            "FuzzyDate"
          ]
        },
        "value": {
          "description": "The value of the custom field.",
          "x-ms-summary": "Value"
        },
        "text_value": {
          "type": "string",
          "description": "The text value of the custom field.",
          "x-ms-summary": "Text value"
        },
        "number_value": {
          "type": "integer",
          "format": "int32",
          "description": "The numeric value of the custom field.",
          "x-ms-summary": "Number value"
        },
        "date_value": {
          "type": "string",
          "format": "date",
          "description": "The date value of the custom field.",
          "x-ms-summary": "Date value"
        },
        "currency_value": {
          "type": "number",
          "format": "double",
          "description": "The currency value of the custom field.",
          "x-ms-summary": "Currency value"
        },
        "boolean_value": {
          "type": "boolean",
          "description": "The boolean value of the custom field.",
          "x-ms-summary": "Boolean value"
        },
        "codetableentry_value": {
          "type": "string",
          "description": "The table entry value of the custom field.",
          "x-ms-summary": "Table entry value"
        },
        "constituentid_value": {
          "type": "string",
          "description": "The constituent ID value of the custom field.",
          "x-ms-summary": "Constituent ID value"
        },
        "fuzzydate_value": {
          "type": "object",
          "description": "The fuzzy date value of the custom field.",
          "x-ms-summary": "Fuzzy date value",
          "properties": {
            "d": {
              "type": "integer",
              "format": "int32",
              "description": "The day in the fuzzy date.",
              "x-ms-summary": "day",
              "x-ms-visibility": "advanced"
            },
            "m": {
              "type": "integer",
              "format": "int32",
              "description": "The month in the fuzzy date.",
              "x-ms-summary": "month",
              "x-ms-visibility": "advanced"
            },
            "y": {
              "type": "integer",
              "format": "int32",
              "description": "The year in the fuzzy date.",
              "x-ms-summary": "year",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "date": {
          "type": "string",
          "format": "date",
          "description": "The date on the custom field.",
          "x-ms-summary": "Date"
        },
        "comment": {
          "type": "string",
          "description": "The comment on the custom field. Character limit: 50.",
          "x-ms-summary": "Comment"
        },
        "date_added": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the custom field was created.",
          "x-ms-summary": "Date added"
        },
        "date_modified": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the custom field was last modified.",
          "x-ms-summary": "Date modified"
        }
      }
    },
    "FundraisingApi.AppealRead": {
      "type": "object",
      "description": "Appeal",
      "properties": {
        "id": {
          "type": "string",
          "description": "The system record ID of the appeal.",
          "x-ms-summary": "ID"
        },
        "category": {
          "type": "string",
          "description": "The category of the appeal.",
          "x-ms-summary": "Category"
        },
        "date_added": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the appeal was created.",
          "x-ms-summary": "Date added"
        },
        "date_modified": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the appeal was last modified.",
          "x-ms-summary": "Date modified"
        },
        "description": {
          "type": "string",
          "description": "The display name of the appeal.",
          "x-ms-summary": "Description"
        },
        "end_date": {
          "type": "string",
          "format": "date-time",
          "description": "The end date of the appeal.",
          "x-ms-summary": "End date"
        },
        "goal": {
          "type": "object",
          "description": "The monetary goal associated with the appeal.",
          "x-ms-summary": "Goal",
          "properties": {
            "value": {
              "type": "number",
              "format": "double",
[...]
