{
  "swagger": "2.0",
  "info": {
    "title": "1Me Corporate",
    "description": "1Me is the easiest and fastest way to share your contact information.\nWith 1Me, you can have an unlimited number of contact cards. You can choose which contact information to include on each card, and then choose who to share each card with.\nThis is best for separating your business and personal contact information",

    "contact": {
      "name": "1Me Support",
      "url": "https://www.1me.live/support",
      "email": "support@1me.live"
    },
    "version": "1.0"
  },
  "host": "automate.1me.live",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/CardTempletes/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/Repositotries/GetAllCardsForAccount"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "RetrieveCardTemplates",
        "summary": "Get Card Templates",
        "description": "Retrieve all corporate card templates",
        "parameters": []
      }
    },
    "/api/Invitation/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SendInvitation"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Send Invitation",
        "operationId": "SendInvitation",
        "description": "Create invitation and send email for your corporate members",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CardTemplateId": {
                  "type": "string",
                  "description": "Card Template Id",
                  "title": "Card Template Id"
                },
                "NameOnCard": {
                  "type": "string",
                  "description": "Name On Card",
                  "title": "Name On Card"
                },
                "Jobtitle": {
                  "type": "string",
                  "description": "Job Title",
                  "title": "Job Title"
                },
                "WorkEmail": {
                  "type": "string",
                  "description": "Work Email",
                  "title": "Work Email"
                },
                "Extension": {
                  "type": "string",
                  "description": "Extension",
                  "title": "Extension"
                }
              },
              "required": [
                "CardTemplateId",
                "Jobtitle",
                "WorkEmail"
              ]
            }
          }
        ]
      }
    },
    "/api/Invitation/Disassociate": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DisassociateMembers"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "DisassociateMember",
        "summary": "Disassociate Member",
        "description": "Disassociate members from your corporate",
        "parameters": [
          {
            "description": "Disassociate members from your corporate",
            "x-ms-summary": "Disassociate members from your corporate",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "type": "string",
                  "description": "Email",
                  "title": "Email"
                }
              },
              "required": [
                "Email"
              ]
            }
          }
        ]
      }
    },
    "/api/Invitation/GetAccountInvitations/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetAllAccountInvitations"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "operationId": "RetrieveAllInvitations",
        "summary": "Retrieve all Invitations",
        "description": "Retrieve all corporate invitations",
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.1me.live/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.1me.live/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "XApiKey"
    }
  },
  "security": [],
  "tags": []
}