{
  "swagger": "2.0",
  "info": {
    "title": "1Me Corporate",
    "description": "1Me is the easiest and fastest way to share your contact information.\nWith 1Me, you can have an unlimited number of contact cards. You can choose which contact information to include on each card, and then choose who to share each card with.\nThis is best for separating your business and personal contact information",

    "contact": {
      "name": "1Me Support",
      "url": "https://www.1me.live/support",
      "email": "support@1me.live"
    },

    "version": "1.0"
  },
  "host": "automate.1me.live",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/CardTempletes/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "RetrieveCardTemplates",
        "summary": "Retrieve all corporate card templates",
        "description": "Retrieve all corporate card templates",
        "parameters": []
      }
    },
    "/api/Invitation/": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create invitation and send email for your corporate members",
        "operationId": "SendInvitation",
        "description": "Create invitation and send email for your corporate members",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CardTemplateId": {
                  "type": "string",
                  "description": "",
                  "title": "Card Template Id"
                },
                "NameOnCard": {
                  "type": "string",
                  "description": "",
                  "title": "Name On Card"
                },
                "Jobtitle": {
                  "type": "string",
                  "description": "Job Title",
                  "title": "Job Title"
                },
                "WorkEmail": {
                  "type": "string",
                  "description": "",
                  "title": "Work Email"
                },
                "Extension": {
                  "type": "string",
                  "description": "Extension",
                  "title": ""
                }
              },
              "required": [
                "CardTemplateId",
                "Jobtitle",
                "WorkEmail"
              ]
            }
          }
        ]
      }
    },
    "/api/Invitation/Disassociate": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "DisassociateMember",
        "summary": "Disassociate members from your corporate",
        "description": "Disassociate members from your corporate",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Email": {
                  "type": "string",
                  "description": "Email",
                  "title": ""
                }
              },
              "required": [
                "Email"
              ]
            }
          }
        ]
      }
    },
    "/api/Invitation/GetAccountInvitations/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "RetrieveAllInvitations",
        "summary": "Retrieve all corporate invitations",
        "description": "Retrieve all corporate invitations",
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.1me.live/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.1me.live/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "IT Operations;Website"
    }
  ],

  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "XApiKey"
    }
  },
  "security": [],
  "tags": []
}