{
  "swagger": "2.0",
  "info": {
    "title": "Data247",
    "description": "Data247.com Connector to use our APIs for Data Validation, Fraud Detection, Verification of Customer Data etc.",
    "version": "1.0",
    "contact":{
		"name":"Data247 Support",
		"url":"https://support.data247.com/"
	}
  },
  "host": "api.data247.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v3.0": {},
    "/v3.0/MT/": {
      "get": {
        "responses": {
          "200": {
            "description": "Text retrieves the Carrier name, iswireless, email-to-SMS, and email-to-MMS gateway addresses for your wireless phone numbers.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "wless": {
                            "type": "string",
                            "description": "wless"
                          },
                          "carrier_name": {
                            "type": "string",
                            "description": "carrier_name"
                          },
                          "carrier_id": {
                            "type": "string",
                            "description": "carrier_id"
                          },
                          "sms_address": {
                            "type": "string",
                            "description": "sms_address"
                          },
                          "mms_address": {
                            "type": "string",
                            "description": "mms_address"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Messaging Services Text",
        "description": "Text retrieves the Carrier name, iswireless, email-to-SMS, and email-to-MMS gateway addresses for your wireless phone numbers.",
        "operationId": "Text",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Contact Phone Number",
            "x-ms-summary": "Contact Phone Number"
          }
        ]
      }
    },
    "/v3.0/CU/": {
      "get": {
        "responses": {
          "200": {
            "description": "Carrier247 (USA) returns Carrier name, iswireless, email-to-SMS, and email-to-MMS gateway addresses for provided domestic US phone numbers.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "wless": {
                            "type": "string",
                            "description": "wless"
                          },
                          "carrier_name": {
                            "type": "string",
                            "description": "carrier_name"
                          },
                          "carrier_id": {
                            "type": "string",
                            "description": "carrier_id"
                          },
                          "sms_address": {
                            "type": "string",
                            "description": "sms_address"
                          },
                          "mms_address": {
                            "type": "string",
                            "description": "mms_address"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Carrier247 (USA)",
        "description": "Carrier247 (USA) returns Carrier name, iswireless, email-to-SMS, and email-to-MMS gateway addresses for provided domestic US phone numbers.",
        "operationId": "Carrier247-USA",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Phone Number",
            "x-ms-summary": "Phone Number"
          }
        ]
      }
    },
    "/v3.0/CT/": {
      "get": {
        "responses": {
          "200": {
            "description": "Carrier247 (Carrier Type) is similar to Carrier247 (USA), but only returns a subset of the data (just the carrier type), and it works for Canadian phone numbers as well as USA without the requirement that the user subscribe to the CLNPC to get port corrected results.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Carrier247 (Carrier Type)",
        "description": "Carrier247 (Carrier Type) is similar to Carrier247 (USA), but only returns a subset of the data (just the carrier type), and it works for Canadian phone numbers as well as USA without the requirement that the user subscribe to the CLNPC to get port corrected results.",
        "operationId": "Carrier247-Type",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Phone Number",
            "x-ms-summary": "Phone Number"
          }
        ]
      }
    },
    "/v3.0/CI/": {
      "get": {
        "responses": {
          "200": {
            "description": "Carrier247 (International) returns carrier information for international phone numbers, including whether they are wireless or landline numbers.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "wless": {
                            "type": "string",
                            "description": "wless"
                          },
                          "carrier_name": {
                            "type": "string",
                            "description": "carrier_name"
                          },
                          "carrier_id": {
                            "type": "string",
                            "description": "carrier_id"
                          },
                          "country": {
                            "type": "string",
                            "description": "country"
                          },
                          "isoCountry2": {
                            "type": "string",
                            "description": "isoCountry2"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Carrier247 (International)",
        "description": "Carrier247 (International)returns carrier information for international phone numbers, including whether they are wireless or landline numbers.",
        "operationId": "Carrier247-International",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Phone Number",
            "x-ms-summary": "Phone Number"
          }
        ]
      }
    },
    "/v3.0/VE/": {
      "get": {
        "responses": {
          "200": {
            "description": "Verify247 (Email) will verify that each of your email address is properly formatted and there is a working mailbox associated with it.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "valid": {
                            "type": "string",
                            "description": "valid"
                          },
                          "reason": {
                            "type": "string",
                            "description": "reason"
                          },
                          "free_account": {
                            "type": "string",
                            "description": "free_account"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Verify247 (Email)",
        "description": "Verify247 (Email) will verify that each of your email address is properly formatted and there is a working mailbox associated with it.",
        "operationId": "Verify247-Email",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Email  ID",
            "x-ms-summary": "Email ID"
          }
        ]
      }
    },
    "/v3.0/VA/": {
      "get": {
        "responses": {
          "200": {
            "description": "Verify247 (Postal Address) verifies provided USA postal addresses and parses out to different address components.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "valid": {
                            "type": "string",
                            "description": "valid"
                          },
                          "addr1": {
                            "type": "string",
                            "description": "addr1"
                          },
                          "addr2": {
                            "type": "string",
                            "description": "addr2"
                          },
                          "predir": {
                            "type": "string",
                            "description": "predir"
                          },
                          "streetnum": {
                            "type": "string",
                            "description": "streetnum"
                          },
                          "postdir": {
                            "type": "string",
                            "description": "postdir"
                          },
                          "street": {
                            "type": "string",
                            "description": "street"
                          },
                          "street_suffix": {
                            "type": "string",
                            "description": "street_suffix"
                          },
                          "unit": {
                            "type": "string",
                            "description": "unit"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "zip": {
                            "type": "string",
                            "description": "zip"
                          },
                          "zip4": {
                            "type": "string",
                            "description": "zip4"
                          },
                          "PRUrbCode": {
                            "type": "string",
                            "description": "PRUrbCode"
                          },
                          "county": {
                            "type": "string",
                            "description": "county"
                          },
                          "FIPS": {
                            "type": "string",
                            "description": "FIPS"
                          },
                          "company_name": {
                            "type": "string",
                            "description": "company_name"
                          },
                          "congress_dist": {
                            "type": "string",
                            "description": "congress_dist"
                          },
                          "areacode": {
                            "type": "string",
                            "description": "areacode"
                          },
                          "timezone": {
                            "type": "string",
                            "description": "timezone"
                          },
                          "DPBC": {
                            "type": "string",
                            "description": "DPBC"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Verify247 (Postal Address)",
        "description": "Verify247 (Postal Address) verifies provided USA postal addresses and parses out to different address components.",
        "operationId": "Verify247-Postal-Address",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "address",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Address",
            "x-ms-summary": "Address"
          },
          {
            "name": "city",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "City",
            "x-ms-summary": "City"
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "State",
            "x-ms-summary": "State"
          },
          {
            "name": "zip",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Zip Code",
            "x-ms-summary": "Zip Code"
          }
        ]
      }
    },
    "/v3.0/VP/": {
      "get": {
        "responses": {
          "200": {
            "description": "Verify247 (Phone Number) will verify that each of the provided phone is active or not.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "active": {
                            "type": "string",
                            "description": "active"
                          },
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "confidence": {
                            "type": "string",
                            "description": "confidence"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Verify247 (Phone Number)",
        "description": "Verify247 (Phone Number) will verify that each of the provided phone is active or not.",
        "operationId": "Verify247-Phone-Number",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Phone Number",
            "x-ms-summary": "Phone Number"
          }
        ]
      }
    },
    "/v3.0/AP": {},
    "/v3.0/AE": {},
    "/v3.0/APR": {},
    "/v3.0/AER": {},
    "/v3.0/AR": {},
    "/v3.0/AN": {},
    "/v3.0/AG": {},
    "/v3.0/AZ": {},
    "/v3.0/AZR": {},
    "/v3.0/GI": {},
    "/v3.0/DC": {},
    "/v3.0/TPC": {},
    "/v3.0/AP/": {
      "get": {
        "responses": {
          "200": {
            "description": "Append247 (Phone) appends phone number for your contacts. You supply names and addresses of your contacts, and api will return their phone.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "firstname": {
                            "type": "string",
                            "description": "firstname"
                          },
                          "lastname": {
                            "type": "string",
                            "description": "lastname"
                          },
                          "address": {
                            "type": "string",
                            "description": "address"
                          },
                          "city": {
                            "type": "string",
                            "description": "city"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "zip": {
                            "type": "string",
                            "description": "zip"
                          },
                          "addtl": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "phone": {
                                  "type": "string",
                                  "description": "phone"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                }
                              }
                            },
                            "description": "addtl"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Append247 (Phone)",
        "description": "Append247 (Phone) appends phone number for your contacts. You supply names and addresses of your contacts, and api will return their phone.",
        "operationId": "Append247-Phone",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "firstname",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "First Name",
            "x-ms-summary": "First Name"
          },
          {
            "name": "lastname",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Last Name",
            "x-ms-summary": "Last Name"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Address",
            "x-ms-summary": "Address"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "City",
            "x-ms-summary": "City"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "State",
            "x-ms-summary": "State"
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Zip Code",
            "x-ms-summary": "Zip Code"
          }
        ]
      }
    },
    "/v3.0/AE/": {
      "get": {
        "responses": {
          "200": {
            "description": "Append247 (Email) appends email addresses for your contacts. You supply names and addresses or their phone numbers, and api will return their email addresses.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "fname": {
                            "type": "string",
                            "description": "fname"
                          },
                          "lname": {
                            "type": "string",
                            "description": "lname"
                          },
                          "address": {
                            "type": "string",
                            "description": "address"
                          },
                          "city": {
                            "type": "string",
                            "description": "city"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "zip": {
                            "type": "string",
                            "description": "zip"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Append247 (Email)",
        "description": "Append247 (Email) appends email addresses for your contacts. You supply names and addresses or their phone numbers, and api will return their email addresses.",
        "operationId": "Append247-Email",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "fname",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "First Name",
            "x-ms-summary": "First Name"
          },
          {
            "name": "lname",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Last Name",
            "x-ms-summary": "Last Name"
          },
          {
            "name": "address",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Address",
            "x-ms-summary": "Address"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "City",
            "x-ms-summary": "City"
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "State",
            "x-ms-summary": "State"
          },
          {
            "name": "zip",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Zip",
            "x-ms-summary": "Zip"
          }
        ]
      }
    },
    "/v3.0/APR/": {
      "get": {
        "responses": {
          "200": {
            "description": "Append247 (Reverse Phone) finds the name and address associated with a phone number.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "firstname": {
                            "type": "string",
                            "description": "firstname"
                          },
                          "lastname": {
                            "type": "string",
                            "description": "lastname"
                          },
                          "m_initial": {
                            "type": "string",
                            "description": "m_initial"
                          },
                          "suffix": {
                            "type": "string",
                            "description": "suffix"
                          },
                          "business": {
                            "type": "string",
                            "description": "business"
                          },
                          "address": {
                            "type": "string",
                            "description": "address"
                          },
                          "city": {
                            "type": "string",
                            "description": "city"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "zip": {
                            "type": "string",
                            "description": "zip"
                          },
                          "zip4": {
                            "type": "string",
                            "description": "zip4"
                          },
                          "dnc": {
                            "type": "string",
                            "description": "dnc"
                          },
                          "addrtype": {
                            "type": "string",
                            "description": "addrtype"
                          },
                          "gender": {
                            "type": "string",
                            "description": "gender"
                          },
                          "gender_prcnt": {
                            "type": "string",
                            "description": "gender_prcnt"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Append247 (Reverse Phone)",
        "operationId": "Append247-Reverse-Phone",
        "description": "Append247 (Reverse Phone) finds the name and address associated with a phone number.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "phone",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Phone",
            "x-ms-summary": "Phone"
          }
        ]
      }
    },
    "/v3.0/AER/": {
      "get": {
        "responses": {
          "200": {
            "description": "Append247 (Reverse Phone) finds the name and address associated with a phone number.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "firstname:": {
                            "type": "string",
                            "description": "firstname:"
                          },
                          "lastname:": {
                            "type": "string",
                            "description": "lastname:"
                          },
                          "m_initial:": {
                            "type": "string",
                            "description": "m_initial:"
                          },
                          "business": {
                            "type": "string",
                            "description": "business"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          },
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "phone_type": {
                            "type": "string",
                            "description": "phone_type"
                          },
                          "phone_telco_name": {
                            "type": "string",
                            "description": "phone_telco_name"
                          },
                          "address": {
                            "type": "string",
                            "description": "address"
                          },
                          "city": {
                            "type": "string",
                            "description": "city"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "zip": {
                            "type": "string",
                            "description": "zip"
                          },
                          "zip4": {
                            "type": "string",
                            "description": "zip4"
                          },
                          "house": {
                            "type": "string",
                            "description": "house"
                          },
                          "predir": {
                            "type": "string",
                            "description": "predir"
                          },
                          "street": {
                            "type": "string",
                            "description": "street"
                          },
                          "street_type": {
                            "type": "string",
                            "description": "street_type"
                          },
                          "postdir": {
                            "type": "string",
                            "description": "postdir"
                          },
                          "apt_type": {
                            "type": "string",
                            "description": "apt_type"
                          },
                          "aptno": {
                            "type": "string",
                            "description": "aptno"
                          }
                        }
                      },
                      "description": "results"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        },
        "summary": "Append247 (Reverse Email)",
        "operationId": "Append247-Reverse-Email",
        "description": "Append247 (Reverse Phone) finds the name and address associated with a phone number.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Data247.com API Key",
            "x-ms-summary": "Data247.com API Key"
          },
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Email ID",
            "x-ms-summary": "Email ID"
          }
        ]
      }
    },
    "/v3.0/AR/": {
      "get": {
        "responses": {
          "200": {
            "description": "Our Append247 (Profile Data) service gives you additional information about the people on your lead list, including Financial, Interests, and/or Household data.",
            "schema": {
              "type": "object",
              "properties": {
                "response": {
                  "properties": {
                    "200": {
                      "description": "Success"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Identity": {
                            "type": "object",
                            "properties": {
                              "Name": {
                                "type": "object",
                                "properties": {
                                  "FName": {
                                    "type": "string",
                                    "description": "FName"
                                  },
                                  "LName": {
                                    "type": "string",
                                    "description": "LName"
                                  },
                                  "MName": {
                                    "type": "string",
                                    "description": "MName"
                                  },
                                  "BusName": {
                                    "type": "string",
                                    "description": "BusName"
                                  }
                                },
                                "description": "Name"
                              },
                              "Address": {
                                "type": "object",
                                "properties": {
                                  "House": {
                                    "type": "string",
                                    "description": "House"
                                  },
                                  "PreDir": {
                                    "type": "string",
                                    "description": "PreDir"
                                  },
                                  "Street": {
                                    "type": "string",
                                    "description": "Street"
                                  },
                                  "StrType": {
                                    "type": "string",
                                    "description": "StrType"
                                  },
                                  "PostDir": {
                                    "type": "string",
                                    "description": "PostDir"
                                  },
                                  "AptType": {
                                    "type": "string",
                                    "description": "AptType"
                                  },
                                  "AptNbr": {
                                    "type": "string",
                                    "description": "AptNbr"
                                  },
                                  "City": {
                                    "type": "string",
                                    "description": "City"
                                  },
                                  "State": {
                                    "type": "string",
                                    "description": "State"
                                  },
                                  "Zip": {
                                    "type": "string",
                                    "description": "Zip"
                                  },
                                  "Z4": {
                                    "type": "string",
                                    "description": "Z4"
                                  },
                                  "DPC": {
                                    "type": "string",
                                    "description": "DPC"
                                  },
                                  "CRTE": {
                                    "type": "string",
                                    "description": "CRTE"
                                  },
                                  "CNTY": {
                                    "type": "string",
                                    "description": "CNTY"
                                  },
                                  "Z4Type": {
                                    "type": "string",
                                    "description": "Z4Type"
                                  },
                                  "DPV": {
                                    "type": "string",
                                    "description": "DPV"
                                  },
                                  "Deliverable": {
                                    "type": "string",
                                    "description": "Deliverable"
                                  },
                                  "ValDate": {
                                    "type": "string",
                                    "description": "ValDate"
                                  }
                                },
                                "description": "Address"
                              },
                              "Phones": {
                                "type": "object",
                                "properties": {
                                  "Phone": {
                                    "type": "object",
                                    "properties": {
                                      "Phone": {
                                        "type": "string",
                                        "description": "Phone"
                                      },
                                      "PhoneType": {
                                        "type": "string",
                                        "description": "PhoneType"
                                      },
                                      "DID": {
                                        "type": "string",
                                        "description": "DID"
                                      },
                                      "RecType": {
                                        "type": "string",
                                        "description": "RecType"
                                      },
                                      "IDate": {
                                        "type": "string",
                                        "description": "IDate"
                                      },
                                      "ODate": {
                                        "type": "string",
                                        "description": "ODate"
                                      },
                                      "TelcoName": {
                                        "type": "string",
                                        "description": "TelcoName"
                                      },
                                      "PHV": {
                                        "type": "string",
                                        "description": "PHV"
                                      },
                                      "DACode": {
                                        "type": "string",
                                        "description": "DACode"
                                      },
                                      "Score": {
                                        "type": "string",
                                        "description": "Score"
                                      },
                                      "Category": {
                                        "type": "string",
                                        "description": "Category"
                                      }
                                    },
                                    "description": "Phone"
                                  },
                                  "Phone2": {
                                    "type": "object",
                                    "properties": {
                                      "Phone": {
                                        "type": "string",
                                        "description": "Phone"
                                      },
                                      "PhoneType": {
                                        "type": "string",
                                        "description": "PhoneType"
                                      },
                                      "DID": {
                                        "type": "string",
                                        "description": "DID"
                                      },
                                      "RecType": {
                                        "type": "string",
                                        "description": "RecType"
                                      },
                                      "IDate": {
                                        "type": "string",
                                        "description": "IDate"
                                      },
                                      "ODate": {
                                        "type": "string",
                                        "description": "ODate"
                                      },
                                      "TelcoName": {
                                        "type": "string",
                                        "description": "TelcoName"
                                      },
                                      "PHV": {
                                        "type": "string",
                                        "description": "PHV"
                                      },
                                      "DACode": {
                                        "type": "string",
                                        "description": "DACode"
                                      },
                                      "Score": {
                                        "type": "string",
                                        "description": "Score"
                                      },
                                      "Category": {
                                        "type": "string",
                                        "description": "Category"
                                      }
                                    },
                                    "description": "Phone2"
                                  },
                                  "Phone3": {
                                    "type": "object",
                                    "properties": {
                                      "Phone": {
                                        "type": "string",
                                        "description": "Phone"
                                      },
                                      "PhoneType": {
                                        "type": "string",
                                        "description": "PhoneType"
                                      },
                                      "DID": {
                                        "type": "string",
                                        "description": "DID"
                                      },
                                      "RecType": {
                                        "type": "string",
                                        "description": "RecType"
                                      },
                                      "IDate": {
                                        "type": "string",
                                        "description": "IDate"
                                      },
                                      "ODate": {
                                        "type": "string",
                                        "description": "ODate"
                                      },
                                      "TelcoName": {
                                        "type": "string",
                                        "description": "TelcoName"
                                      },
                                      "PHV": {
                                        "type": "string",
                                        "description": "PHV"
                                      },
                                      "DACode": {
                                        "type": "string",
                                        "description": "DACode"
                                      },
                                      "Score": {
                                        "type": "string",
                                        "description": "Score"
                                      },
                                      "Category": {
                                        "type": "string",
                                        "description": "Category"
                                      }
                                    },
                                    "description": "Phone3"
                                  }
                                },
                                "description": "Phones"
                              },
                              "Emails": {
                                "type": "object",
                                "properties": {
                                  "Email": {
                                    "type": "object",
                                    "properties": {
                                      "Email": {
                                        "type": "string",
                                        "description": "Email"
                                      },
                                      "Suppression": {
                                        "type": "string",
                                        "description": "Suppression"
                                      },
                                      "Score": {
                                        "type": "string",
                                        "description": "Score"
                                      },
                                      "Category": {
                                        "type": "string",
                                        "description": "Category"
                                      },
                                      "Url": {
                                        "type": "string",
                                        "description": "Url"
                                      },
                                      "ODate": {
                                        "type": "string",
                                        "description": "ODate"
                                      }
                                    },
                                    "description": "Email"
                                  },
                                  "Email2": {
                                    "type": "object",
                                    "properties": {
                                      "Email": {
                                        "type": "string",
                                        "description": "Email"
                                      },
                                      "Suppression": {
                                        "type": "string",
                                        "description": "Suppression"
                                      },
                                      "Score": {
                                        "type": "string",
                                        "description": "Score"
                                      },
                                      "Category": {
                                        "type": "string",
                                        "description": "Category"
                                      },
                                      "Url": {
                                        "type": "string",
                                        "description": "Url"
                                      },
                                      "ODate": {
                                        "type": "string",
                                        "description": "ODate"
                                      }
                                    },
                                    "description": "Email2"
                                  },
                                  "Email3": {
                                    "type": "object",
                                    "properties": {
                                      "Email": {
                                        "type": "string",
                                        "description": "Email"
                                      },
                                      "Suppression": {
                                        "type": "string",
                                        "description": "Suppression"
                                      },
                                      "Score": {
                                        "type": "string",
                                        "description": "Score"
                                      },
                                      "Category": {
                                        "type": "string",
                                        "description": "Category"
                                      },
                                      "Url": {
                                        "type": "string",
                                        "description": "Url"
                                      },
                                      "ODate": {
                                        "type": "string",
                                        "description": "ODate"
                                      }
                                    },
                                    "description": "Email3"
                                  }
                                },
                                "description": "Emails"
                              }
                            },
                            "description": "Identity"
                          },
                          "PropertyAttributes": {
                            "type": "object",
                            "properties": {
                              "IDS": {
                                "type": "object",
                                "properties": {
                                  "PID": {
                                    "type": "string",
                                    "description": "PID"
                                  },
                                  "AID": {
                                    "type": "string",
                                    "description": "AID"
                                  }
                                },
                                "description": "IDS"
                              },
                              "Location": {
                                "type": "object",
                                "properties": {
                                  "FIPSCD": {
                                    "type": "string",
                                    "description": "FIPSCD"
                                  },
                                  "PROP_CENSUSTRACT": {
                                    "type": "string",
                                    "description": "PROP_CENSUSTRACT"
                                  },
                                  "PROP_MUNINAME": {
                                    "type": "string",
                                    "description": "PROP_MUNINAME"
                                  },
                                  "PROP_TOWNSHIPCD": {
                                    "type": "string",
                                    "description": "PROP_TOWNSHIPCD"
                                  },
                                  "PROP_SUBDIVISION": {
                                    "type": "string",
                                    "description": "PROP_SUBDIVISION"
                                  },
                                  "PROP_ZONING": {
                                    "type": "string",
                                    "description": "PROP_ZONING"
                                  },
                                  "PROP_RANGE": {
                                    "type": "string",
                                    "description": "PROP_RANGE"
                                  },
                                  "PROP_SECTION": {
                                    "type": "string",
                                    "description": "PROP_SECTION"
                                  },
                                  "PROP_LATITUDE": {
                                    "type": "string",
                                    "description": "PROP_LATITUDE"
                                  },
                                  "PROP_LONGITUDE": {
                                    "type": "string",
                                    "description": "PROP_LONGITUDE"
                                  },
                                  "PROP_LANDUSE": {
                                    "type": "string",
                                    "description": "PROP_LANDUSE"
                                  },
                                  "PROP_APN": {
                                    "type": "string",
                                    "description": "PROP_APN"
                                  },
                                  "PROP_APNSEQNBR": {
                                    "type": "string",
                                    "description": "PROP_APNSEQNBR"
                                  }
                                },
                                "description": "Location"
                              },
                              "AdditionalInformation": {
                                "type": "object",
                                "properties": {
                                  "PROP_OWNEROCC": {
                                    "type": "string",
                                    "description": "PROP_OWNEROCC"
                                  },
                                  "PROP_ADDRIND": {
                                    "type": "string",
                                    "description": "PROP_ADDRIND"
                                  },
                                  "PROP_CORPIND": {
                                    "type": "string",
                                    "description": "PROP_CORPIND"
                                  },
                                  "PROP_RESCD": {
                                    "type": "string",
                                    "description": "PROP_RESCD"
                                  },
                                  "PROP_IND": {
                                    "type": "string",
                                    "description": "PROP_IND"
                                  },
                                  "PROP_MOBHOME": {
                                    "type": "string",
                                    "description": "PROP_MOBHOME"
                                  },
                                  "PROP_NRBBLD": {
                                    "type": "string",
                                    "description": "PROP_NRBBLD"
                                  },
                                  "PROP_STYLE": {
                                    "type": "string",
                                    "description": "PROP_STYLE"
                                  },
                                  "PROP_STORIESCD": {
                                    "type": "string",
                                    "description": "PROP_STORIESCD"
                                  },
                                  "PROP_STORIESNBR": {
                                    "type": "string",
                                    "description": "PROP_STORIESNBR"
                                  },
                                  "PROP_APTNBR": {
                                    "type": "string",
                                    "description": "PROP_APTNBR"
                                  },
                                  "PROP_QLTY": {
                                    "type": "string",
                                    "description": "PROP_QLTY"
                                  },
                                  "PROP_BLDGCD": {
                                    "type": "string",
                                    "description": "PROP_BLDGCD"
                                  },
                                  "PROP_BLDGIMPCD": {
                                    "type": "string",
                                    "description": "PROP_BLDGIMPCD"
                                  },
                                  "PROP_COND": {
                                    "type": "string",
                                    "description": "PROP_COND"
                                  },
                                  "PROP_CNSTRTYPE": {
                                    "type": "string",
                                    "description": "PROP_CNSTRTYPE"
                                  },
                                  "PROP_EXTNW": {
                                    "type": "string",
                                    "description": "PROP_EXTNW"
                                  },
                                  "PROP_VALCALC": {
                                    "type": "string",
                                    "description": "PROP_VALCALC"
                                  },
                                  "PROP_VAL_CALCIND": {
                                    "type": "string",
                                    "description": "PROP_VAL_CALCIND"
                                  },
                                  "PROP_LAND_VALCALC": {
                                    "type": "string",
                                    "description": "PROP_LAND_VALCALC"
                                  },
                                  "PROP_LAND_VALCALC_IND": {
                                    "type": "string",
                                    "description": "PROP_LAND_VALCALC_IND"
                                  },
                                  "PROP_IMP_VALCALC": {
                                    "type": "string",
                                    "description": "PROP_IMP_VALCALC"
                                  },
                                  "PROP_IMP_VALCALC_IND": {
                                    "type": "string",
                                    "description": "PROP_IMP_VALCALC_IND"
                                  },
                                  "PROP_ASSED_VAL": {
                                    "type": "string",
                                    "description": "PROP_ASSED_VAL"
                                  },
                                  "PROP_ASSED_LANDVAL": {
                                    "type": "string",
                                    "description": "PROP_ASSED_LANDVAL"
                                  },
                                  "PROP_ASSED_IMPVAL": {
                                    "type": "string",
                                    "description": "PROP_ASSED_IMPVAL"
                                  },
                                  "PROP_MRKTVAL": {
                                    "type": "string",
                                    "description": "PROP_MRKTVAL"
                                  },
                                  "PROP_MRKT_LANDVAL": {
                                    "type": "string",
                                    "description": "PROP_MRKT_LANDVAL"
                                  },
                                  "PROP_MRKT_IMPVAL": {
                                    "type": "string",
                                    "description": "PROP_MRKT_IMPVAL"
                                  },
                                  "PROP_APPRAISED_VAL": {
                                    "type": "string",
                                    "description": "PROP_APPRAISED_VAL"
                                  },
                                  "PROP_APPRAISED_LANDVAL": {
                                    "type": "string",
                                    "description": "PROP_APPRAISED_LANDVAL"
                                  },
                                  "PROP_APPRAISED_IMPVAL": {
                                    "type": "string",
                                    "description": "PROP_APPRAISED_IMPVAL"
                                  }
                                },
                                "description": "AdditionalInformation"
                              },
                              "Attributes": {
                                "type": "object",
                                "properties": {
                                  "PROP_VIEW": {
                                    "type": "string",
                                    "description": "PROP_VIEW"
                                  },
                                  "PROP_LCTN_INFL": {
                                    "type": "string",
                                    "description": "PROP_LCTN_INFL"
                                  },
                                  "PROP_FRONTFT": {
                                    "type": "string",
                                    "description": "PROP_FRONTFT"
                                  },
                                  "PROP_DEPTHFT": {
                                    "type": "string",
                                    "description": "PROP_DEPTHFT"
                                  },
                                  "PROP_ACRES": {
                                    "type": "string",
                                    "description": "PROP_ACRES"
                                  },
                                  "PROP_LANDSQFT": {
                                    "type": "string",
                                    "description": "PROP_LANDSQFT"
                                  },
                                  "PROP_YRBLD": {
                                    "type": "string",
                                    "description": "PROP_YRBLD"
                                  },
                                  "PROP_EFFYRBLD": {
                                    "type": "string",
                                    "description": "PROP_EFFYRBLD"
                                  },
                                  "PROP_UNVBLDSQFT": {
                                    "type": "string",
                                    "description": "PROP_UNVBLDSQFT"
                                  },
                                  "PROP_BLDSQFTIND": {
                                    "type": "string",
                                    "description": "PROP_BLDSQFTIND"
                                  },
                                  "PROP_BLDSQFT": {
                                    "type": "string",
                                    "description": "PROP_BLDSQFT"
                                  },
                                  "PROP_LIVINGSQFT": {
                                    "type": "string",
                                    "description": "PROP_LIVINGSQFT"
                                  },
                                  "PROP_GRDFLRSQFT": {
                                    "type": "string",
                                    "description": "PROP_GRDFLRSQFT"
                                  },
                                  "PROP_GROSSSQFT": {
                                    "type": "string",
                                    "description": "PROP_GROSSSQFT"
                                  },
                                  "PROP_ADJGROSSSQFT": {
                                    "type": "string",
                                    "description": "PROP_ADJGROSSSQFT"
                                  },
                                  "PROP_BSMTSQFT": {
                                    "type": "string",
                                    "description": "PROP_BSMTSQFT"
                                  },
                                  "PROP_PRKGSQFT": {
                                    "type": "string",
                                    "description": "PROP_PRKGSQFT"
                                  },
                                  "PROP_RMS": {
                                    "type": "string",
                                    "description": "PROP_RMS"
                                  },
                                  "PROP_BEDRMS": {
                                    "type": "string",
                                    "description": "PROP_BEDRMS"
                                  },
                                  "PROP_BATHSCALC": {
                                    "type": "string",
                                    "description": "PROP_BATHSCALC"
                                  },
                                  "PROP_BATHS": {
                                    "type": "string",
                                    "description": "PROP_BATHS"
                                  },
                                  "PROP_FULLBATHS": {
                                    "type": "string",
                                    "description": "PROP_FULLBATHS"
                                  },
                                  "PROP_HALFBATHS": {
                                    "type": "string",
                                    "description": "PROP_HALFBATHS"
                                  },
                                  "PROP_1QTRBATHS": {
                                    "type": "string",
                                    "description": "PROP_1QTRBATHS"
                                  },
                                  "PROP_3QTRBATHS": {
                                    "type": "string",
                                    "description": "PROP_3QTRBATHS"
                                  },
                                  "PROP_BATHFIXS": {
                                    "type": "string",
                                    "description": "PROP_BATHFIXS"
                                  },
                                  "PROP_AC": {
                                    "type": "string",
                                    "description": "PROP_AC"
                                  },
                                  "PROP_BSMTF": {
                                    "type": "string",
                                    "description": "PROP_BSMTF"
                                  },
                                  "PROP_FRPL": {
                                    "type": "string",
                                    "description": "PROP_FRPL"
                                  },
                                  "PROP_FRPLNBR": {
                                    "type": "string",
                                    "description": "PROP_FRPLNBR"
                                  },
                                  "PROP_FRPLTYPE": {
                                    "type": "string",
                                    "description": "PROP_FRPLTYPE"
                                  },
                                  "PROP_FND": {
                                    "type": "string",
                                    "description": "PROP_FND"
                                  },
                                  "PROP_FLR": {
                                    "type": "string",
                                    "description": "PROP_FLR"
                                  },
                                  "PROP_FRAME": {
                                    "type": "string",
                                    "description": "PROP_FRAME"
                                  },
                                  "PROP_GAR": {
                                    "type": "string",
                                    "description": "PROP_GAR"
                                  },
                                  "PROP_HEAT": {
                                    "type": "string",
                                    "description": "PROP_HEAT"
                                  },
                                  "PROP_PRKGSPACES": {
                                    "type": "string",
                                    "description": "PROP_PRKGSPACES"
                                  },
                                  "PROP_PRKGTYPE": {
                                    "type": "string",
                                    "description": "PROP_PRKGTYPE"
                                  },
                                  "PROP_POOL": {
                                    "type": "string",
                                    "description": "PROP_POOL"
                                  },
                                  "PROP_POOLCD": {
                                    "type": "string",
                                    "description": "PROP_POOLCD"
                                  },
                                  "PROP_ROOFCOVER": {
                                    "type": "string",
                                    "description": "PROP_ROOFCOVER"
                                  },
                                  "PROP_ROOFTYPE": {
                                    "type": "string",
                                    "description": "PROP_ROOFTYPE"
                                  },
                                  "PROP_ENERGY": {
                                    "type": "string",
                                    "description": "PROP_ENERGY"
                                  },
                                  "PROP_FUEL": {
                                    "type": "string",
                                    "description": "PROP_FUEL"
                                  },
                                  "PROP_SEWER": {
                                    "type": "string",
                                    "description": "PROP_SEWER"
                                  },
                                  "PROP_WATER": {
                                    "type": "string",
                                    "description": "PROP_WATER"
                                  }
                                },
                                "description": "Attributes"
                              },
                              "AssessorDeed": {
                                "type": "object",
                                "properties": {
                                  "PROP_HOMESTEAD": {
                                    "type": "string",
                                    "description": "PROP_HOMESTEAD"
                                  },
                                  "PROP_XMTVET": {
                                    "type": "string",
                                    "description": "PROP_XMTVET"
                                  },
                                  "PROP_XMT_DISABLED": {
                                    "type": "string",
                                    "description": "PROP_XMT_DISABLED"
                                  },
                                  "PROP_TAXAMT": {
                                    "type": "string",
                                    "description": "PROP_TAXAMT"
                                  },
                                  "PROP_TAXYR": {
                                    "type": "string",
                                    "description": "PROP_TAXYR"
                                  },
                                  "PROP_DOCYR": {
                                    "type": "string",
                                    "description": "PROP_DOCYR"
                                  },
                                  "PROP_SALESDEEDCD": {
                                    "type": "string",
                                    "description": "PROP_SALESDEEDCD"
                                  },
                                  "PROP_RECDATE": {
                                    "type": "string",
                                    "description": "PROP_RECDATE"
                                  },
                                  "PROP_SELLERNAME": {
                                    "type": "string",
                                    "description": "PROP_SELLERNAME"
                                  },
                                  "PROP_SALEDATE": {
                                    "type": "string",
                                    "description": "PROP_SALEDATE"
                                  },
                                  "PROP_SALEAMT": {
                                    "type": "string",
                                    "description": "PROP_SALEAMT"
                                  },
                                  "PROP_SALECD": {
                                    "type": "string",
                                    "description": "PROP_SALECD"
                                  },
                                  "PROP_APNCD": {
                                    "type": "string",
                                    "description": "PROP_APNCD"
                                  },
                                  "PROP_APNCNT": {
                                    "type": "string",
                                    "description": "PROP_APNCNT"
                                  },
                                  "PROP_ASMTYR": {
                                    "type": "string",
                                    "description": "PROP_ASMTYR"
                                  },
                                  "PROP_SALESTRANSCD": {
                                    "type": "string",
                                    "description": "PROP_SALESTRANSCD"
                                  }
                                },
                                "description": "AssessorDeed"
                              },
                              "PriorSale": {
                                "type": "object",
                                "properties": {
                                  "PROP_RECDATE_PRIOR": {
                                    "type": "string",
                                    "description": "PROP_RECDATE_PRIOR"
                                  },
                                  "PROP_SALEDATE_PRIOR": {
                                    "type": "string",
                                    "description": "PROP_SALEDATE_PRIOR"
                                  },
                                  "PROP_SALEAMT_PRIOR": {
                                    "type": "string",
                                    "description": "PROP_SALEAMT_PRIOR"
                                  },
                                  "PROP_SALECD_PRIOR": {
                                    "type": "string",
                                    "description": "PROP_SALECD_PRIOR"
                                  },
                                  "PROP_APNCD_PRIOR": {
                                    "type": "string",
                                    "description": "PROP_APNCD_PRIOR"
                                  },
                                  "PROP_DEEDCD_PRIOR": {
                                    "type": "string",
                                    "description": "PROP_DEEDCD_PRIOR"
                                  },
                                  "PROP_DOCYR_PRIOR": {
                                    "type": "string",
                                    "description": "PROP_DOCYR_PRIOR"
                                  },
                                  "PROP_DEEDTYPE_PRIOR": {
                                    "type": "string",
                                    "description": "PROP_DEEDTYPE_PRIOR"
                                  },
                                  "PROP_SALESTRANSCD_PRIOR": {
                                    "type": "string",
                                    "description": "PROP_SALESTRANSCD_PRIOR"
                                  },
                                  "PROP_MTGAMT_PRIOR": {
                                    "type": "string",
                                    "description": "PROP_MTGAMT_PRIOR"
                                  }
                                },
                                "description": "PriorSale"
                              },
                              "Mortgage": {
                                "type": "object",
                                "properties": {
                                  "PROP_MTGINTCD": {
                                    "type": "string",
                                    "description": "PROP_MTGINTCD"
                                  },
                                  "PROP_OWNERCD": {
                                    "type": "string",
                                    "description": "PROP_OWNERCD"
                                  },
                                  "PROP_SELLCARRYBACK": {
                                    "type": "string",
                                    "description": "PROP_SELLCARRYBACK"
                                  },
                                  "PROP_TITTLECOMPANY": {
                                    "type": "string",
                                    "description": "PROP_TITTLECOMPANY"
                                  },
                                  "PROP_LOANTOVAL": {
                                    "type": "string",
                                    "description": "PROP_LOANTOVAL"
                                  },
                                  "PROP_MTGAMT": {
                                    "type": "string",
                                    "description": "PROP_MTGAMT"
                                  },
                                  "PROP_MTGDATE": {
                                    "type": "string",
                                    "description": "PROP_MTGDATE"
                                  },
                                  "PROP_MTGLOANCD": {
                                    "type": "string",
                                    "description": "PROP_MTGLOANCD"
                                  },
                                  "PROP_MTGDEEDCD": {
                                    "type": "string",
                                    "description": "PROP_MTGDEEDCD"
                                  },
                                  "PROP_MTGTERM": {
                                    "type": "string",
                                    "description": "PROP_MTGTERM"
                                  },
                                  "PROP_MTGDUEDATE": {
                                    "type": "string",
                                    "description": "PROP_MTGDUEDATE"
                                  },
                                  "PROP_MTGASSUMPTIONAMT": {
                                    "type": "string",
                                    "description": "PROP_MTGASSUMPTIONAMT"
                                  },
                                  "PROP_LENDERNAME": {
                                    "type": "string",
                                    "description": "PROP_LENDERNAME"
                                  },
                                  "PROP_MTGREFICD": {
                                    "type": "string",
                                    "description": "PROP_MTGREFICD"
                                  },
                                  "PROP_RMSEQUITYCD": {
                                    "type": "string",
                                    "description": "PROP_RMSEQUITYCD"
                                  },
                                  "PROP_MTGINTRATE": {
                                    "type": "string",
                                    "description": "PROP_MTGINTRATE"
                                  },
                                  "PROP_MTGINTRATETYPE": {
                                    "type": "string",
                                    "description": "PROP_MTGINTRATETYPE"
                                  },
                                  "PROP_MTGAMT2": {
                                    "type": "string",
                                    "description": "PROP_MTGAMT2"
                                  },
                                  "PROP_MTGDATE2": {
                                    "type": "string",
                                    "description": "PROP_MTGDATE2"
                                  },
                                  "PROP_MTGLOANCD2": {
                                    "type": "string",
                                    "description": "PROP_MTGLOANCD2"
                                  },
                                  "PROP_MTGDEEDCD2": {
                                    "type": "string",
                                    "description": "PROP_MTGDEEDCD2"
                                  },
                                  "PROP_MTGTERM2": {
                                    "type": "string",
                                    "description": "PROP_MTGTERM2"
                                  },
                                  "PROP_MTGDUEDATE2": {
                                    "type": "string",
                                    "description": "PROP_MTGDUEDATE2"
                                  },
                                  "PROP_MTGASSUMPTIONAMT2": {
                                    "type": "string",
                                    "description": "PROP_MTGASSUMPTIONAMT2"
                                  },
                                  "PROP_LENDERNAME2": {
                                    "type": "string",
                                    "description": "PROP_LENDERNAME2"
                                  },
                                  "PROP_MTGREFICD2": {
                                    "type": "string",
                                    "description": "PROP_MTGREFICD2"
                                  },
                                  "PROP_RMSEQUITYCD2": {
                                    "type": "string",
                                    "description": "PROP_RMSEQUITYCD2"
                                  },
                                  "PROP_MTGINTRATE2": {
                                    "type": "string",
                                    "description": "PROP_MTGINTRATE2"
                                  },
                                  "PROP_MTGINTRATETYPE2": {
                                    "type": "string",
                                    "description": "PROP_MTGINTRATETYPE2"
                                  },
                                  "PROP_MTGAMT3": {
                                    "type": "string",
                                    "description": "PROP_MTGAMT3"
                                  },
                                  "PROP_MTGDATE3": {
                                    "type": "string",
                                    "description": "PROP_MTGDATE3"
                                  },
                                  "PROP_MTGLOANCD3": {
                                    "type": "string",
                                    "description": "PROP_MTGLOANCD3"
                                  },
                                  "PROP_MTGDEEDCD3": {
                                    "type": "string",
                                    "description": "PROP_MTGDEEDCD3"
                                  },
                                  "PROP_MTGTERM3": {
                                    "type": "string",
                                    "description": "PROP_MTGTERM3"
                                  },
                                  "PROP_MTGDUEDATE3": {
                                    "type": "string",
                                    "description": "PROP_MTGDUEDATE3"
                                  },
                                  "PROP_MTGASSUMPTIONAMT3": {
                                    "type": "string",
                                    "description": "PROP_MTGASSUMPTIONAMT3"
                                  },
                                  "PROP_LENDERNAME3": {
                                    "type": "string",
                                    "description": "PROP_LENDERNAME3"
                                  },
                                  "PROP_MTGREFICD3": {
                                    "type": "string",
                                    "description": "PROP_MTGREFICD3"
                                  },
                                  "PROP_RMSEQUITYCD3": {
                                    "type": "string",
                                    "description": "PROP_RMSEQUITYCD3"
                                  },
                                  "PROP_MTGINTRATE3": {
                                    "type": "string",
                                    "description": "PROP_MTGINTRATE3"
                                  },
                                  "PROP_MTGINTRATETYPE3": {
                                    "type": "string",
                                    "description": "PROP_MTGINTRATETYPE3"
                                  }
                                },
                                "description": "Mortgage"
                              }
                            },
                            "description": "PropertyAttributes"
                          },
                          "DemographicAttributes": {
                            "type": "object",
                            "properties": {
                              "IDS": {
                                "type": "object",
                                "properties": {
                                  "PID": {
                                    "type": "string",
                                    "description": "PID"
                                  },
                                  "AID": {
                                    "type": "string",
                                    "description": "AID"
                                  },
                                  "HHID": {
                                    "type": "string",
                                    "description": "HHID"
                                  }
                                },
                                "description": "IDS"
                              },
                              "Demographics": {
                                "type": "object",
                                "properties": {
                                  "Gender": {
                                    "type": "string",
                                    "description": "Gender"
                                  },
                                  "Age": {
                                    "type": "string",
                                    "description": "Age"
                                  },
                                  "MedYrBld": {
                                    "type": "string",
                                    "description": "MedYrBld"
                                  },
                                  "LOR": {
                                    "type": "string",
                                    "description": "LOR"
                                  },
                                  "Homeowner": {
                                    "type": "string",
                                    "description": "Homeowner"
                                  },
                                  "EHI": {
                                    "type": "string",
                                    "description": "EHI"
                                  },
                                  "DwellType": {
                                    "type": "string",
                                    "description": "DwellType"
                                  },
                                  "Married": {
                                    "type": "string",
                                    "description": "Married"
                                  },
                                  "MobHome": {
                                    "type": "string",
                                    "description": "MobHome"
                                  },
                                  "Pool": {
                                    "type": "string",
                                    "description": "Pool"
                                  },
                                  "FirePl": {
                                    "type": "string",
                                    "description": "FirePl"
                                  },
                                  "SglParent": {
                                    "type": "string",
                                    "description": "SglParent"
                                  },
                                  "HHNBRSR": {
                                    "type": "string",
                                    "description": "HHNBRSR"
                                  },
                                  "CreditCard": {
                                    "type": "string",
                                    "description": "CreditCard"
                                  },
                                  "WealthScr": {
                                    "type": "string",
                                    "description": "WealthScr"
                                  },
                                  "CharityDnr": {
                                    "type": "string",
                                    "description": "CharityDnr"
                                  },
                                  "MrktHomeVal": {
                                    "type": "string",
                                    "description": "MrktHomeVal"
                                  },
                                  "Education": {
                                    "type": "string",
                                    "description": "Education"
                                  },
                                  "Ethnicity": {
                                    "type": "string",
                                    "description": "Ethnicity"
                                  },
                                  "ChildCd": {
                                    "type": "string",
                                    "description": "ChildCd"
                                  },
                                  "ChildAgeCd": {
                                    "type": "string",
                                    "description": "ChildAgeCd"
                                  },
                                  "ChildNbrCd": {
                                    "type": "string",
                                    "description": "ChildNbrCd"
                                  },
                                  "VehLux": {
                                    "type": "string",
                                    "description": "VehLux"
                                  },
                                  "VehSuv": {
                                    "type": "string",
                                    "description": "VehSuv"
                                  },
                                  "VehTrk": {
[...]
