{
  "swagger": "2.0",
  "info": {
    "title": "Google Cloud Translation",
    "description": "Cloud Translation enables your websites and applications to dynamically translate text programmatically through an API. Translation uses a Google pre-trained or a custom machine learning model to translate text. By default, Translation uses a Google pre-trained Neural Machine Translation (NMT) model, which Google updates on semi-regular cadence when more training data or better techniques become available.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "translation.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/language/translate/v2": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "translations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "translatedText": {
                            "type": "string",
                            "description": "The translated text.",
                            "title": "Translated Text"
                          },
                          "detectedSourceLanguage": {
                            "type": "string",
                            "description": "The source language detected.",
                            "title": "Detected Source Language"
                          },
                          "model": {
                            "type": "string",
                            "description": "The translation model.",
                            "title": "Model"
                          }
                        }
                      },
                      "title": "Translations"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Translate text",
        "description": "Translates input text, returning translated text.",
        "operationId": "TextTranslate",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary":"Text",
            "description": "The input text to translate. Provide an array of strings to translate multiple phrases. The maximum number of strings is 128.",
            "required": true,
            "type": "string"
          },
          {
            "name": "target",
            "in": "query",
            "x-ms-summary":"Target",
            "description": "The language to use for translation of the input text, set to one of the language codes listed in Language Support.",
            "required": true,
            "type": "string"
          },
          {
            "name": "format",
            "in": "query",
            "x-ms-summary":"Format",
            "description": "The format of the source text, in either HTML (default) or plain-text. A value of html indicates HTML and a value of text indicates plain-text.",
            "required": false,
            "type": "string",
            "default": "text",
            "enum": [
              "html",
              "text"
            ]
          },
          {
            "name": "source",
            "in": "query",
            "x-ms-summary":"Source",
            "description": "The language of the source text, set to one of the language codes listed in Language Support. If the source language is not specified, the API will attempt to detect the source language automatically and return it within the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "model",
            "in": "query",
            "x-ms-summary":"Model",
            "description": "The translation model. Cloud Translation - Basic offers only the nmt Neural Machine Translation (NMT) model. If the model is base, the request is translated by using the NMT model.",
            "required": false,
            "type": "string",
            "default": "base"
          }
        ]
      }
    },
    "/language/translate/v2/detect": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "detections": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "isReliable": {
                              "type": "boolean",
                              "description": "Whether the translation is reliable.",
                              "title": "Is Reliable"
                            },
                            "language": {
                              "type": "string",
                              "description": "The detected language.",
                              "title": "Language"
                            },
                            "confidence": {
                              "type": "number",
                              "format": "float",
                              "description": "The confidence of the detection.",
                              "title": "Confidence"
                            }
                          }
                        }
                      },
                      "title": "Detections"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Detect language",
        "description": "Detects the language of text within a request.",
        "operationId": "LanguageDetect",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary":"Text",
            "description": "The input text to translate. Provide an array of strings to translate multiple phrases. The maximum number of strings is 128.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/language/translate/v2/languages": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "languages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "language": {
                            "type": "string",
                            "description": "The language code.",
                            "title": "Language"
                          },
                          "name": {
                            "type": "string",
                            "description": "The language name.",
                            "title": "nNme"
                          }
                        }
                      },
                      "title": "Languages"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get language list",
        "description": "Returns a list of supported languages for translation.",
        "operationId": "LanguageGet",
        "parameters": [
          {
            "name": "target",
            "in": "query",
            "x-ms-summary":"Target",
            "description": "The language to use for translation of the input text, set to one of the language codes listed in Language Support.",
            "required": false,
            "type": "string"
          },
          {
            "name": "model",
            "in": "query",
            "x-ms-summary":"Model",
            "description": "The translation model. Cloud Translation - Basic offers only the nmt Neural Machine Translation (NMT) model. If the model is base, the request is translated by using the NMT model.",
            "required": false,
            "type": "string",
            "default": "nmt"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "tokenUrl": "https://accounts.google.com/o/oauth2/token",
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": "https://www.googleapis.com/auth/cloud-translation"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "https://www.googleapis.com/auth/cloud-translation"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://cloud.google.com/translate"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://policies.google.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}