{
    "swagger": "2.0",
    "info": {
      "x-ms-deployment-version": "1.0.0",
      "version": "1.0",
      "title": "DocuSign",
      "description": "DocuSign helps organizations connect and automate how they prepare, sign, act on, and manage agreements. Today, more than half a million customers and hundreds of millions of users in over 180 countries use DocuSign to accelerate the process of doing business and to simplify people's lives. Connect to DocuSign to manage and automate your system of agreement.",
      "x-ms-api-annotation": {
        "status": "Production"
      },
      "contact": {
        "name": "docusign",
        "url": "https://support.docusign.com"
      }
    },
    "x-ms-docs": [
      {
        "url": "https://ms.flow.microsoft.com/en-us/blog/docusign-streamline-process/",
        "description": "Streamline document signing and on-boarding processes"
      }
    ],
    "host": "www.docusign.net",
    "basePath": "/restapi/v2",
    "schemes": [
      "https"
    ],
    "paths": {
      "/accounts/{accountId}/connect": {
        "post": {
          "summary": "When an envelope status changes (Connect)",
          "description": "Triggers a new flow when an envelope status changes.",
          "operationId": "CreateHookEnvelope",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "body",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/WebhookRequest"
              }
            }
          ],
          "responses": {
            "201": {
              "description": "default",
              "schema": {}
            }
          },
          "deprecated": false,
          "security": [
            {
              "Authorization": []
            }
          ],
          "x-ms-trigger": "single",
          "x-ms-trigger-hint": "To see it work now, send an envelope.",
          "x-ms-visibility": "important",
          "x-ms-no-generic-test": true
        },
        "x-ms-notification-content": {
          "description": "Details for Webhook",
          "schema": {
            "$ref": "#/definitions/WebhookEnvelopeResponse"
          }
        }
      },
      "/accounts/{accountId}/connect/{connectId}": {
        "delete": {
          "summary": "Delete hook",
          "description": "Delete a hook.",
          "operationId": "DeleteHook",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "connectId",
              "in": "path",
              "required": true,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK"
            }
          },
          "deprecated": false,
          "security": [
            {
              "Authorization": []
            }
          ],
          "x-ms-visibility": "internal",
          "x-ms-no-generic-test": true
        }
      },
      "/webhook_response": {
        "post": {
          "operationId": "WebhookResponse",
          "parameters": [
            {
              "name": "logicAppsUri",
              "type": "string",
              "in": "query",
              "required": false
            }
          ],
          "responses": {
            "default": {
              "description": "OK"
            }
          },
          "security": [],
          "x-ms-visibility": "internal",
          "x-ms-no-generic-test": true
        }
      },
      "/accounts/{accountId}/envelopes/{envelopeId}/documents/{documentId}": {
        "get": {
          "summary": "Get envelope documents",
          "description": "Get envelope documents.",
          "operationId": "GetDocuments",
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "envelopeId",
              "in": "path",
              "description": "Envelope id",
              "required": true,
              "x-ms-summary": "Envelope",
              "x-ms-test-value": "fbdf55d6-ccf5-48f2-8f14-a25168171c2c",
              "type": "string"
            },
            {
              "name": "documentId",
              "in": "path",
              "description": "Document id",
              "required": true,
              "x-ms-summary": "Document",
              "x-ms-visibility": "internal",
              "x-ms-test-value": "combined",
              "type": "string",
              "default": "combined"
            },
            {
              "name": "certificate",
              "in": "query",
              "description": "When set to false, the envelope signing certificate is removed from the download.",
              "required": true,
              "x-ms-summary": "Certificate of completion",
              "x-ms-test-value": false,
              "type": "boolean",
              "default": false
            }
          ],
          "responses": {
            "200": {
              "description": "default",
              "schema": {
                "$ref": "#/definitions/GetDocumentsResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "advanced"
        }
      },
      "/trigger/accounts/{accountId}/envelopes": {
        "get": {
          "tags": [
            "DocuSign"
          ],
          "summary": "When an envelope status changes",
          "description": "Triggers a new flow when an envelope status changes.",
          "operationId": "OnEnvelopeStatusChanges",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "status",
              "in": "query",
              "required": false,
              "x-ms-summary": "Envelope status",
              "x-ms-test-value": "Created",
              "type": "string",
              "enum": [
                "Any",
                "Voided",
                "Created",
                "Deleted",
                "Sent",
                "Delivered",
                "Signed",
                "Completed",
                "Declined",
                "TimedOut",
                "Template",
                "Processing"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/OnEnvelopeStatusChangesResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "internal",
          "x-ms-trigger": "batch",
          "x-ms-trigger-hint": "To see it work now, change the status of an envelope."
        }
      },
      "/accounts/{accountId}/envelopes": {
        "post": {
          "tags": [
            "DocuSign"
          ],
          "summary": "Send envelope using template",
          "description": "Send a new envelope using a specified template.",
          "operationId": "SendEnvelope",
          "x-ms-no-generic-test": true,
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "templateId",
              "in": "query",
              "description": "Template id",
              "required": true,
              "x-ms-summary": "Template",
              "x-ms-test-value": "d5989ce9-e657-4dd9-af29-a6811d26982b",
              "x-ms-visibility": "important",
              "x-ms-dynamic-values": {
                "operationId": "GetEnvelopeTemplates",
                "parameters": {
                  "accountId": {
                    "parameter": "accountId"
                  }
                },
                "value-collection": "envelopeTemplates",
                "value-path": "templateId",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "status",
              "in": "query",
              "description": "Envelope status",
              "required": true,
              "x-ms-summary": "Envelope status",
              "x-ms-test-value": "Created",
              "x-ms-visibility": "important",
              "type": "string",
              "enum": [
                "Sent",
                "Created"
              ]
            },
            {
              "name": "signers",
              "in": "body",
              "description": "The signers of the document.",
              "x-ms-visibility": "important",
              "required": true,
              "schema": {
                "$ref": "#/definitions/DynamicSigners"
              },
              "x-ms-summary": "Signers"
            }
          ],
          "responses": {
            "201": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/SendEnvelopeResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "important"
        }
      },
      "/accounts/{accountId}/envelopes/{envelopeId}": {
        "put": {
          "tags": [
            "DocuSign"
          ],
          "summary": "Send envelope",
          "description": "Send an existing envelope.",
          "operationId": "SendDraftEnvelope",
          "x-ms-no-generic-test": true,
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "envelopeId",
              "in": "path",
              "description": "Envelope id",
              "required": true,
              "x-ms-summary": "Envelope",
              "x-ms-test-value": "f1252594-c39d-4589-a12b-d32d887c652b",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/SendDraftEnvelopeResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "advanced"
        }
      },
      "/accounts/{accountId}/envelopes/{envelopeId}/recipients": {
        "get": {
          "tags": [
            "DocuSign"
          ],
          "summary": "List recipients",
          "description": "List recipients for a specific envelope.",
          "operationId": "GetRecipientStatus",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "folderId",
              "in": "query",
              "description": "Folder id",
              "required": true,
              "x-ms-summary": "Folder",
              "x-ms-test-value": "437ff2f3-7943-4f59-8485-13fe09dcd7ed",
              "x-ms-dynamic-values": {
                "operationId": "GetFolderList",
                "parameters": {
                  "accountId": {
                    "parameter": "accountId"
                  }
                },
                "value-collection": "folders",
                "value-path": "folderId",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "envelopeId",
              "in": "path",
              "description": "Envelope id",
              "required": true,
              "x-ms-summary": "Envelope",
              "x-ms-test-value": "0ceaeaf7-0653-449e-afc7-eaf1abd61542",
              "x-ms-dynamic-values": {
                "operationId": "GetFolderEnvelopeList",
                "parameters": {
                  "accountId": {
                    "parameter": "accountId"
                  },
                  "folderId": {
                    "parameter": "folderId"
                  }
                },
                "value-collection": "folderItems",
                "value-path": "envelopeId",
                "value-title": "subject"
              },
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ListRecipientsResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "advanced"
        },
        "post": {
          "tags": [
            "DocuSign"
          ],
          "summary": "Add recipient to an envelope",
          "description": "Add recipient to an envelope",
          "operationId": "AddRecipientToEnvelope",
          "consumes": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml",
            "application/x-www-form-urlencoded"
          ],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "envelopeId",
              "in": "path",
              "description": "Envelope id",
              "required": true,
              "x-ms-summary": "Envelope",
              "x-ms-test-value": "2152c8de-8707-41b8-87c3-22048d60af8c",
              "type": "string"
            },
            {
              "name": "AddRecipientToEnvelopeName",
              "in": "query",
              "description": "The name of the recipient.",
              "type": "string",
              "required": true,
              "x-ms-summary": "Signer Name",
              "x-ms-test-value": "test name",
              "x-ms-visibility": "important"
            },
            {
              "name": "AddRecipientToEnvelopeEmail",
              "in": "query",
              "description": "The email of the recipient.",
              "type": "string",
              "required": true,
              "x-ms-summary": "Signer Email",
              "x-ms-test-value": "test@email.com",
              "x-ms-visibility": "important"
            },
            {
              "name": "newRecipient",
              "in": "body",
              "description": "New recipient",
              "required": true,
              "schema": {
                "$ref": "#/definitions/AddRecipientToEnvelopeRequest"
              },
              "x-ms-summary": "Data for a recipient"
            }
          ],
          "responses": {
            "201": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ListRecipientsResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "advanced",
          "x-ms-no-generic-test": true
        },
        "delete": {
          "tags": [
            "DocuSign"
          ],
          "summary": "Remove recipient from an envelope",
          "description": "Remove recipient from an envelope",
          "operationId": "RemoveRecipientFromEnvelope",
          "x-ms-no-generic-test": true,
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "folderId",
              "in": "query",
              "description": "Folder id",
              "required": true,
              "x-ms-summary": "Folder",
              "x-ms-test-value": "e4931dd7-39de-498d-a4e2-8dafa0d1a6f4",
              "x-ms-dynamic-values": {
                "operationId": "GetFolderList",
                "parameters": {
                  "accountId": {
                    "parameter": "accountId"
                  }
                },
                "value-collection": "folders",
                "value-path": "folderId",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "envelopeId",
              "in": "path",
              "description": "Envelope id",
              "required": true,
              "x-ms-summary": "Envelope",
              "x-ms-test-value": "f9f087e1-fc41-4da4-ac51-fc8d96ef35e2",
              "x-ms-dynamic-values": {
                "operationId": "GetFolderEnvelopeList",
                "parameters": {
                  "accountId": {
                    "parameter": "accountId"
                  },
                  "folderId": {
                    "parameter": "folderId"
                  }
                },
                "value-collection": "folderItems",
                "value-path": "envelopeId",
                "value-title": "subject"
              },
              "type": "string"
            },
            {
              "name": "RemoveRecipientFromEnvelopeRecipientId",
              "in": "query",
              "description": "Recipient id",
              "required": true,
              "x-ms-summary": "Recipient",
              "x-ms-test-value": "8b992b38-9ee8-414c-8c59-03811db55967",
              "x-ms-dynamic-values": {
                "operationId": "GetRecipientStatus",
                "parameters": {
                  "accountId": {
                    "parameter": "accountId"
                  },
                  "folderId": {
                    "parameter": "folderId"
                  },
                  "envelopeId": {
                    "parameter": "envelopeId"
                  }
                },
                "value-collection": "signers",
                "value-path": "recipientId",
                "value-title": "roleName"
              },
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ListRecipientsResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "advanced"
        }
      },
      "/login_information": {
        "get": {
          "tags": [
            "DocuSign"
          ],
          "summary": "Login",
          "description": "Login",
          "operationId": "GetLoginAccounts",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/GetLoginAccountsResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "internal"
        }
      },
      "/accounts/{accountId}/templates": {
        "get": {
          "tags": [
            "DocuSign"
          ],
          "summary": "List templates",
          "description": "List templates for a specific account.",
          "operationId": "GetEnvelopeTemplates",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ListTemplatesResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "internal"
        }
      },
      "/accounts/{accountId}/folders": {
        "get": {
          "tags": [
            "DocuSign"
          ],
          "summary": "List folders",
          "description": "List folders for a specific account.",
          "operationId": "GetFolderList",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ListFoldersResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "internal"
        }
      },
      "/accounts/{accountId}/folders/{folderId}": {
        "get": {
          "tags": [
            "DocuSign"
          ],
          "summary": "List envelopes",
          "description": "List envelopes under a particular folder.",
          "operationId": "GetFolderEnvelopeList",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "folderId",
              "in": "path",
              "description": "Folder id",
              "required": true,
              "x-ms-summary": "Folder",
              "x-ms-test-value": "e4931dd7-39de-498d-a4e2-8dafa0d1a6f4",
              "x-ms-dynamic-values": {
                "operationId": "GetFolderList",
                "parameters": {
                  "accountId": {
                    "parameter": "accountId"
                  }
                },
                "value-collection": "folders",
                "value-path": "folderId",
                "value-title": "name"
              },
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ListEnvelopesResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "internal"
        }
      },
      "/accounts/{accountId}/envelopes/{envelopeId}/documents": {
        "get": {
          "tags": [
            "DocuSign"
          ],
          "summary": "List documents",
          "description": "List documents in an envelope.",
          "operationId": "GetEnvelopeDocumentList",
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account id",
              "required": true,
              "x-ms-summary": "Account",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "x-ms-dynamic-values": {
                "operationId": "GetLoginAccounts",
                "value-collection": "loginAccounts",
                "value-path": "accountIdGuid",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "folderId",
              "in": "query",
              "description": "Folder id",
              "required": true,
              "x-ms-summary": "Folder",
              "x-ms-test-value": "437ff2f3-7943-4f59-8485-13fe09dcd7ed",
              "x-ms-dynamic-values": {
                "operationId": "GetFolderList",
                "parameters": {
                  "accountId": {
                    "parameter": "accountId"
                  }
                },
                "value-collection": "folders",
                "value-path": "folderId",
                "value-title": "name"
              },
              "type": "string"
            },
            {
              "name": "envelopeId",
              "in": "path",
              "description": "Envelope id",
              "required": true,
              "x-ms-summary": "Envelope",
              "x-ms-test-value": "0ceaeaf7-0653-449e-afc7-eaf1abd61542",
              "x-ms-dynamic-values": {
                "operationId": "GetFolderEnvelopeList",
                "parameters": {
                  "accountId": {
                    "parameter": "accountId"
                  },
                  "folderId": {
                    "parameter": "folderId"
                  }
                },
                "value-collection": "folderItems",
                "value-path": "envelopeId",
                "value-title": "subject"
              },
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {
                "$ref": "#/definitions/ListDocumentsResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-visibility": "internal"
        }
      },
      "/signers/accounts/{accountId}/templates/{templateId}/recipients": {
        "get": {
          "tags": [
            "DocuSign"
          ],
          "summary": "Get the signers of a template in dynamic schema format",
          "description": "Get the signers of a template in dynamic schema format.",
          "operationId": "GetDynamicSigners",
          "x-ms-no-generic-test": true,
          "consumes": [],
          "produces": [
            "application/json",
            "text/json",
            "application/xml",
            "text/xml"
          ],
          "parameters": [
            {
              "name": "accountId",
              "in": "path",
              "description": "Account to get the signers for.",
              "required": true,
              "x-ms-summary": "Account Id",
              "x-ms-test-value": "ecac7b95-ba75-43dd-b1cd-f2db80a0af40",
              "type": "string"
            },
            {
              "name": "templateId",
              "in": "path",
              "description": "Template to get the signers for.",
              "required": true,
              "x-ms-summary": "Template Id",
              "x-ms-test-value": "d5989ce9-e657-4dd9-af29-a6811d26982b",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "schema": {}
            }
          },
          "deprecated": false,
          "x-ms-visibility": "internal"
        }
      }
    },
    "definitions": {
      "WebhookRequest": {
        "type": "object",
        "required": [
          "allUsers",
          "allowEnvelopePublish",
          "includeDocumentFields",
          "includeEnvelopeVoidReason",
          "includeTimeZoneInformation",
          "requiresAcknowledgement",
          "urlToPublishTo",
          "name",
          "envelopeEvents",
          "includeSenderAccountasCustomField"
        ],
        "properties": {
          "allUsers": {
            "type": "string",
            "x-ms-summary": "allUsers",
            "x-ms-visibility": "internal",
            "default": "true"
          },
          "allowEnvelopePublish": {
            "type": "string",
            "x-ms-summary": "allowEnvelopePublish",
            "x-ms-visibility": "internal",
            "default": "true"
          },
          "includeDocumentFields": {
            "type": "string",
            "x-ms-summary": "includeDocumentFields",
            "x-ms-visibility": "internal",
            "default": "true"
          },
          "includeEnvelopeVoidReason": {
            "type": "string",
            "x-ms-summary": "includeEnvelopeVoidReason",
            "x-ms-visibility": "internal",
            "default": "true"
          },
          "includeTimeZoneInformation": {
            "type": "string",
            "x-ms-summary": "includeTimeZoneInformation",
            "x-ms-visibility": "internal",
            "default": "true"
          },
          "requiresAcknowledgement": {
            "type": "string",
            "x-ms-summary": "requiresAcknowledgement",
            "x-ms-visibility": "internal",
            "default": "true"
          },
          "urlToPublishTo": {
            "type": "string",
            "x-ms-summary": "urlToPublishTo",
            "x-ms-visibility": "internal",
            "x-ms-notification-url": true
          },
          "name": {
            "type": "string",
            "x-ms-summary": "Connect name",
            "x-ms-visibility": "important"
          },
          "envelopeEvents": {
            "type": "string",
            "x-ms-summary": "Envelope event",
            "x-ms-visibility": "important",
            "enum": [
              "Sent",
              "Delivered",
              "Completed",
              "Declined",
              "Voided"
            ]
          },
          "includeSenderAccountasCustomField": {
            "type": "string",
            "x-ms-summary": "includeSenderAccountasCustomField",
            "x-ms-visibility": "internal",
            "default": "true"
          }
        }
      },
      "WebhookEnvelopeResponse": {
        "type": "object",
        "properties": {
          "customFields": {
            "description": "Key-value pairs representing the custom fields for this envelope (where key is the field name, and value is the field value).",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Custom Fields"
          },
          "DocuSignEnvelopeInformation": {
            "type": "object",
            "properties": {
              "EnvelopeStatus": {
                "description": "EnvelopeStatus",
                "type": "object",
                "properties": {
                  "Created": {
                    "format": "date-time",
                    "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                    "type": "string",
                    "x-ms-summary": "Envelope Created Date-Time",
                    "x-ms-visibility": "advanced"
                  },
                  "Email": {
                    "type": "string",
                    "x-ms-summary": "Sender's Email Address",
                    "x-ms-visibility": "important"
                  },
                  "EnvelopeID": {
                    "type": "string",
                    "x-ms-summary": "Envelope ID",
                    "x-ms-visibility": "important"
                  },
                  "SenderIPAddress": {
                    "type": "string",
                    "x-ms-summary": "Sender's IP Address",
                    "x-ms-visibility": "advanced"
                  },
                  "Sent": {
                    "format": "date-time",
                    "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                    "type": "string",
                    "x-ms-summary": "Envelope Sent Date-Time",
                    "x-ms-visibility": "important"
                  },
                  "Status": {
                    "type": "string",
                    "x-ms-summary": "Envelope Status",
                    "x-ms-visibility": "important"
                  },
                  "Subject": {
                    "type": "string",
                    "x-ms-summary": "Subject",
                    "x-ms-visibility": "important"
                  },
                  "UserName": {
                    "type": "string",
                    "x-ms-summary": "Sender's Name",
                    "x-ms-visibility": "important"
                  },
                  "RecipientStatuses": {
                    "type": "object",
                    "properties": {
                      "RecipientStatus": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "tabs": {
                              "description": "Key-value pairs representing the tabs for this recipient (where key is the field name, and value is the field value).",
                              "type": "object",
                              "additionalProperties": {
                                "type": "string"
                              },
                              "x-ms-visibility": "important",
                              "x-ms-summary": "Tabs"
                            },
                            "DeclineReason": {
                              "$ref": "#/definitions/DeclineReasonWithoutType"
                            },
                            "Email": {
                              "type": "string",
                              "x-ms-summary": "Recipient Email",
                              "x-ms-visibility": "important"
                            },
                            "RecipientId": {
                              "type": "string",
                              "x-ms-summary": "Recipient Id",
                              "x-ms-visibility": "advanced"
                            },
                            "RoutingOrder": {
                              "type": "string",
                              "x-ms-summary": "Routing Order",
                              "x-ms-visibility": "important"
                            },
                            "Sent": {
                              "format": "date-time",
                              "description": "yyyy-MM-ddTHH:mm:ss.fffZ",
                              "type": "string",
                              "x-ms-summary": "Recipient Sent Date-Time",
                              "x-ms-visibility": "advanced"
                            },
                            "Status": {
                              "description": "The status of the recipient.",
                              "type": "string",
                              "x-ms-summary": "Recipient Status",
                              "x-ms-visibility": "advanced"
                            },
                            "Type": {
                              "description": "The type of recipient.",
                              "type": "string",
                              "x-ms-summary": "Recipient Type",
                              "x-ms-visibility": "advanced"
                            },
                            "UserName": {
                              "description": "The name of the recipient.",
                              "type": "string",
                              "x-ms-summary": "Recipient Name",
                              "x-ms-visibility": "important"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "TimeZone": {
                "type": "string",
                "x-ms-summary": "Time Zone",
                "x-ms-visibility": "advanced"
              },
              "TimeZoneOffset": {
                "type": "string",
                "x-ms-summary": "Time Zone Offset",
                "x-ms-visibility": "advanced"
              }
            }
          }
        }
      },
      "GetDocumentsResponse": {
        "type": "string",
        "format": "binary",
        "x-ms-summary": "File Content",
        "x-ms-visibility": "important"
      },
      "DynamicSigners": {
        "description": "An object that represents signers based on a template.",
        "type": "object",
        "properties": {},
        "x-ms-dynamic-schema": {
          "operationId": "GetDynamicSigners",
          "parameters": {
            "accountId": {
              "parameter": "accountId"
            },
            "templateId": {
              "parameter": "templateId"
            }
          },
          "value-path": "schema/items"
        }
      },
      "AddRecipientToEnvelopeRequest": {
        "type": "object",
        "properties": {
          "signers": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/SignerRequest"
            },
            "x-ms-summary": "Signer",
            "x-ms-visibility": "advanced"
          }
        },
        "x-ms-test-value": {
          "signers": [
            {
              "name": "test name",
              "email": "clconn@microsoft.com",
              "routingOrder": "1",
              "roleName": "manager",
              "recipientId": ""
            }
          ]
        }
      },
      "SignerRequest": {
        "type": "object",
        "properties": {
          "routingOrder": {
            "description": "The signing order of the recipient in the document.",
            "type": "string",
            "x-ms-summary": "Signing Order",
            "x-ms-visibility": "important"
          },
          "roleName": {
            "description": "The role of the signer.",
            "type": "string",
            "x-ms-summary": "Role",
            "x-ms-visibility": "important"
          }
        }
      },
      "OnEnvelopeStatusChangesResponse": {
        "type": "object",
        "properties": {
          "envelopes": {
            "description": "Envelopes",
            "type": "array",
            "items": {
              "$ref": "#/definitions/Envelope"
            },
            "x-ms-summary": "Envelopes",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "Envelope": {
        "type": "object",
        "properties": {
          "documentsUri": {
            "description": "The URI for the document in DocuSign.",
            "type": "string",
            "x-ms-summary": "Documents URI",
            "x-ms-visibility": "important"
          },
          "envelopeId": {
            "description": "The id of the envelope.",
            "type": "string",
            "x-ms-summary": "Envelope Id",
            "x-ms-visibility": "important"
          },
          "envelopeUri": {
            "description": "The URI for the envelope in DocuSign.",
            "type": "string",
            "x-ms-summary": "Envelope URI",
            "x-ms-visibility": "important"
          },
          "notificationUri": {
            "description": "The URI for the notifications.",
            "type": "string",
            "x-ms-summary": "Notification URI",
            "x-ms-visibility": "advanced"
          },
          "recipientsUri": {
            "description": "The URI for the recipients of the envelope in DocuSign.",
            "type": "string",
            "x-ms-summary": "Recipients URI",
            "x-ms-visibility": "advanced"
          },
          "status": {
            "description": "The status of the envelope.",
            "type": "string",
            "x-ms-summary": "Status",
            "x-ms-visibility": "important"
          },
          "statusChangedDateTime": {
            "description": "The datetime the status changed.",
            "type": "string",
            "x-ms-summary": "Status Changed Datetime",
            "x-ms-visibility": "important"
          }
        }
      },
      "SendEnvelopeResponse": {
        "type": "object",
        "properties": {
          "envelopeId": {
            "description": "The id of the envelope.",
            "type": "string",
            "x-ms-summary": "Envelope Id",
            "x-ms-visibility": "important"
          },
          "status": {
            "description": "The status of the envelope.",
            "type": "string",
            "x-ms-summary": "Status",
            "x-ms-visibility": "important"
          },
          "statusDateTime": {
            "description": "The datetime the status was set.",
            "type": "string",
            "x-ms-summary": "Status date time",
            "x-ms-visibility": "important"
          },
          "uri": {
            "description": "The URI for the envelope in DocuSign.",
            "type": "string",
            "x-ms-summary": "URI",
            "x-ms-visibility": "important"
          }
        }
      },
      "SendDraftEnvelopeResponse": {
        "type": "object",
        "properties": {}
      },
      "ListRecipientsResponse": {
        "type": "object",
        "properties": {
          "signers": {
            "description": "Signers",
            "type": "array",
            "items": {
              "$ref": "#/definitions/Signer"
            },
            "x-ms-summary": "Signers",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "Signer": {
        "type": "object",
        "properties": {
          "routingOrder": {
            "description": "The signing order of the recipient in the document.",
            "type": "string",
            "x-ms-summary": "Signing Order",
            "x-ms-visibility": "important"
          },
          "roleName": {
            "description": "The role of the signer.",
            "type": "string",
            "x-ms-summary": "Role",
            "x-ms-visibility": "important"
          },
          "recipientId": {
            "description": "The id the recipient.",
            "type": "string",
            "x-ms-summary": "Recipient Id",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "description": "The name of the recipient.",
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "important"
          },
          "email": {
            "description": "The email of the recipient.",
            "type": "string",
            "x-ms-summary": "Email",
            "x-ms-visibility": "important"
          }
        }
      },
      "GetLoginAccountsResponse": {
        "type": "object",
        "properties": {
          "loginAccounts": {
            "description": "Login accounts",
            "type": "array",
            "items": {
              "$ref": "#/definitions/LoginAccount"
            },
            "x-ms-summary": "Login accounts",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "LoginAccount": {
        "required": [
          "accountIdGuid"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the account. ",
            "type": "string",
            "x-ms-summary": "Name"
          },
          "accountIdGuid": {
            "description": "The GUID of the account.",
            "type": "string",
            "x-ms-summary": "Account Id guid",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "ListTemplatesResponse": {
        "type": "object",
        "properties": {
          "envelopeTemplates": {
            "description": "The availalbe envelope templates.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/EnvelopeTemplate"
            },
            "x-ms-summary": "Envelope templates",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "EnvelopeTemplate": {
        "required": [
          "templateId"
        ],
        "type": "object",
        "properties": {
          "templateId": {
            "description": "The id of the template.",
            "type": "string",
            "x-ms-summary": "Template Id",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "description": "The name of the template.",
            "type": "string",
            "x-ms-summary": "Name"
          }
        }
      },
      "ListFoldersResponse": {
        "type": "object",
        "properties": {
          "folders": {
            "description": "Folders",
            "type": "array",
            "items": {
              "$ref": "#/definitions/Folder"
            },
            "x-ms-summary": "Folders",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the folder.",
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "advanced"
          },
          "folderId": {
            "description": "The id of the folder.",
            "type": "string",
            "x-ms-summary": "Folder Id",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "ListEnvelopesResponse": {
        "type": "object",
        "properties": {
          "folderItems": {
            "description": "The envelopes within a folder.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/FolderItem"
            },
            "x-ms-summary": "Folder items",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "FolderItem": {
        "type": "object",
        "properties": {
          "envelopeId": {
            "description": "The id of the envelope.",
            "type": "string",
            "x-ms-summary": "Envelope id",
            "x-ms-visibility": "advanced"
          },
          "subject": {
            "description": "The subject of the envelope.",
            "type": "string",
            "x-ms-summary": "Subject",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "ListDocumentsResponse": {
        "type": "object",
        "properties": {
          "envelopeDocuments": {
            "description": "The documents attached to the envelope.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/EnvelopeDocument"
            },
            "x-ms-summary": "Envelope documents",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "EnvelopeDocument": {
        "type": "object",
        "properties": {
          "documentId": {
            "description": "The id of the document.",
            "type": "string",
            "x-ms-summary": "Document Id",
            "x-ms-visibility": "advanced"
          },
          "name": {
            "description": "The name of the document.",
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "advanced"
          }
        }
      },
      "DeclineReasonWithoutType": {
        "x-ms-summary": "Decline Reason",
        "x-ms-visibility": "advanced"
      }
    },
    "x-ms-capabilities": {
      "testConnection": {
        "operationId": "GetLoginAccounts"
      }
    },
    "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.docusign.com"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.docusign.com/company/privacy-policy"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Content and Files;Productivity"
      }
    ]
  }