{
  "swagger": "2.0",
  "info": {
    "title": "HubSpot Conversations V2",
    "description": "The HubSpot conversations services enable you to manage and interact with the conversations inbox, channels, and messages.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/conversations/v3/conversations/inboxes": {
      "get": {
        "summary": "Get conversations inboxes",
        "description": "Retrieve a list of conversations inboxes.",
        "operationId": "GetConversationsInboxes",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The After link.",
            "type": "string",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The response limit.",
            "type": "string",
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "description": "The sort order.",
            "type": "string",
            "required": false
          },
          {
            "name": "defaultPageLength",
            "in": "query",
            "x-ms-summary": "Page Length",
            "description": "The default page length.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The After link.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The Link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetConversationsInboxes",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/threads/{threadId}": {
      "get": {
        "summary": "Get a single thread",
        "description": "Retrieves a single thread.",
        "operationId": "GetASingleThread",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether archived.",
            "type": "boolean",
            "required": false
          },
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "property",
            "description": "The property.",
            "type": "string",
            "required": false
          },
          {
            "name": "threadId",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "associatedContactId": {
                  "type": "string",
                  "description": "The associated contact identifier.",
                  "title": "Associated Contact ID"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "inboxId": {
                  "type": "string",
                  "description": "The inbox identifier.",
                  "title": "Inbox ID"
                },
                "spam": {
                  "type": "boolean",
                  "description": "The spam.",
                  "title": "Spam"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "closedAt": {
                  "type": "string",
                  "description": "When closed at.",
                  "title": "Closed At"
                },
                "latestMessageTimestamp": {
                  "type": "string",
                  "description": "The latest message timestamp.",
                  "title": "Latest Message Timestamp"
                },
                "latestMessageSentTimestamp": {
                  "type": "string",
                  "description": "The latest message sent timestamp.",
                  "title": "Latest Message Sent Timestamp"
                },
                "latestMessageReceivedTimestamp": {
                  "type": "string",
                  "description": "The latest message received timestamp.",
                  "title": "Latest Message Received Timestamp"
                },
                "assignedTo": {
                  "type": "string",
                  "description": "The assigned to.",
                  "title": "Assigned To"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetASingleThread",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "delete": {
        "summary": "Archives a thread",
        "description": "Archives a single thread. The thread will be permanently deleted 30 days after placed in an archived state.",
        "operationId": "ArchivesAThread",
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "ArchivesAThread",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      },
      "patch": {
        "summary": "Update a thread",
        "description": "Updates a single thread. Either a thread's status can be updated, or the thread can be restored.",
        "operationId": "UpdateAThread",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether archived.",
            "type": "boolean",
            "required": false
          },
          {
            "name": "threadId",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "associatedContactId": {
                  "type": "string",
                  "description": "The associated contact identifier.",
                  "title": "Associated Contact ID"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "inboxId": {
                  "type": "string",
                  "description": "The inbox identifier.",
                  "title": "Inbox ID"
                },
                "spam": {
                  "type": "boolean",
                  "description": "The spam.",
                  "title": "Spam"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "closedAt": {
                  "type": "string",
                  "description": "When closed at.",
                  "title": "Closed At"
                },
                "latestMessageTimestamp": {
                  "type": "string",
                  "description": "The latest message timestamp.",
                  "title": "Latest Message Timestamp"
                },
                "latestMessageSentTimestamp": {
                  "type": "string",
                  "description": "The latest message sent timestamp.",
                  "title": "Latest Message Sent Timestamp"
                },
                "latestMessageReceivedTimestamp": {
                  "type": "string",
                  "description": "The latest message received timestamp.",
                  "title": "Latest Message Received Timestamp"
                },
                "assignedTo": {
                  "type": "string",
                  "description": "The assigned to.",
                  "title": "Assigned To"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "UpdateAThread",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}/original-content": {
      "get": {
        "summary": "Get the original content of a single message",
        "description": "Returns the complete original text and rich text bodies of a message. This will be different from the text and rich text in the message itself if the message's truncationStatus is anything other than NOT_TRUNCATED.",
        "operationId": "GetTheOriginalContentOfASingleMessage",
        "parameters": [
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "property",
            "description": "The property.",
            "type": "string",
            "required": false
          },
          {
            "name": "threadId",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "messageId",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The message identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "richText": {
                  "type": "string",
                  "description": "The rick text.",
                  "title": "Rich Text"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetTheOriginalContentOfASingleMessage",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages": {
      "get": {
        "summary": "Get message history for a thread",
        "description": "Retrieve a list of message history for a thread.",
        "operationId": "GetMessageHistoryForAThread",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The After link.",
            "type": "string",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The response limit.",
            "type": "string",
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "description": "The sort order.",
            "type": "string",
            "required": false
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether archived.",
            "type": "boolean",
            "required": false
          },
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "property",
            "description": "The property.",
            "type": "string",
            "required": false
          },
          {
            "name": "threadId",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "client": {
                        "type": "object",
                        "properties": {
                          "clientType": {
                            "type": "string",
                            "description": "The client type.",
                            "title": "Client Type"
                          },
                          "integrationAppId": {
                            "type": "string",
                            "description": "The integration app identifier.",
                            "title": "Integration App ID"
                          }
                        },
                        "title": "Client"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "The created by.",
                        "title": "Created By"
                      },
                      "direction": {
                        "type": "string",
                        "description": "The direction.",
                        "title": "Direction"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "recipients": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "deliveryIdentifier": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type.",
                                  "title": "Type"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value.",
                                  "title": "Value"
                                }
                              },
                              "title": "Delivery Identifier"
                            },
                            "actorId": {
                              "type": "string",
                              "description": "The actor identifier.",
                              "title": "Actor ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "recipientField": {
                              "type": "string",
                              "description": "The recipient field.",
                              "title": "Recipient Field"
                            }
                          }
                        },
                        "title": "Recipients"
                      },
                      "senders": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "actorId": {
                              "type": "string",
                              "description": "The actor identifier.",
                              "title": "Actor ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "senderField": {
                              "type": "string",
                              "description": "The sender field.",
                              "title": "Sender Field"
                            },
                            "deliveryIdentifier": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type.",
                                  "title": "Type"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value.",
                                  "title": "Value"
                                }
                              },
                              "title": "Delivery Identifier"
                            }
                          }
                        },
                        "title": "Senders"
                      },
                      "text": {
                        "type": "string",
                        "description": "The text.",
                        "title": "Text"
                      },
                      "truncationStatus": {
                        "type": "string",
                        "description": "The truncation status.",
                        "title": "Truncation Status"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "richText": {
                        "type": "string",
                        "description": "The rich text.",
                        "title": "Rich Text"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject.",
                        "title": "Subject"
                      },
                      "inReplyToId": {
                        "type": "string",
                        "description": "The in reply to identifier.",
                        "title": "In Reply To ID"
                      },
                      "status": {
                        "type": "object",
                        "properties": {
                          "statusType": {
                            "type": "string",
                            "description": "The status type.",
                            "title": "Status Type"
                          },
                          "failureDetails": {
                            "type": "object",
                            "properties": {
                              "errorMessageTokens": {
                                "type": "object",
                                "properties": {},
                                "description": "The error message tokens object.",
                                "title": "Error Message Tokens"
                              },
                              "errorMessage": {
                                "type": "string",
                                "description": "The error message.",
                                "title": "Error Message"
                              }
                            },
                            "title": "Failure Details"
                          }
                        },
                        "title": "Status"
                      },
                      "channelId": {
                        "type": "string",
                        "description": "The channel identifier.",
                        "title": "Channel ID"
                      },
                      "channelAccountId": {
                        "type": "string",
                        "description": "The channel account identifier.",
                        "title": "Channel Account ID"
                      },
                      "conversationsThreadId": {
                        "type": "string",
                        "description": "The conversations thread identifier.",
                        "title": "Conversations Thread ID"
                      }
                    }
                  },
                  "title": "Results"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The After link.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The Link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetMessageHistoryForAThread",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "post": {
        "summary": "Send a message to a thread",
        "description": "Send a new message on a thread at the current timestamp.",
        "operationId": "SendAMessageToAThread",
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "attachments": {
                  "type": "array",
                  "items": {},
                  "description": "The attachments object.",
                  "title": "Attachments"
                },
                "channelAccountId": {
                  "type": "string",
                  "description": "The channel account identifier.",
                  "title": "Channel Account ID"
                },
                "channelId": {
                  "type": "string",
                  "description": "The channel identifier.",
                  "title": "Channel ID"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "deliveryIdentifiers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type.",
                              "title": "Type"
                            },
                            "value": {
                              "type": "string",
                              "description": "The value.",
                              "title": "Value"
                            }
                          }
                        },
                        "title": "Delivery Identifiers"
                      },
                      "actorId": {
                        "type": "string",
                        "description": "The actor identifier.",
                        "title": "Actor ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "recipientField": {
                        "type": "string",
                        "description": "The recipient field.",
                        "title": "Recipient Field"
                      },
                      "deliveryIdentifier": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        },
                        "title": "Delivery Identifier"
                      }
                    }
                  },
                  "title": "Recipients"
                },
                "senderActorId": {
                  "type": "string",
                  "description": "The sender actor identifier.",
                  "title": "Sender Actor ID"
                },
                "text": {
                  "type": "string",
                  "description": "The text.",
                  "title": "Text"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "richText": {
                  "type": "string",
                  "description": "The rick text.",
                  "title": "Rich Text"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject.",
                  "title": "Subject"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The value.",
                  "title": "Value"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "SendAMessageToAThread",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/actors/batch/read": {
      "post": {
        "summary": "Get actors",
        "description": "Resolve actors identifiers to the underlying actors and participants.",
        "operationId": "GetActors",
        "parameters": [
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "property",
            "description": "The property.",
            "type": "string",
            "required": false
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The inputs.",
                  "title": "Inputs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "avatar": {
                        "type": "string",
                        "description": "The avatar.",
                        "title": "Avatar"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "email": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email"
                      },
                      "avatar": {
                        "type": "string",
                        "description": "The avatar.",
                        "title": "Avatar"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "numErrors": {
                  "type": "string",
                  "description": "The number of errors.",
                  "title": "Num Errors"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message.",
                              "title": "Message"
                            },
                            "in": {
                              "type": "string",
                              "description": "The in.",
                              "title": "In"
                            },
                            "code": {
                              "type": "string",
                              "description": "The code.",
                              "title": "Code"
                            },
                            "subCategory": {
                              "type": "string",
                              "description": "The sub category.",
                              "title": "Sub Category"
                            },
                            "context": {
                              "type": "object",
                              "properties": {},
                              "description": "The context object",
                              "title": "Context"
                            }
                          }
                        },
                        "title": "Errors"
                      },
                      "links": {
                        "type": "object",
                        "properties": {},
                        "description": "The links object.",
                        "title": "Links"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "The sub category.",
                        "title": "Sub Category"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetActors",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/channel-accounts": {
      "get": {
        "summary": "Get channel accounts",
        "description": "Retrieve a list of channel accounts.",
        "operationId": "GetChannelAccounts",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "x-ms-summary": "Channel ID",
            "description": "The channel identifier.",
            "type": "string",
            "required": false
          },
          {
            "name": "inboxId",
            "in": "query",
            "x-ms-summary": "Inbox ID",
            "description": "The inbox identifier.",
            "type": "string",
            "required": false
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The After link.",
            "type": "string",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The response limit.",
            "type": "string",
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "description": "The sort order.",
            "type": "string",
            "required": false
          },
          {
            "name": "defaultPageLength",
            "in": "query",
            "x-ms-summary": "Page Length",
            "description": "The default page length.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "channelId": {
                        "type": "string",
                        "description": "The channel identifier.",
                        "title": "Channel ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "inboxId": {
                        "type": "string",
                        "description": "The inbox identifier.",
                        "title": "Inbox ID"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether active.",
                        "title": "Active"
                      },
                      "authorized": {
                        "type": "boolean",
                        "description": "Whether authorized.",
                        "title": "Authorized"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "deliveryIdentifier": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value.",
                            "title": "Value"
                          }
                        },
                        "title": "Delivery Identifier"
                      }
                    }
                  },
                  "title": "Results"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The After link.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The Link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetChannelAccounts",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/channels/{channelId}": {
      "get": {
        "summary": "Get a single channel",
        "description": "Retrieve a single channel.",
        "operationId": "GetASingleChannel",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "x-ms-summary": "Channel ID",
            "x-ms-url-encoding": "single",
            "description": "The channel identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetASingleChannel",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/threads/{threadId}/messages/{messageId}": {
      "get": {
        "summary": "Get a single message",
        "description": "Retrieve a single message.",
        "operationId": "GetASingleMessage",
        "parameters": [
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "property",
            "description": "The property.",
            "type": "string",
            "required": false
          },
          {
            "name": "threadId",
            "in": "path",
            "x-ms-summary": "Thread ID",
            "x-ms-url-encoding": "single",
            "description": "The thread identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "messageId",
            "in": "path",
            "x-ms-summary": "Message ID",
            "x-ms-url-encoding": "single",
            "description": "The message identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The value.",
                  "title": "Value"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetASingleMessage",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/channels": {
      "get": {
        "summary": "Get channels",
        "description": "Retrieve a list of channels.",
        "operationId": "GetChannels",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The After link.",
            "type": "string",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The response limit.",
            "type": "string",
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "description": "The sort order.",
            "type": "string",
            "required": false
          },
          {
            "name": "defaultPageLength",
            "in": "query",
            "x-ms-summary": "Page Length",
            "description": "The default page length.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Results"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The After link.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The Link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetChannels",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/actors/{actorId}": {
      "get": {
        "summary": "Get a single actor",
        "description": "Retrieve a single actor.",
        "operationId": "GetASingleActor",
        "parameters": [
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "property",
            "description": "The property.",
            "type": "string",
            "required": false
          },
          {
            "name": "actorId",
            "in": "path",
            "x-ms-summary": "Actor ID",
            "x-ms-url-encoding": "single",
            "description": "The actor identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "avatar": {
                  "type": "string",
                  "description": "The avatar.",
                  "title": "Avatar"
                }
              }
            }
          }
        }
      }
    },
    "/conversations/v3/conversations/threads": {
      "get": {
        "summary": "Get threads",
        "description": "Retrieve a list of threads.",
        "operationId": "GetThreads",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The After link.",
            "type": "string",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The response limit.",
            "type": "string",
            "required": false
          },
          {
            "name": "sort",
            "in": "query",
            "x-ms-summary": "Sort",
            "description": "The sort order.",
            "type": "string",
            "required": false
          },
          {
            "name": "inboxId",
            "in": "query",
            "x-ms-summary": "Inbox ID",
            "description": "The inbox identifier.",
            "type": "string",
            "required": false
          },
          {
            "name": "associatedContactId",
            "in": "query",
            "x-ms-summary": "Associated Contact ID",
            "description": "The associated contact identifier.",
            "type": "string",
            "required": false
          },
          {
            "name": "threadStatus",
            "in": "query",
            "x-ms-summary": "Thread Status",
            "description": "The thread status.",
            "type": "string",
            "required": false
          },
          {
            "name": "latestMessageTimestampAfter",
            "in": "query",
            "x-ms-summary": "Latest Timestamp",
            "description": "The latest message timestamp after.",
            "type": "string",
            "required": false
          },
          {
            "name": "archived",
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether archived.",
            "type": "boolean",
            "required": false
          },
          {
            "name": "property",
            "in": "query",
            "x-ms-summary": "property",
            "description": "The property.",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "associatedContactId": {
                        "type": "string",
                        "description": "The associated contact identifier.",
                        "title": "Associated Contact ID"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "inboxId": {
                        "type": "string",
                        "description": "The inbox identifier.",
                        "title": "Inbox ID"
                      },
                      "spam": {
                        "type": "boolean",
                        "description": "Whether spam.",
                        "title": "Spam"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "closedAt": {
                        "type": "string",
                        "description": "When closed at.",
                        "title": "Closed At"
                      },
                      "latestMessageTimestamp": {
                        "type": "string",
                        "description": "The latest message timestamp.",
                        "title": "Latest Message Timestamp"
                      },
                      "latestMessageSentTimestamp": {
                        "type": "string",
                        "description": "The latest message sent timestamp.",
                        "title": "Latest Message Sent Timestamp"
                      },
                      "latestMessageReceivedTimestamp": {
                        "type": "string",
                        "description": "The latest message received timestamp.",
                        "title": "Latest Message Received Timestamp"
                      },
                      "assignedTo": {
                        "type": "string",
                        "description": "The assigned to.",
                        "title": "Assigned To"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      }
                    }
                  },
                  "title": "Results"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The After link.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The Link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetThreads",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/channel-accounts/{channelAccountId}": {
      "get": {
        "summary": "Get a single channel account",
        "description": "Retrieve a single channel account.",
        "operationId": "GetASingleChannelAccount",
        "parameters": [
          {
            "name": "channelAccountId",
            "in": "path",
            "x-ms-summary": "Channel Account ID",
            "x-ms-url-encoding": "single",
            "description": "The channel account identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "channelId": {
                  "type": "string",
                  "description": "The channel identifier.",
                  "title": "Channel ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "inboxId": {
                  "type": "string",
                  "description": "The inbox identifier.",
                  "title": "Inbox ID"
                },
                "active": {
                  "type": "boolean",
                  "description": "Whether active.",
                  "title": "Active"
                },
                "authorized": {
                  "type": "boolean",
                  "description": "Whether authorized.",
                  "title": "Authorized"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "deliveryIdentifier": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "value": {
                      "type": "string",
                      "description": "The value.",
                      "title": "Value"
                    }
                  },
                  "title": "Delivery Identifier"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetASingleChannelAccount",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/conversations/v3/conversations/inboxes/{inboxId}": {
      "get": {
        "summary": "Get a single conversations inbox",
        "description": "Retrieve a single conversations inbox.",
        "operationId": "GetASingleConversationsInbox",
        "parameters": [
          {
            "name": "inboxId",
            "in": "path",
            "x-ms-summary": "Inbox ID",
            "x-ms-url-encoding": "single",
            "description": "The inbox identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetASingleConversationsInbox",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/visitor-identification/v3/tokens/create": {
      "post": {
        "summary": "Generate a token",
        "description": "Generates a new visitor identification token. This token will be unique every time this endpoint is called, even if called with the same email address. This token is temporary and will expire after 12 hours.",
        "operationId": "GenerateAToken",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "firstName": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "lastName": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "description": "The token.",
                  "title": "Token"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GenerateAToken",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.hubspot.com/products/crm/conversations"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://legal.hubspot.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Sales and CRM"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "HubSpot Conversations V2",
    "modelDescription": "This is a Copilot plugin for the HubSpot Conversations service.",
    "contactEmail": "ttaylor@hitachisolutions.com"
  }
}
