{
  "swagger": "2.0",
  "info": {
    "title": "Weather Forecast",
    "description": "The weather forecast connector helps one to get  weather forecast depending on the city of their choice",
    "version": "1.0",
    "contact": {
      "name": "Haimantika Mitra",
      "url": "https://openweathermap.org/",
      "email": "haimantikamitra@gmail.com"
    }
  },
  "host": "api.openweathermap.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/data/2.5/weather": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "coord": {
                  "type": "object",
                  "properties": {
                    "lon": {
                      "type": "number",
                      "format": "float",
                      "description": "longitude"
                    },
                    "lat": {
                      "type": "number",
                      "format": "float",
                      "description": "latitude"
                    }
                  },
                  "description": "coordinates"
                },
                "weather": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "main": {
                        "type": "string",
                        "description": "main"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "icon": {
                        "type": "string",
                        "description": "icon"
                      }
                    }
                  },
                  "description": "weather"
                },
                "base": {
                  "type": "string",
                  "description": "base"
                },
                "main": {
                  "type": "object",
                  "properties": {
                    "temp": {
                      "type": "number",
                      "format": "float",
                      "description": "temperature"
                    },
                    "feels_like": {
                      "type": "number",
                      "format": "float",
                      "description": "weather feels"
                    },
                    "temp_min": {
                      "type": "number",
                      "format": "float",
                      "description": "minimum temperature"
                    },
                    "temp_max": {
                      "type": "number",
                      "format": "float",
                      "description": "maximum temperature"
                    },
                    "pressure": {
                      "type": "integer",
                      "format": "int32",
                      "description": "pressure"
                    },
                    "humidity": {
                      "type": "integer",
                      "format": "int32",
                      "description": "humidity"
                    },
                    "sea_level": {
                      "type": "integer",
                      "format": "int32",
                      "description": "sea level"
                    },
                    "grnd_level": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ground level"
                    }
                  },
                  "description": "main"
                },
                "visibility": {
                  "type": "integer",
                  "format": "int32",
                  "description": "visibility"
                },
                "wind": {
                  "type": "object",
                  "properties": {
                    "speed": {
                      "type": "number",
                      "format": "float",
                      "description": "speed"
                    },
                    "deg": {
                      "type": "integer",
                      "format": "int32",
                      "description": "degree"
                    }
                  },
                  "description": "wind"
                },
                "clouds": {
                  "type": "object",
                  "properties": {
                    "all": {
                      "type": "integer",
                      "format": "int32",
                      "description": "all"
                    }
                  },
                  "description": "clouds"
                },
                "dt": {
                  "type": "integer",
                  "format": "int32",
                  "description": "district"
                },
                "sys": {
                  "type": "object",
                  "properties": {
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "sunrise": {
                      "type": "integer",
                      "format": "int32",
                      "description": "sunrise"
                    },
                    "sunset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "sunset"
                    }
                  },
                  "description": "sys"
                },
                "timezone": {
                  "type": "integer",
                  "format": "int32",
                  "description": "timezone"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "cod": {
                  "type": "integer",
                  "format": "int32",
                  "description": "cod"
                }
              }
            }
          }
        },
        "summary": "Get Weather info",
        "description": "This returns weather info depnding on city of choice",
        "operationId": "city",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://openweathermap.org/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://home.openweathermap.org/questions"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}