{
  "swagger": "2.0",
  "info": {
    "title": "Pure Leads",
    "description": "Pure Leads helps capture, track, distribute and manage your leads with ease. Grow faster with our scalable lead generation software.",
    "version": "1.0",
    "contact": {
      "name": "Jeremy Lim",
      "url": "https://pureleads.co/contact",
      "email": "jeremy@puredigital.co"
    }
  },
  "host": "pureleads.co",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/contacts": {
      "post": {
        "responses": {
          "201": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "New Lead Submission",
        "description": "New Lead Submission",
        "operationId": "New-Lead-Submission",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "Email"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "title": "Full Name"
                },
                "mobile_no": {
                  "type": "string",
                  "description": "mobile_no",
                  "title": "Mobile No"
                },
                "secondary_email": {
                  "type": "string",
                  "description": "secondary_email",
                  "title": "Secondary Email"
                },
                "lifecycle_stage_name": {
                  "type": "integer",
                  "format": "int32",
                  "description": "lifecycle_stage_id",
                  "title": "Life Cycle Stage",
                  "default": 1
                }
              },
              "required": [
                "email",
                "name"
              ]
            }
          }
        ]
      }
    },
    "/trigger/contacts": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id",
                        "title": "ID"
                      },
                      "email": {
                        "type": "string",
                        "description": "email",
                        "title": "Email"
                      },
                      "name": {
                        "type": "string",
                        "description": "name",
                        "title": "Name"
                      },
                      "mobile_no": {
                        "type": "string",
                        "description": "mobile_no",
                        "title": "Mobile No"
                      },
                      "secondary_email": {
                        "type": "string",
                        "description": "secondary_email",
                        "title": "Secondary Email"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "created_at",
                        "title": "Created At"
                      },
                      "lifecycle_stage_name": {
                        "type": "string",
                        "description": "lifecycle_stage_name",
                        "title": "LifeCycle Stage"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "summary": "New Lead Submission",
        "description": "New Lead Submission",
        "operationId": "Created-Lead-Submission",
        "x-ms-trigger": "batch",
        "x-ms-trigger-metadata": {
          "mode": "polling",
          "kind": "query"
        },
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://pureleads.co"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://pureleads.co/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM; Website"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}