{
    "swagger": "2.0",
    "info": {
        "title": "OpenLegacy IBM Mainframe",
        "description": "OpenLegacy IBM Mainframe connector provides bidirectional connectivity to your system’s data and business logic through OpenLegacy Hub microservices deployed on OpenLegacy’s cloud or any other target deployment. You can now build Business Flows with information from your legacy environment using the OpenLegacy connector. This will enable you to utilize your legacy assets as digital components, providing you a legacy integration and modernization solution from Day 1.",
        "version": "3.0",
        "contact": {
            "name": "OpenLegacy Support",
            "url": "https://www.openlegacy.com/company/support",
            "email": "support@openlegacy.com"
        }
    },
    "host": "api.ol-hub.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://www.openlegacy.com"
          },
          {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.openlegacy.com/privacy-policy"
          },
          {
            "propertyName": "Categories",
            "propertyValue": "Business Management; Data"
          }
        ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/backend/api/v1/projects": {
            "get": {
                "summary": "Get All Projects",
                "operationId": "GetAllProjects",
                "x-ms-visibility": "internal",
                "parameters": [
                    {
                        "name": "with_contracts",
                        "type": "boolean",
                        "in": "query",
                        "default": true,
                        "x-ms-visibility": "internal",
                        "x-ms-summary": "Determines that Contract ID must be included in the response.",
                        "description": "Determines that Contract ID must be included in the response.",
                        "required": true
                    },
                    {
                        "name": "module_type",
                        "type": "string",
                        "in": "query",
                        "default": "",
                        "x-ms-visibility": "internal",
                        "x-ms-summary": "Determines the BackendSolution of module by which projects must be filtered.",
                        "description": "Determines the BackendSolution of module by which projects must be filtered.",
                        "required": true
                    }
                ],
                "description": "Returns a list of user's projects",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetAllProjectsResponse"
                        }
                    }
                }
            }
        },
        "/backend/api/v1/methods": {
            "get": {
                "summary": "Get Methods for Contract",
                "operationId": "GetMethodsForContract",
                "description": "Get a list of methods by Contract ID",
                "parameters": [
                    {
                        "name": "contractId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "The Contract ID selected by user.",
                        "description": "The Contract ID selected by user."
                    },
                    {
                        "name": "enrichmentType",
                        "in": "query",
                        "default": "HTTP",
                        "type": "string",
                        "x-ms-visibility": "internal",
                        "x-ms-summary": "Determines the type of enrichment metadata to be included in the response.",
                        "description": "Determines the type of enrichment metadata to be included in the response.",
                        "required": true
                    },
                    {
                        "name": "published",
                        "type": "boolean",
                        "in": "query",
                        "default": true,
                        "x-ms-visibility": "internal",
                        "x-ms-summary": "Determines that Published method only will be included in the response.",
                        "description": "Determines that Published method only will be included in the response.",
                        "required": true
                    }
                ],
                "x-ms-visibility": "internal",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/GetMethodsForContractResponse"
                        }
                    }
                }
            }
        },
        "/backend/api/v1/partners/method-swagger-by-id/{methodId}": {
            "get": {
                "summary": "Get Method Open Api Spec",
                "operationId": "GetMethodOpenApiSpec",
                "description": "Get a method OpenApi specification",
                "parameters": [
                    {
                        "name": "methodId",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "x-ms-url-encoding": "single",
                        "x-ms-summary": "Method ID for which an OpenApi specification must be returned.",
                        "description": "Method ID for which an OpenApi specification must be returned."
                    }
                ],
                "x-ms-visibility": "internal",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "flow-input": {
                                    "type": "object"
                                },
                                "flow-output": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/dummy-MfCicsCobol": {
            "post": {
                "summary": "IBM Mainframe CICS - Send and (or) receive data from a MF Cobol or PL1 Program",
                "operationId": "MfCicsCobol",
                "description": "Perform HTTP request to User's API",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Project",
                        "x-ms-summary": "Select Project",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAllProjects",
                            "value-collection": "flatElements",
                            "value-path": "contractId",
                            "value-title": "name",
                            "parameters": {
                                "module_type": "mainFrameRpc"
                            }
                        }
                    },
                    {
                        "name": "method",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Method",
                        "x-ms-summary": "Select Method",
                        "x-ms-dynamic-values": {
                            "operationId": "GetMethodsForContract",
                            "value-collection": "elements",
                            "value-path": "id",
                            "value-title": "combinedRoute",
                            "parameters": {
                                "contractId": {
                                    "parameter": "project"
                                }
                            }
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetMethodOpenApiSpec",
                                "parameters": {
                                    "methodId": {
                                        "parameter": "method"
                                    }
                                },
                                "value-path": "flow-input"
                            }
                        },
                        "x-ms-summary": "Dynamic Schema",
                        "description": "Dynamic Schema"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DynamicSchemaResponse"
                        }
                    }
                },
                "x-ms-visibility": "important"
            }
        },
        "/dummy-MfCtgCobol": {
            "post": {
                "summary": "IBM Mainframe CTG - Send and (or) receive data from CICS Transaction Gateway",
                "operationId": "MfCtgCobol",
                "description": "Perform HTTP request to User's API",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Project",
                        "x-ms-summary": "Select Project",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAllProjects",
                            "value-collection": "flatElements",
                            "value-path": "contractId",
                            "value-title": "name",
                            "parameters": {
                                "module_type": "mainFrameCtg"
                            }
                        }
                    },
                    {
                        "name": "method",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Method",
                        "x-ms-summary": "Select Method",
                        "x-ms-dynamic-values": {
                            "operationId": "GetMethodsForContract",
                            "value-collection": "elements",
                            "value-path": "id",
                            "value-title": "combinedRoute",
                            "parameters": {
                                "contractId": {
                                    "parameter": "project"
                                }
                            }
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetMethodOpenApiSpec",
                                "parameters": {
                                    "methodId": {
                                        "parameter": "method"
                                    }
                                },
                                "value-path": "flow-input"
                            }
                        },
                        "x-ms-summary": "Dynamic Schema",
                        "description": "Dynamic Schema"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DynamicSchemaResponse"
                        }
                    }
                },
                "x-ms-visibility": "important"
            }
        },
        "/dummy-MfImsCobol": {
            "post": {
                "summary": "IBM Mainframe IMS - Send and (or) receive data from IMS transaction",
                "operationId": "MfImsCobol",
                "description": "Perform HTTP request to User's API",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Project",
                        "x-ms-summary": "Select Project",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAllProjects",
                            "value-collection": "flatElements",
                            "value-path": "contractId",
                            "value-title": "name",
                            "parameters": {
                                "module_type": "imsRpc"
                            }
                        }
                    },
                    {
                        "name": "method",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Method",
                        "x-ms-summary": "Select Method",
                        "x-ms-dynamic-values": {
                            "operationId": "GetMethodsForContract",
                            "value-collection": "elements",
                            "value-path": "id",
                            "value-title": "combinedRoute",
                            "parameters": {
                                "contractId": {
                                    "parameter": "project"
                                }
                            }
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetMethodOpenApiSpec",
                                "parameters": {
                                    "methodId": {
                                        "parameter": "method"
                                    }
                                },
                                "value-path": "flow-input"
                            }
                        },
                        "x-ms-summary": "Dynamic Schema",
                        "description": "Dynamic Schema"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DynamicSchemaResponse"
                        }
                    }
                },
                "x-ms-visibility": "important"
            }
        },
        "/dummy-MfNatural": {
            "post": {
                "summary": "IBM Mainframe Natural - Send and (or) receive data from a Natural program",
                "operationId": "MfNatural",
                "description": "Perform HTTP request to User's API",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Project",
                        "x-ms-summary": "Select Project",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAllProjects",
                            "value-collection": "flatElements",
                            "value-path": "contractId",
                            "value-title": "name",
                            "parameters": {
                                "module_type": "mainframeNatural"
                            }
                        }
                    },
                    {
                        "name": "method",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Method",
                        "x-ms-summary": "Select Method",
                        "x-ms-dynamic-values": {
                            "operationId": "GetMethodsForContract",
                            "value-collection": "elements",
                            "value-path": "id",
                            "value-title": "combinedRoute",
                            "parameters": {
                                "contractId": {
                                    "parameter": "project"
                                }
                            }
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetMethodOpenApiSpec",
                                "parameters": {
                                    "methodId": {
                                        "parameter": "method"
                                    }
                                },
                                "value-path": "flow-input"
                            }
                        },
                        "x-ms-summary": "Dynamic Schema",
                        "description": "Dynamic Schema"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DynamicSchemaResponse"
                        }
                    }
                },
                "x-ms-visibility": "important"
            }
        },
        "/dummy-MfVsamCics": {
            "post": {
                "summary": "IBM Mainframe VSAM - Receive data from MF VSAM files",
                "operationId": "MfVsamCics",
                "description": "Perform HTTP request to User's API",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Project",
                        "x-ms-summary": "Select Project",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAllProjects",
                            "value-collection": "flatElements",
                            "value-path": "contractId",
                            "value-title": "name",
                            "parameters": {
                                "module_type": "mainFrameVsam"
                            }
                        }
                    },
                    {
                        "name": "method",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Method",
                        "x-ms-summary": "Select Method",
                        "x-ms-dynamic-values": {
                            "operationId": "GetMethodsForContract",
                            "value-collection": "elements",
                            "value-path": "id",
                            "value-title": "combinedRoute",
                            "parameters": {
                                "contractId": {
                                    "parameter": "project"
                                }
                            }
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetMethodOpenApiSpec",
                                "parameters": {
                                    "methodId": {
                                        "parameter": "method"
                                    }
                                },
                                "value-path": "flow-input"
                            }
                        },
                        "x-ms-summary": "Dynamic Schema",
                        "description": "Dynamic Schema"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DynamicSchemaResponse"
                        }
                    }
                },
                "x-ms-visibility": "important"
            }
        },
        "/dummy-Mf3270Screens": {
            "post": {
                "summary": "IBM Mainframe 3270 Screens - Send and (or) receive data via 3270 emulation (RPA)",
                "operationId": "Mf3270Screens",
                "description": "Perform HTTP request to User's API",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Project",
                        "x-ms-summary": "Select Project",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAllProjects",
                            "value-collection": "flatElements",
                            "value-path": "contractId",
                            "value-title": "name",
                            "parameters": {
                                "module_type": ""
                            }
                        }
                    },
                    {
                        "name": "method",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Method",
                        "x-ms-summary": "Select Method",
                        "x-ms-dynamic-values": {
                            "operationId": "GetMethodsForContract",
                            "value-collection": "elements",
                            "value-path": "id",
                            "value-title": "combinedRoute",
                            "parameters": {
                                "contractId": {
                                    "parameter": "project"
                                }
                            }
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetMethodOpenApiSpec",
                                "parameters": {
                                    "methodId": {
                                        "parameter": "method"
                                    }
                                },
                                "value-path": "flow-input"
                            }
                        },
                        "x-ms-summary": "Dynamic Schema",
                        "description": "Dynamic Schema"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DynamicSchemaResponse"
                        }
                    }
                },
                "x-ms-visibility": "important"
            }
        },
        "/dummy-MfMq": {
            "post": {
                "summary": "IBM Mainframe MQ - Send and (or) receive data from IBM MQ",
                "operationId": "MfMq",
                "description": "Perform HTTP request to User's API",
                "parameters": [
                    {
                        "name": "project",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Project",
                        "x-ms-summary": "Select Project",
                        "x-ms-dynamic-values": {
                            "operationId": "GetAllProjects",
                            "value-collection": "flatElements",
                            "value-path": "contractId",
                            "value-title": "name",
                            "parameters": {
                                "module_type": "mq"
                            }
                        }
                    },
                    {
                        "name": "method",
                        "in": "query",
                        "type": "string",
                        "required": true,
                        "description": "Select Method",
                        "x-ms-summary": "Select Method",
                        "x-ms-dynamic-values": {
                            "operationId": "GetMethodsForContract",
                            "value-collection": "elements",
                            "value-path": "id",
                            "value-title": "combinedRoute",
                            "parameters": {
                                "contractId": {
                                    "parameter": "project"
                                }
                            }
                        }
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "x-ms-dynamic-schema": {
                                "operationId": "GetMethodOpenApiSpec",
                                "parameters": {
                                    "methodId": {
                                        "parameter": "method"
                                    }
                                },
                                "value-path": "flow-input"
                            }
                        },
                        "x-ms-summary": "Dynamic Schema",
                        "description": "Dynamic Schema"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DynamicSchemaResponse"
                        }
                    }
                },
                "x-ms-visibility": "important"
            }
        }
    },
    "definitions": {
        "DynamicSchemaResponse": {
            "type": "object",
            "x-ms-dynamic-schema": {
                "operationId": "GetMethodOpenApiSpec",
                "parameters": {
                    "methodId": {
                        "parameter": "method"
                    }
                },
                "value-path": "flow-output"
            }
        },
        "GetAllProjectsResponse": {
            "type": "object",
            "properties": {
                "flatElements": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "contractId": {
                                "type": "string",
                                "description": "contract id",
                                "title": "contractId",
                                "x-ms-visibility": "internal"
                            },
                            "name": {
                                "type": "string",
                                "description": "project name",
                                "title": "name",
                                "x-ms-visibility": "internal"
                            }
                        },
                        "required": [
                            "contractId",
                            "name"
                        ]
                    },
                    "description": "flatElements"
                }
            }
        },
        "GetMethodsForContractResponse": {
            "type": "object",
            "properties": {
                "elements": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "method id",
                                "title": "id",
                                "x-ms-visibility": "internal"
                            },
                            "enrichment": {
                                "type": "object",
                                "x-ms-visibility": "internal",
                                "properties": {
                                    "routingKey": {
                                        "type": "string",
                                        "description": "method name",
                                        "title": "routingKey",
                                        "x-ms-visibility": "internal"
                                    }
                                },
                                "required": [
                                    "routingKey"
                                ]
                            },
                            "combinedRoute": {
                                "type": "string",
                                "description": "created by policy",
                                "title": "combinedRoute",
                                "x-ms-visibility": "internal"
                            }
                        },
                        "required": [
                            "id",
                            "enrichment"
                        ]
                    },
                    "description": "elements"
                }
            }
        }
    },
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "in": "header",
            "name": "x-api-key"
        }
    },
    "security": [],
    "tags": []
}