{
  "swagger": "2.0",
  "info": {
    "title": "kwtSMS",
    "description": "Send single or bulk SMS messages worldwide through the kwtSMS gateway. Check your credit balance, list approved sender IDs, validate phone numbers, and verify country coverage.",
    "version": "1.0",
    "contact": {
      "name": "kwtSMS Support",
      "url": "https://www.kwtsms.com/support.html",
      "email": "support@kwtsms.com"
    }
  },
  "host": "www.kwtsms.com",
  "basePath": "/API",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/balance/": {
      "post": {
        "summary": "Check Balance",
        "description": "Check available SMS credits and total purchased credits for your account.",
        "operationId": "CheckBalance",
        "responses": {
          "200": {
            "description": "Balance retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "OK on success, ERROR on failure",
                  "title": "Result"
                },
                "available": {
                  "type": "number",
                  "description": "Available SMS credits",
                  "title": "Available Credits"
                },
                "purchased": {
                  "type": "number",
                  "description": "Total purchased SMS credits",
                  "title": "Purchased Credits"
                },
                "code": {
                  "type": "string",
                  "description": "Error code (only present on error)",
                  "title": "Error Code"
                },
                "description": {
                  "type": "string",
                  "description": "Error description (only present on error)",
                  "title": "Error Description"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "ERROR",
                  "title": "Result"
                },
                "code": {
                  "type": "string",
                  "description": "Error code (for example ERR003)",
                  "title": "Error Code"
                },
                "description": {
                  "type": "string",
                  "description": "Error description",
                  "title": "Error Description"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/senderid/": {
      "post": {
        "summary": "List Sender IDs",
        "description": "List all approved sender IDs for your kwtSMS account.",
        "operationId": "ListSenderIDs",
        "responses": {
          "200": {
            "description": "Sender IDs retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "OK on success, ERROR on failure",
                  "title": "Result"
                },
                "senderid": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of approved sender IDs",
                  "title": "Sender IDs"
                },
                "code": {
                  "type": "string",
                  "description": "Error code (only present on error)",
                  "title": "Error Code"
                },
                "description": {
                  "type": "string",
                  "description": "Error description (only present on error)",
                  "title": "Error Description"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "ERROR",
                  "title": "Result"
                },
                "code": {
                  "type": "string",
                  "description": "Error code (for example ERR003)",
                  "title": "Error Code"
                },
                "description": {
                  "type": "string",
                  "description": "Error description",
                  "title": "Error Description"
                }
              }
            }
          }
        },
        "x-ms-visibility": "advanced"
      }
    },
    "/coverage/": {
      "post": {
        "summary": "Check Coverage",
        "description": "List active country codes available for sending SMS on your account.",
        "operationId": "CheckCoverage",
        "responses": {
          "200": {
            "description": "Coverage list retrieved successfully",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "OK on success, ERROR on failure",
                  "title": "Result"
                },
                "prefixes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of active country codes",
                  "title": "Country Codes"
                },
                "code": {
                  "type": "string",
                  "description": "Error code (only present on error)",
                  "title": "Error Code"
                },
                "description": {
                  "type": "string",
                  "description": "Error description (only present on error)",
                  "title": "Error Description"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "ERROR",
                  "title": "Result"
                },
                "code": {
                  "type": "string",
                  "description": "Error code (for example ERR003)",
                  "title": "Error Code"
                },
                "description": {
                  "type": "string",
                  "description": "Error description",
                  "title": "Error Description"
                }
              }
            }
          }
        },
        "x-ms-visibility": "advanced"
      }
    },
    "/validate/": {
      "post": {
        "summary": "Validate Numbers",
        "description": "Validate phone numbers before sending. Returns numbers grouped as OK (valid), ER (format error), or NR (no route).",
        "operationId": "ValidateNumbers",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mobile": {
                  "type": "string",
                  "description": "Phone number(s) to validate, comma-separated (digits only, international format, for example 96598765432)",
                  "title": "Mobile Number(s)"
                }
              },
              "required": [
                "mobile"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validation results",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "OK on success, ERROR on failure",
                  "title": "Result"
                },
                "mobile": {
                  "type": "object",
                  "description": "Validation results grouped by status",
                  "title": "Validation Results",
                  "properties": {
                    "OK": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Valid and routable numbers",
                      "title": "Valid Numbers"
                    },
                    "ER": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Numbers with format errors",
                      "title": "Error Numbers"
                    },
                    "NR": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Numbers with no route (country not activated)",
                      "title": "No Route Numbers"
                    }
                  }
                },
                "code": {
                  "type": "string",
                  "description": "Error code (only present on error)",
                  "title": "Error Code"
                },
                "description": {
                  "type": "string",
                  "description": "Error description (only present on error)",
                  "title": "Error Description"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "ERROR",
                  "title": "Result"
                },
                "code": {
                  "type": "string",
                  "description": "Error code (for example ERR003)",
                  "title": "Error Code"
                },
                "description": {
                  "type": "string",
                  "description": "Error description",
                  "title": "Error Description"
                }
              }
            }
          }
        },
        "x-ms-visibility": "advanced"
      }
    },
    "/send/": {
      "post": {
        "summary": "Send SMS",
        "description": "Send an SMS message to one or more recipients. For bulk sends, provide comma-separated numbers (max 200 per request). Numbers must be in international format, digits only (for example 96598765432).",
        "operationId": "SendSMS",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mobile": {
                  "type": "string",
                  "description": "Recipient phone number(s), comma-separated for bulk (max 200). Digits only, international format (for example 96598765432)",
                  "title": "Mobile Number(s)"
                },
                "message": {
                  "type": "string",
                  "description": "Message content. English: 160 chars/page, Arabic: 70 chars/page. No emojis or HTML.",
                  "title": "Message"
                },
                "test": {
                  "type": "integer",
                  "description": "Set to 1 for test mode (message queued but not delivered, credits recoverable). Default: 0",
                  "title": "Test Mode",
                  "default": 0,
                  "enum": [
                    0,
                    1
                  ],
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "mobile",
                "message"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SMS send result",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "OK on success, ERROR on failure",
                  "title": "Result"
                },
                "msg-id": {
                  "type": "string",
                  "description": "Message identifier (save this for status lookups)",
                  "title": "Message ID"
                },
                "numbers": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Count of numbers accepted and dispatched",
                  "title": "Numbers Sent"
                },
                "points-charged": {
                  "type": "integer",
                  "format": "int32",
                  "description": "SMS credits deducted",
                  "title": "Points Charged"
                },
                "balance-after": {
                  "type": "number",
                  "description": "Account balance after deduction",
                  "title": "Balance After"
                },
                "unix-timestamp": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Server timestamp (GMT+3 Asia/Kuwait)",
                  "title": "Timestamp"
                },
                "code": {
                  "type": "string",
                  "description": "Error code (only present on error)",
                  "title": "Error Code"
                },
                "description": {
                  "type": "string",
                  "description": "Error description (only present on error)",
                  "title": "Error Description"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "description": "ERROR",
                  "title": "Result"
                },
                "code": {
                  "type": "string",
                  "description": "Error code (for example ERR003)",
                  "title": "Error Code"
                },
                "description": {
                  "type": "string",
                  "description": "Error description",
                  "title": "Error Description"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.kwtsms.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.kwtsms.com/privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}