{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "FDIC (Independent Publisher)",
    "description": "Banking industry data for public consumption.",
    "contact": {
      "name": "FDIC Public Data Feedback",
      "url": "https://developments.substack.com",
      "email": "dan.romano@swolcat.com"
    }
  },
  "host": "api.fdic.gov",
  "basePath": "/banks",
  "securityDefinitions": {},
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/institutions": {
      "get": {
        "description": "Returns a list of financial institutions.",
        "summary": "SearchInstitutions",
        "tags": [
          "Structure"
        ],
        "operationId": "SearchInstitutions",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter for the bank search. All values must be entered in UPPERCASE.\nExamples:\n* Filter by State name  \n`STNAME:\"West Virginia\"`    \n* Filter for any one of multiple State names  \n`STNAME:(\"West Virginia\",\"Delaware\")`\n* Filter all but a specified value  \n`!(STNAME:\"Virginia\")`  \n* Filter by last updated within an inclusive date range  \n`DATEUPDT:[\"2010-01-01\" TO \"2010-12-31\"]`\n* Filter for deposits over 50,000,000 (50000 thousands of dollars)  \n`DEP:[50000 TO *]`",
            "x-ms-summary": "Filters"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Flexible text search against institution records - currently only supporting name search. \nSearch supports text search and fuzzy matching, as opposed to filters that are exact matches. All values must be entered in UPPERCASE.\nExamples:\n* Search by name\n`NAME: Island`\n* Search by name (fuzzy match)\n`NAME: Iland`",
            "x-ms-summary": "Search"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of fields to search. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Fields"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "default": "NAME",
            "type": "string",
            "description": "Field name by which to sort returned data. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort By"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "default": "ASC",
            "type": "string",
            "description": "Indicator if ascending (ASC) or descending (DESC). All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort Order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of records to return. Default is 10 and maximum is 10,000.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "description": "The offset of page to return.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "csv"
            ],
            "type": "string",
            "description": "The format of the data to return.",
            "x-ms-summary": "Format"
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether the data should be downloaded as a file.",
            "x-ms-summary": "Download"
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filename to use when downloading data.",
            "x-ms-summary": "Filename"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/InstitutionsResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "bad input parameter",
            "headers": {}
          }
        },
        "x-ms-summary": "SearchInstitutions",
        "x-ms-visibility": "important"
      }
    },
    "/locations": {
      "get": {
        "description": "Returns locations/branches of financial institutions.",
        "summary": "SearchLocations",
        "tags": [
          "Structure"
        ],
        "operationId": "SearchLocations",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter for the location search. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Filters"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of fields to return. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Fields"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "default": "NAME",
            "type": "string",
            "description": "Field name by which to sort returned data. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort By"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "default": "ASC",
            "type": "string",
            "description": "Indicator if ascending (ASC) or descending (DESC). All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort Order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of records to return. Default is 10 and maximum is 10,000.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "description": "The offset of page to return.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "csv"
            ],
            "type": "string",
            "description": "The format of the data to return.",
            "x-ms-summary": "Format"
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether the data should be downloaded as a file.",
            "x-ms-summary": "Download"
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filename to use when downloading data.",
            "x-ms-summary": "Filename"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/LocationsResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "bad input parameter",
            "headers": {}
          }
        },
        "x-ms-summary": "SearchLocations",
        "x-ms-visibility": "important"
      }
    },
    "/history": {
      "get": {
        "description": "Returns details on structure change events",
        "summary": "GetHistory",
        "tags": [
          "History"
        ],
        "operationId": "GetHistory",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter criteria that refines the records returned. All values must be entered in UPPERCASE.\nExamples:\n* Filter by State\n`STATE:\"VIRGINIA\"`  \n* Filter all but a specified value  \n`!(STATE:\"VIRGINIA\")`  \n* Filter by Date Range\n`PROCDATE:[2020-01-01 TO 2020-02-01]`",
            "x-ms-summary": "Filters"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Flexible text search against institution records\nSearch supports text search and fuzzy matching, as opposed to filters that are exact matches. All values must be entered in UPPERCASE.\nExamples:\n* Search by Name\n`NAME: Island`\n* Search by Name (fuzzy match)\n`NAME: Iland`\n* Search by State\n`STATE: VA`",
            "x-ms-summary": "Search"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of fields of failed financial institutions to return. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Fields"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "default": "PROCDATE",
            "type": "string",
            "description": "Field name by which to sort returned data",
            "x-ms-summary": "Sort By"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "default": "ASC",
            "type": "string",
            "description": "Indicator if ascending (ASC) or descending (DESC). All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort Order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 100,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of records to return. Default is 10 and maximum is 10,000.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "description": "The offset of page to return.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "agg_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field by which data will be aggregated. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate By"
          },
          {
            "name": "agg_term_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field(s) for which aggregations will be counted for each unique term. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate Term Fields"
          },
          {
            "name": "agg_limit",
            "in": "query",
            "required": false,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The limit on how many aggregated results will be displayed",
            "x-ms-summary": "Aggregate Limit"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "csv"
            ],
            "type": "string",
            "description": "The format of the data to return.",
            "x-ms-summary": "Format"
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether the data should be downloaded as a file.",
            "x-ms-summary": "Download"
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filename to use when downloading data.",
            "x-ms-summary": "Filename"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/HistoryResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "bad input parameter",
            "headers": {}
          }
        },
        "x-ms-summary": "GetHistory",
        "x-ms-visibility": "important"
      }
    },
    "/financials": {
      "get": {
        "description": "Returns financial information for financial institutions",
        "summary": "GetFinancials",
        "tags": [
          "Financials"
        ],
        "operationId": "GetFinancials",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter criteria that refines the records included in the result. All values must be entered in UPPERCASE.\nExamples:  \n* Filter data by the numeric range  \n`ASSET:[1000 TO 9999]`",
            "x-ms-summary": "Filters"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of fields with quarterly financial data to return. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Fields"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "default": "REPDTE",
            "type": "string",
            "description": "Field name by which to sort returned data. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort By"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "default": "ASC",
            "type": "string",
            "description": "Indicator if ascending (ASC) or descending (DESC). All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort Order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of records to return. Default is 10 and maximum is 10,000. However, if the fields request is for more than 250 fields (variables), the maximum limit is 500 to ensure the request is successful.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "description": "The offset of page to return.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "agg_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field by which data will be aggregated. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate By"
          },
          {
            "name": "agg_term_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field(s) for which aggregations will be counted for each unique term. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate Term Fields"
          },
          {
            "name": "agg_sum_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field(s) for which aggregations will be summed or aggregated. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate Sum Fields"
          },
          {
            "name": "agg_limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The limit on how many aggregated results will be displayed",
            "x-ms-summary": "Aggregate Limit"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "csv"
            ],
            "type": "string",
            "description": "The format of the data to return.",
            "x-ms-summary": "Format"
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether the data should be downloaded as a file.",
            "x-ms-summary": "Download"
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filename to use when downloading data.",
            "x-ms-summary": "Filename"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/FinancialsResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "bad input parameter",
            "headers": {}
          }
        },
        "x-ms-summary": "GetFinancials",
        "x-ms-visibility": "important"
      }
    },
    "/summary": {
      "get": {
        "description": "Returns aggregate financial and structure data, subtotaled by year, regarding finanical institutions.",
        "summary": "GetHistorical",
        "tags": [
          "Historical"
        ],
        "operationId": "GetHistorical",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter criteria that refines the records included in the calculated result. All values must be entered in UPPERCASE.\nexample: >-\nSTNAME:\"Alabama\" AND YEAR:2005\nExamples:\n* Filter by Community Banks (CB) vs. Savings Institutions (SI)  \n`CB_SI:CB`  \n* Filter by State name  \n`STNAME:\"Virginia\"`    \n* Filter all but a specified value  \n`!(STNAME:\"Virginia\")`  \n* Filter for any one of multiple State names  \n`STNAME:(\"West Virginia\",\"Delaware\")`    \n* Filter data by the year range  \n`YEAR:[\"2015\" TO \"2017\"]`",
            "x-ms-summary": "Filters"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of fields with aggregated annual financial data to return. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Fields"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "default": "YEAR",
            "type": "string",
            "description": "Field name by which to sort returned data. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort By"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "default": "ASC",
            "type": "string",
            "description": "Indicator if ascending (ASC) or descending (DESC). All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort Order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of records to return. Default is 10 and maximum is 10,000.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "description": "The offset of page to return.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "agg_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field by which data will be aggregated. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate By"
          },
          {
            "name": "agg_term_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field(s) for which aggregations will be counted for each unique term. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate Term Fields"
          },
          {
            "name": "agg_sum_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field(s) for which aggregations will be summed or aggregated. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate Sum Fields"
          },
          {
            "name": "agg_limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The limit on how many aggregated results will be displayed.",
            "x-ms-summary": "Aggregate Limit"
          },
          {
            "name": "max_value",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field by which the max value is desired.",
            "x-ms-summary": "Max Value"
          },
          {
            "name": "max_value_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field that will be used to determine unique records, similar to a primary key (i.e. CERT). All values must be entered in UPPERCASE.",
            "x-ms-summary": "Max Value By"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "csv"
            ],
            "type": "string",
            "description": "The format of the data to return.",
            "x-ms-summary": "Format"
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether the data should be downloaded as a file.",
            "x-ms-summary": "Download"
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filename to use when downloading data.",
            "x-ms-summary": "Filename"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/SummaryResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "bad input parameter",
            "headers": {}
          }
        },
        "x-ms-summary": "GetHistorical",
        "x-ms-visibility": "important"
      }
    },
    "/failures": {
      "get": {
        "description": "Returns details on failed financial institutions.",
        "summary": "GetFailures",
        "tags": [
          "Failures"
        ],
        "operationId": "GetFailures",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter criteria that refines the records returned. \nExamples: All values must be entered in UPPERCASE.\n* Filter by Location              \n`CITYST:\"MEMPHIS, TN\"`  \n* Filter all but a specified value  \n`!(CITY:\"PITTSBURGH\")`  \n* Filter by institution fail year range  \n`FAILYR:[\"2015\" TO \"2016\"]`",
            "x-ms-summary": "Filters"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of fields of failed financial institutions to return. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Fields"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "default": "FAILDATE",
            "type": "string",
            "description": "Field name by which to sort returned data. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort By"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "default": "ASC",
            "type": "string",
            "description": "Indicator if ascending (ASC) or descending (DESC). All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort Order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 100,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of records to return. Default is 10 and maximum is 10,000.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "description": "The offset of page to return.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "total_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fields to sum up (in a totals response object). Only numeric columns are valid. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Total Fields"
          },
          {
            "name": "subtotal_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field by which data will be subtotaled (in totals response object). Only categorical values should be used. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Subtotal By"
          },
          {
            "name": "agg_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field by which data will be aggregated. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate By"
          },
          {
            "name": "agg_term_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field(s) for which aggregations will be counted for each unique term. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate Term Fields"
          },
          {
            "name": "agg_sum_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field(s) for which aggregations will be summed or aggregated. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate Sum Fields"
          },
          {
            "name": "agg_limit",
            "in": "query",
            "required": false,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The limit on how many aggregated results will be displayed",
            "x-ms-summary": "Aggregate Limit"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "csv"
            ],
            "type": "string",
            "description": "The format of the data to return.",
            "x-ms-summary": "Format"
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether the data should be downloaded as a file.",
            "x-ms-summary": "Download"
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filename to use when downloading data.",
            "x-ms-summary": "Filename"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/FailuresResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "bad input parameter",
            "headers": {}
          }
        },
        "x-ms-summary": "GetFailures",
        "x-ms-visibility": "important"
      }
    },
    "/sod": {
      "get": {
        "description": "Returns summary of deposits information for institutions",
        "summary": "GetSod",
        "tags": [
          "Summary of Deposits"
        ],
        "operationId": "GetSod",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter criteria that refines the records included in the result. All values must be entered in UPPERCASE.\nExamples:\n* Filter data by the numeric range\n`ASSET:[1000 TO 9999]`",
            "x-ms-summary": "Filters"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma delimited list of fields with quarterly financial data to return. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Fields"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "default": "YEAR",
            "type": "string",
            "description": "Field name by which to sort returned data. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort By"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "default": "ASC",
            "type": "string",
            "description": "Indicator if ascending (ASC) or descending (DESC). All values must be entered in UPPERCASE.",
            "x-ms-summary": "Sort Order"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 10,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The number of records to return. Default is 10 and maximum is 10,000.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "exclusiveMinimum": false,
            "description": "The offset of page to return.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "agg_by",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field by which data will be aggregated. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate By"
          },
          {
            "name": "agg_term_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field(s) for which aggregations will be counted for each unique term. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate Term Fields"
          },
          {
            "name": "agg_sum_fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The field(s) for which aggregations will be summed or aggregated. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Aggregate Sum Fields"
          },
          {
            "name": "agg_limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 10000,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The limit on how many aggregated results will be displayed",
            "x-ms-summary": "Aggregate Limit"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "csv"
            ],
            "type": "string",
            "description": "The format of the data to return.",
            "x-ms-summary": "Format"
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether the data should be downloaded as a file.",
            "x-ms-summary": "Download"
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filename to use when downloading data.",
            "x-ms-summary": "Filename"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/SodResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "bad input parameter",
            "headers": {}
          }
        },
        "x-ms-summary": "GetSod",
        "x-ms-visibility": "important"
      }
    },
    "/demographics": {
      "get": {
        "description": "Returns summary of demographic information",
        "summary": "GetDemographics",
        "tags": [
          "Demographics"
        ],
        "operationId": "GetDemographics",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter criteria that refines the records included in the result. All values must be entered in UPPERCASE.",
            "x-ms-summary": "Filters"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "csv"
            ],
            "type": "string",
            "description": "The format of the data to return.",
            "x-ms-summary": "Format"
          },
          {
            "name": "download",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether the data should be downloaded as a file.",
            "x-ms-summary": "Download"
          },
          {
            "name": "filename",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filename to use when downloading data.",
            "x-ms-summary": "Filename"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "schema": {
              "$ref": "#/definitions/DemographicsResponse"
            },
            "headers": {}
          },
          "400": {
            "description": "Bad input parameter",
            "headers": {}
          }
        },
        "x-ms-summary": "GetDemographics",
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {
    "metadata": {
      "title": "metadata",
      "type": "object",
      "properties": {
        "total": {
          "description": "Total query result count",
          "type": "integer",
          "format": "int32"
        },
        "parameters": {
          "description": "Query parameters supplied",
          "type": "object"
        },
        "index": {
          "$ref": "#/definitions/Index"
        }
      }
    },
    "totals": {
      "title": "totals",
      "description": "Total and subtotal data (additional properties based on fields selected)",
      "type": "object",
      "properties": {
        "count": {
          "description": "Total result count",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CharterClass": {
      "title": "CharterClass",
      "description": "The FDIC assigns classification codes indicating an institution's charter type (commercial bank, savings bank, or savings association), its chartering agent (state or federal government), its Federal Reserve membership status (member or nonmember), and its primary federal regulator (state-chartered institutions are subject to both federal and state supervision). These codes are:\nN - National chartered commercial bank supervised by the Office of the Comptroller of the Currency;\nSM - State charter Fed member commercial bank supervised by the Federal Reserve;\nNM - State charter Fed nonmember commercial bank supervised by the FDIC;\nSA - State or federal charter savings association supervised by the Office of Thrift Supervision or Office of the Comptroller of the Currency;\nSB - State charter savings bank supervised by the FDIC.",
      "type": "string",
      "enum": [
        "N",
        "SM",
        "NM",
        "SA",
        "SB"
      ]
    },
    "CombinedStatisticalAreaFlag_Branch": {
      "title": "CombinedStatisticalAreaFlag_Branch",
      "description": "Flag (1=Yes) indicating member of a Combined Statistical Area (CSA) as defined by the US Census Bureau Office of Management and Budget",
      "type": "string",
      "enum": [
        "0",
        "1"
      ]
    },
    "CommercialBanks_CB_vs_SavingsInstitution_SI": {
      "title": "CommercialBanks_CB_vs_SavingsInstitution_SI",
      "description": "Differentiates the summarised data between the Commercial Banks and the Savings Institutions",
      "type": "string",
      "enum": [
        "CB",
        "SI"
      ]
    },
    "Data": {
      "title": "Data",
      "type": "object",
      "properties": {
        "ACTIVE": {
          "description": "A number indicating the status of an institution. 1='Institutions that are currently open and insured by the FDIC'; 0='Institution closed or not insured by FDIC'",
          "type": "integer",
          "format": "int32"
        },
        "ADDRESS": {
          "description": "The street address in which an institution or branch office is physically located.",
          "type": "string"
        },
        "ASSET": {
          "description": "The sum of all assets owned by the institution including cash, loans, securities, bank premises and other assets. This total does not include off-balance-sheet accounts.",
          "type": "number",
          "format": "double"
        },
        "BKCLASS": {
          "title": "InstitutionClass",
          "description": "A classification code assigned by the FDIC based on the institution's charter type (commercial bank or savings institution), charter agent (state or federal), Federal Reserve membership status (Fed member, Fed non-member) and its primary federal regulator (state chartered institutions are subject to both federal and state supervision). N - Commercial bank, national (federal) charter, Fed member, and supervised by the Office of the Comptroller of the Currency (OCC); NM - Commercial bank, state charter, Fed non-member, and supervised by the Federal Deposit Insurance Corporation (FDIC); OI - Insured U.S. branch of a foreign chartered institution (IBA) and supervised by the OCC or FDIC; SB – Federal savings banks, federal charter, supervised by the OCC or before July 21,2011 the Office of Thrift Supervision (OTS); SI - State chartered stock savings banks, supervised by the FDIC; SL - State chartered stock savings and loan associations, supervised by the FDIC or before July 21,2011 the OTS; SM - Commercial bank, state charter, Fed member, and supervised by the Federal Reserve Bank (FRB); NC – Noninsured non-deposit commercial banks and/or trust companies regulated by the OCC, a state, or a territory; NS - Noninsured stock savings bank supervised by a state or territory; CU - state or federally chartered credit unions supervised by the National Credit Union Association (NCUA).",
          "type": "string",
          "enum": [
            "N",
            "SM",
            "NM",
            "SB",
            "SA",
            "OI"
          ]
        },
        "CB": {
          "description": "FDIC community banks are identified based on criteria defined in the FDIC Community Banking Study. Using detailed balance sheet and geographic data, the study defines community banks in terms of their traditional relationship banking and limited geographic scope of operations",
          "type": "string"
        },
        "CBSA": {
          "description": "Name of the Core Based Statistical Area (CBSA) as defined by the US Census Bureau Office of Management and Budget.",
          "type": "string"
        },
        "CBSA_DIV": {
          "description": "Name of the Core Based Statistical Division as defined by the US Census Bureau Office of Management and Budget.",
          "type": "string"
        },
        "CBSA_DIV_FLG": {
          "description": "A flag (1=Yes) indicating member of a Core Based Statistical Division as defined by the US Census Bureau Office of Management and Budget.",
          "type": "string"
        },
        "CBSA_DIV_NO": {
          "description": "Numeric code of the Core Based Statistical Division as defined by the US Census Bureau Office of Management and Budget.s",
          "type": "string"
        },
        "CBSA_METRO": {
          "description": "Numeric code of the Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget",
          "type": "string"
        },
        "CBSA_METRO_FLG": {
          "description": "A flag (1=Yes) used to indicate whether an branch is in a Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget",
          "type": "string"
        },
        "CBSA_METRO_NAME": {
          "description": "Name of the Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget",
          "type": "string"
        },
        "CBSA_MICRO_FLG": {
          "description": "A flag (1=Yes) used to indicate whether an branch is in a Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget",
          "type": "string"
        },
        "CBSA_NO": {
          "description": "Numeric code of the Core Based Statistical Area (CBSA) as defined by the US Census Bureau Office of Management and Budget.",
          "type": "string"
        },
        "CERT": {
          "description": "A unique NUMBER assigned by the FDIC used to identify institutions and for the issuance of insurance certificates.",
          "type": "number",
          "format": "double"
        },
        "CERTCONS": {
          "description": "FDIC certificate number of the parent bank or savings institution with which the reported institution’s financial data has been consolidated. Beginning in March 1997, both the Thrift Financial Reports and Call Reports are completed on a fully consolidated basis.  Previously, the consolidation of subsidiary depository institutions was prohibited.  Now, parent institutions are required to file consolidated reports, while their subsidiary financial institutions are still required to file separate reports.  Click on the certificate number to identify the parent bank or thrift.",
          "type": "string"
        },
        "CFPBEFFDTE": {
          "description": "Date the institution began secondary supervision by CFPB",
          "type": "string",
          "format": "date-time"
        },
        "CFPBENDDTE": {
          "description": "Date the institution ended supervision by CFPB",
          "type": "string",
          "format": "date-time"
        },
        "CFPBFLAG": {
          "description": "Indicates secondary supervision by CFPB ('0' - not supervised by CFPB, '1'- secondarily supervised by CFPB)",
          "type": "integer",
          "format": "int32"
        },
        "PRIORNAME1": {
          "description": "Previous Name of Institution 1",
          "type": "string"
        },
        "PRIORNAME2": {
          "description": "Previous Name of Institution 2"
        },
        "PRIORNAME3": {
          "description": "Previous Name of Institution 3"
        },
        "PRIORNAME4": {
          "description": "Previous Name of Institution 4"
        },
        "PRIORNAME5": {
          "description": "Previous Name of Institution 5"
        },
        "PRIORNAME6": {
          "description": "Previous Name of Institution 6"
        },
        "PRIORNAME7": {
          "description": "Previous Name of Institution 7"
        },
        "PRIORNAME8": {
          "description": "Previous Name of Institution 8"
        },
        "PRIORNAME9": {
          "description": "Previous Name of Institution 9"
        },
        "PRIORNAME10": {
          "description": "Previous Name of Institution 10"
        },
        "CHANGEC1": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "integer",
          "format": "int32"
        },
        "CHANGEC2": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC3": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC4": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC5": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC6": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC7": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC8": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC9": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC10": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC11": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC12": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC13": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC14": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "string"
        },
        "CHANGEC15": {
          "description": "FDIC code used to signify a structural event relating to an institution.",
          "type": "integer",
          "format": "int32"
        },
        "CHARTER": {
          "description": "The charter number identifying a financial institution supervised by the Office of Comptroller of Currency.",
          "type": "string"
        },
        "CHRTAGNT": {
          "description": "All Chartering Agencies - State and Federal  Comptroller of the Currency - Chartering authority for nationally chartered commercial banks and for federally chartered savings associations (The Office of Thrift Supervision (OTS) before 7/21/11)  State (includes U.S. Territories) - Chartering authority for institutions that are not chartered by the OCC or OTS",
          "type": "string"
        },
        "CITY": {
          "description": "The city in which an institution or branch office is physically located.",
          "type": "string"
        },
        "CITYHCR": {
          "description": "City in which the headquarters of the institution's regulatory high holder are physically located.",
          "type": "string"
        },
        "CLCODE": {
          "description": "A number that sub-categorizes a major class of institutions. 3 = National bank, Federal Reserve System (FRS) member; 13 = State commercial bank, FRS member; 15 = State savings, co-op, or industrial bank, FRS member; 21 = State commercial bank, not FRS member; 23 = State savings, co-op, or industrial bank, not FRS member; 25 - State mutual commercial bank, not FRS member; 33 = Federal chartered stock savings bank; 34 = Federal chartered mutual saving bank; 35 = State chartered stock savings and loan association; 36 = State chartered mutual savings and loan association; 37 = Federal chartered stock savings and loan association; 38 = Federal chartered mutual savings and loan association; 41 = State chartered stock savings bank; 42 = State chartered mutual savings bank; 43 = Federal chartered stock savings bank (historical); 44 = Federal chartered mutual savings bank (historical); 52 = Insured domestic offices of foreign banks (International Banking Act(IBA)); 50 = OCC chartered nondeposit and/or noninsured trust companies; 51 = Noninsured commercial bank; 52 = Noninsured domestic offices of foreign bank (International Banking Act); 53 = Noninsured industrial bank; 54 = State chartered nondeposit and/or noninsured trust company, not FRS member; 55 = State chartered domestic branches of foreign banks; 56 = OCC chartered domestic branches of foreign banks; 57 = New York investment company; 58 = State chartered nondeposit and/or noninsured trust company, FRS member; 59 = OTS chartered nondeposit and/or noninsured trust company; 61 = Noninsured private bank; 62 = Noninsured loan workout bank, OCC chartered; 63 = Noninsured loan workout bank, state chartered, FRS member; 64 = Noninsured loan workout bank, state chartered, not FRS member; 65 = Other holding company; 71 = Transfer agent; 81 = Noninsured stock savings bank; 82 = Noninsured mutual savings bank; 85 = Noninsured stock savings and loan association; 86 = Noninsured mutual savings and loan association; 89 = Noninsured insurance company; 91 = State chartered credit unions; 92 = Federal chartered credit unions; 93 = Privately insured state credit union.",
          "type": "string"
        },
        "CONSERVE": {
          "description": "A flag (Y=yes;N=no) that indicates if an institution is being operated in government conservatorship.",
          "type": "string"
        },
        "COUNTY": {
          "description": "The county name in which an institution or branch office is physically located.",
          "type": "string"
        },
        "CSA": {
          "description": "Name of the Combined Statistical Area (CSA) as defined by the US Census Bureau.",
          "type": "string"
        },
        "CSA_NO": {
          "description": "The numeric code that the U.S. Census Bureau Office of Management and Budget assigns for the combined statistical area (CSA) per the 2000 standards. If an institution is not defined as a CSA, the value of the field will be zero.  For more information see: http://www.census.gov/population/www/estimates/metroarea.html .",
          "type": "string"
        },
        "CSA_FLG": {
          "description": "A flag used to indicate whether an institution is in a Combined Statistical Area. 1=yes and 0=no.",
          "type": "string"
        },
        "DATEUPDT": {
          "description": "The date of the last data update.",
          "type": "string"
        },
        "DENOVO": {
          "description": "A flag used to indicate whether an institution is a new institution (not a recharter). This flag is set quarterly. For instance, if REPDTE is 3/31/98 and DENOVO equals 1, the institution was a denovo during the first quarter of 1998.",
          "type": "string"
        },
        "DEP": {
          "description": "The sum of all deposits including demand deposits, money market deposits, other savings deposits, time deposits and deposits in foreign offices.",
          "type": "number",
          "format": "double"
        },
        "DEPDOM": {
          "description": "The sum of all domestic office deposits, including demand deposits, money market deposits, other savings deposits and time deposits.",
          "type": "number",
          "format": "double"
        },
        "DOCKET": {
          "description": "An identification number assigned to institutions chartered by the Office of Thrift Supervision (OTS) or members of the Federal Housing  Finance Board (FHFB) and formerly by the Federal Home Loan Bank (FHLB) Board. The value is '00000' for institutions not members of the  FHFB.",
          "type": "string"
        },
        "EFFDATE": {
          "description": "A date indicating when an institution's change/event is effective.",
          "type": "string"
        },
        "ENDEFYMD": {
          "description": "The date that ends or closes out the last structural event relating to an institution. For closed institutions, this date represents the day that the institution became inactive.",
          "type": "string",
          "format": "date-time"
        },
        "EQ": {
          "description": "Total equity capital (includes preferred and common stock, surplus and undivided profits).",
          "type": "string"
        },
        "ESTYMD": {
          "description": "The date on which the institution began operations.",
          "type": "string"
        },
        "FDICDBS": {
          "description": "The FDIC Office assigned to the geographic area.  The eight FDIC Regions and their respective states are:    Boston - Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont  New York - Delaware, District of Columbia, Maryland, New Jersey, New York, Pennsylvania, Puerto Rico, U.S. Virgin Islands  Atlanta - Alabama, Florida, Georgia, North Carolina, South Carolina, Virginia, West Virginia  Memphis - Arkansas, Kentucky, Louisiana, Mississippi, Tennessee  Chicago - Illinois, Indiana, Michigan, Ohio, Wisconsin   Kansas City - Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, South Dakota  Dallas - Colorado, New Mexico, Oklahoma, Texas  San Francisco - Alaska, American Samoa, Arizona, California, Guam, Hawaii, Idaho, Montana, Nevada, Oregon, States of Micronesia, Utah, Washington, Wyoming",
          "type": "number",
          "format": "double"
        },
        "FDICREGN": {
          "description": "The supervisory FDIC office assigned to the institution.  The eight FDIC Supervisory Regions and their respective states are:    Boston - Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont  New York - Delaware, District of Columbia, Maryland, New Jersey, New York, Pennsylvania, Puerto Rico, U.S. Virgin Islands  Atlanta - Alabama, Florida, Georgia, North Carolina, South Carolina, Virginia, West Virginia  Memphis - Arkansas, Kentucky, Louisiana, Mississippi, Tennessee  Chicago - Illinois, Indiana, Michigan, Ohio, Wisconsin   Kansas City - Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, South Dakota  Dallas - Colorado, New Mexico, Oklahoma, Texas  San Francisco - Alaska, American Samoa, Arizona, California, Guam, Hawaii, Idaho, Montana, Nevada, Oregon, States of Micronesia, Utah, Washington, Wyoming",
          "type": "string"
        },
        "FDICSUPV": {
          "description": "The supervisory FDIC office assigned to the institution. There are seven Federal Reserve Districts, with two Districts serving one state in some instances. The list of Federal Reserve Districts and their respective states are as follows: New York: Connecticut, Delaware, Maine, Massachusetts, New Hampshire, New Jersey, New York, Pennsylvania, Puerto Rico, Rhode Island, U.S. Virgin Islands, Vermont, Atlanta: Alabama, Arkansas, Florida, Georgia, Louisiana, Mississippi, North Dakota, South Dakota, Tennessee , Chicago: Illinois, Indiana, Iowa, Kentucky, Michigan, Ohio, Wisconsin, Kansas City: Colorado, Kansas, Minnesota, Missouri, Nebraska, New Mexico, North Dakota, Oklahoma, South Dakota, Wyoming , Dallas: Arkansas, Kentucky, Louisiana, New Mexico, Texas, San Francisco: Alaska, American Samoa, Arizona, California, Guam, Hawaii, Idaho, Montana, Nevada, Oregon, States of Micronesia, Utah, Washington, Washington: Delaware, Maryland, North Carolina, South Carolina, Virginia, West Virginia",
          "type": "string"
        },
        "FED": {
          "description": "A number used to identify the Federal Reserve district in which the institution is located. 1 - Boston, 2 - New York, 3 - Philadelphia, 4 - Cleveland, 5 - Richmond, 6 - Atlanta, 7 - Chicago, 8 - St. Louis, 9 - Minneapolis, 10 - Kansas city, 11 - Dallas, 12 - San Francisco",
          "type": "string"
        },
        "FED_RSSD": {
          "description": "A unique number assigned by the Federal Reserve board as the entity's unique identifier",
          "type": "string"
        },
        "FEDCHRTR": {
          "description": "A flag used to indicate whether the institution is chartered by an agent of the federal government.",
          "type": "integer",
          "format": "int32"
        },
        "FORM31": {
          "description": "A flag (1=yes,0=no) that indicates whether and institution filed an FFIEC 031 Call Report. Commercial banks with domestic and foreign offices are required to file such a report.",
          "type": "string"
        },
        "HCTMULT": {
          "description": "A flag used to indicate whether an institution is a member of a multibank holding company 1=yes, 0=no",
          "type": "string"
        },
        "IBA": {
          "description": "Includes Bank Insurance Fund insured branches in the U.S. established by banks chartered and headquartered in foreign countries.  These institutions are regulated by one of the three Federal commercial bank regulators and submit financial data to the Federal Reserve.",
          "type": "integer",
          "format": "int32"
        },
        "INACTIVE": {
          "description": "Institutions that are currently closed but were once insured by the FDIC.",
          "type": "integer",
          "format": "int32"
        },
        "INSAGNT1": {
          "description": "Abbreviated primary insurance agency.",
          "type": "string"
        },
        "INSAGNT2": {
          "description": "As a result of the establishment of a single Deposit Insurance Fund (DIF) effective April 1, 2006, the Secondary Insurance fund is no longer applicable. previously both bif and saif bank insurance fund - institutions that are members of the bank insurance fund savings association insurance fund - Institutions that are members of the Savings Association Insurance Fund",
          "type": "string"
        },
        "INSBIF": {
          "description": "Institutions who are members of the Bank Insurance Fund. As of April 1, 2006 BIF was merged together with the Savings Institution Insurance Fund (SAIF) to create a single Deposit Insurance Fund (DIF).  All FDIC insured BIF member institutions, that are still active or open, are now insured members of DIF.",
          "type": "integer",
          "format": "int32"
        },
        "INSCOML": {
          "description": "Includes commercial banks insured by the FDIC.  These institutions are regulated by one of the three Federal commercial bank regulators (FDIC, Federal Reserve Board, or Office of the Comptroller of the Currency).  They submit financial reports to the Federal Reserve (state member banks) or the FDIC (state non-member banks and national banks).",
          "type": "integer",
          "format": "int32"
        },
        "INSDATE": {
          "description": "The date that an institution obtained federal deposit insurance.",
          "type": "string",
          "format": "date-time"
        },
        "INSDROPDATE_RAW": {
          "description": "The date that an institution relinquished federal deposit insurance.",
          "type": "string",
          "format": "date-time"
        },
        "INSDROPDATE": {
          "description": "The date that an institution relinquished federal deposit insurance.",
          "type": "string",
          "format": "date-time"
        },
        "INSDIF": {
          "description": "A flag used to indicate whether an institution is insured under the Deposit Insurance Fund (DIF).  As of April 1, 2006 the Bank Insurance Fund (BIF) was merged together with the Savings Institution Insurance Fund (SAIF) to create a single Deposit Insurance Fund (DIF).  All FDIC insured BIF and SAIF member institutions that are still active or open are now insured members of DIF.    0 = No, not DIF insured and 1 = Yes, DIF insured.  Note that institutions that became inactive prior to April 1006 will also have zero value.",
          "type": "integer",
          "format": "int32"
        },
        "INSFDIC": {
          "description": "Includes institutions insured by the FDIC.",
          "type": "number",
          "format": "double"
        },
        "INSSAIF": {
          "description": "Institutions who are members of the Savings Association Insurance Fund. As of April 1, 2006 SAIF was merged together with the Bank Insurance Fund (BIF) to create a single Deposit Insurance Fund (DIF).  All FDIC insured SAIF member institutions, that are still active or open, are now insured members of DIF.",
          "type": "integer",
          "format": "int32"
        },
        "INSSAVE": {
          "description": "Includes savings institutions insured by the FDIC that operate under state or federal banking codes applicable to thrift institutions.  These institutions are regulated by and submit financial reports to one of two Federal regulators (FDIC or Office of Thrift Supervision).",
          "type": "integer",
          "format": "int32"
        },
        "INSTAG": {
          "description": "An indicator specifying whether an institution is primarily an agricultural lending institution.",
          "type": "string"
        },
        "INSTCRCD": {
          "description": "Institutions with total loans greater than 50% of total assets and credit card loans greater than 50% of total loans, including loans that have been securitized and sold.",
          "type": "integer",
          "format": "int32"
        },
        "LATITUDE": {
          "description": "The latitude of the physical address.",
          "type": "number",
          "format": "float"
        },
        "LAW_SASSER_FLG": {
          "description": "A flag, (Y=yes;N=no) associated with OTS supervised savings associations that converted their charter to that of a commercial or savings bank.  Converted associations remain members of the SAIF, but they become subject to supervision by one of the three federal banking agencies. Not Applicable as of March 31, 2006.",
          "type": "string"
        },
        "LONGITUDE": {
          "description": "The longitude of the physical address.",
          "type": "number",
          "format": "float"
        },
        "MDI_STATUS_CODE": {
          "description": "A numeric flag used to indicate whether an institution is primarily a minority owned institution.",
          "type": "string"
        },
        "MDI_STATUS_DESC": {
          "description": "A descriptive flag used to indicate type of minority owned institution.",
          "type": "string"
        },
        "MUTUAL": {
          "description": "Banking institutions fall into one of two ownership types, stock or non-stock. An institution which sells stock to raise capital is called a stock institution. It is owned by the shareholders who benefit from profits earned by the institution. A non-stock institution, or mutual institution, is owned and controlled solely by its depositors. A mutual does not issue capital stock.",
          "type": "string"
        },
        "NAME": {
          "description": "The legal title or name of the institution.",
          "type": "string"
        },
        "NAMEHCR": {
          "description": "Regulatory top holder is assigned by the Federal Reserve Board based on ownership and control percentages. Note: Information on bank holding companies is only as of quarter-end. Regulatory top holder is any company that directly or indirectly owns, controls or has power to vote 25 percent or more of a bank's or direct holding company's shares or  controls in any manner the election of a majority of the directors or trustees of a bank or direct holding company or  exercises a controlling influence over the management or policies of a bank or direct holding company.   Information on Thrift Holding Companies that own Savings Associations but do not own banks is not currently available in the ID System.  Source:  Federal Reserve Board National Information Center data base.",
          "type": "string"
        },
        "NETINC": {
          "description": "Net interest income plus total noninterest income plus realized gains (losses) on securities and extraordinary items, less total noninterest expense, loan loss provisions and income taxes.",
          "type": "number",
          "format": "double"
        },
        "NETINCQ": {
          "description": "Quarterly net interest income plus total noninterest income plus realized gains (losses) on securities and extraordinary items, less total noninterest expense, loan loss provisions and income taxes.",
          "type": "number",
          "format": "double"
        },
        "NEWCERT": {
          "description": "A new certificate number of an already existing FDIC-insured institution resulting from either a merger or an acquisition.",
          "type": "integer",
          "format": "int32"
        },
        "OAKAR": {
          "description": "A member of one insurance fund that acquired deposits insured by the other fund, where that portion of the buyer's deposits remained insured by, and assessable by, the other fund.",
          "type": "integer",
          "format": "int32"
        },
        "OCCDIST": {
          "description": "The Office of the Comptroller of the Currency (OCC) District in  which the institution is physically located. The six OCC Districts  and their respective states are: Northeast - Connecticut, Delaware,  District of Columbia, Maine, Maryland, Massachusetts, New Hampshire,  New Jersey, New York, Pennsylvania, Puerto Rico, Rhode Island,  Vermont, U.S. Virgin Islands Southeast - Alabama, Florida, Georgia,  Mississippi, North Carolina, South Carolina, Tennessee, Virginia,  West Virginia Central - Illinois, Indiana, Kentucky, Michigan,  Ohio, Wisconsin Midwest - Iowa, Kansas, Minnesota, Missouri,  Nebraska, North Dakota, South Dakota Southwest - Arkansas,  Louisiana, New Mexico, Oklahoma, Texas West - Alaska, American  Samoa, Arizona, California, Colorado, Guam, Hawaii, Idaho, Montana,  Nevada, Oregon, States of Micronesia, Utah, Washington, Wyoming",
          "type": "string"
        },
        "OFFDOM": {
          "description": "The number of domestic offices (including headquarters) operated by active institutions in the 50 states of the U.S.A.",
          "type": "number",
          "format": "double"
        },
        "OFFFOR": {
          "description": "The number of foreign offices (outside the U.S.) operated by the institution.",
          "type": "number",
          "format": "double"
        },
        "OFFICES": {
          "description": "A branch/office is any location, or facility, of a financial institution, including its main office, where deposit accounts are opened, deposits are accepted, checks paid, and loans granted. Some branches include, but are not limited to, brick and mortar locations, detached or attached drive-in facilities, seasonal offices, offices on military bases or government installations, paying/receiving stations or units, nondeposit offices, Internet and PhoneBanking locations where a customer can open accounts, make deposits and borrow money. A branch does not include Automated Teller Machines (ATM), Consumer Credit Offices, Contractual Offices, Customer Bank Communication Terminals (CBCT), Electronic Fund Transfer Units (EFTU), and Loan Production Offices Summary of Deposits information is required for each insured office located in any State, the District of Columbia, the Commonwealth of Puerto Rico or any U.S. territory or possession such as Guam or the U.S. Virgin Islands, without regard to the location of the main office.",
          "type": "number",
          "format": "double"
        },
        "OFFOA": {
          "description": "The number of offices operated by an FDIC-insured institution in all commonwealths and territories of the US, along with those in freely associated states under the Compact of Free Association",
          "type": "number",
          "format": "double"
        },
        "PARCERT": {
          "description": "The PARCERT number identifies the subsidiary institutions parent certificate number. Beginning in March 1997, both the Thrift Financial Reports and Call Reports are completed on a fully consolidated basis.  Previously, the consolidation of subsidiary depository institutions was prohibited.  Now, parent institutions are required to file consolidated reports, while their subsidiary financial institutions are still required to file separate reports.",
          "type": "string"
        },
        "PROCDATE": {
          "description": "A date indicating when an institution's change/event is processed.",
          "type": "string"
        },
        "QBPRCOML": {
          "description": "The Quarterly Banking Profile (QBP) Commercial Bank Region in which the institution is physically located. Select from a drop down box. regional breakdown. group data by qbp region is only available for insured commercial banks and insured savings institutions and NOT All Insured Institutions, Insured Commercial Banks by asset size and Insured Savings Institutions by asset size.",
          "type": "string"
        },
        "REGAGNT": {
          "description": "A code indicating the federal regulatory agency that provides primary supervision over an institution. OCC=Office of the Comptroller of Currency; FDIC=Federal Deposit Insurance Corporation; OTS=Office of Thrift Supervision; STATE=State; FED=Federal Reserve.",
          "type": "string"
        },
        "REGAGENT2": {
          "description": "A code indicating the federal regulatory agency that provides secondary supervision over an institution. CFPB = Consumer Financial Protection Bureau; OTS=Office of Thrift Supervision.",
          "type": "string"
        },
        "REPDTE": {
          "description": "The last day of the financial reporting period selected.",
          "type": "string"
        },
        "RISDATE": {
          "description": "The financial reporting period selected in CCYYMM format.",
          "type": "string",
          "format": "date-time"
        },
        "ROA": {
          "description": "Net income after taxes and extraordinary items (annualized) as a percent of average total assets.",
          "type": "number",
          "format": "double"
        },
        "ROAPTX": {
          "description": "Annualized pre-tax net income as a percent of average assets. Note: Includes extraordinary items and other adjustments, net of taxes.",
          "type": "number",
          "format": "double"
        },
        "ROAPTXQ": {
          "description": "Quarterly pre-tax net income as a percent of average assets. Note: Includes extraordinary items and other adjustments, net of taxes.",
          "type": "number",
          "format": "double"
        },
        "ROAQ": {
          "description": "Quarterly net income after taxes and extraordinary items as a percent of average total assets.",
          "type": "number",
          "format": "double"
        },
        "ROE": {
          "description": "Annualized net income as a percent of average equity on a consolidated basis.     Note: If retained earnings are  negative, the ratio is shown as NA.",
          "type": "number",
          "format": "double"
        },
        "ROEQ": {
          "description": "Quarterly net income (including gains or losses on securities and extraordinary items) as a percentage of average total equity capital.",
          "type": "number",
          "format": "double"
        },
        "RSSDHCR": {
          "description": "The unique number assigned by the Federal Reserve Board to the regulatory high holding company of the institution.",
          "type": "string"
        },
        "RUNDATE": {
          "description": "The day the institution information was updated.",
          "type": "string"
        },
        "SASSER": {
          "description": "OTS supervised savings associations that converted their charter to that of a commercial or savings bank.  Converted associations remain members of the SAIF, but they become subject to supervision by one of the three federal banking agencies. Not Applicable as of March 31, 2006.",
          "type": "integer",
          "format": "int32"
        },
        "SPECGRP": {
          "description": "An indicator of an institution's primary specialization in terms of asset concentration",
          "type": "number",
          "format": "double"
        },
        "SPECGRPN": {
          "description": "Name associated with the numeric indicator (SPECGRP) of an institution's primary specialization in terms of asset concentration",
          "type": "string"
        },
        "STALP": {
          "description": "The state abbreviation of the location of the institution's main office.",
          "type": "string"
        },
        "STALPHCR": {
          "description": "State location of the regulatory high holding company (either direct or indirect owner).",
          "type": "string"
        },
        "STCHRTR": {
          "description": "A flag (1=yes;0=no) that indicates if an institution is state chartered.",
          "type": "integer",
          "format": "int32"
        },
        "STCNTY": {
          "description": "A five digit number representing the state and county in which the institution is physically located.  The first two digits represent the FIPS state numeric code and the last three digits represent the FIPS county numeric code.",
          "type": "string"
        },
        "STNAME": {
          "description": "State in which the the institution is physically located. The FDIC Act defines state as any State of the United States, the District of Columbia, and any territory of the United States, Puerto Rico, Guam, American Samoa, the Trust Territory of the Pacific Islands, the Virgin Island, and the Northern Mariana Islands.",
          "type": "string"
        },
        "STNUM": {
          "description": "The Federal Information Processing Standard code used to identify states",
          "type": "string"
        },
        "SUBCHAPS": {
          "description": "The Small Business Job Protection Act of 1996 changed the Internal Revenue Code to allow financial institutions to elect Subchapter S corporation status, beginning in 1997. Banks are required to indicate on the Call Report whether there is currently in effect an election to file under Subchapter S. Thrifts have a similar requirement as of March 1998.  The most important IRS requirements to elect and maintain Subchapter S status are: There can be no more than 75 eligible shareholders and no more than one class of stock. (In general, shareholders can only be individuals, estates, and certain types of trusts. Certain retirement plans and charitable organizations will be eligible in 1998.) All shareholders must consent.  Banks and thrifts converting to Subchapter S status must use the specific charge-off method for tax purposes rather than the reserve method of accounting for bad debts and recapture tax bad debt reserves over a period of six years, if the reserve method had been used prior to conversion. (Note: even though the specific charge-off method is required for tax purposes, an adequate allowance for loan and lease losses must still be maintained on the financial statements and Call Reports.) Banks and thrifts are subject to a built-in gains (BIG) tax, if the aggregate fair market value of assets is greater than their aggregate adjusted bases on the date of conversion to Subchapter S status.     [Banks are required to indicate separately on the Call Report in December of each year, the deferred portion of income taxes reported in net income. For Subchapter S banks, some or all of their deferred tax assets and liabilities may be eliminated upon conversion to Subchapter S status; however, deferred taxes related to the BIG tax and the recapture of bad debt reserves must be recognized.].   A Subchapter S corporation is treated as a pass-through entity, similar to a partnership, for federal income tax purposes. It is generally not subject to any federal income taxes at the corporate level. Its taxable income flows through to its shareholders in proportion to their stock ownership, and the shareholders generally pay federal income taxes on their share of this taxable income. This can have the effect of reducing institutions' reported income tax expense and increasing their after-tax earnings..   The election of Subchapter S status may result in an increase in shareholders' personal tax liabilities. Therefore, S corporations typically increase the amount of earnings distributed as dividends to compensate for higher personal taxes.",
          "type": "string"
        },
        "SUPRV_FD": {
          "description": "A two-digit number indicating the FDIC Supervisory Division or Region. 02 = New York; 05 = Atlanta; 09 = Chicago; 11 = Kansas City; 13 = Dallas; 14 = San Francisco; 16 = Office of Complex Financial Institutions (CFI)",
          "type": "string"
        },
        "TE01N528": {
          "description": "URL of other public-facing internet web site the reporting institution uses to accept or solicit deposits from the public",
          "type": "string"
        },
        "TE02N528": {
          "description": "URL of other public-facing internet web site the reporting institution uses to accept or solicit deposits from the public",
          "type": "string"
        },
        "TE03N528": {
          "description": "URL of other public-facing internet web site the reporting institution uses to accept or solicit deposits from the public",
          "type": "string"
        },
        "TE04N528": {
          "description": "URL of other public-facing internet web site the reporting institution uses to accept or solicit deposits from the public",
          "type": "string"
        },
        "TE05N528": {
          "description": "URL of other public-facing internet web site the reporting institution uses to accept or solicit deposits from the public",
          "type": "string"
        },
        "TE06N528": {
          "description": "URL of other public-facing internet web site the reporting institution uses to accept or solicit deposits from the public",
          "type": "string"
        },
        "TE07N528": {
          "description": "URL of other public-facing internet web site the reporting institution uses to accept or solicit deposits from the public",
          "type": "string"
        },
        "TE08N528": {
          "description": "URL of other public-facing internet web site the reporting institution uses to accept or solicit deposits from the public",
          "type": "string"
        },
        "TE09N528": {
          "description": "URL of other public-facing internet web site the reporting institution uses to accept or solicit deposits from the public",
          "type": "string"
        },
        "TE10N528": {
          "description": "URL of other public-facing internet web site the reporting institution uses to accept or solicit deposits from the public",
          "type": "string"
        },
        "TE01N529": {
          "description": "Trade name other than the institution's legal name used to identify one of the institution's physical offices at which deposits are accepted or solicited from the public",
          "type": "string"
        },
        "TE02N529": {
          "description": "Trade name other than the institution's legal name used to identify one of the institution's physical offices at which deposits are accepted or solicited from the public",
          "type": "string"
        },
        "TE03N529": {
          "description": "Trade name other than the institution's legal name used to identify one of the institution's physical offices at which deposits are accepted or solicited from the public",
          "type": "string"
        },
        "TE04N529": {
          "description": "Trade name other than the institution's legal name used to identify one of the institution's physical offices at which deposits are accepted or solicited from the public",
          "type": "string"
        },
        "TE05N529": {
          "description": "Trade name other than the institution's legal name used to identify one of the institution's physical offices at which deposits are accepted or solicited from the public",
          "type": "string"
        },
        "TE06N529": {
          "description": "Trade name other than the institution's legal name used to identify one of the institution's physical offices at which deposits are accepted or solicited from the public",
          "type": "string"
        },
        "TRACT": {
          "description": "Beyond having trust powers granted and exercised, institutions with fiduciary assets accounts, income, or other reportable fiduciary related service",
          "type": "string"
        },
        "TRUST": {
          "description": "A number corresponding to a valid type of trust power that an institution can possess and exercise. 00=Trust Powers Not Known; 10=Full Trust Powers Granted; 11=Full Trust Powers Granted, Exercised; 12=Full Trust Powers Granted, Not Exercised; 20=Limited Trust Powers Granted; 21=Limited Trust Powers Granted, Exercised; 30=Trust Powers Not Granted; 31=Trust Powers Not Granted, But Exercised; 40=Trust Powers Grandfathered",
          "type": "string"
        },
        "ULTCERT": {
          "description": "The cert number of the last successor or acquirer of the institution",
          "type": "string"
        },
        "UNINUM": {
          "description": "FDIC's unique identifier number for holding companies, banks, branches and nondeposit subsidiaries.",
          "type": "string"
        },
        "WEBADDR": {
          "description": "The primary internet web address is the public internet site obtained from the most recent FFIEC Call Report (CALL) for commercial banks or from the supplemental information for Thrift Financial Reporters (TFR). The primary internet web address is included only for those institutions reporting an address on the most recent FFIEC Call Report or Thrift Financial Report.",
          "type": "string"
        },
        "ZIP": {
          "description": "The first three, four, or five digits of the full postal zip code representing physical location of the institution or one of its branch offices.",
          "type": "string"
        }
      }
    },
    "Data1": {
      "title": "Data1",
      "type": "object",
      "properties": {
        "ADDRESS": {
          "description": "The street address in which an institution or branch office is physically located.",
          "type": "string"
        },
        "BKCLASS": {
          "title": "InstitutionClass",
          "description": "A classification code assigned by the FDIC based on the institution's charter type (commercial bank or savings institution), charter agent (state or federal), Federal Reserve membership status (Fed member, Fed non-member) and its primary federal regulator (state chartered institutions are subject to both federal and state supervision). N - Commercial bank, national (federal) charter, Fed member, and supervised by the Office of the Comptroller of the Currency (OCC); NM - Commercial bank, state charter, Fed non-member, and supervised by the Federal Deposit Insurance Corporation (FDIC); OI - Insured U.S. branch of a foreign chartered institution (IBA) and supervised by the OCC or FDIC; SB – Federal savings banks, federal charter, supervised by the OCC or before July 21,2011 the Office of Thrift Supervision (OTS); SI - State chartered stock savings banks, supervised by the FDIC; SL - State chartered stock savings and loan associations, supervised by the FDIC or before July 21,2011 the OTS; SM - Commercial bank, state charter, Fed member, and supervised by the Federal Reserve Bank (FRB); NC – Noninsured non-deposit commercial banks and/or trust companies regulated by the OCC, a state, or a territory; NS - Noninsured stock savings bank supervised by a state or territory; CU - state or federally chartered credit unions supervised by the National Credit Union Association (NCUA).",
          "type": "string",
          "enum": [
            "N",
            "SM",
            "NM",
            "SB",
            "SA",
            "OI"
          ]
        },
        "CBSA": {
          "description": "Name of the Core Based Statistical Area (CBSA) as defined by the US Census Bureau Office of Management and Budget.",
          "type": "string"
        },
        "CBSA_DIV": {
          "description": "Name of the Core Based Statistical Division as defined by the US Census Bureau Office of Management and Budget.",
          "type": "string"
        },
        "CBSA_DIV_FLG": {
          "title": "MetropolitanDivisionsFlag",
          "description": "A flag (1=Yes) indicating member of a Core Based Statistical Division as defined by the US Census Bureau Office of Management and Budget.",
          "type": "string",
          "enum": [
            "0",
            "1"
          ]
        },
        "CBSA_DIV_NO": {
          "description": "Numeric code of the Core Based Statistical Division as defined by the US Census Bureau Office of Management and Budget.",
          "type": "string"
        },
        "CBSA_METRO": {
          "description": "Numeric code of the Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget",
          "type": "string"
        },
        "CBSA_METRO_FLG": {
          "description": "A flag (1=Yes) used to indicate whether an branch is in a Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget",
          "type": "string"
        },
        "CBSA_METRO_NAME": {
          "description": "Name of the Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget",
          "type": "string"
        },
        "CBSA_MICRO_FLG": {
          "title": "MicropolitanDivisionFlag",
          "description": "A flag (1=Yes) used to indicate whether an branch is in a Metropolitan Statistical Area as defined by the US Census Bureau Office of Management and Budget",
          "type": "string",
          "enum": [
            "0",
            "1"
          ]
        },
        "CBSA_NO": {
          "description": "Numeric code of the Core Based Statistical Area (CBSA) as defined by the US Census Bureau Office of Management and Budget.",
          "type": "string"
        },
        "CERT": {
          "description": "A unique number assigned by the FDIC used to identify institutions and for the issuance of insurance certificates.",
          "type": "string"
        },
        "CITY": {
          "description": "The city in which an institution or branch office is physically located.",
          "type": "string"
        },
        "COUNTY": {
          "description": "The county name in which an institution or branch office is physically located.",
          "type": "string"
        },
        "CSA": {
          "description": "Name of the Combined Statistical Area (CSA) as defined by the US Census Bureau.",
          "type": "string"
        },
        "CSA_FLG": {
          "title": "CombinedStatisticalAreaFlag_Branch",
          "description": "Flag (1=Yes) indicating member of a Combined Statistical Area (CSA) as defined by the US Census Bureau Office of Management and Budget",
          "type": "string",
          "enum": [
            "0",
            "1"
          ]
        },
        "CSA_NO": {
          "description": "Numeric code of the Combined Statistical Area (CSA) as defined by the US Census Bureau Office of Management and Budget",
          "type": "string"
        },
        "ESTYMD": {
          "description": "The date on which the branch began operations.",
          "type": "string"
        },
        "FI_UNINUM": {
          "description": "FDIC's unique identifier number for holding companies, banks, branches and nondeposit subsidiaries. This value maps the branch back to the parent financial institution.",
          "type": "integer",
          "format": "int32"
        },
        "LATITUDE": {
          "description": "The latitude of the physical address.",
          "type": "number",
          "format": "float"
        },
        "LONGITUDE": {
          "description": "The longitude of the physical address.",
          "type": "number",
          "format": "float"
        },
        "MDI_STATUS_CODE": {
          "description": "A numeric flag used to indicate whether an institution is primarily a minority owned institution.",
          "type": "string"
        },
        "MDI_STATUS_DESC": {
          "description": "A descriptive flag used to indicate type of minority owned institution.",
          "type": "string"
        },
        "MAINOFF": {
          "title": "MainOffice",
          "description": "Flag (1=Yes) indicating this location is the main office for the institution.",
          "type": "integer",
          "format": "int32",
          "enum": [
            0,
            1
          ]
        },
        "NAME": {
          "description": "The legal title or name of the institution.",
          "type": "string"
        },
        "OFFNAME": {
          "description": "Branch office name.",
          "type": "string"
        },
        "OFFNUM": {
          "description": "An institution's branch office number used internally by FDIC.",
          "type": "integer",
          "format": "int32"
        },
        "RUNDATE": {
          "description": "The day the institution information was updated.",
          "type": "string"
        },
        "SERVTYPE": {
          "title": "ServiceTypeCode",
          "description": "Define the various types of offices of FDIC-insured institutions. 11 - Full Service - Brick and Mortar; 12 - Full Service - Retail; 13 - Full Service - Home Banking; 14 - Full Service Mobile Office; 15 - Full Service Home/Phone Banking; 16 - Full Service Seasonal Office; 21 - Limited Service - Administrative; 22 - Limited Service - Military Facility; 23 - Limited Service - Drive Thru/Detached Facility; 24 - Limited Service - Loan Production; 25 - Limited Service - Consumer Credit; 26 - Limited Service - Contractual; 27 - Limited Service - Messenger; 28 - Limited Service - Retail; 29 - Limited Service - Mobile/Seasonal; 30 - Limited Service - Trust; 99 - Limited Service - Other Office/Branch",
          "type": "integer",
          "format": "int32",
          "enum": [
            11,
            12,
            13,
            14,
            15,
            16,
            21,
            22,
            23,
            24,
            25,
            26,
            27,
            28,
            29,
            30
          ]
        },
        "SERVTYPE_DESC": {
          "description": "Define the various types of offices of FDIC-insured institutions. 11 - Full Service - Brick and Mortar; 12 - Full Service - Retail; 13 - Full Service - Home Banking; 14 - Full Service Mobile Office; 15 - Full Service Home/Phone Banking; 16 - Full Service Seasonal Office; 21 - Limited Service - Administrative; 22 - Limited Service - Military Facility; 23 - Limited Service - Drive Thru/Detached Facility; 24 - Limited Service - Loan Production; 25 - Limited Service - Consumer Credit; 26 - Limited Service - Contractual; 27 - Limited Service - Messenger; 28 - Limited Service - Retail; 29 - Limited Service - Mobile/Seasonal; 30 - Limited Service - Trust; 99 - Limited Service - Other Office/Branch",
          "type": "string"
        },
        "STALP": {
          "description": "The state abbreviation of the location of the institution's main office.",
          "type": "string"
        },
        "STCNTY": {
          "description": "A five digit number representing the state and county in which the institution is physically located.  The first two digits represent the FIPS state numeric code and the last three digits represent the FIPS county numeric code.",
          "type": "string"
        },
        "STNAME": {
          "description": "State in which the  branch is physically located. The FDIC Act defines state as any State of the United States, the District of Columbia, and any territory of the United States, Puerto Rico, Guam, American Samoa, the Trust Territory of the Pacific Islands, the Virgin Island, and the Northern Mariana Islands.",
          "type": "string"
        },
        "UNINUM": {
          "description": "FDIC's unique identifier number for holding companies, banks, branches and nondeposit subsidiaries.",
          "type": "integer",
          "format": "int32"
        },
        "ZIP": {
          "description": "The first three, four, or five digits of the full postal zip code representing physical location of the institution or one of its branch offices.",
          "type": "string"
        }
      }
    },
    "Data2": {
      "title": "Data2",
      "type": "object",
      "properties": {
        "ALLOTHER": {
          "description": "All Other Loans",
          "type": "integer",
          "format": "int32"
        },
        "alsonew": {
          "description": "New savings institution charter created to absorb any other type of charter in its first quarter of operation.",
          "type": "integer",
          "format": "int32"
        },
        "ASSET": {
          "description": "Total Assets On A Consolidated Basis\nNote: For Banks With Foreign Operations Data For March &\nSeptember Of 1973 Through 1975 Are Reported On A\nDomestic Basis",
          "type": "integer",
          "format": "int32"
        },
        "BANKS": {
          "description": "Total Insured Commercial Banks filing 12/31 fincncial report  (See Notes to User for definition of commercial bank)",
          "type": "integer",
          "format": "int32"
        },
        "BKPREM": {
          "description": "Premises and Fixed Assets\nNote:\n(1) Premises and Fixed Assets (Including Capitalized Leases) On A Consolidated Basis\n(2) For Banks With Foreign Operations Data For March & September Of 1972 Through 1975 Was Reported On A Domestic Basis",
[...]
