{
  "swagger": "2.0",
  "info": {
    "description": "ArcGIS connects your automated workflows to resources from your ArcGIS organization. Access geoenrichment, geocoding, and routing services to add demographics and location information to your data. You can also use ArcGIS to create feature layers and fetch data from existing feature layers in your ArcGIS organization.",
    "title": "ArcGIS",
    "version": "2021.1.20",
    "contact": {
      "name": "Esri Power Automate Support",
      "url": "https://www.esri.com/powerbi/",
      "email": "powerautomate@esri.com"
    }
  },
  "host": "pa.aux.geocloud.com",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/dynamicvalues/coordinatesystems": {
      "get": {
        "summary": "Get spatial reference systems",
        "description": "Coordinate systems",
        "operationId": "GetSRS",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get SRS",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Spatial reference system name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "number",
                    "description": "Well-known ID"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dynamicvalues/geoenrichment/country": {
      "get": {
        "summary": "Get list of countries",
        "description": "Geoenrichment-countries",
        "operationId": "GetGeoenrichmentCountries",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Country list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dynamicvalues/geoenrichment/datacollection": {
      "get": {
        "summary": "Get data collections available for the country",
        "operationId": "GetGeoenrichmentDataCollections",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/country"
          }
        ],
        "responses": {
          "200": {
            "description": "Data collection list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Data collection name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dynamicvalues/geoenrichment/parameter": {
      "get": {
        "summary": "Get data collections available for the country",
        "operationId": "GetGeoenrichmentParameters",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "$ref": "#/parameters/country"
          },
          {
            "$ref": "#/parameters/datacollection"
          }
        ],
        "responses": {
          "200": {
            "description": "Parameter list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Parameter name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dynamicschema/geoenrichment": {
      "get": {
        "summary": "Retrieve form schema",
        "operationId": "GetGeoenrichmentSchema",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/areatype"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "description": "Returns the schema for the specified form"
      }
    },
    "/geoenrichment/enrich": {
      "post": {
        "summary": "Geoenrichment information",
        "description": "Get facts about a location or area. Using the GeoEnrichment service, you can get information about the people, places, and businesses in a specific area or within a certain distance or drive time from a location.",
        "operationId": "Geoenrich",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "studyarea",
            "required": true,
            "type": "string",
            "x-ms-summary": "Study area",
            "description": "Address or geometry"
          },
          {
            "$ref": "#/parameters/country"
          },
          {
            "$ref": "#/parameters/datacollection"
          },
          {
            "$ref": "#/parameters/parameter"
          },
          {
            "$ref": "#/parameters/areatype"
          },
          {
            "in": "body",
            "name": "query",
            "required": false,
            "schema": {
              "x-ms-dynamic-properties": {
                "itemValuePath": "schemas",
                "operationId": "GetGeoenrichmentSchema",
                "parameters": {
                  "areatype": {
                    "parameterReference": "areatype"
                  }
                }
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetGeoenrichmentSchema",
                "value-path": "schemas",
                "parameters": {
                  "areatype": {
                    "parameter": "areatype"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          },
          {
            "$ref": "#/parameters/srs"
          }
        ],
        "responses": {
          "200": {
            "description": "geoenrichment success",
            "schema": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "number",
                  "description": "Geoenrichment variable value",
                  "title": "Value of the variable",
                  "x-ms-summary": "Parameter value"
                },
                "parameterName": {
                  "type": "string",
                  "description": "The name of the variable that is being analyzed during the geoenrichment process.",
                  "title": "Name of the variable",
                  "x-ms-summary": "Parameter name"
                },
                "units": {
                  "type": "string",
                  "description": "Parameter units",
                  "title": "Units",
                  "x-ms-summary": "Units"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "deprecated": false
      }
    },
    "/dynamicvalues/geocode/country": {
      "get": {
        "summary": "Get list of countries",
        "description": "Geocoding-countries",
        "operationId": "GetGeocodingCountries",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Country list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "description": "Country code"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/findaddresscandidates": {
      "post": {
        "summary": "Find address candidate",
        "description": "Locate a single address using a geocode service resource. This resource provides information about candidates, including the address, location, and match score.  The result of this operation is a list of address candidates.",
        "operationId": "FindAddressCandidates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "forStorage",
            "type": "boolean",
            "required": true,
            "description": "Specifies whether the results of the operation will be persisted.",
            "default": true,
            "x-ms-summary": "Store results?"
          },
          {
            "in": "query",
            "name": "address",
            "type": "string",
            "description": "Address",
            "x-ms-summary": "Address",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "region",
            "type": "string",
            "description": "Region",
            "x-ms-summary": "Region",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "city",
            "type": "string",
            "description": "City",
            "x-ms-summary": "City",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "postal",
            "type": "string",
            "description": "ZIP or postal code",
            "x-ms-summary": "ZIP or postal code",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "country",
            "x-ms-summary": "Country",
            "x-ms-dynamic-values": {
              "operationId": "GetGeocodingCountries",
              "value-path": "id",
              "value-title": "name"
            },
            "required": false,
            "description": "Select a country",
            "x-ms-visibility": "important",
            "type": "string"
          },
          {
            "in": "query",
            "name": "locationType",
            "type": "string",
            "x-ms-summary": "Match type",
            "description": "Specifies whether to use rooftop or street entrance location for the geometry output",
            "enum": [
              "Rooftop",
              "Street"
            ],
            "x-ms-visibility": "advanced",
            "default": "Rooftop"
          },
          {
            "$ref": "#/parameters/srs"
          }
        ],
        "responses": {
          "200": {
            "description": "request success",
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Full address",
                  "description": "The locations of your data listed either as single line or multi-line results"
                },
                "countryCode": {
                  "type": "string",
                  "x-ms-summary": "Country code",
                  "description": "The country where the locations are based"
                },
                "city": {
                  "type": "string",
                  "x-ms-summary": "City",
                  "description": "The city where the locations are based"
                },
                "Geometry": {
                  "type": "object",
                  "description": "Geometry object.",
                  "properties": {
                    "x": {
                      "type": "number",
                      "description": "Longitude (X)",
                      "x-ms-summary": "Longitude (X)"
                    },
                    "y": {
                      "type": "number",
                      "description": "Latitude (Y)",
                      "x-ms-summary": "Latitude (Y)"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error message",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Error message",
                      "description": "Error message retuned from API"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "important",
        "deprecated": false
      }
    },
    "/geocodeaddresses": {
      "post": {
        "summary": "Geocode addresses",
        "description": "Find multiple (batch) addresses, place-names, and businesses and then display that information on a map. This data can be added to an existing dataset or you can create a new one. This data can be used to create new maps in all ArcGIS for Microsoft 365 products.",
        "operationId": "GeocodeAddresses",
        "x-ms-visibility": "important",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "addresses"
              ],
              "properties": {
                "addresses": {
                  "type": "string",
                  "description": "Array of addresses with well formed fields",
                  "x-ms-summary": "Addresses",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "spatialReference": {
                  "type": "object",
                  "properties": {
                    "wkid": {
                      "type": "number",
                      "description": "Well-known ID",
                      "x-ms-summary": "Spatial reference ID"
                    }
                  }
                },
                "locations": {
                  "type": "array",
                  "description": "Array of geocoded locations",
                  "items": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string",
                        "x-ms-summary": "Address",
                        "description": "Full address"
                      },
                      "location": {
                        "type": "object",
                        "description": "Geometry as x and y json",
                        "properties": {
                          "x": {
                            "type": "number",
                            "x-ms-summary": "Longitude (X)"
                          },
                          "y": {
                            "type": "number",
                            "x-ms-summary": "Latitude (Y)"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dynamicschema/featurelayer": {
      "get": {
        "summary": "Retrieve form schema",
        "operationId": "GetFeatureLayersSchema",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/locationType"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "description": "Returns the schema for the specified form"
      }
    },
    "/createfeaturelayer": {
      "post": {
        "summary": "Post Feature Layer",
        "description": "Create a feature layer in ArcGIS using data from an existing source, such as a SharePoint list. A feature layer is a grouping of similar geographic features, for example, buildings, parcels, cities, roads, and earthquake epicenters. Features can be points, lines, or polygons (areas). Feature layers are most appropriate for visualizing data on top of a basemap.",
        "operationId": "CreateFeatureLayer",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "query",
            "required": false,
            "schema": {
              "x-ms-dynamic-properties": {
                "itemValuePath": "schemas",
                "operationId": "GetFeatureLayersSchema",
                "parameters": {
                  "locationType": {
                    "parameterReference": "locationType"
                  }
                }
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetFeatureLayersSchema",
                "value-path": "schemas",
                "parameters": {
                  "locationType": {
                    "parameter": "locationType"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          },
          {
            "$ref": "#/parameters/locationType"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "serviceItemId": {
                      "type": "string",
                      "description": "Service item ID",
                      "x-ms-summary": "Service item ID"
                    },
                    "serviceurl": {
                      "type": "string",
                      "description": "Service URL",
                      "x-ms-summary": "Service URL"
                    },
                    "type": {
                      "type": "string",
                      "description": "Service type created",
                      "x-ms-summary": "Service type"
                    },
                    "locationType": {
                      "type": "string",
                      "description": "Location type used to match location",
                      "x-ms-summary": "Location type"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Error message",
                      "description": "Error message retuned from API"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dynamicvalues/featurelayer/getlayers": {
      "get": {
        "summary": "Get group layers",
        "operationId": "GetFLGroupLayers",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "deprecated": false,
        "parameters": [
          {
            "$ref": "#/parameters/searchterm"
          }
        ],
        "responses": {
          "200": {
            "description": "Parameter list success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Parameter name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Error message",
                      "description": "Error message retuned from API"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dynamicvalues/featurelayer/getfields": {
      "get": {
        "summary": "Get fields",
        "operationId": "GetFLFields",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "deprecated": false,
        "parameters": [
          {
            "$ref": "#/parameters/layer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Fields list",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Parameter name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Error message",
                      "description": "Error message retuned from API"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/geometry": {
      "get": {
        "summary": "Get geometry or boundary from Feature Layer",
        "description": "Get geometry or boundary information from a feature layer and export it as Esri JSON or to a shape column in your dataset. This data can be used in all ArcGIS for Microsoft 365 products.",
        "operationId": "GetFLBoundaries",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "deprecated": false,
        "parameters": [
          {
            "$ref": "#/parameters/searchterm"
          },
          {
            "$ref": "#/parameters/layer"
          },
          {
            "$ref": "#/parameters/field"
          },
          {
            "in": "query",
            "name": "parameter",
            "description": "Enter the search parameter",
            "type": "string",
            "x-ms-summary": "Search parameter",
            "required": true
          },
          {
            "in": "query",
            "name": "f",
            "x-ms-summary": "Geometry output format",
            "description": "Geometry output format",
            "type": "string",
            "enum": [
              "JSON",
              "GEOJSON"
            ],
            "default": "JSON",
            "x-ms-visibility": "advanced",
            "required": false
          },
          {
            "in": "query",
            "x-ms-summary": "Second Field",
            "x-ms-dynamic-values": {
              "operationId": "GetFLFields",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "layer": {
                  "parameter": "layer"
                }
              }
            },
            "required": false,
            "name": "field2",
            "description": "Select a field",
            "x-ms-visibility": "advanced",
            "type": "string"
          },
          {
            "in": "query",
            "name": "parameter2",
            "description": "Enter the second search parameter",
            "type": "string",
            "x-ms-summary": "Second search parameter",
            "x-ms-visibility": "advanced",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Get geometry success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "x-ms-summary": "Geometry object",
                  "description": "Geometry object as a JSON string"
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dynamicvalues/featureservice/userlayers": {
      "get": {
        "summary": "Get spatial reference systems",
        "operationId": "GetFeatureLayers",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/contentFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get user's feature layers",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Feature layer name",
                    "type": "string",
                    "description": "Feature Layer"
                  },
                  "id": {
                    "type": "string",
                    "description": "Feature layer id"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dynamicvalues/featureservice/getlayerfields": {
      "get": {
        "summary": "Get fields",
        "operationId": "GetFeatureLayerFields",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "internal",
        "deprecated": false,
        "parameters": [
          {
            "$ref": "#/parameters/userLayer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success - Fields list",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "x-ms-summary": "Parameter name",
                    "type": "string",
                    "description": "name"
                  },
                  "id": {
                    "type": "string",
                    "description": "id"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string",
                      "x-ms-summary": "Error message",
                      "description": "Error message retuned from API"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dynamicschema/featureservice": {
      "get": {
        "summary": "Retrieve response schema",
        "operationId": "GetFeatureLayerResponseSchema",
        "x-ms-visibility": "internal",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/userLayer"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok"
          }
        },
        "description": "Returns the schema for the specified form"
      }
    },
    "/featurelayer": {
      "get": {
        "summary": "Get data from Feature Layer",
        "description": "Connect to a feature layer in ArcGIS and pull its data and attributes into your existing dataset or create a new one. This data can be used to create new maps in all ArcGIS for Microsoft 365 products.",
        "operationId": "GetFeatureLayerData",
        "produces": [
          "application/json"
        ],
        "x-ms-visibility": "important",
        "deprecated": false,
        "x-ms-capabilities": {
          "chunkTransfer": true
        },
        "parameters": [
          {
            "in": "query",
            "name": "contentFilter",
            "x-ms-summary": "Layers in",
            "description": "Select how to filter layers",
            "type": "string",
            "enum": [
              "My content",
              "My organization",
              "My favorites"
            ],
            "default": "My content",
            "x-ms-visibility": "important",
            "required": true
          },
          {
            "$ref": "#/parameters/userLayer"
          },
          {
            "$ref": "#/parameters/layerField"
          },
          {
            "$ref": "#/parameters/comparison"
          },
          {
            "in": "query",
            "name": "parameter",
            "description": "Enter a value to search",
            "type": "string",
            "x-ms-summary": "Search parameter value",
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "type": "number",
            "x-ms-summary": "Starting count",
            "description": "When batching, this value is the starting point of the query",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "whereClause",
            "type": "string",
            "x-ms-summary": "Where",
            "description": "Input a WHERE clause to filter records in your search",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "400": {
            "description": "Error",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Parameter list success",
            "schema": {
              "x-ms-dynamic-properties": {
                "itemValuePath": "schemas",
                "operationId": "GetFeatureLayerResponseSchema",
                "parameters": {
                  "userLayer": {
                    "parameterReference": "userLayer"
                  }
                }
              },
              "x-ms-dynamic-schema": {
                "operationId": "GetFeatureLayerResponseSchema",
                "value-path": "schemas",
                "parameters": {
                  "userLayer": {
                    "parameter": "userLayer"
                  }
                }
              },
              "type": "object",
              "properties": {}
            }
          }
        }
      }
    },
    "/routing": {
      "post": {
        "summary": "Point to point routing",
        "description": "Create point-to-point routes. Points in a route can visited in the order you specify or in the order that minimizes overall travel time or distance. Routes represent the quickest or shortest path along roads to visit stops or point locations.",
        "operationId": "GetRoute",
        "x-ms-visibility": "important",
        "deprecated": false,
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "routing",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "stops"
              ],
              "properties": {
                "stops": {
                  "type": "string",
                  "description": "Stops as Latitude (Y) and Longitude (X), features, or feature service",
                  "x-ms-summary": "Routing stops",
                  "x-ms-visibility": "important"
                }
              }
            }
          },
          {
            "name": "travelModeName",
            "in": "query",
            "description": "Choose the mode of transportation for the analysis",
            "x-ms-summary": "Travel mode",
            "type": "string",
            "x-ms-visibility": "important",
            "required": false,
            "enum": [
              "Automobiles",
              "Truck",
              "Walk"
            ]
          },
          {
            "name": "findBestSequence",
            "in": "query",
            "description": "Specify whether the service should reorder stops to find the optimized route",
            "x-ms-summary": "Find best route",
            "type": "boolean",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "name": "preserveFirstStop",
            "in": "query",
            "description": "Indicate whether the service should keep the first stop fixed when reordering the stops",
            "x-ms-summary": "Preserve first stop",
            "type": "boolean",
            "x-ms-visibility": "important",
            "required": false
          },
          {
            "name": "returnDirections",
            "in": "query",
            "description": "Specify whether the service should generate driving directions for each route",
            "x-ms-summary": "Return directions",
            "type": "boolean",
            "x-ms-visibility": "important",
            "required": false,
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Directions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "x-ms-summary": "Direction text"
                      }
                    }
                  }
                },
                "Name": {
                  "type": "string",
                  "x-ms-description": "Route name",
                  "description": "Name of the route"
                },
                "Kilometers": {
                  "type": "number",
                  "x-ms-summary": "Distance in kilometers",
                  "description": "Route distance in kilometers"
                },
                "Miles": {
                  "type": "number",
                  "x-ms-summary": "Distance in miles",
                  "description": "Route distance in miles"
                },
                "TravelTime": {
                  "type": "number",
                  "x-ms-summary": "Travel time",
                  "description": "Estimated travel time in minutes"
                },
                "Geometry": {
                  "type": "object",
                  "x-ms-summary": "Route geometry",
                  "description": "Geometry object of the route"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {
    "comparison": {
      "in": "query",
      "name": "comparison",
      "x-ms-summary": "Comparison type",
      "description": "Search for values using a comparison operator such as \"equal to\" or \"greater than\"",
      "type": "string",
      "enum": [
        "Like",
        "Is not null",
        "Greater than",
        "Greater or equal to",
        "Equal to",
        "Less than or equal to",
        "Less than"
      ]
    },
    "contentFilter": {
      "in": "query",
      "name": "contentFilter",
      "x-ms-summary": "Layers in",
      "description": "Select how to filter layers",
      "type": "string",
      "enum": [
        "My content",
        "My organization",
        "My favorites"
      ],
      "default": "My content",
      "x-ms-visibility": "important",
      "required": true
    },
    "userLayer": {
      "x-ms-summary": "Feature layers",
      "x-ms-dynamic-values": {
        "operationId": "GetFeatureLayers",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "contentFilter": {
            "parameter": "contentFilter"
          }
        }
      },
      "required": true,
      "in": "query",
      "name": "userLayer",
      "description": "Select a feature layer from your ArcGIS content",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "layerField": {
      "x-ms-summary": "Available fields",
      "x-ms-dynamic-values": {
        "operationId": "GetFeatureLayerFields",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "userLayer": {
            "parameter": "userLayer"
          }
        }
      },
      "required": false,
      "in": "query",
      "name": "field",
      "description": "Select an attribute from the ArcGIS feature layer",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "locationType": {
      "name": "locationType",
      "in": "query",
      "description": "Type of location information in the columns",
      "x-ms-summary": "Location type",
      "type": "string",
      "enum": [
        "Automatic (find in file)",
        "Address",
        "Coordinates"
      ],
      "x-ms-visibility": "advanced"
    },
    "layer": {
      "x-ms-summary": "Feature layers",
      "x-ms-dynamic-values": {
        "operationId": "GetFLGroupLayers",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "searchterm": {
            "parameter": "searchterm"
          }
        }
      },
      "required": true,
      "in": "query",
      "name": "layer",
      "description": "Select a feature layer",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "field": {
      "x-ms-summary": "Field",
      "x-ms-dynamic-values": {
        "operationId": "GetFLFields",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "layer": {
            "parameter": "layer"
          }
        }
      },
      "required": true,
      "in": "query",
      "name": "field",
      "description": "Select a field",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "country": {
      "x-ms-summary": "Country",
      "x-ms-dynamic-values": {
        "operationId": "GetGeoenrichmentCountries",
        "value-path": "id",
        "value-title": "name"
      },
      "required": true,
      "in": "query",
      "name": "country",
      "description": "Select a country to see available data collections",
      "x-ms-visibility": "important",
      "type": "string",
      "default": "World"
    },
    "sourceCountry": {
      "x-ms-summary": "Country",
      "x-ms-dynamic-values": {
        "operationId": "GetGeoenrichmentCountries",
        "value-path": "id",
        "value-title": "name"
      },
      "required": false,
      "in": "query",
      "name": "sourceCountry",
      "description": "Select a country",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "searchterm": {
      "x-ms-summary": "Country",
      "x-ms-dynamic-values": {
        "operationId": "GetGeoenrichmentCountries",
        "value-path": "name",
        "value-title": "name"
      },
      "required": true,
      "in": "query",
      "name": "searchterm",
      "description": "Select a country to see available data collections",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "datacollection": {
      "x-ms-summary": "Data collection",
      "x-ms-dynamic-values": {
        "operationId": "GetGeoenrichmentDataCollections",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "country": {
            "parameter": "country"
          }
        }
      },
      "required": true,
      "in": "query",
      "name": "datacollection",
      "description": "Select a data collection",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "parameter": {
      "x-ms-summary": "Variable",
      "x-ms-dynamic-values": {
        "operationId": "GetGeoenrichmentParameters",
        "value-path": "id",
        "value-title": "name",
        "parameters": {
          "country": {
            "parameter": "country"
          },
          "datacollection": {
            "parameter": "datacollection"
          }
        }
      },
      "required": true,
      "in": "query",
      "name": "parameter",
      "description": "Select a variable from the collection",
      "x-ms-visibility": "important",
      "type": "string"
    },
    "srs": {
      "x-ms-summary": "Spatial reference system",
      "x-ms-dynamic-values": {
        "operationId": "GetSRS",
        "value-path": "id",
        "value-title": "name"
      },
      "required": false,
      "in": "query",
      "name": "srs",
      "description": "Select spatial reference system",
      "x-ms-visibility": "advanced",
      "type": "string"
    },
    "areatype": {
      "x-ms-summary": "Buffer type",
      "required": false,
      "in": "query",
      "name": "areatype",
      "description": "Type of buffer around the location",
      "x-ms-visibility": "advanced",
      "type": "string",
      "enum": [
        "Default",
        "Ring Buffer",
        "Network Service Area"
      ]
    }
  },
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://www.arcgis.com/sharing/rest/oauth2/authorize",
      "tokenUrl": "https://www.arcgis.com/sharing/rest/oauth2/token/",
      "scopes": {
        "admin": "admin"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "admin"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.esri.com/powerbi/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.esri.com/en-us/privacy/overview"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website;Productivity"
    }
  ]
}