{
  "swagger": "2.0",
  "info": {
    "title": "Winston AI",
    "description": "Winston AI sets the standard in AI content detection with its unmatched accuracy in identifying ChatGPT, GPT-4o, Google Gemini and all known AI models.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_wai@gmail.com"
    }
  },
  "host": "api.gowinston.ai",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/ai-content-detection": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "This is a standard HTTP status code. A 200 status means the request was successful.",
                  "title": "Status"
                },
                "score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "A \"human\" score between 0 and 100. A low score means our system believes that the text is written by AI, and a higher score means that the system believes that the text is written by a Human.",
                  "title": "Score"
                },
                "sentences": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "The text field contains the actual text of the sentence that was analyzed.",
                      "title": "Text"
                    },
                    "score": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The score field within each sentence object indicates the sentiment score assigned to that particular sentence by the AI.",
                      "title": "Score"
                    }
                  },
                  "description": "This is an array of sentence objects. Each object contains two fields: text and score. Please note that assessments on smaller samples are less accurate than the general score.",
                  "title": "Sentences"
                },
                "input": {
                  "type": "string",
                  "description": "The type of input we scan based on the input you provided.",
                  "title": "Input"
                },
                "attack_detected": {
                  "type": "object",
                  "properties": {
                    "zero_width_space": {
                      "type": "boolean",
                      "description": "Indicates if the text contains zero-width spaces.",
                      "title": "Zero width space"
                    },
                    "homoglyph_attack": {
                      "type": "boolean",
                      "description": "Indicates if the text contains homoglyph attacks.",
                      "title": "Homoglyph attack"
                    }
                  },
                  "description": "An object with two boolean properties indicating if the text contains zero-width spaces or homoglyph attacks.",
                  "title": "Attack detected"
                },
                "readability_score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "A readability score between 0 and 100 that indicates how easy it is to read and understand the text based on the provided language. A higher score means the text is more readable and easier to understand.",
                  "title": "Readability score"
                },
                "credits_used": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The credits_used field represents the number of credits consumed for processing your request. Each word that is processed by the API consumes one credit.",
                  "title": "Credits used"
                },
                "credits_remaining": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The credits_remaining field shows how many credits you have left in your account after your request has been processed.",
                  "title": "Credits remaining"
                },
                "version": {
                  "type": "string",
                  "description": "The model version used to generate the prediction based on the input you provided.",
                  "title": "Version"
                },
                "language": {
                  "type": "string",
                  "description": "The language of the text detected.",
                  "title": "Language"
                }
              }
            }
          }
        },
        "summary": "AI text detection",
        "operationId": "DetectAiText",
        "description": "The Human Score is a metric used by Winston AI to estimate the likelihood that a given piece of content was generated by an AI tool versus being written by a human.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text to scan. Minimum 300 characters. Texts under 600 characters may produce unreliable results and should be avoided. Maximum 150 000 characters per request.",
                  "title": "Text",
                  "x-ms-visibility": "important"
                },
                "website": {
                  "type": "string",
                  "description": "A website URL to scan. If you supply a website, the API will fetch the content of the website and scan it. The website must be publicly accessible. It's important to know that the website has priority over the text and the file, so if you give a text, a file and a website, it's the website that will be scanned.",
                  "title": "Website"
                },
                "version": {
                  "type": "string",
                  "description": "The model version to use. Our latest and most accurate version is \"4.9\". Using \"latest\" will make sure you are always using the latest version.",
                  "title": "Version",
                  "enum": [
                    "latest",
                    "4.9",
                    "4.8",
                    "4.7",
                    "4.6",
                    "4.5",
                    "4.4",
                    "4.3",
                    "4.2",
                    "4.1",
                    "4.0",
                    "3.1",
                    "3.0",
                    "2.0"
                  ]
                },
                "sentences": {
                  "type": "boolean",
                  "description": "Whether the response should include an array of sentences and their scores.",
                  "title": "Sentences"
                },
                "language": {
                  "type": "string",
                  "description": "2 letter language code. You can also use \"auto\" to automatically detect the language based on the text.",
                  "title": "Language",
                  "enum": [
                    "auto",
                    "en",
                    "fr",
                    "es",
                    "pt",
                    "nl",
                    "de",
                    "pl",
                    "it",
                    "ro",
                    "id",
                    "tl",
                    "zh"
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/v2/image-detection": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "score": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The human score that the image is likely to be generated by a human. A low score means our system believes that the image is generated by AI, and a higher score means that the system believes that the image is generated by a Human. The score is between 0 and 100. 0 for AI and 100 for Human.",
                  "title": "Score"
                },
                "human_probability": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The human probability that the image is likely to be generated by a human. The probability is between 0 and 1.",
                  "title": "Human probability"
                },
                "ai_probability": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The AI probability that the image is likely to be generated by an AI. The probability is between 0 and 1.",
                  "title": "AI probability"
                },
                "version": {
                  "type": "string",
                  "description": "The model version used to generate the prediction.",
                  "title": "Version"
                },
                "mime_type": {
                  "type": "string",
                  "description": "The mime type of the image.",
                  "title": "Mime type"
                },
                "c2pa": {
                  "type": "object",
                  "properties": {
                    "active_manifest": {
                      "type": "object",
                      "properties": {
                        "vendor": {
                          "type": "string",
                          "description": "Typically an Internet domain name (without the TLD) for the vendor (i.e. adobe, nytimes). If provided this will be used as a prefix on generated manifest labels.",
                          "title": "Vendor"
                        },
                        "claim_generator": {
                          "type": "string",
                          "description": "A UserAgent string that will let a user know what software/hardware/system produced this Manifest - names should not contain spaces (defaults to c2patool).",
                          "title": "Claim generator"
                        },
                        "title": {
                          "type": "string",
                          "description": "A human-readable string to be displayed as the title for this Manifest (defaults to the name of the file this manifest was embedded in).",
                          "title": "Title"
                        },
                        "credentials": {
                          "type": "object",
                          "properties": {},
                          "description": "An array of W3C verifiable credentials objects defined in the c2pa assertion specification. Section 7.",
                          "title": "Credentials"
                        },
                        "thumbnail": {
                          "type": "object",
                          "properties": {},
                          "description": "An object with an identifier field with a file path, and a format with the mime type of that file.",
                          "title": "Thumbnail"
                        },
                        "ingredients": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Ingredients that were used to modify the asset referenced by this Manifest (if any).",
                          "title": "Ingredients"
                        },
                        "ingredient_paths": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "File paths to assets that were used to modify the asset referenced by this Manifest (if any). This may be a JSON Ingredient definition file.",
                          "title": "Ingredient paths"
                        },
                        "assertions": {
                          "type": "object",
                          "properties": {},
                          "description": "Objects with label, and data - standard c2pa labels must match values as defined in the c2pa assertion specification.",
                          "title": "Assertions"
                        },
                        "alg": {
                          "type": "string",
                          "description": "Signing algorithm.",
                          "title": "Algorithm"
                        },
                        "ta_url": {
                          "type": "string",
                          "description": "A URL to an RFC3161 compliant Time Stamp Authority. If missing there will no secure timestamp.",
                          "title": "TA URL"
                        },
                        "private_key": {
                          "type": "string",
                          "description": "File path to a private key file.",
                          "title": "Private key"
                        },
                        "sign_cert": {
                          "type": "string",
                          "description": "File path to signing cert file.",
                          "title": "Sign cert"
                        }
                      },
                      "description": "The last manifest in the list of manifests which is the one with the set of content bindings that are able to be validated.",
                      "title": "Active manifest"
                    },
                    "manifests": {
                      "type": "object",
                      "description": "A collection of manifests attached to an asset. Each manifest contains information about the provenance of the asset. Creating or editing an asset using a C2PA-compliant device or tool (for example Adobe Photoshop) adds a new manifest to the manifest store.",
                      "title": "Manifests"
                    }
                  },
                  "description": "The Content Provenance and Authenticity (C2PA) metadata of the image. For more information about what is C2PA, please visit https://c2pa.org/",
                  "title": "C2PA"
                },
                "exif": {
                  "type": "object",
                  "properties": {
                    "DateCreated": {
                      "type": "string",
                      "description": "Designates the date and optionally the time the content of the image was created rather than the date of the creation of the digital representation.",
                      "title": "Date created"
                    },
                    "Description": {
                      "type": "string",
                      "description": "A textual description, including captions, of the image.",
                      "title": "Description"
                    },
                    "Headline": {
                      "type": "string",
                      "description": "A brief synopsis of the caption. Headline is not the same as Title.",
                      "title": "Headline"
                    },
                    "MaxAvailWidth": {
                      "type": "string",
                      "description": "The maximum available width in pixels of the original photo from which this photo has been derived by downsizing.",
                      "title": "Max avail width"
                    },
                    "MaxAvailHeight": {
                      "type": "string",
                      "description": "The maximum available height in pixels of the original photo from which this photo has been derived by downsizing.",
                      "title": "Max avail height"
                    },
                    "ImageRating": {
                      "type": "string",
                      "description": "Rating of the image by its user or supplier.",
                      "title": "Image rating"
                    },
                    "DescriptionWriter": {
                      "type": "string",
                      "description": "Identifier or the name of the person(s) involved in writing, editing or correcting the Description, Alt Text (Accessibility), or Extended Description (Accessibility) of the image.",
                      "title": "Description writer"
                    },
                    "Genre": {
                      "type": "string",
                      "description": "Artistic, style, journalistic, product or other genre(s) of the image (expressed by a term from any Controlled Vocabulary).",
                      "title": "Genre"
                    },
                    "RightsUsageTerms": {
                      "type": "string",
                      "description": "The licensing parameters of the image expressed in free-text.",
                      "title": "Right usage terms"
                    },
                    "SceneCode": {
                      "type": "string",
                      "description": "Describes the scene of a photo content. Specifies one ore more terms from the IPTC Scene-NewsCodes. Each Scene is represented as a string of 6 digits in an unordered list.",
                      "title": "Scene code"
                    },
                    "AdditionalModelInformation": {
                      "type": "string",
                      "description": "Information about the ethnicity and other facets of the model(s) in a model-released image.",
                      "title": "Additional information"
                    },
                    "Creator": {
                      "type": "string",
                      "description": "Contains the name of the photographer, but in cases where the photographer should not be identified the name of a company or organisation may be appropriate.",
                      "title": "Creator"
                    },
                    "CreditLine": {
                      "type": "string",
                      "description": "The credit to person(s) and/or organisation(s) required by the supplier of the image to be used when published. This is a free-text field.",
                      "title": "Credit line"
                    },
                    "CopyrightNotice": {
                      "type": "string",
                      "description": "Contains any necessary copyright notice for claiming the intellectual property for this photograph and should identify the current owner of the copyright for the photograph. Other entities like the creator of the photograph may be added in the corresponding field. Notes on usage rights should be provided in Rights usage terms.",
                      "title": "Copyright notice"
                    },
                    "ImageSupplier": {
                      "type": "string",
                      "description": "Identifies the most recent supplier of the image, who is not necessarily its owner or creator.",
                      "title": "Image supplier"
                    },
                    "Locationcreated": {
                      "type": "string",
                      "description": "The location the photo was taken.",
                      "title": "Location created"
                    },
                    "MinorModelAgeDisclosure": {
                      "type": "string",
                      "description": "Age of the youngest model pictured in the image, at the time that the image was made.",
                      "title": "Minor model age disclosure"
                    },
                    "WebStatementofRights": {
                      "type": "string",
                      "description": "URL referencing a web resource providing a statement of the copyright ownership and usage rights of the image.",
                      "title": "Web statement of rights"
                    },
                    "ModelAge": {
                      "type": "string",
                      "description": "Age of the human model(s) at the time this image was taken in a model released image.",
                      "title": "Model age"
                    },
                    "ImageSupplierImageID": {
                      "type": "string",
                      "description": "Optional identifier assigned by the Image Supplier to the image.",
                      "title": "Image supplier image ID"
                    },
                    "LinkedEncodedRightsExpression": {
                      "type": "string",
                      "description": "A linked rights expression using any rights expression language.",
                      "title": "Linked encoded rights expression"
                    },
                    "DataMining": {
                      "type": "string",
                      "description": "Data mining prohibition or permission, optionally with constraints.",
                      "title": "Data mining"
                    },
                    "Artwork": {
                      "type": "string",
                      "description": "A set of metadata about artwork or an object in the image.",
                      "title": "Artwork"
                    },
                    "ImageRegistryEntry": {
                      "type": "string",
                      "description": "Both a Registry Item Id and a Registry Organisation Id to record any registration of this digital image with a registry.",
                      "title": "Image registry entry"
                    },
                    "City": {
                      "type": "string",
                      "description": "Name of the city of the location shown in the image. This element is at the third level of a top-down geographical hierarchy.",
                      "title": "City"
                    },
                    "CodeofOrganisationFeaturedintheImage": {
                      "type": "string",
                      "description": "Code from a controlled vocabulary for identifying the organisation or company which is featured in the image.",
                      "title": "Code of org featured"
                    },
                    "EventIdentifier": {
                      "type": "string",
                      "description": "Identifier(s) of the specific event at which the photo was taken.",
                      "title": "Event identifier"
                    },
                    "EventName": {
                      "type": "string",
                      "description": "Names or describes the specific event at which the photo was taken.",
                      "title": "Event name"
                    },
                    "Contributor": {
                      "type": "string",
                      "description": "Party or parties (person or organisation) which contributed to the image, refinement by the role attribute.",
                      "title": "Contributor"
                    },
                    "CopyrightOwner": {
                      "type": "string",
                      "description": "Owner or owners of the copyright in the licensed image.",
                      "title": "Copyright owner"
                    },
                    "Country": {
                      "type": "string",
                      "description": "Full name of the country of the location shown in the image. This element is at the top/first level of a top-down geographical hierarchy. The full name should be expressed as a verbal name and not as a code, a code should go to the element CountryCode.",
                      "title": "Country"
                    },
                    "DigitalSourceType": {
                      "type": "string",
                      "description": "Name of the organisation or company which is featured in the image.",
                      "title": "Digital source type"
                    },
                    "PropertyReleaseId": {
                      "type": "string",
                      "description": "Identifier(s) of a Property Release document.",
                      "title": "Property release ID"
                    },
                    "PropertyReleaseStatus": {
                      "type": "string",
                      "description": "Summarises the availability and scope of property releases authorising usage of the properties appearing in the photograph.",
                      "title": "Property release status"
                    },
                    "NameofOrganisationFeaturedintheImage": {
                      "type": "string",
                      "description": "Name of the organisation or company which is featured in the image.",
                      "title": "Name of org featured"
                    },
                    "Source": {
                      "type": "string",
                      "description": "The name of a person or party who has a role in the content supply chain. This could be an agency, a member of an agency, an individual or a combination. Source could be different from Creator and from the entities in the Copyright Notice.",
                      "title": "Source"
                    },
                    "DigitalImageGUID": {
                      "type": "string",
                      "description": "Globally unique identifier for this digital image. It is created and applied by the creator of the digital image at the time of its creation . This value shall not be changed after that time.",
                      "title": "Digital image GUID"
                    },
                    "Licensor": {
                      "type": "string",
                      "description": "A person or company that should be contacted to obtain a licence for using the item or who has licensed the item.",
                      "title": "Licensor"
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Keywords to express the subject of the image. Keywords may be free text and don't have to be taken from a controlled vocabulary. Codes from the controlled vocabulary IPTC Subject NewsCodes must go to the Subject Code field.",
                      "title": "Keywords"
                    },
                    "ImageCreator": {
                      "type": "object",
                      "properties": {},
                      "description": "Creator or creators of the image.",
                      "title": "Image creator"
                    },
                    "Instructions": {
                      "type": "string",
                      "description": "InstrucAny number of instructions from the provider or creator to the receiver of the image.",
                      "title": "Instructions"
                    },
                    "Title": {
                      "type": "string",
                      "description": "A shorthand reference for the digital image. Title provides a short human readable name which can be a text and/or numeric reference. It is not the same as Headline.",
                      "title": "Title"
                    }
                  },
                  "description": "The exif metadata of the image. We currently retrieve the XMP, EXIF, and IPTC metadata of the image to help us determine if the image was AI generated.",
                  "title": "Exif"
                },
                "ai_watermark_detected": {
                  "type": "boolean",
                  "description": "Whether an AI watermark was detected in the image.",
                  "title": "AI watermark detected"
                },
                "ai_watermark_issuers": {
                  "type": "object",
                  "properties": {},
                  "description": "The list of AI watermark issuers detected in the image.",
                  "title": "AI watermark issuers"
                },
                "credits_used": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The credits_used field represents the number of credits consumed for processing your request. Each image that is processed by the API consumes 300 credits.",
                  "title": "Credits used"
                },
                "credits_remaining": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The credits_remaining field shows how many credits you have left in your account after your request has been processed.",
                  "title": "Credits remaining"
                }
              }
            }
          }
        },
        "summary": "AI image detection",
        "operationId": "DetectAiImage",
        "description": "Our image detection feature enables AI-generated image detection by verifying image metadata and using a machine learning system trained to differentiate between human and AI-generated images.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "Specifies the URL of the image to scan. The URL must be valid, publicly accessible, and point to an image in one of the following formats: JPG, JPEG, PNG, or WEBP. The image must have a minimum resolution of 256x256 pixels.",
                  "title": "URL"
                },
                "version": {
                  "type": "string",
                  "description": "The model version to use. Our latest and most accurate version is \"2\". Using \"latest\" will make sure you are always using the latest version.",
                  "title": "Version",
                  "enum": [
                    "latest",
                    "2",
                    "1"
                  ]
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/v2/plagiarism": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "number",
                  "description": "HTTP status code representing the result of the plagiarism scan request.",
                  "title": "Status"
                },
                "scanInformation": {
                  "type": "object",
                  "properties": {
                    "service": {
                      "type": "string",
                      "description": "Name of the service used for the request.",
                      "title": "Service"
                    },
                    "scanTime": {
                      "type": "string",
                      "description": "Timestamp when the scan was conducted.",
                      "title": "Scan time"
                    },
                    "inputType": {
                      "type": "string",
                      "description": "The type of input we scan based on the input you provided.",
                      "title": "Input type"
                    }
                  },
                  "description": "Some basic scan information about the request.",
                  "title": "Scan information"
                },
                "result": {
                  "type": "object",
                  "properties": {
                    "score": {
                      "type": "number",
                      "description": "Plagiarism score indicating the percentage of plagiarized content in the scanned text.",
                      "title": "Score"
                    },
                    "sourceCounts": {
                      "type": "number",
                      "description": "Number of sources identified during the scan that contain plagiarized content.",
                      "title": "Source counts"
                    },
                    "textWordCounts": {
                      "type": "number",
                      "description": "Total number of words in the scanned text.",
                      "title": "Text word counts"
                    },
                    "totalPlagiarismWords": {
                      "type": "number",
                      "description": "Total number of words identified as plagiarized.",
                      "title": "Total plagiarism words"
                    },
                    "identicalWordCounts": {
                      "type": "number",
                      "description": "Number of words identified as plagiarized that are identical to the source content.",
                      "title": "Identical word counts"
                    },
                    "similarWordCounts": {
                      "type": "number",
                      "description": "Number of words identified as plagiarized that are similar to the source content.",
                      "title": "Similar word counts"
                    }
                  },
                  "description": "The result field is the main object that contains the results of the plagiarism scan.",
                  "title": "Result"
                },
                "sources": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "score": {
                        "type": "number",
                        "description": "The plagiarism percentage score for this specific source.",
                        "title": "Score"
                      },
                      "canAccess": {
                        "type": "boolean",
                        "description": "Indicates if we were able to access the source content.",
                        "title": "Can access"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL of the source where plagiarism was found.",
                        "title": "URL"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of the source document.",
                        "title": "Title"
                      },
                      "plagiarismWords": {
                        "type": "number",
                        "description": "Number of words in the input text identified as plagiarized from this source found.",
                        "title": "Plagiarism words"
                      },
                      "identicalWordCounts": {
                        "type": "number",
                        "description": "Number of words identified as plagiarized that are identical to the source content.",
                        "title": "Identical word counts"
                      },
                      "similarWordCounts": {
                        "type": "number",
                        "description": "Number of words identified as plagiarized that are similar to the source content.",
                        "title": "Similar word counts"
                      },
                      "totalNumberOfWords": {
                        "type": "number",
                        "description": "Total number of words in the input text.",
                        "title": "Total number of words"
                      },
                      "author": {
                        "type": "string",
                        "description": "Author of the source document.",
                        "title": "Author"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description or summary of the source content.",
                        "title": "Description"
                      },
                      "publishedDate": {
                        "type": "number",
                        "description": "Timestamp of when the source was published.",
                        "title": "Published date"
                      },
                      "source": {
                        "type": "string",
                        "description": "Name of the source or publication.",
                        "title": "Source"
                      },
                      "citation": {
                        "type": "boolean",
                        "description": "Indicates if the source is cited in the input text.",
                        "title": "Citation"
                      },
                      "plagiarismFound": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "startIndex": {
                              "type": "number",
                              "description": "Starting index of the plagiarized sequence in the text.",
                              "title": "Start index"
                            },
                            "endIndex": {
                              "type": "number",
                              "description": "Ending index of the plagiarized sequence in the text.",
                              "title": "End index"
                            },
                            "sequence": {
                              "type": "string",
                              "description": "The plagiarized text sequence.",
                              "title": "Sequence"
                            }
                          }
                        },
                        "description": "List of plagiarism sequence found in the input text from this source.",
                        "title": "Plagiarism found"
                      },
                      "is_excluded": {
                        "type": "boolean",
                        "description": "Indicates if this source should be excluded from the final results.",
                        "title": "Is excluded"
                      }
                    }
                  },
                  "description": "The sources field is an array which contains one or more objects, each corresponding to a different website where matching content has been found.",
                  "title": "Sources"
                },
                "attackDetected": {
                  "type": "object",
                  "properties": {
                    "zero_width_space": {
                      "type": "boolean",
                      "description": "Indicates if the text contains zero-width spaces.",
                      "title": "Zero width space"
                    },
                    "homoglyph_attack": {
                      "type": "boolean",
                      "description": "Indicates if the text contains homoglyph attacks.",
                      "title": "Homoglyph attack"
                    }
                  },
                  "description": "An object with two boolean properties indicating if the text contains zero-width spaces or homoglyph attacks.",
                  "title": "Attack detected"
                },
                "text": {
                  "type": "string",
                  "description": "The input text that was used for the plagiarism scan.",
                  "title": "Text"
                },
                "similarWords": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "index": {
                        "type": "number",
                        "description": "Starting index of the similar word in the document.",
                        "title": "Index"
                      },
                      "word": {
                        "type": "string",
                        "description": "The similar word.",
                        "title": "Word"
                      }
                    }
                  },
                  "description": "List of similar words found in the input text.",
                  "title": "Similar words"
                },
                "citations": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The citations is an array which contains one or more objects, each corresponding to a different website where the website was cited in the provided text.",
                  "title": "Citations"
                },
                "indexes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "startIndex": {
                        "type": "number",
                        "description": "Starting index of the plagiarized sequence in the document.",
                        "title": "Start index"
                      },
                      "endIndex": {
                        "type": "number",
                        "description": "Ending index of the plagiarized sequence in the document.",
                        "title": "End index"
                      },
                      "sequence": {
                        "type": "string",
                        "description": "The plagiarized text sequence.",
                        "title": "Sequence"
                      }
                    }
                  },
                  "description": "List of plagiarism sequences found in the input text.",
                  "title": "Indexes"
                },
                "credits_used": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The credits_used field represents the number of credits consumed for processing your request. Each word that is processed by the API consumes two credits.",
                  "title": "Credits used"
                },
                "credits_remaining": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The credits_remaining field shows how many credits you have left in your account after your request has been processed.",
                  "title": "Credits remaining"
                }
              }
            }
          }
        },
        "summary": "Check plagiarism",
        "operationId": "DetectPlagiarism",
        "description": "Winston AI\u2019s plagiarism API is a powerful tool designed to check text for plagiarism by scouring the internet for similar content. It queries multiple websites and compares the input text with the content found on these websites. This can be particularly useful in academic settings, content creation, legal scenarios or any other situation where originality of content is required.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "type": "string",
                  "description": "The text to be scanned. This is required unless you provide a website or file. Each request must contain at least 100 characters and no more than 120,000 characters.",
                  "title": "Text"
                },
                "website": {
                  "type": "string",
                  "description": "A website URL to scan. If you supply a website, the API will fetch the content of the website and scan it. The website must be publicly accessible. It's important to know that the website has priority over the text and the file, so if you give a text, a file and a website, it's the website that will be scanned.",
                  "title": "Website"
                },
                "excluded_sources": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "An array of sources to exclude from the scan. The excluded sources won't be taken into account for the plagiarism scan score. Sources can either be a domain name like example.com or a url like https://example.com. If you specify a domain name, the API will exclude all the urls belonging to that domain and all subdomains.",
                  "title": "Excluded sources"
                },
                "language": {
                  "type": "string",
                  "description": "2 letter language code. We accept all languages. Default: en.",
                  "title": "Language"
                },
                "country": {
                  "type": "string",
                  "description": "The country code of the country where the text was written. We accept all country codes. Default: us. title: Country"
                }
              }
            }
          }
        ]
      }
    },
    "/v2/text-compare": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "HTTP status code representing the result of the text comparison request.",
                  "title": "Status"
                },
                "similarity_score": {
                  "type": "number",
                  "description": "Overall similarity score between the two texts (0-100). 0 means no similarity, 100 means identical.",
                  "title": "Similarity score"
                },
                "first_text": {
                  "type": "object",
                  "properties": {
                    "total_word_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total number of words in the first text.",
                      "title": "Total word count"
                    },
                    "matching_word_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of words that match with the second text.",
                      "title": "Matching word count"
                    },
                    "similarity_percentage": {
                      "type": "number",
                      "description": "Percentage of matching content in the first text.",
                      "title": "Similarity percentage"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of match (identical, similar, etc.).",
                            "title": "Type"
                          },
                          "word_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of words in this segment.",
                            "title": "Word count"
                          },
                          "index_start": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Starting index of the segment in the text.",
                            "title": "Index start"
                          },
                          "length": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Length of the segment in characters.",
                            "title": "Length"
                          }
                        }
                      },
                      "description": "List of matching segments in the first text.",
                      "title": "Items"
                    }
                  },
                  "description": "Details of the first text.",
                  "title": "First text"
                },
                "second_text": {
                  "type": "object",
                  "properties": {
                    "total_word_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total number of words in the first text.",
                      "title": "Total word count"
                    },
                    "matching_word_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Number of words that match with the second text.",
                      "title": "Matching word count"
                    },
                    "similarity_percentage": {
                      "type": "number",
                      "description": "Percentage of matching content in the first text.",
                      "title": "Similarity percentage"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Type of match (identical, similar, etc.).",
                            "title": "Type"
                          },
                          "word_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number of words in this segment.",
                            "title": "Word count"
                          },
                          "index_start": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Starting index of the segment in the text.",
                            "title": "Index start"
                          },
                          "length": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Length of the segment in characters.",
                            "title": "Length"
                          }
                        }
                      },
                      "description": "List of matching segments in the first text.",
                      "title": "Items"
                    }
                  },
                  "description": "Details of the second text.",
                  "title": "Second text"
                },
                "credits_used": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The credits_used field represents the number of credits consumed for processing your request. Each text comparison request consumes the total number of words in both texts divided by 2.",
                  "title": "Credits used"
                },
                "credits_remaining": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The credits_remaining field shows how many credits you have left in your account after your request has been processed.",
                  "title": "Credits remaining"
                }
              }
            }
          }
        },
        "summary": "Compare texts",
        "description": "Compare two texts to find similarities and differences between them. This endpoint analyzes both texts and returns detailed information about matching content, word counts, and similarity scores.",
        "operationId": "CompareTexts",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "first_text": {
                  "type": "string",
                  "description": "The first text to compare. Maximum 120,000 characters.",
                  "title": "First text"
                },
                "second_text": {
                  "type": "string",
                  "description": "The second text to compare against the first text. Maximum 120,000 characters.",
                  "title": "Second text"
                }
              },
              "required": [
                "first_text",
                "second_text"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://gowinston.ai/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://gowinston.ai/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ]
}