{
  "swagger": "2.0",
  "info": {
    "title": "Square Payments",
    "description": "Square helps millions of sellers run their business - from secure credit card processing to point of sale solutions. This connector contains actions for the following endpoints: Payments, Terminal, Orders, Subscriptions, Invoices, Catalog, Inventory and Customers.",
    "version": "1.2",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "connect.squareupsandbox.com",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/apple-pay/domains": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status of the domain registration.",
                  "title": "Status"
                }
              }
            }
          }
        },
        "summary": "Register domain for Apple Pay",
        "description": "Activates a domain for use with Apple Pay on the Web and Square. A validation is performed on this domain by Apple to ensure that it is properly set up as an Apple Pay enabled domain.",
        "operationId": "ApplePayRegister",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain_name": {
                  "type": "string",
                  "description": "A domain name as described in RFC-1034 that will be registered with Apple Pay.",
                  "title": "Domain Name"
                }
              },
              "required": [
                "domain_name"
              ]
            }
          }
        ]
      }
    },
    "/cards": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "cards": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "card": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier of the object",
                            "title": "ID"
                          },
                          "billing_address": {
                            "type": "object",
                            "properties": {
                              "address_line_1": {
                                "type": "string",
                                "description": "Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                                "title": "Address Line 1"
                              },
                              "address_line_2": {
                                "type": "string",
                                "description": "The second line of the address, if any.",
                                "title": "Address Line 2"
                              },
                              "locality": {
                                "type": "string",
                                "description": "The city or town of the address.",
                                "title": "Locality"
                              },
                              "administrative_district_level_1": {
                                "type": "string",
                                "description": "A civil entity within the address's country. In the US, this is the state.",
                                "title": "Administrative District Level 1"
                              },
                              "postal_code": {
                                "type": "string",
                                "description": "The address's postal code.",
                                "title": "Postal Code"
                              },
                              "country": {
                                "type": "string",
                                "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                                "title": "Country"
                              }
                            },
                            "title": "Billing Address"
                          },
                          "fingerprint": {
                            "type": "string",
                            "description": "Intended as a Square-assigned identifier, based on the card number, to identify the card across multiple locations within a single application.",
                            "title": "Fingerprint"
                          },
                          "bin": {
                            "type": "string",
                            "description": "The first six digits of the card number, known as the Bank Identification Number (BIN).",
                            "title": "BIN"
                          },
                          "card_brand": {
                            "type": "string",
                            "description": "The card's brand.",
                            "title": "Card Brand"
                          },
                          "card_type": {
                            "type": "string",
                            "description": "The type of the card.",
                            "title": "Card Type"
                          },
                          "cardholder_name": {
                            "type": "string",
                            "description": "The name of the cardholder.",
                            "title": "Cardholder Name"
                          },
                          "customer_id": {
                            "type": "string",
                            "description": "The ID of a customer to be associated with the card.",
                            "title": "Customer ID"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Indicates whether or not an object can be used.",
                            "title": "Enabled"
                          },
                          "exp_month": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The expiration month of the associated card as an integer between 1 and 12.",
                            "title": "Expiration Month"
                          },
                          "exp_year": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The four-digit year of the card's expiration date.",
                            "title": "Expiration Year"
                          },
                          "last_4": {
                            "type": "string",
                            "description": "The last 4 digits of the card number.",
                            "title": "Last 4"
                          },
                          "prepaid_type": {
                            "type": "string",
                            "description": "Indicates whether the Card is prepaid or not.",
                            "title": "Prepaid Type"
                          },
                          "reference_id": {
                            "type": "string",
                            "description": "An optional user-defined reference ID that associates this card with another entity in an external system.",
                            "title": "Reference ID"
                          },
                          "version": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Current version number of the card. Increments with each card update. Requests to update an existing Card object will be rejected unless the version in the request matches the current version for the Card.",
                            "title": "Version"
                          }
                        },
                        "title": "Card"
                      }
                    }
                  },
                  "title": "Cards"
                }
              }
            }
          }
        },
        "summary": "List cards",
        "description": "Retrieves a list of cards owned by the account making the request.",
        "operationId": "CardList",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "string"
          },
          {
            "name": "customer_id",
            "in": "query",
            "description": "Limit results to cards associated with the customer supplied. By default, all cards owned by the merchant are returned.",
            "x-ms-summary": "Customer ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "include_disabled",
            "in": "query",
            "description": "Includes disabled cards. By default, all enabled cards owned by the merchant are returned.",
            "x-ms-summary": "Include Disabled",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "reference_id",
            "in": "query",
            "description": "Limit results to cards associated with the reference_id supplied.",
            "x-ms-summary": "Reference ID",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sorts the returned list by when the card was created with the specified order.",
            "x-ms-summary": "Sort Order",
            "enum": [
              "ASC",
              "DESC"
            ],
            "default": "ASC",
            "required": false,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "card": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "description": "The first line of the address. Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                          "title": "Address Line 1"
                        },
                        "address_line_2": {
                          "type": "string",
                          "description": "The second line of the address, if any.",
                          "title": "Address Line 2"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The city or town of the address.",
                          "title": "Locality"
                        },
                        "administrative_district_level_1": {
                          "type": "string",
                          "description": "A civil entity within the address's country. In the US, this is the state.",
                          "title": "Administrative District Level 1"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The address's postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                          "title": "Country"
                        }
                      },
                      "title": "Billing Address"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "Intended as a Square-assigned identifier, based on the card number, to identify the card across multiple locations within a single application.",
                      "title": "Fingerprint"
                    },
                    "bin": {
                      "type": "string",
                      "description": "The first six digits of the card number, known as the Bank Identification Number (BIN).",
                      "title": "BIN"
                    },
                    "card_brand": {
                      "type": "string",
                      "description": "The card's brand.",
                      "title": "Card Brand"
                    },
                    "card_type": {
                      "type": "string",
                      "description": "The type of the card.",
                      "title": "Card Type"
                    },
                    "cardholder_name": {
                      "type": "string",
                      "description": "The name of the cardholder.",
                      "title": "Cardholder Name"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether enabled.",
                      "title": "Enabled"
                    },
                    "exp_month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The expiration month of the associated card as an integer between 1 and 12.",
                      "title": "Exp Month"
                    },
                    "exp_year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The four-digit year of the card's expiration date.",
                      "title": "Exp Year"
                    },
                    "last_4": {
                      "type": "string",
                      "description": "The last 4 digits of the card number.",
                      "title": "Last 4"
                    },
                    "prepaid_type": {
                      "type": "string",
                      "description": "Indicates whether the Card is prepaid or not.",
                      "title": "Prepaid Type"
                    },
                    "reference_id": {
                      "type": "string",
                      "description": "An optional user-defined reference ID.",
                      "title": "Reference ID"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    }
                  },
                  "title": "Card"
                }
              }
            }
          }
        },
        "summary": "Create card",
        "description": "Adds a card on file to an existing merchant.",
        "operationId": "CardCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "idempotency_key": {
                  "type": "string",
                  "description": "The idempotency key.",
                  "title": "Idempotency Key"
                },
                "source_id": {
                  "type": "string",
                  "description": "The identifier of the source.",
                  "title": "Source ID"
                },
                "card": {
                  "type": "object",
                  "properties": {
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "description": "The first line of the address. Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                          "title": "Address Line 1"
                        },
                        "address_line_2": {
                          "type": "string",
                          "description": "The second line of the address, if any.",
                          "title": "Address Line 2"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The city or town of the address.",
                          "title": "Locality"
                        },
                        "administrative_district_level_1": {
                          "type": "string",
                          "description": "A civil entity within the address's country. In the US, this is the state.",
                          "title": "Administrative District Level 1"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The address's postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                          "title": "Country"
                        }
                      },
                      "title": "Billing Address"
                    },
                    "cardholder_name": {
                      "type": "string",
                      "description": "The name of the cardholder.",
                      "title": "Cardholder Name"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "reference_id": {
                      "type": "string",
                      "description": "An optional user-defined reference ID.",
                      "title": "Reference ID"
                    }
                  },
                  "title": "Card"
                }
              }
            }
          }
        ]
      }
    },
    "/cards/{card_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "card": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "description": "The first line of the address. Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                          "title": "Address Line 1"
                        },
                        "address_line_2": {
                          "type": "string",
                          "description": "The second line of the address, if any.",
                          "title": "Address Line 2"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The city or town of the address.",
                          "title": "Locality"
                        },
                        "administrative_district_level_1": {
                          "type": "string",
                          "description": "A civil entity within the address's country. In the US, this is the state.",
                          "title": "Administrative District Level 1"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The address's postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                          "title": "Country"
                        }
                      },
                      "title": "Billing Address"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "Intended as a Square-assigned identifier, based on the card number, to identify the card across multiple locations within a single application.",
                      "title": "Fingerprint"
                    },
                    "bin": {
                      "type": "string",
                      "description": "The first six digits of the card number, known as the Bank Identification Number (BIN).",
                      "title": "BIN"
                    },
                    "card_brand": {
                      "type": "string",
                      "description": "The card's brand.",
                      "title": "Card Brand"
                    },
                    "card_type": {
                      "type": "string",
                      "description": "The type of the card.",
                      "title": "Card Type"
                    },
                    "cardholder_name": {
                      "type": "string",
                      "description": "The name of the cardholder.",
                      "title": "Cardholder Name"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether enabled.",
                      "title": "Enabled"
                    },
                    "exp_month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The expiration month of the associated card as an integer between 1 and 12.",
                      "title": "Exp Month"
                    },
                    "exp_year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The four-digit year of the card's expiration date.",
                      "title": "Exp Year"
                    },
                    "last_4": {
                      "type": "string",
                      "description": "The last 4 digits of the card number.",
                      "title": "Last 4"
                    },
                    "prepaid_type": {
                      "type": "string",
                      "description": "Indicates whether the Card is prepaid or not.",
                      "title": "Prepaid Type"
                    },
                    "reference_id": {
                      "type": "string",
                      "description": "An optional user-defined reference ID.",
                      "title": "Reference ID"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    }
                  },
                  "title": "Card"
                }
              }
            }
          }
        },
        "summary": "Retrieve card",
        "description": "Retrieves details for a specific Card.",
        "operationId": "CardRetrieve",
        "parameters": [
          {
            "name": "card_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "Card ID",
            "description": "The identifier of the card."
          }
        ]
      }
    },
    "/cards/{card_id}/disable": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "card": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "billing_address": {
                      "type": "object",
                      "properties": {
                        "address_line_1": {
                          "type": "string",
                          "description": "The first line of the address. Fields that start with address_line provide the address's most specific details, like street number, street name, and building name.",
                          "title": "Address Line 1"
                        },
                        "address_line_2": {
                          "type": "string",
                          "description": "The second line of the address, if any.",
                          "title": "Address Line 2"
                        },
                        "locality": {
                          "type": "string",
                          "description": "The city or town of the address.",
                          "title": "Locality"
                        },
                        "administrative_district_level_1": {
                          "type": "string",
                          "description": "A civil entity within the address's country. In the US, this is the state.",
                          "title": "Administrative District Level 1"
                        },
                        "postal_code": {
                          "type": "string",
                          "description": "The address's postal code.",
                          "title": "Postal Code"
                        },
                        "country": {
                          "type": "string",
                          "description": "The address's country, in ISO 3166-1-alpha-2 format.",
                          "title": "Country"
                        }
                      },
                      "title": "Billing Address"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "Intended as a Square-assigned identifier, based on the card number, to identify the card across multiple locations within a single application.",
                      "title": "Fingerprint"
                    },
                    "bin": {
                      "type": "string",
                      "description": "The first six digits of the card number, known as the Bank Identification Number (BIN).",
                      "title": "BIN"
                    },
                    "card_brand": {
                      "type": "string",
                      "description": "The card's brand.",
                      "title": "Card Brand"
                    },
                    "card_type": {
                      "type": "string",
                      "description": "The type of the card.",
                      "title": "Card Type"
                    },
                    "cardholder_name": {
                      "type": "string",
                      "description": "The name of the cardholder.",
                      "title": "Cardholder Name"
                    },
                    "customer_id": {
                      "type": "string",
                      "description": "The ID of this object representing the customer.",
                      "title": "Customer ID"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether enabled.",
                      "title": "Enabled"
                    },
                    "exp_month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The expiration month of the associated card as an integer between 1 and 12.",
                      "title": "Exp Month"
                    },
                    "exp_year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The four-digit year of the card's expiration date.",
                      "title": "Exp Year"
                    },
                    "last_4": {
                      "type": "string",
                      "description": "The last 4 digits of the card number.",
                      "title": "Last 4"
                    },
                    "prepaid_type": {
                      "type": "string",
                      "description": "Indicates whether the Card is prepaid or not.",
                      "title": "Prepaid Type"
                    },
                    "reference_id": {
                      "type": "string",
                      "description": "An optional user-defined reference ID.",
                      "title": "Reference ID"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    }
                  },
                  "title": "Card"
                }
              }
            }
          }
        },
        "summary": "Disable card",
        "description": "Disables the card, preventing any further updates or charges. Disabling an already disabled card is allowed but has no effect.",
        "operationId": "CardDisable",
        "parameters": [
          {
            "name": "card_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "Card ID",
            "description": "The identifier of the card."
          }
        ]
      }
    },
    "/card.automatically_updated": {
      "x-ms-notification-content": {
        "description": "Response"
      }
    },
    "/catalog/batch-delete": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "deleted_object_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Deleted Object IDs"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "The database timestamp of this deletion in RFC 3339 format",
                  "title": "Deleted At"
                }
              }
            }
          }
        },
        "summary": "Batch delete catalog objects",
        "description": "Deletes a set of CatalogItems based on the provided list of target IDs and returns a set of successfully deleted IDs in the response.",
        "operationId": "CatalogBatchDelete",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "object_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Object IDs"
                }
              }
            }
          }
        ]
      }
    },
    "/catalog/batch-retrieve": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "objects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of this object.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last modification timestamp in RFC 3339 format",
                        "title": "Updated At"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The current version of the object.",
                        "title": "Version"
                      },
                      "is_deleted": {
                        "type": "boolean",
                        "description": "If true, the object has been deleted from the database. Must be false for new objects being inserted. When deleted, the updated_at field will equal the deletion time.",
                        "title": "Is Deleted"
                      },
                      "present_at_all_locations": {
                        "type": "boolean",
                        "description": "If true, this object is present at all locations (including future locations), except where specified in the absent_at_location_ids field. If false, this object is not present at any locations (including future locations), except where specified in the present_at_location_ids field. If not specified, defaults to true.",
                        "title": "Present at All Locations"
                      },
                      "item_data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                            "title": "Name"
                          },
                          "title": {
                            "type": "string",
                            "description": "The item's description. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                            "title": "Description"
                          },
                          "category_id": {
                            "type": "string",
                            "description": "The ID of the item's category, if any.",
                            "title": "Category ID"
                          },
                          "tax_ids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "title": "Tax IDs"
                          },
                          "variations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of this object. Each object type has expected properties expressed in a structured format within its corresponding *_data field below.",
                                  "title": "Type"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "An identifier to reference this object.",
                                  "title": "ID"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "description": "Last modification timestamp in RFC 3339 format",
                                  "title": "Updated At"
                                },
                                "version": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The version of the object. When updating an object, the version supplied must match the version in the database, otherwise the write will be rejected as conflicting.",
                                  "title": "Version"
                                },
                                "is_deleted": {
                                  "type": "boolean",
                                  "description": "If true, the object has been deleted from the database. Must be false for new objects being inserted. When deleted, the updated_at field will equal the deletion time.",
                                  "title": "Is Deleted"
                                },
                                "present_at_all_locations": {
                                  "type": "boolean",
                                  "description": "A list of locations where the object is present, even if present_at_all_locations is false. This can include locations that are deactivated.",
                                  "title": "Present At All Locations"
                                },
                                "item_variation_data": {
                                  "type": "object",
                                  "properties": {
                                    "item_id": {
                                      "type": "string",
                                      "description": "The ID of the object with this item variation.",
                                      "title": "Item ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "This item's name. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                                      "title": "Name"
                                    },
                                    "ordinal": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The order in which this item variation should be displayed. This value is read-only.",
                                      "title": "Ordinal"
                                    },
                                    "pricing_type": {
                                      "type": "string",
                                      "description": "Indicates whether the item variation's price is fixed or determined at the time of sale.",
                                      "title": "Pricing Type"
                                    },
                                    "price_money": {
                                      "type": "object",
                                      "properties": {
                                        "amount": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The amount of money, in the smallest denomination of the currency indicated by currency. For example, when currency is USD, amount is in cents. Monetary amounts can be positive or negative. See the specific field description to determine the meaning of the sign in a particular case.",
                                          "title": "Amount"
                                        },
                                        "currency": {
                                          "type": "string",
                                          "description": "The type of currency, in ISO 4217 format. For example, the currency code for US dollars is USD.",
                                          "title": "Currency"
                                        }
                                      },
                                      "title": "Price Money"
                                    }
                                  },
                                  "title": "Item Variation Data"
                                }
                              }
                            },
                            "title": "Variations"
                          }
                        },
                        "title": "Item Data"
                      }
                    }
                  },
                  "title": "Objects"
                },
                "related_objects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of this object.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last modification timestamp in RFC 3339 format",
                        "title": "Updated At"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The current version of the object.",
                        "title": "Version"
                      },
                      "is_deleted": {
                        "type": "boolean",
                        "description": "If true, the object has been deleted from the database. Must be false for new objects being inserted. When deleted, the updated_at field will equal the deletion time.",
                        "title": "Is Deleted"
                      },
                      "present_at_all_locations": {
                        "type": "boolean",
                        "description": "If true, this object is present at all locations (including future locations), except where specified in the absent_at_location_ids field. If false, this object is not present at any locations (including future locations), except where specified in the present_at_location_ids field. If not specified, defaults to true.",
                        "title": "Present at All Locations"
                      },
                      "category_data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                            "title": "Name"
                          }
                        },
                        "title": "Category Data"
                      },
                      "tax_data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                            "title": "Name"
                          },
                          "calculation_phase": {
                            "type": "string",
                            "description": "Whether the tax is calculated based on a payment's subtotal or total.",
                            "title": "Calculation Phase"
                          },
                          "inclusion_type": {
                            "type": "string",
                            "description": "Whether the tax is ADDITIVE or INCLUSIVE.",
                            "title": "Inclusion Type"
                          },
                          "percentage": {
                            "type": "string",
                            "description": "The percentage in decimal form, using a '.' as the decimal separator and without a '%' sign. A value of 7.5 corresponds to 7.5%.",
                            "title": "Percentage"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Indicates whether or not an object can be used.",
                            "title": "Enabled"
                          }
                        },
                        "title": "Tax Data"
                      }
                    }
                  },
                  "title": "Related Objects"
                }
              }
            }
          }
        },
        "summary": "Batch retrieve catalog objects",
        "description": "Returns a set of objects based on the provided ID. Each CatalogItem returned in the set includes all of its child information including: all of its CatalogItemVariation objects, references to its CatalogModifierList objects, and the ids of any CatalogTax objects that apply to it.",
        "operationId": "CatalogBatchRetrieve",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "object_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "Object IDs"
                },
                "catalog_version": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The specific version of the catalog objects to be included in the response. This allows you to retrieve historical versions of objects. The specified version value is matched against the CatalogObjects' version attribute.",
                  "title": "Catalog Version"
                },
                "include_related_objects": {
                  "type": "boolean",
                  "description": "If true, the response will include additional objects that are related to the requested objects, as follows: If the objects field of the response contains a CatalogItem, its associated CatalogCategory objects, CatalogTax objects, CatalogImage objects and CatalogModifierLists will be returned in the related_objects field of the response. If the objects field of the response contains a CatalogItemVariation, its parent CatalogItem will be returned in the related_objects field of the response.",
                  "title": "Include Related Objects"
                }
              }
            }
          }
        ]
      }
    },
    "/catalog/batch-upsert": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "objects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of this object.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last modification timestamp in RFC 3339 format",
                        "title": "Updated At"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The current version of the object.",
                        "title": "Version"
                      },
                      "is_deleted": {
                        "type": "boolean",
                        "description": "If true, the object has been deleted from the database. Must be false for new objects being inserted. When deleted, the updated_at field will equal the deletion time.",
                        "title": "Is Deleted"
                      },
                      "present_at_all_locations": {
                        "type": "boolean",
                        "description": "If true, this object is present at all locations (including future locations), except where specified in the absent_at_location_ids field. If false, this object is not present at any locations (including future locations), except where specified in the present_at_location_ids field. If not specified, defaults to true.",
                        "title": "Present at All Locations"
                      },
                      "item_data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                            "title": "Name"
                          },
                          "title": {
                            "type": "string",
                            "description": "The item's description. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                            "title": "Description"
                          },
                          "category_id": {
                            "type": "string",
                            "description": "The ID of the item's category, if any.",
                            "title": "Category ID"
                          },
                          "tax_ids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "title": "Tax IDs"
                          },
                          "variations": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of this object. Each object type has expected properties expressed in a structured format within its corresponding *_data field below.",
                                  "title": "Type"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "An identifier to reference this object.",
                                  "title": "ID"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "description": "Last modification timestamp in RFC 3339 format",
                                  "title": "Updated At"
                                },
                                "version": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The version of the object. When updating an object, the version supplied must match the version in the database, otherwise the write will be rejected as conflicting.",
                                  "title": "Version"
                                },
                                "is_deleted": {
                                  "type": "boolean",
                                  "description": "If true, the object has been deleted from the database. Must be false for new objects being inserted. When deleted, the updated_at field will equal the deletion time.",
                                  "title": "Is Deleted"
                                },
                                "present_at_all_locations": {
                                  "type": "boolean",
                                  "description": "A list of locations where the object is present, even if present_at_all_locations is false. This can include locations that are deactivated.",
                                  "title": "Present At All Locations"
                                },
                                "item_variation_data": {
                                  "type": "object",
                                  "properties": {
                                    "item_id": {
                                      "type": "string",
                                      "description": "The ID of the object with this item variation.",
                                      "title": "Item ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "This item's name. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                                      "title": "Name"
                                    },
                                    "ordinal": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "The order in which this item variation should be displayed. This value is read-only.",
                                      "title": "Ordinal"
                                    },
                                    "pricing_type": {
                                      "type": "string",
                                      "description": "Indicates whether the item variation's price is fixed or determined at the time of sale.",
                                      "title": "Pricing Type"
                                    },
                                    "price_money": {
                                      "type": "object",
                                      "properties": {
                                        "amount": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "The amount of money, in the smallest denomination of the currency indicated by currency. For example, when currency is USD, amount is in cents. Monetary amounts can be positive or negative. See the specific field description to determine the meaning of the sign in a particular case.",
                                          "title": "Amount"
                                        },
                                        "currency": {
                                          "type": "string",
                                          "description": "The type of currency, in ISO 4217 format. For example, the currency code for US dollars is USD.",
                                          "title": "Currency"
                                        }
                                      },
                                      "title": "Price Money"
                                    }
                                  },
                                  "title": "Item Variation Data"
                                }
                              }
                            },
                            "title": "Variations"
                          }
                        },
                        "title": "Item Data"
                      },
                      "category_data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                            "title": "Name"
                          }
                        },
                        "title": "Category Data"
                      },
                      "tax_data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                            "title": "Name"
                          },
                          "calculation_phase": {
                            "type": "string",
                            "description": "Whether the tax is calculated based on a payment's subtotal or total.",
                            "title": "Calculation Phase"
                          },
                          "inclusion_type": {
                            "type": "string",
                            "description": "Whether the tax is ADDITIVE or INCLUSIVE.",
                            "title": "Inclusion Type"
                          },
                          "percentage": {
                            "type": "string",
                            "description": "The percentage in decimal form, using a '.' as the decimal separator and without a '%' sign. A value of 7.5 corresponds to 7.5%.",
                            "title": "Percentage"
                          },
                          "applies_to_custom_amounts": {
                            "type": "boolean",
                            "description": "If true, the fee applies to custom amounts entered into the Square Point of Sale app that are not associated with a particular CatalogItem.",
                            "title": "Applies To Custom Amounts"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Indicates whether or not an object can be used.",
                            "title": "Enabled"
                          }
                        },
                        "title": "Tax Data"
                      }
                    }
                  },
                  "title": "Objects"
                },
                "id_mappings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "client_object_id": {
                        "type": "string",
                        "description": "The client-supplied temporary #-prefixed ID for a new CatalogObject.",
                        "title": "Client Object ID"
                      },
                      "object_id": {
                        "type": "string",
                        "description": "The permanent ID created by the server.",
                        "title": "Object ID"
                      }
                    }
                  },
                  "title": "ID Mappings"
                }
              }
            }
          }
        },
        "summary": "Batch upsert catalog objects",
        "description": "Creates or updates up to 10,000 target objects based on the provided list of objects. The target objects are grouped into batches and each batch is inserted/updated in an all-or-nothing manner. If an object within a batch is malformed in some way, or violates a database constraint, the entire batch containing that item will be disregarded. However, other batches in the same request may still succeed. Each batch may contain up to 1,000 objects, and batches will be processed in order as long as the total object count for the request (items, variations, modifier lists, discounts, and taxes) is no more than 10,000.",
        "operationId": "CatalogBatchUpsert",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "idempotency_key": {
                  "type": "string",
                  "description": "A value you specify that uniquely identifies this request among all your requests. A common way to create a valid idempotency key is to use a Universally unique identifier (UUID).",
                  "title": "Idempotency Key"
                },
                "batches": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "objects": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "The type of this object.",
                              "title": "Type"
                            },
                            "id": {
                              "type": "string",
                              "description": "An identifier to reference this object.",
                              "title": "ID"
                            },
                            "present_at_all_locations": {
                              "type": "boolean",
                              "description": "If true, this object is present at all locations (including future locations), except where specified in the absent_at_location_ids field. If false, this object is not present at any locations (including future locations), except where specified in the present_at_location_ids field. If not specified, defaults to true.",
                              "title": "Present at All Locations"
                            },
                            "item_data": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                                  "title": "Name"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "The item's description. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                                  "title": "Description"
                                },
                                "category_id": {
                                  "type": "string",
                                  "description": "The ID of the item's category, if any.",
                                  "title": "Category ID"
                                },
                                "tax_ids": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "title": "Tax IDs"
                                },
                                "variations": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "description": "The type of this object. Each object type has expected properties expressed in a structured format within its corresponding *_data field below.",
                                        "title": "Type"
                                      },
                                      "id": {
                                        "type": "string",
                                        "description": "An identifier to reference this object.",
                                        "title": "ID"
                                      },
                                      "present_at_all_locations": {
                                        "type": "boolean",
                                        "description": "Whether present at all locations.",
                                        "title": "Present At All Locations"
                                      },
                                      "item_variation_data": {
                                        "type": "object",
                                        "properties": {
                                          "item_id": {
                                            "type": "string",
                                            "description": "The identifier of the item.",
                                            "title": "Item ID"
                                          },
                                          "name": {
                                            "type": "string",
                                            "description": "The name of the item.",
                                            "title": "Name"
                                          },
                                          "pricing_type": {
                                            "type": "string",
                                            "description": "The type of pricing.",
                                            "title": "Pricing Type"
                                          },
                                          "price_money": {
                                            "type": "object",
                                            "properties": {
                                              "amount": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "The amount.",
                                                "title": "Amount"
                                              },
                                              "currency": {
                                                "type": "string",
                                                "description": "The currency.",
                                                "title": "Currency"
                                              }
                                            },
                                            "description": "Price Money"
                                          }
                                        },
                                        "description": "Item Variation Data"
                                      }
                                    }
                                  },
                                  "title": "Variations"
                                }
                              },
                              "title": "Item Data"
                            },
                            "category_data": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                                  "title": "Name"
                                }
                              },
                              "description": "category_data"
                            },
                            "tax_data": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                                  "title": "Name"
                                },
                                "calculation_phase": {
                                  "type": "string",
                                  "description": "Whether the tax is calculated based on a payment's subtotal or total.",
                                  "title": "Calculation Phase"
                                },
                                "inclusion_type": {
                                  "type": "string",
                                  "description": "Whether the tax is ADDITIVE or INCLUSIVE.",
                                  "title": "Inclusion Type"
                                },
                                "percentage": {
                                  "type": "string",
                                  "description": "The percentage of the tax in decimal form, using a '.' as the decimal separator and without a '%' sign. A value of 7.5 corresponds to 7.5%.",
                                  "title": "Percentage"
                                },
                                "applies_to_custom_amounts": {
                                  "type": "boolean",
                                  "description": "If true, the fee applies to custom amounts entered into the Square Point of Sale app that are not associated with a particular CatalogItem.",
                                  "title": "Applies to Custom Amounts"
                                },
                                "enabled": {
                                  "type": "boolean",
                                  "description": "A Boolean flag to indicate whether the tax is displayed as enabled (true) in the Square Point of Sale app or not (false).",
                                  "title": "Enabled"
                                }
                              },
                              "title": "Tax Data"
                            }
                          }
                        },
                        "title": "Objects"
                      }
                    }
                  },
                  "title": "Batches"
                }
              }
            }
          }
        ]
      }
    },
    "/catalog/info": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "limits": {
                  "type": "object",
                  "properties": {
                    "batch_upsert_max_objects_per_batch": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of objects that may appear within a single batch in a /v2/catalog/batch-upsert request.",
                      "title": "Batch Upsert Max Objects per Batch"
                    },
                    "batch_upsert_max_total_objects": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of objects that may appear across all batches in a /v2/catalog/batch-upsert request.",
                      "title": "Batch Upsert Max Total Objects"
                    },
                    "batch_retrieve_max_object_ids": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of object IDs that may appear in a /v2/catalog/batch-retrieve request.",
                      "title": "Batch Retrieve Max Object IDs"
                    },
                    "search_max_page_limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of results that may be returned in a page of a /v2/catalog/search response.",
                      "title": "Search Max Page Limit"
                    },
                    "batch_delete_max_object_ids": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of object IDs that may be included in a single /v2/catalog/batch-delete request.",
                      "title": "Batch Delete Max Object IDs"
                    },
                    "update_item_taxes_max_item_ids": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of item IDs that may be included in a single /v2/catalog/update-item-taxes request.",
                      "title": "Update Item Taxes Max Item IDs"
                    },
                    "update_item_taxes_max_taxes_to_enable": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of tax IDs to be enabled that may be included in a single /v2/catalog/update-item-taxes request.",
                      "title": "Update Item Taxes Max Taxes to Enable"
                    },
                    "update_item_taxes_max_taxes_to_disable": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of tax IDs to be disabled that may be included in a single /v2/catalog/update-item-taxes request.",
                      "title": "Update Item Taxes Max Taxes to Disable"
                    },
                    "update_item_modifier_lists_max_item_ids": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of tax IDs to be disabled that may be included in a single /v2/catalog/update-item-taxes request.",
                      "title": "Update Item Modifier Lists Max Item IDs"
                    },
                    "update_item_modifier_lists_max_modifier_lists_to_enable": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of modifier list IDs to be enabled that may be included in a single /v2/catalog/update-item-modifier-lists request.",
                      "title": "Update Item Modifier Lists Max Modifier Lists to Enable"
                    },
                    "update_item_modifier_lists_max_modifier_lists_to_disable": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of modifier list IDs to be disabled that may be included in a single /v2/catalog/update-item-modifier-lists request.",
                      "title": "Update Item Modifier Lists Max Modifier Lists to Disable"
                    }
                  },
                  "title": "Limits"
                }
              }
            }
          }
        },
        "summary": "Catalog info",
        "description": "Retrieves information about the Square Catalog API, such as batch size limits that can be used by the BatchUpsertCatalogObjects endpoint.",
        "operationId": "CatalogInfo",
        "parameters": []
      }
    },
    "/catalog/list": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "objects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of this object.",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The unique, Square-issued identifier.",
                        "title": "ID"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last modification timestamp in RFC 3339 format",
                        "title": "Updated At"
                      },
                      "version": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The current version of the object.",
                        "title": "Version"
                      },
                      "is_deleted": {
                        "type": "boolean",
                        "description": "If true, the object has been deleted from the database. Must be false for new objects being inserted. When deleted, the updated_at field will equal the deletion time.",
                        "title": "Is Deleted"
                      },
                      "present_at_all_locations": {
                        "type": "boolean",
                        "description": "If true, this object is present at all locations (including future locations), except where specified in the absent_at_location_ids field. If false, this object is not present at any locations (including future locations), except where specified in the present_at_location_ids field. If not specified, defaults to true.",
                        "title": "Present at All Locations"
                      },
                      "category_data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                            "title": "Name"
                          }
                        },
                        "title": "Category Data"
                      },
                      "tax_data": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "The item's name. This is a searchable attribute for use in applicable query filters, its value must not be empty, and the length is of Unicode code points.",
                            "title": "Name"
                          },
                          "calculation_phase": {
                            "type": "string",
                            "description": "Whether the tax is calculated based on a payment's subtotal or total.",
                            "title": "Calculation Phase"
                          },
                          "inclusion_type": {
                            "type": "string",
                            "description": "Whether the tax is ADDITIVE or INCLUSIVE.",
                            "title": "Inclusion Type"
                          },
                          "percentage": {
                            "type": "string",
                            "description": "The percentage in decimal form, using a '.' as the decimal separator and without a '%' sign. A value of 7.5 corresponds to 7.5%.",
                            "title": "Percentage"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Indicates whether or not an object can be used.",
                            "title": "Enabled"
                          }
                        },
                        "title": "Tax Data"
                      }
                    }
                  },
                  "title": "Objects"
                }
              }
            }
          }
        },
        "summary": "List catalog",
        "description": "Returns a list of CatalogObjects that includes all objects of a set of desired types (for example, all CatalogItem and CatalogTax objects) in the catalog. ListCatalog does not return deleted catalog items.",
        "operationId": "CatalogList",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The pagination cursor returned by a previous call to this endpoint.",
            "x-ms-summary": "Cursor",
            "required": false,
            "type": "integer"
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An optional case-insensitive, comma-separated list of object types to retrieve. The valid values are defined in the CatalogObjectType enum, including ITEM, ITEM_VARIATION, CATEGORY, DISCOUNT, TAX, MODIFIER, MODIFIER_LIST, or IMAGE. If this is unspecified, the operation returns objects of all the types at the version of the Square API used to make the request.",
            "x-ms-summary": "Types"
          }
        ]
      }
    },
    "/catalog/object": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "catalog_object": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type of this object.",
                      "title": "Type"
                    },
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "The timestamp specifying the most recent update time of this object, in RFC 3339 format.",
                      "title": "Updated At"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current version of this object.",
                      "title": "Version"
                    },
                    "is_deleted": {
                      "type": "boolean",
                      "description": "If true, the object has been deleted from the database. Must be false for new objects being inserted. When deleted, the updated_at field will equal the deletion time.",
                      "title": "Is Deleted"
                    },
                    "present_at_all_locations": {
                      "type": "boolean",
                      "description": "If true, this object is present at all locations (including future locations), except where specified in the absent_at_location_ids field. If false, this object is not present at any locations (including future locations), except where specified in the present_at_location_ids field. If not specified, defaults to true.",
                      "title": "present_at_all_locations"
                    },
                    "item_data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "title": {
                          "type": "string",
                          "description": "The item's description. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                          "title": "Description"
                        },
                        "abbreviation": {
                          "type": "string",
                          "description": "The text of the item's display label in the Square Point of Sale app. Only up to the first five characters of the string are used. This attribute is searchable, and its value length is of Unicode code points.",
                          "title": "Abbreviation"
                        },
                        "variations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The type of this object.",
                                "title": "Type"
                              },
                              "id": {
                                "type": "string",
                                "description": "An identifier to reference this object in the catalog.",
                                "title": "ID"
                              },
                              "updated_at": {
                                "type": "string",
                                "description": "Last modification timestamp in RFC 3339 format.",
                                "title": "Updated At"
                              },
                              "version": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The version of the object. When updating an object, the version supplied must match the version in the database, otherwise the write will be rejected as conflicting.",
                                "title": "Version"
                              },
                              "is_deleted": {
                                "type": "boolean",
                                "description": "If true, the object has been deleted from the database. Must be false for new objects being inserted. When deleted, the updated_at field will equal the deletion time.",
                                "title": "Is Deleted"
                              },
                              "present_at_all_locations": {
                                "type": "boolean",
                                "description": "If true, this object is present at all locations (including future locations), except where specified in the absent_at_location_ids field. If false, this object is not present at any locations (including future locations), except where specified in the present_at_location_ids field. If not specified, defaults to true.",
                                "title": "Present at All Locations"
                              },
                              "item_variation_data": {
                                "type": "object",
                                "properties": {
                                  "item_id": {
                                    "type": "string",
                                    "description": "The ID of the CatalogItem associated with this item variation.",
                                    "title": "Item ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "The item variation's name. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                                    "title": "Name"
                                  },
                                  "ordinal": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The order in which this item variation should be displayed. This value is read-only. On writes, the ordinal for each item variation within a parent CatalogItem is set according to the item variations's position. On reads, the value is not guaranteed to be sequential or unique.",
                                    "title": "Ordinal"
                                  },
                                  "pricing_type": {
                                    "type": "string",
                                    "description": "Indicates whether the item variation's price is fixed or determined at the time of sale.",
                                    "title": "Pricing Type"
                                  },
                                  "stockable": {
                                    "type": "boolean",
                                    "description": "Whether stock is counted directly on this variation (TRUE) or only on its components (FALSE). For backward compatibility missing values will be interpreted as TRUE.",
                                    "title": "Stockable"
                                  },
                                  "price_money": {
                                    "type": "object",
                                    "properties": {
                                      "amount": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The amount.",
                                        "title": "Amount"
                                      },
                                      "currency": {
                                        "type": "string",
                                        "description": "The currency.",
                                        "title": "Currency"
                                      }
                                    },
                                    "title": "Price Money"
                                  }
                                },
                                "title": "Item Variation Data"
                              }
                            }
                          },
                          "title": "Variations"
                        },
                        "product_type": {
                          "type": "string",
                          "description": "The product type of the item. May not be changed once an item has been created.",
                          "title": "Product Type"
                        }
                      },
                      "title": "Item Data"
                    }
                  },
                  "title": "Catalog Object"
                },
                "id_mappings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "client_object_id": {
                        "type": "string",
                        "description": "The client-supplied temporary #-prefixed ID for a new CatalogObject.",
                        "title": "Client Object ID"
                      },
                      "object_id": {
                        "type": "string",
                        "description": "The permanent ID created by the server.",
                        "title": "Object ID"
                      }
                    }
                  },
                  "title": "ID Mappings"
                }
              }
            }
          }
        },
        "summary": "Upsert catalog object",
        "description": "Creates or updates the target CatalogObject.",
        "operationId": "CatalogUpsert",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "idempotency_key": {
                  "type": "string",
                  "description": "A value you specify that uniquely identifies this request among all your requests. A common way to create a valid idempotency key is to use a Universally unique identifier (UUID).",
                  "title": "Idempotency Key"
                },
                "object": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The unique, Square-issued identifier.",
                      "title": "ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type of this object.",
                      "title": "Type"
                    },
                    "item_data": {
                      "type": "object",
                      "properties": {
                        "abbreviation": {
                          "type": "string",
                          "description": "The text of the item's display label in the Square Point of Sale app. Only up to the first five characters of the string are used. This attribute is searchable, and its value length is of Unicode code points.",
                          "title": "Abbreviation"
                        },
                        "title": {
                          "type": "string",
                          "description": "The item's description. This is a searchable attribute for use in applicable query filters, and its value length is of Unicode code points.",
                          "title": "Description"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "variations": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "An identifier to reference this object in the catalog.",
                                "title": "ID"
                              },
                              "type": {
                                "type": "string",
                                "description": "The type of this object.",
[...]
