{
  "swagger": "2.0",
  "info": {
    "title": "Linear",
    "description": "Linear is a modern issue tracking and project management tool for software teams. This connector enables creating, updating, and querying issues in your Linear workspace from Power Automate flows.",
    "version": "1.0.0",
    "contact": {
      "name": "Aaron Mah",
      "url": "https://linear.app"
    }
  },
  "host": "api.linear.app",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://linear.app"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://linear.app/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Project Management"
    }
  ],
  "paths": {
    "/graphql/listTeams": {
      "post": {
        "operationId": "listTeams",
        "summary": "List Teams",
        "description": "Retrieves all teams in the Linear workspace.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "query ListTeams { teams { nodes { id name key description icon color } } }"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of teams.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "teams": {
                      "type": "object",
                      "properties": {
                        "nodes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-ms-summary": "Team ID",
                                "description": "Unique team identifier."
                              },
                              "name": {
                                "type": "string",
                                "x-ms-summary": "Team Name",
                                "description": "Name of the team."
                              },
                              "key": {
                                "type": "string",
                                "x-ms-summary": "Team Key",
                                "description": "Short key for the team (e.g. ENG)."
                              },
                              "description": {
                                "type": "string",
                                "x-ms-summary": "Description",
                                "description": "Team description."
                              },
                              "icon": {
                                "type": "string",
                                "x-ms-summary": "Icon",
                                "description": "Team icon emoji or identifier."
                              },
                              "color": {
                                "type": "string",
                                "x-ms-summary": "Color",
                                "description": "Team color as hex string."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graphql/listWorkflowStates": {
      "post": {
        "operationId": "listWorkflowStates",
        "summary": "List Workflow States",
        "description": "Retrieves all workflow states (statuses) in the workspace.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "query ListWorkflowStates { workflowStates { nodes { id name type color position team { id name } } } }"
                },
                "variables": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of workflow states.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "workflowStates": {
                      "type": "object",
                      "properties": {
                        "nodes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-ms-summary": "State ID",
                                "description": "Unique state identifier."
                              },
                              "name": {
                                "type": "string",
                                "x-ms-summary": "State Name",
                                "description": "Name of the workflow state."
                              },
                              "type": {
                                "type": "string",
                                "x-ms-summary": "State Type",
                                "description": "Type: backlog, unstarted, started, completed, or canceled."
                              },
                              "color": {
                                "type": "string",
                                "x-ms-summary": "Color",
                                "description": "State color as hex string."
                              },
                              "position": {
                                "type": "number",
                                "x-ms-summary": "Position",
                                "description": "Display order position."
                              },
                              "team": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "Team ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "Team Name"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graphql/listUsers": {
      "post": {
        "operationId": "listUsers",
        "summary": "List Users",
        "description": "Retrieves all users in the Linear workspace.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "query ListUsers { users { nodes { id name displayName email active admin avatarUrl } } }"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of users.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "object",
                      "properties": {
                        "nodes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-ms-summary": "User ID",
                                "description": "Unique user identifier."
                              },
                              "name": {
                                "type": "string",
                                "x-ms-summary": "Name",
                                "description": "Full name of the user."
                              },
                              "displayName": {
                                "type": "string",
                                "x-ms-summary": "Display Name",
                                "description": "Display name of the user."
                              },
                              "email": {
                                "type": "string",
                                "x-ms-summary": "Email",
                                "description": "Email address of the user."
                              },
                              "active": {
                                "type": "boolean",
                                "x-ms-summary": "Active",
                                "description": "Whether the user is active."
                              },
                              "admin": {
                                "type": "boolean",
                                "x-ms-summary": "Admin",
                                "description": "Whether the user is an admin."
                              },
                              "avatarUrl": {
                                "type": "string",
                                "x-ms-summary": "Avatar URL",
                                "description": "URL to the user avatar image."
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graphql/createIssue": {
      "post": {
        "operationId": "createIssue",
        "summary": "Create Issue",
        "description": "Creates a new issue in Linear.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "mutation CreateIssue($teamId: String!, $title: String!, $description: String, $stateId: String, $assigneeId: String, $priority: Int, $dueDate: TimelessDate, $estimate: Int, $labelIds: [String!]) { issueCreate(input: { teamId: $teamId, title: $title, description: $description, stateId: $stateId, assigneeId: $assigneeId, priority: $priority, dueDate: $dueDate, estimate: $estimate, labelIds: $labelIds }) { success issue { id identifier title description url createdAt state { id name } assignee { id name } team { id name } } } }"
                },
                "variables": {
                  "type": "object",
                  "required": [
                    "teamId",
                    "title"
                  ],
                  "properties": {
                    "teamId": {
                      "type": "string",
                      "x-ms-summary": "Team ID",
                      "description": "Team ID where the issue will be created. Get from List Teams."
                    },
                    "title": {
                      "type": "string",
                      "x-ms-summary": "Title",
                      "description": "Issue title. Max 255 characters."
                    },
                    "description": {
                      "type": "string",
                      "x-ms-summary": "Description",
                      "description": "Issue description. Supports markdown."
                    },
                    "stateId": {
                      "type": "string",
                      "x-ms-summary": "State ID",
                      "description": "Workflow state ID. If omitted, defaults to first Backlog state."
                    },
                    "assigneeId": {
                      "type": "string",
                      "x-ms-summary": "Assignee ID",
                      "description": "User ID to assign the issue to. Get from List Users."
                    },
                    "priority": {
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Priority",
                      "description": "Priority: 0=None, 1=Urgent, 2=High, 3=Medium, 4=Low."
                    },
                    "dueDate": {
                      "type": "string",
                      "x-ms-summary": "Due Date",
                      "description": "Due date in YYYY-MM-DD format."
                    },
                    "estimate": {
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Estimate",
                      "description": "Numeric estimate (story points, hours, etc.)."
                    },
                    "labelIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "x-ms-summary": "Label IDs",
                      "description": "Array of label IDs to apply. Get from List Labels."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with created issue details.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "issueCreate": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "x-ms-summary": "Success",
                          "description": "Whether the issue was created successfully."
                        },
                        "issue": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-ms-summary": "Issue ID",
                              "description": "Unique issue identifier."
                            },
                            "identifier": {
                              "type": "string",
                              "x-ms-summary": "Identifier",
                              "description": "Human-readable identifier (e.g. ENG-123)."
                            },
                            "title": {
                              "type": "string",
                              "x-ms-summary": "Title",
                              "description": "Issue title."
                            },
                            "description": {
                              "type": "string",
                              "x-ms-summary": "Description",
                              "description": "Issue description."
                            },
                            "url": {
                              "type": "string",
                              "x-ms-summary": "URL",
                              "description": "Linear web URL for the issue."
                            },
                            "createdAt": {
                              "type": "string",
                              "x-ms-summary": "Created At",
                              "description": "ISO 8601 creation timestamp."
                            },
                            "state": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "x-ms-summary": "State ID"
                                },
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "State Name"
                                }
                              }
                            },
                            "assignee": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "x-ms-summary": "Assignee ID"
                                },
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "Assignee Name"
                                }
                              }
                            },
                            "team": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "x-ms-summary": "Team ID"
                                },
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "Team Name"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graphql/getIssue": {
      "post": {
        "operationId": "getIssue",
        "summary": "Get Issue",
        "description": "Retrieves a single issue by ID or identifier.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "query GetIssue($id: String!) { issue(id: $id) { id identifier title description url createdAt updatedAt dueDate estimate priority state { id name type } assignee { id name email } creator { id name } team { id name key } labels { nodes { id name color } } } }"
                },
                "variables": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-ms-summary": "Issue ID",
                      "description": "Issue ID (UUID) or identifier (e.g. ENG-123)."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with issue details.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "issue": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "x-ms-summary": "Issue ID",
                          "description": "Unique issue identifier."
                        },
                        "identifier": {
                          "type": "string",
                          "x-ms-summary": "Identifier",
                          "description": "Human-readable identifier."
                        },
                        "title": {
                          "type": "string",
                          "x-ms-summary": "Title",
                          "description": "Issue title."
                        },
                        "description": {
                          "type": "string",
                          "x-ms-summary": "Description",
                          "description": "Issue description."
                        },
                        "url": {
                          "type": "string",
                          "x-ms-summary": "URL",
                          "description": "Linear web URL."
                        },
                        "createdAt": {
                          "type": "string",
                          "x-ms-summary": "Created At",
                          "description": "ISO 8601 creation timestamp."
                        },
                        "updatedAt": {
                          "type": "string",
                          "x-ms-summary": "Updated At",
                          "description": "ISO 8601 last update timestamp."
                        },
                        "dueDate": {
                          "type": "string",
                          "x-ms-summary": "Due Date",
                          "description": "Due date in YYYY-MM-DD format."
                        },
                        "estimate": {
                          "type": "number",
                          "x-ms-summary": "Estimate",
                          "description": "Numeric estimate value."
                        },
                        "priority": {
                          "type": "integer",
                          "format": "int32",
                          "x-ms-summary": "Priority",
                          "description": "Priority: 0=None, 1=Urgent, 2=High, 3=Medium, 4=Low."
                        },
                        "state": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-ms-summary": "State ID"
                            },
                            "name": {
                              "type": "string",
                              "x-ms-summary": "State Name"
                            },
                            "type": {
                              "type": "string",
                              "x-ms-summary": "State Type"
                            }
                          }
                        },
                        "assignee": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-ms-summary": "Assignee ID"
                            },
                            "name": {
                              "type": "string",
                              "x-ms-summary": "Assignee Name"
                            },
                            "email": {
                              "type": "string",
                              "x-ms-summary": "Assignee Email"
                            }
                          }
                        },
                        "creator": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-ms-summary": "Creator ID"
                            },
                            "name": {
                              "type": "string",
                              "x-ms-summary": "Creator Name"
                            }
                          }
                        },
                        "team": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-ms-summary": "Team ID"
                            },
                            "name": {
                              "type": "string",
                              "x-ms-summary": "Team Name"
                            },
                            "key": {
                              "type": "string",
                              "x-ms-summary": "Team Key"
                            }
                          }
                        },
                        "labels": {
                          "type": "object",
                          "properties": {
                            "nodes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "Label ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "Label Name"
                                  },
                                  "color": {
                                    "type": "string",
                                    "x-ms-summary": "Label Color"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graphql/listIssues": {
      "post": {
        "operationId": "listIssues",
        "summary": "List Issues",
        "description": "Lists issues with optional filtering and pagination.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "query ListIssues($first: Int, $after: String) { issues(first: $first, after: $after, orderBy: updatedAt) { nodes { id identifier title url createdAt updatedAt priority state { id name type } assignee { id name } team { id name key } } pageInfo { hasNextPage endCursor } } }"
                },
                "variables": {
                  "type": "object",
                  "properties": {
                    "first": {
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Page Size",
                      "description": "Number of items to return (default 50, max 100)."
                    },
                    "after": {
                      "type": "string",
                      "x-ms-summary": "After Cursor",
                      "description": "Cursor for pagination. Use endCursor from previous response."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of issues.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "issues": {
                      "type": "object",
                      "properties": {
                        "nodes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-ms-summary": "Issue ID",
                                "description": "Unique issue identifier."
                              },
                              "identifier": {
                                "type": "string",
                                "x-ms-summary": "Identifier",
                                "description": "Human-readable identifier."
                              },
                              "title": {
                                "type": "string",
                                "x-ms-summary": "Title",
                                "description": "Issue title."
                              },
                              "url": {
                                "type": "string",
                                "x-ms-summary": "URL",
                                "description": "Linear web URL."
                              },
                              "createdAt": {
                                "type": "string",
                                "x-ms-summary": "Created At",
                                "description": "ISO 8601 creation timestamp."
                              },
                              "updatedAt": {
                                "type": "string",
                                "x-ms-summary": "Updated At",
                                "description": "ISO 8601 last update timestamp."
                              },
                              "priority": {
                                "type": "integer",
                                "format": "int32",
                                "x-ms-summary": "Priority",
                                "description": "Priority level (0-4)."
                              },
                              "state": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "State ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "State Name"
                                  },
                                  "type": {
                                    "type": "string",
                                    "x-ms-summary": "State Type"
                                  }
                                }
                              },
                              "assignee": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "Assignee ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "Assignee Name"
                                  }
                                }
                              },
                              "team": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "Team ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "Team Name"
                                  },
                                  "key": {
                                    "type": "string",
                                    "x-ms-summary": "Team Key"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "pageInfo": {
                          "type": "object",
                          "properties": {
                            "hasNextPage": {
                              "type": "boolean",
                              "x-ms-summary": "Has Next Page",
                              "description": "Whether more results are available."
                            },
                            "endCursor": {
                              "type": "string",
                              "x-ms-summary": "End Cursor",
                              "description": "Cursor to pass as after for next page."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graphql/updateIssue": {
      "post": {
        "operationId": "updateIssue",
        "summary": "Update Issue",
        "description": "Updates an existing issue in Linear.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "mutation UpdateIssue($id: String!, $title: String, $description: String, $stateId: String, $assigneeId: String, $priority: Int, $dueDate: TimelessDate, $estimate: Int, $labelIds: [String!]) { issueUpdate(id: $id, input: { title: $title, description: $description, stateId: $stateId, assigneeId: $assigneeId, priority: $priority, dueDate: $dueDate, estimate: $estimate, labelIds: $labelIds }) { success issue { id identifier title description url updatedAt state { id name } assignee { id name } } } }"
                },
                "variables": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "x-ms-summary": "Issue ID",
                      "description": "Issue ID (UUID) to update."
                    },
                    "title": {
                      "type": "string",
                      "x-ms-summary": "Title",
                      "description": "New issue title."
                    },
                    "description": {
                      "type": "string",
                      "x-ms-summary": "Description",
                      "description": "New issue description. Supports markdown."
                    },
                    "stateId": {
                      "type": "string",
                      "x-ms-summary": "State ID",
                      "description": "New workflow state ID. Get from List Workflow States."
                    },
                    "assigneeId": {
                      "type": "string",
                      "x-ms-summary": "Assignee ID",
                      "description": "New assignee user ID. Get from List Users."
                    },
                    "priority": {
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Priority",
                      "description": "New priority: 0=None, 1=Urgent, 2=High, 3=Medium, 4=Low."
                    },
                    "dueDate": {
                      "type": "string",
                      "x-ms-summary": "Due Date",
                      "description": "New due date in YYYY-MM-DD format."
                    },
                    "estimate": {
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Estimate",
                      "description": "New numeric estimate."
                    },
                    "labelIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "x-ms-summary": "Label IDs",
                      "description": "New array of label IDs (replaces existing labels)."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with updated issue details.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "issueUpdate": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "x-ms-summary": "Success",
                          "description": "Whether the update was successful."
                        },
                        "issue": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-ms-summary": "Issue ID",
                              "description": "Unique issue identifier."
                            },
                            "identifier": {
                              "type": "string",
                              "x-ms-summary": "Identifier",
                              "description": "Human-readable identifier."
                            },
                            "title": {
                              "type": "string",
                              "x-ms-summary": "Title",
                              "description": "Issue title."
                            },
                            "description": {
                              "type": "string",
                              "x-ms-summary": "Description",
                              "description": "Issue description."
                            },
                            "url": {
                              "type": "string",
                              "x-ms-summary": "URL",
                              "description": "Linear web URL."
                            },
                            "updatedAt": {
                              "type": "string",
                              "x-ms-summary": "Updated At",
                              "description": "ISO 8601 last update timestamp."
                            },
                            "state": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "x-ms-summary": "State ID"
                                },
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "State Name"
                                }
                              }
                            },
                            "assignee": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "x-ms-summary": "Assignee ID"
                                },
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "Assignee Name"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graphql/listLabels": {
      "post": {
        "operationId": "listLabels",
        "summary": "List Labels",
        "description": "Retrieves all issue labels in the workspace.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "query ListLabels { issueLabels { nodes { id name description color team { id name } } } }"
                },
                "variables": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with list of labels.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "issueLabels": {
                      "type": "object",
                      "properties": {
                        "nodes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-ms-summary": "Label ID",
                                "description": "Unique label identifier."
                              },
                              "name": {
                                "type": "string",
                                "x-ms-summary": "Label Name",
                                "description": "Name of the label."
                              },
                              "description": {
                                "type": "string",
                                "x-ms-summary": "Description",
                                "description": "Label description."
                              },
                              "color": {
                                "type": "string",
                                "x-ms-summary": "Color",
                                "description": "Label color as hex string."
                              },
                              "team": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "Team ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "Team Name"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graphql/addComment": {
      "post": {
        "operationId": "addComment",
        "summary": "Add Comment",
        "description": "Creates a comment on an existing issue.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "mutation AddComment($issueId: String!, $body: String!) { commentCreate(input: { issueId: $issueId, body: $body }) { success comment { id body createdAt user { id name } issue { id identifier } } } }"
                },
                "variables": {
                  "type": "object",
                  "required": [
                    "issueId",
                    "body"
                  ],
                  "properties": {
                    "issueId": {
                      "type": "string",
                      "x-ms-summary": "Issue ID",
                      "description": "Issue ID (UUID) to comment on."
                    },
                    "body": {
                      "type": "string",
                      "x-ms-summary": "Comment Body",
                      "description": "Comment text. Supports markdown."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with created comment details.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "commentCreate": {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "x-ms-summary": "Success",
                          "description": "Whether the comment was created successfully."
                        },
                        "comment": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "x-ms-summary": "Comment ID",
                              "description": "Unique comment identifier."
                            },
                            "body": {
                              "type": "string",
                              "x-ms-summary": "Body",
                              "description": "Comment body text."
                            },
                            "createdAt": {
                              "type": "string",
                              "x-ms-summary": "Created At",
                              "description": "ISO 8601 creation timestamp."
                            },
                            "user": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "x-ms-summary": "User ID"
                                },
                                "name": {
                                  "type": "string",
                                  "x-ms-summary": "User Name"
                                }
                              }
                            },
                            "issue": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "x-ms-summary": "Issue ID"
                                },
                                "identifier": {
                                  "type": "string",
                                  "x-ms-summary": "Issue Identifier"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graphql/searchIssues": {
      "post": {
        "operationId": "searchIssues",
        "summary": "Search Issues",
        "description": "Searches issues by text in title or description.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "query SearchIssues($searchText: String!, $first: Int, $after: String) { searchIssues(term: $searchText, first: $first, after: $after) { nodes { id identifier title description url createdAt state { id name } assignee { id name } team { id name } } pageInfo { hasNextPage endCursor } } }"
                },
                "variables": {
                  "type": "object",
                  "required": [
                    "searchText"
                  ],
                  "properties": {
                    "searchText": {
                      "type": "string",
                      "x-ms-summary": "Search Text",
                      "description": "Text to search for in issue titles and descriptions."
                    },
                    "teamId": {
                      "type": "string",
                      "x-ms-summary": "Team ID",
                      "description": "Filter search results by team ID."
                    },
                    "first": {
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Page Size",
                      "description": "Number of items to return (default 50, max 100)."
                    },
                    "after": {
                      "type": "string",
                      "x-ms-summary": "After Cursor",
                      "description": "Cursor for pagination."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with matching issues.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "searchIssues": {
                      "type": "object",
                      "properties": {
                        "nodes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-ms-summary": "Issue ID",
                                "description": "Unique issue identifier."
                              },
                              "identifier": {
                                "type": "string",
                                "x-ms-summary": "Identifier",
                                "description": "Human-readable identifier."
                              },
                              "title": {
                                "type": "string",
                                "x-ms-summary": "Title",
                                "description": "Issue title."
                              },
                              "description": {
                                "type": "string",
                                "x-ms-summary": "Description",
                                "description": "Issue description."
                              },
                              "url": {
                                "type": "string",
                                "x-ms-summary": "URL",
                                "description": "Linear web URL."
                              },
                              "createdAt": {
                                "type": "string",
                                "x-ms-summary": "Created At",
                                "description": "ISO 8601 creation timestamp."
                              },
                              "state": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "State ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "State Name"
                                  }
                                }
                              },
                              "assignee": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "Assignee ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "Assignee Name"
                                  }
                                }
                              },
                              "team": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "Team ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "Team Name"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "pageInfo": {
                          "type": "object",
                          "properties": {
                            "hasNextPage": {
                              "type": "boolean",
                              "x-ms-summary": "Has Next Page",
                              "description": "Whether more results are available."
                            },
                            "endCursor": {
                              "type": "string",
                              "x-ms-summary": "End Cursor",
                              "description": "Cursor to pass as after for next page."
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/graphql/whenIssueCreatedOrUpdated": {
      "post": {
        "operationId": "whenIssueCreatedOrUpdated",
        "summary": "When an issue is created or updated",
        "description": "Triggers when a Linear issue is created or updated.",
        "x-ms-trigger": "batch",
        "x-ms-trigger-hint": "Polls Linear for new or updated issues.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "query"
              ],
              "properties": {
                "query": {
                  "type": "string",
                  "x-ms-visibility": "internal",
                  "default": "query PollIssues($first: Int) { issues(first: $first, orderBy: updatedAt) { nodes { id identifier title url description createdAt updatedAt priority state { id name type } assignee { id name email } team { id name key } } pageInfo { hasNextPage endCursor } } }"
                },
                "variables": {
                  "type": "object",
                  "properties": {
                    "first": {
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Page Size",
                      "description": "Number of issues to return per poll (default 20, max 100).",
                      "default": 20
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Issues found.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "issues": {
                      "type": "object",
                      "properties": {
                        "nodes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "x-ms-summary": "Issue ID"
                              },
                              "identifier": {
                                "type": "string",
                                "x-ms-summary": "Issue Identifier"
                              },
                              "title": {
                                "type": "string",
                                "x-ms-summary": "Title"
                              },
                              "url": {
                                "type": "string",
                                "x-ms-summary": "URL"
                              },
                              "description": {
                                "type": "string",
                                "x-ms-summary": "Description"
                              },
                              "createdAt": {
                                "type": "string",
                                "x-ms-summary": "Created At"
                              },
                              "updatedAt": {
                                "type": "string",
                                "x-ms-summary": "Updated At"
                              },
                              "priority": {
                                "type": "integer",
                                "format": "int32",
                                "x-ms-summary": "Priority"
                              },
                              "state": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "State ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "State Name"
                                  },
                                  "type": {
                                    "type": "string",
                                    "x-ms-summary": "State Type"
                                  }
                                }
                              },
                              "assignee": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "Assignee ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "Assignee Name"
                                  },
                                  "email": {
                                    "type": "string",
                                    "x-ms-summary": "Assignee Email"
                                  }
                                }
                              },
                              "team": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "x-ms-summary": "Team ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "x-ms-summary": "Team Name"
                                  },
                                  "key": {
                                    "type": "string",
                                    "x-ms-summary": "Team Key"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "pageInfo": {
                          "type": "object",
                          "properties": {
                            "hasNextPage": {
                              "type": "boolean",
                              "x-ms-summary": "Has Next Page"
                            },
                            "endCursor": {
                              "type": "string",
                              "x-ms-summary": "End Cursor"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {}
}
