{
  "swagger": "2.0",
  "info": {
    "title": "SignUpGenius",
    "description": "SignUpGenius simplifies scheduling, volunteer and member management, event planning and fundraising.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.signupgenius.com",
  "basePath": "/v2/k/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/user/profile/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "mobilephone": {
                      "type": "string",
                      "description": "The mobile phone number.",
                      "title": "Mobile Phone"
                    },
                    "preferredphone": {
                      "type": "string",
                      "description": "The preferred phone number.",
                      "title": "Preferred Phone"
                    },
                    "memberid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The member identifier.",
                      "title": "Member ID"
                    },
                    "zipcode": {
                      "type": "string",
                      "description": "The zip code.",
                      "title": "Zip Code"
                    },
                    "subscription": {
                      "type": "object",
                      "properties": {
                        "ispro": {
                          "type": "boolean",
                          "description": "Whether is pro.",
                          "title": "Is Pro"
                        },
                        "prolevel": {
                          "type": "string",
                          "description": "The pro level.",
                          "title": "Pro Level"
                        }
                      },
                      "description": "The subscription.",
                      "title": "Subscription"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "firstname": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "homephone": {
                      "type": "string",
                      "description": "The home phone number.",
                      "title": "Home Phone"
                    },
                    "issubadmin": {
                      "type": "boolean",
                      "description": "Whether is sub admin.",
                      "title": "Is Sub Admin"
                    },
                    "city": {
                      "type": "string",
                      "description": "The city.",
                      "title": "City"
                    },
                    "lastname": {
                      "type": "string",
                      "description": "The last name.",
                      "title": "Last Name"
                    },
                    "adminfor": {
                      "type": "string",
                      "description": "Admin for",
                      "title": "Admin For"
                    },
                    "companyname": {
                      "type": "string",
                      "description": "The company name.",
                      "title": "Company Name"
                    },
                    "address1": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "address2": {
                      "type": "string",
                      "description": "The address line 2.",
                      "title": "Address 2"
                    },
                    "workphone": {
                      "type": "string",
                      "description": "The work phone number.",
                      "title": "Work Phone"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get user profile",
        "description": "Retrieves your user profile",
        "operationId": "Profile",
        "parameters": []
      }
    },
    "/groups/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The count.",
                        "title": "Count"
                      },
                      "groupid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The group identifier.",
                        "title": "Group ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      }
                    }
                  },
                  "title": "Data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "description": "The next.",
                      "title": "Next"
                    },
                    "previous": {
                      "type": "string",
                      "description": "The previous.",
                      "title": "Previous"
                    },
                    "self": {
                      "type": "string",
                      "description": "The self.",
                      "title": "Self"
                    }
                  },
                  "title": "Links"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get groups",
        "description": "Retrieves all groups created by the user",
        "operationId": "GroupList",
        "parameters": []
      }
    },
    "/groups/{groupID}/members/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "groupid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The group identifier.",
                      "title": "Group ID"
                    },
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email"
                          },
                          "firstname": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "memberid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The member identifier.",
                            "title": "Member ID"
                          },
                          "lastname": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          }
                        }
                      },
                      "title": "Members"
                    }
                  },
                  "title": "Data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "description": "The next.",
                      "title": "Next"
                    },
                    "previous": {
                      "type": "string",
                      "description": "The previous.",
                      "title": "Previous"
                    },
                    "self": {
                      "type": "string",
                      "description": "The self.",
                      "title": "Self"
                    }
                  },
                  "title": "Links"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get group members",
        "description": "Retrieves the members associated with a group.",
        "operationId": "GroupMember",
        "parameters": [
          {
            "name": "groupID",
            "in": "path",
            "x-ms-summary": "Group ID",
            "x-ms-url-encoding": "single",
            "description": "The group identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/groups/{groupID}/members/{memberID}/details/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The address.",
                      "title": "Address"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "firstname": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "lastname": {
                      "type": "string",
                      "description": "The last name.",
                      "title": "Last Name"
                    },
                    "memberid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The member identifier.",
                      "title": "Member ID"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    }
                  },
                  "title": "Data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "string",
                      "description": "The next.",
                      "title": "Next"
                    },
                    "previous": {
                      "type": "string",
                      "description": "The previous.",
                      "title": "Previous"
                    },
                    "self": {
                      "type": "string",
                      "description": "The self.",
                      "title": "Self"
                    }
                  },
                  "title": "Links"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get group member details",
        "description": "Retrieves details about a group member.",
        "operationId": "GroupMemberDetail",
        "parameters": [
          {
            "name": "groupID",
            "in": "path",
            "x-ms-summary": "Group ID",
            "x-ms-url-encoding": "single",
            "description": "The group identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "memberID",
            "in": "path",
            "x-ms-summary": "Member ID",
            "x-ms-url-encoding": "single",
            "description": "The member identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/groups/{groupID}/members/create/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {},
                  "title": "Data"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Add user to group",
        "description": "Adds a user to a group.",
        "operationId": "GroupUserAdd",
        "parameters": [
          {
            "name": "groupID",
            "in": "path",
            "x-ms-summary": "Group ID",
            "x-ms-url-encoding": "single",
            "description": "The group identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "emailaddress": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email Address"
                },
                "firstname": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "lastname": {
                  "type": "string",
                  "description": "The last name.",
                  "title": "Last Name"
                }
              },
              "required": [
                "emailaddress",
                "firstname",
                "lastname"
              ]
            }
          }
        ]
      }
    },
    "/signups/created/active/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contactname": {
                        "type": "string",
                        "description": "The contact name.",
                        "title": "Contact Name"
                      },
                      "enddate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end date.",
                        "title": "End Date"
                      },
                      "enddatestring": {
                        "type": "string",
                        "description": "The end date string.",
                        "title": "End Date String"
                      },
                      "endtime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end time.",
                        "title": "End Time"
                      },
                      "group": {
                        "type": "string",
                        "description": "The group.",
                        "title": "Group"
                      },
                      "groupid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The group identifier.",
                        "title": "Group ID"
                      },
                      "signupid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The sign up identifier.",
                        "title": "Sign Up ID"
                      },
                      "mainimage": {
                        "type": "string",
                        "description": "The main image.",
                        "title": "Main Image"
                      },
                      "signupurl": {
                        "type": "string",
                        "description": "The sign up URL address.",
                        "title": "Sign Up URL"
                      },
                      "startdate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start date.",
                        "title": "Start Date"
                      },
                      "startdatestring": {
                        "type": "string",
                        "description": "The start date string .",
                        "title": "Start Date String"
                      },
                      "starttime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start time.",
                        "title": "Start Time"
                      },
                      "thumbnail": {
                        "type": "string",
                        "description": "The thumbnail.",
                        "title": "Thumbnail"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      }
                    }
                  },
                  "title": "Data"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get active sign ups",
        "description": "Retrieve all active sign up information.",
        "operationId": "SignUpActive",
        "parameters": []
      }
    },
    "/signups/created/all/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contactname": {
                        "type": "string",
                        "description": "The contact name.",
                        "title": "Contact Name"
                      },
                      "enddate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end date.",
                        "title": "End Date"
                      },
                      "enddatestring": {
                        "type": "string",
                        "description": "The end date string.",
                        "title": "End Date String"
                      },
                      "endtime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end time.",
                        "title": "End Time"
                      },
                      "group": {
                        "type": "string",
                        "description": "The group.",
                        "title": "Group"
                      },
                      "groupid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The group identifier.",
                        "title": "Group ID"
                      },
                      "signupid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The sign up identifier.",
                        "title": "Sign Up ID"
                      },
                      "mainimage": {
                        "type": "string",
                        "description": "The main image.",
                        "title": "Main Image"
                      },
                      "signupurl": {
                        "type": "string",
                        "description": "The sign up URL address.",
                        "title": "Sign Up URL"
                      },
                      "startdate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start date.",
                        "title": "Start Date"
                      },
                      "startdatestring": {
                        "type": "string",
                        "description": "The start date string .",
                        "title": "Start Date String"
                      },
                      "starttime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start time.",
                        "title": "Start Time"
                      },
                      "thumbnail": {
                        "type": "string",
                        "description": "The thumbnail.",
                        "title": "Thumbnail"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      }
                    }
                  },
                  "title": "Data"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get all sign ups",
        "description": "Retrieves all sign up information.",
        "operationId": "SignUpAll",
        "parameters": []
      }
    },
    "/signups/created/expired/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contactname": {
                        "type": "string",
                        "description": "The contact name.",
                        "title": "Contact Name"
                      },
                      "enddate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end date.",
                        "title": "End Date"
                      },
                      "enddatestring": {
                        "type": "string",
                        "description": "The end date string.",
                        "title": "End Date String"
                      },
                      "endtime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end time.",
                        "title": "End Time"
                      },
                      "group": {
                        "type": "string",
                        "description": "The group.",
                        "title": "Group"
                      },
                      "groupid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The group identifier.",
                        "title": "Group ID"
                      },
                      "signupid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The sign up identifier.",
                        "title": "Sign Up ID"
                      },
                      "mainimage": {
                        "type": "string",
                        "description": "The main image.",
                        "title": "Main Image"
                      },
                      "signupurl": {
                        "type": "string",
                        "description": "The sign up URL address.",
                        "title": "Sign Up URL"
                      },
                      "startdate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start date.",
                        "title": "Start Date"
                      },
                      "startdatestring": {
                        "type": "string",
                        "description": "The start date string .",
                        "title": "Start Date String"
                      },
                      "starttime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start time.",
                        "title": "Start Time"
                      },
                      "thumbnail": {
                        "type": "string",
                        "description": "The thumbnail.",
                        "title": "Thumbnail"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      }
                    }
                  },
                  "title": "Data"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get expired sign ups",
        "description": "Retrieves all expired sign up information.",
        "operationId": "SignUpExpired",
        "parameters": []
      }
    },
    "/signups/invited/active": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contactname": {
                        "type": "string",
                        "description": "The contact name.",
                        "title": "Contact Name"
                      },
                      "enddate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end date.",
                        "title": "End Date"
                      },
                      "enddatestring": {
                        "type": "string",
                        "description": "The end date string.",
                        "title": "End Date String"
                      },
                      "endtime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end time.",
                        "title": "End Time"
                      },
                      "group": {
                        "type": "string",
                        "description": "The group.",
                        "title": "Group"
                      },
                      "signupid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The sign up identifier.",
                        "title": "Sign Up ID"
                      },
                      "mainimage": {
                        "type": "string",
                        "description": "The main image.",
                        "title": "Main Image"
                      },
                      "signupurl": {
                        "type": "string",
                        "description": "The sign up URL address.",
                        "title": "Sign Up URL"
                      },
                      "startdate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start date.",
                        "title": "Start Date"
                      },
                      "startdatestring": {
                        "type": "string",
                        "description": "The start date string .",
                        "title": "Start Date String"
                      },
                      "starttime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start time.",
                        "title": "Start Time"
                      },
                      "thumbnail": {
                        "type": "string",
                        "description": "The thumbnail.",
                        "title": "Thumbnail"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      }
                    }
                  },
                  "title": "Data"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get invited to sign ups",
        "description": "Retrieve all active sign ups you are invited to.",
        "operationId": "SignUpInvited",
        "parameters": []
      }
    },
    "/signups/signedupfor/active": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "enddate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end date.",
                        "title": "End Date"
                      },
                      "enddatestring": {
                        "type": "string",
                        "description": "The end date string.",
                        "title": "End Date String"
                      },
                      "endtime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The end time.",
                        "title": "End Time"
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "itemmemberid": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The item member identifier.",
                              "title": "Item Member ID"
                            },
                            "mycomment": {
                              "type": "string",
                              "description": "The my comment.",
                              "title": "My Comment"
                            },
                            "myqty": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The my quantity.",
                              "title": "My Qty"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            }
                          }
                        },
                        "title": "Items"
                      },
                      "rsvp": {
                        "type": "string",
                        "description": "The RSVP.",
                        "title": "RSV{"
                      },
                      "rsvpid": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The RSVP identifier.",
                        "title": "RSVP ID"
                      },
                      "signupurl": {
                        "type": "string",
                        "description": "The sign up URL address.",
                        "title": "Sign Up URL"
                      },
                      "startdate": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start date.",
                        "title": "Start Date"
                      },
                      "startdatestring": {
                        "type": "string",
                        "description": "The start date string .",
                        "title": "Start Date String"
                      },
                      "starttime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The start time.",
                        "title": "Start Time"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      }
                    }
                  },
                  "title": "Data"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get sign ups signed up for",
        "description": "Retrieves all sign ups you have signed up for.",
        "operationId": "SignUpFor",
        "parameters": []
      }
    },
    "/signups/report/all/{signUpID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "customquestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customfieldid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The custom field identifier.",
                            "title": "Custom Field ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          }
                        }
                      },
                      "title": "Custom Questions"
                    },
                    "signups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address1": {
                            "type": "string",
                            "description": "The address.",
                            "title": "Address"
                          },
                          "address2": {
                            "type": "string",
                            "description": "The address line 2.",
                            "title": "Address 2"
                          },
                          "amountpaid": {
                            "type": "string",
                            "description": "The amount paid.",
                            "title": "Amount Paid"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country.",
                            "title": "Country"
                          },
                          "customfields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "customfieldid": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The custom field identifier.",
                                  "title": "Custom Field ID"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value.",
                                  "title": "Value"
                                }
                              }
                            },
                            "title": "Custom Fields"
                          },
                          "enddate": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The end date.",
                            "title": "End Date"
                          },
                          "enddatestring": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The end date string.",
                            "title": "End Date String"
                          },
                          "endtime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The end time.",
                            "title": "End Time"
                          },
                          "firstname": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "signupid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The sign up identifier.",
                            "title": "Sign Up ID"
                          },
                          "item": {
                            "type": "string",
                            "description": "The item.",
                            "title": "Item"
                          },
                          "lastname": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "myqty": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The my quantity.",
                            "title": "My Qty"
                          },
                          "phone": {
                            "type": "string",
                            "description": "The phone number.",
                            "title": "Phone"
                          },
                          "phonetype": {
                            "type": "string",
                            "description": "The phone type.",
                            "title": "Phone Type"
                          },
                          "startdate": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The start date.",
                            "title": "Start Date"
                          },
                          "startdatestring": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The state date string.",
                            "title": "Start Date String"
                          },
                          "starttime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The start time.",
                            "title": "Start Time"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "zipcode": {
                            "type": "string",
                            "description": "The zip code.",
                            "title": "Zip Code"
                          },
                          "itemmemberid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The item member identifier.",
                            "title": "Item Member ID"
                          },
                          "slotitemid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The slot item identifier.",
                            "title": "Slot Item ID"
                          }
                        }
                      },
                      "title": "Sign Ups"
                    }
                  },
                  "title": "Data"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get sign up report",
        "description": "Retrieves a report of a sign up details.",
        "operationId": "ReportSignUp",
        "parameters": [
          {
            "name": "signUpID",
            "in": "path",
            "x-ms-summary": "Sign Up ID",
            "x-ms-url-encoding": "single",
            "description": "The sign up identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/signups/report/available/{signUpID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "customquestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customfieldid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The custom field identifier.",
                            "title": "Custom Field ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          }
                        }
                      },
                      "title": "Custom Questions"
                    },
                    "signups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address1": {
                            "type": "string",
                            "description": "The address.",
                            "title": "Address"
                          },
                          "address2": {
                            "type": "string",
                            "description": "The address line 2.",
                            "title": "Address 2"
                          },
                          "amountpaid": {
                            "type": "string",
                            "description": "The amount paid.",
                            "title": "Amount Paid"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country.",
                            "title": "Country"
                          },
                          "customfields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "customfieldid": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The custom field identifier.",
                                  "title": "Custom Field ID"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value.",
                                  "title": "Value"
                                }
                              }
                            },
                            "title": "Custom Fields"
                          },
                          "enddate": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The end date.",
                            "title": "End Date"
                          },
                          "enddatestring": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The end date string.",
                            "title": "End Date String"
                          },
                          "endtime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The end time.",
                            "title": "End Time"
                          },
                          "firstname": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "signupid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The sign up identifier.",
                            "title": "Sign Up ID"
                          },
                          "item": {
                            "type": "string",
                            "description": "The item.",
                            "title": "Item"
                          },
                          "lastname": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "myqty": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The my quantity.",
                            "title": "My Qty"
                          },
                          "phone": {
                            "type": "string",
                            "description": "The phone number.",
                            "title": "Phone"
                          },
                          "phonetype": {
                            "type": "string",
                            "description": "The phone type.",
                            "title": "Phone Type"
                          },
                          "startdate": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The start date.",
                            "title": "Start Date"
                          },
                          "startdatestring": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The state date string.",
                            "title": "Start Date String"
                          },
                          "starttime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The start time.",
                            "title": "Start Time"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "zipcode": {
                            "type": "string",
                            "description": "The zip code.",
                            "title": "Zip Code"
                          },
                          "itemmemberid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The item member identifier.",
                            "title": "Item Member ID"
                          },
                          "slotitemid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The slot item identifier.",
                            "title": "Slot Item ID"
                          }
                        }
                      },
                      "title": "Sign Ups"
                    }
                  },
                  "title": "Data"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get sign up not filled slots",
        "description": "Retrieves a report of the slots that are empty (not filled) for a sign up.",
        "operationId": "ReportSignUpSlot",
        "parameters": [
          {
            "name": "signUpID",
            "in": "path",
            "x-ms-summary": "Sign Up ID",
            "x-ms-url-encoding": "single",
            "description": "The sign up identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/signups/report/filled/{signUpID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "customquestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customfieldid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The custom field identifier.",
                            "title": "Custom Field ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title.",
                            "title": "Title"
                          }
                        }
                      },
                      "title": "Custom Questions"
                    },
                    "signups": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address1": {
                            "type": "string",
                            "description": "The address.",
                            "title": "Address"
                          },
                          "address2": {
                            "type": "string",
                            "description": "The address line 2.",
                            "title": "Address 2"
                          },
                          "amountpaid": {
                            "type": "string",
                            "description": "The amount paid.",
                            "title": "Amount Paid"
                          },
                          "city": {
                            "type": "string",
                            "description": "The city.",
                            "title": "City"
                          },
                          "country": {
                            "type": "string",
                            "description": "The country.",
                            "title": "Country"
                          },
                          "customfields": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "customfieldid": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The custom field identifier.",
                                  "title": "Custom Field ID"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The value.",
                                  "title": "Value"
                                }
                              }
                            },
                            "title": "Custom Fields"
                          },
                          "enddate": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The end date.",
                            "title": "End Date"
                          },
                          "enddatestring": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The end date string.",
                            "title": "End Date String"
                          },
                          "endtime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The end time.",
                            "title": "End Time"
                          },
                          "firstname": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "signupid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The sign up identifier.",
                            "title": "Sign Up ID"
                          },
                          "item": {
                            "type": "string",
                            "description": "The item.",
                            "title": "Item"
                          },
                          "lastname": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          },
                          "myqty": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The my quantity.",
                            "title": "My Qty"
                          },
                          "phone": {
                            "type": "string",
                            "description": "The phone number.",
                            "title": "Phone"
                          },
                          "phonetype": {
                            "type": "string",
                            "description": "The phone type.",
                            "title": "Phone Type"
                          },
                          "startdate": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The start date.",
                            "title": "Start Date"
                          },
                          "startdatestring": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The state date string.",
                            "title": "Start Date String"
                          },
                          "starttime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The start time.",
                            "title": "Start Time"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "zipcode": {
                            "type": "string",
                            "description": "The zip code.",
                            "title": "Zip Code"
                          },
                          "itemmemberid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The item member identifier.",
                            "title": "Item Member ID"
                          },
                          "slotitemid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The slot item identifier.",
                            "title": "Slot Item ID"
                          }
                        }
                      },
                      "title": "Sign Ups"
                    }
                  },
                  "title": "Data"
                },
                "message": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The message.",
                  "title": "Message"
                },
                "success": {
                  "type": "boolean",
                  "description": "Whether successful.",
                  "title": "Success"
                }
              }
            }
          }
        },
        "summary": "Get sign up filled slots",
        "description": "Retrieves a report of the slots that are filled for a sign up.",
        "operationId": "ReportSignupFilled",
        "parameters": [
          {
            "name": "signUpID",
            "in": "path",
            "x-ms-summary": "Sign Up ID",
            "x-ms-url-encoding": "single",
            "description": "The sign up identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "user_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.signupgenius.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.signupgenius.com/about/privacy.cfm"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Communication"
    }
  ]
}