{
  "swagger": "2.0",
  "info": {
    "version": "2.0.0",
    "title": "Azure AD authentication methods",
    "description": "Manage Azure AD authentication methods such as email, phone numbers, password and FIDO2 keys"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/beta/users/{userID}/authentication/fido2Methods": {
      "get": {
        "summary": "List fido2Methods",
        "description": "List fido2 methods",
        "operationId": "ListFido2methods",
        "parameters": [
          {
            "name": "userID",
            "default": "f48ecb7b-f6ff-428d-9a76-f798706a754a",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "displayName"
                      },
                      "creationDateTime": {
                        "type": "string",
                        "description": "creationDateTime"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                      },
                      "aaGuid": {
                        "type": "string",
                        "description": "aaGuid"
                      },
                      "model": {
                        "type": "string",
                        "description": "model"
                      },
                      "attestationCertificates": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "attestationCertificates"
                      },
                      "attestationLevel": {
                        "type": "string",
                        "description": "attestationLevel"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          },
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              }
            }
          }
        }
      }
    },
    "/beta/users/{userID}/authentication/emailMethods/3ddfcfc8-9383-446f-83cc-3ab9be4be18f": {
      "delete": {
        "summary": "Delete emailMethod",
        "description": "Delete email method",
        "operationId": "DeleteEmailmethod",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              }
            }
          },
          "204": {
            "description": "204",
            "schema": {}
          }
        }
      },
      "put": {
        "summary": "Update emailMethod",
        "description": "Update email method",
        "operationId": "UpdateEmailmethod",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              },
              "default": {
                "emailAddress": "{{email}}"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              }
            }
          },
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              }
            }
          },
          "204": {
            "description": "204",
            "schema": {}
          }
        }
      }
    },
    "/beta/users/{userID}/authentication/emailMethods": {
      "get": {
        "summary": "List emailMethods",
        "description": "List email methods",
        "operationId": "ListEmailmethods",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "emailAddress": {
                        "type": "string",
                        "description": "emailAddress"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          },
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create emailMethod",
        "description": "Create new email method",
        "operationId": "CreateEmailmethod",
        "parameters": [
          {
            "name": "userID",
            "default": "fe3047d2-e709-4b7f-9cdc-f82d53a8ee86",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              },
              "default": {
                "emailAddress": "{{email}}"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              }
            }
          }
        }
      }
    },
    "/beta/users/{userID}/authentication/phoneMethods/{phonemethodID}": {
      "delete": {
        "summary": "Delete phoneAuthenticationMethod",
        "description": "Delete phone authentication method",
        "operationId": "DeletePhoneauthenticationmethod",
        "parameters": [
          {
            "name": "userID",
            "default": "fe3047d2-e709-4b7f-9cdc-f82d53a8ee86",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "phonemethodID",
            "default": "3179e48a-750b-4051-897c-87b9720928f7",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      },
      "put": {
        "summary": "Update phoneAuthenticationMethod",
        "description": "Update phonenumber",
        "operationId": "UpdatePhoneauthenticationmethod",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "phonemethodID",
            "default": "3179e48a-750b-4051-897c-87b9720928f7",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "type": "string",
                  "description": "phoneNumber"
                },
                "phoneType": {
                  "type": "string",
                  "description": "phoneType"
                }
              },
              "default": {
                "phoneNumber": "{{phonenumber}}",
                "phoneType": "{{phonetype}}"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/beta/users/{userID}/authentication/phoneMethods/%7B%7BphonemethodID%7D%7D": {
      "get": {
        "summary": "Get phoneMethod",
        "description": "Get phone method",
        "operationId": "GetPhonemethod",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "phoneNumber": {
                  "type": "string",
                  "description": "phoneNumber"
                },
                "phoneType": {
                  "type": "string",
                  "description": "phoneType"
                },
                "smsSignInState": {
                  "type": "string",
                  "description": "smsSignInState"
                }
              }
            }
          }
        }
      }
    },
    "/beta/users/{userID}/authentication/phoneMethods/3179e48a-750b-4051-897c-87b9720928f7/enableSmsSignIn": {
      "post": {
        "summary": "Enable Sms SignIn",
        "description": "Enable SMS Sign in",
        "operationId": "EnableSmsSignin",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/beta/users/{userID}/authentication/fido2Methods/{fidoID}": {
      "get": {
        "summary": "Get fido2Method",
        "description": "Get fido2 method by ID",
        "operationId": "GetFido2method",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "fidoID",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "displayName": {
                  "type": "string",
                  "description": "displayName"
                },
                "creationDateTime": {
                  "type": "string",
                  "description": "creationDateTime"
                },
                "aaGuid": {
                  "type": "string",
                  "description": "aaGuid"
                },
                "model": {
                  "type": "string",
                  "description": "model"
                },
                "attestationCertificates": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "attestationCertificates"
                },
                "attestationLevel": {
                  "type": "string",
                  "description": "attestationLevel"
                }
              }
            }
          },
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete fido2Method",
        "description": "Delete fido2 method by ID",
        "operationId": "DeleteFido2method",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "fidoID",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "emailAddress": {
                        "type": "string",
                        "description": "emailAddress"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          },
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "emailAddress": {
                  "type": "string",
                  "description": "emailAddress"
                }
              }
            }
          },
          "204": {
            "description": "204",
            "schema": {}
          }
        }
      }
    },
    "/beta/users/{userID}/authentication/phoneMethods": {
      "post": {
        "summary": "Create phoneAuthenticationMethod",
        "description": "Create new phone authentication method",
        "operationId": "CreatePhoneauthenticationmethod",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phoneNumber": {
                  "type": "string",
                  "description": "phoneNumber"
                },
                "phoneType": {
                  "type": "string",
                  "description": "phoneType"
                }
              },
              "default": {
                "phoneNumber": "{{phonenumber}}",
                "phoneType": "{{phonetype}}"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/beta/users/{userID}/authentication/phoneMethods/3179e48a-750b-4051-897c-87b9720928f7/disableSmsSignIn": {
      "post": {
        "summary": "Disable Sms SignIn",
        "description": "Disable SMS Sign in",
        "operationId": "DisableSmsSignin",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/beta/users/{userID}/authentication/phoneMethods/": {
      "get": {
        "summary": "List phoneMethods",
        "description": "List all phone methods",
        "operationId": "ListPhonemethods",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "phoneNumber": {
                        "type": "string",
                        "description": "phoneNumber"
                      },
                      "phoneType": {
                        "type": "string",
                        "description": "phoneType"
                      },
                      "smsSignInState": {
                        "type": "string",
                        "description": "smsSignInState"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        }
      }
    },
    "/beta/users/{userID}/authentication/passwordMethods": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "password": {
                        "type": "string",
                        "description": "password"
                      },
                      "creationDateTime": {
                        "type": "string",
                        "description": "creationDateTime"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Get passwordAuthenticationMethod",
        "operationId": "GetpasswordAuthenticationMethod",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "description": "Get current password ID"
      }
    },
    "/beta/users/{userID}/authentication/passwordMethods/{passwordID}/resetPassword": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "newPassword": {
                  "type": "string",
                  "description": "newPassword"
                }
              }
            },
            "headers": {
              "\"cache-control\"": {
                "description": "\"cache-control\"",
                "type": "string"
              },
              "\"client-request-id\"": {
                "description": "\"client-request-id\"",
                "type": "string"
              },
              "\"content-length\"": {
                "description": "\"content-length\"",
                "type": "string"
              },
              "\"content-type\"": {
                "description": "\"content-type\"",
                "type": "string"
              },
              "\"location\"": {
                "description": "\"location\"",
                "type": "string"
              },
              "\"request-id\"": {
                "description": "\"request-id\"",
                "type": "string"
              }
            }
          }
        },
        "summary": "resetPassword",
        "operationId": "ResetPassword",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "passwordID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ],
        "description": "Reset password. A system generated password will be returned"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [],
  "tags": []
}