{
  "swagger": "2.0",
  "info": {
    "title": "dox42",
    "description": "Easily make a dox42 service call",
    "version": "1.0",
    "contact": {
      "name": "dox42 Support",
      "url": "https://www.dox42.com/Contact",
      "email": "support@dox42.com"
    }
  },
  "host": "dox42test.dox42.online",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/dox42RestService.ashx": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "dox42 Service Call",
        "description": "Call to the dox42 service",
        "operationId": "dox42_Call",
        "parameters": [
          {
            "name": "domainname",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Domain name",
            "x-ms-summary": "The domain name of your configured dox42 Server"
          },
          {
            "name": "querystring",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Service call query string",
            "x-ms-summary": "Query portion of the desired dox42 service call"
          },
          {
            "name": "accept",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "description": "Basic accept header",
            "x-ms-summary": "Basic accept header, leave as is!"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dox42.com/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.dox42.com/Privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Data"
    }
  ]
}