{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "HubSpot Engagements V2",
    "description": "HubSpot Engagements is used for keeping your CRM records up-to-date on any interactions that take place outside of HubSpot. Activity reporting in the CRM also feeds off of this data.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/crm/v3/objects/calls/batch/create": {
      "post": {
        "summary": "Create batch of calls",
        "description": "Creates a batch of calls.",
        "operationId": "CreateABatchOfCalls",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "associations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "to": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              },
                              "title": "To"
                            },
                            "types": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "associationCategory": {
                                    "type": "string",
                                    "description": "The association category.",
                                    "title": "Association Category"
                                  },
                                  "associationTypeId": {
                                    "type": "string",
                                    "description": "The association type identifier.",
                                    "title": "Association Type ID"
                                  }
                                }
                              },
                              "title": "Types"
                            }
                          }
                        },
                        "title": "Associations"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      }
                    }
                  },
                  "title": "Inputs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "numErrors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of errors.",
                  "title": "Errors"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message.",
                              "title": "Message"
                            },
                            "in": {
                              "type": "string",
                              "description": "The in string.",
                              "title": "In"
                            },
                            "code": {
                              "type": "string",
                              "description": "The code.",
                              "title": "Code"
                            },
                            "subCategory": {
                              "type": "string",
                              "description": "The sub category.",
                              "title": "Sub Category"
                            },
                            "context": {
                              "type": "object",
                              "properties": {},
                              "description": "The context object.",
                              "title": "Context"
                            }
                          }
                        },
                        "title": "Errors"
                      },
                      "links": {
                        "type": "object",
                        "properties": {},
                        "description": "The links object.",
                        "title": "Links"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/calls/batch/read": {
      "post": {
        "summary": "Get batch of calls",
        "description": "Retrieves a batch of calls by internal ID, or unique property values.",
        "operationId": "ReadABatchOfCallsByInternalIdOrUniquePropertyValues",
        "parameters": [
          {
            "name": "archived",
            "default": false,
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether archived.",
            "type": "boolean",
            "required": false
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Inputs"
                },
                "properties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The properties.",
                  "title": "Properties"
                },
                "propertiesWithHistory": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The properties with history.",
                  "title": "Properties With History"
                },
                "idProperty": {
                  "type": "string",
                  "description": "The identifier property.",
                  "title": "ID Property"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "numErrors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of errors.",
                  "title": "Errors"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message.",
                              "title": "Message"
                            },
                            "in": {
                              "type": "string",
                              "description": "The in string.",
                              "title": "In"
                            },
                            "code": {
                              "type": "string",
                              "description": "The code.",
                              "title": "Code"
                            },
                            "subCategory": {
                              "type": "string",
                              "description": "The sub category.",
                              "title": "Sub Category"
                            },
                            "context": {
                              "type": "object",
                              "properties": {},
                              "description": "The context object.",
                              "title": "Context"
                            }
                          }
                        },
                        "title": "Errors"
                      },
                      "links": {
                        "type": "object",
                        "properties": {},
                        "description": "The links object.",
                        "title": "Links"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/calls/batch/update": {
      "post": {
        "summary": "Update batch of calls",
        "description": "Updates a batch of calls.",
        "operationId": "UpdateABatchOfCalls",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      }
                    }
                  },
                  "title": "Inputs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "207": {
            "description": "207",
            "schema": {
              "type": "object",
              "properties": {
                "completedAt": {
                  "type": "string",
                  "description": "When completed at.",
                  "title": "Completed At"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "startedAt": {
                  "type": "string",
                  "description": "When started at.",
                  "title": "Started At"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "numErrors": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The number of errors.",
                  "title": "Errors"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "description": "The message.",
                              "title": "Message"
                            },
                            "in": {
                              "type": "string",
                              "description": "The in string.",
                              "title": "In"
                            },
                            "code": {
                              "type": "string",
                              "description": "The code.",
                              "title": "Code"
                            },
                            "subCategory": {
                              "type": "string",
                              "description": "The sub category.",
                              "title": "Sub Category"
                            },
                            "context": {
                              "type": "object",
                              "properties": {},
                              "description": "The context object.",
                              "title": "Context"
                            }
                          }
                        },
                        "title": "Errors"
                      },
                      "links": {
                        "type": "object",
                        "properties": {},
                        "description": "The links object.",
                        "title": "Links"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "subCategory": {
                        "type": "object",
                        "properties": {},
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "requestedAt": {
                  "type": "string",
                  "description": "When requested at.",
                  "title": "Requested At"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/calls/batch/archive": {
      "post": {
        "summary": "Archive batch of calls",
        "description": "Archives a batch of calls by ID.",
        "operationId": "ArchiveABatchOfCallsById",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      }
                    }
                  },
                  "title": "Inputs"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/calls": {
      "get": {
        "summary": "List calls",
        "description": "Retrieves a page of calls. Control what is returned via the `properties` query param.",
        "operationId": "List",
        "parameters": [
          {
            "name": "limit",
            "default": 10,
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "The limit.",
            "type": "integer",
            "format": "int32",
            "required": false
          },
          {
            "name": "after",
            "in": "query",
            "x-ms-summary": "After",
            "description": "The after.",
            "type": "string",
            "required": false
          },
          {
            "name": "properties",
            "in": "query",
            "x-ms-summary": "Properties",
            "description": "The properties.",
            "type": "string",
            "required": false
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "x-ms-summary": "Properties with History",
            "description": "The properties with history.",
            "type": "string",
            "required": false
          },
          {
            "name": "associations",
            "in": "query",
            "x-ms-summary": "Associations",
            "description": "The associations.",
            "type": "string",
            "required": false
          },
          {
            "name": "archived",
            "default": false,
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether archived.",
            "type": "boolean",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      },
                      "associations": {
                        "type": "object",
                        "properties": {},
                        "description": "The associations object.",
                        "title": "Associations"
                      }
                    }
                  },
                  "title": "Results"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The after.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "List",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "post": {
        "summary": "Create a call",
        "description": "Creates a call with the given properties and return a copy of the object, including the ID.",
        "operationId": "CreateCall",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "associations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "to": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          }
                        },
                        "title": "To"
                      },
                      "types": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "associationCategory": {
                              "type": "string",
                              "description": "The association category.",
                              "title": "Association Category"
                            },
                            "associationTypeId": {
                              "type": "string",
                              "description": "The association type identifier.",
                              "title": "Association Type ID"
                            }
                          }
                        },
                        "title": "Types"
                      }
                    }
                  },
                  "title": "Associations"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "propertiesWithHistory": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties with history.",
                  "title": "Properties With History"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                },
                "archivedAt": {
                  "type": "string",
                  "description": "When archived at.",
                  "title": "Archived At"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "CreateCall",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/crm/v3/objects/calls/{callId}": {
      "get": {
        "summary": "Read an object",
        "description": "Retrieves an object identified by 'callId'. 'callId' refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.",
        "operationId": "ReadObject",
        "parameters": [
          {
            "name": "properties",
            "in": "query",
            "x-ms-summary": "Properties",
            "description": "The properties.",
            "type": "string",
            "required": false
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "x-ms-summary": "Properties with History",
            "description": "The properties with history.",
            "type": "string",
            "required": false
          },
          {
            "name": "associations",
            "in": "query",
            "x-ms-summary": "Associations",
            "description": "The associations.",
            "type": "string",
            "required": false
          },
          {
            "name": "archived",
            "default": false,
            "in": "query",
            "x-ms-summary": "Archived",
            "description": "Whether archived.",
            "type": "boolean",
            "required": false
          },
          {
            "name": "idProperty",
            "in": "query",
            "x-ms-summary": "ID Property",
            "description": "The identifier property.",
            "type": "string",
            "required": false
          },
          {
            "name": "callId",
            "in": "path",
            "x-ms-summary": "Call ID",
            "x-ms-url-encoding": "single",
            "description": "The call identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "propertiesWithHistory": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties with history.",
                  "title": "Properties With History"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                },
                "archivedAt": {
                  "type": "string",
                  "description": "When archived at.",
                  "title": "Archived At"
                },
                "associations": {
                  "type": "object",
                  "properties": {},
                  "description": "The associations object.",
                  "title": "Associations"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ReadObject",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "delete": {
        "summary": "Archive an object",
        "description": "Moves an object identified by 'callId' to the recycling bin.",
        "operationId": "Archive",
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "x-ms-summary": "Call ID",
            "x-ms-url-encoding": "single",
            "description": "The call identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an object",
        "description": "Performs a partial update of an object identified by 'callId'. 'callId' refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "UpdateObject",
        "parameters": [
          {
            "name": "idProperty",
            "in": "query",
            "x-ms-summary": "ID Property",
            "description": "The identifier property.",
            "type": "string",
            "required": false
          },
          {
            "name": "callId",
            "in": "path",
            "x-ms-summary": "Call ID",
            "x-ms-url-encoding": "single",
            "description": "The call identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "propertiesWithHistory": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties with history.",
                  "title": "Properties With History"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                },
                "archivedAt": {
                  "type": "string",
                  "description": "When archived at.",
                  "title": "Archived At"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "UpdateObject",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/crm/v3/objects/calls/merge": {
      "post": {
        "summary": "Merge two calls",
        "description": "Merges two calls with same type.",
        "operationId": "MergeTwoCallsWithSameType",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "objectIdToMerge": {
                  "type": "string",
                  "description": "The object identifier to merge.",
                  "title": "Object ID To Merge"
                },
                "primaryObjectId": {
                  "type": "string",
                  "description": "The primary object identifier.",
                  "title": "Primary Object ID"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "properties": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties object.",
                  "title": "Properties"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "propertiesWithHistory": {
                  "type": "object",
                  "properties": {},
                  "description": "The properties with history.",
                  "title": "Properties With History"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether archived.",
                  "title": "Archived"
                },
                "archivedAt": {
                  "type": "string",
                  "description": "When archived at.",
                  "title": "Archived At"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/calls/gdpr-delete": {
      "post": {
        "summary": "Delete a call - GDPR",
        "description": "Permanently deletes a call and all associated content to follow GDPR. Use optional property 'idProperty' set to 'email' to identify contact by email address. If email address is not found, the email address will be added to a blocklist and prevent it from being used in the future.",
        "operationId": "GdprDelete",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "objectId": {
                  "type": "string",
                  "description": "The object identifier.",
                  "title": "Object ID"
                },
                "idProperty": {
                  "type": "string",
                  "description": "The identifier property.",
                  "title": "ID Property"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/calls/search": {
      "post": {
        "summary": "Search calls",
        "description": "Retrieves a list of calls.",
        "operationId": "Post-_crm_v3_objects_calls_search",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "after": {
                  "type": "string",
                  "description": "The after.",
                  "title": "After"
                },
                "filterGroups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "operator": {
                              "type": "string",
                              "description": "The operator.",
                              "title": "Operator"
                            },
                            "propertyName": {
                              "type": "string",
                              "description": "The property name.",
                              "title": "Property Name"
                            },
                            "value": {
                              "type": "string",
                              "description": "The value.",
                              "title": "Value"
                            },
                            "highValue": {
                              "type": "string",
                              "description": "The high value.",
                              "title": "High Value"
                            },
                            "values": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "The values.",
                              "title": "Values"
                            }
                          }
                        },
                        "title": "Filters"
                      }
                    }
                  },
                  "title": "Filter Groups"
                },
                "limit": {
                  "type": "string",
                  "description": "The limit.",
                  "title": "Limit"
                },
                "properties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The properties.",
                  "title": "Properties"
                },
                "sorts": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The sorts.",
                  "title": "Sorts"
                },
                "query": {
                  "type": "string",
                  "description": "The query.",
                  "title": "Query"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties object.",
                        "title": "Properties"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "propertiesWithHistory": {
                        "type": "object",
                        "properties": {},
                        "description": "The properties with history object.",
                        "title": "Properties With History"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "archivedAt": {
                        "type": "string",
                        "description": "When archived at.",
                        "title": "Archived At"
                      }
                    }
                  },
                  "title": "Results"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "paging": {
                  "type": "object",
                  "properties": {
                    "next": {
                      "type": "object",
                      "properties": {
                        "after": {
                          "type": "string",
                          "description": "The after.",
                          "title": "After"
                        },
                        "link": {
                          "type": "string",
                          "description": "The link.",
                          "title": "Link"
                        }
                      },
                      "title": "Next"
                    }
                  },
                  "title": "Paging"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "description": "The category.",
                  "title": "Category"
                },
                "correlationId": {
                  "type": "string",
                  "description": "The correlation identifier.",
                  "title": "Correlation ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "subCategory": {
                  "type": "string",
                  "description": "The sub category.",
                  "title": "Sub Category"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "in": {
                        "type": "string",
                        "description": "The in string.",
                        "title": "In"
                      },
                      "code": {
                        "type": "string",
                        "description": "The code.",
                        "title": "Code"
                      },
                      "subCategory": {
                        "type": "string",
                        "description": "The sub category object.",
                        "title": "Sub Category"
                      },
                      "context": {
                        "type": "object",
                        "properties": {},
                        "description": "The context object.",
                        "title": "Context"
                      }
                    }
                  },
                  "title": "Errors"
                },
                "context": {
                  "type": "object",
                  "properties": {},
                  "description": "The context object.",
                  "title": "Context"
                },
                "links": {
                  "type": "object",
                  "properties": {},
                  "description": "The links object.",
                  "title": "Links"
                }
              }
            }
          }
        }
      }
    },
    "/crm/v3/objects/emails/batch/create": {
      "post": {
        "summary": "Create a batch of emails",
        "description": "Creates a batch of emails.",
        "operationId": "CreateABatchOfEmails",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "inputs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "associations": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "to": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                }
                              },
                              "title": "To"
                            },
                            "types": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "associationCategory": {
                                    "type": "string",
                                    "description": "The association category.",
                                    "title": "Association Category"
                                  },
                                  "associationTypeId": {
                                    "type": "string",
                                    "description": "The association type identifier.",
                                    "title": "Association Type ID"
                                  }
                                }
                              },
[...]
