{
  "swagger": "2.0",
  "info": {
    "title": "PremiumConnector SF",
    "description": "Connector for SAP SuccessFactors Modules.",
    "version": "1.0.0",
    "contact": {
      "name": "Sascha Bajonczak",
      "url": "https://sap-connectors.bajonczak.com",
      "email": "xbeejayx@hotmail.com"
    }
  },
  "host": "sap-api.bajonczak.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://sap-connectors.bajonczak.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://blog.bajonczak.com/privacy-policy/"
    }
  ],
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://sap-api.bajonczak.com/oauth2/authorize",
      "tokenUrl": "https://sap-api.bajonczak.com/oauth2/token",
      "refreshUrl": "https://sap-api.bajonczak.com/oauth2/token",
      "clientId": "c6917df8-0049-46b5-8136-11b10d8d7e59",
      "clientSecret": "Dummy value - replace in production",
      "scopes": {
        "premiumconnector.read": "Read access to PremiumConnector resources",
        "premiumconnector.write": "Write access to PremiumConnector resources"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "premiumconnector.read"
      ]
    }
  ],
  "paths": {
    "/api/v1/plans": {
      "get": {
        "summary": "List plans",
        "description": "Returns all active plans for pricing and onboarding.",
        "operationId": "Plans_GetAll",
        "x-ms-summary": "List plans",
        "security": [],
        "responses": {
          "200": {
            "description": "Plan list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PlanDto"
              }
            }
          }
        }
      }
    },
    "/api/v1/job-postings": {
      "get": {
        "summary": "List job postings",
        "description": "Returns job requisitions from SuccessFactors through PremiumConnector.",
        "operationId": "JobPosting_GetJobPostings",
        "x-ms-summary": "List job postings",
        "parameters": [
          {
            "name": "templateType",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Template type",
            "x-ms-visibility": "advanced",
            "description": "Optional template type filter, for example JOB_REQ."
          },
          {
            "name": "activeOnly",
            "in": "query",
            "type": "boolean",
            "required": false,
            "default": false,
            "x-ms-summary": "Active only",
            "description": "When true, returns only active postings."
          },
          {
            "name": "top",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "default": 50,
            "x-ms-summary": "Page size",
            "x-ms-visibility": "advanced",
            "description": "Maximum number of results to return."
          },
          {
            "name": "skip",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "default": 0,
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced",
            "description": "Number of items to skip for paging."
          }
        ],
        "responses": {
          "200": {
            "description": "Job posting list",
            "schema": {
              "$ref": "#/definitions/JobPostingListResponse"
            }
          }
        }
      }
    },
    "/api/v1/job-postings/{id}": {
      "get": {
        "summary": "Get job posting by id",
        "description": "Returns a single job requisition by id.",
        "operationId": "JobPosting_GetJobPostingById",
        "x-ms-summary": "Get job posting by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Job posting id",
            "description": "Internal PremiumConnector job posting identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Job posting",
            "schema": {
              "$ref": "#/definitions/JobRequisition"
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/v1/job-applications": {
      "get": {
        "summary": "List job applications",
        "description": "Returns paged job applications and supports filtering by jobReqId and status.",
        "operationId": "JobApplication_GetJobApplications",
        "x-ms-summary": "List job applications",
        "parameters": [
          {
            "name": "jobReqId",
            "in": "query",
            "type": "integer",
            "format": "int64",
            "required": false,
            "x-ms-summary": "Job requisition id",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string",
            "required": false,
            "x-ms-summary": "Application status",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "top",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "default": 50,
            "x-ms-summary": "Page size",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "skip",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "default": 0,
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Job application list",
            "schema": {
              "$ref": "#/definitions/JobApplicationListResponse"
            }
          }
        }
      }
    },
    "/api/v1/job-applications/{id}": {
      "get": {
        "summary": "Get job application by id",
        "description": "Returns a single job application by its id.",
        "operationId": "JobApplication_GetJobApplicationById",
        "x-ms-summary": "Get job application by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Application id"
          }
        ],
        "responses": {
          "200": {
            "description": "Job application",
            "schema": {
              "$ref": "#/definitions/JobApplication"
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/api/v1/job-interviews": {
      "post": {
        "summary": "Create interview",
        "description": "Creates a new interview for an existing job application.",
        "operationId": "JobInterview_CreateInterview",
        "x-ms-summary": "Create interview",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateJobInterviewRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Interview created",
            "schema": {
              "$ref": "#/definitions/CreateJobInterviewResponse"
            }
          }
        }
      }
    },
    "/api/v1/candidates": {
      "get": {
        "summary": "List candidates",
        "description": "Returns a list of candidates.",
        "operationId": "Candidate_GetCandidates",
        "x-ms-summary": "List candidates",
        "parameters": [
          {
            "name": "top",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "required": false,
            "default": 20,
            "x-ms-summary": "Max results",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CandidateResponse"
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create candidate",
        "description": "Creates a candidate in SuccessFactors.",
        "operationId": "Candidate_CreateCandidate",
        "x-ms-summary": "Create candidate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CandidateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Candidate created",
            "schema": {
              "$ref": "#/definitions/CandidateResponse"
            }
          }
        }
      }
    },
    "/api/v1/candidates/{candidateId}": {
      "get": {
        "summary": "Get candidate by id",
        "description": "Returns a candidate by SuccessFactors candidate id.",
        "operationId": "Candidate_GetCandidateById",
        "x-ms-summary": "Get candidate by id",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Candidate id"
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate",
            "schema": {
              "$ref": "#/definitions/CandidateResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Update candidate",
        "description": "Updates an existing candidate.",
        "operationId": "Candidate_UpdateCandidate",
        "x-ms-summary": "Update candidate",
        "parameters": [
          {
            "name": "candidateId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Candidate id"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CandidateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candidate updated",
            "schema": {
              "$ref": "#/definitions/CandidateResponse"
            }
          }
        }
      }
    },
    "/api/v1/picklists/{picklistId}": {
      "get": {
        "summary": "Get picklist values",
        "description": "Returns all values for the given picklist id.",
        "operationId": "Picklist_GetPicklist",
        "x-ms-summary": "Get picklist values",
        "parameters": [
          {
            "name": "picklistId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Picklist id"
          }
        ],
        "responses": {
          "200": {
            "description": "Picklist values",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PicklistOption"
              }
            }
          }
        }
      }
    },
    "/api/v1/metadata/entities/{entityName}/fields": {
      "get": {
        "summary": "Get entity fields",
        "description": "Returns available field names for a SuccessFactors entity.",
        "operationId": "Metadata_GetEntityFields",
        "x-ms-summary": "Get entity fields",
        "parameters": [
          {
            "name": "entityName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Entity name"
          }
        ],
        "responses": {
          "200": {
            "description": "Entity fields",
            "schema": {
              "$ref": "#/definitions/EntityFieldsResponse"
            }
          }
        }
      }
    },
    "/api/v1/metadata/raw": {
      "get": {
        "summary": "Get raw metadata",
        "description": "Returns raw EDMX metadata XML as text.",
        "operationId": "Metadata_GetRawMetadata",
        "x-ms-summary": "Get raw metadata",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Raw metadata",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PlanDto": {
      "type": "object",
      "required": [
        "id",
        "name",
        "requestQuota",
        "pricePerMonth"
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "requestQuota": {
          "type": "integer",
          "format": "int32"
        },
        "maxApiKeys": {
          "type": "integer",
          "format": "int32"
        },
        "pricePerMonth": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "JobPostingListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobRequisition"
          }
        },
        "top": {
          "type": "integer",
          "format": "int32"
        },
        "skip": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "JobRequisition": {
      "type": "object",
      "properties": {
        "jobReqId": {
          "type": "string"
        },
        "jobReqLocale": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "templateType": {
          "type": "string"
        },
        "status": {
          "type": "string"
        }
      }
    },
    "JobApplicationListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobApplication"
          }
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "top": {
          "type": "integer",
          "format": "int32"
        },
        "skip": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "JobApplication": {
      "type": "object",
      "properties": {
        "applicationId": {
          "type": "string"
        },
        "jobReqId": {
          "type": "string"
        },
        "status": {
          "type": "string"
        },
        "candidateId": {
          "type": "string"
        },
        "candidateNameLF": {
          "type": "string"
        },
        "applicationDate": {
          "type": "string"
        },
        "lastModifiedDate": {
          "type": "string"
        }
      },
      "additionalProperties": true
    },
    "CreateJobInterviewRequest": {
      "type": "object",
      "required": [
        "applicationId"
      ],
      "properties": {
        "applicationId": {
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "type": "string",
          "format": "date-time"
        },
        "isTimeSet": {
          "type": "boolean"
        },
        "templateType": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "interviewerUserId": {
          "type": "string"
        }
      }
    },
    "CreateJobInterviewResponse": {
      "type": "object",
      "properties": {
        "applicationId": {
          "type": "string"
        },
        "startDate": {
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "type": "string",
          "format": "date-time"
        },
        "isTimeSet": {
          "type": "boolean"
        },
        "templateType": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "notes": {
          "type": "string"
        },
        "interviewerUserId": {
          "type": "string"
        }
      }
    },
    "CandidateRequest": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "country",
        "primaryEmail"
      ],
      "properties": {
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "primaryEmail": {
          "type": "string",
          "format": "email"
        },
        "address": {
          "type": "string"
        },
        "cellPhone": {
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "minAnnualSal": {
          "type": "string"
        },
        "city": {
          "type": "string"
        }
      },
      "additionalProperties": true
    },
    "CandidateResponse": {
      "type": "object",
      "properties": {
        "candidateId": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "primaryEmail": {
          "type": "string",
          "format": "email"
        },
        "country": {
          "type": "string"
        },
        "cellPhone": {
          "type": "string"
        },
        "gender": {
          "type": "string"
        },
        "minAnnualSal": {
          "type": "string"
        }
      },
      "additionalProperties": true
    },
    "PicklistOption": {
      "type": "object",
      "properties": {
        "picklistId": {
          "type": "string"
        },
        "optionId": {
          "type": "string"
        },
        "externalCode": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "additionalProperties": true
    },
    "EntityFieldsResponse": {
      "type": "object",
      "properties": {
        "entityName": {
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    }
  }
}