{
  "swagger": "2.0",
  "info": {
    "title": "Bluesky Control Panel",
    "description": "Specification for the Bluesky Social endpoints",
    "contact": {
      "name": "Dan Romano",
      "email": "dan.romano@swolcat.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit/"
    },
    "version": "1.0"
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://docs.bsky.app/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://example.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media"
    }
  ],
  "host": "bsky.social",
  "basePath": "/xrpc",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "bearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "consumes": [
  ],
  "produces": [
  ],
  "paths": {
    "/com.atproto.repo.listMissingBlobs": {
      "get": {
        "tags": [
          "com.atproto.repo"
        ],
        "summary": "List Missing Blobs",
        "description": "Retrieves a list of missing blobs (data units) in the repository. This endpoint is part of the `atproto.repo` namespace and requires authentication.",
        "operationId": "ListMissingBlobs",
        "parameters": [
          {
            "name": "repoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the repository to check for missing blobs.",
            "x-ms-summary": "Repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of missing blobs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "The unique identifier of a missing blob."
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.repo.listRecords": {
      "get": {
        "tags": [
          "com.atproto.repo"
        ],
        "summary": "List Records",
        "description": "Retrieves a list of records within the repository. This endpoint is part of the `atproto.repo` namespace and requires authentication.",
        "operationId": "ListRecords",
        "parameters": [
          {
            "name": "repoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the repository to list records from.",
            "x-ms-summary": "Repository ID"
          },
          {
            "name": "recordType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by the type of records to list.",
            "x-ms-summary": "Record type"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of records.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "recordId": {
                    "type": "string",
                    "description": "Unique identifier of the record."
                  },
                  "data": {
                    "type": "object",
                    "description": "Content of the record."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.repo.putRecord": {
      "put": {
        "tags": [
          "com.atproto.repo"
        ],
        "summary": "Put Record",
        "description": "Updates or creates a record within the repository. This endpoint is part of the `atproto.repo` namespace and requires authentication.",
        "operationId": "PutRecord",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "recordDetails",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "recordId": {
                  "type": "string",
                  "description": "Unique identifier of the record to be created or updated."
                },
                "content": {
                  "type": "object",
                  "description": "Content data of the record."
                }
              }
            },
            "x-ms-summary": "Record details"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully put the record in the repository.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the record was successfully created or updated."
                },
                "recordId": {
                  "type": "string",
                  "description": "Unique identifier of the record."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.repo.uploadBlob": {
      "post": {
        "tags": [
          "com.atproto.repo"
        ],
        "summary": "Upload Blob",
        "description": "Uploads a binary blob to the specified repository in the Ozone system. This endpoint is part of the `com.atproto.repo` namespace and requires authentication.",
        "operationId": "UploadBlob",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "The binary file to upload as a blob.",
            "x-ms-summary": "Blob File"
          },
          {
            "name": "repoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the repository where the blob will be stored.",
            "x-ms-summary": "Repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully uploaded the blob.",
            "schema": {
              "type": "object",
              "properties": {
                "blobId": {
                  "type": "string",
                  "description": "The unique identifier of the uploaded blob."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.activateAccount": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Activate Account",
        "description": "Activates a newly created account based on verification data, enabling access to the platform. This endpoint is part of the `atproto.server` namespace and requires authentication.\n",
        "operationId": "ActivateAccount",
        "parameters": [
          {
            "name": "activationCode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The activation code provided to the user during account creation.",
            "x-ms-summary": "Activation code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully disabled invites for the specified account.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the account's invites were successfully disabled."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.checkAccountStatus": {
      "get": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Check Account Status",
        "description": "Retrieves the status of a specific account, providing details on activation and accessibility. This endpoint is part of the `atproto.server` namespace.",
        "operationId": "CheckAccountStatus",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the account to check.",
            "x-ms-summary": "Account ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully disabled invites for the specified account.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the account's invites were successfully disabled."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.confirmEmail": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Confirm Email",
        "description": "Confirms a user's email address during account setup. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "ConfirmEmail",
        "parameters": [
          {
            "name": "confirmationCode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The confirmation code sent to the user's email.",
            "x-ms-summary": "Confirmation code"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully confirmed the email.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the email was successfully confirmed."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid confirmation code or parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.createAccount": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Create Account",
        "description": "Creates a new user account on the platform. This endpoint is part of the `atproto.server` namespace.",
        "operationId": "CreateAccount",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountDetails",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "username": {
                  "type": "string",
                  "description": "Desired username for the account."
                },
                "email": {
                  "type": "string",
                  "format": "email",
                  "description": "Email address associated with the account."
                },
                "password": {
                  "type": "string",
                  "description": "Password for the account."
                }
              }
            },
            "x-ms-summary": "Account details"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created the account.",
            "schema": {
              "type": "object",
              "properties": {
                "accountId": {
                  "type": "string",
                  "description": "Unique identifier of the newly created account."
                },
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the account was successfully created."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.createAppPassword": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Create App Password",
        "description": "Generates a new app-specific password for the user, allowing limited access to applications. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "CreateAppPassword",
        "parameters": [
          {
            "name": "appName",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The name of the application for which the password is being created.",
            "x-ms-summary": "Application name"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created an app-specific password.",
            "schema": {
              "type": "object",
              "properties": {
                "appPassword": {
                  "type": "string",
                  "description": "The generated app-specific password."
                },
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the app password was successfully created."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.moderation.getEvent": {
      "get": {
        "tags": [
          "tools.ozone.moderation"
        ],
        "summary": "Get Moderation Event",
        "description": "Retrieves details of a specific moderation event in the Ozone system. This endpoint is part of the `tools.ozone.moderation` namespace and requires authentication.",
        "operationId": "GetEvent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the moderation event to retrieve.",
            "x-ms-summary": "Event ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the moderation event details.",
            "schema": {
              "type": "object",
              "properties": {
                "eventId": {
                  "type": "string",
                  "description": "The unique identifier of the moderation event."
                },
                "eventType": {
                  "type": "string",
                  "description": "The type of the moderation event (e.g., 'warning', 'ban')."
                },
                "targetId": {
                  "type": "string",
                  "description": "The identifier of the target associated with the event."
                },
                "reason": {
                  "type": "string",
                  "description": "The reason for the moderation event."
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The timestamp when the event was created."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified event does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.createInviteCode": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Create Invite Code",
        "description": "Creates a single invite code, allowing the invited user to create an account. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "CreateInviteCode",
        "parameters": [
          {
            "name": "targetEmail",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "email",
            "description": "The email address of the user to be invited.",
            "x-ms-summary": "Target email"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created an invite code.",
            "schema": {
              "type": "object",
              "properties": {
                "inviteCode": {
                  "type": "string",
                  "description": "The generated invite code."
                },
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the invite code was successfully created."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.createInviteCodes": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Create Invite Codes",
        "description": "Generates new invite codes for users in the system. This endpoint is part of the `com.atproto.server` namespace and requires authentication.",
        "operationId": "CreateInviteCodes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "inviteData",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "The number of invite codes to create.",
                  "x-ms-summary": "Count"
                },
                "expiration": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The expiration date of the invite codes.",
                  "x-ms-summary": "Expiration Date"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created invite codes.",
            "schema": {
              "type": "object",
              "properties": {
                "codes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of generated invite codes."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.createSession": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Create Session",
        "description": "Authenticates to Bluesky and retrieves session tokens.",
        "operationId": "CreateSession",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "identifier": {
                  "type": "string",
                  "description": "The username or email used for authentication.",
                  "x-ms-summary": "Username",
                  "x-ms-visibility": "important"
                },
                "password": {
                  "type": "string",
                  "description": "The API key (password) for authentication.",
                  "x-ms-summary": "Password",
                  "x-ms-visibility": "important"
                },
                "pdsHost": {
                  "type": "string",
                  "description": "The Bluesky host (e.g., bsky.social).",
                  "x-ms-summary": "Bluesky Host",
                  "x-ms-visibility": "important",
                  "title": "Bluesky Host",
                  "default": "bluesky.social"
                }
              },
              "required": [
                "identifier",
                "password",
                "pdsHost"
              ]
            },
            "description": "The credentials required to authenticate to Bluesky."
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully authenticated and retrieved session tokens.",
            "schema": {
              "type": "object",
              "properties": {
                "accessJwt": {
                  "type": "string",
                  "description": "The access token for authenticated API calls."
                },
                "refreshJwt": {
                  "type": "string",
                  "description": "The refresh token for session renewal."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Invalid username or password.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Unexpected error."
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/com.atproto.server.deactivateAccount": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Deactivate Account",
        "description": "Deactivates the user's account, suspending access to the platform. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "DeactivateAccount",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successfully deactivated the account.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the account was successfully deactivated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.set.deleteSet": {
      "delete": {
        "tags": [
          "tools.ozone.set"
        ],
        "summary": "Delete Set",
        "description": "Deletes a specified set in the Ozone system. This endpoint is part of the `tools.ozone.set` namespace and requires authentication.",
        "operationId": "DeleteSet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "setId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the set to delete.",
            "x-ms-summary": "Set ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified set.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the set was successfully deleted."
                },
                "message": {
                  "type": "string",
                  "description": "Confirmation message for the deletion."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified set does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.set.deleteValues": {
      "delete": {
        "tags": [
          "tools.ozone.set"
        ],
        "summary": "Delete Values from Set",
        "description": "Deletes specific values from a specified set in the Ozone system. This endpoint is part of the `tools.ozone.set` namespace and requires authentication.",
        "operationId": "DeleteValues",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "setId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the set from which to delete values.",
            "x-ms-summary": "Set ID"
          },
          {
            "name": "values",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "List of values to be deleted from the set.",
            "x-ms-summary": "Values to Delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the specified values from the set.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the values were successfully deleted."
                },
                "message": {
                  "type": "string",
                  "description": "Confirmation message for the deletion of values."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified set does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.deleteSession": {
      "delete": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Delete Session",
        "description": "Ends the user's current session, effectively logging them out. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "DeleteSession",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the session.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the session was successfully deleted."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.set.getValues": {
      "get": {
        "tags": [
          "tools.ozone.set"
        ],
        "summary": "Get Values from Set",
        "description": "Retrieves values from a specified set in the Ozone system. This endpoint is part of the `tools.ozone.set` namespace and requires authentication.",
        "operationId": "GetValues",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "setId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the set from which to retrieve values.",
            "x-ms-summary": "Set ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of values to retrieve from the set.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The starting point for retrieving values, useful for pagination.",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved values from the specified set.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "A value from the specified set."
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified set does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.set.querySets": {
      "get": {
        "tags": [
          "tools.ozone.set"
        ],
        "summary": "Query Sets",
        "description": "Retrieves a list of sets based on specified filters in the Ozone system. This endpoint is part of the `tools.ozone.set` namespace and requires authentication.",
        "operationId": "QuerySets",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter to apply when querying sets, such as a keyword or tag.",
            "x-ms-summary": "Filter"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of sets to retrieve in the query results.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The starting point for retrieving sets, useful for pagination.",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of sets matching the query.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "setId": {
                    "type": "string",
                    "description": "The unique identifier of the set."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the set."
                  },
                  "description": {
                    "type": "string",
                    "description": "A brief description of the set."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the set was created."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.set.upsertSet": {
      "put": {
        "tags": [
          "tools.ozone.set"
        ],
        "summary": "Upsert Set",
        "description": "Creates or updates a set in the Ozone system. This endpoint is part of the `tools.ozone.set` namespace and requires authentication.",
        "operationId": "UpsertSet",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "setId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The unique identifier of the set. If not provided, a new set will be created.",
            "x-ms-summary": "Set ID"
          },
          {
            "name": "setData",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the set.",
                  "x-ms-summary": "Set Name"
                },
                "description": {
                  "type": "string",
                  "description": "A brief description of the set.",
                  "x-ms-summary": "Set Description"
                },
                "values": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "A list of values to include in the set.",
                  "x-ms-summary": "Set Values"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created or updated the set.",
            "schema": {
              "type": "object",
              "properties": {
                "setId": {
                  "type": "string",
                  "description": "The unique identifier of the upserted set."
                },
                "message": {
                  "type": "string",
                  "description": "Confirmation message for the upsert operation."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.describeServer": {
      "get": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Describe Server",
        "description": "Retrieves metadata and configuration details about the server. This endpoint is part of the `atproto.server` namespace.",
        "operationId": "DescribeServer",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved server description.",
            "schema": {
              "type": "object",
              "properties": {
                "serverName": {
                  "type": "string",
                  "description": "Name of the server."
                },
                "version": {
                  "type": "string",
                  "description": "Version of the server software."
                },
                "features": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of features supported by the server."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.getAccountInviteCodes": {
      "get": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Get Account Invite Codes",
        "description": "Retrieves a list of invite codes associated with the user's account. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "GetAccountInviteCodes",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved account invite codes.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "inviteCode": {
                    "type": "string",
                    "description": "The invite code string."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the invite code was created."
                  },
                  "expiresAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the invite code will expire, if applicable."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.getServiceAuth": {
      "get": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Get Service Auth",
        "description": "Retrieves authentication information for the current service, such as token details or login requirements. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "GetServiceAuth",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved service authentication details.",
            "schema": {
              "type": "object",
              "properties": {
                "authToken": {
                  "type": "string",
                  "description": "Authentication token for the service."
                },
                "expiresIn": {
                  "type": "integer",
                  "description": "Expiration time of the authentication token in seconds."
                },
                "tokenType": {
                  "type": "string",
                  "description": "Type of the token (e.g., Bearer)."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.getSession": {
      "get": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Get Session",
        "description": "Retrieves details about the current session, including user information and session status. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "GetSession",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved session details.",
            "schema": {
              "type": "object",
              "properties": {
                "sessionId": {
                  "type": "string",
                  "description": "Unique identifier of the session."
                },
                "userId": {
                  "type": "string",
                  "description": "Unique identifier of the user associated with the session."
                },
                "isActive": {
                  "type": "boolean",
                  "description": "Indicates if the session is currently active."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.listAppPasswords": {
      "get": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "List App Passwords",
        "description": "Retrieves a list of app-specific passwords generated for the user's account. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "ListAppPasswords",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of app passwords.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "appPasswordId": {
                    "type": "string",
                    "description": "Unique identifier of the app password."
                  },
                  "appName": {
                    "type": "string",
                    "description": "Name of the app associated with the password."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the app password was created."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.refreshSession": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Refresh Session",
        "description": "Refreshes the session tokens using the refresh token. This allows you to obtain a new access token and refresh token without re-authenticating.\n",
        "operationId": "RefreshSession",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "refreshToken": {
                  "type": "string",
                  "description": "The refresh token issued during session creation. This token is used to obtain a new access token and refresh token.\n",
                  "x-ms-summary": "Refresh Token"
                }
              },
              "required": [
                "refreshToken"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully refreshed the session tokens.",
            "schema": {
              "type": "object",
              "properties": {
                "accessJwt": {
                  "type": "string",
                  "description": "The new access token for authenticated API calls."
                },
                "refreshJwt": {
                  "type": "string",
                  "description": "The new refresh token for session renewal."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid or expired refresh token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - An unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/com.atproto.server.requestAccountDelete": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Request Account Delete",
        "description": "Initiates a request to delete the user's account. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "RequestAccountDelete",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successfully initiated account deletion request.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the account deletion request was successfully initiated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.requestEmailConfirmation": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Request Email Confirmation",
        "description": "Sends a confirmation email to verify the user’s email address. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "RequestEmailConfirmation",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successfully requested email confirmation.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the email confirmation request was successfully sent."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.requestEmailUpdate": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Request Email Update",
        "description": "Initiates a request to update the user’s email address. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "RequestEmailUpdate",
        "parameters": [
          {
            "name": "newEmail",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "email",
            "description": "The new email address to associate with the user’s account.",
            "x-ms-summary": "New email address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully initiated email update request.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the email update request was successfully initiated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.requestPasswordReset": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Request Password Reset",
        "description": "Sends a password reset request to the user’s email, initiating the password reset process. This endpoint is part of the `atproto.server` namespace.",
        "operationId": "RequestPasswordReset",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "email",
            "description": "The email address associated with the user’s account.",
            "x-ms-summary": "User email address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully initiated password reset request.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the password reset request was successfully initiated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid email or parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.reserveSigningKey": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Reserve Signing Key",
        "description": "Reserves a signing key for the user, enabling specific cryptographic operations. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "ReserveSigningKey",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "signingKeyDetails",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "keyName": {
                  "type": "string",
                  "description": "Name of the signing key to be reserved."
                }
              }
            },
            "x-ms-summary": "Signing key details"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully reserved signing key.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the signing key was successfully reserved."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.resetPassword": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Reset Password",
        "description": "Resets the user’s password after verifying a reset token, enabling them to regain account access. This endpoint is part of the `atproto.server` namespace.",
        "operationId": "ResetPassword",
        "parameters": [
          {
            "name": "resetToken",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The token provided to verify password reset.",
            "x-ms-summary": "Reset token"
          },
          {
            "name": "newPassword",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The new password to set for the account.",
            "x-ms-summary": "New password"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully reset the password.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the password was successfully reset."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid reset token or parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.revokeAppPassword": {
      "delete": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Revoke App Password",
        "description": "Revokes an app-specific password, removing its access to the user’s account. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "RevokeAppPassword",
        "parameters": [
          {
            "name": "appPasswordId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the app password to revoke.",
            "x-ms-summary": "App password ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully revoked the app password.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the app password was successfully revoked."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid app password ID.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.server.updateEmail": {
      "post": {
        "tags": [
          "com.atproto.server"
        ],
        "summary": "Update Email",
        "description": "Updates the user’s email address after verification. This endpoint is part of the `atproto.server` namespace and requires authentication.",
        "operationId": "UpdateEmail",
        "parameters": [
          {
            "name": "verificationToken",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The token used to verify email update.",
            "x-ms-summary": "Verification token"
          },
          {
            "name": "newEmail",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "email",
            "description": "The new email address to associate with the user’s account.",
            "x-ms-summary": "New email address"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the email address.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the email address was successfully updated."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid token or parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.sync.getBlob": {
      "get": {
        "tags": [
          "com.atproto.sync"
        ],
        "summary": "Get Blob",
        "description": "Retrieves a binary blob from the specified repository in the Ozone system.",
        "operationId": "GetBlob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "blobId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the blob to retrieve.",
            "x-ms-summary": "Blob ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the blob.",
            "schema": {
              "type": "string",
              "description": "The binary data of the blob."
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified blob does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.sync.getBlocks": {
      "get": {
        "tags": [
          "com.atproto.sync"
        ],
        "summary": "Retrieve Blocks",
        "description": "Retrieves binary data blocks from the repository. This endpoint is part of the `com.atproto.sync` namespace and requires authentication.\n",
        "operationId": "GetBlocks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "blockIds",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of block IDs to retrieve.",
            "x-ms-summary": "Block IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved binary blocks.",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.sync.getLatestCommit": {
      "get": {
        "tags": [
          "com.atproto.sync"
        ],
        "summary": "Get Latest Commit",
        "description": "Retrieves details of the latest commit made to the repository. This endpoint is part of the  `atproto.sync` namespace and requires authentication.\n",
        "operationId": "GetLatestCommit",
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved latest commit details.",
            "schema": {
              "type": "object",
              "properties": {
                "commitId": {
                  "type": "string",
                  "description": "Unique identifier of the latest commit."
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp of when the commit was made."
                },
                "changes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "changeId": {
                        "type": "string",
                        "description": "Identifier of the change within the commit."
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the change."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.sync.getRepoStatus": {
      "get": {
        "tags": [
          "com.atproto.sync"
        ],
        "summary": "Get Repository Status",
        "description": "Retrieves the status of a repository, including synchronization and health information. This endpoint is part of the `atproto.sync` namespace and requires authentication.",
        "operationId": "GetRepoStatus",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the repository for which to retrieve the status.",
            "x-ms-summary": "Repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the repository status.",
            "schema": {
              "type": "object",
              "properties": {
                "repoId": {
                  "type": "string",
                  "description": "The unique identifier of the repository."
                },
                "status": {
                  "type": "string",
                  "description": "Current status of the repository (e.g., synchronized, out-of-sync)."
                },
                "health": {
                  "type": "string",
                  "description": "Health status of the repository."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified repository does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.communication.createTemplate": {
      "post": {
        "tags": [
          "tools.ozone.communication"
        ],
        "summary": "Create Communication Template",
        "description": "Creates a new communication template in the Ozone system. This endpoint is part of the `tools.ozone.communication` namespace and requires authentication.",
        "operationId": "CreateTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "templateName",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name of the communication template.",
                  "x-ms-summary": "Template Name"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject line of the communication template.",
                  "x-ms-summary": "Template Subject"
                },
                "body": {
                  "type": "string",
                  "description": "The body content of the communication template.",
                  "x-ms-summary": "Template Body"
                },
                "metadata": {
                  "type": "object",
                  "description": "Optional metadata for the template, such as tags or categories.",
                  "x-ms-summary": "Template Metadata"
                }
              }
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Language code for the template (e.g., 'en' for English).",
            "x-ms-summary": "Template Language"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created the communication template.",
            "schema": {
              "type": "object",
              "properties": {
                "templateId": {
                  "type": "string",
                  "description": "The unique identifier of the newly created template."
                },
                "message": {
                  "type": "string",
                  "description": "Confirmation message for template creation."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "409": {
            "description": "Conflict - A template with the same name already exists.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.communication.deleteTemplate": {
      "delete": {
        "tags": [
          "tools.ozone.communication"
        ],
        "summary": "Delete Communication Template",
        "description": "Deletes a specified communication template from the Ozone system. This endpoint is part of the `tools.ozone.communication` namespace and requires authentication.",
        "operationId": "DeleteTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the communication template to delete.",
            "x-ms-summary": "Template ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the communication template.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the template was successfully deleted."
                },
                "message": {
                  "type": "string",
                  "description": "Confirmation message for template deletion."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified template does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.sync.listBlobs": {
      "get": {
        "tags": [
          "com.atproto.sync"
        ],
        "summary": "List Blobs",
        "description": "Retrieves a list of blobs (data units) in the repository. This endpoint is part of the `atproto.sync` namespace and requires authentication.",
        "operationId": "ListBlobs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the repository from which to list blobs.",
            "x-ms-summary": "Repository ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of blobs to retrieve in the list.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The starting point for retrieving blobs, useful for pagination.",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of blobs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "blobId": {
                    "type": "string",
                    "description": "The unique identifier of the blob."
                  },
                  "size": {
                    "type": "integer",
                    "description": "The size of the blob in bytes."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the blob was created."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified repository does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.sync.listRepos": {
      "get": {
        "tags": [
          "com.atproto.sync"
        ],
        "summary": "List Repositories",
        "description": "Retrieves a list of repositories available for synchronization. This endpoint is part of the `atproto.sync` namespace and requires authentication.",
        "operationId": "ListRepos",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of repositories to retrieve in the list.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The starting point for retrieving repositories, useful for pagination.",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of repositories.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "repoId": {
                    "type": "string",
                    "description": "The unique identifier of the repository."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the repository."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the repository was created."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.sync.notifyOfUpdate": {
      "post": {
        "tags": [
          "com.atproto.sync"
        ],
        "summary": "Notify of Update",
        "description": "Notifies the system of an update to a repository, prompting synchronization. This endpoint is part of the `atproto.sync` namespace and requires authentication.",
        "operationId": "NotifyOfUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the repository that has been updated.",
            "x-ms-summary": "Repository ID"
          },
          {
            "name": "updateDetails",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Timestamp of the latest update to the repository.",
                  "x-ms-summary": "Update Timestamp"
                },
                "changes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "List of changes or modifications made in the update.",
                  "x-ms-summary": "Update Changes"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully notified the system of the repository update.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the notification was successfully processed."
                },
                "message": {
                  "type": "string",
                  "description": "Message confirming the update notification."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified repository does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/com.atproto.sync.requestCrawl": {
      "post": {
        "tags": [
          "com.atproto.sync"
        ],
        "summary": "Request Crawl",
        "description": "Requests a crawl for a specific repository, initiating a synchronization check. This endpoint is part of the `atproto.sync` namespace and requires authentication.",
        "operationId": "RequestCrawl",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "repoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the repository to initiate the crawl.",
            "x-ms-summary": "Repository ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully initiated a crawl for the repository.",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "Indicates if the crawl was successfully requested."
                },
                "message": {
                  "type": "string",
                  "description": "Message confirming the crawl request."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified repository does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.communication.listTemplates": {
      "get": {
        "tags": [
          "tools.ozone.communication"
        ],
        "summary": "List Communication Templates",
        "description": "Retrieves a list of communication templates in the Ozone system. This endpoint is part of the `tools.ozone.communication` namespace and requires authentication.",
        "operationId": "ListTemplates",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of templates to retrieve in the list.",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The starting point for retrieving templates, useful for pagination.",
            "x-ms-summary": "Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of communication templates.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "templateId": {
                    "type": "string",
                    "description": "The unique identifier of the template."
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the communication template."
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject line of the template."
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Timestamp when the template was created."
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.communication.updateTemplate": {
      "put": {
        "tags": [
          "tools.ozone.communication"
        ],
        "summary": "Update Communication Template",
        "description": "Updates a specified communication template in the Ozone system. This endpoint is part of the `tools.ozone.communication` namespace and requires authentication.",
        "operationId": "UpdateTemplate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The unique identifier of the communication template to update.",
            "x-ms-summary": "Template ID"
          },
          {
            "name": "templateData",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The new name of the communication template.",
                  "x-ms-summary": "Template Name"
                },
                "subject": {
                  "type": "string",
                  "description": "The updated subject line of the communication template.",
                  "x-ms-summary": "Template Subject"
                },
                "body": {
                  "type": "string",
                  "description": "The updated body content of the communication template.",
                  "x-ms-summary": "Template Body"
                },
                "metadata": {
                  "type": "object",
                  "description": "Optional metadata for the template, such as tags or categories.",
                  "x-ms-summary": "Template Metadata"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the communication template.",
            "schema": {
              "type": "object",
              "properties": {
                "templateId": {
                  "type": "string",
                  "description": "The unique identifier of the updated template."
                },
                "message": {
                  "type": "string",
                  "description": "Confirmation message for template update."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found - The specified template does not exist.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.moderation.emitEvent": {
      "post": {
        "tags": [
          "tools.ozone.moderation"
        ],
        "summary": "Emit Moderation Event",
        "description": "Emits a new moderation event in the Ozone system. This endpoint is part of the `tools.ozone.moderation` namespace and requires authentication.",
        "operationId": "EmitEvent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "eventData",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "eventType": {
                  "type": "string",
                  "description": "The type of moderation event to emit (e.g., 'warning', 'ban').",
                  "x-ms-summary": "Event Type"
                },
                "targetId": {
                  "type": "string",
                  "description": "The identifier of the target for the moderation event.",
                  "x-ms-summary": "Target ID"
                },
                "reason": {
                  "type": "string",
                  "description": "The reason for the moderation event.",
                  "x-ms-summary": "Reason"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "The timestamp when the event was created.",
                  "x-ms-summary": "Timestamp"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully emitted the moderation event.",
            "schema": {
              "type": "object",
              "properties": {
                "eventId": {
                  "type": "string",
                  "description": "The unique identifier of the emitted event."
                },
                "message": {
                  "type": "string",
                  "description": "Confirmation message for event emission."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized - Missing or invalid authentication token.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error - The server encountered an unexpected condition.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/tools.ozone.moderation.getRecord": {
      "get": {
        "tags": [
          "tools.ozone.moderation"
        ],
        "summary": "Get Moderation Record",
        "description": "Retrieves a specific moderation record in the Ozone system. This endpoint is part of the `tools.ozone.moderation` namespace and requires authentication.",
        "operationId": "GetRecord",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
[...]
