{
  "swagger": "2.0",
  "info": {
    "title": "Do Not Call Reported Calls",
    "description": "The Do Not Call (DNC) Reported Calls Data API endpoint provides data every weekday about Do Not Call and robocall complaints reported to the Federal Trade Commission. This data consists of information reported by consumers, including the telephone number originating the unwanted call, the date the complaint was created, the time the call was made, the consumer's city and state locations reported, the subject of the call, and whether the call was a robocall. The reported calls is not verified.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.ftc.gov",
  "basePath": "/v0",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/dnc-complaints": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The record type, \"dnc_complaint.\"",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The record unique identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "company-phone-number": {
                            "type": "string",
                            "description": "The telephone number the unwanted call originated from.",
                            "title": "Company Phone Number"
                          },
                          "created-date": {
                            "type": "string",
                            "description": "The date/time the complaint was created. Timestamp format is ISO 8601. Example: 1997-07-16T19:20:30+01:00",
                            "title": "Created Date"
                          },
                          "violation-date": {
                            "type": "string",
                            "description": "The date/time the unwanted call was received. Timestamp format is ISO 8601.",
                            "title": "Violation Date"
                          },
                          "consumer-city": {
                            "type": "string",
                            "description": "The city reported by the consumer who created the complaint.",
                            "title": "Consumer City"
                          },
                          "consumer-state": {
                            "type": "string",
                            "description": "",
                            "title": "Consumer State"
                          },
                          "consumer-area-code": {
                            "type": "string",
                            "description": "The area code of the consumer that created the complaint.",
                            "title": "Consumer Area Code"
                          },
                          "subject": {
                            "type": "string",
                            "description": "The subject of the unwanted call.",
                            "title": "Subject"
                          },
                          "recorded-message-or-robocall": {
                            "type": "string",
                            "description": "Indicates whether the unwanted call was a recorded message / robocall (\"Y\"), or not (\"N\").",
                            "title": "Recorded Message Or Robocall"
                          }
                        },
                        "title": "Attributes"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                            "description": "A link that pertains to this record.",
                            "title": "Link"
                          }
                        },
                        "title": "Links"
                      }
                    }
                  },
                  "title": "Data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "records-this-page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of records included in this response.",
                      "title": "Records This Page"
                    },
                    "record-total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of records found for the request.",
                      "title": "Record Total"
                    }
                  },
                  "title": "Meta"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "A link that pertains to this record.",
                      "title": "Link"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "List all DNC complaints",
        "description": "Returns a list of unverified complaints based on the filter parameters.",
        "operationId": "ComplaintsAll",
        "parameters": [
          {
            "name": "created_date",
            "in": "query",
            "x-ms-summary": "Created Date",
            "description": "Filter records by a specific date that complaints were created during. For example, show all complaints created on February 26, 2020: 2020-02-26",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_date_from",
            "in": "query",
            "x-ms-summary": "Created Date From",
            "description": "Filter records by a range of dates/times that complaints were created. These filters must be used together. Can be combined with any one these filters: State, Area Code or Is Robocall. When combined with the state filter, an optional city filter can be added.",
            "required": false,
            "type": "string"
          },
          {
            "name": "created_date_to",
            "in": "query",
            "x-ms-summary": "Created Date To",
            "description": "Filter records by a range of dates/times that complaints were created. These filters must be used together. Can be combined with any one these filters: State, Area Code or Is Robocall. When combined with the state filter, an optional city filter can be added.",
            "required": false,
            "type": "string"
          },
          {
            "name": "violation_date",
            "in": "query",
            "x-ms-summary": "Violation Date",
            "description": "Filter records by a specific date that unwanted calls were received during. For example, show all unwanted calls received on February 26, 2020: 2020-02-26",
            "required": false,
            "type": "string"
          },
          {
            "name": "violation_date_from",
            "in": "query",
            "x-ms-summary": "Violation Date From",
            "description": "Filter records by a range of dates/times that violations were created. These filters must be used together. Can be combined with any one these filters: State, Area Code or Is Robocall. When combined with the state filter, an optional city filter can be added.",
            "required": false,
            "type": "string"
          },
          {
            "name": "violation_date_to",
            "in": "query",
            "x-ms-summary": "Violation Date To",
            "description": "Filter records by a range of dates/times that violations were created. These filters must be used together. Can be combined with any one these filters: State, Area Code or Is Robocall. When combined with the state filter, an optional city filter can be added.",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "x-ms-summary": "State",
            "description": "Filter records by a state that complaints originated from. Can be combined with the city and Created Date From / Created Date To filters.",
            "required": false,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "x-ms-summary": "City",
            "description": "Filter records by a city that complaints originated from. This filter must be used together with the state filter. Can be combined with the Created Date From / Created Date To filters.",
            "required": false,
            "type": "string"
          },
          {
            "name": "area_code",
            "in": "query",
            "x-ms-summary": "Area Code",
            "description": "Filter records by the area code that complaints originated from. Can be combined with the Created Date From / Created Date To filters.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "is_robocall",
            "in": "query",
            "x-ms-summary": "Is Robocall",
            "description": "Filter by whether the unwanted call was a recorded message / robocall or not. Value must be either \"true\" or \"false\". Can be combined with the Created Date From / Created Date To filters.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort_order",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "Sort direction to use with the sort_by parameter.",
            "enum": [
              "DESC",
              "ASC"
            ],
            "default": "DESC",
            "required": false,
            "type": "string"
          },
          {
            "name": "items_per_page",
            "in": "query",
            "x-ms-summary": "Items per Page",
            "description": "Maximum number of records to include in response. By default, the endpoint displays a maximum of 50 records per request. This is also the maximum value allowed.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": " Offset by a number of records, allowing a particular section of paginated results to be requested (use with the Items Per Page parameter).",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/dnc-complaints/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The record type, \"dnc_complaint.\"",
                        "title": "Type"
                      },
                      "id": {
                        "type": "string",
                        "description": "The record unique identifier.",
                        "title": "ID"
                      },
                      "attributes": {
                        "type": "object",
                        "properties": {
                          "company-phone-number": {
                            "type": "string",
                            "description": "The telephone number the unwanted call originated from.",
                            "title": "Company Phone Number"
                          },
                          "created-date": {
                            "type": "string",
                            "description": "The date/time the complaint was created. Timestamp format is ISO 8601. Example: 1997-07-16T19:20:30+01:00",
                            "title": "Created Date"
                          },
                          "violation-date": {
                            "type": "string",
                            "description": "The date/time the unwanted call was received. Timestamp format is ISO 8601.",
                            "title": "Violation Date"
                          },
                          "consumer-city": {
                            "type": "string",
                            "description": "The city reported by the consumer who created the complaint.",
                            "title": "Consumer City"
                          },
                          "consumer-state": {
                            "type": "string",
                            "description": "",
                            "title": "Consumer State"
                          },
                          "consumer-area-code": {
                            "type": "string",
                            "description": "The area code of the consumer that created the complaint.",
                            "title": "Consumer Area Code"
                          },
                          "subject": {
                            "type": "string",
                            "description": "The subject of the unwanted call.",
                            "title": "Subject"
                          },
                          "recorded-message-or-robocall": {
                            "type": "string",
                            "description": "Indicates whether the unwanted call was a recorded message / robocall (\"Y\"), or not (\"N\").",
                            "title": "Recorded Message Or Robocall"
                          }
                        },
                        "title": "Attributes"
                      },
                      "links": {
                        "type": "object",
                        "properties": {
                          "self": {
                            "type": "string",
                            "description": "A link that pertains to this record.",
                            "title": "Link"
                          }
                        },
                        "title": "Links"
                      }
                    }
                  },
                  "title": "Data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "records-this-page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of records included in this response.",
                      "title": "Records This Page"
                    },
                    "record-total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of records found for the request.",
                      "title": "Record Total"
                    }
                  },
                  "title": "Meta"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "string",
                      "description": "A link that pertains to this record.",
                      "title": "Link"
                    }
                  },
                  "title": "Links"
                }
              }
            }
          }
        },
        "summary": "Get a single DNC complaint",
        "description": "Returns a single unverified complaint by ID.",
        "operationId": "ComplaintID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The unique identifier of the complaint.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.ftc.gov/developer/api/v0/endpoints/do-not-call-dnc-reported-calls-data-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.ftc.gov/site-information/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Communication"
    }
  ]
}
