{
  "swagger": "2.0",
  "info": {
    "title": "Veteran Confirmation",
    "description": "The Veteran Confirmation service allows you to confirm Veteran status for a given person. This can be useful for offering Veterans discounts or other benefits.",
    "termsOfService": "",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    },
    "version": "1.0.0"
  },
  "host": "api.va.gov",
  "basePath": "/services/veteran_confirmation/v0/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/status": {
      "post": {
        "tags": [
          "veteran_confirmation_status"
        ],
        "summary": "Get confirmation",
        "operationId": "StatusPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VeteranStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Confirmation status successfully retrieved.",
            "schema": {
              "$ref": "#/definitions/VeteranStatusConfirmation"
            }
          },
          "400": {
            "description": "Bad request - invalid or missing query parameters.",
            "schema": {
              "$ref": "#/definitions/APIError"
            }
          },
          "401": {
            "description": "Authorization information not provided.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Invalid authorization.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests.",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "503": {
            "description": "We encountered a temporary error. Check back in the future."
          }
        },
        "security": [
          {
            "apikey": []
          }
        ],
        "description": "Get confirmation about an individual's Veteran status according to the VA."
      }
    }
  },
  "definitions": {
    "VeteranStatusRequest": {
      "description": "Attributes required to retrieve a Veteran's status.",
      "required": [
        "ssn",
        "first_name",
        "last_name",
        "birth_date"
      ],
      "type": "object",
      "properties": {
        "ssn": {
          "description": "Social Security Number for the person of interest with or without dashes.",
          "type": "string",
          "example": "555-55-5555",
          "title": "Social Security Number"
        },
        "first_name": {
          "description": "First name for the person of interest.",
          "title": "First Name",
          "type": "string"
        },
        "last_name": {
          "description": "Last name for the person of interest.",
          "title": "Last Name",
          "type": "string"
        },
        "birth_date": {
          "description": "Birth date for the person of interest in any valid ISO8601 format.",
          "title": "Birth Date",
          "type": "string"
        },
        "middle_name": {
          "description": "Optional middle name for the person of interest.",
          "title": "Middle Name",
          "type": "string"
        },
        "gender": {
          "description": "Optional gender of M or F for the person of interest.",
          "title": "Gender",
          "enum": [
            "M",
            "F"
          ],
          "type": "string"
        }
      }
    },
    "VeteranStatusConfirmation": {
      "description": "Veteran status confirmation for an individual.",
      "type": "object",
      "properties": {
        "veteran_status": {
          "description": "Whether the system could confirm the Veteran status of an individual based on traits.",
          "title": "Veteran Status",
          "enum": [
            "confirmed",
            "not confirmed"
          ],
          "type": "string"
        }
      }
    },
    "APIError": {
      "description": "API invocation or processing error",
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "detail": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "AuthorizationError": {
      "description": "API Platform authorization (API token) error.",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "example": "No API key found in request"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "apikey": {
      "type": "apiKey",
      "name": "apikey",
      "in": "header"
    }
  },
  "security": [],
  "tags": [
    {
      "name": "veteran_confirmation_status",
      "description": "Veteran Confirmation - Veteran Status"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.va.gov/explore/verification/docs/veteran_confirmation?version=current"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.va.gov/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Human Resources"
    }
  ]
}
