{
  "swagger": "2.0",
  "info": {
    "title": "Datelist",
    "description": "Take bookings from your website with Datelist.io",
    "version": "1.0",
    "contact": {
      "name": "Datelist Support",
      "url": "https://datelist.io/contact",
      "email": "contact@datelist.io"
    }
  },
  "host": "datelist.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id"
            },
            "calendar_id": {
              "type": "integer",
              "format": "int32",
              "description": "calendar_id"
            },
            "start": {
              "type": "string",
              "description": "start"
            },
            "end": {
              "type": "string",
              "description": "end"
            },
            "email": {
              "type": "string",
              "description": "email"
            },
            "phone": {
              "type": "string",
              "description": "phone"
            },
            "created_at": {
              "type": "string",
              "description": "created_at"
            },
            "updated_at": {
              "type": "string",
              "description": "updated_at"
            },
            "external_id": {
              "type": "string",
              "description": "external_id"
            },
            "created_from": {
              "type": "string",
              "description": "created_from"
            },
            "email_notification_sent_at": {
              "type": "string",
              "description": "email_notification_sent_at"
            },
            "phone_notification_sent_at": {
              "type": "string",
              "description": "phone_notification_sent_at"
            },
            "deleted_at": {
              "type": "string",
              "description": "deleted_at"
            },
            "comments": {
              "type": "string",
              "description": "comments"
            },
            "first_name": {
              "type": "string",
              "description": "first_name"
            },
            "last_name": {
              "type": "string",
              "description": "last_name"
            },
            "address": {
              "type": "string",
              "description": "address"
            },
            "product_id": {
              "type": "integer",
              "format": "int32",
              "description": "product_id"
            },
            "language": {
              "type": "string",
              "description": "language"
            },
            "email_notification_really_sent_at": {
              "type": "string",
              "description": "email_notification_really_sent_at"
            },
            "phone_notification_really_sent_at": {
              "type": "string",
              "description": "phone_notification_really_sent_at"
            }
          }
        },
        "headers": {
          "Content-Type": {
            "description": "application/json",
            "type": "string"
          }
        },
        "description": "New booking"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "summary": "New Booking",
        "description": "Triggers when someone books a meeting in one of your bookings calendars",
        "operationId": "NewBooking",
        "x-ms-visibility": "important",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "calendar_id": {
                  "type": "integer",
                  "description": "calendar_id",
                  "title": "Calendar",
                  "format": "int32",
                  "x-ms-dynamic-values": {
                    "operationId": "ListCalendars",
                    "value-path": "id",
                    "value-title": "name"
                  }
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "URL"
                }
              },
              "required": [
                "url",
                "calendar_id"
              ]
            }
          }
        ]
      }
    },
    "/calendars": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "id"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              },
              "Accept": {
                "description": "Accept",
                "type": "string"
              }
            }
          }
        },
        "operationId": "ListCalendars",
        "x-ms-visibility": "important",
        "summary": "List Calendars",
        "description": "List your bookings calendars",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://datelist.io"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://datelist.io/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Productivity"
    }
  ],
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}