{
  "swagger": "2.0",
  "info": {
    "title": "UniAI",
    "description": "AI-powered PDF extraction to structured JSON",
    "version": "1.0.0",
    "contact": {
      "name": "Roman Bezushko",
      "url": "https://unidoc.io",
      "email": "roman@unidoc.io"
    }
  },
  "host": "cloud.unidoc.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "multipart/form-data"
  ],
  "produces": [
    "application/json",
    "text/plain"
  ],
  "paths": {
    "/uniai/extract/invoice": {
      "post": {
        "operationId": "ExtractInvoice",
        "summary": "Extract structured invoice data from a PDF",
        "description": "Upload a PDF file; UniAI returns structured JSON",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "UniCloud API key",
            "x-ms-summary": "API key used to authorize access to UniAI",
            "x-ms-visibility": "important"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "Invoice PDF file to process",
            "x-ms-summary": "The PDF invoice file to be processed",
            "x-ms-mediaKind": "file",
            "x-ms-visibility": "important"
          },
          {
            "name": "is_scanned",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set true if the invoice is a scanned document",
            "x-ms-summary": "True if the uploaded invoice is scanned"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "additionalProperties": true
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/uniai/extract/resume": {
      "post": {
        "operationId": "ExtractResume",
        "summary": "Extract structured resume (CV) data from a PDF",
        "description": "Upload a resume PDF; UniAI returns structured JSON",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "X-API-KEY",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "UniCloud API key",
            "x-ms-summary": "API key used to authorize access to UniAI",
            "x-ms-visibility": "important"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "Resume PDF to process",
            "x-ms-summary": "The PDF resume file to be processed",
            "x-ms-mediaKind": "file",
            "x-ms-visibility": "important"
          },
          {
            "name": "is_scanned",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set true if the resume is a scanned document",
            "x-ms-summary": "True if the uploaded resume is scanned"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "additionalProperties": true
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://unidoc.io"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://unidoc.io"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files"
    }
  ]
}