{
  "swagger": "2.0",
  "info": {
    "title": "SeeBotRun Link",
    "description": "Create and manage short links dynamically for your SeeBotRun Link account, using provided or custom domains.",
    "version": "1.0",
    "contact": {
      "name": "SeeBotRun Support",
      "url": "https://www.seebot.run/contact-us/",
      "email": "support@seebot.run"
    }
  },
  "host": "links.seebot.run",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/links": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the link.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The friendly name of the link.",
                        "title": "Name"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of the link.",
                        "title": "Type"
                      },
                      "path": {
                        "type": "string",
                        "description": "The path for the link used for the redirect.",
                        "title": "Path"
                      },
                      "redirect": {
                        "type": "string",
                        "description": "The redirect result for the link when visited by a user.",
                        "title": "Redirect"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status of the link.",
                        "title": "Status"
                      },
                      "health_status": {
                        "type": "string",
                        "description": "The current health status of the link.",
                        "title": "Health Status"
                      },
                      "cache": {
                        "type": "boolean",
                        "description": "Boolean value to turn caching on or off for the given link.",
                        "title": "Cache",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "health_checked_at": {
                        "type": "string",
                        "description": "The date/time the health status of the link was checked.",
                        "title": "Health Last Checked At"
                      },
                      "domain_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID for the associated domain.",
                        "title": "Domain ID"
                      },
                      "generated_url": {
                        "type": "string",
                        "description": "The automatically generated URL based on the domain's URL and the link's path.",
                        "title": "Generated URL"
                      },
                      "domain": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique ID for the domain.",
                            "title": "Domain ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The friendly name for the domain.",
                            "title": "Domain Name"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL for the domain.",
                            "title": "Domain URL"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status for the domain.",
                            "title": "Domain Status"
                          },
                          "scope": {
                            "type": "string",
                            "description": "The system scope level for the domain.",
                            "title": "Domain Scope"
                          },
                          "default_root_url": {
                            "type": "string",
                            "description": "Default Root URL used by the domain.",
                            "title": "Default Root URL"
                          },
                          "default_catchall_url": {
                            "type": "string",
                            "description": "Default Catchall URL used by the domain.",
                            "title": "Default Catchall URL"
                          }
                        },
                        "description": "Domain Properties"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of links in the result set, regardless of paging.",
                      "title": "Results Total"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of links available for the current page.",
                      "title": "Count"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page for the result set.",
                      "title": "Results Page"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total pages available based on the per_page and total parameters.",
                      "title": "Results Total Pages"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of links to return for a given page.",
                      "title": "Results Per Page"
                    },
                    "order": {
                      "type": "string",
                      "description": "The field the ordering is based on.",
                      "title": "Results Ordering"
                    },
                    "sort": {
                      "type": "string",
                      "description": "The sorting direction to use, in combination with the order parameter.",
                      "title": "Results Sorting"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "Get Links",
        "operationId": "GetLinks",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The content type provided on the request.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The type of data accepted from the request.",
            "x-ms-summary": "Accept"
          },
          {
            "name": "X-SBR-UserID",
            "in": "header",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The user account ID, used for verification.",
            "x-ms-summary": "SBR User ID"
          },
          {
            "name": "X-SBR-TokenKey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The account token key, used for verification.",
            "x-ms-summary": "SBR Token Key"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "x-ms-visibility": "internal",
            "description": "The page of results to return.",
            "x-ms-summary": "Page"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": -1,
            "format": "int32",
            "x-ms-visibility": "internal",
            "description": "The number of items to return per paged results.",
            "x-ms-summary": "Results Per Page"
          },
          {
            "name": "search_types",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "default",
            "enum": [
              "default",
              "predefined",
              "dynamic"
            ],
            "description": "Comma separated list of types to search for.",
            "x-ms-summary": "Types"
          },
          {
            "name": "domain_id",
            "in": "query",
            "type": "integer",
            "format": "int32",
            "x-ms-dynamic-values": {
              "operationId": "GetDomains",
              "value-path": "id",
              "value-collection": "data",
              "value-title": "name",
              "parameters": {
                "Content-Type": "application/json",
                "Accept": "application/json",
                "X-SBR-UserID": {
                  "parameter": "X-SBR-UserID"
                },
                "X-SBR-TokenKey": {
                  "parameter": "X-SBR-TokenKey"
                }
              }
            },
            "description": "The Domain ID to return links for.",
            "x-ms-summary": "Domain ID",
            "required": true
          }
        ],
        "description": "Return all short links available for your account."
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the link.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The friendly name of the link.",
                        "title": "Name"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of the link.",
                        "title": "Type"
                      },
                      "path": {
                        "type": "string",
                        "description": "The path for the link used for the redirect.",
                        "title": "Path"
                      },
                      "redirect": {
                        "type": "string",
                        "description": "The redirect result for the link when visited by a user.",
                        "title": "Redirect"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status of the link.",
                        "title": "Status"
                      },
                      "health_status": {
                        "type": "string",
                        "description": "The current health status of the link.",
                        "title": "Health Status"
                      },
                      "cache": {
                        "type": "boolean",
                        "description": "Boolean value to turn caching on or off for the given link.",
                        "title": "Cache",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "health_checked_at": {
                        "type": "string",
                        "description": "The date/time the health status of the link was checked.",
                        "title": "Health Last Checked At"
                      },
                      "domain_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID for the associated domain.",
                        "title": "Domain ID"
                      },
                      "generated_url": {
                        "type": "string",
                        "description": "The automatically generated URL based on the domain's URL and the link's path.",
                        "title": "Generated URL"
                      },
                      "domain": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique ID for the domain.",
                            "title": "Domain ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The friendly name for the domain.",
                            "title": "Domain Name"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL for the domain.",
                            "title": "Domain URL"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status for the domain.",
                            "title": "Domain Status"
                          },
                          "scope": {
                            "type": "string",
                            "description": "The system scope level for the domain.",
                            "title": "Domain Scope"
                          },
                          "default_root_url": {
                            "type": "string",
                            "description": "Default Root URL used by the domain.",
                            "title": "Default Root URL"
                          },
                          "default_catchall_url": {
                            "type": "string",
                            "description": "Default Catchall URL used by the domain.",
                            "title": "Default Catchall URL"
                          }
                        },
                        "description": "Domain Properties"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of domains in the result set, regardless of paging.",
                      "title": "Results Total"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of domains available for the current page.",
                      "title": "Count"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page for the result set.",
                      "title": "Results Page"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total pages available based on the per_page and total parameters.",
                      "title": "Results Total Pages"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of domains to return for a given page.",
                      "title": "Results Per Page"
                    },
                    "order": {
                      "type": "string",
                      "description": "The field the ordering is based on.",
                      "title": "Results Ordering"
                    },
                    "sort": {
                      "type": "string",
                      "description": "The sorting direction to use, in combination with the order parameter.",
                      "title": "Results Sorting"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "Create Link",
        "description": "Create a new short link for your account.",
        "operationId": "CreateLink",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The content type provided on the request.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The type of data accepted from the request.",
            "x-ms-summary": "Accept"
          },
          {
            "name": "X-SBR-UserID",
            "in": "header",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The user account ID, used for verification.",
            "x-ms-summary": "SBR User ID"
          },
          {
            "name": "X-SBR-TokenKey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The account token key, used for verification.",
            "x-ms-summary": "SBR Token Key"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cache": {
                  "type": "boolean",
                  "description": "Boolean value to turn caching on or off for the given link.",
                  "title": "Cache",
                  "default": true,
                  "enum": [
                    true,
                    false
                  ]
                },
                "domain_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The ID for the associated domain.",
                  "title": "Domain ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetDomains",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "name",
                    "parameters": {
                      "Content-Type": "application/json",
                      "Accept": "application/json",
                      "X-SBR-UserID": {
                        "parameter": "X-SBR-UserID"
                      },
                      "X-SBR-TokenKey": {
                        "parameter": "X-SBR-TokenKey"
                      }
                    }
                  }
                },
                "name": {
                  "type": "string",
                  "description": "The friendly name of the link.",
                  "title": "Name"
                },
                "path": {
                  "type": "string",
                  "description": "The path for the link used for the redirect.",
                  "title": "Path"
                },
                "redirect": {
                  "type": "string",
                  "description": "The redirect result for the link when visited by a user.",
                  "title": "Redirect"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the link.",
                  "title": "Status",
                  "default": "active",
                  "enum": [
                    "active",
                    "inactive"
                  ]
                },
                "type": {
                  "type": "string",
                  "description": "The type of the link.",
                  "title": "Type",
                  "default": "default",
                  "enum": [
                    "default",
                    "predefined",
                    "dynamic"
                  ]
                }
              },
              "required": [
                "domain_id",
                "name",
                "path",
                "redirect",
                "status",
                "type",
                "cache"
              ]
            }
          }
        ]
      }
    },
    "/domains": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique ID for the domain.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The unique name for the domain.",
                        "title": "Name"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL for the domain.",
                        "title": "URL"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status for the domain.",
                        "title": "Status"
                      },
                      "scope": {
                        "type": "string",
                        "description": "The system scope level for the domain.",
                        "title": "Scope"
                      },
                      "default_root_url": {
                        "type": "string",
                        "description": "Default Root URL for the domain.",
                        "title": "Default Root URL"
                      },
                      "default_catchall_url": {
                        "type": "string",
                        "description": "Default Catchall URL for the domain.",
                        "title": "Default Catchall URL"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of domains in the result set, regardless of paging.",
                      "title": "Results Total"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of domains available for the current page.",
                      "title": "Count"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page for the result set.",
                      "title": "Results Page"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total pages available based on the per_page and total parameters.",
                      "title": "Results Total Pages"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of domains to return for a given page.",
                      "title": "Results Per Page"
                    },
                    "order": {
                      "type": "string",
                      "description": "The field the ordering is based on.",
                      "title": "Results Ordering"
                    },
                    "sort": {
                      "type": "string",
                      "description": "The sorting direction to use, in combination with the order parameter.",
                      "title": "Results Sorting"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "Get All Domains",
        "description": "Get all domains available for your account.",
        "operationId": "GetDomains",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The content type provided on the request.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The type of data accepted from the request.",
            "x-ms-summary": "Accept"
          },
          {
            "name": "X-SBR-UserID",
            "in": "header",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The user account ID, used for verification.",
            "x-ms-summary": "SBR User ID"
          },
          {
            "name": "X-SBR-TokenKey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The account token key, used for verification.",
            "x-ms-summary": "SBR Token Key"
          }
        ]
      }
    },
    "/links/{id}": {
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete Link",
        "description": "Delete a given short link by a provided ID.",
        "operationId": "DeleteLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The ID of the link being deleted.",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The content type provided on the request.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The type of data accepted from the request.",
            "x-ms-summary": "Accept"
          },
          {
            "name": "X-SBR-UserID",
            "in": "header",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The user account ID, used for verification.",
            "x-ms-summary": "SBR User ID"
          },
          {
            "name": "X-SBR-TokenKey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The account token key, used for verification.",
            "x-ms-summary": "SBR Token Key"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID of the link.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The friendly name of the link.",
                        "title": "Name"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of the link.",
                        "title": "Type"
                      },
                      "path": {
                        "type": "string",
                        "description": "The path for the link used for the redirect.",
                        "title": "Path"
                      },
                      "redirect": {
                        "type": "string",
                        "description": "The redirect result for the link when visited by a user.",
                        "title": "Redirect"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status of the link.",
                        "title": "Status"
                      },
                      "health_status": {
                        "type": "string",
                        "description": "The current health status of the link.",
                        "title": "Health Status"
                      },
                      "cache": {
                        "type": "boolean",
                        "description": "Boolean value to turn caching on or off for the given link.",
                        "title": "Cache",
                        "enum": [
                          true,
                          false
                        ]
                      },
                      "health_checked_at": {
                        "type": "string",
                        "description": "The date/time the health status of the link was checked.",
                        "title": "Health Last Checked At"
                      },
                      "domain_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The ID for the associated domain.",
                        "title": "Domain ID"
                      },
                      "generated_url": {
                        "type": "string",
                        "description": "The automatically generated URL based on the domain's URL and the link's path.",
                        "title": "Generated URL"
                      },
                      "domain": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique ID for the domain.",
                            "title": "Domain ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The friendly name for the domain.",
                            "title": "Domain Name"
                          },
                          "url": {
                            "type": "string",
                            "description": "The URL for the domain.",
                            "title": "Domain URL"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status for the domain.",
                            "title": "Domain Status"
                          },
                          "scope": {
                            "type": "string",
                            "description": "The system scope level for the domain.",
                            "title": "Domain Scope"
                          },
                          "default_root_url": {
                            "type": "string",
                            "description": "Default Root URL used by the domain.",
                            "title": "Default Root URL"
                          },
                          "default_catchall_url": {
                            "type": "string",
                            "description": "Default Catchall URL used by the domain.",
                            "title": "Default Catchall URL"
                          }
                        },
                        "description": "Domain Properties"
                      }
                    }
                  },
                  "description": "data"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of domains in the result set, regardless of paging.",
                      "title": "Results Total"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total number of domains available for the current page.",
                      "title": "Count"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The current page for the result set.",
                      "title": "Results Page"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total pages available based on the per_page and total parameters.",
                      "title": "Results Total Pages"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number of domains to return for a given page.",
                      "title": "Results Per Page"
                    },
                    "order": {
                      "type": "string",
                      "description": "The field the ordering is based on.",
                      "title": "Results Ordering"
                    },
                    "sort": {
                      "type": "string",
                      "description": "The sorting direction to use, in combination with the order parameter.",
                      "title": "Results Sorting"
                    }
                  },
                  "description": "meta"
                }
              }
            }
          }
        },
        "summary": "Update Link By ID",
        "description": "Update an existing short link by a provided ID.",
        "operationId": "UpdateLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "The ID of the link being updated.",
            "format": "int32",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The content type provided on the request.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The type of data accepted from the request.",
            "x-ms-summary": "Accept"
          },
          {
            "name": "X-SBR-UserID",
            "in": "header",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The user account ID, used for verification.",
            "x-ms-summary": "SBR User ID"
          },
          {
            "name": "X-SBR-TokenKey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The account token key, used for verification.",
            "x-ms-summary": "SBR Token Key"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "cache": {
                  "type": "boolean",
                  "description": "cache",
                  "title": "Cache",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true
                },
                "domain_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The ID for the associated domain.",
                  "title": "Domain ID",
                  "x-ms-dynamic-values": {
                    "operationId": "GetDomains",
                    "value-path": "id",
                    "value-collection": "data",
                    "value-title": "name",
                    "parameters": {
                      "Content-Type": "application/json",
                      "Accept": "application/json",
                      "X-SBR-UserID": {
                        "parameter": "X-SBR-UserID"
                      },
                      "X-SBR-TokenKey": {
                        "parameter": "X-SBR-TokenKey"
                      }
                    }
                  }
                },
                "name": {
                  "type": "string",
                  "description": "The friendly name of the link.",
                  "title": "Name"
                },
                "path": {
                  "type": "string",
                  "description": "The path for the link used for the redirect.",
                  "title": "Path"
                },
                "redirect": {
                  "type": "string",
                  "description": "The redirect result for the link when visited by a user.",
                  "title": "Redirect"
                },
                "status": {
                  "type": "string",
                  "description": "The status of the link.",
                  "title": "Status",
                  "enum": [
                    "active",
                    "inactive"
                  ],
                  "default": "active"
                }
              },
              "required": [
                "cache",
                "domain_id",
                "name",
                "path",
                "redirect",
                "status"
              ]
            }
          }
        ]
      }
    },
    "/links/{id}/predefined/{key}": {
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete Predefined Link",
        "operationId": "DeletePredefinedLink",
        "description": "Delete an existing predefined link based on the link ID and key.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The Link ID of the predefined link being deleted.",
            "x-ms-summary": "Link ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The unique key for the predefined link being deleted.",
            "x-ms-summary": "Key",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The content type provided on the request.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The type of data acceptedreate from the request.",
            "x-ms-summary": "Accept"
          },
          {
            "name": "X-SBR-UserID",
            "in": "header",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The user account ID, used for verification.",
            "x-ms-summary": "SBR User ID"
          },
          {
            "name": "X-SBR-TokenKey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The account token key, used for verification.",
            "x-ms-summary": "SBR Token Key"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique ID for the predefined link.",
                  "title": "ID"
                },
                "key": {
                  "type": "string",
                  "description": "The unique key for the predefined link.",
                  "title": "Key"
                },
                "path": {
                  "type": "string",
                  "description": "The path used in the generated redirect for the predefined link.",
                  "title": "Path"
                },
                "redirect": {
                  "type": "string",
                  "description": "The redirect used when a user visits the predefined link.",
                  "title": "Redirect"
                },
                "notes": {
                  "type": "string",
                  "description": "Internal notes used by administrators for the predefined link.",
                  "title": "Notes"
                },
                "link_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The associated link ID for the predefined link.",
                  "title": "Link ID"
                },
                "client_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The associated client ID for the predefined link.",
                  "title": "Client ID"
                },
                "created_at": {
                  "type": "string",
                  "description": "The date/time the predefined link was created.",
                  "title": "Created At"
                },
                "updated_at": {
                  "type": "string",
                  "description": "The date/time the predefined link was last updated.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Create Predefined Link",
        "description": "Create a predefined link within a short link for a given key.",
        "operationId": "CreatePredefinedLink",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The Link ID of the predefined link being created/updated.",
            "x-ms-summary": "Link ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The key of the predefined link being created/updated.",
            "x-ms-summary": "Key",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The content type provided on the request.",
            "x-ms-summary": "Content Type"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "The type of data accepted from the request.",
            "x-ms-summary": "Accept"
          },
          {
            "name": "X-SBR-UserID",
            "in": "header",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": "The user account ID, used for verification.",
            "x-ms-summary": "SBR User ID"
          },
          {
            "name": "X-SBR-TokenKey",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "The account token key, used for verification.",
            "x-ms-summary": "SBR Token Key"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "description": "The path for the predefined link.",
                  "title": "Path"
                },
                "redirect": {
                  "type": "string",
                  "description": "The redirect for the predefined link.",
                  "title": "Redirect"
                },
                "notes": {
                  "type": "string",
                  "description": "Any notes in reference to the predefined link.",
                  "title": "Notes"
                }
              },
              "required": [
                "path",
                "redirect"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.seebot.run"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://portal.seebot.run/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ]
}