{
  "swagger": "2.0",
  "info": {
    "title": "Shields.io",
    "description": "Shields.io is a service for concise, consistent, and legible badges in SVG and raster format, which can easily be included in GitHub readmes or any other web page. The service supports dozens of continuous integration services, package registries, distributions, app stores, social networks, code coverage services, and code analysis services.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "img.shields.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/static/v1": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Create a static badge",
        "description": "Create a static badge using defined parameters.",
        "operationId": "BadgeCreate",
        "parameters": [
          {
            "name": "label",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Override the default left-hand-side text.",
            "x-ms-summary": "Label"
          },
          {
            "name": "labelColor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Set the color of the logo (hex, rgb, rgba, hsl, hsla and css named colors supported). Supported for named logos but not for custom logos.",
            "x-ms-summary": "Label Color"
          },
          {
            "name": "message",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Override the default right-hand-side text",
            "x-ms-summary": "Message"
          },
          {
            "name": "color",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Set background of the right part (hex, rgb, rgba, hsl, hsla and css named colors supported). The legacy name \"colorB\" is also supported.",
            "x-ms-summary": "Color"
          },
          {
            "name": "style",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The style of the badge. Flat is the default.",
            "x-ms-summary": "Style"
          },
          {
            "name": "logo",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Used for either a named logo or a custom logo image (> 14px high). Insert one of the named logos from (bitcoin, dependabot, gitlab, npm, paypal, serverfault, stackexchange, superuser, telegram, travis) or simple-icons. For custom logos, there is a limit on the total size of request headers we can accept (8192 bytes). From a practical perspective, this means the base64-encoded image text is limited to somewhere slightly under 8192 bytes depending on the rest of the request header.",
            "x-ms-summary": "Logo"
          },
          {
            "name": "logoColor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Set the color of the logo (hex, rgb, rgba, hsl, hsla and css named colors supported). Supported for named logos but not for custom logos.",
            "x-ms-summary": "Logo Color"
          },
          {
            "name": "logoWidth",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Set the horizontal space to give to the logo",
            "x-ms-summary": "Logo Width"
          },
          {
            "name": "link",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specify what clicking on the left/right of a badge should do. Note that this only works when integrating your badge in an<object> HTML tag, but not an<img> tag or a markup language.",
            "x-ms-summary": "Link"
          },
          {
            "name": "cacheSeconds",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 3600,
            "description": "Set the HTTP cache lifetime (rules are applied to infer a default value on a per-badge basis, any values specified below the default will be ignored). The legacy name \"maxAge\" is also supported.",
            "x-ms-summary": "Cache Seconds"
          }
        ]
      }
    },
    "/{parameters}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Get a pre-configured badge",
        "description": "Get a pre-configured badge. All badges are sorted by category at https://shields.io/",
        "operationId": "BadgeGet",
        "parameters": [
          {
            "name": "parameters",
            "in": "path",
            "x-ms-summary": "Parameters",
            "description": "The badge parameters, e.g. github/last-commit/troystaylor/PowerPlatformConnectors. Please note that the first forward slash must be omitted from the example.",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://shields.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://shields.io/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media;Website"
    }
  ]
}
