{
  "swagger": "2.0",
  "info": {
    "title": "HubSpot CRM",
    "description": "HubSpot CRM is a system for managing customer relationships and storing data. The CRM custom connector provides access to CRM objects or groups of objects, which are represented as a map of property names to values.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/crm/v3/objects/companies": {
      "get": {
        "responses": {
          "default": {
            "description": "The default response.",
            "schema": {}
          }
        },
        "summary": "List companies",
        "description": "Return a list of companies.",
        "operationId": "CompaniesList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "important",
            "description": "Limit",
            "x-ms-summary": "limit",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "properties",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of the properties to be returned in the response.",
            "x-ms-summary": "properties",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Whether to return only results that have been archived.",
            "x-ms-summary": "archived",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "advanced"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "The default response.",
            "schema": {}
          }
        },
        "summary": "Create a company",
        "description": "Create a company with the given properties and return a copy of the object, including the ID.",
        "operationId": "CompaniesCreate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "about_us": {
                      "title": "About Us",
                      "type": "string",
                      "description": "The company about us information."
                    },
                    "address": {
                      "title": "Address",
                      "type": "string",
                      "description": "The first line of the street address."
                    },
                    "address2": {
                      "title": "Address 2",
                      "type": "string",
                      "description": "The second line of the street address."
                    },
                    "annualrevenue": {
                      "title": "Annual revenue",
                      "type": "string",
                      "description": "The company's annual revenue."
                    },
                    "city": {
                      "title": "City",
                      "type": "string",
                      "description": "The address city."
                    },
                    "closedate": {
                      "title": "Close date",
                      "type": "string",
                      "description": "The close date."
                    },
                    "country": {
                      "title": "Country",
                      "type": "string",
                      "description": "The address country."
                    },
                    "createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "The created on date."
                    },
                    "days_to_close": {
                      "title": "Days to close",
                      "type": "string",
                      "description": "The estimated days to close."
                    },
                    "description": {
                      "title": "Description",
                      "type": "string",
                      "description": "A description of the object."
                    },
                    "domain": {
                      "title": "Domain",
                      "type": "string",
                      "description": "The company's domain."
                    },
                    "engagements_last_meeting_booked": {
                      "title": "Engagements last meeting booked",
                      "type": "string",
                      "description": "The engagements last meeting booked."
                    },
                    "engagements_last_meeting_booked_campaign": {
                      "title": "Engagements last meeting booked campaign",
                      "type": "string",
                      "description": "The engagements last meeting booked campaign."
                    },
                    "engagements_last_meeting_booked_medium": {
                      "title": "Engagements last meeting booked medium",
                      "type": "string",
                      "description": "The engagements last meeting booked medium."
                    },
                    "engagements_last_meeting_booked_source": {
                      "title": "Engagements last meeting booked source",
                      "type": "string",
                      "description": "The engagements last meeting booked source."
                    },
                    "facebook_company_page": {
                      "title": "Facebook company page",
                      "type": "string",
                      "description": "The company's Facebook page."
                    },
                    "facebookfans": {
                      "title": "Facebook fans",
                      "type": "string",
                      "description": "Facebook fans."
                    },
                    "first_contact_createdate": {
                      "title": "first contact create date",
                      "type": "string",
                      "description": "The first contact created on date."
                    },
                    "first_conversion_date": {
                      "title": "First conversion date",
                      "type": "string",
                      "description": "The first conversion date."
                    },
                    "first_conversion_event_name": {
                      "title": "First conversion event name",
                      "type": "string",
                      "description": "The first conversion event name."
                    },
                    "first_deal_created_date": {
                      "title": "First deal created date",
                      "type": "string",
                      "description": "The first deal created date."
                    },
                    "founded_year": {
                      "title": "Founded year",
                      "type": "string",
                      "description": "The company's founded year."
                    },
                    "googleplus_page": {
                      "title": "GooglePlus page",
                      "type": "string",
                      "description": "The company's GooglePlus page."
                    },
                    "hs_analytics_first_timestamp": {
                      "title": "HubSpot analytics first timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - first timestamp."
                    },
                    "hs_analytics_first_touch_converting_campaign": {
                      "title": "HubSpot analytics first touch converting campaign",
                      "type": "string",
                      "description": "HubSpot Analytics - first touch converting campaign."
                    },
                    "hs_analytics_first_visit_timestamp": {
                      "title": "HubSpot Analytics first visit timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - first visit timestamp"
                    },
                    "hs_analytics_last_timestamp": {
                      "title": "HubSpot analytics last timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - last timestamp."
                    },
                    "hs_analytics_last_touch_converting_campaign": {
                      "title": "HubSpot analytics last touch converting campaign",
                      "type": "string",
                      "description": "HubSpot Analytics - last touch converting campaign."
                    },
                    "hs_analytics_last_visit_timestamp": {
                      "title": "HubSpot analytics last visit timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - last visit timestamp."
                    },
                    "hs_analytics_num_page_views": {
                      "title": "HubSpot analytics number of page views",
                      "type": "string",
                      "description": "HubSpot Analytics - number of page views."
                    },
                    "hs_analytics_num_visits": {
                      "title": "HubSpot analytics number of visits",
                      "type": "string",
                      "description": "HubSpot Analytics - number of visits."
                    },
                    "hs_analytics_source": {
                      "title": "HubSpot analytics source",
                      "type": "string",
                      "description": "HubSpot Analytics - source."
                    },
                    "hs_analytics_source_data_1": {
                      "title": "HubSpot analytics source data 1",
                      "type": "string",
                      "description": "HubSpot Analytics - source data 1."
                    },
                    "hs_analytics_source_data_2": {
                      "title": "HubSpot analytics source data 2",
                      "type": "string",
                      "description": "HubSpot Analytics - source data 2."
                    },
                    "hs_createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "HubSpot - create date."
                    },
                    "hs_ideal_customer_profile": {
                      "title": "HubSpot ideal customer profile",
                      "type": "string",
                      "description": "HubSpot - ideal customer profile."
                    },
                    "hs_is_target_account": {
                      "title": "HubSpot is target account",
                      "type": "string",
                      "description": "HubSpot - is target account."
                    },
                    "hs_last_booked_meeting_date": {
                      "title": "HubSpot last booked meeting date",
                      "type": "string",
                      "description": "HubSpot - last booked meeting date."
                    },
                    "hs_last_logged_call_date": {
                      "title": "HubSpot last logged call date",
                      "type": "string",
                      "description": "HubSpot - last logged call date."
                    },
                    "hs_last_open_task_date": {
                      "title": "HubSpot last open task date",
                      "type": "string",
                      "description": "HubSpot - last open task date."
                    },
                    "hs_last_sales_activity_timestamp": {
                      "title": "HubSpot last sales activity timestamp",
                      "type": "string",
                      "description": "HubSpot - last sales activity timestamp."
                    },
                    "hs_lastmodifieddate": {
                      "title": "HubSpot last modified date",
                      "type": "string",
                      "description": "HubSpot - last modified date."
                    },
                    "hs_lead_status": {
                      "title": "HubSpot lead status",
                      "type": "string",
                      "description": "HubSpot - lead status."
                    },
                    "hs_num_blockers": {
                      "title": "HubSpot number of blockers",
                      "type": "string",
                      "description": "HubSpot - number of blockers."
                    },
                    "hs_num_child_companies": {
                      "title": "HubSpot number of child companies",
                      "type": "string",
                      "description": "HubSpot - number of child companies."
                    },
                    "hs_num_contacts_with_buying_roles": {
                      "title": "HubSpot number of contacts with buying roles",
                      "type": "string",
                      "description": "HubSpot - number of contacts with buying roles."
                    },
                    "hs_num_decision_makers": {
                      "title": "HubSpot number of decision makers",
                      "type": "string",
                      "description": "HubSpot - number of decision makers."
                    },
                    "hs_num_open_deals": {
                      "title": "HubSpot number of open deals",
                      "type": "string",
                      "description": "HubSpot - number of open deals."
                    },
                    "hs_object_id": {
                      "title": "HubSpot object ID",
                      "type": "string",
                      "description": "HubSpot - object ID."
                    },
                    "hs_parent_company_id": {
                      "title": "HubSpot parent company ID",
                      "type": "string",
                      "description": "HubSpot - parent company ID."
                    },
                    "hs_predictivecontactscore_v2": {
                      "title": "HubSpot predictive contact score v2",
                      "type": "string",
                      "description": "HubSpot - predictive contact score V2"
                    },
                    "hs_total_deal_value": {
                      "title": "HubSpot total deal value",
                      "type": "string",
                      "description": "HubSpot - total deal value."
                    },
                    "hubspot_owner_assigneddate": {
                      "title": "HubSpot owner assigned date",
                      "type": "string",
                      "description": "HubSpot - owner assigned date."
                    },
                    "hubspot_owner_id": {
                      "title": "HubSpot owner ID",
                      "type": "string",
                      "description": "HubSpot - owner ID."
                    },
                    "hubspot_team_id": {
                      "title": "HubSpot team ID",
                      "type": "string",
                      "description": "HubSpot - team ID."
                    },
                    "industry": {
                      "title": "Industry",
                      "type": "string",
                      "description": "Industry."
                    },
                    "is_public": {
                      "title": "Is public",
                      "type": "string",
                      "description": "Whether is public."
                    },
                    "lifecyclestage": {
                      "title": "Lifecycle stage",
                      "type": "string",
                      "description": "The current lifecycle stage."
                    },
                    "linkedin_company_page": {
                      "title": "LinkedIn company page",
                      "type": "string",
                      "description": "The company's LinkedIn page."
                    },
                    "linkedinbio": {
                      "title": "LinkedIn bio",
                      "type": "string",
                      "description": "LinkedIn bio."
                    },
                    "name": {
                      "title": "Name",
                      "type": "string",
                      "description": "Name."
                    },
                    "notes_last_contacted": {
                      "title": "Notes last contacted",
                      "type": "string",
                      "description": "Notes - last contacted."
                    },
                    "notes_last_updated": {
                      "title": "Notes last updated",
                      "type": "string",
                      "description": "Notes - last updated."
                    },
                    "notes_next_activity_date": {
                      "title": "Notes next activity date",
                      "type": "string",
                      "description": "Notes - next activity date."
                    },
                    "num_associated_contacts": {
                      "title": "Number of associated contacts",
                      "type": "string",
                      "description": "The number of associated contacts."
                    },
                    "num_associated_deals": {
                      "title": "Number of associated deals",
                      "type": "string",
                      "description": "The number of associated deals."
                    },
                    "num_contacted_notes": {
                      "title": "Number of contacted notes",
                      "type": "string",
                      "description": "The number of contacted notes"
                    },
                    "num_conversion_events": {
                      "title": "Number of conversion events",
                      "type": "string",
                      "description": "The number of conversion events."
                    },
                    "numberofemployees": {
                      "title": "Number of employees",
                      "type": "string",
                      "description": "The number of employees."
                    },
                    "phone": {
                      "title": "Phone",
                      "type": "string",
                      "description": "Phone number."
                    },
                    "recent_conversion_date": {
                      "title": "Recent conversion date",
                      "type": "string",
                      "description": "Recent conversion date."
                    },
                    "recent_conversion_event_name": {
                      "title": "Recent conversion event name",
                      "type": "string",
                      "description": "Recent conversion event name."
                    },
                    "recent_deal_amount": {
                      "title": "Recent deal amount",
                      "type": "string",
                      "description": "Recent deal amount."
                    },
                    "recent_deal_close_date": {
                      "title": "Recent deal close date",
                      "type": "string",
                      "description": "Recent deal close date."
                    },
                    "state": {
                      "title": "State",
                      "type": "string",
                      "description": "The address state."
                    },
                    "timezone": {
                      "title": "Timezone",
                      "type": "string",
                      "description": "Timezone."
                    },
                    "total_money_raised": {
                      "title": "Total money raised",
                      "type": "string",
                      "description": "Total money raised."
                    },
                    "total_revenue": {
                      "title": "Total revenue",
                      "type": "string",
                      "description": "Total revenue"
                    },
                    "twitterbio": {
                      "title": "Twitter bio",
                      "type": "string",
                      "description": "Twitter bio"
                    },
                    "twitterfollowers": {
                      "title": "Twitter followers",
                      "type": "string",
                      "description": "Twitter followers"
                    },
                    "twitterhandle": {
                      "title": "Twitter handle",
                      "type": "string",
                      "description": "Twitter handle"
                    },
                    "type": {
                      "title": "Type",
                      "type": "string",
                      "description": "type"
                    },
                    "web_technologies": {
                      "title": "Web technologies",
                      "type": "string",
                      "description": "Web technologies."
                    },
                    "website": {
                      "title": "Website",
                      "type": "string",
                      "description": "Website."
                    },
                    "zip": {
                      "title": "Zip code",
                      "type": "string",
                      "description": "The address zip."
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/crm/v3/objects/companies/{companyId}": {
      "get": {
        "responses": {
          "default": {
            "description": "The default response.",
            "schema": {}
          }
        },
        "summary": "Get a company",
        "description": "Read a company identified by {companyId}.",
        "operationId": "CompaniesRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The companyId of the company",
            "x-ms-summary": "companyID",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "name": "properies",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of the properties to be returned in the response.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "properties",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to return only companies that have been archived.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "archived",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "The default response.",
            "schema": {}
          }
        },
        "summary": "Delete a company",
        "description": "Move a company identified by {companyId} to the recycling bin.",
        "operationId": "CompaniesArchive",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The companyId of the company",
            "x-ms-visibility": "important",
            "x-ms-summary": "companyID",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "The default response.",
            "schema": {}
          }
        },
        "summary": "Update a company",
        "description": "Perform a partial update of a company identified by {companyId}. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "CompaniesUpdate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The companyId of the company.",
            "x-ms-visibility": "important",
            "x-ms-summary": "companyId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "about_us": {
                      "title": "About us",
                      "type": "string",
                      "description": "The company about us information."
                    },
                    "address": {
                      "title": "Address",
                      "type": "string",
                      "description": "The first line of the street address."
                    },
                    "address2": {
                      "title": "Address 2",
                      "type": "string",
                      "description": "The second line of the street address."
                    },
                    "annualrevenue": {
                      "title": "Annual revenue",
                      "type": "string",
                      "description": "The company's annual revenue."
                    },
                    "city": {
                      "title": "City",
                      "type": "string",
                      "description": "The address city."
                    },
                    "closedate": {
                      "title": "Close date",
                      "type": "string",
                      "description": "The close date."
                    },
                    "country": {
                      "title": "Country",
                      "type": "string",
                      "description": "The address country."
                    },
                    "createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "The created on date."
                    },
                    "days_to_close": {
                      "title": "Days to close",
                      "type": "string",
                      "description": "The estimated days to close."
                    },
                    "description": {
                      "title": "Description",
                      "type": "string",
                      "description": "A description of the object."
                    },
                    "domain": {
                      "title": "Domain",
                      "type": "string",
                      "description": "The company's domain."
                    },
                    "engagements_last_meeting_booked": {
                      "title": "Engagements last meeting booked",
                      "type": "string",
                      "description": "The engagements last meeting booked."
                    },
                    "engagements_last_meeting_booked_campaign": {
                      "title": "Engagements last meeting booked campaign",
                      "type": "string",
                      "description": "The engagements last meeting booked campaign."
                    },
                    "engagements_last_meeting_booked_medium": {
                      "title": "Engagements last meeting booked medium",
                      "type": "string",
                      "description": "The engagements last meeting booked medium."
                    },
                    "engagements_last_meeting_booked_source": {
                      "title": "Engagements last meeting booked source",
                      "type": "string",
                      "description": "The engagements last meeting booked source."
                    },
                    "facebook_company_page": {
                      "title": "Facebook company page",
                      "type": "string",
                      "description": "The company's Facebook page."
                    },
                    "facebookfans": {
                      "title": "Facebook fans",
                      "type": "string",
                      "description": "Facebook fans."
                    },
                    "first_contact_createdate": {
                      "title": "first contact create date",
                      "type": "string",
                      "description": "The first contact created on date."
                    },
                    "first_conversion_date": {
                      "title": "First conversion date",
                      "type": "string",
                      "description": "The first conversion date."
                    },
                    "first_conversion_event_name": {
                      "title": "First conversion event name",
                      "type": "string",
                      "description": "The first conversion event name."
                    },
                    "first_deal_created_date": {
                      "title": "First deal created date",
                      "type": "string",
                      "description": "The first deal created date."
                    },
                    "founded_year": {
                      "title": "Founded year",
                      "type": "string",
                      "description": "The company's founded year."
                    },
                    "googleplus_page": {
                      "title": "GooglePlus page",
                      "type": "string",
                      "description": "The company's GooglePlus page."
                    },
                    "hs_analytics_first_timestamp": {
                      "title": "HubSpot analytics first timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - first timestamp."
                    },
                    "hs_analytics_first_touch_converting_campaign": {
                      "title": "HubSpot analytics first touch converting campaign",
                      "type": "string",
                      "description": "HubSpot Analytics - first touch converting campaign."
                    },
                    "hs_analytics_first_visit_timestamp": {
                      "title": "HubSpot Analytics first visit timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - first visit timestamp"
                    },
                    "hs_analytics_last_timestamp": {
                      "title": "HubSpot analytics last timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - last timestamp."
                    },
                    "hs_analytics_last_touch_converting_campaign": {
                      "title": "HubSpot analytics last touch converting campaign",
                      "type": "string",
                      "description": "HubSpot Analytics - last touch converting campaign."
                    },
                    "hs_analytics_last_visit_timestamp": {
                      "title": "HubSpot analytics last visit timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - last visit timestamp."
                    },
                    "hs_analytics_num_page_views": {
                      "title": "HubSpot analytics number of page views",
                      "type": "string",
                      "description": "HubSpot Analytics - number of page views."
                    },
                    "hs_analytics_num_visits": {
                      "title": "HubSpot analytics number of visits",
                      "type": "string",
                      "description": "HubSpot Analytics - number of visits."
                    },
                    "hs_analytics_source": {
                      "title": "HubSpot analytics source",
                      "type": "string",
                      "description": "HubSpot Analytics - source."
                    },
                    "hs_analytics_source_data_1": {
                      "title": "HubSpot analytics source data 1",
                      "type": "string",
                      "description": "HubSpot Analytics - source data 1."
                    },
                    "hs_analytics_source_data_2": {
                      "title": "HubSpot analytics source data 2",
                      "type": "string",
                      "description": "HubSpot Analytics - source data 2."
                    },
                    "hs_createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "HubSpot - create date."
                    },
                    "hs_ideal_customer_profile": {
                      "title": "HubSpot ideal customer profile",
                      "type": "string",
                      "description": "HubSpot - ideal customer profile."
                    },
                    "hs_is_target_account": {
                      "title": "HubSpot is target account",
                      "type": "string",
                      "description": "HubSpot - is target account."
                    },
                    "hs_last_booked_meeting_date": {
                      "title": "HubSpot last booked meeting date",
                      "type": "string",
                      "description": "HubSpot - last booked meeting date."
                    },
                    "hs_last_logged_call_date": {
                      "title": "HubSpot last logged call date",
                      "type": "string",
                      "description": "HubSpot - last logged call date."
                    },
                    "hs_last_open_task_date": {
                      "title": "HubSpot last open task date",
                      "type": "string",
                      "description": "HubSpot - last open task date."
                    },
                    "hs_last_sales_activity_timestamp": {
                      "title": "HubSpot last sales activity timestamp",
                      "type": "string",
                      "description": "HubSpot - last sales activity timestamp."
                    },
                    "hs_lastmodifieddate": {
                      "title": "HubSpot last modified date",
                      "type": "string",
                      "description": "HubSpot - last modified date."
                    },
                    "hs_lead_status": {
                      "title": "HubSpot lead status",
                      "type": "string",
                      "description": "HubSpot - lead status."
                    },
                    "hs_num_blockers": {
                      "title": "HubSpot number of blockers",
                      "type": "string",
                      "description": "HubSpot - number of blockers."
                    },
                    "hs_num_child_companies": {
                      "title": "HubSpot number of child companies",
                      "type": "string",
                      "description": "HubSpot - number of child companies."
                    },
                    "hs_num_contacts_with_buying_roles": {
                      "title": "HubSpot number of contacts with buying roles",
                      "type": "string",
                      "description": "HubSpot - number of contacts with buying roles."
                    },
                    "hs_num_decision_makers": {
                      "title": "HubSpot number of decision makers",
                      "type": "string",
                      "description": "HubSpot - number of decision makers."
                    },
                    "hs_num_open_deals": {
                      "title": "HubSpot number of open deals",
                      "type": "string",
                      "description": "HubSpot - number of open deals."
                    },
                    "hs_object_id": {
                      "title": "HubSpot object ID",
                      "type": "string",
                      "description": "HubSpot - object ID."
                    },
                    "hs_parent_company_id": {
                      "title": "HubSpot parent company ID",
                      "type": "string",
                      "description": "HubSpot - parent company ID."
                    },
                    "hs_predictivecontactscore_v2": {
                      "title": "HubSpot predictive contact score v2",
                      "type": "string",
                      "description": "HubSpot - predictive contact score V2"
                    },
                    "hs_total_deal_value": {
                      "title": "HubSpot total deal value",
                      "type": "string",
                      "description": "HubSpot - total deal value."
                    },
                    "hubspot_owner_assigneddate": {
                      "title": "HubSpot owner assigned date",
                      "type": "string",
                      "description": "HubSpot - owner assigned date."
                    },
                    "hubspot_owner_id": {
                      "title": "HubSpot owner ID",
                      "type": "string",
                      "description": "HubSpot - owner ID."
                    },
                    "hubspot_team_id": {
                      "title": "HubSpot team ID",
                      "type": "string",
                      "description": "HubSpot - team ID."
                    },
                    "industry": {
                      "title": "Industry",
                      "type": "string",
                      "description": "Industry."
                    },
                    "is_public": {
                      "title": "Is public",
                      "type": "string",
                      "description": "Whether is public."
                    },
                    "lifecyclestage": {
                      "title": "Lifecycle stage",
                      "type": "string",
                      "description": "The current lifecycle stage."
                    },
                    "linkedin_company_page": {
                      "title": "LinkedIn company page",
                      "type": "string",
                      "description": "The company's LinkedIn page."
                    },
                    "linkedinbio": {
                      "title": "LinkedIn bio",
                      "type": "string",
                      "description": "LinkedIn bio."
                    },
                    "name": {
                      "title": "Name",
                      "type": "string",
                      "description": "Name."
                    },
                    "notes_last_contacted": {
                      "title": "Notes last contacted",
                      "type": "string",
                      "description": "Notes - last contacted."
                    },
                    "notes_last_updated": {
                      "title": "Notes last updated",
                      "type": "string",
                      "description": "Notes - last updated."
                    },
                    "notes_next_activity_date": {
                      "title": "Notes next activity date",
                      "type": "string",
                      "description": "Notes - next activity date."
                    },
                    "num_associated_contacts": {
                      "title": "Number of associated contacts",
                      "type": "string",
                      "description": "The number of associated contacts."
                    },
                    "num_associated_deals": {
                      "title": "Number of associated deals",
                      "type": "string",
                      "description": "The number of associated deals."
                    },
                    "num_contacted_notes": {
                      "title": "Number of contacted notes",
                      "type": "string",
                      "description": "The number of contacted notes"
                    },
                    "num_conversion_events": {
                      "title": "Number of conversion events",
                      "type": "string",
                      "description": "The number of conversion events."
                    },
                    "numberofemployees": {
                      "title": "Number of employees",
                      "type": "string",
                      "description": "The number of employees."
                    },
                    "phone": {
                      "title": "Phone",
                      "type": "string",
                      "description": "Phone number."
                    },
                    "recent_conversion_date": {
                      "title": "Recent conversion date",
                      "type": "string",
                      "description": "Recent conversion date."
                    },
                    "recent_conversion_event_name": {
                      "title": "Recent conversion event name",
                      "type": "string",
                      "description": "Recent conversion event name."
                    },
                    "recent_deal_amount": {
                      "title": "Recent deal amount",
                      "type": "string",
                      "description": "Recent deal amount."
                    },
                    "recent_deal_close_date": {
                      "title": "Recent deal close date",
                      "type": "string",
                      "description": "Recent deal close date."
                    },
                    "state": {
                      "title": "State",
                      "type": "string",
                      "description": "The address state."
                    },
                    "timezone": {
                      "title": "Timezone",
                      "type": "string",
                      "description": "Timezone."
                    },
                    "total_money_raised": {
                      "title": "Total money raised",
                      "type": "string",
                      "description": "Total money raised."
                    },
                    "total_revenue": {
                      "title": "Total revenue",
                      "type": "string",
                      "description": "Total revenue"
                    },
                    "twitterbio": {
                      "title": "Twitter bio",
                      "type": "string",
                      "description": "Twitter bio"
                    },
                    "twitterfollowers": {
                      "title": "Twitter followers",
                      "type": "string",
                      "description": "Twitter followers"
                    },
                    "twitterhandle": {
                      "title": "Twitter handle",
                      "type": "string",
                      "description": "Twitter handle"
                    },
                    "type": {
                      "title": "Type",
                      "type": "string",
                      "description": "type"
                    },
                    "web_technologies": {
                      "title": "Web technologies",
                      "type": "string",
                      "description": "Web technologies."
                    },
                    "website": {
                      "title": "Website",
                      "type": "string",
                      "description": "Website."
                    },
                    "zip": {
                      "title": "Zip code",
                      "type": "string",
                      "description": "The address zip."
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/crm/v3/objects/contacts": {
      "get": {
        "responses": {
          "default": {
            "description": "The default response.",
            "schema": {}
          }
        },
        "summary": "List contacts",
        "description": "Read a list of contacts.",
        "operationId": "ContactsList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "important",
            "description": "The maximum number of results to return",
            "x-ms-summary": "limit",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "properties[]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of the properties to be returned in the response.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "properties",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "The default response.",
            "schema": {}
          }
        },
        "summary": "Create a contact",
        "description": "Create a contact with the given properties and return a copy of the object, including the ID.",
        "operationId": "ContactsCreate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "title": "Address",
                      "type": "string",
                      "description": "The first line of the street address."
                    },
                    "annualrevenue": {
                      "title": "Annual revenue",
                      "type": "string",
                      "description": "The company's annual revenue."
                    },
                    "city": {
                      "title": "City",
                      "type": "string",
                      "description": "The address city."
                    },
                    "closedate": {
                      "title": "Close date",
                      "type": "string",
                      "description": "The close date."
                    },
                    "company": {
                      "title": "Company",
                      "type": "string",
                      "description": "Company."
                    },
                    "company_size": {
                      "title": "Company size",
                      "type": "string",
                      "description": "Company size."
                    },
                    "country": {
                      "title": "Country",
                      "type": "string",
                      "description": "The address country."
                    },
                    "createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "The created on date."
                    },
                    "currentlyinworkflow": {
                      "title": "Currenly in workflow",
                      "type": "string",
                      "description": "Currently in workflow."
                    },
                    "date_of_birth": {
                      "title": "Date of birth",
                      "type": "string",
                      "description": "Date of birth."
                    },
                    "days_to_close": {
                      "title": "Days to close",
                      "type": "string",
                      "description": "The estimated days to close."
                    },
                    "degree": {
                      "title": "Degree",
                      "type": "string",
                      "description": "Degree held."
                    },
                    "email": {
                      "title": "Email",
                      "type": "string",
                      "description": "Email."
                    },
                    "engagements_last_meeting_booked": {
                      "title": "Engagements last meeting booked",
                      "type": "string",
                      "description": "The engagements last meeting booked."
                    },
                    "engagements_last_meeting_booked_campaign": {
                      "title": "Engagements last meeting booked campaign",
                      "type": "string",
                      "description": "The engagements last meeting booked campaign."
                    },
                    "engagements_last_meeting_booked_medium": {
                      "title": "Engagements last meeting booked medium",
                      "type": "string",
                      "description": "The engagements last meeting booked medium."
                    },
                    "engagements_last_meeting_booked_source": {
                      "title": "Engagements last meeting booked source",
                      "type": "string",
                      "description": "The engagements last meeting booked source."
                    },
                    "fax": {
                      "title": "Fax",
                      "type": "string",
                      "description": "Fax number."
                    },
                    "field_of_study": {
                      "title": "Field of study",
                      "type": "string",
                      "description": "Field of study."
                    },
                    "first_conversion_date": {
                      "title": "First conversion date",
                      "type": "string",
                      "description": "The first conversion date."
                    },
                    "first_conversion_event_name": {
                      "title": "First conversion event name",
                      "type": "string",
                      "description": "The first conversion event name."
                    },
                    "first_deal_created_date": {
                      "title": "First deal created date",
                      "type": "string",
                      "description": "The first deal created date."
                    },
                    "firstname": {
                      "title": "First name",
                      "type": "string",
                      "description": "First name."
                    },
                    "gender": {
                      "title": "Gender",
                      "type": "string",
                      "description": "Gender."
                    },
                    "graduation_date": {
                      "title": "Graduation date",
                      "type": "string",
                      "description": "Graduation date."
                    },
                    "hs_analytics_average_page_views": {
                      "title": "HubSpot analytics average page views",
                      "type": "string",
                      "description": "HubSpot Analytics - average page views."
                    },
                    "hs_analytics_first_referrer": {
                      "title": "HubSpot analytics first referrer",
                      "type": "string",
                      "description": "HubSpot Analytics - first referrer."
                    },
                    "hs_analytics_first_timestamp": {
                      "title": "HubSpot analytics first timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - first timestamp."
                    },
                    "hs_analytics_first_touch_converting_campaign": {
                      "title": "HubSpot analytics first touch converting campaign",
                      "type": "string",
                      "description": "HubSpot Analytics - first touch converting campaign."
                    },
                    "hs_analytics_first_url": {
                      "title": "HubSpot analytics first URL",
                      "type": "string",
                      "description": "HubSpot Analytics - first_url"
                    },
                    "hs_analytics_first_visit_timestamp": {
                      "title": "HubSpot Analytics first visit timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - first visit timestamp"
                    },
                    "hs_analytics_last_referrer": {
                      "title": "HubSpot analytics last referrer",
                      "type": "string",
                      "description": "HubSpot Analytics - last referrer."
                    },
                    "hs_analytics_last_timestamp": {
                      "title": "HubSpot analytics last timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - last timestamp."
                    },
                    "hs_analytics_last_touch_converting_campaign": {
                      "title": "HubSpot analytics last touch converting campaign",
                      "type": "string",
                      "description": "HubSpot Analytics - last touch converting campaign."
                    },
                    "hs_analytics_last_url": {
                      "title": "HubSpot analytics last URL",
                      "type": "string",
                      "description": "HubSpot Analytics - last URL."
                    },
                    "hs_analytics_last_visit_timestamp": {
                      "title": "HubSpot analytics last visit timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - last visit timestamp."
                    },
                    "hs_analytics_num_event_completions": {
                      "title": "HubSpot analytics number of event completions",
                      "type": "string",
                      "description": "HubSpot Analytics - number of event completions. "
                    },
                    "hs_analytics_num_page_views": {
                      "title": "HubSpot analytics number of page views",
                      "type": "string",
                      "description": "HubSpot Analytics - number of page views."
                    },
                    "hs_analytics_num_visits": {
                      "title": "HubSpot analytics number of visits",
                      "type": "string",
                      "description": "HubSpot Analytics - number of visits."
                    },
                    "hs_analytics_revenue": {
                      "title": "HubSpot analytics revenue",
                      "type": "string",
                      "description": "HubSpot Analytics - revenue"
                    },
                    "hs_analytics_source": {
                      "title": "HubSpot analytics source",
                      "type": "string",
                      "description": "HubSpot Analytics - source."
                    },
                    "hs_analytics_source_data_1": {
                      "title": "HubSpot analytics source data 1",
                      "type": "string",
                      "description": "HubSpot Analytics - source data 1."
                    },
                    "hs_analytics_source_data_2": {
                      "title": "HubSpot analytics source data 2",
                      "type": "string",
                      "description": "HubSpot Analytics - source data 2."
                    },
                    "hs_buying_role": {
                      "title": "HubSpot buying role",
                      "type": "string",
                      "description": "HubSpot - buying_role"
                    },
                    "hs_content_membership_email_confirmed": {
                      "title": "HubSpot content membership email confirmed",
                      "type": "string",
                      "description": "HubSpot - content membership email confirmed."
                    },
                    "hs_content_membership_notes": {
                      "title": "HubSpot content membership notes",
                      "type": "string",
                      "description": "HubSpot - content membership notes"
                    },
                    "hs_content_membership_registered_at": {
                      "title": "HubSpot content membership registered at",
                      "type": "string",
                      "description": "HubSpot - content membership registered at."
                    },
                    "hs_content_membership_registration_domain_sent_to": {
                      "title": "HubSpot content membership registration domain sent to",
                      "type": "string",
                      "description": "HubSpot - content membership registration domain sent to."
                    },
                    "hs_content_membership_registration_email_sent_at": {
                      "title": "HubSpot content membership registration email sent at",
                      "type": "string",
                      "description": "HubSpot - content membership registration email sent at."
                    },
                    "hs_content_membership_status": {
                      "title": "HubSpot content membership status",
                      "type": "string",
                      "description": "HubSpot - content membership status"
                    },
                    "hs_createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "HubSpot - create date."
                    },
                    "hs_email_bad_address": {
                      "title": "HubSpot email bad address",
                      "type": "string",
                      "description": "HubSpot - email bad address"
                    },
                    "hs_email_bounce": {
                      "title": "HubSpot email bounce",
                      "type": "string",
                      "description": "HubSpot - email bounce"
                    },
                    "hs_email_click": {
                      "title": "HubSpot email click",
                      "type": "string",
                      "description": "HubSpot - email click"
                    },
                    "hs_email_customer_quarantined_reason": {
                      "title": "HubSpot email customer quarnatined reason",
                      "type": "string",
                      "description": "HubSpot - email customer quarantined reason."
                    },
                    "hs_email_delivered": {
                      "title": "HubSpot email delivered",
                      "type": "string",
                      "description": "HubSpot - email delivered"
                    },
                    "hs_email_domain": {
                      "title": "Domain",
                      "type": "string",
                      "description": "HubSpot - email domain"
                    },
                    "hs_email_first_click_date": {
                      "title": "HubSpot email first click date",
                      "type": "string",
                      "description": "HubSpot - email first click date."
                    },
                    "hs_email_first_open_date": {
                      "title": "HubSpot email first open date",
                      "type": "string",
                      "description": "HubSpot - email first open date."
                    },
                    "hs_email_first_reply_date": {
                      "title": "HubSpot email first reply date",
                      "type": "string",
                      "description": "HubSpot - email first reply date."
                    },
                    "hs_email_first_send_date": {
                      "title": "HubSpot email first send date",
                      "type": "string",
                      "description": "HubSpot - email first send date."
                    },
                    "hs_email_hard_bounce_reason_enum": {
                      "title": "HubSpot email hard bounce reason enumerated",
                      "type": "string",
                      "description": "HubSpot - email hard bounce reason enumerated."
                    },
                    "hs_email_last_click_date": {
                      "title": "HubSpot email last click date",
                      "type": "string",
                      "description": "HubSpot - email last click date."
                    },
                    "hs_email_last_email_name": {
                      "title": "HubSpot email last email name",
                      "type": "string",
                      "description": "HubSpot - email last email name."
                    },
                    "hs_email_last_open_date": {
                      "title": "HubSpot email last open date",
                      "type": "string",
                      "description": "HubSpot - email last open date."
                    },
                    "hs_email_last_reply_date": {
                      "title": "HubSpot email last reply date",
                      "type": "string",
                      "description": "HubSpot - email last reply date."
                    },
                    "hs_email_last_send_date": {
                      "title": "HubSpot email last send date",
                      "type": "string",
                      "description": "HubSpot - email last send date."
                    },
                    "hs_email_open": {
                      "title": "HubSpot email open",
                      "type": "string",
                      "description": "HubSpot - email open"
                    },
                    "hs_email_optout": {
                      "title": "HubSpot email optout",
                      "type": "string",
                      "description": "HubSpot - email optout"
                    },
                    "hs_email_optout_12592317": {
                      "title": "HubSpot email optout 12592317",
                      "type": "string",
                      "description": "HubSpot - email optout 12592317"
                    },
                    "hs_email_quarantined": {
                      "title": "HubSpot email quarantied",
                      "type": "string",
                      "description": "HubSpot - email quarantined"
                    },
                    "hs_email_quarantined_reason": {
                      "title": "HubSpot email quarantied reason",
                      "type": "string",
                      "description": "HubSpot - email quarantined reason."
                    },
                    "hs_email_replied": {
                      "title": "HubSpot email replied",
                      "type": "string",
                      "description": "HubSpot - email replied"
                    },
                    "hs_email_sends_since_last_engagement": {
                      "title": "HubSpot email sends since last engagement",
                      "type": "string",
                      "description": "HubSpot - email sends since last engagement."
                    },
                    "hs_emailconfirmationstatus": {
                      "title": "HubSpot email confirmation  status",
                      "type": "string",
                      "description": "HubSpot - email confirmation status."
                    },
                    "hs_facebook_click_id": {
                      "title": "HubSpot Facebook click ID",
                      "type": "string",
                      "description": "HubSpot - Facebook click ID."
                    },
                    "hs_feedback_last_nps_follow_up": {
                      "title": "HubSpot feecback last NPS follow up",
                      "type": "string",
                      "description": "HubSpot - feedback last NPS follow up."
                    },
                    "hs_feedback_last_nps_rating": {
                      "title": "HubSpot feedback last NPS rating",
                      "type": "string",
                      "description": "HubSpot - feedback last NPS rating."
                    },
                    "hs_feedback_last_survey_date": {
                      "title": "HubSpot feedback last survey date",
                      "type": "string",
                      "description": "HubSpot - feedback last survey date."
                    },
                    "hs_google_click_id": {
                      "title": "HubSpot Google click ID",
                      "type": "string",
                      "description": "HubSpot - Google click ID."
                    },
                    "hs_ip_timezone": {
                      "title": "HubSpot IP timezone",
                      "type": "string",
                      "description": "HubSpot - IP timezone."
                    },
                    "hs_is_unworked": {
                      "title": "HubSpot is unworked",
                      "type": "string",
                      "description": "HubSpot - is unworked."
                    },
                    "hs_language": {
                      "title": "HubSpot language",
                      "type": "string",
                      "description": "HubSpot - language"
                    },
                    "hs_last_sales_activity_timestamp": {
                      "title": "HubSpot last sales activity timestamp",
                      "type": "string",
                      "description": "HubSpot - last sales activity timestamp."
                    },
                    "hs_lead_status": {
                      "title": "HubSpot lead status",
                      "type": "string",
                      "description": "HubSpot - lead status."
                    },
                    "hs_legal_basis": {
                      "title": "HubSpot legal basis",
                      "type": "string",
                      "description": "HubSpot - legal basis."
                    },
                    "hs_lifecyclestage_customer_date": {
                      "title": "HubSpot lifecycle stage customer date",
                      "type": "string",
                      "description": "HubSpot - lifecycle stage customer date."
                    },
                    "hs_lifecyclestage_evangelist_date": {
                      "title": "HubSpot lifecycle stage evangelist date",
                      "type": "string",
                      "description": "HubSpot - lifecycle stage evangelist date."
                    },
                    "hs_lifecyclestage_lead_date": {
                      "title": "HubSpot lifecycle stage lead date",
                      "type": "string",
                      "description": "HubSpot - lifecycle stage lead date."
                    },
                    "hs_lifecyclestage_marketingqualifiedlead_date": {
                      "title": "HubSpot lifecycle stage marketing qualitifed lead date",
                      "type": "string",
                      "description": "HubSpot - lifecycle stage marketing qualified lead date."
                    },
                    "hs_lifecyclestage_opportunity_date": {
                      "title": "HubSpot lifecycle stage opportunity date",
                      "type": "string",
                      "description": "HubSpot - lifecycle stage opportunity date."
                    },
                    "hs_lifecyclestage_other_date": {
                      "title": "HubSpot lifecycle stage other date",
                      "type": "string",
                      "description": "HubSpot - lifecycle stage other date."
                    },
                    "hs_lifecyclestage_salesqualifiedlead_date": {
                      "title": "HubSpot lifecycle stage sales qualified lead date",
                      "type": "string",
                      "description": "HubSpot - lifecycle stage sales qualified lead date."
                    },
                    "hs_lifecyclestage_subscriber_date": {
                      "title": "HubSpot lifecycle stage subscriber date",
                      "type": "string",
                      "description": "HubSpot - lifecycle stage subscriber date."
                    },
                    "hs_marketable_reason_id": {
                      "title": "HubSpot marketable reason ID",
                      "type": "string",
                      "description": "HubSpot - marketable reason ID."
                    },
                    "hs_marketable_reason_type": {
                      "title": "HubSpot marketable reason type",
                      "type": "string",
                      "description": "HubSpot - marketable reason type."
                    },
                    "hs_marketable_status": {
                      "title": "HubSpot marketable status",
                      "type": "string",
                      "description": "HubSpot - marketable status"
                    },
                    "hs_marketable_until_renewal": {
                      "title": "HubSpot marketable until renewal",
                      "type": "string",
                      "description": "HubSpot - marketable until renewal."
                    },
                    "hs_object_id": {
                      "title": "HubSpot object ID",
                      "type": "string",
                      "description": "HubSpot - object ID."
                    },
                    "hs_persona": {
                      "title": "HubSpot persona",
                      "type": "string",
                      "description": "HubSpot - persona"
                    },
                    "hs_predictivecontactscore": {
                      "title": "HubSpot predictive contact score",
                      "type": "string",
                      "description": "HubSpot - predictive contact score."
                    },
                    "hs_predictivecontactscore_v2": {
                      "title": "HubSpot predictive contact score v2",
                      "type": "string",
                      "description": "HubSpot - predictive contact score V2"
                    },
                    "hs_predictivecontactscorebucket": {
                      "title": "HubSpot predictive contact score bucket",
                      "type": "string",
                      "description": "HubSpot - predictive contact score bucket."
                    },
                    "hs_predictivescoringtier": {
                      "title": "HubSpot predictive scoring tier",
                      "type": "string",
                      "description": "HubSpot - predictive scoring tier."
                    },
                    "hs_sales_email_last_clicked": {
                      "title": "HubSpot sales email last clicked",
                      "type": "string",
                      "description": "HubSpot - sales email last clicked"
                    },
                    "hs_sales_email_last_opened": {
                      "title": "HubSpot sales email last opened",
                      "type": "string",
                      "description": "HubSpot - sales email last opened"
                    },
                    "hs_sales_email_last_replied": {
                      "title": "HubSpot sales email last replied",
                      "type": "string",
                      "description": "HubSpot - sales email last replied"
                    },
                    "hs_sequences_is_enrolled": {
                      "title": "HubSpot sequences is enrolled",
                      "type": "string",
                      "description": "HubSpot - sequences is enrolled."
                    },
                    "hs_time_between_contact_creation_and_deal_close": {
                      "title": "HubSpot time between contact creation and deal close",
                      "type": "string",
                      "description": "HubSpot - time between contact creation and deal close."
                    },
                    "hs_time_between_contact_creation_and_deal_creation": {
                      "title": "HubSpot time between contact creation and deal creation",
                      "type": "string",
                      "description": "HubSpot - time between contact creation and deal creation."
                    },
                    "hs_time_to_move_from_lead_to_customer": {
                      "title": "HubSpot time to move from lead to customer",
                      "type": "string",
                      "description": "HubSpot - time to move from lead to customer."
                    },
                    "hs_time_to_move_from_marketingqualifiedlead_to_customer": {
                      "title": "HubSpot time to move from marketing qualitfied lead to customer",
                      "type": "string",
                      "description": "HubSpot - time to move from marketing qualified lead to customer."
                    },
                    "hs_time_to_move_from_opportunity_to_customer": {
                      "title": "HubSpot time to move from opportunity to customer",
                      "type": "string",
                      "description": "HubSpot - time to move from opportunity to customer."
                    },
                    "hs_time_to_move_from_salesqualifiedlead_to_customer": {
                      "title": "HubSpot time to move from sales qualified lead to customer",
                      "type": "string",
                      "description": "HubSpot - time to move from sales qualified lead to customer."
                    },
                    "hs_time_to_move_from_subscriber_to_customer": {
                      "title": "HubSpot time to move from subscriber to customer",
                      "type": "string",
                      "description": "HubSpot - time to move from subscriber to customer."
                    },
                    "hubspot_owner_assigneddate": {
                      "title": "HubSpot owner assigned date",
                      "type": "string",
                      "description": "HubSpot - owner assigned date."
                    },
                    "hubspot_owner_id": {
                      "title": "HubSpot owner ID",
                      "type": "string",
                      "description": "HubSpot - owner ID."
                    },
                    "hubspot_team_id": {
                      "title": "HubSpot team ID",
                      "type": "string",
                      "description": "HubSpot - team ID."
                    },
                    "hubspotscore": {
                      "title": "HubSpot score",
                      "type": "string",
                      "description": "HubSpot score."
                    },
                    "industry": {
                      "title": "Industry",
                      "type": "string",
                      "description": "Industry."
                    },
                    "ip_city": {
                      "title": "IP city",
                      "type": "string",
                      "description": "IP city"
                    },
                    "ip_country": {
                      "title": "IP country",
                      "type": "string",
                      "description": "IP country"
                    },
                    "ip_country_code": {
                      "title": "IP country code",
                      "type": "string",
                      "description": "IP country code"
                    },
                    "ip_state": {
                      "title": "IP state",
                      "type": "string",
                      "description": "IP state"
                    },
                    "ip_state_code": {
                      "title": "IP state code",
                      "type": "string",
                      "description": "IP state code"
                    },
                    "job_function": {
                      "title": "Job function",
                      "type": "string",
                      "description": "Job function."
                    },
                    "jobtitle": {
                      "title": "Job title",
                      "type": "string",
                      "description": "Job title."
                    },
                    "lastmodifieddate": {
                      "title": "Last modified date",
                      "type": "string",
                      "description": "Last modified date."
                    },
                    "lastname": {
                      "title": "Last name",
                      "type": "string",
                      "description": "Last name."
                    },
                    "lifecyclestage": {
                      "title": "Lifecycle stage",
                      "type": "string",
                      "description": "The current lifecycle stage."
                    },
                    "marital_status": {
                      "title": "Marital status",
                      "type": "string",
                      "description": "Marital status."
                    },
                    "message": {
                      "title": "Message",
                      "type": "string",
                      "description": "Message."
                    },
                    "military_status": {
                      "title": "Military status",
                      "type": "string",
                      "description": "Military status."
                    },
                    "mobilephone": {
                      "title": "Mobile phone",
                      "type": "string",
                      "description": "Mobile phone number."
                    },
                    "notes_last_contacted": {
                      "title": "Notes last contacted",
                      "type": "string",
                      "description": "Notes - last contacted."
                    },
                    "notes_last_updated": {
                      "title": "Notes last updated",
                      "type": "string",
                      "description": "Notes - last updated."
                    },
                    "notes_next_activity_date": {
                      "title": "Notes next activity date",
                      "type": "string",
                      "description": "Notes - next activity date."
                    },
                    "num_associated_deals": {
                      "title": "Number of associated deals",
                      "type": "string",
                      "description": "The number of associated deals."
                    },
                    "num_contacted_notes": {
                      "title": "Number of contacted notes",
                      "type": "string",
                      "description": "The number of contacted notes"
                    },
                    "num_conversion_events": {
                      "title": "Number of conversion events",
                      "type": "string",
                      "description": "The number of conversion events."
                    },
                    "num_notes": {
                      "title": "Number of notes",
                      "type": "string",
                      "description": "The number of notes"
                    },
                    "num_unique_conversion_events": {
                      "title": "Number of unique conversion events",
                      "type": "string",
                      "description": "The number of unique conversion events."
                    },
                    "numemployees": {
                      "title": "Number of employees",
                      "type": "string",
                      "description": "Number of employees."
                    },
                    "phone": {
                      "title": "Phone",
                      "type": "string",
                      "description": "Phone number."
                    },
                    "recent_conversion_date": {
                      "title": "Recent conversion date",
                      "type": "string",
                      "description": "Recent conversion date."
                    },
                    "recent_conversion_event_name": {
                      "title": "Recent conversion event name",
                      "type": "string",
                      "description": "Recent conversion event name."
                    },
                    "recent_deal_amount": {
                      "title": "Recent deal amount",
                      "type": "string",
                      "description": "Recent deal amount."
                    },
                    "recent_deal_close_date": {
                      "title": "Recent deal close date",
                      "type": "string",
                      "description": "Recent deal close date."
                    },
                    "relationship_status": {
                      "title": "Relations status",
                      "type": "string",
                      "description": "Relationship status."
                    },
                    "salutation": {
                      "title": "Salutation",
                      "type": "string",
                      "description": "Salutation."
                    },
                    "school": {
                      "title": "School",
                      "type": "string",
                      "description": "School attended."
                    },
                    "seniority": {
                      "title": "Seniority",
                      "type": "string",
                      "description": "Seniority."
                    },
                    "start_date": {
                      "title": "Start date",
                      "type": "string",
                      "description": "Start date."
                    },
                    "state": {
                      "title": "State",
                      "type": "string",
                      "description": "The address state."
                    },
                    "total_revenue": {
                      "title": "Total revenue",
                      "type": "string",
                      "description": "Total revenue"
                    },
                    "twitterhandle": {
                      "title": "Twitter handle",
                      "type": "string",
                      "description": "Twitter handle"
                    },
                    "website": {
                      "title": "Website",
                      "type": "string",
                      "description": "Website."
                    },
                    "work_email": {
                      "title": "Work email",
                      "type": "string",
                      "description": "Work email address."
                    },
                    "zip": {
                      "title": "Zip code",
                      "type": "string",
                      "description": "The address zip."
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/{contactId}": {
      "get": {
        "responses": {
          "default": {
            "description": "The default response.",
            "schema": {}
          }
        },
        "summary": "Get a contact",
        "description": "Read a contact identified by {contactId}.",
        "operationId": "ContactsRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The contactId for the contact",
            "x-ms-summary": "contactId",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "The default response.",
            "schema": {}
          }
        },
        "summary": "Delete a contact",
        "description": "Move a contact identified by {contactId} to the recycling bin.",
        "operationId": "ContactsArchive",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The contactId of the contact",
            "x-ms-visibility": "important",
            "x-ms-summary": "contactId",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "The default response.",
            "schema": {}
          }
        },
        "summary": "Update a contact",
        "description": "Perform a partial update of a contact identified by {contactId}. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "ContactsUpdate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The contactId of the contact",
            "x-ms-visibility": "important",
            "x-ms-summary": "contactId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "title": "Address",
                      "type": "string",
                      "description": "The first line of the street address."
                    },
                    "annualrevenue": {
                      "title": "Annual revenue",
                      "type": "string",
                      "description": "The company's annual revenue."
                    },
                    "city": {
                      "title": "City",
                      "type": "string",
                      "description": "The address city."
                    },
                    "closedate": {
                      "title": "Close date",
                      "type": "string",
                      "description": "The close date."
                    },
                    "company": {
                      "title": "Company",
                      "type": "string",
                      "description": "Company."
                    },
                    "company_size": {
                      "title": "Company size",
                      "type": "string",
                      "description": "Company size."
                    },
                    "country": {
                      "title": "Country",
                      "type": "string",
                      "description": "The address country."
                    },
                    "createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "The created on date."
                    },
                    "currentlyinworkflow": {
                      "title": "Currenly in workflow",
                      "type": "string",
                      "description": "Currently in workflow."
                    },
                    "date_of_birth": {
                      "title": "Date of birth",
                      "type": "string",
                      "description": "Date of birth."
                    },
                    "days_to_close": {
                      "title": "Days to close",
                      "type": "string",
                      "description": "The estimated days to close."
                    },
                    "degree": {
                      "title": "Degree",
                      "type": "string",
                      "description": "Degree held."
                    },
                    "email": {
                      "title": "Email",
                      "type": "string",
                      "description": "Email."
                    },
                    "engagements_last_meeting_booked": {
                      "title": "Engagements last meeting booked",
                      "type": "string",
                      "description": "The engagements last meeting booked."
                    },
                    "engagements_last_meeting_booked_campaign": {
                      "title": "Engagements last meeting booked campaign",
                      "type": "string",
                      "description": "The engagements last meeting booked campaign."
                    },
                    "engagements_last_meeting_booked_medium": {
                      "title": "Engagements last meeting booked medium",
                      "type": "string",
                      "description": "The engagements last meeting booked medium."
                    },
                    "engagements_last_meeting_booked_source": {
                      "title": "Engagements last meeting booked source",
                      "type": "string",
                      "description": "The engagements last meeting booked source."
                    },
                    "fax": {
                      "title": "Fax",
                      "type": "string",
                      "description": "Fax number."
                    },
                    "field_of_study": {
                      "title": "Field of study",
                      "type": "string",
                      "description": "Field of study."
                    },
                    "first_conversion_date": {
                      "title": "First conversion date",
                      "type": "string",
                      "description": "The first conversion date."
                    },
                    "first_conversion_event_name": {
                      "title": "First conversion event name",
                      "type": "string",
                      "description": "The first conversion event name."
                    },
                    "first_deal_created_date": {
                      "title": "First deal created date",
                      "type": "string",
                      "description": "The first deal created date."
                    },
                    "firstname": {
                      "title": "First name",
                      "type": "string",
                      "description": "First name."
                    },
                    "gender": {
                      "title": "Gender",
                      "type": "string",
                      "description": "Gender."
                    },
                    "graduation_date": {
                      "title": "Graduation date",
                      "type": "string",
                      "description": "Graduation date."
                    },
                    "hs_analytics_average_page_views": {
                      "title": "HubSpot analytics average page views",
                      "type": "string",
                      "description": "HubSpot Analytics - average page views."
                    },
                    "hs_analytics_first_referrer": {
                      "title": "HubSpot analytics first referrer",
                      "type": "string",
                      "description": "HubSpot Analytics - first referrer."
                    },
                    "hs_analytics_first_timestamp": {
                      "title": "HubSpot analytics first timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - first timestamp."
                    },
                    "hs_analytics_first_touch_converting_campaign": {
                      "title": "HubSpot analytics first touch converting campaign",
                      "type": "string",
                      "description": "HubSpot Analytics - first touch converting campaign."
                    },
                    "hs_analytics_first_url": {
                      "title": "HubSpot analytics first URL",
                      "type": "string",
                      "description": "HubSpot Analytics - first_url"
                    },
                    "hs_analytics_first_visit_timestamp": {
                      "title": "HubSpot Analytics first visit timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - first visit timestamp"
                    },
                    "hs_analytics_last_referrer": {
                      "title": "HubSpot analytics last referrer",
                      "type": "string",
                      "description": "HubSpot Analytics - last referrer."
                    },
                    "hs_analytics_last_timestamp": {
                      "title": "HubSpot analytics last timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - last timestamp."
                    },
                    "hs_analytics_last_touch_converting_campaign": {
                      "title": "HubSpot analytics last touch converting campaign",
                      "type": "string",
                      "description": "HubSpot Analytics - last touch converting campaign."
                    },
                    "hs_analytics_last_url": {
                      "title": "HubSpot analytics last URL",
                      "type": "string",
                      "description": "HubSpot Analytics - last URL."
                    },
                    "hs_analytics_last_visit_timestamp": {
                      "title": "HubSpot analytics last visit timestamp",
                      "type": "string",
                      "description": "HubSpot Analytics - last visit timestamp."
                    },
                    "hs_analytics_num_event_completions": {
                      "title": "HubSpot analytics number of event completions",
                      "type": "string",
                      "description": "HubSpot Analytics - number of event completions. "
                    },
                    "hs_analytics_num_page_views": {
                      "title": "HubSpot analytics number of page views",
                      "type": "string",
                      "description": "HubSpot Analytics - number of page views."
                    },
                    "hs_analytics_num_visits": {
                      "title": "HubSpot analytics number of visits",
                      "type": "string",
[...]
