{
  "swagger": "2.0",
  "info": {
    "title": "HubSpot CRM",
    "description": "HubSpot CRM is a system for managing customer relationships and storing data. The CRM custom connector provides access to CRM objects or groups of objects, which are represented as a map of property names to values.",
    "version": "1.2",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/crm/v3/objects/companies": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Company Record'",
                  "items": {
                    "$ref": "#/definitions/CompanyRecord"
                  }
                },
                "paging": {
                  "$ref": "#/definitions/Paging"
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "List companies",
        "description": "Return a list of companies.",
        "operationId": "CompaniesList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/After"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid property values",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Record with unique identifier already exists"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Create a company",
        "description": "Create a company with given properties then return a copy with the ID.",
        "operationId": "CompaniesCreate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/CompanyEntry"
          }
        ]
      }
    },
    "/crm/v3/objects/companies/{companyId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyRecord"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Get a company",
        "description": "Read a company identified by {companyId}.",
        "operationId": "CompaniesRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/CompanyID"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "415": {
            "description": "Invalid id"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Delete a company",
        "description": "Move a company identified by {companyId} to the recycling bin.",
        "operationId": "CompaniesArchive",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/CompanyID"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CompanyRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid ID",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Update a company",
        "description": "Perform a partial update of a company identified by {companyId}. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "CompaniesUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/CompanyID"
          },
          {
            "$ref": "#/parameters/CompanyEntry"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      }
    },
    "/crm/v3/objects/companies/search": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Company Record'",
                  "items": {
                    "$ref": "#/definitions/CompanyRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Search for companies",
        "description": "Search for a company with the given filters and return a list.",
        "operationId": "CompaniesSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Search"
          }
        ]
      }
    },
    "/crm/v3/objects/contacts": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Contact Record'",
                  "items": {
                    "$ref": "#/definitions/ContactRecord"
                  }
                },
                "paging": {
                  "$ref": "#/definitions/Paging"
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "List contacts",
        "description": "Read a list of contacts.",
        "operationId": "ContactsList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/After"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid property values",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Record with unique identifier already exists"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Create a contact",
        "description": "Create a contact with the given properties and return a copy with the ID.",
        "operationId": "ContactsCreate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/ContactEntry"
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/{contactId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactRecord"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Get a contact",
        "description": "Read a contact identified by {contactId}.",
        "operationId": "ContactsRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/ContactID"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "415": {
            "description": "Invalid id"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Delete a contact",
        "description": "Move a contact identified by {contactId} to the recycling bin.",
        "operationId": "ContactsArchive",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/ContactID"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid ID",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Update a contact",
        "description": "Perform a partial update of a contact identified by {contactId}. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "ContactsUpdate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/ContactID"
          },
          {
            "$ref": "#/parameters/ContactEntry"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/search": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Contact Record'",
                  "items": {
                    "$ref": "#/definitions/ContactRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Search for contacts",
        "description": "Search for a contacts with the given filters and return a list.",
        "operationId": "ContactsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Search"
          }
        ]
      }
    },
    "/crm/v3/objects/deals": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Deal Record'",
                  "items": {
                    "$ref": "#/definitions/DealRecord"
                  }
                },
                "paging": {
                  "$ref": "#/definitions/Paging"
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "List deals",
        "description": "Return a list of deals",
        "operationId": "DealsList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/After"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DealRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid property values",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Record with unique identifier already exists"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Create a deal",
        "description": "Create a deal with the given properties and return a copy of the object, including the ID.",
        "operationId": "DealsCreate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/DealEntry"
          }
        ]
      }
    },
    "/crm/v3/objects/deals/{dealId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DealRecord"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Get a deal",
        "description": "Read a deal identified by {dealId}.",
        "operationId": "DealsRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/DealID"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "415": {
            "description": "Invalid id"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Delete a deal",
        "description": "Move a deal identified by {dealId} to the recycling bin.",
        "operationId": "DealsArchive",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/DealID"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DealRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid ID",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Update a deal",
        "description": "Perform a partial update of a deal identified by {dealId}. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "DealsUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/DealID"
          },
          {
            "$ref": "#/parameters/DealEntry"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      }
    },
    "/crm/v3/objects/deals/search": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Deal Record'",
                  "items": {
                    "$ref": "#/definitions/DealRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Search for deals",
        "description": "Search for a deal with the given filters and return a list.",
        "operationId": "DealsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Search"
          }
        ]
      }
    },
    "/crm/v3/objects/products": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Product Record'",
                  "items": {
                    "$ref": "#/definitions/ProductRecord"
                  }
                },
                "paging": {
                  "$ref": "#/definitions/Paging"
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "List products",
        "description": "Return a list of products",
        "operationId": "ProductsList",
        "parameters": [
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/After"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          }
        ],
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid property values",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Record with unique identifier already exists"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Create a product",
        "parameters": [
          {
            "$ref": "#/parameters/ProductEntry"
          }
        ],
        "description": "Create a product with the given properties and return a copy of the object, including the ID.",
        "operationId": "ProductsCreate",
        "x-ms-visibility": "important"
      }
    },
    "/crm/v3/objects/products/{productId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductRecord"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Get a product",
        "description": "Read a product identified by {productId}.",
        "operationId": "ProductsRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/ProductID"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "415": {
            "description": "Invalid id"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Delete a product",
        "description": "Move a product identified by {productId} to the recycling bin.",
        "operationId": "ProductsArchive",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/ProductID"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid ID",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Update a product",
        "description": "Perform a partial update of a product identified by {productId}. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "ProductsUpdate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/ProductID"
          },
          {
            "$ref": "#/parameters/ProductEntry"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      }
    },
    "/crm/v3/objects/products/search": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Products'",
                  "items": {
                    "$ref": "#/definitions/ProductRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Search for products",
        "description": "Search for a product with the given filters and return a list.",
        "operationId": "ProductsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Search"
          }
        ]
      }
    },
    "/crm/v3/objects/line_items": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Line Item Record'",
                  "items": {
                    "$ref": "#/definitions/LineItemRecord"
                  }
                },
                "paging": {
                  "$ref": "#/definitions/Paging"
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "List line items",
        "description": "Return a list of line items. Control what is returned via the properties query param.",
        "operationId": "LineItemsList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/After"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LineItemRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid property values",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Record with unique identifier already exists"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Create a line item",
        "description": "Create a line item with the given properties and return a copy of the object, including the ID.",
        "operationId": "LineItemsCreate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/LineItemEntry"
          }
        ]
      }
    },
    "/crm/v3/objects/line_items/{lineItemId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LineItemRecord"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Get a line item",
        "description": "Read a line item identified by {lineItemId}.",
        "operationId": "LineItemsRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/LineItemID"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "415": {
            "description": "Invalid id"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Delete a line item",
        "description": "Move an Object identified by {lineItemId} to the recycling bin.",
        "operationId": "LineItemsArchive",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/LineItemID"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LineItemRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid ID",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Update a line item",
        "description": "Perform a partial update of a line item identified by {lineItemId}. {lineItemId} refers to the internal object ID by default, or optionally any unique property value as specified by the idProperty query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "LineItemsUpdate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/LineItemID"
          },
          {
            "$ref": "#/parameters/LineItemEntry"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      }
    },
    "/crm/v3/objects/line_items/search": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Line Item Record'",
                  "items": {
                    "$ref": "#/definitions/LineItemRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Search for line items",
        "description": "Search for a line item with the given filters and return a list.",
        "operationId": "LineItemsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Search"
          }
        ]
      }
    },
    "/crm/v3/objects/tickets": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Ticket Record'",
                  "items": {
                    "$ref": "#/definitions/TicketRecord"
                  }
                },
                "paging": {
                  "$ref": "#/definitions/Paging"
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "List tickets",
        "description": "Read a page of tickets. Control what is returned via the properties query param.",
        "operationId": "TicketsList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/After"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid property values",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Record with unique identifier already exists"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Create a ticket",
        "description": "Create a ticket with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard tickets is provided.",
        "operationId": "TicketsCreate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/TicketEntry"
          }
        ]
      }
    },
    "/crm/v3/objects/tickets/{ticketId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketRecord"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Get a ticket",
        "description": "Read a ticket identified by {ticketId}. {ticketId} refers to the internal object ID by default, or optionally any unique property value as specified by the idProperty query param. Control what is returned via the properties query param.",
        "operationId": "TicketsRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/TicketID"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "415": {
            "description": "Invalid id"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Delete a ticket",
        "description": "Move a ticket identified by {ticketId} to the recycling bin.",
        "operationId": "TicketsArchive",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/TicketID"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid ID",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "operationId": "TicketsUpdate",
        "summary": "Update a ticket",
        "description": "Perform a partial update of a ticket identified by {ticketId}. {ticketId} refers to the internal object ID by default, or optionally any unique property value as specified by the idProperty query param. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/TicketID"
          },
          {
            "$ref": "#/parameters/TicketEntry"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      }
    },
    "/crm/v3/objects/tickets/search": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Ticket Record'",
                  "items": {
                    "$ref": "#/definitions/TicketRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Search for tickets",
        "description": "Search for a ticket with the given filters and return a list.",
        "operationId": "TicketsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Search"
          }
        ]
      }
    },
    "/crm/v3/objects/meetings": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Meeting Record'",
                  "items": {
                    "$ref": "#/definitions/MeetingRecord"
                  }
                },
                "paging": {
                  "$ref": "#/definitions/Paging"
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "List meetings",
        "description": "Return a list of meetings.",
        "operationId": "MeetingsList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/After"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MeetingRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid property values",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Record with unique identifier already exists"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Create a meeting",
        "description": "Create a meeting with given properties then return a copy with the ID.",
        "operationId": "MeetingsCreate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingEntry"
          }
        ]
      }
    },
    "/crm/v3/objects/meetings/{meetingId}": {
      "delete": {
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "415": {
            "description": "Invalid id"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Delete a meeting",
        "description": "Move a meeting identified by {meetingId} to the recycling bin.",
        "operationId": "MeetingsArchive",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingID"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MeetingRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid ID",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Update a meeting",
        "description": "Perform a partial update of a meetingidentified by {meetingId}. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "MeetingsUpdate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/MeetingID"
          },
          {
            "$ref": "#/parameters/MeetingEntry"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      }
    },
    "/crm/v3/objects/meetings/search": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Meeting Record'",
                  "items": {
                    "$ref": "#/definitions/MeetingRecord"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. exceeds page limit or too many characters",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Search for meetings",
        "description": "Search for a meeting with the given filters and return a list.",
        "operationId": "MeetingsSearch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/Search"
          }
        ]
      }
    },
    "/crm/v3/owners": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Owner Record'",
                  "items": {
                    "$ref": "#/definitions/OwnerRecord"
                  }
                },
                "paging": {
                  "$ref": "#/definitions/Paging"
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. invalid Object Type",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "List owners",
        "description": "Return a list of owners.",
        "operationId": "OwnersList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "type": "string",
            "required": false,
            "description": "Filter by email address",
            "x-ms-summary": "Filter by email address",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important"
          },
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/After"
          },
          {
            "$ref": "#/parameters/Archived"
          }
        ]
      }
    },
    "/crm/v3/owners/{ownerId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OwnerRecord"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Get an owner",
        "description": "Read an owner identified by {ownerId}.",
        "operationId": "OwnersRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "$ref": "#/parameters/OwnerID"
          },
          {
            "$ref": "#/parameters/Archived"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      }
    },
    "/crm/v3/objects/{objectType}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "description": "array of results of type 'Object Record'",
                  "items": {
                    "$ref": "#/definitions/ObjectRecord"
                  }
                },
                "paging": {
                  "$ref": "#/definitions/Paging"
                }
              }
            }
          },
          "400": {
            "description": "Input error, e.g. invalid Object Type",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "List objects",
        "description": "Read a page of objects. Control what is returned via the properties query param.",
        "operationId": "ObjectsList",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/ObjectType"
          },
          {
            "$ref": "#/parameters/Limit"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObjectRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid Object Type",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "409": {
            "description": "Record with unique identifier already exists"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ObjectType"
          },
          {
            "$ref": "#/parameters/ObjectEntry"
          }
        ],
        "summary": "Create an object",
        "description": "Create an object with the given properties and return a copy of the object, including the ID.",
        "operationId": "ObjectsCreate",
        "x-ms-visibility": "advanced"
      }
    },
    "/crm/v3/objects/{objectType}/{objectId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObjectRecord"
            }
          },
          "400": {
            "description": "Input error, e.g. invalid Object Type",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
          "504": {
            "description": "Timeout"
          },
          "521": {
            "description": "Web server is down"
          },
          "522": {
            "description": "Connection timed out"
          },
          "523": {
            "description": "Origin is unreachable"
          },
          "524": {
            "description": "Timeout"
          },
          "525": {
            "description": "SSL issues"
          },
          "526": {
            "description": "SSL issues"
          },
          "default": {
            "description": "Unexpected Error"
          }
        },
        "summary": "Get an object",
        "description": "Read an object identified by {objectId}.",
        "operationId": "ObjectsRead",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "$ref": "#/parameters/ObjectType"
          },
          {
            "$ref": "#/parameters/ObjectID"
          },
          {
            "$ref": "#/parameters/ReturnProperties"
          },
          {
            "$ref": "#/parameters/ReturnPropertiesWithHistory"
          },
          {
            "$ref": "#/parameters/ReturnAssociations"
          },
          {
            "$ref": "#/parameters/Archived"
          },
          {
            "$ref": "#/parameters/IDProperty"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Resource not found"
          },
          "415": {
            "description": "Invalid id"
          },
          "429": {
            "description": "Too many requests"
          },
          "502": {
            "description": "Timeout"
          },
          "503": {
            "description": "Service temporarily unavailable"
          },
[...]
