{
  "swagger": "2.0",
  "info": {
    "title": "Default title",
    "description": "HubSpot\u2019s CRM is a system for managing customer relationships and storing data. The CRM custom connector provides access to CRM objects or groups of objects, which are represented as a map of property names to values.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/crm/v3/objects/companies": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "List companies",
        "description": "Return a list of companies.",
        "operationId": "CompaniesList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-visibility": "important"
          },
          {
            "name": "properties",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Whether to return only results that have been archived.",
            "x-ms-visibility": "advanced"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a company",
        "description": "Create a company with the given properties and return a copy of the object, including the ID.",
        "operationId": "CompaniesCreate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "about_us": {
                      "title": "About usAbout Us",
                      "type": "string",
                      "description": "about_us"
                    },
                    "address": {
                      "title": "Address",
                      "type": "string",
                      "description": "address"
                    },
                    "address2": {
                      "title": "Address 2",
                      "type": "string",
                      "description": "address2"
                    },
                    "annualrevenue": {
                      "title": "Annual revenue",
                      "type": "string",
                      "description": "annualrevenue"
                    },
                    "city": {
                      "title": "City",
                      "type": "string",
                      "description": "city"
                    },
                    "closedate": {
                      "title": "Close date",
                      "type": "string",
                      "description": "closedate"
                    },
                    "country": {
                      "title": "Country",
                      "type": "string",
                      "description": "country"
                    },
                    "createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "createdate"
                    },
                    "days_to_close": {
                      "title": "Days to close",
                      "type": "string",
                      "description": "days_to_close"
                    },
                    "description": {
                      "title": "Description",
                      "type": "string",
                      "description": "description"
                    },
                    "domain": {
                      "title": "Domain",
                      "type": "string",
                      "description": "domain"
                    },
                    "engagements_last_meeting_booked": {
                      "title": "Engagements last meeting booked",
                      "type": "string",
                      "description": "engagements_last_meeting_booked"
                    },
                    "engagements_last_meeting_booked_campaign": {
                      "title": "Engagements last meeting booked campaign",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_campaign"
                    },
                    "engagements_last_meeting_booked_medium": {
                      "title": "Engagements last meeting booked medium",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_medium"
                    },
                    "engagements_last_meeting_booked_source": {
                      "title": "Engagements last meeting booked source",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_source"
                    },
                    "facebook_company_page": {
                      "title": "Facebook company page",
                      "type": "string",
                      "description": "facebook_company_page"
                    },
                    "facebookfans": {
                      "title": "Facebook fans",
                      "type": "string",
                      "description": "facebookfans"
                    },
                    "first_contact_createdate": {
                      "title": "first contact create date",
                      "type": "string",
                      "description": "first_contact_createdate"
                    },
                    "first_conversion_date": {
                      "title": "First conversion date",
                      "type": "string",
                      "description": "first_conversion_date"
                    },
                    "first_conversion_event_name": {
                      "title": "First conversion event name",
                      "type": "string",
                      "description": "first_conversion_event_name"
                    },
                    "first_deal_created_date": {
                      "title": "First deal created date",
                      "type": "string",
                      "description": "first_deal_created_date"
                    },
                    "founded_year": {
                      "title": "Founded year",
                      "type": "string",
                      "description": "founded_year"
                    },
                    "googleplus_page": {
                      "title": "GooglePlus page",
                      "type": "string",
                      "description": "googleplus_page"
                    },
                    "hs_analytics_first_timestamp": {
                      "title": "HubSpot analytics first timestamp",
                      "type": "string",
                      "description": "hs_analytics_first_timestamp"
                    },
                    "hs_analytics_first_touch_converting_campaign": {
                      "title": "HubSpot analytics first touch converting campaign",
                      "type": "string",
                      "description": "hs_analytics_first_touch_converting_campaign"
                    },
                    "hs_analytics_first_visit_timestamp": {
                      "title": "HubSpot Analytics first visit timestamp",
                      "type": "string",
                      "description": "hs_analytics_first_visit_timestamp"
                    },
                    "hs_analytics_last_timestamp": {
                      "title": "HubSpot analytics last timestamp",
                      "type": "string",
                      "description": "hs_analytics_last_timestamp"
                    },
                    "hs_analytics_last_touch_converting_campaign": {
                      "title": "HubSpot analytics last touch converting campaign",
                      "type": "string",
                      "description": "hs_analytics_last_touch_converting_campaign"
                    },
                    "hs_analytics_last_visit_timestamp": {
                      "title": "HubSpot analytics last visit timestamp",
                      "type": "string",
                      "description": "hs_analytics_last_visit_timestamp"
                    },
                    "hs_analytics_num_page_views": {
                      "title": "HubSpot analytics number of page views",
                      "type": "string",
                      "description": "hs_analytics_num_page_views"
                    },
                    "hs_analytics_num_visits": {
                      "title": "HubSpot analytics number of visits",
                      "type": "string",
                      "description": "hs_analytics_num_visits"
                    },
                    "hs_analytics_source": {
                      "title": "HubSpot analytics source",
                      "type": "string",
                      "description": "hs_analytics_source"
                    },
                    "hs_analytics_source_data_1": {
                      "title": "HubSpot analytics source data 1",
                      "type": "string",
                      "description": "hs_analytics_source_data_1"
                    },
                    "hs_analytics_source_data_2": {
                      "title": "HubSpot analytics source data 2",
                      "type": "string",
                      "description": "hs_analytics_source_data_2"
                    },
                    "hs_createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "hs_createdate"
                    },
                    "hs_ideal_customer_profile": {
                      "title": "HubSpot ideal customer profile",
                      "type": "string",
                      "description": "hs_ideal_customer_profile"
                    },
                    "hs_is_target_account": {
                      "title": "HubSpot is target account",
                      "type": "string",
                      "description": "hs_is_target_account"
                    },
                    "hs_last_booked_meeting_date": {
                      "title": "HubSpot last booked meeting date",
                      "type": "string",
                      "description": "hs_last_booked_meeting_date"
                    },
                    "hs_last_logged_call_date": {
                      "title": "HubSpot last logged call date",
                      "type": "string",
                      "description": "hs_last_logged_call_date"
                    },
                    "hs_last_open_task_date": {
                      "title": "HubSpot last open task date",
                      "type": "string",
                      "description": "hs_last_open_task_date"
                    },
                    "hs_last_sales_activity_timestamp": {
                      "title": "HubSpot last sales activity timestamp",
                      "type": "string",
                      "description": "hs_last_sales_activity_timestamp"
                    },
                    "hs_lastmodifieddate": {
                      "title": "HubSpot last modified date",
                      "type": "string",
                      "description": "hs_lastmodifieddate"
                    },
                    "hs_lead_status": {
                      "title": "HubSpot lead status",
                      "type": "string",
                      "description": "hs_lead_status"
                    },
                    "hs_num_blockers": {
                      "title": "HubSpot number of blockers",
                      "type": "string",
                      "description": "hs_num_blockers"
                    },
                    "hs_num_child_companies": {
                      "title": "HubSpot number of child companies",
                      "type": "string",
                      "description": "hs_num_child_companies"
                    },
                    "hs_num_contacts_with_buying_roles": {
                      "title": "HubSpot number of contacts with buying roles",
                      "type": "string",
                      "description": "hs_num_contacts_with_buying_roles"
                    },
                    "hs_num_decision_makers": {
                      "title": "HubSpot number of decision makers",
                      "type": "string",
                      "description": "hs_num_decision_makers"
                    },
                    "hs_num_open_deals": {
                      "title": "HubSpot number of open deals",
                      "type": "string",
                      "description": "hs_num_open_deals"
                    },
                    "hs_object_id": {
                      "title": "HubSpot object ID",
                      "type": "string",
                      "description": "hs_object_id"
                    },
                    "hs_parent_company_id": {
                      "title": "HubSpot parent company ID",
                      "type": "string",
                      "description": "hs_parent_company_id"
                    },
                    "hs_predictivecontactscore_v2": {
                      "title": "HubSpot predictive contact score v2",
                      "type": "string",
                      "description": "hs_predictivecontactscore_v2"
                    },
                    "hs_total_deal_value": {
                      "title": "HubSpot total deal value",
                      "type": "string",
                      "description": "hs_total_deal_value"
                    },
                    "hubspot_owner_assigneddate": {
                      "title": "HubSpot owner assigned date",
                      "type": "string",
                      "description": "hubspot_owner_assigneddate"
                    },
                    "hubspot_owner_id": {
                      "title": "HubSpot owner ID",
                      "type": "string",
                      "description": "hubspot_owner_id"
                    },
                    "hubspot_team_id": {
                      "title": "HubSpot team ID",
                      "type": "string",
                      "description": "hubspot_team_id"
                    },
                    "industry": {
                      "title": "Industry",
                      "type": "string",
                      "description": "industry"
                    },
                    "is_public": {
                      "title": "Is public",
                      "type": "string",
                      "description": "is_public"
                    },
                    "lifecyclestage": {
                      "title": "Lifecycle stage",
                      "type": "string",
                      "description": "lifecyclestage"
                    },
                    "linkedin_company_page": {
                      "title": "LinkedIn company page",
                      "type": "string",
                      "description": "linkedin_company_page"
                    },
                    "linkedinbio": {
                      "title": "LinkedIn bio",
                      "type": "string",
                      "description": "linkedinbio"
                    },
                    "name": {
                      "title": "Name",
                      "type": "string",
                      "description": "name"
                    },
                    "notes_last_contacted": {
                      "title": "Notes last contacted",
                      "type": "string",
                      "description": "notes_last_contacted"
                    },
                    "notes_last_updated": {
                      "title": "Notes last updated",
                      "type": "string",
                      "description": "notes_last_updated"
                    },
                    "notes_next_activity_date": {
                      "title": "Notes next activity date",
                      "type": "string",
                      "description": "notes_next_activity_date"
                    },
                    "num_associated_contacts": {
                      "title": "Number of associated contacts",
                      "type": "string",
                      "description": "num_associated_contacts"
                    },
                    "num_associated_deals": {
                      "title": "Number of associated deals",
                      "type": "string",
                      "description": "num_associated_deals"
                    },
                    "num_contacted_notes": {
                      "title": "Number of contacted notes",
                      "type": "string",
                      "description": "num_contacted_notes"
                    },
                    "num_conversion_events": {
                      "title": "Number of conversion events",
                      "type": "string",
                      "description": "num_conversion_events"
                    },
                    "numberofemployees": {
                      "title": "Number of employees",
                      "type": "string",
                      "description": "numberofemployees"
                    },
                    "phone": {
                      "title": "Phone",
                      "type": "string",
                      "description": "phone"
                    },
                    "recent_conversion_date": {
                      "title": "Recent conversion date",
                      "type": "string",
                      "description": "recent_conversion_date"
                    },
                    "recent_conversion_event_name": {
                      "title": "Recent conversion event name",
                      "type": "string",
                      "description": "recent_conversion_event_name"
                    },
                    "recent_deal_amount": {
                      "title": "Recent deal amount",
                      "type": "string",
                      "description": "recent_deal_amount"
                    },
                    "recent_deal_close_date": {
                      "title": "Recent deal close date",
                      "type": "string",
                      "description": "recent_deal_close_date"
                    },
                    "state": {
                      "title": "State",
                      "type": "string",
                      "description": "state"
                    },
                    "timezone": {
                      "title": "Timezone",
                      "type": "string",
                      "description": "timezone"
                    },
                    "total_money_raised": {
                      "title": "Total money raised",
                      "type": "string",
                      "description": "total_money_raised"
                    },
                    "total_revenue": {
                      "title": "Total revenue",
                      "type": "string",
                      "description": "total_revenue"
                    },
                    "twitterbio": {
                      "title": "Twitter bio",
                      "type": "string",
                      "description": "twitterbio"
                    },
                    "twitterfollowers": {
                      "title": "Twitter followers",
                      "type": "string",
                      "description": "twitterfollowers"
                    },
                    "twitterhandle": {
                      "title": "Twitter handle",
                      "type": "string",
                      "description": "twitterhandle"
                    },
                    "type": {
                      "title": "Type",
                      "type": "string",
                      "description": "type"
                    },
                    "web_technologies": {
                      "title": "Web technologies",
                      "type": "string",
                      "description": "web_technologies"
                    },
                    "website": {
                      "title": "Website",
                      "type": "string",
                      "description": "website"
                    },
                    "zip": {
                      "title": "Zip code",
                      "type": "string",
                      "description": "zip"
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/crm/v3/objects/companies/{companyId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a company",
        "description": "Read a company identified by {companyId}.",
        "operationId": "CompaniesRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The companyId of the company",
            "x-ms-visibility": "important"
          },
          {
            "name": "properies",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to return only companies that have been archived.",
            "x-ms-visibility": "advanced"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a company",
        "description": "Move a company identified by {companyId} to the recycling bin.",
        "operationId": "CompaniesArchive",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The companyId of the company",
            "x-ms-visibility": "important"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a company",
        "description": "Perform a partial update of a company identified by {companyId}. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "CompaniesUpdate",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The companyId of the company.",
            "x-ms-visibility": "important"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "about_us": {
                      "title": "About us",
                      "type": "string",
                      "description": "about_us"
                    },
                    "address": {
                      "title": "Address",
                      "type": "string",
                      "description": "address"
                    },
                    "address2": {
                      "title": "Address 2",
                      "type": "string",
                      "description": "address2"
                    },
                    "annualrevenue": {
                      "title": "Annual revenue",
                      "type": "string",
                      "description": "annualrevenue"
                    },
                    "city": {
                      "title": "City",
                      "type": "string",
                      "description": "city"
                    },
                    "closedate": {
                      "title": "Close date",
                      "type": "string",
                      "description": "closedate"
                    },
                    "country": {
                      "title": "Country",
                      "type": "string",
                      "description": "country"
                    },
                    "createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "createdate"
                    },
                    "days_to_close": {
                      "title": "Days to close",
                      "type": "string",
                      "description": "days_to_close"
                    },
                    "description": {
                      "title": "Description",
                      "type": "string",
                      "description": "description"
                    },
                    "domain": {
                      "title": "Domain",
                      "type": "string",
                      "description": "domain"
                    },
                    "engagements_last_meeting_booked": {
                      "title": "Engagements last meeting booked",
                      "type": "string",
                      "description": "engagements_last_meeting_booked"
                    },
                    "engagements_last_meeting_booked_campaign": {
                      "title": "Engagements last meeting booked campaign",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_campaign"
                    },
                    "engagements_last_meeting_booked_medium": {
                      "title": "Engagements last meeting booked medium",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_medium"
                    },
                    "engagements_last_meeting_booked_source": {
                      "title": "Engagements last meeting booked source",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_source"
                    },
                    "facebook_company_page": {
                      "title": "Facebook company page",
                      "type": "string",
                      "description": "facebook_company_page"
                    },
                    "facebookfans": {
                      "title": "Facebook fans",
                      "type": "string",
                      "description": "facebookfans"
                    },
                    "first_contact_createdate": {
                      "title": "first contact create date",
                      "type": "string",
                      "description": "first_contact_createdate"
                    },
                    "first_conversion_date": {
                      "title": "First conversion date",
                      "type": "string",
                      "description": "first_conversion_date"
                    },
                    "first_conversion_event_name": {
                      "title": "First conversion event name",
                      "type": "string",
                      "description": "first_conversion_event_name"
                    },
                    "first_deal_created_date": {
                      "title": "First deal created date",
                      "type": "string",
                      "description": "first_deal_created_date"
                    },
                    "founded_year": {
                      "title": "Founded year",
                      "type": "string",
                      "description": "founded_year"
                    },
                    "googleplus_page": {
                      "title": "GooglePlus page",
                      "type": "string",
                      "description": "googleplus_page"
                    },
                    "hs_analytics_first_timestamp": {
                      "title": "HubSpot analytics first timestamp",
                      "type": "string",
                      "description": "hs_analytics_first_timestamp"
                    },
                    "hs_analytics_first_touch_converting_campaign": {
                      "title": "HubSpot analytics first touch converting campaign",
                      "type": "string",
                      "description": "hs_analytics_first_touch_converting_campaign"
                    },
                    "hs_analytics_first_visit_timestamp": {
                      "title": "HubSpot Analytics first visit timestamp",
                      "type": "string",
                      "description": "hs_analytics_first_visit_timestamp"
                    },
                    "hs_analytics_last_timestamp": {
                      "title": "HubSpot analytics last timestamp",
                      "type": "string",
                      "description": "hs_analytics_last_timestamp"
                    },
                    "hs_analytics_last_touch_converting_campaign": {
                      "title": "HubSpot analytics last touch converting campaign",
                      "type": "string",
                      "description": "hs_analytics_last_touch_converting_campaign"
                    },
                    "hs_analytics_last_visit_timestamp": {
                      "title": "HubSpot analytics last visit timestamp",
                      "type": "string",
                      "description": "hs_analytics_last_visit_timestamp"
                    },
                    "hs_analytics_num_page_views": {
                      "title": "HubSpot analytics number of page views",
                      "type": "string",
                      "description": "hs_analytics_num_page_views"
                    },
                    "hs_analytics_num_visits": {
                      "title": "HubSpot analytics number of visits",
                      "type": "string",
                      "description": "hs_analytics_num_visits"
                    },
                    "hs_analytics_source": {
                      "title": "HubSpot analytics source",
                      "type": "string",
                      "description": "hs_analytics_source"
                    },
                    "hs_analytics_source_data_1": {
                      "title": "HubSpot analytics source data 1",
                      "type": "string",
                      "description": "hs_analytics_source_data_1"
                    },
                    "hs_analytics_source_data_2": {
                      "title": "HubSpot analytics source data 2",
                      "type": "string",
                      "description": "hs_analytics_source_data_2"
                    },
                    "hs_createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "hs_createdate"
                    },
                    "hs_ideal_customer_profile": {
                      "title": "HubSpot ideal customer profile",
                      "type": "string",
                      "description": "hs_ideal_customer_profile"
                    },
                    "hs_is_target_account": {
                      "title": "HubSpot is target account",
                      "type": "string",
                      "description": "hs_is_target_account"
                    },
                    "hs_last_booked_meeting_date": {
                      "title": "HubSpot last booked meeting date",
                      "type": "string",
                      "description": "hs_last_booked_meeting_date"
                    },
                    "hs_last_logged_call_date": {
                      "title": "HubSpot last logged call date",
                      "type": "string",
                      "description": "hs_last_logged_call_date"
                    },
                    "hs_last_open_task_date": {
                      "title": "HubSpot last open task date",
                      "type": "string",
                      "description": "hs_last_open_task_date"
                    },
                    "hs_last_sales_activity_timestamp": {
                      "title": "HubSpot last sales activity timestamp",
                      "type": "string",
                      "description": "hs_last_sales_activity_timestamp"
                    },
                    "hs_lastmodifieddate": {
                      "title": "HubSpot last modified date",
                      "type": "string",
                      "description": "hs_lastmodifieddate"
                    },
                    "hs_lead_status": {
                      "title": "HubSpot lead status",
                      "type": "string",
                      "description": "hs_lead_status"
                    },
                    "hs_num_blockers": {
                      "title": "HubSpot number of blockers",
                      "type": "string",
                      "description": "hs_num_blockers"
                    },
                    "hs_num_child_companies": {
                      "title": "HubSpot number of child companies",
                      "type": "string",
                      "description": "hs_num_child_companies"
                    },
                    "hs_num_contacts_with_buying_roles": {
                      "title": "HubSpot number of contacts with buying roles",
                      "type": "string",
                      "description": "hs_num_contacts_with_buying_roles"
                    },
                    "hs_num_decision_makers": {
                      "title": "HubSpot number of decision makers",
                      "type": "string",
                      "description": "hs_num_decision_makers"
                    },
                    "hs_num_open_deals": {
                      "title": "HubSpot number of open deals",
                      "type": "string",
                      "description": "hs_num_open_deals"
                    },
                    "hs_object_id": {
                      "title": "HubSpot object ID",
                      "type": "string",
                      "description": "hs_object_id"
                    },
                    "hs_parent_company_id": {
                      "title": "HubSpot parent company ID",
                      "type": "string",
                      "description": "hs_parent_company_id"
                    },
                    "hs_predictivecontactscore_v2": {
                      "title": "HubSpot predictive contact score v2",
                      "type": "string",
                      "description": "hs_predictivecontactscore_v2"
                    },
                    "hs_total_deal_value": {
                      "title": "HubSpot total deal value",
                      "type": "string",
                      "description": "hs_total_deal_value"
                    },
                    "hubspot_owner_assigneddate": {
                      "title": "HubSpot owner assigned date",
                      "type": "string",
                      "description": "hubspot_owner_assigneddate"
                    },
                    "hubspot_owner_id": {
                      "title": "HubSpot owner ID",
                      "type": "string",
                      "description": "hubspot_owner_id"
                    },
                    "hubspot_team_id": {
                      "title": "HubSpot team ID",
                      "type": "string",
                      "description": "hubspot_team_id"
                    },
                    "industry": {
                      "title": "Industry",
                      "type": "string",
                      "description": "industry"
                    },
                    "is_public": {
                      "title": "Is public",
                      "type": "string",
                      "description": "is_public"
                    },
                    "lifecyclestage": {
                      "title": "Lifecycle stage",
                      "type": "string",
                      "description": "lifecyclestage"
                    },
                    "linkedin_company_page": {
                      "title": "LinkedIn company page",
                      "type": "string",
                      "description": "linkedin_company_page"
                    },
                    "linkedinbio": {
                      "title": "LinkedIn bio",
                      "type": "string",
                      "description": "linkedinbio"
                    },
                    "name": {
                      "title": "Name",
                      "type": "string",
                      "description": "name"
                    },
                    "notes_last_contacted": {
                      "title": "Notes last contacted",
                      "type": "string",
                      "description": "notes_last_contacted"
                    },
                    "notes_last_updated": {
                      "title": "Notes last updated",
                      "type": "string",
                      "description": "notes_last_updated"
                    },
                    "notes_next_activity_date": {
                      "title": "Notes next activity date",
                      "type": "string",
                      "description": "notes_next_activity_date"
                    },
                    "num_associated_contacts": {
                      "title": "Number of associated contacts",
                      "type": "string",
                      "description": "num_associated_contacts"
                    },
                    "num_associated_deals": {
                      "title": "Number of associated deals",
                      "type": "string",
                      "description": "num_associated_deals"
                    },
                    "num_contacted_notes": {
                      "title": "Number of contacted notes",
                      "type": "string",
                      "description": "num_contacted_notes"
                    },
                    "num_conversion_events": {
                      "title": "Number of conversion events",
                      "type": "string",
                      "description": "num_conversion_events"
                    },
                    "numberofemployees": {
                      "title": "Number of employees",
                      "type": "string",
                      "description": "numberofemployees"
                    },
                    "phone": {
                      "title": "Phone",
                      "type": "string",
                      "description": "phone"
                    },
                    "recent_conversion_date": {
                      "title": "Recent conversion date",
                      "type": "string",
                      "description": "recent_conversion_date"
                    },
                    "recent_conversion_event_name": {
                      "title": "Recent conversion event name",
                      "type": "string",
                      "description": "recent_conversion_event_name"
                    },
                    "recent_deal_amount": {
                      "title": "Recent deal amount",
                      "type": "string",
                      "description": "recent_deal_amount"
                    },
                    "recent_deal_close_date": {
                      "title": "Recent deal close date",
                      "type": "string",
                      "description": "recent_deal_close_date"
                    },
                    "state": {
                      "title": "State",
                      "type": "string",
                      "description": "state"
                    },
                    "timezone": {
                      "title": "Timezone",
                      "type": "string",
                      "description": "timezone"
                    },
                    "total_money_raised": {
                      "title": "Total money raised",
                      "type": "string",
                      "description": "total_money_raised"
                    },
                    "total_revenue": {
                      "title": "Total revenue",
                      "type": "string",
                      "description": "total_revenue"
                    },
                    "twitterbio": {
                      "title": "Twitter bio",
                      "type": "string",
                      "description": "twitterbio"
                    },
                    "twitterfollowers": {
                      "title": "Twitter followers",
                      "type": "string",
                      "description": "twitterfollowers"
                    },
                    "twitterhandle": {
                      "title": "Twitter handle",
                      "type": "string",
                      "description": "twitterhandle"
                    },
                    "type": {
                      "title": "Type",
                      "type": "string",
                      "description": "type"
                    },
                    "web_technologies": {
                      "title": "Web technologies",
                      "type": "string",
                      "description": "web_technologies"
                    },
                    "website": {
                      "title": "Website",
                      "type": "string",
                      "description": "website"
                    },
                    "zip": {
                      "title": "Zip code",
                      "type": "string",
                      "description": "zip"
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              }
            }
          }
        ]
      }
    },
    "/crm/v3/objects/contacts": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "List contacts",
        "description": "Read a list of contacts.",
        "operationId": "ContactsList",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 10,
            "x-ms-visibility": "important",
            "description": "The maximum number of results to return"
          },
          {
            "name": "properties[]",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "x-ms-visibility": "advanced"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a contact",
        "description": "Create a contact with the given properties and return a copy of the object, including the ID.",
        "operationId": "ContactsCreate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "title": "Address",
                      "type": "string",
                      "description": "address"
                    },
                    "annualrevenue": {
                      "title": "Annual revenue",
                      "type": "string",
                      "description": "annualrevenue"
                    },
                    "city": {
                      "title": "City",
                      "type": "string",
                      "description": "city"
                    },
                    "closedate": {
                      "title": "Close date",
                      "type": "string",
                      "description": "closedate"
                    },
                    "company": {
                      "title": "Company",
                      "type": "string",
                      "description": "company"
                    },
                    "company_size": {
                      "title": "Company size",
                      "type": "string",
                      "description": "company_size"
                    },
                    "country": {
                      "title": "Country",
                      "type": "string",
                      "description": "country"
                    },
                    "createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "createdate"
                    },
                    "currentlyinworkflow": {
                      "title": "Currenly in workflow",
                      "type": "string",
                      "description": "currentlyinworkflow"
                    },
                    "date_of_birth": {
                      "title": "Date of birth",
                      "type": "string",
                      "description": "date_of_birth"
                    },
                    "days_to_close": {
                      "title": "Days to close",
                      "type": "string",
                      "description": "days_to_close"
                    },
                    "degree": {
                      "title": "Degree",
                      "type": "string",
                      "description": "degree"
                    },
                    "email": {
                      "title": "Email",
                      "type": "string",
                      "description": "email"
                    },
                    "engagements_last_meeting_booked": {
                      "title": "Engagements last meeting booked",
                      "type": "string",
                      "description": "engagements_last_meeting_booked"
                    },
                    "engagements_last_meeting_booked_campaign": {
                      "title": "Engagements last meeting booked campaign",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_campaign"
                    },
                    "engagements_last_meeting_booked_medium": {
                      "title": "Engagements last meeting booked medium",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_medium"
                    },
                    "engagements_last_meeting_booked_source": {
                      "title": "Engagements last meeting booked source",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_source"
                    },
                    "fax": {
                      "title": "Fax",
                      "type": "string",
                      "description": "fax"
                    },
                    "field_of_study": {
                      "title": "Field of study",
                      "type": "string",
                      "description": "field_of_study"
                    },
                    "first_conversion_date": {
                      "title": "First conversion date",
                      "type": "string",
                      "description": "first_conversion_date"
                    },
                    "first_conversion_event_name": {
                      "title": "First conversion event name",
                      "type": "string",
                      "description": "first_conversion_event_name"
                    },
                    "first_deal_created_date": {
                      "title": "First deal created date",
                      "type": "string",
                      "description": "first_deal_created_date"
                    },
                    "firstname": {
                      "title": "First name",
                      "type": "string",
                      "description": "firstname"
                    },
                    "gender": {
                      "title": "Gender",
                      "type": "string",
                      "description": "gender"
                    },
                    "graduation_date": {
                      "title": "Graduation date",
                      "type": "string",
                      "description": "graduation_date"
                    },
                    "hs_analytics_average_page_views": {
                      "title": "HubSpot analytics average page views",
                      "type": "string",
                      "description": "hs_analytics_average_page_views"
                    },
                    "hs_analytics_first_referrer": {
                      "title": "HubSpot analytics first referrer",
                      "type": "string",
                      "description": "hs_analytics_first_referrer"
                    },
                    "hs_analytics_first_timestamp": {
                      "title": "HubSpot analytics first timestamp",
                      "type": "string",
                      "description": "hs_analytics_first_timestamp"
                    },
                    "hs_analytics_first_touch_converting_campaign": {
                      "title": "HubSpot analytics first touch converting campaign",
                      "type": "string",
                      "description": "hs_analytics_first_touch_converting_campaign"
                    },
                    "hs_analytics_first_url": {
                      "title": "HubSpot analytics first URL",
                      "type": "string",
                      "description": "hs_analytics_first_url"
                    },
                    "hs_analytics_first_visit_timestamp": {
                      "title": "HubSpot Analytics first visit timestamp",
                      "type": "string",
                      "description": "hs_analytics_first_visit_timestamp"
                    },
                    "hs_analytics_last_referrer": {
                      "title": "HubSpot analytics last referrer",
                      "type": "string",
                      "description": "hs_analytics_last_referrer"
                    },
                    "hs_analytics_last_timestamp": {
                      "title": "HubSpot analytics last timestamp",
                      "type": "string",
                      "description": "hs_analytics_last_timestamp"
                    },
                    "hs_analytics_last_touch_converting_campaign": {
                      "title": "HubSpot analytics last touch converting campaign",
                      "type": "string",
                      "description": "hs_analytics_last_touch_converting_campaign"
                    },
                    "hs_analytics_last_url": {
                      "title": "HubSpot analytics last URL",
                      "type": "string",
                      "description": "hs_analytics_last_url"
                    },
                    "hs_analytics_last_visit_timestamp": {
                      "title": "HubSpot analytics last visit timestamp",
                      "type": "string",
                      "description": "hs_analytics_last_visit_timestamp"
                    },
                    "hs_analytics_num_event_completions": {
                      "title": "HubSpot analytics number of event completions",
                      "type": "string",
                      "description": "hs_analytics_num_event_completions"
                    },
                    "hs_analytics_num_page_views": {
                      "title": "HubSpot analytics number of page views",
                      "type": "string",
                      "description": "hs_analytics_num_page_views"
                    },
                    "hs_analytics_num_visits": {
                      "title": "HubSpot analytics number of visits",
                      "type": "string",
                      "description": "hs_analytics_num_visits"
                    },
                    "hs_analytics_revenue": {
                      "title": "HubSpot analytics revenue",
                      "type": "string",
                      "description": "hs_analytics_revenue"
                    },
                    "hs_analytics_source": {
                      "title": "HubSpot analytics source",
                      "type": "string",
                      "description": "hs_analytics_source"
                    },
                    "hs_analytics_source_data_1": {
                      "title": "HubSpot analytics source data 1",
                      "type": "string",
                      "description": "hs_analytics_source_data_1"
                    },
                    "hs_analytics_source_data_2": {
                      "title": "HubSpot analytics source data 2",
                      "type": "string",
                      "description": "hs_analytics_source_data_2"
                    },
                    "hs_buying_role": {
                      "title": "HubSpot buying role",
                      "type": "string",
                      "description": "hs_buying_role"
                    },
                    "hs_content_membership_email_confirmed": {
                      "title": "HubSpot content membership email confirmed",
                      "type": "string",
                      "description": "hs_content_membership_email_confirmed"
                    },
                    "hs_content_membership_notes": {
                      "title": "HubSpot content membership notes",
                      "type": "string",
                      "description": "hs_content_membership_notes"
                    },
                    "hs_content_membership_registered_at": {
                      "title": "HubSpot content membership registered at",
                      "type": "string",
                      "description": "hs_content_membership_registered_at"
                    },
                    "hs_content_membership_registration_domain_sent_to": {
                      "title": "HubSpot content membership registration domain sent to",
                      "type": "string",
                      "description": "hs_content_membership_registration_domain_sent_to"
                    },
                    "hs_content_membership_registration_email_sent_at": {
                      "title": "HubSpot content membership registration email sent at",
                      "type": "string",
                      "description": "hs_content_membership_registration_email_sent_at"
                    },
                    "hs_content_membership_status": {
                      "title": "HubSpot content membership status",
                      "type": "string",
                      "description": "hs_content_membership_status"
                    },
                    "hs_createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "hs_createdate"
                    },
                    "hs_email_bad_address": {
                      "title": "HubSpot email bad address",
                      "type": "string",
                      "description": "hs_email_bad_address"
                    },
                    "hs_email_bounce": {
                      "title": "HubSpot email bounce",
                      "type": "string",
                      "description": "hs_email_bounce"
                    },
                    "hs_email_click": {
                      "title": "HubSpot email click",
                      "type": "string",
                      "description": "hs_email_click"
                    },
                    "hs_email_customer_quarantined_reason": {
                      "title": "HubSpot email customer quarnatined reason",
                      "type": "string",
                      "description": "hs_email_customer_quarantined_reason"
                    },
                    "hs_email_delivered": {
                      "title": "HubSpot email delivered",
                      "type": "string",
                      "description": "hs_email_delivered"
                    },
                    "hs_email_domain": {
                      "title": "Domain",
                      "type": "string",
                      "description": "hs_email_domain"
                    },
                    "hs_email_first_click_date": {
                      "title": "HubSpot email first click date",
                      "type": "string",
                      "description": "hs_email_first_click_date"
                    },
                    "hs_email_first_open_date": {
                      "title": "HubSpot email first open date",
                      "type": "string",
                      "description": "hs_email_first_open_date"
                    },
                    "hs_email_first_reply_date": {
                      "title": "HubSpot email first reply date",
                      "type": "string",
                      "description": "hs_email_first_reply_date"
                    },
                    "hs_email_first_send_date": {
                      "title": "HubSpot email first send date",
                      "type": "string",
                      "description": "hs_email_first_send_date"
                    },
                    "hs_email_hard_bounce_reason_enum": {
                      "title": "HubSpot email hard bounce reason enumerated",
                      "type": "string",
                      "description": "hs_email_hard_bounce_reason_enum"
                    },
                    "hs_email_last_click_date": {
                      "title": "HubSpot email last click date",
                      "type": "string",
                      "description": "hs_email_last_click_date"
                    },
                    "hs_email_last_email_name": {
                      "title": "HubSpot email last email name",
                      "type": "string",
                      "description": "hs_email_last_email_name"
                    },
                    "hs_email_last_open_date": {
                      "title": "HubSpot email last open date",
                      "type": "string",
                      "description": "hs_email_last_open_date"
                    },
                    "hs_email_last_reply_date": {
                      "title": "HubSpot email last reply date",
                      "type": "string",
                      "description": "hs_email_last_reply_date"
                    },
                    "hs_email_last_send_date": {
                      "title": "HubSpot email last send date",
                      "type": "string",
                      "description": "hs_email_last_send_date"
                    },
                    "hs_email_open": {
                      "title": "HubSpot email open",
                      "type": "string",
                      "description": "hs_email_open"
                    },
                    "hs_email_optout": {
                      "title": "HubSpot email optout",
                      "type": "string",
                      "description": "hs_email_optout"
                    },
                    "hs_email_optout_12592317": {
                      "title": "HubSpot email optout 12592317",
                      "type": "string",
                      "description": "hs_email_optout_12592317"
                    },
                    "hs_email_quarantined": {
                      "title": "HubSpot email quarantied",
                      "type": "string",
                      "description": "hs_email_quarantined"
                    },
                    "hs_email_quarantined_reason": {
                      "title": "HubSpot email quarantied reason",
                      "type": "string",
                      "description": "hs_email_quarantined_reason"
                    },
                    "hs_email_replied": {
                      "title": "HubSpot email replied",
                      "type": "string",
                      "description": "hs_email_replied"
                    },
                    "hs_email_sends_since_last_engagement": {
                      "title": "HubSpot email sends since last engagement",
                      "type": "string",
                      "description": "hs_email_sends_since_last_engagement"
                    },
                    "hs_emailconfirmationstatus": {
                      "title": "HubSpot email confirmation  status",
                      "type": "string",
                      "description": "hs_emailconfirmationstatus"
                    },
                    "hs_facebook_click_id": {
                      "title": "HubSpot Facebook click ID",
                      "type": "string",
                      "description": "hs_facebook_click_id"
                    },
                    "hs_feedback_last_nps_follow_up": {
                      "title": "HubSpot feecback last NPS follow up",
                      "type": "string",
                      "description": "hs_feedback_last_nps_follow_up"
                    },
                    "hs_feedback_last_nps_rating": {
                      "title": "HubSpot feedback last NPS rating",
                      "type": "string",
                      "description": "hs_feedback_last_nps_rating"
                    },
                    "hs_feedback_last_survey_date": {
                      "title": "HubSpot feedback last survey date",
                      "type": "string",
                      "description": "hs_feedback_last_survey_date"
                    },
                    "hs_google_click_id": {
                      "title": "HubSpot Google click ID",
                      "type": "string",
                      "description": "hs_google_click_id"
                    },
                    "hs_ip_timezone": {
                      "title": "HubSpot IP timezone",
                      "type": "string",
                      "description": "hs_ip_timezone"
                    },
                    "hs_is_unworked": {
                      "title": "HubSpot is unworked",
                      "type": "string",
                      "description": "hs_is_unworked"
                    },
                    "hs_language": {
                      "title": "HubSpot language",
                      "type": "string",
                      "description": "hs_language"
                    },
                    "hs_last_sales_activity_timestamp": {
                      "title": "HubSpot last sales activity timestamp",
                      "type": "string",
                      "description": "hs_last_sales_activity_timestamp"
                    },
                    "hs_lead_status": {
                      "title": "HubSpot lead status",
                      "type": "string",
                      "description": "hs_lead_status"
                    },
                    "hs_legal_basis": {
                      "title": "HubSpot legal basis",
                      "type": "string",
                      "description": "hs_legal_basis"
                    },
                    "hs_lifecyclestage_customer_date": {
                      "title": "HubSpot lifecycle stage customer date",
                      "type": "string",
                      "description": "hs_lifecyclestage_customer_date"
                    },
                    "hs_lifecyclestage_evangelist_date": {
                      "title": "HubSpot lifecycle stage evangelist date",
                      "type": "string",
                      "description": "hs_lifecyclestage_evangelist_date"
                    },
                    "hs_lifecyclestage_lead_date": {
                      "title": "HubSpot lifecycle stage lead date",
                      "type": "string",
                      "description": "hs_lifecyclestage_lead_date"
                    },
                    "hs_lifecyclestage_marketingqualifiedlead_date": {
                      "title": "HubSpot lifecycle stage marketing qualitifed lead date",
                      "type": "string",
                      "description": "hs_lifecyclestage_marketingqualifiedlead_date"
                    },
                    "hs_lifecyclestage_opportunity_date": {
                      "title": "HubSpot lifecycle stage opportunity date",
                      "type": "string",
                      "description": "hs_lifecyclestage_opportunity_date"
                    },
                    "hs_lifecyclestage_other_date": {
                      "title": "HubSpot lifecycle stage other date",
                      "type": "string",
                      "description": "hs_lifecyclestage_other_date"
                    },
                    "hs_lifecyclestage_salesqualifiedlead_date": {
                      "title": "HubSpot lifecycle stage sales qualified lead date",
                      "type": "string",
                      "description": "hs_lifecyclestage_salesqualifiedlead_date"
                    },
                    "hs_lifecyclestage_subscriber_date": {
                      "title": "HubSpot lifecycle stage subscriber date",
                      "type": "string",
                      "description": "hs_lifecyclestage_subscriber_date"
                    },
                    "hs_marketable_reason_id": {
                      "title": "HubSpot marketable reason ID",
                      "type": "string",
                      "description": "hs_marketable_reason_id"
                    },
                    "hs_marketable_reason_type": {
                      "title": "HubSpot marketable reason type",
                      "type": "string",
                      "description": "hs_marketable_reason_type"
                    },
                    "hs_marketable_status": {
                      "title": "HubSpot marketable status",
                      "type": "string",
                      "description": "hs_marketable_status"
                    },
                    "hs_marketable_until_renewal": {
                      "title": "HubSpot marketable until renewal",
                      "type": "string",
                      "description": "hs_marketable_until_renewal"
                    },
                    "hs_object_id": {
                      "title": "HubSpot object ID",
                      "type": "string",
                      "description": "hs_object_id"
                    },
                    "hs_persona": {
                      "title": "HubSpot persona",
                      "type": "string",
                      "description": "hs_persona"
                    },
                    "hs_predictivecontactscore": {
                      "title": "HubSpot predictive contact score",
                      "type": "string",
                      "description": "hs_predictivecontactscore"
                    },
                    "hs_predictivecontactscore_v2": {
                      "title": "HubSpot predictive contact score v2",
                      "type": "string",
                      "description": "hs_predictivecontactscore_v2"
                    },
                    "hs_predictivecontactscorebucket": {
                      "title": "HubSpot predictive contact score bucket",
                      "type": "string",
                      "description": "hs_predictivecontactscorebucket"
                    },
                    "hs_predictivescoringtier": {
                      "title": "HubSpot predictive scoring tier",
                      "type": "string",
                      "description": "hs_predictivescoringtier"
                    },
                    "hs_sales_email_last_clicked": {
                      "title": "HubSpot sales email last clicked",
                      "type": "string",
                      "description": "hs_sales_email_last_clicked"
                    },
                    "hs_sales_email_last_opened": {
                      "title": "HubSpot sales email last opened",
                      "type": "string",
                      "description": "hs_sales_email_last_opened"
                    },
                    "hs_sales_email_last_replied": {
                      "title": "HubSpot sales email last replied",
                      "type": "string",
                      "description": "hs_sales_email_last_replied"
                    },
                    "hs_sequences_is_enrolled": {
                      "title": "HubSpot sequences is enrolled",
                      "type": "string",
                      "description": "hs_sequences_is_enrolled"
                    },
                    "hs_time_between_contact_creation_and_deal_close": {
                      "title": "HubSpot time between contact creation and deal close",
                      "type": "string",
                      "description": "hs_time_between_contact_creation_and_deal_close"
                    },
                    "hs_time_between_contact_creation_and_deal_creation": {
                      "title": "HubSpot time between contact creation and deal creation",
                      "type": "string",
                      "description": "hs_time_between_contact_creation_and_deal_creation"
                    },
                    "hs_time_to_move_from_lead_to_customer": {
                      "title": "HubSpot time to move from lead to customer",
                      "type": "string",
                      "description": "hs_time_to_move_from_lead_to_customer"
                    },
                    "hs_time_to_move_from_marketingqualifiedlead_to_customer": {
                      "title": "HubSpot time to move from marketing qualitfied lead to customer",
                      "type": "string",
                      "description": "hs_time_to_move_from_marketingqualifiedlead_to_customer"
                    },
                    "hs_time_to_move_from_opportunity_to_customer": {
                      "title": "HubSpot time to move from opportunity to customer",
                      "type": "string",
                      "description": "hs_time_to_move_from_opportunity_to_customer"
                    },
                    "hs_time_to_move_from_salesqualifiedlead_to_customer": {
                      "title": "HubSpot time to move from sales qualified lead to customer",
                      "type": "string",
                      "description": "hs_time_to_move_from_salesqualifiedlead_to_customer"
                    },
                    "hs_time_to_move_from_subscriber_to_customer": {
                      "title": "HubSpot time to move from subscriber to customer",
                      "type": "string",
                      "description": "hs_time_to_move_from_subscriber_to_customer"
                    },
                    "hubspot_owner_assigneddate": {
                      "title": "HubSpot owner assigned date",
                      "type": "string",
                      "description": "hubspot_owner_assigneddate"
                    },
                    "hubspot_owner_id": {
                      "title": "HubSpot owner ID",
                      "type": "string",
                      "description": "hubspot_owner_id"
                    },
                    "hubspot_team_id": {
                      "title": "HubSpot team ID",
                      "type": "string",
                      "description": "hubspot_team_id"
                    },
                    "hubspotscore": {
                      "title": "HubSpot score",
                      "type": "string",
                      "description": "hubspotscore"
                    },
                    "industry": {
                      "title": "Industry",
                      "type": "string",
                      "description": "industry"
                    },
                    "ip_city": {
                      "title": "IP city",
                      "type": "string",
                      "description": "ip_city"
                    },
                    "ip_country": {
                      "title": "IP country",
                      "type": "string",
                      "description": "ip_country"
                    },
                    "ip_country_code": {
                      "title": "IP country code",
                      "type": "string",
                      "description": "ip_country_code"
                    },
                    "ip_state": {
                      "title": "IP state",
                      "type": "string",
                      "description": "ip_state"
                    },
                    "ip_state_code": {
                      "title": "IP state code",
                      "type": "string",
                      "description": "ip_state_code"
                    },
                    "job_function": {
                      "title": "Job function",
                      "type": "string",
                      "description": "job_function"
                    },
                    "jobtitle": {
                      "title": "Job title",
                      "type": "string",
                      "description": "jobtitle"
                    },
                    "lastmodifieddate": {
                      "title": "Last modified date",
                      "type": "string",
                      "description": "lastmodifieddate"
                    },
                    "lastname": {
                      "title": "Last name",
                      "type": "string",
                      "description": "lastname"
                    },
                    "lifecyclestage": {
                      "title": "Lifecycle stage",
                      "type": "string",
                      "description": "lifecyclestage"
                    },
                    "marital_status": {
                      "title": "Marital status",
                      "type": "string",
                      "description": "marital_status"
                    },
                    "message": {
                      "title": "Message",
                      "type": "string",
                      "description": "message"
                    },
                    "military_status": {
                      "title": "Military statusMilitary status",
                      "type": "string",
                      "description": "military_status"
                    },
                    "mobilephone": {
                      "title": "Mobile phone",
                      "type": "string",
                      "description": "mobilephone"
                    },
                    "notes_last_contacted": {
                      "title": "Notes last contacted",
                      "type": "string",
                      "description": "notes_last_contacted"
                    },
                    "notes_last_updated": {
                      "title": "Notes last updated",
                      "type": "string",
                      "description": "notes_last_updated"
                    },
                    "notes_next_activity_date": {
                      "title": "Notes next activity date",
                      "type": "string",
                      "description": "notes_next_activity_date"
                    },
                    "num_associated_deals": {
                      "title": "Number of associated deals",
                      "type": "string",
                      "description": "num_associated_deals"
                    },
                    "num_contacted_notes": {
                      "title": "Number of contacted notes",
                      "type": "string",
                      "description": "num_contacted_notes"
                    },
                    "num_conversion_events": {
                      "title": "Number of conversion events",
                      "type": "string",
                      "description": "num_conversion_events"
                    },
                    "num_notes": {
                      "title": "Number of notes",
                      "type": "string",
                      "description": "num_notes"
                    },
                    "num_unique_conversion_events": {
                      "title": "Number of unique conversion events",
                      "type": "string",
                      "description": "num_unique_conversion_events"
                    },
                    "numemployees": {
                      "title": "Number of employees",
                      "type": "string",
                      "description": "numemployees"
                    },
                    "phone": {
                      "title": "Phone",
                      "type": "string",
                      "description": "phone"
                    },
                    "recent_conversion_date": {
                      "title": "Recent conversion date",
                      "type": "string",
                      "description": "recent_conversion_date"
                    },
                    "recent_conversion_event_name": {
                      "title": "Recent conversion event name",
                      "type": "string",
                      "description": "recent_conversion_event_name"
                    },
                    "recent_deal_amount": {
                      "title": "Recent deal amount",
                      "type": "string",
                      "description": "recent_deal_amount"
                    },
                    "recent_deal_close_date": {
                      "title": "Recent deal close date",
                      "type": "string",
                      "description": "recent_deal_close_date"
                    },
                    "relationship_status": {
                      "title": "Relations status",
                      "type": "string",
                      "description": "relationship_status"
                    },
                    "salutation": {
                      "title": "Salutation",
                      "type": "string",
                      "description": "salutation"
                    },
                    "school": {
                      "title": "School",
                      "type": "string",
                      "description": "school"
                    },
                    "seniority": {
                      "title": "Seniority",
                      "type": "string",
                      "description": "seniority"
                    },
                    "start_date": {
                      "title": "Start date",
                      "type": "string",
                      "description": "start_date"
                    },
                    "state": {
                      "title": "State",
                      "type": "string",
                      "description": "state"
                    },
                    "total_revenue": {
                      "title": "Total revenue",
                      "type": "string",
                      "description": "total_revenue"
                    },
                    "twitterhandle": {
                      "title": "Twitter handle",
                      "type": "string",
                      "description": "twitterhandle"
                    },
                    "website": {
                      "title": "Website",
                      "type": "string",
                      "description": "website"
                    },
                    "work_email": {
                      "title": "Work email",
                      "type": "string",
                      "description": "work_email"
                    },
                    "zip": {
                      "title": "Zip code",
                      "type": "string",
                      "description": "zip"
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/{contactId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a contact",
        "description": "Read a contact identified by {contactId}.",
        "operationId": "ContactsRead",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The contactId for the contact"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a contact",
        "description": "Move a contact identified by {contactId} to the recycling bin.",
        "operationId": "ContactsArchive",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The contactId of the contact",
            "x-ms-visibility": "important"
          }
        ]
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a contact",
        "description": "Perform a partial update of a contact identified by {contactId}. Provided property values will be overwritten. Read-only and non-existent properties will be ignored. Properties values can be cleared by passing an empty string.",
        "operationId": "ContactsUpdate",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The contactId of the contact",
            "x-ms-visibility": "important"
          },
          {
            "name": "content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "properties": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "title": "Address",
                      "type": "string",
                      "description": "address"
                    },
                    "annualrevenue": {
                      "title": "Annual revenue",
                      "type": "string",
                      "description": "annualrevenue"
                    },
                    "city": {
                      "title": "City",
                      "type": "string",
                      "description": "city"
                    },
                    "closedate": {
                      "title": "Close date",
                      "type": "string",
                      "description": "closedate"
                    },
                    "company": {
                      "title": "Company",
                      "type": "string",
                      "description": "company"
                    },
                    "company_size": {
                      "title": "Company size",
                      "type": "string",
                      "description": "company_size"
                    },
                    "country": {
                      "title": "Country",
                      "type": "string",
                      "description": "country"
                    },
                    "createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "createdate"
                    },
                    "currentlyinworkflow": {
                      "title": "Currenly in workflow",
                      "type": "string",
                      "description": "currentlyinworkflow"
                    },
                    "date_of_birth": {
                      "title": "Date of birth",
                      "type": "string",
                      "description": "date_of_birth"
                    },
                    "days_to_close": {
                      "title": "Days to close",
                      "type": "string",
                      "description": "days_to_close"
                    },
                    "degree": {
                      "title": "Degree",
                      "type": "string",
                      "description": "degree"
                    },
                    "email": {
                      "title": "Email",
                      "type": "string",
                      "description": "email"
                    },
                    "engagements_last_meeting_booked": {
                      "title": "Engagements last meeting booked",
                      "type": "string",
                      "description": "engagements_last_meeting_booked"
                    },
                    "engagements_last_meeting_booked_campaign": {
                      "title": "Engagements last meeting booked campaign",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_campaign"
                    },
                    "engagements_last_meeting_booked_medium": {
                      "title": "Engagements last meeting booked medium",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_medium"
                    },
                    "engagements_last_meeting_booked_source": {
                      "title": "Engagements last meeting booked source",
                      "type": "string",
                      "description": "engagements_last_meeting_booked_source"
                    },
                    "fax": {
                      "title": "Fax",
                      "type": "string",
                      "description": "fax"
                    },
                    "field_of_study": {
                      "title": "Field of study",
                      "type": "string",
                      "description": "field_of_study"
                    },
                    "first_conversion_date": {
                      "title": "First conversion date",
                      "type": "string",
                      "description": "first_conversion_date"
                    },
                    "first_conversion_event_name": {
                      "title": "First conversion event name",
                      "type": "string",
                      "description": "first_conversion_event_name"
                    },
                    "first_deal_created_date": {
                      "title": "First deal created date",
                      "type": "string",
                      "description": "first_deal_created_date"
                    },
                    "firstname": {
                      "title": "First name",
                      "type": "string",
                      "description": "firstname"
                    },
                    "gender": {
                      "title": "Gender",
                      "type": "string",
                      "description": "gender"
                    },
                    "graduation_date": {
                      "title": "Graduation date",
                      "type": "string",
                      "description": "graduation_date"
                    },
                    "hs_analytics_average_page_views": {
                      "title": "HubSpot analytics average page views",
                      "type": "string",
                      "description": "hs_analytics_average_page_views"
                    },
                    "hs_analytics_first_referrer": {
                      "title": "HubSpot analytics first referrer",
                      "type": "string",
                      "description": "hs_analytics_first_referrer"
                    },
                    "hs_analytics_first_timestamp": {
                      "title": "HubSpot analytics first timestamp",
                      "type": "string",
                      "description": "hs_analytics_first_timestamp"
                    },
                    "hs_analytics_first_touch_converting_campaign": {
                      "title": "HubSpot analytics first touch converting campaign",
                      "type": "string",
                      "description": "hs_analytics_first_touch_converting_campaign"
                    },
                    "hs_analytics_first_url": {
                      "title": "HubSpot analytics first URL",
                      "type": "string",
                      "description": "hs_analytics_first_url"
                    },
                    "hs_analytics_first_visit_timestamp": {
                      "title": "HubSpot Analytics first visit timestamp",
                      "type": "string",
                      "description": "hs_analytics_first_visit_timestamp"
                    },
                    "hs_analytics_last_referrer": {
                      "title": "HubSpot analytics last referrer",
                      "type": "string",
                      "description": "hs_analytics_last_referrer"
                    },
                    "hs_analytics_last_timestamp": {
                      "title": "HubSpot analytics last timestamp",
                      "type": "string",
                      "description": "hs_analytics_last_timestamp"
                    },
                    "hs_analytics_last_touch_converting_campaign": {
                      "title": "HubSpot analytics last touch converting campaign",
                      "type": "string",
                      "description": "hs_analytics_last_touch_converting_campaign"
                    },
                    "hs_analytics_last_url": {
                      "title": "HubSpot analytics last URL",
                      "type": "string",
                      "description": "hs_analytics_last_url"
                    },
                    "hs_analytics_last_visit_timestamp": {
                      "title": "HubSpot analytics last visit timestamp",
                      "type": "string",
                      "description": "hs_analytics_last_visit_timestamp"
                    },
                    "hs_analytics_num_event_completions": {
                      "title": "HubSpot analytics number of event completions",
                      "type": "string",
                      "description": "hs_analytics_num_event_completions"
                    },
                    "hs_analytics_num_page_views": {
                      "title": "HubSpot analytics number of page views",
                      "type": "string",
                      "description": "hs_analytics_num_page_views"
                    },
                    "hs_analytics_num_visits": {
                      "title": "HubSpot analytics number of visits",
                      "type": "string",
                      "description": "hs_analytics_num_visits"
                    },
                    "hs_analytics_revenue": {
                      "title": "HubSpot analytics revenue",
                      "type": "string",
                      "description": "hs_analytics_revenue"
                    },
                    "hs_analytics_source": {
                      "title": "HubSpot analytics source",
                      "type": "string",
                      "description": "hs_analytics_source"
                    },
                    "hs_analytics_source_data_1": {
                      "title": "HubSpot analytics source data 1",
                      "type": "string",
                      "description": "hs_analytics_source_data_1"
                    },
                    "hs_analytics_source_data_2": {
                      "title": "HubSpot analytics source data 2",
                      "type": "string",
                      "description": "hs_analytics_source_data_2"
                    },
                    "hs_buying_role": {
                      "title": "HubSpot buying role",
                      "type": "string",
                      "description": "hs_buying_role"
                    },
                    "hs_content_membership_email_confirmed": {
                      "title": "HubSpot content membership email confirmed",
                      "type": "string",
                      "description": "hs_content_membership_email_confirmed"
                    },
                    "hs_content_membership_notes": {
                      "title": "HubSpot content membership notes",
                      "type": "string",
                      "description": "hs_content_membership_notes"
                    },
                    "hs_content_membership_registered_at": {
                      "title": "HubSpot content membership registered at",
                      "type": "string",
                      "description": "hs_content_membership_registered_at"
                    },
                    "hs_content_membership_registration_domain_sent_to": {
                      "title": "HubSpot content membership registration domain sent to",
                      "type": "string",
                      "description": "hs_content_membership_registration_domain_sent_to"
                    },
                    "hs_content_membership_registration_email_sent_at": {
                      "title": "HubSpot content membership registration email sent at",
                      "type": "string",
                      "description": "hs_content_membership_registration_email_sent_at"
                    },
                    "hs_content_membership_status": {
                      "title": "HubSpot content membership status",
                      "type": "string",
                      "description": "hs_content_membership_status"
                    },
                    "hs_createdate": {
                      "title": "Create date",
                      "type": "string",
                      "description": "hs_createdate"
                    },
                    "hs_email_bad_address": {
                      "title": "HubSpot email bad address",
                      "type": "string",
                      "description": "hs_email_bad_address"
                    },
                    "hs_email_bounce": {
                      "title": "HubSpot email bounce",
                      "type": "string",
                      "description": "hs_email_bounce"
                    },
                    "hs_email_click": {
                      "title": "HubSpot email click",
                      "type": "string",
                      "description": "hs_email_click"
                    },
                    "hs_email_customer_quarantined_reason": {
                      "title": "HubSpot email customer quarnatined reason",
                      "type": "string",
                      "description": "hs_email_customer_quarantined_reason"
                    },
                    "hs_email_delivered": {
                      "title": "HubSpot email delivered",
                      "type": "string",
                      "description": "hs_email_delivered"
                    },
                    "hs_email_domain": {
                      "title": "Domain",
                      "type": "string",
                      "description": "hs_email_domain"
                    },
                    "hs_email_first_click_date": {
                      "title": "HubSpot email first click date",
                      "type": "string",
                      "description": "hs_email_first_click_date"
                    },
                    "hs_email_first_open_date": {
                      "title": "HubSpot email first open date",
                      "type": "string",
                      "description": "hs_email_first_open_date"
                    },
                    "hs_email_first_reply_date": {
[...]
