{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "OS Places",
    "description": "The OS Places API provides a detailed view of an address and its life cycle. It contains all the records of AddressBase\u00ae Premium and so provides all the information relating to an address or property from creation to retirement. It contains local authority, Ordnance Survey and Royal Mail\u00ae addresses, current addresses, and alternatives for current addresses, provisional addresses (such as planning developments) and historic information.",
    "contact": {
      "name": "Ordnance Survey",
      "url": "https://www.ordnancesurvey.co.uk/business-government",
      "email": "technicalservices@os.uk"
    }
  },
  "host": "api.ordnancesurvey.co.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/places/v1/addresses/find": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    },
                    "query": {
                      "type": "string",
                      "description": "query"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "offset"
                    },
                    "totalresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalresults"
                    },
                    "format": {
                      "type": "string",
                      "description": "format"
                    },
                    "dataset": {
                      "type": "string",
                      "description": "dataset"
                    },
                    "lr": {
                      "type": "string",
                      "description": "lr"
                    },
                    "maxresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "maxresults"
                    },
                    "matchprecision": {
                      "type": "integer",
                      "format": "int32",
                      "description": "matchprecision"
                    },
                    "epoch": {
                      "type": "string",
                      "description": "epoch"
                    },
                    "output_srs": {
                      "type": "string",
                      "description": "output_srs"
                    }
                  },
                  "description": "header"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DPA": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "ORGANISATION_NAME": {
                            "type": "string",
                            "description": "ORGANISATION_NAME"
                          },
                          "BUILDING_NUMBER": {
                            "type": "string",
                            "description": "BUILDING_NUMBER"
                          },
                          "THOROUGHFARE_NAME": {
                            "type": "string",
                            "description": "THOROUGHFARE_NAME"
                          },
                          "DEPENDENT_LOCALITY": {
                            "type": "string",
                            "description": "DEPENDENT_LOCALITY"
                          },
                          "POST_TOWN": {
                            "type": "string",
                            "description": "POST_TOWN"
                          },
                          "POSTCODE": {
                            "type": "string",
                            "description": "POSTCODE"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
                            "description": "TOPOGRAPHY_LAYER_TOID"
                          },
                          "LAST_UPDATE_DATE": {
                            "type": "string",
                            "description": "LAST_UPDATE_DATE"
                          },
                          "ENTRY_DATE": {
                            "type": "string",
                            "description": "ENTRY_DATE"
                          },
                          "BLPU_STATE_DATE": {
                            "type": "string",
                            "description": "BLPU_STATE_DATE"
                          },
                          "LANGUAGE": {
                            "type": "string",
                            "description": "LANGUAGE"
                          },
                          "MATCH": {
                            "type": "number",
                            "format": "float",
                            "description": "MATCH"
                          },
                          "MATCH_DESCRIPTION": {
                            "type": "string",
                            "description": "MATCH_DESCRIPTION"
                          }
                        },
                        "description": "DPA"
                      },
                      "LPI": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "USRN": {
                            "type": "string",
                            "description": "USRN"
                          },
                          "LPI_KEY": {
                            "type": "string",
                            "description": "LPI_KEY"
                          },
                          "PAO_START_NUMBER": {
                            "type": "string",
                            "description": "PAO_START_NUMBER"
                          },
                          "STREET_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_DESCRIPTION"
                          },
                          "TOWN_NAME": {
                            "type": "string",
                            "description": "TOWN_NAME"
                          },
                          "ADMINISTRATIVE_AREA": {
                            "type": "string",
                            "description": "ADMINISTRATIVE_AREA"
                          },
                          "POSTCODE_LOCATOR": {
                            "type": "string",
                            "description": "POSTCODE_LOCATOR"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
                            "description": "TOPOGRAPHY_LAYER_TOID"
                          },
                          "LAST_UPDATE_DATE": {
                            "type": "string",
                            "description": "LAST_UPDATE_DATE"
                          },
                          "ENTRY_DATE": {
                            "type": "string",
                            "description": "ENTRY_DATE"
                          },
                          "STREET_STATE_CODE": {
                            "type": "string",
                            "description": "STREET_STATE_CODE"
                          },
                          "STREET_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_STATE_CODE_DESCRIPTION"
                          },
                          "STREET_CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "STREET_CLASSIFICATION_CODE"
                          },
                          "STREET_CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LPI_LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LPI_LOGICAL_STATUS_CODE"
                          },
                          "LPI_LOGICAL_STATUS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LPI_LOGICAL_STATUS_CODE_DESCRIPTION"
                          },
                          "LANGUAGE": {
                            "type": "string",
                            "description": "LANGUAGE"
                          },
                          "MATCH": {
                            "type": "number",
                            "format": "float",
                            "description": "MATCH"
                          },
                          "MATCH_DESCRIPTION": {
                            "type": "string",
                            "description": "MATCH_DESCRIPTION"
                          }
                        },
                        "description": "LPI"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "OS Places API Find Operation",
        "description": "A free text search designed for quick use e.g. form filling.",
        "operationId": "Find",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The address query.",
            "description": "The free text search parameter."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "description": "The format in which the response will be returned. Default: JSON. Accepted values: 'JSON', 'XML'",
            "x-ms-summary": "Result format"
          },
          {
            "name": "maxresults",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of results to return. Default: 100",
            "x-ms-summary": "Limit results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Offset the list of returned by this amount.",
            "x-ms-summary": "Offset the result"
          },
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The address dataset to return. Multiple values can be sent, separated by a comma. Default: DPA. Accepted Values: DPA, LPI",
            "x-ms-summary": "Local Authority (LPI) and/or Royal Mail (DPA) address results"
          },
          {
            "name": "lr",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Language",
            "description": "Which language of addresses to return. Valid languages are English and Welsh. Filter only applicable to DPA dataset. Default value is both languages. Default: EN, CY."
          },
          {
            "name": "minmatch",
            "in": "query",
            "required": false,
            "type": "number",
            "description": "The minimum match score a result has to have to be returned. Accepted values: 0.1 - 1.0 (inclusive)",
            "x-ms-summary": "Limit results based on address matching score"
          },
          {
            "name": "matchprecision",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The decimal point position at which the match score value is to be truncated. Accepted values: 1-10",
            "x-ms-summary": "Match score precision"
          },
          {
            "name": "fq",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A filter that allows filtering of results by classification code and/or logical status code. Filtering for classification code will accept wildcard (*) searches. Multiple searches can be done on classification code seperating the classification code parameter with a space. Classification code filters can be ran with logical status code filters by using the parameter multiple times: fq=classification_code:CI classification_code:RD&fq=LOGICAL_STATUS_CODE:6",
            "x-ms-summary": "Filter"
          },
          {
            "name": "output_srs",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The intended output spatial reference system. Default: EPSG:27700. Accepted values: BNG, EPSG:27700, WGS84, EPSG:4326, EPSG:3857, EPSG:4258",
            "x-ms-summary": "Output spatial reference system"
          }
        ]
      }
    },
    "/places/v1/addresses/postcode": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    },
                    "query": {
                      "type": "string",
                      "description": "query"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "offset"
                    },
                    "totalresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalresults"
                    },
                    "format": {
                      "type": "string",
                      "description": "format"
                    },
                    "dataset": {
                      "type": "string",
                      "description": "dataset"
                    },
                    "lr": {
                      "type": "string",
                      "description": "lr"
                    },
                    "maxresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "maxresults"
                    },
                    "matchprecision": {
                      "type": "integer",
                      "format": "int32",
                      "description": "matchprecision"
                    },
                    "epoch": {
                      "type": "string",
                      "description": "epoch"
                    },
                    "output_srs": {
                      "type": "string",
                      "description": "output_srs"
                    }
                  },
                  "description": "header"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DPA": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "ORGANISATION_NAME": {
                            "type": "string",
                            "description": "ORGANISATION_NAME"
                          },
                          "BUILDING_NUMBER": {
                            "type": "string",
                            "description": "BUILDING_NUMBER"
                          },
                          "THOROUGHFARE_NAME": {
                            "type": "string",
                            "description": "THOROUGHFARE_NAME"
                          },
                          "DEPENDENT_LOCALITY": {
                            "type": "string",
                            "description": "DEPENDENT_LOCALITY"
                          },
                          "POST_TOWN": {
                            "type": "string",
                            "description": "POST_TOWN"
                          },
                          "POSTCODE": {
                            "type": "string",
                            "description": "POSTCODE"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
                            "description": "TOPOGRAPHY_LAYER_TOID"
                          },
                          "LAST_UPDATE_DATE": {
                            "type": "string",
                            "description": "LAST_UPDATE_DATE"
                          },
                          "ENTRY_DATE": {
                            "type": "string",
                            "description": "ENTRY_DATE"
                          },
                          "BLPU_STATE_DATE": {
                            "type": "string",
                            "description": "BLPU_STATE_DATE"
                          },
                          "LANGUAGE": {
                            "type": "string",
                            "description": "LANGUAGE"
                          },
                          "MATCH": {
                            "type": "number",
                            "format": "float",
                            "description": "MATCH"
                          },
                          "MATCH_DESCRIPTION": {
                            "type": "string",
                            "description": "MATCH_DESCRIPTION"
                          }
                        },
                        "description": "DPA"
                      },
                      "LPI": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "USRN": {
                            "type": "string",
                            "description": "USRN"
                          },
                          "LPI_KEY": {
                            "type": "string",
                            "description": "LPI_KEY"
                          },
                          "PAO_START_NUMBER": {
                            "type": "string",
                            "description": "PAO_START_NUMBER"
                          },
                          "STREET_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_DESCRIPTION"
                          },
                          "TOWN_NAME": {
                            "type": "string",
                            "description": "TOWN_NAME"
                          },
                          "ADMINISTRATIVE_AREA": {
                            "type": "string",
                            "description": "ADMINISTRATIVE_AREA"
                          },
                          "POSTCODE_LOCATOR": {
                            "type": "string",
                            "description": "POSTCODE_LOCATOR"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
                            "description": "TOPOGRAPHY_LAYER_TOID"
                          },
                          "LAST_UPDATE_DATE": {
                            "type": "string",
                            "description": "LAST_UPDATE_DATE"
                          },
                          "ENTRY_DATE": {
                            "type": "string",
                            "description": "ENTRY_DATE"
                          },
                          "STREET_STATE_CODE": {
                            "type": "string",
                            "description": "STREET_STATE_CODE"
                          },
                          "STREET_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_STATE_CODE_DESCRIPTION"
                          },
                          "STREET_CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "STREET_CLASSIFICATION_CODE"
                          },
                          "STREET_CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LPI_LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LPI_LOGICAL_STATUS_CODE"
                          },
                          "LPI_LOGICAL_STATUS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LPI_LOGICAL_STATUS_CODE_DESCRIPTION"
                          },
                          "LANGUAGE": {
                            "type": "string",
                            "description": "LANGUAGE"
                          },
                          "MATCH": {
                            "type": "number",
                            "format": "float",
                            "description": "MATCH"
                          },
                          "MATCH_DESCRIPTION": {
                            "type": "string",
                            "description": "MATCH_DESCRIPTION"
                          }
                        },
                        "description": "LPI"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "OS Places API postcode operation",
        "description": "A search based on a property's postcode. The minimum for the resource is the area and district e.g. SO16, and will accept a full postcode consisting of the area, district, sector and unit e.g. SO16 0AS",
        "operationId": "Postcode",
        "parameters": [
          {
            "name": "postcode",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "A UK style postcode",
            "description": "The postcode search parameter."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The format in which the response will be returned. Default: JSON. Accepted values: 'JSON', 'XML'",
            "x-ms-summary": "Result format"
          },
          {
            "name": "maxresults",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The maximum number of results to return. Default: 100",
            "x-ms-summary": "Limit results"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Offset the list of returned by this amount.",
            "x-ms-summary": "Offset the result"
          },
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The address dataset to return. Multiple values can be sent, separated by a comma. Default: DPA. Accepted values: DPA, LPI",
            "x-ms-summary": "Local Authority (LPI) and/or Royal Mail (DPA) address results"
          },
          {
            "name": "lr",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Language",
            "description": "Which language of addresses to return. Valid languages are English and Welsh. Filter only applicable to DPA dataset. Default value is both languages. Default: EN, CY."
          },
          {
            "name": "fq",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "A filter that allows filtering of results by classification code and/or logical status code. Filtering for classification code will accept wildcard (*) searches. Multiple searches can be done on classification code seperating the classification code parameter with a space. Classification code filters can be ran with logical status code filters by using the parameter multiple times: fq=classification_code:CI classification_code:RD&fq=LOGICAL_STATUS_CODE:6"
          },
          {
            "name": "output_srs",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The intended output spatial reference system. Default: EPSG:27700. Accepted values: BNG, EPSG:27700, WGS84, EPSG:4326, EPSG:3857, EPSG:4258",
            "x-ms-summary": "Output spatial reference system"
          }
        ]
      }
    },
    "/places/v1/addresses/uprn": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    },
                    "query": {
                      "type": "string",
                      "description": "query"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "offset"
                    },
                    "totalresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalresults"
                    },
                    "format": {
                      "type": "string",
                      "description": "format"
                    },
                    "dataset": {
                      "type": "string",
                      "description": "dataset"
                    },
                    "lr": {
                      "type": "string",
                      "description": "lr"
                    },
                    "maxresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "maxresults"
                    },
                    "matchprecision": {
                      "type": "integer",
                      "format": "int32",
                      "description": "matchprecision"
                    },
                    "epoch": {
                      "type": "string",
                      "description": "epoch"
                    },
                    "output_srs": {
                      "type": "string",
                      "description": "output_srs"
                    }
                  },
                  "description": "header"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DPA": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "ORGANISATION_NAME": {
                            "type": "string",
                            "description": "ORGANISATION_NAME"
                          },
                          "BUILDING_NUMBER": {
                            "type": "string",
                            "description": "BUILDING_NUMBER"
                          },
                          "THOROUGHFARE_NAME": {
                            "type": "string",
                            "description": "THOROUGHFARE_NAME"
                          },
                          "DEPENDENT_LOCALITY": {
                            "type": "string",
                            "description": "DEPENDENT_LOCALITY"
                          },
                          "POST_TOWN": {
                            "type": "string",
                            "description": "POST_TOWN"
                          },
                          "POSTCODE": {
                            "type": "string",
                            "description": "POSTCODE"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
                            "description": "TOPOGRAPHY_LAYER_TOID"
                          },
                          "LAST_UPDATE_DATE": {
                            "type": "string",
                            "description": "LAST_UPDATE_DATE"
                          },
                          "ENTRY_DATE": {
                            "type": "string",
                            "description": "ENTRY_DATE"
                          },
                          "BLPU_STATE_DATE": {
                            "type": "string",
                            "description": "BLPU_STATE_DATE"
                          },
                          "LANGUAGE": {
                            "type": "string",
                            "description": "LANGUAGE"
                          },
                          "MATCH": {
                            "type": "number",
                            "format": "float",
                            "description": "MATCH"
                          },
                          "MATCH_DESCRIPTION": {
                            "type": "string",
                            "description": "MATCH_DESCRIPTION"
                          }
                        },
                        "description": "DPA"
                      },
                      "LPI": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "USRN": {
                            "type": "string",
                            "description": "USRN"
                          },
                          "LPI_KEY": {
                            "type": "string",
                            "description": "LPI_KEY"
                          },
                          "PAO_START_NUMBER": {
                            "type": "string",
                            "description": "PAO_START_NUMBER"
                          },
                          "STREET_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_DESCRIPTION"
                          },
                          "TOWN_NAME": {
                            "type": "string",
                            "description": "TOWN_NAME"
                          },
                          "ADMINISTRATIVE_AREA": {
                            "type": "string",
                            "description": "ADMINISTRATIVE_AREA"
                          },
                          "POSTCODE_LOCATOR": {
                            "type": "string",
                            "description": "POSTCODE_LOCATOR"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
                            "description": "TOPOGRAPHY_LAYER_TOID"
                          },
                          "LAST_UPDATE_DATE": {
                            "type": "string",
                            "description": "LAST_UPDATE_DATE"
                          },
                          "ENTRY_DATE": {
                            "type": "string",
                            "description": "ENTRY_DATE"
                          },
                          "STREET_STATE_CODE": {
                            "type": "string",
                            "description": "STREET_STATE_CODE"
                          },
                          "STREET_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_STATE_CODE_DESCRIPTION"
                          },
                          "STREET_CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "STREET_CLASSIFICATION_CODE"
                          },
                          "STREET_CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LPI_LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LPI_LOGICAL_STATUS_CODE"
                          },
                          "LPI_LOGICAL_STATUS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LPI_LOGICAL_STATUS_CODE_DESCRIPTION"
                          },
                          "LANGUAGE": {
                            "type": "string",
                            "description": "LANGUAGE"
                          },
                          "MATCH": {
                            "type": "number",
                            "format": "float",
                            "description": "MATCH"
                          },
                          "MATCH_DESCRIPTION": {
                            "type": "string",
                            "description": "MATCH_DESCRIPTION"
                          }
                        },
                        "description": "LPI"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "OS Places API UPRN Operation",
        "description": "A search that takes a Unique Property Reference Number (UPRN) as the search parameter.",
        "operationId": "UPRN",
        "parameters": [
          {
            "name": "uprn",
            "in": "query",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Valid UPRN",
            "description": "Integer in format of a Unique Property Reference Number (UPRN)"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The format in which the response will be returned. Default: JSON. Accepted values: JSON, XML",
            "x-ms-summary": "Result format"
          },
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The address dataset to return. Multiple values can be sent, separated by a comma. Default: DPA. Accepted values: DPA, LPI",
            "x-ms-summary": "Local Authority (LPI) and/or Royal Mail (DPA) address results"
          },
          {
            "name": "lr",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Language",
            "description": "Which language of addresses to return. Valid languages are English and Welsh. Filter only applicable to DPA dataset. Default value is both languages. Default: EN, CY."
          },
          {
            "name": "fq",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "A filter that allows filtering of results by classification code and/or logical status code. Filtering for classification code will accept wildcard (*) searches. Multiple searches can be done on classification code seperating the classification code parameter with a space. Classification code filters can be ran with logical status code filters by using the parameter multiple times: fq=classification_code:CI classification_code:RD&fq=LOGICAL_STATUS_CODE:6\""
          },
          {
            "name": "output_srs",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output spatial reference system",
            "description": "The intended output spatial reference system. Default: EPSG:27700. Accepted values: BNG, EPSG:27700, WGS84, EPSG:4326, EPSG:3857, EPSG:4258"
          }
        ]
      }
    },
    "/places/v1/addresses/nearest": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    },
                    "query": {
                      "type": "string",
                      "description": "query"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "offset"
                    },
                    "totalresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalresults"
                    },
                    "format": {
                      "type": "string",
                      "description": "format"
                    },
                    "dataset": {
                      "type": "string",
                      "description": "dataset"
                    },
                    "lr": {
                      "type": "string",
                      "description": "lr"
                    },
                    "maxresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "maxresults"
                    },
                    "matchprecision": {
                      "type": "integer",
                      "format": "int32",
                      "description": "matchprecision"
                    },
                    "epoch": {
                      "type": "string",
                      "description": "epoch"
                    },
                    "output_srs": {
                      "type": "string",
                      "description": "output_srs"
                    }
                  },
                  "description": "header"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DPA": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "ORGANISATION_NAME": {
                            "type": "string",
                            "description": "ORGANISATION_NAME"
                          },
                          "BUILDING_NUMBER": {
                            "type": "string",
                            "description": "BUILDING_NUMBER"
                          },
                          "THOROUGHFARE_NAME": {
                            "type": "string",
                            "description": "THOROUGHFARE_NAME"
                          },
                          "DEPENDENT_LOCALITY": {
                            "type": "string",
                            "description": "DEPENDENT_LOCALITY"
                          },
                          "POST_TOWN": {
                            "type": "string",
                            "description": "POST_TOWN"
                          },
                          "POSTCODE": {
                            "type": "string",
                            "description": "POSTCODE"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
                            "description": "TOPOGRAPHY_LAYER_TOID"
                          },
                          "LAST_UPDATE_DATE": {
                            "type": "string",
                            "description": "LAST_UPDATE_DATE"
                          },
                          "ENTRY_DATE": {
                            "type": "string",
                            "description": "ENTRY_DATE"
                          },
                          "BLPU_STATE_DATE": {
                            "type": "string",
                            "description": "BLPU_STATE_DATE"
                          },
                          "LANGUAGE": {
                            "type": "string",
                            "description": "LANGUAGE"
                          },
                          "MATCH": {
                            "type": "number",
                            "format": "float",
                            "description": "MATCH"
                          },
                          "MATCH_DESCRIPTION": {
                            "type": "string",
                            "description": "MATCH_DESCRIPTION"
                          }
                        },
                        "description": "DPA"
                      },
                      "LPI": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "USRN": {
                            "type": "string",
                            "description": "USRN"
                          },
                          "LPI_KEY": {
                            "type": "string",
                            "description": "LPI_KEY"
                          },
                          "PAO_START_NUMBER": {
                            "type": "string",
                            "description": "PAO_START_NUMBER"
                          },
                          "STREET_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_DESCRIPTION"
                          },
                          "TOWN_NAME": {
                            "type": "string",
                            "description": "TOWN_NAME"
                          },
                          "ADMINISTRATIVE_AREA": {
                            "type": "string",
                            "description": "ADMINISTRATIVE_AREA"
                          },
                          "POSTCODE_LOCATOR": {
                            "type": "string",
                            "description": "POSTCODE_LOCATOR"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
                            "description": "TOPOGRAPHY_LAYER_TOID"
                          },
                          "LAST_UPDATE_DATE": {
                            "type": "string",
                            "description": "LAST_UPDATE_DATE"
                          },
                          "ENTRY_DATE": {
                            "type": "string",
                            "description": "ENTRY_DATE"
                          },
                          "STREET_STATE_CODE": {
                            "type": "string",
                            "description": "STREET_STATE_CODE"
                          },
                          "STREET_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_STATE_CODE_DESCRIPTION"
                          },
                          "STREET_CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "STREET_CLASSIFICATION_CODE"
                          },
                          "STREET_CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LPI_LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LPI_LOGICAL_STATUS_CODE"
                          },
                          "LPI_LOGICAL_STATUS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LPI_LOGICAL_STATUS_CODE_DESCRIPTION"
                          },
                          "LANGUAGE": {
                            "type": "string",
                            "description": "LANGUAGE"
                          },
                          "MATCH": {
                            "type": "number",
                            "format": "float",
                            "description": "MATCH"
                          },
                          "MATCH_DESCRIPTION": {
                            "type": "string",
                            "description": "MATCH_DESCRIPTION"
                          }
                        },
                        "description": "LPI"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "OS Places API nearest operation",
        "description": "Takes a pair of coordinates (X and Y) as an input to determine the closest address.",
        "operationId": "Nearest",
        "parameters": [
          {
            "name": "point",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "One comma-separated coordinate set that specifies the coordinate to which the nearest record in a straight line should be found. The maximum distance the search will try is 1,000 metres. The precision of the coordinates is to two decimal places (that is, 1 cm accuracy).",
            "x-ms-summary": "A set of comma-separated coordinates"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The radius in metres to search within. Maximum is 1,000 metres. If the radius exceeds that amount then an error message will be returned (see below). The precision of the distance is to two decimal places (that is, 1 cm accuracy). Default: 100.",
            "x-ms-summary": "Search radius"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Result format",
            "description": "The format in which the response will be returned. Default: JSON. Accepted values: JSON, XML"
          },
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Local Authority (LPI) and/or Royal Mail (DPA) address results",
            "description": "The address dataset to return. Multiple values can be sent, separated by a comma. Default: DPA. Accepted values: DPA, LPI"
          },
          {
            "name": "lr",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Language",
            "description": "Which language of addresses to return. Valid languages are English and Welsh. Filter only applicable to DPA dataset. Default value is both languages. Default: EN, CY"
          },
          {
            "name": "fq",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "A filter that allows filtering of results by classification code and/or logical status code. Filtering for classification code will accept wildcard (*) searches. Multiple searches can be done on classification code seperating the classification code parameter with a space. Classification code filters can be ran with logical status code filters by using the parameter multiple times: fq=classification_code:CI classification_code:RD&fq=LOGICAL_STATUS_CODE:6"
          },
          {
            "name": "output_srs",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output spatial reference system",
            "description": "The intended output spatial reference system. Default: EPSG:27700. Accepted values: BNG, EPSG:27700, WGS84, EPSG:4326, EPSG:3857, EPSG:4258"
          },
          {
            "name": "srs",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Input spatial reference system",
            "description": "The spatial reference system for the input coordinate set. Accepted values: 'BNG', 'EPSG:27700', 'WGS84', 'EPSG:4326', 'EPSG:3857', 'EPSG:4258'"
          }
        ]
      }
    },
    "/places/v1/addresses/bbox": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    },
                    "query": {
                      "type": "string",
                      "description": "query"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "offset"
                    },
                    "totalresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalresults"
                    },
                    "format": {
                      "type": "string",
                      "description": "format"
                    },
                    "dataset": {
                      "type": "string",
                      "description": "dataset"
                    },
                    "lr": {
                      "type": "string",
                      "description": "lr"
                    },
                    "maxresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "maxresults"
                    },
                    "matchprecision": {
                      "type": "integer",
                      "format": "int32",
                      "description": "matchprecision"
                    },
                    "epoch": {
                      "type": "string",
                      "description": "epoch"
                    },
                    "output_srs": {
                      "type": "string",
                      "description": "output_srs"
                    }
                  },
                  "description": "header"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DPA": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "ORGANISATION_NAME": {
                            "type": "string",
                            "description": "ORGANISATION_NAME"
                          },
                          "BUILDING_NUMBER": {
                            "type": "string",
                            "description": "BUILDING_NUMBER"
                          },
                          "THOROUGHFARE_NAME": {
                            "type": "string",
                            "description": "THOROUGHFARE_NAME"
                          },
                          "DEPENDENT_LOCALITY": {
                            "type": "string",
                            "description": "DEPENDENT_LOCALITY"
                          },
                          "POST_TOWN": {
                            "type": "string",
                            "description": "POST_TOWN"
                          },
                          "POSTCODE": {
                            "type": "string",
                            "description": "POSTCODE"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
                            "description": "TOPOGRAPHY_LAYER_TOID"
                          },
                          "LAST_UPDATE_DATE": {
                            "type": "string",
                            "description": "LAST_UPDATE_DATE"
                          },
                          "ENTRY_DATE": {
                            "type": "string",
                            "description": "ENTRY_DATE"
                          },
                          "BLPU_STATE_DATE": {
                            "type": "string",
                            "description": "BLPU_STATE_DATE"
                          },
                          "LANGUAGE": {
                            "type": "string",
                            "description": "LANGUAGE"
                          },
                          "MATCH": {
                            "type": "number",
                            "format": "float",
                            "description": "MATCH"
                          },
                          "MATCH_DESCRIPTION": {
                            "type": "string",
                            "description": "MATCH_DESCRIPTION"
                          }
                        },
                        "description": "DPA"
                      },
                      "LPI": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "USRN": {
                            "type": "string",
                            "description": "USRN"
                          },
                          "LPI_KEY": {
                            "type": "string",
                            "description": "LPI_KEY"
                          },
                          "PAO_START_NUMBER": {
                            "type": "string",
                            "description": "PAO_START_NUMBER"
                          },
                          "STREET_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_DESCRIPTION"
                          },
                          "TOWN_NAME": {
                            "type": "string",
                            "description": "TOWN_NAME"
                          },
                          "ADMINISTRATIVE_AREA": {
                            "type": "string",
                            "description": "ADMINISTRATIVE_AREA"
                          },
                          "POSTCODE_LOCATOR": {
                            "type": "string",
                            "description": "POSTCODE_LOCATOR"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
                            "description": "TOPOGRAPHY_LAYER_TOID"
                          },
                          "LAST_UPDATE_DATE": {
                            "type": "string",
                            "description": "LAST_UPDATE_DATE"
                          },
                          "ENTRY_DATE": {
                            "type": "string",
                            "description": "ENTRY_DATE"
                          },
                          "STREET_STATE_CODE": {
                            "type": "string",
                            "description": "STREET_STATE_CODE"
                          },
                          "STREET_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_STATE_CODE_DESCRIPTION"
                          },
                          "STREET_CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "STREET_CLASSIFICATION_CODE"
                          },
                          "STREET_CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "STREET_CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LPI_LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LPI_LOGICAL_STATUS_CODE"
                          },
                          "LPI_LOGICAL_STATUS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LPI_LOGICAL_STATUS_CODE_DESCRIPTION"
                          },
                          "LANGUAGE": {
                            "type": "string",
                            "description": "LANGUAGE"
                          },
                          "MATCH": {
                            "type": "number",
                            "format": "float",
                            "description": "MATCH"
                          },
                          "MATCH_DESCRIPTION": {
                            "type": "string",
                            "description": "MATCH_DESCRIPTION"
                          }
                        },
                        "description": "LPI"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        },
        "summary": "OS Places API bounding box operation",
        "operationId": "BBox",
        "description": "Takes two points and creates a bounding box. All addresses within this bounding box are then returned.",
        "parameters": [
          {
            "name": "bbox",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Bounding box",
            "description": "A pair of comma-separated coordinates with an accuracy of two decimal places or less, that specify the lower left and upper right coordinates of the bounding box. The maximum size of the bounding box is 1 km2. If the bounding box exceeds this, an error message is returned. The precision of the coordinates is to an accuracy of 8 metres."
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Result format",
            "description": "The format in which the response will be returned. Default: JSON. Accepted values: JSON, XML"
          },
          {
            "name": "maxresults",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Limit results",
            "description": "The maximum number of results to return. Default: 100"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Offset the result",
            "description": "Offset the list of returned by this amount."
          },
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Local Authority (LPI) and/or Royal Mail (DPA) address results",
            "description": "The address dataset to return. Multiple values can be sent, separated by a comma. Default: DPA. Accepted values: DPA, LPI"
          },
          {
            "name": "lr",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Language",
            "description": "Which language of addresses to return. Valid languages are English and Welsh. Filter only applicable to DPA dataset. Default value is both languages. Default: EN, CY."
          },
          {
            "name": "fq",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "A filter that allows filtering of results by classification code and/or logical status code. Filtering for classification code will accept wildcard (*) searches. Multiple searches can be done on classification code seperating the classification code parameter with a space. Classification code filters can be ran with logical status code filters by using the parameter multiple times: fq=classification_code:CI classification_code:RD&fq=LOGICAL_STATUS_CODE:6"
          },
          {
            "name": "output_srs",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Output spatial reference system",
            "description": "The intended output spatial reference system. Default: EPSG:27700."
          },
          {
            "name": "srs",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The spatial reference system for the input coordinate set.",
            "x-ms-summary": "Input coordinate reference system"
          }
        ]
      }
    },
    "/places/v1/addresses/radius": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "header": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    },
                    "query": {
                      "type": "string",
                      "description": "query"
                    },
                    "offset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "offset"
                    },
                    "totalresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalresults"
                    },
                    "format": {
                      "type": "string",
                      "description": "format"
                    },
                    "dataset": {
                      "type": "string",
                      "description": "dataset"
                    },
                    "lr": {
                      "type": "string",
                      "description": "lr"
                    },
                    "maxresults": {
                      "type": "integer",
                      "format": "int32",
                      "description": "maxresults"
                    },
                    "matchprecision": {
                      "type": "integer",
                      "format": "int32",
                      "description": "matchprecision"
                    },
                    "epoch": {
                      "type": "string",
                      "description": "epoch"
                    },
                    "output_srs": {
                      "type": "string",
                      "description": "output_srs"
                    }
                  },
                  "description": "header"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "DPA": {
                        "type": "object",
                        "properties": {
                          "UPRN": {
                            "type": "string",
                            "description": "UPRN"
                          },
                          "ADDRESS": {
                            "type": "string",
                            "description": "ADDRESS"
                          },
                          "ORGANISATION_NAME": {
                            "type": "string",
                            "description": "ORGANISATION_NAME"
                          },
                          "BUILDING_NUMBER": {
                            "type": "string",
                            "description": "BUILDING_NUMBER"
                          },
                          "THOROUGHFARE_NAME": {
                            "type": "string",
                            "description": "THOROUGHFARE_NAME"
                          },
                          "DEPENDENT_LOCALITY": {
                            "type": "string",
                            "description": "DEPENDENT_LOCALITY"
                          },
                          "POST_TOWN": {
                            "type": "string",
                            "description": "POST_TOWN"
                          },
                          "POSTCODE": {
                            "type": "string",
                            "description": "POSTCODE"
                          },
                          "RPC": {
                            "type": "string",
                            "description": "RPC"
                          },
                          "X_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "X_COORDINATE"
                          },
                          "Y_COORDINATE": {
                            "type": "number",
                            "format": "float",
                            "description": "Y_COORDINATE"
                          },
                          "STATUS": {
                            "type": "string",
                            "description": "STATUS"
                          },
                          "LOGICAL_STATUS_CODE": {
                            "type": "string",
                            "description": "LOGICAL_STATUS_CODE"
                          },
                          "CLASSIFICATION_CODE": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE"
                          },
                          "CLASSIFICATION_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "CLASSIFICATION_CODE_DESCRIPTION"
                          },
                          "LOCAL_CUSTODIAN_CODE": {
                            "type": "integer",
                            "format": "int32",
                            "description": "LOCAL_CUSTODIAN_CODE"
                          },
                          "LOCAL_CUSTODIAN_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "LOCAL_CUSTODIAN_CODE_DESCRIPTION"
                          },
                          "POSTAL_ADDRESS_CODE": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE"
                          },
                          "POSTAL_ADDRESS_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "POSTAL_ADDRESS_CODE_DESCRIPTION"
                          },
                          "BLPU_STATE_CODE": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE"
                          },
                          "BLPU_STATE_CODE_DESCRIPTION": {
                            "type": "string",
                            "description": "BLPU_STATE_CODE_DESCRIPTION"
                          },
                          "TOPOGRAPHY_LAYER_TOID": {
                            "type": "string",
[...]
