{
  "swagger": "2.0",
  "info": {
    "title": "WithoutWire Inventory Platform",
    "description": "The connector contains methods to connect WithoutWire for move requests, order fullfillment requests, adjustments, audits, and allocation as well as any inventory management needs",
    "version": "1.0",
	"contact": {
		"name": "WithoutWire Support",
		"url":"https://www.withoutwire.com/knowledgebase",
		"email":"support@withoutwire.com"
	}
  },
  "host": "api.withoutwire.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/integration/workorder": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
		  },
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "WarehouseName": {
                    "type": "string",
                    "description": "WarehouseName"
                  },
                  "CustomerPoNumber": {
                    "type": "string",
                    "description": "CustomerPoNumber"
                  },
                  "VendorShipmentNumber": {
                    "type": "string",
                    "description": "VendorShipmentNumber"
                  },
                  "OrderNumber": {
                    "type": "string",
                    "description": "OrderNumber"
                  },
                  "OrderType": {
                    "type": "integer",
                    "format": "int32",
                    "description": "OrderType"
                  },
                  "Customer": {
                    "type": "object",
                    "properties": {
                      "CustomerName": {
                        "type": "string",
                        "description": "CustomerName"
                      },
                      "CustomerAddress1": {
                        "type": "string",
                        "description": "CustomerAddress1"
                      },
                      "CustomerAddress2": {
                        "type": "string",
                        "description": "CustomerAddress2"
                      },
                      "CustomerCity": {
                        "type": "string",
                        "description": "CustomerCity"
                      },
                      "CustomerState": {
                        "type": "string",
                        "description": "CustomerState"
                      },
                      "CustomerZipCode": {
                        "type": "string",
                        "description": "CustomerZipCode"
                      },
                      "CustomerCountry": {
                        "type": "string",
                        "description": "CustomerCountry"
                      },
                      "CustomerShortDesc": {
                        "type": "string",
                        "description": "CustomerShortDesc"
                      },
                      "CustomerNumber": {
                        "type": "string",
                        "description": "CustomerNumber"
                      },
                      "UpcManufacturerNumber": {
                        "type": "string",
                        "description": "UpcManufacturerNumber"
                      },
                      "CustomerPhone": {
                        "type": "string",
                        "description": "CustomerPhone"
                      },
                      "TestInd": {
                        "type": "boolean",
                        "description": "TestInd"
                      },
                      "ConsiderDepartment": {
                        "type": "boolean",
                        "description": "ConsiderDepartment"
                      },
                      "ConsiderDepartmentWhenPicking": {
                        "type": "boolean",
                        "description": "ConsiderDepartmentWhenPicking"
                      },
                      "CustomerShipTo": {
                        "type": "string",
                        "description": "CustomerShipTo"
                      },
                      "Gs1CompanyNumber": {
                        "type": "string",
                        "description": "Gs1CompanyNumber"
                      },
                      "StartingContainer": {
                        "type": "string",
                        "description": "StartingContainer"
                      },
                      "EdiIndicator": {
                        "type": "boolean",
                        "description": "EdiIndicator"
                      },
                      "CustomerClass": {
                        "type": "string",
                        "description": "CustomerClass"
                      },
                      "NotificationEmail": {
                        "type": "string",
                        "description": "NotificationEmail"
                      },
                      "RequiredShelfLife": {
                        "type": "integer",
                        "format": "int32",
                        "description": "RequiredShelfLife"
                      },
                      "CustomerShippingAddresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "CustomerShipName": {
                              "type": "string",
                              "description": "CustomerShipName"
                            },
                            "CustomerShipAttn": {
                              "type": "string",
                              "description": "CustomerShipAttn"
                            },
                            "CustomerShipAddress1": {
                              "type": "string",
                              "description": "CustomerShipAddress1"
                            },
                            "CustomerShipAddress2": {
                              "type": "string",
                              "description": "CustomerShipAddress2"
                            },
                            "CustomerShipCity": {
                              "type": "string",
                              "description": "CustomerShipCity"
                            },
                            "CustomerShipState": {
                              "type": "string",
                              "description": "CustomerShipState"
                            },
                            "CustomerShipZipCode": {
                              "type": "string",
                              "description": "CustomerShipZipCode"
                            },
                            "CustomerShipZip5": {
                              "type": "string",
                              "description": "CustomerShipZip5"
                            },
                            "CustomerShipPhone": {
                              "type": "string",
                              "description": "CustomerShipPhone"
                            },
                            "CustomerShipFax": {
                              "type": "string",
                              "description": "CustomerShipFax"
                            },
                            "CustomerShipCountry": {
                              "type": "string",
                              "description": "CustomerShipCountry"
                            },
                            "CustomerShipTo": {
                              "type": "string",
                              "description": "CustomerShipTo"
                            },
                            "ValidatorObject": {
                              "type": "string",
                              "description": "ValidatorObject"
                            }
                          }
                        },
                        "description": "CustomerShippingAddresses"
                      }
                    },
                    "description": "Customer"
                  },
                  "RouteDescription": {
                    "type": "string",
                    "description": "RouteDescription"
                  },
                  "DeliveryDate": {
                    "type": "string",
                    "description": "DeliveryDate"
                  },
                  "OrderComment": {
                    "type": "string",
                    "description": "OrderComment"
                  },
                  "DestinationWarehouseName": {
                    "type": "string",
                    "description": "DestinationWarehouseName"
                  },
                  "RouteNumber": {
                    "type": "string",
                    "description": "RouteNumber"
                  },
                  "ShipDate": {
                    "type": "string",
                    "description": "ShipDate"
                  },
                  "DateCreated": {
                    "type": "string",
                    "description": "DateCreated"
                  },
                  "LineItems": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "LineNumber": {
                          "type": "integer",
                          "format": "int32",
                          "description": "LineNumber"
                        },
                        "ComponentSequence": {
                          "type": "integer",
                          "format": "int32",
                          "description": "ComponentSequence"
                        },
                        "ItemNumber": {
                          "type": "string",
                          "description": "ItemNumber"
                        },
                        "CoreItemType": {
                          "type": "string",
                          "description": "CoreItemType"
                        },
                        "QuantityOrdered": {
                          "type": "number",
                          "format": "float",
                          "description": "QuantityOrdered"
                        },
                        "UomType": {
                          "type": "object",
                          "properties": {
                            "UomDesc": {
                              "type": "string",
                              "description": "UomDesc"
                            },
                            "SignificantDigits": {
                              "type": "integer",
                              "format": "int32",
                              "description": "SignificantDigits"
                            },
                            "BaseConversionFactor": {
                              "type": "number",
                              "format": "float",
                              "description": "BaseConversionFactor"
                            }
                          },
                          "description": "UomType"
                        },
                        "LineItemComment": {
                          "type": "string",
                          "description": "LineItemComment"
                        },
                        "ItemDescription": {
                          "type": "string",
                          "description": "ItemDescription"
                        },
                        "PickRecords": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "QuantityShipped": {
                                "type": "number",
                                "format": "float",
                                "description": "QuantityShipped"
                              },
                              "QuantityPicked": {
                                "type": "number",
                                "format": "float",
                                "description": "QuantityPicked"
                              },
                              "CoreValue": {
                                "type": "string",
                                "description": "CoreValue"
                              }
                            }
                          },
                          "description": "PickRecords"
                        },
                        "UserID": {
                          "type": "integer",
                          "format": "int32",
                          "description": "UserID"
                        },
                        "OwnerName": {
                          "type": "string",
                          "description": "OwnerName"
                        }
                      }
                    },
                    "description": "LineItems"
                  },
                  "LoadDate": {
                    "type": "string",
                    "description": "LoadDate"
                  },
                  "PrintDate": {
                    "type": "string",
                    "description": "PrintDate"
                  },
                  "ExportDate": {
                    "type": "string",
                    "description": "ExportDate"
                  },
                  "ParentOrderNumber": {
                    "type": "string",
                    "description": "ParentOrderNumber"
                  },
                  "TrackingNumber": {
                    "type": "string",
                    "description": "TrackingNumber"
                  },
                  "ShippingMethodName": {
                    "type": "string",
                    "description": "ShippingMethodName"
                  },
                  "ShippingWeight": {
                    "type": "number",
                    "format": "float",
                    "description": "ShippingWeight"
                  },
                  "ShippingCost": {
                    "type": "number",
                    "format": "float",
                    "description": "ShippingCost"
                  },
                  "Status": {
                    "type": "string",
                    "description": "Status"
                  },
                  "StatusCode": {
                    "type": "string",
                    "description": "StatusCode"
                  },
                  "Identity": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Identity"
                  },
                  "UseOrderLevelShipping": {
                    "type": "string",
                    "description": "UseOrderLevelShipping"
                  },
                  "OwnerName": {
                    "type": "string",
                    "description": "OwnerName"
                  },
                  "PickingPriority": {
                    "type": "integer",
                    "format": "int32",
                    "description": "PickingPriority"
                  },
                  "RoutePickingPriority": {
                    "type": "integer",
                    "format": "int32",
                    "description": "RoutePickingPriority"
                  }
                }
              }
            }
          }
        },
        "summary": "Get work orders",
        "operationId": "GetWorkOrders",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "orderStatusCode",
            "in": "query",
            "required": false,
            "type": "string",
			"description": "Work order status (status code)",
			"x-ms-summary": "Work order status (status code)",
			"enum": [
			  "UNA",
			  "WTP",
			  "PIP",
			  "WFE",
			  "EXP",
			  "CMP",
			  "REV",
			  "PRC",
			  "NEW",
			  "WFS"
			]
          },
          {
            "name": "orderNumber",
            "in": "query",
            "required": false,
            "type": "string",
			"description": "Work order number",
			"x-ms-summary": "Work order number"
          }
        ],
        "description": "Returns an array of work orders by status or by number"
      },
      "put": {
        "responses": {
          "default": {
            "description": "default"
		  },
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalCount"
                },
                "InsertedCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "InsertedCount"
                },
                "UpdatedCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "UpdatedCount"
                },
                "InvalidCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "InvalidCount"
                },
                "InvalidObjects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Validator": {
                        "type": "object",
                        "properties": {
                          "IsValid": {
                            "type": "boolean",
                            "description": "IsValid"
                          },
                          "ImportExceptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ErrorCode": {
                                  "type": "string",
                                  "description": "ErrorCode"
                                },
                                "ErrorMessage": {
                                  "type": "string",
                                  "description": "ErrorMessage"
                                },
                                "FieldName": {
                                  "type": "string",
                                  "description": "FieldName"
                                }
                              }
                            },
                            "description": "ImportExceptions"
                          }
                        },
                        "description": "Validator"
                      }
                    }
                  },
                  "description": "InvalidObjects"
                }
              }
            }
          }
        },
        "summary": "Create or update work order",
        "operationId": "CreateUpdateWorkOrder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "WarehouseName": {
                    "type": "string",
                    "description": "WarehouseName",
                    "title": "",
                    "x-ms-visibility": "important"
                  },
                  "OrderNumber": {
                    "type": "string",
                    "description": "OrderNumber",
                    "title": "",
                    "x-ms-visibility": "important"
                  },
                  "OrderType": {
                    "type": "string",
                    "description": "OrderType",
                    "title": "",
                    "x-ms-visibility": "important",
                    "default": "6"
                  },
                  "OrderComment": {
                    "type": "string",
                    "description": "OrderComment"
                  },
                  "CustomerPoNumber": {
                    "type": "string",
                    "description": "CustomerPoNumber",
                    "title": "",
                    "x-ms-visibility": "important"
                  },
                  "VendorShipmentNumber": {
                    "type": "string",
                    "description": "VendorShipmentNumber"
                  },
                  "RouteNumber": {
                    "type": "string",
                    "description": "RouteNumber",
                    "default": "9999"
                  },
                  "RouteDescription": {
                    "type": "string",
                    "description": "RouteDescription"
                  },
                  "DestinationWarehouseName": {
                    "type": "string",
                    "description": "DestinationWarehouseName"
                  },
                  "DeliveryDate": {
                    "type": "string",
                    "description": "DeliveryDate",
                    "title": "",
                    "format": "date-time"
                  },
                  "ShipDate": {
                    "type": "string",
                    "description": "ShipDate"
                  },
                  "DateCreated": {
                    "type": "string",
                    "description": "DateCreated"
                  },
                  "LoadDate": {
                    "type": "string",
                    "description": "LoadDate"
                  },
                  "PrintDate": {
                    "type": "string",
                    "description": "PrintDate"
                  },
                  "ShippingMethodName": {
                    "type": "string",
                    "description": "ShippingMethodName"
                  },
                  "TrackingNumber": {
                    "type": "string",
                    "description": "TrackingNumber"
                  },
                  "ShippingWeight": {
                    "type": "number",
                    "format": "float",
                    "description": "ShippingWeight"
                  },
                  "ShippingCost": {
                    "type": "number",
                    "format": "float",
                    "description": "ShippingCost"
                  },
                  "Customer": {
                    "type": "object",
                    "properties": {
                      "CustomerName": {
                        "type": "string",
                        "description": "CustomerName"
                      },
                      "CustomerAddress1": {
                        "type": "string",
                        "description": "CustomerAddress1"
                      },
                      "CustomerAddress2": {
                        "type": "string",
                        "description": "CustomerAddress2"
                      },
                      "CustomerCity": {
                        "type": "string",
                        "description": "CustomerCity"
                      },
                      "CustomerState": {
                        "type": "string",
                        "description": "CustomerState"
                      },
                      "CustomerZipCode": {
                        "type": "string",
                        "description": "CustomerZipCode"
                      },
                      "CustomerCountry": {
                        "type": "string",
                        "description": "CustomerCountry"
                      },
                      "CustomerShortDesc": {
                        "type": "string",
                        "description": "CustomerShortDesc"
                      },
                      "CustomerNumber": {
                        "type": "string",
                        "description": "CustomerNumber",
                        "title": ""
                      },
                      "CustomerPhone": {
                        "type": "string",
                        "description": "CustomerPhone"
                      },
                      "CustomerShippingAddresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "CustomerShipName": {
                              "type": "string",
                              "description": "CustomerShipName",
                              "default": "Default"
                            },
                            "CustomerShipAddress1": {
                              "type": "string",
                              "description": "CustomerShipAddress1"
                            },
                            "CustomerShipAddress2": {
                              "type": "string",
                              "description": "CustomerShipAddress2"
                            },
                            "CustomerShipCity": {
                              "type": "string",
                              "description": "CustomerShipCity"
                            },
                            "CustomerShipState": {
                              "type": "string",
                              "description": "CustomerShipState"
                            },
                            "CustomerShipZipCode": {
                              "type": "string",
                              "description": "CustomerShipZipCode"
                            },
                            "CustomerShipZip5": {
                              "type": "string",
                              "description": "CustomerShipZip5"
                            },
                            "CustomerShipPhone": {
                              "type": "string",
                              "description": "CustomerShipPhone"
                            },
                            "CustomerShipFax": {
                              "type": "string",
                              "description": "CustomerShipFax"
                            },
                            "CustomerShipCountry": {
                              "type": "string",
                              "description": "CustomerShipCountry"
                            },
                            "CustomerShipTo": {
                              "type": "string",
                              "description": "CustomerShipTo",
                              "default": "Primary"
                            }
                          }
                        },
                        "description": "CustomerShippingAddresses"
                      }
                    },
                    "description": "Customer",
                    "required": [
                      "CustomerNumber"
                    ]
                  },
                  "LineItems": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "LineNumber": {
                          "type": "integer",
                          "format": "int32",
                          "description": "LineNumber"
                        },
                        "ItemNumber": {
                          "type": "string",
                          "description": "ItemNumber"
                        },
                        "CoreItemType": {
                          "type": "string",
                          "description": "CoreItemType"
                        },
                        "QuantityOrdered": {
                          "type": "number",
                          "format": "float",
                          "description": "QuantityOrdered"
                        },
                        "LineItemComment": {
                          "type": "string",
                          "description": "LineItemComment"
                        },
                        "ItemDescription": {
                          "type": "string",
                          "description": "ItemDescription"
                        },
                        "UomType": {
                          "type": "object",
                          "properties": {
                            "UomDesc": {
                              "type": "string",
                              "description": "UomDesc"
                            },
                            "SignificantDigits": {
                              "type": "integer",
                              "format": "int32",
                              "description": "SignificantDigits"
                            },
                            "BaseConversionFactor": {
                              "type": "number",
                              "format": "float",
                              "description": "BaseConversionFactor"
                            }
                          },
                          "description": "UomType",
                          "required": [
                            "UomDesc"
                          ]
                        }
                      },
                      "required": [
                        "LineNumber",
                        "ItemNumber",
                        "CoreItemType",
                        "QuantityOrdered"
                      ]
                    },
                    "description": "LineItems"
                  }
                },
                "required": [
                  "WarehouseName",
                  "CustomerPoNumber",
                  "OrderNumber",
                  "OrderType",
                  "DeliveryDate",
                  "VendorShipmentNumber",
                  "RouteNumber",
                  "Customer"
                ]
              }
            }
          }
        ],
        "description": "The method creates or updates work order (key is OrderNumber)"
      }
    },
    "/integration/order": {
      "delete": {
        "summary": "Delete Order",
        "operationId": "DeleteOrder",
        "x-ms-visibility": "important",
        "responses": {
          "default": {
            "description": "default"
		  },
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalCount"
                },
                "DeletedCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "DeletedCount"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "WarehouseName": {
                    "type": "string",
                    "description": "WarehouseName"
                  },
                  "OrderNumber": {
                    "type": "string",
                    "description": "OrderNumber"
                  }
                }
              }
            }
          }
        ],
        "description": "Delete an order (any type)"
      }
    },
    "/integration/order/complete": {
      "put": {
        "responses": {
          "default": {
            "description": "default"
		  },
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalCount"
                },
                "InsertedCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "InsertedCount"
                },
                "UpdatedCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "UpdatedCount"
                },
                "InvalidCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "InvalidCount"
                },
                "InvalidObjects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Validator": {
                        "type": "object",
                        "properties": {
                          "IsValid": {
                            "type": "boolean",
                            "description": "IsValid"
                          },
                          "ImportExceptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ErrorCode": {
                                  "type": "string",
                                  "description": "ErrorCode"
                                },
                                "ErrorMessage": {
                                  "type": "string",
                                  "description": "ErrorMessage"
                                },
                                "FieldName": {
                                  "type": "string",
                                  "description": "FieldName"
                                }
                              }
                            },
                            "description": "ImportExceptions"
                          }
                        },
                        "description": "Validator"
                      },
                      "Identity": {
                        "type": "string",
                        "description": "Identity"
                      },
                      "IdentityCode": {
                        "type": "string",
                        "description": "IdentityCode"
                      },
                      "WarehouseName": {
                        "type": "string",
                        "description": "WarehouseName"
                      }
                    }
                  },
                  "description": "InvalidObjects"
                }
              }
            }
          }
        },
        "summary": "Set order complete",
        "operationId": "SetOrderComplete",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "IdentityCode": {
                    "type": "string",
                    "description": "IdentityCode"
                  },
                  "WarehouseName": {
                    "type": "string",
                    "description": "WarehouseName"
                  }
                }
              }
            }
          }
        ],
        "description": "This API method used to set the status on orders to CMP (Complete)."
      }
    },
    "/integration/order/status": {
      "put": {
        "responses": {
          "default": {
            "description": "default"
		  },
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "TotalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "TotalCount"
                },
                "InsertedCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "InsertedCount"
                },
                "UpdatedCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "UpdatedCount"
                },
                "InvalidCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "InvalidCount"
                },
                "InvalidObjects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Validator": {
                        "type": "object",
                        "properties": {
                          "IsValid": {
                            "type": "boolean",
                            "description": "IsValid"
                          },
                          "ImportExceptions": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "ErrorCode": {
                                  "type": "string",
                                  "description": "ErrorCode"
                                },
                                "ErrorMessage": {
                                  "type": "string",
                                  "description": "ErrorMessage"
                                },
                                "FieldName": {
                                  "type": "string",
                                  "description": "FieldName"
                                }
                              }
                            },
                            "description": "ImportExceptions"
                          }
                        },
                        "description": "Validator"
                      },
                      "Identity": {
                        "type": "string",
                        "description": "Identity"
                      },
                      "IdentityCode": {
                        "type": "string",
                        "description": "IdentityCode"
                      },
                      "WarehouseName": {
                        "type": "string",
                        "description": "WarehouseName"
                      }
                    }
                  },
                  "description": "InvalidObjects"
                }
              }
            }
          }
        },
        "summary": "Set order status",
        "operationId": "SetOrderStatus",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "WarehouseName": {
                    "type": "string",
                    "description": "WarehouseName"
                  },
                  "OrderNumber": {
                    "type": "string",
                    "description": "OrderNumber"
                  },
                  "OrderStatusCode": {
                    "type": "string",
                    "description": "OrderStatusCode",
                    "title": "",
                    "enum": [
                      "UNA",
                      "WTP",
                      "PIP",
                      "WFE",
                      "EXP",
                      "CMP",
                      "REV",
                      "PRC",
                      "NEW",
                      "WFS"
                    ]
                  },
                  "OrderStatusDescription": {
                    "type": "string",
                    "description": "OrderStatusDescription"
                  }
                }
              }
            }
          }
        ],
        "description": "This API method used to set the status on orders in WithoutWire.  Parameters include:  orderStatusCode and warehouseName"
      }
    },
    "/integration/order/assignment": {
      "put": {
        "responses": {
          "429": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          },
          "default": {
            "description": "default"
		  },
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Assign order",
        "operationId": "AssignOrder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "WarehouseName": {
                    "type": "string",
                    "description": "WarehouseName"
                  },
                  "OrderNumber": {
                    "type": "string",
                    "description": "OrderNumber"
                  },
                  "Assignments": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Assignments"
                  }
                }
              }
            }
          }
        ],
        "description": "This API method used to set orders to be assigned in WithoutWire. The order status will be set to \u201cWaiting for Picking\u201d. All operators that are set for the role of \u201cpick\u201d will have access to these orders."
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.withoutwire.com"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.withoutwire.com/privacy-policy.html"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Business Management;Productivity"
      }
    ]    
}