{
  "swagger": "2.0",
  "info": {
    "title": "SigningHub",
    "description": "Securely authenticate users via SigningHub to manage digital signature workflows.",
    "version": "2.0.0",
    "contact": {
      "name": "Support",
      "url": "https://www.signinghub.com/contact-us/",
      "email": "support@ascertia.com"
    }
  },
  "host": "api.signinghub.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/x-www-form-urlencoded",
    "application/octet-stream",
    "text/json",
    "multipart/form-data"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v4/enterprise/templates/{recordPerPage}/{pageNo}": {
      "get": {
        "tags": [
          "Template"
        ],
        "summary": "Get Enterprise Templates",
        "description": "Business applications can use this service API to get list of enterprise templates of the current user. This means the enterprise administrator or the enterprise user if the \"scope\" variable was used in the authentication request.\n            \n It is possible to search based upon the criterion supplied under the \"x-search-text\" header.",
        "operationId": "V4_Template_GetEnterpriseTemplates",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "recordPerPage",
            "in": "path",
            "required": true,
            "x-ms-summary": "Number of records per page",
            "description": "Total number of records to be retrieved in a page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageNo",
            "in": "path",
            "required": true,
            "x-ms-summary": "Page number to be retrieved",
            "description": "Page number to be retrieved.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "sort-by",
            "x-originalName": "sortBy",
            "in": "query",
            "x-ms-summary": "Sort by column",
            "description": "Sort the result by possible values are mentioned above.",
            "x-schema": {
              "$ref": "#/definitions/TemplateSortBy"
            },
            "default": "CREATED_ON",
            "x-nullable": false,
            "enum": [
              "CREATED_ON",
              "NAME",
              "DESCRIPTION",
              "READ_ONLY",
              "IS_PUBLIC"
            ]
          },
          {
            "type": "boolean",
            "name": "asc",
            "in": "query",
            "x-ms-summary": "Order the result set",
            "description": "Order the result set by ascending or descending.",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "id",
            "x-originalName": "template_ids",
            "in": "query",
            "x-ms-summary": "Filter by template ids",
            "description": "Search by template ids.",
            "collectionFormat": "csv",
            "x-nullable": true,
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-search-text",
            "in": "header",
            "x-ms-summary": "Search text",
            "description": "Search text if required.  This is optional and without it the entire list is returned.</br>Furthermore, recommended value for search text parameter is in Base64 encoded format.",
            "x-example": "TXkgdGVtcGxhdGU="
          },
          {
            "type": "string",
            "name": "x-total-records",
            "in": "header",
            "x-ms-summary": "Total number of records",
            "description": "The total number of records found with the provided search criteria.",
            "x-example": "10"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EnterpriseTemplateResponse"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "<ul><li>Provided value contains unsupported characters</li><li>Page number must be greater than 0</li><li>Record per page must be greater than 0</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Your role does not allow to perform requested operation</li>\r\n            <li>Your account has been disabled</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/settings/templates/{recordPerPage}/{pageNo}": {
      "get": {
        "tags": [
          "Personal Settings"
        ],
        "summary": "Get Templates",
        "description": "Business applications can use this service API to get list of templates for the current user.\n            \n It is possible to search based upon the criterion supplied under the \"x-search-text\" header.Furthermore, it is possible to search a user's personal templates or the enterprise templates as allowed against their user role by their enterprise admin.",
        "operationId": "V4_Settings_GetTemplates",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "recordPerPage",
            "in": "path",
            "required": true,
            "x-ms-summary": "Number of records per page",
            "description": "Total number of records to be retrieved in a page.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageNo",
            "in": "path",
            "required": true,
            "x-ms-summary": "Page number to be retrieved",
            "description": "Page number to be retrieved.",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "sort-by",
            "x-originalName": "sortBy",
            "in": "query",
            "x-ms-summary": "Sort by column",
            "description": "Sort by column. Possible Values are CREATED_ON and NAME. Default is sort by CREATED_ON",
            "x-schema": {
              "$ref": "#/definitions/TemplateSortBy"
            },
            "default": "CREATED_ON",
            "x-nullable": false,
            "enum": [
              "CREATED_ON",
              "NAME",
              "DESCRIPTION",
              "READ_ONLY",
              "IS_PUBLIC"
            ]
          },
          {
            "type": "boolean",
            "name": "asc",
            "in": "query",
            "x-ms-summary": "Asc",
            "description": "The resulting list order. Default resulting list will be descending",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-search-text",
            "in": "header",
            "x-ms-summary": "Search text",
            "description": "Search text if required.  This is optional and without it the entire list is returned.</br>Furthermore, recommended value for search text parameter is in Base64 encoded format.",
            "x-example": "TXkgdGVtcGxhdGU="
          },
          {
            "type": "string",
            "name": "x-enterprise",
            "in": "header",
            "x-ms-summary": "Enterprise templates only",
            "description": "When set as \"true\" only enterprise templates list will be returned. In case of \"false\"only the user's templates list will be returned.If you do not set the header, then both enterprise and user's templates lists will be returned.",
            "enum": [
              "true",
              "false"
            ],
            "x-ms-enum": {
              "name": "CheckBoxValue",
              "modelAsString": true,
              "values": [
                {
                  "value": "true",
                  "displayName": "true"
                },
                {
                  "value": "false",
                  "displayName": "false"
                }
              ]
            },
            "default": "true"
          },
          {
            "type": "string",
            "name": "x-total-records",
            "in": "header",
            "x-ms-summary": "Total number of records",
            "description": "The total number of records found with the provided search criteria.",
            "x-example": "10"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TemplateResponse"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "<ul><li>Provided value contains unsupported characters</li><li>Page number must be greater than 0</li><li>Record per page must be greater than 0</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "User authentication is required.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "Account is disabled",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/workflow": {
      "get": {
        "tags": [
          "Document Workflow"
        ],
        "summary": "Get Workflow Details",
        "description": "Business applications can use this service API to get workflow details for the package.",
        "operationId": "V4_Workflow_GetWorkflowDetail",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The ID of the package to be downloaded.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-folder-id",
            "in": "header",
            "x-ms-summary": "Folder ID",
            "description": "Specify the folder ID, for retrieving the folder items, when a shared space folder is involved.",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkflowDetailsResponse"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "Account is disabled",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Document Processing"
        ],
        "summary": "Recall Document",
        "description": "Business applications can use this service API to stop a workflow in progress. The document ID is provided in the resource URL. After recall the document status automatically changes to \u201cDRAFT\u201d.",
        "operationId": "V4_Workflow_RecallWorkflow",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The ID of the package to be recalled.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "<ul>\r\n        <li>You are not authorised to view this document</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Request authorization denied</li>\r\n            <li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>You are not allowed to perform the requested operation</li>\r\n            <li>Document should be recalled by owner in In Progress or Pending state</li>\r\n            <li>Account is disabled </li> </ul> ",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "<ul><li>Document not found</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Document Package"
        ],
        "summary": "Share Document Package",
        "description": "Business applications can use this service API to share a document package with the signers and start a new workflow. The document should already have been prepared by applying a template and optionally updating the users and actions defined in template. The package ID to be shared is provided in the resource URL.",
        "operationId": "V4_Workflow_StartWorkflow",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The document package to be shared. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/StartWorkflowResponse"
              }
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul><li>Request authorization denied</li><li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Document does not belong to user</li>\r\n            <li>Document is no longer in draft state</li>\r\n            <li>Enterprise admin's role does not allow managing integration</li>\r\n            <li>Account is disabled</li>\r\n            <li>You are not allowed to perform the requested operation</li>\r\n            <li>Your workflows limit has been reached</li>\r\n            </ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Document not found</li>\r\n            <li>Document does not exist</li>\r\n            <li>You must add 1 or more signers before sharing the document</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Document Workflow"
        ],
        "summary": "Update Workflow Details",
        "description": "Business applications can use this service API to update the workflow details. Normally this call is useful after a template has been applied to a document, but business applications wants to override the certify permission or post processing details. The package ID is provided in the resource URL.",
        "operationId": "V4_Workflow_UpdateWorkflow",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The package ID for which workflow details need to be updated.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "workflowDetailUpdate",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/WorkflowDetailUpdateRequest"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul><li>Request authorization denied</li><li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul><li>Document does not belong to user</li><li>You are not allowed to perform this action on locked workflow</li><li>Account is disabled</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "<ul><li>Document not found</li><li>Folder name does not exists</li><li>Electronic Seal not found</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/workflow/post_process": {
      "put": {
        "tags": [
          "Document Workflow"
        ],
        "summary": "Update Post Processing",
        "description": "Business applications can use this service API to add placeholder to a workflow a document in a package.",
        "operationId": "V4_Workflow_UpdateWorkflowPostProcess",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "ID of the document package for which the post processing is being updated.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "postProcessUpdate",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PostProcessUpdateRequest"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul><li>You are not allowed to perform this action on locked workflow</li>\r\n            <li> Account is disabled </li></ul> ",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/workflow/users": {
      "get": {
        "tags": [
          "Document Workflow"
        ],
        "summary": "Get Workflow Users",
        "description": "Business applications can use this service API to get workflow details for the package.",
        "operationId": "V4_Workflow_GetWorkflowUsers",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The ID of the package to be downloaded.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-folder-id",
            "in": "header",
            "x-ms-summary": "Folder ID",
            "description": "Specify the folder ID, for retrieving the folder items, when a shared space folder is involved.",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorkflowRecipient"
              }
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Request authorization denied</li>\r\n            <li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Document does not belong to user</li>\r\n            <li>Account is disabled </li> </ul> ",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "<ul><li>Document not found</li><li>Folder name does not exists</li><li>Electronic Seal not found</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Document Workflow"
        ],
        "summary": "Add Users to Workflow",
        "description": "Business applications can use this service API to add recipients to a workflow. This call will only add a recipient to the workflow.  That is, no fields currently on the document will be automatically assigned to the new recipient(s), nor will this create any new fields.\n            \n Note the recipient(s) will be added as the last person in the workflow.Hence further work may be required to remove a current recipient(s) already present in the workflow.\n            \n At least one user must exist in a workflow before fields (input and signature) can be added to the document.\n            \n Note the input accepts one or more users in a single call.\n            \n In this specific call the user is a known natural person.  However, the same rules apply to Groups and Placeholders.  In either of these cases the  recipient becomes a Group of users whereby any member of the group can sign the document, or a Placeholder.The latter case is used when you do not know the identity of the intended signatory.\n            \n Note SigningHub workflow signing order starts at \"1\".  Hence, adding a user to workflow with no current recipient(s) begins a new signing order count.The \"signing_order\" parameter is mandatory if the workflow type is \"custom\".\n            \n Important, using this API call may affect the workflow type.If there are current recipients in a sequential workflow and a new one is added with the same signing order as a current recipient, then that part of the workflow changes automatically from sequential to parallel.Hence, the workflow overall is now of type custom as opposed to purely sequential.  Adding a recipient with the same signing order as two or parallel recipients does not change the workflow.There are merely, three or more recipients at that particular point of the workflow; all in parallel order.\n            \n Note, while XML type document preparation, only supported role types are \"SIGNER\", \"REVIEWER\" and \"CARBON_COPY\"",
        "operationId": "V4_Workflow_WorkflowAddUser",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "SigningHub package ID, which the recipients are to be added to.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "worflowUserRequest",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/WorflowUserRequest"
              }
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CollaboratorResponse"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Recipient role is not supported for an XML type document</li>\r\n            <li>You cannot add multiple signer on XML document</li>\r\n            <li>You are not allowed to add signer role (ELECTRONIC_SEAL)</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Request authorization denied</li>\r\n            <li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Document is no longer in draft state</li>\r\n            <li>Document does not belong to user</li>\r\n            <li>You are not allowed to perform this action on locked workflow</li>\r\n            <li>You are not allowed to perform the requested operation</li>\r\n            <li>Account is disabled </li> </ul> ",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Document not found</li>\r\n            <li>Group or contact not found</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/documents/{documentId}/template": {
      "post": {
        "tags": [
          "Document Package"
        ],
        "summary": "Apply Workflow Template",
        "description": "Business applications can use this service API to apply a workflow template to a document. The document ID on which template has to be applied is provided in the resource URL. When document ID is set to 0 then template will be applied to to all of the doucments in a pacakge.\n            \n While applying the template it is important to remember these two important points:\n            \n Point 1 - If the template being applied is created using a PDF which already contained form fields then ensure that the document on which this template is now being applied must contain these form fields in advance and SigningHub will NOT create those form fields via the template rather only apply the form data and assign to the respective users.\n            \n Point 2 - If the template being applied is created where form fields are manually added (hence not present in the PDF originally) via SigningHub e.g. signature field, initial, in-person signature, check boxes, radio buttons, text fields etc. then on applying such a template, these form fields will be created on the target document even if these form fields were already present in the document.",
        "operationId": "V4_Workflow_ApplyTemplate",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The Package ID of the package to which the template needs to be applied. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "documentId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Document ID",
            "description": "The document ID on which the template needs to be applied. If the value is set to 0, if template is to be applied on all the documents in the package.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "templateRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ApplyTemplateRequest"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/DocumentDetailsResponse"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul><li>Request authorization denied</li><li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul><li>Document does not belong to user</li><li>Account is disabled</li><li>Document is no longer in draft state</li><li>Enterprise admin's role does not allow managing integration</li><li>You are not authorized to view this template</li><li>You are not allowed to use this template</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "<ul><li>Document not found</li><li>Template not found</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/documents/{documentId}/attachments": {
      "get": {
        "tags": [
          "Document Package"
        ],
        "summary": "Get Attachments",
        "description": "Business applications can use this service API to get the attachments of a document.",
        "operationId": "V4_Attachment_GetAttachments",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "Package ID of the package to which the document is added. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "documentId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Document ID",
            "description": "ID of the document to which the attachment is added. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-folder-id",
            "in": "header",
            "x-ms-summary": "Folder ID",
            "description": "Specify the folder ID, for retrieving the folder items, when a shared space folder is involved.",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GetAttachmentResponse"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "<ul>\r\n                            <li>You are not authorised to view this document</li>\r\n                            <li>Document does not exist</li>\r\n                            </ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n                            <li>Account is disabled</li>\r\n                            <li>The document is no longer available for viewing</li>\r\n                            <li>You are not allowed to perform the requested operation</li>\r\n                            <li>You are not allowed by the owner to perform this action.</li>\r\n                            <li>One Time Password is required</li>\r\n                            <li>The One Time Password does not match</li>\r\n                            <li>You have entered an invalid document access password</li>\r\n                            <li>You cannot access this document before the access period starts</li>\r\n                            <li>You cannot access this document after the access period ends</li>\r\n                            </ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Document Package"
        ],
        "summary": "Upload Attachment",
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Business applications can use this service API to upload a attachment in a document.",
        "operationId": "V4_Attachment_UploadAttachment",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "Package ID of the package to which the document is added. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "documentId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Document ID",
            "description": "ID of the document to which the attachment needs to be add. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/octet-stream",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "file",
            "name": "file (binary Stream)",
            "in": "formData",
            "x-ms-summary": "Attachment File",
            "description": "This is the document in the raw binary format.",
            "format": "binary"
          },
          {
            "type": "string",
            "name": "x-field-name",
            "in": "header",
            "x-ms-summary": "Field Name",
            "description": "Field name if required. This is optional and with field name attachment field is processed.</br>Furthermore, recommended value for field name parameter is in Base64 encoded format.",
            "x-example": "U0hfQVRUQUNITUVOVF8xMjg5NDY="
          },
          {
            "type": "string",
            "name": "x-file-name",
            "in": "header",
            "required": true,
            "x-ms-summary": "File Name",
            "description": "It's the name of file with extension.",
            "x-example": "Test file.pdf"
          },
          {
            "type": "string",
            "name": "x-password",
            "in": "header",
            "x-ms-summary": "Document Password",
            "description": "The password set by the document owner for accessing the document, if any. If the password has not been set, then the value shall be null.",
            "x-example": "pincode123"
          },
          {
            "type": "string",
            "name": "x-otp",
            "in": "header",
            "x-ms-summary": "One-Time Password",
            "description": "The One-Time Password (OTP) set by the document owner for accessing the document, if any. If the OTP has not been set, then the value shall be null.",
            "x-example": "123456"
          },
          {
            "type": "string",
            "name": "x-folder-id",
            "in": "header",
            "x-ms-summary": "Folder ID",
            "description": "Specify the folder ID, for retrieving the folder items, when a shared space folder is involved.",
            "default": "0"
          }
        ],
        "responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AddAttachmentResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "<ul>\r\n                            <li>You are not authorised to view this document</li>\r\n                            <li>Document does not exist</li>\r\n                            <li>Field is no longer available to process</li>\r\n                            <li>Cannot sign this document, because it's not your turn to sign</li>\r\n                            <li>It's not your turn to sign</li>\r\n                            <li>This document is no longer available for your review - your signature delegation rights have changed or expired</li>\r\n                            <li>Individual workflow does not allow process attachments in draft mode</li>\r\n                            </ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n                            <li>Account is disabled</li>\r\n                            <li>You are not allowed to perform the requested operation</li>\r\n                            <li>You are not allowed by the owner to perform this action</li>\r\n                            <li>The document is no longer available for viewing</li>\r\n                            <li>Attachment is not supported for non pdf document</li>\r\n                            <li>The permissions defined for this workflow do not allow the document to be modified after it has been certified signed with no changes allowed</li>\r\n                            <li>Attachments and Merging is not allowed in your service plan</li>\r\n                            <li>The storage limit allowed within your enterprise has been reached - contact an enterprise administrator</li>\r\n                            <li>The document upload size limit allowed within your enterprise has been reached - contact an enterprise administrator</li>\r\n                            <li>One Time Password is required</li>\r\n                            <li>The One Time Password does not match</li>\r\n                            <li>You have entered an invalid document access password</li>\r\n                            <li>You cannot access this document before the access period starts</li>\r\n                            <li>You cannot access this document after the access period ends</li>\r\n                            <li>Document is being processed by another recipient in workflow. Please retry later.</li>\r\n                            <li>You cannot perform the requested operation once the document is locked.</li>\r\n                            <li>Managing attachments is not allowed once the document is signed.</li>\r\n                            </ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/documents/{documentId}/attachments/{attachment_id}": {
      "get": {
        "tags": [
          "Document Package"
        ],
        "summary": "Download Attachment",
        "description": "Business applications can use this service API to download the attachment of a document.",
        "operationId": "V4_Attachment_DownloadAttachment",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "Package ID of the package to which the document is added. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "documentId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Document ID",
            "description": "ID of the document to which the attachment is added. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Attachment ID",
            "description": "ID of the attachment. ",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-folder-id",
            "in": "header",
            "x-ms-summary": "Folder ID",
            "description": "Specify the folder ID, for retrieving the folder items, when a shared space folder is involved.",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "<ul>\r\n                            <li>You are not authorised to view this document</li>\r\n                            <li>Document does not exist</li>\r\n                            <li>Attachment does not exist</li>\r\n                            </ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n                            <li>Account is disabled</li>\r\n                            <li>You are not allowed to perform the requested operation</li>\r\n                            <li>You are not allowed by the owner to perform this action</li>\r\n                            <li>The document is no longer available for viewing</li>\r\n                            <li>Attachments and Merging is not allowed in your service plan</li>\r\n                            <li>One Time Password is required</li>\r\n                            <li>The One Time Password does not match</li>\r\n                            <li>You have entered an invalid document access password</li>\r\n                            <li>You cannot access this document before the access period starts</li>\r\n                            <li>You cannot access this document after the access period ends</li>\r\n                            <li>Document is being processed by another recipient in workflow. Please retry later.</li>\r\n                            <li>You cannot perform the requested operation once the document is locked.</li>\r\n                            </ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Document Package"
        ],
        "summary": "Delete Attachment",
        "description": "Business applications can use this service API to delete the attachment of a document.",
        "operationId": "V4_Attachment_DeleteAttachment",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "Package ID of the package to which the document is added. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "documentId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Document ID",
            "description": "ID of the document to which the attachment is added. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "attachment_id",
            "in": "path",
            "required": true,
            "x-ms-summary": "Attachment ID",
            "description": "ID of the attachment. ",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-folder-id",
            "in": "header",
            "x-ms-summary": "Folder ID",
            "description": "Specify the folder ID, for retrieving the folder items, when a shared space folder is involved.",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "<ul>\r\n                            <li>You are not authorised to view this document</li>\r\n                            <li>Document does not exist</li>\r\n                            <li>Attachment does not exist</li>\r\n                            </ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n                            <li>Account is disabled</li>\r\n                            <li>You are not allowed to perform the requested operation</li>\r\n                            <li>You are not allowed by the owner to perform this action</li>\r\n                            <li>The document is no longer available for viewing</li>\r\n                            <li>Attachments and Merging is not allowed in your service plan</li>\r\n                            <li>One Time Password is required</li>\r\n                            <li>The One Time Password does not match</li>\r\n                            <li>You have entered an invalid document access password</li>\r\n                            <li>You cannot access this document before the access period starts</li>\r\n                            <li>You cannot access this document after the access period ends</li>\r\n                            <li>Document is being processed by another recipient in workflow. Please retry later.</li>\r\n                            <li>You cannot perform the requested operation once the document is locked.</li>\r\n                            </ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages": {
      "post": {
        "tags": [
          "Document Package"
        ],
        "summary": "Add Package",
        "description": "This service API is used to add/create a document package to hold one or more documents. This package can then be used to add documents and recipients in order to start a new workflow.\n            \n As previously stated, this call is mandatory if you wish to work with documents. A package must exist before you can upload or add documents to SigningHub..\n            \n Even a single document is a part of a package: a package containing one document.\n            \n Note: A package can be renamed if required once created.",
        "operationId": "V4_Package_AddPackage",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "name": "documentPackageRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AddDocumentPackageRequest"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AddPackageResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "<ul><li>Provided value contains unsupported characters</li><li>Folder name could not exceed the maximum allowed length of 255 characters</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul><li>Account is disabled</li><li>You are not allowed to perform the requested operation</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "Folder name does not exists",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/approve": {
      "post": {
        "tags": [
          "Document Processing"
        ],
        "summary": "Approve Document",
        "description": "Business applications can use this service API to approve a document by a specified user in the order.",
        "operationId": "V4_Package_Approve",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The ID of the package to be approved.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "approveRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ApproveRequest"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-password",
            "in": "header",
            "x-ms-summary": "Document Access Password",
            "description": "The password set by the document owner for accessing the document, if any. If the password has not been set, then the value shall be null.",
            "default": "pincode123"
          },
          {
            "type": "string",
            "name": "x-otp",
            "in": "header",
            "x-ms-summary": "Document One-Time Password",
            "description": "The One-Time Password (OTP) set by the document owner for accessing the document, if any. If the OTP has not been set, then the value shall be null.",
            "default": "123456"
          },
          {
            "type": "string",
            "name": "x-folder-id",
            "in": "header",
            "x-ms-summary": "Folder ID",
            "description": "Specify the folder ID, for retrieving the folder items, when a shared space folder is involved.",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Request authorization denied</li>\r\n            <li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul style=\"list-style-type:none\"><li>\r\n                           { <br />\"Error\" <b>:</b> \"invalid_credentials\" <br /> \"Message\" <b>:</b> \"You have entered incorrect authentication credentials - try again\"<br />}\r\n             <br /> <br /> { <br />\"Error\" <b>:</b> \"invalid_credentials\" <br /> \"Message\" <b>:</b> \"One Time Password (OTP) is expired\"<br />}\r\n            <br /> <br /> { <br />\"Error\" <b>:</b> \"otp_required\"  <br /> \"Message\" <b>:</b> \"One time password is required\"<br />}\r\n            <br /> <br /> { <br />\"Error\" <b>:</b> \"password_required\" <br /> \"Message\" <b>:</b> \"Password authentication is required\"<br />}\r\n            <br /> <ul>\r\n            <li>You cannot access this document after the access period ends</li>\r\n            <li>Document does not belong to user</li>\r\n            <li>Account is disabled</li></ul>\r\n            </li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/gatekeeper/approve": {
      "post": {
        "tags": [
          "Document Processing"
        ],
        "summary": "Gatekeeper Approve Document",
        "description": "Business applications can use this service API to gatekeeper approve a document by a specified user in the order.",
        "operationId": "V4_Package_GatekeeperApprove",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The ID of the package to be approved.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "approveRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ApproveRequest"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-password",
            "in": "header",
            "x-ms-summary": "Document Access Password",
            "description": "The password set by the document owner for accessing the document, if any. If the password has not been set, then the value shall be null.",
            "default": "pincode123"
          },
          {
            "type": "string",
            "name": "x-otp",
            "in": "header",
            "x-ms-summary": "Document One-Time Password",
            "description": "The One-Time Password (OTP) set by the document owner for accessing the document, if any. If the OTP has not been set, then the value shall be null.",
            "default": "123456"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Request authorization denied</li>\r\n            <li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul style=\"list-style-type:none\"><li>\r\n                           { <br />\"Error\" <b>:</b> \"invalid_credentials\" <br /> \"Message\" <b>:</b> \"You have entered incorrect authentication credentials - try again\"<br />}\r\n             <br /> <br /> { <br />\"Error\" <b>:</b> \"invalid_credentials\" <br /> \"Message\" <b>:</b> \"One Time Password (OTP) is expired\"<br />}\r\n            <br /> <br /> { <br />\"Error\" <b>:</b> \"otp_required\"  <br /> \"Message\" <b>:</b> \"One time password is required\"<br />}\r\n            <br /> <br /> { <br />\"Error\" <b>:</b> \"password_required\" <br /> \"Message\" <b>:</b> \"Password authentication is required\"<br />}\r\n            <br /> <ul>\r\n            <li>You cannot access this document after the access period ends</li>\r\n            <li>You are not allowed to perform the requested operation</li>\r\n            <li>Account is disabled</li></ul>\r\n            </li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/decline": {
      "post": {
        "tags": [
          "Document Processing"
        ],
        "summary": "Decline Document",
        "description": "Business applications can use this service API to decline a document by a specified user in the order.",
        "operationId": "V4_Package_Decline",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The ID of the package to be declined. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "declineRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DeclineRequest"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-folder-id",
            "in": "header",
            "x-ms-summary": "Folder ID",
            "description": "Specify the folder ID, for retrieving the folder items, when a shared space folder is involved.",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Request authorization denied</li>\r\n            <li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Document does not belong to user</li>\r\n            <li>You cannot access this document after the access period ends</li>\r\n            <li>Account is disabled </li> </ul> ",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/gatekeeper/decline": {
      "post": {
        "tags": [
          "Document Processing"
        ],
        "summary": "Gatekeeper Decline Document",
        "description": "Business applications can use this service API to gatekeeper decline a document by a specified user in the order.",
        "operationId": "V4_Package_GatekeeperDecline",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The ID of the package to be declined. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "declineRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/DeclineRequest"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Request authorization denied</li>\r\n            <li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>You cannot access this document after the access period ends</li>\r\n            <li>You are not allowed to perform the requested operation</li>\r\n            <li>Account is disabled </li> </ul> ",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId_bulkAction}": {
      "get": {
        "tags": [
          "Document Package"
        ],
        "summary": "Download Package",
        "description": "Business applications can use this service API to download the document package in binary format.\n            \n The package ID is provided in the resource URL.\n            \n If the package contains only one document, the download is the binary PDF document.\n            \n Alternatively, if the package has more than one document, the download is the binary zip file of all documents.\n            \n The x-password and x-otp headers are optional.  They are required if the document owner set them during the workflow creation phase.",
        "operationId": "V4_Package_DownloadPackageBytes",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId_bulkAction",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "The package ID to be downloaded.",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "document-ids",
            "x-originalName": "document_ids",
            "in": "query",
            "x-ms-summary": "Document IDs",
            "description": "The Document IDs parameter is optional. If x-combine-files is set to true, the documents will be merged based on the mentioned documents of the package.",
            "collectionFormat": "csv",
            "x-nullable": true,
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-password",
            "in": "header",
            "x-ms-summary": "Document Access Password",
            "description": "The password set by the document owner for accessing the document, if any. If the password has not been set, then the value shall be null.",
            "default": "pincode123"
          },
          {
            "type": "string",
            "name": "x-otp",
            "in": "header",
            "x-ms-summary": "Document One-Time Password",
            "description": "The One-Time Password (OTP) set by the document owner for accessing the document, if any. If the OTP has not been set, then the value shall be null.",
            "default": "123456"
          },
          {
            "type": "string",
            "name": "x-combine-files",
            "in": "header",
            "x-ms-summary": "Combine Files",
            "description": "The default value is false, Set to \"true\" to combine the entire document package into a single PDF file.",
            "default": "false"
          },
          {
            "type": "string",
            "name": "x-folder-id",
            "in": "header",
            "x-ms-summary": "Folder ID",
            "description": "Specify the folder ID, for retrieving the folder items, when a shared space folder is involved.",
            "default": "0"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The document in binary form.",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul><li>Request authorization denied</li><li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul style=\"list-style-type:none\"><li>\r\n                           { <br />\"Error\" <b>:</b> \"invalid_credentials\" <br /> \"Message\" <b>:</b> \"You have entered incorrect authentication credentials - try again\"<br />}\r\n            <br /> <br /> { <br />\"Error\" <b>:</b> \"otp_required\"  <br /> \"Message\" <b>:</b> \"One time password is required\"<br />}\r\n            <br /> <br /> { <br />\"Error\" <b>:</b> \"password_required\" <br /> \"Message\" <b>:</b> \"Password authentication is required\"<br />}\r\n            <br /> <ul>\r\n            <li>Document does not belong to user</li>\r\n            <li>You cannot access this document before the access period starts</li>\r\n            <li>You cannot access this document after the access period ends</li>\r\n            <li>This document is no longer available for your review - your signature delegation rights have changed or expired</li>\r\n            <li>The One Time Password does not match</li>\r\n            <li>Downloading document is not allowed in draft mode</li>\r\n            <li>Account is disabled</li>\r\n            <li>You are not allowed to perform the requested operation</li></ul>\r\n            </li></ul>",
            "schema": {
              "$ref": "#/definitions/DetailedResponse"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Document Package"
        ],
        "summary": "Delete Package",
        "description": "Business applications can use this service API to delete a document from the user inbox. The package ID is provided in the resource URL as \"{package_id}\". If the document status is PENDING, then it is automatically declined as result of delete operation. If the document status is SHARED, then the document is automatically recalled and workflow is stopped before the document is deleted.",
        "operationId": "V4_Package_DeletePackage",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId_bulkAction",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "Package ID of the package which contains the document. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul><li>Request authorization denied</li><li>User authentication required</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul><li>Document does not belong to user</li><li>Account is disabled</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "Document not found",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Document Processing"
        ],
        "summary": "Bulk Sign Packages",
        "description": "Business applications can use this API to sign/share/sign and share multiple documents (both electronic and digital) without displaying the documents to the end user. This API needs information from the business application about document packages and the details of signatures, in-person and initials fields. On the successful completion of bulk signing transaction, the API will return the statuses and transaction ids of the document packages.\n            \n Unlike the Sign Document API, this API not only signs a document package but also marks it as approved and reviewed based on whether the recipient is a Signer, Editor or Reviewer. Any document package for which the status returns as COMPLETED has been signed, approved or reviewed by this API.\n            \n Bulk Signing works with all the signing-time authentication methods.\n            \n If SIGN is passed as bulk_action and package is in Draft state, Sign and Share will be performed automatically.\n            \n You must call this API after the [Pre Bulk Sign Documents](#operation/V4_Documents_ValidateBulkSignPackages) API.\n            \n In case you need to make changes in any of the document before signing, the [Fill Form Fields](#operation/V4_Documents_FillFormFields) API should be called before calling the Pre Bulk Sign Document API.  Remember, any mandatory input fields on a document require completing before this API will successfully complete; whereas, the auto-populated fields (like Name, Email, Date, Job Title, etc.) will be automatically filled.\n            \n The signatory is identified by the access token presented in the call.  Therefore, [authentication](#tag/Authentication) of the signatory is required prior to making this call.  You cannot authenticate as an Enterprise Admin with the scope variable, and sign a document on behalf of a user.  The access token must be issued to the signatory as a result of direct authentication.\n            \n Once document is signed, the verification response can be seen from the [Bulk Signing Status](#operation/V4_Documents_BulkSignStatus) API.\n            \n First or Second Factor OTP Usage for Authentication\n            \n In case OTP authentication is turned on for the server side signing operation, the client applications will need to generate an OTP for the mobile number using the [Bulk Sign Authentication via OTP](#operation/V4_Documents_SendsOTP) API call.  Respective business applications must retrieve the OTP from the use and submit it when making the API call.  This is done using the \"x-otp\" header in the request.",
        "operationId": "V4_Signing_BulkSignDocuments",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "name": "bulkSignRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BulkSignRequest"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "packageId_bulkAction",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "Bulk action to be performed. Possible values are: SIGN | SHARE",
            "x-schema": {
              "$ref": "#/definitions/ApiBulkSignAction"
            },
            "x-nullable": false,
            "enum": [
              "SHARE",
              "SIGN"
            ]
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "x-otp",
            "in": "header",
            "x-ms-summary": "Signing OTP",
            "description": "OTP/TOTP used as a second factor/document signing authentication for the signing operation.",
            "default": "456789"
          },
          {
            "type": "string",
            "name": "x-open-password",
            "in": "header",
            "x-ms-summary": "Document Access Password",
            "description": "The password set by the document owner for accessing the document, if any. If the password has not been set, then the value shall be null.",
            "default": "pincode123"
          },
          {
            "type": "string",
            "name": "x-open-otp",
            "in": "header",
            "x-ms-summary": "Document One-Time Password",
            "description": "The One-Time Password (OTP) set by the document owner for accessing the document, if any. If the OTP has not been set, then the value shall be null.",
            "default": "123456"
          },
          {
            "type": "string",
            "name": "x-folder-id",
            "in": "header",
            "x-ms-summary": "Folder ID",
            "description": "Specify the folder ID, for retrieving the folder items, when a shared space folder is involved.",
            "default": "0"
          },
          {
            "type": "string",
            "name": "x-mobile",
            "in": "header",
            "x-ms-summary": "Mobile Originator",
            "description": "Define the originator(Web/Mobile) of the request/action",
            "default": "TRUE"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BulkSignResponse"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Hand signature image(Base64) is required</li>\r\n            <li>String is not a valid base64</li>\r\n            <li>Signing server is required</li>\r\n            <li>Signing capacity is required</li>\r\n            <li>Faulty signature settings - review and update signature capacity settings</li>\r\n            <li>Authentication information required</li>\r\n            <li>Authentication mechanism is required</li>\r\n            <li>Authentication mechanism is invalid</li>\r\n            <li>Authentication token is required</li>\r\n            <li>user_identifier is required in authentication</li>\r\n            </ul> ",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "401": {
            "x-nullable": false,
            "description": "<ul>\r\n             <li>Requires an access token obtained by authenticating user's credentials</li>\r\n            </ul> ",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>You are not allowed to perform the requested operation </li>\r\n            <li>Account is disabled </li>\r\n            <li>Account is deleted </li>\r\n            <li>User password is required </li>\r\n            <li>Requested authentication mechanism is not allowed in your role </li>\r\n            <li>The provided credentials are incorrect </li>\r\n            <li>One Time Password is required </li>\r\n            <li>The One Time Password does not match </li>\r\n           <li>One Time Password (OTP) is expired </li></ul> ",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "<ul>\r\n            <li>Package doesnot exists</li>\r\n            <li>Package doesnot belongs to the user</li> </ul> ",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Document Package"
        ],
        "summary": "Rename Package",
        "description": "This service API is used to rename a document package.\n            \n The document package is identified by its unique identifier in the URL of the call.",
        "operationId": "V4_Package_RenamePackage",
        "security": [
          {
            "oauth2-auth": []
          }
        ],
        "parameters": [
          {
            "type": "integer",
            "name": "packageId_bulkAction",
            "in": "path",
            "required": true,
            "x-ms-summary": "Package ID",
            "description": "Package ID to change the name of. ",
            "format": "int64",
            "x-nullable": false
          },
          {
            "name": "renameDocumentPackageRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/RenameDocumentPackageRequest"
            },
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "type": "string",
            "name": "Accept",
            "in": "header",
            "required": true,
            "description": "",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EmptyResponse"
            }
          },
          "403": {
            "x-nullable": false,
            "description": "<ul><li>Account is disabled</li><li>Package rename is not allowed after workflow completion</li></ul>",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "An internal server error occurred while processing the request.",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/v4/packages/{packageId}/finish": {
      "post": {
        "tags": [
          "Document Processing"
        ],
        "summary": "Finish Processing",
[...]
