{
  "swagger": "2.0",
  "info": {
    "description": "SigningHub is a complete solution for document approval workflows, advanced digital signatures. It is designed to quickly optimize the way businesses send, review, approve and sign their business documents",
    "title": "SigningHub",
    "version": "1.2.0",
		"contact":{
			"url": "https://www.signinghub.com/contact-us/",
			"name": "Support",
			"email": "support@ascertia.com"
	}
  },
  "host": "office.signinghub.com",
  "basePath": "/Flow/v12",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/v1/about": {
      "get": {
        "description": "Get the SigningHub instance details",
        "operationId": "AboutSigningHub",
        "parameters": [],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "properties": {
                "aboutSigningHub": {
                  "description": "About SigningHub",
                  "properties": {
                    "build": {
                      "description": "Build of SigningHub instance",
                      "title": "Build",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "copyright": {
                      "description": "Copyright of SigningHub",
                      "title": "Copyright",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "installation_name": {
                      "description": "Installation name of SigningHub instance",
                      "title": "Installation name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "patents": {
                      "description": "This contains SigningHub US patent number",
                      "properties": {
                        "us_patent_no": {
                          "description": "US Patent No. of SigningHub",
                          "title": "US Patent No.",
                          "type": "string",
                          "x-ms-visibility": "important"
                        }
                      },
                      "type": "object"
                    },
                    "version": {
                      "description": "Version of SigningHub instance",
                      "title": "Version",
                      "type": "string",
                      "x-ms-visibility": "important"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "About SigningHub"
      }
    },
    "/v1/package": {
      "post": {
        "summary": "Create an Empty Workflow",
        "description": "This creates an empty workflow",
        "operationId": "AddPackage",
        "parameters": [
          {
            "name": "PackageNameRequest",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "packageName": {
                  "type": "string",
                  "description": "packageName"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "type": "object",
              "properties": {
                "packageId": {
                  "type": "string",
                  "description": "Package Id",
				  "x-ms-url-encoding": "single"
                }
              }
            }
          }
        }
      }
    },
    "/v1/packages": {
      "post": {
        "description": "Create a new workflow inside the SigningHub",
        "operationId": "CreateWorkflowOnlyMe",
        "parameters": [
          {
            "in": "body",
            "name": "CreateWorkflowRequest",
            "required": false,
            "schema": {
              "properties": {
                "documentContent": {
                  "description": "The content of the document in base64",
                  "title": "Document content",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "documentName": {
                  "description": "Create a new workflow inside the SigningHub",
                  "title": "Workflow Name",
                  "type": "string"
                }
              },
              "required": [
                "documentContent",
                "documentName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "documentId": {
                  "description": "The ID of the document",
                  "title": "Document ID",
                  "type": "string",
				  "x-ms-url-encoding": "single"
                },
                "packageId": {
                  "description": "The ID of the workflow",
                  "title": "Package ID",
                  "type": "string",
				  "x-ms-url-encoding": "single"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Create a workflow Only Me"
      }
    },
    "/v1/packages/list": {
      "post": {
        "description": "Get a list of workflows from SigningHub for the Logged-in user",
        "operationId": "GetWorkflows",
        "parameters": [
          {
            "in": "body",
            "name": "GetWorkflowsRequest",
            "required": false,
            "schema": {
              "properties": {
                "documentStatus": {
                  "default": "ALL",
                  "description": "The status of the document",
                  "enum": [
                    "ALL",
                    "DRAFT",
                    "PENDING",
                    "SIGNED",
                    "DECLINED",
                    "INPROGRESS",
                    "COMPLETED"
                  ],
                  "title": "Document status",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "folder": {
                  "default": "INBOX",
                  "description": "The folder of the user's workflow",
                  "enum": [
                    "INBOX",
                    "ARCHIVE"
                  ],
                  "title": "Folder",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "pageNo": {
                  "default": 1,
                  "description": "The number of the document page",
                  "format": "int32",
                  "title": "Page No.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "recordsPerPage": {
                  "default": 1000000,
                  "description": "The number of records per page",
                  "format": "int32",
                  "title": "Records per page",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "searchText": {
                  "description": "The search text to filter out the list",
                  "title": "Search text",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "documentStatus",
                "folder",
                "pageNo"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "items": {
                "properties": {
                  "folder": {
                    "description": "The folder of the user's workflow",
                    "title": "Folder",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "modified_on": {
                    "description": "The date of the modified",
                    "title": "Modified on",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "next_signer": {
                    "description": "The next signer of the workflow",
                    "title": "Next signer",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "next_signer_email": {
                    "description": "Next signer email address",
                    "items": {
                      "properties": {
                        "user_email": {
                          "description": "user email address",
                          "type": "string"
                        },
                        "user_name": {
                          "description": "user name",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "owner_name": {
                    "description": "The name of the workflow owner",
                    "title": "Owner name",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "package_id": {
                    "description": "The ID of the workflow",
                    "format": "int32",
                    "title": "Workflow ID",
                    "type": "integer",
                    "x-ms-visibility": "important"
                  },
                  "package_name": {
                    "description": "The name of the workflow",
                    "title": "Workflow name",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "package_owner": {
                    "description": "The email of the workflow owner",
                    "title": "Workflow owner",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "package_status": {
                    "description": "The status of the workflow",
                    "title": "Workflow status",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "unread": {
                    "description": "Unread type",
                    "enum": [
                      true,
                      false
                    ],
                    "title": "Unread",
                    "type": "boolean",
                    "x-ms-visibility": "important"
                  },
                  "uploaded_on": {
                    "description": "The date of the workflow uploaded",
                    "title": "Uploaded on",
                    "type": "string",
                    "x-ms-visibility": "important"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "summary": "Get workflows"
      }
    },
    "/v1/packages/{packageId}": {
      "post": {
        "description": "Delete existing workflow by the workflow owner",
        "operationId": "DeleteWorkflow",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "packageDeleted": {
                  "description": "The workflow deleted response",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Workflow deleted",
                  "type": "boolean",
                  "x-ms-visibility": "important"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Delete a workflow"
      }
    },
    "/v1/packages/{packageId}/approve": {
      "post": {
        "description": "Recipient can approve the workflow on this turn",
        "operationId": "ApproveDocument",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "ApproveDocumentRequest",
            "required": false,
            "schema": {
              "properties": {
                "approveReason": {
                  "description": "The reason to approve the document",
                  "title": "Approve reason",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "documentApproved": {
                  "description": "The status of the document approved",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Document approved",
                  "type": "boolean",
                  "x-ms-visibility": "important"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Approve a document",
        "x-ms-visibility": "important"
      }
    },
    "/v1/packages/{packageId}/base64": {
      "get": {
        "description": "Download all the documents in extracted/zipped format of an existing workflow from SigningHub",
        "operationId": "DownloadWorkflow",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "properties": {
                "packageContent": {
                  "description": "The content of the workflow in base64 string",
                  "format": "byte",
                  "title": "Workflow content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "packageType": {
                  "description": "The type of the workflow content",
                  "title": "Workflow type",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Download all documents of a workflow"
      }
    },
    "/v1/packages/{packageId}/complete": {
      "post": {
        "description": "Workflow owner can complete workflow at any stage to terminate it",
        "operationId": "CompleteWorkflow",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "properties": {
                "workflowCompleted": {
                  "description": "The status of the workflow completed",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Workflow completed",
                  "type": "boolean",
                  "x-ms-visibility": "important"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Complete the workflow (Terminate in the middle)"
      }
    },
    "/v1/packages/{packageId}/decline": {
      "post": {
        "description": "Recipient can decline the workflow on his turn",
        "operationId": "DeclineDocument",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "DeclineDocumentRequest",
            "required": false,
            "schema": {
              "properties": {
                "declineReason": {
                  "description": "The reason to decline the document",
                  "title": "Decline reason",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "declineReason"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "properties": {
                "documentDeclined": {
                  "description": "The status of the document declined",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Document declined",
                  "type": "boolean",
                  "x-ms-visibility": "important"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Decline a document",
        "x-ms-visibility": "important"
      }
    },
    "/v1/packages/{packageId}/documents": {
      "post": {
        "description": "Upload a document into existing workflow",
        "operationId": "UploadDocument",
        "parameters": [
          {
            "description": "The ID of the existing workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "UploadDocumentRequest",
            "required": false,
            "schema": {
              "properties": {
                "documentContent": {
                  "description": "The content of the added document in base64",
                  "format": "byte",
                  "title": "Document content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "documentName": {
                  "description": "The name of the added document with extension",
                  "title": "Document name with extension",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "documentContent",
                "documentName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "properties": {
                "documentId": {
                  "description": "The ID of the uploaded document",
                  "title": "Document ID",
                  "type": "string",
                  "x-ms-visibility": "important",
				  "x-ms-url-encoding": "single"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Upload a document into workflow"
      }
    },
    "/v1/packages/{packageId}/documents/{documentId}/base64": {
      "get": {
        "description": "Download a particular document from an existing workflow",
        "operationId": "DownloadDocument",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          },
          {
            "description": "The ID of the document",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Document ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "documentContent": {
                  "description": "The content of the document in base64 string",
                  "format": "byte",
                  "title": "Document content",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "documentType": {
                  "description": "The type of the document",
                  "title": "Document type",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Download a particular document from a workflow"
      }
    },
    "/v1/packages/{packageId}/documents/{documentId}/sign": {
      "post": {
        "description": "Signs a document by logged-in-user",
        "operationId": "SignDocument",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          },
          {
            "description": "The ID of the document",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Document ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "SignDocumentRequest",
            "required": false,
            "schema": {
              "properties": {
                "pageNo": {
                  "default": 1,
                  "description": "The number of the document page",
                  "format": "int32",
                  "title": "Page No.",
                  "type": "integer",
                  "x-ms-visibility": "important"
                },
                "pagePosition": {
                  "default": "Top Left",
                  "description": "The position on the document page",
                  "enum": [
                    "Top Left",
                    "Top Right",
                    "Bottom Left",
                    "Bottom Right",
                    "Center"
                  ],
                  "title": "Page position",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "pageX": {
                  "description": "The horizontal position on document page",
                  "format": "int32",
                  "title": "Page X",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "pageY": {
                  "description": "The vertical position on document page",
                  "format": "int32",
                  "title": "Page Y",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "pageNo",
                "pagePosition"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "properties": {
                "documentName": {
                  "description": "The name of signed document",
                  "title": "Document name",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "fieldName": {
                  "description": "The name of signed field",
                  "title": "Field name",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "status": {
                  "description": "The status of the signed document",
                  "title": "Status",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Sign document"
      }
    },
    "/v1/packages/{packageId}/documents/{documentId}/template": {
      "post": {
        "description": "Apply a provided template on the document workflow",
        "operationId": "ApplyTemplate",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          },
          {
            "description": "The ID of the document",
            "format": "int64",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Document ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "ApplyTemplateRequest",
            "required": false,
            "schema": {
              "properties": {
                "applyToAll": {
                  "default": false,
                  "description": "Apply to all documents",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Apply to all",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "templateName": {
                  "description": "The name of the applied template",
                  "title": "Template name",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "GetTemplates",
                    "value-collection": "templatesCollection",
                    "value-path": "template_name",
                    "value-title": "template_name"
                  },
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "applyToAll",
                "templateName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "properties": {
                "applyTemplate": {
                  "description": "Apply template response",
                  "properties": {
                    "certify": {
                      "description": "certify",
                      "properties": {
                        "enabled": {
                          "description": "The certify enabled value",
                          "enum": [
                            true,
                            false
                          ],
                          "title": "Certify enabled",
                          "type": "boolean",
                          "x-ms-visibility": "important"
                        },
                        "permission": {
                          "description": "The certify permission value",
                          "title": "Certify permission",
                          "type": "string",
                          "x-ms-visibility": "important"
                        }
                      },
                      "type": "object"
                    },
                    "document_height": {
                      "description": "The height of the document",
                      "format": "int32",
                      "title": "Document height",
                      "type": "integer",
                      "x-ms-visibility": "important"
                    },
                    "document_id": {
                      "description": "The ID of the document",
                      "format": "int32",
                      "title": "Document ID",
                      "type": "integer",
                      "x-ms-visibility": "important"
                    },
                    "document_name": {
                      "description": "The name of the document",
                      "title": "Document name",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "document_order": {
                      "description": "The order of the document in workflow",
                      "format": "int32",
                      "title": "Document order",
                      "type": "integer",
                      "x-ms-visibility": "important"
                    },
                    "document_pages": {
                      "description": "Total pages of the document",
                      "format": "int32",
                      "title": "Document pages",
                      "type": "integer",
                      "x-ms-visibility": "important"
                    },
                    "document_source": {
                      "description": "The source of the document",
                      "title": "Document source",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "document_type": {
                      "description": "The type of the document",
                      "title": "Document type",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "document_width": {
                      "description": "The width of the document",
                      "format": "int32",
                      "title": "Document width",
                      "type": "integer",
                      "x-ms-visibility": "important"
                    },
                    "form_fields": {
                      "description": "The form fields availability in the document",
                      "enum": [
                        true,
                        false
                      ],
                      "title": "Form fields",
                      "type": "boolean",
                      "x-ms-visibility": "important"
                    },
                    "lock_form_fields": {
                      "description": "The lock form fields enabled value",
                      "enum": [
                        true,
                        false
                      ],
                      "title": "Lock form fields",
                      "type": "boolean",
                      "x-ms-visibility": "important"
                    },
                    "modified_on": {
                      "description": "The date of the modified",
                      "title": "Modified on",
                      "type": "string",
                      "x-ms-visibility": "important"
                    },
                    "template": {
                      "description": "template properties",
                      "properties": {
                        "read_only": {
                          "description": "The ready only type of the template",
                          "enum": [
                            true,
                            false
                          ],
                          "title": "Read only",
                          "type": "boolean",
                          "x-ms-visibility": "important"
                        },
                        "template_name": {
                          "description": "The name of the applied template",
                          "title": "Template name",
                          "type": "string",
                          "x-ms-visibility": "important"
                        }
                      },
                      "type": "object"
                    },
                    "uploaded_on": {
                      "description": "The date of the uploaded on",
                      "title": "Uploaded on",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Apply template"
      }
    },
    "/v1/packages/{packageId}/share": {
      "post": {
        "description": "Share a document workflow to the recipient",
        "operationId": "ShareWorkflow",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "properties": {
                "packageID": {
                  "description": "The ID of shared workflow",
                  "format": "int64",
                  "title": "Workflow ID",
                  "type": "integer"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Share a document workflow"
      }
    },
    "/v1/packages/{packageId}/workflow": {
      "get": {
        "description": "Get the workflow details",
        "operationId": "GetWorkflowDetails",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "items": {
                "properties": {
                  "documents": {
                    "description": "documents list",
                    "items": {
                      "properties": {
                        "certify": {
                          "description": "certify flag",
                          "properties": {
                            "allowed_permissions": {
                              "description": "allowed permissions list",
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "default_permission": {
                              "description": "default permission",
                              "type": "string"
                            },
                            "enabled": {
                              "description": "enabled",
                              "type": "boolean"
                            }
                          },
                          "type": "object"
                        },
                        "created_on": {
                          "description": "created_on",
                          "type": "string"
                        },
                        "document_height": {
                          "description": "document height",
                          "format": "int32",
                          "type": "integer"
                        },
                        "document_id": {
                          "description": "document id",
                          "format": "int32",
                          "type": "integer"
                        },
                        "document_name": {
                          "description": "document name",
                          "type": "string"
                        },
                        "document_order": {
                          "description": "document order",
                          "format": "int32",
                          "type": "integer"
                        },
                        "document_pages": {
                          "description": "document pages",
                          "format": "int32",
                          "type": "integer"
                        },
                        "document_source": {
                          "description": "document source",
                          "type": "string"
                        },
                        "document_type": {
                          "description": "document type",
                          "type": "string"
                        },
                        "document_width": {
                          "description": "document width",
                          "format": "int32",
                          "type": "integer"
                        },
                        "form_fields": {
                          "description": "form fields",
                          "type": "boolean"
                        },
                        "lock_form_fields": {
                          "description": "Lock the form fields",
                          "type": "boolean"
                        },
                        "modified_on": {
                          "description": "Modified on",
                          "type": "string"
                        },
                        "template": {
                          "description": "workflow template name",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "folder": {
                    "description": "The folder type",
                    "title": "Folder",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "modified_on": {
                    "description": "The date of modified",
                    "title": "Modified on",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "next_signer": {
                    "description": "The email of the next signer",
                    "title": "Next signer",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "next_signer_email": {
                    "description": "Next signer email",
                    "items": {},
                    "type": "array"
                  },
                  "owner_name": {
                    "description": "The display name of owner",
                    "title": "Owner name",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "package_id": {
                    "description": "The ID of the workflow",
                    "format": "int64",
                    "title": "Workflow ID",
                    "type": "integer",
                    "x-ms-visibility": "important"
                  },
                  "package_name": {
                    "description": "The name of the workflow",
                    "title": "Workflow name",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "package_owner": {
                    "description": "The owner of the workflow",
                    "title": "Workflow owner",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "package_status": {
                    "description": "The current status of the workflow",
                    "title": "Package status",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "uploaded_on": {
                    "description": "The date of the workflow uploaded",
                    "title": "Uploaded on",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "users": {
                    "description": "users",
                    "items": {},
                    "type": "array"
                  },
                  "workflow": {
                    "description": "workflow",
                    "properties": {
                      "continue_on_decline": {
                        "description": "Continue on decline of the workflow",
                        "enum": [
                          true,
                          false
                        ],
                        "title": "Continue on decline",
                        "type": "boolean",
                        "x-ms-visibility": "important"
                      },
                      "message": {
                        "description": "The message if any",
                        "title": "Message",
                        "type": "string",
                        "x-ms-visibility": "internal"
                      },
                      "post_process": {
                        "description": "post_process",
                        "properties": {
                          "contacts": {
                            "description": "contacts",
                            "items": {},
                            "type": "array"
                          },
                          "dropbox": {
                            "description": "The Dropbox enabled value",
                            "enum": [
                              true,
                              false
                            ],
                            "title": "Dropbox",
                            "type": "boolean",
                            "x-ms-visibility": "important"
                          },
                          "enabled": {
                            "description": "Enabled status",
                            "enum": [
                              true,
                              false
                            ],
                            "title": "Enabled",
                            "type": "boolean",
                            "x-ms-visibility": "internal"
                          },
                          "google_drive": {
                            "description": "The Google drive enabled value",
                            "enum": [
                              true,
                              false
                            ],
                            "title": "Google drive",
                            "type": "boolean",
                            "x-ms-visibility": "important"
                          },
                          "message": {
                            "description": "The message if any",
                            "title": "Message",
                            "type": "string",
                            "x-ms-visibility": "internal"
                          },
                          "recipients": {
                            "description": "The recipients value",
                            "title": "Recipients",
                            "type": "string",
                            "x-ms-visibility": "internal"
                          },
                          "workflow_recipients": {
                            "description": "The workflow recipients value",
                            "enum": [
                              true,
                              false
                            ],
                            "title": "Workflow recipients",
                            "type": "boolean",
                            "x-ms-visibility": "important"
                          }
                        },
                        "type": "object"
                      },
                      "read_only": {
                        "description": "The workflow read only value",
                        "enum": [
                          true,
                          false
                        ],
                        "title": "Read only",
                        "type": "boolean",
                        "x-ms-visibility": "important"
                      },
                      "workflow_mode": {
                        "description": "The mode of the workflow",
                        "title": "Workflow mode",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "workflow_status": {
                        "description": "The status of the workflow",
                        "title": "Workflow status",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "workflow_type": {
                        "description": "The type of the workflow",
                        "title": "Workflow type",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "summary": "Get workflow details"
      }
    },
    "/v1/packages/{packageId}/workflow/recipients": {
      "post": {
        "description": "Get a list of recipients of an existing workflow",
        "operationId": "GetRecipients",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "properties": {
                "recipients": {
                  "description": "workflow recipients list",
                  "items": {
                    "properties": {
                      "delegatee": {
                        "description": "The email of the delegatee",
                        "title": "Delegatee",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "delegatee_name": {
                        "description": "The name of the delegatee",
                        "title": "Delegatee name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "group_members": {
                        "description": "The members of the group",
                        "title": "Group members",
                        "type": "string",
                        "x-ms-visibility": "internal"
                      },
                      "group_name": {
                        "description": "The name of the group",
                        "title": "Group name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "order": {
                        "description": "The order of the recipient",
                        "format": "int32",
                        "title": "Order",
                        "type": "integer",
                        "x-ms-visibility": "important"
                      },
                      "placeholder": {
                        "description": "The placeholder value",
                        "title": "Placeholder",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "process_status": {
                        "description": "The status of the placeholder",
                        "title": "Process status",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "processed_as": {
                        "description": "The processed as value",
                        "title": "Processed as",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "processed_by": {
                        "description": "The email of the processed by",
                        "title": "Processed by",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "processed_on": {
                        "description": "The date of the processed",
                        "title": "Processed on",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "reason": {
                        "description": "The reason if any",
                        "title": "Reason",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "role": {
                        "description": "The role of the recipient",
                        "title": "Role",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "signing_order": {
                        "description": "The order of the signing",
                        "format": "int32",
                        "title": "Signing order",
                        "type": "integer",
                        "x-ms-visibility": "important"
                      },
                      "user_email": {
                        "description": "The email of the user",
                        "title": "User email",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "user_name": {
                        "description": "The name of the user",
                        "title": "User name",
                        "type": "string",
                        "x-ms-visibility": "important"
                      },
                      "user_national_id": {
                        "description": "The national ID of the user",
                        "title": "User national ID",
                        "type": "string",
                        "x-ms-visibility": "important"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get recipients"
      }
    },
    "/v1/packages/{packageId}/workflow/users": {
      "post": {
        "description": "Add a recipient into existing workflow",
        "operationId": "AddRecipient",
        "parameters": [
          {
            "description": "The ID of the existing workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "AddRecipientRequest",
            "required": false,
            "schema": {
              "properties": {
                "addSignatureField": {
                  "default": false,
                  "description": "Add a signature field into the workflow",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Add signature field",
                  "type": "boolean",
                  "x-ms-visibility": "important"
                },
                "documentId": {
                  "description": "The ID of the document",
                  "format": "int64",
                  "title": "Document ID",
                  "type": "integer",
                  "x-ms-visibility": "advanced",
				  "x-ms-url-encoding": "single"
                },
                "emailNotification": {
                  "default": true,
                  "description": "Email notification",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Email Notification",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "onlyMe": {
                  "default": false,
                  "description": "The type of recipient as only me",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Only me",
                  "type": "boolean",
                  "x-ms-visibility": "advanced"
                },
                "pageNo": {
                  "default": 1,
                  "description": "The number of the document page",
                  "format": "int32",
                  "title": "Page No.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "pagePosition": {
                  "default": "Top Left",
                  "description": "the position on the page",
                  "enum": [
                    "Top Left",
                    "Top Right",
                    "Bottom Left",
                    "Bottom Right",
                    "Center"
                  ],
                  "title": "Page position",
                  "type": "string"
                },
                "pageX": {
                  "description": "The horizontal position on the document page",
                  "format": "int32",
                  "title": "Page X",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "pageY": {
                  "description": "The vertical position on the document page",
                  "format": "int32",
                  "title": "Page Y",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "role": {
                  "default": "SIGNER",
                  "description": "The role of the recipient",
                  "enum": [
                    "SIGNER",
                    "REVIEWER",
                    "EDITOR",
                    "CARBON_COPY",
                    "INPERSON_HOST"
                  ],
                  "title": "Role",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                },
                "signingOrder": {
                  "default": 1,
                  "description": "The order of the signing of the recipient",
                  "format": "int32",
                  "title": "Signing order",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "userEmail": {
                  "description": "The email of the recipient",
                  "title": "User email",
                  "type": "string",
                  "x-ms-visibility": "important"
                },
                "userName": {
                  "description": "The name of the recipient",
                  "title": "User name",
                  "type": "string",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "addSignatureField",
                "emailNotification",
                "pagePosition",
                "role",
                "signingOrder",
                "userEmail",
                "userName"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "recipientAdded": {
                  "description": "Recipient added response",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Recipient added",
                  "type": "boolean",
                  "x-ms-visibility": "important"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Add recipient"
      }
    },
    "/v1/packages/{packageId}/workflow/{order}": {
      "post": {
        "description": "Delete a particular recipient from an existing workflow",
        "operationId": "DeleteRecipient",
        "parameters": [
          {
            "description": "The ID of the workflow",
            "format": "int64",
            "in": "path",
            "name": "packageId",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Workflow ID",
            "x-ms-visibility": "important",
			"x-ms-url-encoding": "single"
          },
          {
            "description": "The order of the deleted recipient",
            "format": "int32",
            "in": "path",
            "name": "order",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Order",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "default response",
            "schema": {
              "properties": {
                "recipientDeleted": {
                  "description": "The recipient deleted status",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Recipient deleted",
                  "type": "boolean",
                  "x-ms-visibility": "important"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Delete recipient from a workflow"
      }
    },
    "/v1/settings/contacts/list": {
      "post": {
        "description": "Get a list of contacts related to the logged-in user from SigningHub",
        "operationId": "GetContacts",
        "parameters": [
          {
            "in": "body",
            "name": "GetContactsRequest",
            "required": false,
            "schema": {
              "properties": {
                "enterprise": {
                  "default": true,
                  "description": "The enterprise contacts list",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Enterprise",
                  "type": "boolean",
                  "x-ms-visibility": "important"
                },
                "pageNo": {
                  "default": 1,
                  "description": "The number of the page",
                  "format": "int32",
                  "title": "Page No.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "recordsPerPage": {
                  "default": 1000000,
                  "description": "The number of records per page",
                  "format": "int32",
                  "title": "Records per page",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "searchText": {
                  "description": "The searching text to filter out the list",
                  "title": "Search text",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "pageNo",
                "recordsPerPage"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "items": {
                "properties": {
                  "user_email": {
                    "description": "The email of the user",
                    "title": "User email",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "user_name": {
                    "description": "The name of the user",
                    "title": "User name",
                    "type": "string",
                    "x-ms-visibility": "important"
                  },
                  "user_national_id": {
                    "description": "The national ID of the user",
                    "title": "User national ID",
                    "type": "string",
                    "x-ms-visibility": "important"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "summary": "Get Contacts"
      }
    },
    "/v1/settings/templates/list": {
      "post": {
        "description": "Get a list of all enterprise templates from SigningHub",
        "operationId": "GetTemplates",
        "parameters": [
          {
            "in": "body",
            "name": "GetTemplatesRequest",
            "required": false,
            "schema": {
              "properties": {
                "enterprise": {
                  "default": true,
                  "description": "The enterprise templates list",
                  "enum": [
                    true,
                    false
                  ],
                  "title": "Enterprise",
                  "type": "boolean",
                  "x-ms-visibility": "important"
                },
                "pageNo": {
                  "default": 1,
                  "description": "The number of the page",
                  "format": "int32",
                  "title": "Page No.",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "recordsPerPage": {
                  "default": 1000000,
                  "description": "The number of records per page",
                  "format": "int32",
                  "title": "Records per page",
                  "type": "integer",
                  "x-ms-visibility": "advanced"
                },
                "searchText": {
                  "description": "The searching text to filter out the list",
                  "title": "Search text",
                  "type": "string",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "pageNo",
                "recordsPerPage"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "templatesCollection": {
                  "description": "templatesCollection",
                  "items": {
                    "properties": {
                      "read_only": {
                        "description": "Template is read-only for editing",
                        "enum": [
                          true,
                          false
                        ],
                        "title": "",
                        "type": "boolean"
                      },
                      "template_id": {
                        "description": "Template id",
                        "format": "int32",
                        "type": "integer"
                      },
                      "template_name": {
                        "description": "Template name",
                        "type": "string"
                      },
                      "template_public": {
                        "description": "Template is publicly accessible from enterprise",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get templates"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "email": "email",
        "openid": "openid",
        "profile": "profile"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "email",
        "openid",
        "profile"
      ]
    }
  ],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.signinghub.com"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.signinghub.com/privacy-policy/"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Content and Files;Productivity"
      }
    ]
}