{
  "swagger": "2.0",
  "info": {
    "title": "PROS AI",
    "description": "PROS AI Sales Productivity Connector Extensions",
    "termsOfService": "https://connect.pros.com/",
    "contact": {
      "name": "PROS Support",
      "url": "https://connect.pros.com/",
      "email": "support@pros.com"
    },
    "license": {
      "name": "Copyright \u00a9 2024 PROS, Inc. All Rights Reserved.",
      "url": "https://connect.pros.com/"
    },
    "version": "1.0.0",
    "x-ms-keywords": ["PROS"],
    "x-ms-openai-published-to-copilots": [
      {
        "AICopilot-enabled": true,
        "AICopilotName": "Microsoft Sales Copilot"
      }
    ]
  },
  "host": "salescopilot.proscloud.com",
  "basePath": "/api",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/diagnostics/testconnection": {
      "get": {
        "tags": ["Diagnostics"],
        "summary": "Test the connection",
        "description": "Test the connection.",
        "operationId": "TestConnection",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/testConnectionResponse"
            },
            "x-ms-summary": "The operation was successful"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/apiError"
            },
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/apiError"
            },
            "x-ms-summary": "Unauthorized"
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-openai-data": {
          "openai-enabled": true
        }
      }
    },
    "/salescopilot/getrelatedrecords": {
      "get": {
        "tags": ["Sales"],
        "summary": "This action gets records related to a CRM record",
        "description": "This action gets records related to a CRM record. The action enhances the existing skills of Copilot for Sales.",
        "operationId": "scp-get-related-records",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "query",
            "name": "recordType",
            "description": "This input identifies the record type in CRM for which related records are requested.",
            "required": true,
            "type": "string",
            "default": "account",
            "enum": ["account", "opportunity"],
            "x-ms-summary": "Entity or Object type in CRM for which related records are requested"
          },
          {
            "in": "query",
            "name": "recordId",
            "description": "This input provides the unique identifier of the CRM record for which related records are requested.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Unique identifier of the CRM record"
          },
          {
            "in": "query",
            "name": "top",
            "description": "This input indicates the number of related records to fetch.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Number of records to fetch"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "This input indicates the number of records to skip when fetching related records.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Number of records to skip"
          },
          {
            "in": "query",
            "name": "crmType",
            "description": "This input indicates the type of CRM the related records are fetched from.",
            "type": "string",
            "default": "dynamics365",
            "enum": ["dynamics365", "salesforce"],
            "x-ms-summary": "Valid values are Dynamics 365 and Salesforce"
          },
          {
            "in": "query",
            "name": "crmOrgUrl",
            "description": "This input indicates the URL of the CRM environment the related records are fetched from.",
            "type": "string",
            "x-ms-summary": "Host name of the CRM organization"
          }
        ],
        "responses": {
          "200": {
            "description": "This returns the related records.",
            "schema": {
              "$ref": "#/definitions/documentRecordListResponseEnvelope"
            },
            "x-ms-summary": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/apiError"
            },
            "x-ms-summary": "Bad Request"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/apiError"
            },
            "x-ms-summary": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/apiError"
            },
            "x-ms-summary": "Forbidden"
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/apiError"
            },
            "x-ms-summary": "Not Found"
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/apiError"
            },
            "x-ms-summary": "Server Error"
          }
        },
        "x-ms-visibility": "important",
        "x-ms-openai-data": {
          "openai-enabled": true
        }
      }
    }
  },
  "definitions": {
    "apiError": {
      "type": "object",
      "properties": {
        "errorCode": {
          "description": "Short and easy to identify an error category.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Developer friendly for more details on the error.",
          "type": "string"
        },
        "activityId": {
          "description": "Unique identifier for the request.",
          "type": "string"
        },
        "details": {
          "description": "More details about the error. Content might vary based on the error type.",
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
    },
    "documentRecord": {
      "type": "object",
      "properties": {
        "recordId": {
          "description": "This output uniquely identifies each related record returned by the action.",
          "type": "string"
        },
        "recordTypeDisplayName": {
          "description": "This output indicates the display name of record type of each related record returned by the action.",
          "type": "string"
        },
        "recordTypePluralDisplayName": {
          "description": "This output indicates the plural display name of the record type of each related record returned by the action.",
          "type": "string"
        },
        "recordType": {
          "description": "This output indicates the type of each related record returned by the action.",
          "type": "string"
        },
        "recordTitle": {
          "description": "This output indicates the title of each related record returned by the action.",
          "type": "string"
        },
        "url": {
          "description": "This output indicates the URL of each related record returned by the action.",
          "type": "string"
        },
        "additionalProperties": {
          "description": "This output indicates additional properties as name-value pairs of each related record returned by the action.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "documentRecordListResponseEnvelope": {
      "type": "object",
      "properties": {
        "value": {
          "description": "List of related records from non-CRM application.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/documentRecord"
          }
        },
        "hasMoreResults": {
          "description": "Indicates if there are more results available.",
          "type": "boolean"
        }
      }
    },
    "testConnectionResponse": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Test connection response.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "user_impersonation"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": ["user_impersonation"]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pros.com"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.pros.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Sales and CRM"
    }
  ],
  "x-ms-capabilities": {
    "testConnection": {
      "operationId": "TestConnection"
    }
  }
}
