{
  "swagger": "2.0",
  "info": {
    "version": "0.1.1",
    "title": "XC-Gate (Preview)",
    "contact": {
      "name": "Technotree",
      "url": "https://www.technotree.com/",
      "email": "powerplatform-support@technotree.com"
    },
    "description": "XC-Gate is a form digitization solution that helps improve operational efficiency in record keeping and management. XC-Gate can digitize paper forms such as daily reports and inspection sheets that exist in any business."
  },
  "host": "ms-verification.technotree.co.jp",
  "basePath": "/xcent",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/webapi/login/auth": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "cd": {
                      "type": "string",
                      "description": "result code.",
                      "title": "result code"
                    },
                    "error": {
                      "type": "string",
                      "description": "error detail code.",
                      "title": "error detail code"
                    }
                  },
                  "description": "result"
                },
                "userUCd": {
                  "type": "string",
                  "description": "user identification number.",
                  "title": "user identification number"
                },
                "authKey": {
                  "type": "string",
                  "description": "authentication key.",
                  "title": "authentication key"
                }
              }
            }
          }
        },
        "summary": "Login to XC-Gate",
        "operationId": "LoginAuth",
        "description": "Login to XC-Gate to obtain credentials.",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "host name",
            "description": "Set the host name to which the connector is to be connected."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "companyCd": {
                  "type": "string",
                  "description": "company code.",
                  "title": "company code"
                },
                "userCd": {
                  "type": "string",
                  "description": "user code.",
                  "title": "user code"
                },
                "password": {
                  "type": "string",
                  "description": "password",
                  "title": "password"
                }
              }
            }
          }
        ]
      }
    },
    "/webapi/action/find": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "cd": {
                      "type": "string",
                      "description": "result code.",
                      "title": "result code"
                    },
                    "error": {
                      "type": "string",
                      "description": "error detail code.",
                      "title": "error detail code"
                    }
                  },
                  "description": "result"
                },
                "totalCount": {
                  "type": "string",
                  "description": "number of all pages.",
                  "title": "number of all pages"
                },
                "count": {
                  "type": "string",
                  "description": "number of items in a page.",
                  "title": "number of items in a page"
                },
                "actionList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "reportCd": {
                        "type": "string",
                        "description": "check sheet no.",
                        "title": "check sheet no."
                      },
                      "title": {
                        "type": "string",
                        "description": "title",
                        "title": "title"
                      },
                      "trxCd": {
                        "type": "string",
                        "description": "transaction code.",
                        "title": "transaction code"
                      },
                      "updateTimestamp": {
                        "type": "string",
                        "description": "Last Update Time.",
                        "title": "Last Update Time"
                      },
                      "updateUserCd": {
                        "type": "string",
                        "description": "last updated user code.",
                        "title": "last updated user code"
                      },
                      "updateUserName": {
                        "type": "string",
                        "description": "last updated user name.",
                        "title": "last updated user name"
                      },
                      "attribute": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string",
                            "description": "state of work completion.",
                            "title": "state of work completion"
                          },
                          "lock": {
                            "type": "string",
                            "description": "lock attribute.",
                            "title": "lock attribute"
                          }
                        },
                        "description": "attribute."
                      },
                      "fieldMap": {
                        "type": "object",
                        "properties": {
                          "DATA1": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA1"
                          },
                          "DATA2": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA2"
                          },
                          "DATA3": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA3"
                          },
                          "DATA4": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA4"
                          },
                          "DATA5": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA5"
                          },
                          "DATA6": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA6"
                          },
                          "DATA7": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA7"
                          },
                          "DATA8": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA8"
                          },
                          "DATA9": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA9"
                          },
                          "DATA10": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA10"
                          },
                          "DATA11": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA11"
                          },
                          "DATA12": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA12"
                          },
                          "DATA13": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA13"
                          },
                          "DATA14": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA14"
                          },
                          "DATA15": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA15"
                          },
                          "DATA16": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA16"
                          },
                          "DATA17": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA17"
                          },
                          "DATA18": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA18"
                          },
                          "DATA19": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA19"
                          },
                          "DATA20": {
                            "type": "object",
                            "properties": {
                              "fieldUCd": {
                                "type": "string",
                                "description": "item definition identification code.",
                                "title": "item definition identification code"
                              },
                              "fieldNo": {
                                "type": "string",
                                "description": "item number.",
                                "title": "item number"
                              },
                              "fieldName": {
                                "type": "string",
                                "description": "item name.",
                                "title": "item name"
                              },
                              "fieldType": {
                                "type": "string",
                                "description": "item Type.",
                                "title": "item Type"
                              },
                              "fieldValue": {
                                "type": "string",
                                "description": "item value.",
                                "title": "item value"
                              },
                              "contentURL": {
                                "type": "string",
                                "description": "URL for content acquisition.",
                                "title": "URL for content acquisition"
                              },
                              "updateTimestamp": {
                                "type": "string",
                                "description": "Last Update Time.",
                                "title": "Last Update Time"
                              },
                              "updateUserCd": {
                                "type": "string",
                                "description": "last updated user code.",
                                "title": "last updated user code"
                              },
                              "updateUserName": {
                                "type": "string",
                                "description": "last updated user name.",
                                "title": "last updated user name"
                              }
                            },
                            "description": "DATA20"
                          }
                        },
                        "description": "fieldMap"
                      }
                    }
                  },
                  "description": "actionList"
                },
                "enableEpoch": {
                  "type": "string",
                  "description": "enableEpoch"
                }
              }
            }
          }
        },
        "summary": "ActionFind",
        "operationId": "ActionFind",
        "description": "Searches for and retrieves a list of achievements.",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "host name",
            "description": "Set the host name to which the connector is to be connected."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "companyCd": {
                  "type": "string",
                  "description": "company code.",
                  "title": "company code"
                },
                "userUCd": {
                  "type": "string",
                  "description": "user identification number.",
                  "title": "user identification number"
                },
                "authKey": {
                  "type": "string",
                  "description": "authentication key.",
                  "title": "authentication key"
                },
                "reportCdList": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "List of check sheet numbers to search",
                    "description": "List of check sheet numbers to search."
                  },
                  "description": "reportCdList"
                },
                "find": {
                  "type": "object",
                  "properties": {
                    "statement": {
                      "type": "string",
                      "description": "Statement/inter-element operator.",
                      "title": "Statement/inter-element operator"
                    },
                    "statementList": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "search target item key.",
                            "title": "search target item key"
                          },
                          "operator": {
                            "type": "string",
                            "description": "operator",
                            "title": "operator"
                          },
                          "value": {
                            "type": "string",
                            "description": "search value.",
                            "title": "search value"
                          }
                        }
                      },
                      "description": "statementList"
                    }
                  },
                  "description": "find"
                },
                "sortList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "description": "sort key.",
                        "title": "sort key"
                      },
                      "value": {
                        "type": "string",
                        "description": "ascending-order entry.",
                        "title": "ascending-order entry"
                      }
                    }
                  },
                  "description": "sortList"
                },
                "pageSize": {
                  "type": "string",
                  "description": "number of lines retrieved in one page.",
                  "title": "number of lines retrieved in one page"
                },
                "pageNo": {
                  "type": "string",
                  "description": "page number to get list.",
                  "title": "page number to get list"
                },
                "requestList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fieldName": {
                        "type": "string",
                        "description": "item name.",
                        "title": "item name"
                      },
                      "returnName": {
                        "type": "string",
                        "description": "DATA number. (fixed to DATA1, DATA2, ... DATA20)",
                        "title": "DATA number"
                      }
                    }
                  },
                  "description": "requestList"
                },
                "enableEpoch": {
                  "type": "string",
                  "description": "obtained on a daily basis.",
                  "title": "obtained on a daily basis"
                }
              }
            }
          }
        ]
      }
    },
    "/webapi/action/get": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "object",
                  "properties": {
                    "cd": {
                      "type": "string",
                      "description": "result code.",
                      "title": "result code"
                    },
                    "error": {
                      "type": "string",
                      "description": "error detail code.",
                      "title": "error detail code"
                    }
                  },
                  "description": "result"
                },
                "action": {
                  "type": "object",
                  "properties": {
                    "reportCd": {
                      "type": "string",
                      "description": "check sheet no.",
                      "title": "check sheet no."
                    },
                    "title": {
                      "type": "string",
                      "description": "title",
                      "title": "title"
                    },
                    "trxCd": {
                      "type": "string",
                      "description": "transaction code.",
                      "title": "transaction code"
                    },
                    "updateTimestamp": {
                      "type": "string",
                      "description": "Last Update Time.",
                      "title": "Last Update Time"
                    },
                    "updateUserCd": {
                      "type": "string",
                      "description": "last updated user code.",
                      "title": "last updated user code"
                    },
                    "updateUserName": {
                      "type": "string",
                      "description": "last updated user name.",
                      "title": "last updated user name"
                    },
                    "attribute": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "state of work completion.",
                          "title": "state of work completion"
                        },
                        "lock": {
                          "type": "string",
                          "description": "lock attribute.",
                          "title": "lock attribute"
                        }
                      },
                      "description": "attribute"
                    },
                    "trxData": {
                      "type": "object",
                      "properties": {
                        "sheetList": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "sheetUCd": {
                                "type": "string",
                                "description": "sheet definition identification code.",
                                "title": "sheet definition identification code"
                              },
                              "sheetNo": {
                                "type": "string",
                                "description": "sheet no.",
                                "title": "sheet no."
                              },
                              "sheetName": {
                                "type": "string",
                                "description": "sheet name.",
                                "title": "sheet name"
                              },
                              "fieldList": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "fieldUCd": {
                                      "type": "string",
                                      "description": "item definition identification code.",
                                      "title": "item definition identification code"
                                    },
                                    "fieldNo": {
                                      "type": "string",
                                      "description": "item number.",
                                      "title": "item number"
                                    },
                                    "fieldName": {
                                      "type": "string",
                                      "description": "item name.",
                                      "title": "item name"
                                    },
                                    "fieldType": {
                                      "type": "string",
                                      "description": "item Type.",
                                      "title": "item Type"
                                    },
                                    "fieldValue": {
                                      "type": "string",
                                      "description": "item value.",
                                      "title": "item value"
                                    },
                                    "contentURL": {
                                      "type": "string",
                                      "description": "URL for content acquisition.",
                                      "title": "URL for content acquisition"
                                    },
                                    "updateTimestamp": {
                                      "type": "string",
                                      "description": "Last Update Time.",
                                      "title": "Last Update Time"
                                    },
                                    "updateUserCd": {
                                      "type": "string",
                                      "description": "last updated user code.",
                                      "title": "last updated user code"
                                    },
                                    "updateUserName": {
                                      "type": "string",
                                      "description": "last updated user name.",
                                      "title": "last updated user name"
                                    }
                                  }
                                },
                                "description": "fieldList"
                              },
                              "photoList": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "contentURL": {
                                      "type": "string",
                                      "description": "URL for content acquisition.",
                                      "title": "URL for content acquisition"
                                    }
                                  }
                                },
                                "description": "photoList"
                              }
                            }
                          },
                          "description": "sheetList"
                        }
                      },
                      "description": "trxData"
                    }
                  },
                  "description": "action"
                },
                "enableEpoch": {
                  "type": "string",
                  "description": "obtained on a daily basis.",
                  "title": "obtained on a daily basis"
                }
              }
            }
          }
        },
        "summary": "ActionGet",
        "description": "Obtains various types of information on designated performance.",
        "operationId": "ActionGet",
        "parameters": [
          {
            "name": "host",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "host name",
            "description": "Set the host name to which the connector is to be connected."
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "companyCd": {
                  "type": "string",
                  "description": "company code.",
                  "title": "company code"
                },
                "userUCd": {
                  "type": "string",
                  "description": "user identification number.",
                  "title": "user identification number"
                },
                "authKey": {
                  "type": "string",
                  "description": "authentication key.",
                  "title": "authentication key"
                },
                "reportCd": {
                  "type": "string",
                  "description": "check sheet no.",
                  "title": "check sheet no."
                },
                "title": {
                  "type": "string",
                  "description": "title of results to be obtained.",
                  "title": "title of results to be obtained"
                },
                "trxCdx": {
                  "type": "string",
                  "description": "obtained on a daily basis.",
                  "title": "obtained on a daily basis"
                },
                "enableEpoch": {
                  "type": "string",
                  "description": "obtained on a daily basis.",
                  "title": "obtained on a daily basis"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://product.technotree.com/xc-gate/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.technotree.com/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ]
}