{
  "swagger": "2.0",
  "info": {
    "title": "ConvertKit",
    "description": "ConvertKit is the go-to marketing hub for creators that helps you grow and monetize your audience with ease. Convert your followers from social media, YouTube, and more to your email list with a beautiful landing page and opt-in templates.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.convertkit.com",
  "basePath": "/v3/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/account": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "plan_type": {
                  "type": "string",
                  "description": "The type of plan.",
                  "title": "Plan Type"
                },
                "primary_email_address": {
                  "type": "string",
                  "description": "The primary email address.",
                  "title": "Primary Email Address"
                }
              }
            }
          }
        },
        "summary": "Get account",
        "description": "Retrieves the current account.",
        "operationId": "Account",
        "parameters": []
      }
    },
    "/forms": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "forms": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "format": {
                        "type": "string",
                        "description": "The format.",
                        "title": "Format"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "embed_js": {
                        "type": "string",
                        "description": "The Javascript to embed.",
                        "title": "Embed JS"
                      },
                      "embed_url": {
                        "type": "string",
                        "description": "The URL address to embed.",
                        "title": "Embed URL"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "sign_up_button_text": {
                        "type": "string",
                        "description": "The sign up button text.",
                        "title": "Sign Up Button Text"
                      },
                      "success_message": {
                        "type": "string",
                        "description": "The success message.",
                        "title": "Success Message"
                      },
                      "archived": {
                        "type": "boolean",
                        "description": "Whether archived.",
                        "title": "Archived"
                      },
                      "uid": {
                        "type": "string",
                        "description": "The unique identifier.",
                        "title": "UID"
                      }
                    }
                  },
                  "title": "Forms"
                }
              }
            }
          }
        },
        "summary": "Get forms",
        "description": "Retrieve a list of all the forms for your account.",
        "operationId": "FormList",
        "parameters": []
      }
    },
    "/forms/{form_id}/subscribe": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "subscription": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "referrer": {
                      "type": "string",
                      "description": "The referrer.",
                      "title": "Referrer"
                    },
                    "subscribable_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribable unique identifier.",
                      "title": "Subscribable ID"
                    },
                    "subscribable_type": {
                      "type": "string",
                      "description": "The subscribable type.",
                      "title": "Subscribable Type"
                    },
                    "subscriber": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The unique identifier.",
                          "title": "ID"
                        },
                        "first_name": {
                          "type": "string",
                          "description": "The first name.",
                          "title": "First Name"
                        },
                        "email_address": {
                          "type": "string",
                          "description": "The email address.",
                          "title": "Email Address"
                        },
                        "state": {
                          "type": "string",
                          "description": "The state.",
                          "title": "State"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "When created at.",
                          "title": "Created At"
                        },
                        "fields": {
                          "type": "object",
                          "properties": {},
                          "description": "The fields.",
                          "title": "Fields"
                        }
                      },
                      "title": "Subscriber"
                    }
                  },
                  "title": "Subscription"
                }
              }
            }
          }
        },
        "summary": "Add subscriber to a form",
        "description": "Subscribe an email address to one of your forms.",
        "operationId": "FormSubAdd",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "x-ms-summary": "Form ID",
            "x-ms-url-encoding": "single",
            "description": "The form unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "fields": {
                  "type": "object",
                  "properties": {},
                  "description": "The fields.",
                  "title": "Fields"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The items.",
                    "title": "Items"
                  },
                  "title": "Tags"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ]
      }
    },
    "/forms/{form_id}/subscriptions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total_subscriptions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total subscriptions.",
                  "title": "Total Subscriptions"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total pages.",
                  "title": "Total Pages"
                },
                "subscriptions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "referrer": {
                        "type": "string",
                        "description": "The referrer.",
                        "title": "Referrer"
                      },
                      "subscribable_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The subscribable unique identifier.",
                        "title": "Subscribable ID"
                      },
                      "subscribable_type": {
                        "type": "string",
                        "description": "The subscribable type.",
                        "title": "Subscribable Type"
                      },
                      "subscriber": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "email_address": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email Address"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "last_name": {
                                "type": "string",
                                "description": "The last name.",
                                "title": "Last Name"
                              }
                            },
                            "title": "Fields"
                          }
                        },
                        "title": "Subscriber"
                      }
                    }
                  },
                  "title": "Subscriptions"
                }
              }
            }
          }
        },
        "summary": "List subscriptions to a form",
        "description": "Retrieves a list of subscriptions to a form including subscriber data.",
        "operationId": "FormSubList",
        "parameters": [
          {
            "name": "form_id",
            "in": "path",
            "x-ms-summary": "Form ID",
            "x-ms-url-encoding": "single",
            "description": "The form unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sort_order",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "subscriber_state",
            "in": "query",
            "x-ms-summary": "Subscriber State",
            "description": "The state of the subscriber.",
            "required": false,
            "type": "string",
            "default": "active",
            "enum": [
              "active",
              "cancelled"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/sequences": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "courses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Courses"
                }
              }
            }
          }
        },
        "summary": "List sequences",
        "description": "Retrieves a list of sequences for the account.",
        "operationId": "SequenceList",
        "parameters": []
      }
    },
    "/sequences/{sequence_id}/subscribe": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "subscription": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "referrer": {
                      "type": "string",
                      "description": "The referrer.",
                      "title": "Referrer"
                    },
                    "subscribable_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribable unique identifier.",
                      "title": "Subscribable ID"
                    },
                    "subscribable_type": {
                      "type": "string",
                      "description": "The subscribable type.",
                      "title": "Subscribable Type"
                    },
                    "subscriber": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The unique identifier.",
                          "title": "ID"
                        }
                      },
                      "title": "Subscriber"
                    }
                  },
                  "title": "Subscription"
                }
              }
            }
          }
        },
        "summary": "Add subscriber to a sequence",
        "parameters": [
          {
            "name": "sequence_id",
            "in": "path",
            "x-ms-summary": "Sequence ID",
            "x-ms-url-encoding": "single",
            "description": "The sequence unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "fields": {
                  "type": "object",
                  "properties": {},
                  "description": "The fields.",
                  "title": "Fields"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The items.",
                    "title": "Items"
                  },
                  "title": "Tags"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "description": "Subscribe an email address to one of your sequences.",
        "operationId": "SequenceSubAdd"
      }
    },
    "/sequences/{sequence_id}/subscriptions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total_subscriptions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total subscriptions.",
                  "title": "Total Subscriptions"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total pages.",
                  "title": "Total Pages"
                },
                "subscriptions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "referrer": {
                        "type": "string",
                        "description": "The referrer.",
                        "title": "Referrer"
                      },
                      "subscribable_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The subscribable unique identifier.",
                        "title": "Subscribable ID"
                      },
                      "subscribable_type": {
                        "type": "string",
                        "description": "The subscribable type.",
                        "title": "Subscribable Type"
                      },
                      "subscriber": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "email_address": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email Address"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "last_name": {
                                "type": "string",
                                "description": "The last name.",
                                "title": "Last Name"
                              }
                            },
                            "title": "Fields"
                          }
                        },
                        "title": "Subscriber"
                      }
                    }
                  },
                  "title": "Subscriptions"
                }
              }
            }
          }
        },
        "summary": "List subscriptions to a sequence",
        "description": "Retrieves subscriptions to a sequence including subscriber data.",
        "operationId": "SequenceSubList",
        "parameters": [
          {
            "name": "sequence_id",
            "in": "path",
            "x-ms-summary": "Sequence ID",
            "x-ms-url-encoding": "single",
            "description": "The sequence unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sort_order",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "subscriber_state",
            "in": "query",
            "x-ms-summary": "Subscriber State",
            "description": "The state of the subscriber.",
            "required": false,
            "type": "string",
            "default": "active",
            "enum": [
              "active",
              "cancelled"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "List tags",
        "description": "Retrieves a list of tags for the account.",
        "operationId": "TagList",
        "parameters": []
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "account_id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The account unique identifier.",
                  "title": "Account ID"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "deleted_at": {
                  "type": "string",
                  "description": "When deleted at.",
                  "title": "Deleted At"
                },
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "state": {
                  "type": "string",
                  "description": "The state.",
                  "title": "State"
                },
                "updated_at": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                }
              }
            }
          }
        },
        "summary": "Create a tag",
        "description": "Creates a new tag.",
        "operationId": "TagAdd",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "tag": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    }
                  },
                  "title": "Tag",
                  "required": [
                    "name"
                  ]
                }
              },
              "required": [
                "tag"
              ]
            }
          }
        ]
      }
    },
    "/tags/{tag_id}/subscribe": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "subscription": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "referrer": {
                      "type": "string",
                      "description": "The referrer.",
                      "title": "Referrer"
                    },
                    "subscribable_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subscribable unique identifier.",
                      "title": "Subscribable ID"
                    },
                    "subscribable_type": {
                      "type": "string",
                      "description": "The subscribable type.",
                      "title": "Subscribable Type"
                    },
                    "subscriber": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The unique identifier.",
                          "title": "ID"
                        }
                      },
                      "title": "Subscriber"
                    }
                  },
                  "title": "Subscription"
                }
              }
            }
          }
        },
        "summary": "Tag a subscriber",
        "description": "Tags are handled as subscriptions. Subscribe an email address to a tag to have that tag applied to the subscriber with that email address.",
        "operationId": "TagSub",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "fields": {
                  "type": "object",
                  "properties": {},
                  "description": "The fields.",
                  "title": "Fields"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The items.",
                    "title": "Items"
                  },
                  "title": "Tags"
                }
              }
            }
          }
        ]
      }
    },
    "/subscribers/{subscriber_id}/tags/{tag_id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                }
              }
            }
          }
        },
        "summary": "Remove tag from subscriber",
        "description": "Removes a tag from a subscriber.",
        "operationId": "TagSubRemove",
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "x-ms-summary": "Subscriber ID",
            "x-ms-url-encoding": "single",
            "description": "The subscriber unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag_id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/tags/{tag_id}/unsubscribe": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "created_at": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                }
              }
            }
          }
        },
        "summary": "Remove tag from subscriber by email",
        "description": "Remove a tag from a subscriber by email address.",
        "operationId": "TagSubRemoveEmail",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ]
      }
    },
    "/tags/{tag_id}/subscriptions": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total_subscriptions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total subscriptions.",
                  "title": "Total Subscriptions"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total pages.",
                  "title": "Total Pages"
                },
                "subscriptions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "referrer": {
                        "type": "string",
                        "description": "The referrer.",
                        "title": "Referrer"
                      },
                      "subscribable_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The subscribable unique identifier.",
                        "title": "Subscribable ID"
                      },
                      "subscribable_type": {
                        "type": "string",
                        "description": "The subscribable type.",
                        "title": "Subscribable Type"
                      },
                      "subscriber": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unique identifier.",
                            "title": "ID"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The first name.",
                            "title": "First Name"
                          },
                          "email_address": {
                            "type": "string",
                            "description": "The email address.",
                            "title": "Email Address"
                          },
                          "state": {
                            "type": "string",
                            "description": "The state.",
                            "title": "State"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "fields": {
                            "type": "object",
                            "properties": {
                              "last_name": {
                                "type": "string",
                                "description": "The last name.",
                                "title": "Last Name"
                              }
                            },
                            "title": "Fields"
                          }
                        },
                        "title": "Subscriber"
                      }
                    }
                  },
                  "title": "Subscriptions"
                }
              }
            }
          }
        },
        "summary": "List subscriptions to a tag",
        "description": "Retrieves a list of subscriptions to a tag including subscriber data.",
        "operationId": "TagSubList",
        "parameters": [
          {
            "name": "tag_id",
            "in": "path",
            "x-ms-summary": "Tag ID",
            "x-ms-url-encoding": "single",
            "description": "The tag unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sort_order",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "subscriber_state",
            "in": "query",
            "x-ms-summary": "Subscriber State",
            "description": "The state of the subscriber.",
            "required": false,
            "type": "string",
            "default": "active",
            "enum": [
              "active",
              "cancelled"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/subscribers": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total_subscribers": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total subscribers.",
                  "title": "Total Subscribers"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total pages.",
                  "title": "Total Pages"
                },
                "subscribers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "The first name.",
                        "title": "First Name"
                      },
                      "email_address": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email Address"
                      },
                      "state": {
                        "type": "string",
                        "description": "The state.",
                        "title": "State"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "fields": {
                        "type": "object",
                        "properties": {
                          "last_name": {
                            "type": "string",
                            "description": "The last name.",
                            "title": "Last Name"
                          }
                        },
                        "title": "Fields"
                      }
                    }
                  },
                  "title": "Subscribers"
                }
              }
            }
          }
        },
        "summary": "List subscribers",
        "description": "Returns a list of your subscribers. For unsubscribes only, use the cancelled at value for sort field param (currently the only supported extra sort field).",
        "operationId": "SubscriberList",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From",
            "description": "The from.",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "description": "The to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_from",
            "in": "query",
            "x-ms-summary": "Updated From",
            "description": "When updated from.",
            "required": false,
            "type": "string"
          },
          {
            "name": "updated_to",
            "in": "query",
            "x-ms-summary": "Updated To",
            "description": "When updated to.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort_order",
            "in": "query",
            "x-ms-summary": "Sort Order",
            "description": "The sort order.",
            "required": false,
            "type": "string",
            "default": "asc",
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "name": "sort_field",
            "in": "query",
            "x-ms-summary": "Sort Field",
            "description": "The sort field.",
            "required": false,
            "type": "string",
            "default": "",
            "enum": [
              "",
              "cancelled_at"
            ]
          },
          {
            "name": "email_address",
            "in": "query",
            "x-ms-summary": "Email Address",
            "description": "The email address.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/subscribers/{subscriber_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "subscriber": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "email_address": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email Address"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "fields": {
                      "type": "object",
                      "properties": {
                        "last_name": {
                          "type": "string",
                          "description": "The last name.",
                          "title": "Last Name"
                        }
                      },
                      "title": "Fields"
                    }
                  },
                  "title": "Subscriber"
                }
              }
            }
          }
        },
        "summary": "Get a subscriber",
        "description": "Retrieves a single subscriber record.",
        "operationId": "SubscriberGet",
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "x-ms-summary": "Subscriber ID",
            "x-ms-url-encoding": "single",
            "description": "The subscriber unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "subscriber": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "email_address": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email Address"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "fields": {
                      "type": "object",
                      "properties": {},
                      "description": "The fields.",
                      "title": "Fields"
                    }
                  },
                  "title": "Subscriber"
                }
              }
            }
          }
        },
        "summary": "Update subscriber",
        "description": "Updates the information for a single subscriber.",
        "operationId": "SubscriberUpdate",
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "x-ms-summary": "Subscriber ID",
            "x-ms-url-encoding": "single",
            "description": "The subscriber unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "first_name": {
                  "type": "string",
                  "description": "The first name.",
                  "title": "First Name"
                },
                "email_address": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email Address"
                },
                "fields": {
                  "type": "object",
                  "properties": {},
                  "description": "The fields.",
                  "title": "Fields"
                }
              }
            }
          }
        ]
      }
    },
    "/unsubscribe": {
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "subscriber": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "email_address": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email Address"
                    },
                    "state": {
                      "type": "string",
                      "description": "The state.",
                      "title": "State"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "fields": {
                      "type": "object",
                      "properties": {
                        "last_name": {
                          "type": "string",
                          "description": "The last name.",
                          "title": "Last Name"
                        }
                      },
                      "title": "Fields"
                    }
                  },
                  "title": "Subscriber"
                }
              }
            }
          }
        },
        "summary": "Unsubscribe subscriber",
        "description": "Unsubscribe a subscriber from all your forms and sequences.",
        "operationId": "SubscriberUnsub",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ]
      }
    },
    "/subscribers/{subscriber_id}/tags": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Tags"
                }
              }
            }
          }
        },
        "summary": "List subscriber's tags",
        "description": "Retrieves a list of all the tags for a subscriber.",
        "operationId": "SubscriberTags",
        "parameters": [
          {
            "name": "subscriber_id",
            "in": "path",
            "x-ms-summary": "Subscriber ID",
            "x-ms-url-encoding": "single",
            "description": "The subscriber unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/broadcasts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "broadcasts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "subject": {
                        "type": "string",
                        "description": "The subject.",
                        "title": "Subject"
                      }
                    }
                  },
                  "title": "Broadcasts"
                }
              }
            }
          }
        },
        "summary": "List broadcasts",
        "description": "Retrieves a list of all the broadcasts for your account.",
        "operationId": "BroadcastList",
        "parameters": []
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "broadcast": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "subject": {
                      "type": "string",
                      "description": "The subject.",
                      "title": "Subject"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "content": {
                      "type": "string",
                      "description": "The content.",
                      "title": "Content"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "Whether public.",
                      "title": "Public"
                    },
                    "published_at": {
                      "type": "string",
                      "description": "When published at.",
                      "title": "Published At"
                    },
                    "send_at": {
                      "type": "string",
                      "description": "When sent at.",
                      "title": "Send At"
                    },
                    "thumbnail_alt": {
                      "type": "string",
                      "description": "The alt-text for the thumbnail.",
                      "title": "Thumbnail Alt"
                    },
                    "thumbnail_url": {
                      "type": "string",
                      "description": "The URL address for thumbnail.",
                      "title": "Thumbnail URL"
                    },
                    "email_address": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email Address"
                    },
                    "email_layout_template": {
                      "type": "string",
                      "description": "The email layout template.",
                      "title": "Email Layout Template"
                    }
                  },
                  "title": "Broadcast"
                }
              }
            }
          }
        },
        "summary": "Create a broadcast",
        "description": "Create a draft or scheduled broadcast. You can create a draft broadcast without any attributes. Scheduled broadcasts at a minimum should contain a subject line and your content.",
        "operationId": "BroadcastAdd",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject.",
                  "title": "Subject"
                },
                "content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                },
                "email_address": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email Address"
                },
                "email_layout_template": {
                  "type": "string",
                  "description": "The email layout template.",
                  "title": "Email Layout Template"
                },
                "public": {
                  "type": "boolean",
                  "description": "Whether public.",
                  "title": "Public"
                },
                "published_at": {
                  "type": "string",
                  "description": "When published at.",
                  "title": "Published At"
                },
                "send_at": {
                  "type": "string",
                  "description": "When send at.",
                  "title": "Send At"
                },
                "thumbnail_alt": {
                  "type": "string",
                  "description": "The alt-text for the thumbnail.",
                  "title": "Thumbnail Alt"
                },
                "thumbnail_url": {
                  "type": "string",
                  "description": "The URL address for the thumbnail.",
                  "title": "Thumbnail URL"
                }
              }
            }
          }
        ]
      }
    },
    "/broadcasts/{broadcast_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "broadcast": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "subject": {
                      "type": "string",
                      "description": "The subject.",
                      "title": "Subject"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "content": {
                      "type": "string",
                      "description": "The content.",
                      "title": "Content"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "Whether public.",
                      "title": "Public"
                    },
                    "published_at": {
                      "type": "string",
                      "description": "When published at.",
                      "title": "Published At"
                    },
                    "send_at": {
                      "type": "string",
                      "description": "When sent at.",
                      "title": "Send At"
                    },
                    "thumbnail_alt": {
                      "type": "string",
                      "description": "The alt-text for the thumbnail.",
                      "title": "Thumbnail Alt"
                    },
                    "thumbnail_url": {
                      "type": "string",
                      "description": "The URL address for thumbnail.",
                      "title": "Thumbnail URL"
                    },
                    "email_address": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email Address"
                    },
                    "email_layout_template": {
                      "type": "string",
                      "description": "The email layout template.",
                      "title": "Email Layout Template"
                    }
                  },
                  "title": "Broadcast"
                }
              }
            }
          }
        },
        "summary": "Retrieve a broadcast",
        "description": "Retrieves the details of a specific broadcast, including draft, scheduled, and previously-sent broadcasts.",
        "operationId": "BroadcastGet",
        "parameters": [
          {
            "name": "broadcast_id",
            "in": "path",
            "x-ms-summary": "Broadcast ID",
            "x-ms-url-encoding": "single",
            "description": "The broadcast unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "broadcast": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The unique identifier.",
                      "title": "ID"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "subject": {
                      "type": "string",
                      "description": "The subject.",
                      "title": "Subject"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description.",
                      "title": "Description"
                    },
                    "content": {
                      "type": "string",
                      "description": "The content.",
                      "title": "Content"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "Whether public.",
                      "title": "Public"
                    },
                    "published_at": {
                      "type": "string",
                      "description": "When published at.",
                      "title": "Published At"
                    },
                    "send_at": {
                      "type": "string",
                      "description": "When sent at.",
                      "title": "Send At"
                    },
                    "thumbnail_alt": {
                      "type": "string",
                      "description": "The alt-text for the thumbnail.",
                      "title": "Thumbnail Alt"
                    },
                    "thumbnail_url": {
                      "type": "string",
                      "description": "The URL address for thumbnail.",
                      "title": "Thumbnail URL"
                    },
                    "email_address": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email Address"
                    },
                    "email_layout_template": {
                      "type": "string",
                      "description": "The email layout template.",
                      "title": "Email Layout Template"
                    }
                  },
                  "title": "Broadcast"
                }
              }
            }
          }
        },
        "summary": "Update a broadcast",
        "description": "Updates the attributes of a specific broadcast. Broadcasts that are currently sending or that have been sent may not be updated.",
        "operationId": "BroadcastUpdate",
        "parameters": [
          {
            "name": "broadcast_id",
            "in": "path",
            "x-ms-summary": "Broadcast ID",
            "x-ms-url-encoding": "single",
            "description": "The broadcast unique identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "subject": {
                  "type": "string",
                  "description": "The subject.",
                  "title": "Subject"
                },
                "content": {
                  "type": "string",
                  "description": "The content.",
                  "title": "Content"
                },
                "email_address": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email Address"
                },
                "email_layout_template": {
                  "type": "string",
                  "description": "The email layout template.",
                  "title": "Email Layout Template"
                },
                "public": {
                  "type": "boolean",
                  "description": "Whether public.",
                  "title": "Public"
                },
                "published_at": {
                  "type": "string",
                  "description": "When published at.",
                  "title": "Published At"
                },
                "send_at": {
                  "type": "string",
                  "description": "When send at.",
                  "title": "Send At"
                },
                "thumbnail_alt": {
                  "type": "string",
                  "description": "The alt-text for the thumbnail.",
                  "title": "Thumbnail Alt"
                },
                "thumbnail_url": {
                  "type": "string",
                  "description": "The URL address for the thumbnail.",
                  "title": "Thumbnail URL"
                }
              }
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Destroy a broadcast",
        "description": "Permanently delete a draft or scheduled broadcast record. Broadcasts that are currently sending or that have been sent may not be deleted.",
        "operationId": "BroadcastDelete",
        "parameters": [
          {
            "name": "broadcast_id",
            "in": "path",
            "x-ms-summary": "Broadcast ID",
            "x-ms-url-encoding": "single",
            "description": "The broadcast unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/broadcasts/{broadcast_id}/stats": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "broadcast": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "stats": {
                        "type": "object",
                        "properties": {
                          "recipients": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The recipients.",
                            "title": "Recipients"
                          },
                          "open_rate": {
                            "type": "number",
                            "format": "float",
                            "description": "The open rate.",
                            "title": "Open Rate"
                          },
                          "click_rate": {
                            "type": "number",
                            "format": "float",
                            "description": "The click rate.",
                            "title": "Click Rate"
                          },
                          "unsubscribes": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unsubscribes.",
                            "title": "Unsubscribes"
                          },
                          "total_clicks": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The total clicks.",
                            "title": "Total Clicks"
                          },
                          "show_total_clicks": {
                            "type": "boolean",
                            "description": "Whether to show total clicks.",
                            "title": "Show Total Clicks"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "progress": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The progress.",
                            "title": "Progress"
                          }
                        },
                        "title": "Stats"
                      }
                    }
                  },
                  "title": "Broadcast"
                }
              }
            }
          }
        },
        "summary": "Get broadcast stats",
        "description": "Retrieves the statistics (recipient count, open rate, click rate, unsubscribe count, total clicks, status, and send progress) for a specific broadcast.",
        "operationId": "BroadcastGetStat",
        "parameters": [
          {
            "name": "broadcast_id",
            "in": "path",
            "x-ms-summary": "Broadcast ID",
            "x-ms-url-encoding": "single",
            "description": "The broadcast unique identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/purchases": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total_purchases": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total purchases.",
                  "title": "Total Purchases"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page.",
                  "title": "Page"
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total pages.",
                  "title": "Total Pages"
                },
                "purchases": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unique identifier.",
                        "title": "ID"
                      },
                      "transaction_id": {
                        "type": "string",
                        "description": "The transaction unique identifier.",
                        "title": "Transaction ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "email_address": {
                        "type": "string",
                        "description": "The email address.",
                        "title": "Email Address"
                      },
                      "currency": {
                        "type": "string",
                        "description": "The currency.",
                        "title": "Currency"
                      },
                      "transaction_time": {
                        "type": "string",
                        "description": "The transaction time.",
                        "title": "Transaction Time"
                      },
                      "subtotal": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The subtotal.",
                        "title": "Subtotal"
                      },
                      "shipping": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The shipping.",
                        "title": "Shipping"
                      },
                      "discount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The discount.",
                        "title": "Discount"
                      },
                      "tax": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The tax.",
                        "title": "Tax"
                      },
                      "total": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The total.",
                        "title": "Total"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "unit_price": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The unit price.",
                              "title": "Unit Price"
                            },
                            "quantity": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The quantity.",
                              "title": "Quantity"
                            },
                            "sku": {
                              "type": "string",
                              "description": "The SKU.",
                              "title": "SKU"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            }
                          }
                        },
                        "title": "Products"
                      }
                    }
                  },
                  "title": "Purchases"
                }
              }
            }
          }
        },
        "summary": "List purchases",
        "description": "Retrieve a list of all purchases for an account.",
        "operationId": "PurchaseList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "transaction_id": {
                  "type": "string",
                  "description": "The transaction unique identifier.",
                  "title": "Transaction ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "email_address": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email Address"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency.",
                  "title": "Currency"
                },
                "transaction_time": {
                  "type": "string",
                  "description": "The transaction time.",
                  "title": "Transaction Time"
                },
                "subtotal": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The subtotal.",
                  "title": "Subtotal"
                },
                "discount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The discount.",
                  "title": "Discount"
                },
                "tax": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The tax.",
                  "title": "Tax"
                },
                "shipping": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The shipping.",
                  "title": "Shipping"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "products": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "unit_price": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The unit price.",
                        "title": "Unit Price"
                      },
                      "quantity": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The quantity.",
                        "title": "Quantity"
                      },
                      "sku": {
                        "type": "string",
                        "description": "The SKU.",
                        "title": "SKU"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      }
                    }
                  },
                  "title": "Products"
                }
              }
            }
          }
        },
        "summary": "Create a purchase",
        "description": "Create a purchase.",
        "operationId": "PurchaseAdd",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "purchase": {
                  "type": "object",
                  "properties": {
                    "transaction_id": {
                      "type": "string",
                      "description": "The transaction unique identifier.",
                      "title": "Transaction ID"
                    },
                    "email_address": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email Address"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "The first name.",
                      "title": "First Name"
                    },
                    "currency": {
                      "type": "string",
                      "description": "The currency.",
                      "title": "Currency"
                    },
                    "transaction_time": {
                      "type": "string",
                      "description": "The transaction time.",
                      "title": "Transaction Time"
                    },
                    "subtotal": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The subtotal.",
                      "title": "Subtotal"
                    },
                    "tax": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The tax.",
                      "title": "Tax"
                    },
                    "shipping": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The shipping.",
                      "title": "Shipping"
                    },
                    "discount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The discount.",
                      "title": "Discount"
                    },
                    "total": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The total.",
                      "title": "Total"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The personal identifier.",
                            "title": "PID"
                          },
                          "lid": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The LID.",
                            "title": "LID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "sku": {
                            "type": "string",
                            "description": "The SKU.",
                            "title": "SKU"
                          },
                          "unit_price": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The unit price.",
                            "title": "Unit Price"
                          },
                          "quantity": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The quantity.",
                            "title": "Quantity"
                          }
                        },
                        "required": [
                          "unit_price",
                          "quantity",
                          "name",
                          "pid",
                          "lid"
                        ]
                      },
                      "title": "Products"
                    }
                  },
                  "title": "Purchase",
                  "required": [
                    "transaction_id",
                    "email_address",
                    "currency",
                    "products"
                  ]
                }
              },
              "required": [
                "purchase"
              ]
            }
          }
        ]
      }
    },
    "/purchases/{purchase_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The unique identifier.",
                  "title": "ID"
                },
                "transaction_id": {
                  "type": "string",
                  "description": "The transaction unique identifier.",
                  "title": "Transaction ID"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "email_address": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email Address"
                },
                "currency": {
                  "type": "string",
                  "description": "The currency.",
                  "title": "Currency"
                },
                "transaction_time": {
                  "type": "string",
                  "description": "The transaction time.",
                  "title": "Transaction Time"
                },
                "subtotal": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The subtotal.",
                  "title": "Subtotal"
                },
                "shipping": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The shipping.",
                  "title": "Shipping"
                },
                "discount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The discount.",
                  "title": "Discount"
                },
                "tax": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The tax.",
                  "title": "Tax"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "products": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "unit_price": {
[...]
