{
  "swagger": "2.0",
  "info": {
    "title": "Instatus",
    "description": "Get a status page that's resilient to downtime & quick to load. Your status page is static and loads independently from any backend.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.instatus.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/pages": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "subdomain": {
                    "type": "string",
                    "description": "The subdomain.",
                    "title": "Subdomain"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "logoUrl": {
                    "type": "string",
                    "description": "The logo URL address.",
                    "title": "Logo URL"
                  },
                  "faviconUrl": {
                    "type": "string",
                    "description": "The favicon URL address.",
                    "title": "Favicon URL"
                  },
                  "websiteUrl": {
                    "type": "string",
                    "description": "The website URL address.",
                    "title": "Website URL"
                  },
                  "customDomain": {
                    "type": "string",
                    "description": "The custom domain.",
                    "title": "Custom Domain"
                  },
                  "publicEmail": {
                    "type": "string",
                    "description": "The public email.",
                    "title": "Public Email"
                  },
                  "twitter": {
                    "type": "string",
                    "description": "The Twitter handle.",
                    "title": "Twitter"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "subscribeBySms": {
                    "type": "boolean",
                    "description": "Whether subscribe by SMS is enabled.",
                    "title": "Subscribe By SMS"
                  },
                  "language": {
                    "type": "string",
                    "description": "The language.",
                    "title": "Language"
                  },
                  "useLargeHeader": {
                    "type": "boolean",
                    "description": "Whether to use large header.",
                    "title": "Use Large Header"
                  },
                  "brandColor": {
                    "type": "string",
                    "description": "The brand color.",
                    "title": "Brand Color"
                  },
                  "okColor": {
                    "type": "string",
                    "description": "The OK color.",
                    "title": "OK Color"
                  },
                  "disruptedColor": {
                    "type": "string",
                    "description": "The disrupted color.",
                    "title": "Disrupted Color"
                  },
                  "degradedColor": {
                    "type": "string",
                    "description": "The degraded color.",
                    "title": "Degraded Color"
                  },
                  "downColor": {
                    "type": "string",
                    "description": "The down color.",
                    "title": "Down Color"
                  },
                  "noticeColor": {
                    "type": "string",
                    "description": "The notice color.",
                    "title": "Notice Color"
                  },
                  "unknownColor": {
                    "type": "string",
                    "description": "The unknown color.",
                    "title": "Unknown Color"
                  },
                  "googleAnalytics": {
                    "type": "string",
                    "description": "The Google Analytics.",
                    "title": "Google Analytics"
                  },
                  "smsService": {
                    "type": "string",
                    "description": "The SMS service.",
                    "title": "SMS Service"
                  },
                  "htmlInMeta": {
                    "type": "string",
                    "description": "The HTML in meta.",
                    "title": "HTML In Meta"
                  },
                  "htmlAboveHeader": {
                    "type": "string",
                    "description": "The HTML above header.",
                    "title": "HTML Above Header"
                  },
                  "htmlBelowHeader": {
                    "type": "string",
                    "description": "The HTML below header.",
                    "title": "HTML Below Header"
                  },
                  "htmlAboveFooter": {
                    "type": "string",
                    "description": "The HTML above footer.",
                    "title": "HTML Above Footer"
                  },
                  "htmlBelowFooter": {
                    "type": "string",
                    "description": "The HTML below footer.",
                    "title": "HTML Below Footer"
                  },
                  "htmlBelowSummary": {
                    "type": "string",
                    "description": "The HTML below summary.",
                    "title": "HTML Below Summary"
                  },
                  "launchDate": {
                    "type": "string",
                    "description": "The launch date.",
                    "title": "Launch Date"
                  },
                  "cssGlobal": {
                    "type": "string",
                    "description": "The CSS global.",
                    "title": "CSS Global"
                  },
                  "onboarded": {
                    "type": "string",
                    "description": "The onboarded.",
                    "title": "Onboarded"
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updatedAt": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  }
                }
              }
            }
          }
        },
        "summary": "Get status pages",
        "description": "Retrieve a list of your status pages.",
        "operationId": "PagesGet",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "x-ms-summary": "Number per Page",
            "description": "The number per page.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/v1/pages": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "subdomain": {
                  "type": "string",
                  "description": "The subdomain.",
                  "title": "Subdomain"
                },
                "logoUrl": {
                  "type": "string",
                  "description": "The logo URL address.",
                  "title": "Logo URL"
                },
                "faviconUrl": {
                  "type": "string",
                  "description": "The favicon URL address.",
                  "title": "Favicon URL"
                },
                "websiteUrl": {
                  "type": "string",
                  "description": "The website URL address.",
                  "title": "Website URL"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "color": {
                  "type": "string",
                  "description": "The color.",
                  "title": "Color"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "googleAnalytics": {
                  "type": "string",
                  "description": "The Google Analytics.",
                  "title": "Google Analytics"
                },
                "publicEmail": {
                  "type": "string",
                  "description": "The public email address.",
                  "title": "Public Email"
                },
                "customDomain": {
                  "type": "string",
                  "description": "The custom domain.",
                  "title": "Custom Domain"
                },
                "useLargeHeader": {
                  "type": "boolean",
                  "description": "Whether to use large header.",
                  "title": "Use Large Header"
                },
                "disableDarkMode": {
                  "type": "string",
                  "description": "The disabled dark mode.",
                  "title": "Disable Dark Mode"
                },
                "twitter": {
                  "type": "string",
                  "description": "The Twitter handle.",
                  "title": "Twitter"
                },
                "subscribeBySms": {
                  "type": "string",
                  "description": "The subscribe by SMS.",
                  "title": "Subscribe By SMS"
                },
                "brandColor": {
                  "type": "string",
                  "description": "The brand color.",
                  "title": "Brand Color"
                },
                "okColor": {
                  "type": "string",
                  "description": "The OK color.",
                  "title": "OK Color"
                },
                "disruptedColor": {
                  "type": "string",
                  "description": "The disrupted color.",
                  "title": "Disrupted Color"
                },
                "downColor": {
                  "type": "string",
                  "description": "The down color.",
                  "title": "Down Color"
                },
                "degradedColor": {
                  "type": "string",
                  "description": "The degraded color.",
                  "title": "Degraded Color"
                },
                "noticeColor": {
                  "type": "string",
                  "description": "The notice color.",
                  "title": "Notice Color"
                },
                "htmlInMeta": {
                  "type": "string",
                  "description": "The HTML in meta.",
                  "title": "HTML In Meta"
                },
                "htmlAboveHeader": {
                  "type": "string",
                  "description": "The HTML above header.",
                  "title": "HTML Above Header"
                },
                "htmlBelowHeader": {
                  "type": "string",
                  "description": "The HTML below header.",
                  "title": "HTML Below Header"
                },
                "htmlAboveFooter": {
                  "type": "string",
                  "description": "The HTML above footer.",
                  "title": "HTML Above Footer"
                },
                "htmlBelowFooter": {
                  "type": "string",
                  "description": "The HTML below footer.",
                  "title": "HTML Below Footer"
                },
                "htmlBelowSummary": {
                  "type": "string",
                  "description": "The HTML below summary.",
                  "title": "HTML Below Summary"
                },
                "cssGlobal": {
                  "type": "string",
                  "description": "The CSS global.",
                  "title": "CSS Global"
                },
                "onboarded": {
                  "type": "string",
                  "description": "The onboarded.",
                  "title": "Onboarded"
                },
                "launchDate": {
                  "type": "string",
                  "description": "The launch date.",
                  "title": "Launch Date"
                },
                "dateFormat": {
                  "type": "string",
                  "description": "The date format.",
                  "title": "Date Format"
                },
                "dateFormatShort": {
                  "type": "string",
                  "description": "The date format short.",
                  "title": "Date Format Short"
                },
                "timeFormat": {
                  "type": "string",
                  "description": "The time format.",
                  "title": "Time Format"
                },
                "private": {
                  "type": "boolean",
                  "description": "Whether private.",
                  "title": "Private"
                },
                "useAllowList": {
                  "type": "boolean",
                  "description": "Whether to use allow list.",
                  "title": "Use Allow List"
                },
                "allowList": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The allow list.",
                  "title": "Allow List"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "showUptime": {
                        "type": "boolean",
                        "description": "Whether to show uptime.",
                        "title": "Show Uptime"
                      },
                      "order": {
                        "type": "string",
                        "description": "The order.",
                        "title": "Order"
                      },
                      "group": {
                        "type": "string",
                        "description": "The group.",
                        "title": "Group"
                      },
                      "incidents": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The incidents.",
                        "title": "Incidents"
                      }
                    }
                  },
                  "title": "Components"
                }
              }
            }
          }
        },
        "summary": "Create status page",
        "description": "Create a new status page based on your requested parameters.",
        "operationId": "PagePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "subdomain": {
                  "type": "string",
                  "description": "The subdomain.",
                  "title": "Subdomain"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The components.",
                  "title": "Components"
                },
                "logoUrl": {
                  "type": "string",
                  "description": "The logo URL address.",
                  "title": "Logo URL"
                },
                "faviconUrl": {
                  "type": "string",
                  "description": "The favicon URL address.",
                  "title": "Favicon URL"
                },
                "websiteUrl": {
                  "type": "string",
                  "description": "The website URL address.",
                  "title": "Website URL"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "useLargeHeader": {
                  "type": "boolean",
                  "description": "Whether to use large header.",
                  "title": "Use Large Header"
                },
                "brandColor": {
                  "type": "string",
                  "description": "The brand color.",
                  "title": "Brand Color"
                },
                "okColor": {
                  "type": "string",
                  "description": "The OK color.",
                  "title": "OK Color"
                },
                "disruptedColor": {
                  "type": "string",
                  "description": "The disrupted color.",
                  "title": "Disrupted Color"
                },
                "degradedColor": {
                  "type": "string",
                  "description": "The degraded color.",
                  "title": "Degraded Color"
                },
                "downColor": {
                  "type": "string",
                  "description": "The down color.",
                  "title": "Down Color"
                },
                "noticeColor": {
                  "type": "string",
                  "description": "The notice color.",
                  "title": "Notice Color"
                },
                "unknownColor": {
                  "type": "string",
                  "description": "The unknown color.",
                  "title": "Unknown Color"
                },
                "googleAnalytics": {
                  "type": "string",
                  "description": "The Google Analytics.",
                  "title": "Google Analytics"
                },
                "subscribeBySms": {
                  "type": "boolean",
                  "description": "Whether to subscribe by SMS.",
                  "title": "Subscribe By SMS"
                },
                "smsService": {
                  "type": "string",
                  "description": "The SMS service.",
                  "title": "SMS Service"
                },
                "twilioSid": {
                  "type": "string",
                  "description": "The Twilio SID.",
                  "title": "Twilio SID"
                },
                "twilioToken": {
                  "type": "string",
                  "description": "The Twilio token.",
                  "title": "Twilio Token"
                },
                "twilioSender": {
                  "type": "string",
                  "description": "The Twilio sender.",
                  "title": "Twilio Sender"
                },
                "htmlInMeta": {
                  "type": "string",
                  "description": "The HTML in meta.",
                  "title": "HTML In Meta"
                },
                "htmlAboveHeader": {
                  "type": "string",
                  "description": "The HTML above header.",
                  "title": "HTML Above Header"
                },
                "htmlBelowHeader": {
                  "type": "string",
                  "description": "The HTML below header.",
                  "title": "HTML Below Header"
                },
                "htmlAboveFooter": {
                  "type": "string",
                  "description": "The HTML above footer.",
                  "title": "HTML Above Footer"
                },
                "htmlBelowFooter": {
                  "type": "string",
                  "description": "The HTML below footer.",
                  "title": "HTML Below Footer"
                },
                "htmlBelowSummary": {
                  "type": "string",
                  "description": "The HTML below summary.",
                  "title": "HTML Below Summary"
                },
                "cssGlobal": {
                  "type": "string",
                  "description": "The CSS global.",
                  "title": "CSS Global"
                },
                "launchDate": {
                  "type": "string",
                  "description": "The launch date.",
                  "title": "Launch Date"
                },
                "dateFormat": {
                  "type": "string",
                  "description": "The date format.",
                  "title": "Date Format"
                },
                "dateFormatShort": {
                  "type": "string",
                  "description": "The date format short.",
                  "title": "Date Format Short"
                },
                "timeFormat": {
                  "type": "string",
                  "description": "The time format.",
                  "title": "Time Format"
                }
              }
            }
          }
        ]
      }
    },
    "/v2/{page_id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Delete status page",
        "description": "Deletes a status page.",
        "operationId": "PageDelete",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "subdomain": {
                  "type": "string",
                  "description": "The subdomain.",
                  "title": "Subdomain"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "logoUrl": {
                  "type": "string",
                  "description": "The logo URL address.",
                  "title": "Logo URL"
                },
                "faviconUrl": {
                  "type": "string",
                  "description": "The favicon URL address.",
                  "title": "Favicon URL"
                },
                "websiteUrl": {
                  "type": "string",
                  "description": "The website URL address.",
                  "title": "Website URL"
                },
                "color": {
                  "type": "string",
                  "description": "The color.",
                  "title": "Color"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "googleAnalytics": {
                  "type": "string",
                  "description": "The Google Analytics.",
                  "title": "Google Analytics"
                },
                "publicEmail": {
                  "type": "string",
                  "description": "The public email address.",
                  "title": "Public Email"
                },
                "customDomain": {
                  "type": "string",
                  "description": "The custom domain.",
                  "title": "Custom Domain"
                },
                "useLargeHeader": {
                  "type": "boolean",
                  "description": "Whether to use large header.",
                  "title": "Use Large Header"
                },
                "disableDarkMode": {
                  "type": "string",
                  "description": "The disabled dark mode.",
                  "title": "Disable Dark Mode"
                },
                "twitter": {
                  "type": "string",
                  "description": "The Twitter handle.",
                  "title": "Twitter"
                },
                "subscribeBySms": {
                  "type": "string",
                  "description": "The subscribe by SMS.",
                  "title": "Subscribe By SMS"
                },
                "brandColor": {
                  "type": "string",
                  "description": "The brand color.",
                  "title": "Brand Color"
                },
                "okColor": {
                  "type": "string",
                  "description": "The OK color.",
                  "title": "OK Color"
                },
                "disruptedColor": {
                  "type": "string",
                  "description": "The disrupted color.",
                  "title": "Disrupted Color"
                },
                "downColor": {
                  "type": "string",
                  "description": "The down color.",
                  "title": "Down Color"
                },
                "degradedColor": {
                  "type": "string",
                  "description": "The degraded color.",
                  "title": "Degraded Color"
                },
                "noticeColor": {
                  "type": "string",
                  "description": "The notice color.",
                  "title": "Notice Color"
                },
                "htmlInMeta": {
                  "type": "string",
                  "description": "The HTML in meta.",
                  "title": "HTML In Meta"
                },
                "htmlAboveHeader": {
                  "type": "string",
                  "description": "The HTML above header.",
                  "title": "HTML Above Header"
                },
                "htmlBelowHeader": {
                  "type": "string",
                  "description": "The HTML below header.",
                  "title": "HTML Below Header"
                },
                "htmlAboveFooter": {
                  "type": "string",
                  "description": "The HTML above footer.",
                  "title": "HTML Above Footer"
                },
                "htmlBelowFooter": {
                  "type": "string",
                  "description": "The HTML below footer.",
                  "title": "HTML Below Footer"
                },
                "htmlBelowSummary": {
                  "type": "string",
                  "description": "The HTML below summary.",
                  "title": "HTML Below Summary"
                },
                "cssGlobal": {
                  "type": "string",
                  "description": "The CSS global.",
                  "title": "CSS Global"
                },
                "onboarded": {
                  "type": "string",
                  "description": "The onboarded.",
                  "title": "Onboarded"
                },
                "launchDate": {
                  "type": "string",
                  "description": "The launch date.",
                  "title": "Launch Date"
                },
                "dateFormat": {
                  "type": "string",
                  "description": "The date format.",
                  "title": "Date Format"
                },
                "dateFormatShort": {
                  "type": "string",
                  "description": "The date format short.",
                  "title": "Date Format Short"
                },
                "timeFormat": {
                  "type": "string",
                  "description": "The time format.",
                  "title": "Time Format"
                },
                "private": {
                  "type": "boolean",
                  "description": "Whether private.",
                  "title": "Private"
                },
                "useAllowList": {
                  "type": "boolean",
                  "description": "Whether to use allow list.",
                  "title": "Use Allow List"
                },
                "allowList": {
                  "type": "array",
                  "items": {},
                  "description": "The allow list.",
                  "title": "Allow List"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "showUptime": {
                        "type": "boolean",
                        "description": "Whether to show uptime.",
                        "title": "Show Uptime"
                      },
                      "order": {
                        "type": "string",
                        "description": "The order.",
                        "title": "Order"
                      },
                      "group": {
                        "type": "string",
                        "description": "The group.",
                        "title": "Group"
                      },
                      "incidents": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The incidents.",
                        "title": "Incidents"
                      }
                    }
                  },
                  "title": "Components"
                }
              }
            }
          }
        },
        "summary": "Update status page",
        "description": "Update a created status page.",
        "operationId": "PagePut",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "subdomain": {
                  "type": "string",
                  "description": "The subdomain.",
                  "title": "Subdomain"
                },
                "logoUrl": {
                  "type": "string",
                  "description": "The logo URL address.",
                  "title": "Logo URL"
                },
                "faviconUrl": {
                  "type": "string",
                  "description": "The favicon URL address.",
                  "title": "Favicon URL"
                },
                "websiteUrl": {
                  "type": "string",
                  "description": "The website URL address.",
                  "title": "Website URL"
                },
                "language": {
                  "type": "string",
                  "description": "The language.",
                  "title": "Language"
                },
                "publicEmail": {
                  "type": "string",
                  "description": "The public email address.",
                  "title": "Public Email"
                },
                "useLargeHeader": {
                  "type": "boolean",
                  "description": "Whether to use large header.",
                  "title": "Use Large Header"
                },
                "brandColor": {
                  "type": "string",
                  "description": "The brand color.",
                  "title": "Brand Color"
                },
                "okColor": {
                  "type": "string",
                  "description": "The OK color.",
                  "title": "OK Color"
                },
                "disruptedColor": {
                  "type": "string",
                  "description": "The disrupted color.",
                  "title": "Disrupted Color"
                },
                "degradedColor": {
                  "type": "string",
                  "description": "The degraded color.",
                  "title": "Degraded Color"
                },
                "downColor": {
                  "type": "string",
                  "description": "The down color.",
                  "title": "Down Color"
                },
                "noticeColor": {
                  "type": "string",
                  "description": "The notice color.",
                  "title": "Notice Color"
                },
                "unknownColor": {
                  "type": "string",
                  "description": "The unknown color.",
                  "title": "Unknown Color"
                },
                "googleAnalytics": {
                  "type": "string",
                  "description": "The Google Analytics.",
                  "title": "Google Analytics"
                },
                "subscribeBySms": {
                  "type": "boolean",
                  "description": "Whether to subscribe by SMS.",
                  "title": "Subscribe By SMS"
                },
                "smsService": {
                  "type": "string",
                  "description": "The SMS service.",
                  "title": "SMS Service"
                },
                "twilioSid": {
                  "type": "string",
                  "description": "The Twilio SID.",
                  "title": "Twilio SID"
                },
                "twilioToken": {
                  "type": "string",
                  "description": "The Twilio token.",
                  "title": "Twilio Token"
                },
                "twilioSender": {
                  "type": "string",
                  "description": "The Twilio sender.",
                  "title": "Twilio Sender"
                },
                "htmlInMeta": {
                  "type": "string",
                  "description": "The HTML in meta.",
                  "title": "HTML In Meta"
                },
                "htmlAboveHeader": {
                  "type": "string",
                  "description": "The HTML above header.",
                  "title": "HTML Above Header"
                },
                "htmlBelowHeader": {
                  "type": "string",
                  "description": "The HTML below header.",
                  "title": "HTML Below Header"
                },
                "htmlAboveFooter": {
                  "type": "string",
                  "description": "The HTML above footer.",
                  "title": "HTML Above Footer"
                },
                "htmlBelowFooter": {
                  "type": "string",
                  "description": "The HTML below footer.",
                  "title": "HTML Below Footer"
                },
                "htmlBelowSummary": {
                  "type": "string",
                  "description": "The HTML below summary.",
                  "title": "HTML Below Summary"
                },
                "cssGlobal": {
                  "type": "string",
                  "description": "The CSS global.",
                  "title": "CSS Global"
                },
                "launchDate": {
                  "type": "string",
                  "description": "The launch date.",
                  "title": "Launch Date"
                },
                "dateFormat": {
                  "type": "string",
                  "description": "The date format.",
                  "title": "Date Format"
                },
                "dateFormatShort": {
                  "type": "string",
                  "description": "The date format short.",
                  "title": "Date Format Short"
                },
                "timeFormat": {
                  "type": "string",
                  "description": "The time format.",
                  "title": "Time Format"
                },
                "private": {
                  "type": "boolean",
                  "description": "Whether private.",
                  "title": "Private"
                },
                "useAllowList": {
                  "type": "boolean",
                  "description": "Whether to use allow list.",
                  "title": "Use Allow List"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/{page_id}/components": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "uniqueEmail": {
                    "type": "string",
                    "description": "The unique email address.",
                    "title": "Unique Email"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description.",
                    "title": "Description"
                  },
                  "showUptime": {
                    "type": "boolean",
                    "description": "Whether to show uptime.",
                    "title": "Show Uptime"
                  },
                  "order": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The order.",
                    "title": "Order"
                  },
                  "group": {
                    "type": "string",
                    "description": "The group.",
                    "title": "Group"
                  }
                }
              }
            }
          }
        },
        "summary": "Get status page components",
        "description": "Retrieve a list of all your status page components.",
        "operationId": "ComponentsGet",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "x-ms-summary": "Number per Page",
            "description": "The number per page.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "uniqueEmail": {
                  "type": "string",
                  "description": "The unique email address.",
                  "title": "Unique Email"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "showUptime": {
                  "type": "boolean",
                  "description": "Whether to show uptime.",
                  "title": "Show Uptime"
                },
                "order": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The order.",
                  "title": "Order"
                },
                "group": {
                  "type": "string",
                  "description": "The group.",
                  "title": "Group"
                }
              }
            }
          }
        },
        "summary": "Create component",
        "description": "Creates a component on a page.",
        "operationId": "ComponentPost",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "order": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The order.",
                  "title": "Order"
                },
                "showUptime": {
                  "type": "boolean",
                  "description": "Whether to show uptime.",
                  "title": "Show Uptime"
                },
                "grouped": {
                  "type": "boolean",
                  "description": "Whether grouped.",
                  "title": "Grouped"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/{page_id}/components/{component_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "uniqueEmail": {
                  "type": "string",
                  "description": "The unique email address.",
                  "title": "Unique Email"
                },
                "showUptime": {
                  "type": "boolean",
                  "description": "Whether to show uptime.",
                  "title": "Show Uptime"
                },
                "order": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The order.",
                  "title": "Order"
                },
                "group": {
                  "type": "string",
                  "description": "The group.",
                  "title": "Group"
                }
              }
            }
          }
        },
        "summary": "Get component",
        "description": "Retrieve a component on a page.",
        "operationId": "ComponentGet",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "component_id",
            "in": "path",
            "x-ms-summary": "Component ID",
            "x-ms-url-encoding": "single",
            "description": "The component identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Delete component",
        "description": "Deletes a component on a page.",
        "operationId": "ComponentDelete",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "component_id",
            "in": "path",
            "x-ms-summary": "Component ID",
            "x-ms-url-encoding": "single",
            "description": "The component identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "uniqueEmail": {
                  "type": "string",
                  "description": "The unique email address.",
                  "title": "Unique Email"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "showUptime": {
                  "type": "boolean",
                  "description": "Whether to show uptime.",
                  "title": "Show Uptime"
                },
                "order": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The order.",
                  "title": "Order"
                },
                "group": {
                  "type": "string",
                  "description": "The group.",
                  "title": "Group"
                }
              }
            }
          }
        },
        "summary": "Update component",
        "description": "Updates a component on a page.",
        "operationId": "ComponentPut",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "component_id",
            "in": "path",
            "x-ms-summary": "Component ID",
            "x-ms-url-encoding": "single",
            "description": "The component identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "description": {
                  "type": "string",
                  "description": "The description.",
                  "title": "Description"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "order": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The order.",
                  "title": "Order"
                },
                "showUptime": {
                  "type": "boolean",
                  "description": "Whether to show uptime.",
                  "title": "Show Uptime"
                },
                "grouped": {
                  "type": "boolean",
                  "description": "Whether grouped.",
                  "title": "Grouped"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/{page_id}/incidents": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "The name.",
                    "title": "Name"
                  },
                  "started": {
                    "type": "string",
                    "description": "When started.",
                    "title": "Started"
                  },
                  "status": {
                    "type": "string",
                    "description": "The status.",
                    "title": "Status"
                  },
                  "resolved": {
                    "type": "string",
                    "description": "When resolved.",
                    "title": "Resolved"
                  },
                  "updates": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "message": {
                          "type": "string",
                          "description": "The message.",
                          "title": "Message"
                        },
                        "messageHtml": {
                          "type": "string",
                          "description": "The message HTML.",
                          "title": "Message HTML"
                        },
                        "status": {
                          "type": "string",
                          "description": "The status.",
                          "title": "Status"
                        },
                        "notify": {
                          "type": "boolean",
                          "description": "Whether to notify.",
                          "title": "Notify"
                        },
                        "started": {
                          "type": "string",
                          "description": "When started.",
                          "title": "Started"
                        },
                        "ended": {
                          "type": "string",
                          "description": "When ended.",
                          "title": "Ended"
                        },
                        "duration": {
                          "type": "string",
                          "description": "The duration.",
                          "title": "Duration"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "When created at.",
                          "title": "Created At"
                        }
                      }
                    },
                    "title": "Updates"
                  },
                  "components": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "The identifier.",
                          "title": "ID"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name.",
                          "title": "Name"
                        },
                        "status": {
                          "type": "string",
                          "description": "The status.",
                          "title": "Status"
                        },
                        "showUptime": {
                          "type": "boolean",
                          "description": "Whether to show uptime.",
                          "title": "Show Uptime"
                        },
                        "site": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            },
                            "subdomain": {
                              "type": "string",
                              "description": "The subdomain.",
                              "title": "Subdomain"
                            },
                            "color": {
                              "type": "string",
                              "description": "The color.",
                              "title": "Color"
                            },
                            "logoUrl": {
                              "type": "string",
                              "description": "The logo URL address.",
                              "title": "Logo URL"
                            },
                            "publicEmail": {
                              "type": "string",
                              "description": "The public email address.",
                              "title": "Public Email"
                            }
                          },
                          "title": "Site"
                        }
                      }
                    },
                    "title": "Components"
                  }
                }
              }
            }
          }
        },
        "summary": "Get page incidents",
        "description": "Retrieve all incidents for a page.",
        "operationId": "IncidentsGet",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "x-ms-summary": "Status",
            "description": "The status.",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "x-ms-summary": "Number per Page",
            "description": "The number per page.",
            "required": false,
            "type": "integer"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "started": {
                  "type": "string",
                  "description": "When started.",
                  "title": "Started"
                },
                "resolved": {
                  "type": "string",
                  "description": "When resolved.",
                  "title": "Resolved"
                },
                "updates": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The updates.",
                  "title": "Updates"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "showUptime": {
                        "type": "boolean",
                        "description": "Whether to show uptime.",
                        "title": "Show Uptime"
                      },
                      "site": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "The subdomain.",
                            "title": "Subdomain"
                          },
                          "color": {
                            "type": "string",
                            "description": "The color.",
                            "title": "Color"
                          },
                          "logoUrl": {
                            "type": "string",
                            "description": "The logo URL address.",
                            "title": "Logo URL"
                          },
                          "publicEmail": {
                            "type": "string",
                            "description": "The public email address.",
                            "title": "Public Email"
                          }
                        },
                        "title": "Site"
                      }
                    }
                  },
                  "title": "Components"
                }
              }
            }
          }
        },
        "summary": "Add incident",
        "description": "Adds an incident on a page.",
        "operationId": "IncidentPost",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The components.",
                  "title": "Components"
                },
                "started": {
                  "type": "string",
                  "description": "When started.",
                  "title": "Started"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "notify": {
                  "type": "boolean",
                  "description": "Whether to notify.",
                  "title": "Notify"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      }
                    }
                  },
                  "title": "Statuses"
                }
              }
            }
          }
        ]
      }
    },
    "/v1/{page_id}/incidents/{incident_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "started": {
                  "type": "string",
                  "description": "When started.",
                  "title": "Started"
                },
                "resolved": {
                  "type": "string",
                  "description": "When resolved.",
                  "title": "Resolved"
                },
                "updates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "message": {
                        "type": "string",
                        "description": "The message.",
                        "title": "Message"
                      },
                      "messageHtml": {
                        "type": "string",
                        "description": "The message HTML.",
                        "title": "Message HTML"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "notify": {
                        "type": "boolean",
                        "description": "Whether to notify.",
                        "title": "Notify"
                      },
                      "started": {
                        "type": "string",
                        "description": "When started.",
                        "title": "Started"
                      },
                      "ended": {
                        "type": "string",
                        "description": "When ended.",
                        "title": "Ended"
                      },
                      "duration": {
                        "type": "string",
                        "description": "The duration.",
                        "title": "Duration"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Updates"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "showUptime": {
                        "type": "boolean",
                        "description": "Whether to show uptime.",
                        "title": "Show Uptime"
                      },
                      "site": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "The subdomain.",
                            "title": "Subdomain"
                          },
                          "color": {
                            "type": "string",
                            "description": "The color.",
                            "title": "Color"
                          },
                          "logoUrl": {
                            "type": "string",
                            "description": "The logo URL address.",
                            "title": "Logo URL"
                          },
                          "publicEmail": {
                            "type": "string",
                            "description": "The public email address.",
                            "title": "Public Email"
                          }
                        },
                        "title": "Site"
                      }
                    }
                  },
                  "title": "Components"
                }
              }
            }
          }
        },
        "summary": "Get incident",
        "description": "Retrieve an incident on a page.",
        "operationId": "IncidentGet",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "incident_id",
            "in": "path",
            "x-ms-summary": "Incident ID",
            "x-ms-url-encoding": "single",
            "description": "The incident identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Delete incident",
        "description": "Deletes an incident on a page.",
        "operationId": "IncidentDelete",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "incident_id",
            "in": "path",
            "x-ms-summary": "Incident ID",
            "x-ms-url-encoding": "single",
            "description": "The incident identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "started": {
                  "type": "string",
                  "description": "When started.",
                  "title": "Started"
                },
                "resolved": {
                  "type": "string",
                  "description": "When resolved.",
                  "title": "Resolved"
                },
                "updates": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The updates.",
                  "title": "Updates"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "showUptime": {
                        "type": "boolean",
                        "description": "Whether to show uptime.",
                        "title": "Show Uptime"
                      },
                      "site": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "The subdomain.",
                            "title": "Subdomain"
                          },
                          "color": {
                            "type": "string",
                            "description": "The color.",
                            "title": "Color"
                          },
                          "logoUrl": {
                            "type": "string",
                            "description": "The logo URL address.",
                            "title": "Logo URL"
                          },
                          "publicEmail": {
                            "type": "string",
                            "description": "The public email address.",
                            "title": "Public Email"
                          }
                        },
                        "title": "Site"
                      }
                    }
                  },
                  "title": "Components"
                }
              }
            }
          }
        },
        "summary": "Update incident",
        "description": "Updates an incident on a page.",
        "operationId": "IncidentPut",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "incident_id",
            "in": "path",
            "x-ms-summary": "Incident ID",
            "x-ms-url-encoding": "single",
            "description": "The incident identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "components": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The components.",
                  "title": "Components"
                },
                "started": {
                  "type": "string",
                  "description": "When started.",
                  "title": "Started"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "notify": {
                  "type": "boolean",
                  "description": "Whether to notify.",
                  "title": "Notify"
                },
                "statuses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      }
                    }
                  },
                  "title": "Statuses"
                }
              }
            }
          }
        ]
      }
    },
    "/v2/{page_id}/incidents/{template}": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "nameTranslationId": {
                  "type": "string",
                  "description": "The name translation identifier.",
                  "title": "Name Translation ID"
                },
                "notify": {
                  "type": "boolean",
                  "description": "Whether to notify.",
                  "title": "Notify"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "started": {
                  "type": "string",
                  "description": "When started.",
                  "title": "Started"
                },
                "resolved": {
                  "type": "string",
                  "description": "When resolved.",
                  "title": "Resolved"
                },
                "duration": {
                  "type": "string",
                  "description": "The duration.",
                  "title": "Duration"
                },
                "createdAt": {
                  "type": "string",
                  "description": "When created at.",
                  "title": "Created At"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "When updated at.",
                  "title": "Updated At"
                },
                "automated": {
                  "type": "boolean",
                  "description": "Whether automated.",
                  "title": "Automated"
                },
                "impact": {
                  "type": "string",
                  "description": "The impact.",
                  "title": "Impact"
                },
                "appId": {
                  "type": "string",
                  "description": "The app identifier.",
                  "title": "App ID"
                },
                "siteId": {
                  "type": "string",
                  "description": "The site identifier.",
                  "title": "Site ID"
                },
                "importedFromStatuspage": {
                  "type": "boolean",
                  "description": "Whether imported from status page.",
                  "title": "Imported From Status Page"
                }
              }
            }
          }
        },
        "summary": "Add incident using template",
        "description": "Adds an incident to a page using a template.",
        "operationId": "IncidentTemplatePost",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "template",
            "in": "path",
            "x-ms-summary": "Template",
            "x-ms-url-encoding": "single",
            "description": "The template.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/v1/{page_id}/incidents/{incident_id}/incident-updates/{incident_update_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "messageHtml": {
                  "type": "string",
                  "description": "The message HTML.",
                  "title": "Message HTML"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "notify": {
                  "type": "boolean",
                  "description": "Whether to notify.",
                  "title": "Notify"
                },
                "started": {
                  "type": "string",
                  "description": "When started.",
                  "title": "Started"
                },
                "incident": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "started": {
                      "type": "string",
                      "description": "When started.",
                      "title": "Started"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "showUptime": {
                            "type": "boolean",
                            "description": "Whether to show uptime.",
                            "title": "Show Uptime"
                          },
                          "site": {
                            "type": "object",
                            "properties": {
                              "subdomain": {
                                "type": "string",
                                "description": "The subdomain.",
                                "title": "Subdomain"
                              },
                              "logoUrl": {
                                "type": "string",
                                "description": "The logo URL address.",
                                "title": "Logo URL"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "slackIntegrations": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The Slack integrations.",
                                "title": "Slack Integrations"
                              },
                              "subscribers": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "The subscribers.",
                                "title": "Subscribers"
                              }
                            },
                            "title": "Site"
                          },
                          "subscribers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The subscribers.",
                            "title": "Subscribers"
                          }
                        }
                      },
                      "title": "Components"
                    }
                  },
                  "title": "Incident"
                }
              }
            }
          }
        },
        "summary": "Get incident update",
        "description": "Retrieve an update on a page incident.",
        "operationId": "IncidentUpdateGet",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "incident_id",
            "in": "path",
            "x-ms-summary": "Incident ID",
            "x-ms-url-encoding": "single",
            "description": "The incident identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "incident_update_id",
            "in": "path",
            "x-ms-summary": "Incident Update ID",
            "x-ms-url-encoding": "single",
            "description": "The incident update identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                }
              }
            }
          }
        },
        "summary": "Delete incident update",
        "description": "Deletes an update for an incident on a page.",
        "operationId": "IncidentUpdateDelete",
        "parameters": [
          {
            "name": "page_id",
            "in": "path",
            "x-ms-summary": "Page ID",
            "x-ms-url-encoding": "single",
            "description": "The page identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "incident_id",
            "in": "path",
            "x-ms-summary": "Incident ID",
            "x-ms-url-encoding": "single",
            "description": "The incident identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "incident_update_id",
            "in": "path",
            "x-ms-summary": "Incident Update ID",
            "x-ms-url-encoding": "single",
            "description": "The incident update identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "messageHtml": {
                  "type": "string",
                  "description": "The message HTML.",
                  "title": "Message HTML"
                },
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "notify": {
                  "type": "boolean",
                  "description": "Whether to notify.",
                  "title": "Notify"
                },
                "started": {
                  "type": "string",
                  "description": "When started.",
                  "title": "Started"
                },
                "incident": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "started": {
                      "type": "string",
                      "description": "When started.",
                      "title": "Started"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "components": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "status": {
                            "type": "string",
                            "description": "The status.",
                            "title": "Status"
                          },
                          "showUptime": {
                            "type": "boolean",
                            "description": "Whether to show uptime.",
                            "title": "Show Uptime"
                          },
                          "site": {
[...]
