{
  "swagger": "2.0",
  "info": {
    "title": "UK Bank Holidays",
    "description": "A JSON object containing the bank holidays of the four kingdoms of the United Kingdom supplied by H.M. Government",
    "version": "1.1",
    "contact": {
      "name": "Martyn Lesbirel",
      "email": "ipc-author-bh@outlook.com"
    }
  },
  "host": "www.gov.uk",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/bank-holidays.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "england-and-wales": {
                  "type": "object",
                  "properties": {
                    "division": {
                      "type": "string",
                      "description": "Holidays for England and Wales.",
                      "title": "Division"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The English and Welsh holiday name.",
                            "title": "Name"
                          },
                          "date": {
                            "type": "string",
                            "description": "The English and Welsh holiday date.",
                            "title": "Date"
                          },
                          "notes": {
                            "type": "string",
                            "description": "The English and Welsh date notes.",
                            "title": "Notes"
                          },
                          "bunting": {
                            "type": "boolean",
                            "description": "Whether bunting is used in England and Wales.",
                            "title": "Bunting"
                          }
                        }
                      },
                      "description": "A holiday in England and Wales."
                    }
                  },
                  "description": "All holidays in England and Wales.",
                  "title": "English and Welsh Holidays"
                },
                "scotland": {
                  "type": "object",
                  "properties": {
                    "division": {
                      "type": "string",
                      "description": "Holidays for Scotland.",
                      "title": "Division"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The Scottish holiday name.",
                            "title": "Name"
                          },
                          "date": {
                            "type": "string",
                            "description": "The Scottish holiday date.",
                            "title": "Date"
                          },
                          "notes": {
                            "type": "string",
                            "description": "The Scottish date notes.",
                            "title": "Notes"
                          },
                          "bunting": {
                            "type": "boolean",
                            "description": "Whether bunting is used in Scotland.",
                            "title": "Bunting"
                          }
                        }
                      },
                      "description": "A holiday in Scotland."
                    }
                  },
                  "description": "All holidays in Scotland.",
                  "title": "Scotland Holidays"
                },
                "northern-ireland": {
                  "type": "object",
                  "properties": {
                    "division": {
                      "type": "string",
                      "description": "Holidays for Northern Ireland.",
                      "title": "Division"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "The Northern Irish holiday name.",
                            "title": "Name"
                          },
                          "date": {
                            "type": "string",
                            "description": "The Northern Irish holiday date.",
                            "title": "Date"
                          },
                          "notes": {
                            "type": "string",
                            "description": "The Northern Irish date notes.",
                            "title": "Notes"
                          },
                          "bunting": {
                            "type": "boolean",
                            "description": "Whether bunting is used in Northern Ireland.",
                            "title": "Bunting"
                          }
                        }
                      },
                      "description": "A holiday in Northern Ireland."
                    }
                  },
                  "description": "All holidays in Northern Ireland.",
                  "title": "Northern Ireland Holidays"
                }
              }
            }
          }
        },
        "summary": "All holidays for all kingdoms",
        "description": "All bank holidays for all kingdoms as defined by the Government.",
        "operationId": "AllKingdomHolidays",
        "x-ms-visibility": "important",
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "WebSite",
      "propertyValue": "https://www.gov.uk/bank-holidays"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Productivity"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
