{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Cognite Data Fusion",
    "description": "Connect to your Cognite Data Fusion project using the Cognite Data Fusion API endpoints found at https://api-docs.cognite.com/\nDocumentation: https://docs.cognite.com/ Developer: https://developer.cognite.com/",
    "contact": {
      "name": "Cognite Support",
      "url": "https://support.cognite.com",
      "email": "support@cognite.com"
    }
  },
  "host": "bluefield.cognitedata.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/projects/{project}/timeseries": {
      "get": {
        "summary": "List time series",
        "description": "List time series. Use `nextCursor` to paginate through the results.",
        "operationId": "ListTimeSeries",
        "parameters": [
          {
            "name": "project",
            "x-ms-summary": "project",
            "description": "The Cognite Data Fusion project.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "limit",
            "x-ms-summary": "limit",
            "description": "Limits the number of results to return. CDF returns a maximum of 1000 results even if you specify a higher limit.",
            "default": 100,
            "in": "query",
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000,
            "required": false
          },
          {
            "name": "includeMetadata",
            "x-ms-summary": "includeMetadata",
            "description": "Whether the metadata field should be returned or not.",
            "default": true,
            "in": "query",
            "type": "boolean",
            "required": false
          },
          {
            "name": "cursor",
            "x-ms-summary": "cursor",
            "description": "Cursor for paging through results.",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "name": "partition",
            "x-ms-summary": "partition",
            "description": "Splits the data set into N partitions. The attribute is specified as a \"M/N\" string, where M is a natural number in the interval of [1, N]. You need to follow the cursors within each partition in order to receive all the data.\nTo prevent unexpected problems and maximize read throughput, you should at most use 10 (N <= 10) partitions.\nWhen using more than 10 partitions, CDF may reduce the number of partitions silently. For example, CDF may reduce the number of partitions to K = 10 so if you specify an X/N partition value where X = 8 and N = 20 - i.e. \"partition\": \"8/20\"- then CDF will change N to N = K = 10 and process the request. But if you specify the X/N partition value where X = 11 (X > K) and N = 20 - i.e. \"partition\": \"11/20\"- then CDF will reply with an empty result list and no cursor in the response.\nIn future releases of the resource APIs, Cognite may reject requests if you specify more than 10 partitions. When Cognite enforces this behavior, the requests will result in a 400 Bad Request status.",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "name": "assetIds",
            "x-ms-summary": "assetIds",
            "description": "Gets the time series related to the assets. The format is a list of IDs serialized as a JSON array(int64). Takes [ 1 .. 100 ] unique items.",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "name": "rootAssetIds",
            "x-ms-summary": "rootAssetIds",
            "description": "Only includes time series that have a related asset in a tree rooted at any of these root assetIds.",
            "in": "query",
            "type": "string",
            "required": false
          },
          {
            "name": "externalIdPrefix",
            "x-ms-summary": "externalIdPrefix",
            "description": "Filter by this (case-sensitive) prefix for the external ID.",
            "in": "query",
            "type": "string",
            "maxLength": 255,
            "required": false
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "description": "Accept Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "isString": {
                        "type": "boolean",
                        "description": "isString"
                      },
                      "isStep": {
                        "type": "boolean",
                        "description": "isStep"
                      },
                      "createdTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "createdTime"
                      },
                      "lastUpdatedTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lastUpdatedTime"
                      },
                      "externalId": {
                        "type": "string",
                        "description": "externalId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "tempord": {
                            "type": "string",
                            "description": "tempord"
                          },
                          "eiusmod_0_3": {
                            "type": "string",
                            "description": "eiusmod_0_3"
                          },
                          "auteb": {
                            "type": "string",
                            "description": "auteb"
                          }
                        },
                        "description": "metadata"
                      },
                      "unit": {
                        "type": "string",
                        "description": "unit"
                      },
                      "assetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "assetId"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "securityCategories": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "securityCategories"
                      },
                      "dataSetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "dataSetId"
                      }
                    }
                  },
                  "description": "items"
                },
                "nextCursor": {
                  "type": "string",
                  "description": "nextCursor"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create time series",
        "description": "Creates one or more time series.",
        "operationId": "CreateTimeSeries",
        "parameters": [
          {
            "name": "project",
            "x-ms-summary": "project",
            "description": "The Cognite Data Fusion project.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "description": "Content-Type Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "description": "Accept Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "x-ms-summary": "body",
            "description": "Create time series object body.",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 1000,
                  "items": {
                    "type": "object",
                    "properties": {
                      "externalId": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "externalId"
                      },
                      "name": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "name"
                      },
                      "isString": {
                        "type": "boolean",
                        "description": "isString",
                        "default": false
                      },
                      "metadata": {
                        "type": "object",
                        "description": "metadata"
                      },
                      "unit": {
                        "type": "string",
                        "maxLength": 32,
                        "description": "unit"
                      },
                      "assetId": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "maximum": 9007199254740991,
                        "description": "assetId"
                      },
                      "isStep": {
                        "type": "boolean",
                        "description": "isStep",
                        "default": false
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 1000,
                        "description": "description"
                      },
                      "securityCategories": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "description": "securityCategories"
                      },
                      "dataSetId": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "maximum": 9007199254740991,
                        "description": "dataSetId"
                      }
                    }
                  },
                  "description": "items"
                }
              },
              "default": {
                "items": [
                  {
                    "externalId": "pariatur nostrud",
                    "name": "proident sunt",
                    "legacyName": "id Excepteur ipsum aliquip",
                    "isString": false,
                    "metadata": {
                      "utfa": "ad",
                      "reprehenderitf4": "culpa minim ut nostrud"
                    },
                    "unit": "veniam culpa la",
                    "assetId": 1409981338533354,
                    "isStep": false,
                    "description": "in quis",
                    "securityCategories": [
                      -9938878,
                      77238587
                    ],
                    "dataSetId": 176441305100480
                  }
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "isString": {
                        "type": "boolean",
                        "description": "isString"
                      },
                      "isStep": {
                        "type": "boolean",
                        "description": "isStep"
                      },
                      "createdTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "createdTime"
                      },
                      "lastUpdatedTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lastUpdatedTime"
                      },
                      "externalId": {
                        "type": "string",
                        "description": "externalId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "cupidatat4b_": {
                            "type": "string",
                            "description": "cupidatat4b_"
                          },
                          "reprehenderit36": {
                            "type": "string",
                            "description": "reprehenderit36"
                          }
                        },
                        "description": "metadata"
                      },
                      "unit": {
                        "type": "string",
                        "description": "unit"
                      },
                      "assetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "assetId"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "securityCategories": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "securityCategories"
                      },
                      "dataSetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "dataSetId"
                      }
                    }
                  },
                  "description": "items"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "code"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "missingFields": {
                  "type": "array",
                  "items": {},
                  "description": "missingFields"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "duplicated": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "type": "string",
                            "description": "externalId"
                          }
                        }
                      },
                      "description": "duplicated"
                    }
                  },
                  "description": "error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "duplicated": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          }
                        }
                      },
                      "description": "duplicated"
                    }
                  },
                  "description": "error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{project}/timeseries/byids": {
      "post": {
        "summary": "Retrieve time series",
        "description": "Retrieves one or more time series by ID or external ID. The response returns the time series in the same order as in the request.",
        "operationId": "RetrieveTimeSeries",
        "parameters": [
          {
            "name": "project",
            "x-ms-summary": "project",
            "description": "The Cognite Data Fusion project.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "description": "Content-Type Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "description": "Accept Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "x-ms-summary": "body",
            "description": "Retrieve time series object body.",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 1000,
                  "uniqueItems": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "maximum": 9007199254740991,
                        "description": "id"
                      },
                      "externalId": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "externalId"
                      }
                    }
                  },
                  "description": "items"
                },
                "ignoreUnknownIds": {
                  "type": "boolean",
                  "description": "ignoreUnknownIds",
                  "default": false
                }
              },
              "default": {
                "items": [
                  {
                    "id": 6480595772488346
                  }
                ],
                "ignoreUnknownIds": false
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "isString": {
                        "type": "boolean",
                        "description": "isString"
                      },
                      "isStep": {
                        "type": "boolean",
                        "description": "isStep"
                      },
                      "createdTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "createdTime"
                      },
                      "lastUpdatedTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lastUpdatedTime"
                      },
                      "externalId": {
                        "type": "string",
                        "description": "externalId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "cupidatat4b_": {
                            "type": "string",
                            "description": "cupidatat4b_"
                          },
                          "reprehenderit36": {
                            "type": "string",
                            "description": "reprehenderit36"
                          }
                        },
                        "description": "metadata"
                      },
                      "unit": {
                        "type": "string",
                        "description": "unit"
                      },
                      "assetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "assetId"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "securityCategories": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "securityCategories"
                      },
                      "dataSetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "dataSetId"
                      }
                    }
                  },
                  "description": "items"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "missing": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          }
                        }
                      },
                      "description": "missing"
                    }
                  },
                  "description": "error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "duplicated": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          }
                        }
                      },
                      "description": "duplicated"
                    }
                  },
                  "description": "error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{project}/timeseries/list": {
      "post": {
        "summary": "Filter time series",
        "description": "<details>\n<summary>\nRetrieves a list of time series that match the given criteria.\n</summary>\n\n### Advanced filtering\n\nThe `advancedFilter`\nfield lets you create complex filtering expressions that combine simple operations,\nsuch as `equals`, `prefix`, and `exists`, by using the Boolean operators `and`, `or`, and `not`.\nFiltering applies to basic fields as well as metadata. See the `advancedFilter` syntax in the request example.\n\n\n\n#### Supported leaf filters\n\n| Leaf filter    | Supported fields       | Description and example                                                                                                                                                            |\n|----------------|------------------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| `containsAll`  | Array type fields      | Only includes results which contain all of the specified values. <br /> `{\"containsAll\": {\"property\": [\"property\"], \"values\": [1, 2, 3]}}`                                         |\n| `containsAny`  | Array type fields      | Only includes results which contain at least one of the specified values. <br /> `{\"containsAny\": {\"property\": [\"property\"], \"values\": [1, 2, 3]}}`                                |\n| `equals`       | Non-array type fields  | Only includes results that are equal to the specified value. <br /> `{\"equals\": {\"property\": [\"property\"], \"value\": \"example\"}}`                                                   |\n| `exists`       | All fields             | Only includes results where the specified property exists (has a value). <br /> `{\"exists\": {\"property\": [\"property\"]}}`                                                           |\n| `in`           | Non-array type fields  | Only includes results that are equal to one of the specified values. <br /> `{\"in\": {\"property\": [\"property\"], \"values\": [1, 2, 3]}}`                                              |\n| `prefix`       | String type fields     | Only includes results which start with the specified text. <br /> `{\"prefix\": {\"property\": [\"property\"], \"value\": \"example\"}}`                                                     |\n| `range`        | Non-array type fields  | Only includes results that fall within the specified range. <br /> `{\"range\": {\"property\": [\"property\"], \"gt\": 1, \"lte\": 5}}` <br /> Supported operators: `gt`, `lt`, `gte`, `lte` |\n | `search`       | `[\"name\"]` and `[\"description\"]` | Introduced to provide functional parity with the /timeseries/search endpoint. <br /> `{\"search\": {\"property\": [\"property\"], \"value\": \"example\"}}`                        |\n\n#### Supported properties\n\n| Property                          | Type               |\n|-----------------------------------|--------------------|\n| `[\"description\"]`                 | string             |\n| `[\"externalId\"]`                  | string             |\n| `[\"metadata\", \"<someCustomKey>\"]` | string             |\n| `[\"name\"]`                        | string             |\n| `[\"unit\"]`                        | string              |\n| `[\"assetId\"]`                     | number              |\n| `[\"assetRootId\"]`                 | number              |\n| `[\"createdTime\"]`                 | number              |\n| `[\"dataSetId\"]`                   | number              |\n| `[\"id\"]`                          | number              |\n| `[\"lastUpdatedTime\"]`             | number              |\n| `[\"isStep\"]`                      | Boolean             |\n| `[\"isString\"]`                    | Boolean             |\n| `[\"accessCategories\"]`            | array of strings    |\n| `[\"securityCategories\"]`          | array of numbers    |\n\n#### Limits\n\n- Filter query max depth: 10.\n- Filter query max number of clauses: 100.\n- `and` and `or` clauses must have at least one element (and at most 99, since each element counts\n  towards the total clause limit, and so does the `and`/`or` clause itself).\n- The `property` array of each leaf filter has the following limitations:\n  - Number of elements in the array is 1 or 2.\n  - Elements must not be null or blank.\n  - Each element max length is 256 characters.\n  - The `property` array must match one of the existing properties (static top-level property or dynamic metadata property).\n- `containsAll`, `containsAny`, and `in` filter `values` array size must be in the range [1, 100].\n- `containsAll`, `containsAny`, and `in` filter `values` array must contain elements of number or string type (matching the type of the given property).\n- `range` filter must have at lest one of `gt`, `gte`, `lt`, `lte` attributes.\n  But `gt` is mutually exclusive to `gte`, while `lt` is mutually exclusive to `lte`.\n- `gt`, `gte`, `lt`, `lte` in the `range` filter must be of number or string type (matching the type of the given property).\n- `search` filter `value` must not be blank, and the length must be in the range [1, 128], and there\n  may be at most two `search` filters in the entire filter query.\n- The maximum length of the `value` of a leaf filter that is applied to a string property is 256.\n\n### Sorting\n\nBy default, time series are sorted by their creation time in ascending order.\nSorting by another property or by several other properties can be explicitly requested via the\n`sort` field, which must contain a list\nof one or more sort specifications. Each sort specification indicates the `property` to sort on\nand, optionally, the `order` in which to sort (defaults to `asc`). If multiple sort specifications are\nsupplied, the results are sorted on the first property, and those with the same value for the first\nproperty are sorted on the second property, and so on.  \nPartitioning is done independently of sorting; there is no guarantee of sort order between elements from different partitions.\n\n#### Null values\n\nIn case the `nulls` field has the `auto` value, or the field isn't specified, null (missing) values\nare considered bigger than any other values. They are placed last when sorting in the `asc`\norder and first in the `desc` order. Otherwise, missing values are placed according to\nthe `nulls` field (`last` or `first`), and their placement won't depend on the `order`\nfield. Note that the number zero, empty strings, and empty lists are all considered\n_not_ null.\n\n#### Example\n\n```json\n{\n  \"sort\": [\n    {\n      \"property\" : [\"createdTime\"],\n      \"order\": \"desc\",\n      \"nulls\": \"last\"\n    },\n    {\n      \"property\" : [\"metadata\", \"<someCustomKey>\"]\n    }\n  ]\n}\n```\n\n\n#### Properties\n\nYou can sort on the following properties:\n\n| Property                          |\n|-----------------------------------|\n| `[\"assetId\"]`                     |\n| `[\"createdTime\"]`                 |\n| `[\"dataSetId\"]`                   |\n| `[\"description\"]`                 |\n| `[\"externalId\"]`                  |\n| `[\"lastUpdatedTime\"]`             |\n| `[\"metadata\", \"<someCustomKey>\"]` |\n| `[\"name\"]`                        |\n\n\n#### Limits\n\nThe `sort` array must contain 1 to 2 elements.\n</details>",
        "operationId": "FilterTimeSeries",
        "parameters": [
          {
            "name": "project",
            "x-ms-summary": "project",
            "description": "The Cognite Data Fusion project.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "description": "Content-Type Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "description": "Accept Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "x-ms-summary": "body",
            "description": "Filter time series object body.",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "filter": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "title": "filter name",
                      "description": "name"
                    },
                    "unit": {
                      "type": "string",
                      "title": "filter unit",
                      "description": "unit"
                    },
                    "isString": {
                      "type": "boolean",
                      "title": "filter isString",
                      "description": "isString"
                    },
                    "isStep": {
                      "type": "boolean",
                      "title": "filter isStep",
                      "description": "isStep"
                    },
                    "metadata": {
                      "type": "object",
                      "title": "filter metadata",
                      "description": "metadata"
                    },
                    "assetIds": {
                      "type": "array",
                      "title": "filter assetIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "description": "assetIds"
                    },
                    "assetExternalIds": {
                      "type": "array",
                      "title": "filter assetExternalIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "string"
                      },
                      "description": "assetExternalIds"
                    },
                    "rootAssetIds": {
                      "type": "array",
                      "title": "filter rootAssetIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "description": "rootAssetIds"
                    },
                    "assetSubtreeIds": {
                      "type": "array",
                      "title": "filter assetSubtreeIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 9007199254740991,
                            "description": "id"
                          },
                          "externalId": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "externalId"
                          }
                        }
                      },
                      "description": "assetSubtreeIds"
                    },
                    "dataSetIds": {
                      "type": "array",
                      "title": "filter dataSetIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 9007199254740991,
                            "description": "id"
                          },
                          "externalId": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "externalId"
                          }
                        }
                      },
                      "description": "dataSetIds"
                    },
                    "externalIdPrefix": {
                      "type": "string",
                      "title": "filter externalIdPrefix",
                      "maxLength": 255,
                      "description": "externalIdPrefix"
                    },
                    "createdTime": {
                      "type": "object",
                      "properties": {
                        "max": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter createdTime max",
                          "description": "max"
                        },
                        "min": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter createdTime min",
                          "description": "min"
                        }
                      },
                      "description": "createdTime"
                    },
                    "lastUpdatedTime": {
                      "type": "object",
                      "properties": {
                        "max": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter lastUpdatedTime max",
                          "description": "max"
                        },
                        "min": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter lastUpdatedTime min",
                          "description": "min"
                        }
                      },
                      "description": "lastUpdatedTime"
                    }
                  },
                  "description": "filter"
                },
                "advancedFilter": {
                  "type": "object",
                  "description": "advancedFilter"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "default": 100,
                  "minimum": 1,
                  "maximum": 1000,
                  "description": "limit"
                },
                "cursor": {
                  "type": "string",
                  "description": "cursor"
                },
                "partition": {
                  "type": "string",
                  "description": "partition"
                },
                "sort": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 2,
                  "items": {
                    "type": "object",
                    "properties": {
                      "property": {
                        "type": "array",
                        "minItems": 1,
                        "maxItems": 2,
                        "items": {
                          "type": "string"
                        },
                        "description": "property"
                      },
                      "order": {
                        "type": "string",
                        "description": "order",
                        "enum": [
                          "asc",
                          "desc"
                        ]
                      },
                      "nulls": {
                        "type": "string",
                        "description": "nulls",
                        "default": "auto",
                        "enum": [
                          "first",
                          "last",
                          "auto"
                        ]
                      }
                    }
                  },
                  "description": "sort"
                }
              },
              "default": {
                "filter": {
                  "name": "consequat sunt magna in",
                  "unit": "dolor incididunt aute ",
                  "isString": false,
                  "isStep": true,
                  "metadata": {
                    "adipisicing_5": "esse sint fugiat Lorem",
                    "consequat_1": "enim Duis"
                  },
                  "assetIds": [
                    363848954441724,
                    793045462540095,
                    1261042166839739
                  ],
                  "assetExternalIds": [
                    "my.known.id"
                  ],
                  "rootAssetIds": [
                    343099548723932,
                    88483999203217
                  ],
                  "assetSubtreeIds": [
                    {
                      "id": 4211006077124470
                    }
                  ],
                  "dataSetIds": [
                    {
                      "id": 6354138669857534
                    }
                  ],
                  "externalIdPrefix": "my.known.prefix",
                  "createdTime": {
                    "max": 62632439,
                    "min": 6703914
                  },
                  "lastUpdatedTime": {
                    "max": 89135725,
                    "min": 9586224
                  }
                },
                "advancedFilter": {
                  "and": [
                    {
                      "value": "<Circular reference to #/components/schemas/TimeSeriesFilterLanguage detected>"
                    }
                  ]
                },
                "limit": 100,
                "cursor": "4zj0Vy2fo0NtNMb229mI9r1V3YG5NBL752kQz1cKtwo",
                "partition": "1/10",
                "sort": [
                  {
                    "property": [
                      "ut commodo ut qui"
                    ],
                    "order": "desc",
                    "nulls": "auto"
                  }
                ]
              }
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "isString": {
                        "type": "boolean",
                        "description": "isString"
                      },
                      "isStep": {
                        "type": "boolean",
                        "description": "isStep"
                      },
                      "createdTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "createdTime"
                      },
                      "lastUpdatedTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lastUpdatedTime"
                      },
                      "externalId": {
                        "type": "string",
                        "description": "externalId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "tempord": {
                            "type": "string",
                            "description": "tempord"
                          },
                          "eiusmod_0_3": {
                            "type": "string",
                            "description": "eiusmod_0_3"
                          },
                          "auteb": {
                            "type": "string",
                            "description": "auteb"
                          }
                        },
                        "description": "metadata"
                      },
                      "unit": {
                        "type": "string",
                        "description": "unit"
                      },
                      "assetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "assetId"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "securityCategories": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "securityCategories"
                      },
                      "dataSetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "dataSetId"
                      }
                    }
                  },
                  "description": "items"
                },
                "nextCursor": {
                  "type": "string",
                  "description": "nextCursor"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{project}/timeseries/aggregate": {
      "post": {
        "summary": "Aggregate time series",
        "description": "The aggregation API allows you to compute aggregated results from a set of time series, such as\r\ngetting the number of time series in a project or checking what assets the different time series\r\nin your project are associated with (along with the number of time series for each asset).\r\nBy specifying `filter` and/or `advancedFilter`, the aggregation will take place only over those\r\ntime series that match the filters. `filter` and `advancedFilter` behave the same way as in the\r\n`list` endpoint.\r\n\r\n<details>\r\n<summary>\r\nThe default behavior, when the <code>aggregate</code> field is not specified the request body, is to return the\r\nnumber of time series that match the filters (if any), which is the same behavior as when the\r\n<code>aggregate</code> field is set to <code>count</code>.\r\n</summary>\r\n\r\nThe following requests will both return the total number of\r\ntime series whose `name` begins with `pump`:\r\n\r\n```\r\n{\r\n  \"advancedFilter\": {\"prefix\": {\"property\": [\"name\"], \"value\": \"pump\"}}\r\n}\r\n```\r\n\r\nand\r\n\r\n```\r\n{\r\n  \"aggregate\": \"count\",\r\n  \"advancedFilter\": {\"prefix\": {\"property\": [\"name\"], \"value\": \"pump\"}}\r\n}\r\n```\r\n\r\nThe response might be:\r\n\r\n```\r\n{\"items\": [{\"count\": 42}]}\r\n```\r\n</details>\r\n\r\n<details>\r\n<summary>\r\nSetting <code>aggregate</code> to <code>uniqueValues</code> and specifying a property in <code>properties</code> (this field is an array, but currently only supports one property) will\r\nreturn all unique values (up to a maximum of 1000) that are taken on by that property\r\nacross all the time series that match the filters, as well as the number of time series that\r\nhave each of those property values.\r\n</summary>\r\n\r\nThis example request finds all the unique asset ids that are\r\nreferenced by the time series in your project whose `name` begins with `pump`:\r\n\r\n```\r\n{\r\n  \"aggregate\": \"uniqueValues\",\r\n  \"properties\": [{\"property\": [\"assetId\"]}],\r\n  \"advancedFilter\": {\"prefix\": {\"property\": [\"name\"], \"value\": \"pump\"}}\r\n}\r\n```\r\n\r\nThe response might be the following, saying that 23 time series are associated with asset 18\r\nand 107 time series are associated with asset 76:\r\n\r\n```\r\n{\r\n  \"items\": [\r\n    {\"values\": [\"18\"], \"count\": 23},\r\n    {\"values\": [\"76\"], \"count\": 107}\r\n  ]\r\n}\r\n```\r\n</details>\r\n\r\n<details>\r\n<summary>\r\nSetting <code>aggregate</code> to <code>cardinalityValues</code> will instead return the approximate number of\r\ndistinct values that are taken on by the given property among the matching time series.\r\n</summary>\r\n\r\nExample request:\r\n\r\n```\r\n{\r\n  \"aggregate\": \"cardinalityValues\",\r\n  \"properties\": [{\"property\": [\"assetId\"]}],\r\n  \"advancedFilter\": {\"prefix\": {\"property\": [\"name\"], \"value\": \"pump\"}}\r\n}\r\n```\r\n\r\nThe result is likely exact when the set of unique values is small. In this example, there are likely two distinct asset ids among the matching time series:\r\n\r\n```\r\n{\"items\": [{\"count\": 2}]}\r\n```\r\n</details>\r\n\r\n<details>\r\n<summary>\r\nSetting <code>aggregate</code> to <code>uniqueProperties</code> will return the set of unique properties whose property\r\npath begins with <code>path</code> (which can currently only be <code>[\"metadata\"]</code>) that are contained in the time series that match the filters.\r\n</summary>\r\n\r\nExample request:\r\n\r\n```\r\n{\r\n  \"aggregate\": \"uniqueProperties\",\r\n  \"path\": [\"metadata\"],\r\n  \"advancedFilter\": {\"prefix\": {\"property\": [\"name\"], \"value\": \"pump\"}}\r\n}\r\n```\r\n\r\nThe result contains all the unique metadata keys in the time series whose `name` begins with\r\n`pump`, and the number of time series that contains each metadata key:\r\n\r\n```\r\n{\r\n  \"items\": [\r\n    {\"values\": [{\"property\": [\"metadata\", \"tag\"]}], \"count\": 43},\r\n    {\"values\": [{\"property\": [\"metadata\", \"installationDate\"]}], \"count\": 97}\r\n  ]\r\n}\r\n```\r\n</details>\r\n\r\n<details>\r\n<summary>\r\nSetting <code>aggregate</code> to <code>cardinalityProperties</code> will instead return the approximate number of\r\ndifferent property keys whose path begins with <code>path</code> (which can currently only be <code>[\"metadata\"]</code>, meaning that this can only be used to count the approximate number of distinct metadata keys among the matching time series).\r\n</summary>\r\n\r\nExample request:\r\n\r\n```\r\n{\r\n  \"aggregate\": \"cardinalityProperties\",\r\n  \"path\": [\"metadata\"],\r\n  \"advancedFilter\": {\"prefix\": {\"property\": [\"name\"], \"value\": \"pump\"}}\r\n}\r\n```\r\n\r\nThe result is likely exact when the set of unique values is small. In this example, there are likely two distinct metadata keys among the matching time series:\r\n\r\n```\r\n{\"items\": [{\"count\": 2}]}\r\n```\r\n</details>\r\n\r\nThe `aggregateFilter` field may be specified if `aggregate` is set to `cardinalityProperties` or `uniqueProperties`. The structure of this field is similar to that of `advancedFilter`, except that the set of leaf filters is smaller (`in`, `prefix`, and `range`), and that none of the leaf filters specify a property. Unlike `advancedFilter`, which is applied _before_ the aggregation (in order to restrict the set of time series that the aggregation operation should be applied to), `aggregateFilter` is applied _after_ the initial aggregation has been performed, in order to restrict the set of results.\r\n\r\n<details>\r\n<summary>\r\nClick here for more details about <code>aggregateFilter</code>. \r\n</summary>\r\n\r\nWhen `aggregate` is set to `uniqueProperties`, the result set contains a number of _property paths_, each with an associated count that shows how many time series contained that property (among those time series that matched the `filter` and `advancedFilter`, if they were specified) . If `aggregateFilter` is specified, it will restrict the property paths included in the output. Let us add an `aggregateFilter` to the `uniqueProperties` example from above:\r\n\r\n```\r\n{\r\n  \"aggregate\": \"uniqueProperties\",\r\n  \"path\": [\"metadata\"],\r\n  \"advancedFilter\": {\"prefix\": {\"property\": [\"name\"], \"value\": \"pump\"}},\r\n  \"aggregateFilter\": {\"prefix\": {\"value\": \"t\"}}\r\n}\r\n```\r\n\r\nNow, the result only contains those metadata properties whose key begins with `t` (but it will be the same set of metadata properties that begin with `t` as in the original query without `aggregateFilter`, and the counts will be the same):\r\n\r\n```\r\n{\r\n  \"items\": [\r\n    {\"values\": [{\"property\": [\"metadata\", \"tag\"]}], \"count\": 43}\r\n  ]\r\n}\r\n```\r\n\r\nSimilarly, adding `aggregateFilter` to `cardinalityProperties` will return the approximate number of properties whose property key matches `aggregateFilter` from those time series matching the `filter` and `advancedFilter` (or from all time series if neither `filter` nor `aggregateFilter` are specified):\r\n\r\n```\r\n{\r\n  \"aggregate\": \"cardinalityProperties\",\r\n  \"path\": [\"metadata\"],\r\n  \"advancedFilter\": {\"prefix\": {\"property\": [\"name\"], \"value\": \"pump\"}},\r\n  \"aggregateFilter\": {\"prefix\": {\"value\": \"t\"}}\r\n}\r\n```\r\n\r\nAs we saw above, only one property matches:\r\n\r\n```\r\n{\"items\": [{\"count\": 1}]}\r\n```\r\n\r\nNote that `aggregateFilter` is also accepted when `aggregate` is set to `cardinalityValues` or `cardinalityProperties`. For those aggregations, the effect of any `aggregateFilter` could also be achieved via a similar `advancedFilter`. However, `aggregateFilter` is not accepted when `aggregate` is omitted or set to `count`.\r\n</details>\r\n\r\n### Rate and concurrency limits\r\n\r\nRate and concurrency limits apply this endpoint. If a request exceeds one of the limits,\r\nit will be throttled with a `429: Too Many Requests` response. More on limit types\r\nand how to avoid being throttled is described\r\n[here](https://developer.cognite.com/dev/concepts/request_throttling/).\r\n\r\n| Limit          | Per project           | Per user (identity)   |\r\n|----------------|-----------------------|-----------------------|\r\n| Rate           | 15 requests per second| 10 requests per second|\r\n| Concurrency    | 6 concurrent requests | 4 concurrent requests |\r\n",
        "operationId": "AggregateTimeSeries",
        "parameters": [
          {
            "name": "project",
            "x-ms-summary": "project",
            "description": "The Cognite Data Fusion project.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "description": "Content-Type Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "description": "Accept Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "x-ms-summary": "body",
            "description": "Aggregate time series object body.",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "advancedFilter": {
                  "type": "object",
                  "description": "advancedFilter"
                },
                "filter": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "title": "filter name",
                      "description": "name"
                    },
                    "unit": {
                      "type": "string",
                      "title": "filter unit",
                      "description": "unit"
                    },
                    "isString": {
                      "type": "boolean",
                      "title": "filter isString",
                      "description": "isString"
                    },
                    "isStep": {
                      "type": "boolean",
                      "title": "filter isStep",
                      "description": "isStep"
                    },
                    "metadata": {
                      "type": "object",
                      "title": "filter metadata",
                      "description": "metadata"
                    },
                    "assetIds": {
                      "type": "array",
                      "title": "filter assetIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "description": "assetIds"
                    },
                    "assetExternalIds": {
                      "type": "array",
                      "title": "filter assetExternalIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "string"
                      },
                      "description": "assetExternalIds"
                    },
                    "rootAssetIds": {
                      "type": "array",
                      "title": "filter rootAssetIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "description": "rootAssetIds"
                    },
                    "assetSubtreeIds": {
                      "type": "array",
                      "title": "filter assetSubtreeIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 9007199254740991,
                            "description": "id"
                          },
                          "externalId": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "externalId"
                          }
                        }
                      },
                      "description": "assetSubtreeIds"
                    },
                    "dataSetIds": {
                      "type": "array",
                      "title": "filter dataSetIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 9007199254740991,
                            "description": "id"
                          },
                          "externalId": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "externalId"
                          }
                        }
                      },
                      "description": "dataSetIds"
                    },
                    "externalIdPrefix": {
                      "type": "string",
                      "title": "filter externalIdPrefix",
                      "maxLength": 255,
                      "description": "externalIdPrefix"
                    },
                    "createdTime": {
                      "type": "object",
                      "properties": {
                        "max": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter createdTime max",
                          "description": "max"
                        },
                        "min": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter createdTime min",
                          "description": "min"
                        }
                      },
                      "description": "createdTime"
                    },
                    "lastUpdatedTime": {
                      "type": "object",
                      "properties": {
                        "max": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter lastUpdatedTime max",
                          "description": "max"
                        },
                        "min": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter lastUpdatedTime min",
                          "description": "min"
                        }
                      },
                      "description": "lastUpdatedTime"
                    }
                  },
                  "description": "filter"
                },
                "aggregateFilter": {
                  "type": "object",
                  "description": "aggregateFilter"
                },
                "aggregate": {
                  "type": "string",
                  "description": "aggregate"
                },
                "properties": {
                  "type": "object",
                  "description": "properties"
                },
                "path": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 1,
                  "items": {
                    "type": "string",
                    "enum": [
                      "metadata"
                    ]
                  },
                  "description": "path"
                }
              },
              "default": {
                "advancedFilter": {
                  "and": [
                    {
                      "value": "<Circular reference to #/components/schemas/TimeSeriesFilterLanguage detected>"
                    }
                  ]
                },
                "filter": {
                  "name": "cillum u",
                  "unit": "minim nisi veniam consequat ad",
                  "isString": false,
                  "isStep": false,
                  "metadata": {
                    "veniamab": "ut ex",
                    "mollit3": "culpa tempor laborum est in"
                  },
                  "assetIds": [
                    363848954441724,
                    793045462540095,
                    1261042166839739
                  ],
                  "assetExternalIds": [
                    "my.known.id"
                  ],
                  "rootAssetIds": [
                    343099548723932,
                    88483999203217
                  ],
                  "assetSubtreeIds": [
                    {
                      "id": 2811826996920158
                    }
                  ],
                  "dataSetIds": [
                    {
                      "id": 8377002788951225
                    }
                  ],
                  "externalIdPrefix": "my.known.prefix",
                  "createdTime": {
                    "max": 46278706,
                    "min": 7716985
                  },
                  "lastUpdatedTime": {
                    "max": 41603320,
                    "min": 3384231
                  }
                },
                "aggregateFilter": {
                  "and": [
                    {
                      "value": "<Circular reference to #/components/schemas/TimeSeriesAggregateFilter detected>"
                    }
                  ]
                },
                "aggregate": "count"
              }
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "count"
                      }
                    }
                  },
                  "description": "items"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "missing": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ea5eb": {
                            "type": "number",
                            "format": "float",
                            "description": "ea5eb"
                          },
                          "eiusmod5f3": {
                            "type": "number",
                            "format": "float",
                            "description": "eiusmod5f3"
                          },
                          "ipsum_2b": {
                            "type": "number",
                            "format": "float",
                            "description": "ipsum_2b"
                          }
                        }
                      },
                      "description": "missing"
                    },
                    "duplicated": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "dolor_c8": {
                            "type": "number",
                            "format": "float",
                            "description": "dolor_c8"
                          },
                          "ipsum7": {
                            "type": "integer",
                            "format": "int32",
                            "description": "ipsum7"
                          },
                          "elitf5": {
                            "type": "integer",
                            "format": "int32",
                            "description": "elitf5"
                          },
                          "dolored8": {
                            "type": "string",
                            "description": "dolored8"
                          },
                          "Duis_77a": {
                            "type": "string",
                            "description": "Duis_77a"
                          }
                        }
                      },
                      "description": "duplicated"
                    }
                  },
                  "description": "error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{project}/timeseries/search": {
      "post": {
        "summary": "Search time series",
        "description": "Fulltext search for time series based on result relevance. Primarily meant\nfor human-centric use cases, not for programs, since matching and\norder may change over time. Additional filters can also be\nspecified. This operation does not support pagination.",
        "operationId": "SearchTimeSeries",
        "parameters": [
          {
            "name": "project",
            "x-ms-summary": "project",
            "description": "The Cognite Data Fusion project.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "description": "Content-Type Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "description": "Accept Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "x-ms-summary": "body",
            "description": "Search time series object body.",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "filter": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "title": "filter name",
                      "description": "name"
                    },
                    "unit": {
                      "type": "string",
                      "title": "filter unit",
                      "description": "unit"
                    },
                    "isString": {
                      "type": "boolean",
                      "title": "filter isString",
                      "description": "isString"
                    },
                    "isStep": {
                      "type": "boolean",
                      "title": "filter isStep",
                      "description": "isStep"
                    },
                    "metadata": {
                      "type": "object",
                      "title": "filter metadata",
                      "description": "metadata"
                    },
                    "assetIds": {
                      "type": "array",
                      "title": "filter assetIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "description": "assetIds"
                    },
                    "assetExternalIds": {
                      "type": "array",
                      "title": "filter assetExternalIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "string"
                      },
                      "description": "assetExternalIds"
                    },
                    "rootAssetIds": {
                      "type": "array",
                      "title": "filter rootAssetIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "integer",
                        "format": "int64"
                      },
                      "description": "rootAssetIds"
                    },
                    "assetSubtreeIds": {
                      "type": "array",
                      "title": "filter assetSubtreeIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 9007199254740991,
                            "description": "id"
                          },
                          "externalId": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "externalId"
                          }
                        }
                      },
                      "description": "assetSubtreeIds"
                    },
                    "dataSetIds": {
                      "type": "array",
                      "title": "filter dataSetIds",
                      "minItems": 1,
                      "maxItems": 100,
                      "uniqueItems": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int64",
                            "minimum": 1,
                            "maximum": 9007199254740991,
                            "description": "id"
                          },
                          "externalId": {
                            "type": "string",
                            "maxLength": 255,
                            "description": "externalId"
                          }
                        }
                      },
                      "description": "dataSetIds"
                    },
                    "externalIdPrefix": {
                      "type": "string",
                      "title": "filter externalIdPrefix",
                      "maxLength": 255,
                      "description": "externalIdPrefix"
                    },
                    "createdTime": {
                      "type": "object",
                      "properties": {
                        "max": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter createdTime max",
                          "description": "max"
                        },
                        "min": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter createdTime min",
                          "description": "min"
                        }
                      },
                      "description": "createdTime"
                    },
                    "lastUpdatedTime": {
                      "type": "object",
                      "properties": {
                        "max": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter lastUpdatedTime max",
                          "description": "max"
                        },
                        "min": {
                          "type": "integer",
                          "format": "int64",
                          "minimum": 0,
                          "title": "filter lastUpdatedTime min",
                          "description": "min"
                        }
                      },
                      "description": "lastUpdatedTime"
                    }
                  },
                  "description": "filter"
                },
                "search": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "title": "search name",
                      "description": "name"
                    },
                    "description": {
                      "type": "string",
                      "title": "search description",
                      "description": "description"
                    },
                    "query": {
                      "type": "string",
                      "title": "search query",
                      "description": "query"
                    }
                  },
                  "description": "search"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "default": 100,
                  "minimum": 1,
                  "maximum": 1000,
                  "description": "limit"
                }
              },
              "default": {
                "filter": {
                  "name": "dolore Duis reprehenderit in velit",
                  "unit": "reprehenderit velit",
                  "isString": false,
                  "isStep": false,
                  "metadata": {
                    "nisi_c": "ipsum"
                  },
                  "assetIds": [
                    363848954441724,
                    793045462540095,
                    1261042166839739
                  ],
                  "assetExternalIds": [
                    "my.known.id"
                  ],
                  "rootAssetIds": [
                    343099548723932,
                    88483999203217
                  ],
                  "assetSubtreeIds": [
                    {
                      "id": 5739678374793478
                    }
                  ],
                  "dataSetIds": [
                    {
                      "id": 1013419334254488
                    }
                  ],
                  "externalIdPrefix": "my.known.prefix",
                  "createdTime": {
                    "max": 23053915,
                    "min": 16855291
                  },
                  "lastUpdatedTime": {
                    "max": 35295875,
                    "min": 48926022
                  }
                },
                "search": {
                  "name": "non in minim fugiat ma",
                  "description": "dolor veniam in",
                  "query": "some other"
                },
                "limit": 100
              }
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "isString": {
                        "type": "boolean",
                        "description": "isString"
                      },
                      "isStep": {
                        "type": "boolean",
                        "description": "isStep"
                      },
                      "createdTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "createdTime"
                      },
                      "lastUpdatedTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lastUpdatedTime"
                      },
                      "externalId": {
                        "type": "string",
                        "description": "externalId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "cupidatat4b_": {
                            "type": "string",
                            "description": "cupidatat4b_"
                          },
                          "reprehenderit36": {
                            "type": "string",
                            "description": "reprehenderit36"
                          }
                        },
                        "description": "metadata"
                      },
                      "unit": {
                        "type": "string",
                        "description": "unit"
                      },
                      "assetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "assetId"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "securityCategories": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "securityCategories"
                      },
                      "dataSetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "dataSetId"
                      }
                    }
                  },
                  "description": "items"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{project}/timeseries/update": {
      "post": {
        "summary": "Update time series",
        "description": "Updates one or more time series. Fields outside of the request remain unchanged.\n\nFor primitive fields (those whose type is string, number, or boolean), use `\"set\": value`\nto update the value; use `\"setNull\": true` to set the field to null.\n\nFor JSON array fields (for example `securityCategories`), use `\"set\": [value1, value2]` to\nupdate the value; use `\"add\": [value1, value2]` to add values; use\n`\"remove\": [value1, value2]` to remove values.",
        "operationId": "UpdateTimeSeries",
        "parameters": [
          {
            "name": "project",
            "x-ms-summary": "project",
            "description": "The Cognite Data Fusion project.",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "name": "Content-Type",
            "x-ms-summary": "Content Type",
            "description": "Content-Type Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "x-ms-summary": "Accept",
            "description": "Accept Header MimeType",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "x-ms-summary": "body",
            "description": "Update time series object body.",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 1000,
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int64",
                        "minimum": 1,
                        "maximum": 9007199254740991,
                        "description": "id"
                      },
                      "externalId": {
                        "type": "string",
                        "maxLength": 255,
                        "description": "externalId"
                      },
                      "update": {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "type": "object",
                            "title": "update externalId",
                            "description": "externalId"
                          },
                          "name": {
                            "type": "object",
                            "title": "update name",
                            "description": "name"
                          },
                          "metadata": {
                            "type": "object",
                            "title": "update metadata",
                            "description": "metadata"
                          },
                          "unit": {
                            "type": "object",
                            "title": "update unit",
                            "description": "unit"
                          },
                          "assetId": {
                            "type": "object",
                            "title": "update assetId",
                            "description": "assetId"
                          },
                          "isStep": {
                            "type": "object",
                            "title": "update isStep",
                            "description": "isStep"
                          },
                          "description": {
                            "type": "object",
                            "title": "update description",
                            "description": "description"
                          },
                          "securityCategories": {
                            "type": "object",
                            "title": "update securityCategories",
                            "description": "securityCategories"
                          },
                          "dataSetId": {
                            "type": "object",
                            "title": "update dataSetId",
                            "description": "dataSetId"
                          }
                        },
                        "description": "update"
                      }
                    }
                  },
                  "description": "items"
                }
              },
              "default": {
                "items": [
                  {
                    "id": 65578963223840,
                    "update": {
                      "externalId": {
                        "set": "deser"
                      },
                      "name": {
                        "set": "quis do fugiat"
                      },
                      "metadata": {
                        "set": {
                          "key1": "value1",
                          "key2": "value2"
                        }
                      },
                      "unit": {
                        "set": "occaecat e"
                      },
                      "assetId": {
                        "set": -49293797
                      },
                      "isStep": {
                        "set": false
                      },
                      "description": {
                        "set": "eu officia Lorem in"
                      },
                      "securityCategories": {
                        "set": [
                          43965436,
                          -26623388
                        ]
                      },
                      "dataSetId": {
                        "set": -82503202
                      }
                    }
                  }
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "id"
                      },
                      "isString": {
                        "type": "boolean",
                        "description": "isString"
                      },
                      "isStep": {
                        "type": "boolean",
                        "description": "isStep"
                      },
                      "createdTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "createdTime"
                      },
                      "lastUpdatedTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "lastUpdatedTime"
                      },
                      "externalId": {
                        "type": "string",
                        "description": "externalId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "cupidatat4b_": {
                            "type": "string",
                            "description": "cupidatat4b_"
                          },
                          "reprehenderit36": {
                            "type": "string",
                            "description": "reprehenderit36"
                          }
                        },
                        "description": "metadata"
                      },
                      "unit": {
                        "type": "string",
                        "description": "unit"
                      },
                      "assetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "assetId"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "securityCategories": {
                        "type": "array",
                        "items": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "securityCategories"
                      },
                      "dataSetId": {
                        "type": "integer",
                        "format": "int32",
                        "description": "dataSetId"
                      }
                    }
                  },
                  "description": "items"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "missing": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id"
                          }
                        }
                      },
                      "description": "missing"
                    }
                  },
                  "description": "error"
                }
              }
            }
          },
          "409": {
            "description": "409",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
                    "duplicated": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "type": "string",
                            "description": "externalId"
                          }
                        }
                      },
                      "description": "duplicated"
                    }
                  },
                  "description": "error"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    },
[...]
