{
  "swagger": "2.0",
  "info": {
    "title": "OpenCage Geocoding",
    "description": "The OpenCage Geocoding provides reverse (latitude/longitude to text) and forward (text to latitude/longitude) geocoding",
    "version": "1.0",
    "contact": {
      "name": "Ahmad Najjar",
      "email": "ahmadn82@hotmail.com"
    }
  },
  "host": "api.opencagedata.com",
  "basePath": "/geocode",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1/json/reverse": {
      "get": {
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "documentation": {
                  "type": "string",
                  "description": "documentation"
                },
                "licenses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "licenses"
                },
                "rate": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "limit"
                    },
                    "remaining": {
                      "type": "integer",
                      "format": "int32",
                      "description": "remaining"
                    },
                    "reset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "reset"
                    }
                  },
                  "description": "rate"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "annotations": {
                        "type": "object",
                        "properties": {
                          "DMS": {
                            "type": "object",
                            "properties": {
                              "lat": {
                                "type": "string",
                                "description": "latitude",
                                "title": "Latitude"
                              },
                              "lng": {
                                "type": "string",
                                "description": "longitude",
                                "title": "Longitude"
                              }
                            },
                            "description": "DMS"
                          },
                          "MGRS": {
                            "type": "string",
                            "description": "MGRS"
                          },
                          "Maidenhead": {
                            "type": "string",
                            "description": "Maidenhead"
                          },
                          "Mercator": {
                            "type": "object",
                            "properties": {
                              "x": {
                                "type": "number",
                                "format": "float",
                                "description": "x"
                              },
                              "y": {
                                "type": "number",
                                "format": "float",
                                "description": "y"
                              }
                            },
                            "description": "Mercator"
                          },
                          "OSM": {
                            "type": "object",
                            "properties": {
                              "edit_url": {
                                "type": "string",
                                "description": "Edit url",
                                "title": "Edit url"
                              },
                              "note_url": {
                                "type": "string",
                                "description": "Note url",
                                "title": "Note url"
                              },
                              "url": {
                                "type": "string",
                                "description": "url"
                              }
                            },
                            "description": "OSM"
                          },
                          "UN_M49": {
                            "type": "object",
                            "properties": {
                              "regions": {
                                "type": "object",
                                "description": "regions"
                              },
                              "statistical_groupings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "statistical groupings"
                              }
                            },
                            "description": "UN_M49"
                          },
                          "callingcode": {
                            "type": "integer",
                            "format": "int32",
                            "description": "calling code",
                            "title": "Calling code"
                          },
                          "currency": {
                            "type": "object",
                            "properties": {
                              "alternate_symbols": {
                                "type": "array",
                                "items": {},
                                "description": "alternate symbols"
                              },
                              "decimal_mark": {
                                "type": "string",
                                "description": "Decimal mark",
                                "title": "Decimal mark"
                              },
                              "html_entity": {
                                "type": "string",
                                "description": "HTML entity",
                                "title": "HTML entity"
                              },
                              "iso_code": {
                                "type": "string",
                                "description": "ISO code",
                                "title": "ISO code"
                              },
                              "iso_numeric": {
                                "type": "string",
                                "description": "ISO numeric",
                                "title": "ISO numeric"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "smallest_denomination": {
                                "type": "integer",
                                "format": "int32",
                                "description": "smallest denomination",
                                "title": "Smallest denomination"
                              },
                              "subunit": {
                                "type": "string",
                                "description": "subunit"
                              },
                              "subunit_to_unit": {
                                "type": "integer",
                                "format": "int32",
                                "description": "subunit to unit",
                                "title": "subunit to unit"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "symbol"
                              },
                              "symbol_first": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Symbol first",
                                "title": "Symbol first"
                              },
                              "thousands_separator": {
                                "type": "string",
                                "description": "Thousands separator",
                                "title": "Thousands separator"
                              }
                            },
                            "description": "currency"
                          },
                          "flag": {
                            "type": "string",
                            "description": "flag"
                          },
                          "geohash": {
                            "type": "string",
                            "description": "geohash",
                            "title": "Geohash"
                          },
                          "qibla": {
                            "type": "number",
                            "format": "float",
                            "description": "qibla"
                          },
                          "roadinfo": {
                            "type": "object",
                            "properties": {
                              "drive_on": {
                                "type": "string",
                                "description": "Drive on",
                                "title": "Drive on"
                              },
                              "road": {
                                "type": "string",
                                "description": "road"
                              },
                              "speed_in": {
                                "type": "string",
                                "description": "Speed in",
                                "title": "Speed in"
                              }
                            },
                            "description": "roadinfo"
                          },
                          "sun": {
                            "type": "object",
                            "properties": {
                              "rise": {
                                "type": "object",
                                "properties": {
                                  "apparent": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "apparent"
                                  },
                                  "astronomical": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "astronomical"
                                  },
                                  "civil": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "civil"
                                  },
                                  "nautical": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "nautical"
                                  }
                                },
                                "description": "rise"
                              },
                              "set": {
                                "type": "object",
                                "properties": {
                                  "apparent": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "apparent"
                                  },
                                  "astronomical": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "astronomical"
                                  },
                                  "civil": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "civil"
                                  },
                                  "nautical": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "nautical"
                                  }
                                },
                                "description": "set"
                              }
                            },
                            "description": "sun"
                          },
                          "timezone": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "now_in_dst": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Now in DST",
                                "title": "Now in DST"
                              },
                              "offset_sec": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Offset second",
                                "title": "Offset second"
                              },
                              "offset_string": {
                                "type": "string",
                                "description": "Offset string",
                                "title": "Offset string"
                              },
                              "short_name": {
                                "type": "string",
                                "description": "Short name",
                                "title": "Short name"
                              }
                            },
                            "description": "timezone"
                          },
                          "what3words": {
                            "type": "object",
                            "properties": {
                              "words": {
                                "type": "string",
                                "description": "words"
                              }
                            },
                            "description": "what3words"
                          }
                        },
                        "description": "annotations"
                      },
                      "bounds": {
                        "type": "object",
                        "properties": {
                          "northeast": {
                            "type": "object",
                            "properties": {
                              "lat": {
                                "type": "number",
                                "format": "float",
                                "description": "latitude",
                                "title": "Latitude"
                              },
                              "lng": {
                                "type": "number",
                                "format": "float",
                                "description": "longitude",
                                "title": "Longitude"
                              }
                            },
                            "description": "northeast"
                          },
                          "southwest": {
                            "type": "object",
                            "properties": {
                              "lat": {
                                "type": "number",
                                "format": "float",
                                "description": "latitude",
                                "title": "Latitude"
                              },
                              "lng": {
                                "type": "number",
                                "format": "float",
                                "description": "longitude",
                                "title": "Longitude"
                              }
                            },
                            "description": "southwest"
                          }
                        },
                        "description": "bounds"
                      },
                      "components": {
                        "type": "object",
                        "properties": {
                          "ISO_3166-1_alpha-2": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2",
                            "title": "ISO 3166-1 alpha-2"
                          },
                          "ISO_3166-1_alpha-3": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-3",
                            "title": "ISO 3166-1 alpha-3"
                          },
                          "_category": {
                            "type": "string",
                            "description": "category",
                            "title": "Category"
                          },
                          "_type": {
                            "type": "string",
                            "description": "type",
                            "title": "Type"
                          },
                          "city": {
                            "type": "string",
                            "description": "city"
                          },
                          "city_district": {
                            "type": "string",
                            "description": "City district",
                            "title": "City district"
                          },
                          "continent": {
                            "type": "string",
                            "description": "continent"
                          },
                          "country": {
                            "type": "string",
                            "description": "country"
                          },
                          "country_code": {
                            "type": "string",
                            "description": "Country code",
                            "title": "Country code"
                          },
                          "house_number": {
                            "type": "string",
                            "description": "House number",
                            "title": "House number"
                          },
                          "neighbourhood": {
                            "type": "string",
                            "description": "neighbourhood"
                          },
                          "political_union": {
                            "type": "string",
                            "description": "Political union",
                            "title": "Political union"
                          },
                          "postcode": {
                            "type": "string",
                            "description": "Postcode"
                          },
                          "road": {
                            "type": "string",
                            "description": "road"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "state_code": {
                            "type": "string",
                            "description": "State code",
                            "title": "State code"
                          },
                          "suburb": {
                            "type": "string",
                            "description": "suburb"
                          }
                        },
                        "description": "components"
                      },
                      "confidence": {
                        "type": "integer",
                        "format": "int32",
                        "description": "confidence"
                      },
                      "formatted": {
                        "type": "string",
                        "description": "formatted"
                      },
                      "geometry": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "number",
                            "format": "float",
                            "description": "latitude",
                            "title": "Latitude"
                          },
                          "lng": {
                            "type": "number",
                            "format": "float",
                            "description": "longitude",
                            "title": "Longitude"
                          }
                        },
                        "description": "geometry"
                      }
                    }
                  },
                  "description": "results"
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    }
                  },
                  "description": "status"
                },
                "stay_informed": {
                  "type": "object",
                  "properties": {
                    "blog": {
                      "type": "string",
                      "description": "blog"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "twitter"
                    }
                  },
                  "description": "stay_informed"
                },
                "thanks": {
                  "type": "string",
                  "description": "thanks"
                },
                "timestamp": {
                  "type": "object",
                  "properties": {
                    "created_http": {
                      "type": "string",
                      "description": "created http",
                      "title": "created http"
                    },
                    "created_unix": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Created unix",
                      "title": "Created unix"
                    }
                  },
                  "description": "timestamp"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total results",
                  "title": "Total results"
                }
              }
            }
          }
        },
        "summary": "Reverse geocoding",
        "description": "Get location address by latitude and longitude",
        "operationId": "ReverseGeocoding",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "lat",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Latitude",
            "x-ms-visibility": "important",
            "description": "Latitude"
          },
          {
            "name": "long",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Longitude",
            "x-ms-summary": "Longitude",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v1/json/forward": {
      "get": {
        "responses": {
          "200": {
            "description": "200 OK",
            "schema": {
              "type": "object",
              "properties": {
                "documentation": {
                  "type": "string",
                  "description": "documentation"
                },
                "licenses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      }
                    }
                  },
                  "description": "licenses"
                },
                "rate": {
                  "type": "object",
                  "properties": {
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "limit"
                    },
                    "remaining": {
                      "type": "integer",
                      "format": "int32",
                      "description": "remaining"
                    },
                    "reset": {
                      "type": "integer",
                      "format": "int32",
                      "description": "reset"
                    }
                  },
                  "description": "rate"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "annotations": {
                        "type": "object",
                        "properties": {
                          "DMS": {
                            "type": "object",
                            "properties": {
                              "lat": {
                                "type": "string",
                                "description": "Latitude",
                                "title": "Latitude"
                              },
                              "lng": {
                                "type": "string",
                                "description": "Longitude",
                                "title": "Longitude"
                              }
                            },
                            "description": "DMS"
                          },
                          "MGRS": {
                            "type": "string",
                            "description": "MGRS"
                          },
                          "Maidenhead": {
                            "type": "string",
                            "description": "Maidenhead"
                          },
                          "Mercator": {
                            "type": "object",
                            "properties": {
                              "x": {
                                "type": "number",
                                "format": "float",
                                "description": "x"
                              },
                              "y": {
                                "type": "number",
                                "format": "float",
                                "description": "y"
                              }
                            },
                            "description": "Mercator"
                          },
                          "OSM": {
                            "type": "object",
                            "properties": {
                              "edit_url": {
                                "type": "string",
                                "description": "Edit url",
                                "title": "Edit url"
                              },
                              "note_url": {
                                "type": "string",
                                "description": "Note url",
                                "title": "Note url"
                              },
                              "url": {
                                "type": "string",
                                "description": "url"
                              }
                            },
                            "description": "OSM"
                          },
                          "UN_M49": {
                            "type": "object",
                            "properties": {
                              "regions": {
                                "type": "object",
                                "description": "regions"
                              },
                              "statistical_groupings": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Statistical groupings"
                              }
                            },
                            "description": "UN_M49"
                          },
                          "callingcode": {
                            "type": "integer",
                            "format": "int32",
                            "description": "calling code",
                            "title": "Calling code"
                          },
                          "currency": {
                            "type": "object",
                            "properties": {
                              "alternate_symbols": {
                                "type": "array",
                                "items": {},
                                "description": "Alternate symbols"
                              },
                              "decimal_mark": {
                                "type": "string",
                                "description": "Decimal mark",
                                "title": "Decimal mark"
                              },
                              "html_entity": {
                                "type": "string",
                                "description": "HTML entity",
                                "title": "HTML entity"
                              },
                              "iso_code": {
                                "type": "string",
                                "description": "ISO code",
                                "title": "ISO code"
                              },
                              "iso_numeric": {
                                "type": "string",
                                "description": "ISO numeric",
                                "title": "ISO numeric"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "smallest_denomination": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Smallest denomination",
                                "title": "Smallest denomination"
                              },
                              "subunit": {
                                "type": "string",
                                "description": "subunit"
                              },
                              "subunit_to_unit": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Subunit to unit",
                                "title": "Subunit to unit"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "symbol"
                              },
                              "symbol_first": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Symbol first",
                                "title": "Symbol first"
                              },
                              "thousands_separator": {
                                "type": "string",
                                "description": "Thousands separator",
                                "title": "Thousands separator"
                              }
                            },
                            "description": "currency"
                          },
                          "flag": {
                            "type": "string",
                            "description": "flag"
                          },
                          "geohash": {
                            "type": "string",
                            "description": "geohash"
                          },
                          "qibla": {
                            "type": "number",
                            "format": "float",
                            "description": "qibla"
                          },
                          "roadinfo": {
                            "type": "object",
                            "properties": {
                              "drive_on": {
                                "type": "string",
                                "description": "Drive on",
                                "title": "Drive on"
                              },
                              "road": {
                                "type": "string",
                                "description": "road"
                              },
                              "speed_in": {
                                "type": "string",
                                "description": "Speed in",
                                "title": "Speed in"
                              }
                            },
                            "description": "Road info"
                          },
                          "sun": {
                            "type": "object",
                            "properties": {
                              "rise": {
                                "type": "object",
                                "properties": {
                                  "apparent": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "apparent"
                                  },
                                  "astronomical": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "astronomical"
                                  },
                                  "civil": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "civil"
                                  },
                                  "nautical": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "nautical"
                                  }
                                },
                                "description": "rise"
                              },
                              "set": {
                                "type": "object",
                                "properties": {
                                  "apparent": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "apparent"
                                  },
                                  "astronomical": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "astronomical"
                                  },
                                  "civil": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "civil"
                                  },
                                  "nautical": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "nautical"
                                  }
                                },
                                "description": "set"
                              }
                            },
                            "description": "sun"
                          },
                          "timezone": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "now_in_dst": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Now in DST",
                                "title": "Now in DST"
                              },
                              "offset_sec": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Offset second",
                                "title": "Offset second"
                              },
                              "offset_string": {
                                "type": "string",
                                "description": "Offset string",
                                "title": "Offset string"
                              },
                              "short_name": {
                                "type": "string",
                                "description": "Short name",
                                "title": "Short name"
                              }
                            },
                            "description": "timezone"
                          },
                          "what3words": {
                            "type": "object",
                            "properties": {
                              "words": {
                                "type": "string",
                                "description": "words"
                              }
                            },
                            "description": "what3words"
                          },
                          "wikidata": {
                            "type": "string",
                            "description": "wikidata"
                          }
                        },
                        "description": "annotations"
                      },
                      "bounds": {
                        "type": "object",
                        "properties": {
                          "northeast": {
                            "type": "object",
                            "properties": {
                              "lat": {
                                "type": "number",
                                "format": "float",
                                "description": "Latitude",
                                "title": "Latitude"
                              },
                              "lng": {
                                "type": "number",
                                "format": "float",
                                "description": "Longitude",
                                "title": "Longitude"
                              }
                            },
                            "description": "northeast"
                          },
                          "southwest": {
                            "type": "object",
                            "properties": {
                              "lat": {
                                "type": "number",
                                "format": "float",
                                "description": "Latitude",
                                "title": "Latitude"
                              },
                              "lng": {
                                "type": "number",
                                "format": "float",
                                "description": "Longitude",
                                "title": "Longitude"
                              }
                            },
                            "description": "southwest"
                          }
                        },
                        "description": "bounds"
                      },
                      "components": {
                        "type": "object",
                        "properties": {
                          "ISO_3166-1_alpha-2": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-2",
                            "title": "ISO 3166-1 alpha-2"
                          },
                          "ISO_3166-1_alpha-3": {
                            "type": "string",
                            "description": "ISO 3166-1 alpha-3",
                            "title": "ISO 3166-1 alpha-3"
                          },
                          "_category": {
                            "type": "string",
                            "description": "category",
                            "title": "Category"
                          },
                          "_type": {
                            "type": "string",
                            "description": "type",
                            "title": "Type"
                          },
                          "continent": {
                            "type": "string",
                            "description": "continent"
                          },
                          "country": {
                            "type": "string",
                            "description": "country"
                          },
                          "country_code": {
                            "type": "string",
                            "description": "country code",
                            "title": "Country code"
                          },
                          "house_number": {
                            "type": "string",
                            "description": "house number",
                            "title": "House number"
                          },
                          "museum": {
                            "type": "string",
                            "description": "museum"
                          },
                          "political_union": {
                            "type": "string",
                            "description": "political union",
                            "title": "Political union"
                          },
                          "postcode": {
                            "type": "string",
                            "description": "postcode"
                          },
                          "road": {
                            "type": "string",
                            "description": "road"
                          },
                          "state": {
                            "type": "string",
                            "description": "state"
                          },
                          "state_code": {
                            "type": "string",
                            "description": "state code",
                            "title": "State code"
                          },
                          "suburb": {
                            "type": "string",
                            "description": "suburb"
                          },
                          "town": {
                            "type": "string",
                            "description": "town"
                          }
                        },
                        "description": "components"
                      },
                      "confidence": {
                        "type": "integer",
                        "format": "int32",
                        "description": "confidence"
                      },
                      "formatted": {
                        "type": "string",
                        "description": "formatted"
                      },
                      "geometry": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "number",
                            "format": "float",
                            "description": "Latitude",
                            "title": "Latitude"
                          },
                          "lng": {
                            "type": "number",
                            "format": "float",
                            "description": "Longitude",
                            "title": "Longitude"
                          }
                        },
                        "description": "geometry"
                      }
                    }
                  },
                  "description": "results"
                },
                "status": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "format": "int32",
                      "description": "code"
                    },
                    "message": {
                      "type": "string",
                      "description": "message"
                    }
                  },
                  "description": "status"
                },
                "stay_informed": {
                  "type": "object",
                  "properties": {
                    "blog": {
                      "type": "string",
                      "description": "blog"
                    },
                    "twitter": {
                      "type": "string",
                      "description": "twitter"
                    }
                  },
                  "description": "stay informed"
                },
                "thanks": {
                  "type": "string",
                  "description": "thanks"
                },
                "timestamp": {
                  "type": "object",
                  "properties": {
                    "created_http": {
                      "type": "string",
                      "description": "created http",
                      "title": "Created http"
                    },
                    "created_unix": {
                      "type": "integer",
                      "format": "int32",
                      "description": "created unix",
                      "title": "Created unix"
                    }
                  },
                  "description": "timestamp"
                },
                "total_results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total results",
                  "title": "Total results"
                }
              }
            }
          }
        },
        "summary": "Forward Geocoding",
        "operationId": "ForwardGeocoding",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "placename",
            "in": "header",
            "required": true,
            "type": "string",
            "x-ms-summary": "Place name",
            "x-ms-visibility": "important",
            "description": "City or address"
          }
        ],
        "description": "Get location address details by place name, city or address"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://opencagedata.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://opencagedata.com/gdpr"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website;Data"
    }
  ]
}