{
  "swagger": "2.0",
  "info": {
    "title": "Bureau of Economic Analysis",
    "version": "1.0",
    "description": "BEA provides access to critical economic datasets including GDP, regional data, international trade, and industry statistics.",
    "contact": {
      "name": "Bureau of Economic Analysis",
      "url": "https://www.bea.gov/resources/for-developers",
      "email": "developers@bea.gov",
      "x-ms-privacyPolicyUrl": "https://www.bea.gov/privacy"
    }
  },
  "host": "apps.bea.gov",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "UserID"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://apps.bea.gov/API"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.bea.gov/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance"
    }
  ],
  "paths": {
    "/GetDatasetList": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "operationId": "GetDatasetList",
        "summary": "Get Dataset List",
        "x-ms-summary": "Get Dataset List",
        "description": "Returns the list of datasets available from the Bureau of Economic Analysis.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetDatasetList",
            "enum": [
              "GetDatasetList"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDatasetListResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetParameterList": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "operationId": "GetParameterList",
        "summary": "Get Parameter List",
        "x-ms-summary": "Get Parameter List",
        "description": "Returns the list of parameters available for a specified BEA dataset.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetParameterList",
            "enum": [
              "GetParameterList"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Regional",
            "x-ms-summary": "Dataset name",
            "description": "Dataset name for which parameters are requested."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDatasetListResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetParameterValuesFiltered": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get parameter values filtered",
        "description": "Returns valid values for a target parameter filtered by other parameters.",
        "operationId": "GetParameterValuesFiltered",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetParameterValuesFiltered",
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Regional",
            "x-ms-summary": "Dataset name",
            "description": "Dataset name."
          },
          {
            "name": "TargetParameter",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "LineCode",
            "x-ms-summary": "Target parameter",
            "description": "Parameter for which values are requested."
          },
          {
            "name": "TableName",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "SAINC1",
            "x-ms-summary": "Table name",
            "description": "Table used to filter results."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetParameterValues": {
      "get": {
        "tags": [
          "Datasets"
        ],
        "summary": "Get parameter values",
        "description": "Returns the list of valid values for a parameter within a dataset.",
        "operationId": "GetParameterValues",
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetParameterValues",
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "INTLSERVTRADE",
            "x-ms-summary": "Dataset name",
            "description": "Dataset name."
          },
          {
            "name": "ParameterName",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "TradeDirection",
            "x-ms-summary": "Parameter name",
            "description": "Name of the parameter whose values are requested."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataNIPA": {
      "get": {
        "tags": [
          "NIPA"
        ],
        "summary": "Get NIPA data",
        "description": "Returns BEA data for the NIPA dataset.",
        "operationId": "GetDataNIPA",
        "x-ms-summary": "Get NIPA data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "NIPA",
            "enum": [
              "NIPA"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to NIPA."
          },
          {
            "name": "TableName",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "T10101",
            "x-ms-summary": "Table name",
            "description": "NIPA table name."
          },
          {
            "name": "Frequency",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "A",
            "enum": [
              "A",
              "Q",
              "M"
            ],
            "x-ms-summary": "Frequency",
            "description": "Frequency of data. A = Annual, Q = Quarterly, M = Monthly."
          },
          {
            "name": "Year",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Year",
            "description": "Year or comma-delimited list of years."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataNIPAResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataNIUnderlyingDetail": {
      "get": {
        "tags": [
          "NIUnderlyingDetail"
        ],
        "summary": "Get NI underlying detail data",
        "description": "Returns BEA data for the NIUnderlyingDetail dataset.",
        "operationId": "GetDataNIUnderlyingDetail",
        "x-ms-summary": "Get NI underlying detail data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "NIUnderlyingDetail",
            "enum": [
              "NIUnderlyingDetail"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to NIUnderlyingDetail."
          },
          {
            "name": "TableName",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "U20305",
            "x-ms-summary": "Table name",
            "description": "NI underlying detail table name."
          },
          {
            "name": "Frequency",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "A",
            "enum": [
              "A",
              "Q",
              "M"
            ],
            "x-ms-summary": "Frequency",
            "description": "Frequency of data. A = Annual, Q = Quarterly, M = Monthly."
          },
          {
            "name": "Year",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Year",
            "description": "Year or comma-delimited list of years."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataNIUnderlyingDetailResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataMNE": {
      "get": {
        "tags": [
          "MNE"
        ],
        "summary": "Get MNE data",
        "description": "Returns BEA data for the MNE dataset.",
        "operationId": "GetDataMNE",
        "x-ms-summary": "Get MNE data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "MNE",
            "enum": [
              "MNE"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to MNE."
          },
          {
            "name": "DirectionOfInvestment",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "OUTWARD",
            "x-ms-summary": "Direction of investment",
            "description": "Direction of investment filter."
          },
          {
            "name": "OwnershipLevel",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Ownership level",
            "description": "Ownership level filter."
          },
          {
            "name": "NonbankAffiliatesOnly",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Nonbank affiliates only",
            "description": "Nonbank affiliates only filter."
          },
          {
            "name": "Classification",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "COUNTRY",
            "x-ms-summary": "Classification",
            "description": "Classification filter."
          },
          {
            "name": "Country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Country",
            "description": "Country filter."
          },
          {
            "name": "Industry",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Industry",
            "description": "Industry filter."
          },
          {
            "name": "Year",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2012",
            "x-ms-summary": "Year",
            "description": "Year filter."
          },
          {
            "name": "State",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "State",
            "description": "State filter."
          },
          {
            "name": "SeriesID",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Series ID",
            "description": "Series identifier."
          },
          {
            "name": "GetFootnotes",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Get footnotes",
            "description": "Indicates whether to return footnotes."
          },
          {
            "name": "Investment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Investment",
            "description": "Investment filter."
          },
          {
            "name": "ParentInvestment",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Parent investment",
            "description": "Parent investment filter."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataMNEResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataFixedAssets": {
      "get": {
        "tags": [
          "FixedAssets"
        ],
        "summary": "Get fixed assets data",
        "description": "Returns BEA data for the FixedAssets dataset.",
        "operationId": "GetDataFixedAssets",
        "x-ms-summary": "Get fixed assets data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "FixedAssets",
            "enum": [
              "FixedAssets"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to FixedAssets."
          },
          {
            "name": "TableName",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "FAAT201",
            "x-ms-summary": "Table name",
            "description": "Fixed assets table name."
          },
          {
            "name": "Year",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Year",
            "description": "Year filter."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataFixedAssetsResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataITA": {
      "get": {
        "tags": [
          "ITA"
        ],
        "summary": "Get ITA data",
        "description": "Returns BEA data for the ITA dataset.",
        "operationId": "GetDataITA",
        "x-ms-summary": "Get ITA data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "ITA",
            "enum": [
              "ITA"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to ITA."
          },
          {
            "name": "Indicator",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "BALGDS",
            "x-ms-summary": "Indicator",
            "description": "ITA indicator."
          },
          {
            "name": "AreaOrCountry",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "ALLCOUNTRIES",
            "x-ms-summary": "Area or country",
            "description": "Area or country filter."
          },
          {
            "name": "Frequency",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "A",
            "x-ms-summary": "Frequency",
            "description": "Frequency filter."
          },
          {
            "name": "Year",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Year",
            "description": "Year filter."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataITAResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataIIP": {
      "get": {
        "tags": [
          "IIP"
        ],
        "summary": "Get IIP data",
        "description": "Returns BEA data for the IIP dataset.",
        "operationId": "GetDataIIP",
        "x-ms-summary": "Get IIP data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "IIP",
            "enum": [
              "IIP"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to IIP."
          },
          {
            "name": "TypeOfInvestment",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "FinAssetsExclFinDeriv",
            "x-ms-summary": "Type of investment",
            "description": "Type of investment filter."
          },
          {
            "name": "Component",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "Pos",
            "x-ms-summary": "Component",
            "description": "Position or change-in-position component filter."
          },
          {
            "name": "Frequency",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "A",
            "enum": [
              "A",
              "QNSA"
            ],
            "x-ms-summary": "Frequency",
            "description": "Frequency of data. A = Annual, QNSA = Quarterly not seasonally adjusted."
          },
          {
            "name": "Year",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Year",
            "description": "Year or comma-delimited list of years."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataIIPResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataInputOutput": {
      "get": {
        "tags": [
          "InputOutput"
        ],
        "summary": "Get Input-Output data",
        "description": "Returns BEA data for the InputOutput dataset.",
        "operationId": "GetDataInputOutput",
        "x-ms-summary": "Get Input-Output data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "InputOutput",
            "enum": [
              "InputOutput"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to InputOutput."
          },
          {
            "name": "TableID",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "56",
            "x-ms-summary": "Table ID",
            "description": "Unique Input-Output table identifier. Multiple comma-delimited values are accepted."
          },
          {
            "name": "Year",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2022",
            "x-ms-summary": "Year",
            "description": "Year or comma-delimited list of years. Use ALL to return all available periods."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataInputOutputResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataIntlServTrade": {
      "get": {
        "tags": [
          "IntlServTrade"
        ],
        "summary": "Get international services trade data",
        "description": "Returns BEA data for the IntlServTrade dataset.",
        "operationId": "GetDataIntlServTrade",
        "x-ms-summary": "Get international services trade data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "IntlServTrade",
            "enum": [
              "IntlServTrade"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to IntlServTrade."
          },
          {
            "name": "TypeOfService",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "AllServiceTypes",
            "x-ms-summary": "Type of service",
            "description": "Type of service requested."
          },
          {
            "name": "TradeDirection",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "Exports",
            "x-ms-summary": "Trade direction",
            "description": "Trade direction requested."
          },
          {
            "name": "Affiliation",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "AllAffiliations",
            "x-ms-summary": "Affiliation",
            "description": "Affiliation requested."
          },
          {
            "name": "AreaOrCountry",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "AllCountries",
            "x-ms-summary": "Area or country",
            "description": "Area or country requested."
          },
          {
            "name": "Year",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Year",
            "description": "Year or comma-delimited list of years."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataIntlServTradeResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataIntlServSTA": {
      "get": {
        "tags": [
          "IntlServSTA"
        ],
        "summary": "Get international services statistics by affiliate data",
        "description": "Returns BEA data for the IntlServSTA dataset.",
        "operationId": "GetDataIntlServSTA",
        "x-ms-summary": "Get international services statistics by affiliate data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "IntlServSTA",
            "enum": [
              "IntlServSTA"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to IntlServSTA."
          },
          {
            "name": "Channel",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Channel",
            "description": "Delivery channel filter."
          },
          {
            "name": "Destination",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Destination",
            "description": "Destination filter."
          },
          {
            "name": "Industry",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Industry",
            "description": "Industry filter."
          },
          {
            "name": "AreaOrCountry",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Area or country",
            "description": "Area or country filter."
          },
          {
            "name": "Year",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Year",
            "description": "Year or comma-delimited list of years."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataIntlServSTAResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataGDPbyIndustry": {
      "get": {
        "tags": [
          "GDPbyIndustry"
        ],
        "summary": "Get GDP by industry data",
        "description": "Returns BEA data for the GDPbyIndustry dataset.",
        "operationId": "GetDataGDPbyIndustry",
        "x-ms-summary": "Get GDP by industry data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GDPbyIndustry",
            "enum": [
              "GDPbyIndustry"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to GDPbyIndustry."
          },
          {
            "name": "TableID",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "1",
            "x-ms-summary": "Table ID",
            "description": "GDP by industry table identifier. Use ALL for all tables."
          },
          {
            "name": "Frequency",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "A",
            "enum": [
              "A",
              "Q"
            ],
            "x-ms-summary": "Frequency",
            "description": "Frequency of data. A = Annual, Q = Quarterly."
          },
          {
            "name": "Year",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Year",
            "description": "Year or comma-delimited list of years. Use ALL for all years."
          },
          {
            "name": "Industry",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "ALL",
            "x-ms-summary": "Industry",
            "description": "Industry identifier. Use ALL for all industries."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataGDPbyIndustryResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataRegional": {
      "get": {
        "tags": [
          "Regional"
        ],
        "summary": "Get regional data",
        "description": "Returns BEA data for the Regional dataset.",
        "operationId": "GetDataRegional",
        "x-ms-summary": "Get regional data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "Regional",
            "enum": [
              "Regional"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to Regional."
          },
          {
            "name": "TableName",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "CAINC1",
            "x-ms-summary": "Table name",
            "description": "Regional table name."
          },
          {
            "name": "LineCode",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "1",
            "x-ms-summary": "Line code",
            "description": "Line code for the selected table."
          },
          {
            "name": "GeoFips",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "STATE",
            "x-ms-summary": "GeoFIPS",
            "description": "Geographic area filter."
          },
          {
            "name": "Year",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "LAST5",
            "x-ms-summary": "Year",
            "description": "Year or range. Supports ALL, LAST5, LAST10, or comma-delimited years."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataRegionalResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataUnderlyingGDPbyIndustry": {
      "get": {
        "tags": [
          "UnderlyingGDPbyIndustry"
        ],
        "summary": "Get underlying GDP by industry data",
        "description": "Returns BEA data for the UnderlyingGDPbyIndustry dataset.",
        "operationId": "GetDataUnderlyingGDPbyIndustry",
        "x-ms-summary": "Get underlying GDP by industry data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "UnderlyingGDPbyIndustry",
            "enum": [
              "UnderlyingGDPbyIndustry"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to UnderlyingGDPbyIndustry."
          },
          {
            "name": "TableID",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "210",
            "x-ms-summary": "Table ID",
            "description": "Underlying GDP by industry table identifier. Use ALL for all tables."
          },
          {
            "name": "Frequency",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "A",
            "enum": [
              "A"
            ],
            "x-ms-summary": "Frequency",
            "description": "Frequency of data. Underlying GDP by industry currently supports annual data only."
          },
          {
            "name": "Year",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "2024",
            "x-ms-summary": "Year",
            "description": "Year or comma-delimited list of years. Use ALL for all years."
          },
          {
            "name": "Industry",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "ALL",
            "x-ms-summary": "Industry",
            "description": "Industry identifier. Use ALL for all industries."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataUnderlyingGDPbyIndustryResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    },
    "/GetDataAPIDatasetMetaData": {
      "get": {
        "tags": [
          "APIDatasetMetaData"
        ],
        "summary": "Get API dataset metadata",
        "description": "Returns BEA data for the APIDatasetMetaData dataset.",
        "operationId": "GetDataAPIDatasetMetaData",
        "x-ms-summary": "Get API dataset metadata",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "method",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "GetData",
            "enum": [
              "GetData"
            ],
            "x-ms-summary": "Method",
            "description": "BEA method."
          },
          {
            "name": "datasetname",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "APIDatasetMetaData",
            "enum": [
              "APIDatasetMetaData"
            ],
            "x-ms-summary": "Dataset name",
            "description": "Dataset name fixed to APIDatasetMetaData."
          },
          {
            "name": "Dataset",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "NIPA",
            "x-ms-summary": "Dataset",
            "description": "Dataset name for which metadata is requested."
          },
          {
            "name": "ResultFormat",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "JSON",
            "enum": [
              "JSON",
              "XML"
            ],
            "x-ms-summary": "Result format",
            "description": "Response format."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataAPIDatasetMetaDataResponse"
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API key",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "429": {
            "description": "Too Many Requests - rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "default": {
            "description": "Error"
          }
        }
      }
    }
  },
  "definitions": {
    "BEARequestParam": {
      "type": "object",
      "properties": {
        "ParameterName": {
          "type": "string",
          "description": "Name of the request parameter."
        },
        "ParameterValue": {
          "type": "string",
          "description": "Value of the request parameter."
        }
      }
    },
    "BEARequest": {
      "type": "object",
      "properties": {
        "RequestParam": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEARequestParam"
          }
        }
      }
    },
    "BEADimension": {
      "type": "object",
      "properties": {
        "Ordinal": {
          "type": "string",
          "description": "Ordinal position of the dimension."
        },
        "Name": {
          "type": "string",
          "description": "Name of the dimension."
        },
        "DataType": {
          "type": "string",
          "description": "Data type of the dimension."
        },
        "IsValue": {
          "type": "string",
          "description": "Indicates whether the dimension is the value field."
        }
      }
    },
    "NIPADataItem": {
      "type": "object",
      "properties": {
        "TableName": {
          "type": "string"
        },
        "SeriesCode": {
          "type": "string"
        },
        "LineNumber": {
          "type": "string"
        },
        "LineDescription": {
          "type": "string"
        },
        "TimePeriod": {
          "type": "string"
        },
        "METRIC_NAME": {
          "type": "string"
        },
        "CL_UNIT": {
          "type": "string"
        },
        "UNIT_MULT": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        }
      }
    },
    "NIPAResults": {
      "type": "object",
      "properties": {
        "Statistic": {
          "type": "string"
        },
        "UTCProductionTime": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NIPADataItem"
          }
        }
      }
    },
    "GetDataNIPABEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/NIPAResults"
        }
      }
    },
    "GetDataNIPAResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataNIPABEAAPI"
        }
      }
    },
    "NIUnderlyingDetailDataItem": {
      "type": "object",
      "properties": {
        "TableName": {
          "type": "string"
        },
        "SeriesCode": {
          "type": "string"
        },
        "LineNumber": {
          "type": "string"
        },
        "LineDescription": {
          "type": "string"
        },
        "TimePeriod": {
          "type": "string"
        },
        "METRIC_NAME": {
          "type": "string"
        },
        "CL_UNIT": {
          "type": "string"
        },
        "UNIT_MULT": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        }
      }
    },
    "NIUnderlyingDetailResults": {
      "type": "object",
      "properties": {
        "Statistic": {
          "type": "string"
        },
        "UTCProductionTime": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NIUnderlyingDetailDataItem"
          }
        }
      }
    },
    "GetDataNIUnderlyingDetailBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/NIUnderlyingDetailResults"
        }
      }
    },
    "GetDataNIUnderlyingDetailResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataNIUnderlyingDetailBEAAPI"
        }
      }
    },
    "MNEDataItem": {
      "type": "object",
      "properties": {
        "Year": {
          "type": "string"
        },
        "SeriesID": {
          "type": "string"
        },
        "SeriesName": {
          "type": "string"
        },
        "Row": {
          "type": "string"
        },
        "ColumnGParent": {
          "type": "string"
        },
        "ColumnParent": {
          "type": "string"
        },
        "Column": {
          "type": "string"
        },
        "RowCode": {
          "type": "string"
        },
        "ColumnCode": {
          "type": "string"
        },
        "ColumnParentCode": {
          "type": "string"
        },
        "ColumnGParentCode": {
          "type": "string"
        },
        "TableScale": {
          "type": "string"
        },
        "DataValueUnformatted": {
          "type": "string"
        },
        "TableColumnDisplayOrder": {
          "type": "string"
        },
        "TableRowDisplayOrder": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        }
      }
    },
    "MNEResults": {
      "type": "object",
      "properties": {
        "Table_Count": {
          "type": "string"
        },
        "rowTypeID": {
          "type": "string"
        },
        "InvestmentType": {
          "type": "string"
        },
        "DataType": {
          "type": "string"
        },
        "Entity": {
          "type": "string"
        },
        "IndustryClassification": {
          "type": "string"
        },
        "YearList": {
          "type": "string"
        },
        "DIRECTIONOFINVESTMENT": {
          "type": "string"
        },
        "OwnershipLevel": {
          "type": "string"
        },
        "NonbankAffiliatesOnly": {
          "type": "string"
        },
        "Tables": {
          "type": "string"
        },
        "cnt": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MNEDataItem"
          }
        }
      }
    },
    "GetDataMNEBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/MNEResults"
        }
      }
    },
    "GetDataMNEResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataMNEBEAAPI"
        }
      }
    },
    "FixedAssetsDataItem": {
      "type": "object",
      "properties": {
        "TableName": {
          "type": "string"
        },
        "SeriesCode": {
          "type": "string"
        },
        "LineNumber": {
          "type": "string"
        },
        "LineDescription": {
          "type": "string"
        },
        "TimePeriod": {
          "type": "string"
        },
        "METRIC_NAME": {
          "type": "string"
        },
        "CL_UNIT": {
          "type": "string"
        },
        "UNIT_MULT": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        }
      }
    },
    "FixedAssetsResults": {
      "type": "object",
      "properties": {
        "Statistic": {
          "type": "string"
        },
        "UTCProductionTime": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FixedAssetsDataItem"
          }
        }
      }
    },
    "GetDataFixedAssetsBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/FixedAssetsResults"
        }
      }
    },
    "GetDataFixedAssetsResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataFixedAssetsBEAAPI"
        }
      }
    },
    "ITADataItem": {
      "type": "object",
      "properties": {
        "Indicator": {
          "type": "string"
        },
        "AreaOrCountry": {
          "type": "string"
        },
        "Frequency": {
          "type": "string"
        },
        "Year": {
          "type": "string"
        },
        "TimeSeriesId": {
          "type": "string"
        },
        "TimeSeriesDescription": {
          "type": "string"
        },
        "TimePeriod": {
          "type": "string"
        },
        "CL_UNIT": {
          "type": "string"
        },
        "UNIT_MULT": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        }
      }
    },
    "ITAResults": {
      "type": "object",
      "properties": {
        "TsLastUpdated": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "$ref": "#/definitions/ITADataItem"
        }
      }
    },
    "GetDataITABEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/ITAResults"
        }
      }
    },
    "GetDataITAResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataITABEAAPI"
        }
      }
    },
    "IIPDataItem": {
      "type": "object",
      "properties": {
        "TypeOfInvestment": {
          "type": "string"
        },
        "Component": {
          "type": "string"
        },
        "Frequency": {
          "type": "string"
        },
        "Year": {
          "type": "string"
        },
        "TimeSeriesId": {
          "type": "string"
        },
        "TimeSeriesDescription": {
          "type": "string"
        },
        "TimePeriod": {
          "type": "string"
        },
        "CL_UNIT": {
          "type": "string"
        },
        "UNIT_MULT": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        }
      }
    },
    "IIPResults": {
      "type": "object",
      "properties": {
        "TsLastUpdated": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "$ref": "#/definitions/IIPDataItem"
        }
      }
    },
    "GetDataIIPBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/IIPResults"
        }
      }
    },
    "GetDataIIPResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataIIPBEAAPI"
        }
      }
    },
    "InputOutputDataItem": {
      "type": "object",
      "properties": {
        "TableID": {
          "type": "string"
        },
        "Year": {
          "type": "string"
        },
        "RowCode": {
          "type": "string"
        },
        "RowDescr": {
          "type": "string"
        },
        "RowType": {
          "type": "string"
        },
        "ColCode": {
          "type": "string"
        },
        "ColDescr": {
          "type": "string"
        },
        "ColType": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        }
      }
    },
    "InputOutputResultItem": {
      "type": "object",
      "properties": {
        "Statistic": {
          "type": "string"
        },
        "UTCProductionTime": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputOutputDataItem"
          }
        }
      }
    },
    "GetDataInputOutputBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InputOutputResultItem"
          }
        }
      }
    },
    "GetDataInputOutputResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataInputOutputBEAAPI"
        }
      }
    },
    "IntlServTradeDataItem": {
      "type": "object",
      "properties": {
        "TypeOfService": {
          "type": "string"
        },
        "TradeDirection": {
          "type": "string"
        },
        "Affiliation": {
          "type": "string"
        },
        "AreaOrCountry": {
          "type": "string"
        },
        "Year": {
          "type": "string"
        },
        "TimeSeriesId": {
          "type": "string"
        },
        "TimeSeriesDescription": {
          "type": "string"
        },
        "TimePeriod": {
          "type": "string"
        },
        "CL_UNIT": {
          "type": "string"
        },
        "UNIT_MULT": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        }
      }
    },
    "IntlServTradeResults": {
      "type": "object",
      "properties": {
        "TsLastUpdated": {
          "type": "string"
        },
        "EarliestFullYear": {
          "type": "string"
        },
        "LatestFullYear": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IntlServTradeDataItem"
          }
        }
      }
    },
    "GetDataIntlServTradeBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/IntlServTradeResults"
        }
      }
    },
    "GetDataIntlServTradeResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataIntlServTradeBEAAPI"
        }
      }
    },
    "BEANote": {
      "type": "object",
      "properties": {
        "NoteRef": {
          "type": "string"
        },
        "NoteText": {
          "type": "string"
        }
      }
    },
    "IntlServSTADataItem": {
      "type": "object",
      "properties": {
        "Channel": {
          "type": "string"
        },
        "Destination": {
          "type": "string"
        },
        "Industry": {
          "type": "string"
        },
        "AreaOrCountry": {
          "type": "string"
        },
        "Year": {
          "type": "string"
        },
        "TimeSeriesId": {
          "type": "string"
        },
        "TimeSeriesDescription": {
          "type": "string"
        },
        "TimePeriod": {
          "type": "string"
        },
        "CL_UNIT": {
          "type": "string"
        },
        "UNIT_MULT": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        }
      }
    },
    "IntlServSTAResults": {
      "type": "object",
      "properties": {
        "TsLastUpdated": {
          "type": "string"
        },
        "EarliestFullYear": {
          "type": "string"
        },
        "LatestFullYear": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IntlServSTADataItem"
          }
        },
        "Notes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEANote"
          }
        }
      }
    },
    "GetDataIntlServSTABEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/IntlServSTAResults"
        }
      }
    },
    "GetDataIntlServSTAResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataIntlServSTABEAAPI"
        }
      }
    },
    "GDPbyIndustryDataItem": {
      "type": "object",
      "properties": {
        "TableID": {
          "type": "string"
        },
        "Frequency": {
          "type": "string"
        },
        "Year": {
          "type": "string"
        },
        "Quarter": {
          "type": "string"
        },
        "Industry": {
          "type": "string"
        },
        "IndustrYDescription": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        }
      }
    },
    "GDPbyIndustryResultItem": {
      "type": "object",
      "properties": {
        "Statistic": {
          "type": "string"
        },
        "UTCProductionTime": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GDPbyIndustryDataItem"
          }
        },
        "Notes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEANote"
          }
        }
      }
    },
    "GetDataGDPbyIndustryBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GDPbyIndustryResultItem"
          }
        }
      }
    },
    "GetDataGDPbyIndustryResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataGDPbyIndustryBEAAPI"
        }
      }
    },
    "RegionalDataItem": {
      "type": "object",
      "properties": {
        "Code": {
          "type": "string"
        },
        "GeoFips": {
          "type": "string"
        },
        "GeoName": {
          "type": "string"
        },
        "TimePeriod": {
          "type": "string"
        },
        "CL_UNIT": {
          "type": "string"
        },
        "UNIT_MULT": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        }
      }
    },
    "RegionalResults": {
      "type": "object",
      "properties": {
        "Statistic": {
          "type": "string"
        },
        "UnitOfMeasure": {
          "type": "string"
        },
        "PublicTable": {
          "type": "string"
        },
        "UTCProductionTime": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegionalDataItem"
          }
        },
        "Notes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEANote"
          }
        }
      }
    },
    "GetDataRegionalBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/RegionalResults"
        }
      }
    },
    "GetDataRegionalResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataRegionalBEAAPI"
        }
      }
    },
    "UnderlyingGDPbyIndustryDataItem": {
      "type": "object",
      "properties": {
        "TableID": {
          "type": "string"
        },
        "Frequency": {
          "type": "string"
        },
        "Year": {
          "type": "string"
        },
        "Quarter": {
          "type": "string"
        },
        "Industry": {
          "type": "string"
        },
        "IndustrYDescription": {
          "type": "string"
        },
        "DataValue": {
          "type": "string"
        },
        "NoteRef": {
          "type": "string"
        }
      }
    },
    "UnderlyingGDPbyIndustryResultItem": {
      "type": "object",
      "properties": {
        "Statistic": {
          "type": "string"
        },
        "UTCProductionTime": {
          "type": "string"
        },
        "Dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEADimension"
          }
        },
        "Data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UnderlyingGDPbyIndustryDataItem"
          }
        },
        "Notes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BEANote"
          }
        }
      }
    },
    "GetDataUnderlyingGDPbyIndustryBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UnderlyingGDPbyIndustryResultItem"
          }
        }
      }
    },
    "GetDataUnderlyingGDPbyIndustryResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataUnderlyingGDPbyIndustryBEAAPI"
        }
      }
    },
    "DatasetListItem": {
      "type": "object",
      "properties": {
        "DatasetName": {
          "type": "string"
        },
        "DatasetDescription": {
          "type": "string"
        }
      }
    },
    "DatasetListResults": {
      "type": "object",
      "properties": {
        "Dataset": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DatasetListItem"
          }
        }
      }
    },
    "GetDatasetListBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/DatasetListResults"
        }
      }
    },
    "GetDatasetListResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDatasetListBEAAPI"
        }
      }
    },
    "ParameterListItem": {
      "type": "object",
      "properties": {
        "ParameterName": {
          "type": "string"
        },
        "ParameterDataType": {
          "type": "string"
        },
        "ParameterDescription": {
          "type": "string"
        },
        "ParameterIsRequiredFlag": {
          "type": "string"
        },
        "MultipleAcceptedFlag": {
          "type": "string"
        },
        "ParameterDefaultValue": {
          "type": "string"
        }
      }
    },
    "ParameterListResults": {
      "type": "object",
      "properties": {
        "Parameter": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ParameterListItem"
          }
        }
      }
    },
    "GetParameterListBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Results": {
          "$ref": "#/definitions/ParameterListResults"
        }
      }
    },
    "GetParameterListResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetParameterListBEAAPI"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "responseTime": {
          "type": "integer"
        },
        "message": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "APIDatasetMetaDataLineItem": {
      "type": "object",
      "properties": {
        "SeriesCode": {
          "type": "string"
        },
        "RowNumber": {
          "type": "string"
        },
        "LineDescription": {
          "type": "string"
        },
        "LineNumber": {
          "type": "string"
        },
        "ParentLineNumber": {
          "type": "string"
        },
        "Tier": {
          "type": "string"
        },
        "Path": {
          "type": "string"
        }
      }
    },
    "APIDatasetMetaDataTableItem": {
      "type": "object",
      "properties": {
        "TableId": {
          "type": "string"
        },
        "TableName": {
          "type": "string"
        },
        "ReleaseDate": {
          "type": "string"
        },
        "NextReleaseDate": {
          "type": "string"
        },
        "Line": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIDatasetMetaDataLineItem"
          }
        }
      }
    },
    "APIDatasetMetaDataDatasetItem": {
      "type": "object",
      "properties": {
        "Datasetname": {
          "type": "string"
        },
        "MetaDataUpdated": {
          "type": "string"
        },
        "APITable": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIDatasetMetaDataTableItem"
          }
        }
      }
    },
    "GetDataAPIDatasetMetaDataBEAAPI": {
      "type": "object",
      "properties": {
        "Request": {
          "$ref": "#/definitions/BEARequest"
        },
        "Datasets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/APIDatasetMetaDataDatasetItem"
          }
        }
      }
    },
    "GetDataAPIDatasetMetaDataResponse": {
      "type": "object",
      "properties": {
        "BEAAPI": {
          "$ref": "#/definitions/GetDataAPIDatasetMetaDataBEAAPI"
        }
      }
    }
  }
}