{
  "swagger": "2.0",
  "info": {
    "version": "0.3.0",
    "title": "NetDocuments",
    "description": "NetDocuments is a cloud content management service for businesses of all sizes to securely create, store, manage and share their document work anywhere, anytime.",
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "host": "api.vault.netvoyage.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json",
    "application/xml"
  ],
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://vault.netvoyage.com/neWeb2/OAuth.aspx",
      "tokenUrl": "https://api.vault.netvoyage.com/v1/OAuth",
      "scopes": {
        "read": "read data",
        "organize": "create folders, file to folders, change acls or profile, etc",
        "edit": "edit",
        "delete_doc": "delete_doc",
        "delete_container": "delete_container",
        "lookup": "modify lookup tables",
        "admin": "modify user groups"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "read",
        "organize",
        "edit",
        "delete_doc",
        "lookup"
      ]
    }
  ],
  "paths": {
    "/v1/User/{id}/info": {
      "get": {
        "summary": "Get user info",
        "operationId": "GetUserInfo",
        "description": "Get information about a user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "User ID",
            "description": "The user ID assigned by NetDocuments.",
            "required": true,
            "type": "string"
          },
          {
            "name": "cabGuid",
            "in": "query",
            "x-ms-summary": "Cabinet ID",
            "description": "(It starts with NG-)",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Basic user info",
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string"
                },
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "id": {
                  "type": "string"
                },
                "organization": {
                  "type": "string"
                },
                "isRepositoryMember": {
                  "type": "boolean"
                },
                "primaryCabinet": {
                  "type": "string"
                },
                "sortLookupBy": {
                  "type": "string"
                },
                "external": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/User/cabinets": {
      "get": {
        "summary": "Get list of user cabinets",
        "operationId": "GetUserCabinets",
        "description": "Get User cabinets",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Get user cabinet info",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "isCollaborationSpacesEnabled": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "repositoryId": {
                    "type": "string"
                  },
                  "repositoryName": {
                    "type": "string"
                  },
                  "wsAttrNum": {
                    "type": "integer"
                  },
                  "wsOrgAttrNum": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/Document/{id}/new": {
      "put": {
        "summary": "Create a new version of a document",
        "description": "Create new version of a document",
        "operationId": "NewVersion",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extension",
            "in": "query",
            "x-ms-summary": "Document extension",
            "description": "Do not include the leading period.",
            "required": false,
            "type": "string"
          },
          {
            "name": "version_description",
            "in": "query",
            "x-ms-summary": "Version description",
            "description": "Version description",
            "required": false,
            "type": "string"
          },
          {
            "name": "verName",
            "in": "query",
            "x-ms-summary": "Name of the new version",
            "description": "Name of the new version",
            "required": false,
            "type": "string"
          },
          {
            "name": "official",
            "in": "query",
            "x-ms-summary": "Make official version",
            "description": "The new version will not be the official version if this parameter is not set.",
            "required": false,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "addToRecent",
            "in": "query",
            "x-ms-summary": "Add to recent documents",
            "description": "Add to recent documents",
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "srcVer",
            "in": "query",
            "x-ms-summary": "Source version number",
            "description": "If copying the content from a prior version, which version of the document to copy.",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "allocatesubversion",
            "in": "query",
            "x-ms-summary": "Create as a subversion",
            "description": "Create as a subversion instead of as a full version.",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "New version document content",
            "description": "The content of the new version, if not copying another version or the official version.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "responses": {
          "200": {
            "description": "Document profile",
            "schema": {
              "type": "object",
              "properties": {
                "latestVersionNumber": {
                  "type": "integer"
                },
                "newVer": {
                  "type": "integer"
                },
                "newVersionLabel": {
                  "type": "string"
                },
                "officialVer": {
                  "type": "integer"
                },
                "officialVerName": {
                  "type": "string"
                },
                "versions": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ]
      }
    },
    "/v1/Document/{id}/info": {
      "get": {
        "summary": "Get document profile",
        "description": "Get information about a document",
        "operationId": "GetDocInfo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Document metadata"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      },
      "put": {
        "summary": "Rename document",
        "description": "Rename a document",
        "operationId": "RenameDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "RenameBody",
            "description": "The request body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RenameBody"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Document metadata"
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ]
      }
    },
    "/v1/Document/{id}": {
      "get": {
        "summary": "Get document content",
        "operationId": "GetDocContent",
        "description": "Retrieve a document",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "base64",
            "in": "query",
            "x-ms-summary": "Base64 encoded?",
            "description": "Base64 encoded?",
            "default": false,
            "type": "boolean"
          }
        ],
        "produces": [
          "application/octet-stream"
        ],
        "responses": {
          "200": {
            "description": "Document content"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete document",
        "operationId": "DeleteDoc",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "permanent",
            "in": "query",
            "x-ms-summary": "Delete permanently",
            "description": "Indicates that the document should be permanently deleted, rather than moved to Deleted Items.",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default response"
          }
        },
        "security": [
          {
            "nd_auth": [
              "delete_doc"
            ]
          }
        ],
        "description": "Delete a document"
      },
      "put": {
        "summary": "Update document",
        "operationId": "UpdateDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extension",
            "in": "query",
            "x-ms-summary": "Document extension",
            "description": "Only necessary if changing the document's extension.  Do not include the leading period.",
            "required": false,
            "type": "string"
          },
          {
            "name": "base64",
            "in": "query",
            "x-ms-summary": "Base64 encoded?",
            "description": "Base64 encoded?",
            "default": true,
            "type": "boolean"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "x-ms-summary": "Updated document content",
            "description": "The content of the document.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "byte"
            }
          }
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "responses": {
          "200": {
            "description": "Document profile"
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ],
        "description": "Update the content of a document"
      }
    },
    "/v1/Folder": {
      "post": {
        "summary": "Create folder",
        "operationId": "CreateFolder",
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "x-ms-summary": "Folder name",
            "description": "Folder name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sanitizeName",
            "in": "formData",
            "x-ms-summary": "Remove invalid characters",
            "description": "If true, invalid characters in the name parameter are removed without an error being returned.",
            "default": true,
            "required": true,
            "type": "boolean",
            "x-ms-visibility": "internal"
          },
          {
            "name": "parent",
            "in": "formData",
            "x-ms-summary": "Parent ID",
            "description": "12-digit ID or EnvID of the new folder’s parent container.",
            "required": false,
            "type": "string"
          },
          {
            "name": "cabinet",
            "in": "formData",
            "x-ms-summary": "Cabinet ID",
            "description": "(It starts with NG-) Can be omitted if a folder or workspace id is specified in the parent.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder info",
            "schema": {
              "type": "object",
              "properties": {
                "standardAttributes": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "organize"
            ]
          }
        ],
        "description": "Create a new folder"
      }
    },
    "/v1/Folder/{id}": {
      "get": {
        "summary": "Get folder items",
        "operationId": "GetFldContent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Folder ID",
            "description": "12-digit folder ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Attributes to return",
            "description": "A comma-separated list of attribute values. See the REST API documentation for more details.",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "List of subfolders and documents in the folder"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ],
        "description": "Retrieve the contents of a folder, including documents and subfolders"
      },
      "post": {
        "summary": "File or unfile document to folder",
        "description": "File an item in a folder or unfile an item from a folder.",
        "operationId": "FileFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Folder ID",
            "description": "12-digit folder ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "item",
            "in": "formData",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "formData",
            "x-ms-summary": "File or unfile",
            "description": "File or unfile",
            "required": true,
            "default": "file",
            "type": "string",
            "enum": [
              "file",
              "unfile"
            ]
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "204": {
            "description": "Action was successfully completed"
          }
        },
        "security": [
          {
            "nd_auth": [
              "organize"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete folder",
        "operationId": "DeleteFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Folder ID",
            "description": "12-digit Folder ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "permanent",
            "in": "query",
            "x-ms-summary": "Delete permanently",
            "description": "Indicates that the folder should be permanently deleted, rather than moved to Deleted Items. The contents of the folder, including descendant subfolders, will not be permanently deleted.",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "deleteContents",
            "in": "query",
            "x-ms-summary": "Delete folder contents",
            "description": "Indicates that the documents in the deleted folder (and in any descendant subfolder) should be deleted also, rather than simply unfiled.",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default response"
          }
        },
        "security": [
          {
            "nd_auth": [
              "delete_container"
            ]
          }
        ],
        "description": "Delete a folder"
      }
    },
    "/v1/Folder/{id}/info": {
      "put": {
        "summary": "Rename folder",
        "description": "Rename a folder",
        "operationId": "RenameFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Folder ID",
            "description": "12-digit folder ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "RenameBody",
            "description": "The request body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RenameBody"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Folder metadata"
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ]
      }
    },
    "/v1/Folder/{id}/follow": {
      "post": {
        "summary": "Follow folder",
        "operationId": "FollowFolder",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Folder ID",
            "description": "12-digit folder ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recipients",
            "in": "formData",
            "x-ms-summary": "Recipients",
            "description": "One or more valid email addresses separated by semi-colons.  Duplicates ignored.",
            "required": true,
            "type": "string"
          },
          {
            "name": "send",
            "in": "formData",
            "x-ms-summary": "Send",
            "description": "Which category of users should receive the alert.",
            "required": false,
            "default": "ignoreGenerator",
            "type": "string",
            "enum": [
              "ignoreGenerator",
              "ignoreCreator",
              "always"
            ]
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "204": {
            "description": "Action was successfully completed"
          }
        },
        "security": [
          {
            "nd_auth": [
              "organize"
            ]
          }
        ],
        "description": "Receive alerts when new content is added to a folder"
      }
    },
    "/v1/Document/follow": {
      "post": {
        "summary": "Follow document",
        "description": "Receive alerts when the document is updated",
        "operationId": "FollowDocument",
        "parameters": [
          {
            "name": "id",
            "in": "formData",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "recipients",
            "in": "formData",
            "x-ms-summary": "Recipients",
            "description": "One or more valid email addresses separated by semi-colons.  Duplicates ignored.",
            "required": true,
            "type": "string"
          },
          {
            "name": "send",
            "in": "formData",
            "x-ms-summary": "Send",
            "description": "Which category of users should receive the alert.",
            "required": false,
            "default": "ignoreGenerator",
            "type": "string",
            "enum": [
              "ignoreGenerator",
              "ignoreCreator",
              "always"
            ]
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "204": {
            "description": "Action was successfully completed"
          }
        },
        "security": [
          {
            "nd_auth": [
              "organize"
            ]
          }
        ]
      }
    },
    "/v1/Search/{cabId}": {
      "get": {
        "summary": "Search cabinet",
        "operationId": "SearchCab",
        "x-ms-trigger": "single",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cabId",
            "in": "path",
            "x-ms-summary": "Cabinet ID",
            "description": "(It starts with NG-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Search criteria",
            "description": "Use the same format and operators as in the NetDocuments web interface.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "x-ms-summary": "Order by",
            "description": "Order by",
            "required": false,
            "type": "string",
            "default": "relevance desc",
            "x-ms-visibility": "advanced",
            "enum": [
              "relevance desc",
              "lastMod desc",
              "name asc",
              "relevance asc",
              "lastMod asc",
              "name desc"
            ]
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Maximum number of results",
            "description": "An integer between 1 and 500.  Default is 100.",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "x-ms-summary": "Attributes to return",
            "description": "A comma-separated list of attribute values.  See the REST API documentation for more details.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "List of documents matching the search criteria"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ],
        "description": "Search the specified cabinet"
      }
    },
    "/v1/User/info": {
      "get": {
        "summary": "Get current user info",
        "description": "Get info about current user, ID isn't required",
        "operationId": "GetCurrentUserInfo",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "cabGuid",
            "in": "query",
            "x-ms-summary": "Cabinet ID",
            "description": "(It starts with NG-)",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Basic user info",
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string"
                },
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "id": {
                  "type": "string"
                },
                "organization": {
                  "type": "string"
                },
                "isRepositoryMember": {
                  "type": "boolean"
                },
                "primaryCabinet": {
                  "type": "string"
                },
                "sortLookupBy": {
                  "type": "string"
                },
                "external": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/Document/checkin": {
      "post": {
        "summary": "Check in document",
        "operationId": "CheckinDoc",
        "description": "Check in a checked-out document",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "formData",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extension",
            "in": "formData",
            "x-ms-summary": "Document extension",
            "description": "Do not include the leading period.",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "x-ms-summary": "Document Content",
            "description": "The document in multi-part form.",
            "in": "formData",
            "required": false,
            "type": "file"
          },
          {
            "name": "addToRecent",
            "in": "formData",
            "x-ms-summary": "Add to recent",
            "description": "Add to the user's recent documents list.",
            "default": false,
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "Action was successfully completed"
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ]
      }
    },
    "/v1/Document/checkout": {
      "post": {
        "summary": "Check out document",
        "operationId": "CheckOutDoc",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "formData",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "comment",
            "in": "formData",
            "x-ms-summary": "Comment",
            "description": "Comment",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "download",
            "in": "formData",
            "x-ms-summary": "Download document",
            "description": "Returns the document content.",
            "default": false,
            "required": false,
            "type": "boolean"
          },
          {
            "name": "version",
            "in": "formData",
            "x-ms-summary": "Version to download",
            "description": "Specifies which version’s content should be downloaded.  Defaults to the official version.",
            "required": false,
            "type": "string"
          },
          {
            "name": "addToRecent",
            "in": "formData",
            "x-ms-summary": "Add to recent",
            "description": "Add to recent",
            "default": false,
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "Action was successfully completed"
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ],
        "description": "Check out a document"
      }
    },
    "/v1/Document/upload": {
      "post": {
        "summary": "Create document",
        "operationId": "CreateDocument",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "destination",
            "in": "formData",
            "x-ms-summary": "Destination",
            "description": "The 12-digit ID or EnvID of the folder, filter or workspace.",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "x-ms-summary": "Document content",
            "description": "Put the filename plus extension in the accompanying filename field.",
            "in": "formData",
            "required": true,
            "type": "file"
          },
          {
            "name": "addToRecent",
            "in": "formData",
            "x-ms-summary": "Add to recent",
            "description": "Add to recent",
            "default": false,
            "required": false,
            "type": "boolean"
          },
          {
            "name": "profile",
            "in": "formData",
            "x-ms-summary": "Document profile",
            "description": "Set the document profile (JSON format)",
            "required": false,
            "type": "string"
          },
          {
            "name": "partialProfiling",
            "in": "formData",
            "x-ms-visibility": "internal",
            "default": true,
            "required": true,
            "type": "boolean"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "Document info",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "extension": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ],
        "description": "Create a new document"
      }
    },
    "/v1/Document/lock": {
      "post": {
        "summary": "Lock document version",
        "operationId": "LockDocumentVersion",
        "description": "Lock document version",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "formData",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "formData",
            "x-ms-summary": "Document version",
            "description": "Document version",
            "required": true,
            "type": "integer"
          },
          {
            "name": "description",
            "x-ms-summary": "Version description",
            "description": "Version description",
            "in": "formData",
            "required": false,
            "type": "string"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "default": {
            "description": "Action was successfully completed"
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ]
      }
    },
    "/v1/Document/{documentID}/versionList": {
      "get": {
        "summary": "Get document versions",
        "operationId": "GetDocumentVersions",
        "description": "Get document versions",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "documentID",
            "in": "path",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Action was successfully completed"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/Document/createsecuredlink": {
      "post": {
        "summary": "Create secured link",
        "operationId": "CreateSecuredLink",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "id",
            "in": "formData",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "formData",
            "x-ms-summary": "Password for the secured link",
            "description": "Depending on the cabinet configuration, the password may be optional or mandatory.",
            "required": false,
            "type": "string"
          },
          {
            "name": "expirationdate",
            "in": "formData",
            "x-ms-summary": "Expiration date for secured link.",
            "description": "Input format: yyyy-MM-dd.",
            "required": false,
            "type": "string"
          },
          {
            "name": "version",
            "x-ms-summary": "Version of the document",
            "description": "Which version of the document to share.  If empty, the official version will be shared.",
            "in": "formData",
            "required": false,
            "type": "string"
          },
          {
            "name": "download",
            "in": "formData",
            "x-ms-summary": "Download document",
            "description": "If true, the document may be downloaded by the recipient.",
            "default": true,
            "required": false,
            "type": "boolean"
          },
          {
            "name": "notifyme",
            "in": "formData",
            "x-ms-summary": "Notify me",
            "description": "If true, notify the sender when the secured link is accessed.",
            "default": false,
            "required": false,
            "type": "boolean"
          },
          {
            "name": "lock",
            "in": "formData",
            "x-ms-summary": "Lock document",
            "description": "Optionally, lock the selected version of the document.  This requires Edit rights.",
            "default": false,
            "required": false,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "Secured link info",
            "schema": {
              "type": "object",
              "properties": {
                "standardAttributes": {
                  "type": "object",
                  "properties": {
                    "view": {
                      "type": "string"
                    },
                    "download": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ],
        "description": "Generate a link to a document that can be accessed by anyone"
      }
    },
    "/v1/Document/{id}/history": {
      "get": {
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "summary": "Document history",
        "operationId": "GetDocHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Document ID",
            "description": "12-digit document ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ],
        "description": "Retrieve a list of actions taken on a document"
      }
    },
    "/v1/Workspace/{cabinetID}/{parentID}/{childID}/info": {
      "get": {
        "summary": "Get or create a workspace (with parent and child attributes)",
        "description": "Get or create a workspace (with parent and child attributes)",
        "operationId": "CreateWorkspaceParentChild",
        "parameters": [
          {
            "name": "cabinetID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Cabinet ID",
            "description": "(It starts with NG-)"
          },
          {
            "name": "parentID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Parent Value",
            "description": "The parent value used to define workspaces in the cabinet."
          },
          {
            "name": "childID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Child Value",
            "description": "The child value used to define workspaces in the cabinet."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace info",
            "schema": {
              "type": "object",
              "properties": {
                "standardAttributes": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/Workspace/{cabinetID}/{parentID}/info": {
      "get": {
        "summary": "Get or create a workspace (with a single attribute)",
        "description": "Get or create a workspace (with a single attribute)",
        "operationId": "CreateWorkspaceSingle",
        "parameters": [
          {
            "name": "cabinetID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Cabinet ID",
            "description": "(It starts with NG-)"
          },
          {
            "name": "parentID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Sole Value",
            "description": "The sole value used to define workspaces in the cabinet."
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace info",
            "schema": {
              "type": "object",
              "properties": {
                "standardAttributes": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/Workspace/{workspaceID}/info": {
      "get": {
        "summary": "Get workspace information",
        "description": "Get workspace information",
        "operationId": "GetWorkspaceInformation",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace ID",
            "description": "Workspace ID"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace Info"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/attributes/{repositoryID}/{childAttributeID}/{parentID}/{childID}": {
      "put": {
        "summary": "Create or update a child lookup table entry",
        "description": "Create or update a child lookup table entry",
        "operationId": "CreateChildEntry",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Repository ID",
            "description": "(It starts with CA-)"
          },
          {
            "name": "childAttributeID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Child attribute ID",
            "description": "(Remove the leading '10')"
          },
          {
            "name": "parentID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Parent key",
            "description": "Parent key"
          },
          {
            "name": "childID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Child key",
            "description": "Child key"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "LookupEntryBody",
            "description": "The request body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LookupEntryBody"
            },
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "lookup"
            ]
          }
        ]
      },
      "get": {
        "summary": "Get a child lookup table entry",
        "description": "Get a child lookup table entry",
        "operationId": "GetChildEntry",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Repository ID",
            "description": "(It starts with CA-)"
          },
          {
            "name": "childAttributeID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Child attribute ID",
            "description": "(Remove the leading '10')"
          },
          {
            "name": "parentID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Parent key",
            "description": "Parent key"
          },
          {
            "name": "childID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Child key",
            "description": "Child key"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete a child lookup table entry",
        "description": "Delete a child lookup table entry",
        "operationId": "DeleteChildEntry",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Repository ID",
            "description": "(It starts with CA-)"
          },
          {
            "name": "childAttributeID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Child attribute ID",
            "description": "(Remove the leading '10')"
          },
          {
            "name": "parentID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Parent key",
            "description": "Parent key"
          },
          {
            "name": "childID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Child key",
            "description": "Child key"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "lookup"
            ]
          }
        ]
      }
    },
    "/v1/attributes/{repositoryID}/{attributeID}/{parentID}": {
      "put": {
        "summary": "Create or update a lookup table entry",
        "description": "Create or update a lookup table entry",
        "operationId": "CreateEntry",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Repository ID",
            "description": "(It starts with CA-)"
          },
          {
            "name": "attributeID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Attribute ID",
            "description": "(Remove the leading '10')"
          },
          {
            "name": "parentID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Key",
            "description": "Key"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "LookupEntryBody",
            "description": "The request body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LookupEntryBody"
            },
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "lookup"
            ]
          }
        ]
      },
      "get": {
        "summary": "Get a lookup table entry or search for child table entries",
        "description": "Get a lookup table entry or search for child table entries",
        "operationId": "GetLookupEntry",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Repository ID",
            "description": "(It starts with CA-)"
          },
          {
            "name": "attributeID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Attribute ID",
            "description": "(Remove the leading '10'.  To return a single value, enter the parent attribute ID, or to search for child entries, enter the child attribute ID.)"
          },
          {
            "name": "parentID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Key",
            "description": "(To return a single value, enter the key of the single attribute, or to search for child entries enter the key of the parent.)"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter (only when searching)",
            "description": "(See the documentation for the available filters)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Fields to retrieve",
            "description": "(Include comma-separated list of: 'key', 'description', 'parent', 'hold', 'closed', 'defaulting', 'type', 'user', and/or 'access')",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Number of matching records to skip",
            "description": "(This is used when retrieving multiple blocks of results.)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Maximum number of records to return",
            "x-ms-visibility": "advanced",
            "description": "Maximum number of records to return"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "key",
              "parent"
            ],
            "default": "key",
            "x-ms-summary": "Order results by",
            "x-ms-visibility": "advanced",
            "description": "Order results by"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup entry information"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      },
      "delete": {
        "summary": "Delete a lookup table entry",
        "description": "Delete a lookup table entry",
        "operationId": "DeleteLookupEntry",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Repository ID",
            "description": "(It starts with CA-)"
          },
          {
            "name": "attributeID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Attribute ID",
            "description": "(Remove the leading '10')"
          },
          {
            "name": "parentID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Key",
            "description": "Key"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "lookup"
            ]
          }
        ]
      }
    },
    "/v1/attributes/{repositoryID}/{attributeID}": {
      "get": {
        "summary": "Search for lookup table entries",
        "description": "Search for lookup table entries",
        "operationId": "SearchLookupEntries",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Repository ID",
            "description": "(It starts with CA-)"
          },
          {
            "name": "attributeID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Attribute ID",
            "description": "(Remove the leading '10')"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Filter",
            "description": "(See the documentation for the available filters)"
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Fields to retrieve",
            "description": "(Include comma-separated list of: 'key', 'description', 'parent', 'hold', 'closed', 'defaulting', 'type', 'user', and/or 'access')",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Number of matching records to skip",
            "description": "(This is used when retrieving multiple blocks of results.)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Maximum number of records to return",
            "x-ms-visibility": "advanced",
            "description": "Maximum number of records to return"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "key",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup entries",
            "schema": {
              "type": "object",
              "properties": {
                "rows": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "defaulting": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "hold": {
                        "type": "boolean"
                      },
                      "key": {
                        "type": "string"
                      },
                      "closed": {
                        "type": "string"
                      },
                      "access": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v2/Search": {
      "get": {
        "summary": "Search one or more cabinets",
        "description": "Search one or more cabinets",
        "operationId": "SearchCabinets",
        "parameters": [
          {
            "name": "cabinets",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Cabinets",
            "description": "(comma-delimited)"
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Query",
            "description": "(Review the documentation for the query format)"
          },
          {
            "name": "select",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Information to return",
            "description": "(Review the documentation for the return format)"
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Order by",
            "description": "(Format:  field#|desc or field#|asc)"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Number of results to return (defaults to 50)",
            "description": "(Maximum 500 per page)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Number of results to skip",
            "x-ms-visibility": "advanced",
            "description": "Number of results to skip"
          },
          {
            "name": "skiptoken",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Token used for paginating results",
            "x-ms-visibility": "advanced",
            "description": "Token used for paginating results"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/Workspace/{workspaceID}": {
      "post": {
        "summary": "Refresh a workspace",
        "description": "Refresh a workspace",
        "operationId": "RefreshWorkspace",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Workspace ID",
            "description": "Workspace ID"
          },
          {
            "name": "action",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-visibility": "internal",
            "default": "refresh"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "default": {
            "description": "default"
          }
        },
        "security": [
          {
            "nd_auth": [
              "organize"
            ]
          }
        ]
      }
    },
    "/v2/document/{id}/lock": {
      "post": {
        "summary": "Lock document",
        "description": "Lock document",
        "operationId": "LockDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Document ID",
            "required": true,
            "type": "string",
            "description": "Document iD"
          },
          {
            "name": "comment",
            "in": "query",
            "x-ms-summary": "Comment",
            "required": false,
            "type": "string",
            "description": "Comment"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Lock document"
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ]
      }
    },
    "/v2/document/{id}/unlock": {
      "post": {
        "summary": "Unlock document",
        "description": "Unock document",
        "operationId": "UnockDocument",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "Document ID",
            "required": true,
            "type": "string",
            "description": "Document ID"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "204": {
            "description": "Unlock document"
          }
        },
        "security": [
          {
            "nd_auth": [
              "edit"
            ]
          }
        ]
      }
    },
    "/v1/Repository/{repositoryID}/log": {
      "get": {
        "summary": "Get repository log",
        "description": "Get repository log",
        "operationId": "GetRepositoryLog",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "x-ms-summary": "Repository ID",
            "description": "(Starts with CA-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "start",
            "in": "query",
            "x-ms-summary": "Start date/time",
            "description": "(Defaults to 30 days; format yyyy-MM-dd or yyyy-MM-ddThh:mm:ssZ)",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "x-ms-summary": "End date/time",
            "description": "(Same format as start; defaults to today)",
            "required": false,
            "type": "string"
          },
          {
            "name": "Logtype",
            "in": "query",
            "x-ms-summary": "Log type",
            "description": "Log type",
            "required": true,
            "type": "string",
            "default": "consolidated",
            "enum": [
              "consolidated",
              "admin"
            ]
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Log data"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/Repository/{repositoryID}/info": {
      "get": {
        "summary": "Get repository information",
        "description": "Get repository information",
        "operationId": "GetRepositoryInformation",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "x-ms-summary": "Repository ID",
            "description": "(Starts with CA-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository information"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/Repository/{repositoryID}/users": {
      "get": {
        "summary": "Get repository users",
        "description": "Get repository users",
        "operationId": "GetRepositoryUsers",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "x-ms-summary": "Repository ID",
            "description": "(Starts with CA-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository Users",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "external": {
                    "type": "boolean"
                  },
                  "id": {
                    "type": "string"
                  },
                  "lastLogin": {
                    "type": "string"
                  },
                  "registered": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/Repository/{repositoryID}/groups": {
      "get": {
        "summary": "Get repository groups",
        "description": "Get repository groups",
        "operationId": "GetRepositoryGroups",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "x-ms-summary": "Repository ID",
            "description": "(It starts with CA-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "x-ms-summary": "Filter",
            "description": "(See the documentation for filter criteria)",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "x-ms-summary": "Number of results",
            "description": "(Defaults to 5,000.  Maximum 10,000)",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "paging",
            "in": "query",
            "x-ms-summary": "Paging",
            "description": "(Return the results in pages; default is false)",
            "required": false,
            "default": false,
            "type": "boolean",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "x-ms-summary": "Paging token",
            "description": "(For paging purposes; returned by prior calls as 'next')",
            "required": false,
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "returnInfo",
            "in": "query",
            "x-ms-visibility": "advanced",
            "required": false,
            "type": "string",
            "x-ms-summary": "Return info",
            "description": "all will return group names. Default is blank to return just IDs",
            "default": "",
            "enum": [
              "all",
              ""
            ]
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Repository Groups",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/Repository/{repositoryID}/group": {
      "post": {
        "summary": "Create repository group",
        "operationId": "CreateRepositoryGroup",
        "description": "Create a repository group",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "x-ms-summary": "Repository ID",
            "description": "(It starts with CA-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "x-ms-summary": "Group name",
            "description": "Group name",
            "required": true,
            "type": "string"
          },
          {
            "name": "external",
            "in": "formData",
            "default": false,
            "required": true,
            "type": "boolean",
            "x-ms-summary": "External",
            "description": "External"
          },
          {
            "name": "hidden",
            "in": "formData",
            "x-ms-summary": "Hide in lists",
            "description": "Hide in lists",
            "required": true,
            "type": "boolean",
            "default": false
          },
          {
            "name": "hideMembership",
            "in": "formData",
            "x-ms-summary": "Hidden membership",
            "description": "Hidden membership",
            "required": true,
            "type": "boolean",
            "default": false
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Group info",
            "schema": {
              "type": "object",
              "properties": {
                "external": {
                  "type": "boolean"
                },
                "hidden": {
                  "type": "boolean"
                },
                "hideMembership": {
                  "type": "boolean"
                },
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/v1/Repository/{repositoryID}/group/{groupID}": {
      "delete": {
        "summary": "Delete repository group",
        "operationId": "DeleteRepositoryGroup",
        "description": "Delete a repository group",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "x-ms-summary": "Repository ID",
            "description": "(It starts with CA-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "groupID",
            "in": "path",
            "x-ms-summary": "Group ID",
            "description": "(Starts with UG-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete repository group"
          }
        },
        "security": [
          {
            "nd_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/v1/User": {
      "post": {
        "summary": "Create user",
        "operationId": "CreateUser",
        "description": "Create a user in a repository",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "x-ms-summary": "Username",
            "description": "(The same as the user's email address)",
            "required": true,
            "type": "string",
            "format": "email",
            "x-ms-visibility": "important"
          },
          {
            "name": "displayFirstName",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-summary": "First name",
            "description": "First name",
            "x-ms-visibility": "important"
          },
          {
            "name": "displayMiddleName",
            "in": "formData",
            "required": false,
            "type": "string",
            "x-ms-summary": "Middle name",
            "description": "Middle name",
            "x-ms-visibility": "important"
          },
          {
            "name": "displayLastName",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-summary": "Last name",
            "description": "Last name",
            "x-ms-visibility": "important"
          },
          {
            "name": "email",
            "in": "formData",
            "x-ms-summary": "Email address",
            "description": "Email address",
            "required": true,
            "type": "string",
            "format": "email",
            "x-ms-visibility": "important"
          },
          {
            "name": "external",
            "in": "formData",
            "required": true,
            "default": false,
            "type": "boolean",
            "x-ms-summary": "User is external",
            "description": "(Only applicable on add)",
            "x-ms-visibility": "important"
          },
          {
            "name": "sendWelcome",
            "in": "formData",
            "x-ms-summary": "Send welcome email",
            "description": "Send welcome email",
            "required": true,
            "type": "boolean",
            "default": true,
            "x-ms-visibility": "important"
          },
          {
            "name": "repository",
            "in": "formData",
            "x-ms-summary": "Repository ID",
            "description": "(Starts with CA-)",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Basic user info",
            "schema": {
              "type": "object",
              "properties": {
                "displayName": {
                  "type": "string"
                },
                "email": {
                  "type": "string",
                  "format": "email"
                },
                "id": {
                  "type": "string"
                },
                "external": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/v1/Repository/{repositoryID}/members": {
      "post": {
        "summary": "Add user to or remove user from repository",
        "operationId": "AddOrRemoveUserRepository",
        "description": "Add user to or remove user from repository",
        "parameters": [
          {
            "name": "repositoryID",
            "in": "path",
            "x-ms-summary": "Repository ID",
            "description": "(Starts with CA-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "action",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-summary": "Add or remove user",
            "description": "Add or remove user",
            "enum": [
              "add",
              "remove"
            ]
          },
          {
            "name": "member",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-summary": "User ID",
            "description": "User ID"
          },
          {
            "name": "external",
            "in": "formData",
            "required": true,
            "default": false,
            "type": "boolean",
            "x-ms-summary": "User is external",
            "description": "User is external"
          },
          {
            "name": "deleteIfFederated",
            "in": "formData",
            "required": false,
            "default": false,
            "type": "boolean",
            "x-ms-summary": "Delete user (if federated)",
            "description": "(Only applicable on remove)",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "204": {
            "description": "Add/remove user repository"
          }
        },
        "security": [
          {
            "nd_auth": [
              "admin"
            ]
          }
        ]
      }
    },
    "/v2/container/{workspaceID}/collabspace": {
      "post": {
        "summary": "Create CollabSpace",
        "operationId": "CreateCollabSpace",
        "description": "Create a new CollabSpace",
        "parameters": [
          {
            "name": "workspaceID",
            "in": "path",
            "x-ms-summary": "Workspace ID",
            "description": "Workspace ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "x-ms-summary": "CollabSpace name",
            "description": "CollabSpace name",
            "required": true,
            "type": "string"
          },
          {
            "name": "sanitizeName",
            "in": "formData",
            "default": true,
            "required": true,
            "type": "boolean",
            "x-ms-visibility": "internal"
          },
          {
            "name": "description",
            "in": "formData",
            "x-ms-summary": "Description",
            "description": "Description",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "multipart/form-data",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "CollabSpace Info",
            "schema": {
              "type": "object",
              "properties": {
                "Id": {
                  "type": "string"
                },
                "EnvUrl": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "organize"
            ]
          }
        ]
      }
    },
    "/v1/cabinet/{cabinetID}/settings": {
      "get": {
        "summary": "Get cabinet settings",
        "description": "Get cabinet settings",
        "operationId": "GetCabinetSettings",
        "parameters": [
          {
            "name": "cabinetID",
            "in": "path",
            "x-ms-summary": "Cabinet ID",
            "description": "(It starts with NG-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Cabinet settings"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/cabinet/{cabinetID}/info": {
      "get": {
        "summary": "Get cabinet information",
        "description": "Get cabinet information",
        "operationId": "GetCabinetInformation",
        "parameters": [
          {
            "name": "cabinetID",
            "in": "path",
            "x-ms-summary": "Cabinet ID",
            "description": "(It starts with NG-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Cabinet information"
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/cabinet/{cabinetID}/customAttributes": {
      "get": {
        "summary": "Get cabinet custom attributes",
        "description": "Get cabinet custom attributes",
        "operationId": "GetCabinetCustomAttributes",
        "parameters": [
          {
            "name": "cabinetID",
            "in": "path",
            "x-ms-summary": "Cabinet ID",
            "description": "(It starts with NG-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Cabinet custom attributes",
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
              "read"
            ]
          }
        ]
      }
    },
    "/v1/cabinet/{cabinetID}/membership": {
      "get": {
        "summary": "Get unhidden cabinet groups access rights",
        "description": "Get unhidden cabinet groups access rights",
        "operationId": "GetCabinetDefaultAccess",
        "parameters": [
          {
            "name": "cabinetID",
            "in": "path",
            "x-ms-summary": "Cabinet ID",
            "description": "(It starts with NG-)",
            "required": true,
            "type": "string"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ],
        "responses": {
          "200": {
            "description": "Cabinet groups",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "administer": {
                    "type": "boolean"
                  },
                  "cabDefault": {
                    "type": "boolean"
                  },
                  "edit": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "noAccess": {
                    "type": "boolean"
                  },
                  "principal": {
                    "type": "string"
                  },
                  "share": {
                    "type": "boolean"
                  },
                  "view": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "nd_auth": [
[...]
