{
  "swagger": "2.0",
  "info": {
    "title": "FBI Most Wanted",
    "description": "This service offers an extensive database on FBI's most wanted individuals and art crimes, providing detailed profiles, appearance descriptions, crime details, and available rewards. It's designed for public safety awareness, aiding identification, and reporting of suspects.",
    "version": "1.0",
    "contact": {
      "name": "Richard Wilson",
      "email": "richard.a.wilson@microsoft.com",
      "url": "https://www.richardawilson.com/"
    }
  },
  "host": "api.fbi.gov",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/wanted/v1/list": {},
    "/@wanted": {
      "get": {
        "responses": {
          "200": {
            "description": "Successfully retrieves a list of wanted individuals.",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of wanted records available.",
                  "title": "Total Records",
                  "x-ms-summary": "Total Records"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The page number of the current result set.",
                  "title": "Page Number",
                  "x-ms-summary": "Page Number"
                },
                "items": {
                  "type": "array",
                  "description": "A collection of wanted individuals.",
                  "title": "Wanted Individuals",
                  "x-ms-summary": "Wanted Individuals",
                  "items": {
                    "$ref": "#/definitions/WantedPerson"
                  }
                }
              }
            }
          }
        },
        "summary": "List Wanted Persons",
        "operationId": "ListWanted",
        "parameters": [
          {
            "name": "poster_classification",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "default",
              "ten",
              "terrorist",
              "information",
              "kidnapping",
              "missing",
              "most",
              "crimes-against-children",
              "ecap",
              "law-enforcement-assistance"
            ],
            "x-ms-summary": "Poster Classification",
            "description": "Filter by the classification of the poster."
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Title",
            "description": "Title of wanted person.",
            "x-ms-visibility": "important"
          },
          {
            "name": "field_offices",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter by responsible field office",
            "x-ms-summary": "Field Office",
            "enum": [
              "albany",
              "albuquerque",
              "anchorage",
              "atlanta",
              "baltimore",
              "birmingham",
              "boston",
              "buffalo",
              "charlotte",
              "chicago",
              "cincinnati",
              "cleveland",
              "columbia",
              "dallas",
              "denver",
              "detroit",
              "elpaso",
              "honolulu",
              "houston",
              "indianapolis",
              "jackson",
              "jacksonville",
              "kansascity",
              "knoxville",
              "lasvegas",
              "littlerock",
              "losangeles",
              "louisville",
              "memphis",
              "miami",
              "milwaukee",
              "minneapolis",
              "mobile",
              "newhaven",
              "neworleans",
              "newyork",
              "newark",
              "norfolk",
              "oklahomacity",
              "omaha",
              "philadelphia",
              "phoenix",
              "pittsburgh",
              "portland",
              "richmond",
              "sacramento",
              "saltlakecity",
              "sanantonio",
              "sandiego",
              "sanfrancisco",
              "sanjuan",
              "seattle",
              "springfield",
              "stlouis",
              "tampa",
              "washingtondc"
            ]
          },
          {
            "name": "person_classification",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["Main", "Victim", "Accomplice"],
            "x-ms-summary": "Person Classification",
            "description": "Classification of the person."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "na",
              "captured",
              "recovered",
              "located",
              "surrendered",
              "deceased"
            ],
            "x-ms-summary": "Status",
            "description": "Filter by the status of the person."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page Size",
            "description": "Number of items to return."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page",
            "description": "Page of result listing."
          },
          {
            "name": "sort_on",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["publication", "modified"],
            "x-ms-summary": "Sort On",
            "description": "Specify the field to sort on.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": ["desc", "asc"],
            "x-ms-summary": "Sort Order",
            "description": "Specify the order to sort by.",
            "x-ms-visibility": "advanced"
          }
        ],
        "description": "Get listing of people wanted by the FBI."
      }
    },
    "/@wanted-person/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/WantedPerson"
            }
          }
        },
        "summary": "Get Data for Wanted Person",
        "operationId": "GetWantedPerson",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Enter the unique identifier (UID) for the person.",
            "x-ms-summary": "UID",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Retrieve information on a wanted person."
      }
    },
    "/@artcrimes": {
      "get": {
        "responses": {
          "200": {
            "description": "Successfully retrieves detailed information about a specific art crime.",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total number of art crimes tracked.",
                  "title": "Total Art Crimes",
                  "x-ms-summary": "Total Art Crimes"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Current page of art crime listings.",
                  "title": "Page Number",
                  "x-ms-summary": "Page Number"
                },
                "items": {
                  "type": "array",
                  "description": "A collection of art crimes.",
                  "title": "Art  Crimes",
                  "x-ms-summary": "Art Crimes",
                  "items": {
                    "$ref": "#/definitions/ArtCrime"
                  }
                }
              }
            }
          }
        },
        "summary": "List Art Crimes",
        "operationId": "ListArtCrimes",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on the title of the art.",
            "x-ms-summary": "Title"
          },
          {
            "name": "crimeCategory",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Category",
            "description": "Filter on the category of the art."
          },
          {
            "name": "maker",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on who made the art.",
            "x-ms-summary": "Maker"
          },
          {
            "name": "referenceNumber",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter on the art crime reference number.",
            "x-ms-summary": "Reference Number"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Enter the number of crimes to return per page.",
            "x-ms-summary": "Page Size"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page",
            "description": "Enter the results page you would like to retrieve."
          },
          {
            "name": "sort_on",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specifies the field to sort results on. 'publication' for publication date or 'modified' for last modified date.",
            "enum": ["publication", "modified"],
            "x-ms-summary": "Sort By"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specifies the direction of sorting results. 'desc' for descending order or 'asc' for ascending order.",
            "x-ms-summary": "Sort Order",
            "enum": ["desc", "asc"]
          }
        ],
        "description": "Get listing of national art thefts."
      }
    },
    "/@artcrimes/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful retrieval of art crime details.",
            "schema": {
              "$ref": "#/definitions/ArtCrime"
            }
          }
        },
        "summary": "Get Data for Art Crime",
        "operationId": "GetArtCrime",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Enter the unique identifier (UID) for the art crime.",
            "x-ms-summary": "UID",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "description": "Retrieve information on an art crime."
      }
    }
  },
  "definitions": {
    "WantedPerson": {
      "type": "object",
      "properties": {
        "@id": {
          "type": "string",
          "description": "Unique identifier for the wanted record in OData format.",
          "title": "Record ID",
          "x-ms-summary": "Record ID"
        },
        "uid": {
          "type": "string",
          "description": "A unique identifier for the individual.",
          "title": "Unique Identifier",
          "x-ms-summary": "Unique Identifier"
        },
        "title": {
          "type": "string",
          "description": "The title or name associated with the wanted individual.",
          "title": "Title",
          "x-ms-summary": "Title"
        },
        "description": {
          "type": "string",
          "description": "Description of the reason the individual is wanted.",
          "title": "Description",
          "x-ms-summary": "Description"
        },
        "images": {
          "type": "array",
          "description": "Collection of images associated with the wanted individual.",
          "title": "Images",
          "x-ms-summary": "Images",
          "items": {
            "type": "object",
            "properties": {
              "caption": {
                "type": "string",
                "description": "Caption describing the image.",
                "title": "Image Caption",
                "x-ms-summary": "Image Caption"
              },
              "original": {
                "type": "string",
                "description": "URL to the original image.",
                "title": "Original Image URL",
                "x-ms-summary": "Original Image URL"
              },
              "large": {
                "type": "string",
                "description": "URL to a larger version of the image.",
                "title": "Large Image URL",
                "x-ms-summary": "Large Image URL"
              },
              "thumb": {
                "type": "string",
                "description": "URL to a thumbnail version of the image.",
                "title": "Thumbnail Image URL",
                "x-ms-summary": "Thumbnail Image URL"
              }
            }
          }
        },
        "files": {
          "type": "array",
          "description": "Collection of files associated with the wanted individual.",
          "title": "Files",
          "x-ms-summary": "Files",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "URL to access the file.",
                "title": "File URL",
                "x-ms-summary": "File URL"
              },
              "name": {
                "type": "string",
                "description": "Name of the file.",
                "title": "File Name",
                "x-ms-summary": "File Name"
              }
            }
          }
        },
        "warning_message": {
          "type": "string",
          "description": "Warning message regarding the individual.",
          "title": "Warning Message",
          "x-ms-summary": "Warning Message"
        },
        "remarks": {
          "type": "string",
          "description": "Additional remarks about the wanted individual.",
          "title": "Remarks",
          "x-ms-summary": "Remarks"
        },
        "details": {
          "type": "string",
          "description": "Detailed information about the wanted individual.",
          "title": "Detailed Information",
          "x-ms-summary": "Detailed Information"
        },
        "additional_information": {
          "type": "string",
          "description": "Any additional information available about the individual.",
          "title": "Additional Information",
          "x-ms-summary": "Additional Information"
        },
        "caution": {
          "type": "string",
          "description": "Caution notice regarding the individual.",
          "title": "Caution Notice",
          "x-ms-summary": "Caution Notice"
        },
        "reward_text": {
          "type": "string",
          "description": "Information about any rewards offered for information leading to the individual's capture.",
          "title": "Reward Information",
          "x-ms-summary": "Reward Information"
        },
        "reward_min": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum reward amount offered.",
          "title": "Minimum Reward",
          "x-ms-summary": "Minimum Reward"
        },
        "reward_max": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum reward amount offered.",
          "title": "Maximum Reward",
          "x-ms-summary": "Maximum Reward"
        },
        "dates_of_birth_used": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of dates of birth used by the wanted individual.",
          "title": "Dates of Birth Used",
          "x-ms-summary": "Dates of Birth Used"
        },
        "languages" : {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Languages spoken by the wanted individual.",
          "title": "Languages Spoken",
          "x-ms-summary": "Languages Spoken"
        },
        "place_of_birth": {
          "type": "string",
          "description": "Place of birth of the wanted individual.",
          "title": "Birth Place",
          "x-ms-summary": "Birth Place"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Known locations associated with the wanted individual.",
          "title": "Known Locations",
          "x-ms-summary": "Known Locations",
          "x-nullable": true
        },
        "field_offices": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "FBI field offices looking for the individual.",
          "title": "Field Offices",
          "x-ms-summary": "Field Offices"
        },
        "legat_names": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Legat names associated with the individual.",
          "title": "Legat Names",
          "x-ms-summary": "Legat Names",
          "x-nullable": true
        },
        "status": {
          "type": "string",
          "description": "Current status of the wanted individual.",
          "title": "Status",
          "x-ms-summary": "Status"
        },
        "person_classification": {
          "type": "string",
          "description": "Classification of the wanted person (e.g., main, accomplice).",
          "title": "Classification",
          "x-ms-summary": "Classification"
        },
        "ncic": {
          "type": "string",
          "description": "NCIC number associated with the individual.",
          "title": "NCIC Number",
          "x-ms-summary": "NCIC Number"
        },
        "age_min": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum age of the wanted individual.",
          "title": "Minimum Age",
          "x-ms-summary": "Minimum Age",
          "x-nullable": true
        },
        "age_max": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum age of the wanted individual.",
          "title": "Maximum Age",
          "x-ms-summary": "Maximum Age",
          "x-nullable": true
        },
        "weight_min": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum weight of the wanted individual in pounds.",
          "title": "Minimum Weight",
          "x-ms-summary": "Minimum Weight",
          "x-nullable": true
        },
        "weight_max": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum weight of the wanted individual in pounds.",
          "title": "Maximum Weight",
          "x-ms-summary": "Maximum Weight",
          "x-nullable": true
        },
        "height_min": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum height of the wanted individual in inches.",
          "title": "Minimum Height",
          "x-ms-summary": "Minimum Height",
          "x-nullable": true
        },
        "height_max": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum height of the wanted individual in inches.",
          "title": "Maximum Height",
          "x-ms-summary": "Maximum Height",
          "x-nullable": true
        },
        "eyes": {
          "type": "string",
          "description": "Eye color of the wanted individual.",
          "title": "Eye Color",
          "x-ms-summary": "Eye Color"
        },
        "hair": {
          "type": "string",
          "description": "Hair color of the wanted individual.",
          "title": "Hair Color",
          "x-ms-summary": "Hair Color"
        },
        "build": {
          "type": "string",
          "description": "Build of the wanted individual.",
          "title": "Build",
          "x-ms-summary": "Build"
        },
        "sex": {
          "type": "string",
          "description": "Sex of the wanted individual.",
          "title": "Sex",
          "x-ms-summary": "Sex"
        },
        "race": {
          "type": "string",
          "description": "Race of the wanted individual.",
          "title": "Race",
          "x-ms-summary": "Race"
        },
        "nationality": {
          "type": "string",
          "description": "Nationality of the wanted individual.",
          "title": "Nationality",
          "x-ms-summary": "Nationality"
        },
        "scars_and_marks": {
          "type": "string",
          "description": "Description of any scars and marks.",
          "title": "Scars and Marks",
          "x-ms-summary": "Scars and Marks"
        },
        "complexion": {
          "type": "string",
          "description": "Complexion of the wanted individual.",
          "title": "Complexion",
          "x-ms-summary": "Complexion"
        },
        "occupations": {
          "type": "array",
          "description": "Known occupations of the wanted individual.",
          "title": "Occupations",
          "x-ms-summary": "Occupations",
          "items": {
            "type": "string"
          }
        },
        "possible_countries": {
          "type": "array",
          "description": "Countries where the individual may be found.",
          "title": "Possible Countries",
          "x-ms-summary": "Possible Countries",
          "items": {
            "type": "string"
          },
          "x-nullable": true
        },
        "possible_states": {
          "type": "array",
          "description": "States where the individual may be found.",
          "title": "Possible States",
          "x-ms-summary": "Possible States",
          "items": {
            "type": "string"
          },
          "x-nullable": true
        },
        "modified": {
          "type": "string",
          "description": "The last date the record was updated.",
          "title": "Last Modified",
          "x-ms-summary": "Last Modified"
        },
        "publication": {
          "type": "string",
          "description": "Publication date of the wanted notice.",
          "title": "Publication Date",
          "x-ms-summary": "Publication Date"
        },
        "path": {
          "type": "string",
          "description": "API path for the specific wanted record.",
          "title": "API Path",
          "x-ms-summary": "API Path"
        }
      }
    },
    "ArtCrime": {
      "type": "object",
      "properties": {
        "@id": {
          "type": "string",
          "description": "Unique identifier of the art crime in OData format.",
          "title": "OData ID",
          "x-ms-summary": "OData ID"
        },
        "uid": {
          "type": "string",
          "description": "Unique identifier for the art crime.",
          "title": "Unique Identifier",
          "x-ms-summary": "Unique Identifier"
        },
        "title": {
          "type": "string",
          "description": "The title of the art piece involved in the crime.",
          "title": "Title",
          "x-ms-summary": "Title"
        },
        "description": {
          "type": "string",
          "description": "Description of the art crime.",
          "title": "Crime Description",
          "x-ms-summary": "Crime Description"
        },
        "images": {
          "type": "array",
          "description": "Collection of images related to the art crime.",
          "title": "Images",
          "items": {
            "type": "object",
            "properties": {
              "original": {
                "type": "string",
                "description": "URL to the original image.",
                "title": "Original Image URL",
                "x-ms-summary": "Original Image URL"
              },
              "thumb": {
                "type": "string",
                "description": "URL to the thumbnail image.",
                "title": "Thumbnail Image URL",
                "x-ms-summary": "Thumbnail Image URL"
              }
            }
          },
          "x-ms-summary": "Images"
        },
        "crimeCategory": {
          "type": "string",
          "description": "Category of the art crime.",
          "title": "Category",
          "x-ms-summary": "Category"
        },
        "maker": {
          "type": "string",
          "description": "Creator of the art piece.",
          "title": "Maker",
          "x-ms-summary": "Maker"
        },
        "materials": {
          "type": "string",
          "description": "Materials used in the art piece.",
          "title": "Materials Used",
          "x-ms-summary": "Materials Used"
        },
        "measurements": {
          "type": "string",
          "description": "Measurements of the art piece.",
          "title": "Measurements",
          "x-ms-summary": "Measurements"
        },
        "period": {
          "type": "string",
          "description": "Time period when the art piece was created.",
          "title": "Creation Period",
          "x-ms-summary": "Creation Period"
        },
        "additionalData": {
          "type": "string",
          "description": "Additional information related to the art crime.",
          "title": "Additional Information",
          "x-ms-summary": "Additional Information"
        },
        "modified": {
          "type": "string",
          "description": "Date when the art crime record was last modified.",
          "title": "Last Modified",
          "x-ms-summary": "Last Modified"
        },
        "publication": {
          "type": "string",
          "description": "Date when the art crime was published.",
          "title": "Publication Date",
          "x-ms-summary": "Publication Date"
        },
        "path": {
          "type": "string",
          "description": "API path for accessing the art crime details.",
          "title": "API Path",
          "x-ms-summary": "API Path"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://api.fbi.gov/docs#!/Wanted/get_wanted"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.fbi.gov/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}
