{
  "swagger": "2.0",
  "info": {
    "title": "Corporate Buzzword Generator",
    "description": "Corporate buzzwords are the icing on the cake, proof that not even the business world takes the business world seriously. This generator randomly picks out phrases, which can help your application get ahead in an industry where spin and vagueness reign supreme.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "corporatebs-generator.sameerkumar.website",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "phrase": {
                  "type": "string",
                  "description": "The generated phrase.",
                  "title": "Phrase"
                }
              }
            }
          }
        },
        "summary": "Get a phrase",
        "description": "Returns a randomly generated phrase.",
        "operationId": "Phrase",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://github.com/sameerkumar18/corporate-bs-generator-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://github.com/sameerkumar18/corporate-bs-generator-api"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}