{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Dokobit Portal",
    "description": "Use Dokobit portal with all the features that it has but make it automated so that you don't have to waste your time on the administrative job. Put together an automated document signing process puzzle from only the parts you need: signing, sharing, downloading or deleting documents, removing and replacing signers, getting details about signers and signature information.",
    "contact": {
      "name": "Dokobit",
      "url": "https://support.dokobit.com",
      "email": "developers@dokobit.com"
    }
  },
  "host": "app.dokobit.com",
  "basePath": "/api/connector",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/signing/create.json": {
      "post": {
        "summary": "Portal - Create Signing",
        "consumes": [
          "application/json"
        ],
        "description": "Create a PDF file for signing.",
        "operationId": "Portal-CreateSigning",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary title": "Signing Name",
                  "x-ms-visibility": "important"
                },
                "type": {
                  "type": "string",
                  "description": "type",
                  "x-ms-summary title": "type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "pdf",
                    "asic"
                  ]
                },
                "deadline": {
                  "type": "string",
                  "description": "Example: 2019-11-25T13:15:30Z",
                  "x-ms-summary title": "deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "require_qualified_signatures": {
                  "type": "boolean",
                  "description": "Require qualified signatures",
                  "x-ms-summary title": "Require qualified signatures",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "require_account": {
                  "type": "boolean",
                  "description": "Require user to have Dokobit acccount before signing.",
                  "x-ms-summary title": "Require account",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name",
                        "x-ms-summary title": "FileName",
                        "x-ms-visibility": "important"
                      },
                      "content": {
                        "type": "string",
                        "description": "content"
                      }
                    }
                  },
                  "description": "files"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name",
                        "x-ms-summary title": "Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "surname",
                        "x-ms-summary title": "Surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "email",
                        "x-ms-summary title": "Email"
                      },
                      "code": {
                        "type": "string",
                        "description": "code",
                        "x-ms-summary title": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "country_code",
                        "x-ms-summary title": "Country Code"
                      },
                      "role": {
                        "type": "string",
                        "description": "role",
                        "x-ms-summary title": "role",
                        "x-ms-visibility": "important",
                        "enum": [
                          "approver",
                          "signer",
                          "viewer"
                        ]
                      },
                      "company": {
                        "type": "string",
                        "description": "company",
                        "x-ms-summary title": "Company"
                      },
                      "position": {
                        "type": "string",
                        "description": "position",
                        "x-ms-summary title": "Position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "phone",
                        "x-ms-summary title": "Phone"
                      }
                    }
                  },
                  "description": "signers"
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "category",
                        "x-ms-summary title": "category",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                          "operationId": "Portal-GetCategories",
                          "value-path": "token",
                          "value-title": "name"
                        },
                        "x-ms-dynamic-list": {
                          "operationId": "Portal-GetCategories",
                          "itemsPath": "token",
                          "itemValuePath": "name"
                        }
                      }
                    }
                  },
                  "description": "categories"
                }
              }
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "token": {
                  "type": "string",
                  "description": "signingtoken",
                  "title": "signingtoken"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "token"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "first_name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "last_name"
                      },
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "country": {
                        "type": "string",
                        "description": "country"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      }
                    }
                  },
                  "description": "signers"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/signing/list.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "signings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "token",
                        "x-ms-summary title": "token"
                      },
                      "status": {
                        "type": "string",
                        "description": "Signing Status",
                        "x-ms-summary title": "Signing Status"
                      },
                      "document_number": {
                        "type": "string",
                        "description": "document_number",
                        "x-ms-summary title": "Document Number"
                      },
                      "last_signature_date": {
                        "type": "string",
                        "description": "last_signature_date",
                        "x-ms-summary title": "Last Signature Date"
                      }
                    }
                  },
                  "description": "signings"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Portal - Get Signing List",
        "description": "Returns a list of all documents available to the account owner.",
        "operationId": "Portal-GetSigninglist",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter document status. E.g completed, pending",
            "x-ms-summary": "filter"
          }
        ]
      }
    },
    "/signing/{token}/status.json": {
      "get": {
        "summary": "Portal - Check Signing Status",
        "description": "Returns document's information with signing status.",
        "operationId": "Portal-CheckSigningStatus",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Token",
            "x-ms-summary": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "name": {
                  "type": "string",
                  "description": "name",
                  "x-ms-summary title": "Name"
                },
                "deadline": {
                  "type": "string",
                  "description": "Example: 2019-11-25T13:15:30Z",
                  "title": "deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "filename": {
                  "type": "string",
                  "description": "name of the file",
                  "x-ms-summary title": "Name of the file"
                },
                "signed_file": {
                  "type": "string",
                  "description": "signed_file",
                  "x-ms-summary title": "Signed file"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "token",
                        "x-ms-summary title": "token"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "first_name",
                        "x-ms-summary title": "First name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "last_name",
                        "x-ms-summary title": "Surname"
                      },
                      "code": {
                        "type": "string",
                        "description": "code",
                        "x-ms-summary title": "Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "country",
                        "x-ms-summary title": "Country"
                      },
                      "email": {
                        "type": "string",
                        "description": "email",
                        "x-ms-summary title": "Email"
                      },
                      "type": {
                        "type": "string",
                        "description": "type",
                        "x-ms-summary title": "Type"
                      },
                      "status": {
                        "type": "string",
                        "description": "status",
                        "x-ms-summary title": "Status"
                      }
                    }
                  },
                  "description": "signers"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/signing/{token}/download": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Portal - Download Document",
        "description": "Downloads the signed document.",
        "operationId": "Portal-DownloadDocument",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Token",
            "x-ms-summary": "token"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/signing/{token}/share.json": {
      "post": {
        "summary": "Portal - Share signing",
        "consumes": [
          "application/json"
        ],
        "description": "Indicated participants will gain access to the document with the selected role.",
        "operationId": "Portal-SigningShare",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "token"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "country_code"
                      },
                      "role": {
                        "type": "string",
                        "description": "role",
                        "title": "",
                        "x-ms-visibility": "important",
                        "enum": [
                          "approver",
                          "signer",
                          "viewer"
                        ]
                      },
                      "company": {
                        "type": "string",
                        "description": "company"
                      },
                      "position": {
                        "type": "string",
                        "description": "position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "phone"
                      }
                    }
                  },
                  "description": "signers"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Token",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "name",
                        "x-ms-summary title": "Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "surname",
                        "x-ms-summary title": "Surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "email",
                        "x-ms-summary title": "Email"
                      },
                      "code": {
                        "type": "string",
                        "description": "code",
                        "x-ms-summary title": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "country_code",
                        "x-ms-summary title": "Country code"
                      },
                      "role": {
                        "type": "string",
                        "description": "role",
                        "x-ms-summary title": "Role",
                        "x-ms-visibility": "important",
                        "enum": [
                          "approver",
                          "signer",
                          "viewer"
                        ]
                      },
                      "company": {
                        "type": "string",
                        "description": "company",
                        "x-ms-summary title": "Company"
                      },
                      "position": {
                        "type": "string",
                        "description": "position",
                        "x-ms-summary title": "Position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "phone",
                        "x-ms-summary title": "Phone"
                      }
                    }
                  },
                  "description": "signers"
                },
                "comment": {
                  "type": "string",
                  "description": "comment",
                  "x-ms-summary title": "Comment"
                }
              }
            }
          }
        ]
      }
    },
    "/signing/{token}/seal.json": {
      "post": {
        "summary": "Portal - Seal signing",
        "description": "Document will be sealed with your organizations' electronic seal. Please contact our support at developers@dokobit.com to get a qualified certificate for e-sealing.",
        "operationId": "Portal-SealSigning",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Token",
            "x-ms-summary": "token"
          }
        ]
      }
    },
    "/signing/{token}/signers/delete.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Portal - Delete participant from signing",
        "description": "Access to the document will be revoked for the indicated participant.\n.",
        "operationId": "Portal-SignerDelete",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Token",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "token",
                        "x-ms-summary title": "Token"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/signing/{token}/delete.json": {
      "post": {
        "summary": "Portal - Delete Signing",
        "description": "The document will be removed from the owner's account. It will remain accessible to other participants.",
        "operationId": "Portal-DeleteSigning",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Token",
            "x-ms-summary": "token"
          }
        ]
      }
    },
    "/signing/{token}/delete-all.json": {
      "post": {
        "summary": "Portal - Delete Signing For All",
        "description": "The document will be removed from the owner's account and from other participants' who haven't signed the document yet.",
        "operationId": "Portal-DeleteSigningForAll",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Token",
            "x-ms-summary": "token"
          }
        ]
      }
    },
    "/category/list.json": {
      "get": {
        "summary": "Portal - Get Categories",
        "description": "Returns a list of categories available for the integration.",
        "operationId": "Portal-GetCategories",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "x-ms-summary title": "Token"
                  },
                  "name": {
                    "type": "string",
                    "description": "name",
                    "x-ms-summary title": "Name"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Access-Token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dokobit.com/solutions"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.dokobit.com/compliance/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Remote work;esignature"
    }
  ]
}