{
  "swagger": "2.0",
  "info": {
    "version": "1.3.1",
    "title": "Dokobit Portal",
    "description": "Use Dokobit portal with all the features that it has but make it automated so that you don't have to waste your time on the administrative job. Put together an automated document signing process puzzle from only the parts you need: signing, sharing, downloading or deleting documents, removing and replacing signers, getting details about signers and signature information.",
    "contact": {
      "name": "Dokobit",
      "url": "https://support.dokobit.com",
      "email": "developers@dokobit.com"
    }
  },
  "host": "app.dokobit.com",
  "basePath": "/api/connector",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/signing/create.json": {
      "post": {
        "summary": "Portal - Create Signing",
        "consumes": [
          "application/json"
        ],
        "description": "Create a PDF, ASIC or ADOC file for signing.",
        "operationId": "Portal-CreateSigning",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Signing name",
                  "x-ms-summary title": "Name",
                  "x-ms-visibility": "important"
                },
                "type": {
                  "type": "string",
                  "description": "Document format",
                  "x-ms-summary title": "Type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "pdf",
                    "asic",
                    "adoc"
                  ]
                },
                "postback_url": {
                  "type": "string",
                  "description": "URL of your system to handle webhooks",
                  "x-ms-summary title": "Postback URL",
                  "x-ms-visibility": "important"
                },
                "deadline": {
                  "type": "string",
                  "description": "Example: 2019-11-25T13:15:30Z",
                  "x-ms-summary title": "Deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "hard_deadline": {
                  "type": "boolean",
                  "description": "If set to true participants won’t be able to sign or approve this document after set `deadline`",
                  "x-ms-summary title": "Hard Deadline",
                  "enum": [
                    false,
                    true
                  ]
                },
                "require_qualified_signatures": {
                  "type": "boolean",
                  "description": "Allow to sign only with qualified signatures",
                  "x-ms-summary title": "Require Qualified Signatures",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "annotation_position": {
                  "type": "string",
                  "description": "You can choose the position of signature annotations on a PDF document. Default: first_top",
                  "x-ms-summary title": "Annotation Position",
                  "x-ms-visibility": "important",
                  "enum": [
                    "first_top",
                    "first_bottom",
                    "last_top",
                    "last_bottom",
                    "none"
                  ]
                },
                "annotation_personal_code": {
                  "type": "boolean",
                  "description": "If set to true personal code will be visible in annotation. Only applicable for pdf type signing",
                  "x-ms-summary title": "Annotation Personal Code",
                  "enum": [
                    false,
                    true
                  ]
                },
                "comment": {
                  "type": "string",
                  "description": "Message for participants",
                  "x-ms-summary title": "Comment"
                },
                "require_account": {
                  "type": "boolean",
                  "description": "Require user to have a Dokobit account before signing",
                  "x-ms-summary title": "Require Account",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "File name",
                        "x-ms-summary title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "content": {
                        "type": "string",
                        "description": "Base64 encoded file content"
                      }
                    }
                  },
                  "description": "File or files to be signed"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Participant's name",
                        "x-ms-summary title": "Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's surname",
                        "x-ms-summary title": "Surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail",
                        "x-ms-summary title": "E-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number)",
                        "x-ms-summary title": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country code. Required if personal code is provided",
                        "x-ms-summary title": "Country Code"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role",
                        "x-ms-summary title": "Role",
                        "x-ms-visibility": "important",
                        "enum": [
                          "approver",
                          "signer",
                          "viewer"
                        ]
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company name",
                        "x-ms-summary title": "Company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position",
                        "x-ms-summary title": "Position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone number",
                        "x-ms-summary title": "Phone"
                      },
                      "sequence": {
                        "type": "integer",
                        "description": "Allows setting up the sequence order of document approving and signing actions",
                        "x-ms-summary title": "Sequence"
                      },
                      "custom_reason": {
                        "type": "string",
                        "description": "Custom signature reason",
                        "x-ms-summary title": "Custom Reason"
                      }
                    }
                  },
                  "description": "Participant's information"
                },
                "categories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "Document category",
                        "x-ms-summary title": "Category",
                        "x-ms-visibility": "important",
                        "x-ms-dynamic-values": {
                          "operationId": "Portal-GetCategories",
                          "value-path": "token",
                          "value-title": "name"
                        },
                        "x-ms-dynamic-list": {
                          "operationId": "Portal-GetCategories",
                          "itemsPath": "token",
                          "itemValuePath": "name"
                        }
                      }
                    }
                  },
                  "description": "Document categories"
                }
              }
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Signing status"
                },
                "token": {
                  "type": "string",
                  "description": "Signing token",
                  "title": "token"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "title": "signer.token"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Participant's first name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Participant's last name"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number)"
                      },
                      "country": {
                        "type": "string",
                        "description": "Participant's country"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail"
                      }
                    }
                  },
                  "description": "Participant's information"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/signing/list.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "signings": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Signing token",
                        "x-ms-summary title": "Token"
                      },
                      "status": {
                        "type": "string",
                        "description": "Signing status",
                        "x-ms-summary title": "Signing Status"
                      },
                      "document_number": {
                        "type": "string",
                        "description": "Document Number",
                        "x-ms-summary title": "Document Number"
                      },
                      "last_signature_date": {
                        "type": "string",
                        "description": "Last signature date",
                        "x-ms-summary title": "Last Signature Date"
                      }
                    }
                  },
                  "description": "List of signings"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Portal - Get Signing List",
        "description": "Returns a list of all documents available to the account owner.",
        "operationId": "Portal-GetSigninglist",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter document status. E.g completed, pending",
            "x-ms-summary": "Filter"
          },
          {
            "in": "query",
            "name": "date_from",
            "type": "string",
            "required": false,
            "description": "Filter signings which were created on or after this date (Example: 2022-01-01)",
            "x-ms-summary": "Date From"
          },
          {
            "in": "query",
            "name": "date_to",
            "required": false,
            "type": "string",
            "description": "Filter signings which were created on or before this date (Example: 2022-01-31)",
            "x-ms-summary": "Date To"
          }
        ]
      }
    },
    "/signing/{token}/status.json": {
      "get": {
        "summary": "Portal - Check Signing Status",
        "description": "Returns document's information with signing status.",
        "operationId": "Portal-CheckSigningStatus",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                },
                "name": {
                  "type": "string",
                  "description": "Signing name",
                  "x-ms-summary title": "Name"
                },
                "deadline": {
                  "type": "string",
                  "description": "Example: 2019-11-25T13:15:30Z",
                  "title": "deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "filename": {
                  "type": "string",
                  "description": "Name of the file",
                  "x-ms-summary title": "File Name"
                },
                "signed_file": {
                  "type": "object",
                  "description": "Signed file",
                  "x-ms-summary title": "Signed File",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url",
                      "x-ms-summary title": "URL"
                    }
                  }
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "x-ms-summary title": "Signer Token"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Participant's first name",
                        "x-ms-summary title": "First Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Participant's surname",
                        "x-ms-summary title": "Surname"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's code",
                        "x-ms-summary title": "Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Participant's country",
                        "x-ms-summary title": "Country"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail",
                        "x-ms-summary title": "E-mail"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type",
                        "x-ms-summary title": "Type"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status",
                        "x-ms-summary title": "Status"
                      }
                    }
                  },
                  "description": "Participant information"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/signing/{token}/download": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Portal - Download Document",
        "description": "Downloads the signed document.",
        "operationId": "Portal-DownloadDocument",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/signing/{token}/remind.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Portal - Send Reminder",
        "description": "Allows to send a reminder e-mail for participant, only if person has not signed document yet.",
        "operationId": "Portal-Remind",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "signer": {
                  "type": "string",
                  "description": "Participant's token",
                  "x-ms-summary title": "Signer Token"
                },
                "message": {
                  "type": "string",
                  "description": "Reminder message to signer",
                  "x-ms-summary title": "Message"
                }
              },
              "required": ["signer"]
            }
          }
        ]
      }
    },
    "/signing/{token}/share.json": {
      "post": {
        "summary": "Portal - Share signing",
        "consumes": [
          "application/json"
        ],
        "description": "Indicated participants will gain access to the document with the selected role.",
        "operationId": "Portal-SigningShare",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "title": "signer.token"
                      },
                      "name": {
                        "type": "string",
                        "description": "Participant's first name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's last name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number)"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role",
                        "title": "",
                        "x-ms-visibility": "important",
                        "enum": [
                          "approver",
                          "signer",
                          "viewer"
                        ]
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone"
                      }
                    }
                  },
                  "description": "Participant's information"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Participant's name",
                        "x-ms-summary title": "Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's surname",
                        "x-ms-summary title": "Surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail",
                        "x-ms-summary title": "E-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's code",
                        "x-ms-summary title": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country code",
                        "x-ms-summary title": "Country code"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role",
                        "x-ms-summary title": "Role",
                        "x-ms-visibility": "important",
                        "enum": [
                          "approver",
                          "signer",
                          "viewer"
                        ]
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company",
                        "x-ms-summary title": "Company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position",
                        "x-ms-summary title": "Position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone",
                        "x-ms-summary title": "Phone"
                      },
                      "custom_reason": {
                        "type": "string",
                        "description": "Custom signature reason",
                        "x-ms-summary title": "Custom Reason"
                      }
                    }
                  },
                  "description": "Participant's information"
                },
                "comment": {
                  "type": "string",
                  "description": "Message for participants",
                  "x-ms-summary title": "Comment"
                }
              }
            }
          }
        ]
      }
    },
    "/signing/{token}/seal.json": {
      "post": {
        "summary": "Portal - Seal signing",
        "description": "Document will be sealed with your organizations' electronic seal. Please contact our support at developers@dokobit.com to get a qualified certificate for e-sealing.",
        "operationId": "Portal-SealSigning",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ]
      }
    },
    "/signing/{token}/signers/delete.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Portal - Delete participant from signing",
        "description": "Access to the document will be revoked for the indicated participant.",
        "operationId": "Portal-SignerDelete",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "x-ms-summary title": "Token"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/signing/{token}/delete.json": {
      "post": {
        "summary": "Portal - Delete Signing",
        "description": "The document will be removed from the owner's account. It will remain accessible to other participants.",
        "operationId": "Portal-DeleteSigning",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ]
      }
    },
    "/signing/{token}/delete-all.json": {
      "post": {
        "summary": "Portal - Delete Signing For All",
        "description": "The document will be removed from the owner's account and from other participants' who haven't signed the document yet.",
        "operationId": "Portal-DeleteSigningForAll",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "Token"
          }
        ]
      }
    },
    "/category/list.json": {
      "get": {
        "summary": "Portal - Get Categories",
        "description": "Returns a list of categories available for the integration.",
        "operationId": "Portal-GetCategories",
        "x-ms-visibility": "internal",
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "token",
                    "x-ms-summary title": "Token"
                  },
                  "name": {
                    "type": "string",
                    "description": "name",
                    "x-ms-summary title": "Name"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Access-Token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dokobit.com/solutions"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.dokobit.com/compliance/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ]
}
