{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Learn Catalog",
    "description": "The Microsoft Learn Catalog allows you to send a web-based query to Microsoft Learn and get back details about all published Learn content, such as titles, products covered, levels, links to the training, and other metadata. You can then take this information and display it in your own site or learning management system (LMS) experience so that your users can access it just-in-time when doing a task or displayed side-by-side with other training content.",
    "version": "1.1",
    "contact": {
      "name": "Sean Kelly",
      "url": "https://microsoft-business-applications.hcltech.com/",
      "email": "sean.kelly@hcl.com"
    }
  },
  "host": "learn.microsoft.com",
  "basePath": "/api/catalog/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "Success. The body of the response includes the JSON-encoded data.",
            "schema": {
              "type": "object",
              "properties": {
                "modules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "summary": {
                        "type": "string",
                        "description": "Summary of module.",
                        "title": "Summary"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Levels associated with module.",
                        "title": "Levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Roles associated with module.",
                        "title": "Roles"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Products associated with module.",
                        "title": "Products"
                      },
                      "subjects": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Subjects associated with module.",
                        "title": "Subjects"
                      },
                      "uid": {
                        "type": "string",
                        "description": "Unique identifier of module.",
                        "title": "UID"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of module.",
                        "title": "Type"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of module.",
                        "title": "Title"
                      },
                      "duration_in_minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Duration of module in minutes.",
                        "title": "Duration"
                      },
                      "rating": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Count of module ratings.",
                            "title": "Count"
                          },
                          "average": {
                            "type": "number",
                            "format": "float",
                            "description": "Average rating of module.",
                            "title": "Average"
                          }
                        },
                        "description": "Rating of module.",
                        "title": "Rating"
                      },
                      "popularity": {
                        "type": "number",
                        "format": "float",
                        "description": "Popularity of module.",
                        "title": "Popularity"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "Icon url of module.",
                        "title": "Icon Url"
                      },
                      "social_image_url": {
                        "type": "string",
                        "description": "Social image url of module.",
                        "title": "Social Image Url"
                      },
                      "locale": {
                        "type": "string",
                        "description": "Locale of module.",
                        "title": "Locale"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "Last modified date of module.",
                        "title": "Last Modified"
                      },
                      "url": {
                        "type": "string",
                        "description": "Url of module.",
                        "title": "Url"
                      },
                      "firstUnitUrl": {
                        "type": "string",
                        "description": "First unit url of module.",
                        "title": "First Unit Url"
                      },
                      "units": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Units associated with module.",
                        "title": "Units"
                      },
                      "number_of_children": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of children of module.",
                        "title": "Children"
                      }
                    }
                  },
                  "description": "Array of modules.",
                  "title": "Module"
                },
                "units": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "Unique identifier of unit.",
                        "title": "UID"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of unit.",
                        "title": "Type"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of module.",
                        "title": "Title"
                      },
                      "duration_in_minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Duration of unit in minutes.",
                        "title": "Duration"
                      },
                      "locale": {
                        "type": "string",
                        "description": "Locale of unit.",
                        "title": "Locale"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "Last modified date of unit.",
                        "title": "Last Modified"
                      }
                    }
                  },
                  "description": "Array of units.",
                  "title": "Unit"
                },
                "learningPaths": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "summary": {
                        "type": "string",
                        "description": "Summary of learning path.",
                        "title": "Summary"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Levels associated with learning path.",
                        "title": "Levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Roles associated with learning path.",
                        "title": "Roles"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Products associated with learning path.",
                        "title": "Products"
                      },
                      "subjects": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Subjects associated with learning path.",
                        "title": "Subjects"
                      },
                      "uid": {
                        "type": "string",
                        "description": "Unique identifier of learning path.",
                        "title": "UID"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of learning path.",
                        "title": "Type"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of learning path.",
                        "title": "Title"
                      },
                      "duration_in_minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Duration of learning path in minutes.",
                        "title": "Duration"
                      },
                      "rating": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Count of learning path ratings.",
                            "title": "Count"
                          }
                        },
                        "description": "Rating of learning path.",
                        "title": "Rating"
                      },
                      "popularity": {
                        "type": "number",
                        "format": "float",
                        "description": "Popularity of learning path.",
                        "title": "Popularity"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "Icon url of learning path.",
                        "title": "Icon Url"
                      },
                      "social_image_url": {
                        "type": "string",
                        "description": "Social image url of learning path.",
                        "title": "Social Image Url"
                      },
                      "locale": {
                        "type": "string",
                        "description": "Locale of learning path.",
                        "title": "Locale"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "Last modified date of learning path.",
                        "title": "Last Modified"
                      },
                      "url": {
                        "type": "string",
                        "description": "Url of learning path.",
                        "title": "Url"
                      },
                      "firstModuleUrl": {
                        "type": "string",
                        "description": "First module url of learning path.",
                        "title": "First Module Url"
                      },
                      "modules": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Modules associated with learning path.",
                        "title": "Modules"
                      },
                      "number_of_children": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of children of learning path.",
                        "title": "Children"
                      }
                    }
                  },
                  "description": "Array of learning paths.",
                  "title": "Learning Path"
                },
                "appliedSkills": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "Unique identifier of applied skill.",
                        "title": "UID"
                      },
                      "locale": {
                        "type": "string",
                        "description": "Locale of applied skill.",
                        "title": "Locale"
                      },
                      "url": {
                        "type": "string",
                        "description": "Url of applied skill.",
                        "title": "Url"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "Icon url of applied skill.",
                        "title": "Icon Url"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of applied skill.",
                        "title": "Title"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Summary of applied skill.",
                        "title": "Summary"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Levels associated with applied skill.",
                        "title": "Levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Roles associated with applied skill.",
                        "title": "Roles"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Products associated with applied skill.",
                        "title": "Products"
                      },
                      "subjects": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Subjects associated with applied skill.",
                        "title": "Subjects"
                      },
                      "study_guide": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier of study guide.",
                              "title": "UID"
                            },
                            "type": {
                              "type": "string",
                              "description": "Type of study guide.",
                              "title": "Type"
                            }
                          }
                        },
                        "description": "Study guide associated with applied skill.",
                        "title": "Study Guide"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "Last modified date of applied skill.",
                        "title": "Last Modified"
                      }
                    }
                  },
                  "description": "Array of applied skills.",
                  "title": "Applied Skill"
                },
                "mergedCertifications": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "Unique identifier of merged certification.",
                        "title": "UID"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of merged certification.",
                        "title": "Title"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Summary of merged certification.",
                        "title": "Summary"
                      },
                      "url": {
                        "type": "string",
                        "description": "Url of merged certification.",
                        "title": "Url"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "Icon url of merged certification.",
                        "title": "Icon Url"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "Last modified date of merged certification.",
                        "title": "Last Modified"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of merged certification.",
                        "title": "Type"
                      },
                      "certification_type": {
                        "type": "string",
                        "description": "Type of merged certification type.",
                        "title": "Certification Type"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Products associated with merged certification.",
                        "title": "Products"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Levels associated with merged certification.",
                        "title": "Levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Roles associated with merged certification.",
                        "title": "Roles"
                      },
                      "subjects": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Subjects associated with merged certification.",
                        "title": "Subjects"
                      },
                      "renewal_frequency_in_days": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Renewal frequency of merged certification in days.",
                        "title": "Renewal Frequency"
                      },
                      "prerequisites": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Prerequisites associated with merged certification.",
                        "title": "Prerequisites"
                      },
                      "skills": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Skills associated with merged certification.",
                        "title": "Skills"
                      },
                      "recommendation_list": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Recommendation list associated with merged certification.",
                        "title": "Recommendation List"
                      },
                      "study_guide": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier of study guide.",
                              "title": "UID"
                            },
                            "type": {
                              "type": "string",
                              "description": "Type of study guide.",
                              "title": "Type"
                            }
                          }
                        },
                        "description": "Study guide associated with merged certification.",
                        "title": "Study Guide"
                      },
                      "exam_duration_in_minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Duration of exam in minutes.",
                        "title": "Exam Duration"
                      },
                      "locales": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Locales associated with merged certification.",
                        "title": "Locales"
                      },
                      "providers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "providerType": {
                              "type": "string",
                              "description": "Type of exam provider.",
                              "title": "Type"
                            },
                            "examUrl": {
                              "type": "string",
                              "description": "Url of exam.",
                              "title": "Exam Url"
                            }
                          }
                        },
                        "description": "Provider of merged certification exam.",
                        "title": "Provider"
                      },
                      "career_paths": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Career paths associated with merged certification.",
                        "title": "Career Paths"
                      }
                    }
                  },
                  "description": "Array of merged certifications.",
                  "title": "Merged Certification"
                },
                "certifications": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "Unique identifier of certification.",
                        "title": "UID"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of certification.",
                        "title": "Title"
                      },
                      "subtitle": {
                        "type": "string",
                        "description": "Subtitle of certification.",
                        "title": "Subtitle"
                      },
                      "url": {
                        "type": "string",
                        "description": "Url of certification.",
                        "title": "Url"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "Icon url of certification.",
                        "title": "Icon Url"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "Last modified date of certification.",
                        "title": "Last Modified"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of certification.",
                        "title": "Type"
                      },
                      "certification_type": {
                        "type": "string",
                        "description": "Type of certification type.",
                        "title": "Certification Type"
                      },
                      "exams": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Exams associated with certification.",
                        "title": "Exams"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Levels associated with certification.",
                        "title": "Levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Roles associated with certification.",
                        "title": "Roles"
                      },
                      "study_guide": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier of study guide.",
                              "title": "UID"
                            },
                            "type": {
                              "type": "string",
                              "description": "Type of study guide.",
                              "title": "Type"
                            }
                          }
                        },
                        "description": "Study guide associated with certification.",
                        "title": "Study Guide"
                      }
                    }
                  },
                  "description": "Array of certifications.",
                  "title": "Certification"
                },
                "exams": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "Unique identifier of exam.",
                        "title": "UID"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of exam.",
                        "title": "Title"
                      },
                      "subtitle": {
                        "type": "string",
                        "description": "Subtitle of exam.",
                        "title": "Subtitle"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "Display name of exam.",
                        "title": "Display Name"
                      },
                      "url": {
                        "type": "string",
                        "description": "Url of exam.",
                        "title": "Url"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "Icon url of exam.",
                        "title": "Icon Url"
                      },
                      "pdf_download_url": {
                        "type": "string",
                        "description": "Pdf download url of exam.",
                        "title": "Pdf Download Url"
                      },
                      "practice_assessment_url": {
                        "type": "string",
                        "description": "Practice assessment url of exam.",
                        "title": "Practice Assessment Url"
                      },
                      "practice_test_url": {
                        "type": "string",
                        "description": "Practice test url of exam.",
                        "title": "Practice Test Url"
                      },
                      "locales": {
                        "type": "array",
                        "items": {},
                        "description": "locales associated with exam.",
                        "title": "Locales"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "Last modified date of exam.",
                        "title": "Last Modified"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of exam.",
                        "title": "Type"
                      },
                      "courses": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Courses associated with exam.",
                        "title": "Courses"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Levels associated with exam.",
                        "title": "Levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Roles associated with exam.",
                        "title": "Roles"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Products associated with exam.",
                        "title": "Products"
                      },
                      "providers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "providerType": {
                              "type": "string",
                              "description": "Type of exam provider.",
                              "title": "Type"
                            },
                            "examUrl": {
                              "type": "string",
                              "description": "Url of exam.",
                              "title": "Exam Url"
                            }
                          }
                        },
                        "description": "Provider of exam.",
                        "title": "Provider"
                      },
                      "study_guide": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier of study guide.",
                              "title": "UID"
                            },
                            "type": {
                              "type": "string",
                              "description": "Type of study guide.",
                              "title": "Type"
                            }
                          }
                        },
                        "description": "Study guide associated with exam.",
                        "title": "Study Guide"
                      }
                    }
                  },
                  "description": "Array of exams.",
                  "title": "Exam"
                },
                "courses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "Unique identifier of course.",
                        "title": "UID"
                      },
                      "course_number": {
                        "type": "string",
                        "description": "Course number of course.",
                        "title": "Course Number"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title of course.",
                        "title": "Title"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Summary of course.",
                        "title": "Summary"
                      },
                      "duration_in_hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Duration of course in hours.",
                        "title": "Duration"
                      },
                      "url": {
                        "type": "string",
                        "description": "Url of course.",
                        "title": "Url"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "Icon url of course.",
                        "title": "Icon Url"
                      },
                      "locales": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Locales associated with course.",
                        "title": "Locales"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "Last modified date of course.",
                        "title": "Last Modified"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of course.",
                        "title": "Type"
                      },
                      "certification": {
                        "type": "string",
                        "description": "Certification of course.",
                        "title": "Certification"
                      },
                      "exam": {
                        "type": "string",
                        "description": "Exam of course.",
                        "title": "Exam"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Levels associated with course.",
                        "title": "Levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Roles associated with course.",
                        "title": "Roles"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Products associated with course.",
                        "title": "Products"
                      },
                      "study_guide": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "Unique identifier of study guide.",
                              "title": "UID"
                            },
                            "type": {
                              "type": "string",
                              "description": "Type of study guide.",
                              "title": "Type"
                            }
                          }
                        },
                        "description": "Study guide associated with course.",
                        "title": "Study Guide"
                      },
                      "recommendation_list": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Recommendation list associated with course.",
                        "title": "Recommendation List"
                      }
                    }
                  },
                  "description": "Array of courses.",
                  "title": "Course"
                },
                "levels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identifier of level.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of level.",
                        "title": "Name"
                      }
                    }
                  },
                  "description": "Array of levels.",
                  "title": "Level"
                },
                "products": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identifier of product.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of product.",
                        "title": "Name"
                      },
                      "children": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Identifier of child.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of child.",
                              "title": "Name"
                            }
                          }
                        },
                        "description": "Children of product.",
                        "title": "Children"
                      }
                    }
                  },
                  "description": "Array of products.",
                  "title": "Product"
                },
                "roles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identifier of role.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of role.",
                        "title": "Name"
                      }
                    }
                  },
                  "description": "Array of roles.",
                  "title": "Role"
                },
                "subjects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identifier of subject.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of subject.",
                        "title": "Name"
                      },
                      "children": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Identifier of child.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of child.",
                              "title": "Name"
                            }
                          }
                        },
                        "description": "Children of subject.",
                        "title": "Children"
                      }
                    }
                  },
                  "description": "Array of subjects.",
                  "title": "Subject"
                }
              }
            }
          }
        },
        "summary": "Get Learning Content",
        "operationId": "GetLearningContent",
        "description": "This connector can return information from the Microsoft Learn Catalog about all publicly available Modules, Units, Learning Paths, Applied Skills, Certifications, Exams, Instructor-Led Courses.",
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A single, valid locale code from the supported list of locales. The returned metadata will be in the requested locale if available. If this parameter isn't supplied, the en-us response will be returned. Example: en-us",
            "x-ms-summary": "Locale"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Type",
            "description": "A comma-separated list of one or more of the top-level content or taxonomies objects we currently provide in the response to return. Supported values are: modules, units, learningPaths, appliedSkills, certifications, mergedCertifications, exams, courses, levels, roles, products, subjects. Example: modules,learningPaths"
          },
          {
            "name": "uid",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of one or more valid content unique IDs (uid) from the available content types. Note: uids are case-sensitive. Example: learn.azure.intro-to-azure-fundamentals",
            "x-ms-summary": "UID"
          },
          {
            "name": "last_modified",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An operator and datetime to filter by the last modified date of objects. Operator includes lt (less than), lte (less than or equal to), eq (equal to), gt (greater than), gte (greater than or equal to). When you use this parameter, the operator will default to gte if not specified. Example: gte 2022-01-01",
            "x-ms-summary": "Last Modified"
          },
          {
            "name": "popularity",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An operator and value to filter by the popularity value (in a range of 0-1) of objects. Operator includes lt (less than), lte (less than or equal to), eq (equal to), gt (greater than), gte (greater than or equal to). When you use this parameter, the operator will default to gte if not specified. Example: gte 0.5",
            "x-ms-summary": "Popularity"
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of one or more of the levels we currently have available. Supported values are: beginner, intermediate, advanced. Example: beginner",
            "x-ms-summary": "Level"
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of one or more of the roles we currently have available. Example: developer",
            "x-ms-summary": "Role"
          },
          {
            "name": "product",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of one or more of the products we currently have available. The API does not support product hierarchy, so add every product to the list you want to include in your query. Example: azure",
            "x-ms-summary": "Product"
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of one or more of the subjects we currently have available. The API does not support subject hierarchy, so add every subject to the list you want to include in your query. Example: cloud-computing",
            "x-ms-summary": "Subject"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetLearningContent",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://learn.microsoft.com/training/support/catalog-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ],
  "x-ms-openai-manifest": {
    "modelDescription": "This plugin can return information from the Microsoft Learn Catalog about all publicly available Modules, Units, Learning Paths, Applied Skills, Certifications, Exams, Instructor-Led Courses.",
    "humanName": "Microsoft Learn Catalog Plugin",
    "legalUrl": "https://learn.microsoft.com/en-us/legal/microsoft-apis/terms-of-use",
    "contactEmail": "sean.kelly@hcl.com"
  }
}