{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Learn Catalog",
    "description": "The Microsoft Learn Catalog allows you to send a web-based query to Microsoft Learn and get back details about all published Learn content, such as titles, products covered, levels, links to the training, and other metadata. You can then take this information and display it in your own site or learning management system (LMS) experience so that your users can access it just-in-time when doing a task or displayed side-by-side with other training content.",
    "version": "1.0",
    "contact": {
      "name": "Sean Kelly",
      "url": "https://microsoft-business-applications.hcltech.com/",
      "email": "sean.kelly@hcl.com"
    }
  },
  "host": "learn.microsoft.com",
  "basePath": "/api/catalog/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "Success. The body of the response includes the JSON-encoded data.",
            "schema": {
              "type": "object",
              "properties": {
                "modules": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "summary": {
                        "type": "string",
                        "description": "summary"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "roles"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "products"
                      },
                      "subjects": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "subjects"
                      },
                      "uid": {
                        "type": "string",
                        "description": "uid"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "duration_in_minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "duration_in_minutes"
                      },
                      "rating": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "count"
                          },
                          "average": {
                            "type": "number",
                            "format": "float",
                            "description": "average"
                          }
                        },
                        "description": "rating"
                      },
                      "popularity": {
                        "type": "number",
                        "format": "float",
                        "description": "popularity"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "icon_url"
                      },
                      "social_image_url": {
                        "type": "string",
                        "description": "social_image_url"
                      },
                      "locale": {
                        "type": "string",
                        "description": "locale"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "last_modified"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "firstUnitUrl": {
                        "type": "string",
                        "description": "firstUnitUrl"
                      },
                      "units": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "units"
                      },
                      "number_of_children": {
                        "type": "integer",
                        "format": "int32",
                        "description": "number_of_children"
                      }
                    }
                  },
                  "description": "modules"
                },
                "units": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "uid"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "duration_in_minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "duration_in_minutes"
                      },
                      "locale": {
                        "type": "string",
                        "description": "locale"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "last_modified"
                      }
                    }
                  },
                  "description": "units"
                },
                "learningPaths": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "summary": {
                        "type": "string",
                        "description": "summary"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "roles"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "products"
                      },
                      "subjects": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "subjects"
                      },
                      "uid": {
                        "type": "string",
                        "description": "uid"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "duration_in_minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "duration_in_minutes"
                      },
                      "rating": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "count"
                          }
                        },
                        "description": "rating"
                      },
                      "popularity": {
                        "type": "number",
                        "format": "float",
                        "description": "popularity"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "icon_url"
                      },
                      "social_image_url": {
                        "type": "string",
                        "description": "social_image_url"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "last_modified"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "firstModuleUrl": {
                        "type": "string",
                        "description": "firstModuleUrl"
                      },
                      "modules": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "modules"
                      },
                      "number_of_children": {
                        "type": "integer",
                        "format": "int32",
                        "description": "number_of_children"
                      }
                    }
                  },
                  "description": "learningPaths"
                },
                "certifications": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "uid"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "subtitle": {
                        "type": "string",
                        "description": "subtitle"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "icon_url"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "last_modified"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "certification_type": {
                        "type": "string",
                        "description": "certification_type"
                      },
                      "exams": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "exams"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "roles"
                      },
                      "study_guide": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "uid"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          }
                        },
                        "description": "study_guide"
                      }
                    }
                  },
                  "description": "certifications"
                },
                "exams": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "uid"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "subtitle": {
                        "type": "string",
                        "description": "subtitle"
                      },
                      "display_name": {
                        "type": "string",
                        "description": "display_name"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "icon_url"
                      },
                      "locales": {
                        "type": "array",
                        "items": {},
                        "description": "locales"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "last_modified"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "courses": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "courses"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "roles"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "products"
                      },
                      "providers": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "providerType": {
                              "type": "string",
                              "description": "providerType"
                            },
                            "examUrl": {
                              "type": "string",
                              "description": "examUrl"
                            }
                          }
                        },
                        "description": "providers"
                      },
                      "study_guide": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "uid"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          }
                        },
                        "description": "study_guide"
                      },
                      "pdf_download_url": {
                        "type": "string",
                        "description": "pdf_download_url"
                      }
                    }
                  },
                  "description": "exams"
                },
                "courses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uid": {
                        "type": "string",
                        "description": "uid"
                      },
                      "course_number": {
                        "type": "string",
                        "description": "course_number"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "summary": {
                        "type": "string",
                        "description": "summary"
                      },
                      "duration_in_hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "duration_in_hours"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "icon_url": {
                        "type": "string",
                        "description": "icon_url"
                      },
                      "locales": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "locales"
                      },
                      "last_modified": {
                        "type": "string",
                        "description": "last_modified"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "certification": {
                        "type": "string",
                        "description": "certification"
                      },
                      "exam": {
                        "type": "string",
                        "description": "exam"
                      },
                      "levels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "levels"
                      },
                      "roles": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "roles"
                      },
                      "products": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "products"
                      },
                      "study_guide": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "uid": {
                              "type": "string",
                              "description": "uid"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            }
                          }
                        },
                        "description": "study_guide"
                      }
                    }
                  },
                  "description": "courses"
                },
                "levels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "levels"
                },
                "products": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "children": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          }
                        },
                        "description": "children"
                      }
                    }
                  },
                  "description": "products"
                },
                "roles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "roles"
                },
                "subjects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "children": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          }
                        },
                        "description": "children"
                      }
                    }
                  },
                  "description": "subjects"
                }
              }
            }
          }
        },
        "summary": "Get Learning Content",
        "operationId": "GetLearningContent",
        "description": "This connector can return information from the Microsoft Learn Catalog about all publicly available Modules, Units, Learning Paths, Instructor-Led Courses, Exams, Certifications.",
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A single, valid locale code from the supported list of locales. The returned metadata will be in the requested locale if available. If this parameter isn't supplied, the en-us response will be returned. Example: en-us",
            "x-ms-summary": "Locale"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Type",
            "description": "A comma-separated list of one or more of the top-level content or taxonomies objects we currently provide in the response to return. Supported values are: modules, units, learningPaths, certifications, exams, courses, levels, roles, products, subjects. Example: modules,learningPaths"
          },
          {
            "name": "level",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of one or more of the levels we currently have available. Supported values are: beginner, intermediate, advanced. Example: beginner",
            "x-ms-summary": "Level"
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of one or more of the roles we currently have available. Example: developer",
            "x-ms-summary": "Role"
          },
          {
            "name": "product",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of one or more of the products we currently have available. The API does not support product hierarchy, so add every product to the list you want to include in your query. Example: azure",
            "x-ms-summary": "Product"
          },
          {
            "name": "uid",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of one or more valid content unique IDs (uid) from the available content types. Note: uids are case-sensitive. Example: learn.azure.intro-to-azure-fundamentals",
            "x-ms-summary": "UID"
          },
          {
            "name": "last_modified",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An operator and datetime to filter by the last modified date of objects. Operator includes lt (less than), lte (less than or equal to), eq (equal to), gt (greater than), gte (greater than or equal to). When you use this parameter, the operator will default to gte if not specified. Example: gte 2022-01-01",
            "x-ms-summary": "Last Modified"
          },
          {
            "name": "popularity",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An operator and value to filter by the popularity value (in a range of 0-1) of objects. Operator includes lt (less than), lte (less than or equal to), eq (equal to), gt (greater than), gte (greater than or equal to). When you use this parameter, the operator will default to gte if not specified. Example: gte 0.5",
            "x-ms-summary": "Popularity"
          },
          {
            "name": "subject",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma-separated list of one or more of the subjects we currently have available. The API does not support subject hierarchy, so add every subject to the list you want to include in your query. Example: cloud-computing",
            "x-ms-summary": "Subject"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://learn.microsoft.com/training/support/catalog-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website"
    }
  ]
}