{
  "swagger": "2.0",
  "info": {
    "title": "CSV Converter by Power2Apps",
    "description": "Converts between all common tabular (CSV, Excel, HTML table) and hierarchical (JSON, XML, YAML) data formats. The main action auto-detects the input and returns all supported formats in one step. Additional actions enable targeted conversions with advanced options. Supports flexible, reliable bidirectional format conversion for automation scenarios.",
    "contact": {
      "name": "Power2Apps Support",
      "url": "https://www.power2apps.de/en/contact",
      "email": "getintouch@power2apps.de"
    },
    "version": "1.0.0"
  },
  "host": "converterbypower2appswebapi.orangemoss-ec8ae189.germanywestcentral.azurecontainerapps.io",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/T01_Csv/V01/GetConversionFormats": {
      "get": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "GetConversionFormats",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DtoListOption"
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get List of Conversion Formats",
        "description": "Returns supported conversion formats"
      }
    },
    "/api/T01_Csv/V01/GetSeparators": {
      "get": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "GetSeparators",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListOption"
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get list of Separators",
        "description": "Returns list of separators"
      }
    },
    "/api/T01_Csv/V01/GetDetectionAccuracies": {
      "get": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "GetDetectionAccuracies",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ListOption"
              }
            }
          }
        },
        "x-ms-visibility": "internal",
        "summary": "Get list of Detection Accuracies",
        "description": "Returns list of Detection Accuracies"
      }
    },
    "/api/T01_Csv/V01/T01_A000_AV01_CV01_ConvertAllFormats": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A000_AV01_CV01_ConvertAllFormats",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A000_AV01_CV01_ConvertAllFormats",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A000_AV01_CV01_ConvertAllFormats"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A000_AV01_CV01_ConvertAllFormats"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Auto-Detect Format Converter",
        "description": "Convert data between multiple formats including CSV, JSON, HTML, Excel, XML, and YAML with a single powerful action - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A001_AV01_CV01_ConvertCsvToJson": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A001_AV01_CV01_ConvertCsvToJson",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A001_AV01_CV01_ConvertCsvToJson",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A001_AV01_CV01_ConvertCsvToJson"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A001_AV01_CV01_ConvertCsvToJson"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert CSV to JSON",
        "description": "Convert a CSV to a JSON - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A002_AV01_CV01_ConvertJsonToCsv": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A002_AV01_CV01_ConvertJsonToCsv",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A002_AV01_CV01_ConvertJsonToCsv",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A002_AV01_CV01_ConvertJsonToCsv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A002_AV01_CV01_ConvertJsonToCsv"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert JSON to CSV",
        "description": "Convert a JSON to a CSV - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A003_AV01_CV01_ConvertCsvToExcel": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A003_AV01_CV01_ConvertCsvToExcel",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A003_AV01_CV01_ConvertCsvToExcel",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A003_AV01_CV01_ConvertCsvlToExcel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A003_AV01_CV01_ConvertCsvToExcel"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert CSV to Excel",
        "description": "Convert a CSV to a Excel file - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A004_AV01_CV01_ConvertExcelToCsv": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A004_AV01_CV01_ConvertExcelToCsv",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A004_AV01_CV01_ConvertExcelToCsv",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A004_AV01_CV01_ConvertExcelToCsv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A004_AV01_CV01_ConvertExcelToCsv"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert Excel to CSV",
        "description": "Convert a Excel file to a CSV - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A005_AV01_CV01_ConvertCsvToHtml": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A005_AV01_CV01_ConvertCsvToHtml",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A005_AV01_CV01_ConvertCsvToHtml",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A005_AV01_CV01_ConvertCsvToHtml"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A005_AV01_CV01_ConvertCsvToHtml"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert CSV to HTML Table",
        "description": "Convert a CSV to a HTML table - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A006_AV01_CV01_ConvertHtmlToCsv": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A006_AV01_CV01_ConvertHtmlToCsv",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A006_AV01_CV01_ConvertHtmlToCsv",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A006_AV01_CV01_ConvertHtmlToCsv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A006_AV01_CV01_ConvertHtmlToCsv"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert HTML Table to CSV",
        "description": "Convert a HTML table to a CSV - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A007_AV01_CV01_ConvertCsvToXml": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A007_AV01_CV01_ConvertCsvToXml",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A007_AV01_CV01_ConvertCsvToXml",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A007_AV01_CV01_ConvertCsvToXml"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A007_AV01_CV01_ConvertCsvToXml"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert CSV to XML",
        "description": "Convert a CSV to a XML - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A008_AV01_CV01_ConvertXmlToCsv": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A008_AV01_CV01_ConvertXmlToCsv",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A008_AV01_CV01_ConvertXmlToCsv",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A008_AV01_CV01_ConvertXmlToCsv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A008_AV01_CV01_ConvertXmlToCsv"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert XML to CSV",
        "description": "Convert a XML to a CSV - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A009_AV01_CV01_ConvertCsvToYaml": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A009_AV01_CV01_ConvertCsvToYaml",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A009_AV01_CV01_ConvertCsvToYaml",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A009_AV01_CV01_ConvertCsvToYaml"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A009_AV01_CV01_ConvertCsvToYaml"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert CSV to YAML",
        "description": "Convert a CSV to a YAML - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A010_AV01_CV01_ConvertYamlToCsv": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A010_AV01_CV01_ConvertYamlToCsv",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A010_AV01_CV01_ConvertYamlToCsv",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A010_AV01_CV01_ConvertYamlToCsv"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A010_AV01_CV01_ConvertYamlToCsv"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert YAML to CSV",
        "description": "Convert a YAML to a CSV - https://converter.power2apps.com"
      }
    },
    "/api/T01_Csv/V01/T01_A011_AV01_CV01_ConvertCsvToTextTable": {
      "post": {
        "tags": [
          "T01_CsvController_V01"
        ],
        "operationId": "T01_A011_AV01_CV01_ConvertCsvToTextTable",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dtoRequestT01_A011_AV01_CV01_ConvertCsvToTextTable",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DtoRequestT01_A011_AV01_CV01_ConvertCsvToTextTable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DtoResponseT01_A011_AV01_CV01_ConvertCsvToTextTable"
            }
          }
        },
        "x-ms-visibility": "important",
        "summary": "Convert CSV to Text Table",
        "description": "Convert a CSV to a Text Table - https://converter.power2apps.com"
      }
    }
  },
  "definitions": {
    "DtoListOption": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A000_AV01_CV01_ConvertAllFormats": {
      "required": [
        "inputData"
      ],
      "type": "object",
      "properties": {
        "inputData": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Input Data",
          "description": "Input data to be converted"
        },
        "inputFormat": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Input Format",
          "description": "Input Format. Default: Auto-detect.",
          "x-ms-dynamic-values": {
            "operationId": "GetConversionFormats",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "outputFormat": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Output Formats",
          "description": "Limit output formats to improve performance. E.g. 'CSV, JSON, Excel'. Blank = all"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A001_AV01_CV01_ConvertCsvToJson": {
      "required": [
        "csv"
      ],
      "type": "object",
      "properties": {
        "csv": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV",
          "description": "CSV"
        },
        "delimiter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Separator",
          "description": "Field separator (delimiter). Default = 'Auto-detect separator'",
          "x-ms-dynamic-values": {
            "operationId": "GetSeparators",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "mayHaveQuotedFields": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Quote Delimiter?",
          "description": "Auto-detect quote delimiter?"
        },
        "hasHeader": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "CSV has Headers?",
          "description": "CSV has headers?"
        },
        "autoDetectHeaderLine": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Header?",
          "description": "Automatically detect the header line based on content. Default = true"
        },
        "headerLineIndex": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Header Row Index",
          "description": "Use specific row index as header. Ignored if Auto-detect is true. Default = 0"
        },
        "autoDiscoverFieldTypes": {
          "default": false,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Field Types?",
          "description": "Auto-detect field types?"
        },
        "detectionAccuracy": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Detection Accuracy",
          "description": "Scans rows to detect headers and formats — more rows improve accuracy. Default = 'Fast'",
          "x-ms-dynamic-values": {
            "operationId": "GetDetectionAccuracies",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "nullValue": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Null Value",
          "description": "Treats this value (e.g. '-', 'N/A') as null (if Auto-detect field type is true). Default = empty"
        },
        "skipRows": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rows to skip",
          "description": "Skip a range or specific rows e.g.: '2-5', '2', '2,4'."
        },
        "skipLast": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Stop at Row",
          "description": "Stop at a specific row number. Default = convert all rows"
        },
        "ignoreEmptyLine": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Empty Rows?",
          "description": "Remove empty rows"
        },
        "quoteCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Quote Character",
          "description": "Character used to quote values. Default = '\"'"
        },
        "escapeCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Escape Character",
          "description": "Character used to escape special characters. Default = '\\'"
        },
        "autoDetectWrappedLines": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Wrapped Lines?",
          "description": "Try to detect and unwrap multi-line values. Default = true"
        },
        "columnRenames": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rename Columns",
          "description": "Use 'Old=New' pairs, separated by ';'. Example: OrderID=ID;Total=Amount"
        },
        "columnsToInclude": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Include Columns",
          "description": "Comma-separated list of columns to include e.g.: OrderID,Total. Empty = all"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A002_AV01_CV01_ConvertJsonToCsv": {
      "required": [
        "json"
      ],
      "type": "object",
      "properties": {
        "json": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "JSON",
          "description": "JSON"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A003_AV01_CV01_ConvertCsvlToExcel": {
      "required": [
        "csv"
      ],
      "type": "object",
      "properties": {
        "csv": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV",
          "description": "CSV"
        },
        "delimiter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Separator",
          "description": "Field separator (delimiter). Default = 'Auto-detect separator'",
          "x-ms-dynamic-values": {
            "operationId": "GetSeparators",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "mayHaveQuotedFields": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Quote Delimiter?",
          "description": "Auto-detect quote delimiter?"
        },
        "hasHeader": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "CSV has Headers?",
          "description": "CSV has headers?"
        },
        "autoDetectHeaderLine": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Header?",
          "description": "Automatically detect the header line based on content. Default = true"
        },
        "headerLineIndex": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Header Row Index",
          "description": "Use specific row index as header. Ignored if Auto-detect is true. Default = 0"
        },
        "autoDiscoverFieldTypes": {
          "default": false,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Field Types?",
          "description": "Auto-detect field types?"
        },
        "detectionAccuracy": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Detection Accuracy",
          "description": "Scans rows to detect headers and formats — more rows improve accuracy. Default = 'Fast'",
          "x-ms-dynamic-values": {
            "operationId": "GetDetectionAccuracies",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "nullValue": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Null Value",
          "description": "Treats this value (e.g. '-', 'N/A') as null (if Auto-detect field type is true). Default = empty"
        },
        "skipRows": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rows to skip",
          "description": "Skip a range or specific rows e.g.: '2-5', '2', '2,4'."
        },
        "skipLast": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Stop at Row",
          "description": "Stop at a specific row number. Default = convert all rows"
        },
        "ignoreEmptyLine": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Empty Rows?",
          "description": "Remove empty rows"
        },
        "quoteCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Quote Character",
          "description": "Character used to quote values. Default = '\"'"
        },
        "escapeCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Escape Character",
          "description": "Character used to escape special characters. Default = '\\'"
        },
        "autoDetectWrappedLines": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Wrapped Lines?",
          "description": "Try to detect and unwrap multi-line values. Default = true"
        },
        "columnRenames": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rename Columns",
          "description": "Use 'Old=New' pairs, separated by ';'. Example: OrderID=ID;Total=Amount"
        },
        "columnsToInclude": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Include Columns",
          "description": "Comma-separated list of columns to include e.g.: OrderID,Total. Empty = all"
        },
        "adjustColumnToContent": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Adjust Excel Column to Content",
          "description": "Adjust Excel column to content."
        },
        "wrapColumnText": {
          "default": false,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Wrap Excel Column Text",
          "description": "Wrap Excel text of column."
        },
        "maxColumnWidth": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Max Excel Column Width",
          "description": "Maximum of Excel column width. Default = 15"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A004_AV01_CV01_ConvertExcelToCsv": {
      "required": [
        "excel"
      ],
      "type": "object",
      "properties": {
        "excel": {
          "format": "byte",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Excel file",
          "description": "Excel file"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A005_AV01_CV01_ConvertCsvToHtml": {
      "required": [
        "csv"
      ],
      "type": "object",
      "properties": {
        "csv": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV",
          "description": "CSV"
        },
        "delimiter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Separator",
          "description": "Field separator (delimiter). Default = 'Auto-detect separator'",
          "x-ms-dynamic-values": {
            "operationId": "GetSeparators",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "mayHaveQuotedFields": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Quote Delimiter?",
          "description": "Auto-detect quote delimiter?"
        },
        "hasHeader": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "CSV has Headers?",
          "description": "CSV has headers?"
        },
        "autoDetectHeaderLine": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Header?",
          "description": "Automatically detect the header line based on content. Default = true"
        },
        "headerLineIndex": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Header Row Index",
          "description": "Use specific row index as header. Ignored if Auto-detect is true. Default = 0"
        },
        "autoDiscoverFieldTypes": {
          "default": false,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Field Types?",
          "description": "Auto-detect field types?"
        },
        "detectionAccuracy": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Detection Accuracy",
          "description": "Scans rows to detect headers and formats — more rows improve accuracy. Default = 'Fast'",
          "x-ms-dynamic-values": {
            "operationId": "GetDetectionAccuracies",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "nullValue": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Null Value",
          "description": "Treats this value (e.g. '-', 'N/A') as null (if Auto-detect field type is true). Default = empty"
        },
        "skipRows": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rows to skip",
          "description": "Skip a range or specific rows e.g.: '2-5', '2', '2,4'."
        },
        "skipLast": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Stop at Row",
          "description": "Stop at a specific row number. Default = convert all rows"
        },
        "ignoreEmptyLine": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Empty Rows?",
          "description": "Remove empty rows"
        },
        "quoteCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Quote Character",
          "description": "Character used to quote values. Default = '\"'"
        },
        "escapeCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Escape Character",
          "description": "Character used to escape special characters. Default = '\\'"
        },
        "autoDetectWrappedLines": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Wrapped Lines?",
          "description": "Try to detect and unwrap multi-line values. Default = true"
        },
        "columnRenames": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rename Columns",
          "description": "Use 'Old=New' pairs, separated by ';'. Example: OrderID=ID;Total=Amount"
        },
        "columnsToInclude": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Include Columns",
          "description": "Comma-separated list of columns to include e.g.: OrderID,Total. Empty = all"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A006_AV01_CV01_ConvertHtmlToCsv": {
      "required": [
        "html"
      ],
      "type": "object",
      "properties": {
        "html": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "HTML table",
          "description": "HTML table"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A007_AV01_CV01_ConvertCsvToXml": {
      "required": [
        "csv"
      ],
      "type": "object",
      "properties": {
        "csv": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV",
          "description": "CSV"
        },
        "delimiter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Separator",
          "description": "Field separator (delimiter). Default = 'Auto-detect separator'",
          "x-ms-dynamic-values": {
            "operationId": "GetSeparators",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "mayHaveQuotedFields": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Quote Delimiter?",
          "description": "Auto-detect quote delimiter?"
        },
        "hasHeader": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "CSV has Headers?",
          "description": "CSV has headers?"
        },
        "autoDetectHeaderLine": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Header?",
          "description": "Automatically detect the header line based on content. Default = true"
        },
        "headerLineIndex": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Header Row Index",
          "description": "Use specific row index as header. Ignored if Auto-detect is true. Default = 0"
        },
        "autoDiscoverFieldTypes": {
          "default": false,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Field Types?",
          "description": "Auto-detect field types?"
        },
        "detectionAccuracy": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Detection Accuracy",
          "description": "Scans rows to detect headers and formats — more rows improve accuracy. Default = 'Fast'",
          "x-ms-dynamic-values": {
            "operationId": "GetDetectionAccuracies",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "nullValue": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Null Value",
          "description": "Treats this value (e.g. '-', 'N/A') as null (if Auto-detect field type is true). Default = empty"
        },
        "skipRows": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rows to skip",
          "description": "Skip a range or specific rows e.g.: '2-5', '2', '2,4'."
        },
        "skipLast": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Stop at Row",
          "description": "Stop at a specific row number. Default = convert all rows"
        },
        "ignoreEmptyLine": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Empty Rows?",
          "description": "Remove empty rows"
        },
        "quoteCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Quote Character",
          "description": "Character used to quote values. Default = '\"'"
        },
        "escapeCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Escape Character",
          "description": "Character used to escape special characters. Default = '\\'"
        },
        "autoDetectWrappedLines": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Wrapped Lines?",
          "description": "Try to detect and unwrap multi-line values. Default = true"
        },
        "columnRenames": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rename Columns",
          "description": "Use 'Old=New' pairs, separated by ';'. Example: OrderID=ID;Total=Amount"
        },
        "columnsToInclude": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Include Columns",
          "description": "Comma-separated list of columns to include e.g.: OrderID,Total. Empty = all"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A008_AV01_CV01_ConvertXmlToCsv": {
      "required": [
        "xml"
      ],
      "type": "object",
      "properties": {
        "xml": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "XML",
          "description": "XML"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A009_AV01_CV01_ConvertCsvToYaml": {
      "required": [
        "csv"
      ],
      "type": "object",
      "properties": {
        "csv": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV",
          "description": "CSV"
        },
        "delimiter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Separator",
          "description": "Field separator (delimiter). Default = 'Auto-detect separator'",
          "x-ms-dynamic-values": {
            "operationId": "GetSeparators",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "mayHaveQuotedFields": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Quote Delimiter?",
          "description": "Auto-detect quote delimiter?"
        },
        "hasHeader": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "CSV has Headers?",
          "description": "CSV has headers?"
        },
        "autoDetectHeaderLine": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Header?",
          "description": "Automatically detect the header line based on content. Default = true"
        },
        "headerLineIndex": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Header Row Index",
          "description": "Use specific row index as header. Ignored if Auto-detect is true. Default = 0"
        },
        "autoDiscoverFieldTypes": {
          "default": false,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Field Types?",
          "description": "Auto-detect field types?"
        },
        "detectionAccuracy": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Detection Accuracy",
          "description": "Scans rows to detect headers and formats — more rows improve accuracy. Default = 'Fast'",
          "x-ms-dynamic-values": {
            "operationId": "GetDetectionAccuracies",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "nullValue": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Null Value",
          "description": "Treats this value (e.g. '-', 'N/A') as null (if Auto-detect field type is true). Default = empty"
        },
        "skipRows": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rows to skip",
          "description": "Skip a range or specific rows e.g.: '2-5', '2', '2,4'."
        },
        "skipLast": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Stop at Row",
          "description": "Stop at a specific row number. Default = convert all rows"
        },
        "ignoreEmptyLine": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Empty Rows?",
          "description": "Remove empty rows"
        },
        "quoteCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Quote Character",
          "description": "Character used to quote values. Default = '\"'"
        },
        "escapeCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Escape Character",
          "description": "Character used to escape special characters. Default = '\\'"
        },
        "autoDetectWrappedLines": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Wrapped Lines?",
          "description": "Try to detect and unwrap multi-line values. Default = true"
        },
        "columnRenames": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rename Columns",
          "description": "Use 'Old=New' pairs, separated by ';'. Example: OrderID=ID;Total=Amount"
        },
        "columnsToInclude": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Include Columns",
          "description": "Comma-separated list of columns to include e.g.: OrderID,Total. Empty = all"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A010_AV01_CV01_ConvertYamlToCsv": {
      "required": [
        "yaml"
      ],
      "type": "object",
      "properties": {
        "yaml": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "YAML",
          "description": "YAML"
        }
      },
      "additionalProperties": false
    },
    "DtoRequestT01_A011_AV01_CV01_ConvertCsvToTextTable": {
      "required": [
        "csv"
      ],
      "type": "object",
      "properties": {
        "csv": {
          "minLength": 1,
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV",
          "description": "CSV"
        },
        "delimiter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Separator",
          "description": "Field separator (delimiter). Default = 'Auto-detect separator'",
          "x-ms-dynamic-values": {
            "operationId": "GetSeparators",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "mayHaveQuotedFields": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Quote Delimiter?",
          "description": "Auto-detect quote delimiter?"
        },
        "hasHeader": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "CSV has Headers?",
          "description": "CSV has headers?"
        },
        "autoDetectHeaderLine": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Header?",
          "description": "Automatically detect the header line based on content. Default = true"
        },
        "headerLineIndex": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Header Row Index",
          "description": "Use specific row index as header. Ignored if Auto-detect is true. Default = 0"
        },
        "autoDiscoverFieldTypes": {
          "default": false,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Field Types?",
          "description": "Auto-detect field types?"
        },
        "detectionAccuracy": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Detection Accuracy",
          "description": "Scans rows to detect headers and formats — more rows improve accuracy. Default = 'Fast'",
          "x-ms-dynamic-values": {
            "operationId": "GetDetectionAccuracies",
            "value-path": "name",
            "value-title": "name",
            "parameters": {}
          }
        },
        "nullValue": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Null Value",
          "description": "Treats this value (e.g. '-', 'N/A') as null (if Auto-detect field type is true). Default = empty"
        },
        "skipRows": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rows to skip",
          "description": "Skip a range or specific rows e.g.: '2-5', '2', '2,4'."
        },
        "skipLast": {
          "format": "int32",
          "type": "integer",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Stop at Row",
          "description": "Stop at a specific row number. Default = convert all rows"
        },
        "ignoreEmptyLine": {
          "default": true,
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Remove Empty Rows?",
          "description": "Remove empty rows"
        },
        "quoteCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Quote Character",
          "description": "Character used to quote values. Default = '\"'"
        },
        "escapeCharacter": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Escape Character",
          "description": "Character used to escape special characters. Default = '\\'"
        },
        "autoDetectWrappedLines": {
          "type": "boolean",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Auto-detect Wrapped Lines?",
          "description": "Try to detect and unwrap multi-line values. Default = true"
        },
        "columnRenames": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Rename Columns",
          "description": "Use 'Old=New' pairs, separated by ';'. Example: OrderID=ID;Total=Amount"
        },
        "columnsToInclude": {
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Include Columns",
          "description": "Comma-separated list of columns to include e.g.: OrderID,Total. Empty = all"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A000_AV01_CV01_ConvertAllFormats": {
      "type": "object",
      "properties": {
        "detectedFormat": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Detected Format",
          "description": "Detected Format"
        },
        "json": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "JSON result",
          "description": "JSON result"
        },
        "xml": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "XML result",
          "description": "XML result"
        },
        "yaml": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "YAML result",
          "description": "YAML result"
        },
        "firstCsv": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "First CSV result",
          "description": "First CSV result"
        },
        "csv": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV result",
          "description": "CSV result"
        },
        "firstHtmlTable": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "First HTML-Table result",
          "description": "First HTML-table result"
        },
        "htmlTable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "HTML result",
          "description": "HTML result"
        },
        "firstTextTable": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "First Text-Table result",
          "description": "First Text-table result"
        },
        "textTable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "Text-Table result",
          "description": "Text-table result"
        },
        "excel": {
          "format": "byte",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Excel result",
          "description": "Excel result"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A001_AV01_CV01_ConvertCsvToJson": {
      "type": "object",
      "properties": {
        "json": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "JSON response",
          "description": "JSON response"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A002_AV01_CV01_ConvertJsonToCsv": {
      "type": "object",
      "properties": {
        "csvs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV table list",
          "description": "CSV table list"
        },
        "firstCsv": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "First CSV table",
          "description": "First CSV table"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A003_AV01_CV01_ConvertCsvToExcel": {
      "type": "object",
      "properties": {
        "excel": {
          "format": "byte",
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "Excel response",
          "description": "Excel response"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A004_AV01_CV01_ConvertExcelToCsv": {
      "type": "object",
      "properties": {
        "csvs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV table list",
          "description": "CSV table list"
        },
        "firstCsv": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "First CSV table",
          "description": "First CSV table"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A005_AV01_CV01_ConvertCsvToHtml": {
      "type": "object",
      "properties": {
        "html": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "HTML response",
          "description": "HTML response"
        },
        "htmlTables": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "HTML table list",
          "description": "HTML table list"
        },
        "firstHtmlTable": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "First HTML table",
          "description": "First HTML table"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A006_AV01_CV01_ConvertHtmlToCsv": {
      "type": "object",
      "properties": {
        "csvs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV table list",
          "description": "CSV table list"
        },
        "firstCsv": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "First CSV table",
          "description": "First CSV table"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A007_AV01_CV01_ConvertCsvToXml": {
      "type": "object",
      "properties": {
        "xml": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "XML response",
          "description": "XML response"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A008_AV01_CV01_ConvertXmlToCsv": {
      "type": "object",
      "properties": {
        "csvs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV table list",
          "description": "CSV table list"
        },
        "firstCsv": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "First CSV table",
          "description": "First CSV table"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A009_AV01_CV01_ConvertCsvToYaml": {
      "type": "object",
      "properties": {
        "yaml": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "YAML response",
          "description": "YAML response"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A010_AV01_CV01_ConvertYamlToCsv": {
      "type": "object",
      "properties": {
        "csvs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "CSV table list",
          "description": "CSV table list"
        },
        "firstCsv": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "First CSV table",
          "description": "First CSV table"
        }
      },
      "additionalProperties": false
    },
    "DtoResponseT01_A011_AV01_CV01_ConvertCsvToTextTable": {
      "type": "object",
      "properties": {
        "textTables": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-visibility": "important",
          "x-ms-summary": "Text table list",
          "description": "Text table list"
        },
        "firstTextTable": {
          "type": "string",
          "x-ms-visibility": "important",
          "x-ms-summary": "First Text table",
          "description": "First Text table"
        }
      },
      "additionalProperties": false
    },
    "ListOption": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "additionalProperties": false
    }
  },
  "securityDefinitions": {
    "ApiKey": {
      "type": "apiKey",
      "name": "ApiKey",
      "in": "header",
      "description": "ApiKey Authorization header"
    }
  },
  "security": [
    {
      "ApiKey": []
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.power2apps.de/en"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.power2apps.de/en/converterprivacypolicy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Data"
    }
  ]
}