{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Clockify",
    "contact": {
      "email": "adrian@strategik.com.au",
      "name": "Dr Adrian Colquhoun (Strategik)",
      "url": "https://www.linkedin.com/in/adriancolquhoun/"
    },
    "description": "Clockify is a popular, easy to use, free time tracking software solution (http://clockify.me). This connector helps to connect to your Clockify to the Power Platform so you can pull data like Workspaces, Project, Tasks, TimeEntries etc."
  },
  "host": "api.clockify.me",
  "basePath": "/api",
  "schemes": ["https"],
  "consumes": [],
  "produces": ["application/json"],
  "paths": {
    "/workspaces": {
      "get": {
        "summary": "List Workspaces",
        "description": "Retrieves all the workspaces visible in your Clockify account using the api key provided.",
        "operationId": "GetWorkspaces",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ListWorkspaces",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Id"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Name"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/clients": {
      "get": {
        "summary": "List Clients",
        "description": "List Clients",
        "operationId": "GetClients",
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          },
          {
            "description": "Set to true to only return archived clients Returns active clients when false.",
            "in": "query",
            "name": "archived",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Archived",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "x-ms-summary": "Id"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "archived": {
                  "type": "boolean",
                  "x-ms-summary": "archived"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/clients/projects-filter": {
      "get": {
        "summary": "List Projects",
        "description": "List Projects",
        "operationId": "GetProjects",
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Id"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Name"
                  },
                  "hourlyRate": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer"
                      },
                      "currency": {
                        "type": "string"
                      }
                    }
                  },
                  "costRate": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer"
                      },
                      "currency": {
                        "type": "string"
                      }
                    }
                  },
                  "memberships": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string"
                        },
                        "targetId": {
                          "type": "string"
                        },
                        "membershipType": {
                          "type": "string"
                        },
                        "membershipStatus": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "workspaceSettings": {
                    "type": "object",
                    "properties": {
                      "timeRoundingInReports": {
                        "type": "boolean"
                      },
                      "onlyAdminsSeeBillableRates": {
                        "type": "boolean"
                      },
                      "activeBillableHours": {
                        "type": "boolean"
                      },
                      "onlyAdminsCanChangeBillableStatus": {
                        "type": "boolean"
                      },
                      "onlyAdminsCreateProject": {
                        "type": "boolean"
                      },
                      "onlyAdminsSeeDashboard": {
                        "type": "boolean"
                      },
                      "defaultBillableProjects": {
                        "type": "boolean"
                      },
                      "isProjectPublicByDefault": {
                        "type": "boolean"
                      },
                      "round": {
                        "type": "object",
                        "properties": {
                          "round": {
                            "type": "string"
                          },
                          "minutes": {
                            "type": "string"
                          }
                        }
                      },
                      "projectFavorites": {
                        "type": "boolean"
                      },
                      "canSeeTimeSheet": {
                        "type": "boolean"
                      },
                      "canSeeTracker": {
                        "type": "boolean"
                      },
                      "projectPickerSpecialFilter": {
                        "type": "boolean"
                      },
                      "forceProjects": {
                        "type": "boolean"
                      },
                      "forceTasks": {
                        "type": "boolean"
                      },
                      "forceTags": {
                        "type": "boolean"
                      },
                      "forceDescription": {
                        "type": "boolean"
                      },
                      "onlyAdminsSeeAllTimeEntries": {
                        "type": "boolean"
                      },
                      "onlyAdminsSeePublicProjectsEntries": {
                        "type": "boolean"
                      },
                      "onlyAdminsSeeProjectStatus": {
                        "type": "boolean"
                      },
                      "trackTimeDownToSecond": {
                        "type": "boolean"
                      },
                      "projectGroupingLabel": {
                        "type": "string"
                      },
                      "onlyAdminsCreateTag": {
                        "type": "boolean"
                      },
                      "isCostRateActive": {
                        "type": "boolean"
                      },
                      "timeApprovalEnabled": {
                        "type": "boolean"
                      },
                      "screenshotsEnabled": {
                        "type": "boolean"
                      },
                      "locationsEnabled": {
                        "type": "boolean"
                      },
                      "onlyAdminsCreateTask": {
                        "type": "boolean"
                      },
                      "timeTrackingMode": {
                        "type": "string"
                      },
                      "taskBillableEnabled": {
                        "type": "boolean"
                      },
                      "taskRateEnabled": {
                        "type": "boolean"
                      },
                      "invoicingEnabled": {
                        "type": "boolean"
                      },
                      "expensesEnabled": {
                        "type": "boolean"
                      },
                      "companyAddress": {
                        "type": "string"
                      },
                      "decimalFormat": {
                        "type": "boolean"
                      },
                      "canManagerEditUsersTime": {
                        "type": "boolean"
                      },
                      "workingDays": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "timeOff": {
                        "type": "object",
                        "properties": {
                          "regularUserCanSeeOtherUsersTimeOff": {
                            "type": "boolean"
                          },
                          "active": {
                            "type": "boolean"
                          }
                        }
                      },
                      "pumbleIntegrationSettings": {
                        "type": "object",
                        "properties": {
                          "showChatWidget": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "imageUrl": {
                    "type": "string",
                    "x-ms-summary": ""
                  },
                  "onSubdomain": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/users": {
      "get": {
        "summary": "List All Users in Workspace",
        "description": "Retreives All Users in Workspace returns all the active users in the selected Clockify workspace. ",
        "operationId": "GetAllUsers",
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          },
          {
            "description": "email",
            "in": "query",
            "name": "email",
            "required": false,
            "type": "string",
            "x-ms-summary": "Email",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "projectid",
            "in": "query",
            "name": "projectid",
            "required": false,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "name",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "status",
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string",
            "x-ms-summary": "Status",
            "enum": ["PENDING", "ACTIVE", "DECLINED", "INACTIVE"],
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "UserList",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": ""
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": ""
                  },
                  "email": {
                    "type": "string",
                    "x-ms-summary": ""
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/timeEntries/user/{user_id}": {
      "get": {
        "summary": "List User Time Entries",
        "description": "List User Time Entries",
        "operationId": "GetTimeEntriesForUser",
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Time entries that started after the specified datetime. Datetime must be in ISO-8601 format (eg. 2019-04-16T05:15:32.998Z). You send time according to your account's timezone (from Profile Settings) and get response with time in UTC.",
            "type": "string",
            "required": false,
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Time entries that ended after the specified datetime. Datetime must be in ISO-8601 format (eg. 2019-04-16T05:15:32.998Z). You send time according to your account's timezone (from Profile Settings) and get response with time in UTC.",
            "type": "string",
            "required": false,
            "x-ms-summary": "End",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Time entries will be filtered by project.",
            "type": "string",
            "required": false,
            "x-ms-summary": "Project",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "task",
            "in": "query",
            "description": "Time entries will be filtered by task.",
            "type": "string",
            "required": false,
            "x-ms-summary": "Task",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "user_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "description": "User ID",
            "type": "string",
            "required": true,
            "x-ms-summary": "User Id",
            "x-ms-dynamic-values": {
              "operationId": "GetAllUsers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "workspace_id": {
                  "parameter": "workspace_id"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetAllUsers",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "workspace_id": {
                  "parameterReference": "workspace_id"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time entries list",
            "schema": {
              "type": "object",
              "properties": {
                "timeEntriesList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "x-ms-summary": "Time Entry Id"
                      },
                      "description": {
                        "type": "string",
                        "x-ms-summary": "Description"
                      },
                      "projectId": {
                        "type": "string",
                        "x-ms-summary": "Project Id"
                      },
                      "taskId": {
                        "type": "string",
                        "x-ms-summary": "Task Id"
                      },
                      "workspaceId": {
                        "type": "string",
                        "x-ms-summary": "Workspace Id"
                      },
                      "timeInterval": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "string",
                            "x-ms-summary": "Duration",
                            "description": "The duration of this timesheet entry."
                          },
                          "end": {
                            "type": "string",
                            "x-ms-summary": "End Time"
                          },
                          "start": {
                            "type": "string",
                            "x-ms-summary": "Start Time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {
    "WorkspaceParamForPath": {
      "name": "workspace_id",
      "in": "path",
      "x-ms-url-encoding": "single",
      "description": "Workspace ID",
      "type": "string",
      "required": true,
      "x-ms-summary": "Workspace Id",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "operationId": "GetWorkspaces",
        "value-path": "id",
        "value-title": "name"
      }
    }
  },
  "responses": {},
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.Clockify.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.Clockify.com/website/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Data"
    }
  ],
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}
