{
  "swagger": "2.0",
  "info": {
    "version": "1.1.1",
    "title": "Clockify",
    "contact": {
      "email": "adrian@strategik.com.au",
      "name": "Dr Adrian Colquhoun (Strategik)",
      "url": "https://www.linkedin.com/in/adriancolquhoun/"
    },
    "description": "Clockify is a popular, easy to use, free time tracking software solution. This connector helps to connect your Clockify account to the Power Platform so you can pull data like Workspaces, Projects, Tasks and TimeEntries."
  },
  "host": "api.clockify.me",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/workspaces/{workspace_id}/users": {
      "get": {
        "summary": "List All Users in Workspace (deprecated)",
        "description": "Retreives All Users in Workspace returns all the active users in the selected Clockify workspace. ",
        "operationId": "GetAllUsers",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "GetAllUsers",
          "revision": 0
        },
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          },
          {
            "description": "email",
            "in": "query",
            "name": "email",
            "required": false,
            "type": "string",
            "x-ms-summary": "Email",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "projectid",
            "in": "query",
            "name": "projectid",
            "required": false,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "name",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "status",
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string",
            "x-ms-summary": "Status",
            "enum": [
              "PENDING",
              "ACTIVE",
              "DECLINED",
              "INACTIVE"
            ],
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "UserList",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "User Id"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Name"
                  },
                  "email": {
                    "type": "string",
                    "x-ms-summary": "Email"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/users": {
      "get": {
        "summary": "List All Users in Workspace",
        "description": "Retreives All Users in Workspace returns all the active users in the selected Clockify workspace. ",
        "operationId": "GetAllUsers_v1",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "GetAllUsers",
          "revision": 1
        },
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          },
          {
            "description": "Email",
            "in": "query",
            "name": "email",
            "required": false,
            "type": "string",
            "x-ms-summary": "Email",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Project Id",
            "in": "query",
            "name": "project-id",
            "required": false,
            "type": "string",
            "x-ms-summary": "Project Id",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Name",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string",
            "x-ms-summary": "Name",
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Status",
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string",
            "x-ms-summary": "Status",
            "enum": [
              "PENDING",
              "ACTIVE",
              "DECLINED",
              "INACTIVE"
            ],
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Page number",
            "x-ms-summary": "Page number",
            "type": "integer",
            "in": "query",
            "name": "page",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Page size max allowed 50",
            "x-ms-summary": "Page size",
            "type": "integer",
            "in": "query",
            "name": "page-size",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Sorting column criteria. Default value: EMAIL",
            "x-ms-summary": "Sort Column",
            "type": "string",
            "in": "query",
            "name": "sort-column",
            "required": false,
            "x-ms-visibility": "advanced",
            "enum": [
              "ID",
              "EMAIL",
              "NAME",
              "NAME_LOWERCASE",
              "HOURLYRATE",
              "COSTRATE"
            ]
          },
          {
            "description": "Sorting mode. Default value: ASCENDING",
            "x-ms-summary": "Sort Order",
            "type": "string",
            "in": "query",
            "name": "sort-order",
            "required": false,
            "x-ms-visibility": "advanced",
            "enum": [
              "ASCENDING",
              "DESCENDING"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "UserList",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "User Id"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Name"
                  },
                  "email": {
                    "type": "string",
                    "x-ms-summary": "Email"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/clients": {
      "get": {
        "summary": "List Clients (deprecated)",
        "description": "List Clients",
        "operationId": "GetClients",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "GetClients",
          "revision": 0
        },
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          },
          {
            "description": "Set to true to only return archived clients Returns active clients when false.",
            "in": "query",
            "name": "archived",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Archived",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Clients List",
            "schema": {
              "type": "object",
              "properties": {
                "address": {
                  "type": "string",
                  "x-ms-summary": "Address"
                },
                "archived": {
                  "type": "boolean",
                  "x-ms-summary": "Archived"
                },
                "email": {
                  "type": "string",
                  "x-ms-summary": "Email"
                },
                "id": {
                  "type": "string",
                  "x-ms-summary": "Id"
                },
                "name": {
                  "type": "string",
                  "x-ms-summary": "Name"
                },
                "note": {
                  "type": "string",
                  "x-ms-summary": "Note"
                },
                "workspaceId": {
                  "type": "string",
                  "x-ms-summary": "Workspace Id"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/clients": {
      "get": {
        "summary": "List Clients",
        "description": "List Clients",
        "operationId": "GetClients_v1",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "GetClients",
          "revision": 1
        },
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          },
          {
            "description": "Set to true to only return archived clients Returns active clients when false.",
            "in": "query",
            "name": "archived",
            "required": false,
            "type": "boolean",
            "x-ms-summary": "Archived",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Clients List",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "x-ms-summary": "Address"
                  },
                  "archived": {
                    "type": "boolean",
                    "x-ms-summary": "Archived"
                  },
                  "email": {
                    "type": "string",
                    "x-ms-summary": "Email"
                  },
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Id"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Name"
                  },
                  "note": {
                    "type": "string",
                    "x-ms-summary": "Note"
                  },
                  "workspaceId": {
                    "type": "string",
                    "x-ms-summary": "Workspace Id"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/clients/projects-filter": {
      "get": {
        "summary": "List Projects (deprecated)",
        "description": "List Projects",
        "operationId": "GetProjects",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "GetProjects",
          "revision": 0
        },
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Id"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Name"
                  },
                  "hourlyRate": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "x-ms-summary": "Amount"
                      },
                      "currency": {
                        "type": "string",
                        "x-ms-summary": "Currency"
                      }
                    }
                  },
                  "costRate": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "x-ms-summary": "Amount"
                      },
                      "currency": {
                        "type": "string",
                        "x-ms-summary": "Currency"
                      }
                    }
                  },
                  "memberships": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string",
                          "x-ms-summary": "User Id"
                        },
                        "targetId": {
                          "type": "string",
                          "x-ms-summary": "Target Id"
                        },
                        "membershipType": {
                          "type": "string",
                          "x-ms-summary": "Membership Type"
                        },
                        "membershipStatus": {
                          "type": "string",
                          "x-ms-summary": "Membership Status"
                        }
                      }
                    }
                  },
                  "workspaceSettings": {
                    "type": "object",
                    "properties": {
                      "timeRoundingInReports": {
                        "type": "boolean",
                        "x-ms-summary": "TimeRounding In Reports"
                      },
                      "onlyAdminsSeeBillableRates": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins See Billable Rates"
                      },
                      "activeBillableHours": {
                        "type": "boolean",
                        "x-ms-summary": "Active Billable Hours"
                      },
                      "onlyAdminsCanChangeBillableStatus": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins Can Change Billable Status"
                      },
                      "onlyAdminsCreateProject": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins Create Project"
                      },
                      "onlyAdminsSeeDashboard": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins See Dashboard"
                      },
                      "defaultBillableProjects": {
                        "type": "boolean",
                        "x-ms-summary": "Default Billable Projects"
                      },
                      "isProjectPublicByDefault": {
                        "type": "boolean",
                        "x-ms-summary": "Is Project Public"
                      },
                      "round": {
                        "type": "object",
                        "properties": {
                          "round": {
                            "type": "string",
                            "x-ms-summary": "Round"
                          },
                          "minutes": {
                            "type": "string",
                            "x-ms-summary": "Minutes"
                          }
                        }
                      },
                      "projectFavorites": {
                        "type": "boolean",
                        "x-ms-summary": "Project Favorites"
                      },
                      "canSeeTimeSheet": {
                        "type": "boolean",
                        "x-ms-summary": "Can See Timesheet"
                      },
                      "canSeeTracker": {
                        "type": "boolean",
                        "x-ms-summary": "Can See Tracker"
                      },
                      "projectPickerSpecialFilter": {
                        "type": "boolean",
                        "x-ms-summary": "Project Picker Special Filter"
                      },
                      "forceProjects": {
                        "type": "boolean",
                        "x-ms-summary": "Force Projects"
                      },
                      "forceTasks": {
                        "type": "boolean",
                        "x-ms-summary": "Force Tasks"
                      },
                      "forceTags": {
                        "type": "boolean",
                        "x-ms-summary": "Force Tags"
                      },
                      "forceDescription": {
                        "type": "boolean",
                        "x-ms-summary": "Force Description"
                      },
                      "onlyAdminsSeeAllTimeEntries": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins See All TimeEntries"
                      },
                      "onlyAdminsSeePublicProjectsEntries": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins See Public Projects Entries"
                      },
                      "onlyAdminsSeeProjectStatus": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins See Project Status"
                      },
                      "trackTimeDownToSecond": {
                        "type": "boolean",
                        "x-ms-summary": "TrackTime DownToSecond"
                      },
                      "projectGroupingLabel": {
                        "type": "string",
                        "x-ms-summary": "Project Grouping Label"
                      },
                      "onlyAdminsCreateTag": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins Create Tag"
                      },
                      "isCostRateActive": {
                        "type": "boolean",
                        "x-ms-summary": "Is CostRate Active"
                      },
                      "timeApprovalEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Time Approval Enabled"
                      },
                      "screenshotsEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Screenshots Enabled"
                      },
                      "locationsEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Locations Enabled"
                      },
                      "onlyAdminsCreateTask": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins Create Task"
                      },
                      "timeTrackingMode": {
                        "type": "string",
                        "x-ms-summary": "Time Tracking Mode"
                      },
                      "taskBillableEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Task Billable Enabled"
                      },
                      "taskRateEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Task Rate Enabled"
                      },
                      "invoicingEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Invoicing Enabled"
                      },
                      "expensesEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Expenses Enabled"
                      },
                      "companyAddress": {
                        "type": "string",
                        "x-ms-summary": "Company Address"
                      },
                      "decimalFormat": {
                        "type": "boolean",
                        "x-ms-summary": "Decimal Format"
                      },
                      "canManagerEditUsersTime": {
                        "type": "boolean",
                        "x-ms-summary": "Can Edit Users Time"
                      },
                      "workingDays": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "x-ms-summary": "Working Days"
                        }
                      },
                      "timeOff": {
                        "type": "object",
                        "properties": {
                          "regularUserCanSeeOtherUsersTimeOff": {
                            "type": "boolean",
                            "x-ms-summary": "Other User Timeoff Visible"
                          },
                          "active": {
                            "type": "boolean",
                            "x-ms-summary": "Active"
                          }
                        }
                      },
                      "pumbleIntegrationSettings": {
                        "type": "object",
                        "properties": {
                          "showChatWidget": {
                            "type": "boolean",
                            "x-ms-summary": "Show Chat Widget"
                          }
                        }
                      }
                    }
                  },
                  "imageUrl": {
                    "type": "string",
                    "x-ms-summary": "Image Url"
                  },
                  "onSubdomain": {
                    "type": "boolean",
                    "x-ms-summary": "On Subdomain"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/projects": {
      "get": {
        "summary": "List Projects",
        "description": "List Projects",
        "operationId": "GetProjects_v1",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "GetProjects",
          "revision": 1
        },
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Id"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Name"
                  },
                  "hourlyRate": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "x-ms-summary": "Amount"
                      },
                      "currency": {
                        "type": "string",
                        "x-ms-summary": "Currency"
                      }
                    }
                  },
                  "costRate": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "integer",
                        "x-ms-summary": "Amount"
                      },
                      "currency": {
                        "type": "string",
                        "x-ms-summary": "Currency"
                      }
                    }
                  },
                  "memberships": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string",
                          "x-ms-summary": "User Id"
                        },
                        "targetId": {
                          "type": "string",
                          "x-ms-summary": "Target Id"
                        },
                        "membershipType": {
                          "type": "string",
                          "x-ms-summary": "Membership Type"
                        },
                        "membershipStatus": {
                          "type": "string",
                          "x-ms-summary": "Membership Status"
                        }
                      }
                    }
                  },
                  "workspaceSettings": {
                    "type": "object",
                    "properties": {
                      "timeRoundingInReports": {
                        "type": "boolean",
                        "x-ms-summary": "TimeRounding In Reports"
                      },
                      "onlyAdminsSeeBillableRates": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins See Billable Rates"
                      },
                      "activeBillableHours": {
                        "type": "boolean",
                        "x-ms-summary": "Active Billable Hours"
                      },
                      "onlyAdminsCanChangeBillableStatus": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins Can Change Billable Status"
                      },
                      "onlyAdminsCreateProject": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins Create Project"
                      },
                      "onlyAdminsSeeDashboard": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins See Dashboard"
                      },
                      "defaultBillableProjects": {
                        "type": "boolean",
                        "x-ms-summary": "Default Billable Projects"
                      },
                      "isProjectPublicByDefault": {
                        "type": "boolean",
                        "x-ms-summary": "Is Project Public"
                      },
                      "round": {
                        "type": "object",
                        "properties": {
                          "round": {
                            "type": "string",
                            "x-ms-summary": "Round"
                          },
                          "minutes": {
                            "type": "string",
                            "x-ms-summary": "Minutes"
                          }
                        }
                      },
                      "projectFavorites": {
                        "type": "boolean",
                        "x-ms-summary": "Project Favorites"
                      },
                      "canSeeTimeSheet": {
                        "type": "boolean",
                        "x-ms-summary": "Can See Timesheet"
                      },
                      "canSeeTracker": {
                        "type": "boolean",
                        "x-ms-summary": "Can See Tracker"
                      },
                      "projectPickerSpecialFilter": {
                        "type": "boolean",
                        "x-ms-summary": "Project Picker Special Filter"
                      },
                      "forceProjects": {
                        "type": "boolean",
                        "x-ms-summary": "Force Projects"
                      },
                      "forceTasks": {
                        "type": "boolean",
                        "x-ms-summary": "Force Tasks"
                      },
                      "forceTags": {
                        "type": "boolean",
                        "x-ms-summary": "Force Tags"
                      },
                      "forceDescription": {
                        "type": "boolean",
                        "x-ms-summary": "Force Description"
                      },
                      "onlyAdminsSeeAllTimeEntries": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins See All TimeEntries"
                      },
                      "onlyAdminsSeePublicProjectsEntries": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins See Public Projects Entries"
                      },
                      "onlyAdminsSeeProjectStatus": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins See Project Status"
                      },
                      "trackTimeDownToSecond": {
                        "type": "boolean",
                        "x-ms-summary": "TrackTime DownToSecond"
                      },
                      "projectGroupingLabel": {
                        "type": "string",
                        "x-ms-summary": "Project Grouping Label"
                      },
                      "onlyAdminsCreateTag": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins Create Tag"
                      },
                      "isCostRateActive": {
                        "type": "boolean",
                        "x-ms-summary": "Is CostRate Active"
                      },
                      "timeApprovalEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Time Approval Enabled"
                      },
                      "screenshotsEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Screenshots Enabled"
                      },
                      "locationsEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Locations Enabled"
                      },
                      "onlyAdminsCreateTask": {
                        "type": "boolean",
                        "x-ms-summary": "Only Admins Create Task"
                      },
                      "timeTrackingMode": {
                        "type": "string",
                        "x-ms-summary": "Time Tracking Mode"
                      },
                      "taskBillableEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Task Billable Enabled"
                      },
                      "taskRateEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Task Rate Enabled"
                      },
                      "invoicingEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Invoicing Enabled"
                      },
                      "expensesEnabled": {
                        "type": "boolean",
                        "x-ms-summary": "Expenses Enabled"
                      },
                      "companyAddress": {
                        "type": "string",
                        "x-ms-summary": "Company Address"
                      },
                      "decimalFormat": {
                        "type": "boolean",
                        "x-ms-summary": "Decimal Format"
                      },
                      "canManagerEditUsersTime": {
                        "type": "boolean",
                        "x-ms-summary": "Can Edit Users Time"
                      },
                      "workingDays": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "x-ms-summary": "Working Days"
                        }
                      },
                      "timeOff": {
                        "type": "object",
                        "properties": {
                          "regularUserCanSeeOtherUsersTimeOff": {
                            "type": "boolean",
                            "x-ms-summary": "Other User Timeoff Visible"
                          },
                          "active": {
                            "type": "boolean",
                            "x-ms-summary": "Active"
                          }
                        }
                      },
                      "pumbleIntegrationSettings": {
                        "type": "object",
                        "properties": {
                          "showChatWidget": {
                            "type": "boolean",
                            "x-ms-summary": "Show Chat Widget"
                          }
                        }
                      }
                    }
                  },
                  "imageUrl": {
                    "type": "string",
                    "x-ms-summary": "Image Url"
                  },
                  "onSubdomain": {
                    "type": "boolean",
                    "x-ms-summary": "On Subdomain"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid Request",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/workspaces/{workspace_id}/timeEntries/user/{user_id}": {
      "get": {
        "summary": "List User Time Entries (deprecated)",
        "description": "List User Time Entries",
        "operationId": "GetTimeEntriesForUser",
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "GetTimeEntriesForUser",
          "revision": 0
        },
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Time entries that started after the specified datetime. Datetime must be in ISO-8601 format (eg. 2019-04-16T05:15:32.998Z). You send time according to your account's timezone (from Profile Settings) and get response with time in UTC.",
            "type": "string",
            "required": false,
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Time entries that ended after the specified datetime. Datetime must be in ISO-8601 format (eg. 2019-04-16T05:15:32.998Z). You send time according to your account's timezone (from Profile Settings) and get response with time in UTC.",
            "type": "string",
            "required": false,
            "x-ms-summary": "End",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Time entries will be filtered by project.",
            "type": "string",
            "required": false,
            "x-ms-summary": "Project",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "task",
            "in": "query",
            "description": "Time entries will be filtered by task.",
            "type": "string",
            "required": false,
            "x-ms-summary": "Task",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "user_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "description": "User ID",
            "type": "string",
            "required": true,
            "x-ms-summary": "User Id",
            "x-ms-dynamic-values": {
              "operationId": "GetAllUsers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "workspace_id": {
                  "parameter": "workspace_id"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetAllUsers",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "workspace_id": {
                  "parameterReference": "workspace_id"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time entries list",
            "schema": {
              "type": "object",
              "properties": {
                "timeEntriesList": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "x-ms-summary": "Time Entry Id"
                      },
                      "description": {
                        "type": "string",
                        "x-ms-summary": "Description"
                      },
                      "projectId": {
                        "type": "string",
                        "x-ms-summary": "Project Id"
                      },
                      "taskId": {
                        "type": "string",
                        "x-ms-summary": "Task Id"
                      },
                      "workspaceId": {
                        "type": "string",
                        "x-ms-summary": "Workspace Id"
                      },
                      "timeInterval": {
                        "type": "object",
                        "properties": {
                          "duration": {
                            "type": "string",
                            "x-ms-summary": "Duration",
                            "description": "The duration of this timesheet entry."
                          },
                          "end": {
                            "type": "string",
                            "x-ms-summary": "End Time"
                          },
                          "start": {
                            "type": "string",
                            "x-ms-summary": "Start Time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/user/{user_id}/time-entries": {
      "get": {
        "summary": "List User Time Entries",
        "description": "List User Time Entries",
        "operationId": "GetTimeEntriesForUser_v1",
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "GetTimeEntriesForUser",
          "revision": 1
        },
        "parameters": [
          {
            "$ref": "#/parameters/WorkspaceParamForPath"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Time entries that started after the specified datetime. Datetime must be in ISO-8601 format (eg. 2019-04-16T05:15:32.998Z). You send time according to your account's timezone (from Profile Settings) and get response with time in UTC.",
            "type": "string",
            "required": false,
            "x-ms-summary": "Start",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Time entries that ended after the specified datetime. Datetime must be in ISO-8601 format (eg. 2019-04-16T05:15:32.998Z). You send time according to your account's timezone (from Profile Settings) and get response with time in UTC.",
            "type": "string",
            "required": false,
            "x-ms-summary": "End",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "project",
            "in": "query",
            "description": "Time entries will be filtered by project.",
            "type": "string",
            "required": false,
            "x-ms-summary": "Project",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "task",
            "in": "query",
            "description": "Time entries will be filtered by task.",
            "type": "string",
            "required": false,
            "x-ms-summary": "Task",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "user_id",
            "in": "path",
            "x-ms-url-encoding": "single",
            "description": "User ID",
            "type": "string",
            "required": true,
            "x-ms-summary": "User Id",
            "x-ms-dynamic-values": {
              "operationId": "GetAllUsers",
              "value-path": "id",
              "value-title": "name",
              "parameters": {
                "workspace_id": {
                  "parameter": "workspace_id"
                }
              }
            },
            "x-ms-dynamic-list": {
              "operationId": "GetAllUsers",
              "itemValuePath": "id",
              "itemTitlePath": "name",
              "parameters": {
                "workspace_id": {
                  "parameterReference": "workspace_id"
                }
              }
            }
          },
          {
            "description": "Page number",
            "x-ms-summary": "Page number",
            "type": "integer",
            "in": "query",
            "name": "page",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "description": "Page size max allowed 50",
            "x-ms-summary": "Page size",
            "type": "integer",
            "in": "query",
            "name": "page-size",
            "required": false,
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Time entries list",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Time Entry Id"
                  },
                  "description": {
                    "type": "string",
                    "x-ms-summary": "Description"
                  },
                  "projectId": {
                    "type": "string",
                    "x-ms-summary": "Project Id"
                  },
                  "taskId": {
                    "type": "string",
                    "x-ms-summary": "Task Id"
                  },
                  "workspaceId": {
                    "type": "string",
                    "x-ms-summary": "Workspace Id"
                  },
                  "timeInterval": {
                    "type": "object",
                    "properties": {
                      "duration": {
                        "type": "string",
                        "x-ms-summary": "Duration",
                        "description": "The duration of this timesheet entry."
                      },
                      "end": {
                        "type": "string",
                        "x-ms-summary": "End Time"
                      },
                      "start": {
                        "type": "string",
                        "x-ms-summary": "Start Time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "deprecated": true,
        "x-ms-api-annotation": {
          "family": "GetWorkspaces",
          "revision": 0
        },
        "summary": "List Workspaces (deprecated)",
        "description": "Retrieves all the workspaces visible in your Clockify account using the api key provided.",
        "operationId": "GetWorkspaces",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ListWorkspaces",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Id"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Name"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/workspaces": {
      "get": {
        "deprecated": false,
        "x-ms-api-annotation": {
          "family": "GetWorkspaces",
          "revision": 1
        },
        "summary": "List Workspaces",
        "description": "Retrieves all the workspaces visible in your Clockify account using the api key provided.",
        "operationId": "GetWorkspaces_v1",
        "parameters": [],
        "responses": {
          "200": {
            "description": "ListWorkspaces",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Id"
                  },
                  "name": {
                    "type": "string",
                    "x-ms-summary": "Name"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {
    "WorkspaceParamForPath": {
      "name": "workspace_id",
      "in": "path",
      "x-ms-url-encoding": "single",
      "description": "Workspace ID",
      "type": "string",
      "required": true,
      "x-ms-summary": "Workspace Id",
      "x-ms-visibility": "important",
      "x-ms-dynamic-values": {
        "operationId": "GetWorkspaces",
        "value-path": "id",
        "value-title": "name"
      }
    }
  },
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.Clockify.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.Clockify.com/website/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Data"
    }
  ]
}