{
  "swagger": "2.0",
  "info": {
    "title": "icanhazdadjoke",
    "description": "With this connector you can get a random dad joke or search for a dad joke.",
    "version": "1.0",
    "contact": {
      "name": "Daniel Laskewitz",
      "url": "https://youtube.com/daniellaskewitz",
      "email": "daniel@laskewitz.io"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://icanhazdadjoke.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://icanhazdadjoke.com/about"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ],
  "host": "icanhazdadjoke.com",
  "basePath": "/",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "x-ms-summary": "ID",
                  "x-ms-visibility": "internal"
                },
                "joke": {
                  "type": "string",
                  "description": "joke",
                  "x-ms-summary": "Joke"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "status",
                  "x-ms-summary": "Status",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        },
        "summary": "Fetch a random dad joke",
        "description": "Fetch a random dad joke from icanhazdadjoke.com",
        "operationId": "FetchRandomJoke",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Current page",
                  "title": "Current page"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Limit",
                  "x-ms-summary": "Limit"
                },
                "next_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Next page",
                  "x-ms-summary": "Next page"
                },
                "previous_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Previous page",
                  "x-ms-summary": "Previous page"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID",
                        "x-ms-summary": "ID",
                        "x-ms-visibility": "internal"
                      },
                      "joke": {
                        "type": "string",
                        "description": "Joke",
                        "x-ms-summary": "Joke"
                      }
                    }
                  },
                  "description": "results"
                },
                "search_term": {
                  "type": "string",
                  "description": "Search term",
                  "x-ms-summary": "Search term",
                  "x-ms-visibility": "internal"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status",
                  "x-ms-summary": "Status",
                  "x-ms-visibility": "internal"
                },
                "total_jokes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total jokes",
                  "x-ms-summary": "Total jokes"
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total pages",
                  "x-ms-summary": "Total pages"
                }
              }
            }
          }
        },
        "summary": "Search for dad jokes",
        "description": "Search for dad jokes",
        "operationId": "SearchForDadJokes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "enter a page number",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 20,
            "x-ms-summary": "Limit",
            "description": "max 30"
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "list all jokes",
            "description": "enter a query in this field",
            "x-ms-summary": "Term"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}
