{
  "swagger": "2.0",
  "info": {
    "title": "icanhazdadjoke",
    "description": "With this connector you can get a random dad joke or search for a dad joke.",
    "version": "1.1",
    "contact": {
      "name": "Daniel Laskewitz",
      "url": "https://youtube.com/daniellaskewitz",
      "email": "connectorsupport@laskewitz.io"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://icanhazdadjoke.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://icanhazdadjoke.com/about"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ],
  "host": "icanhazdadjoke.com",
  "basePath": "/",
  "schemes": [ "https" ],
  "consumes": [ ],
  "produces": [ ],
  "paths": {
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Joke ID",
                  "x-ms-summary": "Joke ID"
                },
                "joke": {
                  "type": "string",
                  "description": "joke",
                  "x-ms-summary": "Joke"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Query status",
                  "x-ms-summary": "Status",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        },
        "summary": "Fetch a random dad joke",
        "description": "Fetch a random dad joke from icanhazdadjoke.com",
        "operationId": "FetchRandomJoke",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Current page number",
                  "title": "Current page"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of results to return per page",
                  "x-ms-summary": "Result limit"
                },
                "next_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Next page number",
                  "x-ms-summary": "Next page"
                },
                "previous_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Previous page number",
                  "x-ms-summary": "Previous page"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Joke ID",
                        "x-ms-summary": "Joke ID"
                      },
                      "joke": {
                        "type": "string",
                        "description": "Joke",
                        "x-ms-summary": "Joke"

                      }
                    }
                  },
                  "description": "Results",
                  "x-ms-summary": "Results"
                },
                "search_term": {
                  "type": "string",
                  "description": "Search term used",
                  "x-ms-summary": "Search term"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Query Status",
                  "x-ms-summary": "Status",
                  "x-ms-visibility": "internal"
                },
                "total_jokes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of total jokes from the search",
                  "x-ms-summary": "Total jokes"
                },
                "total_pages": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Number of total pages from the search",
                  "x-ms-summary": "Total pages"
                }
              }
            }
          }
        },
        "summary": "Search for dad jokes",
        "description": "Search for dad jokes",
        "operationId": "SearchForDadJokes",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Which page of results to fetch",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "x-ms-summary": "Result Limit",
            "description": "Number of results to return per page (default: 20) (max: 30)"
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search term to use (default: list all jokes)",
            "x-ms-summary": "Search Term"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/j/{jokeid}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Joke ID",
                  "x-ms-summary": "Joke ID"
                },
                "joke": {
                  "type": "string",
                  "description": "Joke",
                  "x-ms-summary": "Joke"
                },
                "status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Query status",
                  "x-ms-summary": "Status",
                  "x-ms-visibility": "internal"
                }
              }
            }
          }
        },
        "summary": "Fetch a dad joke",
        "description": "Fetch a dad joke by Joke ID",
        "operationId": "FetchaDadJoke",
        "parameters": [
          {
            "name": "jokeid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Joke ID",
            "x-ms-summary": "Joke ID"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": { },
  "parameters": { },
  "responses": { },
  "securityDefinitions": { },
  "security": [ ],
  "tags": [ ]
}
