{
  "swagger": "2.0",
  "info": {
    "title": "NewsData.io",
    "description": "The NewsData.io service gets you top live-breaking news from all over the world in real-time. Apply multiple filters to narrow down your desired results.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "newsdata.io",
  "basePath": "/api/1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/news": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The status.",
                  "title": "Status"
                },
                "totalResults": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total number of results.",
                  "title": "Total Results"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "link": {
                        "type": "string",
                        "description": "The link.",
                        "title": "Link"
                      },
                      "keywords": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The keywords.",
                        "title": "Keywords"
                      },
                      "creator": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The creator.",
                        "title": "Creator"
                      },
                      "video_url": {
                        "type": "string",
                        "description": "The video URL address.",
                        "title": "Video URL"
                      },
                      "description": {
                        "type": "string",
                        "description": "The description.",
                        "title": "Description"
                      },
                      "content": {
                        "type": "string",
                        "description": "The content.",
                        "title": "Content"
                      },
                      "pubDate": {
                        "type": "string",
                        "description": "The published Date.",
                        "title": "Published Date"
                      },
                      "image_url": {
                        "type": "string",
                        "description": "The image URL address.",
                        "title": "Image URL"
                      },
                      "source_id": {
                        "type": "string",
                        "description": "The source identifier.",
                        "title": "Source ID"
                      },
                      "category": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The category.",
                        "title": "Category"
                      },
                      "country": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The country.",
                        "title": "Country"
                      },
                      "language": {
                        "type": "string",
                        "description": "The language.",
                        "title": "Language"
                      }
                    }
                  },
                  "title": "Results"
                },
                "nextPage": {
                  "type": "string",
                  "description": "The next page identifier.",
                  "title": "Next Page"
                }
              }
            }
          }
        },
        "summary": "Get latest news",
        "description": "Retrieve the latest and breaking news, sorted by the published date.",
        "operationId": "LatestGet",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "x-ms-summary": "Query",
            "description": "The search query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "qInTitle",
            "in": "query",
            "x-ms-summary": "Query in Title",
            "description": "The title search query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "x-ms-summary": "Country",
            "description": "The country.",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "x-ms-summary": "Category",
            "description": "The category.",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "x-ms-summary": "Language",
            "description": "The language.",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "query",
            "x-ms-summary": "Domain",
            "description": "The domain.",
            "required": false,
            "type": "string"
          },
          {
            "name": "full_content",
            "in": "query",
            "x-ms-summary": "Full Content",
            "description": "The full content.",
            "required": false,
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          {
            "name": "image",
            "in": "query",
            "x-ms-summary": "Image",
            "description": "The image.",
            "required": false,
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          {
            "name": "video",
            "in": "query",
            "x-ms-summary": "Video",
            "description": "The video.",
            "required": false,
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          {
            "name": "page",
            "in": "query",
            "x-ms-summary": "Page",
            "description": "The page.",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "apikey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://newsdata.io/breaking-news-api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://newsdata.io/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}
