{
  "swagger": "2.0",
  "info": {
    "title": "Highspot",
    "version": "1.0",
    "x-ms-keywords": [
      "Highspot for Sales Copilot"
    ],
    "x-ms-openai-published-to-copilots": [
      {
        "AICopilot-enabled": true,
        "AICopilotName": "Microsoft Sales Copilot"
      }
    ],
    "description": "Highspot Content Management and Digital Sales Rooms for Sales Copilot",
    "contact": {
      "name": "Highspot Support",
      "url": "https://help.highspot.com/",
      "email": "support@highspot.com"
    }
  },
  "host": "api.highspot.com",
  "basePath": "/apollo/webhooks/ms-copilot",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.highspot.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.highspot.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "paths": {
    "/related_activities": {
      "get": {
        "tags": [
          "EnhancedSkillsExtensibility"
        ],
        "description": "This action gets additional sales insights related to a CRM record that will be shown in the C4S record summary card. The action enhances the existing skills of copilot for sales",
        "operationId": "scp-get-related-activities",
        "summary": "This action displays additional insights related to a CRM record",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "x-ms-summary": "recordType",
            "name": "recordType",
            "description": "This input indicates the entity or object type in CRM for which insights are requested",
            "required": true,
            "type": "string",
            "enum": [
              "account",
              "opportunity"
            ]
          },
          {
            "in": "query",
            "x-ms-summary": "recordId",
            "name": "recordId",
            "description": "This input indicates the unique identifier of the CRM record for which insights are requested",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "x-ms-summary": "startDateTime",
            "name": "startDateTime",
            "description": "This input indicates the start date and time for insights requested",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "x-ms-summary": "endDateTime",
            "name": "endDateTime",
            "description": "This input indicates the end date and time for insights requested",
            "type": "string",
            "format": "date-time"
          },
          {
            "in": "query",
            "x-ms-summary": "top",
            "name": "top",
            "description": "This input indicates the number of insights to fetch",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "x-ms-summary": "skip",
            "name": "skip",
            "description": "This input indicates the number of insights to skip",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "x-ms-summary": "crmType",
            "name": "crmType",
            "description": "This input indicates the type of CRM in which the CRM record exists, for which insights are requested",
            "type": "string",
            "enum": [
              "Salesforce",
              "Dynamics365"
            ]
          },
          {
            "in": "query",
            "x-ms-summary": "crmOrgUrl",
            "name": "crmOrgUrl",
            "description": "This input indicates the Organization URL indicating where this CRM record exists",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ActivityListResponseEnvelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true
        }
      }
    },
    "/related_records": {
      "get": {
        "tags": [
          "EnhancedSkillsExtensibility"
        ],
        "description": "This action gets records related to a CRM record. The action enhances the existing skills of Copilot for Sales",
        "operationId": "scp-get-related-records",
        "produces": [
          "application/json"
        ],
        "summary": "This action gets records related to a CRM record",
        "parameters": [
          {
            "in": "query",
            "name": "recordType",
            "x-ms-summary": "recordType",
            "description": "This input identifies the record type in CRM for which related records are requested",
            "required": true,
            "type": "string",
            "enum": [
              "account",
              "opportunity"
            ]
          },
          {
            "in": "query",
            "name": "recordId",
            "x-ms-summary": "recordId",
            "description": "This input provides the unique identifier of the CRM record for which related records are requested",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "top",
            "x-ms-summary": "top",
            "description": "This input indicates the number of related records to fetch",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "skip",
            "x-ms-summary": "skip",
            "description": "This input indicates the number of records to skip when fetching related records",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "crmType",
            "x-ms-summary": "crmType",
            "description": "This input indicates the type of CRM the related records are fetched from",
            "type": "string",
            "enum": [
              "Salesforce",
              "Dynamics365"
            ]
          },
          {
            "in": "query",
            "name": "crmOrgUrl",
            "x-ms-summary": "crmOrgUrl",
            "description": "This input indicates the URL of the CRM environment the related records are fetched from",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExternalRelatedRecordListResponseEnvelope"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "429": {
            "description": "Too Many Requests",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true
        }
      }
    }
  },
  "definitions": {
    "Activity": {
      "required": [
        "dateTime",
        "description",
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "This output indicates the title of the activity in the citation card",
          "minLength": 1,
          "type": "string"
        },
        "description": {
          "description": "This output indicates the description of the insight",
          "minLength": 1,
          "type": "string"
        },
        "dateTime": {
          "format": "date-time",
          "description": "This output indicates the time associated with the insight",
          "type": "string"
        },
        "url": {
          "description": "This output indicates the URL to open insight",
          "type": "string"
        },
        "additionalProperties": {
          "description": "This output indicates additional properties displayed in the detailed view of the insight",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ActivityListResponseEnvelope": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Activity"
          }
        },
        "hasMoreResults": {
          "type": "boolean"
        }
      }
    },
    "AdaptiveCardWrapper": {
      "required": [
        "adaptiveCard"
      ],
      "type": "object",
      "properties": {
        "adaptiveCard": {
          "minLength": 1,
          "type": "string"
        },
        "previewCardData": {
          "$ref": "#/definitions/PreviewCardData"
        }
      }
    },
    "ApiError": {
      "required": [
        "errorCode"
      ],
      "type": "object",
      "properties": {
        "errorCode": {
          "minLength": 1,
          "type": "string"
        },
        "errorMessage": {
          "type": "string"
        },
        "activityId": {
          "type": "string"
        },
        "details": {
          "type": "object",
          "additionalProperties": {}
        }
      }
    },
    "EmailInsight": {
      "required": [
        "description",
        "title"
      ],
      "type": "object",
      "properties": {
        "title": {
          "description": "This output indicates the title of the partner section and should include only the partner's name",
          "minLength": 1,
          "type": "string"
        },
        "description": {
          "description": "This output indicates the text you would like to be included in the email summary",
          "minLength": 1,
          "type": "string"
        }
      }
    },
    "EmailInsightListResponseEnvelope": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailInsight"
          }
        },
        "hasMoreResults": {
          "type": "boolean"
        }
      }
    },
    "ExternalRelatedRecord": {
      "required": [
        "recordId",
        "recordTitle",
        "recordType",
        "recordTypeDisplayName",
        "recordTypePluralDisplayName"
      ],
      "type": "object",
      "properties": {
        "recordId": {
          "description": "This output uniquely identifies each related record returned by the action",
          "minLength": 1,
          "type": "string"
        },
        "recordTypeDisplayName": {
          "description": "This output indicates the display name of record type of each related record returned by the action",
          "minLength": 1,
          "type": "string"
        },
        "recordTitle": {
          "description": "This output indicates the title of each related record returned by the action",
          "minLength": 1,
          "type": "string"
        },
        "recordTypePluralDisplayName": {
          "description": "This output indicates the plural display name of the record type of each related record returned by the action",
          "minLength": 1,
          "type": "string"
        },
        "recordType": {
          "description": "This output indicates the type of each related record returned by the action",
          "minLength": 1,
          "type": "string"
        },
        "url": {
          "description": "This output indicates the URL of each related record returned by the action",
          "type": "string"
        },
        "additionalProperties": {
          "description": "This output indicates additional properties as name-value pairs of each related record returned by the action",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ExternalRelatedRecordListResponseEnvelope": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExternalRelatedRecord"
          }
        },
        "hasMoreResults": {
          "type": "boolean"
        }
      }
    },
    "PartnerConnectorResponse": {
      "type": "object",
      "properties": {
        "adaptiveCards": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdaptiveCardWrapper"
          }
        }
      }
    },
    "PreviewCardData": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "subtitle": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.highspot.com/oauth2/v1/authorize",
      "tokenUrl": "https://app.highspot.com/auth/oauth2/v1/token",
      "scopes": {
        "copilot": "copilot"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "copilot"
      ]
    }
  ],
  "tags": [],
  "x-ms-openai-data": {
    "openai-enabled": true,
    "operations": [
        {
            "operationId": "scp-get-related-activities",
            "x-ms-require-user-confirmation": false
        }
    ]
  },
  "x-ms-openai-manifest": {
    "humanName": "Highspot",
    "modelDescription": "Highspot helps provide digital room and content recommendations related to CRM data for sales professionals",
    "contactEmail": "support@highspot.com",
    "legalUrl": "https://highspot.com/privacy"
  }
}