{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "integrations@getaccept.com",
      "name": "GetAccept API Team",
      "url": "https://app.getaccept.com/api"
    },
    "description": "GetAccept provides a sales enablement platform for sales to design, send, promote, track, and e-sign sales documents, leveraging sales collateral, contract management, proposals, and electronic signatures in one place.",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://www.getaccept.com/terms.html",
    "title": "GetAccept",
    "version": "1.6"
  },
  "host": "api.getaccept.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/attachments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Attachments"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Attachments"
        ],
        "description": "Receive a list of available attachments. You can add new attachments in GetAccept using a new document.",
        "operationId": "ListAttachments",
        "summary": "List attachments"
      }
    },
    "/auth": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing authentication credentials",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "description": "Authentication model",
              "properties": {
                "client_id": {
                  "default": "",
                  "description": "The client id of your app if you received one from our API team",
                  "type": "string"
                },
                "email": {
                  "description": "This is the email of the user in GetAccept",
                  "format": "email",
                  "type": "string"
                },
                "entity_id": {
                  "default": "",
                  "description": "This specifies what entity to select if multiple entities are available for a user. If no value is specified the default entity will be selected.",
                  "type": "string"
                },
                "password": {
                  "description": "This is the password of the user in GetAccept",
                  "format": "password",
                  "type": "string"
                }
              },
              "required": [
                "email",
                "password"
              ],
              "type": "object",
              "x-examples": {
                "Example": {
                  "email": "user@example.com",
                  "password": "mysecret"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "access_token": {
                  "description": "Token to be used in consequtive requests using bearer header",
                  "type": "string"
                },
                "expires_in": {
                  "description": "Seconds until the access token expires",
                  "format": "int64",
                  "minimum": 0,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [],
        "tags": [
          "Authentication"
        ],
        "description": "Token based authentication is recommended for server-based access or access from clients where OAuth is not suitable. Access tokens has to be requested using an administrators login credentials.\nRequests should include the header Content-Type with value application/json",
        "operationId": "Authenticate",
        "summary": "Authentication by token",
        "x-ms-visibility": "internal"
      }
    },
    "/contacts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Contacts"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "Receive a list of available contact for the current entity.\nAll contacts added as a recipient are saved as a contact and is available for later use on that entity.",
        "operationId": "ListContacts",
        "summary": "List contacts"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing contact information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "company_name": {
                  "description": "Associated company name",
                  "type": "string",
                  "x-ms-summary": "Company Name"
                },
                "company_number": {
                  "description": "Associated company number",
                  "type": "string",
                  "x-ms-summary": "Company Number"
                },
                "email": {
                  "description": "Email address of the contact",
                  "type": "string",
                  "x-ms-summary": "Email"
                },
                "first_name": {
                  "description": "First name of the contact",
                  "type": "string",
                  "x-ms-summary": "First name"
                },
                "fullname": {
                  "description": "Use to specify full name instead of first/last name",
                  "type": "string",
                  "x-ms-summary": "Full name"
                },
                "last_name": {
                  "description": "Last name of the contact",
                  "type": "string",
                  "x-ms-summary": "Last name"
                },
                "mobile": {
                  "description": "Mobile number in international format",
                  "type": "string",
                  "x-ms-summary": "Mobile"
                },
                "note": {
                  "description": "Optional internal note for contact",
                  "type": "string",
                  "x-ms-summary": "Note"
                },
                "phone": {
                  "description": "Phone number in international format",
                  "type": "string",
                  "x-ms-summary": "Phone"
                },
                "title": {
                  "description": "The title of the contact, ex. CEO, Sales manager",
                  "type": "string",
                  "x-ms-summary": "Title"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "contact_id": {
                  "description": "ID of the created contact",
                  "example": "abc58129f",
                  "type": "string",
                  "x-ms-summary": "Contact ID"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "This will create a new contact in the database for the current entity",
        "operationId": "CreateContact",
        "summary": "Create contact",
        "x-ms-visibility": "important"
      }
    },
    "/documents": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filter list on status",
            "enum": [
              "draft",
              "sent",
              "viewed",
              "reviewed",
              "signed",
              "rejected",
              "recalled"
            ],
            "in": "query",
            "name": "filter",
            "type": "string",
            "x-ms-summary": "Filter list on status"
          },
          {
            "description": "How to sort results",
            "enum": [
              "name",
              "value",
              "created",
              "recipient",
              "status",
              "owner"
            ],
            "in": "query",
            "name": "sort_by",
            "type": "string",
            "x-ms-summary": "How to sort results"
          },
          {
            "description": "Sort order of results",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort_order",
            "type": "string",
            "x-ms-summary": "Sort order of results"
          },
          {
            "description": "Include documents from team members",
            "enum": [
              true,
              false
            ],
            "in": "query",
            "name": "showteam",
            "type": "boolean",
            "x-ms-summary": "Include documents from team members"
          },
          {
            "description": "Include all documents from entity",
            "enum": [
              true,
              false
            ],
            "in": "query",
            "name": "showall",
            "type": "boolean",
            "x-ms-summary": "Include all documents from entity"
          },
          {
            "description": "An external ID is a custom field which can contain a unique record identifier from a system outside of GetAccept",
            "in": "query",
            "name": "external_id",
            "type": "string",
            "x-ms-summary": "External ID"
          },
          {
            "description": "Start list from record x until limit",
            "in": "query",
            "name": "offset",
            "type": "number",
            "x-ms-summary": "Offset"
          },
          {
            "description": "Number of records to list",
            "in": "query",
            "name": "limit",
            "type": "number",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Documents"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get a list of available documents",
        "operationId": "ListDocuments",
        "summary": "List documents"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing document information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "attachments": {
                  "description": "Attachments",
                  "items": {
                    "properties": {
                      "id": {
                        "description": "Attachment ID received from list or after upload",
                        "type": "string",
                        "x-ms-dynamic-values": {
                          "operationId": "ListAttachments",
                          "value-collection": "attachments",
                          "value-path": "attachment_id",
                          "value-title": "attachment_title"
                        },
                        "x-ms-summary": "ID"
                      },
                      "require_view": {
                        "description": "Require that recipient view the attachment",
                        "enum": [
                          true,
                          false
                        ],
                        "example": true,
                        "type": "boolean",
                        "x-ms-summary": "Require view",
                        "x-nullable": true
                      },
                      "type": {
                        "description": "file or external where file is an uploaded file and external is a link to an external file",
                        "enum": [
                          "file",
                          "external"
                        ],
                        "type": "string",
                        "x-ms-summary": "Type"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array",
                  "x-ms-summary": "Attachment"
                },
                "custom_fields": {
                  "description": "Custom field",
                  "items": {
                    "properties": {
                      "id": {
                        "description": "ID of custom template field",
                        "type": "string",
                        "x-ms-summary": "Field ID"
                      },
                      "name": {
                        "description": "Name of custom template field",
                        "type": "string",
                        "x-ms-summary": "Field Name"
                      },
                      "value": {
                        "description": "Value of custom template field",
                        "type": "string",
                        "x-ms-summary": "Field Value"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array",
                  "x-ms-summary": "Custom"
                },
                "custom_pricing_tables": {
                  "description": "Pricing",
                  "items": {
                    "properties": {
                      "currency_settings": {
                        "description": "Currency Settings",
                        "properties": {
                          "currency": {
                            "description": "Currency, ex. SEK",
                            "type": "string",
                            "x-ms-summary": "Currency"
                          },
                          "locale": {
                            "description": "Locale, ex. sv-SE",
                            "type": "string",
                            "x-ms-summary": "Locale"
                          }
                        },
                        "type": "object",
                        "x-ms-summary": "Currency Settings",
                        "x-ms-visibility": "advanced"
                      },
                      "display_name": {
                        "description": "Display name of the pricing table",
                        "type": "string",
                        "x-ms-summary": "Display Name",
                        "x-ms-visibility": "advanced"
                      },
                      "external_id": {
                        "description": "External ID to represent the summary object within a third-party system",
                        "type": "string",
                        "x-ms-summary": "External ID",
                        "x-ms-visibility": "advanced"
                      },
                      "id": {
                        "description": "Table ID",
                        "type": "string",
                        "x-ms-summary": "Table ID",
                        "x-ms-visibility": "advanced"
                      },
                      "pre_calculated": {
                        "default": false,
                        "description": "If pricing table totals should be pre-calculated",
                        "enum": [
                          true,
                          false
                        ],
                        "example": true,
                        "type": "boolean",
                        "x-ms-summary": "Precalculated totals",
                        "x-ms-visibility": "advanced"
                      },
                      "sections": {
                        "description": "Sections",
                        "items": {
                          "properties": {
                            "display_name": {
                              "description": "Display name of the pricing table",
                              "type": "string",
                              "x-ms-summary": "Display Name"
                            },
                            "id": {
                              "description": "Section ID",
                              "type": "string",
                              "x-ms-summary": "ID"
                            },
                            "rows": {
                              "additionalProperties": {
                                "items": {
                                  "type": "object"
                                },
                                "type": "array"
                              },
                              "description": "Array with values object with array of column_id, value",
                              "example": [
                                {
                                  "values": [
                                    {
                                      "column_id": "abc123",
                                      "value": "My product"
                                    },
                                    {
                                      "column_id": "def456",
                                      "value": 240
                                    }
                                  ]
                                }
                              ],
                              "x-ms-summary": "Rows"
                            },
                            "section_summary": {
                              "properties": {
                                "discount": {
                                  "properties": {
                                    "enabled": {
                                      "description": "If section discount should be enabled",
                                      "enum": [
                                        true,
                                        false
                                      ],
                                      "example": true,
                                      "type": "boolean",
                                      "x-ms-summary": "Enabled",
                                      "x-nullable": true
                                    },
                                    "flat_fee": {
                                      "description": "If section should use using flat fee discounts",
                                      "enum": [
                                        true,
                                        false
                                      ],
                                      "example": true,
                                      "type": "boolean",
                                      "x-ms-summary": "Flat fee",
                                      "x-nullable": true
                                    },
                                    "value": {
                                      "description": "The value for section discount",
                                      "type": "string",
                                      "x-ms-summary": "Discount Value"
                                    }
                                  },
                                  "type": "object",
                                  "x-ms-summary": "Discount"
                                },
                                "price": {
                                  "properties": {
                                    "enabled": {
                                      "description": "If section price should be enabled",
                                      "enum": [
                                        true,
                                        false
                                      ],
                                      "example": true,
                                      "type": "boolean",
                                      "x-ms-summary": "Enabled",
                                      "x-nullable": true
                                    },
                                    "flat_fee": {
                                      "description": "If section should use using flat fee pricing",
                                      "enum": [
                                        true,
                                        false
                                      ],
                                      "example": true,
                                      "type": "boolean",
                                      "x-ms-summary": "Flat fee",
                                      "x-nullable": true
                                    },
                                    "value": {
                                      "description": "The value for section price",
                                      "type": "string",
                                      "x-ms-summary": "Price Value"
                                    }
                                  },
                                  "type": "object",
                                  "x-ms-summary": "Price"
                                },
                                "tax": {
                                  "properties": {
                                    "enabled": {
                                      "description": "If section tax should be enabled",
                                      "enum": [
                                        true,
                                        false
                                      ],
                                      "example": true,
                                      "type": "boolean",
                                      "x-ms-summary": "Enabled",
                                      "x-nullable": true
                                    },
                                    "flat_fee": {
                                      "description": "If section should use using flat fee taxes",
                                      "enum": [
                                        true,
                                        false
                                      ],
                                      "example": true,
                                      "type": "boolean",
                                      "x-ms-summary": "Flat fee",
                                      "x-nullable": true
                                    },
                                    "value": {
                                      "description": "The value for section tax",
                                      "type": "string",
                                      "x-ms-summary": "Tax Value"
                                    }
                                  },
                                  "type": "object",
                                  "x-ms-summary": "Tax"
                                }
                              },
                              "type": "object",
                              "x-ms-summary": "Summary Values"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array",
                        "x-ms-summary": "Section",
                        "x-ms-visibility": "advanced"
                      },
                      "summary_values": {
                        "properties": {
                          "discount": {
                            "properties": {
                              "enabled": {
                                "description": "If pricing table discount should be enabled",
                                "enum": [
                                  true,
                                  false
                                ],
                                "example": true,
                                "type": "boolean",
                                "x-ms-summary": "Enabled",
                                "x-ms-visibility": "advanced",
                                "x-nullable": true
                              },
                              "flat_fee": {
                                "description": "If pricing table should use using flat fee discounts",
                                "enum": [
                                  true,
                                  false
                                ],
                                "example": true,
                                "type": "boolean",
                                "x-ms-summary": "Flat fee",
                                "x-ms-visibility": "advanced",
                                "x-nullable": true
                              },
                              "value": {
                                "description": "The value for summary discount",
                                "type": "string",
                                "x-ms-summary": "Discount Value"
                              }
                            },
                            "type": "object",
                            "x-ms-summary": "Discount"
                          },
                          "price": {
                            "properties": {
                              "enabled": {
                                "description": "If pricing table price should be enabled",
                                "enum": [
                                  true,
                                  false
                                ],
                                "example": true,
                                "type": "boolean",
                                "x-ms-summary": "Enabled",
                                "x-ms-visibility": "advanced",
                                "x-nullable": true
                              },
                              "flat_fee": {
                                "description": "If pricing table should use using flat fee pricing",
                                "enum": [
                                  true,
                                  false
                                ],
                                "example": true,
                                "type": "boolean",
                                "x-ms-summary": "Flat fee",
                                "x-ms-visibility": "advanced",
                                "x-nullable": true
                              },
                              "value": {
                                "description": "The value for summary price",
                                "type": "string",
                                "x-ms-summary": "Price Value"
                              }
                            },
                            "type": "object",
                            "x-ms-summary": "Price"
                          },
                          "tax": {
                            "properties": {
                              "enabled": {
                                "description": "If pricing table tax should be enabled",
                                "enum": [
                                  true,
                                  false
                                ],
                                "example": true,
                                "type": "boolean",
                                "x-ms-summary": "Enabled",
                                "x-ms-visibility": "advanced",
                                "x-nullable": true
                              },
                              "flat_fee": {
                                "description": "If pricing table should use using flat fee taxes",
                                "enum": [
                                  true,
                                  false
                                ],
                                "example": true,
                                "type": "boolean",
                                "x-ms-summary": "Flat fee",
                                "x-ms-visibility": "advanced",
                                "x-nullable": true
                              },
                              "value": {
                                "description": "The value for summary tax",
                                "type": "string",
                                "x-ms-summary": "Value"
                              }
                            },
                            "type": "object",
                            "x-ms-summary": "Tax"
                          }
                        },
                        "type": "object",
                        "x-ms-summary": "Summary Values",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array",
                  "x-ms-summary": "Pricing",
                  "x-ms-visibility": "advanced"
                },
                "expiration_date": {
                  "description": "Date and time when the document should expire",
                  "format": "date-time",
                  "type": "string",
                  "x-ms-summary": "Expiration date",
                  "x-ms-visibility": "advanced"
                },
                "external_id": {
                  "description": "External system ID for identification",
                  "type": "string",
                  "x-ms-summary": "External ID"
                },
                "file_content": {
                  "description": "Base64 encoded file content",
                  "type": "string",
                  "x-ms-summary": "File content"
                },
                "file_ids": {
                  "description": "Comma-separated, unique file-ids received when uploading files",
                  "type": "string",
                  "x-ms-summary": "File IDs"
                },
                "file_name": {
                  "description": "Filename of the document, with the extension. This will be helpful for converting different file-types.",
                  "type": "string",
                  "x-ms-summary": "File name"
                },
                "file_url": {
                  "description": "Url to document file. Documents must be public available for download",
                  "type": "string",
                  "x-ms-summary": "File URL"
                },
                "is_automatic_sending": {
                  "description": "If the document should be sent after creation",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "Send automatically",
                  "x-ms-visibility": "important",
                  "x-nullable": true
                },
                "is_reminder_sending": {
                  "description": "Should automatic reminders be sent",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "Send reminders",
                  "x-ms-visibility": "advanced",
                  "x-nullable": true
                },
                "is_scheduled_sending": {
                  "description": "Should the sending be scheduled for sending in the future",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "Schedule sending",
                  "x-ms-visibility": "advanced",
                  "x-nullable": true
                },
                "is_signing": {
                  "description": "Should the document be sent for signing",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "Sign document",
                  "x-ms-visibility": "advanced",
                  "x-nullable": true
                },
                "is_signing_biometric": {
                  "description": "Use handwritten signature",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "Handwritten signature",
                  "x-ms-visibility": "advanced",
                  "x-nullable": true
                },
                "is_signing_forward": {
                  "description": "Should recipients be able to transfer signature rights",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "Allow signature transfer",
                  "x-ms-visibility": "advanced",
                  "x-nullable": true
                },
                "is_signing_initials": {
                  "description": "Sign document using recipient initials",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "Sign with initials",
                  "x-ms-visibility": "advanced",
                  "x-nullable": true
                },
                "is_sms_sending": {
                  "description": "Should the document be sent to recipient mobile by text",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "Send SMS",
                  "x-nullable": true
                },
                "name": {
                  "description": "Enter a name of the document",
                  "type": "string",
                  "x-ms-summary": "Document name",
                  "x-ms-visibility": "important"
                },
                "recipients": {
                  "items": {
                    "properties": {
                      "company_name": {
                        "description": "Company name of the recipient",
                        "type": "string",
                        "x-ms-summary": "Company name",
                        "x-ms-visibility": "important"
                      },
                      "company_number": {
                        "description": "Company number of the recipient",
                        "type": "string",
                        "x-ms-summary": "Company number",
                        "x-ms-visibility": "important"
                      },
                      "email": {
                        "description": "Email address of the recipient",
                        "type": "string",
                        "x-ms-summary": "Email",
                        "x-ms-visibility": "important"
                      },
                      "first_name": {
                        "description": "Recipient first name",
                        "type": "string",
                        "x-ms-summary": "First name",
                        "x-ms-visibility": "important"
                      },
                      "last_name": {
                        "description": "Last name of recipient",
                        "type": "string",
                        "x-ms-summary": "Last name",
                        "x-ms-visibility": "important"
                      },
                      "mobile": {
                        "description": "Mobile phone in international format",
                        "type": "string",
                        "x-ms-summary": "Mobile"
                      },
                      "note": {
                        "description": "Additional note for a recipient",
                        "type": "string",
                        "x-ms-summary": "Note",
                        "x-ms-visibility": "advanced"
                      },
                      "order_num": {
                        "description": "If signing order is enabled",
                        "example": 1,
                        "format": "int32",
                        "type": "integer",
                        "x-ms-summary": "Signing order",
                        "x-ms-visibility": "advanced",
                        "x-nullable": true
                      },
                      "role": {
                        "description": "The kind of recipient in the document",
                        "enum": [
                          "signer",
                          "approver",
                          "cc"
                        ],
                        "type": "string",
                        "x-ms-summary": "Recipient type",
                        "x-ms-visibility": "important"
                      },
                      "role_name": {
                        "description": "The name of the role in a template",
                        "type": "string",
                        "x-ms-summary": "Template role",
                        "x-ms-visibility": "important"
                      },
                      "verify_eid": {
                        "description": "Verify using EID",
                        "enum": [
                          true,
                          false
                        ],
                        "example": true,
                        "type": "boolean",
                        "x-ms-summary": "Verify EID",
                        "x-ms-visibility": "advanced",
                        "x-nullable": true
                      },
                      "verify_eid_type": {
                        "description": "EID type to be used for personal verification",
                        "type": "string",
                        "x-ms-summary": "EID type",
                        "x-ms-visibility": "advanced"
                      },
                      "verify_qna": {
                        "description": "Should a question be asked",
                        "enum": [
                          true,
                          false
                        ],
                        "example": true,
                        "type": "boolean",
                        "x-ms-summary": "Enable question",
                        "x-ms-visibility": "advanced",
                        "x-nullable": true
                      },
                      "verify_qna_answer": {
                        "description": "The answer to question",
                        "example": "123456789",
                        "type": "string",
                        "x-ms-summary": "Verification answer",
                        "x-ms-visibility": "advanced"
                      },
                      "verify_qna_open": {
                        "description": "Should question be asked before opening document",
                        "enum": [
                          true,
                          false
                        ],
                        "example": true,
                        "type": "boolean",
                        "x-ms-summary": "Question on open",
                        "x-ms-visibility": "advanced",
                        "x-nullable": true
                      },
                      "verify_qna_question": {
                        "description": "Question to ask for verification",
                        "example": "Enter your SSN",
                        "type": "string",
                        "x-ms-summary": "Verification question",
                        "x-ms-visibility": "advanced"
                      },
                      "verify_qna_sign": {
                        "description": "Should a question be asked before signing",
                        "enum": [
                          true,
                          false
                        ],
                        "example": true,
                        "type": "boolean",
                        "x-ms-summary": "Sign question",
                        "x-ms-visibility": "advanced",
                        "x-nullable": true
                      },
                      "verify_sms": {
                        "description": "Verify recipient by SMS",
                        "enum": [
                          true,
                          false
                        ],
                        "example": true,
                        "type": "boolean",
                        "x-ms-summary": "Verify SMS",
                        "x-ms-visibility": "advanced",
                        "x-nullable": true
                      },
                      "verify_sms_open": {
                        "description": "Verify SMS on open",
                        "enum": [
                          true,
                          false
                        ],
                        "example": true,
                        "type": "boolean",
                        "x-ms-summary": "Verify SMS on open",
                        "x-ms-visibility": "advanced"
                      },
                      "verify_sms_sign": {
                        "description": "Should a SMS verify the recipient before signing",
                        "enum": [
                          true,
                          false
                        ],
                        "example": true,
                        "type": "boolean",
                        "x-ms-summary": "Verify by SMS",
                        "x-ms-visibility": "advanced",
                        "x-nullable": true
                      }
                    },
                    "type": "object"
                  },
                  "type": "array",
                  "x-ms-summary": "Recipient"
                },
                "scheduled_sending_time": {
                  "description": "Date and time when the document should be sent out",
                  "format": "date-time",
                  "type": "string",
                  "x-ms-summary": "Schedule send date",
                  "x-ms-visibility": "advanced"
                },
                "sender_email": {
                  "description": "Send from other email than authenticated user",
                  "type": "string",
                  "x-ms-summary": "Sender email override",
                  "x-ms-visibility": "advanced"
                },
                "sender_id": {
                  "description": "Send from other user than authenticated",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "ListUsers",
                    "value-collection": "users",
                    "value-path": "user_id",
                    "value-title": "email"
                  },
                  "x-ms-summary": "Sender user override",
                  "x-ms-visibility": "advanced"
                },
                "template_id": {
                  "description": "Select a template to use for the sending",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "ListTemplates",
                    "value-collection": "templates",
                    "value-path": "id",
                    "value-title": "name"
                  },
                  "x-ms-summary": "Template ID",
                  "x-ms-visibility": "important"
                },
                "type": {
                  "default": "sales",
                  "description": "Set the type/category of the document",
                  "enum": [
                    "sales",
                    "introduction",
                    "hr",
                    "other"
                  ],
                  "example": "sales",
                  "type": "string",
                  "x-ms-summary": "Document type",
                  "x-ms-visibility": "important"
                },
                "value": {
                  "description": "Value of deal or document",
                  "format": "int32",
                  "type": "integer",
                  "x-ms-summary": "Document value",
                  "x-ms-visibility": "important",
                  "x-nullable": true
                },
                "video_id": {
                  "description": "Select a video to use for the sending",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "ListVideos",
                    "value-collection": "videos",
                    "value-path": "video_id",
                    "value-title": "video_title"
                  },
                  "x-ms-summary": "Video ID",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "You must create a document to be able to send it to a recipient. When creating a document you can refer to previously uploaded files with file_id or you can choose to create a document and upload the files in on API post. You can only upload ONE file when including a file in the create document POST.\n\nUse either file_ids parameter to use existing uploaded file(s), file_content to send the document as base64 encoded string or do a multipart post with file parameter.\n\nAll recipients must have either a valid e-mail or a mobile number.\n\nAll events are recorded using requestor IP address. You can override this using header CLIENT_IP containing the end-users public IP address.",
        "operationId": "CreateDocument",
        "summary": "Create and send document or template"
      }
    },
    "/documents/{documentId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get document details by specifying a document id.",
        "operationId": "GetDocumentDetails",
        "summary": "Get document details"
      }
    },
    "/documents/{documentId}/attachments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Attachments"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get document attachments by specifying a document id.",
        "operationId": "GetDocumentAttachments",
        "summary": "Get document attachments"
      }
    },
    "/documents/{documentId}/download": {
      "get": {
        "produces": [
          "application/json",
          "application/pdf"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          },
          {
            "default": "true",
            "description": "Return the binary file directly",
            "enum": [
              "true",
              "false"
            ],
            "in": "query",
            "name": "direct",
            "type": "string",
            "x-ms-summary": "Return the binary file directly"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Disposition": {
                "type": "string"
              }
            },
            "schema": {
              "properties": {
                "document_url": {
                  "type": "string"
                },
                "file": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Document file can always be downloaded but most likely you want to download it when it has status Signed. \n\nYou can select to receive a download-url or get the binary file.\n\nThe download URL is accessable 10 minutes after a request has been made.",
        "operationId": "DownloadDocument",
        "summary": "Download document",
        "x-ms-visibility": "important"
      }
    },
    "/documents/{documentId}/expiration": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "An optional JSON object containing seal information",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "expiration_date": {
                  "description": "Date and time when the document should expire (UTC)",
                  "format": "date-time",
                  "type": "string",
                  "x-ms-summary": "Expiration date"
                },
                "send_notification": {
                  "default": false,
                  "description": "Should a notification about the update be sent to recipients",
                  "enum": [
                    true,
                    false
                  ],
                  "example": false,
                  "type": "boolean",
                  "x-ms-summary": "Send notification",
                  "x-nullable": true
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "status": {
                  "description": "Status of update",
                  "format": "int32",
                  "type": "integer",
                  "x-ms-summary": "Status",
                  "x-nullable": true
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Use this method to update the expiration date and time for a document.",
        "operationId": "UpdateExpiration",
        "summary": "Update document expiration"
      }
    },
    "/documents/{documentId}/fields": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Fields"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get a list of fields for a document or template. Can be used both before and after a document has been signed.",
        "operationId": "ListDocumentFields",
        "summary": "Get document fields"
      }
    },
    "/documents/{documentId}/recipients": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Recipients"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "Get a list of recipients for a specific document.",
        "operationId": "ListRecipients",
        "summary": "Get document recipients"
      }
    },
    "/documents/{documentId}/seal": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "An optional JSON object containing seal information",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "sender_email": {
                  "description": "Use this to specify the sender user/owner by email address to be used for self-signing the document.",
                  "type": "string"
                },
                "sender_id": {
                  "description": "Use this to specify the sender user/owner by id to be used for self-signing the document.",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "ListUsers",
                    "value-collection": "users",
                    "value-path": "user_id",
                    "value-title": "name"
                  }
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Recipients"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "If you prefer to send the document manually you can use this method to seal the document. Do not use this method if you send the document automatically or if you use the send document method above.\n\nThis API call triggers the document seal action and can only be performed on documents with document_status = draft. The method will return individual access/signing links for each recipient.\n\nIf document was created using self-sign option it will also be self-signed by the authenticated or specified user before sealing.",
        "operationId": "SealDocument",
        "summary": "Seal document",
        "x-ms-visibility": "internal"
      }
    },
    "/documents/{documentId}/send": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Document ID",
            "in": "path",
            "name": "documentId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListDocuments",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Document ID",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "An optional JSON object containing sending information",
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "sender_email": {
                  "description": "Use this to specify the sender user/owner by email address to be used for self-signing the document.",
                  "format": "email",
                  "type": "string"
                },
                "sender_id": {
                  "description": "Use this to specify the sender user/owner by id to be used for self-signing the document.",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "ListUsers",
                    "value-collection": "users",
                    "value-path": "user_id",
                    "value-title": "name"
                  }
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Document"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "When you send a document via GetAccept, we deliver an email to all recipients, each containing a unique, secured link. This API call triggers the document send action and can only be performed on documents with document_status = draft. The document will be sent to recipients you provided when it was created.\n\nIf document was created using self-sign option it will also be self-signed by the authenticated or specified user before sending.",
        "operationId": "SendDocument",
        "summary": "Send existing document",
        "x-ms-visibility": "advanced"
      }
    },
    "/refresh": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "access_token": {
                  "type": "string"
                },
                "expires_in": {
                  "format": "int64",
                  "type": "integer"
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "description": "You can request a refreshed of the access token before the original token has expired.",
        "operationId": "RefreshToken",
        "summary": "Refresh an access token",
        "x-ms-visibility": "internal"
      }
    },
    "/subscriptions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Subscriptions"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Subscriptions"
        ],
        "description": "Receive a list of available subscriptions for the current entity.",
        "operationId": "ListSubscriptions",
        "summary": "List subscriptions",
        "x-ms-visibility": "internal"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing subscription information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "host": {
                  "description": "The host name to send the post to",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "description": "Event trigger",
                  "enum": [
                    "document.created",
                    "document.sent",
                    "document.viewed",
                    "document.reviewed",
                    "document.signed",
                    "document.approved",
                    "document.expired",
                    "document.rejected",
                    "document.downloaded",
                    "document.printed",
                    "document.forwarded",
                    "document.partially_signed",
                    "document.commented",
                    "document.hardbounced",
                    "document.imported"
                  ],
                  "example": "document.signed",
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "ListSubscriptionEvents",
                    "value-path": "value",
                    "value-title": "name"
                  },
                  "x-ms-summary": "Select event",
                  "x-ms-visibility": "important"
                },
                "global": {
                  "default": true,
                  "description": "If the webhook should catch events for all entity users.",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "All entity users",
                  "x-nullable": true
                },
                "notification_email": {
                  "description": "If the event fails, send a notification to this email instead of the sender",
                  "example": "hostmaster@example.com",
                  "type": "string",
                  "x-ms-summary": "Error email",
                  "x-ms-visibility": "advanced"
                },
                "payload": {
                  "description": "Additional payload data to post",
                  "type": "string",
                  "x-ms-summary": "Payload",
                  "x-ms-visibility": "advanced"
                },
                "target_url": {
                  "description": "The URL to post payload to on event",
                  "example": "https://abc.x.pipedream.net/",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "event",
                "target_url"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Subscriptions"
        ],
        "description": "This call will create a new subscription.\nThe response will be wrapped in an array even for single object according to REST hook standards.\n\n>Events\n  * `document.created` - Document is created\n  * `document.sent` - Document is sent\n  * `document.viewed` - Document is sent\n  * `document.signed` - Document is signed\n  * `document.approved` - Document is approved\n  * `document.expired` - Document has expired\n  * `document.rejected` - Document is rejected\n  * `document.downloaded` - Document is downloaded\n  * `document.printed` - Document is printed\n  * `document.forwarded` - Document is forwarded\n  * `document.partially_signed` - Document has been partially signed\n  * `document.commented` - Document is commented\n  * `document.hardbounced` - Document is hardbounced\n  * `document.imported` - Document is imported",
        "operationId": "CreateSubscription",
        "summary": "Subscribe to document events",
        "x-ms-summary": "When a document status changes",
        "x-ms-trigger": "single",
        "x-ms-trigger-hint": "Trigger when a document status is changed",
        "x-ms-visibility": "important"
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/Webhook"
        }
      }
    },
    "/subscriptions/events": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "value": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Subscriptions"
        ],
        "description": "This call will return a list of available subscription events",
        "operationId": "ListSubscriptionEvents",
        "summary": "List available subscription events",
        "x-ms-visibility": "internal"
      }
    },
    "/subscriptions/events/rejected": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing subscription information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "host": {
                  "description": "The host name to send the post to",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "default": "document.rejected",
                  "description": "Event trigger",
                  "type": "string",
                  "x-ms-summary": "Event trigger",
                  "x-ms-visibility": "internal"
                },
                "global": {
                  "default": true,
                  "description": "If the webhook should catch events for all entity users.",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "All entity users",
                  "x-nullable": true
                },
                "notification_email": {
                  "description": "If the event fails, send a notification to this email instead of the sender",
                  "example": "hostmaster@example.com",
                  "type": "string",
                  "x-ms-summary": "Error email",
                  "x-ms-visibility": "advanced"
                },
                "payload": {
                  "description": "Additional payload data to post",
                  "type": "string",
                  "x-ms-summary": "Payload",
                  "x-ms-visibility": "advanced"
                },
                "target_url": {
                  "description": "The URL to post payload to on event",
                  "example": "https://abc.x.pipedream.net/",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "event",
                "target_url"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Others"
        ],
        "description": "Triggers when a document has been rejected by any of the recipients",
        "operationId": "CreateRejectedSubscription",
        "summary": "When a document has been rejected",
        "x-ms-summary": "When a document has been rejected",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important"
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/Webhook"
        }
      }
    },
    "/subscriptions/events/reviewed": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing subscription information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "host": {
                  "description": "The host name to send the post to",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "default": "document.reviewed",
                  "description": "Event trigger",
                  "type": "string",
                  "x-ms-summary": "Event trigger",
                  "x-ms-visibility": "internal"
                },
                "global": {
                  "default": true,
                  "description": "If the webhook should catch events for all entity users.",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "All entity users",
                  "x-nullable": true
                },
                "notification_email": {
                  "description": "If the event fails, send a notification to this email instead of the sender",
                  "example": "hostmaster@example.com",
                  "type": "string",
                  "x-ms-summary": "Error email",
                  "x-ms-visibility": "advanced"
                },
                "payload": {
                  "description": "Additional payload data to post",
                  "type": "string",
                  "x-ms-summary": "Payload",
                  "x-ms-visibility": "advanced"
                },
                "target_url": {
                  "description": "The URL to post payload to on event",
                  "example": "https://abc.x.pipedream.net/",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "event",
                "target_url"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Others"
        ],
        "description": "Triggers when a document has been reviewed by any of the recipients",
        "operationId": "CreateReviewedSubscription",
        "summary": "When a document has been reviewed",
        "x-ms-summary": "When a document has been reviewed",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important"
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/Webhook"
        }
      }
    },
    "/subscriptions/events/signed": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing subscription information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "host": {
                  "description": "The host name to send the post to",
                  "type": "string",
                  "x-ms-visibility": "internal"
                },
                "event": {
                  "default": "document.signed",
                  "description": "Event trigger",
                  "type": "string",
                  "x-ms-summary": "Event trigger",
                  "x-ms-visibility": "internal"
                },
                "global": {
                  "default": true,
                  "description": "If the webhook should catch events for all entity users.",
                  "enum": [
                    true,
                    false
                  ],
                  "example": true,
                  "type": "boolean",
                  "x-ms-summary": "All entity users",
                  "x-nullable": true
                },
                "notification_email": {
                  "description": "If the event fails, send a notification to this email instead of the sender",
                  "example": "hostmaster@example.com",
                  "type": "string",
                  "x-ms-summary": "Error email",
                  "x-ms-visibility": "advanced"
                },
                "payload": {
                  "description": "Additional payload data to post",
                  "type": "string",
                  "x-ms-summary": "Payload",
                  "x-ms-visibility": "advanced"
                },
                "target_url": {
                  "description": "The URL to post payload to on event",
                  "example": "https://abc.x.pipedream.net/",
                  "type": "string",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "event",
                "target_url"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Others"
        ],
        "description": "Triggers when a document has been signed by all signing parties",
        "operationId": "CreateSignedSubscription",
        "summary": "When a document has been signed",
        "x-ms-summary": "When a document has been signed",
        "x-ms-trigger": "single",
        "x-ms-visibility": "important"
      },
      "x-ms-notification-content": {
        "schema": {
          "$ref": "#/definitions/Webhook"
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "delete": {
        "parameters": [
          {
            "description": "Subscription ID",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Subscriptions"
        ],
        "description": "Delete a single subscription.",
        "operationId": "DeleteSubscription",
        "summary": "Delete subscription",
        "x-ms-visibility": "internal"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Subscription ID",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string",
            "x-ms-summary": "Subscription ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Subscriptions"
        ],
        "description": "This call will return details of a single subscription",
        "operationId": "GetSubscriptionDetails",
        "summary": "Get subscription details",
        "x-ms-visibility": "internal"
      }
    },
    "/templates": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "true",
            "description": "Show all templates for entity",
            "in": "query",
            "name": "showall",
            "type": "string",
            "x-ms-summary": "Show all"
          },
          {
            "description": "Show templates in a specific folder",
            "in": "query",
            "name": "folder_id",
            "type": "string",
            "x-ms-summary": "Folder ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "templates": {
                  "items": {
                    "properties": {
                      "tags": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string"
                      },
                      "external_editor_type": {
                        "type": "string"
                      },
                      "field_count": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "id": {
                        "type": "string"
                      },
                      "is_editable": {
                        "type": "boolean"
                      },
                      "is_private": {
                        "type": "boolean"
                      },
                      "name": {
                        "type": "string"
                      },
                      "page_count": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "role_count": {
                        "format": "int32",
                        "type": "integer"
                      },
                      "sender_name": {
                        "type": "string"
                      },
                      "sender_thumb_url": {
                        "type": "string"
                      },
                      "thumb_url": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      },
                      "user_id": {
                        "type": "string"
                      },
                      "video_id": {
                        "type": "string"
                      },
                      "video_thumb_url": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Templates"
        ],
        "description": "Receive a list of available document templates. You can add new templates under the Templates-section in GetAccept.",
        "operationId": "ListTemplates",
        "summary": "List templates",
        "x-ms-visibility": "important"
      }
    },
    "/templates/{templateId}/fields": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Template ID",
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListTemplates",
              "value-collection": "templates",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Fields"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Templates"
        ],
        "description": "Receive a list of fields for a specific template.",
        "operationId": "ListFields",
        "summary": "Get template fields"
      }
    },
    "/templates/{templateId}/pricing-tables": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Template ID",
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListTemplates",
              "value-collection": "templates",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PricingTables"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Templates"
        ],
        "description": "Receive a list of pricing-table items for a specific template.",
        "operationId": "GetPricingTables",
        "summary": "Get template pricing tables"
      }
    },
    "/templates/{templateId}/roles": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Template ID",
            "in": "path",
            "name": "templateId",
            "required": true,
            "type": "string",
            "x-ms-dynamic-values": {
              "operationId": "ListTemplates",
              "value-collection": "templates",
              "value-path": "id",
              "value-title": "name"
            },
            "x-ms-summary": "Template ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "roles": {
                  "items": {
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "first_name": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "mobile": {
                        "type": "string"
                      },
                      "role": {
                        "type": "string"
                      },
                      "role_id": {
                        "type": "string"
                      },
                      "role_name": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Templates"
        ],
        "description": "Receive a list of roles for a specific template.",
        "operationId": "ListRoles",
        "summary": "Get template roles"
      }
    },
    "/upload": {
      "post": {
        "consumes": [
          "application/json",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing the uploaded document information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "file_content": {
                  "description": "Send the file as base64 encoded. Note that base64 encoding files will increase the file size with about 30%",
                  "type": "string",
                  "x-ms-summary": "File content"
                },
                "file_name": {
                  "description": "Filename of the document, with the extension. This will be helpful for converting different file-types.",
                  "type": "string",
                  "x-ms-summary": "File name"
                },
                "file_url": {
                  "description": "Url to document file. File must be available for download without any authorization",
                  "type": "string",
                  "x-ms-summary": "File URL"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "file_id": {
                  "description": "ID of the uploaded file to be used in file_ids when creating a document",
                  "type": "string"
                },
                "file_status": {
                  "description": "Status of the uploaded file",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Documents"
        ],
        "description": "You can upload one file at a time and get a file id. The file id is used to connect a file with a GetAccept document which is sent to recipients. If you want to upload mutliple files you run multiple POST. We only accept files up to 10 MB as default. Uploaded file need to be imported/added to a document within 48 hours after uploading.\n\nWe recommended you to upload PDF files in order to guarantee the same look when sent. Other file types can be converted, such as:\n\nMirosoft Office: doc, docx, xl, xls, xlsx, ppt, pptx\nMac: numbers, key\nImages: jpg, jpeg, png\nOther: html, tex, csv",
        "operationId": "UploadDocument",
        "summary": "Upload a document file",
        "x-ms-visibility": "important"
      }
    },
    "/upload/attachment": {
      "post": {
        "consumes": [
          "application/json",
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "A JSON object containing the uploaded attachment information",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "properties": {
                "file_content": {
                  "description": "Send the file as base64 encoded. Note that base64 encoding files will increase the file size with about 30%",
                  "type": "string",
                  "x-ms-summary": "File content"
                },
                "file_name": {
                  "description": "Filename of the document, with the extension. This will be helpful for converting different file-types.",
                  "type": "string",
                  "x-ms-summary": "File name"
                },
                "file_url": {
                  "description": "Url to document file. File must be available for download without any authorization",
                  "type": "string",
                  "x-ms-summary": "File URL"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "filename": {
                  "description": "File name of the attachment",
                  "type": "string",
                  "x-ms-summary": "File name"
                },
                "id": {
                  "description": "ID of the uploaded attachment to be used in attachment_id when creating a document",
                  "type": "string",
                  "x-ms-summary": "Attachment ID"
                },
                "title": {
                  "description": "Title of the attachment",
                  "type": "string",
                  "x-ms-summary": "Attachment title"
                },
                "type": {
                  "description": "Type of the attachment",
                  "type": "string",
                  "x-ms-summary": "Attachment type"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "Invalid data",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [
          "Attachments"
        ],
[...]
