{
  "swagger": "2.0",
  "info": {
    "title": "apolloenrichment2",
    "description": "Connector for Apollo.io Enrichment APIs: single and bulk match",
    "version": "1.0"
  },
  "host": "api.apollo.io",
  "basePath": "/api/v1",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/people/match": {
      "post": {
        "summary": "Single Person Enrichment",
        "description": "Enrich a person using email or name/domain.",
        "operationId": "enrichPerson",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": { "type": "string" },
                "first_name": { "type": "string" },
                "last_name": { "type": "string" },
                "organization_name": { "type": "string" },
                "domain": { "type": "string" },
                "reveal_personal_emails": { "type": "boolean" },
                "reveal_phone_numbers": { "type": "boolean" }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/people/bulk_match": {
      "post": {
        "summary": "Bulk People Enrichment",
        "description": "Enrich up to 10 people in one call.",
        "operationId": "bulkEnrichPeople",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "queries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": { "type": "string" },
                      "first_name": { "type": "string" },
                      "last_name": { "type": "string" },
                      "organization_name": { "type": "string" },
                      "domain": { "type": "string" }
                    }
                  },
                  "maxItems": 10
                },
                "reveal_personal_emails": { "type": "boolean" },
                "reveal_phone_numbers": { "type": "boolean" }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "X-Api-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ]
}
