{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Apollo Enrichment",
    "description": "Apollo Enrichment Apollo Enrichment Apollo Enrichment"
  },
  "host": "api.apollo.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "X-Api-Key",
      "in": "header",
      "description": "Your Apollo API Key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/api/v1/people/match": {
      "post": {
        "summary": "Enrich Contact",
        "description": "Enrich Contact Information",
        "operationId": "PeopleMatch",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "reveal_personal_emails": {
                  "type": "boolean"
                },
                "reveal_phone_numbers": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "person": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/enrich": {
      "post": {
        "summary": "Enrich Account",
        "description": "Enrich Account Information",
        "operationId": "OrgMatch",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "organization": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}