{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Apollo Enrichment",
    "description": "Apollo Enrichment Apollo Enrichment Apollo Enrichment"
  },
  "host": "api.apollo.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/people/match": {
      "post": {
        "summary": "Enrich Contact",
        "description": "Enrich Contact Information",
        "operationId": "PeopleMatch",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "B77T7_5ZuWuyhE5PRhxuHw",
            "description": "X-Api-Key"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "reveal_personal_emails": {
                  "type": "boolean",
                  "description": "reveal_personal_emails"
                },
                "reveal_phone_numbers": {
                  "type": "boolean",
                  "description": "reveal_phone_numbers"
                }
              },
              "default": {
                "email": "steve@forceworks.com",
                "reveal_personal_emails": true,
                "reveal_phone_numbers": true
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "person": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "first_name"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "last_name"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "title": {
                      "type": "string",
                      "description": "title"
                    },
                    "headline": {
                      "type": "string",
                      "description": "headline"
                    },
                    "linkedin_url": {
                      "type": "string",
                      "description": "linkedin_url"
                    },
                    "photo_url": {
                      "type": "string",
                      "description": "photo_url"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "email_status": {
                      "type": "string",
                      "description": "email_status"
                    },
                    "phone_numbers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sanitized_number": {
                            "type": "string",
                            "description": "sanitized_number"
                          }
                        }
                      },
                      "description": "phone_numbers"
                    },
                    "organization": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "domain": {
                          "type": "string",
                          "description": "domain"
                        },
                        "website_url": {
                          "type": "string",
                          "description": "website_url"
                        },
                        "linkedin_url": {
                          "type": "string",
                          "description": "linkedin_url"
                        },
                        "phone": {
                          "type": "string",
                          "description": "phone"
                        },
                        "industry": {
                          "type": "string",
                          "description": "industry"
                        },
                        "estimated_num_employees": {
                          "type": "integer",
                          "format": "int32",
                          "description": "estimated_num_employees"
                        },
                        "city": {
                          "type": "string",
                          "description": "city"
                        },
                        "state": {
                          "type": "string",
                          "description": "state"
                        },
                        "country": {
                          "type": "string",
                          "description": "country"
                        }
                      },
                      "description": "organization"
                    }
                  },
                  "description": "person"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/enrich": {
      "post": {
        "summary": "Enrich Account",
        "description": "Enrich Account Information",
        "operationId": "OrgMatch",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "B77T7_5ZuWuyhE5PRhxuHw",
            "description": "X-Api-Key"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string",
                  "description": "domain"
                }
              },
              "default": {
                "domain": "rapidstart.com"
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "organization": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "website_url": {
                      "type": "string",
                      "description": "website_url"
                    },
                    "blog_url": {
                      "type": "string",
                      "description": "blog_url"
                    },
                    "angellist_url": {
                      "type": "string",
                      "description": "angellist_url"
                    },
                    "linkedin_url": {
                      "type": "string",
                      "description": "linkedin_url"
                    },
                    "twitter_url": {
                      "type": "string",
                      "description": "twitter_url"
                    },
                    "facebook_url": {
                      "type": "string",
                      "description": "facebook_url"
                    },
                    "primary_phone": {
                      "type": "object",
                      "properties": {},
                      "description": "primary_phone"
                    },
                    "languages": {
                      "type": "array",
                      "items": {},
                      "description": "languages"
                    },
                    "alexa_ranking": {
                      "type": "integer",
                      "format": "int32",
                      "description": "alexa_ranking"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone"
                    },
                    "linkedin_uid": {
                      "type": "string",
                      "description": "linkedin_uid"
                    },
                    "founded_year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "founded_year"
                    },
                    "publicly_traded_symbol": {
                      "type": "string",
                      "description": "publicly_traded_symbol"
                    },
                    "publicly_traded_exchange": {
                      "type": "string",
                      "description": "publicly_traded_exchange"
                    },
                    "logo_url": {
                      "type": "string",
                      "description": "logo_url"
                    },
                    "crunchbase_url": {
                      "type": "string",
                      "description": "crunchbase_url"
                    },
                    "primary_domain": {
                      "type": "string",
                      "description": "primary_domain"
                    },
                    "industry": {
                      "type": "string",
                      "description": "industry"
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "keywords"
                    },
                    "estimated_num_employees": {
                      "type": "integer",
                      "format": "int32",
                      "description": "estimated_num_employees"
                    },
                    "industries": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "industries"
                    },
                    "secondary_industries": {
                      "type": "array",
                      "items": {},
                      "description": "secondary_industries"
                    },
                    "snippets_loaded": {
                      "type": "boolean",
                      "description": "snippets_loaded"
                    },
                    "industry_tag_id": {
                      "type": "string",
                      "description": "industry_tag_id"
                    },
                    "industry_tag_hash": {
                      "type": "object",
                      "properties": {
                        "information technology & services": {
                          "type": "string",
                          "description": "information technology & services"
                        }
                      },
                      "description": "industry_tag_hash"
                    },
                    "retail_location_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "retail_location_count"
                    },
                    "raw_address": {
                      "type": "string",
                      "description": "raw_address"
                    },
                    "street_address": {
                      "type": "string",
                      "description": "street_address"
                    },
                    "city": {
                      "type": "string",
                      "description": "city"
                    },
                    "state": {
                      "type": "string",
                      "description": "state"
                    },
                    "postal_code": {
                      "type": "string",
                      "description": "postal_code"
                    },
                    "country": {
                      "type": "string",
                      "description": "country"
                    },
                    "owned_by_organization_id": {
                      "type": "string",
                      "description": "owned_by_organization_id"
                    },
                    "seo_description": {
                      "type": "string",
                      "description": "seo_description"
                    },
                    "short_description": {
                      "type": "string",
                      "description": "short_description"
                    },
                    "suborganizations": {
                      "type": "array",
                      "items": {},
                      "description": "suborganizations"
                    },
                    "num_suborganizations": {
                      "type": "integer",
                      "format": "int32",
                      "description": "num_suborganizations"
                    },
                    "annual_revenue_printed": {
                      "type": "string",
                      "description": "annual_revenue_printed"
                    },
                    "annual_revenue": {
                      "type": "number",
                      "format": "float",
                      "description": "annual_revenue"
                    },
                    "total_funding": {
                      "type": "integer",
                      "format": "int32",
                      "description": "total_funding"
                    },
                    "total_funding_printed": {
                      "type": "string",
                      "description": "total_funding_printed"
                    },
                    "latest_funding_round_date": {
                      "type": "string",
                      "description": "latest_funding_round_date"
                    },
                    "latest_funding_stage": {
                      "type": "string",
                      "description": "latest_funding_stage"
                    },
                    "funding_events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "date": {
                            "type": "string",
                            "description": "date"
                          },
                          "news_url": {
                            "type": "string",
                            "description": "news_url"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          },
                          "investors": {
                            "type": "string",
                            "description": "investors"
                          },
                          "amount": {
                            "type": "string",
                            "description": "amount"
                          },
                          "currency": {
                            "type": "string",
                            "description": "currency"
                          }
                        }
                      },
                      "description": "funding_events"
                    },
                    "technology_names": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "technology_names"
                    },
                    "current_technologies": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uid": {
                            "type": "string",
                            "description": "uid"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "category": {
                            "type": "string",
                            "description": "category"
                          }
                        }
                      },
                      "description": "current_technologies"
                    },
                    "org_chart_root_people_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "org_chart_root_people_ids"
                    },
                    "org_chart_sector": {
                      "type": "string",
                      "description": "org_chart_sector"
                    },
                    "org_chart_removed": {
                      "type": "boolean",
                      "description": "org_chart_removed"
                    },
                    "org_chart_show_department_filter": {
                      "type": "boolean",
                      "description": "org_chart_show_department_filter"
                    },
                    "account_id": {
                      "type": "string",
                      "description": "account_id"
                    },
                    "account": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "id"
                        },
                        "domain": {
                          "type": "string",
                          "description": "domain"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "team_id": {
                          "type": "string",
                          "description": "team_id"
                        },
                        "organization_id": {
                          "type": "string",
                          "description": "organization_id"
                        },
                        "account_stage_id": {
                          "type": "string",
                          "description": "account_stage_id"
                        },
                        "source": {
                          "type": "string",
                          "description": "source"
                        },
                        "original_source": {
                          "type": "string",
                          "description": "original_source"
                        },
                        "creator_id": {
                          "type": "string",
                          "description": "creator_id"
                        },
                        "owner_id": {
                          "type": "string",
                          "description": "owner_id"
                        },
                        "created_at": {
                          "type": "string",
                          "description": "created_at"
                        },
                        "phone": {
                          "type": "string",
                          "description": "phone"
                        },
                        "phone_status": {
                          "type": "string",
                          "description": "phone_status"
                        },
                        "hubspot_id": {
                          "type": "string",
                          "description": "hubspot_id"
                        },
                        "salesforce_id": {
                          "type": "string",
                          "description": "salesforce_id"
                        },
                        "crm_owner_id": {
                          "type": "string",
                          "description": "crm_owner_id"
                        },
                        "parent_account_id": {
                          "type": "string",
                          "description": "parent_account_id"
                        },
                        "linkedin_url": {
                          "type": "string",
                          "description": "linkedin_url"
                        },
                        "sanitized_phone": {
                          "type": "string",
                          "description": "sanitized_phone"
                        },
                        "account_playbook_statuses": {
                          "type": "array",
                          "items": {},
                          "description": "account_playbook_statuses"
                        },
                        "account_rule_config_statuses": {
                          "type": "array",
                          "items": {},
                          "description": "account_rule_config_statuses"
                        },
                        "existence_level": {
                          "type": "string",
                          "description": "existence_level"
                        },
                        "label_ids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "label_ids"
                        },
                        "typed_custom_fields": {
                          "type": "object",
                          "properties": {},
                          "description": "typed_custom_fields"
                        },
                        "custom_field_errors": {
                          "type": "object",
                          "properties": {},
                          "description": "custom_field_errors"
                        },
                        "modality": {
                          "type": "string",
                          "description": "modality"
                        },
                        "source_display_name": {
                          "type": "string",
                          "description": "source_display_name"
                        },
                        "crm_record_url": {
                          "type": "string",
                          "description": "crm_record_url"
                        },
                        "intent_strength": {
                          "type": "string",
                          "description": "intent_strength"
                        },
                        "show_intent": {
                          "type": "boolean",
                          "description": "show_intent"
                        },
                        "has_intent_signal_account": {
                          "type": "boolean",
                          "description": "has_intent_signal_account"
                        },
                        "intent_signal_account": {
                          "type": "string",
                          "description": "intent_signal_account"
                        }
                      },
                      "description": "account"
                    },
                    "departmental_head_count": {
                      "type": "object",
                      "properties": {
                        "engineering": {
                          "type": "integer",
                          "format": "int32",
                          "description": "engineering"
                        },
                        "operations": {
                          "type": "integer",
                          "format": "int32",
                          "description": "operations"
                        },
                        "support": {
                          "type": "integer",
                          "format": "int32",
                          "description": "support"
                        },
                        "marketing": {
                          "type": "integer",
                          "format": "int32",
                          "description": "marketing"
                        },
                        "human_resources": {
                          "type": "integer",
                          "format": "int32",
                          "description": "human_resources"
                        },
                        "sales": {
                          "type": "integer",
                          "format": "int32",
                          "description": "sales"
                        },
                        "finance": {
                          "type": "integer",
                          "format": "int32",
                          "description": "finance"
                        },
                        "consulting": {
                          "type": "integer",
                          "format": "int32",
                          "description": "consulting"
                        },
                        "legal": {
                          "type": "integer",
                          "format": "int32",
                          "description": "legal"
                        },
                        "arts_and_design": {
                          "type": "integer",
                          "format": "int32",
                          "description": "arts_and_design"
                        },
                        "accounting": {
                          "type": "integer",
                          "format": "int32",
                          "description": "accounting"
                        },
                        "business_development": {
                          "type": "integer",
                          "format": "int32",
                          "description": "business_development"
                        },
                        "information_technology": {
                          "type": "integer",
                          "format": "int32",
                          "description": "information_technology"
                        },
                        "education": {
                          "type": "integer",
                          "format": "int32",
                          "description": "education"
                        },
                        "media_and_commmunication": {
                          "type": "integer",
                          "format": "int32",
                          "description": "media_and_commmunication"
                        },
                        "product_management": {
                          "type": "integer",
                          "format": "int32",
                          "description": "product_management"
                        },
                        "entrepreneurship": {
                          "type": "integer",
                          "format": "int32",
                          "description": "entrepreneurship"
                        },
                        "data_science": {
                          "type": "integer",
                          "format": "int32",
                          "description": "data_science"
                        },
                        "administrative": {
                          "type": "integer",
                          "format": "int32",
                          "description": "administrative"
                        }
                      },
                      "description": "departmental_head_count"
                    }
                  },
                  "description": "organization"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/people/bulk_match": {
      "post": {
        "summary": "https://api.apollo.io/api/v1/people/bulk_match",
        "description": "https://api.apollo.io/api/v1/people/bulk_match",
        "operationId": "BulkPeopleMatch",
        "parameters": [
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "B77T7_5ZuWuyhE5PRhxuHw",
            "description": "X-Api-Key"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "queries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "email"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "first_name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "last_name"
                      },
                      "domain": {
                        "type": "string",
                        "description": "domain"
                      }
                    }
                  },
                  "description": "queries"
                },
                "reveal_personal_emails": {
                  "type": "boolean",
                  "description": "reveal_personal_emails"
                },
                "reveal_phone_number": {
                  "type": "boolean",
                  "description": "reveal_phone_number"
                }
              },
              "default": {
                "queries": [
                  {
                    "email": "jane.doe@example.com",
                    "first_name": "Mark",
                    "last_name": "Zuckerberg",
                    "domain": "facebook.com"
                  },
                  {
                    "first_name": "Mark",
                    "last_name": "Zuckerberg",
                    "domain": "facebook.com"
                  }
                ],
                "reveal_personal_emails": true,
                "reveal_phone_number": true
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    },
    "/api/v1/organizations/bulk_enrich": {
      "post": {
        "summary": "https://api.apollo.io/api/v1/organizations/bulk_enrich",
        "description": "https://api.apollo.io/api/v1/organizations/bulk_enrich",
        "operationId": "BulkOrgMatch",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type"
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "B77T7_5ZuWuyhE5PRhxuHw",
            "description": "X-Api-Key"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "queries": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "domain": {
                        "type": "string",
                        "description": "domain"
                      }
                    }
                  },
                  "description": "queries"
                }
              },
              "default": {
                "queries": [
                  {
                    "domain": "spotify.com"
                  },
                  {
                    "domain": "netflix.com"
                  },
                  {
                    "domain": "spotify.com"
                  }
                ]
              }
            },
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}