{
  "swagger": "2.0",
  "info": {
    "title": "Apollo Enrichment",
    "description": "Apollo Enrichment Apollo Enrichment Apollo Enrichment",
    "version": "1.0"
  },
  "host": "api.apollo.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v1/people/match": {
      "post": {
        "summary": "Enrich Contact",
        "description": "Enrich Contact Information",
        "operationId": "EnrichContact",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "reveal_personal_emails": {
                  "type": "boolean"
                },
                "reveal_phone_numbers": {
                  "type": "boolean"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Enriched person details",
            "schema": {
              "type": "object",
              "properties": {
                "person": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "first_name": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "linkedin_url": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "email_status": {
                      "type": "string"
                    },
                    "photo_url": {
                      "type": "string"
                    },
                    "headline": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "organization_id": {
                      "type": "string"
                    },
                    "employment_history": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "organization_name": {
                            "type": "string"
                          },
                          "start_date": {
                            "type": "string"
                          },
                          "end_date": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "current": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "state": {
                      "type": "string"
                    },
                    "city": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "organization": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "website_url": {
                          "type": "string"
                        },
                        "linkedin_url": {
                          "type": "string"
                        },
                        "phone": {
                          "type": "string"
                        },
                        "industry": {
                          "type": "string"
                        },
                        "estimated_num_employees": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "city": {
                          "type": "string"
                        },
                        "state": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/enrich": {
      "post": {
        "summary": "Enrich Account",
        "description": "Enrich Account Information",
        "operationId": "EnrichAccount",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "domain": {
                  "type": "string"
                }
              },
              "required": [
                "domain"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Enriched organization details",
            "schema": {
              "type": "object",
              "properties": {
                "organization": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "website_url": {
                      "type": "string"
                    },
                    "linkedin_url": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "industry": {
                      "type": "string"
                    },
                    "estimated_num_employees": {
                      "type": "integer"
                    },
                    "city": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    },
                    "country": {
                      "type": "string"
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "technology_names": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "founded_year": {
                      "type": "integer"
                    },
                    "total_funding": {
                      "type": "integer"
                    },
                    "annual_revenue": {
                      "type": "number"
                    },
                    "logo_url": {
                      "type": "string"
                    },
                    "industry_tag_hash": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    },
                    "departmental_head_count": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Api-Key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}