{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Dokobit Universal API",
    "description": "Dokobit Universal API is a versatile tool that enables signing documents internally, within your system, and collecting signatures from 3rd parties outside your system, using a wide variety of eID tools. Document signing takes place in an accountless Dokobit signing interface with your organization's branding.",
    "contact": {
      "name": "Dokobit",
      "url": "https://support.dokobit.com",
      "email": "developers@dokobit.com"
    }
  },
  "host": "app.dokobit.com",
  "basePath": "/api/connector",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/signing-external/create.json": {
      "post": {
        "summary": "Dokobit Universal API - Create External Signing",
        "consumes": [
          "application/json"
        ],
        "description": "External signing initiates asynchronous signing request from your system. In this case user receives an email for signing and you will get a callback once he signs the document.",
        "operationId": "DokobitUniversalAPICreateExternalSigning",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "type",
                "name",
                "files",
                "signers"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Document format. Available values: `pdf`|`asice`|`adoc`|`adoc.cedoc`|`bdoc`|`edoc`.",
                  "x-ms-summary title": "Type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "pdf",
                    "asice",
                    "adoc",
                    "adoc.cedoc",
                    "bdoc",
                    "edoc"
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Signing name displayed for user.",
                  "x-ms-summary title": "Name",
                  "x-ms-visibility": "important"
                },
                "postback_url": {
                  "type": "string",
                  "description": "URL of your system to handle webhooks.",
                  "x-ms-summary title": "Postback URL",
                  "x-ms-visibility": "important"
                },
                "deadline": {
                  "type": "string",
                  "description": "Signing deadline date with specified timezone fragment. Example: 2018-11-05T13:15:30Z.",
                  "x-ms-summary title": "Deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "hard_deadline": {
                  "type": "boolean",
                  "description": "If set to `true` participants won\u2019t be able to sign this document after set `deadline`. Default: `false`",
                  "x-ms-summary title": "Hard Deadline",
                  "enum": [
                    false,
                    true
                  ]
                },
                "require_qualified_signatures": {
                  "type": "boolean",
                  "description": "Allow to sign only with qualified signatures. Default: `false`",
                  "x-ms-summary title": "Require Qualified Signatures",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "annotation_position": {
                  "type": "string",
                  "description": "You can choose the position of signature annotations on a PDF document. Available values: `first_top`|`first_bottom`|`last_top`|`last_bottom`|`none`. Default: `first_top`",
                  "x-ms-summary title": "Annotation Position",
                  "x-ms-visibility": "important",
                  "enum": [
                    "first_top",
                    "first_bottom",
                    "last_top",
                    "last_bottom",
                    "none"
                  ]
                },
                "annotation_personal_code": {
                  "type": "boolean",
                  "description": "If set to `true` personal code will be visible in annotation. Only applicable for PDF type signing. Default: `false`",
                  "x-ms-summary title": "Annotation Personal Code",
                  "enum": [
                    false,
                    true
                  ]
                },
                "comment": {
                  "type": "string",
                  "description": "Message for participants",
                  "x-ms-summary title": "Comment"
                },
                "allow_video_identification": {
                  "type": "boolean",
                  "description": "Allow to sign using video-based identification. Default: `false`",
                  "x-ms-summary title": "Allow Video Identification",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allow_document_saving": {
                  "type": "boolean",
                  "description": "Allow user to save document to the Dokobit Portal and make further actions. Default: `true`.",
                  "x-ms-summary title": "Allow Document Saving",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "flatten_pdf": {
                  "type": "boolean",
                  "description": "If set to true the document will be flattened so that the form fields become part of the document content and cannot be edited after signing. Only applicable for PDF type signing.",
                  "x-ms-summary title": "Flatten PDF",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allowed_signing_methods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Allow only specific signing methods. Available values: `mobile`, `smartid`, `smartcard`, `eparaksts_mobile`, `bankid_no`, `bankid_se`, `audkenni_app`, `ftn`, `mitid`, `nemid`, `electronic_id`, `itsme`, `idin`, `swisscom`",
                  "x-ms-summary title": "Allowed Signing Methods",
                  "x-ms-visibility": "important"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "name",
                      "content"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "File name.",
                        "x-ms-summary title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "content": {
                        "type": "string",
                        "description": "Base64 encoded file content."
                      }
                    }
                  },
                  "description": "File or files to be signed."
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "external_id"
                    ],
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique signer identifier from your system. You can generate random identifiers if you do not have one.",
                        "x-ms-summary title": "External ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Participant's name.",
                        "x-ms-summary title": "Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's surname.",
                        "x-ms-summary title": "Surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail.",
                        "x-ms-summary title": "E-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number).",
                        "x-ms-summary title": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country code. Required if personal code is provided.",
                        "x-ms-summary title": "Country Code"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role. Default: `signer`",
                        "x-ms-summary title": "Role",
                        "x-ms-visibility": "important",
                        "enum": [
                          "signer",
                          "viewer"
                        ]
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company name.",
                        "x-ms-summary title": "Company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position.",
                        "x-ms-summary title": "Position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone number.",
                        "x-ms-summary title": "Phone"
                      },
                      "sequence": {
                        "type": "integer",
                        "description": "Allows setting up the sequence order of document approving and signing actions.",
                        "x-ms-summary title": "Sequence"
                      },
                      "notifications_language": {
                        "type": "string",
                        "description": "Sets the language for notifications. Available values: `en`, `lt`, `lv`, `ee`, `is`, `no`.",
                        "x-ms-summary title": "Notifications Language"
                      },
                      "custom_reason": {
                        "type": "string",
                        "description": "Custom signature reason.",
                        "x-ms-summary title": "Custom Reason"
                      }
                    }
                  },
                  "description": "Participant's information."
                }
              }
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Signing status"
                },
                "token": {
                  "type": "string",
                  "description": "Signing token",
                  "title": "token"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique signer identifier from your system. You can generate random identifiers if you do not have one.",
                        "title": "External ID"
                      },
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "title": "signer.token"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Participant's first name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Participant's last name"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number)"
                      },
                      "country": {
                        "type": "string",
                        "description": "Participant's country"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail"
                      }
                    }
                  },
                  "description": "Participant's information"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/signing-external/{token}/status.json": {
      "get": {
        "summary": "Dokobit Universal API - Check External Signing Status",
        "description": "Returns document's information with signing status.",
        "operationId": "DokobitUniversalAPICheckExternalSigningStatus",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                },
                "name": {
                  "type": "string",
                  "description": "Signing name",
                  "x-ms-summary title": "Name"
                },
                "type": {
                  "type": "string",
                  "description": "Document Type",
                  "x-ms-summary title": "Type"
                },
                "date_created": {
                  "type": "string",
                  "description": "Date when document signing was initiated",
                  "x-ms-summary title": "Date Created"
                },
                "deadline": {
                  "type": "string",
                  "description": "Signing deadline date with specified timezone fragment. Example: 2018-11-05T13:15:30Z",
                  "title": "deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "filename": {
                  "type": "string",
                  "description": "Name of the file",
                  "x-ms-summary title": "File Name"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "File Name",
                        "x-ms-summary title": "File Name"
                      },
                      "url": {
                        "type": "string",
                        "description": "File Download URL",
                        "x-ms-summary title": "File Download URL"
                      },
                      "mime_type": {
                        "type": "string",
                        "description": "File MIME Type",
                        "x-ms-summary title": "File MIME Type"
                      }
                    }
                  }
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "x-ms-summary title": "Signer Token"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Participant's first name",
                        "x-ms-summary title": "First Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Participant's surname",
                        "x-ms-summary title": "Surname"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's code",
                        "x-ms-summary title": "Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Participant's country",
                        "x-ms-summary title": "Country"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail",
                        "x-ms-summary title": "E-mail"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type",
                        "x-ms-summary title": "Type"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status",
                        "x-ms-summary title": "Status"
                      }
                    }
                  },
                  "description": "Participant information"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/signing-external/{token}/download": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Dokobit Universal API - Download Document External",
        "description": "Downloads the signed document.",
        "operationId": "DokobitUniversalAPIDownloadDocumentExternal",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/signing-external/{token}/remind.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Dokobit Universal API - Send Reminder",
        "description": "Allows to send a reminder e-mail for participant, only if person has not signed document yet. Only works with external signing flow.",
        "operationId": "DokobitUniversalAPIReminder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "signer": {
                  "type": "string",
                  "description": "Participant's token",
                  "x-ms-summary title": "Signer Token"
                },
                "message": {
                  "type": "string",
                  "description": "Reminder message to signer",
                  "x-ms-summary title": "Message"
                }
              },
              "required": [
                "signer"
              ]
            }
          }
        ]
      }
    },
    "/signing-external/{token}/signers/add.json": {
      "post": {
        "summary": "Dokobit Universal API - Add External Signer",
        "consumes": [
          "application/json"
        ],
        "description": "Indicated participants will gain access to the document with the selected role.",
        "operationId": "DokobitUniversalAPIAddExternalSigner",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique signer identifier from your system. You can generate random identifiers if you do not have one.",
                        "x-ms-summary title": "External ID"
                      },
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "title": "signer.token"
                      },
                      "name": {
                        "type": "string",
                        "description": "Participant's first name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's last name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number)"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role",
                        "x-ms-visibility": "important"
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position"
                      },
                      "notifications_language": {
                        "type": "string",
                        "description": "Sets the language for notifications. Available values: `en`, `lt`, `lv`, `ee`, `is`, `no`.",
                        "x-ms-summary title": "Notifications Language"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone"
                      }
                    }
                  },
                  "description": "Participant's information"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "external_id"
                    ],
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique signer identifier from your system. You can generate random identifiers if you do not have one.",
                        "x-ms-summary title": "External ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Participant's name",
                        "x-ms-summary title": "Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's surname",
                        "x-ms-summary title": "Surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail",
                        "x-ms-summary title": "E-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's code",
                        "x-ms-summary title": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country code",
                        "x-ms-summary title": "Country code"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role. Default: `signer`",
                        "x-ms-summary title": "Role",
                        "x-ms-visibility": "important",
                        "enum": [
                          "signer",
                          "viewer"
                        ]
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company",
                        "x-ms-summary title": "Company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position",
                        "x-ms-summary title": "Position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone",
                        "x-ms-summary title": "Phone"
                      },
                      "custom_reason": {
                        "type": "string",
                        "description": "Custom signature reason",
                        "x-ms-summary title": "Custom Reason"
                      },
                      "sequence": {
                        "type": "integer",
                        "description": "Allows setting up the sequence order of document approving and signing actions.",
                        "x-ms-summary title": "Sequence"
                      }
                    }
                  },
                  "description": "Participant's information"
                },
                "comment": {
                  "type": "string",
                  "description": "Message for participants",
                  "x-ms-summary title": "Comment"
                }
              }
            }
          }
        ]
      }
    },
    "/signing-external/{token}/signers/delete.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Dokobit Universal API - Delete External Signer",
        "description": "Access to the document will be revoked for the indicated participant.",
        "operationId": "DokobitUniversalAPIDeleteExternalSigner",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "token"
                    ],
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "x-ms-summary title": "Token"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/signing-external/{token}/delete.json": {
      "post": {
        "summary": "Dokobit Universal API - Delete External Signing",
        "description": "The document will be removed from the owner's account. It will remain accessible to other participants.",
        "operationId": "DokobitUniversalAPIDeleteExternalSigning",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ]
      }
    },
    "/signing-external/{token}/update.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Dokobit Universal API - Update External Signing",
        "description": "Allows to update attributes of an existing document signing.",
        "operationId": "DokobitUniversalAPIUpdateExternalSigning",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "deadline": {
                  "type": "string",
                  "description": "Signing deadline date with specified timezone fragment. Example: 2018-11-05T13:15:30Z",
                  "x-ms-summary title": "Deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "hard_deadline": {
                  "type": "boolean",
                  "description": "If set to `true` participants won\u2019t be able to sign or approve this document after set `deadline`. Default: `false`",
                  "x-ms-summary title": "Hard Deadline",
                  "enum": [
                    false,
                    true
                  ]
                },
                "require_qualified_signatures": {
                  "type": "boolean",
                  "description": "Allow to sign only with qualified signatures. Default: `false`",
                  "x-ms-summary title": "Require Qualified Signatures",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allow_video_identification": {
                  "type": "boolean",
                  "description": "Allow to sign using video-based identification. Default: `false`",
                  "x-ms-summary title": "Allow Video Identification",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allow_document_saving": {
                  "type": "boolean",
                  "description": "Allow user to save document to the Dokobit Portal and make further actions. Default: `true`.",
                  "x-ms-summary title": "Allow Document Saving",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allowed_signing_methods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Allow only specific signing methods. Available values: `mobile`, `smartid`, `smartcard`, `eparaksts_mobile`, `bankid_no`, `bankid_se`, `audkenni_app`, `ftn`, `mitid`, `nemid`, `electronic_id`, `itsme`, `idin`, `swisscom`",
                  "x-ms-summary title": "Allowed Signing Methods",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ]
      }
    },
    "/signing-internal/create.json": {
      "post": {
        "summary": "Dokobit Universal API - Create Internal Signing",
        "consumes": [
          "application/json"
        ],
        "description": "Internal signing initiates signing request from your system. In this case signing URL is generated where participant should be redirected.",
        "operationId": "DokobitUniversalAPICreateInternalSigning",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "type",
                "name",
                "redirect_uri",
                "files",
                "signers"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Document format. Available values: `pdf`|`asice`|`adoc`|`adoc.cedoc`|`bdoc`|`edoc`.",
                  "x-ms-summary title": "Type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "pdf",
                    "asice",
                    "adoc",
                    "adoc.cedoc",
                    "bdoc",
                    "edoc"
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Signing name displayed for user.",
                  "x-ms-summary title": "Name",
                  "x-ms-visibility": "important"
                },
                "redirect_uri": {
                  "type": "string",
                  "description": "Redirect uri that will be used for redirecting signer after signing is completed.",
                  "x-ms-summary title": "Redirect URI",
                  "x-ms-visibility": "important"
                },
                "require_qualified_signatures": {
                  "type": "boolean",
                  "description": "Allow to sign only with qualified signatures. Default: `false`",
                  "x-ms-summary title": "Require Qualified Signatures",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "annotation_position": {
                  "type": "string",
                  "description": "You can choose the position of signature annotations on a PDF document. Available values: `first_top`|`first_bottom`|`last_top`|`last_bottom`|`none`. Default: `first_top`",
                  "x-ms-summary title": "Annotation Position",
                  "x-ms-visibility": "important",
                  "enum": [
                    "first_top",
                    "first_bottom",
                    "last_top",
                    "last_bottom",
                    "none"
                  ]
                },
                "annotation_personal_code": {
                  "type": "boolean",
                  "description": "If set to `true` personal code will be visible in annotation. Only applicable for PDF type signing. Default: `false`",
                  "x-ms-summary title": "Annotation Personal Code",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allow_video_identification": {
                  "type": "boolean",
                  "description": "Allow to sign using video-based identification. Default: `false`",
                  "x-ms-summary title": "Allow Video Identification",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "flatten_pdf": {
                  "type": "boolean",
                  "description": "If set to true the document will be flattened so that the form fields become part of the document content and cannot be edited after signing. Only applicable for PDF type signing.",
                  "x-ms-summary title": "Flatten PDF",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allowed_signing_methods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Allow only specific signing methods. Available values: `mobile`, `smartid`, `smartcard`, `eparaksts_mobile`, `bankid_no`, `bankid_se`, `audkenni_app`, `ftn`, `mitid`, `nemid`, `electronic_id`, `itsme`, `idin`, `swisscom`",
                  "x-ms-summary title": "Allowed Signing Methods",
                  "x-ms-visibility": "important"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "name",
                      "content"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "File name.",
                        "x-ms-summary title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "content": {
                        "type": "string",
                        "description": "Base64 encoded file content."
                      }
                    }
                  },
                  "description": "File or files to be signed."
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "external_id"
                    ],
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique signer identifier from your system. You can generate random identifiers if you do not have one.",
                        "x-ms-summary title": "External ID"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role. Default: `signer`",
                        "x-ms-summary title": "Role",
                        "x-ms-visibility": "important",
                        "enum": [
                          "signer",
                          "viewer"
                        ]
                      },
                      "custom_reason": {
                        "type": "string",
                        "description": "Custom signature reason.",
                        "x-ms-summary title": "Custom Reason"
                      }
                    }
                  },
                  "description": "Participant's information."
                }
              }
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Signing status"
                },
                "token": {
                  "type": "string",
                  "description": "Signing token",
                  "title": "token"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique signer identifier from your system. You can generate random identifiers if you do not have one.",
                        "title": "External ID"
                      },
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "title": "signer.token"
                      },
                      "redirect_uri": {
                        "type": "string",
                        "description": "URL to signing"
                      }
                    }
                  },
                  "description": "Participant's information"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/signing-internal/{token}/status.json": {
      "get": {
        "summary": "Dokobit Universal API - Check Internal Signing Status",
        "description": "Returns document's information with signing status.",
        "operationId": "DokobitUniversalAPICheckInternalSigningStatus",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                },
                "name": {
                  "type": "string",
                  "description": "Signing name",
                  "x-ms-summary title": "Name"
                },
                "type": {
                  "type": "string",
                  "description": "Document Type",
                  "x-ms-summary title": "Type"
                },
                "date_created": {
                  "type": "string",
                  "description": "Date when document signing was initiated",
                  "x-ms-summary title": "Date Created"
                },
                "deadline": {
                  "type": "string",
                  "description": "Signing deadline date with specified timezone fragment. Example: 2018-11-05T13:15:30Z",
                  "title": "deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "filename": {
                  "type": "string",
                  "description": "Name of the file",
                  "x-ms-summary title": "File Name"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "File Name",
                        "x-ms-summary title": "File Name"
                      },
                      "url": {
                        "type": "string",
                        "description": "File Download URL",
                        "x-ms-summary title": "File Download URL"
                      },
                      "mime_type": {
                        "type": "string",
                        "description": "File MIME Type",
                        "x-ms-summary title": "File MIME Type"
                      }
                    }
                  }
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "x-ms-summary title": "Signer Token"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Participant's first name",
                        "x-ms-summary title": "First Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Participant's surname",
                        "x-ms-summary title": "Surname"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's code",
                        "x-ms-summary title": "Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Participant's country",
                        "x-ms-summary title": "Country"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail",
                        "x-ms-summary title": "E-mail"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type",
                        "x-ms-summary title": "Type"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status",
                        "x-ms-summary title": "Status"
                      }
                    }
                  },
                  "description": "Participant information"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/signing-internal/{token}/download": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Dokobit Universal API - Download Document Internal",
        "description": "Downloads the signed document.",
        "operationId": "DokobitUniversalAPIDownloadDocumentInternal",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/signing-internal/{token}/signers/add.json": {
      "post": {
        "summary": "Dokobit Universal API - Add Internal Signer",
        "consumes": [
          "application/json"
        ],
        "description": "Indicated participants will gain access to the document with the selected role.",
        "operationId": "DokobitUniversalAPIAddInternalSigner",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique signer identifier from your system. You can generate random identifiers if you do not have one.",
                        "x-ms-summary title": "External ID"
                      },
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "title": "signer.token"
                      },
                      "name": {
                        "type": "string",
                        "description": "Participant's first name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's last name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number)"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role",
                        "x-ms-visibility": "important"
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone"
                      }
                    }
                  },
                  "description": "Participant's information"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "external_id"
                    ],
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique signer identifier from your system. You can generate random identifiers if you do not have one.",
                        "x-ms-summary title": "External ID"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role. Default: `signer`",
                        "x-ms-summary title": "Role",
                        "x-ms-visibility": "important",
                        "enum": [
                          "signer",
                          "viewer"
                        ]
                      },
                      "custom_reason": {
                        "type": "string",
                        "description": "Custom signature reason",
                        "x-ms-summary title": "Custom Reason"
                      }
                    }
                  },
                  "description": "Participant's information"
                }
              }
            }
          }
        ]
      }
    },
    "/signing-internal/{token}/signers/delete.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Dokobit Universal API - Delete Internal Signer",
        "description": "Access to the document will be revoked for the indicated participant.",
        "operationId": "DokobitUniversalAPIDeleteInternalSigner",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "token"
                    ],
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token",
                        "x-ms-summary title": "Token"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/signing-internal/{token}/delete.json": {
      "post": {
        "summary": "Dokobit Universal API - Delete Internal Signing",
        "description": "The document will be removed from the owner's account. It will remain accessible to other participants.",
        "operationId": "DokobitUniversalAPIDeleteInternalSigning",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ]
      }
    },
    "/signing-internal/{token}/update.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Dokobit Universal API - Update Internal Signing",
        "description": "Allows to update attributes of an existing document signing.",
        "operationId": "DokobitUniversalAPIUpdateInternalSigning",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "require_qualified_signatures": {
                  "type": "boolean",
                  "description": "Allow to sign only with qualified signatures. Default: `false`",
                  "x-ms-summary title": "Require Qualified Signatures",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allow_video_identification": {
                  "type": "boolean",
                  "description": "Allow to sign using video-based identification. Default: `false`",
                  "x-ms-summary title": "Allow Video Identification",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allowed_signing_methods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Allow only specific signing methods. Available values: `mobile`, `smartid`, `smartcard`, `eparaksts_mobile`, `bankid_no`, `bankid_se`, `audkenni_app`, `ftn`, `mitid`, `nemid`, `electronic_id`, `itsme`, `idin`, `swisscom`",
                  "x-ms-summary title": "Allowed Signing Methods",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ]
      }
    },
    "/signing/{token}/seal.json": {
      "post": {
        "summary": "Dokobit Universal API - Seal signing",
        "description": "Document will be sealed with your organizations' electronic seal. Please contact our support at developers@dokobit.com to get a qualified certificate for e-sealing.",
        "operationId": "DokobitUniversalAPISealSigning",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status",
                  "x-ms-summary title": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary title": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary title": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary title": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary title": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary title": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token",
            "x-ms-summary": "token"
          }
        ]
      }
    },
    "/e-delivery/create.json": {
      "post": {
        "summary": "Dokobit Universal API - e-Delivery",
        "consumes": [
          "application/json"
        ],
        "description": "Document e-Delivery is used for securely sharing documents via Dokobit Universal API.",
        "operationId": "DokobitUniversalAPIeDelivery",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "type",
                "name",
                "files",
                "recipients"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Document format. Available values: `pdf`|`asice`|`bdoc`|`edoc`.",
                  "x-ms-summary title": "Type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "pdf",
                    "asice",
                    "bdoc",
                    "edoc"
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Document name displayed for user.",
                  "x-ms-summary title": "Name",
                  "x-ms-visibility": "important"
                },
                "postback_url": {
                  "type": "string",
                  "description": "URL of your system to handle webhooks.",
                  "x-ms-summary title": "Postback URL",
                  "x-ms-visibility": "important"
                },
                "comment": {
                  "type": "string",
                  "description": "Message for recipients",
                  "x-ms-summary title": "Comment"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "name",
                      "content"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "File name.",
                        "x-ms-summary title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "content": {
                        "type": "string",
                        "description": "Base64 encoded file content."
                      }
                    }
                  },
                  "description": "File or files to be shared."
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "external_id",
                      "code",
                      "country_code"
                    ],
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique recipient identifier from your system. You can generate random identifiers if you do not have one.",
                        "x-ms-summary title": "External ID"
                      },
                      "code": {
                        "type": "string",
                        "description": "Recipient's personal code (National ID number).",
                        "x-ms-summary title": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Recipient's country code. Required if personal code is provided. Available values: `lt`|`lv`|`ee`|`is`.",
                        "x-ms-summary title": "Country Code"
                      },
                      "email": {
                        "type": "string",
                        "description": "Recipient's email for sending document. Required if phone is not set.",
                        "x-ms-summary title": "E-mail"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Recipient's phone number for sending document SMS. Required if email is not set. SMS will be sent only when email is not provided.",
                        "x-ms-summary title": "Phone"
                      },
                      "notifications_language": {
                        "type": "string",
                        "description": "Sets the language for notifications. Available values: `en`, `lt`, `lv`, `ee`, `is`, `no`.",
                        "x-ms-summary title": "Notifications Language"
                      }
                    }
                  },
                  "description": "Recipient's information."
                }
              }
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Document status"
                },
                "token": {
                  "type": "string",
                  "description": "Document token",
                  "title": "token"
                },
                "recipients": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique recipient identifier from your system. You can generate random identifiers if you do not have one.",
                        "title": "External ID"
                      },
                      "token": {
                        "type": "string",
                        "description": "Recipient's token",
                        "title": "signer.token"
                      },
                      "code": {
                        "type": "string",
                        "description": "Recipient's personal code (National ID number)"
                      },
                      "country": {
                        "type": "string",
                        "description": "Recipient's country"
                      },
                      "email": {
                        "type": "string",
                        "description": "Recipient's e-mail"
                      }
                    }
                  },
                  "description": "Recipient's information"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code"
                }
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/validation/upload.json": {
      "post": {
        "summary": "Dokobit Universal API - Validation",
        "consumes": [
          "application/json"
        ],
        "description": "Dokobit is an eIDAS-certified service provider for qualified e-signature and e-seal validations. Use this action to upload a signed file for validation. Supported file types: `.asice` - application/vnd.etsi.asic-e+zip|`.asics` - application/vnd.etsi.asic-s+zip|`.sce` - application/vnd.etsi.asic-e+zip|`.bdoc` - application/vnd.etsi.asic-e+zip|`.edoc` - application/vnd.etsi.asic-e+zip|`.pdf` - application/pdf|`.p7s` - application/pkcs7-signature|`.xml` - application/xml",
        "operationId": "DokobitUniversalAPIValidation",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "file"
              ],
              "properties": {
                "file": {
                  "type": "object",
                  "required": [
                    "name",
                    "content"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "File name.",
                      "x-ms-summary title": "Name",
                      "x-ms-visibility": "important"
                    },
                    "content": {
                      "type": "string",
                      "description": "Base64 encoded file content."
                    }
                  }
                }
              }
            },
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Upload status"
                },
                "token": {
                  "type": "string",
                  "description": "Validation token",
                  "title": "token"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
[...]
