{
  "swagger": "2.0",
  "info": {
    "version": "1.0.1",
    "title": "Dokobit Universal API",
    "description": "Dokobit Universal API is a versatile tool that enables signing documents internally, within your system, and collecting signatures from 3rd parties, outside your system, across Europe. Document signing occurs in an accountless Dokobit signing (where invited participants can sign documents without registering on the Dokobit portal) interface with your organisation’s branding.",
    "contact": {
      "name": "Dokobit",
      "url": "https://support.dokobit.com",
      "email": "developers@dokobit.com"
    }
  },
  "host": "app.dokobit.com",
  "basePath": "/api/connector",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/signing-external/create.json": {
      "post": {
        "summary": "Create External Signing",
        "consumes": [
          "application/json"
        ],
        "description": "External signing initiates asynchronous signing request from your system. In this case user receives an email for signing and you will get a callback once he signs the document.",
        "operationId": "DokobitUniversalAPICreateExternalSigning",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "type",
                "name",
                "files"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Document format. Available values: `pdf`, `asice`, `bdoc`, `edoc`, `adoc`, `adoc.cedoc`.",
                  "x-ms-summary": "Type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "pdf",
                    "asice",
                    "bdoc",
                    "edoc",
                    "adoc",
                    "adoc.cedoc"
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Signing name displayed for user.",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "postback_url": {
                  "type": "string",
                  "description": "URL of your system to handle webhooks.",
                  "x-ms-summary": "Postback URL",
                  "x-ms-visibility": "important"
                },
                "deadline": {
                  "type": "string",
                  "description": "Signing deadline date with specified timezone fragment. Example: 2018-11-05T13:15:30Z.",
                  "x-ms-summary": "Deadline",
                  "x-ms-visibility": "advanced",
                  "format": "date-time"
                },
                "hard_deadline": {
                  "type": "boolean",
                  "description": "If set to `true` participants won't be able to sign this document after set `deadline`. Default: `false`.",
                  "x-ms-summary": "Hard Deadline",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    false,
                    true
                  ]
                },
                "require_qualified_signatures": {
                  "type": "boolean",
                  "description": "Allow to sign only with qualified signatures. Default: `false`.",
                  "x-ms-summary": "Require Qualified Signatures",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "annotation_position": {
                  "type": "string",
                  "description": "You can choose the position of signature annotations on a PDF document. Available values: `first_top`, `first_bottom`, `last_top`, `last_bottom`, `none`. Default: `first_top`.",
                  "x-ms-summary": "Annotation Position",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "first_top",
                    "first_bottom",
                    "last_top",
                    "last_bottom",
                    "none"
                  ]
                },
                "annotation_personal_code": {
                  "type": "boolean",
                  "description": "If set to `true` personal code will be visible in annotation. Only applicable for PDF type signing. Default: `false`.",
                  "x-ms-summary": "Annotation Personal Code",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    false,
                    true
                  ]
                },
                "comment": {
                  "type": "string",
                  "description": "Message for participants.",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Comment"
                },
                "allow_video_identification": {
                  "type": "boolean",
                  "description": "Allow to sign using video-based identification. Default: `false`.",
                  "x-ms-summary": "Allow Video Identification",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allow_document_saving": {
                  "type": "boolean",
                  "description": "Allow user to save document to the Dokobit Portal and make further actions. Default: `true`.",
                  "x-ms-summary": "Allow Document Saving",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    true,
                    false
                  ]
                },
                "flatten_pdf": {
                  "type": "boolean",
                  "description": "If set to true the document will be flattened so that the form fields become part of the document content and cannot be edited after signing. Only applicable for PDF type signing. Default: `false`.",
                  "x-ms-summary": "Flatten PDF",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allowed_signing_methods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Allow only specific signing methods. Available values: `mobile`, `smartid`, `smartcard`, `eparaksts_mobile`, `bankid_no`, `bankid_se`, `audkenni_app`, `ftn`, `mitid`, `electronic_id`, `itsme`, `idin`, `swisscom`, `sms_otp`.",
                  "x-ms-summary": "Allowed Signing Methods",
                  "x-ms-visibility": "advanced"
                },
                "files": {
                  "type": "array",
                  "x-ms-summary": "Files",
                  "x-ms-visibility": "important",
                  "description": "File or files to be signed.",
                  "items": {
                    "type": "object",
                    "required": [
                      "name",
                      "content"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "File name.",
                        "x-ms-summary": "Name"
                      },
                      "content": {
                        "type": "string",
                        "x-ms-summary": "Content",
                        "description": "Base64 encoded file content."
                      }
                    }
                  }
                },
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "x-ms-visibility": "important",
                  "description": "Participant's information.",
                  "items": {
                    "type": "object",
                    "required": [
                      "external_id"
                    ],
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique random identifier of the participant from your system. You can generate unique random identifiers if you do not have one.",
                        "x-ms-summary": "External ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Participant's name.",
                        "x-ms-summary": "Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's surname.",
                        "x-ms-summary": "Surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail.",
                        "x-ms-summary": "E-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number).",
                        "x-ms-summary": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country code. Required if personal code is provided. Available values: `LT`, `LV`, `EE`, `IS`, `NO`, `FI`, `BE`, `SE`.",
                        "x-ms-summary": "Country Code"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role. Available values: `signer`, `viewer`. Default: `signer`.",
                        "x-ms-summary": "Role",
                        "enum": [
                          "signer",
                          "viewer"
                        ]
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company name.",
                        "x-ms-summary": "Company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position.",
                        "x-ms-summary": "Position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone number.",
                        "x-ms-summary": "Phone"
                      },
                      "sequence": {
                        "type": "integer",
                        "description": "Allows setting up the sequence order of document approving and signing actions.",
                        "x-ms-summary": "Sequence"
                      },
                      "notifications_language": {
                        "type": "string",
                        "description": "Sets the language for notifications. Available values: `en`, `lt`, `lv`, `et`, `is`, `no`, `fr`, `se`, `de`, `fi`, `dk`, `nl`.",
                        "x-ms-summary": "Notifications Language"
                      },
                      "custom_reason": {
                        "type": "string",
                        "description": "Custom signature reason.",
                        "x-ms-summary": "Custom Reason"
                      },
                      "annotation": {
                        "type": "object",
                        "description": "Signature annotation options.",
                        "x-ms-summary": "Annotation",
                        "properties": {
                          "page": {
                            "type": "string",
                            "description": "Page index for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Page"
                          },
                          "top": {
                            "type": "string",
                            "description": "Position (in points) from top for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Position From Top"
                          },
                          "left": {
                            "type": "string",
                            "description": "Position (in points) from left for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Position From Left"
                          },
                          "language": {
                            "type": "string",
                            "description": "Language of visible PDF signature annotation. Only applicable for PDF type signing. Available values: `en`, `lt`, `lv`, `et`, `is`",
                            "x-ms-summary": "Language"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                },
                "token": {
                  "type": "string",
                  "description": "Signing token.",
                  "x-ms-summary": "Signing Token"
                },
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "items": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique random identifier of the participant from your system.",
                        "x-ms-summary": "External ID"
                      },
                      "token": {
                        "type": "string",
                        "description": "Participant's token.",
                        "x-ms-summary": "Token"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Participant's name.",
                        "x-ms-summary": "Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Participant's surname.",
                        "x-ms-summary": "Surname"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number).",
                        "x-ms-summary": "Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Participant's country.",
                        "x-ms-summary": "Country"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail.",
                        "x-ms-summary": "E-mail"
                      }
                    }
                  },
                  "description": "Participant's information."
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        }
      }
    },
    "/signing-external/{token}/status.json": {
      "get": {
        "summary": "Check External Signing Status",
        "description": "Returns document's information with signing status.",
        "operationId": "DokobitUniversalAPICheckExternalSigningStatus",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Document signing status.",
                  "x-ms-summary": "Signing Status"
                },
                "name": {
                  "type": "string",
                  "description": "Signing name displayed for user.",
                  "x-ms-summary": "Name"
                },
                "type": {
                  "type": "string",
                  "description": "Document type.",
                  "x-ms-summary": "Type"
                },
                "date_created": {
                  "type": "string",
                  "description": "Date when document signing was initiated.",
                  "x-ms-summary": "Date Created"
                },
                "deadline": {
                  "type": "string",
                  "description": "Signing deadline date with specified timezone fragment. Example: 2018-11-05T13:15:30Z.",
                  "x-ms-summary": "Deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "filename": {
                  "type": "string",
                  "description": "Name of the file.",
                  "x-ms-summary": "File Name"
                },
                "files": {
                  "x-ms-summary": "Files",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "File Name.",
                        "x-ms-summary": "Name"
                      },
                      "url": {
                        "type": "string",
                        "description": "File Download URL.",
                        "x-ms-summary": "Download URL"
                      },
                      "mime_type": {
                        "type": "string",
                        "description": "File MIME Type.",
                        "x-ms-summary": "MIME Type"
                      }
                    }
                  }
                },
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token.",
                        "x-ms-summary": "Token"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Participant's name.",
                        "x-ms-summary": "Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Participant's surname.",
                        "x-ms-summary": "Surname"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's code.",
                        "x-ms-summary": "Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Participant's country.",
                        "x-ms-summary": "Country"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail.",
                        "x-ms-summary": "E-mail"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type.",
                        "x-ms-summary": "Type"
                      },
                      "status": {
                        "type": "string",
                        "description": "Participant's status.",
                        "x-ms-summary": "Status"
                      }
                    }
                  },
                  "description": "Participant information."
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        }
      }
    },
    "/signing-external/{token}/download": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Download Document External",
        "description": "Downloads the signed document.",
        "operationId": "DokobitUniversalAPIDownloadDocumentExternal",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          }
        ]
      }
    },
    "/signing-external/{token}/remind.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Send Reminder",
        "description": "Allows to send a reminder e-mail for participant, only if person has not signed document yet. Only works with external signing flow.",
        "operationId": "DokobitUniversalAPIReminder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "signer": {
                  "type": "string",
                  "description": "Participant's token.",
                  "x-ms-summary": "Signer Token"
                },
                "message": {
                  "type": "string",
                  "description": "Reminder message to signer.",
                  "x-ms-summary": "Message"
                }
              },
              "required": [
                "signer"
              ]
            }
          }
        ]
      }
    },
    "/signing-external/{token}/signers/add.json": {
      "post": {
        "summary": "Add External Signer",
        "consumes": [
          "application/json"
        ],
        "description": "Indicated participants will gain access to the document with the selected role.",
        "operationId": "DokobitUniversalAPIAddExternalSigner",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                },
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "items": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique random identifier of the participant from your system.",
                        "x-ms-summary": "External ID"
                      },
                      "token": {
                        "type": "string",
                        "description": "Participant's token.",
                        "x-ms-summary": "Token"
                      },
                      "name": {
                        "type": "string",
                        "description": "Participant's name.",
                        "x-ms-summary": "Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's surname.",
                        "x-ms-summary": "Surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail.",
                        "x-ms-summary": "E-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number).",
                        "x-ms-summary": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country.",
                        "x-ms-summary": "Country Code"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role.",
                        "x-ms-visibility": "important",
                        "x-ms-summary": "Role"
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company.",
                        "x-ms-summary": "Company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position.",
                        "x-ms-summary": "Position"
                      },
                      "notifications_language": {
                        "type": "string",
                        "description": "Sets the language for notifications. Available values: `en`, `lt`, `lv`, `et`, `is`, `no`, 'fr', 'se', 'de'.",
                        "x-ms-summary": "Notifications Language"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone.",
                        "x-ms-summary": "Phone"
                      }
                    }
                  },
                  "description": "Participant's information."
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "description": "Participant's information.",
                  "x-ms-summary": "Signers",
                  "items": {
                    "type": "object",
                    "required": [
                      "external_id"
                    ],
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique random identifier of the participant from your system. You can generate unique random identifiers if you do not have one.",
                        "x-ms-summary": "External ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Participant's name.",
                        "x-ms-summary": "Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's surname.",
                        "x-ms-summary": "Surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail.",
                        "x-ms-summary": "E-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's code.",
                        "x-ms-summary": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country code. Required if personal code is provided. Available values: `LT`, `LV`, `EE`, `IS`, `NO`, `FI`, `BE`, `SE`.",
                        "x-ms-summary": "Country code"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role. Available values: `signer`, `viewer`. Default: `signer`.",
                        "x-ms-summary": "Role",
                        "enum": [
                          "signer",
                          "viewer"
                        ]
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company.",
                        "x-ms-summary": "Company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position.",
                        "x-ms-summary": "Position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone.",
                        "x-ms-summary": "Phone"
                      },
                      "custom_reason": {
                        "type": "string",
                        "description": "Custom signature reason.",
                        "x-ms-summary": "Custom Reason"
                      },
                      "notifications_language": {
                        "type": "string",
                        "description": "Sets the language for notifications. Available values: `en`, `lt`, `lv`, `et`, `is`, `no`, `fr`, `se`, `de`, `fi`, `dk`, `nl`.",
                        "x-ms-summary": "Notifications Language"
                      },
                      "annotation": {
                        "type": "object",
                        "description": "Signature annotation options.",
                        "x-ms-summary": "Annotation",
                        "properties": {
                          "page": {
                            "type": "string",
                            "description": "Page index for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Page"
                          },
                          "top": {
                            "type": "string",
                            "description": "Position (in points) from top for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Position From Top"
                          },
                          "left": {
                            "type": "string",
                            "description": "Position (in points) from left for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Position From Left"
                          },
                          "language": {
                            "type": "string",
                            "description": "Language of visible PDF signature annotation. Only applicable for PDF type signing. Available values: `en`, `lt`, `lv`, `et`, `is`",
                            "x-ms-summary": "Language"
                          }
                        }
                      }
                    }
                  }
                },
                "comment": {
                  "type": "string",
                  "description": "Message for participants.",
                  "x-ms-visibility": "advanced",
                  "x-ms-summary": "Comment"
                }
              }
            }
          }
        ]
      }
    },
    "/signing-external/{token}/signers/delete.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Delete External Signer",
        "description": "Access to the document will be revoked for the indicated participant.",
        "operationId": "DokobitUniversalAPIDeleteExternalSigner",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "items": {
                    "type": "object",
                    "required": [
                      "token"
                    ],
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token.",
                        "x-ms-summary": "Token"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/signing-external/{token}/delete.json": {
      "post": {
        "summary": "Delete External Signing",
        "description": "The document will be removed from the owner's account. It will remain accessible to other participants.",
        "operationId": "DokobitUniversalAPIDeleteExternalSigning",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          }
        ]
      }
    },
    "/signing-external/{token}/update.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Update External Signing",
        "description": "Allows to update attributes of an existing document signing.",
        "operationId": "DokobitUniversalAPIUpdateExternalSigning",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "deadline": {
                  "type": "string",
                  "description": "Signing deadline date with specified timezone fragment. Example: 2018-11-05T13:15:30Z.",
                  "x-ms-summary": "Deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "hard_deadline": {
                  "type": "boolean",
                  "description": "If set to `true` participants won't be able to sign or approve this document after set `deadline`. Default: `false`.",
                  "x-ms-summary": "Hard Deadline",
                  "enum": [
                    false,
                    true
                  ]
                },
                "require_qualified_signatures": {
                  "type": "boolean",
                  "description": "Allow to sign only with qualified signatures. Default: `false`.",
                  "x-ms-summary": "Require Qualified Signatures",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allow_video_identification": {
                  "type": "boolean",
                  "description": "Allow to sign using video-based identification. Default: `false`.",
                  "x-ms-summary": "Allow Video Identification",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allow_document_saving": {
                  "type": "boolean",
                  "description": "Allow user to save document to the Dokobit Portal and make further actions. Default: `true`.",
                  "x-ms-summary": "Allow Document Saving",
                  "x-ms-visibility": "important",
                  "enum": [
                    true,
                    false
                  ]
                },
                "allowed_signing_methods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Allow only specific signing methods. Available values: `mobile`, `smartid`, `smartcard`, `eparaksts_mobile`, `bankid_no`, `bankid_se`, `audkenni_app`, `ftn`, `mitid`, `electronic_id`, `itsme`, `idin`, `swisscom`, `sms_otp`.",
                  "x-ms-summary": "Allowed Signing Methods",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ]
      }
    },
    "/signing-internal/create.json": {
      "post": {
        "summary": "Create Internal Signing",
        "consumes": [
          "application/json"
        ],
        "description": "Internal signing initiates signing request from your system. In this case signing URL is generated where participant should be redirected.",
        "operationId": "DokobitUniversalAPICreateInternalSigning",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "required": [
                "type",
                "name",
                "redirect_uri",
                "files"
              ],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Document format. Available values: `pdf`, `asice`, `bdoc`, `edoc`, `adoc`, `adoc.cedoc`.",
                  "x-ms-summary": "Type",
                  "x-ms-visibility": "important",
                  "enum": [
                    "pdf",
                    "asice",
                    "bdoc",
                    "edoc",
                    "adoc",
                    "adoc.cedoc"
                  ]
                },
                "name": {
                  "type": "string",
                  "description": "Signing name displayed for user.",
                  "x-ms-summary": "Name",
                  "x-ms-visibility": "important"
                },
                "redirect_uri": {
                  "type": "string",
                  "description": "Redirect uri that will be used for redirecting signer after signing is completed.",
                  "x-ms-summary": "Redirect URI",
                  "x-ms-visibility": "important"
                },
                "postback_url": {
                  "type": "string",
                  "description": "URL of your system to handle webhooks.",
                  "x-ms-summary": "Postback URL",
                  "x-ms-visibility": "important"
                },
                "require_qualified_signatures": {
                  "type": "boolean",
                  "description": "Allow to sign only with qualified signatures. Default: `false`.",
                  "x-ms-summary": "Require Qualified Signatures",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "annotation_position": {
                  "type": "string",
                  "description": "You can choose the position of signature annotations on a PDF document. Available values: `first_top`, `first_bottom`, `last_top`, `last_bottom`, `none`. Default: `first_top`.",
                  "x-ms-summary": "Annotation Position",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    "first_top",
                    "first_bottom",
                    "last_top",
                    "last_bottom",
                    "none"
                  ]
                },
                "annotation_personal_code": {
                  "type": "boolean",
                  "description": "If set to `true` personal code will be visible in annotation. Only applicable for PDF type signing. Default: `false`.",
                  "x-ms-summary": "Annotation Personal Code",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allow_video_identification": {
                  "type": "boolean",
                  "description": "Allow to sign using video-based identification. Default: `false`.",
                  "x-ms-summary": "Allow Video Identification",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    false,
                    true
                  ]
                },
                "flatten_pdf": {
                  "type": "boolean",
                  "description": "If set to true the document will be flattened so that the form fields become part of the document content and cannot be edited after signing. Only applicable for PDF type signing. Default: `false`.",
                  "x-ms-summary": "Flatten PDF",
                  "x-ms-visibility": "advanced",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allowed_signing_methods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Allow only specific signing methods. Available values: `mobile`, `smartid`, `smartcard`, `eparaksts_mobile`, `bankid_no`, `bankid_se`, `audkenni_app`, `ftn`, `mitid`, `electronic_id`, `itsme`, `idin`, `swisscom`, `sms_otp`.",
                  "x-ms-summary": "Allowed Signing Methods",
                  "x-ms-visibility": "advanced"
                },
                "files": {
                  "type": "array",
                  "x-ms-summary": "Files",
                  "x-ms-visibility": "important",
                  "description": "File or files to be signed.",
                  "items": {
                    "type": "object",
                    "required": [
                      "name",
                      "content"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "File name.",
                        "x-ms-summary": "Name"
                      },
                      "content": {
                        "type": "string",
                        "x-ms-summary": "Content",
                        "description": "Base64 encoded file content."
                      }
                    }
                  }
                },
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "x-ms-visibility": "important",
                  "items": {
                    "type": "object",
                    "description": "Participant's information.",
                    "required": [
                      "external_id"
                    ],
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique random identifier of the participant from your system. You can generate unique random identifiers if you do not have one.",
                        "x-ms-summary": "External ID"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role. Available values: `signer`, `viewer`. Default: `signer`.",
                        "x-ms-summary": "Role",
                        "enum": [
                          "signer",
                          "viewer"
                        ]
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's code.",
                        "x-ms-summary": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country code. Required if personal code is provided. Available values: `LT`, `LV`, `EE`, `IS`, `NO`, `PL`, `FI`, `BE`, `SE`.",
                        "x-ms-summary": "Country code"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone.",
                        "x-ms-summary": "Phone"
                      },
                      "language": {
                        "type": "string",
                        "description": "Sets user interface language. Available values: `en`, `lt`, `lv`, `et`, `is`, `no`, `fr`, `se`, `de`, `fi`, `dk`, `nl`.",
                        "x-ms-summary": "Notifications Language"
                      },
                      "annotation": {
                        "type": "object",
                        "description": "Signature annotation options.",
                        "x-ms-summary": "Annotation",
                        "properties": {
                          "page": {
                            "type": "string",
                            "description": "Page index for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Page"
                          },
                          "top": {
                            "type": "string",
                            "description": "Position (in points) from top for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Position From Top"
                          },
                          "left": {
                            "type": "string",
                            "description": "Position (in points) from left for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Position From Left"
                          },
                          "language": {
                            "type": "string",
                            "description": "Language of visible PDF signature annotation. Only applicable for PDF type signing. Available values: `en`, `lt`, `lv`, `et`, `is`",
                            "x-ms-summary": "Language"
                          }
                        }
                      },
                      "custom_reason": {
                        "type": "string",
                        "description": "Custom signature reason.",
                        "x-ms-summary": "Custom Reason"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                },
                "token": {
                  "type": "string",
                  "description": "Signing token.",
                  "x-ms-summary": "Signing Token"
                },
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "items": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique random identifier of the participant from your system.",
                        "x-ms-summary": "External ID"
                      },
                      "token": {
                        "type": "string",
                        "description": "Participant's token.",
                        "x-ms-summary": "Token"
                      },
                      "redirect_uri": {
                        "type": "string",
                        "description": "URL to signing.",
                        "x-ms-summary": "Redirect URI"
                      }
                    }
                  },
                  "description": "Participant's information."
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        }
      }
    },
    "/signing-internal/{token}/status.json": {
      "get": {
        "summary": "Check Internal Signing Status",
        "description": "Returns document's information with signing status.",
        "operationId": "DokobitUniversalAPICheckInternalSigningStatus",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Document signing status.",
                  "x-ms-summary": "Signing Status"
                },
                "name": {
                  "type": "string",
                  "description": "Signing name displayed for user.",
                  "x-ms-summary": "Name"
                },
                "type": {
                  "type": "string",
                  "description": "Document Type.",
                  "x-ms-summary": "Type"
                },
                "date_created": {
                  "type": "string",
                  "description": "Date when document signing was initiated.",
                  "x-ms-summary": "Date Created"
                },
                "deadline": {
                  "type": "string",
                  "description": "Signing deadline date with specified timezone fragment. Example: 2018-11-05T13:15:30Z.",
                  "x-ms-summary": "Deadline",
                  "x-ms-visibility": "important",
                  "format": "date-time"
                },
                "filename": {
                  "type": "string",
                  "description": "Name of the file.",
                  "x-ms-summary": "File Name"
                },
                "files": {
                  "x-ms-summary": "Files",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "File Name.",
                        "x-ms-summary": "Name"
                      },
                      "url": {
                        "type": "string",
                        "description": "File Download URL.",
                        "x-ms-summary": "Download URL"
                      },
                      "mime_type": {
                        "type": "string",
                        "description": "File MIME Type.",
                        "x-ms-summary": "MIME Type"
                      }
                    }
                  }
                },
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "items": {
                    "type": "object",
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token.",
                        "x-ms-summary": "Token"
                      },
                      "first_name": {
                        "type": "string",
                        "description": "Participant's name.",
                        "x-ms-summary": "Name"
                      },
                      "last_name": {
                        "type": "string",
                        "description": "Participant's surname.",
                        "x-ms-summary": "Surname"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's code.",
                        "x-ms-summary": "Code"
                      },
                      "country": {
                        "type": "string",
                        "description": "Participant's country.",
                        "x-ms-summary": "Country"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail.",
                        "x-ms-summary": "E-mail"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type.",
                        "x-ms-summary": "Type"
                      },
                      "status": {
                        "type": "string",
                        "description": "Participant's status.",
                        "x-ms-summary": "Status"
                      }
                    }
                  },
                  "description": "Participant information."
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        }
      }
    },
    "/signing-internal/{token}/download": {
      "get": {
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Download Document Internal",
        "description": "Downloads the signed document.",
        "operationId": "DokobitUniversalAPIDownloadDocumentInternal",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          }
        ]
      }
    },
    "/signing-internal/{token}/signers/add.json": {
      "post": {
        "summary": "Add Internal Signer",
        "consumes": [
          "application/json"
        ],
        "description": "Indicated participants will gain access to the document with the selected role.",
        "operationId": "DokobitUniversalAPIAddInternalSigner",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                },
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "items": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique random identifier of the participant from your system.",
                        "x-ms-summary": "External ID"
                      },
                      "token": {
                        "type": "string",
                        "description": "Participant's token.",
                        "x-ms-summary": "Token"
                      },
                      "name": {
                        "type": "string",
                        "description": "Participant's name.",
                        "x-ms-summary": "Name"
                      },
                      "surname": {
                        "type": "string",
                        "description": "Participant's surname.",
                        "x-ms-summary": "Surname"
                      },
                      "email": {
                        "type": "string",
                        "description": "Participant's e-mail.",
                        "x-ms-summary": "E-mail"
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's personal code (National ID number).",
                        "x-ms-summary": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country.",
                        "x-ms-summary": "Country Code"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role.",
                        "x-ms-visibility": "important",
                        "x-ms-summary": "Role"
                      },
                      "company": {
                        "type": "string",
                        "description": "Participant's company.",
                        "x-ms-summary": "Company"
                      },
                      "position": {
                        "type": "string",
                        "description": "Participant's position.",
                        "x-ms-summary": "Position"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone.",
                        "x-ms-summary": "Phone"
                      }
                    }
                  },
                  "description": "Participant's information."
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "x-ms-visibility": "important",
                  "description": "Participant's information.",
                  "items": {
                    "type": "object",
                    "required": [
                      "external_id"
                    ],
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "Unique random identifier of the participant from your system. You can generate unique random identifiers if you do not have one.",
                        "x-ms-summary": "External ID"
                      },
                      "role": {
                        "type": "string",
                        "description": "Participant's role. Available values: `signer`, `viewer`. Default: `signer`.",
                        "x-ms-summary": "Role",
                        "enum": [
                          "signer",
                          "viewer"
                        ]
                      },
                      "code": {
                        "type": "string",
                        "description": "Participant's code.",
                        "x-ms-summary": "Code"
                      },
                      "country_code": {
                        "type": "string",
                        "description": "Participant's country code. Required if personal code is provided. Available values: `LT`, `LV`, `EE`, `IS`, `NO`, `PL`, `FI`, `BE`, `SE`.",
                        "x-ms-summary": "Country code"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Participant's phone.",
                        "x-ms-summary": "Phone"
                      },
                      "language": {
                        "type": "string",
                        "description": "Sets user interface language. Available values: `en`, `lt`, `lv`, `et`, `is`, `no`, `fr`, `se`, `de`, `fi`, `dk`, `nl`.",
                        "x-ms-summary": "Notifications Language"
                      },
                      "annotation": {
                        "type": "object",
                        "description": "Signature annotation options.",
                        "x-ms-summary": "Annotation",
                        "properties": {
                          "page": {
                            "type": "string",
                            "description": "Page index for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Page"
                          },
                          "top": {
                            "type": "string",
                            "description": "Position (in points) from top for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Position From Top"
                          },
                          "left": {
                            "type": "string",
                            "description": "Position (in points) from left for visible PDF signature annotation. Only applicable for PDF type signing. Default: `1`.",
                            "x-ms-summary": "Position From Left"
                          },
                          "language": {
                            "type": "string",
                            "description": "Language of visible PDF signature annotation. Only applicable for PDF type signing. Available values: `en`, `lt`, `lv`, `et`, `is`",
                            "x-ms-summary": "Language"
                          }
                        }
                      },
                      "custom_reason": {
                        "type": "string",
                        "description": "Custom signature reason.",
                        "x-ms-summary": "Custom Reason"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/signing-internal/{token}/signers/delete.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Delete Internal Signer",
        "description": "Access to the document will be revoked for the indicated participant.",
        "operationId": "DokobitUniversalAPIDeleteInternalSigner",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "x-ms-visibility": "important",
            "schema": {
              "type": "object",
              "properties": {
                "signers": {
                  "type": "array",
                  "x-ms-summary": "Signers",
                  "items": {
                    "type": "object",
                    "required": [
                      "token"
                    ],
                    "properties": {
                      "token": {
                        "type": "string",
                        "description": "Participant's token.",
                        "x-ms-summary": "Token"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/signing-internal/{token}/delete.json": {
      "post": {
        "summary": "Delete Internal Signing",
        "description": "The document will be removed from the owner's account. It will remain accessible to other participants.",
        "operationId": "DokobitUniversalAPIDeleteInternalSigning",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          }
        ]
      }
    },
    "/signing-internal/{token}/update.json": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "summary": "Update Internal Signing",
        "description": "Allows to update attributes of an existing document signing.",
        "operationId": "DokobitUniversalAPIUpdateInternalSigning",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "Signing token.",
            "x-ms-summary": "Signing Token"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "require_qualified_signatures": {
                  "type": "boolean",
                  "description": "Allow to sign only with qualified signatures. Default: `false`.",
                  "x-ms-summary": "Require Qualified Signatures",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allow_video_identification": {
                  "type": "boolean",
                  "description": "Allow to sign using video-based identification. Default: `false`.",
                  "x-ms-summary": "Allow Video Identification",
                  "x-ms-visibility": "important",
                  "enum": [
                    false,
                    true
                  ]
                },
                "allowed_signing_methods": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Allow only specific signing methods. Available values: `mobile`, `smartid`, `smartcard`, `eparaksts_mobile`, `bankid_no`, `bankid_se`, `audkenni_app`, `ftn`, `mitid`, `electronic_id`, `itsme`, `idin`, `swisscom`, `sms_otp`.",
                  "x-ms-summary": "Allowed Signing Methods",
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        ]
      }
    },
    "/signing/{token}/seal.json": {
      "post": {
        "summary": "Seal signing",
        "description": "Document will be sealed with your organizations' electronic seal. Please contact our support at developers@dokobit.com to get a qualified certificate for e-sealing.",
        "operationId": "DokobitUniversalAPISealSigning",
        "x-ms-visibility": "important",
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status.",
                  "x-ms-summary": "Status"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status",
                  "x-ms-summary": "Status"
                },
                "message": {
                  "type": "string",
                  "description": "message",
                  "x-ms-summary": "Message"
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string",
                        "description": "message",
                        "x-ms-summary": "Message"
                      },
                      "error_code": {
                        "type": "integer",
                        "format": "int32",
                        "description": "error_code",
                        "x-ms-summary": "Error Code"
                      },
                      "field": {
                        "type": "string",
                        "description": "field",
                        "x-ms-summary": "Field"
                      }
                    }
                  },
                  "description": "errors"
                },
                "error_code": {
                  "type": "integer",
                  "format": "int32",
                  "description": "error_code",
                  "x-ms-summary": "Error Code"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "x-ms-url-encoding": "single",
            "name": "token",
            "in": "path",
            "required": true,
[...]
