{
  "swagger": "2.0",
  "info": {
    "title": "Writer Completion v2",
    "description": "Generate texts, prompts and chat with confidence through the help of Writer.com, the integrated platform designed for accuracy and security.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_writc@gmail.com"
    }
  },
  "host": "api.writer.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/v1/models": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "models": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the AI model.",
                        "title": "Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "Unique identifier of the model.",
                        "title": "ID"
                      }
                    }
                  },
                  "description": "models"
                }
              }
            }
          }
        },
        "summary": "List models",
        "operationId": "ListModels",
        "description": "List name and ID of available AI models.",
        "parameters": []
      }
    },
    "/v1/completions": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "choices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "text": {
                        "type": "string",
                        "description": "The generated text output from the model, which forms the main content of the response.",
                        "title": "Text"
                      },
                      "log_probs": {
                        "type": "string",
                        "description": "Object containing information about log probabilities.",
                        "title": "Log probabilities"
                      }
                    }
                  },
                  "description": "A list of choices generated by the model, each containing the text of the completion and associated metadata such as log probabilities.",
                  "title": "Choices"
                },
                "model": {
                  "type": "string",
                  "description": "The identifier of the model that was used to generate the responses in the 'choices' array.",
                  "title": "Model"
                }
              }
            }
          }
        },
        "summary": "Text generation",
        "operationId": "TextGeneration",
        "description": "Generate text based on the input parameters provided.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string",
                  "description": "The identifier of the model to be used for processing the request.",
                  "title": "Model",
                  "x-ms-visibility": "important",
                  "x-ms-dynamic-values": {
                    "operationId": "ListModels",
                    "value-path": "id",
                    "value-collection": "models",
                    "value-title": "name"
                  }
                },
                "prompt": {
                  "type": "string",
                  "description": "The input text that the model will process to generate a response.",
                  "title": "Prompt",
                  "x-ms-visibility": "important"
                },
                "max_tokens": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of tokens that the model can generate in the response.",
                  "title": "Max tokens",
                  "x-ms-visibility": "advanced"
                },
                "temperature": {
                  "type": "number",
                  "format": "float",
                  "description": "Controls the randomness of the model's outputs. Higher values lead to more random outputs, while lower values make the model more deterministic.",
                  "title": "Temperature",
                  "x-ms-visibility": "advanced"
                },
                "stream": {
                  "type": "boolean",
                  "description": "Determines whether the model's output should be streamed. If true, the output is generated and sent incrementally, which can be useful for real-time applications.",
                  "title": "Stream",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false,
                  "x-ms-visibility": "internal"
                },
                "random_seed": {
                  "type": "integer",
                  "format": "int32",
                  "description": "A seed used to initialize the random number generator for the model, ensuring reproducibility of the output when the same inputs are provided.",
                  "title": "Random seed",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "model",
                "prompt",
                "stream"
              ]
            }
          }
        ]
      }
    },
    "/v1/chat": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "A globally unique identifier (UUID) for the response generated by the API.",
                  "title": "Id"
                },
                "choices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "finish_reason": {
                        "type": "string",
                        "description": "Describes the condition under which the model ceased generating content.",
                        "title": "Finish reason"
                      },
                      "message": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "The text content produced by the model. This field contains the actual output generated, reflecting the model's response to the input query or command.",
                            "title": "Content"
                          },
                          "role": {
                            "type": "string",
                            "description": "Specifies the role associated with the content, indicating whether the message is from the 'assistant' or another defined role, helping to contextualize the output within the interaction flow.",
                            "title": "Role"
                          }
                        },
                        "description": "message"
                      }
                    }
                  },
                  "description": "An array of objects representing the different outcomes or results produced by the model based on the input provided.",
                  "title": "Choices"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The Unix timestamp (in seconds) when the response was created.",
                  "title": "Created"
                },
                "model": {
                  "type": "string",
                  "description": "Identifies the specific model used to generate the response.",
                  "title": "Model"
                }
              }
            }
          }
        },
        "summary": "Chat completion",
        "operationId": "ChatCompletion",
        "description": "Facilitates engaging and dynamic conversations between a user and an AI-assisted chat model.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string",
                  "description": "Specifies the model to be used for generating responses.",
                  "title": "Model",
                  "x-ms-visibility": "internal",
                  "default": "palmyra-x-002-32k"
                },
                "temperature": {
                  "type": "number",
                  "format": "float",
                  "description": "Controls the randomness or creativity of the model's responses. A higher temperature results in more varied and less predictable text, while a lower temperature produces more deterministic and conservative outputs.",
                  "title": "Temperature",
                  "default": 1,
                  "x-ms-visibility": "advanced"
                },
                "max_tokens": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Defines the maximum number of tokens (words and characters) that the model can generate in the response.",
                  "title": "Max tokens",
                  "default": 16,
                  "x-ms-visibility": "advanced"
                },
                "n": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Specifies the number of completions (responses) to generate from the model in a single request. This parameter allows multiple responses to be generated, offering a variety of potential replies from which to choose.",
                  "title": "N",
                  "x-ms-visibility": "advanced"
                },
                "stream": {
                  "type": "boolean",
                  "description": "Indicates whether the response should be streamed incrementally as it is generated or only returned once fully complete.",
                  "title": "Stream",
                  "default": false,
                  "x-ms-visibility": "internal"
                },
                "messages": {
                  "type": "array",
                  "x-ms-visibility": "important",
                  "items": {
                    "type": "object",
                    "properties": {
                      "role": {
                        "type": "string",
                        "description": "Role to whom the given message content belongs to.",
                        "title": "Role",
                        "enum": [
                          "user",
                          "assistant",
                          "system"
                        ]
                      },
                      "content": {
                        "type": "string",
                        "description": "Content of the conversation history or context for the model to respond to.",
                        "title": "Content"
                      }
                    },
                    "required": [
                      "content",
                      "role"
                    ]
                  },
                  "description": "messages"
                }
              },
              "required": [
                "messages",
                "model",
                "stream"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://dev.writer.com/api-guides/api-reference"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://writer.com/legal/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Productivity"
    }
  ]
}