{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "My Acclaro",
    "description": "My Acclaro allows you to seamlessly connect to the Acclaro client portal to submit your translation projects directly."
  },
  "host": "apisandbox.acclaro.com",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/info/version": {
      "get": {
        "summary": "Get system information",
        "tags": [
          "info"
        ],
        "description": "Returns a variety of helpful system information including version of API source code in use,\n    service endpoint and last date of database synchronization.",
        "operationId": "GetSystemInformation",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string",
                      "description": "version"
                    },
                    "endpoint": {
                      "type": "string",
                      "description": "endpoint"
                    },
                    "sitedescription": {
                      "type": "string",
                      "description": "sitedescription"
                    },
                    "backend": {
                      "type": "string",
                      "description": "backend"
                    },
                    "maxdocsize": {
                      "type": "string",
                      "description": "maxdocsize"
                    },
                    "lastsync": {
                      "type": "string",
                      "description": "lastsync"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/info/languages": {
      "get": {
        "summary": "Get supported languages",
        "tags": [
          "info"
        ],
        "description": "Returns a list of supported languages.",
        "operationId": "GetSupportedLanguages",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "code3": {
                        "type": "string",
                        "description": "code3"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "visible": {
                        "type": "integer",
                        "format": "int32",
                        "description": "visible"
                      },
                      "last_updated": {
                        "type": "string",
                        "description": "last_updated"
                      },
                      "updated_by": {
                        "type": "string",
                        "description": "updated_by"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "error_description": {
                  "type": "string",
                  "description": "error_description"
                }
              }
            }
          }
        }
      }
    },
    "/info/language-pairs": {
      "get": {
        "summary": "Get language pairs",
        "tags": [
          "info"
        ],
        "description": "Returns a list of source/target pairs that may be used for translations.",
        "operationId": "GetLanguagePairs",
        "parameters": [
          {
            "name": "sourcelang",
            "default": "en-us",
            "in": "query",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "source": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "code3": {
                            "type": "string",
                            "description": "code3"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          }
                        },
                        "description": "source"
                      },
                      "target": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "code3": {
                            "type": "string",
                            "description": "code3"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          }
                        },
                        "description": "target"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "error_description": {
                  "type": "string",
                  "description": "error_description"
                }
              }
            }
          }
        }
      }
    },
    "/info/account": {
      "get": {
        "summary": "Get account information",
        "tags": [
          "info"
        ],
        "description": "Returns profile information about the API user account in use.  ",
        "operationId": "GetAccountInformation",
        "parameters": [],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "plunetid": {
                      "type": "string",
                      "description": "plunetid"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "company": {
                      "type": "string",
                      "description": "company"
                    },
                    "firstname": {
                      "type": "string",
                      "description": "firstname"
                    },
                    "lastname": {
                      "type": "string",
                      "description": "lastname"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone"
                    },
                    "url": {
                      "type": "string",
                      "description": "url"
                    },
                    "created": {
                      "type": "string",
                      "description": "created"
                    },
                    "modified": {
                      "type": "string",
                      "description": "modified"
                    },
                    "lastactivity": {
                      "type": "string",
                      "description": "lastactivity"
                    },
                    "team": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string",
                            "description": "title"
                          },
                          "firstname": {
                            "type": "string",
                            "description": "firstname"
                          },
                          "lastname": {
                            "type": "string",
                            "description": "lastname"
                          },
                          "phone": {
                            "type": "string",
                            "description": "phone"
                          },
                          "email": {
                            "type": "string",
                            "description": "email"
                          }
                        }
                      },
                      "description": "team"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "error"
                },
                "error_description": {
                  "type": "string",
                  "description": "error_description"
                }
              }
            }
          }
        }
      }
    },
    "/info/order-types": {
      "get": {
        "summary": "Get all supported order types",
        "tags": [
          "info"
        ],
        "description": "Returns all order types available for the account as an\n    array of Order Types, each order type consisting of a name and a flag “default” which\n    will be zero or one, indicating which order type will be set when none is specified.\n    Note that order types is an optional argument in create order(/orders) and edit order\n    (/orders/{orderId}) intended to assist clients who require this level of order classification\n    for reporting purposes.",
        "operationId": "GetAllSupportedOrderTypes",
        "parameters": [],
        "responses": {
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/callback": {
      "delete": {
        "summary": "Delete a callback added to the file",
        "tags": [
          "callback"
        ],
        "description": "Request that Acclaro no longer invoke the supplied URL when the file changes in any way. ",
        "operationId": "DeleteACallbackAddedToTheFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "fileid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID"
          },
          {
            "name": "url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The URL to be removed from the callback system"
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a callback for file updates",
        "tags": [
          "callback"
        ],
        "description": "Request that Acclaro invoke the supplied URL when the file changes in any way.",
        "operationId": "AddACallbackForFileUpdates",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "fileid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID"
          },
          {
            "name": "url",
            "in": "formData",
            "required": true,
            "type": "string",
            "description": "The URL to be added to the callback system"
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/email": {
      "delete": {
        "summary": "Delete a callback added to the file",
        "tags": [
          "email"
        ],
        "description": "Request that Acclaro no longer email the supplied address when the file changes in any way.",
        "operationId": "DeleteACallbackAddedToTheFile7",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "fileid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID"
          },
          {
            "name": "email",
            "in": "formData",
            "type": "string",
            "required": true,
            "description": "The email to be deleted to the callback system"
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Request an email on file changes",
        "tags": [
          "email"
        ],
        "description": "Request that Acclaro send an email message to the provided address when the file changes in any\n     way.  For customer-friendly email messages, see the delivery options in the My Acclaro portal.  This\n     email is a simple message geared towards developers.",
        "operationId": "RequestAnEmailOnFileChanges",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "fileid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID"
          },
          {
            "name": "email",
            "in": "formData",
            "type": "string",
            "required": true,
            "description": "The email to be added to the callback system"
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}": {
      "get": {
        "summary": "Get a file",
        "tags": [
          "file"
        ],
        "description": "Returns the contents of a previously sent file. This is one of the few operations that does not\n     return JSON data, instead directly returning the file contents.  If an error occurs while processing the\n     request, then the response will be JSON data, so the type of the response should always be checked.",
        "operationId": "GetAFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "fileid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a file from the order",
        "tags": [
          "file"
        ],
        "description": "Deletes the given file from the order, prior to an order being submitted.\n    If a source file ever needs to be cancelled after it’s been submitted as part of an\n    order, ‘CANCEL FILE’ can be submitted as a comment in /orders/{orderid}/files/{fileid}}/comment.\n    We also request that you separately contact your Acclaro project manager with the source\n    file cancellation request.",
        "operationId": "DeleteAFileFromTheOrder",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "fileid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/status": {
      "get": {
        "summary": "Get file information",
        "tags": [
          "file"
        ],
        "description": "Retrieves information about the given file.",
        "operationId": "GetFileInformation",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "fileid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "fileid"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "orderid"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "filetype"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "originalfilename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "original-filename"
                    },
                    "filename": {
                      "type": "string",
                      "description": "filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "plunet-filename"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "clientref"
                    },
                    "comments": {
                      "type": "string",
                      "description": "comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "reviewurl"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "review"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "targetfile"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "previewfile"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "code3"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        }
                      },
                      "description": "sourcelang"
                    },
                    "targetlang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "code3"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        }
                      },
                      "description": "targetlang"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "callbacks"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "emails"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/rate": {
      "post": {
        "summary": "Rate a file",
        "tags": [
          "file"
        ],
        "description": "Submits rating information about files. Rating scale is 1-5 with 1 being\n    poor quality and 5 being perfect quality. Review text strings are optional and can be\n    included to explain the reasoning for the rating such as identified errors or areas of\n    translation improvement classifications. ",
        "operationId": "RateAFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "fileid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID"
          },
          {
            "name": "rating",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "review",
            "in": "formData",
            "type": "string",
            "required": false
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "fileid"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "orderid"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "filetype"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "originalfilename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "original-filename"
                    },
                    "filename": {
                      "type": "string",
                      "description": "filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "plunet-filename"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "clientref"
                    },
                    "comments": {
                      "type": "string",
                      "description": "comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "reviewurl"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "review"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "targetfile"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "previewfile"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "code3"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        }
                      },
                      "description": "sourcelang"
                    },
                    "targetlang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "code3"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        }
                      },
                      "description": "targetlang"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "callbacks"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "emails"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    },
                    "rating": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "rating"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/comment": {
      "post": {
        "summary": "Add a comment for a file",
        "tags": [
          "file"
        ],
        "description": "Adds a comment to file. New comments are appended. ",
        "operationId": "AddACommentForAFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "fileid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID"
          },
          {
            "name": "comment",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "fileid"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "orderid"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "filetype"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "originalfilename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "original-filename"
                    },
                    "filename": {
                      "type": "string",
                      "description": "filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "plunet-filename"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "clientref"
                    },
                    "comments": {
                      "type": "string",
                      "description": "comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "reviewurl"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "review"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "targetfile"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "previewfile"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "code3"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        }
                      },
                      "description": "sourcelang"
                    },
                    "targetlang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "code3"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        }
                      },
                      "description": "targetlang"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "callbacks"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "emails"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files/{fileid}/review-url": {
      "post": {
        "summary": "Add a review URL for a file",
        "tags": [
          "file"
        ],
        "description": "Adds a URL to a file so it may be referenced for in context review on the web. This assumes the\n     URL is publically available or the translator has private access credentials to view the content. For\n     source files this URL may assist translators in understanding the initial context and layout\n     restrictions of the content. For target files, this URL may assist translators, editors and testers with\n     verification workflows to ensure translated content appears as expected on the destination web pages.",
        "operationId": "AddAReviewUrlForAFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "fileid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "the unique identifier assigned to a source or target file, i.e. the file ID"
          },
          {
            "name": "url",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "fileid"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "orderid"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "filetype"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "originalfilename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "original-filename"
                    },
                    "filename": {
                      "type": "string",
                      "description": "filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "plunet-filename"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "clientref"
                    },
                    "comments": {
                      "type": "string",
                      "description": "comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "reviewurl"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "review"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "targetfile"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "previewfile"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "code3"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        }
                      },
                      "description": "sourcelang"
                    },
                    "targetlang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "code3"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        }
                      },
                      "description": "targetlang"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "callbacks"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "emails"
                    }
                  },
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/files": {
      "post": {
        "summary": "Send a source file",
        "tags": [
          "file"
        ],
        "description": "Adds a file to an order, taking the filename and mime-type from the file metadata.\n    If no orderid is provided, a new order is automatically created. The sourcelang\n    should be one of the language codes obtained from /info/languages. Targetlangs can be a\n    single language code or several language codes in a comma-separated list. Encoding is\n    optional, and defaults to “UTF-8” if not specified. ClientRef is an optional value\n    meaningful to the API user typically used for Purchase Order numbers but can be used\n    for any relevant information; if supplied when the file is loaded, it will be returned\n    in all future calls about this file. If a filename is supplied that duplicates the\n    name of another file in this order, the system will make it unique by adding\n    additional characters (i.e. “documentation.docx” may become “documentation-2.docx”).\n    Returned file metadata includes both the originally supplied filename and the possibly\n    modified name that Acclaro will use. Individual file size is limited to 100MB maximum\n    . The API is file agnostic, as there are no file type limitations. XLIFF files are a\n    common translation industry standard and are fully supported. In-progress orders may\n    have new additional files added to them as long as the source and target languages\n    match the original order’s files.\n\n    For continuous programmatic orders, it is recommended that the /orders/{orderid}/files\n    be used to build orders up with source files before submission via the SubmitOrder\n    call, as this is the most efficient path for Acclaro translation services to receive\n    orders with multiple files and then return subsequent translation files.\n\n    If clients wish to maintain specific folder and file structures for their source files,\n    they can upload zip files which will be returned with translations in desired folder\n    and file structures within target delivery zip files.",
        "operationId": "SendASourceFile",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "sourcelang",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "targetlang",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "file",
            "in": "formData",
            "type": "file",
            "required": true
          },
          {
            "name": "enconding",
            "in": "formData",
            "type": "string",
            "required": false
          },
          {
            "name": "clientref",
            "in": "formData",
            "type": "string",
            "required": false
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "fileid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "fileid"
                    },
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "orderid"
                    },
                    "filetype": {
                      "type": "string",
                      "description": "filetype"
                    },
                    "originalfilename": {
                      "type": "string",
                      "description": "originalfilename"
                    },
                    "original-filename": {
                      "type": "string",
                      "description": "original-filename"
                    },
                    "filename": {
                      "type": "string",
                      "description": "filename"
                    },
                    "plunet-filename": {
                      "type": "string",
                      "description": "plunet-filename"
                    },
                    "encoding": {
                      "type": "string",
                      "description": "encoding"
                    },
                    "mimetype": {
                      "type": "string",
                      "description": "mimetype"
                    },
                    "size": {
                      "type": "integer",
                      "format": "int32",
                      "description": "size"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "clientref"
                    },
                    "comments": {
                      "type": "string",
                      "description": "comments"
                    },
                    "reviewurl": {
                      "type": "string",
                      "description": "reviewurl"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "review"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "targetfile": {
                      "type": "string",
                      "description": "targetfile"
                    },
                    "previewfile": {
                      "type": "string",
                      "description": "previewfile"
                    },
                    "uploaded": {
                      "type": "string",
                      "description": "uploaded"
                    },
                    "sourcelang": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "code3": {
                          "type": "string",
                          "description": "code3"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        }
                      },
                      "description": "sourcelang"
                    },
                    "targetlang": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "description": "code"
                          },
                          "code3": {
                            "type": "string",
                            "description": "code3"
                          },
                          "description": {
                            "type": "string",
                            "description": "description"
                          }
                        }
                      },
                      "description": "targetlang"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "callbacks"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "emails"
                    }
                  },
                  "description": "data"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/callback": {
      "delete": {
        "summary": "Delete a callback added to order",
        "tags": [
          "callback"
        ],
        "description": "Request that Acclaro no longer invoke the supplied URL when the order\n     changes in any way.",
        "operationId": "DeleteACallbackAddedToOrder",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "405": {
            "description": "405",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "post": {
        "summary": "Add a callback for order updates",
        "tags": [
          "callback"
        ],
        "description": "Request that Acclaro invoke the supplied URL when the order changes in any way. If your code is\n     only concerned with certain changes, such as the status going to “complete”, you must retrieve the order\n     information and check for that.",
        "operationId": "AddACallbackForOrderUpdates",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "url",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "url"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/email": {
      "delete": {
        "summary": "Stop an email from receiving order changes",
        "tags": [
          "email"
        ],
        "description": "Request that Acclaro no longer email the supplied address when the order\n     changes in any way.",
        "operationId": "StopAnEmailFromReceivingOrderChanges",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Request an email on order changes",
        "tags": [
          "email"
        ],
        "description": "Request that Acclaro send an email message to the provided address when the order changes in\n     any way. For customer-friendly email messages, see the delivery options in the My Acclaro portal. This\n     email is a simple message geared towards developers.",
        "operationId": "RequestAnEmailOnOrderChanges",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "email",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "array",
                  "items": {},
                  "description": "data"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                }
              }
            }
          },
          "422": {
            "description": "422",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "errorCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "errorCode"
                },
                "errorMessage": {
                  "type": "string",
                  "description": "errorMessage"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "orderid"
                    }
                  },
                  "description": "errors"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{orderid}/comment/{commentid}": {
      "delete": {
        "summary": "Remove a comment from order",
        "tags": [
          "comment"
        ],
        "description": "Removes a comment from the order",
        "operationId": "RemoveACommentFromOrder",
        "parameters": [
          {
            "name": "orderid",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier assigned to the Order, i.e. Order ID"
          },
          {
            "name": "commentid",
            "in": "path",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "description": "success"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "orderid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "orderid"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "plunetid": {
                          "type": "string",
                          "description": "plunetid"
                        },
                        "firstname": {
                          "type": "string",
                          "description": "firstname"
                        },
                        "lastname": {
                          "type": "string",
                          "description": "lastname"
                        },
                        "company": {
                          "type": "string",
                          "description": "company"
                        },
                        "phone": {
                          "type": "string",
                          "description": "phone"
                        },
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "created": {
                          "type": "string",
                          "description": "created"
                        },
                        "modified": {
                          "type": "string",
                          "description": "modified"
                        }
                      },
                      "description": "user"
                    },
                    "usergroup": {
                      "type": "integer",
                      "format": "int32",
                      "description": "usergroup"
                    },
                    "plunet-orderid": {
                      "type": "string",
                      "description": "plunet-orderid"
                    },
                    "plunet-requestid": {
                      "type": "string",
                      "description": "plunet-requestid"
                    },
                    "plunet-quoteid": {
                      "type": "integer",
                      "format": "int32",
                      "description": "plunet-quoteid"
                    },
                    "plunet-quotenum": {
                      "type": "string",
                      "description": "plunet-quotenum"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "process_type": {
                      "type": "string",
                      "description": "process_type"
                    },
                    "ordertype": {
                      "type": "string",
                      "description": "ordertype"
                    },
                    "sourcefilecount": {
                      "type": "object",
                      "properties": {},
                      "description": "sourcefilecount"
                    },
                    "referencefilecount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "referencefilecount"
                    },
                    "targetfilecount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "targetfilecount"
                    },
                    "requested_due_date": {
                      "type": "string",
                      "description": "requested_due_date"
                    },
                    "duedate": {
                      "type": "string",
                      "description": "duedate"
                    },
                    "clientref": {
                      "type": "string",
                      "description": "clientref"
                    },
                    "delivery": {
                      "type": "string",
                      "description": "delivery"
                    },
                    "rating": {
                      "type": "integer",
                      "format": "int32",
                      "description": "rating"
                    },
                    "review": {
                      "type": "string",
                      "description": "review"
                    },
                    "created": {
                      "type": "string",
                      "description": "created"
                    },
                    "modified": {
                      "type": "string",
                      "description": "modified"
                    },
                    "sourcelang": {
                      "type": "array",
                      "items": {},
                      "description": "sourcelang"
                    },
                    "targetlang": {
                      "type": "array",
                      "items": {},
                      "description": "targetlang"
                    },
                    "ordertypecode": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ordertypecode"
                    },
                    "emailaddress": {
                      "type": "string",
                      "description": "emailaddress"
                    },
                    "emailquote": {
                      "type": "integer",
                      "format": "int32",
                      "description": "emailquote"
                    },
                    "emailfile": {
                      "type": "integer",
                      "format": "int32",
                      "description": "emailfile"
                    },
                    "emaildone": {
                      "type": "integer",
                      "format": "int32",
                      "description": "emaildone"
                    },
                    "emailsubmit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "emailsubmit"
                    },
                    "emailcomment": {
                      "type": "integer",
                      "format": "int32",
                      "description": "emailcomment"
                    },
                    "quoterequired": {
                      "type": "integer",
                      "format": "int32",
                      "description": "quoterequired"
                    },
                    "autoapprove": {
                      "type": "integer",
                      "format": "int32",
                      "description": "autoapprove"
                    },
                    "autoapproveamt": {
                      "type": "integer",
                      "format": "int32",
                      "description": "autoapproveamt"
                    },
                    "tags": {
                      "type": "array",
                      "items": {},
                      "description": "tags"
                    },
                    "estimatedwordcount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "estimatedwordcount"
                    },
                    "lastdelivery": {
                      "type": "string",
                      "description": "lastdelivery"
                    },
                    "invoicedate": {
                      "type": "string",
                      "description": "invoicedate"
                    },
                    "invoicedue": {
                      "type": "string",
                      "description": "invoicedue"
                    },
                    "in_preparation": {
                      "type": "string",
                      "description": "in_preparation"
                    },
                    "in_progress]": {
                      "type": "string",
                      "description": "in_progress]"
                    },
                    "in_review": {
                      "type": "string",
                      "description": "in_review"
                    },
                    "completed": {
                      "type": "string",
                      "description": "completed"
                    },
                    "canceled": {
                      "type": "string",
                      "description": "canceled"
                    },
                    "getting_quote": {
                      "type": "string",
                      "description": "getting_quote"
                    },
                    "needs_approval": {
                      "type": "string",
                      "description": "needs_approval"
                    },
                    "comments": {
                      "type": "string",
                      "description": "comments"
                    },
                    "account": {
                      "type": "object",
                      "properties": {
                        "plunetid": {
                          "type": "string",
                          "description": "plunetid"
                        },
                        "company": {
                          "type": "string",
                          "description": "company"
                        },
                        "phone": {
                          "type": "string",
                          "description": "phone"
                        },
                        "email": {
                          "type": "string",
                          "description": "email"
                        },
                        "url": {
                          "type": "string",
                          "description": "url"
                        },
                        "created": {
                          "type": "string",
                          "description": "created"
                        },
                        "modified": {
                          "type": "string",
                          "description": "modified"
                        },
                        "lastactivity": {
                          "type": "string",
                          "description": "lastactivity"
                        }
                      },
                      "description": "account"
                    },
                    "callbacks": {
                      "type": "array",
                      "items": {},
                      "description": "callbacks"
                    },
                    "emails": {
                      "type": "array",
                      "items": {},
                      "description": "emails"
                    },
                    "source_word_count": {
                      "type": "object",
                      "properties": {},
                      "description": "source_word_count"
                    }
                  },
                  "description": "data"
                },
                "order": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "id"
                    },
                    "user_id": {
[...]
