{
  "basePath": "/",
  "consumes": [],
  "definitions": {
    "DownloadDocumentRequest": {
      "properties": {
        "documentId": {
          "title": "Document",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExecuteDynamicsFlowRequest": {
      "properties": {
        "entityId": {
          "description": "Unique identifier of the entity you want to launch the Smart Flow from.",
          "title": "Entity",
          "type": "string"
        },
        "flowId": {
          "description": "The Smart Flow to execute.",
          "title": "Flow",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetFlows",
            "parameters": {},
            "value-path": "flowId",
            "value-title": "displayName"
          }
        },
        "userName": {
          "description": "The user name of the user to execute the flow with. If none provided, the user of the connector will be used.",
          "title": "User Name",
          "type": "string"
        }
      },
      "required": [
        "entityId",
        "flowId"
      ],
      "type": "object"
    },
    "FlowExecutionResponse": {
      "properties": {
        "executionId": {
          "description": "Execution unique identifier.",
          "title": "Execution",
          "type": "string"
        },
        "message": {
          "title": "Message",
          "type": "string"
        },
        "status": {
          "title": "Status",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FlowResponse": {
      "properties": {
        "description": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "flowId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetDocumentsRequest": {
      "properties": {
        "executionId": {
          "title": "Execution",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetDocumentsResponse": {
      "properties": {
        "contentType": {
          "title": "Content Type",
          "type": "string"
        },
        "documentId": {
          "title": "Document",
          "type": "string"
        },
        "documentName": {
          "title": "Document Name",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "host": "powerapps.xpertdoc.com",
  "info": {
    "description": "Xpertdoc enables business users to simplify, optimize and automate consistent document generation processes, leveraging Microsoft Dynamics 365 and external data sources as well as seamless integrations to leading applications. Our robust and user-friendly features let you easily create, generate, manage, store, deliver and e-sign business-critical documents like quotes, proposals, contracts, invoices and more without code.",
    "title": "Xpertdoc",
    "version": "1.0",
    "contact": {
      "name": "Xpertdoc Support",
      "url": "https://support.xpertdoc.com",
      "email": "support@xpertdoc.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.xpertdoc.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.xpertdoc.com/en/information-security/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Document;Generation;Automation"
    }
  ],
  "parameters": {},
  "paths": {
    "/api/Documents": {
      "post": {
        "description": "Get documents from a Smart Flow execution.",
        "operationId": "GetDocuments",
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDocumentsRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/GetDocumentsResponse"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "Get Documents",
        "tags": [
          "Documents"
        ]
      }
    },
    "/api/DownloadDocument": {
      "post": {
        "description": "Downloads the document from an execution.",
        "operationId": "DownloadDocument",
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DownloadDocumentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "format": "binary",
              "title": "Document Content",
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "Download Document",
        "tags": [
          "Documents"
        ]
      }
    },
    "/api/ExecuteDynamicsFlow": {
      "post": {
        "consumes": [],
        "description": "Execute a Smart Flow for a Dynamics 365 data set.",
        "operationId": "ExecuteDynamicsFlow",
        "parameters": [
          {
            "in": "body",
            "name": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExecuteDynamicsFlowRequest"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FlowExecutionResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "Execute Dynamics Flow",
        "tags": [
          "Flows"
        ]
      }
    },
    "/api/Flows": {
      "get": {
        "consumes": [],
        "operationId": "GetFlows",
        "parameters": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/FlowResponse"
              },
              "type": "array",
              "uniqueItems": true
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "Get Flows",
        "tags": [
          "Flows"
        ],
        "x-ms-visibility": "internal"
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [],
  "securityDefinitions": {},
  "swagger": "2.0",
  "tags": []
}