{
  "swagger": "2.0",
  "info": {
    "title": "Seismic Livedoc",
    "description": "Seismic Livedoc connector provides set of actions required for generating livedocs.",
    "contact": {
      "name": "Seismic",
      "email": "support@seismic.com",
      "url": "https://seismic.com"
    },
    "license": {
      "name": "Seismic"
    },
    "version": "1.0",
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "api.seismic.com",
  "basePath": "/integration/v2",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/teamsites/{teamsiteId}/livedocVersions/{libraryContentVersionId}": {
      "get": {
        "tags": [
          "LiveDoc"
        ],
        "summary": "Get the list of inputs for a LiveDoc",
        "description": "Gets the list of adHoc inputs required to generate a LiveDoc.",
        "operationId": "GetLiveDocInputs",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentVersionId",
            "description": "Library Content Version Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Version Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LiveDocs.LiveDocVersionResp"
            },
            "examples": {
              "application/json": {
                "adhocInputs": [
                  {
                    "name": "Full Name",
                    "type": "string"
                  },
                  {
                    "name": "Age",
                    "type": "integer"
                  },
                  {
                    "name": "Birthday",
                    "type": "date"
                  },
                  {
                    "name": "Education",
                    "type": "table",
                    "columns": [
                      {
                        "name": "Graduation Date",
                        "type": "date"
                      },
                      {
                        "name": "School Name",
                        "type": "string"
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "LiveDoc"
        ],
        "summary": "Generate a LiveDoc",
        "description": "This is where you start a generation, with all the necessary options. Each of the desired outputs must be specified in the 'outputs' array.",
        "operationId": "SubmitLiveDocGeneration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "teamsiteId",
            "description": "Teamsite Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Teamsite Id"
          },
          {
            "in": "path",
            "name": "libraryContentVersionId",
            "description": "Library Content Version Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Library Content Version Id"
          },
          {
            "in": "body",
            "name": "body",
            "description": "",
            "schema": {
              "required": [
                "outputs"
              ],
              "type": "object",
              "properties": {
                "adHocInputs": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                },
                "outputs": {
                  "minItems": 1,
                  "type": "array",
                  "items": {
                    "required": [
                      "format"
                    ],
                    "type": "object",
                    "properties": {
                      "format": {
                        "enum": [
                          "PPTX",
                          "DOCX",
                          "PDF",
                          "XLSX"
                        ],
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "fileName": {
                        "type": "string"
                      },
                      "pptxOptions": {
                        "type": "object",
                        "properties": {
                          "imageDpi": {
                            "default": 200,
                            "enum": [
                              0,
                              96,
                              120,
                              144,
                              200,
                              300,
                              400
                            ],
                            "type": "integer"
                          },
                          "clearNotes": {
                            "default": false,
                            "type": "boolean"
                          }
                        }
                      },
                      "docxOptions": {
                        "type": "object",
                        "properties": {
                          "imageDpi": {
                            "default": 200,
                            "enum": [
                              0,
                              96,
                              120,
                              144,
                              200,
                              300,
                              400
                            ],
                            "type": "integer"
                          }
                        }
                      },
                      "pdfOptions": {
                        "type": "object",
                        "properties": {
                          "layout": {
                            "default": "Full Page Slides",
                            "enum": [
                              "0",
                              "Full Page Slides",
                              "Note Pages"
                            ],
                            "type": "string"
                          },
                          "compatibility": {
                            "default": "Acrobat 9.0",
                            "enum": [
                              "Acrobat 5.0",
                              "Acrobat 7.0",
                              "Acrobat 9.0"
                            ],
                            "type": "string"
                          },
                          "openPassword": {
                            "type": "string"
                          },
                          "ownerPassword": {
                            "type": "string"
                          },
                          "ownerOptions": {
                            "type": "string",
                            "description": "Pdf permission which is showing on Live Form"
                          }
                        }
                      },
                      "xlsxOptions": {
                        "required": [
                          "datasource"
                        ],
                        "type": "object",
                        "properties": {
                          "datasource": {
                            "type": "string",
                            "description": "Excel model datasource name"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "adhocInputs": [
                  {
                    "name": "Full Name",
                    "value": "John Smith"
                  },
                  {
                    "name": "Age",
                    "value": 35
                  },
                  {
                    "name": "Birthday",
                    "value": "1983-01-15"
                  },
                  {
                    "name": "Education",
                    "value": {
                      "columns": [
                        "Graduation Day",
                        "School"
                      ],
                      "rows": [
                        [
                          "2001-07-10",
                          "Horace Greeley High School"
                        ],
                        [
                          "2005-07-25",
                          "Adams State College"
                        ]
                      ]
                    }
                  }
                ],
                "outputs": [
                  {
                    "format": "PPTX",
                    "name": "Test PPTX1",
                    "fileName": "TestPPTX1",
                    "pptxOptions": {
                      "imageDpi": 200,
                      "clearNotes": false
                    },
                    "docxOptions": null,
                    "pdfOptions": null,
                    "xlsxOptions": null
                  },
                  {
                    "format": "PDF",
                    "name": "Test PDF1",
                    "fileName": "TestPDF1",
                    "pptxOptions": null,
                    "docxOptions": null,
                    "pdfOptions": {
                      "layout": "Full Page Slides",
                      "compatibility": "Acrobat 9.0",
                      "openPassword": "1234",
                      "ownerPassword": "0000",
                      "ownerOptions": null
                    },
                    "xlsxOptions": null
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LiveDocs.LiveDocGenSuccinctResultResp"
            },
            "examples": {
              "application/json": {
                "generatedLivedocId": "generatedLivedocId"
              }
            }
          }
        }
      }
    },
    "/generatedLivedocs/{generatedLivedocId}": {
      "get": {
        "tags": [
          "LiveDoc"
        ],
        "summary": "Get status of LiveDoc generation",
        "description": "This is where you get the status for a generation process.",
        "operationId": "GetLiveDocGenerationStatus",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "generatedLivedocId",
            "description": "Generated Livedoc Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Generated Livedoc Id"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LiveDocs.LiveDocGenResultResp"
            },
            "examples": {
              "application/json": {
                "id": "id",
                "outputs": [
                  {
                    "id": "id",
                    "status": "Generating",
                    "format": "PPTX",
                    "name": "Test PPTX1",
                    "fileName": "TestPPTX1"
                  },
                  {
                    "id": "id",
                    "status": "Generating",
                    "format": "PDF",
                    "name": "Test PDF1",
                    "fileName": "TestPDF1"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/generatedLivedocs/{generatedLivedocId}/outputs/{outputId}/content": {
      "get": {
        "tags": [
          "LiveDoc"
        ],
        "summary": "Download a particular output from a Livedoc generation",
        "description": "This is where you can download a particular generated output such as a PPTX, DOCX, PDF, or XLSX.",
        "operationId": "DownloadGeneratedLiveDoc",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "generatedLivedocId",
            "description": "Generated Livedoc Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Generated Livedoc Id"
          },
          {
            "in": "path",
            "name": "outputId",
            "description": "Output Id",
            "required": true,
            "type": "string",
            "x-ms-summary": "Output Id"
          },
          {
            "in": "query",
            "name": "redirect",
            "description": "Optional query parameter. Accepts true or false, defaults to true.",
            "type": "boolean",
            "x-ms-summary": "Optional query parameter. Accepts true or false.",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Seismic.LiveDocs.DownloadLocationResp"
            }
          },
          "302": {
            "description": "Redirect"
          }
        }
      }
    }
  },
  "definitions": {
    "Seismic.LiveDocs.ResponseModels.FormOutput": {
      "type": "object",
      "properties": {
        "format": {
          "type": "string",
          "x-ms-summary": "Output Format"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Output Name"
        },
        "pptxOptions": {},
        "docxOptions": {},
        "pdfOptions": {},
        "xlsxOptions": {}
      }
    },
    "Seismic.LiveDocs.DownloadLocationResp": {
      "type": "object",
      "properties": {
        "downloadUrl": {
          "type": "string"
        }
      }
    },
    "Seismic.LiveDocs.AdhocInputResp": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Adhoc Input Id"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Adhoc Input Name"
        },
        "format": {
          "type": "string",
          "x-ms-summary": "Adhoc Input Format"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Adhoc Input Type"
        },
        "columns": {
          "type": "array",
          "x-ms-summary": "Adhoc Input Columns",
          "items": {
            "$ref": "#/definitions/Seismic.LiveDocs.AdhocInputResp"
          }
        }
      }
    },
    "Seismic.LiveDocs.FormOutputResp": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary": "Form Id"
        },
        "isDefault": {
          "type": "boolean",
          "x-ms-summary": "Form Is Default"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Form Name"
        },
        "outputs": {
          "type": "array",
          "x-ms-summary": "Form Outputs",
          "items": {
            "$ref": "#/definitions/Seismic.LiveDocs.ResponseModels.FormOutput"
          }
        }
      }
    },
    "Seismic.LiveDocs.LiveDocGenOutputResultResp": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary" : "Output Id"
        },
        "status": {
          "$ref": "#/definitions/Seismic.LiveDocs.LiveDocGenStatusResp"
        },
        "format": {
          "type": "string",
          "x-ms-summary" : "Output Format"
        },
        "name": {
          "type": "string",
          "x-ms-summary" : "Output Name"
        },
        "fileName": {
          "type": "string",
          "x-ms-summary" : "Output File Name"
        }
      }
    },
    "Seismic.LiveDocs.LiveDocGenResultResp": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "x-ms-summary" : "Livedoc Id"
        },
        "outputs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.LiveDocs.LiveDocGenOutputResultResp"
          }
        }
      }
    },
    "Seismic.LiveDocs.LiveDocGenStatusResp": {
      "enum": [
        "Queued",
        "Generating",
        "Completed",
        "Failed"
      ],
      "type": "string",
      "x-ms-summary" : "Output Status"
    },
    "Seismic.LiveDocs.LiveDocGenSuccinctResultResp": {
      "type": "object",
      "properties": {
        "generatedLivedocId": {
          "type": "string"
        }
      }
    },
    "Seismic.LiveDocs.LiveDocVersionResp": {
      "type": "object",
      "properties": {
        "forms": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.LiveDocs.FormOutputResp"
          }
        },
        "adhocInputs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Seismic.LiveDocs.AdhocInputResp"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.seismic.com/central/connect/authorize",
      "tokenUrl": "https://auth.seismic.com/central/connect/token",
      "scopes": {
        "seismic.library.manage seismic.library.view offline_access": "seismic.library.manage seismic.library.view offline_access"
      }
    }
  },
  "tags": [
    {
      "name": "LiveDoc"
    }
  ],
  "security": [
    {
      "oauth2-auth": [
        "seismic.library.manage seismic.library.view offline_access"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://seismic.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://seismic.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Marketing;Sales and CRM"
    }
  ]
}
