{
  "swagger": "2.0",
  "info": {
    "title": "Apptigent PowerTools PRO",
    "version": "2020.4.01",
    "description": "Apptigent PowerTools PRO is the ultimate toolkit for Power Platform professionals. Manipulate text, modify collections, format dates and times, convert currency, perform advanced mathematical calculations, shorten URL’s, encode and decode strings, convert text to speech, translate content into multiple languages, and more. PowerTools PRO includes everything from the LITE version plus over 25 advanced actions to take your apps, forms and flows to the next level. ",
    "x-ibm-name": "powertools-professional",
    "contact": {
      "name": "Customer Support",
      "email": "support@apptigent.com",
      "url": "https://www.apptigent.com/help/"
    }
  },
  "host": "connect.apptigent.com",
  "basePath": "/api/utilities",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/AddToCollection": {
      "post": {
        "description": "Add an item to a collection",
        "operationId": "addToCollection",
        "summary": "Collections - Add to collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionModify",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionModify"
            },
            "description": "Collection modification parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/RemoveFromCollection": {
      "post": {
        "description": "Remove an item from a collection",
        "operationId": "removeFromCollection",
        "summary": "Collections - Remove from collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionModify",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionModify"
            },
            "description": "Collection modification parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/FilterCollection": {
      "post": {
        "description": "Filter a collection of strings by keyword",
        "operationId": "filterCollection",
        "summary": "Collections - Filter collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionFilter",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionFilter"
            },
            "description": "Filter collection parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/SortCollection": {
      "post": {
        "description": "Sort a collection of strings",
        "operationId": "sortCollection",
        "summary": "Collections - Sort collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionSort",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSort"
            },
            "description": "Sort collection parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CountCollection": {
      "post": {
        "description": "Count a collection of items",
        "operationId": "countCollection",
        "summary": "Collections - Count collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionCount",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionCount"
            },
            "description": "Count collection parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/SplitCollection": {
      "post": {
        "description": "Split a collection of items by matching value or index",
        "operationId": "splitCollection",
        "summary": "Collections - Split collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionSplit",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSplit"
            },
            "description": "Split collection parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputMultiCollection"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ReplaceValuesInCollection": {
      "post": {
        "description": "Replace whole or partial strings in a collection",
        "operationId": "replaceValuesInCollection",
        "summary": "Collections - Replace values in collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionReplace",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionReplace"
            },
            "description": "Replace values in collection parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CollectionContainsString": {
      "post": {
        "description": "Determine if any items in a collection contain a specific string",
        "operationId": "collectionContainsString",
        "summary": "Collections - Contains string",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionSearch",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSearch"
            },
            "description": "Collection search parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CollectionStartsWithString": {
      "post": {
        "description": "Determine if any items in a collection start with a specific string",
        "operationId": "collectionStartsWithString",
        "summary": "Collections - Starts with string",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionSearch",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSearch"
            },
            "description": "Collection search parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CollectionEndsWithString": {
      "post": {
        "description": "Determine if any items in a collection end with a specific string",
        "operationId": "collectionEndsWithString",
        "summary": "Collections - Ends with string",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionSearch",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSearch"
            },
            "description": "Collection search parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CollectionContainsNumber": {
      "post": {
        "description": "Determine if a collection contains a specific number",
        "operationId": "collectionContainsNumber",
        "summary": "Collections - Contains number",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionSearch",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSearchNumeric"
            },
            "description": "Collection search parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CollectionToJSON": {
      "post": {
        "description": "Convert a collection to a named JSON object",
        "operationId": "post-collectiontojson",
        "summary": "Collections - Collection to JSON",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionConversion",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionConversion"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CollectionToXML": {
      "post": {
        "description": "Convert a collection to an XML string",
        "operationId": "post-collectiontoxml",
        "summary": "Collections - Collection to XML",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "collectionConversionXML",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionConversionXML"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertCurrency": {
      "post": {
        "description": "Calculate value of money in a difference currency",
        "operationId": "post-convertcurrency",
        "summary": "Currency - Convert currency",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "currencyConversion",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCurrencyConversion"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/FormatCurrency": {
      "post": {
        "description": "Apply currency symbol to a numeric value",
        "operationId": "post-formatcurrency",
        "summary": "Currency - Format currency",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "currencyFormat",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCurrencyFormat"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/DateTimeInfo": {
      "post": {
        "description": "Retrieve useful date and time information, such as day of year, total seconds and ticks",
        "operationId": "dateTimeInfo",
        "summary": "DateTime - Get date and time information",
        "tags": [
          "DateTime"
        ],
        "parameters": [
          {
            "name": "dateTimeInfo",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputDateTimeInfo"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputDateInfo"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/DateTimeDifference": {
      "post": {
        "description": "Calculate the difference between two dates",
        "operationId": "dateTimeDifference",
        "summary": "DateTime - DateTime difference",
        "tags": [
          "DateTime"
        ],
        "parameters": [
          {
            "name": "dateTimeDifference",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputDateTimeDifference"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputDateDifference"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/FormatDateTime": {
      "post": {
        "description": "Create a date/time string in a specific format",
        "operationId": "formatDateTime",
        "summary": "DateTime - Format date and time",
        "tags": [
          "DateTime"
        ],
        "parameters": [
          {
            "name": "dateTimeFormat",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputDateTimeFormat"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/WorldTime": {
      "post": {
        "description": "Convert date and time from one time zone to another",
        "operationId": "worldTime",
        "summary": "DateTime - Get world time",
        "tags": [
          "DateTime"
        ],
        "parameters": [
          {
            "name": "dateTimeConversion",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputDateTimeConversion"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CalculateAverage": {
      "post": {
        "description": "Calculate the average of two or more numbers",
        "operationId": "calculateAverage",
        "summary": "Math - Calculate average",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "calculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateSeries"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CalculateMedian": {
      "post": {
        "description": "Calculate the median of two or more numbers",
        "operationId": "calculateMedian",
        "summary": "Math - Calculate median",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "calculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateSeries"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CalculateMinMax": {
      "post": {
        "description": "Calculate the minimum or maximum value in a sequence of numbers",
        "operationId": "calculateMinMax",
        "summary": "Math - Calculate minimum or maximum",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "calculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateMinMax"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CalculateSum": {
      "post": {
        "description": "Calculate the sum of two or more numbers",
        "operationId": "calculateSum",
        "summary": "Math - Calculate sum",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "calculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateSeries"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CalculatePower": {
      "post": {
        "description": "Raise number to a specified power",
        "operationId": "calculatePower",
        "summary": "Math - Calculate power",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "calculatePower",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculatePower"
            },
            "description": "Power calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CalculateVariance": {
      "post": {
        "description": "Calculate the statistical variance of two or more numbers",
        "operationId": "calculateVariance",
        "summary": "Math - Calculate variance",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "calculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateSeries"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertAngle": {
      "post": {
        "description": "Convert value from one angle measurement to another",
        "operationId": "convertAngle",
        "summary": "Math - Convert angle",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "convertAngle",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertAngle"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertArea": {
      "post": {
        "description": "Convert value from one area measurement to another",
        "operationId": "convertArea",
        "summary": "Math - Convert area",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "convertArea",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertArea"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertDistance": {
      "post": {
        "description": "Convert value from one distance measurement to another",
        "operationId": "convertDistance",
        "summary": "Math - Convert distance",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "convertDistance",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertDistance"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertDuration": {
      "post": {
        "description": "Convert value from one duration measurement to another",
        "operationId": "convertDuration",
        "summary": "Math - Convert duration",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "convertDuration",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertDuration"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertEnergy": {
      "post": {
        "description": "Convert value from one energy measurement to another",
        "operationId": "convertEnergy",
        "summary": "Math - Convert energy",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "convertEnergy",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertEnergy"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertPower": {
      "post": {
        "description": "Convert value from one power measurement to another",
        "operationId": "convertPower",
        "summary": "Math - Convert power",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "convertPower",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertPower"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertSpeed": {
      "post": {
        "description": "Convert value from one speed measurement to another",
        "operationId": "convertSpeed",
        "summary": "Math - Convert speed",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "convertSpeed",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertSpeed"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertTemperature": {
      "post": {
        "description": "Convert value from one temperature measurement to another",
        "operationId": "convertTemperature",
        "summary": "Math - Convert temperature",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "convertTemperature",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertTemperature"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertVolume": {
      "post": {
        "description": "Convert value from one volume measurement to another",
        "operationId": "convertVolume",
        "summary": "Math - Convert volume",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "convertVolume",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertVolume"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertWeight": {
      "post": {
        "description": "Convert value from one weight measurement to another",
        "operationId": "convertWeight",
        "summary": "Math - Convert weight",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "convertWeight",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertWeight"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/RandomNumber": {
      "post": {
        "description": "Generate a random number within a specified range",
        "operationId": "randomNumber",
        "summary": "Math - Random number",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "numberRange",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputNumberRange"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/RoundNumber": {
      "post": {
        "description": "Round a numeric value up or down",
        "operationId": "roundNumber",
        "summary": "Math - Round number",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "calculateNumber",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumber"
            },
            "description": "Numeric calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/StandardDeviation": {
      "post": {
        "description": "Calculate the standard deviation of two or more numbers",
        "operationId": "standardDeviation",
        "summary": "Math - Calculate standard deviation",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "calculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateSeries"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CompareStrings": {
      "post": {
        "description": "Perform a comparison of two strings",
        "operationId": "compareStrings",
        "summary": "Text - Compare strings",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "stringComparison",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputStringComparison"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ContainsString": {
      "post": {
        "description": "Determine if a string contains another string",
        "operationId": "containsString",
        "summary": "Text - Contains string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "stringContains",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputStringContains"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertCase": {
      "post": {
        "description": "Convert string to upper, lower or title case",
        "operationId": "convertCase",
        "summary": "Text - Convert case",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "caseConversion",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCaseConversion"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/DecodeString": {
      "post": {
        "description": "Decode a string encoded with Base64 encoding",
        "operationId": "decodeString",
        "summary": "Text - Decode string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "stringInput",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "source"
              ],
              "properties": {
                "source": {
                  "type": "string",
                  "x-ms-summary": "Source",
                  "description": "Encoded string variable or text value"
                }
              },
              "example": {
                "source": "VGhlIGJyb3duIGNvdw=="
              }
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/EncodeString": {
      "post": {
        "description": "Encode a string using Base64 encoding",
        "operationId": "encodeString",
        "summary": "Text - Encode string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "stringInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/GenerateGuid": {
      "post": {
        "description": "Generate a globally unique identifier",
        "operationId": "generateGuid",
        "summary": "Text - Generate GUID",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "generateUniqueID",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputGenerateUniqueID"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/JoinStrings": {
      "post": {
        "description": "Join a collection of strings",
        "operationId": "joinStrings",
        "summary": "Text - Join strings",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "joinStrings",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputJoinStrings"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/RedactString": {
      "post": {
        "description": "Redact a strng containing sensitive content",
        "operationId": "redactString",
        "summary": "Text - Redact string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "redactString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputRedactString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ReplaceString": {
      "post": {
        "description": "Replace one value with another in a string",
        "operationId": "replaceString",
        "summary": "Text - Replace string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "replaceString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputReplaceString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ShortenLink": {
      "post": {
        "description": "Generate a simple, short URL from a complex URL",
        "operationId": "shortenLink",
        "summary": "Text - Shorten hyperlink",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "stringInput",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "source"
              ],
              "properties": {
                "source": {
                  "type": "string",
                  "x-ms-summary": "Source",
                  "description": "String variable or text value"
                }
              },
              "example": {
                "source": "http://www.somewebsite.com/path1/path2?query1=value&query2=value"
              }
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/SplitString": {
      "post": {
        "description": "Split a string based upon one or more characters",
        "operationId": "splitString",
        "summary": "Text - Split string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "splitString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputSplitString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputStringArray"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/TextToSpeech": {
      "post": {
        "description": "Convert text to an audio file using AI-driven speech synthesis.",
        "operationId": "textToSpeech",
        "summary": "Text - Text to Speech",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "textToSpeech",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputTextToSpeech"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "audio/mp3"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/TranslateString": {
      "post": {
        "description": "Translate a string into a different language",
        "operationId": "translateString",
        "summary": "Text - Translate string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "translateString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputTranslateString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/TrimString": {
      "post": {
        "description": "Trim leading or trailing whitespace from a string",
        "operationId": "trimString",
        "summary": "Text - Trim string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "trimString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputTrimString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/URLDecode": {
      "post": {
        "description": "Decode an encoded URL",
        "operationId": "urlDecode",
        "summary": "Text - Decode URL",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "stringInput",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "source"
              ],
              "properties": {
                "source": {
                  "type": "string",
                  "x-ms-summary": "Source",
                  "description": "Encoded string variable or text value"
                }
              },
              "example": {
                "source": "The%20brown%20cow"
              }
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/URLEncode": {
      "post": {
        "description": "Generate an encoded string from a complex hyperlink",
        "operationId": "urlEncode",
        "summary": "Text - Encode URL",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "stringInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ValidateEmail": {
      "post": {
        "description": "Determine if an email address is valid",
        "operationId": "validateEmail",
        "summary": "Text - Validate email",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "stringInput",
            "in": "body",
            "schema": {
              "type": "object",
              "required": [
                "source"
              ],
              "properties": {
                "source": {
                  "type": "string",
                  "x-ms-summary": "Source",
                  "description": "String variable or text value"
                }
              },
              "example": {
                "source": "some user @ bademail-com"
              }
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/JSONtoHTML": {
      "post": {
        "description": "Convert a JSON array to an HTML table",
        "operationId": "jsonToHtml",
        "summary": "Data - JSON to HTML Table",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "jsonConversionHTML",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputJsonConversionHTML"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/JSONtoCSV": {
      "post": {
        "description": "Convert a JSON array to CSV string",
        "operationId": "jsonToCsv",
        "summary": "Data - JSON to CSV",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "jsonConversionCSV",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputJsonConversionCSV"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/JSONtoXML": {
      "post": {
        "description": "Convert a JSON object to an XML string",
        "operationId": "jsonToXml",
        "summary": "Data - JSON to XML",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "jsonConversionXML",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputJsonConversionXML"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/CSVtoJSON": {
      "post": {
        "description": "Convert a CSV string to a JSON array",
        "operationId": "csvToJson",
        "summary": "Data - CSV to JSON",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "csvConversionJSON",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCsvConversionJSON"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/XMLtoJSON": {
      "post": {
        "description": "Convert an XML string to a JSON object",
        "operationId": "xmlToJson",
        "summary": "Data - XML to JSON",
        "tags": [
          "Data"
        ],
        "parameters": [
          {
            "name": "xmlConversionJSON",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputXmlConversionJSON"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ConvertImage": {
      "post": {
        "description": "Convert an image from one format to another",
        "operationId": "convertImage",
        "summary": "Files - Convert Image",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "format",
            "type": "string",
            "in": "formData",
            "x-ms-summary": "Format",
            "description": "Output file format",
            "required": true,
            "default": "PNG",
            "enum": [
              "PNG",
              "JPG",
              "GIF",
              "BMP",
              "TIF"
            ]
          },
          {
            "name": "file",
            "type": "file",
            "in": "formData",
            "x-ms-summary": "File",
            "description": "Source image file",
            "required": true
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "image/png",
          "image/gif",
          "image/jpeg",
          "image/bmp"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/ResizeImage": {
      "post": {
        "description": "Resize an image",
        "operationId": "resizeImage",
        "summary": "Files - Resize Image",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "algorithm",
            "type": "string",
            "in": "formData",
            "required": true,
            "x-ms-summary": "Resampling Algorithm",
            "description": "Optimize output quality of the target image",
            "default": "Bicubic (default)",
            "enum": [
              "Bicubic (default)",
              "Bilinear",
              "Cubic (Box)",
              "Cubic (Catmull-Rom)",
              "Cubic (Hermite)",
              "Cubic (Spline)",
              "Nearest Neighbor",
              "Sinc (Lanczos2)",
              "Sinc (Lanczos3)",
              "Sinc (Lanczos5)",
              "Sinc (Lanczos8)",
              "Robidoux",
              "Robidoux Sharp"
            ]
          },
          {
            "name": "units",
            "type": "string",
            "in": "formData",
            "required": true,
            "x-ms-summary": "Units",
            "description": "Image adjustment units",
            "default": "Pixels",
            "enum": [
              "Pixels",
              "Percent"
            ]
          },
          {
            "name": "height",
            "type": "number",
            "in": "formData",
            "x-ms-summary": "Height",
            "description": "Image height (pixels or percent)"
          },
          {
            "name": "width",
            "type": "number",
            "in": "formData",
            "x-ms-summary": "Width",
            "description": "Image width (pixels or percent)"
          },
          {
            "name": "file",
            "type": "file",
            "in": "formData",
            "required": true,
            "x-ms-summary": "File",
            "description": "Source image file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "image/png",
          "image/gif",
          "image/jpeg",
          "image/bmp"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "inputCollectionSearch": {
      "type": "object",
      "required": [
        "input",
        "match"
      ],
      "properties": {
        "input": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Values",
          "description": "Collection of strings to search"
        },
        "match": {
          "type": "string",
          "description": "Text to match",
          "x-ms-summary": "Text"
        },
        "trim": {
          "type": "string",
          "description": "Trim white space from comparison string",
          "x-ms-summary": "Trim",
          "enum": [
            "True",
            "False"
          ]
        },
        "ignorecase": {
          "type": "string",
          "x-ms-summary": "Ignore Case",
          "description": "Ignore case when performing comparison",
          "enum": [
            "True",
            "False"
          ]
        }
      },
      "example": {
        "input": [
          "the",
          "brown",
          "cow "
        ],
        "match": "cow",
        "trim": "True",
        "ignorecase": "True"
      }
    },
    "inputCollectionSearchNumeric": {
      "type": "object",
      "required": [
        "input",
        "match"
      ],
      "properties": {
        "input": {
          "type": "array",
          "items": {
            "type": "number"
          },
          "x-ms-summary": "Values",
          "description": "Collection of strings to search"
        },
        "match": {
          "type": "number",
          "description": "Number to match",
          "x-ms-summary": "Number"
        },
        "type": {
          "type": "string",
          "x-ms-summary": "Number Type",
          "description": "Type of number - integer or decimal",
          "default": "Integer",
          "enum": [
            "Integer",
            "Decimal"
          ]
        }
      },
      "example": {
        "input": [
          1.25,
          10.5,
          20.75,
          51.25,
          119.6,
          301.25
        ],
        "match": "1.25,",
        "type": "Decimal"
      }
    },
    "inputCollectionModify": {
      "type": "object",
      "required": [
        "input"
      ],
      "properties": {
        "input": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Collection",
          "description": "Collection of values or objects to modify"
        },
        "item": {
          "type": "string",
          "description": "Item (for multiple items, leave blank and use Items)",
          "x-ms-summary": "Item"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Items (Collection, for a single item leave blank and use Item)",
          "x-ms-summary": "Items"
        },
        "index": {
          "type": "string",
          "x-ms-summary": "Index",
          "description": "Index position for operation (leave blank to specify end of collection)"
        }
      },
      "example": {
        "input": [
          "a",
          "b",
          "c"
        ],
        "item": "d",
        "items": "",
        "index": "0"
      }
    },
    "inputCollectionFilter": {
      "type": "object",
      "required": [
        "input",
        "match",
        "keywords"
      ],
      "properties": {
        "input": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Collection",
          "description": "Collection of strings to filter"
        },
        "match": {
          "type": "string",
          "default": "Any",
          "enum": [
            "Any",
            "All",
            "None"
          ],
          "x-ms-summary": "Match",
          "description": "Match type"
        },
        "keywords": {
          "type": "string",
          "x-ms-summary": "Keywords",
          "description": "Keywords (separate multiple values with commas)"
        }
      },
      "example": {
        "input": [
          "the cow",
          "jumped over",
          "the moon"
        ],
        "match": "Any",
        "keywords": "cow,moon"
      }
    },
    "inputCollectionSort": {
      "type": "object",
      "required": [
        "input",
        "order"
      ],
      "properties": {
        "input": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Collection",
          "description": "Collection of strings to sort"
        },
        "order": {
          "type": "string",
          "default": "Ascending",
          "enum": [
            "Ascending",
            "Descending"
          ],
          "x-ms-summary": "Order",
          "description": "Sort order"
        }
      },
      "example": {
        "input": [
          "a",
          "d",
          "c",
          "b",
          "e"
        ],
        "order": "Ascending"
      }
    },
    "inputCollectionCount": {
      "type": "object",
      "required": [
        "input"
      ],
      "properties": {
        "input": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Collection",
          "description": "Collection of items to count"
        }
      },
      "example": {
        "input": [
          "a",
          "d",
          "c",
          "b",
          "e"
        ]
      }
    },
    "inputCollectionSplit": {
      "type": "object",
      "required": [
        "input"
      ],
      "properties": {
        "input": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Collection",
          "description": "Collection of items to split"
        },
        "match": {
          "type": "string",
          "x-ms-summary": "Match Value",
          "description": "String to match (explicit, case-insensitive, leave empty to use Index)"
        },
        "index": {
          "type": "string",
          "x-ms-summary": "Index",
          "description": "Index location to split (leave empty to use Match value)"
        }
      },
      "example": {
        "input": [
          "the cow",
          "jumped over",
          "the moon"
        ],
        "match": "jumped over",
        "index": ""
      }
    },
    "inputCollectionReplace": {
      "type": "object",
      "required": [
        "input",
        "match",
        "replacement",
        "ignoreCase"
      ],
      "properties": {
        "input": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-summary": "Collection",
          "description": "Collection of strings"
        },
        "match": {
          "type": "string",
          "x-ms-summary": "Match value",
          "description": "Match value"
        },
        "replacement": {
          "type": "string",
          "x-ms-summary": "Replacement value",
          "description": "Replacement value"
        },
        "ignoreCase": {
          "type": "string",
          "default": "True",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-summary": "Ignore case",
          "description": "Ignore case"
        }
      },
      "example": {
        "input": [
          "the brown cow",
          "jumped over",
          "the brown dog"
        ],
        "match": "Brown",
        "replacement": "spotted",
        "ignoreCase": "True"
      }
    },
    "inputCalculateNumber": {
      "type": "object",
      "required": [
        "input",
        "decimals"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Value",
          "description": "Numeric value to calculate"
        },
        "decimals": {
          "type": "number",
          "x-ms-summary": "Decimal Places",
          "description": "Round to number of decimal places",
          "minimum": 0,
          "default": 0
        }
      },
      "example": {
        "input": 0.195928,
        "decimals": 2
      }
    },
    "inputCalculateSeries": {
      "type": "object",
      "required": [
        "input",
        "decimals"
      ],
      "properties": {
        "input": {
          "type": "array",
          "description": "Colllection of values to calculate",
          "x-ms-summary": "Values",
          "items": {
            "type": "number"
          }
        },
        "decimals": {
          "type": "number",
          "description": "Round to number of decimal places",
          "x-ms-summary": "Decimal Places",
          "minimum": 0,
          "default": 0
        }
      },
      "example": {
        "input": [
          1,
          2,
          3,
          4,
          5
        ],
        "decimals": 2
      }
    },
    "inputCalculatePower": {
      "type": "object",
      "required": [
        "input",
        "power",
        "decimals"
      ],
      "properties": {
        "input": {
          "type": "number",
          "description": "Number to raise",
          "x-ms-summary": "Number"
        },
        "power": {
          "type": "number",
          "description": "Power",
          "x-ms-summary": "Power"
        },
        "decimals": {
          "type": "number",
          "description": "Round to number of decimal places",
          "x-ms-summary": "Decimal Places",
          "minimum": 0,
          "default": 0
        }
      },
      "example": {
        "input": 5.53,
        "power": 4,
        "decimals": 2
      }
    },
    "inputCalculateMinMax": {
      "type": "object",
      "required": [
        "input",
        "type"
      ],
      "properties": {
        "input": {
          "type": "array",
          "description": "Colllection of values to calculate",
          "x-ms-summary": "Values",
          "items": {
            "type": "number"
          }
        },
        "type": {
          "type": "string",
          "description": "Minimum or Maximum",
          "x-ms-summary": "Min or Max",
          "enum": [
            "Minimum",
            "Maximum"
          ],
          "default": "Minimum"
        }
      },
      "example": {
        "input": [
          1,
          2,
          3,
          4,
          5
        ],
        "type": "Minimum"
      }
    },
    "inputCollectionConversion": {
      "type": "object",
      "required": [
        "input",
        "name"
      ],
      "properties": {
        "input": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Collection containing strings to convert",
          "x-ms-summary": "Values"
        },
        "name": {
          "type": "string",
          "x-ms-summary": "Name",
          "description": "Collection name"
        }
      },
      "example": {
        "input": [
          "a",
          "b",
          "c",
          "d",
          "e"
        ],
        "name": "Items"
      }
    },
    "inputCollectionConversionXML": {
      "type": "object",
      "required": [
        "input",
        "root",
        "child"
      ],
      "properties": {
        "input": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Collection containing strings to convert",
          "x-ms-summary": "Values"
        },
        "root": {
          "type": "string",
          "x-ms-summary": "Root Node Name",
          "description": "Name of root XML node"
        },
        "child": {
          "type": "string",
          "x-ms-summary": "Child Node Name",
          "description": "Name of child XML node(s)"
        }
      },
      "example": {
        "input": [
          "a",
          "b",
          "c",
          "d",
          "e"
        ],
        "root": "Items",
        "child": "Item"
      }
    },
    "inputCaseConversion": {
      "type": "object",
      "required": [
        "input",
        "alphacase"
      ],
      "properties": {
        "input": {
          "type": "string",
          "description": "String containing the text to convert",
          "x-ms-summary": "Value"
        },
        "alphacase": {
          "type": "string",
          "enum": [
            "Upper",
            "Lower",
            "Title"
          ],
          "description": "Case of conversion result",
          "x-ms-summary": "Case"
        }
      },
      "example": {
        "input": "the brown cow",
        "alphacase": "Upper"
      }
    },
    "inputConvertAngle": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Measurement value"
        },
        "source": {
          "type": "string",
          "enum": [
            "Arcminute",
            "Arcsecond",
            "Centiradian",
            "Deciradian",
            "Degree",
            "Gradian",
            "Microdegree",
            "Microradian",
            "Millidegree",
            "Milliradian",
            "Nanodegree",
            "Nanoradian",
            "Radian",
            "Revolution"
          ],
          "x-ms-summary": "Source measurement"
        },
        "target": {
          "type": "string",
          "enum": [
            "Arcminute",
            "Arcsecond",
            "Centiradian",
            "Deciradian",
            "Degree",
            "Gradian",
            "Microdegree",
            "Microradian",
            "Millidegree",
            "Milliradian",
            "Nanodegree",
            "Nanoradian",
            "Radian",
            "Revolution"
          ],
          "x-ms-summary": "Target measurement"
        }
      },
      "example": {
        "input": 16.036844,
        "source": "Arcminute",
        "target": "Arcsecond"
      }
    },
    "inputConvertDuration": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Measurement value"
        },
        "source": {
          "type": "string",
          "enum": [
            "Day",
            "Hour",
            "Microsecond",
            "Millisecond",
            "Minute",
            "Month",
            "Nanosecond",
            "Second",
            "Week",
            "Year"
          ],
          "x-ms-summary": "Source measurement"
        },
        "target": {
          "type": "string",
          "enum": [
            "Day",
            "Hour",
            "Microsecond",
            "Millisecond",
            "Minute",
            "Month",
            "Nanosecond",
            "Second",
            "Week",
            "Year"
          ],
          "x-ms-summary": "Target measurement"
        }
      },
      "example": {
        "input": 0.66375,
        "source": "Day",
        "target": "Hour"
      }
    },
    "inputConvertDistance": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Measurement value"
        },
        "source": {
          "type": "string",
          "enum": [
            "Centimeter",
            "Decimeter",
            "Fathom",
            "Foot",
            "Hectometer",
            "Inch",
            "Kilometer",
            "LightYear",
            "Meter",
            "Micrometer",
            "Mile",
            "Millimeter",
            "Nanometer",
            "NauticalMile",
            "Yard"
          ],
          "x-ms-summary": "Source measurement"
        },
        "target": {
          "type": "string",
          "enum": [
            "Centimeter",
            "Decimeter",
            "Fathom",
            "Foot",
            "Hectometer",
            "Inch",
            "Kilometer",
            "LightYear",
            "Meter",
            "Micrometer",
            "Mile",
            "Millimeter",
            "Nanometer",
            "NauticalMile",
            "Yard"
          ],
          "x-ms-summary": "Target measurement"
        }
      },
      "example": {
        "input": 0.525505,
        "source": "Meter",
        "target": "Foot"
      }
    },
    "inputConvertArea": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Measurement value"
        },
        "source": {
          "type": "string",
          "enum": [
            "Acre",
            "Hectare",
            "SquareCentimeter",
            "SquareDecimeter",
            "SquareFoot",
            "SquareInch",
            "SquareKilometer",
            "SquareMeter",
            "SquareMicrometer",
            "SquareMile",
            "SquareMillimeter",
            "SquareYard"
          ],
          "x-ms-summary": "Source measurement"
        },
        "target": {
          "type": "string",
          "enum": [
            "Acre",
            "Hectare",
            "SquareCentimeter",
            "SquareDecimeter",
            "SquareFoot",
            "SquareInch",
            "SquareKilometer",
            "SquareMeter",
            "SquareMicrometer",
            "SquareMile",
            "SquareMillimeter",
            "SquareYard"
          ],
          "x-ms-summary": "Target measurement"
        }
      },
      "example": {
        "input": 0.416714,
        "source": "Acre",
        "target": "SquareFoot"
      }
    },
    "inputConvertEnergy": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Measurement value"
        },
        "source": {
          "type": "string",
          "enum": [
            "BritishThermalUnit",
            "Calorie",
            "ElectronVolt",
            "FootPound",
            "GigawattHour",
            "Joule",
            "Kilocalorie",
            "Kilojoule",
            "KilowattHour",
            "Megajoule",
            "MegawattHour",
            "TerawattHour",
            "Therm (EU)",
            "Therm (UK)",
            "Therm (US)",
            "WattHour"
          ],
          "x-ms-summary": "Source measurement"
        },
        "target": {
          "type": "string",
          "enum": [
            "BritishThermalUnit",
            "Calorie",
            "ElectronVolt",
            "FootPound",
            "GigawattHour",
            "Joule",
            "Kilocalorie",
            "Kilojoule",
            "KilowattHour",
            "Megajoule",
            "MegawattHour",
            "TerawattHour",
            "Therm (EU)",
            "Therm (UK)",
            "Therm (US)",
            "WattHour"
          ],
          "x-ms-summary": "Target measurement"
        }
      },
      "example": {
        "input": 0.397155,
        "source": "Calorie",
        "target": "Joule"
      }
    },
    "inputConvertPower": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Measurement value"
        },
        "source": {
          "type": "string",
          "enum": [
            "BritishThermalUnitPerHour",
            "Decawatt",
            "Deciwatt",
            "ElectricalHorsepower",
            "Femtowatt",
            "Gigawatt",
            "HydraulicHorsepower",
            "Kilowatt",
            "MechanicalHorsepower",
            "Megawatt",
            "Microwatt",
            "Milliwatt",
            "Nanowatt",
            "Petawatt",
            "Picowatt",
            "Terawatt",
            "Watt"
          ],
          "x-ms-summary": "Source measurement"
        },
        "target": {
          "type": "string",
          "enum": [
            "BritishThermalUnitPerHour",
            "Decawatt",
            "Deciwatt",
            "ElectricalHorsepower",
            "Femtowatt",
            "Gigawatt",
            "HydraulicHorsepower",
            "Kilowatt",
            "MechanicalHorsepower",
            "Megawatt",
            "Microwatt",
            "Milliwatt",
            "Nanowatt",
            "Petawatt",
            "Picowatt",
            "Terawatt",
            "Watt"
          ],
          "x-ms-summary": "Target measurement"
        }
      },
      "example": {
        "input": 0.866107,
        "source": "Gigawatt",
        "target": "Kilowatt"
      }
    },
    "inputConvertSpeed": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Measurement value"
        },
        "source": {
          "type": "string",
          "enum": [
            "CentimeterPerHour",
            "CentimeterPerMinute",
            "CentimeterPerSecond",
            "DecimeterPerMinute",
            "DecimeterPerSecond",
            "FootPerHour",
            "FootPerMinute",
            "FootPerSecond",
            "InchPerHour",
            "InchPerMinute",
            "InchPerSecond",
            "KilometerPerHour",
            "KilometerPerMinute",
            "KilometerPerSecond",
            "Knot",
            "MeterPerHour",
            "MeterPerMinute",
            "MeterPerSecond",
            "MicrometerPerMinute",
            "MicrometerPerSecond",
            "MilePerHour",
            "MillimeterPerHour",
            "MillimeterPerMinute",
            "MillimeterPerSecond",
            "NanometerPerMinute",
            "NanometerPerSecond",
            "YardPerHour",
            "YardPerMinute",
            "YardPerSecond"
          ],
          "x-ms-summary": "Source measurement"
        },
        "target": {
          "type": "string",
          "enum": [
            "CentimeterPerHour",
            "CentimeterPerMinute",
            "CentimeterPerSecond",
            "DecimeterPerMinute",
            "DecimeterPerSecond",
            "FootPerHour",
            "FootPerMinute",
            "FootPerSecond",
            "InchPerHour",
            "InchPerMinute",
            "InchPerSecond",
            "KilometerPerHour",
            "KilometerPerMinute",
            "KilometerPerSecond",
            "Knot",
            "MeterPerHour",
            "MeterPerMinute",
            "MeterPerSecond",
            "MicrometerPerMinute",
            "MicrometerPerSecond",
            "MilePerHour",
            "MillimeterPerHour",
            "MillimeterPerMinute",
            "MillimeterPerSecond",
            "NanometerPerMinute",
            "NanometerPerSecond",
            "YardPerHour",
            "YardPerMinute",
            "YardPerSecond"
          ],
          "x-ms-summary": "Target measurement"
        }
      },
      "example": {
        "input": 0.278054,
        "source": "Knot",
        "target": "MilePerHour"
      }
    },
    "inputConvertTemperature": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Measurement value"
        },
        "source": {
          "type": "string",
          "enum": [
            "Celsius",
            "Fahrenheit",
            "Newton",
            "Kelvin"
          ],
          "x-ms-summary": "Source measurement"
        },
        "target": {
          "type": "string",
          "enum": [
            "Celsius",
            "Fahrenheit",
            "Newton",
            "Kelvin"
          ],
          "x-ms-summary": "Target measurement"
        }
      },
      "example": {
        "input": 10,
        "source": "Celsius",
        "target": "Fahrenheit"
      }
    },
    "inputConvertVolume": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Measurement value"
        },
        "source": {
          "type": "string",
          "enum": [
            "Centiliter",
            "CubicCentimeter",
            "CubicDecimeter",
            "CubicFoot",
            "CubicHectometer",
            "CubicInch",
            "CubicKilometer",
            "CubicMeter",
            "CubicMillimeter",
            "CubicYard",
            "Deciliter",
            "ImperialBeerBarrel",
            "ImperialGallon",
            "ImperialOunce",
            "ImperialPint",
            "Kiloliter",
            "Liter",
            "Microliter",
            "Milliliter",
            "Gallon",
            "Cup",
            "Ounce",
            "Pint",
            "Quart",
            "Tablespoon",
            "Teaspoon"
          ],
          "x-ms-summary": "Source measurement"
        },
        "target": {
          "type": "string",
          "enum": [
            "Centiliter",
            "CubicCentimeter",
            "CubicDecimeter",
            "CubicFoot",
            "CubicHectometer",
            "CubicInch",
            "CubicKilometer",
            "CubicMeter",
            "CubicMillimeter",
            "CubicYard",
            "Deciliter",
            "ImperialBeerBarrel",
            "ImperialGallon",
            "ImperialOunce",
            "ImperialPint",
            "Kiloliter",
            "Liter",
            "Microliter",
            "Milliliter",
            "Gallon",
            "Cup",
            "Ounce",
            "Pint",
            "Quart",
            "Tablespoon",
            "Teaspoon"
          ],
          "x-ms-summary": "Target measurement"
        }
      },
      "example": {
        "input": 1.5,
        "source": "CubicFoot",
        "target": "CubicMeter"
      }
    },
    "inputConvertWeight": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Measurement value"
        },
        "source": {
          "type": "string",
          "enum": [
            "Centigram",
            "Decagram",
            "Decigram",
            "Grain",
            "Gram",
            "Hectogram",
            "Kilogram",
            "Microgram",
            "Milligram",
            "Nanogram",
            "Ounce",
            "Pound",
            "Stone",
            "Solar Mass",
            "Earth Mass",
            "Slug",
            "Short Ton",
            "Long Ton",
            "Ton",
            "Megaton",
            "Short Hundredweight",
            "Long Hundredweight"
          ],
          "x-ms-summary": "Source measurement"
        },
        "target": {
          "type": "string",
          "enum": [
            "Centigram",
            "Decagram",
            "Decigram",
            "Grain",
            "Gram",
            "Hectogram",
            "Kilogram",
            "Microgram",
            "Milligram",
            "Nanogram",
            "Ounce",
            "Pound",
            "Stone",
            "Ton"
          ],
          "x-ms-summary": "Target measurement"
        }
      },
      "example": {
        "input": 5.7,
        "source": "Gram",
        "target": "Ounce"
      }
    },
    "inputCsvConversionJSON": {
      "type": "object",
      "required": [
        "input",
        "header"
      ],
      "properties": {
        "input": {
          "type": "string",
          "x-ms-summary": "Value",
          "description": "CSV string"
        },
        "header": {
          "type": "boolean",
          "default": true,
          "x-ms-summary": "Header",
          "description": "Include header row"
        }
      },
      "example": {
        "input": "Property1,Property2,Property3\r\nvalue,value,value\r\nvalue,value,value",
        "header": true
      }
    },
    "inputCurrencyConversion": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Value",
          "description": "Amount to convert"
        },
        "source": {
          "type": "string",
          "default": "USD",
          "enum": [
            "USD",
            "AUD",
            "BGN",
            "BRL",
            "CAD",
            "CHF",
            "CNY",
            "CZK",
            "DKK",
            "EUR",
            "GBP",
            "HKD",
            "HRK",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "ISK",
            "JPY",
            "KRW",
            "MXN",
            "MYR",
            "NOK",
            "NZD",
            "PHP",
            "PLN",
            "RON",
            "RUB",
            "SGD",
            "SEK",
            "THB",
            "TRY",
            "ZAR"
          ],
          "x-ms-summary": "Source currency"
        },
        "target": {
          "type": "string",
          "enum": [
            "USD",
            "AUD",
            "BGN",
            "BRL",
            "CAD",
            "CHF",
            "CNY",
            "CZK",
            "DKK",
            "EUR",
            "GBP",
            "HKD",
            "HRK",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "ISK",
            "JPY",
            "KRW",
            "MXN",
            "MYR",
            "NOK",
            "NZD",
            "PHP",
            "PLN",
            "RON",
            "RUB",
            "SGD",
            "SEK",
            "THB",
            "TRY",
            "ZAR"
          ],
          "x-ms-summary": "Target currency"
        }
      },
      "example": {
        "input": 100.25,
        "source": "USD",
        "target": "CAD"
      }
    },
    "inputCurrencyFormat": {
      "type": "object",
      "required": [
        "input",
        "target"
      ],
      "properties": {
        "input": {
          "type": "number",
          "x-ms-summary": "Value",
          "description": "Amount to format"
        },
        "target": {
          "type": "string",
          "enum": [
            "USD",
            "AUD",
            "BGN",
            "BRL",
            "CAD",
            "CHF",
            "CNY",
            "CZK",
            "DKK",
            "EUR",
            "GBP",
            "HKD",
            "HRK",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "ISK",
            "JPY",
            "KRW",
            "MXN",
            "MYR",
            "NOK",
            "NZD",
            "PHP",
            "PLN",
            "RON",
            "RUB",
            "SGD",
            "SEK",
            "THB",
            "TRY",
            "ZAR"
          ],
          "x-ms-summary": "Target currency"
        }
      },
      "example": {
        "input": 10980.79,
        "target": "GBP"
      }
    },
    "inputDateTimeConversion": {
      "type": "object",
      "required": [
        "input",
        "source",
        "target"
      ],
      "properties": {
        "input": {
          "type": "string",
          "x-ms-summary": "Value",
          "description": "Source date and time"
        },
        "source": {
          "type": "string",
          "default": "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
          "enum": [
            "GMT Standard Time - (GMT) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London",
            "Greenwich Standard Time - (GMT) Monrovia, Reykjavik",
            "W. Europe Standard Time - (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna",
            "Central Europe Standard Time - (GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague",
            "Central European Standard Time - (GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb",
            "W. Central Africa Standard Time - (GMT+01:00) West Central Africa",
            "GTB Standard Time - (GMT+02:00) Athens, Bucharest, Istanbul",
            "Middle East Standard Time - (GMT+02:00) Beirut",
            "Egypt Standard Time - (GMT+02:00) Cairo",
            "South Africa Standard Time - (GMT+02:00) Harare, Pretoria",
            "FLE Standard Time - (GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius",
            "Israel Standard Time - (GMT+02:00) Jerusalem",
            "E. Europe Standard Time - (GMT+02:00) Minsk",
            "Namibia Standard Time - (GMT+02:00) Windhoek",
            "Arabic Standard Time - (GMT+03:00) Baghdad",
            "Arab Standard Time - (GMT+03:00) Kuwait, Riyadh",
            "Russian Standard Time - (GMT+03:00) Moscow, St. Petersburg, Volgograd",
            "E. Africa Standard Time - (GMT+03:00) Nairobi",
            "Georgian Standard Time - (GMT+03:00) Tbilisi",
            "Iran Standard Time - (GMT+03:30) Tehran",
            "Arabian Standard Time - (GMT+04:00) Abu Dhabi, Muscat",
            "Azerbaijan Standard Time - (GMT+04:00) Baku",
            "Mauritius Standard Time - (GMT+04:00) Port Louis",
            "Caucasus Standard Time - (GMT+04:00) Yerevan",
            "Afghanistan Standard Time - (GMT+04:30) Kabul",
            "Ekaterinburg Standard Time - (GMT+05:00) Ekaterinburg",
            "Pakistan Standard Time - (GMT+05:00) Islamabad, Karachi",
            "West Asia Standard Time - (GMT+05:00) Tashkent",
            "India Standard Time - (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi",
            "Sri Lanka Standard Time - (GMT+05:30) Sri Jayawardenepura",
            "Nepal Standard Time - (GMT+05:45) Kathmandu",
            "N. Central Asia Standard Time - (GMT+06:00) Almaty, Novosibirsk",
            "Central Asia Standard Time - (GMT+06:00) Astana, Dhaka",
            "Myanmar Standard Time - (GMT+06:30) Yangon (Rangoon)",
            "SE Asia Standard Time - (GMT+07:00) Bangkok, Hanoi, Jakarta",
            "North Asia Standard Time - (GMT+07:00) Krasnoyarsk",
            "China Standard Time - (GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi",
            "North Asia East Standard Time - (GMT+08:00) Irkutsk, Ulaan Bataar",
            "Singapore Standard Time - (GMT+08:00) Kuala Lumpur, Singapore",
            "W. Australia Standard Time - (GMT+08:00) Perth",
            "Taipei Standard Time - (GMT+08:00) Taipei",
            "Tokyo Standard Time - (GMT+09:00) Osaka, Sapporo, Tokyo",
            "Korea Standard Time - (GMT+09:00) Seoul",
            "Yakutsk Standard Time - (GMT+09:00) Yakutsk",
            "Cen. Australia Standard Time - (GMT+09:30) Adelaide",
[...]
