{
  "swagger": "2.0",
  "info": {
    "title": "Apptigent PowerTools",
    "version": "1.0",
    "description": "Apptigent PowerTools Professional is a powerful suite of essential utilities for enterprise workflow, forms and cloud applications. Manipulate text, modify collections, format dates and times, convert currency, perform advanced mathematical calculations, shorten URL's, encode strings, convert text to speech, translate content into multiple languages, and more. PowerTools is the ultimate process automation toolkit for Microsoft Power Platform.",
    "contact": {
      "name": "Customer Support",
      "url": "https://www.apptigent.com/help/",
      "email": "support@apptigent.com"
    }
  },
  "host": "api.apptigent.com",
  "basePath": "/powertools-pro",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Apptigent-Id"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "paths": {
    "/AddToCollection": {
      "post": {
        "description": "Add an item to a collection",
        "operationId": "AddToCollection",
        "summary": "Collections - Add to collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionModify",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionModify"
            },
            "description": "Collection modification parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            },
            "examples": {
              "application/json": {
                "result": [
                  "a",
                  "b",
                  "c"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/RemoveFromCollection": {
      "post": {
        "description": "Remove an item from a collection",
        "operationId": "RemoveFromCollection",
        "summary": "Collections - Remove from collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionModify",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionModify"
            },
            "description": "Collection modification parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            },
            "examples": {
              "application/json": {
                "result": [
                  "a",
                  "b",
                  "c"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/FilterCollection": {
      "post": {
        "description": "Filter a collection of strings by keyword",
        "operationId": "FilterCollection",
        "summary": "Collections - Filter collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionFilter",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionFilter"
            },
            "description": "Filter collection parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            },
            "examples": {
              "application/json": {
                "result": [
                  "a",
                  "b",
                  "c"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/SortCollection": {
      "post": {
        "description": "Sort a collection of strings",
        "operationId": "SortCollection",
        "summary": "Collections - Sort collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionSort",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSort"
            },
            "description": "Sort collection parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            },
            "examples": {
              "application/json": {
                "result": [
                  "a",
                  "b",
                  "c"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CountCollection": {
      "post": {
        "description": "Count a collection of items",
        "operationId": "CountCollection",
        "summary": "Collections - Count collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionCount",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionCount"
            },
            "description": "Count collection parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/SplitCollection": {
      "post": {
        "description": "Split a collection of items by matching value or index",
        "operationId": "SplitCollection",
        "summary": "Collections - Split collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionSplit",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSplit"
            },
            "description": "Split collection parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputMultiCollection"
            },
            "examples": {
              "application/json": {
                "result1": [
                  "a",
                  "b",
                  "c"
                ],
                "result2": [
                  "d",
                  "e",
                  "f"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/RemoveDuplicates": {
      "post": {
        "description": "Remove duplicate items from a collection",
        "operationId": "RemoveDuplicates",
        "summary": "Collections - Remove duplicates from collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionDeduplicate",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionDeduplicate"
            },
            "description": "Collection deduplication parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            },
            "examples": {
              "application/json": {
                "result": [
                  "a",
                  "b",
                  "c"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ReplaceValuesInCollection": {
      "post": {
        "description": "Replace whole or partial strings in a collection",
        "operationId": "ReplaceValuesInCollection",
        "summary": "Collections - Replace values in collection",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionReplace",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionReplace"
            },
            "description": "Replace values in collection parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            },
            "examples": {
              "application/json": {
                "result": [
                  "a",
                  "b",
                  "c"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CollectionContainsString": {
      "post": {
        "description": "Determine if any items in a collection contain a specific string",
        "operationId": "CollectionContainsString",
        "summary": "Collections - Contains string",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionSearch",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSearch"
            },
            "description": "Collection search parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionString"
            },
            "examples": {
              "application/json": {
                "status": false,
                "item": "string",
                "items": [
                  "string"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CollectionStartsWithString": {
      "post": {
        "description": "Determine if any items in a collection start with a specific string",
        "operationId": "CollectionStartsWithString",
        "summary": "Collections - Starts with string",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionSearch",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSearch"
            },
            "description": "Collection search parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionString"
            },
            "examples": {
              "application/json": {
                "status": false,
                "item": "string",
                "items": [
                  "string"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CollectionEndsWithString": {
      "post": {
        "description": "Determine if any items in a collection end with a specific string",
        "operationId": "CollectionEndsWithString",
        "summary": "Collections - Ends with string",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionSearch",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSearch"
            },
            "description": "Collection search parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionString"
            },
            "examples": {
              "application/json": {
                "status": false,
                "item": "string",
                "items": [
                  "string"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CollectionContainsNumber": {
      "post": {
        "description": "Determine if a collection contains a specific number",
        "operationId": "CollectionContainsNumber",
        "summary": "Collections - Contains number",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionSearchNumeric",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionSearchNumeric"
            },
            "description": "Collection search parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionNumber"
            },
            "examples": {
              "application/json": {
                "status": false,
                "item": 1.25,
                "items": [
                  1.25,
                  2.5,
                  3.75
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CollectionToJSON": {
      "post": {
        "description": "Convert a collection to a named JSON object",
        "operationId": "CollectionToJSON",
        "summary": "Collections - Collection to JSON",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionConversion",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionConversion"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CollectionToXML": {
      "post": {
        "description": "Convert a collection to an XML string",
        "operationId": "CollectionToXml",
        "summary": "Collections - Collection to XML",
        "tags": [
          "Collections"
        ],
        "parameters": [
          {
            "name": "inputCollectionConversionXML",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCollectionConversionXML"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertCurrency": {
      "post": {
        "description": "Calculate monetary value in a different currency",
        "operationId": "ConvertCurrency",
        "summary": "Currency - Convert currency",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "inputCurrencyConversion",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCurrencyConversion"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/FormatCurrency": {
      "post": {
        "description": "Apply currency symbol to a numeric value",
        "operationId": "FormatCurrency",
        "summary": "Currency - Format currency",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "inputCurrencyFormat",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCurrencyFormat"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/StockPrices": {
      "post": {
        "description": "Get current and historical stock price information",
        "operationId": "StockPrices",
        "summary": "Finance - Stock prices",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "inputStockPrices",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputStockPrices"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputStockPrice"
            },
            "examples": {
              "application/json": {
                "result": [
                  {
                    "open": 73.84,
                    "high": 74.32,
                    "low": 72.245,
                    "last": 72.3,
                    "close": 72.7,
                    "volume": 15151304,
                    "date": "2020-10-07T00:00:00+00:00",
                    "symbol": "CVX",
                    "exchange": "XNYS"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/MarketIndex": {
      "post": {
        "description": "Get current and historical market index information",
        "operationId": "MarketIndex",
        "summary": "Finance - Market index",
        "tags": [
          "Finance"
        ],
        "parameters": [
          {
            "name": "inputMarketIndex",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputMarketIndex"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputMarketIndex"
            },
            "examples": {
              "application/json": {
                "date": "2020-10-07T00:00:00+00:00",
                "symbol": "DJI.INDX",
                "exchange": "INDX",
                "open": 73.84,
                "high": 74.32,
                "low": 72.245,
                "close": 72.7,
                "volume": 15151304,
                "adj_open": 73.84,
                "adj_high": 74.32,
                "adj_low": 72.245,
                "adj_close": 72.7,
                "adj_volume": 15151304
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/DateTimeInfo": {
      "post": {
        "description": "Retrieve useful date and time information, such as day of year, total seconds and ticks",
        "operationId": "DateTimeInfo",
        "summary": "DateTime - Get date and time information",
        "tags": [
          "DateTime"
        ],
        "parameters": [
          {
            "name": "inputDateTimeInfo",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputDateTimeInfo"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputDateInfo"
            },
            "examples": {
              "application/json": {
                "DayOfYear": 25,
                "DayOfWeek": 2,
                "WeekOfYear": 10,
                "SecondsInDay": 1234,
                "MinutesInDay": 359,
                "Ticks": 1234567890
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/DateTimeDifference": {
      "post": {
        "description": "Calculate the difference between two dates",
        "operationId": "DateTimeDifference",
        "summary": "DateTime - DateTime difference",
        "tags": [
          "DateTime"
        ],
        "parameters": [
          {
            "name": "inputDateTimeDifference",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputDateTimeDifference"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputDateDifference"
            },
            "examples": {
              "application/json": {
                "years": 1,
                "months": 2,
                "days": 14,
                "hours": 1,
                "minutes": 50,
                "seconds": 30,
                "milliseconds": 0,
                "totalYears": 1.2,
                "totalMonths": 14.39,
                "totalDays": 438.08,
                "totalHours": 10513.84,
                "totalMinutes": 630830.5,
                "totalSeconds": 37849830,
                "totalMilliseconds": 37849830000,
                "ticks": 378498300000000
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/FormatDateTime": {
      "post": {
        "description": "Create a date/time string in a specific format",
        "operationId": "FormatDateTime",
        "summary": "DateTime - Format date and time",
        "tags": [
          "DateTime"
        ],
        "parameters": [
          {
            "name": "inputDateTimeFormat",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputDateTimeFormat"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/WorldTime": {
      "post": {
        "description": "Convert date and time from one time zone to another",
        "operationId": "WorldTime",
        "summary": "DateTime - Get world time",
        "tags": [
          "DateTime"
        ],
        "parameters": [
          {
            "name": "inputDateTimeConversion",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputDateTimeConversion"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateAverage": {
      "post": {
        "description": "Calculate the average of two or more numbers",
        "operationId": "CalculateAverage",
        "summary": "Math - Calculate average",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateSeries"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateMedian": {
      "post": {
        "description": "Calculate the median of two or more numbers",
        "operationId": "CalculateMedian",
        "summary": "Math - Calculate median",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateSeries"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateMinMax": {
      "post": {
        "description": "Calculate the minimum or maximum value in a sequence of numbers",
        "operationId": "CalculateMinMax",
        "summary": "Math - Calculate minimum or maximum",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateMinMax",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateMinMax"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateSum": {
      "post": {
        "description": "Calculate the sum of two or more numbers",
        "operationId": "CalculateSum",
        "summary": "Math - Calculate sum",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateSeries"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculatePower": {
      "post": {
        "description": "Raise number to a specified power",
        "operationId": "CalculatePower",
        "summary": "Math - Calculate power",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculatePower",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculatePower"
            },
            "description": "Power calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateVariance": {
      "post": {
        "description": "Calculate the statistical variance of two or more numbers",
        "operationId": "CalculateVariance",
        "summary": "Math - Calculate variance",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateSeries"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateAddition": {
      "post": {
        "description": "Calculate the sum of two numbers",
        "operationId": "CalculateAddition",
        "summary": "Math - Calculate Addition",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumbers",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumbers"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateSubtraction": {
      "post": {
        "description": "Calculate the difference between two numbers",
        "operationId": "CalculateSubtraction",
        "summary": "Math - Calculate Subtraction",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumbers",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumbers"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateMultiplication": {
      "post": {
        "description": "Calculate the product of two numbers",
        "operationId": "CalculateMultiplication",
        "summary": "Math - Calculate Multiplication",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumbers",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumbers"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateDivision": {
      "post": {
        "description": "Calculate the quotient of two numbers",
        "operationId": "CalculateDivision",
        "summary": "Math - Calculate Division",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumbers",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumbers"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateModulo": {
      "post": {
        "description": "Calculate the remainder of dividing two numbers",
        "operationId": "CalculateModulo",
        "summary": "Math - Calculate Modulo",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumbers",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumbers"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateNthRoot": {
      "post": {
        "description": "Calculate the n-th root of a number",
        "operationId": "CalculateNthRoot",
        "summary": "Math - Calculate Nth Root",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumbers",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumbers"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateSquareRoot": {
      "post": {
        "description": "Calculate the square root of a number",
        "operationId": "CalculateSquareRoot",
        "summary": "Math - Calculate Square Root",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumber",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumber"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateLogarithm": {
      "post": {
        "description": "Calculate the logarithm of a number",
        "operationId": "CalculateLogarithm",
        "summary": "Math - Calculate Logarithm",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumber",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumber"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateSine": {
      "post": {
        "description": "Calculate the sine value of an angle",
        "operationId": "CalculateSine",
        "summary": "Math - Calculate Sine",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumber",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumber"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateCosine": {
      "post": {
        "description": "Calculate the cosine value of an angle",
        "operationId": "CalculateCosine",
        "summary": "Math - Calculate Cosine",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumber",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumber"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateTangent": {
      "post": {
        "description": "Calculate the tangent value of an angle",
        "operationId": "CalculateTangent",
        "summary": "Math - Calculate Tangent",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumber",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumber"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CalculateAbsolute": {
      "post": {
        "description": "Calculate the absolute value of a number",
        "operationId": "CalculateAbsolute",
        "summary": "Math - Calculate Absolute",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumber",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumber"
            },
            "description": "Number calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertAngle": {
      "post": {
        "description": "Convert value from one angle measurement to another",
        "operationId": "ConvertAngle",
        "summary": "Math - Convert angle",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputConvertAngle",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertAngle"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertArea": {
      "post": {
        "description": "Convert value from one area measurement to another",
        "operationId": "ConvertArea",
        "summary": "Math - Convert area",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputConvertArea",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertArea"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertDistance": {
      "post": {
        "description": "Convert value from one distance measurement to another",
        "operationId": "ConvertDistance",
        "summary": "Math - Convert distance",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputConvertDistance",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertDistance"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertDuration": {
      "post": {
        "description": "Convert value from one duration measurement to another",
        "operationId": "ConvertDuration",
        "summary": "Math - Convert duration",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputConvertDuration",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertDuration"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertEnergy": {
      "post": {
        "description": "Convert value from one energy measurement to another",
        "operationId": "ConvertEnergy",
        "summary": "Math - Convert energy",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputConvertEnergy",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertEnergy"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertPower": {
      "post": {
        "description": "Convert value from one power measurement to another",
        "operationId": "ConvertPower",
        "summary": "Math - Convert power",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputConvertPower",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertPower"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertSpeed": {
      "post": {
        "description": "Convert value from one speed measurement to another",
        "operationId": "ConvertSpeed",
        "summary": "Math - Convert speed",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputConvertSpeed",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertSpeed"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertTemperature": {
      "post": {
        "description": "Convert value from one temperature measurement to another",
        "operationId": "ConvertTemperature",
        "summary": "Math - Convert temperature",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputConvertTemperature",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertTemperature"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertVolume": {
      "post": {
        "description": "Convert value from one volume measurement to another",
        "operationId": "ConvertVolume",
        "summary": "Math - Convert volume",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputConvertVolume",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertVolume"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertWeight": {
      "post": {
        "description": "Convert value from one weight measurement to another",
        "operationId": "ConvertWeight",
        "summary": "Math - Convert weight",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputConvertWeight",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputConvertWeight"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/RandomNumber": {
      "post": {
        "description": "Generate a random number within a specified range",
        "operationId": "RandomNumber",
        "summary": "Math - Random number",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputNumberRange",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputNumberRange"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/RoundNumber": {
      "post": {
        "description": "Round a numeric value up or down",
        "operationId": "RoundNumber",
        "summary": "Math - Round number",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateNumber",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateNumber"
            },
            "description": "Numeric calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/StandardDeviation": {
      "post": {
        "description": "Calculate the standard deviation of two or more numbers",
        "operationId": "StandardDeviation",
        "summary": "Math - Calculate standard deviation",
        "tags": [
          "Math"
        ],
        "parameters": [
          {
            "name": "inputCalculateSeries",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCalculateSeries"
            },
            "description": "Series calculation parameters"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputNumber"
            },
            "examples": {
              "application/json": {
                "result": 1
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/CompareStrings": {
      "post": {
        "description": "Perform a comparison of two strings",
        "operationId": "CompareStrings",
        "summary": "Text - Compare strings",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputStringComparison",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputStringComparison"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ContainsString": {
      "post": {
        "description": "Determine if a string contains another string",
        "operationId": "ContainsString",
        "summary": "Text - Contains string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputStringContains",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputStringContains"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ConvertCase": {
      "post": {
        "description": "Convert string to upper, lower or title case",
        "operationId": "ConvertCase",
        "summary": "Text - Convert case",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputCaseConversion",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputCaseConversion"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/DecodeString": {
      "post": {
        "description": "Decode a string encoded with Base64 encoding",
        "operationId": "DecodeString",
        "summary": "Text - Decode string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "stringInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/StringInput"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/EncodeString": {
      "post": {
        "description": "Encode a string using Base64 encoding",
        "operationId": "EncodeString",
        "summary": "Text - Encode string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/GenerateGuid": {
      "post": {
        "description": "Generate a globally unique identifier",
        "operationId": "GenerateGuid",
        "summary": "Text - Generate GUID",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputGenerateUniqueID",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputGenerateUniqueID"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/GeneratePassword": {
      "post": {
        "description": "Generate a strong password",
        "operationId": "GeneratePassword",
        "summary": "Text - Generate password",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputGeneratePassword",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputGeneratePassword"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/GenerateHash": {
      "post": {
        "description": "Generate a hash value from a string",
        "operationId": "GenerateHash",
        "summary": "Text - Generate hash",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputGenerateHash",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputGenerateHash"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/VerifyHash": {
      "post": {
        "description": "Verify a hashed value against the original source string",
        "operationId": "VerifyHash",
        "summary": "Text - Verify hash",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputVerifyHash",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputVerifyHash"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputBoolean"
            },
            "examples": {
              "application/json": {
                "result": true
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/JoinStrings": {
      "post": {
        "description": "Join a collection of strings",
        "operationId": "JoinStrings",
        "summary": "Text - Join strings",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputJoinStrings",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputJoinStrings"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ParseString": {
      "post": {
        "description": "Extract values from a string of text using Regular Expressions",
        "operationId": "ParseString",
        "summary": "Text - Parse string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputParseString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputParseString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputCollectionResult"
            },
            "examples": {
              "application/json": {
                "result": [
                  "a",
                  "b",
                  "c"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/RedactString": {
      "post": {
        "description": "Redact a strng containing sensitive content",
        "operationId": "RedactString",
        "summary": "Text - Redact string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputRedactString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputRedactString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ReplaceString": {
      "post": {
        "description": "Replace one value with another in a string",
        "operationId": "ReplaceString",
        "summary": "Text - Replace string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputReplaceString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputReplaceString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ShortenLink": {
      "post": {
        "description": "Generate a simple, short URL from a complex URL",
        "operationId": "ShortenLink",
        "summary": "Text - Shorten hyperlink",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputShortenLink",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputShortenLink"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/SplitString": {
      "post": {
        "description": "Split a string based upon one or more characters",
        "operationId": "SplitString",
        "summary": "Text - Split string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputSplitString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputSplitString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputStringArray"
            },
            "examples": {
              "application/json": {
                "data": [
                  "string"
                ]
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/SpeechToText": {
      "post": {
        "description": "Convert audio file to text (10MB limit)",
        "operationId": "SpeechToText",
        "summary": "Text - Speech to Text",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "formData",
            "x-ms-summary": "Language",
            "description": "Language of audio input",
            "required": true,
            "type": "string",
            "default": "English (United States)",
            "enum": [
              "Arabic (Bahrain)",
              "Arabic (Egypt)",
              "Arabic (Iraq)",
              "Arabic (Jordan)",
              "Arabic (Kuwait)",
              "Arabic (Lebanon)",
              "Arabic (Oman)",
              "Arabic (Qatar)",
              "Arabic (Saudi Arabia)",
              "Arabic (Syria)",
              "Arabic (United Arab Emirates)",
              "Bulgarian (Bulgaria)",
              "Catalan (Spain)",
              "Chinese (Cantonese, Traditional)",
              "Chinese (Mandarin, Simplified)",
              "Chinese (Taiwanese Mandarin)",
              "Croatian (Croatia)",
              "Czech (Czech Republic)",
              "Danish (Denmark)",
              "Dutch (Netherlands)",
              "English (Australia)",
              "English (Canada)",
              "English (Hong Kong)",
              "English (India)",
              "English (Ireland)",
              "English (New Zealand)",
              "English (Philippines)",
              "English (Singapore)",
              "English (South Africa)",
              "English (United Kingdom)",
              "English (United States)",
              "Estonian(Estonia)",
              "Finnish (Finland)",
              "French (Canada)",
              "French (France)",
              "German (Germany)",
              "Greek (Greece)",
              "Gujarati (Indian)",
              "Hindi (India)",
              "Hungarian (Hungary)",
              "Irish(Ireland)",
              "Italian (Italy)",
              "Japanese (Japan)",
              "Korean (Korea)",
              "Latvian (Latvia)",
              "Lithuanian (Lithuania)",
              "Maltese(Malta)",
              "Marathi (India)",
              "Norwegian (Norway)",
              "Polish (Poland)",
              "Portuguese (Brazil)",
              "Portuguese (Portugal)",
              "Romanian (Romania)",
              "Russian (Russia)",
              "Slovak (Slovakia)",
              "Slovenian (Slovenia)",
              "Spanish (Argentina)",
              "Spanish (Bolivia)",
              "Spanish (Chile)",
              "Spanish (Colombia)",
              "Spanish (Costa Rica)",
              "Spanish (Cuba)",
              "Spanish (Dominican Republic)",
              "Spanish (Ecuador)",
              "Spanish (El Salvador)",
              "Spanish (Guatemala)",
              "Spanish (Honduras)",
              "Spanish (Mexico)",
              "Spanish (Nicaragua)",
              "Spanish (Panama)",
              "Spanish (Paraguay)",
              "Spanish (Peru)",
              "Spanish (Puerto Rico)",
              "Spanish (Spain)",
              "Spanish (Uruguay)",
              "Spanish (USA)",
              "Spanish (Venezuela)",
              "Swedish (Sweden)",
              "Tamil (India)",
              "Telugu (India)",
              "Thai (Thailand)",
              "Turkish (Turkey)"
            ]
          },
          {
            "name": "file",
            "in": "formData",
            "x-ms-summary": "File",
            "description": "Source audio file (WAV, MP3, AAC, M4A)",
            "required": true,
            "type": "file"
          }
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/TextToSpeech": {
      "post": {
        "description": "Convert text to an audio file using AI-driven speech synthesis.",
        "operationId": "TextToSpeech",
        "summary": "Text - Text to Speech",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputTextToSpeech",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputTextToSpeech"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "audio/mp3"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            }
          }
        }
      }
    },
    "/TranslateString": {
      "post": {
        "description": "Translate a string into a different language",
        "operationId": "TranslateString",
        "summary": "Text - Translate string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputTranslateString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputTranslateString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/TrimString": {
      "post": {
        "description": "Trim leading or trailing whitespace from a string",
        "operationId": "TrimString",
        "summary": "Text - Trim string",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputTrimString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputTrimString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/URLDecode": {
      "post": {
        "description": "Decode an encoded URL",
        "operationId": "UrlDecode",
        "summary": "Text - Decode URL",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputUrlDecode",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputUrlDecode"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/URLEncode": {
      "post": {
        "description": "Generate an encoded string from a complex hyperlink",
        "operationId": "UrlEncode",
        "summary": "Text - Encode URL",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputString",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputString"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/ValidateEmail": {
      "post": {
        "description": "Determine if an email address is valid",
        "operationId": "ValidateEmail",
        "summary": "Text - Validate email",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputValidateEmail",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/inputValidateEmail"
            }
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          },
          "400": {
            "description": "ERROR",
            "schema": {
              "$ref": "#/definitions/outputString"
            },
            "examples": {
              "application/json": {
                "result": "string"
              }
            }
          }
        }
      }
    },
    "/DetectPersonalData": {
      "post": {
        "description": "Detect personal information (PII) in text (1024 char max)",
        "operationId": "DetectPersonalData",
        "summary": "Text - Detect Personal Data (Beta)",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "inputStringObject",
[...]
