{
  "swagger": "2.0",
  "info": {
    "title": "Hub Planner",
    "description": "Hub Planner is resource management SaaS platform allowing you to schedule your projects and teams globally.",
    "termsOfService": "https://hubplanner.com/terms-of-service/",
    "contact": {
      "name": "API Support",
      "url": "http://www.hubplanner.com/contact",
      "email": "support@hubplanner.com"
    },
    "version": "1.0.1"
  },
  "host": "api.hubplanner.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/project": {
      "post": {
        "summary": "Create Project",
        "description": "Create Project",
        "operationId": "CreateProject",
        "parameters": [
          {
            "name": "Project fields",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the project",
                  "title": "Name of project"
                },
                "note": {
                  "type": "string",
                  "description": "note",
                  "title": "Project note"
                },
                "projectCode": {
                  "type": "string",
                  "description": "Use a unique code for your project.",
                  "title": "Project code / internal ID"
                },
                "status": {
                  "type": "string",
                  "description": "Choose from the Hub Planner status",
                  "title": "Project Status",
                  "enum": [
                    "STATUS_ACTIVE",
                    "STATUS_FLOATING",
                    "STATUS_PENDING",
                    "STATUS_PLANNED",
                    "STATUS_ARCHIVED"
                  ],
                  "default": "STATUS_ACTIVE"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string",
                  "description": "_id"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "link1": {
                      "type": "string",
                      "description": "link1"
                    },
                    "iconLink1": {
                      "type": "string",
                      "description": "iconLink1"
                    },
                    "link2": {
                      "type": "string",
                      "description": "link2"
                    },
                    "iconLink2": {
                      "type": "string",
                      "description": "iconLink2"
                    },
                    "link3": {
                      "type": "string",
                      "description": "link3"
                    },
                    "iconLink3": {
                      "type": "string",
                      "description": "iconLink3"
                    },
                    "link4": {
                      "type": "string",
                      "description": "link4"
                    },
                    "iconLink4": {
                      "type": "string",
                      "description": "iconLink4"
                    },
                    "link5": {
                      "type": "string",
                      "description": "link5"
                    },
                    "iconLink5": {
                      "type": "string",
                      "description": "iconLink5"
                    }
                  },
                  "description": "links"
                },
                "note": {
                  "type": "string",
                  "description": "note"
                },
                "createdDate": {
                  "type": "string",
                  "description": "createdDate"
                },
                "updatedDate": {
                  "type": "string",
                  "description": "updatedDate"
                },
                "timeEntryEnabled": {
                  "type": "boolean",
                  "description": "timeEntryEnabled"
                },
                "timeEntryLocked": {
                  "type": "boolean",
                  "description": "timeEntryLocked"
                },
                "timeEntryApproval": {
                  "type": "boolean",
                  "description": "timeEntryApproval"
                },
                "projectCode": {
                  "type": "string",
                  "description": "projectCode"
                },
                "tags": {
                  "type": "array",
                  "items": {},
                  "description": "tags"
                },
                "timeEntryNoteRequired": {
                  "type": "boolean",
                  "description": "timeEntryNoteRequired"
                },
                "workDays": {
                  "type": "array",
                  "items": {
                    "type": "boolean"
                  },
                  "description": "workDays"
                },
                "useProjectDays": {
                  "type": "boolean",
                  "description": "useProjectDays"
                },
                "budgetCategories": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "budgetHours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "budgetHours"
                      },
                      "budgetCashAmount": {
                        "type": "integer",
                        "format": "int32",
                        "description": "budgetCashAmount"
                      },
                      "budgetCurrency": {
                        "type": "string",
                        "description": "budgetCurrency"
                      },
                      "_id": {
                        "type": "string",
                        "description": "_id"
                      },
                      "categoryId": {
                        "type": "string",
                        "description": "categoryId"
                      }
                    }
                  },
                  "description": "budgetCategories"
                },
                "fixedCosts": {
                  "type": "array",
                  "items": {},
                  "description": "fixedCosts"
                },
                "budget": {
                  "type": "object",
                  "properties": {
                    "hasBudget": {
                      "type": "boolean",
                      "description": "hasBudget"
                    },
                    "projectHours": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean",
                          "description": "active"
                        },
                        "hours": {
                          "type": "integer",
                          "format": "int32",
                          "description": "hours"
                        }
                      },
                      "description": "projectHours"
                    },
                    "cashAmount": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean",
                          "description": "active"
                        },
                        "amount": {
                          "type": "integer",
                          "format": "int32",
                          "description": "amount"
                        },
                        "currency": {
                          "type": "string",
                          "description": "currency"
                        },
                        "billingRate": {
                          "type": "object",
                          "properties": {
                            "useDefault": {
                              "type": "boolean",
                              "description": "useDefault"
                            },
                            "rate": {
                              "type": "integer",
                              "format": "int32",
                              "description": "rate"
                            },
                            "id": {
                              "type": "string",
                              "description": "id"
                            }
                          },
                          "description": "billingRate"
                        }
                      },
                      "description": "cashAmount"
                    }
                  },
                  "description": "budget"
                },
                "budgetHours": {
                  "type": "integer",
                  "format": "int32",
                  "description": "budgetHours"
                },
                "budgetCashAmount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "budgetCashAmount"
                },
                "budgetCurrency": {
                  "type": "string",
                  "description": "budgetCurrency"
                },
                "companyBillingRateId": {
                  "type": "string",
                  "description": "companyBillingRateId"
                },
                "resourceRates": {
                  "type": "array",
                  "items": {},
                  "description": "resourceRates"
                },
                "useStatusColor": {
                  "type": "boolean",
                  "description": "useStatusColor"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "useProjectDuration": {
                  "type": "boolean",
                  "description": "useProjectDuration"
                },
                "start": {
                  "type": "string",
                  "description": "start"
                },
                "end": {
                  "type": "string",
                  "description": "end"
                },
                "includeBookedTimeReports": {
                  "type": "boolean",
                  "description": "includeBookedTimeReports"
                },
                "includeBookedTimeGrid": {
                  "type": "boolean",
                  "description": "includeBookedTimeGrid"
                },
                "private": {
                  "type": "boolean",
                  "description": "private"
                },
                "projectManagers": {
                  "type": "array",
                  "items": {},
                  "description": "projectManagers"
                },
                "resources": {
                  "type": "array",
                  "items": {},
                  "description": "resources"
                },
                "backgroundColor": {
                  "type": "string",
                  "description": "backgroundColor"
                },
                "metadata": {
                  "type": "string",
                  "description": "metadata"
                },
                "customFields": {
                  "type": "array",
                  "items": {},
                  "description": "customFields"
                },
                "billable": {
                  "type": "boolean",
                  "description": "billable"
                },
                "projectRate": {
                  "type": "object",
                  "properties": {
                    "external": {
                      "type": "object",
                      "properties": {
                        "defaultRateId": {
                          "type": "string",
                          "description": "defaultRateId"
                        },
                        "customRates": {
                          "type": "array",
                          "items": {},
                          "description": "customRates"
                        }
                      },
                      "description": "external"
                    },
                    "internal": {
                      "type": "object",
                      "properties": {
                        "defaultRateId": {
                          "type": "string",
                          "description": "defaultRateId"
                        },
                        "customRates": {
                          "type": "array",
                          "items": {},
                          "description": "customRates"
                        }
                      },
                      "description": "internal"
                    }
                  },
                  "description": "projectRate"
                },
                "customers": {
                  "type": "array",
                  "items": {},
                  "description": "customers"
                },
                "categoryGroups": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "categoryGroups"
                },
                "defaultCategory": {
                  "type": "string",
                  "description": "defaultCategory"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "CreateProject",
              "x-ms-require-user-confirmation": true,
              "parameters": [
                {
                  "name": "Project fields",
                  "type": "upsert",
                  "properties": [
                    {
                      "name": "required",
                      "value": true,
                      "type": "upsert"
                    },
                    {
                      "name": "x-ms-explicit-input",
                      "value": false,
                      "type": "upsert"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    },
    "/resource": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a Resource",
        "description": "Create a Resource",
        "operationId": "CreateResource",
        "parameters": [
          {
            "name": "Resource fields",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string",
                  "description": "First name",
                  "title": "First name"
                },
                "lastName": {
                  "type": "string",
                  "description": "Last name",
                  "title": "Last name"
                },
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "Resource email"
                },
                "note": {
                  "type": "string",
                  "description": "note",
                  "title": "Resource note"
                }
              },
              "required": [
                "firstName"
              ]
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "CreateResource",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/booking": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "New Booking",
        "description": "Schedule a new booking",
        "operationId": "CreateBooking",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "resource": {
                  "type": "string",
                  "description": "The resource _id you want to schedule (From Hub Planner)",
                  "title": "Resource ID"
                },
                "start": {
                  "type": "string",
                  "description": "format YYYY-MM-DD",
                  "title": "Start date of booking"
                },
                "end": {
                  "type": "string",
                  "description": "format YYYY-MM-DD",
                  "title": "End date of booking",
                  "format": ""
                },
                "project": {
                  "type": "string",
                  "description": "The project _id you want to schedule (From Hub Planner)",
                  "title": "Project ID"
                }
              },
              "required": [
                "end",
                "start",
                "project",
                "resource"
              ]
            }
          }
        ]
      }
    },
    "/timeentry": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create Time Entry",
        "description": "Create Time Entry",
        "operationId": "CreateTimeEntry",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "resource": {
                  "type": "string",
                  "description": "Resource _id of the project from Hub Planner",
                  "title": "Resource ID"
                },
                "project": {
                  "type": "string",
                  "description": "Project _id of the project from Hub Planner",
                  "title": "Project ID"
                },
                "date": {
                  "type": "string",
                  "description": "Format YYYY-MM-DD",
                  "title": "Date of time entry"
                },
                "minutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Value of time entry in minutes, e.g. passing 60 is equal to 1 hr",
                  "title": "Value (Minutes)"
                }
              },
              "required": [
                "date",
                "project",
                "resource",
                "minutes"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://hubplanner.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://hubplanner.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity"
    }
  ],
  "x-ms-openai-manifest": {
    "contactEmail": "support@hubplanner.com",
    "legalUrl": "https://hubplanner.com/terms-of-service/",
    "humanName": "Hub Planner",
    "modelDescription": "This is the Hub Planner plugin that can be used to manage your Hub Planner projects and resources."
  }
}