{
  "swagger": "2.0",
  "info": {
    "title": "Enveloop",
    "description": "Enveloop is a high-visibility content management UI & editor for all your email and text messaging. Not only can you create and manage all your email message designs in Enveloop, you can do the same for all your SMS / MMS messages and send those from Enveloop as well. Enveloop includes useful templates to get started fast. Plus, with one-click test messaging, a powerful sandbox environment, and all types of  code snippets included, sending your messages is practically effortless!",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.enveloop.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/messages": {
      "post": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "The message identifier.",
                  "title": "Message ID"
                },
                "from": {
                  "type": "string",
                  "description": "The From address.",
                  "title": "From"
                },
                "to": {
                  "type": "string",
                  "description": "The To address.",
                  "title": "To"
                },
                "body": {
                  "type": "string",
                  "description": "The message body.",
                  "title": "Body"
                }
              }
            }
          }
        },
        "summary": "Send message",
        "description": "Send messages to recipients.",
        "operationId": "MessagePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "template": {
                  "type": "string",
                  "description": "The template name.",
                  "title": "Template Name"
                },
                "to": {
                  "type": "string",
                  "description": "The To address.",
                  "title": "To"
                },
                "from": {
                  "type": "string",
                  "description": "The From address.",
                  "title": "From"
                },
                "subject": {
                  "type": "string",
                  "description": "The message subject.",
                  "title": "Subject"
                },
                "templateVariables": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "variableName": {
                        "type": "string",
                        "description": "The variable name.",
                        "title": "Name"
                      },
                      "variableValue": {
                        "type": "string",
                        "description": "The variable value.",
                        "title": "Value"
                      }
                    }
                  },
                  "title": "Template Variables"
                }
              }
            }
          }
        ]
      }
    },
    "/templates/{templateName}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "templateVariables": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The template variables.",
                  "title": "Template Variables"
                },
                "body": {
                  "type": "string",
                  "description": "The message body.",
                  "title": "Body"
                }
              }
            }
          }
        },
        "summary": "Get template",
        "description": "Retrieve the information about a template including the body of the template and any user defined variables that the template expects.",
        "operationId": "TemplateGet",
        "parameters": [
          {
            "name": "templateName",
            "in": "path",
            "x-ms-summary": "Template Name",
            "x-ms-url-encoding": "single",
            "description": "The template name.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Token (in the form 'token YOUR_TOKEN')": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "Token (in the form 'token YOUR_TOKEN')": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.enveloop.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://docs.enveloop.com/company/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Marketing"
    }
  ]
}