{
  "swagger": "2.0",
  "info": {
    "title": "DocumentsCorePack for BC",
    "description": "DocumentsCorePack BC enables you to create and process documents using Microsoft Word layouts and Business Central data. Integrate document processes into your workflows with a no-code approach and work with documents and layouts directly from your automated processes.",
    "termsOfService": "https://www.mscrm-addons.com/Support/Terms-Conditions",
    "contact": {
      "name": "mscrm-addons.com",
      "url": "https://support.mscrm-addons.com",
      "email": "support@mscrm-addons.com"
    },
    "license": {
      "name": "All rights reserved, copyright by PTM EDV Systeme GmbH @2026",
      "url": "https://www.mscrm-addons.com"
    },
    "version": "5.4",
    "x-ms-keywords": [
      "DocumentsCorePack",
      "Document Core Pack",
      "Documents Core Pack",
      "Documents CorePack",
      "Document CorePack",
      "DCP",
      "Business Central",
      "Microsoft Dynamics 365 Business Central",
      "Dynamics 365 Business Central",
      "Dynamics BC",
      "BC",
      "Document",
      "Documents",
      "Doc",
      "Docs",
      "Document Generation",
      "Generate Document",
      "Generate Documents",
      "Create Document",
      "Create Documents",
      "Send Documents",
      "Send Document",
      "Automate Document",
      "Automate Documents",
      "Layout",
      "Layouts",
      "Word Layout",
      "Word Layouts",
      "Document Layout",
      "Document Layouts",
      "PDF",
      "Word",
      "DOCX",
      "Invoice",
      "Invoices",
      "Quote",
      "Quotes",
      "Order",
      "Orders",
      "Confirmation",
      "Confirmations",
      "Report",
      "Reports",
      "Contract",
      "Contracts",
      "Agreement",
      "Agreements",
      "Letter",
      "Letters",
      "Email",
      "Email Attachment",
      "Attachment",
      "Attachments",
      "Printer",
      "Printers",
      "Print",
      "Printing"
    ]
  },
  "host": "documentapi.mscrm-addons.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/api/DCPBC/CreateDocumentJobAsync": {
      "post": {
        "tags": [
          "DocumentGeneration V1"
        ],
        "summary": "Create DocumentJob (async)",
        "description": "Creates a new document. The action does NOT wait for a result. For more information, https://short.mscrm-addons.com/createdocumentjobasync",
        "operationId": "CreateDocumentJobAsyncV1_BC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentBodyV1_BC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "family": "CreateDocumentJobAsync",
          "revision": 1
        }
      }
    },
    "/v1/api/DCPBC/CreateDocumentJob": {
      "post": {
        "tags": [
          "DocumentGeneration V1"
        ],
        "summary": "Create document",
        "description": "Creates a new document. For more information, https://short.mscrm-addons.com/createdocumentjob",
        "operationId": "CreateDocumentJobV1_BC",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JSONCreateDocumentBodyV1_BC"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a document",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "family": "CreateDocumentJob",
          "revision": 1
        }
      }
    },
    "/v1/api/DCPBC/DocumentJobResult": {
      "get": {
        "tags": [
          "DocumentGeneration V1"
        ],
        "summary": "Get DocumentJob result",
        "description": "Retrieves status information of a DocumentJob. The result will include the generated document.",
        "operationId": "DocumentJobResultV1_BC",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "DocumentJobId",
            "description": "Unique identifier of the DocumentJob.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "DocumentJob ID"
          },
          {
            "in": "query",
            "name": "Environment",
            "description": "Choose environment for this operation.",
            "type": "string",
            "default": "(default)",
            "x-ms-dynamic-values": {
              "value-path": "EnvironmentId",
              "value-title": "EnvironmentName",
              "operationId": "GetApiKeyProfilesV4"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a DocumentJob",
            "schema": {
              "$ref": "#/definitions/DocumentJobResponseV2"
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "family": "DocumentJobResult",
          "revision": 1
        }
      }
    },
    "/v1/api/DCPBC/DocumentJobStatus": {
      "get": {
        "tags": [
          "DocumentGeneration V1"
        ],
        "summary": "Get DocumentJob status",
        "description": "Retrieves the status of a DocumentJob.",
        "operationId": "DocumentJobStatusV1_BC",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "DocumentJobId",
            "description": "Unique identifier of the DocumentJob to retrieve the status of.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "DocumentJob ID"
          },
          {
            "in": "query",
            "name": "Environment",
            "description": "Choose environment for this operation.",
            "type": "string",
            "default": "(default)",
            "x-ms-dynamic-values": {
              "value-path": "EnvironmentId",
              "value-title": "EnvironmentName",
              "operationId": "GetApiKeyProfilesV4"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an AutomergeWorkingItem",
            "schema": {
              "$ref": "#/definitions/DocumentJobStatusResponse"
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "family": "DocumentJobStatus",
          "revision": 1
        }
      }
    },
    "/v1/api/DCPBC/GetAllTemplates": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get document templates",
        "description": "Retrieves a list of available DocumentsCorePackBusinessCentral templates.",
        "operationId": "GetAllTemplatesV4",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "EntityName",
            "description": "Filter by Entity (etc or etn). Optional wildcard *[etn]*",
            "type": "string",
            "x-ms-summary": "Table Name"
          },
          {
            "in": "query",
            "name": "TemplateNameFilter",
            "description": "Filter by template name. Optional wildcard *[name]*",
            "type": "string",
            "x-ms-summary": "Template Filter"
          },
          {
            "in": "query",
            "name": "GroupFilter",
            "description": "Filter by group name. Optional wildcard *[name]*",
            "type": "string",
            "x-ms-summary": "Group Filter"
          },
          {
            "in": "query",
            "name": "UserId",
            "description": "Only retrieve templates accessible to this user",
            "type": "string",
            "x-ms-dynamic-values": {
              "value-path": "systemuserid",
              "value-title": "fullname",
              "operationId": "GetUsersV4",
              "parameters": {
                "Environment": {
                  "parameter": "Environment"
                }
              }
            },
            "x-ms-summary": "User"
          },
          {
            "in": "query",
            "name": "Environment",
            "description": "Choose the Environment for this operation.",
            "type": "string",
            "default": "(default)",
            "x-ms-dynamic-values": {
              "value-path": "EnvironmentId",
              "value-title": "EnvironmentName",
              "operationId": "GetApiKeyProfilesV4"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of templates",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JSONDCPTemplate"
              }
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "family": "GetAllTemplates",
          "revision": 1
        }
      }
    },
    "/v1/api/DCPBC/GetApiKeyProfiles": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get Profiles for a User APIKey",
        "description": "Retrieves all Profile Ids for this APIKey.",
        "operationId": "GetApiKeyProfilesV4",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of Profile Ids",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JSONEnvironmentV3"
              }
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-visibility": "advanced",
        "x-ms-api-annotation": {
          "family": "GetApiKeyProfiles",
          "revision": 1
        }
      }
    },
    "/v1/api/DCPBC/GetEntityNames": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Retrieve table names with annotation capability",
        "description": "Retrieve a list of Dynamics tables supporting annotations.",
        "operationId": "GetEntityNamesV4",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Environment",
            "description": "Choose the Environment for this operation.",
            "type": "string",
            "default": "(default)",
            "x-ms-dynamic-values": {
              "value-path": "EnvironmentId",
              "value-title": "EnvironmentName",
              "operationId": "GetApiKeyProfilesV4"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of note-enabled Entities",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JSONEntityName"
              }
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "family": "GetEntityNames",
          "revision": 1
        }
      }
    },
    "/v1/api/DCPBC/GetFileTypes": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get DCP FileTypes",
        "description": "This function returns a list of supported filetype for DocumentsCorePack",
        "operationId": "GetFileTypesV4",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns a list of DCP FileTypes and their Ids",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JSONKeyValuePair"
              }
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "family": "GetFileTypes",
          "revision": 1
        }
      }
    },
    "/v1/api/DCPBC/GetPrinters": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get Printers",
        "description": "Retrieve available printers.",
        "operationId": "GetPrintersV4",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Environment",
            "description": "Choose the Environment for this operation.",
            "type": "string",
            "default": "(default)",
            "x-ms-dynamic-values": {
              "value-path": "EnvironmentId",
              "value-title": "EnvironmentName",
              "operationId": "GetApiKeyProfilesV4"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "User",
            "description": "Optional, only list printers accessible to this user.",
            "type": "string",
            "default": "",
            "x-ms-dynamic-values": {
              "value-path": "systemuserid",
              "value-title": "fullname",
              "operationId": "GetUsersV4",
              "parameters": {
                "Environment": {
                  "parameter": "Environment"
                }
              }
            },
            "x-ms-summary": "User"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of printers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JSONPrinterResponse"
              }
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-api-annotation": {
          "family": "GetPrinters",
          "revision": 1
        }
      }
    },
    "/v1/api/DCPBC/GetUsers": {
      "get": {
        "tags": [
          "Metadata"
        ],
        "summary": "Get a list of dynamics users",
        "description": "Retrieves a list of Dynamics users.",
        "operationId": "GetUsersV4",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Environment",
            "description": "Choose the Environment for this operation.",
            "type": "string",
            "default": "(default)",
            "x-ms-dynamic-values": {
              "value-path": "EnvironmentId",
              "value-title": "EnvironmentName",
              "operationId": "GetApiKeyProfilesV4"
            },
            "x-ms-summary": "Environment",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of dynamics users",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/JSONSystemUser"
              }
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "description": "returned for all other errors",
            "schema": {
              "$ref": "#/definitions/ErrorMessage"
            }
          }
        },
        "x-ms-visibility": "internal",
        "x-ms-api-annotation": {
          "family": "GetUsers",
          "revision": 1
        }
      }
    },
    "/v1/api/DCPBC/whoami": {
      "get": {
        "tags": [
          "Maintenance"
        ],
        "summary": "Who am I",
        "description": "Retrieve information about the used APIKey and associated DocumentsCorePack Service.",
        "operationId": "WhoAmIV1_BC",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "Environment",
            "description": "Choose environment for this operation.",
            "type": "string",
            "default": "(default)",
            "x-ms-dynamic-values": {
              "value-path": "EnvironmentId",
              "value-title": "EnvironmentName",
              "operationId": "GetApiKeyProfilesV4"
            },
            "x-ms-summary": "Environment"
          }
        ],
        "responses": {
          "200": {
            "description": "returns APIKey and APIOwner name",
            "schema": {
              "$ref": "#/definitions/WhoAmiV5"
            }
          },
          "401": {
            "description": "returned for invalid APIKey",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          }
        },
        "x-ms-api-annotation": {
          "family": "WhoAmI",
          "revision": 1
        }
      }
    }
  },
  "definitions": {
    "JSONUserPrompt": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "description": "Name/Id of the prompt.",
          "x-ms-summary": "Name"
        },
        "Value": {
          "type": "string",
          "description": "Value of the prompt.",
          "x-ms-summary": "Value"
        },
        "IsValid": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "JSONUserPrompts": {
      "type": "object",
      "properties": {
        "UserPrompts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JSONUserPrompt"
          },
          "x-ms-visibility": "internal",
          "x-ms-summary": "Prompt"
        }
      }
    },
    "JSONCreateDocumentBodyV1_BC": {
      "required": [
        "EntityId",
        "FileType",
        "Template"
      ],
      "type": "object",
      "properties": {
        "Template": {
          "format": "uuid",
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetAllTemplatesV4",
            "value-path": "ptm_mscrmaddons_dcptemplatesid",
            "value-title": "ptm_name",
            "parameters": {
              "Environment": {
                "parameter": "Environment"
              }
            }
          },
          "description": "Choose layout for this DocumentJob.",
          "x-ms-dynamic-list": {
            "operationId": "GetAllTemplatesV4",
            "itemValuePath": "ptm_mscrmaddons_dcptemplatesid",
            "itemTitlePath": "ptm_name",
            "parameters": {
              "Environment": {
                "parameterReference": "body/Environment"
              }
            }
          },
          "x-ms-summary": "Layout"
        },
        "EntityId": {
          "format": "uuid",
          "type": "string",
          "description": "Unique identifier of the record to run this layout for.",
          "x-ms-summary": "Record ID"
        },
        "RequestSynchronousCallback": {
          "type": "boolean",
          "description": "Use synchronous processing when accept/retry-after isn't supported.",
          "default": false,
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Sync. Callback"
        },
        "FileType": {
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetFileTypesV4",
            "value-path": "value",
            "value-title": "key"
          },
          "description": "Choose filetype.",
          "x-ms-summary": "File Type"
        },
        "User": {
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetUsersV4",
            "value-path": "systemuserid",
            "value-title": "fullname",
            "parameters": {
              "Environment": {
                "parameter": "Environment"
              }
            }
          },
          "description": "Choose the user to run this operation.",
          "x-ms-visibility": "internal",
          "x-ms-dynamic-list": {
            "operationId": "GetUsersV4",
            "itemValuePath": "systemuserid",
            "itemTitlePath": "fullname",
            "parameters": {
              "Environment": {
                "parameterReference": "body/Environment"
              }
            }
          },
          "x-ms-summary": "User"
        },
        "SaveToSharepoint": {
          "type": "boolean",
          "description": "Save the document to SharePoint.",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Save to SharePoint"
        },
        "AttachToEmailId": {
          "format": "uuid",
          "type": "string",
          "description": "Unique identifier of the email to attach the document to.",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Attach to Email"
        },
        "DCPPrinterName": {
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetPrintersV4",
            "value-path": "DCPPrinterName",
            "value-title": "DCPPrinterName",
            "parameters": {
              "Environment": {
                "parameter": "Environment"
              }
            }
          },
          "description": "Choose printer.",
          "x-ms-visibility": "internal",
          "x-ms-dynamic-list": {
            "operationId": "GetPrintersV4",
            "itemValuePath": "DCPPrinterName",
            "itemTitlePath": "DCPPrinterName",
            "parameters": {
              "Environment": {
                "parameterReference": "body/Environment"
              }
            }
          },
          "x-ms-summary": "Printer"
        },
        "AttachToEntityId": {
          "format": "uuid",
          "type": "string",
          "description": "Unique identifier of the record to attach this document to.",
          "x-ms-visibility": "internal",
          "x-ms-summary": "Attach to [Row ID]"
        },
        "AttachToEntitySchemaName": {
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetEntityNamesV4",
            "value-path": "LogicalName",
            "value-title": "DisplayName",
            "parameters": {
              "Environment": {
                "parameter": "Environment"
              }
            }
          },
          "description": "Choose table to attach this document to.",
          "x-ms-visibility": "internal",
          "x-ms-dynamic-list": {
            "operationId": "GetEntityNamesV4",
            "itemValuePath": "LogicalName",
            "itemTitlePath": "DisplayName",
            "parameters": {
              "Environment": {
                "parameterReference": "body/Environment"
              }
            }
          },
          "x-ms-summary": "Attach to [Table]"
        },
        "UserPrompts": {
          "$ref": "#/definitions/JSONUserPrompts"
        },
        "JSONDataSource": {
          "type": "string",
          "description": "Use this JSON data for document creation.",
          "x-ms-visibility": "internal",
          "x-ms-summary": "JSON Datasource"
        },
        "Environment": {
          "type": "string",
          "x-ms-dynamic-values": {
            "operationId": "GetApiKeyProfilesV4",
            "value-path": "EnvironmentId",
            "value-title": "EnvironmentName"
          },
          "description": "Choose the environment for this operation.",
          "default": "(default)",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Environment"
        }
      }
    },
    "DocumentJobResponseV2": {
      "type": "object",
      "properties": {
        "File name": {
          "type": "string"
        },
        "File size": {
          "format": "int32",
          "type": "integer"
        },
        "Document content": {
          "type": "string",
          "format": "byte"
        },
        "Mime-Type": {
          "type": "string"
        },
        "Temporary Record Id": {
          "type": "string"
        },
        "Success": {
          "type": "boolean",
          "readOnly": true
        },
        "Return value": {
          "type": "string"
        },
        "Return value 2": {
          "type": "string"
        },
        "DocumentJobId": {
          "type": "string"
        }
      }
    },
    "ProblemDetails": {
      "type": "object",
      "additionalProperties": {
        "type": "object"
      }
    },
    "ErrorMessage": {
      "type": "object",
      "properties": {
        "Success": {
          "type": "boolean",
          "readOnly": true
        },
        "Return value": {
          "type": "string"
        },
        "Return value 2": {
          "type": "string"
        }
      }
    },
    "DocumentJobStatusResponse": {
      "type": "object",
      "properties": {
        "Success": {
          "type": "boolean",
          "readOnly": true
        },
        "Return value": {
          "type": "string"
        },
        "Return value 2": {
          "type": "string"
        },
        "DocumentJobId": {
          "type": "string"
        }
      }
    },
    "JSONDCPTemplate": {
      "type": "object",
      "properties": {
        "ptm_mscrmaddons_dcptemplatesid": {
          "type": "string"
        },
        "ptm_name": {
          "type": "string"
        },
        "ptm_entitytype": {
          "type": "string"
        }
      }
    },
    "JSONEnvironmentV3": {
      "type": "object",
      "properties": {
        "EnvironmentName": {
          "type": "string"
        },
        "EnvironmentId": {
          "type": "string"
        }
      }
    },
    "JSONEntityName": {
      "type": "object",
      "properties": {
        "DisplayName": {
          "type": "string"
        },
        "LogicalName": {
          "type": "string"
        }
      }
    },
    "JSONKeyValuePair": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string"
        },
        "value": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "JSONPrinterResponse": {
      "type": "object",
      "properties": {
        "DCPPrinterName": {
          "type": "string"
        }
      }
    },
    "JSONSystemUser": {
      "type": "object",
      "properties": {
        "systemuserid": {
          "type": "string"
        },
        "fullname": {
          "type": "string"
        },
        "domainname": {
          "type": "string"
        },
        "azureactivedirectoryobjectid": {
          "type": "string"
        }
      }
    },
    "WhoAmiV5": {
      "type": "object",
      "properties": {
        "ApiKey": {
          "type": "string"
        },
        "ApiOwner": {
          "type": "string"
        },
        "Environment": {
          "format": "int32",
          "type": "integer"
        },
        "ServiceAlive": {
          "type": "boolean"
        },
        "ApiVersion": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "Api_Key": {
      "type": "apiKey",
      "name": "X-Api-Key",
      "in": "header"
    }
  },
  "security": [
    {
      "Api_Key": [ ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://poweraddons.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mscrm-addons.com/LegalDocuments"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Sales and CRM"
    }
  ]
}