{
  "swagger": "2.0",
  "info": {
    "title": "Business Assist",
    "description": "Business Assist APIs are using Machine Learning models which will help in improving the customer experience and provide customer success. These APIs will help you optimize your customer support that can help you forecast call volumes, analyze customer feedback, and provide self-help support for faster service. You can integrate with any platform they already use, allowing them to create their own technology stack based on both preference and value.",
    "version": "1.0",
    "contact": {
      "name": "Microsoft",
      "url": "https://admin.microsoft.com",
      "email": "PowerConnector-BA@microsoft.com"
    }
  },
  "host": "businessassist.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/forecast": {},
    "/api/beta/forecast/{Forecast job Id}": {
      "get": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "OperationId": {
                  "type": "string",
                  "description": "Forecast operation Id"
                },
                "Name": {
                  "type": "string",
                  "description": "Forecast name"
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Forecast status"
                },
                "Diagnostics": {
                  "type": "string",
                  "description": "Diagnostics message"
                }
              }
            }
          }
        },
        "summary": "Get forecast status",
        "description": "Get forecast job status by job id.",
        "operationId": "GetForecastStatus",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Forecast job Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "a6fe7af6-ba42-4676-9a4c-901d0bd44d19",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/beta/forecast/{Forecast job Id}/download": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Date": {
                    "type": "string",
                    "description": "Date"
                  },
                  "Forecast": {
                    "type": "number",
                    "format": "float",
                    "description": "Forecast"
                  },
                  "Low": {
                    "type": "number",
                    "format": "float",
                    "description": "Low",
                    "title": ""
                  },
                  "High": {
                    "type": "number",
                    "format": "float",
                    "description": "High"
                  }
                }
              }
            }
          }
        },
        "summary": "Get forecast result",
        "description": "Get forecast job result by using job id.",
        "operationId": "GetForecastResult",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Forecast job Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "a6fe7af6-ba42-4676-9a4c-901d0bd44d19",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/beta/forecast": {
      "post": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "OperationId": {
                  "type": "string",
                  "description": "OperationId"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status"
                },
                "Diagnostics": {
                  "type": "string",
                  "description": "Diagnostics"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Date": {
                        "type": "string",
                        "description": "Date"
                      },
                      "Forecast": {
                        "type": "number",
                        "format": "float",
                        "description": "Forecast"
                      },
                      "Low": {
                        "type": "number",
                        "format": "float",
                        "description": "Low"
                      },
                      "High": {
                        "type": "number",
                        "format": "float",
                        "description": "High"
                      }
                    }
                  },
                  "description": "Results"
                }
              }
            }
          }
        },
        "summary": "Create forecast job",
        "operationId": "CreateForecastJob",
        "description": "Submit forecast job to Business Assist.",
        "x-ms-visibility": "important",
        "consumes": ["application/json", "multipart/form-data"],
        "parameters": [
          {
            "name": "inputDataMethod",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Support volume forecast job",
                  "title": "Name"
                },
                "EndDateTime": {
                  "type": "string",
                  "description": "12/31/2022",
                  "title": "Forecast end date"
                },
                "Seasonality": {
                  "type": "string",
                  "description": "Daily",
                  "title": "Seasonality",
                  "enum": [
                    "None",
                    "Daily",
                    "Weekly",
                    "Monthly",
                    "Quarterly",
                    "Yearly"
                  ],
                  "x-ms-visibility": "important"
                },
                "IncludePredictionInterval": {
                  "type": "boolean",
                  "description": "false",
                  "title": "Include prediction interval",
                  "enum": [
                    true,
                    false
                  ],
                  "default": false
                },
                "inputDataJson": {
                  "type": "string",
                  "description": "[{\"Date\":\"2022-07-01\",\"Ticket\":\"195\",\"DAO\":\"20000\"},{\"Date\":\"2022-07-02\",\"Ticket\":\"774\",\"DAO\":\"20500\"}]",
                  "title": "History data JSON"
                },
                "DateTimeColumnName": {
                  "type": "string",
                  "description": "Date",
                  "title": "Date property name"
                },
                "VolumeColumnName": {
                  "type": "string",
                  "description": "Ticket",
                  "title": "Volume property name"
                },
                "AdjustmentColumnNames": {
                  "title": "Adjustment property names",
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "DAO",
                    "title": "Adjustment property name",
                    "x-ms-visibility": "advanced"
                  },
                  "description": "[\"DAO\"]"
                },
                "SpecialDateDataJson": {
                  "type": "string",
                  "description": "[{\"Date\":\"2021-10-28\",\"Name\":\"IgniteDay1\"}]",
                  "title": "Special date data JSON",
                  "x-ms-visibility": "advanced"
                },
                "SpecialDateAdjustmentDataJson": {
                  "type": "string",
                  "description": "[{\"Date\":\"2022-10-01\",\"Ratio\":\"-0.3\"}]",
                  "title": "Special date adjustment data JSON",
                  "x-ms-visibility": "advanced"
                },
                "SpecialDateColumnName": {
                  "type": "string",
                  "description": "Date",
                  "title": "Special date property name",
                  "x-ms-visibility": "advanced"
                },
                "SpecialDateEventColumnName": {
                  "type": "string",
                  "description": "Name",
                  "title": "Special date event property name",
                  "x-ms-visibility": "advanced"
                },
                "SpecialDateAdjustmentColumnName": {
                  "type": "string",
                  "description": "Ratio",
                  "title": "Special date adjustment property name",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "Name",
                "EndDateTime",
                "DateTimeColumnName",
                "inputDataJson",
                "VolumeColumnName",
                "IncludePredictionInterval",
                "Seasonality"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/api/beta/textanalytics/topicclustering": {
      "post": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "OperationId": {
                  "type": "string",
                  "description": "OperationId"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status"
                },
                "Diagnostics": {
                  "type": "string",
                  "description": "Diagnostics"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "RecordId": {
                        "type": "string",
                        "description": "RecordId"
                      },
                      "Cluster_Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Cluster_Id"
                      },
                      "Cluster_Probability": {
                        "type": "number",
                        "format": "float",
                        "description": "Cluster_Probability"
                      },
                      "Cluster_Label": {
                        "type": "string",
                        "description": "Cluster_Label"
                      }
                    }
                  },
                  "description": "Results"
                }
              }
            }
          }
        },
        "summary": "Create text analytic job",
        "description": "Submit text analytic job to Business Assist.",
        "consumes": ["application/json"],
        "operationId": "CreateCluserting",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "InputData": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "RecordId": {
                        "type": "string",
                        "description": "RecordId"
                      },
                      "Text": {
                        "type": "string",
                        "description": "Text"
                      }
                    }
                  },
                  "description": "InputData"
                }
              }
            }
          }
        ]
      }
    },
    "/api/beta/textanalytics/topicclustering/{Clustering job Id}/status": {
      "get": {
        "responses": {
          "202": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "OperationId": {
                  "type": "string",
                  "description": "Clustering operation Id"
                },
                "Name": {
                  "type": "string",
                  "description": "Clustering Name"
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Clustering Status"
                },
                "Diagnostics": {
                  "type": "string",
                  "description": "Diagnostics message"
                }
              }
            }
          }
        },
        "summary": "Get text analytic job status",
        "description": "Get text analytic job status by job id.",
        "operationId": "GetClusteringStatus",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Clustering job Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "a6fe7af6-ba42-4676-9a4c-901d0bd44d19",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/beta/textanalytics/topicclustering/{Clustering job Id}/result": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "OperationId": {
                  "type": "string",
                  "description": "OperationId"
                },
                "Status": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Status"
                },
                "Results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "RecordId": {
                        "type": "string",
                        "description": "RecordId"
                      },
                      "Cluster_Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Cluster_Id"
                      },
                      "Cluster_Probability": {
                        "type": "number",
                        "format": "float",
                        "description": "Cluster_Probability"
                      },
                      "Cluster_Label": {
                        "type": "string",
                        "description": "Cluster_Label"
                      }
                    }
                  },
                  "description": "Results"
                }
              }
            }
          }
        },
        "summary": "Get text analytic job result",
        "description": "Get text analytic job results by using job id.",
        "operationId": "GetClusteringResult",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "Clustering job Id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "a6fe7af6-ba42-4676-9a4c-901d0bd44d19",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/api/beta/SelfHelp/insights": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "Solutions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Details": {
                        "type": "string",
                        "description": "Description"
                      },
                      "SolutionConfidence": {
                        "type": "number",
                        "format": "float",
                        "description": "Confidence"
                      }
                    }
                  },
                  "description": "Solutions"
                },
                "WebSearchResults": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Details": {
                        "type": "string",
                        "description": "Details"
                      },
                      "URL": {
                        "type": "string",
                        "description": "URL"
                      }
                    }
                  },
                  "description": "Insights"
                },
                "ServiceIncidents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Id": {
                        "type": "string",
                        "description": "Id"
                      },
                      "ServiceName": {
                        "type": "string",
                        "description": "ServiceName"
                      },
                      "IssueType": {
                        "type": "string",
                        "description": "IssueType"
                      },
                      "StartTime": {
                        "type": "string",
                        "description": "StartTime"
                      },
                      "EndTime": {
                        "type": "string",
                        "description": "EndTime"
                      },
                      "LastUpdatedTime": {
                        "type": "string",
                        "description": "LastUpdatedTime"
                      },
                      "ImpactDescription": {
                        "type": "string",
                        "description": "ImpactDescription"
                      },
                      "Title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "Severity": {
                        "type": "string",
                        "description": "Severity"
                      },
                      "IssueStatus": {
                        "type": "string",
                        "description": "IssueStatus"
                      },
                      "IsIncidentResolved": {
                        "type": "boolean",
                        "description": "IsIncidentResolved"
                      }
                    }
                  },
                  "description": "ServiceIncidents"
                }
              }
            }
          }
        },
        "summary": "Get self-help insights",
        "description": "Get self-help insights from Business Assist.",
        "operationId": "GetSelfHelpInsights",
        "x-ms-visibility": "important",
        "consumes": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "QueryText": {
                  "type": "string",
                  "description": "Outlook doesn't work",
                  "title": "Problem Description"
                },
                "Locale": {
                  "type": "string",
                  "description": "en-US",
                  "title": "Locale"
                }
              },
              "required": [
                "Locale",
                "QueryText"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://microsoft.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://support.microsoft.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {
        "https://businessassist.microsoft.com/BusinessAssist.Access": "https://businessassist.microsoft.com/BusinessAssist.Access"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "https://businessassist.microsoft.com/BusinessAssist.Access"
      ]
    }
  ],
  "tags": []
}