{
  "swagger": "2.0",
  "info": {
    "title": "Impower",
    "description": "Connector to Upload Invoices to Impower",
    "version": "1.0",
    "contact": {
      "name": "Impower GmbH",
      "url": "https://www.impower.de",
      "email": "info@impower.de"
    }
  },
  "host": "api.app.impower.de",
  "basePath": "/services",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/pmp-accounting/api/v1/invoices/upload": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InvoiceEpo"
            }
          }
        },
        "summary": "Upload invoice",
        "description": "Upload a pdf file to Impower",
        "operationId": "UploadInvoice",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "Specify the pdf file to upload",
            "required": true,
            "type": "file",
            "x-ms-summary": "pdf file"
          }
        ]
      }
    },
    "/pmp-accounting/api/v1/invoices/id": {
      "get": {
        "summary": "Invoice details",
        "description": "Get invoice details from Impower",
        "operationId": "GetInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "query",
            "description": "Specify the invoice ID for details",
            "required": true,
            "type": "integer",
            "format": "int64",
            "x-ms-summary": "Invoice ID"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/InvoiceDto"
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "InvoiceEpo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "refNr": {
          "type": "string",
          "description": "Reference Nr"
        },
        "invoiceHrId": {
          "type": "string",
          "description": "Invoice ID"
        },
        "documentUrl": {
          "type": "string",
          "description": "Invoice URL"
        },
        "state": {
          "type": "string",
          "description": "Status"
        }
      },
      "title": "InvoiceEpo"
    },
    "InvoiceDto": {
      "type": "object",
      "properties": {
        "counterpartBic": {
          "type": "string",
          "description": "BIC Counterpart"
        },
        "counterpartContactId": {
          "type": "integer",
          "format": "int64",
          "description": "ContactID Counterpart"
        },
        "counterpartIban": {
          "type": "string",
          "description": "IBAN Counterpart"
        },
        "counterpartName": {
          "type": "string",
          "description": "Counterpart"
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Date"
        },
        "documentUrl": {
          "type": "string",
          "description": "Invoice URL"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "ID"
        },
        "invoiceDate": {
          "type": "string",
          "description": "Invoice Date"
        },
        "invoiceHrId": {
          "type": "string",
          "description": "Invoice ID"
        },
        "invoiceNumber": {
          "type": "string",
          "description": "Invoice Number"
        },
        "paymentTargetDate": {
          "type": "string",
          "description": "Payment target date"
        },
        "paymentType": {
          "type": "string",
          "description": "Payment Type"
        },
        "propertyHrId": {
          "type": "string",
          "description": "Property NR"
        },
        "propertyId": {
          "type": "integer",
          "format": "int64",
          "description": "Property ID"
        },
        "propertyIdInternal": {
          "type": "string",
          "description": "Property Internal ID"
        },
        "propertyName": {
          "type": "string",
          "description": "Property Name"
        },
        "refNr": {
          "type": "string",
          "description": "Reference Nr"
        },
        "state": {
          "type": "string",
          "enum": [
            "NEW",
            "APPROVED",
            "RECURRING",
            "RECURRING_STOPPED",
            "DELETED"
          ],
          "description": "Status of Invoice"
        },
        "totalGross": {
          "type": "number",
          "description": "Total Gross"
        },
        "totalNet": {
          "type": "number",
          "description": "Total Net"
        },
        "vatIncluded": {
          "type": "boolean",
          "description": "VAT incl."
        },
        "vatPercentage": {
          "type": "number",
          "description": "VAT percentage"
        }
      },
      "title": "InvoiceDto"
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API-Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API-Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.impower.de"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.impower.de/datenschutzerklaerung"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Finance"
    }
  ]
}
