{
    "swagger": "2.0",
    "info": {
        "contact": {
            "email": "info@redque.com",
            "name": "Redque s.r.o.",
            "url": "https://www.redque.com"
        },
        "description": "Redque is AI engine for automated document processing and field extraction.",
        "title": "Redque",
        "version": "v1"
    },
    "host": "api.redque.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "oauth2_auth": {
            "flow": "application",
            "scopes": {
                "v1.public": "Public API"
            },
            "tokenUrl": "https://identity.redque.com/connect/token",
            "type": "oauth2"
        }
    },
    "security": [
        {
            "oauth2_auth": []
        }
    ],
    "paths": {
        "/v1/accounting-unit": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Accounting unit",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiCreateAccountingUnit"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Created accounting unit",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountingUnitCreationResult"
                        }
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    },
                    "500": {
                        "description": "Error while creating the accounting unit"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Accounting Units"
                ],
                "description": "Create a new Accounting unit",
                "operationId": "CreateAccountingUnit",
                "summary": "Create a new Accounting unit",
                "x-ms-description": "Create a new Accounting unit",
                "x-ms-summary": "Create a new Accounting unit"
            }
        },
        "/v1/accounting-unit/list": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountingUnitListRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "all accounting units",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountingUnitApiListResult"
                        }
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Accounting Units"
                ],
                "description": "Get all Accounting units",
                "operationId": "ListAccountingUnits",
                "summary": "Get all Accounting units",
                "x-ms-description": "Get all Accounting units",
                "x-ms-summary": "Get all Accounting units"
            }
        },
        "/v1/accounting-unit/my": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountingUnit"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Accounting Units"
                ],
                "description": "Get current user´s primary Accounting unit",
                "operationId": "GetMyAccountingUnit",
                "summary": "Get current user´s primary Accounting unit",
                "x-ms-description": "Get current user´s primary Accounting unit",
                "x-ms-summary": "Get current user´s primary Accounting unit"
            }
        },
        "/v1/accounting-unit/{accountingUnitId}": {
            "delete": {
                "parameters": [
                    {
                        "description": "Accounting unit id",
                        "in": "path",
                        "name": "accountingUnitId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Accounting unit id",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted accounting unit"
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Accounting Units"
                ],
                "description": "Delete Accounting unit",
                "operationId": "DeleteAccountingUnit",
                "summary": "Delete Accounting unit",
                "x-ms-description": "Delete Accounting unit",
                "x-ms-summary": "Delete Accounting unit"
            },
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Accounting unit Id",
                        "in": "path",
                        "name": "accountingUnitId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Accounting unit Id",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Accounting unit",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountingUnit"
                        }
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to access this resource"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Accounting Units"
                ],
                "description": "Get Accounting unit by Id",
                "operationId": "GetAccountingUnit",
                "summary": "Get Accounting unit by Id",
                "x-ms-description": "Get Accounting unit by Id",
                "x-ms-summary": "Get Accounting unit by Id"
            },
            "post": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Accounting unit Id",
                        "in": "path",
                        "name": "accountingUnitId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Accounting unit Id",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "Accounting unit",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiUpdateAccountingUnit"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Updated accounting unit"
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Accounting Units"
                ],
                "description": "Update Accounting unit",
                "operationId": "UpdateAccountingUnit",
                "summary": "Update Accounting unit",
                "x-ms-description": "Update Accounting unit",
                "x-ms-summary": "Update Accounting unit"
            }
        },
        "/v1/approval/approvalField/search-values": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiApprovalFieldSearchRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Approval Workflow"
                ],
                "description": "Search document approval field values based on search",
                "operationId": "SearchDocumentApprovalFieldValuesAsync",
                "summary": "Search document approval field values based on search",
                "x-ms-description": "Search document approval field values based on search",
                "x-ms-summary": "Search document approval field values based on search"
            }
        },
        "/v1/approval/columnSettings": {
            "post": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ApiDocListApprovalColumnSettings"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Approval Workflow"
                ],
                "description": "Returns column settings for approval workflow",
                "operationId": "ListDocumentsApprovalColumnsSettings",
                "summary": "Returns column settings for approval workflow",
                "x-ms-description": "Returns column settings for approval workflow",
                "x-ms-summary": "Returns column settings for approval workflow",
                "x-ms-visibility": "Internal"
            }
        },
        "/v1/approval/count": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiDocumentApprovalCountRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns document count",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Approval Workflow"
                ],
                "deprecated": true,
                "description": "Return number of documents waiting for approval",
                "operationId": "CountDocumentsForApproval",
                "summary": "Return number of documents waiting for approval",
                "x-ms-description": "Return number of documents waiting for approval",
                "x-ms-summary": "Return number of documents waiting for approval",
                "x-ms-visibility": "Internal"
            }
        },
        "/v1/approval/list": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiDocumentApprovalListRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns list of documents ready for approval",
                        "schema": {
                            "$ref": "#/definitions/ApiDocumentListRowApiListResult"
                        }
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Approval Workflow"
                ],
                "deprecated": true,
                "description": "List documents whhich are ready for approval",
                "operationId": "ListDocumentsForApproval",
                "summary": "List documents whhich are ready for approval",
                "x-ms-description": "List documents whhich are ready for approval",
                "x-ms-summary": "List documents whhich are ready for approval"
            }
        },
        "/v1/approval/{documentId}/approve": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentId",
                        "in": "path",
                        "name": "documentId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentId",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiApprovalRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document approved"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Approval Workflow"
                ],
                "description": "Approve document and move it to next approval step (if present)",
                "operationId": "ApproveDocument",
                "summary": "Approve document and move it to next approval step (if present)",
                "x-ms-description": "Approve document and move it to next approval step (if present)",
                "x-ms-summary": "Approve document and move it to next approval step (if present)"
            }
        },
        "/v1/approval/{documentId}/delegate/{toUserEmail}": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentId",
                        "in": "path",
                        "name": "documentId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentId",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "toUserEmail",
                        "in": "path",
                        "name": "toUserEmail",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "toUserEmail",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiApprovalRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document delegated"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Approval Workflow"
                ],
                "description": "Delegate document to be approved by someone else",
                "operationId": "DelegateDocument",
                "summary": "Delegate document to be approved by someone else",
                "x-ms-description": "Delegate document to be approved by someone else",
                "x-ms-summary": "Delegate document to be approved by someone else"
            }
        },
        "/v1/approval/{documentId}/reject": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentId",
                        "in": "path",
                        "name": "documentId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentId",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiApprovalRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Document rejected"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Approval Workflow"
                ],
                "description": "Reject document and stop the approval workflow",
                "operationId": "RejectDocument",
                "summary": "Reject document and stop the approval workflow",
                "x-ms-description": "Reject document and stop the approval workflow",
                "x-ms-summary": "Reject document and stop the approval workflow"
            }
        },
        "/v1/approval/{documentId}/workflow-data": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentId",
                        "in": "path",
                        "name": "documentId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentId",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiDocumentWorkflowData"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Approval Workflow"
                ],
                "description": "Get approval workflow history for given document",
                "operationId": "GetDocumentWorkflowData",
                "summary": "Get approval workflow history for given document",
                "x-ms-description": "Get approval workflow history for given document",
                "x-ms-summary": "Get approval workflow history for given document"
            }
        },
        "/v1/approval/{documentId}/workflow/restart": {
            "post": {
                "parameters": [
                    {
                        "description": "documentId",
                        "in": "path",
                        "name": "documentId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentId",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Approval Workflow"
                ],
                "description": "Restart document approval workflow from the beginning",
                "operationId": "RestartDocumentApprovalWorkflow",
                "summary": "Restart document approval workflow from the beginning",
                "x-ms-description": "Restart document approval workflow from the beginning",
                "x-ms-summary": "Restart document approval workflow from the beginning"
            }
        },
        "/v1/approval/{documentId}/workflow/start": {
            "post": {
                "parameters": [
                    {
                        "description": "documentId",
                        "in": "path",
                        "name": "documentId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentId",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Approval Workflow"
                ],
                "description": "Start document approval workflow",
                "operationId": "StartDocumentApprovalWorkflow",
                "summary": "Start document approval workflow",
                "x-ms-description": "Start document approval workflow",
                "x-ms-summary": "Start document approval workflow"
            }
        },
        "/v1/client-applications/client-application": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiCreateClientStore"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved ClientApplication configuration",
                        "schema": {
                            "$ref": "#/definitions/ApiClientApplicationConfigurationCreationResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "ClientApplications"
                ],
                "description": "Create client application configuration",
                "operationId": "CreateClientApplicationConfiguration",
                "summary": "Create client application configuration",
                "x-ms-description": "Create client application configuration",
                "x-ms-summary": "Create client application configuration"
            }
        },
        "/v1/client-applications/client-application/list": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiClientApplicationListRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved ClientApplications list",
                        "schema": {
                            "$ref": "#/definitions/ApiClientStoreApiListResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "ClientApplications"
                ],
                "description": "Get all client applications of the current tenant",
                "operationId": "GetClientApplications",
                "summary": "Get all client applications of the current tenant",
                "x-ms-description": "Get all client applications of the current tenant",
                "x-ms-summary": "Get all client applications of the current tenant"
            }
        },
        "/v1/client-applications/client-application/{clientApplicationId}": {
            "delete": {
                "parameters": [
                    {
                        "description": "clientApplicationId",
                        "in": "path",
                        "name": "clientApplicationId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "clientApplicationId",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "ClientApplications"
                ],
                "description": "Delete client application",
                "operationId": "DeleteClientApplication",
                "summary": "Delete client application",
                "x-ms-description": "Delete client application",
                "x-ms-summary": "Delete client application"
            },
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "clientApplicationId",
                        "in": "path",
                        "name": "clientApplicationId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "clientApplicationId",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved ClientApplication configuration",
                        "schema": {
                            "$ref": "#/definitions/ApiClientStore"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    },
                    "404": {
                        "description": "Client application was not found"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "ClientApplications"
                ],
                "description": "Get client application by its id",
                "operationId": "GetClientApplicationConfiguration",
                "summary": "Get client application by its id",
                "x-ms-description": "Get client application by its id",
                "x-ms-summary": "Get client application by its id"
            },
            "patch": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "clientApplicationId",
                        "in": "path",
                        "name": "clientApplicationId",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "clientApplicationId",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiClientStore"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved ClientApplication configuration"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    },
                    "404": {
                        "description": "Client application was not found"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "ClientApplications"
                ],
                "description": "Update client application",
                "operationId": "UpdateClientApplicationConfiguration",
                "summary": "Update client application",
                "x-ms-description": "Update client application",
                "x-ms-summary": "Update client application"
            }
        },
        "/v1/dashboards/generateData": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiGenerateDashboardRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiGenerateDashboardResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Dashboards"
                ],
                "description": "Generate dashboard data",
                "operationId": "GenerateData",
                "summary": "Generate dashboard data",
                "x-ms-description": "Generate dashboard data",
                "x-ms-summary": "Generate dashboard data"
            }
        },
        "/v1/document-types/active": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "culture",
                        "in": "query",
                        "name": "culture",
                        "type": "string",
                        "x-ms-summary": "culture"
                    },
                    {
                        "default": false,
                        "description": "includeNumberOfNewDocuments",
                        "in": "query",
                        "name": "includeNumberOfNewDocuments",
                        "type": "boolean",
                        "x-ms-summary": "includeNumberOfNewDocuments"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ApiDocumentTypeHeader"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Gets active document types for the tenant",
                "operationId": "GetActiveDocumentTypesAsync",
                "summary": "Gets active document types for the tenant",
                "x-ms-description": "Gets active document types for the tenant",
                "x-ms-summary": "Gets active document types for the tenant"
            }
        },
        "/v1/document-types/available": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "culture",
                        "in": "query",
                        "name": "culture",
                        "type": "string",
                        "x-ms-summary": "culture"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ApiDocumentTypeHeader"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Gets available document types for the tenant",
                "operationId": "GetAvailableDocumentTypesAsync",
                "summary": "Gets available document types for the tenant",
                "x-ms-description": "Gets available document types for the tenant",
                "x-ms-summary": "Gets available document types for the tenant"
            }
        },
        "/v1/document-types/common-conditional-fields/doctypes": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiGetCommonConditionalFieldNamesOfDocTypesRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Gets common conditional field names of listed docTypes",
                "operationId": "GetCommonConditionalFieldNamesOfDocTypes",
                "summary": "Gets common conditional field names of listed docTypes",
                "x-ms-description": "Gets common conditional field names of listed docTypes",
                "x-ms-summary": "Gets common conditional field names of listed docTypes"
            }
        },
        "/v1/document-types/localized": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "culture",
                        "in": "query",
                        "name": "culture",
                        "type": "string",
                        "x-ms-summary": "culture"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ApiDocTypeLocalized"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "deprecated": true,
                "description": "Gets localized document types",
                "operationId": "GetLocalizedDocumentTypesAsync",
                "summary": "Gets localized document types",
                "x-ms-description": "Gets localized document types",
                "x-ms-summary": "Gets localized document types"
            }
        },
        "/v1/document-types/localized/fields": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "culture",
                        "in": "query",
                        "name": "culture",
                        "type": "string",
                        "x-ms-summary": "culture"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ApiFieldDocTypeInfo"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Gets list of localized document fields in active document types",
                "operationId": "GetLocalizedFieldsOfActiveDocTypes",
                "summary": "Gets list of localized document fields in active document types",
                "x-ms-description": "Gets list of localized document fields in active document types",
                "x-ms-summary": "Gets list of localized document fields in active document types"
            }
        },
        "/v1/document-types/{documentType}": {
            "put": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiUpdateDocumentTypeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Update document type definition for specific tenant",
                "operationId": "UpdateDocumentType",
                "summary": "Update document type definition for specific tenant",
                "x-ms-description": "Update document type definition for specific tenant",
                "x-ms-summary": "Update document type definition for specific tenant"
            }
        },
        "/v1/document-types/{documentType}/active": {
            "patch": {
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "isActive",
                        "in": "query",
                        "name": "isActive",
                        "type": "boolean",
                        "x-ms-summary": "isActive"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Activate or deactivate document type for specific tenant",
                "operationId": "ActivateDocumentType",
                "summary": "Activate or deactivate document type for specific tenant",
                "x-ms-description": "Activate or deactivate document type for specific tenant",
                "x-ms-summary": "Activate or deactivate document type for specific tenant"
            }
        },
        "/v1/document-types/{documentType}/changeOrder": {
            "patch": {
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "orderChange",
                        "enum": [
                            "MoveUp",
                            "MoveDown"
                        ],
                        "in": "query",
                        "name": "orderChange",
                        "type": "string",
                        "x-ms-summary": "orderChange"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Change document types order",
                "operationId": "ChangeDocumentTypeOrder",
                "summary": "Change document types order",
                "x-ms-description": "Change document types order",
                "x-ms-summary": "Change document types order"
            }
        },
        "/v1/document-types/{documentType}/default": {
            "patch": {
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Sets the specific document type as default",
                "operationId": "SetDocumentTypeAsDefault",
                "summary": "Sets the specific document type as default",
                "x-ms-description": "Sets the specific document type as default",
                "x-ms-summary": "Sets the specific document type as default"
            }
        },
        "/v1/document-types/{documentType}/definition": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "culture",
                        "in": "query",
                        "name": "culture",
                        "type": "string",
                        "x-ms-summary": "culture"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiDocTypeLocalized"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Returns field definition for given document type",
                "operationId": "GetDocumentTypeDefinitionAsync",
                "summary": "Returns field definition for given document type",
                "x-ms-description": "Returns field definition for given document type",
                "x-ms-summary": "Returns field definition for given document type"
            }
        },
        "/v1/document-types/{documentType}/detail": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiDocTypeDetail"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Gets document type detail of document type\r\ndocumentType",
                "operationId": "GetDocumentTypeDetailAsync",
                "summary": "Gets document type detail of document type documentType",
                "x-ms-description": "Gets document type detail of document type\r\ndocumentType",
                "x-ms-summary": "Gets document type detail of document type\r\ndocumentType",
                "x-ms-visibility": "Internal"
            }
        },
        "/v1/document-types/{documentType}/email_participants": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ApiEmailParticipants"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Gets list of possible senders and recipients for documents based on document type",
                "operationId": "GetEmailParticipantsList",
                "summary": "Get email participants for document type",
                "x-ms-description": "Gets list of possible senders and recipients for documents based on document type",
                "x-ms-summary": "Gets list of possible senders and recipients for documents based on document type"
            }
        },
        "/v1/document-types/{documentType}/field": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiCreateFieldRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Create field",
                "operationId": "CreateField",
                "summary": "Create field",
                "x-ms-description": "Create field",
                "x-ms-summary": "Create field",
                "x-ms-visibility": "Internal"
            }
        },
        "/v1/document-types/{documentType}/field/{fieldName}/enum-values/{culture}": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "fieldName",
                        "in": "path",
                        "name": "fieldName",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "fieldName",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "culture",
                        "in": "path",
                        "name": "culture",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "culture",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ApiEnumKvp"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Gets all possible enums the field",
                "operationId": "GetEnumsOfField",
                "summary": "Gets all possible enums the field",
                "x-ms-description": "Gets all possible enums the field",
                "x-ms-summary": "Gets all possible enums the field"
            }
        },
        "/v1/document-types/{documentType}/field/{fieldName}/search-values": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "fieldName",
                        "in": "path",
                        "name": "fieldName",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "fieldName",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "query",
                        "in": "query",
                        "name": "query",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "query"
                    },
                    {
                        "description": "skip",
                        "format": "int32",
                        "in": "query",
                        "name": "skip",
                        "required": true,
                        "type": "integer",
                        "x-ms-summary": "skip"
                    },
                    {
                        "description": "take",
                        "format": "int32",
                        "in": "query",
                        "name": "take",
                        "required": true,
                        "type": "integer",
                        "x-ms-summary": "take"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Search document field values based on document type",
                "operationId": "SearchDocumentFieldValuesAsync",
                "summary": "Search document field values based on document type",
                "x-ms-description": "Search document field values based on document type",
                "x-ms-summary": "Search document field values based on document type"
            }
        },
        "/v1/document-types/{documentType}/field/{field}": {
            "delete": {
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "field",
                        "in": "path",
                        "name": "field",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "field",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Delete field",
                "operationId": "DeleteField",
                "summary": "Delete field",
                "x-ms-description": "Delete field",
                "x-ms-summary": "Delete field",
                "x-ms-visibility": "Internal"
            },
            "put": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "field",
                        "in": "path",
                        "name": "field",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "field",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiUpdateFieldRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Update field",
                "operationId": "UpdateField",
                "summary": "Update field",
                "x-ms-description": "Update field",
                "x-ms-summary": "Update field",
                "x-ms-visibility": "Internal"
            }
        },
        "/v1/document-types/{documentType}/fields": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ApiFieldDefinition"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Get document type fields",
                "operationId": "GetDocumentTypeFields",
                "summary": "Get document type fields",
                "x-ms-description": "Get document type fields",
                "x-ms-summary": "Get document type fields",
                "x-ms-visibility": "Internal"
            }
        },
        "/v1/document-types/{documentType}/fields/enum-values/{culture}": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "documentType",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "culture",
                        "in": "path",
                        "name": "culture",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "culture",
                        "x-ms-url-encoding": "single"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ApiEnumFieldValues"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Gets all possible enum values for fields",
                "operationId": "GetEnumFieldsValues",
                "summary": "Gets all possible enum values for fields",
                "x-ms-description": "Gets all possible enum values for fields",
                "x-ms-summary": "Gets all possible enum values for fields"
            }
        },
        "/v1/document-types/{documentType}/frontendExportTypes": {
            "get": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Model",
                        "in": "path",
                        "name": "documentType",
                        "required": true,
                        "type": "string",
                        "x-ms-summary": "Model",
                        "x-ms-url-encoding": "single"
                    },
                    {
                        "description": "isBulkExport",
                        "in": "query",
                        "name": "isBulkExport",
                        "required": true,
                        "type": "boolean",
                        "x-ms-summary": "isBulkExport"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/ExportFormatApiListResult"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "DocumentTypes"
                ],
                "description": "Get supported export formats for frontend for certain document type",
                "operationId": "GetSupportedExportFormats",
                "summary": "Get supported export formats for frontend for certain document type",
                "x-ms-description": "Get supported export formats for frontend for certain document type",
                "x-ms-summary": "Get supported export formats for frontend for certain document type"
            }
        },
        "/v1/documents": {
            "post": {
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Binary file",
                        "format": "binary",
                        "in": "formData",
                        "name": "File",
                        "type": "string",
                        "x-ms-summary": "Binary file"
                    },
                    {
                        "description": "External document id",
                        "in": "formData",
                        "name": "DocumentId",
                        "type": "string",
                        "x-ms-summary": "External document id"
                    },
                    {
                        "description": "Date",
                        "format": "date-time",
                        "in": "formData",
                        "name": "Date",
                        "type": "string",
                        "x-ms-summary": "Date"
                    },
                    {
                        "description": "Order used for keeping order of documents which are uploaded in parallel",
                        "format": "int32",
                        "in": "formData",
                        "name": "Ordinal",
                        "type": "integer",
                        "x-ms-summary": "Order used for keeping order of documents which are uploaded in parallel"
                    },
                    {
                        "description": "Document type",
                        "in": "formData",
                        "name": "DocumentClass",
                        "type": "string",
                        "x-ms-summary": "Document type"
                    },
                    {
                        "description": "Source of document",
                        "enum": [
                            "WebApp",
                            "Mail",
                            "API"
                        ],
                        "in": "formData",
                        "name": "Source",
                        "type": "string",
                        "x-ms-summary": "Source of document"
                    },
                    {
                        "description": "Assign document to specific accounting unit",
                        "in": "formData",
                        "name": "AccountingUnitId",
                        "type": "string",
                        "x-ms-summary": "Assign document to specific accounting unit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Uploads document",
                        "schema": {
                            "$ref": "#/definitions/ApiUploadResponse"
                        }
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to access this resource"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "description": "Upload the document and start extraction",
                "operationId": "UploadDocumentAsync",
                "summary": "Upload the document and start extraction",
                "x-ms-description": "Upload the document and start extraction",
                "x-ms-summary": "Upload the document and start extraction",
                "x-ms-visibility": "Important"
            }
        },
        "/v1/documents/approve": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "description": "Approve multiple documents at once",
                "operationId": "ApproveDocuments",
                "summary": "Approve multiple documents at once",
                "x-ms-description": "Approve multiple documents at once",
                "x-ms-summary": "Approve multiple documents at once"
            }
        },
        "/v1/documents/change-document-type": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "documentType",
                        "in": "query",
                        "name": "documentType",
                        "type": "string",
                        "x-ms-summary": "documentType"
                    },
                    {
                        "description": "",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "description": "Changes the document class for documents",
                "operationId": "ChangeDocumentTypeOfDocuments",
                "summary": "Changes the document class for documents",
                "x-ms-description": "Changes the document class for documents",
                "x-ms-summary": "Changes the document class for documents"
            }
        },
        "/v1/documents/count": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiDocumentCountRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns document count",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "description": "Count documents which match specified criteria",
                "operationId": "CountDocuments",
                "summary": "Count documents which match specified criteria",
                "x-ms-description": "Count documents which match specified criteria",
                "x-ms-summary": "Count documents which match specified criteria",
                "x-ms-visibility": "Internal"
            }
        },
        "/v1/documents/count/extracting": {
            "post": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Returns document count",
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "deprecated": true,
                "description": "Return number of documents being currently extracted",
                "operationId": "CountExtractingDocuments",
                "summary": "Return number of documents being currently extracted",
                "x-ms-description": "Return number of documents being currently extracted",
                "x-ms-summary": "Return number of documents being currently extracted",
                "x-ms-visibility": "Internal"
            }
        },
        "/v1/documents/counts": {
            "post": {
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Returns document count",
                        "schema": {
                            "$ref": "#/definitions/ApiDocumentCounts"
                        }
                    },
                    "401": {
                        "description": "No or invalid API key used"
                    },
                    "403": {
                        "description": "You don't have permission to acces this resource"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "description": "Returns document count statistics grouped by status and type.\r\nIncludes counts for extracting documents, documents for approval,\r\nand active documents broken down by document type",
                "operationId": "GetDocumentCounts",
                "summary": "Get document count statistics by status and type",
                "x-ms-description": "Returns document count statistics grouped by status and type.\r\nIncludes counts for extracting documents, documents for approval,\r\nand active documents broken down by document type",
                "x-ms-summary": "Returns document count statistics grouped by status and type.\r\nIncludes counts for extracting documents, documents for approval,\r\nand active documents broken down by document type",
                "x-ms-visibility": "Internal"
            }
        },
        "/v1/documents/delete": {
            "delete": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "description": "Delete documents",
                "operationId": "DeleteDocuments",
                "summary": "Delete documents",
                "x-ms-description": "Delete documents",
                "x-ms-summary": "Delete documents"
            }
        },
        "/v1/documents/documents-enums": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiGetDocumentsEnumsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ApiDocumentEnumDefinition"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "description": "Gets enums of documents for each enum field based on accounting unit",
                "operationId": "GetDocumentsEnums",
                "summary": "Gets enums of documents for each enum field based on accounting unit",
                "x-ms-description": "Gets enums of documents for each enum field based on accounting unit",
                "x-ms-summary": "Gets enums of documents for each enum field based on accounting unit"
            }
        },
        "/v1/documents/documents-enums-by-accounting-unit-id": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "text/plain",
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiGetDocumentEnumsByDocTypeAndAccountingUnitRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ApiDocumentEnum"
                            },
                            "type": "array"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "description": "Gets enums of custom fields based on document class and accounting unit",
                "operationId": "GetDocumentsEnumsByDocTypeAndAccountingUnit",
                "summary": "Gets enums of custom fields based on document class and accounting unit",
                "x-ms-description": "Gets enums of custom fields based on document class and accounting unit",
                "x-ms-summary": "Gets enums of custom fields based on document class and accounting unit"
            }
        },
        "/v1/documents/export": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Model",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "$ref": "#/definitions/ApiExportDocumentRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "description": "Trigger the document for export",
                "operationId": "TriggerDocumentExport",
                "summary": "Trigger the document for export",
                "x-ms-description": "Trigger the document for export",
                "x-ms-summary": "Trigger the document for export"
            }
        },
        "/v1/documents/export/list": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "description": "Model",
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "oauth2Public": []
                    }
                ],
                "tags": [
                    "Documents"
                ],
                "description": "Trigger the documents for export",
                "operationId": "TriggerDocumentsExport",
                "summary": "Trigger the documents for export",
[...]
