{
  "swagger": "2.0",
  "info": {
    "title": "connpass",
    "description": "Using the connpass, you can search and collect information about IT workshops and events.",
    "version": "1.0",
    "contact": {
      "name": "Miyake Hideo",
      "email": "h.miyake@hotmail.com"
    }
  },
  "host": "connpass.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v1/event/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Output start position of search results",
                  "title": "Start position of search"
                },
                "results_returned": {
                  "type": "integer",
                  "format": "int32",
                  "description": "How many results were output from the search results",
                  "title": "Number Of Results"
                },
                "results_available": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of output data for search results",
                  "title": "Maximum number"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "event_Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Event Id",
                        "title": "Event Id"
                      },
                      "title": {
                        "type": "string",
                        "description": "Event title",
                        "title": "Title"
                      },
                      "catch": {
                        "type": "string",
                        "description": "Event catchphrase",
                        "title": "Catchphrase"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description (HTML format)",
                        "title": "Description"
                      },
                      "event_url": {
                        "type": "string",
                        "description": "URL at connpass.com",
                        "title": "URL"
                      },
                      "started_at": {
                        "type": "string",
                        "description": "Event start date and time",
                        "title": "Start"
                      },
                      "ended_at": {
                        "type": "string",
                        "description": "Event end date and time",
                        "title": "End"
                      },
                      "limit": {
                        "type": "integer",
                        "description": "Capacity of event",
                        "title": "Capacity",
                        "format": "int32"
                      },
                      "hash_tag": {
                        "type": "string",
                        "description": "Hashtag on Twitter",
                        "title": "Hashtags"
                      },
                      "event_type": {
                        "type": "string",
                        "description": "Event Participation Type (Participation or Advertisement)",
                        "title": "Event Type"
                      },
                      "accepted": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of participants",
                        "title": "Participating Users"
                      },
                      "waiting": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of Waiting",
                        "title": "Waiting Users"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "Last update date and time",
                        "title": "Update date"
                      },
                      "owner_Id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Owner's Id",
                        "title": "Admin Id"
                      },
                      "owner_nickname": {
                        "type": "string",
                        "description": "Owner's nickname",
                        "title": "Admin Nickname"
                      },
                      "owner_display_name": {
                        "type": "string",
                        "description": "Owner's display name",
                        "title": "Admin display name"
                      },
                      "place": {
                        "type": "string",
                        "description": "Place of the venue",
                        "title": "Place"
                      },
                      "address": {
                        "type": "string",
                        "description": "Address of the venue",
                        "title": "Address"
                      },
                      "lat": {
                        "type": "string",
                        "description": "Latitude of the venue",
                        "title": "Latitude"
                      },
                      "lon": {
                        "type": "string",
                        "description": "Longitude of the venue",
                        "title": "Longitude"
                      },
                      "series": {
                        "type": "object",
                        "properties": {
                          "Id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Id of the Hosting Group",
                            "title": "Group Id"
                          },
                          "title": {
                            "type": "string",
                            "description": "Name of the Hosting Group",
                            "title": "Group name"
                          },
                          "url": {
                            "type": "string",
                            "description": "URL of the Hosting Group at connpass.com",
                            "title": "Group URL"
                          }
                        },
                        "description": "Group"
                      }
                    }
                  },
                  "description": "Events"
                }
              }
            }
          }
        },
        "summary": "Search Events",
        "operationId": "SearchEvent",
        "description": "You can obtain a list of events according to the conditions of your search query.",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search for event title, catch, summary, and address with AND condition partial match.",
            "x-ms-summary": "Keyword (AND)"
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search by the number assigned to each event. More than one can be specified.",
            "x-ms-summary": "Event_Id",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "keyword_or",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search for title, catch, summary, and address with OR condition partial match.",
            "x-ms-summary": "Keyword (OR)"
          },
          {
            "name": "ym",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Searches for events held in the specified year and month.",
            "x-ms-summary": "Event Date (ym)"
          },
          {
            "name": "ymd",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Searches for events held on the specified date and time.",
            "x-ms-summary": "Event Date (ymd)"
          },
          {
            "name": "nickname",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Participant's Nickname",
            "description": "Searches for events in which the user."
          },
          {
            "name": "owner_nickname",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Admin's Nickname",
            "description": "Searches for events managed by a user."
          },
          {
            "name": "series_id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Group Id",
            "description": "Search for events associated with a Id of the Hosting Group."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Search start position",
            "description": "Specifies the number of search results to be output from.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Display order of search results",
            "description": "Specify the order in which search results are displayed, in order of last modified, first held, or newest.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Number of pieces acquired",
            "description": "Maximum number of output data for search results. Maximum 100.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://connpass.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://connpass.com/term/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}