{
  "swagger": "2.0",
  "info": {
    "title": "connpass",
    "description": "Using the connpass API, you can search and collect information about IT workshops and events.",
    "version": "1.0",
    "contact": {
      "name": "Miyake Hideo",
      "email": "h.miyake@hotmail.com"
    }
  },
  "host": "connpass.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v1/event/": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results_start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "results_start",
                  "title": "Search start position"
                },
                "results_returned": {
                  "type": "integer",
                  "format": "int32",
                  "description": "results_returned",
                  "title": "Number of search results included"
                },
                "results_available": {
                  "type": "integer",
                  "format": "int32",
                  "description": "results_available",
                  "title": "Total number of results"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "event_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "event_id",
                        "title": "Event ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "title",
                        "title": "Event title"
                      },
                      "catch": {
                        "type": "string",
                        "description": "catch",
                        "title": "Catching"
                      },
                      "description": {
                        "type": "string",
                        "description": "description",
                        "title": "Overview (HTML format)"
                      },
                      "event_url": {
                        "type": "string",
                        "description": "event_url",
                        "title": "Event URL"
                      },
                      "started_at": {
                        "type": "string",
                        "description": "started_at",
                        "title": "Event Start date"
                      },
                      "ended_at": {
                        "type": "string",
                        "description": "ended_at",
                        "title": "Event end date"
                      },
                      "limit": {
                        "type": "integer",
                        "description": "limit",
                        "title": "Capacity",
                        "format": "int32"
                      },
                      "hash_tag": {
                        "type": "string",
                        "description": "hash_tag",
                        "title": "Twitter hashtag"
                      },
                      "event_type": {
                        "type": "string",
                        "description": "event_type",
                        "title": "Event Participation Type"
                      },
                      "accepted": {
                        "type": "integer",
                        "format": "int32",
                        "description": "accepted",
                        "title": "Number of participants"
                      },
                      "waiting": {
                        "type": "integer",
                        "format": "int32",
                        "description": "waiting",
                        "title": "Number of alternates"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "updated_at",
                        "title": "Update date"
                      },
                      "owner_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "owner_id",
                        "title": "Admin ID"
                      },
                      "owner_nickname": {
                        "type": "string",
                        "description": "owner_nickname",
                        "title": "Admin Nickname"
                      },
                      "owner_display_name": {
                        "type": "string",
                        "description": "owner_display_name",
                        "title": "Admin display name"
                      },
                      "place": {
                        "type": "string",
                        "description": "place",
                        "title": "Place of the event"
                      },
                      "address": {
                        "type": "string",
                        "description": "address",
                        "title": "Location"
                      },
                      "lat": {
                        "type": "string",
                        "description": "lat",
                        "title": "Latitude of the venue"
                      },
                      "lon": {
                        "type": "string",
                        "description": "lon",
                        "title": "Longitude of the venue"
                      },
                      "series": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "description": "id",
                            "title": "Group ID"
                          },
                          "title": {
                            "type": "string",
                            "description": "title",
                            "title": "Group title"
                          },
                          "url": {
                            "type": "string",
                            "description": "url",
                            "title": "Group URL"
                          }
                        },
                        "description": "series"
                      }
                    }
                  },
                  "description": "events"
                }
              }
            }
          }
        },
        "summary": "Get_event",
        "operationId": "Get_event",
        "description": "You can obtain a list of events according to the conditions of your search query.",
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search for event title, catch, summary, and address with AND condition partial match.",
            "x-ms-summary": "keyword (AND)"
          },
          {
            "name": "event_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search by the number assigned to each event. More than one can be specified.",
            "x-ms-summary": "event_id",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "keyword_or",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Search for title, catch, summary, and address with OR condition partial match.",
            "x-ms-summary": "keyword (OR)"
          },
          {
            "name": "ym",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Searches for events held in the specified year and month.",
            "x-ms-summary": "Event Date (ym)"
          },
          {
            "name": "ymd",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Searches for events held on the specified date and time.",
            "x-ms-summary": "Event Date (ymd)"
          },
          {
            "name": "nickname",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Participant's nickname",
            "description": "Searches for events in which the user."
          },
          {
            "name": "owner_nickname",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Admin's nickname",
            "description": "Searches for events managed by a user."
          },
          {
            "name": "series_id",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Group ID",
            "description": "Search for events associated with a group ID."
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Search start position",
            "description": "Specifies the number of search results to be output from.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Display order of search results",
            "description": "Specify the order in which search results are displayed, in order of last modified, first held, or newest.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Number of pieces acquired",
            "description": "Maximum number of output data for search results. Maximum 100.",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "format",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://connpass.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://connpass.com/term/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}