{
  "swagger": "2.0",
  "info": {
    "title": "Zoho ZeptoMail",
    "description": "ZeptoMail is a transactional email sending service from Zoho. You can directly send these automated emails from your application or website.",
    "version": "1.0",
    "contact": {
      "name": "Zoho ZeptoMail",
      "email": "zmintegration@zohomail.com",
      "url": "https://www.zoho.com/zeptomail/contact.html?src=pd-menu"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    },
    "x-ms-keywords": [
      "transactional email",
      "application email",
      "automated email",
      "zoho zeptomail",
      "zeptomail",
      "mail",
      "mailagents",
      "mailagent",
      "mailagentkey",
      "mailstatistics",
      "processed email",
      "mail logs",
      "mail statistics"
    ]
  },
  "host": "zeptomail.zoho.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/portal/v1.0/mailagents": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "mailagent_name": {
                        "type": "string",
                        "description": "Name of the Mail Agent",
                        "x-ms-summary": "Mail Agent name"
                      },
                      "created_time": {
                        "type": "string",
                        "x-ms-summary": "Created time",
                        "description": "Time when the Mail Agent was created"
                      },
                      "domain": {
                        "type": "string",
                        "description": "Domain associated to the Mail Agents",
                        "x-ms-summary": "Domain"
                      },
                      "domain-verification-status": {
                        "type": "string",
                        "x-ms-summary": "Domain verification status",
                        "description": "Verification status of the associated Mail Agents"
                      },
                      "description": {
                        "type": "string",
                        "x-ms-summary": "Description",
                        "description": "Mail Agent description"
                      },
                      "mailagent_key": {
                        "type": "string",
                        "description": "Key of the Mail Agent",
                        "x-ms-summary": "Mail Agent key"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status of the Mail Agent",
                        "x-ms-summary": "Status"
                      }
                    }
                  },
                  "description": "data",
                  "minLength": 1
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          }
        },
        "summary": "Get all Mail Agent",
        "description": "This endpoint fetches details of all the Mail Agents in the account. It returns data including Mail Agent name, Mail Agent key, Created time, Status.  \\n\\nData Fields Explained:\\n- mailagent_name: Name of the Mail Agent.\\n- mailagent_key: Mail Agent Key.\\n- mailagent_alias: Mail Agent Alias.\\n- created_time: Time at which the Mail Agent was created.\\n- status: Status of the Mail Agent.\\n\\nExample 1: To retrieve details of all Mail Agents in the ZeptoMail account. Sample prompt 1: Get me details of all the Mail Agents in the account.",
        "operationId": "GetMailAgent",
        "parameters": [],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetMailAgent",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/portal/v1.0/mailagents/{mailagent_key}/bounce-address": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bounce_address": {
                        "type": "string",
                        "description": "Bounce address"
                      },
                      "is_default": {
                        "type": "boolean",
                        "description": "Is default"
                      }
                    }
                  },
                  "description": "data"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          }
        },
        "summary": "Get bounce address",
        "description": "List all the bounce addresses associated with your Mail Agent",
        "x-ms-visibility": "internal",
        "operationId": "GetBounceAddress",
        "parameters": [
          {
            "name": "mailagent_key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Mail Agents in your ZeptoMail account.",
            "x-ms-summary": "Mail Agent key",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetBounceAddress",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/v1.0/email": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email_info": {
                            "type": "object",
                            "properties": {
                              "is_smtp_trigger": {
                                "type": "boolean",
                                "description": "Is mail is trigger by SMTP",
                                "x-ms-summary": "Is SMTP"
                              },
                              "subject": {
                                "type": "string",
                                "description": "subject of the mail",
                                "x-ms-summary": "Subject"
                              },
                              "bounce_address": {
                                "type": "string",
                                "description": "bounce address of the email",
                                "x-ms-summary": "Bounce address"
                              },
                              "mailagent_key": {
                                "type": "string",
                                "description": "mail agent key of the email",
                                "x-ms-summary": "Mailagent Key"
                              },
                              "process_state": {
                                "type": "string",
                                "description": "Processed state of the email",
                                "x-ms-summary": "Process state"
                              },
                              "from": {
                                "type": "object",
                                "properties": {
                                  "address": {
                                    "type": "string",
                                    "description": "email address of sender details",
                                    "x-ms-summary": "Address"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name of the sender",
                                    "x-ms-summary": "Name"
                                  }
                                },
                                "description": "Sender address details",
                                "x-ms-summary": "From"
                              },
                              "to": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "email_address": {
                                      "type": "object",
                                      "properties": {
                                        "address": {
                                          "type": "string",
                                          "description": "Email address of the recipients",
                                          "x-ms-summary": "Address"
                                        },
                                        "name": {
                                          "type": "string",
                                          "description": "Name of the recipients",
                                          "x-ms-summary": "Name"
                                        }
                                      }
                                    }
                                  }
                                },
                                "description": "Recipient email",
                                "x-ms-summary": "To"
                              },
                              "processed_time": {
                                "type": "string",
                                "description": "Processed time of the mail",
                                "x-ms-summary": "Sent time"
                              },
                              "status": {
                                "type": "string",
                                "description": "Status of the processed mail",
                                "x-ms-summary": "Delivery status"
                              }
                            }
                          },
                          "request_id": {
                            "type": "string",
                            "description": "Unique reference ID of the request",
                            "x-ms-summary": "Request ID"
                          }
                        }
                      },
                      "description": "Processed email list"
                    }
                  },
                  "description": "data"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "535": {
            "description": "Unauthorized"
          }
        },
        "summary": "Get processed email details",
        "operationId": "Get_Processed_Emails",
        "description": "This endpoint fetches detailed information about emails processed by Mail Agent identified by its unique ID. It returns data including the Subject, From Address, Sent time and Request ID for emails sent for the time range. The mailagent_key parameter should match the  Mail Agent key of the Mail Agent as listed in our system.",
        "parameters": [
          {
            "name": "mailagent_key",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Choose Mail Agent or enter the Mail Agent key.",
            "x-ms-summary": "Mail Agent key",
            "x-ms-dynamic-list": {
              "operationId": "GetMailAgent",
              "itemValuePath": "mailagent_key",
              "itemsPath": "data",
              "itemTitlePath": "mailagent_name"
            }
          },
          {
            "name": "subject",
            "x-ms-summary": "Subject",
            "description": "Enter subject of the email",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "x-ms-summary": "From",
            "description": "Enter sender address of the email",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To",
            "description": "Enter recipient address of the email",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_from",
            "x-ms-summary": "Date from",
            "description": "Enter from date for search in the format yyyy-MM-ddTHH:mm:sszzz",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "date_to",
            "x-ms-summary": "Date to",
            "description": "Enter to date for search in the format yyyy-MM-ddTHH:mm:sszzz",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request_id",
            "x-ms-summary": "Request ID",
            "description": "Enter Request ID of the email",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "is_hb",
            "x-ms-summary": "Show hardbounces",
            "description": "Include hardbounces in results",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "is_sb",
            "x-ms-summary": "Show softbounces",
            "description": "Include softbounces in results",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Get_Processed_Emails",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            }
          },
          "400": {
            "description": "BAD REQUEST"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "535": {
            "description": "Unauthorized"
          },
          "552": {
            "description": "Sending email from Invalid 'from' address domain."
          },
          "553": {
            "description": "Virus detected in eml file."
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Send mail",
        "description": "To send an email to the desired recipient.",
        "operationId": "SendMail",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mailagent_key": {
                  "type": "string",
                  "description": "Choose Mail Agent or enter the Mail Agent key.",
                  "x-ms-summary": "Mail Agent",
                  "x-ms-dynamic-list": {
                    "operationId": "GetMailAgent",
                    "itemValuePath": "mailagent_key",
                    "itemsPath": "data",
                    "itemTitlePath": "mailagent_name"
                  }
                },
                "bounce_address": {
                  "type": "string",
                  "description": "The email address to which bounced emails will be sent.",
                  "x-ms-summary": "Bounce address",
                  "x-ms-dynamic-list": {
                    "operationId": "GetBounceAddress",
                    "itemValuePath": "bounce_address",
                    "itemTitlePath": "bounce_address",
                    "itemsPath": "data",
                    "parameters": {
                      "mailagent_key": {
                        "parameterReference": "body/mailagent_key"
                      }
                    }
                  }
                },
                "from": {
                  "$ref": "#/definitions/FromAddress"
                },
                "to": {
                  "type": "array",
                  "description": "Recipient email address.",
                  "x-ms-summary": "To",
                  "items": {
                    "$ref": "#/definitions/EmailAddressItems"
                  },
                  "minItems": 1
                },
                "cc": {
                  "type": "array",
                  "description": "Email addresses of cc'd recipients.",
                  "x-ms-summary": "CC",
                  "items": {
                    "$ref": "#/definitions/EmailAddressItems"
                  },
                  "x-ms-visibility": "advanced"
                },
                "bcc": {
                  "type": "array",
                  "description": "Email addresses of bcc'd recipients.",
                  "x-ms-summary": "BCC",
                  "items": {
                    "$ref": "#/definitions/EmailAddressItems"
                  },
                  "x-ms-visibility": "advanced"
                },
                "mailtype": {
                  "type": "string",
                  "description": "Format of the mail to be sent",
                  "x-ms-summary": "Mail type",
                  "default": "html",
                  "enum": [
                    "html",
                    "text"
                  ]
                },
                "subject": {
                  "type": "string",
                  "description": "Subject line of your email",
                  "x-ms-summary": "Subject"
                },
                "htmlbody": {
                  "type": "string",
                  "description": "This is the body content for your email.",
                  "x-ms-summary": "Body"
                },
                "reply_to": {
                  "type": "array",
                  "description": "The email address to which the recipient's email responses will be addressed.",
                  "x-ms-summary": "Reply to",
                  "items": {
                    "$ref": "#/definitions/ReplyToAddresss"
                  },
                  "x-ms-visibility": "advanced"
                },
                "attachments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": " Base64 encoded value of a file.",
                        "x-ms-summary": "Base 64 content"
                      },
                      "mime_type": {
                        "type": "string",
                        "description": "Indicates the content type in your attachment. ",
                        "x-ms-summary": "Content type"
                      },
                      "name": {
                        "type": "string",
                        "description": "The file name of your attachment.",
                        "x-ms-summary": "File name"
                      }
                    }
                  },
                  "description": "Attachments",
                  "x-ms-summary": "Attachments",
                  "x-ms-visibility": "advanced",
                  "maxItems": 10
                }
              },
              "required": [
                "mailagent_key",
                "bounce_address",
                "from",
                "to",
                "subject"
              ]
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "SendMail",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/v1.0/email/template": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SuccessMessage"
            }
          },
          "400": {
            "description": "BAD REQUEST"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "535": {
            "description": "Unauthorized"
          },
          "552": {
            "description": "Sending email from Invalid 'from' address domain."
          },
          "553": {
            "description": "Virus detected in eml file."
          },
          "default": {
            "description": "Operation Failed."
          }
        },
        "summary": "Send template mail",
        "description": "Sending a single email using Templates.",
        "operationId": "SendTemplateMail",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mailagent_key": {
                  "type": "string",
                  "description": "Choose Mail Agent or enter the Mail Agent key.",
                  "x-ms-summary": "Mail Agent",
                  "x-ms-dynamic-list": {
                    "operationId": "GetMailAgent",
                    "itemValuePath": "mailagent_key",
                    "itemsPath": "data",
                    "itemTitlePath": "mailagent_name"
                  }
                },
                "bounce_address": {
                  "type": "string",
                  "description": "the email address to which bounced emails will be sent.",
                  "x-ms-summary": "Bounce address",
                  "x-ms-dynamic-list": {
                    "operationId": "GetBounceAddress",
                    "itemValuePath": "bounce_address",
                    "itemTitlePath": "bounce_address",
                    "itemsPath": "data",
                    "parameters": {
                      "mailagent_key": {
                        "parameterReference": "body/mailagent_key"
                      }
                    }
                  }
                },
                "mail_template_key": {
                  "type": "string",
                  "description": "Choose the Mail template",
                  "x-ms-summary": "Mail template",
                  "x-ms-dynamic-list": {
                    "operationId": "GetMailTemplate",
                    "itemValuePath": "template_key",
                    "itemTitlePath": "template_name",
                    "itemsPath": "mail_templates",
                    "parameters": {
                      "mailagent_key": {
                        "parameterReference": "body/mailagent_key"
                      }
                    }
                  }
                },
                "from": {
                  "$ref": "#/definitions/FromAddress"
                },
                "to": {
                  "type": "array",
                  "description": "Recipient email address.",
                  "x-ms-summary": "To",
                  "items": {
                    "$ref": "#/definitions/EmailAddressItems"
                  },
                  "minItems": 1
                },
                "cc": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/EmailAddressItems"
                  },
                  "description": "Email addresses of cc'd recipients.",
                  "x-ms-summary": "CC",
                  "x-ms-visibility": "advanced"
                },
                "bcc": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/EmailAddressItems"
                  },
                  "description": "Email addresses of bcc'd recipients.",
                  "x-ms-summary": "BCC",
                  "x-ms-visibility": "advanced"
                },
                "merge_key_detail": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "string"
                    },
                    "properties": {
                      "key": {
                        "type": "string",
                        "description": "The merge tags of the mail to be sent.",
                        "x-ms-summary": "tag"
                      },
                      "value": {
                        "type": "string",
                        "description": "These tags will be replaced by the value provided in this param for that tag",
                        "x-ms-summary": "value"
                      }
                    }
                  },
                  "description": "You can use merge tags to replace the placeholders with multiple values for different recipients. ",
                  "x-ms-summary": "Merge Info"
                },
                "reply_to": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReplyToAddresss"
                  },
                  "description": "Reply To",
                  "x-ms-summary": "Reply To",
                  "x-ms-visibility": "advanced"
                }
              },
              "required": [
                "mailagent_key",
                "bounce_address",
                "mail_template_key",
                "from"
              ]
            }
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "SendTemplateMail",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/portal/v1.0/mailagents/{mailagent_key}/template": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "message"
                },
                "mail_templates": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "upload_time": {
                        "type": "string",
                        "description": "Upload time"
                      },
                      "template_name": {
                        "type": "string",
                        "description": "Template name"
                      },
                      "template_key": {
                        "type": "string",
                        "description": "Template key"
                      },
                      "template_size": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Template size"
                      },
                      "modified_time": {
                        "type": "string",
                        "description": "Modified time"
                      },
                      "subject": {
                        "type": "string",
                        "description": "subject"
                      }
                    }
                  },
                  "description": "Mail templates"
                }
              }
            }
          }
        },
        "summary": "Get mail template",
        "description": "List all templates in your Mail Agent.",
        "operationId": "GetMailTemplate",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "mailagent_key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The Mail Agents in your ZeptoMail account.",
            "x-ms-summary": "Mail Agents",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetMailTemplate",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/portal/v1.0/domains/mailagents/{mailagent_key}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "domain_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain id"
                      },
                      "associated_mailagents": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Associated mail agents"
                      },
                      "domain_name": {
                        "type": "string",
                        "description": "domain_name"
                      },
                      "domain_verified_via_domain_connect": {
                        "type": "boolean",
                        "description": "Domain verified via domain connect"
                      },
                      "record_status": {
                        "type": "object",
                        "properties": {
                          "cname_status": {
                            "type": "string",
                            "description": "CName status"
                          },
                          "dkim_status": {
                            "type": "string",
                            "description": "DKIM status"
                          },
                          "hosting_status": {
                            "type": "string",
                            "description": "Hosting status"
                          },
                          "cname_verified_time": {
                            "type": "string",
                            "description": "CName verified time"
                          },
                          "dkim_verified_time": {
                            "type": "string",
                            "description": "DKIM verified time"
                          },
                          "mx_status": {
                            "type": "string",
                            "description": "MX status"
                          },
                          "spf_verified_time": {
                            "type": "string",
                            "description": "SPF verified time"
                          },
                          "spf_status": {
                            "type": "string",
                            "description": "SPF status"
                          }
                        },
                        "description": "Record status"
                      },
                      "dns_records": {
                        "type": "object",
                        "properties": {
                          "mx_records": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "mx_address": {
                                  "type": "string",
                                  "description": "MX address"
                                },
                                "mx_priority": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "MX priority"
                                }
                              }
                            },
                            "description": "MX records"
                          },
                          "spf_record": {
                            "type": "object",
                            "properties": {
                              "spf_record_value": {
                                "type": "string",
                                "description": "SPF record value"
                              },
                              "spf_record_to_be_display": {
                                "type": "string",
                                "description": "SPF record to be display"
                              }
                            },
                            "description": "spf_record"
                          },
                          "dkim_public_key": {
                            "type": "string",
                            "description": "DKIM public key"
                          },
                          "cname_record": {
                            "type": "string",
                            "description": "CName record"
                          },
                          "dkim_host": {
                            "type": "string",
                            "description": "DKIM host"
                          },
                          "dkim_selector": {
                            "type": "integer",
                            "format": "int32",
                            "description": "DKIM selector"
                          }
                        },
                        "description": "DNS records"
                      },
                      "sub_domain": {
                        "type": "string",
                        "description": "sub_domain"
                      },
                      "domain_unverify_deadline": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Domain unverify deadline"
                      }
                    }
                  },
                  "description": "data"
                },
                "message": {
                  "type": "string",
                  "description": "message"
                }
              }
            }
          }
        },
        "summary": "Get mail domain",
        "description": "get mail domain",
        "operationId": "GetMailDomain",
        "parameters": [
          {
            "name": "mailagent_key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "mail agent key",
            "x-ms-summary": "mail agent key",
            "x-ms-url-encoding": "single"
          }
        ],
        "x-ms-visibility": "internal",
        "x-ms-openai-data": {
          "openai-enabled": false,
          "operations": [
            {
              "operationId": "GetMailDomain",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/v1.0/stats/email": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "hb": {
                  "type": "object",
                  "x-ms-summary": "Hardbounce",
                  "properties": {
                    "stats": {
                      "type": "array",
                      "x-ms-summary": "Analytics",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Date of hardbounce",
                            "x-ms-summary": "Date"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Date-wise count",
                            "description": "Count of hardbounces on each day"
                          }
                        }
                      },
                      "description": "Analytics of hardbounces"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "x-ms-summary": "Total count",
                      "description": "Total count of hardbounces"
                    }
                  },
                  "description": "Emails that have hard bounced"
                },
                "sb": {
                  "type": "object",
                  "x-ms-summary": "Softbounce",
                  "properties": {
                    "stats": {
                      "type": "array",
                      "x-ms-summary": "Analytics",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Date of softbounce",
                            "x-ms-summary": "Date"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "x-ms-summary": "Date-wise count",
                            "description": "Count of softbounces on each day"
                          }
                        }
                      },
                      "description": "stats"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count",
                      "x-ms-summary": "Total count of softbounces"
                    }
                  },
                  "description": "sb"
                },
                "sent": {
                  "type": "object",
                  "x-ms-summary": "Sent",
                  "properties": {
                    "stats": {
                      "type": "array",
                      "x-ms-summary": "Analytics",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "description": "Date of sent email",
                            "x-ms-summary": "Date"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Count of emails sent on each day",
                            "x-ms-summary": "Date-wise count"
                          }
                        }
                      },
                      "description": "Analytics of sent emails"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "count",
                      "x-ms-summary": "Total count of sent emails"
                    }
                  },
                  "description": "Emails that have been sent"
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          },
          "535": {
            "description": "Unauthorized"
          }
        },
        "summary": "Processed emails analytics",
        "description": "This endpoint fetches emails analytics for emails sent by Mail Agent identified by its Mail Agent name. It returns data including total count of Hardbounce, Softbounce and Sent statistics over a period of time and each day . The mailagent parameter should match the Mail Agent name as listed in our system.",
        "operationId": "Processed_Mail_Stats",
        "parameters": [
          {
            "name": "mailagent",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Mail Agent name",
            "description": "Choose or enter Mail agent name",
            "x-ms-dynamic-list": {
              "operationId": "GetMailAgent",
              "itemValuePath": "mailagent_name",
              "itemsPath": "data",
              "itemTitlePath": "mailagent_name"
            }
          },
          {
            "name": "from_time",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "From date",
            "description": "Enter statics from date in the format yyyy-MM-ddTHH:mm:sszzz"
          },
          {
            "name": "to_time",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "To date",
            "description": "Enter statics to date in the format yyyy-MM-ddTHH:mm:sszzz"
          }
        ],
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "Processed_Mail_Stats",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    }
  },
  "definitions": {
    "FromAddress": {
      "type": "object",
      "properties": {
        "from-detail": {
          "type": "object",
          "properties": {
            "from-prefix": {
              "type": "string",
              "x-ms-summary": "prefix",
              "description": "Ex., support prefix will be support@fromdomain.com"
            },
            "from-domain": {
              "type": "string",
              "description": "From address domain",
              "x-ms-summary": "domain",
              "x-ms-dynamic-list": {
                "operationId": "GetMailDomain",
                "itemValuePath": "domain_name",
                "itemTitlePath": "domain_name",
                "itemsPath": "data",
                "parameters": {
                  "mailagent_key": {
                    "parameterReference": "body/mailagent_key"
                  }
                }
              }
            }
          },
          "required": [
            "from-prefix",
            "from-domain"
          ],
          "x-ms-summary": "address"
        },
        "name": {
          "type": "string",
          "description": "Sender's user name",
          "x-ms-summary": "name"
        }
      },
      "description": "From",
      "x-ms-summary": "From",
      "required": [
        "from-detail",
        "name"
      ]
    },
    "EmailAddress": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "description": "Recipient's email address.",
          "x-ms-summary": "address"
        },
        "name": {
          "type": "string",
          "description": "Recipient's name.",
          "x-ms-summary": "name"
        }
      },
      "required": [
        "address"
      ]
    },
    "ReplyToAddresss": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "description": "A valid email address containing a domain that is verified in your Mail Agent.",
          "x-ms-summary": "address"
        },
        "name": {
          "type": "string",
          "description": "Name for the reply-to.",
          "x-ms-summary": "name"
        }
      }
    },
    "EmailAddressItems": {
      "type": "object",
      "properties": {
        "email_address": {
          "$ref": "#/definitions/EmailAddress"
        }
      }
    },
    "SuccessMessage" : {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "The code corresponding to a success response.",
                "x-ms-summary": "Code"
              },
              "additional_info": {
                "type": "array",
                "items": {},
                "description": "Provides additional information about the action performed in the request",
                "x-ms-summary": "Additional info"
              },
              "message": {
                "type": "string",
                "description": "The action taken for this request.",
                "x-ms-summary": "Detailed Message"
              }
            }
          },
          "description": "data"
        },
        "message": {
          "type": "string",
          "description": "The status of the request made.",
          "x-ms-summary": "Status message"
        },
        "request_id": {
          "type": "string",
          "description": "Unique reference ID of the request.",
          "x-ms-summary": "Request ID"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.zoho.com/oauth/v2/auth",
      "tokenUrl": "https://accounts.zoho.com/oauth/v2/token",
      "scopes": {
        "transmail.accounts.READ": "transmail.accounts.READ",
        "transmail.email.CREATE": "transmail.email.CREATE",
        "transmail.mailagent.READ": "transmail.mailagent.READ",
        "transmail.bounceSetup.READ": "transmail.bounceSetup.READ",
        "transmail.domain.READ": "transmail.domain.READ",
        "zeptomail.email.READ": "zeptomail.email.READ",
        "Zeptomail.metrics.read": "Zeptomail.metrics.read"
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "transmail.accounts.READ",
        "transmail.email.CREATE",
        "transmail.mailagent.READ",
        "transmail.bounceSetup.READ",
        "transmail.domain.READ"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.zoho.com/zeptomail/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.zoho.com/privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "x-ms-openai-manifest": {
    "humanName": "Zoho ZeptoMail",
    "modelDescription": "This is the email plugin that allows viewing of transactional email sending analytics. It displays the delivery statistics and email sending details of the processed transactional emails.",
    "contactEmail": "support@zeptomail.com",
    "legalUrl": "zoho.com/terms.html?zredirect=f"
  }
}