{
  "swagger": "2.0",
  "info": {
    "description": "It is a PDF operation tool to automate the work related to your PDF (for example, watermark and merge multiple files) and improve the work efficiency. We support Japanese language.",
    "version": "1.0.0",
    "title": "PDFcross",
    "contact": {
      "name": "PotCross Support",
      "url": "https://pot-cross.com/en/",
      "email": "support@pot-cross.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://pdfcross.com/en"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://pdfcross.com/en/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ],
  "host": "api.pdfcross.com",
  "basePath": "/v1",
  "tags": [
    {
      "name": "merge",
      "description": "Merge PDF files"
    },
    {
      "name": "password",
      "description": "Add password at PDF files"
    },
    {
      "name": "watermark text",
      "description": "Add watermark at PDF files"
    }
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/merge": {
      "post": {
        "tags": [
          "merge"
        ],
        "summary": "Merge multiple PDF files into one PDF",
        "description": "This is effective when you want to combine PDFs from multiple departments into one pdf file as meeting materials.",
        "operationId": "mergePDF",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "files",
            "description": "PDF files to merge",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "fileContent"
              ],
              "properties": {
                "fileContent": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "merged file",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      }
    },
    "/watermark_text": {
      "post": {
        "tags": [
          "watermark text"
        ],
        "summary": "Add text watermark",
        "description": "By inserting a watermark such as [Confidential] on each page of the PDF, you can make the viewer understand the characteristics of the material.",
        "operationId": "addWatermarkText",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "file",
            "description": "The content of the PDF document. The watermark is only English or Japanese.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "fileContent",
                "watermarkText"
              ],
              "properties": {
                "fileContent": {
                  "type": "string",
                  "format": "byte"
                },
                "watermarkText": {
                  "type": "string",
                  "description": "The text of the watermark. Only English or Japanese"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF added watermark",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      }
    },
    "/password": {
      "post": {
        "tags": [
          "password"
        ],
        "summary": "Protect your PDF with a password",
        "description": "You can protect the file by prompting for a password when you open the PDF file. This is useful for highly confidential files.",
        "operationId": "addPassword",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "file",
            "description": "The content of the PDF document and password.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "fileContent",
                "password"
              ],
              "properties": {
                "fileContent": {
                  "type": "string",
                  "format": "byte"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF added password",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      }
    },
    "/image": {
      "post": {
        "tags": [
          "image"
        ],
        "summary": "Add image file to PDF",
        "description": "You can add image to PDF. For example adding your company logo to the PDF at all pages. ",
        "operationId": "addImage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/pdf"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "file",
            "description": "The content of the PDF document and image. For example adding company logo to all pages.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "fileContent",
                "imageContent",
                "positionX",
                "positionY",
                "addType"
              ],
              "properties": {
                "fileContent": {
                  "type": "string",
                  "format": "byte"
                },
                "imageContent": {
                  "type": "string",
                  "format": "byte"
                },
                "positionX": {
                  "type": "number",
                  "format": "float"
                },
                "positionY": {
                  "type": "number",
                  "format": "float"
                },
                "addType": {
                  "type": "string",
                  "format": "enum - all pages - from to last page - from to pages"
                },
                "fromPage": {
                  "type": "number",
                  "format": "int32"
                },
                "toPage": {
                  "type": "number",
                  "format": "int32"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PDF added image",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "ApiKeyAuth": {
      "type": "apiKey",
      "in": "header",
      "name": "X-API-KEY"
    }
  }
}
