{
  "swagger": "2.0",
  "info": {
    "title": "Azure AD Applications",
    "description": "The built-in AAD connector does not allow you to view/examine application registrations. Needed this so I could have a flow that reports on client secrets that are close to expiry",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/applications": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "deletedDateTime": {
                        "type": "string",
                        "description": "deletedDateTime"
                      },
                      "appId": {
                        "type": "string",
                        "description": "appId"
                      },
                      "applicationTemplateId": {
                        "type": "string",
                        "description": "applicationTemplateId"
                      },
                      "disabledByMicrosoftStatus": {
                        "type": "string",
                        "description": "disabledByMicrosoftStatus"
                      },
                      "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "displayName"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "groupMembershipClaims": {
                        "type": "string",
                        "description": "groupMembershipClaims"
                      },
                      "identifierUris": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "identifierUris"
                      },
                      "isDeviceOnlyAuthSupported": {
                        "type": "string",
                        "description": "isDeviceOnlyAuthSupported"
                      },
                      "isFallbackPublicClient": {
                        "type": "boolean",
                        "description": "isFallbackPublicClient"
                      },
                      "notes": {
                        "type": "string",
                        "description": "notes"
                      },
                      "optionalClaims": {
                        "type": "string",
                        "description": "optionalClaims"
                      },
                      "publisherDomain": {
                        "type": "string",
                        "description": "publisherDomain"
                      },
                      "signInAudience": {
                        "type": "string",
                        "description": "signInAudience"
                      },
                      "tags": {
                        "type": "array",
                        "items": {},
                        "description": "tags"
                      },
                      "tokenEncryptionKeyId": {
                        "type": "string",
                        "description": "tokenEncryptionKeyId"
                      },
                      "verifiedPublisher": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "description": "displayName"
                          },
                          "verifiedPublisherId": {
                            "type": "string",
                            "description": "verifiedPublisherId"
                          },
                          "addedDateTime": {
                            "type": "string",
                            "description": "addedDateTime"
                          }
                        },
                        "description": "verifiedPublisher"
                      },
                      "defaultRedirectUri": {
                        "type": "string",
                        "description": "defaultRedirectUri"
                      },
                      "addIns": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "id"
                            },
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "properties": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "description": "key"
                                  },
                                  "value": {
                                    "type": "string",
                                    "description": "value"
                                  }
                                }
                              },
                              "description": "properties"
                            }
                          }
                        },
                        "description": "addIns"
                      },
                      "api": {
                        "type": "object",
                        "properties": {
                          "acceptMappedClaims": {
                            "type": "string",
                            "description": "acceptMappedClaims"
                          },
                          "knownClientApplications": {
                            "type": "array",
                            "items": {},
                            "description": "knownClientApplications"
                          },
                          "requestedAccessTokenVersion": {
                            "type": "string",
                            "description": "requestedAccessTokenVersion"
                          },
                          "oauth2PermissionScopes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "adminConsentDescription": {
                                  "type": "string",
                                  "description": "adminConsentDescription"
                                },
                                "adminConsentDisplayName": {
                                  "type": "string",
                                  "description": "adminConsentDisplayName"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "id"
                                },
                                "isEnabled": {
                                  "type": "boolean",
                                  "description": "isEnabled"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                },
                                "userConsentDescription": {
                                  "type": "string",
                                  "description": "userConsentDescription"
                                },
                                "userConsentDisplayName": {
                                  "type": "string",
                                  "description": "userConsentDisplayName"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "value"
                                }
                              }
                            },
                            "description": "oauth2PermissionScopes"
                          },
                          "preAuthorizedApplications": {
                            "type": "array",
                            "items": {},
                            "description": "preAuthorizedApplications"
                          }
                        },
                        "description": "api"
                      },
                      "appRoles": {
                        "type": "array",
                        "items": {},
                        "description": "appRoles"
                      },
                      "info": {
                        "type": "object",
                        "properties": {
                          "logoUrl": {
                            "type": "string",
                            "description": "logoUrl"
                          },
                          "marketingUrl": {
                            "type": "string",
                            "description": "marketingUrl"
                          },
                          "privacyStatementUrl": {
                            "type": "string",
                            "description": "privacyStatementUrl"
                          },
                          "supportUrl": {
                            "type": "string",
                            "description": "supportUrl"
                          },
                          "termsOfServiceUrl": {
                            "type": "string",
                            "description": "termsOfServiceUrl"
                          }
                        },
                        "description": "info"
                      },
                      "keyCredentials": {
                        "type": "array",
                        "items": {},
                        "description": "keyCredentials"
                      },
                      "parentalControlSettings": {
                        "type": "object",
                        "properties": {
                          "countriesBlockedForMinors": {
                            "type": "array",
                            "items": {},
                            "description": "countriesBlockedForMinors"
                          },
                          "legalAgeGroupRule": {
                            "type": "string",
                            "description": "legalAgeGroupRule"
                          }
                        },
                        "description": "parentalControlSettings"
                      },
                      "passwordCredentials": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "customKeyIdentifier": {
                              "type": "string",
                              "description": "customKeyIdentifier"
                            },
                            "displayName": {
                              "type": "string",
                              "description": "displayName"
                            },
                            "endDateTime": {
                              "type": "string",
                              "description": "endDateTime"
                            },
                            "hint": {
                              "type": "string",
                              "description": "hint"
                            },
                            "keyId": {
                              "type": "string",
                              "description": "keyId"
                            },
                            "secretText": {
                              "type": "string",
                              "description": "secretText"
                            },
                            "startDateTime": {
                              "type": "string",
                              "description": "startDateTime"
                            }
                          }
                        },
                        "description": "passwordCredentials"
                      },
                      "publicClient": {
                        "type": "object",
                        "properties": {
                          "redirectUris": {
                            "type": "array",
                            "items": {},
                            "description": "redirectUris"
                          }
                        },
                        "description": "publicClient"
                      },
                      "requiredResourceAccess": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "resourceAppId": {
                              "type": "string",
                              "description": "resourceAppId"
                            },
                            "resourceAccess": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "type"
                                  }
                                }
                              },
                              "description": "resourceAccess"
                            }
                          }
                        },
                        "description": "requiredResourceAccess"
                      },
                      "web": {
                        "type": "object",
                        "properties": {
                          "homePageUrl": {
                            "type": "string",
                            "description": "homePageUrl"
                          },
                          "logoutUrl": {
                            "type": "string",
                            "description": "logoutUrl"
                          },
                          "redirectUris": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "redirectUris"
                          },
                          "implicitGrantSettings": {
                            "type": "object",
                            "properties": {
                              "enableAccessTokenIssuance": {
                                "type": "boolean",
                                "description": "enableAccessTokenIssuance"
                              },
                              "enableIdTokenIssuance": {
                                "type": "boolean",
                                "description": "enableIdTokenIssuance"
                              }
                            },
                            "description": "implicitGrantSettings"
                          }
                        },
                        "description": "web"
                      },
                      "spa": {
                        "type": "object",
                        "properties": {
                          "redirectUris": {
                            "type": "array",
                            "items": {},
                            "description": "redirectUris"
                          }
                        },
                        "description": "spa"
                      }
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "List Applications",
        "operationId": "ListApplications",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters properties (columns)",
            "x-ms-summary": "Choose columns to display (blank for all)",
            "x-ms-visibility": "important"
          },
          {
            "name": "$search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "You can use $search on the displayName and description properties. (eg $search=\"displayName:Web\")",
            "x-ms-summary": "Search criteria",
            "x-ms-visibility": "important"
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves the total count of matching resources",
            "x-ms-summary": "Display count",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Orders results (eg $orderby=displayName desc)",
            "x-ms-summary": "Sort Order",
            "x-ms-visibility": "important"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Retrieves related resources (including owner details by default)",
            "x-ms-summary": "List related columns",
            "x-ms-visibility": "advanced",
            "default": "Owners"
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Indexes into a result set. Also used by some APIs to implement paging and can be used together with $top to manually page results.",
            "x-ms-summary": "Number of records to skip",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Limits the number of results.",
            "x-ms-summary": "Total count to return",
            "x-ms-visibility": "advanced"
          }
        ],
        "description": "Get the list of applications in this organization",
        "x-ms-visibility": "important"
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}