{
  "swagger": "2.0",
  "info": {
    "title": "CiviQ",
    "description": "The current documentation explain's how the Civiq is configured and gives and explanation for each endpoint.\nCiviQ provide secure data about consultations, surveys and submissions. \n\nTo connect a portal to the custom connector and use it in flow we need to create a connector by selecting it in the connectors list or by creating from custom connector list. \nWe will need to provide the host of the portal without protocol and key. Key could be taken from configuration page.",
    "version": "1.0",
    "contact": {
      "name": "Mark O'Toole",
      "url": "https://civiq.freshdesk.com",
      "email": "support@civiq.eu"
    }
  },
  "host": "consult.civiq.eu",
  "basePath": "/en/api/1.1/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/consultations.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Consultation data",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Consultations count"
                },
                "consultations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "nid": {
                        "type": "string",
                        "description": "Consultation nid"
                      },
                      "type": {
                        "type": "string",
                        "description": "Consultation type"
                      },
                      "created": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Consultation created data"
                      },
                      "preset": {
                        "type": "string",
                        "description": "Consultation preset"
                      },
                      "access": {
                        "type": "string",
                        "description": "Consultation access"
                      },
                      "url": {
                        "type": "string",
                        "description": "Consultation url"
                      },
                      "status": {
                        "type": "string",
                        "description": "Consultation status"
                      },
                      "title": {
                        "type": "string",
                        "description": "Consultation title"
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "description": "Image uuid"
                          },
                          "name": {
                            "type": "string",
                            "description": "Image name"
                          },
                          "mime": {
                            "type": "string",
                            "description": "Image mime"
                          },
                          "size": {
                            "type": "string",
                            "description": "Image size"
                          },
                          "attachment_uri": {
                            "type": "string",
                            "description": "Image attachment uri"
                          },
                          "url": {
                            "type": "string",
                            "description": "Image url"
                          }
                        },
                        "description": "Image"
                      },
                      "dates": {
                        "type": "object",
                        "properties": {
                          "open": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Open unix timestamp"
                          },
                          "close": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Close unix timestamp"
                          }
                        },
                        "description": "Consultation dates"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Consultation summary"
                      },
                      "submissions": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "string",
                            "description": "Submissions count"
                          }
                        },
                        "description": "Consultation Submissions"
                      }
                    }
                  },
                  "description": "Consultations"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Consultations List",
        "operationId": "Consultations",
        "parameters": [
          {
            "name": "status",
            "x-ms-summary": "Consultation Status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "closed",
              "upcoming",
              "open"
            ],
            "default": "open",
            "description": "Consultation Status"
          },
          {
            "name": "access",
            "x-ms-summary": "Consultation Access",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "all",
              "public",
              "private"
            ],
            "description": "Consultation Access"
          }
        ],
        "description": "Operation to retrieve from the portal the list of Consultations.",
        "tags": [
          "Consultations"
        ]
      }
    },
    "/consultations/{ConsultationID}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Consultation data",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ConsultationSchema",
                "parameters": {
                  "ConsultationID": {
                    "parameter": "ConsultationID"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Consultation by ID",
        "operationId": "Consultationid",
        "parameters": [
          {
            "name": "ConsultationID",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Consultation ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Id of the consultation"
          }
        ],
        "description": "Operation to retrieve the consultation by the ID from the portal.",
        "tags": [
          "Consultations"
        ]
      }
    },
    "/consultations/{ConsultationID}/submissions.json": {
      "get": {
        "responses": {
          "200": {
            "description": "Submission data",
            "schema": {
              "type": "object",
              "x-ms-dynamic-schema": {
                "operationId": "ConsultationSubmissionsSchema",
                "parameters": {
                  "ConsultationID": {
                    "parameter": "ConsultationID"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Consultation Submissions by ID",
        "operationId": "ConsultationIDSubmissions",
        "parameters": [
          {
            "name": "ConsultationID",
            "x-ms-summary": "Consultation ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the consultation"
          }
        ],
        "description": "Operation to retrieve list of consultations submissions by ID from the portal.",
        "tags": [
          "Consultations"
        ]
      }
    },
    "/surveys.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "surveys": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "nid": {
                        "type": "string",
                        "description": "nid"
                      },
                      "created": {
                        "type": "integer",
                        "format": "int32",
                        "description": "created"
                      },
                      "access": {
                        "type": "string",
                        "description": "access"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "description": "Image uuid"
                          },
                          "name": {
                            "type": "string",
                            "description": "Iamge name"
                          },
                          "mime": {
                            "type": "string",
                            "description": "Image mime"
                          },
                          "size": {
                            "type": "string",
                            "description": "Image size"
                          },
                          "attachment_uri": {
                            "type": "string",
                            "description": "Image attachment uri"
                          },
                          "url": {
                            "type": "string",
                            "description": "Image url"
                          }
                        },
                        "description": "Image"
                      },
                      "dates": {
                        "type": "object",
                        "properties": {
                          "open": {
                            "type": "string",
                            "description": "open"
                          },
                          "close": {
                            "type": "string",
                            "description": "close"
                          }
                        },
                        "description": "dates"
                      },
                      "summary": {
                        "type": "string",
                        "description": "summary"
                      },
                      "submissions": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "string",
                            "description": "count"
                          }
                        },
                        "description": "submissions"
                      }
                    }
                  },
                  "description": "surveys"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Surveys List",
        "parameters": [
          {
            "name": "status",
            "x-ms-summary": "Survey Status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Survey Status",
            "enum": [
              "open",
              "closed",
              "upcoming",
              "all"
            ]
          },
          {
            "name": "access",
            "x-ms-summary": "Survey Access",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Survey Access",
            "enum": [
              "public",
              "private",
              "all"
            ]
          },
          {
            "name": "visibility",
            "x-ms-summary": "Surveys Visibility",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "visible",
              "hidden",
              "all"
            ],
            "description": "Parameter for retrieving private / all"
          }
        ],
        "description": "Operation to retrieve the list of Surveys from the portal.",
        "operationId": "Surveys",
        "tags": [
          "Surveys"
        ]
      }
    },
    "/surveys/{SurveyId}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "nid": {
                  "type": "string",
                  "description": "nid"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created"
                },
                "access": {
                  "type": "string",
                  "description": "access"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "dates": {
                  "type": "object",
                  "properties": {
                    "open": {
                      "type": "string",
                      "description": "open"
                    },
                    "close": {
                      "type": "string",
                      "description": "close"
                    }
                  },
                  "description": "dates"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "submissions": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string",
                      "description": "count"
                    }
                  },
                  "description": "submissions"
                },
                "body": {
                  "type": "string",
                  "description": "body"
                },
                "form": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cid": {
                        "type": "string",
                        "description": "cid"
                      },
                      "pid": {
                        "type": "string",
                        "description": "pid"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "form"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Survey by ID",
        "operationId": "SurveyID",
        "description": "Operation to retrieve the survey by the ID from the portal.",
        "parameters": [
          {
            "name": "SurveyId",
            "description": "ID of the Survey",
            "x-ms-summary": "Survey ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Surveys"
        ]
      }
    },
    "/surveys/{SurveyId}/submissions.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "nid": {
                  "type": "string",
                  "description": "nid"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "submissions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sid": {
                        "type": "string",
                        "description": "sid"
                      },
                      "nid": {
                        "type": "string",
                        "description": "nid"
                      },
                      "submitted": {
                        "type": "string",
                        "description": "submitted"
                      },
                      "completed": {
                        "type": "string",
                        "description": "completed"
                      },
                      "data": {
                        "type": "object",
                        "description": "Submission data",
                        "x-ms-dynamic-schema": {
                          "operationId": "SurveySchema",
                          "parameters": {
                            "SurveyID": {
                              "parameter": "SurveyId"
                            }
                          }
                        }
                      }
                    }
                  },
                  "description": "submissions"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Survey Submission by ID",
        "description": "Operation to retrieve list of survey submissions by ID from the portal.",
        "operationId": "SurveyIdSubmission",
        "parameters": [
          {
            "name": "SurveyId",
            "in": "path",
            "description": "ID of the Survey",
            "x-ms-summary": "Survey ID",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          },
          {
            "name": "form-keyed",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Switcher to object data format",
            "x-ms-summary": "Switcher to object data format",
            "x-ms-visibility": "internal",
            "default": "\"1\""
          }
        ],
        "tags": [
          "Surveys"
        ]
      }
    },
    "/applications.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "count"
                },
                "surveys": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "nid": {
                        "type": "string",
                        "description": "nid"
                      },
                      "created": {
                        "type": "integer",
                        "format": "int32",
                        "description": "created"
                      },
                      "access": {
                        "type": "string",
                        "description": "access"
                      },
                      "url": {
                        "type": "string",
                        "description": "url"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "description": "uuid"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "mime": {
                            "type": "string",
                            "description": "mime"
                          },
                          "size": {
                            "type": "string",
                            "description": "size"
                          },
                          "attachment_uri": {
                            "type": "string",
                            "description": "attachment_uri"
                          },
                          "url": {
                            "type": "string",
                            "description": "url"
                          }
                        },
                        "description": "image"
                      },
                      "dates": {
                        "type": "object",
                        "properties": {
                          "open": {
                            "type": "string",
                            "description": "open"
                          },
                          "close": {
                            "type": "string",
                            "description": "close"
                          }
                        },
                        "description": "dates"
                      },
                      "summary": {
                        "type": "string",
                        "description": "summary"
                      },
                      "submissions": {
                        "type": "object",
                        "properties": {
                          "count": {
                            "type": "string",
                            "description": "count"
                          }
                        },
                        "description": "submissions"
                      }
                    }
                  },
                  "description": "surveys"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Applications List",
        "parameters": [
          {
            "name": "status",
            "x-ms-summary": "Application Status",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Applications Status",
            "enum": [
              "open",
              "closed",
              "upcoming",
              "all"
            ]
          },
          {
            "name": "access",
            "x-ms-summary": "Applications Access",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Applications Access",
            "enum": [
              "public",
              "private",
              "all"
            ]
          },
          {
            "name": "visibility",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "visible",
              "hidden",
              "all"
            ],
            "x-ms-summary": "Applications Visibility",
            "description": "Applications Visibility"
          }
        ],
        "description": "Operation to retrieve the list of Applications from the portal.",
        "operationId": "Applications",
        "tags": [
          "Applications"
        ]
      }
    },
    "/applications/{ApplicationId}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "nid": {
                  "type": "string",
                  "description": "nid"
                },
                "created": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created"
                },
                "access": {
                  "type": "string",
                  "description": "access"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "image": {
                  "type": "string",
                  "description": "image"
                },
                "dates": {
                  "type": "object",
                  "properties": {
                    "open": {
                      "type": "string",
                      "description": "open"
                    },
                    "close": {
                      "type": "string",
                      "description": "close"
                    }
                  },
                  "description": "dates"
                },
                "summary": {
                  "type": "string",
                  "description": "summary"
                },
                "submissions": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string",
                      "description": "count"
                    }
                  },
                  "description": "submissions"
                },
                "body": {
                  "type": "string",
                  "description": "body"
                },
                "form": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cid": {
                        "type": "string",
                        "description": "cid"
                      },
                      "pid": {
                        "type": "string",
                        "description": "pid"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      }
                    }
                  },
                  "description": "form"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Application by ID",
        "operationId": "ApplicationsID",
        "description": "Operation to retrieve the application by the ID from the portal.",
        "parameters": [
          {
            "name": "ApplicationId",
            "x-ms-summary": "Application ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Application"
          }
        ],
        "tags": [
          "Applications"
        ]
      }
    },
    "/applications/{ApplicationId}/submissions.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "nid": {
                  "type": "string",
                  "description": "nid"
                },
                "type": {
                  "type": "string",
                  "description": "type"
                },
                "submissions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "sid": {
                        "type": "string",
                        "description": "sid"
                      },
                      "nid": {
                        "type": "string",
                        "description": "nid"
                      },
                      "submitted": {
                        "type": "string",
                        "description": "submitted"
                      },
                      "completed": {
                        "type": "string",
                        "description": "completed"
                      },
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "cid": {
                              "type": "integer",
                              "format": "int32",
                              "description": "cid"
                            },
                            "values": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "values"
                            }
                          }
                        },
                        "description": "data"
                      }
                    }
                  },
                  "description": "submissions"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Applications Submission by ID",
        "description": "Operation to retrieve list of Applications submissions by ID from the portal.",
        "operationId": "ApplicationIdSubmission",
        "parameters": [
          {
            "name": "ApplicationId",
            "x-ms-summary": "Application ID",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Application"
          }
        ],
        "tags": [
          "Applications"
        ]
      }
    },
    "/webhook_subscriptions/SubmissionSubmitted": {
      "x-ms-notification-content": {
        "description": "SubmissionData",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "ConsultationSubmissionSchema",
            "parameters": {
              "ConsultationID": {
                "parameter": "EntityId"
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-trigger": "single",
        "operationId": "SubmissionSubmit",
        "description": "Event triggers when consultation submissions are submitted by the user through the portal.",
        "summary": "Consultation Submissions is submitted event",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callback-url": {
                  "type": "string",
                  "description": "callback-url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "default-url",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "callback-url"
              ]
            }
          },
          {
            "name": "EntityId",
            "x-ms-summary": "Consultation ID",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "all",
            "description": "Consultation ID"
          }
        ]
      }
    },
    "/webhook_subscriptions/SubmissionUpdated": {
      "x-ms-notification-content": {
        "description": "SubmissionData",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "ConsultationSubmissionSchema",
            "parameters": {
              "ConsultationID": {
                "parameter": "EntityId"
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-trigger": "single",
        "operationId": "SubmissionUpdate",
        "description": "Event triggers when consultation submissions are updated by the user through the portal.",
        "summary": "Consultation Submission is updated event",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callback-url": {
                  "type": "string",
                  "description": "callback-url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "default-url",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "callback-url"
              ]
            }
          },
          {
            "name": "EntityId",
            "x-ms-summary": "Consultation ID",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "all",
            "description": "Consultation ID"
          }
        ]
      }
    },
    "/webhook_subscriptions/SubmissionApproved": {
      "x-ms-notification-content": {
        "description": "Submission Data",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "ConsultationSubmissionSchema",
            "parameters": {
              "ConsultationID": {
                "parameter": "EntityId"
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-trigger": "single",
        "operationId": "SubmissionApprove",
        "description": "Event triggers when consultation submissions are approved by the user through the portal.",
        "summary": "Consultation Submission is Approved event",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callback-url": {
                  "type": "string",
                  "description": "callback-url",
                  "title": "",
                  "x-ms-visibility": "internal",
                  "default": "default-url",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "callback-url"
              ]
            }
          },
          {
            "name": "EntityId",
            "x-ms-summary": "Consultation ID",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "all",
            "description": "Consultation ID"
          }
        ]
      }
    },
    "/webhook_subscriptions/{WebhookId}": {
      "delete": {
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete Webhook Action (Internal)",
        "description": "Event triggers to delete a webhook.",
        "operationId": "DeleteWebhookAction",
        "x-ms-visibility": "internal",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "WebhookId",
            "x-ms-url-encoding": "single",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/webhook_subscriptions/ConsultationOpened": {
      "x-ms-notification-content": {
        "description": "Consultation Data",
        "schema": {
          "type": "object",
          "properties": {
            "nid": {
              "type": "string",
              "description": "Consultation nid"
            },
            "type": {
              "type": "string",
              "description": "Consultation type"
            },
            "created": {
              "type": "integer",
              "format": "int32",
              "description": "Consultation created data"
            },
            "preset": {
              "type": "string",
              "description": "Consultation preset"
            },
            "access": {
              "type": "string",
              "description": "Consultation access"
            },
            "url": {
              "type": "string",
              "description": "Consultation url"
            },
            "status": {
              "type": "string",
              "description": "Consultation status"
            },
            "title": {
              "type": "string",
              "description": "Consultation title"
            },
            "image": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "Image uuid"
                },
                "name": {
                  "type": "string",
                  "description": "Iamge name"
                },
                "mime": {
                  "type": "string",
                  "description": "Image mime"
                },
                "size": {
                  "type": "string",
                  "description": "Image size"
                },
                "attachment_uri": {
                  "type": "string",
                  "description": "Image attachment uri"
                },
                "url": {
                  "type": "string",
                  "description": "Image url"
                }
              },
              "description": "Image"
            },
            "dates": {
              "type": "object",
              "properties": {
                "open": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Open unix timestamp"
                },
                "close": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Close unix timestamp"
                }
              },
              "description": "Consultation dates"
            },
            "summary": {
              "type": "string",
              "description": "Consultation summary"
            },
            "submissions": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "string",
                  "description": "Submissions count"
                }
              },
              "description": "Consultation Submissions"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Consultation is Opened event",
        "description": "Event triggers when consultation is opened through the portal.",
        "operationId": "ConsultationOpened",
        "tags": [
          "Webhook"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callback-url": {
                  "type": "string",
                  "description": "callback-url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callback-url"
              ]
            }
          }
        ]
      }
    },
    "/webhook_subscriptions/ConsultationClosed": {
      "x-ms-notification-content": {
        "description": "Consultation Data",
        "schema": {
          "type": "object",
          "properties": {
            "nid": {
              "type": "string",
              "description": "Consultation nid"
            },
            "type": {
              "type": "string",
              "description": "Consultation type"
            },
            "created": {
              "type": "integer",
              "format": "int32",
              "description": "Consultation created data"
            },
            "preset": {
              "type": "string",
              "description": "Consultation preset"
            },
            "access": {
              "type": "string",
              "description": "Consultation access"
            },
            "url": {
              "type": "string",
              "description": "Consultation url"
            },
            "status": {
              "type": "string",
              "description": "Consultation status"
            },
            "title": {
              "type": "string",
              "description": "Consultation title"
            },
            "image": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "Image uuid"
                },
                "name": {
                  "type": "string",
                  "description": "Iamge name"
                },
                "mime": {
                  "type": "string",
                  "description": "Image mime"
                },
                "size": {
                  "type": "string",
                  "description": "Image size"
                },
                "attachment_uri": {
                  "type": "string",
                  "description": "Image attachment uri"
                },
                "url": {
                  "type": "string",
                  "description": "Image url"
                }
              },
              "description": "Image"
            },
            "dates": {
              "type": "object",
              "properties": {
                "open": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Open unix timestamp"
                },
                "close": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Close unix timestamp"
                }
              },
              "description": "Consultation dates"
            },
            "summary": {
              "type": "string",
              "description": "Consultation summary"
            },
            "submissions": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "string",
                  "description": "Submissions count"
                }
              },
              "description": "Consultation Submissions"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Consultation is Closed event",
        "description": "Event triggers when consultation is closed through the portal.",
        "operationId": "ConsultationClosed",
        "x-ms-trigger": "single",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callback-url": {
                  "type": "string",
                  "description": "callback-url",
                  "title": "",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "callback-url"
              ]
            }
          }
        ]
      }
    },
    "/webhook_subscriptions/WebformSubmissionSubmitted": {
      "x-ms-notification-content": {
        "description": "WebformData",
        "schema": {
          "type": "object",
          "properties": {
            "sid": {
              "type": "string",
              "description": "sid"
            },
            "nid": {
              "type": "string",
              "description": "nid"
            },
            "submitted": {
              "type": "string",
              "description": "submitted"
            },
            "completed": {
              "type": "string",
              "description": "completed"
            },
            "data": {
              "type": "object",
              "description": "Submission data",
              "x-ms-dynamic-schema": {
                "operationId": "SurveySchema",
                "parameters": {
                  "SurveyID": {
                    "parameter": "EntityId"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Webform Submission is Submitted event",
        "description": "Event triggers when a user submits a submission in a webform through the portal.",
        "operationId": "WebformSubmissionSubmit",
        "tags": [
          "Webhook"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callback-url": {
                  "type": "string",
                  "description": "callback-url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callback-url"
              ]
            }
          },
          {
            "name": "EntityId",
            "x-ms-summary": "Survey ID",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "all",
            "description": "Survey ID"
          }
        ]
      }
    },
    "/webhook_subscriptions/WebformOpened": {
      "x-ms-notification-content": {
        "description": "Webform Data",
        "schema": {
          "type": "object",
          "properties": {
            "nid": {
              "type": "string",
              "description": "nid"
            },
            "created": {
              "type": "integer",
              "format": "int32",
              "description": "created"
            },
            "access": {
              "type": "string",
              "description": "access"
            },
            "url": {
              "type": "string",
              "description": "url"
            },
            "status": {
              "type": "string",
              "description": "status"
            },
            "title": {
              "type": "string",
              "description": "title"
            },
            "image": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "uuid"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "mime": {
                  "type": "string",
                  "description": "mime"
                },
                "size": {
                  "type": "string",
                  "description": "size"
                },
                "attachment_uri": {
                  "type": "string",
                  "description": "attachment_uri"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                }
              },
              "description": "image"
            },
            "dates": {
              "type": "object",
              "properties": {
                "open": {
                  "type": "string",
                  "description": "open"
                },
                "close": {
                  "type": "string",
                  "description": "close"
                }
              },
              "description": "dates"
            },
            "summary": {
              "type": "string",
              "description": "summary"
            },
            "submissions": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "string",
                  "description": "count"
                }
              },
              "description": "submissions"
            },
            "body": {
              "type": "string",
              "description": "body"
            },
            "form": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "cid": {
                    "type": "string",
                    "description": "cid"
                  },
                  "pid": {
                    "type": "string",
                    "description": "pid"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  },
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "key"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      }
                    },
                    "description": "options"
                  },
                  "questions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "key"
                        },
                        "value": {
                          "type": "string",
                          "description": "value"
                        }
                      }
                    },
                    "description": "questions"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "cid": {
                          "type": "string",
                          "description": "cid"
                        },
                        "pid": {
                          "type": "string",
                          "description": "pid"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "options": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "key"
                              },
                              "value": {
                                "type": "string",
                                "description": "value"
                              }
                            }
                          },
                          "description": "options"
                        },
                        "matrix_col": {
                          "type": "string",
                          "description": "matrix_col"
                        },
                        "matrix_row": {
                          "type": "string",
                          "description": "matrix_row"
                        },
                        "elements": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "title": {
                                "type": "string",
                                "description": "title"
                              },
                              "options": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string",
                                      "description": "key"
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "value"
                                    }
                                  }
                                },
                                "description": "options"
                              }
                            }
                          },
                          "description": "elements"
                        },
                        "children": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "cid": {
                                "type": "string",
                                "description": "cid"
                              },
                              "pid": {
                                "type": "string",
                                "description": "pid"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              }
                            }
                          },
                          "description": "children"
                        }
                      }
                    },
                    "description": "children"
                  }
                }
              },
              "description": "form"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "x-ms-trigger": "single",
        "summary": "Webform is Opened event",
        "description": "Event triggers when a webform is opened through the portal.",
        "operationId": "WebformOpened",
        "tags": [
          "Webhook"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callback-url": {
                  "type": "string",
                  "description": "callback-url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callback-url"
              ]
            }
          }
        ]
      }
    },
    "/webhook_subscriptions/WebformClosed": {
      "x-ms-notification-content": {
        "description": "Webform Data",
        "schema": {
          "type": "object",
          "properties": {
            "nid": {
              "type": "string",
              "description": "Webform nid"
            },
            "created": {
              "type": "integer",
              "format": "int32",
              "description": "Webform created date"
            },
            "access": {
              "type": "string",
              "description": "Webform access"
            },
            "url": {
              "type": "string",
              "description": "Webform url"
            },
            "status": {
              "type": "string",
              "description": "Webform status"
            },
            "title": {
              "type": "string",
              "description": "Webform title"
            },
            "image": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "Image uuid"
                },
                "name": {
                  "type": "string",
                  "description": "Image name"
                },
                "mime": {
                  "type": "string",
                  "description": "Image mime"
                },
                "size": {
                  "type": "string",
                  "description": "Image size"
                },
                "attachment_uri": {
                  "type": "string",
                  "description": "Image attachment_uri"
                },
                "url": {
                  "type": "string",
                  "description": "Image url"
                }
              },
              "description": "Webform image"
            },
            "dates": {
              "type": "object",
              "properties": {
                "open": {
                  "type": "string",
                  "description": "Webform open date"
                },
                "close": {
                  "type": "string",
                  "description": "Webform close date"
                }
              },
              "description": "Webform dates"
            },
            "summary": {
              "type": "string",
              "description": "Webform summary"
            },
            "submissions": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "string",
                  "description": "Webform submissions count"
                }
              },
              "description": "Webform submissions"
            },
            "body": {
              "type": "string",
              "description": "Webform body"
            },
            "form": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "cid": {
                    "type": "string",
                    "description": "Component ID"
                  },
                  "pid": {
                    "type": "string",
                    "description": "Component parent ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Component name"
                  },
                  "type": {
                    "type": "string",
                    "description": "Component type"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "Option key"
                        },
                        "value": {
                          "type": "string",
                          "description": "Option value"
                        }
                      }
                    },
                    "description": "options"
                  },
                  "questions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "Questions key"
                        },
                        "value": {
                          "type": "string",
                          "description": "Questions value"
                        }
                      }
                    },
                    "description": "Questions"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "cid": {
                          "type": "string",
                          "description": "cid"
                        },
                        "pid": {
                          "type": "string",
                          "description": "pid"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "type": {
                          "type": "string",
                          "description": "type"
                        },
                        "options": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "key"
                              },
                              "value": {
                                "type": "string",
                                "description": "value"
                              }
                            }
                          },
                          "description": "options"
                        },
                        "matrix_col": {
                          "type": "string",
                          "description": "matrix_col"
                        },
                        "matrix_row": {
                          "type": "string",
                          "description": "matrix_row"
                        },
                        "elements": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "type"
                              },
                              "title": {
                                "type": "string",
                                "description": "title"
                              },
                              "options": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string",
                                      "description": "key"
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "value"
                                    }
                                  }
                                },
                                "description": "options"
                              }
                            }
                          },
                          "description": "elements"
                        },
                        "children": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "cid": {
                                "type": "string",
                                "description": "cid"
                              },
                              "pid": {
                                "type": "string",
                                "description": "pid"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              }
                            }
                          },
                          "description": "children"
                        }
                      }
                    },
                    "description": "children"
                  }
                }
              },
              "description": "form"
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Webform is Closed event",
        "description": "Event triggers when a webform is closed through the portal.",
        "operationId": "WebformClosed",
        "tags": [
          "Webhook"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callback-url": {
                  "type": "string",
                  "description": "callback-url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": ""
                }
              },
              "required": [
                "callback-url"
              ]
            }
          }
        ]
      }
    },
    "/files/{FileUUID}.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "uuid": {
                  "type": "string",
                  "description": "uuid"
                },
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "mime": {
                  "type": "string",
                  "description": "mime"
                },
                "size": {
                  "type": "string",
                  "description": "size"
                },
                "attachment_uri": {
                  "type": "string",
                  "description": "attachment_uri"
                },
                "url": {
                  "type": "string",
                  "description": "url"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "string"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "type": "string",
              "description": "Could not find resource"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Get File",
        "description": "Operation to retrieve a specific file from the portal.",
        "operationId": "GetFile",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "FileUUID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "File UUID",
            "description": "File UUID",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/surveys/{SurveyID}/schema.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object"
            }
          }
        },
        "operationId": "SurveySchema",
        "x-ms-visibility": "internal",
        "description": "Get survey schema by id",
        "summary": "Survey schema",
        "tags": [
          "Surveys"
        ],
        "parameters": [
          {
            "name": "SurveyID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/consultations/{ConsultationID}/schema.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                  "nid": {
                      "type": "string",
                      "description": "Consultation nid"
                  },
                  "type": {
                      "type": "string",
                      "description": "Consultation type"
                  },
                  "created": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Consultation created data"
                  },
                  "preset": {
                      "type": "string",
                      "description": "Consultation preset"
                  },
                  "access": {
                      "type": "string",
                      "description": "Consultation access"
                  },
                  "url": {
                      "type": "string",
                      "description": "Consultation url"
                  },
                  "status": {
                      "type": "string",
                      "description": "Consultation status"
                  },
                  "title": {
                      "type": "string",
                      "description": "Consultation title"
                  },
                  "image": {
                      "type": "object",
                      "properties": {
                          "uuid": {
                              "type": "string",
                              "description": "Image uuid"
                          },
                          "0": {
                              "type": "string",
                              "description": "Image name"
                          },
                          "mime": {
                              "type": "string",
                              "description": "Image mime"
                          },
                          "size": {
                              "type": "string",
                              "description": "Image size"
                          },
                          "attachment_uri": {
                              "type": "string",
                              "description": "Image attachment uri"
                          },
                          "url": {
                              "type": "string",
                              "description": "Image url"
                          }
                      },
                      "description": "Image"
                  },
                  "dates": {
                      "type": "object",
                      "properties": {
                          "open": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Open unix timestamp"
                          },
                          "close": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Close unix timestamp"
                          }
                      },
                      "description": "Consultation dates"
                  },
                  "summary": {
                      "type": "string",
                      "description": "Consultation summary"
                  },
                  "submissions": {
                      "type": "object",
                      "properties": {
                          "count": {
                              "type": "string",
                              "description": "Submissions count"
                          }
                      },
                      "description": "Consultation Submissions"
                  },
                  "slides": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                          "nid": {
                              "type": "string"
                          },
                          "created": {
                              "type": "number"
                          },
                          "preset": {
                              "type": "string"
                          },
                          "url": {
                              "type": "string"
                          },
                          "type": {
                              "type": "string"
                          },
                          "image": {
                              "type": "object",
                              "properties": {
                                  "fid": {
                                      "type": "string"
                                  },
                                  "uid": {
                                      "type": "string"
                                  },
                                  "filename": {
                                      "type": "string"
                                  },
                                  "uri": {
                                      "type": "string"
                                  },
                                  "filemime": {
                                      "type": "string"
                                  },
                                  "filesize": {
                                      "type": "string"
                                  },
                                  "status": {
                                      "type": "string"
                                  },
                                  "timestamp": {
                                      "type": "string"
                                  },
                                  "uuid": {
                                      "type": "string"
                                  },
                                  "rdf_mapping": {
                                      "type": "array",
                                      "items": {
                                          "type": "string"
                                      }
                                  },
                                  "alt": {
                                      "type": "string"
                                  },
                                  "title": {
                                      "type": "string"
                                  },
                                  "width": {
                                      "type": "string"
                                  },
                                  "height": {
                                      "type": "string"
                                  }
                              }
                          },
                          "title": {
                              "type": "string"
                          },
                          "body": {
                              "type": "string"
                          }
                      }
                    }
                  }
              }
            }
          }
        },
        "operationId": "ConsultationSchema",
        "x-ms-visibility": "internal",
        "description": "Get consultation schema by id",
        "summary": "Consultation schema",
        "tags": [
          "Consultations"
        ],
        "parameters": [
          {
            "name": "ConsultationID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/consultations/{ConsultationID}/submissions_schema.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                  "consultation_id": {
                      "description": "Submission consultation id",
                      "type": "string"
                  },
                  "nid": {
                      "description": "Submission id",
                      "type": "string"
                  },
                  "preset": {
                      "description": "Submission preset",
                      "type": "string"
                  },
                  "submissions": {
                      "type": "array",
                      "items": {
                          "type": "object",
                          "properties": {
                              "nid": {
                                  "description": "Submission ID",
                                  "type": "string"
                              },
                              "urn": {
                                  "description": "Submission urn",
                                  "type": "string"
                              },
                              "created": {
                                  "description": "Submission created unix date",
                                  "type": "number"
                              },
                              "preset": {
                                  "description": "Submission preset",
                                  "type": "string"
                              },
                              "consultation_nid": {
                                  "description": "Submission consultation ID",
                                  "type": "string"
                              },
                              "submitter": {
                                  "description": "Submission submitter",
                                  "type": "object",
                                  "properties": {
                                      "uid": {
                                          "description": "Submission submitter uid",
                                          "type": "string"
                                      },
                                      "name": {
                                          "description": "Submission submitter name",
                                          "type": "string"
                                      },
                                      "mail": {
                                          "description": "Submission submitter mail",
                                          "type": "string"
                                      },
                                      "created": {
                                          "description": "Submission submitter created",
                                          "type": "string"
                                      },
                                      "status": {
                                          "description": "Submission submitter status",
                                          "type": "string"
                                      },
                                      "first_name": {
                                          "description": "Submission submitter first name",
                                          "type": "string"
                                      },
                                      "last_name": {
                                          "description": "Submission submitter last name",
                                          "type": "string"
                                      },
                                      "type": {
                                          "description": "Submission submitter type",
                                          "type": "string"
                                      },
                                      "phone_number": {
                                          "description": "Submission submitter phone",
                                          "type": "string"
                                      },
                                      "company_organisation": {
                                          "description": "Submission submitter company organisation",
                                          "type": "string"
                                      },
                                      "role_position": {
                                          "description": "Submission submitter role position",
                                          "type": "string"
                                      },
                                      "role": {
                                          "description": "Submission submitter role",
                                          "type": "string"
                                      },
                                      "age": {
                                          "description": "Submission submitter age",
                                          "type": "string"
                                      },
                                      "gender": {
                                          "description": "Submission submitter age",
                                          "type": "string"
                                      },
                                      "house_number_and_street": {
                                          "description": "Submission submitter house number and street",
                                          "type": "string"
                                      },
                                      "address_line_2": {
                                          "description": "Submission submitter address line 2",
                                          "type": "string"
                                      },
                                      "town": {
                                          "description": "Submission submitter town",
                                          "type": "string"
                                      },
                                      "county": {
                                          "description": "Submission submitter county",
                                          "type": "string"
                                      },
                                      "country": {
                                          "description": "Submission submitter country",
                                          "type": "string"
                                      },
                                      "postcode": {
                                          "description": "Submission submitter postcode",
                                          "type": "string"
                                      }
                                  }
                              },
                              "agent_planner": {
                                  "description": "Submission planner",
                                  "type": "string"
                              },
                              "from_agent": {
                                  "description": "Submission agent",
                                  "type": "string"
                              },
                              "withdrawn": {
                                  "description": "Is Observation withdrawn",
                                  "type": "string"
                              },
                              "withdraw_reason": {
                                  "description": "Submission withdraw reason",
                                  "type": "string"
[...]
