{
  "swagger": "2.0",
  "info": {
    "title": "Dynatrace",
    "description": "Dynatrace provides best-in-class observability through an open, AI-powered platform. This connector contains the endpoints for the Dynatrace Problems API.",
    "version": "1.0",
    "contact": {
      "name": "Connector Support",
      "url": "https://www.dynatrace.com/services-support/",
      "email": "microsoftalliances@dynatrace.com"
    }
  },
  "host": "abc123.dynatrace.com",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/problems": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalCount"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageSize"
                },
                "nextPageKey": {
                  "type": "string",
                  "description": "nextPageKey"
                },
                "problems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "affectedEntities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityId": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "id"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                }
                              },
                              "description": "entityId"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          }
                        },
                        "description": "affectedEntities"
                      },
                      "displayId": {
                        "type": "string",
                        "description": "displayId"
                      },
                      "impactedEntities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityId": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "id"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "type"
                                }
                              },
                              "description": "entityId"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            }
                          }
                        },
                        "description": "impactedEntities"
                      },
                      "linkedProblemInfo": {
                        "type": "object",
                        "properties": {
                          "displayId": {
                            "type": "string",
                            "description": "displayId"
                          },
                          "problemId": {
                            "type": "string",
                            "description": "problemId"
                          }
                        },
                        "description": "linkedProblemInfo"
                      },
                      "problemFilters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "id": {
                              "type": "string",
                              "description": "id"
                            }
                          }
                        },
                        "description": "problemFilters"
                      },
                      "evidenceDetails": {
                        "type": "object",
                        "properties": {
                          "totalCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "totalCount"
                          },
                          "details": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "evidenceType": {
                                  "type": "string",
                                  "description": "evidenceType"
                                },
                                "displayName": {
                                  "type": "string",
                                  "description": "displayName"
                                },
                                "entity": {
                                  "type": "object",
                                  "properties": {
                                    "entityId": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "id"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "type"
                                        }
                                      },
                                      "description": "entityId"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    }
                                  },
                                  "description": "entity"
                                },
                                "groupingEntity": {
                                  "type": "object",
                                  "properties": {
                                    "entityId": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "id"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "type"
                                        }
                                      },
                                      "description": "entityId"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    }
                                  },
                                  "description": "groupingEntity"
                                },
                                "rootCauseRelevant": {
                                  "type": "boolean",
                                  "description": "rootCauseRelevant"
                                },
                                "startTime": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "startTime"
                                }
                              }
                            },
                            "description": "details"
                          }
                        },
                        "description": "evidenceDetails"
                      },
                      "recentComments": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAtTimestamp": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "createdAtTimestamp"
                                },
                                "authorName": {
                                  "type": "string",
                                  "description": "authorName"
                                },
                                "context": {
                                  "type": "string",
                                  "description": "context"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "id"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "content"
                                }
                              }
                            },
                            "description": "comments"
                          },
                          "pageSize": {
                            "type": "integer",
                            "format": "int32",
                            "description": "pageSize"
                          },
                          "nextPageKey": {
                            "type": "string",
                            "description": "nextPageKey"
                          },
                          "totalCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "totalCount"
                          }
                        },
                        "description": "recentComments"
                      },
                      "impactAnalysis": {
                        "type": "object",
                        "properties": {
                          "impacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "impactType": {
                                  "type": "string",
                                  "description": "impactType"
                                },
                                "impactedEntity": {
                                  "type": "object",
                                  "properties": {
                                    "entityId": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "id"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "type"
                                        }
                                      },
                                      "description": "entityId"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "name"
                                    }
                                  },
                                  "description": "impactedEntity"
                                },
                                "estimatedAffectedUsers": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "estimatedAffectedUsers"
                                }
                              }
                            },
                            "description": "impacts"
                          }
                        },
                        "description": "impactAnalysis"
                      },
                      "rootCauseEntity": {
                        "type": "object",
                        "properties": {
                          "entityId": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "id"
                              },
                              "type": {
                                "type": "string",
                                "description": "type"
                              }
                            },
                            "description": "entityId"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          }
                        },
                        "description": "rootCauseEntity"
                      },
                      "managementZones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "id": {
                              "type": "string",
                              "description": "id"
                            }
                          }
                        },
                        "description": "managementZones"
                      },
                      "severityLevel": {
                        "type": "string",
                        "description": "severityLevel"
                      },
                      "entityTags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "stringRepresentation": {
                              "type": "string",
                              "description": "stringRepresentation"
                            },
                            "value": {
                              "type": "string",
                              "description": "value"
                            },
                            "key": {
                              "type": "string",
                              "description": "key"
                            },
                            "context": {
                              "type": "string",
                              "description": "context"
                            }
                          }
                        },
                        "description": "entityTags"
                      },
                      "problemId": {
                        "type": "string",
                        "description": "problemId"
                      },
                      "impactLevel": {
                        "type": "string",
                        "description": "impactLevel"
                      },
                      "status": {
                        "type": "string",
                        "description": "status"
                      },
                      "startTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "startTime"
                      },
                      "endTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "endTime"
                      },
                      "title": {
                        "type": "string",
                        "description": "title"
                      }
                    }
                  },
                  "description": "problems"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "warnings"
                }
              }
            }
          }
        },
        "summary": "Get Problems",
        "description": "Lists problems observed within the specified timeframe.",
        "operationId": "GetProblems",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Time Range",
            "description": "Range to query from. ex. 'now-1d'"
          }
        ]
      }
    },
    "/problems/{problem_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "problemId": {
                  "type": "string",
                  "description": "problemId"
                },
                "displayId": {
                  "type": "string",
                  "description": "displayId"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "impactLevel": {
                  "type": "string",
                  "description": "impactLevel"
                },
                "severityLevel": {
                  "type": "string",
                  "description": "severityLevel"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "affectedEntities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityId": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "entityId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "affectedEntities"
                },
                "impactedEntities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityId": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "type": {
                            "type": "string",
                            "description": "type"
                          }
                        },
                        "description": "entityId"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "impactedEntities"
                },
                "rootCauseEntity": {
                  "type": "string",
                  "description": "rootCauseEntity"
                },
                "managementZones": {
                  "type": "array",
                  "items": {},
                  "description": "managementZones"
                },
                "entityTags": {
                  "type": "array",
                  "items": {},
                  "description": "entityTags"
                },
                "problemFilters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      }
                    }
                  },
                  "description": "problemFilters"
                },
                "startTime": {
                  "type": "integer",
                  "format": "int32",
                  "description": "startTime"
                },
                "endTime": {
                  "type": "integer",
                  "format": "int32",
                  "description": "endTime"
                },
                "evidenceDetails": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalCount"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "evidenceType": {
                            "type": "string",
                            "description": "evidenceType"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "displayName"
                          },
                          "entity": {
                            "type": "object",
                            "properties": {
                              "entityId": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "id"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "type"
                                  }
                                },
                                "description": "entityId"
                              },
                              "name": {
                                "type": "string",
                                "description": "name"
                              }
                            },
                            "description": "entity"
                          },
                          "groupingEntity": {
                            "type": "string",
                            "description": "groupingEntity"
                          },
                          "rootCauseRelevant": {
                            "type": "boolean",
                            "description": "rootCauseRelevant"
                          },
                          "eventId": {
                            "type": "string",
                            "description": "eventId"
                          },
                          "eventType": {
                            "type": "string",
                            "description": "eventType"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "eventId": {
                                "type": "string",
                                "description": "eventId"
                              },
                              "startTime": {
                                "type": "integer",
                                "format": "int32",
                                "description": "startTime"
                              },
                              "endTime": {
                                "type": "integer",
                                "format": "int32",
                                "description": "endTime"
                              },
                              "eventType": {
                                "type": "string",
                                "description": "eventType"
                              },
                              "title": {
                                "type": "string",
                                "description": "title"
                              },
                              "entityId": {
                                "type": "object",
                                "properties": {
                                  "entityId": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "id"
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "type"
                                      }
                                    },
                                    "description": "entityId"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "name"
                                  }
                                },
                                "description": "entityId"
                              },
                              "properties": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string",
                                      "description": "key"
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "value"
                                    }
                                  }
                                },
                                "description": "properties"
                              },
                              "status": {
                                "type": "string",
                                "description": "status"
                              },
                              "correlationId": {
                                "type": "string",
                                "description": "correlationId"
                              },
                              "entityTags": {
                                "type": "array",
                                "items": {},
                                "description": "entityTags"
                              },
                              "managementZones": {
                                "type": "array",
                                "items": {},
                                "description": "managementZones"
                              },
                              "underMaintenance": {
                                "type": "boolean",
                                "description": "underMaintenance"
                              },
                              "suppressAlert": {
                                "type": "boolean",
                                "description": "suppressAlert"
                              },
                              "suppressProblem": {
                                "type": "boolean",
                                "description": "suppressProblem"
                              },
                              "frequentEvent": {
                                "type": "boolean",
                                "description": "frequentEvent"
                              }
                            },
                            "description": "data"
                          },
                          "startTime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "startTime"
                          },
                          "endTime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "endTime"
                          }
                        }
                      },
                      "description": "details"
                    }
                  },
                  "description": "evidenceDetails"
                },
                "recentComments": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "totalCount"
                    },
                    "comments": {
                      "type": "array",
                      "items": {},
                      "description": "comments"
                    }
                  },
                  "description": "recentComments"
                },
                "impactAnalysis": {
                  "type": "object",
                  "properties": {
                    "impacts": {
                      "type": "array",
                      "items": {},
                      "description": "impacts"
                    }
                  },
                  "description": "impactAnalysis"
                }
              }
            }
          }
        },
        "operationId": "GetProblemById",
        "summary": "Get Problems by ID",
        "description": "Gets the properties of the specified problem.",
        "parameters": [
          {
            "name": "problem_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Problem Id",
            "description": "The ID of the required problem",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/problems/{problemId}/comments": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "totalCount"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "pageSize"
                },
                "comments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "createdAtTimestamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "createdAtTimestamp"
                      },
                      "content": {
                        "type": "string",
                        "description": "content"
                      },
                      "authorName": {
                        "type": "string",
                        "description": "authorName"
                      }
                    }
                  },
                  "description": "comments"
                }
              }
            }
          }
        },
        "summary": "Get Problem Comments By Problem ID",
        "operationId": "GetProblemCommentsByProblemId",
        "description": "Gets all comments on the specified problem.",
        "parameters": [
          {
            "name": "problemId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Problem Id",
            "description": "The ID of the required problem",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/problems/{problemId}/comments/{commentId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "createdAtTimestamp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "createdAtTimestamp"
                },
                "content": {
                  "type": "string",
                  "description": "content"
                },
                "authorName": {
                  "type": "string",
                  "description": "authorName"
                }
              }
            }
          }
        },
        "operationId": "GetProblemCommentByProblemIdAndCommentId",
        "summary": "Get Problem Comment by Problem and Comment Id",
        "description": "Gets the specified comment on a problem.",
        "parameters": [
          {
            "name": "problemId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Problem Id",
            "description": "The ID of the required problem",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Comment Id",
            "description": "The ID of the required comment",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dynatrace.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.dynatrace.com/company/trust-center/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Business Intelligence"
    }
  ]
}