{
  "swagger": "2.0",
  "info": {
    "title": "Dynatrace",
    "description": "Dynatrace provides best-in-class observability through an open, AI-powered platform. This connector contains the endpoints for the Dynatrace Problems interface.",
    "version": "1.0",
    "contact": {
      "name": "Dynatrace Support",
      "url": "https://www.dynatrace.com/services-support/",
      "email": "microsoftalliances@dynatrace.com"
    }
  },
  "host": "abc123.dynatrace.com",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/problems": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Count"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Size"
                },
                "nextPageKey": {
                  "type": "string",
                  "description": "Next Page Key"
                },
                "problems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "affectedEntities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityId": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "ID"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type"
                                }
                              },
                              "description": "Entity ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            }
                          }
                        },
                        "description": "Affected Entities"
                      },
                      "displayId": {
                        "type": "string",
                        "description": "Display ID"
                      },
                      "impactedEntities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityId": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "ID"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Type"
                                }
                              },
                              "description": "Entity ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            }
                          }
                        },
                        "description": "Impacted Entities"
                      },
                      "linkedProblemInfo": {
                        "type": "object",
                        "properties": {
                          "displayId": {
                            "type": "string",
                            "description": "Display ID"
                          },
                          "problemId": {
                            "type": "string",
                            "description": "Problem ID"
                          }
                        },
                        "description": "Linked Problem Info"
                      },
                      "problemFilters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "id": {
                              "type": "string",
                              "description": "Id"
                            }
                          }
                        },
                        "description": "Problem Filters"
                      },
                      "evidenceDetails": {
                        "type": "object",
                        "properties": {
                          "totalCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total Count"
                          },
                          "details": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "evidenceType": {
                                  "type": "string",
                                  "description": "Evidence Type"
                                },
                                "displayName": {
                                  "type": "string",
                                  "description": "Display Name"
                                },
                                "entity": {
                                  "type": "object",
                                  "properties": {
                                    "entityId": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "ID"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "Type"
                                        }
                                      },
                                      "description": "Entity Id"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name"
                                    }
                                  },
                                  "description": "Entity"
                                },
                                "groupingEntity": {
                                  "type": "object",
                                  "properties": {
                                    "entityId": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "ID"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "Type"
                                        }
                                      },
                                      "description": "Entity Id"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name"
                                    }
                                  },
                                  "description": "Grouping Entity"
                                },
                                "rootCauseRelevant": {
                                  "type": "boolean",
                                  "description": "Root Cause Relevant"
                                },
                                "startTime": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "StartTime"
                                }
                              }
                            },
                            "description": "Details"
                          }
                        },
                        "description": "Evidence Details"
                      },
                      "recentComments": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAtTimestamp": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Created At Timestamp"
                                },
                                "authorName": {
                                  "type": "string",
                                  "description": "Author Name"
                                },
                                "context": {
                                  "type": "string",
                                  "description": "Context"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "ID"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "Content"
                                }
                              }
                            },
                            "description": "Comments"
                          },
                          "pageSize": {
                            "type": "integer",
                            "format": "int32",
                            "description": "PageSize"
                          },
                          "nextPageKey": {
                            "type": "string",
                            "description": "Next Page Key"
                          },
                          "totalCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total Count"
                          }
                        },
                        "description": "Recent Comments"
                      },
                      "impactAnalysis": {
                        "type": "object",
                        "properties": {
                          "impacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "impactType": {
                                  "type": "string",
                                  "description": "Impact Type"
                                },
                                "impactedEntity": {
                                  "type": "object",
                                  "properties": {
                                    "entityId": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "ID"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "Type"
                                        }
                                      },
                                      "description": "Entity Id"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Name"
                                    }
                                  },
                                  "description": "Impacted Entity"
                                },
                                "estimatedAffectedUsers": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Estimated Affected Users"
                                }
                              }
                            },
                            "description": "Impacts"
                          }
                        },
                        "description": "Impact Analysis"
                      },
                      "rootCauseEntity": {
                        "type": "object",
                        "properties": {
                          "entityId": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "ID"
                              },
                              "type": {
                                "type": "string",
                                "description": "Type"
                              }
                            },
                            "description": "Entity ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name"
                          }
                        },
                        "description": "Root Cause Entity"
                      },
                      "managementZones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "id": {
                              "type": "string",
                              "description": "ID"
                            }
                          }
                        },
                        "description": "Management Zones"
                      },
                      "severityLevel": {
                        "type": "string",
                        "description": "Severity Level"
                      },
                      "entityTags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "stringRepresentation": {
                              "type": "string",
                              "description": "String Representation"
                            },
                            "value": {
                              "type": "string",
                              "description": "Value"
                            },
                            "key": {
                              "type": "string",
                              "description": "Key"
                            },
                            "context": {
                              "type": "string",
                              "description": "Context"
                            }
                          }
                        },
                        "description": "Entity Tags"
                      },
                      "problemId": {
                        "type": "string",
                        "description": "Problem ID"
                      },
                      "impactLevel": {
                        "type": "string",
                        "description": "Impact Level"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "startTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Start Time"
                      },
                      "endTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "End Time"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title"
                      }
                    }
                  },
                  "description": "Problems"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Warnings"
                }
              }
            }
          }
        },
        "summary": "Get Problems",
        "description": "Lists problems observed within the specified timeframe.",
        "operationId": "GetProblems",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Time Range",
            "description": "Range of the query. Example: 'now-1d'"
          }
        ]
      }
    },
    "/problems/{problem_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "problemId": {
                  "type": "string",
                  "description": "Problem ID"
                },
                "displayId": {
                  "type": "string",
                  "description": "Display ID"
                },
                "title": {
                  "type": "string",
                  "description": "Title"
                },
                "impactLevel": {
                  "type": "string",
                  "description": "Impact Level"
                },
                "severityLevel": {
                  "type": "string",
                  "description": "Severity Level"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "affectedEntities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityId": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Id"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type"
                          }
                        },
                        "description": "Entity Id"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name"
                      }
                    }
                  },
                  "description": "Affected Entities"
                },
                "impactedEntities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityId": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type"
                          }
                        },
                        "description": "Entity ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name"
                      }
                    }
                  },
                  "description": "Impacted Entities"
                },
                "rootCauseEntity": {
                  "type": "string",
                  "description": "Root Cause Entity"
                },
                "managementZones": {
                  "type": "array",
                  "items": {},
                  "description": "Management Zones"
                },
                "entityTags": {
                  "type": "array",
                  "items": {},
                  "description": "Entity Tags"
                },
                "problemFilters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name"
                      }
                    }
                  },
                  "description": "Problem Filters"
                },
                "startTime": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Start Time"
                },
                "endTime": {
                  "type": "integer",
                  "format": "int32",
                  "description": "End Time"
                },
                "evidenceDetails": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total Count"
                    },
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "evidenceType": {
                            "type": "string",
                            "description": "Evidence Type"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Display Name"
                          },
                          "entity": {
                            "type": "object",
                            "properties": {
                              "entityId": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "ID"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Type"
                                  }
                                },
                                "description": "Entity Id"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name"
                              }
                            },
                            "description": "Entity"
                          },
                          "groupingEntity": {
                            "type": "string",
                            "description": "Grouping Entity"
                          },
                          "rootCauseRelevant": {
                            "type": "boolean",
                            "description": "Root Cause Relevant"
                          },
                          "eventId": {
                            "type": "string",
                            "description": "Event ID"
                          },
                          "eventType": {
                            "type": "string",
                            "description": "Event Type"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "eventId": {
                                "type": "string",
                                "description": "Event ID"
                              },
                              "startTime": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Start Time"
                              },
                              "endTime": {
                                "type": "integer",
                                "format": "int32",
                                "description": "End Time"
                              },
                              "eventType": {
                                "type": "string",
                                "description": "Event Type"
                              },
                              "title": {
                                "type": "string",
                                "description": "Title"
                              },
                              "entityId": {
                                "type": "object",
                                "properties": {
                                  "entityId": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "ID"
                                      },
                                      "type": {
                                        "type": "string",
                                        "description": "Type"
                                      }
                                    },
                                    "description": "Entity ID"
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "Name"
                                  }
                                },
                                "description": "Entity ID"
                              },
                              "properties": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "key": {
                                      "type": "string",
                                      "description": "Key"
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "Value"
                                    }
                                  }
                                },
                                "description": "Properties"
                              },
                              "status": {
                                "type": "string",
                                "description": "Status"
                              },
                              "correlationId": {
                                "type": "string",
                                "description": "Correlation ID"
                              },
                              "entityTags": {
                                "type": "array",
                                "items": {},
                                "description": "Entity Tags"
                              },
                              "managementZones": {
                                "type": "array",
                                "items": {},
                                "description": "Management Zones"
                              },
                              "underMaintenance": {
                                "type": "boolean",
                                "description": "Under Maintenance"
                              },
                              "suppressAlert": {
                                "type": "boolean",
                                "description": "Suppress Alert"
                              },
                              "suppressProblem": {
                                "type": "boolean",
                                "description": "Suppress Problem"
                              },
                              "frequentEvent": {
                                "type": "boolean",
                                "description": "Frequent Event"
                              }
                            },
                            "description": "Data"
                          },
                          "startTime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Start Time"
                          },
                          "endTime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "End Time"
                          }
                        }
                      },
                      "description": "Details"
                    }
                  },
                  "description": "Evidence Details"
                },
                "recentComments": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Total Count"
                    },
                    "comments": {
                      "type": "array",
                      "items": {},
                      "description": "Comments"
                    }
                  },
                  "description": "Recent Comments"
                },
                "impactAnalysis": {
                  "type": "object",
                  "properties": {
                    "impacts": {
                      "type": "array",
                      "items": {},
                      "description": "Impacts"
                    }
                  },
                  "description": "Impact Analysis"
                }
              }
            }
          }
        },
        "operationId": "GetProblemById",
        "summary": "Get Problem by ID",
        "description": "Gets the properties of the specified problem.",
        "parameters": [
          {
            "name": "problem_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Problem ID",
            "description": "The ID of the required problem",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/problems/{problemId}/comments": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Count"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Size"
                },
                "comments": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID"
                      },
                      "createdAtTimestamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Created At Timestamp"
                      },
                      "content": {
                        "type": "string",
                        "description": "Content"
                      },
                      "authorName": {
                        "type": "string",
                        "description": "Author Name"
                      }
                    }
                  },
                  "description": "Comments"
                }
              }
            }
          }
        },
        "summary": "Get Problem Comments By Problem ID",
        "operationId": "GetProblemCommentsByProblemId",
        "description": "Gets all comments on the specified problem.",
        "parameters": [
          {
            "name": "problemId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Problem ID",
            "description": "The ID of the required problem",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/problems/{problemId}/comments/{commentId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID"
                },
                "createdAtTimestamp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created At Timestamp"
                },
                "content": {
                  "type": "string",
                  "description": "Content"
                },
                "authorName": {
                  "type": "string",
                  "description": "Author Name"
                }
              }
            }
          }
        },
        "operationId": "GetProblemCommentByProblemIdAndCommentId",
        "summary": "Get Problem Comment by Problem ID and Comment ID",
        "description": "Gets the specified comment on a problem.",
        "parameters": [
          {
            "name": "problemId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Problem ID",
            "description": "The ID of the required problem",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Comment ID",
            "description": "The ID of the required comment",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dynatrace.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.dynatrace.com/company/trust-center/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Business Intelligence"
    }
  ]
}
