{
  "swagger": "2.0",
  "info": {
    "title": "Dynatrace",
    "description": "Dynatrace provides best-in-class observability through an open, AI-powered platform. This connector contains the endpoints for the Dynatrace Problems interface.",
    "version": "1.0",
    "contact": {
      "name": "Dynatrace Support",
      "url": "https://www.dynatrace.com/services-support/",
      "email": "microsoftalliances@dynatrace.com"
    }
  },
  "host": "abc123.dynatrace.com",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v2/problems": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Count"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Size"
                },
                "nextPageKey": {
                  "type": "string",
                  "description": "Next Page Key"
                },
                "problems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "affectedEntities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityId": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Affected Entity ID"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Affected Entity Type"
                                }
                              },
                              "description": "Affected Entity ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Affected Entity Name"
                            }
                          }
                        },
                        "description": "Affected Entities"
                      },
                      "displayId": {
                        "type": "string",
                        "description": "Display ID"
                      },
                      "impactedEntities": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "entityId": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Impacted Entity ID"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Impacted Entity Type"
                                }
                              },
                              "description": "Impacted Entity ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Impacted Entity Name"
                            }
                          }
                        },
                        "description": "Impacted Entities"
                      },
                      "linkedProblemInfo": {
                        "type": "object",
                        "properties": {
                          "displayId": {
                            "type": "string",
                            "description": "Linked Problem Display ID"
                          },
                          "problemId": {
                            "type": "string",
                            "description": "Linked Problem ID"
                          }
                        },
                        "description": "Linked Problem Info"
                      },
                      "problemFilters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Problem Filter Name"
                            },
                            "id": {
                              "type": "string",
                              "description": "Problem Filter ID"
                            }
                          }
                        },
                        "description": "Problem Filters"
                      },
                      "evidenceDetails": {
                        "type": "object",
                        "properties": {
                          "totalCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total Count"
                          },
                          "details": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "evidenceType": {
                                  "type": "string",
                                  "description": "Evidence Type"
                                },
                                "displayName": {
                                  "type": "string",
                                  "description": "Display Name"
                                },
                                "entity": {
                                  "type": "object",
                                  "properties": {
                                    "entityId": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "Evidence Details Entity ID"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "Evidence Details Entity Type"
                                        }
                                      },
                                      "description": "Entity ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Evidence Details Entity Name"
                                    }
                                  },
                                  "description": "Entity"
                                },
                                "groupingEntity": {
                                  "type": "object",
                                  "properties": {
                                    "entityId": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "Grouping Entity ID"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "Grouping Entity Type"
                                        }
                                      },
                                      "description": "Grouping Entity Id"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Grouping Entity Name"
                                    }
                                  },
                                  "description": "Grouping Entity"
                                },
                                "rootCauseRelevant": {
                                  "type": "boolean",
                                  "description": "Root Cause Relevant"
                                },
                                "startTime": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Evidence Details StartTime"
                                }
                              }
                            },
                            "description": "Details"
                          }
                        },
                        "description": "Evidence Details"
                      },
                      "recentComments": {
                        "type": "object",
                        "properties": {
                          "comments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "createdAtTimestamp": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Comment Created At Timestamp"
                                },
                                "authorName": {
                                  "type": "string",
                                  "description": "Comment Author Name"
                                },
                                "context": {
                                  "type": "string",
                                  "description": "Comment Context"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Comment ID"
                                },
                                "content": {
                                  "type": "string",
                                  "description": "Comment Content"
                                }
                              }
                            },
                            "description": "Comments"
                          },
                          "pageSize": {
                            "type": "integer",
                            "format": "int32",
                            "description": "PageSize"
                          },
                          "nextPageKey": {
                            "type": "string",
                            "description": "Next Page Key"
                          },
                          "totalCount": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Total Count"
                          }
                        },
                        "description": "Recent Comments"
                      },
                      "impactAnalysis": {
                        "type": "object",
                        "properties": {
                          "impacts": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "impactType": {
                                  "type": "string",
                                  "description": "Impact Type"
                                },
                                "impactedEntity": {
                                  "type": "object",
                                  "properties": {
                                    "entityId": {
                                      "type": "object",
                                      "properties": {
                                        "id": {
                                          "type": "string",
                                          "description": "Impacted Entity ID"
                                        },
                                        "type": {
                                          "type": "string",
                                          "description": "Impacted Entity Type"
                                        }
                                      },
                                      "description": "Impacted Entity ID"
                                    },
                                    "name": {
                                      "type": "string",
                                      "description": "Impacted Entity Name"
                                    }
                                  },
                                  "description": "Impacted Entity"
                                },
                                "estimatedAffectedUsers": {
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "Estimated Affected Users"
                                }
                              }
                            },
                            "description": "Impacts"
                          }
                        },
                        "description": "Impact Analysis"
                      },
                      "rootCauseEntity": {
                        "type": "object",
                        "properties": {
                          "entityId": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Root Cause Entity ID"
                              },
                              "type": {
                                "type": "string",
                                "description": "Root Cause Type"
                              }
                            },
                            "description": "Root Cause Entity ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Root Cause Entity Name"
                          }
                        },
                        "description": "Root Cause Entity"
                      },
                      "managementZones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Management Zone Name"
                            },
                            "id": {
                              "type": "string",
                              "description": "Management Zone ID"
                            }
                          }
                        },
                        "description": "Management Zones"
                      },
                      "severityLevel": {
                        "type": "string",
                        "description": "Severity Level"
                      },
                      "entityTags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "stringRepresentation": {
                              "type": "string",
                              "description": "Entity Tag String Representation"
                            },
                            "value": {
                              "type": "string",
                              "description": "Entity Tag Value"
                            },
                            "key": {
                              "type": "string",
                              "description": "Entity Tag Key"
                            },
                            "context": {
                              "type": "string",
                              "description": "Entity Tag Context"
                            }
                          }
                        },
                        "description": "Entity Tags"
                      },
                      "problemId": {
                        "type": "string",
                        "description": "Problem ID"
                      },
                      "impactLevel": {
                        "type": "string",
                        "description": "Impact Level"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "startTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Start Time"
                      },
                      "endTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "End Time"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title"
                      }
                    }
                  },
                  "description": "Problems"
                },
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Warnings"
                }
              }
            }
          }
        },
        "summary": "Get Problems",
        "description": "Lists problems observed within the specified timeframe.",
        "operationId": "GetProblems",
        "parameters": [
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Time Range",
            "description": "Range of the query. Example: 'now-1d'",
            "default": "now-2h"
          }
        ]
      }
    },
    "/api/v2/problems/{problem_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "evidenceDetails": {
                  "type": "object",
                  "properties": {
                    "details": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "evidenceType": {
                            "type": "string",
                            "description": "Evidence Type"
                          },
                          "displayName": {
                            "type": "string",
                            "description": "Display Name"
                          },
                          "entity": {
                            "type": "object",
                            "properties": {
                              "entityId": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Evidence Entity ID"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Evidence Entity Type"
                                  }
                                },
                                "description": "Evidence Entity ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Evidence Entity Name"
                              }
                            },
                            "description": "Entity"
                          },
                          "groupingEntity": {
                            "type": "object",
                            "properties": {
                              "entityId": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Grouping Entity ID"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Grouping Entity Type"
                                  }
                                },
                                "description": "Grouping Entity ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Grouping Entity Name"
                              }
                            },
                            "description": "Grouping Entity"
                          },
                          "rootCauseRelevant": {
                            "type": "boolean",
                            "description": "Root Cause Relevant"
                          },
                          "startTime": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Evidence Details Start Time"
                          }
                        }
                      },
                      "description": "Details"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Evidence Details Total Count"
                    }
                  },
                  "description": "Evidence Details"
                },
                "recentComments": {
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "authorName": {
                            "type": "string",
                            "description": "Recent Comments Author Name"
                          },
                          "createdAtTimestamp": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Recent Comments Created At Timestamp"
                          },
                          "context": {
                            "type": "string",
                            "description": "Recent Comments Context"
                          },
                          "id": {
                            "type": "string",
                            "description": "Recent Comments ID"
                          },
                          "content": {
                            "type": "string",
                            "description": "Recent Comments Content"
                          }
                        }
                      },
                      "description": "Comments"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Recent Comments Page Size"
                    },
                    "nextPageKey": {
                      "type": "string",
                      "description": "Recent Comments Next Page Key"
                    },
                    "totalCount": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Recent Comments Total Count"
                    }
                  },
                  "description": "Recent Comments"
                },
                "linkedProblemInfo": {
                  "type": "object",
                  "properties": {
                    "displayId": {
                      "type": "string",
                      "description": "Linked Problem Display ID"
                    },
                    "problemId": {
                      "type": "string",
                      "description": "Linked Problem ID"
                    }
                  },
                  "description": "Linked Problem Info"
                },
                "rootCauseEntity": {
                  "type": "object",
                  "properties": {
                    "entityId": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Root Cause Entity ID"
                        },
                        "type": {
                          "type": "string",
                          "description": "Root Cause Entity Type"
                        }
                      },
                      "description": "Root Cause Entity ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Root Cause Entity Name"
                    }
                  },
                  "description": "Root Cause Entity"
                },
                "impactedEntities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityId": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Impacted Entity ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "Impacted Entity Type"
                          }
                        },
                        "description": "Impacted Entity ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Impacted Entity Name"
                      }
                    }
                  },
                  "description": "Impacted Entities"
                },
                "impactAnalysis": {
                  "type": "object",
                  "properties": {
                    "impacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "impactType": {
                            "type": "string",
                            "description": "Impact Type"
                          },
                          "impactedEntity": {
                            "type": "object",
                            "properties": {
                              "entityId": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "string",
                                    "description": "Impacted Entity ID"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Impacted Entity Type"
                                  }
                                },
                                "description": "Impacted Entity ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "Impacted Entity Name"
                              }
                            },
                            "description": "Impacted Entity"
                          },
                          "estimatedAffectedUsers": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Estimated Affected Users"
                          }
                        }
                      },
                      "description": "Impacts"
                    }
                  },
                  "description": "Impact Analysis"
                },
                "problemFilters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Problem Filters Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "Problem Filters ID"
                      }
                    }
                  },
                  "description": "Problem Filters"
                },
                "impactLevel": {
                  "type": "string",
                  "description": "Impact Level"
                },
                "displayId": {
                  "type": "string",
                  "description": "Display ID"
                },
                "affectedEntities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityId": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Affected Entity ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "Affected Entity Type"
                          }
                        },
                        "description": "Affected Entity ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Affected Entity Name"
                      }
                    }
                  },
                  "description": "Affected Entities"
                },
                "managementZones": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Management Zone Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "Management Zone ID"
                      }
                    }
                  },
                  "description": "Management Zones"
                },
                "severityLevel": {
                  "type": "string",
                  "description": "Severity Level"
                },
                "entityTags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "stringRepresentation": {
                        "type": "string",
                        "description": "Entity Tag String Representation"
                      },
                      "value": {
                        "type": "string",
                        "description": "Entity Tag Value"
                      },
                      "key": {
                        "type": "string",
                        "description": "Entity Tag Key"
                      },
                      "context": {
                        "type": "string",
                        "description": "Entity Tag Context"
                      }
                    }
                  },
                  "description": "Entity Tags"
                },
                "problemId": {
                  "type": "string",
                  "description": "Problem ID"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "startTime": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Start Time"
                },
                "endTime": {
                  "type": "integer",
                  "format": "int32",
                  "description": "End Time"
                },
                "title": {
                  "type": "string",
                  "description": "Title"
                }
              }
            }
          }
        },
        "operationId": "GetProblemById",
        "summary": "Get Problem by ID",
        "description": "Gets the properties of the specified problem.",
        "parameters": [
          {
            "name": "problem_id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Problem ID",
            "description": "The ID of the required problem",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v2/problems/{problemId}/comments": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Problem Comment By Problem ID",
        "operationId": "GetProblemComments",
        "description": "Gets all comments on the specified problem",
        "parameters": [
          {
            "name": "problemId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Problem ID",
            "x-ms-summary": "Problem ID"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "parameters": [
          {
            "name": "problemId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Problem ID",
            "x-ms-summary": "Problem ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json;charset=utf-8",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "Message"
                },
                "context": {
                  "type": "string",
                  "description": "Context"
                }
              }
            }
          }
        ],
        "operationId": "PostProblemComment",
        "summary": "Post Problem Comment",
        "description": "Adds a new comment on the specified Problem"
      }
    },
    "/api/v2/problems/{problemId}/comments/{commentId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Comment ID"
                },
                "createdAtTimestamp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Created At Timestamp"
                },
                "content": {
                  "type": "string",
                  "description": "Comment Content"
                },
                "authorName": {
                  "type": "string",
                  "description": "Comment Author Name"
                }
              }
            }
          }
        },
        "operationId": "GetProblemCommentByProblemIdAndCommentId",
        "summary": "Get Problem Comment by Problem ID and Comment ID",
        "description": "Gets the specified comment on a problem.",
        "parameters": [
          {
            "name": "problemId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Problem ID",
            "description": "The ID of the required problem",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Comment ID",
            "description": "The ID of the required comment",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json; charset=utf-8",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/api/v2/events": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "warnings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Warnings"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "underMaintenance": {
                        "type": "boolean",
                        "description": "Under Maintenance"
                      },
                      "suppressAlert": {
                        "type": "boolean",
                        "description": "Suppress Alert"
                      },
                      "suppressProblem": {
                        "type": "boolean",
                        "description": "Suppress Problem"
                      },
                      "frequentEvent": {
                        "type": "boolean",
                        "description": "Frequent Event"
                      },
                      "properties": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "value": {
                              "type": "string",
                              "description": "Property Value"
                            },
                            "key": {
                              "type": "string",
                              "description": "Property Key"
                            }
                          }
                        },
                        "description": "Properties"
                      },
                      "correlationId": {
                        "type": "string",
                        "description": "Correlation ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "startTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Start Time"
                      },
                      "endTime": {
                        "type": "integer",
                        "format": "int32",
                        "description": "End Time"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "eventType": {
                        "type": "string",
                        "description": "Event Type"
                      },
                      "managementZones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Management Zone Name"
                            },
                            "id": {
                              "type": "string",
                              "description": "Management Zone ID"
                            }
                          }
                        },
                        "description": "Management Zones"
                      },
                      "eventId": {
                        "type": "string",
                        "description": "Event ID"
                      },
                      "entityTags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "stringRepresentation": {
                              "type": "string",
                              "description": "Entity Tag String Representation"
                            },
                            "value": {
                              "type": "string",
                              "description": "Entity Tag Value"
                            },
                            "key": {
                              "type": "string",
                              "description": "Entity Tag Key"
                            },
                            "context": {
                              "type": "string",
                              "description": "Entity Tag Context"
                            }
                          }
                        },
                        "description": "Entity Tags"
                      },
                      "entityId": {
                        "type": "object",
                        "properties": {
                          "entityId": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Entity ID"
                              },
                              "type": {
                                "type": "string",
                                "description": "Entity Type"
                              }
                            },
                            "description": "Entity ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Entity Name"
                          }
                        },
                        "description": "Entity ID"
                      }
                    }
                  },
                  "description": "Events"
                },
                "nextPageKey": {
                  "type": "string",
                  "description": "Next Page Key"
                },
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Count"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Size"
                }
              }
            }
          }
        },
        "summary": "Get Events",
        "description": "Lists events within the specified timeframe",
        "operationId": "GetEvents",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "now-2h",
            "description": "The start of the requested timeframe.",
            "x-ms-summary": "Time Frame"
          }
        ]
      }
    },
    "/api/v2/entities": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Count"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Size"
                },
                "nextPageKey": {
                  "type": "string",
                  "description": "Next Page Key"
                },
                "entities": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entityId": {
                        "type": "string",
                        "description": "Entity ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "Entity Type"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Entity Display Name"
                      },
                      "icon": {
                        "type": "object",
                        "properties": {
                          "primaryIconType": {
                            "type": "string",
                            "description": "Primary Icon Type"
                          },
                          "secondaryIconType": {
                            "type": "string",
                            "description": "Secondary Icon Type"
                          },
                          "customIconPath": {
                            "type": "string",
                            "description": "Custom Icon Path"
                          }
                        },
                        "description": "icon"
                      },
                      "firstSeenTms": {
                        "type": "integer",
                        "format": "int32",
                        "description": "First Seen Times"
                      },
                      "lastSeenTms": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Last Seen Times"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "bitness": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Bitness"
                          },
                          "monitoringMode": {
                            "type": "string",
                            "description": "Monitoring Mode"
                          },
                          "osType": {
                            "type": "string",
                            "description": "OS Type"
                          },
                          "osArchitecture": {
                            "type": "string",
                            "description": "OS Architecture"
                          },
                          "networkZoneId": {
                            "type": "string",
                            "description": "Network Zone Id"
                          },
                          "cpuCores": {
                            "type": "integer",
                            "format": "int32",
                            "description": "CPU Cores"
                          }
                        },
                        "description": "properties"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "context": {
                              "type": "string",
                              "description": "Tag Context"
                            },
                            "key": {
                              "type": "string",
                              "description": "Tag Key"
                            },
                            "value": {
                              "type": "string",
                              "description": "Tag Value"
                            },
                            "stringRepresentation": {
                              "type": "string",
                              "description": "Tag String Representation"
                            }
                          }
                        },
                        "description": "Tags"
                      },
                      "managementZones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "Management Zone ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Management Zone Name"
                            }
                          }
                        },
                        "description": "Management Zones"
                      },
                      "fromRelationships": {
                        "type": "object",
                        "properties": {
                          "isInstanceOf": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Is Instance Of ID"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Is Instance Of Type"
                                }
                              }
                            },
                            "description": "Is Instance Of"
                          }
                        },
                        "description": "From Relationships"
                      },
                      "toRelationships": {
                        "type": "object",
                        "properties": {
                          "isDiskOf": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Is Disk Of ID"
                                },
                                "type": {
                                  "type": "string",
                                  "description": "Is Disk Of Type"
                                }
                              }
                            },
                            "description": "Is Disk Of"
                          }
                        },
                        "description": "To Relationships"
                      }
                    }
                  },
                  "description": "Entities"
                }
              }
            }
          }
        },
        "summary": "Get Entities",
        "description": "Gets the information about monitored entites",
        "operationId": "GetEntities",
        "parameters": [
          {
            "name": "entitySelector",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "type(\"Host\")",
            "description": "Defines the scope of the query. Only entities matching the specified criteria are included into response.",
            "x-ms-summary": "Entity Selector"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "now-3d",
            "description": "The start of the requested timeframe.",
            "x-ms-summary": "Time Range"
          }
        ]
      }
    },
    "/api/v2/entities/{entityId}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "entityId": {
                  "type": "string",
                  "description": "Entity ID"
                },
                "type": {
                  "type": "string",
                  "description": "Entity Type"
                },
                "displayName": {
                  "type": "string",
                  "description": "Entity Display Name"
                },
                "icon": {
                  "type": "object",
                  "properties": {
                    "primaryIconType": {
                      "type": "string",
                      "description": "Primary Icon Type"
                    },
                    "secondaryIconType": {
                      "type": "string",
                      "description": "Secondary Icon Type"
                    },
                    "customIconPath": {
                      "type": "string",
                      "description": "Custom Icon Path"
                    }
                  },
                  "description": "Icon"
                },
                "firstSeenTms": {
                  "type": "integer",
                  "format": "int32",
                  "description": "First Seen Times"
                },
                "lastSeenTms": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Last Seen Times"
                },
                "properties": {
                  "type": "object",
                  "properties": {
                    "bitness": {
                      "type": "string",
                      "format": "",
                      "description": "Bitness",
                      "title": ""
                    },
                    "monitoringMode": {
                      "type": "string",
                      "description": "Monitoring Mode"
                    },
                    "osType": {
                      "type": "string",
                      "description": "OS Type"
                    },
                    "osArchitecture": {
                      "type": "string",
                      "description": "OS Architecture"
                    },
                    "networkZoneId": {
                      "type": "string",
                      "description": "Network Zone ID"
                    },
                    "cpuCores": {
                      "type": "integer",
                      "format": "int32",
                      "description": "CPU Cores"
                    },
                    "ipAddress": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "IP Address"
                    }
                  },
                  "description": "Properties"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "context": {
                        "type": "string",
                        "description": "Tag Context"
                      },
                      "key": {
                        "type": "string",
                        "description": "Tag Key"
                      },
                      "value": {
                        "type": "string",
                        "description": "Tag Value"
                      },
                      "stringRepresentation": {
                        "type": "string",
                        "description": "Tag String Representation"
                      }
                    }
                  },
                  "description": "Tags"
                },
                "managementZones": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Management Zone ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "Management Zone Name"
                      }
                    }
                  },
                  "description": "Management Zones"
                },
                "fromRelationships": {
                  "type": "object",
                  "properties": {
                    "isInstanceOf": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Is Instance Of ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "Is Instance Of Type"
                          }
                        }
                      },
                      "description": "Is Instance Of"
                    }
                  },
                  "description": "From Relationships"
                },
                "toRelationships": {
                  "type": "object",
                  "properties": {
                    "isDiskOf": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Is Disk Of ID"
                          },
                          "type": {
                            "type": "string",
                            "description": "Is Disk Of Type"
                          }
                        }
                      },
                      "description": "Is Disk Of"
                    }
                  },
                  "description": "To Relationships"
                }
              }
            }
          }
        },
        "summary": "Get Entity By ID",
        "description": "Gets the Properties of the Specified Monitored Entity",
        "operationId": "GetEntityById",
        "parameters": [
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the specified monitored entity",
            "x-ms-summary": "Entity ID"
          }
        ]
      }
    },
    "/api/v2/events/ingest": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Post Event Ingest",
        "operationId": "PostEventIngest",
        "description": "Ingests a custom event",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json;charset=utf-8",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "eventType": {
                  "type": "string",
                  "description": "Event Type",
                  "title": ""
                },
                "title": {
                  "type": "string",
                  "description": "Title",
                  "title": ""
                },
                "startTime": {
                  "type": "string",
                  "format": "",
                  "description": "Start Time",
                  "title": ""
                },
                "endTime": {
                  "type": "string",
                  "format": "",
                  "description": "End Time",
                  "title": ""
                },
                "timeout": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Timeout"
                },
                "entitySelector": {
                  "type": "string",
                  "description": "Entity Selector"
                },
                "properties": {
                  "type": "object",
                  "description": "Properties"
                }
              },
              "required": [
                "eventType",
                "title"
              ]
            }
          }
        ]
      }
    },
    "/api/v2/securityProblems": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "totalCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total Count"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Page Size"
                },
                "nextPageKey": {
                  "type": "string",
                  "description": "Next Page Key"
                },
                "securityProblems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "securityProblemId": {
                        "type": "string",
                        "description": "Security Problem ID"
                      },
                      "displayId": {
                        "type": "string",
                        "description": "Display ID"
                      },
                      "status": {
                        "type": "string",
                        "description": "Status"
                      },
                      "muted": {
                        "type": "boolean",
                        "description": "Muted"
                      },
                      "externalVulnerabilityId": {
                        "type": "string",
                        "description": "External Vulnerability ID"
                      },
                      "vulnerabilityType": {
                        "type": "string",
                        "description": "Vulnerability Type"
                      },
                      "title": {
                        "type": "string",
                        "description": "Title"
                      },
                      "packageName": {
                        "type": "string",
                        "description": "Package Name"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL"
                      },
                      "technology": {
                        "type": "string",
                        "description": "Technology"
                      },
                      "firstSeenTimestamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "First Seen Timestamp"
                      },
                      "lastUpdatedTimestamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Last Updated Timestamp"
                      },
                      "riskAssessment": {
                        "type": "object",
                        "properties": {
                          "riskLevel": {
                            "type": "string",
                            "description": "Risk Level"
                          },
                          "riskScore": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Risk Score"
                          },
                          "riskVector": {
                            "type": "string",
                            "description": "Risk Vector"
                          },
                          "baseRiskLevel": {
                            "type": "string",
                            "description": "Base Risk Level"
                          },
                          "baseRiskScore": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Base Risk Score"
                          },
                          "baseRiskVector": {
                            "type": "string",
                            "description": "Base Risk Vector"
                          },
                          "exposure": {
                            "type": "string",
                            "description": "Exposure"
                          },
                          "dataAssets": {
                            "type": "string",
                            "description": "Data Assets"
                          },
                          "publicExploit": {
                            "type": "string",
                            "description": "Public Exploit"
                          },
                          "vulnerableFunctionUsage": {
                            "type": "string",
                            "description": "Vulnerable Function Usage"
                          }
                        },
                        "description": "Risk Assessment"
                      },
                      "managementZones": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Management Zone Name"
                            },
                            "id": {
                              "type": "string",
                              "description": "Management Zone ID"
                            }
                          }
                        },
                        "description": "Management Zones"
                      },
                      "cveIds": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "CVE IDs"
                      }
                    }
                  },
                  "description": "Security Problems"
                }
              }
            }
          }
        },
        "summary": "Get Security Problems",
        "description": "Lists all security Problems",
        "operationId": "GetSecurityProblems",
        "parameters": [
          {
            "name": "securityProblemSelector",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "status(\"open\")",
            "description": "Defines scope of the query. Only security problems matching the specified criteria are included in the response",
            "x-ms-summary": "Security Problem Selector"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "now-30d",
            "x-ms-summary": "Time Range",
            "description": "The start of the requested timeframe"
          }
        ]
      }
    },
    "/api/v2/securityProblems/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "securityProblemId": {
                  "type": "string",
                  "description": "Security Problem ID"
                },
                "displayId": {
                  "type": "string",
                  "description": "Display ID"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "muted": {
                  "type": "boolean",
                  "description": "Muted"
                },
                "externalVulnerabilityId": {
                  "type": "string",
                  "description": "External Vulnerability ID"
                },
                "vulnerabilityType": {
                  "type": "string",
                  "description": "Vulnerability Type"
                },
                "title": {
                  "type": "string",
                  "description": "Title"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package Name"
                },
                "url": {
                  "type": "string",
                  "description": "URL"
                },
                "description": {
                  "type": "string",
                  "description": "Description"
                },
                "technology": {
                  "type": "string",
                  "description": "Technology"
                },
                "firstSeenTimestamp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "First Seen Timestamp"
                },
                "lastUpdatedTimestamp": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Last Updated Timestamp"
                },
                "riskAssessment": {
                  "type": "object",
                  "properties": {
                    "riskLevel": {
                      "type": "string",
                      "description": "Risk Level"
                    },
                    "riskScore": {
                      "type": "number",
                      "format": "float",
                      "description": "Risk Score",
                      "title": ""
                    },
                    "riskVector": {
                      "type": "string",
                      "description": "Risk Vector"
                    },
                    "baseRiskLevel": {
                      "type": "string",
                      "description": "Base Risk Level"
                    },
                    "baseRiskScore": {
                      "type": "number",
                      "format": "float",
                      "description": "Base Risk Score",
                      "title": ""
                    },
                    "baseRiskVector": {
                      "type": "string",
                      "description": "Base Risk Vector"
                    },
                    "exposure": {
                      "type": "string",
                      "description": "Exposure"
                    },
                    "dataAssets": {
                      "type": "string",
                      "description": "Data Assets"
                    },
                    "publicExploit": {
                      "type": "string",
                      "description": "Public Exploit"
                    },
                    "vulnerableFunctionUsage": {
                      "type": "string",
                      "description": "Vulnerable Function Usage"
                    }
                  },
                  "description": "Risk Assessment"
                },
                "managementZones": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Management Zone Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "Managment Zone ID"
                      }
                    }
                  },
                  "description": "Management Zones"
                },
                "cveIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "CVE IDs"
                },
                "events": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "timestamp": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Event Timestamp"
                      },
                      "reason": {
                        "type": "string",
                        "description": "Event Reason"
                      },
                      "riskAssessmentSnapshot": {
                        "type": "object",
                        "properties": {
                          "numberOfAffectedEntities": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number Of Affected Entities"
                          },
                          "numberOfReachableDataAssets": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Number Of Reachable Data Assets"
                          },
                          "publicExploit": {
                            "type": "string",
                            "description": "Public Exploit"
                          },
                          "exposure": {
                            "type": "string",
                            "description": "Exposure"
                          },
                          "vulnerableFunctionUsage": {
                            "type": "string",
                            "description": "Vulnerable Function Usage"
                          }
                        },
                        "description": "Risk Assessment Snapshot"
                      },
                      "muteState": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "string",
                            "description": "Mute State User"
                          },
                          "reason": {
                            "type": "string",
                            "description": "Mute State Reason"
                          },
                          "comment": {
                            "type": "string",
                            "description": "Mute State Comment"
                          }
                        },
                        "description": "Mute State"
                      }
                    }
                  },
                  "description": "Events"
                },
                "vulnerableComponents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Vulnerable Components ID"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Vulnerable Componenets Display Name"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "Vulnerable Components File Name"
                      },
                      "numberOfAffectedEntities": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Vulnerable Components Number Of Affected Entities"
                      },
                      "affectedEntities": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Affected Entities"
                      }
                    }
                  },
                  "description": "Vulnerable Components"
                },
                "affectedEntities": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Affected Entities"
                },
                "exposedEntities": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Exposed Entities"
                },
                "reachableDataAssets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Reachable Data Assets"
                },
                "relatedEntities": {
                  "type": "object",
                  "properties": {
                    "applications": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Application ID"
                          },
                          "numberOfAffectedEntities": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Application Number Of Affected Entities"
                          },
                          "affectedEntities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Application Affected Entities"
                          }
                        }
                      },
                      "description": "Applications"
                    },
                    "services": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Service ID"
                          },
                          "numberOfAffectedEntities": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Service Number Of Affected Entities"
                          },
                          "affectedEntities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Service Affected Entities"
                          },
                          "exposure": {
                            "type": "string",
                            "description": "Exposure"
                          }
                        }
                      },
                      "description": "Services"
                    },
                    "hosts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Host ID"
                          },
                          "numberOfAffectedEntities": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Host Number Of Affected Entities"
                          },
                          "affectedEntities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Host Affected Entities"
                          }
                        }
                      },
                      "description": "Hosts"
                    },
                    "databases": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Databases"
                    },
                    "kubernetesWorkloads": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Kubernetes Workload ID"
                          },
                          "numberOfAffectedEntities": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Kubernetes Workload Number Of Affected Entities"
                          },
                          "affectedEntities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Kubernetes Workload Affected Entities"
                          }
                        }
                      },
                      "description": "Kubernetes Workloads"
                    },
                    "kubernetesClusters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Kubernetes Cluster ID"
                          },
                          "numberOfAffectedEntities": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Kubernetes Cluder Number Of Affected Entities"
                          },
                          "affectedEntities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Kubernetes Cluster Affected Entities"
                          }
                        }
                      },
                      "description": "Kubernetes Clusters"
                    }
                  },
                  "description": "Related Entities"
                },
                "relatedContainerImages": {
                  "type": "object",
                  "properties": {
                    "containerImages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "imageId": {
                            "type": "string",
                            "description": "Related Container Image ID"
                          },
                          "imageName": {
                            "type": "string",
                            "description": "Related Container Image Name"
                          },
                          "numberOfAffectedEntities": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Related Container Number Of Affected Entities"
                          },
                          "affectedEntities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Related Container Affected Entities"
                          }
                        }
                      },
                      "description": "Container Images"
                    }
                  },
                  "description": "Related Container Images"
                },
                "muteStateChangeInProgress": {
                  "type": "boolean",
                  "description": "Mute State Change In Progress"
                }
              }
            }
          }
        },
        "operationId": "GetSecurityProblemsById",
        "summary": "Get Security Problems By ID",
        "description": "Get parameters of a security problems",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the specified security problem",
            "x-ms-summary": "Secuirty Problem ID"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A list of additional security problem properties you can add to the response. To add properties, specify them in a comma separated list and prefix each property with a plus (for example, +riskAssessment,+managementZones).",
            "x-ms-summary": "Fields"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.dynatrace.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.dynatrace.com/company/trust-center/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "AI;Business Intelligence"
    }
  ]
}