{
    "swagger": "2.0",
    "info": {
        "title": "Tabscanner Receipt OCR",
        "version": "1.0.0",
        "description": "The Tabscanner API provides powerful Optical Character Recognition (OCR) technology to extract structured data from images of receipts with high accuracy.\nDesigned for developers and businesses, this API simplifies the process of digitizing receipts, enabling seamless integration with financial systems, expense tracking platforms, and data analytics solutions.\n",
        "contact": {
            "name": "Ben Smith",
            "url": "https://github.com/tokyoben",
            "email": "ben.smith.dev@gmail.com"
        }
    },
    "host": "api3.tabscanner.com",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/2/processbase64": {
            "post": {
                "tags": [
                    "default"
                ],
                "summary": "Submit a receipt for processing",
                "description": "Submit JSON data to the Tabscanner system.",
                "operationId": "Process",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "image": {
                                    "type": "string",
                                    "description": "Base64-encoded receipt image. Can accept JPG and PNG file formats.",
                                    "example": "data:image/jpeg;base64,/9j/4AAQ..."
                                },
                                "region": {
                                    "type": "string",
                                    "description": "The 2-alpha ISO country code of the supported country.",
                                    "example": "hk"
                                },
                                "documentType": {
                                    "type": "string",
                                    "description": "Accepts a string value. Must be receipt, invoice or auto.",
                                    "example": "receipt"
                                },
                                "defaultDateParsing": {
                                    "type": "string",
                                    "description": "Accepts a string value. Must be m/d or d/m.",
                                    "example": "m/d"
                                },
                                "decimalPlaces": {
                                    "type": "string",
                                    "description": "Accepts an integer value should be 0, 1 or 3.",
                                    "example": 2
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Process"
                        }
                    }
                }
            }
        },
        "/api/result/{token}": {
            "get": {
                "tags": [
                    "default"
                ],
                "summary": "Retrieve the result of a receipt image submitted for processing",
                "description": "This operation returns the result of the processed receipt image.",
                "operationId": "Result",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "x-ms-summary": "Unique token",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique token to identify the processing request."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/Result"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Process": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "example": "SUCCESS: Image uploaded successfully"
                },
                "status": {
                    "type": "string",
                    "example": "success"
                },
                "status_code": {
                    "type": "integer",
                    "format": "int32",
                    "example": 2
                },
                "token": {
                    "type": "string",
                    "example": "WdoHFx2fojq9b0Qd"
                },
                "success": {
                    "type": "boolean",
                    "example": true
                },
                "code": {
                    "type": "integer",
                    "format": "int32",
                    "example": 200
                },
                "duplicate": {
                    "type": "boolean",
                    "example": true
                },
                "duplicateToken": {
                    "type": "string",
                    "example": "kV96aAhXeuE8iDkO"
                }
            }
        },
        "Result": {
            "type": "object",
            "properties": {
                "URL": {
                    "type": "string",
                    "example": "TARGET.COM"
                },
                "tax": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                },
                "tip": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                },
                "url": {
                    "type": "string",
                    "example": "target.com"
                },
                "total": {
                    "type": "number",
                    "example": 28.1
                },
                "address": {
                    "type": "string",
                    "example": "West Hollywood, Santa Monica Blvd, West Hollywood, CA 90046"
                },
                "date": {
                    "type": "string",
                    "format": "date-time"
                }
            }
        }
    },
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "in": "header",
            "name": "apikey"
        }
    },
    "security": [
        {
            "api_key": []
        }
    ],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://www.tabscanner.com"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://tabscanner.com/privacy-policy/"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Data;Productivity"
        }
    ]
}