{
  "swagger": "2.0",
  "info": {
    "title": "URL.dev",
    "description": "Create a short, temporary, self-destructing link to a website or message.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "url.api.stdlib.com",
  "basePath": "/temporary@0.3.0/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/create/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "key": {
                  "type": "string",
                  "description": "The key.",
                  "title": "Key"
                },
                "ttl": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The TTL.",
                  "title": "TTL"
                },
                "link_url": {
                  "type": "string",
                  "description": "The link URL address.",
                  "title": "Link URL"
                }
              }
            }
          }
        },
        "summary": "Create link",
        "description": "Create a short, temporary, self-destructing link to a website.",
        "operationId": "LinkPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "ttl": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The TTL.",
                  "title": "TTL",
                  "minimum": 60,
                  "maximum": 604800
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      }
    },
    "/destroy/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "boolean"
            }
          }
        },
        "summary": "Destroy link",
        "description": "Destroy a previously created link.",
        "operationId": "LinkDelete",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The key.",
                  "title": "Key"
                }
              }
            }
          }
        ]
      }
    },
    "/messages/create/": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "key": {
                  "type": "string",
                  "description": "The key.",
                  "title": "Key"
                },
                "ttl": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The TTL.",
                  "title": "TTL"
                },
                "message_url": {
                  "type": "string",
                  "description": "The messsage URL address.",
                  "title": "Message URL"
                }
              }
            }
          }
        },
        "summary": "Create message",
        "description": "Create a temporary, self-destructing link to a message.",
        "operationId": "MessagePost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "ttl": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The TTL.",
                  "title": "TTL",
                  "minimum": 60,
                  "maximum": 604800
                }
              },
              "required": [
                "message"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://autocode.com/url/api/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://autocode.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media;Website"
    }
  ]
}