{
  "swagger": "2.0",
  "info": {
    "title": "Mailjet Contact Management",
    "description": "Contact Management in Mailjet is built to help you connect your contacts to mailjet making them easier to use in campaigns.",
    "version": "1.0",
    "contact": {
      "name": "Mailjet Support",
      "url": "https://www.mailjet.com/feature/support/",
      "email": "contact@mailjet.com"
    }
  },
  "host": "api.mailjet.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.mailjet.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.mailjet.com/security-privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management; Business Intelligence"
    }
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v3/REST/contact": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a Contact",
        "operationId": "CreateAContact",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "IsExcludedFromCampaigns": {
                  "type": "string",
                  "description": "IsExcludedFromCampaigns"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "Email": {
                  "type": "string",
                  "description": "Email"
                }
              }
            }
          }
        ],
        "description": "To create a new contact."
      }
    },
    "/v3/REST/contactmetadata": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Manage Contact Properties",
        "operationId": "AddContactProperty",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Datatype": {
                  "type": "string",
                  "description": "Datatype"
                },
                "Name": {
                  "type": "string",
                  "description": "Name"
                },
                "NameSpace": {
                  "type": "string",
                  "description": "NameSpace"
                }
              }
            }
          }
        ],
        "description": "To add custom attributes."
      }
    },
    "/v3/REST/contactdata/{contact_ID}": {
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add, Edit or Update Saved Contact",
        "operationId": "AddEditUpdateSavedContact",
        "parameters": [
          {
            "name": "contact_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "contact_ID",
            "x-ms-summary": "contact_ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "contact_ID",
            "x-ms-summary": "contact_ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "Value": {
                        "type": "string",
                        "description": "Value"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        ],
        "description": "To add, edit or update the data saved for a specific contact."
      }
    },
    "/v3/REST/contactslist": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a Contact List",
        "operationId": "CreateAContactList",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Name": {
                  "type": "string",
                  "description": "Name"
                }
              }
            }
          }
        ],
        "description": "To create a contact list."
      }
    },
    "/v3/REST/listrecipient": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Add a Contact to a Contact List",
        "operationId": "AddAContactToAContactList",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "IsUnsubscribed": {
                  "type": "string",
                  "description": "IsUnsubscribed"
                },
                "ContactID": {
                  "type": "string",
                  "description": "ContactID"
                },
                "ContactAlt": {
                  "type": "string",
                  "description": "ContactAlt"
                },
                "ListID": {
                  "type": "string",
                  "description": "ListID"
                },
                "ListAlt": {
                  "type": "string",
                  "description": "ListAlt"
                }
              }
            }
          }
        ],
        "description": "To add a contact to a list."
      }
    },
    "/v3/REST/contact/{contact_ID}/managecontactslists": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Manage Subscription Status of an Existing Contact",
        "operationId": "ManageSubscribtionStatusOfExistingContact",
        "parameters": [
          {
            "name": "contact_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "contact_ID",
            "x-ms-summary": "contact_ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "ContactsLists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Action": {
                        "type": "string",
                        "description": "Action"
                      },
                      "ListID": {
                        "type": "string",
                        "description": "ListID"
                      }
                    }
                  },
                  "description": "ContactsLists"
                }
              }
            }
          }
        ],
        "description": "To manage a Contact subscription for one or multiple Lists."
      }
    },
    "/v3/REST/contactslist/{list_ID}/managemanycontacts": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Monitor the Upload Job",
        "operationId": "MonitorTheUploadJob",
        "parameters": [
          {
            "name": "list_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "list_ID",
            "x-ms-summary": "list_ID"
          }
        ],
        "description": "Use the JobID returned in the response of the \"Manage My Contacts\" request to follow the upload process."
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Manage Multiple Contacts in a List",
        "operationId": "ManageMultipleContactsInList",
        "parameters": [
          {
            "name": "list_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "list_ID",
            "x-ms-summary": "list_ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Action": {
                  "type": "string",
                  "description": "Action"
                },
                "Contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      },
                      "IsExcludedFromCampaigns": {
                        "type": "string",
                        "description": "IsExcludedFromCampaigns"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "Properties": {
                        "type": "string",
                        "description": "Properties"
                      }
                    }
                  },
                  "description": "Contacts"
                }
              }
            }
          }
        ],
        "description": "To add, remove or unsubscribe multiple contacts to / from a list. This resource is asynchronous and will return a JobID, which you can use to monitor the process."
      }
    },
    "/v3/REST/contact/managemanycontacts": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Manage Multiple Contacts Across Multiple Lists",
        "operationId": "ManageMultipleContactsAcrossMultipleLists",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "Contacts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Email": {
                        "type": "string",
                        "description": "Email"
                      },
                      "IsExcludedFromCampaigns": {
                        "type": "string",
                        "description": "IsExcludedFromCampaigns"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name"
                      },
                      "Properties": {
                        "type": "string",
                        "description": "Properties"
                      }
                    }
                  },
                  "description": "Contacts"
                },
                "ContactsLists": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Action": {
                        "type": "string",
                        "description": "Action"
                      },
                      "ListID": {
                        "type": "string",
                        "description": "ListID"
                      }
                    }
                  },
                  "description": "ContactsLists"
                }
              }
            }
          }
        ],
        "description": "To add, remove or unsubscribe multiple contacts to / from multiple lists."
      }
    },
    "/v3/REST/contact/{ID_OR_EMAIL}": {
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Single Contact Exclusion",
        "operationId": "SingleContactExclusion",
        "parameters": [
          {
            "name": "ID_OR_EMAIL",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID_OR_EMAIL",
            "x-ms-summary": "ID_OR_EMAIL"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "IsExcludedFromCampaigns": {
                  "type": "string",
                  "description": "IsExcludedFromCampaigns"
                }
              }
            }
          }
        ],
        "description": "To add a single contact to the exclusion list, you simply need to modify its \"IsExcludedFromCampaigns\" property to true."
      }
    },
    "/v3/REST/contact/{CONTACT_EMAIL}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve a Contact",
        "operationId": "RetrieveAContact",
        "parameters": [
          {
            "name": "CONTACT_EMAIL",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "CONTACT_EMAIL",
            "x-ms-summary": "CONTACT_EMAIL"
          }
        ],
        "description": "To retrieve a contact."
      }
    },
    "/v4/contacts/{contact_ID}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete the Contact",
        "operationId": "DeleteTheContact",
        "parameters": [
          {
            "name": "contact_ID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "contact_ID",
            "x-ms-summary": "contact_ID"
          }
        ],
        "description": "To delete a contact."
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "basic"
    }
  },
  "security": [],
  "tags": []
}