{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Personr",
        "description": "Create, verify and retrieve applicant data using Personr. Effortlessly verify identity and detect complex fraud.",
        "contact": {
            "name": "Full name",
            "url": "https://personr.co/contact",
            "email": "help@personr.co"
        }
    },
    "host": "enterprise.personr.co",
    "basePath": "/api/1.1/wf/",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/api-token-generate": {},
        "/api-applicant-create": {
            "post": {
                "summary": "Create Applicant",
                "description": "Create a new verification applicant.",
                "operationId": "Api-applicant-create",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "description": "email",
                                    "title": "Email Address"
                                },
                                "phone": {
                                    "type": "string",
                                    "description": "phone",
                                    "title": "Phone Number"
                                },
                                "nameFirst": {
                                    "type": "string",
                                    "description": "nameFirst",
                                    "title": "First Name"
                                },
                                "nameLast": {
                                    "type": "string",
                                    "description": "nameLast",
                                    "title": "Last Name"
                                },
                                "flowName": {
                                    "type": "string",
                                    "description": "flowName",
                                    "title": "Applicant Flow"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "status"
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {
                                        "applicantId": {
                                            "type": "string",
                                            "description": "applicantId"
                                        },
                                        "email": {
                                            "type": "string",
                                            "description": "email"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "description": "phone"
                                        },
                                        "nameFirst": {
                                            "type": "string",
                                            "description": "nameFirst"
                                        },
                                        "nameLast": {
                                            "type": "string",
                                            "description": "nameLast"
                                        },
                                        "flowName": {
                                            "type": "string",
                                            "description": "flowName"
                                        },
                                        "applicantStatus": {
                                            "type": "string",
                                            "description": "applicantStatus"
                                        }
                                    },
                                    "description": "response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api-verificationlink-create": {
            "post": {
                "summary": "Create Verification Link",
                "description": "Create a verification link to easily upload documents.",
                "operationId": "Api-verificationlink-create",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "applicant": {
                                    "type": "string",
                                    "description": "applicant",
                                    "title": "Applicant ID"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "status"
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {
                                        "verificationLink": {
                                            "type": "string",
                                            "description": "verificationLink"
                                        }
                                    },
                                    "description": "response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api-document-upload": {
            "post": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                },
                "summary": "Upload Documents to an Applicant",
                "operationId": "Api-document-upload",
                "description": "Upload documents to an applicant with a base64 string.",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "applicantId": {
                                    "type": "string",
                                    "description": "applicantId",
                                    "title": "Applicant ID"
                                },
                                "docType": {
                                    "type": "string",
                                    "description": "docType",
                                    "title": "Document Type (eg. ID_CARD)"
                                },
                                "docSubType": {
                                    "type": "string",
                                    "description": "docSubType",
                                    "title": "Document Subtype (eg. FRONT_SIDE)"
                                },
                                "docCountryISO": {
                                    "type": "string",
                                    "description": "docCountryISO",
                                    "title": "Document Country ISO (eg. AUS)"
                                },
                                "docFile": {
                                    "type": "object",
                                    "properties": {
                                        "filename": {
                                            "type": "string",
                                            "description": "filename",
                                            "title": "File Name + Extension (eg. document.jpeg)"
                                        },
                                        "contents": {
                                            "type": "string",
                                            "description": "contents",
                                            "title": "File Contents (Base64 string)"
                                        }
                                    },
                                    "description": "docFile"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/api-applicant-status": {
            "post": {
                "summary": "Retrieve Applicant Status",
                "description": "Retrieve an applicant's verification status and their details.",
                "operationId": "Api-applicant-status",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "applicantId": {
                                    "type": "string",
                                    "description": "applicantId",
                                    "title": "Applicant ID"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "status"
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {
                                        "applicantStatus": {
                                            "type": "string",
                                            "description": "applicantStatus"
                                        },
                                        "applicantActionStatus": {
                                            "type": "string",
                                            "description": "applicantActionStatus"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "Modified Date": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Modified Date"
                                                },
                                                "Created Date": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "Created Date"
                                                },
                                                "Created By": {
                                                    "type": "string",
                                                    "description": "Created By"
                                                },
                                                "reviewAnswer": {
                                                    "type": "string",
                                                    "description": "reviewAnswer"
                                                },
                                                "applicant": {
                                                    "type": "string",
                                                    "description": "applicant"
                                                },
                                                "commentClient": {
                                                    "type": "string",
                                                    "description": "commentClient"
                                                },
                                                "company": {
                                                    "type": "string",
                                                    "description": "company"
                                                },
                                                "commentModeration": {
                                                    "type": "string",
                                                    "description": "commentModeration"
                                                },
                                                "rejectLabels": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "description": "rejectLabels"
                                                },
                                                "reviewRejectType": {
                                                    "type": "string",
                                                    "description": "reviewRejectType"
                                                },
                                                "verification": {
                                                    "type": "string",
                                                    "description": "verification"
                                                },
                                                "_id": {
                                                    "type": "string",
                                                    "description": "_id"
                                                }
                                            },
                                            "description": "result"
                                        },
                                        "extractedFirstName": {
                                            "type": "string",
                                            "description": "extractedFirstName"
                                        },
                                        "extractedLastName": {
                                            "type": "string",
                                            "description": "extractedLastName"
                                        },
                                        "extractedBirthDate": {
                                            "type": "string",
                                            "description": "extractedBirthDate"
                                        },
                                        "documentCountry": {
                                            "type": "string",
                                            "description": "documentCountry"
                                        },
                                        "extractedStreetNum": {
                                            "type": "string",
                                            "description": "extractedStreetNum"
                                        },
                                        "extractedStreet": {
                                            "type": "string",
                                            "description": "extractedStreet"
                                        },
                                        "extractedCity": {
                                            "type": "string",
                                            "description": "extractedCity"
                                        },
                                        "extractedState": {
                                            "type": "string",
                                            "description": "extractedState"
                                        },
                                        "extractedPostCode": {
                                            "type": "string",
                                            "description": "extractedPostCode"
                                        }
                                    },
                                    "description": "response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api-applicant-details": {
            "post": {
                "summary": "Retrieve Applicant Details",
                "description": "Retrieve an applicant's details.",
                "operationId": "Api-applicant-details",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "applicantId": {
                                    "type": "string",
                                    "description": "applicantId",
                                    "title": "Applicant ID"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "200",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "string",
                                    "description": "status"
                                },
                                "response": {
                                    "type": "object",
                                    "properties": {
                                        "email": {
                                            "type": "string",
                                            "description": "email"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "description": "phone"
                                        },
                                        "nameFirst": {
                                            "type": "string",
                                            "description": "nameFirst"
                                        },
                                        "nameLast": {
                                            "type": "string",
                                            "description": "nameLast"
                                        },
                                        "tags": {
                                            "type": "array",
                                            "items": {},
                                            "description": "tags"
                                        },
                                        "flowName": {
                                            "type": "string",
                                            "description": "flowName"
                                        },
                                        "status": {
                                            "type": "string",
                                            "description": "status"
                                        }
                                    },
                                    "description": "response"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api-request-applicant-check": {
            "post": {
                "responses": {
                    "default": {
                        "description": "default",
                        "schema": {}
                    }
                },
                "summary": "Request Applicant Check",
                "description": "Confirm all documents are uploaded, and start the check.",
                "operationId": "Api-request-applicant-check",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "applicantId": {
                                    "type": "string",
                                    "description": "applicantId",
                                    "title": "Applicant ID"
                                }
                            }
                        }
                    }
                ]
            }
        }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "Auth. Token": {
            "type": "apiKey",
            "in": "header",
            "name": "Authorization"
        }
    },
    "security": [
        {
            "Auth. Token": []
        }
    ],
    "tags": [],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://personr.co"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://personr.co/legals"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Data"
        }
    ]
}
