{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Personr",
    "description": "Create, verify and retrieve applicant data using Personr. Effortlessly comply with KYC/AML, using PowerAutomate to integrate into your own technology."
        "contact": {
      "name": "Full name",
      "url": "https://personr.co/contact",
      "email": "help@personr.co"
        }},
  "host": "enterprise.personr.co",
  "basePath": "/api/1.1/wf/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api-token-generate": {},
    "/api-applicant-create": {
      "post": {
        "summary": "Create Applicant",
        "description": "Use this action to create a new verification applicant. From the response you will be able to get the applicant ID, which you can use in other actions later.",
        "operationId": "Api-applicant-create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "email",
                  "title": "Email Address"
                },
                "phone": {
                  "type": "string",
                  "description": "phone",
                  "title": "Phone Number"
                },
                "nameFirst": {
                  "type": "string",
                  "description": "nameFirst",
                  "title": "First Name"
                },
                "nameLast": {
                  "type": "string",
                  "description": "nameLast",
                  "title": "Last Name"
                },
                "flowName": {
                  "type": "string",
                  "description": "flowName",
                  "title": "Applicant Flow"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "applicantId": {
                      "type": "string",
                      "description": "applicantId"
                    },
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone"
                    },
                    "nameFirst": {
                      "type": "string",
                      "description": "nameFirst"
                    },
                    "nameLast": {
                      "type": "string",
                      "description": "nameLast"
                    },
                    "flowName": {
                      "type": "string",
                      "description": "flowName"
                    },
                    "applicantStatus": {
                      "type": "string",
                      "description": "applicantStatus"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    },
    "/api-verificationlink-create": {
      "post": {
        "summary": "Create Verification Link",
        "description": "After you have created an applicant, you can use this action to create a verification link. The verification link will take the applicant to a page where they will be able to provide required documents and complete the verification.",
        "operationId": "Api-verificationlink-create",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "applicant": {
                  "type": "string",
                  "description": "applicant",
                  "title": "Applicant ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "verificationLink": {
                      "type": "string",
                      "description": "verificationLink"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    },
    "/api-document-upload": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Upload Documents to an Applicant",
        "operationId": "Api-document-upload",
        "description": "Use this action to upload documents to an applicant, instead of sending them a link. You can only send one document at a time, when all required documents are uploaded the applicant will move to the pending status.  If you're uploading double-side documents, make sure to send FRONT_SIDE and BACK_SIDE in the idDocSubType parameter. When both sides are present and valid the verification step will be considered complete. Images must be uploaded in base64 format.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "applicantId": {
                  "type": "string",
                  "description": "applicantId",
                  "title": "Applicant ID"
                },
                "docType": {
                  "type": "string",
                  "description": "docType",
                  "title": "Document Type (eg. ID_CARD)"
                },
                "docSubType": {
                  "type": "string",
                  "description": "docSubType",
                  "title": "Document Subtype (eg. FRONT_SIDE)"
                },
                "docCountryISO": {
                  "type": "string",
                  "description": "docCountryISO",
                  "title": "Document Country ISO (eg. AUS)"
                },
                "docFile": {
                  "type": "object",
                  "properties": {
                    "filename": {
                      "type": "string",
                      "description": "filename",
                      "title": "File Name + Extension (eg. document.jpeg)"
                    },
                    "contents": {
                      "type": "string",
                      "description": "contents",
                      "title": "File Contents (Base64 string)"
                    }
                  },
                  "description": "docFile"
                }
              }
            }
          }
        ]
      }
    },
    "/api-applicant-status": {
      "post": {
        "summary": "Retrieve Applicant Status",
        "description": "Use this action to retrieve an applicant verification status. If the verification has been already reviewed, the response will contain data with more details about the result.",
        "operationId": "Api-applicant-status",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "applicantId": {
                  "type": "string",
                  "description": "applicantId",
                  "title": "Applicant ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "applicantStatus": {
                      "type": "string",
                      "description": "applicantStatus"
                    },
                    "applicantActionStatus": {
                      "type": "string",
                      "description": "applicantActionStatus"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "Modified Date": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Modified Date"
                        },
                        "Created Date": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Created Date"
                        },
                        "Created By": {
                          "type": "string",
                          "description": "Created By"
                        },
                        "reviewAnswer": {
                          "type": "string",
                          "description": "reviewAnswer"
                        },
                        "applicant": {
                          "type": "string",
                          "description": "applicant"
                        },
                        "commentClient": {
                          "type": "string",
                          "description": "commentClient"
                        },
                        "company": {
                          "type": "string",
                          "description": "company"
                        },
                        "commentModeration": {
                          "type": "string",
                          "description": "commentModeration"
                        },
                        "rejectLabels": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "rejectLabels"
                        },
                        "reviewRejectType": {
                          "type": "string",
                          "description": "reviewRejectType"
                        },
                        "verification": {
                          "type": "string",
                          "description": "verification"
                        },
                        "_id": {
                          "type": "string",
                          "description": "_id"
                        }
                      },
                      "description": "result"
                    },
                    "extractedFirstName": {
                      "type": "string",
                      "description": "extractedFirstName"
                    },
                    "extractedLastName": {
                      "type": "string",
                      "description": "extractedLastName"
                    },
                    "extractedBirthDate": {
                      "type": "string",
                      "description": "extractedBirthDate"
                    },
                    "documentCountry": {
                      "type": "string",
                      "description": "documentCountry"
                    },
                    "extractedStreetNum": {
                      "type": "string",
                      "description": "extractedStreetNum"
                    },
                    "extractedStreet": {
                      "type": "string",
                      "description": "extractedStreet"
                    },
                    "extractedCity": {
                      "type": "string",
                      "description": "extractedCity"
                    },
                    "extractedState": {
                      "type": "string",
                      "description": "extractedState"
                    },
                    "extractedPostCode": {
                      "type": "string",
                      "description": "extractedPostCode"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    },
    "/api-applicant-details": {
      "post": {
        "summary": "Retrieve Applicant Details",
        "description": "Use this endpoint to get an applicant's details.",
        "operationId": "Api-applicant-details",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "applicantId": {
                  "type": "string",
                  "description": "applicantId",
                  "title": "Applicant ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "email"
                    },
                    "phone": {
                      "type": "string",
                      "description": "phone"
                    },
                    "nameFirst": {
                      "type": "string",
                      "description": "nameFirst"
                    },
                    "nameLast": {
                      "type": "string",
                      "description": "nameLast"
                    },
                    "tags": {
                      "type": "array",
                      "items": {},
                      "description": "tags"
                    },
                    "flowName": {
                      "type": "string",
                      "description": "flowName"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    }
                  },
                  "description": "response"
                }
              }
            }
          }
        }
      }
    },
    "/api-request-applicant-check": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Request Applicant Check",
        "description": "Use this action to let us know you've finished uploading documents to an applicant, and to start the verification process. Note: only use this if you are uploading documents. Verifications using a link don't need to use this action.",
        "operationId": "Api-request-applicant-check",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "applicantId": {
                  "type": "string",
                  "description": "applicantId",
                  "title": "Applicant ID"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Auth. Token": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "Auth. Token": []
    }
  ],
  "tags": []
}
