{
	"swagger": "2.0",
	"info": {
	  "title": "Ant Text Automation",
	  "version": "1.0",
	  "x-ms-deployment-version": "1.0",
	  "x-ms-api-annotation": {
		"status": "Preview"
	  },
	  "contact": {
		"name": "Ant Text Support",
		"url": "https://www.anttext.com/contact",
		"email": "support@anttext.com"
	  },
	  "description": "Sends an Ant Text Template from your email account, when triggered. You can use data provided by your flow, as merge fields in your template."
	},
	"host": "app.anttext.com",
	"basePath": "/api/flow/v1/",
	"schemes": [
	  "https"
	],
	"consumes": [
	  "application/json"
	],
	"produces": [
	  "application/json"
	],
	"paths": {
	  "/templates": {
		"get": {
		  "operationId": "GetAntTextTemplates",
		  "summary": "Get's all your Ant Text Templates",
		  "description": "Returns the list of templates belonging to the user",
		  "produces": [
			"application/json"
		  ],
		  "x-ms-visibility": "internal",
		  "parameters": [
			{
			  "in": "header",
			  "name": "AntTextOwner",
			  "type": "string",
			  "required": true,
			  "x-ms-summary": "Ant Text Business Email,",
			  "description": "User Email for Ant Text Business subscription and \"from\" field"
			},
			{
			  "in": "header",
			  "name": "CalledFrom",
			  "type": "string",
			  "required": true,
			  "x-ms-summary": "Ant Text Business Key Phrase",
			  "description": "Key phrase to use the connector, which was provided to you at the time of purchase"
			}
		  ],
		  "responses": {
			"200": {
			  "description": "OK",
			  "schema": {
				"$ref": "#/definitions/TemplateList"
			  }
			}
		  }
		},
		"post": {
		  "operationId": "PostAntTextEmail",
		  "summary": "Send Ant Text Email",
		  "x-ms-visibility": "important",
		  "parameters": [
			{
			  "in": "body",
			  "name": "postBodyParameter",
			  "required": true,
			  "x-ms-visibility": "important",
			  "x-ms-summary": "Configure your Ant Text Email to be sent",
			  "description": "You need to setup your parameters here to properly send desired Ant Text email",
			  "schema": {
				"$ref": "#/definitions/TemplatesPostBodySchema"
			  }
			}
		  ],
		  "responses": {
			"200": {
			  "description": "Request Sent",
			  "schema": {
				"type": "string"
			  }
			},
			"400": {
			  "description": "Bad Request"
			},
			"403": {
			  "description": "Forbidden"
			}
		  },
		  "description": "Sends an Ant Text Template from your email account when triggered. You can use data from your flow as merge fields in your template"
		}
	  }
	},
	"definitions": {
	  "TemplateList": {
		"type": "array",
		"items": {
		  "type": "object",
		  "properties": {
			"ID": {
			  "type": "string",
			  "description": "ID"
			},
			"Name": {
			  "type": "string",
			  "description": "Name"
			}
		  },
		  "required": [
			"ID",
			"Name"
		  ]
		}
	  },
	  "TemplatesPostBodySchema": {
		"type": "object",
		"properties": {
		  "AntTextOwner": {
			"type": "string",
			"title": "Email for Ant Text Business",
			"x-ms-visibility": "important",
			"x-ms-summary": "Email for Ant Text Business",
			"description": "User Email for Ant Text Business subscription and \"from\" field"
		  },
		  "AntTextLicenseKey": {
			"type": "string",
			"title": "Ant Text License Key",
			"x-ms-visibility": "important",
			"x-ms-summary": "Ant Text Business License key",
			"description": "Confirm Your License Key for Ant Text Business subscription"
		  },
		  "CalledFrom": {
			"type": "string",
			"title": "Key Phrase",
			"x-ms-visibility": "important",
			"x-ms-summary": "KeyPhrase confirmation",
			"description": "Confirm Ant Text Key Phrase"
		  },
		  "TemplateID": {
			"type": "string",
			"title": "Choose Ant Text Template",
			"x-ms-visibility": "important",
			"x-ms-dynamic-values": {
			  "operationId": "GetAntTextTemplates",
			  "value-path": "ID",
			  "value-title": "Name",
			  "parameters": {
				"AntTextOwner": {
				  "parameter": "AntTextOwner"
				},
				"CalledFrom": {
				  "parameter": "CalledFrom"
				}
			  }
			},
			"x-ms-dynamic-list": {
			  "operationId": "GetAntTextTemplates",
			  "itemValuePath": "ID",
			  "itemTitlePath": "Name",
			  "parameters": {
				"AntTextOwner": {
				  "parameterReference": "postBodyParameter/AntTextOwner"
				},
				"CalledFrom": {
				  "parameterReference": "postBodyParameter/CalledFrom"
				}
			  }
			},
			"description": "Select a template (Enter the Ant Text owner and LicenseKey above, before selecting a template)"
		  },
		  "To": {
			"type": "string",
			"description": "The email address to send to",
			"title": "To",
			"x-ms-visibility": "important"
		  },
		  "SaveCopyToSentItems": {
			"type": "string",
			"description": "Save copy to sent items",
			"title": "Save a copy to \"Sent Items\"",
			"default": "Yes",
			"x-ms-visibility": "important",
			"enum": [
			  "Yes",
			  "No"
			]
		  },
		  "Importance": {
			"type": "string",
			"description": "Importance",
			"title": "Importance",
			"default": "Normal",
			"x-ms-visibility": "important",
			"enum": [
			  "High",
			  "Normal",
			  "Low"
			]
		  },
		  "FlowField1": {
			"type": "string",
			"description": "[#FlowField1#]",
			"title": "FlowField1",
			"x-ms-visibility": "important"
		  },
		  "FlowField2": {
			"type": "string",
			"description": "[#FlowField2#]",
			"title": "FlowField2",
			"x-ms-visibility": "important"
		  },
		  "FlowField3": {
			"type": "string",
			"description": "[#FlowField3#]",
			"title": "FlowField3",
			"x-ms-visibility": "important"
		  },
		  "FlowField4": {
			"type": "string",
			"description": "[#FlowField4#]",
			"title": "FlowField4",
			"x-ms-visibility": "important"
		  },
		  "FlowField5": {
			"type": "string",
			"description": "[#FlowField5#}",
			"title": "FlowField5",
			"x-ms-visibility": "important"
		  },
		  "FlowField6": {
			"type": "string",
			"description": "[#FlowField6#]",
			"title": "FlowField6",
			"x-ms-visibility": "important"
		  },
		  "FlowField7": {
			"type": "string",
			"description": "[#FlowField7#]",
			"title": "FlowField7",
			"x-ms-visibility": "important"
		  },
		  "FlowField8": {
			"type": "string",
			"description": "[#FlowField8#]",
			"title": "FlowField8",
			"x-ms-visibility": "important"
		  },
		  "FlowField9": {
			"type": "string",
			"description": "[#FlowField9#]",
			"title": "FlowField9",
			"x-ms-visibility": "important"
		  },
		  "FlowField10": {
			"type": "string",
			"description": "[#FlowField10#]",
			"title": "FlowField10",
			"x-ms-visibility": "important"
		  },
		  "FlowField11": {
			"type": "string",
			"description": "[#FlowField11#]",
			"title": "FlowField11",
			"x-ms-visibility": "important"
		  },
		  "FlowField12": {
			"type": "string",
			"description": "[#FlowField12#]",
			"title": "FlowField12",
			"x-ms-visibility": "important"
		  },
		  "FlowField13": {
			"type": "string",
			"description": "[#FlowField13#]",
			"title": "FlowField13",
			"x-ms-visibility": "important"
		  },
		  "FlowField14": {
			"type": "string",
			"description": "[#FlowField14#]",
			"title": "FlowField14",
			"x-ms-visibility": "important"
		  },
		  "FlowField15": {
			"type": "string",
			"description": "[#FlowField15#]",
			"title": "FlowField15",
			"x-ms-visibility": "important"
		  },
		  "FlowField16": {
			"type": "string",
			"description": "[#FlowField16#]",
			"title": "FlowField16",
			"x-ms-visibility": "important"
		  },
		  "FlowField17": {
			"type": "string",
			"description": "[#FlowField17#]",
			"title": "FlowField17",
			"x-ms-visibility": "important"
		  },
		  "FlowField18": {
			"type": "string",
			"description": "[#FlowField18#]",
			"title": "FlowField18",
			"x-ms-visibility": "important"
		  },
		  "FlowField19": {
			"type": "string",
			"description": "[#FlowField19#]",
			"title": "FlowField19",
			"x-ms-visibility": "important"
		  },
		  "FlowField20": {
			"type": "string",
			"description": "[#FlowField20#]",
			"title": "FlowField20",
			"x-ms-visibility": "important"
		  },
		  "IncludeAntTextSignature": {
			"type": "string",
			"description": "Include Ant Text signature",
			"title": "Include Ant Text signature",
			"default": "Yes",
			"x-ms-visibility": "important",
			"enum": [
			  "Yes",
			  "No"
			]
		  }
		},
		"required": [
		  "AntTextOwner",
		  "AntTextLicenseKey",
		  "CalledFrom",
		  "TemplateID",
		  "To"
		]
	  }
	},
	"parameters": {},
	"responses": {},
	"securityDefinitions": {
	  "API Key": {
		"type": "apiKey",
		"in": "header",
		"name": "AntTextLicenseKey"
	  }
	},
	"security": [
	  {
		"API Key": []
	  }
	],
	"tags": [],
	"x-ms-connector-metadata": [
	  {
		"propertyName": "Website",
		"propertyValue": "https://www.anttext.com"
	  },
	  {
		"propertyName": "Privacy policy",
		"propertyValue": "https://anttext.com/privacy"
	  },
	  {
		"propertyName": "Categories",
		"propertyValue": "Communication;Website"
	  }
	]
  }