{
	"swagger": "2.0",
	"info": {
		"contact": {
			"email": "LEGTechOps@amadeus.com",
			"name": "Amadeus IT Group, S.A. - LEG TechOps",
			"url": "https://www.amadeus.com"
		},
		"description": "Using this connector allows admins and user to connect to their Ironclad CLM demo, preview and production instances and perform various operations such as creating, updating, deleting and retrieving records, workflows, comments, approvals, signatures, attachments, and more. Follow https://developer.ironcladapp.com/reference/register-oauth-client and register a client to get the client ID and client secret.",
		"title": "Ironclad CLM",
		"version": "1.0"
	},
	"x-ms-connector-metadata": [
		{
			"propertyName": "Website",
			"propertyValue": "https://ironcladapp.com/"
		},
		{
			"propertyName": "Privacy Policy",
			"propertyValue": "https://legal.ironcladapp.com/privacy-policy"
		},
		{
			"propertyName": "Categories",
			"propertyValue": "Commerce"
		}
	],
	"schemes": [
		"https"
	],
	"host": "ironcladapp.com",
	"basePath": "/",
	"consumes": [
		"application/json"
	],
	"produces": [
		"application/json"
	],
	"paths": {
		"/public/api/v1/records": {
			"get": {
				"description": "View all records in the company, with filtering available via query parameters.",
				"operationId": "ListAllRecords",
				"parameters": [
					{
						"$ref": "#/parameters/page_query"
					},
					{
						"$ref": "#/parameters/recordProperties_query"
					},
					{
						"$ref": "#/parameters/pageSize_query"
					},
					{
						"$ref": "#/parameters/recordTypes_query"
					},
					{
						"$ref": "#/parameters/recordLastUpdated_query"
					},
					{
						"$ref": "#/parameters/sortField_query"
					},
					{
						"$ref": "#/parameters/sortDirection_query"
					},
					{
						"$ref": "#/parameters/recordFilter_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Records Retrieved",
						"schema": {
							"properties": {
								"count": {
									"$ref": "#/definitions/count_integer"
								},
								"list": {
									"$ref": "#/definitions/recordsGetFormatted_array"
								},
								"page": {
									"$ref": "#/definitions/page_integer"
								},
								"pageSize": {
									"$ref": "#/definitions/pageSize_integer"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "List All Records",
				"x-ms-visibility": "important"
			},
			"post": {
				"description": "Create a contract record by specifying its intended metadata properties.",
				"operationId": "CreateRecord",
				"parameters": [
					{
						"$ref": "#/parameters/recordPost_body"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Record Created",
						"schema": {
							"$ref": "#/definitions/recordGetStatic_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create a Record",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/records/export": {
			"get": {
				"description": "Export a records report with filtering available via query parameters.",
				"operationId": "ExportRecords",
				"parameters": [
					{
						"$ref": "#/parameters/recordExportProperties_query"
					},
					{
						"$ref": "#/parameters/recordTypes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Reecords Exported",
						"schema": {
							"description": "The XLSX file of the records report.",
							"title": "Records Report",
							"type": "file",
							"x-ms-visibility": "important"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve XLSX Export File of Records",
				"x-ms-visibility": "advanced"
			}
		},
		"/public/api/v1/records/metadata": {
			"get": {
				"description": "View the schema associated with contract records, including available record types and metadata properties.",
				"operationId": "RetrieveRecordSchemas",
				"parameters": [
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					},
					{
						"$ref": "#/parameters/recordProperties_query"
					}
				],
				"responses": {
					"200": {
						"description": "Record Schema Retrieved",
						"schema": {
							"properties": {
								"properties": {
									"$ref": "#/definitions/recordSchemaPropertiesGet_object"
								},
								"recordTypes": {
									"$ref": "#/definitions/recordTypesDictionary_object"
								},
								"formattedRecordTypes": {
									"$ref": "#/definitions/recordTypesFormatted_array"
								},
								"formattedProperties": {
									"$ref": "#/definitions/recordPropertiesFormatted_array"
								},
								"formattedClauses": {
									"$ref": "#/definitions/recordPropertiesFormatted_array"
								},
								"formattedAttachments": {
									"$ref": "#/definitions/recordAttachmentsFormatted_array"
								},
								"requestedProperties": {
									"$ref": "#/definitions/requestedProperties_string"
								},
								"formattedSchema": {
									"$ref": "#/definitions/recordSchemaFormatted_object"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve Record Schemas",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/records/smart-import": {
			"get": {
				"description": "Retrieve status of predictions of specific smart import record or all records in an import, one of Record Id or Import Id is required.",
				"operationId": "RerievePredictions",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_query"
					},
					{
						"$ref": "#/parameters/recordImportId_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Predictions Retrieved",
						"schema": {
							"$ref": "#/definitions/predictions_array"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve Predictions",
				"x-ms-visibility": "important"
			},
			"post": {
				"consumes": [
					"multipart/form-data"
				],
				"description": "Upload a file to create a record with smart import and predictions. Provide none of recordType, newRecordTypeId, or newRecordTypeDisplayName to default to Imported type.",
				"operationId": "CreateSmartImportRecord",
				"parameters": [
					{
						"$ref": "#/parameters/recordType_formData"
					},
					{
						"$ref": "#/parameters/recordNewRecordTypeId_formData"
					},
					{
						"$ref": "#/parameters/recordNewRecordTypeDisplayName_formData"
					},
					{
						"$ref": "#/parameters/attachment_formData"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Smart Import Record Created",
						"schema": {
							"properties": {
								"importId": {
									"$ref": "#/definitions/importId_string"
								},
								"recordId": {
									"$ref": "#/definitions/recordId_string"
								},
								"remainingCredits": {
									"$ref": "#/definitions/remainingCredits_integer"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create a Smart Import Record",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/records/smart-import/{Import}/": {
			"post": {
				"consumes": [
					"multipart/form-data"
				],
				"description": "Upload a file to an existing import and create a record with smart import and predictions. Provide none of recordType, newRecordTypeId, or newRecordTypeDisplayName to default to Imported type.",
				"operationId": "ExistingSmartImportRecord",
				"parameters": [
					{
						"$ref": "#/parameters/recordSmartImport_path"
					},
					{
						"$ref": "#/parameters/recordType_formData"
					},
					{
						"$ref": "#/parameters/recordNewRecordTypeId_formData"
					},
					{
						"$ref": "#/parameters/recordNewRecordTypeDisplayName_formData"
					},
					{
						"$ref": "#/parameters/attachment_formData"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Data Added to Existing Smart Record Import",
						"schema": {
							"properties": {
								"importId": {
									"$ref": "#/definitions/importId_string"
								},
								"recordId": {
									"$ref": "#/definitions/recordId_string"
								},
								"remainingCredits": {
									"$ref": "#/definitions/remainingCredits_integer"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Upload a Smart Import Record to an existing Import",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/records/{Record}": {
			"delete": {
				"description": "Delete an existing record.",
				"operationId": "DeleteRecord",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_path"
					},
					{
						"$ref": "#/parameters/returnRepresentation_header"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Record Deleted"
					},
					"204": {
						"description": "Record Deleted"
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Delete a Record",
				"x-ms-visibility": "important"
			},
			"get": {
				"description": "View a specific record and its associated data.",
				"operationId": "RetrieveRecord",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Record Retrieved",
						"schema": {
							"$ref": "#/definitions/recordGetDynamic_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve Record",
				"x-ms-visibility": "important"
			},
			"patch": {
				"description": "Update specific fields on a record.",
				"operationId": "UpdateRecordMetadata",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_path"
					},
					{
						"$ref": "#/parameters/recordPatch_body"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Record Metadata Updated",
						"schema": {
							"$ref": "#/definitions/recordGetDynamic_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Update Record Metadata"
			},
			"put": {
				"description": "Update an existing record with a new set of metadata.",
				"operationId": "ReplaceRecord",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_path"
					},
					{
						"$ref": "#/parameters/recordPost_body"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Record Replaced",
						"schema": {
							"$ref": "#/definitions/recordGetDynamic_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Replace a Record"
			}
		},
		"/public/api/v1/records/{Record}/attachments/signedCopy": {
			"delete": {
				"description": "Remove the signed copy associated with a specific record.",
				"operationId": "RemoveSignedCopyDocument",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_path"
					},
					{
						"$ref": "#/parameters/json_header"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Signed Copy Removed",
						"schema": {

						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Remove Record Signed Copy",
				"x-ms-visibility": "important"
			},
			"get": {
				"description": "View the signed copy associated with a specific record.",
				"operationId": "RetrieveSignedCopyDocument",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_path"
					},
					{
						"$ref": "#/parameters/json_header"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Signed Copy Retrieved",
						"schema": {

						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve Record Signed Copy",
				"x-ms-visibility": "important"
			},
			"post": {
				"consumes": [
					"multipart/form-data",
					"application/json"
				],
				"description": "Create a signed copy associated with a specific record.",
				"operationId": "CreateSignedCopyAttachment",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_path"
					},
					{
						"$ref": "#/parameters/json_header"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"attachment": {
									"$ref": "#/definitions/attachment_byte"
								},
								"metadata": {
									"$ref": "#/definitions/attachmentMetadata_object"
								}
							},
							"type": "object",
							"required": [
								"attachment",
								"metadata"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Signed Copy Created",
						"schema": {

						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create Record Signed Copy",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/records/{Record}/attachments/{Key}": {
			"delete": {
				"description": "Remove an attachment associated with a specific record.",
				"operationId": "RemoveAttachment",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_path"
					},
					{
						"$ref": "#/parameters/recordDocumentKeyFromSchema_path"
					},
					{
						"$ref": "#/parameters/json_header"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Attachment Removed",
						"schema": {

						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Remove an Attachment on a Record",
				"x-ms-visibility": "important"
			},
			"get": {
				"description": "View an attachment associated with a specific record.",
				"operationId": "RetrieveAttachment",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_path"
					},
					{
						"$ref": "#/parameters/recordDocumentKeyFromSchema_path"
					},
					{
						"$ref": "#/parameters/json_header"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Attachment Retrieved",
						"schema": {
							"$ref": "#/definitions/attachment_binary"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve an Attachment on a Record",
				"x-ms-visibility": "important"
			},
			"post": {
				"description": "Create an attachment associated with a specific record.",
				"operationId": "CreateAttachment",
				"parameters": [
					{
						"$ref": "#/parameters/recordId_path"
					},
					{
						"$ref": "#/parameters/recordDocumentKeyFromSchema_path"
					},
					{
						"$ref": "#/parameters/json_header"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"attachment": {
									"$ref": "#/definitions/attachment_byte"
								},
								"metadata": {
									"$ref": "#/definitions/attachmentMetadata_object"
								}
							},
							"type": "object",
							"required": [
								"attachment",
								"metadata"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Attachment Created",
						"schema": {

						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create an Attachment on a Record",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/webhooks": {
			"post": {
				"description": "Creates a webhook for the specified events. Send separate requests if you need to create webhooks for multiple target URLs. Each target URL may only have one active registration.",
				"operationId": "CreateWebhook",
				"parameters": [
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"events": {
									"$ref": "#/definitions/webhookEvents_array"
								},
								"targetURL": {
									"$ref": "#/definitions/webhookTargetUrlPost_string"
								}
							},
							"required": [
								"targetURL",
								"events"
							],
							"type": "object",
							"x-ms-visibility": "important"
						},
						"x-ms-visibility": "important"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"201": {
						"description": "Webhook Created",
						"schema": {
							"properties": {
								"company": {
									"$ref": "#/definitions/companyId_string"
								},
								"events": {
									"$ref": "#/definitions/webhookEvents_array"
								},
								"id": {
									"$ref": "#/definitions/webhookId_string"
								},
								"targetURL": {
									"$ref": "#/definitions/webhookTargetUrlGet_string"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create Webhook",
				"x-ms-trigger": "single",
				"x-ms-visibility": "important"
			},
			"x-ms-notification-content": {
				"description": "Ironclad Event",
				"schema": {
					"$ref": "#/definitions/webhookNotificationContent_object"
				}
			}
		},
		"/public/api/v1/webhooks/{Webhook}": {
			"delete": {
				"description": "Delete a specific webhook.",
				"operationId": "DeleteWebhook",
				"parameters": [
					{
						"$ref": "#/parameters/webhookID_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Webhook Deleted"
					},
					"201": {
						"description": "Webhook Deleted"
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Delete a Webhook",
				"x-ms-visibility": "advanced"
			},
			"get": {
				"description": "View the data associated with a specific webhook.",
				"operationId": "RetrieveWebhook",
				"parameters": [
					{
						"$ref": "#/parameters/webhookID_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Webhook Retrieved",
						"schema": {
							"$ref": "#/definitions/webhookConfiguration_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve a Webhook",
				"x-ms-visibility": "advanced"
			},
			"patch": {
				"description": "Update the data associated with a specific webhook.",
				"operationId": "UpdateWebhook",
				"parameters": [
					{
						"$ref": "#/parameters/webhookID_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Webhook Updated",
						"schema": {
							"$ref": "#/definitions/webhookConfiguration_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Update a Webhook",
				"x-ms-visibility": "advanced"
			}
		},
		"/public/api/v1/workflow-schemas": {
			"get": {
				"description": "Returns a list of workflow schemas. Each schema specifies the fields used in the workflow's launch form.",
				"operationId": "ListWorkflowSchemas",
				"parameters": [
					{
						"$ref": "#/parameters/workflowForm_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "List of Workflow Schemas Retrieved",
						"schema": {
							"properties": {
								"list": {
									"$ref": "#/definitions/workflowSchemas_array"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "List all Workflow Schemas",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflow-schemas/{Schema}": {
			"get": {
				"description": "Returns the fields used in the workflow's launch form..",
				"operationId": "RetrieveWorkflowSchema",
				"parameters": [
					{
						"$ref": "#/parameters/workflowSchemaID_path"
					},
					{
						"$ref": "#/parameters/workflowForm_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Schema Retrieved",
						"schema": {
							"$ref": "#/definitions/workflowSchema_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve a Workflow Schema"
			}
		},
		"/public/api/v1/workflows": {
			"get": {
				"description": "List all workflows in your Ironclad account.",
				"operationId": "ListAllWorkflows",
				"parameters": [
					{
						"$ref": "#/parameters/page_query"
					},
					{
						"$ref": "#/parameters/pageSize_query"
					},
					{
						"$ref": "#/parameters/sortField_query"
					},
					{
						"$ref": "#/parameters/sortDirection_query"
					},
					{
						"$ref": "#/parameters/workflowStatus_query"
					},
					{
						"$ref": "#/parameters/workflowTemplateID_query"
					},
					{
						"$ref": "#/parameters/workflowLastUpdated_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "List of Workflows Retrieved",
						"schema": {
							"properties": {
								"count": {
									"$ref": "#/definitions/count_integer"
								},
								"list": {
									"$ref": "#/definitions/workflowsGet_array"
								},
								"page": {
									"$ref": "#/definitions/page_integer"
								},
								"pageSize": {
									"$ref": "#/definitions/pageSize_integer"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "List all Workflows"
			},
			"post": {
				"description": "Launch a new workflow synchronously.",
				"operationId": "CreateWorkflow",
				"parameters": [
					{
						"$ref": "#/parameters/workflowForm_query"
					},
					{
						"$ref": "#/parameters/workflow_body"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Created",
						"schema": {
							"$ref": "#/definitions/workflowSchemaFromTemplateGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create a Workflow Synchronously",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/async": {
			"post": {
				"description": "Launch a new workflow asynchronously for non-blocking performance, which is helpful when/if you provide files to the workflow.",
				"operationId": "CreateWorkflowAsync",
				"parameters": [
					{
						"$ref": "#/parameters/workflowForm_query"
					},
					{
						"$ref": "#/parameters/workflow_body"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Created",
						"schema": {
							"properties": {
								"asyncJobId": {
									"$ref": "#/definitions/asyncJobId_string"
								},
								"asyncJobStatusUrl": {
									"$ref": "#/definitions/asyncJobStatusUrl_string"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create a Workflow Asynchronously",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/async/{AsyncJob}": {
			"get": {
				"description": "Check the status of a Workflow you created while using the Create a Workflow Async route.",
				"operationId": "RetrieveAsyncJobStatus",
				"parameters": [
					{
						"$ref": "#/parameters/workflowAsyncJob_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Status Retrieved",
						"schema": {
							"properties": {
								"status": {
									"$ref": "#/definitions/workflowAsyncLaunchStatus_string"
								},
								"workflow": {
									"$ref": "#/definitions/workflowAsync_object"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve the Status of an Async Workflow Create Job",
				"x-ms-visibility": "advanced"
			}
		},
		"/public/api/v1/workflows/{Workflow}": {
			"get": {
				"description": "View the data associated with a specific workflow.",
				"operationId": "RetrieveWorkflow",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Retrieved",
						"schema": {
							"$ref": "#/definitions/workflowSchemaFromWorkflowGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve a Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/approval-requests": {
			"get": {
				"description": "Returns a list of approval requests that have taken place on the workflow.",
				"operationId": "ListApprovalRequests",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/page_query"
					},
					{
						"$ref": "#/parameters/pageSize_query"
					},
					{
						"$ref": "#/parameters/workflowActionDetails_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Approval Requests Retrieved",
						"schema": {
							"properties": {
								"count": {
									"$ref": "#/definitions/count_integer"
								},
								"list": {
									"$ref": "#/definitions/approvalRequestsList_array"
								},
								"page": {
									"$ref": "#/definitions/page_integer"
								},
								"pageSize": {
									"$ref": "#/definitions/pageSize_integer"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve the Approval Requests on a Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/approvals": {
			"get": {
				"description": "Returns a list of approvals for the workflow. The approvalGroups property will display only triggered approvals (i.e. conditional approvals that have not been triggered will not appear).",
				"operationId": "ListWorkflowApprovals",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Approvals Retrieved",
						"schema": {
							"$ref": "#/definitions/workflowsApprovalsGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "List all Workflow Approvals",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/approvals/{Role}": {
			"patch": {
				"description": "Updates an approval to the specified status. Approvals can only be updated during the Review step.",
				"operationId": "UpdateWorkflowApprovals",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/workflowRoleID_path"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"status": {
									"$ref": "#/definitions/approvalStatusPost_string"
								},
								"user": {
									"$ref": "#/definitions/userPost_object"
								}
							},
							"required": [
								"user",
								"status"
							],
							"type": "object"
						}
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Approval Updated",
						"schema": {
							"$ref": "#/definitions/approvalUpdated_boolean"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Update Approval on a Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/attributes": {
			"patch": {
				"description": "Update the attributes on a workflow in the Review step. Select a configuration below to load a list up paths in that configuration.",
				"operationId": "UpdateWorkflowMetadata",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/workflowConfiguration_dummy"
					},
					{
						"$ref": "#/parameters/workflowUpdateActions_body"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Metadata Updated",
						"schema": {
							"$ref": "#/definitions/workflowSchemaFromWorkflowGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Update Workflow Metadata",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/cancel": {
			"post": {
				"description": "Cancel a workflow.",
				"operationId": "CancelWorkflow",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"in": "body",
						"name": "user",
						"required": true,
						"schema": {
							"properties": {
								"comment": {
									"$ref": "#/definitions/commentSimplePost_object"
								},
								"notifyCounterparty": {
									"$ref": "#/definitions/notifyCounterparty_boolean"
								}
							},
							"required": [
								"notifyCounterparty",
								"comment"
							],
							"type": "object"
						}
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"204": {
						"description": "Workflow Canceled",
						"schema": {
							"type": "object",
							"x-ms-visibility": "internal"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Cancel Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/comments": {
			"get": {
				"description": "Return a list of comments on a workflow.",
				"operationId": "ListWorkflowComments",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/page_query"
					},
					{
						"$ref": "#/parameters/pageSize_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Comments Retrieved",
						"schema": {
							"properties": {
								"count": {
									"$ref": "#/definitions/count_integer"
								},
								"list": {
									"$ref": "#/definitions/commentsGet_array"
								},
								"page": {
									"$ref": "#/definitions/page_integer"
								},
								"pageSize": {
									"$ref": "#/definitions/pageSize_integer"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "List all Comments on a Workflow"
			},
			"post": {
				"description": "Creates a comment in the specified workflow's activity feed.",
				"operationId": "CreateComment",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/workflowCommentPost_body"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Comment Created",
						"schema": {
							"$ref": "#/definitions/commentGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create a Comment on a Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/comments/{Comment}": {
			"get": {
				"description": "Return a single comment for a specified workflow.",
				"operationId": "RetrieveComment",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/workflowCommentID_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Comment Retrieved",
						"schema": {
							"$ref": "#/definitions/commentGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve a Comment from a Specified Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/document/{Key}/download": {
			"get": {
				"description": "Download a document associated with a specific workflow via a reference to its document key.",
				"operationId": "RetrieveWorkflowDocument",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/workflowDocumentKey_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Document Retrieved",
						"schema": {
							"description": "The document as a file.",
							"title": "Document",
							"type": "file",
							"x-ms-visibility": "important"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve a Workflow Document"
			}
		},
		"/public/api/v1/workflows/{Workflow}/documents/{Attribute}": {
			"post": {
				"description": "Create a document in the specified workflow attribute. This will only create new documents. It does not support document versioning. Select a configuration below to load a list of supported documents in that configuration.",
				"operationId": "CreateWorkflowDocument",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/workflowConfiguration_dummy"
					},
					{
						"$ref": "#/parameters/workflowDocumentAttribute_path"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"attachment": {
									"$ref": "#/definitions/attachment_byte"
								},
								"metadata": {
									"$ref": "#/definitions/documentMetadata_object"
								}
							},
							"type": "object",
							"required": [
								"attachment",
								"metadata"
							]
						}
					},
					{
						"$ref": "#/parameters/json_header"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Document Created",
						"schema": {
							"description": "The document as a file.",
							"title": "Document",
							"type": "file",
							"x-ms-visibility": "important"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create a Workflow Document"
			}
		},
		"/public/api/v1/workflows/{Workflow}/emails": {
			"get": {
				"description": "List all email threads in the specified workflow.",
				"operationId": "RetrieveEmailThreads",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/page_query"
					},
					{
						"$ref": "#/parameters/pageSize_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Email Threads Retrieved",
						"schema": {
							"properties": {
								"count": {
									"$ref": "#/definitions/count_integer"
								},
								"list": {
									"$ref": "#/definitions/workflowEmailsGet_array"
								},
								"page": {
									"$ref": "#/definitions/page_integer"
								},
								"pageSize": {
									"$ref": "#/definitions/pageSize_integer"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve Email Threads from a Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/emails/{Email}": {
			"get": {
				"description": "List a single email thread for a specified workflow.",
				"operationId": "RetrieveEmailThread",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/workflowEmailID_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Email Thread Retrieved",
						"schema": {
							"$ref": "#/definitions/workflowEmailGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve an Email Thread from a Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/participants": {
			"get": {
				"description": "Returns a list of workflow participants.",
				"operationId": "ListWorkflowParticipants",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/page_query"
					},
					{
						"$ref": "#/parameters/pageSize_query"
					},
					{
						"$ref": "#/parameters/workflowUserEmail_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Participants Retrieved",
						"schema": {
							"$ref": "#/definitions/workflowParticipantsGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "List all Workflow Participants",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/pause": {
			"post": {
				"description": "Pause a workflow.",
				"operationId": "PauseWorkflow",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"comment": {
									"$ref": "#/definitions/commentSimplePost_object"
								},
								"notifyCounterparty": {
									"$ref": "#/definitions/notifyCounterparty_boolean"
								}
							},
							"required": [
								"comment",
								"notifyCounterparty"
							],
							"type": "object",
							"x-ms-visibility": "important"
						}
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"204": {
						"description": "Workflow Paused",
						"schema": {
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Pause Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/resume": {
			"post": {
				"description": "Resume a workflow.",
				"operationId": "ResumeWorkflow",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"in": "body",
						"name": "body",
						"required": true,
						"schema": {
							"properties": {
								"comment": {
									"$ref": "#/definitions/commentSimplePost_object"
								},
								"notifyCounterparty": {
									"$ref": "#/definitions/notifyCounterparty_boolean"
								}
							},
							"required": [
								"comment",
								"notifyCounterparty"
							],
							"type": "object",
							"x-ms-visibility": "important"
						}
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"204": {
						"description": "Workflow Resumed",
						"schema": {
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Resume Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/revert-to-review": {
			"patch": {
				"description": "Reverts a workflow to the Review step. Only workflows sourced from workflow Designer and in the Sign step can be reverted.",
				"operationId": "RevertToReview",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/workflowRevertingUser_body"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"204": {
						"description": "Workflow Reverted to Review"
					},
					"201": {
						"description": "Workflow Reverted to Review"
					},
					"200": {
						"description": "Workflow Reverted to Review"
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Revert a Workflow to the Review Step",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/signatures": {
			"get": {
				"description": "Returns a list of workflow signers and the status of their signature.",
				"operationId": "ListWorkflowSignatures",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Workflow Signatures Retrieved",
						"schema": {
							"properties": {
								"signers": {
									"$ref": "#/definitions/workflowSigners_array"
								},
								"title": {
									"$ref": "#/definitions/workflowTitle_string"
								},
								"workflowId": {
									"$ref": "#/definitions/uniqueId_string"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"403": {
						"description": "Forbidden"
					}
				},
				"summary": "List All Workflow Signers",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/turn-history": {
			"get": {
				"description": "An array of objects for each turn on a workflow.",
				"operationId": "ListTurnHistory",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/page_query"
					},
					{
						"$ref": "#/parameters/pageSize_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Turn History Retrieved",
						"schema": {
							"properties": {
								"count": {
									"$ref": "#/definitions/count_integer"
								},
								"list": {
									"$ref": "#/definitions/turnHistory_array"
								},
								"page": {
									"$ref": "#/definitions/page_integer"
								},
								"pageSize": {
									"$ref": "#/definitions/pageSize_integer"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve the Turn History on a Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/public/api/v1/workflows/{Workflow}/upload-signed": {
			"post": {
				"description": "Upload a fully or partially signed document to a specified workflow that is in sign step.",
				"operationId": "CreateSignedDocument",
				"parameters": [
					{
						"$ref": "#/parameters/workflowId_path"
					},
					{
						"$ref": "#/parameters/workflowDocument_formData"
					},
					{
						"$ref": "#/parameters/json_header"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Signed Document Uploaded",
						"schema": {
							"$ref": "#/definitions/uploadSignedGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create a Signed Document on a Workflow",
				"x-ms-visibility": "important"
			}
		},
		"/scim/v2/Groups": {
			"get": {
				"description": "List all Groups via SCIM.",
				"operationId": "ListGroups",
				"parameters": [
					{
						"$ref": "#/parameters/scimCount_query"
					},
					{
						"$ref": "#/parameters/scimStartIndex_query"
					},
					{
						"$ref": "#/parameters/scimRecordFilter_query"
					},
					{
						"$ref": "#/parameters/scimExcludedAttributes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "List of Groups Retrieved",
						"schema": {
							"properties": {
								"itemsPerPage": {
									"$ref": "#/definitions/itemsPerPage_integer"
								},
								"Resources": {
									"$ref": "#/definitions/scimGroupResourcesGet_array"
								},
								"schemas": {
									"$ref": "#/definitions/scimSchemasGet_array"
								},
								"startIndex": {
									"$ref": "#/definitions/startIndex_integer"
								},
								"totalResults": {
									"$ref": "#/definitions/totalResults_integer"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "List all Groups",
				"x-ms-visibility": "important"
			},
			"post": {
				"description": "Create a Group via SCIM.",
				"operationId": "CreateGroup",
				"parameters": [
					{
						"$ref": "#/parameters/scimGroup_body"
					},
					{
						"$ref": "#/parameters/scimExcludedAttributes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"201": {
						"description": "Group Created",
						"schema": {
							"$ref": "#/definitions/scimGroupGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create a Group",
				"x-ms-visibility": "important"
			}
		},
		"/scim/v2/Groups/{Group}": {
			"delete": {
				"description": "Delete a Group via SCIM.",
				"operationId": "DeleteGroup",
				"parameters": [
					{
						"$ref": "#/parameters/scimGroupID_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					},
					{
						"$ref": "#/parameters/json_header"
					}
				],
				"responses": {
					"200": {
						"description": "Group Deleted"
					},
					"204": {
						"description": "Group Deleted"
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Delete a Group",
				"x-ms-visibility": "important"
			},
			"get": {
				"description": "Retrieve a Group via SCIM.",
				"operationId": "RetrieveGroup",
				"parameters": [
					{
						"$ref": "#/parameters/scimGroupID_path"
					},
					{
						"$ref": "#/parameters/scimExcludedAttributes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "Group Retrieved",
						"schema": {
							"$ref": "#/definitions/scimGroupGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve a Group",
				"x-ms-visibility": "important"
			},
			"patch": {
				"description": "Update a Group via SCIM.",
				"operationId": "UpdateGroup",
				"parameters": [
					{
						"$ref": "#/parameters/scimGroupID_path"
					},
					{
						"$ref": "#/parameters/scimGroupOperations_body"
					},
					{
						"$ref": "#/parameters/scimExcludedAttributes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					},
					{
						"$ref": "#/parameters/json_header"
					}
				],
				"responses": {
					"200": {
						"description": "Group Updated",
						"schema": {
							"$ref": "#/definitions/scimGroupGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Update a Group",
				"x-ms-visibility": "important"
			},
			"put": {
				"description": "Replace a Group via SCIM.",
				"operationId": "ReplaceGroup",
				"parameters": [
					{
						"$ref": "#/parameters/scimGroupID_path"
					},
					{
						"$ref": "#/parameters/scimGroup_body"
					},
					{
						"$ref": "#/parameters/scimExcludedAttributes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					},
					{
						"$ref": "#/parameters/json_header"
					}
				],
				"responses": {
					"200": {
						"description": "Group Replaced",
						"schema": {
							"$ref": "#/definitions/scimGroupGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Replace a Group",
				"x-ms-visibility": "important"
			}
		},
		"/scim/v2/Users": {
			"get": {
				"description": "List all Users via SCIM.",
				"operationId": "ListUsers",
				"parameters": [
					{
						"$ref": "#/parameters/scimCount_query"
					},
					{
						"$ref": "#/parameters/scimStartIndex_query"
					},
					{
						"$ref": "#/parameters/scimRecordFilter_query"
					},
					{
						"$ref": "#/parameters/scimExcludedAttributes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "List of Users Retrieved",
						"schema": {
							"properties": {
								"itemsPerPage": {
									"$ref": "#/definitions/itemsPerPage_integer"
								},
								"Resources": {
									"$ref": "#/definitions/scimUserResourcesGet_array"
								},
								"schemas": {
									"$ref": "#/definitions/scimSchemasGet_array"
								},
								"startIndex": {
									"$ref": "#/definitions/startIndex_integer"
								},
								"totalResults": {
									"$ref": "#/definitions/totalResults_integer"
								}
							},
							"type": "object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "List all Users",
				"x-ms-visibility": "important"
			},
			"post": {
				"description": "Create a User via SCIM.",
				"operationId": "CreateUser",
				"parameters": [
					{
						"$ref": "#/parameters/scimUser_body"
					},
					{
						"$ref": "#/parameters/scimExcludedAttributes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"201": {
						"description": "User Created",
						"schema": {
							"$ref": "#/definitions/scimUserGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Create a User",
				"x-ms-visibility": "important"
			}
		},
		"/scim/v2/Users/{User}": {
			"delete": {
				"description": "Delete a User via SCIM.",
				"operationId": "DeleteUser",
				"parameters": [
					{
						"$ref": "#/parameters/scimUserID_path"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					},
					{
						"$ref": "#/parameters/json_header"
					}
				],
				"responses": {
					"204": {
						"description": "User Deleted"
					},
					"201": {
						"description": "User Deleted"
					},
					"200": {
						"description": "User Deleted"
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Delete a User",
				"x-ms-visibility": "important"
			},
			"get": {
				"description": "Retrieve a User via SCIM.",
				"operationId": "RetrieveUser",
				"parameters": [
					{
						"$ref": "#/parameters/scimUserID_path"
					},
					{
						"$ref": "#/parameters/scimExcludedAttributes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					}
				],
				"responses": {
					"200": {
						"description": "User Retrieved",
						"schema": {
							"$ref": "#/definitions/scimUserGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Retrieve a User",
				"x-ms-visibility": "important"
			},
			"patch": {
				"description": "Update a User via SCIM.",
				"operationId": "UpdateUser",
				"parameters": [
					{
						"$ref": "#/parameters/scimUserID_path"
					},
					{
						"$ref": "#/parameters/scimUserOperations_body"
					},
					{
						"$ref": "#/parameters/scimExcludedAttributes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					},
					{
						"$ref": "#/parameters/json_header"
					}
				],
				"responses": {
					"200": {
						"description": "User Updated",
						"schema": {
							"$ref": "#/definitions/scimUserGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Update a User",
				"x-ms-visibility": "important"
			},
			"put": {
				"description": "Replace a User via SCIM.",
				"operationId": "ReplaceUser",
				"parameters": [
					{
						"$ref": "#/parameters/scimUserID_path"
					},
					{
						"$ref": "#/parameters/scimUser_body"
					},
					{
						"$ref": "#/parameters/scimExcludedAttributes_query"
					},
					{
						"$ref": "#/parameters/x-as-user-email_header"
					},
					{
						"$ref": "#/parameters/x-as-user-id_header"
					},
					{
						"$ref": "#/parameters/json_header"
					}
				],
				"responses": {
					"200": {
						"description": "User Replaced",
						"schema": {
							"$ref": "#/definitions/scimUserGet_object"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					},
					"401": {
						"description": "Unauthorized"
					},
					"403": {
						"description": "Forbidden"
					},
					"500": {
						"description": "Internal Server Error"
					},
					"default": {
						"description": "Operation Failed."
					}
				},
				"summary": "Replace a User",
				"x-ms-visibility": "important"
			}
		}
	},
	"definitions": {
		"actorDetails_object": {
			"description": "Details of the actor.",
			"properties": {
				"userEmail": {
					"$ref": "#/definitions/userEmail_string"
				},
				"userName": {
					"$ref": "#/definitions/userUsername_string"
				}
			},
			"title": "Actor Details",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"actorId_string": {
			"description": "The identifier of the actor.",
			"title": "Actor ID",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"actorType_string": {
			"description": "The type of actor.",
			"title": "Actor Type",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"addedParticipants_array": {
			"description": "Users added to the conversation.",
			"items": {
				"$ref": "#/definitions/addedParticipant_string"
			},
			"title": "Added Participants",
			"type": "array",
			"x-ms-visibility": "advanced"
		},
		"addedParticipant_string": {
			"description": "User added to the conversation.",
			"title": "Name",
			"type": "string",
			"x-ms-visibility": "advanced"
		},
		"addUsersToWorkflow_boolean": {
			"default": true,
			"description": "Set to true to add mentioned users to the workflow",
			"title": "Add to Workflow",
			"type": "boolean",
			"x-ms-visibility": "important"
		},
		"approvalEndTime_string": {
			"description": "The date and time the approval ended.",
			"format": "date-time",
			"title": "End Time",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"approvalRequest_object": {
			"description": "An approval request for the workflow.",
			"properties": {
				"actorDetails": {
					"$ref": "#/definitions/actorDetails_object"
				},
				"actorId": {
					"$ref": "#/definitions/actorId_string"
				},
				"actorType": {
					"$ref": "#/definitions/actorType_string"
				},
				"approvalType": {
					"$ref": "#/definitions/approvalType_string"
				},
				"duration": {
					"$ref": "#/definitions/duration_integer"
				},
				"endTime": {
					"$ref": "#/definitions/approvalEndTime_string"
				},
				"role": {
					"$ref": "#/definitions/workflowRoleId_string"
				},
				"roleName": {
					"$ref": "#/definitions/workflowRoleDisplayName_string"
				},
				"startTime": {
					"$ref": "#/definitions/approvalStartTime_string"
				},
				"status": {
					"$ref": "#/definitions/approvalStatusGet_string"
				}
			},
			"title": "Approval Request",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"approvalRequestsList_array": {
			"description": "The approval requests for the workflow.",
			"items": {
				"$ref": "#/definitions/approvalRequest_object"
			},
			"title": "Approval Requests",
			"type": "array",
			"x-ms-visibility": "important"
		},
		"approvalStartTime_string": {
			"description": "The date and time the approval started.",
			"format": "date-time",
			"title": "Start Time",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"approvalStatusGet_string": {
			"description": "The status of the approval.",
			"title": "Status",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"approvalStatusPost_string": {
			"description": "The new approval status.",
			"enum": [
				"approved",
				"pending"
			],
			"title": "Status",
			"type": "string",
			"x-ms-enum-values": [
				{
					"displayName": "Approved",
					"value": "approved"
				},
				{
					"displayName": "Pending",
					"value": "pending"
				}
			],
			"x-ms-visibility": "important"
		},
		"approvalType_string": {
			"description": "The type of approval.",
			"title": "Approval Type",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"approvalUpdated_boolean": {
			"description": "True if the approval was successfully updated, false otherwise.",
			"title": "Approval Updated",
			"type": "boolean",
			"x-ms-visibility": "important"
		},
		"assignee_object": {
			"description": "A user assigned to the workflow.",
			"properties": {
				"email": {
					"$ref": "#/definitions/userEmail_string"
				},
				"userId": {
					"$ref": "#/definitions/userId_string"
				},
				"userName": {
					"$ref": "#/definitions/userUsername_string"
				}
			},
			"title": "Assignee",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"assignees_array": {
			"description": "The assigned users",
			"items": {
				"$ref": "#/definitions/assignee_object"
			},
			"title": "Assignees",
			"type": "array",
			"x-ms-visibility": "important"
		},
		"asyncJobId_string": {
			"description": "The ID of the asynchronous job",
			"title": "Async Job ID",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"asyncJobStatusUrl_string": {
			"description": "The URL to check the status of the asynchronous job",
			"title": "Async Job Status URL",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"attachmentDisplayName_string": {
			"description": "The display name of the attachment.",
			"title": "Display Name",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"attachmentFilename_string": {
			"description": "Name of the file to be uploaded.",
			"title": "Filename",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"attachmentMetadata_object": {
			"description": "Metadata associated with the attachment.",
			"properties": {
				"filename": {
					"$ref": "#/definitions/attachmentFilename_string"
				}
			},
			"title": "Metadata",
			"type": "object",
			"x-ms-visibility": "important",
			"required": [
				"filename"
			]
		},
		"attachmentName_string": {
			"description": "The internal name of the attachment.",
			"title": "System Name",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"attachment_binary": {
			"description": "The content of the attachment.",
			"format": "binary",
			"title": "File",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"attachment_byte": {
			"description": "The content of the attachment.",
			"format": "byte",
			"title": "File",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"authorGet_object": {
			"description": "Information about the author of the original comment.",
			"properties": {
				"companyName": {
					"$ref": "#/definitions/userCompanyName_string"
				},
				"displayName": {
					"$ref": "#/definitions/userDisplayName_string"
				},
				"email": {
					"$ref": "#/definitions/userEmail_string"
				},
				"type": {
					"$ref": "#/definitions/userType_string"
				},
				"userId": {
					"$ref": "#/definitions/userId_string"
				}
			},
			"title": "Author",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"commentGet_object": {
			"description": "A comment on the workflow.",
			"properties": {
				"author": {
					"$ref": "#/definitions/authorGet_object"
				},
				"id": {
					"$ref": "#/definitions/commentId_string"
				},
				"commentMessage": {
					"$ref": "#/definitions/commentText_string"
				},
				"reactions": {
					"$ref": "#/definitions/reactions_array"
				},
				"timeStamp": {
					"$ref": "#/definitions/created_string"
				},
				"mentionedUserDetails": {
					"$ref": "#/definitions/commentMentionedUserDetails"
				},
				"addedParticipants": {
					"$ref": "#/definitions/addedParticipants_array"
				},
				"isExternal": {
					"$ref": "#/definitions/isExternal_boolean"
				}
			},
			"title": "Comment",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"commentId_string": {
			"description": "Identifier of the comment.",
			"title": "ID",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"commentMentionedUserDisplayName_string": {
			"description": "Name of the mentioned user.",
			"title": "Display Name",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"commentMentionedUserEmail_string": {
			"description": "Email of the mentioned user.",
			"title": "Email",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"commentMentionedUserUserId_string": {
			"description": "Unique identifier of the mentioned user.",
			"title": "ID",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"commentMentionedUserDetails": {
			"description": "Details of users mentioned in the comment.",
			"items": {
				"properties": {
					"displayName": {
						"$ref": "#/definitions/commentMentionedUserDisplayName_string"
					},
					"email": {
						"$ref": "#/definitions/commentMentionedUserEmail_string"
					},
					"id": {
						"$ref": "#/definitions/commentMentionedUserUserId_string"
					}
				},
				"type": "object"
			},
			"title": "Mentioned Users",
			"type": "array",
			"x-ms-visibility": "advanced"
		},
		"commentPost_object": {
			"description": "The comment object.",
			"properties": {
				"addUsersToWorkflow": {
					"$ref": "#/definitions/addUsersToWorkflow_boolean"
				},
				"creator": {
					"$ref": "#/definitions/creatorPost_object"
				},
				"comment": {
					"$ref": "#/definitions/commentText_string"
				},
				"repliedToActivityFeedMessageId": {
					"$ref": "#/definitions/repliedToActivityFeedMessageId_string"
				}
			},
			"required": [
				"comment",
				"creator",
				"addUsersToWorkflow"
			],
			"title": "Comment",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"commentsGet_array": {
			"description": "The list of comments.",
			"items": {
				"$ref": "#/definitions/commentGet_object"
			},
			"title": "Comments",
			"type": "array",
			"x-ms-visibility": "advanced"
		},
		"commentSimplePost_object": {
			"description": "The comment object.",
			"properties": {
				"addUsersToWorkflow": {
					"$ref": "#/definitions/addUsersToWorkflow_boolean"
				},
				"message": {
					"$ref": "#/definitions/commentText_string"
				}
			},
			"required": [
				"message",
				"addUsersToWorkflow"
			],
			"title": "Comment",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"commentText_string": {
			"description": "The text of the comment.",
			"title": "Message",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"count_integer": {
			"default": 25,
			"description": "The number of records matching your criteria.",
			"format": "int32",
			"title": "Count",
			"type": "integer",
			"x-ms-visibility": "advanced"
		},
		"counterpartyNameGet_string": {
			"description": "The name of the counterparty.",
			"title": "Counterparty Name",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"companyId_string": {
			"description": "The identifier of the company.",
			"title": "Company ID",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"created_string": {
			"description": "The date and time of creation.",
			"title": "Created Date Time",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"creatorGet_object": {
			"description": "The Ironclad user that launched the workflow.",
			"properties": {
				"contactNumber": {
					"$ref": "#/definitions/userContactNumber_string"
				},
				"department": {
					"$ref": "#/definitions/userDepartment_string"
				},
				"displayName": {
					"$ref": "#/definitions/userDisplayName_string"
				},
				"email": {
					"$ref": "#/definitions/userEmail_string"
				},
				"id": {
					"$ref": "#/definitions/userId_string"
				},
				"lastUsageTrack": {
					"$ref": "#/definitions/userLastUsageTrack_string"
				},
				"pronoun": {
					"$ref": "#/definitions/userPronoun_string"
				},
				"title": {
					"$ref": "#/definitions/userTitle_string"
				},
				"username": {
					"$ref": "#/definitions/userUsername_string"
				}
			},
			"title": "Creator",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"creatorPost_object": {
			"description": "The Ironclad user (must be a user in your Ironclad account) to be used for launching the workflow.",
			"properties": {
				"email": {
					"$ref": "#/definitions/userEmail_string"
				},
				"id": {
					"$ref": "#/definitions/userId_string"
				},
				"type": {
					"$ref": "#/definitions/userIdentificationAttribute_string"
				}
			},
			"required": [
				"type"
			],
			"title": "Creator",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"documentContentType_string": {
			"description": "The content type of the document.",
			"title": "Content Type",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"documentDisplayName_string": {
			"description": "The display name of the document.",
			"title": "Display Name",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"documentDownloadPath_string": {
			"description": "The path to the current version of the document.",
			"title": "Download Path",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"documentFileName_string": {
			"description": "The file name of the document.",
			"title": "File Name",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"documentKey_string": {
			"description": "The key of the document.",
			"title": "Key",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"documentLastModified_object": {
			"description": "Information when and by whom the document was last modified.",
			"properties": {
				"author": {
					"$ref": "#/definitions/authorGet_object"
				},
				"timestamp": {
					"$ref": "#/definitions/timestamp_string"
				}
			},
			"title": "Last Modified",
			"type": "object",
			"x-ms-visibility": "advanced"
		},
		"documentMetadata_object": {
			"description": "Metadata associated with the workflow document.",
			"properties": {
				"filename": {
					"$ref": "#/definitions/attachmentFilename_string"
				},
				"comment": {
					"$ref": "#/definitions/documentMetadataComment_object"
				}
			},
			"title": "Metadata",
			"type": "object",
			"x-ms-visibility": "important",
			"required": [
				"comment",
				"filename"
			]
		},
		"documentMetadataComment_object": {
			"description": "The comment associated with creating the workflow document.",
			"properties": {
				"message": {
					"$ref": "#/definitions/commentText_string"
				}
			},
			"required": [
				"message"
			],
			"title": "Comment",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"documentSystemName_string": {
			"description": "The system name of the document.",
			"title": "System Name",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"documentVersion_string": {
			"description": "The version identifier of the workflow document.",
			"title": "ID",
			"type": "string",
			"x-ms-visibility": "advanced"
		},
		"documentVersionNumber_number": {
			"description": "Version number of the document.",
			"title": "Number",
			"type": "number",
			"x-ms-visibility": "important"
		},
		"duration_integer": {
			"description": "The duration of the approval request.",
			"title": "Duration",
			"type": "number",
			"x-ms-visibility": "important"
		},
		"emojiId_string": {
			"description": "Identifier of the emoji used in the reaction.",
			"title": "Emoji ID",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"event_string": {
			"description": "The type of the event.",
			"title": "Type",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"familyName_string": {
			"description": "The family name of the user.",
			"title": "Family Name",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"givenName_string": {
			"description": "The given name of the user.",
			"title": "Given Name",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"groupExternalId_string": {
			"description": "The external identifier of the group.",
			"title": "External ID",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"groupId_string": {
			"description": "The identifier of the group.",
			"title": "ID",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"groupMemberType_string": {
			"description": "Type of the member.",
			"title": "Type",
			"type": "string",
			"x-ms-visibility": "advanced"
		},
		"importId_string": {
			"description": "The unique identifier of the import operation.",
			"title": "Import ID",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"instanceId_string": {
			"description": "The identifier of the Ironclad instance.",
			"title": "Instance ID",
			"type": "string",
			"x-ms-visibility": "advanced"
		},
		"isCancelled_boolean": {
			"description": "If true, the workflow was cancelled.",
			"title": "Cancelled",
			"type": "boolean",
			"x-ms-visibility": "important"
		},
		"isComplete_boolean": {
			"description": "If true, the workflow was completed.",
			"title": "Complete",
			"type": "boolean",
			"x-ms-visibility": "important"
		},
		"isExternal_boolean": {
			"description": "Indicates if the comment is from an external user.",
			"title": "Is External",
			"type": "boolean",
			"x-ms-visibility": "advanced"
		},
		"isRevertibleToReview_boolean": {
			"description": "If true, the workflow can be reverted to review.",
			"title": "Revertible to Review",
			"type": "boolean",
			"x-ms-visibility": "advanced"
		},
		"isWetSigned_boolean": {
			"description": "If true, the signer signed in wet ink.",
			"title": "Wet Signed",
			"type": "boolean",
			"x-ms-visibility": "important"
		},
		"itemsPerPage_integer": {
			"description": "The number of resources returned in a list response page.",
			"example": 1,
			"title": "Items Per Page",
			"type": "integer",
			"x-ms-visibility": "important"
		},
		"lastUpdated_string": {
			"description": "The date and time of the last updated.",
			"title": "Last Updated Date Time",
			"type": "string",
			"x-ms-visibility": "advanced"
		},
		"notifyCounterparty_boolean": {
			"description": "Set to true to notify the counterparty of the cancellation.",
			"title": "Notify Counterparty",
			"type": "boolean",
			"x-ms-visibility": "important"
		},
		"page_integer": {
			"description": "The index of the page.",
			"format": "int32",
			"title": "Page",
			"type": "integer",
			"x-ms-visibility": "advanced"
		},
		"pageSize_integer": {
			"description": "A limit of the number of results.",
			"format": "int32",
			"title": "Page Size",
			"type": "integer",
			"x-ms-visibility": "advanced"
		},
		"paperSourceGet_string": {
			"description": "The source of the workflow documents.",
			"title": "Paper Source",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"prediction_object": {
			"description": "The prediction status for a record in the smart import.",
			"properties": {
				"recordId": {
					"$ref": "#/definitions/recordId_string"
				},
				"status": {
					"$ref": "#/definitions/predictionStatus_string"
				}
			},
			"title": "Prediction",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"predictions_array": {
			"description": "The prediction statuses for the smart import.",
			"items": {
				"$ref": "#/definitions/prediction_object"
			},
			"title": "Predictions",
			"type": "array",
			"x-ms-visibility": "important"
		},
		"predictionStatus_string": {
			"description": "The status of the prediction.",
			"title": "Status",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"propertyDataType_string": {
			"description": "The data type of the property.",
			"title": "Data Type",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"propertyDisplayName_string": {
			"description": "The display name of the property.",
			"title": "Display Name",
			"type": "string",
			"x-ms-visibility": "important"
		},
		"propertyReadOnly_boolean": {
			"description": "If true, the property is read-only.",
			"title": "Read-Only",
			"type": "boolean",
			"x-ms-visibility": "internal"
		},
		"propertyToAddSystemName_string": {
			"description": "The system name of the property to add to the record.",
			"title": "to add Name",
			"type": "string",
			"x-ms-dynamic-values": {
				"operationId": "RetrieveRecordSchemas",
				"value-collection": "formattedProperties",
				"value-path": "systemName",
				"value-title": "label"
			},
			"x-ms-visibility": "important"
		},
		"propertySystemName_string": {
			"description": "The system name of the property.",
			"title": "Name",
			"type": "string",
			"x-ms-dynamic-values": {
				"operationId": "RetrieveRecordSchemas",
				"value-collection": "formattedProperties",
				"value-path": "systemName",
				"value-title": "label"
			},
			"x-ms-visibility": "important"
		},
		"propertyType_string": {
			"description": "The data type of the property.",
			"enum": [
				"string",
				"number",
				"boolean",
				"date",
				"monetary_amount",
				"email",
				"clause",
				"address",
				"duration"
			],
			"title": "Type",
			"type": "string",
			"x-ms-enum-values": [
				{
					"displayName": "Text",
					"value": "string"
				},
				{
					"displayName": "Number",
					"value": "number"
				},
				{
					"displayName": "Yes/No",
					"value": "boolean"
				},
				{
					"displayName": "Date",
					"value": "date"
				},
				{
					"displayName": "Monetary Amount",
					"value": "monetary_amount"
				},
				{
					"displayName": "Email",
					"value": "email"
				},
				{
					"displayName": "Clause",
					"value": "clause"
				},
				{
					"displayName": "Address",
					"value": "address"
				},
				{
					"displayName": "Duration",
					"value": "duration"
				}
			],
			"x-ms-visibility": "important"
		},
		"propertyValue_dynamic": {
			"description": "The value of the property.",
			"title": "Value",
			"x-ms-visibility": "important"
		},
		"reactions_array": {
			"description": "Reactions to the comment.",
			"items": {
				"$ref": "#/definitions/reactions_object"
			},
			"title": "Reactions",
			"type": "array",
			"x-ms-visibility": "advanced"
		},
		"reactions_object": {
			"description": "A reaction to the comment.",
			"properties": {
				"emojiId": {
					"$ref": "#/definitions/emojiId_string"
				},
				"reactors": {
					"$ref": "#/definitions/reactors_array"
				}
			},
			"title": "Reaction",
			"type": "object",
			"x-ms-visibility": "advanced"
		},
		"reactor_object": {
			"description": "A user who reacted to the comment.",
			"properties": {
				"displayName": {
					"$ref": "#/definitions/userDisplayName_string"
				},
				"id": {
					"$ref": "#/definitions/userId_string"
				}
			},
			"title": "Reactor",
			"type": "object",
			"x-ms-visibility": "advanced"
		},
		"reactors_array": {
			"description": "Users who reacted to the comment.",
			"items": {
				"$ref": "#/definitions/reactor_object"
			},
			"title": "Reactors",
			"type": "array",
			"x-ms-visibility": "advanced"
		},
		"recordAddChildren_array": {
			"description": "List of objects containing the Record IDs or Ironclad IDs of the records to be set as child records of the current record.",
			"items": {
				"$ref": "#/definitions/recordAddChildrenPost_object"
			},
			"title": "Add Children",
			"type": "array",
			"x-ms-visibility": "important"
		},
		"recordAddChildrenPost_object": {
			"description": "Object containing the Record IDs or Ironclad IDs of the records to be set as child records of the current record.",
			"properties": {
				"recordId": {
					"$ref": "#/definitions/recordAddChildrenPostRecordID_string"
				}
			},
			"title": "Add Child Record",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"recordAddChildrenPostRecordID_string": {
			"description": "The Record ID or Ironclad ID of the record to be set as a child record of the current record.",
			"title": "ID",
			"type": "string",
			"x-ms-dynamic-values": {
				"operationId": "ListAllRecords",
				"parameters": {
					"page": 0,
					"pageSize": 100,
					"sortDirection": "DESC",
					"sortField": "lastUpdated"
				},
				"value-collection": "list",
				"value-path": "id",
				"value-title": "ironcladId"
			},
			"x-ms-visibility": "important"
		},
		"recordAddLinkRecordPost_object": {
			"description": "Object containing the Record IDs or Ironclad IDs of the records to link.",
			"properties": {
				"recordId": {
					"$ref": "#/definitions/recordAddLinksPostRecordID_string"
				}
			},
			"title": "Add Link Record",
			"type": "object",
			"x-ms-visibility": "important"
		},
		"recordAddLinks_array": {
			"description": "List of objects containing the Record IDs or Ironclad IDs of the records to link.",
			"items": {
				"$ref": "#/definitions/recordAddLinkRecordPost_object"
			},
			"title": "Add Links",
			"type": "array",
			"x-ms-visibility": "important"
		},
		"recordAddLinksPostRecordID_string": {
			"description": "The Record ID or Ironclad ID of the record to link.",
			"title": "ID",
			"type": "string",
			"x-ms-dynamic-values": {
				"operationId": "ListAllRecords",
				"parameters": {
					"page": 0,
					"pageSize": 100,
					"sortDirection": "DESC",
					"sortField": "lastUpdated"
				},
				"value-collection": "list",
				"value-path": "id",
				"value-title": "ironcladId"
			},
			"x-ms-visibility": "important"
		},
		"recordAttachmentsAsArrayScriptGet_array": {
			"description": "The attachments of the record.",
			"items": {
				"properties": {
					"displayName": {
						"$ref": "#/definitions/attachmentDisplayName_string"
					},
					"key": {
						"$ref": "#/definitions/documentKey_string"
					},
					"name": {
						"$ref": "#/definitions/attachmentName_string"
					}
				},
				"title": "Attachment",
				"type": "object",
				"x-ms-visibility": "internal"
			},
			"title": "Attachments as Array",
			"type": "array"
		},
		"recordAttachmentsGet_object": {
[...]
