{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Passage by 1Password - Manage",
    "description": "Passage is backed by 1Password's 17+ years of industry-leading security expertise. Completely replace your existing authentication flow or build from scratch with a robust solution for passwordless authentication and customer identity management. Realize the full security, business, and user experience benefits of eliminating passwords by implementing login flows powered by passkeys, magic links, and login codes.",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.passage.id",
  "basePath": "/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/apps/{app_id}": {
      "get": {
        "summary": "Get app",
        "description": "Get app information.",
        "operationId": "GetApp",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "description": "The app identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "app": {
                  "type": "object",
                  "properties": {
                    "additional_auth_origins": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The additional auth origins.",
                      "title": "Additional Auth Origins"
                    },
                    "allowed_callback_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The allowed callback URL addresses.",
                      "title": "Allowed Callback URLs"
                    },
                    "allowed_identifier": {
                      "type": "string",
                      "description": "The allowed identifier.",
                      "title": "Allowed ID"
                    },
                    "allowed_logout_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The allowed logout URL addresses.",
                      "title": "Allowed Logout URLs"
                    },
                    "application_login_uri": {
                      "type": "string",
                      "description": "The application login URI address.",
                      "title": "Application Login URI"
                    },
                    "auth_fallback_method": {
                      "type": "string",
                      "description": "The auth fallback method.",
                      "title": "Auth Fallback Method"
                    },
                    "auth_fallback_method_ttl": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The auth fallback method TTL.",
                      "title": "Auth Fallback Method TTL"
                    },
                    "auth_methods": {
                      "type": "object",
                      "properties": {
                        "passkeys": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean",
                              "description": "Whether enabled.",
                              "title": "Enabled"
                            }
                          },
                          "title": "Passkeys"
                        },
                        "otp": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean",
                              "description": "Whether enabled.",
                              "title": "Enabled"
                            },
                            "ttl": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The TTL.",
                              "title": "TTL"
                            },
                            "ttl_display_unit": {
                              "type": "string",
                              "description": "The TTL display unit.",
                              "title": "TTL Display Unit"
                            }
                          },
                          "title": "Otp"
                        },
                        "magic_link": {
                          "type": "object",
                          "properties": {
                            "enabled": {
                              "type": "boolean",
                              "description": "Whether enabled.",
                              "title": "Enabled"
                            },
                            "ttl": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The TTL.",
                              "title": "TTL"
                            },
                            "ttl_display_unit": {
                              "type": "string",
                              "description": "The TTL display unit.",
                              "title": "TTL Display Unit"
                            }
                          },
                          "title": "Magic Link"
                        }
                      },
                      "title": "Auth Methods"
                    },
                    "auth_origin": {
                      "type": "string",
                      "description": "The auth origin.",
                      "title": "Auth Origin"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "default_language": {
                      "type": "string",
                      "description": "The default language.",
                      "title": "Default Language"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "layouts": {
                      "type": "object",
                      "properties": {
                        "profile": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "h": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The H amount.",
                                "title": "H"
                              },
                              "id": {
                                "type": "string",
                                "description": "The identifier.",
                                "title": "ID"
                              },
                              "w": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The W amount.",
                                "title": "W"
                              },
                              "x": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The X amount.",
                                "title": "X"
                              },
                              "y": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The Y amount.",
                                "title": "Y"
                              }
                            }
                          },
                          "title": "Profile"
                        },
                        "registration": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "h": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The H amount.",
                                "title": "H"
                              },
                              "id": {
                                "type": "string",
                                "description": "The identifier.",
                                "title": "ID"
                              },
                              "w": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The W amount.",
                                "title": "W"
                              },
                              "x": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The X amount.",
                                "title": "X"
                              },
                              "y": {
                                "type": "integer",
                                "format": "int32",
                                "description": "The Y amount.",
                                "title": "Y"
                              }
                            }
                          },
                          "title": "Registration"
                        }
                      },
                      "title": "Layouts"
                    },
                    "login_url": {
                      "type": "string",
                      "description": "The login URL address.",
                      "title": "Login URL"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "hosted": {
                      "type": "boolean",
                      "description": "Whether hosted.",
                      "title": "Hosted"
                    },
                    "hosted_subdomain": {
                      "type": "string",
                      "description": "The hosted subdomain.",
                      "title": "Hosted Subdomain"
                    },
                    "passage_branding": {
                      "type": "boolean",
                      "description": "Whether Passage branding.",
                      "title": "Passage Branding"
                    },
                    "profile_management": {
                      "type": "boolean",
                      "description": "Whether profile management.",
                      "title": "Profile Management"
                    },
                    "public_signup": {
                      "type": "boolean",
                      "description": "Whether public signup.",
                      "title": "Public Signup"
                    },
                    "redirect_url": {
                      "type": "string",
                      "description": "The redirect URL address.",
                      "title": "Redirect URL"
                    },
                    "refresh_absolute_lifetime": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The refresh absolute lifetime.",
                      "title": "Refresh Absolute Lifetime"
                    },
                    "refresh_enabled": {
                      "type": "boolean",
                      "description": "Whether refresh enabled.",
                      "title": "Refresh Enabled"
                    },
                    "refresh_inactivity_lifetime": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The refresh inactivity lifetime.",
                      "title": "Refresh Inactivity Lifetime"
                    },
                    "require_email_verification": {
                      "type": "boolean",
                      "description": "Whether to require email verification.",
                      "title": "Require Email Verification"
                    },
                    "require_identifier_verification": {
                      "type": "boolean",
                      "description": "Whether to required identifier verification.",
                      "title": "Require Identifier Verification"
                    },
                    "required_identifier": {
                      "type": "string",
                      "description": "The required identifier.",
                      "title": "Required ID"
                    },
                    "role": {
                      "type": "string",
                      "description": "The role.",
                      "title": "Role"
                    },
                    "rsa_public_key": {
                      "type": "string",
                      "description": "The RSA public key.",
                      "title": "RSA Public Key"
                    },
                    "session_timeout_length": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The session timeout length.",
                      "title": "Session Timeout Length"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "user_metadata_schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "field_name": {
                            "type": "string",
                            "description": "The field name.",
                            "title": "Field Name"
                          },
                          "friendly_name": {
                            "type": "string",
                            "description": "The friendly name.",
                            "title": "Friendly Name"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "profile": {
                            "type": "boolean",
                            "description": "Whether profile.",
                            "title": "Profile"
                          },
                          "registration": {
                            "type": "boolean",
                            "description": "Whether registration.",
                            "title": "Registration"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          }
                        }
                      },
                      "title": "User Metadata Schema"
                    },
                    "technologies": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The technologies.",
                      "title": "Technologies"
                    },
                    "element_customization": {
                      "type": "object",
                      "properties": {
                        "passage_container_background_color": {
                          "type": "string",
                          "description": "The passage container background color.",
                          "title": "Passage Container Background Color"
                        },
                        "passage_container_max_width": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage container maximum width.",
                          "title": "Passage Container Max Width"
                        },
                        "passage_input_box_background_color": {
                          "type": "string",
                          "description": "The passage input box background color.",
                          "title": "Passage Input Box Background Color"
                        },
                        "passage_input_box_border_radius": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage input box border radius.",
                          "title": "Passage Input Box Border Radius"
                        },
                        "passage_header_font_family": {
                          "type": "string",
                          "description": "The passage header font family.",
                          "title": "Passage Header Font Family"
                        },
                        "passage_body_font_family": {
                          "type": "string",
                          "description": "The passage body font family.",
                          "title": "Passage Body Font Family"
                        },
                        "passage_header_text_color": {
                          "type": "string",
                          "description": "The passage header text color.",
                          "title": "Passage Header Text Color"
                        },
                        "passage_body_text_color": {
                          "type": "string",
                          "description": "The passage body text color.",
                          "title": "Passage Body Text Color"
                        },
                        "passage_primary_button_background_color": {
                          "type": "string",
                          "description": "The passage primary button background color.",
                          "title": "Passage Primary Button Background Color"
                        },
                        "passage_primary_button_text_color": {
                          "type": "string",
                          "description": "The passage primary button text color.",
                          "title": "Passage Primary Button Text Color"
                        },
                        "passage_primary_button_hover_color": {
                          "type": "string",
                          "description": "The passage primary button hover color.",
                          "title": "Passage Primary Button Hover Color"
                        },
                        "passage_primary_button_border_radius": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage primary button border radius.",
                          "title": "Passage Primary Button Border Radius"
                        },
                        "passage_primary_button_border_color": {
                          "type": "string",
                          "description": "The passage primary button border color.",
                          "title": "Passage Primary Button Border Color"
                        },
                        "passage_primary_button_border_width": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage primary button border width.",
                          "title": "Passage Primary Button Border Width"
                        },
                        "passage_secondary_button_background_color": {
                          "type": "string",
                          "description": "The passage secondary button background color.",
                          "title": "Passage Secondary Button Background Color"
                        },
                        "passage_secondary_button_text_color": {
                          "type": "string",
                          "description": "The passage secondary button text color.",
                          "title": "Passage Secondary Button Text Color"
                        },
                        "passage_secondary_button_hover_color": {
                          "type": "string",
                          "description": "The passage secondary button hover color.",
                          "title": "Passage Secondary Button Hover Color"
                        },
                        "passage_secondary_button_border_radius": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage secondary button border radius.",
                          "title": "Passage Secondary Button Border Radius"
                        },
                        "passage_secondary_button_border_color": {
                          "type": "string",
                          "description": "The passage secondary button border color.",
                          "title": "Passage Secondary Button Border Color"
                        },
                        "passage_secondary_button_border_width": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage secondary button border width.",
                          "title": "Passage Secondary Button Border Width"
                        }
                      },
                      "title": "Element Customization"
                    },
                    "element_customization_dark": {
                      "type": "object",
                      "properties": {
                        "passage_container_background_color": {
                          "type": "string",
                          "description": "The passage container background color.",
                          "title": "Passage Container Background Color"
                        },
                        "passage_container_max_width": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage container maximum width.",
                          "title": "Passage Container Max Width"
                        },
                        "passage_input_box_background_color": {
                          "type": "string",
                          "description": "The passage input box background color.",
                          "title": "Passage Input Box Background Color"
                        },
                        "passage_input_box_border_radius": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage input box border radius.",
                          "title": "Passage Input Box Border Radius"
                        },
                        "passage_header_font_family": {
                          "type": "string",
                          "description": "The passage header font family.",
                          "title": "Passage Header Font Family"
                        },
                        "passage_body_font_family": {
                          "type": "string",
                          "description": "The passage body font family.",
                          "title": "Passage Body Font Family"
                        },
                        "passage_header_text_color": {
                          "type": "string",
                          "description": "The passage header text color.",
                          "title": "Passage Header Text Color"
                        },
                        "passage_body_text_color": {
                          "type": "string",
                          "description": "The passage body text color.",
                          "title": "Passage Body Text Color"
                        },
                        "passage_primary_button_background_color": {
                          "type": "string",
                          "description": "The passage primary button background color.",
                          "title": "Passage Primary Button Background Color"
                        },
                        "passage_primary_button_text_color": {
                          "type": "string",
                          "description": "The passage primary button text color.",
                          "title": "Passage Primary Button Text Color"
                        },
                        "passage_primary_button_hover_color": {
                          "type": "string",
                          "description": "The passage primary button hover color.",
                          "title": "Passage Primary Button Hover Color"
                        },
                        "passage_primary_button_border_radius": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage primary button border radius.",
                          "title": "Passage Primary Button Border Radius"
                        },
                        "passage_primary_button_border_color": {
                          "type": "string",
                          "description": "The passage primary button border color.",
                          "title": "Passage Primary Button Border Color"
                        },
                        "passage_primary_button_border_width": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage primary button border width.",
                          "title": "Passage Primary Button Border Width"
                        },
                        "passage_secondary_button_background_color": {
                          "type": "string",
                          "description": "The passage secondary button background color.",
                          "title": "Passage Secondary Button Background Color"
                        },
                        "passage_secondary_button_text_color": {
                          "type": "string",
                          "description": "The passage secondary button text color.",
                          "title": "Passage Secondary Button Text Color"
                        },
                        "passage_secondary_button_hover_color": {
                          "type": "string",
                          "description": "The passage secondary button hover color.",
                          "title": "Passage Secondary Button Hover Color"
                        },
                        "passage_secondary_button_border_radius": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage secondary button border radius.",
                          "title": "Passage Secondary Button Border Radius"
                        },
                        "passage_secondary_button_border_color": {
                          "type": "string",
                          "description": "The passage secondary button border color.",
                          "title": "Passage Secondary Button Border Color"
                        },
                        "passage_secondary_button_border_width": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The passage secondary button border width.",
                          "title": "Passage Secondary Button Border Width"
                        }
                      },
                      "title": "Element Customization Dark"
                    },
                    "light_logo_url": {
                      "type": "string",
                      "description": "The light logo URL address.",
                      "title": "Light Logo URL"
                    },
                    "dark_logo_url": {
                      "type": "string",
                      "description": "The dark logo URL address.",
                      "title": "Dark Logo URL"
                    },
                    "id_token_lifetime": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier token lifetime.",
                      "title": "ID Token Lifetime"
                    },
                    "secret": {
                      "type": "string",
                      "description": "The secret.",
                      "title": "Secret"
                    }
                  },
                  "title": "App"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetApp",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/apps/{app_id}/users/{user_id}/tokens": {
      "delete": {
        "summary": "Revokes refresh tokens",
        "description": "Revokes all refresh tokens for a user",
        "operationId": "RevokesRefreshTokens",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "description": "The app identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_id}/users/{user_id}/devices": {
      "get": {
        "summary": "List user devices",
        "description": "List user devices.",
        "operationId": "ListUserDevices",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "description": "The app identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "devices": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "cred_id": {
                        "type": "string",
                        "description": "The credential identifier.",
                        "title": "Cred ID"
                      },
                      "friendly_name": {
                        "type": "string",
                        "description": "The friendly name.",
                        "title": "Friendly Name"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "Id"
                      },
                      "last_login_at": {
                        "type": "string",
                        "description": "When last login at.",
                        "title": "Last Login At"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "usage_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The usage count.",
                        "title": "Usage Count"
                      },
                      "icons": {
                        "type": "object",
                        "properties": {
                          "light": {
                            "type": "string",
                            "description": "The light icon.",
                            "title": "Light"
                          },
                          "dark": {
                            "type": "string",
                            "description": "The dark icon.",
                            "title": "Dark"
                          }
                        },
                        "title": "Icon"
                      }
                    }
                  },
                  "title": "Devices"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "ListUserDevices",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      }
    },
    "/apps/{app_id}/users/{user_id}/devices/{device_id}": {
      "delete": {
        "summary": "Delete a device for a user",
        "description": "Delete a device for a user.",
        "operationId": "DeleteADeviceForAUser",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "description": "The app identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "device_id",
            "in": "path",
            "x-ms-summary": "Device ID",
            "x-ms-url-encoding": "single",
            "description": "The device identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_id}/users": {
      "post": {
        "summary": "Create user",
        "description": "Create user for an application. Must provide an email or phone number identifier.",
        "operationId": "CreateUser",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "description": "The app identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "phone": {
                  "type": "string",
                  "description": "The phone number.",
                  "title": "Phone"
                },
                "user_metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "The user metadata object.",
                  "title": "User Metadata"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "201",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "email_verified": {
                      "type": "boolean",
                      "description": "Whether email address is verified.",
                      "title": "Email Verified"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "last_login_at": {
                      "type": "string",
                      "description": "The last login at.",
                      "title": "Last Login At"
                    },
                    "login_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The login count.",
                      "title": "Login Count"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    },
                    "phone_verified": {
                      "type": "boolean",
                      "description": "Whether the phone number is verified.",
                      "title": "Phone Verified"
                    },
                    "recent_events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "ip_addr": {
                            "type": "string",
                            "description": "The IP address.",
                            "title": "IP"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "user_agent": {
                            "type": "string",
                            "description": "The user agent.",
                            "title": "User Agent"
                          }
                        }
                      },
                      "title": "Recent Events"
                    },
                    "social_connections": {
                      "type": "object",
                      "properties": {
                        "google": {
                          "type": "object",
                          "properties": {
                            "provider_id": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider ID"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "last_login_at": {
                              "type": "string",
                              "description": "When the last login was at.",
                              "title": "Last Login At"
                            },
                            "provider_identifier": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider Identifier"
                            }
                          },
                          "title": "Google"
                        },
                        "github": {
                          "type": "object",
                          "properties": {
                            "provider_id": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider ID"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "last_login_at": {
                              "type": "string",
                              "description": "When the last login was at.",
                              "title": "Last Login At"
                            },
                            "provider_identifier": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider Identifier"
                            }
                          },
                          "title": "Github"
                        }
                      },
                      "title": "Social Connections"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "user_metadata": {
                      "type": "object",
                      "properties": {},
                      "description": "The user metadata object.",
                      "title": "User Metadata"
                    },
                    "webauthn": {
                      "type": "boolean",
                      "description": "Whether web authentication.",
                      "title": "Web Auth"
                    },
                    "webauthn_devices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "cred_id": {
                            "type": "string",
                            "description": "The credential identifier.",
                            "title": "Cred ID"
                          },
                          "friendly_name": {
                            "type": "string",
                            "description": "The friendly name.",
                            "title": "Friendly Name"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "last_login_at": {
                            "type": "string",
                            "description": "When the last login was at.",
                            "title": "Last Login At"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "When updated at.",
                            "title": "Updated At"
                          },
                          "usage_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The usage count.",
                            "title": "Usage Count"
                          },
                          "icons": {
                            "type": "object",
                            "properties": {
                              "light": {
                                "type": "string",
                                "description": "The light icon.",
                                "title": "Light"
                              },
                              "dark": {
                                "type": "string",
                                "description": "The dark icon.",
                                "title": "Dark"
                              }
                            },
                            "title": "Icon"
                          }
                        }
                      },
                      "title": "Web Auth Devices"
                    },
                    "webauthn_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The web auth types.",
                      "title": "Web Auth Types"
                    }
                  },
                  "title": "User"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "CreateUser",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/users/{user_id}": {
      "get": {
        "summary": "Get user",
        "description": "Get information about a user.",
        "operationId": "GetUser",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "description": "The app identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "email_verified": {
                      "type": "boolean",
                      "description": "Whether email address is verified.",
                      "title": "Email Verified"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "last_login_at": {
                      "type": "string",
                      "description": "The last login at.",
                      "title": "Last Login At"
                    },
                    "login_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The login count.",
                      "title": "Login Count"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    },
                    "phone_verified": {
                      "type": "boolean",
                      "description": "Whether the phone number is verified.",
                      "title": "Phone Verified"
                    },
                    "recent_events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "ip_addr": {
                            "type": "string",
                            "description": "The IP address.",
                            "title": "IP"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "user_agent": {
                            "type": "string",
                            "description": "The user agent.",
                            "title": "User Agent"
                          }
                        }
                      },
                      "title": "Recent Events"
                    },
                    "social_connections": {
                      "type": "object",
                      "properties": {
                        "google": {
                          "type": "object",
                          "properties": {
                            "provider_id": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider ID"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "last_login_at": {
                              "type": "string",
                              "description": "When the last login was at.",
                              "title": "Last Login At"
                            },
                            "provider_identifier": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider Identifier"
                            }
                          },
                          "title": "Google"
                        },
                        "github": {
                          "type": "object",
                          "properties": {
                            "provider_id": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider ID"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "last_login_at": {
                              "type": "string",
                              "description": "When the last login was at.",
                              "title": "Last Login At"
                            },
                            "provider_identifier": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider Identifier"
                            }
                          },
                          "title": "Github"
                        }
                      },
                      "title": "Social Connections"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "user_metadata": {
                      "type": "object",
                      "properties": {},
                      "description": "The user metadata object.",
                      "title": "User Metadata"
                    },
                    "webauthn": {
                      "type": "boolean",
                      "description": "Whether web authentication.",
                      "title": "Web Auth"
                    },
                    "webauthn_devices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "cred_id": {
                            "type": "string",
                            "description": "The credential identifier.",
                            "title": "Cred ID"
                          },
                          "friendly_name": {
                            "type": "string",
                            "description": "The friendly name.",
                            "title": "Friendly Name"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "last_login_at": {
                            "type": "string",
                            "description": "When the last login was at.",
                            "title": "Last Login At"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "When updated at.",
                            "title": "Updated At"
                          },
                          "usage_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The usage count.",
                            "title": "Usage Count"
                          },
                          "icons": {
                            "type": "object",
                            "properties": {
                              "light": {
                                "type": "string",
                                "description": "The light icon.",
                                "title": "Light"
                              },
                              "dark": {
                                "type": "string",
                                "description": "The dark icon.",
                                "title": "Dark"
                              }
                            },
                            "title": "Icon"
                          }
                        }
                      },
                      "title": "Web Auth Devices"
                    },
                    "webauthn_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The web auth types.",
                      "title": "Web Auth Types"
                    }
                  },
                  "title": "User"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "GetUser",
              "x-ms-require-user-confirmation": false
            }
          ]
        }
      },
      "delete": {
        "summary": "Delete user",
        "description": "Delete a user.",
        "operationId": "DeleteUser",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "description": "The app identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update user",
        "description": "Update a user's information.",
        "operationId": "UpdateUser",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "description": "The app identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                },
                "phone": {
                  "type": "string",
                  "description": "The phone number.",
                  "title": "Phone"
                },
                "user_metadata": {
                  "type": "object",
                  "properties": {},
                  "description": "user_metadata"
                }
              }
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "email_verified": {
                      "type": "boolean",
                      "description": "Whether email address is verified.",
                      "title": "Email Verified"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "last_login_at": {
                      "type": "string",
                      "description": "The last login at.",
                      "title": "Last Login At"
                    },
                    "login_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The login count.",
                      "title": "Login Count"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    },
                    "phone_verified": {
                      "type": "boolean",
                      "description": "Whether the phone number is verified.",
                      "title": "Phone Verified"
                    },
                    "recent_events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "ip_addr": {
                            "type": "string",
                            "description": "The IP address.",
                            "title": "IP"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "user_agent": {
                            "type": "string",
                            "description": "The user agent.",
                            "title": "User Agent"
                          }
                        }
                      },
                      "title": "Recent Events"
                    },
                    "social_connections": {
                      "type": "object",
                      "properties": {
                        "google": {
                          "type": "object",
                          "properties": {
                            "provider_id": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider ID"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "last_login_at": {
                              "type": "string",
                              "description": "When the last login was at.",
                              "title": "Last Login At"
                            },
                            "provider_identifier": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider Identifier"
                            }
                          },
                          "title": "Google"
                        },
                        "github": {
                          "type": "object",
                          "properties": {
                            "provider_id": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider ID"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "last_login_at": {
                              "type": "string",
                              "description": "When the last login was at.",
                              "title": "Last Login At"
                            },
                            "provider_identifier": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider Identifier"
                            }
                          },
                          "title": "Github"
                        }
                      },
                      "title": "Social Connections"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "user_metadata": {
                      "type": "object",
                      "properties": {},
                      "description": "The user metadata object.",
                      "title": "User Metadata"
                    },
                    "webauthn": {
                      "type": "boolean",
                      "description": "Whether web authentication.",
                      "title": "Web Auth"
                    },
                    "webauthn_devices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "cred_id": {
                            "type": "string",
                            "description": "The credential identifier.",
                            "title": "Cred ID"
                          },
                          "friendly_name": {
                            "type": "string",
                            "description": "The friendly name.",
                            "title": "Friendly Name"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "last_login_at": {
                            "type": "string",
                            "description": "When the last login was at.",
                            "title": "Last Login At"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "When updated at.",
                            "title": "Updated At"
                          },
                          "usage_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The usage count.",
                            "title": "Usage Count"
                          },
                          "icons": {
                            "type": "object",
                            "properties": {
                              "light": {
                                "type": "string",
                                "description": "The light icon.",
                                "title": "Light"
                              },
                              "dark": {
                                "type": "string",
                                "description": "The dark icon.",
                                "title": "Dark"
                              }
                            },
                            "title": "Icon"
                          }
                        }
                      },
                      "title": "Web Auth Devices"
                    },
                    "webauthn_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The web auth types.",
                      "title": "Web Auth Types"
                    }
                  },
                  "title": "User"
                }
              }
            }
          },
          "400": {
            "description": "400",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "500": {
            "description": "500",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          }
        },
        "x-ms-openai-data": {
          "openai-enabled": true,
          "operations": [
            {
              "operationId": "UpdateUser",
              "x-ms-require-user-confirmation": true
            }
          ]
        }
      }
    },
    "/apps/{app_id}/users/{user_id}/activate": {
      "patch": {
        "summary": "Activate user",
        "description": "Activate a user. They will now be able to login.",
        "operationId": "ActivateUser",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "x-ms-summary": "App ID",
            "x-ms-url-encoding": "single",
            "description": "The app identifier.",
            "type": "string",
            "required": true
          },
          {
            "name": "user_id",
            "in": "path",
            "x-ms-summary": "User ID",
            "x-ms-url-encoding": "single",
            "description": "The user identifier.",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "schema": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "object",
                  "properties": {
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "email": {
                      "type": "string",
                      "description": "The email address.",
                      "title": "Email"
                    },
                    "email_verified": {
                      "type": "boolean",
                      "description": "Whether email address is verified.",
                      "title": "Email Verified"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "last_login_at": {
                      "type": "string",
                      "description": "The last login at.",
                      "title": "Last Login At"
                    },
                    "login_count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The login count.",
                      "title": "Login Count"
                    },
                    "phone": {
                      "type": "string",
                      "description": "The phone number.",
                      "title": "Phone"
                    },
                    "phone_verified": {
                      "type": "boolean",
                      "description": "Whether the phone number is verified.",
                      "title": "Phone Verified"
                    },
                    "recent_events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "ip_addr": {
                            "type": "string",
                            "description": "The IP address.",
                            "title": "IP"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "user_agent": {
                            "type": "string",
                            "description": "The user agent.",
                            "title": "User Agent"
                          }
                        }
                      },
                      "title": "Recent Events"
                    },
                    "social_connections": {
                      "type": "object",
                      "properties": {
                        "google": {
                          "type": "object",
                          "properties": {
                            "provider_id": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider ID"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "last_login_at": {
                              "type": "string",
                              "description": "When the last login was at.",
                              "title": "Last Login At"
                            },
                            "provider_identifier": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider Identifier"
                            }
                          },
                          "title": "Google"
                        },
                        "github": {
                          "type": "object",
                          "properties": {
                            "provider_id": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider ID"
                            },
                            "created_at": {
                              "type": "string",
                              "description": "When created at.",
                              "title": "Created At"
                            },
                            "last_login_at": {
                              "type": "string",
                              "description": "When the last login was at.",
                              "title": "Last Login At"
                            },
                            "provider_identifier": {
                              "type": "string",
                              "description": "The provider identifier.",
                              "title": "Provider Identifier"
                            }
                          },
                          "title": "Github"
                        }
                      },
                      "title": "Social Connections"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    },
                    "user_metadata": {
                      "type": "object",
                      "properties": {},
                      "description": "The user metadata object.",
                      "title": "User Metadata"
                    },
                    "webauthn": {
                      "type": "boolean",
                      "description": "Whether web authentication.",
                      "title": "Web Auth"
                    },
                    "webauthn_devices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "created_at": {
                            "type": "string",
                            "description": "When created at.",
                            "title": "Created At"
                          },
                          "cred_id": {
                            "type": "string",
                            "description": "The credential identifier.",
                            "title": "Cred ID"
                          },
                          "friendly_name": {
                            "type": "string",
                            "description": "The friendly name.",
                            "title": "Friendly Name"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "last_login_at": {
                            "type": "string",
                            "description": "When the last login was at.",
                            "title": "Last Login At"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type.",
                            "title": "Type"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "When updated at.",
                            "title": "Updated At"
                          },
                          "usage_count": {
                            "type": "integer",
                            "format": "int32",
                            "description": "The usage count.",
                            "title": "Usage Count"
                          },
                          "icons": {
                            "type": "object",
                            "properties": {
                              "light": {
                                "type": "string",
                                "description": "The light icon.",
                                "title": "Light"
                              },
                              "dark": {
                                "type": "string",
                                "description": "The dark icon.",
                                "title": "Dark"
                              }
                            },
                            "title": "Icon"
                          }
                        }
                      },
                      "title": "Web Auth Devices"
                    },
                    "webauthn_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The web auth types.",
                      "title": "Web Auth Types"
                    }
                  },
                  "title": "User"
                }
              }
            }
          },
          "401": {
            "description": "401",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
                  "description": "The error.",
                  "title": "Error"
                }
              }
            }
          },
          "404": {
            "description": "404",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "The code.",
                  "title": "Code"
                },
                "error": {
                  "type": "string",
[...]
