{
  "swagger": "2.0",
  "info": {
    "title": "Adobe Creative Cloud Libraries",
    "description": "Adobe Creative Cloud Libraries lets you connect Creative Cloud Libraries with thousands of the most popular apps so you can automate your work and have more time for what matters most-no code required.",
    "version": "1.0",
    "contact": {
      "name": "Adobe Support",
      "email": "extintgr@adobe.com"
    }
  },
  "host": "cc4pa.adobe-ss.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/libraries/": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "library_urn": {
                  "type": "string",
                  "description": "Library resource unique identifier",
                  "title": "Library unique identifier"
                },
                "library_url": {
                  "type": "string",
                  "description": "Library URL to Creative Cloud",
                  "title": "Library URL"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the Library created",
                  "title": "Library name"
                },
                "created_date": {
                  "type": "string",
                  "description": "Date when Library was created",
                  "title": "Date created"
                }
              }
            }
          }
        },
        "summary": "Create a new Creative Cloud Library",
        "description": "Create a new Creative Cloud Library.",
        "operationId": "CCL_CreateLibrary",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Enter name of Library (Team Libraries aren't supported yet)",
                  "title": "Library Name",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "name"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/libraries/{libraryId}/elements": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Element ID",
                  "title": "Element ID"
                },
                "created_date": {
                  "type": "string",
                  "description": "Date when element was created",
                  "title": "Date created"
                },
                "adobe_type": {
                  "type": "string",
                  "description": "Type of the element created",
                  "title": "Element type"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the element created",
                  "title": "Element name"
                },
                "mime_type": {
                  "type": "string",
                  "description": "MIME type of the element created",
                  "title": "Element MIME type"
                },
                "library_urn": {
                  "type": "string",
                  "description": "Library resource unique identifier",
                  "title": "Library unique identifier"
                },
                "library_url": {
                  "type": "string",
                  "description": "Library URL to Creative Cloud",
                  "title": "Library URL"
                }
              }
            }
          }
        },
        "summary": "Add an element to a Creative Cloud Library",
        "description": "Upload an element to a Creative Cloud Library.",
        "operationId": "CCL_CreateElement",
        "parameters": [
          {
            "name": "libraryId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetLibrariesList",
              "value-path": "library_urn",
              "value-title": "name",
              "parameters": {
                "selector": "editable"
              }
            },
            "x-ms-summary": "Select library",
            "description": "Choose Library file will be uploaded to",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "file": {
                  "type": "string",
                  "format": "byte",
                  "description": "Content of the file to be uploaded to Creative Cloud (JPEG, PNG, or GIF. Use for files under 5MB)",
                  "title": "File Content",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Enter name of Library asset",
                  "title": "File Name",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "file",
                "name"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/webhooks/power-automate/cc_library_created": {
      "x-ms-notification-content": {
        "description": "200",
        "schema": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of the Library created",
              "title": "Library name"
            },
            "owner_name": {
              "type": "string",
              "description": "Name of the creator of the Library",
              "title": "Library creator name"
            },
            "ownership": {
              "type": "string",
              "description": "Privacy settings of the Library",
              "title": "Library privacy settings"
            },
            "created_date": {
              "type": "string",
              "description": "Date when Library was created",
              "title": "Date created"
            },
            "modified_date": {
              "type": "string",
              "description": "Date when Library was modified",
              "title": "Date modified"
            },
            "version": {
              "type": "string",
              "description": "Library version",
              "title": "Version"
            },
            "library_urn": {
              "type": "string",
              "description": "Library resource unique identifier",
              "title": "Library unique identifier"
            },
            "library_url": {
              "type": "string",
              "description": "Library URL to Creative Cloud",
              "title": "Library URL"
            },
            "elements_count": {
              "type": "integer",
              "format": "int32",
              "description": "Number of elements in the Library",
              "title": "Number of elements"
            },
            "collaborators": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address of the collaborator",
                    "title": "Collaborator email"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name of the collaborator",
                    "title": "Collaborator name"
                  },
                  "role": {
                    "type": "string",
                    "description": "Role of the collaborator",
                    "title": "Collaborator role"
                  },
                  "canComment": {
                    "type": "boolean",
                    "description": "Collaborator permission to comment",
                    "title": "Collaborator can comment"
                  },
                  "canShare": {
                    "type": "boolean",
                    "description": "Collaborator permission to share",
                    "title": "Collaborator can share"
                  }
                }
              },
              "description": "collaborators"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "When a Creative Cloud Library is created",
        "description": "Notify when a Creative Cloud Library is created.",
        "operationId": "CCL_LibraryCreated",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url",
                      "title": "Callback URL",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  },
                  "description": "config",
                  "required": [
                    "url"
                  ]
                }
              },
              "required": [
                "config"
              ],
              "x-ms-visibility": "internal"
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/webhooks/power-automate/cc_library_updated": {
      "x-ms-notification-content": {
        "description": "200",
        "schema": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of the Library updated",
              "title": "Library name"
            },
            "owner_name": {
              "type": "string",
              "description": "Name of the creator of the Library",
              "title": "Library creator name"
            },
            "ownership": {
              "type": "string",
              "description": "Privacy settings of the Library",
              "title": "Library privacy settings"
            },
            "created_date": {
              "type": "string",
              "description": "Date when Library was created",
              "title": "Date created"
            },
            "modified_date": {
              "type": "string",
              "description": "Date when Library was modified",
              "title": "Date modified"
            },
            "version": {
              "type": "string",
              "description": "Library version",
              "title": "Version"
            },
            "library_urn": {
              "type": "string",
              "description": "Library resource unique identifier",
              "title": "Library unique identifier"
            },
            "library_url": {
              "type": "string",
              "description": "Library URL to Creative Cloud",
              "title": "Library URL"
            },
            "elements_count": {
              "type": "integer",
              "format": "int32",
              "description": "Number of elements in the Library",
              "title": "Number of elements"
            },
            "collaborators": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address of the collaborator",
                    "title": "Collaborator email"
                  },
                  "name": {
                    "type": "string",
                    "description": "Display name of the collaborator",
                    "title": "Collaborator name"
                  },
                  "role": {
                    "type": "string",
                    "description": "Role of the collaborator",
                    "title": "Collaborator role"
                  },
                  "canComment": {
                    "type": "boolean",
                    "description": "Collaborator permission to comment",
                    "title": "Collaborator can comment"
                  },
                  "canShare": {
                    "type": "boolean",
                    "description": "Collaborator permission to share",
                    "title": "Collaborator can share"
                  }
                }
              },
              "description": "collaborators"
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "CCL_LibraryUpdated",
        "x-ms-trigger": "single",
        "summary": "When a Creative Cloud Library is updated",
        "description": "Notify when a Creative Cloud Library is updated.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "library_urn": {
                      "type": "string",
                      "description": "Choose the Library you want notifications for when it's updated. Select nothing if you want notifications for updates on any Library",
                      "x-ms-visibility": "important",
                      "title": "Library",
                      "x-ms-dynamic-values": {
                        "operationId": "GetLibrariesList",
                        "value-path": "library_urn",
                        "value-title": "name",
                        "parameters": {
                          "selector": "all"
                        }
                      }
                    }
                  },
                  "description": "data"
                },
                "config": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "url",
                      "title": "Callback URL",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  },
                  "description": "config",
                  "required": [
                    "url"
                  ]
                }
              },
              "required": [
                "config"
              ]
            }
          }
        ]
      }
    },
    "/libraries": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "library_urn": {
                    "type": "string",
                    "description": "library_urn"
                  },
                  "name": {
                    "type": "string",
                    "description": "name"
                  }
                }
              }
            }
          }
        },
        "summary": "Get Libraries List",
        "operationId": "GetLibrariesList",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "selector",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "all",
            "x-ms-visibility": "internal"
          }
        ],
        "description": "Get Libraries List."
      }
    },
    "/webhooks/power-automate/{x_adobe_event_code}/unsubscribe/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete action",
        "description": "Delete action",
        "operationId": "DeleteAction",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "x_adobe_event_code",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://cc4pa.adobe-ss.net/ims/authorize/v2",
      "tokenUrl": "https://cc4pa.adobe-ss.net/ims/token/v3?connector=CC%20Libraries",
      "scopes": {
        "openid": "openid",
        "creative_sdk": "creative_sdk",
        "profile": "profile",
        "address": "address",
        "AdobeID": "AdobeID",
        "email": "email",
        "offline_access": "offline_access"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "openid",
        "creative_sdk",
        "profile",
        "address",
        "AdobeID",
        "email",
        "offline_access"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.adobe.com/"
    },
    {
      "propertyName": "Privacy Policy",
      "propertyValue": "https://www.adobe.com/privacy/policy.html?mv=product&mv2=accc"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Content and Files;Productivity"
    }
  ]
}
