{
  "swagger": "2.0",
  "info": {
    "description": "Return public holidays per country code as provided by Nager.Date.",
    "title": "Worldwide Bank Holidays",
    "version": "1.0",
    "contact": {
      "name": "Reshmee Auckloo",
      "email": "reshmee011@gmail.com",
      "url": "https://github.com/reshmee011"
    }
  },
  "host": "date.nager.at",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v3/CountryInfo/{countryCode}": {
      "get": {
        "tags": [
          "Country"
        ],
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "countryCode",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country Code",
            "x-ms-url-encoding": "single",
            "description": "A valid country code such as GB and UA."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CountryInfoDto"
            }
          }
        },
        "description": "Get country info like common name, official name, region and borders for the given country by country code.",
        "summary": "Get country info for the given country",
        "operationId": "CountryCountryInfo"
      }
    },
    "/api/v3/AvailableCountries": {
      "get": {
        "tags": [
          "Country"
        ],
        "summary": "Get all available countries",
        "operationId": "CountryAvailableCountries",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CountryV3Dto"
              }
            }
          }
        },
        "description": "Get all available countries with name and country code."
      }
    },
    "/api/v3/LongWeekend/{year}/{countryCode}": {
      "get": {
        "tags": [
          "LongWeekend"
        ],
        "summary": "Get long weekends for a given country",
        "operationId": "LongWeekendLongWeekend",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "year",
            "format": "int32",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Year",
            "x-ms-url-encoding": "single",
            "description": "Year of the public holiday"
          },
          {
            "in": "path",
            "name": "countryCode",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country Code",
            "x-ms-url-encoding": "single",
            "description": "A valid country code such as GB and UA."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LongWeekendV3Dto"
              }
            }
          }
        },
        "description": "Get all long weekends for a given country and year."
      }
    },
    "/api/v3/PublicHolidays/{year}/{countryCode}": {
      "get": {
        "tags": [
          "PublicHoliday"
        ],
        "summary": "Get public holidays",
        "operationId": "GetPublicHolidays",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "year",
            "format": "int32",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Year",
            "x-ms-url-encoding": "single",
            "description": "Year of the public holiday."
          },
          {
            "in": "path",
            "name": "countryCode",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country Code",
            "x-ms-url-encoding": "single",
            "description": "A valid country code such as GB and UA."
          }
        ],
        "responses": {
          "200": {
            "description": "Public holidays",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PublicHolidayV3Dto"
              }
            }
          },
          "400": {
            "description": "Validation failure"
          },
          "404": {
            "description": "CountryCode is unknown"
          }
        },
        "description": "Get all public holidays for the given country and year."
      }
    },
    "/api/v3/IsTodayPublicHoliday/{countryCode}": {
      "get": {
        "tags": [
          "PublicHoliday"
        ],
        "summary": "Is today a public holiday",
        "description": "Checks whether today is or not a public holiday for the given country.",
        "operationId": "IsTodayPublicHoliday",
        "parameters": [
          {
            "in": "path",
            "name": "countryCode",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country Code",
            "x-ms-url-encoding": "single",
            "description": "A valid country code such as GB and UA"
          },
          {
            "in": "query",
            "name": "countyCode",
            "type": "string",
            "x-ms-summary": "County Code",
            "description": "A valid county code."
          },
          {
            "in": "query",
            "name": "offset",
            "description": "utc timezone offset",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "maximum": 12,
            "minimum": -12,
            "x-ms-summary": "utc timezone offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Today is a public holiday."
          },
          "204": {
            "description": "Today is not a public holiday."
          },
          "400": {
            "description": "Validation failure."
          },
          "404": {
            "description": "CountryCode is unknown."
          }
        }
      }
    },
    "/api/v3/NextPublicHolidays/{countryCode}": {
      "get": {
        "tags": [
          "PublicHoliday"
        ],
        "summary": "Returns the upcoming public holidays for the given country",
        "operationId": "NextPublicHolidays",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "countryCode",
            "required": true,
            "type": "string",
            "x-ms-summary": "Country Code",
            "x-ms-url-encoding": "single",
            "description": "A valid country code such as GB and UA."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PublicHolidayV3Dto"
              }
            }
          }
        },
        "description": "Returns all the upcoming public holidays for the next 365 days for the given country."
      }
    },
    "/api/v3/NextPublicHolidaysWorldwide": {
      "get": {
        "tags": [
          "PublicHoliday"
        ],
        "summary": "Returns the upcoming public holidays for the next 7 days",
        "operationId": "NextPublicHolidaysWorldwide",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PublicHolidayV3Dto"
              }
            }
          }
        },
        "description": "Returns the upcoming public holidays worlwide for the next 7 days."
      }
    },
    "/api/v3/Version": {
      "get": {
        "tags": [
          "Version"
        ],
        "summary": "Get version of the used Nager.Date library",
        "operationId": "GetVersion",
        "produces": [
          "text/plain",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VersionInfoDto"
            }
          }
        },
        "description": "Get version of the used Nager.Date library which is currently in use."
      }
    }
  },
  "definitions": {
    "CountryInfoDto": {
      "description": "CountryInfo Dto",
      "type": "object",
      "properties": {
        "commonName": {
          "description": "CommonName",
          "type": "string"
        },
        "officialName": {
          "description": "OfficialName",
          "type": "string"
        },
        "countryCode": {
          "description": "CountryCode",
          "type": "string"
        },
        "region": {
          "description": "Region",
          "type": "string"
        },
        "borders": {
          "description": "Country Borders",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CountryInfoDto"
          }
        }
      },
      "additionalProperties": false
    },
    "CountryV3Dto": {
      "description": "Country",
      "type": "object",
      "properties": {
        "countryCode": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "LongWeekendV3Dto": {
      "description": "Long Weekend",
      "type": "object",
      "properties": {
        "startDate": {
          "format": "date-time",
          "description": "StartDate",
          "type": "string"
        },
        "endDate": {
          "format": "date-time",
          "description": "EndDate",
          "type": "string"
        },
        "dayCount": {
          "format": "int32",
          "description": "DayCount",
          "type": "integer"
        },
        "needBridgeDay": {
          "description": "NeedBridgeDay",
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "PublicHolidayType": {
      "enum": [
        "Public",
        "Bank",
        "School",
        "Authorities",
        "Optional",
        "Observance"
      ],
      "type": "string"
    },
    "PublicHolidayV3Dto": {
      "description": "Public Holiday",
      "type": "object",
      "properties": {
        "date": {
          "format": "date",
          "description": "The date",
          "type": "string"
        },
        "localName": {
          "description": "Local name",
          "type": "string"
        },
        "name": {
          "description": "English name",
          "type": "string"
        },
        "countryCode": {
          "description": "ISO 3166-1 alpha-2",
          "type": "string"
        },
        "fixed": {
          "description": "Is this public holiday every year on the same date.",
          "type": "boolean"
        },
        "global": {
          "description": "Is this public holiday in every county (federal state).",
          "type": "boolean"
        },
        "counties": {
          "description": "ISO-3166-2 - Federal states",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "launchYear": {
          "format": "int32",
          "description": "The launch year of the public holiday.",
          "type": "integer"
        },
        "types": {
          "description": "A list of types the public holiday it is valid.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PublicHolidayType"
          }
        }
      },
      "additionalProperties": false
    },
    "VersionInfoDto": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "additionalProperties": false
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://date.nager.at"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nager.at/privacypolicy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}