{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Secure Message Delivery",
    "description": "DataMotion, Inc. specializes in secure data exchange APIs, allowing companies to integrate secure message and file exchange solutions into their existing workflows and save development time. Following security protocol can be time-consuming, but DataMotion's secure message delivery connector enables seamless, one-way encrypted messaging, helping users remain compliant with industry regulations and your enterprise's security policies.",
    "contact": {
      "name": "DataMotion Support",
      "url": "https://datamotion.com/support-request/",
      "email": "support@datamotion.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://datamotion.com/secure-message-delivery-api/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://datamotion.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication;Security"
    }
  ],
  "host": "api.datamotion.com",
  "basePath": "/SecureMessageDelivery",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v{v}/Email": {
      "post": {
        "tags": [
          "SecureMessageDelivery"
        ],
        "summary": "Send a Secure Message",
        "operationId": "SendSecureMessageAsync",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "Request",
            "name": "request",
            "in": "body",
            "description": "Message request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendSecureMessageRequest"
            }
          },
          {
            "x-ms-summary": "v",
            "x-ms-url-encoding": "single",
            "name": "v",
            "in": "path",
            "required": true,
            "description": "The version of the API.",
            "type": "string"
          },
          {
            "x-ms-summary": "X-API-Key",
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "description": "A unique identifier used to identify the API Key object.",
            "type": "string"
          },
          {
            "x-ms-summary": "X-API-Secret",
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "description": "A secret value tied to the API Key.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SendSecureMessageResponse"
            }
          }
        },
        "description": "Sends a message in a secure manner ensuring the data is not corrupted."
      }
    },
    "/v{v}/{transactionId}/Track": {
      "get": {
        "tags": [
          "SecureMessageDelivery"
        ],
        "summary": "Track a Secure Message",
        "operationId": "TrackMessageAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "TransactionId",
            "x-ms-url-encoding": "single",
            "name": "transactionId",
            "in": "path",
            "description": "The Id of the secure message to be tracked.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "x-ms-summary": "v",
            "x-ms-url-encoding": "single",
            "name": "v",
            "in": "path",
            "required": true,
            "description": "The version of the API.",
            "type": "string"
          },
          {
            "x-ms-summary": "X-API-Key",
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "description": "A unique identifier used to identify the API Key object.",
            "type": "string"
          },
          {
            "x-ms-summary": "X-API-Secret",
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "description": "A secret value tied to the API Key.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TrackMessageResponse"
            }
          }
        },
        "description": "Track a secure message to ensure the message is delivered and opened."
      }
    },
    "/v{v}/{transactionId}/Retract": {
      "delete": {
        "tags": [
          "SecureMessageDelivery"
        ],
        "summary": "Retract a Secure Message",
        "operationId": "RetractMessageAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "x-ms-summary": "TransactionId",
            "x-ms-url-encoding": "single",
            "name": "transactionId",
            "in": "path",
            "description": "The Id of the secure message to be retracted.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "x-ms-summary": "v",
            "x-ms-url-encoding": "single",
            "name": "v",
            "in": "path",
            "required": true,
            "description": "The version of the API.",
            "type": "string"
          },
          {
            "x-ms-summary": "X-API-Key",
            "name": "X-API-Key",
            "in": "header",
            "required": true,
            "description": "A unique identifier used to identify the API Key object.",
            "type": "string"
          },
          {
            "x-ms-summary": "X-API-Secret",
            "name": "X-API-Secret",
            "in": "header",
            "required": true,
            "description": "A secret value tied to the API Key.",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "description": "Retract a secure message that was previously sent."
      }
    }
  },
  "definitions": {
    "Attachment": {
      "description": "Message attachment.",
      "type": "object",
      "properties": {
        "AttachmentBase64": {
          "description": "A Base64 encoded string of the attachment.",
          "type": "string",
          "title": "AttachmentBase64"
        },
        "ContentType": {
          "description": "The media type of the attachment.",
          "type": "string",
          "title": "ContentType"
        },
        "FileName": {
          "description": "The name of the attachment file.",
          "type": "string",
          "title": "FileName"
        },
        "ContentId": {
          "description": "The Content ID (only populated if the attachment is an inline image).",
          "type": "string",
          "title": "ContentId"
        }
      }
    },
    "ErrorResponse": {
      "description": "The ErrorResponse class",
      "type": "object",
      "properties": {
        "StatusCode": {
          "format": "int32",
          "description": "An http status code.",
          "type": "integer"
        },
        "Error": {
          "description": "A code that identifies the error that occurred.",
          "type": "string"
        },
        "ErrorMessage": {
          "description": "The ErrorMessage property",
          "type": "string"
        }
      }
    },
    "SendSecureMessageRequest": {
      "description": "Send Secure Message request body.",
      "type": "object",
      "properties": {
        "From": {
          "description": "The address of the user that will send the message.",
          "type": "string"
        },
        "To": {
          "description": "An array of recipients of the secure message.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Cc": {
          "description": "An array of recipients, carbon copied on the secure message.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Bcc": {
          "description": "An array of recipients, blind carbon copied on the secure message.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "Subject": {
          "description": "The subject of the secure message.",
          "type": "string"
        },
        "Attachments": {
          "description": "Structure containing metadata.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attachment"
          }
        },
        "HtmlBody": {
          "description": "The HTML body of the email message.",
          "type": "string"
        },
        "TextBody": {
          "description": "The text body of the email message.",
          "type": "string"
        }
      },
	  "required": [
        "From"
      ]
    },
    "SendSecureMessageResponse": {
      "description": "Send secure message response model.",
      "type": "object",
      "properties": {
        "TransactionId": {
          "format": "uuid",
          "description": "The Id of the transaction.",
          "type": "string"
        },
        "NumberOfRecipients": {
          "format": "int32",
          "description": "The total number of recipients.",
          "type": "integer"
        },
        "MessageSize": {
          "format": "int64",
          "description": "The size of the message in bytes.",
          "type": "integer"
        },
        "Expiration": {
          "description": "The date time in which the message expires.",
          "type": "string"
        },
        "ProjectId": {
          "format": "uuid",
          "description": "The Id of the project.",
          "type": "string"
        },
        "ApplicationId": {
          "format": "uuid",
          "description": "The Id of the application",
          "type": "string"
        }
      }
    },
    "TrackMessageResponse": {
      "description": "Message tracking object.",
      "type": "object",
      "properties": {
        "Cost": {
          "format": "double",
          "description": "Total cost of the transaction.",
          "type": "number"
        },
        "Attachments": {
          "description": "A complex type containing the Attachment Structure, the SecurityEnvelope Structure, and the Tracking Structure per attachment.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/AttachmentMetaData"
          }
        },
        "ExpirationDate": {
          "description": "The Date/time for message expiration.",
          "type": "string"
        },
        "MessageId": {
          "format": "int32",
          "description": "The Id of the message.",
          "type": "integer"
        },
        "MessageSize": {
          "format": "int32",
          "description": "The message size in bytes.",
          "type": "integer"
        },
        "SecurityEnvelope": {
          "description": "The message security envelope object.",
          "type": "object"
        },
        "Tracking": {
          "description": "A list of message tracking objects.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tracking"
          }
        },
        "Subject": {
          "description": "The message subject.",
          "type": "string"
        }
      }
    },
    "AttachmentMetaData": {
      "description": "Message attachment object.",
      "type": "object",
      "properties": {
        "AttachmentId": {
          "format": "int32",
          "description": "Attachment unique identifier.",
          "type": "integer"
        },
        "FileName": {
          "description": "Attachment file name.",
          "type": "string"
        },
        "ContentId": {
          "description": "Attachment content Id (only populated if the attachment is an inline image).",
          "type": "object"
        },
        "ContentType": {
          "description": "The media type of the attachment.",
          "type": "string"
        },
        "SecurityEnvelope": {
          "description": "Attachment security envelope.",
          "type": "object"
        },
        "Size": {
          "$ref": "#/definitions/Size"
        },
        "Tracking": {
          "$ref": "#/definitions/AttachmentTracking"
        }
      }
    },
    "Tracking": {
      "description": "Message tracking information.",
      "type": "object",
      "properties": {
        "DateOpened": {
          "description": "The date/time string of when the message was opened. Note: If year = 1900, then there is no DateOpened associated with the current message status.",
          "type": "string"
        },
        "Email": {
          "description": "The email address of the recipient.",
          "type": "string"
        },
        "MessageStatusDescription": {
          "description": "Status represented as a string description.",
          "type": "string"
        },
        "MessageStatusId": {
          "format": "int32",
          "description": "Numeric indicator of the status of the individual recipient.",
          "type": "integer"
        },
        "ReceiverField": {
          "description": "Indicates whether this recipient was the TO, CC, or BCC of the message.",
          "type": "string"
        }
      }
    },
    "Size": {
      "description": "Attachment size object.",
      "type": "object",
      "properties": {
        "StdString": {
          "description": "A string value that contains the size of an attachment;",
          "type": "string"
        }
      }
    },
    "AttachmentTracking": {
      "description": "Attachment tracking information.",
      "type": "object",
      "properties": {
        "Recipients": {
          "description": "Message recipient object.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Recipient"
          }
        },
        "DateOpened": {
          "description": "The date/time string of when the message was opened. Note: If year = 1900, then there is no DateOpened associated with the current message status.",
          "type": "string"
        },
        "Email": {
          "description": "The email address of the recipient.",
          "type": "string"
        },
        "MessageStatusDescription": {
          "description": "Status represented as a string description.",
          "type": "string"
        },
        "MessageStatusId": {
          "format": "int32",
          "description": "Numeric indicator of the status of the individual recipient.",
          "type": "integer"
        },
        "ReceiverField": {
          "description": "Indicates whether this recipient was the TO, CC, or BCC of the message.",
          "type": "string"
        }
      }
    },
    "Recipient": {
      "description": "Message recipient object.",
      "type": "object",
      "properties": {
        "ChecksumValidated": {
          "format": "int32",
          "description": "One of the following values: 0 (Invalid), 1 (Valid), or 2 (NotApplied).",
          "type": "integer"
        },
        "Delivered": {
          "description": "Indicates whether or not the message has been delivered.",
          "type": "boolean"
        },
        "DeliveredDate": {
          "description": "The DateTime string representing when the message was delivered.",
          "type": "string"
        },
        "Downloaded": {
          "description": "Indicates whether or not the attachment has been downloaded.",
          "type": "boolean"
        },
        "DownloadedDate": {
          "description": "The DateTime string representing when the attachment was downloaded.",
          "type": "string"
        },
        "Email": {
          "description": "The email address of the recipient.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": []
}