{
  "swagger": "2.0",
  "info": {
    "title": "Ascent Cloud Territory Planner",
    "description": "Ascent Cloud Territory Planner Connector.",
    "version": "1.0",
    "contact": {
      "name": "Ascent Cloud",
      "url": "https://ascentcloud.io/",
      "email": "support@ascentcloud.io"
    }
  },
  "host": "api.ascentcloud.io",
  "basePath": "/gateway/public/v1",
  "x-ms-connector-metadata": [
    {
        "propertyName": "Website",
        "propertyValue": "https://ascentcloud.io"
    },
    {
        "propertyName": "Privacy policy",
        "propertyValue": "https://ascentcloud.io/privacy-policy/"
    },
    {
        "propertyName": "Categories",
        "propertyValue": "Sales and CRM"
    }
],
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/territories_for_territory_plan": {
      "get": {
        "responses": {
          "400": {
            "description": "An Error Occurred"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "name"
                    },
                    "status": {
                      "type": "string",
                      "description": "status"
                    },
                    "mapObject": {
                      "type": "string",
                      "description": "mapObject"
                    },
                    "territories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "name": {
                            "type": "string",
                            "description": "name"
                          },
                          "color": {
                            "type": "string",
                            "description": "color"
                          },
                          "modelSetId": {
                            "type": "string",
                            "description": "modelSetId"
                          },
                          "shapeIdAssignments": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "shapeIdAssignments"
                          },
                          "assigneeId": {
                            "type": "string",
                            "description": "assigneeId"
                          }
                        }
                      },
                      "description": "territories"
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Territory Plan",
        "description": "Get Territory Plan",
        "operationId": "public_v1_get_territory_plan",
        "parameters": [
          {
            "name": "territory_plan_id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Territory Plan Id",
            "x-ms-summary": "Territory Plan Id"
          },
          {
            "name": "map_object",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Map Object",
            "x-ms-summary": "Map Object"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-summary": "Territory Planner Organization Id"
          }
        ]
      }
    },
    "/territory_data_point_assignments": {
      "get": {
        "responses": {
          "400": {
            "description": "An Error Occurred"
          },
          "401": {
            "description": "Unauthorized"
          },
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "externalId": {
                        "type": "string",
                        "description": "externalId"
                      },
                      "territoryId": {
                        "type": "string",
                        "description": "territoryId"
                      },
                      "locked": {
                        "type": "boolean",
                        "description": "locked"
                      },
                      "latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "latitude"
                      },
                      "longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "longitude"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Get Territory Data Point Assignments",
        "description": "Get Territory Data Point Assignments",
        "operationId": "public_v1_get_territory_data_point_assignments",
        "parameters": [
          {
            "name": "territoryIds",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Comma separated list of territory ids",
            "x-ms-summary": "Comma separated list of territory ids"
          },
          {
            "name": "x-org-id",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Organization Id",
            "x-ms-summary": "Territory Planner Organization Id"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}