{
  "swagger": "2.0",
  "info": {
    "title": "Loripsum",
    "description": "Loripsum.net has an API to generate placeholder text. Sometimes you need lists, headings, long paragraphs, etc. Loripsum.net uses the full text of Cicero's \"De finibus bonorum et malorum\" to make sure you get a different placeholder text every single time.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "loripsum.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/{parameters}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Get some placeholder text",
        "description": "Get some placeholder text. Additional parameters can be used to specify the output.",
        "operationId": "GetText",
        "parameters": [
          {
            "name": "parameters",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "short",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Parameters",
            "description": "A '%2F'-separated string, with the following options: integer - The number of paragraphs to generate. short, medium, long, verylong - The average length of a paragraph. decorate - Add bold, italic and marked text. link - Add links. ul - Add unordered lists. ol - Add numbered lists. dl - Add description lists. bq - Add blockquotes. code - Add code samples. headers - Add headers. allcaps - Use ALL CAPS. prude - Prude version. plaintext - Return plain text, no HTML."
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://loripsum.net/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://loripsum.net/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}