{
  "swagger": "2.0",
  "info": {
    "title": "NASA FIRMS",
    "description": "NASA FIRMS uses satellite observations from the MODIS and VIIRS instruments to detect active fires and thermal anomalies and deliver this information in near real-time to decision makers.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_nasafirms@gmail.com"
    }
  },
  "host": "firms.modaps.eosdis.nasa.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/area/csv/api_key/{source}/{area_coord}/{day_range}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "Get area",
        "operationId": "GetArea",
        "description": "List fire detection hotspots based on area, date and sensor in CSV format.",
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Data source",
            "x-ms-url-encoding": "single",
            "description": "ID of the data source to be used, see 'List data sources' for potential values."
          },
          {
            "name": "area_coord",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "world",
            "x-ms-summary": "Area coordinates",
            "x-ms-url-encoding": "single",
            "description": "Comma separated list of coordinates (west, south, east, north) indicating an area - ex. (South America): '-85,-57,-32,14'."
          },
          {
            "name": "day_range",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Number of days to query at one time.",
            "x-ms-summary": "Day range",
            "x-ms-url-encoding": "single",
            "format": "int32",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10
            ]
          }
        ]
      }
    },
    "/api/country/csv/api_key/{source}/{country}/{day_range}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "Get country",
        "operationId": "GetCountry",
        "description": "List fire detection hotspots based on country, date and sensor in CSV format.",
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Data source",
            "x-ms-url-encoding": "single",
            "description": "ID of the data source to be used, see 'List data sources' for potential values."
          },
          {
            "name": "country",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "world",
            "x-ms-summary": "Country code",
            "x-ms-url-encoding": "single",
            "description": "3 letter code identifying a country (ex. 'ARG' for Argentina), see 'List countries' for available values."
          },
          {
            "name": "day_range",
            "in": "path",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Number of days to query at one time.",
            "x-ms-summary": "Day range",
            "x-ms-url-encoding": "single",
            "format": "int32",
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10
            ]
          }
        ]
      }
    },
    "/mapserver/mapkey_status/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "transaction_limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Transaction limitation applied within given time period.",
                  "title": "Transaction limit"
                },
                "current_transactions": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Transactions performed within current time period.",
                  "title": "Current transactions"
                },
                "transaction_interval": {
                  "type": "string",
                  "description": "Time period used to measure transaction limitations.",
                  "title": "Transaction interval"
                }
              }
            }
          }
        },
        "summary": "Check MAP_KEY",
        "description": "Verify status of a MAP_KEY.",
        "operationId": "CheckMapKey",
        "parameters": [
          {
            "name": "MAP_KEY",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Unique MAP_KEY used to authenticate against NASA FIRMS.",
            "x-ms-summary": "MAP_KEY"
          }
        ]
      }
    },
    "/api/countries/": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "List countries",
        "operationId": "ListCountries",
        "parameters": [],
        "description": "List of supported countries in CSV format."
      }
    },
    "/api/data_availability/csv/api_key/ALL": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {}
          }
        },
        "summary": "List data sources",
        "operationId": "ListDataSources",
        "description": "List sources and date availability of SP and NRT data in CSV format.",
        "parameters": []
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "MAP_KEY": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key"
    }
  },
  "security": [
    {
      "MAP_KEY": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://firms.modaps.eosdis.nasa.gov/api/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.nasa.gov/privacy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}