{
  "swagger": "2.0",
  "info": {
    "title": "Flingoos-MCP",
    "description": "Access procedural knowledge and workflows. Includes REST endpoints for automation and an MCP endpoint for AI agents.",
    "version": "1.0.0",
    "contact": {
      "name": "Diligent4",
      "url": "https://www.diligent4.com",
      "email": "support@diligent4.com"
    }
  },
  "host": "mcp.diligent4.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/contexts": {
      "get": {
        "summary": "List Contexts",
        "description": "Returns a unified list of projects and sessions (workflows/teaching) accessible to the authenticated user.",
        "operationId": "ListContexts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "type": "integer",
            "required": false,
            "default": 50,
            "description": "Maximum number of contexts to return (1-100)"
          },
          {
            "name": "scope",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "all",
            "enum": [
              "all",
              "mine",
              "public"
            ],
            "description": "Filter by scope"
          },
          {
            "name": "kind",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "all",
            "enum": [
              "all",
              "project",
              "session"
            ],
            "description": "Filter by context kind"
          },
          {
            "name": "session_type",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "workflow_recording",
              "teaching_session"
            ],
            "description": "Filter sessions by type (only applies when kind is session or all)"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ContextListResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/contexts/search": {
      "get": {
        "summary": "Search Contexts",
        "description": "Search for contexts using natural language semantic matching across projects and sessions.",
        "operationId": "SearchContexts",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Natural language description of what you want to accomplish"
          },
          {
            "name": "top_k",
            "in": "query",
            "type": "integer",
            "required": false,
            "default": 5,
            "description": "Number of top matches to return (1-20)"
          },
          {
            "name": "min_confidence",
            "in": "query",
            "type": "number",
            "required": false,
            "default": 0.3,
            "description": "Minimum similarity score (0.0-1.0)"
          },
          {
            "name": "scope",
            "in": "query",
            "type": "string",
            "required": false,
            "default": "all",
            "enum": [
              "all",
              "mine",
              "public"
            ],
            "description": "Filter by scope"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/contexts/{id}": {
      "get": {
        "summary": "Get Context",
        "description": "Retrieves a context by ID. The ID can be either a project or session - auto-detected.",
        "operationId": "GetContext",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier of the context (project or session)"
          },
          {
            "name": "detail",
            "in": "query",
            "type": "string",
            "required": false,
            "enum": [
              "summary",
              "full"
            ],
            "description": "Detail level. Default: full for sessions, summary for projects"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ContextResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Context not found"
          }
        }
      },
      "patch": {
        "summary": "Modify Context",
        "description": "Modify context content using natural language. Supports workflow steps, phases, knowledge items, and project metadata.",
        "operationId": "ModifyContext",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true,
            "description": "The unique identifier of the context to modify"
          },
          {
            "name": "modifyPayload",
            "in": "body",
            "required": true,
            "description": "The modification request",
            "schema": {
              "$ref": "#/definitions/ModifyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ModifyResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Context not found"
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Invoke MCP Server",
        "description": "Sends JSON-RPC commands to the Flingoos Model Context Protocol server.",
        "operationId": "InvokeMCP",
        "parameters": [
          {
            "name": "mcp-session-id",
            "in": "header",
            "type": "string",
            "required": false,
            "description": "Session ID for stateful interactions"
          },
          {
            "name": "x-ms-agentic-protocol",
            "in": "header",
            "type": "string",
            "required": true,
            "default": "mcp-streamable-1.0",
            "description": "MCP Protocol Version"
          },
          {
            "name": "jsonRpcPayload",
            "in": "body",
            "required": true,
            "description": "The JSON-RPC request body",
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    }
  },
  "definitions": {
    "ContextListResponse": {
      "type": "object",
      "properties": {
        "contexts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Context"
          }
        },
        "total_count": {
          "type": "integer"
        },
        "project_count": {
          "type": "integer"
        },
        "session_count": {
          "type": "integer"
        }
      }
    },
    "Context": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "project",
            "session"
          ]
        },
        "name": {
          "type": "string"
        },
        "visibility": {
          "type": "string",
          "enum": [
            "private",
            "public"
          ]
        },
        "session_type": {
          "type": "string",
          "enum": [
            "workflow_recording",
            "teaching_session"
          ],
          "description": "Only for sessions"
        },
        "goal": {
          "type": "string",
          "description": "Only for sessions"
        },
        "description": {
          "type": "string",
          "description": "Only for projects"
        },
        "project_id": {
          "type": "string",
          "description": "Parent project ID for sessions (null if orphan)"
        },
        "project_name": {
          "type": "string",
          "description": "Parent project name for sessions"
        },
        "session_count": {
          "type": "integer",
          "description": "Only for projects"
        },
        "workflow_count": {
          "type": "integer",
          "description": "Only for projects"
        },
        "teaching_count": {
          "type": "integer",
          "description": "Only for projects"
        },
        "step_count": {
          "type": "integer",
          "description": "Only for workflow_recording sessions"
        },
        "item_count": {
          "type": "integer",
          "description": "Only for teaching_session sessions"
        },
        "created_at": {
          "type": "string"
        },
        "updated_at": {
          "type": "string"
        }
      }
    },
    "ContextResponse": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "data": {
          "type": "object",
          "description": "Dynamic context data (project or session with content)"
        }
      }
    },
    "SearchResponse": {
      "type": "object",
      "properties": {
        "query": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "AUTO_SELECTED",
            "SELECTION_REQUIRED",
            "NO_GOOD_MATCHES",
            "NO_MATCHES"
          ]
        },
        "instruction": {
          "type": "string"
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchResult"
          }
        },
        "selected": {
          "$ref": "#/definitions/SearchResult",
          "description": "Present when status is AUTO_SELECTED"
        },
        "total_candidates": {
          "type": "integer"
        }
      }
    },
    "SearchResult": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "project",
            "session"
          ]
        },
        "session_type": {
          "type": "string",
          "enum": [
            "workflow_recording",
            "teaching_session"
          ],
          "description": "Only for sessions"
        },
        "name": {
          "type": "string"
        },
        "goal": {
          "type": "string",
          "description": "Only for sessions"
        },
        "description": {
          "type": "string",
          "description": "Only for projects"
        },
        "project_id": {
          "type": "string",
          "description": "Parent project ID for sessions"
        },
        "score": {
          "type": "integer",
          "description": "Match score (0-100)"
        },
        "rank": {
          "type": "integer"
        },
        "contained_sessions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SessionSummary"
          },
          "description": "For projects only"
        }
      }
    },
    "SessionSummary": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "session_type": {
          "type": "string",
          "enum": [
            "workflow_recording",
            "teaching_session"
          ]
        },
        "name": {
          "type": "string"
        },
        "goal": {
          "type": "string"
        }
      }
    },
    "ModifyRequest": {
      "type": "object",
      "required": [
        "target_type",
        "change_prompt"
      ],
      "properties": {
        "target_type": {
          "type": "string",
          "enum": [
            "step",
            "phase",
            "knowledge_item",
            "metadata"
          ],
          "description": "What to modify: step/phase for workflows, knowledge_item for teaching, metadata for projects"
        },
        "target_number": {
          "type": "integer",
          "description": "Step or phase number (required for step/phase targets)"
        },
        "target_id": {
          "type": "string",
          "description": "Knowledge item ID (required for knowledge_item targets)"
        },
        "change_prompt": {
          "type": "string",
          "description": "Natural language description of the change"
        },
        "auto_confirm": {
          "type": "boolean",
          "default": false,
          "description": "If true, save immediately without preview"
        }
      }
    },
    "ModifyResponse": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "enum": [
            "project",
            "session"
          ]
        },
        "session_type": {
          "type": "string",
          "enum": [
            "workflow_recording",
            "teaching_session"
          ]
        },
        "target_type": {
          "type": "string"
        },
        "target_number": {
          "type": "integer"
        },
        "target_id": {
          "type": "string"
        },
        "change_prompt": {
          "type": "string"
        },
        "preview": {
          "type": "string",
          "description": "Human-readable diff preview"
        },
        "saved": {
          "type": "boolean"
        },
        "changes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of detected changes"
        },
        "next_step": {
          "type": "string",
          "description": "Guidance for next action when saved=false"
        }
      }
    }
  },
  "securityDefinitions": {
    "azure-ad": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token",
      "scopes": {
        "openid": "Sign In",
        "email": "View Email",
        "profile": "View Profile",
        "offline_access": "Access Data Offline",
        "api://a53cbac8-079c-486f-9848-e763a4da1652/user_impersonation": "Access Flingoos API"
      }
    }
  },
  "security": [
    {
      "azure-ad": [
        "openid",
        "email",
        "profile",
        "offline_access",
        "api://a53cbac8-079c-486f-9848-e763a4da1652/user_impersonation"
      ]
    }
  ]
}
