{
  "swagger": "2.0",
  "info": {
    "title": "Azure Blob Storage Index Tags",
    "description": "Azure Blob Storage Index Tags connector allows you to view, manage, and query blob index tags. Blob index tags provide data management and discovery capabilities using key-value tag attributes on your blob storage resources.",
    "version": "1.0",
    "contact": {
      "name": "Power Platform Connectors",
      "url": "https://github.com/microsoft/PowerPlatformConnectors",
      "email": "support@example.com"
    }
  },
  "host": "storageaccount.blob.core.windows.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/xml"
  ],
  "produces": [
    "application/xml"
  ],
  "paths": {
    "/{container}/{blob}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "Tags": {
                  "type": "object",
                  "properties": {
                    "TagSet": {
                      "type": "object",
                      "properties": {
                        "Tag": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Key": {
                                "type": "string",
                                "description": "The tag key",
                                "x-ms-summary": "Tag Key"
                              },
                              "Value": {
                                "type": "string",
                                "description": "The tag value",
                                "x-ms-summary": "Tag Value"
                              }
                            }
                          },
                          "description": "List of tags",
                          "x-ms-summary": "Tags"
                        }
                      },
                      "description": "Tag Set"
                    }
                  },
                  "description": "Tags container"
                }
              }
            }
          }
        },
        "summary": "Get Blob Tags",
        "description": "Retrieves all user-defined tags for the specified blob",
        "operationId": "GetBlobTags",
        "parameters": [
          {
            "name": "container",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the container",
            "x-ms-summary": "Container Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "blob",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the blob (including path if applicable)",
            "x-ms-summary": "Blob Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "comp",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "tags",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2020-10-02",
            "x-ms-visibility": "internal",
            "description": "API Version"
          }
        ]
      },
      "put": {
        "responses": {
          "204": {
            "description": "Success - No Content"
          }
        },
        "summary": "Set Blob Tags",
        "description": "Sets user-defined tags for the specified blob",
        "operationId": "SetBlobTags",
        "parameters": [
          {
            "name": "container",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the container",
            "x-ms-summary": "Container Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "blob",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the blob (including path if applicable)",
            "x-ms-summary": "Blob Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "comp",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "tags",
            "x-ms-visibility": "internal"
          },
          {
            "name": "x-ms-version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2020-10-02",
            "x-ms-visibility": "internal",
            "description": "API Version"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/xml",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "Tags": {
                  "type": "object",
                  "properties": {
                    "TagSet": {
                      "type": "object",
                      "properties": {
                        "Tag": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Key": {
                                "type": "string",
                                "description": "The tag key",
                                "x-ms-summary": "Tag Key"
                              },
                              "Value": {
                                "type": "string",
                                "description": "The tag value",
                                "x-ms-summary": "Tag Value"
                              }
                            },
                            "required": [
                              "Key",
                              "Value"
                            ]
                          },
                          "description": "List of tags to set",
                          "x-ms-summary": "Tags"
                        }
                      },
                      "required": [
                        "Tag"
                      ]
                    }
                  },
                  "required": [
                    "TagSet"
                  ]
                }
              },
              "required": [
                "Tags"
              ]
            },
            "x-ms-summary": "Tags"
          }
        ]
      }
    },
    "/{container}": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "EnumerationResults": {
                  "type": "object",
                  "properties": {
                    "ServiceEndpoint": {
                      "type": "string",
                      "description": "The service endpoint",
                      "x-ms-summary": "Service Endpoint"
                    },
                    "ContainerName": {
                      "type": "string",
                      "description": "The container name",
                      "x-ms-summary": "Container Name"
                    },
                    "Where": {
                      "type": "string",
                      "description": "The search query",
                      "x-ms-summary": "Search Query"
                    },
                    "Blobs": {
                      "type": "object",
                      "properties": {
                        "Blob": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Name": {
                                "type": "string",
                                "description": "The blob name",
                                "x-ms-summary": "Blob Name"
                              },
                              "ContainerName": {
                                "type": "string",
                                "description": "The container name",
                                "x-ms-summary": "Container Name"
                              },
                              "TagValue": {
                                "type": "string",
                                "description": "The tag value",
                                "x-ms-summary": "Tag Value"
                              }
                            }
                          },
                          "description": "List of blobs matching the tag query",
                          "x-ms-summary": "Blobs"
                        }
                      },
                      "description": "Blobs container"
                    },
                    "NextMarker": {
                      "type": "string",
                      "description": "Continuation token for pagination",
                      "x-ms-summary": "Next Marker"
                    }
                  },
                  "description": "Enumeration results"
                }
              }
            }
          }
        },
        "summary": "Find Blobs by Tags",
        "description": "Finds blobs in a container by tag filter expression",
        "operationId": "FindBlobsByTags",
        "parameters": [
          {
            "name": "container",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the container",
            "x-ms-summary": "Container Name",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "comp",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "blobs",
            "x-ms-visibility": "internal"
          },
          {
            "name": "where",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Tag filter expression (e.g., \"Environment='Production' AND Status='Active'\")",
            "x-ms-summary": "Tag Filter Expression"
          },
          {
            "name": "maxresults",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Maximum number of results to return (default: 5000)",
            "x-ms-summary": "Max Results"
          },
          {
            "name": "marker",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Continuation token for pagination",
            "x-ms-summary": "Marker"
          },
          {
            "name": "x-ms-version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2020-10-02",
            "x-ms-visibility": "internal",
            "description": "API Version"
          }
        ]
      }
    },
    "/": {
      "get": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "EnumerationResults": {
                  "type": "object",
                  "properties": {
                    "ServiceEndpoint": {
                      "type": "string",
                      "description": "The service endpoint",
                      "x-ms-summary": "Service Endpoint"
                    },
                    "Where": {
                      "type": "string",
                      "description": "The search query",
                      "x-ms-summary": "Search Query"
                    },
                    "Blobs": {
                      "type": "object",
                      "properties": {
                        "Blob": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Name": {
                                "type": "string",
                                "description": "The blob name",
                                "x-ms-summary": "Blob Name"
                              },
                              "ContainerName": {
                                "type": "string",
                                "description": "The container name",
                                "x-ms-summary": "Container Name"
                              },
                              "Tags": {
                                "type": "object",
                                "description": "Blob tags",
                                "x-ms-summary": "Tags"
                              }
                            }
                          },
                          "description": "List of blobs matching the tag query",
                          "x-ms-summary": "Blobs"
                        }
                      },
                      "description": "Blobs container"
                    },
                    "NextMarker": {
                      "type": "string",
                      "description": "Continuation token for pagination",
                      "x-ms-summary": "Next Marker"
                    }
                  },
                  "description": "Enumeration results"
                }
              }
            }
          }
        },
        "summary": "Find Blobs by Tags (Account Level)",
        "description": "Finds blobs across all containers in the storage account by tag filter expression",
        "operationId": "FindBlobsByTagsAccount",
        "parameters": [
          {
            "name": "comp",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "blobs",
            "x-ms-visibility": "internal"
          },
          {
            "name": "where",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Tag filter expression (e.g., \"Environment='Production' AND Status='Active'\")",
            "x-ms-summary": "Tag Filter Expression"
          },
          {
            "name": "maxresults",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Maximum number of results to return (default: 5000)",
            "x-ms-summary": "Max Results"
          },
          {
            "name": "marker",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Continuation token for pagination",
            "x-ms-summary": "Marker"
          },
          {
            "name": "x-ms-version",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "2020-10-02",
            "x-ms-visibility": "internal",
            "description": "API Version"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/token",
      "scopes": {
        "https://storage.azure.com/.default": "https://storage.azure.com/.default"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "https://storage.azure.com/.default"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://azure.microsoft.com/en-us/services/storage/blobs/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://privacy.microsoft.com/en-us/privacystatement"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Content and Files"
    }
  ]
}
