{
    "swagger": "2.0",
    "info": {
      "title": "Pushover",
      "description": "Pushover makes it easy to get real-time notifications on your Android, iPhone, iPad, and Desktop.",
      "contact": {
        "name": "Glen Hutson",
        "email": "msconnectors@glenhutson.com",
        "url": "https://github.com/glenhutson"
      },
      "version": "1.0"
    },
    "host": "api.pushover.net",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/1/messages.json": {
        "post": {
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "integer",
                    "format": "int32",
                    "description": "status"
                  },
                  "request": {
                    "type": "string",
                    "description": "request"
                  }
                }
              },
              "headers": {
                "X-Limit-App-Limit": {
                  "description": "API Quota",
                  "type": "integer"
                },
                "X-Limit-App-Remaining": {
                  "description": "API Quota Remaining",
                  "type": "integer"
                },
                "X-Limit-App-Reset": {
                  "description": "API Quota Reset Time",
                  "type": "integer"
                },
                "X-Request-Id": {
                  "description": "Request ID",
                  "type": "string"
                },
                "X-Runtime": {
                  "description": "Request Runtime",
                  "type": "number"
                }
              }
            }
          },
          "operationId": "SendMessage",
          "parameters": [
            {
              "name": "body",
              "in": "body",
              "required": false,
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "Your user/group key (or that of your target user), viewable when logged into Pushover's dashboard; often referred to as USER_KEY in Pushover documentation and code examples",
                    "title": "User ID",
                    "default": ""
                  },
                  "device": {
                    "type": "string",
                    "description": "The name of one of your devices to send just to that device instead of all devices",
                    "title": "Device"
                  },
                  "priority": {
                    "type": "integer",
                    "format": "int32",
                    "description": "A value of -2, -1, 0 (default), 1, or 2",
                    "title": "Priority",
                    "enum": [
                      -2,
                      -1,
                      0,
                      1,
                      2
                    ]
                  },
                  "title": {
                    "type": "string",
                    "description": "Your message's title, otherwise your app's name is used",
                    "title": "Title"
                  },
                  "html": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Set to 1 to enable HTML parsing",
                    "title": "HTML?",
                    "enum": [
                      1
                    ]
                  },
                  "message": {
                    "type": "string",
                    "description": "Your message",
                    "title": "Message"
                  },
                  "sound": {
                    "type": "string",
                    "description": "The name of a supported sound to override your default sound choice",
                    "title": "Sound",
                    "x-ms-dynamic-values": {
                      "operationId": "GetSounds",
                      "value-path": "sound",
                      "value-collection": "soundsArray",
                      "value-title": "description"
                    }
                  },
                  "timestamp": {
                    "type": "string",
                    "description": "A Unix timestamp (note this is NOT UTC Time) of a time to display instead of when the Pushover API received it .",
                    "title": "Unix Timestamp"
                  },
                  "url": {
                    "type": "string",
                    "description": "A supplementary URL to show with your message.",
                    "title": "Action URL"
                  },
                  "url_title": {
                    "type": "string",
                    "description": "A title for the URL specified as the url parameter, otherwise just the URL is shown.",
                    "title": "URL Title"
                  }
                },
                "required": [
                  "user",
                  "message"
                ]
              }
            }
          ],
          "summary": "Send Message",
          "description": "Send a message"
        }
      },
      "/1/sounds.json": {
        "get": {
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Status of the request",
                    "title": "Status"
                  },
                  "request": {
                    "type": "string",
                    "description": "The Request ID",
                    "title": "RequestID"
                  },
                  "soundsArray": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "sound": {
                          "type": "string",
                          "description": "Sound Name",
                          "title": "Sound Name"
                        },
                        "description": {
                          "type": "string",
                          "description": "Sound Description",
                          "title": "Description"
                        }
                      }
                    },
                    "description": "soundsArray"
                  }
                }
              }
            }
          },
          "summary": "Get Sounds",
          "description": "When sending notifications through the Pushover API, the sound parameter may be set to one of the built-in sounds or any custom ones uploaded",
          "operationId": "GetSounds",
          "parameters": []
        }
      },
      "/1/users/validate.json": {
        "post": {
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Request Status",
                    "title": "Status"
                  },
                  "group": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Associated Group ID.",
                    "title": "Group"
                  },
                  "devices": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Devices registered with the key.",
                      "title": "Devices"
                    },
                    "description": "devices"
                  },
                  "licenses": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Platforms the account is licensed for.",
                      "title": "License Types"
                    },
                    "description": "licenses"
                  },
                  "request": {
                    "type": "string",
                    "description": "The ID of the request",
                    "title": "Request ID"
                  }
                }
              }
            }
          },
          "summary": "Validate Keys",
          "description": "Validate a user or group key and optionally device",
          "operationId": "ValidateKey",
          "parameters": [
            {
              "name": "body",
              "in": "body",
              "required": false,
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "A user or group key to validate",
                    "title": "Key",
                    "default": ""
                  },
                  "device": {
                    "type": "string",
                    "description": "A specific device to validate",
                    "title": "Device"
                  }
                },
                "required": [
                  "user"
                ]
              }
            }
          ]
        }
      },
      "/1/apps/limits.json": {
        "get": {
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The total number of APIs calls per month",
                    "title": "Authorized Limit"
                  },
                  "remaining": {
                    "type": "integer",
                    "format": "int32",
                    "description": "API calls remaining this month",
                    "title": "Remaining"
                  },
                  "reset": {
                    "type": "integer",
                    "format": "int32",
                    "description": "When the quota resets (00:00:00 Central Time on the 1st of each month)",
                    "title": "Reset Time"
                  },
                  "status": {
                    "type": "integer",
                    "format": "int32",
                    "description": "1 if successful.",
                    "title": "Request Status"
                  },
                  "request": {
                    "type": "string",
                    "description": "Request ID",
                    "title": "Request"
                  }
                }
              }
            }
          },
          "summary": "Quota Remaining",
          "description": "Shows you the quota remaining for the month",
          "operationId": "Limits",
          "parameters": []
        }
      }
    },
      "x-ms-connector-metadata": [
        {
          "propertyName": "Website",
          "propertyValue": "https://pushover.net"
        },
        {
          "propertyName": "Privacy policy",
          "propertyValue": "https://pushover.net/privacy"
        },
        {
          "propertyName": "Categories",
          "propertyValue": "Communication;Data"
        }
      ],
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
      "API Key": {
        "type": "apiKey",
        "in": "query",
        "name": "token"
      }
    },
    "security": [
      {
        "API Key": []
      }
    ],
    "tags": []
  }
  
