{
  "swagger": "2.0",
  "info": {
    "title": "Clearbit",
    "description": "Clearbit is the marketing data platform behind the fastest-growing B2B companies. Apply real-time intelligence across your entire stack to improve acquisition, conversion, and operations.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "logo.clearbit.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/{domain}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Get a company's logo",
        "description": "Returns a company's logo with optional size, format and greyscale options.",
        "operationId": "LogoGet",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The company's domain.",
            "x-ms-summary": "Domain",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 128,
            "description": "The length of the longest side in pixels.",
            "x-ms-summary": "Size"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "png",
            "description": "The image format.",
            "x-ms-summary": "Format",
            "enum": [
              "png",
              "jpg"
            ]
          },
          {
            "name": "greyscale",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Desaturates the image if true.",
            "x-ms-summary": "Greyscale",
            "enum": [
              false,
              true
            ]
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://clearbit.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://clearbit.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence"
    }
  ]
}