{
  "swagger": "2.0",
  "info": {
    "title": "Abbreviations",
    "description": "The Abbreviations service from STANDS4 enables you to get classified acronyms and abbreviations content for a given term.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.stands4.com",
  "basePath": "/services/v2/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/abbr.php": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "term": {
                        "type": "string",
                        "description": "The term.",
                        "title": "Term"
                      },
                      "definition": {
                        "type": "string",
                        "description": "The definition.",
                        "title": "Definition"
                      },
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "categoryname": {
                        "type": "string",
                        "description": "The category name.",
                        "title": "Category Name"
                      },
                      "score": {
                        "type": "string",
                        "description": "The score.",
                        "title": "Score"
                      }
                    }
                  },
                  "title": "Result"
                }
              }
            }
          }
        },
        "summary": "Get acronym or abbreviation",
        "description": "Retrieve a list of possible terms and their definitions.",
        "operationId": "AbbrGet",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "x-ms-summary": "Term",
            "description": "The search term.",
            "required": true,
            "type": "string"
          },
          {
            "name": "categoryid",
            "in": "query",
            "x-ms-summary": "Category ID",
            "description": "The category identifier.",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortby",
            "in": "query",
            "x-ms-summary": "Sort By",
            "description": "The sort by.",
            "required": false,
            "type": "string",
            "default": "p",
            "enum": [
              "p",
              "a",
              "c"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Popularity",
                "value": "p"
              },
              {
                "displayName": "Alphabetically",
                "value": "a"
              },
              {
                "displayName": "Category",
                "value": "c"
              }
            ]
          },
          {
            "name": "searchtype",
            "in": "query",
            "x-ms-summary": "Search Type",
            "description": "The search type.",
            "required": false,
            "type": "string",
            "default": "e",
            "enum": [
              "e",
              "r"
            ],
            "x-ms-enum-values": [
              {
                "displayName": "Exact Match",
                "value": "e"
              },
              {
                "displayName": "Reverse Lookup",
                "value": "r"
              }
            ]
          },
          {
            "name": "format",
            "in": "query",
            "x-ms-summary": "Format",
            "description": "The format.",
            "required": true,
            "type": "string",
            "default": "json",
            "x-ms-visibility": "internal"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "uid"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.abbreviations.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.abbreviations.com/privacy.php"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence"
    }
  ]
}