{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Nifty Gateway",
    "description": "A Power Platform Connector for connecting to the Nifty Gateway API to search for NFTs.",
    "contact": {
      "name": "Roy Paar",
      "email": "roypaar@microsoft.com"
    }
  },
  "host": "api.niftygateway.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/users/{username}/nifties/": {
      "get": {
        "summary": "Nifties for User",
        "description": "Returns information about all nifties owned by the given user.",
        "operationId": "NiftiesforUser",
        "parameters": [
          {
            "name": "username",
            "required": true,
            "in": "path",
            "type": "string",
            "x-ms-summary": "Returns information about all nifties owned by the given user.",
            "description": "Returns information about all nifties owned by the given user.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "contractAddress",
            "required": false,
            "in": "query",
            "type": "string",
            "x-ms-summary": "If provided will only show Nifties for that contract address.",
            "description": "If provided will only show Nifties for that contract address."
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "type": "integer",
            "x-ms-summary": "If provided will show only the specified number of nifties.",
            "description": "If provided will show only the specified number of nifties."
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "type": "integer",
            "x-ms-summary": "If provided will skip the specified number of nifties in the result.",
            "description": "If provided will skip the specified number of nifties in the result."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/NiftiesforUserResponse"
            }
          }
        }
      }
    },
    "/creators/{creator_profile_name}/collectors/": {
      "get": {
        "summary": "Nifties for Creator",
        "description": "Returns ownership information for all nifties created by the given creator and currently stored on Nifty Gateway.",
        "operationId": "NiftiesforCreator",
        "parameters": [
          {
            "name": "creator_profile_name",
            "required": true,
            "in": "path",
            "type": "string",
            "x-ms-summary": "Returns ownership information for all nifties created by the given creator.",
            "description": "Returns ownership information for all nifties created by the given creator.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "required": true,
            "in": "query",
            "type": "integer",
            "x-ms-summary": "If provided will show only the specified number of nifties.",
            "description": "If provided will show only the specified number of nifties.",
            "default": 20
          },
          {
            "name": "offset",
            "required": true,
            "in": "query",
            "type": "integer",
            "x-ms-summary": "If provided will skip the specified number of nifties in the result.",
            "description": "If provided will skip the specified number of nifties in the result.",
            "default": 0
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful.",
            "schema": {
              "$ref": "#/definitions/NiftiesforCreatorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "NiftiesforUserResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "NiftiesforCreatorResponse": {
      "type": "object",
      "properties": {
        "statusDetails": {
          "$ref": "#/definitions/statusDetails"
        }
      }
    },
    "statusDetails": {
      "type": "object",
      "properties": {
        "success": {
          "type": "boolean"
        },
        "statusCode": {
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/messages"
          }
        }
      }
    },
    "messages": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://niftygateway.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://niftygateway.com/privacypolicy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ],
  "securityDefinitions": {},
  "security": []
}