{
  "swagger": "2.0",
  "info": {
    "title": "Cohesity Gaia MCP",
    "description": "The Cohesity Gaia MCP connector exposes Cohesity Gaia (Data Insights) capabilities to Microsoft Copilot Studio agents through the Model Context Protocol (MCP). Agents discover tools at runtime and use them to list datasets, browse dataset topics, run LLM-backed Q&A, and perform exhaustive search across indexed documents.",
    "version": "1.0.0",
    "contact": {
      "name": "Cohesity Support",
      "url": "https://www.cohesity.com/support",
      "email": "support@cohesity.com"
    }
  },
  "host": "helios.cohesity.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "text/event-stream"
  ],
  "paths": {
    "/mcp/gaia/mcp": {
      "post": {
        "operationId": "InvokeServer",
        "summary": "Cohesity Gaia MCP",
        "description": "Sends a JSON-RPC 2.0 message to the Cohesity Gaia MCP server over Streamable HTTP. Microsoft Copilot Studio handles MCP session and protocol negotiation; this operation is not intended to be called directly by makers.",
        "x-ms-agentic-protocol": "mcp-streamable-1.0",
        "x-ms-visibility": "advanced",
        "responses": {
          "200": {
            "description": "MCP Streamable HTTP response (JSON or text/event-stream per the Accept header).",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "400": {
            "description": "Bad request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized \u2014 the supplied API key is missing, invalid, or lacks the GAIA_VIEW privilege.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error from the Cohesity Gaia MCP server.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Error message returned by the Cohesity Gaia MCP server."
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "apiKey"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "name": "Cohesity Gaia MCP"
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.cohesity.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.cohesity.com/legal/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;AI"
    }
  ]
}
