{
  "swagger": "2.0",
  "info": {
    "title": "Doppler Farhan Latif",
    "description": "Doppler\u2019s developer-first security platform empowers teams to seamlessly manage, orchestrate, and govern secrets at scale.",
    "version": "1.0",
    "contact": {
      "name": "Farhan Latif",
      "url": "https://farhanlatif027.wixsite.com/prismixs",
      "email": "farhanlatif027@outlook.com"
    }
  },
  "host": "api.doppler.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [],
  "paths": {
    "/v3/configs/config/secrets": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "parameters": [
          {
            "name": "Project Name",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important",
            "description": "example-project"
          },
          {
            "name": "Config Name",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Config Name | Name of the config object",
            "x-ms-visibility": "important",
            "description": "\"dev\", \"stg\", \"prd\""
          },
          {
            "name": "Include Dynamic Secrets",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Include Dynamic Secrets?",
            "x-ms-visibility": "advanced",
            "description": "Whether or not to issue leases and include dynamic secret values for the config"
          },
          {
            "name": "Include Managed Secrets",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": true,
            "description": "Whether to include Doppler's auto-generated (managed) secrets",
            "x-ms-summary": "Include Managed Secrets?",
            "x-ms-visibility": "advanced"
          }
        ],
        "summary": "Secrets | List Secrets",
        "operationId": "Doppler_Secrets_List_Secrets",
        "description": "Returns List Of Secrets",
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "secrets": {
                  "type": "object",
                  "properties": {},
                  "description": "secrets"
                }
              }
            }
          }
        },
        "summary": "Secrets | Update Secret",
        "description": "Updates Secret's Value",
        "operationId": "Doppler_Secrets_Update_Secret",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "string",
                  "description": "example-project",
                  "title": "Project Name | Unique identifier for the project object",
                  "x-ms-visibility": "important"
                },
                "config": {
                  "type": "string",
                  "description": "\"dev\", \"stg\", \"prd\"",
                  "title": "Config Name | Name of the config object",
                  "x-ms-visibility": "important"
                },
                "secrets": {
                  "type": "object",
                  "title": "Secrets | [IMPORTANT] Use ParseJson action before this step | Check Doppler Secrets Update Docs For Schema",
                  "properties": {},
                  "description": "secrets"
                }
              },
              "required": [
                "config",
                "project"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v3/configs/config/secret": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of your secret",
                  "title": "Secret Name",
                  "x-ms-visibility": "important"
                },
                "value": {
                  "type": "object",
                  "properties": {
                    "raw": {
                      "type": "string",
                      "description": "It's the original value that you input into Doppler, which can be referenced by other secrets",
                      "title": "Raw Value",
                      "x-ms-visibility": "important"
                    },
                    "computed": {
                      "type": "string",
                      "description": "It's a value in Doppler that is calculated based on other secret values and is fully resolved at read-time",
                      "title": "Computed Value",
                      "x-ms-visibility": "important"
                    },
                    "note": {
                      "type": "string",
                      "description": "Note that is attached to your secret",
                      "title": "Attached Note",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "value"
                }
              }
            }
          }
        },
        "summary": "Secrets | Retrieve One Secret",
        "description": "Returns A Secret",
        "operationId": "Doppler_Secrets_Retrieve_Secret",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important",
            "description": "example-project"
          },
          {
            "name": "config",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "x-ms-summary": "Config Name | Name of the config object",
            "description": "\"dev\", \"stg\", \"prd\""
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Name of the secret that you want to get e.g STRIPE_KEY",
            "x-ms-summary": "Secret Name | Name of the secret",
            "x-ms-visibility": "important"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Secrets | Delete One Secret",
        "description": "Deletes A Secret",
        "operationId": "Doppler_Secrets_Delete_Secret",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "example-project",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important"
          },
          {
            "name": "config",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "\"dev\", \"stg\", \"prd\"",
            "x-ms-summary": "Config Name | Name of the config object",
            "x-ms-visibility": "important"
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Name of the secret that you want to delete e.g STRIPE_KEY",
            "x-ms-summary": "Secret Name | Name of the secret",
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v3/configs/config/secrets/note": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Secrets | Update Note",
        "description": "Update Your Secret's Note",
        "operationId": "Doppler_Secrets_Update_Secret_Note",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "string",
                  "description": "example-project",
                  "title": "Project Name | Unique identifier for the project object",
                  "x-ms-visibility": "important"
                },
                "config": {
                  "type": "string",
                  "description": "\"dev\", \"stg\", \"prd\"",
                  "title": "Config Name | Name of the config object",
                  "x-ms-visibility": "important"
                },
                "secret": {
                  "type": "string",
                  "description": "Name Of The Secret You Want To Set Note To",
                  "title": "Secret",
                  "x-ms-visibility": "important"
                },
                "note": {
                  "type": "string",
                  "description": "Note That You Want To Set To This Secret",
                  "title": "Note",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "config",
                "note",
                "project",
                "secret"
              ]
            },
            "x-ms-visibility": "important"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/v3/configs": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "configs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name Of The Config Branch",
                        "title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "root": {
                        "type": "boolean",
                        "description": "Whether The Config Is The Root Of The Environment",
                        "title": "Root",
                        "enum": [
                          true,
                          false
                        ],
                        "x-ms-visibility": "important"
                      },
                      "locked": {
                        "type": "boolean",
                        "description": "A Boolean Value That Indicates Whether The Config Can Be Renamed Or Deleted",
                        "title": "Locked",
                        "enum": [
                          true,
                          false
                        ],
                        "x-ms-visibility": "important"
                      },
                      "initial_fetch_at": {
                        "type": "string",
                        "description": "The Timestamp Of The First Time The Config Was Fetched From The Server",
                        "title": "Initial Fetch At",
                        "x-ms-visibility": "important",
                        "format": "date-time"
                      },
                      "last_fetch_at": {
                        "type": "string",
                        "description": "The Timestamp Of The Most Recent Time The Config Was Fetched From The Server",
                        "title": "Last Fetch At",
                        "x-ms-visibility": "important",
                        "format": "date-time"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The Timestamp Of When The Config Was Created On The Server",
                        "title": "Created At",
                        "x-ms-visibility": "important",
                        "format": "date-time"
                      },
                      "environment": {
                        "type": "string",
                        "description": "The Name Of The Environment Where The Config Is Deployed",
                        "title": "Environment",
                        "x-ms-visibility": "important"
                      },
                      "project": {
                        "type": "string",
                        "description": "Project Name | Unique identifier for the project object",
                        "title": "Project",
                        "x-ms-visibility": "important"
                      },
                      "slug": {
                        "type": "string",
                        "description": "The Name Of The Config That Is Used In The URL",
                        "title": "Slug",
                        "x-ms-visibility": "important",
                        "x-ms-url-encoding": "single"
                      }
                    }
                  },
                  "description": "configs"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The\u00a0Number\u00a0Indicating The Current Page | Used For\u00a0Pagination",
                  "title": "Page",
                  "x-ms-visibility": "important"
                },
                "success": {
                  "type": "boolean",
                  "description": "A Boolean Value That Indicates Whether The Request Was Successful",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ],
                  "x-ms-visibility": "important"
                }
              }
            }
          }
        },
        "summary": "Config | List Configs",
        "description": "Fetch All Configs",
        "operationId": "Doppler_Config_List_Config",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "example-project",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important"
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "[Optional] Identifier of the environment that the config belongs to",
            "x-ms-summary": "[Optional] Environment | The environment from which to list configs",
            "x-ms-visibility": "internal"
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 1,
            "description": "Page Number | For Pagination",
            "x-ms-summary": "Page Number",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 20,
            "x-ms-visibility": "important",
            "description": "Number Of Items To Show Per Page",
            "x-ms-summary": "Items Per Page",
            "format": "int32"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name Of The Config Branch",
                      "title": "Name",
                      "x-ms-visibility": "important"
                    },
                    "root": {
                      "type": "boolean",
                      "description": "Whether The Config Is The Root Of The Environment",
                      "title": "Root",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "A Boolean Value That Indicates Whether The Config Can Be Renamed Or Deleted",
                      "title": "Locked",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "initial_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The First Time The Config Was Fetched From The Server",
                      "title": "Initial Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "last_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The Most Recent Time The Config Was Fetched From The Server",
                      "title": "Last Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The Timestamp Of When The Config Was Created On The Server",
                      "title": "Created At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "environment": {
                      "type": "string",
                      "description": "The Name Of The Environment Where The Config Is Deployed",
                      "title": "Environment",
                      "x-ms-visibility": "important"
                    },
                    "project": {
                      "type": "string",
                      "description": "Project Name | Unique identifier for the project object",
                      "title": "Project",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "config"
                }
              }
            }
          }
        },
        "summary": "Config | Create Config",
        "description": "Create A New Branch Config",
        "operationId": "Doppler_Config_Create_Config",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "string",
                  "description": "Unique identifier for the project object",
                  "title": "Project Name",
                  "x-ms-visibility": "important"
                },
                "environment": {
                  "type": "string",
                  "description": "Identifier for the environment object",
                  "title": "Environment",
                  "x-ms-visibility": "important",
                  "default": "ENVIRONMENT_ID"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the new branch config",
                  "title": "Config Name",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "environment",
                "name",
                "project"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v3/configs/config": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name Of The Config Branch",
                      "title": "Name",
                      "x-ms-visibility": "important"
                    },
                    "root": {
                      "type": "boolean",
                      "description": "Whether The Config Is The Root Of The Environment",
                      "title": "Root",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "A Boolean Value That Indicates Whether The Config Can Be Renamed Or Deleted",
                      "title": "Locked",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "initial_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The First Time The Config Was Fetched From The Server",
                      "title": "Initial Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "last_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The Most Recent Time The Config Was Fetched From The Server",
                      "title": "Last Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The Timestamp Of When The Config Was Created On The Server",
                      "title": "Created At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "environment": {
                      "type": "string",
                      "description": "The Name Of The Environment Where The Config Is Deployed",
                      "title": "Environment",
                      "x-ms-visibility": "important"
                    },
                    "project": {
                      "type": "string",
                      "description": "Project Name | Unique identifier for the project object",
                      "title": "Project",
                      "x-ms-visibility": "important"
                    },
                    "slug": {
                      "type": "string",
                      "description": "The Name Of The Config That Is Used In The URL",
                      "title": "Slug",
                      "x-ms-visibility": "internal"
                    }
                  },
                  "description": "config"
                },
                "success": {
                  "type": "boolean",
                  "description": "A Boolean Value That Indicates Whether The Request Was Successful",
                  "title": "Success",
                  "enum": [
                    true,
                    false
                  ]
                }
              }
            }
          }
        },
        "summary": "Config | Retrieve Config",
        "description": "Fetch A Config's Details",
        "operationId": "Doppler_Config_Retrieve_Config",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "example-project",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important"
          },
          {
            "name": "config",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "\"dev\", \"stg\", \"prd\"",
            "x-ms-summary": "Config Name | Name of the config object"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name Of The Config Branch",
                      "title": "Name",
                      "x-ms-visibility": "important"
                    },
                    "root": {
                      "type": "boolean",
                      "description": "Whether The Config Is The Root Of The Environment",
                      "title": "Root",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "A Boolean Value That Indicates Whether The Config Can Be Renamed Or Deleted",
                      "title": "Locked",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "initial_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The First Time The Config Was Fetched From The Server",
                      "title": "Initial Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "last_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The Most Recent Time The Config Was Fetched From The Server",
                      "title": "Last Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The Timestamp Of When The Config Was Created On The Server",
                      "title": "Created At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "environment": {
                      "type": "string",
                      "description": "The Name Of The Environment Where The Config Is Deployed",
                      "title": "Environment",
                      "x-ms-visibility": "important"
                    },
                    "project": {
                      "type": "string",
                      "description": "Project Name | Unique identifier for the project object",
                      "title": "Project",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "config"
                }
              }
            }
          }
        },
        "summary": "Config | Update Config Name",
        "description": "Modify An Existing Config Name",
        "operationId": "Doppler_Config_Update_Config_Name",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "string",
                  "description": "Unique identifier for the project object",
                  "title": "Project Name",
                  "x-ms-visibility": "important"
                },
                "config": {
                  "type": "string",
                  "description": "Name of the new branch config",
                  "title": "Current Config Name",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "The new name of config",
                  "title": "New Config Name",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "project",
                "config",
                "name"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v3/configs/config/clone": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name Of The Config Branch",
                      "title": "Name",
                      "x-ms-visibility": "important"
                    },
                    "root": {
                      "type": "boolean",
                      "description": "Whether The Config Is The Root Of The Environment",
                      "title": "Root",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "A Boolean Value That Indicates Whether The Config Can Be Renamed Or Deleted",
                      "title": "Locked",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "initial_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The First Time The Config Was Fetched From The Server",
                      "title": "Initial Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "last_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The Most Recent Time The Config Was Fetched From The Server",
                      "title": "Last Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The Timestamp Of When The Config Was Created On The Server",
                      "title": "Created At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "environment": {
                      "type": "string",
                      "description": "The Name Of The Environment Where The Config Is Deployed",
                      "title": "Environment",
                      "x-ms-visibility": "important"
                    },
                    "project": {
                      "type": "string",
                      "description": "Project Name | Unique identifier for the project object",
                      "title": "Project",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "config"
                }
              }
            }
          }
        },
        "summary": "Config | Clone Config",
        "description": "Create A New Branch Config By Cloning Another. This Duplicates A Branch Config And All Its Secrets",
        "operationId": "Doppler_Config_Clone_Config",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "string",
                  "description": "Unique identifier for the project object",
                  "title": "Project Name",
                  "x-ms-visibility": "important"
                },
                "config": {
                  "type": "string",
                  "description": "Name of the branch config being cloned",
                  "title": "Config Name",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the new branch config",
                  "title": "Name | New Branch Config",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "config",
                "name",
                "project"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v3/configs/config/lock": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name Of The Config Branch",
                      "title": "Name",
                      "x-ms-visibility": "important"
                    },
                    "root": {
                      "type": "boolean",
                      "description": "Whether The Config Is The Root Of The Environment",
                      "title": "Root",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "A Boolean Value That Indicates Whether The Config Can Be Renamed Or Deleted",
                      "title": "Locked",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "initial_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The First Time The Config Was Fetched From The Server",
                      "title": "Initial Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "last_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The Most Recent Time The Config Was Fetched From The Server",
                      "title": "Last Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The Timestamp Of When The Config Was Created On The Server",
                      "title": "Created At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "environment": {
                      "type": "string",
                      "description": "The Name Of The Environment Where The Config Is Deployed",
                      "title": "Environment",
                      "x-ms-visibility": "important"
                    },
                    "project": {
                      "type": "string",
                      "description": "Project Name | Unique identifier for the project object",
                      "title": "Project",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "config"
                }
              }
            }
          }
        },
        "summary": "Config | Lock Config",
        "description": "Prevent The Config From Being Renamed Or Deleted",
        "operationId": "Doppler_Config_Lock_Config",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "string",
                  "description": "Unique identifier for the project object",
                  "title": "Project Name",
                  "x-ms-visibility": "important"
                },
                "config": {
                  "type": "string",
                  "description": "Name of the config",
                  "title": "Config Name",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "config",
                "project"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v3/configs/config/unlock": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "config": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name Of The Config Branch",
                      "title": "Name",
                      "x-ms-visibility": "important"
                    },
                    "root": {
                      "type": "boolean",
                      "description": "Whether The Config Is The Root Of The Environment",
                      "title": "Root",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "A Boolean Value That Indicates Whether The Config Can Be Renamed Or Deleted",
                      "title": "Locked",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "initial_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The First Time The Config Was Fetched From The Server",
                      "title": "Initial Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "last_fetch_at": {
                      "type": "string",
                      "description": "The Timestamp Of The Most Recent Time The Config Was Fetched From The Server",
                      "title": "Last Fetch At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The Timestamp Of When The Config Was Created On The Server",
                      "title": "Created At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "environment": {
                      "type": "string",
                      "description": "The Name Of The Environment Where The Config Is Deployed",
                      "title": "Environment",
                      "x-ms-visibility": "important"
                    },
                    "project": {
                      "type": "string",
                      "description": "Project Name | Unique identifier for the project object",
                      "title": "Project",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "config"
                }
              }
            }
          }
        },
        "summary": "Config | Unlock Config",
        "description": "Allow The Config To Be Renamed And/Or Deleted",
        "operationId": "Doppler_Config_Unlock_Config",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "string",
                  "description": "Unique identifier for the project object",
                  "title": "Project Name",
                  "x-ms-visibility": "important"
                },
                "config": {
                  "type": "string",
                  "description": "Name of the config",
                  "title": "Config Name",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "config",
                "project"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v1/share/secrets/encrypted": {},
    "/v3/projects": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The\u00a0Number\u00a0Indicating The Current Page | Used For\u00a0Pagination",
                  "title": "Page",
                  "x-ms-visibility": "important"
                },
                "projects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "A Unique Identifier Assigned",
                        "title": "ID",
                        "x-ms-visibility": "important"
                      },
                      "slug": {
                        "type": "string",
                        "description": "The Name Of The Project That Is Used In The URL",
                        "title": "Slug",
                        "x-ms-visibility": "important",
                        "x-ms-url-encoding": "single"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name Of The Project",
                        "title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "description": {
                        "type": "string",
                        "description": "Additional Information About The Project, Such As Its Purpose Or Any Special Instructions",
                        "title": "Description",
                        "x-ms-visibility": "important"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The Timestamp Of When The Project Was Created On The Server",
                        "title": "Created At",
                        "format": "date-time",
                        "x-ms-visibility": "important"
                      }
                    }
                  },
                  "description": "projects"
                }
              }
            }
          }
        },
        "summary": "Projects | List Projects",
        "description": "Lists All Your Project",
        "operationId": "Doppler_Projects_List",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "x-ms-summary": "Page | Page number",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 20,
            "description": "Items To Show Per Page",
            "x-ms-summary": "Per Page | How Many Items Per Page",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ],
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A Unique Identifier Assigned",
                      "title": "ID",
                      "x-ms-visibility": "important"
                    },
                    "name": {
                      "type": "string",
                      "description": "Project Name | Unique identifier for the project object",
                      "title": "Project Name"
                    },
                    "description": {
                      "type": "string",
                      "description": "Additional Information About The Project, Such As Its Purpose Or Any Special Instructions",
                      "title": "Description",
                      "x-ms-visibility": "important"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The Timestamp Of When The Project Was Created On The Server",
                      "title": "Created At",
                      "format": "date-time",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "project"
                }
              }
            }
          }
        },
        "summary": "Projects | Create Project",
        "description": "Creates A Project",
        "operationId": "Doppler_Projects_Create",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name Of Your Project",
                  "title": "Project Name",
                  "x-ms-visibility": "important",
                  "default": "My_awesome_project"
                },
                "description": {
                  "type": "string",
                  "description": "Description of project",
                  "title": "Description",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "description",
                "name"
              ],
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v3/projects/project": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A Unique Identifier Assigned",
                      "title": "ID",
                      "x-ms-visibility": "important"
                    },
                    "name": {
                      "type": "string",
                      "description": "Project Name | Unique identifier for the project object",
                      "title": "Project Name",
                      "x-ms-visibility": "important"
                    },
                    "description": {
                      "type": "string",
                      "description": "Additional Information About The Project, Such As Its Purpose Or Any Special Instructions",
                      "title": "Description",
                      "x-ms-visibility": "important"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The Timestamp Of When The Project Was Created On The Server",
                      "title": "Created At",
                      "format": "date-time",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "project"
                }
              }
            }
          }
        },
        "summary": "Projects | Retrieve Project",
        "description": "Retrieve Your Project",
        "operationId": "Doppler_Projects_Retrieve",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "example-project",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "A Unique Identifier Assigned",
                      "title": "ID",
                      "x-ms-visibility": "important"
                    },
                    "name": {
                      "type": "string",
                      "description": "Project Name | Unique identifier for the project object",
                      "title": "Project Name",
                      "x-ms-visibility": "important"
                    },
                    "description": {
                      "type": "string",
                      "description": "Additional Information About The Project, Such As Its Purpose Or Any Special Instructions",
                      "title": "Description",
                      "x-ms-visibility": "important"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The Timestamp Of When The Project Was Created On The Server",
                      "title": "Created At",
                      "format": "date-time",
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "project"
                }
              }
            }
          }
        },
        "summary": "Projects | Update Project",
        "description": "Update Your Project",
        "operationId": "Doppler_Projects_Update",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "string",
                  "description": "Name Of Your Project",
                  "title": "Project Name | Unique identifier for the project object",
                  "x-ms-visibility": "important"
                },
                "name": {
                  "type": "string",
                  "description": "Name Of The Project",
                  "title": "NEW Project Name | Unique identifier for the project object",
                  "x-ms-visibility": "important"
                },
                "description": {
                  "type": "string",
                  "description": "Description Of The Project",
                  "title": "Description",
                  "x-ms-visibility": "important"
                }
              },
              "x-ms-visibility": "important",
              "required": [
                "description",
                "name",
                "project"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/v3/projects/roles": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "roles": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name Of The Role",
                        "title": "Name",
                        "x-ms-visibility": "important"
                      },
                      "permissions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "permissions"
                      },
                      "identifier": {
                        "type": "string",
                        "description": "A Unique Identifier Assigned",
                        "title": "Identifier",
                        "x-ms-visibility": "important"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "The Timestamp Of When The Project Role Was Created On The Server",
                        "title": "Created At",
                        "format": "date-time",
                        "x-ms-visibility": "important"
                      },
                      "is_custom_role": {
                        "type": "boolean",
                        "description": "A Boolean Value That Indicates Whether The Role Is A Custom Role",
                        "title": "Is Custom Role?",
                        "enum": [
                          true,
                          false
                        ],
                        "x-ms-visibility": "important"
                      }
                    }
                  },
                  "description": "roles"
                }
              }
            }
          }
        },
        "summary": "Project Roles | List Roles",
        "description": "See List Of Roles",
        "operationId": "Doppler_Project_Roles_List",
        "x-ms-visibility": "important",
        "parameters": []
      }
    },
    "/v3/projects/roles/role/{role}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name Of The Role",
                      "title": "Role Name",
                      "x-ms-visibility": "important"
                    },
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Permissions Assigned To This Role",
                        "title": "Permissions",
                        "x-ms-visibility": "important"
                      },
                      "description": "permissions"
                    },
                    "identifier": {
                      "type": "string",
                      "description": "A Unique Identifier Assigned",
                      "title": "Identifier",
                      "x-ms-visibility": "important"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The Timestamp Of When The Project Role Was Created On The Server",
                      "title": "Created At",
                      "x-ms-visibility": "important",
                      "format": "date-time"
                    },
                    "is_custom_role": {
                      "type": "boolean",
                      "description": "A Boolean Value That Indicates Whether The Role Is A Custom Role",
                      "title": "Is Custom Role?",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    }
                  },
                  "description": "role"
                }
              }
            }
          }
        },
        "summary": "Project Roles | Retrieve Roles",
        "description": "Retrieve Roles",
        "operationId": "Doppler_Project_Roles_Retrieve",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "admin",
            "x-ms-summary": "Role Name",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Project Roles | Delete Roles",
        "description": "Delete Role",
        "operationId": "Doppler_Project_Roles_Delete",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "role",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The role's unique identifier",
            "x-ms-summary": "Role Name",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/v3/projects/project/members": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "members": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Type Of User",
                        "title": "Type",
                        "x-ms-visibility": "important"
                      },
                      "slug": {
                        "type": "string",
                        "description": "Name That Is Used In The URL",
                        "title": "Slug",
                        "x-ms-visibility": "important",
                        "x-ms-url-encoding": "single"
                      },
                      "role": {
                        "type": "object",
                        "properties": {
                          "identifier": {
                            "type": "string",
                            "description": "A Unique Identifier Assigned",
                            "title": "Identifier",
                            "x-ms-visibility": "important"
                          }
                        },
                        "description": "role"
                      },
                      "access_all_environments": {
                        "type": "boolean",
                        "description": "A Boolean Value That Indicates Whether The Member Can Access All The Environments In The Project",
                        "title": "Access All Environments?",
                        "enum": [
                          true,
                          false
                        ],
                        "x-ms-visibility": "important"
                      },
                      "environments": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "environments"
                      }
                    }
                  },
                  "description": "members"
                }
              }
            }
          }
        },
        "summary": "Project Members | List Members",
        "description": "List Members In The Project",
        "operationId": "Doppler_Project_Members_List",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "example-project",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Page Number",
            "x-ms-summary": "Page Number | Pagination",
            "x-ms-visibility": "important",
            "format": "int32"
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 20,
            "description": "Items Per Page",
            "x-ms-summary": "Per Page | Items Per Page",
            "x-ms-visibility": "important",
            "format": "int32"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "member": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type Of User",
                      "title": "Type",
                      "x-ms-visibility": "important"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Name That Is Used In The URL",
                      "title": "Slug",
                      "x-ms-visibility": "important",
                      "x-ms-url-encoding": "single"
                    },
                    "role": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "description": "A Unique Identifier Assigned",
                          "title": "Identifier",
                          "x-ms-visibility": "important"
                        }
                      },
                      "description": "role"
                    },
                    "access_all_environments": {
                      "type": "boolean",
                      "description": "A Boolean Value That Indicates Whether The Member Can Access All The Environments In The Project",
                      "title": "Access All Environments?",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "environments": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "title": "Member's Environment",
                        "x-ms-visibility": "important",
                        "description": "The Name Of The Environment Where The Member Is"
                      },
                      "description": "environments"
                    }
                  },
                  "description": "member"
                }
              }
            }
          }
        },
        "summary": "Project Members | Add Members",
        "description": "Add Members To The Project",
        "operationId": "Doppler_Project_Members_Add",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "example-project",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "",
                  "title": "Role Type",
                  "enum": [
                    "workplace_user",
                    "group",
                    "invite",
                    "service_account"
                  ]
                },
                "slug": {
                  "type": "string",
                  "description": "Member's slug",
                  "title": "Slug",
                  "x-ms-visibility": "important",
                  "x-ms-url-encoding": "single"
                },
                "role": {
                  "type": "string",
                  "description": "",
                  "title": "Member Role",
                  "x-ms-visibility": "important"
                },
                "environments": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Array Of Environments [\"a\",\"b\"]",
                    "title": "Environments",
                    "x-ms-visibility": "important"
                  },
                  "description": "environments"
                }
              },
              "required": [
                "slug",
                "type"
              ]
            }
          }
        ]
      }
    },
    "/v3/projects/project/members/member/{type}/{slug}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "member": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type Of User",
                      "title": "Type",
                      "x-ms-visibility": "important"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Name That Is Used In The URL",
                      "title": "Slug",
                      "x-ms-visibility": "important",
                      "x-ms-url-encoding": "single"
                    },
                    "role": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "description": "A Unique Identifier Assigned",
                          "title": "Identifier",
                          "x-ms-visibility": "important"
                        }
                      },
                      "description": "role"
                    },
                    "access_all_environments": {
                      "type": "boolean",
                      "description": "A Boolean Value That Indicates Whether The Member Can Access All The Environments In The Project",
                      "title": "Access All Environments?",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "environments": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "title": "Member's Environment",
                        "x-ms-visibility": "important",
                        "description": "The Name Of The Environment Where The Member Is"
                      },
                      "description": "environments"
                    }
                  },
                  "description": "member"
                }
              }
            }
          }
        },
        "summary": "Project Members | Retrieve Members",
        "description": "Retrieve Members In The Project",
        "operationId": "Doppler_Project_Members_Retrieve",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Type Name e.g workplace_user/group/invite/service_account",
            "x-ms-summary": "Role Type",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "enum": [
              "workplace_user",
              "group",
              "invite",
              "service_account"
            ]
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Member's slug",
            "x-ms-summary": "Members slug",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "example-project",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "Project Members | Delete Members",
        "description": "Delete Members In The Project",
        "operationId": "Doppler_Project_Members_Delete",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Type Name e.g workplace_user/group/invite/service_account",
            "x-ms-summary": "Role Type",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Member's slug",
            "x-ms-visibility": "important",
            "description": "Member's slug",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "example-project",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "member": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type Of User",
                      "title": "Type",
                      "x-ms-visibility": "important"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Name That Is Used In The URL",
                      "title": "Slug",
                      "x-ms-visibility": "important",
                      "x-ms-url-encoding": "single"
                    },
                    "role": {
                      "type": "object",
                      "properties": {
                        "identifier": {
                          "type": "string",
                          "description": "A Unique Identifier Assigned",
                          "title": "Identifier",
                          "x-ms-visibility": "important"
                        }
                      },
                      "description": "role"
                    },
                    "access_all_environments": {
                      "type": "boolean",
                      "description": "A Boolean Value That Indicates Whether The Member Can Access All The Environments In The Project",
                      "title": "Access All Environments?",
                      "enum": [
                        true,
                        false
                      ],
                      "x-ms-visibility": "important"
                    },
                    "environments": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "The Name Of The Environment Where The Member Is",
                        "title": "Member's Environment",
                        "x-ms-visibility": "important"
                      },
                      "description": "environments"
                    }
                  },
                  "description": "member"
                }
              }
            }
          }
        },
        "summary": "Project Members | Update Members",
        "description": "Update Members On The Project",
        "operationId": "Doppler_Project_Members_Update",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Type Name e.g workplace_user/group/invite/service_account",
            "x-ms-summary": "Role Type",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Member's slug",
            "x-ms-visibility": "important",
            "description": "Member's slug",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "project",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "example-project",
            "x-ms-summary": "Project Name | Unique identifier for the project object",
            "x-ms-visibility": "important"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "description": "Identifier of the project role",
                  "title": "Role Name",
                  "x-ms-visibility": "important"
                },
                "environments": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Array Of Environments [\"a\",\"b\"]",
                    "title": "Environments",
                    "x-ms-visibility": "important"
                  },
                  "description": "environments"
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "api_key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
   "x-ms-connector-metadata": [

    {
      "propertyName": "Website",
      "propertyValue": "https://www.doppler.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.doppler.com/legal/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Security"
    }
  ]
}
