{
  "swagger": "2.0",
  "info": {
    "title": "IQAir",
    "description": "IQAir provides the world's largest free real-time air quality and pollution information platform from over 100.000 locations and cities. Query historical, current or even forecast data based on your subscription.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_iqa@gmail.com"
    }
  },
  "host": "api.airvisual.com",
  "basePath": "/v2/",
  "schemes": [
    "http"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/countries": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status of the response.",
                  "title": "Status"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "country": {
                        "type": "string",
                        "description": "Name of the country.",
                        "title": "Country"
                      }
                    }
                  },
                  "description": "Data response: array of countries.",
                  "title": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "summary": "List countries",
        "description": "List supported countries",
        "operationId": "ListCountries",
        "parameters": []
      }
    },
    "/states": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status of the response.",
                  "title": "Status"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "state": {
                        "type": "string",
                        "description": "Name of the state.",
                        "title": "State"
                      }
                    }
                  },
                  "description": "Data response: array of states in country.",
                  "title": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "summary": "List states",
        "description": "List supported states within a country",
        "operationId": "ListStates",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Country",
            "description": "Name of a supported country, e.g.: France."
          }
        ]
      }
    },
    "/cities": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Status of the response.",
                  "title": "Status"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "city": {
                        "type": "string",
                        "description": "Name of the city.",
                        "title": "City"
                      }
                    }
                  },
                  "description": "Data response: array of cities in state.",
                  "title": "Data"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "summary": "List cities",
        "description": "List supported cities within a state and country",
        "operationId": "ListCities",
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "State",
            "description": "Name of a supported state, e.g.: Brittany."
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Country",
            "description": "Name of a supported country, e.g.: France."
          }
        ]
      }
    },
    "/nearest_city": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CityResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "summary": "Get data by coordinates",
        "description": "Get data from nearest city by coordinates",
        "operationId": "GetDataByCoordinates",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Latitude",
            "description": "Latitudinal coordinate, e.g.: 47.4979 for Budapest, Hungary."
          },
          {
            "name": "lon",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Longitude",
            "description": "Longitudinal coordinate, e.g.: 19.0402 for Budapest, Hungary."
          }
        ]
      }
    },
    "/city": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CityResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal Server Error. Unknown error occurred"
          }
        },
        "summary": "Get data by city",
        "description": "Get data by identifying the city name",
        "operationId": "GetDataByCity",
        "parameters": [
          {
            "name": "city",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "City",
            "description": "Name of the target city, eg Lorient."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "State",
            "description": "Name of the target state, eg Brittany."
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "type": "string",
            "x-ms-summary": "Country",
            "description": "Name of the target country, eg France."
          }
        ]
      }
    }
  },
  "definitions": {
    "CityResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the response.",
          "title": "Status"
        },
        "data": {
          "type": "object",
          "properties": {
            "city": {
              "type": "string",
              "description": "Name of the city.",
              "title": "City"
            },
            "state": {
              "type": "string",
              "description": "Name of the state including the city.",
              "title": "State"
            },
            "country": {
              "type": "string",
              "description": "Name of the country including the city.",
              "title": "Country"
            },
            "location": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Type of coordinates, e.g.: point.",
                  "title": "Type"
                },
                "coordinates": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "format": "float"
                  },
                  "description": "Array of coordinates: longitude and latitude.",
                  "title": "Coordinates"
                }
              },
              "description": "Location information.",
              "title": "Location"
            },
            "current": {
              "type": "object",
              "properties": {
                "pollution": {
                  "type": "object",
                  "properties": {
                    "ts": {
                      "type": "string",
                      "description": "Timestamp of results.",
                      "title": "Timestamp"
                    },
                    "aqius": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Air Quality Index (US)",
                      "title": "AQI-US"
                    },
                    "mainus": {
                      "type": "string",
                      "description": "Main pollutant (US), for example PM2.5",
                      "title": "Main Pollutant - US"
                    },
                    "aqicn": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Air Quality Index (CN)",
                      "title": "AQI-CN"
                    },
                    "maincn": {
                      "type": "string",
                      "description": "Main pollutant (CN), for example PM10",
                      "title": "Main Pollutant - CN"
                    }
                  },
                  "description": "Pollution information.",
                  "title": "Pollution"
                },
                "weather": {
                  "type": "object",
                  "properties": {
                    "ts": {
                      "type": "string",
                      "description": "Timestamp of the results.",
                      "title": "Timestamp"
                    },
                    "tp": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Temperature, expressed in Celsius.",
                      "title": "Temperature"
                    },
                    "pr": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Air pressure, expressed in hPa or mbar.",
                      "title": "Air Pressure"
                    },
                    "hu": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Humidity, percentage (%).",
                      "title": "Humidity"
                    },
                    "ws": {
                      "type": "number",
                      "format": "float",
                      "description": "Wind speed.",
                      "title": "Wind speed"
                    },
                    "wd": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Wind direction, in degrees.",
                      "title": "Wind direction"
                    },
                    "ic": {
                      "type": "string",
                      "description": "Weather icon identifier.",
                      "title": "Icon"
                    }
                  },
                  "description": "Weather information.",
                  "title": "Weather"
                }
              },
              "description": "Current dataset.",
              "title": "Current"
            }
          },
          "description": "Pollution and weather information.",
          "title": "Data"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "key"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.iqair.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.iqair.com/us/legal/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}