{
  "swagger": "2.0",
  "info": {
    "title": "Climatiq",
    "description": "Climatiq helps you calculate the environmental footprint created by a broad range of emission-generating activities. We simplify the process of converting your operational activity data into CO2e (carbon dioxide equivalent) estimates, allowing you to understand your impact on the environment and identify actions to manage and reduce it.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "beta3.api.climatiq.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/estimate": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "co2e": {
                  "type": "number",
                  "format": "float",
                  "description": "The CO2e.",
                  "title": "CO2e"
                },
                "co2e_unit": {
                  "type": "string",
                  "description": "The CO2e unit.",
                  "title": "CO2e Unit"
                },
                "co2e_calculation_method": {
                  "type": "string",
                  "description": "The CO2e calculation method.",
                  "title": "CO2e Calculation Method"
                },
                "co2e_calculation_origin": {
                  "type": "string",
                  "description": "The CO2e calculation origin.",
                  "title": "CO2e Calculation Origin"
                },
                "emission_factor": {
                  "type": "object",
                  "properties": {
                    "activity_id": {
                      "type": "string",
                      "description": "The activity identifier.",
                      "title": "Activity ID"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "The UUID.",
                      "title": "UUID"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "access_type": {
                      "type": "string",
                      "description": "The access type.",
                      "title": "Access Type"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "year": {
                      "type": "string",
                      "description": "The year.",
                      "title": "Year"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "category": {
                      "type": "string",
                      "description": "The category.",
                      "title": "Category"
                    },
                    "lca_activity": {
                      "type": "string",
                      "description": "The life cycle assessment activity.",
                      "title": "LCA Activity"
                    },
                    "data_quality_flags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The data quality flags.",
                      "title": "Data Quality Flags"
                    }
                  },
                  "title": "Emission Factor"
                },
                "constituent_gases": {
                  "type": "object",
                  "properties": {
                    "co2e_total": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2e total.",
                      "title": "CO2e Total"
                    },
                    "co2e_other": {
                      "type": "number",
                      "format": "float",
                      "description": "The other CO2e.",
                      "title": "CO2e Other"
                    },
                    "co2": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2.",
                      "title": "CO2"
                    },
                    "ch4": {
                      "type": "number",
                      "format": "float",
                      "description": "The CH4.",
                      "title": "CH4"
                    },
                    "n2o": {
                      "type": "number",
                      "format": "float",
                      "description": "The N2O.",
                      "title": "N2O"
                    }
                  },
                  "title": "Constituent Gases"
                }
              }
            }
          }
        },
        "summary": "Estimate emissions",
        "description": "Calculate total estimated emissions produced for a particular activity, in kgCO2e, using the available emission factors.",
        "operationId": "EmissionEstimate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "emission_factor": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "description": "The UUID.",
                      "title": "UUID"
                    },
                    "activity_id": {
                      "type": "string",
                      "description": "The activity identifier.",
                      "title": "Activity ID"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "region_fallback": {
                      "type": "boolean",
                      "description": "Whether to use the fallback region.",
                      "title": "Region Fallback"
                    },
                    "year": {
                      "type": "string",
                      "description": "The year.",
                      "title": "Year"
                    },
                    "lca_activity": {
                      "type": "string",
                      "description": "The life cycle assessment activity.",
                      "title": "LCA Activity"
                    },
                    "calculation_method": {
                      "type": "string",
                      "description": "The calculation method.",
                      "title": "Calculation Method"
                    }
                  },
                  "title": "Emission Factor"
                },
                "parameters": {
                  "type": "object",
                  "properties": {
                    "energy": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The energy amount.",
                      "title": "Energy"
                    },
                    "energy_unit": {
                      "type": "string",
                      "description": "The energy unit.",
                      "title": "Energy Unit"
                    },
                    "data": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The data amount.",
                      "title": "Data"
                    },
                    "data_unit": {
                      "type": "string",
                      "description": "The data unit.",
                      "title": "Data Unit"
                    },
                    "distance": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The distance amount.",
                      "title": "Distance"
                    },
                    "distance_unit": {
                      "type": "string",
                      "description": "The distance unit.",
                      "title": "Distance Unit"
                    },
                    "money": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The money amount.",
                      "title": "Money"
                    },
                    "money_unit": {
                      "type": "string",
                      "description": "The money unit.",
                      "title": "Money Unit"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number amount.",
                      "title": "Number"
                    },
                    "time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The title amount.",
                      "title": "Time"
                    },
                    "time_unit": {
                      "type": "string",
                      "description": "The time unit.",
                      "title": "Time Unit"
                    },
                    "passengers": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The passengers amount.",
                      "title": "Passengers"
                    },
                    "volume": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The volume amount.",
                      "title": "Volume"
                    },
                    "volume_unit": {
                      "type": "string",
                      "description": "The volume unit.",
                      "title": "Volume Unit"
                    },
                    "weight": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The weight amount.",
                      "title": "Weight"
                    },
                    "weight_unit": {
                      "type": "string",
                      "description": "The weight unit.",
                      "title": "Weight Unit"
                    }
                  },
                  "title": "Parameters"
                }
              }
            }
          }
        ]
      }
    },
    "/batch": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "co2e": {
                        "type": "number",
                        "format": "float",
                        "description": "The CO2e.",
                        "title": "CO2e"
                      },
                      "co2e_unit": {
                        "type": "string",
                        "description": "The CO2e unit.",
                        "title": "CO2e Unit"
                      },
                      "co2e_calculation_method": {
                        "type": "string",
                        "description": "The CO2e calculation method.",
                        "title": "CO2e Calculation Method"
                      },
                      "co2e_calculation_origin": {
                        "type": "string",
                        "description": "The CO2e calculation origin.",
                        "title": "CO2e Calculation Origin"
                      },
                      "emission_factor": {
                        "type": "object",
                        "properties": {
                          "activity_id": {
                            "type": "string",
                            "description": "The activity identifier.",
                            "title": "Activity ID"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The UUID.",
                            "title": "UUID"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "access_type": {
                            "type": "string",
                            "description": "The access type.",
                            "title": "Access Type"
                          },
                          "source": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          },
                          "year": {
                            "type": "string",
                            "description": "The year.",
                            "title": "Year"
                          },
                          "region": {
                            "type": "string",
                            "description": "The region.",
                            "title": "Region"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category.",
                            "title": "Category"
                          },
                          "lca_activity": {
                            "type": "string",
                            "description": "The life cycle assessment activity.",
                            "title": "LCA Activity"
                          },
                          "data_quality_flags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The data quality flags.",
                            "title": "Data Quality Flags"
                          }
                        },
                        "title": "Emission Factor"
                      },
                      "constituent_gases": {
                        "type": "object",
                        "properties": {
                          "co2e_total": {
                            "type": "number",
                            "format": "float",
                            "description": "The CO2e total.",
                            "title": "CO2e Total"
                          },
                          "co2e_other": {
                            "type": "number",
                            "format": "float",
                            "description": "The other CO2e.",
                            "title": "CO2e Other"
                          },
                          "co2": {
                            "type": "number",
                            "format": "float",
                            "description": "The CO2.",
                            "title": "CO2"
                          },
                          "ch4": {
                            "type": "number",
                            "format": "float",
                            "description": "The CH4.",
                            "title": "CH4"
                          },
                          "n2o": {
                            "type": "number",
                            "format": "float",
                            "description": "The N2O.",
                            "title": "N2O"
                          }
                        },
                        "title": "Constituent Gases"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Batch estimations",
        "description": "Batch estimations can be used to calculate multiple emission estimations in a single request. Currently limited to maximum 100 operations per request.",
        "operationId": "EmissionEstimateBulk",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "co2e": {
                    "type": "number",
                    "format": "float",
                    "description": "The CO2e.",
                    "title": "CO2e"
                  },
                  "co2e_unit": {
                    "type": "string",
                    "description": "The CO2e.",
                    "title": "CO2e Unit"
                  },
                  "co2e_calculation_method": {
                    "type": "string",
                    "description": "The CO2e calculation method.",
                    "title": "CO2e Calculation Method"
                  },
                  "co2e_calculation_origin": {
                    "type": "string",
                    "description": "The CO2e calculation origin.",
                    "title": "CO2e Calculation Origin"
                  },
                  "emission_factor": {
                    "type": "object",
                    "properties": {
                      "activity_id": {
                        "type": "string",
                        "description": "The activity identifier.",
                        "title": "Activity ID"
                      },
                      "uuid": {
                        "type": "string",
                        "description": "The UUID.",
                        "title": "UUID"
                      },
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "access_type": {
                        "type": "string",
                        "description": "The access type.",
                        "title": "Access Type"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "year": {
                        "type": "string",
                        "description": "The year.",
                        "title": "Year"
                      },
                      "region": {
                        "type": "string",
                        "description": "The region.",
                        "title": "Region"
                      },
                      "category": {
                        "type": "string",
                        "description": "The category.",
                        "title": "Category"
                      },
                      "lca_activity": {
                        "type": "string",
                        "description": "The life cycle assessment activity.",
                        "title": "LCA Activity"
                      },
                      "data_quality_flags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The data quality flags.",
                        "title": "Data Quality Flags"
                      }
                    },
                    "title": "Emission Factor"
                  },
                  "constituent_gases": {
                    "type": "object",
                    "properties": {
                      "co2e_total": {
                        "type": "number",
                        "format": "float",
                        "description": "The CO2e.",
                        "title": "CO2e Total"
                      },
                      "co2e_other": {
                        "type": "number",
                        "format": "float",
                        "description": "The other CO2e.",
                        "title": "CO2e Other"
                      },
                      "co2": {
                        "type": "number",
                        "format": "float",
                        "description": "The CO2.",
                        "title": "CO2"
                      },
                      "ch4": {
                        "type": "number",
                        "format": "float",
                        "description": "The CH4.",
                        "title": "CH4"
                      },
                      "n2o": {
                        "type": "number",
                        "format": "float",
                        "description": "The N2O.",
                        "title": "N2O"
                      }
                    },
                    "title": "Constituent Gases"
                  }
                }
              }
            }
          }
        ]
      }
    },
    "/travel/flights": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "co2e": {
                  "type": "number",
                  "format": "float",
                  "description": "The CO2e.",
                  "title": "CO2e"
                },
                "co2e_unit": {
                  "type": "string",
                  "description": "The CO2e unit.",
                  "title": "CO2e Unit"
                },
                "legs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "co2e": {
                        "type": "number",
                        "format": "float",
                        "description": "The CO2e.",
                        "title": "CO2e"
                      },
                      "co2e_unit": {
                        "type": "string",
                        "description": "The CO2e unit.",
                        "title": "CO2e Unit"
                      },
                      "co2e_calculation_method": {
                        "type": "string",
                        "description": "The CO2e calculation method.",
                        "title": "CO2e Calculation Method"
                      },
                      "co2e_calculation_origin": {
                        "type": "string",
                        "description": "The CO2e calculation origin.",
                        "title": "CO2e Calculation Origin"
                      },
                      "emission_factor": {
                        "type": "object",
                        "properties": {
                          "activity_id": {
                            "type": "string",
                            "description": "The activity identifier.",
                            "title": "Activity ID"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The UUID.",
                            "title": "UUID"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "access_type": {
                            "type": "string",
                            "description": "The access type.",
                            "title": "Access Type"
                          },
                          "source": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          },
                          "year": {
                            "type": "string",
                            "description": "The year.",
                            "title": "Year"
                          },
                          "region": {
                            "type": "string",
                            "description": "The region.",
                            "title": "Region"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category.",
                            "title": "Category"
                          },
                          "lca_activity": {
                            "type": "string",
                            "description": "The life cycle assessment activity.",
                            "title": "LCA Activity"
                          },
                          "data_quality_flags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The data quality flags.",
                            "title": "Data Quality Flags"
                          }
                        },
                        "title": "Emission Factor"
                      },
                      "constituent_gases": {
                        "type": "object",
                        "properties": {
                          "co2e_total": {
                            "type": "number",
                            "format": "float",
                            "description": "The CO2e total.",
                            "title": "CO2e Total"
                          },
                          "co2e_other": {
                            "type": "number",
                            "format": "float",
                            "description": "The other CO2e.",
                            "title": "CO2e Other"
                          },
                          "co2": {
                            "type": "number",
                            "format": "float",
                            "description": "The CO2.",
                            "title": "CO2"
                          },
                          "ch4": {
                            "type": "number",
                            "format": "float",
                            "description": "The CH4.",
                            "title": "CH4"
                          },
                          "n2o": {
                            "type": "number",
                            "format": "float",
                            "description": "The N2O.",
                            "title": "N2O"
                          }
                        },
                        "title": "Constituent Gases"
                      }
                    }
                  },
                  "title": "Legs"
                }
              }
            }
          }
        },
        "summary": "Calculate travel flight emissions",
        "description": "Calculate total estimated emissions produced by passenger flights between the specified airports.",
        "operationId": "TravelFlight",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "legs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string",
                        "description": "The from airport.",
                        "title": "From"
                      },
                      "to": {
                        "type": "string",
                        "description": "The to airport.",
                        "title": "To"
                      },
                      "passengers": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of passengers.",
                        "title": "Passengers"
                      },
                      "class": {
                        "type": "string",
                        "description": "The class.",
                        "title": "Class"
                      }
                    },
                    "required": [
                      "from",
                      "to"
                    ]
                  },
                  "title": "Legs"
                }
              },
              "required": [
                "legs"
              ]
            }
          }
        ]
      }
    },
    "/freight/flights": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "co2e": {
                  "type": "number",
                  "format": "float",
                  "description": "The CO2e.",
                  "title": "CO2e"
                },
                "co2e_unit": {
                  "type": "string",
                  "description": "The CO2e unit.",
                  "title": "CO2e Unit"
                },
                "legs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "co2e": {
                        "type": "number",
                        "format": "float",
                        "description": "The CO2e.",
                        "title": "CO2e"
                      },
                      "co2e_unit": {
                        "type": "string",
                        "description": "The CO2e unit.",
                        "title": "CO2e Unit"
                      },
                      "co2e_calculation_method": {
                        "type": "string",
                        "description": "The CO2e calculation method.",
                        "title": "CO2e Calculation Method"
                      },
                      "co2e_calculation_origin": {
                        "type": "string",
                        "description": "The CO2e calculation origin.",
                        "title": "CO2e Calculation Origin"
                      },
                      "emission_factor": {
                        "type": "object",
                        "properties": {
                          "activity_id": {
                            "type": "string",
                            "description": "The activity identifier.",
                            "title": "Activity ID"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The UUID.",
                            "title": "UUID"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "access_type": {
                            "type": "string",
                            "description": "The access type.",
                            "title": "Access Type"
                          },
                          "source": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          },
                          "year": {
                            "type": "string",
                            "description": "The year.",
                            "title": "Year"
                          },
                          "region": {
                            "type": "string",
                            "description": "The region.",
                            "title": "Region"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category.",
                            "title": "Category"
                          },
                          "lca_activity": {
                            "type": "string",
                            "description": "The life cycle assessment activity.",
                            "title": "LCA Activity"
                          },
                          "data_quality_flags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "The data quality flags.",
                            "title": "Data Quality Flags"
                          }
                        },
                        "title": "Emission Factor"
                      },
                      "constituent_gases": {
                        "type": "object",
                        "properties": {
                          "co2e_total": {
                            "type": "number",
                            "format": "float",
                            "description": "The CO2e total.",
                            "title": "CO2e Total"
                          },
                          "co2e_other": {
                            "type": "number",
                            "format": "float",
                            "description": "The other CO2e.",
                            "title": "CO2e Other"
                          },
                          "co2": {
                            "type": "number",
                            "format": "float",
                            "description": "The CO2.",
                            "title": "CO2"
                          },
                          "ch4": {
                            "type": "number",
                            "format": "float",
                            "description": "The CH4.",
                            "title": "CH4"
                          },
                          "n2o": {
                            "type": "number",
                            "format": "float",
                            "description": "The N2O.",
                            "title": "N2O"
                          }
                        },
                        "title": "Constituent Gases"
                      }
                    }
                  },
                  "title": "Legs"
                }
              }
            }
          }
        },
        "summary": "Calculate freight flight emissions",
        "description": "Calculate total estimated emissions produced by freight flights between the specified airports.",
        "operationId": "FreightFlight",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "legs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string",
                        "description": "The from airport.",
                        "title": "From"
                      },
                      "to": {
                        "type": "string",
                        "description": "The to airport.",
                        "title": "To"
                      },
                      "passengers": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of passengers.",
                        "title": "Passengers"
                      },
                      "class": {
                        "type": "string",
                        "description": "The class.",
                        "title": "Class"
                      }
                    },
                    "required": [
                      "from",
                      "to"
                    ]
                  },
                  "title": "Legs"
                }
              },
              "required": [
                "legs"
              ]
            }
          }
        ]
      }
    },
    "/compute": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "cloud_providers": {
                  "type": "object",
                  "properties": {
                    "gcp": {
                      "type": "object",
                      "properties": {
                        "provider_id": {
                          "type": "string",
                          "description": "The provider identifier.",
                          "title": "Provider ID"
                        },
                        "provider_full_name": {
                          "type": "string",
                          "description": "The provider full name.",
                          "title": "Provider Full Name"
                        },
                        "cpu_regions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The CPU regions.",
                          "title": "CPU Regions"
                        },
                        "storage_regions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The storage regions.",
                          "title": "Storage Regions"
                        },
                        "memory_regions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The memory regions.",
                          "title": "Memory Regions"
                        }
                      },
                      "title": "GCP"
                    },
                    "aws": {
                      "type": "object",
                      "properties": {
                        "provider_id": {
                          "type": "string",
                          "description": "The provider identifier.",
                          "title": "Provider ID"
                        },
                        "provider_full_name": {
                          "type": "string",
                          "description": "The provider full name.",
                          "title": "Provider Full Name"
                        },
                        "cpu_regions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The CPU regions.",
                          "title": "CPU Regions"
                        },
                        "storage_regions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The storage regions.",
                          "title": "Storage Regions"
                        },
                        "memory_regions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The memory regions.",
                          "title": "Memory Regions"
                        }
                      },
                      "title": "AWS"
                    },
                    "azure": {
                      "type": "object",
                      "properties": {
                        "provider_id": {
                          "type": "string",
                          "description": "The provider identifier.",
                          "title": "Provider ID"
                        },
                        "provider_full_name": {
                          "type": "string",
                          "description": "The provider full name.",
                          "title": "Provider Full Name"
                        },
                        "cpu_regions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The CPU regions.",
                          "title": "CPU Regions"
                        },
                        "storage_regions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The storage regions.",
                          "title": "Storage Regions"
                        },
                        "memory_regions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "The memory regions.",
                          "title": "Memory Regions"
                        }
                      },
                      "title": "Azure"
                    }
                  },
                  "title": "Cloud Providers"
                }
              }
            }
          }
        },
        "summary": "Get computing metadata",
        "description": "Returns metadata, such as what sort of providers and regions are available for the different computing endpoints.",
        "operationId": "ComputeMetadata",
        "parameters": []
      }
    },
    "/compute/{provider}/cpu": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "co2e": {
                  "type": "number",
                  "format": "float",
                  "description": "The CO2e.",
                  "title": "CO2e"
                },
                "co2e_unit": {
                  "type": "string",
                  "description": "The CO2e unit.",
                  "title": "CO2e Unit"
                },
                "co2e_calculation_method": {
                  "type": "string",
                  "description": "The CO2e calculation method.",
                  "title": "CO2e Calculation Method"
                },
                "co2e_calculation_origin": {
                  "type": "string",
                  "description": "The CO2e calculation origin.",
                  "title": "CO2e Calculation Origin"
                },
                "emission_factor": {
                  "type": "object",
                  "properties": {
                    "activity_id": {
                      "type": "string",
                      "description": "The activity identifier.",
                      "title": "Activity ID"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "The UUID.",
                      "title": "UUID"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "access_type": {
                      "type": "string",
                      "description": "The access type.",
                      "title": "Access Type"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "year": {
                      "type": "string",
                      "description": "The year.",
                      "title": "Year"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "category": {
                      "type": "string",
                      "description": "The category.",
                      "title": "Category"
                    },
                    "lca_activity": {
                      "type": "string",
                      "description": "The life cycle assessment activity.",
                      "title": "LCA Activity"
                    },
                    "data_quality_flags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The data quality flags.",
                      "title": "Data Quality Flags"
                    }
                  },
                  "title": "Emission Factor"
                },
                "constituent_gases": {
                  "type": "object",
                  "properties": {
                    "co2e_total": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2e total.",
                      "title": "CO2e Total"
                    },
                    "co2e_other": {
                      "type": "number",
                      "format": "float",
                      "description": "The other CO2e.",
                      "title": "CO2e Other"
                    },
                    "co2": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2.",
                      "title": "CO2"
                    },
                    "ch4": {
                      "type": "number",
                      "format": "float",
                      "description": "The CH4.",
                      "title": "CH4"
                    },
                    "n2o": {
                      "type": "number",
                      "format": "float",
                      "description": "The N2O.",
                      "title": "N2O"
                    }
                  },
                  "title": "Constituent Gases"
                }
              }
            }
          }
        },
        "summary": "Calculate CPU emissions",
        "description": "Calculate total estimated emissions based on the usage for a set number of virtual CPU's (vCPUs).",
        "operationId": "ComputeCPU",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "x-ms-summary": "Provider",
            "x-ms-url-encoding": "single",
            "description": "The provider.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cpu_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The CPU count.",
                  "title": "CPU Count"
                },
                "region": {
                  "type": "string",
                  "description": "The region.",
                  "title": "Region"
                },
                "cpu_load": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The CPU load.",
                  "title": "CPU Load"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The duration.",
                  "title": "Duration"
                },
                "duration_unit": {
                  "type": "string",
                  "description": "The duration unit.",
                  "title": "Duration Unit"
                }
              },
              "required": [
                "cpu_count",
                "cpu_load",
                "duration",
                "region"
              ]
            }
          }
        ]
      }
    },
    "/compute/{provider}/storage": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "co2e": {
                  "type": "number",
                  "format": "float",
                  "description": "The CO2e.",
                  "title": "CO2e"
                },
                "co2e_unit": {
                  "type": "string",
                  "description": "The CO2e unit.",
                  "title": "CO2e Unit"
                },
                "co2e_calculation_method": {
                  "type": "string",
                  "description": "The CO2e calculation method.",
                  "title": "CO2e Calculation Method"
                },
                "co2e_calculation_origin": {
                  "type": "string",
                  "description": "The CO2e calculation origin.",
                  "title": "CO2e Calculation Origin"
                },
                "emission_factor": {
                  "type": "object",
                  "properties": {
                    "activity_id": {
                      "type": "string",
                      "description": "The activity identifier.",
                      "title": "Activity ID"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "The UUID.",
                      "title": "UUID"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "access_type": {
                      "type": "string",
                      "description": "The access type.",
                      "title": "Access Type"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "year": {
                      "type": "string",
                      "description": "The year.",
                      "title": "Year"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "category": {
                      "type": "string",
                      "description": "The category.",
                      "title": "Category"
                    },
                    "lca_activity": {
                      "type": "string",
                      "description": "The life cycle assessment activity.",
                      "title": "LCA Activity"
                    },
                    "data_quality_flags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The data quality flags.",
                      "title": "Data Quality Flags"
                    }
                  },
                  "title": "Emission Factor"
                },
                "constituent_gases": {
                  "type": "object",
                  "properties": {
                    "co2e_total": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2e total.",
                      "title": "CO2e Total"
                    },
                    "co2e_other": {
                      "type": "number",
                      "format": "float",
                      "description": "The other CO2e.",
                      "title": "CO2e Other"
                    },
                    "co2": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2.",
                      "title": "CO2"
                    },
                    "ch4": {
                      "type": "number",
                      "format": "float",
                      "description": "The CH4.",
                      "title": "CH4"
                    },
                    "n2o": {
                      "type": "number",
                      "format": "float",
                      "description": "The N2O.",
                      "title": "N2O"
                    }
                  },
                  "title": "Constituent Gases"
                }
              }
            }
          }
        },
        "summary": "Get storage emissions",
        "description": "Calculate total estimated emissions based on storing data for a set amount of time.",
        "operationId": "ComputeStorage",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "x-ms-summary": "Provider",
            "x-ms-url-encoding": "single",
            "description": "The provider.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "region": {
                  "type": "string",
                  "description": "The region.",
                  "title": "Region"
                },
                "storage_type": {
                  "type": "string",
                  "description": "The storage type.",
                  "title": "Storage Type",
                  "default": "ssd",
                  "enum": [
                    "ssd",
                    "hdd"
                  ]
                },
                "data": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The data.",
                  "title": "Data"
                },
                "data_unit": {
                  "type": "string",
                  "description": "The data unit.",
                  "title": "Data Unit"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The duration.",
                  "title": "Duration"
                },
                "duration_unit": {
                  "type": "string",
                  "description": "The duration unit.",
                  "title": "Duration Unit"
                }
              },
              "required": [
                "data",
                "duration",
                "region",
                "storage_type"
              ]
            }
          }
        ]
      }
    },
    "/compute/{provider}/memory": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "co2e": {
                  "type": "number",
                  "format": "float",
                  "description": "The CO2e.",
                  "title": "CO2e"
                },
                "co2e_unit": {
                  "type": "string",
                  "description": "The CO2e unit.",
                  "title": "CO2e Unit"
                },
                "co2e_calculation_method": {
                  "type": "string",
                  "description": "The CO2e calculation method.",
                  "title": "CO2e Calculation Method"
                },
                "co2e_calculation_origin": {
                  "type": "string",
                  "description": "The CO2e calculation origin.",
                  "title": "CO2e Calculation Origin"
                },
                "emission_factor": {
                  "type": "object",
                  "properties": {
                    "activity_id": {
                      "type": "string",
                      "description": "The activity identifier.",
                      "title": "Activity ID"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "The UUID.",
                      "title": "UUID"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "access_type": {
                      "type": "string",
                      "description": "The access type.",
                      "title": "Access Type"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "year": {
                      "type": "string",
                      "description": "The year.",
                      "title": "Year"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "category": {
                      "type": "string",
                      "description": "The category.",
                      "title": "Category"
                    },
                    "lca_activity": {
                      "type": "string",
                      "description": "The life cycle assessment activity.",
                      "title": "LCA Activity"
                    },
                    "data_quality_flags": {
                      "type": "array",
                      "items": {},
                      "description": "The data quality flags.",
                      "title": "Data Quality Flags"
                    }
                  },
                  "title": "Emission Factor"
                },
                "constituent_gases": {
                  "type": "object",
                  "properties": {
                    "co2e_total": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2e total.",
                      "title": "CO2e Total"
                    },
                    "co2e_other": {
                      "type": "number",
                      "format": "float",
                      "description": "The other CO2e.",
                      "title": "CO2e Other"
                    },
                    "co2": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2.",
                      "title": "CO2"
                    },
                    "ch4": {
                      "type": "number",
                      "format": "float",
                      "description": "The CH4.",
                      "title": "CH4"
                    },
                    "n2o": {
                      "type": "number",
                      "format": "float",
                      "description": "The N2O.",
                      "title": "N2O"
                    }
                  },
                  "title": "Constituent Gases"
                }
              }
            }
          }
        },
        "summary": "Get memory emissions",
        "description": "Calculate total estimated emissions based on having memory (RAM) available for a set amount of time.",
        "operationId": "ComputeMemory",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "x-ms-summary": "Provider",
            "x-ms-url-encoding": "single",
            "description": "The provider.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "region": {
                  "type": "string",
                  "description": "The region.",
                  "title": "Region"
                },
                "data": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The data.",
                  "title": "Data"
                },
                "data_unit": {
                  "type": "string",
                  "description": "The data unit.",
                  "title": "Data Unit"
                },
                "duration": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The duration.",
                  "title": "Duration"
                },
                "duration_unit": {
                  "type": "string",
                  "description": "The duration unit.",
                  "title": "Duration Unit"
                }
              },
              "required": [
                "data",
                "duration",
                "region"
              ]
            }
          }
        ]
      }
    },
    "/classifications/estimate": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "co2e": {
                  "type": "number",
                  "format": "float",
                  "description": "The CO2e.",
                  "title": "CO2e"
                },
                "co2e_unit": {
                  "type": "string",
                  "description": "The CO2e unit.",
                  "title": "CO2e Unit"
                },
                "co2e_calculation_method": {
                  "type": "string",
                  "description": "The CO2e calculation method.",
                  "title": "CO2e Calculation Method"
                },
                "co2e_calculation_origin": {
                  "type": "string",
                  "description": "The CO2e calculation origin.",
                  "title": "CO2e Calculation Origin"
                },
                "emission_factor": {
                  "type": "object",
                  "properties": {
                    "activity_id": {
                      "type": "string",
                      "description": "The activity identifier.",
                      "title": "Activity ID"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "The UUID.",
                      "title": "UUID"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "access_type": {
                      "type": "string",
                      "description": "The access type.",
                      "title": "Access Type"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "year": {
                      "type": "string",
                      "description": "The year.",
                      "title": "Year"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "category": {
                      "type": "string",
                      "description": "The category.",
                      "title": "Category"
                    },
                    "lca_activity": {
                      "type": "string",
                      "description": "The life cycle assessment activity.",
                      "title": "LCA Activity"
                    },
                    "data_quality_flags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The data quality flags.",
                      "title": "Data Quality Flags"
                    }
                  },
                  "title": "Emission Factor"
                },
                "constituent_gases": {
                  "type": "object",
                  "properties": {
                    "co2e_total": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2e total.",
                      "title": "CO2e Total"
                    },
                    "co2e_other": {
                      "type": "number",
                      "format": "float",
                      "description": "The other CO2e.",
                      "title": "CO2e Other"
                    },
                    "co2": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2.",
                      "title": "CO2"
                    },
                    "ch4": {
                      "type": "number",
                      "format": "float",
                      "description": "The CH4.",
                      "title": "CH4"
                    },
                    "n2o": {
                      "type": "number",
                      "format": "float",
                      "description": "The N2O.",
                      "title": "N2O"
                    }
                  },
                  "title": "Constituent Gases"
                }
              }
            }
          }
        },
        "summary": "Calculate emission based on classification",
        "description": "Calculate total estimated emissions produced for a particular activity, as described by an industry classification scheme such as ISIC or NACE.",
        "operationId": "Classification",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "classification": {
                  "type": "object",
                  "properties": {
                    "classification_type": {
                      "type": "string",
                      "description": "The classification type.",
                      "title": "Classification Type"
                    },
                    "classification_code": {
                      "type": "string",
                      "description": "The classification code.",
                      "title": "Classification Code"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "region_fallback": {
                      "type": "boolean",
                      "description": "Whether to use the fallback region.",
                      "title": "Region Fallback"
                    },
                    "year": {
                      "type": "string",
                      "description": "The year.",
                      "title": "Year"
                    },
                    "lca_activity": {
                      "type": "string",
                      "description": "The life cycle assessment activity.",
                      "title": "LCA Activity"
                    },
                    "calculation_method": {
                      "type": "string",
                      "description": "The calculation method.",
                      "title": "Calculation Method"
                    }
                  },
                  "title": "Classification"
                },
                "parameters": {
                  "type": "object",
                  "properties": {
                    "energy": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The energy amount.",
                      "title": "Energy"
                    },
                    "energy_unit": {
                      "type": "string",
                      "description": "The energy unit.",
                      "title": "Energy Unit"
                    },
                    "data": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The data amount.",
                      "title": "Data"
                    },
                    "data_unit": {
                      "type": "string",
                      "description": "The data unit.",
                      "title": "Data Unit"
                    },
                    "distance": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The distance amount.",
                      "title": "Distance"
                    },
                    "distance_unit": {
                      "type": "string",
                      "description": "The distance unit.",
                      "title": "Distance Unit"
                    },
                    "money": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The money amount.",
                      "title": "Money"
                    },
                    "money_unit": {
                      "type": "string",
                      "description": "The money unit.",
                      "title": "Money Unit"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number amount.",
                      "title": "Number"
                    },
                    "time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The title amount.",
                      "title": "Time"
                    },
                    "time_unit": {
                      "type": "string",
                      "description": "The time unit.",
                      "title": "Time Unit"
                    },
                    "passengers": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The passengers amount.",
                      "title": "Passengers"
                    },
                    "volume": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The volume amount.",
                      "title": "Volume"
                    },
                    "volume_unit": {
                      "type": "string",
                      "description": "The volume unit.",
                      "title": "Volume Unit"
                    },
                    "weight": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The weight amount.",
                      "title": "Weight"
                    },
                    "weight_unit": {
                      "type": "string",
                      "description": "The weight unit.",
                      "title": "Weight Unit"
                    }
                  },
                  "title": "Parameters"
                }
              }
            }
          }
        ]
      }
    },
    "/custom-activities/estimate": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "co2e": {
                  "type": "number",
                  "format": "float",
                  "description": "The CO2e.",
                  "title": "CO2e"
                },
                "co2e_unit": {
                  "type": "string",
                  "description": "The CO2e unit.",
                  "title": "CO2e Unit"
                },
                "co2e_calculation_method": {
                  "type": "string",
                  "description": "The CO2e calculation method.",
                  "title": "CO2e Calculation Method"
                },
                "co2e_calculation_origin": {
                  "type": "string",
                  "description": "The CO2e calculation origin.",
                  "title": "CO2e Calculation Origin"
                },
                "emission_factor": {
                  "type": "object",
                  "properties": {
                    "activity_id": {
                      "type": "string",
                      "description": "The activity identifier.",
                      "title": "Activity ID"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "The UUID.",
                      "title": "UUID"
                    },
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "access_type": {
                      "type": "string",
                      "description": "The access type.",
                      "title": "Access Type"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "year": {
                      "type": "string",
                      "description": "The year.",
                      "title": "Year"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "category": {
                      "type": "string",
                      "description": "The category.",
                      "title": "Category"
                    },
                    "lca_activity": {
                      "type": "string",
                      "description": "The life cycle assessment activity.",
                      "title": "LCA Activity"
                    },
                    "data_quality_flags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The data quality flags.",
                      "title": "Data Quality Flags"
                    }
                  },
                  "title": "Emission Factor"
                },
                "constituent_gases": {
                  "type": "object",
                  "properties": {
                    "co2e_total": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2e total.",
                      "title": "CO2e Total"
                    },
                    "co2e_other": {
                      "type": "number",
                      "format": "float",
                      "description": "The other CO2e.",
                      "title": "CO2e Other"
                    },
                    "co2": {
                      "type": "number",
                      "format": "float",
                      "description": "The CO2.",
                      "title": "CO2"
                    },
                    "ch4": {
                      "type": "number",
                      "format": "float",
                      "description": "The CH4.",
                      "title": "CH4"
                    },
                    "n2o": {
                      "type": "number",
                      "format": "float",
                      "description": "The N2O.",
                      "title": "N2O"
                    }
                  },
                  "title": "Constituent Gases"
                }
              }
            }
          }
        },
        "summary": "Calculate custom activity emissions",
        "description": "Calculate total estimated emissions produced for a particular activity in kgCO2e using a custom activity that you have defined under the Activity Mapping tab inside your Climatiq Dashboard.",
        "operationId": "Custom",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "custom_activity": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "The label.",
                      "title": "Label"
                    },
                    "source": {
                      "type": "string",
                      "description": "The source.",
                      "title": "Source"
                    },
                    "region": {
                      "type": "string",
                      "description": "The region.",
                      "title": "Region"
                    },
                    "region_fallback": {
                      "type": "boolean",
                      "description": "Whether to use the fallback region.",
                      "title": "Region Fallback"
                    },
                    "year": {
                      "type": "string",
                      "description": "The year.",
                      "title": "Year"
                    },
                    "lca_activity": {
                      "type": "string",
                      "description": "The life cycle assessment activity.",
                      "title": "LCA Activity"
                    },
                    "calculation_method": {
                      "type": "string",
                      "description": "The calculation method.",
                      "title": "Calculation Method"
                    }
                  },
                  "title": "Custom Activity",
                  "required": [
                    "label"
                  ]
                },
                "parameters": {
                  "type": "object",
                  "properties": {
                    "energy": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The energy amount.",
                      "title": "Energy"
                    },
                    "energy_unit": {
                      "type": "string",
                      "description": "The energy unit.",
                      "title": "Energy Unit"
                    },
                    "data": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The data amount.",
                      "title": "Data"
                    },
                    "data_unit": {
                      "type": "string",
                      "description": "The data unit.",
                      "title": "Data Unit"
                    },
                    "distance": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The distance amount.",
                      "title": "Distance"
                    },
                    "distance_unit": {
                      "type": "string",
                      "description": "The distance unit.",
                      "title": "Distance Unit"
                    },
                    "money": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The money amount.",
                      "title": "Money"
                    },
                    "money_unit": {
                      "type": "string",
                      "description": "The money unit.",
                      "title": "Money Unit"
                    },
                    "number": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number amount.",
                      "title": "Number"
                    },
                    "time": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The title amount.",
                      "title": "Time"
                    },
                    "time_unit": {
                      "type": "string",
                      "description": "The time unit.",
                      "title": "Time Unit"
                    },
                    "passengers": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The passengers amount.",
                      "title": "Passengers"
                    },
                    "volume": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The volume amount.",
                      "title": "Volume"
                    },
                    "volume_unit": {
                      "type": "string",
                      "description": "The volume unit.",
                      "title": "Volume Unit"
                    },
                    "weight": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The weight amount.",
                      "title": "Weight"
                    },
                    "weight_unit": {
                      "type": "string",
                      "description": "The weight unit.",
                      "title": "Weight Unit"
                    }
                  },
                  "title": "Parameters"
                }
              },
              "required": [
                "custom_activity"
              ]
            }
          }
        ]
      }
    },
    "/custom-activities/batch": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "co2e": {
                        "type": "number",
                        "format": "float",
                        "description": "The CO2e.",
                        "title": "CO2e"
                      },
                      "co2e_unit": {
                        "type": "string",
                        "description": "The CO2e unit.",
                        "title": "CO2e Unit"
                      },
                      "co2e_calculation_method": {
                        "type": "string",
                        "description": "The CO2e calculation method.",
                        "title": "CO2e Calculation Method"
                      },
                      "co2e_calculation_origin": {
                        "type": "string",
                        "description": "The CO2e calculation origin.",
                        "title": "CO2e Calculation Origin"
                      },
                      "emission_factor": {
                        "type": "object",
                        "properties": {
                          "activity_id": {
                            "type": "string",
                            "description": "The activity identifier.",
                            "title": "Activity ID"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "The UUID.",
                            "title": "UUID"
                          },
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "access_type": {
                            "type": "string",
                            "description": "The access type.",
                            "title": "Access Type"
                          },
                          "source": {
                            "type": "string",
                            "description": "The source.",
                            "title": "Source"
                          },
                          "year": {
                            "type": "string",
                            "description": "The year.",
                            "title": "Year"
                          },
                          "region": {
                            "type": "string",
                            "description": "The region.",
                            "title": "Region"
                          },
                          "category": {
                            "type": "string",
                            "description": "The category.",
                            "title": "Category"
                          },
                          "lca_activity": {
                            "type": "string",
                            "description": "The life cycle assessment activity.",
                            "title": "LCA Activity"
                          },
                          "data_quality_flags": {
                            "type": "array",
                            "items": {},
                            "description": "The data quality flags.",
                            "title": "Data Quality Flags"
                          }
                        },
                        "title": "Emission Factor"
                      },
                      "constituent_gases": {
                        "type": "object",
                        "properties": {
                          "co2e_total": {
                            "type": "number",
                            "format": "float",
                            "description": "The CO2e total.",
                            "title": "CO2e Total"
                          },
                          "co2e_other": {
                            "type": "number",
                            "format": "float",
                            "description": "The other CO2e.",
                            "title": "CO2e Other"
                          },
                          "co2": {
                            "type": "number",
                            "format": "float",
                            "description": "The CO2.",
                            "title": "CO2"
                          },
                          "ch4": {
                            "type": "number",
                            "format": "float",
                            "description": "The CH4.",
                            "title": "CH4"
                          },
                          "n2o": {
                            "type": "number",
                            "format": "float",
                            "description": "The N2O.",
                            "title": "N2O"
                          }
                        },
                        "title": "Constituent Gases"
                      }
                    }
                  },
                  "title": "Results"
                }
              }
            }
          }
        },
        "summary": "Batch custom activity estimations",
        "description": "Batch estimations for custom activities work like regular Batch Estimates, allowing you to calculate multiple emission estimations in a single request, all based on custom activities mapped in the Climatiq Dashboard. Currently limited to maximum 100 operations per request.",
        "operationId": "CustomBatch",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "custom_activity": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "The label.",
                        "title": "Label"
                      },
                      "source": {
                        "type": "string",
                        "description": "The source.",
                        "title": "Source"
                      },
                      "region": {
                        "type": "string",
                        "description": "The region.",
                        "title": "Region"
                      },
                      "region_fallback": {
                        "type": "boolean",
                        "description": "Whether to use region fallback.",
                        "title": "Region Fallback"
                      },
                      "year": {
                        "type": "string",
                        "description": "The year.",
                        "title": "Year"
                      },
                      "lca_activity": {
                        "type": "string",
                        "description": "The life cycle assessment activity.",
                        "title": "LCA Activity"
                      },
                      "calculation_method": {
                        "type": "string",
                        "description": "The calculation method.",
                        "title": "Calculation Method"
                      }
                    },
                    "title": "Custom Activity",
                    "required": [
                      "label"
                    ]
                  },
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "energy": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The energy amount.",
                        "title": "Energy"
                      },
                      "energy_unit": {
                        "type": "string",
                        "description": "The energy unit.",
                        "title": "Energy Unit"
                      },
                      "data": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The data amount.",
                        "title": "Data"
                      },
                      "data_unit": {
                        "type": "string",
                        "description": "The data unit.",
                        "title": "Data Unit"
                      },
                      "distance": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The distance amount.",
                        "title": "Distance"
                      },
                      "distance_unit": {
                        "type": "string",
                        "description": "The distance unit.",
                        "title": "Distance Unit"
                      },
                      "money": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The money amount.",
                        "title": "Money"
                      },
                      "money_unit": {
                        "type": "string",
                        "description": "The money unit.",
                        "title": "Money Unit"
                      },
                      "number": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number.",
                        "title": "Number"
                      },
                      "time": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The time amount.",
                        "title": "Time"
                      },
                      "time_unit": {
                        "type": "string",
                        "description": "The time unit.",
                        "title": "Time Unit"
                      },
                      "passengers": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The number of passengers.",
                        "title": "Passengers"
                      },
                      "volume": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The volume amount.",
                        "title": "Volume"
                      },
                      "volume_unit": {
                        "type": "string",
                        "description": "The volume unit.",
                        "title": "Volume Unit"
                      },
                      "weight": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The weight amount.",
                        "title": "Weight"
                      },
                      "weight_unit": {
                        "type": "string",
                        "description": "The weight unit.",
                        "title": "Weight Unit"
                      }
                    },
                    "title": "Parameters"
                  }
                },
                "required": [
                  "custom_activity"
                ]
              }
            }
          }
        ]
      }
    },
    "/search": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "current_page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The current page.",
                  "title": "Current Page"
                },
[...]
