{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Blackbaud SKY Add-ins",
    "description": "Use the SKY Add-ins connector to validate user identity tokens issued by the Blackbaud Host application.",
    "contact": {
      "name": "Blackbaud Support",
      "url": "https://www.blackbaud.com/support",
      "email": "skyapi@blackbaud.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.blackbaud.com/products/blackbaud-raisers-edge-nxt"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.blackbaud.com/privacy-shield"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "api.sky.blackbaud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "skyApiOAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth2.sky.blackbaud.com/authorization",
      "tokenUrl": "https://oauth2.sky.blackbaud.com/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "skyApiOAuth": []
    }
  ],
  "paths": {
    "/powerautomateui/v1/useridentitytoken/validate": {
      "post": {
        "operationId": "ValidateUserIdentityToken",
        "summary": "Validate a user identity token",
        "description": "Validates a user identity token.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PowerAutomateUIApi.ValidateUserIdentityTokenRequest"
            },
            "description": "An object that contains the user identity token to validate.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully validates the user identity token.",
            "schema": {
              "$ref": "#/definitions/PowerAutomateUIApi.ValidateUserIdentityTokenResponse"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "401": {
            "description": "Returned when the user identity token is invalid or has expired."
          }
        }
      }
    }
  },
  "definitions": {
    "PowerAutomateUIApi.ValidateUserIdentityTokenRequest": {
      "type": "object",
      "description": "The user identity token to validate",
      "required": [
        "uit",
        "application_id"
      ],
      "properties": {
        "uit": {
          "type": "string",
          "description": "The user identity token string.",
          "x-ms-summary": "User identity token"
        },
        "application_id": {
          "type": "string",
          "format": "uuid",
          "description": "The expected SKY application identifier to which the user identity token was issued.",
          "x-ms-summary": "Application ID"
        }
      }
    },
    "PowerAutomateUIApi.ValidateUserIdentityTokenResponse": {
      "type": "object",
      "description": "The user identity token details",
      "properties": {
        "user_id": {
          "type": "string",
          "description": "The Blackbaud user's identifier.",
          "x-ms-summary": "User ID"
        },
        "email": {
          "type": "string",
          "description": "The Blackbaud user's email address.",
          "x-ms-summary": "Email"
        },
        "family_name": {
          "type": "string",
          "description": "The Blackbaud user's last name.",
          "x-ms-summary": "Last name"
        },
        "given_name": {
          "type": "string",
          "description": "The Blackbaud user's first name.",
          "x-ms-summary": "First name"
        },
        "application_id": {
          "type": "string",
          "description": "The identifier of the SKY application to which the user identity token was issued.",
          "x-ms-summary": "SKY application ID"
        },
        "environment_id": {
          "type": "string",
          "description": "The current environment identifier.",
          "x-ms-summary": "Environment ID"
        }
      }
    }
  }
}