{
  "swagger": "2.0",
  "info": {
    "title": "Amazon S3 Bucket",
    "description": "Amazon S3 Bucket",
    "version": "1.0"
  },
  "host": "s3.amazonaws.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/aws/s3/{region}/{bucket}": {
      "get": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "ListBucketResult": {
                  "type": "object",
                  "properties": {
                    "Name": {
                      "type": "string",
                      "description": "Name"
                    },
                    "Prefix": {
                      "type": "string",
                      "description": "Prefix"
                    },
                    "Marker": {
                      "type": "string",
                      "description": "Marker"
                    },
                    "MaxKeys": {
                      "type": "string",
                      "description": "MaxKeys"
                    },
                    "IsTruncated": {
                      "type": "string",
                      "description": "IsTruncated"
                    },
                    "KeyCount": {
                      "type": "string",
                      "description": "KeyCount"
                    },
                    "ContinuationToken": {
                      "type": "string",
                      "description": "ContinuationToken"
                    },
                    "NextContinuationToken": {
                      "type": "string",
                      "description": "NextContinuationToken"
                    },
                    "StartAfter": {
                      "type": "string",
                      "description": "StartAfter"
                    },
                    "Contents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Key": {
                            "type": "string",
                            "description": "Key"
                          },
                          "LastModified": {
                            "type": "string",
                            "description": "LastModified"
                          },
                          "Size": {
                            "type": "string",
                            "description": "Size"
                          },
                          "Owner": {
                            "type": "object",
                            "properties": {
                              "ID": {
                                "type": "string",
                                "description": "ID"
                              },
                              "DisplayName": {
                                "type": "string",
                                "description": "DisplayName"
                              }
                            },
                            "description": "Owner"
                          },
                          "StorageClass": {
                            "type": "string",
                            "description": "StorageClass"
                          }
                        }
                      },
                      "description": "Contents"
                    }
                  },
                  "description": "ListBucketResult"
                }
              }
            }
          }
        },
        "tags": [
          "S3-Bucket"
        ],
        "summary": "List Objects",
        "description": "List Objects in S3 Bucket",
        "operationId": "list-objects-s3",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "",
            "description": "The region of the S3 bucket."
          },
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "",
            "description": "The name of the S3 bucket."
          },
          {
            "name": "bucketlist-type",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "2",
            "description": "The bucket list type."
          },
          {
            "name": "continuation-token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ContinuationToken indicates to Amazon S3 that the list is being continued on this bucket with a token. ContinuationToken is obfuscated and is not a real key."
          },
          {
            "name": "delimiter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A delimiter is a character that you use to group keys."
          },
          {
            "name": "prefix",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Limits the response to keys that begin with the specified prefix."
          },
          {
            "name": "encoding-type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Encoding type used by Amazon S3 to encode object keys in the response."
          },
          {
            "name": "fetch-owner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The owner field is not present in ListObjectsV2 by default. If you want to return the owner field with each key in the result, then set the FetchOwner field to true."
          },
          {
            "name": "max-keys",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "integer",
            "description": "Sets the maximum number of keys returned in the response. By default, the action returns up to 1,000 key names. The response might contain fewer keys but will never contain more."
          },
          {
            "name": "start-after",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "StartAfter is where you want Amazon S3 to start listing from. Amazon S3 starts listing after this specified key. StartAfter can be any key in the bucket."
          }
        ]
      }
    },
    "/aws/s3/{region}/{bucket}/{key}": {
      "delete": {
        "responses": {
          "204": {
            "description": "success",
            "schema": {}
          }
        },
        "tags": [
          "S3-Bucket"
        ],
        "summary": "Delete Object",
        "description": "Delete Object from S3 Bucket",
        "operationId": "delete-object-s3",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "",
            "description": "The region of the S3 bucket."
          },
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "",
            "description": "The name of the S3 bucket."
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The key of the object."
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {}
          }
        },
        "tags": [
          "S3-Bucket"
        ],
        "summary": "Get Object",
        "description": "Get Object from S3 Bucket",
        "operationId": "get-object-s3",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "",
            "description": "The region of the S3 bucket."
          },
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "",
            "description": "The name of the S3 bucket."
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "",
            "description": "The key of the object."
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "success",
            "schema": {}
          }
        },
        "tags": [
          "S3-Bucket"
        ],
        "summary": "Put Object",
        "description": "Put Object to S3 Bucket",
        "operationId": "put-object-s3",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "",
            "description": "The region of the S3 bucket."
          },
          {
            "name": "bucket",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "",
            "description": "The name of the S3 bucket."
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "type": "string",
            "default": "",
            "description": "The key of the object."
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic-auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic-auth": []
    }
  ],
  "tags": []
}
