{
  "swagger": "2.0",
  "info": {
    "title": "Azure Machine Learning",
    "description": "Azure Machine Learning REST CLI (v2)",
    "version": "1.0",
    "contact": {
      "name": "Microsoft",
      "url": "https://azure.microsoft.com/",
      "email": "amlassetsdev@microsoft.com"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints": {
      "get": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "List batch endpoints",
        "operationId": "BatchEndpointsList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "query",
            "name": "count",
            "description": "Number of endpoints to be retrieved in a page of results.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Count"
          },
          {
            "$ref": "#/parameters/PaginationParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchEndpointTrackedResourceArmPaginatedResult"
            }
          }
        },
        "x-ms-examples": {
          "List Batch Endpoint.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "api-version": "2022-05-01",
              "$skipToken": "string",
              "count": 1
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "value": [
                    {
                      "id": "string",
                      "name": "string",
                      "type": "string",
                      "properties": {
                        "description": "string",
                        "properties": {
                          "string": "string"
                        },
                        "scoringUri": "https://www.contoso.com/example",
                        "swaggerUri": "https://www.contoso.com/example",
                        "authMode": "AMLToken",
                        "defaults": {
                          "deploymentName": "string"
                        }
                      },
                      "systemData": {
                        "createdAt": "2020-01-01T12:34:56.999Z",
                        "createdBy": "string",
                        "createdByType": "User",
                        "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                        "lastModifiedBy": "string",
                        "lastModifiedByType": "User"
                      },
                      "tags": {
                      },
                      "location": "string",
                      "kind": "string",
                      "identity": {
                        "type": "SystemAssigned",
                        "principalId": "<Principal Id>",
                        "tenantId": "<Tenant Id>",
                        "userAssignedIdentities": {
                          "string": {
                            "principalId": "<Principal Id>",
                            "clientId": "<Client Id>"
                          }
                        }
                      },
                      "sku": {
                        "name": "string",
                        "tier": "Free",
                        "size": "string",
                        "family": "string",
                        "capacity": 1
                      }
                    }
                  ],
                  "nextLink": "string"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "List batch endpoints"
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups": {
      "get": {
        "tags": [
          "ResourceGroups"
        ],
        "summary": "List resource groups",
        "description": "Lists all the resource groups within the subscription. The results are paginated at 1,000+ records.",
        "operationId": "ListResourceGroups",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/TopParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGroupListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}": {
      "delete": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "Delete batch endpoints",
        "operationId": "BatchEndpointsDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "endpointName",
            "description": "Inference Endpoint name.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Endpoint name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "x-ms-async-operation-timeout": {
                "description": "Timeout for the client to use when polling the asynchronous operation.",
                "type": "string",
                "format": "duration"
              },
              "Location": {
                "description": "URI to poll for asynchronous operation result.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Duration the client should wait between requests, in seconds.",
                "type": "integer",
                "format": "int32",
                "maximum": 600,
                "minimum": 10
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-examples": {
          "Delete Batch Endpoint.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "resourceGroup-1234",
              "workspaceName": "testworkspace",
              "endpointName": "testBatchEndpoint",
              "api-version": "2022-05-01"
            },
            "responses": {
              "200": {
              },
              "202": {
              },
              "204": {
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Delete batch endpoints"
      },
      "get": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "Get batch endpoints",
        "operationId": "BatchEndpointsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "endpointName",
            "description": "Name for the Batch Endpoint.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Endpoint name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchEndpointTrackedResource"
            }
          }
        },
        "x-ms-examples": {
          "Get Batch Endpoint.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "endpointName": "testEndpointName",
              "api-version": "2022-05-01"
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "properties": {
                      "string": "string"
                    },
                    "scoringUri": "https://www.contoso.com/example",
                    "swaggerUri": "https://www.contoso.com/example",
                    "authMode": "AMLToken",
                    "defaults": {
                      "deploymentName": "string"
                    }
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  },
                  "tags": {
                  },
                  "location": "string",
                  "kind": "string",
                  "identity": {
                    "type": "SystemAssigned",
                    "principalId": "<Principal Id>",
                    "tenantId": "<Tenant Id>",
                    "userAssignedIdentities": {
                      "string": {
                        "principalId": "<Principal Id>",
                        "clientId": "<Client Id>"
                      }
                    }
                  },
                  "sku": {
                    "name": "string",
                    "tier": "Free",
                    "size": "string",
                    "family": "string",
                    "capacity": 1
                  }
                }
              }
            }
          }
        },
        "description": "Get batch endpoints"
      },
      "patch": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "Update batch endpoints",
        "operationId": "BatchEndpointsUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "endpointName",
            "description": "Name for the Batch inference endpoint.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$",
            "x-ms-summary": "Endpoint name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Mutable batch inference endpoint definition object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartialMinimalTrackedResourceWithIdentity"
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchEndpointTrackedResource"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "x-ms-async-operation-timeout": {
                "description": "Timeout for the client to use when polling the asynchronous operation.",
                "type": "string",
                "format": "duration"
              },
              "Location": {
                "description": "URI to poll for asynchronous operation result.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Duration the client should wait between requests, in seconds.",
                "type": "integer",
                "format": "int32",
                "maximum": 600,
                "minimum": 10
              }
            }
          }
        },
        "x-ms-examples": {
          "Update Batch Endpoint.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "endpointName": "testEndpointName",
              "api-version": "2022-05-01",
              "body": {
                "tags": {
                },
                "identity": {
                  "type": "SystemAssigned",
                  "userAssignedIdentities": {
                    "string": {
                    }
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "properties": {
                      "string": "string"
                    },
                    "scoringUri": "https://www.contoso.com/example",
                    "swaggerUri": "https://www.contoso.com/example",
                    "authMode": "AMLToken",
                    "defaults": {
                      "deploymentName": "string"
                    },
                    "provisioningState": "Creating"
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  },
                  "tags": {
                  },
                  "location": "string",
                  "kind": "string",
                  "identity": {
                    "type": "SystemAssigned",
                    "principalId": "<Principal Id>",
                    "tenantId": "<Tenant Id>",
                    "userAssignedIdentities": {
                      "string": {
                        "principalId": "<Principal Id>",
                        "clientId": "<Client Id>"
                      }
                    }
                  },
                  "sku": {
                    "name": "string",
                    "tier": "Free",
                    "size": "string",
                    "family": "string",
                    "capacity": 1
                  }
                }
              },
              "202": {
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Update batch endpoints"
      },
      "put": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "Create or update batch endpoints",
        "operationId": "BatchEndpointsCreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "endpointName",
            "description": "Name for the Batch inference endpoint.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$",
            "x-ms-summary": "Endpoint name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Batch inference endpoint definition object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchEndpointTrackedResource"
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchEndpointTrackedResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BatchEndpointTrackedResource"
            },
            "headers": {
              "x-ms-async-operation-timeout": {
                "description": "Timeout for the client to use when polling the asynchronous operation.",
                "type": "string",
                "format": "duration"
              },
              "Azure-AsyncOperation": {
                "description": "URI to poll for asynchronous operation status.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate Batch Endpoint.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "endpointName": "testEndpointName",
              "api-version": "2022-05-01",
              "body": {
                "properties": {
                  "description": "string",
                  "properties": {
                    "string": "string"
                  },
                  "authMode": "AMLToken",
                  "defaults": {
                    "deploymentName": "string"
                  }
                },
                "tags": {
                },
                "location": "string",
                "kind": "string",
                "identity": {
                  "type": "SystemAssigned",
                  "userAssignedIdentities": {
                    "string": {
                    }
                  }
                },
                "sku": {
                  "name": "string",
                  "tier": "Free",
                  "size": "string",
                  "family": "string",
                  "capacity": 1
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "properties": {
                      "string": "string"
                    },
                    "scoringUri": "https://www.contoso.com/example",
                    "swaggerUri": "https://www.contoso.com/example",
                    "authMode": "AMLToken",
                    "defaults": {
                      "deploymentName": "string"
                    },
                    "provisioningState": "Succeeded"
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  },
                  "tags": {
                  },
                  "location": "string",
                  "kind": "string",
                  "identity": {
                    "type": "SystemAssigned",
                    "principalId": "<Principal Id>",
                    "tenantId": "<Tenant Id>",
                    "userAssignedIdentities": {
                      "string": {
                        "principalId": "<Principal Id>",
                        "clientId": "<Client Id>"
                      }
                    }
                  },
                  "sku": {
                    "name": "string",
                    "tier": "Free",
                    "size": "string",
                    "family": "string",
                    "capacity": 1
                  }
                }
              },
              "201": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "properties": {
                      "string": "string"
                    },
                    "scoringUri": "https://www.contoso.com/example",
                    "swaggerUri": "https://www.contoso.com/example",
                    "authMode": "AMLToken",
                    "defaults": {
                      "deploymentName": "string"
                    },
                    "provisioningState": "Updating"
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  },
                  "tags": {
                  },
                  "location": "string",
                  "kind": "string",
                  "identity": {
                    "type": "SystemAssigned",
                    "principalId": "<Principal Id>",
                    "tenantId": "<Tenant Id>",
                    "userAssignedIdentities": {
                      "string": {
                        "principalId": "<Principal Id>",
                        "clientId": "<Client Id>"
                      }
                    }
                  },
                  "sku": {
                    "name": "string",
                    "tier": "Free",
                    "size": "string",
                    "family": "string",
                    "capacity": 1
                  }
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Create or update batch endpoints"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}/deployments": {
      "get": {
        "tags": [
          "BatchDeployment"
        ],
        "summary": "List batch deployments",
        "operationId": "BatchDeploymentsList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "endpointName",
            "description": "Endpoint name",
            "required": true,
            "type": "string",
            "x-ms-summary": "Endpoint name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "query",
            "name": "$orderBy",
            "description": "Ordering of list.",
            "type": "string",
            "x-ms-summary": "Order by"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Top of list.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top"
          },
          {
            "$ref": "#/parameters/PaginationParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeploymentTrackedResourceArmPaginatedResult"
            }
          }
        },
        "x-ms-examples": {
          "List Batch Deployment.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "endpointName": "testEndpointName",
              "api-version": "2022-05-01",
              "$orderBy": "string",
              "$top": 1,
              "$skipToken": "string"
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "value": [
                    {
                      "id": "string",
                      "name": "string",
                      "type": "string",
                      "properties": {
                        "description": "string",
                        "properties": {
                          "string": "string"
                        },
                        "codeConfiguration": {
                          "codeId": "string",
                          "scoringScript": "string"
                        },
                        "environmentId": "string",
                        "environmentVariables": {
                          "string": "string"
                        },
                        "compute": "string",
                        "errorThreshold": 1,
                        "retrySettings": {
                          "maxRetries": 1,
                          "timeout": "PT5M"
                        },
                        "miniBatchSize": 1,
                        "loggingLevel": "Info",
                        "model": {
                          "referenceType": "Id",
                          "assetId": "string"
                        },
                        "maxConcurrencyPerInstance": 1,
                        "outputAction": "SummaryOnly",
                        "outputFileName": "string",
                        "resources": {
                          "instanceCount": 1,
                          "instanceType": "string",
                          "properties": {
                            "string": {
                              "<Resource Id>": ""
                            }
                          }
                        },
                        "provisioningState": "Creating"
                      },
                      "systemData": {
                        "createdAt": "2020-01-01T12:34:56.999Z",
                        "createdBy": "string",
                        "createdByType": "User",
                        "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                        "lastModifiedBy": "string",
                        "lastModifiedByType": "User"
                      },
                      "tags": {
                      },
                      "location": "string",
                      "kind": "string",
                      "identity": {
                        "type": "SystemAssigned",
                        "principalId": "<Principal Id>",
                        "tenantId": "<Tenant Id>",
                        "userAssignedIdentities": {
                          "string": {
                            "principalId": "<Principal Id>",
                            "clientId": "<Client Id>"
                          }
                        }
                      },
                      "sku": {
                        "name": "string",
                        "tier": "Free",
                        "size": "string",
                        "family": "string",
                        "capacity": 1
                      }
                    }
                  ],
                  "nextLink": "string"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "List batch deployments"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}/deployments/{deploymentName}": {
      "delete": {
        "tags": [
          "BatchDeployment"
        ],
        "summary": "Delete batch deployments",
        "operationId": "BatchDeploymentsDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "endpointName",
            "description": "Endpoint name",
            "required": true,
            "type": "string",
            "x-ms-summary": "Endpoint name"
          },
          {
            "in": "path",
            "name": "deploymentName",
            "description": "Inference deployment identifier.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Deployment name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "x-ms-async-operation-timeout": {
                "description": "Timeout for the client to use when polling the asynchronous operation.",
                "type": "string",
                "format": "duration"
              },
              "Location": {
                "description": "URI to poll for asynchronous operation result.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Duration the client should wait between requests, in seconds.",
                "type": "integer",
                "format": "int32",
                "maximum": 600,
                "minimum": 10
              }
            }
          },
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-examples": {
          "Delete Batch Deployment.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "endpointName": "testEndpointName",
              "deploymentName": "testDeploymentName",
              "api-version": "2022-05-01"
            },
            "responses": {
              "200": {
              },
              "202": {
              },
              "204": {
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Delete batch deployments"
      },
      "get": {
        "tags": [
          "BatchDeployment"
        ],
        "summary": "Get batch deployments",
        "operationId": "BatchDeploymentsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "endpointName",
            "description": "Endpoint name",
            "required": true,
            "type": "string",
            "x-ms-summary": "Endpoint name"
          },
          {
            "in": "path",
            "name": "deploymentName",
            "description": "The identifier for the Batch deployments.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Deployment name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeploymentTrackedResource"
            }
          }
        },
        "x-ms-examples": {
          "Get Batch Deployment.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "endpointName": "testEndpointName",
              "deploymentName": "testDeploymentName",
              "api-version": "2022-05-01"
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "properties": {
                      "string": "string"
                    },
                    "codeConfiguration": {
                      "codeId": "string",
                      "scoringScript": "string"
                    },
                    "environmentId": "string",
                    "environmentVariables": {
                      "string": "string"
                    },
                    "compute": "string",
                    "errorThreshold": 1,
                    "retrySettings": {
                      "maxRetries": 1,
                      "timeout": "PT5M"
                    },
                    "miniBatchSize": 1,
                    "loggingLevel": "Info",
                    "model": {
                      "referenceType": "Id",
                      "assetId": "string"
                    },
                    "maxConcurrencyPerInstance": 1,
                    "outputAction": "SummaryOnly",
                    "outputFileName": "string",
                    "resources": {
                      "instanceCount": 1,
                      "instanceType": "string",
                      "properties": {
                        "string": {
                          "<Resource Id>": ""
                        }
                      }
                    },
                    "provisioningState": "Creating"
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  },
                  "tags": {
                  },
                  "location": "string",
                  "kind": "string",
                  "identity": {
                    "type": "SystemAssigned",
                    "principalId": "<Principal Id>",
                    "tenantId": "<Tenant Id>",
                    "userAssignedIdentities": {
                      "string": {
                        "principalId": "<Principal Id>",
                        "clientId": "<Client Id>"
                      }
                    }
                  },
                  "sku": {
                    "name": "string",
                    "tier": "Free",
                    "size": "string",
                    "family": "string",
                    "capacity": 1
                  }
                }
              }
            }
          }
        },
        "description": "Get batch deployments"
      },
      "patch": {
        "tags": [
          "BatchDeployment"
        ],
        "summary": "Update batch deployments",
        "operationId": "BatchDeploymentsUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "endpointName",
            "description": "Inference endpoint name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$",
            "x-ms-summary": "Endpoint name"
          },
          {
            "in": "path",
            "name": "deploymentName",
            "description": "The identifier for the Batch inference deployment.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$",
            "x-ms-summary": "Deployment name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Batch inference deployment definition object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartialBatchDeploymentPartialMinimalTrackedResourceWithProperties"
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeploymentTrackedResource"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "x-ms-async-operation-timeout": {
                "description": "Timeout for the client to use when polling the asynchronous operation.",
                "type": "string",
                "format": "duration"
              },
              "Location": {
                "description": "URI to poll for asynchronous operation result.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Duration the client should wait between requests, in seconds.",
                "type": "integer",
                "format": "int32",
                "maximum": 600,
                "minimum": 10
              }
            }
          }
        },
        "x-ms-examples": {
          "Update Batch Deployment.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "endpointName": "testEndpointName",
              "deploymentName": "testDeploymentName",
              "api-version": "2022-05-01",
              "body": {
                "properties": {
                  "description": "string"
                },
                "tags": {
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "properties": {
                      "string": "string"
                    },
                    "codeConfiguration": {
                      "codeId": "string",
                      "scoringScript": "string"
                    },
                    "environmentId": "string",
                    "environmentVariables": {
                      "string": "string"
                    },
                    "compute": "string",
                    "errorThreshold": 1,
                    "retrySettings": {
                      "maxRetries": 1,
                      "timeout": "PT5M"
                    },
                    "miniBatchSize": 1,
                    "loggingLevel": "Info",
                    "model": {
                      "referenceType": "Id",
                      "assetId": "string"
                    },
                    "maxConcurrencyPerInstance": 1,
                    "outputAction": "SummaryOnly",
                    "outputFileName": "string",
                    "resources": {
                      "instanceCount": 1,
                      "instanceType": "string",
                      "properties": {
                        "string": {
                          "<Resource Id>": ""
                        }
                      }
                    },
                    "provisioningState": "Creating"
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  },
                  "tags": {
                  },
                  "location": "string",
                  "kind": "string",
                  "identity": {
                    "type": "SystemAssigned",
                    "principalId": "<Principal Id>",
                    "tenantId": "<Tenant Id>",
                    "userAssignedIdentities": {
                      "string": {
                        "principalId": "<Principal Id>",
                        "clientId": "<Client Id>"
                      }
                    }
                  },
                  "sku": {
                    "name": "string",
                    "tier": "Free",
                    "size": "string",
                    "family": "string",
                    "capacity": 1
                  }
                }
              },
              "202": {
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Update batch deployments"
      },
      "put": {
        "tags": [
          "BatchDeployment"
        ],
        "summary": "Create or update batch deployments",
        "operationId": "BatchDeploymentsCreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "endpointName",
            "description": "Inference endpoint name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$",
            "x-ms-summary": "Endpoint name"
          },
          {
            "in": "path",
            "name": "deploymentName",
            "description": "The identifier for the Batch inference deployment.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$",
            "x-ms-summary": "Deployment name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Batch inference deployment definition object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchDeploymentTrackedResource"
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeploymentTrackedResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BatchDeploymentTrackedResource"
            },
            "headers": {
              "x-ms-async-operation-timeout": {
                "description": "Timeout for the client to use when polling the asynchronous operation.",
                "type": "string",
                "format": "duration"
              },
              "Azure-AsyncOperation": {
                "description": "URI to poll for asynchronous operation status.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate Batch Deployment.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "endpointName": "testEndpointName",
              "deploymentName": "testDeploymentName",
              "api-version": "2022-05-01",
              "body": {
                "properties": {
                  "description": "string",
                  "properties": {
                    "string": "string"
                  },
                  "codeConfiguration": {
                    "codeId": "string",
                    "scoringScript": "string"
                  },
                  "environmentId": "string",
                  "environmentVariables": {
                    "string": "string"
                  },
                  "compute": "string",
                  "errorThreshold": 1,
                  "retrySettings": {
                    "maxRetries": 1,
                    "timeout": "PT5M"
                  },
                  "miniBatchSize": 1,
                  "loggingLevel": "Info",
                  "model": {
                    "referenceType": "Id",
                    "assetId": "string"
                  },
                  "maxConcurrencyPerInstance": 1,
                  "outputAction": "SummaryOnly",
                  "outputFileName": "string",
                  "resources": {
                    "instanceCount": 1,
                    "instanceType": "string",
                    "properties": {
                      "string": {
                        "<Resource Id>": ""
                      }
                    }
                  }
                },
                "tags": {
                },
                "location": "string",
                "kind": "string",
                "identity": {
                  "type": "SystemAssigned",
                  "userAssignedIdentities": {
                    "string": {
                    }
                  }
                },
                "sku": {
                  "name": "string",
                  "tier": "Free",
                  "size": "string",
                  "family": "string",
                  "capacity": 1
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "properties": {
                      "string": "string"
                    },
                    "codeConfiguration": {
                      "codeId": "string",
                      "scoringScript": "string"
                    },
                    "environmentId": "string",
                    "environmentVariables": {
                      "string": "string"
                    },
                    "compute": "string",
                    "errorThreshold": 1,
                    "retrySettings": {
                      "maxRetries": 1,
                      "timeout": "PT5M"
                    },
                    "miniBatchSize": 1,
                    "loggingLevel": "Info",
                    "model": {
                      "referenceType": "Id",
                      "assetId": "string"
                    },
                    "maxConcurrencyPerInstance": 1,
                    "outputAction": "SummaryOnly",
                    "outputFileName": "string",
                    "resources": {
                      "instanceCount": 1,
                      "instanceType": "string",
                      "properties": {
                        "string": {
                          "<Resource Id>": ""
                        }
                      }
                    },
                    "provisioningState": "Creating"
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  },
                  "tags": {
                  },
                  "location": "string",
                  "kind": "string",
                  "identity": {
                    "type": "SystemAssigned",
                    "principalId": "<Principal Id>",
                    "tenantId": "<Tenant Id>",
                    "userAssignedIdentities": {
                      "string": {
                        "principalId": "<Principal Id>",
                        "clientId": "<Client Id>"
                      }
                    }
                  },
                  "sku": {
                    "name": "string",
                    "tier": "Free",
                    "size": "string",
                    "family": "string",
                    "capacity": 1
                  }
                }
              },
              "201": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "properties": {
                      "string": "string"
                    },
                    "codeConfiguration": {
                      "codeId": "string",
                      "scoringScript": "string"
                    },
                    "environmentId": "string",
                    "environmentVariables": {
                      "string": "string"
                    },
                    "compute": "string",
                    "errorThreshold": 1,
                    "retrySettings": {
                      "maxRetries": 1,
                      "timeout": "PT5M"
                    },
                    "miniBatchSize": 1,
                    "loggingLevel": "Info",
                    "model": {
                      "referenceType": "Id",
                      "assetId": "string"
                    },
                    "maxConcurrencyPerInstance": 1,
                    "outputAction": "SummaryOnly",
                    "outputFileName": "string",
                    "resources": {
                      "instanceCount": 1,
                      "instanceType": "string",
                      "properties": {
                        "string": {
                          "<Resource Id>": ""
                        }
                      }
                    },
                    "provisioningState": "Creating"
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  },
                  "tags": {
                  },
                  "location": "string",
                  "kind": "string",
                  "identity": {
                    "type": "SystemAssigned",
                    "principalId": "<Principal Id>",
                    "tenantId": "<Tenant Id>",
                    "userAssignedIdentities": {
                      "string": {
                        "principalId": "<Principal Id>",
                        "clientId": "<Client Id>"
                      }
                    }
                  },
                  "sku": {
                    "name": "string",
                    "tier": "Free",
                    "size": "string",
                    "family": "string",
                    "capacity": 1
                  }
                }
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "description": "Create or update batch deployments"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}/listkeys": {
      "post": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "List keys batch endpoints",
        "operationId": "BatchEndpointsListKeys",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "endpointName",
            "description": "Inference Endpoint name.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Endpoint name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/EndpointAuthKeys"
            }
          }
        },
        "x-ms-examples": {
          "ListKeys Batch Endpoint.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "endpointName": "testEndpointName",
              "api-version": "2022-05-01"
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "primaryKey": "string",
                  "secondaryKey": "string"
                }
              }
            }
          }
        },
        "description": "List keys batch endpoints"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/codes": {
      "get": {
        "tags": [
          "CodeContainer"
        ],
        "summary": "List code containers",
        "operationId": "CodeContainersList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PaginationParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeContainerResourceArmPaginatedResult"
            }
          }
        },
        "x-ms-examples": {
          "List Code Container.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "testrg123",
              "workspaceName": "testworkspace",
              "api-version": "2022-05-01",
              "$skipToken": "skiptoken"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/<Subscription Id>/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/testworkspace/codes/testContainer",
                      "name": "testContainer",
                      "type": "Microsoft.MachineLearningServices/workspaces/codes",
                      "properties": {
                        "description": "string",
                        "tags": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "systemData": {
                        "createdAt": "2020-08-01T12:00:00.000Z",
                        "createdBy": "John Smith",
                        "createdByType": "User",
                        "lastModifiedAt": "2020-08-01T12:00:00.000Z",
                        "lastModifiedBy": "John Smith",
                        "lastModifiedByType": "User"
                      }
                    },
                    {
                      "id": "/subscriptions/<Subscription Id>/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/testworkspace/codes/testContainer2",
                      "name": "testContainer2",
                      "type": "Microsoft.MachineLearningServices/workspaces/codes",
                      "properties": {
                        "description": "string",
                        "tags": {
                          "property1": "string",
                          "property2": "string"
                        }
                      },
                      "systemData": {
                        "createdAt": "2020-08-01T12:00:00.000Z",
                        "createdBy": "John Smith",
                        "createdByType": "User",
                        "lastModifiedAt": "2020-08-01T12:00:00.000Z",
                        "lastModifiedBy": "John Smith",
                        "lastModifiedByType": "User"
                      }
                    }
                  ],
                  "nextLink": "string"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "List code containers"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/codes/{name}": {
      "delete": {
        "tags": [
          "CodeContainer"
        ],
        "summary": "Delete code containers",
        "operationId": "CodeContainersDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Container name. This is case-sensitive.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-examples": {
          "Delete Code Container.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "testrg123",
              "workspaceName": "testworkspace",
              "api-version": "2022-05-01",
              "name": "testContainer"
            },
            "responses": {
              "200": {
              },
              "204": {
              }
            }
          }
        },
        "description": "Delete code containers"
      },
      "get": {
        "tags": [
          "CodeContainer"
        ],
        "summary": "Get code containers",
        "operationId": "CodeContainersGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Container name. This is case-sensitive.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeContainerResource"
            }
          }
        },
        "x-ms-examples": {
          "Get Code Container.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "testrg123",
              "workspaceName": "testworkspace",
              "api-version": "2022-05-01",
              "name": "testContainer"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/<Subscription Id>/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/testworkspace/codes/testContainer",
                  "name": "testContainer",
                  "type": "Microsoft.MachineLearningServices/workspaces/codes",
                  "properties": {
                    "description": "string",
                    "tags": {
                      "property1": "string",
                      "property2": "string"
                    }
                  },
                  "systemData": {
                    "createdAt": "2020-12-01T12:00:00.000Z",
                    "createdBy": "John Smith",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-08-01T12:00:00.000Z",
                    "lastModifiedBy": "John Smith",
                    "lastModifiedByType": "User"
                  }
                }
              }
            }
          }
        },
        "description": "Get code containers"
      },
      "put": {
        "tags": [
          "CodeContainer"
        ],
        "summary": "Create or update code containers",
        "operationId": "CodeContainersCreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Container name. This is case-sensitive.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$",
            "x-ms-summary": "Name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Container entity to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeContainerResource"
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeContainerResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CodeContainerResource"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate Code Container.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "testrg123",
              "workspaceName": "testworkspace",
              "api-version": "2022-05-01",
              "name": "testContainer",
              "body": {
                "properties": {
                  "description": "string",
                  "tags": {
                    "tag1": "value1",
                    "tag2": "value2"
                  }
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/<Subscription Id>/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/testworkspace/codes/testContainer",
                  "name": "testContainer",
                  "type": "Microsoft.MachineLearningServices/workspaces/codes",
                  "properties": {
                    "description": "string",
                    "tags": {
                      "property1": "string",
                      "property2": "string"
                    }
                  },
                  "systemData": {
                    "createdAt": "2020-12-01T12:00:00.000Z",
                    "createdBy": "John Smith",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-12-01T12:00:00.000Z",
                    "lastModifiedBy": "John Smith",
                    "lastModifiedByType": "User"
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/<Subscription Id>/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/testworkspace/codes/testContainer",
                  "name": "testContainer",
                  "type": "Microsoft.MachineLearningServices/workspaces/codes",
                  "properties": {
                    "description": "string",
                    "tags": {
                      "property1": "string",
                      "property2": "string"
                    }
                  },
                  "systemData": {
                    "createdAt": "2020-12-01T12:00:00.000Z",
                    "createdBy": "John Smith",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-12-01T12:00:00.000Z",
                    "lastModifiedBy": "John Smith",
                    "lastModifiedByType": "User"
                  }
                }
              }
            }
          }
        },
        "description": "Create or update code containers"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/codes/{name}/versions": {
      "get": {
        "tags": [
          "CodeVersion"
        ],
        "summary": "List code versions",
        "operationId": "CodeVersionsList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Container name. This is case-sensitive.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "query",
            "name": "$orderBy",
            "description": "Ordering of list.",
            "type": "string",
            "x-ms-summary": "Order by"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Maximum number of records to return.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top"
          },
          {
            "$ref": "#/parameters/PaginationParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeVersionResourceArmPaginatedResult"
            }
          }
        },
        "x-ms-examples": {
          "List Code Version.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "name": "string",
              "api-version": "2022-05-01",
              "$orderBy": "string",
              "$top": 1,
              "$skipToken": "string"
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "value": [
                    {
                      "id": "string",
                      "name": "string",
                      "type": "string",
                      "properties": {
                        "description": "string",
                        "tags": {
                          "string": "string"
                        },
                        "properties": {
                          "string": "string"
                        },
                        "isAnonymous": false,
                        "codeUri": "https://blobStorage/folderName"
                      },
                      "systemData": {
                        "createdAt": "2020-01-01T12:34:56.999Z",
                        "createdBy": "string",
                        "createdByType": "User",
                        "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                        "lastModifiedBy": "string",
                        "lastModifiedByType": "User"
                      }
                    }
                  ],
                  "nextLink": "string"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "List code versions"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/codes/{name}/versions/{version}": {
      "delete": {
        "tags": [
          "CodeVersion"
        ],
        "summary": "Delete code versions",
        "operationId": "CodeVersionsDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Container name. This is case-sensitive.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "in": "path",
            "name": "version",
            "description": "Version identifier. This is case-sensitive.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Version"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-examples": {
          "Delete Code Version.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "name": "string",
              "version": "string",
              "api-version": "2022-05-01"
            },
            "responses": {
              "200": {
              },
              "204": {
              }
            }
          }
        },
        "description": "Delete code versions"
      },
      "get": {
        "tags": [
          "CodeVersion"
        ],
        "summary": "Get code versions",
        "operationId": "CodeVersionsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Container name. This is case-sensitive.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "in": "path",
            "name": "version",
            "description": "Version identifier. This is case-sensitive.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Version"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeVersionResource"
            }
          }
        },
        "x-ms-examples": {
          "Get Code Version.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "name": "string",
              "version": "string",
              "api-version": "2022-05-01"
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "tags": {
                      "string": "string"
                    },
                    "properties": {
                      "string": "string"
                    },
                    "isAnonymous": false,
                    "codeUri": "https://blobStorage/folderName"
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  }
                }
              }
            }
          }
        },
        "description": "Get code versions"
      },
      "put": {
        "tags": [
          "CodeVersion"
        ],
        "summary": "Create or update code versions",
        "operationId": "CodeVersionsCreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Container name. This is case-sensitive.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$",
            "x-ms-summary": "Name"
          },
          {
            "in": "path",
            "name": "version",
            "description": "Version identifier. This is case-sensitive.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Version"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Version entity to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeVersionResource"
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeVersionResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CodeVersionResource"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate Code Version.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "name": "string",
              "version": "string",
              "api-version": "2022-05-01",
              "body": {
                "properties": {
                  "description": "string",
                  "tags": {
                    "string": "string"
                  },
                  "properties": {
                    "string": "string"
                  },
                  "isAnonymous": false,
                  "codeUri": "https://blobStorage/folderName"
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "tags": {
                      "string": "string"
                    },
                    "properties": {
                      "string": "string"
                    },
                    "isAnonymous": false,
                    "codeUri": "https://blobStorage/folderName"
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  }
                }
              },
              "201": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "tags": {
                      "string": "string"
                    },
                    "properties": {
                      "string": "string"
                    },
                    "isAnonymous": false,
                    "codeUri": "https://blobStorage/folderName"
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  }
                }
              }
            }
          }
        },
        "description": "Create or update code versions"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/components": {
      "get": {
        "tags": [
          "ComponentContainer"
        ],
        "summary": "List component containers",
        "operationId": "ComponentContainersList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/PaginationParameter"
          },
          {
            "in": "query",
            "name": "listViewType",
            "description": "View type for including/excluding (for example) archived entities.",
            "type": "string",
            "default": "ActiveOnly",
            "enum": [
              "ActiveOnly",
              "ArchivedOnly",
              "All"
            ],
            "x-ms-enum": {
              "name": "ListViewType",
              "modelAsString": true,
              "values": [
                {
                  "value": "ActiveOnly"
                },
                {
                  "value": "ArchivedOnly"
                },
                {
                  "value": "All"
                }
              ]
            },
            "x-ms-summary": "List view type"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComponentContainerResourceArmPaginatedResult"
            }
          }
        },
        "x-ms-examples": {
          "List Component Container.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "api-version": "2022-05-01",
              "$skipToken": "string"
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "value": [
                    {
                      "id": "string",
                      "name": "string",
                      "type": "string",
                      "properties": {
                        "description": "string",
                        "tags": {
                          "string": "string"
                        },
                        "properties": {
                          "string": "string"
                        }
                      },
                      "systemData": {
                        "createdAt": "2020-01-01T12:34:56.999Z",
                        "createdBy": "string",
                        "createdByType": "User",
                        "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                        "lastModifiedBy": "string",
                        "lastModifiedByType": "User"
                      }
                    }
                  ],
                  "nextLink": "string"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "List component containers"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/components/{name}": {
      "delete": {
        "tags": [
          "ComponentContainer"
        ],
        "summary": "Delete component containers",
        "operationId": "ComponentContainersDelete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Container name.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-examples": {
          "Delete Component Container.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "name": "string",
              "api-version": "2022-05-01"
            },
            "responses": {
              "200": {
              },
              "204": {
              }
            }
          }
        },
        "description": "Delete component containers"
      },
      "get": {
        "tags": [
          "ComponentContainer"
        ],
        "summary": "Get component containers",
        "operationId": "ComponentContainersGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Container name.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComponentContainerResource"
            }
          }
        },
        "x-ms-examples": {
          "Get Component Container.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "name": "string",
              "api-version": "2022-05-01"
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "tags": {
                      "string": "string"
                    },
                    "properties": {
                      "string": "string"
                    }
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  }
                }
              }
            }
          }
        },
        "description": "Get component containers"
      },
      "put": {
        "tags": [
          "ComponentContainer"
        ],
        "summary": "Create or update component containers",
        "operationId": "ComponentContainersCreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Container name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]{0,254}$",
            "x-ms-summary": "Name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Container entity to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ComponentContainerResource"
            },
            "x-ms-summary": "Body"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComponentContainerResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ComponentContainerResource"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate Component Container.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "name": "string",
              "api-version": "2022-05-01",
              "body": {
                "properties": {
                  "description": "string",
                  "tags": {
                    "string": "string"
                  },
                  "properties": {
                    "string": "string"
                  }
                }
              }
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "tags": {
                      "string": "string"
                    },
                    "properties": {
                      "string": "string"
                    }
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  }
                }
              },
              "201": {
                "headers": {
                },
                "body": {
                  "id": "string",
                  "name": "string",
                  "type": "string",
                  "properties": {
                    "description": "string",
                    "tags": {
                      "string": "string"
                    },
                    "properties": {
                      "string": "string"
                    }
                  },
                  "systemData": {
                    "createdAt": "2020-01-01T12:34:56.999Z",
                    "createdBy": "string",
                    "createdByType": "User",
                    "lastModifiedAt": "2020-01-01T12:34:56.999Z",
                    "lastModifiedBy": "string",
                    "lastModifiedByType": "User"
                  }
                }
              }
            }
          }
        },
        "description": "Create or update component containers"
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List subscriptions",
        "description": "Gets a list of all the subscriptions to which the principal has access.",
        "operationId": "ListSubscriptions",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "internal"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/components/{name}/versions": {
      "get": {
        "tags": [
          "ComponentVersion"
        ],
        "summary": "List component versions",
        "operationId": "ComponentVersionsList",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "in": "path",
            "name": "name",
            "description": "Component name.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Name"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "query",
            "name": "$orderBy",
            "description": "Ordering of list.",
            "type": "string",
            "x-ms-summary": "Order by"
          },
          {
            "in": "query",
            "name": "$top",
            "description": "Maximum number of records to return.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Top"
          },
          {
            "$ref": "#/parameters/PaginationParameter"
          },
          {
            "in": "query",
            "name": "listViewType",
            "description": "View type for including/excluding (for example) archived entities.",
            "type": "string",
            "default": "ActiveOnly",
            "enum": [
              "ActiveOnly",
              "ArchivedOnly",
              "All"
            ],
            "x-ms-enum": {
              "name": "ListViewType",
              "modelAsString": true,
              "values": [
                {
                  "value": "ActiveOnly"
                },
                {
                  "value": "ArchivedOnly"
                },
                {
                  "value": "All"
                }
              ]
            },
            "x-ms-summary": "List view type"
          }
        ],
        "responses": {
          "default": {
            "description": "Error"
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ComponentVersionResourceArmPaginatedResult"
            }
          }
        },
        "x-ms-examples": {
          "List Component Version.": {
            "parameters": {
              "subscriptionId": "<Subscription Id>",
              "resourceGroupName": "test-rg",
              "workspaceName": "my-aml-workspace",
              "name": "string",
              "api-version": "2022-05-01",
              "$orderBy": "string",
              "$top": 1,
              "$skipToken": "string"
            },
            "responses": {
              "200": {
                "headers": {
                },
                "body": {
                  "value": [
                    {
                      "id": "string",
                      "name": "string",
                      "type": "string",
                      "properties": {
                        "description": "string",
                        "tags": {
                          "string": "string"
                        },
                        "properties": {
                          "string": "string"
                        },
                        "isAnonymous": false,
                        "componentSpec": {
                          "<Component Id>": ""
                        }
                      },
[...]
