{
    "swagger": "2.0",
    "info": {
        "title": "Holopin",
        "description": "Holopins are digital badges, but actually cool. Earn verifiable digital badges for skills, achievements, and all the amazing things you do. Build collections and create your own badge board.",
        "version": "1.1",
        "contact": {
            "name": "Troy Taylor",
            "email": "troy@troystaylor.com"
        }
    },
    "host": "www.holopin.io",
    "basePath": "/api/",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/sticker/share": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "The message.",
                                    "title": "Message",
                                    "x-ms-summary": "Message"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "The coupon identifier.",
                                            "title": "Coupon ID",
                                            "x-ms-summary": "Coupon ID"
                                        },
                                        "stickerId": {
                                            "type": "string",
                                            "description": "The sticker identifier.",
                                            "title": "Sticker ID",
                                            "x-ms-summary": "Sticker ID"
                                        },
                                        "metadata": {
                                            "type": "string",
                                            "description": "The metadata.",
                                            "title": "Metadata",
                                            "x-ms-summary": "Metadata"
                                        }
                                    },
                                    "title": "Data",
                                    "description": "The data."
                                }
                            }
                        }
                    }
                },
                "summary": "Issue a badge",
                "description": "Issue a regular (static) badge and retrieve the coupon identifier for the badge.",
                "operationId": "IssueBadge",
                "x-ms-summary": "Issue a Badge",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "x-ms-summary": "Sticker ID",
                        "description": "The sticker identifier.",
                        "required": true,
                        "type": "string",
                        "x-ms-visibility": "important"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "description": "The recipient's email address. If provided, the recipient will receive an email with a link to claim the badge.",
                                    "title": "Email",
                                    "x-ms-summary": "Email"
                                },
                                "metadata": {
                                    "type": "string",
                                    "description": "Optional metadata for the coupon.",
                                    "title": "Metadata",
                                    "x-ms-summary": "Metadata"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/holobyte": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "The holobyte identifier.",
                                    "title": "Holobyte ID",
                                    "x-ms-summary": "Holobyte ID"
                                },
                                "evolvingStickerId": {
                                    "type": "string",
                                    "description": "The evolving sticker identifier.",
                                    "title": "Evolving Sticker ID",
                                    "x-ms-summary": "Evolving Sticker ID"
                                },
                                "metadata": {
                                    "type": "string",
                                    "description": "The metadata.",
                                    "title": "Metadata",
                                    "x-ms-summary": "Metadata"
                                }
                            }
                        }
                    }
                },
                "summary": "Issue a holobyte",
                "description": "Issue a unique holobyte (progress point) for an evolving badge or as a standalone reward.",
                "operationId": "IssueHolobyte",
                "x-ms-summary": "Issue a Holobyte",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "x-ms-summary": "Evolving Sticker ID",
                        "description": "The evolving sticker identifier. Omit this parameter to issue a standalone holobyte.",
                        "required": false,
                        "type": "string",
                        "x-ms-visibility": "advanced"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "username": {
                                    "type": "string",
                                    "description": "Holopin username of the recipient.",
                                    "title": "Username",
                                    "x-ms-summary": "Username"
                                },
                                "toGithubId": {
                                    "type": "string",
                                    "description": "GitHub ID of the recipient.",
                                    "title": "GitHub ID",
                                    "x-ms-summary": "GitHub ID"
                                },
                                "toDiscordId": {
                                    "type": "string",
                                    "description": "Discord ID of the recipient.",
                                    "title": "Discord ID",
                                    "x-ms-summary": "Discord ID"
                                },
                                "icon": {
                                    "type": "string",
                                    "description": "Icon for the holobyte. Available options: lemon, cherry, coffee, starfruit, avocado. Defaults to lemon.",
                                    "title": "Icon",
                                    "x-ms-summary": "Icon",
                                    "enum": [
                                        "lemon",
                                        "cherry",
                                        "coffee",
                                        "starfruit",
                                        "avocado"
                                    ],
                                    "default": "lemon"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "What the holobyte was issued for.",
                                    "title": "Description",
                                    "x-ms-summary": "Description"
                                },
                                "url": {
                                    "type": "string",
                                    "description": "URL reference of where the holobyte was earned.",
                                    "title": "URL",
                                    "x-ms-summary": "URL"
                                },
                                "urlAlias": {
                                    "type": "string",
                                    "description": "Alternative name for the URL reference.",
                                    "title": "URL Alias",
                                    "x-ms-summary": "URL Alias"
                                },
                                "fromAlias": {
                                    "type": "string",
                                    "description": "A specific person's or team's name who you want to appear as the issuer.",
                                    "title": "From Alias",
                                    "x-ms-summary": "From Alias"
                                },
                                "fromAliasUrl": {
                                    "type": "string",
                                    "description": "A URL reference for the issuer.",
                                    "title": "From Alias URL",
                                    "x-ms-summary": "From Alias URL"
                                },
                                "metadata": {
                                    "type": "string",
                                    "description": "Optional metadata for the holobyte.",
                                    "title": "Metadata",
                                    "x-ms-summary": "Metadata"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/multiholobyte": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "The multi-holobyte identifier.",
                                    "title": "Multi-Holobyte ID",
                                    "x-ms-summary": "Multi-Holobyte ID"
                                },
                                "slug": {
                                    "type": "string",
                                    "description": "The unique slug for the multi-claim URL.",
                                    "title": "Slug",
                                    "x-ms-summary": "Slug"
                                },
                                "evolvingStickerId": {
                                    "type": "string",
                                    "description": "The evolving sticker identifier.",
                                    "title": "Evolving Sticker ID",
                                    "x-ms-summary": "Evolving Sticker ID"
                                },
                                "metadata": {
                                    "type": "string",
                                    "description": "The metadata.",
                                    "title": "Metadata",
                                    "x-ms-summary": "Metadata"
                                }
                            }
                        }
                    }
                },
                "summary": "Issue a multi-claim holobyte",
                "description": "Issue a holobyte via multi-claim URL for marketing campaigns, Easter eggs, and special occasions.",
                "operationId": "IssueMultiHolobyte",
                "x-ms-summary": "Issue a Multi-Claim Holobyte",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "x-ms-summary": "Evolving Sticker ID",
                        "description": "The evolving sticker identifier. Omit this parameter to issue a standalone holobyte.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "icon": {
                                    "type": "string",
                                    "description": "Icon for the holobyte. Available options: lemon, cherry, coffee, starfruit, avocado. Defaults to lemon.",
                                    "title": "Icon",
                                    "x-ms-summary": "Icon",
                                    "enum": [
                                        "lemon",
                                        "cherry",
                                        "coffee",
                                        "starfruit",
                                        "avocado"
                                    ],
                                    "default": "lemon"
                                },
                                "description": {
                                    "type": "string",
                                    "description": "What the holobyte was issued for.",
                                    "title": "Description",
                                    "x-ms-summary": "Description"
                                },
                                "url": {
                                    "type": "string",
                                    "description": "URL reference of where the holobyte was earned.",
                                    "title": "URL",
                                    "x-ms-summary": "URL"
                                },
                                "urlAlias": {
                                    "type": "string",
                                    "description": "Alternative name for the URL reference.",
                                    "title": "URL Alias",
                                    "x-ms-summary": "URL Alias"
                                },
                                "fromAlias": {
                                    "type": "string",
                                    "description": "A specific person's or team's name who you want to appear as the issuer.",
                                    "title": "From Alias",
                                    "x-ms-summary": "From Alias"
                                },
                                "fromAliasUrl": {
                                    "type": "string",
                                    "description": "A URL reference for the issuer.",
                                    "title": "From Alias URL",
                                    "x-ms-summary": "From Alias URL"
                                },
                                "slug": {
                                    "type": "string",
                                    "description": "A unique identifier for the multi-claim URL.",
                                    "title": "Slug",
                                    "x-ms-summary": "Slug"
                                },
                                "metadata": {
                                    "type": "string",
                                    "description": "Optional metadata for the holobyte.",
                                    "title": "Metadata",
                                    "x-ms-summary": "Metadata"
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/beta/coupon": {
            "post": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "The message.",
                                    "title": "Message",
                                    "x-ms-summary": "Message"
                                },
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "coupon": {
                                            "type": "string",
                                            "description": "The coupon identifier.",
                                            "title": "Coupon ID",
                                            "x-ms-summary": "Coupon ID"
                                        },
                                        "sticker": {
                                            "type": "string",
                                            "description": "The sticker identifier.",
                                            "title": "Sticker ID",
                                            "x-ms-summary": "Sticker ID"
                                        },
                                        "claimUrl": {
                                            "type": "string",
                                            "description": "The claim URL for the badge.",
                                            "title": "Claim URL",
                                            "x-ms-summary": "Claim URL"
                                        },
                                        "emailed": {
                                            "type": "boolean",
                                            "description": "Whether an email was sent to the user.",
                                            "title": "Emailed",
                                            "x-ms-summary": "Emailed"
                                        },
                                        "metadata": {
                                            "type": "string",
                                            "description": "The metadata.",
                                            "title": "Metadata",
                                            "x-ms-summary": "Metadata"
                                        }
                                    },
                                    "title": "Data",
                                    "description": "The data."
                                }
                            }
                        }
                    }
                },
                "summary": "Issue badge with custom image (Beta)",
                "description": "Issue a badge with a custom image per recipient. This is an experimental beta feature.",
                "operationId": "IssueBadgeCustomImage",
                "x-ms-summary": "Issue Badge with Custom Image",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "x-ms-summary": "Sticker ID",
                        "description": "The sticker identifier.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "description": "The recipient's email address. If provided, the recipient will receive an email with a link to claim the badge.",
                                    "title": "Email",
                                    "x-ms-summary": "Email"
                                },
                                "image": {
                                    "type": "string",
                                    "description": "The PNG image to be used for the badge. Data can be a URL or a base64 encoded image (mime:image/png data:string format).",
                                    "title": "Image",
                                    "x-ms-summary": "Image"
                                },
                                "metadata": {
                                    "type": "string",
                                    "description": "Optional metadata for the coupon.",
                                    "title": "Metadata",
                                    "x-ms-summary": "Metadata"
                                }
                            }
                        }
                    }
                ]
            },
            "get": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "createdAt": {
                                    "type": "string",
                                    "description": "When the coupon was created.",
                                    "title": "Created At",
                                    "x-ms-summary": "Created At"
                                },
                                "claimedAt": {
                                    "type": "string",
                                    "description": "When the coupon was claimed by the user.",
                                    "title": "Claimed At",
                                    "x-ms-summary": "Claimed At"
                                },
                                "claimed": {
                                    "type": "boolean",
                                    "description": "Whether the coupon has been claimed.",
                                    "title": "Claimed",
                                    "x-ms-summary": "Claimed"
                                },
                                "username": {
                                    "type": "string",
                                    "description": "The Holopin username.",
                                    "title": "Username",
                                    "x-ms-summary": "Username"
                                },
                                "email": {
                                    "type": "string",
                                    "description": "The email address if the badge was sent via email.",
                                    "title": "Email",
                                    "x-ms-summary": "Email"
                                },
                                "url": {
                                    "type": "string",
                                    "description": "The user's claimed badge URL.",
                                    "title": "URL",
                                    "x-ms-summary": "URL"
                                }
                            }
                        }
                    }
                },
                "summary": "Get coupon status (Beta)",
                "description": "Check whether a badge coupon has been claimed by a recipient. This is an experimental beta feature.",
                "operationId": "GetCouponStatus",
                "x-ms-summary": "Get Coupon Status",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "x-ms-summary": "Coupon ID",
                        "description": "The coupon identifier.",
                        "required": true,
                        "type": "string"
                    }
                ]
            }
        },
        "/sticker/users": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "description": "The message.",
                                    "title": "Message",
                                    "x-ms-summary": "Message"
                                },
                                "totalCount": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Total number of users who claimed the badge.",
                                    "title": "Total Count",
                                    "x-ms-summary": "Total Count"
                                },
                                "count": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Number of users returned in this request.",
                                    "title": "Count",
                                    "x-ms-summary": "Count"
                                },
                                "page": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The page number of the returned results.",
                                    "title": "Page",
                                    "x-ms-summary": "Page"
                                },
                                "data": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "description": "The user's badge identifier.",
                                                "title": "Badge ID",
                                                "x-ms-summary": "Badge ID"
                                            },
                                            "url": {
                                                "type": "string",
                                                "description": "The URL of the user's badge.",
                                                "title": "Badge URL",
                                                "x-ms-summary": "Badge URL"
                                            },
                                            "username": {
                                                "type": "string",
                                                "description": "The user's username.",
                                                "title": "Username",
                                                "x-ms-summary": "Username"
                                            },
                                            "profileUrl": {
                                                "type": "string",
                                                "description": "The URL of the user's profile.",
                                                "title": "Profile URL",
                                                "x-ms-summary": "Profile URL"
                                            },
                                            "profileImageUrl": {
                                                "type": "string",
                                                "description": "The URL of the user's profile image.",
                                                "title": "Profile Image URL",
                                                "x-ms-summary": "Profile Image URL"
                                            },
                                            "websiteUrl": {
                                                "type": "string",
                                                "description": "The user's website URL.",
                                                "title": "Website URL",
                                                "x-ms-summary": "Website URL"
                                            },
                                            "githubUrl": {
                                                "type": "string",
                                                "description": "The user's GitHub URL.",
                                                "title": "GitHub URL",
                                                "x-ms-summary": "GitHub URL"
                                            },
                                            "twitterUrl": {
                                                "type": "string",
                                                "description": "The user's Twitter URL.",
                                                "title": "Twitter URL",
                                                "x-ms-summary": "Twitter URL"
                                            },
                                            "createdAt": {
                                                "type": "string",
                                                "description": "The date the user claimed the badge.",
                                                "title": "Created At",
                                                "x-ms-summary": "Created At"
                                            }
                                        }
                                    },
                                    "title": "Recipients",
                                    "description": "An array of user objects."
                                }
                            }
                        }
                    }
                },
                "summary": "Get badge recipients",
                "description": "Retrieve the profiles of users who claimed a specific badge. Results are paginated with 72 users per page.",
                "operationId": "GetBadgeRecipients",
                "x-ms-summary": "Get Badge Recipients",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "stickerId",
                        "in": "query",
                        "x-ms-summary": "Sticker ID",
                        "description": "The sticker identifier.",
                        "required": true,
                        "type": "string",
                        "x-ms-visibility": "important"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "x-ms-summary": "Page",
                        "description": "The page number. Defaults to 0. Maximum of 72 results per page.",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "x-ms-visibility": "advanced"
                    }
                ]
            }
        },
        "/stickers": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "count": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "The count of stickers.",
                                            "title": "Count",
                                            "x-ms-summary": "Count"
                                        },
                                        "stickers": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "description": "The sticker identifier.",
                                                        "title": "Sticker ID",
                                                        "x-ms-summary": "Sticker ID"
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "description": "The sticker name.",
                                                        "title": "Name",
                                                        "x-ms-summary": "Name"
                                                    },
                                                    "description": {
                                                        "type": "string",
                                                        "description": "The sticker description.",
                                                        "title": "Description",
                                                        "x-ms-summary": "Description"
                                                    },
                                                    "notes": {
                                                        "type": "string",
                                                        "description": "The sticker notes.",
                                                        "title": "Notes",
                                                        "x-ms-summary": "Notes"
                                                    },
                                                    "image": {
                                                        "type": "string",
                                                        "description": "The sticker image URL.",
                                                        "title": "Image",
                                                        "x-ms-summary": "Image"
                                                    },
                                                    "organization": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string",
                                                                "description": "The organization name.",
                                                                "title": "Name",
                                                                "x-ms-summary": "Name"
                                                            },
                                                            "username": {
                                                                "type": "string",
                                                                "description": "The organization username.",
                                                                "title": "Username",
                                                                "x-ms-summary": "Username"
                                                            },
                                                            "image": {
                                                                "type": "string",
                                                                "description": "The organization image URL.",
                                                                "title": "Image",
                                                                "x-ms-summary": "Image"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "description": "The organization description.",
                                                                "title": "Description",
                                                                "x-ms-summary": "Description"
                                                            }
                                                        },
                                                        "title": "Organization",
                                                        "description": "The organization details."
                                                    },
                                                    "UserSticker": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string",
                                                                    "description": "The user sticker identifier.",
                                                                    "title": "User Sticker ID",
                                                                    "x-ms-summary": "User Sticker ID"
                                                                },
                                                                "image": {
                                                                    "type": "string",
                                                                    "description": "The user sticker image URL.",
                                                                    "title": "Image",
                                                                    "x-ms-summary": "Image"
                                                                }
                                                            }
                                                        },
                                                        "title": "User Stickers",
                                                        "description": "The user stickers."
                                                    }
                                                }
                                            },
                                            "title": "Stickers",
                                            "description": "The stickers."
                                        }
                                    },
                                    "title": "Data",
                                    "description": "The data."
                                }
                            }
                        }
                    }
                },
                "summary": "Get user's badges",
                "description": "Retrieve a list of all the badges issued to a user by their username.",
                "operationId": "GetUserBadges",
                "x-ms-summary": "Get User's Badges",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "x-ms-summary": "Username",
                        "description": "The Holopin username.",
                        "required": true,
                        "type": "string",
                        "x-ms-visibility": "important"
                    }
                ]
            }
        },
        "/user/board": {
            "get": {
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "$content-type": {
                                    "type": "string",
                                    "description": "The content type.",
                                    "title": "Content Type",
                                    "x-ms-summary": "Content Type"
                                },
                                "$content": {
                                    "type": "string",
                                    "description": "The file content.",
                                    "title": "Content",
                                    "x-ms-summary": "Content"
                                }
                            }
                        }
                    }
                },
                "summary": "Get user's board",
                "description": "Retrieve the full board image for a user by their username.",
                "operationId": "GetUserBoard",
                "x-ms-summary": "Get User's Board",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "user",
                        "in": "query",
                        "x-ms-summary": "Username",
                        "description": "The Holopin username.",
                        "required": true,
                        "type": "string",
                        "x-ms-visibility": "important"
                    }
                ]
            }
        }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
        "API Key": {
            "type": "apiKey",
            "in": "query",
            "name": "apiKey"
        }
    },
    "security": [
        {
            "API Key": []
        }
    ],
    "tags": [],
    "x-ms-connector-metadata": [
        {
            "propertyName": "Website",
            "propertyValue": "https://www.holopin.io/"
        },
        {
            "propertyName": "Privacy policy",
            "propertyValue": "https://www.holopin.io/privacy.html"
        },
        {
            "propertyName": "Categories",
            "propertyValue": "Social Media;Lifestyle and Entertainment"
        }
    ]
}
