{
  "swagger": "2.0",
  "info": {
    "title": "Holopin",
    "description": "Holopins are digital badges, but actually cool. Earn verifiable digital badges for skills, achievements, and all the amazing things you do. Build collections and create your own badge board.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "www.holopin.io",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/sticker/share": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message.",
                  "title": "Message"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "stickerId": {
                      "type": "string",
                      "description": "The sticker identifier.",
                      "title": "Sticker ID"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Issue a sticker",
        "description": "Issue a sticker and retrieve the identifier for the sticker.",
        "operationId": "IssuePost",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "The identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "The email address.",
                  "title": "Email"
                }
              },
              "required": [
                "email"
              ]
            }
          }
        ]
      }
    },
    "/stickers": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The count.",
                      "title": "Count"
                    },
                    "stickers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The identifier.",
                            "title": "ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name.",
                            "title": "Name"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description.",
                            "title": "Description"
                          },
                          "notes": {
                            "type": "string",
                            "description": "The notes.",
                            "title": "Notes"
                          },
                          "image": {
                            "type": "string",
                            "description": "The image.",
                            "title": "Image"
                          },
                          "organization": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "The name.",
                                "title": "Name"
                              },
                              "username": {
                                "type": "string",
                                "description": "The username.",
                                "title": "Username"
                              },
                              "image": {
                                "type": "string",
                                "description": "The image.",
                                "title": "Image"
                              },
                              "description": {
                                "type": "string",
                                "description": "The description.",
                                "title": "Description"
                              }
                            },
                            "title": "Organization"
                          },
                          "UserSticker": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "The identifier.",
                                  "title": "ID"
                                },
                                "image": {
                                  "type": "string",
                                  "description": "The image.",
                                  "title": "Image"
                                }
                              }
                            },
                            "title": "UserSticker"
                          }
                        }
                      },
                      "title": "Stickers"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get a user's stickers",
        "description": "Retrieve a list of all the stickers issued to a user.",
        "operationId": "UserStickerGet",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "x-ms-summary": "Username",
            "description": "The username.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/user/board": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "$content-type": {
                  "type": "string",
                  "description": "The content type.",
                  "title": "Content Type"
                },
                "$content": {
                  "type": "string",
                  "description": "The file content.",
                  "title": "Content"
                }
              }
            }
          }
        },
        "summary": "Get a user's board",
        "description": "Retrieve the full board image for a user.",
        "operationId": "UserBoardGet",
        "parameters": [
          {
            "name": "user",
            "in": "query",
            "x-ms-summary": "Username",
            "description": "The username.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "apiKey"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.holopin.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.holopin.io/privacy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media;Lifestyle and Entertainment"
    }
  ]
}