{
  "swagger": "2.0",
  "info": {
    "title": "HubSpot Marketing",
    "description": "This connector is used to retrieve and make changes to HubSpot Marketing. HubSpot Marketing helps you attract the right audience, convert more visitors into customers, and run complete inbound marketing campaigns at scale.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/marketing/v3/forms/": {
      "get": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "summary": "List Forms (Preview)",
        "description": "Returns a list of forms based on the search filters. By default, it returns the first 20 hubspot forms.",
        "operationId": "FormsList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 20,
            "description": "The maximum number of results to return.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "limit",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Whether to return only results that have been archived.",
            "x-ms-visibility": "advanced",
            "enum": [
              false,
              true
            ],
            "x-ms-summary": "Whether to return only results that have been archived.",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "summary": "Create a form (Preview)",
        "description": "Add a new HubSpot form.",
        "operationId": "FormsCreate",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "formType": {
                  "title": "Form Type",
                  "type": "string",
                  "description": "The form types to be included in the results.",
                  "default": "hubspot"
                },
                "name": {
                  "title": "Name",
                  "type": "string",
                  "description": "The name of the form"
                },
                "createdAt": {
                  "title": "Created at",
                  "type": "string",
                  "description": "The date/time the form is created"
                },
                "updatedAt": {
                  "title": "Updated at",
                  "type": "string",
                  "description": "The date/time the form is updated."
                },
                "archived": {
                  "title": "Archived",
                  "type": "boolean",
                  "description": "Whether to include archived forms.",
                  "enum": [
                    false,
                    true
                  ],
                  "default": false
                },
                "archivedAt": {
                  "title": "Archived at",
                  "type": "string",
                  "description": "The date/time the form is archived."
                },
                "fieldGroups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "groupType": {
                        "title": "Group type",
                        "type": "string",
                        "description": "The type of group."
                      },
                      "richTextType": {
                        "title": "Rich text type",
                        "type": "string",
                        "description": "The type of rich text."
                      },
                      "richText": {
                        "title": "Rich text",
                        "type": "string",
                        "description": "The rich text of the form."
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "fieldType": {
                              "title": "Field type",
                              "type": "string",
                              "description": "The type of field."
                            },
                            "objectTypeId": {
                              "title": "Object type ID",
                              "type": "string",
                              "description": "The ID of the object type."
                            },
                            "name": {
                              "title": "Name",
                              "type": "string",
                              "description": "The name of the object."
                            },
                            "label": {
                              "title": "Label",
                              "type": "string",
                              "description": "The label of the object."
                            },
                            "description": {
                              "title": "Description",
                              "type": "string",
                              "description": "The description of the object."
                            },
                            "required": {
                              "title": "Required",
                              "type": "boolean",
                              "description": "Whether the object is required."
                            },
                            "hidden": {
                              "title": "Hidden",
                              "type": "boolean",
                              "description": "Whether the object is hidden."
                            },
                            "dependentFields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "dependentCondition": {
                                    "type": "object",
                                    "properties": {
                                      "operator": {
                                        "title": "Operator",
                                        "type": "string",
                                        "description": "The object operator."
                                      },
                                      "value": {
                                        "title": "Value",
                                        "type": "string",
                                        "description": "The value of the object."
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "title": "Items",
                                          "type": "string"
                                        },
                                        "description": "The values of the array."
                                      },
                                      "rangeStart": {
                                        "title": "Range start",
                                        "type": "string",
                                        "description": "The start range of the objects."
                                      },
                                      "rangeEnd": {
                                        "title": "Range end",
                                        "type": "string",
                                        "description": "The end range of the objects."
                                      }
                                    },
                                    "description": "The dependent condition."
                                  }
                                }
                              },
                              "description": "The dependent fields."
                            },
                            "placeholder": {
                              "title": "Placeholder",
                              "type": "string",
                              "description": "The placeholder value."
                            },
                            "defaultValue": {
                              "title": "Default value",
                              "type": "string",
                              "description": "The default value."
                            },
                            "validation": {
                              "type": "object",
                              "properties": {
                                "blockedEmailDomains": {
                                  "type": "array",
                                  "items": {
                                    "title": "Items",
                                    "type": "string"
                                  },
                                  "description": "The email domains that will be blocked."
                                },
                                "useDefaultBlockList": {
                                  "title": "Use default block list",
                                  "type": "boolean",
                                  "description": "Whether to use HubSpot's default blocklist."
                                },
                                "minAllowedDigits": {
                                  "title": "Minimum allowed digits",
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The minimum allowed digits."
                                },
                                "maxAllowedDigits": {
                                  "title": "Max allowed digits",
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The maximum allowed digits."
                                }
                              },
                              "description": "The object validation."
                            },
                            "useCountryCodeSelect": {
                              "title": "Use country code select",
                              "type": "boolean",
                              "description": "Whether to use the country code selected."
                            },
                            "defaultValues": {
                              "type": "array",
                              "items": {
                                "title": "Items",
                                "type": "string"
                              },
                              "description": "The default values of the object."
                            },
                            "options": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "title": "Label",
                                    "type": "string",
                                    "description": "The label of the object."
                                  },
                                  "value": {
                                    "title": "Value",
                                    "type": "string",
                                    "description": "The value of the object."
                                  },
                                  "description": {
                                    "title": "Description",
                                    "type": "string",
                                    "description": "The description of the object."
                                  },
                                  "displayOrder": {
                                    "title": "Display order",
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The display order of the items."
                                  }
                                }
                              },
                              "description": "The options of the object."
                            },
                            "allowMultipleFiles": {
                              "title": "Allow multiple files",
                              "type": "boolean",
                              "description": "Whether to allow multiple files."
                            }
                          }
                        },
                        "description": "The form fields included in the group."
                      }
                    }
                  },
                  "description": "The field groups of the object."
                },
                "configuration": {
                  "type": "object",
                  "properties": {
                    "language": {
                      "title": "Language",
                      "type": "string",
                      "description": "The configuration language."
                    },
                    "cloneable": {
                      "title": "Cloneable",
                      "type": "boolean",
                      "description": "Whether the configuration is cloneable."
                    },
                    "postSubmitAction": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string",
                          "description": "The property type."
                        },
                        "value": {
                          "title": "Value",
                          "type": "string",
                          "description": "The value of the object."
                        }
                      },
                      "description": "The post-submit action."
                    },
                    "editable": {
                      "title": "Editable",
                      "type": "boolean",
                      "description": "Whether the object is editable."
                    },
                    "archivable": {
                      "title": "Archivable",
                      "type": "boolean",
                      "description": "Whether the object is archivable."
                    },
                    "recaptchaEnabled": {
                      "title": "Recaptcha enabled",
                      "type": "boolean",
                      "description": "Whether the Recaptcha is enabled."
                    },
                    "notifyContactOwner": {
                      "title": "Notify contact owner",
                      "type": "boolean",
                      "description": "Whether to notify the contact owner."
                    },
                    "notifyRecipients": {
                      "type": "array",
                      "items": {
                        "title": "Items",
                        "type": "string"
                      },
                      "description": "Recipients that will be notified."
                    },
                    "createNewContactForNewEmail": {
                      "title": "Create new contact for new email",
                      "type": "boolean",
                      "description": "Whether to create a new contact for new email."
                    },
                    "prePopulateKnownValues": {
                      "title": "Pre-populate known values",
                      "type": "boolean",
                      "description": "Whether to pre-populate with known values."
                    },
                    "allowLinkToResetKnownValues": {
                      "title": "Allow link to reset known values",
                      "type": "boolean",
                      "description": "Whether to allow link to reset known values."
                    }
                  },
                  "description": "The configuration of the object."
                },
                "displayOptions": {
                  "type": "object",
                  "properties": {
                    "renderRawHtml": {
                      "title": "Render raw HTML",
                      "type": "boolean",
                      "description": "Whether to render raw HTML."
                    },
                    "theme": {
                      "title": "Theme",
                      "type": "string",
                      "description": "The theme of the object."
                    },
                    "submitButtonText": {
                      "title": "Submit button text",
                      "type": "string",
                      "description": "The submit button text value."
                    },
                    "style": {
                      "type": "object",
                      "properties": {
                        "fontFamily": {
                          "title": "Font family",
                          "type": "string",
                          "description": "The style font family."
                        },
                        "backgroundWidth": {
                          "title": "Background width",
                          "type": "string",
                          "description": "The style background width."
                        },
                        "labelTextColor": {
                          "title": "Label text color",
                          "type": "string",
                          "description": "The style label text color."
                        },
                        "labelTextSize": {
                          "title": "Label text size",
                          "type": "string",
                          "description": "The style label text size."
                        },
                        "helpTextColor": {
                          "title": "Help text color",
                          "type": "string",
                          "description": "The style help text color."
                        },
                        "helpTextSize": {
                          "title": "Help text size",
                          "type": "string",
                          "description": "The style help text size."
                        },
                        "legalConsentTextColor": {
                          "title": "Legal consent text color",
                          "type": "string",
                          "description": "The style legal consent text color."
                        },
                        "legalConsentTextSize": {
                          "title": "Legal consent text size",
                          "type": "string",
                          "description": "The style legal consent text size."
                        },
                        "submitColor": {
                          "title": "Submit color",
                          "type": "string",
                          "description": "The style submit color."
                        },
                        "submitAlignment": {
                          "title": "Submit alignment",
                          "type": "string",
                          "description": "The style submit alignment."
                        },
                        "submitFontColor": {
                          "title": "Submit font color",
                          "type": "string",
                          "description": "The style submit font color."
                        },
                        "submitSize": {
                          "title": "Submit size",
                          "type": "string",
                          "description": "The style submit size."
                        }
                      },
                      "description": "The style of the object."
                    },
                    "cssClass": {
                      "title": "CSS class",
                      "type": "string",
                      "description": "The CSS class."
                    }
                  },
                  "description": "The display options."
                }
              }
            }
          }
        ]
      }
    },
    "/marketing/v3/forms/{formId}": {
      "get": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "summary": "Get a form (Preview)",
        "description": "Returns a form based on the form ID provided.",
        "operationId": "FormsRead",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The formId of the form",
            "x-ms-visibility": "important",
            "x-ms-summary": "formId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Whether to return only results that have been archived.",
            "x-ms-visibility": "advanced",
            "enum": [
              false,
              true
            ],
            "x-ms-summary": "archived",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "operationId": "FormsArchive",
        "summary": "Delete a form (Preview)",
        "description": "Archive a form definition. New submissions will not be accepted and the form definition will be permanently deleted after 3 months.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Form ID",
            "x-ms-summary": "formId",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "operationId": "FormsUpdate",
        "summary": "Update a form (Preview)",
        "description": "Update all fields of a HubSpot form definition.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Form ID",
            "x-ms-summary": "formId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "formType": {
                  "title": "Form Type",
                  "type": "string",
                  "description": "The form types to be included in the results.",
                  "default": "hubspot"
                },
                "id": {
                  "title": "ID",
                  "type": "string",
                  "description": "The ID value."
                },
                "name": {
                  "title": "Name",
                  "type": "string",
                  "description": "The name of the object."
                },
                "createdAt": {
                  "title": "Created at",
                  "type": "string",
                  "description": "The date/time the form is created",
                  "format": "date-time"
                },
                "updatedAt": {
                  "title": "Updated at",
                  "type": "string",
                  "description": "The date/time the form is updated.",
                  "format": "date-time"
                },
                "archived": {
                  "type": "boolean",
                  "description": "Whether to include archived forms.",
                  "title": "",
                  "enum": [
                    false,
                    true
                  ],
                  "default": false
                },
                "archivedAt": {
                  "title": "Archived at",
                  "type": "string",
                  "description": "The date/time the form is archived."
                },
                "fieldGroups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "groupType": {
                        "title": "Group type",
                        "type": "string",
                        "description": "The type of group."
                      },
                      "richTextType": {
                        "title": "Rich text type",
                        "type": "string",
                        "description": "The type of rich text."
                      },
                      "richText": {
                        "title": "Rich text",
                        "type": "string",
                        "description": "The rich text of the form."
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "fieldType": {
                              "title": "Field type",
                              "type": "string",
                              "description": "The type of field."
                            },
                            "objectTypeId": {
                              "title": "Object type ID",
                              "type": "string",
                              "description": "The ID of the object type."
                            },
                            "name": {
                              "title": "Name",
                              "type": "string",
                              "description": "The name of the object."
                            },
                            "label": {
                              "title": "Label",
                              "type": "string",
                              "description": "The label of the object."
                            },
                            "description": {
                              "title": "Description",
                              "type": "string",
                              "description": "The description of the object."
                            },
                            "required": {
                              "title": "Required",
                              "type": "boolean",
                              "description": "Whether the object is required."
                            },
                            "hidden": {
                              "title": "Hidden",
                              "type": "boolean",
                              "description": "Whether the object is hidden."
                            },
                            "dependentFields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "dependentCondition": {
                                    "type": "object",
                                    "properties": {
                                      "operator": {
                                        "title": "Operator",
                                        "type": "string",
                                        "description": "The object operator."
                                      },
                                      "value": {
                                        "title": "Value",
                                        "type": "string",
                                        "description": "The value of the object."
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "title": "Items",
                                          "type": "string"
                                        },
                                        "description": "The values of the array."
                                      },
                                      "rangeStart": {
                                        "title": "Range start",
                                        "type": "string",
                                        "description": "The start range of the objects."
                                      },
                                      "rangeEnd": {
                                        "title": "Range end",
                                        "type": "string",
                                        "description": "The end range of the objects."
                                      }
                                    },
                                    "description": "The dependent condition."
                                  }
                                }
                              },
                              "description": "The dependent fields."
                            },
                            "placeholder": {
                              "title": "Placeholder",
                              "type": "string",
                              "description": "The placeholder value."
                            },
                            "defaultValue": {
                              "title": "Default value",
                              "type": "string",
                              "description": "The default value."
                            },
                            "validation": {
                              "type": "object",
                              "properties": {
                                "blockedEmailDomains": {
                                  "type": "array",
                                  "items": {
                                    "title": "Items",
                                    "type": "string"
                                  },
                                  "description": "The email domains that will be blocked."
                                },
                                "useDefaultBlockList": {
                                  "title": "Use default block list",
                                  "type": "boolean",
                                  "description": "Whether to use HubSpot's default blocklist."
                                },
                                "minAllowedDigits": {
                                  "title": "Minimum allowed digits",
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The minimum allowed digits."
                                },
                                "maxAllowedDigits": {
                                  "title": "Max allowed digits",
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "The maximum allowed digits."
                                }
                              },
                              "description": "The object validation."
                            },
                            "useCountryCodeSelect": {
                              "title": "Use country code select",
                              "type": "boolean",
                              "description": "Whether to use the country code selected."
                            },
                            "defaultValues": {
                              "type": "array",
                              "items": {
                                "title": "Items",
                                "type": "string"
                              },
                              "description": "The default values of the object."
                            },
                            "options": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "title": "Label",
                                    "type": "string",
                                    "description": "The label of the object."
                                  },
                                  "value": {
                                    "title": "Value",
                                    "type": "string",
                                    "description": "The value of the object."
                                  },
                                  "description": {
                                    "title": "Description",
                                    "type": "string",
                                    "description": "The description of the object."
                                  },
                                  "displayOrder": {
                                    "title": "Display order",
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "The display order of the items."
                                  }
                                }
                              },
                              "description": "The options of the object."
                            },
                            "allowMultipleFiles": {
                              "title": "Allow multiple files",
                              "type": "boolean",
                              "description": "Whether to allow multiple files."
                            }
                          }
                        },
                        "description": "The form fields included in the group."
                      }
                    }
                  },
                  "description": "The field groups of the object."
                },
                "configuration": {
                  "type": "object",
                  "properties": {
                    "language": {
                      "title": "Language",
                      "type": "string",
                      "description": "The configuration language."
                    },
                    "cloneable": {
                      "title": "Cloneable",
                      "type": "boolean",
                      "description": "Whether the configuration is cloneable."
                    },
                    "postSubmitAction": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string",
                          "description": "The property type."
                        },
                        "value": {
                          "title": "Value",
                          "type": "string",
                          "description": "The value of the object."
                        }
                      },
                      "description": "The post-submit action."
                    },
                    "editable": {
                      "title": "Editable",
                      "type": "boolean",
                      "description": "Whether the object is editable."
                    },
                    "archivable": {
                      "title": "Archivable",
                      "type": "boolean",
                      "description": "Whether the object is archivable."
                    },
                    "recaptchaEnabled": {
                      "title": "Recaptcha enabled",
                      "type": "boolean",
                      "description": "Whether the Recaptcha is enabled."
                    },
                    "notifyContactOwner": {
                      "title": "Notify contact owner",
                      "type": "boolean",
                      "description": "Whether to notify the contact owner."
                    },
                    "notifyRecipients": {
                      "type": "array",
                      "items": {
                        "title": "Items",
                        "type": "string"
                      },
                      "description": "Recipients that will be notified."
                    },
                    "createNewContactForNewEmail": {
                      "title": "Create new contact for new email",
                      "type": "boolean",
                      "description": "Whether to create a new contact for new email."
                    },
                    "prePopulateKnownValues": {
                      "title": "Pre-populate known values",
                      "type": "boolean",
                      "description": "Whether to pre-populate with known values."
                    },
                    "allowLinkToResetKnownValues": {
                      "title": "Allow link to reset known values",
                      "type": "boolean",
                      "description": "Whether to allow link to reset known values."
                    }
                  },
                  "description": "The configuration of the object."
                },
                "displayOptions": {
                  "type": "object",
                  "properties": {
                    "renderRawHtml": {
                      "title": "Render raw HTML",
                      "type": "boolean",
                      "description": "Whether to render raw HTML."
                    },
                    "theme": {
                      "title": "Theme",
                      "type": "string",
                      "description": "The theme of the object."
                    },
                    "submitButtonText": {
                      "title": "Submit button text",
                      "type": "string",
                      "description": "The submit button text value."
                    },
                    "style": {
                      "type": "object",
                      "properties": {
                        "fontFamily": {
                          "title": "Font family",
                          "type": "string",
                          "description": "The style font family."
                        },
                        "backgroundWidth": {
                          "title": "Background width",
                          "type": "string",
                          "description": "The style background width."
                        },
                        "labelTextColor": {
                          "title": "Label text color",
                          "type": "string",
                          "description": "The style label text color."
                        },
                        "labelTextSize": {
                          "title": "Label text size",
                          "type": "string",
                          "description": "The style label text size."
                        },
                        "helpTextColor": {
                          "title": "Help text color",
                          "type": "string",
                          "description": "The style help text color."
                        },
                        "helpTextSize": {
                          "title": "Help text size",
                          "type": "string",
                          "description": "The style help text size."
                        },
                        "legalConsentTextColor": {
                          "title": "Legal consent text color",
                          "type": "string",
                          "description": "The style legal consent text color."
                        },
                        "legalConsentTextSize": {
                          "title": "Legal consent text size",
                          "type": "string",
                          "description": "The style legal consent text size."
                        },
                        "submitColor": {
                          "title": "Submit color",
                          "type": "string",
                          "description": "The style submit color."
                        },
                        "submitAlignment": {
                          "title": "Submit alignment",
                          "type": "string",
                          "description": "The style submit alignment."
                        },
                        "submitFontColor": {
                          "title": "Submit font color",
                          "type": "string",
                          "description": "The style submit font color."
                        },
                        "submitSize": {
                          "title": "Submit size",
                          "type": "string",
                          "description": "The style submit size."
                        }
                      },
                      "description": "The style of the object."
                    },
                    "cssClass": {
                      "title": "CSS class",
                      "type": "string",
                      "description": "The CSS class."
                    }
                  },
                  "description": "The display options."
                }
              },
              "required": [
                "id",
                "formType",
                "createdAt",
                "updatedAt",
                "archived"
              ]
            }
          }
        ]
      }
    },
    "/marketing/v3/marketing-events-beta/events/{externalEventId}": {
      "get": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "operationId": "MarketingEventRead",
        "summary": "Get a marketing event (Preview)",
        "description": "Returns the details of the Marketing Event with the specified id, if one exists.",
        "parameters": [
          {
            "name": "externalEventId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the marketing event to return",
            "x-ms-summary": "The id of the marketing event to return",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "externalAccountId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The account id associated with the marketing event",
            "description": "The account id associated with the marketing event",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "operationId": "MarketingEventsArchive",
        "summary": "Delete a marketing event (Preview)",
        "description": "Archives an existing Marketing Event with the specified id, if one exists.",
        "parameters": [
          {
            "name": "externalEventId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the marketing event to delete",
            "x-ms-summary": "The id of the marketing event to delete",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "externalAccountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The account id associated with the marketing event",
            "x-ms-summary": "The account id associated with the marketing event",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "summary": "Create or update a marketing event (Preview)",
        "description": "Upserts a Marketing Event. If there is an existing Marketing event with the specified id, it will be updated; otherwise a new event will be created.",
        "operationId": "MarketingEventsUpdateCreateOrUpdate",
        "parameters": [
          {
            "name": "externalEventId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the marketing event to upsert",
            "x-ms-summary": "The id of the marketing event to upsert",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "eventName": {
                  "title": "Event name",
                  "type": "string",
                  "description": "The event name."
                },
                "eventType": {
                  "type": "string",
                  "description": "The event type",
                  "title": "",
                  "enum": [
                    "WEBINAR",
                    "CONFERENCE",
                    "WORKSHOP"
                  ]
                },
                "startDateTime": {
                  "title": "Start date time",
                  "type": "string",
                  "description": "The start date/time."
                },
                "endDateTime": {
                  "title": "End date time",
                  "type": "string",
                  "description": "The end date/time."
                },
                "eventOrganizer": {
                  "title": "Event organizer",
                  "type": "string",
                  "description": "The event organizer."
                },
                "eventDescription": {
                  "title": "Event description",
                  "type": "string",
                  "description": "The event description."
                },
                "eventUrl": {
                  "title": "Event URL",
                  "type": "string",
                  "description": "The event URL."
                },
                "eventCancelled": {
                  "title": "Event cancelled",
                  "type": "boolean",
                  "description": "Whether the event is cancelled."
                },
                "customProperties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "title": "Name",
                        "type": "string",
                        "description": "The name of the object."
                      },
                      "value": {
                        "title": "Value",
                        "type": "string",
                        "description": "The value of the object."
                      },
                      "timestamp": {
                        "title": "Timestamp",
                        "type": "integer",
                        "format": "int32",
                        "description": "The timestamp."
                      },
                      "sourceId": {
                        "title": "Source ID",
                        "type": "string",
                        "description": "The source ID."
                      },
                      "sourceLabel": {
                        "title": "Source label",
                        "type": "string",
                        "description": "The source label."
                      },
                      "source": {
                        "title": "Source",
                        "type": "string",
                        "description": "The source."
                      },
                      "selectedByUser": {
                        "title": "Selected by user",
                        "type": "boolean",
                        "description": "The selected by user."
                      },
                      "selectedByUserTimestamp": {
                        "title": "Selected by user timestamp",
                        "type": "integer",
                        "format": "int32",
                        "description": "The selected by user timestamp."
                      },
                      "sourceVid": {
                        "type": "array",
                        "items": {
                          "title": "Items",
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "The source Vid."
                      },
                      "sourceMetadata": {
                        "title": "Source metadata",
                        "type": "string",
                        "description": "The source metadata."
                      },
                      "requestId": {
                        "title": "Request ID",
                        "type": "string",
                        "description": "The request ID."
                      }
                    }
                  },
                  "description": "customProperties"
                },
                "externalAccountId": {
                  "title": "External account ID",
                  "type": "string",
                  "description": "The external account ID."
                },
                "externalEventId": {
                  "title": "External event ID",
                  "type": "string",
                  "description": "The external event ID."
                }
              },
              "required": [
                "eventName",
                "eventOrganizer",
                "externalEventId",
                "externalAccountId"
              ]
            }
          }
        ]
      }
    },
    "/marketing-emails/v1/emails": {
      "get": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "summary": "Get all marketing emails (V1)",
        "description": "Get all marketing emails for a HubSpot account.",
        "operationId": "MarketingEmailsList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "The returned limit",
            "x-ms-summary": "limit",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "created",
            "description": "The order by string",
            "x-ms-summary": "orderBy",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/marketing-emails/v1/emails/{id}": {
      "get": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "summary": "Get a marketing email (V1)",
        "description": "Get the details for a specific marketing email.",
        "operationId": "MarketingEmailsRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "The ID value.",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "summary": "Delete a marketing email (V1)",
        "description": "Archive a marketing email.",
        "operationId": "MarketingEmailsArchive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID value.",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "summary": "Update a marketing email (V1)",
        "description": "Update a marketing email.",
        "operationId": "MarketingEmailsUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID value.",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "fromName": {
                  "title": "From name",
                  "type": "string",
                  "description": "fromName"
                },
                "replyTo": {
                  "title": "Reply to",
                  "type": "string",
                  "description": "replyTo"
                },
                "subject": {
                  "title": "Subject",
                  "type": "string",
                  "description": "The subject of the object."
                }
              }
            }
          }
        ]
      }
    },
    "/email/public/v1/campaigns/{campaign_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "summary": "Get campaign data for a particular campaign (V1)",
        "description": "For a given campaign, return data associated with the campaign.",
        "operationId": "MarketingEmailsCampaignRead",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Campaign ID",
            "x-ms-summary": "campaign_id",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/marketing-emails/v1/emails/": {
      "post": {
        "responses": {
          "default": {
            "description": "Default response.",
            "schema": {}
          }
        },
        "summary": "Create a marketing email (V1)",
        "description": "Create a new marketing email.",
        "operationId": "MarketingEmailsCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "title": "Name",
                  "type": "string",
                  "description": "The name of the object.",
                  "x-ms-visibility": "important"
                },
                "subject": {
                  "title": "Subject",
                  "type": "string",
                  "description": "The subject of the object."
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "tags": [],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.hubspot.com/"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://legal.hubspot.com/privacy-policy"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Marketing"
      }
    ]
}
