{
  "swagger": "2.0",
  "info": {
    "title": "HubSpot Marketing",
    "description": "HubSpot Marketing community connector.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/marketing/v3/forms/": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "List Forms (Preview)",
        "description": "Returns a list of forms based on the search filters. By default, it returns the first 20 hubspot forms.",
        "operationId": "FormsList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 20,
            "description": "The maximum number of results to return.",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "limit",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Whether to return only results that have been archived.",
            "x-ms-visibility": "advanced",
            "enum": [
              false,
              true
            ],
            "x-ms-summary": "Whether to return only results that have been archived.",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a form (Preview)",
        "description": "Add a new HubSpot form.",
        "operationId": "FormsCreate",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "formType": {
                  "title": "Form Type",
                  "type": "string",
                  "description": "formType",
                  "default": "hubspot"
                },
                "name": {
                  "title": "Name",
                  "type": "string",
                  "description": "name"
                },
                "createdAt": {
                  "title": "Created at",
                  "type": "string",
                  "description": "createdAt"
                },
                "updatedAt": {
                  "title": "Updated at",
                  "type": "string",
                  "description": "updatedAt"
                },
                "archived": {
                  "title": "Archived",
                  "type": "boolean",
                  "description": "archived",
                  "enum": [
                    false,
                    true
                  ],
                  "default": false
                },
                "archivedAt": {
                  "title": "Archived at",
                  "type": "string",
                  "description": "archivedAt"
                },
                "fieldGroups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "groupType": {
                        "title": "Group type",
                        "type": "string",
                        "description": "groupType"
                      },
                      "richTextType": {
                        "title": "Rich text type",
                        "type": "string",
                        "description": "richTextType"
                      },
                      "richText": {
                        "title": "Rich text",
                        "type": "string",
                        "description": "richText"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "fieldType": {
                              "title": "Field type",
                              "type": "string",
                              "description": "fieldType"
                            },
                            "objectTypeId": {
                              "title": "Object type ID",
                              "type": "string",
                              "description": "objectTypeId"
                            },
                            "name": {
                              "title": "Name",
                              "type": "string",
                              "description": "name"
                            },
                            "label": {
                              "title": "Label",
                              "type": "string",
                              "description": "label"
                            },
                            "description": {
                              "title": "Description",
                              "type": "string",
                              "description": "description"
                            },
                            "required": {
                              "title": "Required",
                              "type": "boolean",
                              "description": "required"
                            },
                            "hidden": {
                              "title": "Hidden",
                              "type": "boolean",
                              "description": "hidden"
                            },
                            "dependentFields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "dependentCondition": {
                                    "type": "object",
                                    "properties": {
                                      "operator": {
                                        "title": "Operator",
                                        "type": "string",
                                        "description": "operator"
                                      },
                                      "value": {
                                        "title": "Value",
                                        "type": "string",
                                        "description": "value"
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "title": "Items",
                                          "type": "string"
                                        },
                                        "description": "values"
                                      },
                                      "rangeStart": {
                                        "title": "Range start",
                                        "type": "string",
                                        "description": "rangeStart"
                                      },
                                      "rangeEnd": {
                                        "title": "Range end",
                                        "type": "string",
                                        "description": "rangeEnd"
                                      }
                                    },
                                    "description": "dependentCondition"
                                  }
                                }
                              },
                              "description": "dependentFields"
                            },
                            "placeholder": {
                              "title": "Placeholder",
                              "type": "string",
                              "description": "placeholder"
                            },
                            "defaultValue": {
                              "title": "Default value",
                              "type": "string",
                              "description": "defaultValue"
                            },
                            "validation": {
                              "type": "object",
                              "properties": {
                                "blockedEmailDomains": {
                                  "type": "array",
                                  "items": {
                                    "title": "Items",
                                    "type": "string"
                                  },
                                  "description": "blockedEmailDomains"
                                },
                                "useDefaultBlockList": {
                                  "title": "Use default block list",
                                  "type": "boolean",
                                  "description": "useDefaultBlockList"
                                },
                                "minAllowedDigits": {
                                  "title": "Minimum allowed digits",
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "minAllowedDigits"
                                },
                                "maxAllowedDigits": {
                                  "title": "Max allowed digits",
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "maxAllowedDigits"
                                }
                              },
                              "description": "validation"
                            },
                            "useCountryCodeSelect": {
                              "title": "Use country code select",
                              "type": "boolean",
                              "description": "useCountryCodeSelect"
                            },
                            "defaultValues": {
                              "type": "array",
                              "items": {
                                "title": "Items",
                                "type": "string"
                              },
                              "description": "defaultValues"
                            },
                            "options": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "title": "Label",
                                    "type": "string",
                                    "description": "label"
                                  },
                                  "value": {
                                    "title": "Value",
                                    "type": "string",
                                    "description": "value"
                                  },
                                  "description": {
                                    "title": "Description",
                                    "type": "string",
                                    "description": "description"
                                  },
                                  "displayOrder": {
                                    "title": "Display order",
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "displayOrder"
                                  }
                                }
                              },
                              "description": "options"
                            },
                            "allowMultipleFiles": {
                              "title": "Allow multiple files",
                              "type": "boolean",
                              "description": "allowMultipleFiles"
                            }
                          }
                        },
                        "description": "fields"
                      }
                    }
                  },
                  "description": "fieldGroups"
                },
                "configuration": {
                  "type": "object",
                  "properties": {
                    "language": {
                      "title": "Language",
                      "type": "string",
                      "description": "language"
                    },
                    "cloneable": {
                      "title": "Cloneable",
                      "type": "boolean",
                      "description": "cloneable"
                    },
                    "postSubmitAction": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string",
                          "description": "type"
                        },
                        "value": {
                          "title": "Value",
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "postSubmitAction"
                    },
                    "editable": {
                      "title": "Editable",
                      "type": "boolean",
                      "description": "editable"
                    },
                    "archivable": {
                      "title": "Archivable",
                      "type": "boolean",
                      "description": "archivable"
                    },
                    "recaptchaEnabled": {
                      "title": "Recaptcha enabled",
                      "type": "boolean",
                      "description": "recaptchaEnabled"
                    },
                    "notifyContactOwner": {
                      "title": "Notify contact owner",
                      "type": "boolean",
                      "description": "notifyContactOwner"
                    },
                    "notifyRecipients": {
                      "type": "array",
                      "items": {
                        "title": "Items",
                        "type": "string"
                      },
                      "description": "notifyRecipients"
                    },
                    "createNewContactForNewEmail": {
                      "title": "Create new contact for new email",
                      "type": "boolean",
                      "description": "createNewContactForNewEmail"
                    },
                    "prePopulateKnownValues": {
                      "title": "Pre-populate known values",
                      "type": "boolean",
                      "description": "prePopulateKnownValues"
                    },
                    "allowLinkToResetKnownValues": {
                      "title": "Allow link to reset known values",
                      "type": "boolean",
                      "description": "allowLinkToResetKnownValues"
                    }
                  },
                  "description": "configuration"
                },
                "displayOptions": {
                  "type": "object",
                  "properties": {
                    "renderRawHtml": {
                      "title": "Render raw HTML",
                      "type": "boolean",
                      "description": "renderRawHtml"
                    },
                    "theme": {
                      "title": "Theme",
                      "type": "string",
                      "description": "theme"
                    },
                    "submitButtonText": {
                      "title": "Submit button text",
                      "type": "string",
                      "description": "submitButtonText"
                    },
                    "style": {
                      "type": "object",
                      "properties": {
                        "fontFamily": {
                          "title": "Font family",
                          "type": "string",
                          "description": "fontFamily"
                        },
                        "backgroundWidth": {
                          "title": "Background width",
                          "type": "string",
                          "description": "backgroundWidth"
                        },
                        "labelTextColor": {
                          "title": "Label text color",
                          "type": "string",
                          "description": "labelTextColor"
                        },
                        "labelTextSize": {
                          "title": "Label text size",
                          "type": "string",
                          "description": "labelTextSize"
                        },
                        "helpTextColor": {
                          "title": "Help text color",
                          "type": "string",
                          "description": "helpTextColor"
                        },
                        "helpTextSize": {
                          "title": "Help text size",
                          "type": "string",
                          "description": "helpTextSize"
                        },
                        "legalConsentTextColor": {
                          "title": "Legal consent text color",
                          "type": "string",
                          "description": "legalConsentTextColor"
                        },
                        "legalConsentTextSize": {
                          "title": "Legal consent text size",
                          "type": "string",
                          "description": "legalConsentTextSize"
                        },
                        "submitColor": {
                          "title": "Submit color",
                          "type": "string",
                          "description": "submitColor"
                        },
                        "submitAlignment": {
                          "title": "Submit alignment",
                          "type": "string",
                          "description": "submitAlignment"
                        },
                        "submitFontColor": {
                          "title": "Submit font color",
                          "type": "string",
                          "description": "submitFontColor"
                        },
                        "submitSize": {
                          "title": "Submit size",
                          "type": "string",
                          "description": "submitSize"
                        }
                      },
                      "description": "style"
                    },
                    "cssClass": {
                      "title": "CSS class",
                      "type": "string",
                      "description": "cssClass"
                    }
                  },
                  "description": "displayOptions"
                }
              }
            }
          }
        ]
      }
    },
    "/marketing/v3/forms/{formId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a form (Preview)",
        "description": "Returns a form based on the form ID provided.",
        "operationId": "FormsRead",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The formId of the form",
            "x-ms-visibility": "important",
            "x-ms-summary": "formId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "default": false,
            "description": "Whether to return only results that have been archived.",
            "x-ms-visibility": "advanced",
            "enum": [
              false,
              true
            ],
            "x-ms-summary": "archived",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "FormsArchive",
        "summary": "Delete a form (Preview)",
        "description": "Archive a form definition. New submissions will not be accepted and the form definition will be permanently deleted after 3 months.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Form ID",
            "x-ms-summary": "formId",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "FormsUpdate",
        "summary": "Update a form (Preview)",
        "description": "Update all fields of a HubSpot form definition.",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Form ID",
            "x-ms-summary": "formId",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "formType": {
                  "title": "Form Type",
                  "type": "string",
                  "description": "formType",
                  "default": "hubspot"
                },
                "id": {
                  "title": "ID",
                  "type": "string",
                  "description": "id"
                },
                "name": {
                  "title": "Name",
                  "type": "string",
                  "description": "name"
                },
                "createdAt": {
                  "title": "Created at",
                  "type": "string",
                  "description": "createdAt",
                  "format": "date-time"
                },
                "updatedAt": {
                  "title": "Updated at",
                  "type": "string",
                  "description": "updatedAt",
                  "format": "date-time"
                },
                "archived": {
                  "type": "boolean",
                  "description": "archived",
                  "title": "",
                  "enum": [
                    false,
                    true
                  ],
                  "default": false
                },
                "archivedAt": {
                  "title": "Archived at",
                  "type": "string",
                  "description": "archivedAt"
                },
                "fieldGroups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "groupType": {
                        "title": "Group type",
                        "type": "string",
                        "description": "groupType"
                      },
                      "richTextType": {
                        "title": "Rich text type",
                        "type": "string",
                        "description": "richTextType"
                      },
                      "richText": {
                        "title": "Rich text",
                        "type": "string",
                        "description": "richText"
                      },
                      "fields": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "fieldType": {
                              "title": "Field type",
                              "type": "string",
                              "description": "fieldType"
                            },
                            "objectTypeId": {
                              "title": "Object type ID",
                              "type": "string",
                              "description": "objectTypeId"
                            },
                            "name": {
                              "title": "Name",
                              "type": "string",
                              "description": "name"
                            },
                            "label": {
                              "title": "Label",
                              "type": "string",
                              "description": "label"
                            },
                            "description": {
                              "title": "Description",
                              "type": "string",
                              "description": "description"
                            },
                            "required": {
                              "title": "Required",
                              "type": "boolean",
                              "description": "required"
                            },
                            "hidden": {
                              "title": "Hidden",
                              "type": "boolean",
                              "description": "hidden"
                            },
                            "dependentFields": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "dependentCondition": {
                                    "type": "object",
                                    "properties": {
                                      "operator": {
                                        "title": "Operator",
                                        "type": "string",
                                        "description": "operator"
                                      },
                                      "value": {
                                        "title": "Value",
                                        "type": "string",
                                        "description": "value"
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "title": "Items",
                                          "type": "string"
                                        },
                                        "description": "values"
                                      },
                                      "rangeStart": {
                                        "title": "Range start",
                                        "type": "string",
                                        "description": "rangeStart"
                                      },
                                      "rangeEnd": {
                                        "title": "Range end",
                                        "type": "string",
                                        "description": "rangeEnd"
                                      }
                                    },
                                    "description": "dependentCondition"
                                  }
                                }
                              },
                              "description": "dependentFields"
                            },
                            "placeholder": {
                              "title": "Placeholder",
                              "type": "string",
                              "description": "placeholder"
                            },
                            "defaultValue": {
                              "title": "Default value",
                              "type": "string",
                              "description": "defaultValue"
                            },
                            "validation": {
                              "type": "object",
                              "properties": {
                                "blockedEmailDomains": {
                                  "type": "array",
                                  "items": {
                                    "title": "Items",
                                    "type": "string"
                                  },
                                  "description": "blockedEmailDomains"
                                },
                                "useDefaultBlockList": {
                                  "title": "Use default block list",
                                  "type": "boolean",
                                  "description": "useDefaultBlockList"
                                },
                                "minAllowedDigits": {
                                  "title": "Minimum allowed digits",
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "minAllowedDigits"
                                },
                                "maxAllowedDigits": {
                                  "title": "Max allowed digits",
                                  "type": "integer",
                                  "format": "int32",
                                  "description": "maxAllowedDigits"
                                }
                              },
                              "description": "validation"
                            },
                            "useCountryCodeSelect": {
                              "title": "Use country code select",
                              "type": "boolean",
                              "description": "useCountryCodeSelect"
                            },
                            "defaultValues": {
                              "type": "array",
                              "items": {
                                "title": "Items",
                                "type": "string"
                              },
                              "description": "defaultValues"
                            },
                            "options": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "label": {
                                    "title": "Label",
                                    "type": "string",
                                    "description": "label"
                                  },
                                  "value": {
                                    "title": "Value",
                                    "type": "string",
                                    "description": "value"
                                  },
                                  "description": {
                                    "title": "Description",
                                    "type": "string",
                                    "description": "description"
                                  },
                                  "displayOrder": {
                                    "title": "Display order",
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "displayOrder"
                                  }
                                }
                              },
                              "description": "options"
                            },
                            "allowMultipleFiles": {
                              "title": "Allow multiple files",
                              "type": "boolean",
                              "description": "allowMultipleFiles"
                            }
                          }
                        },
                        "description": "fields"
                      }
                    }
                  },
                  "description": "fieldGroups"
                },
                "configuration": {
                  "type": "object",
                  "properties": {
                    "language": {
                      "title": "Language",
                      "type": "string",
                      "description": "language"
                    },
                    "cloneable": {
                      "title": "Cloneable",
                      "type": "boolean",
                      "description": "cloneable"
                    },
                    "postSubmitAction": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "title": "Type",
                          "type": "string",
                          "description": "type"
                        },
                        "value": {
                          "title": "Value",
                          "type": "string",
                          "description": "value"
                        }
                      },
                      "description": "postSubmitAction"
                    },
                    "editable": {
                      "title": "Editable",
                      "type": "boolean",
                      "description": "editable"
                    },
                    "archivable": {
                      "title": "Archivable",
                      "type": "boolean",
                      "description": "archivable"
                    },
                    "recaptchaEnabled": {
                      "title": "Recaptcha enabled",
                      "type": "boolean",
                      "description": "recaptchaEnabled"
                    },
                    "notifyContactOwner": {
                      "title": "Notify contact owner",
                      "type": "boolean",
                      "description": "notifyContactOwner"
                    },
                    "notifyRecipients": {
                      "type": "array",
                      "items": {
                        "title": "Items",
                        "type": "string"
                      },
                      "description": "notifyRecipients"
                    },
                    "createNewContactForNewEmail": {
                      "title": "Create new contact for new email",
                      "type": "boolean",
                      "description": "createNewContactForNewEmail"
                    },
                    "prePopulateKnownValues": {
                      "title": "Pre-populate known values",
                      "type": "boolean",
                      "description": "prePopulateKnownValues"
                    },
                    "allowLinkToResetKnownValues": {
                      "title": "Allow link to reset known values",
                      "type": "boolean",
                      "description": "allowLinkToResetKnownValues"
                    }
                  },
                  "description": "configuration"
                },
                "displayOptions": {
                  "type": "object",
                  "properties": {
                    "renderRawHtml": {
                      "title": "Render raw HTML",
                      "type": "boolean",
                      "description": "renderRawHtml"
                    },
                    "theme": {
                      "title": "Theme",
                      "type": "string",
                      "description": "theme"
                    },
                    "submitButtonText": {
                      "title": "Submit button text",
                      "type": "string",
                      "description": "submitButtonText"
                    },
                    "style": {
                      "type": "object",
                      "properties": {
                        "fontFamily": {
                          "title": "Font family",
                          "type": "string",
                          "description": "fontFamily"
                        },
                        "backgroundWidth": {
                          "title": "Background width",
                          "type": "string",
                          "description": "backgroundWidth"
                        },
                        "labelTextColor": {
                          "title": "Label text color",
                          "type": "string",
                          "description": "labelTextColor"
                        },
                        "labelTextSize": {
                          "title": "Label text size",
                          "type": "string",
                          "description": "labelTextSize"
                        },
                        "helpTextColor": {
                          "title": "Help text color",
                          "type": "string",
                          "description": "helpTextColor"
                        },
                        "helpTextSize": {
                          "title": "Help text size",
                          "type": "string",
                          "description": "helpTextSize"
                        },
                        "legalConsentTextColor": {
                          "title": "Legal consent text color",
                          "type": "string",
                          "description": "legalConsentTextColor"
                        },
                        "legalConsentTextSize": {
                          "title": "Legal consent text size",
                          "type": "string",
                          "description": "legalConsentTextSize"
                        },
                        "submitColor": {
                          "title": "Submit color",
                          "type": "string",
                          "description": "submitColor"
                        },
                        "submitAlignment": {
                          "title": "Submit alignment",
                          "type": "string",
                          "description": "submitAlignment"
                        },
                        "submitFontColor": {
                          "title": "Submit font color",
                          "type": "string",
                          "description": "submitFontColor"
                        },
                        "submitSize": {
                          "title": "Submit size",
                          "type": "string",
                          "description": "submitSize"
                        }
                      },
                      "description": "style"
                    },
                    "cssClass": {
                      "title": "CSS class",
                      "type": "string",
                      "description": "cssClass"
                    }
                  },
                  "description": "displayOptions"
                }
              },
              "required": [
                "id",
                "formType",
                "createdAt",
                "updatedAt",
                "archived"
              ]
            }
          }
        ]
      }
    },
    "/marketing/v3/marketing-events-beta/events/{externalEventId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "MarketingEventRead",
        "summary": "Get a marketing event (Preview)",
        "description": "Returns the details of the Marketing Event with the specified id, if one exists.",
        "parameters": [
          {
            "name": "externalEventId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the marketing event to return",
            "x-ms-summary": "The id of the marketing event to return",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "externalAccountId",
            "in": "query",
            "required": true,
            "type": "string",
            "x-ms-summary": "The account id associated with the marketing event",
            "description": "The account id associated with the marketing event",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "MarketingEventsArchive",
        "summary": "Delete a marketing event (Preview)",
        "description": "Archives an existing Marketing Event with the specified id, if one exists.",
        "parameters": [
          {
            "name": "externalEventId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the marketing event to delete",
            "x-ms-summary": "The id of the marketing event to delete",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "externalAccountId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The account id associated with the marketing event",
            "x-ms-summary": "The account id associated with the marketing event",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create or update a marketing event (Preview)",
        "description": "Upserts a Marketing Event. If there is an existing Marketing event with the specified id, it will be updated; otherwise a new event will be created.",
        "operationId": "MarketingEventsUpdateCreateOrUpdate",
        "parameters": [
          {
            "name": "externalEventId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the marketing event to upsert",
            "x-ms-summary": "The id of the marketing event to upsert",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "eventName": {
                  "title": "Event name",
                  "type": "string",
                  "description": "eventName"
                },
                "eventType": {
                  "type": "string",
                  "description": "eventType",
                  "title": "",
                  "enum": [
                    "WEBINAR",
                    "CONFERENCE",
                    "WORKSHOP"
                  ]
                },
                "startDateTime": {
                  "title": "Start date time",
                  "type": "string",
                  "description": "startDateTime"
                },
                "endDateTime": {
                  "title": "End date time",
                  "type": "string",
                  "description": "endDateTime"
                },
                "eventOrganizer": {
                  "title": "Event organizer",
                  "type": "string",
                  "description": "eventOrganizer"
                },
                "eventDescription": {
                  "title": "Event description",
                  "type": "string",
                  "description": "eventDescription"
                },
                "eventUrl": {
                  "title": "Event URL",
                  "type": "string",
                  "description": "eventUrl"
                },
                "eventCancelled": {
                  "title": "Event cancelled",
                  "type": "boolean",
                  "description": "eventCancelled"
                },
                "customProperties": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "title": "Name",
                        "type": "string",
                        "description": "name"
                      },
                      "value": {
                        "title": "Value",
                        "type": "string",
                        "description": "value"
                      },
                      "timestamp": {
                        "title": "Timestamp",
                        "type": "integer",
                        "format": "int32",
                        "description": "timestamp"
                      },
                      "sourceId": {
                        "title": "Source ID",
                        "type": "string",
                        "description": "sourceId"
                      },
                      "sourceLabel": {
                        "title": "Source label",
                        "type": "string",
                        "description": "sourceLabel"
                      },
                      "source": {
                        "title": "Source",
                        "type": "string",
                        "description": "source"
                      },
                      "selectedByUser": {
                        "title": "Selected by user",
                        "type": "boolean",
                        "description": "selectedByUser"
                      },
                      "selectedByUserTimestamp": {
                        "title": "Selected by user timestamp",
                        "type": "integer",
                        "format": "int32",
                        "description": "selectedByUserTimestamp"
                      },
                      "sourceVid": {
                        "type": "array",
                        "items": {
                          "title": "Items",
                          "type": "integer",
                          "format": "int32"
                        },
                        "description": "sourceVid"
                      },
                      "sourceMetadata": {
                        "title": "Source metadata",
                        "type": "string",
                        "description": "sourceMetadata"
                      },
                      "requestId": {
                        "title": "Request ID",
                        "type": "string",
                        "description": "requestId"
                      }
                    }
                  },
                  "description": "customProperties"
                },
                "externalAccountId": {
                  "title": "External account ID",
                  "type": "string",
                  "description": "externalAccountId"
                },
                "externalEventId": {
                  "title": "External event ID",
                  "type": "string",
                  "description": "externalEventId"
                }
              },
              "required": [
                "eventName",
                "eventOrganizer",
                "externalEventId",
                "externalAccountId"
              ]
            }
          }
        ]
      }
    },
    "/marketing-emails/v1/emails": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get all marketing emails (V1)",
        "description": "Get all marketing emails for a HubSpot account.",
        "operationId": "MarketingEmailsList",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 10,
            "description": "Limit",
            "x-ms-summary": "limit",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "created",
            "description": "orderBy",
            "x-ms-summary": "orderBy",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/marketing-emails/v1/emails/{id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get a marketing email (V1)",
        "description": "Get the details for a specific marketing email.",
        "operationId": "MarketingEmailsRead",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important",
            "description": "ID",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a marketing email (V1)",
        "description": "Archive a marketing email.",
        "operationId": "MarketingEmailsArchive",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a marketing email (V1)",
        "description": "Update a marketing email.",
        "operationId": "MarketingEmailsUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID",
            "x-ms-summary": "id",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "fromName": {
                  "title": "From name",
                  "type": "string",
                  "description": "fromName"
                },
                "replyTo": {
                  "title": "Reply  to",
                  "type": "string",
                  "description": "replyTo"
                },
                "subject": {
                  "title": "Subject",
                  "type": "string",
                  "description": "subject"
                }
              }
            }
          }
        ]
      }
    },
    "/email/public/v1/campaigns/{campaign_id}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get campaign data for a particular campaign (V1)",
        "description": "For a given campaign, return data associated with the campaign.",
        "operationId": "MarketingEmailsCampaignRead",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Campaign ID",
            "x-ms-summary": "campaign_id",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/marketing-emails/v1/emails/": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a marketing email (V1)",
        "description": "Create a new marketing email.",
        "operationId": "MarketingEmailsCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "title": "Name",
                  "type": "string",
                  "description": "name",
                  "x-ms-visibility": "important"
                },
                "subject": {
                  "title": "Subject",
                  "type": "string",
                  "description": "subject"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://app.hubspot.com/oauth/authorize",
      "tokenUrl": "https://api.hubapi.com/oauth/v1/token",
      "scopes": {
        "forms files hubdb transactional-email settings.users.write conversations.visitor_identification.tokens.create integration-sync tickets e-commerce files.ui_hidden.read crm.objects.marketing_events.read accounting crm.objects.marketing_events.write crm.schemas.custom.read crm.objects.custom.read crm.objects.feedback_submissions.read sales-email-read crm.objects.custom.write forms-uploaded-files settings.users.read crm.import contacts content reports social automation settings.billing.write actions timeline business-intelligence oauth": "forms files hubdb transactional-email settings.users.write conversations.visitor_identification.tokens.create integration-sync tickets e-commerce files.ui_hidden.read crm.objects.marketing_events.read accounting crm.objects.marketing_events.write crm.schemas.custom.read crm.objects.custom.read crm.objects.feedback_submissions.read sales-email-read crm.objects.custom.write forms-uploaded-files settings.users.read crm.import contacts content reports social automation settings.billing.write actions timeline business-intelligence oauth"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "forms files hubdb transactional-email settings.users.write conversations.visitor_identification.tokens.create integration-sync tickets e-commerce files.ui_hidden.read crm.objects.marketing_events.read accounting crm.objects.marketing_events.write crm.schemas.custom.read crm.objects.custom.read crm.objects.feedback_submissions.read sales-email-read crm.objects.custom.write forms-uploaded-files settings.users.read crm.import contacts content reports social automation settings.billing.write actions timeline business-intelligence oauth"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.hubspot.com/"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://legal.hubspot.com/privacy-policy"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Marketing"
      }
    ]
}
