{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "ActivityInfo",
    "description": "This is a connector for working with automation features in ActivityInfo, and triggering workflows from events in your ActivityInfo database.",
    "contact": {
      "name": "ActivityInfo",
      "url": "https://www.activityinfo.org",
      "email": "info@activityinfo.org"
    }
  },
  "host": "www.activityinfo.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "paths": {
    "/resources/powerautomate/v1/forms": {
      "get": {
        "summary": "List ActivityInfo forms",
        "description": "Get a list of forms in an ActivityInfo database",
        "operationId": "GetForms",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "x-ms-summary": "Form ID"
                  },
                  "label": {
                    "type": "string",
                    "x-ms-summary": "Form label"
                  }
                }
              }
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/resources/powerautomate/v1/forms/{formId}/schemas/add": {
      "get": {
        "summary": "Get schema of event data when a record is added",
        "description": "Get schema of event data when a record is added",
        "operationId": "GetAddRecordSchema",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/resources/powerautomate/v1/forms/{formId}/schemas/edit": {
      "get": {
        "summary": "Get schema of event data when a record is edited",
        "description": "Get schema of event data when a record is edited",
        "operationId": "GetEditRecordSchema",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/resources/powerautomate/v1/forms/{formId}/schemas/delete": {
      "get": {
        "summary": "Get schema of event data when a record is deleted",
        "description": "Get schema of event data when a record is deleted",
        "operationId": "GetDeleteRecordSchema",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/resources/powerautomate/v1/forms/{formId}/automation/{automationId}": {
      "delete": {
        "summary": "Deletes an automation",
        "description": "Deletes an automation",
        "operationId": "DeleteAutomaton",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "automationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        },
        "x-ms-visibility": "internal"
      }
    },
    "/resources/powerautomate/v1/forms/{formId}/automation/add": {
      "x-ms-notification-content": {
        "summary": "Triggered when a record is added",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetAddRecordSchema",
            "value-path": "schema",
            "parameters": {
              "formId": {
                "parameter": "formId"
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "When a record is added",
        "consumes": [ "application/json" ],
        "operationId": "AddRecordTrigger",
        "x-ms-trigger-hint": "To see it work, add a record in ActivityInfo",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Form Id",
            "x-ms-summary": "Form Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "parameters": {},
              "value-title": "label",
              "value-path": "id"
            }
          },
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "label",
                  "title": "Automation Name",
                  "default": "Power Automate Webhook",
                  "x-ms-visibility": "important"
                },
                "action": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type",
                      "title": "Type of action",
                      "default": "WEBHOOK",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "description": "url",
                      "title": "URL of the webhook",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  },
                  "description": "action",
                  "required": [
                    "type",
                    "url"
                  ]
                }
              },
              "required": [
                "action",
                "label"
              ]
            }
          }
        ],
        "description": "Notifications of add records events"
      }
    },
    "/resources/powerautomate/v1/forms/{formId}/automation/edit": {
      "x-ms-notification-content": {
        "summary": "Triggered when a record is edited",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetEditRecordSchema",
            "value-path": "schema",
            "parameters": {
              "formId": {
                "parameter": "formId"
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "When a record is edited",
        "operationId": "EditRecordTrigger",
        "consumes": [ "application/json" ],
        "x-ms-trigger-hint": "To see it work, edit a record in ActivityInfo",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Form Id",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important",
            "x-ms-summary": "Form Id",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "parameters": {},
              "value-title": "label",
              "value-path": "id"
            }
          },
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "label",
                  "title": "Automation Name",
                  "default": "Power Automate Webhook",
                  "x-ms-visibility": "important"
                },
                "action": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type",
                      "title": "Type of action",
                      "default": "WEBHOOK",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "description": "url",
                      "title": "URL of the webhook",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  },
                  "description": "action",
                  "required": [
                    "type",
                    "url"
                  ]
                }
              },
              "required": [
                "action",
                "label"
              ]
            }
          }
        ],
        "description": "Notifications of edit records events"
      }
    },
    "/resources/powerautomate/v1/forms/{formId}/automation/delete": {
      "x-ms-notification-content": {
        "summary": "Triggered when a record is deleted",
        "schema": {
          "type": "object",
          "x-ms-dynamic-schema": {
            "operationId": "GetDeleteRecordSchema",
            "value-path": "schema",
            "parameters": {
              "formId": {
                "parameter": "formId"
              }
            }
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        },
        "summary": "When a record is deleted",
        "operationId": "DeleteRecordTrigger",
        "x-ms-trigger-hint": "To see it work, delete a record in ActivityInfo",
        "x-ms-trigger": "single",
        "consumes": [ "application/json" ],
        "parameters": [
          {
            "name": "formId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Form Id",
            "x-ms-summary": "Form Id",
            "x-ms-url-encoding": "single",
            "x-ms-visibility": "important",
            "x-ms-dynamic-values": {
              "operationId": "GetForms",
              "parameters": {},
              "value-title": "label",
              "value-path": "id"
            }
          },
          {
            "name": "Content-type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "label",
                  "title": "Automation Name",
                  "default": "Power Automate Webhook",
                  "x-ms-visibility": "important"
                },
                "action": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "type",
                      "title": "Type of action",
                      "default": "WEBHOOK",
                      "x-ms-visibility": "internal"
                    },
                    "url": {
                      "type": "string",
                      "description": "url",
                      "title": "URL of the webhook",
                      "x-ms-visibility": "internal",
                      "x-ms-notification-url": true
                    }
                  },
                  "description": "action",
                  "required": [
                    "type",
                    "url"
                  ]
                }
              },
              "required": [
                "action",
                "label"
              ]
            }
          }
        ],
        "description": "Notifications of delete records events"
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.activityinfo.org"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.activityinfo.org/about/privacy-policy.html"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data;Collaboration"
    }
  ]
}