{
  "swagger": "2.0",
  "info": {
    "title": "Panviva",
    "version": "1.0",
    "description": "Panviva is an omnichannel knowledge management solution. Our priority is to aid our clients in keeping their employees happy, so that they can focus on ensuring their customers are happy. Digitally transforming organisations for the last 20 years, we're now helping our customers to deliver knowledge nuggets to their employees and customers, whether they are in the home or the office - anytime and anywhere.",
    "contact": {
      "name": "Panviva Customer Advocacy Team",
      "url": "https://www.panviva.com/support",
      "email": "support@panviva.com"
    }
  },
  "host": "api.panviva.com",
  "basePath": "/v3",
  "schemes": ["https"],
  "consumes": [],
  "produces": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.panviva.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.panviva.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ],
  "paths": {
    "/{instance}/operations/search": {
      "get": {
        "description": "Searches documents, folders, and files (external documents) for a term and returns paginated results",
        "operationId": "OperationsSearch",
        "summary": "Search",
        "tags": ["Operations"],
        "parameters": [
          {
            "x-ms-summary": "Instance",
            "x-ms-url-encoding": "single",
            "name": "instance",
            "in": "path",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Term",
            "name": "term",
            "in": "query",
            "description": "The word or phrase to be searched for",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Offset",
            "name": "pageOffset",
            "in": "query",
            "description": "The pagination offset to denote the number of initial search results to skip. For example, pageOffset of 100 and pageLimit of 10 would return records 101-110.",
            "type": "integer",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Page Limit",
            "name": "pageLimit",
            "in": "query",
            "description": "The number of records to return. Must be an integer between 0 and 1000.",
            "type": "integer",
            "x-ms-visibility": "advanced"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetSearchResponse"
            },
            "examples": {
              "application/json": {
                "results": [
                  {
                    "type": "document",
                    "id": "648",
                    "name": "Set up banking app for Viva Bank",
                    "layout": "topTabsSmall",
                    "description": "This describes how to setup banking app for vivabank.",
                    "classification": "web-enabled|Bots & Assistants",
                    "updatedDate": "2020-03-31T00:35:30.757Z",
                    "matchedFields": ["Container.body"],
                    "snippet": "49637\" data-link-id=\"1222\"><p class=\"pv-paragraph\" data-db-id=\"49639\" data-link-id=\"526\">Cancel a debit <em>card</em>",
                    "language": "en-US",
                    "links": [
                      {
                        "href": "https://api.panviva.com/v3/viva-bank/resources/document/648",
                        "rel": "document",
                        "type": "GET"
                      }
                    ]
                  },
                  {
                    "type": "document",
                    "id": "831",
                    "name": "Card compromise event Date: 20/08/2020 - Acknowledgement",
                    "layout": "topTabsSmall",
                    "description": null,
                    "classification": null,
                    "updatedDate": "2020-08-18T23:04:03.777Z",
                    "matchedFields": ["name", "Container.body"],
                    "snippet": "<em>Card</em> compromise event Date: 20/08/2020 - Acknowledgement",
                    "language": "en-US",
                    "links": [
                      {
                        "href": "https://api.panviva.com/v3/viva-bank/resources/document/831",
                        "rel": "document",
                        "type": "GET"
                      }
                    ]
                  },
                  {
                    "type": "document",
                    "id": "594",
                    "name": "Overview - Credit Cards",
                    "layout": "topTabsSmall",
                    "description": "Overview of Credit Cards available.",
                    "classification": null,
                    "updatedDate": "2020-10-07T07:23:33.26Z",
                    "matchedFields": ["Container.body"],
                    "snippet": "pv-paragraph\" data-db-id=\"46882\" data-link-id=\"19\">All travel booked on your American Express Travel <em>card</em>",
                    "language": "en-US",
                    "links": [
                      {
                        "href": "https://api.panviva.com/v3/viva-bank/resources/document/594",
                        "rel": "document",
                        "type": "GET"
                      }
                    ]
                  }
                ],
                "total": 22,
                "links": [
                  {
                    "href": "https://api.panviva.com/v3/viva-bank/operations/search?term=card&page[offset]=0&page[limit]=3",
                    "rel": "first",
                    "type": "GET"
                  },
                  {
                    "href": "https://api.panviva.com/v3/viva-bank/operations/search?term=card&page[offset]=21&page[limit]=3",
                    "rel": "last",
                    "type": "GET"
                  },
                  {
                    "href": "https://api.panviva.com/v3/viva-bank/operations/search?term=card&page[offset]=3&page[limit]=3",
                    "rel": "next",
                    "type": "GET"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan's rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/{instance}/operations/artefact/nls": {
      "get": {
        "description": "Return search results for a given query",
        "operationId": "OperationsArtefactNls",
        "summary": "Search Artefacts",
        "tags": ["Operations"],
        "parameters": [
          {
            "x-ms-summary": "Instance",
            "x-ms-url-encoding": "single",
            "name": "instance",
            "in": "path",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Simple Query",
            "name": "simplequery",
            "in": "query",
            "description": "Natural language query string. For example: 'Action Movies'. (Note: Use simplequery OR advancedquery, not both.)",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Advanced Query",
            "name": "advancedquery",
            "in": "query",
            "description": "Query string written in Lucene query syntax. For example: 'films AND \"a story\"'. (Note: Use simplequery OR advancedquery, not both.)",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Filter",
            "name": "filter",
            "in": "query",
            "description": "Accepts a Lucene-formatted filter string. Examples: 'category eq \"Mortgages\"', 'panvivaDocumentVersion gt \"8\"'. (Filterable fields include dateCreated, dateModified, dateDeleted, categoryJson, queryVariationsJson, title, category, primaryQuery, isDeleted, timestamp, panvivaDocumentId, panvivaDocumentVersion, id)",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Channel",
            "name": "channel",
            "in": "query",
            "description": "Return response for a specific channel, instead of the default",
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Page Offset",
            "name": "pageOffset",
            "in": "query",
            "description": "The pagination offset to denote the number of initial search results to skip. For example, pageOffset of 100 and pageLimit of 10 would return records 101-110.",
            "type": "integer",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Page Limit",
            "name": "pageLimit",
            "in": "query",
            "description": "The number of records to return. Must be an integer between 0 and 1000.",
            "type": "integer",
            "x-ms-visibility": "advanced"
          },
          {
            "x-ms-summary": "Facet",
            "name": "facet",
            "in": "query",
            "description": "Accepts a Lucene-formatted facet string. Examples: 'facet=Category,count:10&facet=Rating'. (Facetable fields include metaData/values)",
            "type": "string",
            "x-ms-visibility": "advanced"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetSearchArtefactResponse"
            },
            "examples": {
              "application/json": {
                "results": [
                  {
                    "id": "c714385f-f54c-4405-9d46-edcdbe2e453c",
                    "content": [
                      {
                        "mediaType": "text/plain",
                        "text": "Minimum: $25,000.\nNo Maximum.",
                        "href": null,
                        "resourceLocation": "inline"
                      }
                    ],
                    "category": {
                      "name": "feature",
                      "id": 12,
                      "dateCreated": "2020-03-03T00:56:59.744+00:00",
                      "dateModified": "2020-04-07T13:46:29.92+00:00"
                    },
                    "metaData": {
                      "keyword": {
                        "values": null,
                        "dataType": null
                      },
                      "product": {
                        "values": [
                          "Personal-Lending-Mortgage-Rapid-Repay",
                          "Personal-Lending-Mortgage-5-1",
                          "Personal-Lending-Mortgage-15",
                          "Personal-Lending-Mortgage-30"
                        ],
                        "dataType": "string"
                      },
                      "entity": {
                        "values": ["Personal"],
                        "dataType": "string"
                      },
                      "type": {
                        "values": ["Lending"],
                        "dataType": "string"
                      }
                    },
                    "searchScore": 1.2721065,
                    "links": [
                      {
                        "href": "https://api.panviva.com/v3/viva-bank/resources/artefact/c714385f-f54c-4405-9d46-edcdbe2e453c",
                        "rel": "artefact",
                        "type": "GET"
                      }
                    ],
                    "queryVariations": [
                      {
                        "id": 22,
                        "query": "What is the minimum loan size?"
                      },
                      {
                        "id": 23,
                        "query": "What is the maximum loan size?"
                      }
                    ],
                    "primaryQuery": "What is the loan size?",
                    "panvivaDocumentId": 616,
                    "panvivaDocumentVersion": 11,
                    "title": "Minimum/Maximum loan amount"
                  },
                  {
                    "id": "c40d51e5-1f40-41e9-a55b-f3498d293119",
                    "content": [
                      {
                        "mediaType": "text/plain",
                        "text": "Rapid Repay Loans allow customers to pay off their investment loan sooner or reduce the amount of interest they pay during the life of the loan, through the use of an offset account.",
                        "href": null,
                        "resourceLocation": "inline"
                      }
                    ],
                    "category": {
                      "name": "feature",
                      "id": 12,
                      "dateCreated": "2020-03-03T00:56:59.744+00:00",
                      "dateModified": "2020-03-10T00:29:16.417+00:00"
                    },
                    "metaData": {
                      "keyword": {
                        "values": null,
                        "dataType": null
                      },
                      "product": {
                        "values": ["Personal-Lending-Mortgage-Rapid-Repay"],
                        "dataType": "string"
                      },
                      "entity": {
                        "values": ["Personal"],
                        "dataType": "string"
                      },
                      "type": {
                        "values": ["Lending"],
                        "dataType": "string"
                      }
                    },
                    "searchScore": 0.26734138,
                    "links": [
                      {
                        "href": "https://api.panviva.com/v3/viva-bank/resources/artefact/c40d51e5-1f40-41e9-a55b-f3498d293119",
                        "rel": "artefact",
                        "type": "GET"
                      }
                    ],
                    "queryVariations": [],
                    "primaryQuery": "What are the key benefits of Rapid Repay loans?",
                    "panvivaDocumentId": 616,
                    "panvivaDocumentVersion": 11,
                    "title": "Rapid Repay Loans"
                  },
                  {
                    "id": "bb957b03-18df-4d21-b7cc-64a0f6a33381",
                    "content": [
                      {
                        "mediaType": "text/plain",
                        "text": "- Accessing any additional money they may have available in redraw in their eligible loan",
                        "href": null,
                        "resourceLocation": "inline"
                      },
                      {
                        "mediaType": "text/plain",
                        "text": "- Consider if Interest Only payments are right for the customer",
                        "href": null,
                        "resourceLocation": "inline"
                      },
                      {
                        "mediaType": "text/plain",
                        "text": "- Reducing customers' repayments to the minimum monthly repayment amount",
                        "href": null,
                        "resourceLocation": "inline"
                      },
                      {
                        "mediaType": "text/plain",
                        "text": "- Utilising money in customer's Everyday Offset [If available]",
                        "href": null,
                        "resourceLocation": "inline"
                      }
                    ],
                    "category": {
                      "name": "feature",
                      "id": 12,
                      "dateCreated": "2020-03-03T00:56:59.744+00:00",
                      "dateModified": "2020-05-08T07:10:34.347+00:00"
                    },
                    "metaData": {
                      "keyword": {
                        "values": ["COVID"],
                        "dataType": "string"
                      },
                      "product": {
                        "values": ["Home Loan"],
                        "dataType": "string"
                      },
                      "entity": {
                        "values": null,
                        "dataType": null
                      },
                      "type": {
                        "values": null,
                        "dataType": null
                      }
                    },
                    "searchScore": 0.26044145,
                    "links": [
                      {
                        "href": "https://api.panviva.com/v3/viva-bank/resources/artefact/bb957b03-18df-4d21-b7cc-64a0f6a33381",
                        "rel": "artefact",
                        "type": "GET"
                      }
                    ],
                    "queryVariations": [
                      {
                        "id": 64,
                        "query": "Can a customer reduce their monthly repayments of their home loan?"
                      }
                    ],
                    "primaryQuery": "Options for home loan repayments during COVID ",
                    "panvivaDocumentId": 817,
                    "panvivaDocumentVersion": 8,
                    "title": "Ways to assist customers during COVID "
                  }
                ],
                "total": 14
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan's rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/{instance}/operations/live/csh": {
      "post": {
        "description": "Present a CSH search result page of the passing query on Panviva client to specified user on Panviva client",
        "operationId": "OperationsLiveCsh",
        "summary": "Live CSH",
        "tags": ["Operations"],
        "parameters": [
          {
            "x-ms-summary": "Instance",
            "x-ms-url-encoding": "single",
            "name": "instance",
            "in": "path",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "postLiveCshRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PostLiveCshRequest"
            },
            "description": "JSON object containing information required to perform a live activity<span>:</span>",
            "x-ms-visibility": "important"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed. There is a possibility that the request will fail, if it is disallowed when processing actually takes place. There is no facility for sending a completion-status code from this operation.",
            "schema": {
              "$ref": "#/definitions/PostLiveCshResponse"
            },
            "examples": {
              "application/json": {
                "errorCode": "202",
                "message": "Accepted"
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan's rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/{instance}/operations/live/document": {
      "post": {
        "description": "Present a document page to specified user on Panviva client",
        "operationId": "OperationsLiveDocument",
        "summary": "Live Document",
        "tags": ["Operations"],
        "parameters": [
          {
            "x-ms-summary": "Instance",
            "x-ms-url-encoding": "single",
            "name": "instance",
            "in": "path",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "postLiveDocumentRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PostLiveDocumentRequest"
            },
            "description": "JSON object containing information required to perform a live activity<span>:</span>",
            "x-ms-visibility": "important"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed. There is a possibility that the request will fail, if it is disallowed when processing actually takes place. There is no facility for sending a completion-status code from this operation.",
            "schema": {
              "$ref": "#/definitions/PostLiveDocumentResponse"
            },
            "examples": {
              "application/json": {
                "errorCode": "202",
                "message": "Accepted"
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan's rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/{instance}/operations/live/search": {
      "post": {
        "description": "Present a search result page of the passing query on Panviva client to specified user on Panviva client",
        "operationId": "OperationsLiveSearch",
        "summary": "Live Search",
        "tags": ["Operations"],
        "parameters": [
          {
            "x-ms-summary": "Instance",
            "x-ms-url-encoding": "single",
            "name": "instance",
            "in": "path",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "name": "postLiveSearchRequest",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/PostLiveSearchRequest"
            },
            "description": "JSON object containing information required to perform a live activity<span>:</span>",
            "x-ms-visibility": "important"
          }
        ],
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed. There is a possibility that the request will fail, if it is disallowed when processing actually takes place. There is no facility for sending a completion-status code from this operation.",
            "schema": {
              "$ref": "#/definitions/PostLiveSearchResponse"
            },
            "examples": {
              "application/json": {
                "errorCode": "202",
                "message": "Accepted"
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan's rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "important"
      }
    },
    "/{instance}/resources/container/{id}": {
      "get": {
        "description": "Return a container using the container ID provided",
        "operationId": "ResourcesContainerById",
        "summary": "Container",
        "tags": ["Resources"],
        "parameters": [
          {
            "x-ms-summary": "Instance",
            "x-ms-url-encoding": "single",
            "name": "instance",
            "in": "path",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single",
            "name": "id",
            "in": "path",
            "description": "The id of a document container",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetContainerResponse"
            },
            "examples": {
              "application/json": {
                "id": "648-6-256-258",
                "name": "Guidelines",
                "body": "<p class=\"pv-header\" data-db-id=\"51590\" data-link-id=\"1322\"><span></span> Guidelines</p><p class=\"pv-paragraph\" data-db-id=\"51591\" data-link-id=\"1323\">The Viva Bank app can provide financial information and process transactions from any banking app-enabled device.</p>"
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan's rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "advanced"
      }
    },
    "/{instance}/resources/document/{id}": {
      "get": {
        "description": "Return a document using the document ID provided",
        "operationId": "ResourcesDocumentById",
        "summary": "Document",
        "tags": ["Resources"],
        "parameters": [
          {
            "x-ms-summary": "Instance",
            "x-ms-url-encoding": "single",
            "name": "instance",
            "in": "path",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single",
            "name": "id",
            "in": "path",
            "description": "A document unique identifier, Document ID. If a document is a translated document, this value represents Internal ID or IID in Panviva API v1.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Version",
            "name": "version",
            "in": "query",
            "description": "Request the API to return a particular version of the specified document.",
            "type": "integer",
            "x-ms-visibility": "advanced"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetDocumentResponse"
            },
            "examples": {
              "application/json": {
                "id": "648",
                "name": "Set up your Virtual Personal Assistant for Viva Bank",
                "description": "This describes how to setup your Virtual Personal Assistant for vivabank.",
                "version": 6,
                "language": "en-US",
                "tags": [
                  {
                    "name": "Rank",
                    "value": "1"
                  },
                  {
                    "name": "Effective date",
                    "value": "2020-05-04T00:00:00Z"
                  }
                ],
                "hidden": false,
                "type": "document",
                "release": 6,
                "released": true,
                "copyright": null,
                "classification": "web-enabled|Bots & Assistants",
                "status": "Complete",
                "percentage": 100,
                "releaseDate": "2020-03-06T13:00:00Z",
                "layout": "topTabsSmall",
                "training": null,
                "keywords": ["keyword1", "keyword2", "keyword3"],
                "cshKeywords": ["cshkeyword1", "cshkeyword2", "cshkeyword3"],
                "updatedDate": "2020-03-31T00:35:30.757Z",
                "createdDate": "2020-03-06T16:21:05.787Z",
                "reusableContent": null,
                "changeNote": null,
                "links": [
                  {
                    "href": "https://api.panviva.com/v3/viva-bank/resources/document/648/containers",
                    "rel": "containers",
                    "type": "GET"
                  },
                  {
                    "href": "https://api.panviva.com/v3/viva-bank/resources/document/648/translations",
                    "rel": "translations",
                    "type": "GET"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan's rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "advanced"
      }
    },
    "/{instance}/resources/artefact/{id}": {
      "get": {
        "description": "Return an artefact using the ID provided",
        "operationId": "ResourcesArtefactById",
        "summary": "Artefact",
        "tags": ["Resources"],
        "parameters": [
          {
            "x-ms-summary": "Instance",
            "x-ms-url-encoding": "single",
            "name": "instance",
            "in": "path",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single",
            "name": "id",
            "in": "path",
            "description": "Format - uuid. The id (ID) of an artefact",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetResponseResponse"
            },
            "examples": {
              "application/json": {
                "links": [
                  {
                    "href": "https://api.panviva.com/v3/viva-bank/resources/document/648?version=3",
                    "rel": "document",
                    "type": "GET"
                  }
                ],
                "title": "Commands for your Virtual Personal Assistant",
                "content": [
                  {
                    "mediaType": "text/plain",
                    "text": "You can begin a conversation with your Virtual Personal Assistant in one of two ways:\nSay \"open Viva Bank\" or \"tell Viva Bank...\"\nThe second option skips the welcome message and your VPA begins the request immediately. \nTo stop the conversation at any time just say \"Cancel.\"",
                    "href": null,
                    "resourceLocation": "inline"
                  }
                ],
                "variations": [],
                "category": {
                  "name": "how to",
                  "id": 13,
                  "dateCreated": "2020-03-03T00:57:11.92+00:00",
                  "dateModified": "2020-03-10T19:10:19.457+00:00"
                },
                "primaryQuery": "What are some common VPA banking commands?",
                "queryVariations": [
                  {
                    "id": 12,
                    "query": "Quick commands?"
                  }
                ],
                "panvivaDocumentId": 648,
                "panvivaDocumentVersion": 3,
                "metaData": {
                  "keyword": {
                    "values": null,
                    "dataType": null
                  },
                  "product": {
                    "values": [
                      "Personal-Lending-Mortgage-Rapid-Repay",
                      "Personal-Deposit-Child-Savings",
                      "Personal-Deposit-Savings-safe-balance",
                      "Personal-Lending-Mortgage-5-1",
                      "Personal-Lending-Mortgage-30"
                    ],
                    "dataType": "string"
                  },
                  "entity": {
                    "values": ["Personal"],
                    "dataType": "string"
                  },
                  "type": {
                    "values": ["Lending", "Deposit"],
                    "dataType": "string"
                  }
                },
                "id": "b014a024-d246-4da0-89b5-c53e710fed4c",
                "dateCreated": "2020-03-10T19:10:19.457+00:00",
                "dateModified": "2020-03-10T19:10:19.457+00:00"
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan's rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        },
        "x-ms-visibility": "advanced"
      }
    },
    "/{instance}/resources/document/{id}/containers": {
      "get": {
        "description": "Return a list of containers using the document ID provided",
        "operationId": "ResourcesDocumentByIdContainers",
        "summary": "Document Containers",
        "tags": ["Resources"],
        "parameters": [
          {
            "x-ms-summary": "Instance",
            "x-ms-url-encoding": "single",
            "name": "instance",
            "in": "path",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-visibility": "important"
          },
          {
            "x-ms-summary": "Id",
            "x-ms-url-encoding": "single",
            "name": "id",
            "in": "path",
            "description": "The internal id (IID) of a Panviva document",
            "required": true,
            "type": "integer",
            "x-ms-visibility": "important"
          }
        ],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetDocumentContainersResponse"
            },
            "examples": {
              "application/json": {
                "containers": [
                  {
                    "id": "648-6-259-268",
                    "name": "Description",
                    "body": "<p class=\"pv-header\" data-db-id=\"49795\" data-link-id=\"186\"><span></span> Purpose</p><p class=\"pv-paragraph\" data-db-id=\"51592\" data-link-id=\"182\">To guide a member in the setup, usage and troubleshooting of the Viva Bank skill for any VPA-enabled device.</p><p class=\"pv-header\" data-db-id=\"49797\" data-link-id=\"151\"><span></span> Who</p><p class=\"pv-paragraph\" data-db-id=\"51593\" data-link-id=\"152\">All Employees</p><p class=\"pv-header\" data-db-id=\"49799\" data-link-id=\"154\"><span></span> When</p><p class=\"pv-paragraph\" data-db-id=\"51594\" data-link-id=\"183\">A member needs help with the Viva Bank app on any VPA-enabled device.</p><p class=\"pv-header\" data-db-id=\"49801\" data-link-id=\"156\"><span></span> Before you begin</p><p class=\"pv-bullet\" data-db-id=\"51851\" data-link-id=\"157\" data-align=\"left\">Ensure the member has enrolled in <a data-link-type=\"internal\" class=\"pv-internal-link\" data-document-id=\"633\" data-section-task-id=\"146\" data-document-version=\"2\" data-document-type=\"0\" data-document-name=\"Enroll in Online Banking\">Online Banking.</a></p><p class=\"pv-paragraph\" data-db-id=\"49806\" data-link-id=\"295\"> </p>"
                  },
                  {
                    "id": "648-6-4-41",
                    "name": "Verify member and Online Banking enrollment",
                    "body": "<div data-link-id=\"2\" data-db-id=\"51824\"><div class=\"pv-task-header\">Verify member and Online Banking enrollment</div><div class=\"pv-task-details\" style=\"width:100%;\"><p class=\"pv-who\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-menupath\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-shortcut\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-trans\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-screen\">VPA-enabled devices</p></div></div><p class=\"pv-paragraph\" data-db-id=\"51452\" data-link-id=\"302\" data-align=\"left\">The member must verify three of the following:</p><div class=\"pv-reusable-content\" data-document-id=\"647\"><p class=\"pv-bullet\" data-db-id=\"51199\" data-link-id=\"1\" data-align=\"left\">A valid photo <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"Driver's license, state ID or passport.\">identification;</a></p><p class=\"pv-bullet\" data-db-id=\"51200\" data-link-id=\"2\" data-align=\"left\">Date of birth;</p><p class=\"pv-bullet\" data-db-id=\"51201\" data-link-id=\"3\" data-align=\"left\"><a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"Social Security Number\">SSN;</a></p><p class=\"pv-bullet\" data-db-id=\"51202\" data-link-id=\"4\" data-align=\"left\">A password or security question for any bank account you have with us;</p><p class=\"pv-bullet\" data-db-id=\"51203\" data-link-id=\"5\" data-align=\"left\">A bank account number;</p><p class=\"pv-bullet\" data-db-id=\"51204\" data-link-id=\"6\" data-align=\"left\">Any <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"Amounts and dates of transactions.\">transactions</a> for the bank account;</p><p class=\"pv-bullet\" data-db-id=\"51205\" data-link-id=\"7\" data-align=\"left\">Any direct deposit information for the bank account; or</p><p class=\"pv-bullet\" data-db-id=\"51765\" data-link-id=\"8\" data-align=\"left\">Their car registration or title.</p></div><table class=\"pv-table\" data-width=\"100%\" data-db-id=\"51454\" data-link-id=\"1266\" data-column-width=\"large small\"><tr class=\"pv-table-row\" data-header=\"true\" hidden=\"true\" data-db-id=\"51825\" data-link-id=\"1341\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"100%\" data-db-id=\"51826\" data-link-id=\"1342\" colspan=\"2\"><p class=\"pv-paragraph\" data-db-id=\"51827\" data-link-id=\"1343\"><br /></p></td></tr><tr class=\"pv-table-row\" data-db-id=\"51460\" data-link-id=\"1272\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"100%\" data-db-id=\"51461\" data-link-id=\"1273\" colspan=\"2\"><p class=\"pv-paragraph\" data-db-id=\"51462\" data-link-id=\"1274\"><span></span></p><p class=\"pv-paragraph\" data-db-id=\"51463\" data-link-id=\"1275\"><span class=\"pv-bold\">Ask the member...</span></p><p class=\"pv-paragraph\" data-db-id=\"51464\" data-link-id=\"1276\"> </p><p class=\"pv-paragraph\" data-db-id=\"51830\" data-link-id=\"1277\"><span class=\"pv-italic\">Are you enrolled in Online Banking?</span></p></td></tr></table><p class=\"pv-bullet\" data-db-id=\"51467\" data-link-id=\"1279\" data-align=\"left\">Choose the next step:</p><table class=\"pv-table\" data-width=\"100%\" data-db-id=\"51832\" data-link-id=\"1280\" data-column-width=\"small medium\"><tr class=\"pv-table-row\" data-header=\"true\" data-db-id=\"51469\" data-link-id=\"1281\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"33%\" data-db-id=\"51470\" data-link-id=\"1282\"><p class=\"pv-paragraph\" data-db-id=\"51471\" data-link-id=\"1283\">If...</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"66%\" data-db-id=\"51472\" data-link-id=\"1284\"><p class=\"pv-paragraph\" data-db-id=\"51473\" data-link-id=\"1285\">Then...</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"51474\" data-link-id=\"1286\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"33%\" data-db-id=\"51475\" data-link-id=\"1287\"><p class=\"pv-paragraph\" data-db-id=\"51476\" data-link-id=\"1288\">Yes</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"66%\" data-db-id=\"51477\" data-link-id=\"1289\"><p class=\"pv-paragraph\" data-db-id=\"51478\" data-link-id=\"1290\">Go to <a data-link-type=\"internal\" class=\"pv-internal-link\" data-document-id=\"648\" data-section-task-id=\"393\" data-document-version=\"6\" data-document-type=\"0\" data-document-name=\"Set up VPA for Viva Bank\">task 2.</a></p></td></tr><tr class=\"pv-table-row\" data-db-id=\"51479\" data-link-id=\"1291\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"33%\" data-db-id=\"51480\" data-link-id=\"1292\"><p class=\"pv-paragraph\" data-db-id=\"51481\" data-link-id=\"1293\">No</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"66%\" data-db-id=\"51482\" data-link-id=\"1294\"><p class=\"pv-bullet\" data-db-id=\"51483\" data-link-id=\"1295\" data-align=\"left\">Refer to <a data-link-type=\"internal\" class=\"pv-internal-link\" data-document-id=\"633\" data-section-task-id=\"146\" data-document-version=\"2\" data-document-type=\"0\" data-document-name=\"Enroll in Online Banking\">Enroll in Online Banking.</a></p><p class=\"pv-bullet\" data-db-id=\"51484\" data-link-id=\"1296\" data-align=\"left\">Go to <a data-link-type=\"internal\" class=\"pv-internal-link\" data-document-id=\"648\" data-section-task-id=\"393\" data-document-version=\"6\" data-document-type=\"0\" data-document-name=\"Set up VPA for Viva Bank\">task 2.</a></p></td></tr></table><p class=\"pv-paragraph\" data-db-id=\"51486\" data-link-id=\"1298\"> </p>"
                  },
                  {
                    "id": "648-6-249-255",
                    "name": "Rules",
                    "body": "<p class=\"pv-header\" data-db-id=\"51584\" data-link-id=\"1320\"><span></span> Rules</p><p class=\"pv-bullet\" data-db-id=\"51585\" data-link-id=\"979\" data-align=\"left\">The member must be enrolled in online banking in order to use the app.</p><p class=\"pv-bullet\" data-db-id=\"51586\" data-link-id=\"980\" data-align=\"left\">The app must be added to an VPA-enabled device before it can be used.</p><p class=\"pv-bullet\" data-db-id=\"51587\" data-link-id=\"1076\" data-align=\"left\">External transfers cannot be made using the app.</p><p class=\"pv-paragraph\" data-db-id=\"51588\" data-link-id=\"1008\" data-align=\"left\"><br /></p><p class=\"pv-paragraph\" data-db-id=\"49793\" data-link-id=\"299\"> </p>"
                  },
                  {
                    "id": "648-6-42-66",
                    "name": "Determine member need",
                    "body": "<div data-link-id=\"393\" data-db-id=\"51487\"><div class=\"pv-task-header\">Determine member need</div><div class=\"pv-task-details\" style=\"width:100%;\"><p class=\"pv-who\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-menupath\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-shortcut\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-trans\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-screen\" style=\"display:none;\" hidden=\"true\">&nbsp;</p></div></div><p class=\"pv-paragraph\" data-db-id=\"49303\" data-link-id=\"394\">The member is enrolled in Online Banking. </p><p class=\"pv-bullet\" data-db-id=\"51488\" data-link-id=\"395\" data-align=\"left\">Choose the next step:</p><table class=\"pv-table\" data-width=\"100%\" data-db-id=\"51489\" data-link-id=\"1102\" data-column-width=\"medium small\"><tr class=\"pv-table-row\" data-header=\"true\" data-db-id=\"49306\" data-link-id=\"1103\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"66%\" data-db-id=\"49307\" data-link-id=\"1104\"><p class=\"pv-paragraph\" data-db-id=\"51490\" data-link-id=\"399\">To help them...</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"33%\" data-db-id=\"49309\" data-link-id=\"1105\"><p class=\"pv-paragraph\" data-db-id=\"51491\" data-link-id=\"401\">Then go to...</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49311\" data-link-id=\"1106\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"66%\" data-db-id=\"49312\" data-link-id=\"1107\"><p class=\"pv-paragraph\" data-db-id=\"51492\" data-link-id=\"404\">Set up the app on their device</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"33%\" data-db-id=\"49314\" data-link-id=\"1108\"><p class=\"pv-paragraph\" data-db-id=\"51493\" data-link-id=\"406\"><a data-link-type=\"internal\" class=\"pv-internal-link\" data-document-id=\"648\" data-section-task-id=\"423\" data-document-version=\"6\" data-document-type=\"0\" data-document-name=\"Set up VPA for Viva Bank\">Task 3.</a></p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49316\" data-link-id=\"1109\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"66%\" data-db-id=\"49317\" data-link-id=\"1110\"><p class=\"pv-paragraph\" data-db-id=\"51494\" data-link-id=\"409\">Use the app</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"33%\" data-db-id=\"49319\" data-link-id=\"1111\"><p class=\"pv-paragraph\" data-db-id=\"51495\" data-link-id=\"411\"><a data-link-type=\"internal\" class=\"pv-internal-link\" data-document-id=\"648\" data-section-task-id=\"425\" data-document-version=\"6\" data-document-type=\"0\" data-document-name=\"Set up VPA for Viva Bank\">Task 4.</a></p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49321\" data-link-id=\"1112\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"66%\" data-db-id=\"49322\" data-link-id=\"1113\"><p class=\"pv-paragraph\" data-db-id=\"51496\" data-link-id=\"414\">Troubleshoot the app</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"33%\" data-db-id=\"49324\" data-link-id=\"1114\"><p class=\"pv-paragraph\" data-db-id=\"51497\" data-link-id=\"416\"><a data-link-type=\"internal\" class=\"pv-internal-link\" data-document-id=\"648\" data-section-task-id=\"427\" data-document-version=\"6\" data-document-type=\"0\" data-document-name=\"Set up VPA for Viva Bank\">Task 5.</a></p></td></tr></table>"
                  },
                  {
                    "id": "648-6-3-3",
                    "name": "Tasks",
                    "body": null
                  },
                  {
                    "id": "648-6-256-258",
                    "name": "Guidelines",
                    "body": "<p class=\"pv-header\" data-db-id=\"51590\" data-link-id=\"1322\"><span></span> Guidelines</p><p class=\"pv-paragraph\" data-db-id=\"51591\" data-link-id=\"1323\">The Viva Bank app can provide financial information and process transactions from any VPA-enabled device.</p>"
                  },
                  {
                    "id": "648-6-67-83",
                    "name": "Set up app on device",
                    "body": "<div data-link-id=\"423\" data-db-id=\"51499\"><div class=\"pv-task-header\">Set up app on device</div><div class=\"pv-task-details\" style=\"width:100%;\"><p class=\"pv-who\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-menupath\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-shortcut\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-trans\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-screen\" style=\"display:none;\" hidden=\"true\">&nbsp;</p></div></div><p class=\"pv-paragraph\" data-db-id=\"51500\" data-link-id=\"1299\"><span></span> <span class=\"pv-italic\">Say to the member...</span></p><p class=\"pv-bullet\" data-db-id=\"51501\" data-link-id=\"1300\" data-align=\"left\">On your mobile device, open the <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"To download the app, advise them to go to your app store and search for &quot;VPA app.&quot;\"><span class=\"pv-bold\">VPA</span> app.</a></p><p class=\"pv-bullet\" data-db-id=\"51502\" data-link-id=\"1301\" data-align=\"left\">From the <span class=\"pv-bold\">Home Screen,</span> tap the <span class=\"pv-bold\">Menu</span> <span></span> <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"Located at the top left of the screen.\">Hint.</a></p><p class=\"pv-bullet\" data-db-id=\"51503\" data-link-id=\"1302\" data-align=\"left\">Select <span class=\"pv-bold\">Skills &amp; Games.</span></p><p class=\"pv-bullet\" data-db-id=\"51504\" data-link-id=\"1303\" data-align=\"left\">Tap the <span class=\"pv-bold\">magnifying glass</span> <span></span> . <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"Located in the top right of the screen.\">Hint.</a></p><p class=\"pv-bullet\" data-db-id=\"51505\" data-link-id=\"1304\" data-align=\"left\">Type <span class=\"pv-bold\">Viva Bank</span> in the app name.</p><p class=\"pv-bullet\" data-db-id=\"51506\" data-link-id=\"1305\" data-align=\"left\">Tap <span class=\"pv-bold\">Search.</span></p><p class=\"pv-bullet\" data-db-id=\"51507\" data-link-id=\"1306\" data-align=\"left\">Tap <span class=\"pv-bold\">Enable.</span></p><p class=\"pv-bullet\" data-db-id=\"51508\" data-link-id=\"1307\" data-align=\"left\">Tap <span class=\"pv-bold\">Accept and Continue.</span></p><p class=\"pv-bullet\" data-db-id=\"51509\" data-link-id=\"1308\" data-align=\"left\">Type your online banking username.</p><p class=\"pv-bullet\" data-db-id=\"51510\" data-link-id=\"1309\" data-align=\"left\">Type your online banking password.</p><p class=\"pv-bullet\" data-db-id=\"51511\" data-link-id=\"1310\" data-align=\"left\">Tap <span class=\"pv-bold\">Verify.</span></p><p class=\"pv-bullet\" data-db-id=\"51512\" data-link-id=\"1311\" data-align=\"left\">Tap <span class=\"pv-bold\">Map Accounts</span></p><p class=\"pv-bullet\" data-db-id=\"51513\" data-link-id=\"1312\" data-align=\"left\">Type a 4-digit PIN.</p><p class=\"pv-bullet\" data-db-id=\"51514\" data-link-id=\"1313\" data-align=\"left\">Tap <span class=\"pv-bold\">Submit</span></p><p class=\"pv-bullet\" data-db-id=\"51604\" data-link-id=\"957\" data-align=\"left\">Go to <a data-link-type=\"internal\" class=\"pv-internal-link\" data-document-id=\"648\" data-section-task-id=\"429\" data-document-version=\"6\" data-document-type=\"0\" data-document-name=\"Set up VPA for Viva Bank\">task 6.</a></p>"
                  },
                  {
                    "id": "648-6-217-248",
                    "name": "Close call",
                    "body": "<div data-link-id=\"429\" data-db-id=\"49754\"><div class=\"pv-task-header\">Close call</div><div class=\"pv-task-details\" style=\"width:100%;\"><p class=\"pv-who\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-menupath\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-shortcut\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-trans\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-screen\" style=\"display:none;\" hidden=\"true\">&nbsp;</p></div></div><table class=\"pv-table\" data-width=\"100%\" data-db-id=\"48875\" data-link-id=\"184\" data-column-width=\"large small\"><tr class=\"pv-table-row\" data-header=\"true\" hidden=\"true\" data-db-id=\"51844\" data-link-id=\"1352\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"100%\" data-db-id=\"51845\" data-link-id=\"1353\" colspan=\"2\"><p class=\"pv-paragraph\" data-db-id=\"51846\" data-link-id=\"1354\"><br /></p></td></tr><tr class=\"pv-table-row\" data-db-id=\"48886\" data-link-id=\"188\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"100%\" data-db-id=\"48888\" data-link-id=\"189\" colspan=\"2\"><p class=\"pv-paragraph\" data-db-id=\"48890\" data-link-id=\"9\"><span></span> <span class=\"pv-italic\">Is there anything else I can help you with today?</span></p></td></tr></table><p class=\"pv-bullet\" data-db-id=\"51620\" data-link-id=\"14\" data-align=\"left\">Choose the next step:</p><table class=\"pv-table\" data-width=\"100%\" data-db-id=\"48900\" data-link-id=\"192\" data-column-width=\"small medium\"><tr class=\"pv-table-row\" data-header=\"true\" data-db-id=\"48902\" data-link-id=\"193\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"33%\" data-db-id=\"48904\" data-link-id=\"194\"><p class=\"pv-paragraph\" data-db-id=\"48906\" data-link-id=\"18\"><span class=\"pv-bold\">If...</span></p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"66%\" data-db-id=\"48908\" data-link-id=\"195\"><p class=\"pv-paragraph\" data-db-id=\"48910\" data-link-id=\"20\"><span class=\"pv-bold\">Then...</span></p></td></tr><tr class=\"pv-table-row\" data-db-id=\"48912\" data-link-id=\"196\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"33%\" data-db-id=\"48914\" data-link-id=\"197\"><p class=\"pv-paragraph\" data-db-id=\"48916\" data-link-id=\"23\">Yes</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"66%\" data-db-id=\"48918\" data-link-id=\"198\"><p class=\"pv-paragraph\" data-db-id=\"51621\" data-link-id=\"25\">Return to Home page.</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"48922\" data-link-id=\"199\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"33%\" data-db-id=\"48924\" data-link-id=\"200\"><p class=\"pv-paragraph\" data-db-id=\"48926\" data-link-id=\"28\">No</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"66%\" data-db-id=\"48928\" data-link-id=\"201\"><p class=\"pv-paragraph\" data-db-id=\"51622\" data-link-id=\"1340\">Thank them for calling.</p></td></tr></table><p class=\"pv-paragraph\" data-db-id=\"51624\" data-link-id=\"54\" data-align=\"left\"><br /></p>"
                  },
                  {
                    "id": "648-6-173-216",
                    "name": "Troubleshoot",
                    "body": "<div data-link-id=\"427\" data-db-id=\"51563\"><div class=\"pv-task-header\">Troubleshoot</div><div class=\"pv-task-details\" style=\"width:100%;\"><p class=\"pv-who\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-menupath\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-shortcut\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-trans\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-screen\" style=\"display:none;\" hidden=\"true\">&nbsp;</p></div></div><p class=\"pv-paragraph\" data-db-id=\"51564\" data-link-id=\"428\">The member has added the Viva Bank app to their device and needs help troubleshooting.</p><p class=\"pv-bullet\" data-db-id=\"51565\" data-link-id=\"651\" data-align=\"left\">Choose the next step:</p><table class=\"pv-table\" data-width=\"100%\" data-db-id=\"49713\" data-link-id=\"1244\" data-column-width=\"medium medium\"><tr class=\"pv-table-row\" data-header=\"true\" data-db-id=\"49714\" data-link-id=\"1245\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49715\" data-link-id=\"1246\"><p class=\"pv-paragraph\" data-db-id=\"49716\" data-link-id=\"655\">If...</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49717\" data-link-id=\"1247\"><p class=\"pv-paragraph\" data-db-id=\"49718\" data-link-id=\"657\">Then...</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49719\" data-link-id=\"1248\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49720\" data-link-id=\"1249\"><p class=\"pv-paragraph\" data-db-id=\"49721\" data-link-id=\"660\">VPA doesn't understand a request or has an unanticipated response</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49722\" data-link-id=\"1250\"><p class=\"pv-bullet\" data-db-id=\"51566\" data-link-id=\"662\" data-align=\"left\">Speak <span class=\"pv-bold\">\"cancel\"</span> into the device.</p><p class=\"pv-bullet\" data-db-id=\"51567\" data-link-id=\"663\" data-align=\"left\">VPA will confirm the process is cancelled.</p><p class=\"pv-bullet\" data-db-id=\"51568\" data-link-id=\"664\" data-align=\"left\">Restart the conversation.</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49726\" data-link-id=\"1251\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49727\" data-link-id=\"1252\"><p class=\"pv-paragraph\" data-db-id=\"51569\" data-link-id=\"667\">You receive the error \"There was a problem with the requested response\"</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49729\" data-link-id=\"1253\"><p class=\"pv-bullet\" data-db-id=\"51570\" data-link-id=\"669\" data-align=\"left\">VPA has encountered a problem completing the task.</p><p class=\"pv-bullet\" data-db-id=\"51571\" data-link-id=\"670\" data-align=\"left\">Say <span class=\"pv-bold\">\"VPA, cancel\"</span> and restart the conversation.</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49732\" data-link-id=\"1254\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49733\" data-link-id=\"1255\"><p class=\"pv-paragraph\" data-db-id=\"51572\" data-link-id=\"673\">You have more than one task to complete in the Viva Bank app</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49735\" data-link-id=\"1256\"><p class=\"pv-bullet\" data-db-id=\"51573\" data-link-id=\"675\" data-align=\"left\">Only one conversation can be conducted at a time.</p><p class=\"pv-bullet\" data-db-id=\"51574\" data-link-id=\"676\" data-align=\"left\">When the initial conversation is complete, start a new conversation by saying <span class=\"pv-bold\">\"VPA, ask Viva Bank to…\".</span></p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49738\" data-link-id=\"1257\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49739\" data-link-id=\"1258\"><p class=\"pv-paragraph\" data-db-id=\"49740\" data-link-id=\"679\">VPA doesn't recognize an account or gives an error that a nickname is not mapped for an account</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49741\" data-link-id=\"1259\"><p class=\"pv-paragraph\" data-db-id=\"51575\" data-link-id=\"681\">You can request a list of your mapped accounts by saying <span class=\"pv-bold\">\"VPA, what accounts do I have mapped?\"</span></p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49743\" data-link-id=\"1260\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49744\" data-link-id=\"1261\"><p class=\"pv-bullet\" data-db-id=\"51576\" data-link-id=\"684\" data-align=\"left\">You want to change your mapped nicknames; or</p><p class=\"pv-bullet\" data-db-id=\"51577\" data-link-id=\"685\" data-align=\"left\">You want to change your 4-digit security PIN; or</p><p class=\"pv-bullet\" data-db-id=\"51578\" data-link-id=\"686\" data-align=\"left\">You want to change your <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"This only affects the email address used by the Viva Bank app. It does not update the email addresses on file for you at the bank.\">email address;</a> or</p><p class=\"pv-bullet\" data-db-id=\"51579\" data-link-id=\"687\" data-align=\"left\">You want to change your <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"This only affects the mobile phone number used by the Viva Bank app. It does not update the mobile phone number on file for you at the bank.\">mobile phone number</a></p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49749\" data-link-id=\"1262\"><p class=\"pv-paragraph\" data-db-id=\"51580\" data-link-id=\"689\">Disable the VPA app, re-enable it, and complete the set up process again.</p><p class=\"pv-paragraph\" data-db-id=\"49751\" data-link-id=\"690\"> </p></td></tr></table><p class=\"pv-bullet\" data-db-id=\"51582\" data-link-id=\"692\" data-align=\"left\">Go to <a data-link-type=\"internal\" class=\"pv-internal-link\" data-document-id=\"648\" data-section-task-id=\"429\" data-document-version=\"6\" data-document-type=\"0\" data-document-name=\"Set up VPA for Viva Bank\">task 6.</a></p>"
                  },
                  {
                    "id": "648-6-0-2",
                    "name": "Taskflow",
                    "body": "<p class=\"pv-header\" data-db-id=\"49257\" data-link-id=\"147\"> <span></span> Task level instructions</p><p class=\"pv-bullet\" data-db-id=\"51450\" data-link-id=\"290\" data-align=\"left\">Click a task to display its instructions.</p>"
                  },
                  {
                    "id": "648-6-84-172",
                    "name": "Use app",
                    "body": "<div data-link-id=\"425\" data-db-id=\"51516\"><div class=\"pv-task-header\">Use app</div><div class=\"pv-task-details\" style=\"width:100%;\"><p class=\"pv-who\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-menupath\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-shortcut\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-trans\" style=\"display:none;\" hidden=\"true\">&nbsp;</p><p class=\"pv-screen\" style=\"display:none;\" hidden=\"true\">&nbsp;</p></div></div><table class=\"pv-table\" data-width=\"100%\" data-db-id=\"49573\" data-link-id=\"1208\" data-column-width=\"large small\"><tr class=\"pv-table-row\" data-header=\"true\" hidden=\"true\" data-db-id=\"52153\" data-link-id=\"1357\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"100%\" data-db-id=\"52154\" data-link-id=\"1358\" colspan=\"2\"><p class=\"pv-paragraph\" data-db-id=\"52155\" data-link-id=\"1359\"><br /></p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49585\" data-link-id=\"1212\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"100%\" data-db-id=\"49587\" data-link-id=\"1213\" colspan=\"2\"><p class=\"pv-paragraph\" data-db-id=\"51522\" data-link-id=\"497\"><span></span> <span class=\"pv-bold\">Advise the member...</span></p><p class=\"pv-paragraph\" data-db-id=\"51523\" data-link-id=\"498\"> </p><p class=\"pv-paragraph\" data-db-id=\"49595\" data-link-id=\"500\"><span class=\"pv-italic\">You can begin a conversation with VPA in one of two ways:</span></p><p class=\"pv-paragraph\" data-db-id=\"49597\" data-link-id=\"501\"> </p><p class=\"pv-bullet\" data-db-id=\"51524\" data-link-id=\"502\" data-align=\"left\"><span class=\"pv-italic\">Say <span class=\"pv-bold\">\"VPA, open Viva Bank\"</span></span> &nbsp;<a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"This opens the app and begins a general conversation.\">Example;</a> or</p><p class=\"pv-bullet\" data-db-id=\"51525\" data-link-id=\"503\" data-align=\"left\"><span class=\"pv-italic\">Say <span class=\"pv-bold\">\"VPA, tell Viva Bank...\"</span></span> &nbsp;<a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"This skips the welcome message and VPA begins the request immediately.\">Example</a></p><p class=\"pv-paragraph\" data-db-id=\"49603\" data-link-id=\"504\"> </p><p class=\"pv-paragraph\" data-db-id=\"51526\" data-link-id=\"505\"><span class=\"pv-italic\">Once you've started a conversation, VPA responds with questions when she needs information to complete a task.</span></p><p class=\"pv-paragraph\" data-db-id=\"49607\" data-link-id=\"506\"> </p><p class=\"pv-paragraph\" data-db-id=\"51527\" data-link-id=\"507\"><span class=\"pv-italic\">If VPA prompts you for your <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"That you assigned during the app set-up.\">4-digit PIN,</a> say the PIN out loud to authenticate.</span></p><p class=\"pv-paragraph\" data-db-id=\"49611\" data-link-id=\"508\"> </p><p class=\"pv-paragraph\" data-db-id=\"51528\" data-link-id=\"509\"><span class=\"pv-italic\">To stop the conversation at any time just say <span class=\"pv-bold\">\"Cancel.\"</span></span></p></td></tr></table><div data-link-id=\"_517\" data-db-id=\"49621\"><div class=\"pv-secondary-window-title-hidden\" hidden=\"hidden\" style=\"display:none;\">Common commands for VPA</div><p class=\"pv-secondary-window-link-container\">For a list of common commands,<a href=\"javascript:void(0)\" class=\"pv-secondary-window-link\" title=\"Click here to open secondary window.\" data-db-id=\"49621\" data-link-id=\"_517\">click here.</a></p><div><div class=\"pv-secondary-window\" data-db-id=\"49621\" data-link-id=\"517\" id=\"secondary_517\"><div class=\"pv-secondary-window-title\" data-db-id=\"49621\" data-link-id=\"517\">Common commands for VPA</div><table class=\"pv-table\" data-width=\"100%\" data-db-id=\"49623\" data-link-id=\"1217\" data-column-width=\"medium medium\"><tr class=\"pv-table-row\" data-header=\"true\" data-db-id=\"49625\" data-link-id=\"1218\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49627\" data-link-id=\"1219\"><p class=\"pv-paragraph\" data-db-id=\"51530\" data-link-id=\"521\">To...</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49631\" data-link-id=\"1220\"><p class=\"pv-paragraph\" data-db-id=\"51531\" data-link-id=\"523\">Say something like...</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49635\" data-link-id=\"1221\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49637\" data-link-id=\"1222\"><p class=\"pv-paragraph\" data-db-id=\"49639\" data-link-id=\"526\">Cancel a debit card</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49641\" data-link-id=\"1223\"><p class=\"pv-bullet\" data-db-id=\"51532\" data-link-id=\"528\" data-align=\"left\">\"VPA, tell Viva Bank that I lost my debit card;\" or</p><p class=\"pv-bullet\" data-db-id=\"51533\" data-link-id=\"529\" data-align=\"left\">\"VPA, tell Viva Bank to cancel my card.\"</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49647\" data-link-id=\"1224\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49649\" data-link-id=\"1225\"><p class=\"pv-paragraph\" data-db-id=\"49651\" data-link-id=\"532\">Perform an <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"Only for internal transfers. Transfers to external accounts is not supported.\">immediate transfer</a></p><p class=\"pv-bullet\" data-db-id=\"51534\" data-link-id=\"533\" data-align=\"left\">From share to share; or</p><p class=\"pv-bullet\" data-db-id=\"51535\" data-link-id=\"534\" data-align=\"left\">From share to <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"Including 1st mortgages\">loan</a></p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49657\" data-link-id=\"1226\"><p class=\"pv-bullet\" data-db-id=\"51536\" data-link-id=\"536\" data-align=\"left\">\"VPA, tell Viva Bank to</p><p class=\"pv-sub-bullet\" data-db-id=\"51537\" data-link-id=\"537\" data-align=\"left\">Transfer $10 from savings to checking; or</p><p class=\"pv-sub-bullet\" data-db-id=\"51538\" data-link-id=\"538\" data-align=\"left\">Pay my auto loan.</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49665\" data-link-id=\"1227\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49667\" data-link-id=\"1228\"><p class=\"pv-paragraph\" data-db-id=\"49668\" data-link-id=\"541\">Get the balance for a share</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49669\" data-link-id=\"1229\"><p class=\"pv-bullet\" data-db-id=\"51539\" data-link-id=\"543\" data-align=\"left\">\"VPA, ask Viva Bank</p><p class=\"pv-sub-bullet\" data-db-id=\"51540\" data-link-id=\"544\" data-align=\"left\">What is my savings balance?\" or</p><p class=\"pv-bullet\" data-db-id=\"51541\" data-link-id=\"545\" data-align=\"left\">\"VPA, tell Viva Bank to</p><p class=\"pv-sub-bullet\" data-db-id=\"51542\" data-link-id=\"546\" data-align=\"left\">Text me my savings balance;\" or</p><p class=\"pv-sub-bullet\" data-db-id=\"51543\" data-link-id=\"547\" data-align=\"left\">Email me my savings balance.\"</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49675\" data-link-id=\"1230\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49676\" data-link-id=\"1231\"><p class=\"pv-paragraph\" data-db-id=\"49677\" data-link-id=\"550\">Get your share history</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49678\" data-link-id=\"1232\"><p class=\"pv-bullet\" data-db-id=\"51544\" data-link-id=\"552\" data-align=\"left\">\"VPA, ask Viva Bank to</p><p class=\"pv-sub-bullet\" data-db-id=\"51545\" data-link-id=\"553\" data-align=\"left\">Tell me about my savings account history;\" or</p><p class=\"pv-sub-bullet\" data-db-id=\"51546\" data-link-id=\"554\" data-align=\"left\">Text me my savings account history;\" or</p><p class=\"pv-sub-bullet\" data-db-id=\"51547\" data-link-id=\"555\" data-align=\"left\">Email me my savings account history.\"</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49683\" data-link-id=\"1233\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49684\" data-link-id=\"1234\"><p class=\"pv-paragraph\" data-db-id=\"49685\" data-link-id=\"636\">Get <a class=\"pv-tooltip-link\" href=\"javascript:void(0);\" title=\"• Balance&#xA; • Payment amount due&#xA; • Payment due date&#xA; • Payoff amount\">information</a> about a specific loan</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49686\" data-link-id=\"1235\"><p class=\"pv-bullet\" data-db-id=\"51548\" data-link-id=\"638\" data-align=\"left\">\"VPA, ask Viva Bank to</p><p class=\"pv-sub-bullet\" data-db-id=\"51549\" data-link-id=\"639\" data-align=\"left\">Tell me about my auto loan; or</p><p class=\"pv-sub-bullet\" data-db-id=\"51550\" data-link-id=\"640\" data-align=\"left\">Text me information about my auto loan; or</p><p class=\"pv-sub-bullet\" data-db-id=\"51551\" data-link-id=\"641\" data-align=\"left\">Email me information about my auto loan.\"</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49691\" data-link-id=\"1236\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49692\" data-link-id=\"1237\"><p class=\"pv-paragraph\" data-db-id=\"49693\" data-link-id=\"558\">Get information about all of your shares</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49694\" data-link-id=\"1238\"><p class=\"pv-bullet\" data-db-id=\"51552\" data-link-id=\"560\" data-align=\"left\">\"VPA ask Viva Bank</p><p class=\"pv-sub-bullet\" data-db-id=\"51553\" data-link-id=\"561\" data-align=\"left\">What are my shares? or</p><p class=\"pv-sub-bullet\" data-db-id=\"51554\" data-link-id=\"562\" data-align=\"left\">To text me a summary of my shares; or</p><p class=\"pv-sub-bullet\" data-db-id=\"51555\" data-link-id=\"563\" data-align=\"left\">To email me a summary of my shares.\"</p></td></tr><tr class=\"pv-table-row\" data-db-id=\"49699\" data-link-id=\"1239\"><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49700\" data-link-id=\"1240\"><p class=\"pv-paragraph\" data-db-id=\"49701\" data-link-id=\"566\">Request the User Help document</p></td><td valign=\"top\" class=\"pv-table-cell\" data-width=\"50%\" data-db-id=\"49702\" data-link-id=\"1241\"><p class=\"pv-bullet\" data-db-id=\"51556\" data-link-id=\"568\" data-align=\"left\">\"VPA, ask Viva Bank</p><p class=\"pv-sub-bullet\" data-db-id=\"51557\" data-link-id=\"569\" data-align=\"left\">What commands I can use;\" or</p><p class=\"pv-sub-bullet\" data-db-id=\"51558\" data-link-id=\"570\" data-align=\"left\">\"To send user commands.\"</p></td></tr></table></div></div></div><p class=\"pv-bullet\" data-db-id=\"51562\" data-link-id=\"644\" data-align=\"left\">Go to <a data-link-type=\"internal\" class=\"pv-internal-link\" data-document-id=\"648\" data-section-task-id=\"429\" data-document-version=\"6\" data-document-type=\"0\" data-document-name=\"Set up VPA for Viva Bank\">task 6.</a></p>"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan's rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
[...]
