{
  "swagger": "2.0",
  "info": {
    "title": "Panviva",
    "version": "1.1",
    "description": "Panviva is an omnichannel knowledge management solution. Our priority is to aid our clients in keeping their employees happy, so that they can focus on ensuring their customers are happy. Digitally transforming organisations for the last 20 years, we're now helping our customers to deliver knowledge nuggets to their employees and customers, whether they are in the home or the office - anytime and anywhere.",
    "contact": {
      "name": "Panviva Customer Advocacy Team",
      "url": "https://www.panviva.com/support",
      "email": "support@panviva.com"
    }
  },
  "host": "api.panviva.com",
  "basePath": "/v3",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.panviva.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.panviva.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management;Productivity"
    }
  ],
  "paths": {
    "/{instance}/operations/search": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Search Panviva by term, regular expression and filter by attributes",
        "description": "Searches documents, folders, and files (external documents) for a term and returns paginated results",
        "operationId": "OperationsSearch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "query",
            "name": "term",
            "description": "The word or phrase to be searched for. You can provide advanced search requests using Regex and/or attribute filtering with Lucene syntax. Note : These special characters are reserved and must be escaped with a backslash ```\\``` when you want to use them within the regex pattern ``` +  -  =  &&  ||  <  > !  (  )  {  }  [  ]  ^  \"  ~  *  ?  :  \\  / ```<br><para>Example 1. Term search</para><br>```/operations/search?term=help``` matches documents that contain the word 'help'<br></para><para>Example 2. Use Regular expression as search term<br>```/operations/search?term=/web?enabled/``` Matches enabled and webenabled<br></para><para>Example 3: Filter by attribute using Regex<br>```/operations/search?term=data.attributes.name:/[Tt]est|[Pp]attern/``` Matches documents that contain 'Test' or 'Pattern' in the title.<br></para><para>Example 4. Search for term with a date filter.<br>```/operations/search?term=example AND data.attributes.updatedDate:[2020-01-01 TO 2020-12-31]``` Matches the word example in documents that were updated in 2020<br>Example 5. Fuzzy search<br>```/operations/search?term=suplier~2``` Fuzzy search can be used to compensate for spelling errors, in this case '2' signifies the allowed distance.<br>Valid attributes are ```data.attributes.name```, ```data.attributes.version```, ```data.attributes.language```, ```data.attributes.release```,```data.attributes.changeNote```, ```data.attributes.layout```, ```data.attributes.documentType```, ```data.attributes.releaseDate```, ```data.attributes.updatedDate, ```data.attributes.createdDate```",
            "required": true,
            "type": "string",
            "x-ms-summary": "Term",
            "x-ms-visibility": "important"
          },
          {
            "in": "query",
            "name": "pageOffset",
            "description": "The pagination offset to denote the number of initial search results to skip. For example, pageOffset of 100 and pageLimit of 10 would return records 101-110.",
            "type": "integer",
            "default": 0,
            "x-ms-summary": "Page Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "pageLimit",
            "description": "The number of records to return. Must be an integer between 0 and 1000.",
            "type": "integer",
            "default": 20,
            "x-ms-summary": "Page Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "changedWhen",
            "description": "Helper keywords for applying filters for documents updated in range. Valid values are today, yesterday, thisWeek, LastWeek, thisMonth, lastMonth, thisYear and lastYear.<br>For example: ```/operations/search?term={term}&changedWhen=thisWeek```",
            "type": "string",
            "default": "NotProvided",
            "x-ms-summary": "Changed When",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "directParentFolderId",
            "description": "Search only within given Folder. Any documents in the sub folders are not searched. If not provided, resources are searched across all folders",
            "type": "integer",
            "x-ms-summary": "Direct Parent Folder Id",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "userName",
            "description": "Username of user doing the search",
            "type": "string",
            "x-ms-summary": "User Name",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "simpleSnippet",
            "description": "Parameter for getting only plain text in 'snippet' field. If not provided as ```/operations/search?term={term}&simpleSnippet=true``` The snippet filed will include HTML elements.",
            "type": "boolean",
            "default": false,
            "x-ms-summary": "Simple Snippet",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetSearchResponse"
            },
            "examples": {
              "application/json": {
                "results": [
                  {
                    "type": "document",
                    "id": "123",
                    "name": "Spiderman",
                    "layout": "topTabsMedium",
                    "description": "The chronicles of Spiderman",
                    "classification": "films",
                    "updatedDate": "2018-05-04T00:00:00Z",
                    "matchedFields": [
                      "name"
                    ],
                    "snippet": "Spiderman is a super<em>hero</em>",
                    "language": "en-AU",
                    "links": [
                      {
                        "href": "https://dev.panviva.com/v3/marvel/resources/documents/123",
                        "rel": "document",
                        "type": "GET"
                      }
                    ]
                  },
                  {
                    "type": "folder",
                    "id": "32",
                    "name": "Marvel Trivia",
                    "description": "All things Marvel",
                    "matchedFields": [
                      "name"
                    ],
                    "snippet": "<em>Marvel</em> Trivia",
                    "language": "en-AU",
                    "links": [
                      {
                        "href": "https://dev.panviva.com/v3/marvel/resources/folder/32",
                        "rel": "file",
                        "type": "GET"
                      }
                    ]
                  },
                  {
                    "type": "file",
                    "id": "124",
                    "name": "Spiderman Book",
                    "fileName": "spiderman-1.pdf",
                    "description": "A book detailing the history of Spiderman",
                    "classification": "books",
                    "updatedDate": "2018-05-04T00:00:00Z",
                    "matchedFields": [
                      "content",
                      "name",
                      "fileName"
                    ],
                    "snippet": "Spiderman is a <em>hero</em> born in New York",
                    "language": "en-AU",
                    "links": [
                      {
                        "href": "https://dev.panviva.com/v3/marvel/resources/files/124",
                        "rel": "file",
                        "type": "GET"
                      }
                    ]
                  }
                ],
                "total": 57,
                "links": [
                  {
                    "href": "https://dev.panviva.com/v3/marvel/operations/search?term=hero&pageOffset=0&pageLimit=2",
                    "rel": "first",
                    "type": "GET"
                  },
                  {
                    "href": "https://dev.panviva.com/v3/marvel/operations/search?term=hero&pageOffset=56&pageLimit=2",
                    "rel": "last",
                    "type": "GET"
                  },
                  {
                    "href": "https://dev.panviva.com/v3/marvel/operations/search?term=hero&pageOffset=2&pageLimit=2",
                    "rel": "prev",
                    "type": "GET"
                  },
                  {
                    "href": "https://dev.panviva.com/v3/marvel/operations/search?term=hero&pageOffset=6&pageLimit=2",
                    "rel": "next",
                    "type": "GET"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/operations/artefact/nls": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Perform NLS search",
        "description": "Return search results for a given query",
        "operationId": "OperationsSearchArtefacts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "query",
            "name": "simplequery",
            "description": "Natural language query string. For example: ```Action Movies```. (Note: Use simplequery OR advancedquery, not both.)",
            "type": "string",
            "x-ms-summary": "Simplequery",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "advancedquery",
            "description": "Query string written in Lucene query syntax. For example: ```films AND \"a story\"```. (Note: Use simplequery OR advancedquery, not both.)",
            "type": "string",
            "x-ms-summary": "Advancedquery",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Accepts a filter string written in OData expression syntax. Examples: ```category/name eq 'Mortgages'```, ```panvivaDocumentVersion gt '8'```. (Filterable fields include dateCreated, dateModified, dateDeleted, category/name, category/dateCreated, category/dateModified, metaData/keyword/values, metaData/keyword/dataType, title, primaryQuery, isDeleted, timestamp, panvivaDocumentId, panvivaDocumentVersion, id)",
            "type": "string",
            "x-ms-summary": "Filter",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "channel",
            "description": "Return response for a specific channel, instead of the default",
            "type": "string",
            "x-ms-summary": "Channel",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "pageOffset",
            "description": "The pagination offset to denote the number of initial search results to skip. For example, pageOffset of 100 and pageLimit of 10 would return records 101-110.",
            "type": "integer",
            "x-ms-summary": "Page Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "pageLimit",
            "description": "The number of records to return. Must be an integer between 0 and 1000.",
            "type": "integer",
            "x-ms-summary": "Page Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "facet",
            "description": "Accepts a string denoting the field to facet by. Examples: ```facet=metaData/keyword/values```, ```facet=category/name```. (Facetable fields include metaData/keyword/values, category/id, category/name and panvivaDocumentId)",
            "type": "string",
            "x-ms-summary": "Facet",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "highlightTags",
            "description": "Accepts highlight pre and post tags in [start-tag,end-tag] template. Example : ```<em>,</em>```. (Note : Default highlight tag is ``` *,* ```)",
            "type": "string",
            "x-ms-summary": "Highlight Tags",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetEnrichedSearchArtefactResponse"
            },
            "examples": {
              "application/json": {
                "facets": [
                  {
                    "field": "metaData/Superheroes/values",
                    "groups": [
                      {
                        "key": "Captain America",
                        "value": 1
                      },
                      {
                        "key": "Captain Marvel",
                        "value": 1
                      }
                    ]
                  },
                  {
                    "field": "metaData/Villains/values",
                    "groups": [
                      {
                        "key": "Thanos",
                        "value": 1
                      }
                    ]
                  }
                ],
                "results": [
                  {
                    "id": "ae18c1ae-dd63-445b-b69a-46d89f8c315c",
                    "content": [
                      {
                        "mediaType": "text/plain",
                        "text": "The Marvel Cinematic Universe (MCU) is an American media franchise and shared universe that is centered on a series of superhero films. Many of these superheroes you have come to love.",
                        "href": null,
                        "resourceLocation": null
                      }
                    ],
                    "simpleContent": "The Marvel Cinematic Universe (MCU) is an American media franchise and shared universe that is centered on a series of superhero films. Many of these superheroes you have come to love.",
                    "category": {
                      "name": "Marvel Cinematic Universe",
                      "id": 1,
                      "dateCreated": "2018-09-05T04:12:52.83+00:00",
                      "dateModified": "2018-09-05T04:12:52.83+00:00"
                    },
                    "metaData": {
                      "Superheroes": {
                        "values": [
                          "Captain America",
                          "Captain Marvel"
                        ],
                        "dataType": "string"
                      },
                      "Villains": {
                        "values": [
                          "Thanos"
                        ],
                        "dataType": "string"
                      }
                    },
                    "searchScore": 0.99844,
                    "links": [
                      {
                        "href": "https://dev.panviva.com/v3/marvel/resources/artefacts/12",
                        "rel": "artefact",
                        "type": "GET"
                      }
                    ],
                    "queryVariations": [
                      {
                        "id": 1,
                        "query": "What fictional universe does Captain America belong to?"
                      }
                    ],
                    "primaryQuery": "What is the Marvel Cinematic Universe?",
                    "panvivaDocumentId": 235,
                    "panvivaDocumentVersion": 5,
                    "title": "About Marvel Cinematic Universe",
                    "highlights": {
                      "primaryQuery": "What is the *Marvel* Cinematic Universe?",
                      "title": "About *Marvel* Cinematic Universe"
                    }
                  }
                ],
                "total": 1
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/operations/live/csh": {
      "post": {
        "tags": [
          "Operations"
        ],
        "summary": "Live CSH : POST",
        "description": "Present a CSH search result page of the passing query on Panviva client to specified user on Panviva client",
        "operationId": "OperationsLiveCSH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON object containing information required to perform a live activity<span>:</span>",
            "schema": {
              "$ref": "#/definitions/PostLiveCshRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed. There is a possibility that the request will fail, if it is disallowed when processing actually takes place. There is no facility for sending a completion-status code from this operation.",
            "schema": {
              "$ref": "#/definitions/PostLiveCshResponse"
            },
            "examples": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/operations/live/document": {
      "post": {
        "tags": [
          "Operations"
        ],
        "summary": "Live Document : POST",
        "description": "Present a document page to specified user on Panviva client",
        "operationId": "OperationsLiveDocument",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON object containing information required to perform a live activity<span>:</span>",
            "schema": {
              "$ref": "#/definitions/PostLiveDocumentRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed. There is a possibility that the request will fail, if it is disallowed when processing actually takes place. There is no facility for sending a completion-status code from this operation.",
            "schema": {
              "$ref": "#/definitions/PostLiveDocumentResponse"
            },
            "examples": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Container not found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "409": {
            "description": "The request cannot be processed due to both location and container id being provided, or the container id provided doesn't match the document id."
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/operations/live/search": {
      "post": {
        "tags": [
          "Operations"
        ],
        "summary": "Live Search : POST",
        "description": "Present a search result page of the passing query on Panviva client to specified user on Panviva client",
        "operationId": "OperationsLiveSearch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "JSON object containing information required to perform a live activity<span>:</span>",
            "schema": {
              "$ref": "#/definitions/PostLiveSearchRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed. There is a possibility that the request will fail, if it is disallowed when processing actually takes place. There is no facility for sending a completion-status code from this operation.",
            "schema": {
              "$ref": "#/definitions/PostLiveSearchResponse"
            },
            "examples": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/operations/echo": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Echo a request",
        "description": "Echo a request to verify connectivity with the Panviva API",
        "operationId": "OperationsEcho",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload."
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/resources/container/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a Container from a Panviva Document",
        "description": "Return a container using the container ID provided",
        "operationId": "ResourcesContainer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The id of a document container",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetContainerResponse"
            },
            "examples": {
              "application/json": {
                "id": "343-229-1-2",
                "name": "Captain America: Civil War",
                "body": "<div data-link-id='2' data-db-id='208155'><div class='pv-task-header'>Captain America: Civil War</div><div class='pv-task-details' style='width:100%;'><p class='pv-who' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-menupath' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-shortcut' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-trans' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-screen' style='display:none;' hidden='true'>&nbsp;</p></div></div><p class='pv-paragraph' data-db-id='208156' data-link-id='3'><span><img class='pv-image' data-image-id='738' alt='SupportPoint Image 738' data-width='128' data-height='128' style='width:128px;height:128px;' /></span></p>"
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/resources/document/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a Panviva Document",
        "description": "Return a document using the document ID provided",
        "operationId": "ResourcesDocument",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "id",
            "description": "A document unique identifier, Document ID. If a document is a translated document, this value represents Internal ID or IID in Panviva API v1.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "query",
            "name": "version",
            "description": "Request the API to return a particular version of the specified document.",
            "type": "integer",
            "x-ms-summary": "Version",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "userName",
            "description": "Username of user trying to access document",
            "type": "string",
            "x-ms-summary": "User Name",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetDocumentResponse"
            },
            "examples": {
              "application/json": {
                "id": "343",
                "name": "Marvel Cinematic Universe (Films)",
                "description": "The Marvel Cinematic Universe (MCU) is an American media franchise and shared universe that is centered on a series of superhero films.",
                "version": 229,
                "language": "en-AU",
                "tags": [
                  {
                    "name": "Rank",
                    "value": "1"
                  },
                  {
                    "name": "Effective date",
                    "value": "2018-05-04T00:00:00Z"
                  }
                ],
                "hidden": false,
                "type": "document",
                "release": 33,
                "released": true,
                "copyright": "Marvel Studios, LLC",
                "classification": "films",
                "status": "Phase Three",
                "percentage": 100,
                "releaseDate": "2017-09-09T04:12:52.83Z",
                "layout": "leftTabsMedium",
                "training": {
                  "failureFeedback": "Please review the Marvel documentation in document 343",
                  "forcePageSequence": true,
                  "forceQuestionSequence": true,
                  "passingScore": 10,
                  "successFeedback": "With great power comes great responsibility."
                },
                "keywords": [
                  "Iron Man",
                  "Hulk",
                  "Thor",
                  "Captain America",
                  "Avenger",
                  "Guardians of the Galaxy",
                  "Ant-Man",
                  "Doctor Strange",
                  "Spider-Man",
                  "Black Panter",
                  "Captain Marvel"
                ],
                "cshKeywords": [
                  "Chrome",
                  "MCU"
                ],
                "updatedDate": "2017-09-09T04:12:52.83Z",
                "createdDate": "2017-08-09T04:02:46.907Z",
                "reusableContent": false,
                "changeNote": "Added in Captain Marvel",
                "links": [
                  {
                    "href": "https://dev.panviva.com/v3/marvel/resources/document/343/translations",
                    "rel": "translations",
                    "type": "GET"
                  },
                  {
                    "href": "https://dev.panviva.com/v3/marvel/resources/document/343/containers",
                    "rel": "containers",
                    "type": "GET"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/resources/artefact/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a Panviva Artefact",
        "description": "Return an artefact using the ID provided",
        "operationId": "ResourcesArtefact",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The id (ID) of an artefact",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetEnrichedResponseResponse"
            },
            "examples": {
              "application/json": {
                "links": [
                  {
                    "href": "https://dev.panviva.com/v3/marvel/resources/document/343?version=229",
                    "rel": "document",
                    "type": "GET"
                  }
                ],
                "title": "About Marvel Cinematic Universe",
                "content": [
                  {
                    "mediaType": "text/plain",
                    "text": "The Marvel Cinematic Universe (MCU) is an American media franchise and shared universe that is centered on a series of superhero films.",
                    "href": null,
                    "resourceLocation": null
                  },
                  {
                    "mediaType": "image/jpeg",
                    "text": null,
                    "href": "https://terrigen-cdn-dev.marvel.com/content/prod/1x/mi-promo-featured-half-dsk-1140x680.jpg",
                    "resourceLocation": "external"
                  },
                  {
                    "mediaType": "text/plain",
                    "text": "The franchise has been commercially successful and has generally received a positive critical response",
                    "href": null,
                    "resourceLocation": null
                  }
                ],
                "simpleContent": "The Marvel Cinematic Universe (MCU) is an American media franchise and shared universe that is centered on a series of superhero films.\nThe franchise has been commercially successful and has generally received a positive critical response",
                "variations": [
                  {
                    "content": [
                      {
                        "mediaType": "text/plain",
                        "text": "The Marvel Cinematic Universe is a shared universe that is centered on a series of superhero films.",
                        "href": null,
                        "resourceLocation": null
                      }
                    ],
                    "simpleContent": "The Marvel Cinematic Universe is a shared universe that is centered on a series of superhero films.",
                    "channels": [
                      {
                        "id": 0,
                        "name": "Amazon Alexa"
                      }
                    ],
                    "id": 2,
                    "dateCreated": "2018-09-10T04:12:52.83+00:00",
                    "dateModified": "2018-09-10T04:12:52.83+00:00"
                  }
                ],
                "category": {
                  "name": "Marvel Cinematic Universe",
                  "id": 1,
                  "dateCreated": "2018-09-05T04:12:52.83+00:00",
                  "dateModified": "2018-09-05T04:12:52.83+00:00"
                },
                "primaryQuery": "What is the Marvel Cinematic Universe?",
                "queryVariations": [
                  {
                    "id": 12,
                    "query": "What fictional universe does Captain America belong to?"
                  }
                ],
                "panvivaDocumentId": 235,
                "panvivaDocumentVersion": 5,
                "metaData": {
                  "Superheroes": {
                    "values": [
                      "Captain America",
                      "Captain Marvel"
                    ],
                    "dataType": "string"
                  },
                  "Villains": {
                    "values": [
                      "Thanos"
                    ],
                    "dataType": "string"
                  }
                },
                "id": "ae18c1ae-dd63-445b-b69a-46d89f8c315c",
                "dateCreated": "2018-09-09T04:12:52.83+00:00",
                "dateModified": "2018-09-10T04:12:52.83+00:00"
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resources"
        ],
        "summary": "Updates a published artefact",
        "description": "Updates an already published artefact",
        "operationId": "ResourcesPublishArtefact",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "id",
            "description": "Response Id",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "description": "request object",
            "schema": {
              "$ref": "#/definitions/PutArtefactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PutArtefactResponse"
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/resources/document/{id}/containers": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a list of all containers from a Panviva Document",
        "description": "Return a list of containers using the document ID provided",
        "operationId": "ResourcesDocumentContainers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The internal id (IID) of a Panviva document",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "query",
            "name": "version",
            "description": "Request the API to return containers belonging to a particular version of the specified document.",
            "type": "integer",
            "x-ms-summary": "Version",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetDocumentContainersResponse"
            },
            "examples": {
              "application/json": {
                "containers": [
                  {
                    "id": "343-229-0-0",
                    "name": "Phase Three",
                    "body": null
                  },
                  {
                    "id": "343-229-1-2",
                    "name": "Captain America: Civil War",
                    "body": "<div data-link-id='2' data-db-id='208155'><div class='pv-task-header'>Captain America: Civil War</div><div class='pv-task-details' style='width:100%;'><p class='pv-who' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-menupath' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-shortcut' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-trans' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-screen' style='display:none;' hidden='true'>&nbsp;</p></div></div><p class='pv-paragraph' data-db-id='208156' data-link-id='3'><span><img class='pv-image' data-image-id='738' alt='SupportPoint Image 738' data-width='128' data-height='128' style='width:128px;height:128px;' /></span></p>"
                  },
                  {
                    "id": "343-229-3-4",
                    "name": "Doctor Strange",
                    "body": "<div data-link-id='4' data-db-id='208157'><div class='pv-task-header'>Doctor Strange</div><div class='pv-task-details' style='width:100%;'><p class='pv-who' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-menupath' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-shortcut' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-trans' style='display:none;' hidden='true'>&nbsp;</p><p class='pv-screen' style='display:none;' hidden='true'>&nbsp;</p></div></div><p class='pv-paragraph' data-db-id='208158' data-link-id='5'>Mr. Doctor?</p>"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/resources/document/{id}/containers/relationships": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a list of relationships for the containers in a Panviva Document",
        "description": "Return a list of the parent-child relationship between each container for the document ID provided",
        "operationId": "ResourcesDocumentContainerRelationships",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The internal id (IID) of a Panviva document",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetDocumentContainerRelationshipsResponse"
            },
            "examples": {
              "application/json": {
                "relationships": [
                  {
                    "id": "343-229-0-0",
                    "parent": null,
                    "children": [
                      "343-229-1-2",
                      "343-229-3-4"
                    ],
                    "taskFlow": null
                  },
                  {
                    "id": "343-229-1-2",
                    "parent": "343-229-0-0",
                    "children": null,
                    "taskFlow": null
                  },
                  {
                    "id": "343-229-3-4",
                    "parent": "343-229-0-0",
                    "children": null,
                    "taskFlow": null
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/resources/document/{id}/translations": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a list of translations of a Panviva Document",
        "description": "Return a list of all translations (per language and locale) of a Panviva document",
        "operationId": "ResourcesDocumentTranslations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The internal id (IID) of a Panviva document.",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetDocumentTranslationsResponse"
            },
            "examples": {
              "application/json": {
                "translations": [
                  {
                    "id": "568",
                    "name": "Univers cinÃ©matographique Marvel. (Films)",
                    "description": "Marvel Cinematic Universe (MCU) est une franchise de médias américains et un univers partagé centré sur une série de films de super héros.",
                    "version": 52,
                    "language": "fr-FR",
                    "tags": [
                      {
                        "name": "Rang",
                        "value": "2"
                      },
                      {
                        "name": "Date effective",
                        "value": "2018-05-04T00:00:00Z"
                      }
                    ],
                    "hidden": false,
                    "type": "document",
                    "release": 23,
                    "released": true,
                    "copyright": "Marvel Studios, LLC",
                    "classification": "films",
                    "status": "Phase Trois",
                    "percentage": 100,
                    "releaseDate": "2017-09-09T04:12:52.83Z",
                    "layout": "leftTabsMedium",
                    "training": {
                      "failureFeedback": "Veuillez consulter la documentation Marvel dans le document 343",
                      "forcePageSequence": true,
                      "forceQuestionSequence": true,
                      "passingScore": 10,
                      "successFeedback": "Un grand pouvoir implique de grandes responsabilités"
                    },
                    "keywords": [
                      "Iron Man",
                      "Hulk",
                      "Thor",
                      "Captain America",
                      "Avenger",
                      "Guardians of the Galaxy",
                      "Ant-Man",
                      "Doctor Strange",
                      "Spider-Man",
                      "Black Panter",
                      "Captain Marvel"
                    ],
                    "cshKeywords": [
                      "Chrome",
                      "MCU"
                    ],
                    "updatedDate": "2017-09-09T04:12:52.83Z",
                    "createdDate": "2017-08-09T04:02:46.907Z",
                    "reusableContent": false,
                    "changeNote": "Added in Captain Marvel",
                    "links": [
                      {
                        "href": "https://dev.panviva.com/v3/marvel/resources/document/568/translations",
                        "rel": "translations",
                        "type": "GET"
                      }
                    ]
                  }
                ],
                "origin": "343"
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
              "application/json": {
                "errorCode": "503",
                "message": "Service Unavailable"
              }
            }
          }
        }
      }
    },
    "/{instance}/resources/file/{id}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "summary": "Get a file from Panviva",
        "description": "Returns a file (external document) from Panviva",
        "operationId": "ResourcesFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "instance",
            "description": "The instance name as shown on the Panviva Developer Portal.",
            "required": true,
            "type": "string",
            "x-ms-summary": "Instance",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The internal id (IID) of a Panviva file (external document)",
            "required": true,
            "type": "integer",
            "x-ms-summary": "Id",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is successful and returns with the requested resource. An example of a successful response can be seen in the Sample payload.",
            "schema": {
              "$ref": "#/definitions/GetFileResponse"
            },
            "examples": {
              "application/json": {
                "id": "file",
                "name": "A to Z in Marvel Comic Series",
                "description": "Contains details of all featured series.",
                "version": 2,
                "language": "en-AU",
                "tags": [
                  {
                    "name": "custom-category",
                    "value": "MVU-10"
                  }
                ],
                "hidden": false,
                "type": "file",
                "content": "JVBERi0xLjQKJdPr6eEKMSAwIG9iago8PC9DcmVhdG9yIChNb3ppbGxhLzUuMCBcKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NFwpIEFwcGxlV2ViS2l0LzUzNy4zNiBcKEtIVE1MLCBsaWtlIEdlY2tvXCkgQ2hyb21lLzcxLjAuMzU3OC45OCBTYWZhcmkvNTM3LjM2KQovUHJvZHVjZXIgKFNraWEvUERGIG03MSkKL0NyZWF0aW9uRGF0ZSAoRDoyMDE5MDEzMDA1NTM0NyswMCcwMCcpCi9Nb2REYXRlIChEOjIwMTkwMTMwMDU1MzQ3KzAwJzAw  ...................................... CBuIAowMDAwMzgwMzI0IDAwMDAwIG4gCjAwMDAzODA1NDQgMDAwMDAgbiAKMDAwMDM4MDc2NyAwMDAwMCBuIAowMDAwMzgwOTg2IDAwMDAwIG4gCjAwMDAzODEyMDYgMDAwMDAgbiAKdHJhaWxlcgo8PC9TaXplIDEwNwovUm9vdCAxOSAwIFIKL0luZm8gMSAwIFI+PgpzdGFydHhyZWYKMzgxNDIzCiUlRU9G",
                "fileName": "A to Z in Marvel Comic Series.pdf",
                "release": 2,
                "released": true,
                "copyright": "public domain",
                "classification": "general",
                "status": "released",
                "percentage": 100,
                "releaseDate": "2019-01-30T17:00:53.563Z",
                "keywords": [
                  "general info",
                  "series"
                ],
                "cshKeywords": [
                  "series"
                ],
                "changeNote": "Uploaded linked document.",
                "updatedDate": "2019-01-30T17:00:53.563Z",
                "createdDate": "2019-01-30T16:54:51.637Z"
              }
            }
          },
          "400": {
            "description": "Bad Request - The request could not be understood by the server due to malformed syntax. The client should not repeat the request without modifications.",
            "examples": {
              "application/json": {
                "errorCode": "400",
                "message": "Bad Request"
              }
            }
          },
          "403": {
            "description": "Out of call volume quota.",
            "examples": {
              "application/json": {
                "errorCode": "403",
                "message": "Out of call volume quota"
              }
            }
          },
          "404": {
            "description": "Document not found - The server has not found anything matching the request URI.",
            "examples": {
              "application/json": {
                "errorCode": "404",
                "message": "Not Found"
              }
            }
          },
          "405": {
            "description": "Method Not Allowed - The method specified in the request is not allowed for the resource identified by the request URI. ",
            "examples": {
              "application/json": {
                "errorCode": "405",
                "message": "Method Not Allowed"
              }
            }
          },
          "406": {
            "description": "Not Acceptable - The resource identified by the request is only capable of generating response entities which have content characteristics not acceptable according to the accept headers sent in the request. If accept headers is specified, application/json must be the only media type.",
            "examples": {
              "application/json": {
                "errorCode": "406",
                "message": "Not Acceptable"
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - The server is refusing to service the request because the entity of the request is in a format not supported by the requested resource for the requested method. The only supported media type is application/json.",
            "examples": {
              "application/json": {
                "errorCode": "415",
                "message": "Unsupported Media Type"
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity - The request was well-formed but was unable to be followed due to semantic errors.",
            "examples": {
              "application/json": {
                "errorCode": "422",
                "message": "Unprocessable Entity"
              }
            }
          },
          "429": {
            "description": "Too many requests - The number of requests has reached the plan’s rate limit.",
            "examples": {
              "application/json": {
                "errorCode": "429",
                "message": "Too Many Requests"
              }
            }
          },
          "503": {
            "description": "Service Unavailable - Panviva servers are under maintenance.",
            "examples": {
[...]
