{
  "swagger": "2.0",
  "info": {
    "title": "TrueDialog SMS",
    "description": "TrueDialog SMS connector gives an ability to send mass and individual text messages via long code and short code.",
    "version": "1.0",
    "contact": {
      "name": "TrueDialog Support",
      "url": "https://www.truedialog.com/help/",
      "email": "support@truedialog.com"
    }
  },
  "host": "api.truedialog.com",
  "basePath": "/api/v2.1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/account/{AccountId}/callback": {
      "x-ms-notification-content": {
        "description": "New Incoming SMS",
        "schema": {
          "type": "object",
          "properties": {
            "AccountName": {
              "type": "string",
              "description": "The name of the account the callback is associated to",
              "title": "Account Name"
            },
            "ChannelCode": {
              "type": "string",
              "description": "Code of the channel the message has been sent over (the actual phone number for long codes)",
              "title": "Channel Code"
            },
            "ChannelId": {
              "type": "integer",
              "format": "int32",
              "description": "ID of the channel the message has been sent over",
              "title": "ChannelId"
            },
            "ContactId": {
              "type": "integer",
              "format": "int32",
              "description": "Contact ID if any (null for unknown contacts)",
              "title": "ContactId"
            },
            "Message": {
              "type": "string",
              "description": "The actual message text",
              "title": "Message"
            },
            "PhoneNumber": {
              "type": "string",
              "description": "Target phone number",
              "title": "PhoneNumber"
            },
            "AccountId": {
              "type": "integer",
              "format": "int32",
              "description": "The ID of the account the callback is associated to",
              "title": "AccountId"
            },
            "CallbackTimestamp": {
              "type": "string",
              "description": "Date and time the callback has been sent. Format: yyyy-MM-ddTHH:mm:ss",
              "title": "Callback Timestamp"
            },
            "CallbackToken": {
              "type": "string",
              "description": "CallbackToken"
            },
            "CallbackType": {
              "type": "integer",
              "format": "int32",
              "description": "Always 11 for Incoming Message Callback",
              "title": "CallbackType",
              "x-ms-visibility": "internal"
            },
            "CallbackURL": {
              "type": "string",
              "description": "URL this callback has been sent to",
              "title": "CallbackURL",
              "x-ms-visibility": "internal"
            },
            "TransactionId": {
              "type": "string",
              "description": "Unique token",
              "title": "TransactionId"
            }
          }
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Incoming messages callback created"
          }
        },
        "summary": "Incoming Message Received",
        "description": "This operation triggers a flow whenever end user texts in",
        "operationId": "Incoming_SMS_Received",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Use Root Account ID in most cases to subscribe for notifications.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CallbackType",
                  "title": "CallbackType",
                  "default": 11,
                  "x-ms-visibility": "internal"
                },
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "title": "URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "URL",
                "CallbackType",
                "Active"
              ]
            }
          }
        ]
      }
    },
    "/account/{accountId}/callback/-1": {
      "x-ms-notification-content": {
        "description": "Keyword created",
        "schema": {
          "type": "object",
          "properties": {
            "CallbackTimestamp": {
              "type": "string",
              "description": "Date and time the callback has been sent Format: yyyy-MM-ddTHH:mm:ss",
              "title": "Callback Timestamp"
            },
            "CallbackToken": {
              "type": "string",
              "description": "CallbackToken"
            },
            "CallbackType": {
              "type": "integer",
              "format": "int32",
              "description": "CallbackType",
              "x-ms-visibility": "internal"
            },
            "CallbackURL": {
              "type": "string",
              "description": "CallbackURL",
              "x-ms-visibility": "internal"
            },
            "TransactionId": {
              "type": "string",
              "description": "TransactionId"
            },
            "AccountId": {
              "type": "integer",
              "format": "int32",
              "description": "The ID of the account the callback is associated to",
              "title": "AccountId"
            },
            "AccountName": {
              "type": "string",
              "description": "The name of the account the callback is associated to",
              "title": "Account Name"
            },
            "CampaignId": {
              "type": "integer",
              "format": "int32",
              "description": "CampaignId"
            },
            "ChannelId": {
              "type": "integer",
              "format": "int32",
              "description": "ChannelId"
            },
            "ChannelCode": {
              "type": "string",
              "description": "Code of the channel the message has been sent over (the actual phone number for long codes)",
              "title": "Channel Code"
            },
            "ContactId": {
              "type": "integer",
              "format": "int32",
              "description": "ID of the contact that submitted the keyword",
              "title": "ContactId"
            },
            "Keyword": {
              "type": "string",
              "description": "The actual keyword that has been submitted",
              "title": "Keyword"
            },
            "KeywordId": {
              "type": "integer",
              "format": "int32",
              "description": "ID of the keyword that has been submitted",
              "title": "KeywordId"
            },
            "Message": {
              "type": "string",
              "description": "The actual message text",
              "title": "Message"
            },
            "PhoneNumber": {
              "type": "string",
              "description": "The phone number of the end user that submitted the keyword",
              "title": "PhoneNumber"
            },
            "SubscriptionId": {
              "type": "integer",
              "format": "int32",
              "description": "SubscriptionId",
              "x-ms-visibility": "internal"
            }
          }
        }
      },
      "put": {
        "responses": {
          "201": {
            "description": "Keyword callback created"
          }
        },
        "summary": "Keyword Received",
        "description": "This operation triggers a flow whenever end user texts in a keyword",
        "operationId": "Keyword_received",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Use Root Account ID in most cases to subscribe for notifications.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CallbackType",
                  "title": "CallbackType",
                  "default": 1,
                  "x-ms-visibility": "internal"
                },
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "title": "URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "URL",
                "CallbackType",
                "Active"
              ]
            }
          }
        ]
      }
    },
    "/account/{accountId}/callback/-6": {
      "x-ms-notification-content": {
        "description": "Stop received",
        "schema": {
          "type": "object",
          "properties": {
            "CallbackTimestamp": {
              "type": "string",
              "description": "Date and time the callback has been sent. Format: yyyy-MM-ddTHH:mm:ss",
              "title": "Callback Timestamp"
            },
            "CallbackToken": {
              "type": "string",
              "description": "CallbackToken"
            },
            "CallbackType": {
              "type": "integer",
              "format": "int32",
              "description": "Always 6 for Opt-Out",
              "title": "CallbackType",
              "x-ms-visibility": "internal"
            },
            "CallbackURL": {
              "type": "string",
              "description": "CallbackURL",
              "x-ms-visibility": "internal"
            },
            "TransactionId": {
              "type": "string",
              "description": "TransactionId"
            },
            "AccountId": {
              "type": "integer",
              "format": "int32",
              "description": "AccountId"
            },
            "AccountName": {
              "type": "string",
              "description": "The name of the account the callback is associated to",
              "title": "Account Name"
            },
            "ChannelId": {
              "type": "integer",
              "format": "int32",
              "description": "ChannelId"
            },
            "ChannelCode": {
              "type": "string",
              "description": "Code of the channel the message has been sent over (the actual phone number for long codes)",
              "title": "Channel Code"
            },
            "ContactId": {
              "type": "integer",
              "format": "int32",
              "description": "ContactId"
            },
            "ContactAccountId": {
              "type": "integer",
              "format": "int32",
              "description": "The ID of the account that owns the contact record",
              "title": "ContactAccountId"
            },
            "ContactAccountName": {
              "type": "string",
              "description": "The name of the account that owns the contact record",
              "title": "ContactAccountName"
            },
            "PhoneNumber": {
              "type": "string",
              "description": "The phone number of the end user that has been opted out",
              "title": "PhoneNumber"
            },
            "SubscriptionId": {
              "type": "integer",
              "format": "int32",
              "description": "SubscriptionId",
              "x-ms-visibility": "internal"
            }
          }
        }
      },
      "put": {
        "responses": {
          "201": {
            "description": "Stop callback created"
          }
        },
        "summary": "Stop Message Received",
        "description": "This operation triggers a flow whenever end user texts in STOP or synonym",
        "operationId": "Stop_received",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Use Root Account ID in most cases to subscribe for notifications.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CallbackType",
                  "title": "CallbackType",
                  "default": 6,
                  "x-ms-visibility": "internal"
                },
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "title": "URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "URL",
                "CallbackType",
                "Active"
              ]
            }
          }
        ]
      }
    },
    "/account/{accountId}/callback/-12": {
      "x-ms-notification-content": {
        "description": "Delivery Notice",
        "schema": {
          "type": "object",
          "properties": {
            "CallbackTimestamp": {
              "type": "string",
              "description": "Date and time the callback has been sent. Format: yyyy-MM-ddTHH:mm:ss",
              "title": "Callback Timestamp"
            },
            "CallbackToken": {
              "type": "string",
              "description": "CallbackToken"
            },
            "CallbackType": {
              "type": "integer",
              "format": "int32",
              "description": "CallbackType",
              "x-ms-visibility": "internal"
            },
            "CallbackURL": {
              "type": "string",
              "description": "CallbackURL",
              "x-ms-visibility": "internal"
            },
            "TransactionId": {
              "type": "string",
              "description": "TransactionId"
            },
            "AccountId": {
              "type": "integer",
              "format": "int32",
              "description": "AccountId"
            },
            "AccountName": {
              "type": "string",
              "description": "The name of the account the callback is associated to",
              "title": "Account Name"
            },
            "StatusId": {
              "type": "integer",
              "format": "int32",
              "description": "2 = Delivered; 3 = Undelivered; 7 = Unknown",
              "title": "StatusId"
            },
            "Status": {
              "type": "string",
              "description": "Delivery code - OK for delivered message or error code. For undelivered - null",
              "title": "Status"
            },
            "ChannelId": {
              "type": "integer",
              "format": "int32",
              "description": "ChannelId"
            },
            "ChannelCode": {
              "type": "string",
              "description": "Code of the channel the message has been sent over (the actual phone number for long codes)",
              "title": "Channel Code"
            },
            "MessageId": {
              "type": "string",
              "description": "MessageId"
            },
            "PhoneNumber": {
              "type": "string",
              "description": "PhoneNumber"
            },
            "ContactId": {
              "type": "integer",
              "description": "ContactId",
              "title": "ContactId",
              "format": "int32"
            },
            "ActionId": {
              "type": "integer",
              "description": "ActionId",
              "title": "ActionId",
              "format": "int32"
            },
            "Message": {
              "type": "string",
              "description": "The actual message text",
              "title": "Message"
            }
          }
        }
      },
      "put": {
        "responses": {
          "201": {
            "description": "Delivery Notice callback created"
          }
        },
        "summary": "Delivery Notice Received",
        "description": "This operation triggers a flow for each delivery notice receipt",
        "operationId": "Delivery_Notice_received",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Use Root Account ID in most cases to subscribe for notifications.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CallbackType",
                  "title": "CallbackType",
                  "default": 12,
                  "x-ms-visibility": "internal"
                },
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "title": "URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "URL",
                "CallbackType",
                "Active"
              ]
            }
          }
        ]
      }
    },
    "/account/{accountId}/callback/-13": {
      "x-ms-notification-content": {
        "description": "Invalid Targets",
        "schema": {
          "type": "object",
          "properties": {
            "CallbackTimestamp": {
              "type": "string",
              "description": "Date and time the callback has been sent. Format: yyyy-MM-ddTHH:mm:ss",
              "title": "Callback Timestamp"
            },
            "CallbackToken": {
              "type": "string",
              "description": "CallbackToken",
              "x-ms-visibility": "internal"
            },
            "CallbackType": {
              "type": "integer",
              "format": "int32",
              "description": "Callback Type",
              "title": "Callback Type",
              "x-ms-visibility": "internal"
            },
            "CallbackURL": {
              "type": "string",
              "description": "CallbackURL"
            },
            "TransactionId": {
              "type": "string",
              "description": "TransactionId"
            },
            "AccountId": {
              "type": "integer",
              "format": "int32",
              "description": "AccountId"
            },
            "ActionId": {
              "type": "integer",
              "format": "int32",
              "description": "ActionId"
            },
            "RunId": {
              "type": "integer",
              "format": "int32",
              "description": "RunId"
            },
            "InvalidTargets": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Target": {
                    "type": "string",
                    "description": "The target that has been filtered out",
                    "title": "Target"
                  },
                  "ReasonId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ID of the reason. 0 - Invalid, 1 - Opted Out, 2 - Duplicate, 3 - Blocked, 4 - Undeliverable, 5 - Single Use",
                    "title": "ReasonId"
                  },
                  "Reason": {
                    "type": "string",
                    "description": "Short description of a reason",
                    "title": "Reason"
                  }
                }
              },
              "description": "InvalidTargets"
            }
          }
        }
      },
      "put": {
        "responses": {
          "201": {
            "description": "Invalid Targets callback created"
          }
        },
        "summary": "Invalid Targets",
        "description": "This operation triggers a flow if targets have been filtered out during sending SMS",
        "operationId": "Invalid_Targets",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Use Root Account ID in most cases to subscribe for notifications.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "CallbackType",
                  "title": "CallbackType",
                  "default": 13,
                  "x-ms-visibility": "internal"
                },
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "title": "URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "URL",
                "CallbackType",
                "Active"
              ]
            }
          }
        ]
      }
    },
    "/account/{accountId}/callback/{callbackId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Callback Delete",
        "description": "Delete callback from TD",
        "operationId": "Callback_Delete",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "callbackId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/account/{accountId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          },
          "404": {
            "description": "Account not found"
          }
        },
        "summary": "Get Account Info",
        "description": "Get information about account",
        "operationId": "Account_Get_Info",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "AccountId",
            "x-ms-summary": "ID of the account, that should be retrieved"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/account/{accountId}/contact-search/{phone}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactSearchRequest"
            }
          }
        },
        "summary": "Contact Search",
        "description": "Searches for a contact via a phone number or email address.",
        "operationId": "Contact_Search",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account to which the contact is visible to.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "phone",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Find existing contacts with the passed phone number or email.",
            "x-ms-summary": "Phone number to search"
          }
        ]
      }
    },
    "/account/{accountId}/contact": {
      "post": {
        "responses": {
          "201": {
            "description": "Contact Created",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          }
        },
        "summary": "Contact Create",
        "description": "Create a contact record in TrueDialog",
        "operationId": "Contact_Create",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Account ID that would be used as parent account for created contact",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ContactRequest"
            }
          }
        ]
      }
    },
    "/account/{accountId}/contact/{contactid}": {
      "put": {
        "responses": {
          "200": {
            "description": "Contact Updated",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          }
        },
        "summary": "Contact Update",
        "description": "Update contact",
        "operationId": "Contact_Update",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Account ID that would be used as parent account for updated contact",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "contactid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Contact that would be updated",
            "x-ms-summary": "Contact ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ContactRequest"
            }
          }
        ]
      }
    },
    "/account/{accountId}/action-pushcampaign": {
      "post": {
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PushCampaignResponse"
            }
          }
        },
        "summary": "Send SMS",
        "description": "Send SMS to a single or multiple recipients",
        "operationId": "Campaign_Push",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Account ID that would be used for sending SMS",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushCampaignRequest"
            }
          }
        ]
      }
    },
    "/userinfo": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "summary": "Get Current User Info",
        "description": "Get information about User, whose credentials were used in Connection",
        "operationId": "User_Get_Self_Info",
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.truedialog.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.truedialog.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "definitions": {
    "AccountResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the account.",
          "title": "id"
        },
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "The current status of the account.",
          "title": "status"
        },
        "parentId": {
          "type": "integer",
          "format": "int32",
          "description": "The identifier of the account that is the parent of this account.",
          "title": "parentId"
        },
        "name": {
          "type": "string",
          "description": "The name of the account",
          "title": "name"
        },
        "created": {
          "type": "string",
          "description": "When the account was created.",
          "title": "created"
        },
        "allowCallback": {
          "type": "boolean",
          "description": "Set if this account is allowed to use the callback mechanism.",
          "title": "allowCallback",
          "enum": [
            "true",
            "false"
          ]
        },
        "callbackToken": {
          "type": "string",
          "description": "callbackToken"
        },
        "type": {
          "type": "integer",
          "format": "int32",
          "description": "Account Type (master or subaccount)",
          "title": "type"
        },
        "accountType": {
          "type": "integer",
          "format": "int32",
          "description": "Account type name",
          "title": "accountType"
        },
        "isApproved": {
          "type": "boolean",
          "description": "Account is Approved or not",
          "title": "isApproved",
          "enum": [
            "true",
            "false"
          ]
        }
      }
    },
    "ContactRequest": {
      "type": "object",
      "properties": {
        "PhoneNumber": {
          "type": "string",
          "description": "Mobile number if available. Either this or the Email field are REQUIRED",
          "title": "PhoneNumber"
        },
        "Email": {
          "type": "string",
          "description": "Email address of the contact. Either this or the PhoneNumber field are REQUIRED.",
          "title": "Email"
        },
        "FirstName": {
          "type": "string",
          "description": "First name of the contact.",
          "title": "FirstName"
        },
        "LastName": {
          "type": "string",
          "description": "Last name of the contact.",
          "title": "LastName"
        }
      }
    },
    "ContactResponse": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "integer",
          "format": "int32",
          "description": "accountId"
        },
        "phoneNumber": {
          "type": "string",
          "description": "phoneNumber"
        },
        "email": {
          "type": "string",
          "description": "email"
        },
        "preferredLanguageId": {
          "type": "string",
          "description": "preferredLanguageId"
        },
        "preferredLanguage": {
          "type": "string",
          "description": "preferredLanguage"
        },
        "assignedId": {
          "type": "string",
          "description": "assignedId"
        },
        "firstName": {
          "type": "string",
          "description": "firstName"
        },
        "lastName": {
          "type": "string",
          "description": "lastName"
        },
        "phoneStatusId": {
          "type": "integer",
          "format": "int32",
          "description": "phoneStatusId"
        },
        "phoneStatus": {
          "type": "integer",
          "format": "int32",
          "description": "phoneStatus"
        },
        "phoneHardErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "phoneHardErrorCount"
        },
        "phoneSoftErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "phoneSoftErrorCount"
        },
        "phoneTotalHardErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "phoneTotalHardErrorCount"
        },
        "phoneTotalSoftErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "phoneTotalSoftErrorCount"
        },
        "phoneLastHardError": {
          "type": "string",
          "description": "phoneLastHardError"
        },
        "phoneLastSoftError": {
          "type": "string",
          "description": "phoneLastSoftError"
        },
        "phoneHardErrorSince": {
          "type": "string",
          "description": "phoneHardErrorSince"
        },
        "phoneSoftErrorSince": {
          "type": "string",
          "description": "phoneSoftErrorSince"
        },
        "statusId": {
          "type": "integer",
          "format": "int32",
          "description": "statusId"
        },
        "created": {
          "type": "string",
          "description": "created"
        },
        "modified": {
          "type": "string",
          "description": "modified"
        },
        "createdBy": {
          "type": "string",
          "description": "createdBy"
        },
        "modifiedBy": {
          "type": "string",
          "description": "modifiedBy"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "id"
        }
      }
    },
    "ContactSearchRequest": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "id"
          },
          "accountId": {
            "type": "integer",
            "format": "int32",
            "description": "accountId"
          },
          "statusId": {
            "type": "integer",
            "format": "int32",
            "description": "statusId"
          },
          "phoneNumber": {
            "type": "string",
            "description": "phoneNumber"
          },
          "email": {
            "type": "string",
            "description": "email"
          },
          "assignedId": {
            "type": "string",
            "description": "assignedId"
          },
          "firstName": {
            "type": "string",
            "description": "firstName"
          },
          "lastName": {
            "type": "string",
            "description": "lastName"
          },
          "subscriptions": {
            "type": "array",
            "items": {},
            "description": "subscriptions"
          },
          "attributes": {
            "type": "array",
            "items": {},
            "description": "attributes"
          },
          "phoneStatusId": {
            "type": "integer",
            "format": "int32",
            "description": "phoneStatusId"
          },
          "created": {
            "type": "string",
            "description": "created"
          },
          "createdBy": {
            "type": "string",
            "description": "createdBy"
          },
          "modified": {
            "type": "string",
            "description": "modified"
          },
          "modifiedBy": {
            "type": "string",
            "description": "modifiedBy"
          }
        }
      }
    },
    "PushCampaignRequest": {
      "type": "object",
      "properties": {
        "Channels": {
          "type": "array",
          "items": {
            "description": "Channels that would be used for sending the Message. Use 22 for default associated Long Code",
            "title": "Channel",
            "type": "string",
            "default": "22"
          },
          "description": "Channels"
        },
        "Targets": {
          "type": "array",
          "items": {
            "description": "Phone numbers where the message should be sent",
            "title": "Targets",
            "type": "string"
          },
          "description": "Targets"
        },
        "TargetsUrl": {
          "type": "string",
          "description": "Targets Url",
          "title": "Targets URL",
          "x-ms-visibility": "internal"
        },
        "ContactListIds": {
          "type": "array",
          "items": {
            "title": "Contact List ID",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          "description": "Contact List Ids"
        },
        "ExcludeListIds": {
          "type": "array",
          "items": {
            "title": "ExcludeListIds",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          "description": "ExcludeListIds"
        },
        "CampaignId": {
          "type": "integer",
          "format": "int32",
          "description": "CampaignId",
          "title": "CampaignId",
          "x-ms-visibility": "internal",
          "default": 0
        },
        "MediaId": {
          "type": "integer",
          "format": "int32",
          "description": "MediaId",
          "title": "Media ID",
          "x-ms-visibility": "advanced"
        },
        "Message": {
          "type": "string",
          "description": "Message",
          "title": "Message"
        },
        "From": {
          "type": "string",
          "description": "From",
          "title": "From",
          "x-ms-visibility": "internal"
        },
        "Subject": {
          "type": "string",
          "description": "Subject",
          "title": "Subject",
          "x-ms-visibility": "internal"
        },
        "IgnoreSingleUse": {
          "type": "boolean",
          "description": "Ignore Single Use",
          "title": "Ignore Single Use",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "advanced"
        },
        "ForceOptIn": {
          "type": "boolean",
          "description": "ForceOptIn",
          "title": "ForceOptIn",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "advanced",
          "default": false
        },
        "Schedules": {
          "type": "array",
          "items": {
            "title": "Schedules",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
		  "title": "Schedules",
          "description": "The list of schedules associated with the action"
        },
        "Execute": {
          "type": "boolean",
          "description": "Set true if the action should be executed on creation",
          "title": "Execute",
          "enum": [
            true,
            false
          ],
          "default": true
        },
        "IgnoreInvalidTargets": {
          "type": "boolean",
          "description": "Indicates if invalid numbers should be ignored",
          "title": "IgnoreInvalidTargets",
          "enum": [
            true,
            false
          ],
          "default": false
        }
      },
      "required": [
        "Execute",
        "Message",
        "Channels",
        "Targets",
        "CampaignId"
      ]
    },
    "PushCampaignResponse": {
      "type": "object",
      "properties": {
        "channels": {
          "type": "array",
          "items": {},
          "description": "channels"
        },
        "targets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "targets"
        },
        "targetsUrl": {
          "type": "string",
          "description": "targetsUrl"
        },
        "targetsColumn": {
          "type": "string",
          "description": "targetsColumn"
        },
        "contactListIds": {
          "type": "array",
          "items": {},
          "description": "contactListIds"
        },
        "excludeListIds": {
          "type": "array",
          "items": {},
          "description": "excludeListIds"
        },
        "campaignId": {
          "type": "integer",
          "format": "int32",
          "description": "campaignId"
        },
        "mediaId": {
          "type": "string",
          "description": "mediaId"
        },
        "message": {
          "type": "string",
          "description": "message"
        },
        "from": {
          "type": "string",
          "description": "from"
        },
        "subject": {
          "type": "string",
          "description": "subject"
        },
        "ignoreSingleUse": {
          "type": "boolean",
          "description": "ignoreSingleUse"
        },
        "forceOptIn": {
          "type": "boolean",
          "description": "forceOptIn"
        },
        "statusId": {
          "type": "integer",
          "format": "int32",
          "description": "statusId"
        },
        "roundRobinById": {
          "type": "boolean",
          "description": "roundRobinById"
        },
        "globalRoundRobin": {
          "type": "boolean",
          "description": "globalRoundRobin"
        },
        "status": {
          "type": "string",
          "description": "status"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "id"
        },
        "accountId": {
          "type": "integer",
          "format": "int32",
          "description": "accountId"
        },
        "created": {
          "type": "string",
          "description": "created"
        },
        "modified": {
          "type": "string",
          "description": "modified"
        },
        "createdBy": {
          "type": "string",
          "description": "createdBy"
        },
        "modifiedBy": {
          "type": "string",
          "description": "modifiedBy"
        },
        "schedules": {
          "type": "array",
          "items": {},
          "description": "schedules"
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "userName": {
          "type": "string",
          "description": "userName"
        },
        "accountId": {
          "type": "integer",
          "format": "int32",
          "description": "accountId"
        },
        "email": {
          "type": "string",
          "description": "email"
        },
        "firstName": {
          "type": "string",
          "description": "firstName"
        },
        "lastName": {
          "type": "string",
          "description": "lastName"
        },
        "phoneNumber": {
          "type": "string",
          "description": "phoneNumber"
        },
        "isAdmin": {
          "type": "boolean",
          "description": "isAdmin"
        },
        "apiKey": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string",
              "description": "key"
            },
            "secret": {
              "type": "string",
              "description": "secret"
            },
            "lastActivity": {
              "type": "string",
              "description": "lastActivity"
            },
            "typeId": {
              "type": "integer",
              "format": "int32",
              "description": "typeId"
            },
            "type": {
              "type": "integer",
              "format": "int32",
              "description": "type"
            },
            "label": {
              "type": "string",
              "description": "label"
            },
            "userName": {
              "type": "string",
              "description": "userName"
            },
            "validTo": {
              "type": "string",
              "description": "validTo"
            },
            "accountId": {
              "type": "integer",
              "format": "int32",
              "description": "accountId"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id"
            }
          },
          "description": "apiKey"
        },
        "isChatUser": {
          "type": "boolean",
          "description": "isChatUser"
        },
        "reportOnly": {
          "type": "boolean",
          "description": "reportOnly"
        },
        "requestNumber": {
          "type": "boolean",
          "description": "requestNumber"
        },
        "canCreateContact": {
          "type": "boolean",
          "description": "canCreateContact"
        },
        "isAlertAgent": {
          "type": "boolean",
          "description": "isAlertAgent"
        },
        "agreed": {
          "type": "boolean",
          "description": "agreed"
        },
        "comment": {
          "type": "string",
          "description": "comment"
        },
        "isApproved": {
          "type": "boolean",
          "description": "isApproved"
        },
        "isLockedOut": {
          "type": "boolean",
          "description": "isLockedOut"
        },
        "lastLockoutDate": {
          "type": "string",
          "description": "lastLockoutDate"
        },
        "creationDate": {
          "type": "string",
          "description": "creationDate"
        },
        "lastLoginDate": {
          "type": "string",
          "description": "lastLoginDate"
        },
        "lastActivityDate": {
          "type": "string",
          "description": "lastActivityDate"
        },
        "lastPasswordChangedDate": {
          "type": "string",
          "description": "lastPasswordChangedDate"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": []
}