{
  "swagger": "2.0",
  "info": {
    "title": "TrueDialog SMS",
    "description": "TrueDialog SMS connector gives an ability to send mass and individual text messages via long code and short code.",
    "version": "1.0",
    "contact": {
      "name": "TrueDialog Support",
      "url": "https://www.truedialog.com/help/",
      "email": "support@truedialog.com"
    }
  },
  "host": "api.truedialog.com",
  "basePath": "/api/v2.1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/account/{AccountId}/callback": {
      "x-ms-notification-content": {
        "description": "New Incoming SMS",
        "schema": {
          "type": "object",
          "properties": {
            "AccountName": {
              "type": "string",
              "description": "The name of the account the callback is associated to",
              "title": "Account Name"
            },
            "ChannelCode": {
              "type": "string",
              "description": "Code of the channel the message has been sent over (the actual phone number for long codes)",
              "title": "Channel Code"
            },
            "ChannelId": {
              "type": "integer",
              "format": "int32",
              "description": "ID of the channel the message has been sent over",
              "title": "ChannelId"
            },
            "ContactId": {
              "type": "integer",
              "format": "int32",
              "description": "Contact ID if any (null for unknown contacts)",
              "title": "ContactId"
            },
            "Message": {
              "type": "string",
              "description": "The actual message text",
              "title": "Message"
            },
            "PhoneNumber": {
              "type": "string",
              "description": "Target phone number",
              "title": "PhoneNumber"
            },
            "AccountId": {
              "type": "integer",
              "format": "int32",
              "description": "The ID of the account the callback is associated to",
              "title": "AccountId"
            },
            "CallbackTimestamp": {
              "type": "string",
              "description": "Date and time the callback has been sent. Format: yyyy-MM-ddTHH:mm:ss",
              "title": "Callback Timestamp"
            },
            "CallbackToken": {
              "type": "string",
              "description": "Callback Token"
            },
            "CallbackType": {
              "type": "integer",
              "format": "int32",
              "description": "Always 11 for Incoming Message Callback",
              "title": "Callback Type",
              "x-ms-visibility": "internal"
            },
            "CallbackURL": {
              "type": "string",
              "description": "URL this callback has been sent to",
              "title": "Callback URL",
              "x-ms-visibility": "internal"
            },
            "TransactionId": {
              "type": "string",
              "description": "Unique token",
              "title": "TransactionId"
            }
          }
        }
      },
      "post": {
        "responses": {
          "201": {
            "description": "Incoming messages callback created",
            "schema": {
              "$ref": "#/definitions/CallbackCreatedResponse"
            }
          }
        },
        "summary": "Incoming Message Received",
        "description": "This operation triggers a flow whenever end user texts in",
        "operationId": "Incoming_SMS_Received",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Use Root Account ID in most cases to subscribe for notifications.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Callback Type",
                  "title": "CallbackType",
                  "default": 11,
                  "x-ms-visibility": "internal"
                },
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "title": "URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "URL",
                "CallbackType",
                "Active"
              ]
            }
          }
        ]
      }
    },
    "/account/{accountId}/callback/-1": {
      "x-ms-notification-content": {
        "description": "Keyword created",
        "schema": {
          "type": "object",
          "properties": {
            "CallbackTimestamp": {
              "type": "string",
              "description": "Date and time the callback has been sent Format: yyyy-MM-ddTHH:mm:ss",
              "title": "Callback Timestamp"
            },
            "CallbackToken": {
              "type": "string",
              "description": "Callback Token"
            },
            "CallbackType": {
              "type": "integer",
              "format": "int32",
              "description": "Callback Type",
              "x-ms-visibility": "internal"
            },
            "CallbackURL": {
              "type": "string",
              "description": "Callback URL",
              "x-ms-visibility": "internal"
            },
            "TransactionId": {
              "type": "string",
              "description": "Transaction Id"
            },
            "AccountId": {
              "type": "integer",
              "format": "int32",
              "description": "The ID of the account the callback is associated to",
              "title": "AccountId"
            },
            "AccountName": {
              "type": "string",
              "description": "The name of the account the callback is associated to",
              "title": "Account Name"
            },
            "CampaignId": {
              "type": "integer",
              "format": "int32",
              "description": "Campaign Id"
            },
            "ChannelId": {
              "type": "integer",
              "format": "int32",
              "description": "Channel Id"
            },
            "ChannelCode": {
              "type": "string",
              "description": "Code of the channel the message has been sent over (the actual phone number for long codes)",
              "title": "Channel Code"
            },
            "ContactId": {
              "type": "integer",
              "format": "int32",
              "description": "ID of the contact that submitted the keyword",
              "title": "ContactId"
            },
            "Keyword": {
              "type": "string",
              "description": "The actual keyword that has been submitted",
              "title": "Keyword"
            },
            "KeywordId": {
              "type": "integer",
              "format": "int32",
              "description": "ID of the keyword that has been submitted",
              "title": "KeywordId"
            },
            "Message": {
              "type": "string",
              "description": "The actual message text",
              "title": "Message"
            },
            "PhoneNumber": {
              "type": "string",
              "description": "The phone number of the end user that submitted the keyword",
              "title": "PhoneNumber"
            },
            "SubscriptionId": {
              "type": "integer",
              "format": "int32",
              "description": "Subscription Id",
              "x-ms-visibility": "internal"
            }
          }
        }
      },
      "put": {
        "responses": {
          "201": {
            "description": "Keyword callback created",
            "schema": {
              "$ref": "#/definitions/CallbackCreatedResponse"
            }
          }
        },
        "summary": "Keyword Received",
        "description": "This operation triggers a flow whenever end user texts in a keyword",
        "operationId": "Keyword_received",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Use Root Account ID in most cases to subscribe for notifications.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Callback Type",
                  "title": "CallbackType",
                  "default": 1,
                  "x-ms-visibility": "internal"
                },
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "title": "URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "URL",
                "CallbackType",
                "Active"
              ]
            }
          }
        ]
      }
    },
    "/account/{accountId}/callback/-6": {
      "x-ms-notification-content": {
        "description": "Stop received",
        "schema": {
          "type": "object",
          "properties": {
            "CallbackTimestamp": {
              "type": "string",
              "description": "Date and time the callback has been sent. Format: yyyy-MM-ddTHH:mm:ss",
              "title": "Callback Timestamp"
            },
            "CallbackToken": {
              "type": "string",
              "description": "Callback Token"
            },
            "CallbackType": {
              "type": "integer",
              "format": "int32",
              "description": "Always 6 for Opt-Out",
              "title": "CallbackType",
              "x-ms-visibility": "internal"
            },
            "CallbackURL": {
              "type": "string",
              "description": "Callback URL",
              "x-ms-visibility": "internal"
            },
            "TransactionId": {
              "type": "string",
              "description": "Transaction Id"
            },
            "AccountId": {
              "type": "integer",
              "format": "int32",
              "description": "Account Id"
            },
            "AccountName": {
              "type": "string",
              "description": "The name of the account the callback is associated to",
              "title": "Account Name"
            },
            "ChannelId": {
              "type": "integer",
              "format": "int32",
              "description": "Channel Id"
            },
            "ChannelCode": {
              "type": "string",
              "description": "Code of the channel the message has been sent over (the actual phone number for long codes)",
              "title": "Channel Code"
            },
            "ContactId": {
              "type": "integer",
              "format": "int32",
              "description": "Contact Id"
            },
            "ContactAccountId": {
              "type": "integer",
              "format": "int32",
              "description": "The ID of the account that owns the contact record",
              "title": "ContactAccountId"
            },
            "ContactAccountName": {
              "type": "string",
              "description": "The name of the account that owns the contact record",
              "title": "ContactAccountName"
            },
            "PhoneNumber": {
              "type": "string",
              "description": "The phone number of the end user that has been opted out",
              "title": "PhoneNumber"
            },
            "SubscriptionId": {
              "type": "integer",
              "format": "int32",
              "description": "Subscription Id",
              "x-ms-visibility": "internal"
            }
          }
        }
      },
      "put": {
        "responses": {
          "201": {
            "description": "Stop callback created",
            "schema": {
              "$ref": "#/definitions/CallbackCreatedResponse"
            }
          }
        },
        "summary": "Stop Message Received",
        "description": "This operation triggers a flow whenever end user texts in STOP or synonym",
        "operationId": "Stop_received",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Use Root Account ID in most cases to subscribe for notifications.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Callback Type",
                  "title": "CallbackType",
                  "default": 6,
                  "x-ms-visibility": "internal"
                },
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "title": "URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "URL",
                "CallbackType",
                "Active"
              ]
            }
          }
        ]
      }
    },
    "/account/{accountId}/callback/-12": {
      "x-ms-notification-content": {
        "description": "Delivery Notice",
        "schema": {
          "type": "object",
          "properties": {
            "CallbackTimestamp": {
              "type": "string",
              "description": "Date and time the callback has been sent. Format: yyyy-MM-ddTHH:mm:ss",
              "title": "Callback Timestamp"
            },
            "CallbackToken": {
              "type": "string",
              "description": "Callback Token"
            },
            "CallbackType": {
              "type": "integer",
              "format": "int32",
              "description": "Callback Type",
              "x-ms-visibility": "internal"
            },
            "CallbackURL": {
              "type": "string",
              "description": "Callback URL",
              "x-ms-visibility": "internal"
            },
            "TransactionId": {
              "type": "string",
              "description": "Transaction Id"
            },
            "AccountId": {
              "type": "integer",
              "format": "int32",
              "description": "Account Id"
            },
            "AccountName": {
              "type": "string",
              "description": "The name of the account the callback is associated to",
              "title": "Account Name"
            },
            "StatusId": {
              "type": "integer",
              "format": "int32",
              "description": "2 = Delivered; 3 = Undelivered; 7 = Unknown",
              "title": "Status Id"
            },
            "Status": {
              "type": "string",
              "description": "Delivery code - OK for delivered message or error code. For undelivered - null",
              "title": "Status"
            },
            "ChannelId": {
              "type": "integer",
              "format": "int32",
              "description": "Channel Id"
            },
            "ChannelCode": {
              "type": "string",
              "description": "Code of the channel the message has been sent over (the actual phone number for long codes)",
              "title": "Channel Code"
            },
            "MessageId": {
              "type": "string",
              "description": "MessageId"
            },
            "PhoneNumber": {
              "type": "string",
              "description": "Phone Number"
            },
            "ContactId": {
              "type": "integer",
              "description": "Contact Id",
              "title": "ContactId",
              "format": "int32"
            },
            "ActionId": {
              "type": "integer",
              "description": "Action Id",
              "title": "ActionId",
              "format": "int32"
            },
            "Message": {
              "type": "string",
              "description": "The actual message text",
              "title": "Message"
            }
          }
        }
      },
      "put": {
        "responses": {
          "201": {
            "description": "Delivery Notice callback created",
            "schema": {
              "$ref": "#/definitions/CallbackCreatedResponse"
            }
          }
        },
        "summary": "Delivery Notice Received",
        "description": "This operation triggers a flow for each delivery notice receipt",
        "operationId": "Delivery_Notice_received",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Use Root Account ID in most cases to subscribe for notifications.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Callback Type",
                  "title": "CallbackType",
                  "default": 12,
                  "x-ms-visibility": "internal"
                },
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "title": "URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "URL",
                "CallbackType",
                "Active"
              ]
            }
          }
        ]
      }
    },
    "/account/{accountId}/callback/-13": {
      "x-ms-notification-content": {
        "description": "Invalid Targets",
        "schema": {
          "type": "object",
          "properties": {
            "CallbackTimestamp": {
              "type": "string",
              "description": "Date and time the callback has been sent. Format: yyyy-MM-ddTHH:mm:ss",
              "title": "Callback Timestamp"
            },
            "CallbackToken": {
              "type": "string",
              "description": "Callback Token",
              "x-ms-visibility": "internal"
            },
            "CallbackType": {
              "type": "integer",
              "format": "int32",
              "description": "Callback Type",
              "title": "Callback Type",
              "x-ms-visibility": "internal"
            },
            "CallbackURL": {
              "type": "string",
              "description": "Callback URL"
            },
            "TransactionId": {
              "type": "string",
              "description": "Transaction Id"
            },
            "AccountId": {
              "type": "integer",
              "format": "int32",
              "description": "Account Id"
            },
            "ActionId": {
              "type": "integer",
              "format": "int32",
              "description": "Action Id"
            },
            "RunId": {
              "type": "integer",
              "format": "int32",
              "description": "Run Id"
            },
            "InvalidTargets": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "Target": {
                    "type": "string",
                    "description": "The target that has been filtered out",
                    "title": "Target"
                  },
                  "ReasonId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "ID of the reason. 0 - Invalid, 1 - Opted Out, 2 - Duplicate, 3 - Blocked, 4 - Undeliverable, 5 - Single Use",
                    "title": "ReasonId"
                  },
                  "Reason": {
                    "type": "string",
                    "description": "Short description of a reason",
                    "title": "Reason"
                  }
                }
              },
              "description": "Invalid Targets"
            }
          }
        }
      },
      "put": {
        "responses": {
          "201": {
            "description": "Invalid Targets callback created",
            "schema": {
              "$ref": "#/definitions/CallbackCreatedResponse"
            }
          }
        },
        "summary": "Invalid Targets",
        "description": "This operation triggers a flow if targets have been filtered out during sending SMS",
        "operationId": "Invalid_Targets",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Use Root Account ID in most cases to subscribe for notifications.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "CallbackType": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Callback Type",
                  "title": "CallbackType",
                  "default": 13,
                  "x-ms-visibility": "internal"
                },
                "URL": {
                  "type": "string",
                  "description": "URL",
                  "title": "URL",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal"
                },
                "Active": {
                  "type": "boolean",
                  "description": "Active",
                  "title": "Active",
                  "enum": [
                    true,
                    false
                  ],
                  "default": true,
                  "x-ms-visibility": "internal"
                }
              },
              "required": [
                "URL",
                "CallbackType",
                "Active"
              ]
            }
          }
        ]
      }
    },
    "/account/{accountId}/callback/{callbackId}": {
      "delete": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Callback Delete",
        "description": "Delete callback from TD",
        "operationId": "Callback_Delete",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "callbackId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/account/{accountId}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          },
          "404": {
            "description": "Account not found"
          }
        },
        "summary": "Get Account Info",
        "description": "Get information about account",
        "operationId": "Account_Get_Info",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Account Id",
            "x-ms-summary": "ID of the account, that should be retrieved"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": false,
            "type": "string",
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/account/{accountId}/contact-search/{phone}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContactSearchRequest"
            }
          }
        },
        "summary": "Contact Search",
        "description": "Searches for a contact via a phone number or email address.",
        "operationId": "Contact_Search",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The account to which the contact is visible to.",
            "x-ms-summary": "Account ID for subscription"
          },
          {
            "name": "phone",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Find existing contacts with the passed phone number or email.",
            "x-ms-summary": "Phone number to search"
          }
        ]
      }
    },
    "/account/{accountId}/contact": {
      "post": {
        "responses": {
          "201": {
            "description": "Contact Created",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          }
        },
        "summary": "Contact Create",
        "description": "Create a contact record in TrueDialog",
        "operationId": "Contact_Create",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Account ID that would be used as parent account for created contact",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ContactRequest"
            }
          }
        ]
      }
    },
    "/account/{accountId}/contact/{contactid}": {
      "put": {
        "responses": {
          "200": {
            "description": "Contact Updated",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          }
        },
        "summary": "Contact Update",
        "description": "Update contact",
        "operationId": "Contact_Update",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Account ID that would be used as parent account for updated contact",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "contactid",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "ID of the Contact that would be updated",
            "x-ms-summary": "Contact ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ContactRequest"
            }
          }
        ]
      }
    },
    "/account/{accountId}/action-pushcampaign": {
      "post": {
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PushCampaignResponse"
            }
          }
        },
        "summary": "Send SMS",
        "description": "Send SMS to a single or multiple recipients",
        "operationId": "Campaign_Push",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Account ID that would be used for sending SMS",
            "x-ms-summary": "Account ID"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "x-ms-visibility": "internal",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PushCampaignRequest"
            }
          }
        ]
      }
    },
    "/userinfo": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        },
        "summary": "Get Current User Info",
        "description": "Get information about User, whose credentials were used in Connection",
        "operationId": "User_Get_Self_Info",
        "parameters": []
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.truedialog.com/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.truedialog.com/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ],
  "definitions": {
    "AccountResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the account.",
          "title": "id"
        },
        "status": {
          "type": "integer",
          "format": "int32",
          "description": "The current status of the account.",
          "title": "status"
        },
        "parentId": {
          "type": "integer",
          "format": "int32",
          "description": "The identifier of the account that is the parent of this account.",
          "title": "parentId"
        },
        "name": {
          "type": "string",
          "description": "The name of the account",
          "title": "name"
        },
        "created": {
          "type": "string",
          "description": "When the account was created.",
          "title": "created"
        },
        "allowCallback": {
          "type": "boolean",
          "description": "Set if this account is allowed to use the callback mechanism.",
          "title": "allowCallback",
          "enum": [
            "true",
            "false"
          ]
        },
        "callbackToken": {
          "type": "string",
          "description": "Callback Token"
        },
        "type": {
          "type": "integer",
          "format": "int32",
          "description": "Account Type (master or subaccount)",
          "title": "type"
        },
        "accountType": {
          "type": "integer",
          "format": "int32",
          "description": "Account type name",
          "title": "accountType"
        },
        "isApproved": {
          "type": "boolean",
          "description": "Account is Approved or not",
          "title": "isApproved",
          "enum": [
            "true",
            "false"
          ]
        }
      }
    },
    "CallbackCreatedResponse": {
      "type": "object",
      "properties": {
		"accountId": {
          "type": "integer",
          "format": "int32",
          "description": "Account Id"
        },
		"callbackTypeId": {
          "type": "integer",
          "format": "int32",
          "description": "callback Type Id"
        },
        "Url": {
          "type": "string",
          "description": "Url of the created Callback",
          "title": "Url"
        },
         "Active": {
		  "type": "boolean",
		  "description": "Active",
		  "title": "Active"
        },
        "callbackType": {
          "type": "integer",
          "format": "int32",
          "description": "Callback Type"
        },
		"id": {
          "type": "integer",
          "format": "int32",
          "description": "id of the created callback"
        }
      }
    },
	"ContactRequest": {
      "type": "object",
      "properties": {
        "PhoneNumber": {
          "type": "string",
          "description": "Mobile number if available. Either this or the Email field are REQUIRED",
          "title": "PhoneNumber"
        },
        "Email": {
          "type": "string",
          "description": "Email address of the contact. Either this or the PhoneNumber field are REQUIRED.",
          "title": "Email"
        },
        "FirstName": {
          "type": "string",
          "description": "First name of the contact.",
          "title": "FirstName"
        },
        "LastName": {
          "type": "string",
          "description": "Last name of the contact.",
          "title": "LastName"
        }
      }
    },
    "ContactResponse": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "integer",
          "format": "int32",
          "description": "Account Id"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone Number"
        },
        "email": {
          "type": "string",
          "description": "email"
        },
        "preferredLanguageId": {
          "type": "string",
          "description": "preferred Language Id"
        },
        "preferredLanguage": {
          "type": "string",
          "description": "preferred Language"
        },
        "assignedId": {
          "type": "string",
          "description": "assigned Id"
        },
        "firstName": {
          "type": "string",
          "description": "First Name"
        },
        "lastName": {
          "type": "string",
          "description": "Last Name"
        },
        "phoneStatusId": {
          "type": "integer",
          "format": "int32",
          "description": "phone Status Id"
        },
        "phoneStatus": {
          "type": "integer",
          "format": "int32",
          "description": "phone Status"
        },
        "phoneHardErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "phone Hard Error Count"
        },
        "phoneSoftErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "phone Soft Error Count"
        },
        "phoneTotalHardErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "phone Total Hard Error Count"
        },
        "phoneTotalSoftErrorCount": {
          "type": "integer",
          "format": "int32",
          "description": "phone Total Soft Error Count"
        },
        "phoneLastHardError": {
          "type": "string",
          "description": "phone Last Hard Error"
        },
        "phoneLastSoftError": {
          "type": "string",
          "description": "phone Last Soft Error"
        },
        "phoneHardErrorSince": {
          "type": "string",
          "description": "phone Hard Error Since"
        },
        "phoneSoftErrorSince": {
          "type": "string",
          "description": "phone Soft Error Since"
        },
        "statusId": {
          "type": "integer",
          "format": "int32",
          "description": "status Id"
        },
        "created": {
          "type": "string",
          "description": "created"
        },
        "modified": {
          "type": "string",
          "description": "modified"
        },
        "createdBy": {
          "type": "string",
          "description": "created By"
        },
        "modifiedBy": {
          "type": "string",
          "description": "modified By"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "id"
        }
      }
    },
    "ContactSearchRequest": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "description": "id"
          },
          "accountId": {
            "type": "integer",
            "format": "int32",
            "description": "Account Id"
          },
          "statusId": {
            "type": "integer",
            "format": "int32",
            "description": "status Id"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone Number"
          },
          "email": {
            "type": "string",
            "description": "email"
          },
          "assignedId": {
            "type": "string",
            "description": "assigned Id"
          },
          "firstName": {
            "type": "string",
            "description": "First Name"
          },
          "lastName": {
            "type": "string",
            "description": "Last Name"
          },
          "subscriptions": {
            "type": "array",
            "items": {},
            "description": "subscriptions"
          },
          "attributes": {
            "type": "array",
            "items": {},
            "description": "attributes"
          },
          "phoneStatusId": {
            "type": "integer",
            "format": "int32",
            "description": "phone Status Id"
          },
          "created": {
            "type": "string",
            "description": "created"
          },
          "createdBy": {
            "type": "string",
            "description": "created By"
          },
          "modified": {
            "type": "string",
            "description": "modified"
          },
          "modifiedBy": {
            "type": "string",
            "description": "modified By"
          }
        }
      }
    },
    "PushCampaignRequest": {
      "type": "object",
      "properties": {
        "Channels": {
          "type": "array",
          "items": {
            "description": "Channels that would be used for sending the Message. Use 22 for default associated Long Code",
            "title": "Channel",
            "type": "string",
            "default": "22"
          },
          "description": "Channels"
        },
        "Targets": {
          "type": "array",
          "items": {
            "description": "Phone numbers where the message should be sent",
            "title": "Targets",
            "type": "string"
          },
          "description": "Targets"
        },
        "TargetsUrl": {
          "type": "string",
          "description": "Targets Url",
          "title": "Targets URL",
          "x-ms-visibility": "internal"
        },
        "ContactListIds": {
          "type": "array",
          "items": {
            "title": "Contact List ID",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          "description": "Contact List Ids"
        },
        "ExcludeListIds": {
          "type": "array",
          "items": {
            "title": "ExcludeListIds",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          "description": "Exclude List Ids"
        },
        "CampaignId": {
          "type": "integer",
          "format": "int32",
          "description": "Campaign Id",
          "title": "CampaignId",
          "x-ms-visibility": "internal",
          "default": 0
        },
        "MediaId": {
          "type": "integer",
          "format": "int32",
          "description": "Media Id",
          "title": "Media ID",
          "x-ms-visibility": "advanced"
        },
        "Message": {
          "type": "string",
          "description": "Message",
          "title": "Message"
        },
        "From": {
          "type": "string",
          "description": "From",
          "title": "From",
          "x-ms-visibility": "internal"
        },
        "Subject": {
          "type": "string",
          "description": "Subject",
          "title": "Subject",
          "x-ms-visibility": "internal"
        },
        "IgnoreSingleUse": {
          "type": "boolean",
          "description": "Ignore Single Use",
          "title": "Ignore Single Use",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "advanced"
        },
        "ForceOptIn": {
          "type": "boolean",
          "description": "Force Opt-In",
          "title": "ForceOptIn",
          "enum": [
            true,
            false
          ],
          "x-ms-visibility": "advanced",
          "default": false
        },
        "Schedules": {
          "type": "array",
          "items": {
            "title": "Schedules",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
		  "title": "Schedules",
          "description": "The list of schedules associated with the action"
        },
        "Execute": {
          "type": "boolean",
          "description": "Set true if the action should be executed on creation",
          "title": "Execute",
          "enum": [
            true,
            false
          ],
          "default": true
        },
        "IgnoreInvalidTargets": {
          "type": "boolean",
          "description": "Indicates if invalid numbers should be ignored",
          "title": "IgnoreInvalidTargets",
          "enum": [
            true,
            false
          ],
          "default": false
        }
      },
      "required": [
        "Execute",
        "Message",
        "Channels",
        "Targets",
        "CampaignId"
      ]
    },
    "PushCampaignResponse": {
      "type": "object",
      "properties": {
        "channels": {
          "type": "array",
          "items": {},
          "description": "channels"
        },
        "targets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "targets"
        },
        "targetsUrl": {
          "type": "string",
          "description": "targets Url"
        },
        "targetsColumn": {
          "type": "string",
          "description": "targets Column"
        },
        "contactListIds": {
          "type": "array",
          "items": {},
          "description": "contact List Ids"
        },
        "excludeListIds": {
          "type": "array",
          "items": {},
          "description": "exclude List Ids"
        },
        "campaignId": {
          "type": "integer",
          "format": "int32",
          "description": "campaign Id"
        },
        "mediaId": {
          "type": "string",
          "description": "media Id"
        },
        "message": {
          "type": "string",
          "description": "message"
        },
        "from": {
          "type": "string",
          "description": "from"
        },
        "subject": {
          "type": "string",
          "description": "subject"
        },
        "ignoreSingleUse": {
          "type": "boolean",
          "description": "ignore Single Use"
        },
        "forceOptIn": {
          "type": "boolean",
          "description": "force Opt-In"
        },
        "statusId": {
          "type": "integer",
          "format": "int32",
          "description": "status Id"
        },
        "roundRobinById": {
          "type": "boolean",
          "description": "round Robin By Id"
        },
        "globalRoundRobin": {
          "type": "boolean",
          "description": "global Round Robin"
        },
        "status": {
          "type": "string",
          "description": "status"
        },
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "id"
        },
        "accountId": {
          "type": "integer",
          "format": "int32",
          "description": "Account Id"
        },
        "created": {
          "type": "string",
          "description": "created"
        },
        "modified": {
          "type": "string",
          "description": "modified"
        },
        "createdBy": {
          "type": "string",
          "description": "created By"
        },
        "modifiedBy": {
          "type": "string",
          "description": "modified By"
        },
        "schedules": {
          "type": "array",
          "items": {},
          "description": "schedules"
        }
      }
    },
    "UserResponse": {
      "type": "object",
      "properties": {
        "userName": {
          "type": "string",
          "description": "userName"
        },
        "accountId": {
          "type": "integer",
          "format": "int32",
          "description": "Account Id"
        },
        "email": {
          "type": "string",
          "description": "email"
        },
        "firstName": {
          "type": "string",
          "description": "First Name"
        },
        "lastName": {
          "type": "string",
          "description": "Last Name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone Number"
        },
        "isAdmin": {
          "type": "boolean",
          "description": "is Admin"
        },
        "apiKey": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string",
              "description": "key"
            },
            "secret": {
              "type": "string",
              "description": "secret"
            },
            "lastActivity": {
              "type": "string",
              "description": "last Activity"
            },
            "typeId": {
              "type": "integer",
              "format": "int32",
              "description": "type Id"
            },
            "type": {
              "type": "integer",
              "format": "int32",
              "description": "type"
            },
            "label": {
              "type": "string",
              "description": "label"
            },
            "userName": {
              "type": "string",
              "description": "userName"
            },
            "validTo": {
              "type": "string",
              "description": "valid To"
            },
            "accountId": {
              "type": "integer",
              "format": "int32",
              "description": "Account Id"
            },
            "id": {
              "type": "integer",
              "format": "int32",
              "description": "id"
            }
          },
          "description": "api Key"
        },
        "isChatUser": {
          "type": "boolean",
          "description": "is Chat User"
        },
        "reportOnly": {
          "type": "boolean",
          "description": "report Only"
        },
        "requestNumber": {
          "type": "boolean",
          "description": "request Number"
        },
        "canCreateContact": {
          "type": "boolean",
          "description": "can Create Contact"
        },
        "isAlertAgent": {
          "type": "boolean",
          "description": "is Alert Agent"
        },
        "agreed": {
          "type": "boolean",
          "description": "agreed"
        },
        "comment": {
          "type": "string",
          "description": "comment"
        },
        "isApproved": {
          "type": "boolean",
          "description": "is Approved"
        },
        "isLockedOut": {
          "type": "boolean",
          "description": "is Locked Out"
        },
        "lastLockoutDate": {
          "type": "string",
          "description": "last Lockout Date"
        },
        "creationDate": {
          "type": "string",
          "description": "creation Date"
        },
        "lastLoginDate": {
          "type": "string",
          "description": "last Login Date"
        },
        "lastActivityDate": {
          "type": "string",
          "description": "last Activity Date"
        },
        "lastPasswordChangedDate": {
          "type": "string",
          "description": "last Password Changed Date"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "basic_auth": {
      "type": "basic"
    }
  },
  "security": [
    {
      "basic_auth": []
    }
  ],
  "tags": []
}