{
  "swagger": "2.0",
  "info": {
    "title": "FORCAM FORCE Bridge",
    "version": "1.0.3",
    "description": "FORCAM FORCE is a IIoT platform solution for data driven manufacturing. It supports manufacturing companies to significantly increase their productivity. Its semantic data layer creates a uniform production data model and connects the shop- and top floor. The platform's open web interface form the bridge to in-house and third-party applications, thus enabling the free composition and collaboration of solutions. Connect today with FORCE to empower your workforce for digital transformation.",
    "contact": {
      "name": "FORCAM FORCE Bridge Support",
      "url": "https://forcam.com/en/contact/",
      "email": "forcebridge@forcam.com"
    }
  },
  "host": "powerappsgateway.force.eco",
  "basePath": "/msflow",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/callbacks/{callbackId}": {
      "delete": {
        "x-ms-visibility": "internal",
        "description": "Deleted a trigger",
        "summary": "Deleted a trigger",
        "tags": [
          "trigger"
        ],
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "name": "callbackId",
            "x-ms-url-encoding": "single",
            "in": "path",
            "description": "Id of the callback",
            "required": true,
            "type": "string"
          },
          {
            "name": "event",
            "in": "query",
            "description": "event identifier",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/callbacks/ticket-created": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketEvent"
        }
      },
      "post": {
        "description": "When a new ticket has been created",
        "summary": "When a new ticket has been created",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-updated": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketEvent"
        }
      },
      "post": {
        "description": "When an existing ticket has been updated",
        "summary": "When an existing ticket has been updated",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketUpdatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-deleted": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        }
      },
      "post": {
        "description": "When a ticket has been deleted",
        "summary": "When a ticket has been deleted",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-state-changed": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketStateChangeEvent"
        }
      },
      "post": {
        "description": "When the state of a ticket has been changed",
        "summary": "When the state of a ticket has been changed",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketStateChangedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-attachment-created": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketAttachmentEvent"
        }
      },
      "post": {
        "description": "When a ticket attachment has been created",
        "summary": "When a ticket attachment has been created",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketAttachmentCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-attachment-deleted": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        }
      },
      "post": {
        "description": "When a ticket attachment has been deleted",
        "summary": "When a ticket attachment has been deleted",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketAttachmentDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-activity-created": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketActivityEvent"
        }
      },
      "post": {
        "description": "When a ticket activity has been created",
        "summary": "When a ticket activity has been created",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-activity-updated": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketActivityEvent"
        }
      },
      "post": {
        "description": "When a ticket activity has been updated",
        "summary": "When a ticket activity has been updated",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityUpdatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-activity-deleted": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        }
      },
      "post": {
        "description": "When a ticket activity has been deleted",
        "summary": "When a ticket activity has been deleted",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-activity-state-changed": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketActivityStateChangedEvent"
        }
      },
      "post": {
        "description": "When a ticket activity state has been changed",
        "summary": "When a ticket activity state has been changed",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityStateChangedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-activity-remark-created": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketActivityRemarkEvent"
        }
      },
      "post": {
        "description": "When a ticket activity remark has been created",
        "summary": "When a ticket activity remark has been created",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityRemarkCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-activity-remark-deleted": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        }
      },
      "post": {
        "description": "When a ticket activity remark has been deleted",
        "summary": "When a ticket activity remark has been deleted",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityRemarkDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-activity-attachment-created": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/TicketActivityAttachmentEvent"
        }
      },
      "post": {
        "description": "When a ticket activity attachment has been created",
        "summary": "When a ticket activity attachment has been created",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityAttachmentCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/ticket-activity-attachment-deleted": {
      "x-ms-notification-content": {
        "description": "Ticket Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        }
      },
      "post": {
        "description": "When a ticket activity attachment has been deleted",
        "summary": "When a ticket activity attachment has been deleted",
        "tags": [
          "ticket",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketActivityAttachmentDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/workplace-created": {
      "x-ms-notification-content": {
        "description": "Workplace Event",
        "schema": {
          "$ref": "#/definitions/Workplace"
        }
      },
      "post": {
        "description": "When a new workplace has been created",
        "summary": "When a new workplace has been created",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "WorkplaceCreatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/workplace-updated": {
      "x-ms-notification-content": {
        "description": "Workplace Event",
        "schema": {
          "$ref": "#/definitions/Workplace"
        }
      },
      "post": {
        "description": "When a workplace has been updated",
        "summary": "When a workplace has been updated",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "WorkplaceUpdatedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/workplace-operating-state-changed": {
      "x-ms-notification-content": {
        "description": "WorkplaceOperatingStateChangedEvent Event",
        "schema": {
          "$ref": "#/definitions/WorkplaceOperatingStateChangedEvent"
        }
      },
      "post": {
        "description": "When the operating state of a workplace has been changed",
        "summary": "When the operating state of a workplace has been changed",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "WorkplaceOperatingStateChangedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/workplace-deleted": {
      "x-ms-notification-content": {
        "description": "Workplace Event",
        "schema": {
          "$ref": "#/definitions/DeleteEvent"
        }
      },
      "post": {
        "description": "When a workplace has been deleted",
        "summary": "When a workplace has been deleted",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "WorkplaceDeletedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/process-data-rule-violated": {
      "x-ms-notification-content": {
        "description": "Process data rule violated Event",
        "schema": {
          "$ref": "#/definitions/ProcessDataRuleViolated"
        }
      },
      "post": {
        "description": "When a process data rule has been violated",
        "summary": "When a process data rule has been violated",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "ProcessDataRuleViolatedEventTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "eventName",
            "in": "query",
            "description": "Name of the rule",
            "x-ms-summary": "Name of the rule",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/customized-action": {
      "x-ms-notification-content": {
        "description": "CustomCallback Event",
        "schema": {
          "$ref": "#/definitions/CustomCallback"
        }
      },
      "post": {
        "description": "When a customized action occured",
        "summary": "When a customized action occured",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "CustomizedTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Name of the event",
            "x-ms-summary": "Name of the event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/customized-action-raw": {
      "x-ms-notification-content": {
        "description": "CustomCallback Event",
        "schema": {
          "$ref": "#/definitions/CustomCallbackRaw"
        }
      },
      "post": {
        "description": "When a customized action occured (raw)",
        "summary": "When a customized action occured (raw)",
        "tags": [
          "workplace",
          "trigger"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "CustomizedRawTrigger",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Name of the event",
            "x-ms-summary": "Name of the event",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          }
        }
      }
    },
    "/callbacks/{eventRegisterName}": {
      "x-ms-notification-content": {
        "description": "Details for Webhook",
        "schema": {
          "$ref": "#/definitions/WebhookPushResponse"
        }
      },
      "post": {
        "description": "Creates webhook",
        "summary": "Triggers when a PUSH event occurs",
        "tags": [
          "hooks"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "Webhook-trigger",
        "x-ms-trigger": "single",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "body",
            "description": "Provided by hook registrator. Contains url where the events are sent to",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegisterHookPayload"
            }
          },
          {
            "name": "eventRegisterName",
            "in": "path",
            "x-ms-url-encoding": "single",
            "description": "name of the registered event",
            "required": true,
            "type": "string"
          },
          {
            "name": "eventName",
            "in": "query",
            "description": "Name of the event",
            "x-ms-summary": "Name of the event",
            "required": false,
            "type": "string"
          },
          {
            "name": "filterId",
            "in": "query",
            "description": "Id of object to filter",
            "x-ms-summary": "Id of object to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/WebhookCreationResponse"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "$ref": "#/responses/ApiKeyNotValid"
          },
          "404": {
            "description": "Unknown eventName",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/masterData/operatingStates/id/{operatingStatesId}": {
      "get": {
        "description": "Get the operating states by its state Id",
        "summary": "Get operating state by Id",
        "tags": [
          "masterData"
        ],
        "operationId": "OperatingStatesById",
        "parameters": [
          {
            "name": "operatingStatesId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "The Id of the operatingState",
            "x-ms-summary": "The Id of the operatingState",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MasterDataOperatingState"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/miscellaneous/materials": {
      "get": {
        "description": "Get materials",
        "summary": "Get materials",
        "tags": [
          "miscellaneous"
        ],
        "operationId": "GetMaterials",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MaterialsListFilter"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/operations/progress/workplaceId/{workplaceId}": {
      "get": {
        "description": "Get operations that are in progress",
        "summary": "Get operations in progress",
        "tags": [
          "operations"
        ],
        "operationId": "OperationsInProgress",
        "parameters": [
          {
            "name": "workplaceId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/operations/dispatched/workplaceId/{workplaceId}": {
      "get": {
        "description": "Get operations that are dispatched",
        "summary": "Get dispatched operations",
        "tags": [
          "operations"
        ],
        "operationId": "OperationsDispatched",
        "parameters": [
          {
            "name": "workplaceId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/operations/plannable/workplaceId/{workplaceId}": {
      "get": {
        "description": "Get operations that are plannable",
        "summary": "Get plannable operations",
        "tags": [
          "operations"
        ],
        "operationId": "OperationsPlannable",
        "parameters": [
          {
            "name": "workplaceId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "description": "Id of workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/operations/operationId/{operationId}": {
      "get": {
        "description": "get an operation by the Id",
        "summary": "Get operation by Id",
        "tags": [
          "operations"
        ],
        "operationId": "OperationByOperationId",
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "x-ms-url-encoding": "single",
            "description": "Id of an operation",
            "x-ms-summary": "Operation Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/semantic/hitListOperatingStateMaterial/startDate/{startDate}/materialId/{materialId}": {
      "get": {
        "description": "Get a hitlist of operating states",
        "summary": "Get hitlist by material",
        "tags": [
          "reports"
        ],
        "operationId": "HitListOperatingStateByMaterialId",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "materialId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of a material",
            "x-ms-summary": "MaterialId",
            "x-ms-dynamic-values": {
              "operationId": "GetMaterials",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "materials"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticHitListOperatingStateMaterialList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/semantic/hitListOperatingStateWorkplace/startDate/{startDate}/workplaceId/{workplaceId}": {
      "get": {
        "description": "Get a hitlist of operating states by its workplace Id",
        "summary": "Get hitlist by workplace",
        "tags": [
          "reports"
        ],
        "operationId": "HitListOperatingStateWorkplace",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "workplaceId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of a workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticHitListOperatingStateWorkplaceList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/semantic/hitListOperatingStateWorkplace/startDate/{startDate}/workplaceGroup/{workplaceGroupId}": {
      "get": {
        "description": "Get a hitlist of operating states by its workplace Id",
        "summary": "Get hitlist by workplaceGroup",
        "tags": [
          "reports"
        ],
        "operationId": "HitListOperatingStateWorkplaceGroup",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "workplaceGroupId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of a workplace group",
            "x-ms-summary": "WorkplaceGroupId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaceGroups",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "workplaceGroups"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticHitListOperatingStateWorkplaceList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/semantic/overallEquipmentEfficiency/startDate/{startDate}": {
      "get": {
        "description": "Get overall equipment efficiency (OEE)",
        "summary": "Get overall equipment efficiency (OEE)",
        "tags": [
          "reports"
        ],
        "operationId": "OverallEquipmentEfficiency",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "workplaceId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          },
          {
            "name": "workplaceGroupId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace group",
            "x-ms-summary": "WorkplaceGroupId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaceGroups",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "workplaceGroups"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticOverallEquipmentEfficiency"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/semantic/overallProcessEfficiency/startDate/{startDate}": {
      "get": {
        "description": "Get the overall process efficiency (OPE)",
        "summary": "Get overall process efficiency (OPE)",
        "tags": [
          "reports"
        ],
        "operationId": "OverallProcessEfficiency",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "materialId",
            "in": "query",
            "required": false,
            "description": "Id of a material",
            "x-ms-summary": "MaterialId",
            "x-ms-dynamic-values": {
              "operationId": "GetMaterials",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "materials"
            },
            "type": "string"
          },
          {
            "name": "orderId",
            "in": "query",
            "required": false,
            "description": "Id of a order",
            "x-ms-summary": "Order Id",
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticOverallProcessEfficiency"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/semantic/qualityDetailsMaterial/startDate/{startDate}/materialId/{materialId}": {
      "get": {
        "description": "Get the material quality details",
        "summary": "Get material quality details",
        "tags": [
          "reports"
        ],
        "operationId": "QualityDetailsByMaterialId",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "materialId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of a material",
            "x-ms-summary": "MaterialId",
            "x-ms-dynamic-values": {
              "operationId": "GetMaterials",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "materials"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticQualityDetailsMaterialList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/semantic/qualityDetailsWorkplace/startDate/{startDate}": {
      "get": {
        "description": "Get workplace quality details by its workplaceId and materialId",
        "summary": "Get workplace quality details",
        "tags": [
          "reports"
        ],
        "operationId": "QualityDetailsByWorkplace",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "materialId",
            "in": "query",
            "required": false,
            "description": "Id of a material",
            "x-ms-summary": "MaterialId",
            "x-ms-dynamic-values": {
              "operationId": "GetMaterials",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "materials"
            },
            "type": "string"
          },
          {
            "name": "workplaceId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          },
          {
            "name": "workplaceGroupId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace group",
            "x-ms-summary": "WorkplaceGroupId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaceGroups",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "workplaceGroups"
            },
            "type": "string"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticQualityDetailsWorkplaceList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/semantic/totalQuantity/startDate/{startDate}": {
      "get": {
        "description": "Get total quantity details",
        "summary": "Get total quantity details",
        "tags": [
          "reports"
        ],
        "operationId": "TotalQuantity",
        "parameters": [
          {
            "name": "startDate",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Filter start date",
            "x-ms-summary": "Start date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "description": "Filter end date",
            "x-ms-summary": "End date",
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "workplaceId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          },
          {
            "name": "workplaceGroupId",
            "in": "query",
            "required": false,
            "description": "Id of a workplace group",
            "x-ms-summary": "WorkplaceGroupId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaceGroups",
              "value-path": "id",
              "value-title": "number",
              "value-collection": "workplaceGroups"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SemanticTotalQuantityList"
            }
          },
          "400": {
            "description": "Could not find element in the selected timespan",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "API Key not valid",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets": {
      "get": {
        "description": "Get tickets",
        "summary": "Get tickets",
        "tags": [
          "ticket"
        ],
        "operationId": "Tickets",
        "parameters": [
          {
            "name": "ticketNumber",
            "in": "query",
            "required": false,
            "description": "Number of the ticket",
            "x-ms-summary": "Ticketnumber",
            "type": "string"
          },
          {
            "name": "ticketStateId",
            "in": "query",
            "required": false,
            "description": "Ticket state",
            "x-ms-summary": "Ticket state",
            "type": "string",
            "enum": [
              "NEW",
              "IN_PROGRESS",
              "DONE",
              "CONFIRMED",
              "REOPENED"
            ]
          },
          {
            "name": "ticketClassId",
            "in": "query",
            "required": false,
            "description": "class of the ticket",
            "x-ms-summary": "TicketClassId",
            "x-ms-dynamic-values": {
              "operationId": "TicketClasses",
              "value-path": "id",
              "value-title": "description",
              "value-collection": "ticketClasses"
            },
            "type": "string"
          },
          {
            "name": "workplaceId",
            "in": "query",
            "required": false,
            "description": "Id of workplace that tickets have to belong to",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "description": "Create a new ticket",
        "summary": "Create a new ticket",
        "tags": [
          "ticket"
        ],
        "consumes": [
          "application/json"
        ],
        "operationId": "TicketCreate",
        "parameters": [
          {
            "name": "newTicket",
            "in": "body",
            "required": true,
            "description": "Ticket to create",
            "schema": {
              "type": "object",
              "required": [
                "priority",
                "ticketStateId",
                "description",
                "title"
              ],
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "rootCause": {
                  "type": "string"
                },
                "priority": {
                  "type": "string",
                  "enum": [
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "VERY_HIGH"
                  ]
                },
                "ticketStateId": {
                  "type": "string",
                  "enum": [
                    "NEW",
                    "IN_PROGRESS",
                    "DONE",
                    "CONFIRMED",
                    "REOPENED"
                  ]
                },
                "ticketClassId": {
                  "type": "string",
                  "x-ms-dynamic-values": {
                    "operationId": "TicketClasses",
                    "value-path": "id",
                    "value-title": "description",
                    "value-collection": "ticketClasses"
                  }
                },
                "operationId": {
                  "type": "string"
                },
                "materialNumber": {
                  "type": "string"
                },
                "workplaceId": {
                  "type": "string",
                  "x-ms-summary": "WorkplaceId",
                  "x-ms-dynamic-values": {
                    "operationId": "getWorkplaces",
                    "value-path": "id",
                    "value-title": "name",
                    "value-collection": "workplaces"
                  }
                },
                "shiftId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Ticket"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/ticketId/{ticketId}": {
      "get": {
        "description": "Get ticket by Id",
        "summary": "Get ticket by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketByTicketId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Ticket"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/ticketNumber/{ticketNumber}": {
      "get": {
        "description": "Get ticket by the ticket number",
        "summary": "Get ticket by number",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketByNumber",
        "parameters": [
          {
            "name": "ticketNumber",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Number of the ticket",
            "x-ms-summary": "Ticketnumber",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Ticket"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/ticketId/{ticketId}/attachments/attachmentId/{attachmentId}": {
      "get": {
        "description": "Get ticket attachment by the ticket and attachmentId",
        "summary": "Get ticket attachment by attachment Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketAttachmentById",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the attachment",
            "x-ms-summary": "Id of the attachment",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketAttachment"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/ticketId/{ticketId}/attachments": {
      "get": {
        "description": "Get ticket attachments by the ticket Id",
        "summary": "Get ticket attachments by ticket Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketAttachmentsByTicketId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketAttachmentList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/ticketId/{ticketId}/activities/activityId/{activityId}": {
      "get": {
        "description": "Get ticket activity by the ticket and activity Id",
        "summary": "Get ticket activity by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketActivityById",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          },
          {
            "name": "activityId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the Activity",
            "x-ms-summary": "Id of the Activity",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketActivity"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/ticketId/{ticketId}/activities": {
      "get": {
        "description": "Get ticket activities by the ticket Id",
        "summary": "Get ticket activities by ticket Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketActivityByTicketId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketActivityList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/classes": {
      "get": {
        "description": "Get ticket classes",
        "summary": "Get ticket classes",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketClasses",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit",
            "x-ms-summary": "Limit",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset",
            "x-ms-summary": "Offset",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketClassList"
            }
          }
        }
      }
    },
    "/tickets/classes/{ticketClassId}": {
      "get": {
        "description": "Get ticket class by Id",
        "summary": "Get ticket class by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketClassByClassId",
        "parameters": [
          {
            "name": "ticketClassId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of ticketClass",
            "x-ms-summary": "TicketClassId",
            "x-ms-dynamic-values": {
              "operationId": "TicketClasses",
              "value-path": "id",
              "value-title": "description",
              "value-collection": "ticketClasses"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketClass"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/ticketId/{ticketId}/activities/activityId/{activityId}/remarks/remarkId/{remarkId}": {
      "get": {
        "description": "Get ticket activity remark by the remark Id",
        "summary": "Get ticket activity remark by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketActivityRemarkById",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          },
          {
            "name": "activityId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the Activity",
            "x-ms-summary": "Id of the Activity",
            "type": "string"
          },
          {
            "name": "remarkId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the Activity",
            "x-ms-summary": "Id of the Activity",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketActivityRemark"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/states": {
      "get": {
        "description": "Get ticket states",
        "summary": "Get ticket states",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketStates",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Limit",
            "x-ms-summary": "Limit",
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Offset",
            "x-ms-summary": "Offset",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketStateList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/ticketId/{ticketId}/activities/activityId/{activityId}/remarks": {
      "get": {
        "description": "Get ticket activity remarks  by the activity Id",
        "summary": "Get ticket activity  remarks by activity Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketActivityRemarkByActivityId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          },
          {
            "name": "activityId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the Activity",
            "x-ms-summary": "Id of the Activity",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketActivityRemarkList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/{ticketId}/state/{newTicketState}": {
      "put": {
        "description": "Change state of ticket",
        "summary": "Change state of ticket",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketStatesChange",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          },
          {
            "name": "newTicketState",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "New ticket state for ticket",
            "x-ms-summary": "New ticket state",
            "type": "string",
            "enum": [
              "NEW",
              "IN_PROGRESS",
              "DONE",
              "CONFIRMED",
              "REOPENED"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Ticket"
            }
          },
          "400": {
            "description": "Wrong State",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/ticketId/{ticketId}/activities/activityId/{activityId}/attachments/attachmentId/{attachmentId}": {
      "get": {
        "description": "Get ticket activity attachment by the ticket, activity and attachmentId",
        "summary": "Get ticket activity attachment by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketActivityAttachmentById",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          },
          {
            "name": "activityId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the activity",
            "x-ms-summary": "Id of the Activity",
            "type": "string"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the attachment",
            "x-ms-summary": "Id of the attachment",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketActivityAttachment"
            }
          },
          "400": {
            "description": "Wrong State",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/states/{ticketStateId}": {
      "get": {
        "description": "Get ticket state by Id",
        "summary": "Get ticket state by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketStatesByStateId",
        "parameters": [
          {
            "name": "ticketStateId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Ticket state",
            "x-ms-summary": "Ticket state",
            "type": "string",
            "enum": [
              "NEW",
              "IN_PROGRESS",
              "DONE",
              "CONFIRMED",
              "REOPENED"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketState"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/tickets/ticketId/{ticketId}/activities/activityId/{activityId}/attachments": {
      "get": {
        "description": "Get ticket activity attachments by the ticket, activity and attachmentId",
        "summary": "Get ticket activity attachments by Id",
        "tags": [
          "ticket"
        ],
        "operationId": "TicketActivityAttachmentsByActivityId",
        "parameters": [
          {
            "name": "ticketId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the ticket",
            "x-ms-summary": "Ticket Id",
            "type": "string"
          },
          {
            "name": "activityId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of the activity",
            "x-ms-summary": "Id of the Activity",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TicketActivityAttachmentList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/workplaces/id/{workplaceId}": {
      "get": {
        "description": "Get workplace",
        "summary": "Get workplace",
        "tags": [
          "workplace"
        ],
        "operationId": "GetWorkplace",
        "parameters": [
          {
            "name": "workplaceId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Workplace"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/workplaces/filter": {
      "get": {
        "description": "Get workplaces",
        "summary": "Get workplace",
        "tags": [
          "workplace"
        ],
        "operationId": "getWorkplaces",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkplaceFilter"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/workplaces/staffMember/id/{workplaceId}": {
      "get": {
        "description": "Get current staff members of the workplace",
        "summary": "Get current staff members of the workplace",
        "tags": [
          "workplace"
        ],
        "operationId": "WorkplaceStuffMember",
        "parameters": [
          {
            "name": "workplaceId",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "description": "Id of workplace",
            "x-ms-summary": "WorkplaceId",
            "x-ms-dynamic-values": {
              "operationId": "getWorkplaces",
              "value-path": "id",
              "value-title": "name",
              "value-collection": "workplaces"
            },
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkplaceStuffMemberList"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/workplaceGroups": {
      "get": {
        "description": "Get workplaces groups",
        "summary": "Get workplace groups",
        "tags": [
          "workplaceGroups"
        ],
        "operationId": "getWorkplaceGroups",
        "x-ms-visibility": "internal",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/WorkplaceGroupListFilter"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://forcam.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://forcam.com/en/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Internet of Things"
    }
  ],
  "definitions": {
    "CustomCallback": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "callbackID",
        "timestamp",
        "key1",
        "key2",
        "key3",
        "key4",
        "key5"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "key1": {
          "type": "string"
        },
        "key2": {
          "type": "string"
        },
        "key3": {
          "type": "string"
        },
        "key4": {
          "type": "string"
        },
        "key5": {
          "type": "string"
        }
      }
    },
    "CustomCallbackRaw": {
      "type": "object",
      "additionalProperties": true,
      "required": [
        "callbackID",
        "timestamp"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        }
      }
    },
    "WorkplaceOperatingStateChangedEvent": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "callbackID",
        "timestamp",
        "workplaceNumber",
        "workplaceId",
        "workplaceDescription",
        "newStateCode",
        "newStateId",
        "newStateDescription",
        "oldStateCode",
        "oldStateId"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "workplaceNumber": {
          "type": "string"
        },
        "workplaceId": {
          "type": "string"
        },
        "workplaceDescription": {
          "type": "string"
        },
        "newStateCode": {
          "type": "string"
        },
        "newStateId": {
          "type": "string"
        },
        "newStateDescription": {
          "type": "string"
        },
        "oldStateCode": {
          "type": "string"
        },
        "oldStateId": {
          "type": "string"
        }
      }
    },
    "TicketEvent": {
      "type": "object",
      "required": [
        "callbackID",
        "timestamp",
        "eventType",
        "eventName",
        "ticketID",
        "ticketNumber",
        "ticketTitle"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "eventName": {
          "type": "string"
        },
        "ticketID": {
          "type": "string"
        },
        "ticketNumber": {
          "type": "string"
        },
        "ticketTitle": {
          "type": "string"
        }
      }
    },
    "TicketStateChangeEvent": {
      "type": "object",
      "required": [
        "callbackID",
        "timestamp",
        "eventType",
        "eventName",
        "ticketID",
        "ticketNumber",
        "ticketTitle",
        "ticketStateID",
        "ticketState",
        "ticketStateColor"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "eventName": {
          "type": "string"
        },
        "ticketID": {
          "type": "string"
        },
        "ticketNumber": {
          "type": "string"
        },
        "ticketTitle": {
          "type": "string"
        },
        "ticketStateID": {
          "type": "string"
        },
        "ticketState": {
          "type": "string"
        },
        "ticketStateColor": {
          "type": "string"
        }
      }
    },
    "TicketAttachmentEvent": {
      "type": "object",
      "required": [
        "callbackID",
        "timestamp",
        "eventType",
        "eventName",
        "ticketID",
        "ticketNumber",
        "ticketTitle",
        "attachmentId",
        "attachmentDescription"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "eventName": {
          "type": "string"
        },
        "ticketID": {
          "type": "string"
        },
        "ticketNumber": {
          "type": "string"
        },
        "ticketTitle": {
          "type": "string"
        },
        "attachmentId": {
          "type": "string"
        },
        "attachmentDescription": {
          "type": "string"
        }
      }
    },
    "TicketActivityEvent": {
      "type": "object",
      "required": [
        "callbackID",
        "timestamp",
        "eventType",
        "eventName",
        "ticketID",
        "ticketNumber",
        "ticketTitle",
        "activityID",
        "activityTitle"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "eventName": {
          "type": "string"
        },
        "ticketID": {
          "type": "string"
        },
        "ticketNumber": {
          "type": "string"
        },
        "ticketTitle": {
          "type": "string"
        },
        "activityID": {
          "type": "string"
        },
        "activityTitle": {
          "type": "string"
        }
      }
    },
    "TicketActivityStateChangedEvent": {
      "type": "object",
      "required": [
        "callbackID",
        "timestamp",
        "eventType",
        "eventName",
        "ticketID",
        "ticketNumber",
        "ticketTitle",
        "activityID",
        "activityTitle",
        "activityStateID"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "eventName": {
          "type": "string"
        },
        "ticketID": {
          "type": "string"
        },
        "ticketNumber": {
          "type": "string"
        },
        "ticketTitle": {
          "type": "string"
        },
        "activityID": {
          "type": "string"
        },
        "activityTitle": {
          "type": "string"
        },
        "activityStateID": {
          "type": "string"
        }
      }
    },
    "TicketActivityRemarkEvent": {
      "type": "object",
      "required": [
        "callbackID",
        "timestamp",
        "eventType",
        "eventName",
        "ticketID",
        "ticketNumber",
        "ticketTitle",
        "activityID",
        "activityTitle",
        "activityRemarkID",
        "activityRemark",
        "activityRemarkEditor",
        "activityRemarkCreatedAt"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "eventName": {
          "type": "string"
        },
        "ticketID": {
          "type": "string"
        },
        "ticketNumber": {
          "type": "string"
        },
        "ticketTitle": {
          "type": "string"
        },
        "activityID": {
          "type": "string"
        },
        "activityTitle": {
          "type": "string"
        },
        "activityRemarkID": {
          "type": "string"
        },
        "activityRemark": {
          "type": "string"
        },
        "activityRemarkEditor": {
          "type": "string"
        },
        "activityRemarkCreatedAt": {
          "type": "string"
        }
      }
    },
    "TicketActivityAttachmentEvent": {
      "type": "object",
      "required": [
        "callbackID",
        "timestamp",
        "eventType",
        "eventName",
        "ticketID",
        "ticketNumber",
        "ticketTitle",
        "activityID",
        "activityTitle",
        "attachmentID",
        "attachmentDescription"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "eventName": {
          "type": "string"
        },
        "ticketID": {
          "type": "string"
        },
        "ticketNumber": {
          "type": "string"
        },
        "ticketTitle": {
          "type": "string"
        },
        "activityID": {
          "type": "string"
        },
        "activityTitle": {
          "type": "string"
        },
        "attachmentID": {
          "type": "string"
        },
        "attachmentDescription": {
          "type": "string"
        }
      }
    },
    "ProcessDataRuleViolated": {
      "type": "object",
      "required": [
        "callbackID",
        "objectID",
        "timestamp",
        "eventType",
        "eventName",
        "signalInfo",
        "unitInfo",
        "violationRuleInfo"
      ],
      "properties": {
        "callbackID": {
          "type": "string"
        },
        "objectID": {
          "type": "string"
        },
        "timestamp": {
          "type": "string"
        },
        "eventType": {
          "type": "string"
        },
        "eventName": {
          "type": "string"
        },
        "signalInfo": {
          "type": "object",
          "properties": {
            "signalName": {
              "type": "string"
            },
            "baseSignalValue": {
              "type": "string"
            },
            "signalGroup": {
              "type": "string"
            },
            "deliveredSignalValue": {
              "type": "string"
            },
            "controller": {
              "type": "string"
            }
          }
        },
        "unitInfo": {
          "type": "object",
          "properties": {
            "baseUnitSymbol": {
              "type": "string"
            },
            "baseUnitMnemonic": {
              "type": "string"
            },
            "deliveredUnitSymbol": {
              "type": "string"
            },
            "physicalUnitMnemonic": {
              "type": "string"
            },
            "deliveredUnitMnemonic": {
              "type": "string"
[...]
