{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Blackbaud FENXT General Ledger",
    "description": "Blackbaud Financial Edge NXT is a comprehensive cloud-based accounting software solution built specifically for nonprofits. Use the General Ledger connector to manage the general ledger and related entities found within The Financial Edge NXT.",
    "contact": {
      "name": "Blackbaud Support",
      "url": "https://www.blackbaud.com/support",
      "email": "skyapi@blackbaud.com"
    },
    "x-ms-api-annotation": {
      "status": "Preview"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.blackbaud.com/products/blackbaud-financial-edge-nxt"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.blackbaud.com/privacy-shield"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Sales and CRM;Productivity"
    }
  ],
  "host": "api.sky.blackbaud.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "skyApiOAuth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://oauth2.sky.blackbaud.com/authorization",
      "tokenUrl": "https://oauth2.sky.blackbaud.com/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "skyApiOAuth": []
    }
  ],
  "paths": {
    "/generalledger/v1/classes": {
      "get": {
        "operationId": "ListClasses",
        "summary": "List classes",
        "description": "Lists the account classes.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/GLApi.ClassArray"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view classes."
          }
        }
      }
    },
    "/generalledger/v1/journalcodes": {
      "get": {
        "operationId": "ListJournalCodes",
        "summary": "List journal codes",
        "description": "Lists the available journal codes.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/GLApi.JournalCodeArray"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view journal codes."
          }
        }
      }
    },
    "/generalledger/v1/journalentrybatches": {
      "get": {
        "operationId": "ListJournalEntryBatches",
        "summary": "List journal entry batches",
        "description": "Lists the available journal entry batches.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "The batch status.",
            "type": "string",
            "x-ms-summary": "Status",
            "enum": [
              "Open",
              "PendingApproval",
              "Approved",
              "Posted",
              "Deleted"  
            ],
            "x-ms-enum-values": [
              {
                "value": "Open",
                "displayName": "Open"
              },
              {
                "value": "PendingApproval",
                "displayName": "Pending approval"
              },
              {
                "value": "Approved",
                "displayName": "Approved"
              },
              {
                "value": "Posted",
                "displayName": "Posted"
              },
              {
                "value": "Deleted",
                "displayName": "Deleted"
              }
            ]
          },
          {
            "name": "search_text",
            "in": "query",
            "description": "Search text to match for journal entry batch ID or description.",
            "type": "string",
            "x-ms-summary": "Search text",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 100. The maximum is 500.",
            "type": "integer",
            "format": "int32",
            "default": 100,
            "maximum": 500,
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "last_modified",
            "in": "query",
            "description": "Filter the results to journal entry batches modified on or after the specified date.",
            "type": "string",
            "format": "date-time",
            "x-ms-summary": "Modified on or after",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/GLApi.JournalEntryBatchCollection"
            }
          },
          "400": {
            "description": "Returned when the specified request parameters are not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view journal entry batches."
          }
        }
      },
      "post": {
        "operationId": "CreateJournalEntryBatch",
        "summary": "Create a journal entry batch",
        "description": "Creates a new journal entry batch.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GLApi.NewJournalEntryBatch"
            },
            "description": "The journal entry batch to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful. The response body contains the ID of the new journal entry batch.",
            "schema": {
              "$ref": "#/definitions/GLApi.CreatedJournalEntryBatch"
            }
          },
          "400": {
            "description": "Returned when the request is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create journal entry batches."
          }
        }
      }      
    },
    "/generalledger/v1/journalentrybatches/{batch_id}": {
      "delete": {
        "operationId": "DeleteJournalEntryBatch",
        "summary": "Delete a journal entry batch",
        "description": "Deletes a journal entry batch.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "The system record ID of the journal entry batch to delete.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully deletes the journal entry batch."
          },
          "400": {
            "description": "Returned when the specified journal entry batch ID is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to delete the journal entry batch."
          },
          "404": {
            "description": "Returned when the specified journal entry batch could not be found."
          }
        }
      },
      "patch": {
        "operationId": "EditJournalEntryBatch",
        "summary": "Update a journal entry batch",
        "description": "Updates a journal entry batch.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],        
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "The system record ID of the journal entry batch to update.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Batch ID"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GLApi.EditJournalEntryBatch"
            },
            "description": "An object that represents the properties of the journal entry batch to update.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully updates the journal entry batch.",
            "schema": {
              "$ref": "#/definitions/GLApi.CreatedJournalEntryBatch"
            }
          },
          "400": {
            "description": "Returned when the specified parameters are not in the appropriate format, or the specified journal entry batch is already posted."
          },
          "403": {
            "description": "Returned when the user does not have permission to update the journal entry batch."
          },
          "404": {
            "description": "Returned when the specified journal entry batch is not found."
          }
        }
      }
    },
    "/generalledger/v1/journalentrybatches/{batch_id}/journalentries": {
      "post": {
        "operationId": "CreateSimpleJournalEntry",
        "summary": "Create a journal entry (single distribution)",
        "description": "Creates a new journal entry with a single distribution.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ], 
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "The system record ID of the journal entry batch.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GLApi.NewSimpleJournalEntry"
            },
            "description": "The journal entry to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful."
          },
          "400": {
            "description": "Returned when specified journal entry is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to add journal entries."
          },
          "404": {
            "description": "Returned when no journal entry batch is found with the specified ID."
          }
        }
      },
      "delete": {
        "operationId": "ClearJournalEntries",
        "summary": "Clear journal entries",
        "description": "Remove all journal entries from the specified batch.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "The system record ID of the journal entry batch to clear.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful."
          },
          "403": {
            "description": "Returned when the user does not have permission to clear journal entries."
          },
          "404": {
            "description": "Returned when no journal entry batch is found with the specified ID."
          }
        }
      },
      "get": {
        "operationId": "ListJournalEntries",
        "summary": "List journal entries",
        "description": "Returns a list of journal entries for a specified journal entry batch.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "The system record ID of the journal entry batch.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Represents the number of records to return. The default is 100. The maximum is 500.",
            "type": "integer",
            "format": "int32",
            "default": 100,
            "maximum": 500,
            "x-ms-summary": "Limit",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Represents the number of records to skip. For use with pagination.",
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Offset",
            "x-ms-visibility": "advanced"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/GLApi.JournalEntryCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view journal entry batches."
          },
          "404": {
            "description": "Returned when the specified journal entry batch could not be found."
          }
        }
      }
    },
    "/generalledger/v1/journalentrybatches/{batch_id}/post": {
      "post": {
        "operationId": "PostJournalEntryBatch",
        "summary": "Post a journal entry batch",
        "description": "Posts a journal entry batch.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "The system record ID of the journal entry batch.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/GLApi.ValidationResult"
            }
          },
          "400": {
            "description": "Returned when specified batch cannot be posted in its current state."
          },
          "403": {
            "description": "Returned when the user does not have permission to post a batch."
          },
          "404": {
            "description": "Returned when the specified batch could not be found."
          }
        }
      }
    },
    "/generalledger/v1/journalentrybatches/{batch_id}/summary": {
      "get": {
        "operationId": "GetJournalEntryBatchSummary",
        "summary": "Get a journal entry batch summary",
        "description": "Returns the journal entry batch summary.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "The system record ID of the journal entry batch.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful.",
            "schema": {
              "$ref": "#/definitions/GLApi.JournalEntryBatchSummary"
            }
          },
          "400": {
            "description": "Returned when the specified batch ID is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to view journal entry batches."
          },
          "404": {
            "description": "Returned when the specified journal entry batch could not be found."
          }
        }
      }
    },
    "/generalledger/v1/journalentrybatches/{batch_id}/validate": {
      "get": {
        "operationId": "ValidateJournalEntryBatch",
        "summary": "Validate a journal entry batch",
        "description": "Validates a journal entry batch.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "The system record ID of the journal entry batch.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful. The response body contains the results of batch validation. Note that the batch may be valid or invalid, but the validation proccess completed.",
            "schema": {
              "$ref": "#/definitions/GLApi.ValidationResult"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to validate the batch."
          },
          "404": {
            "description": "Returned when the specified batch could not be found."
          }
        }
      }
    },
    "/generalledger/v1/journalentrybatches/attachments": {
      "post": {
        "operationId": "CreateJournalEntryBatchAttachment",
        "summary": "Create a journal entry batch attachment",
        "description": "Creates a new journal entry batch attachment.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GLApi.NewJournalEntryBatchAttachment"
            },
            "description": "An object that represents the attachment to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation successfully creates an attachment. The response body contains the ID of the new attachment.",
            "schema": {
              "$ref": "#/definitions/GLApi.CreatedJournalEntryBatchAttachment"
            }
          },
          "400": {
            "description": "Returned when the request body is not in the appropriate format."
          },
          "403": {
            "description": "Returned when the user does not have permission to create the attachment."
          },
          "404": {
            "description": "Returned when the specified journal entry batch is not found."
          }
        }
      }
    },
    "/generalledger/v1/mediatypes": {
      "get": {
        "operationId": "ListMediaTypes",
        "summary": "List media types",
        "description": "Lists the media types.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/GLApi.MediaTypeCollection"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view media types."
          }
        }
      }
    },
    "/generalledger/v1/transactioncodes": {
      "get": {
        "operationId": "ListTransactionCodes",
        "summary": "List transaction codes",
        "description": "Lists the transaction codes.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/GLApi.TransactionCodeArray"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view transaction codes."
          }
        }
      }
    },
    "/generalledger/v1/transactioncodes/{transaction_code_id}/values": {
      "get": {
        "operationId": "ListTransactionCodeValues",
        "summary": "List transaction code values",
        "description": "Lists the transaction code values.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "transaction_code_id",
            "in": "path",
            "description": "The transaction code.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Transaction code",
            "x-ms-url-encoding": "single",
            "x-ms-dynamic-values": {
              "operationId": "ListTransactionCodes",
              "value-path": "transaction_code_id",
              "value-title": "name"
            },
            "x-ms-dynamic-list": {
              "operationId": "ListTransactionCodes",
              "itemValuePath": "transaction_code_id",
              "itemTitlePath": "name"
            }  
          }
        ],        
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/GLApi.TransactionCodeValueArray"
            }
          },
          "403": {
            "description": "Returned when the user does not have permission to view transaction code values."
          }
        }
      }
    },

    "/generalledger/v1/virtual/journalentrybatches/{batch_id}/splitjournalentries": {
      "post": {
        "operationId": "CreateSplitJournalEntry",
        "summary": "Create a journal entry (split distributions)",
        "description": "Creates a new journal entry with split distributions.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ], 
        "parameters": [
          {
            "name": "batch_id",
            "in": "path",
            "description": "The system record ID of the journal entry batch.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "x-ms-summary": "Batch ID",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GLApi.NewSplitJournalEntry"
            },
            "description": "The journal entry to create.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation is successful."
          },
          "400": {
            "description": "Returned when specified journal entry is not in the correct format."
          },
          "403": {
            "description": "Returned when the user does not have permission to add journal entries."
          },
          "404": {
            "description": "Returned when no journal entry batch is found with the specified ID."
          }
        }
      }
    },    
    "/generalledger/v1/virtual/simplejournalentry/schema": {
      "get": {
        "operationId": "GetSimpleJournalEntrySchema",
        "summary": "Get simple journal entry schema",
        "description": "Get the OpenAPI schema for simple journal entry.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/GLApi.Virtual.DynamicSchema"
            }
          }
        }
      }
    },
    "/generalledger/v1/virtual/splitjournalentry/schema": {
      "get": {
        "operationId": "GetSplitJournalEntrySchema",
        "summary": "Get split journal entry schema",
        "description": "Get the OpenAPI schema for split journal entry.",
        "x-ms-visibility": "internal",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returned when the operation succeeds.",
            "schema": {
              "$ref": "#/definitions/GLApi.Virtual.DynamicSchema"
            }
          }
        }
      }
    }

  },
  "definitions": {
    "GLApi.Class": {
      "type": "object",
      "description": "Class",
      "properties": {
        "class_id": {
          "type": "integer",
          "format": "int32",
          "description": "The class identifier.",
          "x-ms-summary": "ID"
        },
        "description": {
          "type": "string",
          "description": "The description of the class.",
          "x-ms-summary": "Description"
        },
        "value": {
          "type": "string",
          "description": "The value of the class.",
          "x-ms-summary": "Value"
        },
        "inactive": {
          "type": "boolean",
          "description": "Is the class inactive?",
          "x-ms-summary": "Inactive?"
        }
      }
    },
    "GLApi.ClassArray": {
      "type": "array",
      "x-ms-summary": "Account classes",
      "items": {
        "$ref": "#/definitions/GLApi.Class"
      }
    },
    "GLApi.CreatedJournalEntryBatch": {
      "type": "object",
      "description": "Created journal entry batch",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created journal entry batch.",
          "x-ms-summary": "ID"
        }
      }
    },
    "GLApi.CreatedJournalEntryBatchAttachment": {
      "type": "object",
      "description": "Created journal entry batch attachment",
      "properties": {
        "record_id": {
          "type": "integer",
          "format": "int32",
          "description": "The ID of the newly created journal entry batch.",
          "x-ms-summary": "ID"
        }
      }      
    },
    "GLApi.EditJournalEntryBatch": {
      "type": "object",
      "description": "The journal entry batch fields to update.",
      "properties": {
        "description": {
          "type": "string",
          "maxLength": 60,
          "minLength": 0,       
          "description": "The journal entry batch description. Character limit: 60.",
          "x-ms-summary": "Description"
        },
        "batch_status": {
          "type": "string",
          "description": "The journal entry batch status.",
          "x-ms-summary": "Status",
          "default": "Open",
          "enum": [
            "Open",
            "PendingApproval",
            "Approved",
            "Posted",
            "Deleted"
          ],
          "x-ms-enum-values": [
            {
              "value": "Open",
              "displayName": "Open"
            },
            {
              "value": "PendingApproval",
              "displayName": "Pending approval"
            },
            {
              "value": "Approved",
              "displayName": "Approved"
            },
            {
              "value": "Posted",
              "displayName": "Posted"
            },
            {
              "value": "Deleted",
              "displayName": "Deleted"
            }
          ]
        },
        "create_bank_account_adjustments": {
          "type": "boolean",
          "description": "Create bank adjustments when posting to a bank's cash account?",
          "x-ms-summary": "Create adjustments?"
        },
        "create_interfund_sets": {
          "type": "boolean",
          "description": "Create interfund entries when the batch is posted?",
          "x-ms-summary": "Add interfund entries?"
        },
        "source_system_name": {
          "type": "string",
          "description": "Name of source system that created the batch.",
          "x-ms-summary": "Source system name",
          "x-ms-visibility": "advanced"
        },
        "source_base_url": {
          "type": "string",
          "description": "Base URL for the source system that created the batch.",
          "x-ms-summary": "Source base URL",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GLApi.JournalCode": {
      "type": "object",
      "description": "Journal code.",
      "properties": {
        "journal_code_id": {
          "type": "integer",
          "format": "int32",
          "description": "The system record ID of the journal code.",
          "x-ms-summary": "ID"
        },
        "code": {
          "type": "string",
          "description": "The abbreviated code of the journal code.",
          "x-ms-summary": "Code"
        },
        "journal": {
          "type": "string",
          "description": "The full name of the journal code.",
          "x-ms-summary": "Journal"
        }
      }
    },
    "GLApi.JournalCodeArray": {
      "type": "array",
      "description": "The set of items included in the response.",
      "items": {
        "$ref": "#/definitions/GLApi.JournalCode"
      }
    },
    "GLApi.JournalEntry": {
      "type": "object",
      "description": "Journal entry",
      "properties": {
        "journal_entry_id": {
          "type": "integer",
          "format": "int32",
          "description": "The journal entry identifier.",
          "x-ms-summary": "Journal entry ID"
        }        
      }
    },
    "GLApi.JournalEntryBatch": {
      "type": "object",
      "description": "Journal entry batch",
      "properties": {
        "batch_id": {
          "type": "integer",
          "format": "int32",
          "description": "The system record ID for the batch.",
          "x-ms-summary": "Batch ID"
        },
        "ui_batch_id": {
          "type": "string",
          "description": "The user-defined identifier for the batch.",
          "x-ms-summary": "UI batch ID"
        },
        "description": {
          "type": "string",
          "description": "The journal entry batch description.",
          "x-ms-summary": "Description"
        },
        "batch_status": {
          "type": "string",
          "description": "The journal entry batch status.",
          "x-ms-summary": "Status",
          "enum": [
            "Open",
            "PendingApproval",
            "Approved",
            "Posted",
            "Deleted"
          ],
          "x-ms-enum-values": [
            {
              "value": "Open",
              "displayName": "Open"
            },
            {
              "value": "PendingApproval",
              "displayName": "Pending approval"
            },
            {
              "value": "Approved",
              "displayName": "Approved"
            },
            {
              "value": "Posted",
              "displayName": "Posted"
            },
            {
              "value": "Deleted",
              "displayName": "Deleted"
            }
          ]
        },
        "create_bank_account_adjustments": {
          "type": "boolean",
          "description": "Create bank adjustments when posting to a bank's cash account?",
          "x-ms-summary": "Create adjustments?"
        },
        "create_interfund_sets": {
          "type": "boolean",
          "description": "Create interfund entries when the batch is posted?",
          "x-ms-summary": "Add interfund entries?"
        },
        "source_system_name": {
          "type": "string",
          "description": "Name of source system that created the batch.",
          "x-ms-summary": "Source system name"
        },
        "source_base_url": {
          "type": "string",
          "description": "Base URL for the source system that created the batch.",
          "x-ms-summary": "Source base URL"
        },
        "date_added": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the batch was created.",
          "x-ms-summary": "Date added"
        },
        "added_by": {
          "type": "string",
          "description": "The name of the user who created the batch.",
          "x-ms-summary": "Added by"
        },
        "date_modified": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the batch was last modified.",
          "x-ms-summary": "Date modified"
        },
        "modified_by": {
          "type": "string",
          "description": "The name of the user who last modified the batch.",
          "x-ms-summary": "Modified by"
        }
      }
    },
    "GLApi.JournalEntryBatchCollection": {
      "type": "object",
      "description": "Fetching data all at once quickly becomes unmanageable. The collection entity helps by returning paginated chunks of large data sets. This entity includes helpful metadata and properties to paginate and iterate through the data.",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/GLApi.JournalEntryBatch"
          }
        }
      }
    },
    "GLApi.JournalEntryBatchSummary": {
      "type": "object",
      "description": "Journal entry batch summary.",
      "properties": {
        "BatchId": {
          "type": "integer",
          "format": "int32",
          "description": "The system record ID for the batch.",
          "x-ms-summary": "Batch ID"
        },
        "UiBatchId": {
          "type": "string",
          "description": "The user-defined identifier for the batch.",
          "x-ms-summary": "UI batch ID"
        },
        "Description": {
          "type": "string",
          "description": "The journal entry batch description.",
          "x-ms-summary": "Description"
        },
        "BatchStatus": {
          "type": "string",
          "description": "The journal entry batch status.",
          "x-ms-summary": "Status",
          "enum": [
            "Open",
            "PendingApproval",
            "Approved",
            "Posted",
            "Deleted"
          ],
          "x-ms-enum-values": [
            {
              "value": "Open",
              "displayName": "Open"
            },
            {
              "value": "PendingApproval",
              "displayName": "Pending approval"
            },
            {
              "value": "Approved",
              "displayName": "Approved"
            },
            {
              "value": "Posted",
              "displayName": "Posted"
            },
            {
              "value": "Deleted",
              "displayName": "Deleted"
            }
          ]
        },
        "CreateBankAccountAdjustments": {
          "type": "boolean",
          "description": "Create bank adjustments when posting to a bank's cash account?",
          "x-ms-summary": "Create adjustments?"
        },
        "CreateInterfundSets": {
          "type": "boolean",
          "description": "Create interfund entries when the batch is posted?",
          "x-ms-summary": "Add interfund entries?"
        },
        "TotalCredits": {
          "type": "number",
          "format": "double",
          "description": "Total credits in the journal entry batch.",
          "x-ms-summary": "Total credits"
        },
        "TotalDebits": {
          "type": "number",
          "format": "double",
          "description": "Total debits in the journal entry batch.",
          "x-ms-summary": "Total debits"
        },
        "SourceBaseUrl": {
          "type": "string",
          "description": "Base URL for batch source system.",
          "x-ms-summary": "Source base URL"
        },
        "SourceSystemName": {
          "type": "string",
          "description": "Name of source system that created the batch.",
          "x-ms-summary": "Source system name"
        }, 
        "DateAdded": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the journal entry batch was created.",
          "x-ms-summary": "Date added"
        },
        "AddedBy": {
          "type": "string",
          "description": "The name of the user who created the journal entry batch.",
          "x-ms-summary": "Added by"
        },
        "DateModified": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the journal entry batch was last modified.",
          "x-ms-summary": "Date modified"
        },
        "ModifiedBy": {
          "type": "string",
          "description": "The name of the user who last modified the journal entry batch.",
          "x-ms-summary": "Modified by"
        }
      }
    },
    "GLApi.JournalEntryCollection": {
      "type": "object",
      "description": "Fetching data all at once quickly becomes unmanageable. The collection entity helps by returning paginated chunks of large data sets. This entity includes helpful metadata and properties to paginate and iterate through the data.",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/GLApi.JournalEntry"
          }
        }
      }      
    },
    "GLApi.MediaType": {
      "type": "object",
      "description": "Media type",
      "properties": {
        "type_id": {
          "type": "integer",
          "format": "int32",
          "description": "The media type identifier.",
          "x-ms-summary": "ID"
        },
        "description": {
          "type": "string",
          "description": "The description of the media type.",
          "x-ms-summary": "Description"
        },
        "value": {
          "type": "string",
          "description": "The value of the media type.",
          "x-ms-summary": "Value"
        }
      }
    },
    "GLApi.MediaTypeCollection": {
      "type": "object",
      "description": "Media types",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items available for retrieval into the collection after applying any request parameters.",
          "x-ms-summary": "Count"
        },
        "value": {
          "type": "array",
          "description": "The set of items included in the response. This may be a subset of the items in the collection.",
          "items": {
            "$ref": "#/definitions/GLApi.MediaType"
          }
        }
      }
    },
    "GLApi.NewJournalEntryBatch": {
      "type": "object",
      "description": "An object that represents the journal entry batch to create.",
      "required": [
        "description",
        "batch_status"
      ],
      "properties": {
        "description": {
          "type": "string",
          "maxLength": 60,
          "minLength": 0,       
          "description": "The journal entry batch description. Character limit: 60.",
          "x-ms-summary": "Description"
        },
        "batch_status": {
          "type": "string",
          "description": "The journal entry batch status.",
          "x-ms-summary": "Status",
          "default": "Open",
          "enum": [
            "Open",
            "PendingApproval",
            "Approved",
            "Posted",
            "Deleted"
          ],
          "x-ms-enum-values": [
            {
              "value": "Open",
              "displayName": "Open"
            },
            {
              "value": "PendingApproval",
              "displayName": "Pending approval"
            },
            {
              "value": "Approved",
              "displayName": "Approved"
            },
            {
              "value": "Posted",
              "displayName": "Posted"
            },
            {
              "value": "Deleted",
              "displayName": "Deleted"
            }
          ]
        },
        "create_bank_account_adjustments": {
          "type": "boolean",
          "description": "Create bank adjustments when posting to a bank's cash account?",
          "x-ms-summary": "Create adjustments?"
        },
        "create_interfund_sets": {
          "type": "boolean",
          "description": "Create interfund entries when the batch is posted?",
          "x-ms-summary": "Add interfund entries?"
        },
        "source_system_name": {
          "type": "string",
          "description": "Name of source system that created the batch.",
          "x-ms-summary": "Source system name",
          "x-ms-visibility": "advanced"
        },
        "source_base_url": {
          "type": "string",
          "description": "Base URL for the source system that created the batch.",
          "x-ms-summary": "Source base URL",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "GLApi.NewJournalEntryBatchAttachment": {
      "type": "object",
      "description": "Journal entry batch attachment",
      "required": [
        "parent_id",
        "name",
        "type",
        "media_type"
      ],
      "properties": {
        "parent_id": {
          "type": "integer",
          "format": "int32",
          "description": "The system record ID of the journal entry batch containing the attachment.",
          "x-ms-summary": "Batch ID"
        },        
        "type": {
          "type": "string",
          "description": "The attachment type. Physical attachments are uploaded files such as images, PDFs, or Word documents that are saved locally or on the network. They are stored and managed in the system. Link attachments are links to files such as images, blog posts, or YouTube videos that are online or in a cloud storage account. They are stored and managed externally.",
          "x-ms-summary": "Type",
          "enum": [
            "Link",
            "Physical"
          ]
        },
        "name": {
          "type": "string",
          "maxLength": 150,
          "minLength": 0,
          "description": "The name of the attachment. Character limit: 150.",
          "x-ms-summary": "Name"
        },
        "url": {
          "type": "string",
          "description": "The URL for the attachment. This is required for link attachments and ignored for physical attachments.",
          "x-ms-summary": "URL"
        },
        "file": {
          "type": "string",
          "format": "binary",
          "x-ms-summary": "File contents",
          "description": "The binary contents of the file attachment.  This is required for physical attachments and ignored for link attachments."
        },
        "file_name": {
          "type": "string",
          "description": "The file name for the attachment. This is required for physical attachments and ignored for link attachments.",
          "x-ms-summary": "File name"
        },        
        "media_type": {
          "type": "string",
          "description": "User-defined category of this attachment. Available values are the entries in the Media Type table for the parent record. Use the value types defined in /mediaTypes",
          "x-ms-summary": "Attachment type",
          "x-ms-dynamic-values": {
            "operationId": "ListMediaTypes",
            "value-collection": "value",
            "value-path": "value",
            "value-title": "value"
          },
          "x-ms-dynamic-list": {
            "operationId": "ListMediaTypes",
            "itemsPath": "value",
            "itemValuePath": "value",
            "itemTitlePath": "value"
          }
        }
      }
    },
    "GLApi.NewSimpleJournalEntry": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetSimpleJournalEntrySchema",
        "value-path": "schema"
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetSimpleJournalEntrySchema",
        "itemValuePath": "schema"
      }
    },
    "GLApi.NewSplitJournalEntry": {
      "type": "object",
      "x-ms-dynamic-schema": {
        "operationId": "GetSplitJournalEntrySchema",
        "value-path": "schema"
      },
      "x-ms-dynamic-properties": {
        "operationId": "GetSplitJournalEntrySchema",
        "itemValuePath": "schema"
      }
    },
    "GLApi.TransactionCode": {
      "type": "object",
      "description": "Media type",
      "properties": {
        "transaction_code_id": {
          "type": "integer",
          "format": "int32",
          "description": "The transaction code ID.",
          "x-ms-summary": "ID"
        },
        "name": {
          "type": "string",
          "description": "The transaction code name.",
          "x-ms-summary": "Name"
        },
        "description": {
          "type": "string",
          "description": "The transaction code description.",
          "x-ms-summary": "Description"
        },
        "used_for_grants": {
          "type": "boolean",
          "description": "Is the transaction code used for grants?",
          "x-ms-summary": "Used for grants?"
        }
      }      
    },
    "GLApi.TransactionCodeArray": {
      "type": "array",
      "x-ms-summary": "Transaction codes",
      "items": {
        "$ref": "#/definitions/GLApi.TransactionCode"
      }
    },
    "GLApi.TransactionCodeValue": {
      "type": "object",
      "description": "Transaction code value",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "The transaction code value ID.",
          "x-ms-summary": "ID"
        },
        "value": {
          "type": "string",
          "description": "The transaction code value.",
          "x-ms-summary": "Value"
        },
        "inactive": {
          "type": "boolean",
          "description": "Is the transaction code value inactive?",
          "x-ms-summary": "Inactive?"
        }
      }      
    },
    "GLApi.TransactionCodeValueArray": {
      "type": "array",
      "x-ms-summary": "Transaction code values",
      "items": {
        "$ref": "#/definitions/GLApi.TransactionCodeValue"
      }
    },
    "GLApi.ValidationResult": {
      "type": "object",
      "description": "Validation result",
      "properties": {
        "is_valid": {
          "type": "boolean",
          "description": "Is the batch valid?",
          "x-ms-summary": "Is valid?"
        },
        "errors": {
          "type": "array",
          "description": "The list of errors received during validation.",
          "x-ms-summary": "Errors",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GLApi.Virtual.DynamicSchema": {
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "description": "The distribution schema",
          "x-ms-summary": "Schema"
        }
      }
    }
  }
}