{
  "swagger": "2.0",
  "info": {
    "title": "Dexcom",
    "description": "This connector is used to retrieve Estimated Glucose Values (EGV) from the Dexcom Diabetes Continuous Glucose Monitor website.",
    "version": "1.0",
	"contact": {
      "name": "Joe Unwin",
      "url": "https://www.flowjoe.io",
      "email": "flow_joe@outlook.com"
   }
  },
  "host": "api.dexcom.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v2/users/self/egvs": {
      "get": {
        "responses": {
          "200": {
            "description": "Returned if the information sent is correct and a response is returned.",
            "schema": {
              "type": "object",
              "properties": {
                "unit": {
                  "type": "string",
                  "description": "unit"
                },
                "rateUnit": {
                  "type": "string",
                  "description": "rateUnit"
                },
                "egvs": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "systemTime": {
                        "type": "string",
                        "description": "Time according to the system clock at which observation was made; nominally UTC"
                      },
                      "displayTime": {
                        "type": "string",
                        "description": "Time displayed on the receiving device when the observation was made"
                      },
                      "value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Estimated glucose value"
                      },
                      "realtimeValue": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Estimated glucose value presented on receiving device in realtime"
                      },
                      "smoothedValue": {
                        "type": "string",
                        "description": "Estimated glucose value presented retrospectively on receiving device after smoothing; G6 devices only"
                      },
                      "status": {
                        "type": "string",
                        "description": "Explanation of EGV record; used when the value field is outside the measuring range"
                      },
                      "trend": {
                        "type": "string",
                        "description": "General trend of EGV value movement; corresponds to trendRate field"
                      },
                      "trendRate": {
                        "type": "number",
                        "format": "float",
                        "description": "Rate at which glucose value is moving up or down"
                      }
                    }
                  },
                  "description": "The /egvs endpoint enables retrieval of a user's estimated glucose value (EGV) data, including trend and status information."
                }
              }
            }
          }
        },
        "summary": "Get EGVs",
        "operationId": "Get-EGVs",
        "description": "Estimated Glucose Value (EGV) Request from Dexcom",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The start date that will be used to for the Estimated Glucose Value (EGV) readings.",
            "x-ms-summary": "startDate"
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The end date that will be used to for the Estimated Glucose Value (EGV) readings. This has a maximum of 90 days.",
            "x-ms-summary": "endDate"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.dexcom.com.dexcom.com/v2/oauth2/login",
      "tokenUrl": "https://api.dexcom.com/v2/oauth2/token",
      "scopes": {
        "offline_access": "offline_access"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "offline_access"
      ]
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://www.dexcom.com/"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://www.dexcom.com/linked/documentservice/PrivacyPolicy"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Data;Lifestyle and Entertainment"
      }
    ]
}
