{
  "swagger": "2.0",
  "info": {
    "version": "v2.0",
    "title": "Text Analytics",
    "description": "Microsoft Cognitive Services Text Analytics detects language, sentiment and more of the text you provide.",
    "contact": {
      "name": "Azure Machine Learning",
      "url": "https://gallery.cortanaanalytics.com/MachineLearningAPI/Text-Analytics-2",
      "email": "mlapi@microsoft.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "westus.api.cognitive.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/text/analytics/v2.1/keyPhrases": {
      "post": {
        "tags": [
          "Key Phrases"
        ],
        "summary": "Key Phrases (V2)",
        "description": "Returns a list of strings denoting the key talking points in the input text for each document.",
        "operationId": "KeyPhrasesV3",
        "parameters": [
          {
            "name": "input",
            "in": "body",
            "x-ms-summary": "Documents",
            "description": "The documents to analyze. Documents can contain a language field to indicate the text language.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiLanguageInputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyPhraseResults"
            }
          }
        },
        "deprecated": false,
        "x-ms-visibility": "important",
        "x-ms-safe-operation": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "KeyPhrases",
          "revision": 3
        }
      }
    },
    "/v2/text/analytics/v2.1/languages": {
      "post": {
        "tags": [
          "Detect Language"
        ],
        "summary": "Detect Language (V2)",
        "description": "Returns the detected language and a numeric score between 0 and 1 for each document. Scores close to 1 indicate 100% certainty that the identified language is true. A total of 120 languages are supported.",
        "operationId": "DetectLanguageV3",
        "parameters": [
          {
            "name": "input",
            "in": "body",
            "x-ms-summary": "Documents",
            "description": "The documents to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LanguageInputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LanguageResults"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectLanguage",
          "revision": 3
        }
      }
    },
    "/v2/text/analytics/v2.1/sentiment": {
      "post": {
        "tags": [
          "Sentiment"
        ],
        "summary": "Detect Sentiment (V2)",
        "description": "Returns a numeric score between 0 and 1 for each document. Scores close to 1 indicate positive sentiment, while scores close to 0 indicate negative sentiment. ",
        "operationId": "DetectSentimentV3",
        "parameters": [
          {
            "name": "input",
            "in": "body",
            "x-ms-summary": "Documents",
            "description": "The documents to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiLanguageInputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SentimentResults"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectSentiment",
          "revision": 3
        }
      }
    },
    "/v2/text/analytics/v2.1/entities": {
      "post": {
        "tags": [
          "Entities"
        ],
        "summary": "Detect Entities (V2)",
        "description": "Returns a list of known entities and general named entities (\"Person\", \"Location\", \"Organization\" etc) in a given document.",
        "operationId": "DetectEntitiesV2",
        "parameters": [
          {
            "name": "input",
            "in": "body",
            "x-ms-summary": "Documents",
            "description": "The documents to analyze.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MultiLanguageInputs"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EntitiesResults"
            }
          }
        },
        "deprecated": false,
        "x-ms-safe-operation": true,
        "x-ms-visibility": "important",
        "x-ms-api-annotation": {
          "status": "Preview",
          "family": "DetectEntities",
          "revision": 2
        }
      }
    }
  },
  "definitions": {
    "LanguageInputs": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LanguageInputV2"
          }
        }
      }
    },
    "MultiLanguageInputs": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MultiLanguageInputV2"
          }
        }
      }
    },
    "KeyPhraseResults": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyPhraseResult"
          }
        }
      }
    },
    "EntitiesResults": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EntitiesResult"
          }
        }
      }
    },
    "LanguageResults": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LanguageResult"
          }
        }
      }
    },
    "SentimentResults": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SentimentResult"
          }
        }
      }
    },
    "LanguageInputV2": {
      "type": "object",
      "required": [
        "id",
        "text"
      ],
      "properties": {
        "id": {
          "description": "Unique, non-empty document identifier.",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "text": {
          "description": "The text to analyze.",
          "x-ms-summary": "Text",
          "type": "string"
        }
      }
    },
    "MultiLanguageInputV2": {
      "type": "object",
      "required": [
        "id",
        "text"
      ],
      "properties": {
        "id": {
          "description": "Unique, non-empty document identifier.",
          "type": "string",
          "x-ms-summary": "Id"
        },
        "text": {
          "description": "The text to analyze.",
          "type": "string",
          "x-ms-summary": "Text"
        },
        "language": {
          "description": "This is the 2 letter ISO 639-1 representation of a language.\r\n            For example, use \"en\" for English; \"es\" for Spanish etc.,",
          "enum": [
            "da",
            "de",
            "en",
            "es",
            "fi",
            "fr",
            "it",
            "ja",
            "nl",
            "no",
            "pl",
            "pt",
            "ru",
            "sv"
          ],
          "type": "string",
          "x-ms-visibility": "advanced",
          "x-ms-summary": "Language",
          "default": "en"
        }
      }
    },
    "KeyPhraseResult": {
      "type": "object",
      "properties": {
        "keyPhrases": {
          "description": "A list of representative words or phrases. The number of key phrases returned is proportional to the number of words in the input document.",
          "x-ms-summary": "Key Phrases",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "x-ms-summary": "Id",
          "description": "The unique document identifier.",
          "type": "string"
        }
      }
    },
    "EntitiesResult": {
      "type": "object",
      "properties": {
        "entities": {
          "description": "A list of disambiguated entities with links to more information on the web (Wikipedia and Bing).",
          "x-ms-summary": "Entities",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Name of the entity.",
                "x-ms-summary": "Name",
                "type": "string"
              },
              "matches": {
                "description": "A list of matches for the entity.",
                "x-ms-summary": "Matches",
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "wikipediaLanguage": {
                "description": "Wikipedia language of the entity.",
                "x-ms-summary": "Wikipedia Language",
                "type": "string"
              },
              "wikipediaId": {
                "description": "Wikipedia Id of the entity.",
                "x-ms-summary": "Wikipedia Id",
                "type": "string"
              },
              "wikipediaUrl": {
                "description": "Wikipedia url of the entity.",
                "x-ms-summary": "Wikipedia Url",
                "type": "string"
              },
              "bingId": {
                "description": "Bing Id of the entity.",
                "x-ms-summary": "Bing Id",
                "type": "string"
              },
              "type": {
                "description": "Type of the entity.",
                "x-ms-summary": "Type",
                "type": "string"
              },
              "subType": {
                "description": "Subtype of the entity.",
                "x-ms-summary": "Subtype",
                "type": "string"
              }
            }
          }
        },
        "id": {
          "x-ms-summary": "Id",
          "description": "The unique document identifier.",
          "type": "string"
        }
      }
    },
    "LanguageResult": {
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique document identifier.",
          "x-ms-summary": "Id",
          "type": "string"
        },
        "detectedLanguages": {
          "description": "A list of extracted languages.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DetectedLanguageV2"
          }
        }
      }
    },
    "SentimentResult": {
      "type": "object",
      "properties": {
        "score": {
          "format": "double",
          "description": "A decimal number between 0 and 1 denoting the sentiment of the document.  A score above 0.7 usually refers to a positive document while a score below 0.3 normally has a negative connotation. Mid values refer to neutral text.",
          "type": "number",
          "x-ms-summary": "Score"
        },
        "id": {
          "description": "The unique document identifier.",
          "type": "string",
          "x-ms-summary": "Id"
        }
      }
    },
    "DetectedLanguageV2": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The long name of a detected language (e.g. English, French).",
          "type": "string",
          "x-ms-summary": "Name"
        },
        "iso6391Name": {
          "description": "A two letter representation of the detected language according to the ISO 639-1 standard (e.g. en, fr).",
          "type": "string",
          "x-ms-summary": "Language Code"
        },
        "score": {
          "format": "double",
          "description": "A confidence score between 0 and 1. Scores close to 1 indicate 100% certainty that the identified language is true.",
          "type": "number",
          "x-ms-summary": "Score"
        }
      }
    }
  }
}