{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Seismic",
      "email": "support@seismic.com",
      "url": "https://seismic.com"
    },
    "description": "Seismic programs connector provides a set of actions and triggers to interact with programs, tasks and requests.",
    "title": "Seismic Programs",
    "version": "1.0"
  },
  "host": "api.seismic.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/programs/v2/spaces/{spaceId}/nodes/{nodeId}/comments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Node ID",
            "x-ms-summary": "Node ID",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "List of user IDs to query by creator",
            "x-ms-summary": "Creator IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "creatorIds",
            "type": "array"
          },
          {
            "description": "Cursor used for pagination",
            "x-ms-summary": "Cursor",
            "in": "query",
            "name": "cursor",
            "type": "string"
          },
          {
            "description": "Number to limit records",
            "x-ms-summary": "Limit",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Sort by query",
            "x-ms-summary": "Sort",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "sort",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CommentQueryResponse"
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "description": "Get all comments for a given program, task, or request. Requires node (program, task, or request) ID.",
        "operationId": "GetComments",
        "summary": "Get comments",
        "x-ms-summary": "Get comments"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Node ID",
            "x-ms-summary": "Node ID",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCommentModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "description": "Create a comment on a given program, task, or request. Requires node (program, task, or request) ID.",
        "operationId": "CreateComment",
        "summary": "Create comment",
        "x-ms-summary": "Create comment"
      }
    },
    "/programs/v2/spaces/{spaceId}/nodes/{nodeId}/comments/{commentId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Node ID",
            "x-ms-summary": "Node ID",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Comment ID",
            "x-ms-summary": "Comment ID",
            "in": "path",
            "name": "commentId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "description": "Get a single comment. Requires node (program, task, or request) and comment ID.",
        "operationId": "GetComment",
        "summary": "Get comment",
        "x-ms-summary": "Get comment"
      },
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Node ID",
            "x-ms-summary": "Node ID",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Comment ID",
            "x-ms-summary": "Comment ID",
            "in": "path",
            "name": "commentId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Comment"
        ],
        "description": "Delete a comment. Requires node (program, task, or request) and comment ID.",
        "operationId": "DeleteComment",
        "summary": "Delete comment",
        "x-ms-summary": "Delete comment"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Node ID",
            "x-ms-summary": "Node ID",
            "in": "path",
            "name": "nodeId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Comment ID",
            "x-ms-summary": "Comment ID",
            "in": "path",
            "name": "commentId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCommentModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Comment"
            }
          }
        },
        "tags": [
          "Comment"
        ],
        "description": "Update an existing comment. Requires node (program, task, or request) and comment ID.",
        "operationId": "UpdateComment",
        "summary": "Update comment",
        "x-ms-summary": "Update comment"
      }
    },
    "/programs/v2/spaces/{spaceId}/programs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Filter from a planned end date",
            "x-ms-summary": "Planned End Date From",
            "format": "date-time",
            "in": "query",
            "name": "plannedEndDateFrom",
            "type": "string"
          },
          {
            "description": "Filter to a planned end date",
            "x-ms-summary": "Planned End Date To",
            "format": "date-time",
            "in": "query",
            "name": "plannedEndDateTo",
            "type": "string"
          },
          {
            "description": "Filter from a planned start date",
            "x-ms-summary": "Planned Start Date From",
            "format": "date-time",
            "in": "query",
            "name": "plannedStartDateFrom",
            "type": "string"
          },
          {
            "description": "Filter to a planned start date",
            "x-ms-summary": "Planned Start Date To",
            "format": "date-time",
            "in": "query",
            "name": "plannedStartDateTo",
            "type": "string"
          },
          {
            "description": "Filter from a launch date",
            "x-ms-summary": "Launch Date From",
            "format": "date-time",
            "in": "query",
            "name": "launchDateFrom",
            "type": "string"
          },
          {
            "description": "Filter to a launch date",
            "x-ms-summary": "Launch Date To",
            "format": "date-time",
            "in": "query",
            "name": "launchDateTo",
            "type": "string"
          },
          {
            "description": "List of Program IDs to query by",
            "x-ms-summary": "Program IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "ids",
            "type": "array"
          },
          {
            "description": "Program title to query by",
            "x-ms-summary": "Program Title",
            "in": "query",
            "name": "title",
            "type": "string"
          },
          {
            "description": "List of user IDs to query by manager",
            "x-ms-summary": "Manager IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "managerIds",
            "type": "array"
          },
          {
            "description": "List of user IDs to query by creator",
            "x-ms-summary": "Creator IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "creatorIds",
            "type": "array"
          },
          {
            "description": "List of association IDs to query by",
            "x-ms-summary": "Associated Node IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "associatedNodeIds",
            "type": "array"
          },
          {
            "description": "Cursor used for pagination",
            "x-ms-summary": "Cursor",
            "in": "query",
            "name": "cursor",
            "type": "string"
          },
          {
            "description": "Number to limit records returned",
            "x-ms-summary": "Limit",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Sort query",
            "x-ms-summary": "Sort",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "sort",
            "type": "array"
          },
          {
            "description": "List of custom properties to query by",
            "x-ms-summary": "Custom Properties",
            "in": "query",
            "name": "customProperties",
            "type": "string"
          },
          {
            "description": "List of user IDs to query by follower",
            "x-ms-summary": "Follower IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "followerIds",
            "type": "array"
          },
          {
            "description": "List of archived or non-archived programs",
            "x-ms-summary": "Archived",
            "in": "query",
            "name": "archived",
            "type": "boolean"
          },
          {
            "description": "List of program audience user IDs to query by",
            "x-ms-summary": "Audience",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "audience",
            "type": "array"
          },
          {
            "description": "ProgramType enum to query by",
            "x-ms-summary": "Program Type",
            "name": "programType",
            "in": "query",
            "enum": [
              "Onboarding",
              "Other",
              "SalesPlay",
              "NewProductLaunch"
            ],
            "type": "string"
          },
          {
            "description": "First Outcome KPI Metric enum to query by",
            "name": "outcomeKpiFirst",
            "in": "query",
            "enum": [
              "WinRate",
              "WonOpportunities",
              "InfluencedRevenue",
              "FirstDealAverageCloseTime",
              "SecondDealAverageCloseTime",
              "ThirdDealAverageCloseTime",
              "InfluencedActiveOpportunities"
            ],
            "type": "string",
            "x-ms-summary": "First outcome KPI metric"
          },
          {
            "description": "Second Outcome KPI Metric enum to query by",
            "name": "outcomeKpiSecond",
            "in": "query",
            "enum": [
              "WinRate",
              "WonOpportunities",
              "InfluencedRevenue",
              "FirstDealAverageCloseTime",
              "SecondDealAverageCloseTime",
              "ThirdDealAverageCloseTime",
              "InfluencedActiveOpportunities"
            ],
            "type": "string",
            "x-ms-summary": "Second outcome KPI metric"
          },
          {
            "description": "Third Outcome KPI Metric enum to query by",
            "name": "outcomeKpiThird",
            "in": "query",
            "enum": [
              "WinRate",
              "WonOpportunities",
              "InfluencedRevenue",
              "FirstDealAverageCloseTime",
              "SecondDealAverageCloseTime",
              "ThirdDealAverageCloseTime",
              "InfluencedActiveOpportunities"
            ],
            "type": "string",
            "x-ms-summary": "Third outcome KPI metric"
          },
          {
            "description": "A list of current phase IDs to query by",
            "name": "currentPhases",
            "in": "query",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-ms-summary": "Current Phases"
          },
          {
            "default": false,
            "description": "Indicator to allow for inclusion of association data",
            "x-ms-summary": "Include Associations",
            "in": "query",
            "name": "includeAssociations",
            "type": "boolean"
          },
          {
            "default": false,
            "description": "Indicator to allow for inclusion of archived programs (ignored when enabled\r\nis passed)",
            "x-ms-summary": "Include Archived",
            "name": "includeDeactivatedPrograms",
            "in": "query",
            "type": "boolean"
          },
          {
            "default": false,
            "description": "Indicator to allow for inclusion of pages data",
            "x-ms-summary": "Include Pages",
            "name": "includePages",
            "in": "query",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProgramQueryResponse"
            }
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Get a list of programs with their attributes and associations.",
        "operationId": "GetPrograms",
        "summary": "Get programs",
        "x-ms-summary": "Get programs",
        "x-seismic-scopes": [
          "seismic.planner.view",
          "seismic.planner.manage"
        ]
      },
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "List of Program IDs",
            "x-ms-summary": "Program IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "ids",
            "required": true,
            "type": "array"
          },
          {
            "default": false,
            "description": "Also delete associated tasks",
            "x-ms-summary": "Delete Tasks",
            "in": "query",
            "name": "deleteTasks",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AsyncOperationResponse"
            }
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Delete one or more programs.",
        "operationId": "DeletePrograms",
        "summary": "Delete programs",
        "x-ms-summary": "Delete programs",
        "x-seismic-scopes": [
          "seismic.planner.manage"
        ]
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "The program data",
            "x-ms-summary": "Body",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateProgram"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Program"
            }
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Create a program.",
        "operationId": "CreateProgram",
        "summary": "Create program",
        "x-ms-summary": "Create program",
        "x-seismic-scopes": [
          "seismic.planner.manage"
        ]
      }
    },
    "/programs/v2/spaces/{spaceId}/programs/{programId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Program ID",
            "x-ms-summary": "Program ID",
            "in": "path",
            "name": "programId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Number to indicate depth of associated node data returned",
            "x-ms-summary": "Associated Nodes Depth",
            "format": "int32",
            "in": "query",
            "name": "associatedNodesDepth",
            "type": "integer"
          },
          {
            "description": "Indicator to include associated tasks data",
            "x-ms-summary": "Include Works",
            "in": "query",
            "name": "includeWorks",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Program"
            }
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Get a single program by ID. Return tasks if desired.",
        "operationId": "GetProgram",
        "summary": "Get program",
        "x-ms-summary": "Get program",
        "x-seismic-scopes": [
          "seismic.planner.view",
          "seismic.planner.manage"
        ]
      },
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Program ID",
            "x-ms-summary": "Program ID",
            "in": "path",
            "name": "programId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "default": false,
            "description": "Also delete associated tasks",
            "x-ms-summary": "Delete Tasks",
            "in": "query",
            "name": "deleteTasks",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AsyncOperationResponse"
            }
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Delete a program.",
        "operationId": "DeleteProgram",
        "summary": "Delete program",
        "x-ms-summary": "Delete program",
        "x-seismic-scopes": [
          "seismic.planner.manage"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Program ID",
            "x-ms-summary": "Program ID",
            "in": "path",
            "name": "programId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "in": "body",
            "name": "body",
            "x-ms-summary": "Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateProgram"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Program"
            }
          }
        },
        "tags": [
          "Program"
        ],
        "description": "Update and return a program.",
        "operationId": "UpdateProgram",
        "summary": "Update a program",
        "x-ms-summary": "Update a program"
      }
    },
    "/programs/v2/spaces/{spaceId}/requests": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "filter by request due date (inclusive)",
            "x-ms-summary": "Planned End Date From",
            "format": "date-time",
            "in": "query",
            "name": "plannedEndDateFrom",
            "type": "string"
          },
          {
            "description": "filter by request due date (exclusive)",
            "x-ms-summary": "Planned End Date To",
            "format": "date-time",
            "in": "query",
            "name": "plannedEndDateTo",
            "type": "string"
          },
          {
            "description": "filter by request start date (inclusive)",
            "x-ms-summary": "Planned Start Date From",
            "format": "date-time",
            "in": "query",
            "name": "plannedStartDateFrom",
            "type": "string"
          },
          {
            "description": "filter by request start date (exclusive)",
            "x-ms-summary": "Planned Start Date To",
            "format": "date-time",
            "in": "query",
            "name": "plannedStartDateTo",
            "type": "string"
          },
          {
            "description": "filter by request created date (inclusive)",
            "x-ms-summary": "Created At From",
            "format": "date-time",
            "in": "query",
            "name": "createdAtFrom",
            "type": "string"
          },
          {
            "description": "filter by request created date (exclusive)",
            "x-ms-summary": "Created At To",
            "format": "date-time",
            "in": "query",
            "name": "createdAtTo",
            "type": "string"
          },
          {
            "description": "filter by request updated date (inclusive)",
            "x-ms-summary": "Updated At From",
            "format": "date-time",
            "in": "query",
            "name": "updatedAtFrom",
            "type": "string"
          },
          {
            "description": "filter by request updated date (exclusive)",
            "x-ms-summary": "Updated At To",
            "format": "date-time",
            "in": "query",
            "name": "updatedAtTo",
            "type": "string"
          },
          {
            "description": "A list of request IDs",
            "x-ms-summary": "Request IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "ids",
            "type": "array"
          },
          {
            "description": "Keyword values to search for on request titles",
            "x-ms-summary": "Title",
            "in": "query",
            "name": "title",
            "type": "string"
          },
          {
            "description": "A list of assignees' user IDs to filter by",
            "x-ms-summary": "Assignee IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "assigneeIds",
            "type": "array"
          },
          {
            "description": "A list of priority values, Available values : critical, high, medium, low",
            "x-ms-summary": "Priorities",
            "in": "query",
            "items": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low",
                "noPriority"
              ],
              "type": "string"
            },
            "name": "priorities",
            "type": "array"
          },
          {
            "description": "Keyword values to search",
            "x-ms-summary": "Keywords",
            "in": "query",
            "name": "keywords",
            "type": "string"
          },
          {
            "description": "A list of assigner' user Ids to filter by",
            "x-ms-summary": "Assigner IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "assignerIds",
            "type": "array"
          },
          {
            "description": "A list of creators' user IDs to filter by",
            "x-ms-summary": "Creator IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "creatorIds",
            "type": "array"
          },
          {
            "description": "A list of step IDs to filter by",
            "x-ms-summary": "Step IDs",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stepIds",
            "type": "array"
          },
          {
            "description": "Status schema ID to filter by",
            "x-ms-summary": "Status Schema ID",
            "in": "query",
            "name": "statusSchemaId",
            "type": "string"
          },
          {
            "description": "A token used to guide the next page window",
            "x-ms-summary": "Cursor",
            "in": "query",
            "name": "cursor",
            "type": "string"
          },
          {
            "description": "Number of items to return per page, default: 50",
            "x-ms-summary": "Limit",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Sort by requests",
            "x-ms-summary": "Sort",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "sort",
            "type": "array"
          },
          {
            "description": "The Program ID a request is associated to",
            "x-ms-summary": "Program ID",
            "in": "query",
            "name": "programId",
            "type": "string"
          },
          {
            "description": "Filter by if requests are associated with a program",
            "x-ms-summary": "Has Program",
            "in": "query",
            "name": "hasProgram",
            "type": "boolean"
          },
          {
            "description": "Filter by custom properties",
            "x-ms-summary": "Custom Properties",
            "in": "query",
            "name": "customProperties",
            "type": "string"
          },
          {
            "description": "A list of followers' user id",
            "x-ms-summary": "Follower IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "followerIds",
            "type": "array"
          },
          {
            "description": "A list of Associated node IDs to filter by",
            "x-ms-summary": "Associated Node IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "associatedNodeIds",
            "type": "array"
          },
          {
            "description": "List of content reference objects",
            "x-ms-summary": "Content Reference Objects",
            "in": "query",
            "name": "contentRefs",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "default": false,
            "description": "whether to include request form custom properties, default false",
            "x-ms-summary": "Include Request Form Custom Properties",
            "in": "query",
            "name": "includeRequestFormCustomProperties",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlannerRequestQueryResponse"
            }
          }
        },
        "tags": [
          "Request"
        ],
        "description": "Get a list of requests.",
        "operationId": "GetRequests",
        "summary": "Get requests",
        "x-ms-summary": "Get requests"
      },
      "delete": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "name": "spaceId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "Content-Type",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "description": "List of request IDs for deletion",
            "x-ms-summary": "Body",
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AsyncOperationResponse"
            },
            "headers": {
              "Content-Type": {
                "description": "Content-Type",
                "type": "string"
              }
            }
          }
        },
        "tags": [
          "Request"
        ],
        "description": "Bulk delete requests.",
        "operationId": "DeleteRequests",
        "summary": "Delete requests",
        "x-ms-summary": "Delete requests"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Data to create a request",
            "x-ms-summary": "Body",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PlannerRequest"
            }
          }
        },
        "tags": [
          "Request"
        ],
        "description": "Create a request.",
        "operationId": "CreateRequest",
        "summary": "Create request",
        "x-ms-summary": "Create request"
      }
    },
    "/programs/v2/spaces/{spaceId}/requests/{requestId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Request ID",
            "x-ms-summary": "Request ID",
            "in": "path",
            "name": "requestId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlannerRequest"
            }
          }
        },
        "tags": [
          "Request"
        ],
        "description": "Get a single request.",
        "operationId": "GetRequest",
        "summary": "Get request",
        "x-ms-summary": "Get request"
      },
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Request ID",
            "x-ms-summary": "Request ID",
            "in": "path",
            "name": "requestId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Request"
        ],
        "description": "Delete a request.",
        "operationId": "DeleteRequest",
        "summary": "Delete request",
        "x-ms-summary": "Delete request"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Request ID",
            "x-ms-summary": "Request ID",
            "in": "path",
            "name": "requestId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Data for updating a request",
            "x-ms-summary": "Body",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlannerRequest"
            }
          }
        },
        "tags": [
          "Request"
        ],
        "description": "Update a request.",
        "operationId": "UpdateRequest",
        "summary": "Update request",
        "x-ms-summary": "Update request"
      }
    },
    "/programs/v2/spaces/{spaceId}/statusschema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Get default status schema",
            "x-ms-summary": "Is Default",
            "in": "query",
            "name": "isDefault",
            "type": "boolean"
          },
          {
            "description": "Query by node type",
            "x-ms-summary": "Type",
            "enum": [
              "task",
              "request"
            ],
            "in": "query",
            "name": "type",
            "type": "string"
          },
          {
            "description": "List of status schemas IDs",
            "x-ms-summary": "Status Schema IDS",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "ids",
            "type": "array"
          },
          {
            "description": "List of user IDs to query by creator",
            "x-ms-summary": "Creator IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "creatorIds",
            "type": "array"
          },
          {
            "description": "Cursor used for pagination",
            "x-ms-summary": "Cursor",
            "in": "query",
            "name": "cursor",
            "type": "string"
          },
          {
            "description": "Number to limit returned records",
            "x-ms-summary": "Limit",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StatusSchemaQueryResponse"
            }
          }
        },
        "tags": [
          "Status Schema"
        ],
        "description": "Get a list of task/request status schemas. These schemas hold the data for set statuses for specific work.\n\nExample: `(Not started, In progress, Complete)`",
        "operationId": "GetStatusSchemas",
        "summary": "Get status schemas",
        "x-ms-summary": "Get status schemas"
      }
    },
    "/programs/v2/spaces/{spaceId}/statusschema/{statusSchemaId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Status schema ID",
            "x-ms-summary": "Status Schema ID",
            "in": "path",
            "name": "statusSchemaId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StatusSchema"
            }
          }
        },
        "tags": [
          "Status Schema"
        ],
        "description": "Get a single status schema by ID. These schemas hold the data for set statuses for specific work.\n\nExample: `(Not started, In progress, Complete)`",
        "operationId": "GetStatusSchema",
        "summary": "Get status schema",
        "x-ms-summary": "Get status schema"
      }
    },
    "/programs/v2/spaces/{spaceId}/tasks": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Filter by task due date (inclusive)",
            "x-ms-summary": "Planned End Date From",
            "format": "date-time",
            "in": "query",
            "name": "plannedEndDateFrom",
            "type": "string"
          },
          {
            "description": "Filter by task due date (exclusive)",
            "x-ms-summary": "Planned End Date To",
            "format": "date-time",
            "in": "query",
            "name": "plannedEndDateTo",
            "type": "string"
          },
          {
            "description": "Filter by task start date (inclusive)",
            "x-ms-summary": "Planned Start Date From",
            "format": "date-time",
            "in": "query",
            "name": "plannedStartDateFrom",
            "type": "string"
          },
          {
            "description": "Filter by task start date (exclusive)",
            "x-ms-summary": "Planned Start Date To",
            "format": "date-time",
            "in": "query",
            "name": "plannedStartDateTo",
            "type": "string"
          },
          {
            "description": "Filter by task created date (inclusive)",
            "x-ms-summary": "Created At From",
            "format": "date-time",
            "in": "query",
            "name": "createdAtFrom",
            "type": "string"
          },
          {
            "description": "Filter by task created date (exclusive)",
            "x-ms-summary": "Created At To",
            "format": "date-time",
            "in": "query",
            "name": "createdAtTo",
            "type": "string"
          },
          {
            "description": "Filter by task updated date (inclusive)",
            "x-ms-summary": "Updated At From",
            "format": "date-time",
            "in": "query",
            "name": "updatedAtFrom",
            "type": "string"
          },
          {
            "description": "Filter by task updated date (exclusive)",
            "x-ms-summary": "Updated At To",
            "format": "date-time",
            "in": "query",
            "name": "updatedAtTo",
            "type": "string"
          },
          {
            "description": "Filter by a list of task IDs",
            "x-ms-summary": "Task IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "ids",
            "type": "array"
          },
          {
            "description": "Filter by task title",
            "x-ms-summary": "Title",
            "in": "query",
            "name": "title",
            "type": "string"
          },
          {
            "description": "Filter by task description",
            "x-ms-summary": "Description",
            "in": "query",
            "name": "description",
            "type": "string"
          },
          {
            "description": "List of user IDs to filter by assignee",
            "x-ms-summary": "Assignee IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "assigneeIds",
            "type": "array"
          },
          {
            "description": "Filter by list of priorities",
            "x-ms-summary": "Priorities",
            "in": "query",
            "items": {
              "enum": [
                "critical",
                "high",
                "medium",
                "low",
                "noPriority"
              ],
              "type": "string"
            },
            "name": "priorities",
            "type": "array"
          },
          {
            "description": "Filter by keywords",
            "x-ms-summary": "Keywords",
            "in": "query",
            "name": "keywords",
            "type": "string"
          },
          {
            "description": "List of user IDs to filter by user that assigned the task",
            "x-ms-summary": "Assigner IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "assignerIds",
            "type": "array"
          },
          {
            "description": "Filter by status value IDs",
            "x-ms-summary": "Step IDs",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "stepIds",
            "type": "array"
          },
          {
            "description": "Filter by status schema IDs",
            "x-ms-summary": "Status Schema ID",
            "in": "query",
            "name": "statusSchemaId",
            "type": "string"
          },
          {
            "description": "Cursor used for pagination",
            "x-ms-summary": "Cursor",
            "in": "query",
            "name": "cursor",
            "type": "string"
          },
          {
            "description": "Number to limit returned records",
            "x-ms-summary": "Limit",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "Sort by query",
            "x-ms-summary": "Sort",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "sort",
            "type": "array"
          },
          {
            "description": "Include subtasks within the returned list",
            "x-ms-summary": "Recursive",
            "in": "query",
            "name": "recursive",
            "type": "boolean"
          },
          {
            "description": "Filter by Program ID",
            "x-ms-summary": "Program ID",
            "in": "query",
            "name": "programId",
            "type": "string"
          },
          {
            "description": "Filter by tasks that are associated with a program",
            "x-ms-summary": "Has Program",
            "in": "query",
            "name": "hasProgram",
            "type": "boolean"
          },
          {
            "description": "Filter by custom property values",
            "x-ms-summary": "Custom Properties",
            "in": "query",
            "name": "customProperties",
            "type": "string"
          },
          {
            "description": "List of user IDs to filter by followers",
            "x-ms-summary": "Follower IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "followerIds",
            "type": "array"
          },
          {
            "description": "List of association IDs to filter by",
            "x-ms-summary": "Associated Node IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "associatedNodeIds",
            "type": "array"
          },
          {
            "description": "List of user IDs to filter by creator",
            "x-ms-summary": "Creator IDs",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "creatorIds",
            "type": "array"
          },
          {
            "description": "Include association data in the response",
            "x-ms-summary": "Include Associations",
            "in": "query",
            "name": "includeAssociations",
            "type": "boolean"
          },
          {
            "description": "List of task IDs to filter by",
            "x-ms-summary": "Parent ID",
            "in": "query",
            "name": "parentId",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlannerTaskQueryResponse"
            }
          }
        },
        "tags": [
          "Task"
        ],
        "description": "Get a list of tasks.",
        "operationId": "GetTasks",
        "summary": "Get tasks",
        "x-ms-summary": "Get tasks"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "The planner task data",
            "x-ms-summary": "Body",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateTask"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PlannerTask"
            }
          }
        },
        "tags": [
          "Task"
        ],
        "description": "Create a task.",
        "operationId": "CreateTask",
        "summary": "Create task",
        "x-ms-summary": "Create task"
      }
    },
    "/programs/v2/spaces/{spaceId}/tasks/{taskId}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Task ID",
            "x-ms-summary": "Task ID",
            "in": "path",
            "name": "taskId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlannerTask"
            }
          }
        },
        "tags": [
          "Task"
        ],
        "description": "Get a single task by ID.",
        "operationId": "GetTask",
        "summary": "Get task",
        "x-ms-summary": "Get task"
      },
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Task ID",
            "x-ms-summary": "Task ID",
            "in": "path",
            "name": "taskId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AsyncOperationResponse"
            }
          }
        },
        "tags": [
          "Task"
        ],
        "description": "Delete a task.",
        "operationId": "DeleteTask",
        "summary": "Delete task",
        "x-ms-summary": "Delete task",
        "x-seismic-scopes": [
          "seismic.planner.manage"
        ]
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Space ID",
            "x-ms-summary": "Space ID",
            "in": "path",
            "name": "spaceId",
            "required": true,
            "type": "string",
            "default": "default",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Task ID",
            "x-ms-summary": "Task ID",
            "in": "path",
            "name": "taskId",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "description": "Task data to be updated",
            "x-ms-summary": "Body",
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTask"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlannerTask"
            }
          }
        },
        "tags": [
          "Task"
        ],
        "description": "Update an existing task.",
        "operationId": "UpdateTask",
        "summary": "Update task",
        "x-ms-summary": "Update task"
      }
    },
    "/webhooks/v1/subscriptions/ProgramCreateV1": {
      "x-ms-notification-content": {
        "description": "Program data after the creation of the program",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "A unique identifier for the event.",
              "format": "uuid"
            },
            "version": {
              "type": "string",
              "description": "The version of the event, e.g., \"ProgramCreateV1\"."
            },
            "occurredAt": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event occurred in UTC.",
              "format": "date-time"
            },
            "tenantId": {
              "type": "string",
              "description": "Unique identifier for the tenant.",
              "format": "uuid"
            },
            "tenantName": {
              "type": "string",
              "description": "Name of the tenant."
            },
            "application": {
              "type": "string",
              "description": "The application where the event originated."
            },
            "productArea": {
              "type": "string",
              "description": "The product area related to the event."
            },
            "data": {
              "$ref": "#/definitions/ProgramWebhookResponse"
            }
          },
          "required": [
            "id",
            "version",
            "occurredAt",
            "tenantId",
            "tenantName",
            "data",
            "application",
            "productArea"
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Webhook subscription successfully created",
            "schema": {
              "$ref": "#/definitions/CreateWebhookResponse"
            }
          }
        },
        "summary": "When a program is created",
        "description": "Trigger to respond to when a program is created",
        "x-ms-trigger": "single",
        "operationId": "TriggerProgramCreateV1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "filter": {
                  "type": "string",
                  "description": "Example: $.data..[?(@.id == 'foo')] , JsonPath based filter expression, refer https://developer.seismic.com/seismicsoftware/docs/webhooksoverview#filtering-events for details.",
                  "title": "filter"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "tags": [
          "Trigger"
        ]
      }
    },
    "/webhooks/v1/subscriptions/ProgramUpdateV1": {
      "x-ms-notification-content": {
        "description": "Program data after the program has been updated",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "A unique identifier for the event.",
              "format": "uuid"
            },
            "version": {
              "type": "string",
              "description": "The version of the event, e.g., \"ProgramCreateV1\"."
            },
            "occurredAt": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event occurred in UTC.",
              "format": "date-time"
            },
            "tenantId": {
              "type": "string",
              "description": "Unique identifier for the tenant.",
              "format": "uuid"
            },
            "tenantName": {
              "type": "string",
              "description": "Name of the tenant."
            },
            "application": {
              "type": "string",
              "description": "The application where the event originated."
            },
            "productArea": {
              "type": "string",
              "description": "The product area related to the event."
            },
            "data": {
              "$ref": "#/definitions/ProgramWebhookResponse"
            }
          },
          "required": [
            "id",
            "version",
            "occurredAt",
            "tenantId",
            "tenantName",
            "data",
            "application",
            "productArea"
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Webhook subscription successfully created",
            "schema": {
              "$ref": "#/definitions/CreateWebhookResponse"
            }
          }
        },
        "summary": "When a program is updated",
        "description": "Trigger to respond to when a program is updated",
        "x-ms-trigger": "single",
        "operationId": "TriggerProgramUpdateV1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "filter": {
                  "type": "string",
                  "description": "Example: $.data..[?(@.id == 'foo')] , JsonPath based filter expression, refer https://developer.seismic.com/seismicsoftware/docs/webhooksoverview#filtering-events for details.",
                  "title": "filter"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "tags": [
          "Trigger"
        ]
      }
    },
    "/webhooks/v1/subscriptions/ProgramDeleteV1": {
      "x-ms-notification-content": {
        "description": "Program data after the program has been deleted",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "A unique identifier for the event.",
              "format": "uuid"
            },
            "version": {
              "type": "string",
              "description": "The version of the event, e.g., \"ProgramCreateV1\"."
            },
            "occurredAt": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event occurred in UTC.",
              "format": "date-time"
            },
            "tenantId": {
              "type": "string",
              "description": "Unique identifier for the tenant.",
              "format": "uuid"
            },
            "tenantName": {
              "type": "string",
              "description": "Name of the tenant."
            },
            "application": {
              "type": "string",
              "description": "The application where the event originated."
            },
            "productArea": {
              "type": "string",
              "description": "The product area related to the event."
            },
            "data": {
              "$ref": "#/definitions/ProgramWebhookResponse"
            }
          },
          "required": [
            "id",
            "version",
            "occurredAt",
            "tenantId",
            "tenantName",
            "data",
            "application",
            "productArea"
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Webhook subscription successfully created",
            "schema": {
              "$ref": "#/definitions/CreateWebhookResponse"
            }
          }
        },
        "summary": "When a program is deleted",
        "description": "Trigger to respond to when a program is deleted",
        "x-ms-trigger": "single",
        "operationId": "TriggerProgramDeleteV1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "filter": {
                  "type": "string",
                  "description": "Example: $.data..[?(@.id == 'foo')] , JsonPath based filter expression, refer https://developer.seismic.com/seismicsoftware/docs/webhooksoverview#filtering-events for details.",
                  "title": "filter"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "tags": [
          "Trigger"
        ]
      }
    },
    "/webhooks/v1/subscriptions/PlannerTaskCreateV1": {
      "x-ms-notification-content": {
        "description": "Task data after the creation of the task",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "A unique identifier for the event.",
              "format": "uuid"
            },
            "version": {
              "type": "string",
              "description": "The version of the event, e.g., \"ProgramCreateV1\"."
            },
            "occurredAt": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event occurred in UTC.",
              "format": "date-time"
            },
            "tenantId": {
              "type": "string",
              "description": "Unique identifier for the tenant.",
              "format": "uuid"
            },
            "tenantName": {
              "type": "string",
              "description": "Name of the tenant."
            },
            "application": {
              "type": "string",
              "description": "The application where the event originated."
            },
            "productArea": {
              "type": "string",
              "description": "The product area related to the event."
            },
            "data": {
              "$ref": "#/definitions/TaskWebhookResponse"
            }
          },
          "required": [
            "id",
            "version",
            "occurredAt",
            "tenantId",
            "tenantName",
            "data",
            "application",
            "productArea"
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Webhook subscription successfully created",
            "schema": {
              "$ref": "#/definitions/CreateWebhookResponse"
            }
          }
        },
        "summary": "When a task is created",
        "description": "Trigger to respond to when a task is created",
        "x-ms-trigger": "single",
        "operationId": "TriggerPlannerTaskCreateV1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "filter": {
                  "type": "string",
                  "description": "Example: $.data..[?(@.id == 'foo')] , JsonPath based filter expression, refer https://developer.seismic.com/seismicsoftware/docs/webhooksoverview#filtering-events for details.",
                  "title": "filter"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "tags": [
          "Trigger"
        ]
      }
    },
    "/webhooks/v1/subscriptions/PlannerTaskUpdateV1": {
      "x-ms-notification-content": {
        "description": "Task data after the task has been updated",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "A unique identifier for the event.",
              "format": "uuid"
            },
            "version": {
              "type": "string",
              "description": "The version of the event, e.g., \"ProgramCreateV1\"."
            },
            "occurredAt": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event occurred in UTC.",
              "format": "date-time"
            },
            "tenantId": {
              "type": "string",
              "description": "Unique identifier for the tenant.",
              "format": "uuid"
            },
            "tenantName": {
              "type": "string",
              "description": "Name of the tenant."
            },
            "application": {
              "type": "string",
              "description": "The application where the event originated."
            },
            "productArea": {
              "type": "string",
              "description": "The product area related to the event."
            },
            "data": {
              "$ref": "#/definitions/TaskWebhookResponse"
            }
          },
          "required": [
            "id",
            "version",
            "occurredAt",
            "tenantId",
            "tenantName",
            "data",
            "application",
            "productArea"
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Webhook subscription successfully created",
            "schema": {
              "$ref": "#/definitions/CreateWebhookResponse"
            }
          }
        },
        "summary": "When a task is updated",
        "description": "Trigger to respond to when a task is updated",
        "x-ms-trigger": "single",
        "operationId": "TriggerPlannerTaskUpdateV1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "filter": {
                  "type": "string",
                  "description": "Example: $.data..[?(@.id == 'foo')] , JsonPath based filter expression, refer https://developer.seismic.com/seismicsoftware/docs/webhooksoverview#filtering-events for details.",
                  "title": "filter"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "tags": [
          "Trigger"
        ]
      }
    },
    "/webhooks/v1/subscriptions/PlannerTaskDeleteV1": {
      "x-ms-notification-content": {
        "description": "Task data after the task has been deleted",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "A unique identifier for the event.",
              "format": "uuid"
            },
            "version": {
              "type": "string",
              "description": "The version of the event, e.g., \"ProgramCreateV1\"."
            },
            "occurredAt": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event occurred in UTC.",
              "format": "date-time"
            },
            "tenantId": {
              "type": "string",
              "description": "Unique identifier for the tenant.",
              "format": "uuid"
            },
            "tenantName": {
              "type": "string",
              "description": "Name of the tenant."
            },
            "application": {
              "type": "string",
              "description": "The application where the event originated."
            },
            "productArea": {
              "type": "string",
              "description": "The product area related to the event."
            },
            "data": {
              "$ref": "#/definitions/TaskWebhookResponse"
            }
          },
          "required": [
            "id",
            "version",
            "occurredAt",
            "tenantId",
            "tenantName",
            "data",
            "application",
            "productArea"
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Webhook subscription successfully created",
            "schema": {
              "$ref": "#/definitions/CreateWebhookResponse"
            }
          }
        },
        "summary": "When a task is deleted",
        "description": "Trigger to respond to when a task is deleted",
        "x-ms-trigger": "single",
        "operationId": "TriggerPlannerTaskDeleteV1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "filter": {
                  "type": "string",
                  "description": "Example: $.data..[?(@.id == 'foo')] , JsonPath based filter expression, refer https://developer.seismic.com/seismicsoftware/docs/webhooksoverview#filtering-events for details.",
                  "title": "filter"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "tags": [
          "Trigger"
        ]
      }
    },
    "/webhooks/v1/subscriptions/PlannerRequestCreateV1": {
      "x-ms-notification-content": {
        "description": "Request data after the creation of the request",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "A unique identifier for the event.",
              "format": "uuid"
            },
            "version": {
              "type": "string",
              "description": "The version of the event, e.g., \"ProgramCreateV1\"."
            },
            "occurredAt": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event occurred in UTC.",
              "format": "date-time"
            },
            "tenantId": {
              "type": "string",
              "description": "Unique identifier for the tenant.",
              "format": "uuid"
            },
            "tenantName": {
              "type": "string",
              "description": "Name of the tenant."
            },
            "application": {
              "type": "string",
              "description": "The application where the event originated."
            },
            "productArea": {
              "type": "string",
              "description": "The product area related to the event."
            },
            "data": {
              "$ref": "#/definitions/RequestWebhookResponse"
            }
          },
          "required": [
            "id",
            "version",
            "occurredAt",
            "tenantId",
            "tenantName",
            "data",
            "application",
            "productArea"
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Webhook subscription successfully created",
            "schema": {
              "$ref": "#/definitions/CreateWebhookResponse"
            }
          }
        },
        "summary": "When a request is created",
        "description": "Trigger to respond to when a request is created",
        "x-ms-trigger": "single",
        "operationId": "TriggerPlannerRequestCreateV1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "filter": {
                  "type": "string",
                  "description": "Example: $.data..[?(@.id == 'foo')] , JsonPath based filter expression, refer https://developer.seismic.com/seismicsoftware/docs/webhooksoverview#filtering-events for details.",
                  "title": "filter"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "tags": [
          "Trigger"
        ]
      }
    },
    "/webhooks/v1/subscriptions/PlannerRequestUpdateV1": {
      "x-ms-notification-content": {
        "description": "Request data after the request has been updated.",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "A unique identifier for the event.",
              "format": "uuid"
            },
            "version": {
              "type": "string",
              "description": "The version of the event, e.g., \"ProgramCreateV1\"."
            },
            "occurredAt": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event occurred in UTC.",
              "format": "date-time"
            },
            "tenantId": {
              "type": "string",
              "description": "Unique identifier for the tenant.",
              "format": "uuid"
            },
            "tenantName": {
              "type": "string",
              "description": "Name of the tenant."
            },
            "application": {
              "type": "string",
              "description": "The application where the event originated."
            },
            "productArea": {
              "type": "string",
              "description": "The product area related to the event."
            },
            "data": {
              "$ref": "#/definitions/RequestWebhookResponse"
            }
          },
          "required": [
            "id",
            "version",
            "occurredAt",
            "tenantId",
            "tenantName",
            "data",
            "application",
            "productArea"
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Webhook subscription successfully created",
            "schema": {
              "$ref": "#/definitions/CreateWebhookResponse"
            }
          }
        },
        "summary": "When a request is updated",
        "description": "Trigger to respond to when a request is updated",
        "x-ms-trigger": "single",
        "operationId": "TriggerPlannerRequestUpdateV1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "filter": {
                  "type": "string",
                  "description": "Example: $.data..[?(@.id == 'foo')] , JsonPath based filter expression, refer https://developer.seismic.com/seismicsoftware/docs/webhooksoverview#filtering-events for details.",
                  "title": "filter"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "tags": [
          "Trigger"
        ]
      }
    },
    "/webhooks/v1/subscriptions/PlannerRequestDeleteV1": {
      "x-ms-notification-content": {
        "description": "Request data after the request has been deleted.",
        "schema": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "A unique identifier for the event.",
              "format": "uuid"
            },
            "version": {
              "type": "string",
              "description": "The version of the event, e.g., \"ProgramCreateV1\"."
            },
            "occurredAt": {
              "type": "string",
              "description": "ISO 8601 timestamp when the event occurred in UTC.",
              "format": "date-time"
            },
            "tenantId": {
              "type": "string",
              "description": "Unique identifier for the tenant.",
              "format": "uuid"
            },
            "tenantName": {
              "type": "string",
              "description": "Name of the tenant."
            },
            "application": {
              "type": "string",
              "description": "The application where the event originated."
            },
            "productArea": {
              "type": "string",
              "description": "The product area related to the event."
            },
            "data": {
              "$ref": "#/definitions/RequestWebhookResponse"
            }
          },
          "required": [
            "id",
            "version",
            "occurredAt",
            "tenantId",
            "tenantName",
            "data",
            "application",
            "productArea"
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Webhook subscription successfully created",
            "schema": {
              "$ref": "#/definitions/CreateWebhookResponse"
            }
          }
        },
        "summary": "When a request is deleted",
        "description": "Trigger to respond to when a request is deleted",
        "x-ms-trigger": "single",
        "operationId": "TriggerPlannerRequestDeleteV1",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "title": "callbackUrl",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                },
                "filter": {
                  "type": "string",
                  "description": "Example: $.data..[?(@.id == 'foo')] , JsonPath based filter expression, refer https://developer.seismic.com/seismicsoftware/docs/webhooksoverview#filtering-events for details.",
                  "title": "filter"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ],
        "tags": [
          "Trigger"
        ]
      }
    }
  },
  "definitions": {
    "Association": {
      "properties": {
        "description": {
          "description": "Description of association",
          "x-ms-summary": "Description",
          "type": "string"
        },
        "name": {
          "description": "Name of association",
          "x-ms-summary": "Name",
          "type": "string"
        },
        "nodeGuid": {
          "description": "Longer GUID format",
          "x-ms-summary": "Node GUID",
          "readOnly": true,
          "type": "string",
          "x-nullable": true
        },
        "nodeId": {
          "description": "Node ID",
          "x-ms-summary": "Node ID",
          "type": "string"
        },
        "nodeType": {
          "description": "Node type of the association",
          "x-ms-summary": "Node Type",
          "enum": [
            "program",
            "task",
            "request",
            "content"
          ],
          "type": "string"
        },
        "spaceGuid": {
          "description": "Longer GUID format",
          "x-ms-summary": "Space GUID",
          "readOnly": true,
          "type": "string",
          "x-nullable": true
        },
        "spaceId": {
          "description": "Space ID",
          "x-ms-summary": "Space ID",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AssociationReq": {
      "properties": {
        "nodeId": {
          "description": "Node ID",
          "x-ms-summary": "Node ID",
          "type": "string"
        },
        "nodeType": {
          "description": "Node type of the association",
          "x-ms-summary": "Node Type",
          "enum": [
            "program",
            "task",
            "request",
            "content"
          ],
          "type": "string"
        },
        "spaceId": {
          "description": "Space ID",
          "x-ms-summary": "Space ID",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AsyncOperationResponse": {
      "properties": {
        "asyncOperationIds": {
          "description": "List of async action IDs",
          "x-ms-summary": "Async Operation IDs",
          "items": {
            "x-ms-summary": "Async Operation ID",
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Audience": {
      "description": "Audience object",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of audience object",
          "enum": [
            "group"
          ],
          "type": "string",
          "x-ms-summary": "Type"
        },
        "id": {
          "description": "ID of audience (user group, user, etc.)",
          "type": "string",
          "x-ms-summary": "ID"
        }
      },
      "x-ms-summary": "Audience",
      "additionalProperties": false
    },
    "CreateWebhookResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for the created webhook subscription."
        },
        "callbackUrl": {
          "type": "string",
          "format": "uri",
          "description": "Confirmed URL to which events will be sent."
        },
        "eventTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Event type for which the webhook was created."
        },
        "status": {
          "type": "string",
          "enum": [
            "active",
            "inactive"
          ],
          "description": "Status of the webhook subscription."
        }
      },
      "required": [
        "id",
        "callbackUrl",
        "eventTypes",
        "status"
      ]
    },
    "Comment": {
      "properties": {
        "annotationPayload": {
          "x-ms-summary": "Annotation Payload",
          "type": "string",
          "x-nullable": true
        },
        "annotationType": {
          "x-ms-summary": "Annotation Type",
          "type": "string",
          "x-nullable": true
        },
        "commentContent": {
          "x-ms-summary": "Comment Content",
          "type": "string"
        },
        "createdAt": {
          "x-ms-summary": "Created At",
          "description": "Date string of date created",
          "format": "date-time",
          "type": "string"
        },
        "creatorId": {
          "description": "User ID of the creator",
          "x-ms-summary": "Creator ID",
          "type": "string"
        },
        "id": {
          "description": "Comment ID",
          "x-ms-summary": "Comment ID",
          "type": "string"
        },
        "isResolved": {
          "description": "True/false on whether the comment is resolved",
          "x-ms-summary": "Is Resolved",
          "type": "boolean"
        },
        "nodeId": {
          "description": "Node ID",
          "x-ms-summary": "Node ID",
          "type": "string"
        },
        "nodeType": {
          "description": "Node type of the comment",
          "x-ms-summary": "Node Type",
          "enum": [
            "program",
            "task",
            "request"
          ],
          "type": "string"
        },
        "pageIndex": {
          "description": "Number page index",
          "x-ms-summary": "Page Index",
          "type": "string"
        },
        "parentId": {
          "description": "Parent comment ID",
          "x-ms-summary": "Parent ID",
          "type": "string"
        },
        "replyCount": {
          "description": "Number of replies",
          "x-ms-summary": "Reply Count",
          "format": "int32",
          "type": "integer"
        },
        "spaceId": {
          "description": "Space ID",
          "x-ms-summary": "Space ID",
          "type": "string"
        },
        "updatedAt": {
          "description": "Date string of updated date",
          "x-ms-summary": "Updated At",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "CommentQueryResponse": {
      "properties": {
        "count": {
          "description": "Number of records returned",
          "x-ms-summary": "Count",
          "format": "int32",
          "type": "integer"
        },
        "cursor": {
          "description": "Cursor used for pagination",
          "x-ms-summary": "Cursor",
          "type": "string"
        },
        "items": {
          "description": "List of items in the response",
          "x-ms-summary": "Items",
          "items": {
            "$ref": "#/definitions/Comment"
          },
          "type": "array"
        },
        "limit": {
          "description": "Number to limit records",
          "x-ms-summary": "Limit",
          "format": "int32",
          "type": "integer"
        },
        "meta": {
          "$ref": "#/definitions/Meta"
        }
      },
      "type": "object"
    },
    "ContentRef": {
      "properties": {
        "contentId": {
          "description": "Content ID",
          "x-ms-summary": "Content ID",
          "format": "uuid",
          "type": "string"
        },
        "docCenterFullPath": {
          "description": "Full location path of where content exists in DocCenter",
          "x-ms-summary": "DocCenter Full Path",
          "type": "string",
          "x-nullable": true
        },
        "majorVersion": {
          "description": "Number of major version",
          "x-ms-summary": "Major Version",
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "minorVersion": {
          "description": "Number of minor version",
          "x-ms-summary": "Minor Version",
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "modifiedDate": {
          "description": "Date the content reference was last updated",
          "x-ms-summary": "Modified Date",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "orderNo": {
          "description": "Number to indicate order",
          "x-ms-summary": "Order Number",
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "profileId": {
          "description": "Profile ID",
          "x-ms-summary": "Profile ID",
          "format": "uuid",
          "type": "string",
          "x-nullable": true
        },
        "profileVersionId": {
          "description": "Version ID of profile",
          "x-ms-summary": "Profile Version ID",
          "format": "uuid",
          "type": "string",
          "x-nullable": true
        },
        "source": {
          "description": "Source of content",
          "x-ms-summary": "Source",
          "enum": [
            "Library",
            "DocCenter",
            "NewsCenter",
            "Workspace"
          ],
          "type": "string"
        },
        "teamSiteId": {
          "description": "TeamSite ID",
          "x-ms-summary": "TeamSite ID",
          "type": "string",
          "x-nullable": true
        },
        "thumbnailId": {
          "description": "ID for image thumbnail",
          "x-ms-summary": "Thumbnail ID",
          "type": "string",
          "x-nullable": true
        },
        "versionId": {
          "description": "Version ID of content",
          "x-ms-summary": "Version ID",
          "format": "uuid",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "CreateCommentModel": {
      "required": [
        "commentContent"
      ],
      "properties": {
        "annotationPayload": {
          "x-ms-summary": "Annotation Payload",
          "type": "string",
          "x-nullable": true,
          "title": "Annotation Payload"
        },
        "annotationType": {
          "x-ms-summary": "Annotation Type",
          "description": "Annotation type",
          "type": "string",
          "x-nullable": true
        },
        "commentContent": {
          "x-ms-summary": "Comment Content",
          "description": "Content of the comment",
          "type": "string"
        },
        "isResolved": {
          "x-ms-summary": "Is Resolved",
          "description": "True/false on whether the comment is resolved",
          "type": "boolean",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "CreateProgram": {
      "required": [
        "title"
      ],
      "properties": {
        "associations": {
          "x-ms-summary": "Associations",
          "description": "List of association objects",
          "items": {
            "$ref": "#/definitions/AssociationReq"
          },
          "type": "array",
          "x-nullable": true
        },
        "customProperties": {
          "x-ms-summary": "Custom Properties",
          "description": "List of custom properties",
          "items": {
            "$ref": "#/definitions/CustomPropertyValuesInput"
          },
          "type": "array",
          "x-nullable": true
        },
        "description": {
          "x-ms-summary": "Description",
          "description": "Title of description",
          "type": "string",
          "x-nullable": true
        },
        "managerId": {
          "x-ms-summary": "Manager ID",
          "description": "User ID of manager",
          "type": "string",
          "x-nullable": true
        },
        "plannedDuration": {
          "x-ms-summary": "Planned Duration",
          "description": "Planned duration in days",
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "plannedEndDate": {
          "x-ms-summary": "Planned End Date",
          "description": "Date string of end date",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "plannedStartDate": {
          "x-ms-summary": "Planned Start Date",
          "description": "Date string of start date",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "title": {
          "x-ms-summary": "Title",
          "description": "Title of program",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreateRequest": {
      "required": [
        "title",
        "formRef",
        "customProperties"
      ],
      "properties": {
        "assigneeId": {
          "x-ms-summary": "Assignee ID",
          "description": "User ID of assignee",
          "type": "string",
          "x-nullable": true
        },
        "associations": {
          "x-ms-summary": "Associations",
          "description": "List of associations (Library content)",
          "items": {
            "$ref": "#/definitions/AssociationReq"
          },
          "type": "array",
          "x-nullable": true
        },
        "contentRefs": {
          "x-ms-summary": "Content References",
          "description": "List of content references (DocCenter and Workspace associations)",
          "items": {
            "$ref": "#/definitions/ContentRef"
          },
          "type": "array",
          "x-nullable": true
        },
        "customProperties": {
          "x-ms-summary": "Custom Properties",
[...]
