{
  "swagger": "2.0",
  "info": {
    "title": "Default title",
    "description": "Xero projects community connector.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.xero.com",
  "basePath": "/projects.xro/2.0/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/Projects/{projectId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve a project",
        "description": "Allows you to retrieve a project.",
        "operationId": "ProjectGet",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "An individual project identifier"
          },
          {
            "name": "states",
            "in": "query",
            "required": false,
            "type": "string",
            "default": "INPROGRESS",
            "enum": [
              "INPROGRESS",
              "CLOSED"
            ],
            "description": "Filter for projects in a particular state."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "Set to 1 by default. The requested number of the page in paged response - Must be a number greater than 0."
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 50,
            "description": "It is set to 50 by default. The number of items to return per page in a paged response - Must be a number between 1 and 500."
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a project",
        "operationId": "ProjectsUpdate",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The project identifier."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the project.",
                  "title": "Name"
                },
                "deadlineUtc": {
                  "type": "string",
                  "description": "Deadline for the project. UTC Date Time in ISO-8601 format.",
                  "title": "Deadline UTC"
                },
                "estimateAmount": {
                  "type": "number",
                  "format": "float",
                  "description": "Estimate for the project.",
                  "title": "Estimate amount"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ],
        "description": "Update the project"
      },
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a project status",
        "description": "This method updates the status of a project.",
        "operationId": "ProjectsUpdateStatus",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "The project status.",
                  "title": "Status",
                  "default": "INPROGRESS",
                  "enum": [
                    "INPROGRESS",
                    "CLOSED"
                  ]
                }
              },
              "required": [
                "status"
              ]
            }
          }
        ]
      }
    },
    "/Projects": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve projects",
        "description": "Allows you to retrieve multiple projects",
        "operationId": "ProjectsGetMultiple",
        "parameters": [
          {
            "name": "projectIds",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Search for all projects that match a comma separated list of projectIDs."
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a project",
        "description": "This method creates a project for the specified contact.",
        "operationId": "ProjectsCreate",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "contactId": {
                  "type": "string",
                  "description": "Identifier of the contact this project was created for.",
                  "title": "Contact ID"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the project.",
                  "title": "Name"
                },
                "deadlineUtc": {
                  "type": "string",
                  "description": "Deadline for the project. UTC Date Time in ISO-8601 format.",
                  "title": "Deadline UTC"
                },
                "estimateAmount": {
                  "type": "number",
                  "format": "float",
                  "description": "Estimate for the project.",
                  "title": "Estimate amount"
                }
              },
              "required": [
                "contactId",
                "name"
              ]
            }
          }
        ]
      }
    },
    "/projects/{projectId}/tasks/{taskId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve a task",
        "description": "Allows you to retrieve a task.",
        "operationId": "TasksGet",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The project identifier"
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The task identifier"
          }
        ]
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Update a task",
        "description": "This method updates the details of a task.",
        "operationId": "TasksUpdate",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the task. Max length 100 characters.",
                  "title": "Name"
                },
                "rate": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "description": "The currency abreviation",
                      "title": "Currency"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The rate amount",
                      "title": "Value"
                    }
                  },
                  "description": "rate",
                  "required": [
                    "currency",
                    "value"
                  ]
                },
                "chargeType": {
                  "type": "string",
                  "description": "Defines how the task will be charged. Use `TIME` when you want to charge per hour and `FIXED` to charge as a fixed amount. If the task will not be charged use `NON_CHARGEABLE`.",
                  "title": "Charge type",
                  "default": "TIME",
                  "enum": [
                    "TIME",
                    "FIXED",
                    "NON_CHARGEABLE"
                  ]
                },
                "estimateMinutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Estimated time to perform the task. Estimate minutes has to be greater than 0 if provided.",
                  "title": "Estimate minutes"
                }
              },
              "required": [
                "rate",
                "chargeType"
              ]
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Delete a task",
        "operationId": "TasksDelete",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "description": "This method will delete a task. Note that if the task has a service associated or has a status `INVOICED`, it will not be removed."
      }
    },
    "/projects/{projectId}/tasks": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Retrieve multiple tasks",
        "operationId": "TasksGetMultiple",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Task IDs",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Search for all tasks that match a comma separated list of taskIDs."
          },
          {
            "name": "Charge type",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filters based on charge type",
            "enum": [
              "TIME",
              "FIXED",
              "NON_CHARGEABLE"
            ]
          },
          {
            "name": "Page",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 1,
            "description": "The requested number of the page in paged response - Must be a number greater than 0."
          },
          {
            "name": "Page size",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 50,
            "description": "The number of items to return per page in a paged response - Must be a number between 1 and 500."
          }
        ],
        "description": "Allows you to retrieve multiple tasks"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Create a task",
        "description": "This method creates a new task for a given project.",
        "operationId": "TasksCreate",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The project identifier"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the task. Max length 100 characters.",
                  "title": "Name"
                },
                "rate": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "description": "The currency abreviation",
                      "title": "Currency"
                    },
                    "value": {
                      "type": "number",
                      "format": "float",
                      "description": "The rate amount",
                      "title": "Value"
                    }
                  },
                  "description": "rate",
                  "required": [
                    "currency",
                    "value"
                  ]
                },
                "chargeType": {
                  "type": "string",
                  "description": "Defines how the task will be charged. Use `TIME` when you want to charge per hour and `FIXED` to charge as a fixed amount. If the task will not be charged use `NON_CHARGEABLE`.",
                  "title": "Charge type",
                  "default": "TIME",
                  "enum": [
                    "TIME",
                    "FIXED",
                    "NON_CHARGEABLE"
                  ]
                },
                "estimateMinutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Estimated time to perform the task. Estimate minutes has to be greater than 0 if provided.",
                  "title": "Estimate minutes"
                }
              },
              "required": [
                "rate",
                "chargeType"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.xero.com/identity/connect/authorize",
      "tokenUrl": "https://identity.xero.com/connect/token",
      "scopes": {
        "accounting.transactions accounting.transactions.read accounting.reports.read accounting.reports.tenninetynine.read accounting.journals.read accounting.settings accounting.settings.read accounting.contacts accounting.contacts.read accounting.attachments accounting.attachments.read": "accounting.transactions accounting.transactions.read accounting.reports.read accounting.reports.tenninetynine.read accounting.journals.read accounting.settings accounting.settings.read accounting.contacts accounting.contacts.read accounting.attachments accounting.attachments.read"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "accounting.transactions accounting.transactions.read accounting.reports.read accounting.reports.tenninetynine.read accounting.journals.read accounting.settings accounting.settings.read accounting.contacts accounting.contacts.read accounting.attachments accounting.attachments.read"
      ]
    }
  ],
  "tags": []
}
