{
    "swagger": "2.0",
    "info": {
      "title": "Polygon",
      "description": "The Polygon.io Stocks API provides REST endpoints that let you query the latest market data from all US stock exchanges.",
      "version": "1.0",
      "contact": {
        "name": "Itransition Group Ltd",
        "url": "https://www.itransition.com/",
        "email": "v.sumar@itransition.com"
      }
    },
    "host": "api.polygon.io",
    "basePath": "/",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/v1/open-close/{stocksTicker}/{date}": {
        "get": {
          "summary": "Daily Open Close",
          "description": "Get the open, close and afterhours prices of a stock symbol on a certain date.",
          "operationId": "GetDailyOpenClose",
          "parameters": [
            {
              "name": "stocksTicker",
              "in": "path",
              "required": true,
              "type": "string",
              "x-ms-summary": "Ticker",
              "x-ms-url-encoding": "single",
              "description": "Specify a case-sensitive ticker symbol."
            },
            {
              "name": "date",
              "in": "path",
              "required": true,
              "type": "string",
              "x-ms-summary": "Date",
              "x-ms-url-encoding": "single",
              "description": "The date of the requested open/close in the format YYYY-MM-DD."
            },
            {
              "name": "adjusted",
              "in": "query",
              "required": false,
              "type": "boolean",
              "x-ms-summary": "Adjusted",
              "description": "Whether or not the results are adjusted for splits."
            }
          ],
          "responses": {
            "200": {
              "description": "Successful operation",
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "status"
                  },
                  "from": {
                    "type": "string",
                    "description": "from"
                  },
                  "symbol": {
                    "type": "string",
                    "description": "symbol"
                  },
                  "open": {
                    "type": "number",
                    "format": "float",
                    "description": "open"
                  },
                  "high": {
                    "type": "number",
                    "format": "float",
                    "description": "high"
                  },
                  "low": {
                    "type": "number",
                    "format": "float",
                    "description": "low"
                  },
                  "close": {
                    "type": "number",
                    "format": "float",
                    "description": "close"
                  },
                  "volume": {
                    "type": "number",
                    "format": "float",
                    "description": "volume"
                  },
                  "afterHours": {
                    "type": "number",
                    "format": "float",
                    "description": "afterHours"
                  },
                  "preMarket": {
                    "type": "number",
                    "format": "float",
                    "description": "preMarket"
                  }
                }
              }
            }
          }
        }
      },
      "/v3/reference/tickers": {
        "get": {
          "summary": "Tickers",
          "description": "Query all ticker symbols.",
          "operationId": "GetTickers",
          "parameters": [
            {
              "name": "ticker",
              "in": "query",
              "type": "string",
              "x-ms-summary": "Ticker",
              "description": "Specify a ticker symbol. Defaults to empty string which queries all tickers."
            },
            {
              "name": "type",
              "in": "query",
              "type": "string",
              "x-ms-summary": "Type",
              "description": "Specify the type of the tickers (e.g., stock, crypto).",
              "enum": [
                "CS",
                "ADRC",
                "ADRP",
                "ADRR",
                "UNIT",
                "RIGHT",
                "PFD",
                "FUND",
                "SP",
                "WARRANT",
                "INDEX",
                "ETF",
                "ETN",
                "OS",
                "GDR",
                "OTHER",
                "NYRS",
                "AGEN",
                "EQLK",
                "BOND",
                "ADRW",
                "BASKET",
                "LT"
              ]
            },
            {
              "name": "market",
              "in": "query",
              "type": "string",
              "x-ms-summary": "Market",
              "description": "Filter by market type. Defaults to all markets.",
              "enum": [
                "stocks",
                "crypto",
                "fx",
                "otc",
                "indices"
              ]
            },
            {
              "name": "exchange",
              "in": "query",
              "type": "string",
              "x-ms-summary": "Exchange",
              "description": "Specify the primary exchange of the asset in ISO code format."
            },
            {
              "name": "cusip",
              "in": "query",
              "type": "string",
              "x-ms-summary": "CUSIP",
              "description": "Specify the CUSIP code of the asset you want to search for."
            },
            {
              "name": "cik",
              "in": "query",
              "type": "string",
              "x-ms-summary": "CIK",
              "description": "Specify the CIK code of the asset you want to search for."
            },
            {
              "name": "date",
              "in": "query",
              "type": "string",
              "x-ms-summary": "Date",
              "description": "Specify a date to retrieve tickers (YYYY-MM-DD format)."
            },
            {
              "name": "search",
              "in": "query",
              "type": "string",
              "x-ms-summary": "Search",
              "description": "Search for terms within the ticker and/or company name."
            },
            {
              "name": "active",
              "in": "query",
              "type": "boolean",
              "x-ms-summary": "Active",
              "description": "Specify if the tickers returned should be actively traded on the queried date."
            },
            {
              "name": "order",
              "in": "query",
              "type": "string",
              "x-ms-summary": "Order",
              "description": "Order results based on the sort field.",
              "enum": [
                "asc",
                "desc"
              ]
            },
            {
              "name": "sort",
              "in": "query",
              "type": "string",
              "x-ms-summary": "Sort",
              "description": "Sort field used for ordering.",
              "enum": [
                "ticker",
                "name",
                "market",
                "locale",
                "primary_exchange",
                "type",
                "currency_symbol",
                "currency_name",
                "base_currency_symbol",
                "base_currency_name",
                "cik",
                "composite_figi",
                "share_class_figi",
                "last_updated_utc",
                "delisted_utc"
              ]
            },
            {
              "name": "limit",
              "in": "query",
              "type": "integer",
              "x-ms-summary": "Limit",
              "description": "Limit the number of tickers returned in the result.."
            }
          ],
          "responses": {
            "200": {
              "description": "Successful operation",
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "Status of the response"
                  },
                  "count": {
                    "type": "integer",
                    "description": "Number of results",
                    "format": "int32"
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "active": {
                          "type": "boolean",
                          "description": "Whether the ticker is active"
                        },
                        "cik": {
                          "type": "string",
                          "description": "The CIK (Central Index Key) of the asset"
                        },
                        "composite_figi": {
                          "type": "string",
                          "description": "The composite FIGI of the asset"
                        },
                        "currency_name": {
                          "type": "string",
                          "description": "The currency of the asset"
                        },
                        "market": {
                          "type": "string",
                          "description": "The market type (e.g., stock, crypto)"
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the asset"
                        },
                        "primary_exchange": {
                          "type": "string",
                          "description": "The primary exchange of the asset"
                        },
                        "ticker": {
                          "type": "string",
                          "description": "The ticker symbol"
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the asset"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v3/reference/tickers/{ticker}": {
        "get": {
          "summary": "Ticker Details",
          "description": "Get a single ticker details.",
          "operationId": "GetTickerDetails",
          "parameters": [
            {
              "name": "ticker",
              "in": "path",
              "description": "The ticker symbol of the asset.",
              "required": true,
              "x-ms-summary": "Ticker",
              "x-ms-url-encoding": "single",
              "type": "string"
            },
            {
              "name": "date",
              "in": "query",
              "description": "Specify a date to get information about the ticker.",
              "required": false,
              "x-ms-summary": "Date",
              "type": "string",
              "format": "date"
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "description": "The total number of results for this request."
                  },
                  "request_id": {
                    "type": "string",
                    "description": "A request ID assigned by the server."
                  },
                  "results": {
                    "type": "object",
                    "properties": {
                      "active": {
                        "type": "boolean",
                        "description": "Whether the ticker is active."
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "address1": {
                            "type": "string",
                            "description": "The company's address."
                          },
                          "city": {
                            "type": "string"
                          },
                          "postal_code": {
                            "type": "string"
                          },
                          "state": {
                            "type": "string"
                          }
                        }
                      },
                      "branding": {
                        "type": "object",
                        "properties": {
                          "icon_url": {
                            "type": "string"
                          },
                          "logo_url": {
                            "type": "string"
                          }
                        }
                      },
                      "cik": {
                        "type": "string",
                        "description": "The company's CIK (Central Index Key)."
                      },
                      "composite_figi": {
                        "type": "string"
                      },
                      "currency_name": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "market_cap": {
                        "type": "number",
                        "description": "Market capitalization of the company."
                      },
                      "market": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "primary_exchange": {
                        "type": "string"
                      },
                      "ticker": {
                        "type": "string"
                      },
                      "sic_code": {
                        "type": "string"
                      },
                      "sic_description": {
                        "type": "string"
                      },
                      "total_employees": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "type": {
                        "type": "string"
                      },
                      "weighted_shares_outstanding": {
                        "type": "number",
                        "description": "The number of weighted shares outstanding."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/vX/reference/tickers/{id}/events": {
        "get": {
          "summary": "Ticker Events",
          "description": "Get a timeline of events for the entity associated with the given ticker.",
          "operationId": "GetTickerEvents",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Identifier of an asset (Ticker, CUSIP, or Composite FIGI)",
              "required": true,
              "x-ms-summary": "Id",
              "x-ms-url-encoding": "single",
              "type": "string"
            },
            {
              "name": "types",
              "in": "query",
              "description": "A comma-separated list of the types of events to include.",
              "required": false,
              "x-ms-summary": "Types",
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "The status of the request"
                  },
                  "request_id": {
                    "type": "string",
                    "description": "A unique request ID assigned by the server"
                  },
                  "results": {
                    "type": "object",
                    "properties": {
                      "events": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "date": {
                              "type": "string",
                              "description": "Date of the event"
                            },
                            "ticker_change": {
                              "type": "object",
                              "properties": {
                                "ticker": {
                                  "type": "string",
                                  "description": "The new ticker after the change"
                                }
                              },
                              "description": "Information about the ticker change event"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/v3/reference/splits": {
        "get": {
          "summary": "Stock Splits",
          "description": "Get a list of historical stock splits.",
          "operationId": "GetStockSplits",
          "parameters": [
            {
              "name": "ticker",
              "in": "query",
              "description": "The ticker symbol of the asset.",
              "required": true,
              "x-ms-summary": "Ticker",
              "type": "string"
            },
            {
              "name": "execution_date",
              "in": "query",
              "description": "Query by execution date with the format YYYY-MM-DD.",
              "required": false,
              "x-ms-summary": "Execution date",
              "type": "string"
            },
            {
              "name": "reverse_split",
              "in": "query",
              "description": "Query for reverse stock splits.",
              "required": false,
              "x-ms-summary": "Reverse split",
              "type": "boolean"
            },
            {
              "name": "order",
              "in": "query",
              "description": "Order results based on the sort field.",
              "required": false,
              "x-ms-summary": "Order",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Limit the number of results returned",
              "required": false,
              "x-ms-summary": "Limit",
              "type": "integer",
              "default": 10
            },
            {
              "name": "sort",
              "in": "query",
              "description": "Sort field used for ordering.",
              "required": false,
              "x-ms-summary": "Sort",
              "type": "string",
              "enum": [
                "execution_date",
                "ticker"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "type": "object",
                "properties": {
                  "next_url": {
                    "type": "string",
                    "description": "URL for the next page of results"
                  },
                  "results": {
                    "type": "array",
                    "description": "List of historical stock splits",
                    "items": {
                      "type": "object",
                      "properties": {
                        "execution_date": {
                          "type": "string",
                          "description": "Date of stock split execution"
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the stock split record"
                        },
                        "split_from": {
                          "type": "integer",
                          "description": "Split ratio from",
                          "format": "int32"
                        },
                        "split_to": {
                          "type": "integer",
                          "description": "Split ratio to",
                          "format": "int32"
                        },
                        "ticker": {
                          "type": "string",
                          "description": "Ticker symbol of the asset"
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the API response."
                  }
                }
              }
            }
          }
        }
      },
      "/v3/reference/dividends": {
        "get": {
          "summary": "Dividends",
          "description": "Get a list of historical cash dividends.",
          "operationId": "GetStockDividends",
          "parameters": [
            {
              "name": "ticker",
              "in": "query",
              "description": "Specify a case-sensitive ticker symbol.",
              "required": true,
              "x-ms-summary": "Ticker",
              "type": "string"
            },
            {
              "name": "ex_dividend_date",
              "in": "query",
              "description": "Query by ex-dividend date with the format YYYY-MM-DD.",
              "required": false,
              "x-ms-summary": "Ex dividend date",
              "type": "string"
            },
            {
              "name": "record_date",
              "in": "query",
              "description": "Query by record date with the format YYYY-MM-DD.",
              "required": false,
              "x-ms-summary": "Record date",
              "type": "string"
            },
            {
              "name": "declaration_date",
              "in": "query",
              "description": "Query by declaration date with the format YYYY-MM-DD.",
              "required": false,
              "x-ms-summary": "Declaration date",
              "type": "string"
            },
            {
              "name": "pay_date",
              "in": "query",
              "description": "Query by pay date with the format YYYY-MM-DD.",
              "required": false,
              "x-ms-summary": "Pay Date",
              "type": "string"
            },
            {
              "name": "frequency",
              "in": "query",
              "description": "Query by the number of times per year the dividend is paid out.",
              "required": false,
              "x-ms-summary": "Frequency",
              "type": "integer",
              "format": "int32",
              "enum": [
                0,
                1,
                2,
                4,
                12
              ]
            },
            {
              "name": "cash_amount",
              "in": "query",
              "description": "Query by the cash amount of the dividend.",
              "required": false,
              "x-ms-summary": "Cash amount",
              "type": "number"
            },
            {
              "name": "dividend_type",
              "in": "query",
              "description": "Query by the type of dividend.",
              "required": false,
              "x-ms-summary": "Dividend Type",
              "type": "string",
              "enum": [
                "CD",
                "SC",
                "LT",
                "ST"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "type": "object",
                "properties": {
                  "next_url": {
                    "type": "string",
                    "description": "URL for the next page of results"
                  },
                  "results": {
                    "type": "array",
                    "description": "List of historical dividends",
                    "items": {
                      "type": "object",
                      "properties": {
                        "cash_amount": {
                          "type": "number",
                          "description": "The cash amount of the dividend",
                          "format": "float"
                        },
                        "declaration_date": {
                          "type": "string",
                          "description": "The date when the dividend was declared"
                        },
                        "ex_dividend_date": {
                          "type": "string",
                          "description": "The date when the stock starts trading without the value of the dividend"
                        },
                        "frequency": {
                          "type": "integer",
                          "description": "The frequency of the dividend payments",
                          "format": "int32"
                        },
                        "id": {
                          "type": "string",
                          "description": "Unique identifier for the dividend record"
                        },
                        "pay_date": {
                          "type": "string",
                          "description": "The date when the dividend is paid to shareholders"
                        },
                        "record_date": {
                          "type": "string",
                          "description": "The date when the shareholder must own the stock to receive the dividend"
                        },
                        "ticker": {
                          "type": "string",
                          "description": "Ticker symbol of the stock"
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "description": "Status of the API response."
                  }
                }
              }
            }
          }
        }
      },
      "/vX/reference/financials": {
        "get": {
          "summary": "Stock Financials",
          "description": "Returns financial data for a given ticker or company based on various filters.",
          "parameters": [
            {
              "name": "ticker",
              "in": "query",
              "description": "The ticker symbol to filter financial data.",
              "required": false,
              "x-ms-summary": "Ticker",
              "type": "string"
            },
            {
              "name": "cik",
              "in": "query",
              "description": "The central index key (CIK) number to filter financial data.",
              "required": false,
              "x-ms-summary": "Cic",
              "type": "string"
            },
            {
              "name": "company_name",
              "in": "query",
              "description": "The company name to filter financial data.",
              "x-ms-summary": "Company name",
              "required": false,
              "type": "string"
            },
            {
              "name": "sic",
              "in": "query",
              "description": "Standard industrial classification to filter financial data.",
              "required": false,
              "x-ms-summary": "Sic",
              "type": "string"
            },
            {
              "name": "filing_date",
              "in": "query",
              "description": "Filter financial data by the filing date (YYYY-MM-DD).",
              "required": false,
              "x-ms-summary": "Filing Date",
              "type": "string"
            },
            {
              "name": "period_of_report_date",
              "in": "query",
              "description": "The period of report for the filing with financial data (YYYY-MM-DD).",
              "x-ms-summary": "Period of report date",
              "required": false,
              "type": "string"
            },
            {
              "name": "timeframe",
              "in": "query",
              "description": "Filter by timeframe (e.g., annual or quarterly).",
              "required": false,
              "type": "string",
              "x-ms-summary": "Timeframe",
              "enum": [
                "annual",
                "quarterly",
                "ttm"
              ]
            },
            {
              "name": "include_sources",
              "in": "query",
              "description": "Whether to include `xpath` and `formula` attributes for financial data points.",
              "required": false,
              "type": "boolean",
              "x-ms-summary": "Indlude sources"
            },
            {
              "name": "order",
              "in": "query",
              "description": "Order results based on the sort field.",
              "required": false,
              "type": "string",
              "x-ms-summary": "Order",
              "enum": [
                "asc",
                "desc"
              ]
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Limit the number of results. Default is 10, max is 100.",
              "required": false,
              "type": "integer",
              "x-ms-summary": "Limit"
            },
            {
              "name": "sort",
              "in": "query",
              "description": "Sort field for ordering.",
              "required": false,
              "type": "string",
              "x-ms-summary": "Sort",
              "enum": [
                "filing_date",
                "period_of_report_date"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "A list of financial data for the given ticker or company.",
              "schema": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "description": "The total number of results.",
                    "format": "int32"
                  },
                  "next_url": {
                    "type": "string",
                    "description": "URL for the next page of results."
                  },
                  "request_id": {
                    "type": "string",
                    "description": "A request ID assigned by the server."
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "cik": {
                          "type": "string",
                          "description": "Central Index Key (CIK)."
                        },
                        "company_name": {
                          "type": "string",
                          "description": "Company name."
                        },
                        "end_date": {
                          "type": "string",
                          "description": "End date of the financial report."
                        },
                        "filing_date": {
                          "type": "string",
                          "description": "Date when the filing was submitted."
                        },
                        "fiscal_period": {
                          "type": "string",
                          "description": "Fiscal period (e.g., Q1)."
                        },
                        "fiscal_year": {
                          "type": "string",
                          "description": "Fiscal year."
                        },
                        "start_date": {
                          "type": "string",
                          "description": "Start date of the financial report."
                        },
                        "source_filing_file_url": {
                          "type": "string",
                          "description": "URL for the source filing file."
                        },
                        "financials": {
                          "type": "object",
                          "properties": {
                            "balance_sheet": {
                              "type": "object",
                              "properties": {
                                "assets": {
                                  "type": "object",
                                  "properties": {
                                    "label": {
                                      "type": "string"
                                    },
                                    "unit": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number",
                                      "format": "float"
                                    }
                                  }
                                },
                                "liabilities": {
                                  "type": "object",
                                  "properties": {
                                    "label": {
                                      "type": "string"
                                    },
                                    "unit": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number",
                                      "format": "float"
                                    }
                                  }
                                },
                                "equity": {
                                  "type": "object",
                                  "properties": {
                                    "label": {
                                      "type": "string"
                                    },
                                    "unit": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number",
                                      "format": "double"
                                    }
                                  }
                                }
                              }
                            },
                            "income_statement": {
                              "type": "object",
                              "properties": {
                                "revenue": {
                                  "type": "object",
                                  "properties": {
                                    "label": {
                                      "type": "string"
                                    },
                                    "unit": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number",
                                      "format": "float"
                                    }
                                  }
                                },
                                "net_income": {
                                  "type": "object",
                                  "properties": {
                                    "label": {
                                      "type": "string"
                                    },
                                    "unit": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number",
                                      "format": "float"
                                    }
                                  }
                                }
                              }
                            },
                            "cash_flow_statement": {
                              "type": "object",
                              "properties": {
                                "net_cash_flow": {
                                  "type": "object",
                                  "properties": {
                                    "label": {
                                      "type": "string"
                                    },
                                    "unit": {
                                      "type": "string"
                                    },
                                    "value": {
                                      "type": "number",
                                      "format": "float"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "operationId": "GetStockFinancialDetails"
        }
      },
      "/v3/reference/exchanges": {
        "get": {
          "summary": "Exchanges",
          "description": "Get a list of exchanges including stocks, options, crypto, and more.",
          "operationId": "GetExchanges",
          "parameters": [
            {
              "name": "asset_class",
              "in": "query",
              "type": "string",
              "description": "Filter by asset class, e.g., stocks, options, crypto, fx",
              "x-ms-summary": "Asset class",
              "required": false,
              "enum": [
                "stocks",
                "options",
                "crypto",
                "fx"
              ]
            },
            {
              "name": "locale",
              "in": "query",
              "type": "string",
              "description": "Filter by locale",
              "x-ms-summary": "Locale",
              "required": false,
              "enum": [
                "us",
                "global"
              ]
            }
          ],
          "responses": {
            "200": {
              "description": "Successful response",
              "schema": {
                "type": "object",
                "properties": {
                  "count": {
                    "type": "integer",
                    "description": "The total number of results for this request.",
                    "format": "int32"
                  },
                  "request_id": {
                    "type": "string",
                    "description": "A request id assigned by the server."
                  },
                  "results": {
                    "type": "array",
                    "description": "List of exchange data",
                    "items": {
                      "type": "object",
                      "properties": {
                        "acronym": {
                          "type": "string",
                          "description": "The acronym of the exchange"
                        },
                        "asset_class": {
                          "type": "string",
                          "description": "The asset class the exchange supports (e.g., stocks)"
                        },
                        "id": {
                          "type": "integer",
                          "description": "The exchange id",
                          "format": "int32"
                        },
                        "locale": {
                          "type": "string",
                          "description": "The locale (country/region) of the exchange"
                        },
                        "mic": {
                          "type": "string",
                          "description": "The MIC (Market Identifier Code) of the exchange"
                        },
                        "name": {
                          "type": "string",
                          "description": "The full name of the exchange"
                        },
                        "operating_mic": {
                          "type": "string",
                          "description": "The operating MIC of the exchange"
                        },
                        "participant_id": {
                          "type": "string",
                          "description": "The participant id of the exchange"
                        },
                        "type": {
                          "type": "string",
                          "description": "The type of the exchange"
                        },
                        "url": {
                          "type": "string",
                          "description": "The URL of the exchange's website"
                        }
                      }
                    }
                  },
                  "status": {
                    "type": "string",
                    "description": "The status of the request"
                  }
                }
              }
            }
          }
        }
      }
    },
    "definitions": {},
    "parameters": {},
    "responses": {},
    "securityDefinitions": {
      "apiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey"
      }
    },
    "security": [
      {
        "apiKey": []
      }
    ],
    "tags": [],
    "x-ms-connector-metadata": [
      {
        "propertyName": "Website",
        "propertyValue": "https://polygon.io/"
      },
      {
        "propertyName": "Privacy policy",
        "propertyValue": "https://polygon.io/privacy"
      },
      {
        "propertyName": "Categories",
        "propertyValue": "Data;Finance"
      }
    ]
  }