{
  "swagger": "2.0",
  "info": {
    "title": "UK Check VAT",
    "description": "Service provided by GOV.UK allowing you to perform unverified and verified checks of UK VAT numbers and view additional details of the VAT registration such as name and address of business.",
    "version": "1.0",
    "contact": {
      "name": "Fördős András",
      "email": "fordosa90+ipc_ukvat@gmail.com"
    }
  },
  "host": "api.service.hmrc.gov.uk",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/organisations/vat/check-vat-number/lookup/{targetVatNumber}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "target": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the registered business.",
                      "title": "Name"
                    },
                    "vatNumber": {
                      "type": "string",
                      "description": "VAT number of the registered business.",
                      "title": "VAT Number"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "line1": {
                          "type": "string",
                          "description": "Address Line 1 of the registered business.",
                          "title": "Line 1"
                        },
                        "line2": {
                          "type": "string",
                          "description": "Address Line 2 of the registered business.",
                          "title": "Line 2"
                        },
                        "line3": {
                          "type": "string",
                          "description": "Address Line 3 of the registered business.",
                          "title": "Line 3"
                        },
                        "postcode": {
                          "type": "string",
                          "description": "Postcode of the registered business.",
                          "title": "Postcode"
                        },
                        "countryCode": {
                          "type": "string",
                          "description": "Country code (eg. GB) of the registered business.",
                          "title": "Country code"
                        }
                      },
                      "description": "Full address of the registered business.",
                      "title": "Address"
                    }
                  },
                  "description": "The targeted VAT and related registered business data.",
                  "title": "Target"
                },
                "processingDate": {
                  "type": "string",
                  "description": "Processing date of the VAT Check.",
                  "title": "Processing date"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code.",
                  "title": "Code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message.",
                  "title": "Message"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code.",
                  "title": "Code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message.",
                  "title": "Message"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code.",
                  "title": "Code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message.",
                  "title": "Message"
                }
              }
            }
          }
        },
        "summary": "Get VAT registration",
        "description": "Allows retrieval of name and address of a UK VAT registered company",
        "operationId": "GetVatRegistration",
        "parameters": [
          {
            "name": "targetVatNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "VAT Number",
            "x-ms-url-encoding": "single",
            "description": "A 9-digit or 12-digit UK VAT registration number you wish to check, for example 123456789"
          }
        ]
      }
    },
    "/organisations/vat/check-vat-number/lookup/{targetVatNumber}/{requesterVatNumber}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "target": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the registered business.",
                      "title": "Name"
                    },
                    "vatNumber": {
                      "type": "string",
                      "description": "VAT number of the registered business.",
                      "title": "VAT Number"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "line1": {
                          "type": "string",
                          "description": "Address Line 1 of the registered business.",
                          "title": "Line 1"
                        },
                        "line2": {
                          "type": "string",
                          "description": "Address Line 2 of the registered business.",
                          "title": "Line 2"
                        },
                        "line3": {
                          "type": "string",
                          "description": "Address Line 3 of the registered business.",
                          "title": "Line 3"
                        },
                        "postcode": {
                          "type": "string",
                          "description": "Postcode of the registered business.",
                          "title": "Postcode"
                        },
                        "countryCode": {
                          "type": "string",
                          "description": "Country code (eg. GB) of the registered business.",
                          "title": "Country code"
                        }
                      },
                      "description": "Full address of the registered business.",
                      "title": "Address"
                    }
                  },
                  "description": "The targeted VAT and related registered business data.",
                  "title": "Target"
                },
                "requester": {
                  "type": "string",
                  "description": "VAT number of the requester of this check.",
                  "title": "Requester"
                },
                "consultationNumber": {
                  "type": "string",
                  "description": "Reference consultation number for this check.",
                  "title": "Consultation number"
                },
                "processingDate": {
                  "type": "string",
                  "description": "Processing date of the VAT Check.",
                  "title": "Processing date"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code.",
                  "title": "Code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message.",
                  "title": "Message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code.",
                  "title": "Code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message.",
                  "title": "Message"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code.",
                  "title": "Code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message.",
                  "title": "Message"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Error code.",
                  "title": "Code"
                },
                "message": {
                  "type": "string",
                  "description": "Error message.",
                  "title": "Message"
                }
              }
            }
          }
        },
        "summary": "Get VAT registration with reference",
        "operationId": "GetVatRegistrationWithReference",
        "description": "Retrieves the name and address of a UK VAT-registered business with a reference number to prove you performed validation",
        "parameters": [
          {
            "name": "targetVatNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Target VAT Number",
            "x-ms-url-encoding": "single",
            "description": "A 9-digit or 12-digit UK VAT registration number you want to check, for example 123456789"
          },
          {
            "name": "requesterVatNumber",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-summary": "Requester VAT Number",
            "x-ms-url-encoding": "single",
            "description": "Your VAT registration number. A 9-digit or 12-digit number, for example 987654321"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://developer.service.hmrc.gov.uk/api-documentation/docs/api"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://developer.service.hmrc.gov.uk/api-documentation/docs/help/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Data"
    }
  ]
}