{
  "swagger": "2.0",
  "info": {
    "title": "Polaris PSA",
    "description": "Polaris PSA is a self-driving professional services automation solution that uses advanced technology to analyze real-time data, and then delivers recommendations to help keep projects, resources, and finances on track. The connector allows you to continuously sync projects, tasks, and resource assignments from Project Online to Polaris and time data from Polaris to Project Online.",
    "version": "1.0",
    "contact": {
      "name": "Replicon Support",
      "url": "https://www.replicon.com/polaris/contact-support/",
      "email": "support@replicon.com"
    }
  },
  "host": "na5.replicon.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/services/ProjectService1.svc/BulkGetProjectDetails3": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectDetailsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        },
        "operationId": "BulkGetProjectDetails3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get Project Details",
        "description": "Get the project details from Polaris",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "projects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uri": {
                        "type": "string",
                        "description": "project uri"
                      },
                      "name": {
                        "type": "string",
                        "description": "project name"
                      },
                      "code": {
                        "type": "string",
                        "description": "project code"
                      },
                      "parameterCorrelationId": {
                        "type": "string",
                        "description": "parameterCorrelationId"
                      }
                    }
                  },
                  "description": "projects"
                }
              }
            }
          }
        ]
      }
    },
    "/services/ProjectService1.svc/CreateProjectOrApplyModifications": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateProjectOrApplyModificationsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        },
        "summary": "Create Project Or Apply Modifications",
        "description": "Create Project Or Apply Modifications in Polaris",
        "operationId": "CreateProjectOrApplyModifications",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "target": {
                  "type": "object",
                  "description": "project target"
                },
                "modifications": {
                  "type": "object",
                  "properties": {
                    "nameToApply": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "project name to apply"
                        }
                      },
                      "description": "nameToApply"
                    },
                    "codeToApply": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "project code to apply"
                        }
                      },
                      "description": "codeToApply"
                    },
                    "descriptionToApply": {
                      "type": "object",
                      "description": "project description to apply"
                    },
                    "percentCompletedToApply": {
                      "type": "string",
                      "description": "percent completed to apply"
                    },
                    "startDateToApply": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "object",
                          "properties": {
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year of project start date"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month of project start date"
                            },
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day of project start date"
                            }
                          },
                          "description": "project start date"
                        }
                      },
                      "description": "startDateToApply"
                    },
                    "endDateToApply": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "object",
                          "properties": {
                            "year": {
                              "type": "integer",
                              "format": "int32",
                              "description": "year of project end date"
                            },
                            "month": {
                              "type": "integer",
                              "format": "int32",
                              "description": "month of project end date"
                            },
                            "day": {
                              "type": "integer",
                              "format": "int32",
                              "description": "day of project end date"
                            }
                          },
                          "description": "project end date"
                        }
                      },
                      "description": "endDateToApply"
                    },
                    "billingTypeToApply": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "billing type"
                        }
                      },
                      "description": "billingTypeToApply"
                    },
                    "projectLeaderToApply": {
                      "type": "object",
                      "description": "project leader to apply"
                    },
                    "isProjectLeaderApprovalRequired": {
                      "type": "string",
                      "description": "isProjectLeaderApprovalRequired"
                    },
                    "isTimeEntryAllowed": {
                      "type": "string",
                      "description": "isTimeEntryAllowed"
                    },
                    "defaultBillingCurrencyToApply": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "billing currency name"
                            }
                          },
                          "description": "billing currency"
                        }
                      },
                      "description": "defaultBillingCurrencyToApply"
                    },
                    "billingContractToApply": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "billing contract name"
                        }
                      },
                      "description": "billingContractToApply"
                    },
                    "keyValuesToApply": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyUri": {
                            "type": "string",
                            "description": "keyUri"
                          },
                          "value": {
                            "type": "object",
                            "properties": {
                              "collection": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "text": {
                                      "type": "string",
                                      "description": "text"
                                    },
                                    "uri": {
                                      "type": "string",
                                      "description": "uri"
                                    }
                                  }
                                },
                                "description": "collection"
                              },
                              "uri": {
                                "type": "string",
                                "description": "uri"
                              }
                            },
                            "description": "value"
                          }
                        }
                      },
                      "description": "keyValuesToApply"
                    }
                  },
                  "description": "modifications"
                },
                "projectModificationOptionUri": {
                  "type": "string",
                  "description": "projectModificationOptionUri"
                },
                "unitOfWorkId": {
                  "type": "string",
                  "description": "unitOfWorkId"
                }
              }
            }
          }
        ]
      }
    },
    "/services/UserListService1.svc/GetData": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserListServiceGetDataResponse"
            }
          },
          "default": {
            "description": "default"
          }
        },
        "summary": "Get User List",
        "description": "Get User List Data from Polaris",
        "operationId": "UserListServiceGetData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "page": {
                  "type": "string",
                  "description": "page"
                },
                "pagesize": {
                  "type": "string",
                  "description": "pagesize"
                },
                "columnUris": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "columnUris"
                },
                "sort": {
                  "type": "array",
                  "items": {},
                  "description": "sort"
                },
                "filterExpression": {
                  "type": "object",
                  "description": "filterExpression"
                }
              }
            }
          }
        ]
      }
    },
    "/services/TaskService1.svc/GetDescendantTaskDetails": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Get Descendant Task Details",
        "operationId": "GetDescendantTaskDetails",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "parentUri": {
                  "type": "string",
                  "description": "parentUri"
                }
              }
            }
          }
        ],
        "description": "Get Hierarchial Task Details from Polaris"
      }
    },
    "/services/TaskService1.svc/CreateTaskHierarchyOrApplyModifications": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateTaskHierarchyOrApplyModificationsResponse"
            }
          },
          "default": {
            "description": "default"
          }
        },
        "summary": "Create Task Hierarchy Or Apply Modifications",
        "operationId": "CreateTaskHierarchyOrApplyModifications",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "project": {
                  "type": "object",
                  "properties": {
                    "uri": {
                      "type": "string",
                      "description": "project uri"
                    },
                    "name": {
                      "type": "string",
                      "description": "project name"
                    },
                    "code": {
                      "type": "string",
                      "description": "project code"
                    },
                    "parameterCorrelationId": {
                      "type": "string",
                      "description": "parameterCorrelationId"
                    }
                  },
                  "description": "project"
                },
                "taskHierarchy": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "target": {
                        "type": "object",
                        "description": "target"
                      },
                      "parameterCorrelationId": {
                        "type": "string",
                        "description": "parameterCorrelationId"
                      },
                      "taskModificationToApply": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "task name to apply"
                          },
                          "codeToApply": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "task code to apply"
                              }
                            },
                            "description": "codeToApply"
                          },
                          "descriptionToApply": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "task description to apply"
                              }
                            },
                            "description": "descriptionToApply"
                          },
                          "isClosed": {
                            "type": "string",
                            "description": "is task Closed"
                          },
                          "timeEntryStartDateToApply": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "properties": {
                                  "year": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "year of task start date"
                                  },
                                  "month": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "month of task start date"
                                  },
                                  "day": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "day of task start date"
                                  }
                                },
                                "description": "task strat date"
                              }
                            },
                            "description": "timeEntryStartDateToApply"
                          },
                          "timeEntryEndDateToApply": {
                            "type": "object",
                            "properties": {
                              "date": {
                                "type": "object",
                                "properties": {
                                  "year": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "year of task end date"
                                  },
                                  "month": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "year of task end date"
                                  },
                                  "day": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "year of task end date"
                                  }
                                },
                                "description": "task end date"
                              }
                            },
                            "description": "timeEntryEndDateToApply"
                          },
                          "timeAndExpenseEntryTypeToApply": {
                            "type": "object",
                            "properties": {
                              "value": {
                                "type": "string",
                                "description": "time and expense entry type value"
                              }
                            },
                            "description": "timeAndExpenseEntryTypeToApply"
                          },
                          "isTimeEntryAllowed": {
                            "type": "string",
                            "description": "isTimeEntryAllowed"
                          },
                          "costTypeToApply": {
                            "type": "string",
                            "description": "costTypeToApply"
                          },
                          "estimatedHoursToApply": {
                            "type": "object",
                            "description": "estimatedHoursToApply"
                          },
                          "estimatedCostToApply": {
                            "type": "object",
                            "description": "estimatedCostToApply"
                          },
                          "resourceAssignmentModifications": {
                            "type": "object",
                            "properties": {
                              "resourcesToAdd": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "resourcesToAdd"
                              },
                              "resourcesToRemove": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "resourcesToRemove"
                              }
                            },
                            "description": "resourceAssignmentModifications"
                          },
                          "customFieldsToApply": {
                            "type": "array",
                            "items": {},
                            "description": "customFieldsToApply"
                          },
                          "keyValuesToApply": {
                            "type": "array",
                            "items": {},
                            "description": "keyValuesToApply"
                          },
                          "objectExtensionFieldsToApply": {
                            "type": "array",
                            "items": {},
                            "description": "objectExtensionFieldsToApply"
                          }
                        },
                        "description": "taskModificationToApply"
                      }
                    }
                  },
                  "description": "taskHierarchy"
                },
                "taskModificationOptionUri": {
                  "type": "string",
                  "description": "taskModificationOptionUri"
                },
                "unitOfWorkId": {
                  "type": "string",
                  "description": "unitOfWorkId"
                }
              }
            }
          }
        ],
        "description": "Create Task Hierarchy Or Apply Modifications to a Replicon Task"
      }
    },
    "/services/TaskListService1.svc/GetData": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaskListServiceGetDataResponse"
            }
          },
          "default": {
            "description": "default"
          }
        },
        "summary": "Task List Service Get Data",
        "operationId": "TaskListServiceGetData",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Get Task List Service Data From Polaris",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "page": {
                  "type": "string",
                  "description": "page"
                },
                "pagesize": {
                  "type": "string",
                  "description": "pagesize"
                },
                "columnUris": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "columnUris"
                },
                "sort": {
                  "type": "array",
                  "items": {},
                  "description": "sort"
                },
                "filterExpression": {
                  "type": "object",
                  "description": "filterExpression"
                }
              }
            }
          }
        ]
      }

    },
    "/graphql": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Graph QL query",
        "operationId": "GraphQL",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "operationName": {
                    "type": "string",
                    "description": "operationName"
                  },
                  "variables": {
                    "type": "object",
                    "description": "variables"
                  },
                  "query": {
                    "type": "string",
                    "description": "query"
                  }
                }
              }
            }
          }
        ],
        "description": "Make Graph QL queries to Polaris"
      }
    },
    "/services/TimesheetService1.svc/GetTimesheetSummary": {
      "post": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref":"#/definitions/GetTimesheetSummaryResponse"
            }
          },
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Timesheet Summary",
        "operationId": "GetTimesheetSummary",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "timesheetUri": {
                  "type": "string",
                  "description": "timesheet uri"
                }
              }
            }
          }
        ],
        "description": "Get Timesheet Summary from Polaris"
      }
    },
    "/services/TaskService1.svc/BulkGetTimeEnteredSummary": {
      "post": {
        "responses": {
          "200": {
            "description": "OK", 
            "schema": {
              "$ref": "#/definitions/BulkGetTimeEnteredSummaryResponse"
            }
          },
          "default": {
            "description": "default"
          }
        },
        "summary": "Get Time Entered Summary",
        "operationId": "BulkGetTimeEnteredSummary",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "description": "Get Time Entered by Task Uri from Polaris",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "taskUris": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "taskUris"
                }
              }
            }
          }
        ]
      }
    },
    "/webhook-api/api/subscription": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "timesheet": {
              "type": "object",
              "properties": {
                "displayText": {
                  "type": "string",
                  "description": "displayText"
                },
                "uri": {
                  "type": "string",
                  "description": "uri"
                },
                "slug": {
                  "type": "string",
                  "description": "slug"
                }
              },
              "description": "timesheet"
            },
            "approvalStatusUri": {
              "type": "string",
              "description": "approvalStatusUri"
            },
            "authority": {
              "type": "object",
              "properties": {
                "actingUser": {
                  "type": "object",
                  "properties": {
                    "displayText": {
                      "type": "string",
                      "description": "user display Text"
                    },
                    "loginName": {
                      "type": "string",
                      "description": "user login Name"
                    },
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    },
                    "slug": {
                      "type": "string",
                      "description": "slug"
                    }
                  },
                  "description": "actingUser"
                },
                "displayText": {
                  "type": "string",
                  "description": "displayText"
                },
                "actingForUser": {
                  "type": "string",
                  "description": "acting For User"
                },
                "authorityType": {
                  "type": "object",
                  "properties": {
                    "displayText": {
                      "type": "string",
                      "description": "authority type display text"
                    },
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    }
                  },
                  "description": "authority Type"
                }
              },
              "description": "authority"
            },
            "timesheetStatusUri": {
              "type": "string",
              "description": "Status Uri of the timesheet"
            }
          }
        },
        "description": "the response for webhook subscription"
      },
      "post": {
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/WebhookSubscriptionResponse"
            }
          }
        },
        "summary": "Subscribe to Event triggers",
        "operationId": "WebhookSubscriptionsRestAPI",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "eventType": {
                  "type": "string",
                  "description": "Event type to subscribe to"
                },
                "targetUrl": {
                  "type": "string",
                  "description": "targetUrl",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "targetUrl"
                }
              },
              "required": [
                "targetUrl"
              ]
            }
          }
        ],
        "description": "Trigger to Subscribe to Web hook eventis in Polaris"
      }
    }
  },
  "definitions": {
    "GetTimesheetSummaryResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "object",
          "properties": {
            "actualPayableTimeCalculationStatus": {
              "type": "string",
              "description": "Status of actual payable time calculation"
            },
            "actualsByActivity": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "activity": {
                    "type": "string",
                    "description": "activity"
                  },
                  "totalTimeDuration": {
                    "type": "object",
                    "properties": {
                      "hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "hours"
                      },
                      "microseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "microseconds"
                      },
                      "milliseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "milliseconds"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "minutes"
                      },
                      "seconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "seconds"
                      }
                    },
                    "description": "total time duration"
                  }
                }
              },
              "description": "actuals by activity"
            },
            "actualsByBillingRate": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "billingRate": {
                    "type": "string",
                    "description": "billing rate"
                  },
                  "totalTimeDuration": {
                    "type": "object",
                    "properties": {
                      "hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "hours"
                      },
                      "microseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "microseconds"
                      },
                      "milliseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "milliseconds"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "minutes"
                      },
                      "seconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "seconds"
                      }
                    },
                    "description": "total time duration"
                  }
                }
              },
              "description": "actuals by billing rate"
            },
            "actualsByDate": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "breakDuration": {
                    "type": "object",
                    "properties": {
                      "hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "hours"
                      },
                      "microseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "microseconds"
                      },
                      "milliseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "milliseconds"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "minutes"
                      },
                      "seconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "seconds"
                      }
                    },
                    "description": "break duration"
                  },
                  "date": {
                    "$ref": "#/definitions/Date",
                    "description": "date"
                  },
                  "hasComments": {
                    "type": "boolean",
                    "description": "are comments present"
                  },
                  "isHolidayDayOff": {
                    "type": "boolean",
                    "description": "is holiday day"
                  },
                  "isWeeklyDayOff": {
                    "type": "boolean",
                    "description": "is weekly off day"
                  },
                  "timeOffDuration": {
                    "type": "object",
                    "properties": {
                      "hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "hours"
                      },
                      "microseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "microseconds"
                      },
                      "milliseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "milliseconds"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "minutes"
                      },
                      "seconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "seconds"
                      }
                    },
                    "description": "time off duration"
                  },
                  "totalTimeDuration": {
                    "type": "object",
                    "properties": {
                      "hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "hours"
                      },
                      "microseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "microseconds"
                      },
                      "milliseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "milliseconds"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "minutes"
                      },
                      "seconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "seconds"
                      }
                    },
                    "description": "total time duration"
                  },
                  "workingTimeDuration": {
                    "type": "object",
                    "properties": {
                      "hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "hours"
                      },
                      "microseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "microseconds"
                      },
                      "milliseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "milliseconds"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "minutes"
                      },
                      "seconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "seconds"
                      }
                    },
                    "description": "working time duration"
                  }
                }
              },
              "description": "actuals by date"
            },
            "actualsByPaycode": {
              "type": "string",
              "description": "actuals by paycode"
            },
            "actualsByProject": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string",
                        "description": "code"
                      },
                      "displayText": {
                        "type": "string",
                        "description": "displayText"
                      },
                      "name": {
                        "type": "string",
                        "description": "name"
                      },
                      "slug": {
                        "type": "string",
                        "description": "slug"
                      },
                      "uri": {
                        "type": "string",
                        "description": "uri"
                      }
                    },
                    "description": "project"
                  },
                  "totalTimeDuration": {
                    "type": "object",
                    "properties": {
                      "hours": {
                        "type": "integer",
                        "format": "int32",
                        "description": "hours"
                      },
                      "microseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "microseconds"
                      },
                      "milliseconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "milliseconds"
                      },
                      "minutes": {
                        "type": "integer",
                        "format": "int32",
                        "description": "minutes"
                      },
                      "seconds": {
                        "type": "integer",
                        "format": "int32",
                        "description": "seconds"
                      }
                    },
                    "description": "total time duration"
                  }
                }
              },
              "description": "actuals by project"
            },
            "approvalStatus": {
              "type": "object",
              "properties": {
                "displayText": {
                  "type": "string",
                  "description": "displayText"
                },
                "uri": {
                  "type": "string",
                  "description": "uri"
                }
              },
              "description": "approval status"
            },
            "attestationStatusUri": {
              "type": "string",
              "description": "attestation status uri"
            },
            "bankedTimeDuration": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "integer",
                  "format": "int32",
                  "description": "hours"
                },
                "microseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "microseconds"
                },
                "milliseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "milliseconds"
                },
                "minutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "minutes"
                },
                "seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "seconds"
                }
              },
              "description": "banked time duration"
            },
            "billableTimeDuration": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "integer",
                  "format": "int32",
                  "description": "hours"
                },
                "microseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "microseconds"
                },
                "milliseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "milliseconds"
                },
                "minutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "minutes"
                },
                "seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "seconds"
                }
              },
              "description": "billable time duration"
            },
            "breakDuration": {
              "type": "object",
              "description": "break duration"
            },
            "dueDate": {
              "$ref": "#/definitions/Date",
              "description": "due date"
            },
            "nonBillableTimeDuration": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "integer",
                  "format": "int32",
                  "description": "hours"
                },
                "microseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "microseconds"
                },
                "milliseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "milliseconds"
                },
                "minutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "minutes"
                },
                "seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "seconds"
                }
              },
              "description": "non billable time duration"
            },
            "overtimeDuration": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "integer",
                  "format": "int32",
                  "description": "hours"
                },
                "microseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "microseconds"
                },
                "milliseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "milliseconds"
                },
                "minutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "minutes"
                },
                "seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "seconds"
                }
              },
              "description": "overtime duration"
            },
            "scriptCalculationStatus": {
              "type": "object",
              "properties": {
                "lastDataModification": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "day"
                    },
                    "displayText": {
                      "type": "string",
                      "description": "displayText"
                    },
                    "hour": {
                      "type": "integer",
                      "format": "int32",
                      "description": "hour"
                    },
                    "minute": {
                      "type": "integer",
                      "format": "int32",
                      "description": "minute"
                    },
                    "month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "month"
                    },
                    "second": {
                      "type": "integer",
                      "format": "int32",
                      "description": "second"
                    },
                    "timeZone": {
                      "type": "object",
                      "properties": {
                        "displayText": {
                          "type": "string",
                          "description": "displayText"
                        },
                        "ianaName": {
                          "type": "string",
                          "description": "ianaName"
                        },
                        "offsetDisplayText": {
                          "type": "string",
                          "description": "offsetDisplayText"
                        },
                        "uri": {
                          "type": "string",
                          "description": "uri"
                        }
                      },
                      "description": "timeZone"
                    },
                    "valueInUtc": {
                      "type": "object",
                      "properties": {
                        "day": {
                          "type": "integer",
                          "format": "int32",
                          "description": "day"
                        },
                        "hour": {
                          "type": "integer",
                          "format": "int32",
                          "description": "hour"
                        },
                        "millisecond": {
                          "type": "integer",
                          "format": "int32",
                          "description": "millisecond"
                        },
                        "minute": {
                          "type": "integer",
                          "format": "int32",
                          "description": "minute"
                        },
                        "month": {
                          "type": "integer",
                          "format": "int32",
                          "description": "month"
                        },
                        "second": {
                          "type": "integer",
                          "format": "int32",
                          "description": "second"
                        },
                        "year": {
                          "type": "integer",
                          "format": "int32",
                          "description": "year"
                        }
                      },
                      "description": "value in Utc"
                    },
                    "year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "year"
                    }
                  },
                  "description": "last data modification time"
                },
                "lastFailedAttempt": {
                  "type": "object",
                  "description": "last failed attempt"
                },
                "lastSuccessfulAttempt": {
                  "type": "object",
                  "properties": {
                    "day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "day"
                    },
                    "displayText": {
                      "type": "string",
                      "description": "displayText"
                    },
                    "hour": {
                      "type": "integer",
                      "format": "int32",
                      "description": "hour"
                    },
                    "minute": {
                      "type": "integer",
                      "format": "int32",
                      "description": "minute"
                    },
                    "month": {
                      "type": "integer",
                      "format": "int32",
                      "description": "month"
                    },
                    "second": {
                      "type": "integer",
                      "format": "int32",
                      "description": "second"
                    },
                    "timeZone": {
                      "type": "object",
                      "properties": {
                        "displayText": {
                          "type": "string",
                          "description": "displayText"
                        },
                        "ianaName": {
                          "type": "string",
                          "description": "ianaName"
                        },
                        "offsetDisplayText": {
                          "type": "string",
                          "description": "offsetDisplayText"
                        },
                        "uri": {
                          "type": "string",
                          "description": "uri"
                        }
                      },
                      "description": "timeZone"
                    },
                    "valueInUtc": {
                      "type": "object",
                      "properties": {
                        "day": {
                          "type": "integer",
                          "format": "int32",
                          "description": "day"
                        },
                        "hour": {
                          "type": "integer",
                          "format": "int32",
                          "description": "hour"
                        },
                        "millisecond": {
                          "type": "integer",
                          "format": "int32",
                          "description": "millisecond"
                        },
                        "minute": {
                          "type": "integer",
                          "format": "int32",
                          "description": "minute"
                        },
                        "month": {
                          "type": "integer",
                          "format": "int32",
                          "description": "month"
                        },
                        "second": {
                          "type": "integer",
                          "format": "int32",
                          "description": "second"
                        },
                        "year": {
                          "type": "integer",
                          "format": "int32",
                          "description": "year"
                        }
                      },
                      "description": "valueInUtc"
                    },
                    "year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "year"
                    }
                  },
                  "description": "last successful attempt"
                },
                "timesheet": {
                  "type": "object",
                  "properties": {
                    "displayText": {
                      "type": "string",
                      "description": "displayText"
                    },
                    "slug": {
                      "type": "string",
                      "description": "slug"
                    },
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    }
                  },
                  "description": "timesheet"
                },
                "timesheetStatus": {
                  "type": "object",
                  "properties": {
                    "displayText": {
                      "type": "string",
                      "description": "displayText"
                    },
                    "uri": {
                      "type": "string",
                      "description": "uri"
                    }
                  },
                  "description": "timesheet status"
                }
              },
              "description": "script calculation status"
            },
            "timeOffTimeDuration": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "integer",
                  "format": "int32",
                  "description": "hours"
                },
                "microseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "microseconds"
                },
                "milliseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "milliseconds"
                },
                "minutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "minutes"
                },
                "seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "seconds"
                }
              },
              "description": "time off time duration"
            },
            "timesheetStatus": {
              "type": "object",
              "properties": {
                "displayText": {
                  "type": "string",
                  "description": "displayText"
                },
                "uri": {
                  "type": "string",
                  "description": "uri"
                }
              },
              "description": "status of timesheet"
            },
            "totalTimeDuration": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "integer",
                  "format": "int32",
                  "description": "hours"
                },
                "microseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "microseconds"
                },
                "milliseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "milliseconds"
                },
                "minutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "minutes"
                },
                "seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "seconds"
                }
              },
              "description": "total time duration"
            },
            "workingTimeDuration": {
              "type": "object",
              "properties": {
                "hours": {
                  "type": "integer",
                  "format": "int32",
                  "description": "hours"
                },
                "microseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "microseconds"
                },
                "milliseconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "milliseconds"
                },
                "minutes": {
                  "type": "integer",
                  "format": "int32",
                  "description": "minutes"
                },
                "seconds": {
                  "type": "integer",
                  "format": "int32",
                  "description": "seconds"
                }
              },
              "description": "working time duration"
            }
          },
          "description": "d"
        }
      }
    }, 
    "BulkGetTimeEnteredSummaryResponse": {
        "type": "object",
        "properties": {
          "d": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "taskUri": {
                  "type": "string",
                  "description": "taskUri"
                },
                "timeEnteredActual": {
                  "type": "object",
                  "properties": {
                    "hours": {
                      "type": "integer",
                      "format": "int32",
                      "description": "hours"
                    },
                    "microseconds": {
                      "type": "integer",
                      "format": "int32",
                      "description": "microseconds"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "format": "int32",
                      "description": "milliseconds"
                    },
                    "minutes": {
                      "type": "integer",
                      "format": "int32",
                      "description": "minutes"
                    },
                    "seconds": {
                      "type": "integer",
                      "format": "int32",
                      "description": "seconds"
                    }
                  },
                  "description": "time entered actual"
                },
                "timeEnteredTotalEstimated": {
                  "type": "object",
                  "properties": {
                    "hours": {
                      "type": "integer",
                      "format": "int32",
                      "description": "hours"
                    },
                    "microseconds": {
                      "type": "integer",
                      "format": "int32",
                      "description": "microseconds"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "format": "int32",
                      "description": "milliseconds"
                    },
                    "minutes": {
                      "type": "integer",
                      "format": "int32",
                      "description": "minutes"
                    },
                    "seconds": {
                      "type": "integer",
                      "format": "int32",
                      "description": "seconds"
                    }
                  },
                  "description": "time entered total estimated"
                },
                "timeEnteredTotalEstimatedAtCompletion": {
                  "type": "object",
                  "properties": {
                    "hours": {
                      "type": "integer",
                      "format": "int32",
                      "description": "hours"
                    },
                    "microseconds": {
                      "type": "integer",
                      "format": "int32",
                      "description": "microseconds"
                    },
                    "milliseconds": {
                      "type": "integer",
                      "format": "int32",
                      "description": "milliseconds"
                    },
                    "minutes": {
                      "type": "integer",
                      "format": "int32",
                      "description": "minutes"
                    },
                    "seconds": {
                      "type": "integer",
                      "format": "int32",
                      "description": "seconds"
                    }
                  },
                  "description": "time entered total estimated at completion"
                }
              }
            },
            "description": "d"
          }
        }
    },
    "WebhookSubscriptionResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "identity of the webhook event"
        },
        "createdTimestamp": {
          "type": "string",
          "description": "created time stamp of the webhook event"
        },
        "updatedTimestamp": {
          "type": "string",
          "description": "updated time stamp of the webhook event"
        },
        "eventType": {
          "type": "string",
          "description": "event Type of the webhook event"
        },
        "targetUrl": {
          "type": "string",
          "description": "target Url of the webhook event"
        },
        "sharedSecret": {
          "type": "string",
          "description": "shared Secret of the webhook event"
        },
        "authType": {
          "type": "string",
          "description": "auth Type of the webhook event"
        }
      }
    },
    "ProjectDetailsResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "error": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "type"
                  },
                  "displayText": {
                    "type": "string",
                    "description": "displayText"
                  }
                },
                "description": "error"
              },
              "parameterCorrelationId": {
                "type": "string",
                "description": "parameter correlation id"
              },
              "projectDetails": {
                "type": "object",
                "properties": {
                  "anyOf": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "billingContract": {
                          "type": "object",
                          "properties": {
                            "displayText": {
                              "type": "string",
                              "description": "displayText"
                            },
                            "slug": {
                              "type": "string",
                              "description": "slug"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            }
                          },
                          "description": "billingContract"
                        },
                        "billingType": {
                          "type": "object",
                          "properties": {
                            "displayText": {
                              "type": "string",
                              "description": "displayText"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            }
                          },
                          "description": "billingType"
                        },
                        "budget": {
                          "type": "string",
                          "description": "budget"
                        },
                        "budgetedCost": {
                          "type": "string",
                          "description": "budgetedCost"
                        },
                        "budgetedHours": {
                          "type": "string",
                          "description": "budgetedHours"
                        },
                        "clientBillingAllocationMethod": {
                          "type": "object",
                          "properties": {
                            "displayText": {
                              "type": "string",
                              "description": "displayText"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            }
                          },
                          "description": "clientBillingAllocationMethod"
                        },
                        "clientRepresentative": {
                          "type": "string",
                          "description": "clientRepresentative"
                        },
                        "clientSchedule": {
                          "type": "array",
                          "items": {},
                          "description": "clientSchedule"
                        },
                        "clients": {
                          "type": "array",
                          "items": {},
                          "description": "clients"
                        },
                        "code": {
                          "type": "string",
                          "description": "code"
                        },
                        "costCenter": {
                          "type": "string",
                          "description": "costCenter"
                        },
                        "costType": {
                          "type": "string",
                          "description": "costType"
                        },
                        "customFields": {
                          "type": "array",
                          "items": {},
                          "description": "customFields"
                        },
                        "defaultBillingCurrency": {
                          "type": "object",
                          "properties": {
                            "displayText": {
                              "type": "string",
                              "description": "displayText"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "symbol": {
                              "type": "string",
                              "description": "symbol"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            }
                          },
                          "description": "default billing currency"
                        },
                        "departmentGroup": {
                          "type": "string",
                          "description": "department group"
                        },
                        "description": {
                          "type": "string",
                          "description": "description"
                        },
                        "displayText": {
                          "type": "string",
                          "description": "displayText"
                        },
                        "division": {
                          "type": "string",
                          "description": "division"
                        },
                        "employeeTypeGroup": {
                          "type": "string",
                          "description": "employee type group"
                        },
                        "estimatedCost": {
                          "type": "string",
                          "description": "estimated cost"
                        },
                        "estimatedExpenses": {
                          "type": "string",
                          "description": "estimated expenses"
                        },
                        "estimatedHours": {
                          "type": "string",
                          "description": "estimated hours"
                        },
                        "estimationMode": {
                          "type": "object",
                          "properties": {
                            "displayText": {
                              "type": "string",
                              "description": "estimation mode display text"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            }
                          },
                          "description": "estimation mode"
                        },
                        "extensionFieldValues": {
                          "type": "array",
                          "items": {},
                          "description": "extension field values"
                        },
                        "isProjectLeaderApprovalRequired": {
                          "type": "boolean",
                          "description": "is project leader approval required for the project"
                        },
                        "isTimeEntryAllowed": {
                          "type": "boolean",
                          "description": "is time entry allowed for the project"
                        },
                        "keyValues": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "keyUri": {
                                "type": "string",
                                "description": "key uri"
                              },
                              "value": {
                                "type": "object",
                                "properties": {
                                  "collection": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "text": {
                                          "type": "string",
                                          "description": "text"
                                        },
                                        "uri": {
                                          "type": "string",
                                          "description": "uri"
                                        }
                                      }
                                    },
                                    "description": "collection"
                                  },
                                  "uri": {
                                    "type": "string",
                                    "description": "uri"
                                  }
                                },
                                "description": "value"
                              }
                            }
                          },
                          "description": "key values"
                        },
                        "location": {
                          "type": "string",
                          "description": "location"
                        },
                        "name": {
                          "type": "string",
                          "description": "name"
                        },
                        "percentCompleted": {
                          "type": "integer",
                          "format": "int32",
                          "description": "percent completed"
                        },
                        "program": {
                          "type": "string",
                          "description": "program"
                        },
                        "projectLeader": {
                          "type": "string",
                          "description": "project leader"
                        },
                        "serviceCenter": {
                          "type": "string",
                          "description": "serviceCenter"
                        },
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "status": {
                          "type": "object",
                          "properties": {
                            "displayText": {
                              "type": "string",
                              "description": "displayText"
                            },
                            "name": {
                              "type": "string",
                              "description": "name"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            }
                          },
                          "description": "status"
                        },
                        "timeAndExpenseEntryType": {
                          "type": "object",
                          "properties": {
                            "displayText": {
                              "type": "string",
                              "description": "displayText"
                            },
                            "uri": {
                              "type": "string",
                              "description": "uri"
                            }
                          },
                          "description": "time and expense entry type"
                        },
                        "timeAndMaterials": {
                          "type": "object",
                          "properties": {
                            "billingRateFrequency": {
                              "type": "object",
                              "properties": {
                                "displayText": {
                                  "type": "string",
                                  "description": "displayText"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "name"
                                },
                                "uri": {
                                  "type": "string",
                                  "description": "uri"
                                }
                              },
                              "description": "billing rate frequency"
                            },
                            "billingRateFrequencyDuration": {
                              "type": "string",
                              "description": "billing rate frequency duration"
                            }
                          },
                          "description": "time and materials"
                        },
                        "timeEntryDateRange": {
                          "type": "object",
                          "properties": {
                            "endDate": {
                              "$ref": "#/definitions/Date",
                              "description": "end date"
                            },
                            "startDate": {
                              "$ref": "#/definitions/Date",                              
                              "description": "start date"
                            }
                          },
                          "description": "time entry date range"
                        },
                        "totalEstimatedContract": {
                          "type": "object",
                          "properties": {
                            "amount": {
                              "type": "integer",
                              "format": "int32",
                              "description": "amount"
                            },
                            "currency": {
                              "type": "object",
                              "properties": {
                                "displayText": {
                                  "type": "string",
                                  "description": "displayText"
                                },
                                "name": {
                                  "type": "string",
                                  "description": "name"
                                },
                                "symbol": {
                                  "type": "string",
                                  "description": "symbol"
                                },
                                "uri": {
                                  "type": "string",
                                  "description": "uri"
                                }
                              },
                              "description": "currency"
                            }
                          },
                          "description": "total estimated contract"
                        },
                        "uri": {
                          "type": "string",
                          "description": "uri"
                        }
                      }
                    }
                  }
                },
                "description": "project details"
              }
            }
          },
          "description": "d"
        }
      }
    }, 
    "CreateProjectOrApplyModificationsResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "description": "code"
            },
            "displayText": {
              "type": "string",
              "description": "displayText"
            },
            "name": {
              "type": "string",
              "description": "name"
            },
            "slug": {
              "type": "string",
              "description": "slug"
            },
            "uri": {
              "type": "string",
              "description": "uri"
            }
          },
          "description": "d"
        }
      }
    },
    "CreateTaskHierarchyOrApplyModificationsResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "error": {
                "type": "object",
                "description": "error"
              },
              "parameterCorrelationId": {
                "type": "string",
                "description": "parameterCorrelationId"
              },
              "task": {
                "type": "object",
                "properties": {
                  "displayText": {
                    "type": "string",
                    "description": "displayText"
                  },
                  "parameterCorrelationId": {
                    "type": "string",
                    "description": "parameterCorrelationId"
                  },
                  "uri": {
                    "type": "string",
                    "description": "uri"
                  }
                },
                "description": "task"
              }
            }
          },
          "description": "d"
        }
      }
    },
    "UserListServiceGetDataResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "object",
          "properties": {
            "header": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "displayName"
                  },
                  "uri": {
                    "type": "string",
                    "description": "uri"
                  }
                }
              },
              "description": "header"
            },
            "rows": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "cells": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "dataType": {
                          "type": "string",
                          "description": "dataType"
                        },
                        "objectType": {
                          "type": "string",
                          "description": "objectType"
                        },
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "textValue": {
                          "type": "string",
                          "description": "textValue"
                        },
                        "uri": {
                          "type": "string",
                          "description": "uri"
                        }
                      }
                    },
                    "description": "cells"
                  }
                }
              },
              "description": "rows"
            }
          },
          "description": "d"
        }
      }
    },
    "TaskListServiceGetDataResponse": {
      "type": "object",
      "properties": {
        "d": {
          "type": "object",
          "properties": {
            "header": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": "string",
                    "description": "displayName"
                  },
                  "uri": {
                    "type": "string",
                    "description": "uri"
                  }
                }
              },
              "description": "header"
            },
            "rows": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "cells": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "dataType": {
                          "type": "string",
                          "description": "dataType"
                        },
                        "objectType": {
                          "type": "string",
                          "description": "objectType"
                        },
                        "slug": {
                          "type": "string",
                          "description": "slug"
                        },
                        "textValue": {
                          "type": "string",
                          "description": "text value"
                        },
                        "uri": {
                          "type": "string",
                          "description": "uri"
                        },
                        "cellCollection": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "dataType": {
                                "type": "string",
                                "description": "data type"
                              },
                              "objectType": {
                                "type": "string",
                                "description": "object type"
                              },
                              "slug": {
                                "type": "string",
                                "description": "slug"
                              },
                              "textValue": {
                                "type": "string",
                                "description": "text value"
                              },
                              "uri": {
                                "type": "string",
                                "description": "uri"
                              }
                            }
                          },
                          "description": "cell collection"
                        }
                      }
                    },
                    "description": "cells"
                  }
                }
              },
              "description": "rows"
            }
          },
          "description": "d"
        }
      }
    },
    "Date": {
      "type": "object",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "day"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "month"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "year"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://global-so.replicon.com/!/oauth2/authorize",
      "tokenUrl": "https://global-so.replicon.com/!/oauth2/token",
      "scopes": {
        "api": "API"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "API"
      ]
    }
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.replicon.com/polaris-psa"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.replicon.com/terms-and-conditions/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Intelligence; Finance"
    }

  ],
  "tags": []
}