{
  "swagger": "2.0",
  "info": {
    "title": "Staffbase",
    "description": "This connector provides access to your Staffbase instance",
    "version": "1.0",
    "contact": {
      "name": "Staffbase Support",
      "url": "https://www.staffbase.com",
      "email": "support@staffbase.com"
    }
  },
  "host": "powerautomateproxy-main-de1.staffbase.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/channels": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "config": {
                        "type": "object",
                        "properties": {
                          "localization": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "title": {
                                  "type": "string",
                                  "description": "title"
                                },
                                "locale": {
                                  "type": "string",
                                  "description": "locale"
                                }
                              }
                            },
                            "description": "localization"
                          }
                        },
                        "description": "config"
                      },
                      "spaceID": {
                        "type": "string",
                        "description": "spaceID"
                      },
                      "created": {
                        "type": "string",
                        "description": "created"
                      },
                      "published": {
                        "type": "string",
                        "description": "published"
                      },
                      "updated": {
                        "type": "string",
                        "description": "updated"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "summary": "Channels: Get a list of news channels",
        "description": "Get a list of news channels",
        "operationId": "Channels_get_list",
        "parameters": []
      }
    },
    "/channels/{channelID}/posts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "authorID": {
                        "type": "string",
                        "description": "authorID"
                      },
                      "branchID": {
                        "type": "string",
                        "description": "branchID"
                      },
                      "companyID": {
                        "type": "string",
                        "description": "companyID"
                      },
                      "channelID": {
                        "type": "string",
                        "description": "channelID"
                      },
                      "contents": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "content"
                            },
                            "image": {
                              "type": "object",
                              "properties": {
                                "original": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "Image original",
                                      "title": "url"
                                    },
                                    "width": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image original",
                                      "title": "width"
                                    },
                                    "height": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image original",
                                      "title": "height"
                                    },
                                    "size": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image original",
                                      "title": "size"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "Image original",
                                      "title": "format"
                                    },
                                    "mimeType": {
                                      "type": "string",
                                      "description": "Image original",
                                      "title": "mimeType"
                                    }
                                  },
                                  "description": "Original"
                                },
                                "original_scaled": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "Image original_scaled",
                                      "title": "url"
                                    },
                                    "width": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image original_scaled",
                                      "title": "width"
                                    },
                                    "height": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image original_scaled",
                                      "title": "height"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "Image original_scaled",
                                      "title": "format"
                                    },
                                    "mimeType": {
                                      "type": "string",
                                      "description": "Image original_scaled",
                                      "title": "mimeType"
                                    }
                                  },
                                  "description": "original_scaled"
                                },
                                "compact": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "Image compact",
                                      "title": "url"
                                    },
                                    "width": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image compact",
                                      "title": "width"
                                    },
                                    "height": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image compact",
                                      "title": "height"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "Image compact",
                                      "title": "format"
                                    },
                                    "mimeType": {
                                      "type": "string",
                                      "description": "Image compact",
                                      "title": "mimeType"
                                    }
                                  },
                                  "description": "compact"
                                },
                                "publicID": {
                                  "type": "string",
                                  "description": "Image",
                                  "title": "publicID"
                                }
                              },
                              "description": "Image"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "feedImage": {
                              "type": "string",
                              "description": "feedImage"
                            },
                            "mediaRefs": {
                              "type": "array",
                              "items": {},
                              "description": "mediaRefs"
                            },
                            "locale": {
                              "type": "string",
                              "description": "locale"
                            }
                          }
                        },
                        "description": "contents"
                      },
                      "author": {
                        "type": "object",
                        "properties": {
                          "branchID": {
                            "type": "string",
                            "description": "branchID"
                          },
                          "branchRole": {
                            "type": "string",
                            "description": "branchRole"
                          },
                          "companyID": {
                            "type": "string",
                            "description": "companyID"
                          },
                          "companyRole": {
                            "type": "string",
                            "description": "companyRole"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "description": "value"
                                },
                                "primary": {
                                  "type": "boolean",
                                  "description": "primary"
                                },
                                "providerID": {
                                  "type": "string",
                                  "description": "providerID"
                                }
                              }
                            },
                            "description": "emails"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "location": {
                            "type": "string",
                            "description": "location"
                          }
                        },
                        "description": "author"
                      },
                      "channel": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "config": {
                            "type": "object",
                            "properties": {
                              "localization": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "title": {
                                      "type": "string",
                                      "description": "title"
                                    },
                                    "locale": {
                                      "type": "string",
                                      "description": "locale"
                                    }
                                  }
                                },
                                "description": "localization"
                              }
                            },
                            "description": "config"
                          }
                        },
                        "description": "channel"
                      },
                      "published": {
                        "type": "string",
                        "description": "published"
                      },
                      "created": {
                        "type": "string",
                        "description": "created"
                      },
                      "updated": {
                        "type": "string",
                        "description": "updated"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "operationId": "Channels_get_posts",
        "summary": "Channels: Get a list of posts within the specified channel",
        "description": "Get a list of posts within the specified channel",
        "parameters": [
          {
            "name": "channelID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Insert channel ID, e.g. retrieved by getChannels",
            "x-ms-summary": "ChannelID"
          }
        ],
        "x-ms-visibility": "important"
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "consumes": [
          "application/json"
        ],
        "summary": "Channels: Send a post to specific channel",
        "description": "Send a post to specific news channel",
        "operationId": "Channels_post_post",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "channelID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "ChannelID",
            "description": "Insert channel ID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "externalID": {
                  "type": "string",
                  "description": "Optional: Enter a external ID here",
                  "title": "ExternalID"
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "locale": {
                        "type": "string",
                        "description": "Insert locale like, e.g. de_DE, en_US, etc.",
                        "title": "Locale"
                      },
                      "content": {
                        "type": "string",
                        "description": "Enter news content here",
                        "title": "Content"
                      },
                      "image": {
                        "type": "object",
                        "properties": {},
                        "description": "image"
                      },
                      "teaser": {
                        "type": "string",
                        "description": "Enter your teaser here",
                        "title": "Teaser"
                      },
                      "title": {
                        "type": "string",
                        "description": "Enter your title here",
                        "title": "Title"
                      },
                      "published": {
                        "type": "string",
                        "description": "Enter your date published  here",
                        "title": "Published"
                      }
                    }
                  },
                  "description": "contents"
                }
              }
            }
          }
        ]
      }
    },
    "/comments": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "offset"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "",
                        "title": "id"
                      },
                      "installationID": {
                        "type": "string",
                        "description": "",
                        "title": "installationID"
                      },
                      "parentID": {
                        "type": "string",
                        "description": "",
                        "title": "parentID"
                      },
                      "parentType": {
                        "type": "string",
                        "description": "",
                        "title": "parentType"
                      },
                      "authorID": {
                        "type": "string",
                        "description": "",
                        "title": "authorID"
                      },
                      "text": {
                        "type": "string",
                        "description": "",
                        "title": "text"
                      },
                      "author": {
                        "type": "object",
                        "properties": {
                          "avatar": {
                            "type": "object",
                            "properties": {
                              "original": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "description": "Author avatar image original",
                                    "title": "url"
                                  },
                                  "width": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Author avatar image original",
                                    "title": "width"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Author avatar image original",
                                    "title": "height",
                                    "x-ms-visibility": "important"
                                  },
                                  "size": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Author avatar image original",
                                    "title": "size"
                                  },
                                  "format": {
                                    "type": "string",
                                    "description": "Author avatar original",
                                    "title": "format"
                                  },
                                  "mimeType": {
                                    "type": "string",
                                    "description": "Author avatar image original",
                                    "title": "mimeType"
                                  },
                                  "created": {
                                    "type": "string",
                                    "description": "Author avatar original",
                                    "title": "created"
                                  }
                                },
                                "description": "Original"
                              },
                              "icon": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "description": "Author avatar icon",
                                    "title": "url"
                                  },
                                  "width": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Author avatar icon",
                                    "title": "width"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Author avatar icon",
                                    "title": "height"
                                  },
                                  "format": {
                                    "type": "string",
                                    "description": "Author avatar icon",
                                    "title": "format"
                                  },
                                  "mimeType": {
                                    "type": "string",
                                    "description": "Author avatar icon",
                                    "title": "mimeType"
                                  }
                                },
                                "description": "Icon"
                              },
                              "thumb": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "description": "Author avatar thumb",
                                    "title": "url"
                                  },
                                  "width": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Author avatar thumb",
                                    "title": "width"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Author avatar thumb",
                                    "title": "height"
                                  },
                                  "format": {
                                    "type": "string",
                                    "description": "Author avatar thumb",
                                    "title": "format"
                                  },
                                  "mimeType": {
                                    "type": "string",
                                    "description": "Author avatar thumb",
                                    "title": "mimeType"
                                  }
                                },
                                "description": "thumb"
                              },
                              "publicID": {
                                "type": "string",
                                "description": "Author avatar",
                                "title": "publicID"
                              }
                            },
                            "description": "avatar"
                          },
                          "customServiceConfig": {
                            "type": "string",
                            "description": "Author",
                            "title": "customServiceConfig"
                          },
                          "entityType": {
                            "type": "string",
                            "description": "Author",
                            "title": "entityType"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Author",
                            "title": "firstName"
                          },
                          "id": {
                            "type": "string",
                            "description": "Author",
                            "title": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Author",
                            "title": "lastName"
                          }
                        },
                        "description": "Author"
                      },
                      "likes": {
                        "type": "object",
                        "properties": {
                          "total": {
                            "type": "integer",
                            "format": "int32",
                            "description": "Likes",
                            "title": "total"
                          },
                          "isLiked": {
                            "type": "string",
                            "description": "Likes",
                            "title": "isLiked",
                            "enum": [
                              "",
                              "true",
                              "false"
                            ]
                          }
                        },
                        "description": "likes"
                      },
                      "entityType": {
                        "type": "string",
                        "description": "",
                        "title": "entityType"
                      },
                      "created": {
                        "type": "string",
                        "description": "",
                        "title": "created"
                      },
                      "updated": {
                        "type": "string",
                        "description": "",
                        "title": "updated"
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "original": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Image original",
                                "title": "url"
                              },
                              "width": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Image original",
                                "title": "width"
                              },
                              "height": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Image original",
                                "title": "height"
                              },
                              "size": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Image original",
                                "title": "size"
                              },
                              "format": {
                                "type": "string",
                                "description": "Image original",
                                "title": "format"
                              },
                              "mimeType": {
                                "type": "string",
                                "description": "Image original",
                                "title": "mimeType"
                              }
                            },
                            "description": "Original"
                          },
                          "original_scaled": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Image original_scaled",
                                "title": "url"
                              },
                              "width": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Image original_scaled",
                                "title": "width"
                              },
                              "height": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Image original_scaled",
                                "title": "height"
                              },
                              "format": {
                                "type": "string",
                                "description": "Image original_scaled",
                                "title": "format"
                              },
                              "mimeType": {
                                "type": "string",
                                "description": "Image original_scaled",
                                "title": "mimeType"
                              }
                            },
                            "description": "original_scaled"
                          },
                          "compact": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Image compact",
                                "title": "url"
                              },
                              "width": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Image compact",
                                "title": "width"
                              },
                              "height": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Image compact",
                                "title": "height"
                              },
                              "format": {
                                "type": "string",
                                "description": "Image compact",
                                "title": "format"
                              },
                              "mimeType": {
                                "type": "string",
                                "description": "Image compact",
                                "title": "mimeType"
                              }
                            },
                            "description": "compact"
                          },
                          "publicID": {
                            "type": "string",
                            "description": "Image",
                            "title": "publicID"
                          }
                        },
                        "description": "Image"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Posts: Get comments",
        "description": "Get a list of comments",
        "operationId": "Comments_get",
        "parameters": [
          {
            "name": "manage",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "When true and the token role allows manage comments - also not published comments will be shown in the list.",
            "x-ms-summary": "Manage"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The amount of items that should be returned (default and maximum 100)",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Define an offset for getting the items starting at this number.",
            "x-ms-summary": "Offset"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Filter in SCIM2 format with partial support. For now only flat structure (no nested clauses) and comparison clauses like eq = \"equals\", gt = \"greater than\", ge = \"greater than or equals\", lt = \"less than\", le = \"less than or equals\" are supported.  For comments supported filter fields are: created and updated. The value for these fields can be provided in UTC DateTime string representatiion or long number of milliseconds of Unix epoch.  Example 1: filter=updated ge \"2020-11-26T10:14:48.947Z\" and updated le \"2020-11-26T10:14:48.947Z\". In this example the DateTime range filter is applied to updated field with ge and le comparison clauses and and boolean clause.  Example 2: filter=created gt \"2020-11-26T10:14:48.947Z\". Get all comments, created after pointed date.",
            "x-ms-summary": "Filter"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/media": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "",
                  "title": "offset"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "",
                        "title": "id"
                      },
                      "ownerID": {
                        "type": "string",
                        "description": "",
                        "title": "ownerID"
                      },
                      "ownerType": {
                        "type": "string",
                        "description": "",
                        "title": "ownerType"
                      },
                      "parentID": {
                        "type": "string",
                        "description": "",
                        "title": "parentID"
                      },
                      "publicID": {
                        "type": "string",
                        "description": "",
                        "title": "publicID"
                      },
                      "resourceInfo": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "ResourceInfo",
                            "title": "type"
                          },
                          "bytes": {
                            "type": "integer",
                            "format": "int32",
                            "description": "ResourceInfo",
                            "title": "bytes"
                          },
                          "width": {
                            "type": "integer",
                            "format": "int32",
                            "description": "ResourceInfo",
                            "title": "width"
                          },
                          "height": {
                            "type": "integer",
                            "format": "int32",
                            "description": "ResourceInfo",
                            "title": "height"
                          },
                          "url": {
                            "type": "string",
                            "description": "ResourceInfo",
                            "title": "url"
                          },
                          "format": {
                            "type": "string",
                            "description": "ResourceInfo",
                            "title": "format"
                          },
                          "mimeType": {
                            "type": "string",
                            "description": "ResourceInfo",
                            "title": "mimeType"
                          }
                        },
                        "description": "ResourceInfo"
                      },
                      "transformations": {
                        "type": "object",
                        "properties": {
                          "t_preview": {
                            "type": "object",
                            "properties": {
                              "transformationString": {
                                "type": "string",
                                "description": "Transformations t_preview",
                                "title": "transformationString"
                              },
                              "status": {
                                "type": "string",
                                "description": "Transformations t_preview",
                                "title": "status"
                              },
                              "resourceInfo": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "Transformations t_preview resourceInfo",
                                    "title": "type"
                                  },
                                  "bytes": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Transformations t_preview resourceInfo",
                                    "title": "bytes"
                                  },
                                  "width": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Transformations t_preview resourceInfo",
                                    "title": "width"
                                  },
                                  "height": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Transformations t_preview resourceInfo",
                                    "title": "height"
                                  },
                                  "url": {
                                    "type": "string",
                                    "description": "Transformations t_preview resourceInfo",
                                    "title": "url"
                                  },
                                  "format": {
                                    "type": "string",
                                    "description": "Transformations t_preview resourceInfo",
                                    "title": "format"
                                  },
                                  "mimeType": {
                                    "type": "string",
                                    "description": "Transformations t_preview resourceInfo",
                                    "title": "mimeType"
                                  }
                                },
                                "description": "ResourceInfo"
                              }
                            },
                            "description": "T_preview"
                          }
                        },
                        "description": "Transformations"
                      },
                      "fileName": {
                        "type": "string",
                        "description": "",
                        "title": "fileName"
                      },
                      "references": {
                        "type": "integer",
                        "format": "int32",
                        "description": "",
                        "title": "references"
                      },
                      "title": {
                        "type": "string",
                        "description": "",
                        "title": "title"
                      },
                      "label": {
                        "type": "string",
                        "description": "",
                        "title": "label"
                      },
                      "entityType": {
                        "type": "string",
                        "description": "",
                        "title": "entityType"
                      },
                      "created": {
                        "type": "string",
                        "description": "",
                        "title": "created"
                      }
                    }
                  },
                  "description": "Data"
                }
              }
            }
          }
        },
        "summary": "Media: Get all media",
        "description": "Get metadata of all media that are accessible for the API token",
        "operationId": "Media_get",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 100,
            "description": "Limit number of items",
            "x-ms-visibility": "important",
            "format": "int32",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "default": 0,
            "description": "Offset for query",
            "x-ms-visibility": "important",
            "format": "int32",
            "x-ms-summary": "Offset"
          }
        ]
      }
    },
    "/media/{mediumID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "",
                  "title": "id"
                },
                "ownerID": {
                  "type": "string",
                  "description": "",
                  "title": "ownerID"
                },
                "ownerType": {
                  "type": "string",
                  "description": "",
                  "title": "ownerType"
                },
                "parentID": {
                  "type": "string",
                  "description": "",
                  "title": "parentID"
                },
                "publicID": {
                  "type": "string",
                  "description": "",
                  "title": "publicID"
                },
                "resourceInfo": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "ResourceInfo",
                      "title": "type"
                    },
                    "bytes": {
                      "type": "integer",
                      "format": "int32",
                      "description": "ResourceInfo",
                      "title": "bytes"
                    },
                    "url": {
                      "type": "string",
                      "description": "ResourceInfo",
                      "title": "url"
                    },
                    "format": {
                      "type": "string",
                      "description": "ResourceInfo",
                      "title": "format"
                    },
                    "mimeType": {
                      "type": "string",
                      "description": "ResourceInfo",
                      "title": "mimeType"
                    }
                  },
                  "description": "ResourceInfo"
                },
                "fileName": {
                  "type": "string",
                  "description": "",
                  "title": "fileName"
                },
                "title": {
                  "type": "string",
                  "description": "",
                  "title": "title"
                },
                "label": {
                  "type": "string",
                  "description": "",
                  "title": "label"
                },
                "entityType": {
                  "type": "string",
                  "description": "",
                  "title": "entityType"
                },
                "created": {
                  "type": "string",
                  "description": "",
                  "title": "created"
                }
              }
            }
          }
        },
        "summary": "Media: Get media by ID",
        "operationId": "Media_get_byID",
        "description": "Get metadata for single media by its ID",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "mediumID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "Requests information on a specific medium.",
            "x-ms-summary": "MediumID"
          }
        ]
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "Media_delete",
        "summary": "Media: Delete media",
        "description": "Deletes the specified media in the current context",
        "parameters": [
          {
            "name": "mediumID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "MediumID",
            "description": "Deletes the medium by its ID. While this will immediately remove the resource from our servers, the CDN may still deliver the content via the URL stated in resourceInfo.url until CDN invalidation."
          }
        ],
        "x-ms-visibility": "advanced"
      }
    },
    "/notifications": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID"
                },
                "recipients": {
                  "type": "object",
                  "properties": {
                    "accessorIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "AccessorIds"
                    }
                  },
                  "description": "Recipients"
                },
                "content": {
                  "type": "object",
                  "properties": {
                    "en_US": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "description": "Title"
                        }
                      },
                      "description": "en_US"
                    }
                  },
                  "description": "Content"
                },
                "link": {
                  "type": "string",
                  "description": "Link"
                },
                "type": {
                  "type": "string",
                  "description": "Type"
                },
                "reference": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ID"
                    },
                    "entityType": {
                      "type": "string",
                      "description": "EntityType"
                    }
                  },
                  "description": "Reference"
                },
                "channels": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Channels"
                },
                "createdAt": {
                  "type": "string",
                  "description": "CreatedAt"
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "Notification_post",
        "x-ms-visibility": "important",
        "summary": "Notification: Sends notification",
        "description": "Sends notifications to specified user(s)",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "recipients": {
                  "type": "object",
                  "properties": {
                    "accessorIds": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Recipients ID",
                        "title": "Recipients"
                      },
                      "description": "accessorIds"
                    }
                  },
                  "description": "recipients"
                },
                "content": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "locale": {
                        "type": "string",
                        "description": "Insert locale like, e.g. de_DE, en_US, etc.",
                        "title": "Locale"
                      },
                      "title": {
                        "type": "string",
                        "description": "Insert language dependent title",
                        "title": "Title"
                      }
                    }
                  },
                  "description": "content"
                },
                "link": {
                  "type": "string",
                  "description": "https://...",
                  "title": "Link"
                }
              }
            }
          }
        ]
      }
    },
    "/posts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total"
                },
                "limit": {
                  "type": "integer",
                  "format": "int32",
                  "description": "limit"
                },
                "offset": {
                  "type": "integer",
                  "format": "int32",
                  "description": "offset"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "id"
                      },
                      "authorID": {
                        "type": "string",
                        "description": "authorID"
                      },
                      "branchID": {
                        "type": "string",
                        "description": "branchID"
                      },
                      "companyID": {
                        "type": "string",
                        "description": "companyID"
                      },
                      "channelID": {
                        "type": "string",
                        "description": "channelID"
                      },
                      "contents": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "content": {
                              "type": "string",
                              "description": "content"
                            },
                            "teaser": {
                              "type": "string",
                              "description": "content"
                            },
                            "image": {
                              "type": "object",
                              "properties": {
                                "original": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "Image original",
                                      "title": "url"
                                    },
                                    "width": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image original",
                                      "title": "width"
                                    },
                                    "height": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image original",
                                      "title": "height"
                                    },
                                    "size": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image original",
                                      "title": "size"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "Image original",
                                      "title": "format"
                                    },
                                    "mimeType": {
                                      "type": "string",
                                      "description": "Image original",
                                      "title": "mimeType"
                                    }
                                  },
                                  "description": "Original"
                                },
                                "original_scaled": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "Image original_scaled",
                                      "title": "url"
                                    },
                                    "width": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image original_scaled",
                                      "title": "width"
                                    },
                                    "height": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image original_scaled",
                                      "title": "height"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "Image original_scaled",
                                      "title": "format"
                                    },
                                    "mimeType": {
                                      "type": "string",
                                      "description": "Image original_scaled",
                                      "title": "mimeType"
                                    }
                                  },
                                  "description": "original_scaled"
                                },
                                "compact": {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string",
                                      "description": "Image compact",
                                      "title": "url"
                                    },
                                    "width": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image compact",
                                      "title": "width"
                                    },
                                    "height": {
                                      "type": "integer",
                                      "format": "int32",
                                      "description": "Image compact",
                                      "title": "height"
                                    },
                                    "format": {
                                      "type": "string",
                                      "description": "Image compact",
                                      "title": "format"
                                    },
                                    "mimeType": {
                                      "type": "string",
                                      "description": "Image compact",
                                      "title": "mimeType"
                                    }
                                  },
                                  "description": "compact"
                                },
                                "publicID": {
                                  "type": "string",
                                  "description": "Image",
                                  "title": "publicID"
                                }
                              },
                              "description": "Image"
                            },
                            "title": {
                              "type": "string",
                              "description": "title"
                            },
                            "feedImage": {
                              "type": "string",
                              "description": "feedImage"
                            },
                            "mediaRefs": {
                              "type": "array",
                              "items": {},
                              "description": "mediaRefs"
                            },
                            "locale": {
                              "type": "string",
                              "description": "locale"
                            }
                          }
                        },
                        "description": "contents"
                      },
                      "author": {
                        "type": "object",
                        "properties": {
                          "branchID": {
                            "type": "string",
                            "description": "branchID"
                          },
                          "branchRole": {
                            "type": "string",
                            "description": "branchRole"
                          },
                          "companyID": {
                            "type": "string",
                            "description": "companyID"
                          },
                          "companyRole": {
                            "type": "string",
                            "description": "companyRole"
                          },
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "value": {
                                  "type": "string",
                                  "description": "value"
                                },
                                "primary": {
                                  "type": "boolean",
                                  "description": "primary"
                                },
                                "providerID": {
                                  "type": "string",
                                  "description": "providerID"
                                }
                              }
                            },
                            "description": "emails"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "firstName"
                          },
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "lastName"
                          },
                          "location": {
                            "type": "string",
                            "description": "location"
                          }
                        },
                        "description": "author"
                      },
                      "channel": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id"
                          },
                          "config": {
                            "type": "object",
                            "properties": {
                              "localization": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "title": {
                                      "type": "string",
                                      "description": "title"
                                    },
                                    "locale": {
                                      "type": "string",
                                      "description": "locale"
                                    }
                                  }
                                },
                                "description": "localization"
                              }
                            },
                            "description": "config"
                          }
                        },
                        "description": "channel"
                      },
                      "published": {
                        "type": "string",
                        "description": "published"
                      },
                      "created": {
                        "type": "string",
                        "description": "created"
                      },
                      "updated": {
                        "type": "string",
                        "description": "updated"
                      }
                    }
                  },
                  "description": "data"
                }
              }
            }
          }
        },
        "operationId": "Posts_get_all",
        "summary": "Posts: Get a list of posts",
        "description": "Get a list of posts that are accessible for the API token",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A string that is used for searching in any profile field available for users, such as firstname, lastname, or location.",
            "x-ms-summary": "Query"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The amount of items that should be returned (default and maximum 100)",
            "x-ms-summary": "Limit"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "Define an offset for getting the items starting at this number.",
            "x-ms-summary": "Offset"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/posts/{pageID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "",
                  "title": "id"
                },
                "branchID": {
                  "type": "string",
                  "description": "",
                  "title": "branchID"
                },
                "companyID": {
                  "type": "string",
                  "description": "",
                  "title": "companyID"
                },
                "channelID": {
                  "type": "string",
                  "description": "",
                  "title": "channelID"
                },
                "authorID": {
                  "type": "string",
                  "description": "",
                  "title": "authorID"
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "Contents",
                        "title": "content"
                      },
                      "image": {
                        "type": "object",
                        "properties": {
                          "original": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string",
                                "description": "Contents image original",
                                "title": "url"
                              },
                              "width": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Contents image original",
                                "title": "width"
                              },
                              "height": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Contents image original",
                                "title": "height"
                              },
                              "size": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Contents image original",
                                "title": "size"
                              },
                              "format": {
                                "type": "string",
                                "description": "Contents image original",
                                "title": "format"
                              },
                              "mimeType": {
                                "type": "string",
                                "description": "Contents image original",
                                "title": "mimeType"
                              },
                              "created": {
                                "type": "string",
                                "description": "Contents image original",
                                "title": "created"
                              }
                            },
                            "description": "original"
                          }
                        },
                        "description": "image"
                      },
                      "teaser": {
                        "type": "string",
                        "description": "Contents",
                        "title": "teaser"
                      },
                      "title": {
                        "type": "string",
                        "description": "Contents",
                        "title": "title"
                      },
                      "feedImage": {
                        "type": "string",
                        "description": "Contents",
                        "title": "feedImage"
                      },
                      "mediaRefs": {
                        "type": "array",
                        "items": {},
                        "description": "mediaRefs"
                      },
                      "locale": {
                        "type": "string",
                        "description": "Contents",
                        "title": "locale"
                      }
                    }
                  },
                  "description": "contents"
                },
                "channel": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Channel",
                      "title": "id"
                    },
                    "pluginID": {
                      "type": "string",
                      "description": "Channel",
                      "title": "pluginID"
                    },
                    "config": {
                      "type": "object",
                      "properties": {
                        "localization": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Channel config localization",
                                "title": "title"
                              },
                              "locale": {
                                "type": "string",
                                "description": "Channel config localization",
                                "title": "locale"
                              }
                            }
                          },
                          "description": "localization"
                        }
                      },
                      "description": "config"
                    }
                  },
                  "description": "channel"
                },
                "published": {
                  "type": "string",
                  "description": "",
                  "title": "published"
                },
                "entityType": {
                  "type": "string",
                  "description": "",
                  "title": "entityType"
                },
                "created": {
                  "type": "string",
                  "description": "",
                  "title": "created"
                },
                "updated": {
                  "type": "string",
                  "description": "",
                  "title": "updated"
                }
              }
            }
          }
        },
        "summary": "Posts: Get a post by ID",
        "description": "Requests the specified posts including a set of comments",
        "operationId": "Posts_get_byID",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "pageID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The Staffbase Page ID",
            "x-ms-visibility": "important",
            "x-ms-summary": "PageID"
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "identifier": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Identifier"
                },
                "statusCode": {
                  "type": "integer",
                  "format": "int32",
                  "description": "StatusCode"
                },
                "message": {
                  "type": "string",
                  "description": "Message"
                },
                "type": {
                  "type": "string",
                  "description": "Type"
                }
              }
            }
          }
        },
        "operationId": "Posts_delete",
        "parameters": [
          {
            "name": "pageID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "This could be either the post\u2019s ID defined by the API or if set the post\u2019s externalID.",
            "x-ms-summary": "PageID"
          }
        ],
        "description": "Removes a post from the system",
        "summary": "Posts: Removes a post",
        "x-ms-visibility": "advanced"
      },
      "put": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "Posts_put",
        "description": "Updates a post, only changed field (incremental)",
        "summary": "Posts: Updates a post",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "pageID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "This could be either the post\u2019s ID defined by the API or if set the post\u2019s externalID.",
            "x-ms-summary": "PageID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "externalID": {
                  "type": "string",
                  "description": "ExternalID",
                  "title": ""
                },
                "contents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "locale": {
                        "type": "string",
                        "description": "Insert locale like, e.g. de_DE, en_US, etc.",
                        "title": "Locale"
                      },
                      "content": {
                        "type": "string",
                        "description": "Enter news content here",
                        "title": "Content"
                      },
                      "image": {
                        "type": "object",
                        "properties": {},
                        "description": "image"
                      },
                      "teaser": {
                        "type": "string",
                        "description": "Enter your teaser here",
                        "title": "Teaser"
                      },
                      "title": {
                        "type": "string",
                        "description": "Enter your title here",
                        "title": "Title"
                      },
                      "published": {
                        "type": "string",
                        "description": "Enter your date published  here",
                        "title": "Published"
                      }
                    }
                  },
                  "description": "contents"
                }
              }
            }
          }
        ]
      }
    },
    "/users": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "User: Get list of users",
        "description": "Get a list of users, depending on the API access token",
        "operationId": "User_get_all",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Content filter",
            "x-ms-summary": "SCIM notation can be used to filter",
            "x-ms-visibility": "important"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Fulltext search in any profile field",
            "x-ms-summary": "The fulltext search can be combined with the filter",
            "x-ms-visibility": "important"
          }
        ]
      },
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {},
            "headers": {
              "HTTP/1.1": {
                "description": "HTTP/1.1",
                "type": "string"
              },
              "Location:": {
                "description": "Location:",
                "type": "string"
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "User_post",
        "summary": "User: Invite user",
        "description": "The user will receive an email to signup",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "description": "email"
                },
                "firstName": {
                  "type": "string",
                  "description": "firstname"
                },
                "lastName": {
                  "type": "string",
                  "description": "lastname"
                }
              }
            }
          }
        ]
      }
    },
    "/users/{userID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "",
                  "title": "id"
                },
                "externalID": {
                  "type": "string",
                  "description": "",
                  "title": "externalID"
                },
                "firstName": {
                  "type": "string",
                  "description": "",
                  "title": "firstName"
                },
                "lastName": {
                  "type": "string",
                  "description": "",
                  "title": "lastName"
                },
                "publicEmailAddress": {
                  "type": "string",
                  "description": "",
                  "title": "publicEmailAddress"
                },
                "config": {
                  "type": "object",
                  "properties": {
                    "locale": {
                      "type": "string",
                      "description": "Config",
                      "title": "locale"
                    }
                  },
                  "description": "config"
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "Emails",
                        "title": "value"
                      },
                      "primary": {
                        "type": "boolean",
                        "description": "Emails",
                        "title": "primary"
                      },
                      "providerID": {
                        "type": "string",
                        "description": "Emails",
                        "title": "providerID"
                      }
                    }
                  },
                  "description": "emails"
                },
                "groupIDs": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "GroupIDs",
                    "title": ""
                  },
                  "description": "groupIDs"
                },
                "mandatoryGroupIDs": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "MandatoryGroupIDs",
                    "title": ""
                  },
                  "description": "mandatoryGroupIDs"
                },
                "position": {
                  "type": "string",
                  "description": "",
                  "title": "position"
                },
                "department": {
                  "type": "string",
                  "description": "",
                  "title": "department"
                },
                "location": {
                  "type": "string",
                  "description": "",
                  "title": "location"
                },
                "phoneNumber": {
                  "type": "string",
                  "description": "",
                  "title": "phoneNumber"
                },
                "status": {
                  "type": "string",
                  "description": "",
                  "title": "status"
                },
                "role": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Role",
                      "title": "type"
                    }
                  },
                  "description": "role"
                },
                "created": {
                  "type": "string",
                  "description": "",
                  "title": "created"
                },
                "updated": {
                  "type": "string",
                  "description": "",
                  "title": "updated"
                },
                "activated": {
                  "type": "string",
                  "description": "",
                  "title": "activated"
                }
              }
            }
          }
        },
        "summary": "User: Get user information",
        "operationId": "User_get_byID",
        "description": "Get specific user information by its user id",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "x-ms-summary": "UserID",
            "description": "The ID can be based on either the UserID automatically generated by the Staffbase platform or the externalID, if it is added for the user."
          }
        ],
        "x-ms-visibility": "important"
      },
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "User: Delete User",
        "operationId": "User_delete",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID can be based on either the UserID automatically generated by the Staffbase platform or the externalID, if it is added for the user.",
            "x-ms-summary": "UserID"
          }
        ],
        "description": "Deletes the speicfied user"
      },
      "put": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID"
                },
                "externalID": {
                  "type": "string",
                  "description": "ExternalID"
                },
                "firstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "lastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "publicEmailAddress": {
                  "type": "string",
                  "description": "publicEmailAddress"
                },
                "config": {
                  "type": "object",
                  "properties": {
                    "locale": {
                      "type": "string",
                      "description": "locale"
                    }
                  },
                  "description": "config"
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "Value"
                      },
                      "primary": {
                        "type": "boolean",
                        "description": "primary"
                      },
                      "providerID": {
                        "type": "string",
                        "description": "providerID"
                      }
                    }
                  },
                  "description": "emails"
                },
                "groupIDs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "groupIDs"
                },
                "mandatoryGroupIDs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "mandatoryGroupIDs"
                },
                "position": {
                  "type": "string",
                  "description": "position"
                },
                "department": {
                  "type": "string",
                  "description": "department"
                },
                "location": {
                  "type": "string",
                  "description": "location"
                },
                "phoneNumber": {
                  "type": "string",
                  "description": "phoneNumber"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "role": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type"
                    }
                  },
                  "description": "role"
                },
                "created": {
                  "type": "string",
                  "description": "Created"
                },
                "updated": {
                  "type": "string",
                  "description": "updated"
                },
                "activated": {
                  "type": "string",
                  "description": "activated"
                }
              }
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "operationId": "User_put",
        "summary": "User: Update user information",
        "x-ms-visibility": "important",
        "description": "Update user information",
        "parameters": [
          {
            "name": "userID",
            "in": "path",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string",
            "description": "The ID can be based on either the UserID automatically generated by the Staffbase platform or the externalID, if it is added for the user.",
            "x-ms-summary": "UserID"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID"
                },
                "externalID": {
                  "type": "string",
                  "description": "ExternalID"
                },
                "firstName": {
                  "type": "string",
                  "description": "FirstName"
                },
                "lastName": {
                  "type": "string",
                  "description": "LastName"
                },
                "publicEmailAddress": {
                  "type": "string",
                  "description": "Public Email Address"
                },
                "config": {
                  "type": "object",
                  "properties": {
                    "locale": {
                      "type": "string",
                      "description": "Locale"
                    }
                  },
                  "description": "config"
                },
                "emails": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "Value"
                      },
                      "primary": {
                        "type": "boolean",
                        "description": "Primary"
                      },
                      "providerID": {
                        "type": "string",
                        "description": "ProviderID"
                      }
                    }
                  },
                  "description": "Emails"
                },
                "groupIDs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "GroupIDs"
                },
                "mandatoryGroupIDs": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "mandatoryGroupIDs"
                },
                "position": {
                  "type": "string",
                  "description": "Position"
                },
                "department": {
                  "type": "string",
                  "description": "Department"
                },
                "location": {
                  "type": "string",
                  "description": "Location"
                },
                "phoneNumber": {
                  "type": "string",
                  "description": "PhoneNumber"
                },
                "status": {
                  "type": "string",
                  "description": "Status"
                },
                "role": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Type"
                    }
                  },
                  "description": "role"
                },
                "created": {
                  "type": "string",
                  "description": "Created"
                },
                "updated": {
                  "type": "string",
                  "description": "Updated"
                },
                "activated": {
                  "type": "string",
                  "description": "activated"
                }
[...]
