{
  "swagger": "2.0",
  "info": {
    "title": "Recorded Future Sandbox",
    "description": "The Recorded Future Sandbox Connector enables security and IT teams to analyze and understand files and URLs, which provides safe and immediate behavioral analysis, helping contextualize key artifacts in an investigation, leading to faster triage. Through this connector, organizations can incorporate the malware analysis sandbox into automated workflows with applications such as Microsoft Defender for Endpoint and Microsoft Sentinel.",
    "contact": {
      "name": "Recorded Future Support",
      "url": "https://support.recordedfuture.com",
      "email": "support@recordedfuture.com"
    },
    "version": "1.0"
  },
  "host": "api.recordedfuture.com",
  "basePath": "/gw/azure-sandbox",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/samples/{sampleID}/overview.json": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "analysis": {
                  "properties": {
                    "score": {
                      "type": "integer",
                      "title": "score_analysis_report"
                    }
                  },
                  "type": "object"
                },
                "html_report": {
                  "type": "string"
                },
                "sample": {
                  "properties": {
                    "completed": {
                      "type": "string",
                      "title": "completed_sample"
                    },
                    "created": {
                      "type": "string",
                      "title": "created_sample"
                    },
                    "id": {
                      "type": "string",
                      "title": "id_sample"
                    },
                    "score": {
                      "type": "integer",
                      "title": "score_sample"
                    },
                    "target": {
                      "type": "string",
                      "title": "target_sample"
                    }
                  },
                  "type": "object"
                },
                "signatures": {
                  "items": {
                    "properties": {
                      "label": {
                        "type": "string",
                        "title": "label_signatures"
                      },
                      "name": {
                        "type": "string",
                        "title": "name_signatures"
                      },
                      "tags": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "ttp": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "targets": {
                  "items": {
                    "properties": {
                      "iocs": {
                        "properties": {
                          "domains": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "ips": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "urls": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "score": {
                        "type": "integer",
                        "title": "score_targets"
                      },
                      "signatures": {
                        "items": {
                          "properties": {
                            "label": {
                              "type": "string",
                              "title": "label_signatures"
                            },
                            "name": {
                              "type": "string",
                              "title": "name_signatures"
                            },
                            "tags": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            },
                            "ttp": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "required": [
                            "name"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "target": {
                        "type": "string",
                        "title": "target_targets"
                      },
                      "tasks": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "iocs",
                      "score",
                      "signatures",
                      "target",
                      "tasks"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "tasks": {
                  "type": "object"
                },
                "version": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get the full report",
        "description": "Get the full report on the submitted sample.",
        "operationId": "GetReport",
        "parameters": [
          {
            "name": "SandboxToken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token to the Sandbox API",
            "x-ms-summary": "Sandbox API token"
          },
          {
            "name": "sampleID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "advanced",
            "x-ms-summary": "Sample ID",
            "description": "ID of the analyzed sample"
          }
        ]
      }
    },
    "/samples/{sampleID}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "title": "id_summary"
                },
                "kind": {
                  "type": "string",
                  "title": "kind_summary"
                },
                "private": {
                  "type": "boolean",
                  "title": "private_summary"
                },
                "status": {
                  "type": "string",
                  "title": "status_summary"
                },
                "submitted": {
                  "type": "string",
                  "title": "submitted_summary"
                },
                "url": {
                  "type": "string",
                  "title": "url_summary"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get the full summary",
        "description": "Get the full summary on the submitted sample.",
        "operationId": "GetSummary",
        "parameters": [
          {
            "name": "SandboxToken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token to the Sandbox API",
            "x-ms-summary": "Sandbox API Token"
          },
          {
            "name": "sampleID",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-visibility": "advanced",
            "description": "ID of the analyzed sample",
            "x-ms-summary": "Sample ID"
          }
        ]
      }
    },
    "/samples/url": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "title": "id_submitted"
                },
                "kind": {
                  "type": "string",
                  "title": "kind_submitted"
                },
                "private": {
                  "type": "boolean",
                  "title": "private_submitted"
                },
                "status": {
                  "type": "string",
                  "title": "status"
                },
                "submitted": {
                  "type": "string",
                  "title": "submitted_time"
                },
                "url": {
                  "type": "string",
                  "title": "url_submitted"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Submit url samples",
        "description": "Submit url samples to Recorded Future Sandbox.",
        "operationId": "SubmitUrlSample",
        "x-ms-visibility": "important",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SandboxToken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token to the Sandbox API",
            "x-ms-summary": "Sandbox API Token"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "url"
                }
              },
              "x-ms-visibility": "important"
            },
            "x-ms-visibility": "important",
            "x-ms-summary": "Body"
          }
        ]
      }
    },
    "/samples/file": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "title": "id_submitted"
                },
                "kind": {
                  "type": "string",
                  "title": "kind_submitted"
                },
                "private": {
                  "type": "boolean",
                  "title": "private_submitted"
                },
                "status": {
                  "type": "string",
                  "title": "status_submitted"
                },
                "submitted": {
                  "type": "string",
                  "title": "submitted_time"
                },
                "url": {
                  "type": "string",
                  "title": "url_submitted"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Submit file samples",
        "description": "Submit file samples to Recorded Future Sandbox.",
        "operationId": "SubmitFileSample",
        "x-ms-visibility": "important",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "SandboxToken",
            "in": "header",
            "required": true,
            "type": "string",
            "description": "Token to the Sandbox API",
            "x-ms-summary": "Sandbox API Token"
          },
          {
            "name": "file",
            "in": "formData",
            "required": true,
            "type": "file",
            "description": "File to submit to the Sandbox",
            "x-ms-summary": "File"
          },
          {
            "name": "password",
            "in": "formData",
            "type": "string",
            "description": "A password that may be used to decrypt the provided file, usually an archive (zip/rar/etc).",
            "x-ms-summary": "Password"
          },
          {
            "name": "user_tags",
            "in": "formData",
            "type": "string",
            "description": "An optional array of user-defined strings that lets the user mark a sample. The resulting tags will be embedded in the reports. The total size cannot exceed 1kB and tags cannot be empty.",
            "x-ms-summary": "User tags"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata":[
    {
      "propertyName":"Website",
      "propertyValue":"https://www.recordedfuture.com"
    },
    {
      "propertyName":"Privacy Policy",
      "propertyValue":"https://www.recordedfuture.com/privacy-policy/"
    },
    {
      "propertyName":"Categories",
      "propertyValue":"AI;Data"
    }
  ],
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-RFToken"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}