{
  "swagger":"2.0",
  "info":{
    "title":"Recorded Future Sandbox",
    "description":"The Recorded Future Sandbox Connector enables security and IT teams to analyze and understand URLs, which provides safe and immediate behavioral analysis of URLs, helping contextualize key artifacts in an investigation, leading to faster triage. Through this connector, organizations can incorporate the malware analysis sandbox into automated workflows with applications such as Microsoft Defender for Endpoint and Microsoft Sentinel.",
    "contact":{
      "name":"Recorded Future Support",
      "url":"https://support.recordedfuture.com",
      "email":"support@recordedfuture.com"
    },
    "version":"1.0"
  },
  "host":"sandbox.recordedfuture.com",
  "basePath":"/api/v0/",
  "schemes":[
    "https"
  ],
  "consumes":[

  ],
  "produces":[

  ],
  "paths":{
    "/samples/":{
      "post":{
        "responses":{
          "default":{
            "description":"default",
            "schema":{
              "properties":{
                "id":{
                  "type":"string",
                  "title":"id_submitted"
                },
                "kind":{
                  "type":"string",
                  "title":"kind_submitted"
                },
                "private":{
                  "type":"boolean",
                  "title":"private_submitted"
                },
                "status":{
                  "type":"string",
                  "title":"status_submitted"
                },
                "submitted":{
                  "type":"string",
                  "title":"submitted_time"
                },
                "url":{
                  "type":"string",
                  "title":"url_submitted"
                }
              },
              "type":"object"
            }
          }
        },
        "summary":"Submit samples",
        "description":"Submit samples to Recorded Future Sandbox.",
        "operationId":"Submit_samples",
        "x-ms-visibility":"important",
        "parameters":[
          {
            "name":"Content-Type",
            "in":"header",
            "required":true,
            "type":"string",
            "default":"application/json",
            "x-ms-visibility":"internal"
          },
          {
            "name":"body",
            "in":"body",
            "required":true,
            "schema":{
              "type":"object",
              "properties":{
                "kind":{
                  "type":"array",
                  "items":{
                    "type":"string",
                    "description":"Kind of submission",
                    "title":"kind",
                    "x-ms-visibility":"important",
                    "enum":[
                      "url",
                      "fetch",
                      "import"
                    ]
                  },
                  "description":"Type of submission",
                  "title":"kind",
                  "x-ms-visibility":"important",
                  "enum":[
                    "url",
                    "fetch",
                    "import"
                  ]
                },
                "url":{
                  "type":"string",
                  "description":"url",
                  "title":"",
                  "x-ms-visibility":"important"
                },
                "target":{
                  "type":"string",
                  "description":"target"
                },
                "interactive":{
                  "type":"boolean",
                  "description":"interactive",
                  "title":"",
                  "enum":[
                    "",
                    true,
                    false
                  ]
                },
                "password":{
                  "type":"string",
                  "description":"password",
                  "title":"password",
                  "x-ms-visibility":"advanced"
                },
                "profiles":{
                  "type":"array",
                  "items":{
                    "type":"object",
                    "properties":{
                      "profile":{
                        "type":"string",
                        "description":"profile",
                        "title":""
                      },
                      "pick":{
                        "type":"string",
                        "description":"pick",
                        "title":""
                      }
                    }
                  },
                  "description":"profiles"
                },
                "user_tags":{
                  "type":"array",
                  "items":{
                    "type":"string",
                    "description":"Experimental: an optional array of user-defined strings that lets the user mark a sample. The resulting tags will be embedded in the reports. The total size cannot exceed 1kB and tags cannot be empty. Example: user_tags [\"id:123789\", \"source:smtp\"]",
                    "title":"user_tags",
                    "x-ms-visibility":"advanced"
                  },
                  "description":"user_tags"
                },
                "defaults":{
                  "type":"object",
                  "properties":{
                    "timeout":{
                      "type":"integer",
                      "format":"int32",
                      "description":"timeout",
                      "title":""
                    },
                    "network":{
                      "type":"array",
                      "items":{
                        "type":"string",
                        "title":""
                      },
                      "description":"network"
                    }
                  },
                  "description":"defaults"
                }
              },
              "x-ms-visibility":"important",
              "required":[
                "kind",
                "url"
              ]
            },
            "x-ms-visibility":"important"
          }
        ]
      }
    },
    "/samples/{sampleID}/overview.json":{
      "get":{
        "responses":{
          "default":{
            "description":"default",
            "schema":{
              "properties":{
                "analysis":{
                  "properties":{
                    "score":{
                      "type":"integer",
                      "title":"score_analysis_report"
                    }
                  },
                  "type":"object"
                },
                "sample":{
                  "properties":{
                    "completed":{
                      "type":"string",
                      "title":"completed_sample"
                    },
                    "created":{
                      "type":"string",
                      "title":"created_sample"
                    },
                    "id":{
                      "type":"string",
                      "title":"id_sample"
                    },
                    "score":{
                      "type":"integer",
                      "title":"score_sample"
                    },
                    "target":{
                      "type":"string",
                      "title":"target_sample"
                    }
                  },
                  "type":"object"
                },
                "signatures":{
                  "items":{
                    "properties":{
                      "label":{
                        "type":"string",
                        "title":"label_signatures"
                      },
                      "name":{
                        "type":"string",
                        "title":"name_signatures"
                      },
                      "tags":{
                        "items":{
                          "type":"string"
                        },
                        "type":"array"
                      },
                      "ttp":{
                        "items":{
                          "type":"string"
                        },
                        "type":"array"
                      }
                    },
                    "required":[
                      "name"
                    ],
                    "type":"object"
                  },
                  "type":"array"
                },
                "targets":{
                  "items":{
                    "properties":{
                      "iocs":{
                        "properties":{
                          "domains":{
                            "items":{
                              "type":"string"
                            },
                            "type":"array"
                          },
                          "ips":{
                            "items":{
                              "type":"string"
                            },
                            "type":"array"
                          },
                          "urls":{
                            "items":{
                              "type":"string"
                            },
                            "type":"array"
                          }
                        },
                        "type":"object"
                      },
                      "score":{
                        "type":"integer",
                        "title":"score_targets"
                      },
                      "signatures":{
                        "items":{
                          "properties":{
                            "label":{
                              "type":"string",
                              "title":"label_signatures"
                            },
                            "name":{
                              "type":"string",
                              "title":"name_signatures"
                            },
                            "tags":{
                              "items":{
                                "type":"string"
                              },
                              "type":"array"
                            },
                            "ttp":{
                              "items":{
                                "type":"string"
                              },
                              "type":"array"
                            }
                          },
                          "required":[
                            "name"
                          ],
                          "type":"object"
                        },
                        "type":"array"
                      },
                      "target":{
                        "type":"string",
                        "title":"target_targets"
                      },
                      "tasks":{
                        "items":{
                          "type":"string"
                        },
                        "type":"array"
                      }
                    },
                    "required":[
                      "iocs",
                      "score",
                      "signatures",
                      "target",
                      "tasks"
                    ],
                    "type":"object"
                  },
                  "type":"array"
                },
                "tasks":{
                  "type":"string"
                },
                "version":{
                  "type":"string"
                }
              },
              "type":"object"
            }
          }
        },
        "summary":"Get the full report",
        "description":"Get the full report on the submitted sample.",
        "operationId":"Get_report",
        "parameters":[
          {
            "name":"sampleID",
            "in":"path",
            "required":true,
            "type":"string",
            "x-ms-visibility":"advanced"
          }
        ]
      }
    },
    "/samples/{sampleID}":{
      "get":{
        "responses":{
          "default":{
            "description":"default",
            "schema":{
              "properties":{
                "id":{
                  "type":"string",
                  "title":"id_summary"
                },
                "kind":{
                  "type":"string",
                  "title":"kind_summary"
                },
                "private":{
                  "type":"boolean",
                  "title":"private_summary"
                },
                "status":{
                  "type":"string",
                  "title":"status_summary"
                },
                "submitted":{
                  "type":"string",
                  "title":"submitted_summary"
                },
                "url":{
                  "type":"string",
                  "title":"url_summary"
                }
              },
              "type":"object"
            }
          }
        },
        "summary":"Get the full summary",
        "description":"Get the full summary on the submitted sample.",
        "operationId":"Get_summary",
        "parameters":[
          {
            "name":"sampleID",
            "in":"path",
            "required":true,
            "type":"string",
            "x-ms-visibility":"advanced"
          }
        ]
      }
    }
  },
  "definitions":{

  },
  "parameters":{

  },
  "responses":{

  },
  "securityDefinitions":{
    "API Key":{
      "type":"apiKey",
      "in":"header",
      "name":"Authorization"
    }
  },
  "security":[
    {
      "API Key":[

      ]
    }
  ],
  "tags":[

  ]
}