{
  "swagger": "2.0",
  "info": {
    "title": "PixelMe",
    "description": "PixelMe links allow you to track customers across platforms and increase the likelihood of turning clicks into conversions. Deep links direct users straight to a particular website or app page, eliminating the need for them to navigate or re-enter billing details. PixelMe\u2019s deep links open directly in the Amazon app, allowing you to drive customers directly to the Amazon app for better UX, enhanced retention, and higher likelihood of conversion.",
    "version": "1.0.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.pixelme.me",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/accounts": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                },
                "pixels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "key": {
                        "type": "string",
                        "description": "The key.",
                        "title": "Key"
                      },
                      "provider_key": {
                        "type": "string",
                        "description": "The provider key.",
                        "title": "Provider Key"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Pixels"
                },
                "domains": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The domains.",
                  "title": "Domains"
                },
                "campaigns": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "sub_campaigns": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "The identifier.",
                              "title": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "The name.",
                              "title": "Name"
                            }
                          }
                        },
                        "title": "Sub Campaigns"
                      }
                    }
                  },
                  "title": "Campaigns"
                },
                "utms": {
                  "type": "object",
                  "properties": {
                    "utms_campaign": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The UTMs campaign.",
                      "title": "UTMs Campaign"
                    },
                    "utms_medium": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The UTMs medium.",
                      "title": "UTMs Medium"
                    },
                    "utms_source": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The UTMs source.",
                      "title": "UTMs Source"
                    }
                  },
                  "title": "UTMs"
                }
              }
            }
          }
        },
        "summary": "Get account info",
        "description": "Retrieve the details of your account.",
        "operationId": "AccountGet",
        "parameters": []
      }
    },
    "/redirects": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "pixels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "key": {
                        "type": "string",
                        "description": "The key.",
                        "title": "Key"
                      },
                      "provider_key": {
                        "type": "string",
                        "description": "The provider key.",
                        "title": "Provider Key"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Pixels"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "key": {
                  "type": "string",
                  "description": "The key.",
                  "title": "Key"
                },
                "shorten": {
                  "type": "string",
                  "description": "The shortened.",
                  "title": "Shortened"
                },
                "campaign_id": {
                  "type": "string",
                  "description": "The campaign identifier.",
                  "title": "Campaign ID"
                },
                "sub_campaign_id": {
                  "type": "string",
                  "description": "The sub-campaign identifier.",
                  "title": "Sub-campaign ID"
                }
              }
            }
          }
        },
        "summary": "Create redirect",
        "description": "Creates a new redirect based on the given parameters.",
        "operationId": "RedirectPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "pixels_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The Pixel identifiers.",
                  "title": "Pixels IDs"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "key": {
                  "type": "string",
                  "description": "The key.",
                  "title": "Key"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The tags.",
                  "title": "Tags"
                },
                "campaign_id": {
                  "type": "string",
                  "description": "The campaign identifier.",
                  "title": "Campaign ID"
                },
                "sub_campaign_id": {
                  "type": "string",
                  "description": "The sub-campaign identifier.",
                  "title": "Sub-campaign ID"
                },
                "dynamic_urls": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "rule": {
                        "type": "string",
                        "description": "The rule.",
                        "title": "Rule"
                      }
                    }
                  },
                  "title": "Dynamic URLs"
                }
              },
              "required": [
                "url"
              ]
            }
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "redirects": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "domain": {
                        "type": "string",
                        "description": "The domain.",
                        "title": "Domain"
                      },
                      "key": {
                        "type": "string",
                        "description": "The key.",
                        "title": "Key"
                      },
                      "shorten": {
                        "type": "string",
                        "description": "The shortened.",
                        "title": "Shortened"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The tags.",
                        "title": "Tags"
                      },
                      "pixels": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The Pixels.",
                        "title": "Pixels"
                      }
                    }
                  },
                  "title": "Redirects"
                },
                "total": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The total.",
                  "title": "Total"
                },
                "start": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The start number.",
                  "title": "Start"
                },
                "length": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The length.",
                  "title": "Length"
                }
              }
            }
          }
        },
        "summary": "List redirects",
        "description": "Retrieve a list of your redirects.",
        "operationId": "RedirectsGet",
        "x-ms-visibility": "important",
        "parameters": []
      }
    },
    "/redirects/{id}": {
      "patch": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "url": {
                  "type": "string",
                  "description": "The URL address.",
                  "title": "URL"
                },
                "pixels": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "key": {
                        "type": "string",
                        "description": "The key.",
                        "title": "Key"
                      },
                      "provider_key": {
                        "type": "string",
                        "description": "The provider key.",
                        "title": "Provider Key"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Pixels"
                },
                "domain": {
                  "type": "string",
                  "description": "The domain.",
                  "title": "Domain"
                },
                "key": {
                  "type": "string",
                  "description": "The key.",
                  "title": "Key"
                },
                "shorten": {
                  "type": "string",
                  "description": "The shortened.",
                  "title": "Shortened"
                },
                "campaign_id": {
                  "type": "string",
                  "description": "The campaign identifier.",
                  "title": "Campaign ID"
                },
                "sub_campaign_id": {
                  "type": "string",
                  "description": "The sub-campaign identifier.",
                  "title": "Sub-campaign ID"
                }
              }
            }
          }
        },
        "summary": "Update redirect",
        "description": "Updates a previously created redirect.",
        "operationId": "RedirectPatch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The redirect identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The key.",
                  "title": "Key"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The tags.",
                  "title": "Tags"
                }
              },
              "required": [
                "key"
              ]
            }
          }
        ]
      },
      "delete": {
        "responses": {
          "204": {
            "description": "default",
            "schema": {
              "type": "string"
            }
          }
        },
        "summary": "Delete redirect",
        "description": "Delete a previously created redirect.",
        "operationId": "RedirectDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "x-ms-summary": "ID",
            "x-ms-url-encoding": "single",
            "description": "The redirect identifier.",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.pixelme.me/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.pixelme.me/terms-privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Website;Commerce"
    }
  ]
}
