{
  "swagger": "2.0",
  "info": {
    "title": "Jservice",
    "description": "jService contains over 200,000 trivia questions from Jeopardy. Clues can be retrieved by dollar value, category, or date of the show.",
    "version": "1.1",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "jservice.io",
  "basePath": "/api/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/clues": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "answer": {
                    "type": "string",
                    "description": "The answer.",
                    "title": "Answer"
                  },
                  "question": {
                    "type": "string",
                    "description": "The question.",
                    "title": "Question"
                  },
                  "value": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The value.",
                    "title": "Value"
                  },
                  "airdate": {
                    "type": "string",
                    "description": "The airdate.",
                    "title": "Airdate"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "category_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The category identifier.",
                    "title": "Category ID"
                  },
                  "game_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The game identifier.",
                    "title": "Game ID"
                  },
                  "invalid_count": {
                    "type": "string",
                    "description": "The invalid count.",
                    "title": "Invalid Count"
                  },
                  "category": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "clues_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The clues count.",
                        "title": "Clues Count"
                      }
                    },
                    "title": "Category"
                  }
                }
              }
            }
          }
        },
        "summary": "Get clues",
        "description": "Retrieves a list of clues.",
        "operationId": "CluesGet",
        "deprecated": true,
        "parameters": [
          {
            "name": "value",
            "in": "query",
            "x-ms-summary": "Value",
            "description": "The value.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "category",
            "in": "query",
            "x-ms-summary": "Category",
            "description": "The category.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "min_date",
            "in": "query",
            "x-ms-summary": "Earliest Date",
            "description": "The earliest date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "max_date",
            "in": "query",
            "x-ms-summary": "Latest Date",
            "description": "The latest date.",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/random": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "answer": {
                    "type": "string",
                    "description": "The answer.",
                    "title": "Answer"
                  },
                  "question": {
                    "type": "string",
                    "description": "The question.",
                    "title": "Question"
                  },
                  "value": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The value.",
                    "title": "Value"
                  },
                  "airdate": {
                    "type": "string",
                    "description": "The airdate.",
                    "title": "Airdate"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "category_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The category identifier.",
                    "title": "Category ID"
                  },
                  "game_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The game identifier.",
                    "title": "Game ID"
                  },
                  "invalid_count": {
                    "type": "string",
                    "description": "The invalid count.",
                    "title": "Invalid Count"
                  },
                  "category": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "clues_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The clues count.",
                        "title": "Clues Count"
                      }
                    },
                    "title": "Category"
                  }
                }
              }
            }
          }
        },
        "summary": "Get random clues",
        "description": "Retrieve a list of random clues.",
        "operationId": "RandomGet",
        "deprecated": true,
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "x-ms-summary": "Count",
            "description": "The count.",
            "required": false,
            "type": "integer"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/final": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "answer": {
                    "type": "string",
                    "description": "The answer.",
                    "title": "Answer"
                  },
                  "question": {
                    "type": "string",
                    "description": "The question.",
                    "title": "Question"
                  },
                  "value": {
                    "type": "string",
                    "description": "The value.",
                    "title": "Value"
                  },
                  "airdate": {
                    "type": "string",
                    "description": "The airdate.",
                    "title": "Airdate"
                  },
                  "created_at": {
                    "type": "string",
                    "description": "When created at.",
                    "title": "Created At"
                  },
                  "updated_at": {
                    "type": "string",
                    "description": "When updated at.",
                    "title": "Updated At"
                  },
                  "category_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The category identifier.",
                    "title": "Category ID"
                  },
                  "game_id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The game identifier.",
                    "title": "Game ID"
                  },
                  "invalid_count": {
                    "type": "string",
                    "description": "The invalid count.",
                    "title": "Invalid Count"
                  },
                  "category": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "title": {
                        "type": "string",
                        "description": "The title.",
                        "title": "Title"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      },
                      "clues_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The clues count.",
                        "title": "Clues Count"
                      }
                    },
                    "title": "Category"
                  }
                }
              }
            }
          }
        },
        "summary": "Get final questions",
        "description": "Retrieve a list of random final questions.",
        "operationId": "FinalGet",
        "deprecated": true,
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "x-ms-summary": "Count",
            "description": "The count.",
            "required": false,
            "type": "integer"
          }
        ],
        "x-ms-visibility": "important"
      }
    },
    "/categories": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The identifier.",
                    "title": "ID"
                  },
                  "title": {
                    "type": "string",
                    "description": "The title.",
                    "title": "Title"
                  },
                  "clues_count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The clue count.",
                    "title": "Clues Count"
                  }
                }
              }
            }
          }
        },
        "summary": "Get categories",
        "description": "Retrieve the list of categories.",
        "operationId": "CategoriesGet",
        "deprecated": true,
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "x-ms-summary": "Count",
            "description": "The count.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "x-ms-summary": "Offset",
            "description": "The offset.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    },
    "/category": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The identifier.",
                  "title": "ID"
                },
                "title": {
                  "type": "string",
                  "description": "The title.",
                  "title": "Title"
                },
                "clues_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The clues count.",
                  "title": "Clues Count"
                },
                "clues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "answer": {
                        "type": "string",
                        "description": "The answer.",
                        "title": "Answer"
                      },
                      "question": {
                        "type": "string",
                        "description": "The question.",
                        "title": "Question"
                      },
                      "value": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The value.",
                        "title": "Value"
                      },
                      "airdate": {
                        "type": "string",
                        "description": "The airdate.",
                        "title": "Airdate"
                      },
                      "category_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The category identifier.",
                        "title": "Category ID"
                      },
                      "game_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The game identifier.",
                        "title": "Game ID"
                      },
                      "invalid_count": {
                        "type": "string",
                        "description": "The invalid count.",
                        "title": "Invalid Count"
                      }
                    }
                  },
                  "description": "clues"
                }
              }
            }
          }
        },
        "summary": "Get single category",
        "description": "Retrieve a list of clues from a category.",
        "operationId": "CategoryGet",
        "deprecated": true,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "ID",
            "description": "The identifier.",
            "required": false,
            "type": "integer"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {},
  "security": [],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://jservice.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://jservice.io/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Lifestyle and Entertainment"
    }
  ]
}
