{
  "swagger": "2.0",
  "info": {
    "title": "Pappers API",
    "description": "L'API de Pappers vous permet de récupérer des informations et documents sur les entreprises françaises à partir de leur numéro SIREN ou SIRET.\n\nVous devez indiquer votre clé d'API dans les requêtes, en utilisant le paramètre `api_token`.\n\nL'URL d'accès à l'API est https://api.pappers.fr/v1/\n\nL'historique des modifications (changelog) est accessible à l'url suivante : https://www.pappers.fr/api/changelog\n",
    "contact": {
      "name": "Allan De Castro",
      "email": "contact@allandecastro.com"
    },
    "version": "1.1.0"
  },
  "host": "api.pappers.fr",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/entreprise": {
      "get": {
        "tags": [
          "Company profile"
        ],
        "summary": "Retrieves all the information available on a company.",
        "description": "You must provide either the SIREN or the SIRET. If you indicate the SIREN, all the establishments associated with this SIREN will be returned in the key `establishments`. If you indicate the SIRET, only the associated establishment will be returned in the key `establishment`.",
        "operationId": "entreprise",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "siren",
            "description": "Company's SIREN",
            "type": "string"
          },
          {
            "in": "query",
            "name": "siret",
            "description": "Company's SIRET",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Company found. The return contains an object describing the company.",
            "schema": {
              "type": "object",
              "properties": {
                "siren": {
                  "type": "string",
                  "description": "siren"
                },
                "siren_formate": {
                  "type": "string",
                  "description": "siren_formate"
                },
                "nom_entreprise": {
                  "type": "string",
                  "description": "nom_entreprise"
                },
                "personne_morale": {
                  "type": "boolean",
                  "description": "personne_morale"
                },
                "denomination": {
                  "type": "string",
                  "description": "denomination"
                },
                "nom": {
                  "type": "string",
                  "description": "nom"
                },
                "prenom": {
                  "type": "string",
                  "description": "prenom"
                },
                "sexe": {
                  "type": "string",
                  "description": "sexe"
                },
                "code_naf": {
                  "type": "string",
                  "description": "code_naf"
                },
                "libelle_code_naf": {
                  "type": "string",
                  "description": "libelle_code_naf"
                },
                "domaine_activite": {
                  "type": "string",
                  "description": "domaine_activite"
                },
                "conventions_collectives": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "nom": {
                        "type": "string",
                        "description": "nom"
                      },
                      "idcc": {
                        "type": "integer",
                        "format": "int32",
                        "description": "idcc"
                      },
                      "confirmee": {
                        "type": "boolean",
                        "description": "confirmee"
                      }
                    }
                  },
                  "description": "conventions_collectives"
                },
                "date_creation": {
                  "type": "string",
                  "description": "date_creation"
                },
                "date_creation_formate": {
                  "type": "string",
                  "description": "date_creation_formate"
                },
                "entreprise_cessee": {
                  "type": "boolean",
                  "description": "entreprise_cessee"
                },
                "entreprise_employeuse": {
                  "type": "boolean",
                  "description": "entreprise_employeuse"
                },
                "categorie_juridique": {
                  "type": "string",
                  "description": "categorie_juridique"
                },
                "forme_juridique": {
                  "type": "string",
                  "description": "forme_juridique"
                },
                "effectif": {
                  "type": "string",
                  "description": "effectif"
                },
                "effectif_min": {
                  "type": "integer",
                  "format": "int32",
                  "description": "effectif_min"
                },
                "effectif_max": {
                  "type": "integer",
                  "format": "int32",
                  "description": "effectif_max"
                },
                "tranche_effectif": {
                  "type": "string",
                  "description": "tranche_effectif"
                },
                "annee_effectif": {
                  "type": "integer",
                  "format": "int32",
                  "description": "annee_effectif"
                },
                "dernier_traitement": {
                  "type": "string",
                  "description": "dernier_traitement"
                },
                "siege": {
                  "type": "object",
                  "properties": {
                    "siret": {
                      "type": "string",
                      "description": "siret"
                    },
                    "siret_formate": {
                      "type": "string",
                      "description": "siret_formate"
                    },
                    "nic": {
                      "type": "string",
                      "description": "nic"
                    },
                    "code_postal": {
                      "type": "string",
                      "description": "code_postal"
                    },
                    "ville": {
                      "type": "string",
                      "description": "ville"
                    },
                    "latitude": {
                      "type": "number",
                      "format": "float",
                      "description": "latitude"
                    },
                    "longitude": {
                      "type": "number",
                      "format": "float",
                      "description": "longitude"
                    },
                    "etablissement_cesse": {
                      "type": "boolean",
                      "description": "etablissement_cesse"
                    },
                    "siege": {
                      "type": "boolean",
                      "description": "siege"
                    },
                    "etablissement_employeur": {
                      "type": "boolean",
                      "description": "etablissement_employeur"
                    },
                    "effectif": {
                      "type": "string",
                      "description": "effectif"
                    },
                    "effectif_min": {
                      "type": "integer",
                      "format": "int32",
                      "description": "effectif_min"
                    },
                    "effectif_max": {
                      "type": "integer",
                      "format": "int32",
                      "description": "effectif_max"
                    },
                    "tranche_effectif": {
                      "type": "string",
                      "description": "tranche_effectif"
                    },
                    "annee_effectif": {
                      "type": "integer",
                      "format": "int32",
                      "description": "annee_effectif"
                    },
                    "code_naf": {
                      "type": "string",
                      "description": "code_naf"
                    },
                    "libelle_code_naf": {
                      "type": "string",
                      "description": "libelle_code_naf"
                    },
                    "date_de_creation": {
                      "type": "string",
                      "description": "date_de_creation"
                    },
                    "numero_voie": {
                      "type": "integer",
                      "format": "int32",
                      "description": "numero_voie"
                    },
                    "indice_repetition": {
                      "type": "string",
                      "description": "indice_repetition"
                    },
                    "type_voie": {
                      "type": "string",
                      "description": "type_voie"
                    },
                    "libelle_voie": {
                      "type": "string",
                      "description": "libelle_voie"
                    },
                    "complement_adresse": {
                      "type": "string",
                      "description": "complement_adresse"
                    },
                    "adresse_ligne_1": {
                      "type": "string",
                      "description": "adresse_ligne_1"
                    },
                    "adresse_ligne_2": {
                      "type": "string",
                      "description": "adresse_ligne_2"
                    }
                  },
                  "description": "siege"
                },
                "diffusable": {
                  "type": "boolean",
                  "description": "diffusable"
                },
                "sigle": {
                  "type": "string",
                  "description": "sigle"
                },
                "objet_social": {
                  "type": "string",
                  "description": "objet_social"
                },
                "capital": {
                  "type": "integer",
                  "format": "int32",
                  "description": "capital"
                },
                "capital_formate": {
                  "type": "string",
                  "description": "capital_formate"
                },
                "capital_actuel_si_variable": {
                  "type": "string",
                  "description": "capital_actuel_si_variable"
                },
                "date_cloture_exercice": {
                  "type": "string",
                  "description": "date_cloture_exercice"
                },
                "date_cloture_exercice_exceptionnelle": {
                  "type": "string",
                  "description": "date_cloture_exercice_exceptionnelle"
                },
                "date_cloture_exercice_exceptionnelle_formate": {
                  "type": "string",
                  "description": "date_cloture_exercice_exceptionnelle_formate"
                },
                "prochaine_date_cloture_exercice": {
                  "type": "string",
                  "description": "prochaine_date_cloture_exercice"
                },
                "prochaine_date_cloture_exercice_formate": {
                  "type": "string",
                  "description": "prochaine_date_cloture_exercice_formate"
                },
                "economie_sociale_solidaire": {
                  "type": "boolean",
                  "description": "economie_sociale_solidaire"
                },
                "duree_personne_morale": {
                  "type": "string",
                  "description": "duree_personne_morale"
                },
                "derniere_mise_a_jour_sirene": {
                  "type": "string",
                  "description": "derniere_mise_a_jour_sirene"
                },
                "derniere_mise_a_jour_rcs": {
                  "type": "string",
                  "description": "derniere_mise_a_jour_rcs"
                },
                "statut_rcs": {
                  "type": "string",
                  "description": "statut_rcs"
                },
                "greffe": {
                  "type": "string",
                  "description": "greffe"
                },
                "date_immatriculation_rcs": {
                  "type": "string",
                  "description": "date_immatriculation_rcs"
                },
                "date_premiere_immatriculation_rcs": {
                  "type": "string",
                  "description": "date_premiere_immatriculation_rcs"
                },
                "date_radiation_rcs": {
                  "type": "string",
                  "description": "date_radiation_rcs"
                },
                "numero_tva_intracommunautaire": {
                  "type": "string",
                  "description": "numero_tva_intracommunautaire"
                },
                "etablissements": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "siret": {
                        "type": "string",
                        "description": "siret"
                      },
                      "siret_formate": {
                        "type": "string",
                        "description": "siret_formate"
                      },
                      "nic": {
                        "type": "string",
                        "description": "nic"
                      },
                      "code_postal": {
                        "type": "string",
                        "description": "code_postal"
                      },
                      "ville": {
                        "type": "string",
                        "description": "ville"
                      },
                      "latitude": {
                        "type": "number",
                        "format": "float",
                        "description": "latitude"
                      },
                      "longitude": {
                        "type": "number",
                        "format": "float",
                        "description": "longitude"
                      },
                      "etablissement_cesse": {
                        "type": "boolean",
                        "description": "etablissement_cesse"
                      },
                      "siege": {
                        "type": "boolean",
                        "description": "siege"
                      },
                      "etablissement_employeur": {
                        "type": "boolean",
                        "description": "etablissement_employeur"
                      },
                      "effectif": {
                        "type": "string",
                        "description": "effectif"
                      },
                      "effectif_min": {
                        "type": "integer",
                        "format": "int32",
                        "description": "effectif_min"
                      },
                      "effectif_max": {
                        "type": "integer",
                        "format": "int32",
                        "description": "effectif_max"
                      },
                      "tranche_effectif": {
                        "type": "string",
                        "description": "tranche_effectif"
                      },
                      "annee_effectif": {
                        "type": "integer",
                        "format": "int32",
                        "description": "annee_effectif"
                      },
                      "code_naf": {
                        "type": "string",
                        "description": "code_naf"
                      },
                      "libelle_code_naf": {
                        "type": "string",
                        "description": "libelle_code_naf"
                      },
                      "date_de_creation": {
                        "type": "string",
                        "description": "date_de_creation"
                      },
                      "numero_voie": {
                        "type": "integer",
                        "format": "int32",
                        "description": "numero_voie"
                      },
                      "indice_repetition": {
                        "type": "string",
                        "description": "indice_repetition"
                      },
                      "type_voie": {
                        "type": "string",
                        "description": "type_voie"
                      },
                      "libelle_voie": {
                        "type": "string",
                        "description": "libelle_voie"
                      },
                      "complement_adresse": {
                        "type": "string",
                        "description": "complement_adresse"
                      },
                      "adresse_ligne_1": {
                        "type": "string",
                        "description": "adresse_ligne_1"
                      },
                      "adresse_ligne_2": {
                        "type": "string",
                        "description": "adresse_ligne_2"
                      }
                    }
                  },
                  "description": "etablissements"
                },
                "finances": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "annee": {
                        "type": "integer",
                        "format": "int32",
                        "description": "annee"
                      },
                      "date_de_cloture_exercice": {
                        "type": "string",
                        "description": "date_de_cloture_exercice"
                      },
                      "duree_exercice": {
                        "type": "integer",
                        "format": "int32",
                        "description": "duree_exercice"
                      },
                      "chiffre_affaires": {
                        "type": "integer",
                        "format": "int32",
                        "description": "chiffre_affaires"
                      },
                      "resultat": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resultat"
                      },
                      "effectif": {
                        "type": "integer",
                        "format": "int32",
                        "description": "effectif"
                      }
                    }
                  },
                  "description": "finances"
                },
                "representants": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "qualite": {
                        "type": "string",
                        "description": "qualite"
                      },
                      "personne_morale": {
                        "type": "boolean",
                        "description": "personne_morale"
                      },
                      "date_prise_de_poste": {
                        "type": "string",
                        "description": "date_prise_de_poste"
                      },
                      "nom": {
                        "type": "string",
                        "description": "nom"
                      },
                      "prenom": {
                        "type": "string",
                        "description": "prenom"
                      },
                      "nom_complet": {
                        "type": "string",
                        "description": "nom_complet"
                      },
                      "date_de_naissance": {
                        "type": "string",
                        "description": "date_de_naissance"
                      },
                      "date_de_naissance_formate": {
                        "type": "string",
                        "description": "date_de_naissance_formate"
                      },
                      "age": {
                        "type": "integer",
                        "format": "int32",
                        "description": "age"
                      },
                      "nationalite": {
                        "type": "string",
                        "description": "nationalite"
                      },
                      "ville_de_naissance": {
                        "type": "string",
                        "description": "ville_de_naissance"
                      },
                      "pays_de_naissance": {
                        "type": "string",
                        "description": "pays_de_naissance"
                      },
                      "adresse_ligne_1": {
                        "type": "string",
                        "description": "adresse_ligne_1"
                      },
                      "adresse_ligne_2": {
                        "type": "string",
                        "description": "adresse_ligne_2"
                      },
                      "adresse_ligne_3": {
                        "type": "string",
                        "description": "adresse_ligne_3"
                      },
                      "code_postal": {
                        "type": "string",
                        "description": "code_postal"
                      },
                      "ville": {
                        "type": "string",
                        "description": "ville"
                      },
                      "pays": {
                        "type": "string",
                        "description": "pays"
                      }
                    }
                  },
                  "description": "representants"
                },
                "depots_actes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date_depot": {
                        "type": "string",
                        "description": "date_depot"
                      },
                      "date_depot_formate": {
                        "type": "string",
                        "description": "date_depot_formate"
                      },
                      "disponible": {
                        "type": "boolean",
                        "description": "disponible"
                      },
                      "nom_fichier_pdf": {
                        "type": "string",
                        "description": "nom_fichier_pdf"
                      },
                      "token": {
                        "type": "string",
                        "description": "token"
                      },
                      "actes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "description": "type"
                            },
                            "decision": {
                              "type": "string",
                              "description": "decision"
                            },
                            "date_acte": {
                              "type": "string",
                              "description": "date_acte"
                            },
                            "date_acte_formate": {
                              "type": "string",
                              "description": "date_acte_formate"
                            }
                          }
                        },
                        "description": "actes"
                      }
                    }
                  },
                  "description": "depots_actes"
                },
                "comptes": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date_depot": {
                        "type": "string",
                        "description": "date_depot"
                      },
                      "date_depot_formate": {
                        "type": "string",
                        "description": "date_depot_formate"
                      },
                      "date_cloture": {
                        "type": "string",
                        "description": "date_cloture"
                      },
                      "annee_cloture": {
                        "type": "integer",
                        "format": "int32",
                        "description": "annee_cloture"
                      },
                      "confidentialite": {
                        "type": "boolean",
                        "description": "confidentialite"
                      },
                      "confidentialite_compte_de_resultat": {
                        "type": "boolean",
                        "description": "confidentialite_compte_de_resultat"
                      },
                      "disponible": {
                        "type": "boolean",
                        "description": "disponible"
                      },
                      "nom_fichier_pdf": {
                        "type": "string",
                        "description": "nom_fichier_pdf"
                      },
                      "token": {
                        "type": "string",
                        "description": "token"
                      }
                    }
                  },
                  "description": "comptes"
                },
                "publications_bodacc": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "numeroParution": {
                        "type": "string",
                        "description": "numeroParution"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      },
                      "numeroAnnonce": {
                        "type": "string",
                        "description": "numeroAnnonce"
                      },
                      "bodacc": {
                        "type": "string",
                        "description": "bodacc"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "dateCloture": {
                        "type": "string",
                        "description": "dateCloture"
                      },
                      "typeDepot": {
                        "type": "string",
                        "description": "typeDepot"
                      },
                      "rcs": {
                        "type": "string",
                        "description": "rcs"
                      },
                      "denomination": {
                        "type": "string",
                        "description": "denomination"
                      },
                      "description": {
                        "type": "string",
                        "description": "description"
                      },
                      "capital": {
                        "type": "string",
                        "description": "capital"
                      },
                      "adresse": {
                        "type": "string",
                        "description": "adresse"
                      }
                    }
                  },
                  "description": "publications_bodacc"
                },
                "procedures_collectives": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "numeroParution": {
                        "type": "string",
                        "description": "numeroParution"
                      },
                      "date": {
                        "type": "string",
                        "description": "date"
                      },
                      "numeroAnnonce": {
                        "type": "string",
                        "description": "numeroAnnonce"
                      },
                      "bodacc": {
                        "type": "string",
                        "description": "bodacc"
                      },
                      "type": {
                        "type": "string",
                        "description": "type"
                      },
                      "famille": {
                        "type": "string",
                        "description": "famille"
                      },
                      "nature": {
                        "type": "string",
                        "description": "nature"
                      },
                      "complementJugement": {
                        "type": "string",
                        "description": "complementJugement"
                      }
                    }
                  },
                  "description": "procedures_collectives"
                },
                "procedures_collectives_existes": {
                  "type": "boolean",
                  "description": "procedures_collectives_existes"
                },
                "derniers_statuts": {
                  "type": "object",
                  "properties": {
                    "date_depot": {
                      "type": "string",
                      "description": "date_depot"
                    },
                    "date_depot_formate": {
                      "type": "string",
                      "description": "date_depot_formate"
                    },
                    "disponible": {
                      "type": "boolean",
                      "description": "disponible"
                    },
                    "nom_fichier_pdf": {
                      "type": "string",
                      "description": "nom_fichier_pdf"
                    },
                    "token": {
                      "type": "string",
                      "description": "token"
                    },
                    "type": {
                      "type": "string",
                      "description": "type"
                    },
                    "decision": {
                      "type": "string",
                      "description": "decision"
                    },
                    "date_acte": {
                      "type": "string",
                      "description": "date_acte"
                    },
                    "date_acte_formate": {
                      "type": "string",
                      "description": "date_acte_formate"
                    }
                  },
                  "description": "derniers_statuts"
                },
                "extrait_immatriculation": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "token"
                    }
                  },
                  "description": "extrait_immatriculation"
                }
              }
            }
          },
          "400": {
            "description": "Paramètres de la requête incorrects."
          },
          "401": {
            "description": "Clé API incorrecte."
          },
          "404": {
            "description": "Entreprise inexistante."
          }
        }
      }
    },
    "/recherche": {
      "get": {
        "tags": [
          "Recherche entreprise"
        ],
        "summary": "Recherche les entreprises correspondant à des critères.",
        "description": "Tous les paramètres sont optionnels et servent à filtrer la recherche. Les différentes entreprises seront renvoyées dans un tableau `entreprises`.",
        "operationId": "recherche",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "par_page",
            "description": "Nombre de résultats affichés sur une page.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page de résultats.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "nom_entreprise",
            "description": "Nom de l'entreprise à chercher. Cela correspond à la dénomination pour une personne morale, et au nom et prénom pour une personne physique.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "code_naf",
            "description": "Code NAF de l'entreprise.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "departement",
            "description": "Numéro de département de l'un des établissements de l'entreprise.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "code_postal",
            "description": "Code postal de l'un des établissements de l'entreprise.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "convention_collective",
            "description": "Convention collective de l'entreprise.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "categorie_juridique",
            "description": "Catégorie juridique de l'entreprise, selon la [nomenclature Insee](https://www.insee.fr/fr/information/2028129).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "entreprise_cessee",
            "description": "Activité de l'entreprise cessée ou non.",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "chiffre_affaires_min",
            "description": "Chiffre d'affaire minimum de l'entreprise.\n\n**Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "chiffre_affaires_max",
            "description": "Chiffre d'affaire maximum de l'entreprise.\n\n**Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "resultat_min",
            "description": "Résultat minimum de l'entreprise.\n\n**Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "resultat_max",
            "description": "Résultat maximum de l'entreprise.\n\n**Note** : Filtrer sur ce critère restreint énormément les entreprises retournées car cela élimine d'office toutes les entreprises dont les comptes ne sont pas publiés.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "date_creation_min",
            "description": "Date de création minimale de l'entreprise, au format JJ-MM-AAAA.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "date_creation_max",
            "description": "Date de création maximale de l'entreprise, au format JJ-MM-AAAA.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tranche_effectif_min",
            "description": "Tranche d'effectifs minimale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/sirene/public/variable/tefen#:~:text=Cette%20variable%20correspond%20%C3%A0%20la,effectif%20salari%C3%A9%20de%20l'entreprise.).",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tranche_effectif_max",
            "description": "Tranche d'effectifs maximale de l'entreprise, selon la [nomenclature Sirene](https://www.sirene.fr/sirene/public/variable/tefen#:~:text=Cette%20variable%20correspond%20%C3%A0%20la,effectif%20salari%C3%A9%20de%20l'entreprise.).",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Recherche réussie. Le retour contient la liste des entreprises qui répondent aux critères indiqués.",
            "schema": {
              "type": "object",
              "properties": {
                "entreprises": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "siren": {
                        "type": "string",
                        "description": "siren"
                      },
                      "siren_formate": {
                        "type": "string",
                        "description": "siren_formate"
                      },
                      "nom_entreprise": {
                        "type": "string",
                        "description": "nom_entreprise"
                      },
                      "personne_morale": {
                        "type": "boolean",
                        "description": "personne_morale"
                      },
                      "denomination": {
                        "type": "string",
                        "description": "denomination"
                      },
                      "nom": {
                        "type": "string",
                        "description": "nom"
                      },
                      "prenom": {
                        "type": "string",
                        "description": "prenom"
                      },
                      "sexe": {
                        "type": "string",
                        "description": "sexe"
                      },
                      "code_naf": {
                        "type": "string",
                        "description": "code_naf"
                      },
                      "libelle_code_naf": {
                        "type": "string",
                        "description": "libelle_code_naf"
                      },
                      "domaine_activite": {
                        "type": "string",
                        "description": "domaine_activite"
                      },
                      "conventions_collectives": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "nom": {
                              "type": "string",
                              "description": "nom"
                            },
                            "idcc": {
                              "type": "integer",
                              "format": "int32",
                              "description": "idcc"
                            },
                            "confirmee": {
                              "type": "boolean",
                              "description": "confirmee"
                            }
                          }
                        },
                        "description": "conventions_collectives"
                      },
                      "date_creation": {
                        "type": "string",
                        "description": "date_creation"
                      },
                      "date_creation_formate": {
                        "type": "string",
                        "description": "date_creation_formate"
                      },
                      "entreprise_cessee": {
                        "type": "boolean",
                        "description": "entreprise_cessee"
                      },
                      "entreprise_employeuse": {
                        "type": "boolean",
                        "description": "entreprise_employeuse"
                      },
                      "categorie_juridique": {
                        "type": "string",
                        "description": "categorie_juridique"
                      },
                      "forme_juridique": {
                        "type": "string",
                        "description": "forme_juridique"
                      },
                      "effectif": {
                        "type": "string",
                        "description": "effectif"
                      },
                      "effectif_min": {
                        "type": "integer",
                        "format": "int32",
                        "description": "effectif_min"
                      },
                      "effectif_max": {
                        "type": "integer",
                        "format": "int32",
                        "description": "effectif_max"
                      },
                      "tranche_effectif": {
                        "type": "string",
                        "description": "tranche_effectif"
                      },
                      "annee_effectif": {
                        "type": "integer",
                        "format": "int32",
                        "description": "annee_effectif"
                      },
                      "dernier_traitement": {
                        "type": "string",
                        "description": "dernier_traitement"
                      },
                      "siege": {
                        "type": "object",
                        "properties": {
                          "siret": {
                            "type": "string",
                            "description": "siret"
                          },
                          "siret_formate": {
                            "type": "string",
                            "description": "siret_formate"
                          },
                          "nic": {
                            "type": "string",
                            "description": "nic"
                          },
                          "code_postal": {
                            "type": "string",
                            "description": "code_postal"
                          },
                          "ville": {
                            "type": "string",
                            "description": "ville"
                          },
                          "latitude": {
                            "type": "number",
                            "format": "float",
                            "description": "latitude"
                          },
                          "longitude": {
                            "type": "number",
                            "format": "float",
                            "description": "longitude"
                          },
                          "etablissement_cesse": {
                            "type": "boolean",
                            "description": "etablissement_cesse"
                          },
                          "siege": {
                            "type": "boolean",
                            "description": "siege"
                          },
                          "etablissement_employeur": {
                            "type": "boolean",
                            "description": "etablissement_employeur"
                          },
                          "effectif": {
                            "type": "string",
                            "description": "effectif"
                          },
                          "effectif_min": {
                            "type": "integer",
                            "format": "int32",
                            "description": "effectif_min"
                          },
                          "effectif_max": {
                            "type": "integer",
                            "format": "int32",
                            "description": "effectif_max"
                          },
                          "tranche_effectif": {
                            "type": "string",
                            "description": "tranche_effectif"
                          },
                          "annee_effectif": {
                            "type": "integer",
                            "format": "int32",
                            "description": "annee_effectif"
                          }
                        },
                        "description": "siege"
                      },
                      "villes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "villes"
                      },
                      "etablissements": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "siret": {
                              "type": "string",
                              "description": "siret"
                            },
                            "siret_formate": {
                              "type": "string",
                              "description": "siret_formate"
                            },
                            "nic": {
                              "type": "string",
                              "description": "nic"
                            },
                            "code_postal": {
                              "type": "string",
                              "description": "code_postal"
                            },
                            "ville": {
                              "type": "string",
                              "description": "ville"
                            },
                            "latitude": {
                              "type": "number",
                              "format": "float",
                              "description": "latitude"
                            },
                            "longitude": {
                              "type": "number",
                              "format": "float",
                              "description": "longitude"
                            },
                            "etablissement_cesse": {
                              "type": "boolean",
                              "description": "etablissement_cesse"
                            },
                            "siege": {
                              "type": "boolean",
                              "description": "siege"
                            },
                            "etablissement_employeur": {
                              "type": "boolean",
                              "description": "etablissement_employeur"
                            },
                            "effectif": {
                              "type": "string",
                              "description": "effectif"
                            },
                            "effectif_min": {
                              "type": "integer",
                              "format": "int32",
                              "description": "effectif_min"
                            },
                            "effectif_max": {
                              "type": "integer",
                              "format": "int32",
                              "description": "effectif_max"
                            },
                            "tranche_effectif": {
                              "type": "string",
                              "description": "tranche_effectif"
                            },
                            "annee_effectif": {
                              "type": "integer",
                              "format": "int32",
                              "description": "annee_effectif"
                            }
                          }
                        },
                        "description": "etablissements"
                      },
                      "chiffre_affaires": {
                        "type": "integer",
                        "format": "int32",
                        "description": "chiffre_affaires"
                      },
                      "resultat": {
                        "type": "integer",
                        "format": "int32",
                        "description": "resultat"
                      },
                      "effectifs_finances": {
                        "type": "integer",
                        "format": "int32",
                        "description": "effectifs_finances"
                      },
                      "annee_finances": {
                        "type": "string",
                        "description": "annee_finances"
                      }
                    }
                  },
                  "description": "entreprises"
                },
                "total_entreprises": {
                  "type": "integer",
                  "format": "int32",
                  "description": "total_entreprises"
                },
                "page": {
                  "type": "integer",
                  "format": "int32",
                  "description": "page"
                }
              }
            }
          },
          "401": {
            "description": "Clé API incorrecte."
          },
          "404": {
            "description": "Aucune entreprise ne correspond aux critères indiqués."
          },
          "503": {
            "description": "Service momentanément indisponible."
          }
        }
      }
    },
    "/document/telechargement": {}
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "Clé API": {
      "type": "apiKey",
      "in": "query",
      "name": "api_token"
    }
  },
  "security": [
    {
      "Clé API": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata":[
    {
      "propertyName":"Website",
      "propertyValue":"https://pappers.fr/"
    },
    {
      "propertyName":"Privacy policy",
      "propertyValue":"https://www.pappers.fr/mentions-legales"
    },
    {
      "propertyName":"Categories",
      "propertyValue":"Business Management,Data,Commerce,Sales and CRM"
    }
  ]
}