{
  "swagger": "2.0",
  "info": {
    "title": "MotaWord Translations",
    "description": "You can now professionally translate your documents or any other kind of content with MotaWord connector. We support many content/file types into 95+ languages with 18000+ professional translators. We are everywhere you are! Check our website and mobile apps to track your translatiosn in real-time.",
    "version": "1.0",
    "contact": {
      "name": "MotaWord Support - 24/7 Chat and Email Support",
      "url": "https://www.motaword.com",
      "email": "info@motaword.com"
    }
  },
  "host": "api.motaword.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "text/plain; charset=utf-8",
    "text/plain"
  ],
  "paths": {
    "/projects": {
      "post": {
        "responses": {
          "200": {
            "description": "Returns a new translation project entity. You can access your quote and word count information.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project ID. This is the ID that other actions usually make use of, such as downloading translations from a MotaWord project."
                },
                "source_language": {
                  "type": "string",
                  "description": "Source language code of your project. Language codes are available here: http://api.motaword.com/languages"
                },
                "target_languages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Target language codes of your project. Language codes are available here: http://api.motaword.com/languages"
                },
                "word_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total word count of your files in this project. We base our quotes on the number of words you are ordering for translation."
                },
                "price": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "format": "float",
                      "description": "Monetary quote amount. Make sure to use `currency` field as well."
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency of your translation quote."
                    },
                    "usd_amount": {
                      "type": "number",
                      "format": "float",
                      "description": "If the currency is different than USD, then this field can tell you its USD equivelant."
                    }
                  },
                  "description": "Price and currency information of your project."
                },
                "price_without_discount": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "format": "float",
                      "description": "Monetary quote amount. Make sure to use `currency` field as well."
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency of your translation quote."
                    },
                    "usd_amount": {
                      "type": "number",
                      "format": "float",
                      "description": "If the currency is different than USD, then this field can tell you its USD equivelant."
                    }
                  },
                  "description": "MotaWord works hard to give you discounts over Translation Memory, content exclusion and such. This is the project price without any of our discounts. This is only for information purposes."
                },
                "status": {
                  "type": "string",
                  "description": "Project status.",
                  "enum": [
                    "pending",
                    "started",
                    "translated",
                    "completed"
                  ]
                },
                "delivery_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Unix timestamp for project deadline we provide to you."
                },
                "completed_on": {
                  "type": "string",
                  "description": "If the project has been completed, this will tell you when it was completed. Unix timestamp."
                },
                "valid_until": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Your projects are available for 30 days before you launch them. Once your quote expires after 30 days, you will need to get a new quote."
                },
                "custom": {
                  "type": "string",
                  "description": "You can put any custom key-value pair here and we will always accompany project entities with this custom metadata. This is a useful field to improve your workflows with custom data/tracking exchange with MotaWord."
                },
                "callback_url": {
                  "type": "string",
                  "description": "Callback URL is used to update your flows with MotaWord project status changes. This URL is typically generated from a 'HTTP Request Trigger' connector. You can also use our native Trigger for webhook and status change tracking purposes."
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Unix timestamp for when this project was first submitted."
                }
              }
            },
            "headers": {
              "Location:": {
                "description": "Location:",
                "type": "string"
              },
              "Content-Type:": {
                "description": "Content-Type:",
                "type": "string"
              }
            }
          }
        },
        "summary": "Initialize Translation Project",
        "description": "Initialize a new translation project at MotaWord. You can later add document(s) to it, and then launch it.",
        "operationId": "InitializeTranslationProject",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "This is the name of the file that you want translated. MotaWord platform will only know your file by this name.",
                        "title": "File name",
                        "x-ms-visibility": "advanced"
                      },
                      "data": {
                        "type": "string",
                        "format": "byte",
                        "description": "Base64 encoded content of the file you want translated.",
                        "title": "File content",
                        "x-ms-visibility": "advanced"
                      }
                    },
                    "required": [
                      "name",
                      "data"
                    ]
                  }
                },
                "callback_url": {
                  "type": "string",
                  "description": "Callback URL is used to update your flows with MotaWord project status changes.",
                  "title": "Callback Webhook URL",
                  "x-ms-visibility": "important"
                },
                "source_language": {
                  "type": "string",
                  "description": "Source language code of the file(s) that you are sending for translation. Language codes are available here: http://api.motaword.com/languages",
                  "title": "Source Language Code",
                  "x-ms-visibility": "important"
                },
                "target_languages": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "A list of language codes that you want to translate your content into. Language codes are available here: http://api.motaword.com/languages",
                    "title": "Target Language(s)",
                    "x-ms-visibility": "important"
                  }
                }
              },
              "required": [
                "source_language",
                "target_languages"
              ]
            },
            "x-ms-visibility": "important"
          }
        ]
      }
    },
    "/projects/{projectId}": {
      "get": {
        "responses": {
          "200": {
            "description": "Returns translation project entity. You can access your quote and word count information.",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Project ID. This is the ID that other actions usually make use of, such as downloading translations from a MotaWord project."
                },
                "source_language": {
                  "type": "string",
                  "description": "Source language code of your project. Language codes are available here: http://api.motaword.com/languages"
                },
                "target_languages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Target language codes of your project. Language codes are available here: http://api.motaword.com/languages"
                },
                "word_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Total word count of your files in this project. We base our quotes on the number of words you are ordering for translation."
                },
                "price": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
					            "format": "float",
                      "description": "Monetary quote amount. Make sure to use `currency` field as well."
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency of your translation quote."
                    },
                    "usd_amount": {
                      "type": "number",
                      "format": "float",
                      "description": "If the currency is different than USD, then this field can tell you its USD equivelant."
                    }
                  },
                  "description": "Price and currency information of your project."
                },
                "price_without_discount": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "format": "float",
                      "description": "Monetary quote amount. Make sure to use `currency` field as well."
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency of your translation quote."
                    },
                    "usd_amount": {
                      "type": "number",
                      "format": "float",
                      "description": "If the currency is different than USD, then this field can tell you its USD equivelant."
                    }
                  },
                  "description": "MotaWord works hard to give you discounts over Translation Memory, content exclusion and such. This is the project price without any of our discounts. This is only for information purposes."
                },
                "status": {
                  "type": "string",
                  "description": "Project status.",
                  "enum": [
                    "pending",
                    "started",
                    "translated",
                    "completed"
                  ]
                },
                "delivery_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Unix timestamp for project deadline we provide to you."
                },
                "completed_on": {
                  "type": "string",
                  "description": "If the project has been completed, this will tell you when it was completed. Unix timestamp."
                },
                "valid_until": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Your projects are available for 30 days before you launch them. Once your quote expires after 30 days, you will need to get a new quote."
                },
                "custom": {
                  "type": "string",
                  "description": "You can put any custom key-value pair here and we will always accompany project entities with this custom metadata. This is a useful field to improve your workflows with custom data/tracking exchange with MotaWord."
                },
                "callback_url": {
                  "type": "string",
                  "description": "Callback URL is used to update your flows with MotaWord project status changes. This URL is typically generated from a 'HTTP Request Trigger' connector. You can also use our native Trigger for webhook and status change tracking purposes."
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Unix timestamp for when this project was first submitted."
                }
              }
            }
          }
        },
        "summary": "Get project details",
        "description": "Get your project details, including quote price and word count. You can also use this endpoint to get your latest price and word count after uploading new source documents or changing language pairs.",
        "operationId": "GetProjectDetails",
        "parameters": [
          {
            "name": "projectId",
            "description": "Project ID for.",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Project ID"
          }
        ]
      }
    },
    "/projects/{projectId}/package": {
      "post": {
        "responses": {
          "200": {
            "description": "Binary. ZIP archive of translated documents. If you are uniformly working with single documents, this can also directly return the contents of your single translated document. To configure your API client for this use case, contact us.",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        },
        "operationId": "DownloadTranslations",
        "summary": "Download Translations",
        "description": "Download translated documents as a ZIP archive from your MotaWord project",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Project ID that you want to download translations of.",
            "x-ms-summary": "Project ID that you want to download translations of.",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "format": "int64"
          },
          {
            "name": "async",
            "in": "query",
            "required": false,
            "description": "When you download your translations, we recompile them and give you a fresh package. We can do this in the background or foreground. In most cases of integration as a connector, this should be async = 0.",
            "x-ms-summary": "For the most fresh package, choose 0/false/no.",
            "type": "integer",
            "default": 0,
            "enum": [
              0,
              1
            ]
          }
        ]
      }
    },
    "/projects/{projectId}/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "type"
            },
            "action": {
              "type": "string",
              "description": "action"
            },
            "project": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "description": "id"
                },
                "source_language": {
                  "type": "string",
                  "description": "source_language"
                },
                "target_languages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "target_languages"
                },
                "word_count": {
                  "type": "integer",
                  "format": "int32",
                  "description": "word_count"
                },
                "price": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "format": "float",
                      "description": "amount"
                    },
                    "currency": {
                      "type": "string",
                      "description": "currency"
                    },
                    "usd_amount": {
                      "type": "number",
                      "format": "float",
                      "description": "usd_amount"
                    }
                  },
                  "description": "price"
                },
                "price_without_discount": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "number",
                      "format": "float",
                      "description": "amount"
                    },
                    "currency": {
                      "type": "string",
                      "description": "currency"
                    },
                    "usd_amount": {
                      "type": "number",
                      "format": "float",
                      "description": "usd_amount"
                    }
                  },
                  "description": "price_without_discount"
                },
                "status": {
                  "type": "string",
                  "description": "status"
                },
                "delivery_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "delivery_at"
                },
                "completed_on": {
                  "type": "string",
                  "description": "completed_on"
                },
                "subjects": {
                  "type": "array",
                  "items": {},
                  "description": "subjects"
                },
                "budget_code": {
                  "type": "string",
                  "description": "budget_code"
                },
                "tms_name": {
                  "type": "string",
                  "description": "tms_name"
                },
                "is_manual": {
                  "type": "boolean",
                  "description": "is_manual"
                },
                "source": {
                  "type": "string",
                  "description": "source"
                },
                "custom": {
                  "type": "string",
                  "description": "custom"
                },
                "callback_url": {
                  "type": "string",
                  "description": "callback_url"
                },
                "created_at": {
                  "type": "integer",
                  "format": "int32",
                  "description": "created_at"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "self": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "self"
                    },
                    "documents": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "documents"
                    },
                    "glossaries": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "glossaries"
                    },
                    "styleguides": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "styleguides"
                    },
                    "webhooks": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "webhooks"
                    },
                    "invoice": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "invoice"
                    },
                    "activities": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "activities"
                    },
                    "comments": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "comments"
                    },
                    "progress": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "progress"
                    },
                    "package": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "package"
                    },
                    "download": {
                      "type": "object",
                      "properties": {
                        "href": {
                          "type": "string",
                          "description": "href"
                        }
                      },
                      "description": "download"
                    }
                  },
                  "description": "links"
                }
              },
              "description": "project"
            }
          }
        },
        "description": "Project status update response"
      },
      "delete": {
        "summary": "Delete project webhook",
        "description": "Delete project webhook",
        "operationId": "DeleteProjectWebhooks",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Project ID that you want to delete webhooks of.",
            "x-ms-summary": "Project ID that you want to delete webhooks of.",
            "x-ms-url-encoding": "single",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        }
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "When Translation Project Completed",
        "description": "Triggered when your translation project is completed. Register project status webhook here.",
        "operationId": "WhenTranslationProjectCompleted",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "projectId",
            "description": "Project ID that you want to register webhooks for.",
            "in": "path",
            "required": true,
            "type": "integer",
            "x-ms-visibility": "important",
            "x-ms-url-encoding": "single",
            "x-ms-summary": "Project ID that you want to register webhooks for."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "callback_url": {
                  "type": "string",
                  "description": "Webhook URL is used to update your flows with MotaWord project status changes.",
                  "x-ms-summary": "Webhook URL is used to update your flows with MotaWord project status changes.",
                  "x-ms-visibility": "internal",
                  "x-ms-notification-url": true
                }
              },
              "required": [
                "callback_url"
              ]
            },
            "x-ms-visibility": "internal"
          }
        ]
      }
    },
    "/projects/{projectID}/launch": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "description": "Launch operation status.",
                  "enum": [
                    "started",
                    "failed"
                  ]
                }
              }
            }
          }
        },
        "summary": "Launch Translation Project",
        "description": "Launch your existing project (quote) for translation, we'll get to it right away. Remember to add your documents to a project before you launch it. Once launched, you can also track your translation progress in real-time on our web and mobile platforms.",
        "operationId": "LaunchTranslationProject",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Project ID that you want to launch.",
            "x-ms-summary": "Project ID that you want to launch.",
            "x-ms-url-encoding": "single"
          }
        ]
      }
    },
    "/projects/{projectID}/documents": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "MotaWord ID for the document you just uploaded."
                      },
                      "name": {
                        "type": "string",
                        "description": "Document name"
                      },
                      "uploaded_at": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Unix timestamp for when this document was uploaded."
                      },
                      "word_count": {
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of words in the document to be translated. This is the amount we charge you for."
                      },
                      "scheme": {
                        "type": "object",
                        "properties": {},
                        "description": "Mixed file scheme object. For more information in configuring your source files, refer to our Developer Portal: https://www.motaword.com/developer"
                      }
                    }
                  },
                  "description": "List of documents that you have just uploaded. Only returns newly uploaded files, not all of the files in your project."
                }
              }
            }
          }
        },
        "summary": "Add Document(s) For Translation",
        "description": "Add document(s) to your translation project. You can only add a new document to a project that you haven't yet launched.",
        "operationId": "AddDocumentsForTranslation",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "projectID",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Project ID that you want to add documents to. This project is typically initialized via InitializeTranslationProject action earlier in the workflow.",
            "x-ms-summary": "Project ID that you want to add documents to.",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "documents": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "This is the name of the file that you want translated. MotaWord platform will only know your file by this name.",
                        "title": "File name",
                        "x-ms-visibility": "important",
                        "x-ms-summary": "What do you want to name this file on MotaWord side?"
                      },
                      "data": {
                        "type": "string",
                        "format": "byte",
                        "description": "Base64 encoded content of the file you want translated.",
                        "x-ms-summary": "Base64 encoded content of the file you want translated.",
                        "title": "File content",
                        "x-ms-visibility": "important"
                      }
                    },
                    "required": [
                      "name",
                      "data"
                    ]
                  },
                  "description": "List of document objects to be uploaded. Documents are list of objects containing file name and base64 encoded content."
                }
              }
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "query",
      "name": "access_token"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.motaword.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.motaword.com/legal"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Productivity;Content and Files"
    }
  ]
}