{
  "swagger": "2.0",
  "info": {
    "version": "v3",
    "title": "Enadoc",
    "description": "Enadoc is an innovative, cloud-based enterprise document imaging system. Enadoc provides solutions for secure and reliable management of documents on the cloud, with capabilities such as archival, search, retrieval and sharing of documents.",
    "contact": {
      "name": "Enadoc Support",
      "url": "https://enadoc.com/support",
      "email": "support@enadoc.com"
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.enadoc.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.enadoc.com/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "host": "enadocapp.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/v3/workspace": {
      "post": {
        "summary": "Send to My Workspace",
        "description": "Send to Enadoc My Workspace",
        "operationId": "SendToMyWorkspace",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "Document",
            "in": "formData",
            "required": true,
            "type": "string",
            "format": "binary",
            "x-ms-summary": "File Content",
            "description": "The content of the file"
          },
          {
            "name": "Name",
            "in": "formData",
            "required": true,
            "type": "string",
            "x-ms-summary": "File Name",
            "description": "The name of the file"
          }
        ],
        "responses": {
          "201": {
            "description": "Upload successful",
            "schema": {
              "$ref": "#/definitions/SuccessResponse"
            }
          },
          "400": {
            "description": "Failed to upload document"
          }
        }
      }
    }
  },
  "definitions": {
    "SuccessResponse": {
      "type": "object",
      "properties": {
        "Status": {
          "description": "Document upload result message",
          "type": "string"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://auth.enadocapp.com/oauth2/authorize",
      "tokenUrl": "https://enadocapp.com/api/v3/token",
      "scopes": {
        "enadoc_ip": "enadoc_ip"
      }
    }
  },
  "security": [
    {
      "oauth2_auth": [
        "enadoc_ip"
      ]
    }
  ],
  "tags": []
}
