{
  "swagger": "2.0",
  "info": {
    "title": "OpenQR",
    "description": "OpenQR is a static and dynamic QR code generator. Easily generate, manage or track your QR code and send your customers to the right place.",
    "version": "1.0",
    "contact": {
      "name": "Troy Taylor",
      "url": "https://www.hitachisolutions.com",
      "email": "ttaylor@hitachisolutions.com"
    }
  },
  "host": "api.openqr.io",
  "basePath": "/api/v1/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/folders/{folder_id}": {
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Update folder",
        "description": "Updates a folder name.",
        "operationId": "FolderUpdatePost",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "x-ms-summary": "Folder ID",
            "x-ms-url-encoding": "single",
            "description": "The folder identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    },
    "/folders": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      }
                    }
                  },
                  "title": "Data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "first": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The last.",
                      "title": "Last"
                    },
                    "prev": {
                      "type": "string",
                      "description": "The previous link.",
                      "title": "Prev"
                    },
                    "next": {
                      "type": "string",
                      "description": "The next link.",
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "The next cursor.",
                      "title": "Next Cursor"
                    },
                    "prev_cursor": {
                      "type": "string",
                      "description": "The previous cursor.",
                      "title": "Prev Cursor"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get folders",
        "description": "Retrieve a list of folders.",
        "operationId": "FoldersGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Create folder",
        "description": "Creates a new folder.",
        "operationId": "FolderPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name"
                }
              },
              "required": [
                "name"
              ]
            }
          }
        ]
      }
    },
    "/qr-codes": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "status": {
                        "type": "string",
                        "description": "The status.",
                        "title": "Status"
                      },
                      "dynamic": {
                        "type": "boolean",
                        "description": "Whether dynamic.",
                        "title": "Dynamic"
                      },
                      "qr_code_folder_id": {
                        "type": "integer",
                        "format": "int32",
                        "description": "The QR code folder identifier.",
                        "title": "QR Code Folder ID"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type.",
                        "title": "Type"
                      },
                      "image": {
                        "type": "string",
                        "description": "The image.",
                        "title": "Image"
                      },
                      "created_at": {
                        "type": "string",
                        "description": "When created at.",
                        "title": "Created At"
                      },
                      "updated_at": {
                        "type": "string",
                        "description": "When updated at.",
                        "title": "Updated At"
                      }
                    }
                  },
                  "title": "Data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "first": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The last.",
                      "title": "Last"
                    },
                    "prev": {
                      "type": "string",
                      "description": "The previous link.",
                      "title": "Prev"
                    },
                    "next": {
                      "type": "string",
                      "description": "The next link.",
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "The next cursor.",
                      "title": "Next Cursor"
                    },
                    "prev_cursor": {
                      "type": "string",
                      "description": "The previous cursor.",
                      "title": "Prev Cursor"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get QR codes",
        "description": "Retrieve a list of QR codes.",
        "operationId": "QRsGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "dynamic": {
                      "type": "boolean",
                      "description": "Whether dynamic.",
                      "title": "Dynamic"
                    },
                    "qr_code_folder_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The QR code folder identifier.",
                      "title": "QR Code Folder ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "image": {
                      "type": "string",
                      "description": "The image.",
                      "title": "Image"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Create QR code",
        "description": "Creates a new QR code.",
        "operationId": "QRPost",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "The name.",
                  "title": "Name",
                  "minimum": 6
                },
                "type": {
                  "type": "string",
                  "description": "The type.",
                  "title": "Type",
                  "default": "url",
                  "enum": [
                    "url",
                    "call",
                    "call_static",
                    "email",
                    "email_static",
                    "event",
                    "event_static",
                    "geo",
                    "geo_static",
                    "sms",
                    "sms_static",
                    "text",
                    "text_static",
                    "url_static",
                    "vcard",
                    "vcard_static",
                    "wifi",
                    "wifi_static"
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "Data",
                  "required": [
                    "url"
                  ]
                }
              },
              "required": [
                "data",
                "name",
                "type"
              ]
            }
          }
        ]
      }
    },
    "/qr-codes/{qr_code_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "dynamic": {
                      "type": "boolean",
                      "description": "Whether dynamic.",
                      "title": "Dynamic"
                    },
                    "qr_code_folder_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The QR code folder identifier.",
                      "title": "QR Code Folder ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "image": {
                      "type": "string",
                      "description": "The image.",
                      "title": "Image"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Get QR code",
        "description": "Retrieve a QR code.",
        "operationId": "QRGet",
        "parameters": [
          {
            "name": "qr_code_id",
            "in": "path",
            "x-ms-summary": "QR Code ID",
            "x-ms-url-encoding": "single",
            "description": "The QR code identifier.",
            "required": true,
            "type": "string"
          }
        ]
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status.",
                      "title": "Status"
                    },
                    "dynamic": {
                      "type": "boolean",
                      "description": "Whether dynamic.",
                      "title": "Dynamic"
                    },
                    "qr_code_folder_id": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The QR code folder identifier.",
                      "title": "QR Code Folder ID"
                    },
                    "type": {
                      "type": "string",
                      "description": "The type.",
                      "title": "Type"
                    },
                    "image": {
                      "type": "string",
                      "description": "The image.",
                      "title": "Image"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "When created at.",
                      "title": "Created At"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "When updated at.",
                      "title": "Updated At"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Update QR code",
        "description": "Updates a QR code.",
        "operationId": "QRUpdatePost",
        "parameters": [
          {
            "name": "qr_code_id",
            "in": "path",
            "x-ms-summary": "QR Code ID",
            "x-ms-url-encoding": "single",
            "description": "The QR code identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "name"
                },
                "type": {
                  "type": "string",
                  "description": "type",
                  "default": "url",
                  "enum": [
                    "url",
                    "call",
                    "call_static",
                    "email",
                    "email_static",
                    "event",
                    "event_static",
                    "geo",
                    "geo_static",
                    "sms",
                    "sms_static",
                    "text",
                    "text_static",
                    "url_static",
                    "vcard",
                    "vcard_static",
                    "wifi",
                    "wifi_static"
                  ]
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        ]
      }
    },
    "/files": {
      "get": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The identifier.",
                        "title": "ID"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name.",
                        "title": "Name"
                      },
                      "mime_type": {
                        "type": "string",
                        "description": "The mime type.",
                        "title": "Mime Type"
                      },
                      "url": {
                        "type": "string",
                        "description": "The URL address.",
                        "title": "URL"
                      },
                      "public": {
                        "type": "boolean",
                        "description": "Whether public.",
                        "title": "Public"
                      }
                    }
                  },
                  "title": "Data"
                },
                "links": {
                  "type": "object",
                  "properties": {
                    "first": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The first.",
                      "title": "First"
                    },
                    "last": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The last.",
                      "title": "Last"
                    },
                    "prev": {
                      "type": "string",
                      "description": "The previous link.",
                      "title": "Prev"
                    },
                    "next": {
                      "type": "string",
                      "description": "The next link.",
                      "title": "Next"
                    }
                  },
                  "title": "Links"
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "The path.",
                      "title": "Path"
                    },
                    "per_page": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The number per page.",
                      "title": "Per Page"
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "The next cursor.",
                      "title": "Next Cursor"
                    },
                    "prev_cursor": {
                      "type": "string",
                      "description": "The previous cursor.",
                      "title": "Prev Cursor"
                    }
                  },
                  "title": "Meta"
                }
              }
            }
          }
        },
        "summary": "Get files",
        "description": "Retrieve a list of files.",
        "operationId": "FilesGet",
        "parameters": []
      },
      "post": {
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The identifier.",
                      "title": "ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name.",
                      "title": "Name"
                    },
                    "mime_type": {
                      "type": "string",
                      "description": "The mime type.",
                      "title": "Mime Type"
                    },
                    "url": {
                      "type": "string",
                      "description": "The URL address.",
                      "title": "URL"
                    },
                    "public": {
                      "type": "boolean",
                      "description": "Whether public.",
                      "title": "Public"
                    }
                  },
                  "title": "Data"
                }
              }
            }
          }
        },
        "summary": "Upload a file",
        "description": "Uploads an image file.",
        "operationId": "FilePost",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "file",
            "type": "file",
            "in": "formData",
            "required": true,
            "description": "The file to upload.",
            "x-ms-summary": "File"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://openqr.io/"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://openqr.io/privacy-policy/"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Social Media"
    }
  ]
}