{
  "swagger": "2.0",
  "info": {
    "title": "ExchangeRate-API",
    "description": "A reliable and easy-to-use currency conversion API providing exchange rates for 161+ currencies. Get latest rates, convert between currency pairs, access historical data, and more. Get your free API key at https://app.exchangerate-api.com/sign-up",
    "version": "6.0",
    "contact": {
      "name": "ExchangeRate-API Support",
      "url": "https://www.exchangerate-api.com",
      "email": "support@exchangerate-api.com"
    },
    "x-ms-api-annotation": {
      "status": "Production"
    }
  },
  "host": "v6.exchangerate-api.com",
  "basePath": "/v6",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{api-key}/latest/{base_code}": {
      "get": {
        "operationId": "GetLatestRates",
        "summary": "Get Latest Exchange Rates",
        "description": "Returns the latest exchange rates from your base currency to all supported currencies.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your API key from ExchangeRate-API dashboard",
            "x-ms-summary": "API Key",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "base_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base currency code (ISO 4217, e.g., USD, EUR, GBP)",
            "x-ms-summary": "Base Currency Code",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with exchange rates",
            "schema": {
              "$ref": "#/definitions/LatestRatesResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{api-key}/pair/{base_code}/{target_code}": {
      "get": {
        "operationId": "GetPairConversion",
        "summary": "Get Pair Conversion Rate",
        "description": "Returns the exchange rate between two specific currencies.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your API key from ExchangeRate-API dashboard",
            "x-ms-summary": "API Key",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "base_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base currency code (ISO 4217, e.g., EUR)",
            "x-ms-summary": "Base Currency Code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "target_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Target currency code (ISO 4217, e.g., GBP)",
            "x-ms-summary": "Target Currency Code",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with conversion rate",
            "schema": {
              "$ref": "#/definitions/PairConversionResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{api-key}/pair/{base_code}/{target_code}/{amount}": {
      "get": {
        "operationId": "ConvertAmount",
        "summary": "Convert Currency Amount",
        "description": "Converts a specific amount from one currency to another.",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "api-key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your API key from ExchangeRate-API dashboard",
            "x-ms-summary": "API Key",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "base_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base currency code (ISO 4217, e.g., EUR)",
            "x-ms-summary": "Base Currency Code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "target_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Target currency code (ISO 4217, e.g., GBP)",
            "x-ms-summary": "Target Currency Code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Amount to convert (decimal format)",
            "x-ms-summary": "Amount",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with conversion result",
            "schema": {
              "$ref": "#/definitions/AmountConversionResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{api-key}/enriched/{base_code}/{target_code}": {
      "get": {
        "operationId": "GetEnrichedData",
        "summary": "Get Enriched Currency Data",
        "description": "Returns exchange rate plus additional data including currency name, symbol, country, and flag URL. Requires Business or Volume plan.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "api-key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your API key from ExchangeRate-API dashboard",
            "x-ms-summary": "API Key",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "base_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base currency code (ISO 4217, e.g., GBP)",
            "x-ms-summary": "Base Currency Code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "target_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Target currency code (ISO 4217, e.g., JPY)",
            "x-ms-summary": "Target Currency Code",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with enriched data",
            "schema": {
              "$ref": "#/definitions/EnrichedDataResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{api-key}/history/{base_code}/{year}/{month}/{day}": {
      "get": {
        "operationId": "GetHistoricalRates",
        "summary": "Get Historical Exchange Rates",
        "description": "Returns exchange rates for a specific historical date. Requires Pro, Business, or Volume plan. Data available from 1990 for major currencies, full coverage from 2021.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "api-key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your API key from ExchangeRate-API dashboard",
            "x-ms-summary": "API Key",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "base_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base currency code (ISO 4217, e.g., USD)",
            "x-ms-summary": "Base Currency Code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Year (e.g., 2023)",
            "x-ms-summary": "Year",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "description": "Month (1-12, no leading zeros)",
            "x-ms-summary": "Month",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "day",
            "in": "path",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "maximum": 31,
            "description": "Day (1-31, no leading zeros)",
            "x-ms-summary": "Day",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical rates",
            "schema": {
              "$ref": "#/definitions/HistoricalRatesResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{api-key}/history/{base_code}/{year}/{month}/{day}/{amount}": {
      "get": {
        "operationId": "ConvertHistoricalAmount",
        "summary": "Convert Amount Using Historical Rates",
        "description": "Converts an amount using historical exchange rates for a specific date. Requires Pro, Business, or Volume plan.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "api-key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your API key from ExchangeRate-API dashboard",
            "x-ms-summary": "API Key",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "base_code",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Base currency code (ISO 4217, e.g., USD)",
            "x-ms-summary": "Base Currency Code",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Year (e.g., 2023)",
            "x-ms-summary": "Year",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "description": "Month (1-12, no leading zeros)",
            "x-ms-summary": "Month",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "day",
            "in": "path",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "maximum": 31,
            "description": "Day (1-31, no leading zeros)",
            "x-ms-summary": "Day",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "amount",
            "in": "path",
            "required": true,
            "type": "number",
            "format": "double",
            "description": "Amount to convert (decimal format)",
            "x-ms-summary": "Amount",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with historical conversion amounts",
            "schema": {
              "$ref": "#/definitions/HistoricalAmountResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{api-key}/codes": {
      "get": {
        "operationId": "GetSupportedCodes",
        "summary": "Get Supported Currency Codes",
        "description": "Returns a list of all supported currency codes and their names.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "api-key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your API key from ExchangeRate-API dashboard",
            "x-ms-summary": "API Key",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with supported codes",
            "schema": {
              "$ref": "#/definitions/SupportedCodesResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{api-key}/quota": {
      "get": {
        "operationId": "GetQuotaStatus",
        "summary": "Get API Request Quota",
        "description": "Returns your current API request quota status including plan limit and remaining requests.",
        "x-ms-visibility": "advanced",
        "parameters": [
          {
            "name": "api-key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Your API key from ExchangeRate-API dashboard",
            "x-ms-summary": "API Key",
            "x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with quota information",
            "schema": {
              "$ref": "#/definitions/QuotaResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "LatestRatesResponse": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Result status (success or error)",
          "x-ms-summary": "Result"
        },
        "documentation": {
          "type": "string",
          "description": "Link to API documentation",
          "x-ms-summary": "Documentation URL"
        },
        "terms_of_use": {
          "type": "string",
          "description": "Link to terms of use",
          "x-ms-summary": "Terms of Use URL"
        },
        "time_last_update_unix": {
          "type": "integer",
          "format": "int32",
          "description": "Unix timestamp of last update",
          "x-ms-summary": "Last Update (Unix)"
        },
        "time_last_update_utc": {
          "type": "string",
          "description": "UTC timestamp of last update",
          "x-ms-summary": "Last Update (UTC)"
        },
        "time_next_update_unix": {
          "type": "integer",
          "format": "int32",
          "description": "Unix timestamp of next update",
          "x-ms-summary": "Next Update (Unix)"
        },
        "time_next_update_utc": {
          "type": "string",
          "description": "UTC timestamp of next update",
          "x-ms-summary": "Next Update (UTC)"
        },
        "base_code": {
          "type": "string",
          "description": "Base currency code",
          "x-ms-summary": "Base Currency"
        },
        "conversion_rates": {
          "type": "object",
          "additionalProperties": {
            "type": "number"
          },
          "description": "Exchange rates for all supported currencies",
          "x-ms-summary": "Conversion Rates"
        }
      }
    },
    "PairConversionResponse": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Result status (success or error)",
          "x-ms-summary": "Result"
        },
        "documentation": {
          "type": "string",
          "description": "Link to API documentation",
          "x-ms-summary": "Documentation URL"
        },
        "terms_of_use": {
          "type": "string",
          "description": "Link to terms of use",
          "x-ms-summary": "Terms of Use URL"
        },
        "time_last_update_unix": {
          "type": "integer",
          "format": "int32",
          "description": "Unix timestamp of last update",
          "x-ms-summary": "Last Update (Unix)"
        },
        "time_last_update_utc": {
          "type": "string",
          "description": "UTC timestamp of last update",
          "x-ms-summary": "Last Update (UTC)"
        },
        "time_next_update_unix": {
          "type": "integer",
          "format": "int32",
          "description": "Unix timestamp of next update",
          "x-ms-summary": "Next Update (Unix)"
        },
        "time_next_update_utc": {
          "type": "string",
          "description": "UTC timestamp of next update",
          "x-ms-summary": "Next Update (UTC)"
        },
        "base_code": {
          "type": "string",
          "description": "Base currency code",
          "x-ms-summary": "Base Currency"
        },
        "target_code": {
          "type": "string",
          "description": "Target currency code",
          "x-ms-summary": "Target Currency"
        },
        "conversion_rate": {
          "type": "number",
          "format": "double",
          "description": "Exchange rate from base to target",
          "x-ms-summary": "Conversion Rate"
        }
      }
    },
    "AmountConversionResponse": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Result status (success or error)",
          "x-ms-summary": "Result"
        },
        "documentation": {
          "type": "string",
          "description": "Link to API documentation",
          "x-ms-summary": "Documentation URL"
        },
        "terms_of_use": {
          "type": "string",
          "description": "Link to terms of use",
          "x-ms-summary": "Terms of Use URL"
        },
        "time_last_update_unix": {
          "type": "integer",
          "format": "int32",
          "description": "Unix timestamp of last update",
          "x-ms-summary": "Last Update (Unix)"
        },
        "time_last_update_utc": {
          "type": "string",
          "description": "UTC timestamp of last update",
          "x-ms-summary": "Last Update (UTC)"
        },
        "time_next_update_unix": {
          "type": "integer",
          "format": "int32",
          "description": "Unix timestamp of next update",
          "x-ms-summary": "Next Update (Unix)"
        },
        "time_next_update_utc": {
          "type": "string",
          "description": "UTC timestamp of next update",
          "x-ms-summary": "Next Update (UTC)"
        },
        "base_code": {
          "type": "string",
          "description": "Base currency code",
          "x-ms-summary": "Base Currency"
        },
        "target_code": {
          "type": "string",
          "description": "Target currency code",
          "x-ms-summary": "Target Currency"
        },
        "conversion_rate": {
          "type": "number",
          "format": "double",
          "description": "Exchange rate from base to target",
          "x-ms-summary": "Conversion Rate"
        },
        "conversion_result": {
          "type": "number",
          "format": "double",
          "description": "Converted amount in target currency",
          "x-ms-summary": "Conversion Result"
        }
      }
    },
    "EnrichedDataResponse": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Result status (success or error)",
          "x-ms-summary": "Result"
        },
        "documentation": {
          "type": "string",
          "description": "Link to API documentation",
          "x-ms-summary": "Documentation URL"
        },
        "terms_of_use": {
          "type": "string",
          "description": "Link to terms of use",
          "x-ms-summary": "Terms of Use URL"
        },
        "time_last_update_unix": {
          "type": "integer",
          "format": "int32",
          "description": "Unix timestamp of last update",
          "x-ms-summary": "Last Update (Unix)"
        },
        "time_last_update_utc": {
          "type": "string",
          "description": "UTC timestamp of last update",
          "x-ms-summary": "Last Update (UTC)"
        },
        "time_next_update_unix": {
          "type": "integer",
          "format": "int32",
          "description": "Unix timestamp of next update",
          "x-ms-summary": "Next Update (Unix)"
        },
        "time_next_update_utc": {
          "type": "string",
          "description": "UTC timestamp of next update",
          "x-ms-summary": "Next Update (UTC)"
        },
        "base_code": {
          "type": "string",
          "description": "Base currency code",
          "x-ms-summary": "Base Currency"
        },
        "target_code": {
          "type": "string",
          "description": "Target currency code",
          "x-ms-summary": "Target Currency"
        },
        "conversion_rate": {
          "type": "number",
          "format": "double",
          "description": "Exchange rate from base to target",
          "x-ms-summary": "Conversion Rate"
        },
        "target_data": {
          "type": "object",
          "description": "Enriched data about the target currency",
          "x-ms-summary": "Target Currency Data",
          "properties": {
            "locale": {
              "type": "string",
              "description": "Country/region associated with the currency",
              "x-ms-summary": "Locale"
            },
            "two_letter_code": {
              "type": "string",
              "description": "ISO 3166-1 alpha-2 country code",
              "x-ms-summary": "Country Code"
            },
            "currency_name": {
              "type": "string",
              "description": "Full name of the currency",
              "x-ms-summary": "Currency Name"
            },
            "currency_name_short": {
              "type": "string",
              "description": "Short name of the currency",
              "x-ms-summary": "Currency Name (Short)"
            },
            "display_symbol": {
              "type": "string",
              "description": "Unicode hex reference for currency symbol",
              "x-ms-summary": "Display Symbol (Hex)"
            },
            "flag_url": {
              "type": "string",
              "description": "URL to country flag image",
              "x-ms-summary": "Flag Image URL"
            }
          }
        }
      }
    },
    "HistoricalRatesResponse": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Result status (success or error)",
          "x-ms-summary": "Result"
        },
        "documentation": {
          "type": "string",
          "description": "Link to API documentation",
          "x-ms-summary": "Documentation URL"
        },
        "terms_of_use": {
          "type": "string",
          "description": "Link to terms of use",
          "x-ms-summary": "Terms of Use URL"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the historical data",
          "x-ms-summary": "Year"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of the historical data",
          "x-ms-summary": "Month"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of the historical data",
          "x-ms-summary": "Day"
        },
        "base_code": {
          "type": "string",
          "description": "Base currency code",
          "x-ms-summary": "Base Currency"
        },
        "conversion_rates": {
          "type": "object",
          "additionalProperties": {
            "type": "number"
          },
          "description": "Historical exchange rates for all available currencies",
          "x-ms-summary": "Conversion Rates"
        }
      }
    },
    "HistoricalAmountResponse": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Result status (success or error)",
          "x-ms-summary": "Result"
        },
        "documentation": {
          "type": "string",
          "description": "Link to API documentation",
          "x-ms-summary": "Documentation URL"
        },
        "terms_of_use": {
          "type": "string",
          "description": "Link to terms of use",
          "x-ms-summary": "Terms of Use URL"
        },
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the historical data",
          "x-ms-summary": "Year"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of the historical data",
          "x-ms-summary": "Month"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of the historical data",
          "x-ms-summary": "Day"
        },
        "base_code": {
          "type": "string",
          "description": "Base currency code",
          "x-ms-summary": "Base Currency"
        },
        "requested_amount": {
          "type": "number",
          "format": "double",
          "description": "The amount requested for conversion",
          "x-ms-summary": "Requested Amount"
        },
        "conversion_amounts": {
          "type": "object",
          "additionalProperties": {
            "type": "number"
          },
          "description": "Converted amounts for all available currencies",
          "x-ms-summary": "Conversion Amounts"
        }
      }
    },
    "SupportedCodesResponse": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Result status (success or error)",
          "x-ms-summary": "Result"
        },
        "documentation": {
          "type": "string",
          "description": "Link to API documentation",
          "x-ms-summary": "Documentation URL"
        },
        "terms_of_use": {
          "type": "string",
          "description": "Link to terms of use",
          "x-ms-summary": "Terms of Use URL"
        },
        "supported_codes": {
          "type": "array",
          "description": "Array of supported currency codes and names",
          "x-ms-summary": "Supported Codes",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Currency code and name pair [code, name]"
          }
        }
      }
    },
    "QuotaResponse": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Result status (success or error)",
          "x-ms-summary": "Result"
        },
        "documentation": {
          "type": "string",
          "description": "Link to API documentation",
          "x-ms-summary": "Documentation URL"
        },
        "terms_of_use": {
          "type": "string",
          "description": "Link to terms of use",
          "x-ms-summary": "Terms of Use URL"
        },
        "plan_quota": {
          "type": "integer",
          "format": "int32",
          "description": "Total API requests allowed per month",
          "x-ms-summary": "Plan Quota"
        },
        "requests_remaining": {
          "type": "integer",
          "format": "int32",
          "description": "Number of API requests remaining this period",
          "x-ms-summary": "Requests Remaining"
        },
        "refresh_day_of_month": {
          "type": "integer",
          "format": "int32",
          "description": "Day of month when quota refreshes",
          "x-ms-summary": "Refresh Day"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Always 'error' for error responses",
          "x-ms-summary": "Result"
        },
        "error-type": {
          "type": "string",
          "description": "Type of error (unsupported-code, malformed-request, invalid-key, inactive-account, quota-reached, no-data-available, plan-upgrade-required)",
          "x-ms-summary": "Error Type"
        }
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.exchangerate-api.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.exchangerate-api.com/terms"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Finance;Data"
    }
  ],
  "tags": [
    {
      "name": "Exchange Rates",
      "description": "Operations for retrieving exchange rate data"
    },
    {
      "name": "Currency Conversion",
      "description": "Operations for converting between currencies"
    },
    {
      "name": "Historical Data",
      "description": "Operations for accessing historical exchange rates"
    },
    {
      "name": "Account",
      "description": "Operations for managing your API account"
    }
  ]
}
