{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FINRA (Independent Publisher)",
    "description": "The FINRA Custom C/onnector is designed to integrate with the Financial Industry Regulatory Authority (FINRA) A/P/I, allowing seamless access to various market data endpoints. This connector supports OAuth2 authentication to ensure secure access to the FINRA data services. Users can retrieve detailed information on equity and fixed income markets, including weekly and monthly summaries, block summaries, and other relevant market data.",
    "contact": {
      "name": "Support",
      "url": "https://support.finra.org"
    }
  },
  "host": "api.finra.org",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/x-www-form-urlencoded"
  ],
  "produces": [
    "application/json",
    "text/plain"
  ],
  "securityDefinitions": {
    "oauth2-auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://ews.fip.finra.org/fip/rest/ews/oauth2/authorize",
      "tokenUrl": "https://ews.fip.finra.org/fip/rest/ews/oauth2/access_token",
      "scopes": {
        "read": "read"
      }
    }
  },
  "paths": {
    "/data/group/otcMarket/name/weeklySummary": {
      "post": {
        "summary": "Equity - Weekly Summary",
        "description": "Equity - Weekly Summary",
        "operationId": "Equity-WeeklySummary",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 5000,
            "description": "Limit of records to retrieve",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of weekly summaries",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error occurred",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ]
      }
    },
    "/data/group/otcMarket/name/monthlySummary": {
      "post": {
        "summary": "Equity - Monthly Summary",
        "operationId": "Equity-MonthlySummary",
        "description": "Equity - Monthly Summary",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 5000,
            "description": "Limit of records to retrieve",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of monthly summaries",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error occurred",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ]
      }
    },
    "/data/group/otcMarket/name/otcBlocksSummary": {
      "post": {
        "summary": "Equity - OTC Block Summary",
        "operationId": "Equity-OTCBlockSummary",
        "description": "Equity - OTC Block Summary",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "default": "application/json",
            "description": "Content-Type",
            "x-ms-summary": "Content-Type"
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "type": "integer",
            "default": 5000,
            "description": "Limit of records to retrieve",
            "x-ms-summary": "Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of OTC block summaries",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error occurred",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "error_code": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2-auth": []
          }
        ]
      }
    }
  },
  "security": [
    {
      "oauth2-auth": [
        "read"
      ]
    }
  ]
}
