{
  "swagger": "2.0",
  "info": {
    "title": "Lawlift",
    "description": "Lawlift is a company focused on document automation. The editor, which has become known for its ease of use, has won several awards. Customers are large and medium-sized companies, numerous big law firms, legal departments and notary offices. For more information visit : www.lawlift.com .",
    "version": "1.0.0",
    "contact": {
      "name": "Lawlift Support",
      "url": "https://help.lawlift.de",
      "email": "support@lawlift.com"
    }
  },
  "host": "app.lawlift.de",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://www.lawlift.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://www.lawlift.com/privacy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Collaboration;Productivity"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/webhooks/export": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "ownerName": {
              "type": "string",
              "description": "Publication owner name.",
              "x-ms-summary": "Owner Name",
              "x-ms-visibility": "important"
            },
            "ownerEmail": {
              "type": "string",
              "description": "Publication owner email address.",
              "title": "Owner Email",
              "x-ms-visibility": "important"
            },
            "respondentName": {
              "type": "string",
              "description": "Respondent name.",
              "x-ms-summary": "Respondent Name",
              "x-ms-visibility": "important"
            },
            "respondentEmail": {
              "type": "string",
              "description": "Respondent email address.",
              "title": "Respondent Email",
              "x-ms-visibility": "important"
            },
            "respondentLoginType": {
              "type": "string",
              "description": "Respondent login type.",
              "title": "Respondent Login Type",
              "x-ms-visibility": "important",
              "enum": [
                "lawlift",
                "microsoftSso",
                "domainWhitelisting"
              ]
            },
            "documents": {
              "type": "array",
              "title": "Exported Documents",
              "description": "Array containing all exported .docx files.",
              "x-ms-visibility": "important",
              "items": {
                "$ref": "#/definitions/Documents"
              }
            },
            "data": {
              "type": "object",
              "title": "Custom Data Object",
              "description": "Data object containing custom data of the template.",
              "x-ms-visibility": "advanced"
            },
            "dataJSON": {
              "format": "byte",
              "type": "string",
              "title": "Custom Data JSON file",
              "description": "Content of the custom data JSON file.",
              "x-ms-visibility": "advanced"
            },
            "answersJSON": {
              "format": "byte",
              "type": "string",
              "title": "Answers JSON file",
              "description": "Content of the answers JSON file.",
              "x-ms-visibility": "advanced"
            },
            "answersCSV": {
              "format": "byte",
              "type": "string",
              "title": "Answers CSV file",
              "description": "Content of the answers CSV file.",
              "x-ms-visibility": "advanced"
            },
            "folderPath": {
              "type": "string",
              "description": "Default /lawlift folder path.",
              "title": "Folder Path",
              "x-ms-visibility": "advanced"
            },
            "metadata": {
              "type": "object",
              "properties": {
                "publication": {
                  "type": "object",
                  "x-schema": {
                    "$ref": "#/definitions/PublicationMetadata"
                  }
                },
                "template": {
                  "type": "object",
                  "x-schema": {
                    "$ref": "#/definitions/TemplateMetadata"
                  }
                }
              },
              "title": "Metadata",
              "description": "Current flow metadata.",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "description": "Lawlift trigger for exporting .docx files."
      },
      "post": {
        "tags": [
          "Export Files"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message to be displayed to the flow initiator."
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "API Key": []
          }
        ],
        "summary": "When documents are exported",
        "operationId": "LawliftExportTrigger",
        "description": "Triggered when user exports the files",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "title": "CallbackUrl",
                  "x-ms-visibility": "internal"
                },
                "flowName": {
                  "type": "string",
                  "description": "Please add a unique Flow name which you will be able to select from within Lawlift app.",
                  "title": "Flow Name",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/notifications": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "ownerName": {
              "type": "string",
              "description": "Publication owner name.",
              "x-ms-summary": "Owner Name",
              "x-ms-visibility": "important"
            },
            "ownerEmail": {
              "type": "string",
              "description": "Publication owner email address.",
              "title": "Owner Email",
              "x-ms-visibility": "important"
            },
            "respondentName": {
              "type": "string",
              "description": "Respondent name.",
              "x-ms-summary": "Respondent Name",
              "x-ms-visibility": "important"
            },
            "respondentEmail": {
              "type": "string",
              "description": "Respondent email address.",
              "title": "Respondent Email",
              "x-ms-visibility": "important"
            },
            "respondentLoginType": {
              "type": "string",
              "description": "Respondent login type.",
              "title": "Respondent Login Type",
              "x-ms-visibility": "important",
              "enum": [
                "lawlift",
                "microsoftSso",
                "domainWhitelisting"
              ]
            },
            "language": {
              "type": "string",
              "description": "Respondent language.",
              "title": "Respondent Language",
              "x-ms-visibility": "advanced"
            },
            "documentLink": {
              "type": "string",
              "description": "Link to the document.",
              "title": "Document Link",
              "x-ms-visibility": "important"
            },
            "subject": {
              "type": "string",
              "description": "Lawlift generated email subject.",
              "title": "Email Subject",
              "x-ms-visibility": "advanced"
            },
            "htmlMessage": {
              "type": "string",
              "description": "Lawlift generated HTML email message.",
              "title": "HTML Email Message",
              "x-ms-visibility": "important"
            },
            "plainMessage": {
              "type": "string",
              "description": "Lawlift generated plain text email message.",
              "title": "Plain Text Email Message",
              "x-ms-visibility": "advanced"
            },
            "data": {
              "type": "object",
              "title": "Custom Data Object",
              "description": "Data object containing custom data of the template.",
              "x-ms-visibility": "advanced"
            },
            "dataJSON": {
              "format": "byte",
              "type": "string",
              "title": "Custom Data JSON file",
              "description": "Content of the custom data JSON file.",
              "x-ms-visibility": "advanced"
            },
            "answersJSON": {
              "format": "byte",
              "type": "string",
              "title": "Answers JSON file",
              "description": "Content of the answers JSON file.",
              "x-ms-visibility": "advanced"
            },
            "answersCSV": {
              "format": "byte",
              "type": "string",
              "title": "Answers CSV file",
              "description": "Content of the answers CSV file.",
              "x-ms-visibility": "advanced"
            },
            "folderPath": {
              "type": "string",
              "description": "Default /lawlift folder path.",
              "title": "Folder Path",
              "x-ms-visibility": "advanced"
            },
            "metadata": {
              "type": "object",
              "properties": {
                "publication": {
                  "type": "object",
                  "x-schema": {
                    "$ref": "#/definitions/PublicationMetadata"
                  }
                },
                "template": {
                  "type": "object",
                  "x-schema": {
                    "$ref": "#/definitions/TemplateMetadata"
                  }
                }
              },
              "title": "Metadata",
              "description": "Current flow metadata.",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "description": "Lawlift trigger for sending notifications."
      },
      "post": {
        "tags": [
          "Send Notifications"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "The message to be displayed to the flow initiator."
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "API Key": []
          }
        ],
        "summary": "When a questionnaire is submitted",
        "operationId": "LawliftNotificationTrigger",
        "description": "Triggered when user completes the questionnaire.",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "callbackUrl": {
                  "type": "string",
                  "description": "callbackUrl",
                  "x-ms-notification-url": true,
                  "title": "CallbackUrl",
                  "x-ms-visibility": "internal"
                },
                "flowName": {
                  "type": "string",
                  "description": "Please add a unique Flow name which you will be able to select from within Lawlift app.",
                  "title": "Flow Name",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "callbackUrl"
              ]
            }
          }
        ]
      }
    },
    "/webhooks/delete/{webhookId}": {
      "delete": {
        "x-ms-visibility": "internal",
        "tags": [
          "Delete Flow"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "description": "Deletes a Lawlift webhook.",
        "operationId": "DeleteTrigger",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Webhook Id.",
            "required": true,
            "type": "string",
            "x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "flowName": {
                  "type": "string",
                  "description": "Flow name.",
                  "title": "Flow Name",
                  "x-ms-visibility": "important",
                  "x-ms-summary": "Flow Name"
                }
              }
            }
          }
        ],
        "summary": "Delete Webhook"
      }
    }
  },
  "definitions": {
    "Documents": {
      "type": "object",
      "description": "Content array of the exported files.",
      "x-ms-visibility": "advanced",
      "properties": {
        "fileContent": {
          "format": "byte",
          "type": "string",
          "title": "File Content",
          "description": "Content of the exported file.",
          "x-ms-visibility": "advanced"
        },
        "fileName": {
          "type": "string",
          "description": "File name of the exported file.",
          "title": "File Name",
          "x-ms-visibility": "advanced"
        },
        "documentMetadata": {
          "type": "object",
          "description": "Document metadata.",
          "x-ms-visibility": "advanced",
          "x-schema": {
            "$ref": "#/definitions/DocumentMetadata"
          }
        }
      }
    },
    "TemplateMetadata": {
      "type": "object",
      "description": "Template metadata.",
      "x-ms-visibility": "advanced",
      "properties": {
        "name": {
          "type": "string",
          "description": "Template name.",
          "title": "Template Name",
          "x-ms-visibility": "advanced"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "title": "Template created timestamp",
          "description": "The timestamp that the template was created.",
          "x-ms-visibility": "advanced"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "title": "Template updated timestamp",
          "description": "The timestamp that the template was updated.",
          "x-ms-visibility": "advanced"
        },
        "version": {
          "type": "integer",
          "description": "Template version",
          "title": "Template Version",
          "x-ms-visibility": "advanced"
        },
        "templateId": {
          "description": "Unique Lawlift Template ID.",
          "title": "Template ID",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "persistentId": {
          "description": "Unique Lawlift persistent ID.",
          "title": "Persistent ID",
          "x-ms-visibility": "advanced",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Template description.",
          "title": "Description",
          "x-ms-visibility": "advanced"
        },
        "languages": {
          "type": "object",
          "description": "Template languages.",
          "x-ms-visibility": "advanced",
          "properties": {
            "original": {
              "type": "string",
              "description": "Original language.",
              "title": "Original Language",
              "x-ms-visibility": "advanced"
            },
            "translated": {
              "type": "string",
              "title": "Translated Language",
              "description": "Translated language.",
              "x-ms-visibility": "advanced"
            }
          }
        },
        "tags": {
          "description": "Template tags.",
          "title": "Template Tags",
          "x-ms-visibility": "advanced",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DocumentMetadata": {
      "type": "object",
      "description": "Publication metadata.",
      "x-ms-visibility": "advanced",
      "properties": {
        "name": {
          "type": "string",
          "description": "Document name.",
          "title": "Document Name",
          "x-ms-visibility": "advanced"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "title": "Document created timestamp",
          "description": "The timestamp that the document was created.",
          "x-ms-visibility": "advanced"
        }
      }
    },
    "PublicationMetadata": {
      "type": "object",
      "description": "Publication metadata.",
      "x-ms-visibility": "advanced",
      "properties": {
        "name": {
          "type": "string",
          "description": "Publication name.",
          "title": "Publication Name",
          "x-ms-visibility": "advanced"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "title": "Publication created timestamp",
          "description": "The timestamp that the publication was created.",
          "x-ms-visibility": "advanced"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "title": "Publication updated timestamp",
          "description": "The timestamp that the publication was updated.",
          "x-ms-visibility": "advanced"
        },
        "documentsCount": {
          "type": "integer",
          "description": "Number of documents generated based on this publication.",
          "title": "Document Count",
          "x-ms-visibility": "advanced"
        },
        "version": {
          "type": "integer",
          "description": "Publication version.",
          "title": "Publication Version",
          "x-ms-visibility": "advanced"
        },
        "tags": {
          "description": "Publication tags.",
          "title": "Publication Tags",
          "x-ms-visibility": "advanced",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "settings": {
          "type": "object",
          "properties": {
            "ipWhitelisting": {
              "type": "boolean",
              "title": "Ip Whitelisting"
            },
            "readOnly": {
              "type": "boolean",
              "title": "Read Only Documents"
            },
            "singleSignOn": {
              "type": "boolean",
              "title": "Single Sign On"
            },
            "isolateQuestionnaire": {
              "type": "boolean",
              "title": "Questionnaire"
            },
            "domainWhitelisting": {
              "type": "boolean",
              "title": "Domain Whitelisting"
            }
          }
        },
        "complitionRate": {
          "type": "integer",
          "title": "Degree of completion",
          "description": "Percentage of answered questions.",
          "x-ms-visibility": "advanced"
        },
        "complitionTime": {
          "type": "integer",
          "title": "Completion Time",
          "description": "Time (in seconds) needed to answer the questions and submit the document.",
          "x-ms-visibility": "advanced"
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Api-Key-PA"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}